<header data-type="book">
<h1>金匱要略方論本義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>魏荔彤</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1720">公元1720年</data></dd></div>
<div><dt>底本</dt><dd>清乾隆間鄉魏氏家刊本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀003415–003418）</dd></div>
</dl>
</header>
