<header data-type="book">
<h1>瀕湖炮炙法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李時珍</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1518/1593">公元1518至1593年</data></dd></div>
</dl>
</header>

<h1>卷一·玉石類</h1>

<h2>白堊</h2>
<p>〔斆曰〕凡使勿用色青並底白者，搗篩末，以鹽湯飛過，曝乾用，則免結澀人腸也。每堊二兩，用鹽一分。〔大明曰〕入藥燒用，不入湯飲。</p>

<h2>梁上塵</h2>
<p>〔斆曰〕凡梁上塵，須去煙火大遠，高堂殿上者，拂下，篩淨末用。〔時珍曰〕凡用倒掛塵，燒令煙盡，篩取末入藥。雷氏所說，似是梁上灰塵，今人不見用。</p>

<h2>銀屑</h2>
<p>〔弘景曰〕醫方鎮心丸用之，不可正服。為屑，當以水銀研令消也。〔恭曰〕方家用銀屑，取見成銀箔，以水銀硝之為泥，合硝石及鹽研為粉，燒出水銀，淘去鹽石，為粉極細，用之乃佳，不得只磨取屑耳。〔時珍曰〕入藥只用銀箔易細，若用水銀鹽硝制者，反有毒矣。《龍木論》謂之銀液。又有錫箔可偽，宜辨之。</p>

<h2>赤銅屑</h2>
<p>〔時珍曰〕即打銅落下屑也。或以紅銅火煅水淬，亦自落下。以水淘淨，用好酒入沙鍋內炒見火星，取研末用。</p>

<h2>自然銅</h2>
<p>〔斆曰〕採得石髓鉛捶碎，同甘草湯煮一伏時，至明漉出，攤令乾，入臼中搗了，重篩過，以醋浸一宿，至明，用六一泥泥瓷盒子，盛二升，文武火中養三日夜，才幹用蓋蓋了，火煅兩伏時，去土研如粉用。凡修事五兩，以醋兩鎰為度。〔時珍曰〕今人只以火煅醋淬七次，研細水飛過用。</p>

<h2>鉛</h2>
<p>〔時珍曰〕凡用以鐵銚熔化瀉瓦上，濾去渣腳，如此數次收用。其黑錫灰，則以鉛沙取黑灰。白錫灰，不入藥。</p>

<h2>鉛霜</h2>
<p>〔頌曰〕鉛霜，用鉛雜水銀十五分之一合煉作片，置醋甕中密封，經久成霜。〔時珍曰〕以鉛打成錢，穿成串，瓦盆盛生醋，以串橫盆中，離醋三寸，仍以瓦盆覆之，置陰處，候生霜刷下，仍合住。</p>

<h2>密陀僧</h2>
<p>〔斆曰〕凡使搗細，安瓷鍋中，重紙袋盛柳蛀末焙之，次下東流水浸滿，火煮一伏時，去柳末、紙袋，取用。</p>

<h2>鐵華粉</h2>
<p>〔志曰〕作鐵華粉法：取鋼煅作葉，如笏或團，平面磨錯，令光淨，以鹽水灑之，於醋甕中，陰處埋之，一百日鐵上衣生，即成粉矣。刮取細末搗篩，入乳缽研如面，和合諸藥為丸散，此鐵之精華，功用強於鐵粉也。〔大明曰〕懸於醬瓿上生霜者，名鐵胤粉。淘去粗滓鹹味，烘乾用。</p>

<h2>玉屑</h2>
<p>〔弘景曰〕玉屑是以玉為屑，非別一物也。仙經服㲄玉，有搗如米粒，乃以苦酒輩，消令如泥，亦有合為漿者，凡服玉皆不得用已成器物，及塚中玉璞。〔恭曰〕餌玉當以消作水者為佳。屑如麻豆服者，取其精潤臟腑，滓穢當完出也。又為粉服者，即使人淋壅。屑如麻豆，其義殊深。化水法，在淮南三十六水法中。</p>

<h2>玉泉</h2>
<p>〔青霞子曰〕作玉漿法：玉屑一升，地榆草一升，稻米一升，取白露二升，銅器中煮，米熟絞汁，玉屑化為水，以藥納入，所謂神仙玉漿也。〔藏器曰〕以玉投朱草汁，化成醴。朱草，瑞草也。術家取蟾蜍膏軟玉如泥，以苦酒消之成水。</p>

<h2>雲母</h2>
<p>〔斆曰〕凡使，黃黑者厚而頑，赤色者，經婦人手把者，並不中用。須要光瑩如冰色者為上。每一斤，用小地膽草、紫背天葵、生甘草、地黃汁各一鎰，乾者細銼，濕者取汁了，於瓷堝中安置，下天池水三鎰，著火煮七日夜，水火勿令失度，雲母自然成碧玉漿在堝底，卻以天池水猛投其中，攪之，浮如蝸涎者即去之。如此三度淘淨，取沉香一兩搗作末，以天池水煎沉香湯三升以來，分為三度，再淘雲母漿了，日曬任用。〔抱朴子曰〕服五云之法；或以桂蔥水玉化之為水，或以露於鐵器中，以玄水熬之為水，或以硝石合於筒中埋之為水，或以蜜溲為酪，或以秋露漬之百日，韋囊挻以為粉，或以無顛草樗血合餌之。服至一年百病除，三年反老成童，五年役使鬼神。〔胡演曰〕煉粉法：八九月間取雲母，以礬石拌勻，入瓦罐內封口，三伏時則自柔軟，去礬，次日取百草頭上露水漬之，百日，韋囊挻以為粉。〔時珍曰〕道書言鹽湯煮雲母可為粉。又云：雲母一斤，鹽一斗漬之，銅器中蒸一日，臼中搗成粉。又云：雲母一斤，白鹽一升，同搗細，入重布袋挼之，沃令鹽味盡，懸高處風吹，自然成粉。</p>

<h2>紫石英</h2>
<p>〔時珍曰〕凡入丸散，用火煅醋淬七次，碾末水飛過，曬乾入藥。</p>

<h2>丹砂</h2>
<p>〔斆曰〕凡修事硃砂，靜室焚香齋沐後，取砂以香水浴過，拭乾，碎搗之，缽中更研三伏時。取一瓷鍋子，每硃砂五兩，用甘草二兩，紫背天葵一鎰，五方草一鎰，著砂上下，以東流水煮三伏時，勿令水火闕。去藥，以東流水淘淨干曬，又研如粉。用小瓷瓶入青芝草、山須草半兩蓋之，下十斤火煅，從巳至子方歇，候冷取出，細研用。如要服，則以熬蜜丸細麻子大，空腹服一丸。〔時珍曰〕今法惟取好砂研末，以流水飛三次用。其末砂多雜石末、鐵屑，不堪入藥。又法：以絹袋盛砂，用蕎麥灰淋汁，煮三伏時取出，流水浸洗過，研粉飛曬用。又丹砂以石膽、硝石和埋土中，可化為水。</p>

<h2>水銀</h2>
<p>〔斆曰〕凡使勿用草汞並舊朱漆中者，經別藥制過者，在屍中過者，半生半死者。其硃砂中水銀色微紅，收得後用葫蘆貯之，免遺失。若先以紫背天葵並夜交藤自然汁二味同煮一伏時，其毒自退。若修十兩，二汁各七鎰。</p>

<h2>水銀粉</h2>
<p>〔時珍曰〕升煉輕粉法：用水銀一兩，白礬二兩，食鹽一兩，同研不見星，鋪於鐵器內，以小烏盆覆之。篩灶灰，鹽水和，封固盆口。以炭火打二炷香取開，則粉升於盆上矣。其白如雪，輕盈可愛。一兩汞，可升粉八錢。又法：水銀一兩，皂礬七錢，白鹽五錢，同研，如上升煉。又法：先以皂礬四兩，鹽一兩，焰硝五錢，如炒黃為曲。水銀一兩，又曲二兩，白礬二錢，研勻，如上升煉。《海客論》云：諸礬不與水銀相合，而綠礬和鹽能制水銀成粉，何也？蓋水銀者金之魂魄，綠礬者鐵之精華，二氣同根，是以暫製成粉。無鹽則色不白。</p>

<h2>粉霜</h2>
<p>〔時珍曰〕升煉法：用真汞粉一兩，入瓦罐內令勻。以燈盞仰蓋罐口，鹽泥塗縫。先以小炭火鋪罐底四周圍，以水濕紙不住手在燈盞內擦，勿令間斷。逐漸加火，至罐頸住火。冷定取出，即成霜如白蠟。按《外臺秘要》載古方崔氏造水銀霜法云：用水銀十兩，石硫黃十兩，各以一鐺熬之。良久銀熱黃消，急傾入一鐺，少緩即不相入，仍急攪之。良久硫成灰，銀不見，乃下伏龍肝末十兩，鹽末一兩，攪之。別以鹽末鋪鐺底一分，入藥在上，又以鹽末蓋面一分，以瓦盆覆之，鹽土和泥塗縫，炭火煅一伏時，先文後武，開盆刷下，凡一轉。後分舊土為四分，以一分和霜，入鹽末二兩，如前法飛之訖。又以土一分，鹽末二兩，和飛如前，凡四轉。土盡更用新土，如此七轉，乃成霜用之。此法後人罕知，故附於此云。</p>

<h2>靈砂</h2>
<p>〔慎微曰〕靈砂，用水銀一兩，硫黃六銖，細研炒作青砂頭，後入水火既濟爐，抽之如束針紋者，成就也。〔時珍曰〕按胡演丹藥秘訣云：升靈砂法：用新鍋安逍遙爐上，蜜揩鍋底，文火下燒，入硫黃二兩熔化，投水銀半斤，以鐵匙急攪，作青砂頭。如有焰起，噴醋解之。待汞不見星，取出細研，盛入水火鼎內，鹽泥固濟，下以自然火升之，乾水十二盞為度，取出如束針紋者，成矣。庚辛玉冊云：靈砂者，至神之物也。硫汞制而成形，謂之丹基。奪天地造化之功，竊陰陽不測之妙。可以變化五行，煉成九還。其未升鼎者，謂之青金丹頭；已升鼎者，乃曰靈砂。靈砂有三：以一伏時周天火而成者，謂之金鼎靈砂；以九度抽添用周天火而成者，謂之九轉靈砂；以地數三十日炒煉而成者，謂之醫家老火靈砂。並宜桑灰淋醋煮伏過用，乃良。</p>

<h2>雄黃</h2>
<p>〔斆曰〕每雄黃三兩，以甘草、紫背天葵、地膽、碧稜花各五兩，細銼，東流水入坩堝中，煮三伏時，漉出，搗如粉，水飛澄去黑者，曬乾再研用。其內有劫鐵石，又號赴矢黃，能劫於鐵，並不入藥用。〔思邈曰〕凡服食用武都雄黃，須油煎九日九夜，乃可入藥；不爾有毒，慎勿生用。〔時珍曰〕一法：用米醋入蘿蔔汁煮乾用良。〔抱朴子曰〕餌法：或以蒸煮，或以硝石化為水，或以豬脂裹蒸之於赤土下，或以松脂和之，或以三物煉之。引之如布，白如冰。服之令人長生，除百病，殺三蟲，伏火者，可點銅成金，變銀成金。</p>

<h2>雌黃</h2>
<p>〔斆曰〕凡修事，勿令婦人、雞、犬、新犯淫人、有患人、不男人、非形人，及曾是刑獄臭穢之地；犯之則雌黃黑如鐵色，不堪用也，反損人壽。每四兩，用天碧枝、和陽草、粟遂子草各五兩，入瓷鍋中煮三伏時，其色如金汁，一垛在鍋底下。用東流水猛投於中，如此淘三度，去水拭乾，臼中搗篩，研如塵用。又曰：雌得芹花，立便成庚。芹花一名立起草，形如芍藥，煮雌能住火也。</p>

<h2>石膏</h2>
<p>〔斆曰〕凡使，石臼中搗成粉，羅過，生甘草水飛過，澄曬篩研用。〔時珍曰〕古法惟打碎如豆大，絹包入湯煮之。近人因其性寒，火煅過用，或糖拌炒過，則不妨脾胃。</p>

<h2>滑石</h2>
<p>〔斆曰〕凡用白滑石，先以刀刮淨研粉，以牡丹皮同煮一伏時。去牡丹皮，取滑石，以東流水淘過，曬乾用。</p>

<h2>五色石脂</h2>
<p>〔斆曰〕凡使赤脂，研如粉，新汲水飛過三度，曬乾用。〔時珍曰〕亦有火煅水飛者。</p>

<h2>爐甘石</h2>
<p>〔時珍曰〕凡用爐甘石，以炭火煅紅，童子小便淬七次，水洗淨，研粉，水飛過，曬用。</p>

<h2>井泉石</h2>
<p>〔禹錫曰〕凡用，細研水飛過。不爾，令人淋。</p>

<h2>石鐘乳</h2>
<p>〔斆曰〕凡使勿用頭粗厚並尾大者，為孔公石，不用。色黑及經大火驚過，並久在地上收者，曾經藥物制者，並不得用。須要鮮明、薄而有光潤者，似鵝翎筒子為上，有長五六寸者。凡修事法：鍾乳八兩，用沉香、零陵香、藿香、甘松、白茅各一兩，水煮過，再煮汁，方用煮乳，一伏時漉出。以甘草、紫背天葵各二兩同煮，漉出拭乾，緩火焙之，入臼杵粉，篩過入缽中，令有力少壯者二三人不住研，三日三夜勿歇。然後以水飛澄，過絹籠，於日中曬乾，入缽再研二萬遍，乃以瓷盒收之。〔慎微曰〕太清經煉鍾乳法，取好細末置金銀器中，瓦一片密蓋，勿令泄氣，蒸之，自然化作水也。李補闕煉乳法見後。</p>

<h2>陽起石</h2>
<p>〔大明曰〕凡入藥燒後水煅用之，凝白者佳。〔時珍曰〕凡用火中煅赤，酒淬七次，研細水飛過，日乾。亦有用燒酒浸過，同樟腦入罐升煉，取粉用者。</p>

<h2>磁石</h2>
<p>〔斆曰〕凡修事一斤，用五花皮一鎰，地榆一鎰，故綿十五兩，三件並銼。於石上捶，碎作二三十塊。將石入瓷瓶中，下草藥，以東流水煮三日夜，漉出拭乾，布裹再捶細，乃碾如塵，水飛過再碾用。〔宗奭曰〕入藥須火燒醋淬，研末水飛。或醋煮三日夜。</p>

<h2>代赭石</h2>
<p>〔斆曰〕凡使研細，以臘水重重飛過，水面上有赤色如薄雲者去之。乃用細茶腳湯煮一伏時，取出又研一萬匝。以淨鐵鐺燒赤，下白蜜蠟一兩，待化投新汲水沖之，再煮一二十沸，取出曬乾用。〔時珍曰〕今人惟煅赤以醋淬三次或七次，研，水飛過用，取其相制，併為肝經血分引用也。《相感志》云：代赭以酒醋煮之，插鐵釘於內，扇之成汁。</p>

<h2>禹餘糧</h2>
<p>〔弘景曰〕凡用，細研水洮，取汁澄之，勿令有沙土也。〔斆曰〕見太一下。</p>

<h2>太一餘糧</h2>
<p>〔斆曰〕凡修事，用黑豆五合，黃精五合，水二斗，煮取五升，置瓷鍋中，下餘糧四兩煮之，旋添，汁盡為度，其藥氣自然香如新米，搗了，又研一萬杵，方用。</p>

<h2>曾青</h2>
<p>〔斆曰〕凡使勿用夾石及銅青。每一兩要紫背天葵、甘草、青芝草三件，乾溼各一鎰，細銼，放瓷鍋內，安青於中，東流水二鎰，緩緩煮之，五晝夜，勿令水火失時。取出以東流水浴過，研乳如粉用。</p>

<h2>砒石</h2>
<p>〔斆曰〕凡使用，以小瓷瓶盛，後入紫背天葵、石龍芮二味，火煅從巳至申，便用甘草水浸，從申至子，出拭乾，入瓶再煅，別研三萬下用。〔時珍曰〕醫家皆言生砒經見火則毒甚，而雷氏治法用火煅，今所用多是飛煉者，蓋皆欲求速效，不惜其毒也，曷若用生者為愈乎？</p>

<h2>土黃</h2>
<p>〔時珍曰〕用砒石二兩，木鱉子仁、巴豆仁各半兩，硇砂二錢，為末，用木鱉子油、石腦油和成一塊，油裹，埋土坑內，四十九日取出，劈作小塊，瓷器收用。</p>

<h2>礞石</h2>
<p>〔時珍曰〕用大坩堝一個，以礞石四兩打碎，入硝石四兩拌勻。炭火十五斤簇定，煅至硝盡，其石色如金為度。取出研末，水飛去硝毒，曬乾用。</p>

<h2>花乳石</h2>
<p>〔時珍曰〕凡入丸散，以罐固濟，頂火煅過，出火毒，研細水飛曬乾用。</p>

<h2>金牙石</h2>
<p>〔大明曰〕入藥燒赤，去粗乃用。</p>

<h2>蛇黃</h2>
<p>〔大明曰〕入藥燒赤醋淬三、四次，研末水飛用。</p>

<h2>食鹽</h2>
<p>〔時珍曰〕凡鹽，人多以礬、硝、灰、石之類雜之。入藥須以水化，澄去腳滓，煎煉白色，乃良。</p>

<h2>凝水石</h2>
<p>〔斆曰〕凡使，須用生薑自然汁煮乾研粉用。每十兩，用生薑一鎰也。</p>

<h2>玄明粉</h2>
<p>〔時珍曰〕製法：用白淨朴硝十斤，長流水一石，煎化去滓，星月下露一夜，去水取硝。每一斗，用蘿蔔一斤切片，同煮熟濾淨，再露一夜取出。每硝一斤，用甘草一兩，同煎去滓，再露一夜取出。以大沙罐一個，築實盛之，鹽泥固濟厚半寸，不蓋口，置爐中，以炭火十斤，從文至武煅之。待沸定，以瓦一片蓋口，仍前固濟，再以十五斤頂火煅之。放冷一伏時，取出，隔紙安地上，盆覆三日出火毒，研末。每一斤，入生甘草末一兩，炙甘草末一兩，和勻，瓶收用。</p>

<h2>硝石</h2>
<p>〔大明曰〕真硝石，柳枝湯煎三周時，如湯少，即加熱者，伏火即止。〔斆曰〕凡使硝石，先研如粉，用雞腸菜、柏子仁共二十五個，和作一處，丸如小帝珠子，以瓷瓶子於五斤火中煅赤，投硝石四兩於瓶內，連投藥丸入瓶，自然伏火也。〔抱朴子曰〕能消柔五金，化七十二石為水。制之須用地蓮子、豬牙皂角、苦參、南星、巴豆、漢防己、晚蠶砂。〔時珍曰〕熔化，投甘草入內，即伏火。</p>

<h2>硇砂</h2>
<p>〔宗奭曰〕凡用須水飛過，去塵穢，入瓷器中，重湯煮乾，則殺其毒。〔時珍曰〕今時人多用水飛淨，醋煮乾如霜，刮下用之。</p>

<h2>石硫黃</h2>
<p>〔斆曰〕凡使勿用青赤色及半白半青、半赤半黑者。自有黃色，內瑩淨似物命者，貴也。凡用四兩。先以龍尾蒿自然汁一鎰，東流水三鎰，紫背天葵汁一鎰，粟逐子莖汁一鎰，四件合之攪令勻。一坩堝，用六乙泥固濟底下，將硫黃碎之，入鍋中，以前汁旋旋添入，火煮汁盡為度。再以百部末十兩，柳蚛末二斤，一簇草二斤，細銼，以東流水同硫黃煮二伏時。取出，去諸藥，用熟甘草湯洗了，入缽研二萬匝用。〔時珍曰〕凡用硫黃，入丸散用，須以蘿蔔剜空，入硫在內，合定，稻糠火煨熟，去其臭氣；以紫背浮萍同煮過，消其火毒；以皂莢湯淘之，去其黑漿。一法：打碎，以絹袋盛，用無灰酒煮三伏時用。又硝石能化硫為水，以竹筒盛硫埋馬糞中一月亦成水，名硫黃液。</p>

<h2>礬石</h2>
<p>〔斆曰〕凡使白礬石，以瓷瓶盛，於火中煅令內外通赤，用鉗揭起蓋，旋安石蜂巢入內燒之。每十兩用巢六兩，燒盡為度。取出放冷，研粉，以紙裹，安五寸深土坑中一宿，取用。又法：取光明如水晶，酸、咸、澀味全者，研粉。以瓷瓶用六一泥泥之，待乾，入粉三升在內，旋旋入五方草、紫背天葵各自然汁一鎰，下火逼令藥汁干，蓋了瓶口，更泥上下，用火一百斤煅之。從巳至未，去火取出，其色如銀，研如輕粉用之。〔時珍曰〕今人但煅干汁用，謂之枯礬，不煅者為生礬。若入服食，須循法度。按九鼎神丹秘訣，煉礬石入服食法：用新桑合槃一具。於密室淨掃，以火燒地令熱，灑水於上，或灑苦酒於上，乃布白礬於地上，以槃覆之，四面以灰擁定。一日夜，其石精皆飛於槃上，掃取收之。未盡者，更如前法，數遍乃止，此為礬精。若欲作水，即以掃下礬精一斤，納三年苦酒一斗中清之，號曰礬華，百日彌佳。若急用之，七日亦可。</p>

<h2>風化硝</h2>
<p>〔時珍曰〕以芒硝於風日中消盡水氣，自成輕飄白粉也。或以瓷瓶盛，掛檐下，待硝滲出瓶外，刮下收之。別有甜瓜盛硝滲出刮收者，或黃牯牛膽囊收硝刮取，皆非甜硝也。</p>

<h1>卷二·草類</h1>

<h2>甘草</h2>
<p>〔雷斆曰〕凡使須去頭尾尖處，其頭尾吐人。每用切長三寸，掰作六七片，入瓷器中盛，用酒浸蒸，從巳至午，取出曝乾銼細用。一法：每斤用酥七兩塗炙，酥盡為度。又法：先炮令內外赤黃用。〔時珍曰〕方書炙甘草皆用長流水蘸濕炙之，至熟刮去赤皮，或用漿水炙熟，未有酥炙、酒蒸者。大抵補中宜炙用，瀉火宜生用。</p>

<h2>黃耆</h2>
<p>〔斆曰〕凡使勿用木耆草，真相似，只是生時葉短並根橫也。須去頭上皺皮，蒸半日，擘細，於槐砧上銼用。〔時珍曰〕今人但捶扁，以蜜水塗炙數次，以熟為度。亦有以鹽湯潤透，器盛，於湯瓶蒸熟切用者。</p>

<h2>人參</h2>
<p>〔弘景曰〕人參易蛀蚛，唯納新器中密封，可經年不壞。〔炳曰〕人參頻見風日則易蛀，惟用盛過麻油瓦罐，泡淨焙乾，入華陰細辛與參相間收之，密封，可留經年。一法：用淋過灶灰曬乾，罐收亦可。〔李言聞曰〕人參生時背陽，故不喜見風日。凡生用宜㕮咀，熟用宜隔紙焙之，或醇酒潤透㕮咀焙熟用，並忌鐵器。</p>

<h2>桔梗</h2>
<p>〔斆曰〕凡使勿用木梗，真似桔梗，只是咬之腥澀不堪。凡用桔梗，須去頭上尖硬二、三分以來、並兩畔附枝。於槐砧上細銼，用生百合搗膏，投水中浸一伏時濾出，緩火熬令乾用。每桔梗四兩，用百合二兩五錢。〔時珍曰〕今但刮去浮皮，米泔水浸一夜，切片微炒用。</p>

<h2>黃精</h2>
<p>〔斆曰〕凡採得以溪水洗淨蒸之，從巳至子，薄切曝乾用。〔頌曰〕羊公服黃精法：二月、三月採根，入地八、九寸為上。細切一石，以水二石五斗，煮去苦味，漉出，囊中壓取汁；澄清再煎，如膏乃止。以炒黑黃豆末，相和得所，捏作餅子，如錢大。初服二枚，日益之。亦可焙乾篩末，水服。〔詵曰〕餌黃精法：取甕子去底，釜內安置得所，入黃精令滿，密蓋，蒸至氣溜，即曝之。如此九蒸九曝。若生則刺人咽喉。若服生者，初時只可一寸半，漸漸增之，十日不食，服止三尺五寸。三百日後，盡見鬼神，久必昇天。根、葉、花、實皆可食之，但以相對者是正，不對者名偏精也。</p>

<h2>葳蕤</h2>
<p>〔斆曰〕凡使勿用黃精並鉤吻，二物相似。葳蕤節上有鬚毛，莖斑，葉尖處有小黃點，為不同。採得以竹刀刮去節皮，洗淨，以蜜水浸一宿，蒸了焙乾用。</p>

<h2>知母</h2>
<p>〔斆曰〕凡使，先於槐砧上銼細，焙乾，木臼杵搗，勿犯鐵器。〔時珍曰〕凡用，揀肥潤里白者，去毛切。引經上行則用酒浸焙乾，下行則用鹽水潤焙。</p>

<h2>肉蓯蓉</h2>
<p>〔斆曰〕凡使先須清酒浸一宿，至明以棕刷去沙土浮甲，劈破中心，去白膜一重，如竹絲草樣。有此，能隔人心前氣不散，令人上氣也。以甑蒸之，從午至酉取出，又用酥炙得所。</p>

<h2>赤箭</h2>
<p>〔斆曰〕修事天麻十兩，銼安於瓶中。用蒺藜子一鎰，緩火熬焦，蓋於天麻上，以三重紙封系，從巳至未取出。蒺藜炒過，蓋系如前，凡七遍。用布拭上氣汗，刀劈焙乾，並搗用。若用御風草，亦同此法。〔時珍曰〕此乃治風痹藥，故如此修事也。若治肝經風虛，惟洗淨，以濕紙包，於糠火中煨熟，取出切片，酒浸一宿，焙乾用。</p>

<h2>蒼朮</h2>
<p>〔大明曰〕用術以米泔浸一宿，入藥。〔宗奭曰〕蒼朮辛烈，須米泔浸洗，再換泔浸二日，去上粗皮用。〔時珍曰〕蒼朮性燥，故以糯米泔浸去其油，切片焙乾用。亦有用脂麻同炒，以制其燥者。</p>

<h2>狗脊</h2>
<p>〔斆曰〕凡修事，火燎去須，細銼了，酒浸一夜，蒸之，從巳至申，取出曬乾用。〔時珍曰〕今人惟銼炒去毛須用。</p>

<h2>巴戟天</h2>
<p>〔斆曰〕凡使須用枸杞子湯浸一宿，待稍軟漉出，再酒浸一伏時，漉出，同菊花熬焦黃，去菊花，以布拭乾用。〔時珍曰〕今法：惟以酒浸一宿，銼焙入藥。若急用，只以溫水浸軟去心也。</p>

<h2>遠志</h2>
<p>〔斆曰〕凡使須去心，否則令人煩悶。仍用甘草湯浸一宿，曝乾或焙乾用。</p>

<h2>淫羊藿</h2>
<p>〔斆曰〕凡使時呼仙靈脾，以夾刀夾去葉四畔花枝，每一斤用羊脂四兩拌炒，待脂盡為度。</p>

<h2>仙茅</h2>
<p>〔斆曰〕採得以清水洗，刮去皮，於槐砧上用銅刀切豆許大，以生稀布袋盛，於烏豆水中浸一宿，取出用酒拌濕蒸之，從巳至亥，取出曝乾。勿犯鐵器及牛乳，斑人鬢須。〔大明曰〕彭祖單服法：以竹刀刮切，糯米泔浸去赤汁出毒，後無妨損。</p>

<h2>玄參</h2>
<p>〔斆曰〕凡採得後，須用蒲草重重相隔，入甑蒸兩伏時，曬乾用。勿犯銅器，餌之噎人喉，喪人目。</p>

<h2>紫草</h2>
<p>〔斆曰〕凡使，每一斤用蠟三兩溶水拌蒸之，待水乾，取去頭並兩畔髭，細銼用。</p>

<h2>黃連</h2>
<p>〔斆曰〕凡使以布拭去肉毛，用漿水浸二伏時，漉出，於柳木火上焙乾用。〔時珍曰〕五臟六腑皆有火，平則治，動則病，故有君火相火之說，其實一氣而已。黃連入手少陰心經，為治火之主藥：治本臟之火，則生用之；治肝膽之實火，則以豬膽汁浸炒；治肝膽之虛火，則以醋浸炒；治上焦之火，則以酒炒；治中焦之火，則以薑汁炒；治下焦之火，則以鹽水或朴硝研細調水和炒；治氣分濕熱之火，則以茱萸湯浸炒；治血分塊中伏火，則以乾漆末調水炒；治食積之火，則以黃土研細調水和炒。諸法不獨為之引導，蓋辛熱能制其苦寒，鹹寒能制其燥性，在用者詳酌之。</p>

<h2>秦艽</h2>
<p>〔斆曰〕秦艽須於腳文處認取：左文列為秦，治疾；右文列為艽，即髮腳氣。凡用秦，以布拭去黃白毛，乃用還元湯浸一宿，日乾用。〔時珍曰〕秦艽但以左文者為良，分秦與艽為二名，謬矣。</p>

<h2>柴胡</h2>
<p>〔斆曰〕凡採得銀州柴胡，去須及頭，用銀刀削去赤薄皮少許，以粗布拭盡，銼用。勿令犯火，立便無效也。</p>

<h2>前胡</h2>
<p>〔斆曰〕修事先用刀刮去蒼黑皮並髭土了，細銼，以甜竹瀝浸令潤，日中曬乾用。</p>

<h2>獨活</h2>
<p>〔斆曰〕採得細銼，以淫羊藿拌，裛二日，曝乾去藿，用，免煩人心。〔時珍曰〕此乃服食家治法，尋常去皮或焙用爾。</p>

<h2>升麻</h2>
<p>〔斆曰〕採得刮去粗皮，用黃精自然汁浸一宿。曝乾，銼蒸再曝用。〔時珍曰〕今人惟取里白外黑而緊實者，謂之鬼臉升麻，去須及頭蘆，銼用。</p>

<h2>苦參</h2>
<p>〔斆曰〕採根，用糯米濃泔汁浸一宿，其腥穢氣並浮在水面上，須重重淘過，即蒸之，從巳至申，取曬切用。</p>

<h2>貝母</h2>
<p>〔斆曰〕凡使，先於柳木灰中炮黃，擘破，去內口鼻中有米許大者心一顆，後拌糯米於𨫼上同炒，待米黃，去米用。</p>

<h2>龍膽</h2>
<p>〔斆曰〕採得陰乾。用時，銅刀切去須、土、頭了，銼細，甘草湯浸一宿，漉出，曝乾用。</p>

<h2>細辛</h2>
<p>〔斆曰〕凡使細辛，切去頭、土了，以瓜水浸一宿，曝乾用。須揀去雙葉者，服之害人。</p>

<h2>鬼督郵</h2>
<p>〔斆曰〕凡採得細銼，用生甘草水煮一伏時，日乾用。</p>

<h2>徐長卿</h2>
<p>〔斆曰〕凡採得粗杵，拌少蜜令遍，以瓷器盛，蒸三伏時，日乾用。</p>

<h2>白薇</h2>
<p>〔斆曰〕凡採得，以糯米泔汁浸一宿，取出去髭，於槐砧上細銼，蒸之從巳至申，曬乾用。〔時珍曰〕後人惟以酒洗用。</p>

<h2>白前</h2>
<p>〔斆曰〕凡用，以生甘草水浸一伏時，漉出，去頭須了，焙乾收用。</p>

<h2>當歸</h2>
<p>〔斆曰〕凡用去蘆頭，以酒浸一宿入藥。止血破血，頭尾效各不同。若要破血，即使頭一節硬實處。若要止痛止血，即用尾。若一併用，服食無效，不如不使，惟單使妙也。〔元素曰〕頭止血，尾破血，身和血，全用即一破一止也。先以水洗淨土。治上酒浸，治外酒洗過，或火干、日乾、入藥。〔杲曰〕頭止血而上行，身養血而中守，梢破血而下流，全活血而不走。〔時珍曰〕雷、張二氏所說頭尾功效各異。凡物之根，身半以上，氣脈上行，法乎天；身半以下，氣脈下行，法乎地。人身法象天地，則治上當用頭，治中當用身，治下當用尾，通治則全用，乃一定之理也。當以張氏之說為優。凡曬乾乘熱紙封甕收之，不蛀。</p>

<h2>蛇床</h2>
<p>〔斆曰〕凡使，須用濃藍汁並百部草根自然汁，同浸一伏時，漉出日乾。卻用生地黃汁相拌蒸之，從巳至亥，取出日乾用。〔大明曰〕凡服食，即挼去皮殼，取仁微炒殺毒，即不辣也。作湯洗浴，則生用之。</p>

<h2>白芷</h2>
<p>〔斆曰〕採得刮去土皮，細銼，以黃精片等分，同蒸一伏時，曬乾去黃精用。〔時珍曰〕今人採根洗刮寸截，以石灰拌勻，曬收，防其易蛀，並欲色白也。入藥微焙。</p>

<h2>芍藥</h2>
<p>〔斆曰〕凡採得，竹刀刮去皮並頭土銼細，以蜜水拌蒸，從巳至未，曬乾用。〔時珍曰〕今多生用，惟避中寒者以酒炒，入女人血藥以醋炒耳。</p>

<h2>牡丹</h2>
<p>〔斆曰〕凡採得根日乾，以銅刀劈破去骨，銼如大豆許，用清酒拌蒸，從巳至未，日乾用。</p>

<h2>木香</h2>
<p>〔時珍曰〕凡入理氣藥，只生用，不見火。若實大腸，宜麵煨熟用。</p>

<h2>杜若</h2>
<p>〔斆曰〕凡使勿用鴨喋草根，真相似，只是味效不同。凡採得根，以刀刮去黃赤皮，細銼，用三重絹袋陰乾。臨使以蜜浸一夜，漉出用。</p>

<h2>高良薑</h2>
<p>〔時珍曰〕高良薑、紅豆蔻，並宜炒過入藥。亦有以姜同吳茱萸、東壁土炒過入藥用者。</p>

<h2>豆蔻</h2>
<p>〔斆曰〕凡使須去蒂，取向裡子及皮，用茱萸同於𨫼上緩炒，待茱萸微黃黑，即去茱萸，取草豆蔻皮及子杵用之。〔時珍曰〕今人惟以麵裹煻火煨熟，去皮用之。</p>

<h2>蓽茇</h2>
<p>〔斆曰〕凡使，去挺用頭，以醋浸一宿，焙乾，以刀刮去皮粟子令淨乃用，免傷人肺，令人上氣。</p>

<h2>蒟醬</h2>
<p>〔斆曰〕凡採得後，以刀刮去粗皮，搗細。每五兩，用生薑自然汁五兩拌之，蒸一日，曝乾用。</p>

<h2>肉豆蔻</h2>
<p>〔斆曰〕凡使，須以糯米粉熟湯搜裹豆蔻，於煻灰火中煨熟，去粉用。勿令犯鐵。</p>

<h2>補骨脂</h2>
<p>〔斆曰〕此性燥毒，須用酒浸一宿，漉出，以東流水浸三日夜，蒸之，從巳至申，日乾用。一法：以鹽同炒過，曝乾用。</p>

<h2>蓬莪朮</h2>
<p>〔斆曰〕凡使，於砂盆中以醋磨令盡，然後於火畔熁干，重篩過用。〔頌曰〕此物極堅硬，難搗治，用時熱灰火中煨令透，乘熱搗之，即碎如粉。〔時珍曰〕今人多以醋炒或煮熟入藥，取其引入血分也。</p>

<h2>荊三稜</h2>
<p>〔元素曰〕入藥用須炮熟。〔時珍曰〕消積須用醋浸一日，炒或煮熟焙乾，入藥乃良。</p>

<h2>香附子</h2>
<p>〔斆曰〕凡採得陰乾，於石臼中搗之，切忌鐵器。〔時珍曰〕凡採得連苗曝乾，以火燎去苗及毛。用時以水洗淨，石上磨去皮，用童子小便浸透，洗曬搗用。或生或炒，或以酒醋鹽水浸，諸法各從本方。生則上行胸膈，外達皮膚；熟則下走肝腎，外徹腰足。炒黑則止血，得童溲浸炒則入血分而補虛，鹽水浸炒則入血分而潤燥，青鹽炒則補腎氣，酒浸炒則行經絡，醋浸炒則消積聚，薑汁炒則化痰飲。又稻草煮之，味不苦。</p>

<h2>澤蘭</h2>
<p>〔斆曰〕凡用大小澤蘭，細銼，以絹袋盛，懸於屋南畔角上，令乾用。又蘭草葉修治同澤蘭。</p>

<h2>香薷</h2>
<p>〔斆曰〕凡採得去根留葉，銼曝乾，勿令犯火。服至十兩，一生不得食白山桃也。〔時珍曰〕八、九月開花著穗時，採之陰乾，入用。</p>

<h2>赤車使者</h2>
<p>〔斆曰〕此草原名小錦枝。凡用並粗搗，以七歲童子小便拌蒸，曬乾入藥。</p>

<h2>艾</h2>
<p>〔宗奭曰〕艾葉乾搗，去青滓，取白，入石硫黃末少許，謂之硫黃艾，炙家用之。得米粉少許，可搗為末，入服食藥用。〔時珍曰〕凡用艾葉，須用陳久者，治令細軟，謂之熟艾。若生艾灸火，則傷人肌脈。故孟子曰：七年之病，求三年之艾。揀取淨葉，揚去塵屑，入石臼內木杵搗熟，羅去渣滓，取白者再搗，至柔爛如綿為度。用時焙燥，則灸火得力。入婦人丸散，須以熟艾，用醋煮乾，搗成餅子，烘乾再搗為末用。或以糯糊和作餅，及酒炒，皆不佳。洪氏《容齋隨筆》云：艾難著力，若入白茯苓三、五片同碾，即時可作細末，亦一異也。</p>

<h2>青蒿</h2>
<p>〔斆曰〕凡使，惟中為妙，到膝即仰，到腰即俯。使子勿使葉，使根勿使莖，四件若同使，翻然成痼疾。採得葉，用七歲兒七個溺，浸七日七夜，漉出曬乾。</p>

<h2>角蒿</h2>
<p>〔斆曰〕凡使勿用紅蒿並邪蒿，二味真似角蒿，只是此香而角短爾。採得，於槐砧上細銼用之。</p>

<h2>茺蔚</h2>
<p>〔時珍曰〕凡用，微炒香，亦或蒸熟，烈日曝燥，舂簸去殼，取仁用。</p>

<h2>劉寄奴草</h2>
<p>〔斆曰〕凡採得，去莖葉，只用實。以布拭去薄殼令淨，拌酒蒸，從巳至申，曝乾用。</p>
<p>〔時珍曰〕莖、葉、花、子皆可用。</p>

<h2>旋覆花</h2>
<p>〔斆曰〕採得花，去蕊並殼皮及蒂子，蒸之，從巳至午，曬乾用。</p>

<h2>青葙</h2>
<p>〔斆曰〕凡用先燒鐵杵臼，乃搗用之。</p>

<h2>續斷</h2>
<p>〔斆曰〕凡採得根，橫切銼之，又去向里硬筋。以酒浸一伏時，焙乾，入藥用。</p>

<h2>漏蘆</h2>
<p>〔斆曰〕凡採得漏蘆，細銼，以生甘草相對拌蒸之，從巳至申，揀出曬乾用。</p>

<h2>飛廉</h2>
<p>〔斆曰〕凡用根，先刮去粗皮，杵細，以苦酒拌一夜，漉出，日乾細杵用。</p>

<h2>葫蘆巴</h2>
<p>〔時珍曰〕凡入藥，淘淨，以酒浸一宿，曬乾，蒸熟或炒過用。</p>

<h2>蠡實</h2>
<p>〔時珍曰〕凡入藥炒過用，治疝則以醋拌炒之。</p>

<h2>惡實</h2>
<p>〔斆曰〕凡用揀淨，以酒拌蒸，待有白霜重出，以布拭去，焙乾搗粉用。</p>

<h2>枲耳</h2>
<p>〔大明曰〕入藥炒熟，搗去刺用，或酒拌蒸過用。〔斆曰〕凡採得去心，取黃精，以竹刀細切拌之，蒸從巳至亥時出，去黃精，陰乾用。</p>

<h2>蘘荷</h2>
<p>〔斆曰〕凡使勿用革牛草，真相似，其革牛草腥澀。凡使白蘘荷，以銅刀刮去粗皮一重，細切，入砂盆中研如膏，取自然汁煉作煎，新器攤冷，如干膠狀，刮取用之。</p>

<h2>麻黃</h2>
<p>〔弘景曰〕用之折去節根，水煮十餘沸，以竹片掠去上沫。沫令人煩，根節能止汗故也。</p>

<h2>燈心草</h2>
<p>〔時珍曰〕燈心難研，以粳米粉漿染過，曬乾研末，入水澄之，浮者是燈心也，曬乾用。</p>

<h2>乾地黃</h2>
<p>〔藏器曰〕乾地黃，本經不言生干及蒸乾。方家所用二物各別，蒸乾即溫補，生干即平宣，當依此法用。〔時珍曰〕本經所謂乾地黃者，即生地黃之乾者也。其法取地黃一百斤，擇肥者六十斤洗淨，曬令微皺。以揀下者洗淨，木臼中搗絞汁盡，投酒更搗，取汁拌前地黃，日中曬乾，或火焙乾用。</p>

<h2>熟地黃</h2>
<p>〔頌曰〕作熟地黃法：取肥地黃三二十斤淨洗，別以揀下瘦短者三二十斤搗絞取汁，投石器中，浸漉令浹，甑上浸三、四過，時時浸濾轉蒸訖，又曝使汁盡。其地黃當光黑如漆，味甘如飴。須瓷器收之，以其脂柔喜潤也。〔斆曰〕採生地黃去皮，瓷鍋上柳木甑蒸之，攤令氣歇，拌酒再蒸，又出令乾。勿犯銅鐵器，令人腎消併發白，男損營，女損衛也。〔時珍曰〕近時造法：揀取沉水肥大者，以好酒入縮砂仁末在內，拌勻，柳木甑於瓦鍋內蒸令氣透，晾乾。再以砂仁酒拌蒸晾。如此九蒸九晾乃止。蓋地黃性泥，得砂仁之香而竄，合和五臟沖和之氣，歸宿丹田故也。今市中惟以酒煮售者，不可用。</p>

<h2>牛膝</h2>
<p>〔斆曰〕凡使去頭蘆，以黃精自然汁浸一宿，漉出，銼，焙乾用。〔時珍曰〕今惟以酒浸入藥，欲下則生用，滋補則焙用，或酒拌蒸過用。</p>

<h2>紫菀</h2>
<p>〔斆曰〕凡使先去須。有白如練色者，號曰羊須草，自然不同。去頭及土，用東流水洗淨，以蜜浸一宿，至明於火上焙乾用。一兩用蜜二分。</p>

<h2>麥門冬</h2>
<p>〔弘景曰〕凡用取肥大者，湯澤，抽去心，不爾令人煩。大抵一斤須減去四五兩也。〔時珍曰〕凡入湯液，以滾水潤濕，少頃抽去心，或以瓦焙軟，乘熱去心。若入丸散，須瓦焙熱，即於風中吹冷，如此三四次，即易燥，且不損藥力。或以湯浸搗膏和藥，亦可。滋補藥，則以酒浸擂之。</p>

<h2>敗醬</h2>
<p>〔斆曰〕凡收得便粗杵，入甘草葉相拌對蒸，從巳至未，去甘草葉，焙乾用。</p>

<h2>款冬花</h2>
<p>〔斆曰〕凡採得，須去向里裹花蕊殼，並向裡實如慄零殼者。並枝葉，以甘草水浸一宿，卻取款冬葉相拌裛一夜，曬乾去葉用。</p>

<h2>瞿麥</h2>
<p>〔斆曰〕凡使只用蕊殼，不用莖葉。若一時同使，即空心令人氣噎，小便不禁也。用時以䈽竹瀝浸一伏時，漉曬。</p>

<h2>王不留行</h2>
<p>〔斆曰〕凡採得拌濕蒸之，從巳至未。以漿水浸一宿，焙乾用。</p>

<h2>葶藶</h2>
<p>〔斆曰〕凡使葶藶，以糯米相合，置於燠上，微焙，待米熟，去米，搗用。</p>
<p>解。張紹堂本作「灶」，義長。</p>

<h2>車前</h2>
<p>〔時珍曰〕凡用子須以水淘洗去泥沙，曬乾。入湯液，炒過用；入丸散，則以酒浸一夜，蒸熟研爛，作餅曬乾，焙研。〔斆曰〕凡使須一窠有九葉，內有蕊，莖可長一尺二寸者。和蕊葉根，去土了，稱一鎰者，力全。使葉勿使蕊莖，銼細，於新瓦上攤乾用。</p>

<h2>虎杖</h2>
<p>〔斆曰〕採得細銼，卻用葉包一夜，曬乾用。</p>

<h2>蒺藜</h2>
<p>〔斆曰〕凡使揀淨蒸之，從午至酉，日乾，木臼舂令刺盡，用酒拌再蒸，從午至酉，日乾用。〔大明曰〕入藥不計丸散，並炒去刺用。</p>

<h2>大黃</h2>
<p>〔雷曰〕凡使細切，以文如水旋斑緊重者，銼片蒸之，從巳至未，曬乾，又灑臘水蒸之，從未至亥，如此凡七次，曬乾，卻灑淡蜜水再蒸一伏時，其大黃必如烏膏樣，乃曬乾用。〔藏器曰〕凡用有蒸、有生、有熟，不得一概用之。〔承曰〕大黃採時，皆以火石爆乾貨賣，更無生者，用之亦不須更多炮炙蒸煮。</p>

<h2>商陸</h2>
<p>〔斆曰〕取花白者根，銅刀刮去皮，薄切，以東流水浸兩宿，漉出，架甑蒸，以黑豆葉一重，商陸一重，如此蒸之，從午至亥，取出去豆葉，曝乾銼用。無豆葉，以豆代之。</p>

<h2>防葵</h2>
<p>〔斆曰〕凡使須揀去蚛末，用甘草湯浸一宿，漉出曝乾，用黃精自然汁一、二升拌了，土器中炒至汁盡用。</p>

<h2>大戟</h2>
<p>〔斆曰〕凡使勿用附生者，誤服令人泄氣不禁，即煎薺苨湯解之。採得後，於槐砧上細銼，與海芋葉拌蒸，從巳至申，去芋葉，曬乾用。〔時珍曰〕凡採得以漿水煮軟，去骨，曬乾用。海芋葉麻而有毒，恐不可用也。</p>

<h2>甘遂</h2>
<p>〔斆曰〕凡採得去莖，於槐砧上細銼，用生甘草湯、薺苨自然汁二味，攪浸三日，其水如墨汁，乃漉出，用東流水淘六、七次，令水清為度。漉出，於土器中熬脆用之。〔時珍曰〕今人多以麵裹煨熟用，以去其毒。</p>

<h2>續隨子</h2>
<p>〔時珍曰〕凡用去殼，取色白者，以紙包，壓去油，取霜用。</p>

<h2>莨菪</h2>
<p>〔斆曰〕修事莨菪子十兩，以頭醋一鎰，煮乾為度。卻用黃牛乳汁浸一宿，至明白乳汁黑，即是真者。曬乾搗篩用。</p>

<h2>雲實</h2>
<p>〔斆曰〕凡採得，粗搗，相對拌渾顆橡實，蒸一日，揀出曝乾。</p>

<h2>蓖麻子</h2>
<p>〔斆曰〕凡使勿用黑天赤利子，緣在地蔞上生，是顆兩頭尖有毒。其蓖麻子，節節有黃黑斑。凡使以鹽湯煮半日，去皮取子研用。〔時珍曰〕取蓖麻油法：用蓖麻仁五升搗爛，以水一斗煮之，有沫撇起，待沫盡乃止。去水，以沫煎至點燈不炸、滴水不散為度。</p>

<h2>常山</h2>
<p>〔斆曰〕採時連根苗收。如用莖葉，臨時去根。以甘草細銼，同水拌濕蒸之。臨時去甘草，取蜀漆細銼，又拌甘草水勻，再蒸，日乾用。其常山，凡用以酒浸一宿，漉出日乾，熬搗用。〔時珍曰〕近時有酒浸蒸熟或瓦炒熟者，亦不甚吐人。又有醋製者，吐人。</p>

<h2>藜蘆</h2>
<p>〔雷曰〕凡採得去頭，用糯米泔汁煮之，從巳至未，曬乾用。</p>

<h2>附子</h2>
<p>〔保升曰〕附子、烏頭、天雄、側子、烏喙，採得，以生熟湯浸半日，勿令滅氣，出以白灰裛之，數易使干。又法：以米粥及糟曲等淹之。並不及前法。〔頌曰〕五物收時，一處造釀。其法：先於六月內，造大小面曲。未採前半月，用大麥煮成粥，以曲造醋，候熟去糟。其醋不用太酸，酸則以水解之。將附子去根鬚，於新甕內淹七日，日攪一遍，撈出以疏篩攤之，令生白衣。乃向慢風日中曬之百十日，以透干為度。若猛日，則皺而皮不附肉。〔時珍曰〕按《附子記》云：此物畏惡最多，不能常熟。或種美而苗不茂，或苗秀而根不充，或以釀而腐，或以曝而攣，若有神物陰為之者。故園人常禱於神，目為藥妖。其釀法：用醋醅安密室中，淹覆彌月，乃發出晾乾。方出釀時，其大有如拳者，已定輒不盈握，故及一兩者極難得。土人云：但得半兩以上者皆良。蜀人餌者少，惟秦陝閩浙人宜之。然秦人才市其下者，閩浙才得其中者，其上品則皆貴人得之矣。〔弘景曰〕凡用附子、烏頭、天雄，皆熱灰微炮令拆，勿過焦。惟姜附湯生用之。俗方每用附子，須甘草、人參、生薑相配者，正制其毒故也。〔斆曰〕凡使烏頭，宜文武火中炮令皴拆，擘破用。若用附子，須底平有九角如鐵色，一個重一兩者，即是氣全。勿用雜木火，只以柳木灰火中炮令皴拆，以刀刮去上孕子，並去底尖，擘破，於屋下平地上掘一土坑安之，一宿取出，焙乾用。若陰制者，生去皮尖底，薄切，以東流水並黑豆浸五日夜，漉出，日中曬乾用。〔震亨曰〕凡烏、附、天雄，須用童子小便浸透煮過，以殺其毒，並助下行之力，入鹽少許尤好。或以小便浸二七日，揀去壞者，以竹刀每個切作四片，井水淘淨，逐日換水，再浸七日，曬乾用。〔時珍曰〕附子生用則發散，熟用則峻補。生用者，須如陰制之法，去皮臍入藥。熟用者，以水浸過，炮令發拆，去皮臍，乘熱切片再炒，令內外俱黃，去火毒入藥。又法：每一個，用甘草二錢，鹽水、薑汁、童尿各半盞，同煮熟，出火毒一夜用之，則毒去也。</p>

<h2>天雄</h2>
<p>〔斆曰〕宜炮皴去皮尖底用，或陰制如附子法亦得。〔大明曰〕凡丸散炮去皮用，飲藥即和皮生使甚佳。〔時珍曰〕熟用一法：每十兩以酒浸七日。掘土坑，用炭半枰煅赤，去火，以醋二升沃之，候乾，乘熱入天雄在內，小盆合一夜，取出，去臍用之。（枰即獨坐板床）</p>

<h2>側子</h2>
<p>同附子。</p>

<h2>烏頭</h2>
<p>〔時珍曰〕草烏頭或生用，或炮用，或以烏大豆同煮熟，去其毒用。</p>

<h2>天南星</h2>
<p>〔頌曰〕九月採虎掌根，去皮臍，入器中湯浸五七日，日換三四遍，洗去涎，曝乾用。或再火炮裂用。〔時珍曰〕凡天南星須用一兩以上者佳。治風痰，有生用者，須以溫湯洗淨，仍以白礬湯，或入皂角汁，浸三日夜，日日換水，曝乾用。若熟用者，須於黃土地掘一小坑，深五、六寸，以炭火燒赤，以好酒沃之。安南星於內，瓦盆覆定，灰泥固濟，一夜取出用。急用，即以濕紙包，於煻灰火中炮裂也。一法：治風熱痰，以酒浸一宿，桑柴火蒸之，常灑酒入甑內，令氣猛。一伏時取出，竹刀切開，味不麻舌為熟。未熟再蒸，至不麻乃止。脾虛多痰，則以生薑渣和黃泥包南星煨熟，去泥焙用。造南星曲法：以薑汁、礬湯，和南星末作小餅子，安籃內，楮葉包蓋，待上黃衣，乃取曬收之。造膽星法：以南星生研末，臘月取黃牯牛膽汁和劑，納入膽中，系懸風處干之。年久者彌佳。</p>

<h2>半夏</h2>
<p>〔弘景曰〕凡用，以湯洗十許過，令滑盡。不爾，有毒戟人咽喉。方中有半夏必須用生薑者，以制其毒故也。〔斆曰〕修事半夏四兩，用白芥子末二兩，釅醋六兩，攪濁，將半夏投中，洗三遍用之。若洗涎不盡，令人氣逆，肝氣怒滿。〔時珍曰〕今治半夏，惟洗去皮垢，以湯泡浸七日，逐日換湯，晾乾切片，薑汁拌焙入藥。或研為末，以薑汁入湯浸澄三日，瀝去涎水，曬乾用，謂之半夏粉。或研末以薑汁和作餅子，日乾用，謂之半夏餅。或研末以薑汁、白礬湯和作餅，楮葉包置籃中，待生黃衣，日乾用，謂之半夏曲。白飛霞《醫通》云：痰分之病，半夏為主，造而為曲尤佳。治濕痰以薑汁、白礬湯和之，治風痰以薑汁及皂莢煮汁和之，治火痰以薑汁、竹瀝或荊瀝和之，治寒痰以薑汁、礬湯入白芥子末和之，此皆造麴妙法也。</p>

<h2>射干</h2>
<p>〔斆曰〕凡採根，先以米泔水浸一宿，漉出，然後以䈽竹葉煮之，從午至亥，日乾用。</p>

<h2>芫花</h2>
<p>〔弘景曰〕用當微熬。不可近眼。〔時珍曰〕芫花留數年陳久者良。用時以好醋煮十數沸，去醋，以水浸一宿，曬乾用，則毒滅也。或以醋炒者次之。</p>

<h2>莽草</h2>
<p>〔斆曰〕凡使取葉細銼，以生甘草、水蓼二味同盛入生稀絹袋中，甑中蒸一日，去二件，曬乾用。</p>

<h2>菟絲子</h2>
<p>〔斆曰〕凡使勿用天碧草子，真相似，只是味酸澀並黏也。菟絲採得，去殼了，用苦酒浸二日。漉出，以黃精自然汁相對，浸一宿。至明，用微火煎至干。入臼中，燒熱鐵杵，一去三千餘杵，成粉用之。〔時珍曰〕凡用以溫水淘去沙泥，酒浸一宿。曝乾搗之。不盡者，再浸曝搗，須臾悉細。又法：酒浸四五日，蒸曝四五次，研作餅，焙乾再研末。或云：曝乾時，入紙條數枚同搗，即刻成粉，且省力也。</p>

<h2>五味子</h2>
<p>〔斆曰〕凡用以銅刀劈作兩片，用蜜浸蒸，從巳至申，卻以漿浸一宿，焙乾用。〔時珍曰〕入補藥熟用，入嗽藥生用。</p>

<h2>覆盆子</h2>
<p>〔詵曰〕覆盆子五月採之，烈日曝乾。不爾易爛。〔雷曰〕凡使用東流水淘去黃葉並皮蒂，取子以酒拌蒸一宿，以東流水淘兩遍，又曬乾方用。〔時珍曰〕採得搗作薄餅，曬乾密貯，臨時以酒拌蒸尤妙。</p>

<h2>馬兜鈴</h2>
<p>〔斆曰〕凡採得實，去葉及蔓，以生絹袋盛於東屋角畔，待乾劈開，去革膜，取淨子焙用。</p>

<h2>牽牛子</h2>
<p>〔斆曰〕凡採得子，曬乾，水淘去浮者，再曬，拌酒蒸，從巳至未，曬乾收之。臨用舂去黑皮。〔時珍曰〕今多隻碾取頭末，去皮麩不用。亦有半生半熟用者。</p>

<h2>栝蔞</h2>
<p>〔斆曰〕凡使皮子莖根，其效各別。其栝，圓黃皮厚蒂小；蔞則形長赤皮蒂粗。陰人服蔞，陽人服栝。並去殼革膜及油。用根亦取大二三圍者，去皮搗爛，以水澄粉用。〔時珍曰〕栝蔞古方全用，後世乃分子瓤各用。天花粉〔周定王曰〕秋冬採根，去皮寸切，水浸，逐日換水，四五日取出，搗泥，以絹袋濾汁澄粉，曬乾用。</p>

<h2>天門冬</h2>
<p>〔弘景曰〕門冬採得蒸，剝去皮食之，甚甘美，止飢，雖曝乾，尤脂潤難搗，必須曝於日中或火烘之。今人呼苗為棘刺，煮作飲宜人，而終非真棘刺也。〔頌曰〕二、三、七、八月採根，蒸剝去皮，四破去心，曝乾用。〔斆曰〕採得去皮心，用柳木甑及柳木柴蒸一伏時，灑酒令遍，更添火蒸。作小架去地二尺，攤於上，曝乾用。</p>

<h2>百部</h2>
<p>〔斆曰〕凡採得以竹刀劈，去心皮花，作數十條，懸檐下風乾。卻用酒浸一宿，漉出焙乾，銼用。或一窠八十三條者，號曰地仙苗。若修事餌之，可千歲也。</p>

<h2>何首烏</h2>
<p>〔志曰〕春夏秋採其根，雌雄並用。乘濕以布拭去土，曝乾。臨時以苦竹刀切，米泔浸經宿，曝乾，木杵臼搗之。忌鐵器。〔慎微曰〕方用新採者，去皮，銅刀切薄片，入甑內，以瓷鍋蒸之。旋以熱水從上淋下，勿令滿溢，直候無氣味，乃取出曝乾用。〔時珍曰〕近時製法：用何首烏赤白各一斤，竹刀刮去粗皮，米泔浸一夜，切片。用黑豆三斗，每次用三升三合三勺，以水泡過。砂鍋內鋪豆一層，首烏一層，重重鋪盡，蒸之。豆熟，取出去豆，將何首烏曬乾，再以豆蒸。如此九蒸九曬，乃用。</p>

<h2>女葳</h2>
<p>〔斆曰〕凡採得陰乾，去頭並白蕊，於槐砧上銼，拌豆淋酒蒸之，從巳至未出，曬乾。</p>

<h2>茜草</h2>
<p>〔斆曰〕凡使，用銅刀於槐砧上銼，日乾，勿犯鉛鐵器。勿用赤柳草根，真相似，只是味酸澀。誤服令人患內障眼，速服甘草水解之，即毒氣散。</p>

<h2>防己</h2>
<p>〔斆曰〕凡使勿用木條，色黃、腥、皮皺、上有丁足子，不堪用。惟要心有花紋黃色者，細銼，以車前草根相對蒸半日，曬乾取用。〔時珍曰〕今人去皮銼，酒洗曬乾用。</p>

<h2>赤地利</h2>
<p>〔斆曰〕凡採得細銼，用藍葉並根，同入生絹袋盛之，蒸一伏時，去藍曬用。</p>

<h2>絡石</h2>
<p>〔雷曰〕凡採得，用粗布揩去毛了，以熟甘草水浸一伏時，切，曬用。</p>

<h2>澤瀉</h2>
<p>〔斆曰〕不計多少，細銼，酒浸一宿，取出曝乾，任用。</p>

<h2>菖蒲</h2>
<p>〔斆曰〕凡使勿用泥菖、夏菖二件，如竹根鞭，形黑、氣穢味腥。惟石上生者，根條嫩黃，緊硬節稠，一寸九節者，是真也。採得以銅刀刮去黃黑硬節皮一重，以嫩桑枝條相拌蒸熟，曝乾銼用。〔時珍曰〕服食須如上法制。若常用，但去毛微炒耳。</p>

<h2>蒲黃</h2>
<p>〔斆曰〕凡使勿用松黃並黃蒿。其二件全似，只是味跙及吐人。真蒲黃鬚隔三重紙焙令色黃，蒸半日，卻再焙乾用之妙。〔大明曰〕破血消腫者，生用之；補血止血者，須炒用。</p>

<h2>水萍</h2>
<p>〔時珍曰〕紫背浮萍，七月採之，揀淨，以竹篩攤曬，下置水一盆映之，即易干色。</p>

<h2>海藻</h2>
<p>〔斆曰〕凡使須用生烏豆，並紫背天葵，三件同蒸一伏時，日乾用。〔時珍曰〕近人但洗淨鹹味，焙乾用。</p>

<h2>昆布</h2>
<p>〔斆曰〕凡使昆布，每一斤，用甑箅大小十個，同銼細，以東流水煮之，從巳至亥，待鹹味去，乃曬焙用。</p>

<h2>石斛</h2>
<p>〔斆曰〕凡使，去根頭，用酒浸一宿，曝乾，以酥拌蒸之，從巳至酉，徐徐焙乾，用入補藥乃效。</p>

<h2>骨碎補</h2>
<p>〔斆曰〕凡採得，用銅刀刮去黃赤毛，細切，蜜拌潤，甑蒸一日，曬乾用。急用只焙乾，不蒸亦得也。</p>

<h2>石葦</h2>
<p>〔別錄曰〕凡用去黃毛。毛射人肺，令人咳，不可療。〔大明曰〕入藥去梗，須微炙用。一法：以羊脂炒乾用。</p>

<h2>卷柏</h2>
<p>〔時珍曰〕凡用，以鹽水煮半日，再以井水煮半日，曬乾焙用。</p>

<h2>馬勃</h2>
<p>〔時珍曰〕凡用以生布張開，將馬勃於上摩擦，下以盤承，取末用。</p>

<h1>卷三·木類</h1>

<h2>柏實</h2>
<p>〔斆曰〕凡使先以酒浸一宿，至明漉出，曬乾。用黃精自然汁於日中煎之，緩火煮成煎為度。每煎柏子仁三兩，用酒五兩浸。〔時珍曰〕此法是服食家用者。尋常用，只蒸熟曝烈舂簸取仁，炒研入藥。</p>

<h2>柏葉</h2>
<p>〔斆曰〕凡用挼去兩畔並心枝了，用糯泔浸七日，以酒拌蒸一伏時。每一斤用黃精自然汁十二兩浸焙，又浸又焙，待汁乾用之。〔時珍曰〕此服食治法也。常用或生或炒，各從本方。</p>

<h2>松脂</h2>
<p>〔弘景曰〕採煉松脂法，並在服食方中。以桑灰汁或酒煮軟，挼納寒水中數十過，白滑則可用。〔頌曰〕凡用松脂，先須煉治。用大釜加水置甑，用白茅籍甑底，又加黃砂於茅上，厚寸許。然後布松脂於上，炊以桑薪，湯減頻添熱水。候松脂盡入釜中，乃出之，投於冷水，既凝又蒸，如此三過，其白如玉，然後入用。</p>

<h2>辛夷</h2>
<p>〔斆曰〕凡用辛夷，拭去赤肉毛了，以芭蕉水浸一宿。用漿水煮之，從巳至未，取出焙乾用。若治眼目中患，即一時去皮，用向裡實者。〔大明曰〕入藥微炙。</p>

<h2>沉香</h2>
<p>〔觜曰〕凡使沉香，須要不枯，如觜角硬重沉於水下者為上，半沉者次之。不可見火。</p>
<p>〔時珍曰〕欲入丸散，以紙裹置懷中，待燥研之。或入乳缽以水磨粉，曬乾亦可。若入煎劑，惟磨汁臨時入之。</p>

<h2>楓香脂</h2>
<p>〔時珍曰〕凡用以齏水煮二十沸，入冷水中，揉扯數十次，曬乾用。</p>

<h2>乳香</h2>
<p>〔頌曰〕乳性至黏難碾。用時以繒袋掛於窗隙間，良久取研，乃不黏也。〔大明曰〕入丸散，微炒殺毒，則不黏。〔時珍曰〕或言乳香入丸藥，以少酒研如泥，以水飛過，曬乾用。或言以燈心同研則易細。或言以糯米數粒同研，或言以人指甲二、三片同研，或言以乳缽坐熱水中乳之，皆易細。《外丹本草》云：乳香以韭實、蔥、蒜煅伏成汁，最柔五金。《丹房鏡源》云：乳香啞銅。</p>

<h2>沒藥</h2>
<p>修治同乳香。</p>

<h2>騏驎竭</h2>
<p>〔斆曰〕凡使先研作粉，篩過入丸散中用。若同眾藥搗，則化作塵飛也。</p>

<h2>龍腦香</h2>
<p>〔恭曰〕龍腦香合糯米炭、相思子貯之，則不耗。〔時珍曰〕或言以雞毛、相思子同入小瓷罐密收之佳。《相感志》言以杉木炭養之更良，不耗。今人多以樟腦升打亂之，不可不辨也。相思子即紅豆，有小毒。</p>

<h2>樟腦</h2>
<p>〔時珍曰〕凡用，每一兩以二碗合住，濕紙餬口，文武火熁之。半時許取出，冷定用。又法：每一兩，用黃連、薄荷六錢，白芷、細辛四錢、荊芥、密蒙花二錢，當歸、槐花一錢。以新土碗鋪杉木片於底，安藥在上，入水半盞，灑腦於上，再以一碗合住，餬口，安火煨之。待水乾取開，其腦自升於上。以翎掃下，形似松脂，可入風熱眼藥。人亦多以亂片腦，不可不辨。</p>

<h2>柏木</h2>
<p>〔斆曰〕凡使柏皮，削去粗皮，用生蜜水浸半日，漉出曬乾，用蜜塗，文武火炙，令蜜盡為度。每五兩，用蜜三兩。〔元素曰〕二制治上焦，單制治中焦，不制治下焦也。</p>
<p>〔時珍曰〕黃柏性寒而沉，生用則降實火，熟用則不傷胃，酒製則治上，鹽制則治下，蜜制則治中。</p>

<h2>厚朴</h2>
<p>〔斆曰〕凡使要紫色味辛者為好，刮去粗皮。入丸散，每一斤用酥四兩炙熟用。若入湯飲，用自然薑汁八兩炙盡為度。〔大明曰〕凡入藥去粗皮，用薑汁炙，或浸炒用。</p>
<p>〔宗奭曰〕味苦。不以薑製，則棘人喉舌。</p>

<h2>杜仲</h2>
<p>〔斆曰〕凡使削去粗皮。每一斤，用酥一兩，蜜三兩，和塗火炙，以盡為度。細銼用。</p>

<h2>乾漆</h2>
<p>〔大明曰〕乾漆入藥，須搗碎炒熟。不爾，損人腸胃。若是濕漆，煎乾更好。亦有燒存性者。</p>

<h2>椿樗</h2>
<p>〔斆曰〕凡使椿根，不近西頭者為上。採出拌生蔥蒸半日，銼細，以袋盛掛屋南畔，陰乾用。</p>
<p>〔時珍曰〕椿、樗木皮、根皮，並刮去粗皮，陰乾，臨時切焙入用。</p>

<h2>楝實</h2>
<p>〔斆曰〕凡採得曬乾，酒拌令透，蒸待皮軟，刮去皮，取肉去核用。凡使肉不使核，使核不使肉。如使核，捶碎，用漿水煮一伏時，曬乾。其花落子，謂之石茱萸，不入藥用。</p>
<p>〔嘉謨曰〕石茱萸亦入外科用。</p>

<h2>槐實</h2>
<p>〔斆曰〕凡採得，去單子並五子者，只取兩子、三子者，以銅錘錘破，用烏牛乳浸一宿，蒸過用。</p>

<h2>槐花</h2>
<p>〔宗奭曰〕未開時採收，陳久者良，入藥炒用。染家以水煮一沸出之，其稠滓為餅，染色更鮮也。</p>

<h2>皂莢</h2>
<p>〔斆曰〕凡使，要赤肥並不蛀者，以新汲水浸一宿，用銅刀削去粗皮，以酥反復炙透，捶去子、弦用。每莢一兩，用酥五錢。〔好古曰〕凡用有蜜炙、酥炙、絞汁、燒灰之異，各依方法。</p>

<h2>皂莢子</h2>
<p>〔斆曰〕揀取圓滿堅硬不蛀者，以甑煮熟，剝去硬皮一重，取向里白肉兩片，去黃，以銅刀切，曬用。其黃消人腎氣。</p>

<h2>無食子</h2>
<p>〔斆曰〕凡使勿犯銅鐵，並被火驚。用顆小、無杴米者妙。用漿水於砂盆中研令盡，焙乾再研，如烏犀色入藥。</p>

<h2>訶黎勒</h2>
<p>〔斆曰〕凡用訶黎勒，酒浸後蒸一伏時，刀削去路，取肉銼焙用。用核則去肉。</p>

<h2>櫸木皮</h2>
<p>〔斆曰〕凡使勿用三四年者無力，用二十年以來者心空，其樹只有半邊，向西生者良。剝下去粗皮，細銼蒸之，從巳至未，出，焙乾用。</p>

<h2>白楊木皮</h2>
<p>〔斆曰〕凡使，銅刀刮去粗皮蒸之，從巳至未。以布袋盛，掛屋東角，待乾用。</p>

<h2>蘇方木</h2>
<p>〔斆曰〕凡使去上粗皮並節。若得中心文橫如紫角者，號曰木中尊，其力倍常百等。須細銼重搗，拌細梅樹枝蒸之，從巳至申，陰乾用。</p>

<h2>巴豆</h2>
<p>〔弘景曰〕巴豆最能瀉人，新者佳，用之去心、皮，熬令黃黑，搗如膏，乃和丸散。</p>
<p>〔斆曰〕凡用巴與豆敲碎，以麻油並酒等煮乾研膏用。每一兩，用油、酒各七合。〔大明曰〕凡入丸散，炒用不如去心、膜，換水煮五度（各一沸）也。〔時珍曰〕巴豆有用仁者，用殼者，用油者，有生用者，麩炒者，醋煮者，燒存性者，有研爛以紙包壓去油者（謂之巴豆霜）。</p>

<h2>大風子</h2>
<p>〔時珍曰〕取大風子油法：用子三斤（去殼及黃油者）研極爛，瓷器盛之，封口入滾湯中，蓋鍋密封，勿令透氣，文武火煎至黑色如膏，名大風油，可以和藥。</p>

<h2>桑根</h2>
<p>〔別錄曰〕採無時。出土上者殺人。〔弘景曰〕東行桑根乃易得，而江邊多出土，不可輕信。〔時珍曰〕古本草言桑根見地上者名馬領，有毒殺人。旁行出土者名伏蛇，亦有毒而治心痛。故吳淑《事類賦》云：伏蛇療疾，馬領殺人。〔斆曰〕凡使，採十年以上向東畔嫩根，銅刀刮去青黃薄皮一重，取里白皮切，焙乾用。其皮中涎勿去之，藥力俱在其上也。忌鐵及鉛。或云：木之白皮亦可用。煮汁染褐色，久不落。</p>

<h2>楮實</h2>
<p>〔斆曰〕採得後，水浸三日，攪旋投水，浮者去之。曬乾，以酒浸一伏時了。蒸之，從巳至亥，焙乾用。經驗後方：煎法：六月六日，採取榖（即楮）子五升，以水一斗，煮取五升，去滓，微火煎如餳用。</p>

<h2>枳實</h2>
<p>〔弘景曰〕枳實採，破令乾，除核，微炙令香用。以陳者為良。俗方多用，道家不須。</p>
<p>〔斆曰〕枳實、枳殼性效不同。若使枳殼，取辛苦腥並有隙油者，要塵久年深者為佳。並去穰核，以小麥麩炒至麩焦，去麩用。</p>

<h2>梔子</h2>
<p>〔斆曰〕凡使須要如雀腦，並須長有九路赤色者為上。先去皮、須取仁，以甘草水浸一宿，漉出焙乾。搗篩為末用。〔震亨曰〕治上焦、中焦連殼用，下焦去殼，洗去黃漿，炒用。治血病，炒黑用。〔好古曰〕去心胸中熱，用仁；去肌表熱，用皮。</p>

<h2>蕤核</h2>
<p>〔斆曰〕凡使蕤核仁，以湯浸去皮、尖，擘作兩片。每四兩，用芒硝一兩，木通草七兩，同水煮一伏時，取仁研膏入藥。</p>

<h2>山茱萸</h2>
<p>〔斆曰〕凡使以酒潤，去核取皮，一斤只取四兩以來，緩火熬干方用。能壯元氣，秘精。其核能滑精，不可服。</p>

<h2>郁李</h2>
<p>〔斆曰〕先以湯浸，去皮、尖，用生蜜浸一宿，漉出陰乾，研如膏用之。</p>

<h2>衛矛</h2>
<p>〔斆曰〕採得只使箭頭用，拭去赤毛，以酥拌緩炒。每一兩，用酥二錢半。</p>

<h2>枸杞（地骨皮）</h2>
<p>〔斆曰〕凡使根，掘得以東流水浸，刷去土，捶去心，以熟甘草湯浸一宿，焙乾。〔時珍曰〕凡用子，揀淨枝梗，取鮮明者洗淨，酒潤一夜，搗爛入藥。</p>

<h2>牡荊瀝</h2>
<p>〔時珍曰〕取法：用新採荊莖，截尺五寸長，架於兩磚上，中間燒火炙之，兩頭以器承取，熱服，或入藥中。又法：截三四寸長，束入瓶中，仍以一瓶合住固，外以糠米煨燒，其汁瀝入下瓶中，亦妙。</p>

<h2>蔓荊實</h2>
<p>〔斆曰〕凡使，去蒂子下白膜一重，用酒浸一伏時，蒸之從巳至未，曬乾用。〔時珍曰〕尋常只去膜打碎用之。</p>

<h2>密蒙花</h2>
<p>〔斆曰〕凡使揀淨，酒浸一宿，漉出候乾，拌蜜令潤，蒸之從卯至酉，日乾再拌蒸，如此三度，日乾用。每一兩用酒八兩，蜜半兩。</p>

<h2>賣子木</h2>
<p>〔斆曰〕凡採得粗搗，每一兩用酥五錢，同炒乾入藥。</p>

<h2>茯苓</h2>
<p>〔斆曰〕凡用，去皮、心，搗細，於水盆中攪濁，浮者濾去之。此是茯苓赤筋，若誤服餌，令人瞳子並黑睛點小，兼盲目。〔弘景曰〕作丸散者，先煮二、三沸仍切，曝乾用。</p>

<h2>琥珀</h2>
<p>〔斆曰〕入藥，用水調側柏子末，安瓷鍋中，置琥珀於內煮之，從巳至申，當有異光，搗粉篩用。</p>

<h2>豬苓</h2>
<p>〔斆曰〕採得，銅刀削去粗皮，薄切，以東流水浸一夜。至明漉出，細切，以升麻葉對蒸一日，去葉，曬乾用。〔時珍曰〕豬苓取其行濕，生用更佳。</p>

<h2>雷丸</h2>
<p>〔斆曰〕凡使，用甘草水浸一夜，銅刀刮去黑皮，破作四五片。以甘草水再浸一宿，蒸之，從巳至未，日乾。酒拌再蒸，日乾用。〔大明曰〕入藥炮用。</p>

<h2>桑上寄生</h2>
<p>〔斆曰〕採得，銅刀和根、枝、莖、葉細銼，陰乾用。勿見火。</p>

<h2>淡竹瀝</h2>
<p>〔機曰〕將竹截作二尺長，劈開。以磚兩片對立，架竹於上。以火炙出其瀝，以盤承取。</p>
<p>〔時珍〕一法：以竹截長五、六寸，以瓶盛，倒懸，下用一器承之，周圍以炭火逼之，其汁瀝於器下也。</p>

<h1>卷四·蟲獸類</h1>

<h2>蜂蜜</h2>
<p>〔斆曰〕凡煉蜜一斤，只得十二兩半是數。若火少、火過，並用不得。〔時珍曰〕凡煉沙蜜，每斤入水四兩，銀石器內，以桑柴火慢煉，掠去浮沫，至滴水成珠不散乃用，謂之水火煉法。又法：以器盛，置重湯中煮一日，候滴水不散，取用亦佳，且不傷火也。</p>

<h2>露蜂房</h2>
<p>〔斆曰〕凡使革蜂窠，先以鴉豆枕等同拌蒸，從巳至未時，出鴉豆枕了，曬乾用。〔大明曰〕入藥並炙用。</p>

<h2>五倍子（百藥煎）</h2>
<p>〔時珍曰〕用五倍子為粗末。每一斤，以真茶一兩煎濃汁，入酵糟四兩，擂爛拌和，器盛置糠缸中罯之，待發起如發麵狀即成矣。捏作餅丸，曬乾用。〔嘉謨曰〕入藥者，五倍子（鮮者）十斤舂細，用瓷缸盛，稻草蓋，盦七日夜。取出再搗，入桔梗、甘草末各二兩，又盦一七。仍搗仍盦，滿七次，取出捏餅，曬乾用。如無鮮者，用乾者水漬為之。又方：五倍子一斤，生糯米一兩（滾水浸過），細茶一兩，以上共研末，入罐內封固，六月要一七，取開配合用。又方：五倍子一斤（研末），酒麴半斤，細茶一把（研末）。上用小蓼汁調勻，入缽中按緊，上以長稻草封固。另用籮一個，多著稻草，將藥缽坐草中，上以稻草蓋，置淨處。過一七後，看藥上長起長霜，藥則已成矣。或捏作丸，或作餅，曬乾才可收用。</p>

<h2>桑螵蛸</h2>
<p>〔別錄曰〕桑螵蛸生桑枝上，螳螂子也。二月、三月採，蒸過火炙用。不爾令人泄。</p>
<p>〔斆曰〕凡使勿用雜樹生者，名螺螺。須覓桑樹東畔枝上者。採得去核子，用沸漿水浸淘七次，鍋中熬乾用。別作修事無效也。〔韓保升曰〕三四月採得，以熱漿水浸一伏時，焙乾，於柳木灰中炮黃用。</p>

<h2>殭蠶</h2>
<p>〔別錄曰〕生穎川平澤。四月取自死者。勿令中濕，有毒不可用。〔弘景曰〕人家養蠶時，有合箔皆僵者，即曝燥都不壞。今見小白似有鹽度者為好。〔恭曰〕蠶自僵死，其色自白。陶云似有鹽度，誤矣。〔頌曰〕所在養蠶處有之。不拘早晚，但用白色而條直、食桑葉者佳。用時去絲綿及子，炒過。〔宗奭曰〕蠶有兩三番，惟頭番殭蠶最佳，大而無蛆。〔斆曰〕凡使，先以糯米泔浸一日，待蠶桑涎出，如蝸涎浮水上，然後漉出，微火焙乾，以布拭淨黃肉、毛，並黑口甲了，搗篩如粉，入藥。</p>

<h2>樗雞</h2>
<p>〔時珍曰〕凡使去翅、足，以糯米或用麵炒黃色，去米、面用。</p>

<h2>斑蝥</h2>
<p>〔斆曰〕凡斑蝥、芫青、亭長、地膽修事，並用糯米、小麻子相拌炒，至米黃黑色取出，去頭、足、兩翅，以血餘裹，懸東牆角上一夜，至明用之，則毒去也。〔大明曰〕入藥須去翅、足，糯米炒熟，不可生用，即吐瀉人。〔時珍曰〕一法用麩炒過，醋煮用之也。</p>

<h2>水蛭</h2>
<p>〔保升曰〕採得，以䈽竹筒盛，待乾，用米泔浸一夜，曝乾，以冬豬脂煎令焦黃，然後用之。〔藏器曰〕收干蛭，當展其身令長，腹中有子者去之。性最難死，雖以火炙，亦如魚子煙燻經年，得水猶活也。〔大明曰〕此物極難修治，須細銼，以微火炒，色黃乃熟。不爾，入腹生子為害。〔時珍曰〕昔有途行飲水，及食水菜，誤吞水蛭入腹，生子為害，啖咂臟血，腸痛黃瘦者。惟以田泥或擂黃土水飲數升，則必盡下出也。蓋蛭在人腹，忽得土氣而下爾。或以牛、羊熱血一、二升，同豬脂飲之，亦下也。</p>

<h2>蠐螬</h2>
<p>〔斆曰〕凡收得後陰乾，與糯米同炒，至米焦黑取出，去米及身上、口畔肉毛並黑塵了，作三四截，研粉用之。〔時珍曰〕諸方有乾研及生取汁者，又不拘此例也。</p>

<h2>蟬蛻</h2>
<p>〔時珍曰〕凡用蛻殼，沸湯洗，去泥土、翅、足，漿水煮過，曬乾用。</p>

<h2>蜣螂</h2>
<p>〔別錄曰〕五月五日採取蒸藏之，臨用（去足）火炙。勿置水中，令人吐。</p>

<h2>蜚虻</h2>
<p>〔大明曰〕入丸、散，去翅、足，炒熟用。</p>

<h2>蟾蜍</h2>
<p>〔蜀圖經曰〕五月五日採得，日乾或烘乾用。一法：去皮、爪，酒浸一宿，又用黃精自然汁浸一宿，塗酥，炙乾用。〔時珍曰〕今人皆於端午日捕取，風乾，黃泥固濟，煅存性用之。《永類鈐方》云：蟾目赤，腹無八字者不可用。崔實《四民月令》云：五月五日取蟾蜍，可治惡瘡。即此也。亦有酒浸取肉者。錢仲陽治小兒冷熱疳瀉，如聖丸，用乾者，酒煮成膏丸藥，亦一法也。</p>

<h2>蟾酥</h2>
<p>〔宗奭曰〕眉間白汁，謂之蟾酥。以油單紙裹眉裂之，酥出紙上，陰乾用。〔時珍曰〕取蟾酥不一：或以手捏眉稜，取白汁於油紙上及桑葉上，插背陰處，一宿即自乾白，安置竹筒內盛之，真者輕浮，入口味甜也；或以蒜及胡椒等辣物納口中，則蟾身白汁出，以竹篦刮下，面和成塊，干之。其汁不可入人目，令目赤、腫、盲。或以紫草汁洗點，即消。</p>

<h2>蛤蟆</h2>
<p>〔斆曰〕凡使蛤蟆，先去皮並腸及爪子，陰乾。每個用真牛酥一分塗，炙乾。若使黑虎，即連頭、尾、皮、爪並陰乾，酒浸三日，漉出焙用。</p>

<h2>蜈蚣</h2>
<p>〔斆曰〕凡使勿用千足蟲，真相似，只是頭上有白肉，面並嘴尖。若誤用，並把著，腥臭氣入頂，能致死也。凡制蜈蚣，先以蜈蚣木末（或柳蛀末）於土器中炒，令木末焦黑，去木末，以竹刀刮去足、甲用。〔時珍曰〕蜈蚣木不知是何木也。今人惟以火炙去頭、足用，或去尾、足，以薄荷葉火煨用之。</p>

<h2>馬陸</h2>
<p>〔雷曰〕凡收得馬陸，以糠頭炒，至糠焦黑，取出去糠，竹刀刮去頭、足，研末用。</p>

<h2>蚯蚓</h2>
<p>〔弘景曰〕若服干蚓，須熬作屑。〔斆曰〕凡收得，用糯米泔浸一夜，漉出，以無灰酒浸一日，焙乾切。每一兩，以蜀椒、糯米各二錢半同熬，至米熟，揀出用。〔時珍曰〕入藥有為末，或化水，或燒灰者，各隨方法。</p>

<h2>龍骨</h2>
<p>〔斆曰〕凡用龍骨，先煎香草湯浴兩度，搗粉，絹袋盛之。用燕子一隻，去腸肚，安袋於內，懸井面上，一宿取出，研粉。入補腎藥中，其效如神。〔時珍曰〕近世方法，但煅赤為粉。亦有生用者。《事林廣記》云：用酒浸一宿，焙乾研粉，水飛三度用。如急用，以酒煮焙乾。或云：凡入藥，須水飛過曬乾。每斤用黑豆一斗，蒸一伏時，曬乾用。否則著人腸胃，晚年作熱也。</p>

<h2>龍齒</h2>
<p>同龍骨。或云以酥炙。</p>

<h2>鼉甲</h2>
<p>酥炙，或酒炙用。</p>

<h2>鯪鯉甲</h2>
<p>〔時珍曰〕方用或炮、或燒，或酥炙、醋炙、童便炙，或油煎、土炒、蛤粉炒，當各隨本方，未有生用者。仍以尾甲乃力勝。</p>

<h2>石龍子</h2>
<p>〔時珍曰〕古方用酥炙或酒炙。惟治傳屍勞瘵天靈蓋丸，以石蜥蜴連腸肚，以醋炙四十九遍用之，亦一異也。</p>

<h2>蛤蚧</h2>
<p>〔斆曰〕其毒在眼。須去眼及甲上、尾上、腹上肉毛，以酒浸透，隔兩重紙緩焙令乾，以瓷器盛，懸屋東角上一夜用之，力可十倍，勿傷尾也。〔日華曰〕凡用去頭、足，洗去鱗鬣內不淨，以酥炙用（或用蜜炙）。〔李珣曰〕凡用須炙令黃色，熟搗。口含少許，奔走不喘息者，為真也。宜丸散中用。</p>

<h2>蛇蛻</h2>
<p>〔斆曰〕凡使，勿用青、黃、蒼色者，只用白色如銀者。先於地下掘坑，深一尺二寸，安蛻於中，一宿取出，醋浸炙乾用。〔時珍曰〕今人用蛇蛻，先以皂莢水洗淨纏竹上，或酒、或醋、或蜜浸，炙黃用。或燒存性，或鹽泥固煅，各隨方法。</p>

<h2>白花蛇</h2>
<p>〔頌曰〕頭尾各一尺，有大毒，不可用。只用中段乾者，以酒浸，去皮、骨，炙過收之則不蛀。其骨刺須遠棄之，傷人，毒與生者同也。〔宗奭曰〕凡用去頭尾，換酒浸三日，火炙，去盡皮、骨。此物甚毒，不可不防。〔時珍曰〕黔蛇長大，故頭尾可去一尺。蘄蛇止可頭尾各去三寸。亦有單用頭尾者。大蛇一條，只得淨肉四兩而已。久留易蛀，惟取肉密封藏之，十年亦不壞也。按《聖濟總錄》云：凡用花蛇，春秋酒浸三宿，夏一宿，冬五宿，取出炭火焙乾，如此三次。以砂瓶盛，埋地中一宿，出火氣。去皮、骨，取肉用。</p>

<h2>烏賊魚骨</h2>
<p>〔弘景曰〕炙黃用。〔斆曰〕凡使勿用沙魚骨，其形真似。但以上文順者是真，橫者是假。以血滷作水浸，並煮一伏時漉出。掘一坑燒紅，入魚骨在內，經宿取出入藥，其效加倍也。</p>

<h2>龜甲</h2>
<p>以龜甲鋸去四邊，石上磨淨，灰火炮過，塗酥炙黃用。亦有酒炙、醋炙、豬脂炙、燒灰用者。</p>

<h2>秦龜甲</h2>
<p>〔李珣曰〕經卜者更妙。以酥或酒炙黃用。</p>

<h2>綠毛龜</h2>
<p>〔時珍曰〕此龜古方無用者。近世滋補方往往用之，大抵與龜甲同功。劉氏先天丸用之，其法用龜九枚，以活鯉二尾安釜中，入水，覆以米篩，安龜在篩上蒸熟，取肉曬乾。其甲仍以酥炙黃，入藥用。又有連甲、肉、頭、頸俱用者。</p>

<h2>鱉甲</h2>
<p>〔別錄曰〕鱉甲生丹陽池澤。採無時。〔頌曰〕今處處有之，以岳州·沅江所出甲有九肋者為勝。入藥以醋炙黃用。〔弘景曰〕採得，生取甲，剔去肉者，為好。凡有連厭及干岩者便真。若肋骨出者是煮熟，不可用。〔斆曰〕凡使。要綠色、九肋、多裙、重七兩者為上。用六一泥固瓶子底，待乾，安甲於中，以物支起。若治症塊定心藥，用頭醋入瓶內，大火煎，盡三升，乃去裙、肋骨，炙乾入用。若治勞去熱藥，不用醋，用童子小便煎，盡一斗二升，乃去裙留骨，石臼搗粉，以雞膍皮裹之，取東流水三斗盆盛，閣於盆上，一宿取用，力有萬倍也。〔時珍曰〕按《衛生寶鑑》云：「凡鱉甲，以煅灶灰一斗，酒五升，浸一夜，煮令爛如膠漆用，更佳。桑柴灰尤妙。」</p>

<h2>蟹</h2>
<p>〔時珍曰〕凡蟹生烹，鹽藏糟收，酒浸、醬汁浸，皆為佳品。但久留易沙，見燈亦沙，得椒易䐈。得皂莢或蒜及韶粉可免沙䐈。得白芷則黃不散。得蔥及五味子同煮則色不變。藏蟹名曰蝑蟹（音瀉）。（䐈，義同黏敗。）</p>

<h2>牡蠣</h2>
<p>〔宗奭曰〕凡用，須泥固燒為粉。亦有生用者。〔斆曰〕凡用牡蠣，先用二十個，以東流水入鹽一兩，煮一伏時，再入火中煅赤，研粉用。〔時珍曰〕按溫隱居云：「牡蠣將童尿浸四十九日（五日一換），取出，以硫黃末和米醋塗上，黃泥固濟，煅過用。」</p>

<h2>真珠</h2>
<p>〔李珣曰〕凡用，以新完未經鑽綴者研如粉，方堪服食。不細則傷人臟腑。〔斆曰〕凡用以新淨者絹袋盛之。置牡蠣約重四、五斤以來於平底鐺中，以物四向支穩，然後著珠於上。乃下地榆、五花皮、五方草各（銼）四兩，籠住，以漿水不住火煮三日夜。取出，用甘草湯淘淨於臼中搗細重篩，更研二萬下，方可服食。〔慎微曰〕抱朴子云：真珠徑寸以上，服食令人長生。以酪漿漬之，皆化如水銀，以浮石、蜂巢、蛇黃等物合之，可引長三四尺，為丸服之。〔時珍曰〕凡入藥，不用首飾及見屍氣者。以人乳浸三日，煮過如上搗研。一法：以絹袋盛，入豆腐腹中，煮一炷香，云不傷珠也。</p>

<h2>海蛤</h2>
<p>〔斆曰〕凡使海蛤，勿用遊波蟲骨。真相似，只是面上無光。誤餌之，令人狂走欲投水，如鬼祟，惟醋解之立愈。其海蛤用漿水煮一伏時，每一兩入地骨皮、柏葉各二兩，煮一伏時，東流水淘三次，搗粉用。〔保升曰〕取得，以半天河煮五十刻，以枸杞汁拌勻，入䈽竹筒內蒸一伏時，搗用。</p>

<h2>石決明</h2>
<p>〔珣曰〕凡用以麵裹煨熟，磨去粗皮，爛搗，再乳細如面，方堪入藥。〔斆曰〕每五兩用鹽半分，同東流水入瓷器內煮一伏時，搗末研粉。再用五花皮、地榆、阿膠各十兩，以東流水淘三度，日乾，再研一萬下，入藥。服至十兩，永不得食山桃，令人喪目。〔時珍曰〕今方家只以鹽同東流水煮一伏時，研末水飛用。</p>

<h2>蛤粉</h2>
<p>〔震亨曰〕用蛤蜊燒煅成粉，不入煎劑。〔時珍曰〕按吳球云：凡用蛤粉，取紫口蛤蜊殼，炭火煅成，以熟栝蔞連子同搗，和成團，風乾用，最妙。</p>

<h2>魁蛤</h2>
<p>〔日華曰〕凡用，取陳久者炭火煅赤，米醋淬三度，出火毒，研粉。</p>

<h2>貝子</h2>
<p>〔珣曰〕凡入藥，燒過用。〔斆曰〕凡使，勿用花蟲殼，真相似，只是無效。貝子以蜜、醋相對浸之，蒸過取出，以清酒淘，研。</p>

<h2>珂</h2>
<p>〔斆曰〕珂，要冬採得色白膩者，並有白旋水文。勿令見火，即無用也。凡用以銅刀刮末研細，重羅再研千下，不入婦人藥也。</p>

<h2>甲香</h2>
<p>〔斆曰〕凡使，用生茅香、皂角同煮半日，石臼搗篩用之。〔經驗方曰〕凡使，用黃泥同水煮一日，溫水浴過；再以米泔或灰汁煮一日，再浴過；以蜜、酒煮一日，浴過曝乾用。〔頌曰〕傳信方載其法，云：每甲香一斤，以泔鬥半，微火煮一復時，換泔再煮。凡三換漉出，眾手刮去香上涎物。以白蜜三合，水一斗，微火煮乾。又以蜜三合，水一斗，再煮。都三複時，以香爛止。乃以炭火燒地令熱，灑酒令潤，鋪香於上，以新瓦蓋上一伏時。待冷硬，石臼木杵搗爛。入沉香末三兩，麝一分，和搗印成，以瓶貯之，埋過經久方燒。凡燒此香，須用大火爐，多著熱灰、剛炭猛燒令盡，去之。爐旁著火暖水，即香不散。此法出於劉兗奉禮也。〔宗奭曰〕甲香善能管香菸，與沉、檀、龍、麝香用之。尤佳。</p>

<h2>人牙</h2>
<p>〔時珍曰〕兩旁曰牙，當中曰齒。入藥燒用。《錢氏小兒方》云：「用人牙燒存性。入麝香少許，溫酒服半錢。治痘瘡倒黶。」聞人規《痘疹論》云：人牙散：「治痘瘡方出，見倒黶，或青紫，或變黑，用人齒脫落者，不拘多少，瓦罐固濟，煅過出火毒，研末用。」</p>

<h2>糞清</h2>
<p>〔大明曰〕臘月截淡竹，去青皮，納糞中，浸滲取汁，治天行熱疾中毒，名糞清。〔弘景曰〕以空罌塞口，納糞中，積年得汁，甚黑而苦，名為黃龍湯，療溫病垂死者皆瘥。</p>

<h2>人中黃</h2>
<p>〔震亨曰〕人中黃，以竹筒入甘草末於內，竹木塞兩頭，冬月浸糞缸中，立春取出，懸風處陰乾，破竹取草，曬乾用。</p>

<h2>爪甲</h2>
<p>〔普濟〕治破傷風。用人手足指甲燒存性六錢，薑製南星、獨活、丹砂各二錢，為末，分作二服，酒下。</p>

<h2>亂髮</h2>
<p>〔別錄〕鼻衄，亂髮燒灰，吹之立已。〔華佗中藏經〕頭髮切，入銚內炒存性。研。</p>
<p>〔斆曰〕發髲，是男子年二十以來，無疾患，顏貌紅白，於頂心剪下者。入丸藥膏中用，先以苦參水浸一宿，漉出入瓶子，以火煅赤，放冷研用。〔時珍曰〕今人以皂莢水洗淨，曬乾，入罐固濟，煅存性用，亦良。</p>

<h2>天靈蓋</h2>
<p>〔藏器曰〕凡用彌腐爛者乃佳。有一片如三指闊者，取得，用煻火罨一夜。待腥穢氣盡，卻用童男溺，於瓷鍋子中煮一伏時，漉出。於屋下掘一坑，深一尺，置骨於中一伏時，其藥魂歸神妙。陽人使陰，陰人使陽。〔好古曰〕方家有用檀香湯洗過，酥炙用，或燒存性者。男骨色不赤，女骨色赤，以此別之也。</p>

<h2>人胞</h2>
<p>〔吳球曰〕紫河車，古方不分男女。近世男用男，女用女：一云男病用女，女病用男。初生者為佳，次則健壯無病婦人者亦可。取得，以清米泔擺淨，竹器盛，於長流水中洗去筋膜，再以乳香酒洗過，篾籠盛之，烘乾研末。亦有瓦焙研者，酒煮搗爛者，甑蒸搗曬者，以蒸者為佳。董炳云：今人皆酒煮火焙及去筋膜，大誤矣。火焙水煮，其子多不育，惟蒸搗和藥最良。筋膜乃初結真氣，不可剔去也。</p>

<h2>胞衣水</h2>
<p>〔藏器曰〕此乃胞衣埋地下，七八年化為水，澄徹如冰。南方人以甘草、升麻和諸藥，瓶盛埋之，三五年後掘出，取為藥也。</p>

<h2>豬脂</h2>
<p>〔時珍曰〕凡凝者為肪為脂，釋者為膏為油，臘月煉淨收用。〔恭曰〕十二月上亥日，取入新瓶，埋亥地百日用之，名膒脂。每升入雞子白十四枚，更良。〔弘景曰〕勿令中水。臘月者歷年不壞。項下膏謂之負革肪，入道家煉五金用。</p>

<h2>白馬陰莖</h2>
<p>〔藏器曰〕凡收，當取銀色無病白馬，春月遊牝時，力勢正強者，生取陰乾，百日用。</p>
<p>〔斆曰〕用時以銅刀破作七片，將生羊血拌蒸半日，曬乾，以粗布拭去皮及乾血，銼碎用。</p>

<h2>阿膠</h2>
<p>〔弘景曰〕凡用皆火炙之。〔斆曰〕凡用，先以豬脂浸一夜，取出，柳木火上炙燥研用。</p>
<p>〔時珍曰〕今方法或炒成珠，或以麵炒，或酥炙，或以蛤粉炒，或以草灰炒，或酒化成膏，或水化膏，當各從本方。</p>

<h2>牛黃</h2>
<p>〔斆曰〕凡用，單搗細研如塵，絹裹定，以黃嫩牛皮裹，懸井中一宿，去水三四尺，明早取之。</p>

<h2>虎骨</h2>
<p>〔頌曰〕虎骨用頭及脛骨，色黃者佳。凡虎身數物，俱用雄虎者勝。藥箭射殺者，不可入藥，其毒浸漬骨血間，能傷人也。〔時珍曰〕凡用虎之諸骨，並捶碎去髓，塗酥或酒或醋，各隨方法，炭火炙黃入藥。</p>

<h2>虎睛</h2>
<p>〔頌曰〕虎睛多偽，須自獲者乃真。〔斆曰〕凡使虎睛，須問獵人：有雌有雄，有老有嫩，有殺得者。惟中毒自死者勿用之，能傷人。虎睛，以生羊血浸一宿漉出，微火焙乾，搗粉用。〔時珍曰〕《千金》治狂邪，有虎睛湯、虎睛丸，並用酒浸炙乾用。</p>

<h2>象膽</h2>
<p>〔斆曰〕凡使勿用雜膽。其象膽幹了，上有青竹文斑光膩，其味微帶甘。入藥勿便和眾藥，須先搗成粉，乃和眾藥。（按：本條《大觀》、《政和》無。）</p>

<h2>犀角</h2>
<p>〔弘景曰〕入藥惟雄犀生者為佳。若犀片及見成器物皆被蒸煮，不堪用。〔頌曰〕凡犀入藥有黑白二種，以黑者為勝，角尖又勝。生犀不獨未經水火者，蓋犀有捕得殺取者為上，蛻角者次之。〔宗奭曰〕鹿取茸，犀取尖，其精銳之力盡在是也。以西番生犀磨服為佳，入湯、散則屑之。〔斆曰〕凡使，勿用奴犀、牸犀、病水犀、攣子犀、無潤犀。惟取烏黑肌皺、坼裂光潤者，錯屑，入臼杵，細研萬匝乃用。〔李珣曰〕凡犀角鋸成，當以薄紙裹於懷中蒸燥，乘熱搗之，應手如粉。故《歸田錄》云：翡翠屑金，人氣粉犀。</p>

<h2>熊脂</h2>
<p>〔斆曰〕凡取得，每一斤入生椒十四個，同煉過，器盛收之。</p>

<h2>熊掌</h2>
<p>《聖惠方》云：熊掌難胹（義同爛），得酒、醋、水三件同煮，熟即大如皮球也。</p>

<h2>羚羊角</h2>
<p>〔斆曰〕凡用，有神羊角甚長，有二十四節，內有天生木胎。此角有神力，可抵千牛。凡使不可單用，須要不拆元對，繩縛，鐵銼銼細，重重密裹，避風，以旋旋取用，搗極細，更研萬匝入藥，免刮人腸。</p>

<h2>鹿茸</h2>
<p>〔別錄曰〕四月、五月解角時取，陰乾，使時燥。〔恭曰〕鹿茸，夏收之陰乾，百不收一，且易臭，惟破之火干大好。〔斆曰〕凡使鹿茸，用黃精自然汁浸兩日夜，漉出切焙搗用，免渴人也。又法：以鹿茸鋸作片，每五兩，用羊脂三兩，拌天靈蓋末塗之，慢火炙令內外黃脆，以鹿皮裹之，安室中一宿，則藥魂歸矣。乃慢火焙乾，搗末用。〔日華曰〕只用酥炙炒研。〔宗奭曰〕茸上毛，先以酥薄塗勻，於烈焰中灼之，候毛盡微炙。不以酥，則火焰傷茸矣。〔時珍曰〕《澹寮》、《濟生》諸方，有用酥炙、酒炙，及酒蒸焙用者，當各隨本方。</p>

<h2>鹿角</h2>
<p>〔詵曰〕凡用鹿角、麋角，並截段錯屑，以蜜浸過，微火焙，令小變色，曝乾，搗篩為末。或燒飛為丹，服之至妙。以角寸截，泥裹，於器中大火燒一日，如玉粉也。〔時珍曰〕按崔行功《纂要方》。鹿角粉法：以鹿角寸截，炭火燒過，搗末，水和成團，以絹袋三五重盛之，再煅再和，如此五度，以牛乳和，再燒過研用。</p>

<h2>白膠</h2>
<p>（一名鹿角膠）〔別錄曰〕白膠生雲中，煮鹿角作之。〔弘景曰〕今人少復煮作，惟合角弓用之。其法：先以米瀋汁漬七日令軟，煮煎如作阿膠法耳。又一法：銼角令細，入干牛皮一片，即易消爛。不爾，雖百年無一熟也。〔恭曰〕鹿角、麋角，但煮濃汁重煎，即為膠矣，何必使爛？欲求爛亦不難，陶未見耳。〔詵曰〕作膠法：細破寸截，以河水浸七日令軟，方煮之。〔斆曰〕採全角鋸開，並長三寸，以物盛，於急水中浸一百日取出，刀刮去黃皮，拭淨。以釅醋煮七日，旋旋添醋，勿令少歇。戌時不用著火，只從子至戌也。日足，角白色，軟如粉。搗爛，每十兩入無灰酒一鎰，煮成膠，陰乾研篩用。〔時珍曰〕今人呼煮爛成粉者，為鹿角霜；取粉熬成膠，或只以濃汁熬成膏者，為鹿角膠。按胡⿰⺩熒《衛生方》云：以米泔浸鹿角七日令軟，入急流水中浸七日，去粗皮，以東流水、桑柴火煮七日，旋旋添水，入醋少許，搗成霜用。其汁，加無灰酒，熬成膠用。又邵以正《濟急方》云：用新角三對，寸截，盛於長流水浸三日，刮淨，入楮實子、桑白皮、黃蠟各二兩，鐵鍋中水煮三日夜，不可少停，水少即添湯。日足，取出刮淨，曬研為霜。韓𢘅《醫通》云：以新鹿角寸截，囊盛，於流水中浸七日，以瓦缶入水，桑柴火煮。每一斤，入黃蠟半斤，以壺掩住，水少旋添。其角軟，以竹刀刮淨，搗為霜用。</p>

<h2>麋角</h2>
<p>〔斆曰〕麋角，頂根上有黃毛若金線，兼旁生小尖也。色蒼白者為上。〔詵曰〕凡用麋角，可五寸截之，中破，炙黃為末，入藥。〔時珍曰〕麋鹿茸角，今人罕能分別。陳自明以小者為鹿茸，大者為麋茸，亦臆見也。不若親視其採取時為有準也。造麋角膠、麋角霜，並與鹿角膠、鹿角霜同法。又《集靈方》云：用麋角一雙，水浸七日，刮去皮，銼屑。以銀瓶盛牛乳浸一日，乳耗再加，至不耗乃止。用油紙密封瓶口。別用大麥鋪鍋中三寸，上安瓶，再以麥四周填滿，入水浸一伏時，水耗旋加，待屑軟如面取出，焙研成霜用。</p>
<p>〔附〕麋茸修治與鹿茸同。</p>

<h2>麝香</h2>
<p>〔斆曰〕凡使麝香，用當門子尤妙。以子日開之，微研用，不必苦細也。</p>

<h2>貓屎</h2>
<p>臘月採乾者，泥固，燒存性，收用。</p>

<h2>膃肭臍</h2>
<p>〔斆曰〕用酒浸一日，紙裹炙香銼搗。或於銀器中，以酒煎熟合藥。〔時珍曰〕以漢椒、樟腦同收，則不壞。</p>

<h2>蝟皮</h2>
<p>細銼，炒黑入藥。</p>

<h2>雄雀屎</h2>
<p>〔日華曰〕凡鳥右翼掩左者是雄。其屎頭尖挺直。〔斆曰〕凡使，勿用雀兒糞。雀兒口黃，未經淫者也。其雀蘇底坐尖在上是雄，兩頭圓者是雌。陰人使雄，陽人使雌。臘月採得，去畔附著者，缽中研細，以甘草水浸一夜，去水焙乾用。〔時珍曰〕《別錄》止用雄雀屎。雌雄分用，則出自雷氏也。</p>

<h2>伏翼</h2>
<p>〔斆曰〕凡使要重一斤者。先拭去肉上毛，及去爪、腸，留肉、翅並嘴、腳。以好酒浸一宿，取出以黃精自然汁五兩，塗炙至盡，炙乾用。〔時珍曰〕近世用者，多煅存性耳。</p>

<h2>天鼠屎</h2>
<p>〔時珍曰〕凡採得，以水淘去灰土惡氣，取細沙曬乾焙用。其沙乃蚊蚋眼也。</p>

<h2>五靈脂</h2>
<p>〔頌曰〕此物多夾沙石，絕難修治。凡用研為細末，以酒飛去沙石，曬乾收用。</p>

<h2>鴟頭</h2>
<p>〔弘景曰〕雖不限雌雄，雄者當勝。用須微炙。不用蠹者。古方治頭面方有鴟頭酒。</p>

<h1>卷五·果菜米穀類</h1>

<h2>山楂</h2>
<p>〔時珍曰〕九月霜後取帶熟者，去核曝乾，或蒸熟去皮核，搗作餅子，日乾用。</p>

<h2>白柿</h2>
<p>〔時珍曰〕白柿即乾柿生霜者。其法用大柿去皮捻扁，日曬夜露至干，內甕中，待生白霜乃取出。今人謂之柿餅，亦曰柿花。其霜謂之柿霜。</p>

<h2>醂柿</h2>
<p>〔瑞曰〕水藏者性冷，鹽藏者有毒。〔時珍曰〕醂，藏柿也。水收、鹽浸之外，又有以熟柿用灰汁澡三四度，令汁盡著器中，經十餘日即可食，治病非宜。</p>

<h2>柿糕</h2>
<p>〔時珍曰〕案李氏《食經》云：用糯米（洗淨）一斗，大幹柿五十個，同搗粉蒸食。如干，入煮棗泥和拌之。</p>

<h2>石榴皮</h2>
<p>〔斆曰〕凡使榴皮、葉、根勿犯鐵，並不計乾溼，皆以漿水浸一夜，取出用，其水如墨汁也。</p>

<h2>黃橘皮</h2>
<p>〔斆曰〕凡使勿用柚皮、皺子皮，二件用不得。凡修事，須去白膜一重，銼細，以鯉魚裹一宿，至明取用。〔宗奭曰〕本草橘柚作一條，蓋傳誤也。後世不知，以柚皮為橘皮，是貽無窮之患矣。此乃六陳之一，天下日用所須。今人又多以乳柑皮亂之，不可不擇也。柑皮不甚苦，橘皮極苦，至熟亦苦。或以皮之緊慢分別，又因方土不同，亦互有緊慢也。〔時珍曰〕橘皮紋細色紅而薄，內多筋脈，其味苦辛。柑皮紋粗色黃而厚，內多白膜，其味辛甘。柚皮最厚而虛，紋更粗，色黃，內多膜無筋，其味甘多、辛少，但以此別之，即不差矣。橘皮性溫，柑、柚皮性冷，不可不知。今天下多以廣中來者為勝，江西者次之。然亦多以柑皮雜之。柑皮猶可用，柚皮則懸絕矣。凡橘皮入和中理胃藥則留白，入下氣消痰藥則去白，其說出於聖濟經。去白者，以白湯入鹽洗潤透，刮去筋膜，曬乾用。亦有煮焙者，各隨本方。</p>

<h2>青橘皮</h2>
<p>〔時珍曰〕青橘皮乃橘之未黃而青色者，薄而光，其氣芳烈。今人多以小柑、小柚、小橙偽為之，不可不慎辨之。入藥以湯浸去瓤，切片醋拌，瓦炒過用。</p>

<h2>橘核</h2>
<p>〔時珍曰〕凡用須以新瓦焙香，去殼取仁，研碎入藥。</p>

<h2>薯蕷</h2>
<p>〔頌曰〕採白根刮去黃皮，以水浸之，糝白礬末少許入水中，經宿淨洗去涎，焙乾用。</p>
<p>〔宗奭曰〕入藥貴生干之，故古方皆用乾山藥。蓋生則性滑，不可入藥；熟則滯氣，只堪啖耳。其法：冬月以布裹手，用竹刀刮去皮，竹篩盛，置檐風處，不得見日，一夕干五分，候全乾收之。或置焙籠中，微火烘乾亦佳。〔斆曰〕凡使勿用平田生二、三紀者，須要山中生經十紀者。皮赤，四面有須者妙。採得以銅刀刮去赤皮，洗去涎，蒸過曝乾用。</p>

<h2>李根皮</h2>
<p>〔時珍曰〕李根皮取東行者，刮去皺皮，炙黃入藥用。《別錄》不言用何等李根，亦不言其味。但《藥性論》云：入藥用苦李根皮，味鹹。而張仲景治奔豚氣，奔豚湯中用甘李根白皮。則甘、苦二種皆可用歟？</p>

<h2>杏仁</h2>
<p>〔別錄曰〕五月採之。〔弘景曰〕凡用杏仁，以湯浸去皮尖，炒黃。或用面麩炒過。</p>
<p>〔斆曰〕凡用，以湯浸去皮尖。每斤入白火石一斤，烏豆三合，以東流水同煮，從巳至午，取出曬乾用。〔時珍曰〕治風寒肺病藥中，亦有連皮尖用者，取其發散也。</p>

<h2>烏梅</h2>
<p>〔弘景曰〕用須去核，微炒之。〔時珍曰〕造法：取青梅籃盛，於突上燻黑。若以稻灰淋汁潤濕蒸過，則肥澤不蠹。又白梅、霜梅取大青梅以鹽汁漬之，日曬夜漬，十日成矣。久乃上霜。</p>

<h2>桃核仁</h2>
<p>〔別錄曰〕七月採，取仁陰乾。〔斆曰〕凡使須去皮，用白朮、烏豆二味，同於坩鍋中煮二伏時，漉出劈開，心黃如金色乃用。〔時珍曰〕桃仁行血，宜連皮、尖生用。潤燥活血，宜湯浸去皮、尖，炒黃用。或麥麩同炒，或燒存性，各隨本方。雙仁者有毒，不可食。</p>

<h2>桃花</h2>
<p>〔別錄曰〕三月三日採，陰乾之。</p>
<p>〔斆曰〕桃花勿用千葉者，令人鼻衄不止，目黃。收花揀淨，以絹袋盛，懸檐下令乾用。</p>

<h2>桃莖及白皮</h2>
<p>〔時珍曰〕樹皮、根皮皆可，用根皮尤良。並取東行者，刮去粗皮，取白皮入藥。</p>

<h2>桃膠</h2>
<p>〔時珍曰〕桃茂盛時，以刀割樹皮，久則膠溢出，採收，以桑灰湯浸過，曝乾用。如服食，當依本方修煉。</p>

<h2>木瓜</h2>
<p>〔斆曰〕凡使木瓜，勿犯鐵器，以銅刀削去硬皮並子，切片曬乾，以黃牛乳汁拌蒸，從巳至未，待如膏煎，乃曬用也。</p>
<p>〔時珍曰〕今人但切片曬乾入藥爾。按《大明會典》：宣州歲貢烏爛蟲蛀木瓜入御藥局。亦取其陳久無木氣，如栗子去木氣之義爾。</p>

<h2>枇杷葉</h2>
<p>〔恭曰〕凡用須火炙，以布拭去毛。不爾射入肺，令咳不已。或以粟稈作刷刷之，尤易潔淨。〔斆曰〕凡採得秤，濕葉重一兩，乾者三葉重一兩，乃為氣足，堪用。粗布拭去毛，以甘草湯洗一遍，用綿再拭乾。每一兩以酥二錢半塗上，炙過用。〔時珍曰〕治胃病以薑汁塗炙，治肺病以蜜水塗炙，乃良。</p>

<h2>橡實</h2>
<p>〔雷曰〕霜後收採，去殼蒸之，從巳至未，銼作五片，日乾用。〔周定王曰〕取子換水，浸十五次，淘去澀味，蒸極熟食之，可以濟飢。</p>

<h2>橡實的鬥殼</h2>
<p>〔大明曰〕入藥並宜搗細，炒焦或燒存性研用。</p>

<h2>槲若</h2>
<p>〔頌曰〕若即葉之名也。入藥須微炙令焦。</p>

<h2>檳榔</h2>
<p>〔斆曰〕頭圓矮毗者為榔，形尖紫紋者為檳。檳力小，榔力大。凡使用白檳及存坐穩正、心堅有錦紋者為妙。半白半黑並心虛者，不入藥用。以刀刮去底，細切之。勿令經火，恐無力。若熟使，不如不用。〔時珍曰〕近時方藥亦有以火煨焙用者，然初生白檳榔，須本境可得。若他處者，必經煮熏，安得生者耶？又檳榔生食，必以扶留藤、古賁灰為使，相合嚼之，吐去紅水一口，乃滑美不澀，下氣消食。此三物相去甚遠，為物各異，而相成相合如此，亦為異矣。俗謂「檳榔為命賴扶留」以此。古賁灰即蠣蚌灰也。賁乃蚌字之訛。瓦屋子灰亦可用。</p>

<h2>大腹子</h2>
<p>〔思邈曰〕鴆鳥多集檳榔樹上。凡用檳榔皮，宜先以酒洗，後以大豆汁再洗過，曬乾入灰火燒煨，切用。</p>

<h2>椰子</h2>
<p>〔頌曰〕不拘時月採其根皮，入藥炙用。一云：其實皮亦可用。</p>

<h2>蜀椒</h2>
<p>〔斆曰〕凡使南椒須去目及閉口者，以酒拌濕蒸，從巳至午，放冷密蓋，無氣後取出，便入瓷器中，勿令傷風也。</p>
<p>〔宗奭曰〕凡用秦椒、蜀椒，並微炒使出汗，乘熱入竹筒中，以梗搗去裡面黃殼，取紅用，未盡再搗。或只炒熱，隔紙鋪地上，以碗覆，待冷碾取紅用。</p>

<h2>蓽澄茄</h2>
<p>〔斆曰〕凡採得，去柄及皺皮了，用酒浸蒸之，從巳至酉，杵細曬乾，入藥用。</p>

<h2>吳茱萸</h2>
<p>〔斆曰〕凡使去葉梗，每十兩以鹽二兩投東流水四斗中，分作一百度洗之，自然無涎，日乾入丸散用之。若用醋煮者，每十兩用醋一鎰，煮三十沸後，入茱萸熬乾用。〔宗奭曰〕凡用吳茱萸，須深湯中浸去苦烈汁七次，始可焙用。</p>

<h2>甜瓜子仁</h2>
<p>〔斆曰〕凡收得曝乾杵細，馬尾篩篩過成粉，以紙三重裹壓去油用。不去油，其力短也。西瓜子仁同。</p>

<h2>甜瓜蒂</h2>
<p>〔斆曰〕凡使勿用白瓜蒂，要取青綠色瓜，氣足時，其蒂自然落在蔓上。採得，系屋東有風處，吹乾用。</p>
<p>〔宗奭曰〕此甜瓜蒂也。去瓜皮用蒂，約半寸許，曝極干，臨時研用。</p>
<p>〔時珍曰〕按唐瑤云：甜瓜蒂以團而短瓜、團瓜者良。若香甜瓜長如瓠子者，皆供菜之瓜，其蒂不可用也。</p>

<h2>蓮實</h2>
<p>〔弘景曰〕藕實即蓮子，八、九月採黑堅如石者，干搗破之。〔頌曰〕其菂至秋黑而沉水，為石蓮子，可磨為飯食。</p>
<p>〔時珍曰〕石蓮剁去黑殼，謂之蓮肉。以水浸去赤皮、青心，生食甚佳。入藥須蒸熟去心，或曬或焙乾用。亦有每一斤，用獖豬肚一個盛貯，煮熟搗焙用者。今藥肆一種石蓮子，狀如土石而味苦，不知何物也？</p>

<h2>荷葉</h2>
<p>〔大明曰〕入藥並炙用。</p>

<h2>芡實</h2>
<p>〔詵曰〕凡用蒸熟，烈日曬裂取仁，亦可舂取粉用。</p>
<p>〔時珍曰〕新者煮食良。入澀精藥，連殼用也可。案劉跂《暇日記》云：芡實一斗，以防風四兩煎湯浸過用，且經久不壞。</p>

<h2>韭子</h2>
<p>〔大明曰〕入藥揀淨，蒸熟曝乾，簸去黑皮，炒黃用。</p>

<h2>胡蔥</h2>
<p>〔斆曰〕凡採得依紋擘碎，用綠梅子相對拌蒸一伏時，去梅子，砂盆中研如膏，瓦器曬乾用。</p>

<h2>灰藋</h2>
<p>〔斆曰〕灰藋即金鎖天葉，撲蔓翠上，往往有金星，堪用。若白青色者，是忌女莖，不中用也。若使金鎖天，莖高二尺五、六寸為妙。若長若短，皆不中使。凡用勿令犯水，去根日乾，以布拭去肉毛令盡，細銼，焙乾用之。〔時珍曰〕妓女莖即地膚子苗，與灰藋莖相似而葉不同。亦可為蔬。</p>

<h2>胡麻</h2>
<p>〔弘景曰〕服食胡麻，取烏色者，當九蒸九曝，熬搗餌之。斷谷，長生，充飢，雖易得，而學者未能常服，況余藥耶？蒸不熟，令人發落。其性與茯苓相宜。俗方用之甚少，時以合湯丸爾。</p>
<p>〔斆曰〕凡修事以水淘去浮者，曬乾，以酒拌蒸，從巳至亥，出攤曬乾。臼中舂去粗皮，留薄皮。以小豆對拌，同炒。豆熟，去豆用之。</p>

<h2>大麻</h2>
<p>〔宗奭曰〕麻仁極難去殼。取帛包置沸湯中，浸至冷出之。垂井中一夜，勿令著水。次日日中曝乾，就新瓦上挼去殼，簸揚取仁，粒粒皆完。張仲景麻仁丸，即此大麻子中仁也。</p>

<h2>薏苡仁</h2>
<p>〔斆曰〕凡使，每一兩，以糯米一兩同炒熟，去糯米用。亦有更以鹽湯煮過者。</p>

<h2>罌粟殼</h2>
<p>〔時珍曰〕凡用以水洗潤，去蒂及筋膜，取外薄皮，陰乾細切，以米醋拌炒入藥。亦有蜜炒、蜜炙者。</p>

<h2>扁豆</h2>
<p>〔時珍曰〕凡用取硬殼扁豆子，連皮炒熟，入藥。亦有水浸去皮生用者，從本方。</p>
