<header data-type="book">
<h1>王九峰醫案（一）</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王九峰</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1813">公元1813年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>吾鄉王九峰先生，精於岐黃，上自《靈》、《素》，下逮薛、喻諸家，無不研求貫串。出其方劑，無不應手奏效。求治者日益多，馳名於江南北。吳江徐靈胎先生即九峰之師也。徐先生歿後，論良醫者，莫不嘖嘖稱九峰。顧自洪、楊之後，醫案散佚，未有專書。余少嗜醫理，前在邗江，獲見徐蔭庭所抄九峰醫案，借歸讀之，見其論症選藥，思路深細，用法精到，頗能獨開生面，發前人之未發，因抄成冊。繼到京師，與同里王紹棠同寓。紹棠所錄同里蔣寶素醫略，載有九峰醫案。寶素其高足也，乃復另抄一冊。暇與紹棠縱談醫理，出其所抄九峰醫案三本，取而比較，大略相同。第皆序次紊亂，閱者不能爽目。又展轉傳抄，魯魚亥豕，所在多有。爰為審批排比，簡其精粹，分其門類，正其錯誤，稍稍劃一。其有錯落訛誤，無從更正者，一仍其舊從疑。以存疑之例，蓋慎之也。以醫略中所載為正卷，後編者為副卷，嗣又得若干條，歸入補遺。此後如再有所獲，續為搜人。惟校勘恐有未當，尚希同志之士，匡我不逮。錄成，其志緣起如此。</p>
<p><u>時民國十二年八月望日，朱方嚴敦益受甫氏號漁隱識于都門</u></p>

<h1>正卷</h1>

<h2>一、真中風</h2>
<p>（案1）邪之所湊，其氣必虛。卒然傾跌，神識不清，口眼喎斜，語言謇澀，溲赤而渾，苔黃而厚，脈來沉數。陰虧水不涵木，七情鬱結化火，風邪乘襲厥陰，橫擾陽明。目為肝竅，胃脈挾口環唇，肝在聲為呼，胃受疾則噦，諸汗屬陽明，謹防呃逆鼾呼大汗。擬玉屏風散升麻葛根湯二方加味，外以桂酒塗頰。</p>
<p>玉屏風散升麻葛根湯加生地、歸身</p>
<p>桂酒塗頰法：肉桂（三錢，研末）　高燒酒（二兩）　煎百沸，塗兩頰，不必拘左右。加入馬脂更妙。</p>
<p>昨藥後，夜來神志漸清，語言漸爽，黃苔漸腐，身有微熱微汗，大解一次，溲轉渾黃，沉數之脈依然，口目喎斜未正。證本陰虛火盛，情志乖違，腠理開疏，為風所襲，擾亂厥明之絡。原方加減，仍以桂酒塗頰。</p>
<p>前方去升麻，加黨參</p>
<p>厥陰為風木之臟，陽明為十二經脈之長。真陰素虧，肝木自燥，木燥召風，虛風直襲，攻其無備，是以卒中之也。連進玉屏風散升麻葛根湯二方加減，神識已清，語言已爽，飲食漸進，身熱得微汗已解，大便如常，溲色較淡，黃腐之苔漸退，沉數之脈亦緩。惟口目仍斜，風淫未盡，真陰未復。原方加減，仍以桂酒塗頰。</p>
<p>玉屏風散加煨葛、白芍、獨活、黨參、生地、歸身</p>
<p>諸恙悉平，惟口目之斜較前雖好，未能如故。口目常動，風生故焉。耳鼻常靜，風息故焉。肝氣通於目，胃脈環於口，必得肝胃沖和，口目方能平復。原方增損，仍以桂酒塗頰。</p>
<p>前方去獨活，加白蒺藜</p>
<p>恙原已載前方。惟口眼仍斜，未能如故。肝為藏血之臟，胃為水穀之海。症本血燥召風，風翻胃海，氣脈為之動變，霾曀上冒清空，分布不周於本絡，以故口目喎斜，斜乃風之象也。服藥以來，風淫雖解未盡，陰液雖復未充，氣脈未能流暢。水能生木，土能培木，當以脾腎為主。擬六味歸脾加減為丸，以善其後。</p>
<p>六味地黃丸去山芋，歸脾湯去木香、元眼、黃耆，加肉蓯蓉　水丸。</p>
<p>（案2）年近七旬，天令暴冷。爐火左側，太白頻浮。酒漬於內，熱炙於外。左頰汗出如漿，虛風得以乘之，擾亂三陽之絡。口喎於右，目眇於左。脈來浮數，按之則緩。擬玉屏風散二陳湯加味以輔正散風。是否，候酌。</p>
<p>玉屏風散二陳湯加煅牡蠣、澤瀉、鹿銜草，次加黨參、蘇梗</p>
<p>疊進玉屏風二陳加味，左頰之汗已收，口目之斜俱正，浮數之脈已緩。風淫已散，第因年高，二氣本虧，是以風邪易襲，宜常服十全丸，以杜未來之患。</p>
<p>（案3）遍身麻痹，口目蠕瞤，眉稜骨痛，按之益甚。年逾四旬，形豐脈軟。風襲陽明，營衛俱傷，血凝氣阻，名曰肉苛。慎防傾跌。</p>
<p>補中益氣湯加防風、薑、棗</p>
<p>經以營氣虛則不仁，衛氣虛則不用，營衛俱虛則不仁且不用，肉如故也。服補中益氣加味，半月以來，苛痹漸蘇，瞤動漸止，營衛風淫漸散，眉稜骨痛已平，軟散之脈已斂。胃者衛之原，脾乃營之本。升補中州，以充營衛，前賢良法。原方加減，為丸緩治。</p>
<p>補陰益氣煎加大黃耆（防風水炒）、薑、棗　水丸。</p>
<p>（案4）經以虛邪偏客於身半，其入深內居營衛，營衛虛則真氣去，邪氣獨多，發為偏枯，身偏不用而痛，言不變志不亂，病在分腠之間。益其不足，損其有餘，乃可復也。</p>
<p>參附湯、玉屏風散、四物湯加桂枝、獨活、炙甘草、虎脛骨、乳香、沒藥　水丸。</p>
<p>（案5）形充脈弱，氣歉於中，分腠不固，常多自汗，為風所引。腎水上泛，脾液倒行，凝滯成痰，隧竅阻塞。卒然昏聵無知，氣促痰鳴言謇，舌苔白滑，胸次不舒。木旺金衰，正不敵邪，防其汗脫。</p>
<p>藿香正氣散去白芷、川樸、腹皮，加制南星</p>
<p>自喊巔痛，問之則否。身有微熱微汗。肌膚粟起，眠不竟夕，痰涎上湧，苔白滑，胸痞言謇，欲大解則小便先行，淋漓不爽。六經混淆，二便互助，七情內傷，風淫外襲。昨進藿香正氣加減，未見效驗。正不敵邪，謹防大汗。　</p>
<p>前方加人參八分</p>
<p>正氣散護衛外以祛風，六君湯益中土以清痰。服後神識已清，夜來安寐，身熱退，自汗收，舌強和，痰聲息，脈弱起，邪退正復之兆。惟右肢苛痹，乃偏枯之象。證本脾腎雙虧，氣虛夾痰，分布不周，風淫末疾。前方加減為丸緩治。</p>
<p>六君子湯加天麻、黃耆防風水炒，竹瀝、薑汁泛丸。</p>
<p>（案6）二氣貫於一身，不必拘左血右氣。偏枯於右，痛無定止，逢陰雨煩勞益甚，乃風痹之屬。延今二載有餘，脈沉澀無力，食入作嘔，大便恆溏。風淫於胃，濕著於脾，分布不周於脈絡，致有陰陽易位、更虛更實、更逆更泛之患。外以晚蠶沙煎水洗患處。</p>
<p>潞黨參（二兩）　全當歸（四兩）　虎脛骨（三兩）　雲苓塊（五兩）　炙黃耆（五兩）　青防風（八兩）</p>
<p>以羊肚一具、生薑三兩、川椒三錢、竹油三兩、粳米半升，煮爛取汁為丸。</p>
<p>（案7）五行之速，莫如風火。邪之所湊，其氣必虛。風邪卒中，必夾身中素有之邪。素本陰虛火盛，火召風入，風彰火威，風火盤旋，形神如醉，消穀善飢，溲赤苔黑。心火暴甚，腎水必虛，肺金既摧，肝木自旺。宜先服瀉心湯，觀其進退。</p>
<p>半夏瀉心湯</p>
<p>（案8）曾經傷風，咳嗽痰多，漸至步履欹斜，語言謇澀，痰涎上溢。三載以來，痰嗽由漸而止。現在涎唾不禁，舌蹇難言，身形強直，脈來弦數。腎陰素虧，子竊母氣，肺損於上，為風所引，傳之於肝。肝主一身之筋，筋弱不能自收。肝復傳之於脾，脾傷則四肢不為人用。脾復傳之於胃，胃緩則廉泉開，故涎下不禁。所服之方，都是法程。寡效者，病勢苦深也。長沙云：病勢已成，可得半愈；病勢已過，命將難全。勉擬一方，以盡其心力。</p>
<p>六君子湯加熟地、炮薑、歸身</p>

<h2>二、類中風</h2>
<p>（案1）舌強語言謇澀，右臂麻木不舒。言乃心之聲，賴肺金以宣揚。脾主四肢，其用在右。心火盛，腎水虛，將息失宜，五志過極，濕土生痰，機竅不利，脈來三五不調，類中復萌已著。理陽明，和太陰，佐化濕痰，不致陰陽離決，方克有濟。</p>
<p>二陳湯加黨參、白蒺藜、殭蠶、竹茹</p>
<p>類中復萌，舌強言蹇，右臂屈伸不利，心火暴甚，腎水虛衰，智意不和，濕痰阻竅，本擬瀉心法，緣脈來甚慢，如結代之狀，尺部尤甚。仍從中治，理陽明，和太陰，亦可保其心腎。</p>
<p>六君子湯加鮮首烏、白蒺藜、殭蠶</p>
<p>兩進理陽明、和太陰、佐化濕痰，舌強漸和，語言漸展，右肢麻痹亦舒，胸次反覺不暢。清涎上溢，濕痰未化，心火未平，脈仍三五不調，未宜驟補，原方加減。</p>
<p>二陳湯加首烏、白蒺藜、殭蠶、桑葉、脂麻</p>
<p>病原疊載，前方服用以來，舌強漸和，語言漸爽，肢痹已蘇，胸次漸暢。經以心脈系舌本，腎脈循喉嚨、夾舌本，脾脈連舌本。太陰不營，濕痰自生，腎水不生，心火自盛，必得三經平復，水升火降，中土暢和，機竅自展。現濕土用事，肝火司權，暫以桑麻六君加味，崇土養營，和肝熄風，引益腎水。</p>
<p>六君子湯加桑葉、脂麻、菊花　水丸。</p>
<p>（案2）偏枯於左，口喎於右，舌強語謇，涎下不禁，脈來甚慢。大筋軟短，小筋弛長，濕熱不攘，中虛痰鬱為患。</p>
<p>六君子湯加羚羊、竹瀝、薑汁</p>
<p>（案3）目盲不可視，足廢不能行，小便或秘癃，或不禁，飲食如故。臟病腑不病，心腎乖違，情志鬱勃，隧竅阻塞。昔魏其侯，傷意病此，名為風痱，議劉守真地黃飲子。</p>
<p>地黃飲子</p>
<p>（案4）《經》言陽之氣以天地之疾風名之。卒然昏聵無知，柔汗，溲便遺失，四肢不收，口噤不語，脈來遲緩。因煩勞太過，擾亂二十五陽。陽氣變動，氣不歸精，精無所倚，精不化氣，神無所倚，乃陰陽離決之危候也。勉擬景岳回陽飲，追斂散亡之氣。未識陽能回否。</p>
<p>六味回陽飲</p>
<p>午正進藥，申未汗收，神志漸清，語言漸展，肢體自能徐轉，脈象小駛於遲。惟心煩意亂，莫能自主，乃陽回陰液未復。進銳退速，危症得安，乃天幸，非人力也。</p>
<p>前方加抱木茯神</p>
<p>陽回陰液未復，心中憒憒不安，肢體雖和，語言尚謇，脈小駛於遲曰緩。《經》以無陽則陰無以生。連進回陽生陰之品，頗合機宜。安不忘危，善後更宜加意。</p>
<p>六味回陽飲去附子，加茯神、酸棗仁</p>
<p>恙原俱載，前方毋庸復贅。惟心煩不安，乃陽回陰液未充，腎不交心，陰不上承，最宜持心息慮，當思靜則生陰之理。</p>
<p>六味回陽飲去附子，加二至丸、茯神、棗仁，服五帖後，更以十劑加五味子，水丸。</p>
<p>（案5）旋轉掉搖，火之象也。志意煩惑，陰液虧也。腎虛無以榮肝，一水不勝二火　木橫土虛，壯火食氣，血熱化風，乃痱中之漸。當以脾腎為主。水能生木，土能培木。水為物源，土為物母。水土平調，肝木自榮，則無血燥化風之患。故陳臨川曰：治風先治血，血行風自滅。擬六味四物歸脾，合為偶方主治。</p>
<p>六味地黃丸、四物湯、歸脾湯　水丸。</p>
<p>（案6）陰虧於前，陽損於後。陰陽相失，子午不交。卒然昏聵無知，口開不合，涎流不止。神敗於心，精敗於腎。在經之氣，脫於陽明；在臟之氣，脫於太陰。脫絕已著，雖司命不可為也。勉以回陽一法，追斂散亡之氣於烏有之鄉，以副諸明哲，冀望回春之意。</p>
<p>參附湯加熟地、油桂、炮姜</p>
<p>（案7）《經》以擊僕、偏枯、痿厥，肥貴人則高粱之疾也。形豐，柔盛於剛，志樂氣驕多欲，七情五志失其中，炙煿肥甘過其當，致令皮肉筋骨不相保。卒然傾跌，右肢偏廢而不用，天產作陽，厚味發熱，陽熱蒸騰，動中無靜，陰虧可知。法當靜補真陰為主，崇經旨承製之意，仍須薄食味，省思慮，方克有濟。</p>
<p>六味地黃丸　二至丸</p>
<p>（案8）素耽酒色，心腎本虧。精損於頻，氣傷於漸。卒然神志沉迷，口眼喎斜，語言謇澀，慎防汗脫。脈來微細如絲，當從色厥論治。</p>
<p>生脈散加熟地、山藥、山芋、製附子</p>
<p>（案9）《經》以暴病暴死，皆屬於火，火性疾速故也。卒然昏聵無知，脈象洪空，勁直口開，手撒遺溲，自汗，痰鳴，氣促。真陰枯涸，心主自焚。五絕之中，茲見三證，雖司命不可為也。所議人參竹瀝蘇合香丸極是，愚見更益以鎮固之法，以副或免之望。</p>
<p>老山參（三錢）　淡竹瀝（三錢）　蘇合香丸（一粒）</p>
<p>外以生鐵約重八兩，燒紅江醋沃之，近病人口鼻，使氣熏入。</p>

<h2>三、傷寒</h2>
<p>（案1）傷寒惡寒，寒傷營，血澀無汗，皮膚閉而為熱，頭身腰背俱痛，脈浮緊，溲色澄清，大便五日不解，尚屬太陽經症。宜麻黃湯。</p>
<p>麻黃湯</p>
<p>（案2）苔白脈浮，巔痛身疼，惡寒發熱，溲便自調，痰溲氣促，有汗不透。風寒兩傷，營衛俱病。法宜解肌兼汗。</p>
<p>小青龍湯</p>
<p>（案3）發熱惡寒者，發於陽也。巔痛身疼，無汗，苔白，胸痞，脈象浮緊。宜先開其表，遂取九味羌活湯。</p>
<p>九味羌活湯</p>
<p>（案4）脈體尺寸俱浮，證勢頭身俱痛，翕翕發熱，嗇嗇振寒。稟賦雖充，寒邪甚厲。星馳無寐，二氣乖違，正逢月郭空虛，遂罹霜露之疾。謹擬南陽敗毒飲，祛邪返正，得汗便解。</p>
<p>人參敗毒散加生薑，長流水煎。</p>
<p>昨進南陽法，濈然汗出，諸症恙平。惟胸次不舒，不思飲食，溲色澄清，大便未解。餘氣未盡，尚宜和里。</p>
<p>益氣健脾丸加炒穀芽、神麯、製半夏</p>

<h2>四、暑症</h2>
<p>（案1）氣虛脈虛，身熱惡熱，煩渴，巔痛，神倦，火盛乘金，熱傷元氣，古名中暍。寒以取之。</p>
<p>白虎湯、生脈散加淡竹葉、捲心</p>
<p>（案2）暑必夾濕，氣之熏蒸，著而為病。濕寄望於四季，隨六氣之變遷，因暑而為熱，傷陰傷氣，神倦脈軟，身熱自汗，惡風口渴，溲便自調，不思飲食，心脾肺三經互病。擬東垣清暑益氣略為加減。</p>
<p>清暑益氣湯去升麻、黃耆、蒼朮，加茯苓</p>

<h2>五、濕症</h2>
<p>（案1）脈來滑數無力，證本濕熱傷陰，五液日耗，形神慵倦，竟若骨痿不能起於床。法宜補陰化濕。苦寒雖效，究非常服之方，擬甘露飲加減。</p>
<p>川黃柏（一錢）　金釵斛（三錢）　淡黃芩（一錢半）　潤玄參（一錢半）　肥知母（二錢）　天麥冬（各兩錢）　天花粉（三錢）　地骨皮（三錢）</p>
<p>（案2）濕熱蘊於陽明，熏蒸肝木，耗損腎陰。肝主一身之筋，腎統諸經之水，陽明為十二經脈之長。譬如暑濕鬱蒸，林木萎弱，以故體倦多眠，熱蒸氣騰，上干清竅，唇瘍流液，目澀羞明，頰腫咽痛，苔黃舌絳。服養陰滲濕之品共六十餘帖，病勢退而復進者，證延六載之久，藥淺病深之故也。仍以補腎滲濕為丸緩治。</p>
<p>四君子湯二冬膏加生地、棗仁、澤瀉、黃柏、水連、沙參　水丸。</p>
<p>（案3）壯火食氣，陰不潛陽，氣不行水，蘊生濕熱，傷陽明之陰，動少陽之火。陽明陰傷則宗筋縱，不能束筋骨而利機關。水流濕而注下，足脛綿弱，行則振掉，便瀉腸鳴。少陰火旺則液耗金傷，不能藏精化氣以行治節，痰嗽食減，夢泄頻仍。所服之方，均法程王道，功遲難期速效。補陰當思濕熱蘊結；利濕竊慮陰液愈虧。爰以六味加減，補陰滲濕，脾腎雙培。然否，質諸明哲。</p>
<p>大熟地（八兩）　雲茯苓（三兩）　肥杜仲（三兩）　川萆薢（三兩）　山芋肉（四兩）　五味子（二兩）　淡蓯蓉（二兩）　玄武膠（二兩）　淮山藥（四兩）　宣木瓜（二兩）　上黨參（三兩）　桑螵蛸（一兩）</p>
<p>將熟地水煮搗如泥溶膠，煉蜜為丸。</p>

<h2>六、火症</h2>
<p>（案1）經以有者求之，盛者責之，壯水之主，以制陽光者，治相火有餘之法也。</p>
<p>知柏八味丸去山芋，加敗龜腹甲</p>
<p>（案2）經以無者求之，虛者責之，益火之源，以消陰翳者，治相火不足之法也。</p>
<p>桂附地黃丸或加玉壺丹三分　研末和服。</p>

<h2>七、伏邪</h2>
<p>（案1）第二日，憎寒發熱，頭痛，腰背俱痛，苔白，溲赤，無汗，脈數。邪伏膜原，外越太陽經也。</p>
<p>達原飲加羌活、防風、川芎、生薑</p>
<p>第三日，惡寒自罷，晝夜發熱，日晡益甚，頭身之痛較輕，眉稜骨痛甚，鼻乾，不得臥，苔白，汗出不透，脈洪長而數，溲渾而赤。伏邪外越，陽明經腑不和。不致神昏呃逆為吉。</p>
<p>達原飲加粉甘葛</p>
<p>第四日，得汗雖透，熱仍不解，反覺憎寒，目沉不寐，心煩喜嘔，胸滿脅痛，苔淡黃，溲渾赤，脈弦數。伏邪並交少陽陽明。小茈達原加減。</p>
<p>達原飲加柴胡、生薑</p>
<p>第五日，煩嘔稍減，夜得少寐，寒熱依舊，耳聾，胸滿、溲渾赤，脈弦數。原方加味主之。</p>
<p>前方加廣陳皮</p>
<p>第六日，昨進小茈達原飲加減，服後大解一次，色如敗醬，渾赤之溲較淡。夜寐稍安，四更後心煩作嘔，飲陳米湯，少傾即止。天明自汗，身熱乍退，唇燥舌乾，脈仍弦數。伏邪漸潰，陰液耗傷，慮生歧變。</p>
<p>春茈胡（一錢）　知母肉（二錢）　炙甘草（五分）　鮮地慄（四枚）　當歸身（三錢）　京赤芍（五錢）　上廣皮（一錢）　逆水蘆根（一兩）　淡黃芩（一錢半）</p>
<p>第七日，熱退脈不靜，大便如敗醬，溲渾如豆汁，夜寐不沉，胸痞不食，心煩作嘔，舌燥作渴，苔黃不腐。伏邪化熱傷陰，最忌神昏苔剝呃逆之劇。</p>
<p>前方加天花粉</p>
<p>第八日，脈數，便未解，溲反渾近赤，額前心下俱熱，有汗，肢微冷，苔黃，舌尖赤微有刺，口燥作渴，反喜熱飲，神煩少寐。邪伏少陽，倒入陽明，化熱傷陰，熱極反兼寒化肢冷。大便不解，腑氣不通，邪無出路。原當承氣，下結存陰。二氣素虛，姑從緩治。</p>
<p>大生地（五錢）　當歸全（三錢）　柴胡根（一錢）　淡黃芩（一錢半）　白知母（二錢）　淮牛膝（三錢）　炒枳殼（一錢）　赤芍藥（一錢半）　活水鮮蘆根（二兩）</p>
<p>第九日，服藥後更衣兩次，色黑如漆，中有瘀血，額前熱退，苔剝回潤，煩渴減，四肢和，夜寐安，數脈緩，溲色漸淡，苔黃漸腐。伏邪賴腑氣宣通而漸化。後陰為里之表，邪伏膜原轉入陽明，由大腸傳送變化出焉，其路甚近，與表邪從汗解之意。同故，大便解，諸症減；大便秘，諸症加。六淫在表，當從汗解；伏邪在裡，當從便解。攻下與發汗何殊，伏氣與表邪一體。胃為多血之腑，脾為統血之臟。便黑帶血，胃熱迫血，流入大腸，病及至陰，脾傷失統。慮其大便復閉，陽邪復聚，仍以養陰通腑。</p>
<p>前方去茈胡、枳殼，加瓜蔞仁、桃仁、杏仁、山梔、甘草</p>
<p>第十日，案載前方，原方加味。</p>
<p>前方加荸薺，用長流水煎。</p>
<p>第十一日，兩進養陰通腑，登圊三次，色紫黑有塊，純是停瘀。諸症悉除，宵眠呼吸自若，醒後神智安舒，知餓思食，身涼脈緩。惟溲色猶渾，胸前尚熱。餘氣未盡，伏邪解於血分，真陰五液俱傷。在內為血，發外為汗，汗即血也。病從血下而瘳，猶表邪隨汗而解。後陰為里之表，於茲可見。遂補陰益氣，以善其後。</p>
<p>補陰益氣煎</p>
<p>（案2）始得病，不惡寒，發熱而渴，溲赤不寐，服發表消導等劑，汗不出，熱不退，延今四十餘日。形容枯削，肢體振掉，苔色灰黑。前後大解共十三次，醬黑之色，逐次漸淡至於黃，溲亦渾黃不赤，晝夜進數十粒薄粥四五次，夜來忽寐忽醒，力不能轉側，言不足以聽。脈微數，按之不鼓。年及中衰，體素羸弱，伏邪雖有欲解之勢，元氣渺無驅逐之權。邪熱縱橫，真陰枯涸，勢必邪正俱敗，危如朝露，急宜峻補，冀其五液三陰一振，正復不能容邪，從中擊外，庶幾一戰於表，得戰汗則解。</p>
<p>生脈散加生地、歸身、茯神、遠志、棗仁、蘆根</p>
<p>扶邪斂氣，輔正驅邪，服後竟得戰汗，寒戰愈時，厥回身熱，汗出如浴，從朝至暮，浸汗不收，鼻息幾無。真元幾脫，急以前方連服二帖。</p>
<p>兩進前方，浸汗旋收，諸症悉退，惟精神慵倦，醒睡若迷，此邪退正復之機。邪正相持日久，邪氣初息，正返於經，休息無為，固當如是，原方再服。是方也，本非發汗，亦非止汗。夫汗之出與汗之收，皆元氣為之主宰。氣為橐籥，汗為波瀾，前服所以汗出者，藥力輔正，從臟達腑，由經出絡，驅邪於表從汗解。而汗不止者，藥力不支，正虛不可復收。故以原方，仍從某經某絡，導其散亡之氣還之臟腑。若投止汗之劑，則大謬不然。或增減一味亦不可。藥性有歧，迷途莫返。故曰失之毫釐，差以千里。欲發汗而不知營衛之盛衰，欲止汗而不知橐籥之牝牡，是猶盪舟於陸，駕車於海，僕非不能。再續一方，故縷述為知者一道。</p>
<p>（案3）六脈俱數，浮取不足，沉取有餘。十日以來，神昏如醉，間或獨語，苔淡黃不潤，板齒無津，目赤唇焦，不飢不渴，與湯飯亦受，心下至少腹按之無痛滿，大便如常，溲色紅渾，伏邪盤踞太陽，熱入膀胱。壬病逆傳於丙，丙丁兄妹，由是傳心，心火爍金，清肅不行，犯經旨死陰之禁，慮難有濟，勉擬犀角地黃湯合導赤散加山梔，取清心保肺、導引邪火、屈曲下行之意。</p>
<p>犀角地黃湯導赤散加黑山梔、蘆根</p>
<p>經以心病傳肺謂之死陰，不過三日而死者，不及金之生數也。三服清心保肺，竟過三日，生氣復來，清肅令行，熱氣自退，知飢欲食，胃氣漸醒，神識漸清，溲渾尚赤。導赤保肺，犀地清心，以迫丁邪返丙歸壬，溲清則愈。</p>
<p>犀地湯導赤散去竹葉，加茯苓、澤瀉、焦山梔、黃芩、活水蘆根</p>
<p>（案4）身熱汗自出，不欲去衣者，惡寒也。正傷寒，汗出惡寒為表虛。伏氣則不然，邪伏膜原，外越三陽之表，衛護失司，腠理不密，以溲渾赤為別，非傷寒於表可比，宜順其性以揚之，不可執有汗用桂枝解肌。仲景有桂枝下咽、陽盛則斃之戒。擬活人敗毒散加減。</p>
<p>敗毒散去前胡、獨活，加廣皮、生薑</p>
<p>傷寒汗出淋漓則病不除，伏邪汗出淋漓則病將解。昨暮服藥，汗更大出，發背沾衣，通宵達旦，湊湊不已，遍體涼和，六脈俱靜，溲色澄清，惟中胃未醒。宜養胃生陰。</p>
<p>銀條參（三錢）　淨歸身（三錢）　白蔻仁（八分）　陳倉米（一兩）　鮮石斛（三錢）　炒穀芽（三錢）　陳橘皮（一錢）　鮮荷鼻（一個）　白茯苓（三錢）　採云曲（一錢半）　黑芝麻（三錢）</p>
<p>（案5）諸氣膹郁，皆屬於肺。諸逆衝上，皆屬於火。肺司百脈之氣，腎藏五內之精。腎水承製五火，肺金運行諸氣。悲則傷肺，恐則精卻。思為脾志，憂本於心。思則氣結，憂則耗氣，郁化心陰，真氣潛消，邪氣日進，亢則為害。五志之陽，與邪渾一，俱從火化，爍陰耗液，所謂熱蒸氣騰，壯火食氣是也。屢寐氣屢升，不分左右，似呻吟而近太息，又非短氣。寐則陽氣下交於陰，血歸於肝，氣歸於腎。清肅不行，蒸熱不退，腎水不升，肺氣不降，金水交傷，水火不濟，肺熱奚疑。飲入於胃，輸於脾，歸於肺，注於膀胱，溲赤是其明驗。水出高源，擬用一味蘆莖，取其清空之氣，甘平之力，以達清虛而益氣化，若雨露之溉，盪滌伏熱即是，補陰清金，且兼開胃，不亦宜乎。</p>
<p>活水蘆根四兩　甘瀾水煎。</p>
<p>（案6）脈伏而數，巔痛身疼，無汗，翕翕發熱，嗇嗇惡寒，腠理致密，玄府不開，乃三陽表證也。擬九味羌活湯加味。</p>
<p>羌活沖和湯加茯苓、生薑</p>
<p>服沖和湯加味，得汗遍身悉潤，寒熱已除，巔疼已止，浮數之脈已緩，惟身痛不休，乃表氣未和，宜桂枝湯小和之。</p>
<p>桂枝湯</p>
<p>服桂枝湯，入夜神煩不寐，身反大熱，脈反滑數，苔白如積粉，板滯不宣，汗出如浴，惡風不欲去衣，溲赤而渾，間有譫語，此伏邪內動，盤踞膜原，化熱傷陰之漸。《經》以冬傷於寒，春必病溫，夏必病熱，蓋始為寒而終成熱。同氣相求，傷寒遇寒則發。前服沖和湯，諸症乍退者，新感之寒邪從汗而解。身痛未除者，伏邪乘表虛而外越，與衛氣相爭，致令營衛失其常度。得桂枝諸症蜂起者，非桂枝之過，乃伏邪化熱，直貫陽明，液耗陰傷，而禍亂起於蕭牆之內，有神昏如醉、陰枯發痙之慮，故仲景有急下存津之旨。暫以吳氏達原飲觀其進退。</p>
<p>達原飲加生薑</p>
<p>昨進達原飲，舌後之苔轉黃，身熱不從汗解，溲赤而渾，便溏色絳，竟夜不寐，神煩譫語，心下拒按，脈來滑數，腑濁雖行，液耗陰傷，可慮原方加減。</p>
<p>前方加枳實、桔梗</p>
<p>兩進達原飲，登圊五次，醬黑之色漸淡，溲轉渾黃，胸次漸開，夜得少寐，身熱減，自汗收，腑濁既行。議下從緩，依方進步。</p>
<p>達原飲加生地汁、歸身</p>
<p>昨藥後，熟寐通宵，寅初忽覺憎寒，須臾寒戰如瘧，引被自履，遍身悉冷，四肢厥逆，脈細如絲，神情蕭索，卯正遍身灼熱，屏去衣被，躁擾不安。欲起者，再忽然大汗淋漓，始自頭項，下溉周身，汗到之處，灼熱遂除，如湯沃雪，食傾脈靜身涼，神清氣爽，諸症若失，此非轉瘧，乃戰汗也。得戰汗者，以其人本虛，內伏之邪既從腑氣宣通而潰，則在經之邪孤懸難守，不攻自散，仍從表解，外與正爭，邪正交爭則戰，邪退正復則已。正氣不支，是以發戰。宜安神養營。</p>
<p>大生地（八錢）　獨枝歸身（三錢）　酸棗仁（三錢）　白桔梗（一錢）　木茯苓（三錢）　白芍藥（二錢）　炙遠志（一錢）　上陳皮（一錢）　炙甘草（五分）</p>
<p>諸症悉退，溲色猶渾，知飢不欲食，黃苔未盡腐。中胃未醒，餘氣未盡，尚宜養胃生陰。</p>
<p>歸芍二陳湯加生地、炒穀芽、六和曲</p>
<p>養胃生陰，以安神志。</p>
<p>三陰煎去人參、加金釵汁、茯神、廣皮、蘆根</p>
<p>三進養胃生陰、以安神志之品，知飢欲食，二便如常，惟夜臥不安，虛里穴動，心腎不交，五液真陰未復，六味歸脾加減。</p>
<p>（案7）潛伏夾脊之內，橫連膜原，去少陰尚近，離陽明不遠，故溲渾而赤，神煩不寐，身熱汗自出，不惡寒而微渴，顯系邪氣先從內出之於外也。所服之方多從表解，延今念三朝，身熱轉為潮熱，如癉瘧之狀，反無汗，大便易色如漆，中有血塊。䐃肉全消，筋脈動惕，苔剝唇裂，神昏如醉，伏熱稽留無由以泄，奪血無汗，奪汗無血，表液已枯，里血復竭，邪正兩亡，殊難奏捷。勉擬一方，質諸明哲。</p>
<p>犀地湯加桃仁、牛膝、歸身、甘草、蘆筍</p>
<p>（案8）達原飲達膜原之邪，沖和湯開太陽之表。大汗淋漓，衣被俱濕，身反大熱，消渴引飲，舌苔根黃尖絳中央白而不潤，溲渾赤，便不解，脈長洪而數，復邪中潰，鬱熱暴伸，散漫經中，不傳胃腑，欲作戰汗。宜人參白虎湯。</p>
<p>人參白虎湯</p>
<p>（案9）過經不解，便溏色絳苔淡黃，溲渾赤，熱潮寅卯，指時而發。伏邪尚在少陽經也。</p>
<p>北柴胡根（一錢）　赤芍藥（二錢）　玉桔梗（一錢）　炙甘草（五分）　麩炒枳實（一錢）　赤茯苓（三錢）　淡黃芩（一錢五分）　大地慄（六個）</p>
<p>（案10）伏邪盤踞膜原，內與陰爭則寒，外與陽爭則熱，寒熱往來，熱多寒少，溲赤而渾，便溏色絳，虛煩少寐，汗出如漿。臟陰營液俱傷，伏熱邪氣猖獗，正氣不支，難以直折，避其來銳，暫以小柴陷胸從乎中治。</p>
<p>小柴胡湯和小陷胸湯</p>
<p>小柴胡（湯）手少陽之樞，小陷胸（湯）抑縱橫之熱。服後熟寐，移時大便，遷延而解，從初更至平旦共六次，俱如敗醬。溲頻數，渾赤之色漸清。寒熱往來，熱勢減半，濈然汗出，遍體涼和。數脈已緩，黃苔立腐。伏邪中潰，表裡分傳，正復不能容邪，餘氣散漫，擊其惰歸。宜開鬼門潔淨腑。</p>
<p>春柴胡（一錢）　飛滑石（三錢）　甘草梢（八分）　淡黃芩（一錢五分）　秋桔梗（一錢）　赤豬苓（各二錢）　炒枳實（一錢）　福澤瀉（二錢）</p>
<p>第八日寒熱如瘧，一日數發，苔白，溲紅，虛損少寐，旦慧夕加，晝輕夜重，經水適來，熱入血室，殊難調治，不可汗，不可吐，不可下，不可溫，不可補，且不可和。姑擬小柴胡加味，從少陽開乙木，帥中正之氣入氣街，導營熱歸膀胱，庶不犯中。或用犀地湯，近於是也。</p>
<p>小柴胡湯去薑、棗，加生地、丹皮、當歸、白芍、紅花、青蒿、鱉甲、茯苓、澤瀉</p>
<p>（案11）病經念八，口禁不語，身臥如塑，溲渾如柏汁，便解如豬膚，脈空弦無力，肉全消，皮膚甲錯，舌卷目上視，心下熱熾手。伏邪深陷厥陰，液脫陰枯已著。攻之不可，補之不及，兩無生理。勉擬黃龍湯，取攻補兼施之意，以副百一之望。</p>
<p>上人參（一錢）　次生地（四錢）　白歸身（三錢）　炙甘草（五分）　箱大黃（四錢）　炒枳實（一錢）</p>
<p>昨服黃龍湯，燥屎仍不下，溲渾赤如故，口禁不能言，身強直，形消，脈奪，目眩然不瞑，舌翹而不下。液脫陰亡，髓熱發痙，化源已絕，無復資生，神機已息，枯魄獨存。雖扁倉復起，烏能措其手足。仍以原方，再服一帖。</p>

<h2>八、痎瘧</h2>
<p>（案1）瘧邪之後，留熱未除，先天固不足，後天亦不振。腎為先天，脾為後天，脾腎不足以化精微，釀生濕熱，濕遏發黃，五液不充，熱留陰分，致生潮熱，陽明氣至則齧齒，腎虛肝熱則抽搐，脈來滑數無神。滋少陰理陽明，化濕濁清留熱，順其性以調之。</p>
<p>香青蒿（二錢）　細木通（一錢）　川黃柏（一錢）　粉草梢（一錢）　炙鱉甲（三錢）　鮮石斛（三錢）　赤茯苓（三錢）　陳廣皮（一錢）　大生地（四錢）</p>
<p>（案2）五內素虛，七情交併，結聚痰涎，與衛氣邪氣相搏，發為痎瘧。</p>
<p>六君子湯加柴胡根、蛀青皮</p>
<p>（案3）夏傷於暑，秋必痎瘧，間二日而作，謂之痎。寒熱相停，溲渾而赤，汗出濡衣，胸次不暢，陽邪陷入三陰，脾傷少運，胃有痰飲，逢期腰痠腹痛，總屬腎胃不和。先以小柴瀉心加減。</p>
<p>小柴胡湯加歸身</p>
<p>小柴瀉心加減共服十有二帖。痎勢十去八九，當期似有如無，口乾微渴，小溲頻數，黃而不渾，脈象尚帶微弦，目眥黃侵白眼。濕運餘熱未清。《經》以疾走汗出於腎，奔馳多汗，氣喘耳鳴，左疝大如鵝卵，鼻中常流清涕，乃素來本症腎肺不足可知。平補三陰，為丸緩治。</p>
<p>制首烏（八兩）　大生地（八兩）　白歸身（三兩）　白茯苓（三兩）　煅牡蠣（五兩）　紋黨參（一兩）　炙甘草（五錢）　新會皮（一兩）　炙鱉甲（五兩）　淮山藥（四兩）　水丸。</p>
<p>痎瘧固屬三陰，期在子午卯酉少陰病也。服補陰益氣以來，痎邪已去，尚有微意者，正氣未充也。素多思慮勞心，爰擬黑歸脾加減</p>
<p>黑歸脾湯去耆、桂圓，加製半夏、薑、棗</p>
<p>痎瘧日久，三陰交損，土德不厚，濕居中州，致發陰黃，色如秋葉，食減便溏，形神慵倦。培補腎陰，兼養心脾。</p>
<p>大生地（四錢）　野白朮（五錢）　上黨參（一錢）　白茯苓（三錢）　鮮首烏（四錢）　益智仁（一錢）　青蒿珠（一錢）　建澤瀉（一錢五分）</p>
<p>進補腎陰養心脾，陰黃已退，飲食頗增，二便如常，脈神形色俱起，既獲效機，依方進步。</p>
<p>大生地（四錢）　青蒿梗（二錢）　草豆蔻（五分）　淮山藥（二錢）　西黨參（一錢）　炙鱉甲（二錢）　烏梅肉（一個）　雲茯苓（三錢）</p>
<p>（案4）三陰痎瘧，寒熱俱重，已經八次，發於深秋，溲清脈軟，邪伏太陰，極難奏效。</p>
<p>歸芍異功散加炮附子、炮生薑</p>
<p>《經》以夏傷於暑，秋必痎瘧，間二日一發之老瘧也，起於客秋，延今不已。脈來遲緩，寒重熱輕，精神疲倦。脾腎雙虧，未宜止截。擬進東垣法。</p>
<p>補中益氣湯去耆，加茯苓、薑、棗</p>
<p>（案5）痎瘧半載，熱甚寒輕，戌正始來，亥卯方退，病在少陰，熱而口渴，陰傷可知，衰年可慮。</p>
<p>六味地黃丸加柴胡</p>
<p>（案6）瘧經兩月有餘，屢經汗散，轉為潮熱，指時而發，陰傷五液受虧，陽明有餘，少陰不足，熱入於營，非癉瘧可比，溲色清澄，是其明驗。法當靜補三陰。</p>
<p>六味地黃丸去山芋，加麥冬、歸身、牛膝、青蒿梗、炙鱉甲</p>
<p>（案7）脈來軟數無力，證本臟陰有虧，瘧後中土受傷，怒郁肝陽苦逆，土不載木，肝病傳脾，陰不配陽，水不濟火，乃見竟夜無眠，食少無味，體倦神疲，虛陽上越等症。前進交通心腎，熟寐連宵，總服壯水之主，形神復振。曾患血崩，素多抑鬱，肝木久失條舒，木鬱化火，耗液傷陰，以故氣從脅肋上升，貫膈沖咽，環臍作脹，仍以壯水濟火為主，崇土安木輔之。</p>
<p>六味地黃丸去山芋，歸脾湯去黃耆、桂圓肉、木香　水疊丸。</p>

<h2>九、痢疾</h2>
<p>（案1）腸癖赤白，氣血俱傷，後重腹疼，溲赤脈數，暑滯俱重。河間云：溲而便膿血，氣行而血自止，行血則便自愈，調氣則後重除。宜芍藥湯。</p>
<p>芍藥湯</p>
<p>（案2）因熱貪涼，人情之常。過食生冷，脾胃受傷。值大火流西，新涼得令，寒濕得以犯中，下傳於腎，致成腸癖。溲色清澄，是其明驗，脈來緩弱，溫中為主。</p>
<p>平胃散加藿香、木香、炮薑、赤豬苓</p>
<p>（案3）《經》言食飲有節，起居有常。飲食不節，起居不時，脾胃受傷，則上升清華之氣反從下降，而成飧泄，久則戊邪傳癸，發生腸癖。延綿不已，變態多歧。下血或多或少，鮮瘀不一。此血不歸經，氣失統攝，下時裡急後重，脾陽腎水俱傷，下後魄門瘙癢。中虛逼腸於下，臍旁動氣有形，或左右上下殆越，人所謂動氣之狀。腹脅脹墜，不為便減，土困於中，魄門鎖束，小溲不利，水虧於下，均非熱象，矢氣欲解不解，則肛門脹墜，時或燥熱，直逼前陰，腎囊收縮，氣隨上逆，皆水虧土弱之徵。小腹墜，大腹膨，矢氣解則舒，不解則脹，連脅肋右勝於左，以脾用在右，脾病故得矢氣則快然如衰。常覺中下焦痞塞，大便有時暢下，則諸證較減，以腎居於下，為胃之關，開竅於二陰，大便既暢，土鬱暫宣，水源暫暢，故減。至於或為之症，猶浮雲之過太虛也。致病必求其本，法當脾腎雙培，偏寒偏熱，恐致偏害。</p>
<p>歸脾湯去桂圓，四物湯加鹿膠、龜膠、烏梅、石榴皮、炙升麻、罌粟殼、煨肉果　溶膠為丸。</p>
<p>二氣素虛，七情不節，致傷脾胃，傳化失常，清不能升，濁不由降，清氣在下，則生飧泄，戊邪傳癸，轉為腸癖，色白如膿，日十餘次，下時裡急後重，脾陽腎水潛傷。舌苔色常黧黑，中寒格陽於上，腹中隱痛，癖久剝及腸胃脂膏，食減神疲，夜多噩夢，腎不交心，而中虛氣餒。因循怠治，希冀自瘥。病情轉劇將近一載。前進補中益氣、歸脾、六君等湯，以行升降之令。總服胃關煎、四神丸、五味子散，溫固三陰，病勢退而復進。脈體和而又否，病勢若深，殊難奏捷。免擬溫固命門，引火歸窟，冀其丹田暖則火就燥，下元固則氣歸精。然否，質諸高明。</p>
<p>真人養臟湯去肉桂，桃花湯去粳米，加煅龍骨、熟地、黃耆、酸榴皮、煨草果、砂仁、五味、山藥、桂圓、川蓽茇、吳茱萸、補骨脂（鹽水炒）　水丸。</p>
<p>痢成休息，本是纏綿。氣傷則白，血傷則赤。痢下純紅，血分受傷。起自客冬，暮春未已。大和中土，培補腎關，共服十有六帖。痢勢十減六七，第尊年胃氣易傷，飲食頗減。宜停煎劑，以丸緩圖。</p>
<p>大熟地（二兩）　遼五味（二兩）　炙升麻（五錢）　上廣皮（五錢）　黨人參（一兩）　淮山藥（四兩）　赤石脂（三兩）　煨木香（五錢）　炙甘草（八錢）　地榆（六兩）　煎水疊丸。</p>

<h2>十、霍亂</h2>
<p>客忤霍亂，內有所傷，傷其七情，外有所感，感於六氣，陰陽乖錯，吐瀉交作，吐則傷陽傷胃，瀉則傷陰傷腎。吐瀉時，幸服理中，得有轉機。今經念日，胸次脹滿，口乾非渴，脈弦無力。陽不生陰，陰不化氣，陰陽俱虧，五液俱耗，乙癸同源是理。第腎陰不足以制肝陽。肝志為怒，怒則氣上，氣填胸膈，非食滯可比。肝無補法，補腎即所以補肝。人身之陰陽，陽則親上而外衛，陰則親下而內營，難成而易虧，補之非易，無陽則陰無以生，無陰則陽無以化，必得益氣生陰，陰從陽化，腎氣通於胃，陰精上蒸，清陽開展，自入佳境，二氣兩協，其平上下，互相流貫，自無否象。公議生脈八味，益火之源，壯水之主，從陰引陽，從陽引陰。是否，備政名哲。</p>
<p>參脈散　陽八味地黃丸</p>
<p>肝脈漸和，胃脈尚軟。夜來半寤半寐，二氣漸有和順之機。素本腎虧，虛寒之體，真陽不健，值大病之後，二氣交傷，五液互損，臟腑之氣，何由驟復。補陰之品，無過地黃，但守補則中樞易鈍，得桂附走而不守，達腎火之窟，蘊生中土，方能化液生陰，不獨不悶不滯，且於腎胃有潛襄之功，所謂補腎則胃開，補命門則脾健。清晨用原方略為加減，培補腎命之陰陽。午後以養胃生陰之品，陰陽交濟之法。循理之至，似無背謬。是否，備政之於通明。</p>
<p>桂附地黃丸加黨參、麥冬、蓯蓉、橘皮</p>
<p>養胃生陰方</p>
<p>空沙參（八錢）　野白朮（三錢）　大白芍（三錢）　生甘草（五分）　鮮石斛（五錢）</p>
<p>夜寐初醒，偶慮事情，擾動心火，舌中作燥，原方加減。午後仍服養胃生陰方。</p>
<p>六味地黃丸加參鬚、麥冬、製附子、蓯蓉、酸棗仁、新會皮</p>
<p>立秋後四日，脈神形色俱起，脾胃漸蘇，大病新瘥，臟腑初和，二氣未定，全在靜養工夫，當守搖精勞形之戒，澄心息慮，恬淡虛無，乃善後之良謀，五內得太和之氣，自臻康豫。擬方仍候酌。</p>
<p>大熟地（八錢）　淮山藥（四錢）　五味子（一錢）　白茯苓（三錢）　上黨參（一錢）　山茱萸（四錢）　酸棗仁（三錢）　化橘紅（一錢）　白歸身（三錢）</p>
<p>大病新瘥，臟腑初和，脾胃蘇而未振，不宜思慮煩勞。七情之傷，雖有五臟之傷，不外心腎。天地造化之理，無非靜定。靜則神藏，無為自化，陰平陽秘，精神乃治。食入於陰，長氣於陽。陽氣者，若天與日，失其所則折壽而不彰，故天運當以日光明。前以從陰引陽，從陽引陰，水升火降，諸症悉平。茲擬黑歸脾加減，從心脾腎主治，待中樞大展，飲食加增，再以斑龍丸培補命腎之元陽，以化素體之沉寒痼冷，乃有層次治之。當否，仍候酌。</p>
<p>黑歸脾湯去耆、加山藥、山芋　水丸。</p>

<h2>十一、沙蜮</h2>
<p>（案1）客忤沙氣，揮霍撩亂，吐瀉交作，三焦俱傷，身冷脈伏，柔汗不收，目赤如鴆，溲紅如血，渾如中毒，危在須臾。勉擬元戎法，盡其心力。</p>
<p>潞黨參（二錢）　冬白朮（三錢）　炙甘草（五分）　紅蓼老梗（一兩）　煅石膏（一兩）　炮薑炭（五分）　地漿水煎。</p>
<p>（案2）沙氣襲絡，遍身苛痹，肢尖逆冷，胸喉氣不展舒，六脈細澀無力。擬正氣六和加減。</p>
<p>藿香梗（二錢）　大腹皮（一錢）　炙甘草（五分）　鮮木瓜（一錢）　老蘇梗（一錢）　新會皮（一錢）　白茯苓（三錢）　荊芥穗（一錢）　川厚朴（八分）　製半夏（一錢五分）</p>
<p>（案3）煩悶欲吐，巔痛，肢尖冷，脈細澀，沙候也。</p>
<p>法制半夏（四錢）　活水蘆根（二兩）　甘瀾水煎。</p>

<h1>副卷一</h1>

<h2>一、肝風</h2>
<p>（案1）暴怒傷陰。肝之變動為握。右手掉搖，膻中隱痛，容冬進補中益氣而愈。現在復發，擬補陰益氣煎。</p>
<p>補陰益氣煎</p>
<p>進補陰益氣，掉搖已止，膻中隱痛。諸風掉眩，皆屬於肝。戰慄動搖，火之象也，良由水不涵木，肝火化風。壯水制火，乙癸同源主治。</p>
<p>六味地黃加銀柴胡、白芍、橘皮　蜜丸。</p>
<p>（案2）月之初日，頭痛氣促，自服疏散無效，更增心悸，手臂掉搖，肝之變為動，心之變為悸，腎之動為慄。氣勃動肝，腎不養肝，肝火上潛，戰慄之病生焉。</p>
<p>大熟地　遠志筒　於白朮　雲茯苓　孩兒參　酸棗仁　白歸身　炙甘草</p>
<p>（案3）天一生水，生人男女皆同。女子以血到為始，名曰天癸。男子以精到為始，亦名曰天癸。幼年通精，過早加以情欲之偏，剝喪頻頻，導致真元損耗，液絡大虧，六脈洪大而急，咽嗌結核，瘰癧串久不消。今春左足潰膿血，上下左右四肢串腫而痛，晝夜無眠，不能反側，每至睡將熟則肢節攣搐動搖。夫生人起居動息，臥則血歸於肝。《經》云：肝為剛臟。又云：肝苦急，急則酸燥。陽生風動，善搐善搖，水不榮木，靜不能藏，是以目瞪神迷，一哭而散。哭之所以能散者，上竅宣泄，清氣有時而升，暫可平靜，久之非所宜。症勢棘王，滋水養肝為主。</p>
<p>鹿角膠　福橘絡　生熟地　鮮竹茹　龜板膠　絲瓜絡　赤白首烏　參橫須　虎骨膠　松節油　霜桑筋　歸橫須　清阿膠　粉草節　黑芝麻　蔥白鬚　人乳</p>
<p>據云，服藥數帖，症勢未見動靜。此症系肝血不充絡，氣燥不養筋。《經》云：軟短為拘，陷脈為僂者是也。茲擬滋肝養血舒筋。蓋水能涵木，緩緩培養。仍外加以熏絡，庶不致增劇，清氣活絡無裨也。</p>
<p>鹿角膠　鮮生地　上桂心　桑寄生　龜板膠　赤首烏　淮牛膝　女貞子　陳阿膠　左牡蠣　湖丹皮　生甘草</p>

<h2>二、頭風</h2>
<p>（案1）頭風起自幼年，不俱四季皆疼，疼時太陽發脹，牙關亦然，飲熱茶汗出則止。每晨起，午後漸止。延今多載，飲食如常，不能充養形骸，精神日減，脈弦無力，肝擾陽明。</p>
<p>補中益氣湯加明天麻、香白芷、細茶葉</p>
<p>（案2）頭風多年，發於四季，發則脹疼，十餘日方止。秋冬之際，四肢作冷，頭脹作疼，近日午後較甚。陽虛陰虧，脾腎雙補。</p>
<p>六君子湯合六味地黃丸加天麻、半夏、川芎</p>
<p>恙由耳後沖及巔頂，項強神煩，不能起坐，六脈細數而軟，食減作痛，時作時止，初起似屬偏頭風證，補散難投。虛風遊走，風化為火，風愈高火愈熾，陽不能固，陰不能斂。擬扶陽斂陰，俾氣行血流，風行水動，庶可獲效。</p>
<p>甘菊炭　抽耆皮　白茯苓　綠豆殼　甜杏泥　白赤首烏　黑芝麻　新稻穗　蘇荷尖　大生地</p>

<h2>三、眩暈</h2>
<p>（案1）水虧於下，火升於上，壯火食氣，上虛則眩，頭暈足軟，如立舟車，咽喉乾燥，夢泄頻作。少陰腎脈上循喉，有夢而泄主於心。精不化氣，水不上潮之明驗也。清上實下是其大法。第水虧必盜氣於金，金衰不能平木，水虛不能涵木，木燥生火，煎熬津液成痰。丹溪所謂無痰不作眩是也。脈來軟數兼弦，值春令陽升，防其痙厥也。法宜壯水，佐以化痰。</p>
<p>六味地黃丸加製半夏、沙苑子</p>
<p>（案2）《經》以上氣不足，腦為之不滿，耳為之苦鳴，頭為之苦傾，目為之眩。素本脾胃不足，抑鬱不宣，氣鬱生痰，上擾清明之府，顛眩如駕風雲，卒然潰亂，忽而神清，非類中可比，脈來軟數無神。原當壯水之主，上病下取，滋苗灌根。第痰伏中州，清氣無由上達，下取無以上承，擬以治痰為主。</p>
<p>製半夏（三兩）　廣橘紅（一兩五錢）　制南星（一兩）　銀柴胡（一兩五錢）　炒白朮（二兩）　高麗參（二兩）　五倍子（一兩）　綠升麻（八錢）　明天麻（一兩）　淨歸身（二兩）　川芎（一兩）</p>
<p>上藥用竹瀝三兩，薑汁一兩，泛丸。</p>

<h2>四、虛損</h2>
<p>（案1）心為主宰，腎為根本，曲運神機，勞傷乎心，心神過用，暗汲腎陰，子午不交，寤而不寐。《經》云：經脈橫解，腸癖為痔。亦由濕熱傷陰，氣虛不化，右脈虛大而弦，左脈濡滑。腎之陰虧，肝之陽強，心氣不足。脾為太陰濕土，虛則生濕。利濕傷陰，清熱耗氣，陰虛忌燥熱，陽虛忌苦寒。宜從心脾腎進補。</p>
<p>潞黨參（三錢）　原熟地（八錢）　甘杞子（三錢）　木茯神（三錢）　野於術（三錢）　菟絲子（鹽水炒，三錢）　柿霜（二錢）　大麥冬（三錢）</p>
<p>（案2）年甫廿三，脈不應指，二天不振，心腎交虧，瘰癧難痊，氣血傷而未復，心跳作嘔。先養心脾，兼調肝腎。</p>
<p>歸脾湯加熟地炭</p>
<p>（案3）經以喜怒傷氣，寒暑傷形，衝脈起於氣街，夾臍上行，至胸中而散。衝脈動，諸脈皆動。少腹屬厥陰，厥陰者，肝氣也。從少腹跳動，沖逆上行，心慌意亂，虛里跳躍如梭。腎不養肝，氣失攝納，皆根蒂之虧。寡欲固精，清心尤要。</p>
<p>六味地黃丸加潼沙苑、生牡蠣、馬料豆</p>
<p>（案4）年經廿旬，先天薄弱，後天不振，盜汗夢泄。上年六月，奔馳辛苦，痰中帶血，每逢節令舉發。去冬感寒停滯，病中又傷，盜汗甚多，昏沉似脫，病中走泄，曾服參附回陽，漸漸向安，臥床月餘。今交夏至，飲食不香，午後肩背似乎拘束不舒，食後噯氣，肢體無力，筋骨痠痛，腰膝尤甚，若稍煩心，即覺心中疼痛氣悶，小溲黃色俱多，清時日少。舌根之苔，病後至今未化。面無華色，脈來虛數。正氣腎氣傷而未復，少壯年華，必得清心靜養，冀其復元，進後天以培先天。</p>
<p>歸脾湯去耆，加熟地、冬蟲夏草</p>
<p>（案5）自汗陽虛，盜汗陰虛。有夢治心，無夢治腎。咯血痰血，血絲夾血點，皆屬臟陰不藏，心火一動，相火隨之，水不涵木，木火升騰莫制，血隨氣升。心火下注，頻頻夢瀉，神志不藏也。昨夜夢泄甚多，非漫溢也，乃心動神馳，心相不靜。速當清心保腎，固守關元。能不再泄，方為佳兆。</p>
<p>紋潞黨　煨木香　大熟地　大麥冬（砂衣）　炒棗仁　朱茯神　淮山藥　左牡蠣　炙遠志（去心）　桂圓肉</p>
<p>（案6）腎為先天，脾為後天，二本皆虧，未老先衰。精神不振，心悸頭眩，手足心熱，腰背痠軟，便紅脫肛，兼有內痔，中氣腎氣皆虧。法當培補真元，靜養為妙。</p>
<p>淮熟地（五兩）　上黨參（四兩）　白歸身（三兩）　熟棗仁（二兩）　紫河車（麻油炙，一具）　烘冬朮（三兩）　側柏葉（三兩）　雲茯苓、神（各二兩）　玄武板（酥炙，三兩）　燕根（三兩）　胡芡實（三兩）　建蓮肉（三兩）</p>
<p>上藥用桂圓肉、玉竹、藕汁（各三兩），熬膏為丸。</p>
<p>（案7）咳嗽夜甚，勞動氣喘，夜臥不安，手心蒸熱，精神不振，巔頂疼痛，形容日羸，脈來弦數，按之無力。三陰內虧，金水交傷。陰虛忌燥熱，陽虛忌苦寒。虛勞內損，二氣皆虧，全賴脾胃資生化源。擬以小海參丸加減</p>
<p>海參（連泥瓦上炙枯，三兩）　冬蟲夏草（三兩）　製半夏（二兩）　淮山藥（四兩）　杜阿膠（二兩）　大熟地（八兩）　薄橘紅（一兩五錢）　白茯苓（三兩）　小牡蠣（五兩）　紋黨參（三兩）　京川貝（去心，一兩五錢）　老蘇梗（一兩五錢）　燕根（三兩）　潼蒺藜（三兩）　煉蜜為丸。</p>
<p>（案8）諸風掉眩，皆屬於肝。左脈甚小，心肝腎三陰皆虧。腎不養肝，心氣益虛。右脈濡而且慢，真陽亦衰，頭目眩暈，不耐操勞。寒涼者，真氣之虛也。經以勞者溫之，損者益之，本擬龜鹿二仙膠。現在中虛寒痰，先擬參附理陰合歸脾。</p>
<p>明黨參　甘枸杞子　白茯神　炙粉草　川熟附　獨枝歸身　酸棗仁　桂圓肉　大熟地　土炒白朮　遠志肉（去心）</p>
<p>脈神形色俱起，眩暈漸減，中氣、心氣、腎氣皆虧，水不涵木，木火交併，二氣俱損。補陰不易，補陽尤難。陰從陽長，血隨氣生。前進黑歸脾尚合機宜，今擬參附斑龍加味。</p>
<p>參附湯　龜鹿膠　熟地　枸杞　山藥　茯神　山芋肉　菟絲子</p>
<p>舌為心竅。舌尖屬心，舌中屬脾，舌邊屬肝，舌根屬腎。舌尖旁右邊或數日一麻，含桂圓少許即好，顯繫心氣虧虛。思為脾志，實本於心，不獨曲運神機也。左右者，陰陽之道路也。水火者，陰陽之徵兆也。人身之氣血，百骸貫通，總得陰陽二氣，源源相濟。進黑歸脾甚合機宜。仍以斑龍合參附歸脾，培生生之氣。</p>
<p>鹿角膠　紋黨參　炒棗仁　白歸身　菟絲子　熟附片　炙遠志（去心）　炙甘草　大熟地　甜冬朮　木茯神　龍眼肉　麥門冬（去心）　鮮金釵　甘枸杞</p>
<p>水不配木，腎不納氣，氣不歸元，氣有餘便是火。右腎熱氣常漫，帶多走泄，精神不振。腎屬水，虛則生熱。補陰不足，補陽尤難。脈象六陰，按之虛數不靜。心腎兩虧，今擬黑歸脾合斑龍兩儀起元法，培命腎之陰陽，冀其水火既濟，自然納氣歸窟。</p>
<p>鹿角膠（酒炒，三兩）　黨人參（四兩）　酸棗仁（炒，三兩）　花麥冬（五兩）　鹿茸（酥炙，一具）　大熟地（砂仁拌炒，八兩）　遠志筒（去心，甘草水炒，一兩五錢）　甘枸杞子（八兩）　菟絲餅（鹽水炒，三兩）　大有耆（蜜炙，三兩）　木茯神（朱染，四兩）　桂圓肉（八兩）　龜板膠（三兩）　於潛術（土炒，三兩）　白歸身（酒炒，三兩）　新會橘（四枚）　柏子霜（去油，一兩五錢）　南木香（煨，五錢）　粉甘草（蜜炙，五錢）</p>
<p>上藥用枸杞、麥冬、桂圓、黨參、福橘，熬膏和丸。</p>
<p>（案9）悟性不達，靈機不活也。巧發於腎，靈發於心。十歲始能言語，固由心氣不足，實由先天薄弱，不能上達於心。未行之事，取之於心。已往之事，記之於腎。出言吐語，似是而非，乃神志不藏也。不可開竅，當補先天。啟振元神，當知靜則生慧。</p>
<p>混沌皮（三錢）　敗龜板（酥炙，三錢）　大熟地（四錢）　遠志筒（去心炙，八分）</p>
<p>年已二旬，尚屬童年，毫無知識，靈機矇蔽，小解如常，脈來細小。先天不足，神識不開。開竅不能，必得神志充足，靈光自透。養先天、煉後天，徐徐調養。</p>
<p>黑歸脾湯去黃耆</p>
<p>每早服斑龍丸三錢。</p>
<p>（案10）長生秘典曰：內勞神明，外勞質形，形與神交用，精與氣俱傷，多言傷氣，多勞傷腎。心暢則胃開，腎旺則脾健，心腎得太和之氣，自然食香神旺。</p>
<p>生脈散加陳倉米</p>
<p>諸恙悉退，元神未復，氣軟胃弱。《經》云：腎氣通於胃。補陰有開胃之功，扶脾有生陽之妙。擬脾腎雙補法。</p>
<p>上黨參　云茯神　上廣皮　肉蓯蓉　炒於術　炙甘草　老陳米　甘杞子</p>
<p>（案11）上損於下，損及於中，最屬可慮。男子脈大為勞，三陰內損，下患痔漏，咳嗽氣急，嘔吐酸水。補土則金生，金生則水旺。諸虛百損，不捨脾胃。有胃氣則生，無則死，洵不誣矣。</p>
<p>異功散加黃耆、山藥、冬蟲夏草、須穀芽</p>
<p>（案12）精氣神，乃人生之至寶，為先天立命之基。二天不振，水不配火，形瘦食減，浮火時升，下有痔瘍，常多夢瀉。三陰內虧，壯水之主，以鎮陽光。</p>
<p>六味地黃丸加川黃柏、槐角、穀芽、菊花</p>
<p>（案13）驚則氣怒傷心，恐則氣怯傷腎。由此二氣致偏。偏久致損，損不能復，變生痞象。現氣不生陰，陰不化氣。春旺木乘，中土受傷，水精不布，揆度失常。面色如妝，肉山已倒，生氣去矣。所服滋生化源，無以加焉，擬方候酌。</p>
<p>歸脾湯去耆，加穀芽</p>
<p>服藥後未曾嘔吐，溏糞一次，小便通暢，喉中痰聲稍減，吐痰照舊，仍不思食。滋陰則礙脾，脾喜燥而腎惡燥，有胃氣則生，無則死。營出中焦，資生於胃，補土則金生，仍仿前法，候裁正。</p>
<p>人參（五分）　於白朮（三錢）　杭白芍（五錢）　白茯苓（三錢）　附子片（童便浸蜜炒，七分）　左牡蠣（一兩）　淮山藥（五錢）　老薑渣（米湯炒，一錢）</p>
<p>後加藕粉炒阿膠（二錢）</p>
<p>頃奉手教，敬念令媛，恙原春分節令，未有變動，藥分三次，徐徐服之，未作嘔吐，仍覺胸中飽悶，漸漸方舒。每日食粥三次，每食一茶杯，不能多進，大便間或溏瀉，小便暢行。陰陽漸分，夜眠較安。面色黃瘦，飲食不為肌膚。顴紅漸退，咳痰稍減。脈症漸定，即是轉機。徐徐調治，漸入佳境。擬方酌候。肅此奉復，並璧尊謙。</p>
<p>照前方加荷葉煨飯</p>
<p>（案14）脈來細澀，形容消瘦，臟陰營液俱虧。食少運遲，不為充養，臥則氣促，三刻腹右氣墜，兼有偏墜。脾胃不健，先天不足，後天不振。養先天煉後天，冀真元來復，是其大法。</p>
<p>歸脾湯去黃耆，加炒穀芽、南棗</p>
<p>脈來細澀，眠食雖安，運納不健，二天不振。養心脾兼和肝胃。</p>
<p>黑歸脾湯去黃耆，加生熟穀芽</p>
<p>脈神形色俱起，眠食俱安，運納健旺，二天有振之機，原方加減。</p>
<p>前方去穀芽</p>
<p>服藥以來，脈神色俱起，胃口大開，生氣來矣。以丸代煎。乘鸞之後，蟲斯衍慶，益當加意節制。先天源源而厚，百福駢臻蘭徵。必矣。</p>
<p>原熟地（藕汁炒，八兩）　云茯神（朱染，四兩）　桑螵蛸（鹽水炒，二兩）　化橘紅（一兩）　淮山藥（焙，四兩）　福澤瀉（鹽水炒，三兩）　料豆衣（炒，三兩）　肥葳蕤（二兩）　山茱萸（鹽水焙，四兩）　冬青子（五兩）　雞頭實（焙，三兩）　寧子淡（漂淡，三兩）　湖丹皮（酒炒，三兩）　山旱蓮（八兩）　燕根（去毛炙，四兩）　老藕（三斤）</p>
<p>上藥用玉竹、二至、藕熬膏為丸。</p>
<p>（案15）心脈短，肝脈虛，尺脈小，性燥多慮，心氣虧虛，不耐操勞，客秋瘧後失調，右脈濡滑，濕鬱氣虛，神倦無力，時發寒熱，多走氣急，二氣虧虛，喜怒傷氣，寒暑傷形。擬何人六君加味。</p>
<p>何人飲合六君子湯加升麻、柴胡</p>
<p>客秋瘧後失調，不耐操勞，二氣虧虛，宗經旨勞者溫之，損者益之。</p>
<p>十全大補湯加附子、半夏、淡蓯蓉</p>
<p>（案16）氣不生陰，精不化氣，精神不振，五心煩躁，日晡寒熱，總由水火不濟，三陰不足。</p>
<p>大熟地　山茱萸　湖丹皮　大麥冬　潛葳蕤　菟絲子　云茯神　炙遠志　淡菜</p>
<p>精神不振，飲食不甘，五心煩躁，寤而不安，脈來虛數。三陰不足，心腎不交，水火不配。以丸代煎。</p>
<p>大熟地（八兩）　建澤瀉（三兩）　須穀芽（三兩）　肥玉竹（四兩）　山茱萸（四兩）　白茯苓、神各（二兩）　上廣皮（一兩）　大麥冬（三兩）　淮山藥（四兩）　敗龜板（三兩）　炙遠志（一兩）　桂圓肉（四兩）　湖丹皮（三兩）　菟絲子（三兩）　夜交藤（三兩）　淡菜（三兩）　燕根（三兩）</p>
<p>上藥用麥冬、玉竹、桂圓，熬膏和丸。</p>
<p>（案17）心為一身主宰，所藏者神。曲運神機，勞傷於心。心神過用，暗汲真陰，木失所榮，肝膽自怯。神不安舍，舍空則痰火居之。七情不適，思則氣結，腹中澎湃如潮，嚏則稍爽。心病累及肝膽。天王補心丹、酸棗仁湯是理。姑擬阿膠雞子黃湯。然否，請政。</p>
<p>阿膠珠　半夏粉　白茯神　炙甘草　雞子黃　江枳殼（麩炒）　竹二青（去屑）　大生地</p>
<p>三進阿膠雞子黃湯，脈神色俱起。原方進步。</p>
<p>前方加太子參、夜合花</p>
<p>（案18）憂思鬱結，心神不寧，驚悸慌亂，肢顫發抖，飲食不思，咳嗽痰多，形容消瘦，脈見雙弦，犯五行之忌。擬方多酌明哲。</p>
<p>黑歸脾湯去黃耆</p>

<h2>五、陰虧</h2>
<p>（案1）三經半產，陰陽未復。經來色淡，血虛可知。陰虧水不濟火，血少木失敷榮。肝病傳脾，脾傷不能為胃行其津液，榮養諸經，以故精神不振，動勞發熱，脈來軟數無神，有經閉血枯之象。法當靜養培補真陰為主。</p>
<p>大生地（八兩）　淮山藥（三兩）　湖丹皮（三兩）　山茱萸（四兩）　福澤瀉（三兩）　女貞子（三兩）　旱蓮草（三兩）　大麥冬（三兩）　玄武版（四兩）　左牡蠣（六兩）　箱歸身（四兩）</p>
<p>上藥用長流水、桑柴火熬膏。</p>
<p>（案2）腎為元陰之根，統五內之精。肺為元陰之本，司百脈之氣。半產後陰傷精損，陰不斂陽，水不配火，精不化氣，氣不歸精。壯火食氣，火灼金傷。腎虛必竊氣於金，精損必移枯於肺，肺腎俱困，他臟不充。肝病傳脾，土不生金。清肅不降，金不平木，木復生火，火性炎上，上擾君心，心煩意亂，不知所從，竟夕無眠，悔怒數起，虛里穴動，食減神疲。壯水濟火，補陰潛陽。以丸緩治。</p>
<p>六味地黃丸合生脈散，加龜板　蜜丸。</p>
<p>（案3）脈來軟數無力，證本臟陰有虧。陰虧，有陰中水虧、火虧之分。少年真陰不固，真陽失守。腎兼水火之司，水不生木，肝病傳脾，火不生土，脾傷及肺。《經》以中氣不足，溲便為之變，腎開竅於二陰，腎虛則水反為濕，脾虛則土不制水，水澄如膏糊，乃水液之濁，非白濁可比。宗氣無根，虛里震動。腎為先天，脾為後天。脾土之健運，賴腎氣之充盈。腎中水火不能上蒸中土，何由健運。中虛不能交通心腎，精無所倚，夜臥不安。脾之與胃，以膜相連。胃為水穀之海，前陰為宗筋之會，會於氣街，衝脈貫於陽明。《經》所謂二陽之病發心脾，有不得隱曲是也。諸汗屬陽明，衛氣行於沖，氣失衛外，故多汗。陽欲上潛，陰下攝之；陰欲下脫，陽上吸之。陰陽本不相離，水火同居一室。陰陽離決，精氣乃絕。陰平陽秘，精神乃治。無陽則陰無以生，無陰則陽無以化。治宜從陽引陰，從陰引陽。</p>
<p>大熟地（十二兩）　白茯神（六兩）　五味子（三兩）　川萆薢（四兩）　鹿角膠（四兩）　柏子仁（六兩）　川黃柏（四兩）　芡實粉（八兩）　龜板膠（四兩）　酸棗仁（六兩）　大麥冬（六兩）　金櫻子（八兩）　製附子（二兩）　炙遠志（三兩）　箱歸身（八兩）</p>
<p>上藥用長流水、桑柴火熬，以鹿龜膠收膏。</p>
<p>（案4）素本陰虧火鬱，近值恙後中傷，肝病傳脾，轉輸失職，氣鬱化火，上擾心宮。汗為心液，舌為心苗。自汗舌糜，是其明驗。法當壯水之主，以鎮陽光。冀其水升火降，木得敷榮，則無剋土之患。</p>
<p>原熟地（八兩）　元武版（四兩）　淮山藥（四兩）　酸棗仁（三兩）　京玄參（三兩）　川黃柏（二兩）　粉丹皮（三兩）　雲茯苓（三兩）　浮小麥（三兩）　蜜丸。</p>
<p>（案5）真陰下虧，虛陽上越，水火不濟，心腎乖違。五志過極，俱從火化，火愈熾水愈虧。曲直作酸，陰不斂陽，竟夜不寐，甚至心煩意亂，莫能自主。蓋陽統乎陰，精本於氣。上不安者，必由乎下。心氣虛者，必因於精。脈軟而弦。爰以六味三才加介類潛陽，專培五臟之精，冀其精化氣，氣歸精，陰平陽秘，精神乃治。</p>
<p>六味地黃丸合三才湯，加炙鱉甲、玄武版、煅牡蠣、野黃精　蜜丸。</p>
<p>陰虧於下，木失敷榮。木乘土位，脾困於中。脾之與胃以膜相連。胃者衛之原，脾者榮之本。衛不外護則寒，營失中守則熱。健運失常，飲食減少。水源不足，瘦削日加。奇脈有虧，經候不一。脈採虛數而弦，症本辛苦操勞所致。法當脾腎雙培。</p>
<p>淮熟地（八兩）　女貞實（三兩）　大丹參（一兩）　雲茯苓（二兩）　東洋參（三兩）　福澤瀉（一兩五錢）　炙遠志（一兩五錢）　箱歸身（四兩）　於潛術（三兩）　淮山藥（四兩）　酸棗仁（三兩）　炙甘草（五錢）　湖丹皮（二兩）　水蜜丸。</p>
<p>（案6）少年白髮，咽嗌不爽。六脈細數而軟，咽屬少陰，發乃血餘。少陰主水，水不榮木，陰液久虧。丹溪謂壯水之火，血行氣流。緩緩調養，庶可獲效。</p>
<p>鮮生地　當歸頭　北五味　雲茯苓　大熟地　貢白芍　棗仁炭　建澤瀉　鮮首烏　牡丹皮　黑山梔　人乳　清阿膠　冬青子　天麥冬　藕汁（澄粉）　線魚膠　山旱蓮　用人乳、藕汁、生地汁、首烏汁　蜜丸。</p>

<h2>六、咳嗽</h2>
<p>（案1）言乃心之聲，賴肺氣以宣揚。金空則鳴。金塞則啞，金破則嗄。素本勞倦過度，勞力感風，肺氣不展，聲音不揚，已延一載有餘，防成肺痿。</p>
<p>蘇杏二陳湯加孩兒參、炒牛子、桔梗、雞子清、青橘葉</p>
<p>服藥以來，肺胃漸開，音聲漸朗，現溽暑流行，火氣發泄，必得養陰益氣。</p>
<p>二陳湯加旁枝、蘇梗、太子參、黨參、生地、白扁豆、淮山藥</p>
<p>（案2）咳嗽氣喘，胸中氣急且悶，多食不舒，甚則頭面上火。脈來沉滑而疾。氣悶痰鬱，肺胃不展。暫以外臺茯苓飲加味。</p>
<p>外臺茯苓飲加蘇梗、杏仁、半夏、甘草、枇杷葉</p>
<p>進外臺茯苓飲，氣喘已平，肺胃已展，氣仍上衝。久恙中虛，肝腎不納。原方加減。</p>
<p>原方去杏仁、生薑、蘇梗，加熟地、紫蘇子</p>
<p>（案3）左脈澀，右脈沉，按之頗不寧靜。心肝腎三陰內虧，瘧後又傷濕熱，鬱而不化。中虛肺虛，勞動氣喘，面帶陽光。素有疝氣，不能溫補。客冬牙疼，火炎於上，咳嗽不寧，兩脅微疼。金水交傷，氣火升騰莫制。肺為嬌臟，惡寒惡熱，惡風惡燥。病延已久，慮難奏捷。</p>
<p>杏苡仁　生熟地　桑白皮　老蘇梗　光桃仁　大麥冬　杭白芍</p>
<p>（案4）咳嗆，五更尤甚。牙疼身痛，勞動則喘，肢麻畏冷。春分節令，木動風生，擾犯陽明。一陰加減，未見效機。三陰內虧，補之不受，暫以舒豁。</p>
<p>粉葛根　光杏仁　黨人參　雲茯苓　桑白皮　老蘇梗　臺黃耆　新會皮　青防風　生薑皮</p>
<p>次去桑皮、臺耆，加款冬、蒼山楂肉</p>
<p>咳勢較松，齒痛眩暈已止。三陰內虧，虧不受補，擬金水六君加味。</p>
<p>金水六君煎加杏仁、蘇梗</p>
<p>進金水六君，嗆咳已止，眩暈復作，氣喘勞動尤甚。金水交傷。原方加味。</p>
<p>原方加生地、半夏粉</p>
<p>（案5）左脈沉澀，右脈沉滑，推之不靜。痰鬱咳嗽，陰虧雖虛，肺氣不展，久咳不已，則三焦受傷。慎勿輕視舒肺胃，以展氣化。最怕心令司權，致有音啞之患。</p>
<p>光杏仁　北沙參　地骨皮　白茯苓　紫蘇梗　款冬花　桑白皮　生甘草　鼠黏實（研）　玉桔梗</p>
<p>次去冬花、桑皮、桔梗，加慈姑汁</p>
<p>（案6）脈來滑數，肺有郁痰，咳喘不寧，口乾身倦，不思飲食。病久人虛，極難奏效。</p>
<p>杏蘇二陳湯加桔梗、炙麻黃根、香豆豉、葶藶子</p>
<p>次去麻黃加款冬花、麥冬</p>
<p>咳嗽漸減，飲食未增，腹瀉不痛，土弱金虛。再擬六君子加味。</p>
<p>六君子湯加百花膏、焦楂肉</p>
<p>（案7）咳嗽痰多，脈來濡滑，氣虛痰鬱。脾受濕侵，漬之於肺。杏蘇二陳加味。</p>
<p>杏蘇二陳湯加桔梗、白朮、款冬花</p>
<p>陽維為病苦寒熱，熱後嗆咳無痰。四肢乾熱，無汗，形神疲倦，食少無味。土弱金傷，已延四月，肺胃俱困。擬補中益氣加味。</p>
<p>補中益氣湯加杏仁、麥芽</p>
<p>三進補中益氣，諸恙悉退。惟嗆咳未能全止。原方加減。</p>
<p>前方去參、耆、杏仁、麥芽，加阿膠、麥冬</p>
<p>（案8）咳嗽復萌，左腋作痛。暑傷氣肺不展也。</p>
<p>明黨參　杜阿膠　桑白皮　炙甘草　巨勝子　大麥冬　杏仁泥（去皮尖）　玉桔梗　杭白芍　鮮蘆根</p>
<p>進清燥救肺，嗆咳不已，腋下作痛勿止。肺氣不展。仍以舒肺胃，以展氣化。</p>
<p>杏仁泥　芽桔梗　大力子　粉甘草　紫菀茸　大貝母　上廣皮　川白蜜　老蘇梗　生薑自然汁</p>
<p>咳仍未止，腋痛未已。疑因初起曾服膩補收斂之劑，邪閉於肺，氣滯痰鬱。</p>
<p>杏蘇二陳湯加春柴胡、全當歸、白芷、山楂</p>
<p>服藥四劑，咳嗽稍松，肺氣已舒，腋痛已止，脈尚未清。</p>
<p>原方加白芥子</p>
<p>咳嗽稍松，腋痛全已，惟胸中作悶，氣機尚未舒展。</p>
<p>原方去白芥子，加太子參。次補中益氣去升麻、耆，加杏仁、楂肉、半夏</p>
<p>咳出於肺，有聲有痰，咳痰甚黏。肺為嬌臟，不耐邪侵。毫毛襲肺在咳。所服藥石，皆是理路，但咳有邪無止法，舒肺以展氣化，庶可寧嗽。擬方候酌。</p>
<p>栝樓仁　光杏仁　秋桔梗　炒牛子　京川子　老蘇梗　生甘草</p>
<p>（案9）風痰伏肺，咳嗽不寧。</p>
<p>杏蘇二陳湯加信前胡、西豆豉、款冬花、青防風、牛蒡子</p>
<p>（案10）脾胃失調，飲食不香，加之勞力傷中，氣鬱作悶，腰痛首疼，現寒熱咳嗽，陽維為病，肺胃不展。</p>
<p>補中益氣湯去耆，加杏仁、蘇葉</p>
<p>四劑後去升、柴、黨參，加空沙參、款冬花</p>
<p>（案11）始由病後失調，金水交傷，久咳不已，形神消瘦。勞動氣喘。腎虧子竊母氣。謹防火令司權，咳甚吐食，喉痛音啞之患。</p>
<p>杏蘇二陳湯加蒸百合、款冬花、玉竹</p>
<p>久咳不已，三焦受之，不獨專於理肺也。勞動氣喘，金水交傷，慮難奏捷。</p>
<p>六君子湯加杏仁、蘇葉、熟地、胡桃肉、款冬花</p>
<p>（案12）久咳痰多，喉痛作癢，頭眩耳鳴，寤寐不安，胸次不寬，食不甘味。操勞煩心，心火上炎，腎水不升，肺氣不降，謹防音啞喉痹之患。</p>
<p>大生地　桑白皮　京川貝（去心）　秋桔梗　麥門冬　研牛子　酸烏梅　粉甘草　元參心　白射干　榧子肉　豬膚</p>
<p>藥服三帖，痰咳、耳鳴、胸悶、頭暈俱減，喉癢漸止。惟食減神疲依然。水虧於下，火炎於上，火灼金傷。益水源之弱，制火炎之熾。</p>
<p>六味地黃丸加生地、首烏、陳皮、牛子</p>
<p>六進生熟地黃湯，諸症向安。惟頭暈、神倦、食減、夜寐易醒，心嘈、喉癢，間有痰嗽。乃心虛浮火上升，仍以壯水制火。</p>
<p>六味地黃丸加生地、麥冬、牛子、蘇梗、烏梅</p>
<p>進乙癸同源法，兼舒肺胃，咳解九分，喉癢已愈，頭暈未已，夜寐易醒，口內先甜後苦，已歷三年。心肺腎三陰不足，脾虛濕鬱，不宜操勞動怒。</p>
<p>（方未見）</p>
<p>（案13）左脈沉小，右脈濡澀。肝陰不足，氣虛痰鬱，肺為嬌臟，不耐邪侵，犯之毫毛必咳。肺不和則鼻不聞香臭，冒風則咳甚，臥時喉中有水雞聲。肺虛治節不行，肝虛氣衝於上。本用金水六君，現肺郁風邪，先以清疏為主。</p>
<p>杏蘇二陳湯加款冬花、葶藶子、白蜜、薑汁</p>
<p>咳嗽有聲有痰。讀成功書云：有聲無痰謂之咳，無聲有痰謂之嗽。脾受濕侵，肺由火灼，胸悶氣阻，痰豁即安，夜寐喉內有聲，天明吐濃痰數口方安。中虛肺虛，腎氣亦虛。先從中肺進步。</p>
<p>杏蘇二陳湯加炙麻黃、炒惡實</p>
<p>脾為生痰之源，肺為貯痰之器。清晨痰多，夜來痰嘶，肺氣不展，中虛腎虛，口乾痰帶腥味，似覺欲吐。仍從肺胃進步。</p>
<p>萬氏定喘湯去蘇子，加川貝、橘紅、桔梗、葶藶</p>
<p>喉內痰聲，下午尤甚，清晨吐濃痰數口，氣方平順。痰鬱氣機，隨氣而升，隨肺而降。舒肺不應，降肺亦不應，滯膩難投，舒肺以展氣化。</p>
<p>六君子湯加甜葶藶、黃芩、海參、薑汁、白蜜</p>
<p>服藥三帖，痰聲已無。惟走泄後夜寐易醒。心腎不交，原方加味。</p>
<p>前方加夜交藤、合歡皮、夜合花</p>
<p>（案14）肝升於左，肺降於右。少腹屬厥陰肝也。少腹氣衝左右，不能安臥，有升無降，木擊金鳴，咳唾白痰，入夜尤甚。食不甘味，月不及期，熱甚白帶，四肢無力。氣鬱傷中，肝失調達，木製中胃，氣血雙虧，中虛肺虛。左右者，陰陽之道路也。偏久致損，損不能復，最為可慮。宜息怒寧神，保守太和為妙。</p>
<p>歸芍六君子湯加生地、麥冬、阿膠、蘇梗蜜丸。</p>
<p>（案15）素來善飲，濕甚中虛，誦讀勞煩，氣火升騰莫制，釀濕生痰，痰生濕甚，上損於下，延及於中，三焦俱損，損不能復，調治非易，所服藕汁輪迴酒，其理甚近。營出中焦，資生於胃，救陰無速功，從心脾進步。</p>
<p>歸脾湯去桂圓，加荷葉包、陳倉米</p>
<p>恙原前方申說，茲不再述。藥服三帖，咳嗽減半，痰沫亦少，胸次隱痛，肩膊酸脹，手足作熱，午後尤甚，飲食不香，怕見陽光。陰陽雙虧。原方加減。</p>
<p>前方加鹿膠、龜膠</p>
<p>（案16）素飲膏粱，中傷肺傷。暴怒傷陰，喊叫提氣，氣不下降，咳嗽聲啞。雖有濕熱，當從太陰、太陽化之，極難奏效。</p>
<p>溫膽湯加甘葛、黃芩、薑汁、白蜜</p>
<p>（案17）久咳痰多，動勞氣喘，寒熱往來，心煩不寐，飲食減少，嘔噯不舒。內損已久，難以奏效。</p>
<p>六君子湯加川貝子、淡竹茹、杏仁、蘇葉，次加香柴胡、芽桔梗</p>
<p>驚則氣亂傷心，恐則氣下傷腎，氣血紊亂，致有吐衄。服豬油斂而止，膩滯氣血，由此咳嗽痰多，心緒煩勞，晝夜無眠。起自八月，延今不已。形神日羸，飲食日少，每日兩次寒熱，手足心熱。舌絳苔白，中有紅巢，並且麻木。陽維為病，肺胃中傷，防喘促之劇。</p>
<p>補中益氣湯去耆，加牛膝、製半夏、山楂、茯苓、桃仁、棗仁</p>
<p>昨進藥後，寒熱、手足心熱均退，半夜咳減痰稀，方能安睡，不能左臥。但病人虛，春分節令，慎調為要。</p>
<p>四君子湯加杏仁、蘇葉、半夏、歸身、棗仁、楂肉、研牛子、白沙參</p>
<p>昨藥後，咳嗽更甚，痰多色白濃厚，至半夜後，咳減痰稀，方能安臥，左臥不能，食不甘味，言語稍清，舌絳漸退。病勢深危，但難奏效，原方加減。</p>
<p>原方去棗仁、歸身，加白芍、浙貝母</p>
<p>次服六君子湯加白芥子、赤蘇子、枳實炭</p>
<p>咳勢大減，夜能安寐，痰涎已少，舌苔已化，飲食稍增，語言如常，脈來甚小。正氣已虛，仍宗前法，助以輔正。</p>
<p>六君子湯加象貝母、蘇梗、牛子、穀芽、山楂</p>
<p>病咳愈後復萌，日輕夜重，痰不豁動，中傷肺損。不宜操勞，謹防肺痿。</p>
<p>杏仁（泥去皮尖）　烘冬朮　玉桔梗　川白蜜　紫蘇梗　孩兒參　生甘草　薑汁</p>
<p>次加潛葳蕤、鼠黏子</p>
<p>咳勢已平，夜臥喉內微有水雞聲，中傷肺虛，服藥即效，以丸代煎。</p>
<p>六君子湯加太子參、杏仁、蘇梗、桔梗、玉竹、牛子，以薑汁、白蜜和水泛丸。</p>
<p>（案18）咳病六載，動勞氣喘，手足發冷，飲食不甘，冷痰甚多，面黃浮腫，脾肺腎三經交病。</p>
<p>六君子湯加川百合、芡實、菟絲子、冬瓜子、薏苡仁</p>
<p>久病浮腫，咳嗽不已，脾肺兩傷，不欲飲食，進補土生金，飲食稍增，浮腫不退，咳勢似松，痰帶腥味，防其喘滿。</p>
<p>原方去百合、菟絲、冬瓜子，加山楂、核桃、藕節</p>
<p>（案19）實火宜瀉，風火宜清宜散。水虧於下，火升於上，厥陰繞咽，少陰循喉，久嗽音啞喉痛。金水交傷，陰不上潮，涸澈燎源，陰耗陽竭，精血內奪。苦寒敗胃，清火清熱，取一時之快利。所謂揚湯止沸，終歸不吉。導龍入海，引火歸元，古之良謀，無不效者。鄙見淺陋，多酌明哲。小徒請開肺清熱之法，尚屬平穩。服一二劑，看其如何。</p>
<p>生熟地　太子參　川熟附　還原水　天麥冬　京玄參　淮牛膝</p>
<p>咳為肺病，喘為腎病，五臟六腑皆令人咳，不獨在肺，明矣。咳嗽痰涎白沫，音嵐日啞，飲食日少，形容日羸，舌白脈弦。土敗金傷，腎虛水泛為痰，中虛積飲水濕，浸淫漬之與肺，肺傷於腎，三焦俱病，殊堪大慮，謹防喘促。</p>
<p>真武湯加炙甘草</p>
<p>服真武湯雖效，亦非常法。今擬脾腎同治，六君加味。若音開咳減，再進陽八味可也。</p>
<p>六君子湯加枸杞、菟絲、孩兒參　煉蜜丸。</p>
<p>（案20）卯咳不宜時，去秋瘧後而劇，肺注於寅行於卯，手陽明之氣，不能下逮而上犯作咳。小柴胡、溫膽、瀉心，是理俱不。擬治足陽明，兼清肺金。</p>
<p>復脈湯去桂枝、薑、棗，加黃芩、白糖，拌黑芝麻。</p>
<p>進炙甘草湯十餘劑，咳聲減半，痰亦漸稠，白色轉綠。飲食漸加，本月寅日，咳又增劇,去秋瘧後，邪留為害。足陽明為病，依方進步。</p>
<p>六君子湯去白朮，加甘葛、酒炒黃芩</p>
<p>（案21）咳逆日久，至五更更劇。《經》云：五更嗽者，火浮於肺也。寒熱胸悶，不欲食，脈浮而滑。風逆肺腑，久則傷脾。補土生金為治，非勞瘵也。</p>
<p>白蘇子　甜杏仁　法半夏　淮山藥　白前　生穀芽　薄橘紅　雲茯苓　全當歸　杭白芍</p>
<p>（案22）肝火沖肺，咳逆作熱，熱久傷胃，口無味，不欲食，難於大解，脈軟神疲。肝脾肺三經受恙。</p>
<p>川百合　炙鱉甲　白沙參　銀柴胡　川貝母　制首烏　柏子霜　雲茯苓　川石斛</p>

<h2>七、哮喘</h2>
<p>（案1）腎不納則肝陰虧損，脾不健則濕痰益甚。腎不升，肺不降，易飢易飽，精神倦怠，哮喘即發。巔疼不寐，氣急痰嘶，右胸脯於去秋高起一塊，至今未平，不時疼痛。喉外生核，牙齦出血，數日一發，形神日羸。諸氣膹郁，皆屬於肺。諸氣不納，皆屬於腎。香燥難投，苦寒更屬不宜。金匱腎氣養肝腎以納氣，是其大法。桂無佳者，不能引火歸元，反助其熱。病真藥假實難為力。</p>
<p>六君子湯加孩兒參、熟地、牡蠣、五味子、山藥、杏仁、枇杷葉</p>
<p>（案2）素來善飲，濕甚中虛，脾受濕浸，漬之於肺，勞動喘促，不能安臥，痰豁乃平。切忌動怒操勞。所謂氣升則痰升是也。</p>
<p>大熟地　全當歸　葶藶子　雲茯苓　潞黨參　製半夏　老蘇梗　炙甘草</p>
<p>（案3）幼年哮喘，秋冬舉發，發則不能安枕，痰豁乃平，脈弦兼滑。風痰鬱肺，已歷多年，極難脫體。先以小青龍湯加味。</p>
<p>小青龍湯加香豆豉、光杏仁</p>
<p>（案4）脈滑而數，鬱熱郁痰，清肅不行，大哮痰喘，似宜清燥救肺。但久病肺虛，苦寒雖效，不宜常服，恐傷生髮之氣。先哲明論，年少病深，難於奏捷。</p>
<p>杏蘇二陳湯加太子參、黨參、桔梗、羚羊角、地骨皮、活水蘆芽</p>
<p>清上源鬱熱郁痰，已服四劑，胸滯氣脹全愈。飲食不香，小便未清，仍有咳嗽稠痰，乃水之上源，氣化不及州都，肺家鬱熱。原方加味。</p>
<p>前方加芣苡子</p>
<p>服藥後，胃口漸開，夜能安臥，頭痛已痊，胃口已開。哮喘未作，惟早間稍有咳嗽，氣不舒暢，脈之滑數較平。仍清氣分之熱。</p>
<p>二陳湯加羚羊片、銀條參、太子參、杏仁、苦葶藶、逆水蘆根</p>
<p>清金熄風，胃開咳平，夜臥如常。又服清燥養肝廿十餘帖，哮喘四十餘日未發，喉中水雞聲全除。秋燥用事，仍依前方進步。</p>
<p>（案5）肺為嬌臟，清空之所，內配胸中，為五臟六腑之華蓋。六葉兩耳，二十四節。按二十四氣，主百脈之氣、至嬌之臟，不耐邪侵，犯之毫毛，必咳寅辰。寒客肺腧，宜服小青龍、小建中，化邪外達。邪郁肺絡，變生哮喘，發則聲如曳鋸，不能安臥。已延四載，終身之累也。</p>
<p>小青龍湯加光杏仁</p>
<p>（案6）童年哮喘，其自風寒。冬令即發，間或咳逆，痰中帶血，白沫較多，氣急不能平臥，難以安枕。近年愈發愈勤，正氣腎氣皆虧，脈來軟細，所謂形豐脈空，外強中弱，少壯若此，衰年何堪。驟補則鬱痰，伏邪不化，疏則正氣更傷。補土生金，金來生水，病急藥緩，又值火令司權，溫補燥熱，俱宜暫停，恐火氣發喘之變。</p>
<p>六君子湯加冬蟲夏草、杏仁、胡桃肉　次加蘇梗、旁枝</p>
<p>脈來沉滑而疾，右得澀象。幼年哮喘，病入肺絡，延今多載，正氣腎氣俱虧，不能化邪外達。前進補土生金。久病已和，調養肺胃。至於三子養親、蘇子降氣、小青龍寧嗽法，取效於一時，非常服之方。太陰濕土司命，濕侵積肺，又當一論，非泛泛風哮之治。現將火氣發泄之時，用藥尤難，擬方多酌。</p>
<p>六君子湯加熟附片、蘇梗、牡蠣、冬蟲夏草、核桃肉</p>
<p>脈來沉滑而疾，右之濡象俱透，似有火象。氣悶作嘈，氣升則頭汗，喉中有聲，不能見風。但久病正氣肺氣俱虧，難於速效。</p>
<p>原方去熟附片、冬蟲夏草，加麥麩炒枳實、杏仁。服二帖，加薏苡米、建澤瀉。</p>
<p>哮喘起自童年，延今廿餘載。八仙桂附肅降等品遍嘗無效者，虛中夾實，肺氣腎氣皆虧也。進參苓白朮牡蠣湯合杏蘇，補中兼開，頗合病機。久病屬虛，肺有伏風，不能驟去。以丸代煎，徐徐調養。肺邪自化，亦必保守身心，乃能有濟。</p>
<p>明黨參（三兩）　炒白朮（三兩）　杏仁泥（去皮尖，三兩）　製半夏（一兩）　雲茯苓（三兩）　左牡蠣（五兩）　紫蘇梗（二兩）　化橘紅（一兩）　冬蟲夏草（一兩）　福澤瀉（一兩）　粉甘草（五錢）　生苡仁（一兩）　蛤蚧（一對去磷，童便浸，麻油炙酥）　蜜丸。</p>
<p>復感濕痰填中，肺胃不展，氣急痰多，喉內痰如水雞聲。諸肺喘，皆為惡疾，慎勿輕視。</p>
<p>西麻黃　白芥子　老蘇梗　粉甘草　桂枝尖　葶藶子　焦白朮　白茯苓　款冬花　半夏粉　次去桂枝加附子</p>
<p>進附子三子法，喘勢已平，仍有痰嗽，寐來口苦作咸，心腎之氣未調，原方增損。</p>
<p>二陳湯加熟附、葶藶、款冬花、杏仁、熟冬朮</p>
<p>（案7）哮喘數載，不耐風寒，發則俯仰，坐臥不寧，痰豁咳出乃平，肺有郁邪。飲食不為肌膚，化為痰涎。先治其上。</p>
<p>小青龍湯</p>
<p>咳出於肺，喘出於腎。咳則喘息不休，腎不納肺不降，不能平臥，已延兩月。肺腎俱病，極難奏效。</p>
<p>附都氣丸加童子小便</p>

<h2>八、肺痿</h2>
<p>（案1）中傷肺虛，咳嗽失血，紅紫不一，痰中帶血，形消發熱，脈來虛數。慎防喉痛音啞，變生肺痿。</p>
<p>苦杏仁　湖丹皮　杭白芍　生甘草　懷牛膝　山楂肉　雲茯苓　童小便　人參三七汁　活水蘆根（去節）</p>
<p>（案2）咳出於肺，有痰為嗽，火灼金傷，始因風伏於肺絡，咳嗽失紅。前年三月，迎風伐肺，由此音啞。肺氣鬱而音不開，手足發熱，口乾心悸，浮火時升，飢則尤甚，脈來細虛。金傷成痿，恐難奏效。</p>
<p>冬蟲夏草（一錢）　白山藥（三錢）　玉桔梗（一錢）　陳海䖳（五錢）　孩兒參（一錢）　研牛子（米炒，三錢）　粉甘草（五分）　雞子清（一個）　阿膠珠（三錢）　肥玉竹（三錢）　燕尾草（三片，即茨姑葉）</p>
<p>（案3）去冬咳嗽失血，痰帶花紅，延今不已，動勞氣喘，胸脹食少。中傷肺傷，勢成肺痿。</p>
<p>杏苡仁（各三錢）　湖丹皮（二錢）　懷牛膝（一錢）　川貝子（去心，二錢）　淡黃芩（酒炒，一錢）　山楂肉（紅糖炒，三錢）　五爪橘紅（一錢）　雲茯苓（三錢）　枇杷葉（去毛，三錢）　白茅根（二錢）　蘆根汁、藕汁泛丸。</p>
<p>（案4）久咳音啞，喉痛作干，形神日瘦，飲食日少。金水兩傷，陰不上潮，肺痿已著。所服導火歸原，金水相生，是其法程。時值午火司權，金水益虧，脈來沉數。沉者郁也；數者，火也。七情不適，鬱結化火，火灼金傷，理當補陰。奈飲食減少，寒熱往來，暫從木鬱達之。營出於中焦，資生於胃。諸虛百損，全賴脾胃。資生化源，補土生金。擬補陰益氣加味。病勢深沉，慮難奏捷。</p>
<p>補陰益氣煎加左牡蠣、雞子黃</p>
<p>案載前方，茲不贅述。</p>
<p>太子參　杭白芍　生甘草　箱當歸　黨人參　玉桔梗　淮山藥　製半夏　榧子肉　南木香</p>
<p>咳嗽已平，喉痛未減，三日聲音未開。憎寒雖止，蒸熱未退，脈來沉數。鬱結化火，火灼金傷，真陰隨之消耗，病深難以為力。再擬一方，回府多酌明哲。</p>
<p>原方去黨參、半夏、當歸、木香，加北沙參、冬蟲夏草、烏梅、百合、陳黴乾菜</p>
<p>（案5）肺為嬌臟，不耐邪侵，犯之毫毛必咳。內配胸中，外司皮毛，客夏傷風音啞，肺氣鬱而音不開。秋來燥氣加臨，致生痰嗽。蒂丁下垂，延今不已。間日寒戰如瘧，二氣交爭，火鬱傷金，肺痿已著。但病勢日深，形神日羸，入夏火令司權，恐嬌臟不耐燔蒸，致生歧變。</p>
<p>補陰益氣煎加鱉甲、貝母</p>
<p>進補陰益氣，間日寒熱如瘧已解。陰精走瀉於下，虛火冒越於上，咽痛音啞尤甚。厥陰繞咽，少陰循喉。咳嗽痰多，肺痿已著，金水交傷。再擬豬膚甘桔加味。</p>
<p>豬膚甘桔湯加生熟地、冬蟲夏草、榧子肉、阿膠、白沙參、炙蘇梗、雞子黃、黴乾菜、鮮茨姑汁</p>
<p>服豬膚甘桔，咽痛減，聲音開，飲食如常，咳嗽不解，天根微有硬燥，下午尤甚，顯是陰不上潮，金水交傷。草根樹皮，難治情志之病，必得息慮寧神，四大皆空，或可僥倖萬一。</p>
<p>原方加山藥、銀杏、牛子</p>
<p>（案6）咳病經年，形神稍變，午後發熱，又增喉痛難食。脈來細數不寧，右寸不來。金水交虧，中傷肺痿，極難奏捷。</p>
<p>馬兜鈴　清阿膠　杏仁泥　甘草　孩兒參　桑白皮　紫蘇梗　桔梗　牛蒡子　蘆根（去節）</p>
<p>久咳喉痛，脈形神俱虧，午後發熱，飲食不思，苔黃，火燥金痿，金水交傷。經補肺喉痛稍輕，咳嗽雖平，脈未起色，究屬不宜。再擬千金方合前法，有效乃吉，否則另請高明。</p>
<p>前方去馬兜鈴、桑白皮，加銀柴胡、絲瓜絡、地骨皮</p>
<p>服藥雖效，脈無起色，終屬不宜。再擬一方，以觀如何。</p>
<p>太子參　天麥冬　小牡蠣　芽桔梗　大熟地　阿膠珠　鼠黏子　絲瓜絡</p>
<p>（案7）始因風傷肺絡，咳嗽失紅，紅紫不一，延今二載。喉痛，食入作脹。金傷已成，肺痿實難救治，姑擬建中加減。</p>
<p>川桂枝　光杏仁　款冬花　地骨皮　杭白芍　紫蘇葉　酸烏梅　白茅根　炙甘草　玉桔梗　雞子清</p>
<p>久咳不已，痰俱花紅，肺痿已成。火令司權，難於救治。姑擬一方，聊盡人功。</p>
<p>桑白皮　光桃杏仁　粉甘草　大貝母　地骨皮　大麥冬　秋桔梗　白茅根</p>

<h2>九、肺癰</h2>
<p>中傷肺損，木火上衝，始而背痛，左腋亦然。傷力蓄瘀，氣血紊亂，晝夜無眠，咳嗽氣喘，痰帶花紅，且有腥穢，肺癰已著。脈來芤象，殊屬不宜。勉擬一方，是否，備政於通明。</p>
<p>桃苡仁（各三錢）　地骨皮（一錢五分）　絲瓜絡（一錢五分）　童子小便（一杯）　生甘草（五分）　桑白皮（一錢五分）　嫩蘆根（去節，一兩）</p>

<h2>十、吐血</h2>
<p>（案1）年經三九，幼年失血。今歲三月，舉發紅雖止，咳嗽不寧，天明尤甚，脈滑痰多，食不甘味。肺胃中傷，難於速效。</p>
<p>冬蟲夏草（一錢）　杭白芍（一錢五分）　杜阿膠（一錢五分）　白茅根（五錢）　川貝母（去心，二錢）　製半夏（一錢）　玉桔梗（一錢五分）　雲茯苓（四錢）　北紫菀（一錢）　研牛子（炒灰，三錢）　生甘草（五分）</p>
<p>失紅宿疾，紅止咳嗽，天明尤甚，夜不能寐，食不甘味，肺胃中傷，難以奏捷。</p>
<p>前方去甘草、桔梗、牛子，加鐵皮石斛、柏子仁、山藥</p>
<p>（案2）始由陰虛傷風，咳嗽白痰，四月間痰帶紅點，四五日即止。腎虛耳鳴、盜汗、脫肛，脈來虛數。肺腎兩傷，此屬內損。速遠房帷，獨居靜養。真陰來復，方能有濟。</p>
<p>冬蟲夏草（一錢五分）　生牡蠣粉（八錢）　大熟地（八錢）　雲茯苓（三錢）　川百合（三錢）　淮山藥（四錢）　廣橘紅（一錢）　胡桃肉（二枚）　肥玉竹（四錢）</p>
<p>（案3）久咳不已，三焦受傷，肺胃不展，飲食不香。暫以補中益氣加減，和胃平咳，胃開為妙。</p>
<p>補中益氣湯去當歸，加阿膠、牡蠣</p>
<p>金為水母，氣為水源。久咳不已，每咳喉中先癢。肝陽化風，木扣金鳴，本用金水六君，前因胃口未開，補土生金，擬東垣先生法，舒肺胃以展清陽，胃口已開，咳勢未平。今擬金水六君加味，冀其咳緩則吉。</p>
<p>金水六君煎加米炒牛子、冬蟲夏草，次加玉竹</p>
<p>（案4）肺無因而不咳，絡不傷血不出。客秋感冒，嗆咳不已，嘔惡，飲食不香，逮至冬日，吐血甚多，其色鮮紅。今春又吐，咳不能寐，身痛麻木，脈不安靜。氣分有火，血分有熱。</p>
<p>犀角地黃湯加淮牛膝、甘草、旱蓮、茅根、童便</p>
<p>（案5）失血多年，朝暮嗆咳，交節尤甚。現三五日一發，吐血不止，胸次作脹，氣阻中宮，不飢不納，身熱巔疼，脈象沉弦，思慮煩心。肝鬱中傷，肺胃交病。</p>
<p>杭生地　淮牛膝　上廣皮　女貞子　粉丹皮　穀芽　雲茯苓　山旱蓮　杭白芍　春柴胡</p>
<p>（案6）《經》以大怒則形氣絕，而血菀於上。鬱結化火，火載血上，狂吐之後，咳嗽不已，旬日必遺泄，脈來弦數。水不養肝，木擊金鳴，肝虛制胃，久延非宜。</p>
<p>六味地黃丸合二至丸加白茅根</p>
<p>服藥三劑，精神振，飲食增，咳仍未止，痰色黃白不一。昨日無夢而泄，宜養肝腎，仍以乙癸同源。</p>
<p>前方去二至丸，加冬蟲夏草、玉竹、麥冬、胡桃肉</p>
<p>本質不足，乙癸同源，頗合機宜。現暑濕傷脾泄瀉，咳嗽夜甚。急則治其標。</p>
<p>清暑益氣湯去五味、黃柏、蒼朮，加杏仁、苡仁</p>
<p>服清暑益氣湯，泄瀉已止，胃口漸開，咳勢已減。本質陰虧，乙癸同源，頗合機宜。暑濕瘥，未便滋膩。</p>
<p>清燥救肺湯去石膏，加石斛、桔梗、升麻、葛根</p>
<p>進西昌先生法，咳勢已松。昨早忽又咳甚，乃暑濕傷氣，肺為氣長也。擬清暑益氣湯加減。</p>
<p>清暑益氣湯去耆、蒼朮、黃柏、五味、升麻、葛根，加杏仁、苡仁</p>
<p>夜咳已止，早晚尚咳，亦不甚劇。調治以來，走泄已痊，飲食稍增。諸虛百損，全賴脾胃資生化源。虧損之病，必得清心靜養，真元來復，諸病自除。血雖不來仍當養肝腎，兼調中胃。</p>
<p>中生地　杭白芍　光杏仁　粉甘草　白山藥　建澤瀉　雲茯苓</p>
<p>如咳甚，服下方。</p>
<p>冬蟲夏草　潛葳蕤　酸烏梅　白淮藥　北紫菀　大麥冬　有血加生地、牛膝</p>
<p>初五日忽又咳甚痰多，早晚不安，痰中帶血，血多瘀紫。秋燥傷肺，火載血上，金水交傷，保重為囑。</p>
<p>生熟地（各八錢）　白山藥（三錢）　白茯苓（三錢）　山楂肉（三錢）　冬蟲夏草（一錢五分）　白玉竹（五錢）　白茅根（四錢）　光杏仁（三錢）　還原水（一杯）　生甘草（五分）</p>
<p>（案7）三陰內虧，酒濕兼傷，下有漏危，火載血上，咳嗽食少，脈來虛數。三焦俱損，必得靜養，保守太真，生氣來復，方克有濟。</p>
<p>大生地（八錢）　白山藥（五錢）　阿膠珠（一錢五分）　冬蟲夏草（一錢五分）　於潛術（三錢）　胡芡實（三錢）</p>
<p>服藥後，咳嗽略減，寐安便溏，形神日漸消瘦。左脅跳作痛。時逢暑令，暑傷氣，濕傷陰。原方加減。</p>
<p>原方加苡仁、白扁豆、新蓮子</p>
<p>進補土生金，飲食未增，咳嗽仍然，脈神形色未起，殊堪大慮。虧損之病，又值暑熱傷陰，傷陰尤為棘手。再擬一方，有效則吉。</p>
<p>空沙參（二錢）　淮山藥（四錢）　化橘紅（一錢）　生甘草（五分）　川百合（三錢）　杭白芍（一錢五分）　杜阿膠（二錢）　雲茯苓（三錢）　炒於術（三錢）　光杏仁（三錢）</p>
<p>午後服十九味資生丸三錢。</p>
<p>服藥後身體較前尚屬平靜。子午咳嗽稍輕，形消，脈奪，虧損已極。補土生金，或可有濟。</p>
<p>大熟地（二兩）　冬蟲夏草（五錢）　烏梅肉（五錢）　半夏粉（五錢）　南沙參（一兩）　獨枝歸身（三錢）　杜阿膠（一兩）　上廣皮（五錢）　川百合（一兩）　干切茯苓（一兩）　白山藥（三兩）　蜜丸。</p>
<p>（案8）大怒則形氣絕，而血菀於上，咳嗽帶血，起自夏初，日見其多。現咯血紫塊，食少喉燥，五更咳甚。吐血時氣火如煙，自臍而上，臍痛肋脹，此肝腎兩虧，酒濕釀熱傷肺。先以葦莖湯加減，再補肝腎，有效乃吉。</p>
<p>葦莖湯加生地、牛膝、山楂、參三七、絲瓜絡、童便</p>
<p>進千金方法，廿八日吐紅紫血數口，昨日未吐，右腰作痛，咳亦未止，左不能臥，飲食減少，喉中氣塞。肝腎內虧，氣火如煙上衝，太陰治節不行，胃氣不降，阻逆不食，五心煩熱，四肢無力。三焦俱損，殊堪大慮。仍以化瘀生新法。</p>
<p>參三七　杏桃仁　南山楂　老藕節　細生地　京赤芍　淮牛膝　枇杷葉　湖丹皮　生甘草</p>
<p>進化瘀生新法，仍吐紫血加塊，咳嗽未減，肋痛依然。肝腎內虧，停瘀不化。病實人虛，難以奏捷。</p>
<p>原方去桃仁、山楂、赤芍、枇杷葉、甘草，加歸身、山藥、茅根、茯苓、鱉甲</p>
<p>（案9）去年失血，調治已痊。現手足心熱，夜間咳嗽，痰多黃色。陰分雖虛，脾濕生痰，漬之於肺，慎防血溢。</p>
<p>杏蘇二陳湯加細生地、黨參、冬朮、苡仁</p>
<p>（案10）年逾花甲，二氣就衰。客冬風冷，咳嗽延至今夏。痰帶紅紫，夜不能寐，身痛氣喘，動勞尤甚，飲食不香，足跗浮腫，蔓延於上。寒生濕，濕生熱，濕熱內困，土敗金傷。脈來參伍不調，生氣大損，胃敗中傷，暫養心脾胃。胃開納食，方能轉機。</p>
<p>歸脾湯去耆，加黑核桃肉</p>
<p>服藥後紅止，咳平夜能安臥，飲食加增，原方加味。</p>
<p>原方加陳皮、阿膠</p>
<p>（案11）傷力失血，咳嗽不已，中傷肺傷，謹防喉痛音啞。</p>
<p>北紫菀　光杏仁　大麥冬　甘草　馬兜鈴　玉桔梗　雲茯苓　茅根　杜阿膠　杭白芍　鮮紅花</p>
<p>（案12）曾經失血，入夜咳嗽，甚至不臥。胸次發脹，已延數月。中傷肺傷，仍防血上。</p>
<p>桂枝湯加杏仁、蘇梗、雲茯苓、橘紅、桔梗</p>
<p>（案13）年甫十八，咯血載余，乾咳血上，脈來細澀。先天本弱，臟陰營液俱耗。素有走泄，肺腎兩虧，極難調治。</p>
<p>太子參（二錢）　牡丹皮（一錢五分）　淮山藥（三錢）　清阿膠（一錢五分）　細生地（五錢）　白歸身（二錢）　白茯苓（三錢）　生甘草（五分）　參三七（五分）　杭白芍（一錢五分）　白茅花（二錢）</p>
<p>咯血略減，仍有紫色，脈之細澀較和，仍守原意。</p>
<p>原方加山楂肉、藕節</p>
<p>三日未見血跡，咳勢大減，左脈澀象漸和。原方加減。</p>
<p>原方去白芍，加杏仁泥</p>
<p>咳血與嘔血不同，咳血嗽起，嘔血逆來。嘔血者，肺血也；咳血者，臟血也。嘔血者易治，咳血難療。咳嗽發熱，午後尤甚，所服養陰是理。但胸悶嘔吐清水，肺胃中傷，從中胃調治，暢胸開懷，乃有轉機。</p>
<p>杏蘇二陳湯加柴胡、桔梗、山楂、參三七、茅根</p>
<p>咳止胸寬，原方加減。</p>
<p>原方加歸身、白芍</p>
<p>血止咳愈，胸寬食增，身熱未退，陰陽未復，原方加減。</p>
<p>杏蘇二陳湯去廣皮，加柴胡、地骨皮、空沙參、湖丹皮、白茅根</p>
<p>（案14）肝藏諸經之血，肺司百脈之氣。年逾五六，飲食少納，體生疹塊。客歲右肩作痛，四肢無力，今正咳嗽帶紅。驚蟄節後氣逆，右脅痛脹，周身筋骨不和，脈來虛大而弦。肝為起病之源，肺為傳病之所。木扣金鳴，陽明不司束筋骨以利機關。春分節令，慎防氣喘血溢。</p>
<p>二至丸加丹皮、白芍、牛膝、杏仁、蘇梗、阿膠、茅根。服藥後氣疏痛止，胸次飽悶，咳嗽痰多，頭目眩暈。原方加減。</p>
<p>二至丸加歸身、木瓜、杏仁、雲苓、藕片</p>
<p>咳嗽痰多，心胸作悶，頭暈無力，早暮噁心，陽經為病。</p>
<p>補中益氣湯去耆加桃仁、蘇梗、薑棗</p>
<p>（案15）衛虛不能外衛則寒，營虛不能內營則熱。肺主皮毛而司腠理。病延月餘，營衛失調，肺衛俱病，補中益氣不應。先哲云：熱之不熱，寒之不寒，從陽引陰，從陰引陽。擬十四味建中主治。</p>
<p>十四味建中湯</p>
<p>三服建中，寒熱全解，諸病皆退，依原法以杜復萌。</p>
<p>原方去肉桂加半夏。服五帖。</p>
<p>（案16）恙由前歲瘧後腹脹，脹後音啞。客夏失血，咳嗽延今不已，午後氣逆，丹田上衝，嘔吐白沫，痰涎間有血點，臥則喉內痰聲即咳醒，每夜數十次。飲食不香，脈來細澀。金水交傷，腎氣不納，殊堪大慮。擬附都氣，引火歸元，納氣歸窟。</p>
<p>附都氣丸</p>
<p>兩進都氣丸，引火歸元，納氣歸窟，未見動靜。金為水母，氣為水源，肺腎不交，氣不生金，金不化氣。春分在邇，氣火不納，謹防血疾復萌。暫以小劑一陰煎加減。</p>
<p>一陰煎去丹參，加丹皮、蘇梗、牛子、冬蟲夏草</p>
<p>服藥後，三更咳吐鮮血帶紫，三四口即止，痰多不易出。中虛肺虛，飲食不增，胃氣不振，甚為棘手。</p>
<p>原方去牛膝、丹皮、麥冬，加黨參、楂肉</p>
<p>（案17）脈象閃爍，咳甚痰嘶，且不易出，嵐音不振，面無華色，唇白舌白，氣不生陰，陰不上潮，積痰化飲，似宜真武法。春分節令，二氣平分，且以豬膚甘桔，服一二帖，再議回府，慎調可也。</p>
<p>豬膚甘桔湯加太子參、塊苓、牛子</p>
<p>三進豬膚甘桔，春分又進一帖，下半夜咳吐稀少，血點亦止。初十日服藥後，上半夜咳吐氣衝甚勤，下半夜稍輕，痰中間有血點，其色紅紫。向來便結，近日便溏，飲食不開，噯氣不出，痰嘶未減，殊屬不宜。仍以原方疏通氣分，再議真武法。</p>
<p>真武湯加絲瓜絡、孩兒參、牛子、桔梗、甘草、山楂</p>
<p>音聲不開，痰聲略減，飲食不增，脈來細澀不起。擬孫真人法，再擬郭元先生瓊玉膏。回府靜養，不動肝怒，不起心陽，返觀內守。庶可挽神明於沖漠，請諸名哲斟酌。</p>
<p>豬肺（一具，洗去血水，以淨白為度）　雞子清（三個）　白芨片（三枚）　百合（一個，去皮根鬚）　細榧肉（四兩，切碎）　鮮茨姑（五個）　銀杏（每歲用一個，去殼打碎）　文冰糖（一兩）</p>
<p>上藥共入肺內，煮如見紅，再入白芨、雞清、文冰糖，煨腐爛，隨意食湯食肺均可。</p>
<p>膏方</p>
<p>大生地（十二兩）　雲茯苓（二兩）　西琥珀（四錢）　款冬花（一兩）　太子參（一兩）　沉水香（四錢）　川百合（二個）　冬蟲夏草（五錢）</p>
<p>上藥先將生地熬汁去渣，入白蜜煉稠，再將余藥研細末，和入磁罐，竹籬封口，隔湯煮六時。每早開水和服三錢。</p>
<p>（案18）驚則氣亂傷心，恐則氣下傷腎，氣血紊亂，致有吐血。一日寒熱兩次，陽維為病。慎防喘促呃逆。</p>
<p>補中益氣湯去耆、陳皮，加桃仁、棗仁、牛膝、山楂、茯苓、半夏</p>
<p>（案19）失血之脈，緩靜為順，洪大為逆。半產後氣血紊亂，血隨氣上，脈來洪大而弦。血不養肝，肝不藏血，氣火升騰莫制。慎防喘汗血脫。擬引血歸經法。</p>
<p>犀牛湯加參三七、血餘炭、牛膝、赤石脂、炮薑炭、山楂、牡蠣、卷白、還原水</p>
<p>（案20）怒氣傷肝，肝逆肺咳，寤寐多汗，寒熱無力，咳嗽痰紅，延今半載，中傷肺傷，慎防喉痛音啞。</p>
<p>補陰益氣煎加牡蠣、蘇梗、半夏</p>
<p>服補陰益氣，寒熱已去，咳嗽平寧，咽痛鼻乾，寤寐仍汗，肢麻足浮，病延已久，中傷肺損。春分節令，木旺土衰，仍防血上。</p>
<p>黑歸脾湯去耆、遠志、木香，加半夏、牡蠣、冬蟲夏草、浮小麥</p>
<p>寤寐汗斂，寒熱俱退，蒂丁未上，痰結咽中，病延已久，金水交傷，極難奏捷。回府靜養，撇去塵情，乃能有濟，徒事草木，功能無益。</p>
<p>補陰益氣煎加牡蠣、蘇梗、牛子、桔梗</p>
<p>進補陰益氣，汗斂寒熱俱解，飲食日增，蒂丁未上，咳嗽未減，口乾痰嘶，固由怒氣傷肝，肝逆肺病，亦由腎水不升，肺陰不降，棘手症也。以丸代煎，徐徐調養。</p>
<p>黑歸脾湯加半夏、廣皮、阿膠　煉蜜丸。</p>
<p>（案21）脈弦而數，肝鬱化火，火灼金傷。咳嗽發熱，客夏失血，紅紫不一，血止後咳嗽不寧，木扣金鳴。擬以解鬱疏肝法。</p>
<p>全當歸　湖丹皮　嫩柴胡（醋炒）　甘草　杭白芍　黑山梔　白茅根　白茯苓</p>
<p>脈仍弦數，木火刑金，失紅後咳嗽不寧，蒸熱帶下。氣虛陰虧，肝火失達。</p>
<p>前方加麥冬、石斛；次去山梔、丹皮、茅根，加款冬花、冬朮、杏仁、蘇梗、木香、紅糖；又去麥冬、川斛，加地骨皮</p>
<p>（案22）客秋寒熱干嗆，或愈或發，九月吐血十餘日，臘月又發寒熱咳嗽，今正咳嗽帶紅，晝少夜多，脈來虛數，中虛肺虛，濕熱鬱痰為患。</p>
<p>生地炭（五錢）　杏桃仁（六錢）　雲茯苓（二錢）　肥玉竹（四錢）　杭白芍（二錢）　參三七（五分）　炙甘草（五分）　川貝子（去心，三錢）　白茅根（四錢）</p>
<p>（案23）絡傷失血，秋間痰內帶紅，冬令咳嗽，今正又發，血色俱鮮，五更微汗惡風，喉中作癢，咳甚則嘔，嘔吐飲食，動勞心怯。中傷肺虛，胃氣不振。</p>
<p>炙甘草湯加旱蓮草</p>
<p>（案24）素有失紅咳嗽，昨因疾走動勞，復又狂吐，紅紫不一，肝胃中傷，火沖血上，蓄瘀為患。仍防氣喘湧逆之劇。</p>
<p>小生地　杏桃仁　參三七　杭白芍　山旱蓮　川牛膝　茜草根　炙甘草</p>
<p>（案25）肺氣鬱而音不開，咳嗽喉啞，咳血紅紫不一，風熱鬱擾肺絡。仍防血上。</p>
<p>假蘇炭（八分）　光桃杏仁（各三錢）　湖丹皮（一錢）　化橘紅（八分）　青防風（一錢二分）　中生地（三錢）　玉桔梗（一錢）　白茅根（三錢）</p>
<p>服藥五帖，咳熱俱減，咳則汗多，痰吐不爽，氣急，飲食不香，動勞頭暈心悸。原方進步。</p>
<p>前方加鏡面茯苓</p>
<p>（案26）肺為嬌臟，邪侵毫毛必咳，清晨咳甚，甚則脅痛。昨又勞碌感冒，暫以杏蘇二陳。</p>
<p>杏蘇二陳丸</p>
<p>（案27）金水兩虧，火載血上，咳嗽黃痰，春分舉發，紅止咳嗽不已。素有淋症，過勞必發。心嘈氣痛。陰虧於下，火升於上。壯水之主，以制陽光。</p>
<p>六味地黃丸加牛膝、牛子</p>
<p>（案28）客冬血吐半盆，色紫，吐後腹大如鼓。氣血雙虧，肝脾交病，已成蠱症，難以取效。</p>
<p>潞黨參　光杏仁　宣木瓜　雲茯苓　生於術　全當歸　香白芷　冬瓜子</p>
<p>（案29）始因胸胃作痛，服香燥之品痛減，三月初間發熱咳嗽。曾服解表藥熱不退。忽又失血，繼而大吐大汗。養陰血汗斂，咳嗽常帶血不已。舌見光紅，乃陰虧也。症勢頗重，防其大吐，喘汗而脫。</p>
<p>次生地（八錢）　牡丹皮（一錢五分）　川牛膝（一錢二分）　清童便（一杯）　旱蓮草（三錢）　杏桃仁（各三錢）　杭白芍（一錢五分）　白茅根（五錢）　大麥冬（三錢）　參三七（五分）　生甘草（五分）</p>
<p>（案30）先天不足，水不養肝，肝虛易怒，怒則氣上，有升無降。火載血上，且帶紫色，精神不振，三月咳帶紅點。肝不條達，慎防木扣金鳴，血無依附，中虛氣不接續，乾嘔心悸。壯水滋肝，兼和肺胃。</p>
<p>二至丸合六味地黃丸，加半夏曲、山楂</p>
<p>三進壯水滋肝煎，兼和肺胃，尚屬平寧。平時胸次疼痛，下午咳嗽，血點未見。肝虛易怒，非肝家之有餘，乃肝陰之不足，先天薄弱，仍守原方。</p>
<p>六味地黃丸加南沙參、橘紅、楂肉、穀芽</p>
<p>（案31）《經》以喜怒傷氣，寒暑傷形，大怒則形氣絕而血菀於上，陰維為病。口苦心痛，胸脅背亦痛，痛則牽引脹滿。曾服旋覆代赭歸芍地黃，作肝腎治理路甚善。其不效者，陽明之病，氣血鬱結，肝為起病之源，胃為傳病之所。先治陽明，再養肝腎，中氣久傷，不可不理。</p>
<p>補中益氣湯加南山楂</p>
<p>（案32）幼年失血，頻頻舉發，延今多載，屢愈屢發，客冬吐紅十餘口。血止之後，今春兼憂思動怒，肝不藏血，火載血上，咳嗽口乾。木扣金鳴，脈來虛數。肝不平寧，又值火令司權，謹防喉痛音啞。</p>
<p>犀角地黃湯加杏桃仁、茜草根、旱蓮草、牛膝、麥冬、茅根、童子小便</p>
<p>服藥十餘劑，木不擊金不鳴，絡和血止，咳平熱靜，惟喉內咽津，似物阻礙，湯食並不礙入，乃舔氣也。擬養腎滋肝，清心保肺。</p>
<p>八仙長壽丹加桔梗、枇杷葉</p>
<p>肺司百脈之氣，肝藏諸經之血，腎司生命之本。咳嗽失血，痰中又帶。午後浮火時升，常多走泄，欲圖生機，必得下關速閉，舍此無濟。</p>
<p>二至丸加石斛、生地、白芍、杏仁、丹皮、茯苓、茅根、甘草、童便</p>
<p>（案33）三月初旬，風濕上受，發熱三日，吐血鮮紅。四月中旬，血又復來，至今不斷，兩脅微痛，胸次亦然，仍防湧逆。失血之脈，貴乎寧靜，脈來滑數，火犯陽絡，極難奏效。</p>
<p>犀角地黃湯加山旱蓮、山梔、甘草、童便、藕、赤砂糖</p>
<p>痰血未清，右脅痛止，左脅依然，脈之數象稍平。原方兼和肝胃。</p>
<p>前方去犀角、山梔、紅糖，加參三七、牛膝、杏仁、紫蘇梗</p>
<p>（案34）始因傷力，中傷肺虛，咳嗽痰紅，紅紫不一，未吐之先，心中作癢如蟹行，吐沫隨即吐血，已歷數載，得黃痰咳喘乃平，積飲為患。</p>
<p>杏蘇二陳丸加桔梗、桃仁、款冬、藕肉</p>
<p>（案35）年甫二旬，季春突然失血盈碗，血色鮮紅，脈見芤象，火犯陽經，血絡受傷，陽旺陰虧，陰不和諧。</p>
<p>犀角地黃湯去白芍，加旱蓮、麥冬、牛膝、茯苓、黃柏、山藥、鮮藕。每早童便一杯。</p>
<p>（案36）咳為肺病，喘為腎病，夢為心病。素有失血，痰多氣急，不耐風寒，每逢冬令，喘嗽甚則痰嘶，早晨痰沫多咸，常有夢泄。肺腎交虧，虛寒不化，氣失攝納。</p>
<p>附都氣丸加蘇葉</p>
<p>服附都氣，痰喘未發，仍是走泄。心腎交虧，以膏調治。</p>
<p>鹿角膠（二兩）　大麥冬（三兩）　抱木神（三兩）　梨（十個）　川熟附（八錢）　冬蟲夏草（一兩五錢）　淮山藥（三兩）　福橘（五個）　大熟地（八兩）　遼五味（五錢）　老蘇梗（一兩五錢）　白藕（一斤）</p>
<p>上藥用清泉水熬汁，以半夏粉收膏。</p>
<p>（案37）始因咳嗽失血，服歸脾而止，加熟地不受，延今咳嗽不寧，夜吐白痰，日間時吐清水紅痰，心口微痛。中傷肺損，所嫌兩顴發赤，怕春陽升動，咳逆血上之患。</p>
<p>白蒼膏加阿膠、白芍、白朮、半夏、山藥、杏仁、冬蟲夏草</p>
<p>（案38）《經》以大怒則形氣絕而血菀於上，客秋氣郁，失血兩口。冬月操勞過極，又復失紅三次，每吐盈碗，俱屬紫血。臘月下旬出疹，胸臆兩脅兼痛。現在飲食難下，心中懊憹，難以名狀。脈象細澀，推之不甚寧靜。誦讀吟詠，多主傷陰。七情不適，水不養肝，肝不藏血，氣失攝納，載血上行，所嫌先天既虧，脾胃不振，最怕土弱，不能生金，咳嗽失血多紫，不能見血報涼。</p>
<p>中生地　荊芥炭　淮牛膝　炮薑炭　旱蓮草　湖丹皮　生山楂　鮮藕片　人參　三七汁　次加杭白芍、生甘草</p>
<p>（案39）脈象滑數而軟，左部微弦。恙因肝陰不斂，火燥氣衝，血不歸經，逆而上犯，初起為火，久則成怯。</p>
<p>大生地　生牡蠣　貢白芍　雲茯苓　紫丹參　淮牛膝　川石斛　嫩蘆根　沉香汁</p>
<p>肝火沖竅，痰涎帶紅，所喜不咳，肺未傷而血出於胃。《經》云諸血症最險，惟胃無傷，以胃為水穀之海，屬火屬濕故也。然初起為濕火，久則氣血虧，不可不慎。</p>
<p>小生地　左牡蠣　宣木瓜　淮山藥　玄武版　牡丹皮　金狗脊（去毛）　新絳</p>

<h1>副卷二</h1>

<h2>一、痰飲</h2>
<p>（案1）九峰素有水飲，因幼年嗜茶，傷中耗氣，從此忌茶四十餘年，見茶即清水上泛。初服苓桂術甘而效，再發不應。服六君而愈。再發又不應，進參附理中而效，後亦不應，吃千金鯉魚湯而愈，再發無效，吃鯉魚米粉粥而愈。至花甲後雖發亦輕，竟能吃西瓜、水果、螃蟹等物，而茶終不能吃，見茶則清水上泛。究其理，茶動濕而浸淫，入脾胃耗氣也。</p>
<p>（案2）素有遺精，入房易泄，火升耳鳴，痰濕閉塞，補藥不效。至三十六載，吟誦勞碌，疫病轉染，形體消瘦，服人乳蘊熱於中，胸次按之汩汩有聲，氣息咽喉不利，飲食不思，脈象沉弦，且數且滑。沉者，郁也，氣也。數者，火也，熱也。滑者，痰也，濕也，水也。腎陰虧則精不藏，肝陽強則精不固。香燥難投，膩補不宜，從心肝腎進步，兼調脾胃。多訪名哲斟酌。</p>
<p>西黨參（二錢）　焦於術（二錢）　云茯神（二錢）　廣橘紅、核（各一錢）　野料豆（四錢）　枳實炭（一錢）　當道子（一錢）　炙遠志（一錢）　冬瓜子（寒熱各半，一錢五分）</p>
<p>（案3）肝鬱中傷，胃寒積飲，肚口汩汩有聲，或脹至腿足，或脹至巔頂，不知飢餓。肺氣不展，肝脾不和。</p>
<p>六君子湯去甘草，加桂枝、蔻仁、當歸、桑白皮、蘇梗、枇杷葉、姜渣</p>
<p>（案4）脈來弦滑無力，腎虛真陽不旺，脾虛健運失常，虛寒積飲，清濁混淆，賁音腹脹，懊憹嘈雜，口流清涎，臂肋疼痛，橫逆左乳下，胸次寒凝。腎肝不納，虛寒鬱氣。</p>
<p>四君子湯加桂枝、半夏、牡蠣、姜皮</p>
<p>（案5）脈來沉弦而滑，肝鬱中傷，積飲吐酸，痰如蛋清，已延兩月。肺腎俱傷，食不能入，入則痛甚，兩脅作脹，肝氣犯胃。又值春令，非所宜也。</p>
<p>桂枝尖　雲茯苓　焦白朮　生甘草　南木香　訶子肉　早服濟生腎氣丸</p>
<p>（案6）寒涼客犯，肋脹攻痛，嘔吐清水，今已三月。中寒積飲。</p>
<p>六君子湯加肉桂、乾薑、川根樸、神麯。四帖後加炒枳實、臺烏藥。服後去川樸，加砂仁、穀芽、香附</p>
<p>（案7）脘中疼痛，嘔吐黑酸水，大便乾結，中脘按之汩汩有聲，延今載余。飲食不香，近日中脘申酉時微痛，次日天明方止。積寒生飲，太陰陽明俱傷。</p>
<p>香砂四君子湯加元金散</p>
<p>（案8）右脈沉弦，左脈沉滑。肝氣內郁，內有痰飲。痛吐清水，手足發冷。肝腎雖虛，從乎中治。</p>
<p>補中益氣湯加半夏、茯苓、薑炭</p>
<p>（案9）右脈滑疾，左脈細澀，肝腎內虧，酒濕傷中。積飲釀熱，食後飽脹。氣結嘈雜，嘔惡清水，久非所宜。</p>
<p>半夏瀉心湯加甘蔗汁</p>
<p>（案10）脈見弦滑，肝脾氣脹，胃氣積飲，濕熱為患，病延已久。脾腎亦虛，防其氣逆上衝。</p>
<p>陽八味地黃丸合二妙散加當道子、冬瓜子</p>
<p>服二妙、陽八味，肝脾氣脹已好，喉中作脹，頭痛耳鳴，乃氣火上升，濕熱為患。</p>
<p>六味地黃丸加檀香、牡蠣、薏苡仁</p>
<p>（案11）脈弦兼滑，中陽不健，胃寒停飲，噯氣吐酸，食後尤甚，胸悶，膈上停痰，積飲為患。苓桂術甘不應，薑朮亦不應。年在沖齡，病延已久。補命腎以建中陽，擬以腎氣法調之。</p>
<p>金匱腎氣丸加沉香</p>
<p>（案12）左脈沉弦，右脈沉滑。噯逆吐酸，胸悶嘔食。腎虛胃關不建，脾虛健運失常，積痰積飲，作酸作嘔。外飲治脾，內飲治腎。</p>
<p>六君子湯去甘草，加炒枳殼。每日服金匱腎氣丸。</p>
<p>外飲治脾，內飲治腎。腰痛眩暈，晨吐白沫，微有寒熱，咳吐酸水，心內疼痛。服腎氣已輕，原方加減。</p>
<p>陽八味地黃丸加半夏、沉香</p>
<p>（案13）脈來細澀，肝氣逆來，犯胃中傷。胃不下降，不飢不納，積飲吐酸，厥逆之氣，自下而上，中宮之氣憊矣。</p>
<p>六味地黃丸加肉桂、霞天曲、益智仁、伽南香</p>
<p>益火之源，以消陰翳。服後雖平，但氣機不利，以原方加味。</p>
<p>前方加陳皮</p>
<p>（案14）兩脈俱弦，且滑且疾。思慮傷脾，積勞傷中，中傷停飲，嘔吐清水，氣不開暢，發甚脹痛，不耐操勞，已歷十餘載。病起於肝，損及於中。吐水多甜，脾濕生熱。腎為水之本，膀胱為水之標，土乃水之堤防。崇土滲濕，肝病實脾。</p>
<p>半夏茯苓湯加豬苓、白朮、黨參、澤瀉。早服濟生腎氣丸。</p>
<p>六進前方，氣漸平順，嘔吐未發，亦未痛脹，脈之弦滑稍平。仍崇土滲濕，佐以和肝。</p>
<p>六君子湯加澤瀉、枳實、冬瓜子、省頭草</p>
<p>午後服資生丸（丸方：溫膽湯加霞天曲、黨參、冬朮、姜渣、棗肉　和丸。）</p>
<p>（案15）脈來弦滑，中陽不健，肝胃不和，積寒積飲，吐食吐酸，間有苦水，木鬱中傷。曲直作酸，木鬱達之。本以苓桂術甘，現舌苔焦黃，胸中有熱，先擬左金合二陳加味。</p>
<p>左金丸合二陳湯加淡乾薑</p>
<p>昨進苦泄辛開，服後心中發熱，口有氣味。昨夜魂夢不定，如驚懼之象。積寒化熱，肝膽不平。仍以瀉心溫膽法。</p>
<p>瀉心湯合溫膽湯</p>
<p>連日胃口不佳，肌膚覺熱，陽明不和，濕熱發動。原方出入主之。</p>
<p>半夏瀉心湯去黃芩、甘草，加赤苓、橘紅、苡仁、車前子、採云曲、穀芽</p>
<p>服藥雖愈，濕熱未化，飲邪未清，胃口不佳，以丸緩治。</p>
<p>上防黨　製半夏（薑汁炒）　雲茯苓　上陳皮　川黃柏　馬料豆　炒枳實　穀芽　川雅連（薑汁炒）　於潛術　薏苡仁　淡菜　六和曲　石膏湯為丸。</p>
<p>（案16）恙因肝邪橫逆，木來侮土，土受木克，以致飲食入胃，雖然運化，生津生液者少，為火為痰者多。細思病情，似乎諸飲成痰之狀。所服六君、金匱、資生，皆肝腎脾之要藥，理宜漸減方佳。服此藥之後，反覺有橫逆痰飲之象，又兼肢冷脈伏，嘔吐痰涎，非高年久病所宜。若論痰飲，服六君理應見功。若論腎虛肝氣，服桂附亦未有效。此棘手之症也。暫擬人參代赭石湯加減用之，服四帖後再為酌方可也。所云脈閉肢冷，皆痰飲阻塞胸中。故爾陽氣宣通，脈閉肢寒自愈。</p>
<p>旋覆花　上人參　製半夏　杭白芍　代赭石　禹餘糧　新會皮　雲茯苓</p>

<h2>二、痰症</h2>
<p>恙由勞傷心神，痰入心竅，漸入包絡，以致厥逆昏沉，頓傾方醒，痰厥症也。治宜育神化痰。</p>
<p>製半夏　石菖蒲　酸棗仁　花麥冬　上廣皮　朱茯神　炙遠志　生甘草</p>
<p>次加川鬱金（枯礬水炒）</p>

<h2>三、反胃</h2>
<p>（案1）腎虛中陽不建，脾虛運化失常，食入停中不運，朝食暮吐，午後脘痛，氣響轉矢氣可稍舒，晝夜如是。七情鬱結，思慮尤甚。補中益氣雖好，不若歸脾兼養心脾。</p>
<p>早服金匱腎氣丸</p>
<p>服腎氣丸尚合機宜。《經》云憂愁恐懼則傷心，思慮勞倦則傷脾。脾主中州，養心脾是其法則。</p>
<p>歸脾湯加冬瓜子</p>
<p>（案2）納食主胃。胃陽不足，則不思食；胃陰不足，則不納食。陽賴腎火以煦和，陰賴腎水以濡潤，納食思食運食皆真氣周匝。素本火旺陰虧，木火時升，肺陰不降，常多鼻流清涕，喉痛。所服補中益氣，木鬱達之，火鬱發之，脾升胃降則健，可謂詳而盡矣。年逾古稀，二氣皆屬不足，雖有虛邪，亦當固本。</p>
<p>大熟地　白茯苓　福澤瀉　焦白朮　黨人參　白山藥　蛀青皮　枳實炭　廣木香　秋桔梗　每早服枳朮丸</p>
<p>木病春旺，土困木克，不納不運，肝脾兩傷，胃氣不蘇，素來嗜飲，濕甚中虛，氣血不生，化源日少，源頭不來，生氣必敗，諸病叢生，難以杜患，虛不受補，裡氣日衰，擬養心脾，暗和肝胃。</p>
<p>歸脾湯加茯神</p>

<h2>四、呃逆</h2>
<p>（案1）胃失沖和，氣逆作呃。</p>
<p>溫膽湯加刀豆子</p>
<p>（案2）氣痰呃逆，脈象弦滑而數，按之無力，中虛胃不和，肺氣不降，痰鬱作呃，丁香、柿蒂、人參，甘溫之品皆是。呃由暴起，所謂肺胃不和是也。擬二陳湯合杏仁、枇杷葉。一治肺，一治胃，明日再進三劑可也。</p>
<p>二陳湯加杏仁泥、枇杷葉，次加刀豆子（三生四熟）　服二帖。</p>

<h2>五、膈症</h2>
<p>（案1）右脈弦大，左象澀小。中宮失運，胃不沖和，氣痰阻食。年近七旬，肺胃液枯，八仙長壽是理。現氣痛阻逆，膩滯難投，暫宜宣劑。</p>
<p>生脈散、二陳湯加枇杷葉、紅糖，雪羹湯煎。</p>
<p>（案2）氣鬱動肝，中傷氣逆，食入作痛，噯氣不止，脈象沉弦，中州失運，非佳候也，擬補中益氣加味。</p>
<p>補中益氣湯加白芍、五味、海蜇、赤砂糖</p>
<p>三進補中益氣，痛逆平平，氣鬱傷肝，中州失運。</p>
<p>四君子湯加白芍、江枳實、木香、紅糖、雪羹湯（丸方：歸芍異功散加枳實、香櫞花、川鬱金蜜丸。）</p>
<p>（案3）食入作噎，氣痰作阻，前後心痛，已延三載有餘。現粥已難下，三陽結為之膈。擬補陰益氣加味。</p>
<p>補陰益氣煎加遼五味、枇杷葉</p>
<p>恙原已載，前方進補陰益氣，噎阻雖開，仍防旋閉，既有效機，原法出入。</p>
<p>前方去黨參，加枳實、花麥冬</p>
<p>服藥關津已利，前後心痛亦愈，以丸代煎，以免復萌。</p>
<p>補陰益氣煎加孩兒參、半夏粉、炒枳實、北五味、枇杷葉、荸薺粉　紅糖為丸。</p>
<p>（案4）脈來沉小，心肝腎三陰不足。左脈犯弦，木製中胃，清氣不展，濁陰上潛，清濁混淆，天地不泰，變生否象，不可輕視。</p>
<p>補陰益氣煎去黨參加五味、蘇梗、枇杷葉</p>
<p>脈來沉小而澀，肝腎陰虧，左脈仍弦，木製中胃，氣失沖和，天地不泰，否象生矣。不獨香燥難投，破氣更屬不利。養肝腎以納氣機，養肺胃以舒氣化。是否候酌。</p>
<p>八仙長壽丹加蘇梗、枇杷葉、生蜜</p>
<p>陰虧於下，火炎於上，肺胃枯槁，氣痰阻塞，操勞內傷，火升莫制，液化為痰，氣化為火，腎水不升，肺陰不降，乃逆候也。</p>
<p>八仙長壽丹加枇杷葉</p>
<p>（案5）先天薄弱，水不養肝，肝虛犯胃，胃不沖和，氣不下逮，反逆於上，所以食不能下，脈象虛弦，不宜香燥，當以乙癸同源為是。</p>
<p>八仙長壽丹服二帖</p>
<p>喉痛咳減，氣逆亦平，飲食尚未進納豁然。素有氣痛，亦是肝腎不和。補水抑木，清心養肺，仍守原法。</p>
<p>八仙長壽丹加阿膠、枇杷葉</p>
<p>前方服後，飲食加增，不甚嘔逆，大便不暢，此陽明氣不和，陰虧所致。擬六味合二冬加味。</p>
<p>六味地黃丸加烏梅、二冬膏為先。</p>
<p>（案6）腎虛胃關不健，氣逆中宮，食入作阻，水不養肝，肝氣中胃，兩脈俱弦，舌絳苔燥，痰多汗多，陰陽不化，香燥殊屬不宜。擬十味溫膽加味。</p>
<p>十味溫膽湯去棗仁，加遼五味</p>
<p>服藥後食入不阻，痰少汗多，舌苔已潤。養陰化燥，暢和中胃，已和機宜，原方加減。</p>
<p>前方加花麥冬、鮮地慄</p>
<p>服煎藥以來，痰少汗斂，阻礙已開，飲食較多。</p>
<p>十味溫膽大合機宜，仍以上病治下，納氣歸窟，不致復阻，方為吉兆，以丸緩治。</p>
<p>金匱腎氣丸加北五味、麥冬、竹茹、半夏粉　用枇杷膏、福橘膏煉蜜為丸。</p>
<p>（案7）中宮失運，胃失沖和，氣痰阻噎，食不能下，且痛且悶，吐出方定。機關不利，致有三陽結病之勢。姑擬十味溫膽湯加味，冀天相吉人而已。</p>
<p>十味溫膽湯加荸薺</p>
<p>納食主胃，運化主脾，脾升則降，胃降則和，中宮失運，氣痰作阻，胃失沖和，飲食難下。年逾六旬，大便結燥。肺胃乾槁，脈見雙弦。木製中胃，病勢深沉，慮難奏捷。</p>
<p>十味溫膽湯。每早服腎氣丸。養肝補腎，納氣歸元。</p>
<p>右脈弦大不平，胃失沖和，木犯中宮。肝為剛臟，非柔不和，納食主胃，胃降則和。腎不吸胃，胃關不健。金匱腎氣，養肝補腎，納氣歸窟，上病治下。十味溫膽，奠安中州，未獲效機。鄙見淺陋，擬補中益氣加減，多酌。</p>
<p>補中益氣湯去耆，加甘蔗、自然汁</p>
<p>中宮失運，肺胃氣機不利，七情鬱結，胃失沖和，升降失常，天地不泰，否象見矣。擬歸脾法。</p>
<p>歸脾湯去耆</p>
<p>肺胃氣機不利，會厭開合失常，思慮鬱結，必得怡悅開懷，不致結痹為妙。</p>
<p>補陰益氣煎加五味子、枇杷葉</p>
<p>心胸已上，部位最高，清空之所，如離照當空，曠然無外。天地不泰，否象見矣。歸脾補陰益氣，寡效者，肝鬱心不暢，鬱結之病也。必得慰以解憂，喜以勝悲。再擬上病下取法挽之。　桂附地黃丸加沉水香　據述服陽八味一帖，又服歸脾用參三帖，俱覺平和，耳鳴、頭眩、心虛減去一二分，惟胸口不寬，半夜間或心中煩躁，午後口內作黏，乃心胸胃脘不暢，木不條達。仍以暢心脾和肝胃。現交夏至節令，每劑可用老山人參五分。</p>
<p>歸脾湯用人參，去黃耆，加陳皮</p>
<p>情志抑鬱，氣勃於中，胃不沖和，氣痰作阻。心腎交虧，神志不藏，寤不成寐，神情恍惚，七情不適之病，怡悅開懷為妙。</p>
<p>北沙參　清阿膠　酸棗仁　上廣皮　花麥冬　白茯神　炙遠志　甘草　夜交藤　合歡花</p>
<p>（案8）腎虛胃關不健，飲食遲於運化，中虛健運失常，痰起中焦。脈來弦大而數，按之無力。腎之陰虧，肝之陽強，犯中擾胃，清濁混淆，天地不泰，致生否象。胸滿頭眩，夜來陽強，夢多內熱，四肢無力。胸下臍上，左右痞塊，橫硬延年十載。操勞煩心太甚，心肝腎三陰皆虧。香燥難投，謹防氣痰作阻，法宜乙癸同源。</p>
<p>十味溫膽湯去竹茹、棗仁，加雪羹湯；每早服八仙長壽丹</p>
<p>（案9）左脈沉弦，肝鬱中傷，右脈沉滑，氣逆痰阻。中宮失運，胃不沖和。年逾六旬，五液先虧，防成關格。</p>
<p>六君子湯加炒枳殼、麥冬、竹茹、姜渣、枇杷葉、刀豆子（三生四熟）</p>
<p>（案10）思慮傷脾，鬱怒傷肝，肝胃不和，飲食減少，中宮不暢，懊憹作痛，病已多年，脈象雙弦，弦者為減，殊屬不宜。肝鬱達之，火鬱發之。擬東垣補中益氣法，調中養胃，不致三陽結病為吉。</p>
<p>補中益氣湯去黃耆，加檀香、白芍、赤砂糖</p>
<p>（案11）脈來沉滑，氣痰作阻，胸次不開，噫逆不爽，慎防堵塞。舒肺胃以展氣化，不致病結則吉。</p>
<p>補陰益氣煎加竹二青、枇杷葉</p>
<p>（案12）中宮失運，氣痰交阻，食不能下。關津不順，乃老年之逆症。姑擬一方以救之。</p>
<p>生脈散加半夏、訶子肉、阿膠、荸薺、白蜜、薑汁</p>
<p>中宮失運，氣痰阻塞，胃失沖和，關津不利，難以奏捷。</p>
<p>溫膽湯加黨參、麥冬、枇杷葉</p>
<p>左脈弦，右脈結，情懷抑鬱，氣勃於中，五志過極，皆從火化。木鬱達之，必得抑鬱開懷，心肝得太和之氣，自臻安吉，否則防其結痹。</p>
<p>補陰益氣煎加檀香</p>
<p>開上實下，輕舒肺氣，胸次漸開，天地交泰，否象自除。從心脾進步，候脈無結象，再為易方。</p>
<p>黑歸脾湯加檀香</p>
<p>中宮失運，氣失沖和，痰逆氣阻，食不能下。太陰陽明，機關不利，非高年所宜。</p>
<p>補陰益氣煎加檀香</p>
<p>（案13）喉者候氣也，咽者咽物也，開合之樞機，出入之門戶。會厭失常，阻逆飲食。肺胃乾槁，機關不利，極難奏捷。擬上病下取法，多酌。</p>
<p>八仙長壽丹加附子、甘蔗汁、雪羹煎</p>
<p>（案14）年近花甲，形瘦液枯，肺胃乾槁，機關不利，氣化為火，液化為痰，食不能下，膈症已成，難於救治。勉擬附都加味，以盡人力。</p>
<p>附都氣丸加枇杷葉、川白蜜、半夏粉</p>
<p>脈來沉小，氣脹拱痛，汩汩有聲，二便皆不通暢。前哲以溲便不利，謂之關，飲食不下，謂之格。陰陽偏勝，病之逆從也。</p>
<p>知柏地黃丸加火麻仁、郁李仁、冬瓜子、冬葵子、當道子</p>
<p>（案15）年逾六旬，操勞煩心，中胃不和，食入痛阻，機關不利，兩脈俱弦。木犯中胃，殊屬不宜。所服之方甚好，仿以為治。</p>
<p>杭白芍（三錢）　上廣皮（一錢）　白茯苓（三錢）　赤砂糖（二錢）　訶子肉（二錢）　烏梅肉（一個）　生甘草（五分）　雪羹湯（代水）</p>
<p>（案16）暴怒傷陰，酒後飲冷，氣火鬱結，肺胃不降，大渴引飲，已延一月。心慌手抖，茶水不入，大便結如羊糞，小溲全無。嘔之不出，納之不下，已變關格，難以救藥。姑擬溫膽湯加味，候酌。</p>
<p>溫膽湯加黨參、黃芩、五味、乾薑、甘蔗汁</p>
<p>昨服藥後，煩嘔已平，大便行而未暢。原方加減。</p>
<p>原方去竹茹，分量略增。</p>
<p>煩嘔雖平，氣痰未下。陽明不和，腑氣不調，仍屬逆候。擬瀉心溫膽，宣暢陽明。</p>
<p>半夏瀉心湯溫膽湯加生薑、荸薺、蔗漿</p>
<p>嘔吐已好，納食稍可，小溲行，便未解，是無糟粕也。</p>
<p>半夏瀉心湯加粉甘葛、炒枳實、白茯苓、生薑</p>
<p>服藥後，下結糞兩次，納食不吐，咽中仍干，仍嘔白痰。擬十味溫膽湯。</p>
<p>十味溫膽湯加麥冬、杏仁泥</p>
<p>納食不吐，結糞已通，小溲已行，嘔惡已愈，危症得安。乃天幸也。不可動怒亂食，復蹈前轍，前功盡棄，須當慎之。</p>
<p>前方去麥冬</p>
<p>納食已暢，腑氣已通，胸次已開。肺胃陰虧，喉內作干，陰不化燥。</p>
<p>生熟地　銀條參　半夏粉（地慄汁浸透）　枳實炭　天麥冬　金叉斛　新會皮　生甘草</p>
<p>（案17）始因消渴，變為關格，大醉引飲而起。服溫膽、瀉心，吐止便通而納食多日矣。現喉又作干，夜來飲水四次，胃陰不降，仍以前法。</p>
<p>半夏瀉心湯加栝樓仁、知母、枳實、茯苓、甘蔗漿</p>
<p>消渴之病，本屬陰傷，變為關格，陰陽俱竭。服藥後關格已通，忽又幹渴，氣不生陰，陰不化氣，仍屬危候。</p>
<p>生脈散、二陳湯加竹二青、枇杷葉</p>
<p>消渴已減，夜來安寐，飲食如常，舌後之苔，尚未全清。胃陰未復，原方加味。</p>
<p>原方加鐵皮石斛、經霜桑絡、黑芝麻</p>
<p>（案18）氣火痰結，肺胃陰虛，會厭開合失常，咽中不爽，喉中作噎，吞之不下，吐之不出。宜養陰化燥，清氣化痰，不宜動怒煩心。</p>
<p>八仙長壽丹加枇杷葉</p>
<p>肺胃乾槁，氣逆阻塞，噯氣不舒，乃中宮之逆候。</p>
<p>八仙長壽丹加枇杷葉、雪羹煎</p>
<p>諸氣膹郁，皆屬於肺。諸逆衝上，皆屬於火。氣阻逆食，會厭開合失常。情懷抑鬱，氣勃於中。</p>
<p>生脈散、二陳湯加枳實炭、杏仁、枇杷葉</p>
<p>服藥五帖，氣悶已好，原方加減。</p>
<p>橘皮竹茹湯加枳實</p>
<p>服藥以來，氣悶已開，噯逆已除，以丸代煎調養。息慮凝神，不致反復，方為佳兆。</p>
<p>大熟地　半夏粉　胡芡實　光杏仁（去皮尖）　孩兒參　上廣皮　白茯苓　炙遠志去心）　炒枳殼　枇杷葉　紅糖為丸。</p>
<p>（案19）恙因善飲過多，火結肺胃，以致妨礙阻塞，食難入胃，兼之隱隱作痛，乃痛膈之狀也。治宜和胃化痰為主。</p>
<p>大貝母　肥玉竹　淮牛膝　白茯苓　廣鬱金　杭白芍　大麥冬　生甘草　黑山梔　廣橘紅</p>

<h2>六、肝胃病</h2>
<p>（案1）恙因痛在胃中，中焦氣阻於肝，肝氣攻衝於胃。年近六旬，氣分虛，脾胃弱，治宜定痛和中為主。</p>
<p>代赭石　生甘草　白茯苓　白豆蔻（後下）　吳茱萸　杭白芍（醋炒）　廣鬱金　上陳皮　制香附</p>
<p>（案2）肝氣不調，攻衝作痛，嘔吐酸水。《經》云：酸者肝之味。又云：木旺則土虛。治宜調氣平肝，暢中和胃。</p>
<p>二陳湯加杭白芍、白蔻仁、鬱金、麥芽、石斛、桔梗</p>
<p>（案3）肝氣不調，攻衝作脹，恙因先天不足於前，脾土有傷於後，以致飲食入胃，脹悶不舒。《經》云：胃司納，脾司運。木旺則土虛，遂致脾曠其運。和胃暢中，固是一法，而平肝調氣，尤為先務。</p>
<p>川石斛　青陳皮　麥芽　廣鬱金　白蔻仁（後下）　杭白芍　雲茯苓</p>
<p>（案4）六脈往來調達，氣分虛而肝脾不足。恙因思慮傷神，中焦失運，肝氣橫逆，木來侮土。《經》云：胃主納，脾主運，一納一運，化生津液。又兼胃中無火，不能消穀。命門火虛，釜底無薪。早進金匱腎氣，晚服十九味資生。此二方最穩。然久患肝脾，湯藥不宜多服。況年高氣弱，津液內耗，溫燥之品，亦不可多投。宜滋肝調氣，靜養怡情，庶乎相合。</p>
<p>黨人參　貢白芍　黃鬱金　干切茯苓　淮山藥　干石斛　新會皮　薏苡仁</p>
<p>每日早服金匱腎氣丸，晚服十九味資生丸。</p>

<h2>七、祟病</h2>
<p>陽明不足以勝幽潛，花卉與妖，登高山，入古寺，臥古塚，名曰祟病。</p>
<p>虎腦骨（三錢）　製半夏（三錢）　茅山術（一錢二分）　淡竹瀝（三錢）　制南星（一錢二分）　化橘紅（一錢二分）　川根樸（七分）　生薑汁（三分）　粉甘草（五分）</p>
<p>或加烏犀角（五分），脈數大加大古勇（五分）</p>

<h2>八、健忘</h2>
<p>（案1）腦為髓海。王海藏云：空則多忘，神志不藏。不能安舍，舍空則痰火居之，以致精損健忘。</p>
<p>大熟地　法半夏　酸棗仁　生甘草　大麥冬（去心）　秫米　炙遠志（去心）　燈心草　木茯苓神（各）　廣橘紅</p>
<p>未來之事，取決於心；已往之事，記之於腎。神志不藏，痰火居之，致成健忘之病。</p>
<p>前方去秫米、燈心，加芣苡子</p>
<p>（案2）心血不足，包絡有痰，謂之善忘。養陰開竅，和絡通靈，枕中丹加味。化心絡之痰，非逐濕痰之品所能獲效。</p>
<p>孔聖枕中丹用龍齒加血琥珀、麥冬、當歸鬚</p>
<p>（案3）心不下交於腎，腎不上交於心，濁火亂其神明，精氣伏而不用。心脾受恙，神志不寧，健忘之由也。肝藏魂，腎藏志。調攝心脾，滋養肝腎。</p>
<p>青龍齒　潞黨參　天麥冬（米炒）　杭白芍　敗龜板（酥炙）　大熟地（砂仁炒）　當歸身（酒洗）　淮山藥　九菖蒲　白茯神　炒五味　益智仁　炙遠志　酸棗仁（炒）　大有耆</p>

<h2>九、不寐</h2>
<p>（案1）自汗不寐，心腎兩虧。汗為心液，腎水不升，心不下交，多疑多慮，心膽自怯。法宜補坎填離，以冀其水火既濟。</p>
<p>生熟地（各四錢）　木茯神（三錢）　酸棗仁（三錢）　夜交藤（四錢）　左牡蠣（四錢）　阿膠珠（二錢）　杭白芍（二錢）　北小麥（五錢）</p>
<p>服藥雖愈，不能霍然，脈來沉數，腎不交心，心陽上亢，子午不交，寤不成寐。擬六味地黃丸加味。</p>
<p>六味地黃丸加熟棗仁、阿膠、雞子黃</p>
<p>（案2）脈來動滑，按之則弦，不知喜怒，多疑多慮，心膽自怯，郁損心陰，膽虛不寐。驚則氣亂傷心，恐則精怯傷腎。膽為中正之官，心為主宰，腎為根本。膽附肝之短葉下，肝虛膽虛，膽冷無眠，膽虛亦無眠。</p>
<p>十味溫膽湯</p>
<p>（案3）思慮煩心，心氣不能下達，腎陰不能上潮，虛煩不寐，子午不交，不宜煩勞。</p>
<p>川雅連　大熟地　西黨參　雀腦芎　杜阿膠　肥知母　棗仁炭　粉甘草　雞子黃　枳實炭　白茯神</p>
<p>（案4）傾接手書，敬念尊夫人。服藥後心內轉覺煩擾不寧。廿三日又服一帖，精神略減，飲食未進，日日如是。《經》所謂胃不和則臥不安。《難經》云：經有十二，絡有十五，餘三絡者，陽蹻、陰、脾之大絡也。凡經絡二十七氣相隨上下。其蹻絡不拘於十二經絡，陽蹻統諸陽絡，陰蹻統諸陰絡。越人云：絡脈滿溢，不能拘通。譬之溝渠溢滿，流注湖澤而不環周。故十二經不能拘其蹻絡，蹻絡亦不拘於十二經。是以古無治奇經八脈之法，亦未立方，只有針刺八脈之法。今厥氣客於臟腑，衛氣獨留於陽。行於陽則陽蹻盛，不能入於陰則陰蹻虛，故目不冥。法用半夏秫米湯者，以藥力不能直入陽蹻，故治胃以泄胃氣也。半夏辛溫，入胃經氣分。秫米甘酸，入胃經血分。乃北地之膏粱、蘆慄是也。用千里長流水揚之萬遍，與甘瀾水同樣，取其輕揚不助陰邪。炊以葦薪武火也，火沸入藥。仍徐炊令減，寓升降之法。升以半夏，入陽分，通衛泄邪。降以秫米，入陰分，通營補虛。陰陽通，臥立至，汗自出。故曰汗出則已矣。</p>
<p>半夏秫米湯用長流水煎，揚之萬遍，炊之以葦薪，服之令汗出。</p>
<p>衛氣晝行於陽，夜行於陰。行陽則寤，行陰則寐。令吐瀉後寤而不寐，嘔惡痰涎，胃氣不和，衛不行陰，以《內經》半夏秫米湯。</p>
<p>半夏秫米湯</p>
<p>服後安寐，即佳徵也。惟嘔惡未已，胃氣虛，痰不運。原方佐以益氣。　前方加西黨參</p>

<h2>十、三消</h2>
<p>（案1）陰虛有二，有陰中之火虛，有陰中之水虛。水火同居一窟，腎臟主之。陽不化氣，水精四布，水不得火，有降無升，直入膀胱，飲一溲二，名曰腎消，《經》載不治。擬方挽之，多酌高明。</p>
<p>桂附八味丸加巴戟天、肉蓯蓉、鮮石斛、石菖蒲、遼五味、花麥冬、遠志筒</p>
<p>（案2）《經》以二陽結謂之消，謂手足陽明與大腸經也。胃為水穀之海，大腸為傳送之官，二經熱結，則運化倍常，傳送失度，故善消水穀，不為肌膚，名曰消中。誠危候也，謹防疽發。</p>
<p>白虎湯去粳米，加生地汁、飛滑石、麥冬、牛膝、川木通</p>
<p>（案3）善食而瘦，名曰食㑊，亦名消中。熱結陽明胃府，防其疽發。擬調味承氣湯加減主治。</p>
<p>箱生軍（八錢）　川黃柏（二錢）　湖丹皮（二錢）　白茯苓（三錢）　川萆薢（三錢）　肥知母（三錢）　淮山藥（四錢）　福澤瀉（二錢）</p>
<p>大渴引飲，舌裂唇焦，火灼金傷，津液枯涸，能食脈軟，此屬上消，亦曰膈消，謹防發背。</p>
<p>白虎加人參湯</p>
<p>（案4）善渴為上消，屬肺；善飢為中消，屬胃。飢渴交加，肺胃俱病。肺主上焦，胃主中焦，此由中焦胃火上炎，上焦肺金失其清肅，津液為之枯槁，欲得外水相救，故大渴引飲。陽明主肌肉，食多而瘦削日加，乃水穀精華不歸正化，故善食而瘦，陽消症也。《經》言：亢則害承乃制。擬白虎湯主之。</p>
<p>白虎湯</p>
<p>（案5）岐伯曰：五氣消上溢，轉為消渴，名曰脾癉。夫五味入口，藏於胃，脾為之行其津液，在脾故令人口乾也，此肥美之所發也。肥者令人內熱，甘者令人中滿。故其氣上溢，轉為消渴。治之以蘭，除陳氣也。</p>
<p>佩蘭葉　鮮生地　五味子　川柏片　白葵花　東洋參　天花粉　知母肉　綠升麻　大麥冬　生藕汁</p>
<p>消渴已止，眠食俱安，痰嗽未平，胸腹仍脹，乃木火餘威，木指金鳴，火灼金傷故也。曾經大產後，經前作痛，於茲七載，八脈有虧，現經閉二月有餘，脈象細數無力，非胎候也。有虛勞之慮，宜靜補真陰。</p>
<p>人參固本丸加白朮、玄武版、女貞子、玉竹　蜜丸。</p>
<p>（案6）善渴為上消，肺氣熱而故消也。飲水過多，中土受傷，氣機不暢，胸腹作脹，噯氣不舒，木火餘威，擊金為咳。去冬調治雖痊，今春小發。煎方暫停，以丸緩圖。</p>
<p>八仙長壽丹去山芋，加北沙參、白朮、橘皮　蜜丸。</p>
<p>（案7）脈來軟數無力，證本陰液有虧。五志過極，俱從火化。萬物遇火則消，故飢嘈善食。食不能多者，三消未著也。前哲治消症，必先盪滌積熱，然後補陰。否則火得補而愈熾。服瀉心五帖，火勢已殺，宜補真陰。</p>
<p>知柏地黃丸去山芋，加玄武版、黑山梔　蜜丸。</p>
<p>《經》言：三陽結謂之消，有上中下之別。下消者，小便如膏如淋，渾濁者是也。良由過用神思，擾動五志之火，銷鑠真陰，精血、脂膏、津液假道膀胱尿管而出，故小便如膏如淋。五內失其榮養，一身失其灌溉，日消月爍，殊為可慮。擬兩儀加味，以滋肺腎之源，取金水相生之意。第草木功能，難與性情爭勝，更宜屏除塵絆，恬淡虛無。俾太和之氣，萃於一身，自能勿藥有喜。</p>
<p>別直參（四兩）　大生地（十六兩）　羚羊角（用片，三兩）　淮牛膝（四兩）　南沙參（十二兩）　天麥冬（各八兩）　白歸身（六兩）　長流水熬膏。</p>

<h2>十一、頭痛</h2>
<p>（案1）頭偏左痛，巔頂浮腫，痛甚流淚，身半痠麻。三陽行於首面，厥少會於巔頂。此屬虛陽上冒，真陰下虧。養肝腎之陰，開巨陽之表。</p>
<p>西羌活（一錢）　明天麻（一錢五分）　老川芎（八分）　赤茯苓（三錢）　北防風（一錢）　羚羊片（八分）　湖丹皮（一錢五分）　次生地（四錢）　池菊花（一錢）　白蒺藜（去刺，三錢）　福澤瀉（一錢五分）</p>
<p>（案2）頭痛巔疾，過在足少陰、巨陽。補腎益氣，雖是一法。滋肝壯水，尤為先務。用仲景加減一陰煎治之。</p>
<p>大熟地　大麥冬　白山藥　黑山梔　鮮石斛　杭白芍　牡丹皮　蔓荊子</p>
<p>（案3）陽明胃火上炎，頭中震痛如動脈之狀，時作時止。脈洪而數，寒以取之。</p>
<p>白虎湯加生地、麥冬、木通、澤瀉</p>
<p>（案4）素本陽虛，不時巔痛，脈來細數，容色蕭然。陰翳上滯精明之府。法當益火之源。</p>
<p>東洋參（三錢）　淡乾薑（五分）　冬白朮（三錢）　炙甘草（五分）　製附子（五分）</p>
<p>（案5）宿疾陰虧，巔頂時痛，面色戴陽，脈來軟數，浮陽上擾清空。暫以壯水之主。</p>
<p>六味地黃丸去山芋，加白歸身</p>
<p>（案6）脈來沉滑，頭痛如破，痛甚作嘔，食入則吐，胸滿脅脹。濕痰盤踞中州，清氣無由上達清虛之所，名曰痰厥頭痛。主以溫中消飲，佐以風藥取之。</p>
<p>平胃散加北細辛、蔓荊子、川芎</p>
<p>（案7）頭痛兼眩，不寐，肢間逆冷，心中憒憒如駕風雲。此風痰上擾清竅，有痰厥之慮。擬半夏白朮天麻加減。</p>
<p>半夏白朮天麻湯去黃耆、蒼朮，加川芎、蔓荊子</p>
<p>怒損肝陰，木鬱化火，下耗腎水，上熏巔頂。值有妊三月，奇脈亦受其戕。少陰虛不能引巨陽腑氣則巔痛，陽維為病苦寒熱。擬逍遙散加味，以條達肝邪，治其寒熱巔痛之本。</p>
<p>逍遙散加川芎、制香附</p>
<p>（案8）頭為諸陽之會，病屬上實下虛。上實為陽明有餘，下虛乃少陰不足。擬玉女煎加味。</p>
<p>玉女煎加川升麻</p>

<h2>十二、胃脘痛</h2>
<p>（案1）胃脘當心而痛，痛則水瀉。脈滑而弦，舌有黃苔，不思穀食，胸悶不寬，積濕化熱，兼之停食，食聚中胃作楚。</p>
<p>粉葛根　元金散　枳實炭　赤茯苓　川根樸　南木香　甜冬朮　建澤瀉　草果肉</p>
<p>（案2）胃脘當心而痛，中陽不建，陰維為病。</p>
<p>桂苓朮甘湯加薑棗湯</p>
<p>（案3）年甫念三，胃病九載，痛則嘔吐酸水，脈象沉弦而滑。中陽不建，胃寒積飲。擬苓桂術甘加味。</p>
<p>桂苓朮甘湯加熟半夏、白蔻仁、煨薑、赤砂糖</p>
<p>（案4）胃脘當心而痛。客秋得後，心中頗似悲泣欲哭而不能舒氣，悶而不能升。曾服黃連藥二帖稍好。現大痛不已，痛時胸口至喉，內熱如火炭，喉內痰塞不利，午後尤甚，頭暈四肢無力，精神倦怠，飲食不香。此肝氣犯胃，土受木侮，以苦降辛通法，調之左金、戊己本是先，權以瀉心法服後再議。</p>
<p>半夏瀉心湯加鵝管、茯苓</p>
<p>（案5）肝鬱氣痛，痰多作嗽，肺有伏風，值秋燥令行，自得其位，烏足慮也。</p>
<p>杏蘇二陳湯加當歸、白芍</p>
<p>氣痛立止，痰嗽未平，咽痛似傷，非喉痹也。乃陰虛火燥，肺有伏風。仍以清開肺胃。</p>
<p>前方加蛤粉、炒阿膠、炒牛子</p>
<p>（案6）舊恙肝虛，氣鬱作痛，調治雖痊，去冬因風襲肺絡，痰嗽延今不已。形神日羸，飲食日增，腹中汩汩有聲，脈來細數無力。中虛積飲伏於肺經，乃虛勞之漸，殊堪慮也。</p>
<p>二陳湯加黨參、金沸草、歸身、薑、棗</p>
<p>痰嗽稍平，脘痛復作，按之則痛緩。可按為虛也。經以脾絡布於胸中，肺脈還循胃口。證本木旺中虛，土不生金，風邪伏肺，氣機不展。痛則不通，不可拘痛無補法之說。通則不痛。通者，宣和也，非必通利也，補亦可通也。益水生木，培土生金，展氣化、宣伏風主治。</p>
<p>歸芍六君子湯加熟地、棗仁、遠志、阿膠、霞天曲、陳倉米　水泛丸。</p>
<p>服丸徐治，入冬以來，脘痛時作時止，痰嗽或減或增，飲食較進，細數之脈未起。脾腎雙虧，伏風未盡。腎病當愈於冬，自得其位而起。不愈者，以水旺於冬，而冬水反涸，其體因少生生之氣故也。水冷金寒，肺有伏風，外風易感，同氣相求也，必使裡氣融合，方可有濟，暫從溫散。</p>
<p>小青龍湯去桂枝、芍藥，加熟地、茯苓、杏仁、蘇梗、當歸、桔梗</p>
<p>溫散伏風，痰嗽競止。脈仍細數，脘痛依然。暫以二陳加味，以搜肺絡之餘風。服三帖，仍以甲子所擬丸方調治（方未見）。</p>
<p>乙丑五月診脈仍細數。素本陰虧，木不條達，剋制中胃。中傷絡損，氣失沖和。肝鬱則痛，胃傷則嘔。陽明之氣下行則順，太陰之氣上升則和。《經》以六經為川，腸胃為海，以通為主。五六日更衣一次，陰液不濡，腸胃燥澀可知。香燥開胃非所宜也。擬以潤燥生陰，佐和中胃。</p>
<p>大熟地（四錢）　陳阿膠（三錢）　淮牛膝（三錢）　蘇橘紅（一錢）　吉林參（八分）　淡蓯蓉（三錢）　當歸身（三錢）　蜂蜜（八錢）</p>
<p>潤燥生陰，佐和中胃，服後痛嘔俱平。惟胸次不暢，大便未解，陽明傳送失職，太陰治節不行，皆緣陰液有虧也。不必強行傷氣，前方加味。</p>
<p>原方加郁李仁</p>
<p>大便已解，腑氣已通，證本陰虧當緩治。蓋陰無驟補之法。仍以甲子所擬丸方調治。逢節用人參五分煎湯送下。</p>
<p>丙寅二月診脈之細數如初。飲食較前略進，形神漸振。痛吐之並作，舉發漸稀。證本肝陰不斂，剋制中胃，胃不沖和，傳化失職，津凝為飲，液結成痰，中虛清氣不展，陰霾上翳否象。呈與七方甘緩，最為妥協。服四五帖後，仍服甲子擬丸方調治。</p>
<p>歸脾湯去黃耆、桂圓，加半夏、陳皮、薑、棗</p>
<p>肝陰不斂，腎陰不滋，健運失常，中傷飲聚，痛嘔並見。屢發不瘳，腎損傷於肺，肝病傳於脾。腎氣通於胃，脾絡布於胸。絡脈通調則不痛，胃健氣強則無痰。治病必求其本，滋苗必灌其根。若不培養真元，徒以痛無補法，印定呆法，安望成功。數載以來，病勢退而復進，脈體和而又否者，病勢苦深而少靜定之力也。蓋陰無驟補之法，草木功能難與性情爭勝。金為水母，水出高原。謹擬補腎生陰為主，清金益肺輔之。俾金水相生，從虛則補母之法，乃經旨化裁之妙，非杜撰也。</p>
<p>六味地黃丸加天麥冬各、白沙參、肉蓯蓉、霞天曲、阿膠　水丸。逢節用人參五分，煎湯下。</p>
<p>（案7）肝氣逆胃，痛嘔不能納穀，歸芍二陳，兩和肝胃。</p>
<p>歸芍二陳湯加薑、棗</p>
<p>（案8）氣虛不能傳送，液耗不能濡潤。氣主煦之，血主濡之。腎司二陰，胃司九竅。腎水承製五火，肺金運行諸氣。二液不足，濡潤肝陽，木橫中傷，轉輸失職。血燥腸干，故大便不解，痛嘔不舒，通夕不寐。擬參麥散，行肺金之治節，治腎水之源流。冀其清肅令行，肝胃自治，病不拘方，因人而使。運用之妙，存乎一心。公議如是，敬呈鈞鑒。</p>
<p>生脈散加白蜂蜜</p>
<p>昨進生脈散，夜得少寐。今仍痛嘔，雖體氣素壯，然病將三月之久，脾胃已困，肝木獨旺。肝在聲為呼，胃氣逾逆，不能飲食，轉輸愈鈍，大便不行。肝為剛臟，非柔不和。胃為倉廩，非谷不養。肝氣鬱極化火，火灼陰液為痰，痰凝氣結，幻生實象，非食積壅滯可下也。公議生脈散加金匱大半夏湯。</p>
<p>生脈散加金匱大半夏湯</p>
<p>痛嘔不止，飲食不進，大便不解，夜來少寐，總由水不涵木，火灼液耗，兩陽合明之氣，未能合洽，故上不入下不出，中脘痛嘔不舒也。此時惟宜壯水清金，兩和肝胃。木欲實金以平之，肝欲急甘以緩之。水能生木，土能安木。肝和則胃開納穀，胃開則安寐便解。此不治痛、不通便，而通便止痛之法在其中矣。仍以生脈散金匱參蜜半夏湯合甘麥大棗湯。</p>
<p>生脈散、參蜜半夏湯、甘麥大棗湯加黃粟米　甘瀾水煎。</p>
<p>腑氣雖通未暢，臟氣未和，痛尚未止，總由肝氣橫逆。夫肝屬木，賴腎水以滋榮。不思食者，胃陽不展，土受木克故也。胃為陽土，得陰始和。究其原委，皆緣平昔肝陽內熾，耗損腎陰，以致水虧於下，莫能制火，火性炎上，與諸陽相率為患。王道之法，惟有壯水之主，以制陽光。俾水能涵木，則肝自平，胃自開，痛自止矣。</p>
<p>生脈散合六味地黃丸</p>
<p>木喜條達，鬱則侮土，性籍水涵，涸則燥急，心煩口燥，母病及子。胃氣由心陽而開，肝木得腎陰而養，中陽宜健運，金冷宜清肅。大便通，大腸之氣已順。痛嘔止，陽明之氣已和。惟是胃氣未開，尚不思食，乃痛久氣餒。中傷胃不清和，陰液未能遽復。益氣生津，俾二氣各守其鄉，庶免變生他患。</p>
<p>參麥散合六味地黃丸、淮牛膝</p>
<p>（案9）肝制中胃，不能納穀，大便復閉。稽考各家，並無成法，擬《韓氏醫通》中或謂問：大便不通，暫服通劑可否？曰：病非傷寒痰證，豈可下乎。雖可取快於一時，來日閉結更甚，使陰虧於下，陽結於上，燥槁日甚。三陽結病，勢在必然。《經》以北方黑色，入通於腎，開竅於二陰。腎惡燥喜辛潤，為五液之長。陰液足則大便通暢。陰液衰則大便燥結。高年血燥陰虧，每有是疾。《經》言肝木太過，令人善怒，不及令人胸痛引背，下則兩脅脹痛，痛久傷氣，氣傷陰虧，火燥便結，腸胃氣滯。外擬實象，內系枯燥。所謂大虛似實，虛極反見實象是也。轉瞬木令司權，中樞益困。急宜養陰涵木，子母相生。俾春生之氣，萃於一身，自然勿藥有喜。</p>
<p>野山參（一兩）　原熟地（八兩）　雲茯苓（三兩）　川牛膝（三兩）　花麥冬（三兩）　山茱萸（四兩）　甘枸杞（三兩）　歸身（三兩）　遼五味（一兩）　淮山藥（四兩）　蜜水為丸。</p>
<p>（案10）昔肥今瘦，神倦食減，胸痹作痛，曲直作酸。痰飲作嘔。中虛木侮，傳化失常。治宜宣補。</p>
<p>東洋參（三錢）　製半夏（一錢五分）　炙甘草（五分）　煨木香（五分）　於白朮（二錢）　青廣皮（各一錢）　炮姜（五分）　白蔻仁（後下，八分）</p>
<p>（案11）中傷積飲，食少運遲，胸次作痛，有妨飲食，午後痛勢攻衝，上下不定，痛即嘔吐。腎虛真陽不布，升降失常，益火之源，以生中土，方為求本治法。</p>
<p>金匱腎氣丸加沉水香　蜜丸。</p>
<p>（案12）木乘土位，轉化失常，清陽不升，濁陰不降，升降失司，否而不泰。脘痛如刺，嘔吐痰涎，不思飲食，脈來軟數已歷多年。正氣已虧，殊難奏捷。擬調氣法，中加以輔正之品。</p>
<p>歸脾湯去黃耆、桂圓，加青陳皮、草蔻仁、白芍、上沉香　蜜丸。</p>
<p>（案13）陰虛於下，腎不養肝，木乘土位，健運失常，不能化運精微二氣，源流不暢。痛則不通，是以痛嘔，不能納穀，延今四載有餘。春末夏初舉發，今年發在冬時。脘痛如刺，嘔吐不食，呻吟不絕，幾致汗脫，延綿四十餘日。服藥嘔雖平，飲食難進，脈尚未起，慮其來復，以丸代煎，徐徐培養。</p>
<p>油肉桂（後下，一兩）　高麗參（四兩）　雲茯苓（三兩）　上沉香（一兩）　大生地（八兩）　酸棗仁（三兩）　白歸身（四兩）　姜半夏（三兩）　淮山藥（四兩）　炙遠志（二兩）　杭白芍（三兩）　福橘皮（二兩）　山芋肉（四兩）　煨木香（一兩）　蜜丸。</p>
<p>（案14）病原前方申說，第脘痛甚則怯寒，肢尖面目不可以當風，此屬氣閉不能敷榮四末、上走清空，非真寒也。服理氣之劑，佐以山梔清氣鬱之火，痛勢雖愈，嘔平食納，數脈亦緩。證本木乘土位，中傷氣鬱，化火傷陰，不宜煩勞動怒。肝病治脾，前賢良法。擬歸芍六君加減，運中樞以暢清陽為主。</p>
<p>歸芍六君子湯去半夏，加煨木香、遠志、蛀青皮、省頭草、沉香　蜜丸。</p>
<p>（案15）肝鬱乘脾，中傷氣痛，食飲少，食入時吐，脈來細數無神。久延有虛勞之慮。《經》以怒為肝志，木鬱達之。然草木功能難與情志爭勝，使非戒怒，終無濟也。</p>
<p>歸芍異功散加廣鬱金、佩蘭梗　蜜丸。</p>

<h2>十三、脅痛</h2>
<p>（案1）脅痛本屬肝膽。二經之脈皆循脅肋。素本憂勞，憂傷肺志，勞動心陽，心肺傷而肝膽郁。法當宣補，未可作東方氣實宜疏論治。</p>
<p>異功散加歸身、遠志、木香、薑、棗</p>
<p>（案2）肝膽氣滯不舒，脅肋痛如錐刺。宜濟川推氣飲。</p>
<p>濟川推氣飲加薑、棗</p>
<p>（案3）肺郁傷肝，木乘土位。木性條達，不揚則抑；土德敦厚，不運則壅，氣道不宣，中脘不快，兩脅作痛。</p>
<p>香橘湯加薑、棗</p>
<p>（案4）暴怒傷肝，木火載血，妄行清竅，脅肋脹痛，煩熱脈洪。宜先瀉東方之實，兼助中央之土，以杜傳脾之患。</p>
<p>箱歸身（三錢）　焦山梔（一錢五分）　青廣皮（各一錢）　雲茯苓（三錢）　京赤芍（二錢）　粉丹皮（一錢五分）　象貝母（二錢）　白朮炭（一錢五分）</p>
<p>（案5）脅痛多年，屢發不已，延今寒熱宜甚，復用養血調氣等劑，遍嘗無效。第痛時一條扛起，乃食積之徵也。</p>
<p>每日服保和丸。</p>
<p>（案6）肝火內郁，脅痛，二便不爽。</p>
<p>大古勇（一錢）　龍膽草（一錢）　洋蘆薈（一錢）　黑梔肉（一錢五分）　吳茱萸（四分）　全當歸（三錢）　飛青黛（一錢）　廣木香（五分）</p>
<p>（案7）肝藏諸經之血，腎司五內之精。緣少年嗜欲無窮，損傷肝腎，精血兩虧。精虛不能化氣，血虛無以涵肝。氣血尤水源也，虛則不能流暢，凝滯不通，以故胸脅作痛，延綿不已。虛痛奚疑，法當培補精血，治其治病之本，不可泛服行氣通絡之品。</p>
<p>大營煎</p>
<p>（案8）肝膽之脈，循於脅肋。憂思過度，致損心脾。氣血不能流貫，致令厥少二經不利。心脈亦循胸出脅，脾傷故木不安，是以脅肋隱痛。培補心脾，治病之本。</p>
<p>黑歸脾湯去黃耆，加柏子仁</p>

<h2>十四、腰痛</h2>
<p>（案1）腰者，腎之府。腰間空痛，按之稍緩，能直不能曲，病在督脈也。</p>
<p>大熟地　鹿角膠　肥杜仲　胡桃肉　東洋參　龜板膠　當歸身　青鹽　補骨脂　自然銅　雲茯苓　雄羊腰</p>
<p>（案2）腰為腎府，痛屬腎虛。腎與膀胱相表裡。太陽之脈，夾脊抵腰，督帶衝任，要會於此。素耽酒色，腎陰本虧，恬不知養，潛傷四脈，時有痛作，屢發不瘳。展轉沉涸，歲月彌深。行立不支，臥息稍緩。暴痛為實，久痛為虛。在經屬府，在臟屬腎。擬方緩治。</p>
<p>鹿角膠　高麗參　淡蓯蓉　淡秋石　巴戟天　補骨脂　厚杜仲　當歸身</p>
<p>每晚服清娥丸。</p>
<p>（案3）腰乃身中之大關節也。腰痛屢發不瘳，痛則傷胃。腎乃胃之關。關津不利，皆緣腎胃兩虧，氣血源流不暢。目得血而能視，足得血而能步。血失其營養，以故頭傾視深，步履欹斜，服健步、虎潛等丸寡效，胃氣不能敷布也。擬六味二妙，腎胃兼治，以漸圖功。高年慎防傾跌。</p>
<p>六味地黃丸合二妙散　蜜丸。</p>

<h2>十五、腹痛</h2>
<p>（案1）脾虛易感腹中作痛。</p>
<p>補中益氣湯</p>
<p>（案2）瘧後脾腎兩傷，腹痛心慌，神倦懶惰，食後嘔惡酸水。五更喉干作燒，頭中一線作痛，眼生黑花，三陰不足，陰濕蘊結，致有腹痛之患。</p>
<p>陽八味地黃丸加青木香、陳皮、半夏、煨姜</p>
<p>（案3）脈象沉弦，氣鬱動肝，肝沖氣脹，已歷多年。不耐煩勞，大腹小腹脹痛。形容憔悴，血不榮色，心脾營損，肝氣橫逆。養心脾以合肝胃。</p>
<p>歸脾湯加白芍、陳皮</p>
<p>進養心脾以和肝胃，痛定神安，容色漸轉，既獲效機，依法進步。</p>
<p>前方加肉桂</p>
<p>腹痛已痊，飲食已香，夜來寐安，脈神形色俱起。不宜煩勞動怒，原方損益。</p>
<p>黑歸脾湯加白芍</p>
<p>（案4）當臍疼痛，痛則作脹作嘔，已歷數載。腎氣不和，積寒為患。</p>
<p>桂附八味丸去地黃，加木香、沉香、茴香、桂水炒白芍、紅糖</p>
<p>每早服金匱腎氣丸。</p>
<p>（案5）少腹脹痛拒按，上攻胸脅，便黑不爽，溲赤而渾，血蓄下焦已著。昨進通瘀之劑，脹痛反甚，非藥不對症，乃藥淺病深，況病久正氣已虛，無能斡旋藥力。正治之法從緩，暫以養營喧絡主之。</p>
<p>全當歸（五錢）　明乳香（一錢五分）　赤茯苓（二錢）　淮牛膝（二錢）　青陳皮（各一錢）　沒藥（一錢五分）　建澤瀉（一錢五分）</p>
<p>瘀停少腹，脹痛不舒，火在二陽，自汗不寐。血為熱搏，滯澀難行。嘔吐心嘈，二便不爽。病延日久，二氣交虧。屢進扶正通瘀之劑，證勢退而復進，瘀血行而又止。蓋血為熱搏，乾澀於中，有非氣復津回不能融化之勢。今擬清輕之品，以澈三陽之火。待腸胃清利，再議行瘀可也。</p>
<p>中生地（四錢）　福澤瀉（一錢五分）　淮牛膝（二錢）　黑山梔（一錢五分）　粉丹皮（一錢五分）　雲茯苓（一錢五分）　車前子（二錢）　全當歸（三錢）</p>
<p>兩進清輕澈火之劑，諸症俱減，少腹脹痛依然，心下反竟不快，按之則痛，時嘔痰涎。此恙久脾胃兩傷，轉輸失職，不能運化精微，以故中央不快，脾傷不能為胃行其津液，凝滯成痰作嘔，胃虛不能斡旋藥力流暢諸經，停瘀不散作痛。欲培脾胃守補之劑，非宜欲散停瘀胃弱不勝攻劑，暫以通澈陽明主治。</p>
<p>二陳湯加生地、孩兒參、歸身、棗仁、遠志</p>

<h2>十六、積聚</h2>
<p>據來恙源，細參一切始原，遍身發冷，出汗不止，服真武加減未效。後便血，臍左右有硬積二塊，頭暈夜煩。兩脅心腹作脹，筋骨疼痛不舒。肝主筋，脾主四肢。陰液本虧，陽明郁痰悶結，氣積凝而成塊，連服溫膽小效。後服下劑，更兼礞石丸，據云症勢已減六七，惟硬積跳動不消。此症雖在肝脾，總由腎之水虧，肝之陽強，陰液不充，是以氣積不化。《素問》云：陽在外為陰之使，陰在內為陽之守。氣行血流如風行水動也。仲景謂養正而積自除，正充而塊自解，攻乏之劑不過一時，恐未能豁然。擬養正消積，固氣和陰，久服可效，但不知脈象何如耳。</p>
<p>制首烏　延胡索　春柴胡　半夏曲　明黨參　肥牛膝　杭白芍　建橘紅　茜草根　蓬莪朮　全當歸　黃鬱金　上丹參　大生地　淮山藥　白茯苓</p>

<h2>十七、鼓脹</h2>
<p>厥陰肝氣勢結，太陰脾濕不宣，胸悶腹脹而大，並有積塊中滿之症，慮其食減、脹喘生變，多酌。</p>
<p>野於術（土炒，一錢五分）　霞天曲（一錢五分）　雞內金（一錢五分）　水紅花子（二錢）　沙枳殼（麩炒，一錢二分）　雲茯苓（三錢）　上沉香（五分）　陳香櫞皮（五分）　縮砂仁（後下，一錢五分）</p>
<p>服兩劑加制香附（一錢五分）　乾蟾皮（一錢五分）</p>
<p><u>熨腹法</u>　官桂（三錢）　香附米（五錢）　制沒藥（三錢）　枳實（五錢）　豬牙皂（三錢）　香櫞皮（五錢）　水紅花子（四錢）</p>
<p>共搗末，蔥汁、米醋、燒酒敷勻臍上，旁以面圍之，燒熱鞋底熨藥上。並治積聚。</p>

<h2>十八、蟲症</h2>
<p>（案1）蟲以濕土為窠穴，治脾燥濕以化之，乃治蟲通套法也。然有五臟之別，形狀之異。寸白與扁蟲不同。寸白無妨，扁蟲類螞蝗能大能小，嘴尖尾禿，接續可長數寸，與寸白異，害人甚速。惟養腎氣，先杜布子之患。</p>
<p>大熟地（八錢）　製附子（八分）　川黃柏（一錢）　雲茯苓（二錢）　野黃精（五錢）　烘白朮（二錢）　烏梅肉（三個）　淨黃土（一兩）　川楝子（二錢）　榧子肉（一兩）　萹蓄（二錢）</p>
<p>每早服黑錫灰丸三錢。</p>
<p>（案2）臟氣實者，蟲無以生。蟲生，必臟氣虛也。證本腎虛於下，木失敷榮，木乘土位，脾困於中，蘊生濕熱，化生蛔蟲。蟲蝕脂膏，痛如錐刺，時作時止，脈反浮洪。痛甚頰青唇赤，是蟲之驗也。治宜固腎扶脾為主，追蟲滲濕助之。</p>
<p>大生地（四兩）　使君子（三兩）　淮山藥（三兩）　雲茯苓（一兩五錢）　東洋參（三兩）　生木香（五錢）　當歸身（二兩）　冬白朮（三兩）　白蕪荑（一兩五錢）　川黃柏（一兩）　川椒目（三錢）　荔枝核（一兩）</p>
<p>上藥水丸。</p>
<p>（案3）腎屬水，虛則熱。膽移熱於腦則辛頞鼻淵，涕冷而腥，痰多思睡，起自去秋，屢下寸白蟲，此肝腎兩虧。</p>
<p>六味地黃丸加黃精、萹蓄、榧子肉</p>
<p>病原載前方，腦漏鼻淵，六腑之病，俯首即暈，痰多思睡，飲食作飽，每日下寸白蟲甚多，脾腎所積，非泛泛之蟲可比。</p>
<p>大熟地（五錢）　川黃柏（一錢）　榧子肉（一兩）　淡乾薑（五分）　炒白朮（土炒，三錢）　淡黃芩（四錢）　烏梅肉（三個）　扁竹（三錢）　野黃精（五錢）</p>
<p>（案4）蟲以濕土為窠臼，治脾土以化之，此論治蟲之統法也。下扁白蟲甚多，養腎元以化之，不致布子為妙。</p>
<p>大熟地（五錢）　野黃精（五錢）　細榧子肉（一兩）　萹蓄（三錢）　蒼白朮（各三錢）　川黃柏（一錢）　酸烏梅（三個）　乾薑（五分）　白茯苓（三錢）</p>
<p>服藥以來，下蟲日減，頭暈全好，肌膚不熱，原方加減。</p>
<p>原方去白朮</p>
<p><u>丸方</u>　私鹽鹼（二兩）　枯礬（七錢）　鉛灰（三錢）　榧子肉（八兩）　北麥鈣（八兩）　黃土（四兩）　紅糖為丸。</p>
<p>補脾腎以來，扁白蟲已淨念餘日。五月初旬，喉癢痰多，現交夏至節令，暑濕將動，濕濁必甚，恐有布子之患，仍養脾腎以淨根株。</p>
<p>大熟地　川黃柏　榧子肉　製半夏　冬蒼朮　野黃精　烏梅肉　雲茯苓　生苡仁　化橘紅</p>
<p>適接來札。服藥後，腹內平靜無聲，此蟲蠱何疑，後忽嘔吐泄瀉，並有青黑磚瓦色，茶杯口大數塊，蟲蠱化而未盡，更恐夾以暑濕積食，亦未可定，未見症不能懸揣，且實系蟲化，亦當下行者順，上行者逆。逆則脾陰大傷，正虛積不能化，甚為險要。但不知脈象如何耳，姑擬固正下積，靜以待動。</p>
<p>人參　川椒炭　煨木香　赤茯苓　川雅連　烏梅肉　臺烏藥　建澤瀉　大丹參　板藍根</p>

<h2>十九、風濕腳氣</h2>
<p>（案1）脈來沉滑而疾，濕痰內郁，化熱生風，先是腳面麻木，引延兩手，右手食指跳動，井肩環跳俱癢，入暮潮熱。當理太陰陽明，化濕熱，以杜風患。</p>
<p>二妙散加於朮、桑葉、黑芝麻、赤茯苓、熟地、甘草、車前子、豨薟草</p>
<p>進二妙加味，理太陰陽明，化濕熱杜其風患。手足麻痹俱蘇，潮熱、井肩、環跳癢患俱已。尚覺跳動，餘波未息，以丸緩圖。</p>
<p>桑麻地黃丸、二妙散加冬朮、潼蒺藜、豨薟草、苡仁、威靈仙　蜜丸。</p>
<p>脈來滑疾，風濕鬱於陽明，肝腎不足，兩腿兩手脊筋作痛，寐來更甚，兩耳作響。濕熱鬱結，氣化為火。</p>
<p>左秦丸（一錢）　白蒺藜（三錢）　石菖蒲（八分）　赤茯苓（四錢）　宣木瓜（一錢）　茅山術（三錢）　遠志肉（一錢）　通木通（八分）</p>
<p>接來恙原，服藥已效，將木通減去三分，加車前子二錢、黨參三錢。服數帖便中，來商再為診脈。擬方順候近安。知名恐呼，奉返謙簡，每早服二妙丸。</p>
<p>（案2）腎虛真陽不旺，脾虛濕熱不化。風濕發於四肢，浸水裂皮，癢多痛少，皆屬於虛。年甫四旬，陽不振作，利濕傷陰，祛風耗氣，速當固本。</p>
<p>六味地黃丸加白蘚皮、枸杞、桂圓肉、大胡麻</p>

<h2>二十、痿痹</h2>
<p>（案1）脈來虛數而弦，三陰內虧，濕熱鬱而不化。腎氣不衡，肝不榮筋，精血大虧，腿瘦，脛彎，痛無寧息，病勢不一，股內熱痛，大腿如針刺痛。膝蓋脛彎俱酸冷脹痛，魄門墜脹疼痛，左腿形如鶴膝，坐臥不寧，飲食不甘，病延已久，下痿已成，慮難奏捷，多酌。</p>
<p>六味地黃丸加川黃柏、蓯蓉、菟絲子、巴戟天</p>
<p>兩進平補三陰，逗留微陽而化濕熱，胃口漸開，諸痛稍減，扶持可以步履。心內不時嘈雜，似覺空懸無倚，食物即定。小便頻數，拖延多日。虧損已極，服藥應手，已見生機。原方加減。</p>
<p>原方去黃柏，加麥冬、黨參、天冬</p>
<p>服藥三帖，飲食漸增，大便通行，小溲色黃不數，左右皆能平臥，步履能行，精神已振。惟左腿外臁久坐仍有微痛，久立亦然。病雖見痊，精神未充。以煎方十劑作丸，回府慎調為妙。</p>
<p>（案2）脈來虛數，肝腎兩虧，酒色內傷，腰痛肋脹。延今兩腿麻木，步履無力，口乾便結。少腹作墜，謹防下痿。</p>
<p>六味地黃丸加巴戟天、蓯蓉、黨參</p>
<p>每日服虎潛丸。</p>
<p>（案3）風寒濕三氣合而為痹，周身痠痛，右腿及曲池痛甚，已歷三年。寒濕凝筋，先擬蠲痹湯加味。</p>
<p>嚴氏蠲痹湯加威靈仙、木瓜、金毛狗脊</p>

<h2>二十一、疝氣</h2>
<p>（案1）《經》以任脈為病，男子內結七疝。衝任同源，為十二經脈之海，起於腎下，出於氣街，並走陽明經，夾臍上行至胸中而散。症因思慮煩勞，損傷中氣，虧及衝任。任虛則失其擔任之職。沖虛則血少不能榮筋。肝主一身之筋，與腎同歸一體。前陰為宗筋之會，會與氣街。以故睪丸下墜，不知痛癢，名曰㿗疝。前哲治法頗多，效者甚鮮，暫從中治。</p>
<p>補陰益氣煎加白朮、茯苓、川芎、製半夏　蜜丸。</p>
<p>（案2）肝藏諸經之血，腎司五內之精。疾走、恐懼、飢食、渴飲，致傷肝腎，精血兩虧。精虛不能化氣，血虛無以榮筋，致令氣滯寒凝筋攣，血積因而成疝。六載以來，日以益大，不知痛癢。此為㿗疝。七疝之中，茲其最甚，溫通氣血，以散凝寒，培補肝腎，以舒筋絡，古之成法也。</p>
<p>（未見方）</p>
<p>（案3）二天不振，八脈有虧，任脈不足，睪丸下墜。偏於左者，肝也。腎氣通於耳，水不濟火則耳鳴，火熾陰消則精滯。脈來虛數少神，脾腎雙補為主。</p>
<p>大熟地（八兩）　東洋參（三兩）　遠志肉（一兩五錢）　煨木香（八錢）　山茱萸（四兩）　歸身（三兩）　酸棗仁（三兩）　福橘皮（二兩）　淮山藥（四兩）　炙甘草（八錢）　雲茯苓（三兩）　蜜丸。</p>

<h2>二十二、陰痿</h2>
<p>（案1）未冠先傷，乾破為離，左尺散右尺細，根蒂大傷。現火令司權，水不配火，涸澈燎原，理宜補坎填離。火氣發泄之時，天時暑熱為動，地之濕濁必勝，下虧體質最易觸犯，不能不前後兼顧。</p>
<p>大熟地　線魚鰾　淮山藥　干石斛　太子參　沙苑子　南山楂　白茯苓</p>
<p>心有所思，意有所歸。意淫於外，精搖於內，神志不藏，根蒂大虧，必得息慮。保守太和，水源生則龍相寧，水升火降自有懷欣之舉。</p>
<p>原方加二至丸</p>
<p>（案2）精也者，神依之如魚得水，氣依之如霧覆淵。先天氤氳而無形，後天有形而可見。男女媾精，萬物化生，得自然之氣，生子必壽。養先天煉後天，水升火降則為和會，見歡娛之舉，自然入谷，不可徒事於補陽。燥熱竭陰，致有亢制之弊，非徒無益而又害之。</p>
<p>鯉魚子（一具）　大熟地（八兩）　焦於術（三兩）　當道子（一兩五錢）　鹿角膠（四兩）　薯蕷（四兩）　雲茯苓神（各三兩）　覆盆子（三兩）　黃魚鰾（三兩）　甘枸杞（四兩）　半夏粉（一兩五錢）　蓮子肉（四兩）　肉蓯蓉（四兩）　益智仁（三兩）　菟絲子（三兩）　胡桃肉（四兩）　巴戟天（三兩）　雞頭粉（四兩）　山芋肉（四兩）　東洋參（四兩）　文武實（四兩）　用二至丸、鮮橘，熬膏和丸。</p>
<p>（案3）思為脾志，心主藏神，神思過用，病所由生。心為君主之官。端拱無為，相火代心司職。曲運神機，搖動相火，載血上行，下為遺瀉。因循怠治，病勢轉深，更增虛陽上越眩暈等症。諸風掉眩，皆屬於肝。面色戴陽，腎虛故也。不能久立久坐者，肝主筋腎主骨，肝腎不足以滋榮筋骨也。眼花耳嘯者，腎氣通於耳。肝開竅於目，水弱不能上升，血少不能歸明於目也。胸背之間隱痛如裂者，二氣無能流貫，脈絡不通也。嘔吐黃綠水者，肝色青，脾色黃，青黃合色則綠，乃木乘土位之徵也。前陰為宗筋之會，會於氣街，而陽明為之長。心脾不足，衝脈不充，宗筋不振，陰縮不興。滋陰降火，苦堅之法，最是良謀。惜少通以清寒之品，以故無效。不受溫補熱塞之劑者，蓋壯年非相火真衰，乃抑鬱致火不宣揚，膻中陰瞑，離光不振也。相火不足，宜益火之源以消陰翳。相火不宣，則宜斡旋中氣，以暢諸經。譬如腎火蔽障則微，透風則翕然而起矣。</p>
<p>七福飲加煨木香、沉香、琥珀、黃柏、茯苓、元參　蜜丸。</p>

<h2>二十三、遺精</h2>
<p>（案1）心旌上搖，相火下應，意淫於外，精滑於內。精傷無以化氣，氣虛無以生神，形神慵倦，肢體無力，陰不斂陽，浮火時升，寐中口燥，間有妄夢而遺，症屬陰虧。</p>
<p>二至丸、六味地黃丸加石蓮肉</p>
<p>（案2）未冠先傷，乾破為離。陽升莫制，陰精下損，夢泄頻仍。眉稜骨痛如刺，厥少之風，擾動陽明，當培其下。</p>
<p>彩龍齒（三錢）　大熟地（八錢）　沙苑子（三錢）　淮山藥（三錢）　玄武版（三錢）　女貞子（三錢）　石蓮肉（二錢）　大麥冬（二錢）</p>
<p>（案3）心主藏神，腎主藏精。神傷於上，精滑於下。五日一遺者，非獨心腎不交，乃中土大虧之明驗也。五為土之生數，生氣不固，殊屬不宜。</p>
<p>黑歸脾湯去桂圓、木香　蜜丸。</p>
<p>（案4）肝司疏泄，腎司封藏。二經俱有相火，其繫上屬於心。心為君火，心有所動則相火翕然而起。此遺泄之所由生，先服荊公妙香散加減，安神秘精。</p>
<p>東洋參（八錢）　白茯苓神（各五錢）　炙遠志（五錢）　益智仁（五錢）　花龍骨（八錢）　丹砂（二錢五分）　炙甘草（五錢）　為末，酒調服。</p>
<p>（案5）恙原疊載，前方茲不贅述。惟心腎不交，求其所致，緣少年真陰不固，真陽不守。目有所見，因有所慕，意有所樂，欲想方興不遂所致。蓋心有愛則神不歸，意有想則志不定。心藏神，腎藏志，脾藏意。意不和遂致三經否隔，此心腎不交之本末也。二十餘年，病多變態，近服歸脾獲效，是求本之功，豈泛治所能瘳也。心腎不能自交，必謀中土，擬媒合黃婆，以交嬰奼。</p>
<p>歸脾湯加煨益智仁　水丸。</p>
<p>精之藏制雖在腎，精之主宰則在心。精之遺泄聽命於心君。心為君火，腎為相火。君火上搖，相火下應。二火相煽，消爍真陰，情迫於中，莫能自主。腎欲靜而心不寧，心欲清而火不息，致令嬰奼不交，夜多惡夢，精關不固，隨感而遺。二十餘年前，進媒合黃婆以交嬰奼。數月以來，頗為獲效。第病深藥淺，猶慮來復，仍須加意調養。通志意以御精神，宣抑鬱以舒魂魄，方克全濟。</p>
<p>大熟地（八兩）　白茯苓（三兩）　石蓮肉（二兩）　酸棗仁（三兩）　東洋參（四兩）　於白朮（三兩）　淮山藥（四兩）　炙遠志（一兩五錢）　菟絲餅（三兩）　粉黃耆（三兩）　芡實粉打糊為丸。</p>

<h2>二十四、溲血淋濁</h2>
<p>（案1）年甫廿三，據述六歲時夏天癃閉急脹，淋滴色紅，乃血鬱也。以後每年或發一二次，十歲之外漸次較重。血餅、血絲，疼痛不已，十日、半月方止。今年三月舉發，血色鮮紅，痛甚覺熱。完姻後所服犀地湯，理路頗好。熱伏閉門，火掩精關，溺血則血去不痛，有痛者則為赤淋。擬七正導赤散加減。</p>
<p>中生地（八錢）　淡竹葉（一錢五分）　西滑石（三錢）　真毛珀（三分）　細木通（一錢）　芣苡子（一錢）　燈心草（三十寸）　側柏葉（一錢二分）　甘草梢（二錢）　扁竹（三錢）　龍膽草（一錢五分）　海金砂（三錢）</p>
<p>三進導赤七正，未見進退。濕熱傷陰，心移熱小腸也。火掩精關，久非所宜，原方增損。</p>
<p>前方去生地、側柏、海金砂，加太子參、黑山梔、雲茯苓</p>
<p>又方：用豬溺臍（一具）　孩兒參（三錢）　卷柏（三錢）　長流水煎，炭火煨爛食。</p>
<p>（案2）脈左弦右軟，氣虛陰虧，肝之陽強，必由鬱怒所傷。氣失調達，心火濕熱下注，火掩精關，疼痛淋濁，乃濕傷氣，熱傷陰。補陰益氣，棋之先著，擬方候酌。</p>
<p>六味地黃丸去山芋肉，加太子參、毛柏、甘草、節滑石、山楂、木通、升麻、柴胡</p>
<p>怒傷氣，濕熱不化，肝失調達。濕熱下注，疼痛淋濁，肝主疏泄，腎司秘藏，補陰益氣。夜間淋濁已少，尚有精疼，夜黃晝清，行動腿膝無力，呵欠神倦。正氣、腎氣俱虧，濕熱余分未淨，原方加減。</p>
<p>前方去山楂，加麥冬</p>
<p>兩進前方，淋濁已轉白色，漸漸減少，溲黃變白，飲食未香，呵欠神倦，腰膝軟弱，日晡幽門氣墜，正氣、腎氣虧而未復。</p>
<p>六味地黃丸去山芋肉，加生地、麥冬、孩兒參、茯神</p>
<p>精傷無以生氣，氣虛無以生神，淋濁雖好，腎氣已虧。午後呵欠神倦，精傷不能化氣也。</p>
<p>六味地黃丸加生地、孩兒參、野料豆</p>
<p>（案3）濕熱傷陰，溺管疼痛，間或血淋。腎之陰虧，血不化精，精不化氣，色酒二字宜戒。初起宜清，久則宜斂，已延四月，自患之後，小便仍有白濁，溺痛不解，小溲黃赤，管痛尤甚。養肝腎之陰以化濕熱。</p>
<p>小生地　大麥冬　粉丹皮　建澤瀉　太子參　川黃柏　白茯苓神　益元散</p>
<p>濕熱傷陰，溺管疼痛，血淋之後，陰陽未復，脈來數象，水部有火，濕熱有餘，熱瀝不盡。</p>
<p>前方加甘草梢、千里馬</p>
<p>進補養肝腎與化濕熱，溺管痛舒，血淋亦止。四五日間有疼痛，脈來虛小。肝腎精血未復，餘氣未盡，以丸緩圖，清養為妙。</p>
<p>大、小生地（八兩）　牡丹皮（三兩）　木茯苓神（四兩）　建澤瀉（三兩）　太子參（二兩）　大麥冬（三兩）　鮮石斛（四兩）　甘草梢（八錢）　烏犀角（磨汁和，三錢）　潛葳蕤（四兩）　川黃柏（一兩）　水丸。</p>
<p>服丸以來，溺管痛止，黃赤俱無。惟小便後管中間有噓縮之氣，乃陰虛未復，腎元不固，原方加減。</p>
<p>生熟地黃湯加川黃柏、麥冬、孩兒參、烏料豆、蓮肉、燕根、豬脊筋</p>
<p>（案4）海藏云：忍精則淋，忍溲則癃，忍大便則痔。至於淋濁，有痛不痛、先後痛之分；有黃白赤色之異。陽舉則痛，腎囊潮黏，淋系赤色，皮外作癢。勉飲大醉後，兼之夢遺。素來忍精，濕留精關，不宜過利，亦不宜溫補，當治陽明。</p>
<p>補陰益氣煎加冬瓜子</p>
<p>五進補陰益氣，淋濁已止，陽舉不痛，皮外不癢，脈來左大，晨舌作干，陰虛不能上潮，以乙癸同源。</p>
<p>六味地黃湯加桔梗、陳皮</p>
<p>（案5）始由溲多不暢，管中如火球上下滾痛，尿後更甚。</p>
<p>四陰煎去百合，加參三七、黃柏、旱蓮</p>
<p>（案6）脈來弦大，兩尺不靜，濕熱傷陰，心相不靜，欲火凝結，濕鬱不化。考五淋治法，不越虛火、實火，必得清心絕欲，方能有濟。</p>
<p>孩兒參　山梔　甘草頭　萹蓄　老式琥珀　大麥冬　青竹葉　小木通　鮮石斛　瞿麥穗</p>
<p>心之動為意，意有所歸，心相不靜，欲火不散，精液不息，陽強不倒，寐則尤甚。陰不化氣，氣即火也。治之不易。心如鐵石，耳目清淨，心意不動，庶幾可效。</p>
<p>前方去木通，加小蓮子</p>
<p>清心保腎，寡欲固精，乃生生之道，原方加減。</p>
<p>前方去瞿麥、琥珀、小蓮，加蓮鬚、五味、炙桑螵蛸</p>

<h2>二十五、癃閉</h2>
<p>（案1）膀胱為州都之官，津液藏焉，氣化則能出。小便淋漓不暢，少腹、大腹微脹，舌絳口乾，固由濕熱傷陰，亦由精不化氣，氣化無權，服藥或效，或不效者，裡氣空虛也。肝主疏泄，腎主閉藏。州都無約，水泉無束。考古名家虛火虛氣，濕熱不化，補中兼開，隆冬閉藏。年逾六旬，脈不應指，似無通利之法，恐傷生髮之氣。</p>
<p>補陰益氣煎加冬瓜子，每日晨服老六味地黃丸，午後服十九味資生丸。一助乾健，一法坤順。</p>
<p>（案2）脾司清陽，胃司濁氣。腎司二便，肺主治節。年逾花甲，二氣漸衰，濕熱內傷，臟不行腑，氣化無權。但兩脈俱弦，按之無力。真陽虛衰，真陰亦傷，脾胃困頓，小溲不通，氣化不及州都。</p>
<p>補陰益氣煎、六味地黃丸改金匱腎氣丸</p>
<p>法助乾健坤順，升清降濁，濕熱漸化，二便已暢，氣墜已減，精神未健，久病真元難以振作，原方進步。</p>
<p>前方加穀芽</p>
<p>補命腎以建中陽，健脾胃以化濕熱，補陰益氣，升清降濁，腑氣已調，小溲暢行。臟已安適，脈之雙弦已和，面色已開，精神漸起，以丸徐徐調養，自臻安吉。</p>
<p>金匱腎氣丸加半夏、橘紅、桑筋、白沙參　蜜丸。</p>

<h2>二十六、便結</h2>
<p>（案1）《經》以腎開竅於二陰，主五液而司開合。飲食入於胃，津液輸於脾，歸於肺，注於膀胱，是為糟粕轉入小腸，傳送大腸，出於廣腸，是為大便。其中醞釀氤氳之氣，化生精血，滋潤五臟，營養百骸。蓋大腸傳送，相傅為之斡旋，故肺與大腸相表裡。肺為傳送之官，治節出焉。腎之液涸，賴州都為之藏蓄。故腎與膀胱相表裡。膀胱為州都之官，津液藏焉，小溲多而大便結，正與小溲秘而大便泄同歸一體。便瀉、便秘乃清濁相混，溲多便結乃清濁太分，過猶不及。脈來軟數無神，尺部尤甚，證本陰虧水不制火，火灼金傷，寒熱如瘧，注泄之後，五液耗干。肺不清肅，無由下降，致令開合失司，傳送失職。州都津液少藏，故大便秘而小便數。擬清上實下主治。清上則肺無畏火之炎，實下則腎有生水之漸。冀其金水相生，肺腎相資。清歸於肺，潤歸於腎，則大腸無燥閉之患。愚見未識，高明以為然否。</p>
<p>鮮首烏（二兩）　羚羊片（三錢）　淮牛膝（五錢）　當歸梢（三錢）　南沙參（八錢）　甜杏仁（一兩）　分三次服。</p>
<p>（案2）六脈細軟，按之少神。恙由肝腎不充，氣虛不健，以致小溲勤而短，大便反結。《經》云腎開竅於二陰，陰不足則氣反虛而不運，法宜益氣以清陰。</p>
<p>制首烏　肉蓯蓉　當歸身　桑螵蛸（鹽水炒）　楮實子　枸杞子　杭白芍　於白朮　生牡蠣</p>

<h2>二十七、便血</h2>
<p>（案1）寒生濕，濕生熱，熱生風，風擾陽明之絡。血絡瘙癢無度。臟寒生熱，便血多年，黑地黃、黃土湯皆是法程。但濕熱傷陰，陰不化燥，氣不攝血，血虛生風，宜養心脾。</p>
<p>歸脾湯去黃耆、桂圓、木香，加生地、犀角、冬桑葉、三角胡麻</p>
<p>每早服桑麻地黃丸。</p>
<p>（案2）便後血乃遠血也。色紅脫肛，半時乃上，已歷十餘年。頭暈神倦，暑熱脫肛不上。腎司二便，中虛、腎虛，補中、歸脾是理。奈肝腎陰虧，氣失攝納。</p>
<p>補陰益氣煎加阿膠、赤石脂、乾荷葉</p>
<p>（案3）脈數且滑，濕熱傷陰，腸風便血。</p>
<p>六味地黃丸加炒槐米、荊芥炭、黃芩，次加側柏葉、炒枳殼、炮薑炭</p>
<p>（案4）便血多年，先後不一，先紫後紅，並有血塊，腹中隱痛，脈來滑數，按之無力。三陰內虧，濕熱不化，陰絡受傷。肝不藏血，脾不統血，氣不攝血，滲入大腸而下。</p>
<p>生熟地（四錢）　側柏葉（三錢）　箱當歸（三錢）　黑薑炭（五分）　赤石脂（三錢）　炒冬朮（三錢）　杭白芍（三錢）　酸棗仁（三錢）　槐花炭（三錢）　阿膠珠（二錢）</p>

<h2>二十八、泄瀉</h2>
<p>（案1）暑熱濕痰，滯傷於脾胃。腹響痛瀉，小溲色赤。進平胃加減，雖輕未已，原方進步。乘此驅逐，否則久延正虛，防生歧變。</p>
<p>制根樸　赤茯苓　南木香　上廣皮　範志曲　建澤瀉　淡乾薑　甘草</p>
<p>脾喜燥而惡濕，濕滯脾土，痛泄嘔惡，進理中、胃苓，痛止嘔平，瀉勢欲止，舌苔漸化，夜寐已安，脾胃漸和，慎調為妙。</p>
<p>六君子湯加木香、蔻仁、穀芽、乾薑</p>
<p>（案2）脈左緊右緩緊，是腹痛之徵，緩是脾玩之候。暴起寒濕，水氣作瀉，溫熨是理。已延月餘，繞臍作痛，氣虛作墜，痛則作瀉，濕鬱化熱之象。精通之歲，陰未和諧，久瀉又傷，以香連歸芍湯加減，是否候酌。</p>
<p>廣木香　杭白芍　南山楂　當道子　川雅連　銀條參　赤茯苓　甘草　全當歸</p>
<p>每日早晨服老六味地黃丸，午後服十九味資生丸。</p>
<p>（案3）面浮肢腫，入谷則出，腹脹胸悶，大便溏泄，小水不暢。六脈沉緊而澀，舌根白色不起。風濕抑鬱，食填太陰，臟寒生滿，濁氣逆上，則生䐜脹，清氣反下，則生泄瀉。總由出納之官應運不靈，是以二陰開竅不爽。擬溫里以開通上下。延久脾陰大傷，牽及腎氣，更為棘手。</p>
<p>製附子　黑炮姜　廣橘皮　建澤瀉　川根樸　採云曲　肥牛膝　赤茯苓　枳實炭　冬瓜皮</p>

<h2>二十九、七竅</h2>
<p>（案1）頭寒鼻塞流涕，漸成淵症。</p>
<p>蒼耳散去白芷，加桔梗、杏仁、當歸、陳皮、首烏</p>
<p>（案2）鼻塞流涕，腦已發空。此腦寒淵症也。</p>
<p>細生地　肥玉竹　白蒺藜　辛夷　潤元參　大麥冬　玉桔梗　蒼耳子</p>
<p>（案3）腦為髓海，鼻為肺竅。腦滲為涕，膽移熱於腦，則辛頞鼻淵。每交秋冬，鼻流腥涕，不聞香臭。肺有伏風，延今七載，難於奏效。</p>
<p>孩兒參（三錢）　杏仁泥（三錢）　淡黃芩（一錢五分）　蒼耳子（二錢）　細生地（三錢）　甘菊花（一錢）　生甘草（五分）　辛夷（一錢）　桑白皮（一錢五分）　白蒺藜（去刺，三錢）</p>
<p>（案4）鼻涕稠濃，且有腥味。年甫十九，鼻息不利，有息肉腦空之患，脈來滑疾，已延七載，難於奏捷。擬清上實下主治。</p>
<p>瀉白散去粳米，加孩兒參、黃芩、茯苓、杏仁、甘葛、蘆根、野菜花</p>
<p>（案5）膽移熱於腦則辛頞鼻淵。蒼耳、辛夷，乃是本方。風熱濟於陽明，肺氣不展。</p>
<p>桑白皮　羚羊皮　白蒺藜　雲茯苓　廣藿香　中生地　淡黃芩　野菜花</p>
<p>（案6）《經》以膽移熱於腦，則辛頞鼻淵。膽為甲木，腦為髓海，鼻為肺竅。素本酒醉，肥甘過當，或為外感所乘。甲木之火由寒抑致生濕熱，上熏巔頂，津液溶溢而下，腥涕常流，為鼻淵之候。譬如火暑濕熱，鬱蒸乃能雨，源源不竭。髓海空虛，氣隨津去，轉熱為寒，亦猶雨後炎威自卻，匝地清陰而陽虛，眩暈等症所由生也。早宜調治，久則液道不能扃固，甚難為力也。</p>
<p>薄荷尖（八分）　防風根（一錢）　白蒺藜（三錢）　辛夷（一錢五分）　香白芷（一錢五分）　雀腦芎（一錢）　茅山術（二錢）　炙甘草（五分）</p>
<p>（案7）身懷六甲，火犯陽絡，血溢清空，由竅而出，名曰鼻衄。治宜清金和絡。</p>
<p>烏犀角（五分）　杭白芍（二錢）　淡黃芩（五錢）　生甘草（五分）　小生地（八錢）　大麥冬（三錢）　白茅根（五錢）</p>
<p>（案8）先天不足，火犯陽絡，血溢清竅為衄。</p>
<p>六味地黃丸加淮牛膝、淡黃芩、黑山梔、白茅花</p>
<p>（案9）風濕擾犯陽明，火乾血絡，血溢清竅而出，乃鼻衄也。</p>
<p>桑麻地黃丸加牛膝、麥冬、茅根、蘆根</p>
<p>（案10）目為肝竅。《經》以五臟六腑之精氣皆上注於目而為之睛，睛之窠為眼，骨之精為瞳子，筋之精為黑眼，血之精為絡，氣之精為白眼，肌肉之精為約束。曾經目赤，因循未愈。近乃白睛赤縷參差，浮紅成片，時多淚出，內眥凝眵而瞳子黑睛無恙。此腎水下虧，不能生木。木燥生火，火甚生風，風火相搏，肺金受制。白睛屬肺，肺熱故白睛發赤。時多淚出，譬如熱生風乃能雨，熱耗津液，故多眵。脈來軟數而空，有赤脈貫瞳子之慮。治宜壯水生木，升陽散火，不可泛服滌熱之劑。《經》有上病下取之旨，擬明目養肝丸加減。</p>
<p>明目養肝丸去川連、膽草、青鹽、防風、羌活、肉桂，加霜桑葉　用羊肝煮爛搗加蜜丸。</p>
<p>（案11）肝有風熱，翳膜遮睛，曾有紅腫，失於調治，致令水不濟火，木燥生火，風火相搏，髓液潛消。《經》以諸髓皆屬於腦。髓熱則腦熱，腦熱則脂下流為翳，偏於左者屬肝也。宜先清髓退翳為主。</p>
<p>羚羊角（一兩）　草決明（一兩五錢）　青葙子（一兩五錢）　木賊草（一兩五錢）　黑山梔（一兩五錢）　白蒺藜（三兩）　大白芍（二兩）　銀柴胡（一兩）　蔓荊子（二兩）　黃菊花（一兩）　全當歸（一兩五錢）　炙甘草（八錢）　蟬衣肚（二兩）　川芎（一兩）　蜜水丸。</p>
<p>（案12）水虧於下，火升於上，水不制火，陰不勝陽。緣少年嗜欲太過，水失所養，木燥生風，風火交併於上，陰液潛消於下，致令黑睛暗淡，瞳子無光，色兼藍碧，此為內障。《經》以五臟六腑之精氣皆稟受於脾，脾明於目，脾為諸陰之長，目為血脈之宗，腎為先天之源，脾為後天之本。脾土之強健賴腎氣之充盈，腎氣虛脾亦虛，脾虛則臟腑之精氣皆失所司，不能歸明於目。肝虛則血不歸原，腎虛則水不濟火，以故暗淡無光。治宜壯水濟火，補陰潛陽，冀其水升火降。</p>
<p>濟陰地黃丸去巴戟、菊花，加牛膝、菟絲子、東洋參、元武版、丹皮、茯苓、白朮、天麥冬、福澤瀉、橘皮、甘草　用長流水、桑柴火熬膏。</p>
<p>服膏以來，脾腎尚未充足，睛光頗有聚斂之機，視黑睛外一道藍圈，如月暈之狀。夫月之有暈，乃太陰之精不振，而陰霾之氣蔽之。陰霾蔽月為之暈，為陰精尚在，無月則無暈矣。被光黑水蘊於中，射於四維圍於外，雖失明無視為根本，尚未頹殘，猶可治也。舌者心之官也，服補陰潛陽之品，舌反乾燥者，乃腎水枯涸之徵，不能上濟心火。心為君火，腎為相火。君火以明，相火以位，君火上搖，相火下應。腎欲靜而心不妄，心欲靜而火不息，腎水何由而升，心火何由而降，殊為可慮。是宜澄心靜養，恬淡無為，假以歲月，助以藥餌，方能有濟。</p>
<p>左歸丸去鹿角膠加天麥冬、蓯蓉、歸身、五味、冬朮、西洋參、鮮石斛、覆盆子、野黃精　熬膏。</p>
<p>（案13）白眼屬肺，黑眼屬肝，瞳人屬腎，目胞屬脾，目系屬心。精滑四載有餘，腎水陰精交損，不能上注於目，卒然瞳人背明，腎實精空，尾閭穴痛，形容頹敗，食少多眠。服藥以來，飲食稍加，精神漸振，遺泄漸稀，能間二三日。目光如電光，神光不斂，可之黑白分明，瞳人之中，並無煙障之氣，混綠之色，非內障可比。仍以固腎填精、斂精化液之品，為丸緩治。第少壯年華，服藥寡效，非其所宜。</p>
<p>還元丹去地骨皮，加東洋參、羚羊角、紫河車、白朮、芡實粉、牡蠣粉、菟絲子、五味子、煅靈磁石、辰砂、歸身　金櫻子膏和丸。</p>
<p>（案14）腎虛有火，耳鳴失聰。</p>
<p>炙龜板　大熟地　肥玉竹　九節蒲　石決明　沙苑子　制首烏　粉丹皮　左牡蠣　建澤瀉</p>
<p>（案15）《經》以十二經脈、三百六十五絡，其血氣皆上注於目而走空竅，其彆氣走於耳而為聽。心開竅於耳，腎之所司也。腎為藏水之臟，腎虛則水不能升，心火無由下降，壯火食氣，氣虛不能上走清空。陰液下虧，脈絡為之乾涸。氣血源流不暢，是以耳內常鳴。素多抑鬱，五志不伸，水虛不能生木，肝燥傳脾，土虛不能生金。肺病及腎，腎氣不平，五內互克，展轉沉疴，歲月彌深。壯歲固不足慮，恐衰年百病相侵，故不僅耳閉已矣。是宜沉志靜養，遣抱舒懷，補以藥餌，方可有濟。擬局方平補正心丹，去上病下取之意。</p>
<p>平補正心丹去車前子、山藥、硃砂、柏子仁，加白朮、丹皮、龜板、元參、山梔　蜜丸。</p>
<p>（案16）齒痛上引太陽，因眩暈左肢麻痹而起。金水二臟素虛，眩暈乃肝邪所致。金虛不能平木，水虛不能制火。故肝陽內擾，陰火上升，肝位於左，氣虛則麻，兼以酒酪肥甘過當，濕熱蓄於腸胃，上壅於經，故見手足陽明、手太陰、足少陰四經之症。夫齒痛屬陽明之有餘。眩暈、麻痹屬太少之不足。按《靈樞·經脈》篇，手陽明之脈，其支者從缺盆上頭貫頰入下齒中；足陽明之脈下循鼻外，入上齒中。齒痛之由本此。第久於歲月，病勢已深，調治非易。爰以清胃玉女加味，從陽明有餘、少陰不足論治。</p>
<p>清胃散、玉女煎加澤瀉、鹿銜草</p>
<p>（案17）《經》以南方色赤，入通於心，開竅於耳，外候於舌。七情不適，傷乎心也，盛怒不解，傷乎腎也。腎虛水不制火，心火上熾，舌為之糜。法當壯水之主，佐以介類潛陽。</p>
<p>六味地黃丸去芋肉，加二至丸、炙鱉甲、龜板、五味子、牛膝　蜜丸。</p>
<p>（案18）腎水不足，心火有餘。舌為心苗，火性炎上，水不濟火，舌為之糜。脈來軟數無神，緣五志乖違所致。上病下取，滋苗灌根，法當壯水之主，以制陽光。</p>
<p>六味地黃丸去山芋肉，加牛膝、麥冬、地骨皮、武版　水丸。</p>
<p>（案19）誦讀勞心，心火刑金，金溶不鳴，聲嘶語言難竟。治宜壯水清金，行其清肅之令。</p>
<p>天王補心丹去桔梗、天冬，加南沙參</p>
<p>（案20）腎水不足，肝木失榮，木燥生火，火甚生風，風火交併，上冒清空，聲啞舌強，視聽不聰，脈來軟數無力。治宜益氣壯水調中，冀其水火既濟，天地交通。</p>
<p>六味地黃丸、六君子湯　蜜丸。</p>
<p>（案21）音聲本於臟氣，氣盛則聲揚，氣虛則聲怯。腎為音聲之本，舌為發聲之機，氣為聲音之戶。腎主藏精，精化為氣，肺司氣化，氣主發音。證由誦讀太過，損於臟氣。河間以五志過極，俱從火化。火盛刑金，金溶不鳴。舌為心竅，腎為水臟。火性炎上，火旺水虧傷其本而失其機，是以聲啞語言難出。脈來滑數而空，爰以鐵笛加減。</p>
<p>大生地（八兩）　紫菀茸（三兩）　訶子肉（三兩）　桑白皮（二兩）　天麥冬（三兩）　薄荷葉（一兩）　連心翹（二兩）　炙甘草（一兩）　北五味（一兩）　甜桔梗（二兩）　大貝母（二兩）　竹葉水丸。</p>

<h2>三十、婦人</h2>
<p>（案1）《經》以任脈為病，女子帶下，客秋小便有血，秋後帶見五色，每逢小便作痛，夜寐不安，飲食不甘，心移熱於小腸，濕熱、肝火內郁。病延半載，極難奏效。</p>
<p>山梔子（一錢五分）　海金砂（一錢）　甘草節（一錢）　扁竹（三錢）　太子參（三錢）　湖丹皮（一錢）　龍膽草（一錢）　蓮子心（八分）　赤茯苓（三錢）　側柏葉（一錢）　燈心草（三寸）</p>
<p>服藥四帖，赤帶仍多，白帶微解，寒熱已輕，小便痛亦微止，臥稍安，飲食亦甘，原方加減。</p>
<p>七正散加生地、丹皮、燈心</p>
<p>寒熱已解，帶亦減，溲痛亦寧，欲食漸增，原方分量略更。</p>
<p>疊進七正散加味，帶下已痊，溲痛已愈，飲食亦甘。惟血虛頭痛，兩腿痠楚，乃氣血兩虛，肝腎濕熱未清，歸芍地黃湯加減。</p>
<p>歸芍地黃丸去芋肉，加草梢、萹蓄、竹葉、燈心</p>
<p>帶下溲痛俱愈，惟右脅作脹，血虛頭痛，精神不振。宜補三陰，佐化濕熱。</p>
<p>歸芍地黃丸、桑螵蛸、草梢</p>
<p>（案2）日來帶下，頻頻不止，大便艱痛，小水色黃不暢，腹內有硬塊，腰膝痠痛。《經》云腎氣開竅於二陰。陰虧陽不斂，虛寒之質，液絡精氣枯涸，大為可慮。東垣謂連桂同功，能交心腎於頃刻，納氣下降，導火歸原，亦前賢之良法也。立方呈政，須與貴處諸同道切脈驗證，服三四帖仍祈賜酌。</p>
<p>六味地黃丸加大古勇、上卷桂、淮牛膝、川杜仲、杭白芍、左牡蠣、雞頭實</p>
<p>（案3）《經》以女子二七天癸至，任脈通，太衝脈盛，月事以時下。又二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，其傳為息賁者危。汛閉年餘，飲食日少，形體日羸，脈來絃動，乃郁損心脾，木乘土位所致。心為生血之源，肝為藏血之臟，脾為統血之經。心境不暢，肝不條達，脾失斡旋，氣阻血滯，痞滿生焉。五志不和，俱從火化。火灼真陰，血海漸涸，故月汛不以時下，必致血枯經閉而後已。將治心乎，有形之血難培；將治脾乎，守補中州易鈍；抑治肝乎，條達滋柔均皆不受。當以干運中樞為主，俟脾胃漸開，以四物、逍遙養肝舒郁，再以歸芍地黃補陰養血，和調衝任，冀其經通，方為佳兆。</p>
<p>（方未見）</p>
<p>（案4）左脈弦出寸口，志意隱曲不伸，抑鬱損心陰。陰虛血少，血不榮脾，脾傷不能為胃行其津液，胃病不能容受水穀而化精微。精血日以益衰，脈絡為之枯澀。經閉半載有餘，腹中虛脹作痛，榮色憔悴，飲食減少，擬歸脾法。</p>
<p>歸脾湯去黃耆，加柏子仁、阿膠、澤蘭葉</p>
<p>服藥五帖，病勢似有退機。因循怠治，停藥月餘，遂至䐃肉全消，喘鳴息肩。症本隱情曲意，郁損心脾，病傳於胃。所謂二陽之病發心脾是也。心為生血之源，胃為水穀之海，脾為化生之本，海竭源枯，化機衰憊。血枯經閉，氣鬱化火，火疾風生，消灼脫肉，故瘦削如風馳之速也。火灼金傷，氣無依附，故喘息如逝水之奔。犯《經》旨風消、息賁之忌，雖倉扁復生，無如之何。姑擬一方，以副遠涉就醫之望。</p>
<p>大生地（三錢）　大麥冬（一錢五分）　柏子仁（二錢）　澤蘭葉（二錢）　東洋參（三錢）　陳阿膠（二錢）　白歸身（三錢）　白茯苓（三錢）</p>
<p>（案5）經血乃水穀之精氣，調和於五臟，灑陳於六腑，源源而來，生化於心，統攝於脾，藏受於肝，宣布於肺，施泄於腎，上為乳汁，下為月水。經秘五載有餘，飲食起居如故，無骨蒸痰嗽等症，乃任脈經墜滯塞，非血枯可比。手指腫，腫色紫，不時鼻衄，經血錯行可知，營氣不從，逆於肉裡，遍體瘡癢，脈來滑數而長，有癰疽腫滿之患。擬子和玉燭散。多酌。</p>
<p>玉燭散</p>
<p>（案6）汛愆，胸腹相引而痛，痛時手足逆冷，食生冷寒涼即發，腹中雷鳴，脈來沉細，顯是命火中陽不足以煦和五內而敷榮四末，由產後氣血雙虧、虛寒為祟。治宜益火之源，以消陰翳。</p>
<p>桂附地黃丸加黨參、歸身、川芎、炮姜</p>
<p>（案7）素本月事不調，今正晡熱，巔疼脛腫，經居三月，脈來滑數。年甫廿四，肝脾不和，胃不開暢，濕鬱不行，理脾胃以觀動靜。</p>
<p>白朮炭　淡黃芩（酒炒）　肥知母　須穀芽　全當歸　縮砂仁　川杜仲　老蘇梗　白茯苓　淮山藥</p>
<p>（案8）腹中作痛，痛連胸口，手足發冷，不宜寒涼生物，腹中氣鳴，月汛愆期，皆由產後失調，氣血交病，虛寒為患。</p>
<p>四物湯加炮薑、香附、茯苓、白朮、甘草、砂仁、紅糖、益母膏</p>
<p>（案9）坤道首重調經，經不調，來時少腹作痛，病在厥陰。肝病善痛，肝傳脾，脾病善脹，脾傳胃，胃病善嘔，飲食不甘，脾胃並病，有妨孕育。</p>
<p>香砂六君子湯加艾葉、紅糖、香附、歸身</p>
<p><u>又五花酒方</u>　紅白荷花、月季花、玫瑰花、桃花、益母花　浸百花酒。</p>
<p><u>又丸方</u>　六君子湯加砂仁、香附、茺蔚子、澤瀉、蘄艾、當歸　紅糖為先。</p>
<p>（案10）年已四五，生育多胎，氣血皆虧，月不及期，顏色紫黑，精神倦怠，夜來少寐，早起作嘔，痰不易出，兼之氣鬱傷肝，悲哀動中，左腹氣瘕，飲食減少，心肝脾三經俱病，先以解鬱疏肝，兼養心脾。</p>
<p>歸脾湯去黃耆、桂圓，加阿膠、茯苓、金橘餅、紅糖</p>
<p>解鬱疏肝，以養心脾，已服二帖，鬱結化火，心煩作渴，六日未更衣，頭眩浮火內擾，木鬱達之，火鬱發之。</p>
<p>補中益氣湯去黃耆（一本用逍遙散加山梔、丹皮、天麻、石斛、生地）</p>
<p>（案11）月不及期，少腹作脹，手足麻木，飲食不甘，心膽自怯，氣血不調，心肝脾三經受病。</p>
<p>歸脾湯去黃耆、棗仁，加白芍、柏子仁</p>
<p>（案12）痛經症緣陰不濟陽，氣血兩損，加以痼冷沉寒，則月信不獨作痛，亦且愆期。經者，常也。氣血反常，宜陰陽兩固，擬八珍湯佐以溫里達下，久服自可獲效。</p>
<p>八珍湯加熟附子、丹參、黑薑炭</p>
<p>（案13）素有痛經症。陰液本虛，今春腹痛作瀉，寒熱嘔吐脹悶頻頻不止，感邪夾濕，胃脘久傷，六脈沉澀，左部尤甚。胃為水穀之海，陽明阻塞，清不能升，濁不能降，脾濕生痰，肝木侮土，最為險要。況當經期猶須防內因、外感二者交病，恐生厥搐、呃逆、肢冷之險。</p>
<p>臺烏藥　於白朮　煨木香　炮姜灰　白茯苓　建澤瀉　蘇橘紅　紫丹參　六神麯　生苡仁　廣鬱金</p>
<p>血分暢行，痛脹已定，脾胃不和，食仍不暢。土為萬物之母，火為生化之源。補土和陰，脾腎兩固，經常也。經不反常，土能自潤，土潤則水流，緩緩培養，乃能獲效。擬益母八珍加以宣劑。</p>
<p>益母丸、八珍湯加黑薑、橘紅、遠志</p>
<p>（案14）保元之法，先在調經。經前痛脹，是以艱於生育，此謂痛經。益陰濟陽，總宜氣血和平，平則陰陽不爭，和則榮衛不乖。宜溫補達下，以調氣血。擬益母勝金丹和烏雞丸法加減。</p>
<p>鹿角膠　大熟地　茺蔚子　黑薑炭　龜板膠　雀腦芎　枸杞子　白茯苓　清阿膠　箱當歸　川杜仲　黃酒　左牡蠣　杭白芍　於潛術　童便　烏骨雄雞　熟附子　紫丹參　煉蜜丸。</p>
<p>（案15）女子以肝為先天，肝為血海，經前痛脹，肝不平寧，血不和暢。始因痎瘧，邪留肝腎，腿足常腫，發則痛不可奈。腳氣類傷寒，寒熱氣衝，濕熱鬱結，隨氣上衝心則厥，沖胃則吐，當治陽明，調氣血以化濕熱。</p>
<p>六味地黃丸加冬朮、苡仁、沉香</p>
<p>（案16）肝鬱氣聚，氣聚血結，胸脅跳痛，一日數次，嗆咳氣促。經閉半載，日哺寒熱，寅汗而退，飲食不甘，頻頻白帶。七情鬱結之病，必得心境開舒，肝氣方能條達。</p>
<p>佛手片　淮牛膝　炙甘草　酸棗仁　全當歸　湖丹皮　白茯神　炙遠志　茜草根　銀柴胡</p>
<p>早服調氣丸：臺烏藥　花檳榔　蓬莪朮　廣鬱金　降香屑　新絳屑（以上俱醋炒）　紅糖為丸。</p>
<p>晚服調血丸：生地黃　京赤芍　當歸身　川芎　蘄艾葉　紅糖為丸。</p>
<p>左脈尚緩，右脈尚大。氣鬱填胸，氣血俱病，五損之病，宜從中治。調其飲食，適其寒溫，心暢肝和，脾胃健運，方能有濟。</p>
<p>黨人參　白茯苓　炒穀芽　五穀蟲　炒白朮　上廣皮　蓬莪朮　雞內金　玫瑰花露　荷葉包陳倉米</p>
<p>三更腹痛，四更經行，淡紅而少，五更紫色而多，小腹墜而痛，氣結血凝。原方加減。</p>
<p>前方去內金、谷蟲，加當歸、川芎、白芍、延胡索、紅糖</p>
<p>色仍紫，少腹仍痛。</p>
<p>雀腦芎　淮牛膝　上肉桂　上陳皮　全當歸　炮薑炭　延胡索　紅糖</p>
<p>（案17）本有經前後疼痛，現病有兩旬未止，右腿、右肋俱痛，右腹硬痛。氣血凝結，肝脾不和。</p>
<p>廣木香　全當歸　雀腦芎　益母草　砂仁米　杭白芍　白茯苓　赤砂糖　制香附　延胡索　炙甘草　又加檀香</p>
<p>（案18）痛屬於肝，脹屬於脾。汛來腹痛而脹，乳房墜痛，堅硬如石。氣鬱動肝，肝胃不和，氣血凝結。</p>
<p>歸芍異功散去黨參，加元金散（砂仁、川芎、香附、山楂、檀香　水丸。）</p>
<p>（案19）九載月事不調，尚未生育，喉內作干。腹中沉墜，肝脾氣血失調，病延已久，治之不易。</p>
<p>六味地黃丸、膠艾湯加茺蔚、白芍</p>
<p>（案20）肝為血海，脾為血源。結婚以來，未能生育，月信不調，腹中沉墜，年已廿七，經來先後不一。病在至陰，肝脾俱病，治之實難。</p>
<p>歸芍地黃丸去丹皮，加香附、生地、阿膠、茺蔚子、甘草、月季花　紅糖為丸。</p>
<p>（案21）女子首重調經，經調方能有孕。經先期，少腹脹痛，不時嘔噦，脈見雙弦無力。少腹主於肝。肝病善痛，肝傳脾，脾病善脹，脾傳胃，胃病善嘔。飲食不甘，肝脾胃俱病，以丸緩治。</p>
<p>八珍湯加益母花、煨木香、艾葉　水丸。</p>
<p>（案22）經斷復來，老年防脫。</p>
<p>四物湯加木瓜絡、丹參、香附、益母草</p>
<p>（案23）十七歲天癸至，咳嗽失血，乃倒經重症，法順氣導血。</p>
<p>白蘇子　鬱金片　黑山梔　鉤藤（後下）　降香末　山楂炭　牡丹皮</p>
<p>（案24）經者，常也，失其常則病，離其經則瘀，瘀行下紫黑色。氣不攝血則湧，宜固正和瘀，養陰調氣。</p>
<p>四物湯加牛膝、黨參、棗仁、益母草、茯神、丹皮（參）、血餘炭、蒲黃炭、阿膠、澤瀉</p>
<p>（案25）經阻二載，少腹堅硬，大便不爽，不時咯出紫血塊，此屬血蠱之象。</p>
<p>製大黃　川桃仁　鮮生地汁　生薑自然汁　上桂心　郁李仁</p>
<p>（案26）《經》以齒乃骨之所終，手足陽明之脈上循於齒，地癸主於衝脈。沖為血海，並足陽明經而行。陰虛無以配陽，水弱不能濟火。經事先期，不時齒痛。當以陽明有餘、少陰不足論治。</p>
<p>玉女煎去石膏，加丹皮、澤瀉、佩蘭葉</p>
<p><u>丸方</u>　照煎方去牛膝、佩蘭，加鮮石斛、焦梔、當歸　蜜丸。</p>
<p>（案27）氣不衛外則寒，血失中營則熱，經無約束則愆期。二氣素虛，奇經復損，督行一身之陽，任行一身之陰。任督猶天之子午，衝脈從中直上，若地之云升。法當靜補真陰，以充八脈。</p>
<p>生脈散加熟地黃、魚鰾、山芋肉、山藥、歸身、左牡蠣、白蓮花　熬膏。</p>
<p>（案28）經以應月，月以三旬而一盈，經以三旬而一至，象月滿則虧也。虧極則病，陰虧則火盛，火盛則逼血妄行。《經》以陰虛陽搏謂之崩也。服藥以來，崩漏雖止，巔頂猶痛，腹中䐃䐜脹。厥陰之脈上出額，與督脈會於巔頂，下絡少腹。水不涵木，陰不斂陽，巔痛腹脹，脈尚軟數無神。仍以壯水潛陽為主，冀其血氣各守其鄉，方無來復之患。</p>
<p>烏賊骨丸、生脈散加生地、知母、玉竹、棗仁、牡蠣、歸身、白芍　蜜丸。</p>
<p>（案29）沖為血海，下司肝腎，上隸陽明。經行飲冷，瘕聚胞中，延今十餘年。經來臍下硬痛，連及兩腰，任脈亦病，病深難於痊愈。</p>
<p>生化湯去熟地、甘草，加牛膝、山楂、艾葉、赤砂糖、童子小便</p>
<p>（案30）腹中素有血癥，大如覆杯，脈絡阻礙。經血循環失其常度。經不及期，經前作痛。氣鬱傷肝，木乘土位，飲食減少，悲哀傷肺，治節不行，胸次不暢，腰如束帶，帶脈亦傷。年逾三旬，尚未妊子，必得經候平調，方能孕育。</p>
<p>四物湯、歸脾湯去黃耆、桂圓，加艾葉、新會皮</p>
<p>動則為瘕，瘕者，假也，氣也；不動為癥，癥者，真也，血也。血癥盤踞居於中，經血循常道阻，月不及期，期前作痛，素多抑鬱悲傷，生生之氣不振，調肝脾以暢奇經，宣抑鬱以舒神志。</p>
<p>歸脾湯去桂圓、黃耆，加生地、白芍、川芎、會皮、艾葉、薑、棗　水泛丸。</p>
<p>左脈澀，右脈弦。肝鬱中傷，氣血凝結，經不通行，氣脹腹痛，飲食不思。二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，其傳為息賁者不治。</p>
<p>歸脾湯去黃耆，加阿膠、紅糖</p>
<p>（案31）月不及期，腹痛腿痠，飲食減少，胸脅瘕塊。氣鬱傷肝，悲哀動中，胸中作悶，腰如束帶，病在至陰，肝脾俱病。</p>
<p>歸芍異功散加木香、艾葉、紅糖</p>
<p>（案32）瘕屬氣聚，癥屬血結，月不及期，胸有癥塊，氣鬱悲傷動中，中傷積飲，汩汩有聲，寐來中州虛寒。肝脾胃俱病，治之不易。</p>
<p>香砂六君子湯加香附、歸身、薑棗</p>
<p>又歸芍異功散加砂仁、油桂、薑棗，次加遠志、棗仁</p>
<p>（案33）年甫三一，未經生育，胸有癥結。服藥五帖，腹脹減半。夜來濁痰甚多。月不及期，點滴淋漓，四肢無力，氣血雙虧，肝脾俱病。</p>
<p>歸芍六君子湯加生地、薑棗</p>
<p>（案34）脈來滑數而空，似有胎而不果腹，無堅硬之處，非停瘀可比。素本經事不調，日晡熱，頭痛時作時止，陰虧血少，病在肝脾，木不調達，土運郁壅。崇土培木，宣補中州，觀其動靜。</p>
<p>佛手散加於朮、陳皮、砂仁、茯苓、制香附、炒黃芩</p>
<p>（案35）脈左澀右弦，肝虛氣血凝結，經居四月，似有胎而不固，心悸脘痛，漏淋不已，氣聚為瘕。肝為起病之原，胃為傳病之所。養心脾兼和肝胃。</p>
<p>歸脾湯去桂圓、黃耆，加山楂、紅糖</p>
<p>頃閱來原，淋漓已止，諸恙悉痊。胎漏之傷，元神未復。</p>
<p>黑歸脾湯加杜仲</p>
<p>（案36）診得六脈細數而弦，每胎墮總在二三月，腹內積有硬塊。《經》謂妊娠，司胎一月在肝，二月在膽，三月在心，四月三焦，五月在脾，六月在胃，七月在肺，八月在大腸，九月在腎，十月膀胱。此症總在二三月胎漏，只緣肝膽，血熱傷及心脾，太少二陰受恙，是以氣不充血，積塊頻頻，不化遵程。法養正消積合養陰滋降，以補天一之水，和陰清熱，以瀉地二之火，擬益母勝金丹加減。</p>
<p>潞黨參　茺蔚子　箱當歸　京三稜　於潛術　大熟地　杭白芍　蓬莪朮　丹皮參　制首烏　雀腦芎　制香附　人中黃　雞爪黃連　川黃柏</p>
<p>脈不應指，胎元不長，服回春丹安住亦必胎長為妙，仍防流滑。</p>
<p>北沙參　於白朮　淮山藥　酸棗仁　細生地　厚杜仲　粉甘草　南棗肉</p>

<h1>補遺</h1>
<p>（案1）霍亂轉筋，陰陽乖隔，寒暑交爭，肢冷煩躁，苔黃脈閉，內陷之症。姑六和加減，恐難挽回。</p>
<p>六和湯去砂仁、木瓜</p>
<p>（案2）飲食自倍，腸胃兩傷，經脈橫解，腸澼為痔。素本善飲，濕甚中虛，腸澼延綿不已，虛氣下墜，升降失常，滯下甚多，脹而不痛。此屬虛也，氣血交虧，濕鬱化熱。</p>
<p>白頭翁湯去川黃柏，加冬朮、生地、阿膠、黃芩、甘草、炮薑、伏龍肝</p>
<p>（案3）寒飲侵脾，濕熱在胃，脾受寒故多痰。胃挾熱故下痢。惟治未得法全，以久痢不痊，輒用攻克諸藥，以致中土受傷，漸成脾虛下陷之症。急宜化痰去濕，調和脾胃，佐以暖腎之品，則飧泄可瘳。擬香砂六君合四神丸。</p>
<p>香砂六君子湯、四神丸加薑棗</p>
<p>（案4）嘔吐清水，痛則欲絕，脈象細軟而澀，大非所宜。</p>
<p>陳海皮　使君子　淡乾薑　烏梅肉　新會皮　蘇荸薺</p>
<p>（案5）恙因肝鬱夾濕，木旺土虧，胸悶作嘔，氣逆痰不升，間有寒熱，此肝虛濕患，非客感也。脈來細軟而滑，速宜固正和中，調脾滲濕。煎丸並進，尚可收功。</p>
<p>制首烏　製半夏　杭白芍　白茯苓　左牡蠣　上廣皮　建澤瀉　生苡仁　野鬱金</p>
<p>（案6）肝邪犯胃，食入不爽，日久防隔。</p>
<p>天台烏藥　沉水香　箱歸尾　上廣皮　黃鬱金　杭白芍　桃仁泥　白茯苓</p>
<p><u>丸方</u>　赤石脂　歸身　沉香　乳香　狗寶　老式琥珀　麝香　大玉紅為丸，硃砂為衣。</p>
<p>（案7）恙因病後傷脾，中焦欠運，以致目面黃瘦，四肢冷，中氣虛，食難消化，兼之便溏，乃脾胃虛弱，無火不能消穀，胃難納，脾難運，納化皆難，症勢危也。速宜補火生土為佳。但桂附之品，一時難以驟用，擬方候酌。</p>
<p>廣木香　於術炭　淮山藥　杭白芍　炒米仁　炒穀芽　建澤瀉　白茯苓　廣陳皮</p>
<p>早服香砂丸，晚服加味六君煎。</p>
<p>（案8）氣積上衝則膨脹，咳逆多痰，此脾濕生痰，痰延傷肺，以致肝血不能榮潤，故積塊亦覺堅硬。治宜扶土和肝舒肺。</p>
<p>白蔻衣　臺烏藥　杭白芍　建澤瀉　沉水香　淮山藥　蓬莪朮　製半夏　當歸尾　生苡仁</p>
<p>（案9）恙由三陰瘧後，腹右成塊，胸悶不舒。此邪熱之傷肝脾，逆成瘧母，治宜養正消積。</p>
<p>制首烏　京三稜　全當歸　廣橘白絡（各）　紋黨參　淮牛膝　杭白芍　冬瓜皮　於白朮　川鬱金</p>
<p>（案10）兩脅及胃不舒，肌膚時熱，自汗。《經》云：汗者心之液。又云：寒熱起於肝膽。況兩脅皆屬肝部。和榮衛益肝脾，調養久而自健。</p>
<p>大熟地　箱當歸　金釵斛　金毛狗脊（去皮切）　麻黃根　杭白芍　白茯神　淮山藥</p>
<p>（案11）酒濕傷陰，心脾腎三陰不足。手足振掉，莫能自主。巔眩目中生花，脈細數無力。非少壯所宜，有陰痱之患。宜壯水生陰，助土滲濕。</p>
<p>七福飲去當歸，加枸杞、澤瀉、茯苓、牛膝</p>
<p>（案12）濕熱傷陰，中虛濕勝，脾主四肢，戰慄動搖，火之象也。濕熱化火，蘊於中州，以致兩手動無寧息。診脈軟數無神，治宜培補心脾，參入甘溫壯水之品。</p>
<p>黑歸脾湯去桂圓，加川黃柏、廣陳皮</p>
<p>（案13）兩手攣搐，一哭而解，前屢服和肝調氣不效，繼加以化痰瀉肺，漸竟稍愈。《經》雲精氣並於肺則悲，仍以平肝加以清肺熱，久服自可獲效。箱當歸　化橘紅　酸棗仁　苦杏仁　杭白芍　大麥冬　炙遠志　玉桔梗　川雅連　炒子芩　白芥子　白茯苓</p>
<p>用鮮竹二青煎水調勻。</p>
<p>（案14）脾濕侵肺，浮腫喘促，夜不能臥，胸膈欠舒。</p>
<p>白蘇子　製半夏　枯穀芽　甜杏仁　葶藶子　廣橘紅　白茯苓　生苡仁　冬瓜子</p>
<p>（案15）脾有濕痰，肺有積火。雖咳久面浮，非虛症也。</p>
<p>製半夏　化橘白　光杏仁　薏苡仁　赤蘇子　白茯苓　淮山藥　鮮石斛</p>
<p>（案16）足腫漸消，發黃不透。脾虛生濕，濕積傷脾，乃燥脾滲濕主治。</p>
<p>西茵陳　焦冬朮　冬瓜子　生苡仁　桂枝木　青廣皮　當道子　黑薑炭　赤茯苓</p>
<p>服扶脾燥濕之劑，黃漸外達。濕鬱傷脾，先宜通利達下，從小腸膀胱出。《經》所謂開潔淨者是也。</p>
<p>前方去冬瓜子、桂木，加歸尾、甘草梢、澤瀉</p>
<p>（案17）服調氣暢中，木榮土漸旺，六脈稍覺和緩。緣陽在外為陰之使，陰在內為陽之守。扶陽即所以固氣，氣和而胃自調，照前煎方主治。</p>
<p>白首烏　全當歸　冬瓜皮　白扁豆　黃耆皮　杭白芍　於白朮　白茯苓　上桂心　廣橘絡　穀芽須　遠志肉</p>
<p>（案18）陰液不充，腎之水虧，肝之陽強。精氣並於肝則怒，滋水緩肝培養，久能獲效。</p>
<p>大生熟地　全當歸　杜阿膠　炙遠志　鮮首烏　杭白芍　冬青子　棗仁炭　沙苑蒺藜　霜桑葉　胡芡實　白茯苓神　左牡蠣　黑芝麻　牡丹皮　珠麥冬</p>

<h1>集方</h1>
<p>四君子湯：人參　白朮　茯苓　甘草</p>
<p>香砂四君子湯：四君子湯加木香、砂仁</p>
<p>歸芍四君子湯：四君子湯加當歸、芍藥</p>
<p>五味異功散：四君子湯加陳皮</p>
<p>歸芍異功散：五味異功散加當歸、芍藥</p>
<p>六君子湯：五味異功散加半夏</p>
<p>香砂六君子湯：六君子湯加木香、砂仁</p>
<p>歸芍六君子湯：六君子湯加當歸、芍藥</p>
<p>金水六君煎：二陳湯加熟地、當歸</p>
<p>苓桂朮甘湯：茯苓　桂枝　白朮　甘草</p>
<p>半夏茯苓湯：半夏　茯苓</p>
<p>二陳湯：半夏　陳皮　茯苓　甘草</p>
<p>杏蘇二陳湯：二陳湯加蘇葉、杏仁</p>
<p>歸芍二陳湯：二陳湯加當歸、芍藥</p>
<p>益氣健脾丸：五味異功散加枳實</p>
<p>外臺茯苓飲：益氣健脾丸去甘草，加枳殼</p>
<p>何人飲：何首烏　當歸　人參　陳皮　煨姜</p>
<p>六味地黃丸：地黃　山芋肉　山藥　茯苓　丹皮　澤瀉</p>
<p>桂附地黃丸：六味地黃丸加附子、肉桂</p>
<p>知柏地黃丸：六味地黃丸加知母、黃柏</p>
<p>歸芍地黃丸：六味地黃丸加當歸、芍藥</p>
<p>桑麻地黃丸：六味地黃丸加桑葉、巨勝子</p>
<p>濟陰地黃丸：熟地黃　山藥　山芋肉　當歸　枸杞　巴戟　麥冬　蓯蓉　五味　甘菊</p>
<p>八仙長壽丹：六味地黃丸加五味、麥冬</p>
<p>金匱腎氣丸：桂附地黃丸加牛膝、車前子</p>
<p>附都氣丸：六味地黃丸加五味、附子</p>
<p>地黃飲子：熟地　巴戟　山芋　蓯蓉　附子　肉桂　石斛　茯苓　遠志　麥冬　五味　石菖蒲</p>
<p>左歸丸：熟地　山藥　枸杞　山芋　牛膝　菟絲子　鹿角膠　龜板膠</p>
<p>七福飲：人參　熟地　當歸　白朮　甘草　棗仁　遠志</p>
<p>一陰煎：生地　熟地　芍藥　麥冬　甘草　牛膝　丹參</p>
<p>四陰煎：生地　麥冬　白芍　百合　沙參　甘草　茯苓</p>
<p>大營煎：當歸　熟地　枸杞　甘草　杜仲　牛膝　肉桂</p>
<p>還元丹（一名延年益壽不老丹）：人參固本丸加地骨皮、茯苓</p>
<p>人參固本丸：人參　天冬　麥冬　生地　熟地</p>
<p>三才湯：天冬　地黃　人參</p>
<p>生脈散：人參　麥冬　五味</p>
<p>二至丸：冬青子　旱蓮草</p>
<p>歸脾湯：人參　白朮　茯神　棗仁　桂圓肉　黃耆　當歸　遠志　木香　甘草</p>
<p>四物湯：生地　當歸　芍藥　川芎</p>
<p>八珍湯：四物湯　四君子湯</p>
<p>十全大補湯：八珍湯加黃耆、肉桂</p>
<p>十四味建中湯：十全大補湯加附子、半夏、蓯蓉、麥冬</p>
<p>補中益氣湯：人參　黃耆　甘草　白朮　陳皮　當歸　升麻　柴胡</p>
<p>補陰益氣煎：人參　熟地　當歸　陳皮　山藥　甘草　升麻　柴胡</p>
<p>天王補心丹：生地　人參　元參　丹參　茯苓　桔梗　遠志　天冬　麥冬　當歸　柏子仁　棗仁　五味</p>
<p>孔聖枕中丹：敗龜板　青龍骨　九節石菖蒲　遠志筒</p>
<p>平補正心丹：人參　龍齒　白茯苓　茯神　麥冬　五味　當歸　遠志　天麥　山藥　熟地　硃砂　棗仁　菖蒲　柏子</p>
<p>明目羊肝丸：古勇　人參　麥冬　柴胡　當歸　牛膝　防風　熟地　羌活　枸杞　青鹽　黃柏　肉桂　九孔石決明　龍膽草　家菊花　羯羊肝</p>
<p>麻黃湯：麻黃　桂枝　杏仁　甘草</p>
<p>桂枝湯：桂枝　芍藥　甘草　生薑　大棗</p>
<p>小青龍湯：麻黃　桂枝　細辛　乾薑　芍藥　五味　半夏　甘草</p>
<p>小柴胡湯：柴胡　半夏　黃芩　人參　甘草　生薑　大棗</p>
<p>玉屏風散：黃耆　防風　白朮</p>
<p>升麻葛根湯：升麻　葛根　芍藥　甘草</p>
<p>定喘湯：麻黃　白果　半夏　蘇子　款冬花　杏仁　黃芩　桑白皮</p>
<p>九味羌活湯（一名羌活沖和湯）：羌活　防風　蒼朮　細辛　川芎　白芷　生地　黃芩　甘草</p>
<p>人參敗毒散：人參　羌活　獨活　柴胡　前胡　桔梗　川芎　茯苓　甘草　枳殼</p>
<p>清暑益氣湯：人參　白朮　神麯　葛根　青皮　陳皮　甘草　麥冬　五味　當歸　黃柏　澤瀉　升麻　黃耆　蒼朮</p>
<p>藿香正氣散：藿香　白芷　白朮　半夏　茯苓　紫蘇　川樸　桔梗　陳皮　甘草　大腹皮</p>
<p>達原飲：檳榔　厚朴　草果　芍藥　黃芩　甘草　知母</p>
<p>六和湯：藿香　砂仁　厚朴　杏仁　半夏　扁豆　木瓜　人參　白朮　甘草　赤茯苓</p>
<p>平胃散：川樸　蒼朮　廣陳皮　甘草</p>
<p>參附湯：人參　附子</p>
<p>六味回陽飲：人參　附子　熟地　歸身　炮姜　甘草</p>
<p>溫膽湯：二陳湯加枳實、竹茹</p>
<p>十味溫膽湯：溫膽湯加人參、遠志、棗仁、熟地</p>
<p>半夏瀉心湯：半夏　川連　黃芩　人參　甘草　乾薑　大棗</p>
<p>半夏秫米湯：半夏　秫米</p>
<p>橘皮竹茹湯：橘皮　竹茹　人參　甘草　半夏　麥冬　赤茯苓　枇杷葉</p>
<p>小陷胸湯：雅連　栝樓　半夏</p>
<p>左金丸：黃連　吳茱萸</p>
<p>大半夏湯（一名參蜜半夏湯）：人參　白蜜　半夏</p>
<p>甘麥大棗湯：甘草　小麥　大棗</p>
<p>白虎湯：石膏　知母　甘草　粳米</p>
<p>人參白虎湯：白虎湯加人參</p>
<p>犀角地黃湯：犀角　生地　白芍　丹皮</p>
<p>清燥救肺湯：人參　石膏　麥冬　杏仁　桑葉　阿膠　胡麻　甘草　枇杷葉</p>
<p>玉女煎：石膏　熟地　麥冬　知母　牛膝</p>
<p>百花膏：百合　款冬花</p>
<p>豬膚湯：豬膚　白蜜　白粉</p>
<p>甘桔湯：甘草　桔梗</p>
<p>葦莖湯：葦莖　苡仁　桃仁　瓜瓣</p>
<p>雪羹湯：海蜇　荸薺</p>
<p>復脈湯（一名炙甘草湯）：炙甘草　桂枝　人參　麻仁　生地　阿膠　麥冬　薑棗</p>
<p>二妙散：蒼朮　黃柏</p>
<p>二冬膏：天冬　麥冬</p>
<p>七正散：龍膽草　山梔仁　甘草梢　芣苡子　木通　赤茯苓　萹蓄</p>
<p>芍藥湯：芍藥　歸尾　黃芩　肉桂　大古勇　大黃　檳榔　甘草</p>
<p>白頭翁湯：白頭翁　北秦皮　川連　川柏</p>
<p>瀉白散：桑白皮　地骨皮　甘草　粳米</p>
<p>清胃散：生地　丹皮　黃連　當歸　升麻</p>
<p>四神丸：破故紙　遼五味　肉蓯蓉　吳茱萸</p>
<p>蠲痹湯：黃耆　當歸　赤芍　羌活　防風　片子薑黃　甘草</p>
<p>蒼耳散：白芷　薄荷　辛夷　蒼耳子</p>
<p>半夏白朮天麻湯：半夏　白朮　天麻　麥芽　神麯　蒼朮　人參　黃耆　陳皮　茯苓　乾薑　黃柏</p>
<p>玉燭散：生地　歸尾　赤芍　川芎　甘草　生軍　芒硝</p>
<p>真人養臟湯：罌粟殼　訶子　木香　肉蔻　安邊桂　白朮　甘草　白芍</p>
<p>桃花湯：生地　赤石脂　乾薑　粳米</p>
<p>導赤散：生地　木通　甘草梢　淡竹葉</p>
<p>三陰煎：當歸　熟地　甘草　芍藥　棗仁　人參</p>
<p>斑龍丸：鹿角膠　鹿霜　熟地　菟絲子　柏子仁</p>
<p>理中湯：白朮　人參　乾薑　甘草</p>
<p>蘇合香丸：蘇合香　龍腦香　熏陸香　丁香　原寸香　安息香　沉水香　香附　廣木香　烏犀角　於白朮　硃砂衣</p>
<p>虎潛丸：川柏　牛膝　白芍　陳皮　虎脛骨　知母　龜板　鎖陽　當歸　羯羊肉　熟地</p>
<p>青娥丸：破故紙　胡桃肉　杜仲</p>
<p>保和丸：山楂　神麯　半夏　陳皮　萊菔子　連翹　茯苓</p>
<p>十九味資生丸：人參　山楂　蓮肉　苡仁　云術　茯苓　山藥　甘草　桔梗　麥芽　芡實　白蔻仁　陳皮　藿香　神麯　白扁豆　川連　厚朴　澤瀉　（一本無厚朴）</p>
<p>減連資生丸：十九味資生丸去川連</p>
<p>枳朮丸：白朮　枳實</p>
<p>逍遙散：柴胡　當歸　芍藥　白朮　茯苓　甘草</p>
<p>推氣散：桂心　枳殼　甘草　片子薑黃</p>
<p>佛手散（一名芎歸湯，亦名一奇散，亦名君臣散）：川芎　當歸</p>
<p>益母丸：益母草</p>
<p>香橘湯：香附　橘紅　半夏　甘草　</p>
<p>元金散（一名金鈴子散）：川楝子　延胡索</p>
<p>膠艾湯：阿膠　蘄艾</p>
<p>生化湯：當歸　川芎　焦姜　桃仁　甘草　熟地</p>
<p>香砂丸：木香　砂仁</p>
<p>烏賊骨丸：烏賊骨　蘆茹　雀卵　鮑魚</p>
