<header data-type="book">
<h1>黃帝素問靈樞集註</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>史崧</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>底本</dt><dd>《正統道藏·黃帝素問靈樞集註》，涵芬樓版（<a href="https://www.kanripo.org/ed/KR5d0042/HFL/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
