<header data-type="book">
<h1>沈俞醫案合鈔</h1>
</header>

<h1>正文</h1>
<p>鄙人每有作品，隨手抒寫，從不起草，非矜腹稿也，蓋診務告蕆，往往彌夜篝燈，速記，無暇及此也。後序乃十四年前所撰，老之將至，精力日衰，以今視昔，覺向所視為草率者，尚屬整齊可觀。</p>

<h1>序</h1>
<p>醫貴學問，尤重經驗。諺有之曰：熟讀王叔和，不如臨診多。正謂此也。岐黃家出平時之心得，證臨診之經驗，筆之於書，厥名醫案。孫東宿、葉天士諸先生皆有專書，至《古今名醫類案》出，乃集諸家之大成，上下千年，體無不具，用無不周，洋洋乎大觀哉！有清俞東扶先生後有醫案按之刻，蓋選取類案中之良者，而每篇加以按語，啟迪後人，用心苦，厥功尤偉矣。俞先生為禾郡名醫，生平治驗方按，經及門筆錄者多如束筍（此據嘉興金君云。）此冊乃金君秘笈，向不示人，以俞案自經兵燹，毀損殆盡，鳳毛麟角，彌足珍貴也。瑞荷金君不棄，謬許知音，攜以餉遺，鄭重囑咐，亟命金生福臣錄副而歸之，倉卒捉筆，訛誤滋多。內附沈案數則，立案明晰，制方輕靈，與俞案一鼻孔出氣，是皆得力於香岩葉氏者，非聰明不克臻此。瑞廁身醫界廿年矣，每遇疑難大證，不惜苦心焦思以求挽救，而往往有合，得此書於臨診翻檢，可資裨補，金君之惠我多矣。篝燈率記，遑計工拙。</p>
<p><u>民國十年辛酉端陽節鳳初巢元瑞</u></p>

<h1>原敘</h1>
<p>嘉善稱善醫者，必推俞東扶、沈堯封二先生，今已百餘年矣。東扶諱震。今寓郡城行醫，號鵠門，名灝，其曾孫也。其孫號磻溪，乃余堂弟賓之外祖。賓常從外祖習醫，詢其遺書，惟存刻本《古今醫案》，其書乃取之《名醫類案》，而間附己說者，其餘悉為五房取去，無可問者。今夏友人徐君錫文以百錢易二冊示余。標云俞東扶夫子《醫案》，嘉樂手抄云（據云即沈鶴山弟，號宗海，未知是否。）急錄時疾一卷，徐君攜去。至冬，徐君來，亟補錄其全，寒風懍烈，十指皆僵矣。堯封諱又彭，有刻本《醫經讀》、《傷寒論讀》行世，其嗣孫號惠曾者，詢其遺書，云悉為其侄復山（名圻）賣去，板亦無存。以抄本《醫案》質之，而彼已老病茫然矣。此文據徐君錫文云，自孫先生處借來，亦不明言孫先生為何許人，抄本破碎，二冊亦無標題印識，乃費十日工，亟錄一通，匯訂為四冊，名曰《昔賢醫案》。以其無可考據故也。隆冬冰雪中抄胥，亦復不易，我子孫其勿輕貸人可爾。</p>
<p><u>道光三十年十二月初八日怡云王文</u></p>
<p><u>書於沈氏之泰南別墅</u></p>

<h1>一、中風</h1>
<p>（類中　與陰陽虛參看　俞案）</p>
<p>（案1）向來精神健旺，習於操勞家事，素無所苦，惟左足大指時常發麻，近連右足大指亦或發麻。考之丹溪、東垣諸論，謂麻屬氣虛。而足大指乃肝脾二經發源之地。今麻已一年，且漸延至足脛，是肝脾二經氣衰而血亦耗，恐有風痱之患。《內經》云：肝藏血，脾統血。血虛則火易旺，故齒痛，兼生牙癰。血因痛而愈耗，遂有心悸不寐等症。近來聞響動心即驚跳，或遇惱怒，徹夜無寐。若使此夜不眠，明日諸疴競作，蓋不寐則陽不入於陰，陰愈衰而陽愈亢，種種不安矣。麻發之時，自覺頭目虛眩，此血不養肝，肝風內舞。治法必以養血滋肝為主。而血從氣生，須兼培補元氣之藥緩調以圖漸痊。診脈左手細澀，右寸大，右尺不應。先用寧神補心湯加減。</p>
<p>生地　麥冬　丹皮　棗仁　茯神　杜仲　甘菊　小草　石斛　燈心（三分）　十帖後去燈芯加參鬚</p>
<p>（案2）頭眩體倦，右邊手足痠麻，是氣血不能充灌，將有偏枯之患。納穀有脹，尤屬脾虛確據，些微之參，豈能補益？依方制合為妥。</p>
<p>人參（另入研加，五錢）　百蒸於術（土炒，二兩）　雲苓（一兩五錢）　苡仁（二兩）　歸身（二兩）　杜仲（二兩）　制首烏（炒，三兩）　白芍（一兩五錢）　焦鍋巴（炒，二兩）　新會皮（一兩）</p>
<p>（案3）谷納漸減，步履如蹈空，此下焦衰乏，恐成類中之病。診脈左大右軟，宜補心脾。</p>
<p>黃耆　於術　洋參　根生地　麥冬　茯神　白芍　穭豆皮　杜仲　大棗</p>
<p>（案4）失血亦不過多，而左手麻木，午後神昏，視其氣象，殊非憔悴羸瘦者比，則昏麻二症，乃內有積痰，肝風鼓動，上蒙清竅，將來痱中之機也。脈濁右手如促如動，往來之間，如有阻滯，痰血鬱於隧道耳。宜補氣血以疏通之，使其漸輕可也。（其病更有納減便溏。）</p>
<p>人參　雲苓　於術　半夏　歸身　鉤鉤　橘紅　甘草　阿膠　加真琥珀（鎊屑杵極細，二分）、竹瀝（十匙，）同沖服。</p>
<p>（案5）中指屬陽明胃經，痛強麻木，不能屈伸，此陽明虛而氣不到，防其腫痱，延成重症。</p>
<p>雲苓　虎膝骨　牡蠣　生地　歸身　白芍　秦艽　苡仁　石斛　桑枝</p>
<p>又，手中指屬陽明，陽明虛，故屈伸不便。計維歸脾湯兼針灸以通經絡，方可獲效。歸脾湯去木香加杜仲。</p>
<p>（案6）頭眩，左肩臂麻而無力，是中風之兆，脈細。宜補以散之。</p>
<p>黃耆　白朮　黨參　歸身　秦艽　桂枝　半夏　甘草　海風藤</p>
<p>（案7）此類中風也。左手足不用，舌音不清，乃邪在經絡，宜大秦艽湯。（約三四十歲。）</p>
<p>秦艽　桂枝　羌活　半夏　歸身　橘紅　茯苓　杜仲　鉤藤　炙草　桑葉</p>
<p>（案8）當風淋浴，以致口眼喎斜。雖用藥得痊，而病根三載未除，近加吐痰，肋時痛，以風邪散入手足太陽陽明之經。脈象左弦右滑。宜大追風散加減。</p>
<p>川烏（漂七日夜，去皮，切片，曬乾生用，五錢）　生黑豆（去皮，二兩）　全蠍（酒洗去毒，三錢）　北細辛（炒，一錢）　熟半夏（一兩五錢）　熟石膏（二兩）　白芷（八錢）　黃芩（一兩五錢）　生甘草（四錢）　白附子（炒，四錢）</p>
<p>為末，用老薑一兩、陳茶葉一兩，煎湯泛丸，每夜服二錢。</p>

<h1>二、風（沈案）</h1>
<p>（案1）嵇。陽虛風痹，周身遊走而痛，用小續命湯。</p>
<p>防風　荊芥　人參　防己　白芍　川芎　麻黃　熟附　杏仁　黃芩</p>
<p>（案2）徐，二十。脈右大，脘中爽，口渴，腸風。</p>
<p>知母　竹葉心　銀花　花粉　生地　綠豆皮</p>
<p>（案3）凌，五五。木火形體，善動少靜，操持拂鬱頻多，陽虛失衛。怕風畏寒，氣塞不行，脈絡痹痛。議補益陽氣，疏通經絡，勿令其痹。</p>
<p>當歸　桂枝　枸杞　菊花　蒺藜　蔓荊子</p>
<p>（案4）周，廿二。夫風上蒙清空，勞倦傷陽，郁在上焦陽分。與辛涼解鬱方。</p>
<p>連翹　山梔　鬱金　黃芩　赤芍　生甘草　菊花　花粉</p>
<p>（案5）王。據說鼻塞若用力屏氣，速耳竅失聰。左脅骨高突。氣辛開泄，暫用不得除根，驗脈是經絡氣分之阻，當以輕清為治。</p>
<p>枇杷葉　薄荷　杏仁　瓜蔞　蘇子　橘紅　桔梗　降香　生薑</p>
<p>臥時服茶調散。</p>
<p>（案6）華。體虛復受風濕，熱勝精傷，陽直降為遺泄，胃未和，脘猶痹，暫用甘涼和胃生津。</p>
<p>大麥仁　麥冬　蔗漿　竹葉心　扁豆</p>
<p>（俞東扶先生醫案　原本嘉樂手抄　印曰嘉樂之印</p>
<p>康戌六月十三徐君錫文得此，攜來怡云於蚊市中錄）</p>

<h1>三、時證（俞案）</h1>
<p>（案1）《內經》云：耳者宗脈之所附。又云：身中精陽之氣上走於目而為之晴，其彆氣走於耳而聽。此時目無神采，耳聽不聰。由邪混三焦，出入靡常，忽輕忽重，反復變遷所致。脈象左手浮，右手雖略小而重按有力，知非陰症與虛寒，其躁擾不寧，乃濕痰挾伏邪，膠黏難達，則宗氣彆氣隔塞不通耳。仲景梔豉湯乃宣達陽明伏邪之藥，故以湧吐為法，用之而得效者，邪亦稍得舒泄也。此方甚善。但邪不僅在陽明，未必遽能霍然。茲仿達原飲之意，略為變通，冀其煩悶漸鬆，自當漸入佳境。</p>
<p>天蟲　土貝　瓜蔞皮　茯苓皮　草果殼　青蒿梗（錢半）　浮海石　甘草　人中黃</p>
<p>地漿水煎服。</p>
<p>（案2）夏日曾患痢疾，又於酒醉後僕水，此暑濕之邪蘊結已久。中秋加以感冒，遂寒熱如瘧，咳嗽吐痰，熱久不退，身面發黃，是外邪合身，內濕熱釀　所致。向來體豐好飲，伏痰必多，此番縱啖生冷，痰與邪俱鬱閉不通，故昏沉躁擾，神氣矇混，有如厥中之狀。消痰滾痰，二便漸通，心神稍清，但舌本淡白，舌苔白厚，口仍作渴，四肢微冷，中脘痞硬，面黃帶浮，尚屬濕痰伏熱未清。脈象沉弦，亦由邪陷，未可遽視為坦途也。治法當以利濕消痰為主，而兼透達伏邪之藥，使表裡宣通，清濁分疏，乃無反復耳。</p>
<p>赤茯苓　熟半夏　江枳殼　六一散　茵陳　黃芩　天蟲　連翹　加鮮石菖蒲根（一錢，）搗入</p>
<p>接方：清晨診候左脈弦大有力，右脈細、軟無神，此伏痰與邪膠黏不散，佔據清陽之地。所以胸口板硬，即《傷寒論》中所謂結胸也。痰與邪既相結聚，正氣不能流通，故右脈不能充沛而神色如昏如清，舌苔如灰如白，病情尚在出入之間，必得胸中寬鬆，面色紅活，乃無反復。</p>
<p>天蟲　法半夏　羚羊角尖　木通　蔞皮　橘紅　連翹　茵陳　加石菖蒲汁（三匙）衝入</p>
<p>（案3）舌紅而干，口渴，為陽明熱重不宜泄瀉，瀉則脾虛而邪陷，最為惡候。症久不化，犯疑之證，宜進瀉心湯以圖挽回。若瀉止熱緩，方可無虞。</p>
<p>川連（五分）　赤苓　木通　甘草　丹皮　銀花炭　天蟲　連翹</p>
<p>（案4）赤斑白疹密布周身，口渴發厥，躁擾不寧，而唇淡舌白，此邪毒未透，尚防反復。右關脈滑，體素豐肥，乃痰與伏邪合，風暑為患。宜化斑解毒佐以消痰之品，但得午後熱不加重，即可漸鬆。</p>
<p>土貝　天蟲　石膏　鉤鉤　人中白　甘草　青蒿　橘紅　銀花</p>
<p>加竹瀝（半小杯，）鮮石菖蒲根汁（三匙。）</p>
<p>接方：夏枯草　白薇　膽星　木通　花粉　麥冬　天蟲　土貝　橘紅　甘草　加蘆根（五錢）</p>
<p>（案5）身熱不退而舌苔極薄，唇齒不燥，亦不作渴，則非陽明實熱之症矣。常有噫噯，兼帶呃逆之象，裡虛邪不能達也，略有譫語。合之脈右洪數，清補兩難，養陰和胃為妥。（此症不治。）</p>
<p>二元生地　麥冬　沙苑蒺藜　茯神　川石斛　枸杞　刀豆子　穀芽　新會皮　磨沖白檀　香汁（五匙）</p>
<p>（案6）身熱，口渴，煩躁，舌乾，此陽症也。脈細，乃體質素虛，非陽症陰脈之比，但虛者不可過於攻擊，宜養正清熱為主。</p>
<p>元生地　麥冬　丹皮　川連　知母　木通　梔　甘草</p>
<p>（案7）寒熱如瘧，中脘痞結，脈象左手弦數，右關滑大，是邪在陽明少陽，宜和解之。</p>
<p>蔞皮　知母　草果（一錢）　桂枝（七分）　白芍　甘草　半夏　花粉　豬苓</p>
<p>（案8）午後熱重，口乾，便赤，目黃，胸滿，多汗，脈弦滑，少陽症。</p>
<p>柴胡　黃芩　半夏　秦艽　木通　茵陳　厚朴　甘草　加姜皮</p>
<p>（案9）身熱兩月，無汗，舌黑齒燥，泄瀉，危候也，脈小而滑。姑與河間雙解散。</p>
<p>赤茯苓　厚朴　白芍　麥冬　漂滑石　甘草　葛根　車前子　加蘆根（二兩）</p>
<p>（案10）身熱不退，神思倦怠，左耳漸聾，舌白膩滑，胸中按之作痛，無汗，不渴，此表邪未解，挾中焦痰食為患，右脈滑數，宜清理陽明。</p>
<p>乾葛　大杏仁　天蟲　橘紅　麥芽　枳殼　半夏　甘草　加姜皮</p>
<p>（案11）發熱不止，中脘痞結硬痛，此飲食勞倦所傷，而又重感風寒，以至正虛邪結危候也。</p>
<p>歸身　白芍　法半夏　香附　柴胡（七分）　神麯　赤苓　丹皮　加蔞皮</p>
<p>（案12）少陽邪郁不解，內走而入厥陰之絡，脅下支結，內熱無汗，診脈弦細且急。宜宣達肝邪。</p>
<p>歸身　白芍　香附　半夏　柴胡（五分）　丹皮　木通　炙草　加荷梗（五寸）</p>
<p>（案13）夏秋時行之病，原屬客邪鬱伏，汗出已多，邪當解散，乃自秋徂冬，身熱不能盡退，近則午後寒熱，寒重熱輕，宛如瘧狀，迨汗出而熱漸減，卻仍不淨。診其脈象尚帶弦數，但左手空軟，右關滑大，此營陰已虧，陽明猶有痰氣阻滯，所以胃脘左畔結硬成塊，幸不作痛，惟按之堅硬，仲景少陽篇中所謂心下有支結也。此塊不除，寒熱不止，仲景本用柴胡桂枝幹薑湯，今宗是方加減，可獲愈。</p>
<p>桂皮　花粉　炙草　丹皮　蔞皮　橘紅　牡蠣</p>
<p>（案14）每夜熱發，舌黃，口苦，脈象左弦右細。此營陰虛而少陽之邪未解。</p>
<p>當歸　白芍　柴胡　香附　丹皮　甘草　杜仲　大棗</p>
<p>接方：根生地　丹皮　夏枯草　香附　歸身　白芍　炙草　杜仲　大棗</p>
<p>（案15）客邪發熱，咳嗽，鼻衄，此秋熱乘金逼胃，清之自愈。</p>
<p>犀角尖　生地　丹皮　麥冬　香附　木通　夏枯草　川斛　茅根</p>
<p>（案16）汗不出至足，營衛未和也。熱已退而譫語，邪留心絡耳。左脈猶弦，宜清養之。</p>
<p>根生地　麥冬　杜仲　川斷　秦艽　穭衣皮　女貞子　苡仁</p>
<p>（案17）寒熱，兩次忽暈厥，呃逆，目珠青，嘔水如草汁，此厥陰經症，肝邪橫發，中土立敗，乃不治之候。勉與椒梅湯，以圖僥倖。</p>
<p>川椒　烏梅　當歸　白芍　人參　乾薑　川連（土炒）　法半夏</p>
<p>（案18）齒燥，舌乾，神昏，口渴，乃熱邪內陷，蒸灼津液而為痰，痰迷心竅，諸藥不應，危候也。脈雖細，尚帶滑數，宜清解之。（此證不治。）</p>
<p>元生地　麥冬　石膏　知母　陳膽星　土貝　甘草　橘紅　丹皮　加鮮石菖蒲汁（三匙）</p>
<p>痰雖吐出，神猶昏憒，齒燥舌乾，燥而不煩，皆至危之候，脈右滑數實，宜再下之，以圖僥倖。</p>
<p>生錦黃（二錢）　檳榔　知母　石膏（一兩）　石菖蒲　生地　丹皮　甘草</p>
<p>（案19）傷風與痢疾同病，已屬重症，況熱久不退，痢下如蟹黃，兼紫血一團，邪火內燔，胸前痞悶，噯嘔不斷，咽痛，口渴，肝葉脹痛，病多且深，殊屬可畏，脈象左手弦細而類數，右手滑實而數，宜用血藥加苦寒以下之。大黃黃連瀉心湯合四物加減。</p>
<p>生地　當歸　白芍　淡芩　甘草　制黃（磨沖）　厚朴</p>
<p>接方：生地　白芍　丹皮　石斛　知母　銀花　甘草　枳殼　犀角　茅根</p>
<p>又，身熱頗輕，痢熱亦減，俱為佳象。唯喉痛不退，痰涎上湧，視其喉間，兩邊白腐，乃喉痹也。一人而兼三病，所以難愈。今幸脈數稍緩，脈大稍平，重按尚覺有力，仍宜養陰清熱，化痰解毒，可望漸安。</p>
<p>細生地　丹皮　連翹　土貝　銀花　天蟲　犀角　元參　甘草　人中黃　石斛　茅根</p>
<p>（案20）向來精神不足，又兼蠶事勞頓，裡虛而受客邪，寒熱咳嗽，當時即宜避風靜養，及以丈田出門，復風熱之邪，邪乘虛而入，病益加重，身熱不退，舌乾苔黑，氣急咳頻，飲食不進，身上斑點未透，耳聾，齒亦乾燥，是為真陰久衰，客邪內陷，殊非輕病。蓋先曾鼻衄、便紅，血虛則難作汗，此時形瘦，舌乾，津枯則難退熱，由傷而兼外感，用藥殊為棘手。診脈左手弦大帶數，右手大而柔軟，本虛標實，非提斑清火所能愈。惟有滋肝潤肺之法，使木不燥則火不亢，金漸清則水漸充，庶望轉危就安。</p>
<p>淡豆豉　生梔子（炒半焦）　丹皮　杏仁　夏枯草　白薇　根生地　麥冬　連翹　甘草　加燈心</p>
<p>去白薇、燈心，加土貝、茅根　（以其發頤嗆血也。）</p>
<p>（案21）徹夜看弈，已受陰寒之邪，又傷於食邪，與食結則神昏譫語，此亦不足為怪，但脈象沉細模糊，手足厥冷，躁擾不寧，舌紅無苔，乃夾陰傷寒也。病前必犯欲事，陰邪必入於陰分，所以虛象火象合併，而現補之不可，清之不應，殊為危險，計惟。（以下恐原本本缺，以下所接之方亦非也。）</p>
<p>大力子（生研）　天蟲（酒炒）　土貝　麥冬（炒）　蔞皮　赤芍　石菖蒲　橘紅　覆花　蘇梗</p>
<p>外用：逢頭、柳頭、桃頭、萊菔子（各一兩）　芫荽、蔥白（各三錢）</p>
<p>煎湯揩抹手足胸腹。</p>
<p>改方：陳膽星　石菖蒲　天蟲　橘紅　川桂枝　炙草　姜皮</p>
<p>（案22）身不甚熱，越旬無汗，病起即覺耳鳴，漸至聾聵，神昏譫妄，時顯躁象，此由心腎兩虛，邪入手足少陰，所以舌紅無苔，口不燥渴，仍能起坐，而神思困倦。蓋陰虧則液涸，裡虛則邪陷，診數有六至，左弦右軟。法宜用張景岳補陰以蒸其汗，蓋腎以交於心，略佐清邪化痰之品，冀其得汗，神氣稍清，庶入坦途。</p>
<p>生地　麥冬　丹皮　元參　黑梔　橘紅　瓜蔞霜　茯神　淡豆豉</p>
<p>數日後下血有如畜血症，用犀角地黃湯加白芨、童便。</p>
<p>附：</p>
<p>病家來札云，犀角地黃湯服一劑，因病人不肯服藥，暫止二日。然神色終不清，仍有譫妄搐搦之象，　於原方少加制黃，服一劑，亦不見病之進退，然是夜更加發厥，口中糜白如鵝口。次日頻進參鬚麥冬湯，至下午身有微熱汗，次日又服阿膠黃連一劑，以後宿瘀漸止，神識亦清，夜忽起呃逆，服竹茹生薑合參麥冬而止，以後服養陰清熱三四劑，口糜仍不退，反見咽乾痛，因用甘露飲加黃連一劑，停藥三四日，口糜已退，惟喉內尚有白點，耳亦能聽，神氣亦得清，飲食亦進，惟痰尚盛，聲猶帶嘶，時覺起坐不寧，脈象左弦軟帶數，右寸數而關尺細軟。不大便已六七日矣，恐調理失宜，再酌一方。</p>

<h1>四、時症門（沈案）</h1>
<p>（案1）王潤堂太太。今夏暑濕熱甚而久，暑屬無形，吸受其氣，必入衛營，壅塞不行，則為癰瘍，肢臂不舉，經脈痹阻，熱毒無由開泄，理必燎灼絡中，絡脈麗乎臟腑，煩躁腹脹，不食不便，熱邪充斥三焦，彰明較著，夫蟾酥梅花點舌丹大辛大熱，加以諸香，以之攻陰寒沉痼，方為對症，以之治暑熱致癰，反為邪樹幟矣。即參耆歸芍只可調氣血於邪盡之後，不能解熱毒於方盛之時。病機十九條之諸瘡痛癢皆屬心火，諸痙鼓慄，諸脹腹大皆屬於熱。然久熱必從燥化，形質暴大盛為消也。苦寒化燥，未可輕投，宗景岳玉女煎法。倘大便久閉，《局方》涼膈可暫用一服。</p>
<p>（案2）夏，三四。溫邪作痛，上焦氣分內應於肺，初起盡月灑淅微寒，邪非重著，仍能安穀，久則溫蒸傷津，令人消爍肌肉。仿仲景飲食消息之法。</p>
<p>早服淡豆腐花一杯，暇服甘蔗漿，蔥白丸每服錢半，紅棗湯服二兩。</p>
<p>（案3）黃，十五。少陰陰虧，復吸冬溫之氣，外感而兼內傷，忌辛溫發散，勿令根本再傷，此甘寒平劑為穩。</p>
<p>花粉　杏仁　生甘草　沙參　桑葉</p>

<h1>五、發熱（俞案）</h1>
<p>（案1）身熱無定期，胸悶，咳嗽，舌絳無苔，是肝腎不足，陰為陽爍也。宜滋養之。</p>
<p>元生地　丹皮　麥冬　白薇　夏枯草　橘紅　甘草　穭豆皮　北沙參</p>
<p>（案2）身熱二十餘日，用麥藥不應，此受表邪而不避風，邪伏營陰所致，宜景岳補陰益氣煎。</p>
<p>熟地　歸身　炙草　橘紅　杜仲　秦艽　淡豆豉　麥冬　乾荷葉（炒，三錢）</p>
<p>（案3）惡寒，發熱，咳嗽，盜汗，右脈無神，姑與建中湯。</p>
<p>川桂枝（去皮）　生白芍　炙草　加大棗、飴糖</p>
<p>（案4）自八月至今已六十餘日，其間寒熱參差反復，而熱退之後仍不能進食，口苦無味，唇燥舌苔，此餘邪未清也。近來又發寒熱一次，寒時小便澀痛，熱時精漏不固，是元氣大虛，脾腎兩衰。皆因從前白濁已久，精關所以頻滑耳。診脈左手弦急，右手細軟，亦為正氣虧乏，邪氣留連之候。治宜先清理，接用補養。</p>
<p>（案5）左尺斜出脘側，是為陽維脈，《內經》為陽維為病，苦寒熱。今舌不退，而嘔呃臭水，此難治之候，姑與鎮降法。</p>
<p>生地　天冬　紫菀　冬瓜子　龜板　活磁石　牛膝　橘紅　胡桃肉</p>
<p>（案6）日行百里，筋骨兩傷，致有寒熱，其傷內應肝腎，自是略有行走，寒熱即發，蓋所傷不能遽復也。</p>
<p>歸身　白芍　制冬朮　香附　丹皮　苡仁　新會皮　杜仲　益母草　加桃葉（七片）</p>
<p>（案7）上年下痢，今春寒熱又無定期，舌苔半邊藍半邊紅，此氣血兩傷也。咳嗽，盜汗，昨又咯血，脈左弦細，右寸軟。宜仿雙解飲子法。</p>
<p>元生地　丹皮　青蒿　青耆　甘草　杏仁　花粉　穭豆皮</p>
<p>上諸藥一半炒用，一半生用，一半河水，一半天泉水煎服。</p>
<p>（案8）寒熱之候，忽變口眼喎斜，此風入陽明之絡，宜以血藥祛風。</p>
<p>生地　歸身　白芍　川芎　秦艽　鉤鉤　荊芥　天蟲　桂枝　黃芩　甘草</p>
<p>（案9）身熱，嘔吐，泄瀉，兼發風餅，脈弦帶數，暑風襲於陽明也。</p>
<p>赤芩　廣霍　荊芥　丹皮　連翹　豨薟草（酒炒，三錢）　赤芍　木通</p>
<p>（案10）身常寒熱，汗出如舊，飲食如常，夏月痊安，春秋反發，此外寒束其內熱也。脈細，右手帶滑，宜古方地骨皮散。</p>
<p>四物加地骨皮、丹皮</p>
<p>（案11）病後微有寒熱，盜汗，乾咳，脅脹，溺赤，脈帶弦，肝陽上擾也。</p>
<p>淡豆豉（炒熟）　丹皮　地骨皮　麥冬　杏仁（大）　香附　夏枯草　白芍　橘紅　浮小麥</p>
<p>（案12）仲夏瘧疾，近復發熱，心忡耳鳴，不食，左脈細澀難尋。此氣血兩衰，高年之重症也。</p>
<p>生地　苡仁　茯神　麥冬　丹皮　杜仲　小草　橘紅　北沙參</p>
<p>（案13）向有咳嗽內熱，乃陰虛體質，所以形瘦食少，已具怯症情形。七月前忽發寒熱，過十日外竟不止，其熱左邊尤甚，夜間則周身壯熱，舌乾，耳聾，又加泄瀉，脈左手弦細而數，右手細軟。此以虛損之本病而兼外感之客邪，殊非輕候。蓋前月餘夜不能寐，身中酸楚，安乃血虛火擾，致起寒熱，病中復感微風，熱遂不退，熱甚則乾渴引飲，脾弱不能分滲而泄瀉。今若清理客邪則真陰愈涸，熱仍不去也；若滋養真陰，則滑潤大腸瀉必更增矣。病勢之重在乎此。就脈論治，當扶正以托邪，庶使元氣不陷，則伏邪自透，方可向安。</p>
<p>參鬚　生地　白芍　柴胡　川連　丹皮　赤芩　炙草</p>

<h1>六、熱病（沈案）</h1>
<p>（案1）汪，五八。氣熱上熾，秋令失降，體本下虛，近因燥氣主令，暫清其上，酒客病，苦辛為宜。</p>
<p>黑梔　象貝　杏仁　米仁　桑葉　大沙參</p>
<p>（案2）張，廿一。毒鬱氣血之中，營衛二氣遇邪痹熱，考廣毒門忌用血藥滋膩，分消滲利為治。</p>
<p>萆薢　土茯苓　銀花　通草　地丁　地膚</p>
<p>（案3）黃，廿二。熱傷元氣，務在調中，天令清肅，健旺非難。</p>
<p>焦術　荷葉邊　丹皮　茯苓　新會皮　冬桑皮</p>
<p>（案4）華，三十。氣熱甚則化燥，用喻嘉言氣燥治肺之法，得上和再議下病。</p>
<p>杏仁　葳蕤　花粉　川貝　沙參</p>
<p>（案5）黃，四三。暑邪從上竅而入，上焦氣分　郁，耳目胸次痹塞，不飢不納不便。熱病須分三焦，《經》言從上病者，當治其上。</p>
<p>杏仁　石膏　連翹　川貝　白豆蔻　大竹葉</p>
<p>復診：熱久氣阻，辛涼治上頗效，陽明絡行身之前，宜清膈主治。</p>
<p>連翹　石膏　生甘草　川貝　杏仁　竹葉</p>
<p>復診：玉女煎如花粉。</p>
<p>復診：涼膈散去硝。</p>
<p>復診：伏暑未盡，晡熱，口渴，瀉後腹中微痛。竹葉白虎湯加麥冬。</p>
<p>（案6）顧，二十。舌起黃胎，煩熱口渴，伏暑未清，蔬食旬日，不致變症。</p>
<p>竹葉石膏湯。</p>
<p>（案7）計，廿七。體質陰虛，當夏秋暑熱內侵，客於膜原，致寒熱不欲納穀，診得陽明脈大，用養陰清暑方。</p>
<p>玉女煎加竹葉</p>
<p>（案8）王，五七。豐腴體質，適值過勞，陽氣受傷，嘔吐食物，身熱而無頭痛，已非外感風寒，間日煩躁渴飲，唇焦舌黑，是內伏熱氣，由膜原以流布三焦，亦如瘧邪分爭營衛者然。然積勞既久，伏邪客病，脈來小緩，按之不數，可為徵驗，且二便頗通，略能納穀，焉有停聚滯積？仲景於痹熱無寒之條不出方藥，但曰以飲食消息。後賢參入聖旨，以甘寒滋養胃陰，其熱自解，要知表散之辛與苦溫苦寒，沉降消滯，俱犯聖戒矣。</p>
<p>竹葉心　麥冬　生地　蔗漿　杏仁　花粉　連翹</p>

<h1>七、惡寒（俞案）</h1>
<p>（案1）秋冬背常惡寒，身雖熱而寒不退，盜汗，舌黃，溺赤。此內有熱外有寒，宜和衛氣。</p>
<p>桂枝　白芍　花粉　青蒿　炙草　半夏　加薑、棗</p>
<p>（案2）病後咳嗽，背惡寒，而脈弦數，舌苔微黃。此表寒熱之候，法宜清解。</p>
<p>淡豆豉　秦艽　丹皮　杏仁　薄荷　橘紅　玉竹　甘草</p>
<p>（案3）背寒為肺虛，亦即衛陽虛也，乃脈不軟而弦細帶數，丹溪所謂惡寒非寒是火鬱故耳。右脈獨弱，下焦根柢衰矣。衛出於下焦，藩籬既撤，汗多寒甚所由來也。陰必生陽，陽必乘陰，寧無寒熱之虞乎？救陰固陽，庶免陽越陰枯之患。</p>
<p>嫩黃耆　參條　麥冬　川石斛　女貞子　冬桑葉　根生地　穭豆皮　牡蠣　浮小麥</p>
<p>（案4）惡寒而嘔，痰火在陽明，熱極生寒也。</p>
<p>葛根　漂滑石　法半夏　麥冬　橘紅　甘草　白豆蔻　嫩蘆根（二兩）</p>
<p>（案5）右脈尚大而惡寒，仍屬火鬱，宜用桂苓甘露飲。</p>
<p>桂枝　雲苓　甘草　法半夏　滑石　橘紅　麥冬　白豆蔻　寒水石（研，三錢）　老薑皮</p>
<p>（案6）病後畏風，精神疲倦，右手氣口脈大於入迎，正合東垣補中益氣湯症。</p>
<p>原方加杜仲</p>

<h1>八、陰虛陽虛（俞案）</h1>
<p>（案1）腎主骨，周身骨節痠痛，腎虛也。腰腿痠痛，陰虧也。咳嗽乃火來刑金，食少乃脾衰不運也。後為少陽部分木火上翔後結核，是皆童弱病情，先天不足所致。</p>
<p>熟地　雲苓　山藥　丹皮　麥冬　杜仲　北沙參　牡蠣</p>
<p>（案2）咳嗽則頭巔作痛連於腦後，此下焦龍火因督脈而上，金受火刑，不能生水，故目光昏花，骨節痠痛。法當潛納虛陽。</p>
<p>生地　天冬　甘菊　杜仲　枸杞　歸身　牡蠣　女貞子　淮牛膝　淡菜</p>
<p>（案3）足少陰脈循喉入肺，足厥陰之支脈貫膈注肺。凡人腎氣充足者，聲音高爽，腎氣虧損，聲音低颯。不獨金實不鳴、金破不鳴二義也。</p>
<p>尊恙於煩勞之後，半夜忽然聲喑，清理漸愈，越數日喑又如前。知非外感為病矣。勞心過度，心腎不交，水下心上，金受其刑。又加惱怒，肝陽直射肺中而腎脈不上循於喉嚨，火位之下，無水承之。《內經》為內奪而厥則為喑痱，此其類也。今足冷麵熱，腳膝無力，夜不能寐，口乾咽燥，全是下焦衰乏，陰精不主上涵，治肺無益，法宜補腎。右脈衰於左脈，六脈俱帶微數。陽藥難投，定當以壯水固金為主。</p>
<p>生地　丹皮　山藥　雲苓　麥冬　桑葉　穭豆衣　北沙參　加竹衣（二分）</p>
<p>（案4）腎開竅於二陰，其脈上循喉嚨，或便結，或咽痛，或精滑，皆腎陰不足，相火內擾所致。</p>
<p>六味丸去澤瀉，加二冬、元參、沙參、女貞子蜜丸。</p>
<p>（案5）咽喉黏膩，咳咯不清，面常火升，身復惡寒。此陰虧不能涵納真陽，龍相上騰所致。據述尚有淋帶，可知下焦大虛。宜鹹味填陰，介屬潛陽。</p>
<p>熟地　天冬　牡蠣（鹽水煮）　枸杞　杜仲　沙苑夕利（炒研）　女貞子　海螵蛸（童便浸炙三次，三錢）　加大貢採（去毛洗淡，一兩）</p>
<p>（案6）水不涵木，木復生火。刑金，則清肅之令不行，面手漸腫；凌脾，則運化之臟失司，谷納日減。每交丙夜，氣升煩熱，更兼癸汛頻來甚少，此景岳所謂子午不交，陰竭陽孤，至危至險之候也。脈細而數，清補俱難收效，姑用潛陽鎮肝方，以圖僥倖。</p>
<p>虎膝骨　龜板　生地　淮牛膝　生白芍　川柏　苡仁　牡蠣　棗仁　浮小麥</p>
<p>接方：火升未降，自覺內熱（原作蟄）心即欲嘔吐酸水，兼之目赤唇紅，左乳縮小，總屬肝陽亢極，火盛而水不能濟，病情變幻愈多矣。大便溏泄，經頻帶下，木火交煽，脾傷腎涸，犯及奇經也。左脈弦數。依前法加直折肝火之品。</p>
<p>歸身　白芍　川連（酒炒，七分）　鉤鉤　半夏　香附　牡蠣　白朮　雲苓</p>
<p>（案7）衝任二脈與腎脈同起於下焦，腎虛則衝脈上衝，丹溪所謂火起於九泉之下也。腎熱故玉關不閉，精常漏泄，虛陽上越，不肯潛降，所以面紅舌糜，兩足冰冷。腎脈循咽絡肺，腎中真陰耗竭，其真陽無所依附，隨脈而逆行，則咽燥肺焦，故聲音不能朗亮，此皆本原重症。《內經》云：一水不能制五火，又云：諸逆衝上，皆屬於火。斯症是矣。頭眩者，腎火亢而肝火亦動也。治火之法，首辨虛實。此係虛火，斷非旦夕所能平。脈象弦勁且大，幸不快數。須以甘寒之藥滋養收攝，尤當耐性寧心以靜鎮之，使五志之火不生，則真水漸可積蓄，而諸疴徐退矣。</p>
<p>水制熟地　牡蠣（鹽水煮，五錢）　天冬　龜板（童便浸炙，三錢）　麥冬　金櫻子（六錢）　桑螵蛸（以桑枝三錢煎湯浸炙，一錢五分）　洋參（二錢）　北五味（去核用肉，五分）　活磁石（三錢）</p>
<p>五六帖後去洋參，易參鬚八分。</p>
<p>（案8）此是少陰咽痛，蓋腎脈絡肺，腎水虧而坎中之火直犯肺金，肺熱葉焦，膿血交出，腎脈上循喉嚨，火亦上升不降，乃為咽痛，致險之候也。脈軟而數，滋清無益，勉與仲景豬膚湯，以圖僥倖。</p>
<p>豬膚（二兩，切片，水二　，煎至一碗，去楂入白蜜一小杯，再煎至一碗，不時服。紫雪亦可間用。）</p>
<p>（案9）舊曾失血，近則咽痛，水不制火，柔金受　也。據述咳嗽嘔冷水。法宜金水六君煎去歸以避辛。</p>
<p>熟地　苓　半夏　桑葉　橘紅　麥冬　甘草　乾荷葉</p>
<p>（案10）久虛之體，咽痛不痊，乃陰竭而陽無所附，殊非輕候。氣衝噯嘔，囟門痛若動狀，皆厥陰上冒之象。陽升不潛，則下焦虛寒，故穀食難化，腹痛鳴瀉。此病勢日深光景計維，仍用本元治法，冀受補為吉。</p>
<p>熟地（冬米炒）　雲苓　山藥　參鬚　石斛　橘紅　桑葉　穭豆皮　苡仁</p>
<p>（案11）陰虛咳嗽，金不生水，腎藏日衰，足痿腰痛，此為損症。五損損於骨，越人原為不治之候，蒂丁下墜，真陰傷極，姑與滋養，以望轉關。</p>
<p>生地　麥冬　北沙參　丹皮　桑葉　扁豆　女貞子　石斛　杜仲</p>
<p>又，陰虛之病，腳軟者不治，以足三陰之脈起於足，足痿且麻，三陰脈絕也。聲喑咽痛者不治，以金為火爍，清降失司也。蒂丁下墜者不治，以元氣耗敗，脾腎兩衰也。今兼諸症，藥何能為？</p>
<p>照前方去生地、扁豆、杜仲，易參鬚、苡仁、棗仁、浮小麥</p>
<p>（案12）虛證勢難愈，而脾腎兩虛尤難兼顧，蓋補脾藥多溫燥，補腎藥須涼潤也。今脈數象稍和，右寸仍然數大，水虧則肺熱，肺熱則痿　，尚當以補腎為主。</p>
<p>生地　苡仁　枸杞　石斛　天冬　扁豆　歸身　蓮肉　橘紅　杜仲</p>
<p>（案13）水不制火，金受火刑，身熱咳嗆，已成損症。若納穀不減猶可圖，維今食少痰多，肌肉盡化為痰，土又敗矣。咳痰自覺腥臭，濃厚如肉壞，此為肺痿，非肺癰。肺痿則諸藏無所稟承，枯槁難支，勢殊危篤。姑再用養陰保肺之法，以圖僥倖於萬一。</p>
<p>生地　麥冬　地骨皮　桑葉　北沙參　丹皮　橘紅　白花百合　苡仁　蘆根</p>
<p>（案14）洞泄為脾衰不能分滲，食減瀉頻，腹鳴作脹，土將敗矣。此猶可補可溫，惟陽痿聲喑，腎藏已竭，法在不治，春令木升而水不能供，何藥能效？</p>
<p>金匱腎氣丸</p>
<p>（案15）左脈細軟無神，心腎兩虛，頭眩體麻，腹痛如欲瀉狀，是虛陽上擾，下焦不能吸納耳。用陰藥則礙脾，且仿潛陽法以變通之。</p>
<p>虎膝骨　牡蠣　茯神　半夏　薄桂　歸身　白芍　黃耆（鹽水炒）</p>
<p>（案16）倦怠欲臥，足軟無力，元氣大虛也。虛則納穀少而精神愈衰矣，又兼咳嗽，咽乾，眼眵燥澀，是有內熱，難投溫補，宜戒酒節勞為妙。</p>
<p>生地　苡仁　扁豆　麥冬　沙參　蓮肉　石斛　橘紅　南棗（嗽止加）　參鬚</p>
<p>（案17）脈數無神，最非佳兆，體倦食減，固由於元虛脾憊，補之猶恨其晚，無奈陰枯液涸，有壯火食氣之患耳，姑與調停法，重補輕投可也。</p>
<p>熟地　女貞子　石斛　參鬚　丹皮　苡仁　扁豆　麥冬</p>
<p>（案18）手戰不可持物，舌痿不便語言，飲食大減，脈細無力，此大虛之症。右手痹痛，右足無力，有風痱之象，脈細，宜補。</p>
<p>黃耆　歸身　遠志肉　棗仁　制首烏　秦艽　生地　枸杞　桑皮</p>
<p>（案19）夢泄之後，咽中窒礙，兩足無力，此腎脈不上循於喉嚨，內奪而厥，雖未喑已成痱矣。納減作脹，後天又衰，脈帶數，真陰難復，非藥所能奏效也。</p>
<p>生地　天冬　牡蠣　石斛　杜仲　苡仁　女偵子　湘蓮　北沙參</p>
<p>用井水煎，五更服。</p>

<h1>九、如狂（俞案）</h1>
<p>（案1）脈象左手寸尺細軟，關部獨弦，右手三部洪滑，關部尤甚，此平素心腎兩虛，近則陽明痰火未清也。腎主水，水衰不能滋養肝木，以致肝陽易亢，怒火易升，而心君位司離火，又須坎水交濟，水不足以制火，故向有背僂　起及脅痛、吐、瘀等病，更兼操勞家政，煩勞太過，五志厥陽之火上擾，則五液為其煅煉而成痰火，與涎互相擊搏，值今暑令忽發如狂之症，此與本病不同，所謂本虛而表實也。近已深秋，金水用事，則陽火漸降，病乃向愈，然餘波未平，故肝胃脈偏強，現症口渴，便堅，溺赤，心煩，夜夢紛紜，肺俞中脊脹悶，均系痰火聚於肝胃之間，法當先清後補，標症既平，方可滋養心腎以為調理之計。</p>
<p>鉤鉤　熟石膏　枳實　膽星　法半夏　黃芩　橘紅　甘草　蔞皮</p>
<p>接方：背上筋脈牽急，以冷洗手，自覺冷徹於背，即飲食入胃，亦著背而下，此皆積痰變幻，今脈象漸和，惟右關獨大，仍宜清陽明。</p>
<p>鉤鉤　白芥子（炒，研）　海浮石　秦艽　苡仁　桑寄生（三錢）　石斛　膽星　絡石（三錢）</p>

<h1>十、神昏（俞案）</h1>
<p>神昏如　，牽掣如痙，脈細而弦勁，是水不涵木，肝木動搖，非比實症易治。</p>
<p>元生地　丹皮　歸身　淮山藥　雲苓　澤瀉　鉤鉤　元參　加青鉛（八兩，熔化，入水七次，取水煎藥）</p>
<p>（案2）形質瘦弱，血虛內熱之軀，又兼神識昏蒙，如癲　狀，兩病分歧，清補不能並用，難治之候也。</p>
<p>元生地　丹皮　陳膽星　橘紅　元參　甘草　麥冬　熟石膏</p>
<p>（案3）寒熱如瘧之後，忽然神識遲鈍，兼有盜汗，脈象左細右弦滑。此血虛而夾痰為病。</p>
<p>元生地　膽星　歸身　丹皮　寒水石（三錢）　柏子仁　遠志　枳實　甘草　沖竹瀝（五匕）</p>
<p>（案4）病後目黃腳麻，神識呆鈍，而飲食如常，肌肉不瘦。此濕熱生痰為患，脈象滑大，清理可愈。</p>
<p>膽星　半夏　川連　黑梔　石菖蒲　枳殼　萊菔子　白芥子　姜皮</p>
<p>又，左脈仍數大，右脈略小亦數，用清火消痰不應，由水虧無制火耳。議養陰兼滲濕。</p>
<p>元生地　茯神　丹參　苡仁　棗仁　遠志肉　苓皮　柏子仁　淮牛膝　建蓮　加燈心</p>

<h1>十一、瘧（俞案　沈案）</h1>
<p>（案1）間日瘧原非重病，但瘧發之前口渴，瘧發之後渴退，是邪伏於內，以漸外達，其勢不能遽止。惡寒汗冷，脈沉弦數。宜和營衛以達邪。</p>
<p>桂枝　白芍　柴胡　淡芩　花粉　炙草　豬苓　漂滑石　加大棗、老薑皮</p>
<p>（案2）瘧以禁止，邪從內傳，遂發不退，面目黃色，飲食不進，脈象虛數。此溫熱為風陽煽動，法宜清理伏邪。</p>
<p>前胡　秦艽　大杏仁　茵陳　蔞皮　木通　黑梔　淡豆豉　甘草　加姜皮</p>
<p>（案3）瘧來間日發不移時，邪留募原，不能與衛氣偕出也。脈象弦遲，寒多熱少，宜桂苓甘術湯加清散藥。</p>
<p>桂苓甘術湯加木通、青蒿、丹皮、大棗、姜皮</p>
<p>（案4）瘧頻發，謂之　瘧，邪留血分也。左脈弦大，右脈細軟，和血以托邪則愈。</p>
<p>逍遙散加丹皮、杜仲，諸藥皆半生半炒，以天泉、井水各半，煎。</p>
<p>（案5）但寒不熱，謂之牝瘧，寒乍起，脹而不食，寒再起，脹反稍寬。右關尺弦細，是脾寒濕也，用桂枝附子湯。</p>
<p>桂枝　附子（七分）　生白芍　茯苓（二錢）　甘草　大棗　姜皮</p>
<p>（案6）但熱不寒，脅痞，盜汗，脈而弦，法宜和營。</p>
<p>歸身　白芍　生鱉甲　苡仁　丹皮　根生地　制於術　香附　浮小麥</p>
<p>（案7）瘧中病衄，血去多而元氣虛，法當補氣以生血。</p>
<p>參鬚　丹皮　茯苓　麥冬　白芍　牡蠣　生地　山藥</p>
<p>（案8）瘧病頻作，身痛脈細，小勞即諸病皆來，虛故也。</p>
<p>黃耆　於術　甘草　生地　歸身　牛膝　杜仲</p>
<p>（案9）脈系側關，界限難明，但細數無力，虛象顯然矣。三陰瘧久，因勞而連綿，身熱兼咳嗽、喉痛，肺脾兩傷，勢必發腫，以避風靜養為主。</p>
<p>淡豆豉（炒熟）　秦艽　薄荷　丹皮　大杏仁　甘草　橘紅　馬勃　加燈心（三分）</p>
<p>接方：川石斛　麥冬　苡仁　茯苓皮　桑白皮　橘紅　秦艽　阿膠　加姜皮</p>
<p>（案10）久瘧延成勞怯，咽痛乾咳，咳甚則噁心欲嘔，此即勞瘧之基矣。脈細，右寸關沉滑，是上年暑氣伏於募原，漸傳肺胃二經耳。宜清理，勿驟滋補。</p>
<p>嫩蘆根　六一散　麥冬　法半夏　白豆蔻　地骨皮　杏仁　加姜皮</p>
<p>接方，服清理藥，咳嗽咽痛不減，每交午後咽中如有物升，即燥癢欲嗆。此由腎脈絡肺，腎家水虧火旺，故循脈上衝，乃損症機關，即心嘈亦屬火爍胃陰，自宜固本為主。</p>
<p>元生地　麥冬　川石斛　北沙參　丹皮　天冬　冬桑葉　橘紅　枇杷葉</p>
<p>（案11）三瘧久而寒熱日作，此營衛兩傷，乃虛候，非變輕也。面浮色淡，全不納穀，為脾敗之象。咽痛，脈數帶弦，則難投補劑，病勢殊深矣。年猶未冠，尚屬純陽之體，姑與清養法，以望轉關。</p>
<p>根生地　丹皮　麥冬　苡仁　青蒿　洋參　豬苓　銀柴胡　炙草　大棗</p>
<p>接方：重病服藥，漸得輕減，已屬大幸，乃遷延多日，藥餌久停，病勢日深，谷納全廢，面色　白無神，手足痿軟無力，猶帶寒熱，咽喉頻痛。此陰枯氣索，清補兩難之候，危矣。</p>
<p>地骨皮　經霜桑葉　麥冬　元生地　洋參　北沙參　丹皮　橘紅　豬苓</p>
<p>又，寒熱仍歸三瘧，此亦好處。左脈弦大，咽喉尚痛。宜滋肝補腎。</p>
<p>元生地　鱉甲　麥冬　丹皮　北沙參　地骨皮　山藥　苡仁　豬苓　大棗</p>
<p>又，去地骨皮、山藥、豬苓、大棗，加入牛膝、青蒿、參鬚</p>
<p>（案12）三瘧雖輕，兩次發　，脈象細軟無神，乃大虛之候。</p>
<p>參　耆　術　草　地　芍　芎　歸　附子（五分）　大棗</p>
<p>（案13）瘧疾四作，頓然形瘦，腹脹，脈象細弦，是土敗木賊也。</p>
<p>歸身　白芍　柴胡　大腹絨　橘紅　丹皮　苡仁　赤茯苓</p>
<p>（案14）瘧後心中衝悸，脈象左大右小。此元氣陰不足，陰為火擾，宜補中寓清。</p>
<p>參鬚　元生地　茯神　小草　丹參　柏子仁　紫石英　棗仁　加辰砂（三分，以紅絹包懸藥中煎）</p>
<p>（案15）三陰瘧久，止才一日，發恰兩日，此營衛俱傷，正氣不能主持也。汗多脈軟。治宜補養兼之。素有夢泄，下焦虧損，雖補不能速效。</p>
<p>四君加耆、黃、歸、味、棗</p>
<p>（以下沈案）</p>
<p>（案16）揚州黃府癸丑五月初七日診。太翁向來陽虛體質，今癸丑歲濕土司天，寒水在泉，交芒種三之氣，脾胃主候，遂發瘧，初起寒勝，繼而熱勝，夫脾應乎營，胃應乎衛，二氣遍造，邪正相乘，遂為寒熱。診脈右大少神，食納不甚舒暢，略有噯噫，如呃之象，汗出肢冷，溺頻便溏，全是陽微少振。擬溫理脾胃之陽為主，不必多歧縷治。</p>
<p>人參　生於術　熟淡附子　公丁香　皮柴　厚朴　草蔻仁</p>
<p>初八日，詢初有寒熱在晡時，今漸漸早發在辰卯，兼神識欲迷，口渴欲飲，寒輕熱重，熱時衣被皆去。昨方因平素陽虛，故用溫補之劑扶正托邪，兼用辛溫理脾以宣暢營衛二氣，使其氣機流行，庶外邪可卻。服後更加熱渴，小便微黃，想寒熱留戀旬日，津液被劫，況初病心悸，虛症早已彰著。用仲景炙甘草湯，為邪少虛多治法。</p>
<p>人參　麥冬　炙草　生地　桂枝　生薑　阿膠　大棗　去麻仁</p>
<p>初九日，凡瘧邪由四末以擾中，胃最受戕，而胃為陽土，其用乃陰，瘧熱乘中，胃津被耗，理必煩渴，噯噫，氣逆上衝，皆劫津所致。脈數、舌赤，己見一斑。高年溫補陽氣，固本何疑。今以客邪未除，氣從熱化，只因體質陽微，不敢沉降清邪，姑與生津養胃，仿古酸甘化陰一法。</p>
<p>照前方去薑桂加烏梅肉</p>
<p>初十日，寒熱減半，舌心微黃，渴飲噯氣。診兩手脈來虛數，是胃中不和，津被熱燥。議用《金匱》麥門冬方，養胃汁以供肺，兼治痰氣蒙神。</p>
<p>人參　半夏　麥冬　甘草　去米棗加</p>
<p>十一日，寒熱未來，診脈濡緩帶澀，與昨診數虛互異，此寒熱稍退之象，第夜來寐不安逸，脘中痞悶，穀食無味，便瀉兩次，滑不自主，凡五竅不和，都屬胃病，寒熱從四末以交會中宮，胃當其衝，受困可知，夏至大節，脈症漸平，未必非調理中竅所致。今日議進溫膽法，以胃屬府喜通故耳。</p>
<p>陳皮　茯苓　竹茹　半夏　枳實　去甘草，加人參、金石斛、穀芽</p>
<p>十二日，前晚寐寤不安，胸脘痞悶噯噫，因思寒熱邪乘，脾胃陽氣健運失司，議用溫膽湯理痰氣以和中，服後脹減寐和，診時正寒熱初來，脈形小弱，是陽為邪郁，寒退自當復耳。再思中下皆虛，虛則邪陷難解，議以分治之法，午余服延年茯苓飲，理痰運陽，培扶脾胃。天明進露姜飲，壯氣攻邪，三服可以止瘧。至於小便不爽，高年虛人常有之證，勿用滲利再伐下焦。昨云九竅不和，是都屬胃病也。</p>
<p>茯苓飲（人參去白朮）　枳實　生薑　茯苓　陳皮，加澤瀉、姜露飲（姜四兩，連皮搗汁露一宿）空心服。</p>
<p>十三日，兩日議進通補，一理脾胃，一益氣攻邪，已有小效，診脈右虛軟，左微弦而澀，歇亦少減，仍以茯苓飲方。</p>
<p>照前方去澤瀉</p>
<p>十四日，連日進通補卻邪方法，診脈驗症頗安，但病傷可復，而平素操持縈思，積勞致損，必須潛靜曠達，方得生陽充沛。諺云：心病還須心藥醫也。若仍煩勞不節，斯心氣愈傷，脾營更耗，必至病端蜂起。至若調攝藥餌，全以後天脾胃為主，勿費多歧紛縷可也。</p>
<p>《外臺》茯苓飲加南棗、煨姜</p>
<p>十五日，夜寐頗安，惟脘中不舒，按之不痛，此屬虛痞，數為寒熱侮中，清陽少於旋轉，用治中法以運陽最穩。</p>
<p>人參　生益智　陳皮　炒半夏　茯苓　炒菟絲餅　炒遠志</p>
<p>十六日，服十五日方，加神麯、生穀芽，去菟絲、遠志</p>
<p>十七日，昨方減辛通，佐和中意，服後脘悶痞脹可見，陽微濁凝，必用通劑，陽通斯濁不上潛。今議進枳實附子理中湯通陽泄濁，仍有補中之功能。</p>
<p>人參　熟附子　枳實　陳皮　生薑汁　茯苓　厚朴</p>
<p>十八日，穀芽、神麯和緩，服之脘脹，易以枳實辛泄，姜附溫通而效，今以理胃陽為主。東垣為胃降乃順，脾升則健，不可不分晰也。照前方去枳實。</p>
<p>十九日，茯苓飲加乾荷葉。</p>
<p>二十日，茯苓飲加熟附子。</p>
<p>（案17）李，四二。□□日久陽氣不主伸越，致邪氣留□□升舉清陽亦可內托，從汗而解，服之已經□□東垣云：夏瘧痢都因脾弱，腥濁閉氣易阻，□□當禁忌過月，不使復病。</p>
<p>歸身　廣皮　制首烏　杜仲　白朮　枸杞　炙甘草</p>
<p>（案18）□□□□面黃，苔白，脘中格拒，湯水都嘔，三日瘧一至，據色脈症，乃足太陽陰微飲結，當以溫藥和之。</p>
<p>丁香柄　草豆蔻　厚朴　製半夏　蓽撥　薑汁</p>
<p>（案19）某，三三。瘧止勞復，旦發熱勝，心煩口渴，汗多不飢，邪在陽經。</p>
<p>知母　草果　黃芩　烏梅　生薑</p>
<p>（案20）陳。初因寒濕，久變為熱，格拒於中為痞，瘧固在陰，當與邪陷痞氣同法，用瀉心湯。</p>
<p>黃芩　川連　半夏　厚朴　乾薑　草豆蔻　枳實　薑汁</p>
<p>（案21）李。瘧邪能食不運，足太陰陽氣受傷，湯藥不效，乃腸中之氣呆滯，湯則流散氣輕，小溫中由中走下，兼可解鬱除濕，氣得行運，脹滿自減，以脹乃腑病故也。</p>
<p>（案22）蔣，十。此飲食失和，脾胃內傷，更加暑濕客邪傷氣，幼稚純陽，癉熱無寒之瘧，面痿黃，唇舌白，腹脹便溏。見症仍在足太陰脾，延持太久，有瘕聚疳疾之累。</p>
<p>人參　草果　澤瀉　厚朴　廣皮　茯苓　豬苓　生薑</p>
<p>（案23）顧，二十二。瘧熱傷陰，五液少聚，氣泄則陽化內風震動，四肢麻痹，巔眩心悸，欲厥之象都屬厥陰。食減不甘，從胃和補。</p>
<p>制首烏　天冬　沙參　茯神　知母　麻仁</p>
<p>（案24）顧，四二。夏秋暑濕成熱，誤傷寒發散，胃汁被劫，腹不知飢，肌腠皆乾燥甲錯，甘寒生津為穩。</p>
<p>麥冬　生地　知母　生甘草　竹葉　蔗汁</p>
<p>（案25）錢，五十。少陰瘧兩月，胃關衰不納穀，神消形瘦，攻補不應，宜舉八脈之陽，陽壯邪可托出。</p>
<p>鹿茸　當歸　枸杞　肉蓯蓉　大茴香　茯苓</p>
<p>（案26）某。從前食物失調，脾胃受虧，即與幼稚之疳症病同。物滯久延必傷正氣，東垣所稱物滯既傷氣，理必消補兼進。</p>
<p>人參　厚朴　陳神麯　桔梗　麻仁　廣皮　調磨積丹（五分）</p>
<p>（案27）錢。三瘧日久，奇經損極，邪乘攻絡，血從便出，病為伏邪，而參苓乃理胃之品非錮邪之品。救逆湯，仲景治火劫驚狂陽亡外越之症，其意重鎮之中引以飛走，由表由經脈以固束。余曾用之以治陰瘧。至柴葛泄陽，尤非八脈方也。</p>
<p>人參　當歸　枸杞　鹿角膠　茯苓　柏子仁　鹿角霜　桂酒拌白芍</p>
<p>（案28）朱，四三。陽微外寒，陰弱內熱，是為勞瘧，宗東垣內傷議治。</p>
<p>薑棗補中益氣湯</p>
<p>（案29）周，廿三。寒熱瘧邪都從四末擾中，胃陽受侮，食下脹悶，大便不利，是胃病。據說脅下有形必系瘧母，邪與氣血相混，久病入絡，當與通。每日用仲景鱉甲煎丸，早夜各服十五粒。</p>
<p>（案30）朱。久瘧溺淋，五更熱止無汗，治在肝胃。</p>
<p>丹皮　知母　鱉甲　柴胡　黑山梔　雲苓　木通　阿膠</p>
<p>（案31）朱，四三。勞倦陽氣先傷，營衛皆損，瘧無止期，自述天暖可緩，陰晦病加，身中陽微已著。與壯脈護陽。</p>
<p>生鹿角　白朮　人參　桂枝　黃耆　當歸　炙甘草　煨姜　南棗</p>
<p>（案32）楊，廿八。邪伏於陰，而成三瘧，表散不應，脈緩，中焦痞悶。治在太陰。</p>
<p>草果　厚朴　桂枝　白朮　茅蒼朮　薑汁</p>
<p>（案33）羅，三三。瘧日發既而間日，寒多無汗，食進不運，診脈緩濡，此陽微邪陷於陰，寒起四末，從太陰治。</p>
<p>露姜飲</p>
<p>（案34）成。暑濕阻氣，瘧止不飢，氣傷不可流行，是脾胃病。</p>
<p>生白朮　廣皮　黃芩　半夏　枳實　草果仁</p>
<p>（案35）某。瘧乃暑熱之後，侵必傷胃陰，先以甘寒生津，不至再涉時邪。</p>
<p>竹葉心　知母（蜜炙）　麥冬　生甘草　蔗漿</p>
<p>（案36）趙。久瘧傷陰，夏熱發泄，咳痰有血，清心熱，養胃陰，淡薄飲食，半月再議。</p>
<p>竹葉心　鮮生地　扁豆　知母　生草　茯苓</p>
<p>（案37）某。陰瘧經年，寒熱必喘逆痰升，左脈已結瘧母，病在厥陰、少陰，邪混氣血為難治。</p>
<p>川桂枝　生牡蠣　熟附子　茯苓　炒常山</p>
<p>（案38）楊，三三。陽虛有時飲感令，暑濕與痰飲氣結混蒸，濕甚生熱，汗多不解，舌白嘔逆，實非風寒。飲亦濕類，濕熱下注，便溏不爽，三焦不通，瘧不能已，不宜重劑推蕩，以肥人陽易虛故也。</p>
<p>半夏　淡黃芩　草果　滑石　厚朴　知母　薑汁　石菖蒲汁</p>
<p>復診，熱多消渴，舌色淡黃，目色已白，水入嘔酸，脘悶，痰飲熱邪居中也。大凡瘧邪，寒熱必先從四末以乘中，斯則中焦受困，故瘧止之後旬朝不饒飢飽頗多，非奇美也。</p>
<p>半夏（醋炒）　生石膏　生茅朮　杏仁　厚朴　知母</p>
<p>臨服加豆蔻末三分。</p>
<p>（案39）周，三七。邪在陽為三瘧，再為煩勞傷陽，寒起足趾，甚則肢節若墮，冷飲不適，陽傷大著，身痛轉甚，議用溫經一法。</p>
<p>桂枝湯加白朮、附子</p>
<p>（案40）詹，三十二。瘧愈，脘下脹悶，既而失血盈碗，是營血既受傷。據云服地黃病劇，非滯膩沉陰之藥可調。議以轉運脾陽。</p>
<p>茯苓　甘草　桂枝　南棗　蜜煮熱老薑</p>
<p>復診：桂芩術甘湯。</p>
<p>復診：香砂六君子湯。</p>
<p>（案41）周，二十八。陰氣先傷，陽氣獨發，但熱無寒，是為癉瘧，舌乾、渴飲、嗽咳，暑邪尚在肺胃。知飢不嗜食，乃邪熱不殺穀也。先用玉女煎存陰清暑以和肺胃。</p>
<p>玉女煎去牛膝，加竹葉心</p>
<p>（案42）毛。陰瘧復腹大跗腫，用養陰清補而愈，長夏暑濕外加飢飽內傷，皆是脾胃受病，瀉利黏積雖罷，而腹膨浮腫又來，舌絳，唇焦，溺赤，不是純虛見症。</p>
<p>茯苓　茵陳　滑石　木通　大腹皮　厚朴</p>
<p>（案43）張。三瘧屢止屢發，時見右臂、肩背、胸脅腫凸，旬日自散，絡脈不和，必安間靜養可愈，藥未能速效。</p>
<p>（案44）吳，三三。凡瘧久，邪結必成瘧母　瘕，其邪深客於陰絡，道路深遠，肌膚無汗，能食，便溺通調，病不在府，從腹下升逆，貫及兩膝腰中，推及八脈中病，理固有之，然立方無捉摸，議仲景轉旋下焦痹阻例以通陽。</p>
<p>苓薑朮桂湯</p>
<p>（案45）胡，二三。六腑以通為補，只因久病外邪瘧痢之郁，初用升陽，繼以溫通，仿古先表后里之義，已經獲效，必謹慎物食，俾脾陽充復，可以全愈。</p>
<p>淡附子　人參　大黃　乾薑　厚朴　茯苓　神麯漿丸。</p>
<p>（案46）葉，五六。瘧漸延三日而發，其邪已深入臟陰之絡，四肢先寒，太陰見症。陰中伏邪，非發汗和解可效，惟按經內托扶正以獲安，特不能速效耳。腥濁閉氣皆為敵樹幟，勿食為妥。</p>
<p>人參　白朮　桂枝　炙草　草果　生薑　南棗</p>
<p>（案47）居，廿八。脈右沉濡，左弦，瘧經兩月，止而復來，食入便出，腹中隱痛，宜謹慎食物，正餒邪陷，有三陰延綿之慮。</p>
<p>鱉甲煎丸。</p>
<p>（案48）王。舌白不大渴，寒戰後熱，神躁欲昏，而心胸滿悶更甚，瘧系客邪，先由四末以擾中宮，嗽痰嘔逆，顯是邪干肺胃，體虛邪聚，閉塞不通，故神昏煩躁，鬱蒸汗泄得以暫解，營衛之邪未清，寒熱蔓延無已，此和補未必中竅，按經設治為宜。</p>
<p>白豆蔻　黃芩　炒半夏　杏仁　淡竹葉　薑汁</p>
<p>復診，寒熱嘔逆，心胸痞悶，夫心胸非停食之地可以攻消，不過因瘧邪交會，穢濁矇蔽使然，故瘧過即安，苟非芳香，何能開其矇蔽？舍此並無捷徑。</p>
<p>牛黃丸（二服）</p>
<p>（案49）李。自病十三日，夜不得寐，肢臂有斑，寒起四末，熱鬱中焦，渴不能飲，胸脅痞脹，按之則痛，舌現灰白滯色，二便皆不爽利，此邪伏在絡，寒熱後永不得汗，古云瘧不離手少陽，小柴胡投之不應，其邪在絡何疑？議通厥陰陽明。</p>
<p>桂枝木（一錢）　茯苓（三錢）　生牡蠣（三錢）　淡乾薑（一錢）　薑汁（四分）　半夏（錢半，炒）</p>
<p>復診：紫斑且多，邪伏於營，脘膈仍不爽，用至寶丹，每用三分，金銀花湯化服。</p>
<p>（案50）葉，四一。診脈右小弱，左空弦，視形色枯槁不華，舌白不渴飲，病及一月，寒熱，乾嘔，神氣欲昏，微呃，煩不欲寐，汗出。此伏邪久而傷正，陽氣日漓，邪陷入陰，胃虛客犯，當邪乘攻觸，見此昏煩嘔呃，議溫胃陽益虛鎮肝逆，逆理嘔煩，用旋覆花代赭石湯。</p>
<p>旋覆花　代赭石　人參　半夏　廣皮　煨姜　南棗</p>
<p>復診，交子時乃戌亥純陰之餘氣，陽氣不復，形寒鼓慄，巳午盛陽司時乃安，況陽從汗出，舌白為胃陽虛。用附子湯法。</p>
<p>（案51）張，四三。三瘧，背寒骨束，並無汗戰嘔逆，治在少陽督脈。</p>
<p>鹿角霜　枸杞　歸身　沙苑　淡蓯蓉　大茴</p>
<p>（案52）金，二十。太陰脾土性畏寒濕，暑濕既在深陰，瘧三日一至，飲酒再助其濕，瘧痢兼作，但肛墜而腸胃不痛，脈來濡弱，當理濕以生陽，用桂苓甘露飲。</p>
<p>（案53）金。間日瘧發，頭痛，脘悶，痰多，勞倦挾外感，表劑宜輕。</p>
<p>半夏　黃芩　桔梗　枳實　青蒿　蘇梗　生薑</p>
<p>（案54）沈，三三。嗔怒復瘧一月，腹膨脹滿，二便仍通，形寒汗多火升。此肝木內震，脾胃被戕，氣衰為滯，非陰藥可效，《金匱》首章理脾胃必先制肝木，仿此為例。</p>
<p>人參　炙草　椒目　延胡　茯苓　益母　厚朴　川楝子</p>
<p>（案55）某。素有勞怯，外感瘧邪，更傷脂液，陰不上承，上燥失音，當與肺痿同治，彼麻黃、桑皮散邪泄肺，於病於體皆悖。</p>
<p>雞子白　生甘草　葳蕤　麥冬　白元米湯煎。</p>
<p>（案56）瞿。失血數載，經脈久空，癉寒無熱為牝瘧，每發於陽氣不足之人。柿味甘寒，蟹味鹹寒，陽失行宣，是皆左券宜乎？日加寒懍而血絡並逆矣。</p>
<p>救逆湯</p>
<p>（案57）汪，二八。越三日必寒熱，腹痛不飢，途中吸入寒熱不正之氣，消散與參朮皆非。</p>
<p>蘇合香丸</p>
<p>（案58）姚，十八。脈弱小促，瘧不肯止，皆辛散過投，衛傷則寒，營傷則熱。用補中益氣湯，數日可愈。</p>

<h1>十二、暑濕（沈案）</h1>
<p>（案1）顧，三四。陽虛之體，迫受暑濕，氣分窒塞，脈濡，舌白，頭脹，心悸，口渴。治以桂苓甘露飲。</p>
<p>（案2）錢，四六。當年久瀉用三神丸得效，是脾腎兩固兼理氣分之滯，體質陽虛，遇冷病加，今病延長夏，小水不通，必因夏濕阻其宣化，久則氣血凝著而為腸紅，姑與桂芩甘露令消其退。</p>
<p>（案3）祈，五二。脈緩濡，夏季過飢，吸受暑濕，膜原濁痹，清氣不宣，脘脹腹滿，陰囊、足跗皆腫，得泄氣少舒，濕與熱傳至經腑，當分消其氣分。</p>
<p>大腹皮　厚朴　木通　防己　萊菔子　金沙　茯苓皮　萆薢</p>
<p>（案4）殷。濕熱未盡，氣分受傷，形軟不舒，即是熱傷元氣。</p>
<p>葳蕤　綠豆皮　炒川貝　地骨皮　知母　生草</p>
<p>（案5）某，四六。濕溫長夏最多，濕蒸熱鬱之氣由口鼻而入，上焦先病，漸布中下，河間所謂三焦病也，治法與風寒食積迥別。仲景云，濕家不可發汗，汗之則病，濕本陰邪中人也，則傷陽，汗之則陽愈泄越，而邪留不解，濕因熱鬱，發現為黃，熏蒸氣隧之間，正如醃　之比，斯時病全在氣分，連翹赤小豆湯可以奏績。今經一月，邪彌三焦，自耳前後，左腫及右，癰瘍大發。蓋癰者，壅也。不惟氣滯，血亦阻塞，蒸而為膿，穀食不思，陡然肉消殆盡，胃氣索然矣。商治於今，補則治壅，清則垂脫，前輩成法一無可遵，因思濕熱穢濁結於頭面清竅，議輕可去實之法，選芳香氣味，使胃無所苦，或者壅遏得宣，少進漿粥便有進步。按：《經》云：從上病者治其上。《靈樞》云：上焦如霧。非輕揚芳香之氣何以開上。</p>
<p>青菊葉　馬兜鈴　連翹　射干　銀花　川貝　綠豆皮　荷葉邊</p>
<p>以清水拌濕，鋪入甑中，蒸露杯許，和入金汁一杯，常以茶挑服。</p>
<p>（案6）時。刮痧震動經脈，體虛不耐，頗覺不安，亦無妨害，但暑濕皆傷氣分，氣無形質，流行則邪解，今以六味填陰，滯濁暑氣，恐無此方法。</p>
<p>竹葉心　天花粉　銀花　連翹　川貝　鬱金</p>
<p>（案7）錢，十六。脈左小堅勁，色蒼，形腫，當午熱灼口渴，晨必微寒，食物皆減，此暑邪乘虛致病，狀如瘧症，因吐血屢發，表散非宜，姑以玉女煎方，得熱止再議。</p>
<p>（案8）錢，四七。宿病勞傷，新感暑熱，咽痛，舌糜，目黃。宜清上分消。</p>
<p>連翹　麥冬　竹葉心　川貝　馬兜鈴　六一散</p>
<p>（案9）俞，四六。脈小，舌白，小溲淋閉，大便不爽。仍流此暑濕著於氣分，氣阻竅窒。當治其上，以水出高源也。</p>
<p>滑石　通草　桑皮　茯苓皮　米仁　蘆根</p>
<p>（案10）沈，四七。陽虛不喜涼食，氣阻膈間，脈沉，目黃，必有冷濕之氣內著，用辛溫補通之。</p>
<p>半夏　茯苓　厚朴　益智仁　廣皮白</p>
<p>（案11）金，十九。暑邪內伏，暑必兼濕，傷於氣分，漸布三焦，三焦變瘧不成，邪歸傷陰，痢不盡，邪又變微熱，不食不飢，九竅不和，嘗聞病起在氣，病久入血，延綿經月。再治肺邪，愚老人見不及此。</p>
<p>牡蠣　川連　川柏　秦皮　遠志　人中白</p>
<p>（案12）鄭。暑必挾濕，二邪皆中傷氣分，阻而無質，首從治肺極是，以邪由吸入，自上而中也。夫肺主衛，心主營，衛營失和為寒熱。肺邪逆行，犯及心包，遂熱熾神躁昏譫，汗出不解，邪非表受，即大便通利而痞悶，仍然亦非胃家實熱可攻而愈，由無形氣結日郁，郁久必熱，久蒸痰聚而為不飢不食之症矣。</p>
<p>（案13）某。風寒必從六經，暑熱必究三焦，況乎上受之邪，當治其上，開其上結，取氣微辛，取味微苦，體質素虛，勿用重劑傷損陰陽。</p>
<p>復診，昨方辛勝於苦，取乎開多降少，恰在胃脘之上，方中草果知母兩和脾胃以止瘧，服已胸脘有辛辣氣味。今午診左數右寸尺大，胸次按之微痛，舌上白膩，亦不渴飲，決非實熱滯結，思表散過辛必泄肺，肺餒不司肅降，上氣遂致凝結。《內經》以氣過於辛，有食甘以緩之之義，然甘味皆守氣，鈍非為合法，況秋分得天氣之降，今金氣無權，未能應乎天氣。擬商繆仲醇方法，平衡輕劑，仍從上治。</p>

<h1>十三、厥（俞案、沈案）</h1>
<p>（俞案）</p>
<p>（案1）無端眩暈僕厥，移時方醒，今面目黃色，口乾溺赤，脈象左細右滑。此心腎虛弱，外受暑濕之邪，暑為火，濕生痰，故病形如類中。法宜與清理，繼以補養，乃不復發。</p>
<p>半夏　赤苓　香薷　厚朴　川連（酒炒，四分）　茵陳　鉤鉤　木通　鮮藿香葉（一錢）</p>
<p>（案2）病後發厥，神昏口噤，痰響涎流，此五　之類，脈細無力，乃虛　也，補之則愈。</p>
<p>黃耆　制於術　黨參　茯神　棗仁　遠志　歸身　炙草　桂元　大棗</p>
<p>（案3）頭重如欲暈倒，冷汗大出，手足厥逆，脈細，右手尤覺微渺，舌苔白，起病不過八九天，小便不利，正值夏月辛苦作勞之時，作暑厥治。</p>
<p>先服地漿水。</p>
<p>洋參　麥冬　北五味　半夏（醋炒）　絲瓜葉　環慄　丹皮</p>
<p>（沈案）</p>
<p>（案4）吳，三九。厥陰氣衝昏厥，都因陽明脈虛，通泄和陽不能卻病，議填胃土以熄虛風。</p>
<p>生牡蠣　生黃耆　炒常山　甘草　南棗</p>
<p>（案5）朱，三七。俯則氣塞，咽喉呼吸不通，暈厥，面色油亮，神色昏蒙，足痿無力。蓋肝腎下虛，濁陰下潛，仿仲景腎氣厥用濁藥輕投一法。</p>
<p>地黃飲子</p>
<p>（案6）某。陽虛之體，頻遭病傷，能食不充旺，耳鳴心悸，內風漸至，有中厥之虞，右歸補陽亦可，但桂辛甘損耗肝血，當易以溫柔固攝，冀免虛風。</p>
<p>薑製地黃　人參　當歸　茯苓　肉蓯蓉　五味　枸杞　山藥　淡附子　萸肉　棗肉和丸。</p>
<p>（案7）朱，三七。腎虛氣厥，用河間地黃飲子頗安，據說過勞病加，必有肝陽陡升莫制，咽乾舌燥，少寐。當復以息風和陽之品。</p>
<p>磁石　遠志　茯苓　熟地　肉蓯蓉　柏子仁　枸杞　五味　天冬　牛膝</p>
<p>（案8）程，女，廿九。前方解經氣鬱熱兼流行氣血，奈經水數月不至，厥發兩次，因驚動氣，喉間血腥失音，而心口隱痛，巔脹鼻痛，總由厥陽上冒清空所致，與蘆薈丸服二錢。</p>
<p>（案9）吳。幼有癇厥，必挾痰火，愈經數年，年壯而復發，是情動陰泄，陽遂得以上冒。自言左脅中氣衝上引，必心胸痞塞。此肝臟厥陽無制，由乎水弱不為木耳。</p>
<p>六味丸去山萸，加磁石、龜板、白芍</p>
<p>（案10）某。諸動屬陽，勞煩則擾於氣，肝司藏血，拂鬱則血菀於脘，午後氣並於血，升降清濁為厥，脈來浮數而細澀，面黃唇白，熱勢少輕，神昏如故，胸腹隱痛，必非停滯，診有瘀聚所致；目荒、舌縮為腎水竭絕之徵；瘛瘲不止，乃肝虛風動之象，病名暴厥。養葵所謂薄厥、煎厥之類。開心包不應，勉蒲黃散去瘀舒郁，續進滋養天一之水，以冀風糜火熄，此屬不得已之想，未識以為何如。</p>

<h1>十四、癇（俞案）</h1>
<p>（案1）癲　之症脈大易愈，脈細難痊。今脈細而目睛無神，交夜糊塗，口渴，是病在重陰，不能去根矣。</p>
<p>陳膽星　元生地　丹皮　小川連（酒炒）　海浮石　甘草　青黛（五分，漂淨，沖服）</p>
<p>接方：惱怒則肝火熾盛，又加驚恐，則肝膽俱病，木火交亢，以致癲妄神昏。今雖稍輕，而脈左弦右滑，是火鬱生痰之故，故筋惕而脹，亦屬肝火煽風。法以抑肝清痰為主。</p>
<p>陳膽星　鉤鉤　法半夏　川連（酒炒）　枳實　橘紅　甘草　海浮石　竹瀝（十匕）　薑汁（一匕）</p>
<p>（案2）　風乃難愈之候，脈數帶滑，宜先清其痰。</p>
<p>元生地（炒，四兩）　炒歸身（二兩）　丹皮（炒，一兩五錢）　羚羊角（磨汁加入，五錢）　青黛（漂淨，三錢）　川連（酒炒，三錢）　陳膽星（薑汁炒，一兩）　半夏（一兩五錢）　橘紅（炒，一兩五錢）</p>
<p>用神麯二兩打漿加入羚羊汁，和藥為丸，每晨服二錢。</p>
<p>又，　勢稍輕，未能脫體，左弦脈尚存，宜佐以聖惠三　丸。</p>
<p>石礬（八兩，一半生用一半煅枯）　荊芥穗（炒，四兩）</p>
<p>為末，用粳米粥湯糊丸，以漂辰砂為衣，每服二錢。</p>
<p>（案3）足麻至心，即神昏痙搐，喉有痰聲，此　症也。脈細而沉弦，宜歸脾湯。</p>
<p>黃耆　黨參　術　遠志肉　炙歸身　鹿角膠　半夏</p>
<p>丸方：耆　術　黨參　遠志　歸　仲　熟地　鹿角膠（二兩）　河車　坎　</p>
<p>（案4）肝風內舞，痰因火升，左邊頭頂、手足、肩、腹俱有牽絆之象，蓋厥陰經脈所過地部皆為痰火纏擾也，痰火不清，　症必然復發，清心戒怒，靜養可痊。</p>
<p>陳膽星　海浮石　橘紅　鉤鉤　川斛　羚羊角尖　枳實　甘草</p>
<p>又方，逍遙散加減。</p>
<p>又方，虎潛丸加減。</p>

<h1>十五、短氣（俞案）</h1>
<p>（案1）舒氣稍長，胸脘即痛，仲景所為短氣不足以息者，實也，此實字指痰飲逆氣而言也。尊恙恰合是條，右脈細弱。法當溫通。</p>
<p>雲苓　法半夏　茅山術　乾薑　巴戟　新會皮　補骨脂　甘草　胡桃膈</p>

<h1>十六、郁（俞案）</h1>
<p>（案1）《內經》以喜怒出於膻中，今襟懷不暢，無忻忻自得之意，蓋緣久鬱則清陽失司，生機不能靈動也。遇事煩厭難耐，寐醒即欲起身，肝陽心火易擾而不寧謐。擬由滋養以濡濟之，所謂盞中添油，爐中覆火之法也。</p>
<p>茯神　遠志　棗仁　歸身　丹參　柏子仁　半夏曲　石菖蒲　麥冬　萱草　人參</p>
<p>神麯和丸，金箔為衣。</p>
<p>（案2）少年即有鬱症，生陽不能舒布也，加之驚則肝膽亦病，自然寐少寤多，蓋陽不入於陰，血不協於氣也。今屆六旬之外，血更衰，痰漸生，胸膈右邊不能融暢，便燥，臂痛，著衣不便，鼻亦不知香臭，此由氣餒則痰滯，升降出入之機針廢弛，恐為厥中根基。診脈左小右　，宜補心脾，化痰利氣，使營衛流通，乃無大患。</p>
<p>茯神　霞天曲　柏子仁　丹參　遠志　棗仁　川桂枝　歸身　甘草　姜皮</p>
<p>又，臂痛止，去桂枝加參，後服指迷茯苓丸。</p>
<p>（案3）懷抱不舒，氣鬱於中焦，五更將交寅卯時為木旺之候，故肝陽上衝，喝喝如太息，間有腐臭者，鬱則成火也。脈弦帶數，宜清理肝肺。麥門冬湯：</p>
<p>麥冬　洋參　半夏　冬瓜子　知母　橘紅　鉤鉤　鬱金汁</p>
<p>（案4）心熱汗出即不得寐，舌苔黃厚，又不作渴，脈細左弦，是心肝鬱火症，病始齒痛。理宜壯水。</p>
<p>根生地　木通　竹葉　丹皮　元參　川斛　麥冬　女貞子　旱蓮草</p>
<p>（案5）腹鳴而氣上衝心，此厥陰症也。脈右沉左弦，沉則氣滯，弦則木鬱，鬱則少陽生氣不伸，怵惕憂慮自不能禁，病由肝而及心腎。宜開宜鎮為治。</p>
<p>抱木茯神　七孔石決明（磨去黑皮，研，三錢）　遠志肉　五花龍齒骨（錢半）　石菖蒲　棗仁　柏子仁（二錢）　加辰砂（三分，紅絹包懸於藥中煎）</p>
<p>（案6）憂悲則氣結不舒，生陽衰颯，故納穀作脹，噯噫，煩懣，其足膝腫痛，連兩拗及背皆痛者，以至陰之地，無陽以蒸動也。</p>
<p>虎膝骨　茯神　杜仲　淡附子　生於術　淮牛膝　生苡仁</p>
<p>接方：目有微赤暫定溫藥。</p>
<p>茯苓　焦白朮　杜仲　白芍　車前子　小茴香　金毛狗脊（去毛切片，三錢）　苡仁　大棗</p>
<p>又：去小茴香，用千年健三錢。</p>

<h1>十七、眩暈（俞案、沈案）</h1>
<p>（俞案）</p>
<p>（案1）頭眩脈弦，清晨嘔痰，此肝陽上擾兼酒之濕熱生痰助火耳。</p>
<p>虎膝骨　雲苓　半夏　甘菊　川連　杜仲（刮）　橘紅　赭石　白蒺藜</p>
<p>（案2）頭眩心跳脈而軟。</p>
<p>黃耆　於術　黨參　歸身　茯神　棗仁　杜仲　甘草　麥冬　姜　棗</p>
<p>（案3）頭重眩，足軟弱，左脈細而弦，是肝腎虛症。</p>
<p>虎膝骨　歸身　白芍　元熟地　枸杞　淮牛膝　鎖陽（酒洗）　牡蠣　杜仲</p>
<p>（案4）頭眩，神昏，呃逆，痰因火動，肝陽上擾之故。</p>
<p>九孔石決明（磨去黑皮，鹽水煮半日，研末，同煎，三錢）　遠志肉　茯神　橘紅　白福花　江枳實　鉤藤</p>
<p>（沈案）</p>
<p>（案5）宋，四十。操持煩心，身中陽氣多升，肝膽相火內風震動莫制，遂有眩暈驚惕，肉酒蒸聚濕熱，由胃脈下注跗足，每多膿水，此痿厥中風之萌。秋冬務在藏聚，溫養經脈佐以溫通，加味虎潛丸宜用。</p>
<p>虎潛丸去白芍、當歸、知母、鎖陽、廣皮，加枸杞、茅蒼朮、白蒺藜、車前子　紅棗丸。</p>
<p>（案6）某。陽氣內風升舉，眩暈肢麻，遺泄頗頻，陰氣先已暗傷，致二氣失交，凡下虛必上實，諸脈廢而不用，中年以後痱中厥僕至矣。診脈小緊數，治在藏陰。</p>
<p>羊肉　杞子　首烏　五味　甘菊　黑豆皮　鉛罐煎。</p>
<p>（案7）劉，六三。脈得動博，勞心煩劇，陽易升越，內風陡起，遂致眩暈欲僕，據述上冬患此，春夏數發，蓋冬季少藏，不耐天暖氣泄。法當填陰收納，以培風蟄。二陳湯只治痰眩，非攝納方也。</p>
<p>鹿角膠　柏子仁　天冬　熟地　杞子　青鹽　石菖蒲　遠志　蓯蓉　茯神　牛膝　魚膠</p>

<h1>十八、脾胃（沈案）</h1>
<p>（案1）張。脾胃不和，鬱熱內起，屬五疳之症。</p>
<p>川連　藿香　厚朴　茯苓皮　廣皮　木通</p>
<p>（案2）吳，五七。脾陽衰微，食入不運，湯飲更易壅積，脾惡濕也。當薄味令清氣流行。脈小澀，非破氣所宜。</p>
<p>薑棗異功，去甘草，加厚朴、益智</p>
<p>（案3）某。經營不遂，情懷拂鬱，少火化為壯火，風木挾陽上巔，眩暈不寐，是陽不入陰，非虛症也。如果純虛，豈有自春及秋仍能納穀驅馳？今倏然脘中阻噫，由藥傷胃口，致胃陽上逆使然。議用溫膽湯。</p>
<p>溫膽湯去甘草加桑葉、丹皮</p>
<p>（案4）葉，二十。和胃清熱，漸次加餐，第中士既傷，陽木易動，已覺火升畏熱，倘食物調理失宜，鬱熱內蒸，精液消爍，則難圖矣。調中為主，兼理少陽鬱熱。</p>
<p>白朮　丹皮　胡黃連　陳皮　枳實　黑梔　芍　桑皮</p>
<p>（案5）蔣，廿九。前方通三焦頗效，想經年九竅不和，屬胃病，而犯胃最速莫若肝邪，中焦氣鈍，左升右降皆已失司，郁痹不行，少火化為壯火。治宜清降辛宣。</p>
<p>淡黃芩　白豆蔻　川連　厚朴　杏仁</p>
<p>（案6）汪。胃精不能上供，由夏令勞煩泄氣，致交秋新涼外束而痛。兩進清涼僅去其邪而痛不愈者，津未復也。議益胃津。</p>
<p>生扁豆　大沙參　桑葉　葳蕤　生草</p>
<p>白元米湯煎服。</p>
<p>（案7）某。凡寒熱瘧氣起於四肢，蒸及中宮，必滿悶煩冤。氣痹治肺，熱灼清胃，皆是古法。首方兼理上中，轉方專理氣。無非氣結宜開治法，只因病延多日，質薄胃弱，於寒熱未止之時，頻加呃逆。《經》言胃氣以下行為順。中乏穀氣坐鎮少權，胃土屬陽，譬如雨露上施，陽土得濡潤而禾苗蕃盛。今也日加熱蒸，斯震動之氣上翔，胃氣不安其位矣。嘗讀仲景書，吐　、狐惑、噫氣、噦呃諸篇必系胃虛少谷，但須分在陰在陽之客為正，非案中稍申甘緩益胃，進以味輕氣清以消息病情，蓋志慎也。辰刻診候，儀容清減，脈右虛數。法仲景「病邪未盡，正氣欲衰，當與甘藥」之旨。</p>
<p>胃氣應乎衛，寤則行陽，寐則行陰。行陽主動，行陰主靜。由寒熱相爭乘胃，藥湯劣味再入胃，經旬未沾飲食甘美，胃已坐困，衛之行陽循陰機栝已偏，呃逆之乘甚於寤而不寐者，未得天地交泰之旨也。古人治病，必曰攻邪十之六七，謂邪衰其大半而止，正謂此。今須少少進谷，納食為安，調寢食於醫藥之先，再無貽害。</p>

<h1>十九、肝病（俞案）</h1>
<p>（案1）氣上衝心，心內熱疼，仲景例之厥陰篇。但暴病為邪熱內陷，久病為水不涵木。脈弦而細，宜滋腎以生肝。</p>
<p>川楝　生地　丹皮　白芍　枸杞　杜仲　歸身　加建蘭葉（錢半）</p>
<p>（案2）咽喉如有線牽引，不便俯仰。脈象左弦大。此肝陽射肺也。</p>
<p>羚羊角　川貝　橘紅　絲瓜子　射干　海粉　紫菀　杵頭糠</p>
<p>（案3）腎陰不足，肝陽內擾，筋跳強中，多食易飢，皆水虧木亢之故。驚氣亦從肝，入夢與人爭亦屬肝火。以木侮土則腹中如脹，氣閉不爽。就脈象之左弦右細，宜益木培木。</p>
<p>參鬚　茯神　遠志　生地　山藥　柏子仁　龍骨　白芍　南棗肉（三錢）　淮麥（炒，三錢）</p>
<p>（案4）先天真陰不足，水虧則火易上炎，加以肝陽升逆，背心烘熱，倏作倏止，常時乾嘔，痰帶微血，此皆童弱之基。脈象左手弦勁。且與清肝，勿據用滋膩藥。寐中驚惕出汗亦屬肝病，宜溫膽湯加減。</p>
<p>茯神　半夏　麥冬　石決明　冬瓜子　小草　白芍　杜仲　竹茹（八分）</p>
<p>（案5）顫振不止，脈細帶弦，肝風為害也。</p>
<p>虎脛骨　牡蠣　歸身　白芍　生地　牛膝　鉤鉤</p>
<p>（案6）靜坐安臥，自覺身內振搖，然非肌肉懦　也。側左則左搖，側右則右搖，譬諸地動，由於風火激搏也。面多赤瘰，病在陽明。而陽明以腎為關，總宜助少陰之寒水以熄陽明之風火。</p>
<p>生地　丹皮　枸杞　沙苑蒺藜　冬桑葉　歸身　白芍　虎脛骨　制首烏　女貞子　甘菊　霞天曲</p>
<p>為末，以川石斛煎膏，絞去渣，少加煉蜜為丸。</p>

<h1>二十、忡悸（俞案）</h1>
<p>（案1）左寸關洪大，心肝之火上燔也。火動風生，心包澹澹大動，怵惕不寧。法宜重以鎮之，寒以折之。</p>
<p>生地　丹參　茯神　遠志肉　柏子仁　棗仁　龍齒　麥冬　辰砂　半夏曲　川連　歸身</p>
<p>神麯三兩打漿糊丸，金箔為衣。</p>
<p>（案2）驚悸恐怕，心腎兩虛也。自述火升背熱，頭重帶搖，此痰火上冒清陽之位，恐延癲　痼疾，不可遽補，且進清理為妥。</p>
<p>生地　小川連　鉤鉤　青黛（一錢）　連翹　橘紅　丹皮　膽星　甘草　辰砂</p>
<p>（案3）嘈雜心悸，見人則畏，夜夢紛紛，皆心神受病。脈沉弦，兼痰滯膽經也。</p>
<p>茯神　法夏　龍骨　遠志　柏子仁　棗仁　石菖蒲　丹金器（一件）同煎。</p>
<p>（案4）寐中驚跳，肝有熱而魂不這發藏也。從前目晴忽陷，亦由肝竅在目，肝繫了戾，筋脈為之攣釣耳，今病與昔病其因卻相同。</p>
<p>元生地　龍骨（火煅醋淬，錢半）　茯神　遠志　柏子仁　虎睛（乳搽炙熟，一個）　棗仁　歸身　加金箔（三張）攪勻服。</p>
<p>（案5）憂愁悒鬱，心神受傷，腎不上交，故應酬無意緒，行動則氣促，診脈左弦右細，知非痰火為病，宜歸脾湯、寧志膏之類。</p>
<p>黨參　黃耆　元生地　遠志肉　茯神　歸身　棗仁　炙草　木香汁</p>
<p>又，脈細弦，重按覺有力，肝陽上亢，暫進清肝法，前用補不應，症兼口燥，左脅脹。</p>
<p>細生地　羚羊角尖　香附　鉤鉤　黑梔　木通　青黛　橘紅　金器（一件）</p>
<p>又，用清肝法又覺外寒，此亦氣血久虛之故，但左脈尚沉弦，仍從肝治為妥。</p>
<p>元生地　伏神　膽星　鉤鉤　遠志肉　橘紅　丹皮　羚羊角尖　加辰砂（二分）沖服。</p>
<p>（案6）神氣模糊，夜不能寐，心忡，腰痛，舌苔黃垢，脈象左弦細右滑大。此心腎兩虛，痰涎沃膽之候，宜先清後補。</p>
<p>陳膽星　茯神　遠志　半夏　丹參　杜仲　海浮石　橘紅　加姜皮</p>
<p>又，先服暫服方：</p>
<p>茯神　法半夏　熟石膏　白福花　枳實橘紅　石菖蒲　甘草</p>
<p>又，心忡稍緩，心膈仍熱，脊腰時痛，夜寐未安，脈之滑大雖減，猶帶數象。此水衰不能制火，肝膽厥陽上冒，宜去痰藥，佐以潛降品。</p>
<p>虎膝骨　牡蠣　元生地　茯神　川石斛　杜仲　淮牛膝　小葉沉香汁（二分）</p>
<p>又，《經》云腎開竅於二陰，從二便不爽，必努掙而出，及脊腰下部作痛。原有腎虧，無以上交於心，致忡悸恍惚，夜不安臥，自用潛陽方法，頗有功驗，但納穀難化，腹脹肢浮，此固中氣餒乏，亦緣腎不納氣，則氣填於上中二焦。蓋腎為胃關也，足膝麻冷其明徵矣。所嫌左寸關浮滑大，兼之精滑舌苔，難投溫藥導陽耳。</p>
<p>虎膝骨　牡蠣　元生地　茯神　杜仲　芡實　川石斛　湘蓮　小葉沉香汁</p>

<h1>二十一、不寐（俞案、沈案）</h1>
<p>（俞案）</p>
<p>（案1）右寸脈弱，左寸關弦滑，此勞心太過，心不攝腎，而為夢泄。又以思慮傷脾，脾虛則生痰，痰停心包，故不寐嘈雜。宜先半夏秫米湯，繼以歸脾湯調理，然後可以拋棄一切，安神忌食靜養，則漸可向安無慮矣。</p>
<p>熟半夏（半杯）　白糯米（小半合）</p>
<p>以千里長流水揚之萬遍，取二碗煎藥，煎用枯蘆葦代炭。</p>
<p>（沈案）</p>
<p>（案2）某。按《靈樞經》云，凡人陽氣暮必下交於陰，陰蹻脈中氣滿，陰氣包護陽氣不令透泄於外，遂令熟寐，反是，寐不成寐者，陽動於外，神識焉得歸著於裡。《經》義用半夏秫米湯，藉半夏由陽氣入陰中，更入蹻脈，隨以秫米奠安脾胃之氣，為中宮砥柱，不令氣升陽浮，然必多服，方有效驗。</p>
