<header data-type="book">
<h1>巢氏病源補養宣導法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>巢元方</dd></div>
<div><dt>朝代</dt><dd>隋</dd></div>
</dl>
</header>

<h1>卷上·正編</h1>

<h2>風病諸候上</h2>

<h3>風偏枯候</h3>
<p>其湯熨針石，別有正方，補養宣導，今列於後。《養生方》導引法云：正倚壁不息，行氣從頭至足止，愈疽疝大風，偏枯諸風痹。（補養宜導，每門皆有此語，今只一見。）</p>
<p>又云：仰兩足指五息止，引腰背痹，偏枯，令人耳聞聲，常行眼耳諸根，無有掛礙。</p>
<p>又云：以背正倚展兩足及趾，瞑心從頭上引氣，想以達足之十趾，及足掌心，可三七引，候掌心似受氣止。蓋謂上引泥丸，下達湧泉是也。</p>
<p>又云：正柱倚壁不息，行氣從口趣令氣至頭始止，治痹大風偏枯。</p>
<p>又云：一足翕地足不動，一足向側相轉，身欹勢，並手盡急回左右迭三七，去脊風冷，偏枯不通潤。</p>

<h3>風失音不語候</h3>
<p>《養生方》云：醉臥當風，使人發喑。</p>

<h3>風口喎候</h3>
<p>《養生方》云：夜臥當耳，勿得有孔，風入耳中，喜令口喎。</p>

<h3>風四肢拘攣不得屈伸候</h3>
<p>《養生方》導引法云：手前後遁互拓極勢三七，手掌向下，頭低面心氣向下至湧泉倉門，卻努一時取勢，散氣放縱，身氣平，頭動膊，前後欹側，柔轉二七，去髆井冷血，筋急漸漸如消。</p>
<p>又云：兩手抱左膝伸腰，鼻內氣七息，展右足，除難屈伸拜起，脛中痛萎。</p>
<p>又云：兩手抱右膝著膺，除下重難屈伸。</p>
<p>又云：踞坐伸右腳，兩手抱左膝頭，伸腰以鼻內氣，自極七息。展左足著外，除難屈伸，拜起脛中疼痹。</p>
<p>又云：立身上下正直，一手上拓，仰手如推物勢，一手向下，如捺物極勢，上下來去，換易四七，去膊內風，兩膊井內冷血，兩掖筋脈攣急。</p>
<p>又云：踞伸左腳，兩手抱右膝，生腰，以鼻內氣，自極七息，展左足著外，除難屈伸，拜起脛中疼。</p>

<h3>風身體兩足不隨候</h3>
<p>《養生方》導引法云：極力右掖振兩臀，不息九通，愈臀痛勞倦，風氣不隨。振兩臀者，更互蹄踩猶言厥，九通中間偃伏皆為之，名蝦蟆行氣不已，愈臀痛勞倦，風氣不隨，久行不覺痛癢，作種種形狀。</p>
<p>又云：偃臥合兩膝，布兩足生腰，口內氣，振腹七息，除壯熱疼痛，兩脛不隨。</p>
<p>又云：治四肢疼悶及不隨，腹內積氣，壯席必須平穩，正身仰臥，緩解衣帶，枕高三寸。握固者，以兩手各自以四指把手拇指，舒臂令去身各五寸，兩腳豎趾，相去五寸，安心定意，調和氣息，莫思餘事，專意念氣。徐徐漱醴泉者，以舌舐略唇口牙齒，然後嚥唾，徐徐以口吐氣，鼻引氣入喉，須微微緩作，不可卒急強作。待好調和引氣，勿令自聞出入之聲，每引氣心心念送之，從腳趾頭使氣出，引氣五息六息，一出入為一息，一息數至十息，漸漸增益，得至百息二百息，病即除愈。不用食生菜魚肥肉，大飽食後，喜怒憂恚，悉不得輒行氣。惟須向曉清靜時，行氣大佳，能愈萬病。</p>

<h3>風鰍手足不隨候</h3>
<p>《養生方》導引法云：左右拱手，兩臂不息九通，治臂足痛，勞倦，風痹不隨。</p>

<h3>偏風候</h3>
<p>《養生方》導引法云：一手長舒仰掌合掌，一手捉頦挽之向外，一時極勢二七，左右亦然，手不動兩向側勢急挽之二七，去頭骨急強，頭風腦旋，候痹，膊內冷注偏風。</p>
<p>又云：一足翕地，一手後向長舒?努之，一手捉湧泉，急挽足努手挽，一時極勢左右易，俱二七，治上下偏風，陰氣不和。</p>

<h3>風不仁候</h3>
<p>《養生方》導引法云：赤松子曰：偃臥展，兩脛兩手，足外踵指相向，以鼻內氣，自極七息。除死肌不仁足寒。</p>
<p>又云：展兩足上，除不仁脛寒之疾也。</p>

<h3>風濕痹候</h3>
<p>《養生方》導引法云：任臂不息十二通，愈足濕痹不任行，腰脊痹痛。又正臥疊兩手，著背下伸兩腳，不息十二通，愈足濕痹不任行，腰脊痛。痹有偏患者，患左壓右足，患右壓左足，久行手亦如足用，行滿十方止。</p>
<p>又云：以手摩腹，從足至頭，正臥蜷臂導引，以手持引足住任臂，閉氣不息十二通。以治痹濕不可任，腰脊痛。</p>

<h3>風濕候</h3>
<p>《養生方》真誥云：櫛頭理髮，欲得多過，通流血脈，散風濕，數易櫛，更番用之。</p>

<h3>風鰍候</h3>
<p>《養生方》云：一曰以右踵拘左足拇趾，除風痹；二曰以左踵拘右足拇趾，除厥痹；三曰兩手更引足跗置膝上，除體痹。</p>
<p>又云：因汗入水，即成骨痹。</p>
<p>又云：偃臥合兩膝頭，翻兩足，伸腰坐，口內氣，脹腹自極七息。除痹痛熱痛，兩脛不隨。</p>
<p>又云：踞坐伸腰，以兩手引兩踵，以鼻內氣，自極七息。布兩膝頭，隊痹嘔引兩手。</p>
<p>又云：忍尿不便，膝冷成痹。</p>
<p>又云：偃臥端展兩手足臂，以鼻內氣，自極七息，搖足三十而止，除胸足寒，周身痹厥逆。</p>
<p>又云：正倚壁不息，行氣從頭至足止，愈大風偏枯諸痹。</p>
<p>又云：左右手夾據地，以仰引腰五息止，去痿痹，利九竅。</p>
<p>又云：仰兩足趾，引五息止，腰背痹枯，令人耳聞聲，久行眼耳諸根，無有掛礙。</p>
<p>又云：踞伸右腳，兩手抱左膝頭，生腰，以鼻內氣，自極七息。除難屈伸，拜起脛中痛疼痹。</p>
<p>又云：左右拱兩臂，不息九通。治臂足疼勞倦，風痹不隨。</p>
<p>又云：凡人常覺脊倔強而悶，仰面努膊，並向上頭左右兩向挪之，左右三七一住。待血行氣動定然，始更用初緩後急，不能先急後緩。若無病人，常欲得旦起午時日沒三辰，如用辰別二七，除寒熱病脊，腰頸項痛，風痹兩膝頸頭。以鼻內氣，自極七息，除腰痹背痛，口內生瘡，牙齒風頭眩盡除。</p>
<p>又云：大汗勿偏脫衣，喜偏風，半身不隨。</p>
<p>《養生經要集》云：大汗急敷粉，著汗濕衣，令人得瘡，大小便不利。</p>

<h3>風驚候</h3>
<p>《養生方》云：精藏於玉房，交接太數，則失精。失精者，令人悵悵，心常驚悸。</p>

<h2>風病諸候下</h2>

<h3>風冷候</h3>
<p>《養生方導引法》云：一足翕地，足不動，一足向側如丁字樣，轉身欹勢，並手盡急回，左右迭互。去脊風冷，偏枯不通潤。</p>
<p>又云：蹲坐身正頭平，叉手安頦下，頭不動，兩肘向上正搖，上下來去七七，亦持三七，放縱身心。去乳房風冷腫悶，魚寸不調，日日損。</p>
<p>又云：坐兩足長舒自縱，身內氣向下，使心內柔和適散。然始屈一足安膝下，長舒一足，仰足趾向上，使急仰眠，頭不至席，兩手急努向前，頭向上努挽，一時各各取勢，來去二七，迭互亦然。去腳疼腰膊，冷血冷風，日日漸損。</p>
<p>又云：長舒足，肚腹著席安，徐看氣向下，知有去處。然使著兩手掌拓席，努使臂直，散脊背氣，向下漸漸盡勢來去二七。除臟腑內宿冷，脈急腰膊風冷。</p>
<p>又云：欲以氣出汗，拳手屈膝側臥，閉氣自極欲息，氣定復閉氣，如此汗出乃止。復轉臥，以下居上，復閉氣如前，汗大出乃止。此主治身中有風寒。欲治股脛手臂痛法，屈一脛一臂，伸所病者正偃臥，以鼻引氣令腹滿，以意推之，想氣行至上，溫熱即愈。</p>
<p>又云：肚腹著席，長舒一足，向後急努足趾，一手舒向前盡勢，將一手向背上挽足倒極勢頭仰蹙背使急，先用手足斜長舒者，兩向自相挽急，始屈手足共頭，一時取勢常記動手足。先後交番，上下來去二七，左右亦然。去背項腰膝膊，並風冷疼悶，脊裡倔強。</p>
<p>又云：坐正兩手向後，捉腕反向，拓席盡勢，使復眩眩，上下七，左右換手亦然。損腹肚冷風，宿氣積，胃口冷，食飲進退，吐逆不下。</p>
<p>又云：凡學將息人，先須正坐，並膝頭足。初坐先足趾相對，足跟外扒坐上。欲安穩，須兩足跟向內，相對坐上，足趾外扒。覺悶痛，漸漸舉身，似疑便坐上，待共內坐相似不痛，如雙豎足跟向上坐上，足趾並反向外。每坐常去膀胱內氣，膝冷，兩足冷疼，上氣腰痛，儘自消適。</p>
<p>又云：長舒一足一腳，屈兩手挽膝三里，努膝向前身卻挽，一時取勢，氣內散消。如似骨解，迭互換足，各別三七。漸漸去膊脊冷風冷，血筋急。</p>
<p>又云：手兩手向後倒挽兩足，極勢，頭仰足趾內外努之，緩急來去七。始手向前直舒。足自搖，膝不動，手足各二七。去脊腰悶風冷。</p>
<p>又云：身平正舒兩手，向後極勢。屈肘向後，空捺四七，轉腰垂手向下，手掌四面轉之。去臂內筋急。</p>
<p>又云：兩手長舒合掌向下，手高舉與膊齊，極勢使膊悶痛然，始上下搖之二七，手下至膊還，上下緩急，輕手前後散振七，去膊內風冷疼，日消散。雙手前拓，努手合掌向下。</p>
<p>又云：手掌倒拓兩膊，並前極勢上下，傍兩掖急努振搖，來去三七，竟手不移處，努兩肘上急勢上下，振搖二七，欲得拳兩手七，因相將三七，去項膊筋脈，急努一手屈拳向左，一手捉肘頭向內挽之，上下一時盡勢，屈手散放舒指三，方轉手皆極勢四七，調肘膊骨筋，急強兩手拓向上，極勢上下，來去三七。</p>
<p>又云：手不動時，兩肘向上極勢七，不動手，肘臂側身極勢左右回三七，去頸骨冷氣風急。前一十二件有此法，能使氣人行之，須在疾中可量。</p>

<h3>頭面風候</h3>
<p>《養生方》云：飽食仰臥久，成病氣頭風。</p>
<p>又云：飽食沐發，作頭風。</p>
<p>又云：夏不用露面臥，露下墮面上，令面皮厚，喜成癬。一云：作面風，其湯熨針石，別有正方，補養宣導，今附於後。《養生方導引法》云：一手拓頤向上極勢，一手向後長舒急努，四方顯手掌，一時俱極勢四七，左右換手皆然，拓頤手兩向，共頭欹側，轉身二七，去臂膊頭風眠睡。</p>
<p>又云：解發東向坐，握固，不息一通，舉手左右導引，手掩兩耳，治頭風。令發不白，以手復捋頭五通脈也。</p>
<p>又云：人常須日已沒食訖，食訖，即更不須飲酒，終天不幹嘔，諸熱食膩物，不飲冷醋漿，喜失聲失咽。熱食枕手臥手，成頭風日澀。</p>
<p>又云：端坐伸腰，左右傾頭，閉目以鼻內氣，除頭風，自極七息止。</p>
<p>又云：頭痛以鼻內徐吐出氣三十過休。</p>
<p>又云：抱兩膝自棄於地，不息八通。治胸中上至頭諸病，耳目鼻喉痛。</p>
<p>又云：欲治頭痛閉氣，令鼻極偃臥乃息，汗出乃止。</p>
<p>又云：叉兩手頭後極勢振搖二七，手掌翻覆安之二七，頭欲得向後仰之，一時一勢，欲得欹斜，四角急挽之三七，去頭掖膊肘風。</p>

<h3>風頭眩候</h3>
<p>《養生方導引法》云：以兩手抱右膝著膺，除風眩。</p>
<p>又云：以兩手承轆轤倒懸，令腳反在其上元，愈頭眩風癲。坐地舒兩腳，以繩靽之，大繩靽訖，拖轆轤上來下去，以兩手挽繩，使腳上頭下，不使離地，自極十二通，愈頭眩風癲。久行，身臥空中而不墮落。</p>
<p>又云：一手長舒，合掌仰，一手捉頤挽之向外，一時極勢二七。左右亦然，手不動，兩向側極勢急挽之二七。去頸骨急強，頭風腦旋，喉痹膊內冷注偏風。</p>
<p>又云：凡人常覺脊背倔強，不問時節縮咽膊內，仰面努膊井向上，頭左右兩向挪之，左右三七一住，待血行氣動住，然始更用。初緩後急，不得先急後緩。若無病人，常欲得旦起午時日沒三辰，辰別二七。除寒熱病脊腰頸項痛風痹，口內生瘡，牙齒風頸頭眩，眾病盡除。</p>
<p>又云：坐地交叉兩腳，以兩手從曲腳中入，低頭叉項上。治久寒，不然能自濕，耳不聞聲。</p>
<p>又云：腳著項上不息十二通愈。</p>
<p>又云：大寒不覺暖熱，久頑冷，患耳聾目眩。病久行即成法，法身五六不能變也。</p>
<p>又云：低頭不息六通，治耳聾目癲眩，咽喉不利。</p>
<p>又云：伏前側牢，不息六通，愈耳聾目眩。隨左右聾，伏並兩膝，耳著地牢。強意多用力至大極，愈耳聾目眩病。久行不已，耳聞十方，亦能倒頭，則不眩也。八件有此術，亦在病疾難為。</p>

<h3>風癲候</h3>
<p>《養生方》云：夫人見十步直牆，勿順牆而臥，風利吹人，必發癲癇及體重。人臥春夏向東，秋冬向西，此是常法。其湯熨針石，別有正方，補養宣導，今附於後。《養生方導引法》云：還向反望，不息七通，治咳逆胸中病，寒熱癲疾，喉不利，咽乾咽塞。</p>
<p>又云：以兩手承轆轤倒懸，令腳反在上元，愈頭眩風癲。坐地舒兩腳，以繩靽之，以大繩靽訖，拖轆轤上來下去，以兩手挽繩，使腳上頭下，不使離地，自極十三通，愈頭眩風癲。久行，身臥空中而不墮落。</p>

<h3>風邪候</h3>
<p>《養生方導引法》云：脾主土，土暖如人肉，始得發汗，去風冷邪氣。若腹內有氣脹，先須暖足摩臍上下並氣海，不限遍數，多為佳，如得左回右轉三七，和氣如用，要用身內一百一十三法，迴轉三百六十骨節，動脈搖筋，氣血布澤，二十四氣和潤。臟腑均調，和氣在用，頭轉動搖振。手氣向上，心氣則下，分明去知來，莫問平手欹腰，轉身摩氣，屈蹙回動，盡心氣放散，送至湧泉，一一不失氣之行度，用之導益，不解用者，疑如氣亂。</p>

<h3>鬼邪候</h3>
<p>《養生方》云：上清真人訣曰，夜行常琢齒，殺鬼邪。</p>
<p>又云：仙經治百病之道，叩齒二七過，輒嚥氣二七過。如三百通乃止，為之二十日，邪氣悉去，六十日小病愈，百日大病除，三蠱伏屍皆去，面體光澤。又無生經曰：治百邪鬼蟲毒，當正偃臥閉目閉氣，內視丹田，以鼻徐徐內氣，令腹極滿，徐徐以口吐之，勿令有聲，令人多出少，以微為之，故存視五臟，各如其形色，又存胃中，令解明潔白。如素，為之倦極，汗出乃止，以粉粉身，摩捋形體，汗不出而倦者，亦可止。明日復為之。</p>
<p>又云：當存作大雷電，隆隆鬼鬼，走人腹中，為之不止，病自除去。</p>
<p>又云：封君達常乘青年，魯女生常乘駁牛，孟子綽常乘駁馬，君公度常乘青騾，時人莫知其名字為誰，故曰欲得不死，當問青牛道士，欲得此色，駁牛為上，青牛次之，駁馬又次之。三色者，順生之氣也，故云青牛者，乃柏木之精，駁牛者，古之神宗之先，駁馬者，乃神龍之祖也。云道士乘此以行於路，百物之惡精，疫氣之癘鬼，長攝之焉。</p>

<h3>風瘙身體隱軫候</h3>
<p>《養生方》云：汗出不可露臥及浴，使人身振寒熱風軫。</p>

<h3>諸癩候</h3>
<p>《養生禁忌》云：醉酒露臥，不幸生癩。</p>
<p>又云：魚無鰓不可食，食之令人五月發癩。</p>

<h2>虛勞病諸候上</h2>

<h3>虛勞候</h3>
<p>《養生方導引法》云：唯欲嘿氣養神，閉氣使極，吐氣使微，又不得多言語，大呼喚令神勞損。亦云：不可泣淚。及多唾咦，此皆為損液漏津，使喉澀大渴。</p>
<p>又云：雞鳴時叩齒三十六通訖，舐唇漱口，舌聊上齒表，咽之三過，殺蟲補虛勞，令人強壯。</p>
<p>又云：兩手拓兩頰，手不動，摟肚肘使急，腰內亦然，住定放兩肋，頭向外，肘膊氣散盡勢，大悶始起，來去七通，肘臂勞。</p>
<p>又云：兩手抱兩乳，急努前後，振搖極勢二七，手不動搖，兩肘頭上下來去三七，去兩肘內勞損，散心向下，眾血脈遍身流布無有壅滯。</p>
<p>又云：兩足跟相對坐上，兩足趾向下扒，兩膝頭拄席兩向外扒使急，始長舒兩手兩向取勢，一一皆急三七，去五功勞脊膝疼，傷冷脾痹。</p>
<p>又云：跪一足坐上，兩手䏶內卷，足努踹向下，身外扒，一時取勢向心，來去二七，左右亦然。去五勞足背疼，悶膝冷陰冷。</p>
<p>又云：坐抱兩膝下，去三里二寸，急抱向身極勢，足兩向身起，欲似胡床住勢還坐，上下來去二七，去腰足臂內虛勞膀胱冷。</p>
<p>又云外轉兩腳，平翕而坐，意努動膝節，令骨中鼓，挽向外十度，非轉也。</p>
<p>又云：兩足相翕向陰端，急蹙將兩手捧膝頭，兩向極勢捺之二七，竟身側兩向，取勢二七，前後努腰七，去心勞痔病。膝冷調和。未損盡時，須言語，不瞋喜，偏齦兩手抱膝頭，努膝向外，身手膝各兩極勢挽之三七，左右亦然，頭須左右仰扒，去背急臂勞。</p>
<p>又云：兩足相翕向陰端，急蹙將兩手捧膝頭，兩向極勢捺之二七，竟身側兩向，取勢二七，前後努腰七，去心勞痔病。膝冷調和。未損盡時，須言語。不瞋喜，偏齦兩手，抱膝頭，努膝問外，身手膝各兩極勢挽之三七，左右亦然，頭須左右仰扒。去背急臂勞。令足掌合也，蹙足極勢，兩手長舒，掌相向腦項之後，兼至膊相挽向頭膊，手向席來去七，仰手七，合手七，始兩手角上極勢，腰正足不動，去五勞七傷，齊下冷暖不和。數用之，常和調適。</p>
<p>又云：一足翕地，一足屈膝，兩手抱犢鼻下，急挽回身極勢，左右換易四七，去五勞，三里氣不下。</p>
<p>又云：蛇行氣曲臥，以正身復起踞，閉目隨氣所在，不息少食，裁通腸服氣為食，以舐為漿，春出冬藏，不財不養，以治五勞七傷。</p>
<p>又云：蝦蟆行氣，正動搖兩臂，不息十二通。以治五勞七傷，水腫之病也。</p>
<p>又云：外轉兩足十遍，引去心腹諸勞。內轉兩足各十遍，引去心五息止，去身一切諸勞疾疹。</p>

<h3>虛勞羸瘦候</h3>
<p>《養生方》云：朝朝服玉泉，使人丁壯，有顏色，去蟲而牢齒也。玉泉口中唾也，朝未起早，漱口吞之，輒琢齒二七過，如此者三乃止，名曰練精。</p>
<p>又云：咽之三過乃止，補養虛勞，令人強壯。</p>

<h3>虛勞寒冷候</h3>
<p>《養生方導引法》云：坐地交叉兩腳，以兩手從腳中入，低頭叉手項上。治久寒不能自溫，耳不聞聲。</p>

<h3>虛勞少氣候</h3>
<p>《養生方導引法》云：人能終日不唾，恆含棗核而咽之，受氣生津，此大要也。</p>

<h3>虛勞裡急候</h3>
<p>《養生方》云：正偃臥，以口徐徐納氣，以鼻出之，除裡急。飽食後，小嚥氣數十，令溫寒者，乾嘔腹痛，從口內氣七十所，大填腹後，小嚥氣數十，兩手相摩令極熱以摩腹，令氣下。</p>

<h3>虛勞體痛候</h3>
<p>《養生方導引法》云：雙手舒指向上，手掌從面向南，四方回之，屈肘上，下盡勢四七始放手向下垂之，向後雙振輕散氣二七，上下動兩膊二七，去身內臂肋疼悶，漸用之則永除。</p>
<p>又云：大箕坐以兩手捉足五趾自極，低頭不息九通，治頸脊腰腳痛勞疾。</p>
<p>又云：偃臥展兩足趾，右向直兩手身旁，鼻內氣七息，除骨痛。</p>
<p>又云：端坐伸腰，舉右手，仰其掌，卻左臂覆右手，以鼻內氣，自極七息，息間稍頓左手，除兩臂背痛。</p>
<p>又云：胡跪身向下，頭去地五寸，始舉頭，面向上，將兩手一時抽出，先左手向身用長舒，一手向後身用長舒，前後極勢二七，左右亦然。去臂骨脊筋，陰陽不和，疼悶㽲痛。</p>
<p>又云：坐一足上，一足橫鋪安膝下，押之一手捺上膝向下急，一手反向取勢，長舒頭仰向前，共兩手，一時取勢捺搖二七，左右迭互亦然，去髀胸項掖，脈血遲澀攣痛悶疼。雙足互抱安穩，始抽一足向前極勢，頭面過前兩足趾，上下來去三七，左右換足亦然，去臂腰背髀膝內疼悶不和，五臟六腑氣津調適。一足屈如向前。使膀胱著膝上，一足舒向後盡勢，足趾急努，兩手向後，形狀欲似飛仙，虛空頭昂，一時取勢二七，足左右換易一寸，去遍身不和。</p>
<p>又云：長舒兩足，足趾努向上，兩手長舒，手掌相向，手指直舒，仰頭努脊，一時極勢，滿三通，動足相去一尺，手不移處，手掌內外七通，須臾動足二尺，手向下拓席，極勢三通。去遍身內筋節勞虛，骨髓疼悶。長舒兩手向身，用上兩手足足趾，急揣心不用力，心氣並在足下，手足一時努縱極勢三七。去踹臂腰疼解谿蹙氣，日日漸損。</p>

<h3>虛勞口乾燥候</h3>
<p>《養生方導引法》云：東向坐仰頭不息五通，以舌撩口中漱滿二七咽，愈口乾。若引腎水。發醴泉，來至咽喉，醴泉甘美，能除口苦，恆香潔食甘味和正，久行不已，味如甘露，無有飢渴。</p>
<p>又云：東向坐，仰頭不息五通，以舌撩口，漱滿二七，咽，治口苦幹燥。</p>

<h2>虛勞病諸候下</h2>

<h3>虛勞膝冷候</h3>
<p>《養生方導引法》云：兩手反向拓席，一足跪坐，上一足屈，如仰面看氣通眾處散適極勢振之四七，左右亦然，始兩足向前雙翕極勢二七，去胸腹病膝冷臍悶。</p>
<p>又云：互跪調和心氣，向下至足，意想氣索索然，流布得所，始漸漸平手舒手傍肋，如似手掌內氣出，氣不上面，覺急悶即起脊至地來去三七，微減去膝頭冷、膀胱宿病，腰內脊強，臍下冷悶。</p>
<p>又云：舒兩足坐，散氣向湧泉，可三通，氣徹倒，始收右足屈卷，將兩手急捉腳湧泉，挽足翕手挽，一時取勢，手足用力，送氣向下三七，不失氣數尋，去腎內冷氣，膝冷腳疼。</p>
<p>又云：跪一足坐上，兩手䏶內卷足努踹向下，身外扒，一時取勢向心，來去二七，左右亦然，去痔，五勞，足臂疼悶，膝冷陰冷。</p>
<p>又云：臥展兩脛，足十趾相柱，伸兩手身旁，鼻內氣七息，除兩脛冷，腿骨中疼。</p>
<p>又云：偃臥展兩脛兩手外踵者相向，亦鼻內氣自極七息，除兩膝寒，脛骨疼，轉筋。</p>
<p>又云：兩足趾向下柱席，兩湧泉相拓，坐兩足跟頭，兩膝頭外扒，手身前向下，盡勢七通，去勞損陰疼，膝冷脾瘦腎干。</p>
<p>又云：兩手抱兩膝，極勢來去搖之七七，仰頭向後，去膝冷。</p>
<p>又云：偃臥展兩脛，兩足趾左向直兩手身旁，鼻內氣七息，除死肌及脛寒。</p>
<p>又云：立兩手搦腰遍，使身正放縱，氣下使得所，前後振搖七七，足並頭兩向振搖二七，頭上下搖之七，縮咽舉兩膊，仰柔脊冷氣散冷臟腑氣向湧泉通徹。</p>
<p>又云：互跪兩手向後掌合地，出氣向下，始漸漸向下，覺腰脊大悶還上，來去二七，身正左右散氣，轉腰三七，去臍下冷悶，膝頭冷，解谿內病。</p>

<h3>虛勞陰痛候</h3>
<p>《養生方導引法》云：兩足趾向下柱席，兩湧泉相拓，坐兩足跟頭兩膝頭外扒，手身前向下，盡勢七通，去勞損陰疼膝冷。</p>

<h3>虛勞陰下癢濕候</h3>
<p>《養生方導引法》云：臥令兩手布膝頭，取踵置尻下，以口內氣腹脹自極，以鼻出氣七息，陰下濕，少腹裡痛，膝冷不隨。</p>

<h3>風虛勞候</h3>
<p>《養生方導引法》云：屈一足趾向地努之，使急一手倒挽足，解谿向心極勢，腰足解谿頭如似骨解氣散。一手向後拓席，一時盡勢三七，左右換手亦然，去手足腰膊，風熱急悶。</p>
<p>又云：仰頭卻背，一時極勢手向下至膝頭，直腰面身正還上去三七，始正身縱手向下，左右動搖二七，上下挽背脊七，漸去背脊臂膊腰冷不和。頭向下努，手長舒向背上高舉手向上，共頭漸漸五寸，一時極勢手還收向心前，向背後去來和諧，氣共力調，不欲氣強於力，不欲力強於氣，二七，去胸背前後筋脈不和，氣血不調。</p>
<p>又云：伸左脛屈右膝內壓之，五息止，引肺去風虛，令人目明，依經為之引肺中氣，去風虛病，令人目明，夜中見色，與晝無異。</p>

<h2>腰背病諸候</h2>

<h3>腰病候</h3>
<p>《養生方》云：飯了勿即臥，久成氣病，令腰疼痛。又曰：大便勿強努，令人腰疼目澀。</p>
<p>又云：笑多即腎轉腰痛。</p>
<p>又云：人汗次勿企床懸腳，久成血痹，兩足重及腰痛。</p>
<p>《養生方導引法》云：一手向上極勢，手掌四方轉回，一手向下努之，合手掌努指，側身欹形轉身，向似看手掌向上，心氣向下，散適知氣下緣上，始極勢左右上下，四七亦然，去膊並肋腰脊疼悶。</p>
<p>又云：平跪長伸兩手，拓席向前，待腰脊須轉，遍身骨解氣散，長引腰極勢。然始卻跪，便急如似脊內冷氣出，許令臂膊痛，痛欲似悶痛，還坐來去二七，去五臟不和，背痛悶。</p>
<p>又云：凡人常須覺脊強，不問時節，縮咽轉內似回，搏內似面，努搏並向上也，頭左右兩向按之，左右三七一住，待血行氣動定，然始更用。初緩後急，若無病人，常欲得旦起午時日沒三辰，如用辰別三七，除寒熱脊腰頸痛。</p>
<p>又云：舒兩足足趾努上，兩手長舒，手掌相向，手指直舒，仰頭努脊，一時極勢，滿三通，動足相向一尺，手不移處，手掌向外七通，更動足二尺，手向下拓席，極勢三通。去遍身內筋脈虛勞，骨髓疼悶。長舒兩足，身角上，兩手捉兩足趾，急搦心不用力，心氣並在足下，手足一時努縱，極勢三七。去踹臂腰痛，解谿足氣，日日漸損。</p>
<p>又云：凡學將息人，先須正坐，膝頭足初坐先足趾趾相對，足跟外扒，坐上少欲安穩，須兩足跟向內相對，坐上足趾只覺悶痛。漸漸舉身似款，便兩足上待共坐相似不痛，始雙豎足跟而上足趾並反而向外。每坐常學，去膀胱內冷麵冷風膝冷足疼，上氣腰疼，儘自消適也。</p>

<h3>腰痛不得俯仰候</h3>
<p>又云：伸兩足兩手著五指上，愈腰折不能低著，唾血久疼愈。</p>
<p>又云：長伸兩腳，以兩手捉五指七遍，愈折腰不能低仰也。</p>

<h3>脅痛候</h3>
<p>《養生方導引法》云：卒左脅痛，念肝為青龍，左目中魂神將五，營兵千乘萬騎，從甲寅直符吏入左脅下，取病去。</p>
<p>又云：右脅痛，念肺為白帝，右目中魄神將五，營兵千乘萬騎，從甲申直符吏入右脅下，取病去。脅側臥伸臂直腳，以鼻內氣，以口出之，除脅皮膚痛，七息止。</p>
<p>又云：端坐生腰，右顧視月，口內氣咽之三十，除左脅痛，開目。</p>
<p>又云：舉手交頂上相握自極，治脅下痛。坐地交兩手著不周，遍握當挽，久行實身如金剛，令息調長，如風雲如雷。</p>

<h2>消渴諸痛候</h2>

<h3>消渴候</h3>
<p>《養生法》云：人睡臥勿張口，久成消渴及失血色。赤松子云：臥閉目不息十二通，治飲食不消。</p>
<p>《法》云：解衣惔臥伸腰，瞋少腹，五息止，引腎去消渴，利陰陽。解衣者，使無掛礙；惔臥者，無外想，使氣易行；伸腰使腎無逼蹙；瞋者，大努使氣滿；小腹者，即攝腹牽氣使上息；即為之引腎者，引水來咽喉潤上部，去消渴枯槁病；利陰陽者，饒氣力，此中數虛。要與時節而為避，初食後大飢時，此二時不得導引，傷人亦避，惡日時節不和時亦避。導已，先行一百二十步，多者千步，然後食之。法不使大冷大熱，五味調和，陳穢宿食，蟲蠍余殘不得食，少眇著口中數嚼，少湍咽食已，亦勿眠，此名谷藥，並與氣和，即真良藥。</p>

<h2>傷寒病諸候</h2>

<h3>傷寒候</h3>
<p>《養生方導引法》云：端坐伸腰，徐以鼻內氣，以右手持鼻閉目吐氣，治傷寒頭痛洗洗，皆當以汗出為度。</p>
<p>又云：舉左手頓左足仰掌，鼻內氣四十息之，除身熱背痛。</p>

<h2>溫病諸候</h2>

<h3>溫病候</h3>
<p>《養生方導引法》云：常以雞鳴時存心念四海神名三遍，闢百邪正鬼，令人不病。</p>
<p>東海神名阿明，南海神名祝融，西海神名巨乘，北海神名禺強。</p>
<p>又云：存念心氣赤，肝氣青，肺氣白，脾氣黃，腎氣黑。出周其身，又兼避邪鬼，欲闢卻眾邪百鬼，常存心為炎火如斗，煌煌光明，則百邪不敢幹之，可以入溫疫之中。</p>

<h2>疫癘病諸候</h2>

<h3>疫癘病候</h3>
<p>《養生方》云：封君達常乘青牛，魯女生常乘駁牛，孟子綽常乘駁馬，尹公度常乘青騾，時人莫知其名字為誰。故曰欲得不死，當問青牛道士。欲得此色，駁牛為上，青牛次之，駁馬又次之。三色者，順生之氣也。云。古之青牛者，乃柏木之精也；駁牛者，古之神宗之先也；駁馬者，乃神龍之祖也。云道士乘此以行於路，百物之惡精，疫氣之癘鬼，將長揖之焉。延年之道，存念心氣赤、肝氣青、肺氣白、脾氣黃、腎氣黑，出周其身。又兼辟邪鬼，欲闢卻眾邪百鬼，常存心為炎火如斗，煌煌光明，則百邪不敢幹之，可以入溫疫之中。</p>

<h2>冷熱病諸候</h2>

<h3>病熱候</h3>
<p>《養生方導引法》云：偃臥合兩膝，布兩足而生腰，口內氣，振腹七息，除壯熱疼痛，通兩脛不隨。</p>
<p>又云：覆臥去枕，立兩足，以鼻內氣四十所，復以鼻出之，極令微氣入鼻中，勿令鼻知，除身中熱背痛。</p>
<p>又云：兩手卻據仰頭向日以口內氣，因而咽之數十，除熱身中傷死肌。</p>

<h3>冷熱候</h3>
<p>《養生方導引法》云：一足向下踏地，一足長舒向前，極勢手掌四方取勢，左右換易四七。去腸冷腰脊急悶骨疼，令使血氣上下布潤。</p>
<p>又云：兩足相合，兩手仰捉兩腳，向上急挽，頭向後振勢極三七。欲得努，足手兩向舒張，身手足極勢二七。去竅中生百病，下部虛冷。</p>
<p>又云：叉跗。兩手反向拓席，漸漸向後努齊，腹向前散氣，待火急還放，來去二七。去齊下冷，腳疼，五臟六腑不和。</p>
<p>又云：兩手向後拓腰蹙膊，極勢左右轉身，來去三七。去腹肚臍冷，兩膊急，胸掖不和。</p>
<p>又云：牙跪兩手向後，手掌合地，出氣向下，始漸漸向下，覺腰脊大悶，還上來去二七，身正左右散氣，膊腰三七。去臍下冷，解谿內疼痛。</p>

<h3>寒熱厥後</h3>
<p>《養生方導引法》云：正偃臥，展兩足，鼻內氣自極，搖足三十過止，除足寒厥逆也。</p>

<h2>氣病諸候</h2>

<h3>上氣候</h3>
<p>《養生方》：飲水勿急咽，久成氣病。</p>
<p>《養生方導引法》云：兩手向後合手，拓腰向上極勢，振搖臂肘，來去七。始得手不移，直向上向下，盡勢來去二七。去脊心肺氣壅悶散消正坐，並膝頭足，初坐先足趾相對，足跟外扒坐止，少欲安穩，須兩足跟向內相對坐，足趾外扒覺悶痛，漸漸舉手，似款便坐，足上待共內坐，相似不痛，始雙豎腳跟向上坐上，足趾並反向外。每坐常覺，去膀胱內冷膝風冷足疼上氣腰痛，儘自消適也。</p>
<p>又云：兩足兩指相向五息，正引心肺去厥逆上氣，極用力令兩足相向意止，引肺中氣出，病人行肺內外展轉屈伸，隨無有違逆。</p>

<h3>卒上氣候</h3>
<p>《養生方導引法》云：兩手交叉頤下自極，致補氣，治暴氣咳。以兩手交頤下，各把兩頤脈，以頤句交中急牽來著喉骨，自極三通，致補氣充足，治暴氣上氣瀉喉等病，令氣調長，音聲宏亮。</p>

<h3>結氣候</h3>
<p>《養生方》云：哭泣悲來訴哭訖，不用即食，久成氣病。</p>
<p>《養生方導引法》云：坐生腰，舉左手仰其掌，卻右臂覆右手，以鼻內氣，自七息，息間稍頓右手，除兩臂背痛結氣。</p>
<p>又云：端坐生腰，舉左手仰掌，以右手承右脈，以鼻內氣，自極七息，除結氣。</p>
<p>又云：兩手拓肘頭拄席努肚上極勢，待大悶始下，來去上下五七，去脊背體內疼，骨節急強，肚腸宿氣。行忌太飽，不得用肚編也。</p>

<h3>逆氣候</h3>
<p>《養生方導引法》云：以左足踵拘右足拇趾，鼻內氣，自極七息，除癖逆氣。</p>

<h2>腳氣病諸候</h2>

<h3>腳氣緩弱候</h3>
<p>《養生方導引法》云：坐兩足長舒，自縱身內氣，向下使心內柔和適散，然後屈一足安膝下努長，舒一足，仰取指向上便急仰眠，頭不至席，兩手急努向前，頭向上努挽一時。各各取勢，來去二七，遁互亦然。去腰疼腰膊，冷血冷風痹，日日漸損。</p>
<p>又云：覆臥傍視內踵生腰，以鼻內氣，自極七息，除腳中弦痛，轉筋腳痠疼，腳痹弱。</p>
<p>又云：舒兩足坐，散氣向湧泉，可三通，氣徹倒始收。右足屈倦，將兩手急捉腳湧泉挽足踏手挽，一時取勢，手足用力，逆氣向下三七，不失氣數尋，去腎內冷氣膝冷腳疼也。</p>
<p>又云：一足屈之足趾仰使急，一足安膝頭心散心，兩足跟出氣向下，一手拓膝頭向下急捺，一手向後拓席。一時極勢，左右亦然，二七，去膝髀疼急。</p>
<p>又云：一足踏地，一足向後，將足解谿安踹上，急努兩手偏相，向後側身如轉，極勢二七，左右亦然，去足疼痛痹急腰痛也。</p>

<h2>咳嗽病諸候</h2>

<h3>咳逆候</h3>
<p>《養生方導引法》云：先以鼻內氣，乃閉口咳還，復以鼻內氣咳則愈。向晨去枕，正偃臥，伸臂頸，瞑目閉口，無息極，脹腹兩足再頃間吸腹，仰兩足倍拳，欲自微息。定復為之，春三夏五秋七冬九，盪滌五臟，津潤六腑。</p>
<p>又云：還向反望倒，不息七通，治咳逆胸中病寒熱也。</p>

<h2>五臟六腑病諸候</h2>

<h3>肝病候</h3>
<p>《養生方》云：春三月此謂發陳，天地俱生，萬物以滎，夜臥早起，闊步於庭，被髮緩形，以使春志生。生而勿殺，與而勿奪，賞而勿罰，此春氣之應也，養生之道也。逆之則傷於肝，夏變為寒，則奉長生者少。</p>
<p>又云：肝臟病者，愁憂不樂，悲思嗔怒，頭旋眼痛，呵氣出而愈。</p>

<h3>心病候</h3>
<p>《養生方》云：夏三月此謂蕃莠，天地氣交萬物英實。夜臥早起，無厭於日，使志無怒，使華英成秀，使氣得泄。若所受在外，此夏氣之應，養長之道也。逆之則傷心，秋為痎瘧。</p>
<p>《養生方導引法》云：心臟病者，體有冷熱，若冷呼氣入，若熱吹氣出。</p>
<p>又云：左臥口內氣鼻出之，除心下不便也。</p>

<h3>脾病候</h3>
<p>《養生方》云：脾臟病者，體面上游風習習痛，身體癢煩滿疼痛，用嘻氣出。</p>

<h3>肺病候</h3>
<p>《養生方》云：多語則氣爭，肺脹口燥。</p>
<p>又云：秋三月此謂容平，天氣以急，地氣以明。早臥早起，與雞俱興，使志安寧，以緩秋形，收斂神氣，使秋氣平，無外其志，使肺氣清。此秋氣之應也，收養之道也。逆之則傷肺，冬為泄，其湯熨針石，別有正方，補養宣導，今附於後。</p>
<p>《養生方導引法》云：肺臟病者，體胸背痛滿，四肢煩悶，用噓氣出，以兩手據地覆之，口內氣鼻出之，除胸中肺中病也。</p>

<h3>腎病候</h3>
<p>《養生方》云：冬三月此謂閉臟，水冰地圻，無擾乎陽。早臥晚起，必待日光，使志若伏匿，若有私意，若有得去寒就溫，無泄皮膚，使氣亟奪，此冬氣之應也，養臟之道也。逆之則傷腎，春為萎厥。</p>
<p>《養生方導引法》云：腎臟病者，咽喉窒塞，腹滿耳聾，用呬氣出。</p>
<p>又云：兩足交坐，兩手捉兩足解谿，挽之極勢，頭仰來去七，去腎氣壅塞。</p>

<h3>膀胱病候</h3>
<p>《養生方導引法》云：蹲坐欹身，努兩手向前，仰掌極勢左右轉身腰三七，去膀胱內冷血風，骨節急強。</p>
<p>又云：互跪調和，心氣向下至足，意里想氣索索然，流布得所，始漸漸平身舒手傍肋，如似手掌內氣出氣不止，面覺急悶即起，皆至地來去二七，微減膝頭冷，膀胱病宿腰脊強，臍下冷悶。</p>

<h2>腹痛病諸候</h2>

<h3>腹痛候</h3>
<p>《養生方導引法》云：治股脛手臂痛，法屈一脛臂中所痛者，正偃臥口鼻閉氣，腹痛以意推之，想氣往至痛，上俱熱即愈。</p>
<p>又云：偃臥展兩脛兩手仰足趾，以鼻內氣，自極七息，除腹中弦急切痛。</p>
<p>又云：偃臥口內氣鼻出之，除裡急，飽嚥氣數十，令溫中寒，干吐嘔腹痛，口內氣七十，所大振腹。嚥氣數十，兩手相摩令熱，以摩腹令氣下。</p>
<p>又云：偃臥仰兩足兩手，鼻內氣七息，除腹中弦切痛。</p>

<h3>腹脹候</h3>
<p>《養生方導引法》云：蹲坐住心卷兩手，發心向下，左右手搖臂，遁互欹身盡，膊勢，卷頭築肚，兩手衝脈至臍下，來去三七，漸去腹脹肚急，悶食不消化。</p>
<p>又云：腹中苦脹有寒，以口呼出氣三十過止。</p>
<p>又云：若腹中滿，食飲苦飽，端坐生腰，以口內氣數十，滿吐之，以便為故，不便復為之，有寒氣腹中不安，亦行之。</p>
<p>又云：端坐生腰，口內氣數十，除腹滿，食飲過飽，寒熱腹中痛病。</p>
<p>又云：兩手向身側一向，偏相極勢，發頂足氣散下欲似爛物解散，手掌指直舒，左右相皆然，來去三七。始正身前後轉動膊腰七，去腹肚脹，膀胱腰脊臂冷血脈急強悸也。</p>
<p>又云：若腹內滿，飽食善飽，端坐生腰，以口內氣數十，以便為故，不便復為。</p>
<p>又云：脾主土，暖如人肉，如始得發汗，去風冷邪氣。若腹內有氣脹，先須暖足摩上下，並氣海不限遍數，多為佳，始得左回右轉立七，和氣。如用腰身內，一日一十三法，迴轉三百六十，骨節動脈搖筋，氣血布澤，二十四氣和潤，臟腑均調和氣。用頭動搖振，手氣向上，心氣向下，分明知去來，莫閣平手欹腰轉身，摩氣蹙回動盡，心氣放散，送至湧泉，一一不失氣之行度，用之有益。不解用者，疑如氣亂。</p>

<h2>心腹痛病諸候</h2>

<h3>心腹痛候</h3>
<p>《養生方導引法》云：行大道常度日月星辰清淨，以雞鳴安身臥，嗽口三咽之，調五臟殺蠱蟲，令人長生，治心腹痛。</p>

<h3>心腹脹候</h3>
<p>《養生方導引法》云：伸右脛屈左膝內壓之，五息，引脾去心腹寒熱，胸臆邪脹。依經為之，引脾中熱氣出去，腹中寒熱，胸臆中邪氣脹滿。久行無有寒熱時節之所中傷，名為真人之方。</p>

<h2>痢病諸候</h2>

<h3>水穀痢候</h3>
<p>《養生方》云：秋三月此謂容平，天氣以急，地氣以明。早臥早起，與雞俱興，使志安寧，以緩秋形，收斂神氣，使秋氣平，無外其志，使肺氣精。此秋氣之應也，收養之氣也。逆之則傷肺，冬為餐泄。</p>
<p>又云：五月勿食未成核果及桃棗，發癰癤，不爾發寒熱，變黃疸，又為泄痢。</p>

<h3>冷熱痢候</h3>
<p>《養生方導引法》云：泄下有寒者，微引氣以息，內腹徐吹欲息，以鼻引氣，氣足復前即愈。其有熱者，微呼以去之。</p>

<h2>濕䘌病諸候</h2>

<h3>濕簸候</h3>
<p>又云：有天行之濕，初得不覺，行坐不發，恆少氣力，或微利，或不利，病成則變嘔吐，即是蟲內食於臟。</p>
<p>又云：有急結濕，先因腹痛下利，膿血相兼。出病成翻，大小便不通，頭項滿痛，小腹急滿，起坐不安。亦是內食五臟，凡如此，雖初證未發於外，而心腹亦常煩懊。至於臨困，唇口及肛門方復生瘡即死也。</p>

<h3>疳簸候</h3>
<p>又云：五疳一是白疳，令人皮膚枯燥，面失顏色。二是赤疳，內食人五臟，令人頭髮焦枯。三是曉疳，食人脊膂，遊行五臟，體重脬腫。四是疳䘌，食人下部，疼癢腰脊攣急。五是黑疳，食人五臟，多下黑血，數日即死。凡五疳白者輕，赤者次，曉疳又次之，疳䘌又次之，黑者最重。皆從腸里上食咽喉齒斷並生瘡，下至穀道傷爛，下利膿血，嘔逆，手足心熱，腰痛嗜睡，秋冬可，春夏極。</p>
<p>又云：面青頰赤，眼無精光，唇口燥，腹脹有塊，日日瘦損者，是疳食人五臟，至死不覺。</p>
<p>又云：五疳緩者，則變成五蒸。五蒸者，一曰骨蒸，二曰脈蒸，三曰皮蒸，四曰肉蒸，五曰血蒸。其根源初發，形候雖異，至於蒸成為病，大體略同，皆令人腰疼心滿，虛乏無力，日漸羸瘦，或寒熱無常，或手足煩熱，或逆冷，或利或澀，或汗也。五蒸別自有論，與虛勞諸病相從也。</p>

<h3>三蟲候</h3>
<p>《養生方導引法》云：以兩手著頭相叉，長氣即吐之，坐地緩舒兩腳，以兩手外抱膝中，疾低頭入兩膝間，兩手交叉頭上十三通，愈三尸也。</p>
<p>又云：叩齒二七過，輒嚥氣二七，如三百通乃止。為之二十日，邪氣悉去，六十日小病愈，百日大病除，三蟲伏屍皆去，體面光澤也。</p>

<h2>積聚病諸候</h2>

<h3>積聚候</h3>
<p>《養生方導引法》云：以左足踐右足上，除心下積。</p>
<p>又云：病心下積聚，端坐生腰，向日仰頭，除以口內氣，因而咽之三十過而止，開目。</p>
<p>又云：左脅側臥，伸臂直腳，以口內氣鼻吐之，通而復使，除積聚心下痞硬。</p>
<p>又云：以左手按右脅，右手極形，除積及老血。</p>
<p>又云：閉口微息正坐，向王氣張鼻，取氣逼置臍下，小口微出十二通氣，以除結聚。低頭不息十二通，以消飲食，令身輕強。行之冬月，令人不寒。</p>
<p>又云：端坐生腰直上，展兩臂，仰兩手掌，以鼻內氣，閉之自極七息，名曰蜀王喬，除脅下積聚。</p>
<p>又云：向晨去枕正偃臥，伸臂脛瞑目閉口不息，極張腹兩足再息，頃間吸腹，仰兩足倍拳，欲自微息定，復為春三夏五秋七冬九，盪滌五臟，津潤六腑，所病皆愈。腹有疾積聚者，張吸其腹，熱乃止，癥瘕散破即愈矣。</p>

<h3>痰飲候</h3>
<p>《養生方導引法》云：左右側臥不息十二通，治痰飲不消。右有飲病，右側臥；左有飲病，左側臥；又有不消氣排之左右，各十有二息，治痰飲也。</p>

<h3>諸飲候</h3>
<p>《養生方導引法》云：行左之右之，側臥閉目，氣不息十二通，治諸飲不消。右有飲病，左不息排下消之。</p>
<p>又云：鶩行氣低頭倚壁，不息十二通，以意排之，痰飲宿食從下部出。愈鶩行氣者，身置頸曲，排氣下行，而一通愈宿食。久地自然能出，不須孔塞也。</p>

<h2>癖病諸候</h2>

<h3>癖候</h3>
<p>《養生方》云：臥覺勿飲水，更眠令人作水癖。</p>
<p>又云：飲水忽急咽，久成水癖。</p>
<p>又云：舉兩膝夾兩頰邊，兩手據地蹲坐，故久行之愈伏梁。伏梁者，宿食不消成癖，腹中如杯如盤。宿癰者，宿水宿氣，癖數生癰。久行腸化為筋，骨變為實。</p>

<h2>脾胃病諸候</h2>

<h3>脾胃氣不和不能飲食候</h3>
<p>《養生方導引法》云：欹身兩手一向偏側，急努身舒頭共手，兢扒相牽，漸漸一時盡勢，氣共力皆和，來去左右亦然，各三七，項前後兩角緩舒手，如是似向外扒，放縱身心搖三七，遁互亦然。去太倉不和，臂腰虛悶也。</p>

<h2>嘔噦病諸候</h2>

<h3>嘔吐候</h3>
<p>《養生方》云：八月勿食姜。一云被霜瓜。向冬發寒熱及溫病，食欲吐，或心中停飲不消，或為反胃。</p>
<p>《養生方導引法》云：正坐兩手向後捉腕，反拓席盡勢使，腹弦弦上下七，左右換手亦然。除腹肚冷，風宿氣積，胃口冷，食飲進退，吐逆不下。</p>
<p>又云：偃臥展脛兩手，左蹺兩足腫，以鼻內氣，自極七息，除腰中病食苦。</p>
<p>又云：坐直舒兩腳，以兩手挽兩足，自極十二通，愈腸胃不能受食，吐逆，以兩手直叉兩足底，兩腳痛舒，以頭枕膝上，自極十二通，愈腸胃不能受食，吐逆。</p>

<h3>宿食不消候</h3>
<p>《養生方導引法》云：凡食訖覺腹內過飽，腸內先有宿氣，常須食前後兩手撩膝，左右欹身，肚腹向前努，腰就肚左三七，右二七，轉身按腰脊極勢，去太倉腹內宿氣不化，脾痹腸瘦，臟腑不和，得令腹脹滿，日日消除。</p>
<p>又云：閉口微息，正坐向王氣張鼻取氣，逼至臍下，小口微出十二通氣，以除結聚。低頭不息十二通，以消飲食，令身輕強，行之冬月不寒。</p>
<p>又云：端坐生腰，舉右手仰掌，以左手承左脅，以鼻內氣，自極七息，所除胃寒，食不變則愈。</p>
<p>又云：端坐生腰，舉右手承左脅，以鼻內氣七息，除胃中寒，食不消。</p>
<p>又云：鶩行氣低頭，倚壁不息十二通，以意排痰飲，宿食從下部出，自愈。鶩行氣者，身直頸曲，排氣下行，十二通，愈宿食。</p>
<p>又云：雁行氣低，臂推膝踞，以繩自縛拘，左低頭不息十二通，消食輕身，益精神，惡氣不入，去萬邪。一本云：正坐仰天呼吸天精，解酒食飲飽，出氣吐之數十，須臾立飢且醒。夏月行之，令人清涼。</p>

<h3>食傷飽候</h3>
<p>《養生方導引法》云：若腹中滿，食飲若飽。端坐生腰，以口內氣數十，滿吐之，以便為故。不便復為之，有寒氣腹中不安亦得之。</p>
<p>又云：端坐生腰，口內氣數十，除腹中滿，食飲過飽，寒熱腹中痛病。</p>

<h1>卷下·續編</h1>

<h2>水腫病諸候</h2>

<h3>水腫候</h3>
<p>《養生方》云：十一月勿食經夏自死肉脯，內動於腎，喜成水病。其湯熨針石，別有正方，補養宣導，今附於後。</p>
<p>《養生方導引法》云：蝦蟆行氣正坐，動搖兩臂，不息十二通，以治五勞水腫之病。又云：人臥勿以腳懸蹋高處，不久遂致成腎水也。</p>

<h2>霍亂病諸候</h2>

<h3>霍亂候</h3>
<p>《養生方》云：七月食蜜，令人暴下，發霍亂。</p>

<h3>霍亂轉筋候</h3>
<p>《養生方導引法》云：偃臥展兩脛，兩手外踵者相向，以鼻內氣，自極七息，除兩膝寒，脛骨疼轉筋。</p>
<p>又法：覆臥傍視立兩踵，生腰，鼻內氣，去轉筋。</p>
<p>又云：張脛兩足趾號五息，令人不轉筋。極自用力張腳痛，挽兩趾號，言寬大去筋節急攣躄痛，久行身開張。</p>
<p>又云：覆臥傍視立兩踵，生腰，以鼻內氣，自極七息已，除腳中弦痛，轉筋腳痠疼。一本云「治腳弱」。</p>

<h3>霍亂筋急候</h3>
<p>《養生方導引法》云：兩手抱足，頭不動，足向口，面不受氣，眾節氣散，來往三七。欲得捉足，左右側身，各各急挽，腰不動，去四肢腰上下髓內冷血，脈冷筋急。</p>
<p>又云：一足向前互跪，押踹極勢，一手向前長努拓勢，一足向後屈，一手搦解谿，急挽盡勢，膝頭摟席使急，面頭漸舉，氣融散流，上下左右換易四七，去腰伏菟腋下悶疼，髓筋急。</p>
<p>又云：長舒一足屈一足，兩手抱膝三里，努膝向前，身卻挽一肘取勢，氣內散消，如似骨解，遁互換足，各別三七，漸漸去膊脊冷風冷血筋急。</p>
<p>又云：張脛兩足趾號，五息止，令人不轉筋。極自用力張腳，痛挽兩足趾號，言寬大去筋節急攣躄痛，久行身開張。</p>
<p>又云：雙手反向拓腰，仰頭向後努急，手拓處不動展兩肘頭相向，極勢三七，去兩臂膊筋急，冷血咽骨掘弱。</p>
<p>又云：一手拓前極勢長努，手向後長舒，盡勢身似天形，左右迭互換手亦二七，腰脊不動，去身內八節骨內冷血，筋虛，項膊急。</p>
<p>又云：一足蹋地，一手向前長舒，一足向後極勢長舒，一手一足一時盡意急振二七，左右亦然。去髓疼筋急，百脈不和。</p>
<p>又云：兩手掌倒拓兩膊並前，極勢上下傍兩掖急努，振搖來去三七，竟手不移處，努兩肘向上，急勢上下振搖二七，欲得卷兩手七，自相將三七，去項膊筋脈急勞。一手屈卷向後，左一手捉肘頭向內挽之，上下一時盡勢，屈手散放舒指三，左轉手皆極勢四七，調肘膊骨筋急。張兩手拓向上，極勢上下，來往三七，手不動將兩肘向極勢七，不動手肘臂側身極勢，左右回三七，去脛骨冷氣風急。</p>

<h2>中惡病諸候</h2>

<h3>中惡卒魘候</h3>
<p>《養生方導引法》云：拘魂門，制魄戶，名曰握固法。屈大拇指著四小指內抱之，積習不止，眠時亦不復開，令人不魘魅。</p>
<p>又云：人魘勿然明喚之，魘死不疑，暗喚之，唯好得遠喚，亦不得近而急喚，亦喜失魂魄。</p>

<h3>自縊死候</h3>
<p>又云：自縊死，旦至暮雖已冷，必可治，暮至旦則難治。此謂其晝則陽盛，其氣易通，夜則陰盛，其氣難通。</p>
<p>又云：夏則夜短又熱則易活。</p>
<p>又云：氣雖已斷，而心微溫者，一日以上猶可活也。</p>

<h2>屍病諸候</h2>

<h3>伏屍候</h3>
<p>《養生方導引法》云：叩齒二七過，輒嚥氣二七過此三百通乃止，為之二十日，邪氣悉去。六十日小病愈。百日大病除，伏屍皆去，面體光澤。</p>

<h2>注病諸候</h2>

<h3>諸注候</h3>
<p>《養生方》云：諸濕食不見影，食之成卒注。</p>

<h3>風注候</h3>
<p>《養生方導引法》云：兩手交拓兩膊頭面，兩肘頭仰上極勢，身平頭仰，同時取勢，肘頭上下三七搖之。去膊肘風注，咽項急，血脈不通。</p>

<h3>冷注候</h3>
<p>《養生方導引法》云：一手長舒合掌，一手捉頦挽之向外，一時極勢二七，左右亦然。手不動兩向側勢急挽之二七，去頸骨急強頭風腦旋喉痹膊內冷注偏風。</p>

<h3>走注候</h3>
<p>《養生方》云：食米甘甜粥，變成走注，又兩脅也。</p>

<h2>蠱毒病諸候上</h2>

<h3>蠱毒候</h3>
<p>《養生方導引法》云：兩手著頭相叉坐地，緩舒兩腳，以兩手從外抱膝中，痛低頭入兩膝間，兩手交叉頭十二通。愈蠱毒及三尸毒，腰中大氣。</p>
<p>又云：常度日月星辰清淨，以雞鳴安身臥，嗽口三咽之，調五臟，殺蠱蟲，令人長生，治心腹痛。</p>
<p>又云：治百病邪蠱，當正偃臥，閉目閉氣，內視丹田，以鼻徐徐內氣，令腹極滿，徐徐以口吐之，勿令有聲，令入多出少，以微為故。存視五臟，各如其形色，又存胃中，令鮮明潔白如素，為之倦極，汗出乃止，以粉粉身，摩捋形體。汗不出而倦者，亦可止，明日復為之。又當存作大雷電隆晃走入腹中，為之不止，病自除。</p>

<h2>蠱毒病諸候下</h2>

<h3>飲酒中毒候</h3>
<p>《養生方》云：正坐仰天，呼出酒食醉飽之氣，出氣之後，立飢且醒。</p>

<h2>血病諸候</h2>

<h3>吐血候</h3>
<p>《養生方》云：思慮傷心，心傷則吐衄，發則發焦也。</p>

<h3>唾血候</h3>
<p>《養生方導引法》云：伸兩腳兩手指著足五趾上，愈腰折不能低，若唾血久疼為之愈。長伸兩腳，以兩手捉五趾七遍，愈腰折不能低仰，若唾血久疼血病，久行身則可卷轉也。</p>

<h3>小便血候</h3>
<p>《養生方》云：人食甜酪，勿食不酢，必變為尿血。</p>

<h2>發毛病諸候</h2>

<h3>鬚髮禿落候</h3>
<p>《養生方》云：熱食汗出勿傷風，令發墮落，其湯熨針石，別有正方，補養宣導，今附於後。</p>
<p>《養生方導引法》云：欲理髮向王地，既櫛發之始而微咒曰，泥丸玄華，保精長存，左為隱月，右為日根，六合清煉，百神受恩。咒畢唾三過，能常行之，發不落而生。</p>
<p>又云：當數易櫛，櫛之取多，不得使痛，亦可令侍者櫛取多，血液不滯，髮根常牢。</p>

<h3>白髮候</h3>
<p>《養生方導引法》云：解發東向坐，握固不息一通，舉左右手導引，手掩兩耳，治頭風，令發不白，以手復持頭五通脈也。</p>
<p>又云：清旦初起，左右手交互，從頭上挽兩耳舉，又引鬚髮即流通。</p>
<p>又云：坐地直兩腳，以兩手指腳脛，以頭至地，調脊諸椎，利髮根，令長美。坐舒兩腳相去一尺，以扼腳兩脛，以頂至地十二通，調身脊無患害，致精氣潤澤，髮根長美者，令青黑柔濡滑澤，發恆不白。</p>
<p>又云：伏解發東向握固，不息一通。舉手左右導引。掩兩耳，令發黑不白，伏者雙膝著地，額直至地，解發破髻，舒頭長敷在地。向東者向長生之術，握固兩手，如嬰兒握，不令氣出，不息不使，息出極悶已，三噓而長細引，一通者一為之。令此身囊之中滿，其氣引之，此舊身內惡邪，伏氣隨引而出，故名導引。舉左右手各一通，掩兩耳塞鼻孔三通，除白髮患也。</p>
<p>又云：蹲踞以兩手舉足五趾，低頭自極，則五臟氣遍至，治耳不聞，目不明，久為之，則令發白復黑。</p>
<p>又云：正月十日沐發，發白更黑。</p>
<p>又云：千過流頭，頭不白。</p>
<p>又云：正月一日取五香煮作湯，沐頭不白。</p>
<p>又云：十日沐浴頭不白。又云：十四日沐浴，令齒牢發黑。</p>
<p>又云：常向本命櫛發之始，叩齒九通。陰咒曰：大常散靈，五老返真，泥丸玄華，保精長存，左回拘月，右引日根，六合清煉，百疾愈因。嚥唾三通，常數行之使人齒不痛，發牢不白，一雲頭腦不痛。</p>
<p>又云：思心氣上下四布，正赤通天地，自身大且長，令人氣力增益，發白更黑，齒落再生。</p>

<h2>面體病諸候</h2>

<h3>面皰候</h3>
<p>《養生方》云：醉不可露臥，令人面發瘡疱。</p>
<p>又云：飲酒熱未解，以冷水洗面，令人面發瘡，輕者皶疱。</p>

<h3>面皯䵴候</h3>
<p>《養生方》云：飽食而坐不行步，有所作務，不但無益，乃使人得積聚不消之病，及手足痹面目黧皯。</p>

<h2>目病諸候</h2>

<h3>目風淚出候</h3>
<p>《養生方導引法》云：踞伸右腳，兩手抱左膝頭，生腰以鼻內氣，自極七息，除難屈伸拜起，去脛中痛，痹風，目耳聾。</p>
<p>又云：踞伸左腳，兩手抱右膝，生腰，以鼻內氣，自極七息，展左足著外，除難屈伸拜起，去脛中疼。一本云：除風目暗耳聾。</p>
<p>又云：以鼻內氣，左手持鼻除目暗泣出，鼻內氣，口閉自極七息，除兩脅下積血氣。</p>
<p>又云：端坐生腰，徐以鼻內氣，以右手持鼻，除目暗。若淚出，閉目吐氣，鼻中瘜肉耳聾亦然。除傷寒頭痛洗洗，皆當以汗出為度。</p>

<h3>目暗不明候</h3>
<p>《養生方》云：恣樂傷魂，魄通於目，損於肝，則目暗。其湯熨針石，別有正方，補養宣導，今附於後。</p>
<p>《養生方導引法》云：蹲踞以兩手舉足五趾頭自極，則五臟氣遍，主治耳不聞人語聲，目不明。久為之，則令發白復黑。</p>
<p>又云：兩足趾五息止，引腰背痹偏枯，令人耳聞聲。久行眼耳諸根，無有掛礙。</p>
<p>又云：伸左脛，屈右膝內壓之，五息止，引肺去風虛，令人目明。依經為之，引肺中氣，去風虛病，令人目明，夜中見色，與晝無異。</p>
<p>又云：雞鳴以兩手相摩令熱，以熨目三行，以指抑目左右有神光，令目明不病痛。</p>
<p>又云：東向坐不息，再通以兩手中指口唾之二七，相摩拭目，令人目明。以甘泉漱之洗目，去其翳垢，令目清明。上以內氣洗身中，令內睛潔，此以外洗去其塵障。</p>
<p>又云：臥引為三，以手爪項邊脈五通，令人目明，臥正偃頭下卻亢引三通，以兩手指爪項邊大脈為五通，除目暗患。久行令人眼夜能見色，為久不已，通見十方，無有劑限。</p>

<h3>目青盲候</h3>
<p>《養生方》云：勿塞故井及水瀆，令人耳聾目盲。</p>
<p>又云：正月八日沐浴，除目盲。</p>

<h3>目茫茫候</h3>
<p>《養生方導引法》云：雞鳴欲起，先屈左手啖鹽指，以指相摩。咒曰：西王母女，名曰益愈，賜我目受之，於口即精，摩形常雞鳴二七著唾。除目茫茫，致其精光，徹視萬里，遍見四方。咽二七唾之，以熱指摩目二七，令人目不瞑。</p>

<h2>鼻病諸候</h2>

<h3>鼻衄候</h3>
<p>《養生方》云：思慮則傷心，心傷則吐衄血。</p>

<h3>鼻齆候</h3>
<p>《養生方導引法》云：東向坐，不息三通，手捻鼻兩孔，治鼻中患交腳箕坐，治鼻中患通腳癰瘡，去其涕唾，令鼻道通，得聞香臭。久行不已，徹聞十方。</p>

<h3>鼻生瘡候</h3>
<p>《養生方導引法》云：踞坐合兩膝張兩足，不息五通，治鼻瘡。</p>

<h3>鼻瘜肉候</h3>
<p>《養生方導引法》云：端坐生腰，徐徐以鼻內氣，以右手捻鼻，除目暗。淚苦出。徐徐閉目吐氣，鼻中瘜肉耳聾，亦能除傷寒頭痛洗洗，皆當以汗出為度。</p>
<p>又云：東向坐，不息三通，以手捻鼻兩孔，治鼻中瘜肉。</p>

<h2>耳病諸候</h2>

<h3>耳聾候</h3>
<p>《養生方》云：勿塞故井及水瀆，令人耳聾目盲。其湯熨針石，別有正方，補養宣導，今附於後。</p>
<p>《養生方導引法》云：坐地交叉兩腳，以兩手從曲腳中入，低頭叉項上。治久寒不能自溫，耳不聞聲。</p>
<p>又云：腳著項上，不息十二通，必愈大寒，不覺暖熱，久頑冷患，耳聾目眩。久行即成法，法身五六不能變。</p>

<h2>牙齒病諸候</h2>

<h3>齒痛候</h3>
<p>《養生方》云：常向本命曰櫛發之始，叩齒九通，陰咒曰：太帝散靈，五老返真，泥丸玄華，保精長存。左回拘月，右引日根，六合清煉，百疾愈因。唾唾三通，常數行之，使齒不痛，發牢不白，頭腦不痛。</p>
<p>又云：東向坐，不息四通，琢齒二七，治齒痛病。大張口琢齒二七，一通二七，又解四通，中間其二七大勢，以意消息，瘥病而已，不復疼痛，解病鮮白不梨，亦不疏離。久行不已，能破金剛。</p>
<p>又云：東向坐，不息四通，上下琢齒三十六下，治齒痛。</p>

<h3>齒斷腫候</h3>
<p>《養生方》云：水銀不得近牙齒，發腫，善落齒。</p>

<h3>齒蟲候</h3>
<p>《養生方》云：雞鳴時常叩齒三十六下，長行之，齒不蠹蟲，令人齒牢。</p>
<p>又云：朝未起早漱口，中唾滿口乃吞之，輒琢齒二七過，使人丁壯有顏色，去蟲而牢齒。</p>
<p>又云：人能恆服玉泉，必可丁壯妍悅，去蟲牢齒，謂口中唾也。</p>

<h3>齒齲注候</h3>
<p>《養生方》云：朝夕琢齒，齒不齲。</p>
<p>又云：食畢當漱口數過，不爾使人病齲齒。</p>

<h2>唇口病諸候</h2>

<h3>謇吃候</h3>
<p>《養生方》云：憤滿傷神，神通於舌，損心則謇吃。</p>

<h2>喉心胸病諸候</h2>

<h3>喉痹候</h3>
<p>《養生方導引法》云：兩手拓兩頰，手不動摟肘使急，腰內亦然，住定放兩肋頭向外肘膊，腰氣散盡勢，大悶始起。來去七通，去喉痹。</p>
<p>又云：一手長舒合掌，仰一手捉頦挽之向外，一時極勢二七，左右亦然，手不動，兩向側勢急挽之二七。去頸骨急強，頭風腦旋，喉痹膊內冷注偏風。</p>

<h3>狗咽候</h3>
<p>又云：治此病者，以一摶飯共狗分食便瘥，所以謂之狗咽。</p>

<h3>胸鰍候</h3>
<p>《養生方》云：以右足踐左足上，除胸痹食熱嘔。</p>

<h2>癭瘤等病諸候</h2>

<h3>癭候</h3>
<p>《養生方》云：諸山水黑土中出泉流者，不可久居，常食令人作癭病，動氣增患。</p>

<h3>多忘候</h3>
<p>《養生方》云：丈夫頭勿北首臥，神魂不安，多愁忘。</p>

<h3>嗜眠候</h3>
<p>《養生方導引法》云：箕踞交兩手內並腳中入，且兩手急引之，愈久寐精氣不明。交腳箕踞，凡故言箕踞，以兩手從內屈腳中入，左手從右跗腕上入，左足隨孔下，右手從左足腕上入，右足隨孔下出，抱兩腳急把兩手，極引二通，愈久寐精神不明，久行則不睡長精明。</p>
<p>又云：一手拓頦向上極勢，一手向後長舒急努，四方顯手掌，一時俱極勢四七，左右換手皆然，拓頦手兩向共，頭欹側身二七。去臂膊風眠睡，尋用永吉日康。</p>

<h3>體臭候</h3>
<p>《養生方》云：以手掩口鼻，臨目微氣久許時，手中生液，速以手摩面目，常行之，使人體香。</p>

<h2>疔瘡諸候</h2>

<h3>疔瘡候</h3>
<p>《養生方》云：人汗入諸食內食之，作疔瘡。</p>

<h2>癰疽病諸候上</h2>

<h3>癰候</h3>
<p>《養生方》云：五月勿食不成核果及桃棗，發癰癤，不爾發寒熱，變為黃疸，又為泄利。</p>
<p>又云：人汗入諸食中，食之則作疔瘡癰癤也。</p>

<h3>疽候</h3>
<p>《養生方》云：銅器蓋食，汗入食，食之令人發惡瘡內疽。</p>
<p>又云：鯽魚膾合豬肝肺食之，發疽。</p>
<p>又云：烏雞肉合食發疽。</p>
<p>又云：魚腹內有白如膏，合烏雞肉食之，亦發疽也。</p>
<p>又云：魚金鰓食發疽也。</p>
<p>又云：已醉強飽食，不幸發疸。其湯熨針石，別有正方，補養宣導，今附於後。</p>
<p>《養生方導引法》云：正倚壁不息，行氣從頭至足止，愈疽。行氣者，鼻內息五入方一吐為一通，滿十二通愈。</p>
<p>又云：正坐倚壁不息，行氣從口，輒令氣至頭而止，治疽痹氣不足。</p>

<h2>癰疽病諸候下</h2>

<h3>熛疽候</h3>
<p>又云：十指端策策痛入心不可忍，嚮明望之，晃晃黃赤，或黯黯青黑，是熛疽，直截後節，十有一愈。</p>
<p>又云：風胗痛不可忍者，熛疽發五臟俞，節解相應，通洞熛疽也。諸是熛疽皆死。又齒間臭熱，血出不止，熛疽也，七日死。治所不瘥，以灰掩覆其血，不爾著人。</p>
<p>又云：諸是熛疽皆死，唯痛取利，十有一活耳。此皆毒氣客於經絡，氣血痞澀，毒變所生也。</p>

<h3>風疽候</h3>
<p>《養生方》云：大解汗當以粉粉身，若令自乾者，成風疽也。</p>

<h3>腸癰候</h3>
<p>《養生方》云：六畜卒疫死及夏病者，腦不中食，喜生腸癰也。</p>

<h3>內癰候</h3>
<p>《養生方》云：四月勿食螺雞肉，作內癰在胸掖下，出瘻孔。</p>

<h3>痤癤候</h3>
<p>《養生方》云：人汗入諸食中，食之作癰癤。</p>
<p>又云：五月勿食不成核果及桃棗，發癰癤也。</p>

<h2>瘻病諸候</h2>

<h3>諸瘻候</h3>
<p>《養生方》云：六月勿食自落地五果，經宿蚍蜉螻蛄蜣螂游上，喜為九瘻。</p>
<p>又云：十二月勿食狗鼠殘肉，生瘡及瘻出頸項，及口裡或生咽內。</p>

<h3>鼠瘻候</h3>
<p>《養生方》云：正月勿食鼠殘食，作鼠瘻，發於頸項；或毒入腹，下血不止；或口生瘡，如有蟲食。</p>

<h3>瘰癧瘻候</h3>
<p>《養生方導引法》云：箕踞以兩手從曲腳入，據地曲腳加其上，舉尻，其可用行氣，愈瘰癧乳痛。</p>

<h3>㿉瘻候</h3>
<p>《養生方導引法》云：正偃臥，直兩手兩足，念月所在，令赤如汕囊丹，除㿉少腹重不便，腹中熱。但口內氣息出之數十，不須小嚥氣，即腸中不熱者，七息已溫，熱咽之十數。</p>

<h2>痔病諸候</h2>

<h3>諸痔候</h3>
<p>《養生方》云：忍大便不出，久作氣痔。其湯熨針石，別有正方，補養宣導，今附於後。</p>
<p>《養生方導引法》云：一足踏地，一足屈膝，兩手抱犢鼻下，急挽向身極勢，左右換易四七。去痔五勞，三里氣不下。</p>
<p>又云：踞坐合兩膝張兩足，不息兩遍，治五痔。</p>
<p>又云：兩手抱足，頭不動，足向口受氣，眾節氣散，來去三七，欲得捉左右，側身各急挽。腰不動，去四肢腰上下髓內冷血冷筋急悶痔。</p>
<p>又云：兩足相踏向陰端，急蹙將兩手捧膝頭，兩向極勢捧之二七，竟身側兩向取勢二七，前後努腰七，去心勞痔病。</p>

<h2>瘡病諸候</h2>

<h3>諸惡瘡候</h3>
<p>《養生方》云：銅器蓋食，汁入食，發惡瘡內疽也。</p>
<p>又云：醉而交接，或致惡瘡。</p>
<p>又云：飲酒熱未解，以冷水洗面，令惡瘡，輕者皶疱。</p>
<p>又云：五月五日取棗葉三升，井華水搗取汁浴，永不生惡瘡。</p>
<p>又云：井華水和粉洗足，不病惡瘡。其湯熨針石，別有正方，補養宣導，今附於後。</p>
<p>《養生方導引法》云：龍行氣叩頭下視，不息十二通，愈風疥惡瘡，熱不能入。</p>
<p>又云：五月一日，八月二日，九月九日，十月七日，十一月四日，十二月十三日，沐浴，除惡瘡。</p>

<h3>癬候</h3>
<p>《養生方》云：夏勿露面臥，露下墮面，皮厚及喜成癬。</p>

<h3>疥候</h3>
<p>《養生方導引法》云：龍行氣叩頭下視，不息十二通，愈風疥惡瘡，熱不能入。</p>

<h2>腕傷病諸候</h2>

<h3>卒被損瘀血候</h3>
<p>《養生方導引法》云：端坐生腰，舉左手仰掌，以右手承右脅，以鼻內氣，自極七息，除瘀血結氣。</p>
<p>又云：鼻內氣，口閉，自極七息，除兩脅下積血氣。</p>
<p>又云：端坐生腰，舉左手，右手承右脅，鼻內氣七息，除瘀血。</p>
<p>又云：端坐右手持腰，鼻內氣七息，左右戾頭各三十止，除體瘀血項頸痛。</p>
<p>又云：雙手搦腰，手指相對向，盡勢前後振搖二七，又將手大指向後極勢振搖二七。不移手上下對，與氣下，盡勢來去三七，去雲門腰掖血氣閉塞。</p>

<h2>婦人雜病諸候一</h2>

<h3>月水不調候</h3>
<p>《養生方》云：病憂恚泣哭，以令陰陽結氣不和，故令月水時少時多，內熱苦渴，色惡體肌枯，身重。</p>

<h2>婦人雜病諸候二</h2>

<h3>漏五色俱下候</h3>
<p>《養生方》云：夫婦自共諍訟，訟意未和平，強從子臟閉塞，留結為病，遂成漏下，黃白如膏。</p>

<h2>婦人雜病諸候三</h2>
<p>月水不通無子候。</p>
<p>《養生方》云：少時若新產後，急帶舉重，子陰挺出，或傾邪月水不瀉，陰中激痛，下寒。令人無子。</p>

<h3>結積無子候</h3>
<p>《養生方》云：月水未絕，以合陰陽，精氣入內，令月水不節，內生積聚，令絕子，不復產乳。</p>

<h2>婦人雜病諸候四</h2>

<h3>乳癰候</h3>
<p>《養生方》云：熱食汗出，露乳傷風，喜髮乳腫，名吹乳，因喜作癰。</p>

<h3>乳結核候</h3>
<p>《養生方導引法》云：箕踞以兩手從曲腳內入，據地曲腳加其上，舉尻，其可用行氣，愈瘰癧乳痛。交兩腳以兩手從曲腳任完，舉十二通，愈瘰癧乳痛也。</p>

<h2>婦人難產病諸候</h2>

<h3>逆產候</h3>
<p>《養生方》云：妊娠大小便勿至非常之去處，必逆產殺人也。</p>

<h2>婦人產後病諸候</h2>

<h3>產後帶下候</h3>
<p>又云：帶下有三門：一曰胞門；二曰龍門；三曰玉門。產後屬胞門，謂因產傷損胞絡故也。</p>

<h2>小兒雜病諸候</h2>

<h3>難乳候</h3>
<p>又云：兒在胎之時，母取冷過度，冷氣入胞，令兒著冷。至兒生出，則喜腹痛，不肯飲乳，此則胎寒，亦名難乳也。</p>
