<header data-type="book">
<h1>外科十三方考</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張覺人</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
</header>

<h1>囑言</h1>
<p>夫人之一身，血脈貫通，似河海周流而無絲毫阻滯，設一旦有邪毒竄入五臟、六腑，或風濕中入皮膚肌腠之間，便血脈不行，而患斯作矣。但毒之所發，變應萬千，有中於臟者，有中於腑者，有中於陽分、陰分、氣分、血分者，種種原因，不一而足。發於陽者，則紅腫高大而痛甚，發於陰者，則低塌平伏以灰白，或則日輕夜重，或則晝重夜輕，其呈象頗不一致。症之初起，以草藥愈者有之，而久治不效者亦有之，遷延日久，遂有成繭及不收口之諸般壞象矣。吾門在此萬般困難、諸醫束手時，而有四味異藥、十三奇方以濟之，此種困難遂迎刃而解，醫盡世間奇症，從未輕授外人，得之者可坐獲厚利，救濟群生，此中至藥，雖南面王不易也，吾子孫當世代遵守，是所至囑！</p>
<p>又據黃承昊折肱漫錄第七卷，腫毒條有云：「凡患毒者，多服十三方及仙方活命飲以敗毒，但老弱之人不能堪此，故薛立齋以托裡敗毒散易之。」又醫藥編有云：「一人患瘧，久不愈，以金蚣丸投之，瘧止」云云。黃氏為明季萬曆丙辰進士，折肱漫錄成於崇禎乙亥，是外科十三方之來，當不始自清代矣。</p>

<h1>上編</h1>

<h2>總論歌</h2>
<p>儂等著論總提綱，陰陽內外悉分張，癰疽發處分赤白，瘡癤起時別暗光，滿腹仁恩留赤子，一腔慈愛著青囊，百骸中毒分表裡，三關直透識陰陽，回生妙術傳釜水，救死奇方著蜀疆，且看杏林多秀色，須知橘井有泉香，愚民莫負儂醫惠，轉盼乾坤樂更長。</p>

<h2>癰疽總論</h2>
<p>夫癰疽之症，本由心經而發，何以發自心經，因實火動而成癰疽，雖有各症，亦當分內因、外因、不內外因。內因者，乃心、肝、脾、肺、腎及心包絡等處，或因寒熱而血凝氣滯，或膏粱厚味而遺諸毒；外因者，乃肩挑揹負，勞苦奔趨，而迎暑濕風邪，擾動氣血不和，此外因也；不內外因者，乃五臟受傷而邪毒透入也。癰疽之發，分筋、骨、韌、皮、膚五類。癰發於血脈之間，屬陽，為順症；疽發於筋骨之內，屬陰，為逆症。發於皮內者為瘍，發於膚上者為癤。凡症宜視陰陽，詳察善惡，若見三善，縱然沉重，亦無大害；如見四惡，雖然微小，亦必喪亡。凡業醫者，不可徒從表裡、寒熱而辨陰陽，以貽害於人也。</p>

<h2>癰疽總論歌</h2>
<p>癰疽原是火毒生，經絡阻隔氣血凝，外因六淫八風感，內因六慾並七情，飲食起居多失慎，肩挑揹負損其身，膏粱之變營衛過，藜藿之軀氣血貧，疽由筋骨陰分發，癰從陽分肉脈生，瘍起皮里肉之外，瘡發皮膚為失榮，陽盛焮腫赤痛易，陰盛色暗陷不疼，半陰半陽不高腫，微痛微熱紅亦輕，五善為順七惡逆，見三見四可分明，臨症色脈須詳察，溫涼補汗攻應分，善治傷寒雜症易，能察癰疽腫毒精。</p>

<h2>癰疽總論歌解</h2>
<p>經云：「諸痛癢瘡，皆屬心火。故曰癰疽原是火毒生也。癰疽皆因營衛不和，氣血凝結，經絡阻隔而生，故曰經絡阻隔氣血凝也。其因有三，內因、外因、不內外因是也。外因者，由於春之風，夏之暑濕，秋之燥，冬之寒也，當其時而至，則為正氣，非其時而至，或過盛，則為淫邪。凡此六淫為病，皆屬外因。亦有因八風相感，如冬至日正北大剛風，春分日正東嬰兒風，秋分日正西罡風，立夏日東南弱風，立冬日西北折風，應時而至，則生養萬物，不應時而至，則殺害生靈萬物，若人感受，則內生重病，外發癰疽。凡此八風為病，皆屬於外，故亦曰外因六淫、八風感也。內因者，耳聽淫聲，目視邪色，鼻聞過臭，舌食滋味，心思過度，意念妄生，皆損人神，凡此六淫為病，皆屬內因，故曰內因六慾並七情也。不內外因者，飲食不節，起居不慎，過飲醇酒則生火，消爍陰液，過飲茶水則生濕，過食五辛則損氣血，過飢過飽則傷脾胃，凡此種種，皆飲食之致病；晝夜過勞，擔輕負重，跌撲損墜等類，損其身形，夜不靜息，強力入房，勞傷精氣，此起居之病也。其起於膏粱厚味者，多令人營衛不和，火毒內結，起於藜藿薄食者，多令人胃氣不充，氣血虧少，凡此種種，皆不內外因也。人之身體，計有五層，皮、脈、肉、筋、骨也。發於筋骨間者曰疽，屬陰；發於血脈間者曰癰，屬陽；發於皮里肉外者曰瘍毒，只發於皮膚上者名曰瘡癤。凡癰疽陽盛者，初起焮腫，色赤，疼痛，則易潰易斂，順而易治，以其為陽症也。陰盛者，初起色黯，不紅，塌陷，不腫，木硬不疼，則難潰難斂，逆而難治，以其為陰症也。半陰半陽者，漫腫不高，微痛不甚，色不甚紅，此症屬險，若能隨症施治，不失其時，則亦可轉險為順，否則逆矣。五善者，五善之症也，諸瘡見之則為順，則易治；七惡者，七惡之症也，諸瘡見之則為逆，則難治。凡患癰疽者，五善為順，七惡為逆，如見三善者必生，見四惡者必死矣。爾後學業醫者，當於臨症之際詳察其色，宜溫者則溫之，宜涼者則涼之，宜補則補，宜汗則汗，宜攻則攻，果能如是，庶有濟而不誤也。然而外症癰疽，猶如內症傷寒，能善治傷寒者，則雜症無不易治，能善療癰疽者，則諸瘡無不精妙，蓋以其能辨表裡、陰陽、虛實、寒熱也。</p>

<h2>癰疽陽症歌</h2>
<p>陽症初起焮赤痛，根束盤清腫如弓，七日或疼或時止，二七瘡內漸生膿，毒隨膿出精神爽，腐脫新生氣血充，嫩肉如珠顏色美，更兼鮮潤若榴紅，自然七惡全無犯，應當五善喜相逢，須知此屬純陽症，醫藥調和自有功。</p>
<p>凡癰疽初起，焮熱赤痛，根束者，暈不散也；盤清者，不漫腫也；如弓者，高腫也，易潰易斂，此為順症。詳察細審，自易見功。</p>

<h2>癰疽陰症歌</h2>
<p>陰症初起如粟大，不紅不腫疙瘩僵，木硬不痛不焮腫，瘡根平大黯無光，三七之後不潰腐，軟陷無膿結空倉，瘡上生衣如脫甲，孔中結子似菡房，紫黑膿稀多臭穢，如見七惡定必亡，須知此屬純陰症，縱有岐黃命不長。</p>
<p>凡癰疽初起，不紅不腫，不焮熱，狀似粟米疙瘩，木硬不痛，七朝之後，不潰不斂，瘡上生衣，如脫殼樣，口如花結子，此屬逆症。倘見七惡，必定死亡；如現五善一、二者，尚可勉強救治，否則徒勞。</p>

<h2>陰陽相半歌</h2>
<p>陰陽相半屬險症，陽吉陰凶生死昭，似陽微痛微焮腫，如陰半硬半腫高，腫而不潰因脾弱，潰而不斂為膿磽，五善之症雖兼有，如現七惡豈全逃，飲食若能知味美，二便調和尚可療，按法醫治應手效，陽長陰消自可調。</p>
<p>半陰半陽，皆屬險症，似陽不甚燒熱，似陰不甚木硬，多現順症宜可救，如現逆症則難療。如陰升陽泄者，縱然多險，尚有一線生機。</p>

<h2>癰疽善惡歌</h2>
<p>法則無他審症先，陰陽兩症必須參，五善七惡休咎定，明哲先當仔細觀。</p>
<p>夫病分內外，審症宜詳，病由臟腑經絡而發，癰疽亦自臟腑而成，內症必先察其表裡，外症亦當審其陰陽，審症既確，施治自易。癰疽陽症之形，發為紅腫，大燒大熱，頭尖色赤，病者時畏寒熱，口乾發渴，不思飲食，只喜茶水，此陽症也。陰症色青，不燒不熱，不紅不腫，患者飲食不多，精神猶暢。此陰症也，又有陰症似陽者，患部先紅而猶赤，時燒時退，或有或無，疼痛不堪，口中焦渴，人多眩暈，此陽症兼陰也。如患者周身寒冷，泚汗淋漓，瘡頭豐滿，色多黑赤，頭尖體圓，此陰症兼陽也。欲治外症，無他妙法，當先辨其陰陽，次當詳其五善、七惡。五善者，一聲音洪亮，二精神舒展，三瘡形陽症紅紫，陰症赤白，四飲食無減，五靜睡不煩，此善症也，若得一、二善者，所患雖重，亦自無虞。七惡者，一聲音沉滯，二坐臥難安，三頭多眩悶，四陽帶黑赤，陰帶紅紫，五瘀血時流，六周身寒冷，七人多恍惚，此七惡見其一、二者，皆不可救藥。業此者審察宜詳，不可疎忽大意。</p>

<h2>癰疽五善歌</h2>
<p>心善精神爽，言清色潤鮮，不躁不煩渴，寤寐兩相安。肝善身輕便，不怒不驚煩，指甲紅潤色，起坐覺安然。脾善唇滋潤，知味喜加餐，膿黃不臭穢，大便不稀干。肺善聲音響，不喘無嗽痰，皮膚光潤澤，呼吸氣相安。腎善不午熱，口和齒不幹，小溲清且白，夜臥靜如山。</p>

<h2>癰疽七惡歌</h2>
<p>一惡神昏憒，心煩舌燥干，瘡色多紫黑，言語見呢喃。二惡身筋強，目睛正視難，瘡頭流血水，驚悸是傷肝。三惡形消瘦，瘡形陷又堅，膿清多臭穢，脾敗食不甘。四惡皮膚槁，痰多韻不圓，喘生鼻頻扇，肺絕定歸泉。五惡時引飲，咽喉若燎煙，腎亡容慘黑，囊縮死之原。六惡身浮腫，腸鳴嘔呃繁，大腸多滑泄，臟腑敗之端。七惡瘡倒陷，如剝蟮一般，時時流汙水，四肢厥逆寒。</p>

<h2>諸般壞症歌</h2>
<p>初起如粟癢微生，未老頭白痛漸增，一日寒熱發戰起，三四發泡硬如疔，晝夜昏沉癢不止，四紅五紫六日青，人若犯此無膿症，十人之中九不生。</p>

<h1>中編</h1>

<h2>處方篇</h2>
<p>十三方中最神秘而令人難索解者，厥為首方中之「中九丸」，十人十樣，使人莫名所以，尤以三打靈藥為特甚，銀翠次之，金丹、石青，則所差尚屬無多。今特先將四味異藥之製法詳述於前，以中九丸配合法殿之於後，然後再及其他之十二靈方，以成其全。</p>

<h3>鍋烈製法</h3>
<p>（即三打靈藥）</p>
<p>（處方）　水銀（一兩）　白礬（一兩微煆去水分）　火硝（一兩焙去水分）　食鹽（一兩，焙乾）　硃砂（五錢）　皂礬（一兩）</p>
<p>（製法）（1）先將白礬、火硝、食鹽、皂礬硃砂共研極細，再加水銀又研，直研至不見水銀星珠時為止，分作三份備用。</p>
<p>（2）以一份堆於小鐵鍋內，上以大碗覆之，隨以醋調熟石膏粉，將碗同鍋連接處塗封嚴密，勿使泄氣。</p>
<p>（3）以炒乾黃土（即黃土之炒去濕氣者，用赤石脂更好）或極細河砂，將碗掩住，但須露出碗底，並以鐵圈重物套壓碗底，不使移動，碗底置浸濕棉花一團，外以大鐵釘三隻（或用火盆上燉食物的鐵三腳架，更妙），插於地面土中，將鍋安置釘上，約離地高七指許。</p>
<p>（4）以微火烤胎，焚香計之，俟一炷香盡，再以文火升煉，俟第二炷香盡時，又以武火（即烈火，以焰離鍋底約二指許為度）升煉，俟三炷香盡時，察看碗底棉花是否由濕而干，更由干而成黃黑色，如已成黃黑色，即離火待冷。</p>
<p>（5）將已冷丹鍋，輕輕除去黃土、石膏，揭開丹碗，靈藥即升碗上，色白者嫩，色紫者老，色紅者恰到好處是上品（如碗上有水銀星珠，是武火用早，水銀首先飛上，不可使用），此為一轉，又名一打。</p>
<p>（6）取第二份藥末同一轉掃下丹藥調勻，合為一處，如前升煉三炷香，冷定取藥，是為二轉靈藥。</p>
<p>（7）取第三份藥末同二轉靈藥調勻，合為一處，如前升煉三炷香，冷定取藥，是為三轉，三轉已畢，所得之藥即為三打靈藥，亦名「鍋烈」。藥經三打，則水銀之本性死絕，服食遂無流弊。丹底可搽諸瘡，功能止癢定痛，長肉生肌，不可棄去。</p>

<h3>金丹製法</h3>
<p>（亦名鍋丹）</p>
<p>（處方）　倭鉛（三錢）　漳丹（二兩）</p>
<p>（製法）：（1）將鉛放入傾銀罐內（即耐火黏土罐，昔日熔銀時常用此罐），置於火上熔化之。</p>
<p>（2）將漳丹徐徐撒於已熔鉛上，藉重鉛氣熏蒸，並於黃丹中間攪一凹處，俟蒸至凹處發現黑色，四周兼現黃色時，是即合度之證（大約一炷香時即可蒸透），冷定，去鉛取丹，是即金丹，亦名「鍋丹」。</p>

<h3>石青製法</h3>
<p>（處方）　白砒（二兩）　硫黃（四兩）</p>
<p>（製法）（1）將砒、硫共研細末，投入傾銀罐內，上覆鐵板一塊，以鐵絲縛緊，再用鹽泥將罐全體封固（或以醋調石膏亦可），俟干聽用。</p>
<p>（2）將已干丹罐放木炭火中燒之，揣度罐中藥已熔化（約香三炷），乃取出待冷，剝除泥殼，揭去鐵板（手勢應輕，勿使蓋上所升之藥落下），升於蓋上而色如黃芽者為煙硫，沉於罐底而色帶暗綠者為石青，將此暗綠色物取出研細備用。二物雖然同出一本，性卻截然不同，蓋煙硫有毒而石青無毒也。</p>

<h3>銀翠製法</h3>
<p>（處方）　紋銀（一兩）　石青（約一兩）</p>
<p>（製法）（1）將銀打成薄片，剪成小塊，投入傾銀罐內，火上熔化。</p>
<p>（2）取石青末約六、七錢，投入已熔銀上，以鐵箸攪拌，銀即自然起發，如不十分起發時，可再投石青末三、四錢，必能起發。所用石青不拘多少，總以銀質發透為率。</p>
<p>（3）將發透之銀取出打碎，研為細末，飛去灰渣，其色與靛花相似（翠色），故名銀翠，將其浸入冷水，每日換水二次，七日夜後，火毒即盡，收貯備用。</p>
<p>顧世澄瘍醫大全痔漏門中，有退管方一個，絕類銀翠，僅制度不同，特錄於後，以資參證：</p>
<p>（甲）磁石（六兩）</p>
<p>打如豆大，用白芨水浸數日，取出，以硫黃粉為衣，入罐升三小時，得丹約三錢。</p>
<p>（乙）辰砂（四兩）　明礬（四兩）（另入罐升成丹）</p>
<p>（丙）紋銀（一兩）　硫黃（三錢）　白砒（三分）（煉化成粉）</p>
<p>將以上三種藥末各秤等分，研勻，米糊為丸，如粟米大，每服一分，白芷湯下，服後約半日間，下部即覺脹痛，用手拍左右臀，管即自出，俟出盡時，以生肌藥收功。管口小者，先以爛藥爛開，管即易出；欲管速出者，可再用蓖麻子煎水洗之。</p>

<h3>附：靈藥釋性</h3>
<p>鍋烈：辛平無毒。功能去濕、殺蟲、活血、解毒、化痰、解鬱</p>
<p>金丹：辛平無毒。功能治吐逆、反胃、墜痰、殺蟲。</p>
<p>銀翠：辛平無毒。合藥能治一切奇瘡怪症，內服功能斂口生肌。</p>
<p>石青：大熱。因其有砒，故能解水銀、輕粉之毒。善治一切風濕，筋骨作痛作腫；又能解一切寒涼藥毒，及瘡不收口，作寒作熱等。更能領導水銀、輕粉循行筋脈，以解周身痰氣，乃諸藥中之極熱者。不可不用，亦不可多用。</p>
<p>楊鵬先經驗救急方，乾坤奪命丹：</p>
<p>生白信石（一兩研末）　生硫黃（一兩研末）　白蠟（一兩）</p>
<p>三宗標準，不可缺少分量，將蠟熔化，即下二藥合勻，出鍋為丸，每丸四分備用。</p>
<p>此藥治男婦一切氣寒、食寒、陰寒，及婦人白帶，男子腎寒，白痢、瀉下等，一切下部寒涼之症，並皆治之。如男婦陰寒，病在危急，速服此藥，待至二十分鐘時，無不立刻回生，每服一丸，小兒半丸，開水送服。</p>
<p>煙硫：其性好走，善入肌膚，為祛風邪、療諸癬之要藥。但有大毒，故只可外用，不可內服。</p>

<h3>第一方·中九丸</h3>
<p>歌曰：中九丸來味不多，說破異藥笑哈哈，任他諸般奇怪症，每服數丸起沉疴。</p>
<p>（處方）　鍋烈（一錢）　金丹（一錢）　銀翠（三錢若膿寒加石青五分）</p>
<p>（製法）　共研細末，用麵糊趁熱合藥為丸，如鳳仙子大備用。</p>
<p>（用法）　每服一分，病重者，可由二分加至三分，用溫酒或溫開水送服，服至毒消盡時為止，忌食蘿蔔。如糸陰症，可加石青一錢，餘症不用；畏寒者，可加百草霜五錢。</p>
<p>疔瘡忌服，小孩量減。服丸之後，間有發現頭暈者，不必畏懼，過一時即消失矣。</p>
<p><u>中九丸的又一配合法</u></p>
<p>（處方）　鍋烈（六錢）　金丹（三錢）　石青（四錢）　銀翠（四錢）　蟾酥（二錢）　熊膽（三錢）　珍珠（二錢）　麝香（一錢）</p>
<p>（製法）　以棗泥為丸，如小黑豆大，硃砂為衣。</p>
<p>（用法）　每服二、三丸，用龍眼肉包好，白糖開水送服，每日二次，病重者，可服三、四丸。血燥之人可加牛黃，如無牛黃，可用九轉膽星代之。</p>

<h3>第二方·金蚣丸</h3>
<p>歌曰：金蚣丸內用蜈蚣，全蠍山甲與僵蟲，硃砂雄黃同配合，痰核瘰癧散無蹤。</p>
<p>（處方）　金頭蜈蚣（十五條去頭足微炒）　全蠍（二十個去頭足米泔水洗）　山甲（二十片土炒成珠）　殭蠶（二十條炒去絲）　硃砂（二錢）　明雄（二錢）　川軍（三錢）</p>
<p>（製法）　共研細末，黃酒、曲糊為丸，如綠豆大，硃砂、雄黃為衣。</p>
<p>（用法）　每服三十至五十粒，空心溫黃酒送服，老弱量服，汗出即愈，未成者消，已成膿者，次日即潰，已潰者忌服。如系痰核瘰癧，可兼服中九丸五至十粒以輔助之。</p>
<p>又如患者體質柔弱，消化不良，服中九丸後腹痛作瀉者，可兼服此丸，即可減退其副作用。</p>
<p>又古方「五虎下西川」，即金蚣丸之多蟬蛻者，但據我收藏的十三方抄本中，亦有三本方中有蟬蛻，可知本方是從五虎下西川蛻化出來的一個驗方。原方如次：</p>
<p>金頭蜈蚣（一條去頭足糯米炒黃色）　全蠍（五錢洗去鹽焙乾）　蟬蛻（五錢去頭足）　穿山甲（五錢陳土炒）　殭蠶（五錢炒去絲）</p>
<p>共研細末，苕面為丸，如綠豆大，硃砂為衣，壯者每服二十丸，弱者十丸，土苓湯下，忌油葷，及一切發物，凡一切楊梅毒瘡，魚口橫痃，不問已潰未潰，皆可治之，無不驗者。</p>
<p>又錢塘趙恕軒串雅編及種福堂公選良方中之「鱗鯉丸」，皆與金蚣丸方十九相同，且較金蚣丸完善而穩妥。據趙氏云：即鈴醫之「八面鋒」，為一切無名腫毒之特效專藥，而於瘰癧一症尤具特長，故編者每於用金蚣丸處，皆易以此方，不僅效力確實，而且更少流弊，今錄其方於次：</p>
<p>歸尾（五錢）　生軍（三錢）　蟬蛻（二十隻去頭足）　乳香（一錢）　沒藥（一錢）　制芩（三錢）　全蠍（二錢）　連翹（三錢去心）　防風（二錢五分）　羌活（二錢五分）　雄黃（水飛七分）　殭蠶（二十五條薑汁炒）　牛膠（一兩土炒）　荊芥（二錢）　桔梗（二錢）　金頭蜈蚣四條，去頭足，分作四種製法：</p>
<p>一條用薑汁搽，焙乾；一條用香油搽，焙乾；一條用濃醋搽，焙乾；一條用酥搽，焙乾。</p>
<p>上制後，共合一處研細末，備用；再以山甲四兩，亦分作四種製法：</p>
<p>一兩用紅花五錢煎湯煮，焙乾；一兩用牙皂五錢煎湯煮，焙乾；一兩用紫草五錢煎湯煮，焙乾；一兩用蘇木五錢煎湯煮，焙乾。</p>
<p>上制後，亦混合一處，研末備用。</p>
<p>將上面各種藥末共合一處，以米醋打糊為丸，外以硃砂五線為衣，每丸重一錢二分，瓷瓶收貯，以麝香五分養之。服時以一丸，熱酒送服，未成者內消，已成者出膿，神效非常。金蚣丸藥味即此方之一部分，與蟾酥丸處方亦小異大同，其為外科之重要方，可想而知。且此方之前數味，乃「神授衛生湯」藥味，功能宣熱散風，行瘀活血，解毒消腫，故為外科門中之首要方，且較金蚣丸尤為周到而踏實。編者每於用金蚣丸處，皆易以此方者，亦以其周到而踏實也。</p>
<p>吾蜀梁山楊旭東，蜀中醫纂有「驪龍珠」一方，為癰疽總方，專治一切癰疽腫毒，不論已潰未潰，俱能散毒收口，生肌長肉，方名之下標明為「內庭方」，亦即鱗鯉丸、金蚣丸之小有不同者。惟方中蜈蚣系二十一條，將山甲、蜈蚣制好後，每以山甲末一兩，蜈蚣末二錢，配入群藥之中，每丸重一錢五分；全蠍又系用荷葉包炮之，此小異耳。欲知其詳，可覆按原書。</p>
<p>又趙氏串雅編中之「八厘金」，主治癰疽發背，疔腫瘡毒，未成者服之，內消甚效，察其處方藥味，殆亦金蚣丸之加味，故並錄於此，以作他山之助。</p>
<p>番木鱉（水浸去皮油煠枯五錢）　蟾酥（二錢）　殭蠶（二錢）　乳香（二錢）　沒藥（二錢）　膽礬（一錢）　蜈蚣（三錢）　山甲（一錢）　血竭（一錢）　硃砂（三錢）　蟬蛻（一錢）　川烏（一錢）　雄黃（一兩）　麝香（五分）</p>
<p>上共研末，於五月五日修合，水泛為丸，如萊菔子大，上部病飽服，下部病飢服，每以八釐，陳酒送下，小兒酌減。</p>
<p>他如趙氏之十寶丹，串雅補之回生丹，青囊秘授之全生丹，外科大成之六軍丸，蓬萊山樵輯方之觀音救苦丹等，皆與金蚣丸如出一轍，原書俱在，未遑盡錄。</p>
<p>蜈蚣、山甲等對腺結核有療效，自宜重用。且此方功能鎮靜神經，如加入麝香，更可治療小兒驚風抽搐。</p>

<h3>第三方·三香丸</h3>
<p>歌曰：丁木茴香三香丸，砂仁紫蘇黃芩兼，白朮茯苓陳皮草，乾薑澤瀉香附全，豬苓木通同草果，天花粉末麵糊丸，一切寒涼虛危症，飲食不進效若仙。</p>
<p>（處方）　丁香（二錢）　木香（三錢）　小茴（七錢）　砂仁（五錢）　紫蘇（七錢）　黃芩（一錢）　茯苓（三錢）　豬苓（一錢）　白朮（三錢）　陳皮（三錢）　乾薑（一錢）　澤瀉（一錢）　香附（二錢）　木通（一錢）　草果（五個）　花粉（三錢）</p>
<p>（製法）　共為細末，麵糊為丸，綠豆大。</p>
<p>（用法）　每服三錢，空心薑湯下。如患者氣體虛弱，飲食少思，服中九丸後有嘔吐、腹痛之副作用者，速服此丸三錢，即解。</p>
<p>此方專治一切冷痰危症甚效，若患者體質虛弱，胃納不旺，服中九丸後發生噁心、嘔吐、頭眩、腹痛，及泄瀉者，可加此丸三錢同服，即可免除乖象。此方藥味殊嫌龐雜（與木香流氣飲略有出入），倘因服中九丸後發生嘔吐者，亦可用炒山梔及白蔻，加入香砂六君子湯中服之，效力亦與本方之作用相等。</p>

<h3>第四方·化肉膏</h3>
<p>歌曰：化肉靈膏妙無窮，桑麻石灰一樣同，二烏靈仙同煎水，淋漓入鍋看雌雄，五灰雖然同此用，加減較彼有神功。</p>
<p>（處方）　桑枝灰（五升）　麻梗灰（五升）　廣石灰（五升未發者）</p>
<p>（製法）　共合一處備用，另以威靈仙一兩，川烏四兩，草烏一兩，野芋頭一兩，生半夏一兩，巴豆五錢共為咀片，煎成濃汁，將前灰放在竹箕內（先用稻草墊底），繼將藥汁淋於灰上，濾下之水，用器接收（濾得之水，以沾於舌上如針刺者為佳），約一大碗，入鍋慢火煎之，俟濃縮到相當程度時，再加白礬一兩，收膏貯瓶，黃蠟封口備用。</p>
<p>（用法）　用時將藥取出，研細如泥，挑置少許，塗於瘡之中央，其藥力自能散布四周，以奏化腐消毒之功。如覺疼痛，可揭開檢視，如患部四邊有紅線樣物時，即噴以冷水一口，其痛可立止。倘腐爛已去，欲生新肌時，可將此膏少許，用水調如淡茶色，用新筆蘸水，於瘡上洗之，即可逐漸生肌斂口。此膏之腐蝕力甚大，故使用之後異常疼痛，因其作用乃化學上之「輕氧化鉀」也。現今新藥群中頗不乏相同之物，如硫酸銅、硝酸銀、石炭酸等，皆具有相同之腐蝕力量，如感覺自制麻煩時，亦不妨以此類化學品代用。赤水元珠有「化瘤膏」一方（即五灰膏），其處方雖與本方不盡相同，而其作用則完全一致，今摘錄於此：桑木灰、棗木灰、桐殼灰、荍麥灰各二升半，共和一處，放於已墊稻草之竹箕中，淋汁約五碗許，入斑蝥四十隻，山甲五片，乳香五錢，冰片一錢，用水煎作一碗，以瓷器盛之。用時以新石灰調膏敷之，干則隨以清水潤之。「化肉膏」之作用專在追蝕惡瘡腐肉，惟嫌其性質過暴，遠不若薛己外科精義之「針頭散」及仙拈集之「脫爛散」來得王道，故余意不若逕以二方之一以代替之，更為圓滿。</p>

<h3>第五方·藥線</h3>
<p>歌曰：諸家藥線不相同，吾門藥線有奇功，雖然砒礬一樣用，火候之中看雌雄，不論痰核並蠒骨，化腐乾膿顯神通。</p>
<p>（處方）　白砒（三錢）　明礬（七錢）　</p>
<p>（製法）　上各研細末，先於鍋中滴麻油幾滴，次將砒末放入，再將明礬末蓋於面上，將鍋在武火上燒之，俟砒、礬乾結成餅，煙將盡未盡時，取出研末，以麵糊做成細條（如粗絲線）備用。經此制煉之後，砒性已純，凡瘰癧成蠒，及癰疽之久不幹膿等，皆可用之。</p>
<p>外科大成之痔漏退管藥線方中，有一方亦僅砒、礬二味，只制煉方法微有不同，亦摘錄於此，以示此方作用之廣：</p>
<p>白砒五錢，明礬一兩五錢，將白砒入鐵鍋內鋪勻，上蓋明礬末，以火煆之，至礬枯時，噴冷水一口於砒上，隨以棉紙蓋於砒上，再隨噴水三、五口於紙上，從鍋蓋邊紙上看之，以有白霜透出時為率，如無白霜發現，可再煆再噴，直至有霜時為止，去紙，入去油乳、沒各少許，蓋於礬上，離火候冷，取出為末，以麵糊為條備用。用時將此條插入漏孔，待管退出時為度。如於此方之中再加入蠍尾七枚，生草烏末一錢，即為最佳之枯痔藥，編者枯痔時亦常用之。其他外科百效書之「點玄丹」，亦系砒、礬二物，且云善治惡毒，可見此藥線一方專作去腐蝕綿之泛用品，蓋頑固腐肉，非仗此種大刀闊斧之猛烈峻劑，實不能去此冥頑不靈之大患也。</p>
<p>此線短處是去腐甚痛，病者多不樂接受。王肖舫氏則以「蛤豆條」代之，化腐不疼，且極穩妥。其法系以蚊蛤一個，焙至焦黃色，再取生巴豆三粒，去皮心，焙研細末，加冰片少許，共合一處，調捻為條（以巴豆油質能黏和成條為度，否則須相勢加油加藥）。此條用時爛而不疼，功在藥線之上。</p>

<h3>第六方·紫霞膏</h3>
<p>歌曰：紫霞膏貼遠年瘡，銅綠輕竭乳沒良，麻仁松香合一處，白蠟清油要相當，久頑瘡毒不收口，一帖之後效非常。</p>
<p>（處方）　銅綠（五錢）　血竭（五錢）　乳香（五錢）　沒藥（五錢）　松香（一兩）　蓖麻仁（一百粒）　輕粉（二錢）</p>
<p>（製法）　先將前五味共研細末，投入石臼中，再加蓖麻仁、輕粉，並滴入清油數滴同搗之，約二三千杵時，即可成膏，如不成膏，可再加蓖麻仁數十粒再搗，直搗至臼內膏軟如棉，十分融和時為止，收貯備用。</p>
<p>（用法）　此膏善除濕熱，拔毒生肌，凡夏秋之間感染濕熱發瘡者，以此貼之，其去腐生肌之功甚捷。他如梅毒、臁瘡，亦有特效。</p>
<p>近人徐喆臧驗方精華中之「紫霞膏」，較此方小有差別，惟其制煉方法則甚可取法，故轉錄之，以作本方參考：</p>
<p>制松香（六兩）　制乳沒（各六錢）　血竭（四錢）　銅綠（二錢）　潮腦（六錢）　朱磦（三兩）　腰黃（八錢）　麝香（八分）　蓖麻仁（三兩）</p>
<p>上十一味，除松香、蓖麻仁外，各先後研末備用，各藥分量以研末後淨秤為準，故在未研之前，當各多備若干，免致研後不敷。合膏時，以石臼搗松香使爛，次加蓖麻仁，三加銅綠，四加兒茶，五加乳香，六加沒藥，七加血竭，八加潮腦，九加朱磦，十加腰黃，末後加入麝香，合好之後，貯於罐內，用紙封固備用。上列各藥重量，系就一料計算，如一次多合則手續較省，但松香既多，舂搗必難，故當事先預約數人工作，以便更番輪換，務使手不停杵，愈熟愈妙。搗時如藥嫌干，可酌加蓖麻仁若干粒以調整之，如年久膏硬時，亦用此法調整。</p>
<p>此膏專治癧串，未成者自能消散，已潰而流膿液者，當酌加輕粉、犀黃以協助之，在攤膏時，須隔水燉融，切忌直接火烘，或在臨用時就熱水壺上溫融之，不可採用直接火烘，因膏中麝香經火則氣泄而效減也。</p>
<p>制松香法：以松香五斤，用鮮芙蓉花連葉十斤（以花多者為佳），柳條、桃葉、榴葉各五斤，甘草一斤，煮成濃湯後，去渣濾清，留一小部份，另儲使冷，余盛鍋中，安放露天（勿置屋內，妨爆濺也），入松香再煎，約松香一桶，湯三桶，俟油沸盡，即陸續用銅勺撈出，傾入冷湯中取起，每枚捏成如燒餅式，中穿一孔，以粗麻線貫之，分裝布袋，緊束袋口，浸糞缸中四十九日，取出去袋，以長流水漂沖三日，再露七日夜後，埋土中七日，存儲備用，以二、三年者為佳。糞缸以無病之童男、童女糞為最好，年長健壯婦女次之，惟忌經帶，若男子已成人者，則不合用。</p>

<h3>第七方·千捶紙</h3>
<p>歌曰：雄黃一錢砒五分，撒布紙上摺多層，輕輕捶得千餘下，貼瘡貼毒有良能，休將此方輕相視，楊梅疔毒大有靈。</p>
<p>（處方）　白砒（五分）　明雄（一錢）</p>
<p>（製法）　共為細末，取上好皮紙一張，將藥末勻布紙上，摺為十數折，以木捶在紙上捶之，約千餘下，藥即吸入紙層，至轉黃色時為度，收藏備用。</p>
<p>（用法）　若遇楊梅瘡毒腫起者，以此紙貼之最佳，其他潰後化腐亦妙。</p>

<h3>第八方·太歲墨</h3>
<p>歌曰：太歲墨中麝香烈，大戟蚊蛤慈菇協，千金二烏糯米調，內可服來外可貼，死牛死馬河肫毒，山嵐瘴氣都消得，磨搽惡毒能止痛，又解砒毒並水厄，咽喉腫痛不得眠，疔瘡搽上湯潑雪。</p>
<p>（處方）　山慈菇（一兩）　千金子（一兩）　大戟（一兩）　蚊蛤（二兩去蟲）　麝香（一分）　川烏（二兩）　草烏（二兩）</p>
<p>（製法）　上共為細末，以糯米煮糊搗勻，用模型鑄為一錢重墨狀條塊，陰乾備用。（舊例甲子年制者，型上刻甲子二字，乙丑年制者，型上刻乙丑二字，故有太歲之稱）</p>
<p>（用法）　每服一錠，病重者，可連服二錠，通利之後，用溫粥補之。凡疔瘡腫毒，口眼歪斜，牙關緊急等症，俱用溫酒磨服，其他一切瘡毒等症，皆用醋磨搽，功難盡述。</p>

<h3>第九方·代針散</h3>
<p>歌曰：未潰之毒可代針，巴霜信石各等分，淨雄一分相兌用，癰毒出膿漸漸輕，不問惡毒痰血起，陳醋調敷止痛疼。</p>
<p>（處方）　巴霜（一錢）　信石（一錢）　明雄（一錢）</p>
<p>（製法）　共研細末，收瓶備用。</p>
<p>（用法）　若遇皮薄瘡癤，不得穿頭而畏刀針者，以陳醋調敷患處，約一日間，瘡頭即自行穿潰，或用黃蠟捻作麥粒大，令其兩頭有光，每服三粒，黃酒沖服，見汗之後，瘡頭即穿。如遇皮厚之瘡，須用鈹針刺開少許，再敷此藥，如未成膿，則此藥不可用，否則等於活剝龜殼。</p>
<p>許璉外科證治全書中有「咬頭膏」方，專治癰瘤膿熟不潰，作用雖與代針散同，其處方則較代針散為王道，因其可減低腐蝕中之痛感也，故摘附其方如次，</p>
<p>俾臨床時多一應付法門。</p>
<p>制乳香　制沒藥　番木鱉　生蓖麻仁　銅綠（各等分）</p>
<p>共為細末，另以不去油巴豆加倍，同藥末搗和成膏，再加白砒一分搗勻，臨用時，以綠豆大一粒放患頂上，用膏藥掩貼之，潰時即行揭下，讓膿汁外出，惟胎前、產後不可貼用。</p>

<h3>第十方·熏洗湯</h3>
<p>歌曰：大凡惡毒瘀血成，不曾發散致痛疼，秘授奇方熏洗法，羌獨荊防花木行，薄蘇桃槐桑木葉，金銀川草顯威靈，將藥入鍋同煎水，一熏洗後見太平。</p>
<p>（處方）　銀花（三錢）　羌活　獨活　川烏　草烏　防風　蒼朮　薄荷　蘇葉（各二錢）　桑葉　桃葉　槐葉　樟葉（各一握）</p>
<p>（製法）　各藥共同煎水備用。</p>
<p>（用法）　將煎好藥水，乘熱先熏後洗，洗後避風，功能祛風解毒，散結消腫，倘再加入黃柏、川軍、生地更妙。未成者，熏洗之後，將藥渣搗塗患處，已成者，再加豬蹄湯淋洗，化腐生肌之功，效無其匹。</p>
<p>附方如次：</p>
<p>白芷　川芎　藿香　木香　防風　甘草（各三錢）　火蔥（一握）</p>
<p>上以米泔水六、七碗，將藥投入其中，入鍋煎濃，濾去藥渣不用，以新棉蘸湯淋洗患處，湯冷再易熱者，並隨以手輕擦患處四周，令瘡內縮，膿隨湯出，以盡為度。</p>
<p>萬潛齋云：熏洗有盪滌之功，滌洗則氣血自然舒暢，其毒易於潰腐而無壅滯也。凡腫在四肢者溻冼之，在腰腹、脊背者淋之，在下部者浴之，俱以布帛或棉蘸洗，稍涼即易。輕者日洗一次，重者日夜洗二次，每日洗之，不可間斷。凡洗時，冬月要猛火以逼寒氣，夏月要閉窗以避涼風，若不慎此，輕則有妨收口，重則恐變純陰。夫洗藥不一，如初腫與將潰者，俱用「蔥歸溻腫湯」洗；如陰症不起者，俱用「艾茸湯敷法」如潰後，俱用「豬蹄湯」燙洗。用豬蹄湯者，以助肉之氣而逐腐也。此洗滌之法，乃瘍科之要藥，方附於後，以備參考：</p>
<p><u>一、蔥歸溻腫湯</u></p>
<p>凡癰腫瘡瘍，初腫將潰之時，用此湯洗之，以瘡內熱癢為度。</p>
<p>蔥頭（七個）　當歸　獨活　白芷　甘草（各三錢）</p>
<p>上五味，以水三大碗，煎至湯醇，濾去渣，以絹帛蘸湯熱洗，如稍涼再易之，洗時切忌風寒。</p>
<p><u>二、艾茸湯敷法</u></p>
<p>凡陰瘡黑陷不痛者，皆可用之，以知痛則生，不知痛而出死血者死。並須內服大補回陽之劑以助之，方可轉危為安。</p>
<p>硫黃（五錢）　雄黃（五錢）　艾茸（一握）</p>
<p>上以硫、雄二味為末，同艾水煎半日，水將干，取出艾搗爛，溫敷患處，再煎再易，十餘次為度。</p>
<p><u>三、豬蹄湯</u></p>
<p>凡癰疽諸毒流膿者，熬好洗之，以助肉氣，消腫散風，脫腐止痛，去惡肉，活死肌，潤瘡口。如腐盡者，不必用之，當以米泔水熱洗之，令瘡潔淨，不可過洗，過洗則傷水，皮膚破爛，難生肌肉，不易斂口。</p>
<p>黃芩　甘草　當歸　赤芍　白芷　蜂房　羌活（等分）</p>
<p>上七味，共為粗末，看證之大小，定藥之多少。先將豬前蹄一雙，用水六碗煮之，蹄軟為度，將汁濾清，吹去汁上油花，即用粗藥末一兩，投於汁中，再用微火煎十數沸，濾去渣，候湯微溫，即以方盤一個，於瘡下靠身放定，隨用軟絹蘸湯，淋洗瘡上，併入孔內，輕手捺盡內膿，使敗腐宿膿隨湯而出，以淨為度，再以軟帛疊七、八重，蘸湯勿令太乾，覆於瘡上，兩手輕按片時，帛稍涼再換，如此再按四、五次，可以流通血氣，解毒、止痛、去瘀，洗訖，用絹帛拭乾，即隨症以應用之藥貼之。</p>
<p>瘡瘍洗法，西醫極端推崇，惟目的多在清潔殺菌，與中醫洗滌之舒暢營衛、調和氣血者，目的各有不同，故中醫洗滌之法，實應重視。</p>

<h3>第十一方·天然散</h3>
<p>歌曰：天然散內鉛粉神，各樣瘡毒可回春，畏痛加上輕乳沒，止癢銅綠線末靈，煆炒鉛粉</p>
<p>研極細，臨症加減任施行，諸般奇症知活用，走遍天涯不憂貧</p>
<p>（處方）　鉛粉（一兩）</p>
<p>（製法）　於鍋中火炒黃色，貯瓶備用。</p>
<p>（用法）（1）疼者加輕粉一錢，制乳香一錢，制沒藥一錢，血竭一錢，赤石脂（煆過）一錢，冰片一分。</p>
<p>（2）癢者加銅綠少許（以兒茶煎水煮過，再煆成黃金色），亦可加藥線末三分，金箔三帖。</p>
<p>（3）諸瘡有水者，加海螵蛸一錢，蚊蛤一錢，靈藥五分。</p>
<p>（4）如諸瘡不收口，不紅只癢者，加銀翠一錢。</p>
<p>（5）如欲生肌平口者，加龍骨一錢，象皮一錢，再加煆牡蠣亦佳。</p>
<p>顧世澄瘍醫大全中有一方，專治痔漏、發背，疔癰、臁瘡，破流黃水，黃水到處，浸淫成瘡等症，亦即天然散之未加命名者。方以杭粉一兩，入傾銀罐內化開，至成老金黃色，冷定研末，加冰片三分備用。用時將藥撒於患處，以手揉之，其水自止，其痛亦定，且不成瘡，亦即天然散也。</p>
<p>又家藏抄本中有「錦堂散」一方，云能去毒生肌，收口提膿，為外科要藥，方繫上錦堂粉（即鉛粉，錦堂乃其牌名也）一兩，用銅瓢炒成黃色時，以紙包好，就水缸下露一宿，收貯備用，遇症無不立效。</p>
<p>又一抄本方云：膿窩黃水常流，搔癢不已，漫延不止，用之靈效異常，方為宮粉（即上品鉛粉）一兩，炒成黑黃色，加冰片三分，研末搽用，亦即天然散之未予命名者。</p>
<p>神奇良方中有跌打損傷方一隻，亦即天然散之加味者，方為豬板油四兩，連須蔥一把，將油與蔥放石板上，以木捶打如泥狀，然後以鉛粉四兩，入砂鍋內炒至黃色時，入油、蔥內和成餅狀，貼敷傷處即愈。</p>
<p>一壺天書中有「元龍丹」方，功專生肌斂口，方系鉛粉一兩炒黃，冰片二錢，</p>
<p>共研細末乾摻，亦天然散之另一名稱者。</p>
<p>葛洪肘後方：墜撲瘀血，從高落下，瘀血搶心，面青氣短欲死者，以鉛粉一錢，和水服之。</p>
<p>備急方：治陰股常濕，以胡粉撲之，亦治乾溼癬瘡。</p>
<p>衛生易簡方：接骨續筋，止痛活血，以定粉一錢，當歸一錢，硼砂一錢半，用蘇木煎湯調下，仍頻飲蘇木湯；和濟局方及洪氏集驗方，皆有此方，名「神授散」，洪氏並云，曾屢用之甚驗，且有詳細說明。</p>
<p>青囊秘錄方：折傷接骨，以宮粉、硼砂，等分為末，每服一錢，蘇木湯下，仍頻飲蘇木湯，大效，與上方同出一轍。</p>

<h3>第十二方·麻涼膏</h3>
<p>歌曰：麻涼膏與鐵箍同，二烏南半野芋從，多用芙蓉葉為主，敷上癰疽痛無蹤。</p>
<p>（處方）　川烏（四兩）　草烏（四兩）　生南星（二兩）　野芋頭（四兩）　芙蓉葉（四兩）</p>
<p>（製法）　共為細末備用。</p>
<p>（用法）　陽毒用酒調敷，陰毒用醋調敷。如皮破者，以清油調敷。如無野芋頭時，亦可以水仙花根瓣代之。</p>
<p>又一用法，陰毒可加黃耆、肉桂為末，醋調敷之。</p>
<p>此方最適合於陰陽夾雜之症，在鮮藥難辦時，亦可以「南星散」代替之，方用生南星一兩，炒白芥三錢，白芷五分，共研細末，以豬膽汁、蜂蜜各半調塗之，消腫散結之功，不亞於麻涼膏。</p>

<h3>第十三方·解毒膏</h3>
<p>歌曰：解毒膏藥味不多，不離丹油共粉陀，桃槐柳桑發芨蘞，木鱉防甲與黃芍，堪嘆諸醫多味者，幾見膏藥起沉疴。</p>
<p>（處方）　白芷　白蘞　白芨　川烏　草烏　黃芩　獨活　細辛（各一錢五分）　荊芥　梔子　連翹　羌活　黃連　阿膠　海藻　山甲　昆布　大黃　木鱉　血餘　赤芍　薄荷　牛膝　木瓜　防風　石燕　海帶　黃柏　桃枝　柳枝　桑枝　杉枝　天丁　密陀僧（各一兩）　水粉（四兩炒過）　黃丹（三兩）　香油（八兩）</p>
<p>（製法）　上為咀片，將香油入鍋熬之，投前藥（除血餘、黃丹、陀僧、鉛粉四味）入內熬枯，去渣濾過，然後下鉛粉（先煆過）、血餘、陀僧、黃丹，至漆黑、滴水成珠時停火，收入罐內備用。</p>
<p>（用法）　用時以軟紙攤貼之。</p>
<p>初因此方屬於師授，故常用之，後試用別本處方，欲對比療效，然連試數方，均不相上下，為了簡化處方，乃改用下方，更得理想收穫。</p>
<p>白芨（三錢）　白蘞（三錢）　番木鱉（一兩）　露蜂房（三錢）　蛇蛻（錢半）　山甲（三錢）　鉛粉（一兩）　陀僧（一兩）　桑枝　槐枝　桃枝（各三十寸）　血餘（如雞子大一團）　馬齒莧（五斤煮汁兌入）</p>
<p>將各藥共合一處，用香油一斤同入鍋中，炸枯去渣，然後加入鉛粉、陀僧，再熬至滴水成珠時，收貯備用。此膏勿論何種陽症瘡毒，皆可貼用，療效極佳，有時亦加入大黃、赤芍二味。</p>

<h1>下編</h1>

<h2>十八問答</h2>
<p>一問曰：何為腦花？答曰：腦為諸陽之首，乃經絡之總會也。花者如蓮房樣，或有數孔，或有十數孔，初起如粟米大，微疼微癢，三、四日間則作熱發疼，其毒亦漸長，無膿紅腫，十數日後出膿者，則易治，若不出膿，中間爛如敗絮棉團者，則難治。問曰：當何以治之？答曰：初起者以「麻涼膏」敷之，再以「熏洗湯」熏洗之，待膿出盡時，以「解毒膏」貼之，俟腐肉落盡，方可生肌；如氣血盛而脈洪大者，可內服「中九丸」，其毒即可漸退而愈。昔有一婦人生此瘡，無花如饅頭樣，紅腫無孔，此為腦癰，不可以花法治之，因經他人敷草藥過多，致表皮變硬，人皆以無名腫毒治之，故多不應；余以「化肉膏」貼之，並用針開孔出膿，惟此後膿久不幹，又用藥線插之方愈。</p>
<p>二問曰：何為對口花、對口疽、對口疔？答曰：花者眼多；疽者頂平；疔者頂尖多癢。又問曰：三者何以治之？答曰：名雖不同，其治則一。頭者經絡之徑路，前有口舌相干，不可言易，先須認清五善、七惡，治療方有把握。如在十餘日間有膿者，則易治，如不成膿，如一包敗絮者，則難治。治法可內服「中九丸」，外敷「麻涼膏」，再用熏洗之法，自易痊愈；如有管者，當用藥線取之，然後再以生肌藥斂口。</p>
<p>三問曰：何為背花？答曰：背花者其毒極重，臟腑皆繫於背，故背心生毒，要有膿出方為順症，爛肉落盡知痛者，方好治。若初起如粟米大，兼有膿頭者，不拘老幼，即灸艾火十餘壯，其毒即出。此種病候，丸藥取效者多，湯劑見效者少。患此症者，須飲食、二便如常，有膿，周圍沒有烏肉，兼知痛癢，方為善症。治法則一，可內服「中九丸」，外用「化肉膏」化去腐肉，自易痊愈。</p>
<p>四問曰：疔毒起於何經？答曰：起於心經，乃極熱惡症。發於六腑者易治，發於五臟者難治，不痛不癢，周圍烏黑者難治。疔有三十六種，外有五種不測之症，或食牛羊犬馬，或飲酒毒物而生，初起不疼不癢，或出水，或翻花，或無頭，不作膿，如冬瓜皮樣，或頭白，或烏黑，通走九竅，眼耳鼻口舌骨里，有生膿血，由頭面傳於咽喉者必死。且疔生二、三日，必有外徵確候，生於頭面者，將走黃時，咽喉必痛；生於手足者，將走黃時，腋下必有疙瘩，其疔之附近，亦必有紅線內攻，與他瘡殊異。凡初起時，如粟米大作癢，搔之不疼，未老先白頭，三、四日後潮熱寒戰，疱硬如疔，或是出水，或者作疼，五、六日作紫青色，可內服「疔毒復生湯」（銀花、生梔、骨皮、大力、木通、連翹、川軍、花粉、公英、菊花、乳香、沒藥，水煎服），外以針刺紅線出血，塗以旱菸油，再以鮮馬齒莧、鮮柏葉、明礬、雞子清，搗爛塗疔。訣云「治疔先刺血」是也。如手腳生疔，疼痛難忍者，以熱香油洗之，再以蝦蟆皮貼之。又有一種麻子疔者，此起彼伏，連綿不已，是為惡症，可用「太歲墨」內服、外敷，可以化險為夷。</p>
<p>疔瘡形象歌</p>
<p>初起如粟癢微生，未老白頭痛漸增，一燒二熱寒戰起，三四發疱硬如釘，破皮出水疼痛少，五朝紅紫六日青，人若犯此無膿症，先定吉凶辦前程。</p>
<p>五問曰：鬢疽、鬢漏、耳門癰，三者何辨？答曰：疽者生於鬢毛間，狀如癤子；平頭起者為癰，疼痛非常，或遠年不收口者為鬢漏。初起者，先以「太歲墨」塗之，繼服「金蚣丸」，再服「中九丸」自愈。耳門癰者，生於耳門之間，三者雖然不同，而治法則一，相症施治，不可拘泥。</p>
<p>六問曰：何為痰核、瘰癧？答曰：痰核僅一、二相連；瘰癧則重臺、子母，三、五不等，或有十餘枚成串者。毒痰毒血，只有二大原因，俱以行痰、順氣、軟堅、開鬱之法治之。凡症初起，或用海藻、昆布、螵蛸、海帶等藥生效者有之，或用斑蝥、全蠍等物攻下者有之，或有用草藥內服、外敷者有之。如用此數法均不生效時，硬者自以內消為上，未穿潰者則用「化肉膏」敷貼，以藥線落子，七日見功；如浮腫不消者，可用「金蚣丸」、「中九丸」同服，「紫霞膏」亦有奇效。更有馬刀癧，堅硬如石，多在耳前、耳後，缺盆、頰車等處，堅而不潰，平而不尖，赤色如火燒烙，極痛難忍，急以「金蚣」、「中九」二丸服之，如不生效，則無方可治。痰核則子午潮燒，是為癆病，亦多難治。</p>
<p>七問曰：何為項下桃、擔肩瘤、竄脅癰？答曰：毒生於顎下者名項下桃；生於肩井上者名擔肩瘤；生於脅下者為竄脅癰。治法無二，可照前方選用。</p>
<p>八問曰：何為暗門閂？答曰；生於耳根下對喉處，如門之有閂，故曰暗門閂。其治法與癰疽同。</p>
<p>九問曰：何為乳癰、乳岩、乳花？答曰：乳癰初起，紅腫痛甚，或六、七日成膿，或十餘日成膿，或因有孕而內吹之，或因乳子而外吹之，皆為此病根源。初起可用蒲公英同酒糟搗敷之，或以白頭翁葉同酒糟搗敷之，或用馬前子去皮毛，香油炸透研末，黃酒沖服一分亦可，見汗即愈。乳岩則因七情氣鬱而成，初起形如豆大，至四、五年時，乃漸大如彈子，或十餘年方始發作，其硬如石，潰則狀如山岩，故名乳岩。治法服「金蚣丸」、「中九丸」後而生膿者，則為可治之症，若年久潰而不斂者難治。尤忌開刀，可令人血出不止。倘有五善而無七惡者，尚屬可治，否則百無一生。乳花者狀如背花，眼多肉綻，治法亦同。若三症毒未成膿者，俱可用內服仙方活命飲（山甲錢半，草節錢半，防風七分，歸尾一錢，陳皮七錢，銀花二錢，乳香一錢，沒藥一錢，花粉一錢，貝母七分，白芷梢七錢，頭劑用生軍二錢，酒煎服，二劑則去大黃），或「神效栝蔞散」及「連翹金貝散」等，亦可痊愈。</p>
<p>十問曰：對心漏、對心癰，何以治之？答曰：照前癰疽、漏瘡、竄脅癰等法治之，或可獲萬一生望，因此屬於絕症也。</p>
<p>十一問曰：何為上肚角、下肚角，魚口、便毒，及陰疳、鬥精瘡？答曰：上肚角平臍，去臍四指；下肚角去前陰上三指，胯眼上二指；魚口在胯眼，其形長；便毒同部位，其形圓，與前諸症同一治法。魚口便毒初起用「通聖散」，加蜈蚣去頭足三分，清油炙過，全蠍去頭尾，洗去鹽，三分，山甲五分炒，殭蠶五分炒，制乳香五分，制沒藥五分，此六味共研細末，衝入煎藥中服之，其毒即下，若年遠日久者，則不必服此藥，可照前法治之。陰疳與蠟燭花不同，陰疳或破皮，或作癢，或疼痛，或皮爛；蠟燭花則必先有一小子，或作癢，或作疼，漸爛開，出膿水，周圍漸大，長成肉球，其陰莖則爛而開花。治法先用「化肉膏」化去肉球，再用廣錫二錢，水銀一錢，於鐵勺中熔化攪勻後，傾出冷定，研為細末，與天然散三錢和勻，乾摻患處，內服「中九丸」。若爛至陰，則成鬥精瘡時，有如黃油或如肉之物鬥出，乃淫精風火濕熱所出，可用「天然散」，加輕粉二錢，制兒茶一分，煆石膏一分，制銅綠一分，醋煮石青一分，共研細末，有水則乾摻，無水則用公豬膽汁調搽，內服「中九丸」，即可漸痊。</p>
<p>十二問曰：卵癀、卵癰、卵花、卵漏，何以辨別？答曰：卵者睪丸也，俗名卵子，如腫而成膿，必要針開。卵癰者皮紅腫大，毒在皮上。卵花者在腫處潰七、八眼，厥狀如花。卵漏者內穿一、二眼，出清膿黃水，日久不幹。此皆濕熱下墜膀胱，或者酒色過度而成，此毒甚有卵子裂破而人不死者，亦有因患梅毒，其毒未盡而發此症者。治法外以紫蘇葉包之，並乾摻「天然散」加赤石脂，內服「中九丸」。其餘一切卵症，均可照此治法。</p>
<p>十三問曰：附骨疱、附骨癰、附骨疽、附骨漏，何以分別？答曰：毒在胯尖上，不紅腫，有時而胯上作痛，有時而胯下作痛，時上時下，時好時歹，如脛骨樣，至於時久而痛在一處，皮膚如故，按之則疼痛，而現形不測，此為附骨疽也。治法內服「中九丸」，外以「化肉膏」貼之，膿成者則針之。附骨疱、附骨癰，則必先潮熱，或乍寒乍熱，先則骨肉作疼，繼則皮上紅腫而硬，亦有因傷寒後而成此毒者，名為汗後脫遺，痛不可忍。治法外以「麻涼膏」貼敷，內服「中九丸」。至於附骨漏者，必先因患癰疽疱時，久不收口，風邪內侵，兼之病者求功太急，致腐肉未化，毒出未盡，因之時久成繭成漏，膿水不幹。治法必須取出多骨，化繭去腐，後上「天然散」，服「中九丸」，方可痊愈。他如汗後脫遺，在未穿潰時，亦有用蠟、醋調陳米粉敷之而愈者。</p>
<p>十四問曰：鶴膝風、鶴膝癰、人面瘡、臁瘡，何以別之？答曰：鶴膝風者膝關節常常疼痛，時久後則膝頭腫大，如鶴之膝，故名鶴膝。治法內服止痛藥；外用牛皮膠蒸化，入生薑汁調和成膏貼之。鶴膝癰以紅腫痛者為佳，若不紅、不腫、不痛，且不作膿者，便不可治；若現出頭來，終成絕症。人面瘡者，膝上生一肉瘤，如人面樣，耳目口鼻畢具，患此症者，百難一痊。治法但以川貝一味研末敷之，是否能愈，姑盡人事。臁瘡者生在臁兒骨上，或因外面跌破皮肉，受風作癢，搔抓而成，或因疳毒愈後復發而成，或因風熱、濕毒未盡驅除而成。治法若不癢者，以「紫霞膏」貼之，內服「中九丸」，或用輕粉五分，生豬板油二兩，同新蒸出之饅頭皮共搗，塗之亦妙。</p>
<p>十五問曰：裙邊瘡、蹭癀、踝花、鵝掌疔、鵝掌風、牛皮癬，何以別之？答曰：裙邊瘡婦人多有之，因搔抓破皮，肌肉潰爛，年深日久，風濕熱交熾，或因腳氣而血脈不行，致成此症，其瘡大多難治。蓋足為諸陰之所會，肌肉淺薄，氣血難到，故治療不能速愈，可用「紫霞膏」或「白玉膏」貼之，兼用熏洗等法，一方用好醋二碗，入土罐內，將白蠟樹葉不拘多少，入罐同煮，俟煮至一碗時，再入輕粉二錢，稍煮之後，用蠟葉貼之即愈。蹭癀生於腳蹭上，穿頭出膿者易治，如穿頭後，日久年深，不能收口者難治，當以藥線治之。踝花生於螺螄骨上，有眼出膿，須用藥線奪下方好，若眼多而七惡有一、二見者，多不可救。鵝掌疔生於腳板心，其狀如瘤，出水流膿，若日久不收口者，當用藥線落瘤，並去敗物，方可生肌。鵝掌風系生過楊梅毒瘡，服藥過急，收毒入內，不能發出，故發生此瘡，可內服「中九丸」，外用桐油搽之，兼用黑牛糞燒煙燻之，即可痊愈。牛皮癬生於頸項及腰腕、胯腿之間，皆由風熱之毒中於肌膚，必用銀針外刺截住，以川槿皮磨醋搽之，內服「中九丸」，或用煙硫、石青、生巴豆、川槿皮、鍋烈搽之，無不愈者。</p>
<p>十六問曰：何為痔漏？答曰：痔生於肛門弦上，如榴子樣者為痔，有眼孔而出膿水者為漏。痔有二十四種，名雖不同，根源皆為濕熱下注，或酒色勞碌所傷而成。少年發者極少，至四五十歲時發者甚多。治法若痔上有眼者，以藥線插之，其綿管即落，外用「天然散」加赤石脂搽之，「生肌膏」蓋之，再加銀翠、石青更妙。若是血痔，可內服「中九丸」，若是通腸痔漏，則先用三丫草（即牛蒡子草）透入腸內，然後插入藥線，自能漸愈。</p>
<p>十七問曰：口內有蟲疳、熱疳、走馬牙疳等症，何以別之？答曰：蟲疳者是肉內有蟲，逞及傍骨，爛出肉如敗絮是也。走馬牙疳者口唇俱腫，外是好皮，內肉腐爛，鼻梁俱脫，鼻腐爛如柑子皮是也，甚則眼耳口鼻，俱不可救，用醋洗去爛肉見血者，十有一、二可治。治法用鍋烈、銅綠、天然散各二分，藥線末一分半，煙硫二釐，冰片三釐，共和勻撒之，內服「中九丸」。此症如爛去皮肉，出水出膿者好治；如爛來像肝子樣，又無膿血者，則不可治。熱疳則不過牙齦出血，洗搽之法，俱與上同，或以人中白煆過，同白頸蚯蚓、白砒（棗肉燒過）研末，搽之亦佳。</p>
<p>十八問曰：何為鵝口瘡？答曰：滿口舌上俱是白皮，口內流涎是也。治法以黃連、乾薑、炒蒲黃各等分，為末搽之，出涎即愈。</p>
<p>又喉中有暗門閂是為喉癰，傍咽舌兩邊有兩個肉瘤，如有眼，即以藥線插入眼內落瘤，吹藥生肌斂口。又有牙眶骨上生痰癰，堅硬如石，發作時牙眶腫脹，歪在一邊，可用披針開眼，上入藥線，此為惡症，十中難愈一、二，此症前未詳及，故重言之。</p>

<h2>瘰癧</h2>
<p>瘰癧為瘍科中最難治之一種頑固症候，其症之成也，往往三五成群，牽藤成串，故有癧串之稱，亦有竄胸竄脅者，種種現象不一而足，潰後則膿水常流，終歲窮年，纏綿不愈，名雖有五，治法則一。在初起時可用紫背天葵草服之，或以紫花地丁草服之，間有愈者，如不愈而反擴大時，則當以順氣行痰、開鬱軟堅之方（順氣消痰飲）主之，方如次：</p>
<p>石燕（一對入鍋炭火煆紅醋淬七次為末）　陳皮　半夏　茯苓（各五錢）　廣香（三錢）　海藻　海帶　昆布（各一兩）　檳榔（五錢）　防風（三錢）　川芎　枳實　白芷　夏枯草（各五錢）　黃連　黃芩　梔子（各一錢）　赤芍　桔梗（各三錢）</p>
<p>或水煎服，或成丸服均可，或兼服金蚣丸更妙。</p>
<p>如系男子，則加入知母、黃柏各八分；如系女子，則加入當歸、地黃、川芎、白芍各八分。如有孕者，則忌金蚣丸，恐其傷胎。</p>
<p>此方久服之後，消散者有之；如不消時，則有落核一法，內服中九丸兼金蚣丸，如未穿頸者，以化肉膏貼於頭上，俟肉變黑色而不疼痛時，用針剝開一孔，插入藥線，一日一插，至七日後，核必自行落出（凡上藥線，當以雞蛋油搽於孔部，以減少其疼痛，然後以解毒膏掩蓋之）。用熏洗湯洗淨汙濁後，用加味天然散加細藥，生肌平口，須忌發物，免礙藥效。加味天然散乳香　沒藥　兒茶　血竭（各一錢）　赤石脂（三錢）　海螵蛸（三錢）　冰片（一分）</p>
<p>如系冬月則加龍骨、象皮各三錢。</p>
<p>上共研細末，加入天然散中用之，約一月久可愈。</p>
<p>大藥方（能消百毒，去腐爛，即藥線方）</p>
<p>白砒（三錢）　明礬（七錢）</p>
<p>先將礬末鋪入鍋內，次將砒放在礬中心，滴清油五、六滴，候煙消盡，取出聽用。如瘡口爛大時，用清油、白蠟煎溶，入大藥在內，以油紙敷貼。</p>
<p>小藥方（能縮血，干膿水）</p>
<p>蚊蛤一個，開一口，灌入明礬末於內，用皮紙封固，火中燒至內部呈黑色時，取起研為細末，入生肌散用。</p>
<p>脫繭風涼膏（上大藥後，以此方潤繭，其核自落）</p>
<p>煮雞蛋五個，去白留黃，同麻油久煎去渣，傾入碗內，加雄黃五錢為末，入油內攪勻，敷搽患處。</p>

<h2>痰核</h2>
<p>痰核者其核亦成串，三、五不等，多生於左右二頰下，或左右二頦，有氣、血、風、痰、酒之五種，名雖有五，而其根則一，惟治法當分別虛實，不可籠統。男子在未患痰核之先，原患火症者，則為火盛生痰；婦人在未患痰核之先，先患火症，如子午潮燒，體質虛弱，而後生痰核者（即腺癆），可照瘰癧方法治之，以落其核。惜乎十有九皆不可治，事前當使病家知道，免致醫治不愈時，召來譭譽。其治療法與瘰癧同，服中九丸，貼解毒膏，落核之後，亦以熏洗湯洗之，再用加味天然散收功。</p>
<p>凡寒痰凝結者，最忌貼涼膏，服涼藥，治法服中九丸或陽和湯為妙。</p>

<h2>鬢疔</h2>
<p>鬢疔生於太陽下，左右形一樣，頭尖如癤，堅硬如石，起初頂上如粟米大，起白泡，或癢或痛，色紅者吉，紫黑者凶，治法內服中九丸，兼服千金內托散（即十宣散）。方如下：</p>
<p>川芎　當歸　生地（各八分）　赤芍　白芷　防風（各三錢）　黃耆（一錢）　梔子　連翹　荊芥　白朮　黃芩（各八分）　茯苓　銀花　人參　甘草（各三分）</p>
<p>上煎服。有膿者可治，無膿者難治，故可以預決生死。</p>
<p>外治法：或貼麻涼膏，或塗太歲墨以止其痛，兼用熏洗湯洗之，俟六、七日後，紅色或烏色回弦，起白漿泡產膿，頭頂上不硬而棉軟，飲食如常者，是為可治之症。若痛不止，烏黑如前，又不成膿者，其症危矣。當辨五善、七惡，以決生死存亡；如成膿之症，已經潰爛化膿者，可以清油、黃蠟、隔紙膏等貼之：</p>
<p>隔紙膏方</p>
<p>乳香　沒藥　血竭（各一錢）　輕粉（二錢）　銀硃（二錢）　鉛粉（三錢）　硃砂（二錢）　冰片（一分）　石鐘乳（三錢煆過）</p>
<p>上共為末，用清油四兩，黃蠟四兩，入鍋熔化取起，瓷碗貯之，候冷定，入藥在內攪勻，以棉紙攤膏，貼於患處，一日兩換。貼去腐肉後，視其肉色如石榴尖樣時，用熏洗湯洗淨，貼解毒膏，摻加味天然散，生肌、平口。</p>

<h2>鬢疽</h2>
<p>鬢疽者生在鬢毛之間，形同癤子，其癢非常，大者為癰，小者為疽，遠年不收口者為漏。其患之來也，因人素好厚味，屢受熱症，故成此毒。其治法與鬢疔同，初起時以太歲墨搽之，先服金蚣丸，後服中九丸及十宣散，外用熏洗、生肌、平口法，只要成膿，無不愈者。</p>

<h2>嘴疔（似指唇疔而言）</h2>
<p>嘴疔者生嘴上，初起時可用艾火灸之，癢者須灸至痛，痛者須灸至癢。其治法與鬢疔同，敷搽、貼熏、服藥，無有不愈者。</p>

<h2>水疔</h2>
<p>水疔不論何部以及四肢，皆可發生，初起時膚上麻癢，手搔之又覺疼痛，其色烏紫如疹，一發如雷，痛不可忍，疹處皮肉破爛出水，未到七日，或七日間爛成深坑，日夜呻吟者，多屬凶多吉少。治法內服中九丸，兼服金蚣丸，外用太歲墨搽之，更以熏洗湯每日熏洗三次，痛則停止。有膿者可治，如無膿而爛至骨者，為不治之症。</p>

<h2>耳門癰</h2>
<p>耳門癰者瘡生耳內，其症多由積熱而成，一邊硬至耳很，紅腫痛甚，初起用麻涼膏以止其痛，內服中九丸，兼服金蚣丸，以速散其毒，勿使久延釀成大患。此症定然成膿，治法與鬢疽同，內服中九丸，兼千金內托散，至七日後，耳內出膿，如膿久不幹者，須用線末，以綿紙成條，黏惹藥末插入耳內，連插數次，膿干即愈。</p>

<h2>暗門閂症</h2>
<p>此病生於喉嚨小舌之上，左右各有一個肉球，塞住喉嚨，致水米不下，眼多有膿，形如爛東瓜狀。治法以竹管一枝，內貯藥線一條，以鐵釬頂住藥線，入肉球內，一日插入藥線一次，連插三日，其球即消，約六、七日間，即可痊愈八九；至喉嚨不痛，能進硬食物時，以天然散生肌、平口，內服中九丸，兼服甘桔消痰飲：</p>
<p>桔梗　豆根（各一錢）　梔子　連翹　防風　薄荷　甘草（各五分）　黃連（七分）　大力子（一錢）　赤芍　白芷　川芎（各五分）　玄參　麥冬（各七分）　淡竹葉（五分，水煎服）</p>
<p>吹藥</p>
<p>熊膽（三分）　宮粉（一分）　冰片（一分）　甘石（一錢）　明雄（一錢）　硃砂（五分）　豆根（一錢）</p>
<p>上共為末吹之，不過半月，即可痊愈，以加味天然散收口：</p>
<p>加味天然散（此與前方不同）</p>
<p>赤石脂　煆龍骨　海螵蛸　冰片　兒茶　乳香　沒藥　血竭</p>
<p>上共為細末，加入天然散中用之，功能生肌、平口。</p>

<h2>項下桃</h2>
<p>此症生於腮下，結一大核，形如胡桃，若不受熱，善於保重者，其核即軟如棉，若偶有惱怒時，其核即硬大，牽連舌根，頗類重舌，以重舌之方治之，又多不效，故此症必須取核，方有痊愈希望。可照前痰核法落核，內服中九丸兼金蚣丸，其他熏洗、生肌、平口、諸法，皆與痰核相同。</p>

<h2>馬刀痰核</h2>
<p>此症生於下頦對喉嚨處，形圓如卵、堅硬如石，塞住喉嚨，女人患者甚多，一起惱怒，即腫痛潮熱，約七、八日後，即又如常。醫治之法，以順氣行痰之劑為佳，內服中九丸兼金蚣丸，切戒針灸，不可落核，若微針破，即血出不止，且翻弦而不易收口，慎之。若子午潮熱，又有火症者（防成骨癆），十難一痊。</p>

<h2>乳花</h2>
<p>此瘡生於乳頭之上，或左右二旁，是名乳花，亦名乳癰，眼孔之多，與蜂窩相似。治法外用麻涼膏貼之，內服中九丸兼托裡之劑；至七天之後，痛即漸止，四圍破皮，照前法熏洗，生肌、平口，須忌發物，方保無虞。或貼隔紙膏亦佳。</p>

<h2>乳癌</h2>
<p>此症生於乳頭之下，其發生時如豆大，或如棗核，漸漸擴大時可如雞卵，其硬如石，但不紅腫，如受風熱或氣惱時，即紅腫而痛，經六、七日後，又復如常，不可針破，若不慎而針破後，即血出不止，或弦翻不收，病遂危矣。治法在初起一、二年者，服中九丸多次後，則漸漸消化，或用陽和湯送服中九丸亦可。若年久自潰者，則百無一生。</p>

<h2>腰疽</h2>
<p>此症生於左右腰眼下裙帶處，皮膚色紅，腫硬頭平，痛甚。在初起時可用艾火灸之，痛者灸至癢，癢者灸至痛，毒即可散，縱或不散，為害亦少。治法與乳花同，服中九丸，敷洗熏貼，生肌、平口。</p>

<h2>上肚角疽</h2>
<p>此症生在臍上，約離臍三寸處，皮膚不紅不腫，肉內隆起一塊，按之微痛，醫多誤作痰核治之，或作奔豚氣治之，故皆無效。病之來源，多因酒色過度後，風邪乘虛所致。治法以生薑、火蔥一握，木捶捶爛，入鍋炒熱，敷於患部，冷後又炒又敷，以散其風邪，內服中九丸兼金蚣丸，外敷麻涼膏，或兼服排膿敗毒之劑以攻之：</p>
<p>白朮　茯苓　當歸　川芎　炙耆　人參（各三錢）　云風　白芷　黃芩　山梔　連翹　銀花　蜈蚣　殭蠶　全蠍　蟬蛻　大黃　芒硝　甘草　大棗（三枚引）</p>
<p>上水煎空心服，日二次，其毒即可不出皮膚；如成膿或自潰時，其膿即由大便而出，再服蠟礬丸干膿收功：</p>
<p>黃蠟（二兩）　明礬（二兩）　硃砂（一兩）</p>
<p>先將礬、砂研細，合於一處，將黃蠟入鍋熔化後，方下礬、砂攪勻，乘熱為丸，如梧子大，每服五十丸，空心白開水送下，至大便膿盡時收功。</p>

<h2>下肚角疽</h2>
<p>此症生於臍下左右，約離臍三寸處，有硬塊一條，橫過胯眼上下作痛，醫者多誤作奔豚或小腸之氣，故治鮮有效。患此者多由酒色過度後，乘熱臥於當風之處，使氣遏痰不能周流所致，其形狀與上肚角症相似，治法亦同。惟人體虛弱者當兼服三香丸，敷麻涼膏，經六、七日後，皮膚腫起痛甚者，可用化肉膏貼之，至肉黑時，用針撥開，膿即隨手出矣。若膿不幹者，可用藥線三次，其膿自干；若膿成而不出膚，必然內潰而由小便中出，以燈心湯送中九丸服之，即可痊愈。</p>

<h2>便毒</h2>
<p>此症在胯眼下有結核，初如彈子大，漸擴張大至雞卵狀，不甚痛。初起時服中九丸兼金蚣丸，外貼麻涼膏，即可內消；如不消時，可再以五虎下西川法主之：</p>
<p>蜈蚣　全蠍　殭蠶　蟬蛻　山甲　當歸　赤芍　黃芩　梔子　連翹枳殼　銀花　防風　荊芥　生地　木通　豬苓　二醜　大黃　芒硝　黃連　白芷　甘草</p>
<p>上水煎空心服，日三次，其毒自消。如作膿時，以上肚角疽之排膿劑服之，或在放膿時以化肉膏貼之，至穿頭時洗以熏洗湯，貼以解毒膏；膿盡後，用天然散以平口、生肌，須忌發物。</p>

<h2>魚口</h2>
<p>此症生於胯間，與便毒相似，惟便毒圓而魚口長，是其不同處，潰後則形同魚口，故有是名。治法亦如便毒，敷服熏貼，生肌、平口。</p>
<p>山甲（三大片炒）　歸尾（三錢）　大黃（三錢）　殭蠶（一錢炒）　黑醜（一錢）　土木鱉（三個）　甘草節（三錢）</p>
<p>上以酒水各一盅，煎至八分時，空心服之，渣再煎服，俟便利四次後，食稀粥以補之。除黃甲串外，九龍丹亦為內消魚口良方，過去重慶某醫曾以此方製成「魚口內消丸」成藥出售，獲利不資，且有不少同道購作診室常用品，其著有療效可知。</p>
<p>九龍丹</p>
<p>木香　乳香（制）　沒藥（制）　兒茶　血竭（另研）　巴豆（去油不去心各等分）</p>
<p>上研末，以生蜜調成一塊，瓷器收貯。臨用時丸如豌豆大，每服一丸，空腹時熱酒送服。又一本云：丸如綠豆大，每服九丸，故名「九龍丹」。以編者過去經驗，一粒似太少，九粒又嫌過多，大都視患者體質強弱、以三丸至七丸為最適當；但偶爾也有用到九丸的，病勢減退雖快，而患者有下利不休副作用，是不免過分吃苦耳。</p>
<p>又文叔來外科摘錄中之九龍丹方，與此小有不同，專治魚口便毒，懸癰橫痃，初起未成膿者宜服，方為兒茶、血竭、乳香、沒藥、木香、甲珠各一兩，共為末，以歸尾三兩，紅花二兩，酒煎膏，和丸如梧子大，每服二錢，空心熱酒送服，數服自潰。余意便毒既成，在未化膿時，必須用快刀斬亂麻手段以殺其勢，使不化膿，今將猛烈峻瀉之巴豆除去，似失其制方意義，但用歸尾、紅花煎膏和丸部分，殊屬可取。</p>
<p>編者臨症上常用家傳之「魚口內消丸」治便毒，效力極為確實穩妥，特將其方介紹如次：</p>
<p>黃柏　荊芥　防風　花粉　蟬蛻　蒺藜　木通　槐子　山甲　斑蝥（各等分）　蜈蚣　全蠍　黑砂（較前藥分量加倍）</p>
<p>上研末，為丸如梧子大，每服二十丸，熱黃酒送服。</p>

<h2>臁瘡</h2>
<p>此瘡生於腳連兒骨，此處骨多肉少，故有窮骨之稱。患症多由風濕而來，初時發硬搔癢，倘偶一不慎，失手搔破時，則出血水，常常不幹，且受風后更奇癢難堪，往往窮年累月，不能治愈，臨症時看其肉色紅活而作痛者易治，如烏黑不痛者難治。內服中九丸及下列之清解劑；若瘡四邊高中間凹者，必有繭骨，宜搽紅升丹，貼隔紙膏。</p>
<p>防風　荊芥　蘇合　黃芩　梔子　連翹　赤芍（各五錢）　黃柏　苦參　牛膝　木瓜　銀花　蒼朮　花粉　白芷　木通（各三錢）</p>
<p>上水煎空心服。外用熏洗湯熏洗，後貼隔紙膏，一日一換；若四弦好肉作癢者，以太歲墨搽於弦上，紅腫自退，癢即頓止，此時可用加味天然散以生肌、平口。如瘡不紅活而現烏色，兼出腥水者，宜以除濕追風之劑主之：</p>
<p>赤芍　防風　荊芥　白芷　薄荷　紫蘇　黃芩　黃柏　蒺藜　蒼朮　大黃　銀花　大楓子　蛇床子</p>
<p>上銼片，以上濃醋一大碗，取土罐一隻，入藥在內，煎一炷香時，將桐子葉約百十疋，入醋內泡軟，冷定取貼瘡上，一日一換，至瘡口不癢，瘡弦紅活時，貼膈紙膏，洗熏洗湯，摻天然散，生肌、平口。</p>

<h2>裙邊瘡</h2>
<p>此瘡亦生於連兒骨上，女子生者名裙邊瘡，男子生者名臁瘡，故治法與臁瘡同。</p>

<h2>踝花症</h2>
<p>此瘡生於踝上，故有是名。治法與前之乳花相同。在初起時，可以蒲公英、野芋頭各三兩，同搗爛，用酒糟和勻，敷於瘡上，乾燥又換，頗有痊愈希望。</p>

<h2>蠟燭疳</h2>
<p>此瘡生於龜頭之上，初起時發水泡，微癢，繼則皮破出水。初起時用熏洗湯熏洗之，以太歲墨搽之，即可痊愈；如不幸而擴大時，可內服中九丸，外貼隔紙膏，待痛止後，摻加味天然散，至肉轉紅活色時，即可痊愈。若肉不紅而又痛不止者，則以後方熏之：</p>
<p>水銀（一錢）　硃砂（一錢）　麝香（半分）　猩紅（一錢）　響錫（一錢）</p>
<p>上將錫先入小鐵鍋中，就炭火上熔化，加水銀攪勻，俟銀成粉，再加百草霜一錢，共眾藥研成細末，分作三份，以安息香三枝浸濕，每枝同藥一份，用棉紙捲成條，共成三條。用時每以一條點燃，熏入鼻中，口含淨水滿口，水熱又換，愈勤愈佳。熏時患者當坐於背風之所，勿使風吹煙亂，不易入鼻；如換水不勤者，必有喉牙疼痛之苦（即惹起口腔發炎），慎之！如此日日熏之，約六、七日即可痊愈。</p>

<h2>下疳</h2>
<p>此瘡亦生於龜頭上，或左或者，疼痛非常，患部崩裂，若不早治而爛至陰根時，即十中難獲一痊矣。治法與蠟燭疳同，內服中九丸，洗熏洗湯，摻天然散，生肌、平口。</p>

<h2>鬥精瘡</h2>
<p>此瘡生於莖中尿管內，莖部腫硬，延至日久，管內排泄白色膿漿，小便刺痛，醫每誤作淋症治之，故屢治無效。其瘡之生也，多因酒色過度，或體弱火旺，忍精不泄，屢積逆精，致成此症。治法內服中九丸，兼服利水之劑：</p>
<p>木通　滑石　瞿麥　萹蓄　車前　炒梔　甘草（各七分）　豬苓　澤瀉（各五分）　白朮　丑牛（各六分）　肉桂（三錢）　通草（三錢）　燈心引</p>
<p>上水煎空心服。另以熏洗湯濃煎一大碗，候水溫時，將龜頭入罐中浸之，使藥氣通入尿道管內（如照新法，利用水節，將藥水注入尿道中洗之，更妙），然後取後列小藥插入莖中：</p>
<p>五倍子一枚，開一小孔，將明礬末裝入使滿，以碗片一塊掩蓋其孔，外用藥泥包裹，慢火將泥燒乾後，再入炭火中燒之，至泥發裂起煙時取出，冷定去泥，將倍、礬研末，用棉紙捲成條，塗以麵糊，黏惹藥末於條上，陰乾，插入莖中，一日更換二次，不過七、八日，莖中之患即一掃而去，其膿遂亦不生矣。然後以加味天然散生肌、平口，上天然散時亦如前法，以麵糊紙條黏惹天然散入莖中，使其生肌，但不可犯發物，並內服中九丸以協助之。</p>
<p>又一治法，系以牡蠣一錢，白蓮鬚、丹皮、棗皮、茯苓、芡實各一兩，澤瀉五錢，地黃二兩（脾胃不健者可加白朮一兩，枳實一兩，麥冬一錢），共為末，煉蜜為丸，如梧子大，每服七八十丸，兼服中九丸、三香丸，外用下面摻藥：</p>
<p>黃柏一兩，去皮洗淨，以豬膽一枚，將柏皮烘熱，搽豬膽汁，又烘又搽，然後研為細末備用。</p>

<h2>腦疽</h2>
<p>此症生於後腦骨上，其症狀為患部初時硬起一塊，因其不紅不腫，遂忽視之，及至漸漸腫痛時，方始察覺者頗不乏人。治法初起時以麻涼膏敷之，內服中九丸兼金蚣丸，其毒自散；如不散時，必定成膿，可照前面治癧之法治之。如穿頭膿水不幹，延至日久，恐成繭時，當以藥線日插三次，六、七日間其繭則落，用熏洗湯洗淨，以天然散生肌、平口。</p>

<h2>對口瘡</h2>
<p>此瘡生於後頸窩對喉之處，險症也，遷延失治，足以致死。治法先以麻涼膏敷之，看其疼痛若何，若敷後痛止者，是為易治之症，內服中九丸，並照治癰疔法，以清涼之劑敷散之；若初起時搔癢，皮內黑硬，如石一條橫插，影響兩耳腫痛，日輕夜重，久不成膿，飲食不思者，是犯七惡，亦照前治癰疔法，施以托裡排膿之劑，六、七日黑色轉紅，四圍起白泡，如粟米大小，內成膿而腐爛，先用熏洗湯洗之，次貼隔紙膏，至腐肉淨後，以加味天然散加雞內金末摻之，即愈。</p>

<h2>左肩花症</h2>
<p>此瘡生於左肩井穴上窩心內，治法與前乳花同，服中九丸生肌、平口。</p>

<h2>右肩花症</h2>
<p>此瘡與左肩花同，治法亦然。</p>

<h2>左右發背症</h2>
<p>此瘡生於左右飯匙骨上，治法與肩花同。</p>

<h2>附骨疽</h2>
<p>此瘡多生於大胯上有肉之處，因患者體厚，嗜食煎炒厚味，又兼酒色過度，招受風濕，致痰濕凝滯不行，屢積而成，其初起時梆骨作脹，不甚大痛，攻起一塊，外面肉色灰白，延至期月，遂大如斗，潮熱，頭痛，身疼，六、七日後，潮熱不退者，其大胯內之梆骨必然作痛，醫者每多作風濕痰凝或筋骨疼痛治之，故恆不效。豈知此乃陰毒之症，故痛則日輕夜重。治法以火蔥一斤，生薑一斤，搗爛，入鍋炒熱，用布包之，以熨痛處，冷了又換又熨，熨後再加石菖蒲二兩入內，再炒再熨，其毒必出於皮膚而轉紅腫，內服中九丸，並前方托裡之劑加人參三錢，外敷麻涼膏，至膿干應指時，以化肉膏貼之，視肉變黑色時，以針撥開瘡頭，使膿隨針出，若無膿出者，再以化肉膏插入孔內，再爛一個時辰，再用針撥，膿必出矣。若膿久不幹者，可用藥線插入一次，以解毒膏貼之，常服中九丸，解去熱毒，方不生變，當忌發物。</p>

<h2>鶴膝風</h2>
<p>此症生於膝眼上兩鬼眼穴內，腫起痛如針刺，其症之起因，大抵由少年時不知保重身體，過於酒色斫喪，兼受風濕所致。治法在初起時，可用八法神針針入鬼眼穴內，補瀉運氣，起針後，用艾火灸十餘壯，痛即可止，內服中九丸兼藥酒，酒方如次：</p>
<p>當歸　赤芍　川芎　白芷　防風　牛膝　木瓜　苡仁　羌活　厚朴　蒼朮　陳皮　荊芥　土苓　熟地　升麻　甘草　桑寄生　石楠藤　白蒺藜</p>
<p>上共銼成片，布袋盛之，以好酒十斤放罐內，入藥其中，罐口用荷葉封住，放在火內燒三炷香久，冷定取起，每日空心飲之，儘量而止。腫處以棉包里，不可受風，以常溫暖為佳。</p>

<h2>腳背花</h2>
<p>此瘡生於腳背，不拘左右。初起治法與前背花同，服中九丸，熏洗，生肌、平口。</p>

<h2>手掌花</h2>
<p>此瘡生於掌心中，治法與疔花相同，服中九丸，熏洗貼，生肌、平口。</p>

<h2>耳層</h2>
<p>此瘡生於耳內，初起微癢作腫，或外面腫而作膿，單方以胭脂水滴入耳內，亦有以鱔魚血滴入而生效者。吾門治法，用棉紙條以漿糊潤濕，黏惹線末，曬乾後插入耳內，一日兩換，至七日後，膿水自干而愈。</p>

<h2>鼻⿰鼻息</h2>
<p>此瘡生於兩鼻孔內，有一肉瘤掉出鼻孔，常時作痛，兼出腥臭膿水，乃肺經積熱所致也。治法宜內服中九丸兼金蚣丸，以祛肺熱，外用化肉膏貼肉瘤上，至肉黑時，以針撥開一孔，插入藥線三次，七日後其瘤自脫，用熏洗湯洗後，以加味天然散吹入鼻內以生肌，再服清肺之劑，以清餘毒。</p>
<p>清肺飲</p>
<p>栝蔞仁（去油）　桔梗　黃連　生地　二冬　陳皮（各七分）　黃芩　梔子　連翹　赤芍　前胡　半夏　川芎　茯苓　豬苓　木通　花粉　白芷（各五分）　燈心引</p>
<p>又方於七月七日收甜瓜蒂陰乾，臨用時以一分研末，再用白礬少許，棉裹塞鼻。</p>

<h2>牙泄</h2>
<p>此症牙齦腫痛，用水漱口，則滿牙齒流血不止，故名牙泄。治法以止血為主，先用側柏葉一握，搗自然汁噙之，熱了又換，數次後，以後方搽之：</p>
<p>青黛（三錢）　食鹽（三錢）　倍子（三錢）　枯礬（一錢）　百草霜（錢半）　真京墨（一錢）　紅褐子灰（三錢）</p>
<p>上共和勻，以米泔水漱淨口後，將此末搽於牙齦上，內服中九丸以解熱毒。</p>

<h2>喉風</h2>
<p>此症喉嚨腫痛，痛不可忍，一發如雷，乃急病也。水米不能下咽，生死危在頃刻，但亦有延至六、七日者。治法內服中九丸，兼服加減甘桔湯及敗毒散，若外面紅腫者，以麻涼膏敷之，再吹加味冰硼散。</p>
<p>加減甘桔湯</p>
<p>桔梗　元參　白芷　防風　赤芍　川芎　前胡　獨活　連翹　荊芥甘草（各五分）　丑牛　豆根　黃芩　射干　生地（各五錢）　竹葉（七疋引）</p>
<p>上水煎食後服。</p>
<p>加味冰硼散</p>
<p>熊膽（三分）　兒茶（五分）　血竭　乳香　沒藥　硼砂　寒水石（各五錢）　青黛（六錢）　冰片（一錢）</p>
<p>上共研末，吹入喉中，使其儘量流出涎水，約七日後出膿，即愈。</p>

<h2>龍癬瘡</h2>
<p>此瘡生於胸前兩脅，初起作痛，如粟成叢，肉皮紅腫，不敢搔抓，有單方四個，或可治愈。</p>
<p>一方：以鏡面草為末調水搽之。</p>
<p>一方：用大黃末調水搽之。</p>
<p>一方：用田螺搗爛敷之。</p>
<p>一方：用海金砂末調清油搽之。</p>
<p>如用以上各方均不效時，可內服中九丸兼金蚣丸，以解去熱毒，外敷麻涼膏，疼痛即止。如患處已成膿者，用隔紙膏貼之，後以加味天然散生肌、平口。</p>

<h2>龍纏瘡（俗名纏腰𰣤）</h2>
<p>此瘡生於腰間繫帶之處，初起紅腫，痛如火燒而不可忍，約三日間破皮出水，但不成膿，乃急症也。治法內服中九丸解毒，外用青黛敷於患處，以止其痛，看其所敷之物乾了又換；至紅腫消退而不作熱時，再以麻涼膏敷之（加倍子末一兩於膏內），如恐其乾燥，可滴入少許清油以調劑之，水乾即愈。</p>

<h2>紫癜瘋</h2>
<p>此瘡或生於手，或生於胸，色紫而奇癢。治法以銅綠煆過五分，巴霜五分，枯礬二錢，白蠟一錢，共為細末，以核桃油搗爛和勻，作一大丸，以紙一張裹之，火上烘熱，搽塗患處，以久搽為妙，至不奇癢及肉不烏時，即告痊愈。</p>

<h2>癭瘤</h2>
<p>此症有痰、氣、酒、風、血等五種之分，痰瘤穿潰後如豬腦髓；氣瘤浮泡不堅；血瘤紅線纏滿；酒瘤吃酒時則厚堅不軟，不吃酒時則軟而堅；風瘤其硬如石，受風濕則奇癢難堪。只有痰瘤可治，其餘四瘤皆為不治之症。不可亂動刀針，否則翻弦不收，其症危矣。治法宜以順氣行痰為主，藥方如下：</p>
<p>桔梗　茯苓　陳皮　半夏　黃芩　梔子　防風　麥冬　白芷　赤芍　昆布　海藻　海帶（各五錢）　木香（一錢）　甘草（一錢）</p>
<p>上水煎服，並服中九丸、金蚣丸。若已穿頭者，用化肉膏貼之，至肉黑後，取出腐肉，以藥線日插三次，約六、七日落盡腐肉，以加味天然散生肌，平口。</p>

<h2>棉子瘡</h2>
<p>此症多因早年患楊梅毒時，服食輕粉、汞劑過多，欲求速效，致後日發生此種粉霜毒氣，遍身關節疼痛，骨里潮熱，氣逆則痰不行，遂結成豆子大小之粒，漸漸長大，皮膚不紅，肉內作痛，延至日久，醫者多以行痰順氣之劑治之，屢治不效，後遂潰而出水，與棉絮相似，此刻其痛更甚，初不知其為誤服輕粉，毒入骨髓之所致也。治法內服中九丸兼金蚣丸，再加托裡排膿之劑，成膿者可治，不成膿者難治。成膿後，用解毒膏貼之，插藥線三次，俟膿干，取出絮團後，以熏洗湯洗淨，再摻加味天然散收功。</p>

<h2>天泡瘡</h2>
<p>此症肉皮赤腫，發泡痛甚，破皮後則排泄清水，痛如針刺，乃熱極也。治法宜內服中九丸、金蚣丸，兼用清熱解肌湯及黃連解毒湯，服至三劑後，再加大黃以消利三、五次，除去邪熱，外搽太歲墨止痛，候水分幹盡時，摻天然散、貼解毒膏平口，切忌發物。</p>
<p>清熱解肌湯</p>
<p>黃芩（八錢）　大連（八錢）　枳殼　梔子　連翹　荊芥　防風　花粉　陳皮　厚朴　豬苓　澤瀉　木通　黃柏（各五分）　甘草（二錢）　燈心（為引）</p>
<p>上水煎，連服三劑。</p>
<p>又單方：</p>
<p>大黃一兩，倍子五錢，共研細末，用雞蛋清調搽患處。</p>

<h2>小兒赤遊丹毒</h2>
<p>此症因胎中受熱，致生此瘡，或生兩膝眼上，或生腎囊上不定，皮膚赤腫，破皮後則出血痛甚，水洗至何處，即爛至何處，治方如下：</p>
<p>鉛粉（三錢火煆黃色）　乳香　沒藥　血竭　黃柏（各二兩）　輕粉（三錢）　冰片（一分）　白蠟（二錢）</p>
<p>上共為細末，清油調搽，切忌發物。</p>
<p>又方：</p>
<p>黃柏三錢，豬膽一枚，將膽汁搽於黃柏上炙乾，又搽又炙，數次之後，取黃柏為末調搽之。</p>

<h2>小兒腎囊風</h2>
<p>此症多因濕熱竄入膀胱而成，治方如下：</p>
<p>蒲黃（一兩）　胡連（一兩）　蒼朮（一兩）</p>
<p>上共末，以蔥白一握搗爛，入藥在內，調敷患處。</p>
<p>又方：</p>
<p>以千年石灰調好醋搽之，亦效。</p>

<h2>痔漏門</h2>
<p>凡人九竅之中，有小肉突出者，皆謂之痔，故有耳痔、鼻痔、牙痔等名，固不僅肛門一處為然也。肛門痔之種類極多，名狀亦頗不一，故有區分為二十四痔者。未破者曰痔，已破而成管者曰漏（瘻），大別之則不外下列數種：</p>
<p>凡肛門邊生數瘡，腫而突出，穿破後，膿出即散者曰「牝痔」。</p>
<p>凡肛門邊突出肉球，形同鼠奶，而時流膿血者曰「牡痔」。</p>
<p>凡腸口顆顆發痛，且痛且癢，血出淋漓者曰「脈痔」。</p>
<p>凡肛門內結核有血，或發寒熱，每遇大便即脫肛者曰「腸痔」。</p>
<p>凡飲酒後，即腫痛流血者曰「酒痔」（色痔相同）。</p>
<p>凡每值大便時即血流不止者曰「血痔」。</p>
<p>凡肛門腫痛，遇怒即發，怒息即安者曰「氣痔」。</p>
<p>痔瘡種類頗多，大致不出以上數種範圍之外，其他種種，特其變態耳。但種別雖多，而治法則無大差異。內服中九丸以消臟腑之毒熱，有時可兼服槐角丸，外用化肉膏貼於核上，俟肉黑後，刮去黑肉一層，又以化肉膏貼之，如是數次，其核自然腐盡，洗以熏洗湯，摻以加味天然散收功。</p>
<p>漏症治法：內服中九丸以消臟腑之熱，併兼服槐角丸，以匡其不逮，外以三丫草插入孔內，以探測其深淺或曲折，然後將藥線插入三次，外貼解毒膏，約六、七日後繭落，以加味天然散生肌、平口。茲並將各種不同之痔瘡療法分記如後：</p>
<p>槐角丸</p>
<p>經霜槐角（五錢）　黃連（一兩）　白芷梢　防風　赤芍　枳殼　生地（各一兩）　黃芩　秦艽　黃柏（各二兩）　九製大黃（四兩）</p>
<p>上共為細末，米糊為丸，如綠豆大，空心白湯下。如大便有血者，可用側柏葉二兩，陳棕灰一兩，百草霜五錢，為丸服之。</p>
<p>藥線製法</p>
<p>硇砂（一兩）　紅砒（一兩）　野芋（三兩）　南星（五兩）　靈仙（五兩）</p>
<p>上先將砒、砂另研，次將余藥入鍋煎水，然後投入砒、砂，以過江蜘蛛絲一股，絲線一股，共成一線，入藥水中，煮一炷香久，取出曬乾，收貯備用。用時以三丫草帶藥線插入孔中，隨即穿入肛門內，引出三丫草，藥線即隨之帶出肛門，如法三次纏縛，系銅錢一枚於線端，每日解開收緊一次（名為催線），其漏孔遂逐漸裂開，得見裡面血肉，隨摻天然散，如此天天照樣緊之，約七日後即可掛穿，銅錢亦即落下，當用熏洗湯洗淨汙濁，貼解毒膏生肌、平口收功。</p>

<h3>（一）羊奶痔</h3>
<p>此痔內硬，頭小根大，時作癢痛。治法內服中九丸，外用化肉膏貼之，視肉黑後，刮去一層，又貼又刮，不拘次數，必須爛一淺坑，痔根方算去盡，不致復生，此刻即用熏洗湯洗之，外貼解毒膏生肌、平口。</p>

<h3>（二）櫻桃痔</h3>
<p>此痔頭大根小。治法以藥線拴三、四日，其核即自行脫落，落後以熏洗湯洗淨，摻加味天然散以生肌、平口，內服中九丸以去熱毒，免生變症。</p>

<h3>（三）雞冠痔</h3>
<p>此痔形似雞冠，硬而赤腫作痛，搔破後則出血流水，殆因受風熱而成。治方如下：銅綠（五錢）　乳香　沒藥　威靈仙　寒水石（煆各五錢）　甘石（一錢）　膽礬（三錢）　海螵蛸（五錢）（一方有冰片，無螵蛸）</p>
<p>上為細末，以豬膽汁調勻搽之，內服中九丸，外洗熏洗湯，加馬齒莧一大握合煎，熏洗之自消。</p>

<h3>（四）蓮花痔</h3>
<p>此痔狀如蓮花，層層疊起，又似雞冠，有細孔，癢痛而出膿水。治法照雞冠痔，久熏久洗，貼解毒膏，摻天然散收功；有時痔不軟化，必用化肉膏逐層蝕去，貼解毒膏，摻天然散，方可平復。</p>

<h3>（五）雞管痔</h3>
<p>此痔亦如通腸漏，在未出氣之前，先腫痛出膿，內有一硬管，時出膿水，以溫水洗淨，用手慢慢托進，實為不治之症，百中難痊一、二。治法內服中九丸，兼服槐角丸加升麻五錢，外以馬齒莧入熏洗湯中，久熏久洗，間有痊者。</p>

<h3>（六）脫肛痔</h3>
<p>此痔因受風寒濕熱，致氣虛下降不能上升而成，故治法以升提為主。方如下：</p>
<p>當歸（一錢）　白芷梢（八分）　赤芍（七分）　防風（五分）　川芎（五錢）　光連（一錢）　黃芩（七分）　木香（一錢另研）　陳皮　枳殼　青皮　茯苓（各七分）　生地（八分）　升麻（一錢）　皂子（七粒）　甘草（一錢）</p>
<p>上水煎服，兼服中九丸。外用熏洗湯加倍子一兩，明礬一兩，合煎熏洗，至痔體軟化時，再以生血養體之劑培養之，並時時以油潤肛門，再貼蓖麻子餅，自上。</p>
<p>又一單方，用上醋一盞，於罐內熬滾時，將燒紅火磚淬入，乘熱熏洗之。</p>

<h3>（七）曲尺痔</h3>
<p>此痔生於肛門側邊約一寸處，如疽如癤，穿頭後，時出膿水不幹，延至數日後，患部即腫起化膿，再數月後，又有一枚腫起成膿，膿水不幹，延至穿潰三、四孔後，內中即結成繭。治法內服中九丸兼槐角丸，外用藥線插入、約三日間落繭，以三丫草通開探測之，使其迥轉相通共成一處，用熏洗湯洗淨，摻加味天然散收功。</p>

<h3>（八）蝴蝶痔</h3>
<p>此痔與雞冠痔極相似，搔癢出水。治法亦與雞冠痔同。</p>

<h3>（九）盤腸痔</h3>
<p>此痔因氣血虛損，濕熱摻入大腸所致，發時大腸即墜出約二、三寸許，其痔核約如棉子大，腫痛非常，漸漸陰囊俱腫，成膿潰頭，辛勞即發，常常膿水不幹，飲食少進。治法照前內服托裡排膿之劑，外敷麻涼膏以鎮其痛，兼服中九、金蚣二丸，七日後視漏孔出膿時，即插干膿小藥線，三日後如膿尚不止，復以小藥線插之，至七日後繭必脫落。如此時小便不往龜頭出而往漏孔出者，可以黃蠟做成一餅，放入孔內，再以加味天然散塞住漏孔，外貼解毒膏，以少飲茶水為佳，則小便自少，如此補塞數次，不過半月，每可收功。</p>

<h3>（十）鎖肛痔</h3>
<p>此痔生於肛門弦內，有痔核數枚鎮住肛門弦上，大便時即掉出，起身時又縮進，或辛勞及酒色過度時，即作腫作痛。治法待其掉出時，洗淨搽藥，另以藥線繫於痔根，貼以化肉膏，兩面夾攻，其核必落，俟核脫後，熏洗以生肌、平口。</p>

<h3>（十一）雌雄漏</h3>
<p>此漏生於肛門外，隔一寸穿一孔，左右相對，一點不差，有時左孔流水而右孔閉，有時右孔流水而左孔閉，若受辛勞則漏孔出膿。治法當外用插入藥線，熏洗落繭，內服中九丸、金蚣丸、槐角丸，再貼解毒膏收功。</p>

<h3>（十二）瓜蒂漏（亦名瓜藤漏）</h3>
<p>此症先成一漏，歷數年後即延至胯上，或三、五，或六、七不等，初則一孔疼痛出膿，繼則牽連多孔出膿，故又名瓜藤漏，漏孔有一硬痕，如牽藤樣。治法須先從開始一孔治起，依次用線取繭，繭盡後，以熏洗湯洗之，再以加味天然散收功，內服中九丸兼槐角丸。</p>

<h3>（十三）牛鼻漏</h3>
<p>此漏與曲尺相似，形狀如牛之鼻孔，故有是名。治法與曲尺痔同。</p>

<h3>（十四）楊梅漏</h3>
<p>此症生於肛門周圍，時出腥水，不甚疼痛。治法內服中九丸，外貼千捶紙，其腥水自止。</p>

<h3>（十五）龜尾漏</h3>
<p>此症生於龜尾穴骨上下，下身一段及背脊骨上，皆紅腫作痛，潮熱身重，或三、四日，或六、七日，依舊漏孔出膿甚多。治療時於龜尾上紅腫處以手按之，必外實內虛，有膿應指，以化肉膏貼之，至肉黑時，以針撥開，則膿隨針出，排出膿後，於孔內插藥線三次，促其干膿，內服中九、三香兩丸即瘥。</p>
<p>干膿小藥線製法：</p>
<p>用帶圓之五倍子一枚，在一端開一孔，以明礬五錢，白砒一錢為末，填入肚內，以紙包數層，潤濕之後，埋入炭灰火中煨之，俟其干時，取出倍子，用火再焙焦為末，米麵糊條，曬乾備用。</p>

<h2>十三方的總結</h2>
<p>（1）中九丸純以金石質藥品為主，殺菌消炎，鎮靜鎮痙，收斂腐蝕，諸種功能畢具，凡陰疽惡毒，及陰陽夾雜症之偏於陰者，都可使用，惟陽性病則不相宜。適用於漫腫無頭，晝輕夜重，皮色不變，頑麻木硬等症，未成者能消，已成者速潰。據編者臨床上的應用，對瘰癧結核（勿論梅毒性、結核性），疤骨流痰，楊梅、下疳，瘧疾、哮喘、痔核、瘻管等症，均有相當療效，是祖國極早流行民間的一種化學療法。並可用作外用丹藥，具有紅升、白降、三仙、滾膿之長，有腐者去腐，無腐者生新，有膿頭者能拔出膿頭。汞劑內服，照例常要起口腔炎，而本方則否。靈藥用法，各家頗不一致，有單用升藥者，有單用底藥者，有升藥、底藥並用者，效力似無多大差別。編者則單用升藥，照理也應當以升藥為是。</p>
<p>（2）金蚣丸聚諸種有毒蟲類築物為一方，功能鎮靜鎮痙，解毒消炎，凡陽症之紅腫熱痛，癰疔大毒，發背、橫痃大毒，及小兒半身以上各種瘡症，皆可服用，尤以小兒半身以上疙瘩、瘡癤等症，更為有效。因其富有鎮痙作用，故又適合於驚癇抽搐，麻痹拘攣，諸風掉眩，手足震顫，口眼喎斜，角弓反張，半身不遂等神經疾患，對破傷風的療效，有時竟超出「玉真散」之上。編者常於瘰癧潰瘍、疤骨流痰患者，使其早服金蚣丸，晚服中九丸，頗收治效。二者兼服，並可避免中九丸的副作用。</p>
<p>（3）三香丸是由多種芳香性健胃藥組合而成，功能行氣寬中，消食健胃，除脹鎮嘔，止痢塞泄，祛痰利水，為體質虛弱、消化不良的外症患者必需的補助品，並可調整中九丸的副作用。</p>
<p>（4）化肉膏為變相的輕氧化鉀，有腐蝕作用，今更加入巴豆，其腐蝕力遂愈形強大。凡腐蝕藥，均不免有疼痛，故加入靈仙、川烏、草烏、半夏等鎮靜藥，藉以麻醉局部，緩解疼痛。在翻花起弦、多骨綿管等場合，可去腐生新，脫管化綿，蓋冥頑不靈的慢性頑瘡，非藉此種大刀闊斧的峻劑，實不足以收療效也。</p>
<p>（5）藥線中的砒、礬二物，是強有力的腐蝕劑，亦即「三品一條槍」的骨幹藥。凡瘰癧成繭，及癰疽潰後之久不幹膿者，皆可用之，腐去自然新生，惟用時異常疼痛，是其弱點。編者時常加入蟾酥、乳、沒合用，以緩解患者的痛苦，頗如理想。又本品與「化肉膏」有同樣作用。</p>
<p>（6）紫霞膏能拔毒鎮痛，化腐生新，舉凡一切頑瘡，瘰癧、濕瘡、梅毒等症，均可貼用，未成者可以消散，已潰流膿，久不收口者，可以促使迅速收口，雖久年臁瘡亦有顯效。</p>
<p>（7）千捶紙中的砒、雄皆具腐蝕作用，且能殺螺旋體，故對潰爛梅瘡，經久不愈，膿水不幹者，貼之可以化腐生肌，斂口乾膿，並可用於一切潰後久不收口的慢性瘡症。</p>
<p>（8）太歲墨是流行祖國若干年代的「紫金錠」，用途廣泛，效力宏大，在外科門中尤有不少助力。</p>
<p>（9）代針散是「咬頭膏」或「針頭散」的同類物，凡皮薄瘡癤，內膿已成，不得穿頭而畏用刀針者，以此敷之，約一日間，瘡頭即自行穿潰。倘皮太厚者，須先將瘡頭用三稜針刺開少許，然後敷藥，方得穿破。瘡未化膿時，不可使用。</p>
<p>（10）熏洗湯中藥味有鎮靜鎮痙，殺菌消炎，祛風除濕諸種作用，凡紅腫疼痛的陽性炎症，皆可熏洗，功能消炎、解毒、鎮痛，是一種具有藥效的水療法。</p>
<p>（11）天然散的生肌作用最強，凡一切外症潰後，膿水常流，瘡綠髮癢，及不斂口的瘡瘍，皆可使用，功能收水乾膿，生肌斂口，足敵三仙、滾膿方，而便利則過之。</p>
<p>（12）麻涼膏是一種局部麻醉藥，凡一切疼痛難忍的瘡毒，皆可使用，有消腫、排膿、鎮痛諸作用。</p>
<p>（13）解毒膏能消炎解毒，散結軟堅，祛風除濕，對於一切陽症瘡瘍，都有其相當的作用。</p>
