<header data-type="book">
<h1>證治本草</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陸之柷</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1522/1566">首刊於嘉靖年間（公元1522－1566年）</data></dd></div>
<div><dt>底本</dt><dd>明隆慶間刻本（<a href="https://www.wdl.org/zh/item/4669/">美國國會圖書館藏本</a>）</dd></div>
</dl>
</header>
