<header data-type="book">
<h1>溫病辨症</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>馬宗元</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>序</h1>
<p>白局方行於宋，而醫之漢學衰；白劉河間起於金，而醫之漢學復盛。然而《史記》僅謂：「倉公得《五色奇咳脈書》」。今其書不傳，《正義》引顧野王謂：「《漢書·藝文志》有《五音奇胲》二十六卷」。今漢志又無此書名，故好高論者，並《內經》亦疑為漢儒偽作，不知三代六經，何一非漢儒所述？蓋漢時耆宿，猶及聞羸秦未焚之書，詳者不及記，僅記其扼要語，故意遠而辭約。執其約者，拘泥之，附會之，動輒閡隔不通，如劉歆用周官，徒足為天下病。以此咎經，經不任咎也。夫醫道之傳，以文字傳之。醫道之精微淵奧，萬變而無弊者，則當於無文字處求之；無文字虛懸而無的，則仍當於有文字處之引其端末，竟其餘緒處求之。而後知辭約者，意果遠，《內經》果非聖不作也。向嘗持此論以質故友，蔣子寶素。蔣子韙予言，其著醫略也，即為之序，迄今四十餘年矣。同里馬子清儒，以所著《溫病辨症》見示。予素不知醫，然讀其自序，專宗葉氏，以上通仲景，而神契《內經》，此亦如經學家，由陸德明、孔穎達發明焉。誠以表章六經，尋流溯源，一以貫之，其必無閡隔不通之病，可傳後世無疑也。古人云：「多歌曲者，自能造麴；多讀書者，自能著書。」昔蔣子讀書多，著書亦多，惜所刻只《醫略十三篇》，余皆散失。馬子年力富強，由此以往，學隨年進，所以發前人之未發，方且轉葉氏而上者，正未可量，此其造端耳，當不第如蔣子，但以十三篇傳也。馬子勉乎哉！予即以昔日望蔣子者望之。</p>
<p>（光緒十二年季秋中浣八十老人李承霖序）</p>

<h1>序</h1>
<p>自神農嘗百草，而藥之功用以彰。然必辨其病之源流，而後施治為有據。如溫病一症，其有類於傷寒，並有類於雜病者，固宜辨之早，辨矣，即辨。其為溫病而又有寒極似熱、熱極似寒、虛極似實、實極似虛之別。苟稽古未深，閱歷未久，而欲臨時得心應手焉，可乎？同邑馬君清儒，沉潛好學，尤工於醫，於溫病一門，要以仲聖為遠宗，以葉氏為近守，暇時就其讀書所得，及臨證所親歷者，作為《溫病辨症》。愛而讀之，其中窮源溯委，毫髮無遺，舉凡風暑燥濕之相類不相類者，無不了如指掌。噫！馬君之用心，可謂深矣；馬君之濟人，可謂眾矣。是非獨仲、葉之功臣，抑亦後學之津梁者矣！雖然此豈盡為馬君之學哉？特以見其一斑云耳，爰為之序。</p>
<p>（光緒丙戌巧月同里桐生弟丁之干拜序）</p>

<h1>序</h1>
<p>昔範文正有言：「不為良相，當為良醫」。豈不以醫之濟人與於等哉。然而業醫者，往往以濟人之具殺人，則又何也？其弊由於稽古未深，師心自用，讀書不求甚解，晰理未造精微。反是者，又泥於古人之陳法，而無運用之妙，聽其論則善，施諸用則乖。若是者，均足以僨事，又安能取古人之是，救今人之非，著書立說，以示正鵠哉？吾友馬君清儒，博聞強識，尤邃於醫，於溫病一門，獨宗葉氏，辨其伏邪時邪，幾於剖毫晰芒，其用心可謂深矣！苟非信而好古，而又加以閱歷之功者，烏能若此？吾讀馬君之書，而知馬君之能濟人，且知馬君之志，欲令業醫者不迷於所向而均能濟人，豈徒葉氏之功臣，抑亦其範文正之襟期者歟？爰樂聞而為之序。</p>
<p>（光緒十二年孟春同里萃冷弟袁善作序）</p>

<h1>柳序</h1>
<p>馬君清儒著《溫病辨症》，問序於余，余辭不獲，乃為之序而歸之。曰：「自仲景先師雜病論亡，溫熱一門遂由此埃滅。」然其論曰：「太陽病發熱而渴，不惡寒者，為溫病。」是漢師論溫病之語，固非一無所見，不過仲師所論，乃伏邪之溫熱，於時氣溫熱之從上受者，仍缺耳。然仲景於溫熱傷寒之辨，故犁然畫然。淺工不審，以溫熱初起頗類傷寒，遂以麻桂等品投之，不能外解，反致內結，轉謂仲景之法，不能治傷寒，輾轉傳偽。唐宋以來，論溫病者，皆無諦當之處。自劉河間創議，謂熱病當以三焦為主，其識實超諸家之上。近葉氏天土，更能深造自得，所著《溫熱論》，語皆心得，而一一皆體會《靈》《素》而出，亦可謂昭往哲而示來茲矣。余嘗有志撰述，稽合各家異同得失之故，而折衷之。人事之多，故握槧之不可以苟，未及事事周備，而齒髮固已衰矣。往者嘗與清儒言血分之邪，非達氣分不能解。清儒則大韙之，謂為深得葉氏之旨，其論醫也，與余同。而其銳意撰述，則勝於余。一日，於所著《溫病辨症》示余。獨能遠宗河間，近法天土，取捨正矣。其體又以大意先之，則擇之精，發明之語後之，則語之詳，綱目清矣。而其作例語，則謂為中人初學入門而設。抑何所執之謙，而詞之下也。或謂馬君之書，實出自諸先生，而又間引《易象》以雜之，子何盛稱之歟？曰：「此不足為馬君病，易以道陰陽，而其為象，多近取諸身，人身備陰陽五行之氣，亦何不可以附譬。況之古人如班之於馬，多全襲其辭。」衛正叔纂《禮記集說》曰：「他人著書唯恐不出於己，此集唯恐不出於人。」古人閎識雅懷，而其為言乃如此。馬君此書，取其演贊葉氏耳。若世之語誇心得，甘背葉氏而不辭者，以云獨闢則有之矣。豈馬君自慎不自矜之心所肯出哉？客聞而退，遂亦附著於末，以附此之序馬君書者，是為序。</p>
<p>（光緒丙戌仲夏同里賓嵎弟劉旭拜序）</p>

<h1>序</h1>
<p>自赭寇之熾，以至戡定後十數年，余睽隔里閭最久，於故鄉後起之秀罕識。問艤飄西津，轍遏訪楊文子安孝廉，每嘖嘖誇其高足馬君不去口。蓋凡星象易傳，暨疇人諸學，皆力造間奧，嗣復分其餘智，以肄習俞跗之術，而詣遂精。子安文邃於醫者，今墓草宿矣。余無以徵其言之不謬。甲申夏，余始回籍。從弟東云茂才，近懸壺，亦稱道馬君醫道之逞東云。讀先高祖招仙公之遺書，又親見吾從父偉人之製藥之精，宜其善於取友，而處心領受也。一日，攜馬君所輯十三篇，問序於余。余沉溺詞章，生平於僦貸季、苗父，諸賢之學，概不經心記述。客焦溪時，唯嗜與楊文譚詩，最膺於社老詩律之細，酒酣以往，各舉數十聯，互相探討，至切理饜心處，則相視而笑。今馬君之醫，於溫病一門，獨心折葉氏，而於類不類之中，剖析清楚，以藥時醫之誤，又恐自以為不誤之誤。因薈萃群言，以輔翼葉氏，而絕不敢掉以輕心。斯真如詩律之細也。又子安先生算學篤守，勿庵東原之說，曾手編勾股，循序兩拳，以啟道初學，使其取逕之易。今馬君之辨症，一如其師之算學，羅羅清疏，與人以規矩，即示人以巧，是在人神而明之而已。抑予有感焉？庚午春，伯兄子猶先生僑居記光時，患溫病，醫者誤投以熱劑，遂致不起，每勖東云，以克紹家學，籍以濟世，不致為庸流所殺。一追溯往事，往往引以自咎，今見是書，不禁觸余鴒原之痛也。</p>
<p>（時光緒乙酉仲春上浣同里李思緩謹序）</p>

<h1>自序</h1>
<p>昔仲景先師雜病論亡，溫熱一門遂由此湮墜，至唐宋金元間，名賢輩出，則論溫病者多，然胥未能得其原，所謂習焉不精，語焉不詳者也！我朝葉先生天士，嘗體會《靈》、《素》，尤善學仲景，尋繹《傷寒》、《金匱》之旨，兼博考諸家，於章句下，得其神理，明六氣所由受，發為溫熱論。於溫熱一症，批隙導竅，實明所由來。示百世之津梁者。在此，凡治溫熱者，遵葉氏法而行之，則重者輕，輕者解，死者生，危者安矣。後起諸先生，亦或從葉氏法恢廓之，而絕未有天質之高出於葉氏，且能補葉氏之不足者。即如徵氏有云：「傷寒為法，法在救陽；溫熱為法，法在救陰。」與葉氏治溫熱，實不離救陰一法相吻合，是徵氏之說，亦從葉氏來也。竊怪近今之懸壺家，咸知尊仲師，而不知尊葉氏，往往視熱病多有誤為傷寒者。宗元不揣搗昧，特於傷寒溫熱之現症，類與不類者辨之。為吾人臨證一助，亦取其顯豁呈露耳。其法皆出自諸先生，而獨宗於葉氏，要使人於溫熱病，知尊葉氏，並使人知尊葉氏，實所以尊仲師，庶予之辨症，或不至有傷寒溫熱之誤。非自矜也，實自慎也。予之誤，予豫防之，人固幸矣。予豫防己之誤。而有能指吾自以為不誤之誤，則予又幸矣。友人李君東云（恩蓉）邃於醫，為余參訂，兼慫恿付築氏，予重韙其意，爰梓之以為初學之導，如謂以著書自任，非惟不敢，亦不暇時。</p>
<p>（光緒十一年孟春阮望太陽纏雙魚之次馬宗元清儒）</p>
<p>（自序於鐵甕城西之易簡書屋）</p>

<h1>凡例</h1>
<p>一、斯刻首篇，先辨溫病有伏邪、有時邪，與傷寒、瘟疫各有門徑，不可相混。</p>
<p>二、昔賢辨伏邪溫病者，仲景也；時邪溫病者，河間也。今元篇中，獨宗葉天士者，以葉氏能體會仲景伏邪，即《內經》云：「人傷於寒，而傳為熱者，因寒甚則生熱也。」河間時邪，即《內經》云：「五氣入鼻，藏於心肺。」《難經》云：「肺邪入心，則有譫言、妄語也。」故陳修園有云：「醫者之精妙，不在有方之書，而在無方之經是耳。」</p>
<p>三、伏邪有直從里發者，有外邪引動者，最難辨別。特借《內經》標本以解之。</p>
<p>四、葉氏辨時邪在上焦，初受手太陰，次傳手厥陰，終傳手少陰。故元篇中謂：「邪傳手厥陰，須善用方法以驅邪，復出於手太陰，而不可使邪再入於手少陰也。」</p>
<p>五、篇中以易消長盈虛之理，定溫病輕重用方之法，故處處要令中和，不可太過不及。</p>
<p>六、溫病以三焦為主，由肺傳心胞，乃由腑傳臟，為逆；傳腸胃，乃由臟傳腑，為順。（《難經》云：「臟病難治，腑病易治。」今由臟傳腑，是自難而易也。）</p>
<p>七、王孟英自序云：「或以傷寒為溫熱，或以溫熱為傷寒，或並熱於風溫，或並風於溫疫，或不知有伏邪為病，或不知有外感之溫熱，甚至並暑暍二字而不識，良可慨已！」（元）有感於斯，故述溫病要辨大同小異以明之。</p>
<p>八、溫病所引必見之症，關乎生命者，列之後篇，其餘骨疼腰痛等症，及平素其人所偏，與引動宿恙者，全在人神而明之而已。</p>
<p>九、斯刻後列表里、虛實、寒熱諸法，不過略備規矩。學者必先審症之輕重，觀人之強弱，察病之新久，視人之老幼，然後對症用意立方為主，不可視此呆法為則。蓋醫乃通天徹地之學，全憑心靈手敏，方能看得活潑潑地。昔孟子云：「盡信書，不如無書。」即此意也。</p>
<p>十、篇中論溫熱不用薄荷、牛蒡子，因無風也。冬溫不用薄荷、桔梗、杏仁，恐伐氣也。故（元）仿葉氏運用之意，而擬清露飲一方以補之，豈欲更名自功哉！</p>
<p>十一、河間《原病式》云：「病熱而寒攻過甚，陽氣損虛，陰氣暴盛，而反為寒，可見熱症未嘗無用姜附之日，不過僅見之症，藉之以治藥耳。我輩莫謂溫病當用熱藥，亦莫謂溫病概禁熱藥也。</p>
<p>十二、篇中溫病末路，每以理中、歸脾等方治之，此因邪氣從汗下而解，已見脾陽虛象，不得不參用治法，實非治溫病正方也。</p>
<p>十三、諸篇註解凡錄前賢精微之語，而必稱以某書者，固不敢襲前賢之功，以為已有耳。可使學者知（元）斯為無非收羅眾長，並非敢杜撰也。其在諸賢之下，略參鄙見者，悉加「元按」二字。</p>
<p>十四、溫病誤投羌、防、柴、葛，辛溫升提之品，而成壞病者，難治。王履所謂：「誤發其表，變不可言。」吾輩不可不預防之。</p>
<p>十五、斯刻為中人初學入門而設，只論風溫、溫熱、冬溫三症，其餘濕溫、暑溫諸證，悉詳《臨證指南》、《溫熱贅言》、《溫病條辨》諸書，茲不復贅。</p>
<p>十六、篇中辨症精微處，均出諸賢註解中，學者當潛心玩察為是。</p>
<p>十七、後彙集諸書察死之訣，欲學者見病現死症，便直云不治，庶免仲景短期未知決診（見《傷寒自序》）之譏。如初起耳聾，（腎開竅於耳，耳聾則真水自涸，如樹已無根。）戰汗痙厥，（溫病以戰汗為佳兆，然汗出淋漓，而或肢搐手冷，謂之邪退正亡。）喘如拽鋸，（肺受辛溫表散而喘促，大汗肢冷者乃火剋金，謂之化源欲絕，雖神清能言，不可云吉。）神昏內閉，（經云：「心藏神，邪入於心則神去，神去則死」。）汗多亡陽，（溫邪宜汗解，然有汗多而陽亡者，如夏秋天氣［躁］（燥）甚，遂沛然下雨而轉涼，涼極則溫和之氣難復也。）亡陰，（便實者宜下，下多則亡陰。）津液枯涸，（舌黑生刺，唇焦齒乾，如禾苗已枯，雖沛然下雨，亦曷濟乎？）正氣虛極，（經云：「溫病虛甚也死」。）八症最危，雖［歧］（岐）黃降世無益，妊娠產後尤甚。</p>
<p>十八、醫者，仁術也，功同良相，宜心存利濟，切莫貪取以禍子孫，今（元）斯篇以勿藥有喜，為筆墨之緣者，無非欲人免苦口之湯，以同登仁壽云爾。</p>

<h1>卷上</h1>

<h2>一、溫病與傷寒、瘟疫，受症不同，治法亦異</h2>
<p>今醫見人有外感，不分六淫（風寒暑濕燥火）之邪，但云時邪，（不知標本。）即斷曰「七天症候」，七日不解，則曰「十四天症」，不知傷寒之邪，寒從表入，溫熱之病，熱從里發，（《水熱穴論》帝曰：「人傷於寒而傳為熱者，何也？」岐伯曰：「夫寒甚則生熱也。」葉氏曰：「春夏溫熱之病，必自內而及外。」元按：俱指伏邪而言，若外受濕熱之氣，由口鼻而入，則為時邪詳發。）瘟疫之邪客於膜原也。然傷寒以六經（太陽、陽明、少陽、太陰、少陰、厥陰）為主，《內經》有之。一日太陽（膀胱經，）二日陽明（胃經，）三日少陽（膽經，）四日太陰（脾經，）五日少陰（腎經，）六日厥陰（肝經。）至七日傳經盡，而太陽病衰，八日陽明衰，九日少陽衰，十日太陰衰，十一日少陰衰，十二日厥陰衰，（以上視何症衰何症，詳《素問·熱病論》中。）治之各通其臟脈，病日衰已矣。若七日有來復之義，並無復傳之說。蓋厥陰至太陽有數經之隔，豈有遽出而傳太陽之理？即七日傳經，在《內經》亦明白示人，知在太陽，即在太陽治之，不必待傳陽明也。知在陽明，不必待傳少陽也。其餘仿此，不可以日拘之也。（如一日至四五日，但見頭痛。惡寒。無汗。脈浮緊，為太陽經症，麻黃湯汗之；若見大熱、大汗、脈洪長，為陽明經症，白虎湯主之，虛者加人參。）蓋人有虛實不同，有氣體素旺，太陽受邪，經三四日，而不傳經陽明者，有稟質素弱，太陽受邪，半日後而傳陽明者，此豈可以呆法治之？凡此論之，乃論傷寒也。若溫病，則大不同。其病來源有二：（伏邪、時邪。）一因冬傷於寒，寒伏少陰，（腎經，即易學潛龍勿用，陽氣潛藏之意。）不及時而發，（即時而發，寒在膀胱，太陽表症。故曰傷寒，若寒伏不發，由壬傳癸，則化為熱，如花爆已成，專矣引線。）一因冬應寒而溫，春應溫而寒，夏宜熱而涼，秋宜涼而熱，其邪（六淫之邪兼有，不［但］（只）寒熱。）由口鼻而入，（即引線。）首先犯肺，逆傳心胞。（引出冬令少陰化熱之邪，如易理龍本潛藏，因春雷一震，則龍噓氣成云，初在田，次在淵，再次則在天矣。）有譫妄神昏之慮，治以辛涼苦寒。（辛涼解表，苦寒清裡，此指時邪引動伏邪者。）仿《內經》之法，奈人不審，見溫病初起，即用達原飲，不愈，即用下，以致害人無算。夫《瘟疫論》著於吳又可（名有性姑蘇人。）伊本明末人，其時兵荒相繼，百姓流離，其死溝壑者，不知幾千萬，則屍氣化為癘氣，流行於天壤之間，中其氣者，挨門逐戶，無不受病，且傳染無窮。吳氏窺破非六淫之邪，乃天地間別有一種異氣，（《溫病條辨》認為：「［溫］（瘟）疫，亦用銀翹散者。」未免牽合。）由口鼻而入，（與溫病同。）客於膜原，（與溫病在肺胃有異。）故制達原飲，（此飲以檳榔為君，能除嶺南之癘，厚朴破戾氣所結，草果氣雄，除伏邪蟠踞。）以達膜原之邪，（以上三味協力，直達巢穴，使邪氣潰散，速離膜原。）因是癘氣，且宜急下。（今坊間新刻醫案言：「伏邪溫病不用黃芩湯，而用達原加芒硝、大黃，此乃不知瘟疫之邪，暫伏膜原；溫病之邪，久伏於腎也。）因而著《瘟疫論》二卷。（崇禎十五年八月著。）可謂獨開生面，果遇瘟疫之年，其法亦不可廢。（瘟疫之歲不常有，如行，則宜參合鄭氏《瘟疫明辨》、劉氏松峰《說疫》、萬氏《保命歌括》之法。）今之溫熱與瘟疫不同，何可不分而妄施達原，以夭人長命也。</p>

<h2>二、溫病要知源流，入手方可不錯</h2>
<p>天有冬夏，病有寒熱，（既有傷寒，豈無溫熱？）岐黃辨問甚明。（見《素問·熱病論》。夫傷寒而列《熱病論》中，可見傷寒溫病，始同而終異也。）至秦越人，難明《內經》，（言熱病根於傷寒，即《易經》「陽卦根於乾復，陰卦根於坤姤之意」。）故曰：熱病者，傷寒之類也。（見《難經·五十八難》。）歷周至漢，仲景先師，（姓張名機字仲景，南陽人，住臥龍崗。見《陳修園十六種》。）著《傷寒雜病論》一十六卷。（仲景著《傷寒雜病論》合十六卷，可見當時傷寒與雜病合而為一也。惜其書散失，至晉太醫王叔和收採仲景遺論，只有不全傷寒十卷，遂曰《傷寒論》。至唐王冰，在館閣蠹簡中，得仲景雜病論三卷，遂更曰《金匱要略》，合計十三卷，尚缺三卷。後賢謂遺佚卒病與熱病論者，此之謂也。）其論曰：「太陽病發熱而渴，不惡寒者為溫病，禁汗下燒針三法」。（詳見陳修園《傷寒淺注》中。）可見溫熱之症，仲景已瞭然於胸中矣。（按仲師論溫熱病，乃伏邪也。方尚失傳，其於時氣溫熱從上受者，則遺佚可知。）李唐而後，《千金》（孫真人著、）《外臺》（王燾著，）金元以下，河間（劉完素，字守真，河間人，）東垣（李杲，字東垣。）惟河間《宣明論方》，及《原病式》能明熱病，（按河間論溫熱，乃時邪也。）當以三焦為主。（上焦肺心，中焦脾胃，下焦肝腎。故葉案云：「河間溫熱，須究三焦。」）實發岐黃之秘，惜方法未備。丹溪（朱彥修，字震亨。）著《心法》及《金匱鉤元》、《格致餘論》諸書，熱病一門方論未著。（丹溪惟補陰潛陽，及諸症因痰所致者，頗有卓識。）其時王履，（字安道，丹溪之徒也，見《醫學入門》。）亦著傷寒溫熱病說，辨傷寒宜辛溫，以寒方從表入；溫熱宜苦寒，寒已化熱，直從里發。（王孟英云：「此謂伏氣發為溫熱，若外感風溫暑熱，皆上焦先受。」）其說較河間更清，亦未克悟苦寒之方。（見附刻《東垣十書·溯洄集》。）降至明季，著書者不少，（薛立齋《醫案》、張景岳《全書》、李時珍《綱目》、王肯堂《準繩》，備殘缺。）皆無功於溫病，唯喻昌，（字嘉言，明末人。）能遵河間三焦法以著溫病，（見《醫門法律》。）雖超越古人，其方亦未免以傷寒牽合。由此觀之，溫病自長沙（仲景官任長沙太守。）論失散以來，千有餘歲，皆似醒非醒，醫道之難明，固如是哉！然理難終失，道有必開。故我朝天士葉氏，（名桂，字天士，號香岩，古吳人。）明哲過人，集聖賢之奧妙，運用於一心。（先生無書不讀，不論書之精粗，能捨短取長，化偏為純。昔賢謂：「泰山不吝土壤者」，此之謂也。）而著《溫熱論》，曰：首先犯肺，（邪從口鼻而入，鼻竅通於肺，此指標而言，即時邪也，詳後。）逆傳心包，（肺屬金，心包屬火，金傳火，故曰逆。）八字，真可謂獨闢鴻蒙，揭日月於中天，其立法以辛涼為主，遵《內經》風淫於內，治以辛涼，佐以苦甘；熱淫於內，治以鹹寒，佐以甘苦是也。至嘉慶間，吳氏鞠通，（名塘，淮陰人。）因親得溫病，被醫誤用，辛溫表散。（王安道云：「誤攻其里亦無大害，誤發其表，變不可言。」喻嘉言《尚論篇》云：「邪入既深，不能邃出，但覺昏憒，無奈其發熱也，全在骨髓之間，自覺極熱，而捫之反不烙手，任行表散，汗出而邪不出，徒傷津液，以取危困。」）以致傳裡不救，遂自憾，將至重之身，委任凡醫誤死，此由人子不知醫之過也。（觀此，則岐黃之書，不獨業醫者，朝夕習學，即孝心人，亦不可不讀，欲知迎醫之法，須看徐靈胎《醫學源流》內《病家論》一例，即無誤矣。）遂發憤習醫，得葉氏餘緒，而著《溫病條辨》，頗有發揮。其方者，用桂枝湯而不用蔥豉湯，未若葉氏純正無疵。（吳氏治溫病，初起惡風寒者，不遵葉用蔥豉湯，而用桂枝湯；但熱不惡寒而渴者，不遵葉氏用黃芩湯，而用銀翹散。要知新邪外受，只宜辛涼，不宜辛溫；裡熱內發，只宜苦寒，不宜辛涼。）若果天質極高，只細參葉案，已思過半矣。近時王氏，（名士雄，字孟英，海寧人。）著《溫熱經緯》，以《內經》冠首，葉氏法在其中，（小注頗有益人處。）末附《溫熱贅言》。（寄瓢子述，見《三家醫案》。）注中更其藥品，正如去稂莠以保嘉禾。實是寄瓢子之功臣也。茲特以溫病來原，細細歷辨，欲同志者，知南車，為迷路而設。安敢好為辨論哉？</p>

<h2>三、伏邪有本無標，時邪有標無本</h2>
<p>葉氏溫病醫案，本分別伏邪，伏者，（邪藏少陰。）時邪，（時者，天時非令之邪，客於肺衛。）標本之理。（葉案云：「近日風溫上受，先與辛涼清上者，時邪也。津液不勝，喉燥舌黑，法當清解血分者，伏邪也。」此即經云：「從外之內者，治其外；從內之外者，調其內也」。）惜《醫統》云：時氣，或概稱伏邪，反致學者，胸無定見，下筆誤人，此乃未識《靈》、《素》之旨也。（元）細思《熱病論》與《金匱真言》，方明葉氏時邪、伏邪分清之妙。其《熱論》云：「凡傷寒（冬令傷寒，不即時發，藏於少陰也。（而）而字轉語，承上起下之詞。）成溫病者，（傷寒化熱，已成溫病，無寒可知。）言伏邪也。《金匱真言》對面（藏於精者，春不病溫，是正面，則對面非冬不藏精，春必病溫乎？）云冬不藏精，（《陰陽應象大論》曰：「冬傷於寒，春必病溫。」此云冬不藏精，只言少陰已虛耳，不言傷寒，言其人雖不藏精，並未外傷寒，既未傷寒，無熱可化，少陰不熱。吾故曰：「時邪無本也。「）春必病溫者，（冬令腎虛，至春陽氣發泄，腠理不固，其風溫之邪，乘虛由口鼻而入，客於肺衛，上焦受邪。吾故云：「時邪有標也。」）言時邪也。由茲觀之，時邪輕，（有標無本，如外有敵兵，內無接應。）而伏邪重也。（有標有本，如兵家裡應外合，此指伏邪外有新邪勾引者，下同。）然有伏邪反輕，（標本邪俱微，如有萬人守城，糧餉所少無幾，敵有五百人，久伏於內，令外有二千人攻城，雖是裡應外合，就竟吾眾彼寡，吾逸彼勞，不難一戰而解也。）時邪反重者，（本雖無而標邪甚者，如城池不固，軍微糧少，內雖無他兵，而敵整旅而來，以強制弱，以多勝寡，若內無運籌之人，外無救援之兵，而城不破者，鮮矣！）亦不可不知也。且時邪雖有春，（風溫為春邪。）夏，（暑熱為溫邪。）秋，（秋宜涼而熱，為秋邪。）冬，（冬宜寒而溫，為冬邪。）之分，皆系熱邪由口鼻而入，治以辛涼鹹寒，妄投辛溫燥熱，（葉案風溫第三案，言醫投羌防之弊；溫熱第三案，言溫邪誤表劫津之弊；張褚二案，言以傷寒六經治溫熱三焦之弊；吳案，言溫邪於經為病。今世多以足經法，劫奪胃津之弊者，是也。）先聖（經云：「風淫於內，治以辛涼；熱淫於內，治以鹹寒。」）後賢（葉案云：「溫邪忌汗，忌發汗，非忌出汗也。」）彰彰可考，奈人不信葉氏辛涼之道，以為天下有風寒而無溫熱，只知用麻黃、桂枝。（葉氏《景岳發揮》云：「霜降後，天氣嚴寒，觸冒之者，名曰傷寒」，故仲景麻黃桂枝以散外之寒邪，若春夏天令暄熱之時，必不可用也。）及荊防柴葛發表之方，無怪乎劫爍津液，逼邪入里。（葉氏《幼科》云：「風溫肺病，治在上焦」，夫春溫忌汗，初病投劑，宜用辛涼，若雜入消導發散，不但與肺病無涉，劫盡胃汁，肺乏津液上供，頭目清竅，徒為熱氣熏蒸，鼻乾如煤，目瞑或上竄無淚，或熱深肢厥，狂［燥］（躁）溺澀，胸高氣促，皆是肺氣不宣化之徵。斯時若肺藥少加一味清降，使藥力不致直趨腸中，而上痹可開，諸竅自爽。無知市醫，僉云結胸，皆用連、蔞、柴、枳苦寒直降，致閉塞愈甚，告斃者多。王孟英按喻氏云：「人生天真之氣，即胃中之津液是也。」故治溫熱諸病，首宜瞻顧及此，董廢翁云：「胃中津液不竭，其人必不即死，皆見到之言也。」）孟子曰：「冬日則飲湯，（熱湯。）夏日則飲水，（冷水。）」雖田夫紅女，莫不知冬寒宜溫，夏熱宜涼，今醫概用辛溫，而不用辛涼者，大約以太虛（天包乎外，地在天中，為大氣所舉，故曰太虛。）之中，有冬而無夏也，豈理也哉。夫伏邪，不因時邪而里發。即仲景云：「太陽病，發熱而渴，不惡寒者」，（葉氏云：「寒邪深伏，已經化熱」。昔賢以黃芩湯為主方，苦寒直清裡熱，熱伏於陰，苦味堅陰，乃正治也。元按：不因時邪者，蓋絕無新邪勾引，故不用辛涼，而用苦寒為初起之方。若里由血分以達氣分，法當先清血分．次解氣分。如初起一二日，即現神糊耳聾、色黑唇焦，津液不騰，脈象沉數，甚則肢厥而痙，當以犀角地黃及清營、紫雪等方，急清血分深伏之邪。若營氣復得一分，則邪氣出得一分，漸漸由血以達氣，如盜賊由內室而出於廳堂，此時必然大渴、大飲、有汗、脈洪而長，舌黑變黃，盡現氣分諸候，遂更竹葉石膏及人參白虎等湯，則邪解正復，脈靜身涼。故柳氏賓嵎先生，與元同診，嘗云：「血分之邪，非達氣分不能解」，可謂得葉氏之要旨也。）苟誤用辛溫之劑汗之，其內蘊之熱，得辛溫而益熾，不特汗後身不涼靜，而且發汗已，身反灼熱者，（河間《原病式》云：「裡熱鬱結，不當發汗，誤以辛甘熱藥發之，不唯攻表不中病，而病反轉加也。」葉氏《景岳發揮》注云：「發熱而渴者，此熱邪在內也；發熱不渴者，此熱邪未入內也，宜解表發汗。若溫病熱病，邪氣自內達外，未可輕用發汗，若誤汗之，禍不可言。）是溫病為風藥所壞，遂變重症，名曰：風溫。（王孟英云：「春溫之先犯手太陰者，曰風溫，乃吸受之溫風也。此伏邪內發，誤汗致逆者，亦曰風溫，乃內動之虛風也。」）則《傷寒論》中可考也。至於伏邪，因時邪勾引，寒伏少陰，業已化熱，加之春應溫而反寒，其寒傷營，必身熱微寒無汗，（表實，王安道云：「即病之傷寒有惡風、惡寒之證者，風寒在表，而表氣受傷故也。後發之溫病、熱病，有惡風、惡寒之證者，重有風寒新中，而表氣亦受傷故也。若無新中之風寒，則無惡風、惡寒之證。」喻嘉言云：「溫病或有新中風寒者，或有表氣虛，不禁風寒者，衛虛則惡風，營虛則惡寒，又不可因是，遂指為非溫病也，然即有之亦必微而不甚。」）脈數、溲赤、尺膚熱，（少陰伏熱。）邵新甫所謂：「在裡之溫邪欲發，在外之新邪又如是耳。」（葉氏《景岳發揮》注云：「寒邪郁遏，陽氣不得伸越，至春時強木旺之月，復感風寒觸動，因之伏邪而發為溫病。夏至後發者，為熱病。」俱自內達外，當從河間法，不可作傷寒治。）治以葛氏蔥豉湯，（葉氏春溫篇，於新邪引動伏邪，以此方主之。）或吳氏銀翹散，去竹葉加蔥白，先解表寒，俟表解後，伏熱全透，再進苦寒清裡。（葉氏云：「若以外邪先受，引動在裡伏熱，必先辛涼以解新邪，繼進苦寒以清裡熱，此先治其標，後治其本。」元按：此乃寒邪勾引者，其餘風溫勾引者，詳見後第八篇。）主於春令，但受風溫之邪，犯於肺衛，必身熱，惡風有汗，（表虛。）寸口獨大，口渴溲赤，名曰時邪，（即風溫。）宜清露飲加薄荷、牛蒡子，以清肅上焦，得從外解，則不傳矣。若邪不解，竟入中下二焦者，以中下之法治之。（按此乃外受風溫者，其餘外受溫熱暑邪者，詳見後第八篇。）故經曰：「知標知本，萬舉萬當，不知標本，是謂妄行。」</p>

<h2>四、治溫病，以三焦為主，以手太陰為始</h2>
<p>劉河間謂：溫病，以三焦為主。至葉氏，謂邪從口鼻而入，先傷上焦，（肺衛心營，）次傳心中下，（詳後。）非冬令傷寒，先傷太陽膀胱，次傳六經可比。（葉氏云：「劉河間創議，迥出諸家，謂溫熱時邪，當分三焦，投藥以苦辛寒為主。若拘六經分症，仍是傷寒治法，致誤多矣。元按：傷寒，功在救陽，故仲景時時護陽；溫病功在救陰，故河間、天士，刻刻存陰。）況寒屬坎，熱屬離，寒從下起，（坎卦在下，膀胱亦在下。）熱從上始，（離卦在上，肺、心亦在上。）二者，如下損從腎，上損從肺之不同也。（見《難經》。）以手太陰（肺經）為始，因位置極高，通乎天氣，故熱傷氣也。初則微惡風寒，（有汗微寒，是肺金本寒，非無汗表實。）身熱有汗，口微渴，脈動數，（傷寒脈浮緊，傷風脈浮緩，今脈動數，右寸獨大，故為時邪風溫。）舌白，（邪在肺為表，肺屬金，金色白也。）溲赤，（傷寒傷風初起，小溲不赤，唯伏邪時邪，小溲必赤，然時邪無本，溲赤稍遲也。）宜以辛涼輕劑，清解為先。大忌辛溫消散，劫爍津液。（辛涼如牛蒡、薄荷、桑葉、象貝、花粉、銀花、連翹、山梔、赤芍、桔梗、沙參、竹葉、蘆根之類。無汗惡風寒者，加蔥白、豆豉之屬，辛溫如荊芥、防風、羌活、柴胡、葛根、白芷、川芎、檳榔、蘋果、藁本、蒼朮、厚朴、蘇子、菔子、山楂、麥芽、橘皮、觀音柳之類，冬溫尤忌桔梗、杏仁、薄荷，以冬溫陽不潛藏，真氣已虛，不宜再投泄氣之品。葉氏吳案可證，因銀翹散有薄荷、桔梗，治冬溫．與案不洽，故元擬清露飲以補之，詳列方。）以症在上焦，不得用中下之理，況《內經》稱：上焦如霧。須用清方合上病治上之旨。（葉案云：「痰潮神昏，乃熱氣蒸灼，無形無質，此滑痰消食清火，竟走腸胃，與病情隔靴搔癢。」又云：「病在上者，治其上，勿犯中下二焦。」又云：「雨露從天下降，炎蒸有掃蕩無餘。」故吳鞠通云：「治上焦如羽，非輕不舉也。」）奈人不明此理，但見形症，狀如傷寒，（傷寒初起脈浮緊，溫熱初起脈動數。）似乎瘟疫，（瘟疫始則有屍氣，溫熱始則無屍氣。）而議麻黃、青龍，（溫熱在肺，而用膀胱之方。）及達原、三消（溫病在肺，而用膜原之方。）之方。宜其燥劫真陰，以致譫妄內閉而死，此乃未觀《寓意草》（喻嘉言草）首篇，先識病，後議藥之奧妙也。</p>

<h2>五、治溫病，須善用手厥陰之方，斯為妙手</h2>
<p>溫病入上焦，初在肺，（手太陰。）次傳心胞，（手厥陰。）終傳心臟。（手少陰。）故葉案云：「症在手經，（手三陰。）不得用足經，（足六經。）」之理。第症在肺衛時，而用辛涼對症之方。（有汗不惡寒者，以清露飲；無汗微惡寒者，以銀翹散，去竹葉加蔥白。）云吸邪至重，傳至胞絡止。（只譫語，不致神昏。）若誤用辛溫發表之劑，（如九味羌活、柴葛解肌、參蘇飲及吳氏三化湯、達原飲等方。）必然日見沉重。（河間《傷寒醫鑑》云：「熱病以熱藥治之者，比如驕主得佞臣，縱恣禍及滅亡，更不覺佞臣之惡。唯其同好之可樂，使熱勢轉甚，以致陽厥，身冷脈微，反陽為陰，至死不悟。）雖吸邪極輕，亦忌逼邪（逼邪者，亦辛溫之方。）入臟，（心臟。）竊設善用手厥陰之方者，言邪已入心胞，（自傳者輕，誤治者重。）如易卦，巳在三四兩爻。（初二兩爻，如邪潛，方見肺衛見病也；三四兩爻，如邪勢方張，胞絡見症也；五六兩爻，如邪已勝正，心臟見病也。）醫者於此，必審邪在肺衛心胞，各居幾分。（如肺衛七分，心胞三分，當以肺衛為主，稍加心胞之品，如傷寒桂枝加葛根湯之意，以桂枝湯治太陽七分，葛根治陽明三分也；如肺衛三分，心胞七分，當以心胞為主，稍加肺衛之品，如傷寒麻杏石甘湯之意，以石膏治陽明七分，麻黃治太陽三分也。此借傷寒解溫病用方配合之法。）方可不失中和，倘不知消長盈虛之理，見其舌黃，大渴脈數，（肺衛七分。）微有譫語煩躁，（心胞三分。）而用犀角地黃，及紫雪、至寶、牛黃等入心之品，（菖蒲、鬱金之類。）反致沉昏不語而死。此乃自開心竅，請邪入內，豈非病輕藥重耶？（張景岳云：「耘禾之生，嘉禾之賊也，有一去一，有二去二，若有一去二，傷一禾矣，有二去四，傷二禾矣。」）更有見神昏舌黑、肢冷，（熱厥。）手搐，（心胞七分。）口渴微飲，（邪未離肺，尚有三分。）而用人參白虎加生地、麥冬、羚羊之品，此乃邪已入室，（心胞漸傳心臟。）藥僅升堂，（肺胃二經藥多也。）豈非病重藥輕耶？（張景岳云：「給餉一人一升，十人一斗，日餉足矣。若百人一斗，千人一斛，三軍之眾豈能活哉？」）此二症，生者少而死者多，因平素未能真明《內經》權衡規矩之法，（薛生白雲：「權衡規矩，所包者多，權言其重，衡言其輕，規言其圓，矩言其方，能明方圓輕重之理，則知變通之道焉。」）</p>

<h2>六、治溫病用藥，要知中病即已，切不可過</h2>
<p>溫病在肺衛，宜辛涼苦甘，（如銀翹散、清露飲及清心涼膈散、白虎湯。）在心胞，宜鹹寒甘苦，（如玉女煎、犀角地黃湯、清宮湯。）在心營，宜芳香開竅，（如清營湯及牛黃丸、至寶丹、紫雪丹。）以上證治輕重有序，毫釐千里。若症宜辛涼，而用鹹寒，謂之太過；如應用鹹寒，而以辛涼，謂之不及。更有鹹寒輕症，（邪微，）而用大劑，（過病所；）辛涼重症，（初邪重，）而用小方，（不及病。）亦謂之太過不及，皆不中病也。（以上論時邪治法，伏邪仿此。）《內經》云：「症有輕重，方有大小」，此之謂也。然有不善習河間之學者，（葉氏《景岳發揮》注云：河間治病，未嘗專用寒涼，觀其《宣明論方》、《保命集》，用藥仍有溫熱，地黃飲子亦有桂附，何得謂專用寒涼也？元按：河間一生精力，全在《原病式》書中，以「亢則害，承乃制」為骨子，以比物立象為化裁，足以羽翼聖經，啟導後學。故元有《補註原病》一卷，刊刻世間，以質明哲也。）但知世間之症，非火不生。（此只知有夏，而不知有冬。莊子所謂：「夏蟲不可以語水者」，此也。）不問邪之輕重，概用黃連、石膏，（苦寒傷胃。）以為大塊之中唯水能生萬物，豈知雨能生木，雨多亦能滅木也。（《易經》曰：「澤滅木者，澤多反不生也」，見《太過象傳》。）故每見溫病，服涼藥太過，（如禾苗漸枯，專望時雨以救之，若大雨滂沱，連旬不［睛］（晴），反傷禾苗之根。）而傷真火，（命門之火。）以致汗出肢冷，煩躁欲寐，（少陰病，但欲寐。）面反如妝，（真陽不潛。）危如朝露。（《難經》云：「旦占夕死，夕占旦死。」）急用參附湯加童便，（引導。）或人參四逆湯加人尿豬膽汁冷服。（徐子默《吊腳痧》云：「熱溺冷服，冷味可去浮陽，熱性可怯陰寒，格陽症中兩得之法」，蓋陽無陰不生也。）以挽碩果危陽，（大旱固然望雨，大澇可不望［睛］（晴）乎？碩果者，以易剝卦，五陰在下，一陽在上，如此病象，其上九曰：碩果不食，謂其不遠之，復以下仁也。解見程伊川《易傳》。）若能汗收，（如雨止。）肢熱，（天漸［睛］（晴）。）方有復反之機。（反，陽潛也，非病反也，《易·說卦傳》云：「剝，爛也；復，反也。」）否則百難救一。又有膽小（膽小不如心細）之醫，亦知治溫病之法，如症當以鹹寒，（心胞方，）而姑以辛涼，（肺衛方，）應用重劑，而姑以輕方，以致津液涸盡，（河間《傷寒醫鑑》云：「病勢大，藥力小，而自死者，亦不知杯水救車薪之火為非。」）譬如敵來數萬在前，攻城破邑，而禦敵之師，數百在後，虛張聲勢，此只知望敵，而不知迎敵也。此二症，一大過，一不及，皆不知中病，得中和之旨也。</p>

<h2>七、治溫病，要知上焦心主強健，邪氣舍心胞而順傳中下者，虛先受也</h2>
<p>溫病由肺傳心胞，一定不易之法。然有心主強健，（心主本健，今云強者，較常人更堅也。）則邪避實擊虛。（武侯《心書》云：「見其虛則進，見其實則止。」兵法通醫，故邪來亦如是。）不譫言（忘）沉昏。（不傳心胞者，即《難經·五十六難》曰：「王者不受邪之意」。）但脈實胸滿，腹痛失氣，（王孟英云：「肺與腸胃，一氣相通」，溫熱究三焦，以此二臟二腑為最要，肺開竅於鼻，吸入之邪，先犯於肺，肺經不解則傳於胃，謂之順傳，不但臟病傳腑為順，而自上及中順流而下，其順也。有不待言者，故溫熱以大便不閉者，為易治，為邪有出路也。若不下傳於胃，而內陷心胞絡，是不但以臟傳臟，且其邪由氣分入營分，較順傳尤變之速。故曰：逆傳也。元按王氏從溫熱論，不從外解，必致里結，悟出里結於何？在陽明胃與腸也，亦須用下法參之。）宜涼膈散，及［太］（大）小承氣湯加減。（丹溪《格致餘論》載羅太無雲：「用古方治今病，正如拆舊屋，揍新屋，其材木不一，非再經匠氏之手，其可用乎？」）取釜底抽薪之意，若應下失下，（下遲。）燥屎結腸，（大腸。）正氣又衰，難以峻攻者，（若孟浪用峻攻之法，未有不邪正同亡者。）以養陰潤腸法。（如增液湯，五仁飲煎湯送下麻仁丸，設肛門如錢，燥糞如拳，又須用蜜煎導法、豬膽汁方之類。）回其津液，（葉案云：「養得一分正氣，即退得一分邪氣，保得一分津液，即存得一分性命。」）則燥屎自下，取水盛則舟自行之意。更有地道不通，燥結已久，其邪由中下反蒸上焦心胞，而譫語神迷者，（如敵知南實北虛，先攻北方，熟知北方雖虛，其路不通，南方雖實，困久必虛，故敵見南反虛，北反實，又復［四］（回）兵攻南也。）當此之時，三焦合病，日期又多，欲攻邪，則礙正，欲補正，則留邪，昔陶氏（節庵）有黃龍湯之法，然不若近世費伯雄，（字晉卿，武進人。）《醫醇剩義》之法妥善。（費晉卿雲：「人參、大黃並用，用意佳，究竟互相牽制，補者不補，而攻者不攻，不若先服攻下之劑，俟藥力已達病所，隨後即服保納元氣之劑，以收攝之。」元按：此從丹溪《格致餘論》治，葉先生之案對而悟出。）以黃龍湯攻中寓補，費氏法先攻後補也。（費法先勝而後求戰，陶法先戰而後求勝。）</p>

<h2>八、伏邪時邪多端，要辨大同小異</h2>
<p>伏邪者，有溫病。（仲景《傷寒論》云：「太陽病，不惡寒，但惡熱而渴者，為溫病。」葉氏謂：「伏氣直從里發，無標邪勾引，宜黃芩湯。」元按葉氏因伏邪里發，無新邪，故用苦寒也。）有風溫，（亦曰春溫，立春後，風木主政，其風合溫暖之氣，客於肺衛，引出冬令所潛之熱，必口渴有汗、惡風，如春應溫而寒，其風合寒冷之氣，傷於營分，亦引出冬令所藏之熱，必口渴、溲赤、無汗、惡寒。伏邪合溫者，以清露飲加薄荷、牛蒡子；伏熱合寒者，以銀翹散加蔥白。次治標重於本之法，若本重於標者，宜黃芩湯加辛涼法，後仿此類推。）有風溫晚發，（風溫在清明後者，為晚發。）有溫熱，（立夏後，火淫主政，陽氣盡泄，由溫和而為溫熱，其溫熱之氣，犯於肺衛，勾動冬令潛伏之熱，必身熱有汗、脈數、溲赤，較風溫稍重，以溫者熱之漸，熱者溫之深，治以清露飲，以溫熱無風邪，故不加薄荷、牛蒡子也。）有暑病，（夏至後赤帝司權，暑氣流行，其暑氣客於肺胃，引出冬令寒邪，所犯之熱必面赤、汗大出、口渴、脈洪。此較溫熱更重。以熱者暑之漸，暑者熱之深也，治以清露飲加鮮荷梗、綠豆衣。以上首伏邪有本無標，下入則有本有標，《內經》云：「凡傷寒而成溫病者，先夏至日為病溫，後夏至日為病暑者」是也。）有伏暑，（天之暑氣一動，地之濕氣自騰，其暑濕之氣亦從口鼻而入，由母傳子，伏於肺腎，暑多於濕，名曰伏暑。至秋冬外感寒涼，或受溫熱，引動初夏伏暑，必口渴、溲紅。舌白在氣，舌赤在血。治法見《臨證指南》、《溫病條辨》，其症與濕溫相別者，口渴能飲，身能轉側也。）有濕溫，（與伏暑來源同，唯其人素偏於濕，又受濕，多於暑，名曰濕溫。必身重疼痛，舌白不渴，或水黃而滑，脈細而濡，胸痞不飢，治當燥濕清熱。吳鞠通化裁葉氏法，立三仁湯最妥。元按：辨舌黃而滑者，或清露飲加蘆根、滑石；舌白而滑者，加蒼朮皮、省頭草。其症與伏暑分別者，身重難轉，舌滑不渴者。又按：伏暑濕溫二症，秋重於夏，冬重於秋，至來春尤重於冬。故東垣《此事難知》云：「邪之所藏，淺者輕而易治，深者其病重而難治，尤深者，其病死而不治。」以上濕熱暑邪仿此（也）。有寒濕，與濕溫來源同，但濕居六七，暑居三四者，為濕溫。暑居一二，濕居八九者，為寒濕。伏暑宜清涼，濕溫宜甘淡滲濕，方中加辛溫之品。寒濕不但辛溫可加，即辛熱亦可加，何者？以偏於暑者，多手太陰症，肺金畏暑，故宜清暑也；偏於濕者，多足太陰症，脾土惡濕，方先宜加溫燥濕氣，使濕化，口渴、舌宣，再更清涼可耳。有時瘧，微寒身熱、口渴、溲赤，或但熱不寒，狀如瘧疾，即伏暑之輕者。治以葉氏法，不可用小柴胡湯。要之《內經·瘧論》溫瘧有伏風之文，刺瘧有五臟六腑之理，豈僅在少陽哉？若果瘧來寒熱相均者，此邪在少陽也。仲景小柴胡湯不可不用。徐氏靈胎，未明時瘧在肺胃，而批葉氏不遵仲聖相傳之小柴胡湯，以為瘧疾不能出小柴胡湯範圍，試問仲景《金匱要略》瘧門中溫瘧以白虎加桂枝湯，牡瘧以蜀漆散反治，牡蠣湯有柴胡引經云。有時痢，長夏肺受暑濕之氣，由肺傳於大腸，致為痢疾。暑多色赤，濕多色白。先疑（擬）注河間《原病式》可考。至所言伏邪為反瘧痢，其法詳於《臨證指南》，此上五伏邪，當有標邪勾動者，大約葉氏總《內經》「夏傷於暑，秋必痎瘧」引伸而出。況王孟：英按喻氏云：「春夏之病，當起於冬，至秋冬二時之病，當起於夏，非其證訣。」）時邪者，有春邪，（冬不藏精，腎水已虛，本證傷寒，無熱亦化，至春應溫而寒，其發升之氣被寒所遏，則營分受邪，必身熱惡寒，無汗，咳嗽，治以葛氏蔥豉湯加減，不可用麻黃、桂枝、青龍等方。若春寒之氣，乘虛由壬傳癸，二三日後，舌黃、口渴、脈變數者，此寒已化熱也。有汗宜清露飲，無汗宜銀翹散加蔥白。）有風溫，（春氣大透，草木甲拆，則風溫之邪，從口鼻而入，先傷肺衛，必身熱、惡風、咳嗽、脈數，治以清露飲加薄荷、牛蒡子。或銀翹散去芥穗、豆豉。）有溫邪，（夏間陽氣盡泄，則溫熱之邪，從口鼻而入，先犯肺衛，必脈數、身熱、頭痛、腰痛、口燥，治以清露飲，不可用銀翹法。以溫邪無風，故為不宜用荊芥穗、薄荷、牛蒡子諸品。元按：傷寒、中風與風溫、溫熱，本系當令之邪，因時人但云風溫、溫熱為時邪，而不云傷寒、中風為時邪，故不入當令之邪，而附於此。）有夏感，（夏宜熱而涼，則暑為涼所遏，非涼中全無暑熱也。其邪傷於營分，必發熱、惡寒、頭痛無汗、身形拘急、肢節疼痛。蔣氏《寶素診略》所謂「夏令感寒之症，猶冬溫之理」，實發前人之未發。由此以觀，則《局方》大順散、冷香飲子，及藿香正氣散中，散風寒之品居七八，祛暑濕之品居二三。昔賢將大順散列於暑症門中，言此方，乃舍時從症者，陳修園之書可求也。更有謂夏間陽暑，多宜白虎湯、六一散。至於大順散，乃治陰暑者，百中難見一二，不可妄投，徐洄溪之書可考也。二子所論，皆本潔古靜而得之，乘涼廣廈，動而得之，途中冒暑。以元觀之，絕不若夏感，猶冬溫反悟之的當也。其餘《局方》香薷飲、蔣氏越蔭湯，皆可酌症而用。）有秋邪，（秋宜涼而熱，其秋收之氣，欲斂不斂，謂之秋行夏令。則熱氣由口鼻而入，先傷肺衛，必身熱口渴，有汗脈洪。法以辛涼甘寒，不可用辛溫燥熱。）有冬溫，（亦曰冬邪。冬應寒而溫，其冬藏之氣，欲藏不藏，謂之冬行春令，則溫暖之氣，由口鼻而入，先犯肺胃，必身熱有汗、脈數、口乾、寸口脈獨大而無力，治以清露飲去桔梗、杏仁，加沙參、麥冬。以葉案治冬溫謂：「不可用薄荷、杏仁、桔梗泄氣」，大約因冬陽不潛，真氣已虛，非春夏陽升之氣不虛可比，故元仿此加減。以上六時之邪，皆有標無本。經云：「冬能藏精，春不病溫。」對面即是冬不藏精，春必病溫。故元於時邪，首言冬不藏精四字，以腎虛則諸邪易受，不獨冬宜藏精也。且吳鞠通云「冬不藏精，非專主房勞」說，即一切人事之能動搖其精者皆是。可見嬰兒幼女，亦有時邪之理也。）伏邪、時邪而外，更有當令之邪者，曰傷寒。（冬令外受寒邪，傷於膀胱，無汗、脈浮緊，其症治之法，詳仲景《傷寒論》。）曰中風，（春令外受風邪，傷於太陽、惡風有汗，脈浮緩。其症治之法，亦詳仲景《傷寒論》，）曰中暍，（夏令外受暑邪，從口鼻而入，傷於肺胃，必自汗惡寒、身熱而渴、脈象微弱，其治暍之法，詳仲景《金匱要略》。元按：伏邪暑病與中暍形症頗同，唯暑病脈洪長，中暍脈微弱有別耳。）曰中濕，（長夏土旺十八日，［溫］（濕）邪與暑相混，從口鼻而入，暑多於濕，則傷於肺金，濕多於暑，則傷脾土，即暑濕、濕溫隨受隨發之症也。治見葉氏《臨證指南》。）曰秋燥，（立秋後天地不交，則為否卦，其天氣上升，地氣下降，大塊之中，致為乾燥之氣，從口鼻而入，傷於肺經氣分，必身熱鼻乾、咳嗽、口燥、右脈數大，治以喻氏清燥救肺湯，及葉氏法。至於吳鞠通之化裁，宜去取可也。以上五當令之邪，皆有標無本，《內經》所謂「在天為風，在地為木，在天為熱，在地為火，在天為濕，在地為土，在天為燥，在地為金，在天為寒，在地為水」是也。秋燥從此悟出。）斯刻只論風溫、溫熱、冬溫，今將伏邪、時邪，與當令之邪，標本言明，使學者，知辨症在毫釐千里，宜博覽群書，精求義理，勿貪一書之簡易，孟浪施治也。</p>

<h2>九、治溫病要識寒極似熱、熱極似寒、虛極似實、實極似虛四症，方不亂言吉凶</h2>
<p>溫病熱從里發，時邪熱由上受，並非寒症也。因過用涼劑，（李氏文榮《仿寓意草》云：「載陶云汀宮保，被醫誤用苦寒傷胃一則。」唐方伯論大意云：「熱症用涼藥，固然枯苗得雨，宜雨澤以潤之，不可冰雹以傷之。」今累用黃連、石膏者，冰雹是也。元按：若陽明少陰有實火，又為白虎、三黃之的症，故元嘗語諸友曰：「雪水、秋露及西瓜汁，治肺胃之熱也；蚌水、蔗漿、生地、元參，救腎陰之熱也。諸品當則為時雨，不當為冰雹，不獨黃連、石膏而已。」）而傷命火，致龍火不潛，真陽外越，面赤如妝，口渴欲飲，小溲黃色而清。（《經》以「諸水澄清，皆屬於寒；諸水渾濁，皆屬於熱」。今黃而清不渾，非真熱也，，觀天寒水清，天熱水渾，及冷水澄清，熱水渾濁，則理自明。見王九峰《溲論》。）唯脈象沉細，（或脈如數，重按全無。）四肢厥冷，（手厥上臑，足厥上膝。）鼻孔冷氣，（蔡氏熙和云：「肺氣喘促有似真熱，但真熱鼻孔氣熱，假熱鼻孔氣冷，為異耳。」大便清利，脾陽虛也。）此真寒而假熱也。誤用白虎湯必死，須以人參四逆湯加童便主之。若能肢熱脈起，則假熱形症，不治自愈。（如天大雨，則龍雷火起，若雨散雲收，陽光普照，則龍火自潛。）又或溫病傳於中焦，當下失下，熱甚於內，四肢厥冷。（時熱時止，不上臑膝。）身反惡寒，（熱極反從寒化，謂陽甚於內，外反陽微也。）神昏不渴，（熱壅於胃，或入於血，皆令人不渴。）小溲白渾，（渾濁屬熱，切勿以色白為寒。）唯大便不解，胸腹滿痛，舌黃而焦，齒黑唇破，脈沉實者，此假寒而真熱也。誤用姜附必危，（河間《傷寒直格》云：「病本熱甚，熱蘊於裡，則陽氣陷下，以至厥逆身冷，或青而脈微，乃妄以寒極而急救其陽，反遭其暴害也」。）須以白虎湯合承氣湯下之。若果便解脈數，則假寒形症不治，而為大渴大汗、煩躁如狂，諸症見矣。（如火爐然，外雖冰冷，中有熱炭未熄，若火箸一撥，則內伏之熱外騰。）又或溫病日久正傷，致為脾腎雙虛。（按溫病初起，或不知辛涼解肌，而用辛溫發表，不能外解，轉致內熱。或灼胃液，甚至暗耗腎水，否則涼藥太過，以傷脾陽，故纏綿日久，而致正氣受傷矣。）身內反熱，脈來細數，但熱有時而衰，脈重按無力，口乾不欲飲，舌赤有巢，經云「陰虛生內熱」，此虛極似實也。誤用白虎三黃，則身愈熱、脈愈數，以葉氏復脈湯合生脈散主之。俟陰虧全復，則虛熱自止。（此腎虛可復。）更有身熱已退，舌上無胎，（無積滯也。）但胸痞不暢，飲食不進，（胃陰虛、胃陽虛，皆能致不食。）胃脈弦大，重按似有似無，經云：「脾虛生脹滿。」亦虛極似實也。誤用瀉心及消導之品，致犯虛虛（脾胃虛而用攻劑，則中土愈虛。）之戒。須以建中及復脈、益胃等湯（葉氏按：「仲景云：『元氣已傷而病不愈者，當與甘藥。』則知理陽氣，當推建中，顧陰液，須投復脈矣。」）加減主之。俟脾胃一健，則飲食自進，胸口反寬矣。（土虛則脹，土實則愈，此脾虛可復。）又或溫病身倦骨痛，神迷安靜，惡聞響聲，唯脈沉數有力，舌黃黑起刺，便閉溲赤，（王冰所謂：「大實有羸狀。」）此實極似虛也。誤用參耆歸術補劑，致犯實實之戒，須用增液承氣湯主之。如大便一行，則反口渴煩躁，甚則起床發狂，（經云：「心病則煩，至煩躁可平矣。」）以上四症，關係甚重，平素須細細辨明，臨證自有真見。故經曰：「謹熟陰陽，無與眾謀。」又曰：「知逆與從，正行無問，此其道也。」經云：「心病則煩，腎病則躁。」此陰陽交脫也。若用參附回陽，致犯燎原之戒，須用三甲復脈，及大定風珠諸品。以挽之。俟陽潛陰回，龍雷安澤，則陰津來復，煩躁可平矣。</p>

<h1>卷下</h1>

<h2>十、治溫病要辨得表裡、虛實、寒熱六字明白，然後用藥，方不差誤</h2>
<p>均是惡寒也。唯溫邪微寒，（溫病從口鼻而入，客</p>
<p>於肺衛，而微寒者，是肺金本寒也。一二日後，即單熱不寒矣。</p>
<p>微字溫熱著眼處。）身熱為表，（葉氏云：「邪在肺，為表。」有汗</p>
<p>惡風，清露飲加薄荷、牛蒡子；無汗惡寒，銀翹散加蔥白。）有汗出鼓慄，（河間《原病式》云：「病熱過甚，則反出五液，或為戰慄，惡寒，反兼水化制之也。」其為治者，但當瀉其過甚之氣，以為病本不可反誤治其兼化也。葉氏云：「諸禁鼓慄，皆屬於火。」則知戰慄，乃極熱而反見寒象。）壯熱而渴者為熱，（白虎湯加減。）有微熱肢冷，惡熱反欲近火，但便閉溲赤，此熱極反從寒化。（河間《傷寒醫鑑》云：「五行之道，實甚則過熱，反似克己者也，是謂兼化。」如萬物熱極，而反出水液，以火鍊金，熱極而反化為水，是以火極而反以水化也。）為里為實，（大承氣湯合增液湯下之，腑氣通，則反肢熱、煩渴。）症在上中，（二焦。）服寒涼攻伐太過，（好用寒涼之過。）反自汗惡寒，嘔利肢冷，脈沉舌潤者為虛。（陽虛附子理中湯加浮小麥。）</p>
<p>均是發熱也。溫邪頭痛，寸脈洪，身熱小溲赤，為表。（有汗清露飲加減，無汗銀翹散加蔥白。）有胸膈煩熱，呼吸俱粗，關尺（右手）洪數，溲赤便通，（有熱無結。）為熱。（清心涼膈散。）有煩躁脈數，胸脘拒按，舌或黃或濁，及腹痛便秘，或熱極旁流，為實。（小陷胸湯、小承氣湯加減。此治邪氣不逆傳心胞，而順傳中下者。若舌黃白相間，與黃而光滑無根者，不可用之。詳《溫熱論》中。）又有熱久傷陰，用清涼藥而身熱煩躁更甚，用攻下藥而便反不解，舌燥尤甚，此大虛有盛候也。（陰虛，三甲復脈湯，若夜熱早涼，熱退無汗者，熱在陰分也，宜青蒿鱉甲湯。）有勞復發熱，因病新瘥，津液未復，血氣尚弱，或語言傷氣，思慮傷脾，身熱隨至，宜寡言屏慮，（勞復良劑，）清解餘熱為主。（生脈散加生地、石斛，煎水送下歸脾丸二錢。）有食復發熱，因病衰，脾胃未健，驟進飲食，（此症舌必復黃。）難以消化其積滯，復裹餘邪也。（章虛谷曰：「此言病初愈，餘熱留藏於經絡血氣而未淨，因食助氣，則二熱相合而復熾。故食肉，病必復發；多食谷，則邪遺留，必淹纏難愈。故當解口清淡，稀粥漸為調養也。元按：唐鑑云：『治病雖愈，尤宜將護，倘遽自放縱，病復作則不可救矣。』）宜扶正消導，（葉氏《景岳發揮》云：「因食而復熱，宜消其食，其熱自退，不可謂溫病概禁消導。」）兼清餘邪為主。（隨症酌量用方。）更有下後身涼數日，而復發熱者，餘邪復出也。（按時氣自復者少，伏邪自復者多。以伏邪如鳥棲巢，如獸藏穴，根本堅固，匿於少陰，一旦外感六淫，引出內伏之邪，若巢穴之外，有聲響動，致鳥不安於巢，獸不伏於穴。治伏邪者，如射鳥於巢，捕獸於穴，須用良策，方免傷人。如服應症之藥，而身熱已退，諸恙漸平，或逾數時，或隔數日，而熱尤甚，症愈重者，乃巢內尚有巨鳥，穴中仍藏猛獸，見捕射難以容身，只得併力而出，與正相鬥，甚則猛復三五次者，故伏邪較時邪為難治之。有一日用辛涼，二日增煩躁，二日用甘寒，三日增神糊，三日用鹹寒，四日增舌黑，正是愈投涼藥則愈增熱病。若非伏邪外達，焉有用寒涼之劑，存陰輔正，不見寒症反增熱症者？其時宜將內伏之邪，與正氣相較，如正勝於邪，則用清營湯、紫雪輩，則邪解正復，自然脈靜身涼；若邪勝於正，則漸漸神昏內閉，即難治矣。又按：伏邪痧疹，無論大人嬰兒，雖用對症之方，而餘氣未盡者，則必時熱時止，夜寐不安，精神不振，胃氣不醒。醫者當審來源，未用清涼藥之先，預言服藥後必壯熱口渴，甚則神糊譫妄，皆系伏邪外透，免致驚慌。）</p>
<p>均是寒熱往來也。溫邪必熱多寒少，（溫病手太陰受邪也，非足少陽受邪，寒熱相平可比。觀易雷天大壯，陽畫多，陰畫少，即熱多寒少之理。地天泰，陰畫與陽畫相等，即寒熱相平之理，若誤認肺經症，作膽經症，則雷天大壯，不幾為地天泰乎？）較之傷寒，寒熱不均，（平也。）比之瘧疾，又不分明，（瘧疾休作有時，溫熱休作無時，由無時而轉有時，是邪轉瘧也。由有時而轉無時，是瘧化邪也。）自寒少熱多，而為壯熱神昏者重，由神昏壯熱，而為身熱微寒者輕。初起兼頭痛，無汗者為表。（銀翹散加減。）兼大腹痛脹，便結者為里。（小承氣湯加減。若泥於傷寒者，必議大柴胡湯矣。）有汗下後，脈虛心悸，神倦自汗，內熱（陰虛）形寒（陽虛）者為虛。（炙甘草湯去參姜，加柏子仁、左牡蠣、淮小麥、夜交藤。）</p>
<p>均是頭痛也。溫邪必自覺熱蒸昏悶，（風寒諸痛不昏悶。）身熱微寒頭痛者，為表。（銀翹散加減，）有煩渴自汗、脈數頭痛者，為熱。（白虎湯；兼嘔者，竹葉石膏湯。）有舌黃身熟，（日晡時甚。）腹滿便閉頭痛者，為里。（涼膈散加減。）有汗下後，神倦自汗，脈虛頭痛，時來時止者，為虛。（知柏地黃湯加浮麥、黃耆。）</p>
<p>均是自汗也。（河間《傷寒直格》云：「怫然痞閉無汗者，故當病也」，其汗泄通泰而亦病者，蓋泰極則否也。夫人氣和而為汗，如天地氣和而為雨，過多則澇矣。）溫邪熱蒸而自汗，不可以表虛論也。頭眩有汗惡風（初起惡風有汗，又不可拘溫邪無表虛）者為表。（清露飲加減，）有舌黃煩渴，有汗便通者為熱，（天水散加味。）有胸痞腹滿拒按，四肢徹然汗出者為實。（小陷胸湯加味，小承氣湯加減。）有邪退正虛，舌赤不渴，二便清利，自汗者為虛。（吳氏救逆湯。）有熱極汗多，致陽隨汗泄，而暫肢冷脈沉者為虛。（先宜參附湯。按溫病熱極，汗出不止，而肢厥惡寒脈遲者，此陽氣隨汗而泄，宜速回陽，陽回熱必復熾，當更救陰之法，戰汗者亦然。若服涼藥過甚，而傷真火，必汗出而冷，肢厥脈沉者，此真陽飛越，急當回陽，陽回熱不復熾。宜用陰陽雙攝之法。但二疾回陽之後，一復熱一不復熱，所謂生死在須臾，緩則不可救矣。解見《回溪醫案》。）</p>
<p>均是戰汗也。（河間《傷寒直格》云：「正氣與邪氣並之於里，表氣虛而裡熱實，亢則害，承乃制。」故里之大熱極甚，而反兼寒水之化制之。故病熱極而反寒戰也，諸戰皆然。吳又可云：「熱病大汗將出，而反寒戰者，如鳥之將飛，其身必伏，先縱足，而後揚翅，方得升舉。」）溫邪以戰汗為佳兆，以戰則邪正相爭，汗則正逐邪出。（經云：「人之汗生於穀，穀生於精」，今汗出熱退，是邪卻而精勝也。葉氏云：「溫邪始終在氣分流連，可冀其戰汗透邪」，今邪與汗並，熱達腠開，邪從汗出矣。）透則脈靜身涼，（汗透脈靜者吉，脈躁者凶。）腹無阻滯，（大便已解可知。）否則餘邪未盡而復熱，（經云：「精勝則能食而不復熱。復熱者，邪氣也。」）則有再作戰汗而解者。（前戰汗者，譬之大敵已退，復後戰汗者，如敵隱伏山林叢雜之中，見大隊已敗，難以伏藏只得出而相戰，若有汗而熱復退，是正又勝邪矣。）有戰汗須三四次而解者，（此邪實正強，難分勝負也。）有戰一次，不能再戰，（正不勝邪。）待酌下法而退者，（此敵來甚銳，我軍寡，雖勝眾，免強決戰，必俟援兵以敗之，未嘗不助我以退敵也。）有虛人，或邪踞已久，忽戰汗後，即加沉昏珠汗而脫者。（如敵攻孤城，內無糧草，外無援兵，勉強而戰，而城不為敵敗者，鮮矣。）凡戰汗之時，多與熱湯，助其作汗。（如敵漸漸欲潰，吾軍加以飽餐。取以飽勝飢之法。）戰汗之時，脈多停止，汗後自見。（戰時邪正混為一團，陰陽不分，氣血相亂，故脈多停止。）總之戰汗後，神靜者吉正勝，昏躁者危（邪勝）也。</p>
<p>均是狂汗也。（作汗似發狂，發狂似作汗，宜細辨。）溫邪服辛涼藥後，忽手舞足蹈，踏床投榻，遂大汗淋漓，熱退脈靜者安。（如敵來已久，見吾軍強壯，未敢相爭，暨久糧餉日虛，勉力與正相爭，則為正所敗。故大汗後而熱自退，脈自靜也。河間《傷寒直格》云：「作汗之病熱者，乃陽熱怫靜而否極復泰，即熱氣熏蒸而為汗出也。如天時陽熱亢旱，否極而泰，則復為雨矣。故欲雨，則天乃鬱熱，晴霽則天反清涼，人涼則病愈矣。劉松峰《述古》云：「陽亢則水虧，陰衰則火盛」，水涸於經，安得作汗？譬之乾鍋赤裂，潤自何來？但加以水，則鬱蒸沛然而熱氣上騰，汗之水生，亦復如是。用涼藥以救水，水生而汗有不出者乎？）如症同上而發狂，或登高而歌，棄衣而走，有汗而熱如故者危。（彼此相戰，有自潰之勢。）二者臨時（作汗發狂，欲見之時）何別？以作汗之脈數而緩，（緩則胃氣和。）發狂之脈數而大也。（大則病進。元按：戰汗、狂汗兩條伏邪最多，時邪甚少。）</p>
<p>均是發黃也。溫邪渴未甚，腹不滿，無汗溲短，心中懊憹發黃者為熱。（梔子柏皮湯加減。）有頭汗出，渴欲飲水，腹滿舌黃，溲閉發黃者為實。（茵陳蒿湯加減。）有身面悉黃、少腹滿、腸鳴溲少者，為蓄水。（四苓合六乙散加茵陳、車前草。）有少腹軟痛、溲長便黑黃者，為蓄血。（桃仁承氣湯去桂枝加茵陳、丹皮，元按：吳氏風溫、溫熱門，載發黃二條，竊思發黃之症，一則曰溲短，再則曰溲閉，既短且閉，顯然熱為濕鬱，發於皮外。果然單為濕病，皮膚未必見黃。況葉案風溫、溫熱門，並未載發黃之症，可見此症宜入濕溫之門，用述鄙意以質明哲。）</p>
<p>均是癮疹也。（疹屬太陰風熱。）溫邪初在太陰，不可發汗，若誤汗，（誤用辛溫汗劑。）而汗反不出，發疹者為表。（銀翹散去豆豉，加生地、丹皮、元參、大青葉。）有煩渴舌黃，便閉，發疹不快者為里。（玉女煎加硝黃下之。）有元氣不足，而得溫病。涼劑過甚，逼龍雷之火，熏爍脾肺，而發陰疹者，色必淡紅，手足多而胸背少，脈沉細不洪者，為陽虛。（附子理中湯加減。）</p>
<p>均是發癍也。（癍屬陽明營熱。）溫邪從經脈，有外解之機。（亦佳兆也。）如身熱無汗，誤表而汗不出，為隱癍者為表。（銀翹散加減。）有身熱譫語，而隱癍者為里。（犀角地黃湯。葉氏云：「煩躁大便不通，加金汁，老年或平素有寒者，以人中黃代之。」）有壯熱舌灰，神糊便實而隱癍者為實。（白虎化癍湯，加丹皮、赤芍、黃芩、芒硝、大黃。）有癍出而裡熱不解者，為胃津亡也，主以甘寒法。（重者以玉女煎，輕者以梨皮、蔗漿。若其人腎水未虧，邪雖未及下焦，宜加鹹寒，如元參、知母、阿膠、龜板之類，以安未受邪之地。《內經》所謂「治其未病也」。）至於陰癍治法，見前疹病。夫雜病，以癍消則愈，溫熱以里清為要。（溫病與疫不同，無論表裡，切不可用吳氏舉癍湯，引邪內陷而神糊矣。）故每見癍透數日，而譫語神昏如昔，必待裡熱全清，二便清利，方為愈期也。若欲細辨色赤、色紫、色黑吉凶，宜看葉氏法。（見《三家醫案·濕熱論》小注中。）</p>
<p>均是煩躁也。（煩為心神不安，躁為揚手擲足。）皆鬱熱所致，熱淺則為煩躁，熱深則為沉昏，煩躁轉沉昏，自輕至重；沉昏變煩躁，自重化輕。如初起惡風，身熱煩躁者為表。（清露飲加減。）有壯熱口渴，舌黃而煩躁者為熱。（白虎湯加連翹、花粉。若四邊紅、中心或黃或白而乾者，宜涼膈散。）有胸痞滿，或腹實痛而煩躁者為實。（黃連瀉心湯、小承氣湯。）有汗下後，真陰欲竭，壯火復熾，心煩不得臥者為虛。（黃連阿膠湯。）有舌黑煩躁，漸近神昏者，為欲內閉。（清宮湯加減、牛黃清心丸。）</p>
<p>均是嘔吐也。溫邪胃熱者多。（河間云：「嘔者火氣炎上之象也」，故胃熱甚，則嘔也。）如身熱頭眩而嘔者，為表。（清露飲加枇杷葉，不可用二陳湯。）有煩渴脈數而吐酸（經云：「諸嘔吐酸，皆屬於熱」；河間云：「吐酸，肝木之味也，由火實制金，不能平木，肝木自甚，故為酸也」；葉氏《景岳發揮》云：「天氣熱，雖在釜中，亦能酸臭；天氣寒，焉有酸臭之理？」。由此觀之，則知熱極而酸無疑矣。又譬之以飯造酒，蓋暖則成酒，熱極則酸。元按：酸而溫者為熱；酸而冷者為寒。然溫邪屬熱者多，屬寒者亦不可不知。）者為熱。（竹葉石膏湯。）有心下臍上滿痛拒按，而嘔者為實。（小陷胸合調胃承氣湯加減。）有汗下後，心悸神虛，多汗，舌赤，聞響聲而嘔者，為虛。（陰虛復脈湯加玉竹、枇杷葉。）有清涼太過，肢冷溲清，自利而嘔者為虛。附子理中湯加減。更有濕溫，（另有治法，詳《溫熱贅言》、《溫病條辨》。）嘔吐不止，晝夜不差，欲死者，為胃移熱於肺，肺不受邪，還歸於胃也。（如天晴已久，陽氣自旺，一旦地之雲氣上於天，則陽剛不受，復降於地。聞吾邑某姓，得嘔吐症，醫投生薑、半夏，其嘔尤甚，更逢平肝和胃之法，仍然不止。遂請邑東王明經先生至，用黃連四分、蘇葉三分，煎服。一時許，嘔吐陡止。元因悟寄瓢子之方，二味用如許之少者，蓋遵溫病首先犯肺，故治上不犯中，而效如影響，然王氏好奇也。）</p>
<p>均是口渴也。（溫邪口渴者多，但一入血分，則口反不渴，熱結下焦，口亦不渴，逆傳入心胞，神昏舌黑，口亦不渴，不可謂不渴非熱症也。至於濕溫初起，濕踞於中州，胸痞不飢，熱未勝濕。雖目赤溲赤，口俱不渴，臨證者，宜不論舌苔黃白，總以滑潤不燥為別。）如身熱惡風而渴者，為表。（清露飲加花粉、麥冬。）有煩躁大渴飲冷，舌黃者，為熱。（白虎湯加減，甚則以冰水頻飲。有熱痰者，雪梨漿沃之。）有壯熱口渴，胸臍腹痛硬，手不可近者，為實。（小陷胸、大承氣加減。）有尺數，少腹滿，口渴溲赤，痛而短者，為蓄水。（豬苓湯、導赤散、六乙散。）有時欲漱口不欲咽，大便黑而易者，為瘀血。（犀角地黃湯。）有汗下後，心悸者，尺脈如數。（如數者，非真數也，見薛生白先生原著注中。）口渴者為虛。（此津液少也，生脈散加麥冬合五汁飲主之。）凡溫熱，渴甚則熱甚，渴飲則熱散，在末路，以渴為有餘邪，不渴為無餘邪，此係要訣，不可不知也。</p>
<p>均是咳嗽也。溫邪初起，熱在肺衛，身熱咳嗽，微惡風寒者，為表。（有汗者，清露飲加減；無汗者，銀翹散加減，不可用蘇杏二陳湯及六安煎加防風、白芷，辛溫之品。）有身熱舌黃、口渴有汗、咳嗽有痰者，為熱。（瀉白散加前胡、牛蒡、薄荷。）有咳嗽痰多、煩躁腹滿、便閉脈數者，為實。（三承氣湯加連翹、杏仁、象貝、瓜蔞。）有汗下後，陰液來復，虛火無制，而灼肺金，致咳嗽面赤，甚或喘促，脈象細數，舌赤有巢，為陰虛。（三甲復脈加天冬、杏仁。）有清涼太過，則龍火不潛，而上灼於肺，致面赤如妝，咳嗽痰沫，脈象虛數，重按若無，四肢微厥者，為陽虛。（金匱腎氣丸加減。）</p>
<p>均是喘促也。溫邪初起，熱在肺衛，身熱惡風，有汗而喘者，為表。（銀翹散加桑白皮、苦杏仁。）有壯熱口渴，舌黃脈數而喘者，為熱。（葦莖湯加桑白皮、川貝母。）有熱邪郁肺，右寸實大，咳逆喘急，聲音不出，甚則不得臥者，為肺實。（葶藶大棗合葦莖湯、瀉白散加減。）有煩滿腹脹，大便秘結，胃脈數滑而喘促者，為胃實。（三承氣湯加杏仁、桑白皮。唯誤發其表難治。）有誤表劫津，致傷腎陰，陰傷則陽無所斂，故少納氣乏力，以致喘促汗多，脈數無力者，為虛。（汗多肢溫，陰虛也，三才復脈等湯加減；汗多肢冷，陽虛也。參附湯加味。）</p>
<p>均是吐血也。溫邪熱傷肺胃，身熱咳嗽吐血者，為表。（清露飲加山［枝］（梔）皮、梨汁。）有壯熱口渴，舌黃脈數，而失血者，為熱。（犀角地黃湯、竹葉玉女煎加減。）有吐血紫塊，少腹痛或脅痛者，此乃溫熱，由肺衛而引動宿血也。（應症方中加丹皮、赤芍、桃仁、大黃、黃芩，按此症在三四日引動者可治，十餘日引動者難治。）有清利太過，龍火上越，致顴赤如妝，脈數無力，重按似無，口渴不飲，而失血者，為陽虛。（人參四逆湯加童便。）</p>
<p>均是耳聾也。溫邪之熱，易傷腎陰，（腎開竅於耳。）非傷寒少陽經耳聾可比。（葉案云：「溫熱熏蒸之氣，上迫清竅，耳為失聰，不與少陽耳聾同例。」元按：傷寒有胸脅滿而口苦，寒熱脈弦，今溫邪只口渴煩躁神昏，脈躁溲赤也。若誤用小柴胡湯升陽則陰耗，所謂以少陽藥治少陰也。宜陳修園謂：「有病之經絡未蒙其救，無病之經絡，徒受其殃耳。」）初起二三日，身熱惡風而耳聾者，為表。（清露飲加生地、荷葉。）身熱腹痛，便閉脈實而耳聾者，為實。（增液承氣湯加荷葉，不可用菖蒲治耳聾，反引邪入心胞也。）有神昏譫語，舌黑溲赤而耳聾者，為欲內閉。（紫雪丹、牛黃丸以石菖蒲、鮮荷葉煎水下。）有汗下後，神倦盜汗，脈虛舌紅而耳聾者，為虛。不可急治，以甘潤為主。（三甲復脈湯加鮮石斛或石菖蒲，待粥食如常，二便調勻，始由漸而全。）更有症久虛極，致神昏肢厥，舌蹇不言，循衣摸床，面額珠汗而耳聾者，為津脫不治。（溫邪無論始終，皆以耳聾為最忌，因耳聾顯系少陰腎水被熱邪劫灼，故初起方中宜刻刻保陰，若內閉心臟，或病後虛甚者，終歸無濟。）</p>
<p>均是舌鑑也。溫邪舌白而燥，症在肺衛。（傷寒舌白不燥，不滑，必惡寒無汗，脈緊。濕溫舌白而滑，身重不渴脈濡。溫邪舌白而燥，口渴溲赤脈數，三者同中有異。拘於傷寒感冒者，又欲議麻黃桂枝及沖和湯矣。）已見少陰水虧也。（辛涼方中宜加育陰之品。）有苔黃而干，（舌苔不論黃黑，以干為津液受傷。）口渴便秘者為里。（涼膈散加減。）有神昏肢厥，舌灰黑而燥者，為欲閉。（清宮湯加減，另服紫雪丹。）有舌黑無津，中生芒刺，神糊脈數，大便不解者，為實。（犀角地黃湯加枳實、大黃、芒硝，先以梨汁和蚌水服之。）有舌苔微黃身熱，用攻下藥，則身愈熱，舌愈燥，及心悸腰痛。扁鵲所謂「損不足也」為虛。（三甲復脈湯、生脈散加減。）更有苔赤帶紫而燥，神糊譫語，渴飲者，為熱在胞絡也。（白虎湯加犀角、羚羊、生地、金汁。）有病瘥後，虛熱盜汗，舌鮮紅而燥，脈細數無力者，陰虛也。（炙甘草湯加元參、石斛、龜板，不可用寒涼藥。）有病瘥後，惡寒有汗，舌黑而潤，不渴不熱，脈沉細者，為陽虛也。（金匱腎氣湯加減。）總之，舌上無［胎］（苔），則胃無津，可清潤，不可攻下，此要訣也。（觀舌辨症，《溫熱論》最詳。）</p>
<p>均是舌強卷短也。溫邪舌強無表，（無表者，無肺衛形症也。）有身熱舌謇肢冷，（無厥。）邪入心胞者為熱。（舌為心苗，牛黃丸、清宮湯加減。）有舌黃，胸腹滿痛，舌強便閉者，為里。（三承氣湯加減。）有誤表劫津，心中震震，舌強神昏者，為虛。（大劑復脈湯加減，或阿膠雞子黃湯加麥冬，以汗下後，舌強與舌痿同治，按舌痿軟而枯，小虛脫之症，死不治。）更有舌黑生刺，變為卷短，失下症也，為實。（此火極似水，宜大承氣加育陰之品急下之。）以上諸症，兼痿者，（應用方中加川貝、杏仁、栝蔞、竹茹，甚則加礞石滾痰丸。）宜參濕溫法。</p>
<p>均是懊憹也。溫邪二三日，舌微黃，（王孟英云：「舌苔薄而清者，邪未膠結，可吐散；舌苔厚而有根，濁邪瘀結，須重用辛開苦降。如吐之，邪結不得出，反使氣逆而變他證。」）寸脈盛，心煩懊憹，欲嘔，起臥不安者，為熱。宜湧而越之。（梔子豉湯加減。）有二三日，心煩不安，痰涎壅塞，胸痞而欲嘔者，（為痰熱。）亦宜吐之。（瓜蒂散，虛者或加參、姜。）有下後虛煩不眠，心中懊憹，反復顛倒者，宜量虛實治之。（梔子豉湯，少氣者加甘草；嘔者加姜皮；實者，加大黃。）</p>
<p>均是胸滿也。（膈間氣塞滿悶。）溫邪胸滿不痛，邪尚未結也，為痞。（黃連瀉心湯加減。）胸滿痛者，邪氣已結也，為結胸。（按而始痛者，小陷胸湯；不按而自痛者，大陷胸湯。兼痰牽引串痛而嘔，加川貝、杏仁、枇杷葉；兼食必硬痛，或塊拒按加枳實、焦楂、麥芽；兼血不拒按，按之軟，不硬，脈必芤澀，加蒲黃、五靈脂、赤芍、丹皮。）有屢攻下而胸滿痛者，乃脾土虛弱，肝氣上逆也，為虛。（脾虛小建中去飴糖加甘蔗水。）</p>
<p>均是脅滿痛也。（脅肋下氣塞滿而痛。）溫邪脅滿痛，在左者，屬血，（肝居左，且藏血，宜應症方中加延胡、歸尾、桃仁、五靈脂；）在右者，屬氣，（肺在右，且主氣，於對症方中加青皮、大腹皮，又有在右屬痰者，加白芥子、杏仁，甚者，則加大戟、芫花。大抵痰氣無常時，有聚散，非比在血，有聚無散也。欲知在右痰與氣之分，觀氣散余無所苦，痰散仍有所苦可知。）有汗下清利後，而脅滿痛者為虛。（氣虛兼嘔者，宜養氣；或血虛兼時熱者，宜養血。元按：脅滿痛，較胸滿痛難治。以胸者，譬之要道，不得久塞；脅者，譬之僻巷，塞則難開也。）</p>
<p>均是腹滿痛也。（宿食邪結也，多氣血，痰水者少。）溫邪滿而不痛者，乃水穀散漫未結，為邪在氣分也。（於對症方中加大腹皮、青皮、山楂、穀芽、枳殼。）若兼舌黃脈實者，為邪已傳胃。（小承氣湯加減。）亦有痛而不滿者，乃水穀燥結，為邪在血分也。不受按而硬者，宜下之。（調胃承氣湯。）有滿痛俱作拒按者，宜急下之。（大承氣湯加減。）或更兼下稀黑水，此熱極旁流也，同上法。（大承氣湯，虛者新加黃龍湯。）有滿痛喜溫不喜按，反肢冷脈遲，舌潤不濁，此因服苦寒太過，而傷脾胃之陽，宜溫下之。（千金溫脾湯、附子湯加硝黃。）</p>
<p>均是少腹滿痛也。溫邪滿而不痛，為濕勝（兼溫）氣滯也。（於對症方中加青皮、六一散。）有痛而不滿者，為熱傷肝經血分也。（於對症方中加黃芩、赤芍、歸尾。）有滿痛俱作，小便不利者，蓄水也。（四苓合益元散。）有少腹滿痛，而大便不通者，為燥屎也。（三承氣湯加減。）有少腹堅滿小便利而大便黑如漆者，為蓄血也。（桃仁承氣湯，甚則抵當湯。）更有滿而不痛，痛而不滿，喜溫喜燥，此由清下太過，為虛也。（金匱腎氣湯加減。）</p>
<p>均是自利也。（自利者，不經攻下而自然泄瀉。）溫邪由肺胃傳大腸，是熱極旁流也。（熱泄，臍下熱，口渴，舌黃脈數，溲赤，所泄稀水，色黃黑而臭。寒泄，臍下寒，口不渴，舌白滑，腹痛脈遲，溲清畏寒，所泄稀水色清白而無味。）初起頭眩身熱而自利者，為表。（清露飲合雞蘇散。）有身熱舌黃，譫語自利完穀者，（邪熱不殺穀，詳河間《原病式》）為實。（仲景云：「下利譫語者，有燥屎也，小承氣湯加減。）有腹滿無塊，時作腸鳴，小溲短而大便自利者，為蓄水。（豬苓湯合六一散加白通草。）有清下太過，胸滿不餓，脈遲溲清，而下利清穀者，為虛。（六君子湯加熟地炭、炮薑炭，或桃花粥主之，或清下後，但大便溏甚、一日三四行、脈仍數者，宜吳氏一甲煎法。）</p>
<p>均是大便不通也。溫邪上三日，身熱惡寒，大便雖結，未可下也。（下之必使結胸。）有煩渴譫語，舌黃黑，腹微痛者，為里。（涼膈散加減。）有熱久耗劫津液，燥結難下，脈數無力。神虛舌乾，不下則結糞不通，下之恐元氣不繼，以補中寓泄法酌用。（陶氏黃龍湯，或先投承氣湯以攻邪，次進復脈湯加人參以補正，但補劑須要用得不早不晏，自然有利無害，若補速則攻者不攻，補緩則補者不補，吾輩宜慎之。）有六七日大便不解者，其人素有陰虧遺精，必舌赤有巢，腰間疼痛，為實中有虛。（增液湯加芒硝煎水，送下麻仁丸三錢，不下再加大黃。）有大便已解，越三四日而發熱，為餘邪復結，（仲景云：「其後發熱者，必大便復硬而少也。」）宜與增液潤下法。（增液湯不下，轉矢氣，再合調謂承氣法，此從仲景少與小承氣湯，探轉矢氣而知可攻之之意套出。）有大便解而未暢，日期又多，見出神虛懶言，煩躁不寐，時而冷汗欲脫者，為虛中有實，當先扶正，然後緩下之。（炙甘草湯加當歸、夜交藤、左牡蠣、浮小麥。俟虛汗已止，神虛漸振再於方中加麻仁丸，不下再加蔞貝，慎不可另用硝黃。按丹溪《格致餘論》云：「凡言治國者，多借醫為喻，仁者，斯言也。真氣民也。病邪盜賊也。或有盜賊，勢須剪除而後已。良相良將，必須審度兵餉之虛實，與時勢之可否，然後動之。涉輕妄，則吾民先困於盜，次困於兵，民困而國弱矣。」）有陽明胃實而用承氣，則燥屎已至廣腸。因肛門如錢，燥屎如拳，難以再攻者，或有胃虛腸燥，大便雖結而不可攻者，宜用外治法。（仲景蜜煎導、豬膽汁方酌用。）有汗多傷津液，即煩而大便硬，若本小便日三四行，今日再行者，不可攻之，以大便不久自下也。（仲景云：「小便數少，津液復還胃中，故知不久必大便也。」）</p>
<p>均是小便不利也。溫邪頭眩身熱而小便短者，為表。（清露飲加赤苓、豬苓。）有煩渴脈洪而小便不利者，為熱。（吳氏冬地三黃湯加減。）有煩躁譫語，脈實，二便不通者，為實。（先通大便，燥糞一解，則小溲自行，勿用利品。）有汗下後，唯小便不利者，陰不足也。（腎司二便，腎陰虛故小便難。為虛。炙甘草湯加龜板，不可用五苓、八正輩。）</p>
<p>均是溲色也。溫邪由黃而赤，（自表入里。）由赤而黑，（熱入血分，蓄血則黑。）初起身熱咳嗽，惡風溲赤者，為表。（清露飲加減。）有壯熱煩躁，肢厥，（熱厥。）便秘溲赤者，為里。（白虎湯加大黃、枳實。）有少腹滿，煩渴囈語，而小溲黑者，為熱與蓄血。（犀角地黃湯加大黃、桃仁、澤蘭。）有汗下清涼太過，表裡無邪，但腹痛泄瀉，小溲黃而不濁不熱者，為脾腎虛。（附子理中湯或加熟地炭。）</p>
<p>均是齒燥也。溫邪由肺傳胃，致身熱舌乾，口渴齒燥者，為熱。（白虎湯加生地。）有壯熱口渴不飲，齒燥如煤，便閉溲短者，為實。（大承氣湯加犀角、生地。）有汗下後，時熱時止，咽乾起燥，齒黑少津者，此腎水漸涸，虛火煎熬也，為陰虛。（三才湯加減。）有清利後，真元受傷，不能生脾土，致腹痛便溏，小溲清暢，齒黑而潤，脈沉遲者，為陽虛。（附子理中湯加減。）</p>
<p>均是遺尿也。溫邪煩躁，神糊譫語而遺尿者，為熱。（白虎湯合導赤散。）有內閉及虛甚，而遺尿者，為不治。</p>
<p>均是譫語也。（熱蒸心胞。）溫邪脈洪，身熱而譫語者，屬經（肺心胞二經，熱由肺傳胞，尚未離肺。）兼表。（清露飲加麥冬、益元散。）有身熱大汗大渴，脈洪而譫語，舌黃者，為胃熱。（白虎湯加連心連翹、連心麥冬，切不可用菖蒲、鬱金、犀角引邪入內。）有腹痛拒按，舌黃黑生刺，脈實大而譫語者，為胃實。（仲景云：「胃中燥，大便必硬，硬則譫語也」，犀角地黃合調胃承氣湯加減，以雪水煎之。）有身熱不渴，舌黑無津，譫語脈數者，為欲閉。（無津者，火極也；色黑者，水虧也。復陰為主，宜治犀角地黃湯、清營湯加減，兼服牛黃清心丸、至寶丹。）有汗下後，二便清利，胸腹無阻，六脈虛數，而譫語者，乃陰陽雙虛，神無所依，（心為嬰兒，腎為奼女，脾為黃婆。今汗下後而譫語者，必惡響聲，臥不安，序是黃婆不媒嬰奼，而心腎失既濟之權，宜用媒合黃婆，以交嬰奼法，誤用犀角、黃連及開竅諸品必危。）為虛。（心虛者，必心悸不寐，開目閉目，自覺見鬼見神，宜復脈湯加人參真金箔煎水送天王補心丹三錢；脾虛者，必面色痿黃，四肢倦怠不欲飲食，宜復脈湯煎送歸脾丸三錢；腎虛者，必耳聾不寐，舌有紅巢，宜復脈湯加元武版、左牡蠣，煎湯送磁朱丸二三錢。按溫病諸書，從無神虛譫語條列。元歷症以來，唯溫病最多，每見清下後，而見斯症者，即以此方加味，投之其效甚速，故錄之以質高明。）更有少腹痛，大便黑，脈澀而譫語者，為蓄血。（桃仁承氣去桂枝加丹皮、丹參、澤蘭。）別有濕溫，心胸痛拒按，脈弦滑，痰涎搏結，其熱而譫語者，乃濕化痰熱而蒸心胞，為痰熱。（白虎合小陷胸加蘆根、滑石、竹茹。若大便閉者，或酌加礞石滾痰丸。）此舉濕溫一條，以明與上諸法微有不同，施治亦異。故醫者，貴乎同中求異，異中求同耳。</p>
<p>均是沉昏也。（沉昏者，熱入心臟也。當心胞傳心臟之時，言語多妄，然後之猶省人事也，至於入心臟，則全不省人事而沉昏矣。）溫邪戰汗後，未能脈靜身涼，亦不譫語而即沉昏者，此因平素體虧，經戰汗而邪內陷。（三甲復脈湯加人參，不可用開竅法。）有邪在心胞，失治而傳心臟者，必舌黑燥，齒焦鼻煤，目赤神昏，反不渴飲，循衣摸床，手指蠕動，謂之內閉，宜芳香開竅，以希萬一。（犀角地黃湯加羚羊角、真川連。另服紫雪丹，或服牛黃五分，少則無益。）有應下失下，邪氣上蒸心胞，由譫語以至沉昏者，必腹痛拒按，苔黃黑，脈沉有力，是為胃實。（大承氣湯加犀角、羚羊角，另服牛黃清心丸。）有汗下後，表裡無熱，胸腹無阻，二便自利，忽神清由倦而漸昏，由昏而漸沉，為大虛危候，急扶陰陽恐不逮矣。（復脈湯加揀人參三錢。）大抵沉昏三病，無論虛實，均是凶多吉少，須預防之。</p>
<p>均是痙厥也。溫邪七八日，神昏舌短，煩躁脈數，而痙厥者，為欲閉。（牛黃清心丸。）有痰糊譫語，舌灰脈數，臍腹脹痛而痙厥者，為里。（犀角地黃合承（氣）湯加羚羊角、鮮竹瀝。）有熱邪深入下焦，脈細而勁者，舌赤而干，且噦逆而痙厥者，為虛。（小定風珠方。）有熱邪久羈，吸爍真陰，陰虛舌絳，且水不涵木，脈虛弱而熱厥兼痙者，為陰虛之極。（大定風珠方。）</p>
<p>均是循衣摸床，兩手撮空也。溫邪煩躁，舌赤口渴而摸床者，為熱。甚則四肢實。（白虎湯加生地、黃連。）有煩躁舌黃，便閉而摸床者，為有熱有結也。（涼膈散加減。）有當下失下，以致神昏舌黑，而摸床撮空者，為邪氣內閉。（先服紫雪丹，如能神氣稍清，然後服牛黃承氣湯，否則不治。）</p>
<p>均是便血也。（熱傷陰經。）溫邪初起，身熱口渴惡風，而便鮮紅血者，為表。（清露飲加牛蒡子、薄荷、黃芩、地榆。）有壯熱，熱極煩渴譫語而便血者，為裡熱。（犀角地黃湯加赤芍、山梔。）有少腹欲痛，血色紫黯者，此因新邪觸動宿恙。（桃仁承氣去桂枝，加歸尾、赤芍、丹皮、地榆。）有邪熱已撤，下焦虛寒，寒則陰血凝滯，氣不能統，脈反濡小，而或便膿血者，為裡虛。（桃花湯主之。）</p>
<p>均是囊縮也。（熱入肝經。）溫邪心煩溲赤，少腹滿，不拒按，而囊縮者，為有熱無結。（導赤散加丹皮、宣木瓜。）有少腹滿而硬痛，溲赤便閉而囊縮者，為有熱有結。（桃仁承氣湯加減。）俟便解熱退，則囊自縱矣。夫囊縮時，身冷脈沉厥逆，與中寒同。但中寒陰莖萎縮，甚如婦人，溫邪陰莖如常，彼此各異。</p>
<p>均是身冷也。溫邪失下致譫語舌燥，腹滿便秘而身反冷，脈微者。（此熱厥也，不可急下。河間《傷寒醫鑑》云：「如失下，熱極以致身冷脈微，而昏冒將死，若急下之，則殘陰暴絕，陽氣後竭而立死」，宜涼膈散或黃連解毒湯，養陰退陽，但得蓄熱漸漸宣散，則心胸復暖，脈漸漸生，脈復有力，可以三一承氣湯微下之。）有用辛溫之劑，汗反不出，而熱轉入骨，外反身冷者，仲景所謂「寒在皮膚，熱在骨髓也」。（昔《集驗方》中載：一人身蓋數被而仍寒冷，醫知因時邪熱伏，陽極似陰，以石膏一斤煎透，與服一二碗而揭被一床，五六碗而數被皆去，再服則身壯熱，淋漓大汗，口渴脈數，後汗透脈靜身涼而安。若誤用桂附熱藥，必然不救。）有服寒涼藥太過，真陽幾息，肢厥身冷脈沉微者，此陽虛也。（四逆湯加味。）有戰汗後懶言語，身膚冷者，不可頻頻呼喚，一晝夜自然轉溫，若身冷而汗如珠如油，又為脫症，不治。二者何別？以轉溫之脈安靜，脫症之脈躁甚也。（詳葉氏《溫熱論》。）</p>
<p>均是呃逆也。溫邪熱結者，多非雜症，有寒熱虛實之別。若邪熱結聚上焦，致譫語舌黑，津液乾燥而呃者，宜養津液為主。（蚌水和梨汁救之，敝邑沙氏石安屢用之法。）有臍腹痛硬，便閉而呃者，宜下之。（增液承氣湯加減。）有下後病久，神氣漸糊，汗冷舌卷而呃者，為欲脫。（參附湯加味溫之。）大抵呃症，世有喜用丁香柿蒂散，及旋覆代赭石湯。豈知一為胃寒而設，一為下復胃虛而用，絕非溫病所宜用者。</p>
<p>均是吐蛔也。溫邪胃熱者，多非傷寒寒熱相雜，宜於表裡應症方中加烏梅、黃連以安之。切不可用川椒、乾薑及使君、雷丸辛熱之品。</p>
<p>均是熱入血室也。溫邪熱症，如婦女經水適斷，而受溫邪，以致脈數耳聾，乾嘔，煩渴，數日不解，邪焰發痙者為熱。（竹葉玉女煎。）有經水適來，因邪熱陷入，致為譫妄如狂，心煩飲冷，脈沉腹痛者，為實。（葉氏加減桃仁承氣湯。）有經期未至，被溫邪逼入血室，而經行未曾蓄聚，致神去八九，右脈虛數，暮微寒熱者，為虛。（復脈湯加人參。）</p>
<p>均是胎前也。溫邪最易傷胎，（如赤地千里，亢旱已極，而樹中之果，草上之蓏，未有不枯敗而墜落者。）至於表裡治法，俱同男子。若腹痛便閉譫語，脈實，宜承氣湯加減。不可謂有胎而忌用硝黃。（劉松峰云：「女子胎孕，古有懸鐘之喻，梁腐而鍾未有不落者。此症此時大黃逐邪，正所以保胎也。」）但拘於芩術為保胎之聖藥，觀有故無損亦無殞也。玩薛氏《醫經原旨》注中，則知此理矣。</p>
<p>均是產後也。雜病產後慎用苦寒，唯溫邪不然。至於表裡治同男子，如壯熱神昏渴飲脈數，宜用犀角、石膏甘寒之品，切不可以連翹、麥冬代之。（徐靈胎云：「產後臟腑如焚，經脈如沸是也。」）觀仲景《金匱》產後有竹皮大丸，則知用甘寒之道，大抵產後如無糧之師，利於速戰。《傳》云：「兵猶火也，不戰將自焚。」不可拘於產後只宜溫補也。</p>

<h2>十一、治諸病不驗，宜乎反求諸已</h2>
<p>醫者首貴識症，然後議方。如作文先明題目，然後下筆，從來得題竅者，不唯文佳且知後世能傳與否，而得症旨者，豈有不知方之中病與不中病耶？大醫至病家，於望聞問切，得其病原，當時對病家言明，此症是表，是里，是虛，是實，是寒，是熱，是易治，是難治，是緩治，是急治，是失治，是不治。然後議方，詳言服方後效則衰何病，不效則加何病，或明日不效，亦不增病者。（大症如江海之舟，不進便是退機。）甚至所用之方不效，明日須更高明者。（知之為知之，不知為不知，老子所謂「虛其心，實其腹」，經書所謂「滿招損，謙受益」是也。）徐氏所謂「命中也」，如所言符合，則仍須謹慎，所言不驗，則復從四診細察，是何處認錯，（不錯則驗，不驗則錯。若自不認錯，直是大錯。）未有不了如指掌者。古云：「為醫者，無諂，（上交無諂。）無驕，（下交不瀆。）無高亢，（亢龍有悔。）無勢利，（小人之態。）」可見學問之途，如泡茶然，初則色濃，其味厚，若後不添茶葉，而欲不至於清水者，安得乎？況易不恆其往，或承之，羞謂醫者能寄死生，不可無恆心也。</p>

<h2>十二、治溫病要知正面察死，對面知生總訣</h2>
<p>頭上𨷂者死；項筋舒展者死；面赤脈沉細者死；大顴發赤噦者死；白如擦殘汗粉者死；面黑皮毛焦枯者死；天庭黑者死；顴與髮際鼻梁黑者死；耳目口鼻黑色起者死；面無精彩，不受飲食者死；目直視，喘滿下痢者死；黑氣生魚尾，輦入太陽者死。</p>
<p>睛建不轉者死；目無精彩，牙齒黑者死；目精恍惚者死；目眶陷者死；目直視肩垂者死；目不開，熱不已者死；鼻如扇張者死。</p>
<p>唇白舌卷囊縮者死；唇吻焦者死；唇青體冷遺尿者死；唇口黑者死；唇青人中平滿者死；唇縮氣喘者死；唇反舌萎者死。</p>
<p>口張氣直出者死；口張脈絕者死；口目顫搖不止者死；口燥齒乾形脫者死。</p>
<p>齒黑而枯者死；齒長垢發枯者死。</p>
<p>津脫耳聾者死；耳聾笑狂者死；兩耳枯者死；耳輪枯薄而青而白而黑，為腎敗主死。</p>
<p>舌黑生刺，刮去底色紅生黑死；刮去又生者死；舌枯萎者死；舌爛熱不已者死；舌短硬者死；齧舌者死；餂舌者死；汗出不流，舌卷者死。</p>
<p>兩手撮空者死；數指者死；指甲白者死；手足指甲肉黑者死；爪枯毛折者死；足難屈伸者死；不能久立者死。</p>
<p>溫病虛甚者死；髓熱者死；熱而痙者死；譫語肢短者死；身體不仁者死；不能轉搖者死；四末不收者死；身熱喘急者死；屍臭及語死者死；體重尿不止者死；大肉陷下者死；大骨枯槁者死；婦人乳縮者死；臥床遺尿不覺者死；形肥脈細少氣者死；形瘦脈大多氣者死；背曲肩垂者死；毛孔生灰者死；病人不許治者死。</p>
<p>腹脹少氣者死；泄而腹滿甚者死；陽明太實，土剋水者死；老人嬰兒熱而腹滿者死。</p>
<p>口張，心絕者死；眼合，肝絕者死；手撮，脾絕者死；聲如鼾，肺絕者死；目盲遺尿，腎絕者死；眉傾，膽絕者死；腰重脊痛難轉，胃絕者死；髮直如麻．汗出不止，小腸絕者死；泄痢不休，大腸絕者死；指甲青或脫落，呼罵不止，筋絕者死；齒落、脈浮無根，骨絕者死。</p>
<p>舌腫、腳腫、便赤溺血，肉絕者死。</p>
<p>青如草色者死；黃如枳實者死；赤如衃血者死；白如枯骨者死；黑如煙煤者死；青如藍者死；黃如土者死；赤如赭者死；白如鹽者死；黑如地蒼漆柴者死。</p>
<p>眉發豎起者死；汗出脈躁者死；汗出發潤，喘甚者死；汗出如油者死；汗出如珠者死；汗不出，嘔下血者死；咳而衄汗不出，出不至足者死。</p>
<p>肉盡脫者死；火躁欲入水者死；吐血不止者死；呃逆珠汗者死；氣少不語者死；泄瀉不止者死；乍靜乍亂者死；循衣摸床者死；掣衣撮空者死；喘氣不便者死；陰脫者目盲，陽脫者見鬼，聲如拽鋸者死；失言不能言語者死；聲喑不出，寒厥不回，二便閉不通者死。</p>
<p>呼吸動搖者死；病在上焦吸促，病在下焦吸遲，皆難治；病在中焦吸數當下之，虛者死。</p>
<p>舌下脈青，舌及身冷子死；面青舌赤，母死子活；面赤舌青，母活子死；面舌俱青或俱白吐沫，母子皆死。</p>
<p>舌色潤則安，舌色敗則死。</p>
<p>兩動一止三四日，三四動止應六七，五六一止七八朝，脈不往來者死；脈懸絕者死；脈乍疏乍數者死；脈躁甚，戰而不得汗者死；尺脈絕者死。</p>

<h2>十三、治溫病要知病欲愈及可解症</h2>
<p>三部六脈等者，此為陰陽和平，雖劇當愈；熱症脈動數，服藥發汗出，脈靜者，為欲愈。三四日脈數更小，病人身溫和者，為欲解也；病人口大渴而為不渴者，欲解也；太陰症知可解者，為不惡熱、口渴、咳嗽及溲赤也。厥陰症知可解者，為不譫語神迷，舌黑及肢冷也；少陰症能解者，百中僅見一二；戰汗而解者，以本虛故，見日期未多，正尚能逐邪，故當汗出也；不戰而汗出而解，以本不虛，正逐邪出也；不戰不汗而解者，以曾發汗、或吐、或下、或亡血，以傷津液，待陰陽自和方愈也；病人天庭明亮者，欲解也；病人準頭、年壽、印堂有黃氣，明准者，病退而有喜兆也；凡病欲愈也，或七八日，或十三四日腹中轉氣，或欠或嚏，或思飲食，目眥黃而山根亮也；病人身能轉易者，為欲解也；小便自紅轉淡黃者，為欲解也；耳聾漸能聞者，為欲解也；下後神氣清者，為欲解也；二便如常，腹無阻滯，飲食漸復，精神漸振，當靜養心神，勿驟進肉食。《易經》所謂：「勿藥有喜也」。</p>

<h1>附：溫病辨症方</h1>

<h2>上焦諸方</h2>
<p>蔥豉湯　銀翹散　清露飲　六乙散　益元散　雞蘇散　加減瀉白散　葦莖湯　清心涼膈散　白虎湯　白虎加人參湯　加減玉女煎　竹葉石膏湯　化癍湯　雪梨漿　生脈散　五汁飲清宮湯　清營湯　犀角地黃湯　牛黃清心丸　局方至寶丹　至寶丹　紫雪丹　梔子豉湯　瓜蒂散　導赤散　葶藶大棗瀉肺湯　河間涼膈散　半夏瀉心湯　黃連湯　小陷胸湯　大陷胸湯　（共三十三方）</p>

<h2>中焦諸方</h2>
<p>梔子柏皮湯　梔子豉加甘草湯　梔子豉加薑汁湯　茵陳蒿湯　調胃承氣湯　小承氣湯　大承氣湯　陶氏黃龍湯　新加黃龍湯　宣白承氣湯　牛黃承氣湯　增液承氣湯　麻仁丸　增液湯　蜜煎導　豬膽汁方　益胃湯　豬苓湯　五苓湯　冬地三黃湯　（共二十方）</p>

<h2>下焦諸方</h2>
<p>黃芩湯　炙甘草湯　加減復脈湯　救逆湯一甲煎　三甲復脈湯　青蒿鱉甲湯　黃連阿膠湯　小定風珠　大定風珠　竹葉玉女煎　加減桃仁承氣湯　桃仁承氣湯　抵當湯　桃花湯　桃花粥　（共十六方）</p>

<h2>救逆諸方</h2>
<p>六味地黃湯　知柏地黃湯　三才湯　六君子湯　歸脾湯　天王補心丹　磁朱丸　小建中湯　理中湯　附子理中湯　千金溫脾湯　獨參湯　參附湯　四逆湯　人參四逆湯　白通加人尿加豬膽汁湯　通脈四逆加豬膽汁湯　金匱腎氣湯　（共十八湯）</p>
<p>上中下共計八十七方</p>

<h2>上焦諸方</h2>
<p><u>蔥豉湯</u>（葛洪《肘後方》）</p>
<p>蔥白（一握）　香豉（三錢）</p>
<p>上二味煎水服。</p>
<p><u>銀翹散</u></p>
<p>連翹（一兩）　銀花（一兩）　苦桔梗（六錢）　薄荷（六錢）竹葉（四錢）　生甘草（五錢）　芥穗（四錢）　豆豉（五錢）　牛蒡子（六錢）</p>
<p>上杵為散，每服六錢，鮮葦根湯煎，香氣大出即取服。重者日三服，夜一服；輕者日二服，夜一服。</p>
<p><u>清露飲</u>（自制）</p>
<p>連翹殼（二錢）　銀花露（八錢，兌服）　苦桔梗（一錢）苦杏仁（錢半，去皮尖）　生甘草（五分）　竹葉（六片）</p>
<p>上五味水煎，去渣，兌入銀花露溫服。</p>
<p>加減法：風溫，原方加薄荷八分，牛蒡子錢半；冬溫，原方去杏仁，加鮮北沙參二錢，麥冬三錢；若風溫溫熱、冬溫挾濕者，於本方再加蘆根一兩，滑石三錢；如濕溫，濕居二三，溫居六七，不可用燥濕，而宜淡滲者，亦可持此法以治之。其餘加減之法，散見各條，茲不復贅。</p>
<p><u>六乙散</u></p>
<p>滑石（六錢，水飛）　生甘草（一兩）</p>
<p>上為細末，新汲水一碗，調服三錢。</p>
<p><u>益元散</u></p>
<p>即六乙散加辰砂。</p>
<p><u>雞蘇散</u></p>
<p>即六乙散加薄荷。</p>
<p><u>加減瀉白散</u></p>
<p>桑白皮（一錢）　地骨皮（二錢）　冬瓜仁（四錢）　薏苡仁（三錢）　蘆根汁（八錢，兌服）　竹瀝（五分）</p>
<p>上六味水煎溫服。</p>
<p><u>葦莖湯</u></p>
<p>葦莖（二兩）　苡仁（八錢）　桃仁（三十五枚）　瓜瓣（八錢）</p>
<p>水五升，先煮葦莖煎得二升五，去渣，納諸藥煮取服。</p>
<p><u>清心涼膈散</u></p>
<p>連翹（四兩）　薄荷（一兩）　黃芩（一兩，酒炒）　山梔（一兩）　桔梗（一兩）　甘草（二兩）　竹葉（七片）</p>
<p>上藥服法見上。</p>
<p><u>白虎湯</u></p>
<p>石膏（一兩，綿裹）　知母（四錢）　甘草（一錢）　粳米（四錢）</p>
<p>上四味，水八杯煮取三杯，去渣溫服。</p>
<p><u>白虎加人參湯</u></p>
<p>即白虎湯內加人參一錢。</p>
<p>服法見上。</p>
<p><u>加減玉女煎</u></p>
<p>細生地（六錢）　元參（四錢）　石膏（三兩）　麥冬（六錢）白知母（四錢）</p>
<p>水八杯，煮取三杯，分二次服，渣再煮一杯服。</p>
<p><u>竹葉石膏湯</u></p>
<p>竹葉（廿片）　石膏（八錢）　麥冬（三錢）　人參（錢半）　半夏（二錢）　甘草（一錢）　粳米（四錢）</p>
<p>水八杯，煮取五杯，去渣，納粳米，煮米熟湯成，去米溫服。</p>
<p><u>化癍湯</u></p>
<p>石膏（一兩）　知母（四錢）　元參（三錢）　犀角（二錢）生甘草（二錢）　粳米（三錢）</p>
<p>水八杯，煮取三杯，日三服，渣再煮一杯，夜一服。</p>
<p><u>雪梨漿</u></p>
<p>甜水梨（一枚）</p>
<p>新汲涼水內浸半日，時時頻飲。</p>
<p><u>生脈散</u>（真人）</p>
<p>麥冬（三錢）　人參（三錢）　五味子（一錢）</p>
<p>上三味煎水服。</p>
<p><u>五汁飲</u></p>
<p>梨汁　荸薺汁　鮮葦根汁　麥冬汁　藕汁（或用蔗漿）</p>
<p>臨時斟酌多少，和勻涼服，不喜涼者，重湯燉溫服。</p>
<p><u>清宮湯</u></p>
<p>元參心（三錢）　蓮子心（五分）　竹葉捲心（二錢）　連翹心（二錢）　犀角尖（磨沖，二錢）　連心麥冬（三錢）</p>
<p>水五杯，煮取三杯，分溫再服。加減法，詳《溫病條辨》。</p>
<p><u>清營湯</u></p>
<p>犀角（三錢）　生地（五錢）　元參（三錢）　竹葉芯（一錢）銀花（三錢）　麥冬（三錢）　丹參（三錢）　黃連（錢半）　連心麥冬（二錢）</p>
<p>水八杯，煮取三杯，日三服。</p>
<p><u>犀角地黃湯</u></p>
<p>犀角（三錢，磨沖）　乾地黃（一兩）　丹皮（三錢）　白芍（三錢）</p>
<p>水五杯，煮取二杯，分二次服，渣再煮一杯服。</p>
<p><u>牛黃清心丸</u></p>
<p>西牛黃（一兩）　鬱金（一兩）　黃連（一兩）　黃芩（一兩）　犀角（一兩）　硃砂（一兩）　梅片（二錢五分）　麝香（二錢五分）　珍珠（五錢）　山梔（一兩）　雄黃（一兩）　金箔衣</p>
<p>上為極細末，煉老蜜為丸，每丸一錢，金箔為衣，蠟護。</p>
<p>脈虛者，人參湯下；脈實者，銀花、薄荷湯下，每服一丸。</p>
<p><u>局方至寶丹</u></p>
<p>犀角（一兩鎊）　硃砂（一兩飛）　琥珀（一兩研）　玳瑁（一兩鎊）　牛黃（五錢）　麝香（五錢）</p>
<p>以安息香重湯燉化，和諸藥為丸，一百丸，蠟護。</p>
<p><u>至寶丹</u></p>
<p>生烏犀角（一兩）　生玳瑁（一兩）　琥珀（一兩）　西牛黃（五錢）　鏡面硃砂（一兩，研飛）　安息香（一兩五錢為末，酒研飛淨一兩，熬膏用水安息尤妙）　雄黃（一兩，研飛）龍腦（一錢，研）　麝香（一錢，研）　金箔（五十片）　銀箔（五十片，研為細末）</p>
<p>將犀、玳為細末，入余藥研勻，將安息香膏重湯煮，凝成後，入諸藥中和搜成劑，丸如梧子大，蠟護。臨服剖用，人參湯化下，三丸至五丸。</p>
<p><u>紫雪丹</u></p>
<p>黃金（一百兩，徐云：「以飛金一萬葉代之。」）　磁石石膏　寒水石　滑石（各三斤）</p>
<p>以上並搗碎，用水一斛，煮至四斗，去渣入下藥：羚羊角屑、犀角屑、青木香各五斤，丁香一兩，沉香五斤，元參、升麻各一斤，甘草八兩，炙。以上八前藥汁中，再煮取一斗五升，去渣，再入下藥：朴硝十斤，硝石四斤（徐云：「二硝太多，宜用十分之一。」）二味入前藥汁中，微火上煎，柳木篾欖不住，俟有七升，投在水盆中半日，欲凝，入下藥：硃砂三兩，麝香當門子一兩二錢五分。二味入前藥中，攪調令勻，瓷器收藏，藥成霜雪而色紫，新汲水調。</p>
<p><u>梔子豉湯</u></p>
<p>梔子（五七枚，生用）　香豉（四錢，綿裹）</p>
<p>水四杯，先煮梔子數沸，後納香豉，煮取二杯，先溫服一杯，得吐，止後服。</p>
<p><u>瓜蒂散</u></p>
<p>瓜蒂（一分，炒黃）　赤小豆（一分）　豆豉（一撮）</p>
<p>上二味各別杵為散，已合治之，取三錢以豆豉一撮，用熱湯一杯煮，去渣取汁和散，溫燉服之。</p>
<p><u>導赤散</u>（錢乙）</p>
<p>大生地（四錢）　木通（錢半）　竹葉（四片）　甘草梢（一錢）</p>
<p>上四味水煎服。</p>
<p><u>葶藶大棗瀉肺湯</u></p>
<p>葶藶（二錢）　大棗（十二枚）</p>
<p>水三杯，煮棗，取二杯，去棗，納葶藶，煮一杯，頓服。</p>
<p><u>河間涼膈散</u></p>
<p>連翹（四兩）　大棗（酒浸）　芒硝（各二兩）　黃芩（酒炒，一兩）　甘草（二兩）　薄荷　山梔（各二兩）　竹葉</p>
<p>為粗末，每服三五錢，加竹葉七片，水一碗半，煎一碗，去渣，入生白蜜一匙，微煎，溫服。</p>
<p><u>半夏瀉心湯</u></p>
<p>半夏（三錢）　黃芩（二錢）　黃連（七分）　人參（二錢）甘草（二錢）　乾薑（二錢）　大棗（四枚）</p>
<p>水八杯，煮取五杯，去渣，再煎取三杯，溫服。</p>
<p><u>黃連湯</u></p>
<p>黃連（錢半）　桂枝（錢半，去皮）　甘草（錢半，炙）　乾薑（錢半）　人參（七分）　半夏（錢半）　大棗（四枚）</p>
<p>水八杯，煮取四杯，去渣，溫服。</p>
<p><u>小陷胸湯</u></p>
<p>栝蔞實（三錢）　黃連（六錢）　半夏（二錢，洗）</p>
<p>水六杯，先煎栝蔞，取三杯，去渣，納諸藥，取一杯，去渣，溫服。</p>
<p><u>大陷胸湯</u></p>
<p>大黃（六錢，去皮）　芒硝（一錢）　甘遂末（三分）</p>
<p>上三味，以水六杯，先煎大黃，取二杯，去渣，納芒硝煮一二沸，納甘遂末，溫服。</p>

<h2>中焦諸方</h2>
<p><u>梔子柏皮湯</u></p>
<p>梔子（六錢）　甘草（一錢）　黃柏（一錢）</p>
<p>水四杯，煮取杯半，去渣，溫服。</p>
<p><u>梔子豉加甘草湯</u></p>
<p>即梔子豉湯加甘草二錢。</p>
<p><u>梔子豉加薑汁湯</u></p>
<p>即梔子豉湯加生薑五錢。</p>
<p><u>茵陳蒿湯</u></p>
<p>茵陳蒿（四錢）　大黃（一錢五分，去皮）　梔子（三個）</p>
<p>水八杯，先煎茵陳，取五杯，納二味，煎取三杯，溫服。</p>
<p><u>調胃承氣湯</u></p>
<p>大黃（二錢，酒浸）　甘草（一錢）　芒硝（錢半）</p>
<p>水三杯，煮取一杯，去渣，納芒硝，更上火微煮，令沸，溫服。</p>
<p><u>小承氣湯</u></p>
<p>大黃（二錢）　厚朴（八分）　枳實（錢半）</p>
<p>上三味，以水四杯，煮取杯半，去渣，溫服。</p>
<p><u>大承氣湯</u></p>
<p>大黃（四錢，酒洗）　厚朴（錢半，炙）　枳實（二錢）　芒硝（三錢）</p>
<p>上四味，以水八杯，先煮枳、樸，取四杯，去渣，內大黃，煮取二杯，去渣，內芒硝，更上微火一兩沸，溫服。</p>
<p><u>陶氏黃龍湯</u></p>
<p>大黃（三錢）　芒硝（二錢）　厚朴（一錢五分）　枳實（一錢）　甘草（一錢）　人參（一錢五分）　當歸（二錢）</p>
<p>上藥水煎，溫服。</p>
<p><u>新加黃龍湯</u></p>
<p>細生地（五錢）　人參（錢半，另煎）　芒硝（一錢）　元參（五錢）　生大黃（五錢）　麥冬（五錢，連心）　當歸（錢半）海參（二條，洗）　生甘草（二錢）　薑汁（六匙）</p>
<p>水八杯，煮取三杯，先用一杯，沖參汁五分，薑汁二匙，頻服之，得便止後服，酌服益胃湯一劑。</p>
<p><u>宣白承氣湯</u></p>
<p>生石膏（五錢）　生大黃（五錢）　杏仁粉（二錢）　栝蔞皮（一錢五分）</p>
<p>水五杯，煮取二杯，先服一杯，不知再服。</p>
<p><u>牛黃承氣湯</u></p>
<p>即以安宮牛黃丸二丸，化開，納生大黃末三錢，先服一杯，不知再服。</p>
<p><u>增液承氣湯</u></p>
<p>即增液湯內加大黃三錢，芒硝錢半。</p>
<p>水八杯，煮取三杯，先服一杯，不知再服。</p>
<p><u>麻仁丸</u></p>
<p>麻仁（二兩）　芍藥（五錢）　枳實（五錢）　大黃（一兩，去皮）　厚朴（一兩，炙，去皮）　杏仁（一兩，去皮尖）</p>
<p>上六味為末，煉蜜為丸，如梧子大，飲服十丸，（漸加，以知為度。）</p>
<p><u>增液湯</u></p>
<p>元參（一兩）　麥冬（八錢，連心）　細生地（八錢）</p>
<p>水八杯，煮取三杯，口乾則與飲，令盡，不便，再作服。</p>
<p><u>蜜煎導</u></p>
<p>白蜜（四兩）</p>
<p>一味於銅器內，微火煎之，待凝如飴糖狀，攪之勿令焦著，欲可丸，並手捻作挺，令頭銳大如指，長二寸許，當熱時急作，冷則硬，以納穀道中，以手急抱，欲大便時乃去之。</p>
<p><u>豬膽汁方</u></p>
<p>豬膽汁（一個）</p>
<p>瀉汁和醋少許，以灌穀道中，如一食傾，當大便也，宿食惡物甚效。</p>
<p><u>益胃湯</u></p>
<p>沙參（三錢）　麥冬（三錢）　細生地（五錢）　玉竹（錢半，炒香）　冰糖（一錢）</p>
<p>水五杯，煮取二杯，分兩次服，渣再煮一杯服。</p>
<p><u>豬苓湯</u></p>
<p>豬苓（七分）　茯苓（七分）　阿膠（七分）　滑石（七分）　澤瀉（七分）</p>
<p>水四杯，先煮四味至二杯，去渣，納阿膠烊消，溫服。</p>
<p><u>五苓湯</u></p>
<p>豬苓（十八銖，去皮）　茯苓（十八銖）　澤瀉（一兩去銖）　白朮（十八銖）　桂枝（五錢，去皮）</p>
<p>上五味，搗為末，以白飲和服錢半，日服三匙。</p>
<p><u>冬地三黃湯</u></p>
<p>麥冬（八錢）　黃連（一錢）　黃芩（一錢）　黃柏（一錢）　葦根汁（半杯，沖）　北沙參（四錢）　銀花露（半杯，沖）　細生地（四錢）　生甘草（五分）</p>
<p>水八杯，煮取三杯，分三次服，以小便得利為度。</p>

<h2>下焦諸方</h2>
<p><u>黃芩湯</u></p>
<p>黃芩（二錢）　芍藥（一錢五分）　甘草（一錢，炙）　大棗（四個）</p>
<p>水八杯，煮取三杯，去渣，溫服。</p>
<p><u>炙甘草湯</u></p>
<p>炙甘草（二錢）　桂枝（錢半）　人參（一錢）　生薑（錢半）　生地黃（八錢）　麥冬（三錢）　麻仁（錢半）　阿膠（二錢）　大棗（四個）</p>
<p>上九味，以清酒六杯，先煎八味，取三杯，去渣，內膠烊消盡，溫服。</p>
<p><u>加減復脈湯</u>（葉天士）</p>
<p>炙甘草（二錢）　阿膠（三錢）　麥冬（三錢）　麻仁（五錢）　生白芍（四錢）　炒生地（八錢）</p>
<p>用甘蔗汁煎　上藥，入甘蔗汁四兩，煎服。</p>
<p><u>救逆湯</u></p>
<p>乾地黃　甘草（各六錢，炙）　白芍（六錢）　生麥冬（五錢，連心）　生龍骨（四錢）　生牡蠣（八錢）　阿膠（三錢）</p>
<p>水八杯，煮三杯，分三次服。</p>
<p><u>一甲煎</u></p>
<p>生牡蠣（二兩，碾細）</p>
<p>水八杯，煮取三杯，分溫三服。</p>
<p><u>三甲復脈湯</u></p>
<p>炙甘草（六錢）　白芍（六錢，生）　麥冬（五錢，連心）阿膠（一錢）　乾地黃（六錢）　麻仁（三錢）　牡蠣（五錢，生）鱉甲（八錢，生）　生龜板（一兩）</p>
<p>水八杯，煮取三杯，分三次服。</p>
<p><u>青蒿鱉甲湯</u></p>
<p>青蒿（二錢）　鱉甲（五錢）　細生地（四錢）　知母（一錢）　丹皮（三錢）</p>
<p>水五杯，煮取三杯，日再服。</p>
<p><u>黃連阿膠湯</u></p>
<p>黃連（二錢）　黃芩（七分）　芍藥（一錢五分）　阿膠（二錢）　雞子黃（一枚）</p>
<p>水六杯，先煎三物，至二杯，去渣，納膠烊盡，少冷；納雞子黃，攪令相得，溫服。</p>
<p><u>小定風珠</u></p>
<p>雞子黃（一枚，去皮）　真阿膠（一錢）　生龜板（六錢）　淡菜（三錢）　童便（一杯）</p>
<p>水五杯，先煮龜板，淡菜得二杯，去渣，入阿膠上火烊化，納雞子黃，攪令相得，再衝童便，頻服。</p>
<p><u>大定風珠</u></p>
<p>白芍（六錢，生）　阿膠（二錢）　生龜板（四錢）　麻仁（三錢）　麥冬（六錢，連心）　甘草（四錢，炙）　乾地黃（六錢）　鱉甲（四錢）　牡蠣（四錢，生）　五味（二錢）　雞子黃（二枚，生）</p>
<p>水八杯，煮至三杯，去渣，再入雞子黃，攪令相得，分三次服。</p>
<p><u>竹葉玉女煎</u></p>
<p>即玉女煎加竹葉（一錢）</p>
<p>水五杯，煎三杯，分溫再服。</p>
<p><u>加減桃仁承氣湯</u></p>
<p>大黃（三錢，制）　桃仁（五錢，炒）　細生地（六兩）　丹皮（四錢）　澤蘭（二錢）　人中白（二錢）</p>
<p>水八杯，煎取三杯，先服一杯，飲六時得下黑血，下後神清，渴減，止後服。不知再進。</p>
<p><u>桃仁承氣湯</u></p>
<p>桃仁（十六個，去皮）　桂枝（二錢，去皮）　大黃（四錢，去皮）　芒硝（一錢）　甘草（二錢）</p>
<p>水六杯，煮取二杯，去渣，［內］（納）芒硝，更上火，微沸，溫服。</p>
<p><u>抵當湯</u></p>
<p>水蛭（十個，熬）　虻蟲（十個，去翅足，熬）　桃仁（十個，去皮尖）　大黃（二錢，去皮，酒浸）</p>
<p>上四味，挫為麻豆，以水五杯，煮取三杯，去渣，溫服。</p>
<p><u>桃花湯</u></p>
<p>赤石脂（一兩六錢半，篩末）　乾薑（一錢）　粳米（四錢）</p>
<p>水四杯，煎二杯，入赤石脂末方寸匕，分二服，一服愈，余勿服。</p>
<p><u>桃花粥</u></p>
<p>人參（二錢）　炙甘草（三錢）　赤石脂（六錢，研末）白粳米（二合）</p>
<p>水十杯，先煮參草，得六杯，去渣，再入粳米，煮得三杯，納石脂末三錢，頻服之，利不止，再服第二杯，如上法，利止停後服，或先因過用寒涼，脈不數身不熱者，加乾薑二錢。</p>

<h2>救逆諸方</h2>
<p><u>六味地黃湯</u></p>
<p>大熟地（八錢）　丹皮　澤瀉　茯苓（各三錢）　懷山藥　萸肉（各三錢）</p>
<p>水煎服。</p>
<p><u>知柏地黃湯</u></p>
<p>即六味地黃加黃柏一錢，知母三錢　水煎服。</p>
<p><u>三才湯</u></p>
<p>人參（三錢）　天冬（二錢）　乾地黃（八錢）</p>
<p>上三味，水煎溫服。</p>
<p><u>六君子湯</u></p>
<p>人參　白朮各（三錢，土炒）　陳皮（一錢）　半夏（錢半）</p>
<p>薑棗煎。</p>
<p><u>歸脾湯</u></p>
<p>人參（二錢）　黃耆（錢半，炙）　白朮（土炒）　龍眼肉（各三錢）　茯神（二錢）　遠志　當歸（各錢半，酒炒）　酸棗仁（二錢，炒）　木香（五分）　炙草（五分）</p>
<p>薑棗煎。</p>
<p><u>天王補心丹</u></p>
<p>生地黃（四兩，酒洗）　當歸（一兩，酒洗）　麥冬（四兩，炒）　天冬（一兩，炒）　酸棗仁（一兩，酒洗）　遠志（五錢，炒）　人參（五錢）　元參（五錢，炒）　柏子仁（一兩，炒研）　丹參（五錢，炒）　茯苓（五錢，炒）　桔梗（五錢，炒）　五味子（一兩，炒）</p>
<p>蜜丸彈子大，硃砂為衣，臨臥燈芯湯下一丸。</p>
<p><u>磁朱丸</u></p>
<p>磁石（二兩）　硃砂（一兩）　六神麯（三兩，生研）</p>
<p>共研末，另以六神麯一兩，水和作餅，煮浮，入前藥，加煉蜜為丸，如麻子大，沸湯下二錢。</p>
<p><u>小建中湯</u></p>
<p>芍藥（四錢）　甘草（二錢，炙）　桂枝（二錢，去皮）　生薑（錢半）　大棗（四枚）　膠飴（三錢，後入）</p>
<p>水六杯，煮取三杯，去渣，納飴糖，更上微火，消解。</p>
<p><u>理中湯</u></p>
<p>人參（二錢）　甘草（二錢，炙）　白朮（二錢）　乾薑（一錢）</p>
<p>水五杯，煮取二杯，去渣，溫服。</p>
<p><u>附子理中湯</u></p>
<p>即理中湯加附子二錢，服法見上。</p>
<p><u>千金溫脾湯</u></p>
<p>人參（一錢）　附子（五分）　乾薑（錢半）</p>
<p>上藥水煎溫服。</p>
<p><u>獨參湯</u></p>
<p>人參（分兩隨症加減）</p>
<p>上一味，須上揀者，濃煎，頻服，待元氣漸回，隨症加減。此一時急救之法，服後即當隨症用藥。</p>
<p><u>參附湯</u></p>
<p>人參（三兩）　附子（五錢，制）</p>
<p>上加薑棗，水煎服。</p>
<p><u>四逆湯</u></p>
<p>甘草（二錢）　乾薑（錢半）　附子（六錢，生用）</p>
<p>上三味，以水三杯，煮杯半，去渣，溫服。</p>
<p><u>人參四逆湯</u></p>
<p>即四逆湯加人參二錢，以附減至一錢生用，服法見上。</p>
<p><u>白通加人尿加豬膽汁湯</u></p>
<p>乾薑（二錢）　附子（二錢，生，去皮）　蔥白（二莖）　人尿（十五茶匙）　豬膽汁（七茶匙）</p>
<p>上藥煎相得溫服。</p>
<p><u>通脈四逆加豬膽汁湯</u></p>
<p>甘草（二錢）　乾薑（三錢）　附子（一錢，生，去皮）　蔥白（二莖長寸半）　豬膽汁（九茶匙）</p>
<p>服法見上，煎成入豬膽汁，溫服。</p>
<p><u>金匱腎氣湯</u></p>
<p>乾地黃（八錢）　山藥（四錢）　山萸（四錢）　茯苓　澤瀉　丹皮（各三錢）　附子（三錢，炮）　桂枝（一錢）</p>
<p>上藥水煎溫服。</p>
