<header data-type="book">
<h1>集喉症諸方</h1>
</header>

<h1>敘</h1>
<p>咸、同以來，白喉證遍南北各直省，前此無有也。考諸書亦不載白喉名目。醫者立方施治，既以其治驗者刊行寓內矣。然喉風一證，為前此所當有者，猶時時雜出於其間。治不如法，禍與白喉略等，則喉風方劑，焉可偏廢也？</p>
<p>先大父惺溪公守滇南時，嘗錄有《集喉證諸方》一書，區喉風為三十六種，證治具備。而其紫地散、角藥兩方尤神驗。自元官京師時嘗患此，依方治療，一服立差，因舉示子季。子季喜其方之驗，而又惜世之無傳本也，鋟板以公諸世，屬自元序之。自元惟喉風治療之法散見於方書者多矣，顧未有枚舉類聚如是書者，矧其方之神驗若此乎？抑書中魚鱗風一證，以自元度之，當即白喉所見端，特曩日統於喉證，不別立白喉名目耳。前此果無白喉乎？操活人術者，苟參稽夫源流之同異，而詳究乎針石湯液之所宜，觸類引伸於白喉，似不無裨補，豈第喉風雲爾哉？</p>
<p><u>光緒十四年歲次戊子孟夏安化黃自元序於寧夏官廨</u></p>

<h1>喉風三十六症</h1>

<h2>鬥底風</h2>
<p>無論男婦，齶下生痰者，初時過湯水者可治。先用角藥入摩風膏少許，井水調噙，取痰，次開風路針，三用冰硼散，四用柴地散。如病極緊急，過水不得，通身作痛，不能睡臥，胸前赤腫，如吐痰後不退者，百無一生。此症初起吞噬不下，但胸前赤腫，漸至結喉，一時難安，要用破皮針針胸前青筋，凡有此症，便見青筋。欲識人生鬥底風，心胸腫處十分紅，更加痰在咽喉內，重藥無功命必終。</p>

<h2>又喉風</h2>
<p>無論男婦，喉頭生疾者，極為急症，初起咽喉作緊風痰上壅，多有痰涎，內緊外浮，不能飲食，漸至咽喉緊閉如又又住，即是鎖喉急症，若一二日不知醫者，多至不治，宜先用冰硼散開竅，次用風路針，三用摩風膏少許和角藥，井水噙，取痰，並用角藥調敷頸外浮腫處，四用紫地散，如病勢已不能開關者，不治。此症初起，喉間作緊，漸次內外皆腫，頭亦浮大，咽關漸鎖，最宜急治，遲則莫救，又喉之症最為殃，遲了三時命不長，初起若能依法治，管教立刻進茶湯。</p>

<h2>咽瘡風</h2>
<p>無論男婦，咽喉生痰，滿口生物，或黃，或紅，或白，先用角藥，次用開路針，三用紫地散，四用冰硼散，即效。此症生在咽喉間，初起紅黃漸至黑色，不能吞嚥，日久滿喉，惟風熱成症者可治，若內傷咳嗽而成者不治。咽瘡此症不為良，黃爛之時作禍殃，角藥頻施無退步，必然一變嘆黃梁。</p>

<h2>魚鱗風</h2>
<p>無論男婦生帝中之下，與松子風相似，但微腫，初起白點，日久白點成鱗，其鱗向下者是。先用冰硼散，次用風路針，三用紫地散，四用角藥加摩風膏，用開關散，此症治與雙松同，帝中即俗呼小舌。此症初起未成鱗者尚可治，若已成鱗，則飲食到喉即刻嘔吐，為不治之症。若內傷咳嗽，萬無一治。喉間息爾患魚鱗，祗恐醫家看不真，若假認真求愈易，必須針藥用頻頻。</p>

<h2>雙松子風</h2>
<p>無論男婦，初生喉下紅紫如粟谷大，逐時脹大，起鱗向上者是。漸長如綠豆大，有似松子一樣，若至黃皮裹住，或如蓮子大，便不治矣。先用紫地散、銀鎖匙、開關散，次用風路針，三用冰硼散，四用角藥加摩風膏，井水調噙，取痰，此症險而難治，治與魚鱗風同。此症生在靠帝中下邊，兩邊紅腫，二三日外轉紅黃色，即恐成鱗，向上不可用刀。松子風生喉齶中，逐時長大起鱗紅，莫言善症應難治，隨即痊時隨即功。</p>

<h2>單松子風</h2>
<p>無論男婦，喉齶下一邊生，治與雙松子同。此症生在靠帝中下，一邊紅腫者是。左屬心，右屬肺，不可用刀。</p>

<h2>帝中風</h2>
<p>無論男婦，帝中腫大，生痰作痛，不能飲食，先用角藥取痰，次開風路針，三用冰硼散，四用紫地散，如帝中黑爛者，一時難治，切不可用刀。此症帝中紅腫，日久漸長出來，不能吞嚥，竟有帝中長出寸許，攔腰爛去半截，仍為無害，只須依法治之自效。時人忽患旁中風，角藥頻施自有功，若遇庸醫無見識，針刀誤用命隨終。</p>

<h2>雙蛾風</h2>
<p>無論男婦，喉間生兩枚癤毒，生在兩邊不可用刀，先要用角藥入摩風膏少許，井水調勻，用鵝羽挑入喉間癤毒上，令病人閉口噙良久，滿口痰來，吐痰後如癤毒似蓮子樣，用消蘆散加江子七粒，去殼打碎，熏患處，如熏破後，只用二味散。如癤毒似紙面，仍吐痰後只用三味散藥吹之，不必用江子；次開風路針，後用紫地散，自然效驗。此症生在帝中兩邊，二花相對即是。乳蛾紅腫在喉間，必欲求痊亦等閒，角藥頻施兼服藥，病人頃刻改愁顏。</p>

<h2>單蛾風</h2>
<p>無論男婦，喉頭一邊生癤毒者是即，如蓮子樣，治與雙蛾法同，如未起尖，只用三味散，吹痰後用紫地散，自效。此症生在帝中一邊，左屬心。右屬肺，依法治之，不可用刀。</p>

<h2>雙咽口風</h2>
<p>無論男婦，舌根頭兩邊或在上齶兩邊，左右俱有。腫上舌來不能吞嚥，先用角藥取痰，次和風路針，三用冰硼散，不能內消者，可用破皮刀出血。此症生在帝中上兩邊，亦腫連舌頭，痛不能吞嚥，用刀之法，宜靠兩邊腫處，上齶中間切不可用刀。赤腫兩邊名咽口，須知飲食不能餐，若人識得針刀法，功效隨收定不難。</p>

<h2>單咽口風</h2>
<p>無論男婦，舌根頭一邊生，腫上舌來不能飲食，治法與雙咽同。此症或在左或在右，一邊有者是，治與雙咽口同。</p>

<h2>重齶風</h2>
<p>無論男婦，齶下赤腫生痰者，中間不可用刀，先用角藥取痰，次用風路針，三用冰硼散，四用紫地散。如或口眼耳鼻中有一處出濃血者，此是病已久，致七孔相穿之腐爛，即為不治。此症生在上齶帝中之上位，紅腫不能吞嚥為重症，可治以藥，內消為妙，如不能內消，直腫至牙床邊，可用破皮刀出血。若上齶中間乃七孔相穿之處，切不可用刀。口內生瘡上齶浮，若兼時氣又須愁，竅中有一流濃血，縱遇盧醫也不瘳。</p>

<h2>木舌風</h2>
<p>無論男婦，舌頭腫痛生痰，先用角藥，次用冰硼散，三用紫地湯，此症舌頭紅腫不能轉動，不能返送飲食，可用破皮刀於舌之下、弦兩邊，無筋方可用刀。口中舌表生紅腫，便是沾來木舌風；大底要痊多下藥，管教消腫見奇功。</p>

<h2>重舌風</h2>
<p>無論男婦，舌尖底下又生一舌，漸比正舌猶長，以致正舌不能轉動，先用角藥取痰，次用冰硼散，三用紫地湯。可用破皮刀按舌邊下弦，先破一邊，如不效，又破一邊。重舌之風亦不祥，或生左右或中間，醫家識得斯等症，便使針刀割不妨。</p>

<h2>坐舌蓮花風</h2>
<p>無論男婦，舌下浮腫生痰，初生二三片，漸至五片，有瓣似蓮花，兩邊尖瓣可用刀，中間一尖者不可用刀，先用角藥，次用冰硼散，三用紫地湯，症甚者外用氣針，自易見效。此張開大口舌舐上齶症，凡人舌下中俱有一筋直連上下，所以不可用刀，先用角藥，若誤傷筋則殺人矣。坐舌蓮花六七尖，也知多少世人痁；莫言此症尋常病。日久之時最可嫌。</p>

<h2>合架風</h2>
<p>無論男婦，兩牙鉤合之處生出，紅核腫痛，牙關緊者，不能開口，先用角藥，次用冰硼散，針頰車二穴，三紫地湯，可用消盧散熏之見效。此症生在上下牙床根合縫之處，可用破皮刀刺腫處見效。合架風生齒盡頭，牙關緊閉痛難休，醫人不識針刀法，此症如何便得瘳。</p>

<h2>角架風</h2>
<p>無論男婦，上牙床盡根處生毒浮腫，以致口之開閉皆不能，兩齒不合，難於咀嚼。有初起一邊延過第二邊生者，治法與合架風同。此症患處紅赤腫滿，可用破皮刀刺腫處，效。風名角架不為佳，腫痛之時角藥諧，此是醫家真妙訣，破皮刀用即開懷。</p>

<h2>爆骨搜牙風</h2>
<p>無論男婦，牙匡上逐齒紅腫，骨中極痛不能忍者，名為爆骨搜牙。若至自破出血，見骨或牙齒腐爛，齒落出膿者，多不治。先用角藥取痰，並用消盧散熏，次用冰硼散，三用紫地湯即效。</p>
<p>又症不論男婦，通牙床上紅腫，或在外牙床腫者，或在內牙床腫者，口內作燒生痰，多名曰搜牙風。治與爆骨搜牙同，但看有面腫者，或成粟房風症，各分內外，治法仍要挑，牙縫中有紫血管者方是，就挑動血管方效。爆骨搜牙每齒腫處，俱用破皮刀針出血方效。搜牙風，牙床腫處破皮刀針出血，效。若在牙床內，必俟腫起牙上者，方可下破皮刀。爆骨搜牙痛倍加，破皮針血免咨嗟，遭逢用藥真方法，功效隨收實可誇。</p>

<h2>牙癰風</h2>
<p>無論男婦，牙床上癤毒，或滿床紅腫，或一處紅腫，先用冰硼散，有痰用角藥，後用紫地散。牙癰搜牙兩症，以牙床高低界為辨，在牙床上高處為搜牙，在牙床底處為牙癰。此症有內生者，外生者。牙匡生核是牙癰，上下患兮名亦同，但用破皮針出血，更加角藥奏奇功。</p>

<h2>懸𤷍風</h2>
<p>無論男婦，牙床上浮腫為懸𤷍。在牙根內為內懸𤷍，紅腫如蜒蝣，漸次而長，先用角藥，次用冰硼散，三用紫地湯，後用消盧散熏之即效。如患症已久，白爛至咽喉者不治，落盡兩頰肉者不治。此症可用破皮針，日久白爛者，出血者不可針，但外懸𤷍善，內懸惡傷人。牙床浮腫號懸𤷍，外可施為內可悲，爛下咽喉妨飲食，神仙有藥也難醫。</p>

<h2>奪食風</h2>
<p>無論男婦，飲食火物猝起。此症或在喉間，或在上齶舌根左右，不能吞嚥，用竹針挑破，血吐出，不可吞。或吹冰硼散立效。此症泡若生在喉間，不能用針刀挑破，只須氣針針百會、前後頂三穴，內泡自消。一泡猝生名搶食，舌根咽內豈堪招，莫言此症難療治，百會針刀泡自消。</p>

<h2>魚口風</h2>
<p>無論男婦，上唇生小瘡或二三枚者，初起紅腫，漸至下唇亦腫，面頰俱浮，不可用破皮針，如生在中間難治，如上唇直長出，名龍唇發，可針兩鼻角。</p>
<p>又有上唇生小白紅瘡，乾燥，常用舌舐唇上，亦不用刀，又有唇上極痛，入骨連頰，痛不可忍，可針鼻角。</p>
<p>又有竟不腫者，只口眼喎斜，轉過一邊，名曰轉喎風，此症卻針合谷、頰車二穴、先用角藥，又用消盧散，次用冰硼散，三用紫地湯，效。如生瘡起者切不可用破皮針，誤針者身必發潮濕熱。滿身骨節疼痛不治，此症初起。紅赤作癢，癢後起小黃泡，切莫挑破。凡內外見諸症，內症前已載諸藥，治法：外以角藥調敷為主。魚口初生浮嘴上，心間有熱夜間潮，上衝痰氣延醫急，莫待臨時病不療。</p>

<h2>驢嘴風</h2>
<p>無論男婦，下唇生一瘡，逐時腫大，可用消盧散熏，先用紫地湯，次用冰硼散，並針兩傍腫處即效，此症初起紅腫，漸至下唇長出，可用破皮針針破，即效。驢嘴風生在下唇，逐時腫大苦伸吟，若然腫痛如刀刺，醫者須將角藥頻。</p>

<h2>魚鰓風</h2>
<p>無論男婦，兩頰紅腫為雙魚鰓，一邊腮腫者為單魚腮，先用角藥外敷，腫勢甚者可用破皮針，次用消盧散熏，三用紫地湯，四用冰硼散，效。魚腮疾染亦隨時，腫痛難當只自知，請得明醫來早治，莫教遲慢再扶危。</p>

<h2>雙搭夾風</h2>
<p>無論男婦，面頰夾兩邊腫赤，要看口內牙床上有腫無腫，如口內牙未腫者，不是搭夾，只是牙風，即以牙風治之，服紫地湯。此症先用角藥外敷，如腫仍不消，可用破皮針出血外，仍不離敷藥，即效。風名雙夾兩邊浮，赤腫難當筋似抽，莫道此風非易治，只須敷藥及時瘳。</p>

<h2>單搭夾風</h2>
<p>無論男婦，夾上一邊浮赤腫痛，治法與雙搭夾同。或左或右為單搭夾。</p>

<h2>落架風</h2>
<p>無論男婦，或因酒後，或因大笑，或因呵欠脫落下夾，不能合架口開，不能嚼物，此屬上熱下虛，氣血不順，以致筋骨不收，如一二日者可治，日久難治。此症用氣針針頰車二穴，並用上料之法，先將下頦托上，用手中兜住，然後以手揣其勾搭之處，令其勾合，仍用生薑一片置如頰車穴上，將艾丸又置生薑上，燒一醮火，左右同，即可斷根。落架風沾信不良，多因鬼崇作災殃，若還勾合全無事，不合勾時命必亡。</p>

<h2>粟房風</h2>
<p>無論男婦，赤腫滿面，先如粟米，黃瘡日久合成大泡，先用洗藥，並用角藥敷泡上，次用紫地湯，效。此症初起如粟米，未可針破，合成大泡可用皮針，令針口向下，出盡膿血即效。風號粟房生滿面，或成大泡痛難禁，用刀施藥依方法，病者安心不用驚。</p>

<h2>瘰癧風</h2>
<p>無論男婦，滿頭浮腫生核，用紫地湯、開關散，外用角藥搽敷，效。此症自面浮起，紅腫生小癤毒，漸至滿頭，用破皮針逐個針破即效。瘰瘍風兮如核生，又如癤毒一般同，皆言此病由冤債，只在醫生指不明。</p>

<h2>穿領風</h2>
<p>無論男婦，兩腮下生癤毒，日久透入口內，多致不治，其初起時，逐時生多，若至八九枚，亦為難治。先用角藥敷，次用消蘆散熏，如腫甚用破皮針，再用紫地湯。此症兩頰紅腫生核，或只一邊，初生一二枚者可治。日久生多自穿者難治，如腫甚者可用破皮針，不離藥。穿領風生不可當，欲求醫治仗奇方，但將角藥頻頻敷，病者安心勿恐惶。</p>

<h2>肥株子風</h2>
<p>無論男婦，兩耳墮上生核浮腫，或只一邊生者，外用角藥調敷搽，內用紫地湯，開關散。此症可用破皮針針核上即效。肥株子病耳中生，腫痛之時苦緒縈，紫止開關宜急服，更加敷藥即時輕。</p>

<h2>挎頸風</h2>
<p>無論男婦，頸項上生癰癤浮腫，有兩邊生者，有或左或右一邊生者，用角藥搽敷，並服紫地散，此症或腫上有形，但浮大赤腫甚者，可用破皮針針腫處，效。項上俄沽挎頸風，或生癰節腫兼紅，世人莫說病輕小，服藥無功命恐終。</p>

<h2>雙纏喉風</h2>
<p>無論男婦，外頸紅腫至咽喉亦皆滿，不分明白，四圍俱腫，先用角藥吐痰，外用角藥調敷，次冰硼散，三用紫地湯。此症日久難治，不可用破皮針刀。此症頭頂遍腫，頭頸亦遍腫者是為重症，可治，須用風路針。纏喉之症本非奇，日久無聲（必無聲）必定危，若見此形宜速退，治遲廬扁也難醫。</p>

<h2>單纏喉風</h2>
<p>無論男婦，只有一邊浮腫者是，治法與雙纏喉同，此症或腫頭頂一處，或腫頸上一處，名曰單纏喉，若左邊腫甚屬心，右邊腫甚屬肺，總要用風路針，不可用破皮刀。</p>

<h2>偏頭風</h2>
<p>無論男婦，一邊頭腫如破可針，先用開關散、紫地湯，效。但此症多因下部虛弱，致有此疾，合用補藥，以紫地湯加四物湯，如頭痛加白芷。此症一邊頭痛或左或右，針風池二穴，又用破皮針針核上，效。偏頭風痛若無休，痛者何須兩淚流，敷藥不靈宜補藥，管教疼痛即時休。</p>

<h2>乘枕風</h2>
<p>無論男婦，腦後浮腫疼痛可針，開關散、紫地湯即效。此症腦後生紅腫癤毒，可用破皮針出血即效。乘枕風兮本不奇，又名枕發卻難醫，但須急急加敷藥，紫正開關服不離。</p>

<h2>秘傳口訣</h2>
<p>以上諸風，初起惡寒發熱，頭痛咽乾，或大便閉結，或小便赤澀，用紫地湯能順氣散血，頭痛加開關散，口燒作渴加銀鎖匙，有痰用冰硼散，痰甚兼腫用角藥，將井花水調，加入摩風膏，口內含，口外敷，無不取效。</p>

<h2>仙傳針訣</h2>
<p>凡喉風諸症，皆由氣血閉澀，以致風痰上攻，結為熱毒，宜用針法開導，使氣血流通，則風痰自散。雖有各種奇方調治，而神速莫如氣針。夫氣針者，誠為諸藥之先鋒，喉家之妙法也。如臨諸症，先從神庭、上星、囟會、前項、百會、後頂、風池二穴、頰車穴針過，又須少商、合谷、曲池、各依針法，此為開風路針，初針只宜男左女右，並留大窩坑、風府、肩井、曲澤、陽陵泉、陰陵泉、足少商諸穴，不可先針。倘遇喉風極重之症，以前針法針過，其風邪熱毒仍不少退者，次日復視其症，可用前法復針即可，加針火窩坑、風府、肩井、陽陵泉、陰陵泉、足少商等穴，並左右同穴，逐一對針，自無不效。至於人中、鼻流諸穴，乃中風者用之，惟鞋帶二穴，救小兒急慢驚風之症極效，亦可用火醮。</p>

<h2>周身穴法指明會參三卷銅人圖</h2>
<p>攢竹頭額眉縐上，鼻角在兩鼻角，夾車在兩墮下略離一分，鼻流在鼻孔口，為二穴，肩井在肩上，曲澤在手灣橫紋盡處，曲池在肘外骨動窩處，合谷在虎口之內軟肉上，搃叉處，少商在兩大指甲下外邊，少衝在兩小指甲下外邊，陰陵泉在靠膝肉略上些骨動處，陽陵泉在膝外略下屈窩處，臍下一寸為氣海，臍下一寸五分為丹田，患陰症用火醮，諸穴皆屬督脈，足大指有一穴如手指少商穴部位，曰隱白，屬肺脾經，所謂足少商者即此。</p>

<h2>頭上穴法指明會參三卷銅人圖</h2>
<p>齊眉上一寸為神庭，又上一寸至上星，再上一寸五分至囟會，再上一寸五分至前頂，又上一寸一分至百會，再上一寸五分至後頂，又直下窩處為火窩炕，直略下些以耳唇相對為風府，再橫開兩邊一寸五分窩處為風池二穴。</p>

<h2>喉風諸方</h2>
<p>紫荊散　紫荊皮（二兩）　防風　荊芥穗（各五錢）　北細辛（三錢）</p>
<p>地黃散（又名內消散）　生地（二兩）　赤芍（五錢）　紅內消（二兩，即茜草）　丹皮（五錢）　以上紫地二散每症合用，加薄荷、燈芯，坐水中蒸服，第二劑加桔梗、連翹、甘草，咳嗽加桔梗、麥冬、知母，作渴加銀鎖匙，熱極者加犀角，潮甚者加柴胡、黃芩，如下部虛加四物湯，頭痛加白芷，孕婦加四物去丹皮。</p>
<p><u>開關散</u>　川芎（五錢）　白芷（一兩）　北細辛（二兩）。</p>
<p><u>銀鎖匙</u>　天花粉（二兩）　元參（五錢）　薄荷（一兩）　以上四方皆水劑，用水蒸服。</p>
<p><u>冰硼散</u>　梅花冰片（六釐）　揀白（六釐）　麝香（四釐）　硼砂（一分）　牙硝（三分，制）　開關後，次日去麝，體虛頭暈亦去麝，名品雪丹，毒腫漸消去硝，用破皮刀後亦去硝名呂雪丹，合此藥最要，乳至極輕鬆為度。</p>
<p><u>真功丹</u>　梅花冰片（六釐）　熊膽（一分，黑色而苦者真，置筍殼上用火焙，退火用）　爐甘石（一錢，用羌活湯煅過研細飛，去底下泥腳曬乾用）　硼砂（一錢）　牙硝（二分）　毒腫漸消去硝，用刀後用二味散（即品雪丹）。</p>
<p><u>辛烏散又名角藥</u>　赤芍（一兩，用稍）　草烏（一兩，用圓而上尖者，長者不用）　牙皂　荊芥穗　桔梗　赤豆　北細辛（淮辛不用）　甘草　生地（各五錢）　紫荊皮（一兩）　北柴胡　連翹（各五錢）　共為細末，磁瓶收貯，每用於口內則用井水調噙，極為取痰聖藥，如痰涎極甚則加入摩風膏，其力更速，口外則用井水調搽。</p>
<p>洗藥則用角藥洗，加荊芥同水煎洗，如懸𤷍加南星末少許，效。</p>
<p><u>摩風膏</u>　川烏（用尖磨）　水燈草灰（不拘多少）　用潔淨碗干焙燒，方有灰，右合一處調成膏，入辛烏散用。</p>
<p><u>消蘆散</u>　如人不可用刀，即以藥熏破，雖易見效，不能速於收功，紅內消（一兩，即茜草）　蘆柴根（二兩，去皮）　金毛狗脊（五錢）　糖蜜根（一兩，即紫荊皮根）　用頂好米醋煮熏，用小藥罐同米醋入內以厚紙封固，於紙上開一小孔，如頭大，或用銅管或竹管，對腫處熏，如欲速效，加江子（即巴豆，七粒去殼）　同入煮熏，神效。</p>
<p><u>鎮驚丸</u>　桔梗　甘草　山藥　梔炭（各等分）　共為細末，米飯糊丸如蓮子大，硃砂為衣，每服一丸，薄荷燈心湯送下，作末藥服亦可。無喉風症，只咽喉作渴者臨臥時服之。</p>
<p><u>蠟礬丸</u>　黃蠟（一兩）　乳香（去油）　沒藥（各錢五，去油）　枯礬（五錢）　共為細末，即用黃蠟為丸，每服二錢。開水送下。</p>
<p><u>生肌散</u>　沒藥（三錢，去油）　硼砂（三錢）　龍骨（火燒醋煅）　赤石脂（各一兩，火燒醋煅）　乳香（三錢，去油）　輕粉（二錢五）　冰片（一分）　兒茶（二錢五）　共為細末、每患處略用少許。</p>
<p><u>神功丹</u>（牙疳神效）　人中白（二兩，便壺中白，火煅紅）　兒茶（一兩）　黃柏　青黛（水飛）　薄荷（各六錢）　冰片（五分）　以上曝乾研末備用。</p>
<p><u>萬一丹</u>　誤用刀至血流不止者，以此治之。乳香（去油）　血竭　沒藥（去油）　硼砂（各一錢）　共為細末，每用少許吹入口內，其血即止。</p>
<p><u>六味地黃湯</u>　熟地（四錢）　丹皮（一錢五）　棗皮　山藥（各二錢）　雲苓　澤瀉（各五錢）　煎服。</p>
<p><u>四物湯</u>　熟地　當歸　白芍　川芎（各一錢）　水煎服。</p>

<h1>諸方藥性辨</h1>
<p><u>開關散</u>　清頭止痛，　紫荊散　疏風順氣，　地黃散　消腫退熱，　銀鎖匙　止渴退口燒，心煩熱極者加犀角湯。　冰硼散　治咽喉肫黑，疏風利氣祛痰涎。　辛烏散　又名角藥，取風痰，消熱毒功效最大，若喉風極甚之症，再加摩風膏少許，其功力更加神速。修合諸藥，皆不見火，一概生用，至於開關針法，非口傳授則不得其真也。</p>
<p><u>附喉科方</u>　秋留西瓜，至十月取出，損壞者去之，用好者。將瓜上開一孔，抓去內心，留皮帶肉將皮硝裝滿，吊於朝北風口，次年春季，皮外自有霜，刮下瓷瓶收好聽用。加冰片（三分）　兒茶（二錢）　牛黃（八分）　硼砂（二錢）　珍珠粉（一錢五分）　右研極細末，此五味藥兌西瓜霜五錢。逐日人神所在不宜針刺：初一大指，初二外踝，初三腰內，初四腰，初五口，初六手，初七內踝，初八腕，初九尻，初十腰背，十一鼻柱，十二髮際，十三牙齒，十四胃腕，十五偏身，十六胸，十七氣衝，十八股內，十九足，二十內踝，廿一手小指，廿二外踝，廿三肝足，廿四手陽明，廿五足陽明，廿六胸，廿七膝，廿八陰，廿九膝脛，三十足跌。</p>
<p><u>通關神應散</u>　治一切咽喉腫痛，雙單乳蛾，喉痹，纏喉等症。冰片　紅鐵皮（煅，即鐵上赤衣真鐵鏽也，刮下聽用）　珍珠（煅）　黃連（煨）　硼砂　海巴（煅）　明礬（煅）　地膽（曬乾生用，一名山慈菇）　辰砂（各三分）　紅鐵皮性沉重，平肝墜熱開結如神，用鏽鐵火煅醋淬，刮下共研細末，瓷瓶收貯，臨用管吹三五釐於喉風痛處，立愈，重者三五次取效。</p>
<p><u>紫袍散治咽喉十八症</u>　石青　青黛　硃砂（各一錢）　冰片（三分）　膽礬　人中白（煅）　元明粉（各五分）　山豆根（二錢）　為末收貯，不可泄氣，吹喉立愈，此方可破棺而治之。</p>
<p><u>綠袍散兼治牙痛</u>　生石膏（一錢）　粉草（三錢）　僵蟲　牛黃　龍腦　薄荷（各五分）　硼砂（生用，一錢）　冰片（一錢）　膽礬（五分）　牙皂（五分，煙盡為度）　為末，遇咽喉各症吹入四五次，無論有痰與否，任意吞之即愈。</p>
<p><u>又方</u>　黃柏　大黃　甘草（各一錢）　麝香（一分）　冰片（五釐）　雄黃（五分）　川貝（二錢）　共為末，治同上。患者有痰勿吞下，大便稍瀉不妨，壯者可用，弱者少用。</p>
<p><u>靈驗喉症方同紫袍散</u>　屢效　黃柏　青黛　硼砂　薄荷　甘草（各一錢）　冰片（三分）　加鵝哽喉（一條）　炙黃為末收貯　勿泄氣，吹喉即愈，耳爛吹之亦驗。</p>
<p><u>吹喉散</u>　夷茶　硼砂　冰片　川連（各三分）　荸薺粉（四分）　吹入喉內，各症皆愈。</p>
<p><u>吹喉藥</u>　硼砂（二錢五分）　雄黃（三錢）　兒茶（一錢）　冰片（三分）　薄荷（三兩，另研）　共為末和勻貯，不可泄氣，吹入少許或挑入舌上，噙一會嚥下八九次，若鎖喉風口內乾枯者，以井水調灌即能開關生津，若脾泄胃弱者不宜多用。</p>
<p><u>治喉不俱雙單蛾吹藥方</u>　真冰片　兒茶（各一分）　山豆根（一錢）　白礬（五釐）　京墨（一錢，陳者更佳）　舊襪底燒灰（一錢，洗淨煅為末）　共為細末，吹入喉內立愈。</p>
<p><u>冰硼散</u>　治一切喉症，薄荷　硼砂（各一錢）　人中白　川連（各八分）　青黛　元明粉　陳膽星（各五分）　山豆根（八分）　冰片（二分）　共為細末，吹喉神效。</p>
<p><u>喉風簡便方</u>　番木鱉（三個，水磨濃汁曬乾）　加冰片（一分）　研勻，吹喉立效。</p>
<p><u>冰梅方</u>　治咽喉百病　半熟大梅子（一百枚，五月五日午時用食鹽、朴硝各四兩，水三碗，浸梅子，其水約過梅子三指，浸一宿後）　豬牙皂（去弦核）　防風　蘇葉　薄荷　白礬（各二兩）　生甘　桔梗　川連（各一兩）</p>
<p>共研末拌入，浸七日取梅曬，又浸，又曬，以汁盡為度，梅上起白霜，收貯。凡用，取梅一枚，綿包含口內，有水先咽，五六日後，有痰涎吐盡，以口內無痰只有清水方去梅子。可以食粥，一枚可治二病。</p>
<p>治咽喉不論雙單蛾，用鮮芙蓉根為末，蒸過酒黏米新糟同搗爛，圍敷喉外，不過一時立愈。</p>
<p><u>紅袍散治各樣喉症</u>　辰砂（一兩飛）　硼砂（二錢五分）　黃連　兒茶　血竭（各一錢）　當門子　梅片（各五分）　牛黃（一錢）　銀硃（二錢）　共研細末，吹喉神效。</p>
<p><u>烏龍丸</u>　治喉癬、乳蛾神效，兼骨硬喉垂危者　烏梅肉　五倍子（各等分）　搗為丸，彈子大，每含一丸，其痰旋裹藥土，取出去痰，仍含口中即愈。</p>
<p><u>喉痛</u>　元明粉（七分）　雄黃（三分）　為細末，用筆蘸藥攪喉，嘔出痰涎，攪數次即愈。或吹入亦可。又細辛　白芷（各三錢）　皂角（一錢五分）　為末吹之，又皂角灰吊揚塵，青鹽拌勻，棉花包箸頭，蘸藥攪去喉內涎沫，用紅色牛膝水噙之。又豬膽水浸黃柏，浸曬七次，研末吹之。又冰片　硼砂　青黛為末吹之，或加黃連，甘草亦可。又喉痛、頭腫、齒關不開，燕窠泥（二兩）　明雄黃（五錢）　醋和炒潤七次，濃陳茶調敷。又射干根、山豆根為末吹之。又霜梅肉裹硼砂少許含於口中，酸水下，毒自解。又豆根（一兩）　硼砂（二錢）　射香　冰片（各少許）　為末，青魚膽糊丸如彈子大，每服一丸，噙化嚥下。又青鹽、白礬等分吹患處，吐痰即愈。又扁柏葉汁　山豆根汁雪裹青汁皆可服，最效。又喉腫痛不通，巴豆去殼，棉紙微裹，隨塞左右鼻孔中，立通。又花粉　薄荷　黃柏　黃芩　牛子　桔梗（各一錢）　大黃（六錢）　元參（八分）　黃連（四分）　甘草（五分）　淡竹葉（三十片）　水煎服，有火者用，妙如神。</p>
<p><u>單乳蛾、喉癬、喉癰腫痛</u>　吐咽不下，命在須臾者，鳳凰衣微火焙黃，橄欖核瓦上火煅存性，孩兒茶各等分，為末，每一錢加真冰片半分，吹之即能進飲食，神效無比。</p>
<p><u>蛾風</u>　一時無藥，救急即柴灰沖湯，數杯服之，又用燒酒，拍後頭窩以麻，下剖數次即刻現它，將磁針破它，含酒吮去血，再用鹽蛋泥敷之，即刻開關。</p>
<p><u>蛾子</u>　生喉間，不能窺探，急按魚尾穴，即大指後窩中是，用燈火三灸，再於大指甲根離一分寬，針刺出血，立效，服加減甘桔解毒湯。</p>
<p><u>單雙蛾</u>　山豆根不拘多少，加麝香少許為末，吹入喉中自愈。</p>
<p><u>單蛾者</u>　其形圓如箸頭，生於咽喉關上，或左或右，雙蛾則兩邊俱生，或生嚥下，難治。壁上蜘蛛白窠，用患人腦後發一根，纏定蜘蛛窩，將銀簪刺在燈上，燒之存性為末，吹喉立愈。</p>
<p><u>乳蛾</u>　最效秘方，將兩手大指旁縫內刺出血即松。</p>
<p><u>喉痹單雙乳蛾</u>　萬年青根搗汁二匙，加米醋三匙，嗽出痰涎自愈。</p>
<p><u>單雙乳蛾及一切喉風</u>　青魚膽汁曬乾收貯，以少許放舌上含化，立見奇功。</p>
<p><u>喉蛾</u>　神效，用人指甲瓦上焙焦黃色，研末吹入喉內即破。</p>
<p><u>喉痹乳蛾</u>　不能飲食，驗方，用新鮮牛膝根一握，艾葉七片入乳數匙，合搗，取汁灌入鼻內，須臾，痰涎從口鼻流出即愈。無艾亦可。</p>
<p><u>咽喉急證</u>　不拘單雙蛾，不及用藥，此方神效。頂心上必有紫泡，將泡挑破，擠血淨，俟結痂時去痂，再擠血淨，自將手指急搔頂心，少頃，頂心腫起再搔，即破出少血，喉內腫亦破，即時全愈。</p>
<p><u>急喉痹</u>　其聲如鼾，有如痰在喉中響者，此為肺絕之候，速用人參膏救之，用竹茹薑汁調下，獨參湯亦可，若服早，十全七八，遲則不救矣。</p>
<p><u>急喉風</u>　烏梅（一個去核）　包蜒蝣一條扎定，含口中，其水流至喉間。枯礬（一錢）　百草霜（二分）　須鍋臍內者佳，同研細，吹之嘔出膠涎。又馬藍頭汁漱之立愈。又山楂子磨水，以竹葉挑滴口內。又燈芯燒灰吹之。又鏽鐵磨濃水服。又雞公肫內筋，要不黏水者數片，新瓦焙枯存性，研末吹之。</p>
<p><u>急喉風</u>　土牛膝根搗汁加醋少許，頭一口漱咯而吐之。後服之立效。</p>
<p><u>纏喉風</u>　用牽牛鼻繩燒灰吹之甚效。又用淡白梅一個去核，將蜒遊一條放在梅內含之即瘥。又白僵蟲貳錢研細，生薑自然汁少許，和水灌下，立愈。又用萬年青根切碎打爛，絞汁灌下，吐出痰即好，倘口閉用牙刷撬開，灌下，如不吐，再用發稍進喉間，吐出即愈。</p>
<p><u>急鎖喉風</u>　兼治單雙蛾，用升麻（四兩），水煎灌服，或用皂莢槌碎，擂水灌服取吐，即不吐亦安。或白礬（三錢），慢火熬化，入巴豆肉（二粒），研爛候乾，去巴豆取礬研末，吹少許入喉中，取頑痰，出，立愈。又膽礬一塊含口中，痰涎自壅上，吐盡即愈。</p>
<p><u>鎖喉風</u>　巴豆（一粒，用竹筒燒煙，口吸即開）。又：巴豆（七粒，三生四熟，去殼）　明雄（五分）　鬱金（一個），共研細末，每用半茶匙，清茶調服，若咽塞不入，吹之亦可。又：硼砂、丹砂、硃砂等分研末吹之。又：蠐螬取汁點喉痹。又：甘萄花根洗淨搗汁灌下即愈。又：皂角子一粒，醋磨，將口撬開，用鵝毛翎蘸藥入喉內，卷出膠痰，能食藥水為止。湯藥方：金銀花（二錢）　甘草（三分）　桔梗（三分）　牛蒡子（一錢五分）　研細煎湯候用，此方活人多矣。喉閉方：纏喉風、急喉痹、雙蛾湯藥不下者，用此極效。巴豆（七粒，去殼，三生四熟，熟者燈上燒存性）　明雄（皂子大一塊）　鬱金（一個，如蟾膽大者）　共為末，每服半劑，清茶調服，如口噤咽塞，用竹管吹納喉中，須臾吐痰即愈，但能灌下，無有不活，甚驗。</p>
<p><u>喉閉</u>　手足厥冷，氣閉命懸，頃刻一時無藥，或有藥不進者，急將兩臂以手勒數十次，取油發繩纏大拇指，以針刺少商穴，血滴下喉即解，男左女右，重者兩手齊針。少商穴在大指殼內側邊離一分遠即是。又鴨嘴膽礬研極細，釅醋調灌，吐出膠痰立愈。</p>
<p><u>喉閉蛾子</u>　看病人頭頂上有紅點，用針挑破即愈，單蛾一點紅，雙蛾兩點紅。又將頭頂心發上用姜擦紅，紅即愈。</p>
<p><u>閉塞不通</u>　臘月初一日取豬膽，不拘大小五六枚，用黃連　青黛　薄荷　僵蟲　白礬</p>
<p>朴硝（各五錢）　裝入膽內，青黛包好，將地掘一孔，方深一寸，以竹橫懸此膽在內，以物蓋定，候至立春日取出，待風吹去膽皮，青紙研末密收，痛吹少許，神效。</p>
<p><u>喉癬</u>　頭胎黃牛屎，以新瓦洗淨，蓋屎周圍，用文火煅，煙盡存性，取出研末，徐徐吸入自愈。又：冰片　牛黃（各一分）　膽礬（三分）　硼砂（八分）　山豆根（二錢）　雄黃　兒茶（各八分）　陳白梅（去核三個）　共研末，次將白梅搗爛入藥和勻，丸如龍眼大，臨臥合口內，過夜即消。</p>
<p><u>爛喉應驗方</u>　牛黃（五釐）　指甲（五釐，瓦上焙黃，男女互用）　青黛（六分）　壁喜窠（廿個，要牆頭上者，瓦焙黃）　冰片（二釐）　藥珠（三分）　象牙屑（三分，瓦上焙黃）　研末吹患處，屢試屢驗。其人晚年無子，傳此方後，舉兩子。喉中忽硬一塊，吞吐不下，用厚朴　茯苓　紫蘇　半夏（各二錢）　甘草（五分）　老薑（一片）　煎服，或照喉閉方用，針手指出血亦妙。</p>
<p><u>百靈丸</u>　治喉中結塊，不通水食者。百草霜蜜和丸茨子大，水化一丸灌下，甚者不過二丸。</p>
<p><u>喉爛</u>　槐花（三錢）　牛膝　兒茶　黃連（各一錢）　為丸綠豆大，每服三丸，夏天西瓜水服，冬天梨汁服。</p>
<p><u>咽喉懸癰</u>　舌腫塞痛　五倍子　僵蟲　甘草（等分為末）　以白梅去核搗丸彈子大，噙噬，其癰自破。</p>
<p><u>咽生息肉</u>　先刺出血，豆豉同鹽塗之神效。</p>
<p><u>咽喉諸藥不效</u>　丹溪云此非喉症，乃是鼻中生一條紅線，如發懸一黑泡，大如櫻珠，垂掛到咽門而止、口中飲食不入，用牛膝根（獨條肥大者，搗碎），入好醋三五滴，同打細，滴入鼻中二三點，即系斷，珠破，吐出瘀血立安。</p>
<p><u>喉腫神效方</u>　即單雙蛾，用冰片　麝香　皂角刺（各三分）　共為末吹入患處，一破即愈，勢危急者，用細磁針打破患處之頭，其效更捷。</p>
<p><u>因風熱咽喉乾燥疼</u>　甘草　防風　荊芥　薄荷　黃芩（各一錢）　桔梗（三錢）　水煎後服。</p>
<p><u>骨鯁喉歌</u>　縮砂　草果　威靈仙　清水砂糖共配煎，接連服下二三鹽，諸般骨硬化為涎。</p>
<p><u>魚骨鯁喉</u>　即在席上隨取魚骨，不拘粗細，夾在耳丫內，男左女右，不與人知，仍食物自然一併吞下，屢驗，又橄欖核並湯服之，亦驗。</p>
<p><u>骨鯁神效</u>　用茶一杯或水亦可，戟指寫車字於茶水之上，惟車心一直戟指倒直上，飲茶水即化。</p>
<p><u>吞魚骨</u>　用河中養蓄活鴨，倒掛垂涎以磁碗接下，令患人仰臥頻灌，其骨盡化。</p>
<p><u>吞獸骨</u>　用狗一隻，倒掛接涎如前法灌亦效。</p>
<p><u>諸骨鯁喉</u>　苧麻根水，如雞骨卡，即用雞骨湯對服，余類推。又鳳仙花子白湯送下即下。又象牙磨滾水服亦下。吞發達喉；仍將發燒灰，開水調下。</p>
<p><u>吞竹葉卡喉</u>　取牛口涎以開水調服。</p>
<p><u>木屑</u>　鐵斧磨汁灌之。</p>
<p><u>吞金</u>　誤吞五金，以飴糖半斤啖之。</p>
<p><u>吞銀</u>　韭茶一把，滾水煮軟，不切斷，淡食之，少頃，茶包銀嘔出，或從大便出。</p>
<p><u>吞銅錢</u>　木耳、蜂蜜、匕醋同炒，服之錢從大便中出。雞冠血少許，吞入喉，用銅盆置面前，將冷水對面上一噴，其錢即吐盆中，多食荸薺，其錢自化，羊脛骨燒灰研末，米湯下三錢。</p>
<p><u>吞鐵二方</u>　磁石、芒硝各一錢煎，服數次，鐵自化。慄樹炭二塊研末，砂糖和丸，服三錢，立出。</p>
<p><u>吞針三方</u>　鹽蛋一個略煮水，切食即裹針從大便出矣。蝦蟆眼內烏珠一對，冷水囫圇吞下，其針兩頭穿珠，立刻吐出，冬天無處尋蝦膜，即在桑樹下掘三尺，自有。小兒吞針，將半生熟出芽蠶豆搗爛，用韭菜汁為丸吞下。</p>
<p><u>諸骨梗喉立效方</u>　用急性子二十粒，即鳳仙花子白湯送即下。</p>
<p><u>誤吞金氣</u>　以蚯蚓糞溫水攪吞即解出。凡三四月間，有喉間病者，皆因寒天寒氣鬱結不開，至春時發，須於初冬時，多買萊菔菜（俗名蘿蔔葉）攤在瓦屋上，任他日曬風雨雪霜打，不要收下，到立春前一日收下，掛在無日頭處陰乾，春二三月收來切碎，將醬或鹽放在碗中，飯鍋上蒸熟，當日日吃飯小菜，甚妙，一家永無喉風之患。</p>
