/******************************************************************************
 * [data-render="formula"] 相關樣式表
 *****************************************************************************/

html:not(.直書) [data-render="formula"].main img {
  max-width: 100%;
  max-height: 75vh;
  height: auto;
}

html.直書 [data-render="formula"].main img {
  max-width: 75vw;
  max-height: 100%;
  width: auto;
}
