<header data-type="book">
<h1>雲林神彀</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>龔廷賢</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1591">公元1591年</data></dd></div>
<div><dt>底本</dt><dd>《新鍥雲林神彀》（<a href="https://www.wdl.org/zh/item/9724/">國會圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫醫者，意也。切脈察色，聽聲審形，要在推吾意，與受病者，兩相印而無疑。而後，其陰陽榮衛始克，就吾之調劑而各當，譬則射者必有彀，率其中非爾力也。亦如醫之以意中也。上世岐黃倉扁，無論其在中古，所流傳者，獨丹溪、仲景得其解，而所著述，迄今垂不朽。近代以來，質愚下士，爭冒醫名，以殫人財，而究則不殞人之命，不止其於彀之藩籬，且大有徑庭矣。太醫雲林龔君，少則精其業，居大梁之都，名燁燁在諸薦紳間，所撰有《古今醫鑑》《萬病回春》二書，已膾炙海內，而最後有《神彀》若干卷，遠近兢慕而繕寫之，至湧洛陽之價。其姻對峰周君，圖付剞厥，而丐敘於不佞，不佞家苕逴，去龔君霅遠，即未親沾藥石。而往歲得二書，便取方之資，真晉人所稱千里神交也者。茲覽是書，方脈幼科，以至內府秘方，種種收錄，而尤系之歌訣，能令誦習者愉心快目，尤遠出前二書上久矣。龔君詎非神於醫彀，而不為大言無當哉。異時計，君用是書取效當世，必且如由基之矯矢，而猿號蒲且之縈繳，而鳧下寰宇賢愚，咸受不報之賜，而其書世世不朽，又寧在丹溪、仲景下也。對峰君曰：然。請書之用為左卷。</p>
<p><u>時　萬曆辛卯春月吉　歸安鹿門山人茅坤撰</u></p>

<h1>卷一</h1>
<p>歌曰：</p>
<p>雲林清隱著岐黃，檃括歌中要審詳，</p>
<p>某脈某證分虛實，何方何藥辨溫涼。</p>
<p>勘破玄機如中鵠，勿勞岐路問亡羊，</p>
<p>醫家有此真神彀，萬世蒼生慶澤長。</p>

<h2>真中風</h2>
<p>屬厥陰風木。脈浮滑弦數順，沉細短澀逆。</p>
<p>中風口禁遲浮吉，急實大數三魂脈。</p>
<p>中風不治症：中風鼻鼾，口張氣直，面赤如妝，汗綴如珠，頭面貴黑，痰聲拽鋸，吐沫上竄，搖頭髮直，眼開手撒，遺尿不知。以上諸證，不治無疑。</p>
<p>真中風因體氣虛，風邪外感卒昏迷，中腑中臟中血脈，氣虛血虛分治之。</p>
<p>中風忽口噤，卒倒昏不省，先要通關竅，後治風痰症。</p>
<p>搐鼻通關散，皂角細辛末，少許吹鼻中，有嚏即可治。</p>
<p><u>一方</u>　用生半夏末吹之，治中風痰厥，不省人事，並壓死、縊死、溺死、魘死及產後暈死。</p>
<p>中風牙關緊，南星末半錢，龍腦入少許，擦牙即能言。</p>
<p><u>一方</u>　用烏梅肉，揉南星、細辛末，擦牙即開，亦可。</p>
<p>中風痰氣厥，巴豆紙槌油，油紙捻入鼻，涼氣通頂頭。</p>
<p><u>一方</u>　用巴豆紙槌油，燒煙，熏入鼻中即省。</p>
<p>痰在上者，當吐之。宜後方：</p>
<p>中風忽口噤，痰厥不省事，桐油掃喉中，吐出痰為愈。</p>
<p><u>一方</u>　用香油，加麝香一二分灌之，或薑汁亦可。</p>
<p>中風痰涎盛，瓜蒂一錢淨，為末熟水吞，吐痰如神應。</p>
<p><u>一方</u>　加輕粉五分，水調勻灌服，良久涎自出。如未出，含砂糖一塊，下咽即吐，不損人。</p>
<p>中風痰氣閉，礬皂均研細，二錢薑湯調，稀出涎為貴。中風卒痰厥，辰砂白礬末，三伏入豬膽，陰乾用一捻，涼水研化灌，頃刻話能說。</p>
<p>中風卒不語，牙皂蜜煎水，吹些入口中，能起昏沉睡。</p>
<p>痰在中者，當降之。用後方：</p>
<p>中風卒不省，痰與火太盛，靛缸水一鍾，溫服可救命。中風痰氣響，古石灰半兩，研末入水煎，服之痰下降。</p>
<p>中風中寒，中暑中濕，卒中卒倒，痰厥氣厥。</p>
<p><u>攝生飲</u>　內細辛蒼，半夏南星與木香，甘草菖蒲姜七片，風痰氣厥總安康。（七味）</p>
<p>中風不語，痰迷心竅，痰火氣鬱，豁開為妙。</p>
<p><u>加味導痰</u>　二陳湯，參朮芩連歸木香，枳梗南星瓜蔞子，中風痰火最為良。（十四味）</p>
<p>中風氣虛，痰氣厥絕，口噤不省，溫藥急啜。</p>
<p><u>三生飲</u>　內用南星，川烏附子木香並，姜十片煎通口服，中風痰厥最為靈。（四味）</p>
<p>中風頑麻，骨節疼痛，風濕氣鬱，用藥疏通。</p>
<p><u>烏藥順氣</u>　陳皮姜，枳殼殭蠶芎芷詳，甘草麻黃桔梗入，中風先服最為良。（十味）</p>
<p>風邪中腑者，手足拘攣急，脈浮惡風寒，解表病當失。</p>
<p><u>疏風湯</u>　內二陳宜，芎芷羌防辛桂枝，香附當歸土烏藥，表後還當調理之。（十三味）</p>
<p>風邪中臟者，多滯於九竅，脈沉二便閉，通里治之妙。</p>
<p><u>滋潤湯</u>　歸生地黃，枳殼厚朴及檳榔，羌活杏仁天麻子，再入紅花與大黃。（十味）</p>
<p>風中血脈者，肢廢不能言，外無六經症，內無便溺愆。</p>
<p><u>養榮湯</u>　內羌防風，二陳四物麥門冬，遠志菖蒲連枳實，南星秦艽烏藥同。（十八味）</p>
<p>風中經絡者，口與眼喎斜，治當清痰火，鱔血塗之佳。</p>
<p><u>清痰順氣</u>　星半陳，荊防芩連瓜蔞仁，蒼朮貝母草官桂，沉木香末服之神。（十二味）</p>
<p><u>白龍膏</u>　（方見後，余方治口眼喎斜殊效）</p>
<p>風中左癱者，血虛與死血，養血活血治，祛風痰火徹。</p>
<p><u>加減潤燥</u>　桂天麻，二陳四物酒紅花，省風白朮牛酸棗，生地羌活柏皮佳。（二十味。省風湯，即南星、半夏、防風、黃芩、甘草是也）</p>
<p><u>健步虎潛丸</u>　（方見後，余方治癱瘓殊效）</p>
<p>風中右瘓者，氣虛與濕痰，筋骨痠疼痛，除濕祛風寒。</p>
<p><u>祛風除濕</u>　四君先，二陳芎歸芍芩連，枳桔羌防土烏藥，蒼朮白芷水姜煎。（十八味）</p>
<p>風邪中左右，手足皆癱瘓，血氣兩空虛，補養功不緩。</p>
<p><u>加減大補十全湯</u>　，附子羌活沉木香，牛膝杜仲並薏苡，烏藥獨活木瓜良。（二十一味。十全大補湯，方見諸虛。依本方，加上十二味）</p>
<p><u>邵真人追風換骨丹</u>　（方見後雜方，治真中風邪，一切百病）</p>
<p>中風實熱症，舌強驚譫語，發狂二便難，解表又通里。</p>
<p><u>防風通聖</u>　將軍芍，薄荷芎歸草芒硝，梔翹芩梗並白朮，麻黃荊芥滑石膏。（十七味）</p>

<h2>類中風</h2>
<p>類中風者常有之，寒暑濕火氣食隨，勞房痰血卒中惡，十一般類要君知。</p>
<p>中寒脈浮緊，冬月中寒氣，昏冒口牙噤，肢攣惡寒是。</p>
<p><u>附子理中</u>　薑桂枝，參歸術草朴陳皮，棗子生薑煎熱服，回陽返本建功奇。（十味）</p>
<p>中暑則脈虛，夏月卒中之，昏冒痿厥極，吐瀉喘滿隨。</p>
<p><u>十味香茹</u>　參朮耆，木瓜扁豆茯陳皮，姜炒厚朴並甘草，再加羌活暑風宜。</p>
<p>中濕脈微細，東南多有之，多由濕生痰，痰熱生風氣。</p>
<p><u>清燥湯</u>　（方見痿躄）</p>
<p>中火心火盛，水衰熱氣並，昏冒卒多僕，六味四君應。</p>
<p><u>六味地黃丸</u>　四君子湯　（二方俱見諸虛）</p>
<p>中氣脈必沉，七情之過極，氣厥多昏冒，牙關必緊急。</p>
<p><u>藿香正氣散</u>（方見霍亂，治中氣、中惡有殊功）</p>
<p><u>木香順氣散</u>　烏藥，香附砂仁川厚朴，枳半薑桂青腹皮，甘草木香末調藥。（十二味）</p>
<p>食厥因傷食，過多損胃氣，不能運化時，昏冒致如是。</p>
<p><u>六君子湯</u>　參朮苓，陳皮半夏縮砂仁，木香香附並甘草，薑棗煎服效如神。（九味）</p>
<p>勞傷過於勞，耗損真元氣，脾胃兩虛衰，昏冒不知事。</p>
<p><u>補中益氣湯</u>（方見內傷）</p>
<p>房勞因過度，腎虛精耗去，真氣不歸元，昏冒作虛視。</p>
<p><u>六味地黃丸</u>（方見諸虛）</p>
<p>痰厥因內虛，痰氣忽阻滯，手足厥冷麻，暈倒脈沉細。</p>
<p><u>加味二陳</u>　加當歸，枳實桔梗杏仁隨，良薑砂仁木香桂，痰厥暈倒可扶持。（十二味）</p>
<p>血暈去血多，血虛成血暈，脈來微且澀，氣血虛之甚。</p>
<p><u>加味四物</u>　加生黃，參朮黃耆蜜炒香，茯苓陳皮荊芥穗，甘草烏梅一個良。（十三味）</p>
<p>卒中暴卒者，不省人事也，因犯不正氣，厥冷麵如酒。</p>
<p><u>藿香正氣散</u>　（方見霍亂）</p>
<p><u>調氣散</u>　中白豆蔻，丁香木香檀香料，砂仁甘草與藿香，為末二錢鹽點妙。（七味）</p>
<p>余方附後。</p>
<p><u>健步虎潛</u>　生熟地，牛膝杜仲破故紙，白朮芍藥虎脛骨，麥志知柏二兩是，枸杞黃耆敗龜板，當歸一兩半去尾，茯苓人參酸棗仁，木瓜石菖蒲薏苡，羌活獨活與防風，各秤一兩要心記，沉附五味各五錢，豬髓蜜丸酒下咽，不問癱瘓半身枯，語言蹇澀皆能治。（二十八味）</p>
<p><u>白龍膏</u>　治口喎斜，蒼朮川芎二兩加，血竭乳香並沒藥，參歸芎芷白花蛇，荊防薄細麻甘桔，草烏何首及天麻，兩尖石斛五錢等，蜜丸彈大嚼君茶。（二十二味）</p>
<p><u>消風敗毒散</u>　諸風，參茯荊防藿樸芎，蟬蠶陳草並羌活，二錢末藥酒調中。（十二味）</p>
<p><u>胡麻散</u>　治諸風毒，皮膚瘙癢頑麻木，苦荊威靈何首甘，研末二錢薄湯服。（六味）</p>
<p>冷風疙瘩發瘙癢，荊防芎芷茯陳歸，何首烏藥蠶蟬草，羌活蒼朮等分宜。（十四味）</p>
<p>兩手搖動雞爪風，羌活威靈首烏同，防己蒼朮白附子，鉤藤甘草汗收功。（九味）</p>
<p><u>搜風順氣丸</u>　大黃，酒蒸九次五兩強，火麻郁李菟山藥，牛膝石棗與檳榔，各秤二兩宜精製，獨活枳殼一兩良，二兩半炒車前子，蜜丸茶酒任君嘗，能醫七十二般氣，三十六種風妙方。（十一味）</p>

<h2>傷寒（附傷風）</h2>
<p>傷寒熱病，宜洪大，忌沉細，主有變。</p>
<p>凡傷寒脈，浮滑洪數，陽脈為順；沉細微弱，陰脈為逆。</p>
<p>傷寒惡寒卻無汗，寒脈緊澀真可斷，傷鳳惡風有汗出，風脈來兮多微緩。</p>
<p><u>十神湯</u>　內紫蘇多，甘草陳皮香附顆，乾葛升麻並芍藥，川芎白芷麻黃和。（十味）</p>
<p><u>升麻葛根</u>　甘白芍，四味均勻水煎卻，頭疼發熱及惡寒，時行瘟疫香蘇佐。（四味）</p>
<p><u>人參敗毒散</u>　桔梗，甘草川芎茯苓等，枳殼前胡羌獨活，柴胡十味性涼冷。（十味）</p>
<p>傷寒脈浮者，無汗腰脊強，發熱頭項痛，此病在太陽。</p>
<p>無汗惡寒，此傷寒在表。（春夏秋月，宜羌活湯）</p>
<p><u>羌活湯</u>　中蒼朮辛，川芎白芷地黃芩，更有防風甘草等，薑蔥煎服有神靈。（九味）</p>
<p>無汗惡寒，此傷寒在裡。（冬月宜麻黃湯）</p>
<p><u>麻黃湯</u>　中用桂枝，杏仁甘草四般宜，再加芎芷並羌活，升麻防風發汗奇。（九味）</p>
<p>有汗惡風，此傷風在表。（春夏秋月，宜羌活沖和湯）</p>
<p><u>羌活沖和湯</u>　（即羌活湯去蒼朮，加白朮、黃耆，十味）</p>
<p>有汗惡風，此傷風在表。（冬月宜桂枝湯）</p>
<p><u>桂枝湯</u>　內藥三般，芍藥甘草一處攢；羌活川芎與白朮，四味加入病當安。（七味）</p>
<p>傷寒脈長者，鼻乾眼眶疼，身熱不得臥，此病在陽明。</p>
<p>若渴而有汗不解，或經汗過不解，宜白虎湯。</p>
<p>黃帝素問　白虎湯　，甘草知母與石膏，人參亦有加之用，熱渴虛煩用米熬。（四味）</p>
<p>傷寒脈弦者，耳聾胸脅痛，寒熱嘔口苦，此是少陽症。</p>
<p><u>小柴胡湯</u>　只五般，半夏人參一處攢，更有黃芩與甘草，生薑棗子水煎湯。（五味）</p>
<p>傷寒脈沉細，腹滿而作痛，咽乾手足溫，此是太陰症。</p>
<p><u>桂枝大黃湯</u>　，柴胡芍藥藏，枳實並甘草，棗子共生薑。</p>
<p>傷寒不惡寒，而反惡熱者，表證尚未除，里證又急也。</p>
<p><u>大柴胡湯</u>　用大黃，半夏枳實最為良，更有黃芩赤芍藥，薑棗煎來利大腸。（六味）</p>
<p>傷寒躁渴急，狂妄作譫語，便實陽作陰，熱邪傳入里。</p>
<p><u>六一順氣</u>　柴芩芍，大黃芒硝並厚朴，枳實甘草水煎湯，清熱利便通神藥。（八味）</p>
<p>傷寒汗吐下，煩躁口渴者，表裡大熱證，解毒致奔焦。</p>
<p><u>黃連解毒湯</u>　四味，黃柏黃芩梔子是，退黃解熱又除煩，吐血便紅諸熱治。（四味）</p>
<p>傷寒陽毒深，發黃身似金，妝此欲亂走，清涼可起沉。</p>
<p><u>三黃石膏湯</u>　，梔子與麻黃，細茶姜豆豉，九味共煎嘗。</p>
<p>傷寒血分熱，裡實而表虛，皮膚髮斑疹，黑斑不可醫。</p>
<p><u>消癍青黛飲</u>　玄參，知母石膏生黃連，柴胡梔子烏犀角，甘草人參薑棗煎。（十一味）</p>
<p>傷寒小便利，口燥大便黑，漱水不肯咽，下焦瘀血隔。</p>
<p><u>桃仁承氣</u>　五般奇，甘草硝黃並桂枝，加入青皮白芍藥，柴胡枳實並當歸。（十</p>
<p>傷寒結胸膈，痞悶不通泰，多是熱與痰，清除即通快。</p>
<p><u>清火化痰</u>　芩連梔，二陳蔞貝杏桑皮、枳桔朴硝並蘇子，木香研入最為奇。（十六味）</p>
<p>傷寒汗下後，煩熱津液枯，發熱氣逆吐，表與里俱虛。</p>
<p><u>竹葉石膏湯</u>　用參，麥門半夏更加臨，甘草生薑兼用米，虛寒自利熱家尋。</p>
<p>傷寒大病後，晝夜不得眠，心膽皆虛怯，溫膽即安然。</p>
<p><u>溫膽湯</u>　半陳芩草，竹茹枳實加酸棗，人參遠志熟地黃，五味同煎虛煩好。（十味）</p>
<p>傷寒懊憹者，悶郁不舒暢，反復多顛倒，梔豉可瘳恙。</p>
<p>梔子治肺煩，豆豉醫腎燥，梔豉共煎嘗，懊憹一齊好。</p>
<p>傷寒百合病，百沒是處者，非熱又非寒，形容不盡也。</p>
<p><u>加味柴胡</u>　加知母，百合竹茹一處煮，炒米食鹽姜與些，一服教君不受苦。（八味）</p>
<p>傷寒痰與氣，緊滿在胸臆，上不得喘息，吐之立可愈。</p>
<p><u>瓜帝</u>　赤小豆，等分為末候，豉湯調一錢，以吐痰為妙。</p>
<p>傷寒昏不語，熱邪傳心肺，名為越經症，莫將針灸治。</p>
<p><u>瀉心導赤</u>　烏犀角，人參茯苓知母銼，芩連梔子麥門冬，滑石甘草為使佐。（十味）</p>
<p>傷寒陽似陰，火極似水列，自熱以至溫，由溫乃至厥。此是傳經邪，不可用溫熱。（宜四逆散合小柴胡湯。如渴，用白虎湯，重則六一順氣湯）</p>
<p><u>四逆散</u>　內用柴胡，芍藥枳實甘草扶，生薑一片水煎服，手足厥冷立時蘇。（四味）</p>
<p>傷寒陰似陽，水極似火象，自病手足冷，莫把寒涼喪。</p>
<p>傷寒狐與惑，唇瘡聲啞得，食下部曰狐，食其臟為惑。</p>
<p><u>黃連犀角</u>　共煎湯，烏梅桃仁與木香，不問傷寒狐惑病，須知一藥即安康。（五味）</p>
<p>傷寒吐蛔蟲，手足多厥冷，胃氣一虛寒，蛔蟲因作梗。</p>
<p><u>理中安蛔</u>　用花椒，參朮乾薑要炒焦，茯苓烏梅止二個，服後柴胡湯退潮。（六味）</p>
<p>傷寒汗下後，人事昏不省，熱渴發狂言，元氣大虛症。</p>
<p><u>奪命獨參湯</u>　，一兩水煎嘗，諸虛危急症，服下立安康。</p>
<p>病後一勞復，多因氣血虛，微微復發熱，清補是良醫。</p>
<p><u>益氣養神</u>　參茯神，麥冬歸芍炒梔仁，前胡知母陳昇草，十一味藥效通靈。</p>
<p>傷寒新差後，交接因復發，欲死眼不開，一話不能說。</p>
<p><u>清郁</u>　山梔子，算來三十枚，銼碎水煎服，能令性命回。</p>
<p>勞力復感冒，內傷外感病，熱汗身頭痛，沉困無力應。</p>
<p><u>加味益氣湯</u>　參耆，陳皮白朮草當歸，柴胡升麻炒黃柏，羌活防風不用疑。（十一味）</p>
<p>余方附後：</p>
<p><u>小靈丹</u>　丸治傷寒，不論表裡，陰陽虛實，傳變經絡，服之鼻準微汗，其疾自愈。余昔在京師，世宗時，興大工，百工感其疾，死者莫計其數。後以此藥救之，蒙活者甚重，人成以神稱之，故名曰小靈丹也。</p>
<p>甘草麻黃四兩分，硃砂雄黃一兩均，芍藥用赤獨二兩，升麻柴胡各一參。春夏滑石及枳實，秋冬桂枝與細辛，四味各來五錢准，須擇甲子與庚申。</p>
<p>上各為極細末，各味用杏仁少許，擂羅澄粉，陰乾，各秤分兩，醋糊為丸，如綠豆大。每服三丸，以雄黃末三分和，井水吞下。</p>

<h2>中寒</h2>
<p>屬太陽寒水，脈滑實、手足溫者順，虛結、手足寒者逆。</p>
<p>中寒無頭痛，怕寒手足冷，寒中三陰經，回陽藥要猛。</p>
<p>凡中寒卒倒，昏迷不省者，先用熱酒、薑汁各半盞灌服。稍醒後，進湯藥救之。</p>
<p><u>回陽急救</u>　乾薑桂，參朮茯苓遼五味，陳皮半夏大附子，甘草生薑同一類。（十味）</p>
<p>寒中太陰經，中脘作疼痛，嘔瀉不作渴，理中湯可送。</p>
<p><u>理中</u>　甘草及乾薑，白朮人參是本鄉，若是內中加附子，更名　附子理中湯　。（四味）</p>
<p>寒中少陰經，臍腹作疼痛，惡寒頭及疼，五積立可中。</p>
<p><u>五積</u>　白芷陳皮樸，桔梗枳殼川芎芍，甘草茯苓蒼朮歸，半夏薑桂麻黃著。（十五味）</p>
<p>寒中厥陰經，小腹至陰痛，四肢厥冷極，熱藥急須用。</p>
<p><u>四逆湯</u>　中大附子，一枚生用去皮研，更有甘草六錢炙，乾薑五錢生用之。（三味）</p>
<p>灸中寒陰症法　氣海穴：在臍下一寸五分。丹田：在臍下二寸。關元：在臍下三寸。用艾火灸二七壯，但手足溫暖，臍脈至，知人事，無汗要有汗，即生。不暖、不省者死。</p>

<h2>瘟疫</h2>
<p>眾人病一般，是天行時疫，腫項大頭瘟，症總屬風熱。</p>
<p><u>人參敗毒散</u>（治四時瘟疫。通用方見傷寒）</p>
<p><u>神效二聖救苦丸</u>　，大黃四兩酒蒸研，牙皂二兩糊丸子，綠豆冷湯送二錢。</p>
<p>人間治疫有仙方，一兩殭蠶二大黃，薑汁為丸如彈子，井花和蜜即清涼。</p>
<p><u>牛蒡芩連</u>　用大黃，玄參桔梗並羌防，荊芥石膏甘草入，連翹敗毒免災殃。（十二味）</p>
<p><u>防風通聖散</u>（方見中風。治時行瘟疫熱病）</p>
<p><u>八聖散</u>　治大頭瘟，連芩蒲柏五錢存，雞內金與蛇蛻炒，白丁雄黃二錢勻，為末每服一錢重，藍靛根湯送下吞。</p>
<p>凡入瘟疫家，雄黃塗鼻孔，多食燒酒蒜，出門打涕噴。（以紙條深入鼻，則自然有涕噴）</p>

<h2>中暑</h2>
<p>暑者，熱也。屬少陰君火。</p>
<p>脈虛身熱，得之傷暑。</p>
<p>中暑身煩熱，四肢沉困倦，此熱傷元氣，體虛多自汗。</p>
<p><u>清暑</u>　歸耆二術參，麥門五味橘甘升，葛根神麯並黃柏，澤瀉青皮亦可臻。（十五味）</p>
<p>中暑口乾燥，或吐或瀉時，暑風或昏冒，香薷加減醫。</p>
<p><u>香薷散</u>　內藥三般，厚朴相參扁豆攢，加上黃連為絕妙，和中祛暑最能安。（暑風，因暑熱客於胸膈之間，痰鬱昏冒如醉，用黃連香薷散加防風、木香、南星、姜，水煎，磨化抱龍丸服）</p>
<p>中暑作熱渴，水便閉澀黃，和中清下部，暑病一奇方。</p>
<p><u>清暑一元散</u>　，滑石用六錢，一錢甘草末，水調服下痊。</p>
<p>中暑煩熱渴，大便泄瀉溏，小便赤澀少，宜分利陰陽。</p>
<p><u>五苓散</u>　內用豬苓，白朮茯苓澤瀉停，肉桂用之多與少，白水煎來止渴行。（五味）</p>
<p>注夏之症者，夏初春末時，煩渴沉困倦，元氣血皆虛。</p>
<p><u>參歸益元</u>　芍地黃，麥冬五味茯苓詳，知母黃柏陳皮草，炒米烏梅棗一雙。（十一味）</p>
<p><u>行人千里水葫蘆</u>　，硼砂薄荷白糖殊，柿霜烏梅搗丸子，噙化一丸省用沽。（五味）</p>

<h2>中濕</h2>
<p>屬太陰濕土，脈多沉細。</p>
<p>脈浮而緩，濕在表也；脈沉而緩，濕在裡也。或弦而緩，或緩而浮，皆風濕相傳也。</p>
<p>中濕一身痛，風濕邪在表，風藥能勝濕，醫者當分曉。</p>
<p><u>除濕羌活</u>　用防風，升麻柴胡藁本同，蒼朮米泔浸製過，水煎服後見奇功。（六味）</p>
<p>中濕腹脹滿，濕邪傳在裡，治宜分利走，滲濕而已矣。</p>
<p><u>滲濕湯</u>　中蒼白朮，陳皮香附撫川芎，豬苓澤瀉砂仁草，茯苓厚朴有奇功。（十一味）</p>
<p>中濕成偏枯，四肢作冷痹，腎氣一空虛，手足難動履。</p>
<p><u>獨活寄生湯</u>　桑寄，秦艽細辛杜仲參，牛膝防風苓桂草，四物湯加薑棗煎。（十五味）</p>
<p>濕氣偏身作腫痛，茅山蒼朮一斤重，米泔童便各浸半，酒丸七十黃酒送。</p>

<h2>火證</h2>
<p>屬少陽相火，脈浮而洪數為虛火，沉而實大為實火。</p>
<p>脈洪實滑為順，微細虛弱為逆。</p>
<p>三焦若火盛，脈沉而實大，內外皆積熱，便赤口瘡潰。</p>
<p><u>黃連解毒</u>　芩柏梔，連翹芍藥緊相隨，更有柴胡各等分，水煎食後服相宜。（七味）</p>
<p><u>涼膈</u>　連翹梔子仁，大黃甘草朴硝芩，竹葉薄荷加蜜煮，諸般積熱效如神。（八味）</p>
<p>心經若火盛，左寸脈洪數，舌上必生瘡，腫硬痛乾涸。</p>
<p><u>黃連湯</u>　內芍當歸，麥門生地草山梔，犀角薄荷同水煮，食後須教頻服之。（九味）</p>
<p>肝經若火盛，左關脈洪數，脅痛木氣實，目紅腫痛著。</p>
<p><u>柴胡湯</u>　內芍川芎，當歸青皮梔子同，甘草連翹龍膽草，水煎食後服收功。（九味）</p>
<p>肺經若火盛，右寸脈洪數，嗽血鼻瘡腫，喉痛如火烙。</p>
<p><u>黃芩湯</u>　內桔山梔，荊芥薄荷桑白皮，連翹麥門冬芍藥，甘草同煎功效隨。（十味）</p>
<p>脾經若火盛，右關脈洪數，煩渴口燥干，唇上生瘡惡。</p>
<p><u>芍藥湯</u>　內用石膏，梔子薄荷與連翹，更有黃連甘草等，管教服後病皆消。（七味）</p>

<h2>內傷</h2>
<p>脈洪大而虛。</p>
<p>內傷勞役傷元氣，或兼飲食損脾胃，熱渴汗喘脈虛洪，四肢沉困身無力。</p>
<p><u>補中益氣</u>　黃耆參，陳皮白朮當歸兼，柴胡升麻甘草伴，形勞虛損喘皆痊。（八味）</p>
<p>勞役傷飲食，腹脅悶短氣，遇夏熱猶寒，春來口無味。</p>
<p><u>升陽順氣湯</u>　參耆，當歸半夏廣陳皮，神麯升麻草豆蔻，黃柏甘草也堪題。（十一味）</p>
<p>肺與脾胃虛，怠墮食無味，淅淅惡於寒，慘慘不樂意。</p>
<p><u>升陽益胃</u>　參朮耆，黃連半茯草陳皮，澤瀉防風羌獨活，柴胡白芍總相宜。（十四味）</p>
<p>凡遇勞役過，辛苦用力多，急須補元氣，免致內傷疴。</p>
<p><u>補氣湯</u>　內蜜黃耆，人參白朮與陳皮，麥門五味並甘草，薑棗同煎大補虛。（七味）</p>
<p>凡遇勞心事，思慮損精神，頭眩目昏暗，虛煩要補心。</p>
<p><u>補血湯</u>　內芎芍歸，人參生地草山梔，麥門酸棗五味子，茯神去木與陳皮。（十二味）</p>
<p>食後多沉困，看來脾胃虛，元氣亦虧損，補養是良規。</p>
<p><u>參耆湯</u>　內用當歸，升麻柴胡與青皮，蒼朮神麯炒黃柏，甘草煎服不須疑。（十味）</p>
<p>補氣養血，和脾理胃，清火化痰，開鬱順氣，養精壯神，助力生肌，最能當勞，可以耐飢，人生日用，不可無之。</p>
<p><u>雲林神妙潤身丸</u>　，白朮當歸六兩先，茯陳楂曲連香附，各秤三兩勿教偏，參藥枳蓮芍二兩，五錢甘草炙同研，荷葉煮飯丸梧大，米湯百粒不拘吞。（十四味）</p>
<p><u>生脈散</u>　補真元氣，大能止渴生津液，人參五味麥門冬，再加白朮和脾胃。（四味）</p>

<h2>傷食</h2>
<p>氣口脈多緊盛。</p>
<p>飲食過多脾胃傷，傷食夾氣感寒涼，肚腹脹痛發寒熱，消食發表順氣良。</p>
<p><u>行氣香蘇散</u>　秘傳，陳皮烏藥枳羌先，蒼芎麻草同煎服，內傷外感服之痊。（十味）</p>
<p>飲食多停滯，痞脹痛難當，便難凝熱積，消導即安康。</p>
<p><u>枳實大黃湯</u>　厚朴，檳榔甘草同煎著，腹痛甚者加木香，一劑教君即安樂。（五味）</p>
<p><u>消滯丸子</u>　黑牽牛，炒來為末二兩頭，香附五靈各一兩，醋糊為丸病自瘳。（三味）</p>
<p>飲食冷停積，寒涼傷太陰，嘔噦腹痞痛，消散病難侵。</p>
<p><u>香砂養胃</u>　蒼白陳，參苓厚朴白蔻仁，更有木香甘草炙，薑棗同煎效若神。（十味）</p>
<p>人若不思食，食後返倒飽，此是脾氣虛，安胃自然好。</p>
<p><u>香砂六君</u>　參朮苓，半夏陳皮益智仁，甘草木香白豆蔻，厚朴姜炒極溫平。（十二味）</p>
<p>飲食自倍，脾胃乃傷，溫平胃氣，始得安康。</p>
<p><u>香砂平胃</u>　蒼朮陳，甘草枳實木香真，更有藿香姜一片，敢教胃氣得和平。（八味）</p>
<p>酒性有熱毒，氣與味俱陽，太過損元氣，節飲壯神光。</p>
<p><u>葛花解酲</u>　白蔻仁，參朮青陳砂茯苓，澤瀉豬苓神麯炒，生薑干與木香並（十三味）</p>
<p>酒食被人勸飲多，胸腹脹痛怎奈何，鹽花擦牙水漱咽，如湯沃雪笑呵呵。</p>

<h2>郁證</h2>
<p>脈多沉伏。</p>
<p>郁者鬱結，名有六氣，血痰濕熱，並食結聚。其中不發越，須要分別六郁治。</p>
<p><u>六郁湯</u>　中炒神麯，蒼芎蘇枳陳香附，連翹貝母炒山梔，茯苓甘草為佐助。（十二味）</p>
<p>七情氣鬱症，腹脅脹滿痛，胸臆不通和，六脈多沉重。</p>
<p><u>木香調氣</u>　烏附桂、枳樸蒼砂青陳皮，撫芎甘草各等分，水磨木香同服之。（十二味）</p>
<p>血鬱脈數澀，能食便出紅，或暴吐紫血，其痛不移通。</p>
<p>當歸活血芎桂芍，桃仁紅花烏枳殼，乾薑香附牡丹皮，甘草青皮等分銼。（十三味）</p>
<p>食鬱噯酸氣，胸腹飽悶滯，不食仍作痛，右關脈緊是。</p>
<p><u>香砂平胃</u>　加枳殼，山楂麥芽神麯銼，乾薑炒黑磨木香，十二味內要斟酌。</p>
<p>痰鬱脈沉滑，重則氣喘急，或者胸脅痛，痰咳嗽不出。</p>
<p><u>瓜蔞枳實</u>　片黃芩，桔芎朮附杏砂陳，貝母木香甘草入，生薑竹瀝服加臨。（十三味）</p>
<p>熱鬱即火鬱，小便黃赤澀，五心煩熱躁，脈數舌乾裂。</p>
<p><u>火鬱湯</u>　內用山梔，乾葛柴胡地骨皮，連翹撫芎白芍藥，甘草煎來郁可舒。（八味）</p>
<p>濕鬱脈沉細，發時遇陰雨，周身骨節間，走注疼痛是。</p>
<p><u>滲濕湯</u>（方見中濕）</p>
<p>諸般鬱結，扶脾理胃，消積散熱，開鬱行氣。</p>
<p><u>越鞠保和丸</u>　曲梔蒼芎附半茯陳皮，枳連當歸各一兩，白朮三兩去蘆枝，翹蘿木香五錢入，山楂三兩共研為，薑汁蒸餅丸梧子，七十薑湯任服之。（十六味）</p>

<h2>痰飲</h2>
<p>脈多滑，有弦滑、沉滑、微滑。</p>
<p>又云：諸病痰盛，脈難定擬。</p>
<p>火痰黑色老痰膠，濕痰白色寒痰清，遍身上下無不到，變化百病卒難明。</p>
<p><u>二陳湯</u>　中半夏宜，茯苓甘草並陳皮，化痰燥濕和脾胃，百病兼痰總可醫。（四味）</p>
<p>痰氣塞心竅，迷悶昏沉睡，此是七情傷，挾痰加鬼祟。</p>
<p><u>清熱導痰湯</u>　半星，芩連枳朮草參茯，陳皮桔梗瓜蔞子，痰迷心竅立時醒。（十二味）</p>
<p>痰燥作煩躁，痰話錯言語，痰迷悲歌叫，狂走忽驚惕。</p>
<p><u>加減溫膽</u>　白茯神，參朮陳半酸棗仁，枳連歸草山梔子，竹茹辰砂麥門尋。（十四味）</p>
<p>千般怪異症，多兼痰與火，果屬實熱痰，一服如開鎖。</p>
<p><u>滾痰丸</u></p>
<p>甑里翻身甲卦金，於今頭帶草堂深，相逢二八求斤秤，硝煅青礞倍若沉，十七兩中令半兩，水丸梧子意常斟，千般怪症如神效，水瀉隻身卻不任。</p>
<p>治病列後：</p>
<p>中風不語，痰涎壅塞，溫水研化，灌下明白。</p>
<p>遍身筋骨，走注疼痛，不能明狀，此藥可用。</p>
<p>噎膈反胃，吞酸噯氣，嘔吐痰涎，無所不治。</p>
<p>心下怔忡，如畏人捕，怵惕不安，陰陽隔阻。</p>
<p>失心喪志，或癲或狂，或驚或痛，或作健忘。</p>
<p>痰涎咳嗽，喘急上壅，頭目眩暈，氣塞胸中。</p>
<p>急慢喉閉，腮頷腫瘍，繞項結核，咽喉痛瘡。</p>
<p>心氣冷痛，如停水塊，上攻頭面，或走四大。</p>
<p>痢疾新久，不問雜色，或帶血塊，惡物下迫。</p>
<p>一切諸疾，醫所不識，加減用之，萬無一失。</p>

<h2>咳嗽</h2>
<p>脈宜浮大，不宜沉小。</p>
<p>又云：脈浮軟為順，沉伏為逆。若久嗽形脫，身熱不除。脈細急者死。</p>
<p>春是上升之氣，夏是火災最重，秋是濕熱傷肺，冬是風寒外束。</p>
<p>四時感風寒，發熱喘嗽痰，寬中快胸膈，涕唾吐稠黏。</p>
<p><u>參蘇飲</u>　內用陳皮，桔梗前胡半夏宜，乾葛茯苓同甘草，木香枳殼總堪題。（十一味）</p>
<p>上焦肺火盛，咳嗽吐痰涎，清金降邪火，投之病自痊。</p>
<p><u>清肺湯</u>　中用片芩，天麥五味杏桑陳，歸苓甘草山梔子，桔梗貝母用之靈。（十三味）</p>
<p>上焦虛火盛，咳嗽熱痰喘，日輕夜稍重，一服病自減。</p>
<p><u>潤肺豁痰寧嗽湯</u>　，二陳知母熟地黃，天麥當歸桔貝母，黃芩紫菀款花良。（十二味）</p>
<p>過傷酒食，胃火上炎，沖逼肺氣，痰嗽經旬。</p>
<p><u>二母寧嗽</u>　山梔仁，黃芩石膏白茯苓，桑皮瓜蔞五味子，甘草陳皮枳實並。（十二味）</p>
<p><u>清上寧嗽噙化丸</u>　，天門海石橘紅先，瓜蔞柿霜芩酒炒，各秤一兩勿加添，梗翹玄黛五錢等，三錢風化朴硝研。為末蜜丸龍眼大，一丸噙化妙通玄。（十一味）</p>
<p>新久咳嗽，諸治不已，用此仙方，沉疴頓起。</p>
<p>洞賓仙傳　蘆吸散　，嫩蕊冬花秤五錢，鵝管石用二錢半，陳皮甘草亦如然，虛加人參五分足，寒將肉桂一錢添，研末為丸分七帖，每用一帖夜臨眠，藥作三次入竹管，口吸溫水送下咽，油膩鹽須忌七日，一夜一次嗽當痊。</p>
<p>多年久咳嗽，先嚼啞芙蓉，只用一分許，後即服神功。</p>
<p>久年咳嗽用　神功　，枸杞蓯蓉及款冬，各秤一兩分四劑，苦參減半水煎同。（四味分四劑，水煎服；次用　煙筒散　熏之，連熏五六次，良愈）</p>
<p><u>煙筒</u>　一兩款冬花，鬱金六錢炒莫差，木香三錢雄黃一，研末紙卷作煙霞，熏入病人喉管內，　人參桔梗湯　送佳。</p>
<p>治男婦遠近咳嗽方</p>
<p>一兩香油二兩蜜，三兩生薑自然汁，各照等分秤記定，慢火煎熬似黑漆，五更滾水服一匙，千年咳嗽無蹤跡。若人誠心肯服之，除根去苗如刀利。</p>

<h2>喘急</h2>
<p>脈滑而手足溫者生，脈沉澀而四肢寒者死。</p>
<p>火動若發喘，乍進復乍退，得食下則減，食止喘加倍。</p>
<p><u>清肺湯</u>　中白茯苓，麥門桑杏枳蘇陳，片芩貝母山梔子，沉香辰砂服加臨。（十二味）</p>
<p>氣短作喘急，呼吸氣短促，又且無痰聲，元氣須補續。</p>
<p><u>四君湯</u>　內參術苓，陳皮厚朴與砂仁，沉木另研歸蘇子，桑皮甘草可相尋。（十二味）</p>
<p>陰虛火動喘，心部脈必數，白日病猶輕，夜間稍重著。</p>
<p><u>滋陰降火湯</u>（方見虛勞，依本方加蘇子、沉香、杏仁、桑白皮、竹瀝）</p>
<p>寒喘四肢冷，六脈多沉細。治之宜理中，喘急自定矣。</p>
<p><u>理中湯</u>　內桂乾薑，厚朴陳皮沉木香，砂仁蘇子甘草炙，或加附子可回陽。</p>
<p>傷寒發喘急，發表定良方。若還有痰氣，加入二陳湯。</p>
<p><u>五虎湯</u>　內用麻黃，杏仁甘草石膏藏，更入細茶同水煮，桑皮加入又為良。（五味）</p>
<p>虛陽上攻喘，氣急不升降，上盛下元虛，痰嗽喘促上。</p>
<p><u>蘇子降氣湯</u>　半夏，甘草前胡肉桂咀，當歸厚朴陳皮等，薑棗同煎痰喘舒。（八味）</p>

<h2>哮吼</h2>
<p>哮吼即齁喘，肺竅積寒痰，有至終身者，仙方可拔根。</p>
<p><u>五虎</u>　二陳用麻黃，陳半參苓膏杏藏，沉香木香細茶葉，薑蔥煎服喘安康。（十味）</p>
<p><u>哮吼湯</u>　中半芩連，瓜蔞枳桔杏膏先，麻黃紫蘇及甘草，生薑茶葉水同煎。（十一味）</p>
<p>諸病原來有藥方，惟愁齁喘最難當，麻黃桑杏尋蘇子，白果冬花更又良，甘草黃芩同半夏，水煎百沸不須姜。病人遇此仙丹藥，服後方知　定喘湯　。（九味）</p>
<p><u>紫金丹</u>　治久哮吼，一錢生信三枯礬，淡豉一兩蒸搗爛，入藥同研如豆丸。但覺舉發冷茶下，七丸妙藥似神仙。</p>
<p>和劑須投　定喘湯　，阿膠半夏及麻黃，人參四兩同甘草，四兩桑皮五味強，罌粟二錢須蜜炙，三錢煎服用生薑。多年氣喘從今愈，始信良醫有妙方。（八味）</p>
<p><u>灸哮吼神法</u>　患者耳前兩邊名郁中，二穴；百會一穴，用艾七壯，灸之立已。</p>

<h1>卷二</h1>

<h2>瘧疾</h2>
<p>脈弦數多熱，弦遲多寒；脈弦數滑實皆順，沉細虛微為逆。</p>
<p>瘧是風寒與暑濕，內傷勞倦並飲食，發寒發熱作口乾，無痰決不成瘧疾。</p>
<p>大凡瘧初起，散邪正氣先。無汗要有汗，散邪藥可煎；有汗要無汗，正氣病當痊。</p>
<p>無汗要有汗，散邪為主。</p>
<p><u>散邪湯</u>　內用麻黃，川芎白芷芍蘇羌，防風荊芥同甘草，瘧疾初投此藥良。（九味）</p>
<p>有汗要無汗，正氣為主。</p>
<p><u>正氣湯</u>　中用桂枝，柴前芎芷牛青皮，麥門檳果苓甘草，瘧疾元虛總可醫。（十二味）</p>
<p>瘧疾發寒熱，口汗併發渴，半表半裡證，陰陽要分別。</p>
<p><u>柴苓湯</u>　，即小柴胡湯（方見傷寒）、五苓散（方見中暑），二方相合是也。</p>
<p>熱瘧火盛，舌卷焦黑，陽春而深，脈洪而數。</p>
<p><u>龍虎湯</u>　中用柴苓，半夏石膏山梔仁，黃連知母並黃柏，糯米生薑總可任。（九味。先以青布招疊數重，新汲水漬之，搭於胸上三次，熱勢稍定，即服此藥）</p>
<p>寒瘧冷甚，寒多熱少，陰毒而深，脈虛而小。</p>
<p><u>雞鳴酒</u>　內用常山，藿香肉桂茯苓參，甘草烏梅黃酒煮，空心熱服病當痊。（七味）</p>
<p>瘧疾人壯盛，用藥可單截，不拘新與久，一服如神捷。</p>
<p><u>不二飲</u>　內用檳榔，常山知母貝母良，等分酒煎露一宿，五更溫服見神方。（四味。煎此藥，勿犯婦人手，又不宜太煎過了）</p>
<p>虛人患瘧疾，養正邪自除，暴瘧與初起，投之病可蘇。</p>
<p><u>人參養胃</u>　茯陳皮，半夏厚朴藿芎歸，蒼朮烏梅甘草果，薑棗同煎病自除。（十二味）</p>
<p>瘧疾治已後，血氣須調養，日久成虛疾，噬臍枉追想。</p>
<p><u>參歸養榮</u>　地黃芍，砂陳苓木甘山藥，厚朴蓮肉炙甘草，薑棗烏梅用一個。（十一味）</p>
<p>腹中有一塊，是名為瘧母，日久恐不消，多有成脹滿。</p>
<p><u>參歸鱉甲</u>　術苓耆，砂仁芎樸草青皮，香附山楂並枳實，烏梅薑棗水煎之。（十四味）</p>
<p><u>補中益氣湯</u>　治內傷元氣，虛弱瘧疾寒熱，久不愈者宜服。（方見內傷）</p>
<p><u>十全大補湯</u>　治久瘧不愈，血氣虛損，屬虛寒者宜服。（方見諸虛，加大附子）</p>

<h2>痢疾</h2>
<p>脈宜微細，忌洪大。身宜涼，不宜熱。</p>
<p>痢疾不分赤與白，俱作溫熱治可得，初起壯盛先宜通，久痢虛弱當調塞。</p>
<p>壯盛人初痢，利之去積滯，濕熱一清除，痢疾斯已矣。</p>
<p><u>玄白散</u>　內用牽牛，赤芍生黃歸去頭，檳榔枳殼煨莪朮，大黃黃連可解愁。（九味）</p>
<p>虛弱人初痢，濕熱傷血氣，消之滯自除，不必多通利。</p>
<p><u>芍藥湯</u>　中用木香，芩連枳殼與檳榔，當歸甘草水煎服，一劑令君病體康。（八味）</p>
<p><u>立效</u>　四兩淨黃連，二兩吳茱共酒眠，炒乾去吳茱不用，麩抄枳殼二兩全，為末三錢空肚服，瀉腸痢酒立安痊。</p>
<p>下痢稍久，調和氣血，稍加升提，痢自止歇。</p>
<p>紅痢宜：</p>
<p><u>調和飲</u>　內芍芎歸，升麻桃仁研去皮，黃連黃芩各等分，臨時加減始為奇。（七味）</p>
<p>白痢宜：</p>
<p><u>調中理氣</u>　蒼厚朴，陳皮白朮木香芍，更有枳殼與檳榔，紅痢再加芩連佐。（八味）</p>
<p><u>參歸芍藥</u>　白茯苓，白朮山藥與砂仁，甘草陳皮加減用。蓮肉烏梅燈草並。（九味）</p>
<p>久痢滑脫，宜兜澀之，大補氣血，兼以升提。</p>
<p><u>真人養臟</u>　粟殼參，訶子當歸肉蔻真，白朮木香並芍藥，乾薑肉桂不須尋。（十味）</p>
<p>疫痢赤白，憎寒壯熱，腹痛後重，噤口不食。</p>
<p><u>倉稟散</u>　即人參敗毒散（方見傷寒）加黃連、陳倉米、石蓮肉、白芍、薑、棗，煎服。如噤口，用田螺搗爛，合臍上，引熱下行，即能食。</p>
<p>噤口痢是胃口熱，黃連人參減半切。煎湯終日細呷之，加上石蓮為妙絕。（二味）</p>
<p>痢疾噤口用石蓮，研末每服二三錢，陳倉米湯調勺服，嘔加薑汁立時痊。</p>
<p>一切噤口赤白痢，黃連生薑四兩制，生薑搗爛同連炒，炒乾去姜連研細，倉米飯丸每二錢，白痢陳皮湯送去，赤痢甘草可煎湯，赤白陳皮甘草是，脾泄臘茶清可吞，妙方留下君須記。</p>

<h2>泄瀉</h2>
<p>足太陰脾經脈，緩時微小者生，浮大數者死。（泄而脘脹，脈弦者死）</p>
<p>泄瀉清濁兩不分，只固濕多五瀉成，陰陽分利瀉自止，健脾燥濕可安平。</p>
<p><u>胃苓湯</u>　內倉陳樸，豬苓澤瀉茯苓芍，白朮肉桂甘草煎，諸般泄瀉皆可卻。（十味）</p>
<p><u>止瀉</u>　七錢豬茯陳，一兩炒術五錢參，官桂一錢炙草二，棗丸水化服之靈。（七味，名一苓丸）</p>
<p>寒瀉脈沉遲，悠悠腹中時，瀉下無休止，溫藥理中宜。</p>
<p><u>理中湯</u>　內加官桂，藿香良薑廣陳皮，茯苓烏梅用一個，薑棗燈心煎服之。（十味）</p>
<p>火瀉六脈數，痛陣瀉一陣，後重如熱湯，便赤煩渴甚。</p>
<p><u>四苓散</u>　中加山藥，蒼朮山梔甘白芍，烏梅一個廣陳皮，炒草十根水煎卻。（十一味）</p>
<p>暑瀉值下月，暴泄瀉如水，面垢脈來虛，自汗煩渴最。</p>
<p><u>香茹飲</u>　內加參芍，茯苓白朮陳皮佐，甘草等分加烏梅，炒米一撮燈心著。（九味）</p>
<p>溫瀉脈微細，瀉水腹不痛，腹響如雷鳴，燥濕藥當用。</p>
<p><u>五苓散</u>　加山藥陳，訶子肉蔻炒砂仁，蒼朮泔制甘草炙，烏梅薑片與燈心。（十味）</p>
<p>風泄脈浮弦，瀉便帶清血，風冷客腸胃，水穀注下泄。</p>
<p><u>胃風湯</u>　內用人參，當歸川芎白茯苓，白芍白朮並肉桂，粟米同煎效若神。（七味）</p>
<p>食積作泄者，腹痛甚而瀉，瀉後痛即減，脈弦即是也。</p>
<p><u>香砂平胃散</u>　（依本方加白朮、茯苓，去枳實）</p>
<p>痰泄多與少，或少或不少，其脈多沉滑，小便必然少。</p>
<p><u>二陳湯</u>　加蒼白朮，砂仁山藥炒厚朴，木通甘草車前子，燈草烏梅姜煎服。（十二味）</p>
<p>虛瀉脈微弱，食入即瀉卻，水穀不能化，氣虛脾胃薄。</p>
<p><u>參苓白朮散</u>　藿香，山藥砂仁陳皮姜，訶子蓮肉肉豆蔻，甘草煎來補胃良。（十二味）</p>
<p>脾瀉脈來細，食後必倒飽，瀉去即便寬，扶脾養胃好。</p>
<p><u>香砂六君</u>　炒白芍，人參白朮姜厚朴，甘草陳皮山藥同，蒼朮烏梅姜煮著。（十味）</p>
<p>滑泄瀉無度，腸腎虛寒故，不禁脈細沉，補氣兜塞住。</p>
<p><u>八桂散</u>　中煨肉蔻，訶子粟殼蜜炒妙，參朮甘草附子煨，乾薑烏梅燈草要。（十味）</p>
<p>余方附後：</p>
<p><u>戊己丸</u>　治脾瀉痢。水穀不化腹痛劇，酒連煨芍炒吳萸，等分為末飯丸劑，空心每服五十丸，米湯送下立時止。（三味）</p>
<p><u>安脾安胃散</u>　參朮，二兩生薑同炒熟，參苓藿樸術砂甘，莪澤木檳五錢足，紅棗廿四去核皮，研末二錢薑湯服。（十四味。止渴極效）</p>

<h2>霍亂</h2>
<p>脈宜洪大，不宜遲微。</p>
<p>氣少不語，舌卷囊縮，皆不治也。</p>
<p>霍亂內傷外感並，上吐下瀉心腹痛，厥冷脈沉伏欲絕，調理脾胃藥必應。</p>
<p><u>藿香正氣</u>　用紫蘇，大腹陳皮桔梗咀，白朮茯苓並半夏，厚朴白芷草姜挾。（十一味）</p>
<p>夏月暑霍亂，煩渴出自汗，上吐下瀉多，脈浮真可斷。</p>
<p><u>加減茹苓湯</u>　黃連，白朮赤苓澤瀉先，甘草乾葛天花粉，生薑煎服立安然。（九味）</p>
<p>霍亂轉筋，腹痛吐瀉，手足厥冷，脈微驚訝。</p>
<p><u>理中丸</u>　子炮乾薑，茯參炙草等分良，研末蜜丸一錢重，細嚼送下用薑湯。（四味）</p>
<p>乾霍亂症，不吐不瀉，多灌鹽湯，吐之不怕。</p>
<p><u>溫中湯</u>　內平胃散，香附砂仁與藿香，枳殼木香厚肉桂，乾薑加上並生薑。（十一味）</p>
<p>霍亂吐瀉後，發熱復頭疼，身痛口乾渴，脈數可全生。</p>
<p><u>參胡三白朮苓芍</u>　，當歸陳皮麥門佐，五味烏梅山梔子，甘草燈心棗一個。（十二味）</p>
<p>霍亂轉筋大蓼一握，煎湯燙洗，良久浸腳。（比人以麥糠代之）</p>
<p>霍亂吐瀉，轉筋粗大，秫薥葉湯，服之立瘥。</p>
<p>轉筋入腹，攻痛欲死，搗爛生薑，酒煎服止。</p>
<p>霍亂吐瀉，無法可施，沸湯冷水，合服能醫。（名陰陽湯）</p>
<p>霍亂已死，腹中尚暖，鹽納臍中，艾灸莫緩。（灸莫記數）</p>

<h2>嘔吐</h2>
<p>脈滑數為嘔，代者霍亂，微滑者生，澀數凶斷。</p>
<p>嘔吐有聲亦有物，胃氣損傷食即出，症有寒熱並虛痰，對症投方慎毋忽。（治嘔吐不止，聞藥即吐，百方不效，以伏龍肝為末，水丸塞兩鼻孔，卻服對症藥，遂不再吐）</p>
<p>嘔吐吐不止，飲食食不下，和胃與清熱，千金也無價。</p>
<p><u>保中湯</u>　內藿香梗，陳皮半夏茯苓等，白朮梔子與砂仁，甘草芩連炒不冷。（十味）</p>
<p>嘔吐噦清水，冷涎出不止，屬寒脈沉遲，理中病自愈。</p>
<p><u>理中官</u>　桂炒乾姜，白朮人參丁藿香，茯苓砂仁姜半夏，陳皮烏梅一個嘗。（十一味）</p>
<p>嘔吐作煩渴，此是胃中熱，六脈來數時，清火藥堪啜。</p>
<p><u>黃連竹茹</u>　用山梔，人參白朮茯陳皮，甘草麥門白芍炒，烏梅炒米棗煎之。（十味）</p>
<p>嘔吐噦痰涎，痰與火相煎，化痰與清火，一服即安然。</p>
<p><u>二陳湯</u>　里加人參，砂仁白朮竹茹煎，麥門烏梅山梔炒，薑棗同煎病自痊。（十一味）</p>
<p>水寒停於胃，嘔吐不得止，療之宜燥濕，脾胃加調理。</p>
<p><u>茯苓半夏二陳湯</u>　，蒼朮厚朴與乾薑，砂仁烏梅藿香葉，生薑煎服見神方。（十味）</p>
<p>嘔吐因傷食，飽悶作酸氣，消食更和脾，嘔吐自然止。</p>
<p><u>香附平胃散</u>　治傷食嘔吐。（方見傷食）</p>
<p>病久只嘔吐，胃虛不納穀，養胃更和脾，王道無欲速。</p>
<p><u>六君湯</u>　里加歸芍，砂仁蓮肉炒山藥，藿香烏梅炒米煎，生薑棗子為引佐。（十三味）</p>

<h2>噁心</h2>
<p>噁心心中常兀兀，欲嘔不嘔吐不吐，此為噁心非心病，寒熱痰虛停食水，治之須與嘔吐同，隨機應變毋膠柱。</p>

<h2>翻胃</h2>
<p>脈浮緩者生，沉澀者死。</p>
<p>脈澀而小血不足，脈大而弱氣不足。</p>
<p>翻胃五味七情過，五臟火動津液涸，氣虛不運則生痰，血虛不潤而生火，補氣生血養胃脾，清火化痰把郁破，戒氣斷味慢調和，勿行香燥生災禍。</p>
<p><u>安胃湯</u>　中參朮陳，茯苓山藥炒砂仁，歸連夏草藿香葉，蓮肉烏梅薑棗尋。（十味）</p>
<p><u>順氣和中</u>　二陳先，白朮枳實炒黃連，香附砂仁山梔炒，神麯嬌泥河水煎。（十味）</p>
<p><u>王道無憂散</u>　二陳，香砂四物柏梔芩，烏附豬通天麥草，赤苓赤芍藿檳尋。（二十四味）</p>
<p><u>三子散</u>　治胃翻噎，白芥蘿蔔胡荽列，等分為末每五分，燒酒食後調和啜。</p>
<p><u>五子散</u>　治氣噎脹，蘇蘿芥各五錢重，山楂香附各二錢，為末合作芥末用。</p>
<p>年老陰血虛，痰火氣結滯，飲食不能下，乃成膈噎氣。</p>
<p><u>當歸養血四物湯</u>　，枳連陳樸貝沉香，香附茯苓紫蘇子，瓜蔞竹瀝棗生薑。（十七味）</p>
<p>年少患膈噎，胃脘血乾竭，便調食不下，生津與補血。</p>
<p><u>生津補血湯</u>　蘇子，歸芍二黃茯貝母，陳枳砂仁炒黃連，沉香水磨不用煮。（十二味）</p>
<p>嘔吐翻胃，愈後調理，滋補氣血，保和脾胃。</p>
<p><u>養血助胃</u>　芎歸芍，山藥蓮肉一兩銼，熟黃薑汁炒八錢，扁豆茯苓六錢著。人參五錢草三錢，白朮一兩三錢佐，薑汁曲糊為丸子，百丸滾水空心嗑。</p>

<h2>呃逆</h2>
<p>脈宜浮緩，忌弦急結代促微。</p>
<p>發呃一名即咳逆，氣逆上衝而作聲，起自胃火為易治，陰火上衝最難平。</p>
<p>發呃屬寒者，多因胃口虛，手足時厥冷，脈沉細無疑。</p>
<p><u>丁香柿蒂</u>　桂良薑，木陳茴乳藿香良，厚朴陳皮甘半夏，砂仁十四味煎膏。</p>
<p>發呃屬熱者，發熱多煩渴，脈數認其真，休將熱藥啜。</p>
<p><u>小柴胡湯</u>　不用參，藿茴沉木與砂仁，梔子陳皮並柿蒂，竹茹烏梅效有神。（十四味）</p>
<p>胃中有痰火，亦令人發呃，清火豁痰涎，服之立可得。</p>
<p><u>黃連竹茹</u>　麥門冬，山梔陳皮半夏同，沉木茴香紫蘇子，砂仁甘草可收功。（十三味）</p>
<p>水寒停胃口，發呃不得了，燥濕與溫寒，醫人須要曉。</p>
<p><u>茯苓半夏</u>　並柿蒂，丁香茴香與薑桂，厚朴陳皮草砂仁，沉木藿香十四味。</p>
<p>臍下氣上升，發呃屬陰火，降火與滋陰，自然得安可。</p>
<p><u>滋陰降火湯</u>　（方見虛勞，治陰火上升發呃。依本方加砂仁、沉香、廣木香、山梔、柿蒂，神妙）</p>
<p>中氣短不足，發呃氣不續，六脈必虛微，補氣是其福。</p>
<p><u>補中益氣湯</u>（方見內傷，加五味、麥門冬、黃柏或少加附子）</p>
<p>傷寒大熱症，陽明經內實，醫者失於下，因而致咳逆。</p>
<p><u>六一順氣湯</u>（方見傷寒）</p>
<p>傷寒熱傳經，醫誤用薑桂，熱藥助火邪，痰火發咳逆。</p>
<p><u>黃連解毒湯、白虎湯</u>　及竹瀝之類治之，或黃荊子皮水煎，服之立止咳。</p>
<p>瀉痢與傷寒，結胸併發黃。若還發呃逆，難以得安康。</p>
<p>灸咳逆法：乳根二穴，直乳一寸六分。婦人在乳房下，起肉處陷中，灸七壯效。</p>

<h2>噯氣</h2>
<p>噯氣口張氣，胸膈氣上升，胃中有痰火，亦有胃寒並。</p>
<p>胃熱噯氣，有痰有火，清火豁痰，順氣即可。</p>
<p><u>加味二陳</u>　炒山梔，砂仁白蔻木香宜，益智枳連姜厚朴，再加附子更為寄。（十二味）</p>
<p>胃寒噯氣，治要理中，順宗開鬱，氣血疏通。</p>
<p><u>理中湯</u>　里去參苓，加入茴香益智仁，陳樸木香香附子，胃寒噯氣服之神。（八味）</p>

<h2>吞酸</h2>
<p>吞酸胃中有濕熱，吞酸吐酸要分別，吞酸上水刺心頭，吐酸出水多成噎。</p>
<p>吞嚥酸水，濕熱在胃，除濕清熱，兼化痰治。</p>
<p><u>清郁二陳</u>　蒼朮芎，枳實黃連香附同，梔子白芍神麯倍，吞酸嘈雜總收功。（十二味）</p>
<p>吐出酸水，皆屬濕熱，濕熱清除，莫待成噎。</p>
<p><u>蒼連湯</u>　內用砂仁，半夏陳皮並茯苓，神麯甘草吳茱炒，生薑煎服立安寧。（九味）</p>
<p>吞酸吐酸，和胃平肝，清火解鬱，淡薄可安。</p>
<p><u>香砂平胃散</u>　（方見傷寒，依本方加炒黃連、山梔、吳茱，去枳實、木香）</p>
<p>口吐清水，濕在胃口，利水燥濕，自然安了。</p>
<p><u>三白湯</u>　中用白朮，蒼朮壁土炒滑石，更有陳皮白茯苓，五味將來水煎吃。</p>

<h2>嘈雜</h2>
<p>嘈雜胃中痰火動，亦有血少心驚忡，食鬱作嘈立開鬱，治當分別莫雷同。</p>
<p>嘈雜胸中，痰因火動，豁痰清火，投之立中。</p>
<p><u>化痰清火</u>　半南星，石膏知母與黃芩，梔連陳皮蒼白朮，白芍甘草總堪任。（十二味）</p>
<p>嘈雜心中，多因血少，驚悸怔忡，養血為妙。</p>
<p><u>當歸補血</u>　生熟地，參苓白芍與山梔，陳皮白朮麥門草，烏梅辰砂炒米宜。（十三味）</p>
<p>食鬱作嘈，飲食傷胃，養胃開鬱，調理可愈。</p>
<p><u>香砂平胃散</u>　（方見傷食。依本方加炒連、炒梔、炒芍、川芎、辰砂，去枳實、藿香）</p>
<p>嘈雜悶亂，噁心發熱，頭痛胸痞，消食清郁。</p>
<p><u>消食清郁</u>　二陳宜，神麯山楂連術梔，香附川芎麥芽炒，藿香枳殼莫相違。（十四味）</p>

<h2>諸氣</h2>
<p>脈宜浮緊弦急，不宜虛弱。</p>
<p>喜怒憂思悲恐驚，一有怫鬱諸病生，男要全神須養氣，女宜平氣以調經。</p>
<p>凡氣有餘之疾宜：</p>
<p><u>四七湯</u>　半夏，茯苓並紫蘇，厚朴生薑炒，諸氣盡消除。（四味）</p>
<p><u>分心氣飲</u>　木通桂，赤芍茯苓半夏配，桑白大腹青陳皮，紫蘇羌活甘草類。（十二味）</p>
<p><u>上下分消導氣湯</u>　，芎苓枳梗樸通榔，半夏黃連蔞澤草，桑白青皮麥附良。（十六味）</p>
<p>凡氣不足之疾宜：</p>
<p><u>四君子湯</u>　加砂仁，當歸厚朴並紅陳，氣虛甚者黃耆炒，薑棗同煎大補真。（八味）</p>
<p>公私拂情，利名失志，抑鬱煩惱，病滿腦臆，面黃形羸，不思飲食。</p>
<p><u>交感丹</u>　用香附米，一斤河水浸炒起，茯神去木四兩秤，蜜丸彈大白湯吃。（二味）</p>
<p>流濕潤燥，推陳致新，散郁破結，活血通經，氣分百病，此藥堪平。</p>
<p><u>利氣丸</u>　用牛與黃，香附各秤四兩強，莪朮檳榔枳殼炒，青陳黃連與木香，各用一兩柏三兩，水丸七十淡薑湯。（十一味）</p>

<h2>青筋</h2>
<p>青筋症起多因氣，氣逆不行血凝滯，惡血攻心火片時，砭針曲池出血治。（曲池在兩手腕中，青筋頭上，男左女右，用砭針打之去血，即服白虎丹，神效）</p>
<p><u>白虎仙丹</u>　古礦灰，穀神子制救人災，臼中為末水飛過，手上成丸日曬來，引用燒酒一二盞，每服須吞五十枚，保全男婦青筋症，廣積陰功遍九垓。</p>
<p>南方有痧症，北地患青筋，多由七情起，或是六淫成，使氣不運用，致血不通行，心慌痰喘急，噎塞氣上升，胸中痞滿悶，心腹痛無停，眩暈眼黑暗，頭痛耳常鳴，憎寒復壯熱，唇黑麵顏育，四肢沉困倦，百節苦痠疼，渾身麻木痹，手足厥冷並，飲食全不納，噁心慌不寧，要把青筋打，瘀血自然行，專治心腹痛，又醫帶下崩，不拘赤白痢，打撲瘀血凝，仙方名白虎，一服效通靈。</p>

<h2>痞滿</h2>
<p>脈堅實者順，虛弱者逆。（按之堅而軟，無塊為痞，多是痰鬱結成，或飲食停滯而成也）</p>
<p>痞滿胸膈欠舒暢，七情六淫不升降，治宜開鬱以寬中，能分虛實方停當。</p>
<p>痞滿不食，養胃是宜，半攻半補，乃是良醫。</p>
<p><u>養胃湯</u>　中用白朮，香附砂仁並枳實，木香半夏茯陳甘，厚朴藿香薑棗一。（十二味）</p>
<p>內傷元氣，而作痞滿，益氣補中，其功稍緩。</p>
<p><u>加減補中益氣湯</u>（方見內傷）</p>
<p>痞滿內熱，夜臥不安，臥則愈悶，和中乃寬。</p>
<p><u>解鬱和中</u>　用二陳，青皮黃連山梔仁，香附前胡蘇子樸，枳殼神麯總相尋。（十三味）</p>

<h2>臌脹</h2>
<p>屬足太陰脾土。腹脹浮大是出厄，虛小命殂須努力。</p>
<p>若臍凸肉硬，肚大青筋，足背手掌俱平，男從腳下腫上，女從頭上腫下，並皆不治。</p>
<p>脾胃不運氣虛損，濕熱相蒸成臌脹，中空無物似於鼓，濁氣在上清下降，健脾順水要和中，莫將峻利把命喪。</p>
<p>肚腹脹甚，脾虛中滿，上下分消，利濕莫緩。</p>
<p><u>分消湯</u>　內蒼白朮，木香香附砂枳實，豬苓澤瀉大腹皮，陳皮茯苓川厚朴。（十二味）</p>
<p>脹屬脾胃，氣血俱虛，大補榮衛，乃是良規。</p>
<p><u>行濕補氣養血湯</u>　，參朮歸芎茯木香，大腹甘芍蘇陳樸，海金蘿蔔木通良。（十五味）</p>
<p>腹中熱脹，或有積聚，消脹化積，是為正治。</p>
<p><u>廣朮潰堅</u>　柴升麻，芩連歸樸半紅花，曲澤青陳皮草蔻，益智吳茱甘草佳。（十七味）</p>
<p>腹中寒脹，不喜飲食，暖胃溫中，脹滿自去。</p>
<p><u>香樸湯</u>　中大附子，炮去皮臍七錢五，厚朴一兩姜炒乾，木香三錢薑棗煎。（三味）</p>
<p>腹脹痞滿，痰嗽喘促，大便虛閉，乃氣所獨。</p>
<p><u>分心氣飲</u>　（方見諸氣。依本方加三稜、莪朮、檳榔、香附、烏藥）</p>

<h2>水腫</h2>
<p>屬足太陰脾經，脈宜浮大，不宜沉細。若大便瀉，脈細結者死。</p>
<p>水腫氣急小便澀，血腫氣滿四肢寒，朝寬暮急是血虛，暮寬朝急是氣虛，氣血俱虛朝暮急，健脾除濕利水宜。</p>
<p><u>實脾飲</u>　中蒼厚朴，白朮茯苓陳枳殼，豬苓澤瀉大腹皮，木香香附砂仁著。（十二味）</p>
<p><u>加減胃苓湯</u>　木瓜，檳榔大腹與山楂，香附砂仁神麯炒，諸般水腫用為佳。（十六味）</p>
<p><u>消腫調脾</u>　枳桔黃，胃苓參附縮牛榔，桑皮茴果稜莪朮，木通大腹木瓜香。（二十四味胃苓湯，去白朮、茯苓不用）</p>
<p>水腫遍身，腹有積塊，諸氣不和，用之應瘥。</p>
<p><u>木香流氣</u>　枳蘇蓬，參朮青陳茯桂通，檳果腹沉香附樸，瓜菖丁芷半黃冬。（二十四味）</p>
<p>水腫因氣惱，腹脹胸膈飽，時腫又時消，順氣即安好。</p>
<p><u>分心氣飲</u>（方見諸氣，加豬苓、澤瀉、車前、葶藶、木瓜、麥門冬）</p>
<p>濕熱作腫脹，大便滑下泄，小便赤色少，利水清濕熱。</p>
<p><u>葶藶木香散</u>　滑石，豬苓澤瀉茯苓桂，木通白朮與甘草，為末三錢湯送去。（十味）</p>
<p>遍身水腫，腹脹如鼓，宜此消散，後仍調補。</p>
<p><u>金蟾散</u>　即大蛤蟆，腹內須教入縮砂，罐封炭火燒存性，為末酒調服更佳。</p>
<p>水腫腹脹，氣弱脾虛，半消半補，毋得執泥。</p>
<p><u>消腫除脹</u>　四君湯，豬澤芩通滑木香，桑腹陳苓皮並麥，燈草姜皮用最良。（十三味）</p>

<h2>積聚</h2>
<p>脈宜實大，不宜沉小。腹中有積忌虛弱。</p>
<p>五積屬陰五臟生，六聚屬陽六腑成，左為死血右食積，中為痰飲各有名，活血理氣健脾胃，半攻半補塊消平。</p>
<p><u>潰堅湯</u>　內用當歸，白朮半夏與陳皮，香附枳實山楂肉，砂仁厚朴木香宜。（十味）</p>
<p><u>真人化鐵</u>　用稜莪，枳樸青陳曲附多，芎歸桃仁紅花草，山楂黃連木檳和。（十七味）</p>
<p>積塊屬熱，要清鬱結，理氣平肝，積漸消滅。</p>
<p><u>柴平湯</u>　內用柴胡，蒼半青陳枳殼抉，神麯山楂芩厚朴，稜莪甘草病當除。（十三味）</p>
<p>積塊屬寒，氣塞不寬，破郁消積，漸次平安。</p>
<p><u>大七氣湯</u>　厚肉桂，桔梗藿香附益智，甘草稜莪青陳皮，薑棗煎服療積聚。（十味。一方加大黃、檳榔，治諸蟲積、血鱉、長蟲，打下即愈）</p>
<p>男子積塊，腹中疼痛，溫藥一投，百發百中。</p>
<p><u>千金化氣</u>　芍芎榔，砂附稜莪丁木香，枳蔻青陳甘草果，腹芷玄茴半樸姜。（二十三味）</p>
<p>女子積塊，遊走不定，上下攻痛，一服立應。</p>
<p><u>千金導氣</u>　丁木香，砂仁白蔻枳芎姜，樸芷芍歸甘白朮，青陳稜莪小茴良，乳沒牛杜紅乾漆，桂桔烏附角茴香。（二十九味）</p>
<p>丈夫酒積，婦人血積，小兒食積，一切諸積。</p>
<p><u>腥紅</u>　稜莪青陳皮，干良薑各一兩宜，香附二兩炒為末，醋丸薑湯送下之。（十味）</p>

<h2>五疸</h2>
<p>疸病面黑，作渴腹脹者，必成疸症也。渴欲飲水，小便不利者，必發黃也。</p>
<p>五疸俱是濕與熱，遍身上下如金色，除濕清熱利小便，實者黃而虛者白。</p>
<p>黃疸便閉，內有濕熱，通利二便，黃可退徹。</p>
<p><u>茵陳大黃</u>　用山梔，滑石厚朴枳實隨，已上等分甘減半，燈草煎來不用疑。（七味）</p>
<p>五疸濕熱，遍身發黃，清利水道，便是良方。</p>
<p><u>茵陳散</u>　里茯豬苓，梔子黃連枳實並，蒼朮厚朴白滑石，澤瀉燈草水煎靈。（十味）</p>
<p>腎疸目黃，身黃尿赤，所用風藥，風能勝濕。</p>
<p><u>腎疸湯</u>　中羌獨活，藁木升麻防風葛，神麯甘草楝人參，黃柏蒼朮四苓合。（十六味）</p>
<p>濕熱發黃，汗黃尿赤，利水除濕，清熱可已。</p>
<p><u>茯苓滲濕</u>　用豬苓，芩連梔子與茵陳，木通防己並澤瀉，枳實陳皮蒼朮真。</p>

<h2>痼冷</h2>
<p>痼冷寒之甚，四肢作厥逆，腹痛冷汗出，陰囊忽縮入，身靜語無聲，氣少難喘息，目睛不了了，口鼻冷氣襲，大小便不禁，水漿不肯吸，面寒如刀刮，先要用蔥熨，急將熱藥投，百中無一失。</p>
<p><u>加味理中</u>　大附子，人參白朮乾薑使，肉桂陳皮白茯苓，棗姜甘草痛立止。（八味）</p>
<p><u>固陽湯</u>　內用參耆，白朮乾薑厚朴齊，白姜腹痛良薑倍，茯苓大附獨稱奇。（九味）</p>
<p><u>回春散</u>　治冷陰如神。</p>
<p>一錢白礬八分丹，二分胡椒細細研，焰消一分共四味，釅醋調和手內攤，男左女右合陰處，渾身是汗濕衣衫。此方屢用如神效，不義之人不可傳。</p>
<p>灸男左手、右手中指一壯，再灸臍下三寸，名關元穴，七壯。</p>

<h2>斑疹</h2>
<p>凡斑即出，須得脈洪數有力。身溫、手足溫者易治。若脈沉小、足冷，元氣虛弱者難治。</p>
<p>凡斑疹，先從四肢起，而後入腹中者死。</p>
<p>發斑紅赤為熱，若紫不赤為熱甚，若還紫黑為胃爛，赤斑半生半死症，黑斑九死一個生，大抵鮮紅稀即靜。</p>
<p><u>升麻葛根湯</u>（方見傷寒）</p>
<p><u>人參化斑</u>　一錢參，石膏知母各三錢，甘草五分米一撮，水煎一劑即安然。（四味）</p>

<h2>發熱</h2>
<p>傷寒發熱者，寒邪傷於衛，脈來緊有力，此是外感致。</p>
<p><u>九味羌活湯</u>（方見傷寒）</p>
<p>傷暑發熱者，熱邪傷於榮，脈虛遲無力，暑傷元氣明。</p>
<p><u>清暑益氣湯</u>（方見中暑）</p>
<p>內傷發熱者，陽氣自損傷，此病屬脾肺，脈大無力量。</p>
<p><u>補中益氣湯</u>（方見內傷）</p>
<p>陰虛發熱者，陰血自損傷，此病屬心腎，脈數無力殃。</p>
<p><u>滋陰降火湯</u>（方見虛勞）</p>
<p>夜間則身靜，晝上即發熱，此熱在氣分，清涼藥可啜。</p>
<p><u>小柴胡湯</u>（方見傷寒。依本方加梔子、黃連、知母、地骨皮）</p>
<p>晝上則身靜，夜間即發熱，此熱在血分，滋陰火自滅。</p>
<p><u>四物湯</u>（方見補益。依本方加知母、黃柏、黃連、梔子、牡丹皮、柴胡）</p>
<p>不分晝與夜，一般只發熱，熱在氣血分，清補是明哲。</p>
<p><u>四物湯合小柴胡湯</u>　，加黃連、梔子。</p>
<p>子午潮熱者，此是坎離虛，降火與滋水，標本兼濟之。</p>
<p><u>逍遙散</u>（方見婦人。依本方加黃連、胡黃連、麥門冬、地骨皮、秦艽、木通、車前、燈草）</p>
<p>發熱憎寒者，邪在半表裡，分利陰與陽，寒熱病自愈。</p>
<p><u>小柴胡湯合五苓散</u></p>

<h2>諸虛</h2>
<p>脈大無力是氣虛，脈數無力是血虛。</p>
<p>氣虛脾肺弱，面黃肌瘦消，胸痞食不思，諸病相兼作。</p>
<p><u>四君子湯</u>　用人參，白朮茯苓甘草兼，能醫氣分諸虛症，王道之醫在此間。（四味）</p>
<p>血虛心腎虧，日晡發寒熱，煩躁不安寧，百病來相挾。</p>
<p><u>四物湯</u>　內用當歸，川芎白芍地黃宜，能醫血分諸虛症，應變隨機莫執泥。（四味）</p>
<p>氣血兩虛損，肝腎傷根本，此藥可調和，用之最平穩。</p>
<p><u>八珍湯</u>　（即四君子湯合四物湯是也）</p>
<p>萬病總歸虛，三方損益施，玄機能勘破，再世一盧醫。</p>
<p><u>十全大補湯</u>（即八珍湯加黃耆、肉桂，十味是也）</p>
<p><u>補中益氣湯</u>（方見內傷）</p>
<p><u>六味地黃</u>　用八兩，山藥石棗共半斤，茯苓牡丹同澤瀉，各秤三兩要均勻，為末為丸梧子大，百丸酒下用空心。</p>
<p>思傷心血，欲損肝氣，心腎不交，水火不濟，大補諸虛，平和之劑。</p>
<p><u>神仙既濟丹</u>　巴戟，蓯蓉石菖蒲遠志，牛膝杜仲小茴香，菟絲石棗甘枸杞，山藥人參五味子，黃柏知母生熟地，麥門茯苓甘菊花，陳皮梔子研末制，棗肉蜜丸梧子大，空心百丸酒下去。（二十二味）</p>
<p>五勞七傷，諸虛百損，男子精憊，有傷根本，婦人虛冷，經候不準。</p>
<p><u>延齡固本</u>　生熟黃，天麥杜膝茯參香，巴山杞棗柏五味，各秤二兩要精詳，菖志覆車蓉澤菟，地骨川椒兩半強，酒糊為丸仍酒下，每服空心五十雙。（如婦人，加當歸身酒洗，赤石脂，各一兩。上共二十六味）</p>
<p><u>養心益腎百補丸</u>　（方見後雜方。治諸虛百損，補養第一，真仙方也，珍之重之）</p>

<h2>虛勞</h2>
<p>骨蒸勞熱，脈數而虛，熱而澀小，必損其軀，加汗加咳，非藥可除。</p>
<p>房勞太過度，心腎有虧損，熱嗽喘血痰，相火動因忿，降火要滋陰，治標當固本。</p>
<p>陰虛火動骨蒸熱，壯盛童便要清潔，連進數服熱勢減，加入湯藥一同啜。</p>
<p><u>滋陰降火</u>　芍當歸，白朮陳皮甘草隨，天麥門冬生熟地，黃柏知母補陰虛。（十味）</p>
<p><u>清離滋坎湯</u>　山藥，生熟天麥茯歸芍，牡丹澤瀉術山茱，黃柏知母甘草著。（十五味）</p>
<p><u>六味地黃丸</u>（方見諸虛。加紫河車。其治虛勞之聖藥也）</p>
<p>清痰降火，滋陰化源，潤肺補腎，培其本根。</p>
<p><u>滋陰清化</u>　生熟黃，天麥門冬二兩強，苓芍知玄山枸杞，薏苡一兩各秤量，黃柏酒炒一兩半，甘草五錢生用良，五味七錢同研末，蜜丸彈子咽津嘗。（十四味）</p>
<p><u>白雪干糕</u>　美滋味，大米糯米各升許，蓮肉芡實山藥炒，各秤四兩要研細，白砂糖用一斤半，攪勻籠內蒸成劑，虛勞泄瀉並內傷，脾胃虧損當飲食。（六味）</p>
<p>勞瘵之源，根深固蒂，起非一朝，病非一夕，醫難一方，藥難一劑，房室要絕，惱怒要去，妄想要息，厚味要忌，要求明醫，莫惜所費，調攝經年，沉疴可愈。</p>

<h2>吐血</h2>
<p>大凡失血，脈貴沉細，說見洪大，後必難治。</p>
<p>大抵失血俱屬熱，陽盛陰虛妄行血，紫黑成塊清除之。新鮮紅血當止塞。若有死血在胃口，吐不盡時成血結，諸失血後宜調之，補榮湯中真妙絕。</p>
<p>吐血出於胃，吐出全是血，清熱引歸經，熱除血自歇。</p>
<p><u>止血生地</u>　八兩數，搗汁童便重湯煮，大黃生末五六分，空心調服一盞許。（三味）</p>
<p>吐血成鬥許，管仲末二錢，柏葉汁一碗，發灰五分全。共入重湯煮，取出入童便，黃酒加少許，頻頻入口吞。</p>
<p><u>犀角地黃湯</u>　最良，牡丹赤芍四般藏，衄血與吐同涼血，能除諸熱不須詳。（四味，再加黃連、黃芩，殊效）</p>
<p>先起只吐痰，末後方見血，漫說與醫人，此症是積熱。</p>
<p><u>清肺湯</u>　用芎當歸，天麥梔芩桑白皮，生地茯陳甘紫菀，阿膠烏梅共㕮咀。（十四味）</p>
<p>先間見吐血，後見覆吐痰，如此是何症，陰虛火上炎。</p>
<p><u>滋陰降火湯</u>（方見虛勞）</p>
<p><u>六味地黃湯</u>（方見諸虛）</p>
<p>調理之劑</p>
<p>吐血衄血並嘔吐，咯血痰血及唾血，後用此方調理之，大補榮中清客熱。</p>
<p><u>補榮湯</u>　中生熟地，當歸白芍草山梔，人參麥門茯苓等，陳皮烏梅棗子宜。（十味）</p>

<h2>衄血</h2>
<p>鼻衄吐血沉細宜，忽然浮大即頃危。</p>
<p>衄血出於鼻，火熱來克肺，清火與滋陰，服之血自止。</p>
<p><u>清肺湯</u>　中歸芍地，香附芩連梔子是，赤芍桔梗生甘草，藕節柏葉一同類。（十二味）</p>
<p><u>三仙飲子</u>　治衄血，人乳童便好酒竭，三味等分重湯煮，溫服一碗立可截。</p>
<p>鼻衄久不止，大紙作十褶，水溫置頂中，熨之加神捷。</p>
<p>鼻衄久不止，蘿蔔子然計，無灰黃酒和，飲之效可立。</p>
<p>鼻衄久不止，馬驢糞焙末，血餘灰等分，少許吹鼻過。</p>
<p>鼻衄久不止，大蒜搗如泥，左鼻若出血，左腳心下塗，右鼻若出血，右腳心下敷，兩鼻俱出血，兩足心內鋪。</p>

<h2>咳血</h2>
<p>咳血咳嗽出，痰中帶血物，此症肺經來，醫人休恍惚。</p>
<p><u>清咳湯</u>　中用貝母，歸芍桃仁山梔子，桔梗黃芩牡丹皮，白朮青皮甘草煮。（十一味。潮熱加柴胡、赤茯苓）</p>

<h2>咯血</h2>
<p>咯血出於腎，咯出俱血屑，清火豁痰涎，服之保安吉。</p>
<p><u>清咯湯</u>　中有二陳，知母貝母山梔仁，生地阿膠桑葚子，桔梗柳桂效通神。（十三味）</p>

<h2>唾血</h2>
<p>唾血出於腎，鮮血隨唾出，降火補陰虛，其血自消沒。</p>
<p><u>清唾湯</u>　中天麥門，知母貝母黑玄參，桔梗遠志乾薑炒，熟地黃柏可加添。（十味）</p>

<h2>溺血</h2>
<p>溺血小便出，心熱移小腸，清心利水道，只此是良方。</p>
<p><u>清腸</u>　萹蓄並瞿麥，歸芍生地梔連柏，木通知母麥門冬，茯苓甘草皆可得。（十三味）</p>
<p><u>蒲黃散</u>　用炒山梔，通草滑石與當歸，藕節生黃並小薊，甘草竹葉總相宜。（十味）</p>

<h2>便血</h2>
<p>便血大便出，濕熱蘊臟腑，不問糞後前，服之可救苦。</p>
<p><u>清臟湯</u>　中芎芍歸，生地芩連梔柏榆，槐花阿膠側柏葉，大便下血總堪醫。（十二味）</p>
<p><u>枳殼散</u>　黃連，槐花地榆全，白芍並甘草，空心用水煎。（六味）</p>
<p><u>一方</u>　加當歸、生地黃、防風，亦效。</p>

<h2>腸風下血</h2>
<p>腸風下血者，必然在糞前，是名為近血，清熱免憂煎。</p>
<p><u>烏金散</u></p>
<p>柏葉白礬煮，陳棕二兩燒，槐花用四兩，十分休炒焦，每服二錢半，空心用酒調，腸風崩漏痔，一服立時消。</p>
<p><u>柏葉湯</u>　中用地榆，槐花荊芥與芎歸，生地黃連炙甘草，烏梅枳殼緊相隨。（十味）</p>
<p><u>腸風下血</u>　，荸薺紅棗，水煮一斤，食之即好。</p>
<p>腸風下血絲爪根，經霜露過三五錢，水煎入油如錢大，空心一服斷根源。</p>

<h2>臟毒下血</h2>
<p>臟毒下血者，必然在糞後，是名為遠血，解毒方為妙。</p>
<p>解毒一名　八寶湯　，黃芩黃連黃柏良，梔子連翹槐花等，細辛甘草共煎嘗。（八味）</p>

<h2>臟寒下血</h2>
<p>臟寒下血，無痛脈微，陽虛陰走，溫則是宜。</p>
<p><u>理中湯</u>（方見中寒）並薑、桂之類。</p>

<h2>積熱下血</h2>
<p>積熱下血，甚則兼痛，脈來洪數，解毒堪用。</p>
<p><u>三黃丸</u>　大黃，黃連黃芩良，等分研細末，水丸茶下涼。</p>
<p><u>人參敗毒散</u>（方見傷寒，加黃連。如酒毒下血，黃連用巴豆同炒，去巴豆不用）</p>
<p>余方附後：</p>
<p>腸風臟毒腸澼血，乾柿燒灰存性研，空心米飲調二錢，不拘新久如神捷。</p>
<p>腸風臟毒痔便血，黃連酒炒四兩切，入在豬臟兩頭扎，韭菜二斤水同煎，服藥搗爛丸不折，空心每服八十丸，米湯送下宜溫熱。</p>

<h2>盜汗</h2>
<p>盜汗屬陰虛，每向睡中出。若還醒則止，血虛非鬼祟。</p>
<p><u>當歸大黃</u>　生熟地，黃芩黃連黃柏宜，黃耆加倍各等分，水煎一服有神奇。（七味）</p>
<p><u>當歸地黃</u>　用生熟，芍耆陳草參苓朮，知母黃柏蜜水炒，滋補氣血汗自沒。（十二味）</p>

<h2>自汗</h2>
<p>謂不經發汗自出者是也。（忌用生薑）</p>
<p>自汗屬陽虛，不拘時常出，須當補氣虛，汗出如油卒。</p>
<p><u>參耆湯</u>　里有當歸，白朮茯苓熟地宜，酸棗烏梅甘白芍，再加牡蠣與陳皮。（十一味）</p>
<p>男子失精，女人夢遺，盜汗自汗，宜實腠理。</p>
<p><u>白龍湯</u>　中用桂枝，牡蠣龍骨煅為奇，白芍酒炒甘草炙，二枚棗子共煎之。（五味）</p>
<p><u>文蛤散</u>　即五倍子，為末津調臍內使，絹帛繫縛過一霄，自汗盜汗俱可止。</p>

<h2>眩暈</h2>
<p>肝脈溢大多眩暈，諸風掉眩皆屬於肝。</p>
<p>眩者言其黑，暈者是旋轉，皆屬虛與痰，治法當分辨。</p>
<p><u>清眩化痰湯</u>　茯苓、陳皮半夏草南星，川芎白芷防羌活，細辛枳實酒黃芩。（十二味）</p>
<p>肥人頭眩暈，氣虛有濕痰，除濕清痰氣，補氣病自安。</p>
<p><u>四君子湯</u>　加天麻，半夏陳皮白芷賒，蜜炒黃耆白桔梗，當歸川芎莫要差。（十三味）</p>
<p>瘦人頭眩暈，血虛有痰火，清火化痰涎，養血即安可。</p>
<p><u>四物湯</u>　中加陳皮，片芩去朽小山梔，茯苓天麻各等分，甘草人參減半之。（十二味）</p>
<p>忽然眩暈倒，必定是風痰，其脈多浮滑，祛風化痰涎。</p>
<p><u>加減二陳</u>　去半夏，人參枳朮與南星，羌活防風瓜蔞子，芎歸桔梗好相應。（十味）</p>
<p>勞役人眩暈，飢飽傷中氣，六脈皆虛微，補養真良劑。</p>
<p><u>補中益氣湯</u>　（方見內傷。依本方加半夏、熟地黃、白芍、天麻）</p>
<p>陰虛火動人，頭目多眩暈，六脈加數時，降火滋心腎。</p>
<p><u>滋陰降火湯</u>　（方見虛勞。依本方加川芎、天麻、山梔、竹瀝少許）</p>
<p>氣虛極欲倒，如坐舟車上，手足時厥冷，脈細是其恙。</p>
<p><u>參附湯</u>　（即人參五錢，大附子炮三錢，生薑煎服）</p>
<p>頭眩眼黑暗，如在風雲中，此中胃氣損，停痰濕在胸。</p>
<p><u>半夏白朮天麻湯</u>（方見頭痛）</p>
<p><u>加減十全大補湯</u>（方見諸虛。治眩暈如神）</p>

<h2>麻木</h2>
<p>渾身麻乃是氣虛，氣血虛損麻四肢，本是濕痰並死血，麻痹氣鬱經絡滯。</p>
<p>渾身麻木，乃屬氣虛，補中益氣，開鬱兼施。</p>
<p><u>加味益氣</u>　加桂枝、木香香附子青皮，更有川芎薑棗煮，大補真元正氣虛。（十一味）</p>
<p>手足麻木，屬氣血虛，大補氣血，風藥引之。</p>
<p><u>加味八仙</u>　用柴胡，羌活防風牛膝咀，陳皮桂枝姜半夏，秦艽再入薑棗扶。（十六味。八仙即八物湯是也）</p>
<p>本是濕痰，或是死血，活血化痰，兩般是法。</p>
<p><u>雙合湯</u>　中芎歸芍，陳皮半夏茯苓著，桃仁紅花白芥子，生地甘草生薑佐。（十一味）</p>
<p>手足麻痹，氣滯經絡，開結舒經，氣血通活。</p>
<p><u>開結舒經</u>　蘇桂枝，臺烏香附草陳皮，羌活天南星半夏，川芎蒼朮和當歸。（十二味）</p>
<p>手足麻痹，身肉如癡，痛癢不覺，爬如隔衣，久成風厲，血滯氣虛。</p>
<p><u>天麻地膚</u>　芎歸參，鮮皮防己威靈仙，羌獨桂牡草烏炮，生地紅花苦參然，水煎入酒和童便，戒房除味保安全。（十六味）</p>

<h2>癲狂</h2>
<p>癲是心經血不足，喜笑不常顛倒事，脈搏大滑者為生，沉小緊急多不治。</p>
<p><u>養血清心湯</u>　遠志，人參白朮並生地，茯苓川芎酸棗仁，菖蒲當歸甘草類。（十味）</p>
<p><u>寧志化</u>　痰牛膽星，半夏陳皮白茯苓，黃連天麻酸棗炒，菖蒲人參用最靈。（九味）</p>
<p>狂為痰火實大盛，狂亂動止無正定，熱狂脈實大者生，沉小決定傷生命。</p>
<p><u>防風通聖散</u>（方見中風。依本方加牡丹皮、生地黃、桃仁）</p>
<p><u>獨參丸</u>　治發狂邪，殺人大叫亂交加，苦參蜜丸梧子大，薄荷湯下甘丸佳。</p>
<p>婦人患癲喜歌唱，亂走逾垣把屋上，營血迷於心包絡，致生怪症難形狀。</p>
<p><u>加味逍遙</u>　加遠志，桃仁紅花並生地，有熱加入小柴胡，再把辰砂末調劑。（十味）</p>

<h2>癇病</h2>
<p>脈虛弦為驚，為風癇。</p>
<p>癇病身軟即暈倒，痰涎壅並人不曉，咬牙吐痰片時間，甦醒過來如舊好。</p>
<p><u>加味二陳</u>　加南星，枳實桔梗並黃芩，瓜蔞木香山梔子，辰砂為末旋加臨。（十味）</p>
<p><u>加減壽</u>　南星半夏，荊防皂角與天麻，青皮細辛四苓散，茯神香附子為佳。（十四味）</p>
<p><u>追風半夏</u>　用六兩，姜礬皂水浸三朝，南星三兩制同上，防附蠶麻二兩饒，香蠍枯礬各半兩，牙皂一兩炒休焦，姜糊丸似梧子大，七錢硃砂為衣標，食後臨臥七十粒，薑湯送下病當瘳。</p>

<h2>健忘</h2>
<p>健忘作事無終始，言發不知首與尾，思慮過度損心脾，痰迷心竅亦如是。</p>
<p><u>歸脾湯</u>　里用參耆，茯苓白朮並當歸，遠志酸棗龍眼肉，木香甘草補心脾。（十味）</p>
<p><u>補心湯</u>　用芍參歸，術苓知母草陳皮，生地黃柏石菖蒲，麥門酸棗仁遠志。（十四味）</p>
<p>人若多忘事，遠志茯菖蒲，每日煎湯服，心通萬卷書。（三味）</p>
<p><u>六味地黃丸</u>　（方見補益。治健忘怔忡，驚悸不寐，加遠志肉、石菖蒲、人參、白茯神、當歸、酸棗仁炒，各二錢）</p>
<p>寧心保神，益血固精，壯力強志，定魄鎮驚，怔忡健忘，痰火能清。</p>
<p><u>天王補心</u>　用茯參，桔志玄丹各五錢，生地二兩用酒洗，天麥酸味柏歸連，各秤一兩研為末，蜜丸硃砂作衣穿，臨臥每服二三十，燈心竹葉煮湯吞。（十四味）</p>

<h2>怔忡</h2>
<p>大凡思慮即心跳，此是心經血虛兆，心若時跳又時止，痰因火動治痰妙。</p>
<p>若有思慮，即便心跳，此是血虛，養血為妙。</p>
<p><u>四物</u>　安神生熟地，歸芍參連梔茯是，竹茹白朮麥門冬，辰砂酸棗烏梅類。（十四味）</p>
<p>心若時跳，又復時止，痰因火動，治之立愈。</p>
<p><u>加味二陳</u>　加枳實，麥門竹茹並白朮，黃連梔子炒人參，當歸烏梅辰砂末。（十四味）</p>
<p><u>奇效硃砂安神丸</u>　，黃連酒洗六錢先，炙草當歸二錢半，錢半生地一同研，蒸餅為丸黍米大，五錢硃砂作衣穿，每服不拘三五十，低頭仰臥用津咽。（五味）</p>

<h2>驚悸</h2>
<p>心中驚悸，脈必代結，飲食之悸，沉伏動滑。</p>
<p>驚悸忽驚惕，心中而不安，養血以清火，溫膽兼化痰。</p>
<p>驚悸不安，血虛火動，養血清火，安神可用。</p>
<p><u>養血安神</u>　酸棗仁，芎歸生地白茯神，白朮柏子陳皮芍，黃連甘草炙之靈。（十一味）</p>
<p>驚悸不安，氣虛痰火，養氣化痰，療之立可。</p>
<p><u>加減溫膽</u>　參茯神，歸連枳半麥梔仁，生黃酸棗辰砂末，竹茹白朮甘草尋。（十四味）</p>
<p><u>鎮驚</u>　兩半生地黃，麥門白芍茯陳當，貝母各宜秤一兩，川芎遠志七錢強，黃連酸棗五錢炒，三錢甘草共研良，蜜丸硃砂為衣服，七十臨眠用棗湯。（十三味）</p>

<h2>虛煩</h2>
<p>心煩不得眠，心內熱相煎，虛煩不得臥，心怯膽虛寒。</p>
<p><u>加味溫膽</u>　二陳湯，五味人參熟地黃，竹茹遠志甘草煮，枳實酸棗棗生薑。（十一味）</p>
<p><u>竹葉石膏湯</u>　（方見傷寒。治大病後，表裡俱虛，內無津液，煩渴心躁及諸虛煩熱，與傷寒相似，但不惡寒，身不疼痛，不可汗下，宜服之）</p>

<h2>不寐</h2>
<p>不寐心膽怯，晝夜不得睡，心經氣不足，痰涎沃心內。</p>
<p><u>高枕無憂散</u>　麥冬，陳皮半夏茯苓同，竹茹枳實人參草，石膏龍眼共效功。（十味）</p>
<p><u>酸棗仁湯</u>　參茯苓，等分煎服不相同，如不要睡即熱服，要睡冷服有奇功。（三味）</p>
<p><u>溫膽湯</u>　（方見傷寒。治大病後虛煩不得眠，此膽寒也。依本方六味，加人參、酸棗仁、炒茯神、遠志）</p>
<p><u>安神伏睡湯</u>　，四物益智良，酸棗遠志肉，山藥圓眼方。（九味）</p>

<h2>邪祟</h2>
<p>脈乍大乍小，乍長乍短，此皆邪脈，神志昏亂。</p>
<p>灸鬼秦承祖，驚狂譫妄語，上屋更逾垣，親疏罵不避，麻繩繫縛定，兩手大拇指，介甲兩指角，四處著火起，一連灸七壯，須臾病即愈。</p>

<h1>卷三</h1>

<h2>頭痛</h2>
<p>頭痛短澀應須死，浮滑風疾必易除。</p>
<p>肥人頭痛者，氣虛有濕痰，化痰與除濕，補氣病當安。</p>
<p><u>加味二陳湯</u>　細辛，川芎白芷升人參，羌活桔梗荊芥穗，白朮生薑可救人。（十一味）</p>
<p>瘦人頭痛者，血虛有痰火，降火與清痰，補血病自可。</p>
<p><u>加味二陳</u>　生地黃，當歸川芎細辛羌，酒洗片芩白桔梗，生薑煎服立安康。（十一味）</p>
<p>頭痛偏左者，屬風與血虛，補血仍清火，祛風病自除。</p>
<p><u>當歸補血</u>　用川芎，白芍荊芥藁本同，柴胡防風蔓荊子，香附生黃共有功。（十味）</p>
<p>頭痛偏右者，屬痰與氣虛，化痰仍補氣，即此是良醫。</p>
<p><u>黃耆益氣</u>　用人參，白朮陳皮半夏兼，芎歸藁本炙甘草，升麻黃柏細辛全。（十二味）</p>
<p>左右頭俱痛，氣血兩般虛，補氣兼養血，一服見神奇。</p>
<p><u>調中益氣</u>　用參耆，柴柏芎歸併陳皮，蒼朮細辛蔓荊子，甘草升麻總可題。（十二味）</p>
<p>痰厥作頭痛，頭旋眼黑暗，如在風雲中，噁心煩悶亂。</p>
<p><u>半夏白朮天麻湯</u>　，參耆曲麥炒乾姜，茯苓澤瀉並黃柏，蒼朮陳皮要審詳。（十三味）</p>
<p>偏正頭痛者，諸風氣上攻，頭目昏沉悶，壯熱鼻傷風。</p>
<p><u>川芎茶調散</u>　薄荷，白芷防風甘草和，更有細辛羌活等，荊芥同煎用者多。（八味）</p>
<p>熱厥頭痛者，見寒痛暫止，嚴冬猶喜寒，見暖痛復起。</p>
<p><u>清上瀉火</u>　用歸芎，芩連升柏柴荊風，蒼蔓藁羌細耆草，知母紅花生地同。（十九味）</p>
<p>頸項強痛者，風邪氣所幹，眉稜骨作痛，風熱並濕痰。</p>
<p>頸項強痛者：</p>
<p><u>回首散</u>（方見中風。即烏藥順氣散加羌活、獨活、木瓜）</p>
<p>眉稜骨痛者：</p>
<p><u>選奇湯</u>　內用防風，酒洗片芩羌活同，甘草更加姜半夏，風痰濕熱有奇功。（五味）</p>
<p>余方附後：</p>
<p>此藥名為　六聖　，乳香沒藥川芎，雄黃白芷二錢停，半兩盆硝共用。上件研為細末，專醫眼疾頭風，耳鳴鼻塞腦不寧，一搐牙痛便定。</p>
<p><u>頭風腫痛</u>　用南星，白芷川芎各等平，全蠍細茶荊芥穗，水煎溫服保安寧。</p>
<p><u>都梁丸</u>　治頭風痛，白芷蜜丸一錢重，食後嚼爛細茶吞，諸般頭痛皆可用。</p>
<p>諸般頭痛不堪言，花粉胡椒各一錢，新艾不拘多與少，研末紙卷火燒煙，熏入男左女右鼻，口噙涼水立安然。</p>

<h2>鬚髮</h2>
<p>□□為丸梧子大，空心溫酒十五雙，十服之後君休摘，管教華髮黑加光，兼能明目並延壽，老翁變作少年郎。</p>
<p><u>彭老真人延壽丹</u>　，乳朱天麥茯歸參，志菖杜膝茴香鹽。</p>
<p>頭髮屬心血，稟火氣上生，鬚髮屬腎水，稟火氣下成。</p>
<p><u>五老還童丹</u></p>
<p>堪嗟須鬢白如霜，要黑原來有異方，不用擦牙並染髮，都來五味配陰陽，赤石脂與川椒炒，辰砂一味最為良，茯神能養心中血，乳香分兩要相當，棗肉戟川芎，茯神各十錢，生熟知柏只二兩，川椒胡桃四兩全，黃精四兩姜連制，首烏四兩豆蒸玄，蜜丸梧子空心服，鹽湯溫酒任教吞。（二十五味）</p>
<p>上，黃精（用米泔水煮一沸，切片曬乾，旱蓮汁四兩，生薑汁二兩，並酒三味，停對熬膏，浸黃精半日，炒蒼色四兩）</p>
<p>何首烏（赤白兩種捶碎，煮於黑豆水上，九蒸九曬，再用人乳浸透，曬乾四兩）</p>
<p><u>烏雲</u>　倍子炒一錢，銅末醋炒五次研，生礬白鹽三分末，研勻茶汁和稀黏，重湯煮沸燒酒少，皂水先洗後塗髯，包裹一夜茶清洗，形如黑漆似神仙（四味）</p>
<p>烏須黑鬢髮，一瓶真香油，古錢胡桃肉，入油埋年周，取出捻鬚上，即黑如漆同。</p>
<p><u>升麻白芷湯</u>　葛根，蒼朮芍藥黃耆參，更有防風與甘草，蓮肉燈心效如神。（十一味。此方系面病之方）</p>

<h2>面病</h2>
<p>頭面生瘡癤，上焦風熱毒，解毒與祛風，其效如神速。</p>
<p><u>清上防風湯</u>　薄荷，梔翹芩梗甘草和，川芎白芷黃連入，荊芥枳殼一同銼。（十二味）</p>
<p>面唇生紫黑，陽明經不足，升補元氣虛，立見光如草。</p>
<p>薑棗煎服在午前。（九味）</p>
<p>人有面熱者，陽明多見熱，祛風除熱邪，面顏生歡悅。</p>
<p><u>升麻黃連湯</u>　犀角，薄荷荊芥川芎芍，蒼朮白芷酒黃連，甘草黃芩酒炒耆。（十二味）</p>
<p>人有面寒者，陽明經虛寒，補虛溫寒，指日可開顏。</p>
<p><u>升麻附子湯</u>　白芷，人參乾葛並黃耆，益智草蔻炙甘草，蔥白同煎效有餘。</p>
<p>抓破面上皮，生薑自然汁，輕粉末調搽，患處無痕疾。</p>

<h2>耳病</h2>
<p>耳者腎之竅，腎虛耳聾鳴，滋腎降虛火，其耳自聰明。</p>
<p><u>滋腎通耳湯</u>　知母，芎歸白芍並香附，柴胡白芷生地黃，黃連黃芩酒炒助。（十味）</p>
<p>耳聾多因腎虛致，全蠍生薑等分制，炒至生薑干為末，三錢酒調臨睡吃，二更儘量醉飲之，次日耳作笙聲是。</p>
<p>人耳左聾者，忿怒動膽火，清火更平肝，劑投如開鎖。</p>
<p><u>龍膽湯</u>　中用膽星，當歸梔子並連芩，陳皮木香香附子，乾薑青黛與玄參。（十三味）</p>
<p>人耳右聾者，色欲動相火，降火與滋陰，鳴聾立安妥。</p>
<p><u>滋陰地黃</u>　乾山藥，茯苓知柏芎歸芍，瀉澤遠志石菖蒲，山茱牡丹皮同佐。（十三味）</p>
<p><u>獨勝丸</u>　治耳鳴聾，黃柏乳汁浸曬乾，鹽水再炒麵丸藥，空心鹽湯服有功。</p>
<p>兩耳俱聾者，厚味動胃火，清胃去風熱，藥用酒炒過。</p>
<p><u>防風通聖散</u></p>
<p>兩耳腫痛者，腎經有風熱，兩耳若出膿，風熱不須說。</p>
<p>兩耳腫痛宜：</p>
<p><u>荊芥連翹</u>　用防風，柴胡梔子芍歸芎，枳殼黃芩鹹甘草，白芷桔梗總相同。（十味）</p>
<p>兩耳出膿者，宜：</p>
<p><u>蔓荊子散</u>　用升麻，木通桑白赤苓加，赤芍生黃炙甘草，前胡麥門甘菊花。（十味）</p>
<p>氣閉作耳聾，氣復耳自明，痰火氣鬱悶，煩躁不安寧。</p>
<p><u>通明利氣解毒湯</u>　，生地蒼白朮檳榔，撫芎陳皮香附米，貝母玄參草木香。（十味）</p>
<p>耳聾不聽言，細辛蠟熔丸，綿裹入耳內，數日即安痊。</p>
<p><u>氣閉耳聾</u>　用蔥白，一頭入麝送耳中，外頭以艾炙一燋，管教聾閉玄時通。</p>

<h2>鼻病</h2>
<p>左寸脈浮緩為傷風、鼻塞、鼻流清涕；右手脈浮洪而數，為鼻衄、鼻齇。</p>
<p>感冒風與寒，鼻塞聲音重，清涕忽長流，發表藥堪用。</p>
<p><u>通竅湯</u>　用羌防風，乾葛升麻黃芷芎，藁本細辛蒼朮草，引用花椒姜並蔥。（十一味）</p>
<p>肺經有風熱，鼻不聞香臭，麗澤通氣湯，一服還依舊。</p>
<p><u>麗澤通氣湯</u>　黃耆，生葛蒼麻黃白芷，甘草防風羌獨活，川椒煎服氣通之。（十一味）</p>
<p>膽移熱於腦，則辛額鼻淵，濁涕下不已，常常如湧泉。</p>
<p><u>荊芥連翹湯</u>　薄荷，柴胡芎歸生地和，白芷防風芩梗芍，山梔甘草不須多。（十四味）</p>
<p>鼻淵出涕日長流，參芷芎歸茯麥求，荊防薄蔓秦艽草，香附蒼耳一兩頭，天竺三錢研細末，蜜丸梧子米湯投。</p>
<p>人有赤鼻者，熱血入於肺，而成酒齇鼻，養血清火治。</p>
<p><u>清血四物</u>　用芎歸，白芍生地茯陳皮，黃芩紅花甘草減，水煎調下五靈脂。（十二味）</p>
<p>鼻頭紫黑者，多是感風寒，血冷則凝滯，活血是靈丹。</p>
<p><u>當歸活血</u>　芍防風，芩梗梔翹薄芷芎，牡丹紅花甘草入，荊芥薑茶大有功。（十四味）</p>

<h2>口舌</h2>
<p>舌吐不收，名曰陽強，舌縮不能言，名曰陰強。</p>
<p>口舌生瘡痛，三焦實炎盛，養陰以退陽，食遠頻頻進。</p>
<p><u>加減涼膈散</u>　連翹，枳桔芩連梔子饒，生地當歸薄荷葉，甘草芍藥免憂愁。（十一味）</p>
<p><u>赴宴散</u>　中芩連柏，梔子細辛乾薑則，等分為末用少許，搽於患處立可得。（六味）</p>
<p><u>綠袍</u>　黃柏一兩研，再加青黛末三錢，每用少許搽患處，噙之良久吐出涎。（二味）</p>
<p>大凡患口瘡，涼劑投不已，氣虛火炎上，理中湯可治。</p>
<p><u>理中湯</u>　（方見中寒，依本方服之即愈。甚者加附子，或用官桂末摻之）</p>

<h2>牙齒</h2>
<p>牙痛不可忍，辛熱厚味過，胃中積濕熱，清火笑呵呵。</p>
<p><u>清胃散</u>　生地黃連，牡丹當歸身要全，升麻入水同煎服，止痛如神不可傳。（五味）</p>
<p><u>瀉胃湯</u>　中歸赤芍，川芎生地南薄荷，防風荊芥山梔子，牡丹黃連甘草和。（十一味）</p>
<p>開口呷風則痛甚，腸胃之中有風邪；開口臭氣不堪聞，腸胃濕熱甚非些。</p>
<p><u>當歸連翹飲</u>　白芷，細辛生地草山梔，荊芥白芍並羌活，黃芩川芎水煎之。（十一味）</p>
<p>蟲食而痛者，腸胃有濕熱，清火更誅蟲，止痛如手捻。</p>
<p><u>定痛散</u>　內用連翹，當歸生地細辛椒，桔梗苦參並白芷，烏梅黃連甘草饒。（十味）</p>
<p>牙齦宣露者，胃中有客熱，心煩不欲食，熱瘡生咽舌。</p>
<p><u>甘露飲子</u>　枇杷葉，石斛茵陳枳殼切，甘草生熟地黃芩，天麥門冬清客熱。（十味）</p>
<p>牙齒動搖者，此乃腎元虛，擦牙並固齒，補腎最為宜。</p>
<p>馬蜂窩與白蒺藜，花椒艾葉蔥蒂須，荊芥細辛香白芷，醋煎噙漱吐為奇。（八味）</p>
<p><u>六味地黃丸</u>（方見諸虛）</p>
<p><u>固齒</u>　白蒺並生地，故紙炒各二兩是，沒石四個附四兩，青鹽兩半擦牙齒。</p>
<p><u>噙漱藥</u></p>
<p>川烏草烏與防風，荊芥薄荷紫蘇同，半夏甘草同黑豆，花椒艾葉水三鍾，煎至七分來嗽口，牙疼齒痛永無蹤。（十一味）</p>
<p>噙漱藥，治牙腫痛，風牙蟲牙，牙動牙長，痛不可忍。</p>
<p><u>擦牙藥</u></p>
<p>擦牙止痛固齒，石膏火煅斤許，四兩真正青鹽，再加二兩白芷，細辛一兩為末，一擦牙疼立止。（四味）</p>
<p><u>牙咬藥</u></p>
<p>巴豆一個微燒，研勻三粒胡椒，帛包牙咬流水，登時千金一笑。</p>
<p>余方附後：</p>
<p><u>烏須固齒補腎方</u>　，白芍芎歸熟地黃，荊附枸膝二兩半，故紙兩半要相當，細辛三錢升麻五，青鹽三兩共研良，老米一升做丸藥，陰乾罐固火燒桑，存性為末頻擦齒，滾湯漱咽永無傷。（十二味）</p>
<p><u>擦牙烏須</u>　白茯苓，要好遼東香細辛，倍子牙皂炒存性，等分研末擦牙靈。</p>

<h2>眼目</h2>
<p>眼是臟腑之精華，瞳人屬腎黑肝家，眼胞屬脾白珠肺，兩眥屬心經不差。</p>
<p>暴發赤腫痛，上焦風熱甚，清火併祛風，一掃云開淨。</p>
<p><u>退血散</u>　中芎歸芍，梔翹芩防荊薄荷，蒺藜白芷甜葶藶，生地桑皮燈草和。（十四味）</p>
<p><u>救苦</u>　芩連柴柏麻，芎歸龍膽草紅花，羌防翹梗蒼知母，生地藁本細辛佳。（十九味）</p>
<p><u>洗肝明目</u>　歸芎芍，生地芩連荊防佐，梔翹藁薄羌菊花，蔓蒺草決梗可銼。（十九味）</p>
<p><u>眼目腫痛</u>　澀開難，黃連去蘆五錢研，薄荷減半雞清和，隔紙塗眼病當痊。</p>
<p>眼生翳瘴，隱澀難開，羞明怕日，赤腫眵堆。</p>
<p><u>明目流氣</u>　菊荊防，牛蒡玄參芎細蒼，蒺藜蔓荊芩賊草，決明梔子薄荷湯。</p>
<p><u>四明飲</u>　大黃，澤瀉葛花攢，石決用火煅，白水共煎嘗。</p>
<p><u>羊肝丸</u>　子用芎歸，薄菊荊防羌活宜，各用三錢研細末，黃連一兩緊相隨，白乳羊肝生一具，搗為丸子水吞之，不問諸般患眼疾，昏花翳瘴總能醫。（九味）</p>
<p>從病目昏暗，腎水真陰微，昏花不欲視，補腎是良規。</p>
<p><u>滋腎明目</u>　四物湯，生參菊花生地黃，桔梗山梔蔓荊子，黃連白芷草煎湯。</p>
<p><u>六味地黃丸</u>（方見補益，治腎虛昏暗，眼不奈視，神光不足，加當歸、枸杞、甘菊花各二兩半）</p>
<p><u>十全大補湯</u>（方見補益，治血氣虛損之人，久服寒涼過度，以致眼目黑暗，全不通路，加沉香、大附子童便制過、白豆蔻，壯腎水以鎮陽光）</p>
<p><u>神秘羊肝百膽丸</u>　，烏須明目效通玄，老人血衰筋骨痛，除淋滋水養丹田，黑雄羊肝用一具，去筋切碎要新鮮，再入羊膽至百個，夜浸日曬待乾研，柏子川芎生地芍，各五四兩莫教偏，酒浸當歸身八兩，地黃搗爛作膏丸，空心百粒鹽湯下，留取仙方海內傳。</p>

<h2>咽喉</h2>
<p>咽喉忽腫痛，風熱痰火重，外要吹咽喉，內把清涼用。</p>
<p><u>吹喉散</u>　白礬，銀硃量入研，頻頻吹患處，腫痛立安然。</p>
<p>咽喉腫毒死須臾，細辛為末一錢齊，巴豆五分同搗爛，紙卷塞鼻免災危。（二味）</p>
<p>喉痹單鵝風腫痛，山豆根研細末用，雄膽和丸綠豆大，雞胵為衣二味共，一丸放在舌根下，徐徐咽之立可中。</p>
<p><u>清涼散子</u>　甘桔梗，梔翹芩連枳殼等，防風當歸生地黃，薄荷頻服休教猛。（十味）</p>
<p><u>清咽利膈散</u>　芩連，梔翹荊活草玄參，薄荷硝黃牛蒡子，金銀花與防風全。（十四味）</p>
<p>血虛火上升，喉痛生瘡痛，養血降虛火，病愈如風送。</p>
<p><u>加味四物湯</u>　，黃柏知母藏，桔梗天花粉，甘草水煎嘗。</p>
<p><u>清上薄荷</u>　葉五錢，一分雄膽與青鹽，硼砂一錢膽礬許，雄黃五分一處研，白糖化丸芡實大，一丸舌下化之吞。</p>
<p>痄腮作痛腫，上焦風熱症，外貼內服藥，奏效不旋踵。</p>
<p><u>驅風解毒散</u>　防風，荊芥連翹一處攢，甘草羌活牛蒡子，水煎食後奏神功。（六味）</p>
<p><u>灸喉痹法</u>　灸耳垂下三壯，神功。</p>
<p><u>又法</u>　灸陽池二穴三壯，灸訖，扯頭髮三下。</p>

<h2>結核</h2>
<p>人身結核者，風痰氣鬱結，皮裡膜外生，硬如果中核。</p>
<p><u>清風化痰</u>　星半芍，防羌蠶蠍甘翹角，枳桔陳麻膝附蒼，金銀天門木通著。</p>
<p><u>化風</u>　七粒蓖麻子，捻爛紙卷雞子裹，煨熟去麻只食蛋，一早二枚酒下吃。（專治結核瘰癧）</p>
<p>項後疙瘩色不變，不問大小深年月，山藥一塊蓖麻子，三個研勻攤鼻貼。（二味）</p>

<h2>梅核氣</h2>
<p>梅核七情氣，如核如破絮，咯不出不下，痞悶滿胸臆。</p>
<p><u>加味四七</u>　青陳樸，茯苓南星半枳實，神麯白蔻益智仁，檳榔蘇梗縮砂仁。（十三味）</p>

<h2>癭瘤</h2>
<p>五癭著肩項，六瘤隨氣結，皆不可決破，崩潰致夭折。</p>
<p><u>消瘤五海</u>　布螵蛸，海藻海帶海蛤饒，稜莪辛梗木香附，珠琰七個土炒焦。（十二味）</p>

<h2>肺癰</h2>
<p>脈短而澀者易治，浮大者難痊。</p>
<p>肺癰咽燥渴，咳唾有膿血，腥臭與濁味，肢腫胸痛切。</p>
<p><u>桔梗湯</u>　內杏桑皮，黃耆貝母草當歸，薏苡瓜蔞仁枳殼，防風百合總相宜。（十二味）</p>

<h2>肺痿</h2>
<p>寸口脈數而虛，肺痿也。</p>
<p>肺痿久咳嗽，唾沫無膿血，小便數不渴，汗多津液竭。</p>
<p><u>薏苡散</u>　中炙黃耆，人參五味子當歸，白芍麥門冬百部，黃芩加入並桑皮。（十味）</p>

<h2>心痛（即胃脘痛）</h2>
<p>痛甚脈必伏。</p>
<p>心痛即胃痛，初寒稍久熱，其痛有九種，醫者當分別。</p>
<p>心痛初起屬寒宜。</p>
<p><u>胃脘寒痛薑桂湯</u>　，良薑平胃藿茴香，香附縮砂並枳殼，木香磨入引生薑。（十二味）</p>
<p>心痛稍久屬熱宜。</p>
<p><u>心熱解鬱</u>　山梔仁，芎枳黃連蒼朮陳，乾薑甘草同煎服，再加香附效如神。（九味）</p>
<p>實熱湊上壅，心腹刺痛甚，寒熱口燥干，時止時痛陣。</p>
<p><u>加味柴胡湯</u>　黃芩，半夏赤芍山梔仁，枳殼黃連姜一片，急投一劑效如神。（七味）</p>
<p><u>宣氣梔子鹽湯</u>　炒，大黃酒浸火焙乾，滑石木香濃磨汁，梔子薑湯調服安。（四味磨汁，二味煎湯，調服。在上必吐，在下必瀉，其痛立止。外以蘿蔔子炒，絹中包，頻熨痛處）</p>
<p><u>手拈散</u>　用玄胡索，草果乳香並沒藥，五靈等分為細末，每服三錢溫酒嗑。（五味）</p>
<p><u>九氣湯</u>　中香附米，鬱金甘草三味止，不問諸般心腹疼，起死回生真無比。（三味）</p>
<p><u>失笑散</u>　（方見產後，治心氣痛不可忍及小腸氣痛）</p>

<h2>腹痛</h2>
<p>心腹痛脈沉細吉，實大弦急死來侵。</p>
<p>腹痛有寒並有熱，食血濕痰蟲虛實，綿綿不已作寒醫，時痛時止作熱治。</p>
<p>肚腹脹痛，感冒夾食，或兼氣腦，腹滿胸痞。</p>
<p><u>行氣香蘇散</u>（方見飲食）</p>
<p>肚腹冷痛，綿綿不已，手足厥冷，虛寒症是。</p>
<p><u>五積散</u>（方見中寒）</p>
<p>肚腹熱痛，時痛時止，導氣開鬱，諸痛可愈。</p>
<p><u>開鬱導氣</u>　青陳皮，香附川芎白芷宜，茯苓滑石神麯炒，梔子乾薑甘草隨。（十一味）</p>
<p><u>二仙湯</u>　治腹刺痛，白芍黃連甘草共，各秤二錢同酒煎，一服除根立可中。</p>
<p>腹中滿硬，手不可按，積熱便難，實痛可斷。</p>
<p><u>枳實大黃湯</u>（方見傷食）</p>
<p>痛不移處，多是死血，破血理氣，乃是良訣。</p>
<p><u>活血湯</u>　中歸赤芍，桃仁牡丹玄胡索，烏藥香附桂川芎，木香紅花甘枳殼。（十三味）</p>
<p><u>加味承氣湯</u>　，枳樸與硝黃，當歸紅花草，酒水共煎嘗。（七味）</p>
<p>心腹刺痛，似氣一塊，上下走注，手不敢握。</p>
<p><u>住痛散</u>　用玄胡索，大黃白芷稜莪銼，烏藥青皮香附子，五靈甘草生薑佐。（十一味）</p>
<p>腹痛復止，面白唇赤，此是蟲痛，急須溫胃。</p>
<p><u>椒梅湯</u>　中枳木香，砂仁香附與乾薑，厚朴肉桂川楝子，等分甘草及檳榔。（十二味）</p>

<h2>腰痛</h2>
<p>腰間常作痛，此是腎虛症，三因五種殊，毋執一即用。</p>
<p><u>補陰湯</u>　內四物湯，牛膝杜仲小茴香，故紙參芩甘草炙，陳皮知柏酒炒良。（十四味）</p>
<p><u>杜仲湯</u>　用破故紙，小茴玄胡索當歸，牛膝黃柏知母炒，能治腰疼補腎虛。（八味）</p>
<p><u>腰痛</u>　蓯蓉巴戟天，青鹽三味五錢先，杜仲小茴破故紙，各秤一兩要精研，藥入豬腰煨熟吃，空心湯下立欣然。（六味）</p>
<p><u>立安散</u>　內用官桂，玄胡杜仲與當歸，小茴牽牛各一兩，木香一錢為末齊，每用二匙酒調服，氣滯閃挫腎虛宜。（七味）</p>
<p>腰閃失力，跌撲瘀血，大便不通，疏通痛絕。</p>
<p><u>調榮活絡</u>　芎歸尾，赤芍桃仁並生地，大黃紅花及桂枝，牛膝羌活如神劑。（十味）</p>

<h2>脅痛</h2>
<p>脅痛在左者，肝經受客邪，或怒或跌閃，活血順氣佳。</p>
<p><u>疏肝飲</u>　內用芎歸，柴胡白芍與青皮，桃仁紅花並枳殼，黃連吳茱炒用之。（九味）</p>
<p>脅痛在右者，肝經邪入肺，不食腹脹滿，推氣為良劑。</p>
<p><u>推氣散</u>　內片薑黃，桂心枳殼炒去穰，更入五味炙甘草，加上陳皮半夏良。（十</p>
<p>左右脅俱痛，肝火木氣實，平肝把氣調，一服痛如失。</p>
<p><u>柴胡芎歸湯</u>　白芍，木香附子並枳殼，青皮甘草與砂仁，龍膽草入生薑佐。（十二味）</p>
<p><u>當歸龍薈</u>　酒煨黃，青黛黃連梔子藏，各用五錢為細末，木香減半麝香微，神麯糊丸梧子大，每吞三十用薑湯。（九味）</p>
<p><u>一方</u>　加柴胡五錢，青皮一兩，尤妙。</p>

<h2>臂痛</h2>
<p>臂痛是濕痰，橫行於經絡，除濕化痰症，此治真的確。</p>
<p><u>二術湯</u>　中蒼白朮，南星半夏與香附，酒芩羌活威靈仙，陳皮茯苓甘草助。（十一味）</p>

<h2>背痛</h2>
<p>背心一點痛，痰氣之所聚，順氣化痰涎，三方同一劑。</p>
<p><u>三合湯</u>　中枳桔蒼，茯連芎芷半蘇羌，殭蠶甘草並香附，麻黃烏藥共乾薑。（十六味）</p>
<p>兩肩皆作痛，回顧不可得，氣鬱太陽經，痰涎多滯塞。</p>
<p><u>加味豁痰二陳湯</u>　，海桐枳桔片薑黃，蒼朮川芎赤芍藥，梔子香附最為良。（十三味）</p>

<h2>痛風</h2>
<p>遍身骨節四肢痛，血氣風濕痰火併，謂之白虎歷節風，審察病機藥有應。</p>
<p><u>羌活湯</u>　內用當歸，黃芩蒼朮與陳皮，芍藥木香香附草，茯苓半夏總相宜。（十一味）</p>
<p>遍身忽壯熱，骨節作疼痛，此是感風寒，汗出如風送。</p>
<p><u>解表升麻湯</u>　防風，柴胡藁本蒼朮同，羌活麻黃甘草入，陳皮當歸共有功。（十味）</p>
<p>遍身若冷痛，此症屬虛寒，若還用溫散，何愁病不安。</p>
<p><u>加味五積散</u>　（方見中寒。依本方加羌活、獨活、川山甲，隨所痛取甲，燒存性一錢，麝香少許，同煎服）</p>
<p>兩手痛麻木，風痰氣所觸，驅風更豁痰，一服如神速。</p>
<p><u>驅風豁痰</u>　用歸芎，芩連桔梗羌防風，白芷蒼朮星半夏，桂枝甘草總相同。</p>
<p>兩足痛麻木，濕熱兩相逐，但把濕熱除，不須憂病篤。</p>
<p><u>除濕清熱</u>　蒼白朮，半陳歸芍川牛膝，茯苓黃柏威靈仙，桃仁紅花甘草入。（十三味）</p>
<p><u>三分散</u>　治寒濕氣，四肢骨節疼痛劇，蒼朮草烏甘草研，每各一分酒調吃。（三味。草烏煮熟，去黑皮）</p>

<h2>腳氣</h2>
<p>屬太陰濕土，麻是風，痛是寒，腫是濕。（腳腫名濕腳氣，不腫名乾腳氣）</p>
<p>腳氣初發時，一身盡作痛，宜先導其滯，然後隨症用。</p>
<p><u>羌活導氣湯</u>　防己，大黃酒炒並當歸，更有獨活兼枳實，水煎空心服下宜。（六味）</p>
<p>腳氣作腫痛，濕熱身沉重，四肢骨節冷，服之無不中。</p>
<p><u>當歸拈痛</u>　苦人參，升葛羌防豬茯苓，知母蒼白朮甘草，黃芩澤瀉與茵陳。（十五味）</p>
<p><u>二妙</u>　蒼四柏二兩，歸防膝鮮熟地黃，各秤一兩為細末，酒丸引用姜鹽湯。（七味）</p>
<p><u>神仙飛步</u>　芍芎歸，生地蒼牛膝杜知，瓜薏芩連陳一兩，黃柏酒炒二兩隨，威靈防己風羌活，桃仁紅花七錢齊，肉桂三錢酒糊藥，空心鹽湯送下之。（二十一味）</p>

<h2>㿗疝</h2>
<p>牢急者生，弱急者死。</p>
<p>疝氣本肝經，濕熱鬱於中，寒氣束於外，所以痛不通。</p>
<p><u>神妙湯</u>　中玄胡索，木香香附川烏佐，蒼砂梔子益智仁，吳茱小茴當歸銼。（十二味）</p>
<p>疝氣發寒月，寒邪入膀胱，急須用溫散，疼痛自然安。</p>
<p><u>加味五積散</u>　（方見中寒。依本方加玄胡索）</p>
<p>疝氣發暑月，暑氣入膀胱，清熱利水道，一服立可遏。</p>
<p><u>加減香苓</u>　稜莪朮，陳枳蒼麻通滑石，玄胡川楝與車前，香附澤瀉甘草入。（十七味）</p>
<p><u>木香金鈴</u>　沒乳香，參附玄茴全蠍藏，等分為末酒丸藥，空心百丸酒下良。（九味，治疝氣之總司也，寶之）</p>
<p><u>文蛤</u>　即倍子，燒存性為末，好酒調二錢，痛氣立可遏。</p>
<p>灸法　治偏墜氣。</p>
<p>蓖麻子，一歲一粒，去皮研爛，貼頭頂囟上，卻令患人仰臥，將兩掌相對，以帶子綁在二中指，於兩指合縫處，艾麥粒大灸七壯，立時上去。</p>
<p><u>涎齡固本丹</u>（方見諸虐，治久年疝氣，服之除根）</p>

<h2>痿躄</h2>
<p>痿者上盛而下虛，其人能食不能行，內傷氣血兩虛損，必須養味與滋榮。</p>
<p><u>參歸養榮</u>　熟地黃，白朮茯苓白芍良，陳皮知柏破故紙，牛膝杜仲甘草詳。（十三味）</p>
<p><u>清燥湯</u>　黃連柏蒼，麥門五味子生黃，豬苓澤瀉神麯末，茯苓補中益氣湯。（十七味）</p>
<p><u>加味四斤</u>　菟蓯蓉，天麻牛膝木瓜同，鹿茸熟地五味子，等分蜜丸酒下衝。（八味）</p>

<h2>消渴</h2>
<p>脈數大為順，沉細為逆。</p>
<p>上消屬肺中消胃，下消腎水皆虛致，大生血脈補陰虛，自有津液來相濟。</p>
<p><u>繅絲湯</u>　治三消渴，蠶繭殼絲煎湯啜，能瀉膀胱伏下火，善引陰水往上徹。</p>
<p><u>黃連地黃湯</u>　用參，五味天花白茯苓，麥門當歸白粉葛，甘草竹葉棗姜等。（十三味）</p>
<p><u>生津養血四物湯</u>　，知柏薄連生地黃，麥門烏梅石蓮肉，天花甘草水煎嘗。（十四味）</p>
<p><u>神白散</u>（即益元散。方見中暑，治真陰素被虛損，多服金石等藥，或嗜炙煿咸物，遂成消渴，用溫水調服。或大渴欲用冷者，新汲水尤妙）</p>
<p><u>秘方</u>　得效治三消，用退雄雞湯一瓢，將來澄清細細飲，能醫消渴免人愁。</p>
<p>善治三消渴，天粉四兩末，並水八碗調，飲之如活潑。</p>
<p><u>六味地黃丸</u>（方見諸虛，治心腎不交，消渴引飲。依本方加麥門冬、五味子）</p>

<h2>痓病</h2>
<p>痓病氣血虛，風痰所致之，頭項身強直，搖頭戰四肢，背反卒口噤，身熱足寒隨。無汗若開目，剛痓屬陽衰；有汗若閉目，柔痓屬陰虧。諸般發痓病，百用養榮醫。</p>
<p><u>參歸養榮</u>　熟地黃，川芎白芍正相當，白朮茯苓去皮銼，連皮甘草棗生薑。（十味）</p>

<h2>濁症</h2>
<p>小便下赤濁，心經有虛熱，左寸脈短小，口苦咽乾渴。</p>
<p><u>清心蓮子</u>　草黃芩，地骨車前赤茯苓，人參麥門冬可服，黃耆九味藥溫平。</p>
<p>小便出白濁，腎經有虛寒，藥宜滋腎氣，溫散保平安。</p>
<p><u>萆薢飲</u>　中益智仁，菖蒲烏藥白茯苓，甘草五錢各一兩，入鹽同服用空心。（六味）</p>
<p>小便赤白濁，濕熱內傷著，水火不分清，分清病自卻。</p>
<p><u>水火分清</u>　枳麻黃，萆薢飲子共煎湯，豬苓澤瀉車前子，術陳半水酒煎嘗。（十三味）</p>
<p>瘦人赤白濁，元來是虛火，降火要滋陰，自然得安妥。</p>
<p><u>滋陰降火湯</u>（方見虛勞。依本方加白朮、萆薢、牛膝、山梔、萹蓄，去芍藥）</p>
<p>肥人赤白濁，是濕痰流下，滲入膀胱中，須把濕痰化。</p>
<p><u>二陳湯</u>（方見痰飲。依本方加蒼朮、白朮、人參、當歸、生地、麥門冬、山梔、黃柏、萆薢、牛膝、萹蓄）</p>

<h2>遺精</h2>
<p>遺精白濁，當驗於尺，結芤動緊，二症之的。</p>
<p>心中有所慕，夢與人交泄，君火相火隨，養血清心熱。</p>
<p><u>保精湯</u>　內歸芎芍，生地黃柏知母佐，梔連牡蠣炒乾姜，麥門石棗沙參銼。（十三味）</p>
<p><u>清心湯</u>　內地黃連，茯神遠志與人參，當歸酸棗石蓮肉，甘草減半水同煎。（九味）</p>
<p>無夢精自出，此是精遺滑，內因心腎虛，大補真良法。</p>
<p><u>養心湯</u>　內石蓮肉，辰砂遠志草龍骨，蓮蕊芡實天麥門，酸棗車前桔梗入。（十二味）</p>
<p>虛勞瘦弱人，陰虛相火動，夜夢即遺精，滋補頻頻用。</p>
<p>夢遺日久，元氣下陷，升提腎氣，歸原無患。</p>
<p><u>歸原散</u>　內參苓朮，知柏升陳芎芡實，蓮鬚酸棗志麥冬，枸杞石棗並蓮肉。（十六味）</p>
<p><u>白粉</u>　知柏童便炒，蛤粉牡蠣山藥炒，等分爛飯搗為丸，空心酒下為切要。（五味）</p>

<h2>淋證</h2>
<p>五淋膀胱蘊蓄熱，氣砂血膏勞之別，皆因酒色勞力傷，腎經虧損有虛熱。</p>
<p><u>必效散</u>　當歸麥冬，生地山梔滑木通，牛枳知母炒黃柏，萹蓄赤苓甘草同。（十三味）</p>
<p><u>海金沙散</u>　酒當歸，大黃牛膝木香宜，雄黃等分為細末，酒調錢半效神奇。（六味）</p>
<p><u>八正車</u>　前與瞿麥，萹蓄滑石山梔仁，大黃木通入甘草，熱淋逢之效若神。（八味）</p>
<p><u>六味地黃丸</u>（方見諸虛，治小便淋瀝不通，倍茯苓、澤瀉）</p>

<h2>關格</h2>
<p>關格上下不相通，欲降不降升不升，飲食不下氣橫格，多因痰氣鬱中停。</p>
<p><u>枳縮二陳</u>　白茯苓，陳皮貝母瓜蔞仁，蘇子厚朴撫芎草，木香沉香香附尋。（十三味）</p>

<h2>遺溺</h2>
<p>膀胱不納為遺溺，小便不禁不覺出，心腎二經有所虧，傳送失度致此疾。</p>
<p><u>參耆湯</u>　里用升麻，茯苓當歸熟地加，白朮陳皮厚肉桂，益智甘草最堪誇。（十一味）</p>
<p>小便不禁，有虛有熱，虛則補虛，熱則清熱。</p>
<p>虛宜：</p>
<p><u>加減四物</u>　歸生地，芎芍豬苓澤瀉桂，白朮茯苓五味子，石棗去核十一味。</p>
<p>熱宜：</p>
<p><u>加減解毒</u>　用黃連，黃柏梔子茯苓先，豬苓澤瀉並白朮，山茱五味水煎同。（九味）</p>

<h2>小便閉</h2>
<p>鼻頭色黃，小便必難，脈浮弦澀，為不小便。</p>
<p>小便閉不通，多因是熱結，清熱利水道，服之如神捷。</p>
<p><u>豬苓湯</u>　內滑木通，澤瀉車前草麥冬，牛膝枳殼並萹蓄，瞿麥黃柏共收功。（十一味）</p>
<p><u>通關酒</u>　倍知黃柏，各秤二兩分明白，肉桂一錢熟米丸，空心百丸水下得。（三味）</p>
<p>小便閉澀不堪言，唯用兒茶末一錢，扁竹煎湯來送下，霎時溲泄湧如泉。</p>

<h2>大便閉</h2>
<p>屬陽明燥金，主血少，津液涸竭，故燥澀不潤滑也。脈滑數為順，微細為逆。</p>
<p>大便實熱閉，因食辛熱味，活血潤大腸，清熱可通利。</p>
<p><u>潤腸湯</u>　中生熟地，火麻桃香與當歸，枳殼黃芩川厚朴，大黃甘草水煎之。（十味）</p>
<p><u>通幽潤燥湯</u>　桃仁，生熟地黃當歸身，紅花升麻炙甘草，大黃煨炒火麻仁。（九味）</p>
<p>大便不通腹脹滿，大黃研末三錢管，五錢皮硝一處和，燒酒調服只一碗。</p>

<h2>大小便閉</h2>
<p>大小便閉結，臟腑有實熱，並後要清涼，通利無他說。</p>
<p><u>防風通聖散</u>（方見中風，治大小便不通）</p>
<p><u>鐵腳丸子</u>　用皂角，去皮子炙研細末，酒糊丸用三十丸，酒下二便即通活。</p>
<p><u>顛倒</u>　大黃用六錢，滑石牙皂減半研，大便小便不同用，臨時對症可加添。</p>
<p>上為末，黃酒送下。如大便不通，依前分兩服之。如小便不通，大黃用三錢，滑石六錢，皂角如前。如大小便俱不通，大黃、滑石均分，皂角亦如前。</p>

<h2>痔漏</h2>
<p>脈沉小實者易治，浮洪而軟弱者難愈。</p>
<p>痔有五種，牝牡脈腸氣是也。</p>
<p>痔疾因何致，酒色氣風食，燥濕與風熱，腫痛未破是。</p>
<p><u>黑白散</u>　內二牽牛，為末錢半入豬腰，紙裹火煨空心服，打下膿血立時消。</p>
<p><u>當歸連翹湯</u>　地榆，荊防白芷草山梔，阿膠參朮懷生地，芍藥黃芩在後隨。（十四味）</p>
<p><u>秦艽蒼朮湯</u>　大黃，桃仁澤瀉與檳榔，黃柏防風歸皂子，痔瘡服之免受殃。（十味）</p>
<p><u>痔瘡腫痛</u>　有仙方，赤芍芩連蒸大黃，枳殼連翹各等分，水丸百粒用清湯。（六味）</p>
<p><u>外宣花椒</u>　蔥頭艾，五倍皮硝馬齒菜，茄根煎水頻熏洗，連洗數次立可瘥。（七味）</p>
<p>痔破潰為漏，膿血出於竅，濕熱久生蟲，攻補兼施妙。</p>
<p><u>神雷湯</u>　中歸大黃，蕪荑鶴蝨枳芩防，蘇子蟬蠶龜鱉甲，木賊皂刺是仙方。（十五味）</p>
<p><u>痔漏</u>　原來有秘方，芎歸白芍與生薑，芩連荊芥烏梅子，槐角升麻並枳防（十二味）</p>
<p><u>五九散</u>　內牽牛黃，倍子連須一兩強，礬紅當歸五錢入，沒藥乳香一錢良，黃連三錢共為末，五分加至九分當，牙豬肉湯加酒和，空心五服見神方。</p>
<p><u>臟連</u>　六兩懷生地，四兩山藥黃連萸，牡茯知柏槐三兩，參花澤皂二兩歸，豬臟入藥蒸糯飯，藥腸須搗爛如泥，丸如梧子服百粒，空心湯下痔漏宜。（十四味，前乃山茱萸、皂角、天花粉是也）</p>
<p><u>三補丸</u>　中赤白茯，沒藥二兩各秤明，故紙四兩石臼搗，酒浸春秋日三平，秋浸二日冬五日，取出籠蒸曬乾成，研末酒糊梧子大，空心五十酒吞靈。（痔漏神方）</p>

<h2>懸癰</h2>
<p>懸癰生穀道，初發甚是癢，日久腫如桃，速治消不長。</p>
<p><u>將軍散</u>　內大黃煨，白芷貝母甘草擂，等分二錢酒調服，當歸虛弱可加來。（五味）</p>

<h2>脫肛</h2>
<p>肺臟若虛寒，肛門即脫出，升補元氣回，此是真仙術。</p>
<p><u>提氣散</u>　內芍當歸，升麻柴胡與參耆，白朮羌活炙甘草，炒乾姜治肺寒虛。（十味）</p>
<p><u>洗法</u>　白礬五倍銼，水煎溫洗荷葉托，或用死鱉頭燒灰，敷於肛上即安樂。</p>

<h2>諸蟲</h2>
<p>脈沉實者生，虛大者死。</p>
<p>人之腸胃中，濕熱久生蟲，蟲名難悉載，總用遇仙攻。</p>
<p><u>遇仙</u>　四兩黑牽牛，莪朮檳榔揀去油，更有三稜茵陳穗，各用五錢為末留，皂角五錢將水煮，水糊丸子曬乾收，每服三錢茶送下，服時須用五更頭。</p>
<p><u>使君檳榔</u>　各一錢，雄黃五分細細研，苦楝湯下二錢末，能殺諸蟲病可痊。（三味）</p>
<p><u>五仙</u>　四兩大黃先，皂角雷丸苦楝根，各秤一兩木香減，酒糊丸子用芩吞。（五味。上木香止用一錢）</p>

<h2>腋臭</h2>
<p><u>體氣</u>　有奇方，田螺生一個，用水養三日，揭去螺靨惡，巴豆仁一枚，膽礬一豆大，麝香用少許，研末入螺著，線拴放磁器，次日化水沫，須在五更時，將藥用手抹，頻抹不住手，直候大便破，臭糞埋坑中，勿令人知覺，枯礬用一兩，蛤粉五錢佐，樟腦末一錢，少許頻擦過，永拔去病根，方顯靈丹藥。</p>
<p><u>烏龍</u>　歸茯生地黃，石蓮枸杞一兩強，乳香木香蓮鬚蕊，青木香墨五錢良，丁香三錢腦分半，荷葉陳米飯丸藏，麝香酒化為衣用，酒入砂仁歸臥嘗。</p>
<p><u>收功保後</u>　用參歸，生地乳沒木桂宜，麝香八味酒浸過，良薑白芷青陳皮，麻黃枳殼並甘草，水煎出汗始為奇，外用椒礬各一兩，研末擦腋緊相隨。</p>

<h2>婦人</h2>
<p>婦人屬陰多性執，有事不發只內郁，十病九因氣腦生，血凝氣滯成諸疾。</p>
<p><u>分心氣飲</u>（方見諸氣，治婦人因氣腦成諸病，宜依本方加枳殼、桔梗、木香、檳榔、香附、烏藥）</p>
<p>經水先期來，血虛中有熱，清熱補血虛，經調可對月。</p>
<p><u>清經四物</u>　生地黃，艾葉阿膠黃柏涼，知母條芩香附子，黃連甘草不須姜。（十三味）</p>
<p>經水已過期，不來又作痛，血虛中有寒，養血經自動。</p>
<p><u>通經四物湯</u>　熟地，桃仁紅花厚肉桂，莪朮蘇木並木通，香附甘草同一例。（十二味）</p>
<p>經水正將來，腹中陣陣痛，血實氣滯凝，順氣清熱中。</p>
<p><u>清熱四物</u>　用生地，桃仁紅花牡丹皮，黃連香附玄莪朮，發熱柴耆可用之。（十四味）</p>
<p>經水忽著氣，心腹腰脅痛，此乃瘀血凝，消瘀藥甚用。</p>
<p><u>順氣散</u>　瘀玄胡索，當歸川芎白芍藥，桃仁紅花生地黃，莪朮青皮白水佐。（九味）</p>
<p>經水過期來，紫黑成血塊，氣鬱血滯凝，療之宜通快。</p>
<p><u>通快四物</u>　用生黃，桃仁紅花香附藏，牡丹青皮玄胡索，甘草十一味煎湯。</p>
<p>經水過期來，色淡多屬痰，化痰並活血，可以保安全。</p>
<p><u>活血化痰湯</u>　，芎歸生地黃，白芍陳皮半，茯苓甘草湯。</p>
<p>經水來過多，日久不見止，此乃成血崩，補血涼血治。</p>
<p><u>阿膠四物</u>　用生地，白朮條芩與地榆，荊芥茯苓香附子，山梔甘草共相隨。（十四味）</p>
<p>經水行過後，腹中常作痛，氣血兩空虛，湯補須珍重。</p>
<p><u>調養</u>　熟地黃，芎歸白芍姜，人參並白朮，甘草茯苓良。（九味）</p>
<p>經水去過多，久而不見止，遍身發腫滿，健脾把水利。</p>
<p><u>健脾四物</u>　赤茯苓，蘇樸豬通草砂仁，大腹木香玄胡索，香附牛膝並紅陳。（十八味）</p>
<p>經水久不行，發腫實堪驚，多是停瘀血，滲入在脾經。</p>
<p><u>芎歸白芍</u>　與乾薑，桃仁紅花桂木香，香附牛膝玄胡索，丹皮枳樸共煎湯。（十四味）</p>
<p>經水久不通，腹脅塊作痛，癥瘕血結聚，慢慢與消溶。</p>
<p><u>桃仁紅花</u>　厚肉桂，香砂乳木並芎歸，牛膝枳實玄胡索，小茴厚朴牡丹皮。（十五味）</p>
<p>經水錯妄行，口鼻往上出，火載在血上，久乃成虛法。</p>
<p><u>犀角阿膠</u>　牡丹皮，芎歸白芍與山梔，黃耆生地陳皮入，麥門白茯任君施。（十二味）</p>
<p>經行渾身痛，寒熱頭疼重，觸經感冒時，速把風寒送。</p>
<p><u>加味五積散</u>　（方見中寒。依本方去乾薑，加羌活、獨活、牛膝、薑、蔥煎服）</p>
<p>經水久不調，腹痛下白帶，淋瀝久不止，肌瘦氣血憊。</p>
<p><u>大補經中八物湯</u>　，玄胡官桂小茴香，砂仁阿膠沉香附，黃耆陳皮吳茱良。（十七味）</p>

<h2>經閉</h2>
<p>經水久不通，虛實不相同，虛弱宜專補，壯盛要兼攻。</p>
<p>實宜：</p>
<p><u>通經四物</u>　用生黃，蘇木紅花枳殼良，厚朴烏梅並枳實，大黃黃芩官桂詳。（十三味）</p>
<p><u>通經斑蝥</u>　二十個（糯米炒過），四十九個生桃仁，大黃五錢九八酒，七九酒下用空心。（三味）</p>
<p><u>助經丸</u>　用乳木茶，蔥白巴豆五分佳，斑蝥五個搗一彈，綿裹繩系送陰家。（六味）</p>
<p>經水久不通，托盤科數根，酒煎空心服，汗出經如泉。</p>
<p>經水久不通，生地大黃同，三錢研細末，好酒下心空。</p>
<p>經水久不通，四兩蒸大黃，五錢血竭沒，為末水丸良。七十用何引，紅花四物湯。</p>
<p>虛宜：</p>
<p><u>通經調氣</u>　四物宗，香附黃芩黃柏同，柴胡丹皮知母炒，牛膝紅花桃仁功。（十三味）</p>
<p><u>養真湯</u>　內四物主，香附陳皮知益母，茯苓小茴山茱萸，久服自然有滋補。（十味）</p>
<p><u>六味地黃丸</u>（治婦女經閉不通，發熱，痰嗽，吐血等症，依本方加木香、當歸、桃仁、紅花，久服奏效）</p>

<h2>血崩</h2>
<p>崩漏之為病，乃血之大下，稍久屬虛熱，清補不須怕，日久屬虛寒，溫養真無價。</p>
<p>血崩初起，乃屬虛熱，清熱補虛，血可止歇。</p>
<p><u>秘方</u>　天靈蓋，將來燒存性，二錢溫酒調，一服如神應。</p>
<p><u>荊芥四物湯</u>　，香附子相當，地榆加入內，一服見神方。（七味）</p>
<p>血崩日久，乃屬虛寒，健脾生血，可保平安。</p>
<p><u>益母湯</u>　內炒阿膠，四兩陳皮香附砂，白朮條芩甘草入，玄參蒲黃不須拋。（十味）</p>
<p><u>膠艾四物</u>　用蒲黃，黃連黃芩梔子良，生地地榆並白朮，甘草同煎果妙方。（十四味）</p>
<p>經水不止，赤白帶下，產後胎前，惡物痢瀉。</p>
<p><u>當歸茯芍</u>　術芩連，艾葉槐子各五錢，黃柏龍肝各一兩，木香二錢半共研，為末水丸每百粒，米湯送下病皆痊。（十一味）</p>
<p>余方附後：</p>
<p>血崩久不止，何首烏一兩，甘草用些須，黃酒煎熟放，再入小薊汁，服之如影響。</p>
<p>血崩久不止，一兩炒靈脂，香附二錢炒，六錢當歸尾，研末每二錢，空心黃酒吃，或用米醋丸，醋湯五十止。</p>
<p>血崩久不止，黑豆燒盡煙，二錢黃酒和，一服立安然。</p>
<p>血崩久不止，管仲燒存性，為末黃酒調，服之立有應。</p>
<p>血崩久不止，小薊搗取汁，童便酒調和，服之病如失。</p>
<p>血崩久不止，漆燒灰三錢，五靈脂豆大，研末黃酒吞。</p>
<p>血崩久不止，柿餅燒二錢，空心煎水下，神效不虛傳。</p>

<h2>帶下</h2>
<p>婦人帶下，宜遲滑，忌虛浮。</p>
<p>赤白帶下宜虛弱，濕痰滲入在膀胱，頭暈腰痠眼花暗，四肢無力補虛良。</p>
<p><u>玉仙散</u>　用炒白芍，乾薑香附一兩銼，甘草研末五錢生，空心三錢酒下藥。（四味）</p>
<p><u>加減六合湯</u>　，二陳四物當，黃柏知貝母，椿根白朮良。（十三味）</p>
<p>赤白帶下，臍腹冷痛，下焦虛寒，溫補當用。</p>
<p><u>加味五積散</u>（方見中寒，依本方去麻黃，加香附、吳茱萸、小茴香。一方加乳香、沒藥各三錢半，烏藥一兩，米糖一斤，好酒煮吃）</p>
<p>余方附後：</p>
<p>白帶腹痛寒涼，胡椒硫黃丁香，等分一錢細末，入在雞子潛藏，紙裹火煨透熱，細嚼酒下安康。</p>
<p>白帶久不止，二兩白茯苓，石灰研一兩，水丸水下靈。</p>
<p>白帶久不止，硫黃末五錢，三錢烏梅肉，同搗爛為丸，每服五七粒，空心溫酒吞。</p>
<p>白帶久不止，黃荊子炒研，空心米飲和，每服二三錢。</p>
<p>赤白帶不止，倍子桃仁炒，等分為細末，燒酒調服好。</p>

<h2>虛勞</h2>
<p>婦人虛勞，右寸數者危也。</p>
<p>虛勞痰嗽骨蒸熱，陰虛火動妄行血，治宜養血健胃脾，清痰降火開鬱結。</p>
<p>婦人吐血，漸成勞怯，止血補陰，乃是良訣。</p>
<p><u>清肺飲子</u>　四物湯，天麥知貝與蒲黃，前胡阿膠陳枳草，薄荷黃芩藕節良。（十七味）</p>
<p>虛勞熱嗽，痰喘有汗，心脾兩虛，滋補勿緩。</p>
<p><u>滋陰至寶</u>　芍當歸，茯苓白朮草陳皮，薄荷柴胡知貝母，香附地骨麥門宜。（十三味）</p>
<p>虛勞熱嗽，痰喘無汗，化痰清火，心虛可斷。</p>
<p><u>茯苓補心</u>　前胡參，紫蘇半夏當歸身，甘草陳皮川芎芍，地黃熟用棗姜煎。（十一味）</p>
<p><u>六味地黃丸</u>（方見補益，治婦女，虛勞之要藥也）</p>

<h2>求嗣</h2>
<p>螽斯秘訣：</p>
<p>三十時辰兩日半，二十八九君須算，落紅將盡是佳期，金水過時徒霍亂，徒霍亂兮枉費功，樹頭樹尾覓殘紅，解得花芳能結子，莫愁後代繼前蹤。</p>

<h2>結胎受形</h2>
<p>洞里桃源何處尋，都來一寸一分深，交歡之際君須記，過卻區區枉費心。</p>

<h2>虛實論</h2>
<p>他虛我實效乾坤，以實投虛是的真，總是兩家皆寡欲。佳期相值始相親。</p>

<h2>占男女訣</h2>
<p>雙歲是雙單是單，乾坤爻位兩頭安，中間正位玄機事，產女生男在此間。</p>
<p>婦人無子嗣，多因經不調，經調交必孕，種德養根苗。</p>
<p><u>調經種玉</u>　是仙方，陳茯芎歸芍地黃，香附吳茱索牡丹，虛加熟艾桂乾薑。（九味，銼，四劑，生薑水煎，空心溫服，渣再前服，待經至之日服起，一日一劑，藥盡則當交媾，必成孕矣）</p>
<p>肥人是痰盛，軀脂多滿溢，閉塞於子宮，消痰養血氣。</p>
<p><u>清痰養血</u>　四物湯，白朮陳皮半夏良，茯苓枳實並香附，甘草砂仁竹瀝嘗。（十二味）</p>
<p>瘦人是火盛，子宮多幹澀，補血與清熱，調經為主訣。</p>
<p><u>清燥養血</u>　四物宗，人參茯苓香附同，生地黃芩山梔子，陳皮甘草共收功。</p>
<p>婦人子宮冷，氣血多虛備，調經補下元，嗣續衍宗派。</p>
<p><u>先天歸一</u>　參苓朮，芍地歸芎草牛膝，陳半砂附牡丹皮，大補諸虛成孕育。（十四味）</p>
<p><u>六味地黃丸</u>（方見補益，治婦人血虛無子，加香附子二兩，童便炒，當歸二兩酒洗）</p>

<h2>妊娠</h2>
<p>妊娠之脈如何認，要辨陰陽衰與盛，陰陽俱盛滑而和，兩手調勻數相應，其人能食身無苦，容飾如即是妊定，脈來左盛是男形，右手偏洪是女孕，孕真帶嘔頭昏悶，此是停痰惡阻病，急宜正胃與消痰，固血安胎全兩命，若還腰腹俱脹痛，口渴咽乾潮熱乘，多眠惡食倦昏疲，此屬經凝卻非妊，大綱孕脈類如此，在意消詳審安靜。</p>
<p>婦人妊娠，脈宜洪大，忌沉細。</p>
<p>經脈不行，已經三月，尺脈不止，是胎無惑。</p>
<p><u>驗胎散</u>　內用川芎，艾湯調服一錢重，有孕腹中覺微動，不動是孕經不通。</p>
<p>婦人有胎，須要防墮，養血健脾，清熱無過。</p>
<p><u>安胎散</u>　內益母草，當歸川芎香附炒，芩連白朮生地黃，蘇梗砂仁甘草好。（十一味）</p>
<p>妊娠惡阻，噁心嘔吐，阻其飲食，調和胃土。</p>
<p><u>調胃湯</u>　中炒神麯，歸芍陳皮並香附，藿香砂仁白茯苓，半夏白朮甘草付。（十一味）</p>
<p>妊娠子癇，煩躁悶亂，膽怯心驚，虐亦可斷。</p>
<p><u>竹葉湯</u>　黃芩，防風白茯苓，麥門去心浮，五味藥通神。</p>
<p>妊娠子癰，目吊口噤，痰涎潮搐，頭項強甚。</p>
<p><u>羚羊角散</u>　白茯苓，芎歸防風酸棗仁，茯神五加皮薏苡，獨活木香甘草真。（十二味）</p>
<p>妊娠子懸，心腹脹痛，胎氣不和，致生諸症。</p>
<p><u>紫蘇飲</u>　內歸芎芍，人參大腹陳皮佐，甘草銼散薑蔥煎，胎前出入加減著。（八味）</p>
<p>妊娠子腫，面目虛浮，肢體腫滿，用藥立消。</p>
<p><u>茯苓湯</u>　中用澤瀉，芎歸熟地應無價，茯苓白朮麥門冬，厚朴梔子條芩下。（十味）</p>
<p>妊娠子氣，兩足浮腫，脾衰水盛，喘悶上壅。</p>
<p><u>天仙散</u>　內用臺烏，香附陳皮並紫蘇，更有香附與甘草，生薑煎服病即除。（七味）</p>
<p>妊娠子淋，小便頻數，赤少澀痛，下焦火爍。</p>
<p><u>子淋散</u>　內用木通，赤苓大腹麥門冬，甘草再加淡竹葉，空心一服可收功。（五味）</p>
<p><u>五苓散</u>　（方見中暑，依本方加阿膠炒）</p>
<p>妊娠胎漏，腹痛下血，養血安胎，健脾清熱。</p>
<p>芎歸各五錢，銼散好酒煎，臨服入童便，一劑病當痊。</p>
<p><u>膠艾四物湯</u>　，條芩白朮強，砂仁香附子，糯米共煎嘗。（十一味）</p>
<p>妊娠胎動，因事築嗑，惡露下血，口噤欲絕。</p>
<p><u>佛手散</u>　當歸，川芎益母宜，水煎入酒服，一劑見安危。</p>
<p><u>達生散</u>　內當歸芍，人參白朮陳皮佐，紫蘇甘草大腹皮，或加砂仁並枳殼。（十味）</p>
<p>孕中口噤，忽然吐沫，不省人事，語言昏錯。</p>
<p><u>清心豁痰四物湯</u>　，二陳加入最為良，麥門遠志菖蒲等，竹茹還用水生薑。（十一味）</p>
<p>婦人鬼胎如抱甕，吳茱川烏須制用，柴胡秦艽白殭蠶，為丸七粒用酒送。（五味）</p>

<h2>產育</h2>
<p>臨產莫愴惶，從容立主張，慎勿使手取，用藥要安詳。</p>
<p>生產難分娩，飛金五七片，溫水研服之，母子立相見。</p>
<p><u>濟生藥</u>　治產艱難，芎歸枳殼紫蘇攀，香附大腹皮甘草，立時產下見歡顏。（七味）</p>
<p><u>催生立應</u>　冬葵子，芷芍芎歸大腹皮，牛膝車前並枳殼，水煎入酒立生兒。（九味）</p>
<p><u>香桂散</u>　能下死胎，白芷肉桂三錢該，三分麝香同研末，童便酒調服下來。（三味）</p>
<p><u>柞木飲子</u>　用生枝，甘草些須水煮之，立候產母腹痛甚，溫投一服見神奇。</p>
<p>巴三草七脫衣裳，細研如泥入麝香，捏作餅兒臍下貼，須更子母便分張。（三味）</p>
<p>胞衣不得下，產母元氣虛，芎歸倍官桂，溫之下片時。（三味）</p>
<p><u>脫衣湯</u>　用川牛膝，歸尾木通白滑石，冬葵子或加枳殼，水煎溫服保安吉。（六味）</p>
<p>產婦面赤舌色青，母活子死必然情，面青舌青沫又出，母死子活實堪驚，唇口俱青子母死，臨時審察要分明。</p>

<h2>產後</h2>
<p>新產之脈緩滑吉，實大弦急死來侵。</p>
<p>產後諸疾，以末治之，大補氣血，對症詳施。</p>
<p><u>芎歸調血</u>　茯陳姜，香附臺烏熟地黃，白朮牡丹益母草，產後諸疾服之良。</p>
<p>產後暈倒，不省人事，眼黑耳鳴，虛損之極。</p>
<p><u>加味佛手散</u>　，芎歸荊芥穗，等分用水煎，入酒童便對。</p>
<p>產後惡露，上攻心腹，或作眩暈，寒熱交互。</p>
<p><u>益母保命方</u>　，益母草煎湯，加入童便酒，惡露下行良。</p>
<p>產後去血多，或下流不止，頭暈眼黑暗，口禁不能語。</p>
<p><u>蘇危湯</u>　內炒乾姜，川芎當歸熟地黃，人參荊穗燈燒過，水煎童便可加嘗。（六味）</p>
<p>產後惡露，心腹刺痛，久積瘀血，兒枕通用。</p>
<p><u>失笑散</u>　內五靈脂，蒲黃炒各一錢宜，研末醋熬為膏子，白湯化服有神奇。（二味）</p>
<p><u>黑神散</u>　用熟生黃，赤白芍蒲靈附姜，玄歸棕灰各一兩，五錢沉香與乳香，研末二錢童便酒，胎前產後服之良。（十三味）</p>
<p>上治胎前產後十八症如神。</p>

<h2>乳病</h2>
<p>乳汁不通，氣血壅盛，脈澀不行，滯而成病。</p>
<p><u>通草湯</u>　中用連翹，桔梗柴胡瞿麥饒，青皮白芷天花粉，赤芍木通甘草苗。（十一味）</p>
<p>乳汁不通，氣血不足，因而澀少，補虛效速。</p>
<p><u>王不留行散</u>　木通，當歸白芍與川芎，生地天花各等分，豬蹄煎湯藥有功。（七味）</p>
<p>胡桃去皮用十個，搗爛一錢山甲末，黃酒調服只片時，來如泉湧堪止渴。</p>
<p>吹乳乳癰，血脈凝注，初宜蔥熨，久要消毒。</p>
<p>生蔥搗一餅，攤在患乳上，火罐覆蔥餅，汗出即無恙。</p>
<p>夜明蜘蛛用三個，紅棗三個夾炒過，嚼吃燒酒送下咽，已成未成立消破。</p>
<p>吹乳腫硬痛，螃蟹蓋炒用，研末每二錢，黃酒把藥送。</p>
<p><u>一方</u>　貝母、白芷，各二錢末，酒吃。</p>
<p><u>一方</u>　牙皂、密蒙為末，酒下法。</p>
<p><u>一方</u>　白丁香末二錢，酒服止。</p>
<p><u>消毒飲</u>　中金銀花，瓜蔞貝母皂刺佳，天花白芷當歸尾，甘草山甲共堪誇。（九味）</p>
<p>上治吹乳、乳癰殊效。</p>
<p>婦人乳岩，始有核腫，狀如棋子，不痛不癢，疏風行血，急治影響，日久成瘡，療難勉強。</p>
<p><u>一十六味流氣飲</u>　，芎歸耆芍桂檳參，枳桔防風烏藥草，厚朴蘇芷木香真。</p>

<h1>卷四</h1>

<h2>小兒科</h2>
<p>八門審候歌：</p>
<p>觀形察色辨因由，陰弱陽強發硬柔，若是傷寒雙足冷，要知有熱肚皮求，鼻冷便知是瘡疹，耳冷應知風熱症，渾身皆熱是傷寒，上熱下冷傷食病。</p>
<p>五指梢頭冷，驚來不可當，若逢中指熱，必定是傷寒，中指獨自冷，麻痘症相傳，女右男分左，分明仔細看。</p>
<p>觀面部五色歌：</p>
<p>面赤為風熱，面青驚可詳，心肝形此見，脈症辨溫涼，脾怯黃肝積，虛寒㿠白光，若逢生黑氣，腎敗命須亡。</p>
<figure style="display: flex; flex-wrap: wrap; align-items: center;">
  <div style="flex-grow: 999;">
    <img src="_files/009.png" alt="頦腎圖">
  </div>
  <div style="flex-basis: 8em; flex-grow: 999000;">
    <p>下頦屬腎水（北）</p>
    <p>左腮屬肝木（東）</p>
    <p>額上屬心火（南）</p>
    <p>鼻準屬脾土（中）</p>
    <p>右腮屬肺金（西）</p>
  </div>
</figure>
<p>小兒三歲以下，有病須看男左女右手，虎口三關。從第二指側看，第一節名風關，第二節名氣關，第三節名命關。辨其紋色，紫者屬熱，紅者屬寒，青者驚風，白者疳病，黑者中惡，黃者脾之困也。若現於風關為輕，氣關為重，過於命關則難治矣。</p>
<p>三關脈紋主病歌：</p>
<p>紫熱紅傷寒，青驚白是疳，黑時因中惡，黃即困脾端，青色大小曲，人驚並四足，赤色大小曲，水火飛禽撲，紫色大小曲，傷米麵魚肉，黑色大小曲，脾風微作搐。</p>
<p>手指脈紋八段錦：</p>
<p><img src="_files/001.png" alt="￼">　魚刺形，主驚風痰熱。</p>
<p><img src="_files/002.png" alt="￼">　懸針形，主傷風泄瀉積熱。</p>
<p><img src="_files/003.png" alt="￼">　水字形，主食積咳嗽驚疳。</p>
<p><img src="_files/004.png" alt="￼">　乙字形，主肝病驚風。</p>
<p><img src="_files/005.png" alt="￼">　環形，主疳積吐逆。</p>
<p><img src="_files/006.png" alt="￼">　蟲形，主疳蟲大腸穢積。</p>
<p><img src="_files/007.png" alt="￼">　珠形，主死。</p>
<p><img src="_files/008.png" alt="￼">　亂紋，主蟲。</p>
<figure style="display: flex; flex-wrap: wrap; align-items: center;">
  <figcaption style="flex-basis: 2em; flex-grow: 1;">虎口三關脈紋之圖：</figcaption>
  <div style="flex-grow: 999;">
    <img src="_files/010.png" alt="虎口三關脈紋之圖">
  </div>
  <div style="flex-basis: 8em; flex-grow: 999000;">
    <p>風關第一節寅位。</p>
    <p>氣關第二節卯位。</p>
    <p>命關第三節辰位。</p>
    <p>虎口處又手是也。</p>
  </div>
</figure>
<p>小兒至三歲以上，乃用一指按寸關尺三部，常以六七至為率，添則為熱，減則為寒，浮洪風盛，數則多驚，沉遲為虛，沉實為積。</p>
<p>小兒脈法總歌：</p>
<p>小兒有病須憑脈，一指三關定息數，遲冷數熱古今傳，浮風沉積當先識，左手人迎主外證，右手氣口主內疾，外候風寒暑濕浸，內候乳食痰積致，洪緊無汗是傷寒，浮緩傷風有汗液，浮洪多是風熱盛，沉細原因乳食積，沉緊胸中痛不休，弦緊喉間作氣急，急促之時痘疹生，緊數之際驚風至，虛軟慢驚作瘛瘲，緊實風癇發搐搦，軟而細者為疳蟲，牢而實者因便閉，脈芤大小便中血，虛澀有氣兼驚悸，滑主露濕冷所傷，弦急容忤君須記，大小不勻為惡候，二至為脫三至率，五至為虛四至損，六至平和曰無疾，七至八至病尤輕，九至十至病勢極，十一二至死無疑，此決萬中無一失。</p>
<p>小兒死候歌：</p>
<p>眼生赤脈貫童人，囟門腫起又作坑，指甲黑色鼻乾燥，鴉聲忽作肚青筋，虛舌出口咬牙齒，目多直視不轉睛，魚口氣急啼不得，蛔蟲即出死形真，手足擲搖驚過節，靈丹十救無一生。</p>
<p>魚目定睛夜死，面青唇黑晝亡，啼而不哭是痛，哭而不啼是驚，嗞煎不安是煩，嗞哇不定是躁。</p>
<p>小兒初生雜治：</p>
<p>小兒初生後，甘草並黃連，濃煎汁灌服，吐出穢惡涎。</p>
<p>延生第一方，小兒臍帶良，燒存性研末，硃砂減半量，二味和勻用，當歸生地黃，煎汁調前藥，令兒口內嘗，次日下穢惡，痘毒永潛藏。</p>
<p>滌穢免痘方，神仙真秘藏，經霜楝樹子，升許水煎湯，元旦子時分，洗兒只令娘，自從洗過後，永不出痘瘡。（洗時，父母只令一人知之，勿泄天機）</p>
<p>小兒臍風腫痛，田螺三個搗用，入麝少許搭臍，須臾再易必中。</p>
<p>臍風全蠍七個尾，七節火烤研極細，乳汁送與孩兒吞，頭上汗出如手取。</p>
<p>小兒夜啼聲不歇，蟬蛻七個下半截，研末薄荷湯調和，入酒此須一同啜。</p>
<p>小兒夜啼哭，燈花三顆足，乳調抹兒口，勿用去求福。</p>

<h2>急驚</h2>
<p>急驚風症，牙關緊急，喘熱涎潮，手足搐搦，竄視反張，風邪痰熱，急驚屬肝，有餘之疾。</p>
<p><u>敗毒散</u>　內加天麻，全蠍殭蠶白附佳，地骨真皮各等分，急驚原屬外風邪。（十五味。即人參敗毒散，方見傷寒，依本方十味，加上五味是也）</p>
<p><u>神功散</u>　一粒硃砂一片雪，七個殭蠶三個蠍，不論急驚與慢風，藥引須用生人血。（即乳汁）</p>
<p>小兒急驚發搐搦，喉中痰響目直視，蘆薈面丸每五丸，燈心竹瀝湯送去。</p>
<p><u>萬億丸</u>（治急驚風，胸痞悶，腹脹痛。方見通治）</p>
<p><u>牛黃抱龍丸</u>　，膽星一兩研，五錢真天竺，牛黃五分先，朱雄二錢半，麝珍琥一錢，甘草膏丸藥，金箔作衣穿，每服二三粒，研化薄荷吞，急慢驚風症，痰嗽喘熱痊。（九味）</p>

<h2>慢驚</h2>
<p>慢驚風症，吐瀉傷脾，肢體逆冷，口鼻氣微，手足瘛瘲，昏睡露睛，慢驚屬脾，不足之症。</p>
<p><u>醒脾散</u>　內用茯苓，木香白附子人參，殭蠶全蠍天麻等，白朮甘草炙相兼。（九味）</p>
<p><u>白朮散</u>（方見吐瀉，治小兒吐瀉，慢驚已作，加細辛、天麻、全蠍、白附子、硃砂）</p>
<p><u>黃耆湯</u>　治慢驚風，甘草人參三味同，白芍一錢加入內，瀉肝補肺有奇功。</p>
<p><u>紫金錠</u>　藥本芥參，朱神脂乳各三錢，麝香一錢糕一兩，丸彈金衣薄荷研。（九味）</p>
<p><u>混元丹</u>（治慢驚風如神，方見通治）</p>
<p>慢驚慢脾，危惡症候，藥力不到者，但看兩腳面，中間陷處有太衝脈，即灸百會穴三五壯，炷如小麥，大灸後，仍與醒脾之劑調之。</p>
<p>灸法　治小兒驚風</p>
<p>男左乳黑肉上，女右乳黑肉上，周歲灸三壯，二三歲灸五七壯，神效。</p>

<h2>疳疾</h2>
<p>小兒脈單細為疳勞。</p>
<p>虎口脈紋白色為疳。</p>
<p>凡養小兒，須戒性酒肉油膩偏生，並生冷硬物，涼水漿不與，自無疳癖症。</p>
<p><u>消疳飲</u>　內炒黃連，白朮茯苓白芍先，青皮澤瀉山楂肉，甘草半薑棗共煎。（九味）</p>
<p>面黃眼腫肚腹脹，肚中一塊或上下，小便白色大便溏，四君加入梔蕪當。（六味）</p>
<p>小兒疳積腹如鼓，蝦蟆鹽湯蔥椒煮，每日須用四五枚，吃到病好以為度。</p>
<p><u>肥兒</u>　參連曲麥楂，各用三錢半不差，茯苓甘炙三錢重，五錢胡黃莫要誇，使君去殼四錢半，蘆薈二錢半煨佳，黃米糊丸米湯下，疳癖功效滿天涯。（十味，上蘆薈用穀糠火煨透用之）</p>

<h2>癖疾</h2>
<p>脈沉細為癖疾。</p>
<p>癖疾僻兩脅，結塊硬如鐵，發熱肌瘦黃，養正邪自滅。</p>
<p><u>淨府湯</u>　中用茯苓，稜莪豬澤半人參，柴胡白朮黃耆等，山梔甘草胡黃連。（十三味）</p>
<p><u>抑肝扶脾</u>　術苓參，楂曲青陳柴黃連，龍膽甘草白芥子，癖塊發熱棗姜煎。（十二味）</p>
<p>治癖雞子五個，五分阿魏無錯，黃蠟鍋內同煎，分作十服細嚼，空心溫水送下，大便下血癖破。（三味）</p>
<p>小兒癖疾堪嗟，水紅君子山楂，白朮神麯五錢，減半木香麥芽，白麵黃蠟水和，煎餅伍用無差。（九味）</p>
<p>金蟾兩個大蛤蟆，二兩大黃為末佳，半碗皮硝一處搗，絹袋盛貼在癖家。（三味）</p>
<p><u>至寶</u>　阿魏用二錢，天竺蘆薈胡黃連，雄黃沒藥山甲炒，白草炭泡硇砂兼，沉香各用二分末，好酒和藥慢火煎，丸如豌豆每一粒，黃酒化下汗為痊。（十味。消癖退熱如神。可暫服，不可久服）</p>
<p><u>烏金丸子</u>　遇仙傳，白朮人參用六錢，地骨稜莪水紅子，黃連檳榔七錢研，琥珀胡連五錢等，蘆薈百草伏龍全，三味三錢牛黃二，研末糯米糊作丸，丸如綠豆每三十，陳皮湯下伐癖根。（十四味。久服，癖根自拔，神功）</p>
<p>癖患牙疳潰爛時，乳沒茶清燒象皮，象牙珍珠紅蠍子，海巴等分末搽之。（九味）</p>

<h2>諸熱</h2>
<p>小兒驗諸熱症：</p>
<p>驚熱恍惚頻頻叫，風熱汗出通身熱，積熱頰赤口生瘡，潮熱有時發又歇，餘熱寒邪未盡除，壯熱一向發不歇，癖熱飲水嗽多痰，發如瘧狀為寒熱，骨蒸盜汗熱因疳，心躁不安不煩熱，夜熱暮發早又停，食熱肚皆先發熱，虛熱困倦氣力衰，客熱來去無時節，血熱發在辰巳時，耳鼻尖冷乃瘡熱，諸熱得之各有歸，好隨輕重為調攝。</p>
<p>小兒諸熱，蘊積熱毒，先宜清解，後分虛實。</p>
<p><u>大連翹飲</u>　用防風，歸芍車前滑草通，瞿麥荊芥牛蒡子，蟬蛻柴胡梔子同。（十四味）</p>
<p><u>五福化毒</u>　烏犀角，粉草朴硝三錢佐，生地赤茯牛蒡子，連翹玄參五錢銼，青黛二錢末蜜丸，薄荷湯化一丸藥。（九味）</p>

<h2>感冒</h2>
<p>小兒感冒，風寒鼻塞，痰嗽喘熱，發表解厄。</p>
<p><u>參蘇飲</u>（方見咳門）</p>
<p><u>羌活膏</u>　用獨活參，麻梗芎前各五錢，薄甘地骨三錢入，蜜丸彈子用姜研。（十味）</p>
<p><u>牛黃抱龍丸</u>（治小兒傷風感冒，發熱，昏睡，痰嗽，喘急。方見急驚）</p>

<h2>傷食</h2>
<p>小兒傷食，肚腹脹痛，發熱嘔吐，消導不用。</p>
<p><u>萬億丸</u>（方見通治）</p>
<p><u>太和散</u>　內用蘇陳，香附山楂神麯並，麥芽枳朮同甘草，食物諸疾用之靈。（九味）</p>
<p>小兒面黃肌瘦，常服焦餅最妙，蓮肉茯苓麥芽，山藥神麯扁豆，薏苡甘草山楂，等分四兩末後，每曲一斤水和，烙熟餅來任嚼。（九味）</p>

<h2>瘧疾</h2>
<p>小兒瘧疾棉花根，每用三分要細研，攪入雞清紙封口，煨熟嚼吃瘧當痊。</p>
<p><u>天靈散</u>　治瘧，天靈火燒卻，研末每五釐，黃酒調下服。</p>

<h2>痢疾</h2>
<p>小兒禁口痢，石蓮為末細，每服一二錢，倉米湯調吃。</p>
<p>小兒痢疾最堪憐，細茶生薑川黃連，三味等分水煎服，不拘新久自安然。</p>

<h2>吐瀉</h2>
<p>小兒吐瀉，脾胃俱傷，或宜鎮固，或用補良。</p>
<p><u>澆針丸子</u>　用黃丹，硃砂枯礬棗肉丸，每用針挑燈燃過，米泔研服立安然。（四味，此鎮固之藥）</p>
<p><u>白朮散</u>　內用人參，藿香木香茯苓兼，更有乾葛同甘草，小兒吐瀉服之痊。（七味，此補脾胃之劑）</p>
<p><u>啟脾丸</u>　用參苓朮，山藥蓮肉一兩足，楂陳澤草各五錢，蜜丸湯化空心服。（九味）</p>
<p>小兒患水瀉，丹礬各五錢，蔥白同搗爛，塗臍立安然。（二味）</p>

<h2>咳嗽</h2>
<p>小兒咳嗽吐紅痰，天花人參等分研，每服五分蜜水和，服後人皆道有緣。</p>
<p><u>蜜梨噙方</u>　真切要，甜梨入蜜火煨透，令兒早晚細嚼吞，咳嗽痰喘如神妙。</p>

<h2>喘急</h2>
<p>小兒肺脹喘嗽，人人看作風喉，大黃檳榔二牽牛，人參分兩等勻，五味研成細末，蜜水調量稀稠，每將一字下咽喉，勝用神針法灸。</p>
<p>小兒喉中痰喘促，巴豆去殼搗為丸，綿裹男左女右鼻，須臾痰下免憂煎。</p>

<h2>盜汗</h2>
<p>小兒盜汗發潮熱，柴胡胡連等分切，研末蜜丸芡實大，一丸水化酒少入，重湯再煮二十沸，待溫食後和渣啜。</p>

<h2>肥瘡</h2>
<p>小兒肥瘡滿頭顱，將鹽煅紅白礬枯，五倍燒存性等分，研末漏燈油調塗，須把瘡痂先洗淨，只塗三次病根除。若醫禿加烏龍尾，輕粉調勻也莫粗，禿前羊糞湯熱洗，洗時宜早不宜晡，發物忌之功更效，茶童從此作金呼。</p>
<p>大凡禿瘡，用鮮螃蟹，煎湯頻洗，千金難買。</p>
<p>小兒頭瘡胎毒瘡，五倍白芷各一兩，花椒黃丹各五錢，枯礬三錢研末放，干則香油調和搽，濕則只用乾摻上。（五味）</p>

<h2>蟲痛</h2>
<p>小兒蟲積腹痛，巴豆一枚去油，火炒一粒研入，雞子一個開頭，入藥攪勻在內，紙糊水煮熟收，食之茶清送下，打下蟲積便休。</p>

<h2>發斑</h2>
<p>小兒身發斑，兩足常紅腫，脾經有風熱，解散勿驚恐。</p>
<p><u>防風通聖</u>　去硝黃，酒炒黃連牛蒡良，研末一錢茶調服，去風敗毒是奇方。</p>
<p><u>外洗</u>　用芩連，防風薄荷先，白芷黃耆柏，煎湯洗自痊。</p>

<h2>痘瘡</h2>
<p>小兒痘疹何以知，腮赤眼胞亦赤時，呵欠噴嚏及驚怖，耳尖手指冰如之，證作三日瘡不見，升發之藥不可遲，敗毒葛根堪選用，解熱表汗最為宜，寒涼之劑慎勿用，臟腑一動致災危。</p>
<p>三日發熱　三日出痘　三日起脹　三日貫膿　三日收靨</p>
<p>三日發熱，紅點未見，急宜表汗，毒氣即散。</p>
<p><u>加味敗毒</u>　柴前胡，羌獨荊防薄荷齊，枳殼桔梗天麻等，地骨川芎病可除。（十二味）</p>
<p><u>升麻葛根湯</u>（方見傷寒）</p>
<p>三日出痘，毒氣大盛，密如蠶種，神功保命。</p>
<p><u>神功散</u>　內用參耆，白芍生黃柴萆宜，前胡紅花牛蒡子，甘草妙劑是盧醫。（十味）</p>
<p><u>錦川經驗化毒湯</u>　，紫草升麻甘草良，各秤五錢加糯米，黑陷不出是神方。（四味）</p>
<p>三日起脹，頂陷不起，元氣太虛，保元是宜。</p>
<p><u>保元湯</u>　中用楝參，黃耆甘草水姜煎，痘瘡為主宜加減，大補真元病自痊。（三味）</p>
<p>三日貫膿，不貫是虛，大補氣血，自然潤肥。</p>
<p><u>內托散</u>　主是參耆，甘草梗樸芷芎歸，木香防風厚肉桂，能補痘疹氣血虛。（十一味，煎熟藥，入人乳、好酒同服，此貫膿巧法也）</p>
<p>三日收靨，灰陷黑陷，白陷嘔吐，表虛可見。</p>
<p><u>木香散</u>　內人參桂，半夏前胡大腹皮，訶子赤茯苓甘草，陳皮丁香十一味。</p>
<p>三日收厭，寒戰咬牙，癢塌泄瀉，裡虛可嗟。</p>
<p><u>異功</u>　丁香及木香，茯苓人參白朮良，陳皮當歸肉豆蔻，厚朴附子桂生薑。（十二味）</p>
<p><u>回陽湯</u>　治痘寒虛，頂陷白泡癢塌齊，鹿茸酥炙須加倍，附子煨熟去皮臍。黃耆蜜炙當歸酒，酒煎溫服可蘇危。若兼咳嗽作痰喘，南星加入即安之。</p>
<p>痘後餘毒，聚於臟腑，身熱腹痛，解毒為主。</p>
<p><u>五福化毒丹</u>（方見諸熱，治痘後餘毒如神）</p>
<p><u>牛蒡子飲</u>　用芩連，赤芍白附子玄參，羌活防風甘草入，前胡連翹用水煎。（十一味）</p>
<p>外毒腫痛，宜：</p>
<p>黑綠赤三豆，酸醋浸研漿，鵝翎刷患處，隨手退去良。</p>
<p>治痘附後：</p>
<p>發渴如煙起，紅花或用子，牛蒡各等分，水煎服即止。</p>
<p>出汗多不止，三錢嫩黃耆，當歸五錢重，酸棗一錢余，水煎用一服，止汗有神奇。</p>
<p><u>泄瀉定中湯</u>　，沸湯泡黃土，雄黃末一錢，硃砂五分數，土湯加砂糖，溫服瀉即止。</p>
<p>漿行作癢者，內熱風寒束，荊穗紙裹緊，燈燒點癢處，點下即放退，止癢如神助。</p>
<p>痘疔最惡毒，胭脂水浸濃，調入雄黃末，點入痘疔中。</p>
<p>收厭發熱者，甘露迴天湯，砂糖沸湯和，一服即安康。</p>
<p>痘瘡靨已盡，忽然又倒發，雄黃研細末，酒煎患處刷。</p>
<p><u>灸法</u>　治小兒痘後風。</p>
<p>男左女右手，中指一稈心，比三節一般長，放額中，與眉頭相平，比至十一稈心盡處是穴，艾灸三壯或五壯如神。</p>

<h2>麻疹</h2>
<p>麻疹初起，惡寒發熱，咳嗽噴涕，解表甚捷。</p>
<p><u>升麻葛根湯</u>（方見傷寒）</p>
<p>麻疹既出，為寒又沒，急須消毒，慎之毋忽。</p>
<p><u>消毒飲</u>　內牛蒡子，荊芥防風甘草使，能解痘疹一切毒，再加犀角效無比。（四</p>

<h2>癰疽</h2>
<p>癰者高大起，屬陽六腑生。疽者平內發，屬陰五臟成。癰疽若未破，熱藥不堪行，癰疽既破潰，冷藥未可輕。癰疽若初發，敗毒散堪憑。癰疽若初潰，活命飲通靈。癰疽若破潰，內托可回生。</p>
<p>癰疽腫痛，病在初起，毒氣要攻，發表通里。</p>
<p><u>荊防敗毒</u>　羌獨活，柴胡前胡並枳殼，連翹甘桔金銀花，茯苓川芎薄荷佐。（十四味）</p>
<p><u>追風通氣散</u>　白芷，木通赤芍草當歸，何首烏茴香枳殼，酒水同煎治癰疽。（八味）</p>
<p><u>千金托裡散</u>　連翹，歸芍牡蠣大黃硝，金銀皂角天花粉，黃芩十味不須饒。</p>
<p>癰疽初潰，毒氣還盛，攻補兼施，藥須對症。</p>
<p><u>真人活命</u>　川山甲，乳沒陳芷金銀花，歸芍天花草皂刺，防風貝母酒煎佳。（十三味）</p>
<p><u>托裡消毒</u>　芍歸芷，金銀天花粉陳皮，防風桔梗皂角刺，川山厚朴與黃耆。（十二味）</p>
<p><u>經驗神仙蠟礬丸</u>　，三兩黃蠟三兩礬，熔蠟為丸梧子大，二三十粒酒下痊。</p>
<p><u>芙蓉膏</u>　用葉，黃荊子同列，搗爛雞清塗，留頂如手捻。（二味）</p>
<p>癰疽既潰，氣血虧損，大補血氣，自然安穩。</p>
<p><u>千金內托</u>　用參耆，防風白芷並芎歸，桔梗厚朴甘草桂，金銀加上更為奇。（十一味）</p>
<p><u>十全大補湯</u>（方見諸虛，治癰疽潰後，大補氣血。此收萬全之功也）</p>
<p>三神陳醋一碗半，蓖麻四十九個齊，好鹽一撮鍋熬滾，槐攪熬膏塗四圍。（三味）</p>
<p><u>斂瘡止痛生肌散</u>　，黃柏官粉（火煅）各一錢，連茶乳沒五分等，研末摻患免憂煎。（六味）</p>
<p><u>白龍</u>　香油秤四兩，煎入官粉二兩研，次入黃蠟化一兩，紙攤湯洗後貼痊。（三味）</p>

<h2>瘰癧</h2>
<p>瘰癧生頸項，虛勞氣鬱致，補虛開鬱結，日久漸消去。</p>
<p><u>益氣養榮</u>　芎歸芍，生地參耆白朮銼，柴桔香附地骨皮，貝母陳皮甘草佐。（十四味）</p>
<p><u>抑氣內消</u>　芎歸芍，芷半青陳羌獨活，芩桔參朮木香附，檳蘇烏沉甘防樸。（二十二味，銼劑水煎服，或為末，酒糊丸，每服七十丸，酒下亦可）</p>
<p><u>內消</u>　朱竭各一錢，斑蝥去翅三分研，空心一分燒酒下，未破已破立消然。（三味）</p>
<p><u>神砂散</u>　醫老鼠瘡，赤豆殭蠶瓜蒂良，斑蝥去翅麻雀糞，等分為末二錢量，五更無根水調下，小便出色見病詳。（五味）</p>
<p><u>烏龍</u>　瘰癧潰爛，木鱉子燒存性，桕葉血餘燒灰，牌垢紙灰已定，飛面各秤一錢，好醋調膏塗病。（六味。牌垢，即舊鍋牌上垢膩是也）</p>
<p>灸瘰癧：以蒜貼著瘰癧上，灸七壯必易蒜，多灸取效。</p>

<h2>馬刀瘡</h2>
<p>馬刀結核，項側有瘡，堅而不潰，皆屬少陽。</p>
<p><u>柴胡通經</u>　當歸尾，黃連黃芩牛蒡子，三稜桔梗與連翹，甘草紅花為佐使。（十味）</p>

<h2>疔瘡</h2>
<p>疔瘡名有十三種，皆是風邪熱毒致，突出痛癢不可當，毒攻命在須臾際。</p>
<p><u>老軍散</u>　治惡疔瘡，半生半煨川大黃，甘草節末等分用，二錢酒下即安康。</p>
<p><u>攻毒湯</u>　中知貝母，白及半夏皂角刺，乳香山甲金銀花，天花等分用酒煮。（九味）</p>
<p><u>追疔奪命</u>　紫河車，蠶蟬辛芍金銀花，澤蘭風連羌獨活，蚤休甘節青皮佳。（十四味）</p>
<p><u>類聖散</u>　中川草烏，白芷蒼朮細辛咀，薄荷防風甘草等，為末雞清調和塗。（八味）</p>
<p>人患疔瘡者，白礬溶化丸，硃砂為衣用，嚼蔥熱酒吞。一宜烏柏葉，搗汁頃服全。一宜好生酒，芭蕉根濃研。一宜白蚯蚓，擂酒吃安然。一宜菊花葉，搗爛敷毒邊。</p>
<p><u>灸法</u>　治疔瘡。</p>
<p>以大蒜爛搗成膏塗瘡，四圍留頂，以艾炷灸之，以爆為度。如不爆，稍難愈，宜多灸百餘壯，無不愈者。</p>

<h2>便毒</h2>
<p>便毒屬厥陰，兩股合縫間，腫痛發寒熱，祛毒是仙丹。</p>
<p><u>祛毒散</u>　中金銀花，歸尾赤芍殭蠶佳，硝黃山甲天花粉，白芷木鱉甚堪誇。（十味）</p>
<p><u>通真散</u>　用甘草節，大黃黑牽牛木鱉，殭蠶山甲當歸尾，酒煎空服瀉膿血。（七味）</p>
<p>感寒失干解表，流成便毒癰疽，往來寒熱甚艱危，獨活生黃歸尾；要真金銀花穗，大黃酒炒甚奇，川山甲要炒成珠，利下膿血便愈。</p>
<p>便毒初作者，三錢生大黃，柏礬一錢末，酒調一服良。</p>
<p>便毒魚口瘡，古銅錢一個，一個胡桃肉，空心一同嚼。（三早二次痊愈）</p>
<p>人患魚口瘡，白芷並大黃，水煎露一宿，空心溫服良。</p>
<p>人患魚口瘡，皮膠一兩切，山甲炒三枚，好酒煎服熱。</p>
<p>人患魚口瘡，蛤膜剝去皮，生蔥同搗爛，敷上即消除。</p>
<p>人患魚口瘡，五倍百草霜，研末調醋貼，一日即平安。</p>

<h2>下疳</h2>
<p>陰頭若腫痛，生瘡名下疳，皆是風熱毒，乃屬厥陰肝。</p>
<p><u>消疳敗毒散</u>　防風，知柏荊翹蒼朮通，芩連芍藥龍膽草，柴胡獨活草相同。（十四味）</p>
<p><u>瀉肝湯</u>　用生地連，歸尾赤芍草車前，黃柏知母龍膽草，澤瀉防風同水煎。（十味）</p>
<p><u>珍珠散</u>　內用枯礬，官粉（煅過）雄黃黃柏研，等分泔洗摻患處，立時可以見歡顏。（五味）</p>
<p>下疳瘡用官粉煅，加些冰片同研散，甘草水洗後搽些，刻時奏效真可聽。（二味）</p>
<p>洗疳楝子與黃連，花椒艾葉並蔥根，瓦松煎湯青布碾，頻頻洗後自安痊。（六味）</p>
<p>凡人下疳瘡，頻洗甘草湯。一宜黃柏水，熏洗自清涼。一宜天靈蓋，煅末摻其傷。一宜輕粉末，搽上即安康。一宜川黃柏，豬膽炙之良，輕粉分錢許，香油調敷強。疳瘡尚未已，便毒復生芒，白礬半生煅，酒調服儘量，飲之即發汗，汗後免其殃。</p>

<h2>楊梅瘡</h2>
<p>楊梅天泡，風濕熱毒，先發後攻，慎勿欲速。</p>
<p><u>二黃敗毒</u>　芍歸芎，生地芩連羌防風，升葛連翹甘草入，黃柏蟬蛻金銀同。（十五味）</p>
<p><u>防風通聖散</u>（方見中風，治楊梅瘡初起，宜多服此方，以免後患）</p>
<p><u>二十四味風流飲</u>　，荊防翹芷芍芎歸，芩連梔柏瓜通草，皂刺蠶蟬白蒺藜，地骨五加白鮮佐，苦參薏苡金銀齊。</p>
<p><u>消風敗</u>　毒金銀花，全蠍白附子天麻，殭蠶白芷赤芍藥，楊梅瘡毒服之佳（七味）。</p>
<p><u>神仙土苓</u>　用四兩，桔梗防風各十錢，乳香沒藥五分等，五碗水煎一日吞。（五味，作一劑，水五碗，煎至三碗，一日服盡，至五日痊愈）</p>
<p><u>雄黃敗毒</u>　用硃砂，兒茶輕粉一錢余，一兩苦參飯丸藥，米湯送下十雙佳。（五味，一日服二次，口噙綠豆湯）</p>
<p><u>香鰾湯</u>　醫筋骨痛，麻黃烏藥細茶椒，槐子乳香茜根草，魚鰾將麻同炒焦。（八味）</p>
<p>人患楊梅天泡瘡，致令潰毒利膏肓，筋骨疼痛時難忍，肉爛皮穿臭莫當，玉莖潰爛陰囊脫，鼻破喉穿性命亡，渾身疙瘩形如李，手足皴粗裂似姜，或生赤白癜風症，或生鵝掌風癬瘍，或生臁瘡頑惡毒，或生瘰癧痔穿丁，諸般怪異難形狀，五寶仙丹是秘方。</p>
<p><u>五寶丹</u>　治楊梅毒，鍾乳三分真可怒，琥珀冰片各半分，硃砂透明二分佳，白淨珍珠二釐半，研末每服五釐足，另入炒麵二分半，共是三分作一服，一料分作十二帖，每日清晨服一度，土苓一件用水煎，十二碗日服盡數，一料可服十二日，戒房切忌雞鵝肉。（五味）</p>
<p>楊梅天泡後，疤痕紫黑紅，大黃白礬末，一擦去無蹤。</p>

<h2>臁瘡</h2>
<p>臁瘡腫痛，風熱濕毒，清熱除濕，自然可遂。</p>
<p><u>荊防敗毒散</u>（方見癰疽）</p>
<p><u>三香</u>　乳香用二錢，松香三錢一處研，為末油調用筍葉，刺孔攤藥貼患邊。（三味）</p>
<p><u>黃白</u>　用黃柏，一兩研細末，輕粉入三錢，豬膽調和刷。</p>

<h2>血風瘡</h2>
<p><u>追風解毒</u>　四味先，荊防羌獨威靈仙，連翹金銀歸芍草，蒺藜殭蠶蠍要全。（十七味）</p>
<p><u>一抹光</u>（方見疥瘡，治血風瘡效）</p>

<h2>疥瘡</h2>
<p>五疥五臟毒，乾溼蟲砂膿，祛風除濕熱，內外兩收功。</p>
<p><u>仙子散</u>　用威靈仙，首烏荊芥與苦參，蔓荊五味為細末，二錢調酒日三吞。</p>
<p>諸般疥癩風癬瘡，一錢人言一兩黃，化開為末蔥油炒，拌藥絹包擦最良。（硫黃是也）</p>
<p><u>一抹光</u>　炒蛇床子，大風為末各五錢，水銀二錢礬銀一，柏油調搽立可痊。</p>
<p><u>洗疥湯</u>　中馬鞭草，荊芥防風苦參搗，白礬花椒野菊花，水煎頻洗立時好。</p>
<p><u>熏疥藥</u>　中核桃殼，艾葉雄黃加減著，人言少許紙捲筒，燒煙燻疥如手摸。（四味）</p>
<p><u>千古流傳一掃光</u>　，一兩枯礬七錢黃，五倍花椒共一兩，人言二分為末良，雞子香油煎去子，將油調藥擦其瘡。</p>

<h2>癬瘡</h2>
<p>疥癬風燥，毒克皮膚，浮淺為疥，深以癬呼，疥多挾熱，癬挾濕殊。</p>
<p><u>浮萍散</u>　芎歸，赤芍荊芥隨，麻黃甘草等，蔥豉汗出奇。（七味）</p>
<p>頑癬斑蝥去足翅，淮棗煮熟去核皮，搗爛和藥貼患處，酒齇鼻病亦能醫。（二味）</p>
<p>風癬疥癩瘡受苦，桃杏椿槐榆楝楮，七味將來共煮湯，洗了如同風送雨。</p>
<p><u>玉脂膏</u>　治楊梅癬，黃蠟香油牛柏油，各秤一兩慢火化，二錢官粉入里頭，錢半銀硃五分麝，同入攪勻磁器收，患處火烤後擦藥，久年頑毒一時瘳。</p>

<h2>癜風</h2>
<p>白癜紫癜一般風，附子硫黃最有功，薑汁調勻茄蒂擦，但患癢處並無蹤。</p>
<p>癜風與汗斑，陀僧用細研，隔年釅醋和，一擦如舊顏。</p>
<p><u>追風丹</u>　用何首烏，苦參荊芥蒼朮殊，皂角熬膏糊丸藥，茶下空心五十餘。（五味）</p>
<p><u>祛風神效丸</u>　，一斤好苦參，首烏半斤重，菟絲四兩全，蓯蓉枸杞子，蒺藜二兩先，胡麻蔓蒡膝，蒼耳蛇床兼，蒼朮金櫻子，各秤一兩研，五錢甘草末，面丸溫酒吞。（十五味）</p>

<h2>諸瘡</h2>
<p>一切惡毒瘡，腫痛不可當，初起宜敗毒，日久托裡良。</p>
<p><u>千金消散</u>　用連翹，黃芩赤芍大黃硝，歸尾金銀皂角刺，天花牡蠣不須饒。（十味）</p>
<p><u>洪寶</u>　三兩天花粉，赤芍白芷二兩賒，鬱金一兩共為末，或茶或酒可調搽。（四味）</p>
<p><u>三白散</u>　醫瘡腫毒，白及白斂二兩足，枯礬五錢入水中，綿紙蘸水頻搽處，搽後將藥敷其中，消毒止痛加神速。</p>
<p>諸瘡惡毒，風毒疔瘡，無名腫毒，百無一傷。</p>
<p><u>神仙排膿散</u>　大黃，六兩酒浸曬乾強，香白芷只用三兩，沉木乳香沒藥良，山甲炒各二錢半，各研細末合和藏，每用三錢酒調服，膿從大便出神方。</p>

<h2>杖瘡</h2>
<p>杖瘡腫痛，瘀血不散，血氣攻心，寒熱慌亂。</p>
<p>凡人杖打後，瘀血要消除，內飲童便酒，外熱豆腐鋪。一宜鳳仙花，根葉搗爛塗。一宜白蘿蔔，搗爛罨之乎。一宜大黃末，童子便調敷。一宜豆粉炒，雞子清調敷。臨時擇便用，方知功效殊。</p>
<p><u>退血止痛</u>　歸芍地，芩連梔柏防荊穗，薄翹枳桔知石膏，羌芷大黃車草是。（二十味）</p>
<p><u>杖打腫痛</u>　血攻心，蘇木紅花歸尾尋，大黃煎須童便酒，管教服下立安寧。（四味）</p>
<p>杖後潰爛，久而不愈，補氣生血，肌肉漸起。</p>
<p><u>補氣生血</u>　用參苓，當歸白朮地黃並，白芍陳皮香附子，桔梗貝母甘草行。（十一味）</p>
<p><u>杖打腫痛</u>　昏欲死，白蠟一兩生研起，乳香沒藥各三錢，金銀箔各廿貼紙，為末溫酒調二錢，服後勿藥自有喜。</p>
<p><u>白龍神膏</u>　醫杖瘡，黃蠟二兩慢火煬，續入黃香末二兩，沒藥五分同乳香，香油燉溫入三兩，攪勻待冷入水缸，三日拔去火中毒，油紙攤藥貼其傷。</p>

<h2>折傷</h2>
<p>跌撲折傷，瘀血凝聚，心腹脹悶，散瘀消滯。</p>
<p><u>通導散</u>　內大黃硝，枳殼厚朴當歸頭，陳皮木通甘草入，紅花蘇木解人愁。（十味）</p>
<p><u>防風通聖散</u>（方見中風，治打撲傷損，肢節疼痛，腹中惡血不下，倍大黃、當歸，煎熟，調入乳香、沒藥末各二錢在內，服之）</p>
<p><u>活血止痛</u>　乳沒藥，芎芷生地歸赤芍，牡丹甘草研為末，三錢酒便送下著。（九味）</p>
<p>麥鬥土鱉焙一個，巴豆一個去殼油，半夏一個須生用，乳沒各用半分收，白銅些須大醋淬，為末一釐黃酒投，止痛續筋神接骨，立時奏效免人憂。（六味）</p>
<p><u>穀神接骨丹</u>　，兒茶乳沒藥，繭殼燒等分，每服二錢末，下血燒酒調，接骨黃酒嗑。</p>
<p>跌打傷損筋骨，嫩雞搗爛敷搭，外用杉木夾之，次日再易良法。</p>
<p>打傷瘀血流注，紫黑或傷眼目，大黃薑汁調和，一夜一次塗敷。</p>

<h2>金瘡</h2>
<p>金瘡血成虛細活，急疾大數必危身。</p>
<p><u>金瘡散</u>　用白銀末，血竭發灰人指甲（燒存性），珍珠（燒存性）等分為末摻，止血住痛口即合。</p>
<p><u>軍中一捻金</u>　，礦石灰要炒，韭果搗陰乾，摻之患處妙。</p>
<p><u>神仙刀箭藥</u>　，白及五錢末，礦石灰不拘，乳竭少許著，研末入牛膽，窨干候傷割，少許摻患處，百中無一錯。</p>

<h2>破傷風</h2>
<p>破傷風邪，初尚在表，寒熱拘急，發散當早。</p>
<p><u>羌活防風湯</u>　，川芎白芍當，地榆並藁本，細辛甘草良。（八味）</p>
<p>破傷風邪，傳入於裡，舌強口禁，筋惕搐搦，胸腹滿悶，便溺閉赤，急宜疏導，諸風可愈。</p>
<p><u>大川芎黃湯</u>　，黃芩並大黃，更有羌活等，四味共煎湯。</p>
<p>破傷風症，不省人事，角弓反張，祛風可已。</p>
<p><u>追風散</u>　內用荊防，殭蠶白芷與麻黃，當歸茯苓薄荷葉，天麻甘草共煎湯。（十味）</p>
<p><u>一字散</u>（治破傷風，一切諸風）</p>
<p>雄黃南星半夏，川烏草烏硃砂，更加一味白天麻，七味等分無差；每服一錢好酒下，此藥千金無價。</p>
<p><u>變法</u>　治破傷風至死，牙關緊急，不省人事，及瘋犬咬傷神妙。</p>
<p>用胡桃殼半個，填稠人糞滿，仍用槐白皮襯，即傷處用艾灸之。若遍身汗出，其人大困則愈。遠年者，將傷處灸之亦愈。</p>

<h2>蟲獸傷</h2>
<p>癲狗咬傷用斑蝥，七個去翅末酒調，七服之後似狗狀，永不再發毒潛消。（後用益元散一兩，煎服，解之。忌豬、雞、魚、酒百日，犬肉終身忌之）</p>
<p>凡人被狗咬，杏仁與甘草，口嚼搭傷處，疼痛即便好。一宜白銀杏，搗爛塗患處。一宜蓖麻子，並水研膏敷。</p>
<p>蛇咬痛腫，白芷為末，麥門湯調，服之即活。</p>
<p>毒蛇所傷昏欲死，雄黃五錢五靈脂，一兩為末每二錢，好酒調服如手取。</p>
<p><u>蠍螫疼痛神妙丸</u>　，雄膽半夏與膽礬，等分為末麝少許，貓兒眼草汁和丸，口嗒患處須令淨，用藥揩擦立歡然。（端午日製，忌婦人、雞、犬見之）</p>
<p>人遭蠍螫最難堪，不問雌雄總一般，半夏白礬為細末，醋調塗敷即痊安。</p>
<p>蝨咬藜蘆馬鞭草，桔梗百部一處搗，滾水濾汁漿衣裳，一生不吃蝨子咬。</p>

<h2>湯火瘡</h2>
<p>火燒湯燙，勿用冷物，熱氣得冷，爛入筋骨。</p>
<p><u>保生救苦散</u>　大黃，黃柏寒水石為良，等分為末油搽上，火燒湯燙立安康。</p>
<p>湯燙火燒傷，大黃研末良，蜜水調搽上，止痛是仙方。</p>
<p><u>火燒湯</u>　燙厄，雞清磨京墨，塗上溫紙蓋，其痛立可得。</p>
<p>湯火所傷，榆皮一兩，黃丹三錢，水調敷上。</p>

<h2>中毒</h2>
<p>中毒洪大生，微細必死亡，香油解百毒，多灌亦無傷。</p>
<p>百毒所中，綠豆甘草，水煎服之，一解即好。</p>
<p>凡人中砒毒，黃連水熬膏，黑牛膽切入，蜜水化服好。</p>
<p>神解砒毒方，豆豉要西江，蚯蚓各一兩，研末水煎嘗。</p>
<p>巴豆黃連解，半夏用生薑，黎蘆蔥煮汁，桐油柿餅嘗。</p>
<p>杏仁搗爛汁，花椒新水涼，鱔鱉蝦豆豉，螃蟹紫蘇湯。</p>
<p>斑蝥黑豆汁，六畜犀角良，鴉片砂糖醋，信石黑豆強。</p>
<p>水粉伏龍末，為衣百草霜，淋稈灰水下，解毒有仙方。</p>
<p>凡誤吞水蛭，田泥用水吞，或食蜜亦可，即化為水涎。</p>

<h2>骨鯁</h2>
<p>諸骨鯁咽喉，把狗到吊涎，將來頻嚥下，骨化為水泉。</p>
<p>諸骨鯁喉，金鳳花子，為末醋調，咽莫犯齒。</p>
<p>諸骨鯁喉，玉簪花根，搗汁嚥下，勿犯牙齦。</p>
<p>魚骨入喉，縮砂甘草，等分為末，綿裹日咬，旋旋咽津，痰出為妙。雞魚骨鯁，只吃橄欖，或核燒灰，水調可啖。</p>

<h2>通治</h2>
<p>尹蓬頭祖師，秘傳　混元丹　：專治男婦小兒，諸虛百損，五勞七傷，小兒百病。</p>
<p>紫河車（焙乾，二錢）　白梅花（三錢）　甘松（四錢）　辰砂（花草一兩，水煮過半日．一兩研細為衣）　粉草（一兩）　滑石（六兩，牡丹皮二兩，煎水，去皮，用汁煮乾為度）　莪朮（三錢，火煨過）　縮砂（三錢，去皮）　益智仁（去殼，六錢）　人參（一錢）　木香（一錢）　黃耆（一錢）　山藥（薑汁炒，二錢半）　香附（一兩，蜜水浸透，炒）　桔梗（一錢）　白茯苓（去皮，一錢半）　白茯神（去皮，末，二錢半）　遠志（甘草水泡，去心，一錢半）　麝香（三分）　牛黃（二分）　天竺黃（一錢）　金箔（三帖）</p>
<p>上共為細末，煉蜜為丸如龍眼大。量人大小，加減丸數用之。</p>
<p>中風痰厥，不省人事，薑湯研下。</p>
<p>傷寒夾驚、發熱，蔥薑湯研下。宜發汗。</p>
<p>停食嘔吐，大便酸臭、腹脹，薑湯下。</p>
<p>霍亂，紫蘇、木瓜湯下。</p>
<p>赤白痢，裡急後重，陳倉米湯下。</p>
<p>小便不通，車前子湯下。</p>
<p>夜出盜汗，浮小麥湯下。</p>
<p>發熱，金錢、薄荷湯下。</p>
<p>痘疹不出，升麻湯下。</p>
<p>中暑煩渴，燈心湯下。</p>
<p>喘急咳嗽，麻黃、杏仁湯下。</p>
<p>積聚腹痛，薑湯下。</p>
<p>蟲痛，苦楝根皮湯下。</p>
<p>疝氣偏墜，小茴、大茴湯下。</p>
<p>夜喘不止，燈心灰湯下。</p>
<p>慢驚，白朮、人參湯下。</p>
<p>急驚搐搦，薄荷湯下。</p>
<p>諸病後無精神，少氣力，不思飲食，薑、棗湯下。</p>
<p>胎寒，手足冷，口氣涼，腹痛腸鳴，薑、蔥湯下。</p>
<p>面目、四肢浮腫，面黃，茯苓皮、陳皮、桑白皮、大腹皮、生薑皮湯下。</p>
<p>瘧疾，槐、柳枝各五寸，姜三片，煎熟，露一宿，五更溫酒送下。</p>
<p>疳熱，身瘦肚大，手足細，大便或閉或泄，小水如泔，陳倉米湯下。</p>
<p><u>一方</u>　無天竺黃、白梅花、紫河車亦效。若加此三味，尤效。</p>
<p>敕封通微顯化真人萬億丸（即赤腳張三峰神仙所授，不可泛視，珍之）</p>
<p>神效仙方　萬億丸　，赤腳真人親口傳，為用硃砂及巴豆，不去巴油各五錢，酒煎五錢寒食麵，丸如黍米用茶吞，或令一三五丸服，管教萬病立時痊。（端午日製）</p>
<p>感冒風寒，薑、蔥湯下。</p>
<p>內傷飲食，茶清送下。</p>
<p>心胃刺痛，艾酸湯下。</p>
<p>肚腹疼痛，淡薑湯下。</p>
<p>霍亂吐瀉，熱薑湯下。</p>
<p>赤痢疼痛，茶清送下。</p>
<p>白痢後重，薑湯送下。</p>
<p>赤白痢疾，薑、茶湯下。</p>
<p>瘧疾寒熱，薑湯送下。</p>
<p>心膨氣脹，薑湯送下。</p>
<p>伏暑傷熱，冷水送下。</p>
<p>諸蟲作疼，楝根湯下。</p>
<p>積聚發熱，茶清送下。</p>
<p>大便閉結，茶清送下。</p>
<p>小便不通，燈心湯下。</p>
<p>咳嗽痰喘，薑湯送下。</p>
<p>急慢驚風，薄荷湯下。</p>
<p>清明前一日為寒食，用白麵酒和一塊，包白麵於內蒸之，收起，至端午合藥，取開，將面酒打糊聽用。</p>
<p><u>神應救苦</u>　蒼芎芍，青皮生地黃枳殼，川草烏炮各五錢，五靈二兩同研卻，酒糊彈大每一丸，細嚼酒下汗出樂。</p>
<p>頭風腫痛，心腹刺痛，腳膝腫痛，疝氣腫痛，手肩皆痛，遍身骨痛，破傷風痛，棒瘡疼痛，癰疽瘡痛，諸般腫痛。</p>
<p>上作小丸，酒送下亦可。如不飲酒，白滾水亦可。</p>
<p><u>一粒金丹</u>　啞芙蓉，飯丸梧大飲難同，每服不過三二粒，回生起死有神功。</p>
<p>痢疾禁口，白朮湯下。</p>
<p>瘧疾，桃、柳枝湯送下。</p>
<p>咳嗽，生薑湯送下。</p>
<p>勞咳，款冬花湯下。</p>
<p>心腹熱痛，山梔子湯送下。</p>
<p>一切氣痛，木香磨酒下。</p>
<p>腰痛，木瓜湯送下。</p>
<p>雷頭風，薄荷湯下。</p>
<p>暈頭風，防風湯下。</p>
<p>陰毒傷寒，炒黑豆淋酒下。</p>
<p>上數症，乃經驗過者，故錄之。</p>
<p><u>奇效牛黃散</u>　，黑醜與將軍，等分研細末，對症效如神。</p>
<p>咽喉腫痛，蜜調茶下。</p>
<p>口瘡舌爛，蜜調茶下。</p>
<p>牙風腫痛，蜜調茶下。</p>
<p>癰疽腫痛，蜜調茶下。</p>
<p>吐血衄血，童便調下。</p>
<p>小便血，大便血，童便調下。</p>
<p>痔瘡膿血，童便下。</p>
<p>大便閉，小便閉，俱冷茶下。</p>
<p>下痢膿血，茶下。</p>
<p>下淋澀痛，茶下。</p>
<p>傷寒便閉，發狂譫語，茶下。</p>
<p>婦人血暈，風氣迷悶，不省人事，童便下。</p>
<p>小兒馬脾風，喘嗽壅塞，眼吊反張，一切驚風，痰熱，薄荷湯下。</p>
<p>小兒痘疹餘毒，或痛或腫，冷蜜水下。</p>
<p>上，宜看病加減，大人二錢或三錢，小兒三分或五分，病愈住服。</p>
<p><u>神秘雄黃解毒丸</u>　，鬱金二味共五錢，巴豆去油廿四粒，醋糊為丸用茶吞。</p>
<p>一中風卒然倒僕，牙關緊急，不省人事，以刀尺或鐵匕斡開口，灌下。</p>
<p>一咽喉腫閉，纏喉風，卒死而心頭猶熱，以熱茶調灌立蘇。</p>
<p>一上膈壅熱，痰涎不利，熱茶清下。</p>
<p>一應熱毒腫痛，茶清下。</p>
<p>一傷食停積，痞悶脹痛，茶清下。</p>
<p>一氣鬱滿悶，茶清下。</p>
<p>一食瘧寒熱，茶清下。</p>
<p>一瘰癧，加斑蝥七個，去翅足，糯米炒，去米，臨臥冷茶下。</p>
<p>一小兒急慢驚風，痰涎上壅，加膩粉五分。</p>
<p>上方用醋煮，麵糊丸，如綠豆大。每服七丸，熱茶送下，吐出頑涎立蘇。未吐再服，神效。</p>

<h2>雜方</h2>
<p><u>神仙延壽酒</u>　生精血，暖丹田，助元陽，扶脾胃，烏鬚髮，牢牙齒，聰耳明目，強力壯筋，益壽延年，扶衰生子。</p>
<p>天門冬（水泡，去心，一兩）　破故紙（一兩）　肉蓯蓉（酒浸，去鱗，一兩）　牛膝（去蘆，一兩）　杜仲（去皮炒，一兩）　川椒（去目，一兩）　粉草（一兩）　大附子（水浸，去皮臍，五錢）</p>
<p>以上八味為末，入曲內，同和糜。</p>
<p>淫羊藿（一斤，米泔水洗淨，曬乾，同羯羊脂一斤拌炒黑色）　頭紅花（一斤，搗爛，曬乾）　當歸（四兩）　白芍藥（一兩，煨）　生地黃（二兩）　熟地黃（二兩）　白茯苓（去皮，四兩）　蒼朮（米泔浸，炒，四兩）　甘菊花（去梗，一兩半）　五加皮（四兩）　地骨皮（四兩）</p>
<p>以上十二味，銼咀片，絹袋盛貯，鋪缸底。</p>
<p>縮砂仁（五錢）　白豆蔻（去殼，五錢）　木香（五錢）　丁香（五錢）</p>
<p>以上四味，後用煮酒，為末用。</p>
<p>上藥二十四味共五斤四兩，用糯米二官鬥淘淨，浸一日夜，又淘一次，蒸作糜，取出候冷，用細曲末四斤，同天門冬等分，八味和勻，卻將淫羊藿等十二味貯於粗絹袋，置缸底，將前糜拍實於其上，然後投上品燒酒四十斤，封固一七日，榨出澄清，方入壇內，加砂仁等四味封固，重湯煮三炷香，埋土中三日以出火毒。每日量飲數杯，一七日百竅通暢，渾身壯熱，丹田微癢，痿陽立興。切忌醉酒飽食行房。只待氣血和平，緩行無事，久久純熟，自然身輕力健，百病不生。若男女共服，兩精和合，一度成胎，功效多端，未可悉舉，珍之重之。</p>
<p><u>邵真人追風換骨丹</u>　治中風不語，左癱右瘓，腳手不能屈伸，渾身麻木腫痛，口眼喎斜，語言蹇澀，手足頑麻。每遇春夏發動，腳踝頻痛，筋脈緊急，行步少力。下注膀胱，上攻頭目腫痛，夾腦風症，偏正頭風，神思昏沉，二便或閉或澀，眉發脫落，風癩腫毒，血風，破傷風，一切諸風，並皆治之。</p>
<p>人參（去蘆，一兩）　白朮（去蘆，一兩）　白茯苓（去皮，一兩）　當歸（一兩）　白芍（一兩）　川芎（一兩半）　防風（去蘆，兩半）　白芷（一兩）　天麻（一兩）　川烏（一兩，炮去皮）　柴胡（一兩）　薄荷（一兩半）　牛膝（去蘆，酒洗，一兩）　兩頭尖（炙，一兩半）　木香（五錢）　乳香（五錢）　沒藥（五錢）　虎脛骨（酥炙，一兩）　真白花蛇（一條，為末）</p>
<p>上為末，用麻黃二十斤，草烏四兩銼碎，盛於桶內，用水浸，春五夏一秋二冬五晝夜，分作四份，用大鍋四個，各煮數十沸，濾去，將渣於石臼內搗爛。另用清水攪勻，仍分作四鍋煮數沸，去渣不用，卻將二次所煎藥汁總作四鍋，文武火熬至一半，並作二鍋，漸熬，並至一鍋再熬至四五碗，然後將白花蛇末下於鍋內，慢火熬至一二碗，傾在磁器內，候冷下前十九味藥末，搜和成劑。每服一丸，大樣二錢重，中樣一錢半，小樣一錢，量病輕重加減。研爛，用好酒一大鐘，連須蔥白七根，同煎數沸調藥，熱服，令病人暖處，被蓋臥，出汗，調理旬日，不可見風，忌動風之物，其病即愈。修合藥時，擇良日淨室，毋令婦人、雞犬見之。</p>
<p><u>養心益腎百補丹</u>　補益元氣，培填虛損，真精內之，以致胃氣怯弱，下焦虛憊及夢泄自汗，頭眩眼黑，耳鳴，四肢無力，補養之聖藥也。其功不能盡述。</p>
<p>懷生地黃（八兩，酒洗，蒸如泥，合石器內搗之）　甘枸杞子（四兩，酒洗）　山茱萸（酒蒸，去核，取肉四兩）　懷山藥（四兩）　白茯苓（去皮，三兩，乳汁浸蒸）　牡丹皮（三兩）　柏子仁（三兩，微炒）　覆盆子（二兩）　遼五味子（二兩）　菟絲子（水洗淨，酒蒸，搗爛成餅，焙乾，三兩）　澤瀉（二兩）</p>
<p>上為細末，用蜜八兩，入斑龍膠內先煉，次入浮小麥粉四兩，芡實粉四兩，水調，亦入膠蜜同煉熟，和諸藥，杵千餘下，丸如梧子大。每日早晨空心服百丸，淡鹽湯送下。</p>
<p><u>制斑龍膠法</u>　此膠能生精養血，益氣和胃，順暢三焦，培填五臟，補心腎，美顏色，卻病延年，乃虛損中之聖藥也。</p>
<p>鹿角連腦蓋骨者佳，自解者不用。去蓋，至生淨五十兩，截作三寸段，新汲泉井水浸洗，去垢，吹去角內血腥，穢水盡，同人參五兩，天門冬（去心、皮）五兩，麥門冬（去心）五兩，甘枸杞子（去蒂）八兩，川牛膝（去蘆）五兩。五品藥，以角入淨壇內，注水至壇肩，用箬殼油紙封固壇口，大鍋內注水，木甑蒸之，文武火蜜煮三晝夜足時（常加入沸湯於鍋內，以補乾耗），取出，濾去渣，將汁復入砂鍋內，熬成膠聽用。和藥末，其角去外粗皮，淨者為末，為鹿角霜也，亦有可用處。</p>
<p><u>陰煉秋石法</u>　每童子小便二桶，用淨水一桶，牙皂一個煎湯，同投入大缸內，以竹棍攪打千余匝，待澄清了，輕輕倒掣去清水，留下白角，又復用清水如前法九遍。澄下者，乃秋石也。用細絹濾過，置一灰缽，捺一凹，放灰上，鋪白綿紙三層，將濾出秋石，傾在紙上，待陰乾，日曬以太陽，夜露以太陰，以受日精月華也。收置緊密。合藥時，以少壯婦人乳汁和之，入鹿膠內。夫斑龍秋石，系仙家築基之丹，非特去病而已也，敬之慎之。亦可清晨空腹，隆冬醴酒調服二三匙，合斑龍膠大補。</p>
<p>歌曰：尾閭不禁滄海竭，九轉靈丹都慢說，惟有斑龍頂上珠，能補玉堂關下血。</p>

<h2>眼藥</h2>
<p><u>撥雲膏</u>　治眼目腫痛，風熱癢爛，翳瘴昏蒙。</p>
<p>制熟爐甘石（濃煎黃連汁，湯研而飛過，三錢）　上等黃丹（水飛九次，烘乾，三錢）　乳香（三分）　沒藥（三分，銅器內炒，去油，研）　硼砂（五分）　海螵蛸（滾湯煮淡，去外皮，三分）　冰片（五分）　麝香（五分）　膽礬（一分）</p>
<p>上研極細，口內試嚼噙，以無砂為妙，用好蜂蜜沸湯中陰煉，滴水成珠，入藥和勻，磁器盛之，不時點之，殊效。</p>

<h2>膏藥</h2>
<p><u>趙府秘傳萬病無憂膏</u>　治風寒濕氣所傷，跌撲門挫傷。凡一切疼痛，皆貼患處。心腹痛，俱貼患處。哮吼喘咳，貼背心。瀉痢，貼臍上。頭痛眼痛，貼太陽穴。及治一切無名腫毒，癰疽發背，疔瘡癤毒，流注濕毒，臁瘡初覺痛癢，便貼患處，即消。已成亦可止痛。箍膿，長肉生肌，百發百中，其功不能盡述。</p>
<p>川烏　草烏　大黃（各六錢）　當歸　赤芍　白芷　連翹　白蘞　白及　烏藥　官桂　木鱉子（各八錢）　槐枝　桃枝　柳枝　桑枝　棗枝（各四錢）　加苦參　皂角（各五錢）</p>
<p>上銼散，用真香油二斤，浸藥一宿，用火熬藥焦色，以生絹濾去渣不用，將油再熬一滾，入飛過黃丹十二兩，炒過，陸續下槐、柳，棍攪不住手，滴水成珠為度，離火，次入乳香、沒藥末各四錢，攪勻收貯，退火毒聽用。一方，加蘇合香二錢尤妙。</p>
<p><u>萬應紫金膏</u>　治跌撲傷損，手足肩背，並寒濕腳氣風毒，痛不可忍。</p>
<p>瀝青（一兩半）　靈仙（二兩）　蓖麻子（十兩，去油）　木鱉子（二十個，去殼，研）　乳香（一兩，筍箬炙為末）　沒藥（一兩，為末）　黃蠟（二兩）　生薑（二斤，搗汁一碗）　生蔥（搗汁一碗）　麻油（夏二兩，春秋三兩，冬四兩，先同靈仙熬去渣，滴水成珠為度）</p>
<p>上將瀝青研末，同二汁下鍋熬化，看二汁盡時，卻起鍋，將柳條不住手攪，卻威靈仙油同熬，再下木鱉子、蓖麻子搗勻入內，再煎，又下乳香、黃蠟，再攪，即成膏矣。每用好厚絹紙貼。先將姜擦患處後貼上，即用烘熱鞋底熨之。瀉痢貼丹田，咳嗽、吐血貼背，心上風損貼患處。</p>
<p>題醫師龔雲林先生儲存成一首：</p>
<p>道得軒岐秘，心同天地仁，回春起萬病，神彀邁群倫，醫鑑追前哲，仙方啟後人，恩光普天下，共樂太平春。</p>
<p><u>賜進士第亞中大夫曲東遼海參政</u></p>
<p>永平王大用書</p>
