<header data-type="book">
<h1>女科仙方</h1>
</header>

<h1>重刊女科仙方敘</h1>
<p>語云：「治十男子，不治一婦人。」蓋以婦人之病，名目繁多；甚有病不自知，及不肯言與不能言之蔽之難。醫者望聞問切，難以兼施，惟憑微茫脈息臆斷揣摩，稍有差誤，性命繫於反掌，無怪醫者以婦科為畏途。而婦人之不死於病而死於醫藥偶誤者，蓋不知凡幾矣。傅青主先生《女科仙方》一書，分門別類，精細簡明，舉凡婦人之病，名目雖多，無不畢載。其論病源、病標，瞭如指掌，直能洞悉病者所不自知與所不肯言、不能言之隱。每門附列各方，君臣佐使，斟酌精當，果能依論擇方，擇方製藥，縱至險極危，命在呼吸，立獲起死回生之效，仙方之名，誠非虛語也。無如坊刻不免舛誤，尤多模糊，久而以訛傳訛，其貽害將有甚於臆斷揣摩者。燕山張君敏臣，亟思重刻，以成完壁，因未得方家釐定，未敢輕付剞劂。長白戴君善堂，與敏臣夙契金鑑各科，折肱有素，爰逐加參核，督刊校對，罔不悉心訂正。復於編內用意，離奇未便採用及他方盡善盡美、屢試屢驗者，又為增減數方。俾此濟人之書，絕無誤人之患。此二君者，其功德尚可限量耶？今是書已成，反復披閱，信稱完璧。仰見重刊之用心，與作書之苦心，詢併成為仁人君子之心。而其利濟無心，不求食報而自獲福者，當亦天心勸善之不爽云，故樂為之敘。</p>
<p><u>光緒二十三年三月望前東陽溫遐齡夢錫氏謹識</u></p>

<h1>序</h1>
<p>夫濟世之道，莫過於醫。而古方流傳，尤便於窮鄉僻壤，備一時昏暮之急。去歲張君敏臣之夫人，偶覺身體倦怠，飲食無味。延醫調治，皆誤認為氣血兩虛，妄用補劑，病勢愈增。有戴君善堂者，與敏臣素為知己，平日操華佗業，雖有針茅徒柳之能，而兩袖清風，纖塵不染，意在救人而已。一日酒闌燈他，聞敏臣談及夫人病狀，細審其脈，善堂及囅然而笑曰：「非病也，喜也」。因出傅徵君先生所著《女科仙方》一書，按病求方，一劑而安。試之他症，又屢試屢驗，名曰《仙方》，真仙方也。於是欣賞讚嘆，遇人輒道。世但知善堂精於外科，而不知於《內經素問》諸書外，凡古人之奇方異書，又留心研訪者有年矣。然是書雖佳，第年遠日久，字跡模糊，坊間又無存板，每與善堂商議，意欲另為捐貲刊刻，上以彰前哲立方之功，下以救斯世生育之苦。較傳播於口，馳寄於簡者，不更廣之又廣乎？命梓之日，察訛訂謬，戴君又親自為之。噫！人之好善，原有同情。如兩君子者，尤抱仁人長者之心，以利濟博施為念。天道福善不爽，可預卜其同登壽域、共收美報於子孫也已。余嘉其意而慕其行，且樂為之序云。</p>
<p><u>光緒二十三年歲次丁酉拔貢貫之福光謹識</u></p>

<h1>原序</h1>
<p>執成方而治病，古今之大患也。昔人云：「用古方治今病，如拆舊屋蓋新房，不經大匠之手經營，如何得宜？誠哉是言。昔張仲景先生作《傷寒論》，立一百一十三方，言後世必有執其方以誤人者，甚以成方之不可執也。然則今之《女科》一書，何為而刻乎？此書為傅青主徵君手著，其居心與仲景同，而立方與仲景異。何言之？仲景《傷寒論》，雜症也，有五運六氣之殊，有中表傳裡之異，或太陽太陰不一其稟，或內傷外感不一其原，陽極似陰，陰極似陽，不一其狀。非精心辨症，因病制方，不能易危就安，應手即愈。此書則不然，其方專為女科而設，其症則為婦女所同，帶下血崩，調經種子，以及胎前產後，人雖有虛實寒熱之分，而方則極平易精詳之至。故用之當時而效，傳之後世而無不效，非若傷寒雜病，必待臨症詳審，化裁通變，始無貽誤也。嘗慨後世方書，汗牛充棟，然或偏攻偏補，專於一家；主熱主寒，堅持謬論。炫一己之才華，失古人之精奧。仲景而後，求其貫徹靈素，能收十全之效者，不數數。觀讀徵君此書，談症不落古人窠臼，制方不失古人準繩，用藥純和，無一峻品，辨證詳明，一目瞭然。病重者十劑奏功，病淺者數服立愈，較仲景傷寒論方雖不同，而濟世之功則一也。此書晉省鈔本甚多，然多秘而不傳。間有減去藥味、錯亂分量者，彼此參證多不相符。茲不揣冒味，詳校而重刊之，竊願家置一編，遇症翻檢，照方煎服，必能立起沉疴，並登壽域，或亦濟人利世之一端也夫！</p>
<p><u>道光十一年新正上元同里後學祁爾誠謹序</u></p>

<h1>仙方便覽序</h1>
<p>余自束髮受書，得遊樊雪鴻太守之門，手錄傅青主先生《霜紅龕全集》，喜其才大如海，不可方物。少長作畫，亦以先生為師，其醫方則未之見也。壬辰九月，常芸閣觀察出《女科》四卷相示，余喜出望外，亟為抄錄。試之病者，應手立效，屢試屢驗，無或爽者。誠哉其為仙方也。本欲重梓以廣其傳，而輪鐵銷磨，刻無暇暑。不得已而求其原板，又為有力者持去，則重刻之舉不可緩矣。顧或者曰，先生著作等身，醫乃餘事。近日所刻《霜紅龕集》十止二三，吾子舍其大而重其細，非真知先生者。予謂先生以活人為心者也，知先生即知先生之心，即心先生之心。伊古以來，醫方充棟。或拘於時勢，或牽於文義，或用之而不效、用之而不盡效。求其開卷瞭然，雅俗共解，村氓老溫，無不洞曉，一經抄用，捷如影響，未有若此書之簡而明、神且速者。先生醫學，得之仙傳。又復竭盡心力，列為一百三十餘條，分為二百三十餘症，症立一方，有加有減。自行經以至生產，及老病諸症，無病不搜，無方不妙。每條下先為論辨，後乃立方，猶恐人之疑慮，復為解說，使經絡、腠理之微，活脫紙上。先生之心苦矣！先生之藥良矣！使家置一本，天下尚有不孕之女、難產之婦哉？嘗論婦科之難，甚到小兒。小兒口不能言，父母得而言之。至於深閨重闥之中，補精種子之事，真有問所不能問，言所不能言。得此不語，先生作依樣畫葫蘆，已收扁鵲之效，何妙如之！何快如之！語云：「不為良相，則為良醫」，言其活人之功不相上下。使此書暢行，活人何可億萬兆計？予所以不惜重貲親為較對者，亦此意焉耳。名曰《仙方便覽》，欲人之不敢輕視也。異日少有餘緡，將出所抄之《霜紅龕集》而更梓之，是固有志焉，而未之逮也。</p>
<p><u>道光十五年八月二十二日淮南宮思晉庶侯識</u></p>

<h1>序</h1>
<p>是書蜀中舊無傳本，宮庶侯刺史刻於簡州。予偶得一部，置之案頭，未知其妙。親友中有病者，經歷數醫，各持一說，雜藥亂投，遂至委頓。予因檢是書，按方投之，數劑而愈。其後遇婦女病，依書治之，無不奇效。始知是書真女科之鐵鑑，救苦之寶草也。第窮鄉僻壤，良醫難得，一有疾病，輒委諸庸手，一誤再誤，以至於死。即幸而不死，病終不愈，因而不能生育者，比比然也。使家有是書，則婦女無不愈之疾，人亦鮮伯之道之憂，不誠大快事哉！刺史原板藏署中，外間殊不易購，因重鐫以廣其傳，同志諸公，各醵金相助，閱月告成。謹志其愛始，並著諸君子樂善不倦之美焉。</p>
<p><u>道光十七年十二月天彭歐陽岡謹志</u></p>

<h1>卷一</h1>

<h2>帶下</h2>

<h3>白帶下</h3>
<p>夫帶下，俱是濕症。而以帶名者，因帶脈不能約束而有此病，故以名之。蓋帶脈通於任督，任督病，而帶脈始病。帶脈者，所以約束胞胎之系也。帶脈無力，則難以提系，必然胞胎不固。故曰，帶弱則胎易墜，帶傷則胎不牢。然而帶脈之傷，非獨跌閃挫氣已也。或行房而放縱，或飲酒而顛狂，雖無疼痛之苦，而有暗耗之害，則氣不能化經水，而反變為帶病矣。大凡病帶病者，惟尼僧寡婦出嫁之女多有之，在室女則少也。況加以脾氣之虛、肝氣之郁、濕氣之侵、熱氣之逼，安得不成帶下之病哉！故婦人有終年累月下流白物，如涕如唾，不能禁止，甚則臭穢者，所謂白帶也。夫白帶乃濕盛而火衰，肝鬱而氣弱，則脾氣受傷，濕土之氣下陷，是以脾精不守，不能化榮血以為經水，反變成白滑之物，由陰門直下，欲自禁而不可得也。治法宜大補脾胃之氣，稍佐以舒肝之品，使風木不閉塞於地中，則地氣自升騰於天上，脾氣健而濕氣消，自無白帶之患矣。</p>
<p>方用<u>完帶湯</u>：</p>
<p>白朮（一兩，土炒）　山藥（一兩，炒）　柴胡（六分）　白芍（五錢，酒炒）　芥穗（五分，炒）　陳皮（五分）　前仁（三錢，酒炒）　黨參（二錢）　甘草（一錢）　蒼朮（三錢，制）</p>
<p>水煎服，二劑輕，四劑止，六劑則白帶全愈。止方脾、胃、肝三經同治之法，寓補於散之中，寄消於升之內。升提肝木之氣，則肝血不燥，何至下克脾土；補益脾土之元，則脾氣不濕，何難分消水氣。至於補脾而兼以補胃者，由里以及表也。脾非胃氣之強，則脾氣不能旺，是補胃正所以補脾耳。</p>
<p>婦科一門最屬難治，不難於用方，難於辨症也。五帶症辨之極明，立方極善，倘用之不效者，必其人經水不調，須於調經種子二門參酌治之，無不見效。即如白帶症，倘服藥不效，其人必經水過期，少腹急迫，宜服寬帶湯，余宜類參，方見三十三。</p>

<h3>青帶下</h3>
<p>婦人有帶下而色青者，甚則綠如綠豆汁，稠黏不斷，其氣腥臭，所謂青帶也。夫青帶，乃肝經之濕熱，肝屬木，木色屬青，帶下流如綠豆汁，明明是肝木之病矣。但肝木最喜水潤，濕亦水之積，似濕非肝木之所惡，何以竟成青帶之症？不知水為肝木之所喜，而濕實肝木之所惡，以濕為土之氣故也。以所惡者，合之所喜，必有違者矣。肝之性既違，則肝之氣必逆，氣欲上升，而濕欲下降，兩相牽掣，以停住於中焦之間，而走於帶脈，遂從陰器而出。其色青綠者，正以其乘肝木之氣化也。逆輕者，熱必輕，其色青；逆重者，熱必重，而色綠。似乎治青易而治綠難，然而均無所難也。解肝木之火，利膀胱之水，則青綠之帶病均去矣。</p>
<p>方用<u>加減逍遙散</u>：</p>
<p>茯苓（五錢）　白芍（酒炒，五錢）　柴胡（一錢）　甘草（生用，五錢）　陳皮（一錢）　茵陳（三錢）　梔子（三錢，炒）</p>
<p>水煎服，二劑則色淡，四劑而青綠之帶絕，不必過劑矣。夫逍遙散之立法也，乃解肝鬱之藥耳，何以治青帶，若斯其神歟！蓋濕熱留於肝經，因肝氣之郁也，鬱則必逆。逍遙散最能解肝之郁與逆，郁逆之氣既解，則濕熱難留。而又益之以茵陳之利濕，梔子之清熱，肝氣得清，而青綠之帶又何自來？此方之所以奇而效捷也。倘僅以利濕清熱治青帶，而置肝氣於不問，安有止帶之日哉！此方兼治濕熱發黃。</p>
<p>脾土喜燥而惡濕，土病濕則木必乘之，木又為濕土之氣所侮，故肝亦病，逍遙散減去當歸妙</p>

<h3>黃帶下</h3>
<p>婦人有帶下而色黃者，宛如黃茶濃汁，其氣腥穢，所謂黃帶是也。夫黃帶，乃任脈之濕熱也。任脈本不能容水，濕氣安得而入，而化為黃帶乎？不知帶脈橫生，通於任脈，任脈直上，走於唇齒。唇齒之間，原有不斷之泉，下貫於任脈以化精，使任脈無熱氣之繞，則口中之津液，盡化為精，以入於腎矣。惟有熱邪存於下焦之間，則津液不能化精，而反化濕也。夫濕者，土之氣，實水之侵；熱者，火之氣，實木之生。水色本黑，火色本紅。今濕與熱合，欲化紅而不能，欲返黑而不得，煎熬成汁，因變為黃色矣。此乃不從水火之化，而從濕化也。所以世之人，有以黃帶為脾之濕熱，單去治脾，而不得痊者，是不知真水真火合成丹邪，元邪繞於任脈胞胎之間，而化此黅色也，單治脾何能痊乎？法宜補任脈之虛，而清腎火之炎，則庶幾矣。</p>
<p>方用<u>易黃湯</u>：</p>
<p>山藥（一兩，炒）　白果（十枚，碎）　芡實（一兩，炒）　前仁（一錢，酒炒）　黃柏（二錢，鹽水炒）</p>
<p>水煎，連服四劑無不愈。此不特治黃帶方也。凡有帶病者，均可治之，而治帶之黃者，功更奇也。蓋山藥、芡實，專補任脈之虛，又能利水，加白果引人任脈之中，更為便捷，所以奏功之速也。至於用黃柏清腎中之火也，腎與任脈相通以相濟，解腎中之火，即解任脈之熱矣。凡帶症多系脾濕，初病無熱，但補脾土，兼理衝任之氣，其病自愈。若濕久生熱，必得清腎火而濕始有去路，方用黃柏、車前子炒。</p>

<h3>黑帶下</h3>
<p>婦人有帶下而色黑者，甚則如黑豆汁，其氣亦腥，所謂黑帶也。夫黑帶者，乃火熱之極也。或疑火色本紅，何以成黑，謂為下寒之極，或有之。殊不知火極似水，乃假象也。其症必腹中疼痛，小便時如刀刺，陰門必發腫，面色必發紅，日久必黃瘦，飲食必兼人，口中必熱渴，飲以涼水，少覺寬快，此胃火太旺，與命門、膀胱、三焦之火，合而熬煎，所以熬干而變為炭色，斷是火熱之極之變，而非少有寒氣也。此等之症，不至發狂者，全賴腎水與肺金無病，養其生生不息之氣，潤心濟胃以救之耳。所以但成黑帶之症，是火結於下，而不炎於上也。治法惟以瀉火為主，火熱退，濕自除矣。</p>
<p>方用<u>利火湯</u>：</p>
<p>大黃（三錢）　白朮（五錢，土炒）　茯苓（三錢）　前仁（三錢，酒炒）　王不留（三錢）　黃連（三錢）　梔子（三錢，炒）　知母（二錢）　劉寄奴（三錢）　石膏（二錢，炒）</p>
<p>水煎服，一劑小便疼止而通利，二劑黑帶變為白，亦少減，再三劑全愈矣，或謂此方過於迅利，殊不知火盛之時，用不得依違之法，譬如救火之焚，而少為遷緩，則火熱延然不盡不止。今用黃連、石膏、梔子、知母，一派寒涼之品，入於大黃之中，則迅速掃除，而又得玉不留行，與劉寄奴之利濕甚急，則濕與熱俱無停住之機。佐白朮以輔上，茯苓以滲濕，車前以利水，則火退水進，更成既濟之卦矣。病愈後，當節飲食，戒辛熱之物，調養脾土。若恃有此方，病發即服，必傷元氣矣。慎之！</p>

<h3>赤帶下</h3>
<p>婦人有帶下而色紅者，似血非血，淋漓不斷，所謂赤帶也。夫赤帶亦濕病，濕是土之氣，宜見黃白之色，今不見黃白而見赤者，火熱故也。火色赤，故帶下亦赤耳。惟是帶脈繫於腰臍之間，近乎至陰之地，不宜有火，而今見火症，豈其路通於命門，而命門之火出而燒之耶？不知帶脈通於腎，而腎氣通於肝。婦人憂思傷脾，又加鬱怒傷肝，於是肝經之鬱火內熾，下克脾土，脾土不能運化，致濕熱之氣蘊於帶脈之間，而肝不藏血，亦滲於帶脈之內，皆內脾氣受傷，運化無力，濕熱之氣隨氣下陷，同血俱下，所以似血非血之形象現於其色也。其實血與濕不能兩分，世人赤帶屬之心火，誤矣。治法須清肝火而扶脾氣，則庶幾可愈。</p>
<p>方用<u>清肝止淋湯</u>：</p>
<p>白芍（一兩，醋炒）　當歸（一兩，酒炒）　粉丹皮（三錢）　生地（五錢，酒炒）　小黑豆（一兩）　黃柏（二錢）　牛膝（二錢）　香附（二錢，酒炒）　紅棗（十個）　阿膠（三錢，白麵炒）</p>
<p>水煎服，一劑少止，二劑又少止，四劑愈，十劑不再發。此方但主補肝之血，全不利脾之濕者，以赤帶之為病，火重而濕輕也。夫人之所以旺者，由於血之衰，補血即足以制火。且水與血合，而成赤帶之症，竟不能辨其是濕非濕，則濕亦盡化而為血矣。所以治血則濕亦除，又何必利濕之多事哉！此方之妙，妙在純於治血，少加清火之味，故奏功獨奇。倘一利其濕，反引火下行，轉難遽效矣。或問日，先生前言助其脾土之氣，今但補其肝木之血，何也？不知用芍藥以平肝，則肝氣得舒；肝氣舒，自不剋土；脾不受克，則脾土自旺，是平肝正所以扶脾耳，又何必加人參、白芍之品以致累事哉！</p>
<p>不用參、朮、苓極妙。此症若誤認為血漏，恐其久則成崩，用參、朮、苓等藥治之，多不見效，赤帶反甚。若年逾七七癸水將止，或頻頻見血，此崩症也，宜分別治之。</p>

<h2>血崩</h2>

<h3>血崩昏暗</h3>
<p>婦人有一時血崩，兩目黑暗，昏暈在地，不省人事者，人莫不謂火盛動血也。然此火非實火，乃虛火耳。世人一見血崩，往往用止澀之品，雖亦能取效於一時，但不用補陰之藥，則虛火易於衝擊。恐隨止隨發，以致經年累月不能愈者有之。是止崩之藥不可獨用，必須於補陰之中，行止崩之法。</p>
<p>方用<u>固本止崩湯</u>：</p>
<p>大熟地（一兩，九蒸）　白朮（一兩，土炒焦）　黨參（三錢）　黃氏（三錢，生用）　當歸（五錢，酒洗）　黑姜（二錢）</p>
<p>水煎服，一劑崩止，十劑不再發生。倘畏藥味之重而減半，則力薄而不能止。方妙在全不去止血，而惟補血；又不止補血，而更補氣；非惟補氣，而更補火。蓋血崩而至於黑暗昏暈，則血已盡去，僅存一線之氣，以為護持。若不急補其氣以生血，而先補其血而益氣，則有形之血恐不能遞生，而無形之氣必且至盡散，此所以不先補血，而先補氣也。然革補氣，則血又不易生；單補血而不補火，則血又必凝滯，而不能隨氣而速生。況黑姜引血歸納，是補中又有收斂之妙，所以同補氣、補血之藥並用之耳。</p>
<p>若血崩數日，血下數斗，六脈俱無，鼻中微微有息，不可遽服此方，恐氣將脫，不能受峻補也。有力者，用遼人參三兩去蘆煎成，沖貫眾炭末一錢服之。待氣息微旺，然後服此方，仍加貫眾炭末一錢，無不見效。無力者，用無灰黃酒，沖貫眾炭末三錢服之，待其氣接，神清，始可服此方。人參以黨參代之，臨服亦加貫眾一錢，用瓦焙成炭，研細衝入。</p>

<h3>年老血崩</h3>
<p>婦人有年老血崩者，其症亦與前血崩昏暗者同，人以為老婦之虛耳，誰知是不慎房韓之故乎。夫婦人至五十歲外，天癸空乏，原宜閉關守寨，不宜出陣戰爭。苟或適興，不過草草了事，尚不至腎火大動。倘興酣浪戰，亦如少年之好合，鮮不血室大開，崩決而墜矣。</p>
<p>方用<u>加減當歸補血湯</u>：</p>
<p>當歸（一兩，酒洗）　黃耆（一兩，生用）　桑葉（十四片）　廣山漆（五分，末，沖）</p>
<p>水煎服，二劑而血少止，四劑不再發。然必須斷欲如除根，若再犯色欲，未有不重病者也。夫補血湯，乃氣血兩補之沖劑；廣山漆，乃止血之聖藥。加入桑葉者，所以滋腎之陰，又有收斂之妙耳。但老婦陰精既虧，用此方以止其暫時之漏，實有奇功。而不可責其永遠之績者，以補精之味尚少也。服此四劑後，再增入白朮五錢、熟地五錢，山藥四錢、麥冬三錢，北五味一錢，服百劑，則血漏之根可盡除矣。</p>
<p>亦有孀婦年老血崩者，必系氣衝血室，原方加杭芍炭三錢、貫眾炭三錢，極效。</p>

<h3>少婦血崩</h3>
<p>有少婦甫娠三月，即便血崩，而胎亦隨墮，人以為挫閃受傷而致，誰知是行房不慎之過哉。夫少婦行房，亦常事耳，何便血崩？蓋因元氣衰弱，事難兩顧，一經行房泄精，則妊娠無所依養，遂致崩而且墮。凡婦人之氣衰，即不耐久戰，若貪歡久戰，則必泄精太甚，氣每不能攝血矣。況氣弱而又妊，再加以久戰，內外之氣皆動，而血又何能固哉？崩而墮也，亦無怪其然也。治法自當以補氣為主，而少佐以補血之品，斯為得之。</p>
<p>方用<u>固氣湯</u>：</p>
<p>白朮（五錢，土炒）　大熟地（五錢，九蒸）　黨參（一兩）　當歸（三錢，酒洗）　杜仲（三錢，炒黑）　白茯苓（二錢）　山萸肉（二錢，蒸）　遠志（一錢，去心）　甘草（一錢）　五味子（十粒，炒）</p>
<p>水煎服，一劑而血止，連服十劑愈。此方固氣而兼補血。已去之血，可以速生；將脫之血，可以盡攝。凡氣虛而崩漏者，此方最可通治，非僅治小產之崩。其最妙者，不去止血，而止血之味含於補氣之中也。</p>
<p>妊娠宜避房事，不避者縱不至崩，往往墮胎，即不墮胎，生子亦難。慎之！戒之！</p>

<h3>交感出血</h3>
<p>婦人有一交合，則流血不止者，雖不至於血崩之甚，而終年累月不得愈，未免血氣兩傷，久則恐有血枯經閉之憂。此等之症，成於經水正來之時，貪歡交合，精沖血管也。夫精沖血管，不過一時之傷，精出宜愈，何以久而流紅？不知血管最嬌嫩，斷不可以精傷。凡婦人受孕，必於血管已淨之對方保無虞。倘經水正旺，彼欲湧出而精射之，則欲出之血，反退而縮入；既不能受精而成胎，勢必至集精而化血。交感之際，淫氣觸動其舊日之精，則兩相感召，舊精欲出，而血亦隨之而出。治法須通於胞胎之氣，引舊日之集精外出，而益之以補氣、補精之藥，則血管之傷可以補完矣。</p>
<p>方用<u>引精補完湯</u>：</p>
<p>白朮（一兩，土炒）　茯苓（三錢，去皮）　黨參（五錢）　熟地（二兩，九蒸）　山萸肉（五錢，蒸）　黑姜（一錢）　黃柏（五分）　車前子（三錢，酒炒）　芥穗（三錢）</p>
<p>水煎，連服四劑愈，十劑不再發。此方用參、術以補氣，用地、萸以補精，精氣既旺，則血管流通；加入茯苓、車前以利水與竅，水利則血管亦利；又加黃柏為引，直入血管之中，而引夙精出於血管之外，芥穗引敗血出於血管之內，黑姜以止血管之口。一方之中，實有調停曲折之妙，故能祛舊病而除陳疴。然必須慎房幃三月，破者始不至重傷，而補者始不至重損，否則不過取目前之效耳。其慎之哉，宜寡欲。</p>

<h3>鬱結血崩</h3>
<p>婦人有懷抱甚郁、口乾舌渴、嘔吐吞酸而血下崩者，人皆以火治之，時而效，時而不效，其故何也？是不識為肝氣之鬱結也。夫肝主藏血，氣結而血亦結，何以反至崩漏？蓋肝之性急，氣結則其急更甚、更急，則血不能藏，故崩不免也。治法宜以開鬱為主。若徒開其鬱而不知平肝，則肝氣大開，肝火更熾，而血亦不能止矣。</p>
<p>方用<u>平肝開鬱止血湯</u>：</p>
<p>白芍（一兩，醋炒）　白朮（一兩，土炒）　丹皮（三錢）　當歸（一兩，酒洗）　廣山漆（五分，研末）　甘草（二錢）　生地（三錢，酒炒）　黑芥穗（二錢）　柴胡（一錢）　此方入貫眾炭三錢更炒。</p>
<p>水煎服，一劑嘔吐止，二劑乾渴除，四劑血崩愈。方中妙在白芍之平肝，柴胡之開鬱。白朮利腰臍，則血無積住之虞；荊芥通經絡，則血有歸還之樂。丹皮又清骨髓之熱，生地復清臟腑之炎。當歸、山漆於補血之中，以行止血之法，自然鬱結散而血崩止矣。</p>

<h3>閃跌血崩</h3>
<p>婦人有升高墜落或閃挫受傷，以致惡血下流，有如血崩之狀者，若以崩治，非徒無益，而又害之也。蓋此症之狀，必手按之而疼痛，久之則面色痿黃，形容枯槁，乃是瘀血作崇，並非血崩可比。倘不知解瘀而用補澀，則瘀血內攻，疼無止時，反致新血不得生，舊血無由化，死不能悟，豈不可傷哉！治法須行血以去瘀，活血以止疼，則血自止而愈矣。</p>
<p>方用<u>逐瘀止血湯</u>：</p>
<p>生地（一兩，酒炒）　大黃（三錢）　赤芍（三錢）　枳殼（五錢，炒）　龜板（三錢，醋炙）　丹皮（一錢）　當歸尾（五錢）　桃仁（十粒，泡，炒研）</p>
<p>水煎服，一劑疼輕，二劑疼止，三劑血亦全止，不必再服矣。此方之妙，妙於活血之中，佐以下滯之品。故逐瘀如掃，而止血如神。或凝跌閃升墜，是由外而傷內，雖不比內傷之重，而既已血崩，則內之所傷亦不為輕，何以只治其瘀而不顧氣也？殊不知跌閃升墜，非由內傷以及外傷者可比，蓋本實不撥，去其標病可耳，故曰急則治其標。凡跌打損傷，致唾血嘔血，皆宜於此治法。若血聚胃中，宜加川厚朴一錢半薑汁炒。</p>

<h3>血海太熱血崩</h3>
<p>婦人有每行人道，經水即來，一如血崩，人以為胞胎有傷，觸之以動其血也。誰知是子宮血海因太熱而不固乎。夫子宮即在胞胎之下，而血海又在胞胎之上。血海者，衝脈也，衝脈太寒而血即虧，衝脈大熱而血即沸。血崩之為病，正衝脈之太熱也。然既由衝脈之熱，則應常崩，無有止時，何以行人道而始來，果與肝木無恙耶？夫脾健則能攝血，肝平則能藏血，人未入房之時，君相二火寂然不動，雖衝脈獨熱，而血亦不至外弛。及有人道之感，則子宮大開，君相火動，以熱招熱，同氣相求，翕然齊動以鼓其精液，血海氾濫，有不能止遏之勢，肝欲藏之而不能，脾欲攝之而不得，故經水隨交感而至，若有聲應之捷，是惟火之為病也。治法必須滋陰降火，以清血海而和子宮，則終身之病，可半截而除矣。然必絕欲三月而後可。</p>
<p>方用<u>清海丸</u>：</p>
<p>大熟地（一斤，九蒸）　山萸（十兩，蒸）　丹皮（十兩）　山藥（十兩，炒）　北五味（二兩，炒）　沙參（十兩）　麥冬（十兩）　白朮（一斤，土炒）　龍骨（二兩）　白芍（一斤，酒炒）　石斛（十兩）　地骨皮（十兩）　干桑葉（一斤）　元參（一斤）</p>
<p>上十四味，各為細末，合一處煉蜜丸桐子大，早晚每服五錢，白滾水送下，半載全愈。此方補虛而元浮動之慮，縮血而無寒涼之苦。日計不足，月計有餘，潛移默奪，子宮清涼而血海自固。倘不揣其本而齊其末，徒以發灰、白礬、黃連炭、五焙子等藥末以外治其幽隱之處，正恐愈澀愈流，終必至於敗亡也，可不慎歟！</p>
<p>凡血崩症，最宜絕欲避房。無奈少年人彼此貪歡，故服藥往往不效。若三月後崩止病愈，而房事仍無節制，病必復作，久則成勞，慎之！</p>

<h2>鬼胎</h2>

<h3>婦人鬼胎</h3>
<p>女人有腹似懷妊，終年不產，甚至二、三年不生者，此鬼胎也。其人必面色黃瘦，肌膚消削，腹大如斗。闕所由來，必素與鬼交，或人神廟而興雲雨之思，或遊山林而起交感之念，皆能召崇成胎。幸其人不至淫蕩，見崇而有驚惶，遇合而生愧惡，則鬼崇不能久戀，一交篝即遠去，然淫妖之氣已結於腹，遂成鬼胎。其先尚未覺，造後漸漸腹大，經水不行，內外色相一如懷胎之狀，有似血臌之形，其實是鬼胎，而非臌也。治法必須以遂穢為主。然人至懷胎數年不產，即非鬼胎，亦必氣血衰微。況此非真妊，則邪氣必旺，正不敵邪，其虛弱之狀，必有可掬，烏可純用迅利之藥以祛蕩乎？必於補中逐之為的也。</p>
<p>方用<u>蕩鬼湯</u>：</p>
<p>黨參（一兩）　當歸（一兩）　大黃（一兩）　雷丸（三錢）　川牛膝（三錢）　紅花（三錢）　丹皮（三錢）　枳殼（一錢）　厚朴（一錢）　小桃仁（三十粒）</p>
<p>水煎服。一劑腹必大鳴，可瀉惡物鬥桶，再服一劑，又瀉惡物而愈矣，斷不可復用三劑也。蓋雖補中，用逐未免迅利，多用恐傷損元氣。此方用雷丸以祛穢，又得大黃之掃除，且佐以厚朴、紅花、桃仁等味，皆善行善攻之品，何邪之尚能留腹中而不盡逐下也哉！尤妙在用參、歸以補氣血，則邪去而正不傷。若單用雷丸、大黃以迅下之，必有氣脫血崩之患矣。倘或是鬼胎，如室女寡婦輩，邪氣雖盛而真氣漓，可用歧天師新傳<u>紅花霹靂散</u>：</p>
<p>紅花（半斤）　大黃（五兩）　雷丸（三兩）</p>
<p>水煎服，亦能下胎。然未免過於迅利，過傷氣血，不若蕩鬼湯之有益無損為愈也。在人臨症時，斟酌而善用之耳。</p>
<p>鬼崇之事，儒者弗道。然城市鄉曲，往往有是症，不可不察，甚勿以此言為荒唐也。</p>

<h3>室女鬼胎</h3>
<p>女子有在家未嫁，月經忽斷，腹大如妊，面色乍赤乍白，六脈乍大乍小，人以為血結經閉也。誰知是靈鬼憑身乎！夫人之身正，則諸邪不敢侵；其身不正，則諸邪自來犯。或精神恍惚，夢裡求親，或眼目昏花而對面相狎，或假託親屬而暗處貪歡，或明言仙人而靜地取樂。其始則驚詫為奇遇，而不肯告人；其後則羞赧為淫褻，而不敢告人。日久年深，腹大如斗，有如懷妊之狀。一身之精血，僅足以供腹中之邪，則邪日旺而正日衰，勢必至經閉而血枯。後雖欲導其經，而邪據其腹則經亦難道；欲生其血，而邪食其精則血實難長。醫以為胎而實非真胎，又以為瘕而亦非瘕病，往往因循等待，非因羞憤而亡其生，即成勞瘵而終不起，至死不悟，不重可悲哉！治法似宜補正以祛邪。然邪不先去，補正亦無益也。必須先祛邪，而後補正，斯為得之。</p>
<p>方用<u>蕩邪散</u>：</p>
<p>雷丸（六錢）　桃仁（六十粒）　當歸（一兩）　丹皮（一兩）　甘草（四錢）</p>
<p>水煎服。一劑必下惡物半桶，再服<u>調正湯</u>治之：</p>
<p>白朮（五錢）　蒼朮（五錢）　茯苓（三錢）　陳皮（一錢）　貝母（一錢）　薏米（五錢）</p>
<p>水煎。連服四劑，則脾胃之氣轉，而經水漸行矣。前方蕩邪，後方補正，實有次第。或疑身懷鬼胎，必大傷其血，所以經閉。今既墜其鬼胎矣，自當大補其血，乃不補血而反補胃氣，何故？蓋鬼胎中人，其正氣大虛可知，氣虛則血必不能驟生，欲補血必先補氣，是補氣而血自然生也。用二術以補胃陽，陽氣旺，則陰氣難犯，尤善後之妙法也。倘重用補陰之品，則以陰招陰，吾恐鬼胎雖下，而鬼氣未必不再侵。故必以補陽為上策，而血自隨氣而生也。此方陰險大矣。見有因此病羞憤而蹈於非命，勞瘵而喪於少年，深為可憫。若服此方不應，宜服桂香平胃散，無不見效。愈後宜調養氣血、節飲食。肉桂（去粗皮）一錢、麝香一錢，以上二味共研細末，開水為丸，如梧桐子大，空心開水下。服後半日時，煎乎胃散一劑服之：</p>
<p>蒼朮（米泔浸，炒，三錢）　厚朴（二錢，薑汁炒）　廣皮（一錢）　枳實（二錢，炒）　全當歸（三錢，酒洗）　川梔（一錢，酒洗）</p>
<p>服後必下惡物，若不見下惡物，次日再服平胃散，不用桂香。</p>

<h2>調經</h2>

<h3>經水先期</h3>
<p>婦人有先期經來者，其經甚多，人以為血熱之極也，誰知是腎中水火太旺乎。夫火太旺則血熱，水太旺則血多，此有有餘之病，非不足症也，似宜不藥有喜。但過於有餘，則子宮太熱，亦難受孕，更恐有爍干男精之慮。過者損之，謂非既濟之道乎？然而火不可任其有餘，而水斷不可使之不足。治法但少清其熱，不必泄其水也。</p>
<p>方用<u>清經湯</u>：</p>
<p>丹皮（三錢）　白芍（三錢，酒炒）　地骨皮（五錢）　大熟地（三錢，九蒸）　青蒿（二錢）　白茯苓（一錢）　黃柏（五分，鹽水浸，炒）</p>
<p>水煎眼。二劑而火自平。此方雖是清火之品，然仍是滋水之味。火泄而水不與俱泄，是無損而有益也。</p>
<p>又有先期經來，只一二點者，人以為血熱之極也，誰知腎中火旺而陰水虧乎。夫同是先期之來，何以分虛實之異？蓋婦人之精最難調，苟不分別細微，用藥鮮克有效。先期者，火氣之沖；多寡者，水氣之驗。故先期而來多者，火熱而水有餘也；先期而來少者，火熱而水不足也。倘一見先期之來，俱以為有餘之熱，但泄火而不補水，或水火兩泄之，有不更增其病者乎？治法不必泄火，只專補水，水既足而火自消矣，亦既濟之道也。</p>
<p>方用<u>兩地湯</u>：</p>
<p>大生地（二兩，酒炒）　白芍藥（五錢，酒炒）　元參（一兩）　麥冬（五錢）　地骨皮（三錢）　阿膠（三錢）</p>
<p>水煎服。四劑而經調矣。此方之用地骨、生地，能清骨中之熱。骨中之熱，由於腎經之熱，清其骨髓，則胃氣自清而又不損傷胃氣，此治之巧也。況所用諸藥，又純是補水之味，水盛而火自平，理也。此條與上條參觀，斷無誤治先期之病矣。</p>
<p>婦科調經尤難，蓋經調則無病，不調則百病叢生。治法宜詳察其病源，細審其所以不調之故，然後用藥，始能見效。此書雖有先期、後期、先後無定期之分，然須與種子、帶下門參看，臨症時自有進見。</p>

<h3>經水後期</h3>
<p>婦人有經水後期而來多者，人以為血虛之病也，誰知非血虛乎。蓋後期之多少，實有不同，不可執一而論。蓋後期而來少，血寒而不足；後期而來多，血寒而有餘。夫經本於腎，而其流五臟六腑之血皆歸之，故經來而諸經之血盡來附益，以經水行而門啟，不逞迅閻，諸經之血乘其隙而皆出也。但血既出矣，則成不足。治法宜於補中溫散之，不得曰後期者俱不足也。</p>
<p>方用<u>溫經攝血湯</u>：</p>
<p>大熟地（二兩，九蒸）　白芍（一兩，酒炒）　柴胡（五分）　川芎（五錢，酒洗）　白朮（五錢，土炒）　五味子（三分）　續斷（一錢）　肉桂（五分，去粗皮研）</p>
<p>水煎服，三劑而經調矣。此方大補肝腎脾之精與血，加肉桂以祛其寒，柴胡以解其鬱。是補中有散而散不耗氣；補中有泄而泄不損陰。所以補之有益而溫之收功，此調經之妙藥也，亦攝血之仙丹也，凡經來後期者，俱可用。倘元氣不足，加黨參一二錢亦可。</p>

<h3>經水先後無定期</h3>
<p>婦人有經來斷續，或前或後元定期，人以為氣血之虛也，誰知是肝氣之鬱結乎。夫經水出諸腎，而肝為腎之子，肝鬱則腎亦郁矣。腎鬱而氣必不宣，前後之或斷或續，正腎之或通或閉耳。或曰肝氣鬱而腎氣不應，未必至於此。殊不知於母關切，子病而母必有顧復之情；肝鬱而腎不無繾綣之誼。肝氣之或開或閉，正腎氣之或去或留。相因而致，又何疑焉？治法宜舒肝之郁，即開腎之郁也。肝腎之郁既開，而經水自有一定之期矣。</p>
<p>方用<u>定經湯</u>：</p>
<p>菟絲子（一兩，酒炒）　白芍（一兩，酒炒）　白茯苓（三錢）　當歸（一兩，酒洗）　大熟地（五錢，九蒸）　山藥（五錢，炒）　芥穗（二錢，炒黑）　柴胡（五分）</p>
<p>水煎服，二劑而經水淨，四劑而經水有定期矣。此方舒肝腎之氣，非通經之藥也；補肝腎之精，非利水之品也。肝腎之氣舒而精通，肝腎之精旺而水利，不治之治，正妙於治也。</p>
<p>以上調經三條，辯論明晰，立方微妙，但恐臨時或有外感、內傷，不能見效。有外感者，宜加蘇葉一錢；有內傷者，宜加神麯二錢（炒）；有因肉食積滯者，再加山楂肉二錢（炒），臨症須酌用之。若肝氣鬱抑，又當以逍遙散為主，有熱加梔炭、丹皮，即加味逍遙散。</p>

<h3>經水數月一行</h3>
<p>婦人有數月一行經者，每以為常，亦無或先或後之異，亦無或多或少之殊，人莫不以為異，而不知非異也。蓋無病之人，氣血兩不虧損耳。夫氣血既不虧損，何以數月而一行經也？婦人之中，亦有天生仙骨者，經水必一季一行，蓋以季為數而不以月為盈虛也。真氣內藏，則坎中之真陽不損，倘加以煉形之法，一年之內便易飛騰。無如世人不知，見經水不應月來，誤認為病，妄用藥餌，本無病而治之成病，是治反不如其不治也。山聞異人之教，物為闡揚，使世人見此等行經，不必妄行治療，萬勿疑為氣血之不足而輕一試也。雖然，天生仙骨之婦人世固不少，而嗜欲損夭之人亦復甚多，又不可不立一療救之方以輔之。</p>
<p>方用<u>助仙丹</u>：</p>
<p>白茯苓（五錢）　白朮（三錢，土炒）　陳皮（二錢）　白芍（三錢，酒炒）　菟絲子（一錢，酒炒）　山藥（三錢，炒）　杜仲（一錢，炒黑）　甘草（一錢）</p>
<p>河水煎，服四劑而仍如其舊，不可再服也。此方平補之中，實有妙理，健脾益腎而不滯；解鬱清痰而不瀉。不損天然之血，便是調經之大法，何得用他藥以通經哉！</p>
<p>曾見一婦人，一年一行經，身健無恙，妊娠後反月月行經，或至五月至七月經止不等，育男皆成人，咸以為異。或亦仙骨之所致乎，抑造化令人不測耶？</p>

<h3>年老經水復行</h3>
<p>婦人有年五十外或六、七十歲，忽然行經者，或下紫血塊，或如紅血淋。人或謂老婦行經，是還少之象，誰知是血崩之漸乎。夫婦人至七七之外，天癸已竭，又不服濟陰補陽之藥，如何能精滿化，一如少婦？然經不宜行而行者，乃肝不藏、脾不統之故也。非精過瀉而動命門之火，即氣鬱甚而發龍雷之炎，二火交發，而血乃奔矣，有似行經而實非經也。此等之症，非大補肝脾之氣與血，而血安能驟止？</p>
<p>方用<u>安老湯</u>：</p>
<p>黃耆（一兩，生用）　大熟地（一兩，九蒸）　黨參（一兩）　白朮（五錢，土炒）　當歸（五錢，酒洗）　黑芥穗（一錢）　山萸（五錢，蒸）　阿膠（一錢，蛤粉炒）　甘草（一錢）　香附（五分，酒炒）　木耳炭（一錢）　加貫眾炭（一錢，研細末，以藥沖服尤妙）</p>
<p>水煎服，一劑減，二劑尤減，四劑全減，十劑愈。此方補益肝脾之氣，氣足自能生血，而攝血尤妙；大補腎水，水足而肝氣自舒，肝舒而脾自得養。肝藏之而脾統之，又安有瀉漏者，又何慮其血崩哉！</p>

<h3>經水忽來忽斷時疼時止</h3>
<p>婦人有經水忽來忽斷、時疼時止、寒熱往來者，人以為血之凝也，誰知是肝氣不舒乎。夫肝屬木而藏血，最惡風寒。婦人當行經之際，腠理大開，適逢風之吹、寒之襲，則肝氣為之閉塞，而經水之道路亦隨之而俱閉。由是腠理經絡各皆不宣，而寒熱之作由是而起。其氣行於陽分則生熱，其氣行於陰分則生寒，然此猶感之輕者也。倘外感之風寒更甚，則內應之熱氣益深，往往有熱入血室而變為如狂之症，一似遇鬼之狀者。若但往來寒熱，是風寒未甚而熱未深耳。治法宜補肝中之血，通其鬱而散其風，則病隨手而效。所謂治風先治血，血和風自滅，此其一也。</p>
<p>方用<u>加味四物湯</u>：</p>
<p>大熟地（一兩，九蒸）　白芍（五錢，酒炒）　粉丹皮（三錢）　當歸（五錢，酒洗）　川芎（三錢，酒洗）　柴胡（一錢）　白朮（五錢，土炒）　元胡（一錢，酒洗）　甘草（一錢）　加荊芥穗炒黑一錢，尤妙。</p>

<h3>經水未來腹先疼</h3>
<p>婦人有經前腹疼，數日而後經水行者，其經來多是紫黑塊，人以為寒極而然也，誰知是熱極而火不化乎。夫肝屬木，其中有火，舒則通暢，鬱則不揚。經欲行而肝不應，則抑拂其氣而疼生。然經滿則不能內藏，而肝中之鬱火焚燒，內逼經出，則其火亦因之而怒瀉，其紫黑者，水火兩戰之象也；其成塊者，火煎成形之狀也。經失其為經者，正鬱火內奪其權耳。治法似宜大瀉肝中之火。然瀉肝之火而不解肝之郁，則熱之標可去，而熱之本未除也，其何能益？</p>
<p>方用<u>宣郁通經湯</u>：</p>
<p>白芍（五錢，酒炒）　當歸（五錢，酒洗）　丹皮（五錢）　山梔子（三錢，炒）　白芥子（二錢，炒，研）　柴胡（一錢）　香附（一錢，酒炒）　川鬱金（一錢，醋炒）　生甘草（一錢）　黃芩（一錢，酒炒）</p>
<p>水煎，連服四劑，下月斷不先腹疼而後行經矣。此方補肝之血而解肝之郁，利肝之氣而降肝之火，所以奏功之速。</p>

<h3>行經後少腹疼痛</h3>
<p>婦人有少腹疼於行經之後者，人以為血氣之虛也，誰知是腎氣之涸乎，夫經水者，乃天一之真水也，滿則溢而虛則閉，亦其常耳。何以虛能作疼哉？蓋腎水一虛，則水不能生木，而肝木必克脾土，木土相爭，則氣必逆，故爾作疼。治法必須以舒肝氣為主，而益之以補腎之味，則水足而肝氣益安，肝氣安而逆氣自順，又何疼痛之有哉？</p>
<p>方用<u>調肝湯</u>：</p>
<p>阿膠（三錢，白麵炒）　當歸（三錢，酒洗）　山藥（五錢，炒）　白芍（三錢，酒炒）　山萸肉（三錢，蒸熟）　甘草（一錢）　巴戟（一錢，鹽水浸）</p>
<p>水煎服。此方乎調肝氣，既能轉逆氣，又善止郁疼。經後之症，以此方調理最佳，不特治經後腹疼之症也。</p>
<p>經前經後腹痛，二方極妙，不可加減。若有別症，亦宜以此方為主，另加藥味治之，原方不可減去一味。</p>

<h3>經前腹疼吐血</h3>
<p>婦人有經未行之前一、二日，忽然腹疼吐血，人以為火熱之極也，誰知是肝氣之逆乎。夫肝之性最急，宜順而不宜逆，順則氣安，逆則氣動。血隨氣為行止，氣安則血安，氣動則血動，亦勿怪其然也。或謂經逆在腎而不在肝，何以隨血妄行，竟至從口上出也，是肝不藏血之故乎？抑腎不納氣而然乎？殊不知少陰之火，急如奔馬，得肝火直衝而上，其勢最捷，反經而為血，亦至便也。正不必以肝不藏血，始成吐血之症。但此等吐血與各經之吐血有不同者，蓋各經之吐血，由內傷而成，經逆而吐血，乃內溢而激之使然也。其症有絕溢，而其氣逆則一也。治法似宜平肝以順氣，而不必益精以補腎矣。雖然，經逆而吐血雖不大損夫血，而反復顛倒，未免大傷腎氣，必須於補腎之中，用順氣之法，始為得當。</p>
<p>方用<u>順經湯</u>：</p>
<p>當歸（五錢，酒洗）　大熟地（五錢，九蒸）　丹皮（五錢）　白芍（二錢，酒炒）　白茯苓（三錢）　沙參（三錢）　黑芥穗（三錢）</p>
<p>水煎服，一劑而吐血止，二劑而經順，十劑不再發。此方於補腎調經之中，而用引血歸經之品，是和血之法，實屬順氣之法也。肝不逆而腎氣自順，腎氣既順，又何經逆之有哉！</p>
<p>婦人年壯吐血，往往有之，不可作勞症治。若認為勞症，必至肝氣愈逆，非勞反成勞矣，方加茜草一錢，懷牛膝八分（酒炒）。</p>

<h3>經水將來臍下先疼痛</h3>
<p>婦人有經水將來三、五日前，而臍下作疼，狀如刀刺者，或寒熱交作，所下如黑豆汁，人莫不以為血熱之極，誰知是下焦寒濕相爭之故乎。夫寒濕乃邪氣也，婦人有衝任之脈居於下焦，沖為血海，任主胞胎為血室，均喜正氣相通，最惡邪氣相犯。經水由二經而外出，而寒濕滿二經而內亂，兩相爭而作疼痛，邪愈盛而正氣日衰。寒氣生濁，而下如豆汁之黑者，見北方寒水之象也。治法利其濕而溫其寒，使衝任無邪氣之亂，臍下自無疼痛之疚矣。</p>
<p>方用<u>溫臍化濕湯</u>：</p>
<p>白朮（一兩，土炒）　巴戟肉（五錢，鹽水浸）　白茯苓（三錢）　扁豆（三錢，炒搗）　白果（十枚，搗碎）　山藥（五錢，炒）　建蓮子（三十枚，不去心）</p>
<p>水煎服，然必須經未來前十日報之，四劑而邪氣去、經水調。兼可種子。此方用白朮以利腰臍之氣，用巴戟、白果以通任脈，扁豆、山藥、蓮子以衛衝脈，所以寒濕掃除而經水自調，可受妊矣。倘疑腹痛為熱疾，妄用寒涼，則衝任虛冷，血海變為水海，血室反成水室，無論難於生育，而痛疼之止，又安有日哉！</p>
<p>衝任之氣，宜通不宜降，故化濕不用蒼朮、薏仁，余宜類參。</p>

<h3>經水過多</h3>
<p>婦人有經水過多，行後復行，面色痿黃，身體倦怠而困乏愈甚者，人以為血熱有餘之故，誰知是血虛而不歸經乎。夫血旺始經多，血虛當經縮。今血虛而反經多，是何言歟？殊不知血歸於經，雖旺而經亦不多；血不歸經，雖衰而經亦不少。世人見經水過多，謂是血之旺也，此治之所以多錯耳。倘經多果是血旺，自是健壯之體，須當一行即止，精力如常，何至一行後而再行，而困乏無力耶？惟經多是血之虛，故再行而不勝其困乏，血損精散，骨中髓空，所以不能色華於面也。治法宜大補血而引之歸經，又安有行後復行之病哉！</p>
<p>方用<u>加減四物湯</u>：</p>
<p>大熟地（一兩，九蒸）　白芍（三錢，酒炒）　黑芥穗（三錢）　當歸（五錢，酒洗）　川芎（二錢，酒洗）　續斷（一錢）　白朮（五錢，土炒）　山萸（三錢，蒸）　甘草（一錢）</p>
<p>水煎服，四劑而血歸經矣。十劑之後，加黨參三錢再服十劑，下月行經，適可而止矣。夫四物湯，乃補血之神品，加白朮、荊芥，補中有利；加山萸、續斷，止中有行；加甘草以調和諸品，使之各得其宜，所以血足經歸，歸經而血自靜矣。</p>

<h3>經前瀉水</h3>
<p>婦人有經水之前，瀉水三日而後行經者，人以為血旺之故，誰知是脾氣之虛乎。夫脾統血，脾虛則不能攝血矣。且脾屬濕土，脾虛則土不實，土不實而濕更甚，所以經水將動，而脾先不固。脾經所統之血欲流注於血海，而濕氣乘之，所以先瀉水而後行經也。調經之法，不在先治其水，而在先治其血。抑不在先治其血，而在先補其氣。蓋氣旺而血自能生，抑氣旺而濕自能除，且氣旺而經自能調矣。</p>
<p>方用<u>健固湯</u>：</p>
<p>黨參（五錢）　白朮（二兩，土炒）　白茯苓（三錢）　薏苡仁（三錢，炒）　巴戟（五錢，鹽水浸）</p>

<h3>經前大便下血</h3>
<p>婦人有行經之前一日，大便先出血者，人以為血崩之症，誰知是經流於大腸乎。夫大腸與行經之路，各有分別，何以能入乎其中？不知胞胎之系，上通心而下通腎，心腎不交，則胞胎之血兩無所歸。而心腎二經之氣不來照攝，聽其自便，所以血不走小腸而走大腸也。治法若單止大腸之血，則愈止而愈多；若擊動三焦之氣，則更拂亂而不可止。蓋經水之妄行，原因心腎之不交。今不使水火之既濟，而徒治其胞胎，則胞胎之氣無所歸，而血安有歸經之日？故必大補其心與腎，使心腎之氣交，而胞胎之氣自不散，則大腸之血自不妄行而經自順矣。</p>
<p>方用<u>順經兩安揚</u>：</p>
<p>當歸（五錢，酒洗）　白朮（五錢，土炒）　黨參（三錢）　白芍（五錢，酒炒）　大熟地（五錢，九蒸）　黑芥穗（二錢）　山奠肉（二錢，二蒸）　麥冬（五錢，去心）　升麻（四分）　巴戟肉（一錢）　（鹽水浸）</p>
<p>水煎服，二劑大腸血止而經從前陰出矣，三劑經止而兼可受妊矣。此方乃大補心、肝、腎三經之藥，全不去顧胞胎而胞胎有所歸者，以心腎之氣交也。蓋心腎虛則其氣兩分，心腎足則其氣兩合，心與腎不離而胞胎之氣聽命於二經之攝，又安有妄動之形哉？然則心腎不交，補心腎可也，又何兼補夫肝木耶？不知肝乃腎之子、心之母也，補肝則肝氣往來於心腎之間，自然上引心而下入於腎，下引腎而上入於心，不啻介紹之助也。此使心腎相交之一大法門，不特調經而然也。學者其深思者。</p>
<p>若大便下血過多，精神短少，人愈消瘦，必系肝氣不舒，久郁傷脾，脾傷不能統血，又當分別治之。</p>
<p>方用<u>補血湯</u>：</p>
<p>嫩黃耆（二兩，生熟各半）　歸身（四錢，酒洗，炒黑）　杭芍炭（三錢）　焦白朮（五錢，土炒）　杜仲（二錢，炒，斷絲）　荊芥炭（二錢）　薑炭（二錢）</p>
<p>引用貫眾炭一錢，衝入服之，四劑必愈，愈後減半，再服一劑。</p>
<p>經入大腸，必當行經之際而大便下血也。初病血雖錯行。精神必照常。若脾不統血，精神即不能照常矣，用者辨之。</p>

<h3>年未老經水斷</h3>
<p>經云：女子七七而癸絕。有年未至七七而經水先斷者，人以為血枯經閉也。誰知是心肝脾之氣鬱乎。使其血枯，安能久延於人世？醫見其經水不行，妄謂之血枯耳。其實非血之枯，乃經之閉也。且經原非血也，乃天一之水，出自腎中，是至陰之精而有至陽之氣，故其色赤紅似血，而實非血，所以謂之天癸。世人以經為血，此千古之誤，牢不可破。倘果是血，何不名之曰血水而曰經水乎？古昔聖賢創呼經水之名者，原以水出於腎，乃癸干之化，故以名之。無如世人沿襲而不深思其旨，皆以血視之。然則經水早斷，似乎腎水衰涸，吾以為心肝脾氣之郁者，蓋以腎水之生，原不由於心肝脾，而腎水之化，實有關於心肝脾。使水位之下，無土氣以承之，則水濫滅火，腎氣不能化；火位之下，無水氣以承之，則火炎鑠金，腎氣無所生；木位之下，無金氣以承之，則木妄破土，腎氣無以成。倘心肝脾有一經之郁，則其氣不能入於腎中，腎之氣即鬱而不宣矣。況心肝脾俱郁，即腎氣真足而無虧，尚有茹而難吐之勢。矧腎氣本虛，又何能盈滿而化經水外瀉那？經曰，亢則害，此之謂也。此經之所以閉塞，有似乎血枯，而實非血枯耳。治法必須散心肝脾之郁，而大補其腎水，仍大補其心肝脾之氣，則精溢而經水自通矣。</p>
<p>方用<u>益經湯</u>：</p>
<p>大熟地（一兩，九蒸）　白朮（一兩，土炒）　沙參（三錢）　山藥（五錢，炒）　當歸（五錢，酒洗）　丹皮（二錢）　白芍（三錢，酒炒）　生棗仁（三錢，搗碎）　柴胡（一錢）　杜仲（一錢，炒黑）　黨參（二錢）</p>
<p>水煎，連服數劑而經通矣，服三十劑而經不再閉，兼可受孕。此方心、肝、脾、腎四經同治藥也，妙在補以通之，散以開之。倘徒補則鬱不開而生火，徒散則氣益衰而耗精。設或用攻堅之劑、辛熱之品，則非徒無益，而又害之矣。</p>
<p>善醫者，只用眼前純和之品而大病盡除；不善醫者，立異驚奇，不惟無效，反致百病叢生。凡用藥雜亂，假金石為上品者，戒之！戒之！</p>

<h1>卷二</h1>

<h2>種子</h2>

<h3>身瘦不孕</h3>
<p>婦人有瘦怯身軀，久不孕育，一交男子即臥病終朝，人以為氣虛之故，誰知是血虛之故乎。或謂血藏於肝，精涵於腎，交感乃瀉腎之精，與血虛何歟？殊不知肝氣不開，則精不能瀉，腎經既瀉，則肝氣亦不能舒。以腎為肝之母，母既瀉精，不能分潤以羊其子，則木燥乏水；而火且暗動以鑠精，則腎愈虛矣。況瘦人多火而又瀉其精，則水嗌少而火益熾，水雖制火，而腎精空乏，無力以濟成火在水上之卦，所以倦怠而臥也。此等之婦，偏易動人，然此火因貪欲而出於肝木之中，又是虛燥之火，絕非真火也。且不交合則已，交合又偏易走瀉，此陰虛火旺不能受孕，即偶爾受孕，必致逼干男子之精，隨種而隨消者有之。治法必須大補腎水而平肝木，水旺則血旺，血旺則火消，便成水在火上之卦。</p>
<p>方用<u>養精種玉湯</u>：</p>
<p>大熟地（一兩，九蒸）　當歸（五錢，酒洗）　山萸肉（五錢，蒸熟）</p>
<p>水煎服，三月便可身健受孕，斷可種子。此方之用，不特補血，而純於填精。精滿則子宮易於攝精，血足則子宮易於容物，皆有子之道也。惟是貪欲者多，節欲者少，往往不驗。服此者果能節欲三月，心靜神清，自無不孕之理，否則不過身體壯健而已，勿咎方之不靈也。</p>
<p>服藥三月後不受孕，仍照原方加杜仲二錢（炒）、續斷二錢、白朮五錢（土炒）、雲苓三錢，服數劑後，必受孕矣。</p>

<h3>胸滿不思食不孕</h3>
<p>婦人有飲食減少，胸膈滿悶，終日倦怠思睡，一經房事，呻吟不已，人以為脾胃之氣虛也，誰知是腎氣不足乎。夫氣宜升騰，不宜消降。升騰於上焦，則脾胃易於分運；降陷於下焦，則脾骨難於運化。人乏水穀之養，則精神自爾倦怠，脾胃之氣可升而不可降也明甚。然則脾胃之氣雖充於脾胃之中，實生於兩腎之內。無腎中之水氣，則胃之氣不能騰；無腎中之火氣，則脾之氣不能化，惟有腎之水火二氣，而脾胃之氣始能升騰而不降也。然則補脾胃之氣，可不急補腎中水火之氣乎？治法以補腎氣為主，但補腎而不兼補脾胃之品，則腎之水火二氣，不能提於至陽之上也。</p>
<p>方用<u>並提湯</u>：</p>
<p>大熟地（一兩，九蒸）　山萸肉（三錢，蒸）　枸杞（二錢）　白朮（一兩，土炒）　黨參（五錢）　柴胡（五分）　黃耆（五錢，生用）　巴戟（一兩，鹽水浸）</p>
<p>水煎服，三月而腎氣大旺，再服一月，未有不能受孕者。此方補氣之藥多於補精，似乎以補脾胃為上矣。孰知脾胃健，而生精自易，是補脾胃之氣與血，正所以補腎之精與水也。又益以補精之味，則陰氣自足，陽氣易升，自爾騰越於上焦矣。陽氣不下陷，則無非大地陽春，隨遇皆是化生之機，安有不受孕之理歟！</p>
<p>胸滿不孕，人每誤為脾胃虛寒不能克食，用扶脾消導之藥，腎氣愈虛，何能受孕？妙在立方不峻補腎火，所以不用桔、附等藥。但專補腎氣，使脾胃之氣不復下陷，則帶脈氣充，胞胎氣暖，自然受孕無難矣。</p>

<h3>下身冰冷不孕</h3>
<p>婦人有下身冰冷，非火不暖，交感之際，陰中絕無溫熱之氣，人以為天分之薄也，誰知是胞胎寒之極乎。夫寒冰之地，不生草木；重陰之淵，不長魚龍。今胞胎既寒，何能受孕？雖男子鼓勇力戰，其精甚熱，直射於子宮之內，而寒冰之氣相逼，亦不過茹之於暫而不能不吐之於久也。夫猶是人也，此婦之胞胎，何以寒涼至此，豈非天分之薄乎？非也，蓋胞胎居於心腎之間，上繫於心而下繫於腎，胞胎之寒涼，乃心腎二火衰微也。故治胞胎者，必須補心腎二火而後可。</p>
<p>方用<u>溫胞飲</u>：</p>
<p>白朮（一兩，土炒）　巴戟（一兩，鹽水浸）　黨參（三錢）　杜仲（三錢，炒黑）　菟絲子（三錢，炒）　芡實（三錢，炒）　肉桂（二錢，去粗皮，研）　附子（三分，制）　山藥（三錢，炒）　補骨脂（二錢，鹽水炒）</p>
<p>水煎服，一月而胞胎熱。此方之妙，補心而即補腎，溫腎而即溫心。心腎之氣旺，則心腎之火自生；心腎之火生，則胞胎之寒自散。原因胞胎之寒，以至茹而即吐，而今胞胎熱矣，尚有施而不受者乎？若改湯為丸，朝夕吞服，尤能攝精，斷不至有伯道無兒之嘆也。</p>
<p>今之種子者，多喜服熱藥。不知此方特為胞胎寒者設。若胞胎有熱，則不宜服，審之！</p>

<h3>胸滿少食不孕</h3>
<p>婦人有素性恬淡，飲食少則平和，多則難受，或作嘔泄，胸膈脹滿，久不受孕，人以為賦稟之薄也，誰知是脾胃虛寒乎。夫脾胃之虛寒，原因心腎之虛寒耳。蓋胃土非心火不能生，脾土非腎火不能化。心腎之火衰，則脾胃失生化之權，即不能消水穀以化精微矣。既不能化水穀之精微，自無精液以灌溉於胞胎之中，欲胞胎有溫暖之氣以養胚胎，必不可得。縱然受胎，而帶脈無力，亦必墮落。此脾胃虛寒之咎，故無玉麟之毓也。治法可不急溫補其脾胃乎？然脾之母，原在腎之命門；胃之母，原在心之包絡，欲溫補脾胃，必須補二經之火。蓋母旺，子必不弱；母熱，子必不寒，此子病治母之義也。</p>
<p>方用<u>濕土毓麟湯</u>：</p>
<p>巴戟（一兩，去心，酒浸）　覆盆子（一兩，酒浸，蒸）　白朮（五錢，土炒）　黨參（三錢）　懷山藥（五錢，炒）　神麯（一錢，炒）</p>
<p>水煎服，一月可以種子矣。此方之妙，溫補脾胃，而又兼補命門與心包絡之火，藥味不多而四經並治。命門、心包之火旺，則脾與胃無寒冷之虞，子母相顧，一家和合，自然飲食多而善化，氣血旺而能任，帶脈有力不虞落胎，安有玉麟之不育哉！</p>
<p>少食不孕，與胸滿不思飲食有間，一補腎中之氣，一補命門與心包絡之火。藥味不多，其君、臣、佐、使之妙，宜細參之。</p>

<h3>少腹急迫不孕</h3>
<p>婦人有少腹之間，自覺有緊迫之狀，急而不舒，不能生育，此人人之所識也，誰知是帶脈之拘急乎。夫帶脈繫於腰臍之間，宜弛而不宜急。今帶脈之急者，由於腰臍之氣不利也；而腰臍之氣不利者，由於脾胃之氣不足也。脾胃氣虛，則腰臍之氣閉；腰臍之氣閉，則帶脈拘急，遂致牽動胞胎，精即直射於胞胎，胞胎亦暫能茹納，而力難負載，必不能免小產之虞。況人多不能節欲，安得保其不墜乎？此帶脈之急，所以不能生子也。治法宜寬其帶脈之急，而帶脈之急不能這寬也；宜利其腰臍之氣，而腰臍之氣不能遽利也。必須大補其脾胃之氣與血，而腰臍可利，帶脈可寬，自不難於孕育矣。</p>
<p>方用<u>寬帶湯</u>：</p>
<p>白朮（一兩，土炒）　巴戟肉（五錢，酒浸）　黨參（三錢）　補骨脂（一錢，鹽水炒）　麥冬（三錢，去心）　杜仲（三錢，炒黑）　大熟地（五錢，九蒸）　肉蓯蓉（三錢，洗淨）　白芍（三錢，酒炒）　當歸（二錢，酒洗）　五味（三分，炒）　建蓮子（三十粒，不去心）</p>
<p>水煎服，四劑少腹無緊迫之狀，服一月即受胎。此方之妙，脾胃兩補，而又利其腰臍之氣，自然帶脈寬舒，可以載物而勝任矣。或疑方中用五味、白芍之酸收，不增帶脈之急，而反得帶脈之寬，殊不可解。豈知帶脈之急，由於氣血之虛，蓋血虛則縮而不伸，氣虛則攣而不達。用芍藥之酸以平肝木，則肝不克脾；用五味之酸以生腎水，則腎能益帶。似相礙而實相濟也，何疑之有？</p>
<p>凡種子治法，不出帶脈、胞胎二經，數言已泄造化之秘矣。</p>

<h3>嫉妒不孕</h3>
<p>婦人有懷抱素惡，不能生子者，人以為天心厭之也，誰知是肝氣鬱結乎。夫婦人之有子也，必然心脈流利而滑，脾脈舒徐而和，腎脈大旺而鼓指，始稱喜脈。未有三部脈郁，而能生子者也。若三部脈郁，肝氣必因之而更郁，肝氣鬱，則心腎之脈必致郁之極而莫解。蓋子母相依，郁必不喜，喜必不郁也。其不能成胎者，以肝木不舒，必下克脾土，而致塞脾土之氣。塞則腰臍之氣必不利，腰臍之氣不利，必不能通任脈而達帶脈，則帶脈之氣亦塞矣。帶脈之氣既塞，則胞胎之門必閉，精即到門，亦不得其門而入矣，其奈之何哉！治法必解四經之郁，以開胞胎之門，則庶幾矣。</p>
<p>方用<u>開鬱種玉湯</u>：</p>
<p>白芍（一兩，酒炒）　香附（三錢，酒炒）　花粉（三錢）　白朮（五錢，土炒）　丹皮（三錢，酒洗）　茯苓（三錢）　當歸（五錢，酒洗）</p>
<p>水煎服。一月則鬱結之氣開，郁開則無非喜氣之盈腹，而嫉妒之心，亦可以一易，自然兩相合好，結胎於頃刻之間矣。此方之妙，解肝氣之郁，宣脾氣之困，而心腎之氣亦因之俱舒，所以腰臍利而任帶通達，不必啟胞胎之門而胞胎自啟，不特治嫉妒者也。</p>
<p>方似平平無奇，然卻能解妒種子，不可忽視。若懷娠而仍然嫉妒，必致血鬱墮胎，即幸不墮胎，生子多不能成，方加解妒飲合煎之，可保無虞，必須變其性情始效。</p>
<p><u>解妒飲：</u></p>
<p>黍谷（各九十粒）　麥（生用）　小黑豆（各四十九粒，豆炒熟）　高梁（五十五粒）</p>

<h3>肥胖不孕</h3>
<p>婦人有身體肥胖，痰涎甚多，不能受孕者，人以為氣虛之故，誰知是濕盛之故乎。夫濕從下受，乃言外邪之濕也。而肥胖之濕，實非外邪，乃脾土之內病也。然脾土既病，不能分化水穀以養四肢，宜其身軀瘦弱，何以能肥胖乎？不知濕盛者多肥胖，肥胖者多氣虛，氣虛者多痰涎，外似壯健而內實虛損也。內虛則氣必衰，氣衰則不能行水，而濕停於腸胃之間，不能化精而化涎矣。夫脾本濕土，又因痰多，愈加其濕，脾不能受熱，必津潤於胞胎，日積月累，則胞胎竟變為汪洋之水窟矣。且肥胖之婦，內肉必滿遮子宮，不能受精，此必然之勢也。況又加水濕之盛，即男子甚健，陽精直達子宮，而其水勢滔滔，氾濫可畏，亦遂化精為水矣，又何能成妊哉？治法必須以瀉水化痰為主。然徒瀉水化痰而不急補脾胃之氣，則陽氣不旺，濕痰不去，人先病矣。烏望其茹而不吐乎？</p>
<p>方用<u>加味補中益氣湯</u>：</p>
<p>黨參（三錢）　黃耆（三錢，生用）　柴胡（一錢）　甘草（一錢）　當歸（二錢，酒洗）　升麻（四分）　茯苓（五錢）　白朮（一兩，土炒）　陳皮（五分）　半夏（三錢，制）</p>
<p>水煎服，八劑痰涎盡消，再十劑水濕利，子宮涸出，易於受精而成孕矣。其在於昔，則如望洋觀海；而至於今，則是馬到成功也。快哉！此方之妙，妙在提脾氣而升於上，作云作雨，則水濕反利於下行；助胃氣而消於下，為津為液，則痰涎轉易於上化。不必用消化之品以損其肥，而肥自無礙；不必用浚決之味以開其竅，而竅自能通。陽氣充足，自能攝精；濕邪散除，自可受種，何肥胖不孕之足慮乎？再十劑後，方加杜仲一錢半（炒，斷絲）、續斷一錢半（炒），必受孕矣。</p>

<h3>骨蒸夜熱不孕</h3>
<p>婦人有骨蒸夜熱，遍體火焦，口乾舌燥，咳嗽吐沫，難於生子者，人以為陰虛火動也，誰知是骨髓內熱乎。夫寒陰之地，固不生物；而乾旱之田，豈能長養？然而骨髓與胞胎何相關切，而骨髓之熱，即能使人不嗣，此前賢所未言者也。山一旦創言之，不幾為世欲所駭乎？而要知不必駭也，此中實有至理焉。蓋胞胎為五臟外之一臟耳，以其不陰不陽，所以不列於五臟之中。所謂不陰不陽者，以胞胎上繫於心包，下繫於命門。繫心包者通於心，心者陽也；繫命門者通於腎，腎者陰也。是陰之中有陽，陽之中有陰，所以通於變化，或生男，或生女，俱從此出。然必陰陽協和，不偏不枯，始能變化生人，否則否矣。況胞胎既通於腎，而骨髓亦腎之所化也。骨髓熱，由於腎之熱，腎熱而胞胎亦不能不熱。且胞胎非骨髓之養，則嬰兒無以生骨，骨髓過熱則骨中空虛，惟存火熱之氣，又何能成胎？治法必須清骨中之熱。然骨熱由於水虧，必補骨之陰，則骨熱除，珠露有滴濡之喜矣。壯水之主，以制陽光，此之謂也。</p>
<p>方用<u>清骨滋腎散</u>：</p>
<p>地骨皮（一兩，酒洗）　麥冬（五錢，去心）　丹皮（五錢）　元參（五錢，酒洗）　五味子（五分，炒，研）　沙參（五錢）　白朮（三錢，土炒）　石斛（二錢）</p>
<p>水煎，連服三十劑而骨熱解，再服六十劑自受孕。此方之妙，補腎中之精，涼骨中之熱，不清胞胎，而胞胎自無太熱之患。然陰虛內熱之人，原易受妊，今因骨髓過熱，所以受精而變燥，以至難於育子。本非胞胎之不能受精，所以稍補其腎，殺其火之有餘，而益其水之不足，便易種子其。</p>
<p>治骨髓熱，所以不用熟地。方極善，用者萬勿加減。凡峻藥，病去七分即止，不必拘泥三十劑、六十劑之數。</p>

<h3>腰痠腹脹不孕</h3>
<p>婦人有腰痠背楚，胸滿腹脹，倦怠欲臥，百計求嗣不能如願，人以為腰腎之虛也，誰知是任、督之因乎。夫任脈行於前，督脈行於後，但皆從帶脈之上下而行也。故任脈虛，則帶脈墜於前；督脈虛，則帶脈墜於後，雖胞胎受精，亦必小產，況在任、督之脈既虛，而疝瘕之症必起，疝瘕礙胞胎而外障，則胞胎縮於疝瘕之內，往往精施而不能受，雖餌以玉燕亦何益哉？治法必須先去其疝瘕之病，而補其任、督之脈，則提挈天地，把握陰陽，呼吸精氣，包裹成形，力足以勝任而無虞矣。外無所障，內有所容，安有不能生育之理？</p>
<p>方用<u>升帶湯</u>：</p>
<p>白朮（一兩，土炒）　沙參（五錢）　黨參（三錢）　肉桂（一錢，去粗皮，研）　荸薺粉（三錢）　鱉甲（三錢，炒）　半夏（一錢，制）　神麯（一錢，炒）　茯苓（三錢）</p>
<p>水煎服，三十劑而任督之氣旺，再服三十劑而疝瘕之症除。任督之氣升，而疝瘕自有難容之勢。況方中有肉桂以散寒，荸薺以祛積，鱉甲之攻堅，茯苓之利濕，有形自化於無形，滿腹皆長騰之氣矣。何至受精而再墜乎哉！</p>
<p>此方為有疝瘕而設，故用沙參、荸薺粉、鱉甲以破堅理氣。若無疝瘕，去上三味，加杜仲一錢半（炒）、澤瀉一錢半（炒）、甘枸杞二錢，三味服之，腰痠腹脹自除矣。鱉甲破氣，不可誤服，惟有疝瘕與肝鬱者宜之。</p>

<h3>便澀腹脹足浮腫不孕</h3>
<p>婦人有小水艱澀，腹脹腳腫，不能受孕者，人以為小腸之熱也，誰知是膀胱之氣不化乎？夫膀胱原與胞胎相近，膀胱病而胞胎亦病矣。蓋水濕之氣必走膀胱，而膀胱不能自化，必得腎氣相通，始能化水以出陰器。倘膀胱無腎氣之通，則膀胱之氣化不行，水濕之氣必且滲入胞胎之中，而成汪洋之勢。汪洋之田，又何能生物也哉？治法必須壯腎氣，以分消胞胎之濕；益腎火，以達化膀胱之水。使先天之本壯，則膀胱之氣化，胞胎之濕除，而汪洋之田，化成雨露之壤矣。水化則膀胱利，火旺則胞胎暖，安有布種而不發生哉！</p>
<p>該方用<u>化水種子湯</u>：</p>
<p>巴戟（一兩，鹽水浸）　白朮（一兩，土炒）　茯苓（五錢）　菟絲子（五錢，酒炒）　車前（二錢，酒炒）　黨參（三錢）　芡實（五錢，炒）　肉桂（一錢，去粗皮）</p>
<p>水煎服，二劑膀胱之氣化，四劑艱澀之症除，又十劑虛脹腳腫之病形消，再服六十劑，腎氣大旺，胞胎溫暖，易於受胎而生育矣。此方利膀胱之水，全在補腎中之氣；暖胞胎之氣，全在壯腎中之火。至於被腎中之藥，多是濡潤之品，不以濕而益助其濕乎？然方中之藥，妙於補腎之火而非補腎之水。尤妙於補火而無燥烈之虞，利水而非盪滌之猛。所以膀胱氣化，胞胎不濕，而發榮長養無窮。與便澀、腹脹、足浮腫，此症極多，不惟不能受孕，抑且漸添染症，久而不愈，甚有成勞瘵不治者。此方補水而不助濕，補火而使歸原，善極，不可加減一味。若無好肉桂，以破故紙一錢（妙）代之，用核桃仁二個，連皮燒黑，去皮用仁作引；若用好肉佳，即可不用核桃引。</p>

<h2>妊娠</h2>

<h3>妊娠惡阻</h3>
<p>婦人懷好之後，噁心嘔吐，思酸解渴，見酸憎惡，因倦欲臥，人皆曰妊娠惡阻也，誰知肝血亦燥乎。夫婦人受妊，本於腎氣之旺也，腎旺是以攝精。然腎一受精而成妊，則腎水生胎，不假化於五臟，而肝為腎之子，日食母氣以舒，一日無津液之養，則肝氣迫索。而腎水不能應，則肝氣益急，肝急則火動而逆也。肝氣既逆，是以嘔吐噁心之症生焉。嘔吐縱不至太甚，而其傷氣則一也。氣既受傷，則肝血愈耗，世人用四物湯治胎前諸症者，正以其能生肝之血也。然補肝以生血，未有不佳，但生血而不知生氣，則脾胃衰微，不勝頻嘔，由恐氣虛則血不易生也。故於平肝補血之中，加以健脾開胃之品，以生陽氣，則氣能生血，尤益胎氣耳。或疑氣逆而用補氣之藥，不益助其逆乎？不知妊娠惡阻，其逆不甚，且逆是因虛而逆，非因邪而逆也。因邪而逆者，助其氣而逆增；因虛而逆者，補其氣則氣逆轉，況補氣於補血之中，則陰足以制陽，又何慮其增逆乎？</p>
<p>宜用順肝益氣湯：</p>
<p>黨參（一兩）　當歸（一兩，酒洗）　茯苓（二錢）　蘇子（一錢，炒，研）　白朮（三錢，土炒）　陳皮（三分）　熟地（五錢，九蒸）　白芍（三錢，酒炒）　神麯（一錢，炒）　麥冬（三錢，去心）　砂仁（一粒，炒，研）</p>
<p>水煎服，一劑輕，二劑平，三劑全愈。此方平肝則肝逆除，補腎則肝燥息，補氣則血易生。凡胎病而少帶惡阻者，俱以此方投之，無不安，最有益於胎婦，其功更勝於四物焉。</p>
<p>亦有肝鬱氣滯，胸膈膨悶，見食不惡，不能多食，雖系妊娠而非惡阻，宜分別治之，後另有方。</p>
<p><u>疏肝化滯湯</u>（能解鬱進食）</p>
<p>全當歸（酒洗，六錢）　杭芍（酒炒，三錢）　黨參（去蘆，三錢）　白扁豆（云皮，三錢）　雲苓（二錢）　香附（炒焦，二錢）　砂仁（炒，研，錢半）　條芩（炒焦，八分）　神麯（炒焦，錢半）　廣皮（八分）　薄荷（六分）　甘草（五分）</p>
<p>水煎服。</p>

<h3>妊娠浮腫</h3>
<p>妊娠有至五個月，肢體倦怠，飲食無味，先兩足腫，漸至遍身頭面俱腫，人以為濕氣使然也，誰知脾肺氣虛乎。夫妊娠雖有按月養胎之分，其實不可拘於月數，總以健脾補肺為大綱。蓋脾統血，肺主氣，胎非血不蔭，非氣不至。脾健則血旺而蔭胎，肺清則氣旺而生子。苟肺衰則氣餒，氣餒則不能運氣於皮膚矣；脾虛則血少，血少則不能運血於肢體矣。氣與血兩虛，脾與肺失職，所以飲食難消，精微不化，勢必至氣血下陷，不能升舉，而濕邪即乘其所虛之處，積而成浮腫症。非由脾肺之氣血虛而然耶？治法當補其脾之血與肺之氣，不必祛濕，而濕自無不去之理。</p>
<p>方用<u>加減補中益氣湯</u>：</p>
<p>黨參（五錢）　黃耆（三錢，生用）　柴胡（一錢）　當歸（三錢，酒洗）　白朮（五錢，土炒）　茯苓（一兩）　甘草（一分）　升麻（三分）　陳皮（三分）</p>
<p>水煎服，四劑即愈，十劑不再犯。夫補中益氣湯之立法也，原長提脾肺之氣，似乎益氣而不補血，然而血非氣不生，是補氣即所以生血。觀當歸補血湯，用黃耆為君，則較著彰明矣。況濕氣乘脾肺之虛而相犯，未便大補其血，恐陰太盛而招陰也。只補氣而助以利濕之品，則氣升而水尤易散，血亦隨之而生矣，然則何以重用茯苓至一兩，不幾以利濕為君乎？嗟嗟濕症，而不以此藥為君，將以何者為君乎？況重用茯苓於補氣之中，雖曰滲濕，而仍是健脾清肺之意。且凡利水之品，多是耗氣之藥，而茯苓與參朮合，實補多於利，所以重用之以分濕邪，即以補氣血耳。</p>

<h3>妊娠少腹疼</h3>
<p>妊娠少腹作疼，胎動不安，如有下墮之狀，人只知帶脈無力也，誰知是脾腎之虧乎。夫胞胎雖繫於帶脈，而帶脈實關於脾腎，脾腎虧損，則帶脈無力，胞胎即無以勝任矣。況人之脾腎虧損者，非飲食之過傷，即色欲之太甚，脾腎虧，則帶脈急，胞胎所以有下墮之狀也。然則胞胎之系，通於心與腎，而不通於脾，補腎可也，何故補脾？然脾為後天，腎為先天，脾非先天之氣不能，腎非後天之氣不能生，補腎而不補脾，則腎之精何以遽生也？是補後天之脾，正所以補先天之腎也；補先後二天之脾與腎，正所以固胞胎之氣與血，脾腎可不均補乎？</p>
<p>方用<u>安奠二天湯</u>：</p>
<p>黨參（一兩，去蘆）　熟地（一兩，九蒸）　山萸（五錢，蒸，去核）　白朮（一兩，土炒）　山藥（五錢，炒）　炙草（一錢）　杜仲（三錢，炒）　扁豆（五錢，炒，去皮）　枸杞（二錢）</p>
<p>水煎服，一劑而疼止，二劑而胎安矣。夫胎動，乃脾腎雙虧之症，非大用參、朮、熟地補陰補陽之品，斷不能挽回於頃刻。世人往往畏用參、術，或少用以冀建功，所以寡效。此方正妙在多用也。</p>

<h3>妊娠口於咽疼</h3>
<p>妊娠至三四個月，自覺口乾舌燥，咽喉微疼，無津以潤，以至胎動不安，甚則血流如經水。人以為火動之極也，誰知是水虧之甚乎。夫胎也者，本精與血之相結而成。遂月養胎，古人每分經絡，其實均不離腎水之養，故腎水足而胎安，腎水虧而胎動。然腎水又何能動胎，必腎經之火動而胎動不安耳，然而火之有餘，仍是水之不足，所以火炎而胎動，補血則胎自安，亦既濟之義也。惟是腎水不能遽生，必須滋補肺金，金潤則能生水，而水有逢源之樂矣。水既有本，則源泉混混矣，而火又何難制乎？再少加以清熱之品，則胎自無不安矣。</p>
<p>方用<u>潤燥安胎湯</u>：</p>
<p>熟地（一兩，九蒸）　生地（二錢，酒炒）　益母（二錢）　麥冬（五錢，去心）　黃芩（一錢，酒炒）　五味（五錢，炒）　山萸肉（五錢，蒸）　阿膠（二錢，炒）</p>
<p>水煎服，二劑而燥息，再二劑而胎安，連服十劑而胎不再動矣。此方專填腎中之精，而兼補肺，然補肺仍是補腎之意，故腎經不幹燥，則火不能灼胎焉，有不安之理乎？</p>

<h3>妊娠吐瀉腹疼</h3>
<p>妊娠上吐下瀉，胎動欲墮，腹疼難忍，急不可緩，此脾胃虛極而然也。夫脾胃之氣虛，則胞胎無力，必崩墜之虞，況又上吐下瀉，則脾與胃之氣因吐瀉而愈虛，欲胞胎之無恙也得乎？然胞胎疼痛，而究不至下墜者何也？全賴腎氣之固也。胞胎繫於腎，而連於心，腎氣固，則交於心，其氣通於胞胎，此胞胎之所以欲墮而不得也。且腎氣能固，則陰火必來生脾；心氣能通，則心火必來援胃，則脾胃雖虛而未絕，胞胎雖動而不墮，可不急救其脾胃乎？然脾胃當將絕而未絕之時，只救脾胃而難遽生，更宜補其心腎之火，使之生土，則兩相接續，胎自固而安矣。</p>
<p>方用<u>援土固胎湯</u>：</p>
<p>黨參（一兩）　白朮（二兩，土炒）　製附子（五分）　山藥（一兩，炒）　菟絲（三錢，酒炒）　續斷（三錢）　杜仲（三錢，炒）　砂仁（三錢，炒，研）　炙草（一錢）　山萸（一兩，蒸，去核）　肉桂（二錢，去粗皮）　枸杞（三錢）</p>
<p>水煎服，一劑而瀉止，二劑而諸病盡愈矣。此方救脾胃之土十之八，救心腎之火十之二也。救人輕於救土者，豈以土欲絕而火未甚衰乎？非也。蓋土崩非重劑不能援，火衰雖小劑而可助。熱藥多用，必有太燥之虞，不比溫甘之品也。況胎動系土衰，而非火弱，何用太熱？妊娠忌桂附，是恐傷胎，豈可多用？小熱之品，計之以錢；大熱之品，計之以分者，不過用以引火，而非用以壯火，其深思哉！</p>

<h3>妊娠子懸肋疼</h3>
<p>妊娠有懷抱憂鬱，以致胎動不安，兩脅悶而疼痛，如弓上弦，人只知是子懸之病，誰知是肝氣不通乎。夫養胎半繫於腎水，然非肝血相助，則腎水實有獨力難支之勢，故保胎必滋腎水，而肝血斷不可不顧。使肝氣不郁，則肝之氣不閉，而肝之血必旺，自然灌溉胞胎，合腎水而並協養胎之力。今肝氣因憂鬱而閉塞，則胎無血蔭，腎難獨任，而胎安得不上升以覓食，此乃鬱氣使然也。莫認為子之欲自懸，而妄用瀉子之品，則得矣。治法宜開肝氣之鬱結，補肝血之燥熱，則子懸自定矣。</p>
<p>方用<u>解鬱湯</u>：</p>
<p>殼參（一錢）　白朮（五錢，土炒）　白茯苓（三錢）　當歸（一兩，酒洗）　砂仁（三粒，炒，研）　薄荷（二錢）　白芍（一兩，酒炒）　枳殼（五分，炒）　山梔子（三錢，炒）</p>
<p>另加薏仁米三四錢尤妙</p>
<p>水煎服，一劑而悶痛除，二劑而子懸定，至三劑而全安，去梔子再多服數劑不復發。此乃平肝解鬱之聖藥，郁開則木不剋土：肝平則火不妄動，方中又有健脾開胃之品，自然水精四布。而肝與腎有潤澤之機，則胞胎自無乾燥之患，又何慮上懸之不愈哉！</p>

<h3>妊娠跌損</h3>
<p>妊娠有失足跌損，致傷胎元，腹中疼痛，勢如將墮者，人只知是外傷之為病也，誰知有內傷之故乎。凡人內無他症，胎元堅固，即或跌撲閃挫，依然無恙。惟內之氣血素虧，故略有閃挫，胎便不安。若止作閃挫外傷治，斷難奏功，且恐有因治而反墮者，可不慎歟！必須大補氣血，而少加以行瘀之品，則瘀散胎安矣。但大補氣血之中，又宜補血之品多於補氣之藥，則無不得之。</p>
<p>方用<u>救損安胎湯</u>：</p>
<p>當歸（一兩，酒洗）　白芍（三錢，酒炒）　炙草（一錢）　生地（一兩，酒炒）　白朮（五錢，土炒）　黨參（一錢）　乳香（一錢，去油）　沒藥（一錢，去油）　蘇木（三錢，搗碎）</p>
<p>水煎服，一劑而疼痛止，二劑而勢不下墜矣。不必三劑也。此方之妙，妙在既能去瘀而不傷胎，又能補氣補血而不凝滯，故無通利害，亦痊跌閃之傷，有益無損，大建奇功。無娠閃挫，亦可用之。</p>

<h3>胎漏</h3>
<p>妊娠有胎不動，腹不疼，而小便中時常有血流出者，人以為血虛胎漏也，誰知氣虛不能攝血乎。夫血只能蔭胎，而胎中之蔭血，必賴氣以衛之，氣虛下陷，則蔭胎之血亦隨氣而陷矣。然則氣虛下陷，而血未嘗虛，似不應與氣同陷也。不知氣乃血之衛，血賴氣以固，氣虛則血無憑依，無憑依則燥急，燥急必生邪熱。血寒則靜，血熱則動，動則外出而莫能遏又安得不下流乎？倘氣不虛而血熱，則必大崩，而不止些微之漏矣。治法宜補其氣之不足，而瀉其火之有餘，則血不必止而自無不止矣。</p>
<p>方用<u>助氣補漏湯</u>：</p>
<p>黨參（一兩）　白芍（五錢，酒炒）　益母草（一錢）　續斷（二錢）　黃芩（三錢，酒炒）　甘草（一錢）　生地（三錢，酒炒）</p>
<p>水煎服，一劑而血止，二劑再不漏矣。此方用黨參以補陽氣，用黃芩以瀉陰火。火泄則血不熱，而無欲動之機；氣旺則血有依，而無可漏之竅。氣血俱旺而和協，自然歸經而各安其所矣，又安有漏泄之患哉！補血不用當歸妙。</p>

<h3>妊娠子鳴</h3>
<p>妊娠懷胎至七八個月，忽然兒啼腹中，腰間隱隱作痛，人以為胎熱之過也，誰知是氣虛之故乎。夫兒之在胞胎也，全憑母氣以化成。母呼兒亦呼，母吸兒亦吸，未嘗有一刻之間斷。至七八個月，則母氣必虛矣。兒不能隨母之氣以為呼吸，必有迫不急待之勢。母子原相依為命，子失母之氣，則拂子之意，而啼於腹中，似可異而究不必異，病名子鳴，氣虛甚也。治宜大補其氣，使母之氣與子氣相合，則子之意安，而啼亦息矣。</p>
<p>方用<u>扶氣止啼湯</u>：</p>
<p>黨參（一兩）　黃耆（一兩，生用）　橘紅（五分）　花粉（一錢）　麥冬（一兩，云去心）　甘草（一錢）　當歸（五錢，酒洗）</p>
<p>水煎服，一劑而啼即止，二劑不再啼。此方用黨參、黃耆、麥冬以補肺，使肺氣旺，則胞胎之氣亦旺。胞胎之氣旺，則胞中之子氣有不隨母之氣以為呼吸者，未之有也。</p>

<h3>子狂</h3>
<p>婦人懷妊有口渴汗出、大飲冷水而煩串要狂、腰腹疼痛，以致胎欲墮者，人以為火盛之極也，抑知是何經火盛乎？此乃胃火炎熾，熬煎胞胎之水，以致胞胎之水涸，胎失所養，故動而不安耳。夫胃為水穀之海，多氣多血之經，所以養五臟六腑者，蓋萬物皆生於上，土氣厚而物始生；土氣薄，而物必死。然土氣之所能厚者，全賴火氣之來生也；胃之能化水穀者，亦賴火氣之能化也。今胃中有火，宜乎生土，何以火盛而反致害乎？不知無火難以生土，而火多又能爍水，雖土中有火土不死，然亦必有水方不燥。使胃火大旺，必致爍干腎水，土中無水，則自潤不足，又何以分潤胞胎？土爍之極，火熱炎蒸，犯心越神，兒胎受逼，安得不下墜乎？經所謂二陽之病發心脾者，正此義也。治法必須瀉火滋水，使水氣得旺，則火氣自衰，火衰而胎之狂躁自定矣。</p>
<p>方用<u>息焚安胎湯</u>：</p>
<p>生地（一兩，酒炒）　茯苓（三錢）　青蒿（五錢）　白朮（五錢，土炒）　黨參（三錢）　知母（二錢）　花粉（二錢）</p>
<p>水煎服，一劑而狂少平，二劑而狂大定，三劑而火盡解、胎亦安矣。此方藥料頗重，恐人慮不勝，不敢全用，又不得不再為囑之。懷胎而火勝若此，非大劑何以能蠲？火不息則狂不止，而胎能安耶？況藥料雖多，均是滋水之味，益而無損，勿過慮也。</p>
<p>妊娠燥狂，每誤有別症，不曰痰甚，即云時疾傳經，而置妊娠於不問，誤服多藥，數月不愈。甚有打去胎而以顧大人性合為名者，更屬糊塗之極。原方不可加減。</p>

<h3>妊娠中惡</h3>
<p>婦人懷子在身，痰多吐涎，偶遇鬼神祟惡，忽然腹中疼痛，胎向上頂，人疑為子懸之病也，誰知是中惡而胎不安乎。大凡不正之氣，最易傷胎。故有孕之婦，斷不宜入廟燒香與避靜陰寒之地，如古洞幽巖皆不可登，蓋邪祟多在神字潛蹤。幽陰巖洞，亦其往來遊戲之所，觸之最易相犯，不可不深戒也。況孕婦又多痰涎，眼目易眩，目一眩如有妄見，此招祟因痰而起也。人云怪病多起於痰，其信然歟！治法似宜以治痰為主，然治痰必至耗氣，氣虛而痰難消化，胎必動搖，必須補氣以生血，補血以治痰，再加以清痰之品，則氣血不虧，痰亦易化矣。</p>
<p>方用<u>消惡安胎湯</u>：</p>
<p>當歸（一兩，酒洗）　黨參（三錢）　茯苓（五錢）　白朮（五錢，土炒）　蘇葉（一錢）　甘草（一錢）　白芍（一兩，酒炒）　陳皮（五分）　花粉（三錢）　沉香（一錢，研末）</p>
<p>此方大補氣血，輔正邪自除之義也。輔正逐邪，方極平正，如此可知用金石之藥以化痰者，皆矜奇立異，欲速取效，不知暗耗人之真氣。戒之！戒之！</p>

<h3>妊娠多怒墮胎</h3>
<p>婦人有懷妊之後，未至成形，或已成形，其胎忽墮，人皆曰氣血衰微，不能固胎也。誰知是性急怒多，肝火大動而不靜乎。夫肝本藏血，肝怒則不藏，不藏則血難固。蓋肝雖屬木，而木中實寄龍雷之火，所謂相火是也。相火宜靜，而不宜動，靜則安，動則熾。況木中之火，又易動而難靜者也。人生在世，無日非動靜之時，即無日非動火之時，尤加大怒，則火益動矣。火動而不可止遏，則火勢飛揚，不能生氣化胎，而反食氣傷精矣。精傷則胎無所養，勢必不墜而不已，經所謂「少火生氣，壯火食氣」，正此義也。治法宜平其肝中之火，利其腰臍之氣，使氣生夫血，而血清其火，則庶幾矣。</p>
<p>方用<u>利氣瀉火湯</u>：</p>
<p>黨參（三錢）　白朮（一兩，土炒）　甘草（一錢）　熟地（五錢，九蒸）　當歸（三錢，酒洗）　芡實（三錢，炒）　白芍（五錢，酒炒）　黃芩（二錢，酒炒）</p>
<p>水煎服，六十劑而胎不墜矣。此方名雖利氣，而實補氣也。然補氣而不加以瀉火之品，則氣旺面火不能平，必反害其氣也。故加黃芩於補氣之中以瀉火，又有熟地、歸、芍以滋肝而壯水之主，則血不燥而氣得和，怒氣息而火自平，不必利氣而氣無不利，即無往而不利矣。</p>
<p>性急怒多而不用舒肝藥者，以其是胎娠故也。經云「胎病則母病，胎安則母病自愈」，所以妊娠一門，總以補氣養血安胎為主，則萬病自除矣。</p>

<h2>小產</h2>

<h3>行房不慎</h3>
<p>好婦因行房顛狂，遂致小產，血崩不止，人以為火動之極也，誰知是氣脫之故乎。大凡婦人之懷妊也，賴腎水以蔭胎。水源不足，則火易沸騰，加以久戰不已，則火必大動。再至興酣顛狂，精必大泄，精大泄則腎水易涸，而龍雷相火益熾，水火兩病胎，不能固而墮矣。胎墮而火猶未息，故血隨火而崩下，有不可止遏之勢，人謂火動之極，亦未為大誤也。但血崩本於氣虛，火盛本於水虧，腎水既虧，則氣之生源涸矣。氣源既涸，而氣有不脫者乎？此火動是標，而氣脫是本也。經云「治病必求其本」，本固而標自立矣。若只以止血為主，而不急固其氣，則氣散不能速回，而血何由止；不大補其精，則水涸不能遽長，而火且益熾。不揣其本，而濟其末，山未見有能濟者也。</p>
<p>方用<u>固氣填精湯</u>：</p>
<p>當歸（五錢，酒洗）　黃耆（一兩，生用）　芥穗（二錢，炒）　白朮（五錢，土炒）　大熟地（一兩，九蒸）　黨參（一兩）　三七（五分，研末沖）</p>
<p>水煎服，一劑而血止，二劑而身安，四劑而全愈。此方之妙，妙在不去清火，而惟去補氣、補精。其奏功獨神者，以諸藥溫潤，能除大熱也。蓋熱是虛，故補氣自能攝血，補精自能止血，意在本也。</p>
<p>小產血崩，多由行房而致。若年逾四十，參、耆宜倍用，熟地宜減半用，以其氣虛火衰也，否則每令氣脫不救。凡有妊娠者，須忍欲謹避房事，萬勿自蹈危途，慎之！</p>

<h3>跌閃小產</h3>
<p>妊婦有跌撲閃挫，遂致小產，血流紫塊，昏暈欲絕者，人皆曰瘀血作祟也。誰知是血室損傷乎。夫血室與胞胎相連，如唇齒之相依，胞胎有傷，則血室亦損，唇亡齒寒，理有必至也。然胞胎傷損而流血者，其傷淺；血室傷損而流血者，其傷深。傷之淺者疼在腹，傷之深者暈在心。同一跌撲損傷，而未小產與已小產治各不同。未小產而胎不安者，宜顧其胎，而不可輕去其血；已小產而血大崩，宜散其瘀，而不可重傷其氣，蓋胎已墮，血既脫而血室空虛，惟氣存耳。倘或再傷其氣，安保無氣脫之憂乎？經云「血為營、氣為衛」，使衛有不固，則營無依而危矣。故必補氣以生血，新血生而瘀血自散矣。</p>
<p>方用<u>理氣散瘀湯</u>：</p>
<p>黨參（一兩）　黃耆（一兩，生用）　茯苓（三錢）　紅花（一錢）　當歸（五錢，酒洗）　丹皮（三錢）　薑炭（一錢）</p>
<p>水煎服，一劑而流血止，二劑而昏暈除，三劑而全安矣。此方用黨參、黃耆以補氣，氣旺而血可攝也；用當歸、丹皮以生血，血生則瘀難留也；用紅花、黑姜以活血，血活而暈可除也；用茯苓以利水，水利則血易歸經也。</p>
<p>胎未隨宜加杜仲（炒炭）一錢、續斷（炒黑）一錢，若胎已墮服原方。血崩不止加貫眾炭三錢，若血閉心暈加元胡索一錢。</p>

<h3>大便乾結小產</h3>
<p>妊婦有口渴煩躁，舌上生瘡，兩唇腫裂，大便乾結，數日不得通，以致腹痛小產者，人皆曰大腸之火熱也。誰知是血熱爍胎乎。夫血所以養胎也，溫和則胎受其益，太熱則胎受其損。如其熱以爍之，則兒在胞胎之中，若有探湯之苦，難以存活，則必外越下奔，以避炎氣之逼迫，欲其胎之不墜也得乎？然而血蔭乎胎則血必虛耗。血者陰也，虛則陽亢，亢則害矣。且血乃陰水所化，血日蔭胎取給，刻不容緩，而火熾陰水，不能速生以化血，所以陰虛火動。陰中無非火氣，血中亦無非火氣矣。兩火相合。焚逼兒胎，此胎之所以下墜也。治法宜情胞中之火，補腎中之精，則可已矣。或疑兒已下墜，何故再顧其胞；血不蔭胎，何必大補其水？殊不知火動之極，以致胎墜，則胞中純是一團火氣。此火乃虛火也。實火可瀉而虛火宜於補中清之，則虛火易散而真火可生。倘一味清涼以降火，全不顧胞胎之虛實，勢必至寒氣逼人，胃中生氣蕭索矣。胃乃三陽，滋養五臟者也。胃陽不生，何以化精微以生陰水乎？有不變為勞瘵者，幾希矣。</p>
<p>方用<u>加減四物湯</u>：</p>
<p>熟地（一兩，九蒸）　當歸（一兩，酒洗）　白芍（三錢）　山梔子（一錢，炒）　川芎（一錢）　山萸（二錢，蒸）　山藥（三錢，炒）　丹皮（一錢）</p>
<p>水煎服，四五劑而全愈矣。此方加條芩一錢尤妙。</p>

<h3>畏寒腹疼小產</h3>
<p>妊婦有畏寒腹疼，因而墮胎者，人只知下部太寒也。誰知是氣虛不能攝胎乎。夫人生於火，亦養於火。非氣不充，氣旺則火旺，氣衰則火衰。人之所以生胎者，受父母先天之真火也。先天之真火，即先天之真氣以成之，故胎成於氣，亦攝於氣。氣旺則胎牢，氣衰則胎墮。胎日加長，而氣日加衰，安得不墜哉！況又遇寒氣外侵，則內之火氣更微，火氣微，則長養無資，此胎之不能不墮也。使當其腹疼之時，即用人參、乾薑之類補氣祛寒，則可以疼止而胎安。無如人拘於妊娠之藥禁，而不敢用，因致墮胎而僅存幾微之氣。不急救氣，尚有何法？</p>
<p>方用<u>黃耆補氣湯</u>：</p>
<p>黃耆（二兩，生用）　當歸（一兩，酒洗）　炮姜（五分）　肉桂（五分，去粗皮）</p>
<p>水煎服，五劑愈矣。倘認定是寒，大用辛熱，全不補氣與血，恐過於燥熱，反致亡陽而變危矣。</p>

<h3>大怒小產</h3>
<p>妊婦有人怒之後，忽然腹疼吐血，因而墮胎，及墮胎之後腹疼仍未止者，人以為肝之怒火未退也，誰知是血不歸經而然乎。夫肝所以藏血者也，大怒則血不能藏，宜失血而不當墮胎，何為失血而胎亦隨墮乎？不知肝性最急，血門不閉，其血直搗於胞胎，胞胎之系，通於心腎之間，肝血來沖，必斷絕心腎之路，心腎之路斷，則胞胎失水火之養，所以墮也。胎既墮矣，而腹疼如故者，蓋因心腎未援，欲續無計，彼此痛傷，肝氣欲歸於心而心不受，欲歸於腎而腎不納，故血猶未靜而疼無已。治法宜引肝之血，仍入於肝，而腹痛自己矣。然徒引肝之血而不平肝之氣，則氣逆而不易轉，即血逆而不易歸也。</p>
<p>方用<u>引氣歸血湯</u>：</p>
<p>白芍（五錢，酒炒）　當歸（五錢，酒洗）　甘草（一錢）　白朮（三錢，土炒）　香附（五分，酒炒）　黑芥穗（三錢）　麥冬（三錢，去心）　鬱金（一錢，醋炒）　丹皮（三錢）　薑炭（五分）</p>
<p>水煎服。此方名為引氣，其實仍是引血也。引血所以引氣，氣歸於肝之中，血亦歸於肝之內，氣血兩歸，而腹疼自止矣。</p>

<h1>卷三</h1>

<h2>難產</h2>

<h3>血虛難產</h3>
<p>妊娠有腹疼數日，不能生產，人皆曰氣虛力弱，不能送子入產門。誰知是血虛膠滯，胞中無血，兒難轉身乎。夫胎之成，成於腎臟之精；而胎之養，養於五臟六腑之血。故血旺則子易生，血衰則子難產。所以臨產之前，宜用補血之藥，補血則血不能遲生，必更兼補氣以生之。然不可純補其氣也，恐陽過於旺，則血仍不足，偏勝之害，必有升而無降，亦難產之漸也。防微杜漸，其惟氣血兼補乎！使氣血並旺，則氣能推送，而血足以濟之，是汪洋之中，自不難轉身也，又何有膠滯之患乎？</p>
<p>方用<u>送子丹</u>：</p>
<p>當歸（一兩，酒洗）　生黃耆（一兩）　川芎（三錢）　麥冬（一兩，去心）　熟地（五錢，九蒸）</p>
<p>水煎服，一劑而生矣，且無橫生、倒產之患。此補氣、補血之藥也，二者相較，補血之味多於補氣之品，蓋補氣只用黃耆一味，其餘無非補血品，血旺氣得所養，氣生血得所依，胞胎潤澤，自然易產。譬如舟遇水淺之處，雖大用人力，終難推行，忽逢春水氾濫，舟自躍躍欲行，再得順風以送之，有不揚帆而迅行者乎？</p>
<p>方妙，若頭產交骨不開，加炙龜板三錢、生過子婦人頂心發三錢，洗淨，用新瓦一個置火上焙發成灰，入藥同煎，服下即效。</p>

<h3>交骨不開難產</h3>
<p>妊婦有兒到產門，竟不能下，此危急存亡之時也。人以為胞胎先破，水乾不能滑利也，誰知是交骨不開之故乎。蓋產門之上，原有骨二塊，兩相鬥合，名曰交骨。未產之前，其骨自合，若天衣之無縫；臨產之際，其骨自開，如開門之見山。婦人兒門之肉，原自斜生，皮亦橫長，實可寬可窄、可大可小者也。苟非交骨連絡，則兒門必然大開，可以手入探取胞胎矣。此交骨為兒門之下關，實婦入鎖鑰之鍵。此骨不閉，則腸可直下；此骨不開，則兒難降生。然而交骨之能開能合者，氣血主之也。血旺而氣衰，則兒雖向下，而兒門不開；氣旺而血衰，則兒門可開，而兒難向下，是氣所以開交骨，血所以轉兒身也。欲生產之順利，非大補氣血不可，然交骨之閉甚易，而交骨之開甚難。臨產交骨不開者，多由於產前貪欲，瀉精太甚，精瀉則氣血失生化之本而大虧矣。氣血虧，則無以運潤於兒門，而交骨黏滯不開矣，故欲交骨之開，必須於補氣、補血之中，而加開骨之品，兩相合法，自無不開之患，不必催生而兒自迅下，母子俱無恙矣。</p>
<p>方用<u>降子湯</u>：</p>
<p>當歸（一兩）　黨參（五錢）　川芎（五錢）　紅花（一錢）　川牛膝（二錢）　柞木枝（一兩）</p>
<p>水煎服，一劑而兒門必響亮一聲，交骨開解，而兒乃降生矣。此方用黨參以補氣，芎歸以補血，紅花以活血，牛膝以降下，柞木枝以開關解骨，君、臣、佐、使同心協力，所以取效如神，在用開於補之中也。然單用柞木枝亦能開骨，但不補氣與血，恐開而難合，未免有下部中風之患，不若此方之能開合之為神妙也。至於兒未臨門之時，萬不可先用柞木以開其門，然用降子湯亦正無妨，以其能補氣血耳。欲單用柞木，必須候兒到門而後可。</p>
<p>方為子已臨門救急而設，若子未臨門，血虛難產，宜服前送子丹，不可遽服此方。</p>

<h3>腳手先下難產</h3>
<p>妊婦生產之際，有腳先下而兒不得下者，有手先下而兒不得不者，人以為橫生倒產，至危之症也，誰知是氣血兩虛之故乎。夫兒在胞胎之中，兒身正坐，男面向後，女面向前，及至生時，頭必旋轉而向下，此天地造化之奇，非人力所能勉強者。雖然，先天與後天，原並行而不悻，天機之動，必得人力以濟之。所謂人力者，非產母用力之謂也，謂產母之氣與血耳。產母之氣血足，則胎必順；產母之氣血虧，則胎必逆。順則易生，逆則難產，氣血既虧，母身必弱，子在胞中亦必弱，胎弱無力，欲轉頭向下而不能，此胎之所以有腳手先下者也。當是之時，急用針刺兒之手足，則兒必痛而縮入，急用<u>轉無湯</u>以救順之：</p>
<p>當歸（二兩，酒洗）　黨參（一兩）　川芎（一兩）　附子（一分，制）　川牛膝（三錢）　升麻（四分）</p>
<p>水煎服，一劑而兒轉身矣。再二劑自然順生。此方之妙，用黨參以補氣之虧，用芎歸以補血之虧，人人皆知其義。若用升麻，又用牛膝、附子，恐人未識其妙也。蓋兒已身斜，非用提挈，則頭不易轉。然轉其身，非用下行則身不易降，升麻、牛膝並用而又用附子者，欲其無經不達，使氣血迅速以催生也。若服三劑後，以針刺兒手足，仍不轉身，以針刺產婦合骨穴，兒即下。萬不可使穩婆用手探取，以致子母俱危。戒之！（合骨穴當是合谷，在右手虎口少上。）</p>

<h3>氣逆難產</h3>
<p>婦人有生產數日而胎不一者，服催生之藥皆不見效，人以為交骨之難開也。誰知是氣逆不行而然乎。夫交骨不開，固是難產，然兒頭到產門而不能下者，方是交骨不開之故，自當用開骨之劑。若兒頭尚未到產門，乃氣逆不行兒身難轉耳，非交骨不開之故也。若開其交骨，則兒門大開，兒頭未轉而向下，必致變症非常，是兒門萬萬不可輕開也。大凡生產之時，切忌坐草太早。若兒未轉頭，原難遽生，乃早於坐草，產婦見兒許久不下，未免心懷恐懼，恐則神怯，怯則氣下而不能升，氣既不升，則上焦閉塞而氣乃逆矣。上氣既逆，而上焦必脹滿，而氣益難行。氣阻滯於上下之間，不利氣而徒催生，則氣愈逆而胎愈閉矣。治法宜利其氣，兒自轉身而下矣。</p>
<p>方用<u>舒氣散</u>：</p>
<p>當歸（一兩，酒洗）　人參（一兩）　川芎（五錢）　白芍（五錢，酒炒）　牛膠（三錢）　陳皮（一錢）　柴胡（八分）　紫蘇梗（三錢）　蔥白（七寸）</p>
<p>水煎服，一劑而逆氣轉，兒即下矣。此方利氣而實補氣，蓋氣逆由於氣虛，氣虛易於恐懼，補其氣而恐懼自定。恐懼定而氣逆者，將莫知其何以定也，何必開交骨之多事或？</p>
<p>凡臨產三日前，必先腹痛一小次，名曰試痛。此時萬勿坐草臨盆，但將包兒諸物預備現成，不可早叫穩婆來。過三日後，腹若大痛，方叫穩婆來，不可令產婦見面，暫讓別室靜待，不可高言。蓋穩婆名曰收生，使其兩手接收，不欲兒墮地受傷，非穩婆別有妙法也。若穩婆來，即令產婦見面，彼必胡言亂語，用力太早，必致難產，百變叢生。戒之！戒之！</p>

<h3>子死產門難產</h3>
<p>婦人有生產三四日，兒已到產門，交骨不開，兒不得下，子死而母未亡者，服開骨之藥不驗，當有死亡之危。今幸而不死者，正因其子死，而胞胎下墜，子母離開，母氣已收，未至同子氣俱絕也。治但救其母，而不必顧其子矣。然死子在產門，塞其下口，亦有致母死亡之道，宜用推送之法，補血以生水，補氣以生血，使氣血兩旺，死子可出而存母命也。倘徒用降子之劑以墜之，則死子未必下而母氣先脫矣，非救援之善者也。山親見此等之症，當用救母丹，活人頗多，故志之。</p>
<p>當歸（二兩，酒洗）　人參（一兩）　川芎（一兩）　芥穗（三錢，炒）　益母草（一兩）　赤石脂（一錢）</p>
<p>方妙不可加減。水煎服，一劑而死子下矣。此方用芎歸以補其血，人參以補氣，氣旺血旺，則上能生而下能降，氣能推而血能送。況益母又善下死胎，石脂能下瘀血，自然一湧而出，無少阻滯矣。</p>

<h3>子死腹中難產</h3>
<p>婦人有生產六七日，胞衣已破，而子不能下，人以為難產之故也，誰知是子已死於腹中乎。夫兒死於產門之邊易辨，而死於腹中難識。蓋兒已到產門之邊，未死者，頭必能伸能縮；已死者，必然不動，即以手推之，亦必不動如故。若系未死，以手少拔其兒之發，兒必退入，故曰易辨。若兒死腹中，何從而知之？然實有可辨而知之者。凡子死腹中，而母可救者，產母之面必無煤黑之氣，是子死而母無死氣也；子死腹中，而母難救者，產母之面必有煙燻之氣，是子死而母亦無生機也。以此辨死生，斷斷不爽也。既知兒死腹中，不能用藥以降之，危道也；若用霸道以瀉之，亦危道也。蓋生產至六七日，其母之氣必甚困乏，惡能勝霸道之治。如用霸道以強逐其死子，恐死子下，而母亦立亡矣。必須仍補其母，使母之氣血旺，而死子自下也。</p>
<p>方用<u>療兒散</u>：</p>
<p>當歸（二兩，酒洗）　黨參（一兩）　川牛膝（五錢）　乳香（二錢，去油）　鬼臼（三錢，研，水飛）</p>
<p>水煎服，一劑而死子下，而母生矣。凡兒之降生，必先轉其頭，原因其母氣血之虛，以致兒不能轉頭以向下。世人用催生之藥以耗兒之氣血，則兒之氣不能通達，反致閉悶而死於腹中，此實庸醫殺之也。所以難產之疾，斷斷不可用催生之藥，只宜之補氣補血，以壯其母而全活嬰兒之命，正無窮也。此方救兒死之母，仍大補氣血，所以救其本也。誰知救本即所以催生哉！</p>
<p>下死胎不用厚朴妙。曾有產婦面黑舌青，用補氣養血活血之藥，而子母復得皆全者，亦萬中之一幸也。</p>

<h2>正產</h2>

<h3>正產胞衣不下</h3>
<p>產婦有兒已下地，而胞衣留滯於腹中，二三日不下，心煩意躁，時欲昏暈，人以為胞衣之蒂未斷也，誰知是血少乾枯，黏連於腹中乎。世人見胞衣不下，未免心懷疑懼，恐其沖之於心，而有死亡之兆。然而胞衣究何能上衝於心也？但胞衣不下，瘀血未免難行，恐有血暈之虞耳。治法仍宜大補其氣血，使生血以送胞衣，則胞哀自然潤滑，潤滑則易下，生氣以助生血，血生自然迅速，尤易催墮也。</p>
<p>方用<u>送胞湯</u>：</p>
<p>當歸（二兩，酒洗）　川芎（五錢）　益母草（一兩）　麝香（五釐，研，另沖）　乳香（一兩）　沒藥（一兩）　芥穗（三錢，炒）</p>
<p>水煎服，立下。此方以芎歸補其氣血，以荊芥引血歸經，用益母、乳香等藥逐瘀而下胞衣。新血既生，則舊血難存，氣旺上升，而瘀濁自降，尚有留滯之苦哉？夫胞衣，是包兒之一物，非依於子，即依於母。子生而不隨子俱下，以子之不可依也，故留滯於腹。若有回順其母之心，母胞雖以生子，而其蒂間之氣，原未遽絕。所以流連欲脫而未脫，往往有存腹六七日不下，而竟不腐爛者，正以其尚有生氣也。可見胞衣留腹，不能殺人，補之而自降耳。或謂胞衣既有生氣，補氣補血，則胞衣亦宜堅牢，何以補之而反降也？不知子未下，補則益於子；子已下，補則益於母。益子而胞衣之氣運，益母而胞衣之氣脫。此胞胎之氣，開通則兩合，閉則兩開矣。故大補氣血，而胞衣反降也。</p>
<p>有婦人子下地五六日，而胞衣留滯於腹中，百計治之，竟不能下，而又絕無昏暈煩躁之狀，人以為瘀血之黏連也，誰知是氣虛不能推送乎。夫瘀血在腹，斷無不作祟之理，有則必然發暈，今安然無姜，是血已淨矣。血淨宜清氣升，而濁氣降，今胞衣不下，是清氣下降而難升，遂致濁氣上浮而難降。然濁氣上升，又必有煩躁之病，今亦安然者，是清濁之氣兩不能升也。然則補其氣，不無濁氣之上升乎？不知清升而濁降者，一定之理，未有清升而濁亦升者也。苟能於補氣之中，仍分其清濁之氣，則升清正所以降濁也。</p>
<p>方用<u>補中益氣湯</u>：</p>
<p>白朮（五分，土炒）　黨參（三錢）　柴胡（三分）　萊菔子（五分，炒，研）　當歸（五錢）　炙草（一分）　升麻（三分）　生黃耆（一兩）　陳皮（二分）</p>
<p>方極效。水煎服，一劑而胞衣自下矣。夫補中益氣湯，乃提氣之藥也，並非推送之劑，何以能降胞衣如此之速也？然而濁氣之不降者，由於清氣之不升也。提其氣，則清升而濁降；濁氣降，則腹中所存之物即無不隨濁氣而盡降，正不必再用推送之法也。況又加萊菔子數分，能理濁氣，不致兩相捍格，所以奏功之奇也。</p>

<h3>正產氣虛血暈</h3>
<p>婦人甫產兒後，忽然眼目昏花，嘔惡欲吐，中心無主，或神魂外越，恍若天上行雲，人以為惡血衝心之患也，誰知是氣虛欲脫而然乎。蓋新產之婦，血必盡傾，血室空虛，止存幾微之氣。倘其人陽氣素虛，不能生血，心中之血前已蔭胎，胎墮而心中之血亦隨胎而俱墮，心無血養，所賴者幾微之氣以固之耳。今氣又虛而欲脫，而君心無護，所剩殘血，欲奔回救主，而血非正血，不能歸經，內庭變亂而成血暈之症矣。治法必須大補氣血，斷不可單治血暈也。或疑血暈是熱血上衝，而更補其血，不愈助其上衝之勢乎？不知新生不生，舊血不散，補血以生新血，正活血以逐舊血也。然血為有形之物，難以速生；氣乃無形之物，易於迅發。補氣以生血，尤易於補血以生血耳。</p>
<p>方用<u>補氣解暈湯</u>：</p>
<p>黨參（一兩）　生黃耆（一兩）　黑芥穗（三錢）　薑炭（一錢）　當歸（一兩，不酒洗）</p>
<p>極效，不可加減。不煎服，一劑而暈止，二劑而心定，三劑而血止，四劑而血旺再不暈矣。此乃解暈之聖藥，用參耆以補氣，使氣壯而生血也；用當歸以補血，使血壯而養氣也。氣血兩旺，而心自定矣。用荊芥炭引血歸經，用薑炭以行瘀引陽，瘀血去而正血歸，不必解暈而暈解矣。一方之中，藥止五味，而其奏功之奇而大如此其神矣乎！</p>

<h3>正產血暈不語</h3>
<p>產婦有子方下地，即昏暈不語，此氣血兩脫也。本在不救，然救之得法，亦有能生者。山得岐天師秘訣，何敢隱而不宣乎？當斯之時，急用銀針刺其眉心，得血出則語矣。然後以黨參一兩煎藥灌之，無不生者。即用黃耆二兩，當歸一兩，名當歸補血湯，煎汽一碗灌之，亦得生。萬不可於二方之中，輕加附子，無經不達，反引氣血之藥走而不守，不能專注於胞胎，不著人參、歸、耆直救其氣血之絕，聚而不散也。蓋產婦昏暈，全是血室空虛，無以養心，以致昏暈。舌為心之苗，心既無主，而舌又安能出聲耶？夫眉心之穴，上通於腦，下通於舌，而其系則連於心，刺其眉心，則腦與舌俱通，而心之清氣上升，則瘀血自然下降矣。然後以參、耆、當歸之能補氣生血者，煎湯灌之，則氣與血接續，又何至於死亡乎？雖單用參、耆、當歸，亦有能生者，然終不若先刺眉心之為更妙。世人但知灸眉心之法，不知刺更勝於灸，蓋灸法緩而刺法急，緩則難於救絕，急則易於回生。所謂急則治其標，緩則治其本者，此也。</p>

<h3>正產敗血攻心暈狂</h3>
<p>婦人有產後二三發熱，惡露不行，敗血攻心，狂言呼叫，甚欲奔走，攣提不定，人以為邪熱在胃之過，誰知是血虛心不能養而然乎。夫產後之血，盡隨胞胎而外越，則血室空虛，臟腑皆無血養，只有心中之血尚存幾微，以護君心。而臟腑失其所養，皆欲取給於心。心包為心君之宰相，攔絕各臟之氣，不許入心，始得心神安靜，是護心者，全藉心包之力也。使心包亦虛不能障心，而各臟腑之氣，遂直入於心，以分取乎心血，心包情急，既不能內顧其君，又不能外御乎眾，於是大聲疾呼，號鳴勤王，而其跡象反近乎狂悖，有無可如何之勢，故病狀似熱而實非熱也。治法須大補心中之血，使各臟腑分取以自養，不得再攏乎心君，則心君泰然，而心包亦安矣。</p>
<p>方用<u>安心湯</u>：</p>
<p>當歸（二兩）　川芎（一兩）　丹皮（五錢）　生地（五錢，炒）　生蒲黃（二錢）　乾荷葉（一片引）</p>
<p>水煎服，一劑而狂定，惡露亦下矣。此方用芎、歸以補血，何以又用生地、丹皮之涼血？似非產後所宜。不知惡露所以奔心，原因虛熱相犯，於補中涼之，而涼不為害。況益之以荷葉，七竅相通，引邪外出，不惟內不害心，且佐蒲黃以分解乎惡露也。但只可暫用以定狂，不可多用以取咎也。謹之！慎之！</p>
<p>服藥後狂定，宜服<u>加味生化湯</u>：</p>
<p>當歸（酒洗，一兩）　川芎（三錢）　桃仁（錢半，研）　荊芥穗（炒炭，一錢）　丹皮（錢半）</p>
<p>服四劑，妙。</p>

<h3>正產腸下</h3>
<p>產婦腸下，亦危症也。人以為兒門不關之故，誰知是氣虛下陷而不能收乎。夫氣虛下陷，自宜用升提之藥，以提其氣。然新產之婦，項有瘀血腹，一旦提氣，氣並瘀血升騰於上，則衝心之患，又恐變出非常，是氣又不可竟提也。氣既不可竟提，而氣又下陷，將用何法以治之哉？蓋氣之下陷者，因氣之虛也。但補其氣，則氣旺而腸自升舉矣。惟是補氣之藥，少則氣力薄，而難以上升，必須以多為貴，則陽旺為強，斷不能降而不升矣。</p>
<p>方用<u>補氣升腸湯</u>：</p>
<p>黨參（一兩，去芒）　白朮（五錢，土炒）　生黃耆（一兩）　當歸（一兩，酒洗）　川芎（三錢，酒洗）　升麻（一分）</p>
<p>水煎服，一劑而腸升矣。此方純於補氣，全不去升腸，即如用升麻一分，亦不過引氣而升耳。蓋升麻之為用，少則氣升，多則血升也，不可不知。又方用蓖麻仁四十九粒，搗塗頂心以提之，腸升即刻洗去，時久則恐吐血，此亦升腸之一法也。</p>
<p>生產有子未下，腸先下者，名盤腸生，勿遽服此方，急取一淨盆，用開水洗熱，將腸置於盆內靜待勿懼。子下後，腸即徐徐收回。若時久盆與腸俱冷，不能速收，急用開水一盆待溫，以人得手為度，將溫水傾於置腸盆內，腸熱氣充即可收直矣。若子先下，急服此方，少遲恐氣脫不救。</p>

<h2>產後</h2>

<h3>產後少腹疼</h3>
<p>婦人產後少腹疼痛，甚則結成一塊，按之愈疼，人以為兒枕之疼也，誰知是瘀血作祟乎。夫兒枕者，前人謂兒頭枕之物也。兒枕之不疼，豈兒生不枕而反疼，是非兒枕可知矣。既非兒枕，何故作疼？乃是瘀血未散，結作成團而作疼耳。凡此等症，多是壯健之婦，血有餘而非血不足也。似乎該可用破血之藥，然血活則瘀自除，血結則瘀作祟，若不補血而反敗血，雖瘀血可消，畢竟耗損難免，不若干補血之中，以行逐瘀之法，則氣血不耗，而瘀亦盡消矣。</p>
<p>方用<u>散結定疼湯</u>：</p>
<p>當歸（一兩，酒洗）　川芎（五錢，酒洗）　丹皮（二錢）　乳香（一錢，去油）　山楂（十粒，炒黑）　益母草（廠錢）　桃仁（十粒，去皮，研）　黑芥穗（二錢）</p>
<p>水煎服，一劑而疼止而愈，不必再劑也。此方逐瘀於補血之中，消塊於生血之內，妙在不專攻疼病而疼病止。彼世人一見兒枕之疼，動用元胡、蘇木、蒲黃、靈脂之類以化塊，又何足諭哉？</p>
<p>婦人產後少腹疼痛，按之即止，人亦以為兒枕之疼也。誰知是血虛而然乎？夫產後亡血過多，血室空虛，原能腹疼，十婦九然。但疼有虛實之分，不可不辨。如燥糠觸體光景，是虛疼，而非實疼也。大凡虛疼宜補，而產後之虛疼尤宜補焉。惟是血虛之疼，必須用補血之藥，而補血之味，多是潤滑之品，恐與大腸不無相礙。然產後血虛，腸多幹燥，潤滑正相宜也，何礙之有？</p>
<p>方用<u>腸寧湯</u>：</p>
<p>當歸（一兩，酒洗）　熟地（一兩，九蒸）　甘草（一錢）　麥冬（三錢，去心）　阿膠（三錢，炒）　續斷（二錢）　肉桂（二分，去粗皮，研）　山藥（三錢，炒）　黨參（三錢）</p>
<p>水煎服，一劑而疼輕，二劑而疼止，多服更宜。此方補氣補血之藥也，然補氣而無大郁之憂，補血而無大滯之患，氣血既生，不必止疼而疼自止矣。前後二方極效，不必加減。</p>

<h3>產後氣喘</h3>
<p>婦人產後氣喘，最是大危之症，苟不急治，立刻死亡。人只知是氣血之虛也，誰知是氣血兩脫乎。夫既氣血兩脫，人將立死，何又能作喘？然此血將脫，而氣猶未脫也。血脫欲留，而氣能不留挽乎？血之脫而氣反上喘，如人與賊鬥，乃召號同志，以求鄰人之助，故呼聲而喘作，其病雖危，而可救處正在能作喘也。蓋肺主氣，喘則肺氣似盛，而不知實肺氣之衰也。當是之時，血將脫而萬難驟生，望肺氣之相救甚急，若赤子之望慈母。然而肺因血失，止存兒微之氣，自顧尚且不暇，又何能提挈乎血？氣不與血俱脫者，兒希矣，是救血必須補血也。</p>
<p>方用<u>救脫活母湯</u>：</p>
<p>當歸（一兩，酒洗）　熟地（一兩，九蒸）　枸杞子（五錢）　麥冬（一兩，去心）　肉桂（一錢，去粗皮，研）　黨參（二兩）　山萸（五錢，蒸，去核）　阿膠（二錢，炒）　黑芥穗（二錢）</p>
<p>方妙不可加減。水煎服，一劑而喘輕，二劑而喘減，三劑而喘定，四劑而全愈矣。此方用黨參以接續元陽。然徒補氣而不補其血，則陽燥而狂，雖回生於一時，亦旋得旋失之道。即補血而不補其肝腎之精，則本原不固，陽氣又安得而續乎？所以又用熟地、山萸、枸杞之類以大補其肝腎之精，而後大益其肺氣，則肺氣健旺，升提有力矣。特慮新產之後，用補陰之藥膩滯不行，又加肉桂以補命門之火，使火氣有根，助黨參以生氣，且能運化地黃之類以化精生血。若過天助陽，萬一血隨陽動，瘀血上行，亦非保全之策，更加荊芥以引血歸經，則肺氣安而喘速定，治幾其神乎！</p>

<h3>產後總論</h3>
<p>凡病起於血氣之衰，脾胃之虛，而產後尤甚。是以丹溪先生論產後必大補氣血為先，雖有他症，以末治之。斯言盡治產後大旨，若能擴充立方，則治產可無過矣。夫產後憂驚勞倦，氣血暴虛，諸症乘虛易入。如有氣毋專耗散，有食毋專消導，熱不可用芩、連，寒不可用桂、附。寒則血塊停滯，熱則新血崩流。至若中虛外感，見三陽表症之多，似可汗也，在產後用麻黃，則重竭其陽；見三陰里症之多，似可下也，在產後而用承氣，則重亡陰血。耳聾脅痛，乃腎虛惡露之停，休用柴胡；譫語出汗，乃元弱似邪之症，非同胃實，厥由陽氣之衰，無分寒熱，非大補不能回陽而起弱。痙因陰血之虧，不論剛柔，非滋榮不能舒筋而活絡。乍寒乍熱，發作無期，症似瘧也，若以瘧治，牽延難愈；言論無倫，神不守舍，病似邪也，若以邪治，危亡可待。去血過多而大便燥結，肉蓯蓉加於生化，非潤腸、承氣之能通。去汗過多而小便短澀，六君子倍加參、耆，必生津助液之可利。加參生化湯，頻服救產後之危；長生活合丹，屢用蘇絕谷之人。癲疝脫肛，多是氣虛下陷，補中益氣之方；口噤拳攣，乃因血燥類風，加參生化之劑。產戶人風而痛甚，服宜羌恬養榮湯；玉門傷涼而不閉，洗宜䗫兒黃硫散。怔忡驚悸，生化湯加以定志；似邪恍惚，安神丸助以歸脾。因氣而悶滿虛煩，生化湯加木香為佐；因食而噯酸惡食，六君子加神麯、麥芽為良。蘇木、莪朮大能破血，青皮、枳殼最消脹滿，一應耗氣破血之劑。汗、吐、宣、下之法，止可施諸壯實，豈宜用於胎產。大抵新產後，先問惡露如何。塊痛未除，不可遂加參、術；腹中痛止，補中益氣無疑。至若亡陽脫汗，氣虛喘促，頻服加參生化湯，是從權也。又如亡陰火熱，血崩厥暈，速煎生化原方，是救急也。王太僕云「治下補下，治以急緩，緩則道路達而力微，急則氣味厚而力重。」故治產當遵丹溪而固本，服法宜效太僕以頻加。凡付生死之重寄，須著意於極危；欲求俯仰之無虧，用存心於愛以物，此須未盡產症之詳。然所聞諸症，皆援近鄉治驗為據，亦必無小補云。</p>

<h3>正產</h3>
<p>正產者，有腹或痛或止，腰脅痠痛，或勢急而胞未破，名弄胎，服八珍湯加香附自安。有胞破數日，而痛尚緩，亦服上藥俟之。</p>

<h3>傷產</h3>
<p>傷產者，胎未足月，有所傷動，或腹痛臍痛，或服催生藥太早，或產母努力太過，逼兒錯路，不能正產，故臨月必舉動從容，不可多睡、飽食、飲酒，但覺腹中動轉，即正身仰臥，待兒轉順。與其臨時費力，不如先時慎重。</p>

<h3>調產</h3>
<p>調產者，產母臨月擇穩婆、辨器用、備參藥，產時不可多人喧鬧，二人扶身或憑物站。心煩用滾水調白蜜一匙，獨活湯更妙。或飢服麋粥少許，勿令飢渴。有生息未順者，只說有雙胎或衣不下，勿令產母驚恐。</p>

<h3>催生</h3>
<p>催生者，因坐草太早，困倦難產，用八珍湯，稍佐以香附、乳香，以助血氣。胞衣早破，漿血已乾，亦用八珍湯。</p>

<h3>凍產</h3>
<p>凍產者，天寒血氣凝滯，不能速生，故衣裳宜厚，產室宜暖，背心下體尤要。</p>

<h3>熱產</h3>
<p>熱產者，暑月宣溫涼得宜，若產室人眾，熱氣蒸逼，致頭痛、面赤、昏暈等症，宜飲清水少許以解之，然風雨陰涼亦當避之。</p>

<h3>橫產</h3>
<p>橫產者，兒居母腹頭上足下，產時則頭向下，產母若用力逼之，胎轉至半而橫，當令產母安然仰臥，令其自順，穩婆以中指挾其肩，勿使臍帶羈絆，用催生藥努力即生。</p>
<p>當歸（三錢）　紫蘇（三錢）　長流水煎服即下。</p>
<p>一方用京墨磨服之即下。</p>
<p>一方用敗筆頭一個，火煅，以藕節自然汁調服之即下。</p>
<p>一方用益母草六兩濃煎，加童便一大杯，調服即下。</p>

<h3>盤腸產</h3>
<p>盤腸者，產則子腸先出，然後生子。其腸或未即收，以蓖麻子四十九粒，研碎塗頭上，腸收急急洗去。如腸燥以磨刀水潤之，再用磁石煎湯服之，須陰陽家用過有驗者。</p>

<h3>難產</h3>
<p>難產者，交骨不開，不能生產也。服加味芎歸湯，良久即下。</p>
<p>敗龜板（一個，酒炙）　小川芎（一兩）　當歸（一兩）　婦人發灰（一握，須用生過男女者，為末）</p>
<p>水一鍾，煎七分服。</p>

<h3>死產</h3>
<p>死產者，子死腹中也。驗母舌青黑，其胎已死。先用平胃散一服，酒水各一鍾，煎八分，投朴硝煎服即下。用童便亦好，後用補劑調理。</p>

<h3>下胞</h3>
<p>胞衣易下妙方：小兒落地，產母兩足切莫移動，則胎衣頃刻自下，因交骨未合故也。</p>
<p>胞衣不下，用滾酒送下失笑散一劑，或益母丸，或生化湯送鹿角灰塵一錢，或以產母發入口作吐，胞衣即出。有氣虛不能送出者，腹必脹痛。</p>
<p>單用<u>生化湯</u>：</p>
<p>全當歸（一兩）　川芎（三錢）　白朮（一錢）　香附（一錢）　加黨參更妙</p>
<p>用水煎服。</p>
<p>一方用蓖麻子二兩、雄黃二錢，研膏塗足下湧泉穴，衣下急速洗去（湧泉穴在足底心）</p>
<p><u>平胃散：</u></p>
<p>南蒼朮（米泔水浸，炒）　厚朴（姜炒）　陳皮　炙草（各二錢）</p>
<p>共為粗末，或水煎服，或酒煎，煎成時，加朴硝二錢，再煎一二沸溫服。</p>
<p><u>失笑散：</u></p>
<p>五靈脂　蒲黃　俱研為細末</p>
<p>每服三錢，熱酒衝下。</p>

<h3>斷臍</h3>
<p>斷臍必以綿裹咬斷為妙，如遇天寒，或因難產母子勞倦，宜以天麻油紙捻，徐徐燒斷以助元氣，雖兒已死，令暖氣入臍多得生，切勿以刀斷之。</p>
<p>一法先用麻線紮緊後，或燒或剪俱可，則風氣不入兒腹，更妙</p>
<p><u>滑胎散</u>（臨月常服數劑，以便易生）：</p>
<p>當歸（三五錢）　川芎（五七錢）　杜仲（二錢）　熟地（三錢）　枳殼（七分）　山藥（二錢）</p>
<p>水二鍾煎八分，食前溫服。如氣體虛弱人，加黨參、白朮，隨宜服之。如便實多滯者，加牛膝二錢。</p>
<p><u>治產秘驗良方：</u></p>
<p>治橫生逆產，至數日不下，一服即下。有未足月，忽然胎動，一服即安。或臨月先服一服，保護無虞。更能治胎死腹中，及小產傷胎無乳者，一服即如原體。</p>
<p>全當歸（一錢五分）　川芎（一錢五分）　荊芥穗（八分）、川貝母（一錢，去心）　菟絲子（一錢二分）　甘草（五分）　枳殼（六分，麩炒）　羌活（六分，麩炒）　黃耆（八分）　厚朴（七分，姜炒）　蘄艾（七分）　紅花（七分）　白芍（一錢二分，冬月不用）</p>
<p>上十三味，只用十二味，不可加減。安胎去紅花，催生去蘄艾，用井水鍾半，姜二片，為引，熱服。渣用水一鍾，煎半鍾，熱服。如不好，再用水一鍾，煎半鍾，服之即效，不用二劑。</p>
<p><u>催生兔腦丸</u>（治橫生逆實神效）：</p>
<p>臘月兔腦髓一個，母丁香（一個）　乳香（一錢，另研）　麝香（一分）</p>
<p>兔腦為丸芡實大，陰乾密封，用時以溫酒送下一丸。</p>
<p><u>奪命丹：</u></p>
<p>臨產未產時，目反口噤，面黑唇青，口中吐沫，命在須臾，若臉面微紅，子死母活，急用：</p>
<p>蛇退　故蠶紙（燒灰，不存性）　發灰（一錢）　乳香（五分）</p>
<p>共為細末，酒下。</p>
<p><u>加味芎歸湯：</u></p>
<p>治子宮不收產門不閉。</p>
<p>黨參（一錢）　黃耆（一錢）　川芎（一錢）　當歸（二錢）　升麻（八分）　炙甘草（四分）　五味子（十五粒）　再不收加半夏（八分）　白芍（八分，酒炒）</p>
<p><u>新產治法：</u></p>
<p>生化湯先連進二服。若胎前素弱婦人，見危症、熱症、墮胎，不可拘貼數，服至病退乃止；若產時勞甚、血崩、形脫，即加黨參三四錢在內，頻服無虞；若氣促，亦加黨參。加參於生化湯者，血塊無滯，不可以參為補而弗用也。有治產不用當歸者，見偏之甚。此方處置萬全，必無一失。世以四物湯治產，地黃性寒滯血，芍藥微酸無補，伐傷生氣誤甚。</p>
<p><u>產後用藥十誤：</u></p>
<p>一因氣不舒，而誤用耗氣順氣等藥，反增飽悶，陳皮用至五分，禁枳實；厚朴；</p>
<p>二因傷氣，而誤用消導，反損胃氣至絕谷，禁枳殼、大黃、蓬、稜、曲、樸；</p>
<p>三因身熱，而誤用寒涼，必致損胃增熱，禁芩、連、梔、柏、升柴；</p>
<p>四因日內未曾服生化湯，勿用參、耆、術，以致塊痛不消；</p>
<p>五毋用地黃以滯惡露；</p>
<p>六毋獨用枳殼、牛膝、枳實以消塊；</p>
<p>七便秘毋用大黃、芒硝；</p>
<p>八毋獨用蘇木、稜、蓬以行塊，芍藥能伐氣不可用；</p>
<p>九毋獨用山楂湯，以攻塊定痛，而反損新血；</p>
<p>十毋輕服濟坤丹，以下胎下胞。</p>
<p>產後危急諸症，當頻服生化湯，隨症加減，照依方論。</p>
<p><u>產後寒熱</u></p>
<p>凡新產後，榮衛俱虛，易發寒熱，身痛腹痛，決不可妄投發散之劑，當用生化湯為主，稍佐發散之藥。產後脾虛，易於停食以治身熱，世人見有身熱，便以為外感，遽然發汗，速亡甚矣。當於生化湯中，加扶脾消食之藥。大抵產後，先宜補血次補氣，若偏補氣而專用參、耆，非善也。產後補虛，用參、耆、芎、歸、白朮、陳皮、炙草。熱輕則用茯苓淡滲之藥，其熱自除；熱重則加乾薑，或云大熱而用姜何也？曰此熱非有餘之熱，乃陰虛生內熱耳。蓋士姜能入肺分利肺氣，又能入肝，分引眾藥生血，然必與陰分藥同用之。產後惡寒發熱、腹痛者，當主惡血，若腹不痛，非惡血也。產後寒熱，口眼歪斜，此乃氣血虛甚，以大補為主，左手脈不足，補血藥多於補氣藥；右手脈不足，補氣藥多於補血藥，切不可用小續命等發散之藥。</p>
<p><u>胎前患傷寒、疫症、瘧疾墮胎等</u></p>
<p>胎前或患傷寒、疫症、瘧疾，熱久必致墮胎，墮後愈增熱，因熱沮陰血，而又繼產失血故也。治者甚勿妄論傷寒、瘧、疫未除，誤投梔子豉湯、柴苓連柏等藥。雖或往來潮熱，大小便秘，五靈、承氣等藥斷不可用。只重產輕邪，大補氣血，頻服生化湯。如形脫、氣脫，加生脈散以防血暈，蓋川芎味辛能散，乾薑能除虛熱，雖有便秘、煩渴等症，只多服生化湯，自津液生而二便通矣。若熱用寒劑，愈虛中氣，誤甚。</p>

<h3>血塊</h3>
<p>此症勿拘古方，妄用蘇木、蓬稜以輕人命。其一應散血方、破血藥俱禁用。雖山楂性緩，亦能害合，不可擅用。惟生化湯系血塊聖藥也。</p>
<p><u>生化湯原方：</u></p>
<p>當歸（八錢）　川芎（三錢）　黑姜（五分）　炙草（五分）　桃仁（十四粒，去皮尖，研）</p>
<p>用黃酒、童便各半煎服。</p>
<p>又益母丸、鹿角灰，就用生化湯送下一錢，外用烘熱衣服，暖和塊痛處，雖大暑，亦要和暖塊痛處。有氣不運而暈迷厥，切不可妄說惡血搶心，只服生化湯為妙。俗有生地、牛膝行血，山稜、蓬朮敗血、山楂、沙糖消塊，蘄艾、椒、酒定痛，反致昏暈等症，切不可妄用。二三四日內，覺痛減可揉，乃虛痛也，宜加參生化湯，如七日內，或因寒涼食物，結塊痛甚者，加入肉桂八分於生化湯內。如血塊未消，不可加參、耆，用之則痛不止。</p>
<p>總之，慎勿峻用利藥，勿多飲姜椒艾酒。頻服生化湯行氣助血，外用熱衣以暖腹。如用紅花以行之，蘇木、牛膝以攻之，則誤甚。胎氣脹，用烏藥、香附以順之，枳殼、厚朴以舒之。甚有青皮、枳實、蘇子以下氣定喘，芩、連、梔子、黃柏以退熱除煩。至於血結更甚，反用承氣湯下之而愈結。汗多小便短澀，反用五苓散通之而愈秘，非徒無益，而又害之也。</p>
<p>凡兒生下，或停血未下，半月外尚痛，或外加腫毒高寸許，或身熱減飲食倦甚，必用生化湯加三稜、蓬朮、肉桂等，攻補兼治，其塊自消。如虛甚食少泄瀉，只服此貼，定痛且健脾胃，進食止瀉，然後服消塊湯。</p>
<p><u>加味生化湯：</u></p>
<p>治血塊日久不消，半月後方可用之。</p>
<p>三稜（六分，醋炒）　當歸（三錢）　乾薑（四分）　桃仁（十五粒）　元胡（六分）　肉桂（六分）　炙草（四分）</p>

<h3>血暈</h3>
<p>分娩之後，眼見黑花，頭眩昏暈、不省人事者，一因勞倦甚而氣竭神昏；二因大脫血而氣欲絕；三因痰火乘虛犯上而神不守。當急服生化湯二三貼，外用韭菜細切，納有嘴瓶中，用滾醋二鍾衝入瓶內，急衝產母鼻中即醒，若偏信古方，認為惡血搶心，而輕用散血之劑；認為痰火，而用無補消降之方，誤甚矣。如暈厥牙關緊閉，速煎生化湯，挖開口將鵝毛探喉，酒盞盛而灌之，如灌下腹中漸溫暖，不可拘帖數。外用熱手在單衣上，從心揉按至腹，常熱火暖之一兩時，服生化湯四貼完，即神清始少緩藥，方進粥，服至十服而安。故犯此者，速灌藥火暖，不可棄而不救。若在冬月，婦人身欠暖亦有大害，臨產時，必預煎生化湯，預燒秤錘硬石子，候兒下地，連服二三貼，又產婦枕邊，用醋韭投醋瓶之法，決無暈症。又兒生時，閤家不可喜子而慢母，產母不可顧子忘倦。又不可產仡即臥，或忿怒逆氣，皆致血暈。慎之！慎之！</p>
<p><u>加味生化湯</u></p>
<p>治產後三等血暈症</p>
<p>川芎（三錢）　當歸（六錢）　黑姜（四分）　桃仁（十粒）　炙草（五分）　荊芥（四分，炒黑）　大棗</p>
<p>水煎服。勞倦甚而暈，及血崩氣脫而暈，並宜速灌兩服。如形色脫，或汗出而脫，皆急服一貼，即加黨參三四錢，再加肉桂四分，決不可疑參為補而緩服。痰火乘虛泛上而暈，方內加橘紅四分，虛甚加黨參二錢，肥人多痰再加竹瀝七分、薑汁少許，總不可用稜、術破血等方。其血塊痛甚，兼送益母丸，或鹿角灰，或元胡散，或獨勝散，上消血塊，方服一服即效，不必易方，從權救急。</p>
<p><u>加參生化湯</u></p>
<p>治產後形色脫暈，或汗多脫暈。</p>
<p>黨參（三錢，有倍加至五錢者）　川芎（二錢）　當歸（五錢）　炙草（四分）　桃仁（十粒）　炮姜（四分）　大棗</p>
<p>水煎服。脈脫形稅，將絕之症，必服此方，加參四五錢，頻頻灌之。產後血崩血暈，兼汗多，宜服此方；無汗不脫，只服本方，不必加參。左尺脈脫亦加參。此方治產後危急諸症可通用，一晝一夜，必須服三四劑，若照常症服。豈能接將絕之氣血、扶危急之變症耶？產後一二日，血塊痛雖未止，產後婦氣血虛脫，或暈或厥，或汗多或形脫，口氣漸涼，煩渴水止，或氣喘急。無論塊痛，從權用加參生化湯，病勢稍退，又當減參，且服生化湯。加減法：血塊痛甚，加內桂七分，渴加麥冬一錢，五味十粒；汗多如麻黃根一錢；如血塊不痛，加灸黃耆一錢以止汗；傷飯食麵食，加炒神麯一錢，麥芽五分炒；傷肉食加山楂五個，砂仁四五粒炒。</p>

<h3>厥症</h3>
<p>婦人產有用力過多，勞倦傷脾，故逆冷而厥，氣上胸滿，脈去形脫，非大補不可，豈錢數當歸、川芎能回陽復神乎？必用加參生化湯倍參進二劑，則氣血旺而神自生矣，厥自止矣。若服藥而止渴，另有生脈散、獨參代茶飲，救臟之燥。如四肢逆冷，又泄利，類傷寒陰症，又難用四逆湯，必用倍參生化湯，加附子一片，可以回陽止逆，又可以行參、歸之力。立二方於左，分先後：</p>
<p><u>加參生化湯</u></p>
<p>治產後產厥，塊痛未止，不可加耆、術。</p>
<p>川芎（二錢）　當歸（四錢）　黨參（二錢）　炮姜（四分）　炙草（五分）　桃仁（十粒）　棗</p>
<p>水煎進二服。</p>
<p><u>滋榮益氣復神湯</u></p>
<p>治產後發厥，問塊痛已除，可服此方。</p>
<p>黃耆（一錢，蜜灸）　黨參（三錢）　當歸（三錢）　白朮（一錢，土炒）　陳皮（四分）　五味（十粒）　川芎（一錢）　熟地（一錢）　麥牙（一錢）　炙草（四分）　棗（一枚）</p>
<p>水煎服。手足冷加附子五分，汗多加麻黃根一錢、熟棗仁一錢，妄言妄見加益智、柏子仁、龍眼肉，大便實加肉蓯蓉二錢。大抵產後暈、厥二症相類，但暈在臨盆，症急甚於厥，宜頻服生化湯幾貼，塊化血旺，神清暈止，若多氣促形脫等症，必加參耆；厥在分娩之後，宜加參生化湯，止厥以復神，並補氣血也。非如上，偏補氣血而可愈也。要知暈有塊痛，耆朮不可加；厥症若無塊痛，耆朮、地黃並用無疑也。</p>

<h3>血崩</h3>
<p>產後血大來，審血色之紅紫，視形色之虛實。如血紫有塊，乃當去其敗血也，止留作痛不可論崩，如鮮紅之血，乃是驚傷心，不能生血；怒傷肝，不能藏血；勞傷脾，不能統血，俱不能歸經耳。當以崩治，先服生化湯幾帖，則行中自有補，血凝氣生。若形脫、汗多、氣促，宜服倍參生化湯幾貼，以益氣，非棕灰之可止者，如產後半月外崩，又宜升舉大補湯治之，此症虛極，服藥平穩，未見速效，須二十貼後，諸症頓除。</p>
<p><u>生血止崩湯</u></p>
<p>治產後血崩</p>
<p>荊芥（五分，炒黑）　川芎（一錢）　當歸（四錢）　烏梅（五分，煅灰）　黑姜（四分）　桃仁（十粒）　蒲黃（五分，炒）　炙草（五分）　棗</p>
<p>水煎，忌姜椒、熱物、生冷。鮮血大來，荊芥穗（炒黑）、白主各五分。血竭形敗加參三四錢。汗多氣促亦加參三四錢。無汗形不脫，氣促，只服生化湯，多服則血自平。有言歸、芎但能活血，甚誤。</p>
<p><u>升舉大補湯</u></p>
<p>滋榮益氣，如有塊痛，只服前方，耆、術勿用。</p>
<p>黃耆（四分）　白朮（四分）　陳皮（四分）　黨參（二錢）　炙草（四分）　升麻（四分）　當歸（二錢）　熟地（二錢）　麥冬（一錢）　川芎（一錢）　白芷（四分）　黃連（三分）　荊芥穗（四分，炒黑）</p>
<p>汗多加麻黃根一錢、浮麥炒一小撮。大便不通加肉蓯蓉一錢，禁用大黃。有氣磨木香三分。痰加貝母六分，竹瀝、薑汁少許。寒嗽加杏仁十粒、桔梗五分、知母一錢。驚加棗仁、柏子仁各一錢。傷飯加神麯、麥芽各一錢。傷肉食加山楂、砂仁各八分，俱加棗水煎。身熱不可加連、柏，傷食、怒氣均不可專用耗散無補藥。凡年老虛人患崩，直升舉大補湯。</p>

<h3>氣短似喘</h3>
<p>因血脫勞甚，氣無所恃，呼吸止息，違其常度。有認為痰火，反用散氣化痰之方，誤人性命。當以大補血為主，如有塊不可用參、耆、術。無塊方用，用本方去桃仁，加熟地並附子一片，足冷加熟附子一錢及參、朮、陳皮，接續補氣養榮湯。</p>
<p><u>加參生化湯</u></p>
<p>治分娩下則患氣短者，有塊不可加耆朮。</p>
<p>川芎（二錢）　當歸（四錢）　炙草（五分）　黨參（二錢）　黑姜（四分）　桃仁（十粒，研）　引加棗（一枚）</p>
<p>連進二三貼後，再用後方。</p>
<p><u>補氣養榮湯</u></p>
<p>治產後氣短，血塊不痛，宜服此方。</p>
<p>黃耆（一錢）　白朮（一錢）　當歸（四錢）　黨參（三錢）　陳皮（四分）　炙草（四分）　熟地（二錢）　川芎（二錢）　黑姜（四分）</p>
<p>如手足冷加熟附子一錢，汗多加麻黃根一錢、浮麥一小撮，渴加麥冬一錢、五味子十粒，大便不通加肉蓯蓉一錢、麻仁一撮，傷麵食加炒神麯，傷肉食加山楂、砂仁各五分。</p>

<h3>妄言妄見</h3>
<p>由氣血虛，神魂無依也。治當論塊痛有無、緩急。若塊痛未除，先服生化湯二三貼，痛止繼服加參生化湯，或補中益氣湯加安神定志等藥調服之。若產日久，形氣俱不足，即當大補氣血，安神定志，服至藥力充足，其病自愈。勿謂邪崇，若噴以法水驚之，每至不救。屢治此症，服藥至十數貼方效。病虛似邪，欲除其邪，先補其虛、調其氣，次論諸病。此古人治產後虛症，及老虛喘弱人妄言所當用心也。</p>
<p><u>安神生化湯</u></p>
<p>治產後塊痛未止，妄言妄見症，未可用耆、術。</p>
<p>當歸（二三錢）　柏子仁（一錢）　川芎（一錢）　黨參（一二錢）　黑姜（四分）　炙草（四分）　桃仁（十二粒）　茯神（二錢）　益智（八分）　陳皮（三分）　棗</p>
<p>水煎服。</p>
<p><u>溢榮益氣復神湯</u></p>
<p>塊痛已止，妄言妄見，服此方即愈。</p>
<p>黃耆（一錢）　白朮（一錢）　麥冬（一錢）　川芎（一錢）　柏子仁（一錢）　茯神（一錢）　益智（一錢）　黨參（二錢）　熟地（二錢）　陳皮（三分）　炙草（四分）　五味子（十粒）　蓮子（八枚）　元肉（八個）　棗仁（一錢）　棗</p>
<p>水煎服。產後血崩血脫，氣喘氣脫，神脫妄言，雖有血氣陰陽之分，其精散神去一也。此暈後少緩，亦危症也，若非厚藥頻服，失之者多矣。誤論氣實痰火者，非也。新產有血塊痛，並用加參生化湯，行中有補，斯免滯血、血暈之失也。其塊痛止，宜用升舉大補湯，少佐黃連，墜火以治血脫，安血歸經也；宜用倍參補中益氣湯，少佐附子，助參以治氣脫，攝氣歸源也；宜用滋榮益氣復神湯，少佐痰劑，以清心火，安君主之官也。</p>

<h3>傷食</h3>
<p>新產後禁膏梁、遠厚味，如飲食不節，必傷脾胃，治當扶元溫補氣血，健脾胃，審傷何物，加以消導諸藥。生化湯加神麯以消麵食，加山楂、砂仁以消肉食。如寒冷之物，加吳萸、肉桂；如產母甚虛；加黨參、白朮。又有塊，然後消補並治，無有不安者。屢見治者，不重產後之弱，惟知速消傷物，反傷真氣，益增滿悶，可不慎哉！</p>
<p><u>加味生化湯</u></p>
<p>治血塊未消，服此以消食。</p>
<p>川芎（二錢）　當歸（五錢）　黑姜（四分）　炙草（五分）　桃仁（十粒）</p>
<p>問傷何物，加法如前，煎服。</p>
<p><u>健脾消食生化湯</u></p>
<p>治血塊已除，服此消食。</p>
<p>川芎（一錢）　黨參（二錢）　當歸（二錢）　白朮（一錢半）　炙草（五分）</p>
<p>審傷何物，加法如前。如停寒物，日久脾胃虛弱，恐藥不能運用，可用揉按，炒神麯熨之更妙。凡傷食誤用消導藥，反絕粥幾日者，宜服此方。</p>
<p><u>長生奪命丹</u></p>
<p>黨參三錢，水一鍾半，煎半鍾，先用參湯一盞，以米飲鍋焦研粉三匙，漸漸加參湯鍋焦粉，引開胃口，煎參湯用新灌，或銅杓，恐聞藥氣要嘔也。如服寒藥傷者，加姜三大片煎湯。黨參名活命草，鍋焦名活命丹，此方曾活數十人。</p>

<h3>忿怒</h3>
<p>產後怒氣逆，胸膈不利，血塊又痛，宜用生化湯去桃仁，服時磨木香二分在內，則塊化怒散不相悻也。若輕產重氣，偏用木香、烏藥、枳殼、砂仁之類，則元氣反損，益增滿悶，又加怒後即食，胃弱停悶，當審何物，治法如前。慎勿用木香檳榔丸、流氣飲子之方，使虛弱愈甚也。</p>
<p><u>木香生化湯</u></p>
<p>治產後血塊已除，因受氣者。</p>
<p>川芎（二錢）　當歸（六分）　陳皮（三分）　黑姜（四分）</p>
<p>服時磨木香二分在內，此方減桃仁用木香、陳皮，前有減乾薑者詳之。</p>
<p><u>健脾化食散氣湯</u></p>
<p>治受氣傷食無塊痛者。</p>
<p>白朮（一錢）　當歸（二錢）　川芎（一錢）　黑姜（四分）　黨參（二錢）　陳皮（三分）</p>
<p>審傷何物，加法如前。大抵產後忿怒氣逆及停食二症，善治者，重產而輕怒氣，消食必以補氣血為先。佐以調肝順氣，則怒郁散而元不損；佐以健脾消導，則停食行而思谷矣。若專理氣消食，非徒無益，而又害之也。</p>

<h3>類瘧</h3>
<p>產後寒熱往來，每日應期而發，其症似瘧，而不可作瘧治。夫氣血虛，而寒熱更作，元氣虛，而外邪或侵，或嚴寒，或極熱，或晝輕夜重，或日晡寒熱，絕類瘧症，治當滋榮益氣以退寒熱。有汗急宜止，或加麻黃根之類。只頭有汗，有不及於足，乃孤陽絕陰之危症，當加地黃、當歸之類。如陽明無惡寒，頭痛無汗，且與生化湯，加羌活、防風、連須蔥白數根以散之，其柴胡清肝飲等方，常山、草果等藥，俱不可用。</p>
<p><u>滋榮養氣扶正湯</u></p>
<p>治產後寒熱有汗，午後應期發。</p>
<p>黨參（二錢）　炙黃耆（一錢）　白朮（一錢）　川芎（一錢）　熟地（一錢）　麻黃根（一錢）　當歸（二錢）　陳皮（四分）　炙草（五分）　棗</p>
<p>水煎服</p>
<p><u>加減養胃湯</u></p>
<p>治產後寒熱往來，頭痛無汗類瘧者。</p>
<p>半夏（八分，制）　白茯苓（一錢）　炙草（四分）　當歸（二三錢）　川芎（一錢）　陳皮（四分）　蒼朮（一錢）　藿香（四分）　黨參（一錢）</p>
<p>姜引煎服。有痰加竹瀝、薑汁、半夏、神麯，弱人兼服河車丸。凡久瘧不愈，兼服參朮膏以助藥力。</p>
<p><u>參述膏</u></p>
<p>白朮（一斤，米泔浸一宿，銼焙）　黨參（一兩）</p>
<p>用水六碗，煎二碗，再煎二次，共計，六碗合作一處，將藥汁又熬成一碗，空心米湯化半酒盞。</p>

<h3>類傷寒二陽症</h3>
<p>產後七日內，發熱、頭痛、惡寒，毋專論傷寒為太陽症；發熱、頭痛、脅痛，毋專論傷寒為少陽症。二症皆由氣血兩虛，陰陽不和而類外感，治者慎勿輕產後熱門，而用麻黃湯以治類太陽症，又勿用柴胡湯以治類少陽症。且產母脫血之後，而重發其汗，虛虛之禍，可勝言哉。昔仲景云：「亡血家不可發汗」，丹溪云：「產後切不可發表」，二先生非謂產後真無傷寒之兼症也，非謂麻黃湯、柴胡湯之不可對症也，誠恐後輩學業偏門而輕產，執成方而發表耳。誰知產後真感風、感寒，生化中芎姜亦能散之乎！</p>
<p><u>加味生化湯</u></p>
<p>治產後三日內，發熱頭痛症。</p>
<p>川芎（二錢）　防風（二錢）　當歸（二錢）　炙草（四分）　桃仁（十粒）　羌活（四分）</p>
<p>查刊本去桃仁，然必須問有塊痛與否，方可議去。服二貼後，頭仍痛、身仍熱，加白芷八分、細辛四分。如發熱不退，頭痛如故，加蓮鬚蔥五個、黨參三錢。產後敗血不散，亦能作寒、作熱，何以辨之？曰時有刺痛者，敗血也；但寒熱無他症者，陰陽不和也。刺痛用當歸，乃和血之藥。若乃積血而刺痛者，宜用紅花、桃仁、歸尾之類。</p>

<h3>類傷寒三陰症</h3>
<p>潮熱有汗，大便不通，毋專論為陽明症；口燥咽乾而渴，毋專論為少陰症；腹滿液干，大便實，毋專論為太陰症；又汗出譫語便閉，毋專論為腸胃中燥糞宜下症。數症多由勞倦傷脾，運化稽遲，氣血枯槁，腸腑燥涸，乃虛症類實，當補之症，治者勿執偏門輕產，而妄議三承氣湯以治類三陰之症也。間有少壯，產後妄下，幸而無妨。虛弱產婦亦復妄下，多致不救。屢見妄下成臌，誤導反結。又有血少數日不通，而即下，致瀉不止者，危哉！《婦人良方》云：「產後大便秘，若計其日期，飲食數多，即用藥通之，禍在反掌。必待腹滿覺脹，欲去不能者，乃結在直腸，宜用豬膽汁潤之。若日期雖久，飲食如常，腹中如故，只用補劑而已。著服苦寒疏通，反傷中氣，通而不止，或成痞滿，誤矣！」</p>
<p><u>養正通幽湯</u></p>
<p>治產後大便閉結，類傷寒三陰症。</p>
<p>川芎（二錢半）　當歸（六錢）　炙草（五分）　桃仁（十五粒）　麻仁（一錢，炒）　肉蓯蓉（一錢，酒洗去甲）</p>
<p>汗多便實加黃耆一錢，麻黃根一錢，黨參二錢；口燥渴加黨參、麥冬各一錢；腹滿溢、便實加麥冬一錢，枳殼六分，黨參二錢，蓯蓉一錢；汗出譫語、便實，乃氣血虛竭，精神失守，宜養榮安神，加茯苓、遠志、蓯蓉各一錢，人參、白朮各二錢，黃耆、白芷、柏子仁各一錢。以上數等大便燥結症，非用當歸、黨參至斤，數難取功效。大抵產後虛中傷寒，內傷食物，外症雖見頭痛發熱，或脅痛腰痛，是外感症，猶當重產亡血禁汗，惟宜生化湯，量為加減，調理無失。又如大便秘結，猶當重產亡血禁下，宜養正助血通滯，則穩當矣。</p>
<p><u>又潤腸粥</u></p>
<p>治產後日久，大便不通。</p>
<p>芝麻（一升，研末）</p>
<p>和米二合煮粥食，腸潤即通。</p>

<h3>類中風</h3>
<p>產後氣血暴虛，百骸少血濡養，忽然口噤牙緊，手足筋脈拘搐等症，類中風癇痙。雖虛火泛上，有痰皆當以末治之，勿執偏門，而用治風消痰之方，以重虛產婦也。治法當先服生化湯，以生旺新血。如見危症，三服後即用加參益氣，以救血脫也。如有痰火，少佐橘紅、炒芩之類，竹瀝、薑汁亦可加之，黃柏、黃連切不可並用，慎之？</p>
<p><u>滋榮活絡湯</u></p>
<p>治產後血少，口噤項強，筋搐類風症。</p>
<p>川芎（一錢半）　噹噹（二錢）　熟地（二錢）　黨參（二錢）　黃耆（一錢）　茯神（一錢）　天麻（一錢）　炙草（四分）　陳皮（四分）　防風（四分）　羌活（四分）　荊芥穗（四分）　黃連（八分，薑汁炒）</p>
<p>有痰加竹瀝、薑汁、半夏，渴加麥冬、葛根。有食加山楂、砂仁以消肉食，神麯、麥芽以消飯食。大便閉加肉蓯蓉一錢半，汗多加麻黃根一錢，驚悸加棗仁一錢。</p>
<p><u>天麻丸</u></p>
<p>治產後中風，恍惚語澀，四肢不利。</p>
<p>天麻（一錢）　防風（一錢）　川芎（七分）　羌活（七分）　黨參（一錢）　遠志（一錢）　柏子仁（一錢）　山藥（一錢）　麥冬（一錢）　棗仁（一錢）　細辛（四分）　南星曲（八分）　石菖蒲（一錢）</p>
<p>研細末，煉蜜為丸，辰砂為衣，清湯下六七十丸。</p>

<h3>類痙</h3>
<p>產後汁多，即變痙者，項強而身反，氣息如絕，宜速服加減生化湯。</p>
<p><u>加減生化湯</u></p>
<p>專治有汗變痙者。</p>
<p>川芎（一錢）　麻黃根（一錢）　炙草（五分）　羌活（五分）　天麻（八分）　附子（一錢）　羚羊角（八分）　當歸（四錢）　桂枝（五分）　黨參（一錢）</p>
<p>如無汗類痙者，用川芎三錢、當歸一兩（酒洗）棗仁二錢、防風二錢，引用生薑一片、棗子一枚。</p>

<h1>卷四</h1>

<h2>產後</h2>

<h3>出汗</h3>
<p>凡分娩時汗出，由勞傷脾、驚傷心、恐傷肝也。產婦多兼三者。而汗出不可即用斂汗之劑，神定而汗自止；若血塊作痛，耆朮未可遽加，宜服生化湯二三貼，以消塊痛，隨繼服加參生化湯，以止虛汗。若分娩後倦甚，濈然汗出，形色又脫，乃亡陽脫汗也。汗本亡陽，陽亡則陰隨之，故又當從權，速灌加參生化湯，倍參以救危急，毋拘塊痛。婦人產多汗，當健脾以斂水液之精，益榮衛以噓血歸源，灌溉四肢，不使妄行。雜症雖有自汗、盜汗之分，然當歸六黃湯不可治產後之盜汗也，並宜服加參生化湯及加味補中益氣二方。若服生耆，而汗多不止，及頭出汗而不至腰足，必難療矣。如汗出而手試不及者，不治。產後汗出氣喘等症，虛之極也，不受補者，不治。</p>
<p><u>麻黃根湯</u></p>
<p>治產後虛汗不止。</p>
<p>黃耆（一錢半，炙）　白朮（一錢，炒）　黨參（二錢）　牡蠣（研，少許）　粉草（五分，炒）　當歸（二錢）　浮麥（一大撮）　麻黃根（一錢）　桂技（五分）</p>
<p>虛脫汗多手足冷，加黑姜四分、熟附子一片。渴加麥冬一錢、五味十粒。肥白人產生多汗，加竹瀝一盞、薑汁一小匙，以清痰火。惡風寒加防風、桂枝各五分。血塊不落，加熟地三錢，晚服<u>八味地黃丸</u>：</p>
<p>山茱萸（八錢）　山藥（八錢）　丹皮（八錢）　雲苓（八錢）　澤瀉（五分）　熟地（八錢）　五味子（五錢）　炙黃耆（一兩）</p>
<p>煉蜜為丸。</p>
<p>陽加於陰則汗，因而遇風，變為瘛瘲者有之，尤難治，故汗多宜謹避風寒。汗多小便不通，乃亡律液故也，勿用利水藥。</p>
<p><u>附治驗方</u></p>
<p>產後頭汗不至身，為冒郁，宜用<u>小柴胡湯</u>：</p>
<p>紫胡（六錢）　杭芍（錢錢）　法夏（一錢）　黃芩（一錢）　黨參（三錢）　炙草（七分）　大棗（二枚）　生薑（三錢）</p>
<p>愈後，隨症調治可也。</p>

<h3>盜汗</h3>
<p>產後睡中汗出，醒來即止，猶盜瞰人睡，而謂之資汗，非汗自至之比。雜症論云：「自汗陽虧，盜汗陰虛」，然當歸六黃湯，又非產後盜杆方也。惟兼氣血而調治之，乃為得耳。</p>
<p><u>止汗散</u></p>
<p>治產後汗。</p>
<p>黃連（五分，酒炒）　熟地（一錢半）　麻黃根（五分）　浮小麥（一大撮）　黨參（二錢）　當歸（二錢）　大棗（一枚）</p>
<p><u>又方</u></p>
<p>牡蠣（五分，煅細末）　小麥面（炒黃，研末，五分）　空心調服。</p>

<h3>口渴兼小便不利</h3>
<p>產後煩躁，咽乾而渴，兼小便不利，由失血汗多所致。治當助筋益肺，升舉氣血，則陽升陰降，水入經而為血為液，谷入胃而氣長脈行，自然津液生而便調利矣。若認口渴為火，而用芩、連、梔、柏以降之；認小便不利為水滯，而用五苓散以通之，皆失治也。必因其勞損而溫之、益之，相其留滯而濡之、行之，則庶幾矣。</p>
<p><u>生津止渴益水飲</u></p>
<p>黨參（三錢）　麥冬（三錢）　當歸（三錢）　生地（三錢）　黃耆（一錢）　葛根（一錢）　升麻（四分）　炙草（四分）　茯苓（八分）　五味子（十五粒）</p>
<p>汗多如麻黃根一錢，浮小麥一大撮。大便燥加肉蓯蓉一錢五分。渴甚加生脈散，不可疑而不用。</p>

<h3>遺尿</h3>
<p>氣血太虛，不能約束，宜八珍湯加升麻、柴胡，甚者加熟附子一片。</p>

<h3>誤破尿胞</h3>
<p>產理不順，穩婆不精，誤破尿胞膀胱者，用參、耆為君，歸、芎為臣，桃仁、陳皮、茯苓為佐，豬、羊尿胞煎藥，百服乃安。胞破見上二卷，另有方極妥且效。</p>
<p>又方云：用生黃絲絹一尺，白牡丹皮根為末，白及末各二錢，水二碗，煮至絹爛如飴服之，宜靜臥，不可作聲，名補脬飲，神效。</p>

<h3>便數</h3>
<p>由胖內素有冷氣，因產發動，冷氣入脬故也。用赤石脂二兩為末，空心服。</p>
<p>又方治小便數及遺尿，用益智仁二十八枚為末，米飲送下二錢。</p>
<p><u>又桑螵蛸散</u></p>
<p>桑螵蛸（三十個）　黨參（三錢）　黃耆（三錢）　鹿茸（三錢）　牡蠣（三錢）　赤石脂（三錢）</p>
<p>為末，空心服二錢，米飲送下。</p>

<h3>瀉</h3>
<p>產後泄瀉非雜症，有食泄、濕泄、水穀注下之論。大率氣虛、食積與濕也，氣虛宜補，食積宜消，濕則宜燥。然惡露未淨，速難驟燥，當先服生化湯二三貼，化舊生新，加茯苓以利水道。俟血生，然後補氣以消食，燥濕以分利水道，使無滯澀虛虛之失。若產旬日外，方論雜症，尤當淪虛實而治也。如痛下清水，腹鳴米飲不化者，以寒泄治。如糞水黃赤，肛門作痛，以熱泄治之。有因飲食過多，傷脾成泄，氣臭如敗卵，以食積治之。又有脾氣久虛，少食，食下即鳴急，盡下所食之物，方覺快者，以虛寒泄治之。治法寒則溫之，熱則清之。脾傷食積，分利健脾，兼消補虛，善為調治無失也。產後虛瀉，眼昏人不識，弱甚形脫危症，必用黨參二錢，白朮、茯苓各二錢，附子一錢，方能回生。若脈浮弦，按之不鼓，即為中寒，此蓋陰先亡而陽欲去，速宜大補氣血，加附子、黑姜以回元陽，萬勿忽視。</p>
<p><u>加減生化湯</u></p>
<p>治產後塊未消，患瀉症。</p>
<p>川芎（二錢）　茯苓（二錢）　當歸（四錢）　黑姜（五分）　炙草（五分）　桃仁（十粒）　蓮子（八枚）</p>
<p>水煎溫服。</p>
<p><u>健脾利水生化湯</u></p>
<p>治產後塊已除，患瀉症。</p>
<p>川芎（一錢）　茯苓（錢半）　歸身（二錢）　黑姜（四分）　陳皮（五分）　炙草（五分）　黨參（三錢）　肉果（一個，制）　澤瀉（八分）　白朮（一錢，土炒）</p>
<p>寒瀉加乾薑八分；寒痛加砂仁、炮姜各八分；熱瀉加炒黃連八分；瀉水腹痛、米飲不化，加砂仁八分，麥芽、山楂各一錢；瀉有酸噯臭氣，加神麯、砂仁各八分；脾氣久虛，瀉出所食方快，以虛寒論，瀉水者，加蒼朮一錢以燥濕。脾氣弱、元氣虛，必須大補，佐消食、清熱、卻寒藥。弱甚形色脫，必須第一方，參、朮、苓、附必用之藥也。諸瀉俱加升麻、酒炒蓮子十粒。</p>

<h3>完穀不化</h3>
<p>因產後勞倦傷脾而稽遲也，名飧泄。又飲食太過，脾胃受傷亦然，俗呼水穀痢是也。然產後三日內，塊未消化，此脾胃衰弱，參、耆、術不可遽加，且服生化湯加益智、香砂，少溫脾氣。塊消後，加參、耆、術補氣，肉果、木香、砂仁、益智溫胃，升麻、柴胡清胃氣，澤瀉、茯苓、陳皮以利水，為上策也。</p>
<p><u>加味生化湯</u></p>
<p>治產後三日內完穀不化，塊未消者。</p>
<p>川芎（一錢）　益智（一錢）　當歸（四錢）　黑姜（四分）　炙草（四分）　桃仁（十粒）　茯苓（錢半）　大棗（一枚）</p>
<p><u>參苓生化湯</u></p>
<p>治產後三日內塊已消，穀不化，胎前素弱患此症者。</p>
<p>川芎（一錢，炒）　益智（一錢，炒）　當歸（二錢）　白芍（一錢，炒）　肉果（一個，制）　黑姜（四分）　白朮（二錢，土炒）　炙草（五分）　黨參（二錢）　茯苓（一錢）</p>
<p>瀉水多加澤瀉、木通各八分，腹痛加砂仁八分，渴加麥冬、五味子，寒瀉加黑姜一錢、木香四分，食積加神麯、麥芽。產後瀉痢，日久胃氣虛弱，完穀不化，宜溫助胃氣，六君子湯加木香四分、肉果一個、制蓮子八枚（去心）、棗一枚。</p>

<h3>產後惡寒身顫</h3>
<p>婦人產後惡寒，噁心，身體顫，發熱作渴，人以為產後傷寒也，誰知是氣血兩虛，正不敵邪而然乎。大凡氣不虛，則邪難入。產婦去血既多，則血必大虛，氣虛則皮毛無衛，邪原易入，正不秘，戶外之風來襲體也。即一舉一動，風即可乘虛而入之。然產後之婦，風易入而亦易出，凡有外邪之感，俱不必祛風，況產婦之惡寒者，寒由內生也；發熱者，熱由內弱也；身顫者，顫由內虛也。治其內寒，而外寒自散；治其內弱，而外熱而解，壯其元陽，而身顫自除。</p>
<p>方用<u>十全大補湯</u>：</p>
<p>白朮（三錢，土炒）　茯苓（三錢，去皮）　黨參（三錢）　川芎（一錢，酒洗）　當歸（三錢，酒洗）　甘草（一錢，炙）　熟地（五錢，九蒸）　白芍（三錢，酒炒）　黃耆（一兩，生用）　肉桂（一錢，去粗皮，研）</p>
<p>水煎服，一劑而諸病悉愈。此方但補氣與血之虛，而不去散風與邪，實以正足而邪自除也。況原無邪氣乎，所以奏功之捷也。宜連服數劑，不可只服一劑。</p>

<h3>產後噁心嘔吐</h3>
<p>婦人產後噁心欲嘔，時而作吐，人皆曰胃氣之寒也，誰知是腎氣之寒乎。夫胃為腎之關，胃之氣寒，則胃氣不能行於腎之中；腎之氣寒，則腎氣亦不能行於胃之內，是腎與胃，不可分而兩之也。惟是產後失血過多，必致腎水乾涸，腎水涸，應腎火上炎，當不至胃有寒冷之虞，何故腎寒而胃亦寒乎？蓋新產之餘，水乃遽然涸去，虛火尚不能生，火既不生，而寒之象自現。治法宜補其腎中之火，然火無水濟，則火在水上，未必不成火動陰虛之症，必須於水中補火，腎中溫胃，而後腎無太熱之患，腎有既濟之歡也。</p>
<p>方用<u>溫腎止嘔湯</u>：</p>
<p>熟地（五錢，九蒸）　巴戟（一兩，鹽水浸）　黨參（三錢）　白朮（一兩，土炒）　山萸（五錢，蒸，去核）　炮姜（一錢）　白蔻（一粒，研）　橘紅（五分，薑汁炒）　茯苓（二錢）</p>
<p>水煎服，一劑而嘔吐止，二劑不再發，四劑而全愈矣。此方補腎之藥多於治胃之品，然而治腎，仍是治胃也。所以腎氣升騰，而胃寒自解，不必用大熱之劑溫胃而祛寒也。</p>
<p>服此方，必待惡露盡後。若初產一二日之內，噁心欲嘔，乃惡露上衝，宜服<u>加味生化湯</u>：</p>
<p>全當歸（一兩，酒洗）　川芎（二錢）　炮姜（一錢）　山楂炭（二錢）　桃仁（一錢，研）</p>
<p>無灰黃酒一鍾同煎。</p>

<h3>產後血崩</h3>
<p>少婦產後半月，血崩昏暈，目見鬼神，人皆曰惡血衝心也，誰知是不慎房幃之過乎。夫產後業逾半月，氣血雖不比其初產之二三日，而新氣血初生，尚未全復，即血路已淨，而胞胎之損傷未痊，斷不可輕於一試，以重傷其門戶。無奈少嬌之婦，氣血初復，不知慎養，欲心大動，貪合圖歡，以致血崩昏暈，目見鬼神，是心腎兩傷，不特胞胎門戶已也。明明是犯色戒，又加酣戰，以致大泄其精，精泄而神亦隨之而欲脫。此等之症，乃自作之孽，多不可活。然於不可活之中，而思一急救活之法，舍大補其氣與血，別無良法也。</p>
<p>方用<u>救敗求生方</u>：</p>
<p>當歸（二兩，酒洗）　白朮（二兩，土炒）　黨參（二兩）　熟地（一兩，九蒸）　棗仁（一兩，生用）　山萸（五錢，蒸）　山藥（五錢，炒）　附子（一錢，制）</p>
<p>水煎服，一劑而神定，二劑而暈止，三劑而血亦止矣。倘一服見效，連服三四劑，減去一半，再服十劑，可慶更生。此方補氣，以回元陽於無何有之鄉，陽回而氣回，自可攝血以歸神、生精而續命矣。</p>
<p>亦有中氣素虛，產後頃刻血崩不止，氣亦隨之而脫，此重危之症，十常不救者八九，椎用獨參湯尚可救活一二。遼人參去蘆五錢，打碎急煎，遲則氣脫不及待矣。煎成徐徐灌之，待氣回，再煎一服灌之。其餘治法，參看血崩門。但產後不可用杭芍炭以及諸涼藥。然此症皆系臨產一二日前，入房久戰所致，戒之！</p>

<h3>產後手傷胞胎淋漓不止</h3>
<p>婦人有生產之時，被穩婆手入產門，損傷胞胎，因而淋漓不止，欲少忍須臾而不能，人謂胞破，不能再補也，孰知不然。夫破傷皮膚，尚可完補，豈破在腹內者，獨不可治療？或謂破在外，可用藥外治，以生皮膚；破在內，雖有靈膏，無可救補耳。然破之在內者，外治雖無可施力，安知內治不能奏功乎。試思瘡傷之毒，大有缺陷，尚可服藥以生肌肉，此不過收生不謹，小有所損，並無惡毒，何難補其缺陷也。</p>
<p>方用<u>完胞飲</u>：</p>
<p>白朮（一兩，土炒）　紅花（一錢）　黨參（一兩）　當歸（一兩，酒洗）　白及末（一錢）　川芎（五錢）　茯苓（二錢，去皮）　生黃耆（五錢）　益母草（三錢）　桃仁（十粒，研）</p>
<p>用豬、羊胞一個，先煎湯後煎藥，飢服十劑全愈。夫胞損，宜用補胞之藥，何以反用補氣血之藥也？蓋生產本不可手探試。而穩婆竟以手探胞胎，以致傷損，則難產必矣。難產者，因氣血之虛也。產後大傷氣血，是虛而又虛矣。因虛而損，復因損而更虛。若不補其氣與血，而胞胎之破何以奏功乎？今之大補氣血者，不啻飢而與之食，渴而與之飲也，則精神大長，氣血再造，而胞胎何難補完乎？所以旬日之內，便成功也。</p>
<p>胞破諸書單方極多，然不如此方之妙。</p>

<h3>產後四肢浮腫</h3>
<p>產後四肢浮腫，寒熱往來，氣喘咳嗽，胸膈不利，口吐酸水，兩脅疼痛，人皆曰敗血流於經絡、滲於四肢，以致氣逆也。誰知是肝腎兩虛，陰不得出之陽乎？夫產後之婦，氣血大虧，自然腎水不足，腎火沸騰。然水不足則不能養肝，而肝木大燥，木中乏精，木燥火發，腎火有黨，子母兩焚，火焰直衝，而上克肺金，金受火刑，力難制肝，而咳嗽喘滿之病生焉；肝火既旺，而下克脾土，土受木刑，力難制水，而四肢浮腫之病出焉。然而肝木之火旺，乃假象而非真旺也，假旺之氣，若盛而實不足，故時而熱、時而寒，往來無定，乃隨氣之盛衰以為寒熱，而寒非真寒，熱亦非真熱，是以氣逆胸膈之間而不舒耳。兩脅者，肝之部位也；酸者，肝之氣味也。吐酸脅疼痛，皆是肚虛而腎不能榮之象也。治法宜補血以養肝，補精以生血，精血足而氣自順，而寒熱咳嗽、浮腫之病悉退矣。</p>
<p>方用<u>轉氣湯</u>：</p>
<p>茯苓（三錢，去皮）　白朮（三錢，土炒）　黨參（三錢）　當歸（五錢，酒洗）　白芍（五錢，酒炒）　柴胡（五分）　熟地（一兩，九蒸）　山萸（三錢，蒸）　山藥（五錢，炒）　芡實（三錢，炒）　故紙（一錢，鹽水炒）</p>
<p>水煎服，三劑效，十劑痊。此方皆是補血、補精之品，何以名為轉氣耶？不知氣逆，由於氣虛，乃是肝腎之氣虛也。補肝腎之精血，正所以補肝腎之氣也。蓋虛則逆，旺即順，是補即轉也，氣轉而各症盡愈。陰出之陽，則陰陽無捍格之虞也。方妙不可加減。</p>

<h3>產後肉線出</h3>
<p>婦人有產後水道中，出肉線一條，長二三尺，動之則疼痛欲絕，人以為胞胎之下墜也，誰知是帶脈之虛脫乎？夫帶脈束於任督之間，任脈前而督脈後，二脈有力，則帶脈堅牢；二脈無力，則帶脈崩墜。產後亡血過多，無血以養任督，而帶脈崩墜，力難長舉，故隨溺而隨下也，帶脈下垂，每每作痛於腰臍之間，況下墜者，而出於產門之外，其失於關鍵也更甚，安得不疼痛欲絕乎？</p>
<p>方用<u>兩收楊</u>：</p>
<p>白朮（二兩，土炒）　川芎（三錢，酒洗）　黨參（一兩）　熟地（二兩，九蒸）　白果（十枚，搗碎）　山藥（一兩，炒）　山萸（四錢，蒸）　芡實（五錢，炒）　扁豆（五錢）　杜仲（五錢，炒）　巴戟（三錢，鹽水浸）</p>
<p>水煎服，一劑而收半，二劑而全收矣。此方補任督而仍補腰臍者，以任督連於腰臍也。補任督而不補腰臍，則任督無助，而帶脈何以升舉？惟兩補之，則任督得腰臍之助，帶脈亦得任督之力而收矣。此方凡腎虛腰痛、遺尿皆可治，甚勿輕忽。</p>

<h3>產後肝痿</h3>
<p>婦人產後，陰戶中垂下一物，其形如帕，或有角，或二歧，人以為產痿也，誰知是肝痿之故乎？夫產後何以成肝痿也，蓋因產前勞役過傷，又觸動怪怒，以致肝不藏血，血亡過多，故肝之脂膜隨血崩墜，其形似子宮而實非子宮也。若是子宮之下墜，狀如茄子，只到產門而不能越出於產門之外。惟肝之脂膜，往往出產門外，至六七寸許，且有黏席，乾落一片如手掌大者，如是子宮墜落，人立死矣，又安得復生乎？治法宜大補其氣與血，而少加升提之品，則肝氣旺而易生，肝血旺而易養，肝得生養之力而脂膜自收。</p>
<p>方用<u>收膜湯</u>：</p>
<p>白朮（五錢，土炒）　生黃耆（一兩）　黨參（五錢）　當歸（三錢，酒洗）　白芍（五錢）　升麻（一分）</p>
<p>水煎服，一劑即收矣。或疑產後禁用白芍，恐伐生氣之原，何以頻用而奏功也？是未讀仲景之書者，嗟乎！白芍之在產後不可頻用者，恐其收斂乎瘀也，而謂伐生產之源，則誤矣。況病之在肝者，尤不可以不用，且用之於大補氣血之中，在芍藥亦忘其為酸收矣，又何能少有作崇者乎？矧脂膜下墜，正藉酸收之力，助升麻以提升氣血，所以奏功之捷也。收肝膜全賴白芍之功，不可用炭。</p>

<h3>產後氣血兩虛乳汁不下</h3>
<p>婦人產後，絕無點滴之乳，人以為乳管之閉也，誰知是氣與血之兩涸乎。夫乳乃氣血之所化而成也，無血固不能生乳汁，無氣亦不能生乳汁。然二者之中，血之化乳，又不若氣之所化為尤速。新產之婦，血已大虧，血本自顧不暇，又何能以化乳？乳全賴氣之力，以行血而化之也。今產後數日而乳不下點滴之法，其血少氣衰可知。氣旺則乳汁旺，氣衰則乳法衰，氣涸則乳汁亦涸，必然之熱也。世人不知大補氣血之妙，而一味通乳，豈知無氣則乳無以化，無血則乳無以生，不啻向飢人而乞食、貧人而索金乎？治法宜補氣以生血，而乳汁自下，不必利竅以通乳也。</p>
<p>方名<u>通乳丹</u>：</p>
<p>當歸（二兩，酒洗）　黨參（一兩）　木通（三分）　麥冬（五錢，存心）　生黃耆（一兩）　桔梗（三分）　七孔貍蹄（三個，去爪殼）</p>
<p>水煎服，二劑而乳如泉湧矣。此方專補氣血以生乳汁，正以乳生於氣血也。產後血氣涸而無乳，非乳管之閉而無乳者可比。</p>

<h3>產後鬱結乳汁不通</h3>
<p>少壯之婦，於生產之後，或聞丈夫之嫌，或聽翁姑之淬，遂致兩乳脹滿疼痛，乳汁不通，人以為陽明之火熱也，誰知是肝氣之鬱結乎。夫陽明屬胃，乃多氣多血之府也。乳汁之化，原屬陽明，然陽明屬土。壯婦產後，雖云亡血，而陽陰之氣實未盡衰，必得肝木之氣以相通，始能化成乳汁，未可全責之陽明也。蓋乳汁之化，全在氣而不在血。今產後數日，宜其有乳而兩乳脹滿作痛，是欲化乳而不可得，非氣鬱而何？明明是羞憤成郁，土木相結，又安能化乳而成汁也。治法宜大舒其肝木之氣，而陽明之氣血自通，而乳亦通矣，不必專去通乳也。</p>
<p>方名<u>通肝生化湯</u>：</p>
<p>白芍（五錢，醋炒）　熟地（二分）　甘草（三分）　當歸（五錢，酒洗）　通草（一錢）　柴胡（一錢）　白朮（五錢，土炒）　麥冬（三錢，存心）　遠志（一錢）</p>
<p>水煎服，一劑即通，不必再服也。</p>

<h2>產後編</h2>

<h3>痢</h3>
<p>產後七日內外，患赤白痢，裡急後重頻並，最為難治。欲調氣行血而推蕩痢邪，猶息產後元氣虛弱；欲滋榮養氣而大補虛弱，又助痢之邪。惟生化湯減乾薑而代以木香、茯苓，則善消惡露而兼治痢疾，並行而不悖也。再服香連丸，以俟一二日，病勢如少減，可保無虞。若產七日外，有患褐花色，後重頻並虛痢，即當加補無疑。若產婦稟厚，產期已經十餘日，宜服生化湯加連、芩、厚朴、芍藥行積之劑。</p>
<p><u>加減生化湯</u></p>
<p>治產後七日內患痢。</p>
<p>桃仁（十二粒）　蓯苓（一錢）　陳皮（四分）　木香（三分，磨）　川芎（二錢）　當歸（五錢）　炙草（五分）</p>
<p>紅痢腹痛加黃連（八分）　紅花三分。</p>
<p><u>清血丸</u></p>
<p>治噤口痢</p>
<p>香連（為末）　加蓮肉粉（各一兩半）</p>
<p>和勻為丸，酒送下四錢。</p>
<p>凡產後三四日後，塊散痢症少減，共十症，開後依法。</p>
<p>一、產後久瀉，元氣下陷，大便不禁，肛門如脫。宜服六君子湯，加木香四分、肉果一個（制）、薑汁五分。</p>
<p>二、產後瀉痢色黃，乃脾土真氣虛損，宜服補中益氣湯，加木香、肉果。</p>
<p>三、產後傷麵食，瀉痢，宜服生化湯，加神麯、麥芽各一錢。</p>
<p>四、產後傷肉食瀉痢，宜服生化湯，加山楂、砂仁。</p>
<p>五、產後胃氣虛弱瀉痢，完穀不化，當溫助胃氣，宜服六君子湯，加木香四分、肉果一個（制）。</p>
<p>六、產後脾胃虛弱，四肢浮腫，宜服六君子湯，加五皮散（見後水腫門）。</p>
<p>七、產後瀉痢無後重，但久不止，宜服六君子湯，加木香、肉果。</p>
<p>八、產後赤白痢，臍下痛，當歸、厚朴、黃連、肉果、甘草、桃仁、川芎。</p>
<p>九、產後久痢，色白屬血虛，宜四物湯，加荊芥、黨參。</p>
<p>十、產後痢久，色赤屬氣，宜六君子湯，加木香、肉果。</p>

<h3>霍亂</h3>
<p>由勞傷氣血，臟腑空虛，不能運化食物，及感冷風所致，陰陽升降不順，清濁亂於脾胃，冷熱不調，邪正相搏上下為霍亂。</p>
<p><u>生化六和湯</u></p>
<p>治產後血塊痛未除，患霍亂。</p>
<p>川芎（二錢）　當歸（四錢）　黑姜（四分）　炙草（四分）　陳皮（四分）　藿香（四分）　砂仁（六分）　茯苓（一錢）　姜（三片）</p>
<p>煎。</p>
<p><u>附子散</u></p>
<p>治產後霍亂吐瀉，手足逆冷，須無塊痛方可。</p>
<p>白朮（一錢）　當歸（二錢）　陳皮（四分）　黑姜（四分）　丁香（四分）　甘草（四分）　附子（五分）</p>
<p>共為末，粥飲送下二錢。</p>
<p><u>溫中湯</u></p>
<p>治產後霍亂，吐瀉不止，無塊痛者可服。</p>
<p>黨參（一錢）　白朮（錢半）　當歸（二錢）　厚朴（八分）　黑姜（四分）　茯苓（一錢）　草豆蔻（六分）　姜（二片）</p>
<p>水煎服。</p>

<h3>嘔逆不食</h3>
<p>產後傷臟腑，寒邪易乘於脾胃，則氣逆嘔吐而不食也。又有瘀血未淨而嘔者，亦有痰氣入胃，胃口不清而嘔者，當隨症調之。</p>
<p><u>加減生化湯</u></p>
<p>治產婦嘔逆不食。</p>
<p>川芎（一錢）　當歸（三錢）　黑姜（五分）　砂仁（五分）　藿香（五分）　淡竹葉（一錢）</p>
<p>水煎，和薑汁二匙服。</p>
<p><u>溫胃丁香散</u></p>
<p>治產後七日外，嘔逆不食。</p>
<p>當歸（三錢）　白朮（二錢）　黑姜（四分）　丁香（四分）　黨參（一錢）　陳皮（五分）　炙草（五分）　前胡（五分）　藿香（五分）　姜（三片）</p>
<p>水煎服。</p>
<p><u>石蓮散</u></p>
<p>治產婦嘔吐，心神目眩。</p>
<p>石蓮（一兩半，去殼，去心）　白茯苓（一兩）　丁香（二錢）</p>
<p>共為細末，米飲送下。</p>
<p><u>生津益液湯</u></p>
<p>治產婦虛弱，口渴氣少，由產後血少，多汁內煩，不生津液。</p>
<p>麥冬（二錢，去心）　黨參（三錢）　茯苓（二錢）　大棗（二枚）　竹葉（十匹）　浮小麥（一撮）　炙草（一錢）　栝蔞根（二錢）</p>
<p>大渴不止加蘆根。</p>

<h3>咳嗽</h3>
<p>治產後七日內，外感風寒咳嗽，鼻塞聲重，惡寒，勿用麻黃以動汗；嗽而脅痛，勿用柴胡湯；嗽而有聲、痰少面赤，勿用涼藥。凡產有火嗽、有痰嗽，必須調理半月後，方可用涼藥，半月前不當用。</p>
<p><u>加味生化湯</u></p>
<p>治產後外感風寒、咳嗽及鼻塞聲重。</p>
<p>川芎（一錢）　當歸（三錢）　杏仁（十粒）　桔梗（四分）　知母（五分）</p>
<p>有痰加半夏曲。虛弱有汗咳嗽加黨參。總之產後不可發汗，若果肺熱咳嗽，不宜用參。</p>
<p><u>加參安肺生化湯</u></p>
<p>治產後虛弱，旬日內外感風寒，咳嗽聲重，有痰或身熱頭痛及汗多。</p>
<p>川芎（一錢）　當歸（二錢）　黨參（一錢）　知母（一錢）　桑白皮（一錢）　甘草（四分）　桔梗（四分）　半夏（七分）　橘紅（三分）　杏仁（十粒，去皮尖）　虛人多痰加竹瀝一杯、薑汁半匙。</p>
<p><u>加味四物湯</u></p>
<p>治半月後干嗽、有聲痰少者。</p>
<p>川芎（一錢）　白芍（一錢）　知母（一錢）　生地（二錢）　當歸（二錢）　兜鈴（四分）　訶子（二錢）　冬花（六分）　桔梗（四分）　甘草（四分）　生薑（一片）</p>

<h3>水腫</h3>
<p>產後水氣，手足浮腫，皮膚見光榮色，由脾虛不能制水，腎虛不能行水也。必以大補氣血為先，佐以蒼朮、白朮、茯苓補脾。壅滿用陳皮、半夏、香附消之，虛人加黨參、木通，有熱加黃芩、麥冬以清肺金，健脾利水補中益氣湯。七日外，用黨參、白朮各二錢，茯苓、白芍各一錢，陳皮五分，木瓜八分，紫蘇、木通、大腹皮、蒼朮、厚朴各四分，大便不通加郁李仁、麻仁各一錢。如因寒邪濕氣傷脾，無汗而腫，宜姜皮、半夏、蘇葉、加於補氣方以表汗。</p>
<p><u>五皮散</u></p>
<p>治產後風濕客傷脾經，氣血凝滯，以致面浮虛，四肢腫脹，氣喘。</p>
<p>五加皮（一錢）　地骨皮（一錢）　大腹皮（一錢）　茯苓皮（一錢）　姜皮（一錢）　棗（一枚）</p>
<p>水煎服。</p>
<p>又云，產後惡露不淨，停留胞絡，致令浮腫，若以水氣治之，投以甘遂等藥，誤矣。但服調經散，則血行而腫消矣。</p>
<p><u>調經散</u></p>
<p>系調經治腹痛凝，列於產後水腫。</p>
<p>沒藥（一錢，另研）　赤芍（一錢）　肉桂（一錢）　琥珀（一錢，另研）　當歸（一錢）</p>
<p>上為細末，每用五分，薑汁、酒各少許，調服。</p>

<h3>流注</h3>
<p>產後惡露流於腰、臂、足關節之處，或漫腫，或結塊，久則腫起作痛，肢體倦怠，急宜用蔥熨法，以治外腫，內服參歸生化湯，以消血滯無緩也。未成者消，已成者潰，<u>蔥熨法</u>：</p>
<p>用蔥一握，炙熱搗爛作餅，敷痛處，用厚布二三層，以熨斗火熨之。</p>
<p><u>參歸生化湯</u></p>
<p>川芎（錢半）　當歸（二錢）　炙草（五分）　黨參（二錢）　黃耆（錢半）　肉桂（五分）　馬蹄香（二錢）</p>
<p>此症若不補氣血、節飲食、慎起居，未有得生者。如腫起作痛，起居飲食如常，是病氣未深，形氣未損，易治；若漫腫微痛，起居倦怠，飲食不足，最難治。或未成膿、未潰，氣血虛也，宜服八珍湯；憎寒惡寒，陽氣虛也，宜服十全大補湯；補後大熱，陰血虛也，宜服四物湯，加參、朮、丹皮；嘔逆，胃氣虛也，宜服六君子湯，加乾薑；食少體倦，脾氣虛也，宜服補中益氣湯；四肢逆冷，小便頻數，腎氣虛也，補中益氣湯加益智仁一錢。神麯迥洞散，治產後流注，惡露日久成腫，用此宣導其膿，若氣血未旺，不可服此方。</p>

<h3>膨脹</h3>
<p>婦人素弱，臨產又勞，中氣不足，胸膈不利，而轉運稽遲。若產後即服生化湯，以消塊止痛；又服加參生化湯，以健脾胃，自無中滿之症。其膨脹，因傷食而誤消，因氣鬱而誤散，多食冷物而停留惡露，又因血虛大便燥結、誤下而愈脹。殊不知氣血兩虛，血塊消後，當大補氣血，以補中虛。治者若但知傷食宜消，氣鬱宜散，惡露當攻，便結可下，則胃氣反損，滿悶益增，氣不升降，濕熱積久，遂成膨脹。豈知消導在於補中，則脾胃強，而所傷食氣消散，助血兼行，大便自通，惡露自行。</p>
<p>如產後風，氣不足，微滿，誤服耗氣藥而脹者，服<u>補中益氣湯</u>：</p>
<p>黨參（二錢）　當歸（二錢）　白朮（一錢）　白茯苓（一錢）　川芎（一錢）　白芍（一錢）　蘿蔔子（四分）　木香（三分）</p>
<p>（一本黨參、白朮俱作一錢，當歸作二錢，有姜三片）</p>
<p>如傷食，誤服消導藥成脹，或脅下積塊，宜服<u>健脾湯</u>：</p>
<p>黨參（三錢）　白朮（二錢）　當歸（三錢）　白茯苓（二錢）　白芍（二錢）　神麯（二錢）　吳萸（一錢）　大腹皮（四分）　陳皮（四分）　砂仁（五分）</p>
<p>如大便不通，誤服下藥成脹及腹中作痛，宜服<u>養榮生化湯</u>：</p>
<p>當歸（四錢）　白芍（一錢）　白茯苓（一錢）　黨參（二錢）　白朮（二錢）　陳皮（五分）　大腹皮（五分）　香附（五分）　蓯蓉（一錢）　桃仁（十粒，制）</p>
<p>塊痛將藥送三消丸。屢誤下，須用參、歸半斤，大便方通，膨脹方退。凡誤用消食耗氣藥，以致絕谷，長生活命丹屢效（方見傷食條，三消丸見惡露不下）。</p>

<h3>怔忡驚悸</h3>
<p>由產憂驚勞倦，去血過多，則心中跳動不安，謂之怔仲；若惕然而驚，心中怯怯，如人將捕之狀，謂之驚悸。治此二症，惟調和脾胃，志定神清而病愈矣。如分娩後，血塊未消，宜服生化湯，且補血行塊，血旺則怔定驚平，不必加安神定志劑。若塊消痛止後患止，宜服加減養榮湯：</p>
<p>棗仁（一錢，炒）　當歸（二錢）　川芎（二錢）　黃耆（一錢，炒）　黨參（一錢）　麥冬（一錢）　遠志（一錢）　白朮（一錢）　元肉（八枚）　陳皮（四分）　炙草（四分）　姜</p>
<p>煎。虛煩加竹瀝、薑汁，去川芎、麥冬，加竹茹一團，加木香即歸脾湯。</p>
<p><u>養心湯</u></p>
<p>治產後心血不定，必加不安。</p>
<p>麥冬（一錢八分）　炙黃耆（一錢）　茯神（八分）　川芎（八分）　當歸（二錢）　遠志（八分）　柏子仁（一錢）　黨參（錢半）　炙草（四分）　五味（十粒）　姜（二片）</p>
<p>水煎服。</p>

<h3>骨蒸</h3>
<p>宜服保真湯，先服清骨散。</p>
<p><u>柴胡連梅丸</u></p>
<p>即清骨散，作湯速效。</p>
<p>柴胡　前胡　烏梅（去核）　黃連（各二兩）</p>
<p>共為末聽用。再將豬脊髓一條、豬苦膽一個、韭菜白十根各一寸，同搗成泥，入童便一酒盞，攪如稀糊，入藥末再島為丸，如綠豆大，每服三四十丸，清湯送下。如上膈熱多，食後服。此方凡男女骨蒸皆可用之，不專治產婦，改兩為錢作湯服。</p>
<p><u>保真湯</u></p>
<p>黃耆（六分）　黨參（二錢）　白朮（二錢，炒）　炙草（四分）　川芎（六分）　當歸（二錢）　天冬（二錢）　白芍（二錢）　枸杞（二錢）　知母（二錢）　生地（二錢）　五味（十粒）　地骨皮（六分）　黃柏（六分，酒炒）　棗（三枚，去核）</p>
<p>水煎服。</p>
<p><u>加味大造丸</u></p>
<p>治骨蒸勞熱。若服清骨散，梅連丸不效，服此方。</p>
<p>石斛（三錢，酒蒸）　黨參（一兩）　當歸（一兩）　黃柏（七分，酒炒）　麥冬（二錢）　柴胡（六錢）　生地（二錢）　胡連（五錢）　山藥（一兩）　枸杞（一兩）</p>
<p>先將麥冬、地黃搗爛，後入諸藥同搗為丸，加蒸紫河車，另研焙乾為末，煉蜜丸。</p>

<h3>心痛</h3>
<p>此即胃脘痛，因胃脘在心之下，勞傷風寒及食冷物而作痛，俗呼為心痛。心可痛乎？血不足，則怔忡驚悸不安耳。若真心痛，手足青黑色，旦夕死矣。治當散胃中之寒氣，消胃中之冷物，必用生化湯，佐消寒食之藥，無有不安。若綿綿而痛，可按止之，問無血塊，則當論虛而加補也。產後心痛腹痛，二症相似，因寒食與氣，上攻於心則心痛，下攻於腹則腹痛，均用生化湯，加肉桂、吳萸等，溫散之藥也。</p>
<p><u>加味生化湯</u></p>
<p>川芎（一錢）　當歸（三錢）　黑姜（五分）　肉桂（八分）　吳萸（八分）　砂仁（八分）　炙草（五分）</p>
<p>傷寒食加肉桂、吳萸，傷麵食加神麯、麥芽，傷肉食加山楂、砂仁，大便不通加肉蓯蓉。</p>

<h3>腹痛</h3>
<p>先問有塊無塊，塊痛只服生化湯，調失笑散二錢，加元胡一錢；無塊則是遇風冷作痛，宜服<u>加減生化湯</u>：</p>
<p>川芎（一錢）　當歸（四錢）　黑姜（四分）　炙草（四分）　防風（七分）　吳萸（六分）　白蔻（五分）　桂枝（七分）</p>
<p>痛止去之，隨傷食物所加如前。</p>

<h3>小腹痛</h3>
<p>產後虛中，感寒飲冷，其寒下攻小腹作痛。又有血塊作痛者；又產後血虛，臍下痛者，並治之，以<u>加減生化湯</u>：</p>
<p>川芎（一錢）　當歸（三錢）　黑姜（四分）　炙草（四分）　桃仁（十粒）</p>
<p>有塊痛者，本方煎送前胡散，亦治寒痛；若無塊但小腹痛，亦可按而少止者，屬血虛，加熟地三錢，前胡、肉桂各一錢，為末，名前胡散。</p>

<h3>虛勞</h3>
<p>指節冷痛，頭汗不止</p>
<p>黨參（三錢）　當歸（三錢）　黃耆（二錢）　淡豆豉（十粒）　生薑（三片）　韭白（十寸）　豬腎（二個）</p>
<p>先將豬腎煎熟，取汁煎藥八分，溫服。此症若加太陽疼，宜於前頭汗不至身參看。</p>

<h3>遍身疼痛</h3>
<p>產後百節開張，血脈流散，氣弱則經絡間血多阻滯，累日不散，則筋牽脈引，骨節不利，故腰背不能轉側，手足不能動履，或身熱頭痛。若誤作傷寒，發表出汗，則筋脈動盪，手足發冷，變症出焉，宜服<u>趁痛散</u>：</p>
<p>當歸（一錢）　甘草（八分）　白朮（八分）　獨活（八分）　肉桂（一錢）　桑寄生（一錢）　牛膝（八分）　薤白（五分）　姜（三片）</p>
<p>水煎服。</p>

<h3>腰痛</h3>
<p>由女人腎脈系胞，腰為腎腑，產後勞傷腎氣，損動胞絡，或虛未復而風乘之也。</p>
<p><u>養勞壯腎湯</u></p>
<p>治產後感風寒，腰痛不可轉。</p>
<p>當歸（一錢）　防風（四分）　獨活（八分）　桂心（八分）　杜仲（八分）　續斷（八分）　桑寄生（八分）　川芎（八分）　生薑（三片）</p>
<p>水煎服。兩貼後痛未止，屬腎虛，加熟地三錢。</p>
<p><u>加味大造丸</u></p>
<p>治產後日久，氣血兩虛，腰痛腎弱，方見骨蒸條。</p>
<p><u>青蛾丸</u></p>
<p>治腰痛。</p>
<p>杜仲（一片，姜炒，去絲）　破故紙（八兩，酒浸，炒）　胡桃（十二個）</p>
<p>共為細末，煉蜜丸，淡醋湯送下六十丸。</p>

<h3>脅痛</h3>
<p>乃肝經血虛氣滯之故。氣滯用四君子湯，加青皮、柴胡；血虛用四物湯，加柴胡、黨參、白朮。若概用香燥之藥，則反傷清和之氣，無所生矣。</p>
<p><u>補肺散</u></p>
<p>治脅痛。</p>
<p>山萸（二錢）　當歸（二錢）　五味（十粒）　山藥（二錢）　黃耆（一錢）　川芎（八分）　熟地（二錢）　木瓜（一錢）　白朮（二錢）　獨活（一錢）　棗仁（一錢）</p>
<p>水煎服。</p>

<h3>陰痛</h3>
<p>產後起居太早，產門感風作痛，衣被難近身體，宜用<u>祛風定痛湯</u>：</p>
<p>川芎（一錢）　當歸（三錢）　獨活（五分）　防風（五分）　肉桂（五分）　荊芥（五分，炒）　茯苓（一錢）　地黃（二錢）　棗（二枚）</p>
<p>煎服。</p>
<p>又附陰疳、陰蝕、陰中瘡，曰□瘡，或痛或癢，如蟲行狀，膿汁淋漓，陰蝕幾盡者，由心腎煩郁，胃氣虛弱，致氣血流滯。經云「諸瘡痛癢，皆屬於心」，治當補心養腎，外以藥熏洗，宜用<u>十全陰疳散</u>：</p>
<p>川芎　當歸　白芍　甘草（各等分）</p>
<p>水五碗，煎二碗，去滓熏，日三夜四，先熏後洗。</p>
<p>一方用蒲黃一升，水銀二兩，二味調勻搽。</p>
<p>一方用蝦蟆、兒糞等分為末，敷瘡。</p>
<p>一方治疳蟲食下部及五臟，取東南桃枝，輕打頭散，以綿纏灸之。或用石硫磺末，將縛桃枝燃熏之。</p>
<p>一方截一短竹筒，先納陰中，以桃枝燒煙之。</p>

<h3>惡露不下</h3>
<p>凡婦人分娩，兒下，惡露隨下，則腹不痛，而產自安。若腹欠溫暖，或傷冷物，以致惡露凝塊，日久不散，則虛症百出，或身熱骨蒸、食少羸瘦，或五心煩熱、月水不行。其塊在兩脅，動則雷鳴嘈雜，眩暈，發熱似瘧，時作時止。如此數症，治者欲瀉其邪，先補其虛，必用補中益氣湯送三消丸，則元氣不損，惡露可消。</p>
<p><u>加味補中益氣湯</u></p>
<p>黨參（一錢）　白朮（二錢）　當歸（三錢）　白芍（一錢）　廣皮（四分）　甘草（四分）　黃耆（一錢，灸）　姜　棗</p>
<p>煎服。</p>
<p><u>三消丸</u></p>
<p>治婦人死血、食積、痰三等症。</p>
<p>黃連（一兩，一半用吳萸煎汁，去渣，浸炒；一半用益智仁炒。去益智仁不用）　萊菔子（一兩五錢，炒）　川芎（五錢）　山梔（五錢）　莪朮（各五錢，俱用醋炒）　桃仁（十粒）　青皮（五錢，醋炒）　香附（一兩，童便浸炒）　三稜（五錢，醋炒）　山楂（一兩）</p>
<p>上為末，蒸餅為丸，食遠服，用補中益氣湯送下五六十丸。或用白朮三錢、陳皮五錢。水一鍾，煎五分送下亦可。</p>

<h3>乳癰</h3>
<p>乳頭屬足厥陰肝經，乳房屬足陽明胃經，若乳房癰腫結核，色紅，數日外腫痛潰稠膿，膿盡而愈，此屬膽胃熱毒，氣血壅滯，名曰乳癰。若乳岩初起，內結小核，不紅、不腫、不痛，積之歲月，漸大如巉巖，破如熟榴，難治。治法：腫痛寒熱。宜發表散邪；痛甚宜疏肝清胃；膿成不潰，用托裡；肌肉不生，膿水清稀，宜補脾胃；膿出及潰，惡寒發熱，宜補血氣；飲食不進，或作嘔吐，宜補胃氣；乳岩初起，用益氣養榮湯，加歸脾湯，間可內消，若用行氣補血之劑，速亡甚矣。</p>
<p><u>瓜蔞散</u></p>
<p>治一切癰疽，並治乳癰者，六腑不和之氣，陽滯於陰則生之。</p>
<p>瓜蔞（一個，連皮搗爛）　生甘草（五分）　當歸（三錢）　乳香（五分，燈心炒）　金銀花（三錢）　白芷（一錢）、沒藥（五分，燈心炒）　青皮（五分）</p>
<p>水煎溫服。</p>
<p><u>回脈散</u></p>
<p>乳癰未潰時，服此毒從大便出，虛人不用。</p>
<p>大黃（三錢）　白芷（八分）　乳香（五分）　木香（五分）　沒藥（五分）　穿山甲（五分，炒）</p>
<p>共為細末，黨參三錢煎湯調服。</p>
<p><u>十全大補湯</u></p>
<p>黨參（三錢）　白朮（三錢）　黃耆（三錢）　熟地（三錢）　茯苓（八分）　甘草（五分）　川芎（八分）　金銀花（三錢）</p>
<p>瀉加黃連、肉果，渴加麥冬、五味，寒熱往來用馬蹄香搗散。凡乳癰服薏苡仁粥好。</p>
<p>又方用烏藥（軟白香辣者）五錢，研，水一碗，牛皮膠一片，同煎七分，溫服。如孕婦腹內癰，此二方可通用。又有乳吹，乃小兒飲乳，口氣所吹，乳汁不通，壅結作痛，不急治則成癰，宜速服瓜蔞散，更以手揉散之。</p>

<h3>風甚</h3>
<p>用山羊血，取色新者，於新瓦上焙乾研末，老酒衝下五六分為度。重者用至八分，其效如神。</p>
<p>又用抱不出雞子殼，瓦上焙乾，酒調服。</p>
<p>如治虛寒危症，用藍鬚子根刮皮，新瓦上焙乾研末，溫服一錢為度，雖危可保萬全。</p>

<h3>不語</h3>
<p>乃惡血停蓄於心，故心氣閉塞，舌強不語。</p>
<p>用<u>七珍散</u>：</p>
<p>黨參（一兩）　石菖蒲（一兩）　川芎（一兩）　生地（一兩）　防風（五錢）　細辛（一錢）　辰砂（五分，研）</p>
<p>共研細末，用薄荷湯下一錢。因痰氣鬱結，閉口不語者，用好明礬一錢，水飛過，沸湯送下。</p>
<p>一方治產後不語。</p>
<p>黨參　石蓮子（去心）　石菖蒲（各等分）</p>
<p>水煎服。</p>
<p>《婦人良方》云「產後瘖，心腎虛不能發聲，七珍散；脾氣鬱結，歸脾湯；脾傷食少，四君子湯。氣血俱虛，八珍湯不應，獨參湯更不應，急加附子，蓋補其血以生血，若單用佛手散等破血藥，誤矣。」</p>

<h3>補集</h3>
<p>產後大便不通，用生化湯，內減黑姜，加麻仁。脹滿加陳皮，血塊痛加肉桂、元胡。如燥結十日以上，肛門必有燥糞，用蜜棗導之。</p>
<p><u>煉蜜棗法</u></p>
<p>用好蜜二三兩，火煉滾至茶褐色，先用濕桌，傾蜜在桌上，用手作如棗樣，插入肛門，待欲大便，去蜜棗方便。</p>
<p>又方用麻油，口含竹管入肛門內，吹油四五口，腹內糞和即通。</p>
<p><u>治產後雞爪風</u></p>
<p>桑柴炭（三錢，存性）　手指甲（十二個，炒）　鋪膠（三錢，炒）</p>
<p>共為末，黃酒送下，取汗取愈。</p>
<p><u>保產無憂散</u></p>
<p>當歸（錢半，酒洗）　厚朴（七分，姜炒）　川芎（錢半）　菟絲子（錢四分，酒炒）　艾葉（七分，炒）　炒芥穗（八分）　白芍（錢二分，酒炒）　炒枳殼（六分）　炙黃耆（八分）　川貝母（一錢，去心）　羌活（五分）　甘草（五分）　姜（三片）</p>
<p>溫服。上方保胎，每月三五服，臨產熱服，催生如神。</p>
<p>治遍體浮腫，是脾虛水溢之過。凡浮腫者，可通用，俱神效。</p>
<p>真縮砂仁（四兩）　萊菔子（二兩四錢）</p>
<p>研末，水浸，取濃汁，浸砂仁候汁盡曬乾，研極細末，每服一錢，漸加至二錢為度，淡薑湯送下。</p>
<p>凡男子婦人，奄奄死去，脈動無氣，氣閉不通，名為屍厥，將菖蒲屑納鼻孔中，再用肉桂屑放舌下，或剔取本人左角發方寸，燒灰成末，和熱酒灌之立愈，並以竹管吹其兩耳，更妙。</p>
<p>凡小兒初生，下地，即不啼哭，奄奄如死者，急看喉間懸雍前，上齶有一泡，速用指甲摘破，急以帛試去惡血，勿令嚥下，即能通聲啼哭。</p>
<p>凡小兒初生氣絕不啼，急用綿絮包裹，抱在懷中，未可斷臍帶，將胞衣置爐炭中燒之，捻大紙條蘸油，點火於臍帶下熏之。蓋臍帶連兒腹，熏時有火氣由臍入腹，更有熱醋湯蕩洗臍帶，須臾氣回啼哭，方可洗浴、斷臍帶。</p>
<p>凡小兒初生，啼哭不出者，須看舌下，若連舌如石榴子，速以指甲摘斷之，或用蘆葦削作刀割之，微有血出即愈。若舌下血出多者，將亂髮燒灰，同獵脂少許相和塗。若小兒齒根有黃筋兩條，以蘆葦削作刀割斷，豬乳點為妙。如兒口難開，先點豬乳。小兒初生不小便者，急用蔥白四寸，四破之，以乳汁半盞，煎兩沸灌下。</p>
<p>凡小兒初生，大小便不通，腹脹欲絕者，急令婦人以溫水嗽口，吸咂兒前心、後心並臍下，及手足心共七處，以紅赤色為度，即通。</p>
<p><u>萬金不傳遇仙方</u></p>
<p>專治胎前難產，歷經驗過。</p>
<p>凡產婦累日不下，危急之至，將蓖麻子十四粒（去殼）、明硃砂一錢半、雄黃一錢半、蛇蛻一尺（燒存性）共研細末，用漿水飯和丸，如彈子大，先用椒湯淋渫產婦臍下，然後將藥一丸，放臍中，用約數重，覆以闊帛束之。若見頭生下，急取去藥。</p>
<p><u>立聖丹</u></p>
<p>凡產難危急者，用寒水石四兩（二兩生用二兩煅赤），同研細末，入硃砂五錢同研，如深桃花色，每用三分，井花水調如薄糊，以紙花剪如杏葉大，攤上貼臍心，候乾再易，不過三上即產。橫生、倒生、死胎皆驗。</p>
<p>凡產婦血暈，不省人事，用五靈脂二兩（半生半炒，為末），每服一錢，白滾湯調下，如口噤者，抉開灌之，入喉即愈。</p>
<p>凡是倒產，兒足先下者，因兒在腹中，不能得轉，故腳先出來，謂之逆生，須臾不救，母子俱亡。若令產母仰臥，令收生之婦，推足入去，一則恐產母驚嚇，二則收生者非精良妙手，反致傷人性命。不若用法。以小絹針於兒腳心刺三五刺，用鹽少許塗刺處，即時順生。又法，以鹽塗兒足，以指甲搔之，並以鹽摩母腹上。</p>
<p>凡產後血暈，不知人事，危篤之極，不可臥倒，扶坐時背後一人撐住，用釅醋將火炭浸醋中熏之，使醋氣入鼻中，再用花蕊石末一錢童便調下。如口噤者，抉開灌之即醒。又方以真鬱金（燒存性為末）二錢，用釅醋一合調灌，立效。</p>
<p>凡產婦中凡，不省人事，口吐涎沫，手足瘛瘲，用歸身、荊芥等分為末，每服二錢，水一盞，酒少許，童便少許，煎七分煎之，下咽即愈。</p>
<p><u>狗咬傷方</u></p>
<p>犬因五臟受毒而成猘。若被咬傷，不早治九死一生。初咬時，急用：</p>
<p>洋雀花　狗屎椒　大澤蘭　苦翹頭　茅草根　韭菜根　藍布裙（皆是草藥）各三四錢，酒為引（小兒減少，孕婦忌服），一劑即愈。</p>
<p>若日久毒氣入心，煩亂腹脹，發狂吐沫，急用：</p>
<p>生大黃（三錢）　馬前子（二個，煅存性）　黑白醜（各二錢）　真麝香（一分）</p>
<p>共為細末，藍布裙煎水沖服。傷口用淡豆鼓研末，調香油為餅，貼傷處，換時掐開，內有狗毛茸，此係毒氣已出，多貼為炒。若不愈，照瘡症潰瘍門治之。前方得自無名老道，施治數十年，服下，並無小便短澀、莖中刺疼、血片堵塞等苦，真善法也。故附之卷末，以備揀用。</p>

<h1>跋</h1>
<p>《婦科仙方》一編，流傳已久。夙耳其名，未驗其妙，不免以尋常方書置之。客歲，室人抱疴，更數醫，迄無少效。不得已，乃檢是編，據其論與症合者試之，一劑而安，歷試皆然。且聞二三知已遵而用者，金云奇驗，益信是編之善，誠非尋常方書所可比擬。因坊板刷印既久，漫漶孔多，爰澤校付梓，以公同好。查原本凡例，云各方所載人參，即系黨參，竊思二者力相懸殊，萬難通用，即遵改為黨參。應用人參者，以遼參別之，諸如此類，細加剔釐。原期正其歧疑，非敢有所僭妄，惟祈閱者，臨時審慎，切莫輕為加減，致乖妙用，第恐仍有疏忽，不免紕繆，如蒙高明賜之指正，尤鄙人之厚幸也夫。</p>
<p><u>光緒歲在丁酉百花生日燕山張廷佐敏臣氏謹跋</u></p>
