<header data-type="book">
<h1>運氣證治歌訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王旭高</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>總論</h1>
<p>陳無擇曰：「五運六氣，乃天地陰陽運行升降之常道也。五運流行，有太過不及之異，六氣升降，有逆從勝復之差。凡不合於德化政令者，則為變眚，皆能病人。故經云：『六經波盪，五氣傾移，太過不及，專勝兼併』。所謂治化，人應之也。或遇變眚，聿興災沴。因郁發以亂其正常之德，而致折傷，復隨人臟氣虛實而為病者，謂之時氣。與夫感冒中傷，天行疫診，迥然不同。前哲知夫天地有餘不足違戾之氣，還以天地所生德味而平治之。經論昭然，人鮮留意，恐成湮沒，故敘而記之。」</p>
<p><u>旭高按</u>　運氣證治方，載於《三因書》，系陳無擇編輯，未知創自何人。揆其大旨，不出《內經》六淫治例，與夫五臟苦欲補瀉之義。假令風木之年，而得燥金之年之病，即從燥金之年方法求治。發生之紀，而得委和之紀之病，即從委和之紀方法求治。此其道也。若謂其年必生某病，必主某方，真是癡人說夢矣。</p>

<h1>《三因》司天運氣方</h1>

<h2>一、苓朮湯</h2>
<p>凡遇六壬年，發生之紀，歲木太過，風氣流行，脾土受邪，民病飧泄，食減體重，煩冤腸鳴，脅支滿；甚則忽忽喜怒，眩暈顛疾。為金所復，則反脅痛而吐血；甚則衝陽絕者死。</p>
<p>茯苓　白朮　青皮　炙草　厚朴（薑汁炒）　半夏　炮姜　草果（各等分）</p>
<p>上㕮咀，每服四錢，水杯半，姜三片，棗二枚，煎七分，去滓，空心溫服。</p>
<p><u>歌訣</u>　苓朮湯青甘樸夏，炮姜草果棗姜加，六壬之歲（壬申、壬午、壬辰、壬寅、壬子、壬戌六年）發生紀（木運太過曰發生），木勝風淫土受邪，飧泄腸鳴脅支痛，苦溫甘淡治脾家。</p>
<p><u>方解</u>　木勝風淫，則脾土受病而濕不運。經曰：「脾苦濕，急食苦以燥之。」「濕淫於內，治以苦溫，佐以甘辛。」故用白朮、厚朴、草果、炮薑、半夏之苦辛溫，以運脾燥濕；用茯苓者，所謂以淡泄之；甘草者，所謂以甘補之也。惟用青皮一味之酸以瀉肝，亦可曉然於肝邪之不可過伐矣。仲景曰：「見肝之病，知肝傳脾，當先實脾。」尤在涇云：「肝邪盛者，先實脾土，以杜滋蔓之禍。」然則歲木太過，民病飧泄，而主以苓朮湯，不治肝而治脾，不治風而治濕，謂非肝病實脾之一證乎。</p>

<h2>二、麥門冬湯</h2>
<p>凡遇六戊年，赫曦之紀，歲火太過，炎暑流行，肺金受邪，民病痎瘧，上氣咳喘，咯血痰壅，嗌乾耳聾，肩背熱甚，胸中痛，脅支滿，背髀並兩臂痛，身熱骨疼，而為浸淫。為水所復，則反譫妄狂越。太淵絕者死。</p>
<p>麥冬　桑白皮　鍾乳粉　人參　紫菀　白芷　半夏　甘草　竹葉（各等分）</p>
<p>煎服如上法。</p>
<p><u>歌訣</u>　麥門冬湯桑白皮，鍾乳人參紫菀隨，白芷半甘兼竹葉，咳喘咯血此方推。赫曦之紀（火運太過曰赫曦）年逢戊（戊辰、戊寅、戊子、戊戍、戊申、戊午六年），火灼金傷肺病宜。</p>
<p><u>方解</u>　火淫熱勝，則相傳之官受制，而治節失司，為咳喘上氣咯血，肩背臂膊皆痛，皆肺病也。肺屬燥金而惡火，火就燥，燥火本為同類，故肺受火刑為病，與燥氣自傷無異。所謂自傷，氣之削也。是方以麥冬補肺之陰，鍾乳補肺之陽，人參補肺之正氣，此三味先為運籌帷幄，保守中軍。然後用桑皮、紫菀之苦以泄之，白芷、半夏之辛以瀉之，甘草緩之，竹葉清之，此數味者，是為斬將搴旗之師也。統而論之，即經旨熱者寒之，燥者潤之，弱者補之，強者瀉之，調其氣，而使其平，此之謂也。</p>

<h2>三、附子山萸湯</h2>
<p>凡遇六甲年，敦阜之紀，歲土太過，雨濕流行，腎水受邪，民病腹痛，清厥，意不樂，體重煩冤；甚則肌肉痿，足痿不收，腰膝痛，中滿食減。為風所復，則反溏泄腸鳴，大腹腫脹。太谿絕者死。</p>
<p>附子　山萸肉（各一兩）　半夏　肉果（煨，各三錢）　木瓜　烏梅　藿香　丁香（各一錢）　姜（七片）　棗（三枚）　水煎服如前法。</p>
<p><u>歌訣</u>　附子山萸半肉果，瓜梅丁藿二香和，再加薑棗治敦阜（土運太過曰敦阜），六甲之年土太過（甲子、甲戍、甲申、甲午、甲辰、甲寅六年），濕勝陽微脾腎傷，君以苦熱酸辛佐。</p>
<p><u>方解</u>　腹痛寒厥，足痿不收，濕傷脾腎之陽矣。經言濕勝陽微，治之以苦熱酸辛。蓋苦能燥濕，辛可理脾，熱性剛而扶陽，酸屬木而制土故也。然腎肝同處下焦，而脾與胃為表裡，脾腎既受濕邪，肝胃豈無波及。故用附子之熱壯腎陽，即用山萸之溫養肝陽，用肉果之辛醒脾陽，即用半夏之辛和胃陽，少佐瓜梅之酸甘，制敦阜之太過，丁藿之辛香，闢雨濕之陰氣，更加薑棗以和之，而邪有不卻者乎！</p>

<h2>四、牛膝木瓜湯</h2>
<p>凡遇六庚年，堅成之紀，歲金太過，燥氣流行，肝木受邪，民病脅與少腹拘急痛，目赤耳聾，甚則咳逆，肩背尻陰股膝䟰足皆痛。為火所復，則暴痛，胠脅不可轉側，甚而喘咳溢血。太衝絕者死。</p>
<p>牛膝（酒浸）　木瓜（各一兩）　炙甘草（五錢）　芍藥　天麻　菟絲子（酒浸）　枸杞子（各三錢）　黃松節（二錢）　姜（二片）　棗（一枚）　杜仲（薑汁炒三錢）　煎同前法。</p>
<p><u>歌訣</u>　牛膝木瓜杞菟草，天麻芍藥仲薑棗，六庚之歲（庚午、庚辰、庚寅、庚子、庚戌、庚申六年）遇堅成（金運太過曰堅成），金行太甚肝傷燥，燥屬陽邪肝主筋，舒筋養血斯方好。</p>
<p><u>方解</u>　歲運太過，燥氣傷肝，燥乃陽邪，傷肝之血，肝傷苦急，雖緩之者必以甘，而入肝者惟酸，故君牛膝、木瓜之苦酸以入肝，臣甘草之甘以緩肝，甘酸相得，便能化肝之液，以滋筋血之燥。仲景所謂「肝之病，補用酸，助用苦，益用甘味調之」是也。佐以白芍斂肝陰，天麻平肝陽，菟絲、枸杞養肝血，姜炒杜仲理肝氣。蓋燥氣傷肝，肝之陰血急宜培，而肝之陽氣不宜亢也。使以松節者，松為木長，其節多油，能祛骨節之風燥，肝屬木而主筋，又同氣相求之理也。統論全方，在養血以舒筋，則肝無燥急之苦矣。</p>

<h2>五、川連茯苓湯</h2>
<p>凡遇六丙年，流衍之紀，歲水太過，寒氣流行，邪害心火，民病身熱煩躁譫妄，手足厥冷，甚則腹脹大，喘咳上氣，寢汗出憎風。為土所復，則反腹滿腸鳴溏泄，渴妄，神門絕者死。</p>
<p>川連　茯苓（各一兩）　麥冬　車前子　遠志（薑汁製）　通草（各半兩）　半夏　黃芩　炙甘草（各一錢）　姜（七片）　棗（三枚）　煎服同前</p>
<p><u>歌訣</u>　川連茯苓湯遠志，車通麥夏草黃芩，紀逢六丙（丙寅、丙子、丙戍、丙申、丙午、丙辰六年）為流衍（水運太過曰流衍），寒水流行邪害心，譫妄躁煩肢厥冷，急清心主此宜斟。</p>
<p><u>方解</u>　身熱譫妄煩躁，而手足厥冷，顯然君主為寒水遏伏，陽氣不得四布，而坐令自焚。故重用黃連之苦，急清心經之焰，內安君主。茯苓之淡，急泄流衍之水，外御客邪；麥冬、黃芩、甘草佐川連同致救焚之功；半夏、車前、通草佐茯苓共成決瀆之功；遠志開心竅，用薑汁製之，則能通神明而宣陽氣，陽氣得宣，水邪盡卻，煩躁厥冷自己。</p>

<h2>六、蓯蓉牛膝湯</h2>
<p>凡遇六丁年，委和之紀，歲木不及，燥乃盛行，民病中清，胠脅小腹痛，腸鳴溏泄，為火所復，則反寒熱瘡瘍，咳而鼽衄。</p>
<p>肉蓯蓉　牛膝　木瓜　當歸　白芍　大熟地　烏梅　炙草（各等分）</p>
<p>煎同前法。如筋痿腳弱，加鹿角屑同煎。</p>
<p><u>歌訣</u>　蓯蓉牛膝湯熟地，歸芍瓜梅炙草比，肝虛傷燥此方宜，六丁之歲（丁卯、丁丑、丁亥、丁酉、丁未、丁巳六年）委和紀（木運不及曰委和），胠脅少腹悉皆疼，腳弱還加鹿角使。</p>
<p><u>方解</u>　此與前牛膝木瓜湯大段相同，但彼因燥盛傷肝，肝血雖虛不甚，故止化肝之液，養肝之血，便可以卻燥。此以肝虛傷燥，血液大虧，故用蓯蓉、熟地峻補腎陰，是虛則補母之法也。</p>

<h2>七、黃耆茯苓湯</h2>
<p>凡遇六癸年，伏明之紀，歲火不及，寒乃盛行，民病心胸中痛，膺背兩臂內痛，噎塞鬱冒，暴喑；甚則髖髀痛，不能屈伸。為土所復，則反溏泄腸鳴腹痛，手足痿痹，不能任身。</p>
<p>黃耆　茯苓　紫河車　遠志（薑汁炒）　苡仁（生研）　人參（各等分）　肉桂心（新增）</p>
<p>水煎服。按此湯用河車，當作丸劑為是。</p>
<p><u>歌訣</u>　黃耆茯苓湯人參，河車遠志苡仁生，歲火不足寒威盛，六癸之年（癸酉、癸未、癸巳、癸卯、癸丑、癸亥六年）是伏明（火運不及曰伏明），矇昧心胸疼痛服，更加肉桂義尤精。</p>
<p><u>方解</u>　心陽衰少，則君火無權，故寒邪得以侵凌而來犯。觀其暴喑矇昧，心胸疼痛等證，不徒寒威肆虐，其義可繹思矣。方中參、耆、河車並用，大溫補其氣血，俾氣血足而神旺，則心陽自暢。更用遠、茯安神，苡仁養心，取意非不善，但不無迂緩之嫌。旭高因僭加桂心一味，以宣導諸藥，啟發心陽，臨症取裁，是所望於君子。</p>

<h2>八、白朮厚朴湯</h2>
<p>凡遇六己年，卑監之紀，歲土不及，風氣盛行，民病飧泄，霍亂，身重腹痛，肉瞤筋軟，善太息，不嗜食。為金所復，則反胸脅暴痛，下引少腹，善怒，吞酸食少。</p>
<p>白朮　厚朴　半夏　青皮　桂心　藿香（各三錢）　炮姜　炙草（各五錢）　姜（三片）　棗（二枚）</p>
<p>煎同前法。</p>
<p><u>歌訣</u>　白朮厚朴湯藿香，青甘半夏炮乾薑，桂心補火以生土，六己之年（己巳、己卯、己丑、己亥、己酉、己未六年）卑監方（土運不及曰卑監），泄瀉脾虛不嗜食，溫中補土此為良。</p>
<p><u>方解</u>　此即六壬年苓朮湯去茯苓、草果，加藿香暢脾氣，桂心補土母，余則大段相同。</p>

<h2>九、紫菀湯</h2>
<p>凡遇六乙年，從革之紀，歲金不及，炎火盛行，民病咳逆上氣，身熱咳衄，汗出，肩背臂痛。為水所復，則反頭腦痛及於頂，發熱口瘡心痛。</p>
<p>紫菀　人參　甘草　黃耆　五味子　白芍　杏仁　地骨皮　桑白皮（各等分）</p>
<p>水煎服。</p>
<p><u>歌訣</u>　紫菀人參味草耆，杏仁地骨芍桑皮，歲金不及名從革（金運不及曰從革），六乙之年（乙丑、乙亥、乙酉、乙未、乙巳、乙卯六年）遇此奇，上氣咳喘多汗出，肺虛有火最相宜。</p>
<p><u>方解</u>　肺位高原，職司下降，肺虛而火熱乘之，則反苦氣上逆。經曰：「肺苦氣上逆，急食苦以泄之」，故用紫菀、杏仁之苦以降氣。「損其肺者益其氣」，故用人參、黃耆、以補氣。咳逆汗多是肺氣耗散矣，散者收之，故用五味、白芍以收肺，收之亦以補之也。肺之所畏者火，而所賴以生者土也，故用甘草瀉心火而除煩，補脾土而生氣，金有所恃矣。然恐火鬱之久，金傷特甚，不能受補，而反壅氣，故用骨皮、桑皮清之瀉之。益知肺虛熱甚之證，降氣補肺，清金瀉火，每相須為用也。</p>
<p>……</p>
<p>以上十方，治五運大運太過不及，逆從勝復為災者。按運氣有三：有大運、主運、客運。大運者，中運也，主一歲之氣。如甲己之歲，土運統之；乙庚之歲，金運統之；丙辛之歲，水運統之；丁壬之歲，木運統之；戊癸之歲，火運統之是也。主運者，如春木屬角，夏火屬徵，秋金屬商，冬水屬羽，土寄四季屬宮。春必始於角，而冬則終於羽，歲歲相仍者是也。客運者，十年一周，各以本年中運為初運，而以次相生。如甲年陽土，則太宮起初運，己年陰土，則少宮起初運。乙年陰金，則少商起初運。庚年陽金，則太商起初運。丙年陽水，則太羽起初運。辛年陰水，則少羽起初運。丁年陰木，則少角起初運。壬年陽木，則太角起初運。戊年陽火，則太徵起初運。癸年陰火，則少徵起初運。五運不同，迭相用事者是也。三運之中，俱有太少相生之異。如甲丙戊庚壬，五太之年為陽，為太過，其數應於成。乙丁己辛癸，五少之年為陰，為不足，其數應於生。先聖察生成之數，以求運氣者，蓋欲因數以占夫氣化之盛衰，而示人以法陰陽，和術數，先歲氣，合天和也。然而難言之矣，一歲之中，五運相推，六氣相蕩，運氣錯雜，而變各不同。如濕挾風而化燥，風兼燥而化涼，火燔亢而生風，濕鬱蒸而為熱。則陰陽之消息，固難以識其微，而形象之著明，是必有可憑之理。是故執司天以求治，而其失在隘。舍司天以求治，而其失在浮。嗟乎！安得讀萬卷書，明陰陽者，與之共談斯言哉！</p>

<h2>十一、靜順湯</h2>
<p>治辰戌之年，太陽司天，太陰在泉，氣化運行先天。初之氣，乃少陽相火加臨厥陰風木。民病瘟癘，身熱頭痛，嘔吐，肌腠瘡瘍。二之氣，乃陽明燥金加臨少陰君火，民病氣鬱中滿。三之氣，乃太陽寒水加臨少陽相火，民病寒，反熱中，身熱瞀悶。四之氣，厥陰風木加臨太陰濕土，風濕交爭，民病肉痿足痿，注下赤白。五之氣，少陰君火加臨陽明燥金，民病鬱郁不舒。終之氣，太陰濕土加臨太陽寒水，民病悽慘。治法宜用甘溫平其水，酸苦補其火，折其鬱氣，資其化源，抑其運氣，扶其不勝也。</p>
<p>附子（辛甘熱）　炮姜（苦辛溫）　木瓜（酸溫）　茯苓（甘淡）　牛膝（苦酸）　甘草（甘平）　訶子（苦溫）　防風（甘辛溫）</p>
<p>自大寒至春分，去附子加杞子。</p>
<p>自春分至小滿，依原方加杞子。</p>
<p>自小滿至大暑，去附子、木瓜、炮姜，加人參、杞子、地榆、白芷、生薑。</p>
<p>自大暑至秋分，依原方加石榴皮。</p>
<p>自秋分至小雪，依原方不加減。</p>
<p>自小雪至大寒，去牛膝，加當歸、白芍、阿膠。</p>
<p><u>歌訣</u>　靜順湯醫辰戌年，太陽寒水是司天，附姜茯膝木瓜草，訶子防風八味全，隨氣初終加減服，扶其不勝抑其偏。</p>
<p><u>方解</u>　按《內經》運氣篇，「太陽司天，寒淫所勝。太陰在泉，濕淫所勝。」為病與此不同。其治司天之寒淫，平以辛熱，佐以甘苦。治在泉之濕淫，主以苦熱，佐以酸淡。立方大意即本之，此後俱仿此。</p>

<h2>十二、審平湯</h2>
<p>治卯酉之歲，陽明司天，少陰在泉，氣化運行後天。初之氣，乃太陰濕土加臨厥陰風木，此下克上，民病中濕腫脹，面目浮腫，善上氣，鼽衄，嚏欠，嘔吐，小便黃赤，甚則淋。二之氣，乃少陽相火加臨少陰君火，民病寒熱。三之氣，陽明燥金加臨少陽相火，此下克上，民病燥熱交合，涼風間發，寒熱、頭痛作渴。四之氣，太陽寒水加臨太陰濕土，此下克上，民病暴僕，振慄譫妄，少氣，咽乾引飲，心痛，癰腫瘡瘍，骨痿便血。五之氣，厥陰風木加臨陽明燥金，民病氣不和。終之氣，少陰君火加臨太陽寒水，此下克上，民病溫。治法宜鹹寒以抑火，辛甘以助金，汗之、清之、散之，安其運氣，適事為故。</p>
<p>天冬（甘寒）　遠志（苦辛溫）　白朮（苦甘溫）　白芍（苦酸寒）　檀香（辛溫）　山萸（酸微溫）　炙甘草（甘微溫）　生薑（辛溫）</p>
<p>自大寒至春分，加茯苓、半夏、紫蘇。</p>
<p>自春分至小滿，加元參、白薇。</p>
<p>自小滿至大暑，去遠志、白朮、山萸，加丹參、澤瀉。</p>
<p>自大暑至秋分，去遠志、白朮，加酸棗仁、車前子。</p>
<p>自秋分至小雪，依原方。</p>
<p>自小雪至大寒，依原方。</p>
<p><u>歌訣</u>　審平湯方治燥淫，司天卯酉屬陽明，檀香遠志山萸肉，白朮天麥芍藥並，甘草生薑同入劑，扶金抑火令其平。</p>
<p><u>方解</u>　按方下原注云：「宜鹹寒以抑火，辛甘以助金」，而方中無鹹寒之藥，何也？《內經》「陽明司天，燥淫所勝。少陰在泉，熱淫所勝」。為病與此不同。其治司天之燥淫，主以苦溫，佐以酸辛。治在泉之熱淫，主以鹹寒，佐以甘苦。細繹其義，亦不外五行生剋之理。</p>

<h2>十三、升明湯</h2>
<p>治寅申之歲，少陽司天，厥陰在泉，氣化運行先天。初之氣，少陰君火加臨厥陰風木，民病氣怫於上，血溢目赤，咳逆頭痛，血崩，脅痛，膚腠生瘡。二之氣，太陰濕土加臨少陰君火，民病熱鬱，咳逆嘔吐，胸臆不利，頭痛、身熱、昏憒，膿瘡。三之氣，少陽相火加臨少陽相火，民病熱中，耳聾目瞑，血溢瘡瘍，咳血鼽衄，渴欠喉痹，目赤，善暴死。四之氣，陽明燥金加臨太陰濕土，民病脅胸支滿，身重。五之氣，太陽寒水加臨陽明燥金，民病避寒邪，君子周密。終之氣，厥陰風木加臨太陽寒水，民病關閉不禁，心痛，陽氣不藏而咳。法宜鹹寒平其上，辛溫治其下，滲之，泄之，漬之，發之。</p>
<p>酸棗仁（甘酸）　薔薇（甘苦微寒）　生薑（辛溫）　半夏（辛溫）　青皮（辛酸）　紫檀香（辛溫）　炙草（甘平）　車前子（甘淡微寒）</p>
<p>自大寒至春分，加白薇、玄參。</p>
<p>自春分至小滿，加丁香。</p>
<p>自小滿至大暑，加漏蘆、升麻、赤芍。</p>
<p>自大暑至秋分，加茯苓。</p>
<p>自秋分至小雪，依原方。</p>
<p>自小雪至大寒，加五味子。</p>
<p><u>歌訣</u>　升明湯治寅申歲，相火司天木在泉，酸棗薔薇青與草，檀香姜夏共車前。</p>
<p><u>方解</u>　按原注云：鹹寒平其上，而方中仍無鹹寒之藥。惟加減法有白薇、玄參，正是鹹寒之味。所謂平其上者，司天之氣，主上半年也。《內經》少陽司天，火淫所勝，厥陰在泉，風淫所勝，與此為病不同。其治司天之火淫，主以鹹寒，佐以苦甘，則與此略同。其治在泉之風淫，主以辛涼，佐以苦甘，而此方云辛溫，則不同矣。</p>

<h2>十四、備化湯</h2>
<p>治丑未之歲，太陰司天，太陽在泉，氣化運行先天。初之氣，厥陰風木加臨厥陰風木，民病血溢，經絡拘強，關節不利，身重腳弱。二之氣，少陰君火加臨少陰君火，民病溫癘盛行，遠近咸若。三之氣，太陰濕土加臨少陽相火，民病身重跗腫，胸腹滿。四之氣，少陽相火加臨太陰濕土，民病腠理熱，血暴溢，心腹脹滿，寒瘧，甚則跗腫。五之氣，陽明燥金加臨陽明燥金，民病皮膚寒氣及體。終之氣，太陽寒水加臨太陽寒水，民病關節禁固，腰脽痛。治法宜酸苦以平其上，甘溫以治其下，以苦燥之溫之，甚則發之泄之，贊其陽火，令御其寒。</p>
<p>木瓜（酸溫）　茯神（甘淡）　牛膝（苦酸）　附子（苦辛熱）　地黃（甘寒）　覆盆子（甘溫）　甘草（甘平）　生薑（辛溫）</p>
<p>自大寒至春分，依原文。</p>
<p>自春分至小滿，去附子，加天麻、防風。</p>
<p>自小滿至大暑，加澤瀉。</p>
<p>自大暑至秋分、小雪、大寒，並依原方。</p>
<p><u>歌訣</u>　備化湯年臨丑未，司天濕土太陰居，覆盆茯膝瓜甘地，贊火禦寒姜附胥。</p>
<p><u>方解</u>　《內經》：「太陰司天，濕淫所勝，太陽在泉，寒淫所勝。」為病與此大不同。其治司天之濕淫，主以苦溫，佐以酸辛。濕上甚而為熱，則佐以甘辛，以汗為故而止也。其治在泉之寒淫，主以甘熱，佐以苦辛。而此云，酸苦以平其上，甘溫以治其下，正與經文相合處。</p>

<h2>十五、正陽湯</h2>
<p>治子午之歲，少陰司天，陽明在泉，氣化運行先天。初之氣，乃太陽寒水加臨厥陰風木，民病關節禁固，腰脽痛，中外皆瘡瘍。二之氣，厥陰風木加臨少陰君火，民病淋，目赤，氣鬱而熱。三之氣，少陰君火加臨少陽相火，民病熱厥心痛，寒熱更作，咳喘，目赤。四之氣，太陰濕土加臨太陰濕土，民病黃疸，鼽衄，嘔吐。五之氣，少陽相火加臨陽明燥金，民病乃安，邪復至，春為瘧。終之氣，陽明燥金加臨太陽寒水，民病上腫，咳喘，甚則血溢，下連少腹，而作寒中。治法宜咸以平其上，苦熱以治其下，咸以軟之，苦以發之，酸以收之。</p>
<p>白薇（鹹寒）　玄參（鹹苦寒）　川芎（辛甘溫）　當歸（辛甘溫）　桑白皮（甘寒）　白芍（酸寒）　旋覆花（鹹辛）　甘草（甘平）　生薑（辛溫）</p>
<p>自大寒至春分，加杏仁、升麻。</p>
<p>自春分至小滿，加茯苓、車前子。</p>
<p>自小滿至大暑，加杏仁、麻仁。</p>
<p>自大暑至秋分，加荊芥、茵陳蒿。</p>
<p>自秋分至小雪，依原方。</p>
<p>自小雪至大寒，加杜蘇子。</p>
<p><u>歌訣</u>　正陽湯里鹹酸苦，君火司天交子午，旋覆玄參桑白薇，芎歸芍草姜同取。</p>
<p><u>方解</u>　《內經》：「少陰司天，熱淫所勝，治以鹹寒，佐以甘苦，以酸收之。」「陽明在泉，燥淫所勝，治以苦溫，佐以甘辛，以苦下之。」此方治法，皆合經旨。惟以苦發之之句，見少陰在泉治法中，少陰司天無此句。（按此句原本於《六元正紀大論》所云：「甚則以苦發之，以酸收之，而安其下。」）</p>

<h2>十六、敷和湯</h2>
<p>治巳亥之歲，厥陰司天，少陽在泉，氣化運行後天。初之氣，乃陽明燥金加臨厥陰風木，民病寒，於右脅下痛。二之氣，太陽寒水加臨少陰君火，民病熱中。三之氣，厥陰風木加臨少陽相火，民病淚出，耳鳴，掉眩。四之氣，少陰君火加臨太陰濕土，民病黃疸，跗腫。五之氣，太陰濕土加臨陽明燥金，燥濕相勝，寒氣及體。終之氣，少陽相火加臨太陽寒水，此下水克上火，民病瘟癘。治法宜用辛涼平其上，鹹寒調其下，畏火之氣，無妄犯之。</p>
<p>半夏（辛溫）　棗仁（甘酸）　五味子（甘酸）　炮姜（苦辛）　枳實（苦辛）　茯苓（甘淡）　訶子（苦溫）　橘皮（辛甘）　炙甘草（甘平）</p>
<p>自大寒至春分，加牛蒡子。</p>
<p>自春分至小滿，加麥冬、山藥。</p>
<p>自小滿至大暑，加紫菀。</p>
<p>自大暑至秋分，加澤瀉、山梔。</p>
<p>自秋分至小雪，大寒，並依原方。</p>
<p><u>歌訣</u>　厥陰巳亥用敷和，風木司天土病多（《內經》：厥陰風木司天，脾胃之病為多。），橘半草苓姜味枳，棗仁訶子九般哦。</p>
<p><u>方解</u>　《內經》：「厥陰司天，風淫所勝，治以辛涼，佐以苦甘。」「少陽在泉，火淫所勝，治以鹹冷，佐以苦辛。」此方辛涼鹹寒，在加減法中，而不入正方，正方九味，多是溫中補土益肺之藥。蓋木盛者土必衰，培土生金，正所以抑木也。</p>
<p>以上六方，治六氣之客氣為病者，客氣遷移，故法有加減。其方意深奧，有與病相合者，有與病不相合者，若必欲為強解，未免昧心誣聖，寧闕其義，以俟明者。</p>
<p>按六氣有二：一曰主氣，一曰客氣。主氣者，節有常期，歲有常令。凡一歲之氣，始於大寒日，交風木之初氣；次至春分日，交君火之二氣；次至小滿日，交相火之三氣；次至大暑日，交濕土之四氣；次至秋分日，交燥金之五氣；次至小雪日，交寒水之終氣。每氣各主六十日八十七刻半。客氣者，三陰三陽之氣，更迭主時，而行天令，以加臨於主氣之上，而為一歲之變化。如子午年，則太陽寒水為初氣；丑未年，則厥陰風木為初氣；寅申年，則少陰君火為初氣；卯酉年，則太陰濕土為初氣；辰戍年，則少陽相火為初氣；巳亥年，則陽明燥金為初氣。以次而轉，余可類推。</p>
<p>然主氣以五行相生為序，故太陰濕土居少陽相火之後。客氣以三陰三陽先後之數為序，故太陰濕土居少陽相火之前也。凡客氣所至，則有寒暑燥濕風火非常之變，故冬有爍石之熱，夏有淒滄之涼。和則生化，不和則為災傷，此蓋客氣所加，乃為勝制郁發之變耳。</p>
<p>總而言之，司天通主上半年，在泉通主下半年。析而言之，六氣各有所主，非其位則邪，當其位則正，氣相得則微，不相得則甚，千變萬化，何有窮盡。上凡一十六方，不過示人以規矩耳。病有萬變，藥亦萬變，圓機之士，不須余贅矣。</p>
<p><u>附方</u>　五瘟丹（《韓氏醫通》治瘟疫）</p>
<p>甘草（甲己年土運，甘草為君）　黃芩（乙庚年金運，黃苓為君）　黃柏（丙辛年水運，黃柏為君）</p>
<p>梔子（丁壬年木運，梔子為君）　黃連（戊癸年火運，黃連為君）　紫蘇　香附</p>
<p>上七味，俱生用，各等分，凡為君者多一倍（如甲己年甘草二兩，余各一兩）。於冬至日擇淨室，避婦女、雞、犬，研為末。用錦文大黃二兩，濃煎去渣熬膏和藥為丸。如嫌干，少加蒸餅糊搗丸，如彈子大，硃砂、雄黃為衣，再加金箔外護。凡病瘟疫，用一丸冷水磨服。並治諸瘡腫毒，以此外敷，無不神效。</p>
<p><u>歌訣</u>　五瘟丹紫蘇香附，黃柏芩連梔草臨，大黃煮汁丸如彈，外護雄朱更貼金。甲己之年君甘草，丁壬梔子乙庚芩，戊癸黃連丙辛柏，除卻為君等分飲。</p>
<p><u>方解</u>　旭高曰：運氣錯雜，不得其正，人在氣交之中，受其不正之氣，則瘟病生。瘟之為病，雖有五運之分，要皆必有熱毒。蓋瘟癘鬱蒸則成熱，互相傳染則成毒也。故喻嘉言、張路玉、葉天士輩，治療瘟疫，清理三焦，均必佐以解毒。此方即黃連解毒湯合香附飲加味為丸，其分兩則隨五運而增減，以治五種瘟疫，義亦精矣。蓋香附、紫蘇，芳香辛散，足以辟邪，硃砂、雄黃、金箔，得天地陰陽精靈之氣，足以正不正之氣，餘五味，總言其功，清熱解毒，分言其妙，則甘草入脾，用以為君，能領諸藥，瀉土中之火。黃芩入肺，用以為君，能領諸藥瀉金中之火。故甲己土運，甘草為君；乙庚金運，黃芩為君。余可類推矣。</p>
<p><u>薑桂湯</u>（《古方選注》）</p>
<p>治戊午年，少陰君火，太乙天符歲會，民病無論三因，舌苔盡白，火勝水復，宜此治之。</p>
<p>老生薑汁（三錢沖）　肉桂（二錢四分去皮）　人參（三錢）　當歸（二錢四分）　南棗（三枚）</p>
<p>水二鍾，煎八分，衝入薑汁，分三服，隨時服。</p>
<p><u>歌訣</u>　薑桂湯用薑汁桂，人參南棗當歸繼，太乙天符戊午年（天符者，中運與司天相符也。太乙者，戊為火運，午為火支，又值少陰君火司天，三火相合，故曰太乙天符也。），火亢害則水承製（《經》曰：「亢則害，承乃制。」謂火極反兼水化也。），無論三因（內因、外因、不內外因）舌白苔，宜此通營以泄衛，一隅三反望後賢，莫謂司天無足系。</p>
<p><u>方解</u>　王晉三曰：「傷寒臟結症，舌上白苔滑者難治，戒之不可攻。而《舌鑑》論白苔十九症，皆用汗下辛熱之法。余閱歷多年，未有能治之者。戊午歲，少陰君火太乙天符，自春徂秋，民病無論三因，舌胎白者居多，有白滑、白屑、白粉之異，原其義，即《至真要大論》熱勝寒復，熱極反兼勝己之化也。用炮薑、附子，則白胎厚而液燥，用芩、連，則手足冷而陽脫。余尋思舌為心之外候，其色當赤，白為肺之色，反加心火之上，是侮其所勝，顯系寒邪入肺，鬱蒸見於舌，是衛實營虛。乃以大劑生薑汁泄衛，肉桂通營，人參、當歸、南棗助營衛之正氣，服之皆應手而愈。名之曰薑桂湯，宗仲景心營肺衛立方也。」</p>
<p><u>旭高按</u>　王氏此方，不從《內經》六淫治例，而別出心裁，又與司天勝復之義吻合。蓋少陰司天，熱淫寒復，即不當從熱淫起見，當以寒淫為治。《經》曰：「寒淫於內，治以甘熱，佐以苦辛」此法是矣。舉一三反，是望後賢，莫謂司天一道，與藥無關，而勿之思也。</p>

<h2>附　司天運氣圖歌</h2>
<figure>
<img data-orig-src="urn:270:07529.jpg" alt="司天在泉左右間氣圖">
</figure>
<p>司天運氣，最難明暢。司天有左右間氣之別，天符歲會之殊。五運有主客之異，六氣亦有主客之分。《內經》言之雖詳，而初學之家，終莫知其要領。今特繪圖於下，使觀者一覽分明，且系之以歌，便於記誦，為補豈淺鮮哉！</p>

<h2>司天歌</h2>
<p>子午少陰為君火，丑未太陰臨濕土，寅申少陽相火王，卯酉陽明燥金所，辰戌太陽寒水邊，巳亥厥陰風木主，初氣起地之左間，司天在泉對面數。</p>
<p><u>解釋</u>　司天在泉四間氣者，客氣之六步也。凡主歲者為司天，位當三之氣。司天之下相對者為在泉，位當終之氣。司天之左為天之左間，右為天之右間。在泉之左為地之左間，右為地之右間。每歲客氣，始於司天前二位，乃地之左間，是為初氣，以至二氣、三氣，而終於在泉之六氣。每客各主一步。故《六微旨大論》曰：「天道六六之節。上下有位，左右有紀。故少陽之右，陽明治之；陽明之右，太陽治之；太陽之右，厥陰治之；厥陰之右，少陰治之；少陰之右，太陰治之；太陰之右，少陽治之。」此言客氣陰陽之次序也。然司天通主上半年，在泉通主下半年。故又曰：「歲半以前，天氣主之。歲半以下，地氣主之」也。</p>

<h2>主運歌</h2>
<figure>
<img data-orig-src="urn:270:07530.jpg" alt="五運主運圖">
</figure>
<p>主運初角終於羽，太少相生五音譜。木為初運大寒交，火二春分十三數，土三芒種後十日，金四處暑七日取，水為終運立冬交，冬後四日交之部，每運七十三日零，共得三百六十五。</p>
<p><u>解釋</u>　假如甲年為陽土，運屬太宮用事，而上推至初運之角，則其生太宮者，少徵也。生少徵者，太角也。是以甲之主運起太角，太少相生，而終於太羽。餘年仿此。此為每歲之常令也。</p>
<p>《六元正紀大論》曰：「夫五運之化，或從天氣，或逆天氣，或從天氣而逆地氣，或從地氣而逆天氣，或相得，或不相得。」又曰：「先立其年，以明其氣。金木水火土，運氣之數。風寒暑濕燥火，臨御之紀。則天地可見，民病可調。」此經文明言五運之化有常數，主客之運有逆順也。蓋六氣有主客，五運亦有主客。主運皆起於角，而以次下生。每歲三百六十五日二十五刻，以五分之，則每運得七十三日零五刻也。</p>

<h2>客運歌</h2>
<figure>
<img data-orig-src="urn:270:07531.jpg" alt="五運客運圖">
</figure>
<p>十干客運何行起，甲巳之年初運宮，乙庚商兮丙辛羽，丁壬角與主相同（丁壬客運初於角，與主運同），戊癸以徵為初運，太少相生直至終。</p>
<p><u>解釋</u>　客運者，亦一年五步，每步各得七十三日零五刻。五運以土為尊，故甲巳年起於土運，甲屬陽土為太宮，已屬陰土為少宮。故甲年則太宮為初運，太生少，故少商為二運。少又生太，故太羽為三運。太又生少，故少角為四運。少又生太，故太徵為終運。巳年則少宮陰土為初運，少宮生太商為二運，太商生少羽為三運，少羽生太角為四運，太角生少徵為終運。太少相生，凡十年一主令，而竟天干也。但主運必春始於角，而終於羽。客運則以本年中運為初運，而以次相生。此主客運之所以有異也。客運加於主運之上，有生克邪正之變，而病作矣。</p>

<h2>主氣歌</h2>
<figure>
<img data-orig-src="urn:270:07532.jpg" alt="逐年主氣圖">
</figure>
<p>主氣分布主四時，歲歲如常故曰主。厥陰風木大寒初，少陰君火春分二，少陽相火小滿三，太陰濕土大暑四，秋分交著五之氣，五氣陽明燥金是，節交小雪六氣周，太陽寒水終之次。</p>
<p><u>解釋</u>　四時六氣，節有常期。溫暑涼寒，歲有常令。每氣各主六十日八十七刻半，是謂六步。每步中各有節序四氣，是為二十四氣，而所以節分六步者也。總六步而得三百六十五日二十五刻，以成一歲。故《六微旨大論》曰：「顯明之右，君火之位也。君火之右，退行一步，相火治之。復行一步，土氣治之。復行一步，金氣治之。復行一步，水氣治之。復行一步，木氣治之。」正以言六步之主氣也。</p>
<p>大寒日交風木之初氣，春分日交君火之二氣，小滿日交相火之三氣，大暑日交濕土之四氣，秋分日交燥金之五氣，小雪日交寒水之終氣。</p>

<h2>客氣歌</h2>
<figure>
<img data-orig-src="urn:270:07533.jpg" alt="逐年客運圖">
</figure>
<p>逐年客氣加臨異，不與年常主氣比。子午之年寒水初，木二火三土居四，相火五兮燥金終，仿此推之理一致。丑未初氣風木同，寅申初氣君火主，卯酉初氣濕土臨，辰戌初氣相火至，巳亥初氣屬燥金，六載一周終復始。一言重複告君知，濕土相火更位次，主為地氣分五行，土居火後相生理。客為天氣法陰陽，土在火先此所以。客氣加臨無定時，主但奉行天令耳。故凡主客氣相臨，有勝無復須當視。司天克運其病徐，運克司天其病厲。利害攸關運氣多，古來誰把南針指，《類經圖翼》頗精詳，余作斯歌得其旨。</p>
<p><u>解釋</u>　如子午年，則太陽為初氣，厥陰為二氣，少陰值司天為三氣，太陰為四氣，少陽為五氣，陽明為終氣。丑未年，則厥陰為初氣，以次為轉，餘年可仿此類推矣。主氣以風木為初氣，此丑未年之客氣，亦風木為初氣，與主氣同也。</p>
<p>主氣者，地氣也，在地成形，靜而守位，謂木火土金水分主四時，而司地化，以為春夏秋冬歲之常令者是也。然主氣以五行相生為序，而太陰土所以居少陽火之後也。客氣者，天氣也，在天為氣，動而不息，乃為天之陰陽，分司天在泉左右四間之六氣者是也。故三陽三陰之氣，更迭主時，而行天令，以加臨於主氣之上，而為一歲之變化。然客氣以陰陽先後之數為序，故太陰土所以居少陽火之前也。</p>
<p>客氣為先天之氣，主氣為後天之氣，先天而天勿違，後天而奉天時，故客氣有不時之加臨，而主氣則只當奉行天令耳。客氣加臨於主氣之上，但有客氣之勝，而無主氣之復，正以主氣奉行天令故也。</p>
<p>司天在上，在泉在下，中運居中，通主一歲，如司天克中運，謂之以上臨下，其病徐而微。假如庚午年，少陰君火司天，而中運屬金是也。運氣克司天，謂之以下臨上，其病暴而甚。假如丙子年，少陰君火司天，而中運屬水是也。上臨下為順，故病輕。下臨上為逆，故病重。在泉亦然。</p>
<p>張介賓《類經圖翼》，論運氣甚詳，此歌多集其義。</p>

<h2>天符歲會總歌</h2>
<p>天符中運同天氣，太乙全兼運會支，歲會運支須四正，辰戌丑未亦相宜，同天同歲泉同運，陰歲陽天不必疑。</p>
<p><u>解釋</u>　天符者，中運與司天相符也。如木運之歲，上見厥陰；火運之歲，上見少陽、少陰；土運之歲，上見太陰；金運之歲，上見陽明；水運之歲，上見太陽者是也。</p>
<p>太乙天符者，如戊午年，以火運火支，又見少陰君火司天，是天氣、運氣、歲支三者俱會，乃為太乙天符也。</p>
<p>歲會者，乃中運之氣，與歲支相同者是也。如木運臨卯，火運臨午，土運臨四季，金運臨酉，水運臨子，所謂歲會，氣之平也。不分陰年陽年，但取四正之支，與運相合，乃為四直承歲，四正支者，子午卯酉是也。如辰戍丑未四年，土無定位，寄旺於四時之末，各十八日有奇，則亦通論歲值也。</p>
<p>同天符，同歲會者，中運之氣，與在泉相合也。陽年曰同天符，陰年曰同歲會。如甲辰年陽土運，而太陰在泉，則為同天符。癸卯年陰火運，而少陰在泉，則為同歲會。</p>

<h2>又：天符歌</h2>
<p>執法天符十二年，若除太乙八年編（觀天符圖自明），丙辰丙戌兼丁巳，丁亥還同戊子聯，戊寅戊申更乙卯，中其邪者速危傳。</p>
<p><u>解釋</u>　《經》曰：「天符為執法」，共十二年。《經》曰：「中執法者，其病速而危。」以執法者之權重也。</p>

<h2>又：太乙天符歌</h2>
<p>太乙天符為貴人，戊午己丑己未辰，更同乙酉年凡四，若中其邪暴喪身。</p>
<p><u>解釋</u>　《經》曰：「太乙天符為貴人，中貴人者，其病暴而死」，以三氣皆傷故也。</p>

<h2>又：歲會歌</h2>
<p>經云歲會為行令，丙子年同丁卯春，又有甲辰與甲戌，中傷行令病徐循。</p>
<p><u>解釋</u>　歲會共計八年，而四年同於天符，是即太乙天符也，故止四年為真歲會。《經》曰：「歲會為行令，中其令者，其病徐而持。」以行令者之權輕也。</p>
<figure>
<img data-orig-src="urn:270:07534.jpg" alt="天符之圖">
</figure>
<figure>
<img data-orig-src="urn:270:07535.jpg" alt="歲會之圖">
</figure>
<figure>
<img data-orig-src="urn:270:07536.jpg" alt="同天符同歲會圖">
</figure>

<h2>司天在泉六淫治例</h2>
<p>風淫　治以辛涼，佐以苦甘。以甘緩之，以辛散之。</p>
<p>熱淫　治以鹹寒，佐以甘苦。以酸收之，以苦發之。</p>
<p>濕淫　治以苦熱，佐以酸淡。以苦燥之，以淡泄之。</p>
<p>火淫　治以鹹冷，佐以苦辛，以酸收之，以苦發之。</p>
<p>燥淫　治以苦溫，佐以甘辛。以苦下之。</p>
<p>寒淫　治以甘熱，佐以苦辛，以咸瀉之，以辛潤之，以苦堅之。</p>

<h2>六淫勝復治例</h2>
<p>寒者熱之　微（隨之，逆之）</p>
<p>熱者寒之　衰（補之）散（收之）燥（潤之）</p>
<p>溫者涼之　強（瀉之）結（散之）急（緩之）</p>
<p>涼者溫之　甚（制之、從之）</p>

<h2>六淫治法歌</h2>
<p>風淫於內治辛涼，佐以苦甘緩辛散。熱淫鹹寒佐甘苦，酸收苦發相參贊。濕淫苦熱佐酸淡，苦燥淡泄斯斷斷。火淫鹹冷佐苦辛，苦發酸收與熱貫。燥淫於內治苦溫，佐以甘辛苦下看。寒淫甘熱苦辛佐，咸瀉辛潤苦堅玩。治諸勝復當逆從，溫清寒熱醫毋亂，五臟苦欲補瀉法，大段相同微有判。此卷專為運氣言，不編雜法君須按。</p>
<p><u>解釋</u>　風乃陽邪，金能勝木，風淫於內，故治以辛涼。辛過甚，恐傷氣，故佐以苦甘，苦勝辛，甘益氣也。木性急，故以甘緩之。木喜條達，故以辛散之。水勝火，寒勝熱，熱淫於內，故治以鹹寒。甘勝咸，佐之以防其太過也。心苦緩，故以酸收之。熱鬱於內，故以苦發之也。苦熱能燥濕，酸木能制土，淡能利水，吳鶴皋曰：「使酸而非淡，則味厚滋濕矣。」泄者，滲利與汗也。鹹冷亦水勝火也，苦能泄熱，辛能散能潤。苦發酸收與治熱淫同。火能勝金，故治以苦溫。甘能致津，辛可潤燥，故佐以甘辛，燥熱內結，以苦瀉之可也。土能勝水熱能勝寒，故治以甘熱。苦而辛，亦熱品也。傷寒內熱者，以咸瀉之。腎苦燥，以辛潤之。腎欲堅，以苦堅之也。微者逆之，甚者從之。逆者，正治也。從者，反治也。《五常正大論》曰：「治熱以寒，溫而行之。治寒以熱，涼而行之。」此即「熱因寒用，寒因熱用」之謂。五臟苦欲補瀉治例，及五郁之法，與此六淫勝復之治，大段相同，而微有分別。但此卷專為運氣治法而設，故不編雜法，以滋擾亂也。</p>
