<header data-type="book">
<h1>醫學發明</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李杲</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1315">公元1315年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02093319.cn">北京大學圖書館掃描本</a>。電子文本整理自行政院中醫藥委員會94年文本CM035。</dd></div>
</dl>
</header>
<h2>醫學發明卷一  元  丹溪朱震亨著。</h2>
<h3>膈咽不通并四時換氣用藥法。</h3>
<p>黃帝鍼經云：胃病者，腹䐜脹，胃脘當心而痛，上支兩脇膈咽不通，食飲不下，取三里。夫咽者，嚥物之門戶也。膈者，上焦胸中心肺之分野，不通者，升降之氣，上不得交。又云：清氣在下則生飧泄，泄黃如糜，米穀不化者是也。濁氣在上則生䐜脹，腹中䐜滿不得大便，或大便難，或先結後溏皆是也。濁氣在上當降而不降者，乃腎肝吸人之陰氣，不得下而反在上也，胃氣逆上，或為嘔，或為吐，或為噦者，是陰火之邪上衝，而吸入之氣不得入，故食不下也，此皆氣衝之火逆，胃之脈反上而作者也，清氣在下則生飧泄者，胃氣未病之日，當上行心肺而營經也，因飲食失節，勞役形體，心火乘於土位，胃氣弱而下陷於陰中，故米毇入而不得升，反降而為飧泄也。膈咽之間，交通之氣，不得表裏者。皆衝脈上行，逆氣所作也。蓋胃病者，上支兩脇膈咽不通，飲食不下，取三里者是也，鍼經云：清濁相干，亂於胸中，是為大悗，悗者，惑也。氣不交通，最為急證，不急去之，諸變生矣。聖人治此有要法，陽氣不足，陰氣有餘，先補其陽，後瀉其陰，是先令陽氣升發在陽分，而後瀉陰也，春夏之月，陽氣在經，當益其經脈，去其血絡，秋冬陽氣降伏，當先治其藏府，若有噎有塞，塞者，五藏之所生，陰也，血也。噎者，六府之所生，陽也，氣也。二者皆由陰中伏陽而作也，今立四氣用藥并治法於後。</p>
<p>冬三月，陰氣在外，陽氣內藏，當外助陽氣，不得發汗，內消陰火，勿令泄瀉，此閉藏周密之大要也。盛冬乃水旺之時，水旺則金旺，子能令母實，肺者腎之母，皮毛之陽，元本虛弱，更以冬月助其令，故病者善啑，鼻流清涕，寒甚出濁涕，啑不止，比常人大惡風寒，小便數而欠，或上飲下便，色清而多，大便不調，夜寒無寐，甚則為痰咳，為嘔，為噦，為吐，為唾白沫，以至口開目瞪，氣不交通，欲絕者。</p>
<p>吳茱萸丸主之。</p>
<p>吳茱萸，草豆蔻仁（各一錢二分），橘皮，益智仁，人參，黃耆，升麻（各八分），澤瀉，白僵蠶，薑黃，柴胡（各四分），當歸身，炙甘草（各六分），木香（二分），青皮（三分），大麥蘗（一錢五分），半夏（一錢）。</p>
<p>右件為細末，湯浸蒸餅為丸，如綠豆大，細嚼三十丸，白湯送下，無時。</p>
<p>夏三月，大暑，陽氣在外，陰氣在內，以此病而值此時，是天助正氣，而挫其邪氣，不治而自愈矣。然亦有當愈不愈者，蓋陰氣極盛，正氣不能伸故耳，且如膈咽不通，咽中如梗，甚者前證俱作，治法當從時。利膈丸泄肺火，以黃耆補中湯送下，如兩足痿厥，行步恇然，欹側欲倒，臂臑如折，及作痛而無力，或氣短氣促而喘或不足以息，以黃耆，人參，甘草，白朮，蒼朮，澤瀉，豬苓，茯苓，橘皮等，作湯送下滋腎丸一百五十丸，六七月之間濕熱之令大行，氣短不能言者，加五味子，麥門冬。如下痞膨悶，食不下，以上件白朮蒼朮等湯，送下消痞丸五七十丸，更當審而用之。</p>
<p>利膈丸</p>
<p>主胸中不利，痰嗽喘促，脾胃壅滯。木香（七錢），檳榔（七分半），厚栱（薑製二兩）人參，藿香葉，枳實（麩炒），炙甘草，當歸（各二兩），大黃（酒浸焙秤二兩）。</p>
<p>右為細末，滴水和丸，或少用蒸餅亦可，如桐子大，每服三五十丸，食後諸飲下。</p>
<p>消痞丸。</p>
<p>治一切心下痞悶及積，年久不愈者。</p>
<p>黃連（去鬚揀淨炒六錢），黃芩（刮黃色六錢），薑黃，白朮（各一兩），人參（四錢），炙甘草（二錢），縮砂仁（三錢），枳實（麩炒黃色半兩），橘皮（四錢），乾生薑（二錢），半夏（湯洗七次四錢），麯（炒黃色二錢），一方加澤瀉，厚朴（各三錢），豬苓（二錢半）。</p>
<p>右為極細末，湯浸蒸餅為丸，如桐子大，每服五七十丸至百丸，白湯送下，食後服。</p>
<p>黃耆補中湯。</p>
<p>黃耆（一錢），人參（八分），炙甘草，白朮，蒼朮，橘皮（各半兩），澤瀉，豬苓，茯苓（各三分）。</p>
<p>右㕮咀，都作一服，水二盞煎至一盞，去滓，大溫送下上件丸藥。</p>
<h3>本草十劑。</h3>
<p>宣可以去壅，薑橘之屬是也，此大略言之。蓋外感六淫之邪，欲傳入裏，三陰尚實而不受逆，邪氣於胸中窒塞不通，而或噦或嘔，所謂壅也，仲景云：嘔多雖有陽明證，不可攻之，況乾噦者乎，三陰者脾也，故單用生薑，宣散必愈，若嘔者有聲而有物，邪在胃系，未深入胃中，以生薑橘皮治之，或以霍香丁香半夏，亦此之類投之，必愈。此天分氣分虛無處，一無所受，今乃窒塞，仲景謂，膈之上屬上焦，悉屬於表，或有形質之物，因而越之則可，若氣壅則不可越之者，吐也。亦無下之理，破氣藥也。辛瀉氣，若陰虛穢氣逆上，窒塞嘔噦，不足之病，此地道不通也，止當用生地黃，當歸，桃仁，紅花之類，和血涼血潤血，兼用甘藥以補其氣，微加大黃芒硝以通其閉，大便利，邪氣去，則氣逆嘔噦自不見矣，復有胃中虛熱，穀氣久虛，發而為嘔噦者，但得五穀之陰以和之，五穀皆屬陰，或食或飲，白湯皆止嘔噦，則嘔噦自止，且如小兒斑後，餘熱不退，痂不收歛，大便不行，一謂血燥，則當以陰藥治血，因而補之，用清涼飲子，通利大便，而瀉其熱也。潔古云：涼風至而草木實，夫清涼飲子，乃秋風徹熱之劑，傷寒家，邪入於裏，日晡潮熱，大渴引飲，譫語躁狂，不大便，是謂胃實，乃可攻之。夫胃氣為濕熱所傷，以承氣湯瀉其土實，元氣乃得周流，承氣之名，於此見矣。今衰世人，以苦瀉火，故備陳之除熱瀉火非甘寒不可，苦寒瀉火，非徒無益，而反害之，故諄諄及此，至如孫真人言，生薑嘔家之聖藥，謂上焦氣壅，表實而言之，非以瀉氣而言之也。</p>
<p>若脾胃虛弱，穀氣不行，榮衛下流，清氣不上，胸中閉塞，惟益胃，推揚穀氣而巳，不宜瀉也，若妄以瀉氣瀉血藥下之，下之則轉增閉塞疼痛，或變作結胸，復下其膈，由此致危者多矣，鍼經說，阿欠噦唏，振寒噫啑，嚲涕淚出，太息，涎下，耳中鳴，自齧舌，頰唇視生，病者補之，此十二邪者，皆奇邪之走空竅者也，凡邪之所在，皆為不足，宜補而不宜瀉，空竅者，胃之清氣能通也，胃氣虛，則穀氣不上行，是氣路不利，經云：廉泉玉英者，津液之道路也，津液不上，胸中氣路不開，亦令人噦，勿作外實，辛（幸）藥生薑之類，瀉其壅滯，蓋肺氣已虛，而反瀉之，是重瀉其氣，必胸中如刀劙之痛，與正結胸無異，亦聲聞于外，用藥之際，可不慎哉。</p>
<p>通可以去滯，通草防巳之屬是也。防巳大苦寒，能瀉血中大熱之滯也，亦能瀉大便，與大黃氣味同者，皆可瀉血滯，豈止防巳而已，通草甘淡，能助西方秋氣下降，利小便，專瀉氣滯也，小便氣化，若熱絕津液之源於肺，經源絕則寒水斷流，故膀胱受濕熱，津液癃閉，約縮小便不通，宜以此治之。其脈右寸洪緩而數，左尺亦然，其證胸中煩熱，口燥，舌乾咽嗌亦乾，大渴引飲，小便淋瀝，或閉塞不通，脛朘腳熱，此通草主之，凡與通草同者，茯苓，澤瀉，通草，豬苓，琥珀，𧄒麥，車前子之類，皆可以滲泄，利其滯也，此雖泄氣滯，小便不利，於肺中有所未盡爾，予昔寓長安，有王善夫，病小便不通，漸成中滿，腹大堅硬如石，壅塞之極，腳腿堅脹，破裂出黃水，雙睛凸出，晝夜不得眠，飲食不下，痛苦不可名狀，其親戚輩求治，病人始病不渴，近添嘔噦，所服治中滿，利小便之藥甚多，細思素問云：無陽者，陰無以生，無陰者，陽無以化，膀胱，津液之府，氣化乃能出矣。此病小便癃閉，是無陰，陽氣不化者也。凡利小便之藥，皆淡味滲泄為陽，止是氣藥，謂稟西方燥金之化，自天降。地是陽中之陰，非北方寒水，陰中之陰所化者也。此蓋奉養太過，膏梁積熱，損北方之陰，腎水不足，膀胱腎之室，久而乾涸，小便不化，火又逆上而為嘔噦，非膈上所主也，獨為關，非格病也。潔古曰：熱在下焦，填塞不便，是治關格之法。今病者，內關外格之證悉具，死在旦夕。但治下焦乃可愈，遂處以稟北方之寒水所化，大苦寒氣味者。</p>
<p>黃柏，知母（各二兩），酒洗之，以肉桂為之引，用所謂寒因熱用者也。同為極細末，煎熟水為丸，如桐子大，焙乾，空腹。令以沸湯下二百丸，少時來報，藥服須臾，如刀刺前陰，火燒之痛，溺如瀑泉湧出，臥具盡濕，床下成流，顧盻之間，腫脹消散，故因記之。或曰：防己之性若何？曰：防己大苦寒，能泄血中之濕熱，通血中之滯塞，補陰瀉陽，助秋冬，瀉春夏藥也。比之於人，則險而健者也。險健之小人，幸災樂禍，遇風塵之警，則首為亂階然，而見善亦喜，逢惡亦怒，如善用之，亦可以敵兇暴之人，保險固之地，此瞑眩之藥，聖人有存而不廢耳。大抵聞其真則可惡，下咽則令人身心為之煩亂，飲食為之減少，至於十二經有濕熱壅塞不通，反治下疰腳氣，除膀胱積熱，而庇其基本，非此藥不可，真行經之仙藥，無可代之者。復有不可用者數事，若遇飲食勞倦，陰虛生內熱，元氣穀氣已虧之病，以防巳泄大便，則重亡其血，此不可用一也，如人大渴引飲，是熱在上焦肺經氣分，宜淡滲之。此不可用二也，若人久病津液不行，上焦虛渴，宜補以人參葛根之甘溫，用苦寒之劑則速危，此不可用三也。若下焦有濕熱，流入十二經，致二陰不通，然後可審而用之耳。</p>
<p>補可以去弱，人參羊肉之屬是也。夫人參之甘溫，能補氣之虛，羊肉之甘熱，能補血之虛，羊肉有形之物也，能補有形肌肉之氣，凡氣味與人參羊肉同者，皆可以補之，故云屬也。人參補氣，羊肉補形，形氣者，有無之象也。以大言之，具天地兩儀者也，以小言之，則人之陰陽氣血也。以之養生，則莫重於斯，以天地物類論之，則形者，坤土也。人之脾胃也，乃生長萬物也，地欲靜，靜則萬物安，坤元，一正之土，亙古不遷者也，耕種之土，乃五行運用者也，動之有時，春耕是也，若冬時動之，令天氣閉藏者，泄地氣凝聚者，散精氣竭絕，萬化不安，亦如人之勞役形體，則大病生焉。故曰：不妄作勞則明，當靜之時，若勞役妄作，則百脈爭張，血脈沸騰，精氣竭絕，則九竅閉塞，衛氣散解，夫以人參甘草之類，治其已病，曷若救其未病，為拔本塞源之計哉，內經云：志閑少欲，飲食有節，起居有常，減其思慮，省語養氣，庶幾於道，何病之有，如或不慎，病形已彰，若能調其脾胃，使榮氣旺，清氣上升，則四藏各得其所，以氣論之，天地人三焦之氣各異，損其脾者，益其氣，損其脾胃，調其飲食，適其寒溫，黃耆之甘溫，能補皮毛之氣，人參之甘溫，能補肺之氣，甘草之甘溫，能補脾胃之中，經營之氣，肺主諸氣，氣旺則精自生形自盛，血氣以平。故曰：陽生則陰長，此之謂也，血不自生，須得生陽氣之藥，血自旺矣。是陽主生也，若陰虛，單補血，血無由而生，無陽故也。仲景人參為補血藥，其以此歟，乃補氣補血之大略也。</p>
<p>洩可以去閉，葶藶大黃之屬是也。此二味皆大苦寒。氣味俱厚。不減大黃，又性過於諸藥，以泄陽分，肺中之閉也，亦能泄大便，為體輕象陽故也，大黃之苦寒，能走而不守，泄血閉也，血閉者，謂胃中粗穢，有形之物閉塞者也，陽明病，胃家實是也，日晡潮熱，大渴躁作，有形之熱，故泄其大便，使通和汗出而愈矣。一則治血病，泄大便，一則泄氣閉，利小便，若經絡中及皮毛分肉間，但有疼痛，一概用牽牛大黃下之，乖戾甚矣。通則不痛，痛則不通，痛隨利減，當通其經絡，則疼痛去矣。如輕可以去實，麻黃葛根之屬是也。謂如頭痛，當以細辛川芎之類通之，則無所凝滯，即痛隨利減也。臂痛有六道經絡，究其痛在何經絡之閉，以行本經，行其氣血，氣血通利則愈矣。若表上諸疼痛，便下之，則不可。當詳細而辨之也。</p>
<p>輕可以去實，麻黃葛根之屬是也。夫六淫有餘之邪，客於陽分，皮毛之間，腠理閉拒，謂之實也。實者，榮衛氣血不行之謂也。宜以輕利開腠理，致津液通氣也。皮毛經絡寒邪之實去矣。故二藥之體，輕清成象，象氣之輕浮也。寒邪為實，輕可以去之，然大同而小異，蓋麻黃微苦，為陰之陽，可入足太陽寒水之經，其經循背下行，本寒而又受外寒，汗出乃愈。當以發之，葛根味甘溫，可以發足陽明燥火之經，身已前所受寒邪也。非正發汗之藥，謂陽明禁發汗，利小便，但解去經絡肌肉間寒邪，則氣和汗自出矣。麻黃專發汗，去皮毛氣分寒邪，葛根和解血分寒邪，乃一陰一陽，能瀉表實，不能瀉裏實，若飲食勞倦雜病，自汗表虛之證，認作有餘便用麻黃發之，汗大出則表益虛，此蓋不知表虛宜補，其亡陽閉其自汗，秋冬用桂枝，春夏用黃耆代之，黃耆者，能治虛勞自汗，陽明摽病者也，陽明胃，主自汗，小便數，若以人參甘草之補，補之脾胃實，脾胃實則衛氣行，衛氣行則表自實，表既實，自汗何由而出，清氣上行，雖飧泄亦止矣。此治其本也。葛根雖為和解之藥，亦不可用，用之則重虛其表，仲景所論，內外不足，自汗之證，大禁發汗，利小便。若已經發寒汗，寒邪未去，雖發汗數多，不可禁也。寒邪已云（去），重發其汗，則脫人元氣，若多汗小便赤澀不得利，小便為汗奪津液故也，汗家不得重發汗，小便多不得發汗，汗多不得利小便，小便多不得重利小便，聖人所以切禁此者，為津液乃氣血之基本也，一云亡陽，一云脫血，病人重發汗，重利小便，必脫元氣，七神無依，則必危困矣。因辨麻黃葛根之宜禁，故兼及之。</p>
<h3>中風同從高墜下。</h3>
<p>夫從高墜下，惡血留於內，不分十二經絡，聖人俱作風中，肝經留於脇下，以中風療之，血者皆肝之所主，惡血必歸於肝，不問何經之傷，必留於脇下，蓋肝主血故也，痛甚則必有自汗，但人有汗出皆為風證，諸痛皆屬於肝木，既敗血凝沍，從其屬，入於肝也，從高墜下，逆其上行之血氣，非肝而何，非傷風無汗，既自汗，必是化也，破血行經之藥治之。</p>
<p>傷元活血湯。</p>
<p>治從高墜下，惡血留於脇下，及疼痛不可忍。</p>
<p>柴胡（半兩），蔞根，當歸（各三錢），紅花，甘草，山甲（炮各二錢），大黃（酒浸一兩），桃仁（酒浸去皮尖研如泥五十箇）。</p>
<p>黃帝鍼經云：有所墮墜，惡血留內，若有所大怒，氣上而不行，下於脇，則傷肝，肝膽之經俱行於脇下，經屬厥陰少陽，宜以柴胡為引，用為君，以當歸和血脈，又急者，痛也。甘草緩其急，亦能生新血，甘生血，陽生陰長，故也為臣，川山甲，瓜蔞根，桃仁，紅花，破血潤血為之佐，大黃酒製，以盪滌敗血為之使，氣味和合，氣血各有所歸，痛自去矣。右件除桃仁外，挫如麻荳大，每服一兩，水一盞半，酒半盞，同煮至七分，去滓，大溫服之，食前。以利為度，得利痛減，不盡服。</p>
<p>乳香神應散。</p>
<p>治從高墜下，疼痛不可忍，及腹中疼痛。</p>
<p>乳香，沒藥，雄黑豆，桑白皮，獨科栗子（各一兩），破故紙（二兩炒香）。</p>
<p>右為細末，每服半兩，醋一盞，於砂石器內煎至六分，入麝香少許，去滓溫服。</p>
<p>當歸導滯散。</p>
<p>治落馬墜車，打撲損傷，瘀血，大便不通，紅腫青黯，疼痛昏悶，畜血內壅欲死。</p>
<p>川大黃（一兩），川當歸（一分），麝香（少許）。</p>
<p>右三味，除麝香另研外，為極細末，研勻，每服三錢，熱酒一盞調下，食前內，瘀血去，或骨節折疼痛不可忍，以定痛接骨紫金丹治之。</p>
<p>紫金丹。</p>
<p>川烏頭（炮），草烏頭（炮各一兩），五靈脂，木鱉子（去殼），骨碎補，葳靈仙，金毛狗脊，自然銅（醋焠七次），防風，地龍（去土），烏藥，青皮（去白），陳皮（去白），茴香，黑牽牛（各半錢），乳香，沒藥，紅娘子，麝香（各二錢半），禹餘糧石（醋炒四兩）。</p>
<p>右為細末，醋麵糊為丸，如桐子大，每服十丸至二十丸，酒調下，病在上，食後。病在下，食前。</p>
<p>聖靈丹。</p>
<p>治打撲損傷，及傷折疼痛不可忍者。</p>
<p>乳香（半兩），烏梅（去核五箇），萵苣子（一大盞炒黃取二兩八錢），白米（一捻）。</p>
<p>右為細末，煉蜜和丸，如彈子大，每服一丸，細嚼，熱酒送下，喫子，一伏時不痛，如痛再服。</p>
<p>凡衛氣留於腹中，積蓄不行，脈弦急，及腹皮急⿱艹⿱宀死蘊不得常所，支脇胃中滿，喘呼逆息者。</p>
<p>調中順氣丸。</p>
<p>治三焦痞滯，水飲停積，脇下虛滿，或時刺痛。</p>
<p>木香，白豆蔻仁，青皮（去白），陳皮（去白），京三稜（炮各一兩），大腹子，半夏（湯洗七次各二兩），縮砂仁，檳榔，沉香（各半兩）。</p>
<p>右為細末，水糊為丸，如桐子大，每服三十丸，漸加至五十丸，煎陳皮湯下。</p>
<p>沉香導氣散。</p>
<p>治一切氣不升降，脇肋刺痛，胸膈閉塞。</p>
<p>沉香，檳榔（各二錢半），人參，訶子肉，大腹皮（剉炒各半兩），烏藥（剉），麥蘗（炒），白朮，神麯炒，厚朴（薑製），紫蘇葉（各一兩），香附（炒一兩半），薑黃，紅皮，炙甘草（各四兩），京三稜（炮），廣茂（炮），益智仁（各二兩）。</p>
<p>右為極細末，每服二錢，食前沸湯點服。</p>
<p>清氣在下則生飧泄，濁氣在上則生䐜脹，此陰陽反作，病之逆從也，飲食失節則為脹，又濕熱亦為脹，右關脈洪緩而沉弦，脈浮於上，是風濕熱三脈合而為病也，是脾胃之令不行，陰火亢甚，乘於脾胃，故膈咽不通，致濁陰之氣不得下降，而大便乾燥不行，胃之濕，與客陰之火俱在其中，則脹作，使幽門通利，泄真陰火，潤其燥血，生益新血，則大便不閉，吸門亦不受邪，濁陰得下歸地也。經云：中滿者泄之於內，此法是也。</p>
<p>木香順氣湯。</p>
<p>治濁氣在上則生䐜脹。</p>
<p>木香（三分），厚朴（薑製四分），青皮（去白），陳皮，益智仁，白茯苓（去皮），澤瀉，乾生薑，半夏（湯洗），吳茱萸（湯洗各二分），當歸（五分），升麻，柴胡（各一分），草豆蔻（麵裹燒去皮三分），蒼朮（泔浸三分）。</p>
<p>右㕮咀，都作一服，水二大盞，煎至一盞，去滓，大溫服，食前，忌生冷硬物及怒。經云：留者行之，結者散之，以柴胡升麻苦平，行少陽陽明二經，發散清氣，運行陽分為君，以生薑，半夏，草豆蔻仁，益智仁，辛甘大熱，消散中寒為臣，厚朴，木香，蒼朮，青皮，苦辛大溫，通順滯，當歸，人參，陳皮，辛甘溫，調和榮衛，滋養中氣，濁氣不降，以苦泄之。吳茱萸，苦熱泄之者也。氣之薄者，陽中之陰，茯苓甘平，澤瀉鹹平氣薄，引導濁陰之氣自天而下，故以為佐，氣味相合，散之泄之，上之下之，使清濁之氣，各安其位也。</p>
<p>范天騋夫人，先因勞役飲食失節，加之憂思氣結，病心腹脹滿，旦食則不能暮食，兩脇刺痛，診其脈弦而細，至夜濁陰之氣當降而不降，䐜脹尤甚，大抵陽主運化，飲食勞倦，損傷脾胃，陽氣不能運化精微，聚而不散，故為脹滿，先灸中脘，乃胃之募穴，引胃中生發之氣上行陽道，又以前藥助之，使濁陰之氣自此而降矣。</p>
<p>沉香交泰丸。</p>
<p>治濁氣在上而擾清陽之氣，鬱而不伸以為䐜脹。</p>
<p>沉香，白朮，陳皮（去白各三錢），枳實（麩炒去穰），吳茱萸（湯洗），白茯苓（去皮），澤瀉，當歸（洗），木香，青皮（去白各二錢），大黃（酒浸一兩），厚朴（薑製半兩）。</p>
<p>右件各揀淨，同為細末，湯浸蒸餅為丸，如桐子大，每服五十丸至七八十丸，溫白湯下，食前微利即止。</p>
<h3>嘔欬氣喘。</h3>
<p>所謂嘔欬上氣喘者，陰氣在下，陽氣在上，諸陽氣浮無所依從，故嘔欬上氣喘也。</p>
<p>加減瀉白散。</p>
<p>治陰氣在下，陽氣在上，咳嗽嘔吐，喘促。</p>
<p>桑白皮（一兩），地骨皮（七錢），甘草，陳皮，青皮（去白），五味子，人參（去蘆各半兩），白茯苓（三錢）。</p>
<p>右件㕮咀，每服四錢，水一盞半，入粳米十粒，同煎至一盞，去滓大溫服，食後。</p>
<p>神秘湯。</p>
<p>治病人不得臥，臥則喘者，水氣逆上乘於肺，肺得水而浮，而使氣不通流，其脈沉大，宜此治之。</p>
<p>橘皮（洗），生薑，紫蘇葉，人參，桑白皮（剉炒各半兩），木香，白茯苓（去皮各三錢）。</p>
<p>右㕮咀，以水三升，煎至一升，去滓，大溫，分三服。</p>
<p>加減三奇湯。</p>
<p>治咳嗽上氣，痰唌喘促，胸膈不利。</p>
<p>桔梗（去蘆半兩），半夏（湯洗七錢），陳皮（去白），甘草，青皮（去白），人參（去蘆各半兩），杏仁（三錢研），五味子（四錢），加紫蘇葉，桑白皮（各半兩）。</p>
<p>右㕮咀，每服四錢，水二大盞，生薑三片，煎至一盞，去滓，大溫服，食後。</p>
<h3>飲食勞倦論。</h3>
<p>古之至人，窮於陰陽之化，究乎生死之際，所著內經，悉言人以胃氣為本，人受水穀之氣以生，所謂清氣，營氣，運氣，衛氣，春升之氣，皆胃氣之別稱也，夫胃為水穀之海，飲食入胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行，合於四時五藏，陰陽揆度以為常也，苟飲食失節，寒溫不適，則脾胃乃傷，又喜怒憂恐，損耗元氣，既脾胃氣衰，元氣不足而心火獨盛，心火者，陰火也。起於下焦，其系繫於心，心不主，令相火代之，相火，下焦包絡之火，元氣之賊也，火與元氣不兩立，一勝則一負，脾胃氣虛則下流於腎肝，陰火得乘其上位，故脾胃之證，始得之則氣高而喘，身熱而煩，其脈洪大而頭痛，或渴不止，其皮膚不任風寒而生寒熱，蓋陰火上衝則氣高喘而煩熱，為頭痛，為渴，而脈洪，脾胃之氣下流，使穀氣不得升浮，是春生之令不行，則無陽以護其榮衛，故不任風寒，乃生寒熱，此皆脾胃之氣不足所致也，然而外感風寒所得之證頗同而實異，內傷脾胃乃傷其氣，外感風寒乃傷其形，傷其外為有餘，有餘者瀉之，傷其內為不足，不足者補之。汗之下之，吐之剋之之類皆瀉也，溫之和之，調之養之之類皆補也，內傷不足之病，苟誤認作外感有餘之病，而反瀉之，則虛其虛也，實實虛虛，損不足而補有餘，如此死者，醫殺之耳，然則奈何？曰：惟當以辛甘溫之劑，補其中而升其陽，甘寒以瀉其火則愈矣。勞者溫之，損者溫之，溫能除大熱，大忌苦寒之藥瀉其土耳，今立</p>
<p>補中益氣湯主之。</p>
<p>黃耆（五分，病甚勞役熱甚者一錢），當歸身（二錢，酒焙乾或日乾以和血脈），人參（去蘆三錢，有嗽去之），白朮（三分以調中氣），柴胡（二分，引清氣上升行少陽之經），炙甘草（五分），升麻（二分，引胃氣上升而復其本位，便是行春升之令），橘皮（三分，以導滯氣又能益元氣，得諸甘藥乃可，若獨用瀉胃氣），一方加白芍藥，黃柏，紅花。</p>
<p>右件㕮咀，都作一服，水二盞煎至一盞，去柤，大溫服，食遠。</p>
<p>夫脾胃虛者，因飲食勞倦，心火亢甚，而乘其土位，其次肺氣受邪，須用黃耆最多，甘草人參次之，脾胃一虛，肺氣先絕，故用黃耆以益皮毛而閉腠理，不令自汗損其元氣，上喘氣短，人參以補之。心火乘脾，須炙甘草之甘以瀉火熱，而補脾胃中元氣，若脾胃急痛并大虛，腹皮急縮者。最宜多用。急者緩之，胃中清氣在下，必加升麻柴胡以引之，引黃耆甘草上升，能補衛氣之散解，以緩帶脈之縮急，二味苦平味薄者，陰中之陽，而引清氣上升也。黃耆，人參，甘草三味皆甘溫為主，凡脾胃虛乃必用之藥，氣亂於胸，為清濁相干，用去白橘皮以理之，又能助陽氣之升以散滯氣，助諸甘辛為用也。口乾嗌乾者，加葛根。脾胃氣虛不能升浮，為陰火傷其生發之氣，榮血大虧，營氣不營，陰火熾盛，是血中伏火日漸煎熬，血氣日淢，心包與心主血，血減則心無所養，致使心亂而煩，病名曰悗。悗者，心惑而煩悶不安也。故加辛溫甘溫之劑生陽，陽生則陰長，或曰甘溫何能生血？云：仲景之法，血虛以人參補之，陽旺則能生陰血，更加當歸和之，又宜加黃柏以救腎水，能瀉陰中之伏火，如煩猶不止，少加生地黃，補腎水，水旺而心火自降，如氣浮心亂，以</p>
<p>硃砂安神丸鎮固之則愈。</p>
<p>硃砂（半兩，另研水飛陰乾秤），黃連（去鬚，揀淨酒洗，秤六錢），炙甘草（五錢半），生地黃（二錢半），當歸（去蘆二錢半）。</p>
<p>右件四味為細末，另研硃砂，水飛如塵，陰乾為衣，湯浸蒸餅為丸如黍米大，每服十五丸，津唾嚥之，食後。熱淫所勝，治以甘寒，以苦瀉之，以黃連之苦寒，去心煩除濕熱為君，以甘草生地黃之甘寒，瀉火補氣滋生陰血為臣，以當歸補其血不足，硃砂納浮溜之火而安神明也。</p>
<h3>四時用藥加減法：</h3>
<p>長夏濕土，客邪大旺，加蒼朮，白朮，澤瀉，上下分消其濕熱之氣，濕熱大勝，主食不消，故食減不知穀味，則加麯以消之，加五味子，麥門冬，助人參瀉火，益肺氣助秋損也，在三伏中為聖藥。</p>
<p>填塞咽喉，陽氣不得出，病名曰塞，陰氣不得降，病名曰噎。噎塞迎逆於咽喉胸膈之間，令諸經周身陽氣不行，令人口開目瞪氣欲絕者，何也？清氣在陰，濁氣在陽，清濁相干，亂於胸中，是為大悗，夏月加青皮，陳皮，益智，黃柏，泄陰火之上逆，或以消痞丸，滋腎丸，各七八十丸則愈，冬月加吳茱萸，大熱大辛苦之味以瀉陰寒之氣則愈，食不消則加炒麯，空心，約宿食消盡服之，待少時，以美膳壓之，不令胸中停留也，食不下乃胸中有寒，胃上有寒，或氣寒澀滯，加青皮，陳皮，木香，此三味為定法。</p>
<p>冬月加益智仁，草豆蔻仁，夏月少加黃芩，黃連，秋更加檳榔，草豆蔻仁，縮砂仁，白豆蔻仁，如春初猶寒，更少加辛熱之劑，以補春氣之不足，為風藥之佐，益智，草豆蔻可也。</p>
<p>冬月咳嗽者，加不去節麻黃五分，如秋涼亦加，如春月天溫，只加佛耳草款冬花各三分，若痰嗽久病，肺中伏火者，去人參，防痰嗽增益耳。然調和陰陽血氣之際，甘溫為必用之藥，脈洪大兼見熱證，少加黃芩，黃連，生地黃，甘草，脈緩顯沉困，怠墮無力者，濕勝也。加蒼朮，澤瀉，人參，白伏苓，五味子，脈澀，氣滯澀者，加當歸身，木香，天門冬，青陳皮，覺寒者加桂枝，黃耆。不足，病雖見熱證，須加寒熱藥，不宜多以從權，頭痛有痰，沉重懶倦者，乃太陰痰厥頭痛，加半夏五分，生薑三二分，若更煩亂，如腹中或周身有刺痛，皆血澀不足，加當歸身，脇下急或痛甚，俱加柴胡，甘草，人參，腹中氣上逆者，衝脈逆也，加黃柏三分，黃連二分以瀉之，多唾或唾白沬，胃口上停，寒也。加益智仁，如少氣不足以息，服正藥二三服，猶氣短促，此膈上及皮表間有寒所遏，當引陽氣上升則愈，多加羌活，獨活，升麻，柴胡，藁本次之黃耆倍之，捫之而肌熱者，表證也。只服正藥一二服，得微汗則已，躁熱作蒸，蒸而熱者，腎間伏火上騰也，加黃柏，生地黃各三分，腳膝痿軟，行步乏力或痛，乃腎肝伏熱，少加黃柏，空心服。如不愈更加漢防己五分則愈，使腳膝中氣力湧出矣。脈緩有痰而痞，加半夏，黃連，脈弦四肢滿悶，便難，而心下痞，加黃連，柴胡，甘草，大便秘躁，心下痞，加黃連，桃仁，少加大黃，當歸身，心下痞夯悶者，加白芍藥，黃連，心下痞，腹脹，加五味子，白芍藥，縮砂仁，如天寒，少加乾薑，或中桂，心下痞，覺中寒，加附子，黃連，心下痞加黃連，生薑，橘皮，冬月加黃連，木香，藿香葉，能食而心下痞，加黃連五分，枳實三分，胸中氣滯，加去白青皮，嗌痛頜腫，脈洪大，面赤者，加黃芩，桔梗，甘草。耳鳴，目黃，頰頜腫，頭肩臑肘臂外後廉痛，面赤，脈洪大者，以羌活，防風，甘草，藁本以通其經血，加黃芩，黃連消其腫，人參，黃耆，益元氣而瀉火邪，如脈緊面白喜嚏，或面色惡者，皆寒也。亦羌活等四味中加之，當瀉足太陽也，不用寒藥。小便遺失，肺金虛也。宜安臥養氣，以黃耆人參之類補之，不愈是有熱也，加黃柏，生地黃，切禁勞役，臥而多驚，小便淋溲者，邪在少陽厥陰，亦宜太陽經所加之藥，更添柴胡半錢，如淋加澤瀉半錢，以下焦風寒合病也。腎肝之病同一治為，俱在下焦，非風藥行經則不可，乃受客邪之濕熱也，宜升舉發散以除之，頭痛加蔓荊子半分，痛甚加川芎二分，頂痛腦痛加藁本三分，若苦頭痛加細辛二分，諸頭痛併用此四味足矣。臍下痛者加熟地黃三分，不已者，大寒也。其寒從傳變中來，加肉桂三分，偏閱內經，少腹痛皆寒，非傷寒厥陰之證也，仲景以抵當湯丸主之，乃血結下焦膀胱，身有疼痛，及身重者，濕也。以五苓散主之，如風濕相摶，一身盡痛，加羌活防風各五分，升麻柴胡各五分，藁本蒼朮各一錢，所以然者，為風藥也。能勝濕，故另作一服與之，肩背痛汗出小便數而久者，風熱乘肺，肺氣鬱甚也，當瀉風熱則愈，以</p>
<p>人參益肺散主之。</p>
<p>柴胡，升麻，黃耆（各一錢），羌活，防風，人參，甘草，陳皮（各五分），藁本（三分），青皮，黃芩，白豆蔻仁（各二分）。</p>
<p>右㕮咀，都作一服，水二盞煎至一盞，去滓溫服，食後。如面色白，脫色氣短者，不可服。</p>
<p>肩背痛不可迥顧者，此手太陽氣鬱而不行，以風藥散之，脊痛項強，腰似折項似拔者。此足太陽經不通行，以</p>
<p>通氣防風湯主之。</p>
<p>羌活，獨活（各一錢），藁本，防風，甘草（各五分），川芎，蔓荊子（各三錢）。</p>
<p>右㕮咀，都作一服，水二盞煎至一盞，去滓溫服，空心。如身重，腰沉沉然，經中有寒濕也，更加酒洗漢防己五分，輕者附子，重者川烏頭，腹中痛不惡寒，加黃芩芍藥，腹中痛惡寒而脈弦者，小建中湯。如脈沉細者，理中湯之類主之。腹痛在寒涼時，加半夏，益智，草豆蔻之類。</p>
<p>胃脘當心而痛，氣欲絕者，胃虛之極也。俗言心痛以</p>
<p>草豆蔻丸主之。</p>
<p>草豆蔻（一錢四分，麵裹燒熟，去皮臍秤），吳茱萸（湯洗去苦焙秤），益智仁，陳皮，白僵蠶，黃耆，人參（各八分），生甘草，炙甘草，當歸身，青皮（各六分），神麯末，薑黃（各四分），桃仁（去皮尖湯浸七箇），澤瀉（一錢小便數減半），半夏（湯洗七次一錢），大麥蘗（炒黃錢半），柴胡（四分詳脇下痛多少用之）。</p>
<p>右一十八味，除桃仁另研如泥外，為極細末同研勻，湯浸蒸餅為丸，如桐子大，每服三十丸，熱白湯送下，食遠。旋斟酌多少用之。</p>
<p>夫脾胃之證，始則熱中，終則寒中，陰盛生內寒，厥氣上逆，寒氣積於胸中，是腎水反來侮土，此所謂勝者妄行也，作中滿腹脹，作涎，作清涕，或多溺，足下痛不能任身履地，骨乏無力，喜睡，兩丸多冷，時作陰陰而痛，或妄見鬼狀，夢亡人，腰背脾眼腰脊皆痛，而不渴不瀉，不渴不瀉則溫氣去寒獨留，寒獨留則血凝沍，血凝沍則脈不通，故其盛脈大以濇，曰寒中，當以</p>
<p>白朮附子湯主之。</p>
<p>白朮，附子（炮去皮臍），蒼朮，陳皮，厚朴（薑製），半夏（湯洗七次），茯苓，澤瀉，豬苓（去皮半兩），肉桂（四錢）。</p>
<p>右件剉如麻豆大，每服半兩，水三盞，生薑三片，同煎至一盞，去滓，食前溫服，量病人虛實加減多少。</p>
<h3>滑脈生癲疝。</h3>
<p>丁香練實丸。</p>
<p>治男子七疝，痛不可忍，婦人瘕聚帶下，皆任脈所主陰經也，乃腎肝受病，治法同歸於一。</p>
<p>當歸（去蘆剉碎），附子（炮製去皮臍剉），川楝子（剉碎），茴香（炒）。</p>
<p>右四味，各一兩剉碎，以好酒三升同煎，酒盡為度，焙乾作細末，每秤藥末一兩，再入下項。</p>
<p>丁香，木香（各二錢），全蝎（十二箇），玄胡（一兩）。</p>
<p>右四味同為細末，入在前項當歸等藥末內，拌和酒糊為丸，如桐子大，每服三十丸至一百丸，溫酒送下，空心食前，凡疝氣帶下者，皆屬於風，全蝎治風之聖藥，茴香川練子皆入小腸經，當歸玄胡和血止痛，疝氣帶下皆積寒邪入小腸之間，故以附子佐之，丁香木香為引導也。</p>
<p>天台烏藥散。</p>
<p>天台烏藥，木香，茴香，青皮（去皮），良薑（炒各半兩），檳榔（剉二箇），川練子（十箇），巴豆（七十粒）。</p>
<p>右八味，先以巴豆微打破，同練子用麩炒，候黑色豆麩不用，外為細末，每服一錢，溫酒送下，疼甚者炒生薑熱酒下亦得。</p>
<p>茴香練實丸。</p>
<p>川楝子（炒），茴香，山茱萸，食茱萸，吳茱萸（湯洗），青橘皮（去白），陳皮，馬藺花（醋炒），芫花（各一兩）。</p>
<p>右為極細末，醋糊為丸如桐子大，每服三十丸，溫酒送下，食前，量人虛實加減丸數，以利為驗。</p>
<p>川苦楝散。</p>
<p>木香（一兩，另為細末），茴香（揀淨一兩，鹽一匙，一處炒茴香，黃色，去鹽不用），川練子（一兩，剉碎用，巴豆一十箇，微破皮，與川練子一處，炒黃，不用巴豆）。</p>
<p>右件為極細末，每服二錢，溫酒一盞調下，空腹。大抵此疾因虛得之，不可以虛而驟用補藥，邪之所湊，其氣必虛，留而不去，其病則實，故必先滌所蓄之邪，然後補之，是以諸方多借巴豆氣者，蓋為此。</p>
<h3>瀉之則脹已，汗之則瘡已。</h3>
<p>東南二方者，在人則為丙小腸熱，甲膽風，小腸與膽皆居其下，其性炎上，其瘡外有六經之形證，內無便溺之阻膈，飲食如故，清便自調，知不在裏，非疽瘡也，止癰癤也，小則為癤，大則為癰，其邪所受於下風濕之地，氣自外而來，侵加於身者也。經云：營氣不從，逆於內理，乃生癰腫，諸痛痒瘡，皆屬心火。此瘡自外而入，是丙小腸左遷入於膽作痛而為痒也，此二方皆主血，血為病必痛，此元氣不足，營氣逆行，其瘡初出，未有傳變，在於肌肉之上，皮毛之間，只於風熱六經所行經絡，地分出矣。宜瀉其風濕熱，醫者只知陰覆其陽則汗也，此宜發汗者，乃濕熱鬱其手足少陽，致血脈凝逆，使榮衛周身元氣消弱也，其風熱鬱滯于下，其面色必赫赤而腫，微黯色（東方青，埋沒之色也），風木之性上衝，顏必忿色，其人多怒，其瘡之色亦赫赤腫硬，微脈止色，其瘡之形勢亦奮然高起，結硬而作痛也，其滯黯在左手，左手主表，左寸外洪緩，左關洪緩而弦，是客邪在於血脈之上，皮膚之間，宜急發其汗而通其榮衛，則邪氣去矣。以</p>
<p>托裏榮衛湯主之。</p>
<p>黃耆（半兩），柴胡，連翹（各二錢），羌活，防風，當歸身，生黃芩（各錢半），炙甘草，人參（各二錢），蒼朮（三錢），紅花，桂枝（各半兩）。</p>
<p>右㕮咀，都作一服，水酒各一大盞，同煎至一盞，去滓，大溫服。</p>
<p>沉香海金砂丸。</p>
<p>治一切積聚，脾濕腫脹，肚大青筋，羸瘦惡證。</p>
<p>沉香（一錢），海金砂（一錢半），輕粉（一錢），牽牛頭末（一兩）。</p>
<p>右各秤分兩，同為細末研，獨科蒜如泥為丸，如桐子大，每服三十丸或五十丸，煎百沸，燈心通草湯送下，空腹食前，量大小虛實加減丸數，取利為驗。</p>
<p>續隨子丸。</p>
<p>治通身虛腫，喘悶不快。</p>
<p>人參，漢防巳，赤茯苓（麵蒸），木香，檳榔（各半兩），續隨子，海金砂（五錢另炒），苦葶藶（四兩紙隔炒）。</p>
<p>右為細末，棗肉為丸，如桐子大，每服二三十丸，煎桑根白皮湯送下。</p>
<p>海金砂散。</p>
<p>治脾濕太過，通身腫滿，喘不得臥，腹脹如鼓。</p>
<p>牽牛（一兩半，半生半炒），海金砂，甘遂（各半兩）。</p>
<p>右為細末，每服二錢，煎倒流水一盞調下，食前，得宣利，止後服。</p>
<h3>太陰所至為蓄滿，中滿霍亂吐下。</h3>
<p>木香搨氣丸。</p>
<p>治中滿腹脹，下元虛損者。</p>
<p>陳皮（去白），蘿蔔子（炒各半兩），胡椒，木香，草豆蔻（麵裹燒去皮），青皮，蝎尾（去毒二錢半）。</p>
<p>右為細末，水糊為丸，桐子大，每服三十丸，溫酒飲送下，食後忌服白粥百日，重者一年，小兒麻子大，桑白湯送下十丸，日三服，大人桐子大四十丸，如陰囊洪腫冰冷，次用滄鹽乾薑白麵各三錢，水和交攤紙上塗用。</p>
<p>廣茂潰堅湯。</p>
<p>治中滿腹脹，內有積塊，堅硬如石，令人坐臥不能，大小便澀滯，上喘氣促，面色痿黃，通身虛腫。</p>
<p>厚朴，黃芩，草豆蔻，益智仁，當歸（各五分），黃連（六分），半夏（七分），廣茂，紅花，吳茱萸，升麻（各二分），生甘草，柴胡，澤瀉，神麯，青皮，橘皮（各三分），如渴加葛根四分。</p>
<p>右㕮咀，都作一服，水二盞先浸，少時煎至一盞，去滓，大溫服，食前。</p>
<p>導滯通經湯。</p>
<p>治脾濕有餘，及氣不宣通，面目手足浮腫。</p>
<p>陳皮，桑白皮，白朮，木香，茯苓（去皮各一兩），霖雨時加澤瀉（半兩）。</p>
<p>右㕮咀，每服半兩，水二盞煎至一盞，去滓，大溫服，食前。</p>
<p>赤茯苓丸。</p>
<p>治脾濕太過，四肢腫滿，腹脹喘逆，氣不宣通，小便赤澀。</p>
<p>葶藶（四兩），防巳（二兩），赤茯苓（一兩），木香（半兩）。</p>
<p>右件為細末，棗肉為丸，如桐子大，每服三十丸，煎桑白皮湯送下，食前。</p>
<h3>諸脈按之無力，所生病證（并治法）。</h3>
<p>六脈中之下，得弦細而濇，按之無力，腹中時痛，心胃控睪，陰陰而痛，或大便泄瀉，鼻不聞香臭，清濁涕不止，目中泣出，喘喝痰嗽，唾出白沫，腰沉沉苦痛，項背胸皆時作痛，目中流火，口鼻惡寒，時頭痛目眩，苦振寒不止，或嗽或吐，或嘔或噦則發躁，蒸蒸而熱，如坐甑中，必得去衣，居寒處或飲寒水則便過，其振寒復至，氣短促，胸中滿悶而痛，必有膈咽不通欲絕之狀，甚則目瞪，聲聞於外而淚涕涎痰大作，方過，其發躁須臾而已，振寒復至，或面白而不澤者，脫血也，悲愁不樂，情慘慘，意悲悲，健忘或善嚏，間出此風熱，大損寒水，燥金之復也，如六脈細弦而濇，按之空虛，此大寒證，亦傷精氣，以辛甘溫甘熱滑潤之劑，以瀉西方北方則愈。</p>
<p>薑附湯。</p>
<p>治中寒口噤，四肢強直，失音不語，或卒然暈倒，口吐涎沬，狀如冒風，手足厥冷，或腹煩燥，兼治陰證傷寒，大便自利而發熱者。</p>
<p>乾薑（二兩另為細末），附子（一兩生用去皮臍細切）。</p>
<p>右和勻，每服三錢，水一盞半煎至七分，去柤溫服，或慮此藥，大燥即以附子理中湯相繼服餌，薑附本治傷寒，經下之後又復發汗，內外俱虛，身無大熱，晝則煩燥，夜則安靜，不嘔不喝，六脈沉伏，並宜服此，不知脈者，更須審之，兼治中脘虛寒，久積痰水，心腹冷痛，霍亂轉筋，四肢厥逆，一方附子湯，以生用者名白通湯，加白朮倍之甘草減半，名生附白朮湯，治中風濕，昏悶恍惚，腹滿身重，手足緩縱，漐漐自汗，失音不語，便利不禁，一方用薑附湯，加麻黃，白朮，人參，甘草等分，名附子麻黃湯，治中寒濕，昏暈緩弱，腰背強急，口眼喎斜，語聲渾濁，心腹䐜脹，氣上喘急，不能轉動，更宜審而用之。</p>
<p>沉香桂附丸。</p>
<p>沉香，附子（炮去支臍），乾薑（炮），良薑（剉炒），官桂（去皮），茴香，川烏頭（炮去皮臍，剉作塊子，子如豆大，再炒令黃用），吳茱萸（湯浸洗去苦炒）。</p>
<p>右各一兩為細末，用好醋煮，麵糊為丸，如桐子大，每服五七十丸，熟米飲送下，空腹食前，日進二服，忌生冷硬物。</p>
<p>十全大補湯。</p>
<p>人參，肉桂，川芎，熟地黃，茯苓（去白），白朮，甘草，黃耆，當歸（去蘆），白芍藥。</p>
<p>右件一十味，剉為麄末，每服二錢，水一盞，入生薑三片，棗二枚，同煎至七分，去滓溫服，不拘時。</p>
<h3>諸脹腹大，皆屬於熱。</h3>
<p>諸脹腹大，皆屬於熱，此乃八益之邪有餘之證，自天外而入，是感風寒之邪傳裏，寒變為熱，作胃實，日晡潮熱，大渴引飲，譫語，是太陽陽明，并大實大滿者，大承氣下之，少陽陽明微滿實者，小承氣下之，泄之則脹已，此之謂也。假令痎瘧為脹滿，亦有寒脹熱脹，是天之邪氣，傷暑而得之，不即時發，至秋暑氣衰絕而瘧病作矣，知其寒也，局方用交解飲子者是也，內虛不足，寒濕令人中滿，及五臟六腑俱有脹滿，更以脈家寒熱多少，較之胃中寒則脹滿，濁氣在上則生脹，䐜脹取三陽，三陽者，足太陽膀胱，寒水為脹腹暴滿，按之不下，取太陽經絡者，胃之募也，正同腹滿䐜脹，支鬲胠脇下厥上，胃過在太陰陽明，胃中寒濕鬱遏也，太陰䐜脹後，不利不欲食，食則嘔，不得臥，按所說寒脹之多如此，中滿治法，當開鬼門，潔淨府，開鬼門者，謂發汗也，潔淨者，利小便也，中滿者瀉之於內，謂脾胃有病，當令上下分消其氣，下焦如瀆，氣血自然分化，不待泄滓濊，如或大實大滿，大小便不利，從權以寒熱藥下之，或傷酒濕麵，及味厚之物，膏粱之人，或食已便臥，使濕熱之氣不得施化，致令腹脹滿，此脹亦是熱脹，治熱脹，分消丸主之，如或多食寒涼，及脾胃久虛之人，胃中寒則脹滿，或藏寒生滿病，以治寒脹，中滿分消湯主之，病勢大小用藥輕重，臨時加減，不敢少越耳。</p>
<p>中滿分消丸。</p>
<p>治中滿皷脹，氣脹水氣脹，大熱脹，不治寒脹。</p>
<p>黃芩（去腐剉炒半兩），薑黃，白朮，人參（去蘆），炙甘草，豬苓（去黑皮各一錢），黃連（去鬚剉炒半兩），白茯苓（去皮），縮砂仁，乾生薑（各二錢），枳實（麩炒黃），半夏（湯浸七次各半兩），厚朴（薑製一兩），知母（剉炒四錢），澤瀉（三錢），陳皮。</p>
<p>右細碾，茯苓澤瀉生薑各各為末另秤外，共為極細末，秤入上三味，和勻水浸，蒸餅為丸，如桐子大，每服一百丸，焙熱，白湯送下（寒因熱用，故焙熱服之），食遠，量病人虛實加減。</p>
<p>中滿分消湯。</p>
<p>治中滿，寒脹寒疝，大小便不通，陰躁，足不收，四肢厥逆，食入反出，下虛中滿，腹中寒，心下痞，下焦躁寒，沉厥奔豚不收，並宜服之。</p>
<p>益智仁，半夏，茯苓，木香，升麻（各三分），川烏頭，澤瀉，人參，青皮，當歸，生薑，麻黃，柴胡，乾薑，蓽澄茄，黃連（各二分），黃耆，吳茱萸，草豆蔻，厚朴（各五分），黃柏（五分，使藥又為熱因寒用）。</p>
<p>右件剉如麻豆大，都作一服，水二大盞，煎至一盞，去滓，大溫服，食前，大忌房勞，酒濕麵，生冷硬物。諸嘔吐酸，皆屬於熱。</p>
<p>霍香安胃散。</p>
<p>治胃虛弱不能飲食，嘔吐不待腐熟。</p>
<p>藿香，丁香，人參（各二錢半），橘皮（半兩）。</p>
<p>右件四味為細末，每服二錢，水一盞，生薑三片，同煎七分，和滓冷服，食前。</p>
<p>加減二陳湯。</p>
<p>治痰飲為患，或嘔吐惡心，或頭眩心悸，或中脘不快，或發為寒熱，或因食生冷，脾胃不和，並宜服之。</p>
<p>丁香（一兩），半夏，橘紅（各五兩），茯苓（三兩），炙甘草（一兩半）。</p>
<p>右㕮咀，每服四錢，水一盞半，生薑七片，烏梅一箇，煎至六分，去柤，熱服，不拘時候，治痞疾加草豆蔻一兩半，麵裹燒熟用。</p>
<h3>諸痿喘嘔，今立熱喘寒喘二方。</h3>
<p>人參平肺散。</p>
<p>治心火刑肺，傳為肺痿，咳嗽喘嘔，痰涎壅盛，胸膈痞滿，咽嗌不利。桑白皮（一兩），知母（七錢），炙甘草，地骨皮（各半兩），五味子（三百箇），茯苓，青皮，人參（各四錢），陳皮（半兩去白），天門冬（去心四錢）。</p>
<p>右件㕮咀，水二盞，煎至一盞，去滓溫服，食後。如熱甚加黃芩（四錢），紫蘇葉，半夏（洗各半兩）。</p>
<p>參蘇溫肺湯。</p>
<p>治形寒飲冷，傷肺喘嗽，煩心胸滿，氣不得動暢。</p>
<p>人參，紫蘇葉，甘草（各半兩），肉桂，五味子，木香（各四錢），陳皮（去白），白朮（各六錢），半夏（薑製），白茯苓（去皮各半兩），桑白皮（一兩）。</p>
<p>右為麄末，每服半兩，水一盞半，生薑三片，同煎至八分，去滓，大溫服，食後。如冬寒，每服中加不去節麻黃五分，先洗去沬，下諸藥。</p>
<h3>諸脈有關有覆有溢。</h3>
<p>滋腎丸。</p>
<p>治不渴而小便閉，邪熱在血分也。</p>
<p>黃柏（三兩，細剉酒拌陰乾秤），知母（二兩，酒浸陰乾秤），肉桂（一錢半）。</p>
<p>右上三味，氣味俱陰，以同腎氣，故能補腎而瀉下焦火也，桂與火邪同體，故曰寒因熱用，凡諸病在下焦，皆不渴也，熟水為丸，百沸湯送下。</p>
<p>清肺飲子。</p>
<p>治渴而小便閉，邪熱在氣分也。</p>
<p>茯苓（去皮），豬苓（去皮），白朮（各三錢），澤瀉，琥珀，瞿麥，肉桂（各五分），燈心，木通（七分），車前子（炮二錢），通草（二分），萹蓄（七分）。</p>
<p>右為極細末，每服半兩，水一盞半，煎至一盞，帶熱服，或剉如麻豆大，作湯煎服亦可，局方中八正散，仲景五苓散亦宜用。</p>
<h3>損其腎者益其精。</h3>
<p>腎有兩枚，右為命門相火，左為腎水，同質而異事也，夫損者，當損何藏而治之，形不足者溫之，以氣精不足者補之，以味氣化精生味，和形長無陰，則陽無以化，當以味補腎，真陰之虛而瀉其火邪，以封髓丹，滋腎丸，地黃丸之類是也，陰本既固，陽氣自生，化成精髓，若相火陽精不足，宜用辛溫之劑，世之用辛熱之藥者，治寒甚之病，非補腎精也。</p>
<p>還少丹。</p>
<p>大補心腎脾胃一切虛損，神志俱耗，筋力頓衰，腰腳沉重，肢體倦怠，血氣羸乏，小便渾濁。</p>
<p>乾山藥，牛膝（酒浸一宿焙乾），遠志，山茱萸，白茯苓，五味子，巴戟（酒浸去心），石菖蒲，肉蓯蓉（酒浸一宿切焙乾），枳實（各一兩），枸杞（一兩半），杜仲（去皮薑汁并酒合塗炙熟），舶上茴香（各一兩），熟地黃（一兩半）。</p>
<p>右為細末，煉蜜同棗肉為丸，如桐子大，每服三十丸，溫酒或鹽湯送下，日三服，食前。五日覺有力，十日精神爽，半月氣力頗壯，二十日目明，一月夜思飲食，冬月手足常暖，筋骨壯盛，如熱加山梔子一兩，心氣不寧加麥門冬一兩，少精神加五味子一兩，陽弱加續斷一兩，常服齒堅，永無瘴瘧，婦人服之，暖子宮，姿容悅澤。</p>
<p>補益腎肝丸。</p>
<p>治目中溜火，視物昏花，耳聾耳鳴，困倦乏力，寢汗憎風，行步不正，兩足欹側，臥而多驚，腳膝無力，腰已下消瘦。</p>
<p>柴胡，羌活，生地黃（炒），苦參，防巳（炒各半兩），附子（炮），肉桂（各一錢），當歸身（三錢）。</p>
<p>右件為細末，熱水為丸，如雞頭大，每服四十丸，溫水下，食前。</p>
<p>水芝丸。</p>
<p>連實去皮，不以多少，用好酒浸一宿，入大豬肚內，用水煮熟，取出焙乾。</p>
<p>右為極細末，酒糊為丸，如雞頭大，每服五七十丸，溫酒送下，食前。</p>
<h3>上部有脈，下部無脈，其人當吐，食傷太陰也。</h3>
<p>瓜蒂散。</p>
<p>瓜蒂，赤小豆（各等分）。</p>
<p>右二味為末，每服二錢匕，溫漿水調下，取吐為度。</p>
<p>地黃丸。</p>
<p>治腎氣虛，久新憔悴，寢汗發熱，五藏齊損，瘦弱虛煩，骨蒸痿弱，下血。乾山藥，山茱萸（各四錢），澤瀉，牡丹皮，白茯苓（各三錢），熟地黃（八錢）。</p>
<p>右為末，煉蜜為丸，如桐子大，每服五十丸，溫水送下，空心。</p>
<p>三才封髓丹。</p>
<p>降心火，益腎水。</p>
<p>天門冬（去心），熟地黃，人參（去蘆各半兩），黃柏（三兩），縮砂仁（一兩半），甘草（七錢）。</p>
<p>右件為細末，水糊為丸，如桐子大，每服五十丸，用蓯蓉半兩，切作片子，酒一大盞，浸一宿，次日煎三四沸，去滓，送下前丸子，空心。</p>
<p>離硃丹（又名神珠丹）。</p>
<p>治下焦陽虛，臍腹冷痛，足胻寒而逆。</p>
<p>杜仲（三兩去絲），萆薢（二兩），訶子（五箇），龍骨（一兩），破故紙（炒三兩），硃砂（一錢半研），胡桃（一百二十箇去膈皮），縮砂仁（半兩），巴戟（酒浸去心二兩）。</p>
<p>右件為細末，酒糊為丸，如桐子大，硃砂為衣，每服二十丸，空心鹽湯溫酒下。</p>
<p>大真丹。</p>
<p>治下焦陽虛。</p>
<p>沉香，巴戟（酒浸去心），茴香（鹽炒香去鹽用），萆薢（酒浸炒），胡蘆巴（炒香），琥珀，牽牛（鹽炒香黑去鹽），破故紙（炒香），杜仲（炒去絲各一兩），肉桂（半兩）。</p>
<p>右十味為細末，用元浸藥酒，打麵為丸，如桐子大，每服五十丸至七八十丸，空心溫酒下。</p>
<p>八味丸。</p>
<p>治腎氣虛乏，下元冷憊，臍腹重疼痛，夜多旋溺，腳膝緩弱，肢體倦怠，面色痿黃或黧黑，及虛勞不足，渴欲飲水，腰重疼痛，少腹急痛，小便不利，並宜服之。</p>
<p>熟地黃（八兩），山藥，山茱萸（各四兩），肉桂（去皮二兩），牡丹皮，澤瀉，白茯苓（去皮各三兩），附子（炮二兩）。</p>
<p>右件為細末，煉蜜為丸，如桐子大，每服五十丸至七十丸，溫酒送下，鹽湯亦得，空腹食前，婦人淡醋湯下，陽事多痿不振，用全方，然夏減桂附一半，春秋三停減一（疾去精走全減桂附，只服六味地黃丸），血虛陰衰，熟地為君。精滑，山茱萸為君。小便或多或少或赤黃，白茯苓為君。小便淋瀝，澤瀉為君。心虛腸胃間積熱，肝氣盛，心氣不足，牡丹皮為君。皮膚燥澀，乾山藥為君。已上但言為君者，其分兩用乾地黃分兩，其乾地黃卻依立為君，分兩同。</p>
<h3>幽門不通，上衝吸門不開，噎塞大便燥秘。</h3>
<p>通幽湯。</p>
<p>當歸身，升麻，桃仁泥子（各一錢），生地黃，熟地黃（各五分），炙甘草，紅花（各一分）。</p>
<p>右㕮咀，水煎服，食前。</p>
<p>潤腸湯。</p>
<p>治大腸燥結不通。</p>
<p>升麻，當歸尾，生甘草，煨大黃，桃仁，麻仁，熟地黃（各一錢），生地黃（二錢），紅花（三分）。</p>
<p>右件剉如麻豆大，都作一服，水三盞，先拌藥濕，煎至一盞，去滓，帶熱服，食前。</p>
<h3>腳氣論。</h3>
<p>夫腳氣之疾，實水濕之所為也，蓋濕之害人，皮肉筋脈而屬於下，然亦有二焉，一則自外而感，一則自內而致，其治法自應不同，南方之疾，北方之疾，自內而致者也，南方地下水寒，其清濕之氣中於人，必自足始，北方之人常食潼乳，又飲之無節，且潼乳之為物，其形質則水也，酒體亦然，人之水穀入胃，胃氣蒸騰，其氣與味宣之於經絡，化之為氣血，苟元氣不充，胃氣本弱，飲食自倍，脾胃乃傷，其氣與味不得宣暢，旁通水濕之性，潤下而致之也。</p>
<p>當歸拈痛湯。</p>
<p>治濕熱為病，肢節煩痛，肩背沉重，胸膈不利，及遍身疼痛，下至於足脛腫痛不可忍。</p>
<p>羌活（半兩），人參（去蘆），苦參（酒洗），升麻，葛根，蒼朮（各二錢），炙甘草，黃芩（酒洗），茵陳葉（酒炒各半兩），防風（去蘆），當歸身，知母（酒洗），黃芩（炒），澤瀉，豬苓（各三錢），白朮（一錢半）。</p>
<p>右㕮咀，如麻豆大，每服一兩，水二大盞半，先以水拌濕，候少時，煎至一大盞，去滓溫服，空心食前，待少時，以美膳壓之，臨臥一服，不須膳壓。</p>
<p>羌活導滯湯。</p>
<p>治腳氣初發，一身盡疼，或肢節腫痛，便溺阻隔，以此藥導之，後以當歸拈痛湯除之。</p>
<p>羌活，獨活（各半兩），大黃（酒煨一兩），防己，當歸（各三錢），枳實（麩炒二錢）。</p>
<p>右件㕮咀，如麻豆大，每服秤五錢或七錢，水二盞煎至一盞，去滓溫服，以微利則已，量虛實加減。</p>
<p>開結導引丸。</p>
<p>治飲食不消，心下痞悶。</p>
<p>橘皮，白朮，澤瀉，茯苓，麥蘗麵，炒麯（各一兩），乾生薑，青皮（各半兩），枳實，半夏（湯洗七次一兩），如有積塊加巴豆霜一錢半。</p>
<p>右件為細末，湯浸蒸餅為丸，如桐子大，每服三五十丸至七十丸，溫水下，食遠。</p>
<p>除濕丹。</p>
<p>治諸濕，客傳腰膝重痛，足脛浮腫。</p>
<p>檳榔，甘遂，威靈仙，赤芍藥，葶藶（各二兩），乳香，沒藥（各一兩另研），牽牛（半兩），大戟（炒三兩），陳皮（去白四兩）。</p>
<p>右為末，麵糊為丸，如桐子大，每服五十丸至七八十丸，溫水下，食前，得更衣止後服，如服藥前後忌酒二日，藥後亦忌濕麵三兩日，食溫淡粥補胃尢佳。</p>
<p>淋渫腳氣除濕湯。</p>
<p>內受濕氣不能外達，淋渫開導泄越其邪。</p>
<p>葳靈仙，防風（去蘆），荊芥穗，當歸（去蘆），地骨皮，蒴𧄒葉，升麻（去腐），白芍藥（去皮各一兩）。</p>
<p>右件各剉細末，水二㪷（斗），煮至一㪷（斗）五升，去滓，熱渫洗無時。</p>
<p>枳實大黃湯。</p>
<p>治腳氣腫痛。</p>
<p>羌活（一錢半），當歸身（一錢），枳實，大黃（各五分）。</p>
<p>右剉如麻豆大，都作一服，水二大盞半，煎至一盞，去滓，大溫服，空心，下利一兩行痛止。</p>
<h3>中風有三</h3>
<p>內經曰：人之氣，以天地之疾風名之。故中風者，非外來風邪，乃本氣病也，凡人年過四旬，氣衰者多有此疾，壯歲之際無有也，若肥盛則間有之，亦形盛氣衰如此，治法和藏府通經絡，便是治風，然輕重有三，中血脈則口眼喎邪，亦有賊風襲虛傷之者也，中府則肢廢，中藏則性命危急，此三者治各不同，如中血脈，外有六經之形證，則從小續命湯加減，及疏風湯治之。中府內有便溺之阻隔，宜三化湯，或局方中麻仁丸。通利外無六經之形證，內無便溺之阻隔，宜養血通氣，大秦艽湯，羌活愈風湯治之，中藏痰涎昏冒，宜至寶丹之類鎮墜，若中血脈，中府之病初不宜用龍麝牛黃為，麝香治脾入肉，牛黃入肝治筋，龍腦入腎治骨，恐引風深入骨髓，如油入麵，莫之能出，又不可一概用大戟芫花甘遂，瀉大便損其陰血，真氣愈虛。方列於後。</p>
<p>小續命湯。</p>
<p>麻黃（去節），人參（去蘆），黃芩（去腐），芍藥，炙甘草，川弓，杏仁（麩炒去皮尖），防己，官桂（各一兩），防風（一兩半），附子（炮去皮臍細剉半兩）。</p>
<p>右除附子杏仁外，搗為麄末，後入二味令勻，每服五錢，水一盞半，入生薑五片，煎至一盞，去滓，稍熱服，食前。</p>
<p>始治中風，不審六經之形證加減，雖治與不治無異也，開則灑然寒，閉則熱而悶，知暴中風邪，宜先以加減續命湯隨證治之，中風無汗惡寒，宜</p>
<p>麻黃續命湯。</p>
<p>麻黃，防風，杏仁。</p>
<p>依本方加一倍，宜鍼太陽經，至陰出血，崑崙舉蹻。</p>
<p>中風有汗惡風，桂枝續命湯。</p>
<p>桂枝，芍藥，杏仁。</p>
<p>依本方加一倍，宜鍼風府，此二證太陽中風也。</p>
<p>中風身熱無汗不惡寒，白虎續命湯。</p>
<p>石膏，知母（一料中各加二兩），甘草。</p>
<p>依本方加一倍。</p>
<p>中風身熱有汗不惡風，葛根續命湯。</p>
<p>葛根，桂枝，黃芩。</p>
<p>依本方加一倍，宜鍼陷谷，刺厲兌，鍼陷谷者，去陽明之賊也，刺厲兌者，瀉陽明之實也，此二證，陽明中風也。</p>
<p>中風無汗身涼，附子續命湯。</p>
<p>附子（加一倍），乾薑（加二兩），甘草（加二兩）。</p>
<p>宜鍼隱白穴，去太陰之賊也，此一證，太陰經中風也。</p>
<p>中風有汗無熱，桂附續命湯。</p>
<p>桂枝，附子，甘草。</p>
<p>依本方加一倍，宜鍼太谿，此一證，少陰經中風也。</p>
<p>無此四證，六經混殽，繫於少陽厥陰，或肢節攣痛，或麻木不仁，宜</p>
<p>羌活連翹續命湯。</p>
<p>小續命（八兩），羌活（四兩），連翹（六兩）。</p>
<p>右古之續命，混殽無經，今立分經治療，又分各經鍼刺，無不愈也。治法：厥陰之井大敦，刺以通其經，少陽之經絕骨，炙以引其熱，此通經引熱，是鍼灸同象治法之大體也。</p>
<p>疏風湯。</p>
<p>治半身不遂，或肢體麻痹，筋骨疼痛。</p>
<p>麻黃（去節三兩），益智仁，杏仁（炒去皮各一兩），炙甘草，升麻（各五兩）。</p>
<p>右件㕮咀，每服一兩水，一小碗煎至六分，去滓熱服，腳蹬熱水葫蘆，以大汗出，去葫蘆，冬月不可。</p>
<p>中風外有六經之形證，先以加減續命隨證治之，內有便溺之阻隔，復以</p>
<p>三化湯導之。</p>
<p>厚朴（酒製），大黃，枳實，羌活。</p>
<p>右剉麻豆大，每服三兩，水三升煎至一升半，終日服之，以微利則已，如內邪已除，外邪已盡，當從愈風湯加減治之，然治病之法不可失於通塞，或一氣之微汗，或一旬之通利，如此為常治之法也，久之清濁自分，榮衛自和矣。</p>
<p>羌活愈風湯。</p>
<p>療腎肝虛，筋骨弱，語言難，精神昏憒，及治風濕內弱者，是風熱體重也，或瘦而一肢偏枯，或肥而半身不遂，或恐而健忘，喜已多思，思忘之道，皆精不足也，故心亂則百病生，靜則萬病息，是以此藥能安心養神，調陰陽無偏勝。</p>
<p>羌活，甘草（炙），防風（去蘆），黃耆（去蘆），蔓荊子，川芎，細辛，枳殼（麩炒去穰），人參（去蘆），地骨皮（去骨），麻黃（去根），知母（去皮）甘菊，薄荷（去枝），枸杞，當歸（去蘆），獨活，白芷，杜仲（炒去鬚），秦艽（去蘆），柴胡（去苗），半夏（湯洗薑製），厚朴（薑製），熟地黃，防己（各二兩），芍藥（去皮），黃芩（去腐），白茯苓（去皮各二兩），石膏，生地黃，蒼朮（各四兩），官桂（一兩泔浸），前胡（二兩）。</p>
<p>右剉每服一兩，水二盞煎至一盞，去滓溫服，如遇天陰加生薑三片煎服，空心一服，臨臥再煎滓服，俱要食遠，空心一服，噀下二丹丸為之重劑，臨臥噀下四白丸為之輕劑，立其法是動以安神，靜以清肺。</p>
<p>假令一氣而微汗，用愈風湯三兩，加麻黃一兩，勻作四服，每服加生薑五七片，空心服之，以粥投之，得微汗則佳，如一旬之通利，用愈風湯三兩，大黃一兩，亦勻作四服，如前煎，臨臥服之，得利為妙，常服之藥，不可失四時之輔，如望春大寒之後，加半夏二兩，柴胡二兩通四兩，人參二兩通四兩，謂迎而奪少陽之氣也。</p>
<p>望夏之月半，加石膏二兩通六兩，黃芩二兩通五兩，知母二兩通四兩，謂迎而奪陽明之氣也。</p>
<p>季夏之月，加防己二兩通四兩，白朮二兩，茯苓二兩通五兩，謂勝脾土之濕也。</p>
<p>初秋大暑之後，加厚朴二兩通四兩，藿香二兩，桂一兩通二兩，謂迎而奪太陰之氣也。</p>
<p>霜降之後望冬，加附子一兩，官桂一兩，當歸二兩通四兩，謂勝少陰之氣也。</p>
<p>二丹丸四白丸方在後，衛生寶鑑內附。</p>
<p>得春減冬所加藥，四時加減類此，此藥具七情六慾四氣，無使五藏偏勝，反不動於榮衛，如風秘則服之，永不燥結，如久瀉則服之，能自調適，初覺風氣，便能服此藥，及新方中大麻丸一料，相為表裏，治未病之聖藥也，及已病者，更宜常服，無問男子婦人，小兒風癇，急慢驚風等病，服之神效，如解利四時，傷寒隨四時加減法服之。</p>
<p>中風，外無六經之形證，內無便溺之阻隔，知為血弱不能養於筋，故手足不能運化，舌強不能言，宜養血而筋自榮也，當以</p>
<p>大秦艽湯主之。</p>
<p>秦艽，石膏（各二兩），甘草，川芎，當歸，羌活，獨活，防風，黃芩，白芍藥，吳白芷，白朮，生地黃，熟地黃，白茯苓（各一兩），細辛（半兩）。</p>
<p>右剉每服一兩，水二盞煎至一盞，去滓溫服，無時。如遇天陰加生薑七八片，如心下痞，每服一兩，內加枳實一錢同煎，肺寒則面白生痰，喘欬嚏唾。</p>
<p>半夏溫肺湯。</p>
<p>治心腹中脘痰水冷氣，心下汪洋嘈雜，腸鳴多唾，口中清水自出，脇肋急脹，痛不欲食，此胃氣虛冷所致，其脈沉弦細遲。</p>
<p>細辛，橘皮，桂心，人參，旋覆花，甘草，桔梗，芍藥，半夏（各半兩），赤茯苓（三分）。</p>
<p>右為麤末，每服四錢，水一盞半，生薑七片，煎至八分，去滓溫服，食後。</p>
<p>丁香半夏丸。</p>
<p>治心下停飲冷痰，頭目眩運，睡臥口中多涎。</p>
<p>檳榔（三分），丁香，半夏（各一兩），細辛，乾薑，人參（各半兩）。</p>
<p>右為細末，生薑麵糊為丸，如桐子大，每服三十丸，生薑湯下，日三。</p>
<p>紫蘇飲子。</p>
<p>治脾肺虛寒，痰涎欬嗽。</p>
<p>紫蘇葉，桑白皮，青皮，五味子，杏仁，麻黃，甘草，陳皮（各半兩），人參，半夏（湯洗各三兩）。</p>
<p>右㕮咀，每服半兩，水二盞，生薑三片，煎至七分，去滓溫服。</p>
<h3>肺病，面白而不澤，則為脫氣脫血，脫津脫液，脫精脫神。</h3>
<p>巴戟丸。</p>
<p>治肝腎俱虛，收斂精氣，補真戢陽，充越肌膚，進美飲食。</p>
<p>五味子，川巴戟（去心），肉蓯蓉，人參，菟絲子，熟地黃，覆盆子，白朮，益智仁（炒），骨碎補（洗去毛），白龍骨，茴香，牡蠣（各等分）。</p>
<p>右為細末，煉蜜為丸，如桐子大，每服三十丸，空心食前，米飲送下，此藥補精氣止汗。</p>
<p>雙和散。</p>
<p>補益血氣，治虛勞少力。</p>
<p>黃耆，熟地黃，當歸，川芎（各一兩），白芍藥（三兩半），官桂，甘草（各三分），人參（三錢）。</p>
<p>右㕮咀，每服五錢，水二盞，生薑三片，肥棗一枚，同煎至八分，去滓溫服，大疾之後，虛勞氣乏者，以此調治，皆驗溫而有補。</p>
<p>附子溫中丸。</p>
<p>治脾胃，順氣化痰，嘔吐，噎膈留飲，腸鳴，濕冷泄注，辟寒，養正氣。</p>
<p>附子，乾薑，白朮（各一兩），肉桂，炙甘草（各半兩），良薑（七錢）。</p>
<p>右為細末，煉蜜為丸，一兩作十丸，每服一丸，細嚼。生薑橘皮湯送下，米飲亦得，食前。</p>
<h3>五邪相干（謂賊實微虛正也）。</h3>
<p>假令肝病實邪，風熱相合，風性急，火搖動焰而旋轉，其脈弦而緊洪，風熱發狂，宜</p>
<p>芎黃湯。</p>
<p>羌活，川芎，大黃（各一兩），甘草（半兩）。</p>
<p>右㕮咀，每服半兩，水二盞，煎至六分，去滓溫服。</p>
<p>虛邪，風寒相合，木慮腎，恐拘急，自汗，其脈弦緊而沉，仲景云：風感太陽，移證在太陽經中，桂枝加附子湯主之。</p>
<p>賊邪，風燥相合，血虛筋縮，皮膚皴揭，脈弦浮而濇，仲景云：血虛筋急，桂枝加括蔞湯主之。</p>
<p>微邪，風濕相合，體重節痛，藏府洞泄，脈弦長而緩，仲景云：身體疼痛，下利清穀，急當救裏，四逆湯主之。</p>
<p>正邪，中風目眩，頭重，叫怒不出，脈弦緊而長。仲景云：甚則如癇，為痓真，羌活湯。本草云：羌活主痓主癇，防風黃芩為佐，小兒為癇，大人為痓。</p>
<p>假令心病，實邪熱濕相合，憒憒心煩，熱蒸不眠，脾經絡於心經，起於心，心脾二經相接，故為濕熱，脈浮大而緩，足太陰寄證在手太陽，宜梔豉湯，若痞加厚朴枳實。虛邪，熱風相合，妄聽妄聞耳簫聲，膽與三焦之經同出於耳，銅人云：刺關衝出血，瀉支溝，脈浮大而弦，初小柴胡湯，後大柴胡湯，此證是太陽與少陽為病，前客後主也。賊邪，熱寒相合，膽惕心懸如饑，神怯恐怖，足少陰與手厥陰相接水中，心經守邪，故神怯怖耳，脈大而沉濡，亦在太陽經中。內經曰：心虛則熱收於內，黃連附子瀉心湯主之，法云：熱多寒少以為佐矣。如寒多熱少，加附子乾薑佐之。微邪，熱燥相合，過飲歌樂，實為熱燥，俗言暢飲也。病人曰：快活快活，是有聲於歌樂也。以意思漿，是無聲歌樂也。脈洪大而濇，白虎湯主之。喘則加人參。正邪，熱也，脫陽見鬼，躁擾狂起，脈洪實，一呼四至，是八至脈也，小承氣湯主之，謂腹不堅大也。</p>
<p>假令脾病，實邪濕燥相合，胃中燥屎，腹滿堅痛，其脈緩而長濇，是正陽陽明證也，調胃承氣湯主之。虛邪，濕熱相合，熱陷胃中，腸癖下血，脈中緩，大黃黃連解毒湯主之。賊邪，濕風相合，嘔逆脇痛，往來寒熱，脈緩而弦長，小柴胡湯主之。微邪，濕寒相合，濕與寒交，寒來求濕，身黃而不熱，體重而不渴，謂之寒濕，其脈緩沉而滑，朮附湯主之。如小便不利者，加茯苓。正邪，濕自病，腹滿時痛，手足自溫，其脈沉濇而長，虛痛。桂枝加芍藥湯主之。實痛，桂枝加大黃湯。</p>
<p>假令肺病，實邪燥寒相合，毛聳皮涼，溲多而清，其脈短濇而沉，此證如秋冬，宜八味丸。若春夏宜地黃丸。虛邪，燥濕相合，微喘而痞，便難而痰，其脈浮濇而緩，枳實理中丸主之。如喘甚加人參，若便難加木香檳榔各半錢，為極細末，煎下理中丸。賊邪，燥熱相合，鼻窒鼽衄，血溢血泄，其脈濇而浮大，甚者桃仁承氣湯，微者犀角地黃湯，極者抵當湯，微極抵當丸。微邪，燥風相合，皮著甲枯，血虛氣虛，二藏俱虛，先血後氣，其脈浮濇而弦，久養氣血藥主之。正邪，燥自病，其氣奔鬱，皆屬於肺，諸燥有聲，其脈浮濇而短，列諸嗽藥選而用之。</p>
<p>假令腎病，實邪寒風相合，藏不藏散，下利純清，其脈沉滑而弦，仲景云：少陰證，口燥咽乾，下利純清，大承氣湯主之。脈沉弦而遲，四肢逆冷者，宜四逆湯等。虛邪，寒清相合，腎唾多呻，灑浙寒清，無寐，經言：燥化清，其脈沉實而濇，酸棗仁湯主之。賊邪，寒濕相合，腎為胃關，關閉水溢，關閉不利，水在胃為腫，水在肺為喘，及變諸證。其脈沉緩而大。仲景云：大病差後，腰下有水氣者，牡蠣澤瀉湯主之。微邪，寒熱相合，膀胱熱鬱，津液枯少，其脈沉濡而大，內經曰：水少，乾涸也，豬苓湯主之。正邪，寒自病，寒忿用藏，黑痹經沉，其脈沉濡而滑，黑痹天麻丸，如證同脈異微者，府病也。甚者，藏病也。</p>
<h3>淹疾瘧病。</h3>
<p>肝病，面青脈弦，皮急多青，則痛形盛，胸脇痛，耳聾口苦，舌乾，往來寒熱，而嘔已上是形盛，當和之以小柴胡湯也。如形衰骨搖而不能安於地，此乃膝筋治之，以羌活湯，本草云：羌活為君也，瘧證取以少陽，如久者發為癉瘧，宜以鑱鍼刺絕骨穴，復以小柴胡湯治之。</p>
<p>心病，面赤脈洪，身熱，赤多則熱，暴病，壯熱惡寒，麻黃加知母石膏黃芩湯主之。此證如不發汗，久不愈為瘧也。淹疾䪼腫，面赤身熱，脈洪緊而消瘦，婦人則亡血，男子則失精。</p>
<p>脾病，面黃脈緩，皮膚亦緩，黃多則熱，形盛，依傷寒說是為濕溫，其脈陽浮而弱，陰小而急，治在太陰濕溫，自汗，白虎湯加蒼朮主之，如久不愈為溫瘧重暍，白虎加桂枝主之。淹疾。肉消食少無力。故曰熱消肌肉。宜以養血涼藥。內經曰：血生肉。</p>
<p>肺病，面白皮濇脈亦濇，多白則寒，暴病濇痒，氣虛，麻黃加桂枝，令少汗出也。傷寒論曰：夏傷於暑，汗不得出，為痒，若久不痊為風瘧，形衰面白，脈濇皮膚亦濇，形羸氣弱，淹疾，衛氣不足。</p>
<p>腎病，面黑身涼，脈沉而滑，多黑則痹，暴病，形冷惡寒，三焦傷也。治之以薑附湯或四逆湯，久不愈為瘧，暴氣衝上，吐食，夜發，俗呼謂之夜瘧，太陽經桂枝證，形衰，淹疾，黑癉羸瘦，風痹，痿厥不能行也。</p>
<h3>百病在氣在血。</h3>
<p>夫百病晝則增劇，遇夜安靜，是陽病有餘，乃氣病而血不病也。百病夜則增劇，晝則安靜，是陰病有餘，乃血病而氣不病也。晝則發熱，夜則安靜，是陽氣自旺於陽分也，晝則安然，夜則發熱煩燥，是陽氣下陷入陰中也，名曰熱入血室。晝則發熱煩燥，夜亦發熱煩燥，是重陽無陰也，當亟瀉其陽，峻補其陰，夜則惡寒，晝則安靜，是陰血自旺於陰分也，夜則惡寒，晝亦惡寒，是重陰無陽也，當亟瀉其陰，峻補其陽，夜則安靜，晝則惡寒，是陰氣上溢於陽中也。</p>
<p>夫五藏有邪，各有身熱，其狀各異以手捫摸有三法，以輕手捫之則熱重，按之則不熱，是熱在皮毛血脈也。重按之至筋骨之分，則熱蒸手極甚，輕手則不熱，是邪在筋骨之間也，輕手按之不熱，重加力以按之不熱，不輕不重按之而熱，是在筋骨之上，皮毛血脈之下，乃熱在肌肉也。此為三法。以三黃丸通治之，細分之為五等。</p>
<p>肺熱者，輕手乃得，但微按全無，是瞥瞥然見於皮毛之上，日西尤甚，乃皮毛之熱，其證必見喘嗽，灑浙寒熱，輕者瀉白散，重者宜涼膈散，白虎湯，地骨皮散。</p>
<p>心熱者，心主血脈，微按至皮膚之下，肌肉之上，輕手乃得，微按至皮毛之下則熱少，加力按之則全不熱，是熱在血脈也。日中太甚，乃心之熱也。其證煩心心痛，掌中熱而噦，宜黃連瀉心湯，導赤散，朱砂安神丸，清涼飲子。</p>
<p>脾熱者，輕手捫之不熱，重按至筋骨又不熱，不輕不重在輕手重手之間，熱在肌肉，遇夜尤甚，證必怠惰嗜臥，四肢不收，無氣以動，宜瀉黃散。</p>
<p>肝熱者，重按之，肌肉之下至骨之上，乃肝之熱，寅卯間尤甚，其脈弦，四肢滿悶，便難，轉筋，多怒多驚，四肢困熱，筋痿不能起於床，宜瀉青丸，柴胡飲子。</p>
<p>腎熱者，輕手重手俱不熱，如重手按至骨分，其熱蒸手如火，其人骨蘇蘇如蟲蝕，其骨困熱不任，亦不能起於床，宜滋腎丸，六味地黃丸。</p>
<h3>治病必須求責。</h3>
<p>假令治病無問傷寒畜血結胸發黃等諸證，并一切雜證等，各當於六經中求責之，謂如黃證，或頭痛腰脊強，惡寒，即有太陽證也，或身熱目痛，鼻乾不得臥，即有陽明證也，餘皆倣此。</p>
<p>醫學發明卷終。</p>
