<header data-type="book">
<h1>益世經驗良方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>盛景雲</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>益世錄序</h1>
<p>古人主治百病之方，卷帙浩繁，汗牛充棟，其所言救濟生靈而貽誤後世者，誠至周極備矣。然必延醫輯脈，審其陰陽，辨其寒熱，察其虛實，淺深表里，受病之源，而後投之以劑，非可漫為嘗試也。顧嘗見遠鄉僻壤，每有患病之人，纏綿反復，動輒經旬累月，及詢以藥餌，則搖手蹙額而嘆曰：吾儕荒僻，安所得藥與醫。余愧不諳歧黃，嘗欲引手一援，而卒屢有志未逮為憾。今族盛景雲出所集《經驗良方》一卷示余，余閱其為李氏綱目所載者居多，余則採古人之名錄，搜屢驗之奇方，匯為一帙。分門別類，縷析條分，無症不治，無方不備。而且至簡極便，不必遠訪名醫，無煩多費囊鈔，其中盡有。取諸一室而具備，辦諸一時而裕如者，豈非救急之良方，濟世之善術乎？況方內所需之物，半屬生人飲食之常，服之而愈，固占勿藥之喜，即服之而未必驟愈，而無誤食之憂。持此以惠世，則用力少而成功多，未必非主治百病之一助云而。</p>
<p><u>嘉慶八年四月既望謹莽盛兆龍書。</u></p>

<h1>太上玉軸六字氣訣</h1>
<p>五味六慾七情，內傷五臟，外攻九竅，諸疾所由生也。故太上以氣訣治臟腑之病，其法以呼而泄出臟腑之毒，以吸而採天地之精氣補之。當日小驗，旬日大驗，一年後，萬病皆除，延年益壽。衛生之寶，非人勿傳。其出氣字音有六，曰呵、呼、呬、噓、吹、嘻是也，進氣則吸一字而已。俱要出氣微微，吸氣綿綿，不使耳聞其聲。聲粗則損，徒呼之無益也。然此功夫，不時可做，先叩齒咽津，後微微呵出心中毒氣，仰頭吸清氣以補之，進出六口氣為六次。卻呼脾中毒氣，仍吸以補之，又六次。卻呬肺中毒氣，仍吸以補之，又六次。卻噓肝中毒氣，仍吸以補之。吹以瀉腎毒，而吸以益之。嘻以瀉膽毒，而吸以益之。時常出氣，非以臟腑所出定要畢出，字音細而兼緩，用何字音能出何臟毒。每字六氣，五臟轉三十氣。再出嘻字六次，瀉三焦之毒，共計六六三十六氣，是為大周天也。看何處染病，如目疾，長念噓嘻二字工夫，如心脾二經，長念呵呼二字，目疾速效，他病亦然神手神乎，殆未可以輕泄乎。人到中晚年時，大概至五更均起少睡之病，此運氣法不必六字做轉，即要睡矣，亦為養神之法。</p>
<p>六氣訣　噓、呵、呼、呬、吹、嘻是也。</p>
<p>一曰噓，噓主肝，肝若噓時目睜睛，主治目疾。</p>
<p>二曰呵，呵主心，心呵頂上連叉手，主治心火。</p>
<p>三曰呼，呼主脾，脾若呼時須撮口，主治腹脹瀉痢。</p>
<p>四曰呬，呬主肺，肺如呬主氣，雙手如有物空擎用力，主治寒熱病。</p>
<p>五曰吹，吹主腎，腎吹並雙乎摩腰膝，主治腰腹痛。</p>
<p>六曰嘻，嘻主三焦，三焦不合，吸以理之。</p>
<p>凡人染症疾，或受風寒暑濕一時感冒，其受病後，或吃飲食，或補劑藥餌，膩滯不能出汗，亦有虛弱內氣不足，不能出汗，以至久延寒熱往來。若此，斷不必服藥，只要透出邪汗，即能清爽，用此法最好。莫妙於裹被端坐，上身多蓋綿衣，頭戴氈帽，必要先吃熱湯或熱茶一碗，兩手用力摩擦兩足底心，即湧泉穴，左手擦右足底心，右手擦左足底心。擦時記數，至五、六百擦，即有微汗，如至一千餘擦，其汗先從腳起，直出至頭上。出汗時，周身必有熱氣湧出，不使露泄，令汗多出，越擦，其汗越走。汗即邪也，邪出即神清氣爽也。此法雖美，惜乎嬰兒不能作此工夫。不服藥而能速愈，豈不快哉！閱此書，見此病，即如法傳，與以圖廣效。</p>
<p>有神仙針切法，專治一切痠痛，或受風濕作酸，或受閃傷作酸。先將墨點記酸穴，用學書紙裁一狹條，折七層，蓋在點墨上，用竹筷頭真香油燈火上刺七刺，秉熱筷頭用力拄觸，封穴紙上，以筷頭如冷，火中再刺七刺，再觸，如此七會。若痠痛重甚，可觸十四會，此法不費錢，能速愈也。</p>

<h1>上焦</h1>

<h2>治腦漏門</h2>
<p>用辛夷（淨，一兩）　蒼耳子（一兩，炒去刺）　蘇葉（一兩，去梗，焙）　香白芷（一兩，焙）</p>
<p>以上四味，共為細末，每服二錢，淡薑湯調服即止痛。</p>
<p>又方</p>
<p>用白鯗牙齒燒灰，吹入鼻內即愈。</p>
<p>又方</p>
<p>用香椿皮、細辛、白芷各等分，共研細末。以燒紙板裹藥作筒，用無底竹管套之，燒藥熏入鼻內，即愈。</p>
<p>又方</p>
<p>用壁錢七八個，煅研細末。臨睡搐鼻即已。</p>

<h2>治頭痛門</h2>
<p>治頭風痛。</p>
<p>用乳香、蓖麻仁各等分，搗作餅，隨左右貼太陽穴，解發出氣，甚驗。</p>
<p>又方</p>
<p>用油菜子（一分），大黃（三分），共為細末，搐鼻內即愈。</p>
<p>治濕家頭痛。</p>
<p>用甜瓜蒂炒末一匙，搐鼻內。即口含冷水涕出黃水即愈，此方兼治黃疸。</p>
<p>治年久頭痛。</p>
<p>用川烏頭、天南星各等分，共為末，蔥汁調塗太陽穴，止痛。</p>
<p>治偏正頭風痛。</p>
<p>用生蘿蔔汁一蜆殼，仰臥，隨左右注鼻中，即止痛。</p>
<p>又方</p>
<p>用甘松、三奈、白芷、藁本、甘菊、羌活、防風、荊芥、北細辛（各一錢）</p>
<p>上九味，水二碗，煎八分。飽肚服，出汗為度。</p>
<p>又方</p>
<p>用天竺葉濃煎湯，熏洗二次即止痛。</p>
<p>治一切頭痛欲死者。</p>
<p>用火硝研末，搐鼻內即止痛。一服除根。</p>

<h2>治目疾門</h2>
<p>治赤目痛。</p>
<p>用黃丹少許，蜜調貼兩太陽穴，立效。</p>
<p>又方</p>
<p>用朴硝少許，置豆腐上蒸化，取汁令冷，點眼中，即愈。</p>
<p>治火眼。</p>
<p>用豬膽（一個），白礬，枯礬（各一錢五分），入膽內陰乾，點眼，神效。</p>
<p>治小兒赤目。</p>
<p>用水調黃連末，貼足心，即兩湧泉穴，甚妙。</p>
<p>治目內去星法。</p>
<p>用胡椒、韭菜根、菊葉、橘葉之類皆可，杵爛為丸，用線裹塞鼻中，觸之過夜，其星自落。</p>
<p>治白翳星障。</p>
<p>用胡椒七粒研末，飯數粒為丸，用綿裹塞鼻內一夜即去。左眼塞右鼻，右眼塞左鼻。</p>
<p>治目內浮翳宿障。</p>
<p>用雪白鹽，淨器中生研如塵，將燈草蘸鹽少許，輕手指定浮翳，三次即消，或大桑樹滋點眼即去。</p>
<p>治目疾昏花統治。</p>
<p>用甘菊花、枸杞子各等分，共為末，蜜丸。如久服，終身無目疾，永不生癰疽等毒。</p>
<p>沿飛絲入目。</p>
<p>用好墨磨濃，點之即出。或用新鮮白菜搗汁，絞滴二三點，其絲亦出。</p>
<p>治一切目疾洗眼方</p>
<p>用防風、荊芥、連翹、白芷、歸尾、甘草、白礬、膽礬。</p>
<p>上共八味少許，水煎去渣。乘熱洗目，洗二次即愈。</p>
<p>治疳積壞眼方</p>
<p>用穀精草、小青草、使君子、青黛、海粉、刺蒺藜（各一兩）</p>
<p>上藥共為末，每早用三錢，將羊肝切七片，拌藥蒸熟，服之即愈。</p>
<p>治天絲入目。</p>
<p>用石菖蒲搗汁，灌鼻內，立效，或用川倍子五錢，為細末，水一碗，煎滾，乘熱圍熏。俟汁冷，以舌尖浸汁內，少頃，其絲從舌尖出。</p>

<h2>治耳疾門</h2>
<p>治耳內爛方</p>
<p>用廣皮（燒灰）　江魚齒（二個，燒灰）　加麝香少許，共為細末，吹耳內即愈。</p>
<p>治耳出膿血。</p>
<p>用香灰　白礬　冰片（各等分）</p>
<p>上共研細末，吹入耳內即效。</p>
<p>又方</p>
<p>用菖蒲根洗淨搗汁。先將耳內攪淨，將蒲汁滴入，蕩洗二次即愈。</p>
<p>治耳內流膿。</p>
<p>將寺院中香爐內煙膏取一錢，冰片五釐，共研末吹入耳內立效。必要先將膿水絞淨後吹不誤。</p>
<p>治耳內作痛如有蟲行，或時有血水流，痛不可忍者。</p>
<p>用大蔥一根，入蚯蚓一條，加麝香少許，線扎掛風處，化水滴入，即效。</p>

<h2>治鼻血鼻瘡門</h2>
<p>治鼻血不止方</p>
<p>用細草紙折十餘層，將井水浸透，分發貼頂心中，以熱熨斗熨之，微熱不妨，久之即止。</p>
<p>又方</p>
<p>用大蒜一個，去皮研如泥作錢大，厚如綠豆許。若左鼻出血貼左足心，右鼻出血貼右足心，兩鼻俱出，俱貼，即湧泉穴。</p>
<p>又方</p>
<p>用新汲水隨左右洗足即止，累用有效。</p>
<p>又方</p>
<p>用血餘燒灰吹之，立止，永不再發。男用女發，女用男發。男左女右，吹之即止。</p>
<p>止鼻血歌：</p>
<p>石榴花瓣可以塞，蘿蔔藕汁可以滴。</p>
<p>火煅龍骨可以吹，水煎茅花可以吃。</p>
<p>又歌</p>
<p>牆頭苔蘚可以塞，車前草汁可以滴。</p>
<p>火煅蓮房可以吹，水調鍋煤可以吃。</p>
<p>治酒渣病方</p>
<p>用大黃、朴硝各等分。其二味為末，將自己唾津調塗鼻上。晚塗早洗，半日退赤矣。</p>
<p>又方</p>
<p>用銅綠為末，每晚切生薑片蘸擦之亦效。</p>
<p>治鼻內生瘡。</p>
<p>用元參末水調敷之。或將元參水浸軟，塞鼻內亦可。</p>
<p>治赤鼻。</p>
<p>用白果肉兩個，白芷五分共搗爛，臨臥時掩鼻上，次早去之，三四次即退。</p>
<p>治鼻衄不止。</p>
<p>用白及為末，自唾津調塗山根上，再用白及一錢水煎服，立止。</p>
<p>又方</p>
<p>用西瓜子殼五錢，洗去垢，水煎汁，服之即止。</p>

<h2>治吐血門</h2>
<p>治吐血不止。</p>
<p>用嫩荷葉七張，擂汁服之。如無，用陳荷葉焙乾研末，以新汲水送服即止</p>
<p>又方</p>
<p>用飴糖炒炭為末，每服三錢，以白茅根煎湯送。</p>
<p>又方</p>
<p>用薄白紙五張，燒灰，取天泉水送服，效不可言。</p>
<p>治咳嗽吐血方</p>
<p>用小兒胎髮燒灰，入麝香少許，每個兒發作一服。男用女發，女用男發，天泉水送服，即止。</p>
<p>又方</p>
<p>用松子二兩，胡桃肉四兩，熟板油四兩，煉蜜和丸服，潤肺止嗽，止血。</p>

<h2>治牙痛門</h2>
<p>治取牙法。</p>
<p>用茄根以馬尿浸三日，曬乾，炒為末，每用點即自落，真妙。</p>
<p>又方</p>
<p>用　草烏　蓽茇（各一錢五分）　川椒　細辛（各三錢）</p>
<p>以上四味，共為細末，每用少許，點在患牙內外，一時其牙自落。</p>
<p>治牙痛方</p>
<p>用薏苡仁根（四兩），水煎。含漱，冷即易之。</p>
<p>又方</p>
<p>用梅花冰片，硃砂各少許，共為末，揩之即止痛。</p>
<p>又方</p>
<p>用三奈子（一錢，麵包煨熟），入麝香（二匙），共為末，隨左右搐一匙入鼻內，口含溫水漱去，神效。名海上一字散。</p>
<p>治風火牙痛及搖動方</p>
<p>防風　荊芥　生地黃　青皮　甘草</p>
<p>以上各等分，照後加減：</p>
<p>上當門四齒屬心，加黃連、麥冬；</p>
<p>上當門旁二齒屬腎，加川芎、白芷；</p>
<p>上左邊屬膽，加膽草、羌活；</p>
<p>上右邊屬腸，加大黃、枳殼；</p>
<p>下當門四齒屬腎，加黃柏，知母；</p>
<p>下當門旁二齒屬脾，加白朮，白芍；</p>
<p>下左邊屬肝，加柴胡、梔子；</p>
<p>下右邊屬肺，加茯苓、桔梗；</p>
<p>治一切牙疼（名清白散）。</p>
<p>用青鹽（二兩）　食鹽（四兩）　川椒（四兩）　煎濃汁，拌二鹽，炒乾為末，擦牙，永不再發。以漱口水洗面亦無面疾。</p>
<p>治蟲牙韭萊湯方</p>
<p>用韭菜子少許，煎濃汁漱之，蟲自出而愈。</p>
<p>治齒痛及口氣臭方</p>
<p>用北細辛一味，煎濃汁，乘熱噙嗽，良久吐之，極妙。</p>
<p>又方</p>
<p>用隔年糟茄燒灰，頻頻摻擦牙處，立效。</p>
<p>治食梅齒楚者。</p>
<p>即嚼胡桃肉解之。</p>
<p>治齒痛奇方</p>
<p>用夏茄花浸鹽滷內，將花貼牙痛處，立愈。</p>

<h2>治諸骨梗喉門</h2>
<p>系五月五日午時至韭菜地中，面東勿語，取蚯蚓泥成團藏掛，每擦喉外，名六一泥，其骨自消。</p>
<p>又方</p>
<p>用威靈仙少許，砂糖，酒煎服即愈。或用鳳仙花子二十粒，白滾湯吞送亦消。</p>
<p>又方</p>
<p>用硼砂（一錢），再要野葶麻根（二錢），共搗碎丸如圓眼大，納口中，使津潤嚥下，諸骨皆化。</p>
<p>治魚骨梗喉方</p>
<p>即用飯糰一個，不令二眼見，手指空寫飯糰上龍字九個，將飯糰吞之即愈。</p>

<h2>治喉症門</h2>
<p>治單喉雙喉方</p>
<p>用獨頭蒜一個，搗爛，掩手心上。用蜆殼一個，蓋好縛定，不使走氣，半日即愈。左生掩右手，右生掩左手，雙喉兩手俱掩。雖數日不吃，掩之必效。</p>
<p>治鎖喉風方</p>
<p>用臭樹根搗汁，醋調敷喉中即愈。</p>
<p>又方</p>
<p>用清水研新艾葉服之，如無艾葉，以根和水研汁服之，亦效。</p>
<p>治喉痹口噤方</p>
<p>用馬蘭頭根或葉搗汁，入米醋少許，滴鼻孔中，或灌喉中取痰，此急救之神方。屢試屢驗。土牛藤苗亦可。</p>
<p>治喉閉，死在須臾。</p>
<p>用膽礬（五分，半生半枯），熊膽（三分），共為細末。再用番木鱉井水磨調和，用雞毛蘸掃患處。如噤口，以筋啟口，藥到即愈。</p>
<p>治救喉風方</p>
<p>用壁蟢窩數個，瓦上焙研細，吹之，血散痰消立愈。</p>

<h2>治瘰癧門</h2>
<p>治結核瘰癧遍滿脖項者。</p>
<p>用夏枯草（五錢）　金銀花（五錢）　蒲公英（五錢）　水酒各半煎服。如小兒，分兩減半，多服極效。</p>
<p>治年久瘰癧。</p>
<p>用雄雞矢燒灰，臘豬油調敷核上漸愈。</p>
<p>治項後結核，赤腫硬痛。</p>
<p>用生山藥去皮，加蓖麻子二粒，同研貼之，甚效如神。</p>
<p>治瘰癧或破或不破皆治。</p>
<p>用新鮮何首烏根，洗淨，日日生嚼。並取葉搗塗之，數次即止。此藥久服延年，其功不殘。</p>

<h1>中焦</h1>

<h2>治失心瘋疾門</h2>
<p>治失心瘋癲方</p>
<p>用水銀（八錢），藕節（八個），研成砂子，丸如芡實大，每服二丸，取磨刀水送服，漸愈。</p>
<p>治失心癲狂行走歌哭不休。</p>
<p>用好生豬肉一斤，煮得極熟，或醬燒，或炒，或作羹，必要多用醬，使任意服之。食醬肉後心失仍不止，再吃一會愈矣。</p>
<p>治癲狂方</p>
<p>用真鬱金（五兩），明礬（二兩半），共為末，薄米湯糊為丸梧子大，每服三十丸，白湯送服盡，漸愈。</p>

<h2>治心痛門</h2>
<p>治積年心痛不拘遠近。</p>
<p>常煮食小蒜，切勿著鹽，如多食，永不再發。</p>
<p>治心氣疼痛。</p>
<p>用綠豆（二十一粒）　胡椒（十四粒）　同研為末，清滾湯沖服即止。</p>
<p>又方</p>
<p>用紅曲　香附　乳香各等分，為末，每服一錢，溫酒送服即愈。</p>
<p>治心腹冷痛。</p>
<p>用新汲水，要覓長流處，取一杯。如男人病女人取，女人病男人取，飲之即止痛。</p>
<p>治一切心痛。</p>
<p>用川芎一個為末，燒酒送服。吃一個住一年，吃二個住二年，經驗。</p>
<p>治心腹絞痛霍亂者。</p>
<p>用炒鹽（三錢）　炒砂仁（五錢為末），湯泡，將井水中澄冷，灌之即止。</p>

<h2>治反胃門</h2>
<p>治反胃轉食方</p>
<p>用大雪梨一個，以丁香十五粒刺入梨內，外用濕紙包四五層煨熟，食之不轉。</p>
<p>治朝食暮吐。</p>
<p>用丁香十五粒研末，以甘蔗汁、薑汁和丸蓮子大，咽之，服盡不吐。</p>
<p>治反胃方</p>
<p>用螺螄一斗水浸取泥曬乾，每服一錢，火酒調服即不轉。</p>
<p>又方</p>
<p>用韭菜搗汁二杯，入薑汁、牛乳各一杯，和勻溫服。蓋韭汁消血，薑汁下氣消痰、和胃，牛乳能解熱潤燥，補氣虛也。</p>
<p>治胃脘火痛。</p>
<p>用山梔七個（炒），水煎，入生薑汁一匙，服之即止。如寒痛不宜服，切記。</p>
<p>治胃脘乾枯，噎食嘔吐</p>
<p>用甘蔗汁、蘆根汁、梨頭汁、藕汁、所瀝人乳、童便和勻，時時溫服，止噎止吐漸愈矣。</p>
<p>治反胃轉食。</p>
<p>用地龍糞（一兩）、木香（三錢）、製大黃（六錢），共為末，每服三錢，以無根水調一二服，不轉食甚效如神。切忌煎炒。酒、醋、椒、姜熱物不誤。</p>

<h2>治肺癰門</h2>
<p>治肺癰方</p>
<p>用茅草根五斤，水洗淨，搗爛，煮湯作茶常服，漸愈矣。</p>
<p>又方</p>
<p>用薏苡仁略炒為末，糯米飲調服，或煮粥常吃亦可。瀉血即愈。</p>
<p>又方</p>
<p>用綠橘葉洗搗，絞汁一盞服之，吐出膿血愈也。</p>

<h2>治腹脹及水蠱脹門</h2>
<p>治諸果成積，傷脾作脹。</p>
<p>用麝香（一錢），上肉桂（去皮淨末，一兩），飯和丸綠豆大，每服大人十四丸，小兒七丸，白湯送服。</p>
<p>治腹脹黃腫。</p>
<p>用亞腰壺蘆一個，連子燒存性，每服一個，食前溫酒送下。如不飲酒，白湯送服亦可，不數日即見效。</p>
<p>又方</p>
<p>用活鯉魚一個，約一斤，加米醋二斤煮乾。切勿放鹽，食之，一日一作漸愈。</p>
<p>治水蠱腹脹。</p>
<p>用老絲瓜去皮一條，前碎巴豆十四粒同炒巴豆黃色，去豆。以瓜同陳倉米再炒熟，去瓜研米為末。米糊丸梧子大，每服六十丸，白滾湯送下。蓋米養胃，巴豆逐水，絲瓜行脈絡，各借氣引之，驗方。</p>
<p>治周身俱腫。或水腫、風腫、氣腫，皆治</p>
<p>用香薷葉（一斤，熬成膏），加白朮（為末七兩），和丸梧子大，每服十丸，米飲湯送服，每日服五次，夜服一次。使小便長利為度，漸愈。</p>

<h2>治腹中痞塊門</h2>
<p>治痞塊方</p>
<p>用阿魏（一兩五錢），米醋（四碗），入銅勺內滾過，將阿魏烊在醋內，傾入瓶中，用生雞蛋七個，浸七日，每服一個，以清水煮熟服之，吃完塊消。</p>
<p>又方</p>
<p>用皮硝（一兩），獨蒜（一個），大黃末（八分）。搗作餅，貼患處即消。</p>

<h1>下焦</h1>

<h2>治赤白痢疾門</h2>
<p>治赤白痢方，名姜墨丸</p>
<p>用乾薑、好墨（各五錢），要多者用五兩亦可，共為末，醋醬和丸梧子大，每服三十丸，米飲湯送服。日夜可吃，四五服即止。</p>
<p>又方</p>
<p>將罌粟花未開時，外有兩片青葉包定。如開即落，將此青葉收取，令燥為末，每服一錢，清茶送服。如赤痢紅花葉，白痢白花葉，不誤。收葉時另為記號。</p>
<p>治禁口痢單方</p>
<p>用鹿角（三錢），煅過存性，陳老酒送服即止。</p>
<p>又方</p>
<p>用活田螺二個，去殼，將肉搗爛，入麝香三分作餅，烘熱，貼臍間半日，使熱氣下行即思飲食矣。</p>
<p>治久痢禁口方</p>
<p>用金絲鯉魚一尾，約重一斤，如常治淨。仍用鹽醬蔥，必入胡椒末三錢煮熟，置病人前嗅之。欲吃，隨意連湯食，病即除。屢治有驗。</p>
<p>治虛泄精滑方</p>
<p>用金櫻子煎膏，和芡實粉為丸，名水陸丹。能益氣補真，並有固精之妙。</p>
<p>治小兒泄瀉不止</p>
<p>用五倍子為末，陳醋調稀熬成膏，貼臍上即止。</p>
<p>治小兒泄瀉無度，不思飲食者</p>
<p>用好生白朮，將陳酒磨濃汁，仍用熱陳酒沖服。候空肚服之。每服大人二錢，小兒一錢，最效。</p>
<p>治五更腎泄</p>
<p>用五味子（去梗，二兩），吳茱萸（五錢，要滾湯泡七次），與五味子同炒香為末，每旦陳米飲送服二錢，久服更妙。</p>
<p>治忽然泄瀉</p>
<p>用柿餅二個，醋浸透，再將醋浸濕紙裹，煨令紙焦，其餅已熟，乘熱食之即止。</p>

<h2>治大便下血門</h2>
<p>治大便下血</p>
<p>用熟羊血拌醋食之，最效。</p>
<p>又方</p>
<p>用殭蠶（炒，一兩），烏梅肉（一兩半），共為末，醋糊丸桐子大，每服四十丸，醋湯送下即止。</p>
<p>又方</p>
<p>用荊芥莖穗（二兩），槐花（一兩），同炒研末，日服三錢，清茶送服愈。</p>
<p>又方</p>
<p>用新鮮蘿蔔菜搗汁一盞，加白糖少許，溫服。無論糞前糞後，皆治。</p>
<p>治血痢不止</p>
<p>用芝麻煮綠豆，時空肚食之，極效。</p>
<p>治便血症</p>
<p>用側柏葉（揀淨，八兩）　生礬（一兩，煎湯，煮乾陳年棕三兩，燒灰存性。如無，用陳漿糊掃帚亦可）　槐花（酒炒，四兩）</p>
<p>上三味共為末，水法為丸。每服三錢，空肚淡鹽湯送服。切忌胡椒，不誤。</p>
<p>治糞後見紅</p>
<p>用香椿樹皮、臭椿樹皮（各三錢），要去粗皮，淨，酒煎。候空肚，服三次即止。</p>
<p>治腸風下血</p>
<p>用盛茶葉簍內箬葉燒存性，每服四匙，空肚，糯米湯送下。如重者加麝香少許；無麝香，砂糖調服亦可。</p>
<p>治痔漏便血</p>
<p>用牛膽一個，將淨槐米入膽汁中漬之，陰乾至百日，每日吞一粒，漸愈。</p>
<p>治男婦血淋</p>
<p>將遠年煮酒瓶頭箬七張，燒存性。入麝香一匙為一服，陳米湯送，每日吃三服。亦治五淋。</p>

<h2>治小便不通門</h2>
<p>治小便不通</p>
<p>用蔥三斤，切，炒熟。將布包熨小腹立通，或分作二包替換熱熨，更愈速。</p>
<p>又方</p>
<p>同蚯蚓糞、朴硝各等分，水和敷臍下，一直待片時即通。</p>
<p>又方</p>
<p>用田螺一個，去殼取肉，入鹽半匙，搗敷臍下一寸三分即通。</p>
<p>又方</p>
<p>用獨蒜（二個）　梔子（三個）　鹽花（少許）三味共搗爛，攤貼臍下，良久即通。如不通，再塗囊上，更妙。</p>
<p>治小兒不尿方</p>
<p>用白鹽放於臍下，以艾灸之即通。</p>
<p>又方</p>
<p>用真象牙生切片，煎濃汁，服之即下。</p>
<p>治小兒卵腫方</p>
<p>用蚯蚓泥將薄荷汁和，塗腫處即消。</p>

<h2>治疝氣門</h2>
<p>治疝氣㿗腫方</p>
<p>用荔枝核（炒黑色）、大茴香（炒）各等份，每服二錢，酒送，漸消。</p>
<p>治腎腫大如斗者</p>
<p>用荔枝核、青橘皮、茴香各等份，炒燥研末，每服三錢，熱酒送，空肚日服三次，漸消。</p>

<h2>治痔漏脫肛門</h2>
<p>治痔瘡奇方</p>
<p>用大蚯蚓七條，搗爛，將雞蛋二個，同蚯蚓打勻，麻油煎熱，空肚，酒送下。服三次即愈。</p>
<p>治痔漏方</p>
<p>用馬錢子磨豬膽汁塗痔上，立愈。</p>
<p>治痔經驗方</p>
<p>用黑牛膽五個，俱實，以淨槐米陰乾，連膽搗丸，每日服三錢，鹽湯送下，漸愈。按：糞前有血名外痔，糞後有血名內痔，大腸不收名肛痔，頭有孔名漏，痔內作癢有蟲名蟲痔，並治之。</p>
<p>治脫肛不收</p>
<p>用鮮橘葉數十片，濃煎汁洗之即收進。此余驗方。</p>
<p>治脫肛熏洗法</p>
<p>用赤皮蔥、韭二味，各帶根煎湯，入大楓子、防風末各數錢，乘熱熏洗，立收上。</p>
<p>治脫肛方</p>
<p>用孩兒茶（二分），熊膽（五分），片腦（一分二錢），共為末，將人乳調敷肛上即收上。</p>
<p>治小兒脫肛方</p>
<p>用田螺（一個），冰片（半分），入田螺內，將雞毛挑搽肛上即收進。</p>
<p>治老幼脫肛方</p>
<p>用萬年青連根煎湯，熏洗，再用川五倍子末敷上即效。</p>

<h1>女科</h1>

<h2>治婦人難產門</h2>
<p>治難產方</p>
<p>即取土蜂幾窠土，將滾水泡湯飲之即下。如取窠土時，逢單眼生男，逢雙眼生女。經驗良方。</p>
<p>又方</p>
<p>即將當年歷日本簿面上大印，限印四方剪落，其印上隨手寫當令本縣主縣姓名，不令兩眼見，包好，放在產婦發內即生。</p>
<p>又方</p>
<p>用桃仁一個，劈開，一片上寫可字，一片上寫出字，令產婦吞之，不令兩眼見，有效。</p>
<p>治難產經驗方</p>
<p>用好酒釀、麻油、白蜜、童便、雞蛋清各半杯煎服，即產。但此方廣傳，濟世陰功不淺。</p>
<p>治難產秘傳</p>
<p>將妊婦頭髮一握，含進產婦口內，噁心吐出，下亦產矣。</p>
<p>催生易產</p>
<p>用麝香（一錢），水研服，立下。</p>
<p>治婦人臨產</p>
<p>產有腸先出而後生子，盤生，其腸不收，即用醋半盞，冷水七分，噴婦面，三噴則腸收盡，此良法也。真經驗方。</p>
<p>治子死腹中</p>
<p>即用伏龍肝（即鍋臍下灶心泥）為末三錢，長流水調下即落。</p>
<p>又，死胎方</p>
<p>用長流水磨金墨服之，即落。</p>
<p>治死胎不下方</p>
<p>用當歸（一錢），川芎（七分），二味煎服，立效。</p>

<h2>治赤白帶下門</h2>
<p>治婦人赤白帶</p>
<p>用雞冠花焙乾為末三錢，陳酒送服。如赤帶用赤花，白帶用白花。</p>
<p>治婦人白帶</p>
<p>因七情內傷所致，用沙參為末，每服二錢，米飲湯送。</p>
<p>又白帶方</p>
<p>用百草霜（一兩），香金墨（五錢），共為末，每服三錢。用豬肝一葉批開，入前藥在內，紙包煨熟，酒送即愈。</p>
<p>治赤白帶下</p>
<p>用黑豆（二兩），白果肉（十個，去皮），紅棗（二十個），水煎服，食即愈。</p>

<h2>治胎衣不下門</h2>
<p>治胎衣不下</p>
<p>即取本宅中柱下土一撮，研末，寧少無多，和雞子清服之即下。</p>
<p>又方</p>
<p>用好金墨二錢研末，溫酒服之即下。</p>
<p>又方</p>
<p>用本婦手足指甲燒研末，熱酒送服即下。</p>
<p>又方</p>
<p>用芒硝（二錢半），牛膝（三錢），水煎，加童便半盅，沖服即下。</p>

<h2>治產婦驚風門</h2>
<p>治產後驚風方</p>
<p>用新瓦一塊燒紅，置產婦低處，將被圍住，投好醋於瓦上，使熱氣衝入小便內，如產婦口內有痰，隨手取出即愈。</p>

<h2>治乳癰乳腫門</h2>
<p>治乳癰方</p>
<p>用五日端午棕箬，燒灰存性，酒送二錢，即散。</p>
<p>又方</p>
<p>用萱花根，即針金菜根搗汁，沖熱酒送服，渣敷患處，即消。</p>
<p>又方</p>
<p>用蒲公英、紫地丁、紫背天葵、萱花根、歸尾、蒼耳子、金銀花、土爪蔞、紅花各等分，將陳老酒煎服即消。</p>
<p>治乳岩破頭爛者</p>
<p>用白茄一個煅灰存性為末，摻膏藥上貼之即愈。各冬日無鮮茄覓，有茄干或醬茄亦可。</p>
<p>治乳汁不通</p>
<p>用木連兩個，豬前蹄一雙煮爛熟，食之，並飲汁盡，即通。</p>
<p>治婦人產後無幾，乳房脹痛</p>
<p>即用生麥芽二兩煎汁，候食遠服之即愈。</p>

<h2>治經閉血崩門</h2>
<p>治產後血閉</p>
<p>用桃仁（二十一粒，去皮尖），藕（一塊），水煎，食之更妙。</p>
<p>治婦人絞脹經閉</p>
<p>將常用薄刀上放食鹽不許，將刀放火上焙燥，以童便沖服即愈。此係經驗良方。</p>
<p>治婦人血崩</p>
<p>用紅雞冠花曬乾為末，每服二錢，空肚酒送下。忌魚腥豬肉。速愈。</p>

<h1>小兒</h1>

<h2>治小兒驚風門</h2>
<p>治小兒驚風</p>
<p>將小兒中指屈轉於手心，墨點穴，灸三壯，得聲出即止。其效如神。</p>
<p>治小兒驚忤夜啼</p>
<p>將本家廚下燒殘柴，削平，焦處向上，米砂書云：撥火杖，撥火杖，天上五雷公差來，作神將捉住夜啼鬼，打死不要放，急急如律令。書畢不令人知，安立床前腳下，分男左女右。</p>
<p>又方</p>
<p>用豬窠中草，密放小兒席下，勿令母知，次夜即安。</p>
<p>治小兒臍瘡</p>
<p>用龍骨煅研，摻之即愈。</p>
<p>又方</p>
<p>臍瘡不幹，用綿子灰摻之即愈。</p>
<p>治小兒被蚯蚓叮腫</p>
<p>用廚下吹火筒，令婦人以筒吹其腫處，即消。</p>
<p>治小兒口疳方</p>
<p>用甘蔗皮燒灰，摻之即愈。</p>

<h2>治小兒夜啼門</h2>
<p>治小兒夜啼方</p>
<p>用燈芯草灰擦乳上，令兒食之，次夜不啼。或硃砂寫甲寅二字，貼床頭即止。</p>

<h1>雜症</h1>

<h2>治一切瘡毒門</h2>
<p>治發背瘡方</p>
<p>用木連樹葉，俗呼鬼饅頭，將葉搗爛，絞汁和勻，飲數升，其滓敷患處甚效。</p>
<p>又方</p>
<p>用冬瓜截去頭，合於瘡上，如瓜爛再合一個，瓜未盡，瘡已斂，將好膏藥收口漸愈。</p>
<p>又方</p>
<p>用活蟾（即癩師）一隻，系放瘡上半日，蟾必昏憒，即置水中救活。再易一隻，如前法再救活，連用數只則毒散矣。累驗極效。</p>
<p>又方</p>
<p>用蟾三四隻，即破開，乘熱連肚合瘡上，不久必臭，不令人聞，即去。再易三次即愈。但不以物微見輕也。驗方。</p>
<p>治久患口瘡</p>
<p>用生附子一個，天南星一個，共研末，薑汁和塗足心，即湧泉穴，分男左女右貼之。</p>
<p>治漆瘡方</p>
<p>用田藤上野芥菜擦之，止癢漸消。</p>
<p>又方</p>
<p>用乾荷葉煎湯，洗之，亦好。</p>
<p>又方</p>
<p>用鳳尾草煎湯，待冷，洗二次即愈。</p>

<h2>治湯火炮傷門</h2>
<p>治火燒瘡方</p>
<p>用竹蛀米，加大黃末，二味香油調敷即愈。</p>
<p>又方</p>
<p>用劉寄奴、大黃二味為末，麻油調塗，亦佳。</p>
<p>治火炮傷亡</p>
<p>用大黃煅灰存性，將生桐油調塗患處，即消。</p>
<p>治湯火傷</p>
<p>用蚯蚓泥、菜油調塗漸愈。或用生大黃為末，以米醋調敷，斷不可著水井泥等物，以為大害。</p>
<p>又湯火傷</p>
<p>生石膏　大黃　寒水石（各三錢）　東丹錢（五分）　冰片（三分）</p>
<p>上共為細末，再用塊石灰兩許，水溫令化，放清水中攪，澄取石灰面上清水半盅，和菜油半盅，攪勻，色如雞子黃為度，將水油調前藥，敷之即愈。</p>

<h2>治刀傷杖瘡門</h2>
<p>治刀傷並一切擦傷</p>
<p>用端午午時將風石灰，取連根韭菜洗淨，搗汁，連灰作餅，使陰乾，越陳越好，臨時細末摻用。</p>
<p>如論單方，用南星為末，或半夏為末，或小麥面，或紅絨灰，或香灰，或百草霜，均以為末摻用。諸方俱效，各隨其便。</p>
<p>又，刀傷方</p>
<p>用舊氈帽，要口上汗油透剪落，燒灰敷上，止痛止血，收口三四日，不下水即愈。</p>
<p>又方</p>
<p>用川貝母（七分）　生半夏（三分），共研細末，摻傷處，不使漏風，指日奏效。</p>
<p>治疥瘡方</p>
<p>用輕粉（一錢）　川椒（二錢）　大楓子肉（二錢五分）　雄黃（二錢）　蛇床子（四錢）　枯礬（二錢）　檳榔（二錢）。</p>
<p>上共七味為末，豬油調擦立效。</p>
<p>又疥瘡方</p>
<p>用硫黃（三錢）　火硝（一錢）　五倍子（五分）　雄黃（一錢）　樟腦（二錢）　水銀（一錢）　大楓子（三錢），加油桃數個，豬油搗爛，搽擦即愈。</p>
<p>治黃水濕瘡方</p>
<p>用真桕油（二兩）　香油（二兩），同熬，調搽如神。</p>
<p>又濕瘡方</p>
<p>用燕窠土（一分）　麝香（半分）　香油研敷漸愈。</p>
<p>治小兒口瘡</p>
<p>用烏梅一個，煅過，入冰片半分同研，吹入口內即愈。</p>
<p>治小兒肥瘡</p>
<p>凡小兒頭面耳邊生瘡，瘡水流到處便生，用細蚊蛤火略煨，研末擦之即愈。</p>
<p>治無名腫毒及諸蟲咬傷</p>
<p>用芋艿葉搗爛，敷於患處即愈。</p>
<p>又無名腫毒方</p>
<p>用陳年消粉炒黑色，冷定研末，將陳年米醋調熬如黑漆，磁罐內收之。圍腫處即消，必要留頭出，干則再圍。</p>
<p>又方</p>
<p>用五倍子、藤黃各等份為末，醋調塗患處，必要留頭出。</p>
<p>又方</p>
<p>用馬錢子切片炒黑色，研細末，或醋，或蜜調圍。如陰毒加藤黃少許，陽毒不必加。</p>
<p>又方</p>
<p>用黑羊角（一雙煅灰存性，研末，將陳老酒送服，儘量一醉，立消。以吃完為度）</p>
<p>治腫毒堅硬不變化者</p>
<p>用芙蓉花葉，或根、或皮、或花，生搗，或焙乾研末，蜜調敷腫處，留頭處，干則更換。未成者止痛消腫。已成者聚膿出毒。</p>
<p>治熱毒癰腫</p>
<p>用赤小豆為末，雞子白調敷。亦治痘毒。神效。</p>
<p>治諸癤毒腫</p>
<p>用鹽梅乾（五十個）　活蜒蝣（一百條）　明礬（三兩），同入磁瓶內拌化，曬二日，蓋截。凡有腫處用梅皮貼之即消，並治喉中大毒，將梅汁滴入喉內亦消。</p>
<p>治羊須癩瘡方</p>
<p>用舊綿紙燒灰，麻油調敷即愈。</p>
<p>治諸惡瘡腫方</p>
<p>用獨蒜兩顆搗爛，和麻油厚調敷患處，干即再換。驗方。</p>
<p>治口吻生瘡方</p>
<p>用砂仁殼煅研，抹之即愈。此雖小疾而人所常有。</p>
<p>治天泡瘡方</p>
<p>用滑石、甘草各等份，共為細末，挑破去水，敷之即愈。</p>
<p>又泡瘡方</p>
<p>用蓮蓬殼燒研末，井底泥調塗，神效。或用鮮絲瓜搗爛，塗患處亦愈。</p>
<p>治陰頭生瘡方</p>
<p>用鱉甲一個，燒研末，雞子白調敷即愈。</p>
<p>治寒濕腳瘡方</p>
<p>用雄黃（一錢五分）　杏仁（三十粒，皮要去淨）　輕粉（一錢），共為末，將雄黃等藥同入豬膽汁，調敷二三日即愈，百發百中。</p>
<p>治腳瘡隔紙膏方</p>
<p>用淨松香（四兩，研細末）　麻油（二兩）　芝麻（四兩）　蜜（四兩），如瘡癢加花椒末（五分）。共研碎，入前藥四味拌勻，用油紙觸眼做成隔紙膏，先將瘡口洗淨，後貼。如已生新肉，一日必換二次，以得預好。</p>
<p>治腳瘡方</p>
<p>用爐甘右（要童便浸過，陰燥，一兩），加梅冰（五分）　白蠟（五分），共為細末，陳香油調敷即愈。</p>
<p>白玉膏，治臁瘡口</p>
<p>用豬板油（二兩）　白蠟（五錢）　黃蠟（五錢）　輕粉（二錢）　樟冰（二錢）　水粉（一兩）　蔥根末（三錢）　川椒末（三錢）</p>
<p>統研，先將豬油、白蠟、黃蠟溶化，再將蔥、椒、輕粉、樟冰等細末同油汁入碗內，然後入細藥末，併入水粉一處攪勻。用油紙攤貼，先將川椒湯洗淨拭乾，後貼速效。</p>
<p>又臁瘡方</p>
<p>用真川椒六兩，每次一兩，煎湯溫洗。將血餘（要覓年少頭髮）滾湯泡淨三次，曬乾，燒灰為末，真麻油調塗，二次即愈。</p>
<p>治對口疔瘡方</p>
<p>用白菊花（四兩）　甘草（四兩），水煎服即消散，此乃救命仙方也。</p>
<p>治疔瘡方</p>
<p>用雄黃（一錢為末）　烏梅肉（三個）　活蜒蝣（兩條），三味共搗爛，塗疔上即撥出。</p>
<p>又疔瘡方</p>
<p>用菊花葉搗汁，如瘡痛欲死者，入口即活。無菊葉，根亦可。渣敷患處。</p>
<p>又疔瘡方</p>
<p>或發於面部，或手指及諸處有瘡起，或身熱麻木，此極毒症。即用針刺破出惡血，候血盡，口噙涼水吮之，如水溫，再換，吮至知痛癢則住，愈矣。</p>
<p>治黑疔並治痘毒</p>
<p>用紫草（三錢）　雄黃（三錢）　胭脂汁調塗。先將銀針挑破，點之即愈。</p>
<p>又疔瘡方</p>
<p>用荔枝肉、白梅各三個，搗作餅，貼瘡上，其疔自出。或將獨蒜搗塗疔腫處即消。</p>
<p>又疔瘡方</p>
<p>用蟾酥、硃砂（各一錢）　黑棗（三個，去皮核），同研，敷貼疔自出。</p>
<p>又疔瘡方</p>
<p>用生芝麻嚼汁敷瘡上，如燥，可時嚼時敷，漸愈。</p>
<p>治初起癰疽</p>
<p>用核桃半個去肉，以十五六歲年輕燥糞合在殼內，其殼上鑽一眼，連糞合於患處，殼外用艾灸四五十壯，使血散毒消。女病男糞，男用女糞，不誤。</p>
<p>治流火方</p>
<p>用木蓮藤葉煎湯熏洗後，以豆腐渣敷之，三日痊愈。</p>
<p>治杖傷方</p>
<p>即用童便和酒一杯飲之，以免血氣攻心。外用熟豆腐鋪在枝傷處，候腐變紫色，再換腐，總令肉色淡紅為度。或用陳年石灰為末，水調，鵝翎掃上亦佳。</p>
<p>又杖傷方</p>
<p>用濕綿紙鋪傷處，以燒過酒糟搗爛，厚鋪紙上，良久，痛處如蟻行，使熱氣上升即散。</p>

<h2>治救蜈蚣蛇傷門</h2>
<p>治蜈蚣咬傷</p>
<p>即用菜油傾地上，擦土，將所擦油泥塗於傷處即好。</p>
<p>又方</p>
<p>即取大蜘蛛一個，活放患處吸其毒，將蜘蛛放入水中，解毒活命，其咬處再用鍋煤搽之即愈。</p>
<p>治蜈蚣百蟲入耳</p>
<p>用薑汁滴入耳內，或韭菜汁，或雞冠血，或香油，或麻油，俱出即死。</p>
<p>治解蜈蚣誤吞入腹</p>
<p>即取小雞一隻，即斷喉取血，乘熱飲之，復灌以香油取吐，其蜈蚣隨出。</p>
<p>治蛇咬傷</p>
<p>即取人屎厚封咬處，即消。</p>
<p>治一切蛇蟲咬傷，重者則毒氣入腹，以為大害</p>
<p>即用明礬、甘草各一兩，共為細末，每服二錢，不拘時，冷水調服，亦可敷患處。</p>
<p>治蛇咬傷單方</p>
<p>用馬蘭豆或根、或葉，搗汁入米醋少許，搽上即愈。</p>
<p>治毒蛇咬傷欲死者</p>
<p>用大青錢一個，其錢孔准對咬傷之血眼，捺緊，將明礬熬化滴入錢孔，令毒氣自收，不入內，如滴時不使毒氣入口鼻。此方效如神仙。</p>

<h2>治救吞錢鐵門</h2>
<p>治誤吞錢鐵針入腹方</p>
<p>用蠶豆煮熟，同韭菜食之，針從大便出，效方。或熟蠶豆為末，搗生韭菜汁，同食，針裹而下。</p>
<p>治救吞針法</p>
<p>用金眼蝦蟆一隻，將兩金眼取出服之，其針自能穿於眼上，從大便出，驗方。</p>
<p>治誤吞銅錢銀器方</p>
<p>用羊脛骨燒灰研末，每服二錢，以荸薺汁調服自化。</p>

<h2>治跌打損傷門</h2>
<p>治跌打損傷腫痛不消方</p>
<p>用大黃一味為末，薑汁調敷患處，即散。或半夏為末，調敷亦可。</p>
<p>治跌傷陰囊方</p>
<p>用古文錢三個，油胡桃七個（去殼），連錢共研，無聲為度，將滾熱酒沖服，揀出古錢，食桃酒即愈。</p>
<p>治破傷風方</p>
<p>用豨薟草一把，將陳老酒煎服。甚妙。</p>
<p>治折傷接骨方</p>
<p>用灰鱉蟲焙燥，存性為末。每服大人三錢，小人二錢，溫陳酒送服，接骨神效。</p>
<p>又接骨方</p>
<p>用活灰鱉蟲七個，擂汁，沖熱酒服之，接骨止痛。</p>
<p>治跌打血攻，心痛不可忍者</p>
<p>用鹿角（燒灰）、硃砂各等方，共為末，茅草根陳酒煎服即愈。</p>
<p>治跌打接骨。八釐散</p>
<p>用古文錢兩個，將火酒煅為末，加香瓜子、乳香、血竭、鵝毛灰（取血管毛）、百草霜、灰鱉蟲（火酒醉死，焙乾），以上七味，共為細末，每服八釐，溫陳酒送服，即安。</p>

<h2>治自汗盜汗門</h2>
<p>治自汗盜汗方</p>
<p>用何首烏為末，將自津調封臍中即止。</p>
<p>又盜汗方</p>
<p>用五倍子為末，將自津唾調，填臍中縛定，一夜即止。並治小兒夜啼。</p>

<h2>治大麻鶴膝鵝掌風門</h2>
<p>用皂刺九蒸九曬為末，每服二錢，溫酒一二旬，眉須生，明目潤肌，漸愈。</p>
<p>又方</p>
<p>用　好生漆（六兩）　鮮蟹（六隻）　益母（六兩）　紅棗（六兩）　苦參（一兩）　白蒺藜（三兩），用好酒七斤煮熟，待淨去渣，另貯磁瓶，隨量飲服，漸愈。</p>
<p>治鶴膝風方</p>
<p>用陳酒槽（四兩）　肥皂（一個，去核）　芒硝（一兩）　五味子（一兩）　砂糖（一兩）　生薑汁半盅，研勻，日日塗之。或再加燒酒更妙，速愈。</p>
<p>治鵝掌風方</p>
<p>用白砒二錢，略搗碎，以麻油一兩，熬砒至黑色，去砒將油擦手，再以微火烘之，二次即愈。</p>
<p>又方</p>
<p>用棉花子二兩，放在火上燒之，手熏二三次，神效。</p>
<p>又方</p>
<p>用好倍子為末，桐油調塗風處，再用炭火烘之，二三次即愈。</p>

<h2>治人咬狗咬傷門</h2>
<p>治人咬指傷</p>
<p>即用瓶盛熱尿，浸一夜即愈。</p>
<p>又方</p>
<p>用龜版、鱉甲，燒灰存性，為末，香油調搽，敷之即愈，或單用鱉甲敷之亦可。</p>
<p>治癲狗咬傷。</p>
<p>即撥去頂上紅髮，急令人口含冷水，吮出惡血，以艾灸傷處五七壯，甚者二三十壯，其效如神。</p>
<p>又狗咬方</p>
<p>用牛糞敷之，或蚯蚓尿、未泔水調敷，或口嚼杏仁爛敷之，皆急救。稍使毒氣入經，為害非輕。</p>
<p>又方</p>
<p>用斑蝥七個，去頭翅淨，雞蛋兩個，同蒸熟，去斑蝥，食雞蛋，於小便內取下血塊。如痛脹不解，則血塊未淨，仍再食，漸愈。</p>

<h2>治瘧疾門</h2>
<p>治絕瘧方</p>
<p>用真川貝（八分）　生半夏（八分）。將川貝去心，半夏敲碎，同炒黃色，研細末，生薑汁為丸，仍將姜渣沖茶送服。每服一分五釐，必要未發前服，即止。如服後喉中作癢，再服薑茶一盅，即止。如小兒，減半食之。服藥後忌南瓜、雞蛋、芋艿三月。</p>
<p>又治絕瘧法</p>
<p>只要不令兩眼見，隨手寫隨手值日二十八宿一字，放病人頭上即止。</p>

<h2>治頑癬門</h2>
<p>治頑癬方</p>
<p>用石榴皮蘸明礬末擦之，切勿用醋，常擦漸效。</p>
<p>用近地土大黃擦癬甚妙。</p>
<p>治年久頑癬方</p>
<p>用王不留行、五倍子各等分，米醋調擦，漸愈。</p>
<p>治頑癬方</p>
<p>用雄黃（一錢）　白倍（煅，五分）　枯礬（一錢）　火硝（一錢）　輕粉（一錢）　粉霜（五分）。</p>
<p>以上六味，共為細末，以食醬調糊，先用老薑擦癬上，後用醬塗，漸愈。</p>

<h2>治黃疸痧門</h2>
<p>治黃疸如金</p>
<p>用薏苡仁根煎湯，時作茶服，漸愈。</p>
<p>又黃疸方</p>
<p>用半斤重雄雞，將背上破開，不必去毛，乘熱血合患人胸前，冷則再換數雞，拔去積毒即愈，此雞大毒，不令人食。</p>
<p>又黃疸驗方</p>
<p>用甜瓜蒂（四十九個）　丁香（四十九粒），共放鍋內，炒存性，研末，每用一匙，吹鼻內取出黃水，再將此藥揩牙追涎，愈速。其藥吹完，退黃神效。</p>

<h2>治中惡中毒門</h2>
<p>治中惡客忤猝死，皆是中惡</p>
<p>即視口唇內沿有粟米者，以針挑破，擠出惡血即愈。</p>
<p>又中惡方</p>
<p>用生菖蒲搗汁，取一盞灌之即活。</p>
<p>又中惡方</p>
<p>用艾灸臍中數十壯，鼻中吹皂角末，或韭菜汁灌兩耳中即醒。</p>
<p>又中毒方</p>
<p>以白礬、牙茶共搗為末，冷水飲送即愈。</p>

<h2>治霍亂吐瀉門</h2>
<p>治霍亂吐瀉方</p>
<p>用艾一把，水一碗，煎至半碗，再加和冷水半碗，盡服即愈。名為陰陽水。</p>
<p>治乾霍亂，名絞腸痧。</p>
<p>即將兩腿彎內用冷水拍數十下，即有青筋突起，用針刺出惡血立愈。</p>

<h2>治勞傷痰喘咳嗽門</h2>
<p>治勞傷咳嗽方</p>
<p>用薑汁（一小盅）　梨頭汁、蘿蔔汁、茅草根汁（各一盅）　加白蜜（四兩）　將磁罐煎稠，不拘時服，漸愈。</p>
<p>附：達生編摘要十則</p>
<p>天地之大德曰生，生之德無往不在，要之莫大於生人。夫胎產，固生人之始也，是以名之回生。生也者，天地自然之理。如目視而耳聽，手持而足行，至平至易，不待勉強，無難者也。適有一童子骨梗於喉，百方不出，舉室彷徨，一嫗視之曰，無難異也。令靜臥，飼以漿糜，三日自出而無所苦，可以知其理也。骨梗者，人事也。況生人天道之常，有何異哉？總之，臨產切記六事真言。</p>
<p>一曰睡，二曰忍痛，三曰慢臨盆。</p>
<p>一則　初覺腹痛，先自家拿穩主意，要曉得生人必然之理，極容易之事，不必驚恐。但令疼一陣，不了又疼連五七陣，漸疼漸緊，此是要生，方與人說知，以便伺候。若疼得慢，則是試痛，只管安眠穩食，不宜忽略。倘試痛認作正產，胡亂臨盆，則錯到底矣。能認疼極熟，自然易生。斷不可預先坐草，揉腰擦肚，且宜仰臥坐立必正，此與自己性命相關，務要謹慎為主。</p>
<p>二則　到此時，必要養神惜力，常能閉目安睡最好，此為第一妙法。仰臥，使腹中寬舒，小兒易於轉動，切忌用力。蓋小兒端坐腹中，至生時，垂頭轉身向下，腹中狹窄，他人有力難助，聽其自家慢慢轉身到產門，頭向下腳向上，倒懸而出。如不能忍痛，尚未轉身用力，一逼則腳先出，名曰踏蓮花生。抑或手先出，名曰討鹽生。略不條直，用力太早，或左或右，偏頂腿骨而不得出，此等弊病，時侯末到，妄自用力之故。然亦非全不必用力，若小兒果然逼到產門，則渾身骨節疏解，胸前陷下，腰腹重墜，大小便一齊俱急，目中金光爆濺，此時臨盆，真其用力，母子分張，何難之有？從不聞婦人私產而有難產者，總因胎起於私，怕人知覺。只得極忍疼，疼到沒奈何時，自脫。然而出其理甚明，有何疑處。</p>
<p>三則　若依二則之言，世間斷無難產。偶亦有之，或因產母大虛，血氣不完；或傷寒病厲，熱毒傷胎；或夫婦同房太多，以致欲火傷胎；平日過食椒姜煎炒熱物，火毒傷胎，又致跌撲傷胎，皆致難產，多令胎死腹中；除此之外，無難產也。又有難產，或遇天氣極寒，滴水成冰之時，貧家房中火氣微薄，以致血氣成凍，令難鑽出，若此，總因臨盆太早，去衣久坐之故耳。抑或孩兒生下無聲已死者，即用綿衣厚厚裹包，再用香油紙捻將臍帶慢慢燒斷，使暖氣入腹，漸漸作聲而活。倘或煎斷臍帶，則必死矣。</p>
<p>四則　臨盆時，只宜老成、安靜二人伺候，不必多，其餘婦女勿令入房。夏月更不宜多人，熱氣壅盛，產母煩躁發暈，其害非小。即或穩婆亦宜一人在旁靜坐，勿得混鬧。收生者，無非接兒落地，收兒上床，原非要他動手。如遇冬月設火盆，夏月貯井水。如此辦理，順其時也。</p>
<p>五則　若遇小產，重於大產。蓋大產如慄熟自脫，小產如生採破其皮殼，斷其根蒂。人間往往輕忽，死者多矣。必從謹慎調治為要。</p>
<p>六則　婦人懷孕有七八個月生者，有一年二年乃至三年而後生者，不可不知。試驗何時可臨盆，曰時覺腹內轉動，即當正身仰睡，待兒轉身向下，時時作痛，試捏產母手中指節，或本節跳動，方與臨盆，即產矣。</p>
<p>七則　有脆衣不下者，總是臨盆太早之故。當產之時，骨節開張，胎胞俱出。今不待其開而強出之。胎既出，骨眼隨閉，以致胞衣不出，不妨，不必服藥，亦不必驚慌，急用粗麻線將臍帶繫住，又將臍帶雙摺再系一道，以微物墜住。然後臍帶剪斷，過三、五日自萎縮小而下，累用有驗。勿聽穩婆用手取，多因此而傷生。慎之，慎之。</p>
<p>八則　凡胎死腹中，只宜佛手散服之自下，或不下，再用平胃散加朴硝二錢，能令化下，極易耳。切勿奇方怪藥，以傷母命。何以知其胎死，驗曰：面赤舌青母活，子死麵青舌赤，子活母亡面舌俱青，子母俱傷死胎墜脹瘀痛，與常產不同，務要謹慎。</p>
<p>九則　如小產歷數日，忽然渾身大熱，面紅眼赤，口大渴，欲飲涼水，晝夜不息，此血虛之症。宜用當歸補血湯以補其血。若認作傷寒而用石膏芩連寒涼等藥，則必死矣。但產後不問有痛無痛，俱用熱童便和熱酒各半，每次一杯，每日服三次，三日而止，酒亦不宜太多。若無大病，如此不必服藥為妙。</p>
<p>十則　不免有連胎生女，以夫命所招，與婦人何干？斷不可在旁咨嗟嘆息，令氣鬱成疾，致病傷生，可笑可恨，否則將女溺死，忍心害理，後嗣不昌。或有惡血衝心，血暈昏悶，不省人事者，即用韭菜一把，冬則用根切碎，放有嘴壺瓶內，用滾醋一大碗灌入，密扎壺口，扶起病人，以壺嘴向鼻遠遠熏之即醒。</p>
<p>附：產科方藥</p>
<p>佛手散</p>
<p>專治六七個月，跌磕傷胎，子死腹中，疼痛不已，血氣衝心。服之生胎即安，死胎即下。逐惡血，生新血，能治諸疾。</p>
<p>當歸（五錢）　川芎（三錢）</p>
<p>水七分，酒三分，煎七分，熱服。</p>
<p>如子死腹中者，加炒焦黑馬料豆一合，童便一杯，加入同煎。如不應，再服一次即生。</p>
<p>平胃散</p>
<p>專治胎死腹中。</p>
<p>蒼朮（米泔炒燥）　厚朴（薑汁炒燥）　陳皮（各二錢）　炙甘草（五分）</p>
<p>酒水各一盅，煎至一盅，再投朴硝五錢，再煎三五沸，去渣，溫服。其胎化為穢水即出矣。如倉卒無藥，單用朴硝五錢，溫童便調下亦效。</p>
<p>生化湯</p>
<p>產後即服，不論大小產，俱可用。</p>
<p>全當歸（酒洗，八錢）　真川芎（三錢）　薑炭（五分，夏用三分）　炙甘草（五分）　桃仁（十粒，去皮尖，搗）　紅花（六錢）</p>
<p>共六味。孕將臨月，照方預備二錢，俟肚一疼，即頭煎一劑，再第二貼頭煎一劑，二會，藥渣並煎，共汁三盅，和一處，加黃酒六七匙。產後未進飲食之前即行服下，去瘀生新。或腹中作痛，精神疲倦，再照原方服二劑即愈。其產後一切危症，無不立效。</p>
<p>凡產後諸疾，總以生化湯為主。余不過隨症加減而已。腹痛已止，可減去桃仁，多服數劑不妨。如口渴加麥冬、五味子；如寒痛加肉桂、砂仁；傷肉食加山楂；傷飯食加麥芽；傷酸梅加吳茱萸四分。以上看病症加減，不誤。</p>

<h2>治一切急救門</h2>
<p>救服鹽滷法</p>
<p>即將常用抹桌布洗水灌之，即吐便解。</p>
<p>救服冰片法</p>
<p>即飲以新汲冷水，服之可解。</p>
<p>救煤熏毒法</p>
<p>用冷水灌之即解。</p>
<p>救服毒蕈法</p>
<p>即採金銀花嚼之可解。</p>
<p>救水銀入耳法</p>
<p>以好赤金枕耳邊，令自出。再如水銀陷入肉，令人筋攣，用金物熨之，水銀乃出，蝕金病瘥。</p>
<p>救中蠱毒，無人知者，試嘗白礬不澀，黑豆不腥，此是中毒也。</p>
<p>即濃煎石榴根皮湯，飲之即吐出蟲皆活，即愈。</p>
<p>救服砒霜法</p>
<p>即取糞青灌之解。或用豆豉濃煎湯飲之，或用熟豆腐漿灌之，或用真麻油一碗灌之，統解。</p>
<p>救中河豚毒法</p>
<p>即用青面麻油多灌，令吐出毒物即效。此法並解砒毒。</p>
<p>救凍死斷不可近火</p>
<p>即用大鍋炒灰，熱袋盛熨心上，冷即換之。候目開，以溫酒服一盅。或清粥稍稍與之，或再生薑、陳皮茶服之，無後患。</p>
<p>救魘夢法。</p>
<p>凡魘者，不得用燈火照，並不得近前急喚。即痛咬其足根及足大拇趾，頻頻呼其名。即唾其面，再灌薑茶即活。凡有燈而魘者，其燈切不可吹滅。</p>
<p>又法</p>
<p>用筆管吹兩耳，再將本人發稍七八莖捻繩刺入鼻中，使通氣即醒。</p>
<p>治夜臥禁魘法。</p>
<p>凡臥時以鞋一仰一覆，則無魘，亦無惡夢。亦政堂徐送。</p>
