<header data-type="book">
<h1>紹興本草</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="王繼先">王繼先</data>、<data value="高紹功">高紹功</data>、<data value="紫源">紫源</data>、<data value="張孝直">張孝直</data>等撰</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>底本</dt><dd>《紹興校定經史證類備急本草畫》，日本鈔本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀013130–013134）</dd></div>
</dl>
</header>
