<header data-type="book">
<h1>醫學說約</h1>
</header>

<h1>序</h1>
<p>間嘗漁獵方書不啻汗牛充揀然不明其要雖多亦奚以為故自素難而下其說詳矣使未能耳而目之亦何從探其秘奧採其精微乎固知不事乎博無遽求約既得其約無更騖搏此不特技術然也而技術為益切予小子既乏五能徒窮五技豈敢逞其私智以妄談醫學哉蓋自王大父青莎公以折肱行世而家嚴又善繼之予既已廢書箕裘宜繼故嘗留心於斯道者久矣然每以寡聞渺見為虞而蠡測管窺不無醢雞甕犬之誚曩年習館於羽仁吳氏始得略參萬一焉羽翁者國手也伊侄允成予忝一日之長門下高足若劉周諸子莫不術效長桑予得飲其上池從而求教雖學步邯鄲殊深自愧而得其片語未嘗不口誦心維而筆志之茲因貧有餘閒得折衰於載籍纂成一偏名曰說約亦聊以見其旨而已夫醫學之深雖千言萬語不可以窮而欲以微辭盡其大意觀者得毋少之乎然與其言之詳而汗漫無歸不如說之約而簡略有要出若曰道盡是矣予小子則何敢　秋田散人自識</p>

<h1>雜症提綱</h1>

<h2>風</h2>
<p>風為百病之長中之者必由先傷於內後感於外也氣虛則陰血不長血虛則熱極風生實因裡虛為本風痰為標間有外觸者標中之兼症耳初中宜驅風逐痰若中腑則脈浮肢廢病在表宜汗之中臟則脈沉竅滯病在裡宜下之中血脈則脈不浮沉六經無症二便自通但口眼喎斜病在半表裡不宜汗下宜和之至於中經則脈亦平等肢不能舉口不能言病只在手足陽明二經宜補血養筋以治之而左癱右瘓又當調其營衛逐其風痰未可當於養血補氣也大抵重於外感者先驅外邪後補中氣重於內傷者先補中氣後驅外邪或主散風而補損佐之或主滋補而散邪佐之又豈可執一乎其脈浮遲者吉急疾者凶此真中風也若類中風者有寒中有暑中有濕中有火中有虛中有氣中有食中有惡中寒則溫之暑則清之濕則滲之火則降之虛則補之氣則調之食則消之惡則闢之隨症而施治之可也外有傷風者感冒猶輕但鼻塞聲重新咳而脈浮大者是其病在肺實則解其膽表從汗而發虛則固其衛氣兼解風邪兼火者宜外發內和食停者兼消痰盛者兼逐因於熱者兼清之則正氣伸而邪氣解矣</p>

<h2>寒</h2>
<p>中寒者寒邪直中陰經惟有三陰虛實內外之別太陰則脈沈細而中脘痛吐利腹滿少陰則脈沈遲而臍腹痛昏沈肢冷厥陰則脈沈微而小腹痛唇青厥逆當隨症溫之若感冒寒邪只在皮膚腠理但頭重眉稜骨痛拘急惡寒其勢猶緩一汗可散其有兼風兼食兼氣與勞等症當爹酌治之</p>

<h2>暑</h2>
<p>（靜而中者陰症中暑動而中者陽症中熱）</p>
<p>暑症有二靜而中者陰症內傷陽氣不越病必頭痛惡寒大熱無汗宜發散動而中者陽症外感熱傷元氣病必面垢少氣熱渴有汗宜清暑其脈皆虛若腸鳴水瀉者腸胃受之噁心者胃口有痰二者皆冒暑躁亂不寧身如針刺者熱傷肉分此為傷暑三者宜解散之凡暑入心則昏悶入肝則眩暈入脾則昏睡入肺則喘滿人賢消渴此五臟症也。</p>
<p>濕者土之濁氣屬脾脾虛則不能制水也水漿生冷為內傷陰雨濕地為外感脈浮主緩緩為在表沈緩為在裡大抵在上宜發汗在中下宜利水在下宜升提所謂開鬼門潔淨府為上下分消之法而提氣則水亦行也其症身重且痛喘脹關節不利若風則眩暈寒則攣急暑則煩渴痰則涎溢熱則發黃著腎則肢重著脾則肢浮須汗之滲之燥之補之</p>

<h2>燥</h2>
<p>燥者陽明金氣肺為火爍也然熱主消耗熱極而風生寒主收斂寒極而凝結不特熱能燥而寒亦能燥不可不知也且肺不生水腎不生精脾不生涎肝無滋養血液皆枯是又以虛為本寒熱為標耳其脈緊澀者寒澀數者熱浮弦者風滋陰降火瀉心潤腸豈非治之大略乎</p>

<h2>火</h2>
<p>火內陰而外陽主乎動者也故凡動皆屬火大怒則火起於肝醉飽則火起於胃悲哀則火起於肺房勞則火起於腎竊聞之矣而掉眩為肝火憤郁為肺火腫滿為脾火瘡瘍為心火經不又云乎自二火五火而外名類紛紛其實一氣氣氣有餘即是火矣氣滯則真元變為烈焰水衰又不能制之輕則口糜便秘重則喉痹吐紅甚則熱極生風風痰內鼓而為癱瘓等症治宜實者瀉之虛者補之郁者發之寒感者散之輕者降之重則從其性而升之陰虛者補陰則火自降火盛者從治乃可制狂其脈主洪數當隨部斷之</p>

<h2>脾胃</h2>
<p>脾為五臟之源胃為六腑之海納受能勝動化常健中州建而百病不生然其性喜溫喜燥喜流通若冷濕黏滯一有傷之即有吐瀉瘩滿諸症凡飲食飢飽風痰寒熱勞役思慮種種病因雖當兼治總以補元氣為一以中宮為人身之根本也其脈（異脈是病）多緩若氣口倍人迎為不足內傷右關沈滑為有食清食兼浮緊洪數者皆病脈也脾脈弦者木剋土耳病亦未退</p>

<h2>氣</h2>
<p>百病皆生於氣其實火為之禍耳所謂不足為氣有餘為火也其症怒則氣逆喜則氣緩悲則氣消恐則氣下寒則氣收熱則氣泄驚則氣亂勞則氣耗思則氣結其脈長則氣治短則氣病數則氣熱上盛則氣喘下盛則氣脹代則氣衰細則氣少凡氣病脈小則退盛則進也治宜補不足瀉有餘總以調氣為主或虛則補母實則瀉子以三臟治本經之虛實則得矣</p>

<h2>血</h2>
<p>（令人惟知肝虛則血虛余謂肝虛不過無藏血之地若脾健而能生血肝豈得虛哉猶諸土厚而滋木焉得枯惟土薄瘠乾燥木自凋零故欲養肝血不如先養其脾陰斯治本矣）</p>
<p>血者生化（關係處）於脾總統於心藏受於肝宣布於肺施泄於腎配於氣而充於體者也若血從火起錯經妄行從肺溢曰鼻衄曰咳嗽從胃溢曰嘔吐從腎出曰咯唾曰血絲從溺出曰淋濁從便出曰腸風臟毒痔漏大抵皆陽盛陰虛耳其脈寸盛則上溢尺盛則下滲關盛則嘔吐芤數則火沖微遲為吉搏大為凶治之之法未見血宜消宜和已見血宜涼宜活舊血未盡宜化新血未生宜補而脾胃切緊事尤不可不保也</p>

<h2>痰</h2>
<p>痰飲皆因濕土為害脾為生痰之源復其健連則自化矣心經熱痰脈（主滑）洪滑肝經風痰脈浮滑脾經濕痰脈濡滑肺經燥痰脈數滑腎經寒痰脈遲滑此五種痰也積久則發為溢飲虛懸流走為懸飲旁流胸脅為支飲伏於隱曲為伏飲積於腸胃為積飲此五種飲也火鬱則稠黏陰虛則咳血傷於酒食則脅痛風則青濕則黑寒則白熱則黃大要以順氣為主而燥脾為佐當兼治也</p>

<h2>郁</h2>
<p>郁者遏抑不舒暢也怒氣傷肝脈（主沉）沉弦為氣鬱悲哀傷肺脈沉澀為濕鬱謀慮傷神脈沉數為人郁飲食傷胃脈沈滑為食鬱肝傷血動脈沉芤為血鬱丹溪雖有氣血食痰濕熱六症不外水鬱折之火鬱發之金鬱泄之木鬱達之土鬱奪之之治折者抑之制其沖逆發者汗之令其疏散泄者滲泄令其分消達者吐之令其條達奪者下之令無壅凝要必理氣為先消積次之</p>

<h2>熱</h2>
<p>熱乃陽病陰虛則內熱陽勝則外熱內外皆熱必喘且渴也畫熱在氣夜熱在血上焦熱則渴中焦熱則躁下焦熱則結表熱則翕翕裡熱則蒸蒸半表裡熱則不甚心熱在血脈肝熱在肉下脾熱在手足肺熱在皮毛腎熱在骨髓風熱則頭痛濕熱則身痛食熱則腹痛虛熱則無定實熱則有常發熱則暴勞熱則蒸潮熱則如瘧往來寒熱則時作又熱極生寒寒極生熱大熱似寒大寒似熱其症多端不可執一要必清各經之氣血補其虛瀉其實其大法也熱（主數）脈必數兼症可即類推矣</p>

<h2>虛</h2>
<p>虛者寒熱因虛而感也感寒則陰盛而陽虛感熱則陽盛而陰虛心虛則怯小腸虛則濁肝虛則攣膽虛則恐脾虛則泄胃虛則吐肺虛則咳大腸虛則痢腎虛則腰痛膀胱虛則癃氣虛則表虛血虛則裡虛脈必（主軟緩微弱）軟緩微弱此其常也大約心虛補血肺虛補氣脾虛補中肝虛緩中腎虛補清兼用虛則補母之法則虛可治矣</p>

<h1>雜症分目</h1>

<h2>風門</h2>

<h3>頭眩</h3>
<p>頭眩者氣體虛袞火動其痰也即有因風者亦必有痰故曰無痰不能作眩脈必上溢下空其症風則脈浮項強寒則脈緊拘痛暑則脈虛煩渴濕則脈細垂重大抵內虛宜固本外邪宜和解肥人宜清痰降火兼補氣瘦人宜滋陰降火兼抑肝脈必浮弦滑數者吉虛搏澀脫者凶</p>

<h3>頭痛</h3>
<p>頭痛多主於痰痛甚者火多耳脈必浮弦而滑若太陽則脈浮而髮際痛陽明則脈長而額前痛少陽則脈弦而頭角痛太陰則脈沈必吐痰腹滿而痛少陰則脈微沉而腦痛厥陰則脈微緩而巔痛血虛則脈芤而星星氣虛則脈大而眩暈食積則脈緊而飽後節痛痰涎則脈滑而眉稜亦痛大抵風則抽掣寒則拘急熱則煩心濕則頭重痰則欲吐治宜清痰降火兼散風邪至於偏頭痛亦屬少陽左屬風與血虛右屬濕痰與熱又當隨症治之如手足青而寒者又為真頭痛不可治也脈浮滑者生短澀者死</p>

<h3>頭風</h3>
<p>頭風起於過暖反致受寒太陽則眉稜至腦後痛脈浮緊弦數陽明則痛達齒頓脈洪弦數少陽則耳前後左右痛脈浮弦數即偏頭痛也太陰無症若少陰則虛煩不眠脈虛數微弱即血虛頭痛也厥陰則畏寒肢冷脈沉弦急當審左為血虛右為濕痰久為火鬱而治其風熱與痰</p>

<h3>面風</h3>
<p>面風浮腫屬陽明胃經大抵虛則能食熱則不食陽盛則面熱陽衰則面寒胃熱則面瘡須辨而治之</p>

<h3>目</h3>
<p>目病屬風熱血少神勞腎虛脈必弦洪而數在表宜除風散熱在裡宜養血安神眼皮紅爛宜瀉脾兩眥肉綻宜瀉心白上紅筋宜瀉肺兩輪腫痛宜瀉肝瞳昏作痛宜瀉腎多淚作養宜疏風瞳神無光宜補腎視物昏花宜補氣乾枯宜補血羞明宜補氣眼眶脹痛宜抑肝順氣目眩不定宜宣風去痰統治宜四物以目主肝肝藏血也然脾為諸陰之首目為血豚之宗若不兼理脾胃豈治本者哉</p>

<h3>耳</h3>
<p>耳者腎之外候水涸火炎則癢且鳴左屬肝火右屬相火脈必洪數治宜瀉火補水停膿作痛則去風熱聾則調氣開關若病後陰虛火動必補血降火</p>

<h3>鼻</h3>
<p>鼻為肺竅鼻塞則感風寒宜跋風發汗鼻淵則外寒束內熱宜散之鼻衄則血不歸經宜清之至若傷酒則生齄傷風則干痛等症不可不用涼劑也</p>

<h3>口舌唇</h3>
<p>口病熱極則糜爛中虛火上炎怒屬於熱是以肝熱則口酸心熱則口苦脾熱則口甘肺熱則口辛腎熱則口咸胃熱則口淡熱甚則口臭宜瀉火滋腎舌病外因強短內因則腫長腎虛則淡黑肺痰則脹肝衄則瘡以至重舌木舌莫非心火為熾以舌乃心之苗也治宜涼膈瀉心唇病屬脾風則瞤動寒則掀翻熱則乾裂血虛則淡氣虛則腫又當從脾胃補瀉之</p>

<h3>牙</h3>
<p>牙屬腎牙床屬胃又胃脈貫上齦大陽脈貫下齦也動搖者腎虛宜滋陰補腎口臭者胃熱宜安胃瀉火呷風則痛者腸胃有風邪宜清熱去風若生疳出血皆熱症也總以降火為主</p>

<h3>痛風（麻木附）</h3>
<p>痛風者濕痰濁血流注為痛肝木病也血熱之際三氣相侵熱得寒而凝受濕而著遇風而閉是以作痛其症風則脈浮汗黃寒則脈緊掣髓濕則脈細重痛熱則脈數煩疼內傷則刺痛食積則停痰血氣虛則不榮理治宜行氣活血流濕疏風久則帶補其大要也若麻木是為不仁麻屬氣虛久麻則氣血為風痰所湊木屬濕痰死血久木則氣血凝滯外挾風寒此不特痛風為然</p>

<h3>痹</h3>
<p>五痹者春為筋痹夏為脈痹長夏為肌痹秋為皮痹冬為骨痹又風勝為行痹脈浮宜散風寒勝為痛痹脈緊宜散寒濕勝為著痹脈澀宜散濕至如氣虛則麻濕痰瘀血則木又宜和血通氣消痰逐瘀當與痛風參看不可補之太早也</p>

<h3>斑疹</h3>
<p>斑者心火克肺故紅見皮膚乃熱毒也然有陰陽之分脈如洪數為腸胃風熱之標病謂之陽斑宜表裡清之脈加遲緩為肺脾心腎之陰火謂之陰斑宜溫散之疹如蛟跡起伏隱現非比斑有錦紋此必結胸下痢宜清散之蓋少陽相火發為斑少陰君火發為疹白輕紅重而紫黑危也脈者血之波爛發斑血見皮膚其脈必伏須細察之</p>

<h2>寒門</h2>

<h3>咳嗽</h3>
<p>咳者有聲無痰肺氣傷也嗽者無聲有痰脾濕動也咳嗽者有聲有痰傷肺氣動脾濕也治嗽以治痰為先治痰以理氣為本其症火則面赤濕則有聲鬱則發喘頑則如膏清則不黏風則頓出寒則惡寒酒則內熱食則濃黃五更嗽為食積上午嗽為胃火午後嗽為陰虛黃昏嗽為火浮於肺若干嗽則陰虛火動咳膿血者須防肺痿肺癰皆難治也自表入者病在陽宜辛溫散邪自內生者病在陰宜甘以壯水潤以養金其脈風浮寒緊濕細熱數痰涎則滑房勞則澀脾則濡肝衰則短肺傷則浮短大約浮大者順沈伏者逆也（與痰門參看）</p>

<h3>心痛</h3>
<p>心痛者包絡痛也古有飲食風冷熱悸蟲疰氣九種須知鬱氣則否結而脈沈微急宜主調氣瘀血則隱隱而脈沈弦澀宜主和血痰涎則結礙而脈滑宜主消痰若久鬱則痛不甚而止發無常脈必澀弱虛數宜開鬱調氣血兼清熱痛在胃上下者胃脘也氣鬱則脈沈痰凝則脈滑火鬱則脈弦數食停則滑緊受寒則脈緊傷熱則脈數蛔厥則脈無定瘀血則脈澀胃虛則脈弱理氣驅痰降火消食除寒去熱安蛔逐瘀暖胃須隨症治之凡痛脈沈細者吉浮弦者凶若真心痛者大寒犯心或汙血衝心手足俱青乃絕症也</p>

<h3>腹痛</h3>
<p>腹痛必因血脈凝澀雖主於寒亦有熱者必脹閉拒按喜寒脈實氣粗新病年壯補心不效者也反此皆寒太陰則中脘痛少陰則臍腹痛厥陰則小腹痛又寒則綿綿熱則不常食則欲便痰則溺澀火則腸鳴蟲則吐水氣則痞悶瘀血則不移中虛則不思飲食寒者溫之熱者清之虛者補之實者瀉之結者散之留者行之濁氣在上者湧之清氣在下者提之治之大法也脈沈小者生浮大者死</p>

<h2>暑門</h2>

<h3>瘧</h3>
<p>瘧者陰陽相爭即指營衛言也陰勝則寒陽勝則熱先寒後熱為寒瘧先熱後寒為溫瘧熱而不寒為痹瘧雖寒熱本屬少陽亦有六經形症邪在三陽（風熱暑濕）為外感宜汗宜吐邪在三陰（生冷積滯）為內傷宜溫宜和其脈多弦遲則寒數則熱代散者危也語曰無痰不成瘧故必兼治其痰</p>

<h3>痢</h3>
<p>（尺脈滑主痢大小腸脈亦居焉今之列於心肺者誤矣又腎為門戶故現於尺也）</p>
<p>痢者外感（暑濕）兼內傷（積滯）血（心）因氣滯（肺）也故曰和血則便膿自愈調氣則後重自除傷氣則白（肺並大腸）傷血則紅（心並小腸）熱則赤紫寒則清白濕則豆汁虛勞則滑脫蟲則如肝風則青食則黃皆大小腸積滯為病古人所謂以名為滯下爾如魚腦者脾傷也如魚滷者肝傷也如屋漏水者腎絕也下純血者死症也須以飲之喜冷喜熱腹痛之緩急喜按拒按藏之陰陽脹與不脹脈之有力無力溺之冷熱病之新久質之強弱分其虛實大抵白宜調氣紅宜清血黃宜消積純血宜消血後重宜下腹痛宜和身重宜除濕脈弦宜去風膿血稠黏宜竭身冷自汁宜溫疫痢宜解毒噤口宜除熱休息宜大補風邪外朿宜汗鶩塘宜溫表者發之裡者下之上者湧之下者竭之表熱者疏之溺閉者利之盛者和之去者送之過者止之初宜推蕩後宜補益此治法也瀉屬脾利屬腎脈宜微小不宜浮大</p>

<h3>霍亂</h3>
<p>霍亂者邪在上則吐邪在下則利邪在中則吐且利有乾溼之分皆風火濕熱為害乃飲食所傷也初起宜飲鹽水探吐忌用米湯總宜分利陰陽散風行濕陴火使清升濁降則安其症轉筋者風厥逆者寒煩渴者熱體重者濕痞滿者郁若得吐利此濕霍亂也脈浮洪者吉微遲者凶其有上不得吐下不得利壅塞正氣謂之乾霍亂此症多危外有小腹痛便冷氣結者此房勞傷也須活血調氣勿誤為霍亂妄投冷水殆不可救</p>

<h2>濕門</h2>

<h3>痞滿</h3>
<p>痞滿者中滿也與脹不同脹則內外俱脹痞則內痞外不脹皆土邪耳其右關必浮弦除傷寒下早外實則便結虛則便通食則欲吐痰則湧涎火則內熱氣則鬱結中虛則如刺瘀血則礙皿宜升胃氣治以血藥不可全用利導大概與濕同治使上下分消可也</p>

<h3>泄瀉</h3>
<p>瀉本屬濕濕勝則濡瀉也脈遲喜熱不渴為寒反此為熱五泄者胃則色黃脾則腹脹大腸則色白小腸則便膿大瘕則裡急後重又五更下者腎泄也糟粕不化者鶩泄也完穀者飧泄也下水者洞泄也大腸不同者痰泄也腸鳴腹痛者火泄也食入即下者直腸泄也脅痛者肝泄也下白沫者風泄也名雖不同總宜補脾為主利水次之寒者溫之熱者清之食者消之氣者行之實則瀉之虛則補之其脈與痢同斷</p>

<h3>黃疽（黃腫附）</h3>
<p>疸者濕熱鬱於脾胃其症有五熱渴身腫汗黃為黃汗食已即飢瓜目皆黃為黃疸食即腹脹眩暈體黃為谷疸鼻燥脛腫為酒疸發熱惡寒額黑溺閉為女勞疸濕勝則黃晦為在表熱勝則黃明為在裡又傷寒陽症發黃有六太陽則蓄血必如狂結胸因下早也少陽則風熱濕也太陰則痞氣也太陰並陽明則濕熱必溺澀也太陰並少陽則寒熱也若脈細身寒自汗自利則陰黃也大抵內傷不足宜補新病有餘宜消食者消之上則汗之下則利之脈不洪數或微澀者虛弱也若近掌無脈口鼻黑者為難治外有黃腫一症亦宜補脾去濕兼消食殺蟲（俗即名黃胖也）</p>

<h3>腫脹</h3>
<p>腫者水腫有形之水在手足頭面脹者鼓脹無形之氣只在胸腹外腫輕內脹重也皆脾土濕熱為病其本在腎其末在肺以脾主運行肺主氣化腎主五液而制水生金者脾也陽症熱而實陰症寒而虛凡腫陰起在腎腹起在肚唇起在小腸面起在脾脅起在骨項起在膈凡脹虛則軟實則堅外感則寒蔚內傷則氣滯食則痞滿蟲則善食癥瘕則不眠水則有聲血則便瘀大概朝急為氣虛暮急為血虛朝暮俱急為氣血兩虛先脹後腫溺赤便結脈數色紅氣粗者為實反此者虛也總宜補脾養肺滋腎行涇利小便脈如浮大者生虛小者死</p>

<h3>腰痛（股痛附）</h3>
<p>腰者腎之府轉搖不能腎將憊矣太陽則項迎尻少陽則如刺陽明則不可顧太陰則遺溺少陰則引背脊厥陰則反張虛則腎袞宜補風則牽引宜散寒則拘急宜溫閃挫則宜行氣重著則宜去濕瘀血則宜逐濕痰則宜消熱鬱則宜清氣滯則宜導脈必沈弦風則浮寒則緊濕則細閃則實當類推也又有股痛者痠疼為濕筋孿為血受寒髓冷痛為髓受寒產後痛為惡血注下連腰痛為傷精並附於此</p>

<h3>疝</h3>
<p>（偏墜小腸氣膀胱氣婦人陰疝小兒偏墜附）</p>
<p>疝者厥陰肝病濕熱在經寒氣外束其症有七各屬一臟寒疝囊冷結硬宜溫水疝囊腫發癢宜逐水筋疝莖腫筋縮宜降心火血疝如瓜在小腹旁宜和血氣疝連腎及陰宜散風狐疝臥則入腹行立則出宜逐氣流經㿗疝囊大無疼癢宜去濕又氣閉為肺痹氣逆為息賁痛則為肺疝宜清散心郁肢冷為心疝宜溫散氣衝脹嘔為脾疝宜化濕熱理痰囊腫赤痛為肝疝宜清散分利之裡急受寒痛連腰腎為腎疝宜溫補兼分消大祗寒則多痛熱則多縱濕則腫虛則墜在血分則不移在氣分則多動去其濕熱和其氣血以寒因熱用之法治之則邪去矣其脈牢急者生弱急者死又睪丸一大一小者偏墜也宜去其濕上衝肝肺控引睪丸上而不下者小腸氣也宜逐其寒小腹腫痛囊大溺難者膀胱氣也宜利其水若婦人小腹內痛結如鵝卵者陰疝也亦宜去寒若小兒偏墜者食積也宜消食行氣此屬脾不屬肝按睪丸有二左屬水故寒收則血泣而下注左丸右屬火故氣鬱則濕聚而下注右丸患左者（屬寒）痛多腫少（屬寒）患右者痛少腫右多（屬濕）不可不知也</p>

<h3>腳氣</h3>
<p>腳氣本於腎虛腫者專主濕熱便閉無汗而渴脈數為乾腳氣初宜散中宜和末宜潤下無補法也此屬三陽反此者為濕腳氣亦初散中和末則清補此屬三陰汗下溫和升降總宜除濕熱調血氣利節散風</p>

<h2>燥門</h2>

<h3>三消</h3>
<p>消渴皆腎經受病水竭則火熾血枯則液干也上消屬肺多飲少食二便如常宜流濕潤燥中消屬胃多食便秘宜下下消屬腎溺淋如膏宜養血壯水統宜養肺降火生血滋腎脈實可治弦小者危</p>

<h3>秘結</h3>
<p>五秘者風寒氣虛熱也總屬津液乾枯風則能食氣則腹脹寒則面青虛則後重熱則溺赤又病後津枯年高血少及脾約症皆致燥結脈多沈伏而結調氣和血清熱補虛則燥潤而結通矣</p>

<h2>火門</h2>

<h3>吞酸</h3>
<p>（吞酸與吐酸不同蓋吞則欲出不出仍復嚥下吐則吐出酸水）</p>
<p>酸者肝木之味乃濕熱在胃口耳脈沈為氣鬱兼數為熱鬱兼滑為痰傷食者必兼噯氣等症抑其肝火兼消食痰則胃和矣</p>

<h3>脅痛（季肋痛附）</h3>
<p>脅痛屬少陽本肝經病左為怒火死血右為痰食七情負重勞傷閃挫瘀血屬有餘脈弦數者宜疏利之尤郁悲哀房勞傷損屬不足脈往芤者宜清升補益又季肋痛者屬痰連小腹者為血積宜消痰行血</p>

<h3>遺滑</h3>
<p>道滑皆相火所動濕熱所為以主藏者腎而主泄者肝也有熱則流通者有心不攝腎者有思欲不遂者有傷色滑泄者尺脈必數去濕熱降相火安心神滋水藏則止矣</p>

<h3>赤白濁</h3>
<p>赤濁屬小腸火濕傷血也白濁屬大腸金濕傷氣也宜燥濕降火或升提之心虛者宜清腎虛者宜補其尺脈洪數與遺滑同</p>

<h3>淋（氣血石膏勞）</h3>
<p>五淋皆屬於熱腎虛則溺數膀胱熱則水澀也氣淋遺瀝脈沈弱血淋莖痛脈澀數石淋溺砂尺有力膏淋如膏脈洪數勞淋痛引氣衝脈沈數又腎虛死血老人氣虛痰熱隔滯亦皆成淋總宜清心補腎解熱利水不可發汗</p>

<h3>小便不通</h3>
<p>小便不通屬氣虛血虛有實熱痰氣閉塞蓄皆宜吐之氣升則水自降也肺燥宜清肺腎熱而膀胱不利宜瀉火脾濕不連宜燥脾大陽瀉則小腸竭宜分利氣滯宜通實熱宜清大虛宜補氣結宜提孕婦宜升舉老人宜補腎其脈必浮弦澀</p>

<h3>小便不禁</h3>
<p>小便不禁心腎氣虧也赤屬熱白屬寒肺虛宜補氣膀胱虛宜澀脫挾寒宜溫腎挾熱宜清心老入下元不足寒者居多小兒脬氣未因熱者居多妊婦遺尿宜清熱產後道尿宜補陰其脈遲寒數熱可類推也</p>

<h3>脫肛</h3>
<p>脫肛屬氣虛血虛與熱他病後氣陷脈虛宜補氣病彼血虛脈澀宜補血陽明火性下迫脈數宜清火老人血燥產後血虛脈澀無力宜滋補久痢脈虛宜補脾小兒久瀉脈弱宜補益皆宜兼用升提</p>

<h3>喉痹</h3>
<p>喉痹者俗名乳蛾乃相火沖逆也火者痰之本痰者人之標火性急速故病發暴悍且吸門為人身之門戶若卒腫痛水漿不入語言不通其病危矣治必大涌其痰或刺其腫處急則治其標也脈必洪數</p>

<h2>脾胃門</h2>

<h3>傷食</h3>
<p>傷食者病在脾胃脾胃為水穀之海無物不受然飲食自倍腸胃乃傷湧於上則嘔吐積於中則痞滿注於下則泄瀉生冷則受寒堅硬則不化酒酪則中濕油膩則積滯挾風寒痰氣則發熱停結種種病因未可悉舉其脈氣口洪滑若微弱者為裡虛人迎浮必兼外感也消食健脾固不待言大約始則在上宜吐繼則在中宜消終則在下宜下</p>

<h3>積聚症症痞塊</h3>
<p>積者陰氣血之所積五藏所生其發有根其痛有處其脈結伏聚者陽氣氣之所聚六腑所成其發無根其痛無當其脈浮結左屬死血右屬氣食中屬痰飲其實皆太陰脾土之病正氣不足邪氣踞之不攻何待然急攻則正氣轉傷惟初宜用攻中宜攻補相兼末宜用補去之及半純用溫補所謂大積大聚衰其半而已如寒者熱之結者散之客用除之留者行之堅者削之按者摩之咸以軟之苦以瀉之全其氣而補之隨其所利而行之隨機應之可也成塊曰癥或有或無曰瘕痞即脾之否積塊即癥之類治亦同法蓋癥者徵也實有徵驗之謂瘕者假也亦假物而成之謂痞者否也不通之謂而塊則有形矣可辨而治之總不可以峻削以病非一日而成可一日而愈乎</p>

<h2>氣門</h2>

<h3>氣滯</h3>
<p>氣滯皆因濕熟痰積所致上滯則痞渝中滯則刺痛或周身下滯則秘須散大破氣養血補虛其脈必沈</p>

<h2>血門</h2>

<h3>吐血</h3>
<p>吐血屬胃實肝經受傷也陽盛身熱脈數為積熱怒火必先痰後血宜涼血行氣陰盛身涼脈遲為心力勞傷必先血後痰宜滋陰脈大而芤嘔血同治</p>

<h3>衄血</h3>
<p>衄血熱溢肺胃也宜涼血為主若不止必氣鬱也須調氣氣行則血自歸經白者為□紅者為衄</p>

<h3>咳血嗽血唾血咯血</h3>
<p>咳血屬肺嗽血屬脾隨唾出者屬腎咯則胞絡受傷紅絲則肺腎俱傷總宜滋陰降火</p>

<h3>溺血</h3>
<p>溺虛心經受熱小腸火熾也暴熱實熱者宜利之若因虛損房勞宜滋陰補腎</p>

<h3>便洫</h3>
<p>便血腹痛者為腸風略痛者為臟毒清者風也紅者熱也黑者熱甚血黯者寒也濁者毒也不痛者濕也糟粕混者食積也初宜和血祛風久宜止澀補脾若先血後糞血從大腸來也謂之臟毒宜清大陽之火先糞後血血從小腸來也謂之結陰便血宜清小腸之火前後雜見血從脾胃來宜涼血</p>

<h3>痔漏</h3>
<p>痔者食積大腸所致所謂腸澼為痔也雖有牛你雞冠翻花蜂窠穿腸等名總以涼血為主而瀉火和血或寬潤升提自宜兼治穀道左右別出一孔流膿血水名曰痔漏須以溫暖內補涼劑外敷</p>

<h2>痰門</h2>

<h3>喘哮</h3>
<p>喘者火逆上氣不下也火爍肺氣氣衰則喘其盛者肺中之火耳氣虛火入肺者宜補氣陰虛火剋金者宜壯水風寒宜散濕氣宜滲暑邪宜驅肺熱宜清痰壅宜消氣鬱宜發停飲宜吐火實宜降其脈浮滑者吉澀數者凶氣促曰喘有聲曰哮總由痰火內郁風寒外束所致治實相同</p>

<h3>噁心嘈雜噯氣</h3>
<p>噁心屬胃虛脈必緊滑宜溫中散寒若鬱火脈必滑數宜和中清利久病體虛脈必虛微宜補益元氣此症停痰者多總宜豁痰開胃嘈雜者氣滿痰結為本否滿火鬱為標宜順氣消痰降火若血少胃虛得食即止者宜補之噯氣者胃中有火也宜消食豁痰順氣開鬱</p>

<h3>嘔吐噦</h3>
<p>嘔吐噦總屬於胃嘔者有聲有物氣血俱病屬陽明吐者有物無聲血病屬太陽噦者有聲無物氣病屬少陽上焦吐者氣也脈浮而洪食已即吐中焦吐者積也脈浮而遲或吐而痛或痛而吐下焦吐者寒也脈沈而遲朝食暮吐暮食朝吐總似平胃為主其症氣則眩量食則滿悶寒則厥冷熱則便結痰則不止水則怔忡瘀血則腥客風則熱暑則煩渴氣虛則脹蟲則咳痛須分治之脈必滑數而弦虛細者易實大者難也</p>

<h3>飯逆</h3>
<p>飯逆者氣逆上衝土敗本賊也不足者勞役傷脾則陰火上炎久病中虛則寒火相搏宜補之有除者飽食則不降痰鬱則不舒宜導之脈浮緩可治弦急無力者難也</p>

<h3>噎膈反胃關格</h3>
<p>（五噎食噎氣噎勞噎尤噎思噎五膈熱膈寒膈氣膈恚膈尤膈）</p>
<p>噎膈反胃總屬血液衰耗胃脘乾枯他槁在上者能飲難食為噎膈稿在下者食久復吐為反胃食不得入是有火也食入反出是無火也噎膈屬熱反胃屬寒然亦勿拘審其陰傷火旺者養血為急脾傷陰盛者溫補為先而順氣消痰補血開鬱養胃清火潤肺滋燥可相兼也其脈數為熱滑為痰數而無力為血虛緩而無力為氣虛寸關沈澀為氣結寸關沈大為氣滿大抵宜滑數不宜緊澀關則溺閉格則吐逆寒在上熱在下也人迎大氣口四倍為格氣口大人迎四倍為關此症多疽須吐提之或下之猶或可救耳</p>

<h3>痙痓</h3>
<p>痙者強勁本氣虛風氣勝故無汁為剛痙痓者結滯血氣虛濕氣勝故有汁為柔痓傷寒過汁成痓此外感也宜解散若血氣本虛或七情怒氣及濕熱內盛痰壅經絡產婦血虛此內傷也宜補虛降火敦土平木清痰去濕勿作風治傷寒脈弦急為剛遲濡為柔內傷脈沈細為濕微為氣血虛數為熱滑為痰須辨之</p>

<h3>癇</h3>
<p>癇乃三焦胞絡虛火為病火為本痰為標也與顛痓相似但顛屬心癇屬五藏痓症身強不醒癇症身軟如蘇茸癇雖有三五名目其實脈浮身熱驚掣啼喚者病在六府肌膚為陽癇易治脈沈身冷不驚掣啼喚者病在五藏骨髓為陰癇難治降火為主豁痰佐之</p>

<h3>顛狂</h3>
<p>顛乃重陰病屬五藏狂乃重陽症屬六府顛則顛呆多喜如醉如癡若心虛則膽怯腎虛則失志脾虛則不樂肺虛則悲尤肝虛則怒雖有痰火不足之症宜補勿瀉狂則狂妄多怒登高而歌棄衣而走逾垣上屋罵詈不避親疏此氣火有餘之症有瀉無補大概心經蓄熱者清之痰迷心竅者豁之產後血迷者行之脈實者死虛者生</p>

<h3>驚悸怔仲健忘</h3>
<p>驚悸者心忪跳動有時而作心傷火鬱而生痰也其寸脈必動而弱宜壯膽和血安神怔忡者心中振動時時而然氣血虛而火動也左寸右尺脈數宜調氣補血降火健忘者轉盼遺忘心腎不交神明亂而精氣伏也脈必沈滑澀數宜補腎養心兼消痰順氣</p>

<h2>虛門</h2>

<h3>發熱惡寒</h3>
<p>發熱惡寒者由感冒而發比傳經熱症邪猶輕耳陽氣虛邪乃入或時氣受寒或形寒受病邪正相爭而為熱熱後邪深怯寒無汗宜扶陽氣以泄表熱邪從汗解矣若感寒發熱脈浮緊宜汗之傷寒發熱脈浮滑宜消之勞力發熱脈無力宜帶補陽虛發熱脈亦無力宜扶陽陰虛發熱脈數無力宜清補鬱熱脈虛弦數宜涼血散熱煩熱脈虛數宜補元清肺養心勞熱脈芤澀數宜活血除蒸若陽虛惡寒脈微弱本無寒而若怯是為真寒宜溫補內熱惡寒脈沈數是為陽盛格陰宜滋補</p>

<h3>自汗盜汁</h3>
<p>汗為心液腎主五液凡汗症必由心腎虛而得也心虛不能衛外則自汗腎衰不能內營則盜汗然有寒熱之分寒乘陽虛而發汗必冷宜溫補熱乘陰虛而發汗必熱宜清熱大抵肺虛宜固其皮毛脾虛宜壯其中宮心虛宜益其血脈肝虛宜禁其疏泄腎虛宜肋其封藏脈大而虛寸浮而濡則為自汗尺浮而濡則為盜汗</p>

<h3>痿</h3>
<p>痿者熱症也心火剋金剛肺熱葉焦肝木無制而侮所不勝瀉火則肺清而木不實不致傷脾補水則心瀉而金不虛不致肺熱此症屬虛有補無瀉非若痹之有瀉無補蓋痹病在表麻木難受病於經絡痿病在裡精血不足受病於藏府也脈多浮大或微滑不宜虛澀亦不可作風治之</p>

<h3>厥</h3>
<p>厥者手足逆冷陰陽不相接他寒厥即陰厥陰盛陽衰唇青四逆脈沈伏宜溫中散寒陽厥即熱厥熱極化寒冷不過肘膝脈數有力宜清涼解敬苦寒利之痰厥痰湧昏憒宜先吐後導氣厥暴怒肢冷麵青脈伏宜順氣血厥昏量肢冷宜降火蛔厥胃寒脈沈宜安蛔理中屍厥體僵口噤脈沈宜補元凡厥而不醒必先通關而後治其本病</p>

<h3>勞瘵</h3>
<p>勞瘵者陰虛內熱火升則痰與血病也脈必虛數干嗽宜降火喘急宜順氣吐血咳痰宜涼血消痰骨蒸勞熱宜清而赤足冷宜降自汗盜汗宜斂灑淅惡寒宜除熱腰疼骨軟宜補元夢遺鬼交宜補虛清心此大略也但脾腎者水為萬物之元土為萬物之母胛為肺母金實水源則土不剋水而腎安腎兼水火腎安則水不助木剋土而火父能生脾也故曰土旺而金生勿拘於保肺水旺而火息勿急於清心常法皆保肺清心須知補中滋腎是為要耳</p>

<h2>婦人門</h2>

<h3>經閉</h3>
<p>女病皆自心生心燔人熾則經閉矣虛熱者宜清之血枯者宜補之氣血俱虛者宜兼補之因於怒者宜順氣因食生冷者宜溫中墮胎傷血者宜養血脾胃不和者宜補氣調胃肥人宜寬中大抵外感則血滯宜通內傷則血枯宜補若心脈動尺不絕蓄有妊也</p>

<h3>月事不調</h3>
<p>（血鼓血癖熱入血室附）</p>
<p>經者上應於月故名月事然必與氣相配氣若不調則月事亦不調矣成塊者氣凝也將行作痛者氣滯也來後作痛者氣血虛也色淡者亦虛也有水混之也錯經妄行者氣亂也紫者氣熱也黑者熱甚也先期來者為血熱宜清後期來者為血虛宜補色淡稠黏者為痰宜化將來先腰腹痛者為血滯而氣不至宜行氣既止復痛者為血虛而氣不收宜補血來止無定者為氣不調宜調氣一月二三至者氣虛血熱宜補氣涼血累月不至為血枯宜養數日不止為血脫宜止小腹連胃脘脹緊此因氣食而成謂之血鼓宜破血通氣留滯兩脅小腹此因經來觸怒或感風來而成謂之血癖宜破血軟堅適來適斷寒熱如瘧詔之熱入血室宜和解之</p>
<p>崩淋因衝任傷損氣血俱虛有虛有熱以虛則下溜熱則流通也崩者如土之崩血熱氣虛不能攝血宜涼血補氣淋者如水淋漓鬱熱氣滯宜調氣清熱必通利之</p>

<h3>帶下</h3>
<p>帶下屬濕熱腎虛白屬氣熱入大陽也赤屬血熱入小腸也其病必腰痛主束帶之處而名之耳總宜除濕去熱補腎</p>

<h3>胎前</h3>
<p>胎前總要清熱養血兼調氣其脈不宜細小初孕惡阻嘔吐為胎礙其肝宜平肝順氣三四月心氣痛為胎礙其心宜縮胎降氣八九月腰痛為欲產宜安胎臨月溺澀為胎壓膀胱宜利水臨月道尿為胎寒下逼宜溫胎胎痛為血少宜補血胎動為火逼宜降火胎漏為血虛動火宜補血降火肢浮溺澀為子腫宜利水胎氣衝心為子懸宜降氣腳胕浮腫為子氣宜調氣小便淋瀝為子淋宜通利風寒成嗽為子嗽宜清散若痢則宜歸連泄則宜二術即使傷寒瘧疾必以安胎為先定寒熱為次此即三禁法也總不可汗吐下至如月分所屬一肝二膽三心四胞絡五脾六胃七肺八大陽九腎十膀胱須知之脈離經者欲產也</p>

<h3>產後</h3>
