<header data-type="book">
<h1>醫學從眾錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳念祖</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1820">公元1820年</data></dd></div>
<div><dt>底本</dt><dd>《陳修園醫書五十種·醫學從眾錄》，清光緖乙巳31年商務印書館（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-615486">香港中文大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>魏序</h1>
<p>余素不解醫，讀刀圭書輒不能終卷，非忽之也，以其為道精深密微，非淺人所可意窺，非躁心所可嘗試。又自度聰明才力皆有所不暇給，計惟節之於起居食飲之常，謹之於四時六氣之辨，於以閒嗜欲、頤情志、順性命，以托賦於天。至談醫則不敢知，誠重之也，誠難之也。憶曩在都中，吳航陳修園先生以名孝廉宰畿輔，醫名震日下。嘗奉檄勘災恆山，時水沴之後，疾疫大作，先生採時方百餘首，刊示醫者，如法診治，全活無數。仁心仁術，其施溥矣！後三十餘載，余返自都門，與修《全閩通志》，廣搜著述家言。時先生已捐館數載，得所撰方書已刊行者十餘種。條其目著於編，其遺書存於家者，哲嗣靈石先後梓而傳之，令孫徽庵世其學，精其業，復取所遺《醫學從眾錄》八卷讎校付剞劂。重以林戟門先生屬序於余，余既嘆知醫之難，而何敢言醫之易乎？雖然先生自序言之矣，先為醫士治膏肓之疾。又云此錄簡便易知，頗切時用，所謂醫醫者，正治不若從治之為得也。蓋必治醫者不謬其方，而後受治者不戕其性，此即先生作宰時刊方示醫之仁術也。雖其言之峻而其心良苦矣。錄以《從眾》名，非徇眾也，導以可從，乃所以防其不可從者也。得此說而通之，庶易言醫者，或深悟其難而得所從者，轉因難而見易乎！願受是書而竟讀之。</p>
<p><u>道光二十有五年歲在乙巳秋九月東洋和齋魏敬中序</u></p>

<h1>林序</h1>
<p>陳君徽庵以醫世其家，今歲夏間，予患沉疴，徽庵以數劑立起之。益信其學之有淵源也。一日出其令祖修園先生所著《醫學從眾錄》一書，示予曰：此先大父晚年採擷各家之精華，折衷而歸於至當，堪為初學指南，將付刊以公於世，請題數語，可乎？予受而讀之，其論症則窮究根源，其診脈則剖分宜忌，其下藥則酌量加減，取古人之成法，以己意運之。矯枉者不得出其範圍，拘墟者有以開其神智。名曰從眾，實大眾之津梁也。先生本吾郡通儒，為孝廉時以制藝名，為吏時以循良名，而卒以醫名，生前活人無算，身後濟世有書。徽庵承祖硯之傳，不私為枕中秘，均足令人欽佩也，因謹序之如此。</p>
<p><u>道光乙巳重陽日戟門林振棨拜撰</u></p>

<h1>自序</h1>
<p>不為宰相便為醫，貴之之說也。秀士學醫如菜作齏，賤之之說也。醫者學本《靈》、《素》，通天地人之理，而以保身，而以保人，本非可賤之術。緣近今專業者類非通儒，不過記問套方，希圖幸中，揣合人情，以為餬口之計，是自賤也。余向有《金匱》、《傷寒》各種醫書，累累數十萬言。先為醫士治膏肓之疾，不曰《靈》、《素》則曰南陽，雖有遵經之志，卻非語下之方，畏其難者中阻。而工於欺人之術者，別戶分門，遂多簧鼓。而余之汲汲苦心，終為未逮也。余觀近今醫士，不學者無論，有能讀薛立齋、王金壇、趙養葵、張景岳、張石頑、李時珍、李士材、喻嘉言八家之書，即為不凡之士，尚可與言。蓋此八家雖未能合《內經》之旨、仲師之法，而書中獨得之妙，亦復不少。茲且就世俗所共奉者，採其名言，錄其方治，約數十萬而取其一二方，約數百言而括以一二言。即間有以誤傳誤與主張太過之處，復參他氏，斟酌歸於至當。顏曰《從眾錄》，簡便易知，頗切時用。是即向之所謂醫醫者，知其受病已深，正治則拒格不入，不若從治之為得也。</p>
<p><u>閩吳航修園陳念祖題於嵩山精舍</u></p>

<h1>卷一</h1>

<h2>真中風症</h2>
<p>曰真者，所以別乎類也。風者，八方之風邪也。中者，邪之自外入內也。有中經、中腑、中臟、中血脈之分。此數句與病機要發明，大同小異，各有語病。余從發明而訂正之：中經，外有六經之形症，中腑，內有便溺之阻隔，中臟者，性命危。中血脈者，外無六經之形症，內無便溺之阻隔。先以中經言之。中經者，現出六經形症，太陽頭痛、脊強；陽明目痛、鼻乾、身熱、不得臥；少陽胸滿、口苦、脅痛、耳聾、寒熱；太陰自利、腹痛或便難；少陰口渴、時厥；厥陰囊縮、遺溺、手足厥逆，而面色亦現出五色可診。此中風之淺也，宜小續命湯加減主之。</p>
<p><u>小續命湯</u>（方見《時方》）</p>
<p>如中風無汗惡寒，依本方麻黃、杏仁、防風各加一倍。宜針至陰出血。（穴在足小趾外側爪甲角刺二分）。崑崙。（穴在足外踝後跟骨，針透太谿）</p>
<p>如中風有汗惡風，依本方桂枝、芍藥、杏仁各加一倍。宜針風府。（穴在項後入髮際一寸。針入三分，禁灸。）</p>
<p>以上二症，皆太陽經中風也。</p>
<p>如中風有汗，身熱不惡寒，依本方加石膏、知母各二錢，甘草再加一倍，去附子。</p>
<p>如中風有汗，身熱不惡風，依本方加葛根、桂枝，黃芩再加一倍。宜針陷谷，（穴在足大趾次指外間本節後陷中，針入五分）去陽明之賊，兼刺厲兌，（穴在足大趾次指端去爪甲如韭葉。）瀉陽明之實。</p>
<p>以上二症，皆陽明經中風也。</p>
<p>如中風無汗身涼，依本方附子加一倍，乾薑加二倍，甘草加二倍。宜刺隱白，（穴在足大趾內側去爪甲角如韭葉）去太陰之賊。</p>
<p>此太陰經中風也。</p>
<p>如中風有汗無熱，依本方桂枝、附子、甘草各加一倍。宜針太谿。（穴在足內踝後跟骨上陷中，針透崑崙。）</p>
<p>此少陰經中風也。</p>
<p>如中風六經混淆，系之於少陽、厥陰，或肢節攣痛，或麻木不仁，依本方加羌活、連翹。灸少陽之經絕骨穴，（在足外踝上三寸，灸五壯。）以引其熱。刺厥陰之井大敦穴，（在足大指甲聚毛間）。以通其經。</p>
<p>此少陽厥陰經中風也。</p>
<p>又以中腑言之，與傷寒腑症略同，內有便溺之阻隔，宜三化湯通之，夾有經症，宜防風通聖散兩解之。</p>
<p>又以中臟言之，中臟多滯九竅，有唇緩、失音、耳聾、目瞀、鼻塞、大小便難之症。或卒倒不省人事，有閉脫之別。</p>
<p>若口開，為心絕；眼合，或上視，為肝絕；手撒，為脾絕；遺尿，為腎絕；汗出如油，聲如鼾睡，為肺絕。及面赤如妝，脈急大，皆虛極陽脫不治之症。唯以三生飲一兩，加人參一兩，另煎濃汁，調入灌之，或可救十中之一。如牙關緊閉，以烏梅浸醋擦其牙；痰塞咽喉，以稀涎散吐之。不省人事，以半夏末吹入鼻中。蓋此法為通關所設，而藥汁方可灌入，非藉此法吐痰以愈病也。</p>
<p>男元犀按：不省人事，有閉症、脫症之辨。二症誤認用藥，則死生立決。</p>
<p>《內經》云：風為百病之長也，善行而數變。或為寒中，或為熱中。</p>
<p>如陽臟之人，素有內火，而風邪中之，則風乘火勢，火借風威，遂卒倒不省人事，牙關緊閉，兩手握固。雖有痰聲，非漉漉之聲，亦無湧起之勢。可用橘皮一兩，半夏一兩，入生薑汁少許，煎服；或服後探吐之，隨以滌痰湯加天麻、丹參、石菖蒲，入竹瀝、薑汁以開之。如外熱甚，二便閉，可用防風通聖散，及涼膈散加石菖蒲、遠志、丹參及三化湯之類，表裡兩解之。如陰臟之人，素多內寒，而風邪中之，則風水相遭，寒冰徹骨，亦卒倒不省人事，口開手撒，尿出，臍下冰冷，痰聲漉漉，如水沸之勢。急用三生飲加人參，或用人參二兩、附子一兩、生半夏三錢，煎一盅，入生薑汁半匙、蜂蜜一蛤蜊殼灌之，亦有得生者。若以膽南星。及滌痰驅風等藥投之，如入井而下以石也。</p>
<p>二症愈後，語言行動，定不能如常，察其水衰、火衰，以六味丸、八味丸清早服三四錢，下午服六君子湯加麥冬三錢，干桑葉一錢，竹瀝二蛤蜊殼，最妙。蓋柔潤熄風，為治風之秘法也。</p>
<p>又以中血脈言之。中血脈者，外無六經之形症，內無便溺之阻隔，非表非里，邪無定居，或偏於左，或偏於右，口眼喎斜，半身不遂。治之之法，汗下俱戒，惟潤藥以滋其燥，靜藥以養其血，則風自除，宜大秦艽湯主之。或偏於右者，以六君子湯，加竹瀝、薑汁以補氣行痰祛風，偏於左者，以四物湯加桃仁、紅花、竹瀝、薑汁、天麻、羚羊角以補血行血，化痰祛風，氣血兩虛者，以八珍湯，或十全大補湯，加鉤藤，竹瀝、薑汁以峻補之。</p>
<p><u>大秦艽湯</u></p>
<p>秦艽　石膏（生用，各一錢半）　甘草　川芎　當歸　羌活　獨活　防風　黃芩　白芍（酒炒）　白芷　白朮（炒）　生地　熟地　茯苓（各一錢）　北細辛（三分）</p>
<p>水煎服。</p>
<p><u>滌痰湯</u></p>
<p>即六君子湯去白朮加南星、枳實、石菖蒲、竹茹，治中風痰迷心竅，舌強不能言。</p>
<p>口眼喎斜，以牽正散主之，又以鱔魚血塗正處，牽之便正。</p>
<p>又偏枯症，如樹木枯去一枝，而津液不能周行灌溉，宜六君子湯加竹瀝等法治之，久可望愈，或以六味丸、八味丸、入桑寄生、五加皮、牛膝、杜仲，以自制虎骨膠為丸，朝吞五錢，黃酒送下，暮服前湯。可愈十中一二。</p>

<h3>中風四言脈訣</h3>
<p>中風浮吉，滑兼痰氣。其或沉滑，勿以風治。或浮或沉，而微而虛。扶元治痰，風本可疏。浮遲者吉，急疾者殂。</p>

<h3>各症方藥</h3>
<p><u>三化湯</u></p>
<p>治中風，內有便溺之阻隔。</p>
<p>厚朴　大黃　枳實　羌活（各二錢五分）</p>
<p>水煎服。</p>
<p>喻嘉言曰：仲景云：藥積腹中不下，填竅以熄風。後人不知此義，每欲開竅以出其風，究竟竅空而風愈熾，長此安竅哉。此方與愈風湯、大秦艽湯，皆出《機要方》中，云是通真子所撰，不知其姓名，然則無名下士，煽亂後人見聞，非所謂一盲引眾盲耶？</p>
<p><u>防風通聖散</u>（方見《時方》）</p>
<p>治諸風抽搐，手足瘛瘲，小兒驚風，大便結，邪熱暴甚，肌肉蠕動，一切風症。（按：此表裡通治之輕劑）</p>
<p>喻嘉言曰：汗不傷表，下不傷里，可多服也。</p>
<p><u>祛風至寶膏</u></p>
<p>即前方再加人參補氣，熟地益血，黃柏、黃連除熱，羌活、獨活、天麻、細辛、全蠍、防風祛風，蜜丸彈子大，每服一丸，茶酒任下，此中風門不易之專方也。</p>
<p><u>三生飲</u>（方見《時方》）</p>
<p>薛氏云：加人參一兩許，駕馭而行，庶可驅外邪而補真氣，否則不惟無益，適以取敗。</p>
<p><u>稀涎散</u></p>
<p>治中風口噤，單蛾雙蛾。</p>
<p>巴豆仁（六粒，每粒分作兩片）　牙皂（三錢，切片）　明礬（一兩）</p>
<p>先將明礬化開，卻入二味攪勻，待礬枯為末，每用三分吹喉中，痰涎壅盛者，燈草湯下五分。（在喉即吐，在膈即下）</p>
<p>一方：半夏十四粒，牙皂一個炙，水煎，入薑汁服。</p>
<p><u>涼膈散</u>（方見《時方》）</p>
<p><u>加味轉舌膏</u></p>
<p>即前方加遠志、菖蒲、防風、桔梗、犀角、川芎、柿霜，煉蜜丸彈子大，硃砂為衣。</p>

<h2>中風續論</h2>
<p>古人定病之名，必指其實。後人既曰中風，如何舍風而別治，觀仲師侯氏黑散、風引湯數方自見。余此書原為中人以下立法，只取唐人續命湯一方為主，蓋以各家所列風症，頭緒紛繁，議論愈深則愈晦，方法愈多則愈亂，不如只取一方，以驅邪為本，庶法一心純，不至多歧反惑。要知此湯長於治外，非風則不可用，是風則無不可用也。至云風為虛邪，治風必先實竅，此旨甚微，能於侯氏黑散、風引湯二方研究十年，而知其妙處，則可與共學適道矣。</p>
<p><u>侯氏黑散</u></p>
<p>治大風四肢煩重，心中惡寒不足者。（《外臺》治風癲）《內經》云：邪害空竅，此則驅風之中，兼填空竅。空竅滿，則內而舊邪不能容，外而新風不復入。</p>
<p><u>風引湯</u>（俱見《金匱》）除熱癲癇（巢氏治腳氣）</p>
<p>大人中風牽引，小兒驚癇瘛瘲，皆火熱生風，五臟亢甚，歸迸入心之候，夫厥陰風木，與少陽相火同居，火發必風生，風生必挾木勢而害土，土病則聚液成痰，流注四肢而癱瘓。此方用大黃為君，以盪滌風火熱濕之邪，隨用乾薑之止而不行者以補之，用桂枝、甘草以緩其勢，又取石藥之澀以堵其路，而石藥之中，又取滑石、石膏清金以伐其木，赤白石脂厚土以除其濕，龍骨、牡蠣以斂其精神魂魄之紛馳，用寒水石以助腎之真陰，不為陽光所劫。更用紫石英以補心神之虛，恐心不明而十二官危也。明此以治入臟之風，遊刃有餘矣。喻嘉言此解最妙。</p>

<h2>類中風症</h2>
<p>一火中之說，本於河間。河間舉五志過極，動火而卒中。大法以白虎湯、三黃湯沃之，所以治實火也；以逍遙散疏之，所以治鬱火也；以通聖、涼膈散雙解之，所以治表裡之邪火也；以六味湯滋之，所以壯水之主，以制陽光也；以八味丸引之，所謂從治之法，引火歸原也；又地黃飲子，治舌喑不能言，足廢不能行，神妙無比。</p>
<p><u>地黃飲子</u></p>
<p>時賢徐靈胎云：此治少陰氣厥之方，庸醫不察，竟以之治一切中風之症，輕則永無愈期，重則益其病而致死。醫者病家，終身不悟也。</p>
<p>孫心典按：舌喑不能言，有上焦為痰火阻塞者，宜轉舌膏；有中風脾緩舌強不語者，宜資壽解語湯。惟有少陰脈縈舌本，氣厥不至，名曰風痱，宜用地黃飲子溫之。喻氏用資壽解語湯去羌、防，加熟地、何首烏、枸杞子、甘菊花、黑芝麻、天門冬治之。</p>
<p><u>資壽解語湯</u>（俱見《時方》）</p>
<p>治中風脾緩，舌強不語，半身不遂。</p>
<p>一氣虛類中，說本李東垣。東垣以元氣不足則邪湊之，令人卒倒僵仆如風狀。大法以六君子湯加黃耆、竹瀝、薑汁治之，補中益氣湯亦治之；卒倒遺尿，元氣大虛，必重用白朮、人參、黃耆，加益智仁主之。又有惱怒氣逆而厥，面青脈大，如中風象，宜景岳解肝煎主之。虛者六君子湯，加烏藥、青皮、白芷主之。</p>
<p>一濕中之說，本於朱丹溪。丹溪以東南氣溫多濕，有病風者，非風也，由濕生痰，痰生熱，熱生風，二陳湯加沙參、蒼朮、白朮、竹瀝、薑汁主之，或單用半夏六錢，煎半盅，入生薑汁二滴，風化硝二錢，先治其標，或間服滾痰丸。</p>
<p>亦謂之痰中，可用吐法，後理脾胃，先調經絡，以竹瀝湯主之。</p>
<p><u>竹瀝湯</u>　竹瀝（二酒盞）　生葛汁（一酒盞）　生薑汁（一湯匙）相合，作兩服。</p>
<p>劉、朱、李三子發揮之外，後人又增惡中、食中、寒中、暑中四症。</p>
<p>一食中者，過飽食填太陰，上下之氣不通而厥，以平胃散加減煎服，或探吐之，或以備急丸灌之。</p>
<p><u>備急丸</u>　<u>消暑丸</u>（俱見《時方》）</p>
<p>一惡中者，入古廟山林古墓，及見非常怪物，感其異氣，遂昏倒不知人事。其脈兩手若出兩人，乍大乍小，以蘇合香丸灌之，或以平胃散加雷丸二錢，雄黃精五分，藿香一二錢，以解穢，或焚降真香、藿香、生耆、川芎、蒼朮、皂角、紅棗，使正氣自口鼻入。</p>
<p>一寒中者，或暴寒之氣直入於內，手足厥冷，腹痛吐瀉不止，遂昏倒不知人事，六脈細小，或沉伏，四肢唇口青黯，宜以生蔥白一束，安臍中，以火斗熨之，或灸關元三十壯，以四逆湯灌之。</p>
<p>一暑中者，夏月感暑氣，昏倒不省人事，自汗面垢，吐瀉脈虛，以《千金》消暑丸灌之，立蘇。又有長途赤日，卒倒不省人事，以熱土取來圍臍上，以熱尿注之，即蘇，或以生蒜搗水灌之。</p>
<p><u>續論真中風類中風攻痰之誤</u></p>
<p>凡人將死之頃，陽氣欲脫，必有痰聲漉漉，是一身之津血，將漸化為痰而死也。時醫於此症，開手即以膽南星、石菖蒲直攻其痰，是直攻其津血，而速之死也。</p>
<p>《醫學真傳》曰：《本經》只有南星。並無膽星。南星色白味辛，稟金氣而驅風豁痰，功同半夏。今人以牛膽製為膽星，味苦性冷。（庸醫皆曰：丸制者佳，不知愈制愈失其性，為禍更烈。）中風痰涎上湧，多屬三焦火衰，土崩水泛，斯時助正散邪，壯火驅寒，尤恐不濟，服之以苦冷之膽星，加之以清涼之竹瀝，必至生陽滅絕而死。</p>
<p>孫心典按：竹瀝為中風必用之藥，取其柔潤以熄風，輕清以活絡。而驅行經絡之痰，在所後也。荊瀝、生葛汁，亦是此義。</p>

<h2>虛癆</h2>
<p>《聖濟總錄》曰：虛癆之病，因五臟則為五癆，因七情則為七傷，癆傷之甚，身體瘦極，則為六極。所謂七傷者，一曰：太飽傷脾，脾傷則善噫，欲臥，面黃；（土色黃，脾傷則其本色自見，故面黃。神者，中氣之所生，脾傷則神亦倦，故善臥。）二曰：大怒氣逆傷肝，肝傷則少血目暗。（肝者，將軍之官，故主怒。又曰：目得血而能視，今肝傷少血，故令目暗。）三曰強力入房，久坐濕地傷腎，腎傷則短氣，腰腳痛，厥逆下冷。（腳痛下冷者坎，中之陽虛也，輕則八味丸，重則附子湯治之。）四曰：形寒飲冷傷肺，肺傷則氣少，咳嗽，鼻鳴。（形寒者，形氣虛寒也，飲冷者，復飲冷物也，故《金匱》治咳嗽五方皆以小青龍加減。）五曰：憂愁思慮傷心，心傷則苦驚，喜忘，善怒。（心藏神，心傷則神不安，故苦驚；心主血，心傷則血不足，故喜忘；心愈傷則憂愁思慮愈不能去，故因而生怒。一本無善怒二字，有夜不能寐四字。）六曰：風雨寒暑傷形，形傷則發落，肌膚枯槁。（外冒風雨則寒濕不免矣，以外得之，故令傷形而皮膚枯槁。然皮膚之間衛氣之所居也，《靈樞經》曰：衛氣者，所以溫分肉、充皮膚、肥腠理而司開合者也。故峻補其衛氣而形斯復矣，宜桂枝湯加黃耆之類也。）七曰：恐懼不節傷志，志傷則恍惚不樂。（怒則氣上，恐則氣下，則膻中大失其權，怫然不得舒暢，故曰傷志。志者，腎之所主而暢於膻中。膻中在兩乳之間，心君之分也。心者，神明之所出，故令恍惚。膻中者，喜樂之所出，故令不樂。傷之固也，故為七傷。）所謂五癆者，一曰肺癆，令人短氣，面腫，不聞香臭。二曰肝癆，令人面目乾黑，口苦，精神不守，恐懼，不能獨臥，目視不明。三曰心癆，令人忽忽喜忘，大便苦難，（心主血，血濡則大便潤，血燥則大便難。）時或溏泄，（心火不足以生脾土也。）口中生瘡。四曰脾癆，令人舌本苦直，不能嚥唾。五曰腎癆，令人背難以俯仰，小便黃赤，時有餘瀝，莖內痛，陰濕囊生瘡，小腹滿急。此五者，癆氣在五臟也，故名五癆。所謂六極者，一曰氣極，（氣極主肺）令人內虛，五臟不足，邪氣多，正氣少，不欲言。二曰血極，（血極即脈極主心）令人無顏色，眉發隨落，忽忽喜忘。三曰筋極，（筋極主肝）令人數轉筋，十指甲皆痛，苦倦不能久立。四曰骨極，（骨極主腎。）令人酸削，齒苦痛，手足煩疼，不可以立，不欲行動。五曰肌極，（肌極即肉極主脾）令人羸瘦無潤澤，食飲不生肌膚。六曰精極，（精極主五臟，蓋以五臟主藏精也。道家以精、氣、神為三寶，《經》曰：精生氣，氣生神，精無以生氣，故有少氣內虛等候也。）令人少氣，吸吸然內虛，五臟氣不足，毛髮落，悲傷喜忘。此六者，癆之甚，身體瘦極也，故名六極。又五癆、七傷、六極之外，變症不一，治法皆以補養為宜。形不足者，溫之以氣；精不足者，補之以味。相得合而服之，以補精益氣，此其要也。</p>
<p>按：方書論虛癆之證最繁。余取《聖濟》書以五癆、七傷、六極立論，為握要之法。以下分採各方，聽人擇用。然有不得不分者，亦有不必分者，神而明之，存乎其人，不可以口授也。《聖濟》於總結處，提出氣味二字，示人當從陰陽根本之地而藥之，所謂吾道一以貫之也。</p>
<p>按：陽虛陰虛，是醫家門面話。然亦不可不姑存其說，以資顧問。吳門馬元儀分陽虛有二，陰虛有三。較時說頗深一層。所謂陽虛有二者，有胃中之陽，後天所生者也；有腎中之陽，先天所基者也。胃中之陽喜升浮，虛則反陷於下，再行斂降，則生氣遏抑不伸；腎中之陽，貴凝降，癆則浮於上，若行升發，則真氣消亡立至。此陽虛之治有不同也。所謂陰虛有三者，如肺胃之陰，則津液也；心脾之陰，則血脈也；腎肝之陰，則真精也。液生於氣，惟清潤之品，可以生之；精生於味，非黏膩之物，不能填之；血生於水穀，非調補中州，不能化之。此陰虛之治有不同也。</p>
<p>按：此症又多蒸熱咳嗽，故醫者以二皮清心，二冬保肺，而不知土旺則金生，無區區於保肺；水升則火降，勿汲汲於清心。李士材此四語，深得治虛癆之法。</p>
<p>脾腎雖有一方合治之說，其實駁雜不能奏效，當審其所急而圖之。如食少怠倦、大便或溏或秘、肌肉消瘦等症，治脾為急，以六君子湯、四君子湯、歸脾湯之類，補養脾胃，調其飲食，即所以輸精及腎也。如形傷骨痿、面色黯黑、骨蒸炊熱、腰痛氣喘，或畏寒多夢、腹痛遺精等症，治腎為急。腎陰虛者，以六味丸補坎中真水；腎陽虛者，以八味丸補坎中真火，以通離火。稽之《周易》卦象，坤土是離火所生，艮土是坎水所生。趙養葵謂補水以生土，語雖離奇，卻為妙旨也。</p>
<p><u>大黃䗪蟲丸</u>（方見《金匱》）</p>
<p>治五癆虛極，羸瘦腹滿，不能飲食，食傷，憂傷，房室傷，肌傷，癆傷，經絡榮衛傷，內有乾血，肌肉甲錯，目黯黑，緩中補虛。</p>
<p><u>四烏鰂骨一蘆茹丸</u>（方見《女科要旨》）</p>
<p>治虛癆氣竭，肝傷血枯精傷。</p>
<p>按搜血之品，為補血之用。仿張路玉以此丸藥料，加鮑魚、絨雞之類。</p>

<h2>虛癆續論</h2>
<p>（前論俯首從時不過於時，法中錄其可以姑從者為淺病立法。余復續此論從《內經》「勞者溫之、損者溫之」兩言，悟入左右逢源，取效捷如影響。至於痰飲、咳嗽、怔忡、不寐及婦人經水不調等病，皆虛癆中必有之症，已詳各門，毋庸再贅，宜參考之。）虛癆症，宋元諸家，分類別名，繁而無緒，如治絲而棼也。丹溪頗有把柄，專主補陰，用四物湯，加黃柏、知母之類，後世非之。明。薛立齋出以六君子、四君子、歸脾湯、補中益氣湯、加味逍遙散之類，與六味丸、八味丸、養榮湯之類間服。開口便以先後天立論，雖視諸家頗高一格，其實開後人便易之門。到張景岳出，專宗薛氏先天之旨，而先天中分出元陰、元陽，立左右歸飲丸，及大補元煎之類。有補無瀉，自詡專家。雖論中有氣虛、精虛之辨，而大旨以氣化為水，水化為氣，陰陽互根，用方不甚分別，惟以熟地一味，無方不有，無病不用。是於簡便之中，又開一簡便之門。且有著《藥性》云：地黃生於中州沃土，色黃味甘，謂非脾胃正藥，吾不信也。此論一出，而《本經》《金匱》諸聖訓，掃地盡矣。夫薛氏書，通共二十四種，吾不能一一摘其弊。而觀其案中所陳病源，俱系臆說，罕能闡《靈》、《素》不言之秘；所用方法，不出二十餘方，加減雜沓，未能會《本經》性味之微。時賢徐靈胎目為庸醫之首，實不得已而為此憤激之言也。即景岳以陰虛陽虛，鋪張滿紙，亦屬浮泛套談。能讀《金匱》者，便知余言不謬也。詳考虛勞治法，自《內經》而外，扁鵲最精。上損從陽，下損從陰。其於針砭所莫治者，調以甘藥。《金匱》因之，而立建中諸方。意以營衛之道，納穀為寶。居常調營衛以安其谷，壽命之本，積精自剛。居常節欲以生其精，及病之甫成，脈才見端，惟恃建中復脈為主治。皆稼穡作甘之善藥，一遵「精不足者，補之以味」之義也。景岳亦會得甘溫之理，或變而為甘寒至靜之用，視慣用苦寒戕伐中土者頗別。然方方重用熟地，自數錢以及數兩，古法蕩然矣。且熟地之用滯，非胃所宜。（《經》云：六腑者，傳化物而不藏，以通為用。）其性濕，非脾所喜。彼蓋取滋潤以填補其精，而不知精生於穀，脾胃傷則谷少久而不生其血，血少自不能化精，而虛勞日甚。況虛勞之人，必有痰嗽，亦最易感冒，若重用頻用熟地，又佐之以參、術，則風寒閉於皮毛而不出，痰火壅滯於胸膈而不清，藥入病增，謂非人人之共見乎！予於此症，每力爭治法，無如醫友及病家，心服薛氏、景岳諸法，以六味、八味、左歸、右歸、補中、逍遙、六君、四君、大補元煎之類，謂不寒不燥之品，先入為主，至死不悔，亦斯民之厄也。戊申秋闈後，抑鬱無聊，取《內經》、《金匱》等書，重加研究，參之平時所目擊之症，如何而愈，如何而劇而死，大有所悟。知虛癆之病，死於病者少，死於藥者多。侃侃不阿，起立齋，景岳於今日，當亦許為直友也。請略陳方治於下，以為耳食治虛癆者，腦後下一針。</p>

<h3>脈法</h3>
<p>《要略》曰：脈芤者為血虛，沉遲而小者為脫氣，脈大而無力為陽虛，數而無力為陰虛，脈大而芤為脫血，平人脈大為勞，虛極亦勞；脈微細者盜汗，寸弱而軟為上虛，尺軟澀為下虛；尺軟滑疾為血虛，兩關沉細為胃虛。</p>
<p>《脈經》曰：脈來軟者為虛，緩者為虛，微弱者為虛，弦者為中虛，細而微小者，氣血俱虛。</p>
<p>景岳脈法可取之句，無論浮沉大小，但漸緩則漸有生意，若弦甚者，病必甚；數甚者，病必危；若以弦細而再加緊數，則百無一生矣。</p>

<h3>方治</h3>
<p><u>六味地黃丸</u></p>
<p>此方大旨，補水以制相火。</p>
<p>先祖選嚴公曰：補水以制相火，為相火有餘而言也。若命門真火不足，不能蒸化脾胃，若服六味丸，則濕痰愈多，宜八味丸常服。</p>
<p>虛癆之由，多由於吐血與咳嗽。夫吐血咳嗽，豈盡致勞，治之不得法，斯勞根於此，鋤之不能去矣。吐血起於驟然，是多風寒失汗，逼而上越為大吐。一吐即止者，不必治之。（汗即血，血即汗，夾汗而見血，風寒從血解也。宜靜養，勿藥可愈。）不止者，用麻黃人參芍藥湯治之。若脈細而沉遲，按之無力，乃直中寒症，敗其元陽，陽虛陰必走，故為大吐，（或大衄）四肢微厥，宜理中湯，加當歸、木香治之，或鎮陰煎降之。此一定之法也。又有素性偏陽，外受酷暑，內傷椒姜爆炙而致血者，宜白虎湯、三黃解毒湯之類。鼎下抽薪，而水無沸騰之患。又法以地黃汁半升煎三沸，入生大黃末一寸匕，調和，空腹服之，日三服，即瘥，此秘法也。今人一見吐血症，即用六味加黑梔、藕節、白茅根、血餘炭、阿膠之類，姑息養奸，必變咳嗽而成癆。</p>
<p>凡咳嗽初起，多因風寒。《經》云：皮毛者，肺之合也。予每見今人患此症，不知解肌，遽投六味。（若加麥冬五味之類為禍更烈。）是閉門逐寇也，必變成癆。</p>
<p><u>崔氏八味丸</u></p>
<p>（此方在仲景之前，仲景收入《金匱要略》中，故名金匱腎氣丸）　大旨溫腎臟，逐水邪。</p>
<p>此方《金匱要略》凡五見：一見於第五篇，云，治腳氣上入小腹不仁；再見於第六篇，云，治虛勞腰痛，小便不利；三見於第十二篇，云，夫短氣有微飲，當從小便去之，腎氣丸主之；四見於第十三篇，云治男子消渴，小便及多，飲一斗，小便亦一斗；五見於第二十二篇，云，治婦人轉胞不得溺，但利小便則愈。觀此五條，皆瀉少腹膀胱之疾為多。蓋腎者，水臟也。凡水病皆歸之，故用茯苓、澤瀉、山藥利水之藥。水過利而腎虛惡燥，故又用熟地、萸肉、丹皮等滋斂之藥。又水為寒邪，故用附子、肉桂等助陽通痹之藥，相濟而相成，總以通腎利小便為主，此八味丸之正義也。薛氏、趙氏借用之，以為補火，亦不甚切當。若小便多者大忌之。</p>
<p><u>小建中湯</u></p>
<p>本文云：虛癆裡急，悸衄，腹中痛，夢失精，四肢痠痛，手足煩熱，咽乾口燥。</p>
<p>喻嘉言曰：急建其中氣，俾飲食增而津液旺，以至充血生精，而復其真陰之不足。但用稼穡作甘之本味，而酸辛鹹苦，在所不用，舍此別無良法也。</p>
<p><u>黃耆建中湯</u></p>
<p>即前方加黃耆一兩半。氣短胸滿者，加生薑；腹滿者，去棗加茯苓一兩半；及療肺虛損不足，補氣加半夏三兩。</p>
<p>《千金》療男女因積冷氣滯，或大病後不復常，若四肢沉重，骨肉痠疼，吸吸少氣，行動喘之，胸氣滿急，腰背強痛，心中虛悸，咽乾唇燥，面體少色，或飲食無味，脅滿腹脹，頭重不舉，多臥少起，甚者積年，輕者百日，漸致瘦弱，五臟氣竭，則難復常。六脈俱不足，虛寒之氣，小腹拘急，羸瘠百病，名曰黃耆建中湯。</p>
<p><u>人參建中湯</u></p>
<p>即前方加人參二兩，治虛勞自汗。</p>
<p><u>當歸建中湯</u></p>
<p>即前湯加當歸二兩，治婦人血虛自汗。</p>
<p><u>八味大建中湯</u></p>
<p>治中氣不足，手足厥冷，小腹攣急，或腹滿不食，陰縮多汗，腹中寒痛，唇乾精出，寒熱煩冤，四肢痠痛，及無根失守之火，出於肌表，而為疹為斑、厥逆嘔吐等症。</p>
<p>黃耆　當歸　桂心（桂枝去皮即桂心，非近時所用之肉桂心也）　酒白芍　人參　甘草（炙，各一錢）　半夏（制）　附子（炮，各二錢半）</p>
<p>每服五錢，加姜三片，棗二枚，煎服。</p>
<p><u>桂枝龍骨牡蠣湯</u></p>
<p>治失精家，小腹強急，陰頭寒，目眩發落，脈極虛、芤、遲，為清穀，失精亡血，脈得諸芤、動、微緊，男子失精，女子夢交。</p>
<p>喻氏曰：用桂枝湯，調其營衛羈遲，脈道虛衰，加龍骨、牡蠣，澀止其清穀，亡血失精。一方而兩扼其要，誠足貴也。</p>
<p>《小品》云：虛羸浮熱，汗出者，除桂加白薇、附子各一錢五分，故曰二加龍骨湯。桂枝雖調營衛所首重，倘其人虛陽浮越於外，即當加附子、白薇以固陽，而助其收澀，桂枝在所不取也。</p>
<p>張石頑曰：亡血失精，舉世皆滋補血氣之藥。而仲景獨舉桂枝湯者，蓋以人身之氣血，全賴後天水穀以資生。水穀入於胃，其清者為營，濁者為衛。營氣不營，則上熱而血溢；衛氣不衛，則下寒而精亡。是以調和營衛為主。營衛和則三焦各司其職，而火自歸根。熱者不熱，寒者不寒，水穀之精微輸化，而精血之源有賴矣。以其亡脫既大，恐下焦虛滑不禁，乃加龍骨入肝斂魂，牡蠣入腎固精，皆固蟄封藏之本藥也。至於小建中湯加減諸方，皆治虛勞之神劑，後人專用滋陰降火，誤治遺害，未至於劇者，用此悉能挽回。</p>
<p><u>大建中湯</u>（俱見《金匱》）</p>
<p>心胸大寒，痛嘔不能食，腹中寒，上衝皮起，出見有頭足，上下痛，不可觸近。</p>
<p><u>葉天士加減大建中湯</u></p>
<p>辛甘化陽法。</p>
<p>人參　桂心　歸身　川椒（炒，出汗）　茯苓　炙草　白芍　飴糖　蘭棗</p>
<p>按：原方中乾薑定不可少。</p>
<p><u>葉天士加減小建中湯</u></p>
<p>脈右虛左小，背微寒，肢微冷，痰多微嘔，食減不甘。此胃陽已弱，衛氣不得擁護，時作微寒微熱之狀，小便短赤，大便微溏，非實邪矣。當建中氣以維營衛。東垣云：胃為衛之本，營乃脾之源，偏熱偏寒，猶非正治。</p>
<p>人參　歸身（米拌炒）　桂枝木　白芍　蘭棗</p>
<p>按：此方姜定不可少。</p>
<p><u>復脈湯</u>（一名炙甘草湯，方見《傷寒》）</p>
<p>治諸虛不足，汗出而悶，脈結悸，行動如常，不出百日，危急者十一日死。（此治血脈空竭方）</p>
<p>用之所以和血。凡脈見結代者，雖行動如常，不出百日必死。若復危急不能行動，則過十日必死，語極明白，從前解者多誤。</p>
<p>喻嘉言曰：此仲景治傷寒脈結代、心動悸、邪少虛多之聖方也。《金匱》不載，以《千金翼》常用此方治虛勞，則實可徵信，是以得名為《千金》之方也。虛勞之體，多有表熱夾其陰虛，所以本論汗出而悶。表之固非，即治其陰虛亦非，惟用此方得手，而脈出熱解，俾其人快然，真聖法也。但虛勞之人，胃中津液素虛，匪傷寒暴病邪少虛多之比。桂枝、生薑分兩之多，服之津液每隨熱勢外越，津既外越，難以復收，多有淋漓沾濡一晝夜者。透此一關，亟以本方去桂枝、生薑二味，三倍加入人參，隨繼其後，庶幾津液復生，乃致營衛盛而諸虛復，豈小補哉！</p>
<p><u>葉天士加減復脈湯</u></p>
<p>本案云：其脈虛細，夜熱晨寒，煩倦口渴，汗出，臟液已虧，當春風外泄，宗仲師凡元氣有傷，當與甘藥之例。</p>
<p>孫心典按：虛勞治法，舍建中別無生路。又有一種脾陽不虧，胃有燥火，當從時賢養胃陰諸法。</p>
<p>葉天士云：太陰濕土，得陽始運，陽明陽土，得陰自安。以脾喜剛燥，胃喜柔潤也。愚於此法又悟出無數法門，此下所列之方，俱宜深考。</p>
<p><u>葉氏養胃方</u></p>
<p>治胃虛少納穀，土不生金，音低氣餒。</p>
<p>麥冬　生扁豆　玉竹　甘草　桑葉　沙參</p>
<p>此方生穀芽、廣陳皮、白朮、麥仁、石斛、烏梅，俱可加入，燥極加甘蔗汁。</p>
<p><u>葉氏方</u></p>
<p>治陰虛盜汗，不用當歸六黃湯，以其味苦不宜於胃也。此方用酸甘化陰法。（合前加減大建中湯辛甘化陽法，可悟用藥之妙。）</p>
<p>人參　熟地　五味　炙草　湖蓮　茯神</p>
<p><u>又方</u>　《經》云：形不足者，溫之以氣；精不足者，補之以味。納穀如常，而肌肉日</p>
<p><u>削，當以血肉充養。</u></p>
<p>牛骨髓　羊骨髓　豬脊髓　茯神　枸杞　當歸　湖蓮　芡實。</p>
<p><u>又方</u></p>
<p>治肉消脂涸，吸氣喘促，欲咳不能出聲，必踞按季脅，方稍有力，寐醒，喉中乾涸，直至胸脘，此五液俱竭，法在不治。援引人身膏脂，為繼續之計。</p>
<p>鮮河車（按：此味不可用）　人乳汁　真秋石　血餘灰</p>
<p>陰虛陽浮，宜用介以潛陽之法。六味丸，減丹、澤，加秋石、龜膠、牡蠣、湖蓮之屬；如有用海參膠、淡菜膠及燕窩之類，皆是此意。</p>
<p>長孫心典按：虛極之候，非無情草木所能補。如肉削之極，必須諸髓及羊肉膠之類；陰中之陰虛極，必須龜膠、人乳、粉牡蠣、秋石、麋茸之類；陰中之陽虛極，必須鹿角膠、鹿茸、黃犬外腎之類，一隅三反。</p>
<p><u>黑地黃丸</u></p>
<p>治陽盛陰衰，脾胃不足，房勞虛損，形瘦無力，面多青黃，而無常色，此補腎益胃之劑也。</p>
<p>蒼朮（一斤，油浸）　熟地（一斤）　五味子（半斤）　乾薑（秋冬一兩，夏五錢，春七錢）</p>
<p>上為末，棗肉煉丸，梧子大，米湯送下百丸，治血虛久痔甚妙。（此治脫血脾寒之聖藥）</p>
<p><u>天真丸</u></p>
<p>治一切亡血過多，形槁肢羸，飲食不進，腸胃滑泄，津液枯竭，久服生血養氣，暖胃駐顏。</p>
<p>生羊肉（七斤，去筋膜脂皮，批開入下藥末）　肉蓯蓉（十兩）　當歸（十二兩，洗，去皮）　山藥（濕者去皮，十兩）　天冬（去心，焙乾，一斤）</p>
<p>四味為末，安羊肉內裹縛，用無灰酒四瓶，煮令酒盡，再入水二升煮，候肉糜爛，再入黃耆末五兩、人參末二兩、白朮末二兩，搗作薄餅，曬乾，隔紙懸火上烘乾。以煉蜜為丸，梧子大，服一百丸，加至二三百丸，溫酒下，一日二次服。</p>
<p><u>雪梨膏</u></p>
<p>治咯血吐血，癆嗽久不止。</p>
<p>雪梨（六十隻，取汁二十杯）　生地　茅根　藕（各取汁十杯）　蘿蔔　麥冬（各取汁五杯）</p>
<p>將六味煎，煉入蜂蜜一斤，飴糖八兩，薑汁半杯，再熬如稀糊，則成膏矣。每日用一二匙，含咽。</p>

<h3>虛癆不治證</h3>
<p>形瘦脈大，胸中多氣者死，瀉而加汗者死，身熱不為汗衰、不為泄減者死，嗽而上喘下泄者死，股肉脫甚者死，一邊不得眠者多死，五旬以下陽痿者多死。癆疾久而嗽血、咽疼無聲，此為自下傳上，若不嗽不疼，久而溺濁脫精，此為自上傳下，皆死證也。</p>
<p>脈候詳下《續論篇》。</p>
<p><u>地黃蒸丸</u></p>
<p>生地汁（六升）　天冬汁（三升）　生薑汁　白蜜　鹿髓黃牛酥　紅棗肉（取膏，各三合）　枳殼　川芎（各一分）　醇酒（半斤）　茯苓（一分半）　金釵石斛　炙黃耆　炙甘草（各一兩）</p>
<p>上六味共為末，先將前三汁，與酒並煎減半，入蜜髓酥膏，同熬如稠糖，再下六味末，重湯不住手攪勻，丸梧桐子大，空心酒送三十丸，日三服。</p>
<p><u>天王補心丹</u>（方見《時方》）</p>
<p>治心癆，心血不足、神志不寧、健忘怔忡、大便不利、口舌生瘡等症。</p>
<p><u>朱雀湯</u>（《聖濟》）</p>
<p>治心癆脈極。</p>
<p>雄雀（十枚，用肉）　人參　紅棗肉　赤茯苓　紫石英小麥（各三錢）　赤小豆（三十枚）　炙甘草（一錢）　丹參　遠志　紫菀（各二錢五分）</p>
<p>水煎服。</p>
<p><u>柏葉沐頭丸</u>（《聖濟》）</p>
<p>治脈極虛寒，鬢髮墮落。</p>
<p>生柏葉（一兩）　附子　豬骨（各五錢）</p>
<p>上二味共為末，入豬骨為丸，入沐湯洗頭，令發不落。</p>
<p><u>傷中湯</u>　李士材　主思慮傷脾，腹痛食不化。</p>
<p>白朮　當歸　茯苓　陳皮　甘草　芍藥　香附　菖蒲　生薑（各等分）　紅棗（二枚）</p>
<p>水煎服。</p>

<h1>卷二</h1>

<h2>咳嗽</h2>
<p>肺如華蓋，司呼吸以覆臟腑。凡五臟六腑外受之邪氣，必上干於肺而為咳嗽，此咳嗽之實證也；凡五臟六腑損傷之病氣，亦上熏於肺，而為咳嗽，此咳嗽之虛證也。病源婁氏《綱目》，繁而難從。今照《景岳全書》，只以虛實分之，甚見簡括。何謂實證？外受之邪，非寒邪即熱邪也。表寒則脈浮，帶弦帶緊，頭痛身痛，或鼻塞時流清涕。輕者六安煎，重者金沸草散，及小青龍湯主之。裡寒者脈沉細，真武湯去生薑，加乾薑、五味、細辛主之。熱輕則脈洪而長，或浮數而有力，口渴面紅，溺赤而短者，瀉白散加減主之，重者竹葉石膏湯主之。寒熱往來而咳者，小柴胡湯去人參、大棗、生薑，加五味、乾薑主之。</p>
<p><u>六安煎方</u>（見《三字經》）</p>
<p><u>金沸草散</u></p>
<p>旋覆花（二錢）　荊芥　前胡　麻黃　白芍　半夏（各一錢五分）　甘草（一錢）</p>
<p>加生薑五片，水煎服。（《活人方》有茯苓、細辛，無麻黃、白芍）</p>
<p>何謂虛證？咳嗽為癆傷之漸，非氣虛即精虛也。氣虛者，羸瘦怠倦，少食痰多，言微，脈微細，六君子湯、補中益氣湯、歸脾湯主之。如乾薑、五味、細辛、阿膠、半夏、二冬、二母、紫菀之類，隨宜加入。精虛者，面色黯，口燥舌乾，乾咳痰稀氣喘，腰膝痠痛，或面色浮紅，晝輕夜重，脈浮數而虛。右尺脈弱者，八味丸；左尺脈弱者，六味丸。二方俱宜加入麥冬、五味、阿膠、胡桃之類，為標本同治之法。大抵氣虛證是得之勞役飢飽過度，及思慮傷脾所致。氣不化精，陽病必及於陰，精虛證是得之色欲過度，或先天不足。少年陽痿之人，精不化氣，陰病必及於陽。</p>
<p>感春溫之氣而咳嗽，宜加玉竹；感夏令暑氣而咳嗽，宜加石膏、麥冬、五味之類；感秋令燥金之氣而咳嗽，用喻嘉言清燥湯，神效；感冬寒之氣而咳嗽，無汗宜金沸草散，有汗宜桂枝湯，加厚朴一錢五分、杏仁二錢、半夏一錢五分。又三焦虛嗽，宜溫肺湯；中焦虛嗽，宜六君子湯，加乾薑、細辛、五味子；下焦虛嗽，宜七味丸加五味；三焦俱虛，宜三才湯。</p>
<p><u>喻嘉言清燥救肺湯</u></p>
<p>治憤郁喘嘔，郁痰加川貝母。</p>
<p><u>三才湯</u></p>
<p>天冬（二錢）　熟地（三錢）　人參（一錢）</p>
<p>水煎服。</p>
<p>補中益氣湯　歸脾湯　六君子湯　六味丸　八味丸（各見《時方》）</p>
<p><u>溫肺湯</u></p>
<p>陳皮　半夏　酒芍　乾薑　炙草（各一錢）　杏仁（去皮尖）　肉桂（或用桂枝）　五味　細辛（各五分）</p>
<p>水煎服。（《仁齋方》有阿膠，無芍藥）</p>

<h3>脈法</h3>
<p>浮緊屬寒，浮緩屬風，浮數屬熱，浮細屬濕，浮澀屬房勞，浮滑屬痰。浮大者生，沉小者危。弦疾者胃氣敗。</p>

<h3>採《聖濟》五臟諸咳嗽</h3>
<p>論云：《內經》謂肺咳之狀，咳而喘息有音，甚則吐血；心咳之狀，咳而心痛，喉中介介如梗狀，甚則咽痛喉痹；肝咳之狀，咳而兩脅下痛，甚則不可以轉，轉則兩胠下滿；脾咳之狀，咳而右脅下痛，隱隱引肩背，甚則不可以動，動則咳劇；腎咳之狀，咳則腰背相引而痛，甚則咳涎。五臟之咳，久而不已，乃傳六腑；六腑之咳，《內經》論之詳矣。</p>
<p><u>杏子湯</u>（《聖濟》）</p>
<p>治咳嗽晝減夜增，不得眠，食即吐逆。</p>
<p>杏仁（去皮尖）　半夏　桑白皮　白蒺藜　百合　麻黃（去根節）　柴胡　白石脂　款冬花　枳殼　肉桂（去粗皮）　紫菀　旋覆花　川貝母（以上各五分）　糯米（三錢）　生薑（二片）　水煎服。</p>
<p><u>蛤蚧丸</u>（《聖濟》）</p>
<p>治久咳嗽喘急。</p>
<p>蛤蚧（一對，酥炙）　半夏　杏仁（去皮尖　研，各一兩）　栝蔞（大者二枚　去子　取肉　蒸　餅）　阿膠（蛤粉炒）　人參（各五錢）　青皮（去白，二錢五分）　乾薑（湯泡，二兩）</p>
<p>上共為細末，煉蜜和丸，如小豆大，空心米湯送下二十丸。</p>
<p><u>五靈脂湯</u>（《聖濟》）</p>
<p>治肺咳及諸咳。</p>
<p>五靈脂　馬兜鈴（各一錢）　人參　五味　炙甘草　桑白皮　陳皮　杏仁（去皮尖，各五錢）　生薑（二片）</p>
<p>水煎空心溫服。</p>
<p><u>人參桔梗散</u>（《聖濟》）</p>
<p>治心咳嗽，咽喉腫痛。</p>
<p>人參（五分）　桔梗（二錢）　茯苓　牛蒡子（炒，各一錢五分）　炙甘草（七分）</p>
<p>共為末，薑湯空心下（二錢，日三。）</p>
<p><u>木乳散</u>（《聖濟》）</p>
<p>治肝咳嗽，兩脅下滿。</p>
<p>木乳（即皂莢樹根皮，酥炙，三兩）　杏仁（去皮尖，研）　貝母（去心，各三兩）　炙甘草（一兩）</p>
<p>共為細末。姜橘湯送下二錢。</p>
<p><u>半夏陳皮湯</u>（《聖濟》）</p>
<p>治脾咳嗽。</p>
<p>半夏　陳皮　杏仁（去皮尖）　赤茯苓　柴胡　麻黃（去根節各一錢）　甘草（五分）　生薑（一片）</p>
<p>水煎，空心溫服。</p>
<p><u>四味散</u>（《聖濟》）</p>
<p>治腎咳嗽。</p>
<p>補骨脂（炙）　牽牛子（半生半炒）　杏仁（去皮尖，各一兩）　郁李仁（五錢）　共研末。茶送下二錢。</p>
<p><u>黃耆散</u>（《聖濟》）</p>
<p>治大腸咳嗽。</p>
<p>黃耆　人參　白茯苓　桑白皮（各一錢）　甘草（三錢）</p>
<p>上為細末。滾湯下三錢。</p>
<p><u>鹿角膠湯</u>（《聖濟》）</p>
<p>治大腸咳嗽。</p>
<p>鹿角膠　杏仁（去皮尖）　甘草　半夏（薑汁炒）　麻黃（去根節，各一錢）　生薑（三片）　水煎，空心溫服。</p>

<h2>痰飲</h2>
<p>王節齋曰：痰之本，水也，原於腎。痰之動，濕也，主於脾，余又從而續之曰：「痰之成，氣也，貯於肺。（俗云：治痰先治氣，謂調其肺氣，使之清肅下行也。又云：脾為生痰之源，肺為貯痰之器。）此六語，堪為痰病之綱領。大抵脾肺分其虛實，腎臟辨其水火。肺實者，肺有邪也。若非寒邪，即火邪。寒邪，六安煎、小青龍湯。火邪，清肺飲、清燥救肺湯治之。肺虛者，本臟自虛，治節不行，而痰聚之。或從脾以治之，為扶土生金之法。或從腎以治之，為補子救母之法。蓋肺，天也，脾，地也，地氣上升，則天氣下降。肺，天也，腎，水也，天體不連地而連水。《內經》云：其本在腎，其末在肺，以明水天一氣也。脾土太過，氣滯鬱熱而生痰，宜王節齋化痰丸主之。脾土不及，氣虛不運，食少化遲而生痰者，宜六君子湯、理中湯加半夏、茯苓、枳實主之。腎具水火，趙養葵曰：非水泛為痰，則水沸為痰，但當分有火無火之異耳。腎虛不能制水，則水不歸源，上氾濫為痰，是無火也，故用八味丸以補腎火。陰虛火動，則水沸騰，動於腎者，猶龍火之出於海，龍興而水附；動於肝者，猶雷火之出於地，疾風暴雨，水隨波湧而為痰，是有火也，故用六味丸補水以配火，此不治痰之標，而治痰之本也。然則有火之痰，與無火之痰，何以辨之，曰：無火者，純是清水，有火者，中有重濁白沫為別耳。</p>
<p>長孫男心典按：痰起於腎，而動於脾，聚於肺，分之則有上中下之殊，合之則一以貫之也。痰者，水也，治腎是使水歸其壑，治脾是築以防堤，治肺是導水必自高源也。</p>
<p><u>化痰丸</u>（方見《三字經》）</p>
<p>王節齋曰：古人用二陳湯為治痰通用，所以實脾燥濕，治其標也，然以之治濕痰、寒痰、痰飲、痰涎，則固是矣。若夫痰因火上，肺氣不清，咳嗽時作，及老痰鬱痰，結成黏塊，凝滯喉間，吐咯難出。此等之痰，皆因火邪炎上，熏於上焦，肺氣被郁，故其津液之隨氣而升者，為火熏蒸，凝濁鬱結而成，歲月積久，根深蒂固，故名老名郁。此方開其鬱，降其火，清潤肺金，而消凝結之痰，緩以治之。</p>
<p><u>六味丸</u>　<u>八味丸</u>　<u>六君子湯</u>　<u>補中益氣湯</u>（各見《時方》）</p>
<p><u>理中丸</u>（方見《傷寒》）</p>
<p><u>清肺飲</u></p>
<p>貝母（去心）　桔梗　橘紅　茯苓　甘草　桑白皮　杏仁</p>
<p>水煎服。</p>
<p>仲景云：其人素盛今瘦，水走腸間，瀝瀝有聲，謂之痰飲，飲後水流在脅下，咳唾引痛，謂之懸飲。飲水流行，歸於四肢，當汗出而不汗出，身體疼重，謂之溢飲。咳逆倚息，氣短不得臥，其形如腫，謂之支飲。（後人不明四飲之義，加留飲為五飲，不知留飲即痰飲也。）</p>
<p>次男元犀按：仲景《金匱要略》，分辨詳盡，方治神奇，學者宜細心體認。今為初學立法，難以語上，不得不俯以從時，而尋其簡要，只四字可以蔽其義，曰：微甚虛實。微甚者，以病勢而言；虛實者，以病人之身體而言也。飲之微者，小青龍驅之於外，真武湯鎮之於內，再以倍術丸以燥之，五苓散以利之，桂苓朮甘湯以化之，可以收功矣。飲之甚者，邪伏於背俞高處，內與中氣相通，外與表氣相接，故邪動即大隊俱起，勢如伏兵，此當表裡並治，宜小青龍湯，又木防己去石膏加芒硝茯苓湯治之。又當上下分治，喘不能息，氣閉上也。宜葶藶大棗瀉肺湯主之。腹滿腸間有水，氣閉於下也，宜防己椒目葶藶大黃丸主之。如飲甚內痛，必用十棗湯之峻，方可搗其巢穴，此治飲之大略也。又當察其人之虛實，以為用藥輕重緩急之准。</p>
<p>葉天士曰：飲為陰邪，非離照當空，氛霧焉能退避。若以地黃、五味陰藥，附和其陰，則陰霾沖逆肆空，飲邪滔天莫制，宜附子、人參、茯苓、大棗配生薑汁，除陰維陽為妙。</p>
<p>次孫男心蘭按：葉天士此論，為飲症之虛者而言。</p>
<p>又仲師云：微飲氣短，苓桂朮甘湯主之，腎氣丸亦主之。此二句可為治虛飲之法。</p>
<p>仲景治痰飲咳嗽諸方，列喘症門，宜細心研究。</p>
<p><u>倍術丸</u></p>
<p>白朮（炒二兩）　桂心　乾薑（炒，各一兩）</p>
<p>蜜丸桐子大，每服二十丸，米飲下，加至三十五丸，食前服。</p>
<p><u>小青龍湯</u>　<u>五苓散</u>（方各見《傷寒》）</p>
<p><u>木防己湯</u>（方見《金匱》）</p>
<p>開三焦水結，通上中下之氣屬虛者。</p>
<p><u>木防己去石膏加茯苓芒硝湯</u></p>
<p>水邪實結，愈而復發。</p>
<p><u>防己椒目葶藶大黃丸</u></p>
<p>腹滿口舌乾燥，腸間有水氣。</p>
<p>程氏曰：防己、椒目導飲於前，清者從小便而出，大黃、葶藶推飲於後，濁者從大便而下，此前後分消，則腹滿減而水飲行，脾氣轉而津液生矣。</p>
<p><u>腎氣丸</u></p>
<p><u>苓桂朮甘湯</u></p>
<p>治胸脅支滿目眩，並治飲邪阻滯心肺之陽，令呼氣短。</p>
<p><u>甘遂半夏湯</u></p>
<p>治飲邪流連不去，心下堅滿。</p>
<p>程氏曰：留者行之，用甘遂以決水飲，結者散之，用半夏散痰飲，甘遂之性直達，恐其過於行水，緩以甘草、白蜜之甘，堅以芍藥之苦，雖甘草、甘遂相反，而實以相使，此苦堅甘緩，約之之法也。《靈樞經》曰：約方猶約囊，斯之謂歟？</p>
<p>尤氏曰：甘草與甘遂相反，而同用之者，蓋欲其一戰而留飲盡去，因相激而相成也，白芍、白蜜不特安中。亦緩毒藥耳。</p>
<p><u>十棗湯</u></p>
<p>治懸飲內痛，亦治支飲。</p>
<p><u>大青龍湯</u></p>
<p>治溢飲之病屬經，表屬熱者，宜此涼發之。</p>
<p><u>澤瀉湯</u></p>
<p>支飲雖不中正，而迫近於心，飲邪上乘清陽之位，其人苦冒眩。冒者，昏冒而神不清，如有物冒蔽之也，眩者，目旋轉而乍見眩黑也，宜此湯主之。</p>
<p><u>厚朴大黃湯</u></p>
<p>治支飲胸滿。（支飲原不中正，飲盛則偏者，不偏故直驅之從大便出。）</p>
<p><u>葶藶大棗瀉肺湯</u></p>
<p>治支飲不得息。</p>
<p><u>小半夏湯</u>（各方見《金匱》）</p>
<p>治心下支飲，嘔而不渴。</p>
<p><u>茯苓飲</u>（《外臺》）</p>
<p>治積飲既去，而虛氣塞滿其中，不能進食，此證最多，此方最妙。</p>
<p>茯苓　人參　白朮（各一錢五分）　枳實（一錢）　橘皮（一錢二分五釐）　生薑（二錢）</p>
<p>水二杯，煎七分服，一日三服。</p>
<p><u>《三因》白散方</u>（見《三字經》）</p>
<p><u>梨藕汁膏</u></p>
<p>治痰嗽諸虛，奇驗如神。</p>
<p>梨汁　藕粉　蘿蔔汁　生薑　人乳　白糖　砂糖　童便（各四兩）</p>
<p>將八味放瓷瓶內，用炭火熬煎至一斤為止，每日空心百滾湯調下四五錢，服完即愈，能常服則精神強健，永無虛損。</p>
<p><u>款冬冰糖湯</u></p>
<p>小兒吼嗽，並大人咳嗽方。</p>
<p>款冬花（三錢）　晶糖（五錢）</p>
<p>將二味放茶壺內，泡湯當茶吃，自然漸愈。</p>
<p><u>海浮石滑石散</u></p>
<p>治小兒天哮，一切風濕燥熱，咳嗽痰喘，並治大人等症。</p>
<p>海浮石　飛滑石　杏仁（各四錢）　薄荷（二錢）</p>
<p>上為極細末，每服二錢，用百部煎湯調下。</p>
<p><u>人參冬梨方</u></p>
<p>治痰火骨蒸，吐血，不足之證，重十服八服即愈。</p>
<p>人參　天冬　麥冬（各一錢五分）　茯苓（五分）　杏仁（二枚，去皮尖）　紅棗（二枚，去核）　蓮子（六枚，去皮心）　人乳（二匙）　白蜜（三匙）　大甜梨（一個，削刀挖去心）</p>
<p>將前藥制碎，納梨內，仍以梨蓋蓋之，用綿紙封固，飯上蒸熟，日間吃其藥，臨臥吃此梨。</p>
<p><u>青黛蛤粉丸</u></p>
<p>治咳嗽吐痰，面鼻發紅者，一服即愈，其效如神。</p>
<p>青黛（水飛極細，曬乾，再研，用三四錢）　蛤粉（三錢）</p>
<p>二味煉蜜為丸，如指頭大，臨臥口噙三丸。</p>
<p><u>枇杷蜜湯</u></p>
<p>治痰火。</p>
<p>用枇杷五十葉，去毛，水五十杯，煎至五六杯，再重湯燉至三四杯，每藥三茶匙，冬蜜一茶匙調下。</p>
<p><u>薑糖湯</u>（各方見《種福堂》）</p>
<p>治老人上氣喘嗽，不得臥。</p>
<p>生薑汁（五兩）　黑砂糖（四兩）</p>
<p>用水煎二十沸，時服半匙，漸漸咽之。</p>
<p><u>五味子湯</u></p>
<p>治傷燥，咳唾中有血，牽引胸脅痛，皮膚乾枯。</p>
<p>五味子（五分，研）　桔梗　甘草　紫菀茸　竹茹　桑根皮　續斷（各一錢）　生地（二錢）　赤小豆（一撮）</p>
<p>上九味，水煎空心服，《秘旨》加白蜜一匙。</p>
<p>長孫男心典按：赤豆易生扁豆五錢，囫圇不研，最能退熱補肺，但有寒熱往來忌之。去續斷、赤豆、地黃，加葳蕤、門冬、乾薑、細辛，亦妙。</p>
<p><u>麥門冬湯</u>（各見《千金》）</p>
<p>治大病後，火熱乘肺，咳唾有血，胸膈脹滿上氣，羸瘦，五心煩熱，渴而便秘。</p>
<p>麥冬（二錢，去心）　桔梗　桑根皮　半夏　生地　紫菀茸　竹茹（各一錢）　麻黃（七分，去根節）　甘草（五分，炙）　五味子（十粒，研）　生薑（一片）</p>
<p>上十一味，水煎，空心服。</p>

<h2>喘促</h2>
<p>喘症最重而難醫。吾觀庸醫凡遇喘症，必投蘇子降氣湯一二劑；不愈，即用貞元飲治之；不愈，即加沉香、黑鉛、磁石、牛膝之類。曰：吾遵景岳法施治，無如其病深弗效也。斯說也，倡之於某老醫，今已傳為成矩，誠可痛恨。余即以景岳之說正之。景岳曰：喘有虛實。實者胸脹氣粗，聲高息湧，膨膨然若不能容，惟呼出為快也。論中未嘗不以風寒燥火怒氣痰飲分別而治之。又曰：虛喘者，慌張氣怯，聲低息短，皇皇然若氣欲斷，提之若不能升，吞之若不能降，勞動則甚，但得引長一息為快也。論中未嘗不以老弱久病，脾肺腎臟大虛，及血後汗後、婦人產後等症，臚列而分治之。其中不無語病者，蓋未研究《傷寒論》、《金匱》之旨，而徒涉獵醫書，無怪其有膚淺處、有似是而非處也。余俯從時好，即景岳虛實兩語，而參以古法，羅列經方及妥當時方，以為臨症擇用。</p>

<h3>實喘方</h3>
<p><u>越婢加半夏湯</u></p>
<p>咳而上氣，此為肺脹，其人喘，目如脫，脈浮大者。</p>
<p><u>小青龍湯</u></p>
<p>肺脹咳而上氣，心下有水氣，脈浮者。</p>
<p><u>桂苓五味甘草湯</u></p>
<p>小青龍湯雖治寒飲咳嗽上氣之良方，而下虛之人，不堪發散，動其沖氣，急用桂苓伐腎邪，五味斂肺氣，以輯其火，甘草調中氣，以制其水。</p>
<p><u>桂苓五味甘草加姜辛湯</u>（方各見《金匱》）</p>
<p>既藉桂苓之方，下其沖氣，而反更咳胸滿者，是寒邪貯胸，雖用桂而邪不服，嫌其偏於走表而去之。加乾薑、細辛，取其大辛大熱，以驅寒泄滿也。</p>
<p>《金匱》法，前症兼冒而嘔者，加半夏以驅飲，名桂苓五味甘草去桂加乾薑細辛半夏湯；前症兼形腫者，是肺氣滯而為腫，加杏仁利之，名苓甘五味加姜辛半夏杏仁湯；前症又兼面熱如醉，此為胃熱上衝其面，加大黃三錢以利之。（脈氣不利，滯於外而形腫，滯於內而胃熱，既以杏仁利其胸中之氣，復以大黃利其胃中之熱。）名苓甘五味加姜辛半夏大黃湯。</p>
<p>徐忠可曰：仲景數方，俱不去薑、辛，即面熱亦不去薑、辛，何也？蓋以薑、辛最能泄滿止咳，凡飲邪未去，須以此二味刻刻預防也。</p>
<p><u>桂枝加厚朴杏仁湯</u>（方見《傷寒》）</p>
<p>喘家主之，太陽病下之，微喘，以此解表。</p>
<p><u>射干麻黃湯</u></p>
<p>咳而上氣，喉中作水雞聲者。</p>
<p><u>皂莢丸</u></p>
<p>咳逆上氣，時時唾濁，但坐不得眠。（稠痰黏肺，非此方不能清滌稠痰矣）</p>
<p><u>葶藶大棗瀉肺湯</u></p>
<p>肺因支飲滿而氣悶，氣閉則呼吸不能自如，此方苦降以泄實邪。</p>
<p><u>十棗湯</u></p>
<p>支飲家咳煩，胸中痛者。</p>
<p>喻嘉言曰：五飲之中，獨膈上支飲，最為咳嗽根底。外邪入而合之固嗽，即無外邪而支飲漬入肺中，自令人咳嗽不已。況支飲久蓄膈上，其下焦之氣逆沖而上者，尤易上下合邪也。夫以支飲之故，而令外邪可內，下邪可上，不去支飲，其咳嗽終無寧宇矣。</p>
<p><u>麥冬湯</u>（方各見《金匱》）</p>
<p>火逆上氣，咽喉不利，止逆下氣，此方主之。</p>
<p><u>瀉白散</u></p>
<p>治肺火喘嗽。</p>
<p><u>四磨飲</u></p>
<p>治七情氣逆而為咳，並治一切實喘。</p>
<p><u>蘇子降氣湯</u>　（方各見《時方》）</p>
<p>治痰嗽脹滿喘促，上盛下虛。</p>
<p><u>紫蘇湯</u>（《聖濟》）</p>
<p>治卒氣短。</p>
<p>紫蘇（四錢）　陳皮（一錢）　紅棗（二枚）</p>
<p>水酒煎服。</p>

<h3>虛喘方</h3>
<p><u>加味六君子湯</u></p>
<p>治肺脾虛寒，痰嗽氣喘。</p>
<p>人參　白朮（炒）　茯苓　半夏（各二錢）　陳皮　甘草（炙）　乾薑（各一錢）　細辛（八分）　五味（七分）</p>
<p>水煎服。</p>
<p><u>參附湯</u></p>
<p>治元氣虛脫，手足逆冷，汗出不止，氣短欲絕。</p>
<p>愚按：此上中下俱脫之症。若中焦脾氣脫者，以白朮一兩代人參，名朮附湯；上焦肺氣脫者，以炙黃耆一兩代人參，名耆附湯，但黃耆輕浮，必加麥冬三錢，五味一錢以納之；下焦腎氣脫者，以熟地黃一兩代人參。但熟地性滯，非痰所宜，且功緩，非急症所倚，須加茯苓四錢導之，方為穩當。觀仲景茯苓甘草湯、茯苓桂枝白朮甘草湯、真武湯三方，皆以茯苓為君，皆治汗出不止。蓋以汗之大泄，必引腎水上泛，非茯苓不能鎮之。此以平淡之藥，用為救逆之品，仲景之法，所以神妙也。</p>
<p><u>黑錫丹</u></p>
<p>治脾胃虛冷，上實下虛，奔豚，五種水氣，中風痰潮危症。</p>
<p>喻嘉言曰：凡遇陰火逆沖，真陽暴脫，氣喘痰鳴之急證，舍此再無他法之可施。予每用小囊佩帶隨身，恐遇急症不及取藥，且欲吾身元氣溫養其藥，藉手效靈，厥功歷歷可紀。</p>
<p>徐靈胎曰：鎮納元氣，為治喘必備之藥，當蓄在平時，非一時所能驟合也。</p>
<p><u>六味丸</u>（方各見《時方》）</p>
<p>治腎陰虛不能納氣者，加麥冬五錢、五味一錢。</p>
<p><u>腎氣丸</u>（方見《金匱》）</p>
<p>治腎陽虛不能納氣。</p>
<p><u>全真一氣湯</u>（《馮氏錦囊》）</p>
<p>治上焦虛熱，下焦虛冷，此方清肅在上，填實在下之法。</p>
<p>熟地（一兩）　人參（一二三錢或一兩另燉調復）　麥冬　牛膝（各二錢）　冬白朮（炒，三錢）　五味（七分）　附子（一錢，須重用）</p>
<p>水煎服。</p>
<p><u>枸杞湯</u>（方見《時方》）</p>
<p>治氣短。</p>
<p><u>貞元飲</u>（見《三字經》）</p>
<p>余推景岳制方之意，以氣為陽，血為陰。大汗亡血，產後及熱病之後，血虛則氣無附麗。孤陽無主，時見喘促，故以此飲濟之緩之。其要旨在「濟之緩之」四字，今人順口讀過，便致許多誤事。蓋陰血枯竭，最喜熟地之濡潤以濟之，猶恐濟之不及濟，故加當歸以助其濟之之力；呼吸氣促，最宜甘草之大甘以緩之，猶恐緩之不能緩，故用至二三錢，以成其緩之之功。</p>
<p>熟地（三五錢至一兩）　當歸　炙草（各二三錢）</p>
<p>水煎服。</p>
<p>長孫男心典按：氣為夫，血為妻。無妻夫必蕩，自然之勢也。此方補血為主，使氣有歸附，漸漸而平，緩劑也。今人於真陽暴脫、氣喘痰湧危症，不知議用附子湯、真武湯及黑錫丹等藥，而以貞元飲投之，則陰霾沖天，痰涎如湧，頃刻死矣。</p>
<p>此方入經，不能入腎，不可不知。</p>
<p><u>真武湯</u></p>
<p>治水氣咳嘔，小便不利，四肢腫，腹痛。</p>
<p>次男元犀按：以上治喘等方，多主水飲。因仲景云「短氣皆屬飲」一語，悟出無數方法，藥到病瘳，指不勝屈。方知取法貴上也。</p>
<p>真武為北方水神。以之名湯者，藉以鎮水也。附子辛熱，壯腎之元陽，則水有所主；白朮之溫燥建中土，則水有所制；附子得生薑之辛散，於補水中寓散水之意；白朮合茯苓之淡滲，於制水中寓利水之道；尤妙在芍藥之苦降，以收真陽之上越。蓋芍藥為春花之殿，交夏而枯，借其性味，亟令陽氣歸根於陰也。</p>
<p><u>附子湯</u>（方各見《傷寒》）</p>
<p>此方即真武湯，去生薑加人參，其補陽鎮陰。分歧只一味與分兩略殊。學者讀古人書，必於此處究心，方能受益。</p>
<p>《金匱》云：氣短有微飲，當從小便去之，苓桂甘術湯主之，腎氣丸亦主之。</p>
<p>喻嘉言曰：飲邪阻礙呼吸，故氣短。但呼吸幾微之介，不可辨。若呼之氣短，是心肺之陽有礙，宜苓桂朮甘湯以通其陽，陽氣通，則膀胱之氣竅利矣；若吸之氣短，是肝腎之陰有礙，宜腎氣丸以通其陰，陰通則少陰之關開矣。</p>
<p>按：氣短分及呼吸，其旨微矣。</p>

<h3>脈息</h3>
<p>宜浮滑，忌短澀。</p>
<p>景岳曰：微弱細澀者，陰中之陽虛也；浮大弦芤，按之全虛者，陽中之陰虛也。微弱者順而易醫，浮空者險而難治。</p>

<h2>哮症</h2>
<p>《聖濟總錄》曰：呷嗽者，咳而胸中多痰，結於喉間，與氣相系，隨其呼吸，呀呷有聲，故名呷嗽。宜調順肺經，仍加消痰破飲之劑。</p>
<p>次男元犀按：痰飲咳嗽喘證，俱宜參看。</p>
<p><u>射干丸</u>　（方見前用）</p>
<p>治久呷嗽，喉中作聲，發即偃臥不得。</p>
<p><u>杏仁丸</u>（《聖濟》）</p>
<p>治呷嗽有聲。</p>
<p>杏仁（去皮尖，炒）　甘草（炙，各一兩）　大黃（蒸）　牙硝（熬，各五錢）</p>
<p>共為末，煉蜜丸如桐子大，空心薑湯送下二十丸。</p>
<p><u>紫菀杏仁煎</u>（《聖濟》）</p>
<p>治肺臟氣積，呷嗽不止，因肺虛損，致勞疾相侵，或胃冷膈上熱者。</p>
<p>紫菀　酥（各二兩）　貝母　薑汁（各三兩）　大棗（去皮核，半斤）　五味　人參　茯苓　甘草　桔梗　地骨皮（洗，各一兩）　白蜜（一斤）　生地汁（六兩）</p>
<p>共末，與蜜生地汁同煎，器盛三五次，成飴煎，仰臥含化一匙，日二服。</p>

<h2>驚悸</h2>
<p>有所觸而動曰驚，無所觸而動曰悸，凡怔忡瞤惕，皆其類也。高鼓峰曰：此心血少也。起於腎水不足，不能上升，以致心火不能下降。大劑歸脾湯去木香，加麥冬、五味、枸杞，吞都氣丸，（楊乘六云：治怔忡大法。無逾此旨。）如怔忡而實，挾包絡一種有餘之火，兼痰者，則加生地、川貝母、黃連之類以清之。</p>
<p>胡念齋曰：雖緣心血不足，然亦有胃絡不能上通者，有脾脈不能入心者，有宗氣虛而虛里穴動者，有水氣凌心者，有奔豚上乘者，治法不甚相遠。惟水氣與奔豚，當另法治之。</p>
<p>孫男心典按：水氣凌心，輕則用小半夏加茯苓湯以泄之，重則用茯苓甘草湯安之，再重則用真武湯鎮之。奔豚用桂枝湯加桂主之，或以茯苓桂枝甘草大棗湯主之。</p>

<h3>脈息</h3>
<p>不論浮沉遲數虛實大小，最忌促結代數。</p>

<h3>方藥</h3>
<p><u>桂枝加桂湯</u>　茯苓桂枝甘草大棗湯</p>
<p>王晉三曰：腎氣奔豚，治宜泄之制之。茯苓、桂枝通陽滲泄，保心氣以御水凌。甘草、大棗補土以制水泛，甘瀾水緩中而不留，入腎而不著，不助水邪，則奔豚臍悸之勢緩。是湯即茯苓甘草湯。惡生薑性升而去之。其義深切矣。</p>
<p><u>小半夏加茯苓湯</u>（方見《金匱》）</p>
<p><u>真武湯</u>（方見《傷寒》）</p>
<p><u>都氣丸</u></p>
<p>即六味丸加五味子一兩。（見《實在易》。）</p>
<p><u>歸脾加梔子丹皮湯方</u>（見《時方》。）</p>
<p>即歸脾湯加山梔、丹皮（各一錢）。</p>

<h2>血症</h2>
<p>朱丹溪云：血隨火而升降。凡治血症，以治火為先，然實火、虛火，燈燭之火，龍雷之火，不可不辨。</p>
<p>何謂實火？外受風寒，鬱而不解，醞釀成熱，以致大吐大衄，脈浮而洪，或帶緊，宜用蘇子降氣湯，加荊芥、茜草根、降真香、玉竹之類以解散之。如風寒鬱而不解，以成內熱，或陽臟之人，素有內火，及酒客蘊熱、大吐大衄、脈洪而實、或沉而有力，宜犀角地黃湯、黃連解毒湯以涼瀉之。四生丸雖是止血通套藥，然止血之中，兼有去瘀生新之妙，所以可用。今人於此症，不敢用大苦大寒之品，而只以止血套藥，如黑梔子、白芨末、百草霜、三才湯加藕節之類。似若小心，其實姑息容奸，釀成大禍。（止血而不去瘀，則瘀血停滯，而為發熱咳嗽皮肉甲錯，成乾血勞症。仲景所以有䗪蟲、水蛭、虻蟲、大黃之治法。）蓋此症火勢燎原，車薪之火，非一杯之水所可救。芩、連、梔、柏及大黃之類，補偏救弊，正在此時。俟火勢一平，即以平補溫補之藥維之，所謂有膽由於有識也。凡此之類，俱宜釜下抽薪，而釜中之水，無沸騰之患矣。</p>
<p><u>四生丸</u></p>
<p><u>蘇子降氣湯</u></p>
<p>何謂虛火？勞役飢飽過度。東垣謂之內傷，以補中益氣湯主之。思慮傷脾，倦怠少食，肌肉瘦削，怔忡不寐，薛立齋以歸脾湯主之。東垣云：火與元氣不兩立。元氣進一分，則火退一分，所謂參、耆、甘草為瀉火之良藥是也。此症吐血咳血，必積漸而來，以至盈盆盈斗，脈必洪大，而重按指下全空，必以前湯及當歸補血湯，峻補其虛，虛回而血始止。況血脫益氣，古訓昭然。脫血盈盆盈斗，若用柔潤之藥，凝滯經絡，鮮克有濟。必以氣分大補之品，始可引其歸經，此余屢試屢驗之法也。又有脈細小而手足寒冷，腹痛便滑，此虛寒之症，《仁齋直指》所謂陽虛陰必走是也，以理中湯加木香、當歸主之。若泥於諸血屬火之說，而用涼血止血套藥，止而復來，必致不起，可不慎哉。</p>
<p><u>補中益氣湯</u></p>
<p><u>歸脾湯</u></p>
<p>次男元犀按：白芍易木香，是高鼓峰法，以建中湯得來，妙不可言。或加五味五分，麥冬二錢，血不止，加梔子、茜草各一錢。</p>
<p><u>當歸補血湯</u></p>
<p>以上三方，宜因症加減。如血不止，外以白芨三錢、藕節三錢。研末，以藥汁送下三錢即止。蓋凡藥必由胃而傳化諸經，而此散能直入肺竅而止血也。或另用童便送下四錢亦妙。</p>
<p>何謂燈燭之火？人身陰陽，曰水曰火，水火之宅，俱在兩腎之中。如先天不足，腎水素虛，又兼色欲過度，以竭其精，水衰則火亢，必為咳嗽、吐血、咳血等症。其脈浮虛而數、或澀而芤。外症乾咳骨蒸，口舌生瘡，小便赤短。如燈燭之火，油盡而自焚。治之之法，忌用辛熱，固不待言。即苦寒之品，亦須切戒。蓋以腎居至陰之地，若用寒涼，則孤陰不生。而過苦之味，久而化火，俱非陰虛症所宜也。須用甘潤至靜之品，補陰配陽。趙養葵云：燈燭之火，雜一滴水則滅。（指苦寒之物。）惟以六味丸養之以膏油。余每於水虛火亢之重症，用大補陰丸，多收奇效。</p>
<p><u>大補陰丸</u>（方各見《時方》）</p>
<p>此方滋陰降火，能治六味丸所不能治之症。勿以知柏之苦寒而疑之也，余向亦不能無疑，後讀《名醫方論》，極有發揮，遂信用之。</p>
<p>何謂龍雷之火？腎中相火不安其位，以致煩熱不寧，舌燥口渴，為吐血、咳血、衄血等症。其脈兩寸洪大，過於兩關。兩關洪大，過於兩尺，浮按洪大，重按濡弱如無。宜用景岳鎮陰煎、馮氏全真一氣湯、七味丸、八味丸主之。蓋龍雷之火，得雨而愈熾，惟桂附辛熱之藥，可以引之歸原，所謂同氣相求是也。</p>
<p><u>鎮陰煎</u>（《景岳》）</p>
<p>治陰虛於下，格陽於上，則真陽失守，血隨而溢，以致大吐大衄，六脈細脫，手足厥冷，危在頃刻。</p>
<p>熟地（一二兩）　牛膝　澤瀉（各二錢）　附子　肉桂　炙草（各一錢）</p>
<p>水煎，溫服。如熱甚喉痹，以水浸冷服。此方使孤陽有歸，則血自安。</p>
<p><u>八味丸</u>（方見《時方》）</p>
<p>去附子名七味丸。</p>
<p><u>全真一氣湯</u>（馮氏）</p>
<p>滋陰降火之神方。</p>
<p>熟地（一兩）　冬白朮（人乳拌，蒸曬，二三錢）　麥冬（三錢）　附子（一錢）　牛膝（二錢）　五味（八分）　人參（二、三錢或七八錢，用開水別燉調入）　水煎服。</p>
<p>咳血、唾血、吐血，方書分別肺胃等症，何庸陋之甚也。凡吐血、衄血、下血，一切血症，俱不必瑣分。惟認其大綱，則操縱自如。</p>
<p>下血之方甚多。火盛者，以苦參子九粒，或十四粒，去殼取仁、勿破，以龍眼肉包好，開水送下甚效。又於血症諸方中，擇其應用者，再加槐花、地榆各三錢、黃芩一錢為使。</p>
<p>下血症屬火固多，而虛寒亦復不少。宜以景岳壽脾煎，或聖朮煎加黑姜服之。又常服黑地黃丸甚妙。</p>
<p>仲景以先便後血為遠血，用黃土湯。先血後便為近血，用赤小豆當歸散，神驗。</p>
<p><u>黃土湯</u></p>
<p>治下血，並治吐血衄血如神。</p>
<p><u>赤小豆散</u>（方各見《金匱》）</p>
<p>治下血，先血後便為近血。</p>
<p>又婦人血崩方，不外惜紅煎加減。如未效，即宜大溫大補，黃耆、白朮可用二、三兩，附子可用至三五錢，方效。（惜紅煎見婦人門。）</p>
<p>又男婦尿血，（不痛為尿血，痛為血淋。）以六味湯加血餘灰一兩，煎好，入生藕汁服。亦有氣虛者，當歸補血湯為主。挾熱者，加竹葉、梔子主之。挾寒者，加附子主之。</p>

<h3>脈息</h3>
<p>失血脈芤，或兼澀象。轉緊轉危，漸緩漸愈。虛微細小，元氣不支。數大浮洪，真陰不足。雙弦緊疾，死期可決。</p>

<h3>喻嘉言龍雷之火論</h3>
<p>龍雷之火，潛伏陰中，方其未動，不知為火也。及其一發，暴不可御，以故載血而上溢。蓋龍雷之性，必陰雲四合，然後遂其升騰之勢。若天清日朗，則退藏不動矣。故凡涼血清火之藥，皆以水制火之常法，施之於陰火，未有不轉助其虐者也。吾為大開其局，則以健脾中之陽氣為一義。健脾之陽，一舉有三善也：一者，脾中之陽氣旺，如天清日朗，而龍雷潛伏也。一者，脾中之陽氣旺，而胸中窒塞之陰氣，則如太空不留纖翳也。一者，脾中之陽氣旺，而飲食運化精微，復生其已竭之血也。況乎地氣必先蒸土為濕，然後上升為云。若土燥而不濕，地氣於中隔絕矣，天氣不常清乎。古方治龍雷之火，每用桂附引火歸元之法。然施之於暴血之症，可暫不可常。蓋已虧之血，不能制其悍，而未生之血，恐不可滋之擾耳。究而論之，龍雷之火，全以收藏為主，以秋冬則龍雷潛伏也。用收藏藥不效，略用燥烈為響導，以示同氣相求之義則可。既已收藏，豈敢漫用燥烈乎？夫大病須用大藥，大藥者，天地春夏，而吾心寂然秋冬是也。昔人逃禪二字甚妙，夫禪而名之曰逃，其心境為何如哉。學者若此症，必以崇土為先，土厚則濁陰不升，而血患自息，萬物以土為根，元氣以土為宅，不可不亟講矣。</p>
<p><u>荸薺酒飲</u></p>
<p>治大便下血。　</p>
<p>荸薺搗汁半盅，將好酒半盅衝入，空心溫服。</p>
<p><u>旱蓮丸</u></p>
<p>治大便下血虛弱者。</p>
<p>旱蓮草陰乾為末，以槐花煎湯，調炒米粉糊丸如桐子大，每日服五錢，以人參五分煎湯下，二服即愈。</p>
<p><u>牛膝酒煎</u></p>
<p>治男子莖中痛，及婦人血結少腹痛。</p>
<p>牛膝一大握；酒煮飲之。</p>
<p><u>旱蓮車前汁各方</u>（見《種福堂》）</p>
<p>治小便下血。</p>
<p>旱蓮草　車前子（各等分）</p>
<p>將二味搗自然汁，每日空心服一杯。</p>
<p><u>桂扁豬臟飲</u>（《種福堂》）</p>
<p>治大便下血，日夜數次，歷年久病，服之立愈。</p>
<p>雄豬臟一條，洗淨，桂圓肉二兩，鮮白扁豆花四兩。</p>
<p>將二味搗爛，用白糯米拌和，裝入豬臟內，兩頭扎住，砂鍋內燉爛。忌見鐵器。然後將人中白炙脆，研末蘸吃，用醬油蘸吃亦可。不論吃粥吃飯，空心皆可吃，吃四五條即愈。</p>
<p><u>甘草青鹽丸</u></p>
<p>治大便下血。</p>
<p>甘草（一斤）　青鹽（四兩）</p>
<p>將甘草研細末，用滾水衝入青鹽，將青鹽水煉甘草末為丸，如桐子大，早晚服之，無不見效。</p>
<p><u>甘草乾薑湯</u></p>
<p><u>理中湯</u>（方各見《傷寒》。）</p>
<p>加木香、當歸各等分。</p>
<p><u>瀉白散</u>（方見《時方》）</p>

<h1>卷三</h1>

<h2>遺精</h2>
<p>夢而遺者，相火之強也，宜用龍膽瀉肝湯，送下五倍子丸二錢。《經》云：厥氣客於陰器，則夢接內。蓋肝主疏泄，相火鼓之，則腎雖有閉藏之權，亦拱手授之矣。不夢而遺者，心腎之虛也，以六味丸為主，煎補中益氣湯送下，以升提之。或用心過度，心不能主令，而相火用事者，亦前丸為主，而兼用歸脾湯。有命門火衰，元精脫陷，玉關不閉者，急用八味丸以壯陽氣，使之涵乎陰精而不泄。此趙氏之法，本其師薛氏，實中庸之道也。至於景岳秘元煎、固陰煎，苓朮菟絲煎，皆見症治症之方，閩中多有此陋習。</p>
<p>張景岳云：精之藏制雖在腎，而精之主宰則在心。凡少年多欲之人，或心有妄想，外有妄遇，以致君火搖於上，相火熾於下，則水不藏而精隨以泄。</p>

<h3>診法</h3>
<p>《訣》云：遺精白濁，當驗之尺，結芤動緊，二症之的。</p>
<p>《正傳》云：兩尺洪數，必便濁遺精。</p>
<p><u>龍膽瀉肝湯</u>（方見《時方》）</p>
<p>治脅痛，口苦耳聾，筋痿陰濕，熱癢陰腫，白濁溲血。今借治夢泄，以肝實而火盛也。</p>
<p>大苦大寒，不宜常服，加味逍遙散可以代之。</p>
<p><u>五倍子丸</u></p>
<p>治遺精甚效。</p>
<p>五倍子（青鹽煮，曬，焙）　茯苓（各二兩）</p>
<p>蜜丸桐子大。每服二錢，日二服，空心鹽湯送下，或以藥汁送下。</p>
<p>又按：有夢而泄者，於補腎攝精方加蓮子心一錢，生棗仁二錢，所以治其妄夢也，多效。又多夢者，神之亂也。龍為天地之神，故龍骨最能補神而治妄夢。合之牡蠣之鹹寒，便能引火歸原。《金匱》桂枝龍骨牡蠣湯最為神妙，蓮鬚為標藥中之神品。</p>
<p><u>桂枝龍骨牡蠣湯</u>（方見《金匱》。）</p>
<p>治男子失精，女子夢交。（夢交，夢與男交合也。）</p>
<p>按：虛羸浮熱汗出者，除桂加白薇一錢、附子五分，名曰二加龍骨湯。（方見《時方》）。</p>
<p><u>秘元煎</u>（景岳）</p>
<p>主治心脾。</p>
<p>遠志（八分）　山藥　芡實　棗仁（炒，各二錢）　白朮（炒）　茯苓（各一錢五分）　炙草（一錢）　人參（一二錢）　五味（十四粒）　金櫻子（去核，二錢）</p>
<p>水煎服。有火覺熱者，加苦參一、二錢。氣大虛者，加黃耆二三錢。</p>
<p><u>固陰煎</u></p>
<p>主治肝腎。</p>
<p>人參（隨宜）　熟地（三五錢）　山茱萸（一錢五分）　遠志（七分）　山藥（炒，二錢）　菟絲子（炒香，三錢）　五味（十四粒）　炙草（一二錢）</p>
<p>水煎服。或加金櫻子三錢。</p>
<p><u>苓朮菟絲子煎</u></p>
<p>主治脾腎。</p>
<p>茯苓　白朮（米泔洗，炒）　蓮子肉（各四兩）　五味（酒蒸）　山藥（炒另研，各二兩）　杜仲（酒炒，三兩）　炙草（五錢）　菟絲子（制，十兩）</p>
<p>共研細末。用陳酒糊丸，桐子大。空心滾湯下百餘丸。氣虛不攝精，加人參四兩。</p>
<p>張石頑曰：夢遺為肝熱膽寒，以肝熱則火淫於外，魂不內守，故多淫夢失精。或時心悸，肥人多此。宜清肝，不必補腎，溫膽湯加人參、茯苓、棗仁、蓮肉。又曰：夢遺多是陰虛火氣用事，苟非確係陽虛，桂、附、鹿茸等助陽之藥，慎勿輕用。非確係氣虛，參、朮、遠志輩益氣之藥，不可漫施。試觀夢遺必在黎明陽氣發動之時，其為陰虛陽擾可知矣。</p>
<p>沈芊綠雲：心藏神，肝藏魂，腎藏精。夢中所主之心，即心之神也。夢中所見之形，即肝之魂也。夢中所泄之精，即腎之精也。要之心為君，肝腎為相，未有君火動而相火不隨之者。當先治其心火，而後及其餘。宜黃連清心飲、茯苓湯加減。</p>
<p><u>黃連清心飲</u></p>
<p>黃連　生地　甘草　當歸　人參　茯神　棗仁　遠志　蓮子（各等分）</p>
<p>水煎服。</p>
<p><u>茯神湯</u></p>
<p>茯神　遠志　菖蒲　茯苓　黃連　生地　當歸　甘草　蓮子　棗仁　人參（隨時加減）</p>
<p>水煎服。</p>
<p><u>文蛤津臍膏</u></p>
<p>治遺精。</p>
<p>文蛤（研細末），以小兒津調貼臍內，立止。</p>
<p><u>思仙丹</u>（各見《種福堂》）</p>
<p>治陰虛火動夢遺神方。</p>
<p>蓮鬚　石蓮肉（去肉青翳並外皮）　芡實（各十兩，去殼）</p>
<p>上為末，再以金櫻子三斤去毛，子，水淘淨，入大鍋內水煎，濾過再煎，加飴糖和勻前藥。丸如桐子，每服七、八十丸。</p>
<p><u>封髓丹</u></p>
<p>治遺精。</p>
<p>砂仁（一兩）　黃柏（三兩）　甘草（炙，七錢）</p>
<p>上末，煉蜜丸。</p>
<p><u>四君子湯</u>（方見《時方》。）</p>
<p>原方加龍骨、牡蠣、蓮鬚。</p>
<p><u>溫膽湯</u>　即二陳湯加竹茹三錢，枳實八分。</p>

<h2>赤白濁</h2>
<p>濁者，渾濁之謂也。方書多責之腎，而余獨求之脾。蓋以脾主土，土病濕熱下注，則為濁病。濕勝於熱則為白，熱勝於濕則為赤。治之之法，不外導其濕熱，濕熱去而濁自清矣，蒼白二陳湯加黃柏、石菖蒲、萆薢主之。久患不愈，宜求之腎。以二妙地黃丸，與萆薢分清飲間服。又《內經》云：中氣虛而溺為之變，宜四君子湯、補中益氣湯加減主之。又有命門火衰，氣不攝精，致敗精為濁，宜以八味溫其命火，加菟絲子、車前子導其敗精。總之，濁出精竅，與淋出溺竅者不同。病之稍久，宜固腎不宜利水，此要旨也。（茯菟丸、水陸二仙丹之類皆固腎藥。）</p>
<p><u>蒼白二陳湯</u></p>
<p>蒼朮（鹽水炒）　白朮　茯苓　半夏（各二錢）　陳皮　甘草　黃柏（各一錢）　萆薢（三錢）　石菖蒲（八分）</p>
<p>水煎，空心服。如赤濁，加連翹一錢五分、丹參二錢、蓮子心五分；如脈弦脅痛，為肝火，加龍膽草、梔子各一錢；如口渴、氣喘、脈澀，是為肺火，加麥冬三錢、桑白皮、紫菀各二錢五分；如咽痛、脈沉，為腎火，加元參三錢。</p>
<p>次男元犀按：此方妙在半夏，升清降濁，熟讀《本草經》者自知。</p>
<p><u>二妙地黃丸</u>（《馮氏錦囊》）</p>
<p>熟地（四兩）　山萸　蒼朮（鹽水炒）　山藥（各二兩）　茯苓　丹皮　澤瀉　黃柏（秋石水浸，炒，各一兩五錢）</p>
<p>蜜丸桐子大，每服三五錢。日二服，鹽湯下。或加牡蠣二兩、益智仁一兩、菟絲子一兩、車前子七錢。</p>
<p><u>萆薢分清飲</u>（方見《時方》）　治真元不固，赤白濁。</p>
<p><u>將軍蛋方</u></p>
<p>治白濁，兼治夢遺。</p>
<p>生大黃（三分，研末）　生雞子（一個）</p>
<p>將雞子頂尖上敲破一孔，入大黃末在內，紙糊炊熟，空心吃之，四五朝即愈。</p>
<p><u>龍牡菟韭丸</u></p>
<p>治色欲過度，赤濁白濁，小水長而不痛，並治婦人虛寒、淋帶崩漏等症。</p>
<p>生龍骨（水飛）　牡蠣（水飛）　生菟絲粉　生韭子粉</p>
<p>上四味，各等分，不見火，研細末，乾麵冷水調漿為丸。每服一錢，或至三錢，晚上陳酒送下，清晨服亦可。</p>
<p><u>蠶砂黃柏湯</u></p>
<p>治遺精、白濁有濕熱者。</p>
<p>生蠶砂（一兩）　生黃柏（一錢）</p>
<p>二味共研末，空心開水下三錢，六七服即愈。</p>
<p><u>白果蛋方</u></p>
<p>治白濁。</p>
<p>用頭生雞子一個，開一小孔，入生白果肉二枚，飯上蒸熟，每日吃一個，連吃四五次，即愈。</p>
<p><u>龍骨韭子湯</u></p>
<p>治遺精滑失。</p>
<p>白龍骨（一兩，研末）　韭子（炒，一合）</p>
<p>上為末，空心陳酒調服三錢。</p>
<p><u>小菟絲石蓮丸</u></p>
<p>治女癆疸及遺精、白濁、崩中、帶下諸證。</p>
<p>菟絲子（五兩，酒浸，研）　石蓮肉（二兩）　白茯苓（一兩，蒸）</p>
<p>上為細末，山藥糊為丸，桐子大，每服五十丸，加至一百丸。或酒或鹽湯空心送下，如腳無力，木瓜湯下。晚食前再服。</p>
<p><u>龍蓮芡實丸</u>（各見《種福堂》）</p>
<p>治精氣虛，滑遺不禁。</p>
<p>龍骨　蓮鬚　芡實　烏梅肉</p>
<p>上等分為末，用山藥丸如小豆大，每服三十丸，空心米飲下。</p>

<h2>癃閉五淋</h2>
<p>癃閉者，小便點滴不通，甚而為脹為腫，喘滿欲死；五淋者，小便痛澀淋瀝，欲去不去，欲止不止，有沙、膏、氣、血、勞五種之分。</p>
<p>癃閉用利水之藥，人所知也。若愈利而愈閉，脹悶欲死，宜治其本。《經》云：膀胱者，州都之官，津液藏焉，氣化則能出矣。今小水點滴不能出，病在氣化可知。桂性直走太陽而化氣，此症實不可缺。陰虛不化，熱逼膀胱，小腹脹痛，尺脈旺，宜服滋腎丸主之；陽虛不化，寒結膀胱，小腹不痛，尺脈弱，宜加減腎氣丸主之。然猶恐未能即效，又有巧法以施。譬之滴水之器，閉其上而倒懸之，點滴不能下也。去其上之閉，而水自通流，宜以補中益氣湯提之。即以此藥再煮服盡，以手探吐，頃刻即通。而更有啟其外竅，即所以開其內竅之法。麻黃力猛，能通陽氣於至陰之下。肺主皮毛，配杏仁以降氣，肺氣下達州都，導水必自高原之義也。以八正散加此二味，其應如響。如夏月不敢用麻黃，恐陽脫而汗漏不止，以蘇葉、防風、杏仁三味等分，水煎溫服，覆取微汗，而水即利矣。（此張隱菴治水腫驗案。）虛者以人參、麻黃各一兩煎服，神效。（此盧晉公驗案。）如汗多不任再散者，即以紫菀、桑白皮各三錢，麥冬五錢，加於利水藥中，或加於升提藥中，亦效，（此李士材驗案。）皆下病上取之法也。（治水腫者，可遵此法以治其標，即以六君子湯去甘草加蒼朮、厚朴、炮薑、附子以扶脾氣，以復元氣。）</p>
<p>淋症有五，方治甚多，而總不外於蘊熱，統以景岳大分清飲主之。</p>
<p>五淋，下如沙石，合益元散更加琥珀，或石首魚頭納石子五六個，研末調下。</p>
<p>膏淋，下如膏脂，加萆薢、海蛤粉各二錢、石菖蒲八分。氣淋氣滯不通，臍下妨悶脹痛，加荊芥二錢、香附、生麥芽各一錢，不愈，再加升麻，或用吐法。血淋，瘀血停蓄莖中，割痛難忍，加牛膝、生地、當歸、桃仁各三錢，紅花、川芎各一錢。不愈，另用牛膝膏。勞淋，從勞役而得，氣化不及州都，本方合補中益氣湯同煎服。</p>
<p>以上五淋，俱屬蘊熱所致。又有一種，名曰冷淋。四肢口鼻冷，喜飲熱湯，以加味腎氣湯主之。更有過服金石熱藥，敗精為淋，與老人陽已痿，而思色以降其精，則精不出而內敗，以致大小便牽痛如淋。愈痛則愈便，愈便則愈痛。宜前飲加萆薢、菟絲子、石菖蒲、遠志以導之，後服六味丸。</p>

<h3>脈息（與遺精白濁同）</h3>
<p>宜浮大，忌沉細。</p>

<h3>方藥</h3>
<p><u>滋腎丸</u></p>
<p>治小便點滴不通，及治衝脈上逆、喘呃等症。</p>
<p><u>補中益氣湯</u>（各見《時方》）</p>
<p>治一切氣虛下陷。</p>
<p><u>加味腎氣丸</u>（見《水腫》）</p>
<p><u>大分清飲</u>（《景岳》）</p>
<p>茯苓　澤瀉　木通（各三錢）　豬苓　梔子（或用）　枳殼　車前子（各一錢，或加甘草梢一錢）</p>
<p><u>八正散</u>（《寶鑑》）</p>
<p>治諸淋。</p>
<p>瞿麥　梔子　萹蓄　大黃　滑石　木通　車前子　甘草（各一錢）</p>
<p>加燈心一錢，水煎服。</p>
<p><u>牛膝膏</u></p>
<p>治死血作淋。</p>
<p>桃仁（去皮尖）　歸尾（各一錢）　牛膝（四兩，酒浸一宿）　白芍　生地（各一兩五錢）</p>
<p>水十盅，微火煎至二碗，入麝香少許，四次空心服。如夏月用涼水浸換，此膏不壞。</p>

<h3>附用諸方</h3>
<p><u>栝蔞瞿麥丸</u>（方見《金匱》）</p>
<p>小便不利者有水氣，其人若渴，此主之。</p>
<p><u>胞轉方</u></p>
<p>治丈夫女人胞轉，不得小便八九日者。</p>
<p>滑石（一斤）　寒水石（一兩，研）　葵子（二升）</p>
<p>以水一斗，煮五升。服盡即利。</p>
<p><u>治石淋方</u></p>
<p>車前子（二升）</p>
<p>絹袋，以水八升，煮取三升，空心頓服之，須臾當下石子。宿勿食，服之良。（古之一升今約略小茶盅一盅，石之一兩約略三錢）</p>
<p><u>治熱淋方</u>（各見《千金翼》）</p>
<p>白茅根四斤洗淨，水一斗五升，煮取五升，每服一升，日三夜二。</p>
<p><u>治血淋方</u></p>
<p>生苧根洗，去皮，五兩，水六杯，煎三杯。每服一杯，一日三服。</p>
<p><u>治血淋方</u></p>
<p>天青地白草五錢，水二杯，煎八分，空心服，一日兩服。</p>
<p><u>田螺青鹽膏</u></p>
<p>治中暑　大小便不通。</p>
<p>用田螺三枚搗爛，入青鹽三分，攤成膏，貼在臍下一寸，即愈。</p>
<p><u>獨蒜梔子貼臍膏</u>（各見《種福堂》）</p>
<p>治小便不通。</p>
<p>獨囊大蒜（一個）　梔子（二十一個）　鹽（一匙）</p>
<p>共搗敷臍中，良久即通；若不通，敷陰囊上，即愈。</p>
<p><u>五淋湯</u></p>
<p><u>龍膽瀉肝湯</u>（各見《時方》）</p>
<p>治脅痛，口苦耳聾，筋痿陰濕，熱癢陰腫，白濁溲血。</p>

<h2>心痛</h2>
<p>心痛即胃脘痛也。心為君主之官，本不受邪。若受邪而痛，是真心痛，手足青至節，朝作夕死。痛有九種，宜細辨而藥之。</p>
<p>氣痛。脈沉而澀，諸氣鬱滯，及七情過用所致。宜二陳湯加沉香、烏藥、百合主之。</p>
<p><u>加味二陳湯</u></p>
<p>半夏　烏藥　茯苓（各二錢）　炙草（七分）　陳皮（一錢）　沉香（五分）　百合（五錢或一兩）　生薑（三斤）</p>
<p>水煎服。</p>
<p>百合合眾瓣而成，有百脈一宗之象。其色白而入肺。肺主氣，肺氣降則諸氣俱調。此醫書所不載，余得之海外奇人。屢試屢效。或無沉香，即用紫蘇葉一錢代之。</p>
<p>血痛，脈浮沉俱澀，其痛如刺，不可按捫。或寒熱往來，大便黑，宜失笑散主之。</p>
<p><u>失笑散</u></p>
<p>研末醋湯送下，挾熱者，加梔子三錢，高良薑一錢，煎湯送下。寒者以肉桂一錢，煎湯送下。</p>
<p>痰痛即飲痛，脈滑咳嗽，其痛遊走無定，宜二陳湯加干薤白五錢，栝蔞皮二錢主之。</p>
<p>火痛，脈數而實，口渴面赤，身熱便秘，其痛或作或止，宜金鈴子散主之。如火盛者，用梔子二錢，川楝子去核、黃連、良薑、澤瀉、丹參各一錢，香附一錢五分。水煎服。</p>
<p><u>金鈴子散</u>（各見《時方》）</p>
<p>冷痛，脈遲而微細，手足俱冷，其痛綿綿不休，喜用熱手按者，宜桂附理中湯加當歸二錢，以濟其剛。木通一錢，以通其絡。（痛久則入絡也。）</p>
<p>虛痛即悸痛，脈浮而小細，或沉而短澀，其痛重輕相間，多日不愈。心悸，最喜摩按，得食小愈，飢則更痛。宜歸脾湯加石菖蒲一錢、木香五分主之。</p>
<p>注痛，入山林古廟古墓，及感一切異氣而痛。其人語言錯亂，其脈乍大乍小，左右手若出兩人。宜平胃散加藿香二錢，入些少麝香服之。</p>
<p>蟲痛，脈如平人，其痛忽來忽止，聞肥甘之味更痛。（聞食而蟲頭上昂也。）按摩稍止，（蟲驚而暫伏也。）唇紅，舌上有白花點。年力壯者，以景岳掃蟲煎主之。虛弱者，以理中湯去甘草，加烏梅二枚，川椒一錢五分，吳茱萸、黃連、肉桂各一錢，當歸二錢主之。</p>
<p>食痛，食積停滯，噯腐吞酸，惡食腹滿。其痛或有一條扛起者，脈實而滑。右關更實，宜平胃散加山楂、麥芽、半夏各二錢。脹甚者，更加萊菔子生研一錢。水煎服。如初病食尚在胃，服此湯。即以手探吐之。</p>

<h3>又簡易方</h3>
<p><u>荔香散</u></p>
<p>治心痛甚效，婦人尤效，服數次可以除根。</p>
<p>荔枝核（一兩二錢炒）　木香（七錢不見火）</p>
<p>共研末。米湯或開水，或酒下二錢。</p>
<p><u>皂角散</u></p>
<p>治胃脘劇痛，百藥不效，服此即止。</p>
<p>牙皂（去子弦炒紫焦研末）</p>
<p>每服一錢，燒酒送下。此可偶服，不可常服。</p>
<p><u>遊山方</u></p>
<p>治胃脘痛多效。</p>
<p>草果　元胡索　五靈脂（醋炒）　沒藥（炒，各二錢）</p>
<p>共研末，酒調下二　三錢。</p>
<p><u>掃蟲煎</u>（景岳）</p>
<p>治蟲上攻胸腹作痛。</p>
<p>青皮　吳萸　茴香（各一錢）　檳榔　烏藥（各一錢五分）　細榧肉（三錢）　烏梅（二枚）　甘草（八分）　硃砂　雄黃（各五分）</p>
<p>水煎，入雄黃、硃砂末調服。先啖肉脯，少頃服藥。</p>
<p><u>靈脂厚朴散</u></p>
<p>治心頭痛，欲死不可忍者。</p>
<p>靈脂　良薑　厚朴（薑汁炒）</p>
<p>上各等分，為細末。每服一錢，醋湯下即止。</p>
<p><u>黑棗胡椒散</u>（各見《種福堂》）</p>
<p>治心口胃脘痛。</p>
<p>用大黑棗去核，每個中間入胡椒七粒，仍將棗包好，炭火上煅焦黑存性，研末。每服四分，陳酒送下三四服，必愈。加木香、枳殼、紅花、當歸、五靈脂少許，更妙。</p>
<p><u>黑棗丁香湯</u>（《種福堂》）</p>
<p>治胃寒嘔吐，並治寒瘧。</p>
<p>大黑棗七枚去核，每個納入丁香一粒，煮爛，去丁香，將棗連湯空心服。七天見效。</p>

<h2>腹中上下諸痛</h2>
<p>腹中上下諸痛，寒熱虛實，皆能致之。溫清消補，及發表攻裡諸法，皆所以止痛，故止痛無定方也。今因《醫學真傳》部位分析清楚，亦是認證之捷徑，故全錄之。噫！《金匱》諸法，何等精詳，十載研窮，致譏迂闊。今亦窮而知返也。然古聖賢章程，終不敢廢，編中所錄，雖曰從時，亦從純而不從拜乎上之道也。</p>

<h2>心痛續論</h2>
<p>心為君主而藏神，不可以痛。今云心痛，乃心包之絡，不能旁通於脈故也。（心痛有論有方，今因全錄高士宗此論，存之以備參考。《種福堂良方》有丹參一兩、檀香、砂仁各一錢煎服。）</p>
<p>心脈之上，則為胸膈。胸膈痛乃上焦失職，不能如霧靄之溉，則胸痹而痛。薤白、蔞仁、貝母、豆蔻之藥，可以開胸痹以止痛。</p>
<p>兩乳之間，則為膺胸。膺胸痛者，乃肝血內虛，氣不充於期門，致衝任之血，不能從膺胸而散則痛。當歸、白芍、紅花、銀花、續斷、木香之藥，可和氣血而止痛。</p>
<p>有中脘作痛，手不可近者。夫手不可近，乃內外不和，外則寒氣凝於皮毛，內則垢濁停於中脘，當審其體之虛實而施治。莫若以燈草當痛處，爆十餘點，則寒結去而內外通，便不痛矣。</p>
<p>有中脘之下，當陽明胃土之間，時痛時止者，乃中土虛而胃氣不和。若行血消泄之劑服之過多，便宜溫補。但以手重按之，則痛稍平，此中土內虛，虛而且寒之明驗也。（宜香砂理中湯。）</p>
<p>乳下兩旁，胸骨盡處痛者，乃上下陰陽不和，少陽樞轉不利也。傷寒病中每多此痛，當助其樞轉，和其氣血，上下通調則愈矣。（宜小柴胡湯加味。）</p>
<p>大腹痛者，乃太陰脾土之部。痛在內而緩，坤土虛寒也。痛兼內外而急，脾絡不通也。蓋脾之大絡，名曰大包。從經隧而外出於絡脈。今脾絡滯而不行，則內外皆痛。《太陽篇》云：傷寒陽脈澀，陰脈弦，法當腹中急痛，先與小建中湯。不瘥者，與小柴胡湯，此先補益於內，而後樞轉於外也。</p>
<p>臍旁左右痛者，乃衝脈病。衝脈當臍左右，若為寒氣所凝，其衝脈之血，不能上行外達，則當臍左右而痛。當用血分之藥，使胞中之血通達肌表，若用氣藥無裨也。（當歸四逆湯加吳茱萸、生薑。）</p>
<p>臍下痛者，乃少陰水臟。太陽水府，不得陽熱之氣以施化，致陰寒凝結而痛。少陰虛寒，當用附子、肉桂以溫之。太陽水府虛寒，亦當用附子、桂枝以溫之。蓋太陽與少陰，相為表裡，互為中見者也。（亦有火逼膀胱不通而痛者。）小腹兩旁，謂之少腹。少腹痛者，乃厥陰肝臟之部，又為胞中之血海。蓋胞中之水，主於少陰，而胞中之血，主於厥陰也。痛者，厥陰肝氣，不合胞中之血而上行也。肝臟不虛者，當疏通以使之上。肝臟虛者，當補益以助其下。蓋厥陰不從標本，從中見少陽之氣，使厥陰上合乎少陽，則不痛矣。</p>
<p>兩旁季脅痛者，肝氣虛也。（宜暖肝煎。）兩脅之上痛者，少陽之氣不和也。（宜小柴胡去參棗加牡蠣、青皮之類。景岳云：腎虛羸弱之人多胸脅間隱隱作痛，此肝腎精虛不能化氣，氣虛不能生血而然，凡人之氣血，猶源泉也，盛則疏通，少則壅滯。使不知培補氣血但以行滯通經則愈行愈虛鮮不殆矣。）又高士宗云：所痛之部，有氣血陰陽之不同，若概以行氣消導為治，漫云通則不痛。夫通則不痛，理也。但通之之法，各有不同。調氣以和血，調血以和氣，通也。下逆者使之上行，中結者使之旁達，亦通也。虛者助之使通，寒者溫之使通，無非通之之法也。若必以下泄為通，則妄矣。</p>

<h3>附錄備用方</h3>
<p><u>栝蔞薤白白酒湯</u>（方見《金匱》）</p>
<p>胸痹喘息咳唾，胸背痛，短氣，寸脈沉而遲，關上小緊。</p>
<p>方中加半夏二錢。名栝蔞薤白半夏湯。治胸痹不得臥，心痛徹背。</p>
<p><u>小建中湯</u></p>
<p><u>大建中湯</u>（各見《傷寒》）</p>
<p>治心胸大寒痛，嘔不能飲食，腹中寒，上衝皮起，出見有頭足，上下痛不可觸近。</p>
<p>長孫心典按：上中二焦為寒邪所痹，故以參姜啟上焦之陽，合飴糖以建立中氣。而又以椒性下行，降逆上之氣，復下焦之陽，為溫補主方。</p>
<p><u>附子粳米湯</u></p>
<p>腹中寒氣，雷鳴切痛，胸脅逆滿、嘔吐。</p>
<p>徐忠可曰：此方妙在粳米。鳴而且痛，腹中有寒氣也。乃滿不在腹而在胸脅，是邪高痛下。寒邪實從下而上，所謂腎虛則寒動於中也。故兼嘔逆而不發熱，以附子溫腎散寒，半夏去嘔逆，只用粳米合甘棗調胃，建立中氣，不用術，恐壅氣也。</p>
<p><u>大黃附子湯</u></p>
<p>脅下偏痛發熱。（錢院使云偏當作滿。）其脈緊弦，此寒也。</p>
<p>按痛而滿，滿連脅下，而六脈弦緊、非附子不能溫其寒，非大黃不能攻其實，非細辛不能散其結聚。三藥實並行不倍也。</p>
<p><u>厚朴三物湯</u></p>
<p>痛而閉者，此湯主之。</p>
<p><u>當歸生薑羊肉湯</u>（各見《金匱》）</p>
<p>寒疝腹中痛，及脅痛裡急者，亦治產後腹中癘痛。</p>
<p>寒多者加生薑二兩五錢，痛多而嘔者，加陳皮五錢，白朮二錢五分。</p>
<p><u>暖肝煎</u>（《景岳》）</p>
<p>治肝腎虛寒，小腹疼痛疝氣等症。</p>
<p>當歸（二、三錢）　枸杞（三錢）　茯苓　烏藥　小茴（各二錢）　肉桂（一二錢）　沉香（一錢，或木香亦可）　生薑（三五片）</p>
<p>水煎服。</p>
<p>按此方加防風、細辛、桃仁、山萸肉。治肝虛脅痛，有奇效。</p>
<p><u>枳芎散</u></p>
<p>治右脅刺痛。</p>
<p>枳實　川芎（各五錢）　炙甘草（三錢）</p>
<p>為末，每服三錢，薑湯下。</p>
<p><u>推氣散</u></p>
<p>治左脅疼痛，脹滿不食。</p>
<p>薑黃　枳殼（麵炒）　桂心（各五錢）　炙甘草（三錢）</p>
<p>為末，每服三錢，薑湯下。</p>

<h2>嘔吐噦</h2>
<p>吐者，有物無聲。噦者，有聲無物。嘔者；聲物俱出，總屬於胃。時醫以二陳湯加藿香、砂仁統治之。雖是庸淺活套，尚不礙理，余亦從之。但當分別寒熱虛實表裡而加減耳。寒者，口和身冷，或兼腹痛，脈必遲細，吐出如多有冷氣，宜再加吳萸、乾薑、丁香之類。熱者，或為熱渴，或為煩躁，脈必洪數，吐必湧猛，形氣聲色，必皆壯歷，宜再加黃芩、黃連、麥冬、沙參、竹茹之類。實者，或因食滯，必多脹滿，宜再加厚朴、山楂、麥芽、神麯之類；或因氣逆必痛連脅筋，宜再加撫芎、香附、紫蘇、連翹之類，或另用左金丸、逍遙散之類。表者，邪自外至，必頭痛發熱，宜倍用生薑。里者，邪不在表，兼心下痞者，宜二陳湯加黃芩、黃連、乾薑、人參、大棗，仿半夏瀉心湯之意；兼見腹滿便硬者，二陳湯加厚朴、大黃，仿承氣湯之意。若在半表半裡，必見口苦，寒熱往來，宜另用小柴胡湯治之。虛者，胃氣虛也，或命門火氣虛也，宜二陳湯加香砂外，重用人參、白朮，以補胃氣；不愈，更加乾薑、附子、吳萸，以溫補命門；或以八味丸湯，直補命門真火，隨宜變通。景岳云：無實無火而嘔吐者，胃虛也。或誤服寒涼而嘔吐者，胃虛也。食無所停，聞食而嘔者，胃虛也。氣無所逆，聞氣則嘔者，胃虛也。或食入中焦而不化者，胃虛也。食入下焦而不化者，命門虛也。然胃本屬土，非火不生，非暖不化，是土寒即土虛也，土虛即火虛也。脾喜暖而惡寒，土喜燥而惡濕，故張石頑治虛寒嘔吐，每用伏龍肝兩許，煮湯澄清，代水煎藥，可謂得治吐之大要矣。治泄瀉亦不外此理，而吐呃亦屬胃虛，宜於六君子湯去甘草，加黃連、乾薑、蜀椒之類。</p>
<p>次男元犀按：仲景旋覆代赭石湯，本以治心下痞，噫氣不除。今於嘔吐不止之症，借用甚效者，取其重以降逆也。乾薑黃連黃芩人參湯，本以治寒邪隔熱於上焦，今於食入即吐之症，取用甚效者，以乾薑散上焦之寒，芩連清心下之熱，人參通格逆之氣，而調其寒熱，以至和平。不用生薑、半夏者，胃氣虛不堪辛散。不用甘草、大棗者，嘔不宜甘也。又吳茱萸湯，治陽明食谷欲嘔，又治少陰病吐利手足逆冷，煩躁欲死，又治乾嘔、吐涎沫、頭痛三症如神。蓋取吳茱萸大熱，直入厥陰，能降氣而消陰翳。人參扶其生氣，薑棗和其胃氣，使震坤合德，土木不害，而嘔吐平矣。</p>
<p>噦者，胃中虛冷，及停飲居多。亦有失於攻下，胃中實熱而噦者，證必腹滿。仲景云：噦而腹滿，視其前後，知何部不利，利之則愈，承氣湯，豬苓湯是也。</p>
<p>噦逆有虛熱，橘皮竹茹湯。噦屬虛寒，橘皮乾薑湯。寒甚去通草，加丁香、附子。寒熱錯雜者去甘草，加丁香、柿蒂。</p>
<p>噦聲頻密相連為實，攻熱為主。若半時噦一聲者為虛，溫補為主。如腹滿，不尿，脈散，頭汗，目瞪而噦者，死在旦夕。</p>

<h3>診法</h3>
<p>上部有脈，下部無脈，其人當吐不吐者死。脈陽緊陰數為吐，陽浮而數亦吐。寸緊尺澀，胸滿而吐，寸口脈數者吐，緊而澀者難治。緊而滑者吐逆。脈弱而嘔，小便複利，身有微熱，見厥者難治。病人慾嘔吐者，不可下之，嘔吐大痛，吐出色如青菜色者危。</p>
<p><u>旋覆代赭石湯</u>（方見《傷寒》）</p>
<p>治胃虛，噫氣不除。</p>
<p><u>進退黃連湯</u>（見《實在易》）</p>
<p>黃連（薑汁炒）　乾薑（炮）　人參（人乳拌蒸）　半夏（薑製，各一錢五分）　桂枝（三錢）　大棗（二枚）</p>
<p>進法：用本方上三味俱不制，水三茶杯，煎一杯，溫服。退法：不用桂枝，黃連減半，或加肉桂五分，如上逐味制熟，煎服法同。但空腹服崔氏八味丸三錢，半飢服煎劑耳。</p>
<p><u>吳茱萸湯</u></p>
<p>治胃氣虛寒，乾嘔、吐涎沫，頭痛。</p>
<p><u>乾薑黃連黃芩人參湯</u>（各見《傷寒》）</p>
<p>柯韻伯云：凡嘔家夾熱，不利於香砂橘半者，服此方而晏知。</p>
<p>長孫男心典按：食入即吐，不使少留，乃火炎之象，故苦寒倍於辛熱，不名瀉心者，以瀉心湯專為痞硬立法耳。要知寒熱相結於心下，而成痞硬，寒熱相阻於心下，而成格逆，源同而流異也。</p>
<p>乾薑　黃連　黃芩　人參（各一錢五分）</p>
<p>水煎溫服。</p>
<p><u>橘皮竹茹湯</u></p>
<p>治胃虛呃逆。</p>
<p>中焦氣虛，則下風木得以上乘，穀氣因之不宜，變為呃逆。用橘皮升降中氣，人參、甘草補益中焦，生薑、大棗宣散逆氣，竹茹以降膽木之風熱耳。</p>
<p><u>橘皮乾薑湯</u></p>
<p>治乾嘔吐逆，吐涎沫而止噦。</p>

<h3>補論</h3>
<p>《金匱》云：病人慾吐者，不可下之。</p>
<p>欲吐者，陰邪在上也。若下之，不惟逆其陽氣，反傷無故之陰，變害莫測，豈獨反胃而已。</p>
<p>食已即吐者，大黃甘草湯主之。</p>
<p>胃素有熱，食復入之，兩熱相沖，不得停留。用大黃下熱，甘草和胃。張石頑云：仲景既云欲吐者不可下，又用大黃甘草湯，治食已即吐，何也？曰：欲吐，病在上，因而越之可也。逆之使下，則必憒亂益甚，既吐矣。吐而不已，有升無降，當逆折之使下，故用大黃。</p>
<p><u>大黃甘草湯</u>（方見《金匱》）</p>
<p>治食已即吐。</p>
<p><u>通草橘皮湯</u>（《千金》）　治傷寒胃熱嘔吐。</p>
<p>通草（二錢）　橘皮（一錢五分）　粳米（一合）　生蘆根汁</p>
<p>水煎熱服。去通草、橘皮，加竹茹、生薑汁，《千金》名蘆根飲子。治傷寒後嘔噦、反胃、乾嘔。</p>
<p>丹溪云：凡嘔家禁用服栝蔞、桃仁、萊菔子、山梔。一切有油之物，皆犯胃作吐。景岳云：嘔家亦忌蒼朮，以其味不醇而動嘔也。</p>
<p><u>茯苓半夏湯</u></p>
<p>沈芊綠雲：食已心下痛，隱隱不可忍，吐出痛方止，證名食痹。吐食，宜此湯主之。</p>
<p>麥芽　茯苓　半夏　白朮　神麯　橘皮　天麻　生薑（各等分）　水煎服。</p>
<p><u>麥天湯</u>　亦主之。</p>
<p>麥冬　天麻　茯苓　白朮　半夏　陳皮　神麯　生薑（各等分）　水煎服。</p>

<h2>呃逆</h2>
<p>景岳曰：呃逆症，謂其呃之連聲，無不由於氣逆。而呃之大要，亦惟三者而已。一曰寒呃，二曰熱呃，三曰虛脫之呃。寒呃者，頭痛，惡寒，發熱，脈緊，外寒可散。宜二陳湯倍加生薑、陳皮主之。腹痛，口中和，手足冷，脈微，內寒可溫，以理中湯、四逆湯加丁香、砂仁主之，去其蔽抑之寒，而呃止矣。火呃者，口渴煩躁，三焦之火可清，以黃芩湯加半夏，竹葉石膏湯加薑汁主之。潮熱狂亂，腹滿便硬，陽明實火可下，以三承氣湯主之；火勢未甚者，只以安胃飲主之，去其衝上之火，火靜則氣自平而呃止矣。惟虛脫之呃，或以大病之後，或以虛羸之極，或以虛損誤攻而致呃逆者，當察其中虛，速宜補脾，以六君子湯、理中湯加丁香、柿蒂、白豆蔻主之；察其陰虛，速宜補腎，以六味湯、八味湯加紫石英主之，歸氣飲最妙；虛甚者，必須大劑補元煎加丁香、白豆蔻主之。然實呃者，不難治。惟元氣敗竭者，乃最危之候也。更有傷寒之呃者，仍當於傷寒門閱之。張石頑曰：平人飲熱湯，及食椒姜即呃者，此胃中有寒痰死血也。死血用韭汁童便下越鞠丸。虛人用理中湯加蓬朮、桃仁。痰加茯苓、半夏。呃逆皆是寒熱錯亂，二氣相搏使然。故治亦多用寒熱相兼之劑，觀丁香柿蒂散，可以知其義矣。</p>
<p><u>丁香柿蒂散</u></p>
<p>治呃逆通劑。</p>
<p>丁香　柿蒂</p>
<p>等分為末，每服二錢，開水送下。</p>
<p><u>安胃散</u>（景岳）</p>
<p>治胃火上衝，呃逆不止。</p>
<p>陳皮　山楂　麥芽（各五分）　木通　澤瀉　黃芩　石斛（各一錢）　水煎，食遠服。如胃火熱甚，加石膏</p>
<p><u>歸氣飲</u>（景岳）</p>
<p>治氣不順，呃逆嘔吐，或寒中脾腎等症。</p>
<p>熟地（三五錢）　茯苓　扁豆（各二錢）　乾薑（炮）　丁香　陳皮（各一錢）　藿香（一錢五分）　炙草（八分）</p>
<p>水煎服。中氣寒甚，加製附子。肝腎寒者，加吳茱萸、肉桂，或加當歸。</p>
<p><u>羌活附子湯</u></p>
<p>治胃冷呃逆。</p>
<p>附子　羌活　茴香（各一錢）　乾薑（四分）　木香（二分）</p>
<p>為末，入鹽一撮，水煎。微溫服。</p>
<p><u>丁香煮散</u>（與《局方》不同）　治胃反嘔逆，呃噦泄瀉。</p>
<p>丁香（三十七粒）　建蓮肉（去心，二七粒，上二味另煎，去滓）　生薑（七片）　黃秫米（半盞）　水一碗半，煮熟。去姜藥啜粥。</p>
<p><u>半夏生薑湯</u>　（方見《金匱》）　治呃逆欲死。</p>
<p><u>刀豆子散</u></p>
<p>治病後呃逆不止。</p>
<p>刀豆子燒存性。滾水調服二錢，即止。</p>
<p><u>元紅散</u>　（各見《種福堂》）　治呃逆不止。荔枝七個，連皮燒存性，為末。百滾湯調服，立止。</p>

<h1>卷四</h1>

<h2>痙、厥、癲、狂、癇、癱瘓</h2>
<p>厥者，從下逆上之病也。（《傷寒論》厥以手足厥冷而言。陽厥用四逆散，陰厥用四逆湯。此主《內經》暴厥者不知與人言，及血之與氣並走於上，則為大厥之旨與《傷寒》不同。）痙者，強直反張之象也。癇者，猝然昏僕，筋脈瘛瘲，口角流涎，或作牛馬豬羊雞之聲，後人分為五癇是也。（病有間斷故名為癇。）癲者，或歌或哭，如醉如癡，其候多靜而常昏。狂者，語言狂妄，少臥不飢，其候多躁而常醒。癱瘓者，病在筋骨，左癱右瘓，將成廢人。六症醫書分治，其實一厥陰盡之。治得其要，只取數方，捷如影響。蓋厥陰屬風木，與少陽相火同居，厥陰之氣一逆，則諸氣皆逆。氣逆則火發，火發則風生。風生則必挾木勢而害土，土病則聚液而成痰，其歸併於心也。心氣大虛，而不能御之，或從陽化而為狂，或從陰化而為癲。心氣尚未全虛，受其所凌則昏倒，正氣一復而遂瘥。其症有作有止，則為癇。其逆行於內也。或乘腎氣之虛，則為喑痱而為腎厥。或因煩勞以擾其陽，陽亢陰虧而為煎厥；或怒火載血上行，氣血亂於胸中，相薄而厥逆，則為薄厥。或因怫鬱不解，陽氣不能四達，手足與身俱冷，（中風身溫，中氣身冷。）則為氣厥。或陽騰絡沸，則為血厥。或因穢濁蒙神，亂其陰陽之氣，則為屍厥。或於飽食之後，適有感觸，胃氣不行，陽並於上，則為食厥。時見吐蛔，則為蛔厥。濕痰上逆，則為痰厥。以及陽衰而陰湊之，令人五指至膝上皆寒，則為陰厥。陰衰而陽湊之，令人足下熱，熱甚則循三陰上逆，則為熱厥。其發見於外也，風火迅發，病起於驟然，手足抽掣，角弓反張。或從實化，為無汗之剛痙。或從虛化，為有汗之柔痙。《內經》云：諸暴強直，支痛軟戾，裡急筋縮，皆屬於風。醫者可於此而驗風邪之體假焉。土為木克，則聚液而成痰，痰挾風而流注，則左癱而又右瘓。《左傳》云：風淫末疾。醫者可於此而知風邪之流極焉。凡此六者，症各不同，其源則一。餘隻以烏梅丸益厥陰之體，以宣厥陰之用。又以風引湯治厥陰風火，痰涎幻變錯雜之病。舉凡治剛痙，用葛根湯，柔痙用桂枝加栝蔞根湯。痙之表症急者，用小續命湯以攻表，痙之裡症急者，用承氣湯以攻裡之類而不效。治寒厥用六物附子湯，熱厥用六味湯，薄厥用蒲黃湯，煎厥用玉女煎、龍薈丸，氣厥用八味順氣湯，血厥用白薇湯，屍厥用蘇合香丸，食厥用加味平胃散，蛔厥用掃蟲煎，腎厥用地黃飲子，痰厥用瓜蒂散之類而不效。治狂用白虎湯、生鐵落飲、涼膈散、滾痰丸。治癲用定志丸、天王補心丹、導痰湯及獨參湯加竹瀝、薑汁之類而不效。治癇用龍薈丸、丹礬丸、五癇丸及紫河車丸之類而不效。治癱瘓用二妙散及舒筋保肝散之類而不效者。種種方藥，無不對症，對症而猶不效，其故何也？蓋緣未嘗求於厥陰一經，而信服烏梅丸、風引湯二方神妙也。二方本於仲景，而喻嘉言獨得其旨，但引而不發，淺學人捫索不來，至葉天士則引伸觸類，妙義無窮。若風火犯於上者，（此風火二字即上厥陰風木與少陽相火之義，勿誤解為外來風火。）不免凌金爍液，用麥門冬湯及瓊玉膏，為補金柔製法。若風火犯於中而為嘔為脹者，用六君子湯去朮加木瓜、薑、芍之類，及附子粳米湯加人參，為補脾凝肝法。若風火震動心脾，而為悸為消者，用甘麥大棗湯合龍、牡之屬，為緩其急、鎮其逆法。若少陽相火，挾厥陰風木之威，而乘巔搖絡者，用羚羊、鉤藤、元參、連翹之劑，為熄風清絡法。若肝膽厥陰化風旋逆者，用龍膽、蘆薈、木通、青黛之類，為苦降直折法。若本臟自痛，而體用失和者，以椒、梅、桂、芍之類，為寒暄各得法。若因母臟之虛，而擾及子臟之位者，用三才配合龜甲、磁朱，及復脈湯去薑、桂，入雞子黃之屬，為安攝其子母法。至於痿厥之治，（厥陰病風旋陽冒神迷則為厥；陽明病絡空四末不用則為痿。）尤覺神奇，取血肉介類，改湯為膏，謂其力厚重實，填隙止厥最速。凡此之類，雖不明用烏梅丸、風引湯成方，而細味其旨，無一不從此二方神悟出來。甲寅歲，余在吳航書院掌教，嘗與學徒講論，以「讀於無字處，文到有神時」，二句為舉業妙諦，而學醫者，亦必到此境地，方許出而論證也。</p>

<h3>脈息</h3>
<p>宜實大，忌沉細。漸緩則漸愈，漸數則漸甚。若數而弦緊，及見牢革促代諸脈，難治。</p>
<p><u>葛根湯</u>（方見《傷寒》）</p>
<p><u>小續命湯</u>（方見《時方》）</p>
<p><u>風引湯</u>（方見《金匱》）</p>
<p><u>桂枝加栝蔞湯</u>（方見《金匱》）</p>
<p>原方加栝蔞，分兩倍於桂芍。</p>
<p><u>六物附子湯</u></p>
<p>治寒厥。</p>
<p>附子　肉桂　防己（各二錢）　炙草（一錢）　白朮　茯苓（各一錢五分）　水煎服。</p>
<p><u>六味湯</u>（方見《時方》）</p>
<p><u>白虎湯</u>（方見《傷寒》）</p>
<p><u>麥門冬湯</u>（方見《金匱》）</p>
<p><u>白薇湯</u>（《本事》）</p>
<p>人平居無疾苦，忽如死人，氣過血遠，陰陽復通，移時方寤，名曰血厥，婦人多有之。</p>
<p>白薇　當歸（各二錢）　人參　甘草（炙，各五分）</p>
<p>水二杯，煎一杯，溫服。</p>
<p><u>蒲黃湯</u></p>
<p>治薄厥。</p>
<p>蒲黃（一兩）　清酒（十六盞熱沃之）</p>
<p>溫服。</p>
<p><u>八物順氣湯</u></p>
<p>治氣厥。</p>
<p>白芷　臺烏藥　青皮　陳皮（各一錢）　人參（七分）　茯苓　白朮（各一錢五分）　炙草（七分）　</p>
<p>水煎服。</p>
<p><u>地黃飲子</u>（方見《時方》）</p>
<p><u>平胃散</u>（方見《時方》）</p>
<p><u>玉女煎</u>（見頭痛）</p>
<p><u>瓜蒂散</u>　<u>大小承氣湯</u>　<u>調胃承氣湯</u>（俱見《傷寒》）</p>
<p><u>附子粳米湯</u>（方見《金匱》）</p>
<p><u>三才湯</u>（見咳嗽）</p>
<p><u>涼膈散</u>（方見《時方》）　或加膽南星、石菖蒲，見中見。</p>
<p><u>舒筋保肝散</u></p>
<p>治左癱右瘓，筋脈拘攣，身體不遂，腳腿少力，乾溼腳氣，及濕滯經絡，久不能去，宣導諸氣。</p>
<p>木瓜（五兩）　萆薢　五靈脂　牛膝（酒浸）　續斷　白殭蠶（炒）　松節　芍藥　烏藥　天麻　威靈仙　黃耆　當歸　防風　虎骨（酒炒，各一兩）</p>
<p>上用無灰酒一斗，浸上藥二七日，緊封扎，日足，取藥焙乾，搗為細末。每服二錢，用浸藥酒調下，酒盡，用米湯調下。</p>
<p>喻嘉言曰：此治風濕搏結於筋脈之間，凝滯不散，阻遏正氣不得通行之方。</p>
<p><u>滾痰丸</u>（方見《時方》）</p>
<p>治一切實痰異症，孕婦忌服。</p>
<p><u>生鐵落飲</u>（方見《三字經》）</p>
<p>治狂妄不避親疏。</p>
<p><u>定志丸</u>（《千金》）</p>
<p>治言語失倫，常常喜笑發狂。</p>
<p>人參　茯苓（各三兩）　石菖蒲　遠志（甘草湯泡，去骨，一兩）</p>
<p>上四味為末、蜜丸梧子大，飲服七十丸，亦可作湯服。血虛加當歸、有痰加半夏、橘皮、甘草、生薑。</p>
<p><u>五癇丸</u></p>
<p>治五癇。</p>
<p>硃砂　真珠（各二錢）　水銀　雄黃（各五分）　黑鉛（一兩五錢，用水銀煅，結成砂）</p>
<p>研末，蜜煉丸，如麻子大。小兒每服三、四丸，大人加倍。煎金銀花、薄荷湯送下。</p>
<p><u>紫河車丸</u></p>
<p>癲癇多由母腹中受驚，積久失調，一觸而發，遂成此症。此先天受病，故用河車丸，以人乳送下，取同氣相求之義。時賢加當歸、人參各二兩，硃砂五錢，此方如龍骨、龜版、石菖蒲，皆可加入。</p>
<p>紫河車（一具，用米泔洗去血，生搗）　禾米蒸熟，曬乾研末，為丸梧子大。空心每服五十丸，人乳送下。</p>
<p><u>當歸龍薈丸</u>（方見《時方》）</p>
<p>治肝經實火，大便秘結，小便澀滯，或胸膈疼痛，陰囊腫脹。凡屬肝經實火，皆宜用之。（葉天士云：動怒驚觸，致五志陽越，莫制狂亂，不避親疏，非苦降之藥，未能清爽其神識也。）</p>
<p><u>丹礬丸</u>（張石頑）</p>
<p>治五癇甚效。</p>
<p>黃丹（一兩）　白礬（二兩）</p>
<p>銀罐中煅通紅，為末。入臘茶一兩，不落水豬心血為丸，綠豆大，硃砂為衣。每服三十丸，茶清送下，久服其涎自便出。服一月後，更以安神藥調之。</p>
<p><u>甘麥大棗湯</u>（葉天士加減方）</p>
<p>治厥發醜寅，陽明少陽之陽震動。</p>
<p>生地　天冬　阿膠　雞子黃　生龍骨　小麥</p>
<p>水煎服。本方原只小麥、大棗、甘草三味，治婦人臟躁，悲哀欲哭。</p>
<p><u>葉天士方</u></p>
<p>治驚恐，陽升風動，宿癇遂發，吐痰嘔逆，不言，絡脈失利也。</p>
<p>羚羊角　石菖蒲　膽星　遠志　連翹　鉤藤　天麻　橘紅　水煎服。</p>
<p><u>小半夏湯加白糯米</u></p>
<p>葉天士云：衝脈乃陽明所屬，陽明虛則失闔，厥氣上犯莫遏。《內經》治肝不應，當取陽明，制其侮也。暫用通補入府，取乎府以通為補之義。</p>
<p><u>葉天士藥膏方</u></p>
<p>案云：嘗治顧某陰絡空隙，內風掀然鼓動而為厥。余用鹹味入陰和陽，介類有情之潛伏，頗見小效。但病根在下深遠，湯劑輕浮，焉能填隙，改湯為膏，取藥力味重以填實之，亦止厥一法。</p>
<p>鮮鱉甲　龜版　豬脊髓、羊骨髓　生地　天冬　阿膠　淡菜　黃柏　熬膏，早服七錢，午服四錢。</p>
<p><u>烏梅丸</u>（方見《傷寒》）</p>
<p>統治厥陰諸症，厥熱相間，及蛔厥久利。</p>
<p>柯韻伯曰：六經惟厥陰難治，其本陰而標熱，其體風木，其用相火。《內經》云：必伏其所主，而先其所因。或收或散，或逆或從，隨所利而行之，調其中氣，使之和平，是治厥陰法也。仲景立方，皆以辛甘、甘涼為君，不用酸收之品，而此方用之者，以厥陰主肝木耳。《洪範》曰：木曰曲直，曲直作酸。《內經》曰：木主酸，酸入肝，君烏梅之大酸，是伏其所主也。配黃連瀉心以除痞，佐黃柏滋腎以除渴，先其所因也。腎者肝之母，用椒、附以溫腎，則火有所歸，而肝得所養，是固本也。肝欲散，用細辛、乾薑之辛散，以遂其所欲也。肝藏血，用桂枝、當歸之溫潤，所以引其歸經也。寒熱雜用，則氣味不和，故佐以人參調其中氣，以苦酒浸烏梅，同氣相求，蒸之米下，資其穀氣，加蜜為和，少與而漸加之，緩以治其本也。仲景此方，本為厥陰諸症之法，叔和編於吐蛔條下，令人不知有厥陰之主方，觀其用藥，與諸症符合，豈止吐蛔一症耶。</p>

<h2>癇症續論</h2>
<p>王叔和主陽蹺、陽維、陰維、督脈，詳載《脈經》及《李瀕湖奇經考》，宜參觀之。</p>
<p>張石頑云：晝發灸陽蹺，宜補中益氣湯加益智。夜發灸陰蹺，宜六味丸加鹿膠。</p>
<p>薛氏云：凡有此症，欲發未發前二三日，先宜看耳後高骨間，有青筋紋，抓破出血，可免其患。</p>
<p>張石頑云：癇症之發，由腎中龍火上升，而肝家雷火相從挾助也。惟有肝風，故作搐搦，則通身之脂液逼迫而上，隨逆而吐出於口也。陰氣虛不能寧謐於內，則附陽而上升，故上熱而下寒。陽氣虛，不能周衛於身，則隨陰而下陷，故下熱而上寒。</p>
<p><u>當歸承氣湯</u>（《秘傳方》）</p>
<p>治男婦痰迷心竅，逾牆越壁，胡言亂語。</p>
<p>當歸尾（一兩）　大黃（酒洗）　芒硝　枳實　厚朴（各五錢）　炙甘草（三錢）</p>
<p>水三杯，煎八分服。</p>
<p><u>溫膽湯</u></p>
<p>絡氏《內經拾遺》云：癲狂之由，皆是膽涎沃心，故神不守舍，理宜溫膽，亦治癇病。</p>
<p>即二陳湯加鮮竹茹，枳實各二錢，或調飛礬分半。</p>
<p><u>磁朱丸</u>（方見《時方》）　治癲、狂、癇如神。</p>

<h2>疝氣</h2>
<p>疝氣，睪丸腫大，牽引小腹而痛。丹溪云：專屬肝經。景岳云：病名疝氣，以治疝必先治氣也。蓋寒有寒氣，熱有熱氣，濕有濕氣，逆有逆氣，俱當兼用氣藥也。</p>
<p>長孫男心典按：雖有寒、水、筋、氣、血、狐、㿗七疝之名，其治法不外溫經散寒，除濕行氣，活血、導火、軟堅為主。《別錄》云：以五苓散加木通、川楝子、橘核、木香統治之，實為簡捷可從。若苦楝子丸，及三層茴香散，為久患不愈者立法。《千金翼》洗方，為暴痛欲死者立法，不可不知。癥瘕，即婦人之疝也。</p>

<h3>脈息</h3>
<p>宜沉實，忌虛弱。</p>
<p><u>加味五苓散</u></p>
<p>白朮（炒，三五錢，利腰臍之死血，導濕實脾為君）　茯苓（二三錢，導心與小腹之氣，下行從膀胱而泄）　豬苓　澤瀉（各二錢，利水行濕）　木通（一錢入絡止痛又引熱下行）　橘核（三錢，行滯氣為導引之品）　肉桂（五分或一錢，溫肝腎，血中氣藥止痛如神，又入膀胱化氣利水）　苦楝子（去核，一錢五分苦降以納諸藥到於患所）　木香（一錢，調氣止痛）</p>
<p>水三盅，煎八分，空心服。或入食鹽一捻，寒甚加附子、乾薑一二錢；熱甚加黃柏、梔子一二錢；濕勝加防己一錢；堅硬如石加昆布一錢、牡蠣煅三錢；痛甚加桃仁二錢、穿山甲五片、炒乳香五分。</p>
<p><u>苦楝子丸</u></p>
<p>治奔豚、小腹痛、疝氣，如神。</p>
<p>川楝子　茴香（各二兩）　附子（一兩）</p>
<p>三味用酒二升同煮，曬乾為度，焙乾為末，每藥末一兩，入元胡索（三錢，一作五錢）　全蠍（十八個炒）　丁香（十八粒）</p>
<p>共為末，酒煉丸如桐子大。溫酒下五十丸，空心服，如痛甚，煎當歸酒下。</p>
<p><u>三層茴香丸</u></p>
<p>治一切疝氣如神。</p>
<p>大茴香（五錢，同鹽五錢炒，和鹽秤一兩）　川楝（淨肉）　沙參　木香（各一兩）</p>
<p>共為末，煉蜜丸桐子大。每服三錢，空心溫酒下，或鹽湯下，才服盡，接第二料。</p>
<p>照前方加蓽拔一兩、檳榔五錢，共五兩半，依前丸服法；若未愈，再服第三料。</p>
<p>照前二方加茯苓四兩、附子炮一兩，共前八味重十兩，丸服如前，但每服三錢，雖三十年之久，大如栲栳，皆可消散，神效。</p>
<p><u>蜘蛛散</u>（方見《金匱》）</p>
<p>陰狐疝氣，偏有大小，時時上下。</p>
<p><u>洗陰腫核痛</u>（《千金翼》）</p>
<p>治丈夫陰腫如斗，核中痛。</p>
<p>雄黃末　礬石（研各一兩）　甘草（一尺）</p>
<p>水一斗，煮二升洗之，如神。</p>
<p><u>淋洗囊腫神效</u>（《錦囊秘方》）</p>
<p>連須蔥白頭（一十一根，不必洗淨去土）　川椒　麥冬（炒焦）　地膚子（各一兩）</p>
<p>四味煎湯，淋洗囊上良久，次日再洗；以消為度。</p>
<p><u>荔枝散</u>（《種福堂》）</p>
<p>治陰中腫大不消。</p>
<p>頂大荔枝核十二三個，煅灰存性，以火酒調和糊，吃下即消，若未消，連吃二三服。</p>

<h2>眩暈</h2>
<p>《內經》云：諸風掉眩，皆屬於肝。掉，搖也。眩，昏亂旋轉也。皆由金衰不能制木，木旺生風，風動火熾。風火皆屬陽而主動，相搏則為旋轉。《內經》又云：上虛則眩，是正氣虛而木邪干之也。又云：腎虛則頭重高搖，髓海不足，則腦轉耳鳴，皆言不足為病。仲景論眩以痰飲為先，丹溪宗河間之說，亦謂無痰不眩，無火不暈，皆言有餘為病。前聖後賢，何其相反如是。余少讀景岳之書，專主補虛一說，遵之不效。再搜古訓，然後知景岳於虛實二字，認得死煞，即於風火二字，不能洞悉其所以然也。蓋風非外來之風，指厥陰風木而言，與少陽相火同居，厥陰氣逆，則風生而火發，故河間以火風立論也。風生必挾木勢而剋土，土病則聚液而成痰，故仲景以痰飲立論，丹溪以痰火立論也。究之腎為肝母，腎主藏精，精虛則腦海空而頭重，故《內經》以腎虛及髓海不足立論也。其言虛者，言其病根，其言實者，言其病象。理本一貫，但河間諸公，一於清火驅風豁痰，猶未知風火痰之所由作也。余惟於寸口脈滑，按之益堅者為上實，遵丹溪以酒大黃治之。如寸口脈大，按之即散者為上虛，以一味鹿茸酒治之。寸口脈微者，以補中益氣湯，或黃耆白朮煎膏入半夏末治之。然欲榮其上，必灌其根，如正元散及六味丸、八味丸，皆峻補腎中水火之妙劑。乙癸同源，治腎即所以治肝，治肝即所以熄風，熄風即所以降火，降火即所以治痰。神而明之，存乎其人，難以筆楮傳也。如鉤藤、玉竹、菊花，天麻柔潤熄風之品，無不可於各方中出入加減，以收捷效也。</p>

<h3>診法</h3>
<p>左手脈數，熱多，脈澀，有死血，浮弦為肝風；右手滑實為痰積，脈大是久病，虛大是氣虛。</p>
<p><u>正元丹</u>（《秘旨》）</p>
<p>治命門火衰，不能生土，吐利厥冷有時，陰火上衝，則頭面赤熱，眩暈噁心，濁氣逆滿，則胸脅刺痛，臍腹脹急。</p>
<p>人參（三兩，用川烏一兩煮汁收入，去川烏）　白朮（二兩，用陳皮五錢煎汁收入，去陳皮）　茯苓（二兩，用肉桂六錢酒煎汁收入，曬乾勿見火，去桂）　甘草（一兩五錢，用烏藥一兩煎汁收入，去烏藥）　黃耆（一兩五錢，用川芎一兩酒煎收入，去川芎）　薯蕷（一兩，用乾薑三錢煎汁收入，去乾薑）</p>
<p>上六味，除茯苓，文武火緩緩焙乾，勿炒傷藥性，杵為散。每服三錢，水一盞，姜三片，紅棗一枚，擘，煎數沸。入鹽一捻，和渣調服，服後飲熱酒一杯，以助藥力。此方出自虞天益《製藥秘旨》，本《千金方》一十三味，卻取烏頭、薑、桂等辛燥之性，逐味分制四君、耆、薯之中。較七珍散但少粟米，而多紅棗，雖其力稍遜原方一籌，然雄烈之味既去，則真滓無形，生化有形，允為溫補少火之馴劑，而無食氣之虞。真《千金》之功臣也。</p>
<p><u>一味鹿茸酒</u></p>
<p>注云：緣鹿茸生於頭，頭暈而主鹿茸，蓋以類相從也。</p>
<p>鹿茸（半兩）</p>
<p>酒煎去滓，入麝香少許服。</p>
<p><u>一味大黃散</u></p>
<p>丹溪云：眩暈不可當者，此方主之。</p>
<p>大黃酒製三次，為末，茶調下，每服一錢至二三錢。</p>
<p><u>加味左歸飲</u></p>
<p>治腎虛頭痛如神，並治眩暈目痛。</p>
<p>熟地（七錢）　山茱萸　懷山藥　茯苓　枸杞（各三錢）　肉蓯蓉（酒洗，切片，四錢　細辛）　炙草（各一錢）　川芎（二錢）</p>
<p>水三杯，煎八分，溫服。</p>

<h2>頭痛</h2>
<p>景岳云：頭痛一證，暫痛者必因邪氣，久痛者必因元氣。但暫病者，有外感頭痛，有火邪頭痛。久病者，有陰虛頭痛，有陽虛頭痛。然亦有暫病而虛者，久病而實者，又當因脈因證而詳察之，不可執也。或寒熱，脈緊，清涕，咳嗽，脊背疼痛者，此寒邪在表而然，治宜疏散，九味羌活湯及茶調散、清空膏主之。或內熱脈洪，頭腦振振，痛而兼脹者，此火邪在裡而然，治宜清降，玉女煎及一味大黃散主之。或因水虧而火動，蒸熱脈弦，痛兼煩躁者，此陰虛血虛而然，治宜補陰，以六味湯、左歸飲，加肉蓯蓉、細辛、川芎主之。或因遇陰則痛，遇寒亦痛，倦怠脈微者，此陽虛氣虛而然，治宜扶陽，以補中益氣湯加蔓荊子、川芎、八味湯、右歸丸主之。或外感頭痛，當察三陽厥陰。蓋三陽之脈俱上頭，厥陰之脈亦會巔，太陽在後，陽明在前，少陽在側，此又當有所主，亦外感所當辨也。但內傷頭痛，則不得以三陽為拘耳。至真頭痛者，頭痛甚，腦盡痛，手足寒至節，死不治，或灸百壯，吞黑錫丹，可救十中之一。</p>

<h3>脈息</h3>
<p>宜浮滑，忌短澀。</p>
<p><u>九味羌活湯</u>（方見《時方》）</p>
<p>治太陽輕症。</p>
<p><u>葛根湯</u>（方見《傷寒》）</p>
<p>治陽明。</p>
<p><u>小柴胡湯</u>（方見《傷寒》）</p>
<p>治少陽。</p>
<p><u>麻黃附子細辛湯</u>（方見《傷寒》）</p>
<p>治少陰。</p>
<p><u>當歸四逆湯</u>（方見《傷寒》）</p>
<p>治厥陰。</p>
<p><u>川芎茶調散</u>（《局方》）</p>
<p>治久風化火，頭痛及偏正頭風。</p>
<p>川芎　白芷　羌活　防風　荊芥　薄荷　甘草（炙，各一兩）　香附（童便浸，炒，二兩）為末，食後清茶調服二兩，日三服，婦人產後，黑豆淋酒服，輕者三服，重者五七服效。一本無香附，有細辛五錢。</p>
<p><u>清空膏</u></p>
<p>治頭風濕熱上盛，遇風即發。</p>
<p>羌活　黃芩（各一錢，酒炒）　甘草（炙，七分）　防風（一錢）　黃連（五分，酒炒）　柴胡（四分）　川芎（三分）</p>
<p>水煎，入清茶一匙服。</p>
<p><u>玉液湯</u>（《濟生》）</p>
<p>治眉稜骨痛。</p>
<p>半夏（六錢，湯泡七次，切片，作一服）　生薑（十片）</p>
<p>水煎，去渣。納沉香末少許服。</p>
<p><u>玉女煎</u>（《景岳》）</p>
<p>治水虧火盛，六脈浮洪大，頭痛，牙疼，失血等症。</p>
<p>生石膏（三五錢）　熟地（三五錢或一兩）　麥冬（二錢）　知母　牛膝（各一錢五分）水煎服</p>
<p><u>玉真丸</u>（《本事》）</p>
<p>治腎氣不足，氣逆上行，頭痛不可忍，調之腎厥。其脈舉之則弦，按之石堅。</p>
<p>硫黃（二兩）　石膏（煅）　半夏（湯洗）　硝石（各一錢五分）</p>
<p>為末，生薑汁糊丸，如梧子大，陰乾。每服二十丸。或薑湯或米飲下，更灸關元穴百壯。</p>
<p><u>補中益氣湯</u>（方見《時方》）</p>
<p><u>當歸補血湯</u>（方見《時方》）</p>
<p>治血虛頭痛。</p>
<p>按：加鹿茸三錢，沙參五錢，黃酒半杯煎，更效。</p>
<p>又方，只用當歸二兩，黃酒四杯，煎一杯半，分兩服效。</p>
<p><u>加味左歸飲</u>（方見《時方》）</p>
<p>治腎虛頭痛如神，此余鄉前輩胡先生新定方也。</p>
<p><u>清震湯</u>（《保命》）</p>
<p>治雷頭風，頭面疙瘩，憎寒拘急發熱，狀如傷寒。疙瘩宜刺出血。</p>
<p>升麻（二錢）　蒼朮（四錢）　荷葉（一個）</p>
<p>水煎，食後服。</p>
<p><u>頭風摩散</u>（方見《金匱》）</p>
<p>治大寒犯腦頭痛。</p>
<p><u>止痛太陽丹</u>（《奇效》）</p>
<p>天南星　川芎（等分）</p>
<p>為末，同蓮鬚、蔥白作餅，貼太陽痛處。</p>
<p><u>秘方貼頭痛風熱病大黃</u></p>
<p>朴硝（等分）</p>
<p>為末，用井底泥捏餅，貼兩太陽穴。</p>
<p><u>氣攻頭痛方</u>（《奇效》）</p>
<p>蓖麻子、乳香各等分，搗成餅，貼太陽穴。如痛止，急於頂上解開頭髮出氣，即去藥。</p>
<p><u>透頂散</u>（《本事》）</p>
<p>治偏正頭風，遠年近日皆效。並治鼻塞，不聞香臭。</p>
<p>細辛（三莖）　瓜蒂（七枚）　丁香（七粒）　粳米（七粒，一作赤小豆）　龍腦（半分）　麝香（一分）</p>
<p>研末。置小口罐中，緊塞罐口，令患人口含清水，隨左右，搐一豆大於鼻中，良久涎出，即安。不愈，三日後再搐。</p>
<p>按：此本《金匱》納藥鼻中取黃涎之法。酒客多濕頭重者宜之。</p>
<p>又法治偏正頭風，以生萊菔搗汁，令患者仰臥，以汁灌鼻中。左痛灌右，右痛灌左，左右俱痛，俱灌之。</p>
<p>又頭風有偏正之殊，其病皆在少陽陽明之絡，以毫針刺痛處數穴，立效。</p>
<p>張石頑云：外用法不若蒸法最效，方用川芎半兩，晚蠶砂二兩，殭蠶如患年歲之數。以水五碗，煎至三碗，就砂鍋中以厚紙糊滿，中間開錢大一孔，取藥氣熏蒸痛處，每日一次。雖年久者，三五次永不再發。平時置新鮮木瓜於枕邊，取香氣透達，引散肝風，亦良法也。</p>

<h3>簡易方</h3>
<p>頭風腦中空痛，用川芎、當歸各三錢，共研末，黃牛腦一個和勻。分三次，熱酒送下。盡醉臥，醒即愈。</p>
<p>頭風諸藥不效，用大附子一隻切片，同綠豆一升。（今用二盞。）煮熟，去附子，但服綠豆及汁，即愈。</p>
<p><u>生薑貼法</u>（《種福堂》）</p>
<p>治太陽風寒頭痛，及半邊頭痛。</p>
<p>生薑三片，將桑皮紙包好，水濕，入灰中煨熱，乘熱將印堂、兩太陽各貼一片，以帶纏之，立愈。</p>
<p><u>桂麝太陽膏</u>（《種福堂》）</p>
<p>治風寒半邊頭痛。</p>
<p>肉桂心（一分）　麝香（二釐）　人言（一釐）　細辛　辛夷（各五釐）　胡椒（十粒）</p>
<p>共為末，用棗肉搗丸，如豌豆大一粒，放膏中心，貼准太陽穴內，一日見效。如壯年火盛者，愈後服黃芩、大黃瀉火，則痛自愈。</p>
<p><u>白芷細辛吹鼻散</u>（《種福堂》）</p>
<p>治半邊頭痛。</p>
<p>白芷　細辛　石膏　乳香（去油）　沒藥（去油）</p>
<p>上各味等，為研細末。吹入鼻中，左痛吹右，右痛吹左。</p>

<h1>卷五</h1>

<h2>膈症反胃</h2>
<p>膈者，阻隔不通，不能納穀之謂也。又謂之隔言，病在胸膈之間也。上焦出胃上口主納，中焦並胃中主腐化，下焦別迴腸主濟泌。此症三焦失職，百無一生。丹溪指為胃脘乾枯，以四物湯入牛羊乳、竹瀝、韭汁之類主之；薛氏指為怫鬱傷肝，肝木剋土，以左金丸、逍遙散、六君子湯、歸脾湯、六味丸、八味丸之類，隨症間服；易思蘭本此法以治氣膈，晨吞八味丸百粒，暮服暢衛湯，開導其上，滋補其下，多效；趙氏以此病多得之五旬以上，腎水既干，陽火偏盛，煎熬津液，三陽熱結，則前後閉澀，下既不通，必反於上，直犯清道，上衝吸門，須以六味丸料大劑煎飲，久服可挽十中之一二。然以余觀之，膈症既成，終無治法。問曰：既無治法，豈真坐視其亡耶？</p>
<p>修圓曰：即欲服藥，亦不過盡人事而已。吾鄉老醫某，只守程氏啟膈飲一湯，始服頗效，久亦增病。然而痰火鬱氣阻逆於上者，亦借為引導也。《已任篇》專取陽明，以左歸飲加生地、當歸，亦所以開賁門、（此門開則能納食）幽門、（此門開則小便利。）闌門、（此門開則大便潤。）之法也。此數方之意，皆仿於仲景大半夏湯用甘瀾蜜水之法，而不知仲景取半夏以升降陰陽，借人參以重生津液，復得蜜之滋潤，灌溉流通，而阻隔之患乃免。程氏以半夏耗液為禁，豈知仲景麥門冬湯及此方之微旨哉！</p>
<p>張石頑云：古人指噎膈為津液乾枯，故水液可行，乾物梗塞，為枯在上焦。余竊疑之，若果津液枯槁，何以食才下咽，涎隨上湧乎？故知膈咽之間，交通之氣不得降者，皆衝脈上行逆氣所作也。惟氣逆，故水液不得居潤下之常，隨氣逆湧耳。若以津枯而用潤下之劑，豈不反益其邪乎？宜六君子湯加減，挾寒，脈遲細者，加肉桂、附子；挾熱脈數滑者，加枳實、黃連；若噎而聲不出者，加五味子、竹茹；喉中有一塊，食物不下者，痰氣也，加海石、訶子；膈間作痛，多是瘀血，加歸尾、桃仁、韭汁、童便，甚者加大黃微利之。《千金》五噎丸、五膈丸，亦可擇用。</p>
<p>按：張石頑主於衝脈上逆，誠千古灼見。亦從仲景大半夏湯悟出。然必謂潤下之劑反益其邪，是因其涎沫之多，而狃於見症之陋習也。衝脈不治，取之陽明。故仲景以半夏降衝脈之逆，即以白蜜潤陽明之燥，加人參以生既亡之津液。石頑此論，得其半而遺其半也。蓋人之胃中，疊積如膏脂者，謂之胃陰。今因沖氣上逆，日嘔出黏涎，即日亡其胃陰，尚得謂滋潤之劑宜屏絕乎！余所以不敢阿好也。</p>
<p>《人鏡經》曰：《內經》云：三陽結謂之膈。蓋足太陽膀胱經水道不行，手太陽小腸經津液枯涸，足陽明胃經燥糞結聚，所以飲食拒而不入，縱入太倉，還出喉嚨，人之腸胃一日一便，乃常度也。今膈食之人，五七日不便，陳物不去，新物不納，俗醫強分為五膈十噎，支派既多，並喪其實，標本不明，是以火里煨姜，湯中煮桂。胡椒未已，蓽拔繼之；丁香未已，豆蔻繼之。雖曰和胃，胃本不虛；雖曰溫脾，脾本不寒。此病之所以日盛也。法當用三一承氣湯節次微下之，後用芝麻飲啜之，陳腐去而腸胃潔，癥瘕盡而榮衛昌，飲食自進矣。</p>
<p>按：此法雖偏，而百無一生之症，急用之尚有餘望，否則逡巡觀望，何濟於事。</p>
<p>反胃症，朝食暮吐，暮食朝吐。初患者尚可治。王太僕云：食不得入，是有火也；食入反出，是無火也。遵趙氏法，以六味丸治膈症，是壯水之主，以制陽光；以八味丸治反胃，是益火之源，以消陰翳。而自愚論之，食入反出，脾失其消穀之能，胃失其容受之能，宜理中湯溫脾，加麥芽以暢達一陽之氣。與參朮消補同行，土木不害，而脾得盡其所能。或吳茱萸湯溫胃，借吳萸以鎮納厥陰之逆氣，合參棗甘溫相濟，震坤合德，而胃得盡其所能。而猶恐中土大寒，溫補太緩，以乾薑、吳萸、附子、蓽拔，蜜丸，俾火化之速；復恐燥熱上僭，傷上焦絪縕之氣，以沙參、白朮、茯苓、麥芽、五穀蟲、甘草、白蔻仁為末，厚裹於外，又以硃砂六一散為衣，使溫和之藥，在外先行於土，而辛熱之藥，由中焦以直達命門，熟腐水穀。續以八味丸收其全功。若病熱之甚，第以八味丸緩服，未免迂闊矣。（張石頑云：有陽虛不能統運嘔逆便秘，用人參大黃附子攻之即通；瘀血在膈，阻滯氣道而成者，用抵當丸作芥子大，吞二錢。但飲熱湯及食椒姜，輒呃者，有瘀血也。）</p>

<h3>診脈</h3>
<p>浮緩而滑，沉緩而長（皆可治）；弦澀短小。（為難治）</p>
<p><u>大半夏湯</u>（方見《金匱》）</p>
<p><u>啟膈飲</u>（方見《實在易》）</p>
<p><u>三一承氣湯</u>（方見《時方》）</p>
<p>按：久病與羸敗之人，前方未免太峻。余用麻仁丸及高鼓峰新方代之。高鼓峰悟王損庵治膈用大黃之妙，融會一方，頗為穩當。方用熟地五錢，當歸、白芍、桃仁、麻仁各三錢，微微潤之。其形體如常，即以前方內加大黃一二錢，以助血藥。</p>
<p><u>加減左歸飲</u></p>
<p>（經云：腎乃胃之關，關門不利，升降息矣。關門即氣交之中天之樞也，故腎旺則胃陰充，胃陰充則能食。）</p>
<p>《己任篇》曰：膈症一陽明盡之。予治荊溪潘爾修之膈，用左歸飲去茯苓，加生地、當歸兩大劑而便潤食進；又十劑而兩便如常，飲食復舊。蓋以左歸飲中有甘草，則直走陽明，以和其中。且當歸、生地合用，則能清胃火以生其陰。胃陰上濟則賁門寬展，故飲食能進；胃陰下達則幽門、闌門皆滋潤，故二便如常。去茯苓者，恐其分流入坎，不若專顧陽明之效速也。</p>
<p><u>和中暢衛湯</u></p>
<p>紫蘇梗（五分）　香附（醋炒）　神麯（炒）　沙參（各一錢）　桔梗　連翹（去子尖，各六分）　木香（四分）　蒼朮　撫芎　貝母（各八分）　砂仁（三分）　生薑（三片）</p>
<p>水煎服。</p>
<p>易思蘭自注云：香附、蘇梗，開竅行氣；蒼朮健中；貝母開鬱痰；連翹散六經之火；撫芎發肝木之困；神麯行脾之郁；木香逐氣流行；桔梗升提肺氣；沙參助正氣而不助火，此方提上焦之火邪，乃「火鬱發之」之義也。然徒用此方，而不兼補下之藥，雖能解散於一時，其火無水制，必然復生，而痞滿噎膈之疾，恐尤甚於前也。</p>
<p>愚按：《內經》云，膈塞閉絕，上下不通，則暴憂之病也。可見此病多起於鬱結不舒，胃氣不能敷布所致，張雞峰所謂神思間病是也。方中雖是解鬱套藥，而分兩多寡、氣味配合，似有獨得之妙。又與八味丸間服，所以多效。喻嘉言資液救焚湯，與八味丸間服，亦是此意。但救焚湯大涼大降，流於奇險，不如此湯之平易近人也。</p>
<p><u>五噎丸</u>（《千金》）</p>
<p>治胸中久寒，嘔逆妨食，結氣不消。</p>
<p>乾薑　蜀椒　吳茱萸　桂心　北細辛（各一兩）　人參　白朮（各二兩）　橘皮　茯苓（各一兩五錢）　附子（一枚，炮）</p>
<p>上為細末，煉蜜丸桐子大。酒服十五丸，日三服，漸加至三十丸。</p>
<p><u>五膈丸</u>（《千金》）</p>
<p>治飲食不得下，手足冷，上氣喘息。</p>
<p>麥門冬（三兩）　甘草（二兩）　蜀椒（炒，去汗）　遠志肉　桂心　細辛　乾薑（炮，各一兩）　附子（一枚，炮）　人參（二兩）</p>
<p>上為末，煉白蜜丸彈子大。先食噙一丸，細細嚥之。喉中胸尚熱，藥丸稍盡。再噙一丸，日三、夜二服，七日愈。</p>
<p>張石頑曰：二丸同用參附椒辛薑桂之類。一以肝氣上逆，胃氣不下而嘔噎，故用萸、橘以疏肝降逆，苓、術以健脾通津；一以腎氣不蒸，肺胃枯槁而不納，故用冬草以滋肺和胃，遠志以補火生土。又嘔噎而藥食可進者，頻與小丸調之；膈塞而飲食不納者，時用大丸噙之。其立法之詳若此，可不辨而忽諸。</p>
<p><u>吳茱萸湯</u>（方見《傷寒》）</p>
<p><u>理中湯</u>（丸方見《傷寒》）</p>
<p><u>連理丸</u>（理中丸加黃連）</p>
<p><u>八味丸</u>（方見《時方》）</p>
<p>又考隔食反胃，及嘔吐粒米不入之症，多系七情不遂，激動其氣，氣亂載血上逆，菀積於中，胃氣阻隔，用生鵝血乘熱飲之。取其生氣未離，以血攻血，直透關鑰，引宿積之瘀，一湧而出，而胸脅豁然。此法詳於《蘇東坡瑣錄》，前輩金淳還公，即韓慕廬東坦，俱已驗效，推之生鴨血、生黃牛血，亦可用。</p>
<p><u>西洋藥酒方</u>（《錦囊秘授》）</p>
<p>治隔食翻胃，一切痢疾水瀉等症，立驗。</p>
<p>紅豆蔻（去殼）　肉豆蔻（麵裹煨用，粗紙包壓，去油）　白豆蔻（去殼）　高良薑（切片，炒）　甜肉桂（去皮）　公丁香（各研淨細末，戥准五分）</p>
<p>先用上白冰糖四兩，水一飯碗，入銅鍋內煎化，再入雞子清二個，煎十餘沸，入好燒酒一斤，離火置穩便處，將藥末入銅鍋內打勻，以火點著燒酒片刻，隨即蓋鍋火滅，用紗羅濾去渣，入瓷瓶內，用冷水去火氣，隨量少飲之。</p>
<p><u>繆仲淳秘傳膈噎膏</u></p>
<p>人參濃汁　人乳　牛乳　梨汁　蔗汁　蘆根汁</p>
<p><u>龍眼濃汁</u></p>
<p>上七味各等分，加薑汁少許，隔湯熬成膏子。下煉蜜，徐徐頻服之，其效如仙丹。</p>
<p><u>貝母糖酒方</u></p>
<p>好陳酒（一斤）　冰糖（十兩）　貝母（去心）　砂仁　木香　陳皮（各二錢）</p>
<p>上咀片，入瓷瓶內。箬葉紮緊，上放米一撮。煮以米熟為度，每日清晨服一大杯。</p>
<p><u>糖薑餅</u></p>
<p>用糖坊內上好糖糟一斤、生薑四兩，先將糖糟打爛，和姜再搗做小餅。曬乾，放瓷瓶內，置灶煙櫃上。每日清晨，將餅一枚泡滾水內，少停飲湯。</p>
<p><u>八汁湯</u></p>
<p>治噎食。</p>
<p>生藕汁　生薑汁　雪梨汁　蘿蔔汁　甘蔗汁　白果汁　蜂蜜　竹瀝</p>
<p>上各一盞和勻，飯上蒸熟，任意食。</p>
<p><u>牛羊人乳汁</u></p>
<p>治翻胃膈氣，此證必起於腸枯血燥，大便三四日一次。糞如馬慄，若如羊屎者不治，口常吐白沫者不治。</p>
<p>牛乳、羊乳、人乳，不拘分重，總宜常服，為生血潤腸之妙藥。</p>

<h2>瘧症</h2>
<p>瘧疾不離少陽。少陽為半表半裡，邪居表裡之界。入與陰爭則寒，出與陽爭則熱。爭則病作，息則痛止。止後其邪仍據於少陽之經。淺則一日一作，深則二日一作，更深則三日一作。雖有別經，總以少陽為主。故仲景以弦字該本症之脈，蓋於治法只一小柴胡湯。熱多煩渴，加知母、花粉；寒多身疼，加乾薑、桂枝。治之得法。一二服可愈。朱丹溪云：無汗要有汗，散邪為主，帶補正；有汗要無汗，補正為主，帶散邪。大抵於小柴胡湯中無汗，麻黃可加二錢，即三解湯意也。有汗，桂枝、酒芍可各加二錢，即柴胡桂枝湯意也；如三五作不休，即於前方加常山三錢，一服即愈。俗謂常山截瘧，用之太早，則截住邪氣而成他病。不知常山祛痰湧吐，從陰達陽之藥，正所以鼓邪氣外出，何截之有？</p>
<p>余每合穿山甲、金銀花三味，取其通達經絡，又以人參、當歸、白朮、何首烏之類，擇用一二兩為君。於瘧未出時，服之多愈。至於方書分定名色，多歧僅惑。而所應別者，如單寒無熱為牡瘧，宜理中湯、理陰煎加柴胡主之；單熱無寒為痹瘧，或先熱後寒為熱瘧，宜白虎湯加桂枝主之；勞役飢飽過度為勞瘧，宜補中益氣湯加柴胡主之；受山嵐瘴氣為瘴瘧，宜藿香正氣散、平胃散加柴胡主之；久瘧心腹有塊者，名瘧母，以鱉甲飲主之。只此數症，略宜分別，究亦不離少陽一經也。若瘧痢交作，只以小柴胡湯疏少陽之氣，則陷者自舉。加花粉三錢，滋陽明之液，則滯者自通。或即以此湯送香連丸一錢五分，挾虛者，以補中益氣湯倍柴胡煎，送香連丸二錢。此薛立齋先生之心法也。</p>
<p><u>小柴胡湯</u>（方見《傷寒》）</p>
<p>男元犀按：凡服治瘧藥，宜瘧未至前三時服，或煎兩服。一服於瘧期五鼓時服，留一服於瘧未至前二時服，最妙。凡治瘧藥，古法必露一宿，以瘧為暑邪，暑氣得露而消也。又近醫以初瘧，忌用人參、白朮、茯苓，此說本之嵩崖尊生。余雖不滿，亦當從眾。今即照嵩崖，去人參加青皮一錢五分。寒多加乾薑、桂枝各二錢；熱多加知母、花粉各二錢，或加黃連、石膏。本方去人參，加常山、草果、知母、檳榔、川貝母各二錢，名清中驅瘧飲。大意以無痰不成瘧，此方為治症之總方也，然亦多效。</p>
<p><u>鱉甲飲</u></p>
<p>鱉甲（三錢，醋炙）　白朮（炒）　黃耆　川芎　酒白芍　檳榔　草果（煨）　厚朴　陳皮　甘草（各一錢）　生薑（三片）　棗肉（三枚）　烏梅（一枚）</p>
<p>水煎服。</p>
<p>又有久瘧流連不愈，及三陰瘧三日一作者，當分五臟之虛，而施溫補。宜以景岳何人飲、休瘧飲常服。瘧作之期，或加少陽藥一二味，及常山、穿山甲、附子、金銀花之類，以通經絡。或用人參一兩、生薑一兩，濃煎服之。此不截之截法也。家貧者，以冬白朮一二兩代之；血虛者，以當歸一兩代之。</p>
<p>瘧雖有五臟之分，而久瘧證治法，只以補脾為主。蓋以土為萬物之母，五臟六腑皆受蔭焉。況瘧為少陽之邪，戊己之土，久受甲木之克，扶弱抑強之法，權實操於醫者，宜於六君子湯、四君子湯、補中益氣湯諸方，加之意焉。</p>
<p><u>何人飲</u></p>
<p>何首烏（一兩，不見鐵或生用）　人參（二三錢或一兩）　陳皮（一二錢，虛者不用）　煨生薑（二三錢）</p>
<p>水煎服。</p>
<p><u>休瘧飲</u></p>
<p>何首烏（四錢或一兩）　人參（二三錢）　白朮（三錢炒）　當歸（三錢）　炙甘草（一錢）</p>
<p>陰陽水煎服。</p>
<p>又久瘧不愈，必求之腎。如腎水不足，熱多者以六味丸加味主之；腎火不足，寒多者以八味丸加味主之。</p>
<p>《高鼓峰醫案》云：余治一人三陰瘧不愈，令吞八味丸，服人參養榮湯，冬至日再加附子一錢，至半夜汗出而愈。（汗出者陽回之兆，亦邪解之徵也。愈於冬至日者以陽生而陰退也。）</p>

<h3>瘧疾脈象</h3>
<p>瘧脈自弦，浮弦表邪，沉弦里邪，洪弦屬熱，遲弦屬寒，滑弦食積。久瘧之脈，微細虛弱，漸緩則愈，弦緊則殆，土敗雙弦，代散莫救。</p>
<p><u>雄黃龜酒方</u></p>
<p>治三日久瘧神妙。</p>
<p>用活大烏龜一個，連殼。左右肩上各攢一孔，以明雄黃九錢，研細末，每孔糝入三錢。外以磁黃泥包固，勿令泄氣。炭火上煅存性，研細末，每服一錢，空心陳酒送下二三服，即止。</p>
<p><u>香櫞雄黃散</u>　（《種福堂》）</p>
<p>陳香櫞一個去頂皮。大者，每隻加透明雄黃三錢，研細末，糝入香櫞內。炭火中煅存性，再研極細末。每服七分，用軟腐衣作六七包好，嚥下，此日不可吃湯水，任其嘔去頑痰。</p>
<p><u>斑蝥截瘧丹</u>（《種福堂》）</p>
<p>斑蝥　巴豆肉　硃砂（各一錢）　麝香（二分）　雄黃（一錢五分）　蟾酥（五分）</p>
<p>上用黑棗三枚，搗丸如綠豆大。貼眉心一周時，揭下投長流水中。</p>
<p><u>常山草果散</u>（《種福堂》）</p>
<p>常山　草果　川烏　草烏　陳皮　甘草（各一錢，研末）</p>
<p>用絹袋盛貯，聞於鼻間，瘧即止，不必煎服。</p>
<p><u>椒雄貼臍丸</u>（《種福堂》）</p>
<p>胡椒　雄精</p>
<p>上二味等分研末，將飯研爛為丸，如桐子大，外以硃砂為衣。將一丸放在臍中，外以膏藥貼上，瘧即止。</p>
<p><u>術姜烏棗丸</u>（《種福堂》）</p>
<p>白朮（一斤）　生薑（一斤，搗出汁，拌白朮渣，曬乾）</p>
<p>上為細末，將黑棗一斤，煮爛，去皮核為丸。</p>
<p><u>桂麝椒雄膏</u>（《種福堂》）</p>
<p>治虛寒瘧，孕婦忌貼。</p>
<p>桂心（一分）　麝香（三釐）　雄黃（七釐）　川椒（七枚）</p>
<p>共研極細末，納臍中，外以膏藥貼之。</p>
<p><u>荸薺燒酒</u>（《種福堂》）</p>
<p>治不論雙單瘧。</p>
<p>用大荸薺，將好燒酒自春浸至秋間。如瘧至不貪飲食，食則脹滿不下者，每日服荸薺兩個，三日即愈。</p>

<h2>痢症</h2>
<p>王損庵云：痢症不外濕熱二字，所受不外陽明一經。陽明為多氣多血之府。濕，陰邪也，濕勝於熱，則傷陽明氣分，而為白痢；熱，陽邪也，熱勝於濕，則傷陽明血分，而為赤痢，濕熱俱盛，則為赤白俱見。初病即以芍藥湯主之。大意以行血則膿血自愈，調氣則後重自除。真百發百中之奇方也。若發熱頭痛，脈浮而緊，是風寒鬱而不解，內陷而為痢。宜以人參敗毒散，鼓之外出。苟得微汗，其痢自松。若徒用痢門套藥，殺人不少。大抵痢症漸久漸虛，而用藥亦宜漸補漸調。四君子湯、六君子湯、四物湯、補中益氣湯之類，煎送香連丸，是薛立齋先生治法，余遵用甚效。</p>
<p><u>芍藥湯</u>（方見《時方》）</p>
<p>治痢初起，腹痛裡急後重者。</p>
<p>小便短澀者，加滑石二錢、澤瀉錢半；腹痛者，加砂仁一錢；滯澀難出者，加當歸、白芍各錢半；甚者，加大黃一錢；若食積者，加山楂三枚；白痢者，加陳皮、砂仁、茯苓各一錢；紅痢者，加川芎、桃仁各一錢；紅白相雜者，加川芎、桃仁以理血，滑石、陳皮、蒼朮以理氣；如嘔吐食不下者，加黑梔、蓮子去殼三錢、倉米三錢，入生薑汁一滴，緩緩呷之，以瀉胃口之熱濕。</p>
<p><u>人參敗毒散</u>（方見《時方》）</p>
<p><u>加味平胃散</u></p>
<p>蒼朮（二錢）　陳皮　甘草（各一錢）　厚朴（一錢五分）　豬苓　黃芩　澤瀉（各一錢五分）　乾薑（五分）　白芍（三錢）　陳倉米（一錢五）</p>
<p>水煎服，色紅者去乾薑，加當歸三錢、黃連一錢。</p>
<p><u>香連丸</u>（方見《時方》）</p>
<p>張景岳謂痢症是夏月畏熱貪涼，過傷生冷，至大火西流，新涼得氣，則伏陰內動，應時而為下痢。初起宜抑扶煎、佐關煎溫藥以調之導之，久痢用胃關煎，溫補命門真火，以扶脾土，則痢自止。景岳此說雖偏，不可盡信，而陰臟之人，素多寒病，一有不慎，即患此症，不可不知。</p>
<p>余每於此症初起，察其脈遲而細，手足俱冷，腹痛而裡急後重者，以乾薑二錢、附子一錢、吳萸一錢、當歸三錢、炙甘草一錢、大黃、白芍各一錢五分溫通之，久痢每以八味丸與補中益氣湯間服收功。粟殼、訶子、赤石脂、肉豆蔻兜澀之藥，不可早服。久痢亦不可廢。</p>
<p>又噤口痢，乃胃中濕熱之毒，熏蒸清道而上，以致胃口閉塞，而成噤口之證。亦有誤服澀熱之藥，而邪氣停於胃口者，用人參、石蓮子等分，煎服強呷，但得一口下咽，虛熱即開。更以二味為末，頻頻服之。《種福堂》用五穀蟲三錢，微炒研末，以米湯送下。</p>
<p>又休息痢，流連年餘不愈，愈而又作，是兜澀太早，餘邪未淨。宜巴豆仁一錢，研去油淨，當歸一兩、萊菔子五錢炒，同研為末。以冬蜜為丸，如桐子大，每空心以開水送下三丸至七丸，以竭其餘邪，自愈。</p>
<p>張石頑曰：血色鮮紫濃厚者，屬熱。若瘀晦稀淡如瑪瑙色者，為陽虛不能制陰而下，非溫理其氣，則血不清。理氣如爐冶分金，最為捷法。設不知此，概行疏利之法，使五液盡隨寒降而下，安望有寧止之日哉！</p>
<p>以伏龍肝二兩，取其溫暖土臟，煎湯代水。煮參、朮、苓、草、薑、桂等藥，多取奇效。</p>
<p>五色痢是精氣受傷、五液不守之患。宜益火消陰，實脾堤水，兼分理其精氣。即噤口不食者，亦不出此法。</p>
<p>又曰：丹溪治噤口痢，多用石蓮子。今此物真者絕無，余常用藕汁煮熟，稍加糖霜頻服。兼進多年陳米稀糜，調其胃氣取效，此即石蓮子之意也。</p>
<p>又曰：休息痢，服補中益氣數劑不應，反下鮮紫血塊者，此久風成飧泄。風氣通於肝，肝傷不能藏血也。三奇散倍防風，加羌、葛、升麻，其一切利水破氣藥，皆為切禁。</p>
<p><u>三奇散</u></p>
<p>治痢後下重。</p>
<p>枳殼（生）　防風（各一兩）　黃耆（二兩）</p>
<p>為散，每服二錢，米飲下。</p>
<p><u>伏龍肝湯丸</u></p>
<p>治胎前下痢，產後不止。</p>
<p>炮黑山楂肉（一兩）　熬焦黑糖（二兩）</p>
<p>二味一半為丸，一半為末。用伏龍肝二兩，煎湯代水。煎末二錢，送前丸二錢。日三，夜二服，一晝夜令盡。氣虛加人參二三錢以駕馭之；虛熱加炮薑、肉桂、茯苓、甘草；兼感風寒加白蔥、香豉；膈氣不舒，磨沉香汁數匙調服。</p>
<p><u>羊脂煎</u>（《千金》）</p>
<p>治久痢不痊。</p>
<p>羊脂（一棋子大）　白蠟（二棋子大）　黃連（末一升）　醋（七合，煎，取稠）　蜜（七合煎取五合）　烏梅肉（二兩）　亂髮（炭，洗去垢膩燒末，一升）</p>
<p>上七味，合內沙鍋中湯上煎之，攪可丸，飲服如桐子大三十丸，日三服。</p>
<p>張石頑曰：羊脂性滑利，《千金方》用治久痢不瘥，專取滑利，以通虛中留滯也。其後且有羊脂、阿膠、蜜、蠟、黍米作粥方，深得炎帝本經補中寓瀉之意。</p>

<h3>生死症及脈法</h3>
<p>身不熱者輕，身熱者重，發熱不休者死。能食者輕，不能食者重，絕食者死。發嘔者死。直腸自下者死。久痢忽大下結糞者死。小兒出痘後即發痢者死。婦人新產即發痢者死。澀為血少，尺微厥逆，滑大主積，浮弦急死，沉細無害。</p>

<h2>痢疾續論</h2>
<p>次男元犀按：近傳治痢有三禁。一曰發汗。蓋以下利一傷其津液，發汗再傷其津液，津液去則胃氣空，而下出之濁氣，隨汗勢而上入胃中，遂成脹滿難治。二曰利水。蓋以痢疾裡急後重，滯痛難忍，若前陰過利，而後陰愈澀，而積滯之物欲下甚難。三曰溫補。蓋以痢為濕熱所傷，得溫則以火濟火，恐致腐腸莫救。得補則截住邪氣，多致流連難愈。此三者，時醫傳授之心法也。然亦有不可泥者。《醫學真傳》曰：凡痢疾初起，發熱不休，非肌表有邪，即經絡不和。溫散而調營衛，外邪一解，其痢自松。若概以為熱，開手即用寒涼，多有陷入變劇者不少。故喻嘉言所謂下痢必從汗，先解其外，後調其內。首用辛涼以解其表，次用苦寒以清其里，一二劑愈矣。（用治痢之方再加發表之藥）失於表者，外邪但從里出，不死不休，故雖百日之遠，仍用逆流挽舟之法，引其邪而出之於外，則死症可活，危症可安。人參敗毒散主之。（服後逼其暫時燥，熱頃之邪從表出熱自解矣。）此可見發汗是治痢之要法也。又喻嘉言有急開支河一法。謂熱邪之在裡者，奔逼於大腸，必鬱於膀胱。膀胱結熱，則氣不化而小便短赤。不可用逆挽，宜從其小便而順導之。然而水出高源，尤宜用辛涼之藥，清肺之化源。《金匱》有下利肺癰者，紫參湯主之。（通因通用）。氣利，訶藜勒散主之。（通以下涎液，消宿食，破結氣，澀以固腸脫，通塞互用之意也。）亦見利水非古人之所忌也。至於溫補法，詳於《景岳全書》。如佐關抑扶二煎，非溫劑乎？胃關煎非補劑乎？雖矯枉之說，不能無偏，亦堪為肆用芩連楂樸者之救弊也，誰曰治痢有三禁乎？</p>
<p>喻嘉言曰：又有驟受暑濕之毒，水穀傾囊而出，一晝夜七八十行，大渴引水自救，百杯不止。此則腸胃為熱所攻，頃刻腐爛。更用逆挽之法，迂矣！遠矣！每從《內經》「通因通用」之法，大黃、黃連、甘草，一晝夜連進三五十杯，俟其利止渴緩，乃始乎調於內，更不必挽之於外。蓋邪如決水轉石，乘勢出盡，勿可挽也。又曰：治瘧之法，當從少陽而進退其間。進而從陽，則從少陽為表法固矣。乃痢疾之表亦當從於少陽。蓋水穀之氣，由胃入腸，疾趨而下，始焉少陽生髮之氣不伸，繼焉少陽生髮之氣轉陷。故泛而求之三陽，不若專而求之少陽。俾蒼天清淨之氣，足以升舉水土物產之味，自然變化精微，轉輸有度，而無下利奔迫之苦矣。況兩陽明經所藏之津液，既已下泄，尤不可更發其汗，當從少陽用和法，全非發汗之意。津液未傷者，汗出無妨；津液既傷者，皮間微微得潤，其下陷之氣已舉矣。</p>
<p><u>小柴胡去半夏加栝蔞根湯</u>（方見《金匱》）</p>
<p>喻嘉言曰：此方乃少陽經半表半裡之的劑。原方用半夏之辛溫，半兼乎表；今改用栝蔞之涼苦，半兼乎里。退而從陰，則可進而從陽，不勝其任矣。但不必更求他藥，惟於柴胡增一二倍用之，尤為進之之法也。</p>
<p><u>人參敗毒散</u>（方見《時方》）</p>
<p>喻嘉言曰：活人此方，全不因病痢而出。但余所為逆挽之法，推重此方，蓋借人參之大力，而後能逆挽之耳。</p>
<p><u>胃關煎</u>（見泄瀉）</p>
<p><u>佐關煎</u>（《景岳》）</p>
<p>治生冷傷脾，瀉痢未久者，宜此湯。此胃關煎之佐也。</p>
<p>厚朴（炒）　陳皮（各一錢，炒）　山藥　扁豆　豬苓　澤瀉（各三錢）　乾薑（二三錢，炒）　肉桂（一二錢）　甘草（七分，炙）</p>
<p>水煎服。如腹痛者，加木香、吳萸之類；泄甚者，加故紙、肉蔻之類。</p>
<p><u>抑扶煎</u>（《景岳》）</p>
<p>治暴傷生冷，致成瀉痢。初起血氣未衰者，此胃關煎表裡藥也。</p>
<p>厚朴　陳皮　烏藥（各一錢五分）　豬苓　澤瀉　炮乾薑（各二錢）　吳茱萸（五七分）　甘草（一錢，炙）</p>
<p>水煎服。</p>
<p><u>斗門秘傳方方</u>（見《時方》）</p>
<p>治毒痢。臟腑撮痛，膿血赤白，或下血片，日夜不息，及噤口惡痢他藥所不能治者，立見神效。</p>
<p><u>附子丸</u>（《聖濟總錄》）　治洞泄寒中，注下水穀，或痢赤白，食已即出，食物不消。（春傷熱風，邪氣流連，至長夏發為洞泄。陰生於午，至未為甚，長夏之時脾土當旺，脾為陰中之至陰，故陰氣盛。陰氣既盛則生內寒而洞泄矣。）</p>
<p>附子　烏梅肉（各一兩，炒）　川連（二兩，炒）　乾薑（一兩半，炒）</p>
<p>蜜丸桐子大。米飲下二十丸。</p>
<p><u>通聖散</u>（《聖濟總錄》）</p>
<p>治血痢腹痛，日夜無度。</p>
<p>大棗　烏梅（各三枚）　甘草（三錢）　乾薑（一錢五分）</p>
<p>水煎服。</p>
<p><u>和中散</u>（《聖濟總錄》）</p>
<p>治冷熱痢，腹痛裡急。</p>
<p>附子（一錢四分，赤痢減半）　川連（一錢四分，白痢減半）　乳香（一分五釐）</p>
<p>共為末，米飲湯下。未止，用青皮再下二服。</p>
<p><u>黑豆湯</u>（《聖濟》）</p>
<p>治赤白痢，服藥不止。</p>
<p>黑豆（炒，去皮，四兩）　甘草（二兩）</p>
<p>用綿裹，入湖水煎二杯，分二服。</p>

<h1>卷六</h1>

<h2>傷暑</h2>
<p>夏日炎炎，耗傷元氣。故病必體倦脈弱，身熱自汗，煩躁，面垢唇青。李東垣以動而得之為中熱，靜而得之為傷暑，熱陽而暑陰也。其實未確。蓋以暑字從日，暑即熱也，何必分名。但動靜二字，是陰陽分別。茲仍分動以得之、靜以得之，以為此症提綱。</p>
<p>何謂動以得之？長途赤日，荷重作勞，因而致病。如大熱（傷暑而發熱頭痛與傷寒症同，但傷寒脈浮而緊，傷暑脈洪而虛，以此為辨。香薷是解表卻暑之藥，夏日之用香薷與冬日之用麻黃同義也。）大渴，脈浮自汗，以白虎人參湯主之。更加身體重著，是暑而挾濕，宜蒼朮白虎湯主之。若有吐瀉腹痛，此方不可輕用也。若前症發熱身疼，口燥咽乾，或吐或瀉，宜黃連香薷飲主之。又有暑風症，因暑氣鼓激痰火，塞礙心竅，以致卒倒不省人事，宜吐之，或以《千金》消暑丸灌之。</p>
<p><u>白虎湯</u>（見《傷寒》）</p>
<p>一加人參二錢，名白虎人參湯。治汗出惡熱、身熱大渴等症；</p>
<p>一加蒼朮二錢，名蒼朮白虎湯，治汗出身熱足冷等症。</p>
<p><u>黃連香薷飲</u>（方見《時方》）</p>
<p>去黃連，名香薷飲。治同。</p>
<p>暑風發搐，加羌活、秦艽各一錢；瀉利，加白朮、茯苓各一錢五分；虛汗不止，加白朮一錢五分、炙黃耆三錢；心煩，加梔子、硃砂各一錢；嘔吐，加半夏二錢，藿香、陳皮各八分，薑汁少許。</p>
<p>何謂靜以得之？避暑於深堂大廈，為陰寒所遏，暑不得越。手足厥逆者，大順散主之；霍亂吐瀉口渴者，五苓散主之；不渴者，理中湯主之。亦有以二湯送下六一散三錢者，巧法不可言傳也。</p>
<p><u>大順散</u></p>
<p>乾薑（一錢，炒）　甘草（八分，炒）　杏仁（六分，去皮尖，炒）　肉桂（六分）</p>
<p>共為末，每服五錢。水一盅，煎七分服。如煩躁，井花水調下三四五錢。</p>
<p>又有遇夏即病，秋後即愈，是暑傷元氣。如草木遇盛日則痿，得雨露則挺，名曰疰夏症。宜補中益氣湯，照《薛氏醫案》，去升麻、柴胡，加麥冬一錢五分，五味、黃柏各五分，炮姜三分，服三四劑。</p>
<p>又生脈散、清暑益氣湯、六一散，皆卻暑之良方。一切暑病，不可須臾離之。學者當於三方求其奧旨，難以縷陳。</p>

<h3>脈法</h3>
<p>傷暑，脈洪而虛。</p>
<p><u>大蒜新汲水方</u></p>
<p>治中暑法。</p>
<p>大蒜一把，同新黃土研爛。以新汲水和之，濾去渣，灌入即活。凡中暑傷者，不可便與冷物。俟稍蘇，方可投冷物，則中氣運動無患也。</p>
<p><u>田中干泥圈臍方</u></p>
<p>治中暑昏眩，煩悶欲絕，急救法。</p>
<p>取田中干泥，做一圈，堆在病人肚上。使少壯人撒尿於泥圈肚臍中，片時即得生蘇矣。後不可飲冷湯，須進溫米湯。</p>
<p><u>絲瓜白梅方</u></p>
<p>治中暑霍亂。</p>
<p>絲瓜葉（一片）　白霜梅（一枚，並核中仁）</p>
<p>上同研極爛，將新汲水調服。入口立瘥，切不可飲熱湯。</p>
<p><u>陳皮藿香湯</u></p>
<p>治傷暑急暴霍亂吐瀉方。</p>
<p>陳皮（五錢）　藿香（五錢）</p>
<p>上用土澄清水二杯，煎一杯，服之立愈。</p>
<p><u>扁豆飲</u></p>
<p>治傷暑。</p>
<p>取扁豆葉搗汁一碗，飲之立愈。</p>
<p><u>鹽薑湯</u></p>
<p>治傷暑霍亂，上不得吐，下不得瀉，身出冷汗，危在頃刻者。</p>
<p>食鹽（一兩）　生薑（五錢，切片）</p>
<p>同炒變色，以水一大碗煎服，吐出自愈。不可熱服，好後切不可遽吃飯食，俟餓極後，方可吃稀粥。</p>
<p><u>取新汲水法俱</u>（見《種福堂》）</p>
<p>治中暑昏眩，煩悶欲絕。急救，挖地深三尺，取新汲水傾入坑內，攪濁，飲數甌即愈。</p>

<h2>腫症</h2>
<p>（腫者，腫於外，脹者，脹於內。二症宜分看。然二症相因亦宜合看。）</p>
<p>腫者，皮膚腫大。古人有氣水之分，其實氣滯則水不行，水不行則氣愈滯，二者相因為病。水脹篇，以按其腹窅而不起者，為氣腫；按其腹隨手而起，如囊裹水之狀者，為水腫。景岳反其說，以水症按之窅而不起，此水在肉中，如糟如泥之象，未必如水囊之比；按之隨起，惟虛無之氣，其速乃然。余閱歷之久，知二說亦不必拘。大抵腫微則按之隨起，腫甚則按之不起。兩脅及轉動之處，按之即起；足面及膝股內側，按之不起。辨症不必以此為憑。當於小便之利與不利，以分陰陽。身之多熱與多寒，脈之洪大與細微，以分寒熱。病之起於驟然，與成於積漸，及年高多病，與少壯無病之人，分其虛實。以先腹而後四肢，或先四肢而後及於腹，分其順逆。景岳云：水氣本為同類。治水者當兼理氣，蓋氣化水自化也；治氣者亦當兼行水，以氣行而水亦行也。此症當與癃閉症參看。</p>
<p>初患腫病，氣喘不得臥，以五皮飲為第一方。蓋此方以皮治皮，不傷中氣，所以為妙。</p>
<p>若腫而兼脹，小水不利，宜胃苓湯主之。或以四苓散，以半熟蒜搗丸服，極妙。</p>
<p><u>五皮散</u></p>
<p>按上身腫，宜發汗，加蘇葉、荊芥、秦艽各一錢五分；下身腫，宜利水，加赤小豆、木通各一錢五分，防己一錢。</p>
<p>口渴多熱，小便不利，為陽水，加滑石、木通、車前子、麥冬各一錢五分，木香五分；不渴，小便自利，多寒，為陰水，加白朮、蒼朮各二錢，附子、乾薑、木香各一錢。</p>
<p>脈滑實，腹脹脅滿，加生菔子一錢五分、白芥子八分、枳實一錢、半夏二錢。</p>
<p>婦人經水不調而腫，是血化為水，名水分，加紅花八分，桃仁、香附各一錢五分；婦人經水適斷即腫，是水化為血，名氣分，加當歸三錢、五靈脂醋炒一錢五分、香附一錢五分。</p>
<p>按服此方愈後，必加減腎氣丸及六君子湯之類收功。</p>
<p><u>胃苓散</u>（俱見《妙用》）</p>
<p><u>四苓散加味為丸</u></p>
<p>白朮（一兩，炒）　茯苓（二兩）　豬苓（一兩）　澤瀉（一兩）</p>
<p>研末，以半熟蒜為丸，如綠豆大，開水送下三五錢。</p>
<p>腫症，積漸而成，及久而不愈。氣喘口渴，不臥，腹脹，小便短少，大便微溏，一切危症，不外薛氏加減腎氣丸主之。</p>
<p>張景岳曰：《內經》云：腎為胃關，開門不利，故聚水而從其類也。然關門而何以不利也？《經》曰：膀胱者，州都之官，津液藏焉，氣化則能出矣。夫所謂氣化者，即腎中之氣也，即陰中之火也。陰中無陽，則氣不能化，所以水道不通，溢而為腫。故凡治氣者，必先治水；治水者，必先治氣。若氣不能化，則水必不利。惟下焦之真氣得行，始能傳化。惟下焦之真水得位，始能分清。求之古法，惟薛立齋先生加味腎氣丸，誠對症之方也。余屢用之，無不見效。</p>
<p><u>薛氏加減腎氣丸</u></p>
<p>熟地（四兩）　茯苓（三兩）　牛茱肉　山藥　丹皮　牛膝　澤瀉　車前　肉桂（各一兩）　附子（五錢）</p>
<p>煉蜜丸如桐子大。每服三錢，開水送下，一日兩服。如素稟陽盛，三焦多火，煩渴，面赤喘嗽，脈滑實，此濕熱相因，陰虛之證，去桂、附，加麥冬主之。《醫學心悟》云：下焦濕熱，去桂、附，加黃柏、蛤蜊粉最妙。</p>
<p><u>麻黃附子湯</u>（方見《金匱》）</p>
<p>去附子加杏子、石膏，名杏子湯。</p>
<p>又《明醫指掌》云：腫勢太盛，內而膀胱，外而陰囊，相連緊急，阻塞道路。雖加利水之劑，苦無一線之通，病何由去。必開大便以逐其水，隨下而隨補，則病已去而脾無恙。漸為調理，庶可得生。慎毋守利水之舊規也。如腫勢未盛，還以利水為上策。</p>
<p>按：此法惟少年體壯，可以偶用，否則不可輕試。</p>

<h3>脈色</h3>
<p>脈沉遲，大便滑，小便利，口不渴，面青白，為陰；脈沉數，大便燥，小便赤，口渴面赤，為陽。大抵脈喜浮大，忌遲細。</p>
<p>仲景云：水腫脈浮者死，謂腫盛皮膚甚厚，脈浮於皮毛之外，輕捫之如隔一紙，是死脈。</p>

<h3>腫脹危候</h3>
<p>大凡水腫，先起於腹而後散四肢者，可治；先起於四肢，而後歸於腹者，難治。掌腫無紋者死。大便滑泄，水腫不消者死。唇黑、唇腫、齒焦者死。臍腫突出者死。缺盆平者死。陰囊及莖俱腫者死。脈絕、口張、足腫者死。足跗腫，膝如斗者死。肚上青筋見，瀉後腹腫者死。</p>
<p><u>燈草蘿蔔湯</u>（《種福堂》）</p>
<p>治腫脹。</p>
<p>燈草（一大把，先將水四碗煎至三大碗）　蘿蔔子（一兩，微炒）　砂仁（二錢，微炒）</p>
<p>將二味研末，傾入燈草湯內。略滾，即盛入壺內。慢慢吃下，吃盡不見效，如前再煎一服，俟腹響放屁，小便長，而腫即退。</p>

<h2>脹症（宜參看腫症）</h2>
<p>脹者，心腹脹滿。實者脹起於驟然，便實，脈滑而實，宜散之，消導之，攻下之；虛者脹成於積漸，小便利，大便滑，脈澀小虛微，病在中焦，以參、術補之；病在下焦，以桂、附、吳萸溫之，或兼行滯之品，而標本並治，亦有與腫症相兼者，當參看腫症辨症法。</p>
<p>脹而屬熱，脈實而滑者，廓清飲主之。</p>
<p><u>廓清飲</u></p>
<p>枳殼（二錢）　姜樸（一錢五分）　大腹皮（一錢）　茯苓（二錢）　白芥子（五七分或一二錢）　萊菔子（生搗一錢，如中不甚脹，能食者，不必用）　澤瀉（一二錢）　陳皮（一錢）</p>
<p>水煎服。</p>
<p>脹而屬寒者，胃苓湯主之。兼小便不利者，四苓散以蒜為丸主之。（二方見腫症）</p>
<p>脹而屬七情所致者，宜四七湯主之，逍遙散亦主之。</p>
<p><u>四七湯</u></p>
<p>半夏（三錢）　茯苓（三錢）　厚朴（二錢）　蘇葉（一錢）　生薑（三片）</p>
<p>水煎服。</p>
<p>此方妙在紫蘇葉一味。辛以散結，香以醒脾，而順氣消脹行水，乃其餘事。</p>
<p><u>逍遙散</u>（方見《時方》）</p>
<p>此症宜加半夏二錢，以降逆氣；加生麥芽二錢，以達肝氣。蓋麥先春而萌芽，得春生之氣最早也。</p>
<p>脹而屬虛者，脈微弱細小，喜摩按，二便利，氣衰言微，宜六君子湯、理中湯合八味丸服之。</p>
<p>單腹脹，死症也。或青年壯健，起於驟然，若心下堅大如盤者，以《金匱》桂枝去芍藥加麻黃附子細辛湯，直搗其痰水氣血之巢穴。嗣以枳朮散消補並施，可救十中之一。然此猶實症也。若虛症難治，攻之則速其危，補之愈增其脹。余家傳有消鼓丹，加白朮一兩，試用四五劑，不增脹，方可議治。但消鼓丹方中陽起石無真，硫黃非從倭來，亦不能效，故方亦不列。又名鼓脹，以外實中空，其狀如鼓也。又名蠱脹，《易》曰，蠱，壞極而有事也。人病蠱者，脾土敗壞，身不即死，復有事也，事猶病也。</p>
<p><u>桂枝去芍藥加麻黃附子細辛湯</u>（方見《金匱》）</p>
<p><u>枳朮散</u>（方見《金匱》）</p>
<p>白朮（四兩）　枳實（二兩）</p>
<p>研末，每服三錢，穀芽湯送下。</p>

<h3>脈象</h3>
<p>喜浮大，忌虛小。余參看腫症脈。</p>
<p><u>蘿蔔牙皂散</u></p>
<p>治五臌神方。</p>
<p>蘿蔔子（四兩，用巴豆十六粒同炒）　牙皂（一兩五錢，煨，去弦）　沉香（五錢）　枳殼（四兩，火酒煮，切片，炒）　大黃（一兩，酒，焙）　琥珀（一兩）</p>
<p>上共為末，每服一錢。隨病輕重加減，雞鳴時溫酒送下。薑湯下亦可，後服《金匱》腎氣丸，調理收功。</p>
<p><u>蕉扇千金滑石散</u></p>
<p>治水臌。</p>
<p>陳巴蕉扇（去筋，燒灰存性，五分）　千金子（去油，殼，一分五釐）　滑石（二分）</p>
<p>共為細末。以腐皮包，滾水送下，一服痊愈。</p>
<p><u>黃牛糞散</u></p>
<p>治臌脹。</p>
<p>用四五月時黃牛糞陰乾，微炒黃香，為末，每服一兩。煎半時，濾清服之，不過三服即愈。</p>
<p><u>葫蘆糯米酒散</u></p>
<p>治中滿臌脹。</p>
<p>陳葫蘆（一個，要三四年者佳）　糯米（一斗）</p>
<p>作酒待熟，用葫蘆瓢於炭上炙熱，入酒浸之，如此五六次。將瓢燒灰存性，為細末，每服三錢酒下。</p>
<p><u>豬肚大蒜湯</u></p>
<p>治臌脹。</p>
<p>雄豬肚子（一個）　大蒜（四兩）　檳榔（研末）　砂仁（研末，各三錢）　木香（二錢）</p>
<p>砂鍋內用河水煮熟，空心服豬肚，立效。</p>
<p><u>橘葉青鹽湯</u></p>
<p>治肝氣脹。</p>
<p>烏梅（三個）　鮮橘葉（三錢）　青鹽（三分）　川椒（二錢）</p>
<p>水煎，空心服。</p>
<p><u>蛤蟆砂仁散</u></p>
<p>治氣臌。</p>
<p>將大蛤蟆一隻破開，用大砂仁填滿腹中，黃泥封固，炭上煅紅，冷定去泥研末。陳皮湯調服，放屁即愈。</p>
<p><u>蘿蔔砂仁散</u></p>
<p>治氣臌氣脹。</p>
<p>蘿蔔子二兩搗研，以水濾汁。用砂仁一兩，浸一夜，炒乾。又浸又曬，凡七次，為末。每米湯送下一錢。</p>
<p><u>田螺解脹敷臍方俱</u>（見《種福堂》）</p>
<p>治一切臌脹，肚飽發虛。</p>
<p>大田螺（一個）　雄黃（一錢）　甘遂末（一錢）　麝香（一分）</p>
<p>先將藥末用田螺搗如泥，以麝置臍，放藥臍上，以物覆之，束好。待小便大通，去之。重者用此相兼，小便大通，病即解矣。</p>

<h2>消渴</h2>
<p>傷寒太陽症消渴，小便不利，宜五苓散；厥陰症消渴，宜大承氣湯之類。與雜病之消渴，名同而病異。宜分別之。</p>
<p>《經》云：心移熱於肺，傳為鬲消。昔醫名為上消，以白虎湯加人參治之。又云：大腸移熱於胃，善食而瘦，昔醫謂為中消，以調胃承氣湯下之；下消者，煩躁引飲，耳輪焦乾，小便如膏，或飲一升尿一升，飲一斗尿一斗，以腎氣丸主之。</p>
<p>趙氏曰：治消之法，無分上中下，先治腎為急。惟六味、八味及加減八味丸，隨症而服。降其心火，滋其腎水，則渴自止矣。白虎、承氣，皆非所治也。或曰，人有服地黃湯而渴仍不止者，何也？曰：此方士不能廢其繩墨，而更其道也。蓋心肺位近，宜制小其服；肝腎位遠，宜制大其服。如上消中消，可以前丸緩而治之；若下消已極，大渴大燥，須加減大八味丸料一斤、納肉桂一兩，水煎六七碗，恣意冰冷飲之，睡熟而渴如失矣。處方之制，存乎人之變通耳。</p>
<p>或問下消無水，用六味丸以滋少陰腎水矣，又加附子、肉桂者何？蓋因命門火衰，不能蒸腐水穀，水穀之氣，不能熏蒸上潤乎肺，如釜底無薪，鍋蓋乾燥，故渴。至於肺亦無所稟，不能四布水精，並行五經，其所飲之水，未經火化，直入膀胱，正謂飲一升尿一升，飲一斗尿一斗，觀其尿味甘而不咸可知矣。故用桂、附之辛熱，壯其少陰之火。灶底加薪，枯籠蒸溽，槁苗得雨，生意維新，惟明者知之，昧者鮮不以為迂也。</p>
<p>張隱菴（諱志聰，本朝人，著《本草崇原》並《侶山堂類辨》）曰：有脾不能為胃行其津液，肺不能通調水道，而為消渴者，人但知以清涼藥治消，而不知脾喜燥而肺惡寒。誠觀泄瀉者必渴，此因水津不能上輸而惟下泄，故而以燥脾之藥治之，水液上升，即不渴矣。故以涼潤治渴，人皆知之；以燥熱治渴，人所不知也。</p>

<h3>附案</h3>
<p>辛亥歲，到義溪，有一婦人，產後一年，口渴不止。服藥不效，予用四君子湯，加麥冬、烏梅、生乾薑。蜜丸彈子大。令其噙化，三日知，十日痊愈。方中妙在白朮之苦燥，乾薑之辛熱，所以鼓胃氣而升其水液也。</p>
<p><u>玉泉散</u></p>
<p>治消渴</p>
<p>白甘葛　天花粉　麥冬　生地　五味子　甘草</p>
<p>各等分，水煎服。</p>
<p><u>還津丸</u></p>
<p>止渴生津。</p>
<p>酸梅　烏梅（各二十五枚，枚俱去核）　薄荷末（一兩）　冰片（一分五釐）　硼砂（一錢五分）</p>
<p>共研極細末，為丸，每含一丸。</p>
<p><u>消渴潤燥方</u></p>
<p>白蜜　人乳酥（各一斤）</p>
<p>上溶化一處，每日不拘時服。</p>
<p><u>繅絲湯</u></p>
<p>治消渴。</p>
<p>用繅絲湯飲之。</p>
<p><u>麻仁丸</u>（方見《傷寒》）</p>
<p><u>腎氣丸</u>（方見《金匱》）</p>
<p><u>六味丸</u>（方見《時方》）</p>
<p><u>炙甘草湯</u>（方見《傷寒》）　三方俱見虛勞</p>

<h2>腰痛</h2>
<p>《經》曰：太陽所至為腰痛。太陽、膀胱也，主外感而言。如五積散及桂枝湯加白朮附子之類，皆可治之。又曰：腰者腎之府，轉搖不動，腎將憊矣。主內傷而言，水虛用六味丸，火衰用八味丸，如牛膝、杜仲、鹿茸、羊腎、人參、當歸、枸杞之類，無不可以隨宜加入。此恆法也，業醫者無不共曉。用而不效，則束手無策，而不知肝脾胃及督脈帶脈，皆有此病，須當細心分別。《經》云：肝，足厥陰也，是動則病腰痛，不可以俯仰，宜當歸四逆湯治之。（方中細辛能遂肝性，木通能通絡脈，以久痛必入絡。）又曰：從腰以下者，足太陰陽明皆主之。病在腰者，取膕中。余遇此症，每以白朮為君者，取之太陰；有時用苡仁為君，取之陽明，人第曰二藥利濕，濕去而重著遂已。孰知白朮運行土氣於肌肉，外通皮膚，內通經絡，風寒濕三氣為痹，一藥可以兼治；苡仁為陽明正藥，明陽主潤宗筋，宗筋主束骨而利機關，故二藥分用合用，或加一二味引經，輒收奇效。又有瘀血作痛，以一味鹿角為末，酒調服甚效。或因挫跌，外傷腫痛，或敗血凝滯而不去，痛止而又作者，以桃仁承氣湯，加附子、穿山甲，甚效。至於督脈為病，尺寸中央俱浮（三部俱浮），直上直下（弦長之象），主腰強痛；帶脈為病，關部左右彈，主腰溶溶如坐水中，須用針灸之法。《李瀕湖奇經考》極有發明，宜熟讀之。</p>
<p><u>當歸四逆湯</u>　<u>桂枝湯</u>（俱見《傷寒》）</p>
<p><u>六味丸</u>　<u>八味丸</u>（俱見《時方》）</p>
<p><u>新定白朮湯</u></p>
<p>治腰痛而重，諸藥不效者。</p>
<p>白朮（生用，五錢至一兩）　杜仲（生用，五錢或一兩）　附子（二三錢）</p>
<p>水煎，空心服。脈沉而微，口中和，加肉桂一錢；脈沉而數，口中熱，去附子，加黃柏一錢。</p>
<p><u>新定薏仁湯</u></p>
<p>治腰痛筋攣，難以屈伸者。</p>
<p>薏仁（一兩）　附子（一二錢）　木瓜（一錢五分）　牛膝（二三錢）</p>
<p>水煎，空心服。如脈洪重按有力，口中熱，去附子，加白朮五錢。</p>
<p><u>鹿角散</u></p>
<p>以鹿角切片，酒拌焙黃勿焦。研末，空心老黃酒送下三四錢。以此藥入督脈，兼能拓散瘀血也。</p>

<h3>備方</h3>
<p><u>青娥丸</u></p>
<p>治腎虛感寒濕之氣。</p>
<p>胡桃（三十個，去殼膜）　故紙（六兩，酒炒）　杜仲（十六兩，薑汁炒）　蒜（四兩，炊為膏）共研末，丸桐子大，酒下三十丸。</p>
<p><u>奇效方</u></p>
<p>胡桃肉　補骨脂　杜仲（各一錢）</p>
<p>水三盅，煎一盅服。（按：骨脂宜減半）</p>
<p><u>甘姜苓朮湯</u>（《金匱》）</p>
<p>按：此湯去茯苓，以四味各等分，名腎著湯，治同。</p>
<p><u>摩腰膏</u>（《種福堂》）</p>
<p>治老人虛人腰痛，婦人帶下清水不臭者、虛寒者宜之。</p>
<p>附子　川烏　南星（各二錢五分）　川椒　雄黃　樟腦　丁香（各一錢五分）　乾薑（二錢）　麝香（二分）</p>
<p>上為末，煉蜜丸如彈子大。用生薑自然汁化開，如糜，蘸於掌上烘熱，摩腰中痛處，即以暖帛扎之，少頃，其熱如火，每日飲後用一丸。</p>

<h2>自汗盜汗</h2>
<p>自汗者，汗自出，屬陽虛，宜玉屏風散加牡蠣、浮小麥之類，以實表補陽；盜汗者，睡而汗出，醒而汗收，屬陰虛，宜當歸六黃湯，以補陰清火。然陰陽有互根之理，有陽虛而治其陰者，陰虛而治其陽者，不可不知。又汗為心液，宜補其心，以人參養榮湯主之。液主於腎，宜補其腎，以左右歸飲、六八味丸主之。總之，汗以元氣為樞機，苟大汗身冷，必以六味回陽飲，人參加至兩許，方可挽回；傷寒誤發其汗，上焦津液乾枯，必引腎水上泛外溢，如水湧出，名曰亡陽，必以真武湯救之。蓋以此湯君茯苓以鎮水，佐附子以回陽也。</p>

<h3>汗出不治症</h3>
<p>汗出而喘，汗出而脈絕，汗出而身痛，汗出發潤至巔，汗出如油，汗出如珠，凡見此類，皆不得妄藥。</p>

<h3>脈息</h3>
<p>宜陰脈，若漸緩者吉；忌陽脈，兼短澀促結代散革者，難治。</p>

<h3>方藥</h3>
<p><u>玉屏風散</u></p>
<p>白朮（二錢，炒）　黃耆（二錢，炙）　防風（五分）</p>
<p>水煎服。按：宜以黃耆為君，可加至五七錢。</p>
<p><u>當歸六黃湯</u></p>
<p>治發熱盜汗如神。</p>
<p>當歸　熟地　生地　黃柏　黃連　黃芩（各一錢）　黃耆（二錢，炙）</p>
<p>水一盅半，煎六七分服。加浮小麥、牡蠣各一錢，更效。</p>
<p><u>六味回陽湯</u></p>
<p>治陰陽俱脫，汗出不止。</p>
<p>熟地（四五錢或一兩）　當歸（二三錢）　乾薑（一二錢，炮）　附子（二三四錢）　人參（二三錢至一兩）　炙草（一二三錢）</p>
<p>水煎服。按：汗出亡陽者，以茯苓換當歸，再加烏梅二枚。</p>
<p><u>真武湯</u>（方見《傷寒》）</p>
<p><u>外治法</u></p>
<p>用五倍子研末，口水為丸，貼臍中。（男用女津，女用男津）外以膏藥封之，不走氣，隔宿即止。又以龍骨、牡蠣煅研為末，包稀布內擦汗，粉自出，以實毛竅。</p>

<h3>備方</h3>
<p><u>參附湯</u>　<u>朮附湯</u>　<u>耆附湯</u>（俱見《時方》、俱見氣喘）</p>
<p>喻氏曰：衛外之陽不固而自汗，則用耆附湯；脾中之陽遏鬱而自汗，則用朮附湯；腎中之陽淨遊而自汗，則用參附湯。凡屬陽虛自汗，不能捨三方為治。又曰：耆、附可以治風虛，朮、附可以治寒濕，參、附可以壯元神。三者亦交相為用。</p>
<p>按：用方之妙，得其性味化合，如珠之走盤，不拘成法。</p>
<p><u>蓮棗麥豆湯</u></p>
<p>治盜汗方。</p>
<p>蓮子（七粒）　黑棗（七個）　浮麥（一合）　馬料豆（一合）</p>
<p>用水一大碗，煎八分，服三劑。</p>
<p><u>黃耆豆湯</u></p>
<p>黃耆　馬料豆</p>
<p>二味同煎服，半月愈。</p>
<p><u>五倍子膏</u></p>
<p>用五倍子去蛀末，炙乾研末，男用女唾，女用男唾，調厚糊，填臍中。外用舊膏藥貼之，勿令泄氣，兩次愈。</p>
<p><u>黑豆棗梅湯</u>（俱見《種福堂》）</p>
<p>黑豆（三錢）　浮麥（一錢）　烏梅（三個）</p>
<p>水煎服。</p>

<h1>卷七</h1>

<h2>泄瀉</h2>
<p>泄瀉之症有五，而總不離於濕。初起只以平胃散加豬苓、澤瀉治之，他方皆不逮也。又有五更天將明時，必洞瀉一二次，名曰脾腎泄，難治。蓋以腎旺於亥子，今腎大虛，閉藏失職，故五更之時而特甚也。亦謂之脾者，以泄瀉之時，一定不移，五行之土，猶五常之信也，四神丸加味主之。大抵初瀉與瀉之未甚，宜利水，次補脾；久瀉大瀉，宜補腎，以胃關煎、八味丸之類為主，兼服補中益氣湯，以升其下陷之氣。蓋以腎為胃關，二便開合，皆腎所主也。</p>

<h3>脈息</h3>
<p>宜沉細，忌浮大。</p>
<p><u>加味平胃散</u></p>
<p>蒼朮（二錢，炒）　炙草　陳皮（各一錢）　豬苓　厚朴（薑汁炒）　澤瀉（各一錢五分）　生薑（三片）</p>
<p>水煎服。</p>
<p>如頭痛發熱惡寒者，外感風寒也，加紫蘇二錢，川芎、防風各一錢。</p>
<p>如傷食飽悶脹痛等症，加山楂、麥芽之類；大醉之後，更加乾葛二錢。</p>
<p>如腹痛不休，脈細手足冷，中寒也，加乾薑二錢，肉桂、吳萸各一錢。</p>
<p>如脈洪數有力，口中熱，舌紅，腹痛時作時止，小便短澀，火瀉痛也，加木通一錢、乾葛一錢五分；若兼腸垢裡急後重，再加黃連一錢、白芍三錢。如暑月水瀉口渴，小便不利，加滑石三錢研末。如瀉而腹痛不止，為土傷木賊，加酒白芍三錢、防風一錢。</p>
<p>如服前藥不能效者，是脾腎虛寒，宜加補骨脂、炒扁豆、白朮各二錢、吳萸八分、乾薑一錢以溫之；如滑脫不止，再加訶子、肉豆蔻一錢五分，罌粟殼一錢以澀之。</p>
<p><u>四神丸</u>（方見《時方》）</p>
<p>鄉前輩林公諱祖成，加白朮八兩、罌粟殼二兩、肉桂一兩，醋調炒米粉為丸，名六神丸，治同。再加杜仲四兩、茯苓四兩，名固腎啟脾丸。自注云：久服此丸，俾脾元足而營衛運，斯分消之力旺，腎元足而開合神，斯固攝之權行。</p>
<p><u>溫補脾腎元氣主方</u>（《林公傳》）</p>
<p>杜仲（二錢）　人參　白朮（各五分）　茯苓　肉豆蔻（去油，各一錢）　補骨脂　砂仁（各五分）　五味（二分）</p>
<p>水煎，空心午前服。小腹隱痛，加肉桂五分；小便不利，加澤瀉一錢。</p>
<p><u>胃關煎</u></p>
<p>治大瀉將脫，久瀉不止。</p>
<p>熟地（三四五七錢）　白朮（二三錢）　乾薑（一二錢，炒）　吳萸（五七分）　炙草（一錢）　扁豆（炒，研）　山藥（炒，各二錢）</p>
<p>水煎服。</p>
<p>按：以上為治瀉之恆法。又有變通活法，不可不知。</p>
<p>如久瀉服溫補及固澀之藥不止，或愈而復作，或既愈，次年又應期而作，俱是痼積未除，宜通因通用之法，《本事》溫脾湯主之。又有感秋金燥氣，始則咳嗽，久則往來寒熱，泄瀉無度，服溫補藥更甚，或完穀不化，有似虛寒，而不知肺中之熱，無處可宣，急奔大腸，食入則不待傳化而直出，食不入則腸中之垢，亦隨氣奔而出，是以瀉利無休也。宜以黃芩、地骨皮、甘草、杏仁、阿膠潤肺之藥，兼潤其腸，則源流俱清。寒熱咳嗽泄瀉，一齊俱止矣。又有瀉久亡陰，過服香燥之品，發熱口渴，微喘汗出，煩躁，陰氣虛盡，陽氣不能久留，宜急養其陰，以阿膠、地黃、門冬等類，熬膏三四斤，日服十餘次。半月藥盡遂效，另制補脾藥末善後，痊愈。此喻嘉言之驗案也。</p>
<p><u>溫脾湯</u>（《本事方》見《時方》）</p>
<p>主治痼冷在腸胃間，泄瀉腹痛。宜先取去，然後調治，不可畏虛以養病也。</p>
<p><u>《千金》溫脾湯</u>（方見《實在易》）</p>
<p>治積久熱痢赤白。</p>
<p><u>生薑瀉心湯</u>　治心下痞硬，干噎食臭，脅下有水氣，腹中雷鳴下利者。</p>
<p><u>甘草瀉心湯</u></p>
<p>下後痞益甚，日利數十行，穀不化，此非熱結，但以胃中虛，客氣上逆，故便硬也。</p>
<p><u>半夏瀉心湯</u></p>
<p>嘔而發熱，心下滿而不痛。</p>
<p><u>黃芩湯</u></p>
<p>太陽少陽合病自利者。</p>
<p>若嘔者，加生薑一錢五分、半夏一錢，名黃芩加半夏生薑湯。</p>
<p><u>黃連湯</u></p>
<p>胸中熱，胃中有邪氣，腹中痛欲嘔者。</p>
<p>即半夏瀉心湯，去黃芩，加桂枝，以和表裡。</p>
<p><u>乾薑黃連黃芩人參湯</u>　下利，醫復吐下之，食入口即吐。</p>
<p>此方治嘔家夾熱，不利於香、砂、橘、半者，服此如神。昔張石頑先生借治脾胃虛寒、腸有積熱之泄，甚效。</p>
<p><u>厚朴生薑甘草半夏人參湯</u></p>
<p>此仲景治汗後腹脹滿之方也。張石頑借治瀉後腹脹滿，甚效。</p>
<p>石頑治總戎陳孟庸，瀉利腹脹作痛，服黃芩、白芍之類，脹急愈甚。其脈洪盛而數，按之則濡，此濕熱傷脾胃之氣也。與厚朴生薑甘草半夏人參湯，二劑痛止，脹減而泄利未已。與乾薑黃芩黃連人參湯，二劑瀉止，而飲食不思，與半夏瀉心湯二劑而安。</p>
<p><u>葛根黃芩黃連湯</u>（各見《傷寒》）</p>
<p>此湯仲景治桂枝症，醫反下之，利遂不止，脈促，喘而汗出之症。今借治表邪未解，腸胃俱熱之瀉，甚效。</p>
<p>按：君氣質輕清之葛根，以解肌而止利；佐苦寒清肅之芩連，以止汗而除喘；又加甘草以和中，先煮葛根，後納諸藥。解肌之力緩，清中之氣銳，又與補中逐邪者殊法矣。</p>
<p><u>鍋粑蓮肉散</u></p>
<p>治老幼脾瀉久不愈神方。</p>
<p>飯鍋粑（四兩，淨末）　蓮肉（四兩，去心，淨末）　白糖（四兩）</p>
<p>上共和勻。每服三五匙，一日三次，食遠服。</p>
<p><u>丹礬蠟榴丸</u></p>
<p>治一切久瀉，諸藥不效，宜服止丸。</p>
<p>黃丹　枯礬　黃蠟（各一兩）　石榴皮（八錢，炒研）</p>
<p>將蠟溶化小銅勺內，再以丹、礬、榴皮三味細末，乘熱為丸，如豆大，空心服五丸。兼治紅痢，用清茶下，白痢用薑湯下。</p>
<p><u>鍋粑松花散</u></p>
<p>治白瀉不止神效方。</p>
<p>飯鍋粑（二兩）　松花（二兩，炒）　蠟肉骨頭（五錢，烘脆）</p>
<p>共為末，砂糖調，不拘時服。</p>
<p><u>火腿紅曲散</u>（各見《種福堂》）</p>
<p>治脾泄。</p>
<p>陳火腿骨（煅存性研末）　紅曲</p>
<p>上二味各等分，為細末，砂糖調陳酒送下。</p>

<h2>風痹痿</h2>
<p>風、痹、痿三症不同，近世不能為辨，而混同施治，誤人不淺。茲特分別之。</p>
<p>風者，肢節走痛也。《內經》謂之賊風，後人謂之痛風，又謂之白虎歷節風。其中表裡寒熱虛實，宜因脈辨症而藥之。至久痛必入絡，如木通、刺蒺藜、紅花、金銀花、鉤藤之類，最能通絡，可隨宜加入。久痛必挾郁，鬱而成熱，熱盛則生痰，如南星、半夏、栝蔞根、黃柏、鬱金、川貝、竹瀝、薑汁之類，俱能解鬱清熱化痰，可隨宜加入。多用桑枝、桑寄生者，蓋以桑為箕星之精也；多用虎骨者，以風從虎，亦以骨治骨之義也。用烏、附、辛、桂之藥而不效者，宜用葳蕤、麥冬、桑葉、脂麻、生耆、菊花、蒺藜、阿膠、甘草之類為膏，滋養陽明，亦是柔潤熄肝風之法。</p>
<p>痹者，閉也。風寒濕雜至，合而為痹，與痛風相似。但風則陽受之，痹則陰受之。雖行痹屬風，痛痹屬寒，著痹屬濕，而三氣之合，自當以寒濕為主。蓋以風為陽邪，寒濕為陰邪，陰主閉，閉則重著而沉痛。是痹症不外寒濕，而寒濕亦必挾風。寒曰風寒，濕曰風濕，此三氣雜合之說也。《內經》云：在陽命曰風，在陰命曰痹。以此分別，則兩症自不混治矣。至於治法，不外三痹湯及景岳三氣飲之類為主，如黃耆五物湯、黃耆防己湯、桂枝芍藥知母湯、烏頭湯之類，皆古聖經方，當知擇用。張景岳云：只宜峻補真陰，宣通脈絡，使氣血得以流行，不得過用驅風等藥，再傷陰氣，必反增其病矣。若胸痹、胞痹及臟腑之痹，當另立一門，方能分曉，《醫門法律》分別甚詳，宜熟玩之。</p>
<p>痿者，兩足痿弱而不痛也。《內經》分為五臟：肺痿者，主皮毛痿也；心痿者，脈痿也；肝痿者，筋痿也；脾痿者，肉痿也；腎痿者，骨痿也。而其要旨，在獨取陽明。蓋陽明為五臟六腑之海，主潤宗筋。宗筋主束骨而利機關，若陽明虛，不能藏受水穀之氣而布化，則五臟無所稟，宗筋無所養，而痿躄作矣。醫者不知，誤投薑、獨風藥，則火得風而益熾；誤投烏、附劫藥，則陰被劫而速亡。要知此症無寒，當遵張子和為定論。若用痛風三痹蒸湯灸燔等法，立見其危。至於方治，以虎潛丸、加減四斤丸為主。痿久者，間服六君子湯加黃柏、蒼朮、竹瀝、薑汁。黑瘦人血虛多燥，宜間服二妙地黃丸。肥白人氣虛多痰，宜間服當歸補血湯加竹瀝、薑汁。定不可誤服辛熱之藥，或問辛熱既不可用，何張石頑云，老人痿厥用虎潛丸而不愈，少加附子而即愈乎？不知此法是借附子辛熱之力，以開通經隧，原非為腎臟虛寒而設也。</p>

<h3>脈息</h3>
<p>宜浮數，忌虛弱。</p>
<p><u>四物湯</u>（治風先治血）　<u>四君子湯</u>　<u>十全大補湯</u>　<u>八珍湯</u>　<u>六君子湯</u>　<u>當歸補血湯</u>（血生於氣，各見《時方》）　<u>桂枝湯麻黃湯</u>（各見《傷寒》）　<u>防己黃耆湯方</u>（見《金匱》）</p>
<p>治風濕相搏，客在皮膚，關節疼痛，腰以下疼重，脈浮，自汗惡風等症。後當如蟲行皮中，腰以下冰涼，後坐被上，又以被繞腰下，溫令微汗瘥。喘加麻黃，胃氣不和加芍藥，氣上衝心加桂枝，有陳氣加細辛。（陳氣久積之寒氣也）</p>
<p><u>防己湯</u>（《千金》）</p>
<p>治歷節四肢痛如錐刺。</p>
<p>即前方去黃耆、大棗；本方防己、冬朮、生薑各四錢，甘草三錢，加桂心、茯苓各四錢，烏頭一枚，（去皮，熬），人參二錢。以苦酒和水煮，日三夜一服，當覺焦熱，痹忽忽然，慎勿怪也。若不覺，復服，以覺乃止。（忌醋物、桃李、生蔥、豬肉、冷水）</p>
<p><u>黃耆桂枝五物湯</u></p>
<p>治血痹陰陽俱微，寸口關上微，尺中小緊，外症身體不仁，狀如風痹。</p>
<p><u>桂枝芍藥知母湯</u></p>
<p>治肢節疼痛，身體尪羸，腳腫如脫，頭眩氣短，溫溫欲吐。</p>
<p>此方為補藥之妙。解見徐忠可《金匱論注》。</p>
<p><u>烏頭湯</u>（俱見《金匱》）</p>
<p>治歷節疼痛，不可屈伸。</p>
<p><u>獨活寄生湯</u>（《千金》）</p>
<p>治風寒濕痹，偏枯腳氣。</p>
<p>獨活（二錢）　桑寄生　秦艽　細辛　歸身　生地　芍藥　川芎　桂心　茯苓　杜仲　牛膝　人參　甘草（各一錢）</p>
<p>水煎服。</p>
<p><u>舒筋保安散</u>（見痙症）</p>
<p>按：此方治痛行痹極效。</p>
<p><u>三痹湯</u></p>
<p>治血氣凝滯，手足拘攣，風寒濕三痹。</p>
<p>人參　黃耆　當歸　川芎　白芍　生地　杜仲　續斷　防風　桂心　細辛　秦艽　白茯苓　牛膝　川獨活　甘草（各等分）　生薑（三片）　紅棗（一枚）</p>
<p>水三盞，煎五分，不拘時服。</p>
<p><u>三氣飲</u>（《景岳》）</p>
<p>治氣血虧損，風寒濕三氣乘虛內侵筋骨，歷節痹痛之極，及痢後鶴膝風痛等症。</p>
<p>當歸　枸杞　杜仲（各二錢）　熟地（三錢或五錢）　牛膝　茯苓芍藥（酒炒）　肉桂（各一錢）　細辛（或代以獨活）　白芷　炙草（各一錢）　附子（隨宜用一二錢）　生薑（三片）</p>
<p>水二盅，煎服。氣虛加參、術；風寒勝加麻黃一二錢，亦可浸酒飲之。</p>
<p><u>加減四斤丸</u>（三因）</p>
<p>治肝腎虛熱淫於內，致筋骨痿弱，足不任地，驚恐戰慄，潮熱時作，飯食無味，不生氣力。</p>
<p>肉蓯蓉（酒浸淡）　牛膝　木瓜（俱酒浸）　鹿茸（酥炙）　熟地（或用生地）　杜仲　菟絲子（各等分）</p>
<p>共為末、煉蜜丸桐子大，每服五十丸，溫酒米飲下。</p>
<p><u>虎潛丸</u>（《丹溪方》見《時方》）</p>
<p>治腎陰不足，筋骨痿，不能步履。</p>
<p>徐靈胎曰：痿症皆屬於熱，經有明文。此方最為合度，後人以溫補治痿，則相反矣。痿有屬痰濕風寒外邪者，此方又非所宜。</p>
<p><u>外治法</u>（筋骨之病總在軀殼，古人多用外治。）</p>
<p>《靈樞》治之以馬矢膏。其急者，以白酒和桂塗；其緩者，以桑鉤鉤之。即以生桑炭置之坎中，高下以坐等，以膏熨急頰。且飲美酒，啖美炙肉，不飲酒者自強也。為之三拊而已。</p>
<p>《靈樞》用醇酒二十升、蜀椒一升、乾薑一斤、桂心一斤，凡四種皆㕮咀。漬酒中，用綿絮一斤，細白布四丈，並納酒中。置酒馬矢熅中，蓋封塗，勿使泄。五日五夜，出布綿絮曝乾之。干後復漬，以盡其汁。每漬必晬其日乃出干，並用滓。以綿絮復布為復巾，長六七尺，為六七巾。則用生桑炭炙巾，以熨寒濕所刺之處，令熱入至於病所，寒復炙巾以熨之。三十遍而止，汗出以巾拭身，亦三十遍而止。</p>
<p><u>羌活桂歸酒</u></p>
<p>治風寒濕痹。</p>
<p>羌活　桂枝　秦艽　防風　續斷　附子（各一錢）　當歸身　金毛狗脊　虎骨（各一錢五分）　杜仲　晚蠶砂（各二錢）　川芎（八分）　桑枝（三錢）　生薑（切片，一錢）　大棗（二枚）陳酒二斤，浸一日夜，煎服。</p>
<p><u>集寶療痹膏</u></p>
<p>川烏　草烏　南星　半夏　當歸　紅花　獨活　羌活　大黃　桃仁（各四錢）　山甲　肉桂（各一兩）　白芷（五錢）　陀僧（二兩）　硫黃（半斤）　松香（一斤）　生薑汁（一碗）　麻油（一斤）　竹汁（一碗）</p>
<p>上收煎好。加乳香、沒藥、血竭、胡椒、樟腦、細辛、牙皂末（各二錢）。若加商陸根、鳳仙、鬧羊花、鮮菸葉、鮮蒜、鮮豨薟等汁，更妙。</p>
<p><u>蒼朮黑豆飲</u></p>
<p>治痹方。</p>
<p>茅山蒼朮五斤，洗淨泥垢。先以米泔水浸三宿，用蜜酒浸一宿。去皮，用黑豆一層，拌蒼朮一層，蒸二次。再用蜜酒蒸一次，用河水在砂鍋內熬濃汁。去渣，隔湯燉，滴水成珠為度，每膏一斤，和煉蜜一斤，白湯調服。</p>
<p>一老人專用此方，壽至八十餘，身輕體健，甚於少年。</p>
<p><u>七制松香膏</u></p>
<p>治濕氣第一神方。</p>
<p>松香三斤，第一次薑汁煮，第二次蔥汁煮，第三次白鳳仙汁煮，第四次燒酒煮，第五次鬧羊花汁煮，第六次商陸根汁煮，第七次紅醋煮。</p>
<p>桐油（三斤）　川烏　草烏　蒼朮　官桂　乾薑　白芥子　蓖麻（以上各四兩）　血餘（八兩）</p>
<p>上八味，共入桐油。熬至藥枯發消，滴水成珠。濾去渣，入牛皮膏四兩烊化。用前制過鬆香，漸漸收之，離火，加樟腦一兩，好麝香三錢，厚紙攤之，貼患處。神效。</p>
<p><u>虎骨木通湯</u></p>
<p>治一切麻木痹證，痛風歷節。</p>
<p>虎骨　木通（各等分）</p>
<p>煎湯頻頻多吃，即愈。</p>
<p><u>紅花白芷防風飲</u></p>
<p>治歷節四肢疼痛。</p>
<p>紅花　白芷防風（各五錢）　威靈仙（三錢）</p>
<p>酒煎服，取汁，三服痊愈。</p>
<p><u>山甲白薇澤蘭飲</u></p>
<p>治箭風，俗名鬼箭打。或頭項手足筋骨疼痛、半身不遂等疾，照方一服即愈。</p>
<p>山甲（一錢，炒研）　白薇（二錢）　澤蘭（三錢）</p>
<p>照分量，好酒煎服。</p>
<p><u>硫黃敷痛膏</u>（俱見《種福堂》）</p>
<p>治痛風歷節，四肢疼痛。</p>
<p>用醋磨硫黃敷之，或用蔥杵爛，炒熱熨之。</p>

<h2>鶴膝風</h2>
<p>喻嘉言曰：鶴膝風者，即風寒濕之痹於膝也。如膝骨日大，上下肌肉日枯，且未可治其膝，先養其氣血，使肌肉滋榮，後治其膝可也。此與治偏枯之症大同小異。急溉其未枯者，使氣血流行而復榮。倘不知此，但麻黃、防風等散風之藥，鮮不全枯者。故治鶴膝風而急攻其痹，必並其足痿而不用矣。</p>
<p><u>大防風湯</u></p>
<p>治邪襲足三陰，腿膝疼痛，及痢後脛膝痛，鶴膝風、附骨疽症，但赤熱焮腫者禁用。</p>
<p>四君子湯去茯苓，加肉桂、附子、黃耆、牛膝、杜仲、熟地、白芍、川芎、羌活、防風。</p>
<p><u>五積散</u>（方見《附方》）</p>
<p>治少陰傷寒，及外感風寒，胸滿惡食，嘔吐腹痛，寒熱往來，腳氣冷秘，寒疝寒瘧等症。</p>
<p>孫心典按：鶴膝風多是虛寒，腳氣多是濕熱。一補一攻，治法各判。然腳氣有腎氣素虛，氣喘小腹痹者，腎氣丸必不可緩。鶴膝赤熱焮腫者，二妙散、桂枝芍藥知母湯亦必所需，此活法也。</p>
<p><u>二妙散</u></p>
<p>治濕熱痿症。</p>
<p>黃柏　蒼朮（去皮，鹽水炒）</p>
<p>水煎服。</p>
<p><u>三氣湯</u>　<u>桂枝芍藥知母湯</u>（俱見《金匱》）</p>
<p><u>見睍膏</u>（《種福堂》）</p>
<p>專治風寒濕骨節痛，歷節痛風，痿痹麻木不仁，鶴膝風，偏頭風，漏肩風等症。並治跌撲閃挫等傷，陰證無名腫毒，已破爛者勿貼，小兒孕婦勿貼。</p>
<p>活短頭髮（曬乾，二兩，用壯年人剃下者）　大黃　靈仙　雄鼠糞（各一兩）　川烏　草烏　劉寄奴（各八錢）　土鱉（大者二十個）　羌活　獨活　紅花　當歸　蛇床子　蒼朮　生南星　生半夏　白芥子　桃仁（各一兩）</p>
<p>上十八味，俱切碎。</p>
<p>樟冰（一兩）　甘松　山奈　花椒　豬牙皂　山甲（炙，研）　蓽拔（以上各三錢，不必去油，同乳香炙熱，同眾藥研細）　乳香　白芷（各五錢）</p>
<p>上十味，研極細末。</p>
<p>鮮菸葉汁（一斤，松香六兩收，曬乾）　鮮商陸根汁（一斤，松香六兩收）　鮮鬧羊花汁（半斤，松香三兩收）　鮮艾葉汁（半斤，松香三兩收）　白鳳仙花汁（半斤，松香三兩收）　生薑汁（半斤，松香三兩收）　韭汁（半斤，松香三兩收）　蔥汁（半斤，松香三兩收）　大蒜（四兩，松香二兩收）</p>
<p>用足秤，秤麻油三斤四兩，先將頭髮入油，熬至半炷香，再將前藥入油。熬至焦黃色，不可太枯，即濾去渣。入前松香熬化，再將絲綿濾去渣。再熬至油麵起核桃花紋，先加入極細密陀僧四兩　再徐徐加入西硫黃末一斤。投此二味時，務須慢慢灑入，不可太多太驟。以滴水成珠，離火待溫，然後摻入細藥攪勻。瓷器收貯，熬時須用桑枝不住手攪，青布攤貼。每張淨藥重四錢，臨時加肉桂末五釐、細辛末二釐。</p>

<h2>腳氣</h2>
<p>東垣云：「腳氣實由水濕，然有二焉。南方卑濕，清濕襲虛，則疾起於下，此是外感；北方常食膻乳，又飲酒太過，脾胃有傷，不能運化，水濕下流，此內而至外者也。」</p>
<p>腳氣有乾溼不同。如兩脛腫大，名濕腳氣，是為壅疾，不宜驟補，宜雞鳴散疏通其下，不使其壅；若壅既成者，宜砭去惡血，然後服藥，如兩脛不腫，或頑痹、或攣急、或緩縱，名乾腳氣，宜四物湯加牛膝、木瓜、蒼朮、黃柏、肉桂、澤瀉之類主之。二症雖不宜驟補，而三陰受病，上氣喘急，及上入少腹不仁，急宜八味丸補火以利水。外以礬石一兩，酸漿水一斗五升，煎三五沸浸之。丹溪以白芥子、白芷等分末，薑汁調敷之。</p>
<p>腳氣症，小腹頑痹不仁，不過三五日，即令嘔吐，名腳氣入心，死症。</p>
<p>治腳氣入心，仲景用腎氣丸通膀胱之氣，安其腎水，不使攻心。巢氏用風引湯，取石性易於下達，勝其濕熱，不使攻心。二方皆為救危之神劑，一治腎氣之虛，一治濕熱之盛，宜憑症擇用之。</p>

<h3>診法</h3>
<p>脈浮弦起於風，濡弱起於濕，洪數起於熱，遲澀起於寒。沉而伏，毒在筋骨也；指下澀澀不調，毒在血分也。夏暑腳膝冷痛，其脈陽濡陰弱，濕溫也。腳氣多從暑濕得之。</p>

<h3>論冷熱不同</h3>
<p>問曰：何故得者有冷有熱？答曰：足有三陰三陽。寒中三陽，所患必冷；暑中三陰，所患必熱，故有表裡冷熱。冷熱不同，熱者療以冷藥，冷者療以熱藥。以意消息之，脾受陽毒即熱頑，腎受陰濕即寒痹。</p>

<h3>論腫不腫</h3>
<p>凡有人久患腳氣，不自知別。於後因他病發動，療之得瘥。後直患嘔吐，而復腳弱。余為診之，乃告為腳氣。病者曰：「我平生不患腳腫，何因名為腳氣？」不肯服湯。余醫以為初發，狐疑之間，不過一旬而死。故腳氣不得拘定以腫為候。有腫者，亦有不腫者。其以小腹頑痹不仁者，腳多不腫。小腹頑後不過三五日，即令人嘔吐者，名腳氣入心，如此者，死在旦夕。凡患腳氣到心難治，以其腎水克心火故也。</p>

<h3>腳氣腫滿</h3>
<p>病源，此繇風濕毒氣搏於腎經。腎主水，今為邪所搏，則腎氣不能宣通，水液不傳於小腸，致水氣擁溢腑臟，浸漬皮膚，故腫滿也。</p>
<p><u>千金翼溫腎湯</u>　主腰脊膝腳浮腫不遂方。</p>
<p>茯苓　乾薑　澤瀉（各二兩）　桂心（三兩）</p>
<p>上四味切，以水六升，煮取二升，分為三服。</p>
<p>又療腳氣初發，從足起至膝，脛腫骨疼者方。</p>
<p>烏牛尿一服一升，日二服，腫消止。羸瘦者二分尿、一分牛乳，合煮，乳結乃服之。</p>
<p><u>又方</u>　生豬肝一具細切，以淡蒜齏食之令盡。分再食之。</p>
<p><u>崔氏療腳氣遍身腫方</u></p>
<p>大豆（二大升）　桑白皮（一握切）　檳榔（十四枚）　茯苓（二兩）</p>
<p>上四味，和老酒二升煎服。</p>
<p><u>療腳氣滿小便少者方</u></p>
<p>檳榔（四升）　大豆（三升）　桑白（一升）</p>
<p>水煎。</p>
<p><u>徐玉枳實散</u></p>
<p>宜春秋服，消腫利小便，兼補療風虛冷脹不能食方。</p>
<p>枳實（半斤，炙）　桂心（一尺）　茯苓　白朮（各五兩）</p>
<p>上四味為散，酒服方寸匕，日三服。</p>
<p><u>手腳痠痛兼微腫方</u></p>
<p>烏麻（五升，微熬，研碎）</p>
<p>上一味，以酒一升，漬一宿，隨多少飲之。</p>
<p>唐侍中療苦腳氣攻心　此方正散腫氣極驗。</p>
<p>檳榔（七枚）　生薑（二兩）　橘皮　吳萸　紫蘇　木瓜（各一兩）</p>
<p>水三升，煎服。</p>
<p><u>腳氣上氣入腹腫方</u></p>
<p>野椒根一升，酒二升，投安瓶中，泥頭溏，火燒得一沸，然後溫服。</p>
<p><u>常山甘草湯方</u></p>
<p>常山（三兩）　甘草（一兩）</p>
<p>若寒熱，日三服。</p>
<p>寒甚陰傷者，腎氣衰微者。</p>
<p>鹿茸　淮山藥　紅棗（各三兩）　地黃　黃耆　茯苓　丹皮（各二兩）　川附（半斤）　澤瀉（一兩）</p>
<p>水煎服。</p>
<p><u>千金風引湯</u></p>
<p>療兩腳疼痹腫，或不仁拘急，屈不得行癰腫方。</p>
<p>麻黃（二兩，去節）　吳萸　秦艽　桂心　人參　細辛　乾薑　防己　川芎　甘草　附子（各一兩）　石膏（二兩）　杏仁（六十枚）　白朮（三兩）　茯苓（二兩）　生蒜　桑枝（各一斤）　鳳仙（二兩）</p>
<p>上諸味杵末，用麻油五斤，將藥浸入油內，春五夏三，秋七冬十。候日數已足，入潔淨大鍋內，慢火熬至藥枯浮起為度。住火片時，用布袋濾去渣，將油稱准。每油一斤，封定黃丹六兩，用桃柳枝不時攪之，以黑如漆亮如鏡為度。滴入水內成珠，用布攤貼。（隨時貼此膏應用麝香一分敷在患處）</p>
<p><u>風引湯</u>（方見《金匱》）</p>
<p><u>雞鳴散</u>（方見《時方》）</p>
<p>治腳氣第一品藥，不問男女可服。如感風濕流注，腳痛不可忍，筋脈腫者，並宜服之。加鹿茸者，其效如神。</p>

<h1>卷八</h1>

<h2>婦人雜病方</h2>
<p><u>烏骨雞丸</u>　《秘旨》治婦人鬱結不舒，蒸熱咳嗽，月事不調，或久閉不行，或倒經</p>
<p><u>血溢於上，或產後褥勞，或崩淋不止，及帶下赤白淫諸症。兼療男子斫喪太早，勞嗽吐紅，成虛損者。</u></p>
<p>烏骨白絲毛雞（一隻男雌女雄取嫩長者，尿倒泡去毛，竹刀剖脅，出肫肝，去穢，留內金，並去腸垢，仍入腹內）　五味（一兩）　熟地黃（四兩）　如血熱加生地黃二兩</p>
<p>上二味入雞腹內，用陳酒、童便各二碗，水數碗，砂鍋中旋煮旋添，至糜爛汁盡。同下五藥末，搗爛焙乾。骨用酥炙，共為細末。</p>
<p>綿黃耆（去皮，蜜酒拌炒）　於潛術（飯上蒸九次，各三兩）　白茯苓（去皮）　當歸身（酒洗）　白芍藥（酒炒，各二兩）</p>
<p>五味預為粗末，同雞肉搗焙，共為細末，入下項藥。</p>
<p>人參（三兩，虛甚者加至六兩）　牡丹皮（二兩，酒潤，勿炒）　川芎（一兩童便浸，切，炒）</p>
<p>上三味各為細末，和前藥中，另用乾山藥六兩打糊。眾手丸成，曬乾，勿令餿，瓷罐收貯。清晨人參或沸湯送下三錢，臥時再酒服二錢，大便實者，煉蜜為丸亦可。隨症加入溫涼調氣等藥。</p>
<p>雞屬巽補肝，尤妙在烏骨益腎，變巽為坎，乙癸同源，兼滋衝任也。</p>
<p><u>四烏鰂一蘆茹丸</u>（方見《女科要旨》）</p>
<p>治氣竭肝傷血枯，婦人血枯經閉，丈夫陰痿精傷。</p>
<p>按：此方以搜血之品為補血之用。乾血癆症，以此方為上劑。《金匱》治五癆虛極，肌肉甲錯，內有乾血，用大黃䗪蟲丸，實本於此。</p>
<p>雀卵功專暖胃。如無，雀肉煮搗可代，雞卵及肝亦可代，雞屬巽而肝主血也。</p>
<p><u>地黃龍牡榴梅散</u></p>
<p>治血崩。</p>
<p>大生地（一兩，炒）　龍骨（煅，研末）　牡蠣（煅，各四錢）　石榴皮（炒）　烏梅肉（炒）　陳棕皮　百草霜（各三錢）　阿膠（六錢，蒲黃拌炒）　陳京墨（二錢，炒）</p>
<p>上為極細末，用淮山藥五錢研末，醋水打糊為丸。分作七日服，內加人參三錢，尤效。或用人參湯下。</p>
<p><u>百草血餘棕灰散</u></p>
<p>治血崩。</p>
<p>陳棕灰　百草霜　頭髮灰（各一兩）</p>
<p>共為細末，每服一錢，陳酒下。</p>
<p><u>棉花子散</u></p>
<p>治血崩不止。</p>
<p>陳棕　棉花子（各等分）</p>
<p>上二味燒灰存性，研細末，每服一錢五分，陳酒送下。</p>
<p><u>韭汁童便湯</u></p>
<p>治月水逆行，上行口鼻。</p>
<p>韭汁、童便沖溫服。</p>
<p><u>發灰藕汁飲</u></p>
<p>治血淋痛脹甚者。</p>
<p>發灰二兩，藕汁調服二錢。</p>
<p><u>麝香琥珀丸</u></p>
<p>治經閉。</p>
<p>土鱉蟲（一兩，炙存性）　血珀末（五錢）　麝香（三錢）</p>
<p>酒打和為丸，每服三分。</p>
<p><u>芡實茯苓牛角散</u></p>
<p>治女子帶下虛脫證，極效。</p>
<p>芡實粉（二兩）　白茯苓（二兩）　赤石脂（一兩，煅）　牡蠣（一兩，醋煅）　禹餘糧（一兩，煅）　牛角腮（一兩，炙黃）</p>
<p>共為末，好米醋一杯拌前藥，曬乾再研末，打糊為丸，每服三錢。</p>
<p><u>白鴿血竭飲</u></p>
<p>治乾血癆奇驗方，此證過三年者不治。</p>
<p>白鴿子一隻。去毛肝腸淨，入血竭。一年一兩，二年二兩，三年三兩。以針線縫住，用無灰酒煮數沸，令病人吃之，瘀血即行。如心中慌亂者，食白煮肉一塊，即止。</p>
<p><u>雞子黃丹飲</u></p>
<p>治孕婦下痢。</p>
<p>雞蛋一枚。破一孔如指大，以銀簪腳攪勻，加入黃丹三錢五分。用紙封口，入在飯鍋上蒸熟食之。</p>
<p><u>安胎方</u></p>
<p>治胎氣不安，或腹痛，或腰痛，或飲食不甘，宜服。或五六個月，常服數帖最妙，足月亦可服。</p>
<p>人參（五分，虛者加倍）　白朮（土炒）　當歸　白芍（炒）　紫蘇　黃芩（炒，各一錢）　陳皮（五分）　甘草（三分）　川芎（八分）　砂仁（七分，炒）　香附（六分，炒）</p>
<p>腹痛倍加白芍；腰痛加鹽水炒杜仲、續斷；內熱口渴去砂仁，加麥冬；見紅加酒炒地榆、生地，以上各一錢。</p>
<p><u>熟蠶豆散</u></p>
<p>治胎漏。</p>
<p>炒熟蠶豆殼磨末，每服三四錢，加砂糖少許調服。</p>
<p><u>皮硝湯</u></p>
<p>治死胎不下。</p>
<p>皮硝（二錢）　北耆（三錢）　寒月加製附子（五分）</p>
<p>酒半杯，童便一杯，煎二三沸，溫服。</p>
<p><u>牛膝葵子湯</u></p>
<p>治胎衣不下。</p>
<p>牛膝（三錢）　葵子（五分）</p>
<p>水煎服。</p>
<p><u>大麥芽散</u></p>
<p>治產後腹脹閉結，膨悶氣結，坐臥不安。</p>
<p>大麥芽（炒一合，為末，每服陳酒調三錢服。）</p>
<p><u>山楂湯</u></p>
<p>治產後面黑，乃惡血及肺，發喘欲死。</p>
<p>蘇木一兩，水三杯，煎至一杯，調人參末五錢服。</p>
<p><u>韭菜聞鼻湯</u></p>
<p>治產後血暈。</p>
<p>韭菜切，入有嘴瓶內。將醋三碗煎滾，入瓶內。將瓶嘴塞產婦鼻孔，即醒。</p>
<p><u>澤蘭洗方</u></p>
<p>治產後陰翻。</p>
<p>澤蘭葉煎濃湯熏洗，即收。</p>
<p><u>豬腳湯</u></p>
<p>治婦人吹乳不通。雄豬腳爪一個、鬼饅頭一個。並煮食之，一日即通。雖無子女人，食之亦有乳。</p>
<p><u>絲瓜子散</u></p>
<p>治乳不通。</p>
<p>絲瓜連子燒存性，燒酒下一二錢，被蓋取汗，即通。</p>
<p><u>蟹殼散</u></p>
<p>治乳岩。此證先因乳中一粒大如豆，漸漸大如雞蛋，七八年後方破爛。一破則不可治矣，宜急服此藥。</p>
<p>生蟹殼數十枚，放砂鍋內焙焦為末。每服二錢，好酒調下，須日日服，不可間斷。</p>
<p><u>青皮散</u></p>
<p>治乳癰初起。</p>
<p>青皮（去瓤）　山甲（炒）　白芷　甘草　貝母（各八錢）</p>
<p>共為細末，溫酒調服。</p>
<p><u>鯽魚敷乳膏</u></p>
<p>治乳癰乳痛。</p>
<p>活鯽魚（一個）　鮮山藥（一段如魚長者）</p>
<p>同搗敷上，以紙蓋之。</p>
<p><u>南星半夏散</u></p>
<p>治吹奶乳癰。</p>
<p>南星　半夏　皂角（去皮弦子，炒黃）　五倍子（去窠蟲，炒黃）</p>
<p>各等分，研極細末，米醋糊敷，一宿立效。</p>
<p><u>乳沒湯</u></p>
<p>治乳癰。</p>
<p>乳香　防風　知母　陳皮　木通　香附（各一錢）　沒藥　川芎　甘草　當歸　貝母（各五分）　苡仁　銀花　栝蔞仁（各二錢）　橘葉（二十片，鮮者更妙）</p>
<p>水酒各半煎，食後服，四五服必愈。</p>
<p><u>蝦蟆餅方</u></p>
<p>治乳癖。</p>
<p>用大蝦蟆一個。去皮令淨，入半夏三錢、麝香五釐，共打爛，為一大餅。敷患處，用帛縛之，約三時許解去，其效如神。</p>
<p><u>貝母白芷內消湯</u></p>
<p>內消乳癧方。</p>
<p>大貝母、白芷各等分為末。每服二錢，白酒下。有郁加白蒺藜，若有孕之婦，忌用白芷。</p>
<p><u>鼠糞散</u></p>
<p>治乳瘰癧，潰爛者方可服，神效。</p>
<p>雄鼠糞（三錢，兩頭尖者便是）　土楝樹子（三錢，經霜者佳，川者不用）　露蜂房（三錢）</p>
<p>俱煅存性，為細末，分作三服。酒下，間兩日服一服。痛止膿盡收斂，奇效。</p>
<p><u>雄黃藜蘆散</u></p>
<p>治婦人陰中突出如蛇，或雞冠菌樣者。</p>
<p>雄黃（一錢）　冰片（二錢）　輕粉（一錢）　鱉頭（煅，黃色一錢）　蔥管藜蘆（二錢，研細，如曲樣）</p>
<p>俱為末，和勻再研，瓷罐收貯。先用芎歸湯煎洗，隨後搽藥，早晚兩次，其患漸收。</p>
<p><u>芎歸湯</u></p>
<p>川芎　當歸　白芷　甘草膽草（各等分）</p>
<p>每用五錢，煎湯洗患處，搽藥。</p>
<p><u>必消散</u></p>
<p>治婦人乳腫，不論內外。</p>
<p>取五木大楊樹上木耳菌，拭淨。淨瓦上炙焦存性，為細末。每服三錢，砂糖調陳酒送下，即消。</p>
<p><u>豬肝條方</u></p>
<p>治婦人陰戶內生瘡，癢痛難堪。</p>
<p>用豬肝切成條，於香油中微燙過。抹樟腦、川椒末插入戶內，引蛆蟲。候一時辰取出，再換二三條，即愈。</p>
<p><u>合蚌散</u></p>
<p>治婦人陰戶內生瘡作癢。</p>
<p>活蚌一個，剖開將蚌肉半個，手拿對陰戶，一夜，次日又用二個，全安。</p>
<p><u>蛇床洗方俱</u>（見《種福堂》）</p>
<p>治女人陰癢。</p>
<p>用蛇床子煎湯洗之，立愈。</p>
<p><u>當歸散</u></p>
<p>瘦而有火，胎不安，宜此。妊娠常服，即易產。胎中疾苦，產後百病主之。</p>
<p><u>白朮散</u></p>
<p>肥白有寒，胎不安者，此能養胎。</p>
<p><u>竹葉湯</u></p>
<p>治產後中風病痙，發熱面正赤，喘而頭痛。</p>
<p><u>甘麥大棗湯</u>（俱見《金匱》）</p>
<p>婦人臟躁，悲傷欲哭。</p>
<p><u>四物湯</u>（方見《時方》）</p>
<p>統治婦人百病。</p>
<p><u>米魚膠糯米散</u></p>
<p>治婦人白帶。</p>
<p>米魚膠（一斤，炒酥，研末）　糯米（二升，炒熟，研粉）</p>
<p>拌好，開水沖服。</p>
<p><u>豬肚胡椒湯</u></p>
<p>治婦人經寒，往來時有痛。</p>
<p>豬肚（一個，洗淨，胡椒八兩，裝入肚內，燉爛食。）</p>

<h2>傷寒附法（太醫院院使錢編輯）</h2>
<p>傷寒傳變大法，已詳《傷寒論注》及《心法要訣》中矣。然近世治四時傷寒者，咸用河間兩解等法，每多神效，誠治斯症之捷法也。今復採雙解散、防風通聖散諸經驗名方，編為歌訣，俾後之學者知所變通，庶幾於傷寒一症，經權常變，有所遵循，而無遺法云。</p>

<h3>雙解散完素解和初法</h3>
<p>雙解通聖合六一，四時溫熱正傷寒。兩許為劑蔥姜豉，汗下兼行表裡宜。強者加倍弱減半，不解連進自然安。若因汗少麻倍大，便硬硝黃加倍添。</p>
<p>名曰雙解散者，以其能發表攻裡，即防風通聖散、六一散二方合劑也。河間制此，解利四時冬溫、春溫、夏熱、秋燥者。正令傷寒，凡邪在三陽表裡不解者，以兩許為劑，加蔥、薑、淡豉煎服之。候汗下兼行，表裡即解。形氣強者，兩半為劑。形氣弱者，五錢為劑。若初服，因汗少不解，則為表實，倍加麻黃以汗之。因便硬不解，則為裡實，倍加硝、黃以下之。連進二三服，必令汗出下利而解也。今人不知其妙，以河間過用寒涼，仲景傷寒初無下法，棄而不用，真可惜也。不知其法神捷，莫不應手取效，從無寒中痞結之變，即有一二不解者，亦未盡法之善。則必已傳陽明，故不解也。防風通聖散，詳在後。</p>

<h3>河間解利後法</h3>
<p>汗下已通仍不解，皆因不徹已傳經。內熱煩渴甘露飲，甚用白虎解毒清。有表熱煩柴葛解，表實大熱三黃寧。裡熱尿赤涼天水，胃實不便大柴承。</p>
<p>服雙解散，汗下已通，而仍不解者，皆因汗之不徹，或以傳經，治之不及也。若表已解，而里有微熱煩渴者，用桂苓甘露飲，以和太陽之裡。若內熱太甚，大熱大煩大渴者，用白虎湯合黃連解毒湯，以清陽明之裡。若表未解，又傳陽明，身熱而煩，用柴葛解肌湯，以解兩陽之邪。若表實無汗，大熱而煩，用三黃石膏湯，以清表裡之熱。若里有熱，尿赤而澀者，用涼膈散，合天水散以清和之。若胃實潮熱，不大便有微表者，用柴胡湯下之。無表者，三承氣湯下之。桂苓甘露飲、白虎湯、大柴胡湯、三承氣湯，已詳《傷寒要訣》。六一散、涼膈散，詳在《雜病要訣》。</p>
<p><u>防風通聖散</u></p>
<p>防風通聖治風熱，郁在三焦表裡中。氣血不宣經絡壅，梔翹芩薄草歸芎。硝黃芍術膏滑石，麻黃桔梗與防荊。利減硝黃嘔姜半，自汗麻去桂枝增。</p>
<p>此方治一切風火之邪，鬱於三焦表裡經絡，氣血不得宣通。初感發熱頭痛膚疹，傳經斑黃，抽搐煩渴不眠，便秘尿澀，皆可服之。功效甚奇，用之自知其妙也。</p>
<p><u>柴葛解肌湯</u></p>
<p>四時合病在三陽，柴葛解肌柴葛姜。白芷枯芩膏芍草，利減石膏嘔半羌。</p>
<p>此方陶華所制，以代葛根湯。凡四時太陽、陽明、少陽合病輕證，均宜以此湯增減治之。增減者，謂如無太陽證者減羌活，無少陽症者減柴胡也。即柴胡、葛根、羌活、白芷、桔梗、赤芍、石膏、黃芩、甘草也。下利減石膏，以避裡虛也；嘔加半夏、生薑，以降里逆也。</p>
<p><u>黃連解毒湯</u>　梔子金花湯　三黃石膏湯</p>
<p>陽毒熱極疹斑嘔，煩渴呻吟譫語狂。下後便軟熱不已，連芩梔柏解毒湯。裡實便硬當攻下，梔子金花加大黃。表實膏麻蔥豆豉，下利除膏入葛良。</p>
<p><u>清毒犀角飲</u></p>
<p>陽毒熱極等證，或下後便軟，壯熱不已，宜黃連解毒湯。即黃連、黃芩、黃柏、梔子也。若裡實當攻下；便硬者宜加大黃，名梔子金花湯；若表實無汗，當發汗者，宜加石膏、麻黃、淡豆豉、蔥白，名三黃石膏湯；下利者，減石膏加葛根，避里不實也。</p>
<p>消毒犀角表疹斑，毒壅咽喉腫痛難。犀角牛蒡荊防草，熱盛加薄翹芩連。</p>
<p>消毒犀角飲即消毒飲之防風、荊芥、牛蒡子、甘草加犀角也，熱盛加連翹、薄荷、黃芩、黃連也。</p>
<p><u>消斑青黛飲</u></p>
<p>消斑青黛消斑毒，參虎柴犀梔地元。黃連熱實減參去，苦酒加入大黃煎。</p>
<p>消斑青黛飲即青黛。參虎，謂人參白虎湯，即人參、石膏、知母、甘草、柴胡、犀角、山梔、生地、元參、黃連，用苦酒與水煎也。熱甚便實者，減去人參，加大黃可也。</p>
<p><u>普濟消毒飲</u></p>
<p>普濟大頭天行病，無里邪熱客高巔。芩連薄翹柴升桔，蠶草陳勃蒡藍元。</p>
<p>普濟消毒飲治天行傳染，大頭瘟疫，無里可下者。是其邪熱客於高巔，即黃芩、黃連、薄荷、連翹、柴胡、升麻、桔梗、殭蠶、甘草、陳皮、馬勃、牛蒡子、板藍根、元參也。</p>
<p><u>連翹敗毒散</u></p>
<p>連翹敗毒散發頤，高腫焮紅痛可除。花粉連翹柴胡蒡，荊防升草桔羌獨。紅花蘇木芎歸尾，腫面還加芷漏蘆。腫堅皂刺穿山甲，便燥應添大黃疏。</p>
<p>連翹敗毒散治時毒發頤，高腫焮紅疼痛之陽證也。即連翹、天花粉、柴胡、牛蒡子、荊芥、防風、升麻、甘草、桔梗、羌活、獨活、紅花、蘇木、川芎、歸尾。兩頤連面皆腫，加白芷、漏蘆；腫堅不消，加皂刺、穿山甲；大便燥結，加酒炒大黃。</p>
<p><u>都氣湯，橘皮竹茹湯</u></p>
<p>呃逆腎虛都氣湯，六味肉桂五味方。橘皮竹茹虛熱主，橘竹參草棗生薑。</p>
<p>都氣湯即六味地黃湯加肉桂、五味子也；橘皮竹茹湯即橘皮、竹茹、人參、甘草、大棗、生薑。</p>
<p><u>葳蕤湯</u></p>
<p>風溫浮盛葳蕤湯，羌麻葛芷青木香。芎草石膏葳蕤杏，裡實熱甚入硝黃。</p>
<p>風溫起初，六脈浮盛，表實壯熱汗少者，宜葳蕤湯以發表風邪也。即羌活、麻黃、葛根、白芷、青木香、川芎、甘草、石膏、葳蕤、杏仁也。裡實熱甚汗多者，加芒硝、大黃以攻裡熱也。</p>
<p><u>桂枝白虎湯</u></p>
<p>風溫虛熱汗出多，難任葳蕤可奈何。須是鼾睡而燥渴，方宜桂枝虎參合。</p>
<p>風溫初起，脈浮有力，汗少壯熱，宜於葳蕤湯。若脈虛身熱汗出，難用葳蕤湯，合與桂枝白虎人參湯。如不鼾睡，口中和而不燥不渴，身熱汗多脈浮盛者，乃亡陽之證，非風溫也。即桂枝白虎加人參湯，亦不可用也。</p>
<p><u>瀉心導赤各半湯</u></p>
<p>越經無證如醉熱，脈和導赤各半湯。芩連梔子神參麥，知滑犀草棗燈姜。</p>
<p>越經，病名也。無證，謂無表裡證。脈和而身熱不解，形如醉人者，是越經證也。宜瀉心導赤各半湯治之。</p>
<p>即黃連、黃芩、梔子、茯苓、人參、麥冬、知母、滑石、犀角、甘草、燈心、生薑、大棗也。</p>
<p><u>大羌活湯</u></p>
<p>兩感傷寒病二經，大羌活湯草川芎。二防二術二活細，生地芩連知母同。</p>
<p>兩感傷寒，病名也。二經謂一日太陽、少陰，二日陽明、太陰，三日少陽、厥陰，同病也。張潔古制大羌活湯治之，即甘草、川芎、防風、防己、蒼朮、白朮、羌活、獨活、細辛、生地、黃芩、黃連、知母也，詳在《傷寒要訣》。</p>
<p><u>還陽散</u>　退陰散　黑奴丸</p>
<p>陰毒還陽硫黃末，退陰炮烏乾薑均。陽毒黑奴小麥疸，芩麻硝黃釜灶塵。</p>
<p>還陽散即石硫黃末。每服二錢，新汲水調下。良久寒熱不出，再服之，汗出愈。</p>
<p>退陰散即炮變色川烏，微炒乾姜，等分為末，每服一錢，鹽湯滾數沸服。四肢不溫，連服三次即溫。熱服若吐，冷服亦可。黑奴丸即小麥成黑疸者，名曰小麥奴。黃芩、麻黃、芒硝、大黃、釜底煤、灶突煙、梁上塵也。為末，蜜丸重四錢，新汲水下。服後若渴，飲冷水者，令恣意飲之。須臾自當寒振汗出，腹響微利而解也。若不渴者，恐是陰極似陽，服之反為害耳。</p>
<p><u>九味羌活湯</u></p>
<p>九味羌活即沖和，四時不正氣為疴。潔古制此代麻桂，羌活防蒼細芷芎。生地草芩喘加杏，無汗加麻有桂多。胸滿去地加枳桔，煩渴知膏熱自瘥。</p>
<p>此湯即沖和湯。張潔古制此以代麻黃桂枝二湯，即羌活、防風、蒼朮、細辛、白芷、川芎、生地、甘草、黃芩也。喘加杏仁，無汗加麻黃，有汗加桂枝。胸膈滿悶，去生地，加枳殼、桔梗，快膈氣也。煩渴引飲，加知母、石膏，熱自瘥也。</p>
<p><u>十神湯</u></p>
<p>十神外感寒氣病，功在溫經利氣殊。升葛芎麻甘草芍，薑蔥香附芷陳蘇。</p>
<p>此方即升麻、葛根、川芎、麻黃、甘草、芍藥、香附、白芷、陳皮、蘇葉、生薑、蔥白也。能外發寒邪，內舒鬱氣，故曰寒氣病，較之他劑，有溫經利氣之功殊也。</p>
<p><u>人參敗毒散</u>　荊防敗毒散　倉稟散</p>
<p>人參敗毒虛感冒，發散時毒疹痢良。參苓枳桔芎草共，柴前薄荷與獨羌。時毒減參加翹蒡，血風時疹入荊防。表熱噤痢加倉米，溫熱芩連實硝黃。</p>
<p>人參敗毒散治氣虛感冒時氣之病，即枳殼、桔梗、川芎、茯苓、人參、甘草、柴胡、前胡、薄荷、獨活、羌活也。時毒，謂受四時不正之氣，或腫兩腮兩頤，或咽喉腫痛，依本方減人參，加牛蒡、連翹治之。時疹，謂初病即有之疹。血風，謂遍身瘙癢之疹。俱依本方減人參，加荊芥、防風治之，名荊防敗毒散。表熱無汗，噤口痢疾，依本方加倉米治之，名倉稟散。溫病熱病熱甚，俱加黃連、黃芩；胃實便硬，俱加芒硝、大黃也。</p>
<p><u>五積散</u></p>
<p>內傷生冷外感寒，五積平胃半苓攢。麻桂枳桔歸芎芍，姜芷加附逐陰寒。腹痛嘔逆吳萸入，有汗除麻桂枝添。虛加參朮除枳桔，婦人經痛艾醋煎。</p>
<p>五積散即蒼朮、陳皮、厚朴、甘草、半夏、茯苓、麻黃、官桂、枳殼、桔梗、當歸、川芎、白芍、乾薑、白芷也。表重用桂，陰寒肢冷加附子，腹痛嘔逆加吳萸，有汗除去麻黃，加桂枝。氣虛加人參、白朮，除去枳、桔，婦人經痛加艾葉，醋煎服之。</p>
<p><u>升麻葛根湯</u></p>
<p>升葛芍草表陽明，下利斑疹兩收功。麻黃太陽無汗入，柴苓同病少陽經。</p>
<p>升麻、葛根、白芍、甘草，即升麻葛根湯也。陽明表邪不解，或數下利，及斑疹不透者，均宜主之。若兼太陽無汗之表症，入麻黃。若兼少陽口苦耳聾，寒熱往來，半表半裡之症，加柴胡、黃芩也。</p>
<p><u>二聖救苦丹</u></p>
<p>初起時疫溫熱病，救苦汗出下俱全。熱實百發而百中，大黃皂角水為丸。</p>
<p>此丹即大黃四兩、皂角二兩，為末，水為丸也。每服三錢，無根水下。弱者、老者、幼者，量減服之。此藥施治於初起時疫傳染，傷寒溫病熱病，熱盛形氣俱實者，百發百中。服後或汗、或吐、或下，三法俱全，其病立解。</p>
<p><u>溫膽湯</u></p>
<p>傷寒病後津液干，虛煩燥渴不成眠。乃是竹葉石膏證，膽經餘熱此方先。口苦嘔涎煩驚悸，半苓橘草枳竹煎。氣虛加參渴去半，再加麥粉熟芩連。</p>
<p>傷寒病後，燥渴虛煩，乃竹葉石膏湯證，非溫膽湯證，詳在《傷寒要訣》。若少陽膽經餘熱，則口苦嘔煩驚悸，是溫膽證也。即半夏、茯苓、橘皮、甘草、枳實、竹茹也。形氣俱虛，或因汗吐下後，及氣虛者，均加人參。渴去半夏，加麥冬、花粉以生津也。有熱加黃芩、黃連以清熱也。</p>

<h2>傷寒附法補</h2>
<p>錢院使主河間兩解之法，利於實熱之病，余又續景岳內托之法，利於虛寒之病。正法之外，得此兩法，治傷寒無餘蘊矣。</p>
<p>發表無汗病為逆，須審陰陽施補益。陽虛再造散如神，小建中湯生津液。東垣變用益氣湯，只緣飢飽與勞役。又有無汗屬陰虛，理陰歸柴二方擇。若宜涼解歸葛煎，陽明溫暑及時疫。陰陽兩虛汗最難，大溫中飲當考覈。仲景驅外是恆經，各家內托亦上策。</p>
<p>李東垣云：傷寒無內傷者，用仲景法；挾內傷者，十居八九，（勞役飢飽過度謂之內傷）只用補中益氣湯加減。又云：尺脈遲者，不可發汗，當與小建中湯和之。和之而邪解，設不解，服至尺脈有力，乃與麻黃湯汗之。喻嘉言云：宜小建中湯生其津液，津液充，便自汗而愈。陶節庵云：傷寒服發表藥而不作汗，名無陽症。宜再造散助陽以作汗。張景岳云：陽根於陰，化於液，從補血而散。此云騰致雨之妙，則猶仲景所未及。觀其自制數方，平散如歸柴飲，溫散如大溫中飲及理陰煎，涼散如歸葛飲，皆取邪從營解之義也。仲景重在驅邪，此則重在補正。驅邪是逐之於外，補正是托之於內。法雖不同，而散寒之意則一也。</p>
<p><u>再造散</u></p>
<p>陽虛再造散稱奇，附子辛參草桂耆。羌活芎防薑棗入，或加芍藥水煎之。（人參一錢、黃耆二錢、桂枝一錢、甘草五分、附子炮一錢、細辛七分、羌活八分、防風七分、川芎一錢，煨姜二片、大棗二枚，加芍藥一撮，夏加黃芩，石膏用之。）</p>
<p><u>小建中湯</u></p>
<p>陽氣素虛乏津液，傷寒溫補必須急。桂枝倍芍加膠飴，小小建中大有益。（白芍三錢、桂枝、生薑各一錢五分、炙草一錢，水煎入飴糖三錢拌服。）</p>
<p><u>補中益氣湯</u></p>
<p>補中益氣術歸耆，炙草人參與橘皮。薑棗柴升煎水服，六經加味始相宜。（炙耆二錢、人參、白朮、當歸、炙草各一錢、陳橘皮五分、柴胡、升麻各三分、薑棗水煎服。）</p>
<p>太陽加羌活、藁本、桂枝，陽明加葛根、倍升麻，少陽加黃芩、半夏、川芎，倍柴胡。</p>
<p>太陰加枳實、厚朴；少陰加甘草、橘皮；厥陰加川芎；變症發渴，加乾葛、元參，倍升麻。</p>
<p><u>理陰煎</u></p>
<p>熟地當歸炙草姜，理陰煎劑最為良。方中加減須消息，肉桂加之用亦強。（熟地四錢、當歸一錢五分、炙草一錢、乾薑一錢五分，水二盅，煎八分服。）</p>
<p><u>歸柴飲</u></p>
<p>歸柴二味及甘草，傷寒平散用之好。大便多溏歸易術，還有加減方中討。（當歸一兩、柴胡五錢、炙草八分，水煎服。）</p>
<p><u>大溫中湯</u></p>
<p>傷寒溫散大溫中，參朮柴胡肉桂同。草地麻黃姜歸用，水煎去沫服為功。（熟地五錢、白朮三錢、當歸一錢、人參一錢、炙草八分、柴胡一錢、麻黃一錢、肉桂一錢、乾薑一錢、白朮二錢水二盅，煎七分，去浮沫，溫服或略蓋微汗。）</p>
<p><u>歸葛飲</u></p>
<p>當歸乾葛兩般宜，涼散方中此最奇。煎後好將涼水浸，徐徐服下汗來時。（當歸五錢、乾葛二錢，水二盅，煎一盅以冷水浸涼，徐徐服之。）</p>

<h1>跋</h1>
<p>修園先生，陳老太姻翁、吳航名宿也。以名孝廉出宰有政聲，歸里數十年，所有著作各種醫書，靈石太姻翁徽庵姻翁已節次付梓行世。茲又新刊《從眾錄》共八卷，分門別類，各有條理，其中分症辨脈，摘選諸家精要，附擬各按，俱極精切。足見家學之淵源遠矣！讀其書者頓開心目，誠為度世之金針，活人之良法也。檢忝附世交，又聯姻婭，不愧譾陋，謹跋數語，以志心企云爾。</p>
<p><u>道光午年七月既望姻世再愚侄鄭學檢謹跋</u></p>
