<header data-type="book">
<h1>家傳女科經驗摘奇</h1>
</header>

<h1>序</h1>
<p>婦人乃眾陰所集，常與濕居，貴乎血盛氣衰者也。血盛氣弱是謂之順，順則百病不生；血衰氣盛是謂之逆，逆則災病生焉。且婦嗜欲多於男子，而生病倍於丈夫。及其病也，比之男子，十倍難療，尤不可不考。若是四時節氣，喜怒憂思，飲食房勞為患者，悉與男子同也。凡婦人之疾，多因月經不調，變生諸症，經候如期為安。或有衍期，審虛實、寒熱而調之。先期而行者，血熱故也；過期而行者，血寒故也。熱則清之，寒則溫之，然不可不察其有無外邪之症。或有寒熱而後投藥，且經行之際與產後一般，調理失宜，其病不淺。若被驚則血氣錯亂，經水漸然不行，逆於上者則從口鼻中出，逆於身者則為血分成勞瘵之病。若因勞力太過，則生虛熱，變為疼痛之根。又況婦人疾病，多因欲戀愛憎、嫉妒憂恚，抑鬱不能自釋，為病深固，所以治療十倍於男子也。若病而重者，恚怒則氣逆，氣逆則血逆，血逆則腰、腿、心腹、背、脅之間，遇經行而病，過期又安。若怒極則傷肝，又有眼花、頭暈、嘔吐之症，加之經脈滲漏於其間，遂成竅穴，或成淋漓不止。凡此之病，中風則病風，感冷則病冷，久而不治，崩漏帶下、七癥八瘕可立而待，即成痼疾。若能治病於未然，當調經為先。由是婦人別立方法，俾能自調攝之，所謂盡善盡美也。</p>

<h1>求子</h1>
<p>論曰：夫天地者，萬物之父母也，陰陽者，血氣之男女也。夫有夫婦則有父子，婚姻之後則有生育。育者，人倫之本也。且男女之合，二情交暢，陰血先至，陽精後沖，血開裹精，陰外陽內，陰裹陽精而男形成矣；陽精先至，陰血後參，精開裹血，陽外陰內，陽精裹血而女形成矣。若夫受形之易者，男女必當其年。男子八歲，齒更髮長，二八而精血溢。女子七歲，齒更髮長，二七而天癸至。乃是陽中之陰也，陰中之陽也。男子三十而娶，女子二十而嫁，欲其氣血充實，然後交合，故交而孕，孕而壽。倘若婚嫁不時，其氣早泄，未完而傷，是以交而不孕，孕而不育，育而不壽者多矣。以此觀之，男女貴乎溢壯，則易於受形也。且父少母老，生女必羸；母少父衰，生男必羸，誠哉此理。或男子其精不濃，婦人血衰氣旺，是於男女氣血偏勝，皆使人無子。思治療之法，女子當養血抑氣以減喜怒，男子當益腎生精以省嗜欲，依方調理，陰陽和平，則婦人樂而有子矣。</p>
<p>予嘗試驗，治婦人以經信為主，經信不調，是榮衛不實也。血為榮，氣為衛。氣盛則血行，氣衰則血澀，榮衛和通，氣血周流，百病不生。臟腑寒則血凝，熱則血搏，經則血順，故婦人先察其心性。心性和平，故易治也；若性拗捩，為難治也。務要調其心氣，心氣不調，則月經漸滯，或多或少，或前或後，孕育難成，百病生焉。謹按本草，細詳藥性，君臣佐使三方，故名曰百病濟陰丹、濟陰補宮丹、益陰大補丹。方內滋養血氣，調和陰陽，密腠理，實臟腑，治風陰痼冷，不可以藥分兩貴賤而有增減，務要依方制度米丸。先服米湯藥四帖，不問虛實；再服丸藥，論虛實服。</p>
<p><u>抑氣散</u>　治婦人氣盛於血，所以無子。尋常頭暈、膈滿、體痛、怔忡皆可服之。香附乃婦人之仙藥也，不可謂其耗氣而勿服。</p>
<p>香附（四兩，四制：酒製一次，童便制一次，鹽制一次，醋製一次，曬乾）　茯神（一兩）　橘紅（一兩）　甘草（炙，一兩）</p>
<p>上共為末，聽用。</p>
<p><u>四物湯</u>　治婦人經候不調，不孕並服。</p>
<p>川歸（三錢）　川芎（二錢）　白芍（一錢五分）　熟地（一錢）　澤蘭葉（二錢）　牛膝（一錢）　鍾乳粉（三分）（火煅、醋碎三、五次，用水飛過用）</p>
<p>上水煎服，撮四帖，先服二帖，其藥煎熟，入乳粉三分，前抑氣散二錢，入湯藥同服，再服丸藥。經至日又然，如前二帖，煎服，訂記。</p>
<p>丸藥方：</p>
<p><u>濟陰補宮九</u>　虛實。</p>
<p>川歸（三兩，酒浸）　川芎（三兩）　熟地（三兩，焙乾）　烏藥（四兩，生用）　黃耆（一兩，生用）　阿膠（一兩，炒珠）　肉桂（一兩，炒）　粉草（一兩五錢）　黃芩（一兩半）　秦艽（一兩，炒，去子）　茴香（三兩，炒，用小茴）　白姜（一兩，煨）　三稜（一兩，醋製浸，煨）　黑豆（三升，童便浸泡，浸一日一夜，曬乾）　陳皮（一兩）　蒲黃（一兩半，篩過）　莪朮（醋浸，煨）　劉寄奴　丹皮　沒藥（制，另研）　石斛（去根）　白朮　貝母（各一兩）　防風（一兩半）　石脂（火煅酥碎過，五錢）　木香（五錢，另研）　香附（四兩，去毛，一半生，一半熟）</p>
<p>上銼片，同豆拌勻，用醋入水，蒸一日，曬乾為末，煉蜜為丸，服藥（法開寫於後）。</p>
<p><u>百病濟陰丹</u>　實。</p>
<p>淨川歸（一斤，酒洗）　紅花（二兩）　香附（一兩，去毛，捶碎）　白芍（四兩，酒浸，炒）　荊芥（一兩，另研）　薑黃（四兩，半生半熟）　川芎（四兩，酒浸，曬乾）　三稜（一斤，水洗，浸透，紙包煨為度）　木香（二兩，切片，曬乾，另研）　白芷（六兩）　蘄艾（一斤）　乾薑（四兩，一半生，一半醋浸煨）　蘇木（四兩，捶碎，煎湯去渣）　黑豆（二升）</p>
<p>其豆用蘇木湯浸一日一夜，取出，將濕豆拌香附，鋪砂鍋底，余藥盡拌勻。仍多蘇木湯，以艾濕之，與藥和勻。惟木香、荊芥二味不入鍋內。前藥盡鋪上，用好醋一壺，入鍋內浸藥，高一掌為度，熳火煮一日，微潤，取出曬乾為末，加前木香、荊芥末入內，和勻，用饅頭去皮，冷水浸透半日，以新苧布攪過，入銅銚內打糊，加醋，硬糊，丸如梧桐子大，每服五十丸，空心薑湯送下，或白湯，或益母湯任下。</p>
<p><u>滋陰大補丹</u>　虛弱。</p>
<p>人參　白朮（炒）　茯苓　甘草　川歸（酒浸）　川芎（酒浸）　白芍（酒浸，炒）　熟地（酒洗，蒸）　沒藥（制）　藁本（酒浸，去蘆）　丹皮（水洗）　石脂（醋碎七次）　玄胡（捶碎，炒）　白芷（生用）　白薇　以上各一兩（除石脂、沒藥另研，其餘用醋酒浸三日，焙乾為末，足十五兩）　香附（去毛，水、酒、醋浸三日，炒乾為末，足十五兩）</p>
<p>上藥末十五兩，香附末十五兩，入石脂、沒藥共勻，煉為丸如梧桐子大，磁罐盛貯，服法同前。</p>
<p>調經服藥戒忌於後：</p>
<p>一服丸藥，每早晨空心白湯或酒送下五十丸，經至加二十丸，中時進湯藥一服。如至二日，待淨方可行事。至次日不復經來，受胎有準；如若復來，多是難准。依前服，待月事勻，受胎為度。</p>
<p>一戒暴怒性拗，思想過度，存欲心偏，當風取涼，冷水沐浴洗手。</p>
<p>一忌食物、豆粉、鴨子、煎炒、油膩、辛辣，面黏硬等，莫食水果、生冷死肉、血塊之類。</p>
<p><u>通經丸</u>　川椒（炒，去子）　莪朮　乾漆　牛膝（焙乾為末）　川歸　青皮　乾薑（制）　大黃　桃仁　紅花　川烏（制）　桂心（各等分）</p>
<p>上為末，將一半用醋熬成膏，和藥一半成劑，臼中拌之，丸如梧桐子大，陰乾，每服五十丸，醋湯或酒任下。一服後，再服大黃膏催之。</p>
<p><u>通經斑紅丸</u>　治癥瘕及血塊、痞痰等症。</p>
<p>斑蝥十個（炒，去頭足）　紅娘子三十個（去頭足）　乾漆（一錢半，炒去煙）　大黃　琥珀（各一錢）</p>
<p>共為細末，作三服，用後煎藥送下。</p>
<p><u>煎藥方</u>　三稜　莪朮　紅花　香附　歸尾　赤芍　青皮　丹皮　生地　川芎（各等分）</p>
<p>酒、水各半煎，食後服。</p>

<h1>補母益子論</h1>
<p>凡屢產生子無氣及育而不壽者，皆父母元氣不足故也。夫人受精重施，則髓滿骨堅，又得血氣壯盛之婦為配，則種子精神而有壽也。若壯陽弱婦，成孕則母無餘血蔭胎，必藉補藥以培胎元，斯生子而有壽矣。若弱人衰翁，必須異床寡欲，藥味助神，等候經期，固真乃施，斯乾元資始之本，實坤元資生之源也。《經》云：因而和之，是謂聖度。若不遠帷箔，則相火易動，雖不交會，亦暗流損泄多矣。《經》云：陰平陽秘，精神乃治；陰陽離決，精神乃絕。後立二方，實補先天之不足，孕成後必宜多服，以全胎元可也。</p>
<p><u>補母益子方</u>　治屢產生子無氣，或育而不壽。又補氣血虛弱人，孕成不安，或得孕數墮。用此方每服十五帖，弱甚者日服一帖，大益胎而分娩易，又生子精神而有壽也。</p>
<p>人參（一錢，弱者二、三錢）　川歸（二錢）　白朮（二錢，生用）　川芎（八分）　淮熟地（二錢）　陳皮　紫蘇　炙甘草（各四分）　條芩（一錢）</p>
<p>虛肥人：陳皮（去白），加黃連五分、棗三枚、姜一片煎服；脾胃弱常泄瀉，加蓮子十個、帶皮砂仁二錢，減地黃；多怒而泄，再加木香二分（磨）；口常燥滿，加麥冬二錢；怔忡驚悸，加棗仁、益智各一錢，圓眼十個。</p>
<p><u>加減大造丸</u>　兼服助胎尤妙，男子亦可服。</p>
<p>紫河車（一個）　人參（一兩五錢）　歸身（二兩半）　麥門冬（一兩）　五味子（五錢）　淮熟地（二兩）　菟絲子（四兩）　枸杞（一兩）　益智仁（一兩）　白茯苓（二兩）</p>
<p>脾胃弱常瀉，減地黃，加白朮一兩、山藥一兩，天門冬一兩，黃柏五錢；久瀉者不用柏。</p>
<p>上各藥為末，將地黃、麥冬蒸搗如泥，次下諸藥末，又搗千餘下，煉蜜丸如梧桐子大，空心清湯送下百丸，或五六十丸。忌食蘿蔔。</p>
<p><u>加味大造丸</u>　治氣血弱人，不能攝元成孕，或屢墮胎，及生子不壽，或孕後虛熱、盜汗、食少、帶多，宜食之。</p>
<p>紫河車（一個）　人參（一兩半）　川歸（二兩，去尾）　麥冬（一兩三錢）　天冬（一兩）　五味子（五錢）　杜仲（七錢，炒去絲）　山藥（八錢）　牛膝（一兩，酒浸一宿）　黃柏（七錢，鹽水炒）　枸杞（二兩）　淮熟地（二兩）　白茯苓（二兩）　益智仁（一兩）　菟絲子（四兩）</p>
<p>上末，煉蜜為丸，每服五十丸，空心白湯送下，或酒下亦可。</p>

<h1>妊娠</h1>
<p>論曰：陰搏陽別，謂之有子。三部脈浮沉正等，無病者乃知有妊也。妊既受矣，多病惡阻。惡阻者，即所謂惡食是也，此由婦人本虛，平居之時，喜怒不節，當風取冷，中脘宿有痰飲。受妊經血既閉，飲食相搏，氣不宣通，遂至心下憤悶，頭暈眼花，四肢沉重，懈怠，聞食氣即吐，喜食酸物，多臥少起，甚則吐逆，自不勝持。治療之法，順氣理血，豁痰導水，然後平安。</p>
<p><u>加味參橘散</u>　治妊娠二、三月，惡阻吐逆不食，或煩悶等症。</p>
<p>人參（一錢）　橘紅（四分）　白朮（一錢）　麥冬（一錢）　厚朴（二錢）　川歸（二錢）　甘草（三分）　砂仁（三分，炒）　藿香（二分）　竹茹（一丸）　姜（三片）</p>
<p>水煎服，或加乾薑半分。</p>
<p><u>縮砂飲</u>　治妊娠胃虛氣逆，嘔吐不食。</p>
<p>縮砂仁不拘多少，為末，每服二錢，生薑湯下。</p>
<p>凡婦人妊娠二、三月，胎動不安者，此是男女陰陽會通，血氣調勻而成胎孕。設若血脹腹痛，蓋因子宮久虛，致令胎墜，其重甚於正產。若妊娠曾受此，可預先服大造丸（今即杜仲丸）以養胎。</p>
<p><u>杜仲丸</u>　杜仲（薑汁炒，去絲）　川續斷（酒浸，各二兩）</p>
<p>上二味等分，為末，棗肉煮，杵爛和丸，梧子大，每服五、六十丸，空心米飲送下。</p>
<p>凡妊娠胎動腹痛者，其理不一。蓋因飲食冷物、動風毒物，或因再交，搖動骨節，傷犯胞胎，其症多嘔，氣不調和，服藥太過，血氣相干，急宜服順氣之藥安胎，漏則難療矣。</p>
<p><u>如聖散</u>　鯉魚皮　川歸　淮熟地　阿膠（炒）　白芍　川芎　續斷（酒浸）　甘草</p>
<p>上各等分，加苧麻根少許，生薑五片，水煎，空心服。</p>
<p><u>加味安胎飲</u>　治妊娠元氣不足，倦怠，以致胎動不安，或身微熱，並服。如腰痛、腿痛，必一日夜服兩帖，方可安矣。</p>
<p>人參（二錢或三錢）　川歸（二錢）　白朮（二錢半，生用）　條芩（八分）　陳皮　紫蘇（各四分）　淮熟地（二錢）　砂仁三分（炒）　甘草（三分）</p>
<p>如渴，加麥冬一錢，棗二枚，水煎。</p>
<p>予按：固胎在調母，調母之法，宜各按月依經，視其血氣虛實而調之，固無墜胎之患，其或感冒風寒，跌撲損傷，別生異症，又各按法而調之。《機要》曰：胎產之病，當從厥陰經論之，毋犯胃氣及上二焦，謂之三禁，不可汗，不可下，不可利小便。若發汗煮，如傷寒早下之症；和大便者則脈數已動於脾；利小便者則內亡津液，胃中枯燥。制方之法，能不犯三禁，則榮衛自和而寒熱止矣，皆醫者之準繩也。</p>
<p>予曰：安胎，桑寄生、阿膠、縮砂為要藥也，如桂枝、半夏、桃仁、大黃，墮胎及燥熱等劑，不可用也。又曰：月中經季不行，一身反病，日瘦，形似虛勞，卻是有孕。二陳湯加縮砂、桂枝、桔梗、薑、棗、烏梅同煎服。然半夏，胎中禁藥，此又用者，理氣清痰；砂仁，安胎順氣；桔梗開胸膈，服之自然平安。《經》曰：有故無損，亦無損也。</p>
<p>凡妊娠胎漏，經血妄行、此是妊娠成形，胎息未實，或因房室驚觸，勞役過度，傷動胎胞，或食毒物，致令子宮虛冷，經血淋漓。若不急治，敗血湊心，子母難保，日漸胎干，危之不久。</p>
<p><u>桑寄生散</u>　治妊娠胎急不安，血下不止。</p>
<p>桑寄生　川歸　川芎　續斷（酒浸）　香附（制）　阿膠（炒）　人參　茯苓　白朮等分（生）　甘草（少許）　姜（五片）</p>
<p>水煎溫服。</p>
<p>主方：治胎漏下血，屬氣虛主之。</p>
<p>白朮（生）　條芩　阿膠　砂仁　香附　糯米</p>
<p>有熱用四物湯，加阿膠。</p>
<p>丹溪曰：凡婦人胎產諸疾，只須以四物湯為主治，看症加減調理。</p>
<p>主方：治妊娠胎病不安，血虛主之。</p>
<p>川歸（酒洗）　川芎（五分）　白芍（酒炒，八分）　淮熟地（看症加減，五錢）　人參（二錢）　黃耆（一錢五分）　甘草（五分）　香附（一錢，炒）　生地（一錢）　白朮（生，一錢五分）　條芩（一錢）　白茯苓（一錢）　桑寄生（一錢）　阿膠（一錢，炒珠）　黃楊樹角</p>
<p>上㕮咀，姜一片，水煎服。</p>
<p>主方：安胎。</p>
<p>川歸　川芎　白芍　淮熟地　香附（制）　艾葉（炒，揀去條）　砂仁（連殼炒，研）　白朮　條芩（生）　甘草（炙）　黃耆（無亦可）　糯米（一撮）　阿膠（炒，研末）</p>
<p>腰痛加杜仲，若下血加地榆，若觸胎加金銀同煎。上姜三片，水煎服。</p>
<p>凡婦人妊娠，面赤口乾，舌苦心煩，腹脹，此乃蓋為恣意飲酒，食水果、羊、雞、面、魚、膻腥毒物，致令百節痠痛，大小便閉澀，可服歸涼節命散。</p>
<p><u>歸涼節命散</u>　川芎　苧根　白芍　麥冬　川歸　白朮　甘草　糯米</p>
<p>如積食加砂仁、山楂、麥芽，上水煎溫服。</p>
<p><u>大腹皮飲</u>　治大小便赤澀。</p>
<p>枳殼（炒）　大腹皮　甘草　赤茯苓</p>
<p>上末每服二錢，濃煎蔥白湯調下。</p>
<p><u>冬葵子散</u>　治妊娠小便不利，身重惡寒，頭暈眼花，水腫。</p>
<p>冬葵子（二錢）　赤茯苓（二錢）</p>
<p>上為末，每服三錢，米湯下，不拘時服，利則住。如不通，恐是轉胞，加發灰少許，神效。如雜溫脾胃、寬氣等藥，以指探吐法，皆不效，轉加腹滿湊心，不能轉通，秘用一指，深入陰戶，拔轉立通，再服鯉魚湯。子云：腳腫、俗云皺腳湯，亦有遍身腫滿，心胸急脹，皆妙。</p>
<p><u>鯉魚湯</u>　治胎前水腫，通利方消，產後亦妙。</p>
<p>川歸（酒浸）　白朮（五錢）　白茯苓（四錢）　白芍（三分）</p>
<p>上片，每服四錢，用鯉魚二、三尾，不拘大小，破洗鱗腸，白水煮熟，去魚，每服用魚湯一盅半，生薑七片，陳皮少許，煎，空心服而水自去矣。</p>
<p>凡婦人胎冷腹脹，兩脅虛鳴，臍下冷痛，欲泄。小便頻數，大便虛滑，此乃胎氣既全，子成形質。或食瓜果、甘甜生冷不時之物，或當風取涼，受不時之氣，則令胎冷，子身不安，皮毛疼痛，筋骨拘急，手足攣卷，致母有此危證，急宜安胎和氣散。</p>
<p><u>安胎和氣散</u>　訶子（麵包煨）　白朮（各一兩）　陳皮（去白，五錢）　良薑（二錢，炒）　木香（五錢）　白芍（五錢）　陳米（一合，炒）　甘草（炙，三錢）</p>
<p>上片，每服五錢，姜三斤，水煎服，忌生冷。</p>
<p>凡婦人妊娠，心神忪悸，睡夢多驚，兩脅腹脹，過時連臍急痛，坐臥不寧，氣促急迫胎驚，為何？胎氣既成，五臟安養，皆因氣悶，或為喧呼，忪悸，悶亂，致令胎驚，筋骨傷痛，四肢不安。急用大聖散保胎，則無損傷。</p>
<p><u>大聖散</u>　川芎（二錢）　白茯苓（二錢）　麥冬（二錢）　黃耆（二錢，炙）　川歸（二錢）　木香（五分）　甘草（五分）　人參（五分）</p>
<p>上姜三片，水煎服。</p>
<p><u>紫蘇飲</u>　治婦人胎氣不和，湊上心腹脹滿，痛不可忍，謂之子懸。</p>
<p>大腹皮　川芎　白芍　陳皮　紫蘇　川歸（各等分）　人參　甘草（減半）</p>
<p>上姜五片，蔥白五寸，水煎溫服。</p>
<p>凡婦人妊娠，月數未滿，半產者，此乃本因臟腑虛微，氣衰力弱，病起相感，精血攻衝，侵損榮衛，有傷胞胎，以致損落。故曰半產，急宜芎藭補中湯補治，可保無虞。</p>
<p><u>芎藭補中湯</u>　養新血，去瘀血，補虛損。</p>
<p>人參　黃耆　甘草　杜仲　白朮　赤芍　木香　乾薑　川芎　阿膠　五味</p>
<p>上水煎，不拘時溫服。</p>
<p>此症服補母益子大造丸，無此患也。</p>
<p>凡婦人妊娠，小便淋漓，此乃本因調攝失宜，子臟氣虛。蓋緣酒色過度，傷其血氣，致令小便閉塞，遂成淋瀝，名曰子淋。宜服安榮散。</p>
<p><u>安榮散</u>　治妊娠小便淋瀝，或下焦有熱，小便不通。</p>
<p>麥冬　通草　滑石（各一兩）　川歸　甘草（炙）　燈芯（各五錢）　人參（三錢）　北細辛（一錢）</p>
<p>上為末，麥冬湯送下。</p>
<p><u>桑螵蛸散</u>　治妊娠小便不禁。</p>
<p>螵蛸（十二個，炙）　為末，每服二錢，空心米湯送下。</p>
<p>凡婦人妊娠，下痢赤白，此乃冷物傷脾，辛酸傷胃，冷熱不調，胎氣不安，氣血凝滯，下痢頻頻，時有時無，或白或赤，腸鳴後重，穀道疼痛。急服蒙薑黃連丸，不問冷熱，並宜服之。</p>
<p><u>蒙薑黃連丸</u>　乾薑（炮）　黃連　砂仁　川芎　阿膠（炒）　白朮（各一兩）　乳香（三錢，另研）　枳殼（五錢，炒）</p>
<p>上為末，用鹽梅三個，取肉，入醋少許，打糯米糊為丸，如梧桐子大，每服四十丸。白痢，薑湯下；赤痢，甘草湯下；赤白，乾薑甘草湯下。</p>
<p><u>當歸芍藥湯</u>　治妊娠腹中疼痛，痢疾，心下急滿。</p>
<p>白芍　白茯苓　川歸　澤瀉　川芎（各一兩）　白朮（五錢）</p>
<p>為末，每服三錢，溫酒下，米飲亦可，忌生冷。</p>
<p>凡婦人妊娠，外感風寒，渾身壯熱，眼花頭暈如旋。此乃蓋為風寒克於脾胃，傷於榮衛，或露背當風取涼，致令頭痛，憎寒發熱，甚至心胸煩悶，大抵產前二命所繫，不可輕易妄投湯劑。感冒之初，止宜進芎蘇散，表其邪氣，其病自愈。</p>
<p><u>芎蘇散</u>　蘇葉　川芎　白芍　白朮　麥冬　陳皮　乾薑（各一兩）　甘草（五錢）</p>
<p>上每服五錢，姜五片，蔥三根，水煎溫服。</p>
<p><u>百合散</u>　治妊娠風壅相攻，咳嗽吐痰，心胸滿悶。</p>
<p>百合（蒸）　紫菀葺（洗）　貝母　白芍　前胡　赤茯苓　桔梗　甘草（炙，少許）</p>
<p>上姜五片，桑皮三寸，水煎熱服。</p>
<p>凡婦人妊娠中風，頭項強直，筋脈攣急，言語蹇澀，痰涎不清，或發搐搦，不省人事，名曰子癇。急宜服羚羊角散。</p>
<p><u>羚羊角散</u>　羚羊角（鎊）　獨活　防風　棗仁　五加皮（各一錢）　川歸　杏仁（去皮尖，炒）　川芎　茯神　薏苡仁（各五分）　木香　甘草（炙，各二分）</p>
<p>上姜五片，蔥五寸，水煎溫服。</p>
<p>凡婦人妊娠病瘧，此乃榮衛虛弱，脾胃不足，或感風寒，或傷生冷，傳為瘧疾。宜服驅邪散，莫待吐逆見物不思，卒難醫治。</p>
<p><u>驅邪散</u>　良薑　白朮　草果（少許）　橘紅　藿香　砂仁　白茯苓　甘草（炙）</p>
<p>上姜三片，棗肉三枚，水煎溫服。</p>
<p>凡婦人妊娠，遍身兩脅刺痛脹滿。此乃蓋因五臟不利，氣血虛羸，因食生冷，發熱憎寒，唇白目青，筋脈拘攣，骨節痠痛，皮毛乾澀，氣急上喘，大便不通，嘔吐頻頻。宜服平安散。</p>
<p><u>平安散</u>　厚朴　生薑　陳皮　川芎　木香　生地　甘草　煨鹽（一撮）</p>
<p>上水煎，溫服。亦宜服紫蘇散。</p>
<p>凡婦人妊娠，頭旋目暈，視物不見，腮項腫核。蓋因胎氣有傷，熱毒上攻，太陽沉痛，嘔吐，背項拘急，致令眼暈生花。若加痰壅，危在片時。急服消風散。</p>
<p><u>消風散</u>　石膏　甘菊　防風　荊芥　羌活　川芎　羚羊角　大豆黃卷（炒）　川歸　白芷　甘草</p>
<p>上加細茶五分，水煎，食後服。</p>
<p>凡婦人妊娠將臨月，兩眼忽然不明，燈火不見，頭痛目暈，腮下項腫滿，不能轉項，諸醫治療不愈，轉加危困，偶得此方，對證合服，病減七分，獲安。有人云：只服四物湯加荊芥、防風，合天冬飲子，但以此二藥，間日服，日漸安。好大忌酒、面、炙煿、燒雞、鵝、鴨、羊、豆腐、辛辣，一切毒物，並房勞，及稍溫藥。如其不然，眼不復明。此症為懷孕多居火閤，衣綿臥褥，伏熱在內，或服補藥及熱物太過，致令胎熱，肝臟壅極，風熱攻壅入腦所致。</p>
<p><u>天門冬飲子</u>　天冬　知母　茺蔚子　防風　五味　茯苓　羌活　人參　川歸　川芎　白芍　熟地　荊芥</p>
<p>上姜三片，水煎服。</p>
<p>凡婦人妊娠，小腹虛脹，因食硬物傷胎，胎既受病，傳與脾胃，胃氣虛冷，下逼小腹，若奔豚，或腰痛，大便閉澀，兩脅虛鳴。宜服勝金散，溫中下氣，病隨安矣。</p>
<p><u>勝金散</u>　陳皮　茱萸（炒）　乾薑　軍姜（炮）　川芎（各一兩半）　厚朴（制）　砂仁（炒）　甘草（炙，各三錢）</p>
<p>上為末，每服二錢，鹽湯下。</p>
<p>按：驗方於後。</p>
<p><u>散氣消悶散</u>　治孕婦常多氣怒，胸腹滿悶，或服順氣、烏藥、砂仁、香附耗氣藥，反加滿悶，宜服此藥。</p>
<p>人參（一錢半）　白朮（二錢）　川芎（八分）　陳皮　紫蘇（各四分）　甘草（二分）　條芩（八分）　木香（磨，三分）</p>
<p>上姜三片，水煎服。</p>
<p><u>加味安胎飲</u>　治孕婦腹疼，不時作痛，小腹重墜，多血虛氣陷，間有無寒者。</p>
<p>人參（一錢五分）　白朮（二錢）　川芎（八分）　陳皮　紫蘇　當歸　甘草（各四分）　淮熟地（二錢）</p>
<p>上姜三片，水煎服。兼寒加茱萸一錢，或乾薑、砂仁各五分，補藥可以加內。</p>
<p><u>全生白朮散</u>　治妊娠面目虛浮，四肢有水氣，多有脾胃氣虛，或久瀉所致，宜健脾利水。</p>
<p>白朮（二錢）　人參（一錢）　川芎（八分）　川歸（二錢）　甘草（三分）　紫蘇（四分）　陳皮（四分）　大腹皮（八分）　茯苓皮（七分）</p>
<p>加姜皮，水煎服。</p>
<p><u>順氣安胎飲</u>　治胎氣上攻，心腹脹滿作痛。</p>
<p>人參（一錢）　白朮（二錢）　紫蘇　甘草　陳皮　砂仁（各四分）　川歸（二錢）　川芎（八分）　黃芩（八分）</p>
<p>上姜三片，水煎服。有氣加木香三分（磨）。</p>
<p><u>補中安胎飲</u>　治受胎下血不止，或常去血點滴，名曰胎漏。大率多因勞傷，血氣虛弱，有因喜食炙煿熱物過多所致。</p>
<p>白朮　川歸　人參　甘草　淮熟地　黃芩　紫蘇　白芷</p>
<p>上姜三片，水煎服，忌房事。</p>
<p><u>安胎飲</u>　治妊娠頓撲，動胎下血不止，一日二帖。</p>
<p>人參（五分）　川歸（二錢）　川芎（八分）　甘草　陳皮　紫蘇（各四分）　條芩　淮熟地（二錢）</p>
<p>上姜三片，水煎服。若二帖不止，加阿膠二錢（炒珠），白朮二錢（生），艾葉八片（炒）同煎。如感寒頭痛，加蓮鬚、蔥頭四根。如腹中痛，減艾葉，加葦皮、砂仁四分。</p>
<p><u>竹葉安胎飲</u>　治妊娠心驚膽怯，煩悶不安，名曰子煩。</p>
<p>黃芩（八分）　人參（一錢）　白朮　川歸（各二錢）　甘草（四分）　陳皮（三分）　川芎（七分）　酸棗仁（八分）　遠志（八分）　麥冬（一錢）　竹葉（十片）　淮生地（一錢半）</p>
<p>薑、棗水煎。若煩渴，加竹茹一丸，有痰，加竹瀝一酒鍾，薑汁少許，虛人，加人參三錢；如脾虛常瀉，減地黃，加酸棗仁。</p>
<p><u>加味天仙藤散</u>　治妊娠腿膝發腫，氣促滿悶不舒，或足指腫，出水。</p>
<p>天仙藤（洗，略炒）　香附（各六分）　陳皮（四分）　甘草（三分）　烏藥（七分）　木瓜（一錢）　紫蘇（四分）</p>
<p>姜皮，水煎服。虛加人參一錢，白朮二錢，川歸三錢。脾氣虛，宜兼補中益氣湯服。</p>
<p><u>加味羚羊角散</u>　治妊娠口噤項強，手足攣搐，言語蹇澀，痰涎壅盛，不省人事。不可作中風治，以羚羊角散。如無痰，言語如常，但見中風症，多因血燥類風。治切不可一概以中風論而誤人命也。</p>
<p>羚羊角（鎊，一錢）　川獨活（八分）　酸棗仁（一錢，炒）　五加皮（八分）　防風（五分）　苡仁（一錢）　川芎（七分）　川歸（一錢）　茯神（八分）　杏仁（十粒）　木香（三分，磨）　甘草（四分）</p>
<p>虛加人參一錢；痰加竹瀝七分，薑汁少許；脾胃虛弱，加白朮一錢半，姜三片，水煎服。</p>
<p><u>加味安榮湯</u>　治妊娠小便澀，或成淋瀝。</p>
<p>人參　白朮　川歸　麥冬（各二錢）　茯苓（一錢）　通草（一錢）　甘草（八分）　燈心（五分）　姜</p>
<p>水煎服。有痰宜清肺金，加條芩七分；若怒動肝火，宜服逍遙散。</p>
<p><u>加味逍遙散</u>　治妊娠形體勞苦，或進飲食炒炙之物，小便中帶血，宜清膀胱之火，故宜服。</p>
<p>川歸（二錢）　白芍（一錢）　白朮（一錢半）　茯苓（七分）　柴胡（一錢）　丹皮（七分，炒）　梔子（七分，炒）　甘草（四分，炙）　燈心（七根）　水煎服。</p>
<p><u>安胎飲加二陳</u>　治臍腹作脹，或小便淋閉。</p>
<p>白朮（一錢半）　陳皮　甘草（各四分）　人參（一錢）　川芎（八分）川歸（二錢）　柴胡　升麻（各四分）　生地（一錢半）　半夏（少許）</p>
<p>上姜二、三片，水煎服。</p>
<p><u>寧肺止咳飲</u>　治妊娠咳嗽，屬風屬寒症。</p>
<p>天冬（二錢）　桔梗　紫蘇（各五分）　知母（一錢）　甘草（四分）</p>
<p>寒嗽加杏仁十粒，桑皮八分；痰嗽加陳皮四分，竹瀝半酒鍾，薑汁少許；熱嗽加黃芩四分；虛嗽加紫菀一錢，款冬花六分；喘，夜多嗽，加麻黃；虛損嗽，加栝蔞一錢，竹瀝半盞，薑汁少許；心胸不舒，加百合一錢，貝母一錢。</p>
<p>又方：咳嗽不止，胎不安。</p>
<p>杏仁　甘草　紫菀　桑皮　桔梗　天門冬</p>
<p>水煎。</p>
<p>又方：妊娠咳嗽，吐血不止。</p>
<p>生地（三錢）　紫菀（一錢）　知母　白朮　麥冬（各一錢）　陳皮（四分）　甘草（四分）　黃芩（八分）　川歸　天冬（各二錢）　犀角（八分）</p>
<p>若喘加栝蔞仁一錢，水煎。</p>
<p><u>六和湯</u>　治妊娠霍亂吐瀉，心燥腹痛。</p>
<p>陳皮（四分）　半夏（七分）　藿香　甘草（各四分）　杏仁（十粒）　竹茹（一丸）　扁豆（二錢）　木瓜（一錢）　人參（一錢）　砂仁（五分）　茯苓（八分）</p>
<p>姜三片，棗二枚，水煎。</p>
<p><u>加減安胎飲</u>　治妊娠瘧疾，寒多熱少。</p>
<p>人參（一錢）　白朮　川歸（各二錢）　紫蘇　黃芩　甘草（各四分）　藿香（五分）　半夏（七分）　草果　青皮（各三分）　烏梅（二個）　姜（三片）</p>
<p>水煎。</p>
<p>治妊娠壅熱，心神煩躁，口乾渴。</p>
<p>人參　梔子（炒）　知母　麥冬（各一錢）　甘草　條芩（各五分）　栝蔞根　犀角（各八分）</p>
<p>姜三片，棗二枚，水煎。</p>
<p>治孕婦熱病，嘔吐不食，胸中煩躁：</p>
<p>乾葛（一錢五分）　蘆根（一錢半）　人參　麥冬　梔子（炒）　知母（各一錢）　竹茹（一丸）</p>
<p>蔥三根，水煎。</p>
<p>治妊娠熱病，斑出赤黑色，小便如血，氣無欲絕，胎落。</p>
<p>山梔　黃芩　升麻（各一錢）　青黛　豆豉（四十九粒）　生地（二錢）　杏仁（十粒）　石膏（一錢五分）</p>
<p>蔥白七寸，水煎。</p>
<p>治妊娠患吐血衄血，或因破傷失血，驀患口噤，項強背直，類中風症，皆因失血。宜服安胎飲加減：</p>
<p>人參（二錢）　川歸　白朮　淮熟地（各二錢）　陳皮　甘草（各四分）　天麻（二錢）　麥冬（一錢）</p>
<p>加防風、荊芥、姜三片，水煎。</p>
<p><u>滋榮易產湯</u>　孕婦九個月服之。</p>
<p>川芎（一錢）　川歸（三錢）　人參（二錢）　茯苓（八分）　甘草（四分）　生地（二錢）　大腹皮　陳皮　白朮　黃芩（各六分）</p>
<p>加益母草，水煎。</p>
<p>凡婦人妊娠胞肥，臨產難生，此乃身居富貴，口厭甘肥，聚樂不常，食物過多，即飲即臥，致令胞胎肥厚，根蒂堅固，行動氣急。蓋緣不曾吃瘦胎之藥，致令臨產必是艱難。八月可服無憂散。</p>
<p><u>無憂散</u>　治妊娠肥大，服之，令兒緊小易生。</p>
<p>川歸　白芍　木香　甘草　枳實　乳香　血餘　神麯　麥芽　訶子　白朮　陳皮</p>
<p>姜一片，水煎。</p>
<p>凡婦人妊娠將產，忽然倒者，此乃蓋因不能忌口，恣情多食，五臟氣滯，六腑不和，胎氣既肥，或用力太過，胎受驚觸。急用瘦胎金液丸。</p>
<p><u>金液丸</u>　治橫生倒產。</p>
<p>飛生毛（火煅存性，腋下更好，五分）　血餘（無病人發，燒存性）　公母羊糞（燒灰，各五分　）灶心土（二錢）　砂仁（五分，另研）　黑鉛（三錢，銚內熔化，投水即急攪，傾出研細）</p>
<p>上為末，用粽子角為丸，如綠豆大，遇難產，急以倒流水吞下五丸。兒身自然順而正產，子母俱活矣。</p>
<p><u>按驗秘方</u>　治難產開骨並服。</p>
<p>魚膠一兩，用紅綿布一尺卷魚膠，以罐盛貯，封固，火煅存性，為末。用香油、蜜、酒各半酒盞，調服一錢，立下。</p>
<p><u>立竿見影散</u>　此方活水、瘦胎、軟骨，橫生逆產，死胎立下。</p>
<p>黃葵花（三錢）　牡丹花心（三分）　真正撫荑（三分）　麝香（一分）　桑葉（五分）　巴豆（半粒，去油）　蓖麻子（半粒）</p>
<p>上為細末，醋糊丸，如彈子大，大黃為衣，臨用時揉碎一丸，熱酒送下，加香油服。</p>
<p>凡婦人臨產，子腸先出，以盆盛之，溫水溫潤其腸。令產婦仰臥，以言語安慰其心，卻用好醋半盞和新汲水七分，攪勻，急噀母面、背腸自收矣。每一噀，令一縮，三噀三縮，腸盡收矣。合用參、耆、歸、芎大劑補藥，加升麻、柴胡、防風之類以升舉之，未有不安者也。</p>

<h1>產後總論</h1>
<p>凡病起於血氣之衰、脾胃之虛，況產婦血氣、脾胃其虛衰殆有甚焉。是以丹溪先生論產後「必當以大補氣血為先」，雖有雜症，以末治之。此三言者，盡醫產之大旨也。若能擴充立方用藥，則治產可以無大過矣。夫產後憂驚勞倦，血氣暴虛，諸症乘虛易襲。如有氣，毋專耗散；有食，毋專消導。熱不可用芩、連，寒不可多桂、附。寒則血塊停澀，熱則新血流崩。至若虛中外感，見三陽表症之多，似可汗也，在產後而用麻黃，則童竭其陽；見三陰里症之多，似宜下也。在產後而用承氣，則重亡陰血。耳聾脅痛，乃腎虛惡露之停，休用柴胡；譫語汗出，乃元氣弱似邪之症，毋同胃實。厥由陰陽之衰，難分寒熱，非大補不能回陽而起弱；痓因陰血之虧，勿論剛柔，非滋榮不熊舒筋而活絡。又如乍寒乍熱，發作有期，症類瘧也，若以瘧治，遷延難愈。神不守舍，言語無倫，病似邪也，若以邪論，危亡可待。去血多而大便燥結，蓯蓉加於生化，非潤腸承氣之能通；去汗多而小便短澀，六君倍用參、耆，必生津助血之可利。加參生化頻服，救產後之危，長生活命屢用，蘇絕谷之症。頹疝脫肛，多是氣虛下陷，補中益氣是良方也。口噤拳攣，乃陰血燥類風，加參生化大有益焉。產戶入風而痛甚，服宜羌活養榮方；玉門傷冷而不閉，洗須床、菟、萸、硫黃。怔忡驚悸，生化湯而加定志；似邪恍惚，安神丸助於歸脾。因氣喘而滿悶虛煩，生化湯加木香為佐；因過食而噯酸惡食，六君子加神麯、麥芽為良。蘇木、稜、莪、大能破血，青皮、枳殼，最消滿臌。一應耗氣破血之劑，汗吐宣下之策，止可施於少壯，豈其宜用於胎產？大抵新產之後，先問惡露如何？痛塊未除，未可遽加參、術；腹中痛止，補中益氣無疑。至若亡陽脫汗，氣虛喘促，頻灌加參生化，是從權也；又如陰亡大熱，血崩厥暈，速煎生化原湯，乃救急也。王太僕云：治下補下制貴以急，緩則滋道路而又力微。制急方而氣味薄，則力與緩同。故治產當遵丹溪而固本，服法宜效太僕以加頻。凡負生死之寄者，可不著意以扶危哉。</p>

<h1>產後生化湯論</h1>
<p>一產後氣血暴虛，理當大補，但恐惡露未盡。用補須無滯血，能化又能滋生；攻塊無損元氣，行中又能帶補，方處萬全，能無一失。世以四物湯理產，誤人多矣。因地黃性寒滯血，芍藥酸寒無補故也。</p>
<p>一產後惡露作痛，名曰兒枕痛，世多專先消散，然後議補，又有消補混方。殊不知舊血雖當消化，新血亦當生養，若專主攻舊，新亦不寧矣。</p>
<p>世以濟坤丹（又名救生丹）治產後，用以攻血塊，下胞落胎，足見速效，其元氣未免虧損。平安產婦，毋視良劑。濟坤丹不得已而用下胎、下胞、下血塊，只可用一丸，不可多服，隨即服湯藥進補。</p>
<p>有妙應丸治產後停食宿肉，此乃形體勞倦，脾胃俱傷，不善調治之家，多食厚味，沉睡而復傷，胃雖少納，脾轉輸遲，食停痞塞噯酸，此宿痰包食，不能消導，宜服三五丸，隨即服湯藥進補。此「急則治其標，緩則治其本」也。</p>
<p>生化湯因藥性功用立名，產後血塊當消，新血宜生，專消則新血不寧，專生則舊血反滯。考諸藥性，惟川歸、川芎、桃仁三品藥性，善破舊血，驟生新血，佐以炙黑乾薑、甘草引三品入於肺肝，生血利氣，五味共方則行中有補，化中有生，實產後聖藥，故因名之。凡有孕至八九月，依制方下，名曰生化湯：</p>
<p>川芎（二兩）　川歸（五錢）　桃仁　乾薑（炙黑）　甘草（各五錢）</p>
<p>桃仁要去皮尖，搗如泥用，乾薑要黑者，醋浸透，炒黑用。上作二三帖，至胞衣一破，速煎一帖，候兒下地即服，不論正產半產。若少壯產婦平安無事。俱宜服二帖，消塊生血。</p>
<p>又生化湯：川芎（三錢）　川歸（八錢）　桃仁（十粒，去皮尖）　乾薑（四分，炒黑）　甘草（炙，五分）</p>
<p>上用水二鍾，煎至七分，加酒六七茶匙，稍熱服。查澀後帖，並前二帖，共煎，要在一二時辰內，未進飲食之先，相繼煎服，則下焦血塊速化，而驟長新血，自無暈厥。且產婦服一帖，漸增精神，不厭藥之頻也。若照常症，日服一帖，豈能挽回將絕之氣血也，其胎前素弱，產後勞倦及熱症墮胎，要不抱帖數，服至病退乃止，若產婦勞甚，血崩形色脫，即加人參三四錢在內，頻灌無慮。</p>
<p><u>加參生化湯</u>　治產後危急諸症，俱可服此方。</p>
<p>川芎（二錢）　川歸（四錢）　乾薑（四分，炒黑）　甘草（五分，炙）　桃仁（十粒，去皮尖）</p>
<p>人參三錢或二錢，隨症緩急，如甚危症，人參加至五六錢，棗三枚，水煎服，渣再煎。</p>
<p>加減法：</p>
<p>一娩兒下，汗多倦甚，宜服此方，加人參三四錢。</p>
<p>一娩兒下，無力送脫胞，倦怠，宜服此方。</p>
<p>一胎前素弱，產後見虛症，宜服此方。</p>
<p>一胎前患瀉，產後倦怠，宜服此方，加參四五錢。</p>
<p>一汗多加麻黃根二錢、黃耆一錢、防風五分。</p>
<p>一足厥冷，加人參四五錢，附子四分；兼汗亦加參、麥冬一錢。</p>
<p>一氣短促，加人參四錢。</p>
<p>一消渴加麥冬一錢，五味子十粒。</p>
<p>一大便實，加蓯蓉一錢。</p>
<p>一煩躁，加竹茹一丸。</p>
<p>一寒嗽，加杏仁十粒，桔梗五分。</p>
<p>一喘氣促，加半夏一錢，杏仁十粒，桔梗五分。</p>
<p>一有痰，加天花粉八分，竹瀝半酒鍾，薑汁少許。</p>
<p>凡產後血塊痛，用生化湯為主，血塊痛散加人參生化湯為主。</p>

<h1>一論血塊</h1>
<p>婦人病倍於男子，因產後之症偏多也。夫產後血塊，醫家所歸，宜當詳究。若時俗治血塊，有用生地黃，紅花以行之，蘇木、牛膝以攻之；治氣脹，有用烏藥、香附以順之，枳殼、厚朴以舒之。甚有用青皮、枳實、蘇子以下氣定喘，芩、連、梔子、黃柏以退熱除煩。至若血枯便實，反用承氣下之而愈結；汗多小便短澀，反用五苓通之而愈秘。因古《局方》，峻攻塊痛，殆無異於刃之殺人也，事產者豈可視為甚輕而妄用蘇木、稜、蓬，以置人於死地也耶？宜服生化湯，一應破血藥，雖山楂性緩，亦不可單用。</p>
<p><u>生化湯</u>　川歸　川芎　桃仁　乾薑　甘草</p>
<p>水煎服，並渣。</p>
<p>鹿角灰就用生化湯送下七錢。</p>
<p>又方：益母丸同服亦可。</p>
<p>外用烘熱衣服暖和塊痛處，雖暑月亦要和暖。大抵產婦勞傷，氣血並虛，分娩子後，無力送胞送塊，澀滯腹間作痛，甚者氣血不運而昏迷厥暈，切不可妄謂惡血抱心，遽用蘇木等散血之方以殺人也。只頻服生化湯二三帖，即時塊消痛止，神清氣復而頓爽舒暢平安矣。行血如生地、牛膝，敗血如三稜、莪朮。俗用山楂、砂糖消塊，薑、艾酒定痛，皆致淋崩、昏暈等症。</p>

<h1>二論血暈</h1>
<p>凡分娩之後，眼見昏花，頭眩昏暈，不知人事，謂之血暈。其故有三：一因勞倦甚而氣竭神昏，二因血大脫而氣欲絕，三因痰火乘虛從上而神不清。患此三者，皆魂不隨神往來而機運幾息也。當急服預煎下生化湯，以行塊定痛，化舊生新，即時血遂生而氣轉，神漸清而心有主矣。頻服二三帖，其昏亂氣血即定，乃川芎、川歸性有化生之功也。若偏執古方無傳，認暈症為惡血搶上迷心，而輕用散血之劑，認為痰火而用無補消降之方，誤人甚也，外以醋韭沖鼻燒煙潦法度，炙不可緩，醫者切不可妄論血上搶心，而用蘇木等以峻攻破血，偏執古方牡丹奪命等藥以敗血，慎之，慎之！再叮嚀臨盆之際，必預煎生化湯，預燒稱錘、硬石子，候兒下地，速服二三帖藥，共二煎。又產婦枕邊，行醋韭，投錘醋瓶之法，決無暈症。又兒生下時，不可喜子慢母，母不可顧子忘倦；又不可產訖即睡，或憤怒氣逆，皆能致暈。謹記，謹記。附方：</p>
<p><u>加味生化湯</u>　治產後三等血暈。</p>
<p>川芎（三錢）　川歸（六錢）　乾薑（四分，炒黑）　桃仁（十粒）　甘草（五錢，炙）　荊芥（五分）</p>
<p>上棗三枚，水二鍾。煎八分，溫服，並渣。</p>
<p>加減法：</p>
<p>凡勞倦甚而暈，及血崩氣脫而暈，並宜速灌二帖。如形色脫，或汗多而脫，皆用急服一帖，後即加人參三四錢，肉桂四分，決不可疑，參為補而緩服也。如痰乘虛從上而暈，方內加橘紅四分；若虛甚，亦用加人參二三錢；如肥人多痰，又用竹瀝七分，酒一鍾，薑汁少許。以上三等暈症，並不可用破血耗氣等古方，其血塊痛甚者，兼送益母丸。一法或送鹿角灰，一法或用玄胡散，一法或用獨參散。一方見效，不須易方。</p>
<p>從權急救加參生化湯：治產後形色脫暈，或汗脫暈。</p>
<p>川芎（二錢）　川歸（四錢）　乾薑（四分，制）　桃仁（十粒，去皮尖）　荊芥（四分）　甘草（四分，炙）　人參（三錢）</p>
<p>上水二鍾，煎八分服。血塊痛甚加肉桂五分、七分；渴加麥冬一錢，五味子十粒；汗多加麻黃根一錢；如塊不痛，加黃耆一錢以止汗；如傷麵食、飯食，加神麯八分、麥芽五分；如傷肉，加山楂、砂仁。</p>

<h1>產後厥症</h1>
<p>凡產時用力過多，勞倦傷脾，孤臟不能注於四旁，故足逆冷而厥氣上行焉。《經》曰：「陽氣衰於下，則為寒厥是也。非急方子能舉氣以歸元，非大補不能回陽而復神，豈錢數歸、參！照常症，一日一帖而能起死扶危，拯將絕之氣血耶？必用加參生化湯，倍參，連服二帖，斯氣血旺而神氣復，厥症自止矣。若服藥而又渴，另用生脈散多參以代茶，助津以救臟躁也。此經驗之確淪，毋得有議焉。雖有四肢厥冷，泄瀉痢症，類傷寒陰症，又難用四逆湯方，亦必用倍參生化湯，佐以炙姜，或加附子一片，則可以回陽止逆，又可以行參、耆之功矣。《經》云：脾，孤臟也。四旁，心、肝、肺、腎也。又云：搖體勞苦，則傷脾。又云：厥氣上行滿。立二方分先後：</p>
<p><u>加參生化湯</u>　治新產發厥。</p>
<p>川芎（二錢）　川歸（四錢）　甘草（四分，炙）　乾薑（四分，制黑）　人參（二錢）　桃仁（十粒，去皮尖）</p>
<p>上棗二枚，水煎連進二帖。發厥：塊痛未止，不可加耆、術。</p>
<p><u>滋榮益氣復神湯</u>　治產後發厥，問無塊痛，可服此方。</p>
<p>川芎（一錢）　白朮（一錢）　黃耆（一錢）　人參　當歸（各三錢）　淮地黃（二錢，酒浸，蒸）　甘草（四分，炙）　麥冬（五錢）　五味子（十粒）　陳皮（四分）　附子（五分）　</p>
<p>水煎。汗多加麻黃根、酸棗仁各一錢；大便不通，加肉蓯蓉二錢。</p>
<p>大抵產後暈厥，二症相類，皆由氣血並竭，神將去而機幾息，僅有一絲之生意耳。若非急方急服，豈能挽回將絕之元神耶？但暈在臨盆，急症尤甚於厥，宜頻灌生化湯幾帖，先補血分之虧，即時塊化血旺，而神清暈止矣。若無汗脫，氣促形脫症，參、耆不須加也。厥症在分娩之後，氣血兩竭，宜用倍參生化湯，並補氣血之虧，止厥以復神焉。又非偏補血分可愈，治法要知暈有塊痛，耆、朮、參未可遽加也。治厥症問無塊痛，耆、朮、地黃並用無疑矣。</p>

<h1>產後血崩</h1>
<p>產後血大來，審血色之紅紫，視形氣之虛實。如血多紫色有塊，乃當取之，敗血也，止澀反作痛，不可論崩。如鮮血紅大來，乃是驚傷心不能主，怒傷肝不能藏，勞傷脾不能統血歸經耳，當以崩治，先頻服生化湯幾帖，則行中有補而血生旺矣。若崩形脫，或有汗，或氣促，宜倍參生化湯以益氣，斯陽長陰生，血自旺矣，非棕灰止血藥可止也。如產中月外崩，又宜升舉大補湯治之。凡年老虛弱人患崩，亦宜升舉大補湯。</p>
<p><u>生化湯</u>　治產後血崩。</p>
<p>川芎（一錢）　川歸（四錢）　乾薑（四分，炙黑）　甘草（五分，炙）　荊芥（五分）　桃仁（十粒，去皮尖）</p>
<p>上棗水煎。如鮮血紅大來，加荊芥、白芷各五分；血塊形脫，加人參一錢；汗多氣促，加參三四錢；無汗形不脫，氣不促，只服生化湯則血自安也。世言：芎、歸活血，不可治崩，誤矣！</p>
<p><u>滋榮益氣湯</u>　治崩止血。</p>
<p>川芎　麥冬　黃耆（各一錢）　人參　川歸　淮生地　白朮（各二錢）　陳皮　甘草（炙，各四分）　白芷　荊芥　升麻（各四分）　黃連（三分，退心火）　棗（三枚）</p>
<p>水煎。汗多加麻黃根一錢，浮小麥一撮；大便不通，加肉蓯蓉一錢；有氣，磨木香一分；有痰，加貝母六分，竹瀝少許，薑汁少許。寒嗽，加杏仁、桔梗、知母各一錢；驚悸，加酸棗仁、柏子仁各一錢。</p>
<p><u>加味生化湯</u>　治產後三日，發熱頭痛症。</p>
<p>川芎（五錢）　川歸（三錢）　甘草（四分）　乾薑（四分，炙黑）　桃仁（十粒，去皮尖）　羌活　防風（各四分）</p>
<p>上服四帖，頭痛身熱不除，加白芷八分，細辛四分。若頭痛如破，加蓮鬚、蔥頭五個；虛加人參二三錢。</p>

<h1>產後類傷寒三陰症</h1>
<p>產後潮熱有汗，大便不通，毋專論為陽明症；口燥咽乾而渴，毋專論為少陰症；腹滿嗌乾，大便實，毋專論為太陰症。又汗出，譫語，便秘，毋專謂為胃中有燥屎。且下數症多由勞倦傷脾，運化稽遲，氣血枯竭，腸腑燥涸，乃虛症類實，當補之症，治者毋執偏門輕產而妄議三承氣湯，以治類三陰之症也。若少旺產患，以類症妄下，僥倖萬一，幸毋仿此。且虛弱產婦而復誤下，則虛虛之禍大乎。屢見妄下成臌，誤導反結。又有血少數日不通，誤而即下，致瀉不止者，不可慎歟。</p>
<p><u>養正通幽湯</u>　治產後大便秘，類三陰傷寒症。</p>
<p>川芎（二錢半）　川歸（六錢）　甘草（五分，炙）　桃仁（五粒，去皮尖）　蓯蓉（一錢）　陳皮（四分）　麻仁（二錢，炒）</p>
<p>汗多便實，加黃耆一錢，麻黃根一錢，人參二錢；燥渴，加麥冬一錢，人參一錢；腹滿，嗌乾，便實，加麥冬一錢，枳殼六分，人參二錢，蓯蓉一錢。汗出，譫語，便實，乃氣血並竭，神衰心主失守，宜養榮安神，加茯神、棗仁、遠志、柏子仁、蓯蓉、人參、黃耆各一錢，白朮二錢，水煎。</p>
<p><u>滋榮益氣扶正湯</u>　治產後寒熱自汗，每午應期發者。</p>
<p>川芎（一錢）　川歸（三錢）　甘草（五分，炙）　人參（二錢）　淮生地（二錢，自蒸）　黃耆（一錢）　陳皮（四分）　麥冬（一錢）　白朮（一錢半）　麻黃根（一錢）</p>
<p>水煎。夜服六味地黃丸，每服七、十丸，清湯送下。</p>
<p><u>加減養胃湯</u>　治產後寒熱往來，頭痛無汗，類瘧症。</p>
<p>川芎（一錢）　川歸（三錢）　藿香（四分）　甘草（四分）　茯苓（一錢）蒼朮（一錢）　人參（一錢半）　半夏（八分）　陳皮（四分）　姜（二片）</p>
<p>水煎服。有痰加竹瀝、薑汁少許，半夏曲；弱人兼服大造丸；若產後久虛，無汗不愈，兼煎人參白朮膏以助力。</p>

<h1>產後類傷寒三陽症</h1>
<p>產後七日內外，發熱頭痛惡寒，毋專謂傷寒太陽症；發熱頭痛脅痛，毋專謂傷寒少陽症。二症皆由氣血兩虛，陰陽不和而類外感，治者甚易輕執偏門而用麻黃湯以治類太陽症，又勿用柴胡湯以治類少陽症。且產後脫血之餘，而重發汗，則虛虛之禍，有不可勝言者矣。仲景云：亡血家不可發汗。丹溪云：產後絕不可發表。二先生非謂產婦真元傷寒之兼症也，非謂麻黃湯、柴胡湯之不對症也，誠恐後學業偏以而輕產，執成方而發表耳，須明知產後真感風冷，其生化湯內芎、姜亦能散之。又云：西北之氣，散而寒之；東南之氣，收而溫之。所謂同病而異治也。其經意南方人柔弱，而西北人剛勁，故病治當異耳，惟產後勞虛，治不可分南北，概當重產而用補，少佐散劑，雖有他症，以末治之，又不可不明也。</p>
<p><u>木香生化湯</u>　治產後血塊痛未除，日受氣服此方。</p>
<p>川芎（二錢）　川歸（六錢）　乾薑（四分，炙）　甘草（五分，炙）　木香（三分，磨）　陳皮（三分）</p>
<p>水煎服。</p>
<p><u>健脾化食散氣湯</u>　治產後受氣傷食，問無塊痛服。</p>
<p>白朮（二錢）　川歸（二錢）　川芎（一錢）　乾薑（四分，炙）　甘草（四分，炙）　人參（一錢）　麥芽（五分，炒）　神麯（五分）</p>
<p>傷飯食麵，加二味：陳皮三分，山楂四分；砂仁七分，傷肉加入；如寒食停脅下作痛，加桂枝八分。</p>
<p>大抵產後弱婦，受寒停食，愈消愈增滿悶，必攻補並行，方化滯運谷。但時醫所見，知耗氣而疑參補，誤也。故善治者重產而輕怒食，必補氣血為主，佐以順氣調氣，則怒郁散而元不損；佐以健脾消導，則停食行而胃思谷。此治產後怒傷食傷之正治也。若專理氣消食，非惟氣脹不散，停食不行，抑損元神減食，甚致絕谷不救者多矣，惜哉！</p>

<h1>產後類症</h1>
<p>產後寒熱往來，每日應期而發，其症類瘧，切不可用瘧疾方藥治之。夫血氣虛而寒熱便作，元氣弱而外邪或侵，雖寒來鼓慓，湯火不能溫，熱如燔炭，冰水不能寒，或晝輕夜重，或見晡寒熱，雖所見症與瘧類同，其治方藥，必當滋榮益氣以退寒熱。有汗急當止汗，如麻黃根等方；若頭有汗而身與足無汗，乃陽孤絕陰之危症也，切勿偏服參而少血藥，當加地黃、川歸之劑。如頭痛無汗，宜與生化湯內加羌活、防風、連須、蔥白、棗數枚以散之，慎不可作瘧治以誤人也；如傷食飯面，加神麯一錢，麥芽五分；如傷肉，加山楂、砂仁各五分；如停食日久，脾胃弱甚，雖藥不運化，凡藥之外用，操按炒曲燙法。傷食肉，誤服消導藥多，絕谷幾日者，宜服後方。</p>
<p><u>長生活命丹</u>　治多服消導藥，絕食症、雜症，誤消耗絕食，亦可治之。</p>
<p>人參三錢，水一鍾半，煎至半鍾，先用一盞飯，鍋焦研粉三匙，漸漸加參湯，鍋焦引開胃氣，自能開胃健脾，進飲食。</p>
<p>大抵飲食者充虛之滋味，而產後藉此以補助也。因勞倦傷脾，不勝甘飲，薄味漸進，運化易速，再兼助服溫補之劑，佐以神麯、麥芽以消飯面之傷，山楂、砂仁以化肉物之傷；如傷寒冷之物，吳萸、桂枝亦當加也。如此補消並治，無有不安，屢見治不重產虛弱，惟知達消停物、反損真氣，益增滿悶，一帖不效，又加峻藥，致使少食思谷之人，反虛虛而絕谷矣。病家自歸於數命，醫者以為盡力救，惜哉！</p>

<h1>產後忿怒</h1>
<p>凡產後因忿怒氣逆，胸膈不舒，血塊大痛，宜用生化湯，臨服時磨木香一分在內服之，則血塊自化，怒氣自散，並治而不悖也。若輕重氣，偏用木香、香砂、烏藥、枳殼、砂仁之劑，以散氣行塊，則元氣反損，而滿悶反增，是重虛之，非善治產者也。又如怒後即食，胃弱停悶，當審何物所傷。如肉物傷，加砂仁、神麯消之；如面飯傷，加神麯、麥芽消之。若傷物作痛，澀滯脅腹，宜加桂枝、吳茱萸在生化湯中，以逐寒定痛，無有不安，慎勿用木香檳榔丸、順氣飲之方，以散氣化食。不然，則虛弱產婦，重虛之禍，有不可勝言者矣。</p>
<p>大抵產後患崩，血脫；短氣似喘，氣脫；妄言妄見，神脫。三症雖有血陰氣陽之分，其精散神去之促無異，此亦危症也。若非能厚藥急方頻服，失之者多矣。妄論氣實痰火皆非也。如新產為塊痛，並用加參生化湯，行中當補之方，斯免血滯血虛之失也。其塊痛止，宜用升舉大補湯，少佐黃連墜火，以治崩脫、寧血歸經也。宜用倍參補中益氣湯，少佐附子助參以治氣脫，攝氣歸源也。宜用滋榮益氣復神湯，少佐痰劑以清心火，寧君主之官也。因人妄論氣脫妄言之症，誤用氣實痰火之方藥，屢夭人年，故重複錄告。倘執論氣痰而愈重，必當識補救，方可活也。</p>

<h1>產後傷食</h1>
<p>凡產後形體勞倦，脾胃俱傷，是以新產之後，禁膏粱，遠厚味，食粥茹蔬，乃切務也。不善調攝之家，惟慮產婦之虛，以多食有益，厚味為補，本不思而強與厭足而復傷，胃雖少納，脾轉運遲，食停痞塞，噯酸惡食，良以此也。治當扶元為主，溫補氣血，健脾助胃，養正兼消，審傷何物，佐以消導，斯脾氣復而轉輸，滯物行而胃始思谷矣。</p>
<p><u>加味生化湯</u>　治產後血塊未消時，及宿食不消。</p>
<p>川芎（二錢）　川歸（五錢）　乾薑（四分，制）　甘草（五分，炙）</p>
<p>如傷麵食，加神麯一錢，麥芽六分；如傷肉加山楂五分，砂仁五分；傷寒物痛，加吳萸一錢，肉桂五分；虛加參三錢。</p>
<p><u>健脾消食生化湯</u>　治產後血塊痛除，服此方以消食。</p>
<p>川芎（一錢）　川歸（三錢）　甘草（五分，炙）　人參（二錢）　白朮（一錢半）</p>
<p>傷麵食，加神麯、麥芽各七分；如傷肉，加山植、砂仁各八分。身熱不可用黃連、黃芩、黃柏；大便不通，禁大黃；傷食怒氣，不可用耗氣。若宿痰胞食，丸藥隨即進補藥。凡年老虛弱人患崩，宜用升舉大補湯。</p>

<h1>產後氣短似喘</h1>
<p>凡產婦血脫勞傷之甚，氣無倚恃，而呼吸息止之違常性矣，世有妄議痰火，反用散氣化痰之方，不亦誤乎？夫肺受脾稟，運氣生脈，通水道，順呼吸，清肅上下，調和榮衛，而為平人之常氣也。值產血亡氣脫，呼吸短促，言語不相接續，似喘危證，不待診脈問望自明，智者當知之也。</p>
<p><u>加參生化湯</u>　治分娩即患氣短似喘症，若有血塊，不可加耆、術。</p>
<p>川芎（二錢）　川歸（四錢）　甘草（五分，炙）　乾薑（四分，炒黑）　人參（二錢）　桃仁（十粒，去皮尖）</p>
<p>上煎服，加棗三枚，連進二三帖。</p>
<p><u>續氣養榮湯</u>　治產後氣短促，問無血塊痛宜服。</p>
<p>川芎（二錢）　川歸（四錢）　甘草（五分，炙）　乾薑（四分，炒黑）　人參（三錢）　黃耆（一錢）　白朮（一錢）　陳皮（四分）　熟地（二錢）</p>
<p>如足冷，加熟附子三分，汗多，加麻黃根一錢，浮小麥一撮；渴，加麥冬一錢，五味子十粒；大便不通，加蓯蓉一錢，麻仁一錢；如傷麵食，加神麯一錢，麥芽一錢；如傷肉，加山楂五個，砂仁五分。</p>
<p>附方：滋榮益氣復神湯，見上。</p>

<h1>產後妄言妄見</h1>
<p>產後妄言妄見，由氣血兩虛而神魂無所依也。夫心藏神主血，而言乃心之神也，心有血而神存，則言不妄發。又肝藏魂藏血而目乃肝之竅也，目得血而能視，則瞳子瞭然而正，若夫產後血氣暴竭，則心神失守，故言語無倫，肝魂無依，故瞳眊妄見。況心為一身之主，目乃百脈之宗。虛症見於心目，則十二官各失其職可知矣。是以視聽言，動皆有虛妄焉。治法當論產期塊痛有無緩急。若分娩兒下之後，塊痛未除，先服生化湯兩三帖，以化塊定痛，痛止即繼服加參生化湯，或補中益氣湯，如安神定志湯丸調治也，若產日久，形氣血氣俱不足，即當大補為主，生養氣血，安神定志，服至藥力充足，其病全愈。病家毋求速效，醫家毋論邪祟。若噴以法水，驚以法尺，多致不救。治此病者，服藥至十帖方效。丹溪云：病虛猶似邪祟也。又云：欲泄其邪，先補其虛。先調其藥，次論諸疾。此古人治虛弱人有挾外因之確論。但人不能體認其義，用藥反言攻補難同方，御必攻邪盡，方可用補，欲病家不信難矣。此治產後虛症及年老人虛喘、弱人妄言三症，所當用心也。</p>
<p><u>寧神生化湯</u>　治產後血塊痛未止，患妄言症，未可用耆、術。</p>
<p>川芎（一錢）　川歸（二錢）　乾薑（四分，炙）　茯神（一錢）　人參（二錢）　柏子仁（一錢）　陳皮（三分）　益智仁（八分，炒）　桃仁（十二粒，去皮尖）　棗（二枚）</p>
<p>水煎。</p>
<p><u>滋榮益氣復神湯</u>　治產後塊痛止，可服此藥。</p>
<p>川芎（一錢）　川歸　淮地（各二錢，自制）　甘草（四分，炙）　人參（二錢）　黃耆　白朮（各一錢）　棗仁（一錢）　柏子仁（一錢）　茯神（一錢）　益智仁（一錢，炒）　圓眼肉（八分）　陳皮（三分）　麥冬（一錢）　五味子（十粒）　蓮子（八分）　棗（二枚）</p>
<p>水煎。以上三等，大便燥結症，並宜大料芎、歸以補血，若參可少，非芎、歸至數斤，難取效。</p>
<p>大抵產後虛中傷寒，口傷寒食，外症雖見，頭痛發熱，或脅痛腰痛，是外感宜汗，猶當重產亡血禁汗，惟宜生化湯中，量為加減調治無失。又如大便秘結，猶當重產亡血禁下，惟宜養正湯助血通滯，極穩當也。</p>
<p>又方，潤腸粥：治產後大便日久不通，用芝麻一升，研末，和米一合，煮粥食，潤腸即通。</p>

<h1>產後類中風</h1>
<p>產後血氣暴竭，有骸少血榮養，卒爾口噤牙禁，手足筋脈攣搐，症類中風，又類痓癇，雖虛火上縱，有痰，皆當以末治之，毋執偏門，而用治風消痰之方，以重虛產也。蓋治經絡動盪，任脈流通，則筋骨強勁，而關節清利矣。今產婦無血濡注，致牙緊口噤，手足攣搐，症類痓癇中風也。治當先服生化湯以生旺新血，若見危症，三帖後即用加參，益氣以救血脫。若有痰有火，少佐橘紅、炒芩之，竹瀝、薑汁少許，亦可加之。黃連、芩、柏不宜並用，慎之！</p>
<p><u>滋榮活絡湯</u>　治產後血少，口噤，項強，筋搐，類中風症。</p>
<p>川芎（二錢）　川歸（三錢）　淮地（二錢，自制）　甘草（四分）　人參（二錢）　黃耆（一錢）　茯神（一錢）　天麻（一錢）　麥冬（一錢）　陳皮　荊芥　防風　羌活（各四分）　黃連（三分，炒）</p>
<p>有痰，加半夏曲七分；痰多，加竹瀝七分，薑汁少許；如傷肉，加山楂、砂仁；如傷麵食，加麥芽、神麯；如大便閉，加肉蓯蓉一錢半；渴，加麥冬；干，加葛根；汗多，加麻黃根一錢；驚悸，加棗仁一錢。</p>
