<header data-type="book">
<h1>醫會元要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>蔡貽績</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1812">公元1812年</data></dd></div>
</dl>
</header>

<h1>總序</h1>
<p>醫之理，元妙也。必研窮經典，博考方書，探賾索隱，會而通之，始能得其要耳。夫以病之原也，脈之真也，證之確也，治之神也，皆存乎臟腑經絡，氣血陰陽，與夫補瀉升降，自一定而不可易。所謂得其要者，一言而終，不得其要，流散無窮者也。非數十年讀書明理，焉能得其要也耶？然惟以濟人為心者，得其要則必欲傳之而不忍秘也。間嘗流覽古籍，如匡氏仁齋，幼業儒，篤於孝友，恩義兼至，故其醫常起危殆之疾，不責人之報。張氏叔明，少多疾，由儒而師事史載之，極醫方之妙，無論貴賤，有謁必往，視之不避寒暑，活人不可勝計。魏惔之稱為太古遺民。而李慶嗣由儒習醫，活人甚眾，所著有《傷寒纂要》及《針經》等書。徐純鄉為諸生，窮醫活人，年八十，手不釋卷，著有《剙元醫案》。至於陸宣公，本不以醫名，而嘗居忠州十餘年，閉戶不出，集古今名方為《集驗良方》五十卷。凡此，非以濟人為心者乎？惟我乃庵蔡君，實與數公為從同同者。君固楚攸名宿，因年少多疾，由儒而習醫，生平存心立品，予於《醫學指要》序中曾樂道其梗概矣。茲予奉上憲題升入覲，晉省過訪，因出《內傷集要》一書，將與《寒瘟抉要》合編付刊，並以《醫會元要》請序於予。細閱是書，於內傷虛勞、經旨脈讓、治法鉤元扼要，本提綱而挈領，亦縷晰而條分。君已年登古稀，而濟世婆心不懈如此，此誠為盛世之人瑞也，爰喜而復為之序焉。然君著述甚富，《四書釋考匯鈔》暨《石經考正》、《歷代帝王詩賦會紀》、《歷代書畫綜覽》等書，頗稱博雅精賅，予極心慕久之，本欲表章以行於世，第因卷帙浩繁，成功匪易，則將俟諸異日云爾。</p>
<p><u>嘉慶二十五年庚辰歲孟春之朔八日湖南辰沅永靖兵備道加三級同學愚弟陳佐頓首拜贈</u></p>

<h1>自序</h1>
<p>嘉慶壬申，予在都梁署中集成《醫學指要》，荷蒙陳觀察顧廬先生，暨省垣諸知交醵金慫恿授梓。書原端重脈理，而經絡為脈根原，故首列焉。夫經絡系屬人身五官百骸，內外貫通，雖古聖剖晰詳盡，究亦未易明徹，矧在淺見寡聞，狃於湯頭之歌，藥性之賦，輒以醫道自任？故其臨證施治，未克明其病在何部，發於何經，往往毫釐千里，謬誤不可勝言。因是寸心耿耿，於《醫學指要》外，直將十二經繪圖以告。即舉《內經》所言脈證，註明於各經條下，並其藥性之補瀉溫涼附載不爽。復於人身自頭至足，指明某部分系某經之筋脈所屬，而外形之本諸藏府者，靡不條分縷析，乃顏之以《醫會元要》。蓋是書雖為淺近說法，而究之提綱挈領，無不明晰，由此而觸類引伸，亦自範圍，不過曲成不遺耳。孔子所謂下學上達，孟子所謂取之左右逢其原，胥在是矣。學者熟悉於中，則臨證施治何至茫然莫識其指歸也哉！曩本欲並付剞劂，時值囊澀未果。茲因年老旋里，戚友藍尚、李枝芳等見而心賞，為之樂助授梓，斯愈見予生知遇，多為利濟同心之仁人君子也，何幸如之。</p>
<p><u>道光三年癸未歲仲夏月夏至前三日蔡貽績乃庵氏自識</u></p>

<h1>十二經穴脈筋主病圖注（各經藥性並列）</h1>

<h2>手三陰三陽歌訣</h2>
<p>手太陰肺少陰心，心之包絡為厥陰。太陽小腸三焦少，陽明原是大腸經。</p>

<h2>足三陰三陽歌訣</h2>
<p>足太陰脾少陰腎，厥陰乃以肝經定。太陽膀胱少陽膽，胃為陽明各相應。</p>

<h2>手太陰肺脈主病</h2>
<figure>
<img data-orig-src="urn:270:08901.jpg" alt="圖">
</figure>
<p>經曰：肺脈來厭厭聶聶（澀之象也），如落榆莢（毛之象也，言其輕浮和緩也），曰肺平。脈來不上不下（澀之象也），如循鵝羽（浮之象也，毛多胃少），曰肺病。又如毛多胃少曰肺病，毛甚曰今病。但毛無胃曰死。又如風熌擺燈焰，倐滅倐明，似無似有，往來不耐指按者，此肺家真臟脈也，肺絕，丙丁日時死。又曰：肺脈急甚為癲疾（寒甚故也，所謂重陰則癲），微急為肺寒熱（皮熱寒也，寒在皮毛），怠惰咳唾血，引腰背胸痛，鼻息不通（肺主氣此皆肺氣虛寒之所致也）。緩甚為多汗（熱甚故也），微緩為痿瘻（肺熱葉焦為痿也），偏風（身偏枯不用），頭以下汗出不可止（腠理開也。頭以下者，頭項胸背之間，肺之外部也）。大甚為勝腫，微大為肺痹引胸背（大即滿指主多氣少血和血氣盛於下則為胚腫微盛於上則為肺痹引胸背也），起惡日光（陰血少，故惡日光，金畏火也）。小甚為泄（氣血皆虛故也。肺與大腸相表裡，故泄），微小為消癉（肺主津水生之源也）。滑甚為息賁上氣（陽氣盛故如此），微滑為上下出血（血氣隨行者也）。澀甚為嘔血（血留不行故嘔），微澀為鼠瘻，在頸支腋之間（寒熱病也），下不勝其上，其應善痠矣（痠者，為陰寒痠削而不能行，肺主氣而發原在下，少氣有寒，則下不勝其上矣）。白，肺之色也，好悲，肺之志也。右脅動氣，肺之部位也，咳動肩背，肺之腧也，胸痹而痛，肺之府也。灑淅惡寒，膚痛汗出，肺主皮毛也。咳嗽唾痰，噴嚏流涕，喘呼氣促，氣短不續，肺氣虛也。</p>
<p>肺之經脈主病，曰是動則病肺脹滿膨膨（腹脹）而喘咳，缺盆中痛（缺盆胃穴也，肺之陽氣不能通布故痛），甚則交兩手而瞀（音茂，兩手相交，低目俯首），此為臂厥（皆肺之陽氣不能通布也）。是主肺所生病者，咳上氣喘（肺氣病也），渴（金不能生水也），煩心（心脈上於肺也），胸滿，臂內前廉痛（肺經脈循此），厥，掌中熱（臂冷厥，肺脈行少陰心主脈之前，故掌中熱也）。氣盛有餘，則肩背痛（肺腧在肩背，因氣而動俞，所謂氣傷痛也），風寒汗出，中風，小便數（不時為數）而欠（氣少為欠），氣虛則肩痛寒（氣虛則畏寒，不能通布則痛），少氣不足以息，溺色變（氣虛不能化也）。肺之絡脈主病，曰實則手銳掌熱（氣盛於外），虛則欠㰦（㰦與呿同，張口也），小便遺數（氣虛於內）。肺之經筋主病，曰十二經筋秉三陰三陽之氣而生，此經氣逆則為喘急息賁，血隨氣奔，則為吐血（經言是動者氣也，言所生病者血也，邪在氣，氣為是動，邪在血，血為所生病也，氣留則寒，血滯則熱也）。</p>

<h2>手太陰肺經用藥</h2>
<p>補：人參　沙參　黃耆　麥冬　阿膠　五味子　紫菀　百部　款冬　知母　山藥　木瓜　茯苓　沙蒺藜</p>
<p>瀉：防風　蘇梗　羌活　前胡　桑皮　蘇子　橘紅　杏仁　石膏　貝母　栝蔞　南星　枳殼　薄荷　白芥子　白芍　元胡　葶藶子　鼠黏子　萊菔　香薷　乾薑　生薑</p>
<p>溫：乾薑　生薑　半夏　白蔻　砂仁　木香　藿香　桂枝　香附　麻黃</p>
<p>涼：枯芩　竹葉　竹瀝　童便　羚羊角　馬兜鈴　山梔　天冬　元參　桔梗　藕節　枇杷葉　元明粉　地骨皮</p>
<p>引經：白芷　升麻　蔥白　生薑</p>

<h2>手少陰心脈主病</h2>
<figure>
<img data-orig-src="urn:270:08902.jpg" alt="圖">
</figure>
<p>經曰：心脈來累累如連珠（言滑利如珠連綿相貫），如循琅玕（言溫潤而柔滑也。以其盛滿流行而無太過不及之象也），曰心平。心脈來喘喘連屬（急數之象），其心微曲（尚未至於全曲，鉤多胃少之象也），曰心病。又如鉤多胃少為心病，鉤甚曰今病，但鉤無胃曰死。又如脈來純急，如兩指用力轉豆，塊圞堅硬，上戴尖銳，微舂似笠頂者，此心家真藏脈也，心與右腎絕，壬癸日時死。又脈至如火薪燃，即形如燈焰之閃灼也，是心經之予奪也，草乾而死。又曰：心脈急甚為瘛瘲（心為火藏寒盛故瘛瘲），微急為心痛引背，食不下（微則薄於宮城之分。食氣入胃，濁氣衝心，心氣逆，故食不下也）。緩甚為狂笑（心氣有餘。心藏神，神有餘故笑不休），微緩為伏梁，在心下（心下有餘之積），上下行，時唾血（心主血，熱則溢而時唾血）。大甚為喉吤（心氣盛，故喉中介介有聲），微大為心痹引背（心氣逆於心下），善淚出（心氣行於上，則心精隨氣上湊於目），小甚為善噦（呃逆也。心藏虛則火土之氣弱，故善噦），微小為消癉（三消之症，心肺主上消，脾胃主中消，肝腎主下消）。滑甚為善渴（陽氣盛而有熱，氣壅於上故渴），微滑為心疝引臍，小腹鳴（小腹當有形也）。澀甚為喑，微澀為血溢（心主言，心氣少故喑，心主血，血多故上溢），維厥（維，四維為四肢。陽氣少，故四肢厥冷），耳鳴癲疾（心開竅於耳，心氣虛故耳鳴癲疾）。赤，心之色也。好喜，心之志也。臍上動氣，心之部位也。胸膻，心之宮城也。舌色紅，心開竅於舌也。口乾，心煩，心之熱也。驚悸怔忡，心神不安也。發狂昏冒，心實而熱乘之也。悽然好悲，心虛而神怯也。</p>
<p>心之經脈主病，曰是動則病咽乾心痛（心主手厥陰包絡之脈，行手太陰肺脈、手少陰心脈之中間，肺脈行心主脈之前，心脈行心主脈之後。少陰之上，心火主之，故動則病此），渴而欲飲（少陰之氣盛也），是為臂厥。是主心所生病者，目黃（心系上繫於目，心火盛故黃），脅痛，臂內後廉痛，掌中熱痛（心脈所循之部分也）。心之絡脈主病，曰實則支膈（膈間若有所支而不暢也），虛則不能言（心主言，而言必由舌，心氣虛則舌本不用，故不能言也）。心之筋脈主病，曰其病內急，心承伏梁（如梁之伏於心下而上承於心也，其唾膿血者，病在心藏，故不治）。經筋之病，曰寒則反折筋急，熱則筋縱挺不收，陰痿不用。陽急則反折，陰急則俯不能仰。</p>

<h2>手少陰心經用藥</h2>
<p>補：當歸　生地　茯神　遠志　棗仁　麥冬　柏子仁　山藥　人參　紅藍花　龍眼　蓮肉</p>
<p>瀉：黃連　枳實　木香　貝母　天竺黃　鬱金　赤苓　元胡索</p>
<p>溫：藿香　沉香　木香　麻黃　桂枝　石菖蒲</p>
<p>涼：連翹　丹參　石蓮子　梔子　石膏　犀角　牛黃　硃砂</p>
<p>引經：獨活　細辛　龍眼　燈心</p>

<h2>手厥陰心包絡脈主病</h2>
<figure>
<img data-orig-src="urn:270:08903.jpg" alt="圖">
</figure>
<p>經曰：厥陰之至，沉短而敦。厥陰為陰之盡，故其脈沉短而敦。敦，重也。又云：寸口脈大於人迎一倍而躁，病在手心主，而左寸浮以候膻中，即心主包絡膻中。包絡代心行事，氣舒則喜樂，不舒則悲愁。膻中為氣海，胞膻間痛。包絡，心之宮城也，手心熱，臂肘攣急，腋腫，外因也。胸脅支滿，心中憺憺大痛，目黃，喜笑不休，有餘也。有餘為實，故寸口大一倍於人迎，虛則反小於人迎也。手少陰，真心脈也。心主，心包絡也。心主乃心經之別脈，不與真心同經。真心為君火，心主為相火。三焦為氣之父，心主為血之母，合為表裡。二者但有其名而無其實。五藏六府更加厥陰心包一經，為十二經也。</p>
<p>包絡之經脈主病，曰是動則病心中熱，臂肘攣急，肢腫（經氣病於外也），甚則胸脅支滿，心中憺憺大痛，面赤目黃，喜笑不休（有餘於內也）。是主脈所生病者，煩心心痛，掌中熱（心主血，而包絡代君行令，故心煩之症自內而外也）。包絡之絡脈主病，曰心系實（包絡與心系相通）則心痛，虛則頭強（包絡主行血脈，脈氣虛故病此）。包絡之經筋主病，曰其病當所過者，肢轉筋，前及胸痛息賁。</p>

<h2>手厥陰心包絡用藥</h2>
<p>補：人參　黃耆　肉桂　沉香　菟絲　破故紙</p>
<p>瀉：大黃　朴硝　梔子　烏藥</p>
<p>溫：附子　肉桂　乾薑　沉香　川芎　白蔻　柏子仁　烏藥</p>
<p>涼：黃連　梔子　丹皮　柴胡　薄荷　滑石</p>
<p>引經：柴胡（桂佐之）　川芎　青皮</p>

<h2>手太陽小腸脈主病</h2>
<figure>
<img data-orig-src="urn:270:08904.jpg" alt="圖">
</figure>
<p>經曰：太陽之至，洪大而長。太陽，陽之極矣，故洪大而長，皆陽脈也。又云：實則人迎大再倍於寸口，虛則反小於寸口也。又云：脈至如湧泉，所謂硬散脈象是也。浮鼓肌中，太陽氣予不足也。少氣者，韭英而死。脈至如花瓣大放，似叢簇而鬆散，輕取則有，重按全無，此乃胃神兩失，令人善恐，不欲坐臥，行立常聽（音忒），是小腸氣予不足也，季秋而死。小腹痛，小腸病也，膀胱移熱於小腸，則下不得小便，上為口瘡，控睪丸，腰脊上衝心，邪在小腸也。</p>
<p>小腸之經脈主病，曰是動則病咽痛，頷不可以顧，肩似拔，臑似折（皆手太陽之氣逆為病也）。是主液所生病者，耳聾，目黃，頰腫，頸頷，肩臑肘臂外後廉痛（小腸主液，耳聾等症小腸之液枯所致）。小腸之絡脈主病，曰實則節弛肘廢（津液留滯而不能潤澤於骨也），虛則生肬（氣虛不行），小者如指痂疥（即皶痤之類，氣鬱所生也）。小腸之經筋主病，曰其病小指支肋內銳骨後廉痛，腋下痛，腋後廉痛，繞肩腫引頸而痛，應耳中鳴，痛引頷，目瞑良久乃得視，頸筋急則為筋痿頸腫，寒熱在頸者。</p>

<h2>手太陽小腸經用藥</h2>
<p>補：石斛　牡蠣　甘草梢</p>
<p>瀉：木通　赤苓　車前　紫蘇　羌活　蒿本　檳榔　大黃　瞿麥</p>
<p>溫：巴戟　茴香　烏藥　砂仁　益智</p>
<p>涼：滑石　木通　梔子　茅根　車前　豬苓　澤瀉　芒硝</p>
<p>引經：羌活　蒿本　黃柏</p>

<h2>手少陽三焦脈主病</h2>
<figure>
<img data-orig-src="urn:270:08905.jpg" alt="圖">
</figure>
<p>經曰：少陽之至，乍大乍小，乍長乍短。少陽乃半陽半陰，故乍長大而見其陽，乍短小而見其陰。又云：人迎大一倍於寸口而躁，病在手少陽。但右尺浮以候三焦，乃其所居之定位，而又候於上中下三部者，乃其遊行之部署，是以寸候胸中，主上焦也。關候腰中，主中焦也。尺候腹中，主下焦也。三焦為腎之火府，氣生於腎，從下而上，腎為原氣之正，三焦為原氣之別。三焦主持一身之氣，其經屬手少陽，其腑不同各府之在內而獨在氣街之合。三焦所行氣之腧而為原，由臍下腎間動氣為人生命，手足三陰三陽之根本。三焦資始於腎間，故名為原。三焦為原氣之別，使主通行上中下焦之氣。原氣者，即真元之氣。下焦稟原氣上達於中焦，主受五藏六府水穀精悍之氣化而為榮衛。榮衛之氣得真元之氣相合，主氣通行達於上焦，始經歷乎五藏六府，故以三焦所留止之處輒以為原。原者三焦之尊號也。腹氣滿，小腹尤堅，不得小便，窘迫，三焦病也。三焦病，氣滿於皮膚中，輕輕然而不堅。下焦病，氣實則癃閉，氣虛則遺溺也。</p>
<p>三焦之經脈主病，曰是動則病耳聾（少陽之上，相火主之，故病此），渾渾焞焞（耳中之聲，如水之流，如雷之行），嗌腫喉痹（皆相火有餘於上也）。是主氣所生病者，汗出（陽加於陰故也），目銳眥痛，頰腫，耳前肩臑肘臂外皆痛，小指次指不用（皆經脈所循之部分而為病也）。三焦之絡脈主病，曰實則肘攣，虛則不收（手少陽厥陰之主筋也）。三焦之經筋主病，曰其病當所過者，即肢轉筋，舌卷。</p>

<h2>手少陽三焦用藥</h2>
<p>補：人參　黃耆　白朮　藿香</p>
<p>瀉：柴胡　枳殼　枳實　青皮　山茨菇</p>
<p>溫：附子　乾薑　厚朴　沉香</p>
<p>涼：連翹　滑石　膽草　地骨皮</p>
<p>引經：柴胡　川芎　青皮</p>

<h2>手陽明大腸脈主病</h2>
<figure>
<img data-orig-src="urn:270:08906.jpg" alt="圖">
</figure>
<p>經曰：陽明之至，浮大而短。陽明則陽中有陰，故其脈浮大為陽而短屬乎陰。又云：人迎大三倍於寸口而躁，病在手陽明。而右尺中以候大腸，脈至如丸，滑不直指，輕按形似絲聚而圓轉，重按則形象頓失，全不當手。不直指者，按之不可得，是大腸氣予不足也，棗生而死。臍以下皮寒，腸中寒也，當臍而痛，不能久立，此大腸病也。</p>
<p>大腸之經脈主病，曰是動則病齒痛，頸腫。是主津液所生病者，目黃，口乾（火熱盛）、鼽（音仇）衄、喉痹、肩前臑痛，大指次指痛不用。氣有餘則當脈所過者熱腫，虛則寒慄不復。大腸之絡脈主病，曰實則齲（齒痛）聾，虛齒寒痹隔（氣寒所致。痹、閉也，隔阻也蓋手陽明主行氣血於皮膚以溫肌肉也，虛則寒氣不能行於外也）。大腸之經筋主病，曰其病當所過者肢痛及轉筋，肩不舉，頭不可左右視。</p>

<h2>手陽明大腸經用藥</h2>
<p>補：薏苡　粟殼　木香　肉蔻　龍骨　牡蠣　蓮肉　糯米　白沙糖</p>
<p>瀉：大黃　芒硝　枳實　桃仁　檳榔　麻仁　蔥白</p>
<p>溫：人參　乾薑　半夏　肉桂　吳茱萸</p>
<p>涼：黃芩　槐花　大黃　地榆　連翹　石膏　秦艽　胡黃連</p>
<p>引經：葛根　升麻　白芷</p>

<h2>足太陰脾脈主病</h2>
<figure>
<img data-orig-src="urn:270:08907.jpg" alt="圖">
</figure>
<p>經曰：脾脈來和柔相離（言悠悠揚揚，時一代也），如雞踐地（雞之行也，舉足獨緩，雞足四爪，踐地四布，此形容脾脈之灌溉四藏，和緩而四布也），曰脾平。又曰：脾脈來，實而急數（弦之太過），如雞舉足（舉足非如踐地之和緩，亦不至於鳥距急疾，弱多胃少之象也），曰脾病。又如虛澀堅急為脾病，舂硬曰今病，乍疏乍數，軟散無胃曰死。又如脈連來幾至，圓活轉動，形情似數，如燈將滅而復明，又來幾至，疏離渙散，楞澀舂硬，如鳥之距，如雀之啄，又若雞之舉足，此脾家之真藏脈也，脾絕，甲乙日時死。又曰：脾脈急甚為瘛瘲（瘛者急而收引，瘲者縱而懈弛。脾主四肢故急甚為瘛瘲），微急為膈中，食飲入而還出後沃沫（脾有寒不能運化飲食，故為膈中，不能遊溢津液上歸於肺，四布於皮毛，故涎沫從口出也）。緩甚為痿厥，微緩為風痿（皆四肢癱瘓而不為所用〕，四肢不用，心慧然若無病（病在外而不及於中）。大甚為擊僕（四肢不用若擊之仆地也），微大為疝氣，腹裡大，膿血在腸胃之外（皆有餘之積聚）。小甚為寒熱（血氣盛也），微小為消癉（不能為胃行其津液）。滑甚為㿉癃（濕熱則為疝㿉，為小便癃閉），微滑為蠱毒，蛕蠍腹熱（濕熱生蟲）。澀甚為腸㿉（脾氣虛而有寒），微澀為內㿉，多下膿血（多血少氣故也）。黃，脾之色也，憂思，脾之志也。當臍中動氣，脾之部位也。病則食少，脾主味也。倦怠乏力，脾主四肢也。腹滿腸鳴，痛而下利，脾主腹也，此皆脾虛之證。身體沉重，腹脹便閉，脾主肉也，此為脾實之證。先硬後溏，腹縮脾虛也。</p>
<p>脾之經脈主病，曰是動則病舌本強（太陰氣病也），食則嘔，胃脘痛（脾脈絡胃故也），腹脹善噫（寒氣客於胃也），得後與氣（得大便與屁）則快然如衰（病衰也），身體皆重（太陰之濕氣也）。是主脾所生病者，舌本痛（脾病濕熱），體不能動搖（即體重而甚也），食不下（脾氣不行），煩心（脾脈注心中也），心下急痛（即胃腕痛），溏（便溏），瘕（腹積），泄瀉水閉，黃疸（皆濕熱為病），不能臥（胃不和則臥不安），強立股膝內腫厥（脾主四肢脈行膝），足大指不用。脾之絡脈主病，曰實則腸中切痛（氣實有餘），虛則鼓脹（氣虛不足）。脾之經筋主病，曰其病足大指支內踝痛，輔筋痛，膝內輔骨痛，陰股引髀痛，陰器紐痛，上引臍兩脅痛，引膺中脊內痛。脾之大絡主病曰：實則身盡痛，虛則百節皆痛。</p>
<p>傷寒病脈證，太陰脈沉細，證則腹痛、咽乾、手足自溫。若直中者，或腹痛，自利不渴，以其脈布胃中絡於喉也。足太陰脈起於足大指之端，上內踝，上踹，循脛上膝入腹屬脾絡胃，上膈挾咽連舌本。</p>

<h2>足太陰脾經用藥</h2>
<p>補：人參　白朮　茯苓　甘草　白芍　山藥　扁豆　木瓜　沙蒺藜　當歸　黃耆　芡實　薏苡　陳皮　龍眼　大棗　蓮肉</p>
<p>瀉：枳實　腹皮　山楂　麥芽　神麯　半夏　南星　檳榔　三稜　萊菔子　升麻　防風　石膏　豬苓　元胡索　桑寄生</p>
<p>溫：砂仁　白蔻　藿香　故紙　乾薑　肉桂　附子　蘇葉　木瓜　蒼朮　肉果　吳萸　丁香</p>
<p>涼：黃連　元明粉　竹瀝　連翹　大黃</p>
<p>引經：白芍　麻黃　大棗　蓮肉</p>

<h2>足少陰腎脈主病</h2>
<figure>
<img data-orig-src="urn:270:08908.jpg" alt="圖">
</figure>
<p>經曰：腎脈來喘喘累累（沉實生動之象）如鉤（如水流而回轉之象），按之而堅（不空虛也。此言心腎同象，心主血，腎主水故也），曰腎平。腎脈來如引葛（牽連引蔓之象），按之益堅（腎多胃少），曰腎病。又如石多胃少為左腎病。石甚曰今病，但石無胃曰死。虛浮濡澀為右腎病，舂硬曰今病。乍疏乍數，軟散無胃曰死。又如純急若手指彈石，越按越覺澀，此左腎真藏脈也。如慢則似斷似續，動若魚翔蝦游，知其逝而不覺其返，急則勢如迸泉，自井底不流水中湧出，到水面即一圈而散，此右腎真藏脈也。左腎絕，戍己日時死。右腎絕，壬癸日時死。又曰：腎脈急甚為骨癲疾（陰寒太甚故也），微急為沉厥，奔豚（正氣虛寒則為沉厥，虛氣反逆故為奔豚），足不收（陰寒在下），不得前後（腎開竅於二陰，氣虛不化故如此）。緩甚為折脊（督脈屬腎貫脊，緩則督脈懈弛，故折脊也），微緩為洞，洞者食不化，下咽還出（腎氣緩故如此）。大甚為陰痿（陰屢不舉），微大為石水（腎水也），起臍以下，至小腹，腄腄然上至胃腕（水泛而土敗也），不治。小甚為洞泄（腎氣虛也），微小為消癉（精血不足）。滑甚為癃㿉（腎有熱則小便癃閉，為睪丸腫），微滑為骨痿，坐不能起（熱傷腎氣），起則目無所見（熱傷骨精）。澀甚為大癰（氣血阻滯故如此），微澀為不月，沉痔（氣血不行故也）。黑，腎之色也。恐，腎之志也。臍下動氣，腎之部位也。腹脹，喘不得臥，腎主水。溲便不利，腎開竅二陰也。少腹滿，背與骨痛，腎主骨，膀胱為表裡也。呵欠，腎主欠也。足寒，腎氣厥也。心主肌，腎邪上於心也。</p>
<p>腎之經脈主病，曰是動則病飢不欲食（少陰之上，君火主之，少陰是動為病，則上下之氣不交，故為飢不欲食等證），面如漆柴（少陰屬腎，而腎為生氣之原，面如漆柴，少陰之氣不升也），咳唾則有血，喝喝而喘（少陰之生氣上交於肺，而肺氣上逆也），坐而欲起（陽動之象），目䀮䀮如無所見（陽氣不升），心如懸，若飢狀（即氣不交之故也），氣不足（於下）則善恐，心惕惕如人將捕之（氣不足於上也），是為骨厥。是主腎所生病者，口熱舌乾，咽腫（腎主藏，精陷腎藏，生氣厥於下）上氣，嗌乾及痛，煩心心痛（腎主藏精，精液不能上升，故有諸症），黃疸，腸澼，脊股內後廉痛，痿厥嗜臥，足下熱而痛（水不上濟則火盛於上，故有口熱煩心等證。腎之生氣厥逆於下，故為骨厥痿厥等證）。腎之絡脈主病，曰氣逆則煩悶（手少陽三焦手、厥陰包絡之脈皆本於腎藏之所生也，水氣上乘於心則煩悶），實則癃閉（膀胱之氣不化故也），虛則腰痛（腰為腎之府也）。腎之經筋主病，曰其病足下轉筋，及所過而結者皆痛及轉筋，病在此者，主癇瘛及痙，在外者不能俯，在內者不能仰。故陽病者腰反折不能俯，陰病者不能仰。</p>
<p>傷寒病脈證，少陰脈微細，證則口燥舌乾而渴，但欲寐。若直中者，惡寒，口中和，默默欲寐，腹痛或咽痛，以其脈貫腎絡於肺系舌本也。足少陰脈起於足小指之端，下趨足心，循內踝入跟中，上踹出膕內，上股內貫脊絡腎，上貫肝膈入肺，循喉嚨挾舌本。</p>

<h2>足少陰腎經用藥</h2>
<p>補：杜仲　菟絲　沙蒺藜　故紙　棗皮　山藥　石斛　巴戟　人參　白朮　熟地　當歸　枸杞　五味子　牛膝　龜板　鹿茸　鱉甲　首烏　鹿角　龍骨　牡蠣　續斷　韭子　覆盆子　肉蓯蓉　淫羊藿</p>
<p>瀉：澤瀉　豬苓　知母　木通　甘草　元胡索　茯苓</p>
<p>溫：附子　故紙　桂心　乾薑　砂仁　仙茅　沉香</p>
<p>涼：黃柏　知母　丹皮　天冬　梔子　元參　地骨皮</p>
<p>引經：獨活　肉桂　牛膝　鹽酒</p>

<h2>足厥陰肝脈主病</h2>
<figure>
<img data-orig-src="urn:270:08909.jpg" alt="圖">
</figure>
<p>經曰：肝脈來軟弱招招（乍起乍伏之象），如揭長竿末稍（長而軟也。此喻其弦長而兼和緩柔軟之象），曰肝平。肝脈來盈實而滑（弦之太過），如循長竿（長竿無稍，則失其和緩之意），曰肝病。又如弦多胃少為肝病，弦甚曰今病，但弦無胃曰死。又如純硬若長木正身，中夾急促而外形粗澀，似刀斫砍，此肝象真藏脈也，肝絕，庚辛日時死。又曰：肝脈急甚為惡言（肝主語，在志為怒。肝苦急，故急甚為惡言），微急為肥氣，在左脅下，若覆杯（皆有餘之氣也）。緩甚為善嘔（食氣入胃，散精於肝。緩主多熱，熱則肝氣逆也），微緩為水瘕痹（亦飲食所積也）。大甚為內癰（大主肝氣盛，則鬱怒而不得疏達故也），善嘔衄（肝氣逆於上也），微大為肝痹陰縮（肝氣逆於下也），咳引小腹（肝脈抵小腹上注肺咳引小腹者，經氣逆於上下也）。小甚為多飲，微小為消癉（木火盛故如此）。滑甚為㿉疝（氣盛而熱），微滑為遺溺（肝主疏泄，肝氣盛故遺溺）。澀甚為溢飲（飲留於四肢則經脈阻滯，故脈澀），微澀為瘛攣筋痹（肝氣虛寒故如，此肝主筋也）。青，肝之色也。好怒，肝之志也。左脅動氣，肝之部位也。右脅下痛引小腹，肝脈所循也。抽搐昏黑，肝主風也。耳聾不聰，肝與膽為表裡也。目䀮䀮無所見，肝開竅於目，虛故也。如有人捕之，肝虛則膽薄也。面有微塵，體無膏澤，木鬱不能敷榮也。善太息，木氣不舒也。</p>
<p>肝之經脈主病，曰是動則腰痛不可俯仰（此與下咽乾麵脫色，皆為厥陰從少陽中氣之化，厥陰之化氣病也），丈夫㿉疝，婦人少腹腫（此厥陰本氣病也），甚則嗌乾，面塵脫色。是主肝所生病者，胸滿嘔逆（食氣入胃，散精於肝，行氣於經，肝氣逆，不能行散穀精故如此），飧泄（肝主疏泄，肝氣虛故為飧泄也），狐疝（隨經脈晝夜出入之疝也），癃閉（肝氣實也）。肝之絡脈主病，曰實則挺長，虛則暴癢。肝之經筋主病，曰其病足大指支內踝之前痛，內輔痛，陰股痛，轉筋陰器不用，傷於內則不起，傷於寒則縮入，傷於熱則縱挺不收，治在行水清陰氣。</p>
<p>傷寒病脈證</p>
<p>厥陰脈沉微緩，證則煩滿囊縮。若直中者，唇青，舌卷，不欲食或吐蛔，以其脈循陰器絡於肝也。足厥陰脈起於足大指叢毛之際，上循足跗上踝，上膕，循陰股入毛中，過陰器，抵小腹，挾胃屬肝絡膽，貫肺膈，布脅循喉嚨，入頏顙，連目眥，出額，與督脈會於巔。</p>

<h2>足厥陰肝經用藥</h2>
<p>補：當歸　熟地　棗仁　阿膠　木瓜　沙參　薏苡　菟絲子　枸杞　棗皮　白朮　沙蒺藜　甘草　蓮肉</p>
<p>瀉：白芍　赤芍　柴胡　青皮　枳實　青黛　羌活　木賊　白菊　蒲黃　桃仁　蔓荊子　常山　靈脂　益母　前胡</p>
<p>溫：木香　肉桂　香附</p>
<p>涼：黃連　黃柏　胡連　膽草　草決明　牛黃　羚羊角　甘菊　地榆　車前子</p>
<p>引經：川芎（行上）　青皮（行下）　柴胡　烏梅</p>

<h2>足太陽膀胱脈主病</h2>
<figure>
<img data-orig-src="urn:270:08910.jpg" alt="圖">
</figure>
<p>經曰：腎合三焦膀胱，蓋膀胱為腎之水府，三焦為腎之火府，故左尺浮以候膀胱，右尺浮以候三焦（皆主洪大象也）。又曰：人迎大二倍於寸口，病在足太陽（人迎者，肝膽脈也，肝藏屬木生火，統主春夏）。脈象曰：太陽脈至洪大以長，又如脈至如湧泉，所謂硬散脈象是也。浮鼓肌中，太陽氣予不足也，小腹偏腫而痛，以手按之即欲小便而不得，肩上熱，膀胱病也，小便赤為熱，若平常淡黃淺紅，則為陰虛也，白為寒，若平常白渾如米泔，則為濕熱所化也。</p>
<p>膀胱之經脈主病曰：是動則病頭痛，目似銳，項脊痛，腰似折，髀不可以曲，膕如結，踹如裂，是為踝厥（太陽氣病）。是主筋所生病者，痔（太陽之氣生於膀胱水中而為諸陽主。經云：筋脈橫解，腸澼為痔。蓋太陽所生之筋，膀胱所生之脈橫逆而為痔也），瘧（經絡沉以內薄則為瘧），狂癇疾（厥逆於下則為癲狂），頭囟項痛，目黃淚出，鼽衄，背腰尻膕踹腳皆痛，小指不用。膀胱之絡脈主病，曰實則鼽窒頭痛，虛則鼽衄。膀胱之經筋主病，曰其病小指支跟腫痛，膕骨攣，脊反折，項筋急，肩不舉，腋支缺中紐痛，不可左右搖。</p>
<p>傷寒病脈證</p>
<p>太陽脈浮緊，證則頭項強痛，惡寒發熱，腰脊強，以其脈上連風府也。足太陽脈起於目內眥，上額，交巔，下項，循肩膊，挾脊抵腰。</p>

<h2>足太陽膀胱經用藥</h2>
<p>補：龍骨　續斷　橘核　益智仁</p>
<p>瀉：豬苓　澤瀉　滑石　車前　木通　茯苓　瞿麥</p>
<p>溫：茴香　沉香　烏藥　棗皮　桂枝　麻黃　砂仁</p>
<p>涼：膽草　石蓮子　防風　羌活　蔓荊子　茵陳　葶藶子　大黃　黃柏　石膏</p>
<p>引經：蒿本　羌活</p>

<h2>足少陽膽脈主病</h2>
<figure>
<img data-orig-src="urn:270:08911.jpg" alt="圖">
</figure>
<p>經曰：少陽脈至，乍數乍疏，乍短乍長，言其半陽半陰也。又曰：人迎大一倍於寸口，病在足少陽。又曰：病在少陽，其脈必弦，蓋膽附肝為甲木，左關浮候之脈象應與肝同。脈至形如板木，橫格上下，難去難來乃結脈，無氣無神之變象是膽氣予不足也，禾熟而死（即秋初時）。耳聾不聰，肝與膽為表裡也。如有人將捕之，肝虛則膽薄也。善嘔有苦，長太息，心中憺憺然恐，邪在膽逆在胃。膽氣泄則口苦，胃氣逆則嘔苦，數唾，膽有邪也。嗌中吤吤然，膽為相火也。</p>
<p>膽之經脈主病，曰是動則病口苦，善太息，左脅痛，不能轉側（少陽之氣不升），甚則面微有塵，體無膏澤（少陽主初陽之生氣，故膽氣升則十一藏之氣皆升，陽氣長故其色鮮，其顏光，少陽之動氣為病則厥逆不升，故甚則如此也），足外反熱（火逆於下），是為陽厥。是主骨所生病者，頭痛項痛，目銳眥痛，缺盆中腫痛，脅下痛，馬刀俠癭，汗出（諸痛處乃少陽經脈所循之部分也，血脈留滯，故為馬刀俠癭，陽加於陰故汗出。少陽行身側故本篇多用外字）。振寒慄（陽逆於下），胸脅肋髀膝外至脛絕骨、外踝前及諸節皆痛，小指次指不用。膽之絡脈主病，曰實則厥（少陽氣不能上升而逆於下也），虛則痿蹶，坐不起（氣不能周布）。膽之經筋主病，曰小指次指支轉筋，引膝外轉筋，膝不可屈伸，膕筋急，前引髀後引尻，即上乘䏚，季肋痛，上引缺盆膺乳，頸維筋急，從左之右，右目不開，右足不用命。</p>
<p>傷寒病脈證</p>
<p>少陽脈浮弦，證則脅痛耳聾，口苦舌乾，往來寒熱而嘔，以其脈循脅絡於耳也。足少陽脈起於目銳眥，上抵頭角，下耳後，入耳中，循頸下胸中貫膈，絡肝循脅裡過季脅。</p>

<h2>足少陽膽經用藥</h2>
<p>補：當歸　棗仁　棗皮　五味子</p>
<p>瀉：柴胡　青皮　黃連　白芍　川芎　貝母　栝蔞　鉤藤　天竺黃</p>
<p>溫：乾薑　肉桂　陳皮　半夏</p>
<p>涼：黃連　黃芩　柴胡　竹茹　甘草</p>
<p>引經：川芎（行上）　青皮（行下）　柴胡</p>

<h2>足陽明胃脈主病</h2>
<figure>
<img data-orig-src="urn:270:08912.jpg" alt="圖">
</figure>
<p>經曰：陽明脈至，浮大而短，言其陽中有陰也。又曰：人迎大三倍於寸口，病在足陽明。又曰：陽明浮長，其病在經，陽明長洪，在經熱甚，陽明脈實，其熱入府。胃與脾為表裡，右關浮以候胃，胃為水穀之海。經云：得谷者昌，失谷者亡。凡脈帶和緩是為有胃氣，有胃氣則生，無胃氣則死。是以衝陽為胃脈，病危猶可診，以驗其生死。胃脈沉鼓澀，純陰寒冷之象。胃外鼓大，此外邪標脈，亦見純陰寒象。脈至如丸泥，形如豆之堅硬，又若燥土之枯澀，是胃精予不足也，榆英落而死。腹滿，胃實也。飢不受穀食，胃虛也。脹滿，胃中寒也。消穀善飢，胃中熱也。寒慄鼓頷，胃氣虛也。當心而痛，胃脘痛也。臍以上皮熱，胃中熱也。便硬腹痛，胃實也。</p>
<p>胃之經脈主病，曰是動則病洒洒振寒（陽明者午也，陽盛而陰氣加之故也），善呻（陽氣鬱而欲伸出）數欠（陽欲引而上也），顏黑（陰氣加於上）。病至則惡人與火，聞木音則惕然而驚（陽明之脈病也），心欲動（胃上絡通於心），獨閉戶塞牖而處（陰陽相薄故也），甚則欲上高而歌，棄衣而走（陽盛則四肢實，而熱盛於身也），賁響腹脹（陽明之脈循腹裡，水火相激故賁門中有聲及脹，此陽明之氣厥也，逆於經而為此諸證），是為骭厥。是主血所生病者，狂瘧，溫淫，汗出（胃氣熱甚蒸發水液之汗也），鼽衄（胃熱上行）口喎唇胗（唇瘍也），頸腫喉痹，大腹水腫，膝臏腫痛循膺乳，氣街股伏兔骭外廉足跗上皆痛（皆陽明經脈之為病），中指不用。氣盛（於外）則身以前皆熱，其有餘於內則消穀善飢，溺色黃（胃熱下入膀胱）。氣不足則身以前皆寒慄，胃中寒則脹滿。胃之絡脈主病，曰其病氣逆則喉痹卒痛，實則狂顛，虛則足不收，脛枯。胃之經筋主病，曰其病足中指支，脛轉筋，足跗堅，伏兔轉筋，髀前腫，㿉疝，腹筋急，引缺盆及頰，卒口僻急者，目不合，熱則縱弛，目不閉，頰筋有寒，則急引頰移口。</p>
<p>傷寒病脈證</p>
<p>陽明脈浮長，證則身熱目疼，鼻乾不得眠，以其脈夾鼻絡於目也。不惡寒而作渴為在經，反發熱，自汗出，大便難為在府。足陽明脈起於鼻交頞中，旁約太陽之脈。</p>

<h2>足陽明胃經用藥</h2>
<p>補：人參　黃耆　白朮　石斛　山藥　芡實　薏苡　蓮肉　糯米　白糖</p>
<p>瀉：枳實　厚朴　腹皮　前胡　三稜　莪朮　檳榔　大黃　石膏　礞石</p>
<p>溫：肉桂　附子　肉果　砂仁　藿香　半夏　蒼朮　白蔻　乾薑　川芎　香附</p>
<p>涼：葛根　知母　石蓮　梔子　滑石　竹茹　胡黃連</p>
<p>引經：葛根　升麻　白芷</p>

<h2>傷寒主足三陰三陽說</h2>
<p>傷寒，乃冬時感寒即發之名。冬乃坎水司事，其氣嚴寒，時則太陽少陰正司其令，觸冒之者則二經受病。其次則足少陽厥陰繼冬而司春令，然木之胎胚始於大寒節，正當十二月中，至春分後方行溫令，故風寒亦能傷之。足陽明太陰屬土，無定位，寄旺於四季，能終始萬物，則四時寒熱溫涼之氣皆能感而傷之。故表邪入里必歸於脾胃而成燥糞矣。手之六經主乎夏秋，故不傷之，但云傷足不傷手則可，若以為傳足不傳手則不可，蓋風寒之中人無所不至，夫豈間於手經哉。</p>

<h2>十二經應時候</h2>
<p>子足少陰腎經，醜足少陽膽，寅足厥陰肝，卯手太陽小腸，辰手少陰心。巳手少陽三焦，午手厥陰心包、少陰別脈。未足陽明胃，申足太陰脾，酉手陽明大腸，戌手太陰肺，亥足太陽膀胱。</p>

<h2>每日氣血所歸之時</h2>
<p>子膽醜肝寅肺鄉，卯到大腸辰胃藏，巳歸脾土午君火，未入小腸申膀胱，腎經酉時戌包絡，三焦氣血亥刻詳。</p>
<p><u>散品</u>　凡藥性輕虛者，諸臟腑皆能發散，是以不屬經絡也。</p>
<p>羌活　獨活　升麻　防風　荊芥　細辛　蒿本　麻黃　秦艽　防己　牛蒡　香薷　夏枯　豆根　靈脂　射干　青蒿　蔥白　漏蘆　蟬蛻</p>
<p><u>走品</u>　凡藥體重濁者，諸藏府皆走瀉，是以不屬經絡也。</p>
<p>川烏　草烏　三稜　莪朮　靈仙　穿山甲　葶藶　海藻　昆布　五加皮　川芎　常山　青黛　巴豆　益母草　桑寄生</p>

<h1>奇經八脈主病及藥（任督二脈圖注）</h1>
<figure>
<img data-orig-src="urn:270:08913.jpg" alt="圖">
</figure>
<figure>
<img data-orig-src="urn:270:08914.jpg" alt="圖">
</figure>

<h2>任脈主病</h2>
<p>經曰：任脈起於中極之下，以上毛際，循腹裡，上關元，至咽喉，上頤，循面入目。又曰：任沖皆起於胞中，上循背裡，為經絡之海。其浮而外者循腹上行，會於咽喉，別而絡口唇。</p>
<p>按：任脈為陰脈之妊養，診其脈，寸口脈丸丸而緊細實長至關是也。其所主病，男子內結七情，女子帶下癥瘕，叔和以為繞臍引陰中痛。又曰：寸口丸丸，主腹中有氣，如指上搶心，俯仰拘急。丸丸，動貌，狀如豆粒，厥厥動搖，故主氣上衝心。緊細實長，中寒而氣結也。</p>

<h2>任脈主藥</h2>
<p>王不留行　紫石英　紅花　五靈脂</p>

<h2>督脈主病</h2>
<p>經曰：督脈者，起於少腹以下骨中央，女子入系廷孔，其孔溺孔之端也。其絡循陰器，合篡間，繞篡後，別繞臀，至少陰，與巨陽中絡者，合少陰上股內後廉，貫脊，屬腎。與太陽起於目內眥，上額交巔上入絡腦，還出別下項，循肩膊內，俠脊，抵腰中，入循膂，絡腎。其男子循莖下至篡，與女子等，其少腹直下者，貫臍中央，上貫心，入喉，下頤，環唇，上系兩目之下中央，女子廷孔之端，即男子陰器合篡間也。男子精孔溺孔合併之處是合篡間也。女子胞孔溺孔合併之處是廷孔之端也，故曰與女子等。又曰：頸中央之脈督脈也，名曰風府。督者，都也，為陽脈之都綱。督、任、沖三脈皆起於胞中，胞中者，男女丹田之通稱也，在女謂之女子胞，在男即精室也。</p>
<p>按：督脈為陽脈之都綱，診其脈，尺寸中央俱浮，直上直下是也。其所主病，為外感風寒之邪。內經以為實則脊強，虛則頭重。叔和以為腰脊強痛不能俯仰，大人癲病，小兒風癎，皆其候也。</p>

<h2>督脈主藥</h2>
<p>羌活　藁本　附子　鹿茸　鹿膠</p>

<h2>衝脈主病</h2>
<p>《素問》曰：衝脈起於氣街，並於少陰之經，俠臍上行至胸中而散。《靈樞》曰：衝脈者，十二經之海，與少陰之大絡起於腎下，出於氣街，是起於腹氣之街也。名曰氣街，是氣所行之道路也。衝脈血盛則滲溢皮膚，生毫毛。女子數脫血，不榮其口唇，故髭鬚不生。宦者去其宗筋傷其衝脈，故須亦不生。</p>
<p>按：衝脈與督脈無異，但督脈浮，衝脈沉耳，直上直下，弦長相似，尺寸俱牢，亦兼弦長，是以有逆氣裡急之症。疝氣攻心，逆急也。溺失，衝脈之邪干腎也。越人曰：凡逆氣上衝，或兼裡急，或作躁熱，皆衝脈逆也，宜補中益氣湯加炒柏、炒連、知母，以泄衝脈。凡秋冬厥，逆氣上衝，咽不得息，而喘息有音，不得臥，宜調中益氣湯加吳萸五分，若夏月有此，乃大熱之證，治法不同。叔和云沖督用事，則十二經不復朝於寸口，其人若恍惚癡狂也。</p>

<h2>衝脈主藥</h2>
<p>柴胡　川芎　白芍　紅花　木香　王不留行　吳萸　桃仁　紫石英　五靈脂</p>

<h2>帶脈主病</h2>
<p>《靈樞》曰：足少陰上至膕中，別走太陽而合，上至腎，當十椎出屬帶脈。《難經》曰：帶脈者起於季脅，回身一周。</p>
<p>按：帶脈者，足少陽膽經之穴名也，總束諸脈使不妄行，在人腰間如束帶而前垂，故名。其應於關，此脈若固，則無帶下漏崩之病矣。帶之為病，經曰：腹滿，腰溶溶如坐水中，女人少腹痛，裡急瘛瘲，月事不調，赤白帶下，血崩久而成枯者宜澀之，血閉久而成竭者宜破之。</p>

<h2>帶脈主藥</h2>
<p>當歸　益母　艾葉</p>

<h2>陰蹺陽蹺脈主病</h2>
<p>《靈樞》曰：陰蹺脈者，少陰之別，起於然谷之後，上內踝，直上循陰股，入陰，上循胸裡，入缺盆，上出人迎之前，入頄屬目內眥，合於太陽陽蹺而上行，氣並相還則為濡目，目氣不榮則目不合。</p>
<p>按：陰蹺者，以其所行陰經也，起於足少陰腎經，在肌肉之下，貫通五藏，主裡。越人曰：陰蹺為病，陽緩而陰急。叔和注云：當從內踝以上急，外踝以上緩，凡癲癎寒熱，皮膚淫癢，少腹痛，裹腰及髖窌，下連陰痛，男子陰疝，女子漏下皆其候也。</p>
<p>《難經》曰：陽蹺起於跟中，循外踝上行入風池，蓋起於跟中，上外踝循脅上肩，夾口吻，至目極於耳後風池穴也。</p>
<p>按：陽蹺者，以其所行陽經也，在肌肉之上。陽脈所行，貫通六府，主表。越人曰：陽蹺為病，陰緩而陽急。叔和注云，當從外踝以上急，內踝以上緩，凡腰痛，癲癎，僵仆，惡風偏枯，痹痛體強皆其候也。張潔古曰：蹺者捷疾也，二蹺起於足，使人蹺捷也。</p>

<h2>陰維陽維脈主病</h2>
<p>《難經》曰：陰維起於諸陰交。叔和云：陰維主病，癲癎，僵仆失音，肌肉癢，汗出惡風，身洒洒然也。又曰：陰維沉實而大，主胸中滿，心痛如貫珠者，男子脅下實，腰中痛，女子陰中痛如有瘡。陽維起於諸陽之會。叔和云：陽維主病，肌膚痹癢而痛，下部不仁，汗出而寒，顛仆羊鳴，手足相引，甚者不能言也。維脈斜上者，不由正位而上，斜向大指名曰尺外，斜向小指名曰尺內。邪氣在陽維陽蹺則發癇，癇動而屬陽。邪氣在陰維陰蹺則發癲，癲靜而屬陰。越人曰：陽維為病苦寒熱，陰維為病苦心痛。張潔古云：沖為陽主表，陽維受邪為病在表，故苦寒熱。營為陰主裡，陰維受邪為病在裡，故苦心痛。李瀕湖曰：陽維之脈與手足三陽相維，而足太陽少陽則終始相聯附者，寒熱之證惟二經有之，故陽維為病亦苦寒熱。寒熱之在表而兼太陽證者，有汗當用桂枝，無汗當用麻黃。寒熱之在半表半裡而兼少陽證者，當用小柴胡加減治之。若夫營衛惵卑而病寒熱者，黃耆建中及八物湯之類主之。陰維之脈雖交三陰而行，實與任脈同歸，故心痛多屬少陰厥陰任脈之氣上衝而然。暴痛無熱，久痛無寒，按之少止者為虛，不可近按者為實。凡寒痛兼少陰及任脈者四逆湯，兼厥陰者當歸四逆湯，兼太陰者理中湯主之。凡熱痛兼少陰及任脈者金鈴散、延胡索散，兼厥陰者失笑散，兼太陰者承氣湯主之。若營血內傷兼夫任沖手厥陰者則宜四物、養營、妙香之類，因病治之，庶乎其不差矣。</p>

<h1>十二經所主部分（脈筋註明）</h1>
<p>頭巔：足厥陰肝、少陰腎脈會此，足太陽膀胱、少陽膽、陽明胃脈交此。</p>
<p>腦：足太陽膀胱脈絡此，少陰腎筋屬髓海，腦為髓海也。</p>
<p>兩角：足少陽膽脈筋皆上此。</p>
<p>額顱：足陽明胃脈至此，手陽明大腸筋上左角，手少陽三焦筋結上角，足太陽膀胱結下額。</p>
<p>發：足少陰腎主之，又云屬心，故上生，稟火氣也。眉屬肝故橫生，須屬腎故下生。經云：頭痛，腸胃所生，然多屬風或寒，即氣血虛亦必兼風，無風入只作眩不作痛。風入太陽，巔頂連頸項強痛。風入陽明，兩額角痛，目疼鼻乾。風入少陽，額痛口苦耳聾。若三陰維厥陰脈與督脈會於巔頂，亦有頭痛。至於眉尖後近髮際為魚尾，終日細筋抽掣痛不甚，脈數或芤，此為血虛。耳鳴目眩，頭如空虛，惡勞動，重綿包裹方少安，脈大而緩，此為氣虛。若濕痰作痛必昏重欲吐，連眉稜骨亦痛。又宿食不消，濁氣上蒸，頭脹作痛。又陰虛作痛，發熱汗出，太陽必痛甚，此相火自下衝上，切忌辛熱發散。惟有真頭痛，全腦皆痛，手足冷至節，此為不治證也。</p>
<p>面：手太陰肺氣通鼻，少陰心氣通舌，足太陰脾氣通口，厥陰肝氣通目，少陰腎氣通耳，而面病專屬陽明。</p>
<p>顴：骨之下迎香穴之外為面中央，應手陽明大腸，兩顴之內面王之上，應手太陽小腸，小腸脈循頰上䪼斜絡於顴，小腸氣血盛，面多肉而平，氣血少面瘦色惡。</p>
<p>顴為骨本，足太陽膀胱、手陽明大腸筋皆結此，兩顴發赤主腎敗，足陽明胃筋脈合此，手太陽小腸經顴膠穴在頄下銳骨端陷中。</p>
<p>人中：下應膀胱、子宮，平淺無髭，大腸脈交此，腎脈水溝穴在此。</p>
<p>頰：手陽明大腸筋脈俱上此，太陽小腸脈上此，足陽明胃脈循此而上，足少陽膽筋脈俱過此，厥陰肝脈下此，手少陽三焦筋當曲頰脈亦交此，胃頰車穴在耳下分。</p>
<p>頷：手太陽小腸筋結此，足少陽膽筋脈俱過此。</p>
<p>頰：頤下為頦。</p>
<p>眉：屬肝，足厥陰肝脈從目繫上額，肝膽相表裡，足少陽膽受風熱與痰則眉稜骨痛，多傷目並兩耳出膿。眉又應足太陽膀胱，血氣盛，眉佳而有毫，眉心上應咽喉證。</p>
<p>目睛：即眼珠，藏府精氣皆上注於目，血之精為目窠之總絡。</p>
<p>瞳神：骨之精，屬腎，腎虧不能養肝精華不斂，瞳神散大無光，兩瞳痛為腎火上炎。</p>
<p>黑珠：即精外黑輪，屬足厥陰肝，為筋之精，內連目系，肝火上衝，兩輪紅痛。</p>
<p>白珠：氣之精，屬手太陰肺，肺火上騰，白生紅筋。</p>
<p>兩眥：外決面者為銳眥，內近鼻者為內眥，皆屬手少陰心。太陽小腸、少陽三焦筋脈俱至銳眥，足少陽膽脈起銳眥，筋亦結此。小腸支脈至內眥出，足太陽膀胱脈起此。</p>
<p>眼胞：上下皆屬足太陰脾、陽明胃，細筋散於目下為目下綱，太陽膀胱細筋為目上綱。</p>
<p>睫毛：屬脾，脾胃氣虛，目緊皮縮，眼楞小急，睫毛倒入眼中，謂之拳毛。</p>
<p>耳：通於足少陰腎，腎足則耳聰，手太陽小腸、少陽三焦、足少陽膽脈俱入耳中。耳前，足陽明胃脈上筋結三焦脈，走此筋從耳前屬目。耳後手太陽小腸，足太陽膀胱筋俱結耳後，完骨胃脈之支、三焦膽脈俱過此。凡耳病當診腎脈，濡遲為虛，浮大為風，洪動火賊，沉澀氣凝，數實熱壅。</p>
<p>鼻：山根曰下極，應手少陰心，足陽明胃脈交此。鼻柱在山根下，即年壽應足厥陰肝，左右應少陽膽。面王在鼻柱下，即準頭，亦曰明堂，屬土，應足太陰脾。兩旁為方上，在迎香上曰鼻柱，即蘭臺廷尉，應胃，胃脈起鼻兩旁，筋亦結此。鼻孔，手陽明大腸脈挾此，太陽小腸脈抵此，足太陽膀胱筋結鼻下兩旁。</p>
<p>口：通於足太陰脾，陽明胃脈筋挾此，大腸脈出兩吻。</p>
<p>唇：脾之榮在唇，四白胃脈環此，肝脈環唇內，於唇驗藏府之寒熱最便。</p>
<p>齒牙：內床曰齒，外版曰牙，皆骨之徐，故屬足少陰腎。陽明胃脈入上齒縫中，故上床屬胃，手陽明大腸脈入下齒縫中，故下床屬大腸。</p>
<p>舌：為手少陰心之苗，屬火，足太陰脾脈連舌本散舌下，主舌強。少陰腎脈挾舌本主舌下，太陽膀胱筋結舌本，手少陽三焦筋系舌本。</p>
<p>髭：在上，手陽明大腸主之，須在頤，足少陽膽主之，髯在頰，陽明胃主之，皆因各經血氣以生。</p>
<p>喉：在咽前，通手太陰肺氣，故曰肺系，又曰喉氣通天。肺熱甚喉啞。足陽明胃手少陰腎二脈循喉。</p>
<p>咽：在喉後，通足陽明胃，主納食。胃口在膈膜下，咽至胃一尺六寸，通胃之咽門。咽門下有膈膜，嚥氣通地。咽之低處曰嗌，手少陰心足太陰脾二脈挾此，令咽乾，手太陽小腸脈循此令嗌痛。足厥陰肝脈循咽後，令咽乾，手少陽三焦脈由喉令嗌腫。</p>
<p>會厭：聲音之戶，當咽上，司開合，掩喉食下咽，不掩則錯，必舌抵上齶則會厭能掩喉，喉、咽、嗌、會厭四者缺一則飲食廢而死矣。</p>
<p>頸：前有缺盆穴，屬足陽明胃，在橫骨上，左右各一，為十二經道路。手陽明大腸、太陽小腸、少陽三焦、足少陽膽、陽明胃脈俱入此，手太陰肺、足太陽膀胱與胃膽筋俱結此。缺盆之中即任脈之天突穴，為頸前居中第一行脈。缺盆之上有人迎穴，喉間開一寸五分，屬胃，即頸前第二行脈。人迎後一寸五分名扶突穴，屬大腸，即頸中第三行脈。扶突後名天窗穴，屬小腸，即頸中第四行脈。天窗後為膽脈，頸中無穴，乃第五行脈。足少陽後名天牖穴，屬三焦，即頸中第六行脈。天牖後名天柱穴，屬膀胱，頸中第七行脈。膀胱後居頸之中央者，胃脈也，穴名風府，自前中一行，至此為第八行。</p>
<p>項：乃足少陰腎、太陽膀胱所主，亦屬太陰脾、厥陰肝，惟肝血虛火旺，必筋燥急強，多生瘰癧。</p>
<p>肩：下曰膊，膊下對腋處曰臑。臑盡處為肘，肘當臂腕。肘以下為臂，臂掌交接處為腕。腕以上大指節後肥魚隆起處統謂之魚。</p>
<p>手：大指屬手太陰肺，食指屬陽明大腸，中指屬手厥陰心包絡，無名指屬少陽三焦，小指內側屬手少陰心，外側屬太陽小腸，小腸筋脈俱起小指外側少澤穴之次。</p>
<p>肩：手太陽小腸、陽明大腸、少陽三焦筋脈俱至此，足太陰肺筋結前髃，足少陽膽脈至肩上。肩井穴屬膽，太陽膀胱筋結肩髃。</p>
<p>脊：足少陰腎所主。手陽明大腸經脈挾脊，足太陰脾筋著脊，腎筋脈貫脊，太陽膀胱筋挾脊，分左右上項，從脊間一寸五分為第二行對第三椎曰肺俞。第五椎曰心俞。第七椎曰膈俞。第九椎曰肝俞。第十椎曰膽俞。第十一椎曰脾俞。第十二椎曰胃俞。第十三椎曰三焦俞。第十四椎曰腎俞。第十六椎曰大腸俞。十八椎曰小腸俞。十九椎曰膀胱俞。從脊開三寸為第五行，魄門對肺俞，故肺藏魄。神堂對心俞，故心藏神。魂門對肝俞，故肝藏魂。意舍對脾俞，故脾藏意。志室對腎俞，故腎藏志。膏肓對第十四椎。</p>
<p>膂：脊之兩旁，足少陰腎、太陽膀胱脈皆循此。</p>
<p>肩解：背上兩角，手太陽小腸脈出此。</p>
<p>肩胛：肩解下成片肉，手太陽小腸、陽明大腸筋脈俱繞此。</p>
<p>膺：胸上兩旁高處曰膊。足陽明胃脈到膺，太陰脾筋系膺。結喉下曰缺盆，缺盆下曰胸，在膺之下。胸下曰骭，乃蔽心之骨，心位在此。手太陰肺脈布胸中，筋亦結此，足太陽膀胱筋脈皆散此，厥陰肝脈上此，少陰腎脈入肺注此，手厥陰心包絡脈筋亦散此。</p>
<p>腋：肩下曰膊。膊下曰臑，對腋，手太陰肺筋脈入腋，少陰心太陽小腸筋結此，足少陽膽筋走此，手厥陰心包脈抵此，胠在腋下，胠下為脅。足厥陰肝、少陽膽脈布脅，手厥陰心包筋脈挾此。</p>
<p>肋：在脅後，足太陰脾筋結肋，厥陰肝脈布此。季肋在脅下，手太陰肺脈抵季肋，足少陽膽筋脈乘此。䏚在季肋下，膽筋乘䏚。</p>
<p>乳：乳房屬足陽明胃。乳頭屬厥陰肝。</p>
<p>膈：為手太陰肺、少陰心之分野，心下有膈膜，前齊鳩尾，後齊十二椎，所以遮隔濁氣，不使上熏心肺。</p>
<p>十二經脈惟足太陽膀胱脈不貫隔，餘皆能令膈痛。</p>
<p>三焦：在手少陰心下，下膈，在足陽明胃上口，治在膻中。頭至心為上焦。中焦在胃中皖，治在足太陰脾，傍心至臍，為中焦。下焦在臍下，當足太陽膀胱上，臍至足為下焦。</p>
<p>腹：臍之上為大腹，臍之下為小腹，膈下為胃上口，曰賁門，在臍上五寸。臍下二寸為胃下口，曰幽門，傳入小腸。手少陰心、足太陰脾筋結臍，陽明胃筋脈挾此，人謂當臍痛屬腎，大謬，蓋腎之筋脈從腰貫脊並不及臍。</p>
<p>腰：足少陰腎脈入腰，太陽膀胱脈抵此，厥陰肝脈抵小腹，小腹痛皆血病，肝藏血故也。</p>
<p>宗筋：足太陰脾、陽明胃筋聚陰器，厥陰肝筋脈結此絡諸筋，少陰腎筋結此毛際，宗筋會氣街，足陽明穴肝筋脈入陰毛，少陽膽脈入毛際。</p>
<p>肛門：接直腸。直腸接大腸，大腸與肺為表裡。肺氣充足，方能傳送，後陰乃肺與大腸所主。</p>
<p>尻：尾骶骨曰尻，足少陽膽筋結於此。</p>
<p>臀：足太陽膀胱脈貫臀，筋亦結此。臀下曰股，股內屬足太陰脾，筋屬厥陰肝，骨屬少陰腎。股之內側曰陰股，脾、肝、腎三經筋脈俱循此。</p>
<p>膝：脾肝腎所主。作痛如錐，邪火所致，若以為風寒而發散，則速其危。膝之蓋骨曰臏，膝下曰脛，脛之後魚腹曰腨，為足肚。足太陽膀胱病主痠疼，兩臁，外臁足三陽主之，病易治，內臁足三陰主之，病難治。有兩臁如癬搔癢，久則膿水淋漓，名腎藏風，用四生散祛風邪，白附、黃耆、羌活、蒺藜研末，用豬腰子劈開，入藥，濕紙包，煨熟切片，鹽湯下，再用六味地黃丸補水，永不再發。</p>
<p>足大指：外側屬足厥陰肝，內側屬太陰脾，肝脾筋脈皆起於此。</p>
<p>足中指：屬足陽明胃，胃筋起於內側。</p>
<p>足四指：屬足少陽膽，膽筋起於外端。</p>
<p>足小指：下屬足少陰腎，外側屬太陽膀胱，腎筋脈俱起小指下，膀胱筋起小指外側。</p>

<h1>五藏（附）</h1>
<p>肺：喉下為肺，居右。喉在咽前，主出氣，喉系堅空，接連肺管，為氣息之路，呼吸出入，下通心肝之竅，肺有兩葉，白瑩，謂之華蓋，以覆諸藏，吸之則滿，呼之則虛。</p>
<p>心：胸下𩩲骭，即心之位，居肺下肝上，包絡居肺心之四旁，以捧護心，即兩乳之中膻中穴是也。凡筋脈由胸下膈，自膈貫胸，如肺、心、脾、肝、膽、包絡七經筋脈皆從此過，三焦脈亦布膽中。</p>
<p>脾：脾在胃左，與胃同膜，居中脘，聞聲則動，動則磨胃，食乃消化，胃為水穀之海，五藏六府之大原，故胃為一身之本。咽系柔空，下接胃，為飲食之道路。咽至胃長一尺六寸通曰咽門。</p>
<p>肝：包絡下有膈膜，肝自膈膜下居左肋，上貫膈，有獨葉者、有二三葉者，其系亦上絡心包，為血海，下無竅，肝短葉中有膽附焉。膽有苦汁，藏而不泄，膽寒不眠，膽熱好眠。</p>
<p>腎：分左右，人身中有命門，附脊骨對臍，其右旁一小竅乃三焦時氣所自出，即先天無形之火，曰腎間動氣。左旁一小竅乃真陰水氣所出，亦無形，隨相火而潛行周身，榮四末。命門居中，各開一寸五分，分左右腎，右腎衰補火，左腎衰補水。</p>

<h1>六府（附）</h1>
<p>膽：如懸瓜，生於金，金主武，故為中正之官，決斷出焉。附肝之短葉間，肝之餘氣溢入於膽，聚而成精。膽主腋，兩腋缺盆皆膽之絡，日月二穴，膽之募在乳下二肋端，期門下五分。主病，多寒熱，善太息，口苦，嘔有苦沫，心中澹澹，恐如人將捕之，嗌中吤吤然，數唾，痛悶，左邊五肋之中血瘀生癭馬刀，膽候咽門，故熱壅則生瘡腫痛。</p>
<p>胃：號太倉，俗呼為肚，水穀氣血之海也。谷入於胃，脈道乃行，主病：當心而痛，上支兩脅膈噎不通，飲食不下（胸腹脹痛，嘔噦噁心，噫氣吞酸，面黃肌瘦，怠惰嗜臥，常多自利。胃中寒則手魚際之絡脈多青，熱則多赤，面熱者，足陽明病。兩跗之上脈豎堅者足陽明病，此胃脈也）。</p>
<p>小腸：附脊，當臍左，在胃之左，胃下口曰幽門，即小腸上口。小腸十六曲，至下口曰闌門，主泌別清濁，即大腸上口。主病：中氣不足，腸為之苦鳴，小腹痛，腰脊控睪丸而痛，甚則衝心，當耳前熱。小腸有氣則小腹痛，有血則小便澀，有熱則莖中痛。</p>
<p>大腸：即迴腸，附脊，當臍之右，亦盤十六曲，至廣腸，即直腸，下至肛門。主病：腸中切痛而鳴濯濯，冬月重感於寒則泄，當臍而痛，不能久立，氣上衝胸而喘，中寒則腸鳴飧泄多鶩溏。中熱則出糞如糜，為腸垢。腸虛則鳴，又寒氣相搏亦鳴。</p>
<p>膀胱：齊腰，在小腹內廣腸左側，乃津液之府。五味入胃，其津上升，精者化血脈，成骨髓，餘澤流入下部，至小腸下口，曰闌門。泌別其汁，滓穢入大腸，汁滲入膀胱。膀胱赤白瑩淨，上無入竅，止有下口，全假三焦氣化施行，溲便注瀉。三焦餒則閉格不通矣。膀胱在小腹內中極二穴，膀胱之募，又有胞居其中，故曰膀胱者包之室也。主病：小腹偏腫而痛，以手按之即欲小便而不得。肩上熱，若脈陷及足小指外廉脛踝後皆熱，膀胱不利為癃，不約為遺尿，熱結下焦，小腹苦滿胞轉，小便不利，令人發狂，則濕痰上嗌而多唾，小便淋漓或遺尿。</p>
<p>三焦：上焦主出陽氣，溫於皮膚分肉之間，霧露之溉焉，故曰如霧。中焦主變化水穀之味，其精微上注於肺，化而為血，行於經隧，以榮周身，故曰如漚。下焦主通利，溲便以時傳下，出而不納，開通秘塞，故曰如瀆。上焦在心下，下膈，在胃口上，其治在膻中。中焦在胃中脘，不上不下，其治在臍傍。下焦在臍下，當膀胱上口，其治在臍下一寸。頭至心屬上焦，心至臍屬中焦，臍至足屬下焦。三焦通為一氣，衛於身，非正府也。其主病，腹脹，上焦證多喘滿，中焦證多留飲，下焦證多脹滿，濫為水。三焦病總宜通利大小便。</p>

<h1>十二經之原</h1>
<p>肺之原出於太淵，心之原出於大陵，肝之原出於太衝，脾之原出於太白，腎之原出於太谿，心包時原出於兌骨，膽之原出於丘虛。胃之原出於衝陽，三焦之原出於陽池，膀胱之原出於京骨，大腸之原出於合谷，小腸之原出於腕骨。</p>

<h1>十二經脈行度</h1>
<p>手三陰脈從腹走至手，手三陽脈從手走至頭，足三陽脈從頭下走至足，足三陰脈從足上走入腹。</p>

<h1>藏府所主</h1>
<p>肺主皮毛，脾胃主肌肉，肝主筋，腎主骨，心主血脈。</p>
<p>肝在聲為呼，呼罵多筋絕。心氣虛則悲，實則笑不休。脾在聲為歌，胃病則欲登高而歌。肺在聲為哭，婦人臟躁，悲傷欲哭。腎在聲為呻，腎病好呻吟，痛聲也。腎為欠，又腎病善伸數欠。又心病善噫，善欠。大腸主津，小腸主液，大小腸受胃時榮氣乃能行津液於上焦，灌溉皮毛，充實腠理。若飲食不節胃氣不充，則無所稟受，故津液涸竭。</p>
<p>腎主五液，入心為汗。陽氣上薄，陰能固之，則蒸而為汗。又腎邪入心為汗。又飲食飽甚，汗出於胃。驚而奪精，汗出於心。持重遠行汗出於腎。疾走恐懼，汗出於肝。搖體勞苦，汗出於脾。衛氣虛則汗多。風病多汗，風散氣故也。痰證亦有汗，火氣上蒸胃中之濕亦能作汗。頭汗，自是陽明虛而頭汗出，齊頸而還是為血證，額上偏多。分言之，頤屬腎，額屬心，三焦之火涸其腎水，清渠之餘迫而上入於心分，故傳為頭汗而額上偏多也。又胃家實亦頭汗出。心孔一處出汗為心汗，由於思慮過多也。凡心腋汗，大人乃心血溢盛，心面常發赤，小兒因驚得之，治宜補心。手足汗，胃熱所致。陰汗，腎虛陽衰也。</p>
<p>腎主液，入肝為泣。心為藏府之主，目為宗筋所聚，上液之道也。口鼻者，氣之門戶也。故悲哀憂愁則心動，心動則藏府皆搖。宗筋感而液道開，故泣涕出焉。又藏府之津液，盡上滲於目。悲而氣升則心系急，心系急則肺舉，肺舉則液上溢，故咳而泣出。凡老人膽汁慳，哭則無淚，笑則有淚，火盛水虧也，故膽熱者亦流淚，肝熱則多淚。腎主液，入肺為涕，涕由腦滲，膽移熱於腦，則濁涕下不止為鼻淵。肺熱則涕出，黃濁如膿。目眵屬肺，結硬肺實。腎主液，入脾為涎。脾熱則涎出。脾虛亦多涎。唾乃腎之液，腎冷則多唾，熱則無唾。</p>

<h1>婦人胎按月份</h1>
<p>婦人受胎一月，形如露珠，乃太極動而生陽，天一生水，謂之胚，足厥陰肝脈主之。經水即閉，飲食稍異。二月如桃花瓣，乃太極靜而生陰，地二生火，謂之腪，足少陽膽脈主之。若吐逆惡食，名曰惡阻，有孕明矣。或偏嗜一物，乃一藏之虛，如受酸，即肝經不能養胎而虛也。三月如清鼻涕，先成鼻與雌雄二器，乃分男女，手厥陰心包相火所主，胎最易動。四月始受水精，以成血脈，形像具，手足順成，手少陽三焦脈所主。五月始受火精，筋骨四肢已成，毛髮始生，足太陰脾脈所主。六月始受金精以成筋，口目皆成，足陽明胃脈所主。七月始受木精以成骨，遊其魂，能動左手，手太陰肺脈所主。八月受土精以成皮膚，九竅皆成，遊其魄，能動右手，手陽明大腸脈所主。九月始受石精，百節畢備，三轉其身，足少陰腎脈所主。十月神氣備，足乃生，足太陽膀胱脈所主。惟手少陰心太陽小腸脈無所主者，君主時官無為而已。墮胎須防三五七月，宜服清熱養血安胎時藥。</p>

<h1>婦人月經妊娠</h1>
<p>女人之經有變其常，而古人未常言及者，如行期而吐血、衄血或眼耳出血者，是謂逆行。有三月一行者是謂居經，俗名按季。有一年一行者，是謂避年。有一生不行而受孕者，是謂暗經。有受胎之後月月行經而產子者，是謂盛胎，俗謂垢胎。有受胎數月，血忽大下而胎不隕者，是謂漏胎。此雖因氣血有餘不足而然，亦異常者。且女子二七天癸至，七七天癸絕，有年十二、十三而受孕，如褚祀室所載，平江蘇達鄉女年十二而生子者。有年五十、六十而受孕，如遼史所載急普妻，六十餘而生二男一女者，此又異常之尤者也。醫者不可不知。</p>

<h1>跋</h1>
<p>蔡乃庵七兄先生，為攸江名士。新會晤於姻親王仁山家，具大傅之儀容，兼鄴侯之品骨，襟懷磊落，倜儻不群。以其涉獵經史，博洽淹通，並著有《醫學指要》一編，固於此道三折肱，是以理明義舉，洞徹無遺。新賦質椎魯，未嘗學問，惟於佛聖勸戒諸經，虔刊傳布。若醫學理微，未敢妄參末議。今讀是書，知先生拯危救難，一片婆心盡見於此。其為利濟無窮，功莫大矣。因謹跋數言於末，以志先生之種福將未有艾焉爾。</p>
<p><u>嘉慶十八年春月湘西華亭氏陳新敬跋</u></p>
