<header data-type="book">
<h1>玉台新案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>徐鏞</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>
<h2>寒證醫案</h2>
<p>發熱惡寒，頭疼身痛之暴證，人易辨之。惟久郁肺經而成喘嗽，有似陰虛勞嗽者，不可不辨。郡城西門外奚藕莊客幕於外，上年道途受熱，曾患喘嗽，服自便而愈，今復患喘嗽，投自便而加劇，醫亦概用清肺補肺，終不見效。自疑為陰虛重證，彷徨無措，遂延予診。余為脈象見緊，似數非數，前患暑熱，故自便可愈。今患寒邪，故反增劇，用小青龍湯而愈。</p>
<p>郡廟道士徐兆奎久患三瘧，堅不服藥，二年方愈。愈後冬月又病傷寒，壯熱頭痛，醫疑冬溫，誤投辛涼之劑，即昏嘿不省人事。醫者以其昏嘿不省，以為熱邪內陷，束身告辭。其師楊承宗求治於予，予診其脈，虛軟無神，似數非數，亦為驚徨，但知其瘧後中氣素虧，復傷於寒，非冬溫也。即投溫中之劑，一劑稍蘇，二劑方醒，三劑乃安。粥飲日漸增加，但膈中似有冷塊，即於溫中劑內加附子三分，始得平復，調理一月而安。</p>
<h2>發斑醫案</h2>
<p>發斑初用辛涼，繼用鹹寒，人人知之。而陰斑之證，最不可誤。南匯承役許龍之子，身熱發斑，有似火證，醫用犀角等化斑套劑，病勢轉危，不省人事，口中歌唱不休，有時譫語。余診其脈，浮越無倫，按之不實，舌絳而潤，並不燥渴，疑是陰證。細詢病因，其妻言未病時，大叫腳冷，其為陰證無疑。遂用薑附等藥冷服一劑，夜即安睡。但元陽喪敗之餘，神疲倦怠者半月，服歸脾湯二十餘劑而愈。</p>
<h2>火證醫案</h2>
<p>火證清之，此其常也。而有不得不急下者，最當堅決。得勝渡范某，初病即昏沉，醫用辛散，汗後不解，即驚徨推委。余曰：汗之不解，治須下之。前醫曰：下之利不止奈何？余曰：右關沉實，攻下無虞。用大承氣合涼膈而愈。</p>
<p>南匯本城楊熙宗令郎，病瘧寒熱俱輕，飲食如故，守不服藥之戒。一日自神廟燒香而歸，忽發狂言，似有神靈所作。邀余診視。脈象沉鬱，魄汗淋漓，未能審其果為熱厥，不敢驟用寒涼，姑用膽星、竹瀝與服，服下人事頓清。詢其近日所服何物，曰薑棗湯日服兩次。視其舌色，面白底絳，唇若塗朱，知為熱邪無疑，時已三更，余見其病勢稍持，約其明日轉方。天明復來邀診，據述醒時未及三刻，旋又發厥，遂用犀角地黃湯合大承氣，許其大便一行即愈。奈他醫謂下則必死，病家轉多疑慮，時有張二川系楊內戚，力動本家定服余方，煎藥已近下午時候，病者牙關緊閉，強將羊角灌入，服至半劑，大便即解，前恙頓除。</p>
<p>南匯姚裕豐，醫士也。秋月寒熱，雜投藿香正氣、香薷飲之類，醫中來問病者，必定一方，其自己亦不能主持矣。其父沛寰因其病勢危劇，始來邀余。余用急下之劑，前醫交沮，謂此屬不治之證，何用下為。余坐等其家煎服，大下宿垢，繼服滋補半月而愈。</p>
<h2>治脈伏醫案</h2>
<p>前營遊擊舒公，初夏病感，寒熱頗輕，但右脅以下掣痛不安，頭痛亦在右邊，大便不實。醫以為類傷寒證，用辛溫表散不效。余按其脈隱伏不彰，舌上灰色，苔厚而濕潤欲滴，初疑濕勝於熱，用吳氏達原飲，繼疑寒熱互結，用進退黃連湯，但有二三分效驗。舒公深信不疑，然必終奏全效，余心始安。沉思良久，頭痛脅痛俱在右邊，此熱氣鬱遏陽明，故脈象不彰，遂揀去溫藥，專用三黃石膏，堅服二十餘劑而愈。時前營守備邢公亦患熱病，初起即舌絳神昏，醫皆用蔥豉湯透表，余用涼膈散清中，授方不服，聽其津乾液涸五日而亡，官在同營，病在一時，或信或不信，判若恩仇，舒公曰：總難逃一命字。</p>
<p>附錄與姚敬修書令愛之證，肝藏積熱，肺受暴寒，故沖氣上逆，咳嗽發喘。余用仲景麻杏甘膏湯，發散外邪，掃除內熱，失此不治，必延勞怯。因受足下重托，故再四沉思而用此方也。得汗後，用錢仲陽補肺阿膠散，大下宿垢瘀滯後，用喻氏清燥救肺湯。石膏搜剔餘邪，人參補氣，阿膠補血，乃虛實兼到之方。寫方時，賢喬梓細問畢竟吉凶何如？予一口擔承，何嘗有片言驚駭。其方其案，尚在尊齋，可覆視也。足下受方不用，先自彷徨，更請某師診治，誤認虛脫之證，揚言左脈已無，遂令闔家大小，涕淚交零，並通知媒氏，通知許字之家，謂此證已被石膏吃壞，今已不治矣。噫！某師久負盛名，何徒恃妄才而不達古訓也。夫脈之鬱也，被火逼勒耳，非無也。精究古大家書，則悟此奧義矣。某師言此是怯證。非時邪也，殊不知怯證初起，亦須下去惡物。古方百勞丸，許州陳大夫託名仲景而傳者也，某師亦嘗精究其義乎。人言某師所定之方，與予方相似，不知實判天淵。余以人參、石膏同用，意仍在於清火，某師以人參、五味、陳皮同用，意專在於補虛，不知此證大積雖去，余火尚多，稍帶溫補，尚慮復焰之勢，人參只宜些少，足下過費人參，反致增病。尊居之北，有俞姓女病伏熱，綿延四十餘日，人用輕清不效，余用石膏而效。今歲少陰司天，陽明在泉，運氣使然也。某師讀景嶽書，不達玉女煎用石膏之旨，其能升其堂而入其室乎。前俞姓女服石膏後，發出暑毒滿身，其母不以為藥之過，而以為藥之功。奇哉婦人有識，乃遠勝於丈夫也。敬修得書之後，其膽始壯，余仍大進寒涼，下利五日而全愈。</p>
<h2>治老人醫案</h2>
<p>老人元虛，病宜扶元，人人知之。竟有陽氣充實，常服大寒之藥，常得帶病延年者。南匯本城謝凰鳴年七十有四，因上年秋間涉訟到郡，舟中冒暑，即發溫瘧。微寒惡熱，胸膈痞悶，余適寓郡城，用清心涼膈散而寒熱止，繼用半夏瀉心湯而痞悶除，旋即結訟回南，不再服藥。延至初冬，喘嗽大作，醫用疏散，愈治癒劇。至新正初十外，日夜不能交睫，痰涎盈盆盈碗，囑其子恩榮等速辦後事，無餘望矣。適有徽友汪郁廷在座，謂此證仍請予診治，必有出奇制勝之處。郡城僅一浦之隔，何不專舟邀歸以一診。凰鳴平日持家甚儉，因欲死裏求生，不得不從汪議，余亦以世好難辭，即束裝東歸。時已正月十六夜，診畢，即知其誤用辛溫，許以尚可挽救，方用大劑白虎，參入大劑犀角地黃，堅服四十余日而全愈。若不細察其脈，而但拘年齒以施治，必至抱怨九泉。至嘉慶二十五年，重游泮水，至道光五年，已八十有四。一日不飲蔗汁梨漿等味，即大便艱澀，辛溫誤人有如此。</p>
<h2>瘧疾醫案</h2>
<p>寒熱往來之瘧，治宜小柴胡湯。不知陰虛之體，用之轉增大患者，郡城姚敬修夏日病瘧，醫投小柴胡十餘劑，竟無增減，停藥二日，忽然發厥，舌短眩暈，危在頃刻。居與余寓相近，急來延診，余用大劑清肝之藥，一服而安。知其多服柴胡，肝陰虧乏，厥陽亢逆也。愈後四肢酸麻，用養陰藥調理半年，始得平復。</p>
<h2>勞倦內傷醫案</h2>
<p>南匯南門張寶華，勞倦之餘，又兼食滯，及內傷中之有餘者。脈象狂大，熱渴異常，子系舊戚，平日相信不疑，即用下奪清中之法，但前因葬事太勞，未即痊癒，親友中有疑為失表之證，囑其更請他醫調治。醫謂從未得汗，熱邪內陷之象，用蔥豉等發汗，汗竟不出，反發昏沉。仍懇予治。予惟以清降為事，漸漸神清食進，始終無汗而愈，愈後大便艱澀，惟服大黃。補藥一劑不服，於以知外邪宜汗，內傷禁汗，內傷之虛者，為勞倦傷，宜補中益氣。飲食傷虛中挾實者，宜枳朮丸。內傷之純實者，則宜攻下也，王安道辨之甚詳。</p>
<h2>痢疾醫案</h2>
<p>府廩生高菊裳（名崇瑚弟藥房名崇瑞選拔又中式）令堂，病陽虛久痢，醫頻服溫補延至半載，病反增劇，晝夜三五十次。余診時，但述腰脊空痛異常，遂用斑龍丸峻補奇脈。初服一劑，病勢大減，自後連服數劑，竟無增減，服參些少，略安片刻，而菊裳藥房昆仲，以尊人病怔忡經年，參藥大費，人參豈能常服。余為沉思良久，改用黃耆建中加鹿角。時有醫士李蘅堂（秀）在座，謂峻補之法，繼以宣通陽氣，亦是一法。力贊此方為中病，堅服二十餘劑而愈。</p>
<p>南匯東門李連城病肝氣脹痛，因多服左金，遂至下痢不止，食飲不思，人亦不與之食。更醫則倏張倏李，用藥則惟朮惟苓，僉云不治，已措辦後事矣。不得已而索治於余，予令其早上服大劑歸脾，晚間服大劑六味，並令家人誘其食肉，即有效驗，一月全痊。</p>
<h2>勞倦內傷醫案</h2>
<p>南匯南門張寶華，勞倦之餘，又兼食滯，及內傷中之有餘者。脈象狂大，熱渴異常，子系舊戚，平日相信不疑，即用下奪清中之法，但前因葬事太勞，未即痊癒，親友中有疑為失表之證，囑其更請他醫調治。醫謂從未得汗，熱邪內陷之象，用蔥豉等發汗，汗竟不出，反發昏沉。仍懇予治。予惟以清降為事，漸漸神清食進，始終無汗而愈，愈後大便艱澀，惟服大黃。補藥一劑不服，於以知外邪宜汗，內傷禁汗，內傷之虛者，為勞倦傷，宜補中益氣。飲食傷虛中挾實者，宜枳朮丸。內傷之純實者，則宜攻下也，王安道辨之甚詳。</p>
<h2>偏枯醫案</h2>
<p>新場鎮閔欽齋年五十外，形體清瘦，多火少痰，冬月忽患偏枯在左，遂從吳門解館而歸，醫惟以補氣消痰為事，反增咽燥喉痹等證。病家謂本原既竭，故用補劑不效。延予聊問消息，余謂其脈其證，純是一團火氣，須用河間治火之法，方用二地二冬知柏等，甘寒苦寒相間。投二劑，頓覺神情清爽，病者方意未病前數日，左肩胛猶如火燒，始信治火之說為不謬也，繼服虎潛丸而全愈。</p>
<h2>痹證醫案</h2>
<p>風、寒、濕三氣合而為痹，祛風、祛寒、祛濕，人人知之。不知有當變通者，泗經戴星杓年近四十，因煙業赴上洋，一夕忽患腿痛，不便行走，寓中適有素明醫理者，謂腎氣素虛，乃欲中之漸，必服大造丸可。戴以客寓起居不便，遂乘肩輿而歸。本鎮及郡中之醫，皆用溫藥，並服大造丸，服下掣痛增至十分，兩手亦痛，陽事痿縮，遂延余診。余謂此屬熱痹，俗名流火是也，舌苔雖白，其實絳底，陽事痿縮，王節齋所云鬱火也。遂用三黃、石膏、犀角地黃等大劑，半月而起於床，更用虎潛大補陰丸等，一月後步履如常矣。</p>
<p>南庠生謝恩榮令堂患熱痹，醫以為血衰氣弱，投以補劑轉劇。余用羚羊角、二冬、玉竹、竹瀝等通絡之劑，投數劑而全愈。</p>
<h2>痿證醫案</h2>
<p>前營千總龔振邦，多欲陰虧，夏月病足膝痿弱。余謂當作暑痿治，清暑益氣加活血之品。授方不服，轉服傷科之藥。一旦昏厥，心痛欲死。仍延余診。脈來虛散，生脈散加和中之品，服一劑果覺少安，渠家信之不篤，遍請他醫通同酌治，改用參地桂附，服之轉增脹滿。又請一醫以和中降氣為治，脹滿雖稍除而元氣愈弱，病者益難支撐，改用參朮一劑，而從前心痛欲死之證復作。不得已，遂聽命於予焉。余謂此屬少陰腎水虧乏，轉服傷科之藥，則氣亦虛矣。參朮桂附，適以耗陰，橘半枳砂，適以耗氣，俱未中病，故愈治癒劇。壯水之主以制陽光，乃正治也，用六味合生脈等，堅服五十餘劑而愈。</p>
<p>南匯營兵朱七官，濕熱成痿，求治於他縣時醫，以峻補剛劑囑其頻服，半月後厥陽上逆，頭眩耳鳴，胸中擾攘不安，格寒於下，兩腳如冰，自分已無生理。友人武生顧鳴鶴與朱鄰近，延予判決死生，余按脈象狂大，謂此證因溫補誤投，非絕證也。遂用芩連知柏豬膽汁等大寒之品，一劑即減，投二十余劑而全愈。</p>
<p>郡城徐華封女病痿，兩足不能相去以寸，脊間皮寬肉軟，有如斗大，醫用雜補氣血之劑不效。予謂飲食如故，病屬下焦，耆朮守中，不能達下，四物誠為女科要藥，若欲填實精髓，則又不勝任矣。考《內經》筋痿骨痿，皆屬奇經絡病，乃用生鹿角、龜板、海參、魚膠、羊肉等血肉之味，配入熟地、枸杞、牛膝、歸芍，堅服三十余劑而全痊。</p>
<h2>虛勞醫案</h2>
<p>亭林鎮北陸某，素患勞嗽，時作時止，至是益加氣喘，偏臥不能轉側，脈象細弱，有似氣虛痰飲，醫用補脾理氣，久而不效，遂以本證為辭。予適在鎮中顧宅，延予一判安危。余謂此屬肺腎陰虧，非氣虛也，初用錢氏阿膠散，繼用六味地黃湯而愈。</p>
<h2>腫脹醫案</h2>
<p>府庠生王迪賢令堂，患喘腫，脈浮無汗，渴飲異常，宗仲景風水治例，兼參王節齋先喘後腫之旨，用麻杏甘膏湯而愈。</p>
<p>南匯本城李孝思，單脹數月，諸藥不效，余按脈象沉微，此屬陽微，用塞因塞用法，專服理中加附子而愈。</p>
<p>郡城蔔姓女十有三歲，先患痧疹，繼患瘧疾，醫用開泄太過，遂至脹滿，肚腹以下堅硬如石，本家疑為虛證，請一老醫中專用補藥者診治，豈知竟云痧毒內攻，法在不治。余時初到郡中，遂延余診。余按其脈沉細而微，脾虛景象，顯然如繪，初用錢氏白朮散而堅硬消，繼用陳氏六神湯而脹滿愈。</p>
<p>得勝渡張永椿室，系氣虛之體，秋月患腹脹，服消耗藥太過，數日間腹大如臌。余即用《濟生》腎氣，見奇效，後稍有脹意，即投前方而愈。</p>
<h2>腳氣醫案</h2>
<p>郡廩生方鐵華（剛）令尊患腳氣上攻；醫投燥濕理氣通陽之劑，喘腫益加，余謂諸熱之而寒者取諸陽，因立加味腎氣湯，初服不覺其功，而亦不見其燥熱，堅服三十餘劑而愈。</p>
<h2>發黃醫案</h2>
<p>吳靜山（敬權）孝廉令正錢夫人，時邪後遂發黃腫，日嗜乾茶無度，蘇太諸醫，皆用氣血並補，久而不愈。延余診之。脈兩手俱洪數之甚，詢得腹中攻痛無常，夜則身熱如烙，此由陰液不充，瘀滯乾黏所致。宿血不去，則肢體浮腫。新血不生，則肌肉消瘦。一切補脾剛藥，未可施於此證。考仲景治黃，有豬膏發煎潤燥之法，爰仿其義，專用滋潤之品，調養腎肝而愈。</p>
<p>前營遊擊溫公（大勇）夏月自浦口來松，途中冒暑，到署後請醫調治，初用清暑利濕不效，改用參朮歸地，轉增脘痛。自後朝暮更醫，僉言誤補留邪，治難有效。遂延余診。余見其身面發黃，總是胃腑結聚不行所致，用連理湯辛開苦降法，授方不服，遂就診於青浦醫家，方用茵陳五苓散等，服之亦不效。遂以絕證為辭，歸至署中，計無復出，始委命以聽余焉。予仍用前法，服參些少，是夜即得安寢，改用理中湯調理半月而愈。後以禮貌之衰，堅辭不往，升金山參將後，重發舊恙，遂成不治之證矣。</p>
<h2>濁證醫案</h2>
<p>濁證濕滯為多，而亦有宜於溫固者。上海徐德音濁下如涕，醫不辨其為精濁，概以利濕。</p>
<h2>頭痛醫案</h2>
<p>嘉定陳嫗年五十有七，病頭痛數年，額上為甚，額屬陽明部分，久痛必虛，須填補陽明，之法治之，久不見效。漸至食則易饑，心火上亢，腎水下趨，形消腰折，寒熱頻頻，督脈陽維交病。余謂此系精濁。非便濁也。用鹿角菟絲骨脂等溫補下焦，兼服威喜丸而愈。</p>
<p>提憲稿房陳壽昌病濁，醫者疑其腎陰虧損而致此疾，早投補腎藥，少腹脹痛欲死。余用左金清火，合雄鼠糞湯攻濁而愈。兼鼓舞胃中清陽之氣，用玉屏風散加炙草葛根，二劑全愈。推此而太陽頭頂痛，少陽頭角痛，厥陰頭巔痛，皆可按法而治矣。</p>
<p>高橋鎮曹連珍室，操持家事頗勞，兼多暴怒，孟夏得疾，自天柱至頭巔，忽然強痛，堅重難移，兩耳赤腫，胃中嘈雜，脈象洪數。宗喻氏治吳添官母例而愈。</p>
<h2>腹痛醫案</h2>
<p>楓涇鎮宋元英境享安閒，恣情房幃，患腹痛二年，醫藥不效，遂就診於吳郡極時之醫，以絕證為辭。宋即歸家，料理後事，深信醫言為不謬。余適過楓，晤宋氏西席程永孚，談及醫理，遂為知己。遂同元英來寓就診，細按其脈，細詢其證，總是陰陽悖逆，升降不利使然。問曰：曾服瀉心湯，進退黃連湯否？曰未也。因酌一方以授，投一劑而稍平，數劑而全愈。</p>
<p>前余在嘉定，有鄉人王四九官病膈，向服和中藥，據述投三四劑輒效，逾時復然。就診於予。投進退黃連湯不應，改用丹溪韭汁牛乳飲而愈。因知古人因證立方，不相假也。</p>
<h2>胎前醫案</h2>
<p>胎前宜涼，人人知之。而亦有宜於溫者，胎前宜補血，不宜破血，而亦有轉用破血而得安者，總在臨證時之細心體會也。郡城孫錦章室，懷胎五月，病轉胞不溺，醫用清利水道，並不究及轉胞由於下焦虛寒，由於中焦氣弱，由於肝家血滯，豬苓、澤瀉、車前等藥，徒傷胃氣，故飲食減少，夜不得寐，諸恙漸臻，而胞系之繚戾者如故也。日請穩婆抬起，始得溺出。究之元氣不支，日甚一日，因而延余診治。余診其脈，緩大有力，許以可救。遵《金匱》成例，投腎氣湯一劑，是夜稍得安寢，蓋利水之藥，足以瀉腎。投桂附而命門溫暖，故稍得安寢耳。再遵丹溪補氣成例，投參朮湯一劑，飲食漸能知味，惟病者大便不行已數日，腹中至此更覺不安，改用茱連湯一劑，大便得解，小便雖仍穩婆伺候。病者因諸恙悉減，深信不疑，再求良治，余為沉思者久之，脈象比前益見有力，元氣已復而胎氣未舉，必有瘀血阻塞其間，遂用大劑破血之藥，一劑而脹遂消，三劑而胎氣未舉，凡破血之藥，最足礙胎，今破血而胎反固，妙在先用補藥以助其元氣也。</p>
<h2>產後醫案</h2>
<p>產後感冒時邪，宜溫散，不宜涼散，人人知之。而亦有不宜於溫而宜於涼者，誤用溫則不得不用大寒矣。歸鞠氏侄女，冬月初產無恙，至六日頭痛身熱，凜凜畏寒，予用梔豉湯，夜半熱退，逾日復熱，更醫用產後逐瘀成法，遂加煩躁。余謂冬溫為病，清之可安。通評虛實論曰：乳子而病熱，脈懸小者，手足溫則生，仍依時邪治例，用白虎湯而愈。凡產後無產證而染他證者，即當以他證治之，而丹溪大補氣血之言，卻不可拘。仲景云：病解能食，七八日更發熱者，此為胃實，大承氣湯主之。夫陽明經中，仲景尚再三戒人不可輕下，而產後亡血既多，仍云承氣主之，蓋既為胃實自有不得不用之理，舉一證而產後之挾實者可類推也。仲景云：產後下利虛極，白頭翁加甘草阿膠湯主之。夫既曰虛極，仍用白頭翁湯者，下痢中既有渴欲飲水熱而下重之證，則白頭翁湯自有不得不用之理。惟其虛極，故加甘草、阿膠以養其正，舉一證而產後之挾虛者可類推也。</p>
<p>產後惡露不行，胸腹飽脹，溫之通之，人人知之。而亦有不宜於溫而宜於涼，不宜於通而宜於和者。東門鞠上玉室初產患此，其脈數大而疾，上兼鼻衄，余用當歸二兩煎湯，沖熱童便與服，稍稍安穩，但惡露止有點滴耳。更醫用炮薑等溫通套劑，遂至胸腹增脹，惡露點滴不行，有欲依產後春溫治例，大進苦寒之品，余曰：又非穩治。堅用歸地丹芍等涼血和血之劑，十餘日，惡露大行而全愈。凡產後病解能食，七八日更發熱者，當作別病治。初產後即發熱者，則仍作產後治。但各有寒熱，兩途不可不條分縷析。</p>
<p>郡城侯姓婦年三下有八，因元霄夜遊，行走太勞，歸即小產。醫者皆以其胸腹有塊，用逐瘀成法，每劑必加炮薑，俱未有效。後雖停藥，而骨節如焚，積塊愈大，小便艱澀，熱痛異常。至三月初始延余診，已奄奄一息。診其脈沉伏之極，隱隱難尋，予固知其陰虛陽盛，但日期多延，宜用緩治。初投復脈減去薑桂，神氣稍安，繼投丹溪大補陰丸，諸恙悉減，終投本事虎杖湯，積塊平復，淋痛皆除，不及一月，飲食大增而全愈。</p>
<p>得勝渡衛姓婦初產惡露不行，發熱疼痛，中挾冬溫伏氣，醫用逐瘀溫經套劑，遂至熱邪流注左腿，日夜難安，飲多食少，至冬至朝延予診治。予變產後宜溫之說，用涼血大劑，加通瘀解毒，四服全愈。</p>
<p>郡城張六老室，產後月餘，崩中不止，時當暑月，醫用和中養血，俱不能止，病已三日夜，視為必死。余診其脈，浮大欲脫，連聲索救，神氣尚清，急令煎黃耆一兩，當歸一兩，服之頃刻立止。古方當歸補血湯，黃耆多於當歸五倍，今加當歸與黃耆等分者，時當暑月。恐黃耆之過亢也。</p>
<h2>血厥醫案</h2>
<p>郡城七星橋翁氏女經前發厥，厥必數日不醒人事，醫用朱、黃、膽星之屬，經年不效。己卯六月，延予診治。脈象搏指，余謂此系經血內瘀，久而發厥，非痰迷心竅也。朱、黃、膽星，焉能破瘀生新耶。乃合《內經》烏鰂骨丸，仲景旋覆花湯，河間金鈴子散為一方，數劑全痊，竟不再發。</p>
