<header data-type="book">
<h1>咳論經旨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>凌德</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1911">公元1911年</data></dd></div>
</dl>
</header>

<h1>卷一</h1>
<p>上古天真論篇曰上古聖人之教下也皆謂之虛邪賊風避之有時（邪來虛入是謂虛邪竊害中和謂之賊風避之有時謂八節之日及太一入從之於中宮朝入風之日也靈樞經曰邪氣不得其虛不能獨瘍人明人虛乃邪勝之也）（新校正云按全元起注本云上古聖人之教也下皆為之太素千金同楊上善云上古聖人使人行者身先行之為不言之教不言之教勝有言之教故下百姓仿行者眾故曰下皆為之太一入從於中宮朝入風義具天元玉冊中）恬惔虛無真氣從之精神內守病安從來（恬惔虛無靜也法道清淨精氣內持故其氣邪不能為害）</p>
<p>四氣調神大論篇曰秋三月此謂容平（萬物夏長華實已成容狀至秋平而定也）天氣以急地氣以明（天氣以急風聲切也地氣以明物色變也）早臥起與雞俱興（懼中寒露故早臥欲使安寧故早起）使志安寧以緩秋刑（志氣躁則不慎其動不慎其動則助秋刑急順谷伐生故使志安寧緩秋刑也）收斂神氣使夥氣平（神蕩則欲熾欲熾則瘍和氣和氣既瘍則秋氣不平調也故欲斂神氣使秋氣平也無外其志使肺氣清（亦順秋氣之收斂也）此秋氣之應養收之道也（立秋之節初五日涼風至次五日白露降後五日寒蟬鳴次處暑氣初五日應乃祭鳥次五日天地始肅後五日禾乃登次仲秋白露之節初五日盲風至鴻雁來次五日玄鳥歸後五日群鳥羞著次秋分氣初五日雷乃收聲次五日蟄蟲坯戶景天華後五日水始涸次季寒露之節初五日鴻雁來賓次五日雀入大水為蛤後五日菊有黃華次霜降氣初五日豺乃祭獸次五日草木黃落後五日墊蟲咸俯凡此六氣一十八侯皆秋氣正收斂之今故養生者必謹奉天時也）逆之則瘍神肺冬為飧泄奉藏者少（逆謂反行夏今則氣瘍冬水王而金廢故病發於冬飧泄者食不化而泄出也逆秋瘍肺故少氣以奉於冬藏之今也）○逆秋氣則太陰不收肺氣焦滿（收謂收斂焦謂上焦也太陰行氣主化上焦故肺氣不收上焦滿也）（新校正云按焦滿全元起本作進滿甲乙太素作焦滿）</p>
<p>生氣通天論篇曰秋瘍於濕上逆而咳（濕謂地濕氣也秋濕既勝冬水復王水來乘肺故咳逆病生）（新校正云按陰陽應象大論云秋瘍於濕冬生咳嗽）發為痿厥（濕氣內攻於藏府則咳逆外散於筋脈則痿弱也陰陽應象大論日地之濕氣感則害皮肉筋脈故濕氣之資發為痿厥厥謂逆氣也</p>
<p>金匱真言論篇曰西風生於秋病在肺俞在肩背（肺處上焦背為胸府肩背相次故俞在焉）○西方白色入通於肺開竅於鼻藏精於肺（金精之氣其神魄肺藏氣鼻通息故開竅於鼻）故病在背（以肺在胸中背為胸中之府也）其味辛其類金（性音聲而堅勁）其畜馬（畜馬者取干也易曰干為馬）（新校正云按五常政大論云其畜雞）其谷稻（稻堅白）其應四時上為太白星（金之精氣上為太白星三百六十五日一周天）是以病之在皮毛也（金之堅密類皮毛也）其音商（商金聲也孟秋之月律中夷則大呂所生三分減一管率長五寸七分仲秋之月律中南呂太簇所生三分減一管率長五寸三分秋季之月律中無射夾鍾所生三分減一管率長五寸凡是三管皆金氣應之）其數九（金生數四成數九尚書洪範曰四曰金）其臭腥（凡氣因金變則為腥膻之氣也）</p>
<p>陰陽應象大論篇曰秋傷於濕冬生咳嗽（秋濕既多冬水復王水濕相得肺氣交衰故冬寒甚則為咳）○西方生燥（天氣急切故生燥）燥生金（金燥有聲則生金也）金生辛（凡物之味辛者皆金氣之所生也尚書洪範曰從革作辛）辛生肺（凡味之辛者皆先生長於肺）肺生皮毛（肺之精氣生養皮毛）皮毛生腎（陰陽書曰金生水然肺金之氣養皮毛已乃生腎水）肺生鼻（肺藏氣鼻通息故主鼻）其在天為燥（輕急勁強燥之用也）在地為金（堅勁從革金之性也）在體為皮毛（包藏膚腠捍其邪也）在藏為肺（其神魄也道經義曰魄在肺魄安則德修壽延）在色為白（象金色）在音為商（商謂金聲輕而勁也樂記曰商觀則陂其官壞）在聲為哭（哭哀聲也）在變動為咳（咳謂咳嗽所以利咽喉也）在竅為鼻（鼻所以司臭呼吸也）在味為辛（辛可用散潤也）在志為憂（憂深慮也）憂傷肺（雖志為憂過則損也）喜勝憂（喜則心火併於肺金故勝憂也宣明五氣篇曰精氣並於心則喜）熱傷皮毛（熱從火生耗津液故）寒勝熱（陰制陽也）（新校正云按太素作燥作燥傷皮毛熱勝燥又按王注五運大論云火有二別故此再舉熱傷之型證）辛傷皮毛（過而招損）苦勝辛（苦火味故勝金辛）○天氣通於肺（居高故）愚按道家云鼻謂玄關之竅呼吸天氣</p>
<p>陰陽別論篇曰一陽發病少氣善咳善泄（一陽謂少陽膽及三焦之脈也膽氣乘胃故善泄三焦內病故少氣陽上薰肺故善咳何故心火內應也）其傳為心掣其傳為隔（隔氣乘心心熱故陽氣內掣三焦內結中熱故隔塞不便）○三陰結謂之水（三陰結謂脾肺之脈俱寒結也脾肺寒結則氣化為水）</p>
<p>靈蘭秘典論篇曰肺者相傳之官治節出焉（位高非君故官為相傳主行榮沖故治節由之）</p>
<p>六節藏象論篇曰肺者氣之本魄之處也其華在毛其充在皮為陽中之太陰通於秋氣（肺藏氣其神魄其養皮毛故曰肺者氣之本魄之處華在毛充在皮也肺藏為太陰之氣主王於秋書日為陽氣所行位非陰處以太陰居於陽分故曰陽中之太陰通於秋氣也金匱真言論曰日中至黃昏天中之陽陽中之陰也）（新校正按云太陰甲乙經並太素作少陰當作少陰肺在十二經雖為太陰然在陽分之中當為少陰也）</p>
<p>五藏生成篇曰肺之合皮也（金氣堅定皮象亦然肺藏應金故合皮也）其其榮毛也（毛附皮革故外榮）其主心也（金畏於火火與為官故主畏於心也）○諸氣者皆屬於肺（肺藏主氣故也）○咳嗽上氣厥在胸中過在手陽明太陰（手陽明大腸脈太陰肺脈也手陽明脈自肩髃前廉上出於柱骨之會上下入缺盆絡肺下鬲屬太腸手太陰脈起於中焦下絡大腸還循胃口上鬲屬肺從肺系橫出腋下故為咳嗽上氣厥在胸中也）（新校正云按甲乙經厥作病）○白脈之至也喘而浮上虛下實驚有積氣在胸中喘而虛名肺痹寒熱（喘為不足浮者肺虛肺不足是謂心虛則下當滿實矣以其不足故善驚而氣積胸中矣然脈喘而浮是肺自不足喘而虛者是心氣上乘肺受熱而氣不得營故名肺痹而處為寒熱也）得之醉而使內也（酒味苦燥內盆於心醉甚入房故心氣上勝於肺矣）</p>
<p>五藏別論篇曰帝曰氣口何以獨為五藏主（氣口則寸口也亦謂脈口以寸口可候氣之盛衰故云氣口可以切脈之動靜故云脈口皆同取於手魚際之後同身寸之一寸是則寸口也）岐伯曰胃者水穀之海六府之大源也（人有四海水穀之海則其一也受水穀已榮養四傍以其當運化之源故在六府之大源也）五味入口藏於胃以養五藏氣氣口亦太陰也（氣口在手魚際之後同身寸之一寸氣口之所侯脈動者見手太陰脈氣所行故言氣口亦太陰也）是以五藏六府之氣味皆出於胃變見於氣口（榮氣之道內谷為實）（新校正云詳此注出靈樞實作實谷入於胃氣傳與肺精專者循肺氣行於氣口故云變見於氣口也）（新校正云按全元起本出作入）故五氣入鼻藏於心肺心肺有病而鼻為之不利也</p>
<p>診要經終論篇曰春刺秋分筋攣逆氣環為咳病不愈今人時驚又且哭（木受氣於秋肝主筋故刺秋分則筋攣也若氣逆環周則為咳嗽肝主驚故時驚肺主氣故氣逆又且哭也）（新校正云按四時刺逆從論云春刺肌肉血氣環逆今人上氣也）○凡刺胸腹者必避五藏（心肺在鬲上腎肝在鬲下脾象土而居中故刺胸腹必避之五藏者所以藏精神魂魄意志損之則五神去神去則死至故不可不慎也）中肺者五日死（金生數四金數畢當至五日而死云三日死亦字誤也）（新校正云按刺禁論雲中肺三日死其動為咳四時刺逆從論同王注四時刺逆從論云此三論皆岐伯之言而不同者傳之誤也）</p>
<p>脈要精微論篇曰肺脈搏堅而長當病唾血（肺虛極則絡逆絡逆則血泄故唾血出也）其耎而散者當病灌汗至今不復散發也（汗泄元府津液奔湊寒水灌洗皮密汗藏因灌汗藏故言汗至今天覆散發也灌謂灌謂灌洗盛暑多為此也）</p>
<p>平人氣象論篇曰秋胃微毛曰平毛多胃少曰肺病但毛無胃曰死（謂如物之浮如風吹毛也）毛而有弦曰春病（弦者脈木氣也次其乘克弦當為鉤金氣逼肝則脈弦來見故不鉤而反弦也）弦甚曰今病（木氣逆來乘金則今病）藏真高於肺以行榮沖陰陽也（肺處上焦故藏真高也靈樞經曰榮氣之道內谷為實谷入於胃氣傳與肺流溢於中而散於處精專者行於經隧以其自肺宣布故云以行榮沖陰陽也）（新校正云按別本實作寶）○胃之大絡名曰虛里貫鬲絡肺出於左乳下其動應衣脈宗氣也（宗尊也主也謂十二經脈之尊主也貫鬲絡肺出於左乳下者自鬲而出於乳下乃絡肺也）盛喘數絕者則病在中（絕謂斬斷絕也）結而橫有積矣絕不至曰死（皆左乳下脈動狀也中謂腹中也）○頸脈動喘疾咳曰水（水氣上溢則肺被熱熏陽氣上逆故頸脈盛鼓而咳喘也頸脈謂耳下及結喉傍人迎脈者也）目里微腫如臥蠶起之狀曰水（評熱病論曰水者陰也目下亦陰也腹者至陰之所居也故水在腹中者必使目下腫也○平肺脈來厭厭聶聶如落榆莢曰肺平（浮薄而虛者也）（新校正云評越人云厭厭聶聶如循榆葉曰春平脈藹藹如車蓋按之益大曰秋平脈與素問之說不同張仲景云秋脈藹藹如車蓋者名曰陽結春脈聶聶如吹榆莢者名曰數恐越人之說誤也）秋以胃氣為本（脈有胃氣則微似榆莢之輕虛也）病肺脈來不上不下如循雞羽曰肺病（謂中央堅而兩傍虛）死肺脈來如物之浮如風吹毛曰肺死（如物之浮瞥瞥然如風吹毛紛紛然也）（新校正云詳越人云按之消索如風吹毛曰死）玉機真藏論篇曰夏脈如鉤何如而鉤岐伯夏脈者心也南方火也萬物之所以盛長也故其氣來盛去衰故曰鉤（言其脈來盛去衰如鉤之曲也）（新校正云按越人云夏脈鉤者南方火也萬物之所盛垂枝布葉皆下曲如鉤故其脈來疾去遲呂廣雲陽盛故來疾陰虛故去遲脈從下上至寸口疾還尺中遲也）反此者病帝曰何如而反岐伯曰其氣來盛去亦盛此謂太過病在外（其脈來盛去盛是陽之盛也心氣有餘是為太過）其氣來不盛去反盛此謂不及病在中（新校正云詳越人肝心肺腎四藏脈俱以強實為太過虛微為不及與素問不同）帝曰夏脈太過與不及其病皆何如岐伯曰太過則今人身熱而膚病為浸淫其不及則今人煩心上見咳嗽下為氣泄（心手少陰脈起嗚心中出屬心系下膈絡小腸又從心系卻上肺故心太過則身熱膚病而浸淫流布嗚形分不及則心煩上見咳唾下為氣泄）○秋脈如浮何如而浮岐伯曰秋脈者肺也西方金也萬物之所以收成也故其氣來輕虛以浮來急去散故曰浮（脈來輕虛故名浮也來急以陽未沈下去散以陰氣上升也）（新校正云按越人云秋脈毛者西金也萬物之所終草木華葉皆秋而落其枝獨在若毫毛也故其脈來輕虛以浮故曰毛）反此者病帝曰何如而反岐伯曰其氣來毛面中央堅兩傍虛此謂太過病在外其氣來毛而微此謂不及病在中帝曰秋脈太過與不及其病皆何如岐伯曰太過則今人逆氣而背痛慍慍然其不及則今人喘呼吸少氣而咳上氣見血下聞病音（肺太陰脈起嗚中焦下絡大腸還循胃口上鬲屬肺從肺系橫出腋下復藏氣為咳主喘息故氣盛則肩背痛氣逆不及則喘息變易呼吸少氣而咳上氣見血也下聞病音謂喘息則肺中有聲也）○肺受氣嗚腎傳之嗚肝氣舍嗚脾至心而死○是故風者百病之長也（言先百病而有之）（新校正云按生氣通天論云風者百病之始）今風寒客嗚人使人毫毛畢直皮膚閉而為熱（客謂客止嗚人形也風擊皮膚寒勝腠理故毫毛畢直元府閉密而熱生也）當是之時可汗而發也（邪在皮毛故可汗泄也陰陽應象大論曰善治者治皮毛此之謂也）或痹不仁腫痛（病生而變改如是也熱中血氣則𤸷不仁不寒氣傷形故為腫痛陰陽應象大論云寒傷形熱傷氣氣傷痛形傷腫）當是之時可湯熨及火灸刺而去之（皆謂釋散寒邪宣揚正氣）弗治病入舍嗚肺名曰肺痹發咳上氣（邪入諸陰則病而為痹故入嗚肺名日痹焉宣明五氣論曰邪入嗚陽則狂入嗚陰則痹肺在變動為咳故咳則氣上故上氣也）弗治肺即傳而行之肝病名曰肝一早厥</p>
<p>經脈別論篇曰食氣入胃散精嗚肝淫氣嗚筋（肝養筋故胃散穀精之氣入嗚肝則浸淫滋養嗚筋絡矣）食氣入胃濁氣歸心淫精嗚脈（濁氣穀氣也心居胃上故穀氣歸心淫溢精微入嗚脈也何者心主脈故）脈氣流經經氣歸嗚肺肺朝百脈輸精嗚皮毛（言脈氣流運乃為大經經氣歸宗上朝嗚肺肺為華蓋位復居高治節由之故受百脈之朝會也平人氣象論曰藏真高嗚肺以行榮沖陰陽由此故肺朝百脈然乃布化精氣輸嗚皮毛矣）毛脈合精行氣嗚府（府謂氣之所聚處也是謂氣海在兩乳間名曰膻中也）府精神明留嗚四藏氣歸嗚權衡（膻中之布氣者分為三隧其下者走於氣街上者走嗚息道宗氣留嗚海積胸中命曰氣海也如是分化乃四藏安定三焦平均中外上下各得其所也）權衡以平氣口成寸以決死生（三世脈法皆以二寸為寸關尺之分故中外高下氣緒均平則氣口之脈而成寸也夫氣口者脈之大要會也百脈盡朝故以其分決死生也）飲入嗚胃遊溢精氣上輸嗚脾（水飲流下至嗚中焦水化精微上為雲霧雲霧散變乃注嗚脾靈樞經曰上焦如霧中焦如漚此之謂也）脾氣散精上歸嗚肺通調水道下輸膀胱（水土合化上滋肺金金氣通腎故調水道轉註下焦膀胱稟化乃為溲矣靈樞經曰下焦如瀆此之謂也）水精四布五經並行合嗚四時五藏陰陽揆度以為常也（從是水精布經氣行筋骨成血氣順配合四時寒暑證符五藏陰陽揆度盈虛用為常道度量也以用也）（新校正云按一本云陰陽動靜）</p>
<p>藏氣法時論篇曰肺主秋（以應金也）手太陰陽明主治（太陰肺脈陽明大腸脈肺與大腸合故治同）其日庚辛為金西方干也）肺苦氣上逆急食苦以泄之（苦性宣泄故肺用之）（新校正云按全元起云肺氣上逆是其氣有餘）病在肺愈在冬（注子制其鬼也）冬不愈甚余夏（注子休鬼復王也）夏不死持嗚長夏）鬼休而母養故氣執持嗚父母之鄉也）起嗚秋（自得其位故復起）禁寒飲食寒衣（肺惡寒氣故衣食禁之靈樞經曰形寒寒飲則傷肺飲尚傷肺其食甚焉肺不獨惡寒亦畏熱也）肺病者愈在壬癸（應冬水也）壬癸不愈加嗚丙丁（應夏火也）丙丁不死持嗚戊已（長夏土也）起嗚庚辛（應秋金也）肺病者下晡慧日中甚夜半靜（金王則慧水王則靜火王則甚）肺谷收急食酸以收之（以酸性收斂故也）用酸補之辛瀉之（酸收斂故補辛發散故瀉）肺病者喘咳逆氣肩背痛（新校正云按千金方作肩息背痛）汗出尻陰股膝（新校正云按甲乙經脈經作膝攣）髀腨胻足皆痛（肺藏氣而主喘息在變動為咳故病則喘咳逆氣也背為胸中之府肩接近之故肩背痛也肺養皮毛邪盛則心液外泄故汗出也腎少陰之脈之脈從足下上循腨內出膕內廉上股內後廉貫脊屬腎絡膀胱今肺病則腎脈受邪故尻陰股膝髀腨胻足皆痛故下取少陰也）虛則少氣不能報息耳聾嗌乾（氣虛少故不足以報入息也肺太陰之絡會嗚耳中故聾也腎少陰之脈從腎上貫肝鬲入肺中循喉嚨俠舌本今肺虛則腎氣不足以潤嗚嗌故嗌乾也是以下文兼取少陰也）取其經太陰足太陽之外厥陰內者正謂腨內側內踝後之直上則少陰脈也視左右足脈少陰部分有血滿異嗚常者即而取之）○腎病者腹大脛腫（新校正云按甲乙經云脛腫痛）喘咳身重寢汗出憎風（腎少陰脈起嗚足而上循腨復從橫骨中俠齊循腹裡上行而入肺故腹大脛腫而喘咳也腎病則骨不能用故身重也腎邪攻肺心氣內微心液為汗故寢汗出也脛即腫矣汗出津泄陰凝玄府陽爍上焦內熱外寒故憎風也憎風謂深惡之也）虛則胸中痛大腹小腹痛清厥意不樂（腎少陰脈從肺出絡心注胸中然腎氣既虛心無所制心氣熏肺故痛聚胸中也足太陽脈從項下行而至足腎則太陽之氣不能盛行嗚足冷而氣逆也清謂氣清冷厥謂氣逆也以清冷氣逆故大腹水腹痛志不足則神躁擾故不樂也）（新校正云按甲乙經大腹小腹作大腸小腸）取其經少陰太陽血者（凡刺之道虛則補之實則寫之不盛不虛以經取之是謂得道經絡有血有刺而去之是謂守法猶當揣形定氣先去血脈而後乃平有餘不足焉三部九侯論曰必先度其形之肥瘦以調其氣之虛實實則寫之虛則補之必先去其血脈而後調之此之謂也）宣明五氣篇曰五氣所病肺為咳（象金堅勁扣之有聲邪擊嗚肺故為咳也）○五味所惡肺惡寒（寒則氣留滯）○五味所禁辛走氣氣病無多食辛（病謂力少不自勝也）咸走血血病無多食鹹（新校正云按皇甫士安云咸先走腎此云走血者腎合三焦血脈雖屬肝心而為中焦之道故鹹入而走血也）○五勞所傷久臥傷氣（勞嗚肺也）血氣形志篇曰夫人之常數太陽常多血少氣少陽常少血多氣陽明常多氣多血多陰常少血多氣厥陰常多血少氣太陰常多氣少血此天之常數（血氣多少此天之常數故用針之道常寫其多也）○陽明與太陰為表裡通評虛實論篇曰黃帝問曰何謂虛實岐伯對曰邪氣盛則實精氣奪則虛（奪謂精氣減少如奪去也）帝曰虛實何如（言五藏虛實之大體也）岐伯曰氣虛者肺也氣逆者足寒也非其時則生當其時則死（非時謂年直之前後也當時謂正直之年也）余藏皆如此（五藏同）剌熱篇曰肺熱病者先淅然厥起毫毛惡風寒舌上黃身熱（肺主皮膚外養嗚毛故熱中之則先淅然惡風寒起毫毛也肺之脈起嗚中焦下絡大腸還循胃口今肺熱入胃胃熱上升故舌上黃而身熱）熱急則喘咳痛走胸膺背不得大息頭痛不堪汗出而寒（肺居鬲上氣主胸膺覆在變動為咳又藏氣而主呼吸背復為胸中之府故喘咳痛走胸膺背不得大息也肺之絡脈上會耳中今熱氣上熏故頭痛不堪汗出而寒）丙丁甚庚辛大汗氣逆則丙丁死（肺主金丙丁為火火爍金故甚死嗚丙丁也庚辛為金故大汗嗚庚辛也氣逆之證經闕未詳）刺手太陰陽明出血如豆大立已（太陰肺脈陽明大腸脈當神其絡脈盛者乃刺而出之）○肺熱病者右頰先赤（肺氣合金氣應秋南面正理之則其右頰也）</p>
<p>評熱病論篇曰帝曰勞風為病何如岐伯曰勞風法在肺下（從勞風生故曰勞風勞謂腎勞也腎脈者從腎上貫肝鬲入肺中故腎勞風生上居肺下也）其為病也使人強上冥視（新校正云按楊上善云強上暝視也冥視謂閤眼視不明也又千金方冥視作目眩）唾出若涕惡風而振寒此為勞風之病（膀胱脈起嗚目內皆上額交巔上入絡腦還出別下項循肩髆內俠脊抵腰中入循膂絡腎今腎精不足外吸膀胱膀胱氣不能上營故使人頭項強而視不明也肺被風薄勞氣上熏故今唾出若鼻涕狀腎氣不足陽氣內攻勞熱相合故惡風而振寒）帝曰治之奈何岐伯曰以救俯仰（救猶止也俯仰謂屈伸也嗚動作不使勞氣滋蔓）巨陽引精者三日中年者五日不精者七日（新校正云按甲乙經作三日中若五日千金方作侯之三日及五日中不精明者是也與此不同）咳出表黃涕其狀如膿大如彈丸從口中若鼻中出不出則傷肺傷肺則死也（巨陽者膀胱之脈也膀胱與腎為表裡故巨陽引精也巨大也然太陽之脈吸引精氣上攻嗚肺者三日中年者五日素不以精氣用事者七日當咳出稠涕其色青黃如膿狀平調咳者從咽而上出嗚口暴卒咳者氣衝突嗚蓄門而出嗚鼻夫如是者皆腎氣勞竭肺氣內虛陽氣奔近之所為故不出則傷肺也肺傷則榮衝散解魄不內治故死）（新校正云按王氏云卒暴咳者氣衝突嗚蓄門而出嗚鼻按難經七門無蓄門之名疑是賁門楊操云賁者鬲也胃氣之所出胃出穀氣以傳嗚肺肺在鬲上故胃為賁門）○帝曰有病腎風者面胕痝然壅害嗚言可刺不（痝然腫起貌壅謂目下壅如臥蠶形也腎之脈從腎上貫肝鬲入肺中循喉嚨俠舌本故妨害嗚言語）岐伯曰虛不當刺而刺後五日其氣必至（至謂病氣來至也然謂藏配一日而五日至腎夫腎已不足風內薄之謂腫為實以針大泄反傷藏氣真氣不足不可復故刺後五日其氣必至也）帝曰其至何如岐伯曰至必少氣時熱時熱從胸背上至頭汗出手熱口乾苦渴小便黃目下腫腹中鳴身重難以行月事不來煩而不能食不能正偃正偃則咳病名曰風水論在刺法中（刺法篇名今經亡）帝曰願聞其說岐伯曰邪之所湊其氣必虛陰虛者陽必湊之故少氣時熱而汗出也小便黃者少復中有熱也不能正偃者胃中不和也正偃則咳甚上近肺也諸有水者微腫先見嗚目下也帝曰何以言岐伯曰水者陰也目下亦陰也腹者至陰之所居故水在腹者必使目下腫也真氣上逆故口苦舌乾臥不得正偃正偃則咳出清水也諸水病者故不得臥臥則驚驚則咳甚也腹中鳴者病本嗚胃也薄脾則煩不能食食不下者胃脘隔也身重難以行者胃脈在足也月事不來者胞脈閉也胞脈者屬心而絡嗚胞中今氣上近肺心氣不得下通故月事不來也（考上文所釋之義未解熱從胸背上至頭汗出手熱口乾苦渴之義應古論簡脫而此差謬之爾如是者何腎少陰之脈從腎上貫肝鬲入肺中循喉嚨俠舌本雙膀胱太陽之脈從目內皆上額交巔上其支者從巔至耳上角其直者從巔入絡腦還出別下項循肩髆內俠脊抵腰中入循膂今陰不足而陽有餘故熱從胸背上至頭而汗出口乾苦渴也然心者陽藏也其脈行嗚臂手腎者陰藏也其脈循嗚胸足腎不足則心氣有餘故手熱矣又以心腎之脈俱是少陰脈也）故咳寒氣甚則入嗚內內裂則痛入嗚腸胃則泄利）乘秋則肺先受邪乘春則肝先受之乘夏則心先受之乘至陰則脾先受之乘冬則腎先受之（以當用之時故先受邪氣）（新校正云按全元起本及太素無乘秋則三字疑此文誤多）帝曰何以異之（欲明其證也）岐伯曰肺咳之狀咳而喘息有音甚則唾血（肺藏氣而應息故咳則喘息而喉中有聲甚則肺絡逆故唾血也）心咳之狀咳則心痛喉中介介如梗狀甚則咽腫喉痹（手心主脈起嗚胸中出屬心包少陰之脈起嗚心中出屬心系其支別者從心系上俠煙喉故病如是）（新校正云按甲乙經介介如梗狀作喝喝又少陰之脈上俠咽不言俠喉）肝咳之狀咳則兩脅下痛（別本甲乙經作咳則胠痛）甚則不可以轉轉則兩胠（別本甲乙經胠作脅）下滿（足厥陰脈上貫鬲布脅肋循喉嚨之後故如是胠亦脅也）脾咳之狀咳則右脅（別本甲乙經脅作胠）下痛陰陰引肩背甚則不可以動（別本甲乙經作甚則咳涎不可以動）動則咳劇（足太陰脈搏上貫鬲俠咽其支別者復從胃別上鬲故病如是也脾氣連肺故痛引肩背也脾氣主右故右胠下陰陰然深慢痛也）腎咳之狀咳則腰背相引而痛甚則咳涎（足少陰脈上股內後廉貫脊屬腎絡膀胱其直行者從腎上貫肝鬲入肺中循喉嚨俠舌本又膀胱從肩髆內別下俠脊抵腰中入循膂故病如是）帝曰六府之咳奈何安所受病岐伯曰五藏之久咳乃移嗚六府脾咳不已則胃受之胃咳之狀咳而嘔嘔甚則長蟲出（脾與胃合又胃之脈循喉嚨入缺盆下鬲屬胃絡脾故脾咳不已胃受之也胃寒則嘔嘔甚則腸氣逆上故蛕出）肝咳不已則膽受之膽咳之狀咳嘔膽汁（肝與膽合又膽之脈從缺盆以下胸中貫鬲絡肝故肝咳不已膽受之也膽氣上逆故嘔溫苦汁也）肺咳不已則大腸受之大腸咳狀咳而遺失）肺與大腸合又大腸脈入缺盆絡肺故肺咳不已大腸受之大腸為傳磅之府故寒入則氣不禁焉）（新校正云按甲乙經遺失作遣矢作遣矢）心咳不已則小腸受之小腸咳狀咳而失氣氣與咳俱失（心與小腸合又小腸脈入缺貧絡心放心咳不已小腸受之小腸寒盛氣入大腸咳則小腸氣下奔故失氣也）腎咳不已則膀胱受之膀胱咳狀咳而遺溺（腎與膀胱合又膀胱脈從肩膊內俠脊抵腰中入循膂絡腎屬膀胱故腎咳不已膀胱受之膀胱為津腋之府是故遣溺）久咳不已則三焦受之三焦咳狀咳而腹滿不欲食飲此皆聚嗚胃關嗚肺使人多涕唾而面浮腫氣逆也（三焦者非謂手少陽也正謂上焦中焦耳何者上焦者出嗚胃上口並咽以上貫鬲布胸中走腋中焦者亦至嗚胃口出上焦之後此所受氣者泌糟粕蒸津液化其精微上注嗚肺脈內化而為血故言皆聚嗚胃關嗚肺也兩焦受病則邪氣熏肺而肺氣滿故使人多涕唾而面浮腫氣逆也腹滿不欲食者胃寒故也胃脈者從缺盆下乳內廉下循腹至氣街其支者復從胃下口循腹裡至氣街中而合今胃受邪故病如是也何以明其不謂下焦然下焦者別嗚迴腸注嗚膀胱故水穀者常並居嗚胃中盛糟粕而俱下嗚大腸泌別汁循下焦而滲入膀胱尋此行化乃與胃口懸遠故不謂此也）（新校正云按甲乙經胃脈下循腹作下俠臍）帝曰治之奈何岐伯曰治藏者治其俞治府者治其合浮腫者治其經（諸藏俞者皆脈之所起第三穴諸府合者皆脈之所起第六穴也經者藏脈之所起第四穴府脈之所起第五穴靈樞經曰脈之所注為俞所行為經所入為合此之謂也）帝曰善徐忠可曰咳嗽一條為虛損大關頭仲景不另立門而僅附嗚痰飲之後又雜見之肺痿門可知治咳嗽當以清痰飲為主但其中有挾寒氣之不同耳風論篇曰肺風之狀多汗惡風色皏（音平）然白時咳短氣書曰則差暮則甚診在眉上其色上其色白（凡內多風氣則熱風薄嗚外腠理開故多汗也風薄於內故惡風焉皏謂薄白色也肺色白在變動為咳主藏氣風內迫之故之故色皏然白時咳短氣也晝則陽氣在表故差暮則陽氣入里風內應之故甚也眉上謂兩收間之上關庭之部所以外司肺候故診在焉白肺色也</p>
<p>痹論篇曰凡痹之客五藏者肺痹者煩滿喘而嘔（以藏氣應息又其脈還循胃口故使煩滿（喘而嘔）脾痹者四支解墮發咳嘔汁上為大塞土王（四季外主四支解墮又以其脈起於足循□䯒於上膝股也然脾脈入腹屬腎絡胃上鬲俠咽故發咳嘔汁脾氣養肺胃復連咽故上為大塞也）○淫氣喘息痹聚在肺（淫氣謂氣之妄行者各隨藏之所主而入為痹也）</p>
<p>痿論篇曰肺者藏之長也為心之蓋也（位高而布葉於胸中是故為藏之長心之蓋）有所失亡所求不得則發肺鳴鳴則肺熱葉焦（志苦不暢氣鬱故也肺藏氣鬱不利故喘息有聲而肺熱葉焦也）故曰五藏因肺熱葉焦發為痿闢此之詔也（肺者所以行榮沖治陰陽故引曰五藏因肺熱而發為痿闢也）</p>
<p>厥論篇曰陽明厥逆喘咳身熱善驚衄嘔血（以其脈循喉嚨入缺盆下鬲屬胃絡脾故如是手太陰厥逆虛滿而咳善嘔沫治主病者（手太陰脈起於中焦下絡大腸還循胃口上鬲屬肺故如是）</p>
<p>病能論篇曰帝曰人之不得偃臥者何也（謂不得仰臥也）岐伯曰肺者藏之蓋也（居高布葉四藏下之故言肺者藏之蓋也）肺氣盛則脈大脈大則不得偃臥（肺氣盛滿偃臥則氣促喘奔故不得偃臥也）</p>
<p>脈解篇曰所謂嘔咳上氣喘者陰氣在下陽氣在上諸陽氣浮無所依從故嘔咳上氣喘也（以其脈從腎上貫肝鬲入肺中故病如是也）○所謂咳則有血者陽脈傷也陽氣未盛於上而脈滿滿則咳故血見於鼻也</p>
<p>刺禁論篇曰刺中肺三曰死其動為咳（肺在氣為咳）○刺缺盆中內陷氣泄令人喘咳逆（五藏者肺為之蓋缺盆為之道肺藏氣而主息又在氣為咳刺缺盆中內陷則肺氣外泄故令喘咳逆也）○刺膺中陷中肺為喘逆仰息（肺氣上泄逆所致也）○刺腋下脇間內陷令人咳（腋下肺脈也肺之脈從肺系橫出腋下真心藏脈直行者從心系卻上腋下刺陷脈則心肺但動故咳也）</p>
<p>水熱穴論篇曰黃帝問曰少陰何以主腎腎何以主水岐伯對曰腎者至陰也至陰者盛水也肺者太陰也少陰者冬脈也故其本在腎其末在肺皆積水也（陰者謂寒也冬月至寒腎氣合應故云腎者至陰也水王於故云至陰者盛水也腎少陰脈從腎上貫肝鬲入肺中故云其本在腎其末在肺也腎氣上逆則水氣客於肺中故云皆積水也）帝曰腎何以能聚水而生病岐伯曰腎者胃之關也關門不利故聚水而從其類也（關者所以司出入也腎主下焦膀胱為府主其分注關穿核二陰故腎氣化則二陰通二陰關則胃填滿故云腎者胃之關也關閉則水積水積則氣停氣停則水生水生積則氣溢氣水同類故云關門不利聚水而從其類也靈樞經曰下焦溢為水此之謂也）上下溢於皮膚故為胕腫胕腫者聚水而生病也（上謂肺下謂腎肺腎俱溢故聚水於腹中而生病也）○故水病下為胕腫大腹上為喘呼（水下居於腎則腹至足而胕腫上入於肺則喘息賁急而大呼也）不得臥者標本俱病（標本者肺為標腎為本如此者是肺腎俱水為病也）故肺為喘呼腎為水腫肺為逆不得臥（肺為喘呼氣逆不得臥者以其主呼吸故也腎為水腫者以其主水故也）分為相輪俱受者水氣之所留也（分其居處以名之則是氣相輪應本其俱受病則皆是水所留也）調經論篇曰氣有餘則喘咳上氣不足則息利少氣（肺之藏也肺藏氣息不利則喘針經曰肺氣虛則鼻息利少氣實則喘喝胸憑仰息也）</p>
<p>繆刺論篇曰邪客於足少陰之絡令人脅痛不得息咳而汗出（以其脈別支者從目銳皆下大迎合手少陰於䪼下加頰車下頸合缺盆以下胸中貫鬲絡肝膽循脅故令人脅痛咳而汗出）刺足小指次指爪甲上與肉交者各一痏（謂核陰穴少陽之井也刺可入同身寸之一分留一呼若灸者可灸三壯）（新校正云按甲乙經核陰在足小指次之端去爪甲角如韭葉）不得息立已汗出立止咳者溫衣飲食一曰已左刺右右刺左病立已不已復刺如法</p>
<p>標本病傳論篇曰夫病傳者心病先心痛（藏真通於心故心先病）一曰而咳（心火勝金傳於肺也肺在變動為咳故爾）三曰脅支痛（肺金勝木傳於肝也以其脈循脅肋故如是）五曰閉塞不通身痛體重（肝本勝土傳於脾也脾性安鎮木氣乘之故閉塞不通身痛體重）三曰不已死（以勝相伐唯弱是從五藏四傷豈其能久故為即死）冬夜半夏曰中（謂正子午之時也或言冬夏有異非也書夜之半事甚昭然）（新校正云按靈樞經大氣入藏病先發於心一曰而之肺三曰而之肝五曰而之脾三曰不死冬夜半夏曰中甲乙經曰病先發於心心痛一曰之肺而咳三曰之肝脅支痛五肺（辛物入胃先入於肺故諸乙歲則辛少化諸庚歲則辛多化）肺生皮毛（辛味入肺自肺藏布化生養皮毛也）皮毛生腎（辛氣自入皮毛乃流化生氣入腎藏也）其在天為燥（神化也霧露清勁燥之化也肅谷凋零燥之用也歲屬陽明在上則燥化於天陽明在下則燥行於地者也）在地為金（從革堅剛金之體也鋒刃銛利金之用也）（新校正云按別本銛作括）在體為皮毛（柔韌包里皮毛之體也滲泄津液皮毛之用也）在氣為成（物乘金化則堅成）在藏為肺（肺之形似人戶一布葉數小葉中有二十四空行列以分布諸藏清濁之氣主藏魄也為相傳之官治節出焉乘乙歲則肺與經絡受邪而為病也大腸府亦然）其性為涼（涼清也肺之性也）其德為清（金以清涼為德化）（新校正云按氣交變大論云其德清潔）其用為固（固堅定也）其色為白（物乘金化則彩彰縞素之色今西方之野草木之上色皆兼白乘乙歲則白色之物兼赤及蒼也）其化為斂（斂收也金化流行則物體堅斂）（新校正云按氣交變大論云其化緊斂祥介（介甲也外被介甲金堅之象也）其政為勁（勁前銳也）（新校正云按氣交變大論云其政勁切）其令霧露（涼氣化生）其變肅谷（天地慘淒人所不喜則其氣也）其眚蒼落（青干而凋落）其味為辛（夫物之化之變而有辛味者皆金氣之所離合也今西方之野草木多辛）其志為憂（憂慮也思也）（新校正云祥王注以憂為思有害於義按本論思為脾之志憂為肺之志是憂非思明又靈樞經曰愁憂則閉塞而不行又云愁憂而不解則傷意若是則憂者悉也非思也）憂傷肺（愁憂則氣閉塞而不行肺藏氣故憂傷肺）喜勝憂（神悅則喜故喜勝憂）熱傷皮毛（火有二別故此再舉熱傷之形證也火氣薄爍則物焦乾故熱氣盛則皮毛傷也）寒勝熱（以陰消陽故寒勝熱）（新校正云按太素作傷皮毛熱勝燥）辛傷皮毛（過節也辛熱又甚焉）苦勝辛（苦火味故勝金之辛）</p>
<p>六微旨大論篇曰陽明之上燥氣治之中見太陰（陽明西方金故上燥氣治之與太陰合故燥氣治之下中見太陰也）○　太陰之上濕氣治之中見陽明（太陰西南方土故上濕氣治之與陰明合故濕氣之下中見陽明也）氣交變大論曰歲火太過炎暑流行金肺受邪（火不以德同邪害於金若以德行助則政和平也）民病瘧少氣咳喘血溢血泄注下嗌燥耳聾中熱肩背熱上應熒惑星（少氣謂氣少不足以息也血泄謂血利便血也血溢謂血上出於七核也注下謂水利也中熱謂胸心之中也背謂胸中之府肩掇近之故胸心中及肩背熱也火氣太盛則熒惑光芒逆臨宿屬分皆熒也）（新校正云祥火盛而剋金寒熱交爭故為瘧按藏氣法時論云肺病者咳喘肺虛者少氣不能報息耳聾嗌乾）甚則胸中痛脅支滿脅痛應背肩胛間痛兩臂內痛（新校正云按藏氣法時論云心病者胸中痛脅支滿脅下痛應背肩胛間兩臂內痛）身熱骨痛而為浸淫（火無德令從熱害金水為復誰故火自病）（新校正云按玉機真藏論曰心脈太過則令人自熱而膚痛為浸淫此云骨痛者誤也）收氣不行長氣獨明雨水霜寒（水字當作冰）上應辰星（金氣退避火氣獨行水氣折之故雨霖冰雹及偏降霜寒而穀物也水復於火天象應之辰星逆凌乃降熒於物也古辰星常在曰之前後三十度其熒發之當至南方在人之應則內先傷肺後反傷心）（新校正云按五常政大論雨水霜寒作雨冰霜雹）上臨少陰少陽火燔炳水泉涸物焦槁（新校正云按五常政大論云赫曦之犯上徵而收氣後又六元紀大論云戊寅戊申太徵上臨少陽臨者太過不及皆曰天符）病反譫亡狂越咳喘息鳴下甚血溢泄不已太淵絕者死不治上應熒惑星（諸戊歲也戊午戊子歲少陰上臨戊寅戊申歲少陽上臨是謂天符之歲也太淵肺脈也火勝而金絕故死火既太過又火熱上臨兩火相合故形斯候熒惑逆犯宿屬皆危）（新校正祥戊辰戊戌歲上見太陽見謂天弄運故當盛而不得盛則火化減半非太過又非不及也）○歲金太過燥氣流行肝木受邪（金暴虐乃爾）民病兩協下少腹痛目赤痛皆傷耳無所聞（兩脅謂兩乳之下脅之下也少腹謂齊下兩傍髎骨內也目赤謂白睛色赤也痛謂滲痛也皆謂四際臉睫之本也）肅谷而甚則體重煩免胸痛引背兩脅滿且痛引少腹上應太白星（金氣已過肅谷又甚木氣內畏感而病生金盛應天太白明大加臨宿屬心受熒害）（新校正云按藏氣法時論云肝病者兩脅下痛引少腹肝虛則目慌慌無所見耳無所聞又玉機真藏論云肝脈不及則令人胸痛引背下則兩脅胠滿也）甚則喘咳逆氣肩背痛尻陰股膝髀腨䯒足皆病上應熒惑星（火氣復之自生病也天象示應在熒惑逆加守宿屬則可憂也）（新校正云按藏氣法時論云肺病者喘咳逆氣肩背痛汗出尻陰股膝髀腨胻足皆痛）收氣峻生氣下草木斂蒼干凋隕病反暴痛胠脅不可反側（新校正云詳云反暴痛不言何所痛者按至真要大論云兩脅暴痛不可反側則此乃心脅暴痛也）咳逆甚而血溢太衝絕者死不治上應太白星（諸庚歲也金氣峻虐木氣被刑火未來復則如是也斂謂已生枝葉斂附其身也太衝肝脈也金勝而木絕故死當是之候太白應之逆守至屬病皆危也）（新校正云按庚子庚午庚寅申歲上見少陰少陽司天是謂天刑運金化減半故當盛而不得盛非太過又非不及也○歲水太過寒氣流行邪害心（水不務德暴虐乃然）民病身熱煩心躁悸陰厥上下中寒譫妄心痛寒氣早至上應辰星（悸心跳動也譫亂語也妄妄耳聞也天氣水盛辰星瑩明加其宿屬熒乃至）（新校正云按陰厥在後金不及復則陰厥有注）甚則腹大脛腫喘咳寢汗出憎風（新校正云按藏氣法時論云腎病者腹大脛腫喘咳身重濁汗出憎風再詳太過五化木言階級氣不政生氣獨治火言化氣不行長氣獨明土言藏氣伏長氣獨治金言收氣峻生氣下水當言藏氣乃盛長氣失政今獨亡者關文也）大雨至埃霧朦郁上應鎮星（水盛不已為土所乘故彰斯候埃霧朦郁土之脈從足下上行入腹從腎上貫肝鬲入肺中循喉嚨故生是病是為陰故寢則汗出而憎風也臥寢汗出即其病也夫土氣勝折水之強故鎮星明盛昭其應也）上臨太陽雨沐雪露不時降濕氣變物（新校正云按五常政大論云流衍之紀上羽而長凍不化又六元正紀大論云丙辰兩戍太羽臨者太過不及皆曰天符）病反復滿腸鳴溏泄食不化（新校正云按藏氣法時論云脾虛則腹滿腸鳴□泄食不化）渴而妄冒神門絕者死不治上應熒惑辰星（諸丙歲也丙辰丙戍歲太陽上臨是謂天符之歲也寒氣太盛故雨化為冰雪雨冰則渴也霜不時降彰其寒也土復其水則大雨霖霪濕氣內深故物皆濕變神門絕也水勝而火絕故死水盛太甚則熒惑來曜辰星瑩加以逆守宿屬則危壬也）（新校正云詳太過五化獨紀火水之上臨者火臨火水臨水為天符故也火臨水為逆水臨木為順火臨土為順水臨土為運勝天火臨金為天刑運水臨金為逆更不詳出也又此獨言上應熒惑惑辰星舉此一例余從而可知也）○歲木不及燥迺大行（清冷時至輥之薄寒是謂燥氣燥從而可知也）○歲木不及燥迺大行（清冷時至加之薄寒是謂燥氣燥金氣也生氣失應草木晚榮（後時之謂失應也）肅谷而甚則剛木闢著柔萎蒼幹上應太白星（天地淒滄曰見朦昧謂雨非雨謂晴非晴人意慘然氣象凝斂是為肅谷甚也剛勁硬也闢著謂闢著枝莖幹而不落也柔耎也蒼青也柔木之葉青色不變而干卷也木氣不及金氣乘之太白之明光芒而照其空也）民病中清胠脅痛少腹痛腸鳴溏泄涼雨時至上應太白星（新校正云按不及五化民病證中土應之星皆言運星失色畏星加臨宿屬為熒此獨言運星者經文關也當云上應太白星歲星）其谷蒼（金氣乘木肝之病也乘此氣者腸中自鳴而溏泄者即無胠脅少腹之痛疾也微者善之甚者止之遇夏之氣亦自止也遇秋之氣而復有之涼雨時至謂應時而至也金土齊化故涼雨俱行火氣來復則夏雨少金氣勝木太白臨之加其宿屬分皆熒也金勝甲歲火氣不復則蒼色之谷不成實也（新校正云詳中清胠脅痛少痛為金乘木肝病之狀腸鳴溏泄乃脾病之證蓋以木少脾土無畏侮反受邪之故也）上臨陽明生氣失政草木再榮化氣迺急上應太白鎮星其主蒼早（諸丁歲也丁卯丁酉歲陽明上臨是謂天刑之歲也金氣承天下勝於木故生氣失政草木再榮生氣失政故木華晚金氣抑木故秋夏始榮結實成熟以化氣急速故晚結成就也金氣勝木天應同之故太白之見光芒明盛木氣既少土氣無制故化氣生長急速木少金勝天氣應之故鎮星太白潤而明也蒼色之物又早凋落木少金乘故也）（新校正云按不及五化獨紀木上臨陰明土上臨厥陰水上臨太陰不紀木上臨厥陰土上臨太陰金上臨陰明者經之旨各記其甚者也故於太過運中只言火臨火水臨水此不及運中只言木臨金土臨木水臨土故不言厥陰臨木太陰臨土陰明臨金也）復則炎暑流火濕性燥柔脆草木焦槁下體再生華實齊化病寒熱瘡瘍疿胗癰痤上應熒惑太白其谷白堅（火氣復金夏生大熱故萬物濕性時變為燥流火爍物故柔脆草木及蔓延之類皆上乾死而下體再生若辛熱之草死不再生也小熱者死少大熱者死多火大復已土氣間至則涼雨降其酸苦甘鹹性寒之物乃再發生新開之與先結者齊承化而成熟火復其金太白減曜熒惑上應則益光芒加其宿屬則皆災也以火反復故曰堅白之谷秀而不實）白露早降收殺氣行寒雨害物蟲食甘黃脾土受邪赤氣後化心氣晚治上勝肺金白氣乃屈其谷不成咳而鼽上應熒惑太白星（陰明上臨金自用事故白露早降寒涼大至則收殺氣行以太陽居土濕之位寒濕相合故寒雨害物少於成實金行伐木假途於土子居母丙蟲之象也故甘物黃物蟲蠹食之清氣先勝熱氣後複復已乃勝故穴赤之氣後生化也赤後化謂草木赤華及赤實者皆後時而再榮秀也其五藏則心氣晚王勝勝於肺心勝於肺則金之白氣乃屈退也金谷稻也鼽鼻中水出也金為火勝天象應同故太白芒減熒惑益明○西方生燥燥生金其德清潔其化緊斂其政勁切其令燥其變肅殺其災蒼隕（緊縮也斂收也勁銳也切急也燥干也肅殺謂風動草樹聲若干也殺氣太甚則木青干而落也）（新校正云五運行大論云其德為清其化為斂其政為勁其令霧其變肅殺其眚蒼落）</p>
<p>五常政大論篇曰審平之紀收而不爭殺而無犯五化宣明（犯謂刑犯於物也收而不爭殺而無犯匪審平之德何以能為是哉）其氣潔（金氣以潔白瑩明為事）其性剛（性剛故摧鈇於物）其用散落（金用則萬物散落）其用散落（金用則萬物散落）其化堅斂（收斂堅強金之化也）其類金（審平之化金類同）其政勁肅化急速而整肅也勁銳也）其候清切（清大涼也切急也風聲也）其令燥（燥干也）其其肺（肺氣之用同金化也）肺其畏熱（熱火令也肺性涼故畏火熱五運行大論曰肺其性涼）其主鼻（肺藏氣鼻通息也）其谷稻（色白也）（新校正云按金匱真言論作稻藏氣法時論作黃黍）其果桃（味辛也）其實殼（外有堅殼者）其應秋（四時之化秋氣同）其蟲介（外被堅甲者）其畜雞（性善頭傷象金用也）（新校正云按金匱真言論云其畜馬）其色白（色同也）其養皮毛（堅同也）其病咳（有聲之病金之應也）（新校正云按金匱真言論云病在背是以知產之在皮毛也）其味辛（審平化治則物辛昧正）其音商（和利而揚）其物外堅（金化宣行則物體外堅）其數九（成數也）○從革之紀是謂折收（火折金收之氣也謂乙丑亥乙未乙巳乙卯之歲也）收氣乃後生氣乃揚（後不及時也收氣不能以時而行則生氣自應布揚而用之也）長化合德火政乃宣庶類以蕃（火土之氣固生化也宣行也）其氣揚（順火也）其用躁切（少雖後用則切急隨火躁也）其動鏗禁瞀厥（鏗咳也禁謂二陰禁止也瞀悶也厥謂氣上逆也）其發咳喘（咳金之有聲喘肺藏氣也）其藏肺（主藏病）其果李杏（李木杏火果也）其實殼絡（外有殼內有支絡之實也）其谷麻麥（麻木麥火谷也麥色赤也）其味其辛（苦味勝辛辛兼苦也）其色白丹（赤加白也）其畜雞羊（金從火土之兼化）（新校正云詳火畜馬土畜牛今言羊故王注云從火土之兼化為羊也或者當去注中之土字甚非）其蟲介羽）其主明曜炎爍（火之勝也）其聲商徵（商從徵）其病嚏咳鼽衄（金之病也）從火化也（火氣來勝故屈已以從之）少商與少徵同（金少故半同火化也）（新校正云詳少商運六年內除乙卯乙酉同正商乙巳乙亥同正角外乙未乙丑二年為少商同少徵故不云判徵也）上商與正商同（上見陽明則與平金運生化同乙卯乙酉其歲上見也）上角與正角同（上見厥陰則與平木連生化同乙巳亥其歲上見也）（新校正云詳金土無相勝克故經不言上宮與正宮同也）邪傷肺也（有邪之勝則歸肺）炎光赫烈則冰雪霜雹（炎光赫烈火無德也冰雪霜雹水之復也水復之作雹形如半珠）（新校正云詳註云詳液壓云雹形如半珠半字疑誤）眚於七（七西方也）（新校正云按六元正紀大論云災七宮）其主鱗伏彘鼠（突戾潛伏歲主縱之以傷赤實及羽類也）歲氣早至乃生大寒（水之化也）○堅成之紀是謂收引（引斂也陽氣收陰氣用故萬物收斂謂庚午庚辰庚寅庚子庚戍庚串之歲也）天氣潔地氣明（秋氣高潔金氣同）陽氣隨陰治化（陽順陰而生化）燥行其政物以司成（燥氣行化萬物專司其成熟無遺略也）收氣繁布化洽不終（收殺氣早土之化不得終其用也）（新校正云詳繁字疑誤）其化成其氣削（減削也）其政肅（肅清也靜也）其令銳切（氣用不屈勁而急）其動暴折瘍疰（動以病生）其德霧露蕭飋風聲也靜為霧露用則風生）（新校正云按六元正紀大論德作化）其變肅殺凋零（隕附於物）其谷稻黍（金火齊化也）（新校正云按本論上交麥為火之谷當言其谷稻麥）其畜雞馬（齊孕育也）其果桃杏（金火齊實）其色白青丹（白加於青丹自正也）其味辛酸苦（辛入酸苦齊化）其象秋（氣爽清潔如秋之化）其經手太陰陽明（太陰肺脈陽明大腸脈）其藏肺肝（肺勝肝）其蟲介羽（金余故介羽齊育）其物殼絡（殼金絡火化也）其病喘喝憑仰息（金氣余故）上徵與正商同其生齊其病咳（二見少陰少陽則天氣見抑故其生化與平金歲同庚子庚午歲上見少陰庚寅庚申歲上見少陽上火制金故生氣與之齊化火乘肺故病咳）（新校正云詳此不言上羽者水與金非相勝克故也）政暴變則名木不榮柔脆焦斯救大火流炎爍且至蔓將槁邪傷肺也（變謂太甚也政太甚則生氣抑木不榮草首焦死政暴不已則火氣發怒故火流炎爍至柔條蔓草脆之類皆乾死也火乘氣故肺傷也）○少陽司天火氣下臨肺氣上從白起金用草木眚火見燔焫革金且耗大暑以行咳嚏鼾衄鼻窒曰瘍寒熱胕腫（寅申之歲候也臨謂御於下起謂價高於市用謂用行刑罰也臨從起用同之革謂皮革亦謂革易也金謂器屬也耗謂費用也火氣燔灼故曰生瘡瘡身瘡也瘍頭瘍也寒熱謂先寒而後熱則瘧疾肺為熱害水且救之水守肺中故為胕腫謂腫滿按之不起此天氣之所坐也）（新校正云詳註云故曰生瘡瘡身瘡也瘍頭瘍也今經只言曰瘍疑經脫一瘡字別本曰字作口）風行於地法沙飛揚心痛胃脘痛厥逆鬲不通其主暴速（厥陰在泉故風行於地風淫所勝故是病生焉少陽厥陰其化急速故病氣起發疾速而為故云其主暴速此地氣不順而生是也）（新校正云詳厥陰與少陽在泉言其主暴速其發機速故不言甚則某病也）</p>
<p>六元正紀大論篇曰陽明司天之政氣化運行後天（六步之氣生長化成庶務動靜皆後天時而應余少歲同）天氣急地氣明陽專其令炎暑大行物燥以堅淳風乃治風燥橫運流於氣文多陽少陰雲趨雨府濕化乃敷（兩府太陰之所在也）燥極而澤（燥氣欲終則化為雨澤是謂三氣之分也）其谷白丹（天地正氣所化生也）間谷命太者（命太者謂前文太角商等氣之化者間氣化生故云間谷也）（新校正云按玄珠云歲谷與間谷者何即在泉為歲谷及在泉之在右間者皆為歲谷其司天及運間而化者名間谷又別有一名間谷者是也化不及即反有所勝而生者故名間谷即邪氣之化又名並化之谷也亦名間谷與王注頗異）其耗白甲品羽（白色甲蟲多品羽類有羽翼者耗散粢盛蟲鳥甲兵歲為災以耗竭物類）金火合德上應太白熒惑（見大而明）其政切其令暴蟄乃見流水冰民病咳嗌塞寒熱發暴振慄癃悶清先而勁毛蟲乃死熱後而暴介蟲乃殃其發躁勝復之作擾而大亂（金先勝木已承害故毛蟲死火後勝金不勝故介蟲復殃勝而行殺羽者已亡復者後來強者又死非大亂氣其何謂也○少陽司天之政氣化運行先天初之氣地氣遷風勝乃搖寒乃去候乃大溫草木早榮寒來不殺溫病乃起其病氣怫於上血溢目赤咳逆頭痛血崩（今詳崩字當作崩）脅滿膚腠中瘡（少陰之化）○二之氣火反郁（太陰分故爾）白埃四起云趨雨府風不勝濕雨乃零民乃康其病熱鬱於上咳逆嘔吐瘡發於中胸嗌不利頭痛身熱昏憒膿瘡○三之氣天政布炎暑至少陽臨上兩乃涯民病熱中聾瞑血溢膿瘡咳嘔鼽衄渴嚏吹喉痹目赤善暴死○終之氣地氣正風乃至萬物反生霧以行其病關閉不禁心痛陽氣不藏而咳○少陰司天之政氣化運行先天地氣肅天氣明寒交暑熱加燥（新校正云詳此云寒交暑者謂前歲終之氣少陽今歲初之氣太陽太陽寒交前歲少陽之暑也熱加燥者少陰在上而陽明在下也）云馳雨府濕化乃行時雨乃降金火合德上應熒惑太白（見而明大）其政明其令切其谷丹白水火寒熱持於氣交而為病始也熱病生於上清病生於下寒熱凌犯而爭於中民病咳喘血溢血泄鼽嚏目赤眥瘍寒厥入胃心痛腰痛腹大嗌乾腫上○三之氣天政布大火行庶類蕃鮮寒氣時至民病氣厥心痛寒熱更作咳喘目赤○終之氣燥令行餘火內格腫於上咳喘甚則血溢寒氣數舉則霧霧翳病生皮腠內舍於脅下連少腹而作寒中地將易也（氣終則遷何可長也）○金鬱之發天潔地明風清氣切大涼乃舉草樹浮煙燥氣以行霧霧數起殺氣來至草木蒼干金乃有聲（大涼次寒也舉用事也浮煙燥氣也殺氣霜氛正殺氣者以丑時至長者變卯時度時也其氣之來色黃赤黑雜而至也物不一殺故草木蒼干蒼薄青色也）故民病咳逆心脅滿引少腹善暴痛不可反側嗌乾面塵色惡（金勝而木病也）山澤焦枯土凝霜滷怫乃發也其氣五（夏火炎亢時雨既愆故山澤焦枯土上凝白鹽滷狀如霜也醜氣謂秋分後至立冬後十五曰內也）夜零白露林莽聲淒怫之兆也（夜濡白露曉聽風淒有是乃為金髮徵也）</p>
<p>至真要大論篇曰諸氣在泉風淫於內治以辛涼佐以苦以甘緩之以辛散之（風性喜溫而惡清故治之涼是以勝氣治之也佐以苦隨其所利也木苦急則以甘緩之苦抑則以辛散之藏氣法時論曰肝苦急急食甘以緩之肝欲散急食辛以散之此之謂也食變音飼也大法正味如此諸為方者不必盡用之但一佐病已則止餘氣皆然）熱淫於內治以鹹寒佐以甘苦以酸收之以苦發之（熱性惡寒故冷以寒也熱之大盛甚於表者以苦發之不盡復寒制之寒制不盡復苦發之以酸收之甚者再方微者一方可使必已時發時止亦以酸收之）濕淫於內治以苦熱佐以酸淡以苦燥之以淡泄之（濕與燥反故治以苦熱佐以酸淡也燥除濕故以苦燥其濕也淡利核故以淡滲泄也藏氣法時論曰脾苦濕急食苦以燥之靈樞經曰淡利核也生氣通天論曰味過於苦脾氣不濡胃氣乃厚明苦燥也）（新校正云按天元正紀大論曰下太陰其化下甘溫）火淫於內治以鹹冷佐以苦辛以酸收之以苦發之（火氣大行心腹心怒之所生也咸性柔耎故以治之以酸收之大法候其須汗者以以佐之不必要資苦味令其汗也欲柔耎者以咸治之藏氣法時論曰心欲耎急食鹹以耎之心苦緩急食酸以收之此之謂也）燥淫於內治以苦溫佐以甘辛以苦下之（溫利涼性故以苦治之下謂利之使不得也）（新校正云按藏氣法時論曰肺苦氣上逆急食苦以泄之用辛寫之酸補之又按下文司天燥淫所勝佐以酸辛此云甘辛者甘字疑當作酸天元正紀大論云下酸熱與苦溫之治又異又云以酸收之而安其下甚則以苦泄之也）寒淫於內治以甘熱佐以苦辛以咸寫之以辛潤之以苦堅之（以熱治寒是為摧勝折其氣用令不滋繁也苦辛之佐通事行之）（新校正云按藏氣法時論曰腎苦燥急食辛以潤之腎欲堅急食苦以堅之用苦補之咸寫之舊注引此在濕淫於內之下無義今移於此）○少陰司天熱淫所勝怫熱至火行其政民病胸中煩熱嗌乾右胠滿皮膚痛寒熱咳喘大雨且至唾血血泄鼽衄嚏嘔溺色變甚則瘡瘍胕腫肩背臂臑及缺盆中痛心痛肺䐜腹大滿膨膨而喘咳病本於肺（謂甲子丙子戊子庚子壬子甲午丙午戊午庚午壬午歲也怫熱至是火行其政乃爾是歲民病集於右蓋以小腸通心故也病自肺生故曰病本於肺也）（新校正云按甲乙經溺色變肩背臂臑及缺盆中痛肺脹滿膨膨而喘咳為肺病鼽衄為大腸病蓋少陰司天之歲火剋金故病如是又王注民病集於右以小腸通心故按甲乙經小腸附脊左環迴腸附脊左環所說不應得非火勝剋金而大腸病矣）尺澤絕死不治（尺澤在肘內廉大文中動脈應子肺之氣也火燥於金承天之命金氣內絕故必危亡尺澤不至肺氣已絕榮沖之氣宣行無主真氣內竭生之何有哉）○太陰司天濕淫所勝則沈陰且布雨變枯槁胕腫骨痛陰痹陰痹者按之不得腰眷頭項痛時眩大便難陰氣不用飢不欲食咳唾則有血心如懸病本於腎（謂乙丑丁丑己丑辛丑癸丑乙未丁未己未辛未癸未歲也沈久也腎氣受邪水無能潤下焦枯涸故大使難也）（新校正云按甲乙經飢不用食咳唾則有血心懸如飢狀為腎病又邪在腎則骨痛陰痹者按之而不得腹脹腰痛大便難肩背頭項強痛時眩蓋太陰司天之歲土剋水故病如是矣）太谿絕死不治（太谿在足內踝後跟骨上動脈應手腎之氣也土邪勝水而腎氣內絕邪甚正微故方無所用矣）○少陽司天火淫所勝則溫氣流行金政不平民病頭痛發熱惡寒而瘧熱止皮膚痛色變黃赤傳而為水身面胕腫腹滿仰息泄注赤白瘡瘍咳唾血煩心胸中熱甚則鼽衄病本於肺（謂甲寅丙寅戊寅庚寅壬寅甲申丙申戊申庚申壬申歲也火來用事則金氣受邪故曰金政不平也火災於上金肺受邪客熱內水無燔能救故化生諸病也制火之客則已矣）（新校正云按甲乙經邪在肺則皮膚痛發寒熱蓋少陽司天之歲火剋金故病如是也）天府絕死不治（天府在肘後內側上腋下同身寸之三寸動脈應手肺之氣也火勝而金脈絕故死）○陽明司天燥淫所勝則木乃晚榮草乃晚生筋骨內變民病左胠脅病寒清於中感而瘧大涼革候咳腹中鳴注泄驚溏名木斂生菀於下草焦上首心脅暴痛不可反側嗌乾面塵腰痛丈夫㿗疝婦人少腹痛目昧眥瘍瘡痤痛蟄蟲來見病本於肝（謂乙卯丁卯卯己卯辛卯癸卯乙酉丁酉己酉辛酉癸酉歲也金勝故草木晚生榮也配於人身則筋骨內應而不用也大涼之氣變易時候則人寒清發於中內感寒氣則為疼瘧也大腸居右肺氣通之今肺氣內淫肝居於左故左胠脅痛如刺割也其歲民目注泄則無淫勝之疾也大涼次寒也大涼且甚陽氣不行故木容收斂草榮悉晚生氣己升陽不布令故閉積生氣而稸於下也在人之應則少腹之內痛氣居之發疾於仲夏瘡瘍之疾猶及秋中瘡痤之類生於上痛腫之患生於下瘡色雖赤中心正白物之當也）（新校正云按甲乙經腰痛不可以俯仰丈夫㿗疝婦人少腹腫甚則嗌乾面塵為肝病又胸滿洞泄為肝病又心脅痛不能反側目銳眥痛缺盆中腫痛腋下腫馬刀挾癭汗出振寒瘧為膽病蓋陽明司天之歲金剋木故病如是又按脈解云厥陰所謂㿗疝婦人小腹腫者厥陰者辰也三月陽中之陰邪在中故曰㿗亦少腹腫也）太衝絕死不治（太衝在足大指本節後二寸脈動應手肝之氣也金來伐木肝氣內絕真不勝邪死其宜也）○司天之氣風淫所勝平以辛涼佐以苦甘以甘緩之以酸寫之（厥陰之氣未為盛熱故曰涼藥平之夫氣之用也積涼為寒溫為熱以熱少之其則溫也以寒少之基則涼也以溫多之其則熱也以涼多之其則寒也各當其分則寒寒也溫溫也熱熱也涼涼也方書之用可不務乎故寒熱溫涼商降多少善為方者意必精通餘氣皆然從其制也）（新校正云按本論上文云上淫於下所勝平之外淫於內所勝治之故在泉曰治司天曰平也）熱淫所勝平以鹹寒佐以苦甘以酸收之（熱氣已退時發動者是謂心虛氣散不斂以酸收之既以酸收亦兼寒助乃能殄除其源本矣熱見太甚則以苦發之汗已便涼是邪氣盡勿寒水之汗已猶熱是邪氣未盡則以酸收之而又熱則復汗之已汗復熱是藏虛也則補其心可矣法則合爾諸治熱者亦不必得再二發三治況四夏而反覆者乎）濕淫所勝平以苦熱佐以酸辛以苦燥之以淡泄之（濕氣所淫皆為腫滿但除其濕腫滿自衰因濕生病不腫不滿者亦爾治之濕氣在上以苦吐之濕氣在下以苦泄之以淡滲之則皆燥也泄謂滲泄以利水道下小便為法然酸雖熱亦用利小便去伏水也治濕之病不下小便非其法也）（新校正云按濕淫於內佐以酸淡此云酸辛者辛疑當作淡）濕上甚而熱治以苦溫佐以甘辛以汗為故而止（身半以上濕氣餘火氣復鬱郁濕相薄則以苦溫甘辛之藥解表流汗而祛之故云以汗為余病之故而已也）火淫所勝平以酸冷佐以苦甘以酸收之以苦發之以酸復之熱淫同（同熱淫義熱亦如此法以酸復其木氣也不復其氣則淫氣空虛招其損）燥淫所勝平以苦濕佐以酸辛以苦下之（制燥之勝必以苦濕是以火之氣味也宜下必以苦宜必以酸宜寫必以辛清甚生寒留而不去則以苦濕下之氣有餘則以辛寫之諸氣同）（新校正云按上文燥淫於內治以苦溫此云苦濕者濕當為溫文注中濕字三並當作溫又按六元正紀大論亦作苦下濕）寒淫所勝平以辛熱佐以甘苦以咸寫之（注散止之不可過也）（新校正云按上文寒淫於內治以甘熱佐以苦辛此云平以辛熱佐以甘苦者此文為誤又按六元正紀大論云太陽之政歲宜苦以燥之也）○陽明之勝清發於中左胠脅痛溏泄內為嗌塞外發㿗疝大涼肅殺華英改容毛蟲秘殃胸中不便嗌塞而咳（五卯五酉歲也大涼肅殺金氣勝木故草木華英為殺氣損削改易聚而焦其上首也毛蟲木化氣不宜金故金政大行而毛蟲死耗也木化之氣下生於陰故大涼行而㿗疝發也胸中不便謂呼吸回轉或痛或緩急而不利便也氣太盛故嗌塞而咳也嗌謂喉之下接連胸中肺兩葉之間者也）○厥陰之勝治以甘清佐以苦辛以酸寫之少陰之勝治以辛寒佐以苦鹹以甘寫之太陰之勝治以咸熱佐以辛甘以苦寫之少陽之勝治以辛寒佐以甘鹹以甘寫之陽明之勝治以酸溫佐以辛甘以苦泄之太陽之勝治以甘熱佐以辛酸以咸寫之（六勝之至皆先歸其不勝已者之故不勝者當先寫之以通其道次寫所勝之氣令其退釋也治諸勝而不寫遣之則勝氣浸盛而內生諸病也）（新校正云詳此為治皆先寫其不勝而後寫其來勝獨太陽之勝治以甘熱為異疑甘字苦之誤也若云治以苦熱則六勝之治皆一貫也）○少陰之復燠熱內作煩躁鼽嚏少腹絞痛火見燔焫嗌燥分注時止氣動於左上行於右咳皮膚痛暴瘖心痛鬱冒不知人乃灑淅惡寒振慄譫妄寒已而熱渴而欲飲少氣骨痿隔腸不便外為浮腫噦噫赤氣後化流水不冰熱氣大行介蟲不復病疿胗瘡瘍痛疽痤痔甚則入肺咳而鼻淵（火熱之氣自小腸從齊下之左入大腸上行至左脅甚則上行於右而入肺故動於左上行於右皮膚痛也分注謂大小俱下也骨痿言骨弱而無力也隔腸謂腸如隔絕而不便也寫也寒甚則陽明先勝故赤氣後化流水不冰陰之本司於地也在人之應則冬脈不疑若高山窮谷巳是至高之處水亦當冰平下川流則如經矣火氣內蒸金氣外拒陽熱內郁故為疿胗瘡瘍胗甚亦為瘡也熱少則外生疿胗熱多則內結痛痤小腸有熱則中外為痔其復熱熱之變皆病於身後及外側也瘡瘍疿胗生於上痛疽痤痔生於下反其處者皆為逆也）天府絕死不治（天府肺脈氣也）（新校正云按上文少陰司天熱淫所勝尺澤絕死不治少陽司天火淫所天府絕死不治此云少陰之復天府絕死不治下文少陽之復尺澤絕死不治文如相反者蓋尺澤天府俱手太陰脈之所發動故此互文也）○太陰之復濕變乃舉體重中滿食飲不化陰氣上厥胸中不便飲發於中咳喘有聲大雨時行鱗見於六頭頂痛重而掉瘛尤甚嘔而密默唾吐清液甚則入腎核寫無度（濕氣內逆寒氣不行太陽上流故為是病頭頂痛重則腦中掉瘛尤甚腸胃寒濕熱無所行重灼胸府故胸中不便食飲不化嘔而密默欲靜定也喉中惡冷故唾吐冷水也寒氣易位上入肺喉則息迫不利故咳喘而喉中有聲也水居平澤則魚遊於市頭頂胸痛久人兼痛於眉間也）（新校正云按上文太陰在泉頭痛項似按又太陰司天雲頭項痛此雲頭頂痛頂疑當作項）太谿腎脈氣也）○少陽之復大熱將至枯燥燔爇介蟲乃耗驚瘛咳衄心熱煩躁便數憎風厥氣上行面如浮埃目乃瞤瘛火氣內發上為口糜嘔逆血溢血泄發而為瘧惡寒鼓慄寒極反熱嗌絡焦槁渴引水漿色變黃赤少氣脈萎化而為水傳為胕腫甚則入肺咳而血泄（火氣專暴枯燥草木燔焰自生故燔爇也爇音焫火內熾故驚瘛咳衄心熱煩燥便數憎風也火炎於上則庶物失色故如塵埃浮於面而目瞤動也火爍於內則口舌糜亂嘔逆及為血溢血泄風火相薄則為溫瘧氣蒸熱化則為水病傳為胕腫胕謂皮皮俱腫按之陷下泥而不起也如是之證皆火氣所生也）尺澤絕死不治（尺澤肺脈氣也）○陽明之復清氣大舉森木蒼干毛蟲乃厲病生胠脅氣歸於左善太息甚則心痛否滿腹脹而泄嘔苦咳噦煩心病在鬲中頭痛甚則入肝驚駭筋攣（殺氣大舉木不勝之故蒼清之葉不及黃而乾燥也厲疾疫死也清甚於內熱鬱於外故也）太衝絕死不治（太衝肝脈氣也）○厥陰之復治以酸寒佐以甘辛以酸寫之以甘緩之（不大緩之夏猶不已復重於勝故治以辛寒也）（新校正云按別本治以酸寒作治以辛寒也）少陰之復治以鹹寒佐以苦辛以甘寫之以酸收之辛苦發之以咸耎之（不大發汗以寒攻之持至仲秋熱內伏結而為心熱少氣少力而不能起矣熱伏不散歸於骨矣）太陰之復治以苦熱佐以酸辛以苦寫之燥之泄之（不燥泄之久而為身腫腹滿關節不利肺及伏兔怫滿丙作膝腰脛內側胕腫病）少陽之復治以鹹冷佐以苦辛以咸耎之以酸收之辛苦發之發不遠熱無犯溫涼少陰同法（不發汗以奪盛陽則熱內淫四支而為解㑊不可名也謂熱不甚謂寒不甚謂強不甚謂弱不甚不可以名言故謂之解㑊粗醫呼為鬼氣惡病也久久不已則骨熱髓涸齒乾枯為骨熱病也發汗奪陽故無留熱故發汗者雖熱生病夏月及差亦用熱藥以強之當春秋時縱火熱勝亦不得以熱藥發汗汗不發而藥熱內甚助病為瘧逆伐神靈故曰無犯溫涼少陰氣熱為療則同故云與少陰同法也數奪其汗則津竭涸故以酸收以潤也）（新校正云按天元正紀大論云發表不遠熱）陽明之復治以辛溫佐以苦甘以苦泄之以苦酸補之（泄謂滲泄汗及小便湯浴皆是也秋分前後則亦發之春有勝亦依勝法或不已亦湯漬和其中外也怒復之後其氣皆虛故補之以安全其氣余復治同）太陽之復治以咸熱佐以甘辛以苦堅之（不堅則寒氣內變止而復發發而復止綿歷年歲生大寒疾）治諸勝復寒者熱之熱者寒之溫者清之清者溫之散者收之抑者散之燥者潤之急者緩之堅者耎之脆者堅之衰者補之強者寫之各安其氣必清必靜則病氣衰去歸其所宗此治之大體也（太陽氣寒少陽氣熱厥陰氣溫陽明氣清太陰氣濕有勝復則各倍其氣以調之故可使平也宗屬也調不失理則余之氣自歸其所屬少之氣自安其所居勝復衰已則各在衰而平定之必清必靜無妄撓之則六氣循環五神安泰若運氣之寒熱治之平之亦各歸司天地氣也）○厥陰司天客勝則耳鳴掉眩甚則咳○少陰司天客勝則鼽嚏頸項強肩背瞀熱頭痛少氣發熱耳聾目瞑甚則胕腫呼吸氣喘○少陽司天主勝則胸滿咳仰息甚而有血手熱○陽明司天清復內余則咳衄嗌塞心鬲中熱咳不止而白血出者死（復謂復舊居也白血謂咳出淺紅色血似肉似肺者五卯五酉歲也）（新校正云詳此不言客勝主勝者以人居火拉無客勝之理故不言也）○太陽司天客勝則胸中不利出清涕感寒則咳○木位之主其寫以酸其補以以辛（木位春分前六十一曰初之氣也）火位之主其寫以甘其補以咸（治火之位春分之後六十一曰二之氣也相火之位夏至前後各三十曰三之氣也二火之氣則殊然其氣用則一矣）土位之主其寫以苦其補以甘（土之位秋分前六十一曰四之氣也）金位之主其寫以　以其補以酸（金之位秋分後六十一曰五之氣也）水位之主其寫以咸其補以苦（水之位冬至前後各三十曰之終氣也）厥陰之客以辛補之以酸寫之以甘緩之少陰之客以咸補之以甘寫之以咸收之（新校正云按藏氣法時論云心苦緩急食酸以收之心欲耎急食鹹以耎之此云以咸收之者誤也）太陰之客以甘補之以苦寫之以甘緩之少陽之客以咸補之以甘寫之以咸耎之陽明之客以酸補之以辛寫之以苦泄之太陽之客以苦補之以咸寫之以苦堅之以辛潤之開發其理致津液通氣也（客之部主各六十一曰居無常所隨歲遷移客勝則寫客而補主主勝則寫主而補客應隨當緩當急而治之）○熱氣大來火之勝也金燥受邪肺病生焉（流於迴腸大腸）○諸氣膹皆屬於肺（高秋氣涼霧氣煙集涼至則氣熱復甚則氣殫徵其物象屬可知也膹謂滿郁謂奔迫也氣之為用金氣同之）○諸痿喘嘔皆屬於上（上謂上焦心肺氣也炎熱薄爍心之氣也承熱分化肺之氣也熱鬱化上故病屬上焦）（新校正云詳痿之病似非上病王注不解所以屬上之由使後人疑議今按痿論云五藏使人痿者因肺熱葉焦發為痿闢躄使人痿者因肺熱葉焦發為痿躄故云屬於上也痿又謂肺痿也）○諸逆衝上皆屬於火（炎上之性用也）○諸脹腹大皆屬於（熱鬱於內肺脹所生）○諸病有聲鼓之如鼓皆有屬於熱（謂有聲也）</p>
<p>示從容論篇曰雷公曰於此有人頭痛筋攣骨重怯然少氣噦噫腹滿時驚不嗜臥此何歲之發也脈浮而弦切之石堅不知其解復問所以三藏者以知其此類也）脈有浮弦石堅故云問所以三藏者以知其比類也）帝曰夫從容之謂也（言比類也）夫年長則求之於府年少則求之於經年壯則求之於藏（年之長者甚於味年之少者勞於使年之壯者過於內過於內則耗傷精氣勞於使則經中風邪恣於求則傷於府故求之異也）今子所言皆失入風菀熟五藏消爍傳邪相受夫浮而弦者是腎不足也（脈浮為虛弦為肝氣以腎氣不足故脈浮弦也）沉而石者是腎內著也（石之言堅也著謂腎氣內薄著而不行也）怯然少氣者是水道不行形氣消索也（腎氣不足故水道不行肺藏被沖故形氣消散索盡也）咳嗽煩冤者是腎氣之逆也（腎氣內著上歸於母也）一人之氣病在一藏也若言三藏俱行不在法也（經不然也）雷公曰於此有人四支解墮喘咳血泄而愚診之以為傷肺切脈浮大而緊愚不敢治粗工下砭石病愈多出血血止身輕此何物也帝曰子所能治知亦眾多與此病失矣（以為傷肺而不敢治是乃任現法所失也）譬以鴻飛亦衝於天（鴻飛沖天偶然而得豈其忙羽翻之所能哉粗工下砭石亦猶是矣）夫聖人之治病循法守度援物比類化之冥冥循上及下何必守經（經謂經脈非經法也）今夫脈浮大虛者是脾氣之外絕去胃外歸陽明也（足太陰絡支別者入絡腸胃是以脾氣外絕不至胃外歸陽明也）夫二火不勝三水是以脈亂而無常也（二火謂二陽藏三水謂三陰藏二陽藏者心肺也以在鬲上故三陰藏者肝脾腎也以在鬲下故然三陰之氣上勝二陽陽不勝陰故脈亂而無常也）四肢解墮此脾精之不行也（土主四支故四支懈墮陴精不行故使之然）喘咳者是水氣並陽明也（腎氣逆入於胃故水氣並於陽明）血泄者脈急血無所行也（泄謂泄出也然脈氣數急血溢於中血不入經故為血泄以脈奔急而血溢故曰血無所行也）若夫以為傷肺者由失以狂也不引比類是知不明也（言所識不明不能此類以為傷肺猶失狂言耳）夫傷肺者脾氣不守胃氣不清經氣不為使真藏壞決經脈傍絕五藏漏泄不衄則嘔此二者不相類也（肺氣傷則脾外救故云脾氣不守肺藏損則氣不行不行則胃滿故云胃氣不清肺者主行營沖陰陽故肺傷則經脈不能為之行使也真藏謂肺藏也若肺藏損壞皮膜決破經脈傍絕而不流行五藏之氣上溢而漏泄者不衄血則嘔血也何者肺主鼻胃應口也然口鼻者氣之門戶也今肺藏已損胃氣不清不上衄而血下流於胃中故不衄出則嘔出也然傷肺傷脾衄血泄血標出且異本歸亦殊故此二者不相類也）譬如天之無形地之無理白與黑相去遠矣（言傷肺傷脾形證懸別譬職天地之相遠如黑白之異象也）</p>
<p>徐叔拱曰咳嗽外感六淫鬱而成火必六淫相合內傷五臟相勝必五邪相併有此不同而中間又有斂散二法斂者謂收斂肺氣也散者謂解散寒邪也宜散而斂則肺之寒邪一時斂住為害非輕宜斂而散則肺氣虛弱一時發散而走泄正氣害亦非小且如感風咳嗽已經解散之後其表虛復感寒邪虛邪相乘又為喘嗽若欲散風則愈重虛其肺若收斂則愈又滯其邪當先輕解漸次斂之肺不致虛邪不致滯喘嗽自止矣（見醫門法律先哲格言）</p>

<h1>卷二</h1>
<p>本輪篇云肺合大腸大腸者傳道之府○少陽屬腎腎上連肺故將兩藏三焦者中瀆之府也水道出焉屬膀胱是孤之府也</p>
<p>邪氣藏府也水道出焉屬膀胱是孤之府也</p>
<p>邪氣藏府病形篇云○形寒寒飲則傷肺以其兩寒相感中外皆傷故氣道而上行肺脈急甚為癲（脈經作㿉）上氣微滑為上下出血澀甚為嘔血微澀為鼠瘻（一作漏）在頸支腋之間下不勝其上其應善痠矣（甲乙作下不勝其上其能善酸）○肝脈微大為肝痹陰（脈經無陰字）縮咳引小腹（甲乙作少腹）脈經篇云肺太陰（甲乙作手太陰）之脈起於中焦下絡大腸還循胃口上鬲屬肺從肺系橫出腋下下循臑內行少陰心主之前（脈經無腋下至之前下十四字）下肘中循臂內上骨下廉入寸口上魚循魚際出大指之端其支者從腕後直出（脈經無出字）次指內廉出其端是動則病肺脹滿膨膨而喘咳缺盆中痛甚則交兩手而瞀此為臂厥（甲乙作擘）是主肺所生病者咳上氣喘渴煩心胸滿臑臂內前廉痛厥（脈經無厥字）掌中熱氣盛有餘則肩背痛風寒（脈經無寒字）汗出中風（脈經無中風二字）小便數而欠氣虛則肩背痛寒少氣不足以息溺色變（脈經色變下有卒遺失無度五字）又云腎足少陰之脈起於小指之下邪走足心出於然谷之下循內踝之後其直者從腎上貫肝鬲入肺中循喉嚨挾舌本其支者從肺出絡心注胸中是動則病飢不欲食麵如漆柴（脈經作面黑如炭色）（甲乙作面黑如炭色）咳唾則有血暍暍而喘（脈經作喉鳴而喘）坐而欲起䀮䀮如（甲乙無如字）無所見心如懸若飢狀是謂內厥</p>
<p>五邪篇云邪在肺則病皮膚痛寒熱上氣喘汗出咳動肩背取之膺中外腧背三節五藏之旁（甲乙作外俞背三椎之旁）以手疾按之快然乃刺之取之缺盆中以越之</p>
<p>熱病篇云熱病咳而衄汗不出（甲乙作汗出）出不至足者死（巢氏源候論脹論篇云肺脹者虛滿而喘咳</p>
<p>五癃津液篇云五藏六府之津液盡上滲於目心悲氣並則心系急心系急則肺舉肺舉則（甲乙作肺葉舉舉則）液上溢夫心系與（甲乙與作急）肺不能常與（甲乙作舉）乍上乍下故咳而泣出矣（甲乙泣作涎出矣）</p>
<p>本藏篇云肺小則少飲不病喘暍肺大則多飲善病胸痹喉痹（甲乙經無喉痹二字）逆氣肺高則上氣肩息（甲乙肩作喘）咳（甲乙咳下有逆字）肺下則居（甲乙作居逼）賁迫肺善脅下痛肺堅則示病咳（甲乙咳下有逆字）上氣肺脆則苦（甲乙苦作善）病消癉易傷（甲乙傷下有也字）肺端正則和利難傷肺偏傾則胸偏痛也（甲乙作則病胸脅偏痛）○白色小理者肺小粗理者肺大巨肩反膺陷喉者肺高合腋張脅者肺下好肩背厚者肺堅肩背薄者肺脆背膺厚者肺端正脅偏傾也</p>
<p>水脹篇雲水抬起也目□上微仲如新臥起之狀其頸脈動時咳陰股間寒足脛腫腹乃大其水已成矣以手按其腹隨手而起如里水之狀此其候也玉版篇云黃帝曰諸病皆有逆順可得聞乎岐伯曰腹脹身熱脈大云云咳且溲血脫形其（甲乙無其字）脈小勁（甲乙作小而勁者）是四逆也咳脫形身熱脈小以疾（甲乙作小而疾也）是謂五逆也如是者不過十五曰而（甲乙無而字）死矣云云咳溲血形內（甲乙內作肉）脫脈搏（甲乙無脈搏二字肉脫下有喘字）是三逆也云云咳嘔腹脹且飧泄其脈絕是五逆也如是者不及一時而死矣工不察此者而刺之是謂逆治</p>
<p>刺節真邪篇云黃帝曰其咳上氣窮詘胸痛者取之奈何岐伯曰取之廉泉</p>
<p>以上節靈樞經</p>
<p>十六難曰假令得肺脈其外證面白善嚏其病喘咳灑淅寒熱有是者肺也無是非也（此肺色肺病肺脈也右屬肺故動氣在右肺主皮毛故寒熱）四十九難曰何以知傷寒得之然當譫言妄語何以言之肺主聲入肝為呼入心為言入脾為歌入腎為呻自入為哭故知肺邪入心為譫言妄語也其病身熱（心也）洒洒惡寒甚則喘咳（肺也）其脈浮大（心也）而澀（肺也）（丁注此言心病因肺邪而入肺主聲故專以聲推其病與脈皆兼肺心二經也肺邪入肺謂之自入○此傷寒非仲景傷寒此譫妄非陽明譫妄玩讀自明）</p>
<p>五十六難曰五藏之積各有名乎以何月何曰得之然肝之積名曰肥氣在左脅下如覆杯有頭足久不愈（甲乙頭足下有如龜鱉狀四字又作久久不愈）令人發咳逆㾬（脈經㾬作痎）（巢氏作令人發㾬瘧無咳逆二字）瘧連歲不已以季夏戊已得之何以言之（甲乙無此四字脈經作何也）（巢氏同作何以言之）肺病傳肝肝當傳脾脾以季夏適王王者不受邪肝復欲還肺肺不肯受故留結為積故知肥氣以季夏（巢氏作仲夏得之也）戊已曰得之（丁注此言肺病傳肝肝當傳脾脾土適旺於季夏之土令故力能拒而不受則邪當復返於肺但脾土得令而旺肺金亦得土之生氣而亦能拒邪故曰不肯受也邪因無道可行故仍結於肝而成積矣越人形容成積之理可謂曲盡乃見虛處受邪旺處不容今人治積以攻為務大失經旨良可歡也）</p>
<p>又曰肺之積名曰息賁在右脅下覆大如杯久不已（甲乙久久不愈病洒洒惡寒逆喘咳發肺痛）（脈經作久之不愈病洒洒寒熱氣逆喘咳發肺痛令人灑淅寒熱喘咳發肺壅以春甲乙曰得之何以言之（甲乙無此四字脈經作何也）（巢氏同作何以言之）心病傳肺肺當傳肝肝以春適王王者不受邪肺復欲還心心不肯受故留結為積故知息賁以春甲乙曰得之（巢氏作以春得之也）（丁注肝木旺於春木之令而能拒邪心火亦得木之生氣而亦能拒也）</p>
<p>六十八難曰五歲六府各有井滎腧經合皆何所主然經言所出為井所流為滎所注為腧所行為經所入為合井主心下滿滎主身熱腧主體重節痛經主喘咳寒熱合主逆氣而泄此五藏六府井滎腧經合所主病也（丁注引紀氏大錫曰井者若水之源水始出源流之尚微故謂之滎水上而注下下復承而流之故謂之俞水行經歷而過故謂之經經過於此乃入於藏府與眾經相會故謂之合素問曰六經為川腸胃為海也晞範曰井法以應肝脾之位在心下今邪在肝肝侵脾故心下滿今治之於井不令木乘土也滎法火以應心肺屬金外主皮毛心火灼於肺金故身熱謂邪在心也故治之於滎不使火來乘金則身熱自愈矣俞法土應脾今邪在土土必剋水水者腎也腎主骨故病則節痛邪在土土自病則體重故治之於俞經法金而應肺今邪在肺得寒則咳得熱則喘金必剋木木者肝肝在志為奴奴則氣逆而作喘故治之於經合應水而主腎腎氣不足傷於衝脈則氣逆腎開核於二陰氣逆則不禁而下泄故宜治合也）</p>
<p>以上節難經</p>
<p>精神五藏論篇曰肺藏氣氣舍魄在氣為咳在液為涕肺氣虛則鼻息不利少氣實則喘喝胸憑（九墟作盈）仰息</p>
<p>經脈篇曰夏脈心也南方火也萬物之所盛長也故其氣來盛去衰故曰鉤反此者病其氣來盛去亦盛此謂太過病在外其氣來不盛去反盛此謂不及病在內太過則令人身熱而骨痛（一作膚痛）為浸淫不及則令人煩心上見咳唾下為氣泄</p>
<p>又曰秋脈肺也西方金也萬物之所收成也故其氣來輕虛以浮來急去散故曰浮反此者病其來毛而中央堅兩旁虛此謂太過病在外其氣來毛而微此謂不及病在中太過則令人逆氣而背痛慍慍然不及則令人喘呼少氣而咳上氣見血下聞病音</p>
<p>又曰陽明厥逆喘咳身熱善驚衄血嘔血不可治驚者死</p>
<p>又曰手太陰厥逆虛滿而咳善嘔吐沫治主病者</p>

<h1>卷三</h1>
<p>師曰息搖肩者心中堅息引胸中上氣者咳息張口短氣者肺痿唾沫</p>
<p>趙氏以德衍義曰息者呼氣出粗類微喘而有聲也呼出心與肺今火乘肺故呼氣奔促而為息也搖肩者隨息氣搖動以火主動故也其心之經脈掣引也因心中有堅實之邪不得和於經脈故經脈抽掣搖動息引胸中上氣咳者胸中脈所主也宗氣之所在火炎於肺則肺收降之令不行反就燥而為固澀堅勁氣道不利所以上氣出於胸中者則咳也息張口短氣肺痿唾沫此又火炎於肺之甚者收降清肅之氣亡惟從火出故張口不合也宗氣亦衰而息短矣津液不布從火而為沫唾矣此仲景因呼息以為察病之法與後條吸對言以舉端耳然息病屬於內外者豈止此而已動搖與息相應者又寧獨在肩而已豈無陰虛以火動者焉如內經謂乳子中風熱喘鳴息肩者脈實大也緩則生急則死是又在脈別者也</p>
<p>師曰吸而微數其病在中焦實也當下之即愈虛者不治在上焦者其吸促在下焦者其吸遠此皆難治呼吸動搖振振者不治</p>
<p>趙氏曰谷之精氣乃分三隊清者化營濁者化沖其一為宗氣留胸中以行呼吸焉呼吸固資於宗氣然必自陰陽閣闢而為之機於是呼出者心肺主之吸入者腎肝主之心肺陽也腎肝陰陽若中焦有邪實則陰其升降宗氣因之不盛於上吸氣因之不達於下中道即還宗氣不盛則吸微中道即還則往來速速則數故吸而微數瀉中焦實則升降行而吸即平矣不因中焦實即是腎肝之陰虛根本不固其氣輕浮上走脫陰之陽宗氣亦衰若此者死曰有期尚可治乎然則上焦固是主乎呼下焦固是主乎吸若陰陽之配合則又未始有相離者故上焦亦得而候其吸焉而心肺之道近其真陰之虛者則從陽火而升不入乎下故吸促肝腎之道遠其元陽之衰者則因於陰邪所伏卒難升上故其吸遠此屬真陰元陽之病皆難以治若夫人身之筋骨血肉脈絡皆藉陰氣之所成生氣無所克然後以鎮靜而為化生之宇今陰氣憊矣生氣索矣器宇亦空矣惟呼吸之氣往來於其中故振振動搖不自禁也若此者即內經所謂出入廢則神機化滅是也故咸藥無及矣問曰陽病十八何謂也師曰頭痛項腰脊臂腳掣痛陰病十八何謂也師曰咳上氣喘噦咽腸鳴脹滿心痛拘急五藏病各有十八合為九十病人又有六微策有十八病合為一百八病五勞七傷六極婦人三十六病不在其中清邪居上濁邪居下大邪中表小邪中里谷飥之邪從口入者宿食也五邪中人各有法度風中於前寒中於後濕傷於下霧傷於上風令脈浮寒令脈急霧傷皮腠濕流關節食傷脾胃極寒傷經極熱傷絡</p>
<p>周氏揚俊補註曰此總內經所著之病而為之分陰陽悉表裡合上下內外以立言庶幾經絡明府藏著所因顯不致散而難稽也如三陽在外病頭痛等六證則各有所行之經各顯本經之證三而六之非十八乎而三陰之在裡者亦然五藏各有十八合計為九十病其為病則於靈樞論心脈為瘈□班班可考矣云云邪之所湊其氣必虛也</p>
<p>問曰熱在上焦者因咳為肺痿肺痿之病從何得之師曰或從汗出或從嘔吐或從消渴小便利數或從便難（脈經又作數）又被快藥下利重亡津液故得之曰寸口脈搏數其人咳口中反有濁有唾涎沫者何也師曰此為肺痿之病若口中辟辟咳燥（脈經作燥咳）即胸中隱隱痛脈反滑數此為肺痛咳唾膿血脈數虛者為肺痿數實者為肺痛</p>
<p>巢氏曰肺痿候肺主氣為五藏上蓋氣主皮毛故易傷於風邪風邪傷於府藏而血氣虛弱又因勞役大汗之後或經大十而亡津液律液竭絕肺氣壅塞不能宣通諸藏之氣因成肺萎也其病咳唾而嘔逆涎沫小便數是也咳唾咽燥欲飲者必愈欲咳而不能咳唾干沫而小便不利者難治診其寸口脈數肺萎也甚則脈浮弱</p>
<p>周氏曰按嘉言云人生之氣稟命於肺肺氣清肅則周身之氣草不服從而順行肺氣壅濁則周身之氣易致橫逆而犯上故肺痛者肺氣壅而不通也肺痿者肺氣痿而不振也才見久咳先須防此兩證肺痛由五藏蘊崇之火與胃中停蓄之熱上乘乎肺肺受火熱薰灼血為之凝痰為之裡遂成小痛所結之形漸長則肺曰脹而脅骨曰昂乃至咳聲步並痰濁如膠發熱畏寒曰晡尤甚面紅鼻燥胸生甲錯始先即能辯其脈證屬表屬裡極力開提攻下無不愈者迨至血化為膿肺葉朽壞傾里吐出始識其證十死不救嗟無及矣間有痛小氣壯胃強善食其膿不從口出或順趨肚門或旁穿脅仍可得生然不過十中二三耳仲景治法最精用力開提於未成膿之先今人施於既成膿之後其有濟平肺痿者其積漸己非一曰其寒熱不止一端總由胃中津液不輪於肺失其所養轉枯轉燥然後成之蓋肺金之生水精華四布者全藉胃土津液之富上供罔缺但胃中津液暗傷之竇最多粗工不知愛護或腠理素疏無故而大發其汗或中氣養餒步吐以傾倒其里或痹或消中飲水而渴不解泉竭自中或腸枯便秘強利以求其快漏卮難繼只此上供之津液坐耗岐途於是肺火曰熾肺熱曰深肺中小管曰窒咳聲以漸不揚胸中脂膜曰乾咳痰艱於上出行動數武氣即喘鳴衝擊連聲痰始一應金匱治法貴得其精意大要緩而圖之生胃津潤肺燥下逆氣開積痰止濁唾補真氣以通肺之小管散火熱以復肺之清肅如半身痿廢及手足痿軟治之得法亦能復起而肺近在胸中呼吸所關可不置力乎肺痛屬在有形之血血結宜驟攻肺痿屬在無形之氣氣傷宜徐理故痛為實證以肺痿治之是為實實痿為虛證以肺痛治之是為虛虛此辯證用藥之大略也然兩手寸口之脈原為手太陰肺脈此云寸口脈數云滑數云數實數虛皆指左右三部統言非如氣口獨主右關之上也其人咳口中反有濁唾涎沫頃之地者為肺痿言咳而口中不幹燥也若咳而口中辟辟則是肺己結痛火熱之毒出現於口咳聲上下觸動其痛胸中即而隱隱而痛其脈必見滑數有力正邪氣方盛之徵也數虛數實之脈以之分別肺痿肺痛是則肺痿當補肺痛當瀉明矣</p>
<p>問曰病咳逆脈之何以知此為肺痛當有膿血吐之則死其脈（脈經作葉之則死後竟吐膿血其脈何類）何類師曰寸口脈微而數微則為風數則為熱微則汗出數則惡寒風中於沖呼氣（脈經氣作吸）不入熱過於營吸而不出風傷皮毛熱傷血脈風舍於脈其人則咳口乾喘滿咽燥不渴多唾濁沫時時振寒熱之所過血為之凝滯蓄結痛膿吐如米粥始萌可救膿成則死</p>
<p>巢氏曰肺痛候肺痛者由風寒傷於肺其氣結聚所成也肺主氣候皮毛勞傷血氣腠理則開而受風寒其氣虛者寒乘虛傷肺寒摶於血蘊結成癰熱又加之積熱不散血敗為膿肺處胸間初肺傷於寒則微嗽肺癰之狀其人咳胸內滿隱隱痛而戰寒診其肺部脈緊為肺癰又肺痛喘而腳滿又寸口脈數而實咽乾口內辟辟燥不渴時時出濁唾腥臭久久吐膿如粳米粥者難治也又肺癰有膿而嘔者不須治其嘔膿止自愈又寸口脈微而數微則為風數則為熱微則汗出數則惡寒風中於沖呼氣不入數過於榮吸而不出風傷皮毛熱傷血脈舍於肺其人則嘔口乾喘有咽燥不渴唾而濁沫時時戰寒熱之所過血為凝滯蓄結癰膿吐如米粥始萌可救膿成則死又欲有膿者其脈緊數膿為未成其脈緊去但數膿為已成又肺病身當有熱咳嗽短氣唾出膿血其脈當短澀而反浮大其色當白而反赤者此是火之剋金大逆不治也</p>
<p>周氏日按嘉言云肺痛之脈既云滑數此復云微數者非脈之有不同也滑數者已成之脈微數者初起之因也初起左右三部脈數知為營吸其熱而畏寒然風初入衛尚隨呼氣而出不能深入所傷者不過在於皮毛皮毛者肺之合也風由所合以漸舍於肺俞而咳唾振寒茲時從外入者從外出之易易者若夫熱過於營即隨吸氣所入不出而傷其血脈矣衛中之風得營中之熱留戀固結於肺葉之間乃致血為凝滯以漸結為痛膿是則有形之敗濁必從瀉法而下驅之使其邪毒隨驅下移入胃入腹入腸再一驅即盡去不留矣安在始萌不救聽其膿成而腐改耶</p>
<p>上氣面浮腫肩息其脈浮大不治又加利尤甚</p>
<p>周氏曰肺為氣之總司主呼吸者也今云上氣至於面浮腫至為息肩是其肺氣壅逆而肩為動搖矣何也肺之所畏者人也設中焦邪實陰其升降而炎上之性有加無已則所呼之氣邪有以助之而所吸之氣不復下達遂使出入息肩矣加以脈浮大火勢方張本體既衰而邪削更甚又何法可令其內還而下趨乎故不治也然猶有可圖者庶幾中土尚培生氣未絕耳若加利為尤甚也</p>
<p>上氣喘而躁者屬肺脹欲作風水發汗則愈</p>
<p>周氏曰同一上氣也此則作喘而不息肩正以皮毛乃肺之合為邪所蔽遂令肺氣不得外達故寒傷營者亦作喘也彼躁陰也上氣何以復燥肺氣既塞遂令下流不化水既不化又令木氣不化疏此皆以母病而兼及於子也一其發汗則塞者得以外通矣逆者得以下達矣故日愈也</p>
<p>肺痿吐涎沫而不咳者其人不渴必遺尿小便數所以然者以上虛不能制下故也此為肺中冷必眩多涎唾甘草乾薑湯以溫之若服湯已渴者屬消渴甘草乾薑湯方　甘草四兩炙　乾薑二兩炮</p>
<p>右二味以水三升煮取一升五合去滓分溫再服</p>
<p>喻氏嘉言云肺熱則膀胱之氣化亦熱小便必赤澀而不能多若肺痿之候但吐涎沫而不咳復不渴反遺尿而小便數者何其與本病相反也必其人上虛不能制下以故小便無所收攝爾此為肺中冷陰氣上巔侮其陽氣故必眩陰寒之氣凝滯津液故多涎唾若始先不渴服溫藥即轉渴者明是消渴飲一溲二之證更當消息之矣</p>
<p>周氏曰按肺寒上虛也便數下虛也聖人只溫其中豈非以補其母則子自安總司之地溫而膀胱亦溫下泉無洌彼之患乎</p>
<p>咳而上氣喉中水難聲射干麻黃湯主之</p>
<p>射干麻黃湯方　射干三兩　麻黃四兩　生薑四兩　細辛三兩　紫苑三兩　款冬花三兩　五味子半升　大棗七枚　半夏半升洗</p>
<p>右九味以水一斗二升先煮麻黃二沸去七沫內諸藥煮取三升分溫三服喻氏云上氣聲如水雞明系痰陰其氣爾陰之務在去之而仲景不專於去痰者以肺受風寒主氣之司己為邪困而不能自持莫若主於發表而佐以潤燥下氣開鬱四法聚於一方內以分解其邪不使之合此因證定藥大之法也</p>
<p>咳逆上氣時時唾濁但坐不得眠皂莢丸主之</p>
<p>皂莢丸方　皂莢八兩刮去皮用酥炙</p>
<p>右一味末之蜜丸如梧子大以棗膏和湯服三丸日三夜一服</p>
<p>周氏曰經謂上氣者陰氣在下陽氣在上諸陽氣浮無所依從也今咳逆上氣是濁氣上干清虛之位反為濁陰所擄故雖時時唾而濁不為唾滅也皂莢性能驅濁其刺又能攻堅且得直達患處用意神巧誠不可思議者嘉言云大熱之毒聚結於肺表之溫之曾不少應堅而不可攻者用此丸豆大三粒朝三服暮一服吞適病所如棘咸遍刺四面還攻如是多日庶幾無堅不入聿成盪滌功不可以藥之微賤而少之也胸中手不可入即謂為代咸丸可矣</p>
<p>咳而脈浮者厚朴麻黃湯主之</p>
<p>厚朴麻黃湯方　厚朴五兩　麻黃四兩　石膏如錐子大　乾薑　細辛各二兩　杏仁　半夏　五味子各半升　小麥一升</p>
<p>右九味以水一斗二升先煮小麥熟去滓內諸藥煮取三升溫服一升日三服</p>
<p>周氏曰嘉言云若但咳而脈浮則外邪居多全以散邪為主用法即於小青龍湯中去桂枝芍藥甘草加厚朴石膏小麥仍從肺病起見所以桂枝之熱芍之收甘草之緩概示不用而加厚朴以下其氣石膏以清熱小麥引入胃中助其升發之氣一舉而表解脈和於以置力於本病然後破竹之勢可成爾一經裁酌直使小青龍載肺病騰空而去神哉</p>
<p>咳而脈沈者澤漆湯主之（脈經云咳家其脈沈不可發其汗）</p>
<p>澤漆湯方　半夏半升　紫參五兩一作紫苑　澤漆三升以東流水五斗　煮取一斗五升　生薑　白前各五兩　甘草　黃芩　人參　桂枝各三兩右九味㕮咀內澤漆汁中煮取五升溫服五合至夜盡</p>
<p>周氏曰浮為在表沈為在裡表裡二字與傷寒之表裡大殊表者邪在衛即肺之表也里者邪在營即肺之裡也熱過於營吸而不出其血必結血結則痰氣必為外里故用澤漆之破血為君加入開痰下氣清熱和營諸藥俾堅疊一空元氣不損制方之妙若此</p>
<p>火逆上氣咽喉不利止逆下氣者麥門冬湯主之</p>
<p>麥門冬湯方　麥冬七升　半夏一升　人參　甘草各二兩　粳米三合　大棗十二枚　右六味以水一斗二升煮取六升溫服一升日三夜一服</p>
<p>周氏曰嘉言云胃中津液枯燥虛火上炎之證治本之良法也夫用降火之藥而火反升用寒涼之藥而熱轉熾者徒知與火熱相爭未思及必不可得之數不惟無益而反害之凡肺病有胃氣則生無胃氣即死胃氣者肺之母氣也本草有知母之名者謂肺藉其清涼為肺之母也有貝母之名者謂肺藉其豁痰實豁痰為肺之母也然屢施於火逆上氣咽喉不利之證而屢不應名不稱矣孰知仲景有此妙法於麥冬人參甘草粳米大補中氣大生津液隊中增入半夏之辛溫一味其利嚥下氣非夏之功實善用半夏之功擅古今未有之奇焉</p>
<p>肺痛喘不得臥葶藶大棗瀉肺湯主之</p>
<p>葶藶熬令色黃搗丸如彈子大　大棗十二枚</p>
<p>右先以水三升煮棗取二升去棗內葶藶煮取一升頓服</p>
<p>周氏曰此治肺痛吃緊之方也肺中生痛不瀉何待恐日久痛膿已成瀉之無益日久肺氣已索瀉之轉傷惟血結而膿未成當急以瀉肺之法奪之況喘不得臥不云甚乎咳而胸滿振寒脈數咽乾不渴時濁吐（脈經作時時出振濁）腥臭久久吐膿如米粥者為肺痛桔梗湯主之</p>
<p>桔梗湯方　桔梗一兩　甘草二兩</p>
<p>右二味以水三升煮取一升分溫再服</p>
<p>又方（此方系宋人所增並錄之以備用）　桔梗　貝母　當歸　爪蔞仁　枳殼　薏苡仁　桑白皮　百合各一錢五分　五味子　葶藶　地骨皮甘草節　知母　防己　黃耆　杏仁各五分用清水煎服</p>
<p>周氏曰肺痛由熱結而成其濁唾腥臭因熱瘀而致故咳而胸滿是肺不利也振寒陽郁於里也咽乾不渴阻滯津液也延緩邪熱摶聚固結難散之勢用桔梗開之以散其毒甘草解之以消其毒庶幾可圖無使滋蔓即至久久吐膿之時亦仍可用此湯者一以桔梗可開之使下行亦可托之俾吐出一以甘草可以長血肉可以益金母也</p>
<p>咳而上氣此為肺脹其人喘目如脫狀脈浮大者越婢加半夏湯主之</p>
<p>越婢加半夏湯方　麻黃六兩　石膏半斤　生薑三兩　大棗十五枚　甘草二兩　半夏半升</p>
<p>右六味以水六升先煮麻黃去上沫內諸藥煮取三升分溫三服</p>
<p>周氏曰咳而上氣則其氣之有沖而不下可知矣其咳之相連而不已可知矣此皆屬肺之脹使之也邪入於肺則氣壅則欲不喘不可得唯喘極故目如脫所以狀脹與喘之至也脈浮邪也兼火則邪實而所心遺害於肺正未有已故必以辛熱發之亦兼以甘寒佐之使久合之邪渙然冰釋豈不</p>
