<header data-type="book">
<h1>靈樞心得</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡文渙</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1592">公元1592年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>《靈樞》、《素問》，其間問答多有重出處。然猶二書無害也。即一書亦有重出者，豈其義理深奧不憚，重於問答乎？抑因論彼而復及此乎？余茲選之，亦未免重者，重獨者逸，惟求當其要而順其文耳！覽者幸勿訝云。</p>
<p><u>錢塘胡文煥德甫識</u></p>

<h1>卷上</h1>

<h2>本輸</h2>
<p>肺出於少商，手大指端內側也。心出於中衝，手中指之端也。肝出於大敦，足大指之端，及三毛之中也。脾出於隱白，足大指之端內側也。腎出於湧泉，足心也。膀胱出於至陰，足小指之端也。膽出於竅陰，足小指次指之端也。胃出於厲兌，足大指內次指之端也。三焦者，上合手少陽，出於關衝，手小指次指之端也。三焦下腧，在於足大指之前，少陽之後，出於膕中外廉，是太陽絡也。手少陽經也。小腸者，上合於太陽，出於少澤，小指之端也。大腸上合手陽明，出於商陽，大指次指之端也。肺合大腸，大腸者，傳道之腑；心合小腸，小腸者，受盛之腑；肝合膽，膽者，中精之腑；脾合胃，胃者，五穀之腑；腎合膀胱，膀胱者，津液之腑也。少陽屬腎，腎上連肺，故將兩藏。三焦者，中瀆之腑也，水道出焉，屬膀胱，是孤之腑也。</p>

<h2>邪氣臟腑病形</h2>
<p>愁憂恐懼則傷心，形寒寒飲則傷肺，以其兩寒相感，中外皆傷，故氣逆而上行。有所墮墜，惡血留內，若有所大怒，氣上而不下，積於脅下，則傷肝。有所擊僕，若醉入房，汗出當風，則傷脾。有所用力舉重，若入房過度，汗出浴水，則傷腎。見其色，知其病，命曰明。按其脈，知其病，命曰神。問其病，知其處，命曰工。夫色脈與尺之相應也，如桴鼓影響之相應也，不得相失也，此亦本末根葉之出候也，故根死則葉枯矣。色脈形肉不得相失也，故知一則為工，知二則為神，知三則神且明矣。色青者，其脈弦也；赤者，其脈鉤也；黃者，其脈代也；白者，其脈毛；黑者，其脈石。見其色而不得其脈，反得其相勝之脈，則死矣；得其相生之脈，則病已矣。先定其五色五脈之應，其病乃可別也。心脈急甚者為瘛瘲，微急為心痛引背，食不下。緩甚為狂笑；微緩為伏梁，在心下，上下行，時唾血。大甚為喉吤；微大為心痹引背，善淚出。小甚為善噦，微小為消癉。滑甚為善渴；微滑為心疝引臍，小腹鳴。澀甚為喑；微澀為血溢，維厥，耳鳴，顛疾。肺脈急甚為癲疾；微急為肺寒熱，怠惰，咳唾血，引腰背胸，若鼻息肉不通。緩甚為多汗；微緩為痿瘻，偏風，頭以下汗出不可止。大甚為脛腫；微大為肺痹引胸背，起惡日光；小甚為泄，微小為消癉。滑甚為息賁上氣，微滑為上下出血。澀甚為嘔血；微澀為鼠瘻，在頸支腋之間，下不勝其上，其應善酸矣。肝脈急甚者為惡言；微急為肥氣，在脅下若覆杯。緩甚為善嘔；微緩為水瘕痹也。大甚為內癰，善嘔衄；微大為肝痹，陰縮，咳引小腹。小甚為多飲；微小為消癉。滑甚為㿉疝；微滑為遺溺。澀甚為溢飲；微澀為瘛攣筋痹。脾脈急甚為瘛瘲；微急為膈中，食飲入而還出，後沃沫。緩甚為痿厥；微緩為風痿，四肢不用，心慧然若無病。大甚為擊樸；微大為痞氣；腹裡大膿血，在腸胃之外。小甚為寒熱；微小為消癉。滑甚為㿉癃；微滑為蟲毒蛔蠍腹熱。澀甚為腸㿉。微澀為內㿉，多下膿血。腎脈急甚為骨癲疾；微急為沉厥奔豚，足不收，不得前後。緩甚為折脊；微緩為洞，洞者，食不化，下嗌還出。大甚為陰痿；微大為石水，起臍已下至小腹腄腄然，上至胃脘，死不治。小甚為洞泄；微小為消癉。滑甚為癃㿉，微滑為骨痿，坐不能起，起則目無所見。澀甚為大癰；微澀為不月沉痔。諸急者多寒；緩者多熱；大者多氣少血；小者血氣皆少；滑者陽氣盛，微有熱；澀者多血少氣，微有寒。面熱者，足陽明病；魚絡血者，手陽明病；兩跗之上脈豎陷者，足陽明病，此胃脈也。大腸病者，腸中切痛，而鳴濯濯，冬日重感於寒即泄，當臍而痛，不能久立，與胃同候。小腸病者，小腹痛，腰脊控睪（音高）而痛，時窘之後，當耳前熱。若寒甚，若獨肩上熱甚，及手小指次指之間熱，若脈陷者，此其候也。手太陽病也。三焦病者，腹氣滿，小腹尤堅，不得小便，窘急，溢則水，留即為脹，候在足太陽之外大絡，大絡在太陽、少陽之間，亦見於脈。膀胱病者，小腹偏腫而痛，以手按之，即欲小便而不得，肩上熱若脈陷，及足小趾外廉及脛踝後皆熱。膽病者，善太息，口苦，嘔宿汁，心下澹澹，恐人將捕之，嗌中吤吤然，數唾，在足少陽之本末。</p>

<h2>根結</h2>
<p>一日一夜五十營，以營五臟之精，不應數者，名曰狂生。所謂五十營者，五藏皆受氣，持其脈口，數其至也。五十動而不一代者，五藏皆受氣；四十動一代者，一藏無氣；三十動一代者，二藏無氣；二十動一代者，三藏無氣；十動一代者，四藏無氣，不滿十動一代者，五藏無氣，所謂五十動而不一代者，以為常也。形氣不足，病氣有餘，是邪勝也，急瀉之。形氣有餘，病氣不足，急補之。形氣不足，病氣不足，此陰陽氣俱不足也，不可刺之，刺之則重不足，重不足則陰陽俱竭，血氣皆盡，五藏空虛，筋骨髓枯，老者絕滅，壯者不復矣。形氣有餘，病氣有餘，此謂陰陽俱有餘也，急瀉其邪，調其虛實。故曰：有餘者瀉之，不足者補之。</p>

<h2>壽夭剛柔</h2>
<p>在內者，五藏為陰，六腑為陽；在外者，筋骨為陰，皮膚為陽。病在陽者命曰風，病在陰者命曰痹，陰陽俱病命曰風痹。病有形而不痛者，陽之類也；無形而痛者，陰之類也。無形而痛者，其陽完而陰傷之也，急治其陰，無攻其陽；有形而不痛者，其陰完而陽傷之也，急治其陽，無攻其陰。陰陽俱動，乍有形，乍無形，加以煩心，命曰陰勝其陽，此謂不表不里，其形不久。風寒傷形，憂恐忿怒傷氣。氣傷臟，乃病臟；寒傷形，乃應形；風傷筋脈，筋脈乃應。此形氣外內之相應也。形與氣相任則壽，不相任則夭。皮與肉相果則壽，不相果則夭。血氣經絡，勝形則壽，不勝形則夭。形充而皮膚緩者則壽，形充而皮膚急者則夭，形充而脈堅大者順也，形充而脈小以弱者氣衰，衰則危矣。若形充而顴不起者骨小，骨小而夭矣；形充而大肉㿉堅而有分者肉堅，肉堅則壽矣；形充而大肉無分理不堅者肉脆，肉脆則夭矣。此天之生命，所以立形定氣而視壽夭者。必明乎此，立形定氣，而後以臨病人，決死生。平人而氣勝形者壽，病而形肉脫，氣勝形者死，形勝氣者危矣。</p>

<h2>本神</h2>
<p>天之在我者氣也，德流氣薄而生者也，故生之來謂之精，兩精相搏謂之神，隨神往來者謂之魂，並精而出入者謂之魄，所以任物者謂之心，心有所憶謂之意，意之所存謂之志，因志而存變謂之思，因思而遠慕謂之慮，因慮而處物謂之智。故智者之養生也，必順四時而適寒暑，和喜怒而安居處，節陰陽而調剛柔，如是則僻邪不至，長生久視。是故怵惕思慮者則傷神，神傷則恐懼流淫而不止。因悲哀動中者，竭絕而失生；喜樂者，神憚散而不藏；愁憂者，氣閉塞而不行；盛怒者，迷惑而不治；恐懼者，神蕩憚而不收。心怵惕思慮則傷神，神傷則恐懼自失，破㿉脫肉，毛悴色夭，死於冬。脾愁憂而不解則傷意，意傷則悗亂，四肢不舉，毛悴色夭，死於春。肝悲哀動中則傷魂，魂傷則忘不精，不精則不正，當人陰縮而攣筋，兩脅骨不舉，毛悴色夭，死於秋。肺喜樂無極則傷魄，魄傷則狂，狂者意不存人，皮革焦，毛悴色夭，死於夏。腎盛怒而不止則傷志，志傷則喜忘其前言，腰脊不可以俯仰屈伸，毛悴色夭，死於季夏。恐懼而不解則傷精，精傷則骨酸痿厥，精時自下。是故五藏主藏精者也，不可傷，傷則失守而陰虛，陰虛則無氣，無氣則死矣。肝藏血，血舍魂，肝氣虛則恐，實則怒。脾藏營，營舍意，脾氣虛則四肢不用，五藏不安，實則腹脹，經溲不利。心藏脈，脈舍神，心氣虛則悲，實則笑不休。肺藏氣，氣舍魄，肺氣虛則鼻塞不利少氣，實則喘喝胸盈仰息。腎藏精，精舍志，腎氣虛則厥，實則脹，五藏不安。必審五藏之病形，以知其氣之虛實，謹而調之也。</p>

<h2>終結</h2>
<p>平人不病者，脈口人迎應四時也，上下相應而俱往來也，六經之脈不結動也，本末之寒溫之相守司也，形肉血氣必相稱也。少氣者，脈口、人迎俱少，而不稱尺寸也。如是者，則陰陽俱不足，補陽則陰竭，瀉陰則陽脫。可將以甘藥，不愈，可飲以至劑。不已者，因而瀉之，則五藏氣壞矣。春氣在毛，夏氣在皮膚，秋氣在分肉，冬氣在筋骨。</p>

<h2>凡刺之禁</h2>
<p>新內勿刺，新刺勿內；已醉勿刺，已刺勿醉；新怒勿刺，已刺勿怒；新勞勿刺，已刺勿勞；已飽勿刺，已刺勿飽；已飢勿刺，已刺勿飢；已渴勿刺，已刺勿渴。</p>
<p>太陽之脈，其終也，戴眼，反折，瘛瘲，其色白，絕皮乃絕汗，絕汗則終矣。少陽終者，耳聾，百節盡縱，目系絕，目系絕一日半則死矣，其死也，色青白乃死。陽明終者，口目動作，喜驚，妄言，色黃，其上下之經盛而不行，則終矣。少陰終者，面黑齒長而垢，腹脹閉塞，上下不通而終矣。厥陰終者，中熱咽乾，喜尿，心煩，甚則舌卷卵上縮而終矣。太陰終者，腹脹悶，不得息，氣噫善嘔，嘔則逆，逆則面赤，不逆則上下不通，上下不通則面黑皮毛焦而終矣。</p>

<h2>經脈</h2>
<p>人始生，先成精，精成而腦髓生，骨為幹，脈為營，筋為剛，肉為牆，皮膚堅而毛髮長，谷入胃，脈道以通，血氣乃行。經脈者，所以能決死生，處百病，調虛實，不可不通。肺手太陰之脈，起於中焦，下絡大腸，還循胃口，上膈屬肺，從肺系橫出腋下，下循臑內，行少陰心主之前，下肘中，循臂內上骨下廉，入寸口，上魚，循魚際，出大指之端；其支者，從腕後直出次指內廉，出其端。是動則病肺脹滿，膨膨而喘咳，缺盆中痛，甚則交兩手而瞀（音務），此為臂厥。是主肺所生病者，咳，上氣喘渴，煩心胸滿，臑臂內前廉痛厥，掌中熱。氣盛有餘，則肩背痛風寒，汗出，中風，小便數而欠。氣虛則肩背痛寒，少氣不足以息，尿色變。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大三倍於人迎，虛者則寸口反小於人迎也。大腸手陽明之脈，起於大指次指之端，循指上廉，出合谷兩骨之間，上入兩筋之中，循臂上廉，入肘外廉，上臑外前廉，上肩，出髃骨之前廉，上出於柱骨之會上，下入缺盆絡肺，下膈屬大腸；其支者，從缺盆上頸貫頰，入下齒中，還出挾口，交人中，左之右，右之左，上挾鼻孔。是動則病齒痛頸腫。是主津液所生病者，目黃口乾，鼽衄，喉痹，肩前臑痛，大指次指痛不用。氣有餘則當脈所過者熱腫，虛則寒慄不復。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大三倍於寸口，虛者人迎反小於寸口也。胃足陽明之脈，起於鼻之交頞中，旁納（一本作約字）太陽之脈，下循鼻外，上入齒中，還出挾口環唇，下交承漿，卻循頤後下廉，出大迎，循頰車，上耳前，過客主人，循髮際，至額顱；其支者，從大迎前下人迎，循喉嚨，入缺盆，下膈屬胃絡脾；其直者，從缺盆下乳內廉，下挾臍，入氣街中；其支者，起於胃口，下循腹裡，下至氣街中而合，以下髀關，抵伏兔，下膝臏中，下循頸外廉，下足跗，入中指內間；其支者，下廉三寸而別，下入中指外間；其支者，別跗上，入大指間，出其端。是動則病洒洒振寒，善呻數欠顏黑，病至，則惡人與火，聞木聲則惕然而驚，心欲動，獨閉戶塞牖而處，甚則欲上高而歌，棄衣而走，賁響腹脹，是為骭厥。是主血所生病者，狂虐溫淫汗出，鼽衄，口唇胗，頸腫喉痹，大腹水腫，膝臏腫痛，循膺、乳、氣街、股、伏兔、骭外廉、足跗上皆痛，中指不用。氣盛則身以前皆熱，其有餘於胃，則消穀善飢，尿色黃。氣不足則身以前皆寒粟，胃中寒則脹滿。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大三倍於寸口，虛者人迎反小於寸口也。脾足太陰之脈，起於大指之端，循指內側白肉際，過核骨後，上內踝前廉，上腨內，循脛骨後，交出厥陰之前，上循膝股內前廉，入腹屬脾絡胃，上膈，挾咽，連舌本，散舌下；其支者，復從胃，別上膈，注心中。是動則病舌本強，食則嘔，胃脘痛，腹脹善噫，得後與氣則快然如衰，身體皆重。是主脾所生病者，舌本痛，體不能動搖，食不下，煩心，心下急痛，溏瘕泄，水閉，黃疸，不能臥，強立股膝內腫厥，足大指不用。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大三倍於人迎，虛者寸口反小於人迎。心手少陰之脈，起於心中，出屬心系，下膈絡小腸；其支者，從心系上挾咽，系目系；其直者，復從心系卻上肺，出腋下，下循臑內後，廉行太陰心主之後，下肘內，循臂內後廉，抵掌後銳骨之端，入掌內後廉，循小指之內出其端。是動則病嗌乾心痛，渴而欲飲，是為臂厥。是主心所生病者，目黃脅痛，臑臂內後廉痛厥，掌中熱痛。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大再倍於人迎，虛者寸口反小於人迎也。小腸手太陽之脈，起於小指之端，循手外側上腕，出踝中，直上循臂骨下廉，出肘內側兩筋之間，上循臑外後廉，出肩解，繞肩胛，交肩上，入缺盆絡心，循咽下膈，抵胃屬小腸；其支者，從缺盆循頸上頰，至目銳皆，卻入耳中；其支者，別頰上䪼抵鼻，至目內眥，斜絡於顴。是動則病嗌痛頷腫，不可以顧，肩似拔，臑似折。是主液所生病者，耳聾目黃頰腫，頸頷肩臑肘臂外後廉痛。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大再倍於寸口，虛者人迎反小於寸口也。膀胱足太陽之脈，起於目內眥，上額交巔；其支者，從巔至耳上角；其直者，從巔入絡腦，還出別下項，循肩髆內，挾脊抵腰中，入循膂，絡腎屬膀胱；其支者，從腰中下挾脊貫臀，入膕中；其支者，從髆內左右，別下貫脾，挾脊內，過髀樞，循髀外從後廉下合膕中，以下貫踹內，出外踝之後，循京骨，至小指之端外側。是動則病沖頭痛，目似脫，項如拔，脊痛腰似折，髀不可以曲。膕如結，踹如裂，是為踝厥。是主筋所生病者，痔瘧狂癲疾，頭囟項痛，目黃淚出鼽衄，項背腰尻膕踹腳皆痛，小指不用。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大再倍於寸口，虛者人迎反小於寸口也。腎足少陰之脈，起於小指之下，斜走足心，出於然谷之下，循內踝之後，別入跟中，以上踹內，出膕內廉，上股內後廉，貫脊屬腎絡膀胱；其直者，從腎上貫肝膈，入肺中，循喉嚨，挾舌本；其支者，從肺出絡心，注胸中。是動則病飢不欲食，面如漆柴，咳唾則有血，喝喝而喘，坐而欲起，目䀮䀮如無所見，心如懸若飢狀，氣不足則善恐，心惕惕如人將捕之，是為骨厥。是主腎所生病者，口熱舌乾，咽腫上氣，嗌乾及痛，煩心心痛，黃疸腸澼，脊股內後廉痛，痿厥嗜臥，足下熱而痛。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。灸則強食生肉，緩帶被髮，大杖重履而步。盛者寸口大再倍於人迎，虛者寸口反小於人迎也。心主手厥陰心包絡之脈，起於胃中，出屬心包絡，下膈，歷絡三焦；其支者，循胸出脅，下腋三寸，上抵腋，下循臑內，行太陰少陰之間，入肘中，下循臂行兩筋之間，入掌中，循中指出其端；其支者，別掌中，循小指次指出其端。是動則病手心熱，臂肘攣急，腋腫，甚則胸脅支滿，心中憺憺大動，面赤目黃，喜笑不休。是主脈所生病者，煩心心痛，掌中熱。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大一倍於人迎，虛者寸口反小於人迎也。三焦手少陽之脈，起於小指次指之端，上出兩指之間，循手表腕，出臂外兩骨之間，上貫肘，循臑外上肩，而交出足少陽之後，入缺盆，布膻中，散落心包，下膈，循屬三焦；其支者，從膻中上出缺盆，上項，挾耳後直上，出耳上角，以屈下頰至䪼；其支者，從耳後入耳中，出走耳前，過客主人前，交頰，至目銳眥。是動則病耳聾渾渾焞焞，嗌腫喉痹。是主氣所生病者，汗出，目銳眥痛，頰痛，耳後肩臑肘臂外皆痛，小指次指不用。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大一倍於寸口，虛者人迎反小於寸口也。膽足少陽之脈，起於目銳眥，上抵頭角，下耳後，循頸行手少陽之前，至肩上，卻交出手少陽之後，入缺盆；其支者，從耳後入耳中，出走耳前，至目銳眥後；其支者，別銳眥，下大迎，合於手少陽，抵於䪼，下加頰車，下頸合缺盆以下胸中，貫膈絡肝屬膽，循脅裡，出氣街，繞毛際，橫入髀厭中；其直者，從缺盆下腋，循胸過季脅，下合髀厭中；以下循髀陽，出膝外廉，下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上，入小指次指之端；其支者，別跗上，入大指之間，循大指歧骨內出其端，還貫爪甲，出三毛。是動則病口苦，善太息，心脅痛不能轉側，甚則面微有塵，體無膏澤，足外反熱，是為陽厥。是主骨所生病者，頭痛頷痛，目銳眥痛，缺盆中腫痛，腋下腫，馬刀俠癭，汗出振寒瘧，胸脅肋髀膝外至脛絕骨外踝前及諸節皆痛，小指次指不用。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大一倍於寸口，虛者人迎反小於寸口也。肝足厥陰之脈，起於大指叢毛之際，上循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後，上膕內廉，循股陰入毛中，過陰器，抵小腹，挾胃屬肝絡膽，上貫膈，布脅肋，循喉嚨之後，上入頏顙，連目系，上出額，與督脈會於巔；其支者，從目系下頰裡，環唇內；其支者，復從肝別貫膈，上注肺。是動則病腰痛不可以俛仰，丈夫㿉疝；婦人少腹腫，甚則嗌乾，面塵脫色。是肝所生病者，胸滿嘔逆飧泄，狐疝遺溺閉癃。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大一倍於人迎，虛者寸口反小於人迎也。手太陰氣絕，則皮毛焦。太陰者，行氣溫於皮毛者也，故氣不榮則皮毛焦，皮毛焦則津液去，津液去則皮節傷，皮節傷則皮枯毛折，毛折者則毛先死，丙篤丁死，火勝金也。手少陰氣絕，則脈不通，脈不通則血不流，血不流則毛色不澤，故其面黑如漆柴者，血先死，壬篤癸死，水勝火也。足太陰氣絕者，則脈不榮肌肉，唇舌者，肌肉之本也，脈不榮則肌肉軟，肌肉軟則舌萎人中滿，人中滿則唇反，唇反者肉先死，甲篤乙死，水勝土也。足少陰氣絕，則骨枯，少陰者冬脈也，伏行而濡骨髓者也，故骨不濡則肉不能著骨也，骨肉不相親則肉軟卻，肉軟卻故齒長而垢，發無澤，發無澤者骨先死，戊篤己死，土勝水也。足厥陰氣絕，則筋絕。厥陰者肝脈也，肝者筋之合也，筋者聚於陰器，而脈絡於舌本也，故脈弗榮則筋急，筋急則引舌與卵，故唇青舌卷卵縮則筋先死，庚篤辛死，金勝水也。五陰氣俱絕，則目系轉，轉則目運，目運者為志先死，志先死則遠一日半死矣。六陽氣俱絕，則陰與陽相離，離則腠理發泄，絕汗乃出，故旦占夕死，夕占旦死。經脈十二者，伏行分肉之間，深而不見。其常見者，足太陰過於內踝之上，無所隱故也。諸脈之浮而常見者，皆絡脈也。六經絡手陽明少陽之大絡，起於五指間，上合肘中。飲酒者，衛氣先行皮膚，先充絡脈，絡脈先盛，故衛氣已平，營氣乃滿，而經脈大盛。脈之卒然動者，皆邪氣居之，留於本末；不動則熱，不堅則陷且空，不與眾同，是以知其何脈之病也。經脈者常不可見也，其虛實也以氣口知之，脈之見者皆絡脈也。諸絡脈皆不能經大節之間，必行絕道而出，入復合於皮中，其會皆見於外，故凡診絡脈，脈色青則寒且痛，赤則有熱。胃中寒，手魚之絡多青矣；胃中有熱，魚際絡赤。其暴黑者，留久痹也；其有赤有黑有青者，寒熱氣也。其青短者少氣也。手太陰之別，名曰列缺，起於腕上分間，並太陰之經直入掌中，散入於魚際。其病甚則手銳掌熱，虛則欠㰦，小便遺數，取之去腕寸半，別走陽明也。手少陰之別，名曰通里，去腕一寸，別而上行，循經入於心中，系舌本，屬目系。其實則支膈，虛則不能言，取之掌後一寸，別走太陽也。手心主之別，名曰內關，去腕二寸，出於兩筋之間，循經以上，繫於心包，絡心系。實則心痛，虛則為煩心，取之兩筋間也。手太陽之別，名曰支正，去腕五寸，內注少陰；其別者，上走肘，絡肩髃。實則節弛肘廢，虛則生疣，小者如指痂疥，取之所別也。手陽明之別，名曰偏歷，去腕三寸，別走太陰；其別者，上循臂，乘肩髃，上曲頰偏齒；其別者，入耳合於宗脈。實則齲聾，虛則齒寒痹隔，取之所別也。手少陽之別，名曰外關，去腕二寸，外達臂，注胸中，合心主。病實則肘攣，虛則不收，取之所別也。足太陽之別，名曰飛揚，去踝七寸，別走少陰。實則鼽窒頭背痛；虛則鼽衄，取之所別也。足少陽之別，名曰光明，去踝五寸，別去厥陰，並經下絡足跗。實則厥，虛則痿躄，坐不能起，取之所別也。足陽明之別，名曰豐隆，去踝八寸，別走太陰；其別者，循脛骨外廉，上絡頭項，合諸經之氣，下絡喉嗌。其病氣逆則喉痹瘁喑，實則狂巔，虛則足不收，脛枯，取之所別也。足太陰之別，名曰公孫，去本節之後一寸，別走陽明；其別者，入絡腸胃。厥氣上逆則霍亂，實則腹中切痛，虛則鼓脹，取之所別也。足少陰之別，名曰大鐘，當踝後繞跟，別走太陽；其別者，並經上走於心包，下外貫腰脊。其病氣逆則煩悶，實則閉癃，虛則腰痛，取之所別者也。足厥陰之別，名曰蠡溝，去內踝五寸，別走少陽；其別者，徑脛上睪，結於莖。其病氣逆則睪腫卒疝，實則挺長，虛則暴癢，取之所別也。</p>
<p>任脈之別，名曰尾翳，下鳩尾，散於腹。實則腹皮痛，虛則癢搔，取之所別也。</p>
<p>督脈之別，名曰長強，挾膂上項，散頭上，下當肩胛左右，別走太陽，入貫膂。實則脊強，虛則頭重，高搖之，挾脊之有過者，取之所別也。</p>
<p>脾之大絡，名曰大包，出淵腋下三寸，布胸脅。實則身盡痛，虛則百節盡皆縱，此脈若羅絡之血者，皆取之脾之大絡脈也。凡此十五絡者，實則必見，虛則必下，視之不見，求之上下，人經不同，絡脈異所別也。</p>

<h2>經別</h2>
<p>足太陽之正，別入於膕中，其一道下尻五寸，別入於肛，屬於膀胱，散之腎，循膂當心入散；直者，從膂上出於項，復屬於太陽，此為一經也。足少陰之正，至膕中，別走太陽而合，上至腎，當十四傾，出屬帶脈；直者，系舌本，復出於項，合於太陽，此為一合。成以諸陰之別，皆為正也。足少陽之正，繞髀入毛際，合於厥陰；別者，入季脅之間，循胸裡，屬膽，散之肝上，貫心，以上挾咽，出頤頷中，散於面，系目系，合少陽之外眥也。足厥陰之正，別跗上，上至毛際，合於少陽，與別俱行，此為二合也。足陽明之正，上至髀，入於腹裡，屬胃，散之脾，上通於心，上循咽出於口，上額䪼，還系目系，合於陽明也。足太陰之正，上至髀，合於陽明，與別俱行，上結於咽，貫舌中，此為三合也。手太陽之正，指地，別於肩解，入腋走心，系小腸也。手少陰之正，別入於淵腋兩筋之間，屬於心，上走喉嚨，出於面，合目內眥，此為四合也。手少陽之正，指天，別於巔，入缺盆，下走三焦，散於胸中也。手心主之正，別下淵腋三寸，入胸中，別屬三焦，出循喉嚨，出耳後，合少陽完骨之下，此為五合也。手陽明之正，從手循膺乳，別於肩髃，入柱骨下，走大腸，屬於肺，上循喉嚨，出缺盆，合於陽明也。手太陰之正，別入淵腋少陰之前，入走肺，散之太陽，上出缺盆，循喉嚨，復合陽明，此六合也。</p>

<h2>經水</h2>
<p>足太陽外合於清水，內屬於膀胱，而通水道焉。</p>
<p>足少陽外合於渭水，內屬於膽。</p>
<p>足陽明外合於海水，內屬於胃。</p>
<p>足太陽外合於湖水，內屬於脾。</p>
<p>足少陽外合於汝水，內屬於腎。</p>
<p>足厥陰外合於澠水、內屬於肝。</p>
<p>手太陽外合於淮水，內屬於小腸，而水道出焉。</p>
<p>手少陽外合於漯水，內屬於三焦。</p>
<p>手陽明外合於江水，內屬於大腸。</p>
<p>手太陰外合於河水，內屬於肺。</p>
<p>手少陰外合於濟水，內屬於心。</p>
<p>手心主外合於漳水，內屬於心包。</p>
<p>凡此五臟六腑十二經水者，外有源泉，而內有所稟。此皆內外相貫，如環無端，人經亦然。故天為陽，地為陰，腰以上為天，腰以下為地。故海以北者為陰，湖以北者為陰中之陰，漳以南者為陽，河以北至漳者為陽中之陰，漯以南至江者為陽中之太陽，此一隅之陰陽也，所以人與天地相參也。</p>

<h2>經筋</h2>
<p>足太陽之筋，起於足小指上，結於踝，邪上結於膝，其下循足外側，結於踵，上循跟，結於膕；其別者，結於踹外，上膕中內廉，與膕中並上結於臀，上挾脊上項；其支者，別入結於舌本；其直者，結於枕骨，上頭下顏，結於鼻；其支者，為目上網，下結於頄；其支者，從腋後外廉，結於肩髃；其支者，入腋下，上出缺盆，上結於完骨；其支者，出缺盆，邪上出於頄。其病小指支，跟腫痛，膕攣，脊反折，項筋急，肩不舉，腋支，缺盆中紐痛，不可左右搖。治在燔針劫刺，以知為數，以痛為輸，名曰仲春痹。</p>
<p>足少陽之筋，起於小指次指，上結外踝，上循脛外廉，結於膝外廉；其支者，別起外輔骨，上走髀，前者結於伏兔之上，後者結於尻；其直者，上乘䏚季脅，上走腋前廉，繫於膺乳，結於缺盆；直者，上出腋，貫缺盆，出太陽之前，循耳後，上額角，交巔上，下走頷，上結於頄；支者，結於目眥為外維。其病小指次指支轉筋，引膝外轉筋，膝不可屈伸，膕筋急，前引髀，後引尻，即上乘䏚季脅痛，上引缺盆膺乳頸，維筋急，從左之右，右目不開，上過右角，並蹻脈而行，左絡於右，故傷左角，右足不用，命曰維筋相交。治在燔針劫刺，以知為數，以痛為輸，名曰孟春痹也。</p>
<p>足陽明之筋，起於中三指，結於跗上，邪外上加於輔骨，上結於膝外廉，直上結於髀樞，上循脅，屬脊；其直者，上循髀，結之於尻；其支者，結於外輔骨，合少陽；其直者，上循伏兔，上結於髀，聚於陰器，上腹而布，至缺盆而結，上頸，上挾口，合於頄，下結於鼻，上合於太陽，太陽為目上網，陽明為目下網；其支者，從頰結於耳前。其病足中指支脛轉筋，腳跳堅，伏兔轉筋，髀前腫，潰疝，腹筋急，引缺盆及頰，卒口僻，急者目不合，熱則筋縱，目不開。頰筋有寒，則急引頰移口；有熱則筋弛縱緩，不勝收故僻。治之以馬膏膏，其急者，以白酒和桂以塗，其緩者，以桑鉤鉤之，即以生桑灰置之坎中，高下以坐等，以膏熨急頰，且飲美酒，啖美炙肉，不飲酒者，自強也，為之三拊而已。治在燔針劫刺，以知為數，以痛為輸，名曰季春痹也。</p>
<p>足太陰之筋，起於大指之端內側，上結於內踝；其直者，絡於膝內輔骨，上循陰股，結於髀，聚於陰器，上腹，結於臍，循腹裡，結於肋，散於胸中；其內者，著於脊。其病足大指支，內踝痛，轉筋痛，膝內輔骨痛，陰股引髀而痛，陰器紐痛，下引臍兩脅痛，引膺中脊內痛。治在燔針劫刺，以知為數，以痛為輸，命曰孟秋痹也。</p>
<p>足少陰之筋，起於小指之下，並足太陰之筋，邪走內踝之下，結於踵，與太陽之筋合而上結於內輔之下，並太陰之筋而上循陰股，結於陰器，循脊內挾膂，上至項，結於枕骨，與足太陽之筋合。其病足下轉筋，及所過而結者皆痛及轉筋。病在此者主癇瘛及痙，以外者不能俯，在內者不能仰。故陽病者腰反折不能俯，陰病者不能仰。治在燔針劫刺，以知為數，以痛為輸，在內者熨引飲藥。此筋所紐，紐發數甚者，死不治，名曰仲秋痹也。</p>
<p>足厥陰之筋，起於大指之上，上結於內踝之前，上循脛，上結內輔之下，上循陰股，結於陰器，絡諸筋。其病足大指支，內踝之前痛，內輔痛，陰股痛轉筋，陰器不用，傷於內則不起，傷於寒則陰縮入，傷於熱則縱挺不收。治在行水清陰氣。其病轉筋者，治在燔針劫刺，以知為數，以痛為輸，命曰季秋痹也。</p>
<p>手太陽之筋，起於小指之上，結於腕，上循臂內廉，結於肘內銳骨之後，彈之應小指之上，結於腋下；其支者，後走腋後廉，上繞肩胛，循脛出走太陽之前，結於耳後完骨；其支者，入耳中；直者，出耳上，下結於頷，上屬目外眥。其病小指支肘內銳骨後廉痛，循臂陰入腋下，腋下痛，腋後廉痛，繞肩胛引頸而痛，應耳中鳴痛，引頷目瞑，良久乃得視，頸筋急則為筋痿頸腫。寒熱在頸者，治在燔針劫刺之，以知為數，以痛為輸，其為腫者，復而銳之。本支者，上曲牙，循耳前屬目外眥，上頷結於角，其痛當所過者支轉筋，治在燔針劫刺，以知為數，以痛為輸，名曰仲夏痹也。</p>
<p>手少陽之筋，起於小指次指之端，結於腕，上循臂結於肘，上繞臑外廉，上肩走頸，合手太陽；其支者，當曲頰入系舌本；其支者，上曲牙，循耳前，屬目外眥，上乘頷，結於角。其病當所過者即支轉筋，舌卷。治在燔針劫刺，以知為數，以痛為輸，名曰季夏痹也。</p>
<p>手陽明之筋，起於大指次指之端，結於腕，上循臂，上結於肘外，上臑結於髃；其支者，繞肩胛，挾脊；直者，從肩髃上頸；其支者，上頰，結於頄；直者，上出手太陽之前，上左角，絡頭，下右頷。其病當所過者支痛及轉筋，肩不舉，頸不可左右視。治在燔針劫刺，以知為數，以痛為輸，名曰孟夏痹也。</p>
<p>手太陰之筋，起於大指之上，循指上行，結於魚後，行寸口外側，上循臂，結肘中，上臑內廉，入腋下，出缺盆，結肩前髃上結缺盆，下結胸裡，散貫賁，合賁下，抵季脅。其病當所過者支轉筋痛，甚成息賁，脅急吐血。治在燔針劫刺，以知為數，以痛為輸，名曰仲冬痹也。</p>
<p>手心主之筋，起於中指，與太陰之筋並行，結於肘內廉，上臂陰，結腋下，下散前後挾脅；其支者，入腋散胸中，結於賁。其病當所過者支轉筋，前及胸痛息賁。治在燔針劫刺，以知為數，以痛為輸，名曰孟冬痹也。</p>
<p>手少陰之筋，起於小指之內側，結於銳骨，上結肘內廉，下入腋，交太陰，挾乳里，結於胸中，循臂下繫於臍，其病內急，心承伏梁，下為肘網。其病當所過者支轉筋，筋痛。治在燔針劫刺，以知為數，以痛為輸。其成伏梁唾血膿者，死不治。經筋之病，寒則反折筋急，熱則筋弛縱不收，陰痿不用。陽急則反折，陰急則俛不伸。焠刺者，刺寒急也，熱則筋縱不收，無用燔針。名曰季冬痹也。足之陽明，手之太陽，筋急則口目為噼，目眥急不能卒視，治皆如上方也。</p>

<h2>骨度</h2>
<p>頭之大骨圍二尺六寸，胸圍四尺五寸，腰圍四尺二寸。發所復者，顱至項尺二寸，發以下至頤長一尺，男子參折。結喉以下至缺盆中長四寸，缺盆以下至𩩲𩨗長九寸，過則肺大，不滿則肺小。𩩲𩨗以下至天樞長八寸，過則胃大，不及則胃小。天樞以下至橫骨長六寸半，過則迴腸廣長，不滿則狹短。橫骨長六寸半，橫骨上廉以下至內輔之上廉長一尺八寸，內輔之上廉長一尺八寸，內輔之上廉以下至下廉長三寸半，內輔下廉下至內踝長一尺三寸，內踝以下至地長三寸，膝膕以下至跗屬長一尺六寸，跗屬以下至地長三寸，故骨圍大則大過，小則不及。角以下至柱骨長一尺，行腋中不見者長四寸，腋以下至季脅長一尺二寸，季脅以下至髀樞長六寸，髀樞以下至膝中長一尺九寸，膝以下至外踝長一尺六寸，外踝以下至京骨長三寸，京骨以下至地長一寸。耳後當完骨者廣九寸。耳前當耳門者廣一尺三寸，兩顴之間相去七寸，兩乳之間廣九寸半，兩髀之間廣六寸半。足長一尺二寸，廣四寸半。肩至肘長一尺七寸，肘至腕長一尺二寸半，腕至中指本節長四寸，本節至其末長四寸半。項發以下至膂骨長三寸半，膂骨以下至尾骶二十一節長三尺，上節長一寸四分分之一，奇分在下，故上七節至於膂骨九寸八分分之七，此眾人骨之度也，所以立經脈之長短也。是故視其經脈之在於身也，其見浮而堅，其見明而大者，多血；細而沉者，多氣也。</p>

<h2>五十營</h2>
<p>天周二十八宿，宿三十六分，人氣行一周，千八分。日行二十八宿，人經脈上下、左右、前後二十八脈，周身十六丈二尺，以應二十八宿，漏水下百刻，以分晝夜。故人一呼，脈再動，氣行三寸；一吸，脈亦再動，氣行三寸，呼吸定息，氣行六寸。十息，氣行六尺，日行二分。二百七十息，氣行十六丈二尺，氣行交通於中，一周於身，下水二刻，日行二十五分有奇。五百四十息，氣行再周於身，下水四刻，日行四十分。二千七百息，氣行十周於身，下水二十刻，日行五宿二十分。一萬三千五百息，氣行五十營於身，水下百刻，日行二十八宿，漏水皆盡，脈終矣。所謂交通者，並行一數也，故五十營備，得盡天地之壽矣，氣凡行八百一十丈也。</p>

<h2>營氣</h2>
<p>營氣之道，內谷為寶。谷入於胃，乃傳之肺，流溢於中，布散於外，精專者行於經隧，常營無已，終而復始，是謂天地之紀。故氣從太陰出，注手陽明，上行至面，注足陽明，下行至跗上，注大指間，與太陰合，上行抵髀。從脾注心中，循手少陰出腋下臂，注小指之端，合手太陽。上行乘腋出䪼內，注目內眥，上巔下項，合足太陽。循脊下尻，下行注小指之端，循足心注足少陰，上行注腎。從腎注心，外散於胸中，循心主脈出腋下臂，出兩筋之間，入掌中，出中指之端，還注小指次指之端，合手少陽。上行注膻中，散於三焦，從三焦注膽，出脅，注足少陽。下行至跗上，復從跗注大指間，合足厥陰。上行至肝，從肝上注肺，上循喉嚨，入頏顙之竅，究於畜門。其支別者，上額循巔下項中，循脊入骶，是督脈也，絡陰器，上過毛中，入臍中，上循腹裡，入缺盆，下注肺中，復出太陰。此營氣之所行也，逆順之常也。</p>

<h2>脈度</h2>
<p>手之六陽，從手至頭，長五尺，五六三丈。手之六陰，從手至胸中，三尺五寸，三六一丈八尺，五六三尺，合二丈一尺。足之六陽，從足上至頭，八尺，六八四丈八尺。足之六陰，從足至胸中，六尺五寸，六六三丈六尺，五六三尺，合三丈九尺。蹻脈從足至目，七尺五寸，二七一丈四尺，二五一尺，合一丈五尺。督脈、任脈各四尺五寸，二四八尺，二五一尺，合九尺。凡都合一十六丈二尺，此氣之大經隧也。經脈為里，支而橫者為絡，絡之別者為孫絡，孫絡之盛而血者疾誅之，盛者瀉之，虛者飲藥以補之。五臟常內閱於上七竅也，故肺氣通於鼻，肺和則鼻能知臭香矣；心氣通於舌，心和則舌能知五味矣；肝氣通於目，肝和則目能辨五色矣；脾氣通於口，脾和則口能知五穀矣；腎氣通於耳，腎和則耳能聞五音矣。五臟不和則七竅不通，六腑不和則留結為癰。故邪在腑則陽脈不和，陽脈不和則氣留之，氣留之則陽氣盛矣。陽氣太盛則陰脈不和，陰脈不和則血留之，血留之則陰氣盛矣。陰氣太盛，則陽氣不能榮也，故曰關。陽氣太盛，則陰氣弗能榮也，故曰格。陰陽俱盛，不得相榮，故曰關格。關格者，不得盡期而死也。蹻脈者，少陰之別，起於然骨之後，上內踝之上，直上循陰股入陰，上循胸裡入缺盆，上出入迎之前，入頄屬目內眥，合於太陽、陽蹻而上行，氣井相還則為濡目，氣不榮則目不合。氣之不得無行也，如水之流，如日月之行不休，故陰脈榮其藏，陽脈榮其腑，如環之無端，莫知其紀，終而復始。其流溢之氣，內溉臟腑，外濡腠理。蹻脈有陰陽，何脈當其數？男子數其陽，女子數其陰，當數者為經，其不當數者為絡也。</p>

<h2>營衛生會</h2>
<p>入受氣於谷，谷入於胃，以傳與肺，五臟六腑，皆以受氣，其清者為營，濁者為衛，營在脈中，衛在脈外，營周不休，五十而復大會。陰陽相貫，如環無端。衛氣行於陰二十五度，行於陽二十五度，分為晝夜，故氣至陽而起，至陰而止。故曰：日中而陽隴為重陽，夜半而陰隴為重陰。故太陰主內，太陽主外，各行二十五度，分為晝夜。夜半為陰隴，夜半後而為陰衰，平旦陰盡而陽受氣矣。日中而陽隴，日西而陽衰，日入陽盡而陰受氣矣。夜半而大會，萬民皆臥，命曰合陰，平旦陰盡而陽受氣，如是無已，與天地同紀。壯者之氣血盛，其肌肉滑，氣道通，營衛之行，不失其常，故晝精而夜瞑。老者之血氣衰，其肌肉枯，氣道澀，五臟之氣相搏，其營氣衰少而衛氣內伐，故晝不精，夜不眠。營出於中焦，衛出於下焦。上焦出於胃上口，並咽以上貫膈而布胸中，走腋，循太陰之分而行，還至陽明，上至舌，下足陽明，常與營俱行於陽二十五度，行於陰亦二十五度，一周也。故五十度而復大會於手太陰矣。中焦亦並胃口，出上焦之後，此所受氣者，泌糟粕，蒸津液，化其精微，上注於肺脈，乃化而為血，以奉生身，莫貴於此，故獨得行於經隧，命曰營氣。</p>
<p>營衛者精氣也，血者神氣也，故血之與氣，異名同類焉。故奪血者無汗，奪汗者無血。下焦者，別迴腸，注於膀胱而滲入焉。故水穀者，常並居於胃中，成糟粕，而俱下於大腸，而成下焦，滲而俱下，濟泌別汁，循下焦而滲入膀胱焉。酒者熟谷之液也，其氣悍以清，故後谷而入，先谷而液出焉。上焦如霧，中焦如漚，下焦如瀆。</p>

<h2>五邪</h2>
<p>邪在肺，則病皮膚痛，寒熱，上氣喘，汗出，咳動肩背。邪在肝，則兩脅中痛，寒中，惡血在內，胻善掣，節時腳踵。邪在脾胃，則病肌肉痛，陽氣有餘，陰氣不足，則熱中善飢；陽氣不足，陰氣有餘，則寒中腸鳴腹痛。陰陽俱有餘，若俱不足，則有寒有熱。邪在腎，則病骨痛陰痹，陰痹者，按之而不得，腹脹腰痛，大便難，肩眥頸項痛，時眩。邪在心，則病心痛喜悲，時眩僕。</p>

<h2>病本</h2>
<p>先病而後逆者，治其本；先逆而後病者，治其本；先寒而後生病者，治其本；先病而後生寒者，治其本；先熱而後生病者，治其本；先泄而後生他病者，治其本，必且調之，乃治其他病；先病而後中滿者，治其標；先病後泄者，治其本；先中滿而後煩心者，治其本。有客氣，有同氣。大小便不利，治其標；大小便利，治其本。病發而有餘，本而標之，先治其本，後治其標；病發而不足，標而本之，先治其標，後治其本，謹詳察間甚，以意調之，間者並行，甚者獨行。先小便大便不利而後生他病者，治其本也。</p>

<h2>口問</h2>
<p>夫百病之始生也，皆生於風雨寒暑，陰陽喜怒，飲食居處，大驚卒恐，則血氣分離，陰陽破敗，經絡厥絕，脈道不通，陰陽相逆，衛氣稽留，經脈虛空，血氣不次，乃失其常。衛氣晝日行於陽，夜半則行於陰，衛者主夜，夜者主臥；陽者主上，陰者主下，故陰氣積於下，陽氣未盡，陽引而上，陰引而下，陰陽相引，故數欠。陽氣盡，陰氣盛，則目瞑；陰氣盡而陽氣盛，則寤矣。人之噦者，谷入於胃，胃氣上注於肺。今有故寒氣與新穀氣，俱還入於胃，新故相亂，真邪相攻，氣並相逆，復出於胃，故為噦。人之唏者，此陰氣盛而陽氣虛，陰氣疾而陽氣徐，陰氣盛而陽氣絕，故為唏。人之振寒者，寒氣客於皮膚，陰氣盛，陽氣虛，故為振寒寒慄。人之噫者，寒氣客於胃，厥逆從下上散，復出於胃，故為噫。人之嚏者，陽氣和利，滿於心，出於鼻，故為嚏。人之嚲者，胃不實則諸脈虛，諸脈虛則筋脈懈惰，筋脈懈惰則行陰用力，氣不能復，故為嚲。人之哀而涕泣出者，心者，五臟六腑之主也；目者，宗脈之所聚也，上液之道也；口鼻者，氣之門戶也。故悲哀之所聚也，上液之道也；口鼻者，氣之門戶也。故悲哀悉憂則心動，心動則五臟六腑皆搖，搖則宗脈感，宗脈感則液道開，液道開，故涕泣出焉。液者，所以灌精濡空竅者也，故上液之道開則泣，泣不止則液竭，液竭則精不灌，精不灌則目無所見矣，故命曰奪精。人之大息者，憂思則心系急，心系急則氣道約，約則不利，故太息以伸出之。人之涎下者，飲食者，皆入於胃，胃中有熱則蟲動，蟲動則胃緩，胃緩則廉泉開，故涎下。人之耳中鳴者，耳者，宗脈之所聚也，故胃中空則宗脈虛，虛則下，溜脈有所竭者，故耳鳴。人之自齧舌者，此厥逆走上，脈氣輩至也。少陰氣至則齧舌，少陽氣至則齧頰，陽明氣至則齧唇矣。凡此十二邪者，皆奇邪之走空竅者也。故邪之所在，皆為不足。故上氣不足，腦為之不滿，耳為之苦鳴，頭為之苦傾，目為之苦眩；中氣不足，胃為之變，腸為之苦鳴；下氣不足，則乃為痿厥心悗。腎主為欠，取足少陰；肺主為噦。取手太陰、足少陰；唏者，陰與陽絕，故補足太陽，瀉足少陰；振寒者，補諸陽；噫者，補足太陰、陽明；嚏者，補足太陽眉本；嚲，因其所在，補分肉間；泣出，補天柱經俠頸，俠頸者，頭中分也；大息，補手少陰、心主，足少陽留之；涎下，補足少陰；耳鳴，補客主人、手大指爪甲上與肉交者；自齒舌，視主病者，則補之；目眩頭傾，補足外踝下留之；痿厥心悗，刺足大指間上二寸留之，一日足外踝下留之。</p>

<h2>師傳</h2>
<p>春夏先治其標，後治其本；秋冬先治其本，後治其標。飲食衣服，亦欲適寒溫，寒無悽愴，暑無出汗。食飲者，熟無灼灼，寒無滄滄，寒溫中適，故氣將持，乃不致邪僻也。五臟者，肺為之蓋，巨肩陷咽，候見其外。心為之主，缺盆為之道，䯏骨有餘，以候𩩲𩨗。肝者主為將，使之候外，欲知堅固，視目小大。脾者，主為衛，使之迎糧，視唇舌好惡，以知吉凶。腎者主為外，使之遠聽，視耳好惡，以知其性。六腑者，胃為之海，廣骸，在頸，張胸，五穀乃容。鼻遂以長，以候大腸。唇厚，人中長，以候小腸。目下果大，其膽乃橫。鼻孔在外，膀胱漏泄。鼻柱中央起，三焦乃約。</p>

<h2>決氣</h2>
<p>兩神相搏，合而成形，常先身生，是謂精。上焦開發，宣五穀味，熏膚充身澤毛，謂霧露之溉，是謂氣。腠理發泄，汗出溱溱，是謂津。谷入氣滿，淖澤注於骨，骨屬屈伸，泄澤補益腦髓，皮膚潤澤，是謂液。中焦受氣取汁，變化而赤，是謂血。壅遏營氣，令無所避，是謂脈。精脫者，耳聾；氣脫者，目不明；津脫者，腠理開，汗大泄；液脫者，骨屬屈伸不利，色夭，腦髓消，脛酸，耳數鳴；血脫者，色白，夭然不澤；其脈空虛，此其候也。</p>

<h2>腸胃</h2>
<p>谷所從出入淺深遠近長短之度：唇至齒長九分，口廣二寸半，齒以後至會厭，深三寸半，大容五合；舌重十兩，長七寸，廣二寸半；咽門重十兩，廣二寸半，至胃長一尺六寸；胃紆曲屈，伸之，長二尺六寸，大一尺五寸，徑五寸，大容三斗五升；小腸後附脊，左環回周疊積，其注於迴腸者，外附於臍上，回運環十六曲，大二寸半，徑八分分之少半，長三丈三尺；迴腸當臍，左環回周葉積而下，回運環反十六曲，大四寸，徑一寸寸之少半，長二丈一尺；廣腸傳脊，以受迴腸，左環葉脊上下，闢大八寸，徑二寸寸之大半，長二尺八寸。腸胃所入至所出，長六丈四寸四分，回曲環反，三十二曲也。</p>

<h2>平人絕谷</h2>
<p>胃大一尺五寸，徑五寸，長二尺六寸，橫屈受水穀三斗五升，其中之谷，常留二斗，水一斗五升而滿。上焦泄氣，出其精微，剽悍滑疾，下焦下溉諸腸。小腸大二寸半，徑八分分之少半，長三丈二尺，受谷二斗四升，水六升三合合之大半。迴腸大四寸，徑一寸寸之少半，長二丈一尺，受谷一斗，水七升半。廣腸大八寸，徑二寸寸之大半，長二尺八寸，受谷九升三合八分合之一。腸胃之長，凡五丈八尺四寸，受水穀九斗二升一合合之大半，此腸胃所受水穀之數也。平人則不然，胃滿則腸虛，腸滿則胃虛，更虛更滿，故氣得上下，五臟安定，血脈和則精神乃居，故神者，水穀之精氣也。故腸胃之中，常留谷二斗，水一斗五升，故平人日再後，後二升半，一日中五升，七日五七三斗五升，而留水穀盡矣。故平人不食飲七日而死者，水穀精氣津液皆盡故也。</p>

<h2>海論</h2>
<p>人有髓海，有血海，有氣海，有水穀之海。胃者，水穀之海，其輸上在氣街，下至三里；衝脈者，為十二經之海，其輸上在於大杼，下出於巨虛之上下廉；膻中者，為氣之海，其輸上在於柱骨之上下，前在於人迎；腦為髓之海，其輸上在於其蓋，下在風府。凡此四海者，得順者生，得逆者敗，知調者利，不知調者害。氣海有餘者，氣滿胸中悗，急息面赤；氣海不足，則氣少不足以言。血海有餘，則常想其身大，怫然不知其所病；血海不足，亦常想其身小，狹然不知其所病。水穀之海有餘，則腹滿；水穀之海不足，則飢不受穀食。髓海有餘，則輕勁多力，自過其度；髓海不足，則腦轉耳鳴，脛酸眩冒，目無所見，懈怠安臥。</p>

<h2>五亂</h2>
<p>經脈十二者，以應十二月。其氣各異，營衛相隨，陰陽已和，清濁不相干，如是則順之而治。清氣在陰，濁氣在陽，營氣順脈，衛氣逆行，清濁相干，亂於胸中，是謂大悗。故氣亂於心，則煩心密嘿，俛首靜伏；亂於肺，則俛仰喘喝，接手以呼；亂於腸胃，則為霍亂；亂於臂脛，則為四厥；亂於頭，則為厥逆，頭重眩僕。</p>

<h2>脹論</h2>
<p>夫胸腹者，藏腑之郭也。膻中者，心主之宮城也。胃者，太倉也。咽喉小腸者，傳送也。胃之五竅者，閭里門戶也。廉泉玉英者，津液之道也。故五臟六腑者，各有畔界，其病各有形狀。夫心脹者，煩心短氣，臥不安。肺脹者，虛滿而喘咳。肝脹者，脅下滿而痛引小腹。脾脹者，善噦，四肢煩悗，體重不能勝衣，臥不安。腎脹者，腹滿引背央央然，腰髀痛。胃脹者，腹滿，胃脘痛，鼻聞焦臭，妨於食，大便難。大腸脹者，腸鳴而痛濯濯，冬日重感於寒，則飧不化。小腸脹者，少腹䐜脹，引腰而痛。膀胱脹者，少腹滿而氣癃。三焦脹者，氣滿於皮膚中，輕輕然而不堅。膽脹者，脅下痛脹，口中苦，善太息。衛氣之在身也，常然並脈循分肉，行有逆順，陰陽相隨，乃得天和，五臟更始，四時有序，五穀乃化。然後厥氣在下，營衛留止，寒氣逆上，真邪相攻，兩氣相搏，乃合為脹也。</p>

<h2>五癃津液別</h2>
<p>水穀皆入於口，其味有五，各注其海，津液各走其道。故三焦出氣，以溫肌肉，充皮膚，為其津；其流而不行者為液。天暑衣厚則腠理開，故汗出；寒留於分肉之間，聚沫則為痛。天寒則腠理閉，氣濕不行，水下留於膀胱，則為尿與氣。五臟六腑，心為之主，耳為之聽，目為之候，肺為之相，肝為之將，脾為之衛，腎為之主外。故五臟六腑之津液，盡上滲於目，心悲氣並則心系急，心系急則肺舉，肺舉則液上溢。夫心系與肺，不能常舉，乍上乍下，故咳而泣出矣。中熱則胃中消穀，消穀則蟲上下作，腸胃充郭故胃緩，胃緩則氣逆，故唾出。五穀之精液，和合而為膏者，內滲入於骨空，補益腦髓，而下流於陰股。陰陽不和，則使液溢而下流於陰，隨液皆減而下，下過度則虛，虛故腰背痛而脛酸。陰陽氣道不通，四海閉塞，三焦下不瀉，津液不化，水穀並於腸胃之中，別於迴腸，留於下焦，不得滲膀胱，則下焦脹，水溢則為水脹，此津液五別之逆順也。</p>

<h2>五閱五使</h2>
<p>鼻者，肺之官；目者，肝之官；口唇者，脾之官；舌者，心之官；耳者，腎之官。</p>
<p>故肺病者，喘息鼻張；肝病者，眥青；脾病者，唇黃；心病者，舌卷短，顴赤；腎病者，顴與顏黑。</p>

<h2>陰陽清濁</h2>
<p>受谷者濁，受氣者清。清者注陰，濁者注陽。濁而清者，上出於咽；清而濁者，則下行。清濁相干，命曰亂氣。氣之大別，清者上注於肺，濁者下走於胃。胃之清氣，上出於口；肺之濁氣，下注於經，內積於海。手太陽獨受陽之濁，手太陰獨受陰之清。其清者上走空竅，其濁者下行諸經。諸陰皆清，足太陰獨受其濁。清者其氣滑，濁者其氣澀，此氣之常也。</p>

<h1>卷下</h1>

<h2>陰陽系日月</h2>
<p>寅者，正月之生陽也，主左足之少陽；未者，六月，主右足之少陽；卯者，二月，主左足之太陽；午者，五月，主右足之太陽；辰者，三月，主左足之陽明；巳者，四月，主右足之陽明，此兩陽合於前，故曰陽明。申者，七月之生陰也，主右足之少陰；醜者，十二月，主左足之少陰；酉者，八月，主右足之太陰；子者，十一月，主左足之太陰；戌者，九月，主右足之厥陰；亥者，十月，主左足之厥陰，此兩陰交盡，故曰厥陰。甲主左手之少陽，巳主右手之少陽，乙主左手之太陽，戊主右手之太陽，丙主左手之陽明，丁主右手之陽明，此兩火併合，故為陽明。庚主右手之少陰，癸主左手之少陰，辛主右手之太陰，壬主左手之太陰。故足之陽者，陰中之少陽也；足之陰者，陰中之太陰也；手之陽者，陽中之太陽也；手之陰者，陽中之少陰也。腰以上者為陽，腰以下者為陰。其於五臟也，心為陽中之太陽，肺為陰中之少陰，肝為陰中之少陽，脾為陰中之至陰，腎為陰中之太陰。</p>

<h2>病傳</h2>
<p>病先發於心，一日而之肺，三日而之肝，五日而之脾，三日不已，死。冬夜半，夏日中。病先發於肺，三日而之肝，一日而之脾，五日而之胃，十日不已，死。冬日入，夏日出。病先發於肝，三日而之脾，五日而之胃，三日而之腎，三日不已，死。冬日入，夏早食。病先發於脾，一日而之胃，二日而之腎，三日而之膂、膀胱，十日不已，死。冬人定，夏晏食。病先發於胃，五日而之腎，三日而之膂、膀胱，五日而上之心，二日不已，死。冬夜半，廈日昳。病先發於腎，三日而之膂、膀胱，三日而上之心，三日而之小腸，三日不已，死。冬大晨，夏早晡。病先發於膀胱，五日而之腎，一日而之小腸，一日而之心，二日不已，死。冬雞鳴，夏下晡。諸病以次相傳，如是者皆有死期，不可刺也。</p>

<h2>淫邪發夢</h2>
<p>正邪從外襲內而未有定舍，反淫於臟，不得定處，與營衛俱行，而與魂魄飛揚，使人臥不得安而喜夢。氣淫於腑，則有餘於外，不足於內；氣淫於臟，則有餘於內，不足於外。陰氣盛，則夢涉大水而恐懼；陽氣盛，則夢大火而燔焫；陰陽俱盛，則夢相殺。上盛則夢飛，下甚則夢墮；盛飢則夢取，盛飽則夢予；肝氣盛，則夢怒；肺氣盛，則夢恐懼、哭泣、飛揚；心氣盛，則夢喜笑，恐畏；脾氣盛，則夢歌樂，身體重不舉；腎氣盛，則夢腰脊兩解不屬。凡此十二盛者，至而瀉之，立已。厥氣客於心，則夢見丘山煙火；客於肺，則夢飛揚，見金針之奇物；客於肝，則夢山林樹木；客於脾，則夢見丘陵大澤，壞屋風雨；客於腎，則夢臨淵，沒居水中；客於膀胱，則夢遊行；客於胃，則夢飲食；客於大腸，則夢田野；客於小腸，則夢聚邑沖衢；客於膽，則夢鬥訟自刳；客於陰器，則夢接內；客於項，則夢斬首；客於脛，則夢行走而不能前，及居深地𡧙苑中；客於股肱，則夢禮節拜起；客於胞䐈，則夢泄便。凡此十五不足者，至而補之立已也。</p>

<h2>順氣一日為四時</h2>
<p>春生、夏長、秋收、冬藏，是氣之常也，人亦應之。以一日分為四時，朝則為春，日中為夏，日入為秋，夜半為冬。朝則人氣始生，病氣衰，故旦慧；日中人氣長，長則勝邪，故安；夕則人氣始衰，邪氣始生，故加；夜半人氣入臟，邪氣獨居於身，故甚也。其時有反者，是不應四時之氣，臟獨生其病者，是必以臟氣之所不勝時者甚，以其所勝時者起也。人有五臟，五臟有五變。肝為牡臟，其色青，其時春，春音角，其味酸，其日甲乙；心為牡臟，其色赤，其時夏，其日丙丁，其音徵，其味苦；脾為牡臟，其色黃，其時長夏，其日戊己，其音宮，其味甘；肺為牝臟，其色白，其音商，其時秋，其日庚辛，其味辛；腎為牝臟，其色黑，其時冬，其日壬癸，其音羽，其味鹹，是為五變。</p>

<h2>五變</h2>
<p>木之所傷也，皆傷其枝，枝之剛脆而堅，未成傷也。人之有常病也，亦因其骨節皮膚腠理之不堅固者，邪之所舍也，故常為病也。</p>

<h2>本藏</h2>
<p>心小則安，邪弗能傷，易傷以憂；心大則憂不能傷，易傷於邪。心高則滿於肺中，悗而善忘，難開以言；心下則臟外，易傷於寒，易恐以言。心堅則臟安守固；心脆則善病消癉熱中。心端正，則和利難傷；心偏傾則操持不一，無守司也。肺小則少飲，不病喘喝；肺大則多飲，善病胸痹、喉痹、逆氣。肺高則上氣，肩息咳；肺下則居賁迫肺，善脅不痛。肺堅則不病咳上氣；肺脆則苦病消痹易傷。肺端正則和利難傷；肺偏傾則胸偏痛也。肝小則臟安，無脅下之病；肝大則逼胃迫咽，迫咽則苦膈中，且脅下痛。肝高則上支賁，切脅悗，為息賁；肝下則逼胃，脅下空，脅下空則易受邪。肝堅則臟安難傷；肝脆則善病消癉易傷。肝端正則和利難傷；肝偏傾則脅下痛也。脾小則臟安，難傷於邪也；脾大則苦腠䏚而痛，不能疾行。脾高則䏚引季脅而痛；脾下則下加於大腸，下加於大腸，則臟苦受邪。脾堅則臟安難傷；脾脆則善病消癉易傷。脾端正則和利難傷；脾偏傾則善滿善脹也。腎小則臟安難傷；腎大則善病腰痛，不可以俛仰，易傷以邪。腎高則苦背膂痛，不可以俛仰；腎下則腰尻痛，不可以俛仰，為狐疝。腎堅不病腰背痛；腎脆則善病消癉易傷。腎端正則和利難傷；腎偏傾則苦腰尻痛也。凡此二十五變者，人之所苦常病。何以知其然也？赤色小理者，心小；粗理者，心大。無𩩲𩨗者，心高；𩩲𩨗小、短、舉者，心下。𩩲𩨗長者，心下堅，𩩲𩨗弱小以薄者，心脆。𩩲𩨗直下不舉者，心端正；𩩲𩨗倚一方者，心偏傾也。白色小理者，肺小；粗理者，肺大。巨肩反膺陷喉者，肺高；合腋張脅者，肺下。好肩背厚者，肺堅；肩背薄者，肺脆。背膺厚者，肺端正；脅偏疏者肺偏傾也。青色小理者，肝小；粗理者，肝大。廣胸反骹（骹音敲）者，肝高；合脅兔骹者，肝下。胸脅好者，肝堅；脅骨弱者，肝脆。膺腹好相得者，肝端正；脅骨偏舉者，肝偏傾也。黃色小理者，脾小；粗理者，脾大。揭唇者，脾高；唇下縱者，脾下。唇堅者，脾堅；唇大而不堅者，脾脆。唇上下好者，脾端正；唇偏舉者，脾偏傾也。黑色小理者，腎小；粗理者，腎大。耳高者，腎高；耳後陷者，腎下。耳堅者，腎堅；耳薄不堅者，腎脆。耳好前居牙車者，腎端正；耳偏高者，腎偏傾也。凡此諸變者，持則安，減則病也。五臟皆小者，少病，苦焦心，大愁憂；五臟皆大者，緩於事，難使以憂。五臟皆高者，好高舉措；五臟皆下者，好出人下。五臟皆堅者，無病；五臟皆脆者，不離於病。五臟皆端正者，和利得人心；五臟皆偏傾者，邪心而善盜，不可以為人平，反復言語也。六腑之應，肺合大腸者，皮其應；心合小腸，小腸者，脈其應；肝合膽，膽者，筋其應；脾合胃，胃者，肉其應；腎合三焦膀胱，三焦膀胱者，腠理毫毛其應。肺應皮，皮厚者，大腸厚；皮薄者，大腸薄；皮緩，腹裡大者，大腸大而長；皮急者，大腸急而短；皮滑者，大腸直；皮肉不相離者，大腸結。心應脈，皮厚者，脈厚，脈厚者，小腸厚；皮薄者，脈薄，脈薄者，小腸薄；皮緩者，脈緩，脈緩者，小腸大而長；皮薄而脈衝小者，小腸小而短；諸陽經脈皆多紆屈，小腸結。脾應肉，肉㿉堅大者，胃厚；肉㿉麼者，胃薄。肉㿉小而麼者，胃不堅；肉㿉不稱身者，胃下；胃下者，下管約不利。肉㿉不堅者，胃緩；肉㿉無小里累者，胃急。肉䐃多小里累者，胃結；胃結者，上管約不利也。肝應爪，爪厚色黃者，膽厚；爪薄色紅者，膽薄。爪堅色青者，膽急；爪濡色赤者，膽緩。爪直色白無紋者，膽直；爪惡色黑多紋者，膽結也。腎應骨，密理厚皮者，三焦、膀胱厚；粗理薄皮者，三焦、膀胱薄。疏腠理者，三焦、膀胱緩；皮急而無毫毛者，三焦、膀胱急。毫毛美而粗者，三焦、膀胱直；稀毫毛者，三焦、膀胱結也。視其外應，以知其內藏，則知所病矣。</p>

<h2>五色</h2>
<p>明堂者鼻也，闕者眉間也，庭者顏也，蕃者頰側也，蔽者耳門也，其間欲方大，去之十步，皆見於外，如是者，壽必中百歲。其色粗以明，沉夭者為甚，其色上行者，病益甚，其色下行如雲徹散者，病方已。五色各有藏部，有外部，有內部也。色從外部走內部者，其病從外走內；其色從內走外者，其病從內走外。病生於內者，先治其陰，後治其陽，反者益甚；其病生於陽者，先治其外，後治其內，反者益甚。其脈滑大以代而長者，病從外來，目有所見，志有所惡，此陽氣之並也，可變而已。大氣入於臟腑者，不病而卒死矣。赤色出兩顴，大如母指者，病雖小愈，必卒死。黑色出於庭，大如母指，必不病而卒死。庭者，首面也；闕上者，咽喉也；闕中者，肺也；下極者，心也；直下者，肝也；肝左者，膽也；下者，脾也；方上者，胃也；中央者，大腸也；挾大腸者，腎也；當腎也，臍也；面王以上者，小腸也；面王以下者，膀胱子處也；顴者，肩也；顴後者，臂也；臂下者，手也；目內眥上者，膺乳也；挾繩而上者，背也；循牙車以下者，股也；中央者，膝也；膝以下者，足也；巨分者，股里也；巨曲者，膝臏也。此五臟六腑肢節之部也，各有部分。有部分，用陰和陽，用陽和陰，當明部分，萬舉萬當，能別左右，是謂大道，男女異位，故曰陰陽，審察澤夭，謂之良工。沉濁為內，浮澤為外，黃赤為風，青黑為痛，白為寒，黃而膏潤為膿，赤甚者為血，痛甚為攣，寒為皮不仁。五色各見其部，察其浮沉，以知淺深，察其澤夭，以觀成敗，察其散搏，以知遠近，視色上下，以知病處，積神於心，以知往今。故相氣不微，不知是非，屬意勿去，乃知新故。色明不粗，沉夭為甚；不明不澤，其病不甚。其色散，駒駒然未有聚，其病散而氣痛，聚未成也。腎乘心，心先病，腎為應，色皆如是。男子色在於面王，為小腹痛，下為卵痛，其圜直為莖痛，高為本，下為首，狐疝㿉陰之屬也，女子在於面王，為膀胱、子處之病，散為痛，搏為聚，方圓左右，各如其色形。其隨而下至胝為淫，有潤如膏狀，為暴食不潔。左為左，右為右，其色有邪，聚散而不端，面色所指者也。色者，青黑赤白黃，皆端滿有別鄉。別目赤者，其色亦大如榆莢，在面主為不月。其色上銳，首空上向，下銳下向，在左右如法。以五色命藏，青為肝，赤為心，白為肺，黃為脾，黑為腎。肝合筋，心合脈，肺合皮，脾合肉，腎合骨也。</p>

<h2>論勇</h2>
<p>春青風，夏陽風，秋涼風，冬寒風。凡此四時之風者，其所病各不同形。黃色薄皮弱肉者，不勝春之虛風；白色薄皮弱肉者，不勝夏之虛風；青色薄皮弱肉者，不勝秋之虛風；赤色薄皮弱肉者，不勝冬之虛風也。黑色而皮厚肉堅，固不傷於四時之風。其皮薄而肉不堅、色不一者，長夏至而有虛風者，病矣。其皮厚而肌肉堅者，長夏至而有虛風，不病矣。其皮厚而肌肉堅者，必重感於寒，外內皆然，乃病。</p>
<p>夫人之忍痛與不忍痛者，皮膚之薄厚肌肉之堅脆緩急之分也。非勇怯之謂也。酒者，水穀之精，熟谷之液也。其氣剽悍，其入於胃中，則胃脹，氣上逆，滿於胸中，肝浮膽橫。當是之時，固比於勇士，氣衰則侮。與勇士同類，不知避之，名曰酒悖也。</p>

<h2>背腧</h2>
<p>胸中大腧在杼骨之端，肺腧在三椎之傍，心腧在五椎之間，膈腧在七椎之傍，肝腧在九椎之傍，脾腧在十一椎之傍，腎腧在十四椎之傍，皆挾脊相去三寸所，則欲得而驗之，按其處，應在中而痛解，乃其腧也。</p>

<h2>衛氣</h2>
<p>足太陽之本，在跟以上五寸中，標在兩絡命門，命門者，目也。足少陽之本，在竅陰之間，標在窗籠之前，窗籠者，耳也。足少陽之本，在內踝下上三寸中，標在背腧與舌下兩脈也。足厥陰之本，在行間上五寸所，標在背腧也。足陽明之本，在厲兌，標在人迎頰挾頏顙也。足太陰之本，在中封前上四寸之中，標在背腧與舌本也。手太陽之本，在外踝之後，標在命門之上一寸也。手少陽之本，在小指次指之間上二寸，標在耳後上角下外眥也，手陽明之本，在肘骨中，上至別陽，標在顏下合鉗上也。手太陰之本，在寸口之中，標在腋內動也。手少陰之本，在銳骨之端，標在背腧也。手心主之本，在掌後兩筋之間二寸中，標在腋下下三寸也。凡候此者，下虛則厥，下盛則熱，上虛則眩，上盛則熱痛。故實者絕而止之，虛者引而起之。</p>

<h2>天年</h2>
<p>人之始生，以母為基，以父為楯，失神者死，得神者生。血氣已和，榮衛已通，五藏已成，神氣舍心，魂魄畢具，乃成為人。五臟堅固，血脈和調，肌肉解利，皮膚緻密，營衛之行，不失其常，呼吸微徐，氣以度行，六腑化谷，津液布揚，各如其常，故能常久。人生十歲，五臟始定，血氣已通，其氣在下，故好走。二十歲，血氣始盛，肌肉方長，故好趨。三十歲，五臟大定，肌肉堅固，血脈盛滿，故好步。四十歲，五臟六腑十二經脈，皆大盛以平定，腠理始疏，榮華頹落，發頗斑白，平盛不搖，故好坐。五十歲，肝氣始衰，肝葉始薄，膽汁始減，目始不明。六十歲，心氣始衰，善憂悲，血氣懈惰，故好臥。七十歲，脾氣虛，皮膚枯。八十歲，肺氣衰，魄離，故言善誤。九十歲，腎氣焦，四藏經脈空虛。百歲，五臟皆虛，神氣皆去，形骸獨居而終矣。其不能終壽而死者，五臟皆不堅，使道不長，空外以張，喘息暴疾，又畢基牆，薄脈少血，其肉不實，數中風寒，血氣虛，脈不通，真邪相攻，亂而相引，故中壽而盡也。</p>

<h2>五味</h2>
<p>胃者，五臟六腑之海也，水穀皆入於胃，五臟六腑皆稟氣於胃。五味各走其所喜，穀味酸，先走肝；穀味苦，先走心；穀味甘，先走脾；穀味辛，先走肺；穀味咸，先走腎。穀氣津液已行，營衛大通，乃化糟粕，以次傳下。谷始入於胃，其精微者，先出於胃之兩焦，以溉五臟，別出兩行，營衛之道。其大氣之搏而不行者，積於胸中，命曰氣海，出於肺，循喉咽，故呼則出，吸則入。天地之精氣，其大數常出三入一，故谷不入，半日則氣衰，一日則氣少矣。五穀：粳米甘，麻酸，大豆咸，麥苦，黃黍辛。五果：棗甘，李酸，粟咸，杏苦，桃辛。五畜：牛甘，犬酸，豬咸，羊苦，雞辛。五菜：葵甘，韭酸，藿咸，薤苦，蔥辛。五色：黃色宜甘，青色宜酸，黑色宜咸，赤色宜苦，白色宜辛。凡此五者，各有所宜。所言五宜者，脾病者，宜食粳米飯、牛肉、棗；心病者，宜食麥、羊肉、杏、薤；腎病者，宜食大豆黃卷、豬肉、慄藿；肝病者，宜食麻、犬肉、李、韭。肺病者，宜食黃黍、雞肉、桃、蔥。五禁：肝病禁辛，心病禁咸，脾病禁酸，腎病禁甘，肺病禁苦。肝色青，宜食甘，粳米飯、牛肉、棗、葵皆甘。心色赤，宜食酸，犬肉、麻、李、韭皆酸。脾色黃，宜食鹹，大豆、豕肉、慄藿皆咸。肺色白，宜食苦，麥、羊肉、杏、薤皆苦。腎色黑，宜食辛，黃黍、雞肉、桃、蔥皆辛。</p>

<h2>衛氣失常</h2>
<p>色起兩眉薄澤者，病在皮。唇色青黃赤白黑者，病在肌肉。營氣霈然者，病在血氣。目色青黃赤白黑者，病在筋。耳焦枯受塵垢，病在骨。皮之部，輸於四末。肉之柱，在臂脛諸陽分肉之間與足少陰分間。血氣之輸，輸於諸絡，氣血留居，則盛而起。筋部無陰無陽，無左無右，候病所在。骨之屬者，骨空之所以受益而益腦髓者也。人年五十已上為老，三十已上為壯，十八已上為少，六歲已上為小。膕肉堅，皮滿者，脂。膕肉不堅，皮緩者，膏。皮肉不相離者，肉。膏者多氣，多氣者熱，熱者耐寒。肉者多血則充形，充形則平。脂者，其血清，氣滑少，故不能大。此別於眾人者也。眾人皮肉脂膏不能相加也。血與氣不能相多，故其形不小不大，各自稱其身。</p>

<h2>玉版</h2>
<p>夫癰疽之生，膿血之成也。膿已成，十死一生。其白眼青黑，眼小，是一逆也；內藥而嘔者，是二逆也；腹痛、渴甚，是三逆也；肩項中不便，是四逆也；音嘶色脫，是五逆也。除此五者為順矣。諸病皆有逆順，腹脹，身熱，脈大，是一逆也；腹鳴而滿，四脈清，泄，其脈大，是二逆也；衄而不止，脈大，是三逆也；咳且溲血脫形，其脈小勁，是四逆也；咳，脫形身熱，脈小以疾，是謂五逆也，如是者不過十五日而死矣。其腹大脹，四末清，脫形，泄甚，是一逆也；腹脹便血，其脈大，時絕，是二逆也；咳，溲血，形肉脫，脈搏，是三逆也；嘔血，胸滿引背，脈小而疾，是四逆也；咳嘔腹脹，且飧泄，其脈絕，是五逆也。如是者，不及一時而死矣。</p>

<h2>五禁</h2>
<p>甲乙日自乘，無剌頭，無發矇於耳內。丙丁日自乘，無振埃於肩喉廉泉。戊己日自乘，四季無剌腹去爪瀉水。庚辛日自乘，無剌關節於股膝。壬癸日自乘，無剌足脛。是謂五禁。形肉已奪，是一奪也；大奪血之後，是二奪也；大汗出之後，是三奪也；大泄之後，是四奪也；新產及大血之後，是五奪也。此皆不可瀉。熱病脈靜，汗已出，脈盛躁，是一逆也；病泄，脈洪大，是二逆也；著痹不移，㿉肉破，身熱，脈偏絕，是三逆也；淫而奪形身熱，色夭然白，及後下血衃（音坯），血衃篤重，是謂四逆也；寒熱奪形，脈堅搏，是謂五逆也。</p>

<h2>動輸</h2>
<p>手太陰、足少陰、陽明獨動不休，何也？足陽明胃脈也。胃為五臟六腑之海，其精氣上注於肺，肺氣從太陰而行之，其行也，以息往來，故人一呼脈再動，一吸脈亦再動，呼吸不已，故動而不止。足之陽明何因而動？胃氣上注於肺，其悍氣上衝頭者，循咽，上走空竅，循眼系，入絡腦，出顑，下客主人，循牙車，合陽明，並下人迎，此胃氣別走於陽明者也。故陰陽上下，其動也若一。故陽病而陽脈小者為逆，陰病而陰脈大者為逆。故陰陽俱靜俱動若引繩，相傾者病。足少陰何因而動？衝脈者，十二經之海也，與少陰之大絡，起於腎下，出於氣街，循陰股內廉，邪入膕中，循脛骨內廉，並少陰之經，下入內踝之後，入足下，其別者，邪入踝，出屬附上，入大指之間，注諸絡，以溫足脛，此脈之常動者也。</p>

<h2>五味論</h2>
<p>酸入於胃，其氣澀以收，上之兩焦，弗能出入也，不出即留於胃中。胃中和溫，則下注膀胱，膀胱胞薄以濡，得酸則縮綣，約而不通，水道不行，故癃。隆者，積筋之所終也，故酸入而走筋矣。鹹入於胃，其氣上走中焦，注於脈，則血氣走之，血與咸相得則凝，凝則胃中汁注之，注之則胃中竭，竭則咽路焦。故舌本干而善渴。血脈者，中焦之道也，故鹹入而走血矣。辛入於胃，其氣走於上焦，上焦者，受氣而營諸陽者也，姜韭之氣薰之，營衛之氣不時受之，久留心下，故洞心。辛與氣俱行，故辛入而與汗俱出。苦入於胃，五穀之氣，皆不能勝苦，苦入下脘，三焦之道皆閉而不通，故變嘔。齒者，骨之所終也，故苦入而走骨，故入而復出，知其走骨也。甘入於胃，其氣弱小，不能上至於上焦，而與谷留於胃中者，令人柔潤者也，胃柔則緩，緩則蠱動，蠱動則令人悗心。其氣外通於肉，故甘走肉。</p>

<h2>陰陽二十五人</h2>
<p>木形之人，比於上角，似於蒼帝。其為人蒼色，小頭，長面，大肩背，直身，小手足，有才，好勞心，少力，多憂勞於事。能春夏不能秋冬，感而病生，足厥陰佗佗然。</p>
<p>大角之人，比於左足少陽，少陽之上遺遺然。</p>
<p>左角之人，比於右足少陽，少陽之下隨隨然。</p>
<p>𮡧（音犬）角之人，比於右足少陽，少陽之上推推然。</p>
<p>判角之人，比於左足少陽，少陽之下栝栝然。</p>
<p>火形之人，比於上徵，似於赤帝。其為人赤色，廣矧，銳面小頭，好肩背髀腹，小手足，行安地，疾心，行搖肩背肉滿，有氣輕財，少信，多慮，見事明，好顏，急心，不壽暴死。能春夏不能秋冬，秋冬感而病生，手少陰核核然。</p>
<p>質徵之人，比於左手太陽，太陽之上肌肌然。</p>
<p>少徵之人，比於右手太陽，太陽之下慆慆（音叨）然。</p>
<p>右徵之人，比於右手太陽，太陽之上鮫鮫（音交）然。</p>
<p>質判之人，比於左手太陽，太陽之下支支頤頤然。</p>
<p>土形之人，比於上宮，似於上古黃帝。其為人黃色，圓面，大頭，美肩背，大腹，美股脛，小手足，多肉，上下相稱，行安地，舉足浮，安心，好利人，不喜權勢，善附人也。能秋冬不能春夏，感而病生，足太陰敦敦然。</p>
<p>太宮之人，比於左足陽明，陽明之上婉婉然。</p>
<p>加宮之人，比於左足陽明，陽明之下坎坎然。</p>
<p>少宮之人，比於右足陽明，陽明之上樞樞然。</p>
<p>左宮之人，比於右足陽明，陽明之下兀兀然。</p>
<p>金形之人，比於上商，似於白帝。其為人方面，白色，小頭，小肩背，小腹，小手足，如骨發踵外，骨輕，身清廉，急心，靜悍，善為吏。能秋冬不能春夏，感而病生，手太陰敦敦然。</p>
<p>𮡧商之人，比於左手陽明，陽明之上廉廉然。</p>
<p>右商之人，比於左手陽明，陽明之下脫脫然。</p>
<p>左商之人，比於右手陽明，陽明之上監監然。</p>
<p>小商之人，比於右手陽明，陽明之下嚴嚴然。</p>
<p>水形之人，比於上羽，似於黑帝。其為人黑色，面不平，大頭，廣頤小肩，大腹，動手足，發行搖身，下尻長，背延延然，不敬畏，善欺紿人，戮死。能秋冬不能春夏，春夏感而病生，足少陰汗汗然。</p>
<p>大羽之人，比於右足太陽，太陽之上頰頰然。</p>
<p>小羽之人，比於左足太陽，太陽之下紆紆然。</p>
<p>眾之為人，比於右足太陽，太陽之下潔潔然。</p>
<p>桎之為人，比於左足太陽，太陽之上安安然。</p>
<p>是故五形之人二十五變者，眾之所以相欺者是也。得其形，不得其色，何如？形勝色，色勝形者，至其勝時年加，感則病行，失則憂矣。形色相得者，富貴大樂。其形色相勝之時，年加可可知乎？凡年忌下上之人大忌，常加七歲，十六歲，二十五歲，三十四歲，四十三歲，五十二歲，六十一歲，皆人之大忌，不可不自安也，感則病行，失則憂矣。當此之時，無為奸事，是謂年忌。足陽明之上，血氣勝則髯美長，血少氣多則髯短；故氣少血多則髯少；血氣皆少則無髯，兩吻多畫。足陽明之下，血氣勝則下毛美長至胸；血多氣少則下毛美短至臍，行則善高舉足，足指少肉，足善寒；血少氣多則肉而善瘃（音琢）；血氣皆少則無毛，有則稀祜悴，善痿厥足痹。足少陽之上，氣血盛則通髯美長；血多氣少則通髯美短；血少氣多則少須，血氣皆少則無須；感於寒濕則善痹，骨痛爪枯也。足少陽之下，血氣盛則脛毛美長，外踝肥；血多氣少則脛毛美短，外踝皮堅而厚；血少氣多則胻（音杭）毛少，外踝皮薄而軟；血氣皆少則無毛，外踝瘦無肉。足太陽之上，血氣盛則美眉，眉有毫毛；血多氣少則惡眉，面多少理；血少氣多則面多肉；血氣和則美色。足太陰之下，血氣盛則跟肉滿，踵堅；氣少血多則瘦，跟空；血氣皆少則喜轉筋，踵下痛。手陽明之上，血氣盛則髭美；血少氣多則髭惡；血氣皆少則無髭。手陽明之下，血氣盛則腋下毛美，手魚肉以溫；氣血皆少則手瘦以寒。手少陽之上，血氣盛則眉美以長，耳色美；血氣皆少則耳焦惡色。手少陽之下，血氣盛則手擲多肉以溫；血氣皆少則寒以瘦；氣少血多則瘦以多脈。手太陽之上，血氣盛則有多須，面多肉以平；血氣皆少則面瘦惡色。手太陽之下，血氣盛則掌肉充滿；血氣皆少則掌瘦以寒。</p>

<h2>五音五味</h2>
<p>右徵與少徵，調右手太陽上。</p>
<p>左商與左徵，調左手陽明上。</p>
<p>少徵與太宮，調左手陽明上。</p>
<p>右角與太角，調右足少陽下。</p>
<p>太徵與少徵，調左手太陽上。</p>
<p>眾羽與少羽，調右足太陽下。</p>
<p>少商與右商，調右手太陽下。</p>
<p>桎羽與眾羽，調右足太陽下。</p>
<p>少宮與太宮，調右足陽明下。</p>
<p>判角與少角，調右足少陽下。</p>
<p>𮡧商與上商，調右足陽明下。</p>
<p>𮡧商與上角，調左足太陽下。</p>
<p>上徵與右徵同，穀麥，畜羊，果杏，手少陽，髒心，色赤，味苦，時夏。</p>
<p>上羽與大羽同，谷大豆，蓄彘，果慄，足少陰，臟腎，色黑，味鹹，時冬。</p>
<p>上宮與大宮同，谷稷，畜牛，果棗，足太陰，臟脾，色黃，味甘，季夏。</p>
<p>上商與右商同，谷黍，畜雞，果桃，手太陰，臟肺，色白，味辛，時秋。</p>
<p>上角與大角同，谷麻，畜犬，果李，足厥陰，臟肝，色青，味酸，時春。</p>
<p>大宮與上角同，右足陽明上。</p>
<p>左角與大角同，右足陽明上。</p>
<p>少羽與大羽同，右足太陽下。</p>
<p>左商與右商同，左手陽明上。</p>
<p>加宮與大宮同，左足少陽上。</p>
<p>質判與大宮同，左手太陽下。</p>
<p>判角與大角同，左足少陽下。</p>
<p>大羽與大角同，右足太陽上。</p>
<p>大角與大宮同，右足少陽上。</p>
<p>右徵、少徵、質徵、上徵、判徵。</p>
<p>右角、𮡧角、上角、大角、判角。</p>
<p>右商、少商、𮡧商、上商、左商。</p>
<p>少宮、上宮、大宮、加宮、左角宮。</p>
<p>眾羽、桎羽、上羽、大羽、少羽。</p>
<p>今婦人之生，有餘於氣，不足於血，以其數脫血也。衝任之脈，不榮口唇，故須不生焉。宦者去其宗筋，傷其衝脈，血瀉不復，皮膚內結，唇口不榮，故須不生。其有天宦者，未償被傷，不脫於血，然其須不生，此天之所不足也，其任沖不盛，宗筋不成，有氣無血，唇口不榮，故須不生。是故聖人視其顏色，黃赤者多熱氣，青白者少熱氣，黑色者多血少氣。美眉者太陽多血，通須極須者少陽多血，美須者陽明多血，此其時然也。夫人之常數，太陽常多血少氣，少陽常多氣少血，陽明常多血多氣，厥陰常多氣少血，少陰常多氣少血，太陰常多血少氣，此天之常數也。</p>

<h2>百病始生</h2>
<p>喜怒不節則傷臟，臟傷則病起於陰也；清濕襲虛，則病起於下；風雨襲虛，則病起於上，是謂三部。至於其淫泆，不可勝數。風雨寒熱，不得虛，邪不能獨傷人。此必因虛邪之風，與其身形，兩虛相得，乃客其形，兩實相逢，眾人肉堅。其中於虛邪也，因於天時，與其身形，參以虛實，大病乃成，氣有定舍，因處為名，上下中外，分為三員。是故虛邪之中人也，始於皮膚，皮膚緩則腠理開，開則邪從毛髮入，入則抵深，深則毛髮立，毛髮立則淅然，故皮膚痛。留而不去，則傳舍於絡脈，在絡之時，痛於肌肉，其痛之時息，大經乃代。留而不去，傳舍於經，在經之時，灑淅喜驚。留而不去，傳舍於輸，在輸之時，六經不通，四肢則肢節痛，腰脊乃強。留而不去，傳舍於伏沖之脈，在伏沖之時，體重身痛。留而不去，傳舍於腸胃，在腸胃之時，賁響腹脹，多寒則腸鳴飧泄，食不化，多熱則溏出麋。留而不去，傳舍於腸胃之外，募原之間，留著於脈，稽留而不去，息而成積。或著孫脈，或著絡脈，或著經脈，或著輸脈，或著於伏沖之脈，或著於膂筋，或著於腸胃之募原，上連於緩筋，邪氣淫泆，不可勝論。其著孫絡之脈而成積者，其積往來上下，臂手孫絡之居也，浮而緩，不能句積而止之，故往來移行腸胃之間，水湊滲注灌，濯濯有音，有寒則䐜脹滿雷引，故時切痛。其著於陽明之經，則挾臍而居，飽食則益大，飢則益小。其著手緩筋也，似陽明之積，飽食則痛，飢則安。其著於腸胃之募原也，痛外連於緩筋，飽食則安，飢則痛。於伏沖之脈者，揣之應手而動，發手則熱氣下於兩股，如湯沃之狀。其著於膂筋，在腸後者，飢則積見，飽則積不見，按之不得。其著於輸之脈者，閉塞不通，津液不下，孔竅乾壅，此邪氣之從外入內，從上下也。積之始生，得寒乃生，厥乃成積也。厥氣生足悗，悗生脛寒，脛寒則血脈凝澀，血脈凝澀則寒氣上入於腸胃，入於腸胃則䐜脹，䐜脹則腸外之汁沫迫聚不得散，日以成積。卒然多食飲，則腸滿，起居不節，用力過度，則絡脈傷，陽絡傷則血外溢，血外溢則衄血，陰絡傷則血內溢，血內溢則後血，腸胃之絡傷，則血溢於腸外，傷外有寒，汁沫與血相搏，則併合凝聚不得散而積成矣。卒然外中於寒，若內傷於憂怒，則氣上逆，氣上逆則六輸不通，溫氣不行，凝結蘊里而不散，津液澀滲，著而不去，而積皆成矣。憂思傷心；重寒傷肺；忿怒傷肝；醉以入房，汗出當風傷脾；用力過度，若入房汗出浴，則傷腎。此內外三部之所生病者也。察其所痛，以知其應，有餘不足，當補則補，當瀉則瀉，毋逆天時，是謂至治。</p>

<h2>行針</h2>
<p>重陽之人，熇熇高高，言語善疾，舉足善高，心肺之臟氣有餘，陽氣滑盛而揚，故神動而氣先行。此人頗有陰者也。多陽者多喜，多陰者多怒，數怒者易解，故曰頗有陰，其陰陽之離合難，故其神不能先行也。</p>

<h2>上膈</h2>
<p>喜怒不適，飲食不節，寒溫不時，則寒汁流於腸中，流於腸中則蟲寒，蟲寒則積聚，守於下管，則腸胃充郭，衛氣不營，邪氣居之。人食則蟲上食，蟲上食則下管虛，下管虛則邪氣勝之，積聚以留，留則癰成，癰成則下管約。其癰在管內者，即而痛深；其癰在外者，則癰外而痛浮，癰上皮熱。</p>

<h2>憂恚無言</h2>
<p>咽喉者，水穀之道也。喉嚨者，氣之所以上下者也。會厭者，音聲之戶也。口唇者，音聲之扇也。舌者，音聲之機也。懸雍垂者，音聲之關也。頏顙者，氣分之所泄也。橫骨者，神氣所使，主發舌者也。故人之鼻洞涕出不收者，頏顙不開，分氣失也。是故厭小而薄，則發氣疾，其開闔利，其出氣易；其厭大而厚，則開闔難，其氣出遲，故重言也。人卒然無音者，寒氣客於厭，則厭不能發，發不能下，至其開闔不致，故無音。</p>

<h2>寒熱</h2>
<p>鼠瘻之本，皆在於臟，其末上出於頸腋之間，其浮於脈中，而未內著於肌肉，而外為膿血者，易去也。反其目視之，其中有赤脈，上下貫瞳子，見一脈，一歲死；見一脈半，一歲半死；見二脈，二歲死；見二脈半，二歲半死；見三脈，三歲而死，見赤脈不下貫瞳子，可治也。</p>

<h2>邪客</h2>
<p>夫邪氣之客人也，或令人目不瞑不臥出者，何氣使然？五穀入於胃也，其糟粕、津液、宗氣分為三隧，故宗氣積於胸中，出於喉嚨，以貫心肺，而行呼吸焉。營氣者，泌其津液，注之於脈，化以為血，以榮四末，內注五臟六腑，以應刻數焉。衛氣者，出其悍氣之剽疾，而先行於四末、分肉、皮膚之間，而不休者也，晝日行於陽，夜行於陰，常從足少陰之分間，行於五臟六腑，則衛氣獨衛其外，行於陽，不得入於陰。行於陽則陽氣盛，陽氣盛則陽蹻滿，不得入於陰，陰虛，故目不瞑也。人之肢節，以應天地。天圓地方，人頭圓足方以應之，天有日月，人有兩目；地有九州，人有九竅，天有風雨，人有喜怒；天有雷電，人有音聲；天有四時，人有四肢；天有五音，人有五臟；天有六律，人有六腑；天有冬夏，人有寒熱；天有十日，人有手十指；辰有十二，人有足十指，莖垂以應之，女子不足二節，以抱人形；天有陰陽，人有夫妻；歲有三百六十五日，人有三百六十節；地有高山，人有肩膝；地有深谷，人有腋膕；地有十二經水，人有十二經脈；地有泉脈，人有衛氣；地有草蓂，人有毫毛；天有晝夜，人有臥起；天有列星，人有牙齒；地有小山，人有小節；地有小石，人有高骨；地有林木，人有募筋；地有聚邑，人有㿉肉；歲有十二月，人有十二節；地有四時不生草，人有無子。此人與天地相應者也。手太陰之脈，出於大指之端，內屈，循白肉際，至本節之後大淵。留以澹；外屈，上於本節之下。內屈，與陰諸絡會於魚際，數脈並注，其氣滑利，伏行壅骨之下，外屈出於寸口而行，上至於肘內廉，入於大筋之下，內屈上行臑陰，入腋下，內屈走肺。此順行逆數之屈折也。心主之脈，出於中指之端，內屈，循中指內廉以上，留下常中，伏行兩骨之間，外屈，出兩筋之間，骨肉之際，其氣滑利，上三寸，外屈出行兩筋之間，上至肘內廉，入於小筋之下，留兩骨之會，上入於胸中，內絡於心脈。少陰，心脈也。心者，五臟六腑之大主也，精神之所舍也，其藏堅固，邪弗能容也，容之則傷心，心傷則神去，神去則死矣。故諸邪之在於心者，皆在於心之包絡。包絡者，心主之脈也，故獨無腧焉。其外經病而藏不病，故獨取其經於掌手銳骨之端。其餘脈出入屈折，其行之徐疾，皆如手少陰心主之脈行也。故本腧者，皆因其氣之虛實疾徐以取之，是謂因沖而瀉因衰而補，如是者，邪氣得去，真氣堅固，是謂因天之序。必先明知十二經脈之本末，皮膚之寒熱，脈之盛衰滑澀，其脈滑而盛者，病日進；虛而細者，久以持；太以澀者，為痛痹；陰陽如一者，病難治，其本末尚熱者，病尚在；其熱以衰者，其病亦去矣。持其尺，察其肉之堅脆、小大、滑澀、寒溫、燥濕。因視目之五色，以知五臟，而決死生；視其血脈，察其色以知其寒熱痛痹。肺心有邪，其氣留於兩肘；肝有邪，其氣流於兩腋；脾有邪，其氣留於兩髀；腎有邪，其氣留於兩膕。凡此八虛者，皆機關之室，真氣之所過，血絡之所遊，邪氣惡血，固不得住留，住留則傷經絡骨節，機關不得屈伸，故病攣也。</p>

<h2>通天</h2>
<p>太陰之人，貪而不仁，下齊湛湛，好內而惡出，心抑而不發，不務於時，動而後之。</p>
<p>少陰之人，小貪而賊心，見人有亡，常若有得，好傷好害，見人有榮，乃反慍怒，心疾而無恩。</p>
<p>太陽之人，居處於於，好言大事，無能而虛說，志發於四野，舉措不顧是非，為事如常自用，事雖敗，而無常悔。</p>
<p>少陽之人，諟諦好自貴，有小小官，則高自宣，好為外交，而不內附。</p>
<p>陰陽和平之人，居處安靜，無為懼懼，無為欣欣，婉然從物，或與不爭，與時變化，尊則謙謙，譚而不治，是謂至治。</p>
<p>太陰之人，多陰而無陽，其陰血濁，其衛氣澀，陰陽不和，緩筋而厚皮，不之疾瀉，不能移之。</p>
<p>少陰之人，多陰少陽，小胃而大腸，六腑不調，其陽明脈小，而太陽脈大，必審而調之，其血易脫，其氣易敗也。</p>
<p>太陽之人，多陽而少陰，必謹調之，無脫其陰，而瀉其陽，陽重脫者易狂，陰陽皆脫者，暴死不知人也。</p>
<p>少陽之人，多陽而少陰，經小而絡大，血在中而氣在外，實陰而虛陽，獨瀉其絡脈則強，氣脫而疾，中氣不足，病不起也。</p>
<p>陰陽和平之人，共陰陽之氣和，血脈調。宜謹診其陰陽，視其邪正，安其容儀，審有餘不足，盛則瀉之，虛則補之，不盛不虛，以經取之。</p>
<p>太陰之人，其狀黮黮然黑色，念然下意，臨臨然長大，膕然未僂。</p>
<p>少陰之人，其狀清然竊然，固以陰賊，立而躁嶮，行而似狀。</p>
<p>太陽之人，其狀軒軒儲儲，反身折膕。</p>
<p>少陽之人，其狀立則好仰，行則好搖，其兩臂兩肘，則常出於背。</p>
<p>陰陽和平之人，其狀委委然，隨隨然，顒顒然，愉愉然，䁢䁢然，豆豆然，眾人皆曰君子。</p>

<h2>論疾診尺</h2>
<p>審其尺之緩急、小大、滑澀，肉之堅脆，而病形定矣。視人之目窠上微癰，如新臥起狀，其頸脈動，時咳，按其手足上，窅而不起者，風水膚脹也。尺膚滑，其淖澤者，風也；尺肉弱者，解㑊；安臥脫肉者，寒熱不治；尺膚滑而澤脂者，風也；尺膚澀者，風痹也；尺膚粗如枯魚之鱗者，水泆飲也；尺膚熱甚，脈盛躁者，病溫也，其脈盛而滑者，病且出也。尺膚寒，其脈小者，泄、少氣他。尺膚炬燃先熱後寒者，寒熱也。尺膚先寒，久持之而熱者，亦寒熱也。肘所獨熱者，腰以上熱；手所獨熱者，腰以下熱。肘前獨熱者，膺前熱；肘後獨熱者，肩背熱。臂中獨熱者，腰腹熱；肘後廉以下三四寸熱者，腸中有蟲。掌中熱者，腹中熱；掌中寒者，腹中寒。魚上白肉有青血脈者，胃中有寒。尺炬然熱，人迎大者，當奪血。尺堅，人迎脈小甚，少氣，悗有加，立死。目赤色者病在心，白在肺，青在肝，黃在脾，黑在腎。黃色不可名者，病在胃中。診目痛，赤脈從上下者，太陽病；從下上者，陽明病；從外走內者，少陽病。診寒熱，赤脈上下至瞳子，見一脈，一歲死；見一脈半，一歲半死；見二脈，二歲死；見二脈半，二歲半死；見三脈，三歲死。診齲齒痛，按其陽之來，有過者獨熱，在左左熱，在右右熱，在上上熱，在下下熱。診血脈者多赤多熱，多青多痛，多黑多久痹，多赤、多黑、多青皆見者，寒熱，身痛而色微黃，齒垢黃，爪甲上黃，黃疸也。安臥，小便黃赤，脈小而澀者，不嗜食。人病，其寸口之脈，與人迎之脈小大等，及其浮沉等者，病難已也，女子手少陰脈動甚者妊子。嬰兒病，其頭毛皆逆上者必死，耳間青脈起者掣痛，大便赤瓣飧泄，脈小者，手足寒，難已；飧泄，脈小，手足溫，泄易已。四時之變，寒暑之勝，重陰必陽，重陽必陰，故陰主寒，陽主熱，故寒甚則熱，熱甚則寒，故曰寒生熱，熱生寒，此陰陽之變也。故曰：冬傷於寒，春生癉熱；春傷於風，夏生後泄腸澼；夏傷於暑，秋生痎瘧；秋傷於濕，冬生咳嗽，是謂四時之序也。</p>

<h2>刺節真邪</h2>
<p>真氣者，所受於天，與穀氣並而充身者也。正氣者，正風也，從一方來，非實風，又非虛風也。邪氣者，虛風之賊傷人也，其中人也深，不能自去。其氣來柔弱，不能勝真氣，故自去。虛邪之中人也，灑淅動形，起毫毛而發腠理。其入深，內搏於骨，則為骨痹。搏於筋，則為筋攣。搏於脈中，則為血閉不通，則為癰。搏於肉，與衛氣相搏，陽勝者則為熱，陰勝者則為寒，寒則真氣去，去則虛，虛則寒。搏於皮膚之間，其氣外發，腠理開，毫毛搖，氣往來行，則為癢。留而不去，為痹。衛氣不行，則為不仁。虛邪偏客於身半，其入深，內居榮衛，榮衛稍衰，則真氣去，邪氣獨留，發為偏枯。其邪氣淺者，脈偏痛。虛邪之入於身也深，寒與熱相搏，久留而內著，寒勝其熱，則骨疼內枯，熱勝其寒，則爛肉腐肌為膿，內傷骨，內傷骨為骨蝕。有所結，中於筋，筋屈不得伸，邪氣居其間而不反，發為筋瘤。有所結，氣歸之，衛氣留之，不得復發，津液久留，合而為腸溜，久者數歲乃成，以手按之柔。有所結，氣歸之，津液留之，邪氣中之，凝結日以易甚，連以聚居，為昔瘤，以手按之堅。有所結，深中骨，氣因於骨，骨與氣並，日以益大，則為骨瘤。有所結，中於肉，宗氣歸之，邪留而不去，有熱則化而為膿，無熱則為肉瘤。凡此數氣者，其發無常處，而有常名也。</p>

<h2>衛氣行</h2>
<p>歲有十二月，日有十二辰，子午為經，卯酉為緯，天周二十八宿，而一面七星，四七二十八星，房昴為緯，虛張為經。是故房至畢為陽，昴至心為陰，陽主晝，陰主夜。故衛氣之行，一日一夜五十周於身，晝日行於陽二十五周，夜行於陰二十五周，周於五臟。是故平旦陰盡，陽氣出於目，目張則氣上行於頭，循項下足太陽，循背下至小指之端。其散者，別於目銳眥，下手太陽，下至手小指之間外側。其散者，別於目銳眥，下足少陽，注小指次指之間。以上循手少陽之分側，下至小指之間，別者以上至耳前，合於頷脈，注足陽明，以下行至跗上，入五指之間。其散者，從耳下下手陽明，入大指之間，入掌中。其至於足也，入足心，出內踝下，行陰分，復合於目，故為一周。是故日行一舍，人氣行一周與十分身之八；日行二舍，人氣行三周於身與十分身之六；日行三舍，人氣行於身五周與十分身之四；日行四舍，人氣行於身七周與十分身之二；日行五舍，人氣行於身九周；日行六舍，人氣行於身十周與十分身之八；日行七舍，人氣行於身十二周在身與十分身之六；日行十四舍，人氣二十五周於身有奇分與十分身之二，陽盡於陰，陰受氣矣。其始入於陰，常從足少陰注於腎，腎注於心，心注於肺，肺注於肝，肝注於脾，脾復注於腎為周。是故夜行一舍，人氣行於陰臟一周與十分臟之八，亦如陽行之二十五周，而復合於目。陰陽一日一夜，合有奇分十分身之二，與十分臟之二，是故人之所以臥起之時有早晏者，奇分不盡故也。分有多少，日有長短，春秋冬夏，各有分理，然後常以平旦為紀，以夜盡為始。是故一日一夜，水下百刻，二十五刻者，半日之度也。水下一刻，人氣在太陽；水下二刻，人氣在少陽；水下三刻，人氣在陽明；水下四刻，人氣在陰分。水下五刻，人氣在太陽；水下六刻，人氣在少陽；水下七刻，人氣在陽明；水下八刻，人氣在陰分。水下九刻，人氣在太陽；水下十刻，人氣在少陽；水下十一刻，人氣在陽明；水下十二刻，人氣在陰分。水下十三刻，人氣在太陽；水下十四刻，人氣在少陽；水下十五刻，人氣在陽明；水下十六刻，人氣在陰分。水下十七刻，人氣在太陽；水下十八刻，人氣在少陽；水下十九刻，人氣在陽明；水下二十刻，人氣在陰分。水下二十一刻，人氣在太陽；水下二十二刻，人氣在少陽；水下二十三刻，人氣在陽明；水下二十四刻，人氣在陰分。水下二十五刻，人氣在太陽，此半日之度也。從房至畢一十四舍，水下五十刻，日行半度；回行一舍，水下三刻與七分刻之四。大要曰常以日之加於宿上也，人氣在太陽，是故日行一舍，人氣行三陽與陰分，常如是無已，與天地同紀，紛紛𤽉𤽉，終而復始，一日一夜水下百刻而盡矣。</p>

<h2>九宮八風</h2>
<figure>
<img data-orig-src="urn:270:10576.jpg" alt="合八風虛實邪正圖">
</figure>
<p>立秋二（玄婁西南方）　秋分七（倉果西方）　立冬六（新洛西北方）　夏至九（上天南方）　招搖中央　冬至（一葉蟄北方）　立夏四（陰洛東南方）　春分三（倉門東方）　立春八（天留東北方）　太一常以冬至之日，居葉蟄之宮四十六日，明日居天留四十六日，明日居倉門四十六日，明日居陰洛四十五日，明日居天宮四十六日，明日居玄委四十六日，明日居倉果四十六日，明日居新洛四十五日，明日復居蟄之宮，曰冬至矣。太一日遊，以冬至之日，居葉蟄之官，數所在日，從一日至九日，復反於一，常如是無已，終而復始。太一移日，天必應之以風雨，以其日風雨則吉，歲美民安少病矣。先之則多雨，後之則多旱。太一在冬至之日有變，佔在君；太一在春分之日有變，佔在相；太一在中宮之日有變，佔在吏；太一在秋分之日有變，佔在將；太一在夏至之日有變，佔在百姓。太一居五宮之日，病風折樹木，揚沙石，各以其所主，占貴賤。因視風所從來而占之。風從其所居之鄉來為實風，主生長養萬物；從其沖後來為虛風，其傷人者也，主殺，主害者。謹候虛風而避之，故聖人曰避虛邪之道，如避矢石然，邪弗能害，此之謂也。是故太一人徙立於中宮，乃朝八風，以占吉凶也。風從南方來，名曰大弱風，其傷人也，內舍於心，外在於脈，氣主熱。風從西南方來，名曰謀風，其傷人也，內舍於脾，外在於肌，其氣主為弱。風從西方來，名曰剛風，傷人也，內舍於肺，外在於皮膚，其氣主為燥。風從西北方來，名曰折風，其傷人也，內舍於小腸，外在於手太陽脈，脈絕則溢，脈閉則結不通，善暴死。風從北方來，名曰大剛風，其傷人也，內舍於腎，外在於骨與肩背之膂筋，其氣主為寒也。風從東北方來，名曰凶風，其傷人也，內傷於大腸，外在於兩脅腋骨下及肢節。風從東方來，名曰嬰兒風，其傷人也，內舍於肝，外在於筋紐，共氣主為身濕。風從東南方來，名曰弱風，其傷人也，內舍於胃，外在肌肉，其氣主體重。此八風皆從其虛之鄉來，乃能病人，三虛相搏，則為暴病卒死。兩實一虛，病則為淋露寒熱。犯其雨濕之地，則為痿。故聖人避風，如避矢石焉。其有三虛而偏中於邪風，則為擊僕偏枯矣。</p>

<h2>九針論</h2>
<p>一者，天也。天者，陽也。五臟之應天者，肺也。五臟六腑之蓋也。皮者，肺之合也，人之陽也。二者，地也。人之所以應土者，肉也。三者，人也。人之所以成生者，血脈也。四者，時也。時者，四時八風之客於經絡之中，為痼病者也。五者，音也。音者，冬夏之分，分於子午，陰與陽別。寒與熱爭，兩氣相搏，合為癰膿者也。六者，律也。律者，調陰陽四時而合十二經脈。虛邪客於經絡而為暴痹者也。七者，星也。星者，人之七竅。邪之所客於經，而為痛痹舍於經絡者也。八者，風也。風者，人之股肱八節也。八正之虛風，八風傷人，內舍於骨解腰脊節腠理之間，為深痹也。九者，野也。野者，人之節解皮膚之間也。淫邪流溢於身，如風水之狀，而溜不能過於機關大節者也。請言身形之應九野也，左足應立春，其日戊寅已醜；左脅應春分，其日乙卯；左手應立夏，其日戊辰己已；膺喉首頭應夏至，其日丙午；右手應立秋，其日戊申已未；右脅應秋分，其日辛酉；右足應立冬，其日戊戌己亥；腰尻下竅應冬至，其日壬子。六腑膈下三臟應中州，其大禁，大禁太一所在之日，及諸戊已。凡此九者，善候八正所在之處。所主左右上下身體有癰腫者，欲治之，無以其所直之日潰治之，是謂大忌日也。形樂志苦，病生於脈，治之以灸刺。形苦志樂，病生於筋，治之以熨引。形樂志樂，病生於肉，治之以針石。形苦志苦，病生於咽喝，治之以甘藥。形數驚恐，筋脈不通，病生於不仁，治之以按摩醪藥。是謂五形志也。五臟氣：心主噫，肺主咳，肝主語，脾主吞，腎主欠。六府氣：膽為怒，胃為氣逆噦，大腸小腸為泄，膀胱不約為遺尿，下焦溢為水。五味所入：酸入肝，辛入肺，苦入心，甘入脾，鹹入腎，淡入胃，是謂五入。五並：精氣並肝則憂，並心則喜，並肺則悲，並腎則恐，並脾則畏，是謂五精之氣並於臟也。五惡：肝惡風，心惡熱，肺惡寒，腎惡燥，脾惡濕，此五臟氣所惡也。五液：心主汗，肝主泣，肺主涕，腎主唾，脾主涎，此五液所出也。五勞：久視傷血，久臥傷氣，久坐傷肉，久立傷骨，久行傷筋，此五久勞所病也。五走：酸走筋，辛走氣，苦走血，咸走骨，甘走肉，是謂五走也。五裁：病在筋，無食酸；病在氣，無食辛；病在骨，無食鹹；病在血，無食苦；病在肉，無食甘。口嗜而欲食之，不可多也，必自裁也，命曰五裁。五發：陰病發於骨，陽病發於血，以味病發於氣，陽病發於冬，陰病發於夏。五邪：邪入於陽，則為狂；邪入於陰，則為血痹；邪入於陽，轉則為顛疾；邪入於陰，轉則為喑；陽入之於陰，病靜；陰出之於陽，病喜怒。五藏：心藏神，肺藏魄，肝藏魂，脾藏意，腎藏精志也。五主：心主脈，肺主皮，肝主筋，脾主肌，腎主骨。陽明多血多氣，太陽多血少氣，少陰多氣少血。足陽明太陽為表裡，少陽厥陰為表裡，太陽少陰為表裡，是謂足之陰陽也；手陽明太陰為表裡，少陽心主為表裡，太陽少陰為表裡，是謂手之陰陽也。</p>

<h2>歲露論</h2>
<p>夏日傷暑，秋病瘧，瘧之發以時，其故何也？邪客於風府，病循膂而下，衛氣一日一夜，常大會於風府，其明日，日下一節，故其日作晏。此其先客於脊背也，故每至於風府則腠理開，腠理開則邪氣入，邪氣入則病作，此所以日作尚晏也。衛氣之行風府，日下一節，二十一日，下至尾底，二十二日，入脊內，注於伏沖之脈，其行九日，出於缺盆之中，其氣上行，故其病稍益早，其內搏於五臟，橫連募原，其道遠，其氣深，其行遲，不能日作，故次日乃蓄積而作焉。風府無常，衛氣之所應，必開其腠理，氣之所舍節，則其府也。人與天地相參也，與日月相應也。故月滿則海水西盛，人血氣積，肌肉充，皮膚致，毛髮堅，腠理郄，煙垢著，當是之時，雖遇賊風，其人淺不深。至其月郭空，則海水東盛，人氣血虛，其衛氣去，形獨居，肌肉減，皮膚縱，腠理開，毛髮殘，腠理薄，煙垢落，當是之時，遇賊風則其入深，其病人也卒暴。三虛者，其死暴疾也；得三實者，邪不能傷人也。乘年之衰，逢月之空，失時之和，因為賊風所傷，是謂三虛。逢年之盛，遇月之滿，得時之和，雖有賊風邪氣，不能危之也。歲之所以皆同病者，此八正之候也。候此者，常以冬至之日，太一立於葉蟄之宮，其至也，天必應之以風雨者矣。風雨從南方來者，為虛風，賊傷人者也。其以夜半至也，萬民皆臥而弗犯也，故其歲民少病。其以晝至者，萬民懈惰而皆中於虛風，故萬民多病。虛邪入客於骨而不發於外，至其立春，陽氣大發，腠理開，因立春之日，風從西方來，萬民又皆中於虛風，此兩邪相搏，經氣結代者矣。故諸逢其風而遇其雨者，名早遇歲露焉。因歲之和，而少賊風者，民少病而少死；歲多賊風邪氣，寒溫不和，則民多病而死矣。正月朔日，太一居天留之宮，其日西北風，不雨；人多死矣。正月朔日，平旦北風，春，民多死。正月朔日，日中北風，夏，民多死。正月朔日，夕時北風，秋，民多死。終日北風，大病死者十有六。正月朔日，風從南方來，命曰旱鄉；從西方來，命曰白骨，將國有殃，人多死亡。正月朔日，風從東方來，髮屋，揚沙石，國有大災也。正月朔日，風從東南方行，春有死亡。正月朔日，天和溫不風，糴賤，民不病；天寒而風，糴貴，民多病。此所謂候歲之風，䔲傷人者也。二月醜不風，民多心腹病；三月戌不溫，民多寒熱；四月已不暑，民多癉病；十月申不寒，民多暴死。諸所謂風者，皆髮屋，折樹木，揚沙石，起毫毛，發腠理者也。</p>

<h2>大惑論</h2>
<p>五臟六腑之精氣，皆上注於目而為之精。精之窠為眼，骨之精為瞳子，筋之精為黑眼，血之精為絡，其窠氣之精為白眼，肌肉之精為約束，里擷筋骨血氣之精而與脈併為系，上屬於腦，後出於項中。故邪中於項，因逢其身之虛，其入深，則隨眼系以入於腦，入於腦則腦轉，腦轉則引目系急，目系急則目眩以轉矣。邪其精，其精氣中不相比也則精散，精散則視歧，視歧見兩物。目者，五臟六腑之精也，營衛魂魄之所常營也，神氣之所生也。故神勞則魂魄散，志意亂，是故瞳子眼黑法於陰，白眼赤脈法於陽也。故陰陽合傳而精明也。目者，心之使也，心者，神之舍也，故神分精亂而不揣。卒然見非常處，精神魂魄，散不相得，故曰惑也。心有所喜，神有所惡，卒然相感，則精氣亂，視誤，故惑，神移乃復，是故間者為迷，甚者為惑。人之善忘者，上氣不足，下氣有餘，腸胃實而心肺虛。虛則營衛留於下，久之不以時上，故善忘也。人之善飢而不嗜食者，精氣並於脾，熱氣留於胃，胃熱則消穀，谷消故善飢。胃氣逆上，則胃脘寒，故不嗜食也。病而不得臥者，衛氣不得入於陰，常留於陽，留於陽則陽氣滿，陽氣滿則陽蹻盛，不得入於陰則陰氣虛，故目不得瞑矣。病目而不得視者，衛氣留於陰，不得行於陽，留於陰則陰氣盛，陰氣盛則陰蹻滿，不得入於陽則陽氣虛，故目閉也。人之多臥者，此人腸胃大而皮膚澀，而分肉不解焉。腸胃大則衛氣留久，皮肝澀則分肉不解，其行遲。夫衛氣者，晝日常行於陽，夜行於陰，故陽氣盡則臥，陰氣盡則寤。故腸胃大，則衛氣行留久；皮膚澀，分肉不解，則行遲。留於陰也久，其氣不精，則欲瞑，故多臥矣。其腸胃小，皮膚滑以緩，分肉解利，衛氣之留於陽也久。故少瞑焉。其非常經也，卒然多臥者，邪氣留於上焦，上焦閉而不通，已食若飲湯，衛氣留久於陰而不行，故卒然多臥焉。治此諸邪，先其臟腑，味其小過，後調其氣，盛者瀉之，虛者補之，必先明知其形志之苦樂，定乃取之。</p>

<h2>癰疽</h2>
