<header data-type="book">
<h1>胎產秘書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳笏庵</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1795">公元1795年</data></dd></div>
</dl>
</header>

<h1>原序</h1>
<p>症之至危而治之甚難者，莫如胎產。未產而保衛之，既產而調護之，此其道失之毫釐，謬以千里者也。吾鄉山陰錢氏及蕭山竹林寺僧獨擅其道，以行於世，遠近就醫如市。賴以生活者，不可勝計。第其方書秘而不露，無能窺其奧，咸為悵然。既今之《達生篇》雖善，但何症應作何治，尚未詳備。余自成童即留心胎產，前於受業師陳勿庵先生家，得珍藏秘本，細加披閱。內分胎前、臨產、產後三門，復附保嬰要訣。其別類也詳，其論症也確，其立方也精，較之《達生篇》更為盡善而盡美，此治產之寶鑑，濟世之良書也。然後知錢氏及竹林寺僧擅醫獨步者，其方書均出於此矣。誠使是書家置一本，臨時翻閱驗證，引方則安者，不至於危，危者可轉為安。具有益於人世，豈曰小補之哉。</p>
<p>是書余於乾隆乙卯遊幕楚南，與陳百樓先生同館，岳陽郡署已付剞劂，公之於世。旋赴粵西，又之黔之滇，所鐫刻本出以與人，依方治病，無不神效。然藏板星沙，終以不得遍行海內，為未愜於心。茲遊皖江，復遇好善樂施諸公，因而重鐫，以廣流傳。夫利一身者，一身行之，利天下者，當與天下共之。是書他日自邇迄遠，轉相鐫刻，俾得人人而濟之，尤余之所厚望也夫。</p>
<p><u>時嘉慶十四年歲次己巳七月既望古虞杏園何榮撰</u></p>

<h1>上卷</h1>

<h2>胎前總論</h2>
<p>凡孕婦脾胃健旺，氣血充足，則胎安產順，毋庸用藥調理。惟稟不足而氣血衰，脾胃弱而勞役過，以致諸症百出，不得不資藥力矣。昔丹溪定補母安胎之方，以補氣血為主，以順氣清涼為佐。參、朮、黃芩，為安胎之聖藥；芎、歸、熟地，為補血之妙劑。加以蘇、陳等味，定為常服主方。至胎成六月，茯苓性降，不宜多用。黃耆肥胎，不可常加。香附雖快氣疏肝，過則耗氣無補。砂仁能止嘔定痛，多亦動血行胎。此誠先賢之法戒，後學之準繩也。而猶以為未備，因分析胎前諸症，擬成數十餘方，以便臨期酌用。</p>

<h2>惡阻</h2>
<p>凡妊娠一二月，惡阻嘔逆，煩悶嗜臥，即俗所謂病兒也。此由婦人本元虛弱，平時喜怒不節，寒暑不調，中脘宿有停痰積飲，受孕經閉，飲食相搏，氣不宣通。以致心下煩悶，頭眩眼花，四肢倦怠，聞食即嘔，喜酸嗜鮮，多臥少起，甚至嘔逆不食。法當順氣理血，豁痰導水，而諸症自除。以加味參橘飲治之。</p>
<p><u>加味參橘飲</u></p>
<p>人參（一錢）　白朮（二錢）　砂仁（三分）　厚朴（一錢）　橘紅（四分）　當歸（一錢）　香附（五分）　甘草（三分）　姜（三片）　竹茹（一丸）</p>
<p>若無力，服參，去之亦可，或方內加半夏曲八分。</p>

<h2>胎動不安</h2>
<p>凡妊娠二三月，胎動不安者，蓋因子宮久虛，氣血兩弱，不能攝元養胎，致令不安欲墮。急服安胎飲以保之。若先經墮過者，可先服大造丸，繼服杜仲丸，庶無半產之患。</p>
<p>湯氏云：半產多在三五七個月，如前次在幾個月墮者，後必如期復然。故當追算，前在三個月墮者，即於未墮半月前，先服清熱養血固胎之藥數帖，以補其虛。五月、七月墮者，亦於未墮半月前，預先服藥，方保平安。此據受孕後夾熱者而言。蓋三五七系陽月，緣火能銷鑠故也。</p>
<p><u>安胎飲</u></p>
<p>人參（一錢，虛者倍用）　當歸（二錢）　熟地（三錢）　條芩（一錢）　川芎（七分）　白朮（二錢）　陳皮（四分）　紫蘇（四分）　甘草（四分）　元棗（二枚）</p>
<p>如虛肥人，陳皮去白，加川連五分。如脾胃溏瀉，加蓮子十粒，砂仁五分，川連五分炒，去熟地、黃芩。怒而多瀉，加木香三分。渴加麥冬二錢。怔忡、驚悸，加棗仁二錢，益智仁一錢，龍眼肉十個。</p>
<p><u>大造丸</u></p>
<p>紫河車（一具，泔水洗淨，炙酥）　杞子（一兩）　人參（一兩五錢）　當歸（二兩）　麥冬（一兩三錢）　天冬（一兩）　益智（一兩）　茯苓（二兩）　五味（五錢）　熟地（姜炒，二兩）　川膝（五錢）　山藥（八錢）　菟絲子（鹽水炒，四兩）　川柏（鹽水炒，一兩）</p>
<p>共為末，蜜煉丸如桐子大，白滾湯送下五十丸。</p>
<p><u>杜仲丸</u></p>
<p>杜仲（薑汁炒）　川斷（酒浸）</p>
<p>各等分為末，煉蜜為丸如桐子大，米飲湯送下五六十丸。</p>
<p><u>又方</u></p>
<p>杜仲（三錢）　川斷（三錢）</p>
<p>水煎服。名為泰山盤石飲。</p>

<h2>胎動腹痛</h2>
<p>凡妊娠胎動腹痛者，或因飲食冷熱及動風毒物，或因交感，搖動骨節，傷犯胞胎，或因服藥太過，血氣不調所致。宜服順氣補血之藥。如加味安胎飲，或如聖散。</p>
<p><u>加味安胎飲</u></p>
<p>砂仁（炒）　麥冬　條芩（各一錢）　人參　當歸　熟地（各二錢）　陳皮　紫蘇（各四分）　生白朮（一錢五分）　甘草（三分）　大棗（二枚）　生薑（三片）</p>
<p>水煎服。此方凡妊娠元氣不足，精神倦怠，胎動不安，或身上微熱者，並宜服之，必一日兩服，方可平安。如腹痛者，去麥冬，加蘄艾，醋炒黑七分，或再加四制香附一錢，蓋氣通則不痛也。如咽燥多痰，兼失血者，加川貝一錢五分，黑荊芥一錢。</p>
<p><u>如聖散</u></p>
<p>鯉魚皮　阿膠　當歸　川斷（各二錢）　熟地（三錢）　白芍（一錢）　川芎（一錢）　甘草（六分）</p>
<p>加苧麻根少許，生薑五片，水煎，空心服。</p>

<h2>胎漏下血</h2>
<p>凡妊娠胎漏，經血妄行，此是胎息未實，或因勞役過度，傷動胞胎，或因房室驚觸，致令子宮虛滑，經血淋漓，若不急治，日漸胎干，子母不保。急服寄生散，或參歸飲，或阿膠濟陰湯，或保產無憂散。</p>
<p><u>寄生散</u></p>
<p>寄生　川斷　阿膠　香附（黑）　人參　白朮　川芎（各等分，加姜五片）</p>
<p>水煎服。</p>
<p><u>參歸飲</u></p>
<p>人參　當歸　寄生　淮生　淮熟　條芩　香附　茯苓　阿膠（各一錢）　川芎（五分）　生甘草（五分）　白芍（二分）　黃耆（一錢半）　黃楊葉（三片）　生薑（二片）</p>
<p>水煎服。甚者，日進一劑。</p>
<p><u>阿膠濟陰湯</u></p>
<p>阿膠　白朮（各一錢）　地黃　白芍　當歸　川芎（各一錢）　砂仁（帶殼，五分）　條芩　蘄艾（各錢半）　香附（八分）　炙甘草（五分）　黏米（一撮）</p>
<p>水二湯碗，煎至一碗，溫服。如下血塊，加地榆。腰痛，加杜仲。觸患胞胎，加金銀花。須一日一夜三服，以防敗血攻心。如血不止，加川斷二錢炒黑，荊芥一錢五分，黑大豆四十九粒。如因傷瘀而痛，怕按者，加桂心三四分。</p>
<p><u>保產無憂散</u></p>
<p>生綿耆（二錢半）　歸身（一錢，酒炒）　川芎（一錢）　甘草（一分）　菟絲餅（二錢）　羌活（七分）　厚朴（七分，薑汁炒）　枳殼（六分，麵炒）　蘄艾（七分，醋炒）　荊芥穗（一錢）　川貝（一錢）　白芍（酒炒，冬月八分，夏月一錢）</p>
<p>日進二劑亦可。此方兼可催生，如不見血，加生薑二片。</p>

<h2>漏胎</h2>
<p>凡受孕之後，經血不時點滴，謂之漏胎。蓋由勞傷氣血，虛弱之故，或因惱怒，或食炙煿熱物所致。宜補中安胎飲。</p>
<p><u>補中安胎飲</u></p>
<p>條芩　白朮　人參（各三錢）　熟地（三錢）　當歸（錢半）　白芍（一錢）　生甘草（五分）　蘇梗（八分）</p>

<h2>跌撲動胎</h2>
<p>凡妊娠跌撲動胎，下血不止，急服安胎參蘇飲。</p>
<p><u>安胎參蘇飲</u></p>
<p>人參　蘄艾　川芎（各三分）　當歸（一錢）　條芩　生術（各二錢）　陳皮　紫蘇　生甘草（各四分）　阿膠（一錢）</p>
<p>有外感者，加蔥白四寸。腹痛，減蘄艾，加砂仁四分。</p>

<h2>小便帶血</h2>
<p>凡妊娠小便中帶血，由形體勞苦，或過食煿炙之物所致。宜清膀胱之火，服加味逍遙散。</p>
<p><u>加味逍遙散</u></p>
<p>當歸　白朮（各二錢）　柴胡　白芍（各一錢）　丹皮　茯苓　梔子（各七分）　生甘草（八分）　燈心（七莖）</p>

<h2>子淋</h2>
<p>凡妊娠小便淋漓，此由調攝失宜，酒色過度，傷損營衛，致令子宮氣虛而然。又或下焦有熱而閉塞者，名曰子淋。宜服安榮散。</p>
<p><u>安榮散</u></p>
<p>當歸（五錢）　滑石（一兩）　通草（一兩）　人參（三錢）　麥冬（一兩）　細辛（一錢）　炙甘草　燈心（各五錢）</p>
<p>共為末，每服四錢，白湯送下。又方用桑螵蛸為末，每服二錢，空心米湯送下。又方用陳米陶濃汁服之。此方並可治男子癃閉。</p>
<p>按：此症由飲食無忌，熱積膀胱者居多。湯氏用古芎歸湯，加木通、麥冬、人參、燈心、甘草、滑石治之。如清涼通利等藥不效，即用補中益氣湯，加淨車前二錢。蓋中氣一提，則下竅自開，況車前利水通淋，一提一降，自然見效。補中益氣湯見子滿條下。</p>

<h2>子腫</h2>
<p>凡妊娠面目虛浮，四肢有水氣，名曰子腫。蓋由脾胃虛弱所致。宜服全生白朮散，或鯉魚湯。</p>
<p><u>全生白朮散</u></p>
<p>人參（一錢）　白朮（二錢）　茯苓皮（八分）　甘草（三分）　當歸（二錢）　川芎（六分）　紫蘇　陳皮（各四分）　生薑（三片）</p>
<p>水煎服。或加蒲種殼二錢，或干浮萍一錢，生薑用皮，並加冬瓜子三錢。</p>
<p><u>鯉魚湯</u></p>
<p>鯉魚不拘大小，二三尾洗去鱗，用水煮熟，去魚，每服用湯一大盅煎後藥，服之。</p>
<p>當歸　白朮（各五錢）　茯苓（四錢）　陳皮（二錢）</p>
<p>每服四錢，加生薑七片，投魚湯內煎服，以愈為度。</p>
<p>湯氏云：子腫，於五六個月時多有之。或腹大高過心胸，氣逆不安，此由胎中蓄水所致。若不早治，必然生子殘疾，子母難保。常煎鯉魚粥食之。</p>

<h2>子滿</h2>
<p>凡妊娠腿膝浮腫，腳面足趾水出，氣促滿悶，此由脾虛血化成水所致，名曰子滿，又名子氣。宜服加味天仙藤散。如脾氣弱甚者，宜服補中益氣湯。</p>
<p><u>加味天仙藤散</u></p>
<p>天仙藤（洗，略炒，六分）　木瓜（一錢）　香附（六分）　紫蘇　陳皮（各四分）　烏藥（七分）　甘草（三分）</p>
<p>水煎服。虛甚，加人參一錢，當歸、白朮各二錢。</p>
<p><u>補中益氣湯</u></p>
<p>人參　炙耆（各錢半）　炙草（五分）　白朮　歸身（各一錢）　陳皮（七分）　柴胡　升麻（各三分）</p>
<p>或加川椒目一錢，淨車前一錢更佳。水煎服。</p>
<p>按：妊娠七八個月，兩足浮腫，乃胞漿水濕下流之故。其微腫者，名曰皺腳。得之易產。其腫甚，或出黃水者，始服補中益氣湯。</p>

<h2>子懸</h2>
<p>凡妊娠胎氣不和，上湊心腹，滿痛難忍，謂之子懸。以紫蘇散治之。</p>
<p><u>紫蘇散</u></p>
<p>紫蘇　陳皮　白朮　腹皮　當歸　川芎（各等分）　人參　甘草（各減半）　姜（五片）　蔥白（五寸）</p>
<p>水煎，空心服。一方以蓮房燒灰，酒送下。</p>
<p><u>安胎順氣飲</u></p>
<p>即前方去腹皮，加砂仁三粒，木香三分，磨汁，加姜煎。</p>
<p>按：受孕至三五個月，斯時相火養胎，火盛胎熱，則氣逆湊心，多有此症。</p>

<h2>子煩</h2>
<p>凡妊娠心驚膽怯，煩悶不安，名曰子煩。宜服竹葉安胎飲。</p>
<p><u>竹葉安胎飲</u></p>
<p>人參（三分）　白朮　條苓　當歸（各二錢）　棗仁　遠志（各八分）　陳皮（三分）　川芎（七分）　生甘草（四分）　生地（錢半）　麥冬（一錢）　竹葉（十片）</p>
<p>薑棗引。有痰，加竹瀝、薑汁。虛甚，人參倍用。瀉，加芡實，減生地。</p>
<p>按：此症亦多在四五個月之時，相火用事，或因夏令君火大行，俱能乘肺，以致煩躁。湯建中雲：因相火者，加知母。因君火者，加川連。</p>

<h2>子嗽</h2>
<p>凡妊娠子嗽，因外感傷寒者，參蘇飲去人參、半夏，加桑皮、杏仁。因火乘肺金者，二陳湯去半夏，加芩、連、枳、桔、貝母。痰而喘者，加蔞仁、前胡、桑皮。如咳嗽吐血不止者，用生地飲，如風壅相攻，胸滿久嗽者，用百合散。</p>
<p><u>加減參蘇飲</u></p>
<p>蘇葉　杏仁　橘紅（各一錢）　枳殼（炒，七分）　前胡（八分）　木香（三分）　桔梗　乾葛（各七分）　桑皮（七分）　甘草（四分）</p>
<p>水煎服。喘，加蔞仁二錢。</p>
<p><u>加減二陳湯</u></p>
<p>枯芩（二錢）　川連　橘紅　川貝　茯苓　桑皮（各一錢）　前胡（七分）　枳殼（八分）　甘草（五分）　栝蔞（一錢）</p>
<p><u>生地飲</u></p>
<p>生地（三錢）　犀角（三分）　白芍　知母　天冬　麥冬（各二錢）　黃芩（八分）　桔梗（八分）　當歸（二錢）　紫苑（一錢五分）　甘草（四分）</p>
<p>喘，加栝蔞一錢。</p>
<p><u>百合散</u></p>
<p>百合（二錢）　桑皮（七分）　前胡（八分）　桔梗（七分）　芍藥（一錢）　赤苓（八分）　貝母（一錢）　橘紅（一錢）　甘草（五分）</p>
<p>生薑引，水煎服。或加紫苑、款冬。</p>

<h2>子瘧</h2>
<p>凡妊娠病瘧，多由營衛虛弱，脾胃不足，或感風寒，或傷生冷，傳為瘧疾，名曰子瘧。宜服驅邪散。熱多寒少者，清脾飲去半夏。寒多熱少者，人參養胃湯去半夏。久而虛者，四獸飲主之。</p>
<p><u>驅邪散</u></p>
<p>藿香　白朮　茯苓（各等錢）　甘草　肉果（少許）　知母（一錢）　橘紅（八分）　砂仁（八分）</p>
<p>薑棗引。如有表邪者，加蘇葉八分，蔥白五寸，或加柴胡八分。</p>
<p><u>清脾飲</u></p>
<p>白朮　茯苓　知母（各一錢）　青皮（四分）　厚朴（八分）　黃芩（二錢）　甘草（五分）</p>
<p>生薑為引，水煎服。原方有柴胡。</p>
<p><u>人參養胃湯</u></p>
<p>人參　蒼朮　藿香　厚朴（各一錢）　陳皮（一錢五分）　肉果（六分）　茯苓（一錢二分）　炙甘草（五分）</p>
<p>姜引，或加烏梅一個。</p>
<p><u>四獸飲</u></p>
<p>人參（二錢）　白朮（土炒，二錢）　茯苓（一錢二分）　炙甘草（五分）　陳皮（一錢二分）　肉果（八分）　元棗（三枚）　姜（二片）　烏梅（三個）</p>
<p>或加當歸二錢，虎骨膠二錢，如無膠用虎骨六錢。以上各方，虎骨、當歸均可加入。</p>

<h2>子癇</h2>
<p>（音閒即胎風，一名兒暈，又名痙）</p>
<p>凡妊娠口噤項強，手足攣搐，言語蹇澀，痰涎壅盛，不省人事，名曰子癇。切不可作中風治。宜服加味羚羊角散，或加味地黃湯。如無痰涎，言語如常，但見中風形狀，此緣血少類風，如以風藥投之，貽害不淺。</p>
<p><u>加味羚羊角散</u></p>
<p>羚羊角　當歸　防風　獨活　茯苓　棗仁　五加皮（各一錢）　米仁（五分）　杏仁（八分）　甘草　木香（各三分）　蔥白（五寸）　姜（五片）</p>
<p>煎服。虛，加人參。痰，加竹瀝、薑汁。脾虛，加炒白朮。風痰湧甚，加天竺黃一錢，川貝一錢。</p>
<p><u>加味地黃湯</u></p>
<p>大熟地（薑汁、砂仁拌炒八錢）　淨萸肉（四錢）　懷山藥（四錢）　茯苓（三錢）　丹皮（三錢）　澤瀉（二錢）　陳膽星（二錢）　吳茱萸（五分）　川連（五分，煮汁泡七次，炒一錢）</p>
<p>荊瀝沖服。</p>

<h2>子喑</h2>
<p>（音因）</p>
<p>凡妊娠三五個月，忽失音不語者，胞絡脈絕也，名曰子喑。蓋胞系於腎，腎脈貫舌，故失音。此非藥可治，分娩即自出聲。</p>
<p>湯建中雲：前症俱由妊娠脾土不運而生濕，濕生痰，痰生熱，熱生風。如：子腫，濕也；惡阻，痰也；子煩、子淋，熱也；子癇，風也；子懸，氣也；轉脬，虛也。治法雖有清熱、消痰、滲濕、順氣、疏風、補之不同，要不外去邪保胎四字為總訣也。</p>

<h2>外感風寒</h2>
<p>凡妊娠外感風寒，渾身壯熱，眼花頭眩，此因風寒客於肌表，侵人脾胃，傷損營衛，是以憎寒發熱，頭疼眼痛，甚至心腹煩悶。不可妄投峻劑，只宜芎蘇散表其寒邪。</p>
<p>按：婦人天癸未行屬少陰，天癸已行屬厥陰，天癸已絕屬太陰。胎產之病，治厥陰者，溯化之源也。故《機要》曰：胎產病當從厥陰經論，毋犯胃氣及上二焦。謂之三禁：不可汗，不可下，不可利小便是也。汗則痞滿，下則傷脾，利小便則內亡津液，中州枯燥。故受孕三五個月時，不可用一毫辛散滑利之品。惟七八個月後，倘有閉結，乃敢稍施以滑利之劑。故上云：不可妄投峻劑。</p>
<p><u>加味芎蘇散</u></p>
<p>紫蘇　羌活　陳皮　麥冬（各一錢）　川芎　白芍（各八分）　乾薑　生甘草（各五分）</p>
<p>加生薑二片，水煎服。胎前宜清涼，乾薑還須忌用。</p>

<h2>霍亂吐瀉</h2>
<p>凡妊娠霍亂吐瀉，心躁腹痛，宜服六和湯。</p>
<p><u>六和湯</u></p>
<p>藿香　砂仁（各五分）　陳皮　茯苓　生甘草（各四分）　人參　木瓜（各一錢）　扁豆（二錢）　杏仁（十粒）　夏曲（六分）　姜（三片）　棗（二枚）　竹茹（一丸）</p>

<h2>下痢</h2>
<p>凡妊娠下痢赤白，此由生冷傷脾，鬱積傷胃，以致濕熱相干，氣血凝滯。其濕熱傷於氣分，則下白積；傷於血分，則下紅積。腹鳴後重，下痢頻頻，急服姜連丸治之。如腹中疼痛，心上急滿，宜當歸芍藥湯，或歸芍湯更佳。</p>
<p><u>姜連丸</u></p>
<p>川連　白朮　砂仁　阿膠　炮姜　川芎（各一兩）　枳殼（五錢，炒）　乳香（三錢，另研）</p>
<p>共為末，加鹽，楊梅三枚，醋少許，打糯米糊為丸，如桐子大，每服四十丸。白痢，淡薑湯下。赤痢，甘草湯下。赤白痢，甘草生薑湯下。</p>
<p>按：赤痢，可加銀花。白痢腹痛，可加青皮，姜炒川連亦必不可少。不必分赤屬熱，白屬寒，拘泥於薑湯、甘草送下也。</p>
<p><u>當歸芍藥湯</u></p>
<p>當歸　白芍　枳殼（麵炒）　山楂（各一錢）　厚朴（八分）　棟皮（六分）　木香（三分）　甘草（四分）　黃芩（二錢）</p>
<p>水煎服。忌生冷。</p>
<p><u>歸芍湯</u></p>
<p>當歸（三錢）　白芍（半生半炒，二錢）　萊菔子（炒研，二錢）　廣木香（八分）　檳榔（七分）　枳殼（八分）　甘草（五分）　淨車前（一錢五分）　山楂（砂糖炒，一錢五分）</p>
<p>白痢，加生薑。紅痢，加白糖，煎服。積已清而腸薄不止，始用川連丸，並阿膠、參、耆可也。熱痢，初起用馬齒莧一味，不拘多少，煎，當茶服亦效。其馬齒莧，葉青、梗紅、根白、花黃、子黑，名曰五方草，又名五行草，有奇功，凡下痢俱可用。</p>

<h2>熱症</h2>
<p>凡妊娠病熱，嘔吐不食，胸中煩躁，宜安胎涼膈散。如熱甚，發赤黑斑，小便如血，胎漸落，將危者，急以梔子石膏湯救之，遲則墮矣。如火熱壅極，心煩口渴者，宜清心潤肺湯。</p>
<p><u>安胎涼隔飲</u></p>
<p>知母　麥冬　人參　蘆根　葛根　黑梔　竹茹　蔥白（各等錢）</p>
<p>水煎服。</p>
<p><u>梔子石膏湯</u></p>
<p>梔子　黃芩　生地（各二錢）　石膏（四錢）　青黛（一錢）　升麻（四分）　豆豉（一錢）　蔥白（三寸）</p>
<p>水煎服。</p>
<p>按：本方治發斑，可加元參、連翹各二錢，或去石膏加犀角一錢，恐石膏重墜不化。</p>
<p><u>清心潤肺湯</u></p>
<p>黃芩　梔子　麥冬（各二錢）　知母　花粉　人參（各一錢）　甘草（五分）　犀角（三分）</p>
<p>薑棗引。</p>
<p>按：方內用人參，恐火得補而益熾，治熱之方，去之為得。</p>

<h2>因怒滿悶</h2>
<p>凡妊娠因多怒氣，胸膈滿悶，或服順氣、耗氣藥太過，以致滿悶益增者，宜散氣消悶散治之。烏藥、香附、枳殼、砂仁等，故須少用。</p>
<p><u>散氣消悶散</u></p>
<p>人參（一錢）　白朮（二錢）　川芎（三分）　木香（磨汁，三分）　蘇葉　條芩　甘草（各三分）　姜（三片）</p>
<p>水煎服。</p>

<h2>小腹重墜作痛</h2>
<p>凡妊娠腹痛時作，小腹重墜，此緣氣虛下陷，間有兼寒者，宜加味安胎飲治之。</p>
<p><u>加味安胎飲</u></p>
<p>白朮　熟地　當歸（各二錢）　陳皮　蘇梗　川芎　甘草（各四分）　砂仁（五分）</p>
<p>兼寒者，加吳萸五分，乾薑五分，水煎服。或去乾薑，加醋炒良薑七分，生綿耆一錢五分，母丁香四分。</p>

<h2>小腹虛脹閉滯</h2>
<p>凡妊娠小腹虛脹，因食硬物傷胎，胎既受病，傳於脾胃，胃氣虛冷，下逼小腸，若奔豚，腰重或大便閉澀，兩脅虛鳴，宜服勝金散。溫中下氣，胎自安矣。</p>
<p><u>勝金散</u></p>
<p>吳萸　陳皮　熟軍　乾薑　川芎（各二兩）　厚朴　砂仁　甘草（各三錢）</p>
<p>共為末，每服二錢，鹽湯送下。</p>

<h2>胎冷腹痛欲瀉</h2>
<p>凡妊娠胎冷腹脹，兩脅虛鳴，臍下疼痛欲瀉，小便頻數，大便虛滑，此因胎已成形，而多食瓜果生冷之物，或當風取涼，受不時之氣，致令胎冷，子身不安，皮毛刺痛，筋骨拘緊，而母有此病。急宜安胎和氣散治之。</p>
<p><u>安胎和氣散</u></p>
<p>訶子（麵煨）　白朮（各二兩）　當歸　白芍　木香（各五錢）　良薑（炒，二錢）　炙甘草（三錢）　生薑（二片）　陳米（一撮）</p>
<p>每服五錢，忌生冷。或加母丁香五分，以去瓜果積。</p>

<h2>胎驚心悸氣促脹痛不安</h2>
<p>凡妊娠心神怯悸，睡夢多驚，脅腹飽脹，過時連臍急痛，氣促不寧，此是胎氣既成，五臟安養已久，或因氣悶，或因喧呼，致令胎驚，筋骨傷痛，四肢不安。急以大聖散治之。</p>
<p><u>大聖散</u></p>
<p>當歸　川芎　麥冬　茯苓（各二錢）　炙耆　人參　木香　甘草（各五分）　姜（三片）</p>
<p>水煎服。</p>

<h2>頭眩目暈痰壅將危</h2>
<p>凡妊娠頭眩目昏，腮項腫硬，此因胎氣有傷，熱毒上攻，太陽沉痛，欲嘔，背項拘急，致令眼暈生花。若加痰壅，危在片時。急以消風散治之。</p>
<p><u>消風散</u></p>
<p>雨茶　甘菊　羌活　石膏　當歸　川芎　羚羊角　白芷　荊芥　防風（各等錢）　甘草（八分）</p>
<p>姜煎，食後服。</p>

<h2>兩目不明腮項腫滿</h2>
<p>凡妊娠將臨月，忽然兩目不明，燈火不見，頭痛項腫，不能轉頸，此由常居火閣，衣襟臥褥，伏熱在內，或服補藥熱物太過，致令胎熱而肝臟壅極，風熱上攻入腦，故見此症。急以天冬飲子治之。大忌酒、蒜、炙煿、油膩，一切辛熱發物，否則眼不復明矣。</p>
<p><u>天冬飲子</u></p>
<p>天冬　荊芥（各一錢五分）　當歸　川芎　熟地　白芍　茯苓　知母（各二錢）　人參（六分）　五味（十四粒）　防風　茺蔚子（各一錢）</p>
<p>如病退，間日一劑，初服，每日一帖。</p>

<h2>遍身刺痛喘滿筋攣</h2>
<p>凡妊娠遍身刺痛脹滿，此由五臟不利，血氣虛羸，因食生冷或發熱憎寒，唇白麵青，筋脈拘攣，骨節痠痛，皮毛乾澀，氣急上喘，大便不通，嘔吐頻頻，此危症也。急以平安散保之。</p>
<p><u>平安散</u></p>
<p>厚朴　陳皮　熟地　甘草　川芎　木香（各等錢）　煨姜（二片）　鹽（一撮）</p>
<p>水煎服。</p>

<h2>因失血類中風症</h2>
<p>凡妊娠因吐血，衄血，或被傷失血，驀患口噤，項背強直，類中風症，宜服加減安胎飲。衄音肉，刃傷也。</p>
<p><u>加減安胎飲</u></p>
<p>人參　白朮　麥冬　當歸　熟地　天麻（各二錢）　防風　荊芥（各一錢）　陳皮　甘草（各五分）　姜（三片）</p>
<p>水煎服。或加川貝一錢，天竺黃一錢。</p>

<h2>心煩腹脹百節痠痛小便閉澀</h2>
<p>凡妊娠面赤，口乾舌苦，心煩腹脹，百節痠痛，小便不通，此由恣意飲酒及食水果魚肉，一切腥膻熱毒之故。以歸涼節命飲治之。</p>
<p><u>歸涼節命飲</u></p>
<p>苧根　白芍　當歸　川芎　麥冬（各一錢）　生白朮（一錢半）　砂仁（五分）　甘草（六分）　黏米（一撮）</p>
<p>如中酒者，加葛根一錢。積食者，加山楂、麥芽各一錢。小便閉者，加赤苓、腹皮各一錢，蔥白引。</p>

<h2>半產</h2>
<p>凡妊娠月未足而半產者，由氣血虛弱，臟腑皆虛，加以病患相感，情欲相擾，以致精血攻衝，侵損營衛，而胎無所養，與枯枝落果無異。如既墮，以生化湯加減治之。未墮而血行腰痛，急以十聖散連進數帖，或芎藭補血湯。</p>
<p><u>十聖散</u></p>
<p>人參　黃耆（各二錢）　當歸　白芍　川芎　熟地　白朮（各一錢）　砂仁（五分）　川斷（七分）　甘草（五分）　姜（一片）　棗（一枚）</p>
<p>飯後多時再服。忌惱怒，並食生冷一切辛熱等物。或加枸杞一錢半。</p>
<p><u>芎藭補血湯</u></p>
<p>川芎　白朮　阿膠　白芍　杜仲　人參　黃耆　五味　木香（各等錢）　甘草（八分）　姜（一片）　棗（二枚）</p>
<p>按：此症保胎無憂散，方列漏胎下，連服七八劑，一日兩帖更妙。</p>

<h2>腹中兒啼</h2>
<p>凡妊娠臨月，或九個月腹中兒啼者，緣兒在母腹口含臍帶，隨母呼吸，妊母或將手扳高取物，提出兒口臍帶，故啼。但令其母如男子作揖，使臍帶仍入兒口即不鳴矣。或煎黃連濃汁呷之。</p>

<h2>轉脬</h2>
<p>凡妊娠將足月，脬為胎壓，轉在一邊，以致臍下急痛，小便不通。但升舉其胎，則脬仍還舊而水道自通。宜六君子合四物湯，去茯苓，加半夏、陳皮，探吐以提之。不宜專用滑滲之藥。產後亦有此症，搗蔥白鋪於臍上，灸之立效。</p>
<p><u>六君子湯</u></p>
<p>半夏（薑製，二錢）　陳皮（去白，一錢）　茯苓（一錢）　甘草（五分）　人參（一錢）　白朮（一錢）</p>
<p><u>四物湯</u></p>
<p>當歸（四錢，酒洗）　生地（二錢）　白朮（錢半）　川芎（錢半）</p>

<h2>乳吹</h2>
<p>凡妊娠胎前兩乳硬腫疼痛，寒熱併發者，此名內吹。乃督任不通，經絡不和，寒束毛竅，氣閉血滯，乳管阻塞。治宜加減無憂散。</p>
<p><u>加減無憂散</u></p>
<p>生黃耆（三錢）　當歸（二錢）　川芎（一錢）　菟絲餅（二錢）　厚朴（姜炒，八分）　枳殼（麵炒，一錢）　川羌（七分）　荊芥穗（一錢）　川貝（一錢五分）　生甘草（一錢）　遠志（一錢五分）　蒲公英（一錢五分）　姜（三片）</p>
<p>甚者，加鹿角屑五錢，淨銀花一錢，服後飲燒酒一杯。</p>
<p>一方，單用鹿角屑四五錢，燒酒煎服。一方，用豆腐皮一兩，炙焦研末，燒酒沖服。一方，用遠志二兩，煎燒酒，時時服之。即將遠志渣搗爛，鋪乳硬處，再用蔥姜搗爛，和食鹽少許，鋪遠志上，用艾灸七大壯。重者，用麻黃三錢，青皮二錢，炒研末，燒酒調服。凡產後乳吹，皆可照前方用。</p>

<h2>不宜服瘦胎方辯</h2>
<p>凡妊娠臨產艱難者，大率由口饜甘肥，身耽安逸，既飽既臥，遂令胞胎肥厚，行動氣急，以致臨盆難產。宜於胎將足月之時，時時動作，勿嗜肥鮮，勿貪坐臥，勤行勤走，此即不藥滑胎之妙法也。乃世醫咸謂安胎之後，必須更進滑胎藥，始為合宜。豈知滑胎名目，昔人原為湖陽公主而設，蓋以貴家居養豐逸，身體肥盛，誠恐軀脂凝結，胞系堅固，特藉此以稍疏其肥滯耳。若平等婦人，一母之氣血，分蔭其胎，尚虞不敷，苟復加無憂、易生名目，一概施之，是猶寠人而復遭削奪，其能勝此乎。然恐後人疑為未備，特詳錄二方，以為體肥稟厚者採擇也。昔湖陽公主，每產累日不下，南山道人進以滑胎枳殼散。用麵炒枳殼二兩，炙甘二兩，共為末，每服二錢，白滾湯送下，一日三服，殊效。蓋為壯實者立法也。</p>
<p><u>無憂散</u></p>
<p>當歸　枳實（各二錢）　白芍（一錢二分）　乳香　麥冬　神麯（各一錢）　陳皮（八分）　木香（五分）　訶肉（一枚）　血餘（一團）　甘草（八分）</p>
<p><u>易產湯</u></p>
<p>當歸　川芎　生地　甘草　腹皮　白朮　益母草（各等錢）</p>

<h2>胎前脈法</h2>
<p>婦人有孕，陰搏陽別。（脈以寸為陽，尺為陰，尺脈搏指而動，與寸脈迥然分別者，此孕成之候也。）少陰獨動，其胎已結。（少陰心脈也，心主血，今心脈往來流利而獨動，乃血旺成胎之象。故可知其有孕。又曰動者，如豆粒之逼指而動也。）滑疾不散，胎必三月。（疾即數也。不散者，按之愈有而不散也。）但疾不散，五月可決。</p>
<p>總之，按而不散者為有力，故斷之為胎。亦間有損症似此者，須細辨之。左疾為男，右疾為女。女腹如箕，男腹如釜。又曰：三部之脈，浮沉正等，無他病而月經不通者，乃有孕也。三部之脈，浮沉正相等，是無病之脈也，又何以不月。既已不月者，是有病之驗也，又何以無他病。故脈雖不顯，而受孕可知。再脈沉實為男，沉實為坎中滿，屬真陽也。虛浮為女，虛浮為離中虛，屬真陰也。左手沉實為男，右手虛浮為女。兩手沉實為雙男，兩手虛浮為雙女。一手沉實，一手虛浮，不拘左右，為一男一女也。</p>

<h2>胎前禁藥歌</h2>
<p>芫斑水蛭及虻蟲，烏頭附子與天雄。野葛水銀共巴豆，牛膝薏苡並蜈蚣。三稜莪朮芫花麝，大戟甘遂黃雌雄。代赭芒硝牡丹桂，槐花牽牛皂角同。半夏南星及通草，瞿麥乾薑桃仁通。硇砂乾漆蟹甲爪，地膽牙硝是禁中。</p>

<h2>附　增異症</h2>
<p>腹中兒啼，煎川連汁呷下，或青黛亦效。腹中作鐘鳴或哭者，用多年空房內鼠穴中土為末，黃酒送下，或干噙之即止。有臟燥，悲傷、慘慼、嘔下者，大麥、甘草、大棗煎服。有自哭、自笑者，紅棗燒存性，米飲下。妊娠患痘，無從用安胎補劑，若用攻藥，必致去血泄氣，立危之症也，不必服藥。</p>

<h2>胎形</h2>
<p>一月如露珠，二月如桃花，三月分男女，四月形象具，五月骨節成，六月毛髮生，七月動右手（是男於母左，是女於母右，）八月動左手（是男於母右，是女於母左，）九月三轉身，十月始滿足。</p>

<h1>中卷（佚）</h1>

<h1>下卷</h1>

<h2>產後總論</h2>
<p>凡病起於血氣之衰，脾胃之虛。況產婦氣血脾胃之虛弱，殆有甚焉。丹溪論：產後當以大補氣血為主，雖有他症，以末治之。故治法：有氣毋專耗氣，有食毋專消食，熱不用芩連，寒不用附桂。如中虛外感，見三陽表證之多，似可汗也，在產後而用麻黃則重傷其陽。見三陰里症之多，似宜下也，在產後而用承氣則重亡其陰。至若耳聾、脅痛、腎虛、惡露之停，休用柴胡。譫語、汗出、中風惡寒之症，莫作風治。其由陽氣之衰，非大補不能回陽而起弱。即如因陰血之涸，非滋補不能舒筋而活絡。又乍寒乍熱，發作有期，症類瘧也，若以瘧治，淹滯難痊。神不守舍，言語無倫，病似邪也，若以邪治，危亡可待。去血而大便閉結，蓯蓉加於生化。汗多而小便短澀，六君倍用參耆。肛脫、茄症，俱是氣虛下陷，補中益氣是良方也。口禁、拳握，無非血燥類風，加參生化，十有益焉。產戶入風，服以養榮、羌、獨。玉門傷冷，洗須床、兔、萸、硫。怔忡驚悸，生化湯加以遠志。似邪恍惚，安神丸兼服。脾氣因喘咳而滿悶、虛煩，生化湯加木香為佐。因過食而嘔吐、呃逆、六君子加神麯為良。蘇木、稜、蓬，大能破血。青皮、枳實，最消膨脹。一應耗氣破血之藥，汗出泄下之方，只可施於強壯，不宜用於虛弱。大抵新產之後，先問惡露何如，塊痛何如，參朮不可遽加。至若亡陽汗脫，氣虛喘促，加參生化是從權也。如亡陰太熱，暈厥血崩，升舉大補乃急救耳。王太僕云：治下補下，制以緩急，制緩以滋道路，制急乃氣味俱薄，力與緩同。是治法當遵丹溪，服法須效太僕。雖未盡產症之詳，已統括治療之要，敢曰濟陰之指南，其於女科不無小補云。</p>

<h2>生化湯論</h2>
<p>產後氣血太虛，理宜大補，但惡露未盡，用補須防滯血。乃生之而且化之，能化能生，攻血塊無損元氣，行中又帶補血，方許萬全，治無一失。世以四物湯治產，地黃性寒滯血，芍藥酸寒無補，其不誤人者幾希矣。</p>
<p>按：生化湯者，因藥性之功而立名也，蓋產後以化舊生新為要。考諸藥性，川芎、當歸、桃仁三品，能破舊血，驟生新血。佐以薑炭、炙甘，引三品入於肺肝，生血理氣。五味成方，行中有補，化中有生，實產後之聖藥也，故因以生化名之。凡孕婦至月足，照方預備數帖，至胞水一破，速煎一劑，候兒下地即服。不問半產、正產，雖少壯婦女，平安無事，俱宜服之。</p>

<h2>惡露</h2>
<p>產後惡露有塊，名曰兒枕。世多先消後補。殊不知，舊血雖當消化，新血亦宜生養，若專攻舊，則新亦不寧矣。世以濟坤丹攻血塊，下胞胎者，一時雖見速效，而元氣未免虧損。不得已而用之，只可一丸，不宜多服，且須隨進補劑，庶免虛弱之害。</p>
<p><u>生化湯</u></p>
<p>當歸（八錢）　川芎（四錢）　桃仁（十粒）　薑炭（五分）　炙草（五分）</p>
<p>上用水三鍾，煎八分，加酒七八匙，稍熱服。渣留後帖同煎。要在產後一二個時辰內，未進飲食之先，相繼而服。則下焦血塊速化，新血驟生，自免血暈等症。但此湯頻服，精神漸增，產後諸症不能乘虛而襲矣。其或勞甚血崩，形脫、喘、汗不止，急進加參生化湯數帖。或一方內加紅花五分，元胡醋炒一錢五分。或方內再加桂心七分。</p>
<p><u>加參生化湯</u></p>
<p>人參（二錢）　川芎（二錢）　當歸（四錢）　薑炭（四分）　桃仁（十粒）　棗（三枚）</p>
<p><u>加減法</u></p>
<p>產後七日內未服生化湯，塊痛未除，仍照前方服數帖，或加元胡、益母亦可，自然塊消痛止。不可遽加參、耆、白朮，補住瘀血，禍不可言。</p>
<p>產後三日內塊痛雖未除，其產婦氣血虛脫，或崩，或厥，或汗多而厥，或形色脫去，口氣漸冷，或煩渴不止，或氣喘短促，無論塊痛，從權加參耆以扶危急。如體倦無力，氣虛短促，本方多加人參。兼汗，加黃耆。煩躁，加竹茹。渴，加麥冬、五味。喘，加杏仁、桔梗。</p>
<p>產後大便不通，或至八九日者，由血少腸燥故也。宜生化湯加麻仁三錢，蓯蓉五錢以潤之，日久自通。如虛，加人參二錢。勿用承氣湯。</p>
<p>產後七日內，或傷寒冷，血塊凝結痛甚，生化湯加肉桂五分，元胡一錢。或食冷物，連心腹痛者，再加吳萸七分。</p>
<p>產後肥人多痰，宜生化湯加花粉、竹瀝、薑汁，或加橘紅四分。毋輕用牛黃及寒冷等味。</p>
<p>產前素虛弱者，產後一二日已服生化湯三四帖，塊痛稍減，可按揉而定，宜生化湯加人參三錢。</p>
<p>產後雖暑月亦要和暖。如失蓋衣被，腹不溫和，風邪乘虛而入，雖服生化湯，恐塊痛不止，宜加肉桂四分，五靈脂一錢。</p>
<p>產後勞倦血暈，服生化湯一劑，頭煎後再即取一帖，加人參一二錢，汗多亦加。如形不脫去，只用鹿角炭二錢，本湯送下，或益母丸亦可。外用細搗韭菜，納有嘴瓷瓶內，將滾醋兩碗衝入，封其大口，以小口注產婦鼻中，斂其精神，即醒。</p>
<p>產後發熱汗出，手足厥冷，或血崩氣短，神昏氣脫，乃大虛症。急須大補，庶可回生，宜加參生化湯，速進數劑，再以生脈散代茶。毋信《產室百問》及《婦人良方》等書。</p>
<p>產後日久不食，聞藥即吐，須用獨參二三錢，或姜少許，白米一大撮，水煎服，以安胃氣。如聽其胃虛不能飲食，危矣。法用胡椒少許，人乳燉熱和勻，微辣與飲，加以獨參湯頻頻進之，可效。</p>

<h2>產後用藥十誤</h2>
<p>產後誤用順氣、耗氣藥，反增飽悶，雖陳皮亦不可多用。</p>
<p>產後誤用消食藥過多，致減食損胃，甚至不進食。</p>
<p>產後誤用芩、連、知、柏，致倒胃增熱，甚至不食。</p>
<p>產後塊痛未除，誤用參、耆、白朮，輕則瘀血不行，重則立斃。</p>
<p>產後誤用地黃以滯惡露。獨用枳殼、枳實以消塊痛，致耗元氣。</p>
<p>產後誤用大黃、芒硝以通大便，必成膨脹。</p>
<p>產後誤用蘇木、三稜、莪朮以行塊，輕則傷新血，重則傷性命。</p>
<p>產後虛弱之婦，誤用山楂煎酒以攻血塊，必傷元氣，以致汗出不止。</p>
<p>產後誤用濟坤丹下胞衣，至三四五丸，以致百病皆作。</p>
<p>產後誤信《產室百問》及《婦人良方》，多至不救。</p>

<h2>產後血暈</h2>
<p>凡分娩之後，眼花頭眩，不知人事，謂之血暈。其因有三：一因勞倦甚而氣竭神昏，二因去血多而元氣欲絕，三因痰火乘虛泛上而憒不清。患此三者，魂不隨神往來而幾運幾息也。急服加味生化湯二三帖以行塊停痛。外用醋韭法沖鼻，使產母聞醋氣令精神斂而不散。此治血暈之急法也。大約病弱產母臨盆之際，須預煎生化湯，預備韭醋瓶以防患，此為萬全。及兒下地，不可喜子慢母。母亦不宜顧子忘倦。又不可產訖即臥，與夫憤怒氣逆，皆能致暈也。慎之慎之。</p>
<p><u>加味生化湯</u></p>
<p>川芎（三錢）　當歸（六錢）　薑炭（四分）　桃仁（十粒）　炙草（五分）　荊芥（五分）</p>
<p>水煎八分，加酒熱服。如汗多，加人參二錢，黃耆一錢，然必塊不痛者方可用。痛甚，加肉桂五分。渴，加麥冬一錢，五味十粒。有痰，加竹瀝半杯，薑汁一匙。痰火乘虛泛上而暈，加橘紅四分。兩手脈伏或右手脈絕，加人參四錢，麥冬一錢，五味二錢。</p>
<p>按：治血暈切不可用破血耗氣等藥。雖山楂性緩，亦不宜服。其塊痛者，生化湯兼送益母丸及鹿角炭。倘氣脫將絕，牙關緊閉，藥不下喉者，用鵝羽筒插喉灌之，如灌下漸溫暖，則不拘帖數灌之。又當用熱手，單衣外從心揉至腹上，又時換熱衣溫暖之，自然漸漸甦醒。如醒後塊痛仍未除者，宜減去參耆，單服生化湯，待塊消痛止，再服參耆。</p>

<h2>產後厥逆</h2>
<p>凡產母產時用力過甚，勞倦傷脾，脾氣耗竭不能注於四肢，故足冷逆而厥氣上行。經曰：陽氣衰於下則為寒厥。厥氣上行，滿於經絡，則神氣浮越，去身而飄散矣。苟非大補，焉能回陽而復神，必用加參生化湯倍人參，連進二帖，使氣血旺而神復厥止。如渴，另用生脈散代茶，助津以滋臟燥。雖有四肢厥冷、泄漏，或類傷寒陰症，亦不可四逆湯輩，必加參生化佐以黑姜，或加熟附一片，以回陽止逆則可，已足以行參耆之力矣。</p>
<p><u>加參生化湯</u></p>
<p>人參（二錢）　川芎（二錢）　當歸（四錢）　薑炭　炙草（各四分）　桃仁（十粒）</p>
<p>加元棗二枚水煎。如厥回，暫去人參，待血塊痛除再加。此治新產發厥。</p>
<p><u>滋榮益氣復神湯</u>（產後發厥，無塊痛者服此。）</p>
<p>川芎　焦術　炙耆　麥冬（各一錢）　人參　當歸（各三錢）　熟地（二錢）　炙草（四分）　陳皮（四分）　五味（十粒）</p>
<p>水煎服。口渴，以生脈散代茶。汗多，加麻黃根、棗仁各一錢。塊痛不止，加肉桂五分。便閉，加蓯蓉，麻仁各二錢。痰，加竹瀝，薑汁、橘紅各四分，酒一杯，手足口氣漸冷，加附子五分，倍用人參。</p>
<p>按：厥逆屬陽虛者居多，若無塊痛、腹脹等症，純用參附。加肉桂可也，有桂則瘀亦去矣。不可遲疑。</p>

<h2>暈厥總論</h2>
<p>大抵產後暈厥，皆由氣血兩竭，神將去而幾息，僅有一線生意耳。若非大補，不能回將絕之元陽。但暈在臨盆，尤甚於厥，宜頻服生化湯，先補血分之虧，可期塊化血旺，神清暈止。如無汗脫、神倦、氣促等症，切勿遽加參耆。或厥在分娩之後，氣血兩竭，宜用加參生化以復其神。總之，治暈問有塊痛，參朮未可驟進；問無塊痛，參、耆、地、術，必須並用。</p>

<h2>產後血崩</h2>
<p>產後血水大來，須看顏色之紅紫，形氣之虛實。如形色多紫，乃當去之敗血，勿以崩論。若紅而色鮮，乃是驚傷心不能主血，怒傷肝而不能藏血，勞傷脾而不能攝血，當以崩治。法宜先服生化湯數帖，則行中有補，血自生旺矣。至若形脫氣促，或汗出不止，宜服倍參生化以益氣，斯陽生則陰長而血乃生旺，非棕炭等止血藥可治也。如產已滿月外，又宜升舉大補湯治之。凡年老積弱人患崩，均宜服此。</p>
<p><u>加參生化湯</u>（治產後血崩、形脫、汗多、氣促）</p>
<p>川芎（三錢）　當歸（四錢）　荊芥（四分）　桃仁（十粒）　人參（三錢）　肉桂（五分，二帖後去之）　炙草（五分）　棗（二枚）</p>
<p>水煎熱服。汗多，加黃耆、人參各三錢。渴，加麥冬、五味。瀉，加茯苓、蓮子。兩手脈伏或右手脈絕，生脈散倍人參。痰，加竹瀝、薑汁、酒一杯。咳嗽，加杏仁、知母、桔梗各一錢。驚悸，加棗仁、柏仁各二錢。久不進食，聞藥即吐，用獨參二三錢，水一杯，煎鍋焦末服之，引開胃口。鮮血來多不止，加升麻、白芷各五分。如無汗脫等症，只服生化湯，加炒黑荊芥自安。世言芎歸活血不可治崩，殊誤。</p>
<p><u>升舉大補湯</u></p>
<p>治產後日久，血崩不止，或如雞卵大塊，或去血如片，宜大補脾胃，升提氣血，少加鎮墜心火之藥。此方並治老少血崩等症。</p>
<p>人參　白朮（各三錢）　川芎（一錢）　當歸（一錢五分）　熟地（二錢）　黃耆（一錢）　白芷（四分）　荊芥（四分）　陳皮　黃連　黃柏（炒，瀉者勿用）　羌活　防風（各四分）　升麻　甘草（各五分）</p>
<p>渴，加麥冬、五味。瀉，加澤瀉、蓮子。痰，加半夏。兼白帶者，加蒼朮、半夏各一錢。</p>

<h2>產後類傷寒三陰症</h2>
<p>（即大便不通）</p>
<p>產後潮熱、有汗、大便不通，毋專論為陽明症。口燥、咽乾，毋專論為少陰症。腹滿、溢干、大便秘結，毋專論為太陰症。又汗多、譫語，勿專論腸胃有燥糞。其諸症，多由勞倦傷脾，運化稍遲，氣血枯竭所致。治宜養正通幽湯。勿執偏門，妄用承氣，致沾唇莫救。</p>
<p>按：此論更當細玩，即書所謂產後以大補氣血為主，雖有他症，以末治之之意。又即甘溫能除大熱之旨也。</p>
<p><u>養正通幽湯</u>（一名助血潤腸湯）</p>
<p>川芎（二錢五分）　炙草（五分）　桃仁（五粒）　蓯蓉（五錢）　陳皮（四分）　麻仁（三錢）</p>
<p>水煎溫服。諸症加減如前。惟汗出、譫語、便實，乃氣血兩虧，神衰，心主失守，急宜養榮安神。加茯苓、棗仁、柏子、參、耆、白朮各一錢，水煎服。如大便至十日以上，燥結不通，肛門必有燥糞，用蜜煎，入皂角末或豬膽汁及枯鹽導之。慎勿誤用下藥，泄瀉不止，或致虛閉，以成膨脹，為害不淺。產訖，第一須服生化湯數帖，必無血燥腸枯之症。</p>

<h2>產後類傷寒三陽症</h2>
<p>產後七日內，發熱、頭疼、惡寒，勿專論為太陽症。發熱、頭痛、脅疼，勿專論為少陽症。二症皆由氣血兩虧，陰陽不和，而類外感。切不可用麻黃湯以治太陽類症，用柴胡湯以治少陽類症。蓋脫血之餘又發汗，以重亡其陽，是使陰陽兩竭，禍不勝言。即或症中真感傷寒，而加味生化湯內芎姜亦能散寒，且榮衛調和，諸病自退。</p>
<p><u>加味生化湯</u></p>
<p>川芎（二錢）　當歸（二錢）　薑炭（五分）　炙草（五分）　桃仁（十粒）　陳皮（三分）　棗（二枚）</p>
<p>水煎溫服，連進二帖。如明知感冒風邪，二帖不退，加羌活四分，蔥白二寸。</p>

<h2>產後類中風痙症</h2>
<p>產後手足搐搦，眼目上視，角弓反張，口眼歪斜，舌喑不語，痰涎上湧，不省人事者，皆由風寒入於腠理，經絡不和所致。與中風相類，切不可作風治。急須補氣壯陽為主，治宜右歸飲、加味續命等湯。若用風燥藥，重耗其血，以亡其陽，如蘇合丸、牛黃丸之類，入口即斃。</p>
<p><u>加味右歸飲</u></p>
<p>大熟地（薑汁炒，八錢）　杞子（酒炒，三錢）　淨萸肉（酒炒，四錢）　懷山藥（四錢）　澤瀉（二錢）　丹皮（酒炒，二錢）　熟附子（三錢）　肉桂心（一錢）　白茯苓（三錢）　鹿角膠（三錢）　巴戟肉（三錢）　炮姜（八分）</p>
<p>煎服。</p>
<p><u>加味續命湯</u></p>
<p>人參（二錢）　焦木（二錢）　茯苓（二錢）　炮姜（八分）　熟附子（三錢）　北細辛（五分）　生黃耆（三錢）　防風（二錢，酒拌炒）　歸身（三錢）　法夏（一錢）　炙甘草（八分）　杞子（三錢）　鹿膠（三錢）</p>
<p>一方加天竺黃一錢五分，石菖蒲米汁浸炒一錢五分，煎服。</p>
<p><u>白通加豬膽汁湯</u></p>
<p>熟附子（二錢）　乾薑（八分）　焦術（二錢）　茯苓（二錢）　炙草（二錢）　蔥（二莖去尖白）</p>
<p>服時入豬膽汁三匙沖。</p>
<p><u>真武湯</u></p>
<p>熟附子（三錢）　乾薑（一錢）　焦木（二錢）　茯苓（二錢）　歸身（二錢）　肉桂（一錢）　炙草（八分）　白芍（炒，一錢五分）</p>
<p>加淨棗仁炒二錢煎服。</p>
<p><u>黑錫丹</u></p>
<p>用黑錫（一兩）　舶硫磺末（一兩，和入溶化結成砂，研細五錢）　熟附子（五錢）　肉桂（三錢）　沉香（三錢）　小茴（三錢）　檀香（三錢）　肉果（煨三錢）　陽起石（煅，五錢）　蘆巴（三錢）　廣木香（煨，三錢）　乾薑（一錢）　白蔻（三錢）　川楝肉（五錢）　紫丁香（二錢）</p>
<p>共為細末，米糊為丸，梧子大，陰乾，用青布袋盛，擦光如銀亮收貯。每用四十九粒，或三十二粒，淡薑湯下。此丹不拘中風、痙症、痰鳴、氣喘，皆可服。</p>

<h2>產後癱瘓症</h2>
<p>凡產後癱瘓類風病者，皆因去血過多，氣不能生新血，以致經絡不調，筋骨疼痛，甚至半身不遂，瘋廢床褥，經年不愈，手足麻足不仁，拘攣不知痛癢，若誤認為風症，妄用祛風散血燥烈等藥，多致不救。治宜虎骨鹿茸丸。</p>
<p><u>虎骨鹿茸丸</u></p>
<p>虎脛骨（一對，如無以膠三兩代之，用膀十四兩亦可）　鹿茸（羊酥蒸炙，一對，如無以膠四兩代之）　枸杞子（小茴一兩，酒炒，三兩）　菟絲子（三兩）　巴戟肉（酒炒，三錢）　刺蒺藜（酒炒，二兩）　補骨脂（鹽水炒，一兩五錢）　肉桂（一兩五錢）　陳皮（一兩）　威靈仙（一兩五錢）　防風（一兩）　淫羊藿（羊油炙，三兩）　杜仲（薑汁炒，三兩）　全蠍梢（酒洗淡炒，三錢）　歸身（酒炒，三兩）　川萆薢（一兩）　鱉甲（醋炙，二兩）</p>
<p>共為末，各膠溶化，再用鹿筋，（如無，牛筋可代，）一斤，燉爛化，搗如泥。米仁一斤，炒研末，打稠糊，和飴糖三斤，溶並各膏，和勻搗為丸，不拘大小，每服五錢，燒酒浸紅花、蘄艾少許送下。忌生冷。</p>

<h2>產後類瘧</h2>
<p>產後寒熱往來，應期而發，此由氣血並竭，陽虛生外寒，陰虛生內熱。或晝輕夜重，或日晡潮熱，一日二三度，其症雖似乎瘧而發無常期，只須生化湯倍加當歸，則身熱自退。即或應期而發，症與瘧同，亦必調和氣血為主，無用芩、連等治熱，及常、果、檳、楂等截瘧。如汗多，加參耆。熱甚，倍用當歸、川芎。若產及一月，其人素虛而患瘧，用人參養胃湯，並服人參白朮膏。</p>
<p><u>加減生化湯</u></p>
<p>川芎（一錢）　當歸（二錢）　人參　白朮（各一錢）　茯苓（八分）　青皮（二分）　炙甘草（三分）　藿香（八分）　烏梅（一枚）</p>
<p>渴，加麥冬一錢，五味三分。痰，加半夏八分，竹瀝、薑汁。汗，加黃耆、棗仁各一錢。傷米食，加神麯一錢，麥芽五分。傷肉食，加山楂、砂仁各五分。</p>
<p><u>人參養胃湯</u></p>
<p>人參　白朮　當歸（各二錢）　茯苓　半夏（各八分）　肉果　甘草　青皮　藿香（各四分）　烏梅（二枚）</p>
<p><u>人參白朮湯</u></p>
<p>白朮（一斤）　人參（一兩）</p>
<p>水六碗，煎去其半，如法再煎，如此三次，去渣取汁，共九碗，慢火熬至一碗，每日服半酒杯，白湯下。</p>

<h2>產後疸症</h2>
<p>黃疸症平人皆有，產後更甚，多致不救。蓋甲乙木屬肝膽，乃東方資生之氣。膽屬足少陽，乃半表半裡之經。若外感風寒，內束經絡，醫治不善，寒濕入膽，久郁為熱，擾害清淨之府，逼出膽汁，浸淫毛竅，化為黃色，甚至汗黃、眼黃、便黃如金汁者，甚為費手。治宜加減陰膽湯。陽虧者，加桂附。陰虛者，加歸身、熟地。微熱者，加丹皮。</p>
<p><u>加減陰膽湯</u></p>
<p>人參（二錢）　軟柴胡（一錢）　白芍（酒炒，八分）　炙草（八分）　乾薑（一錢）　法夏（一錢）　西黨參（薑汁炒，三錢）</p>
<p>飲至十劑，自愈。忌茵陳清寒等藥。無力服參，以黃耆一錢代之。</p>

<h2>產後汗出</h2>
<p>產後汗出不止，由勞傷脾，驚傷心，怒傷肝。患此三者，不宜即加斂汗之藥，但令神寧則汗自止。且血塊作痛，耆、術未可遽加。凡產畢有汗，先服生化湯兩貼以消塊，即繼服調衛止汗湯。若倦甚而濈濈然汗出，形色俱脫，乃亡陽汗脫也。難拘常法，從權以參耆調衛救急。待產母稍有精神，又減參耆以除塊痛。若汗多而陰竭陽微，以致筋脈拘急，項強口噤，牙噤發搐，類傷寒痙症者，慎勿作傷寒治，宜加味生化湯隨症加減。汗雖有自汗、盜汗之分，治當兼理血分藥品，並宜加味生化湯。余方但非產後盜汗所宜。若服參耆大劑，汗多不止，及頭面汗出不止，腰足青色者，不治。</p>
<p><u>調衛止汗湯</u></p>
<p>炙耆　麻黃根　當歸（各一錢）　人參（隨症加減）　防風（三分）　桂枝　炙草（各五分）　棗（二枚）</p>
<p>水煎。汗多而渴，加麥冬、五味。汗多亡津而小便不利，毋用利水等藥。產母多痰，毋用半夏、生薑，只可用橘紅四分。</p>
<p><u>從權參耆調衛湯</u></p>
<p>人參（三錢）　炙耆　麻黃根（各一錢五分）　當歸（二錢）　桂枝（五分，汗少減之）　防風（三分）　元棗（二枚）</p>
<p>水煎。禁用半夏、生薑、柴胡、芩、知、柏等味。汗出不止，真陽已衰，衛外之陽不固，方內當加附子、棗仁炒、野朮、牡蠣粉，炙耆重用為佳。</p>
<p><u>加味生化湯</u></p>
<p>川芎（二錢）　當歸（六錢）　人參（三錢，如虛倍用）　天麻（八分）　黃耆（一錢五分）　炙草（五分）　荊芥（八分）　棗（三枚）</p>
<p>水煎。渴，加麥冬、五味。脈脫，加人參三錢、附子四分。便閉，加麻仁三錢。痰，加竹瀝、薑汁。忌蔥韭辛熱食物。</p>

<h2>產後氣短髮喘</h2>
<p>產後血脫，勞傷過甚，氣無倚仗，呼吸止息，各違其常，氣出短促而喘，言語不相接續，是血脫氣虛之至。速煎生化湯一二帖，即加人參二三錢以救急，再備醋韭瓶以防暈。毋疑參能助喘，不用、少用以致不救。惟一切降氣等藥禁用。若虛不受補，聞食即吐，胃氣將絕，不治之症也。</p>
<p><u>加味生化湯</u></p>
<p>川芎（一錢）　當歸（三錢）　薑炭（五分）　桃仁（十粒）　人參（三錢）　茯苓（一錢，汗多勿用）　炙草（五分）</p>
<p>汗多，加黃耆。渴，加麥冬、五味。胃虛不食，聞藥即吐，及食寒藥、寒物，嘔不納穀，用獨參三四錢，生薑三片，秈米一撮。</p>
<p><u>續氣養榮湯</u></p>
<p>川芎（二錢）　當歸（四錢）　炙草　炮姜（各五分）　人參（二錢）　黃耆（一錢）　熟地　棗仁　山藥（各一錢）　陳皮（三分）</p>
<p>足冷，加附子三分。汗多，加麻黃根一錢，浮小麥一撮。渴，加麥冬、五味。便閉，加蓯蓉、麻仁。</p>

<h2>產後咳嗽</h2>
<p>產後旬日內外感冒風寒，咳嗽，鼻塞，聲重，惡寒，併兼身熱，頭疼，宜服加參寧肺湯。毋用麻黃以發汗。或喘而脅痛，毋用小柴胡以散邪。或患火嗽有聲，痰少面赤，亦毋用涼藥以清火。惟有調理氣血為主。若半月干嗽有聲而痰少者，可用加味四物湯治之。</p>
<p><u>加參寧肺湯</u></p>
<p>川芎（一錢）　當歸（三錢）　人參（二錢）　杏仁（十粒）　桔梗（四分）　橘紅（四分）　款冬（一錢）　桑皮（七分）　半夏（八分）　知母（一錢）</p>
<p>如虛人痰盛，加竹油一小盞，薑汁三匙，甘草四分。</p>
<p><u>加味四物湯</u></p>
<p>川芎　蔞仁　知母　柯皮（各一錢）　當歸　熟地（各二錢）　桔梗　兜鈴（各四分）　款冬（六分）</p>
<p>水煎服。</p>
<p><u>薛立齋參蘇飲</u></p>
<p>人參（三分）　蘇木（一分）</p>
<p>水煎。此治產後瘀血入肺，咳嗽喘急。</p>

<h2>產後譫語</h2>
<p>產後妄言、妄見，由氣血兩虛而神魂無所依也。輕則睡中呢喃，重則不睡妄言。或因痰客上焦，十二官各失其職，視聽言動皆有虛妄，毋認鬼邪。治法當論產期新久，塊痛有無，以為緩急。如塊痛者，宜服寧神生化湯。塊痛已除，宜服益榮安神湯。</p>
<p><u>寧神生化湯</u></p>
<p>川芎（二錢）　當歸（四錢）　茯苓　棗仁　柏仁（各一錢）　桃仁（十粒）　炮姜　炙草（各五分）　紅棗（二枚去皮）</p>
<p>水煎服。虛加人參。</p>
<p><u>益榮安神湯</u></p>
<p>川芎（一錢）　當歸（三錢）　茯神　棗仁　柏仁（各一錢）　橘紅　甘草（各五分）　人參（一錢）　龍眼肉（八個）　竹肉（一丸）　大棗（二枚）</p>
<p>渴，加麥冬、五味。汗多，加參、耆、麻黃根。痰，加竹瀝、薑汁。瀉，加茯苓、白朮。便閉，加蓯蓉、麻仁。</p>

<h2>產後怔悸驚忡</h2>
<p>產後憂、驚、勞倦、去血過多，心中煩動不寧，謂之怔忡。如惕然而驚，心中怯怯，若人捕之之狀，謂之驚悸。二症當調和脾胃，補養心血，使氣寧神足，氣舒心安，以加減養榮湯，其病自愈。</p>
<p><u>加減養榮湯</u></p>
<p>川芎（八分）　當歸（二錢）　棗仁　茯苓　人參　麥冬　遠志　白朮　黃耆（各一錢）　陳皮　炙草（各五分）　龍眼肉（八個）　姜（二片）</p>
<p>水煎。虛煩，加竹茹。痰，加竹瀝、薑汁。</p>
<p>此方可加丹參、柏仁。</p>
<p><u>安神丸</u></p>
<p>黃連　生地（酒乳九蒸九曬）　當歸（各二錢）　炙草（八分）</p>
<p>作餅，為丸如豆大，硃砂為衣，每服四十丸。此與前藥並服。</p>

<h2>產後忿怒</h2>
<p>產後因忿怒氣逆不舒，胸膈滿悶，血塊大痛，宜生化湯磨木香三分沖服，則氣舒怒散而塊自行矣。若偏用香砂、枳實、烏藥之類以散氣行塊，則反使元氣耗損而滿悶愈增。如怒後即食，胃虛傷滯，當審所傷何物。如傷肉，加砂仁、山楂。傷米食，加神麯、麥芽。傷冷物作痛，留滯脅腹，加肉桂、吳萸，以逐寒定痛。慎勿服檳榔丸疏氣以消食。</p>
<p><u>健脾化氣飲</u></p>
<p>人參　白朮　當歸（各二錢）　川芎（一錢）　薑炭　炙草（各四分）</p>
<p>水煎。如塊痛未除，仍用生化湯磨木香三分，方內再加肉桂心八分更佳，以桂能平肝而利氣也。</p>

<h2>產後傷食</h2>
<p>產後形體勞倦，脾氣受傷，不宜多食厚味。食之，胃雖少納，脾轉運滯，以致痞塞噯酸。治當溫補氣血，健脾助胃，養正兼消，並審所傷何物，佐以消導。斯脾氣復而運轉如常，滯物行而胃始納穀矣。若消導過多，必致絕谷，難治。急以長生活命飲救之。</p>
<p><u>加味生化湯</u></p>
<p>川芎（一錢）　當歸（二錢）　山藥（一錢）　炮姜　炙草（各五分）</p>
<p>完穀不化，加煨肉果一個。塊痛，加桃仁。痛止，加白朮。虛，加人參。所傷何物，治法如前。身熱，禁用寒涼藥。痞滿，禁用耗氣藥。</p>
<p><u>長生活命飲</u></p>
<p>人參（二錢）</p>
<p>水二盅，煎八分，入鍋焦末，服之。如貧不能服參，單用鍋焦研末沖糊服之。或以白朮煎湯調服也。可望其開胃。</p>

<h2>產後泄瀉</h2>
<p>產後泄瀉，大率虛弱食積，土虛不能勝濕而然。但惡露未除，脾胃又弱，難於消燥而用補也。治法：先服生化一煎後即加茯苓一錢，以利小便，俟血生化，然後議補、議消、議燥，使無滯澀、虛滑之失。若產畢即瀉者，宜加減生化湯。若胎前久瀉，產後不止者，宜參、苓生化湯從權以防虛脫。若久瀉不止或脾瀉者，須服參朮蓮子飲百劑。甚至形脫、眼昏花者，服丹溪急救方。</p>
<p><u>加減生化湯</u></p>
<p>川芎（一錢）　當歸（一錢五分）　黑姜　炙草（各五分）　桃仁（十粒）　茯苓（一錢五分）　蓮肉　訶子（各八分）　姜（一片）</p>
<p>水煎二帖。瀉不止，加人參三錢。</p>
<p><u>參苓生化湯</u></p>
<p>川芎（一錢）　當歸（二錢，土炒）　薑炭　炙草（各五分）　茯苓（一錢五分）　陳皮（一錢）　白朮（一錢五分）　人參（二錢）　肉果（煨）　訶子（各一錢）　蓮子（八分）　糯米（一撮）</p>
<p>水煎。寒痛瀉，加砂仁五分。熱泄，加炒連三分。瀉久，加升麻三分。瀉水，加蒼朮一錢。瀉出食肉如敗卵，及噫氣，加神麯、砂仁各八分，山楂、麥芽各五分，或加豆蔻、丁香各一錢。渴，加麥冬一錢，五味六分。</p>
<p><u>參朮蓮子飲</u></p>
<p>人參　焦術（各二錢）　茯苓（一錢）　當歸（一錢五分）　炒芍（八分）　炙草（五分）　陳皮　升麻（各三分）　山藥（一錢）　蓮子（十粒）　姜（一片）</p>
<p>如腹痛，加炮姜五分。</p>
<p><u>丹溪救急方</u></p>
<p>人參（五錢）　白朮（三錢）　茯苓（三錢）　制附（一錢）</p>
<p>水煎服。</p>
<p>以上各方，可加五味子酒炒二十粒，乾麵粉炒黃二錢。虛脫者，暫加枯礬少許以澀之。</p>

<h2>產後痢症</h2>
<p>產後七日內外，患赤白痢疾，後重頻數，最為難治。欲調氣血而推蕩邪穢，又慮產後元虛。欲滋榮養氣而大補脾腎，又恐補住瘀邪。惟生化湯減黑姜而代以茯苓、朮、香，則善消惡露，兼行痢疾，並行而不悖也。再服加味香連丸，以俟一二日後，病勢稍減，可保無虞。若七日外患褐色後重虛痢，則當加補無疑。其產母稟厚，產期已過二十日，可於生化湯加芩、連、芍藥、枳殼及加味香連之類。承氣等藥斷不可用。如產母虛弱，雖及月餘，行積峻劑，切不宜用。若產後陰虛，血痢日久愈甚，當用四物湯加人參矣。</p>
<p><u>加減生化湯</u></p>
<p>川芎（二錢）　當歸（四錢）　桃仁（十粒）　茯苓（一錢五分）　陳皮（五分）　木香（二分）</p>
<p>紅痢腹痛，加砂仁二分，煎八分，送香連丸三十粒。</p>
<p><u>加味香連丸</u></p>
<p>即香連丸加蓮肉粉一半為丸。</p>
<p><u>加連生化湯</u></p>
<p>川芎（一錢五分）　當歸（三錢）　白芍（一錢，炒）　川連（六分，薑汁炒）　枳殼（五分）　茯苓（一錢）　甘草（四分）　木香（三分）</p>
<p>水煎服。重者，加山楂一錢。</p>
<p>按：產後痢症不一，總以人參為主，歸、芍次之。兼有瘀未淨者，則間以肉桂黃連湯，重用人參，自效。蓋桂能去瘀也。如資稟薄，痢症輕者，一日六七次，兼有糞色，亦能飲食。重者，空痛，一日夜數十次，不思飲食，睡臥不寧，非人參不能救也。</p>

<h2>申論瀉痢十方</h2>
<p>產後瀉痢，氣血暴虛，必用生化湯加減。然致病之由，雖系濕熱，多因飲食傷脾而起。故重申余意，另立十方於後。</p>
<p>一、產後瀉黃色乃脾土真氣虛也，宜補中益氣湯加木香四分，煨肉果一枚，炮姜四分。</p>
<p>二、產後久瀉不止，元氣下陷，大便不禁，肛門如脫，宜服六君子湯加木香四分，煨肉果一枚，炮姜四分，加升麻五分。</p>
<p>三、產後傷麵食，宜六君子湯加麥芽。傷穀食，六君子湯加神麯。</p>
<p>四、產後傷肉食，六君子湯加山楂、砂仁各五分，神麯一錢五分。</p>
<p>五、產後胃氣虛弱，瀉痢完穀不化，六君子湯加木香三分，肉果一枚。</p>
<p>六、產後瀉痢脾虛，四肢浮腫，補中益氣加五皮散、或六君子湯加五皮散。</p>
<p>七、產後諸症兼嘔者，俱宜加藿香一錢。痰多，加半夏八分。</p>
<p>八、產後以前諸症兼小便短澀者，加茯苓一錢，澤瀉五分，燈心二十根，或加淨車前一錢。</p>
<p>九、產後泄瀉不止，加蓮子十粒，石榴皮一錢。</p>
<p>十、產後患赤痢，久而不止，用人參二錢，香連丸二錢，同服即愈。毋多用木香、薑汁之類，蓋熱則血愈行也。方內可加地榆。</p>
<p>以上十方，須問塊痛已除，方可服之。</p>

<h2>產後嘔逆</h2>
<p>人之胃腑為五穀之海，水穀之精，上輸肝肺，分布五臟，化為氣血，榮潤百骸。產後勞傷脾胃，正氣虧折，邪氣易乘。如入於腸胃，則氣逆嘔吐而食不下矣。若七日內嘔吐不止，全不納穀，血塊未除，治當消塊，佐以溫藥，宜服安胃行血湯。若痛已除而嘔不止，不納穀者，宜服加減六物湯及後溫胃和中飲。若嘔而氣血不足，食物不能如常，宜服補中和胃湯。</p>
<p><u>安胃行血湯</u></p>
<p>芎藭（一錢）　當歸（四錢）　人參（一錢）　桃仁（十粒）　薑炭　炙草（各五分）　藿香　砂仁（各四分）　姜（三片，有汗勿用）</p>
<p><u>加減六物湯</u></p>
<p>川芎（一錢）　當歸（一錢）　山藥（一錢五分）　人參（一錢）　茯苓（一錢）　藿香（五分）　豆仁　薑炭（各四分）　扁豆（二錢）　陳皮（三分）　炙草（五分）　姜（三片）</p>
<p>嘔止，去豆仁。</p>
<p><u>溫中和胃湯</u></p>
<p>人參　茯苓（各一錢）　當歸　扁豆（各二錢）　陳皮　炙草　藿香　丁香（各三分）　姜（三片）</p>
<p>嘔止，去丁香。受寒，加吳茱萸。</p>
<p><u>補中和胃湯</u></p>
<p>人參　白朮　扁豆　當歸（各二錢）　茯苓（一錢）　山藥（一錢五分）　炙草　陳皮　炮姜（各四分）</p>
<p>水煎。</p>
<p>按：嘔逆至產後，症為甚急，當用香砂六君子湯加制附、吳萸、柿蒂為引。如不效，加川連酒炒、肉桂。更不效則用二氣丹，水銀三錢，硫磺三錢，結成砂，將硫與水銀同研至無星為度，米糊為丸，每服二十粒，遞加至四十九粒，丁香、柿蒂湯送下。丸如梧子大可也。蓋水銀得硫自化，不用疑懼，呃逆、霍亂可用。</p>

<h2>產後霍亂</h2>
<p>產後勞傷氣血，臟腑虛損，不能運化食物，及冷風相乘，以致陰陽升降不順，清濁亂於腸胃，冷熱不調，邪正相搏，上吐下瀉，名曰霍亂。若塊痛未除，宜生化六和湯。塊痛已止，宜藿香溫胃散。</p>
<p><u>生化六和湯</u></p>
<p>川芎（二錢）　當歸（四錢）　黑姜　炙草　陳皮（各四分）　砂仁（六分）　茯苓（一錢）　姜（一片）</p>
<p>水煎。</p>
<p><u>藿香溫胃散</u></p>
<p>當歸　白朮（各三錢）　薑炭　藿香　陳皮（各四分）　厚朴（八分）　人參（一錢）　炙草（三分）　姜（一片）</p>
<p>水煎。若手足冷逆，加附子三分。</p>

<h2>產後膨脹</h2>
<p>胎前素弱，產後又虧，胃難納穀，脾不健運。或因傷食而停滯，或因血虛而便閉，誤進消耗等藥，胃氣益損，滿悶益增，氣不升降，滋熱助積，鬱積之久，遂成膨脹。治當審其誤用何物，如誤用耗氣藥，宜益氣湯。誤用消導藥，宜健脾湯。誤用攻下藥，宜養生化滯湯。</p>
<p><u>益氣湯</u></p>
<p>人參　白朮　當歸（各三錢）　川芎　白芍（各八分）　茯苓（一錢五分）　陳皮　厚朴（各四分）　蘇梗　炙草（各五分）　腹皮（六分）　木香（二分）　磨蘿蔔子（三分）　木通（五分）</p>
<p><u>健脾湯</u></p>
<p>人參　白朮　當歸　茯苓　白芍　神麯（各一錢）　川芎（七分）　陳皮（四分）　炙草　砂仁（各五分）　腹皮（五分）</p>
<p>傷食，加麥芽五分。傷冷物，腹大痛，加吳茱萸一錢。</p>
<p><u>養生化滯湯</u></p>
<p>川芎（二錢）　當歸（四錢）　人參（一錢五分，脹甚者，減半）　白芍　茯苓（各一錢）　白朮（二錢，脹甚倍用）　桃仁（十粒）　腹皮（四分）　蓯蓉（酒洗，一錢五分）</p>
<p>如塊痛，即將本湯送三消丸一錢。方附後。病劇者，須服至數十帖。</p>
<p>按：產後脹症最為難治。如服前方不效，非大劑金匱腎氣湯不能去其病。若慮方內熟地之滯，則用薑汁、砂仁拌炒，桂、附更當重用。再加川椒目、蒲種殼、冬瓜子，以利水化氣。或加浮萍為引，以開鬼門，多服益善。俟脹消後，則用六君子、八珍等湯調理，可以復原去根。此經驗已多，故附增之。</p>

<h2>產後口渴兼小便不利</h2>
<p>凡產後口燥咽乾而渴兼小便不利，由血枯而多汗，且勞倦傷脾，不能為胃行其津液，則生化之氣不運，滲泄之令不行。是以上無津液流通，而有咽乾燥渴之症。下則膀胱閉滯，而有水道不通之候。治當助脾益肺，升降氣血，則氣血流行，陽升陰降，自然津生而便利矣。若認口渴為火盛，而用芩、連、知、柏以降之。便澀為水滯，而用五苓等味以通之，非徒無益而反害之。</p>
<p>按：小便由於氣化。書曰：氣化則能出矣。故補氣生津，實至言也。膀胱藏津液之所，真陽不足，元氣不升，則不出矣。是補氣填精為上。</p>
<p><u>助脾益肺湯</u></p>
<p>黃耆（一錢五分）　人參　麥冬（各二錢）　五味（十粒）　當歸（二錢）　茯苓（一錢五分）　乾葛（一錢）　升麻（四分）　炙草（四分）</p>
<p>汗多，加棗仁二錢，麻黃根一錢。渴甚，生脈散代茶。大便不通，加蓯蓉二錢。如產母壯盛而熱劇小便不利者，暫加知母、滑石各一錢。</p>

<h2>產後便數淋症</h2>
<p>凡產後小便數者，由腹內宿有冷氣，因虛而發。宜桑螵蛸散或以益智仁炒研為末，米飲送下二錢。若淋瀝作痛亦由產母虛弱，冷氣客於腹中，以茅根湯治之。</p>
<p><u>桑螵蛸散</u></p>
<p>螵蛸（二十枚）　人參（三兩）　黃耆（三兩）　鹿茸　牡蠣　赤石脂（各二兩）</p>
<p>共為末，每服，米飲湯空心下。</p>
<p><u>白茅根湯</u></p>
<p>白茅根　瞿麥　茯苓　車前　人參　滑石　通草　麥冬　炙草（錢分酌用）</p>
<p>加燈心數根，煎服。</p>
<p>按：內府秘方用陳米淘濃泔澄清，熱服之，小便即通。</p>
<p>按：治血淋，可加淮牛膝。</p>

<h2>產後傷脬小便淋數不止</h2>
<p>產後傷脬，此緣穩婆之故，以白芨散治之。</p>
<p><u>白芨散</u></p>
<p>白芨　鳳凰衣　桑螵蛸（等分）</p>
<p>入豬脬內，煮爛食之。</p>

<h2>產後水腫</h2>
<p>產後四肢浮腫，皮膚光瑩，脾虛不能制水，腎虛不能行水故也。當大補氣血為主，佐以蒼朮、白朮、茯苓等藥。虛，加人參、木通。熱，加麥冬、條芩。若因風冷濕氣傷表無汗而腫，宜五皮散加姜皮、半夏、蘇葉以微表之，使水氣從皮毛而出，然後以補劑調理。</p>
<p><u>利水益氣湯</u></p>
<p>人參　白朮（各三錢）　白芍　茯苓（各一錢）　陳皮（六分）　木瓜（八分）　蒼朮　厚朴　蘇葉　木通　腹皮（各一錢）</p>
<p><u>五加皮散</u></p>
<p>加皮　腹皮　茯皮　骨皮　姜皮（各等分）</p>

<h2>產後熱蒸成癆瘵症</h2>
<p>產後癆瘵症，皆由嗜欲無節，起居不時，以致真陰耗竭，虛火上炎，或蒸而熱，或往來寒熱，似瘧非瘧，或咳血、咯血、自汗、盜汗，或心神恍惚，夢與鬼交，或經水閉塞，日漸羸瘦，皆緣陰虛生內熱所致。熱鬱積久，變成虛怯，宜清熱止嗽，潤肺瀉火，滋補真陰，以復其元。患此者，必須寡欲內養，方能有效，否則不治。</p>
<p><u>保真湯</u></p>
<p>川芎（一錢）　當歸　生地　白芍（各二錢）　麥冬（一錢）　天冬（一錢五分）　川貝　茯苓（各五分）　桔梗（八分）　五味（十粒）　骨皮（一錢）　炙草（四分）　棗（二枚）</p>
<p>水煎。虛，加人參一錢，黃耆六分。胃弱，加茯苓、山藥各二錢，砂仁三粒。</p>
<p><u>加味大造丸</u></p>
<p>紫河車（一具）　生地（一兩）　人參　當歸　山藥　杞子（各一兩）　知母（一錢五分）　石斛（酒蒸）　麥冬（各八錢）　銀胡（六錢）　龜板（五錢）</p>
<p>共為末，煉為丸，如梧子大，早晚服。</p>
<p>以上二方，但舉其概，至辨症施治，全在臨時取裁。如補中益氣、六味腎氣丸、八珍湯、十全大補湯、還少丹、逍遙散加芎歸，此數方俱可治癆瘵，因症選用可也。</p>
<p>按：產後氣血已虧，陰陽兩竭，應得大溫大補，助真陽以生真陰，引火歸原，法當用真阿膠、上肉桂為主，將虛火假熱下降丹田。加以茯、朮、參、耆，健脾補氣。略以龜膠、石斛、炒熟地、沙苑、蒺藜，補陰以佐助之。服至四五劑，必見效矣。切不可用滋陰清肺等藥，以重危之也。俟其胃開脾運，火降陽回，然後再於溫補之中加入治嗽等味，自可活人。如服清涼藥過多，必至真陽上越。如症現兩顴紫紅，氣虛上喘，眼白淡紅，須用制附，遲則陽脫矣。</p>

<h2>產後心腹痛</h2>
<p>產後心痛即胃脘痛。以胃脘在心之下，因傷寒氣及冷物故作痛。用生化湯佐以散寒消食之品，無有不安。若腹內痛，必血塊未除，只服生化湯，佐以益母丸、鹿角炭治之，則瘀消而痛止。若風冷乘虛入腹伴痛，亦宜加味生化湯，以方內有肉桂、吳萸，可以溫散之也。若真心痛則指甲青黑，或手足冷過腕節，朝發夕死，無藥可治。</p>
<p><u>加味生化湯</u></p>
<p>川芎（二錢）　當歸（四錢）　炮姜　炙草（各五分）　桃仁（十粒，痛止去之）　肉桂（八分）　吳萸（七分）　姜（三片）</p>
<p>水煎服。傷米食，加神麯、麥芽各一錢。傷肉食，加砂仁七分，山楂肉五枚。</p>
<p>按：產後胃氣痛，必其人素有舊病，產後氣血大虧，自然加甚。但症有九種，當辨氣、血、寒、食、蟲、痰、積、虛、實，治宜加味理中湯為主。</p>
<p><u>加味理中湯</u></p>
<p>淡附子（二錢）　乾薑（一錢）　茯苓（一錢）　人參（不拘）　炙草（七分）　焦術（二錢）　白蔻（二分）　肉桂心（一錢）　延胡索（醋炒一錢五分）　乳香（去淨油一錢五分）</p>
<p>氣痛，加廣木香一錢，鬱金酒炒一錢，良薑醋炒一錢，紫丁香十隻。血痛，加五靈脂醋炒一錢五分，炮薑炭七分代去乾薑，蒲黃炒七分，歸身酒炒二錢。寒痛，加吳萸一錢，小茴鹽水炒一錢五分，蘆鹽水炒二錢，重用桂、附。食痛，加焦神麯一錢五分，山楂砂糖炒二錢，雞肫皮焙乾二錢，廣皮一錢，母丁香七分。蟲痛，加川椒四十粒，烏梅二個，吳茱萸川連一錢煮汁伴炒八分，榧子肉三錢。痰痛，加法夏二錢，草果煨一錢，沉香一錢，牡蠣粉二錢，化橘紅一錢。積痛，脾之積為痞氣，加母丁香八分，陳香團二錢，佛手柑一錢，巴豆去油淨取霜焙乾三分，再用濕腐乳皮包好，藥汁送。但此味巴豆霜必積痞現而不化甚急，它藥不效，始不得已，用之宜慎。虛痛，分陰陽。陰虛，加熟地、薑汁、益智、砂仁，共十五粒，炒焦五錢，枸杞子酒炒，阿膠、蒲黃炒二錢，淨萸肉酒炒二錢，乾薑代炮姜五分。陽虛，仍用原方增附子。實痛，去人參、焦術，加枳殼一錢，草蔻一錢，肉桂代桂枝八分醋炒，甚者，加韭汁、製大黃三錢，用韭汁拌大黃九蒸九曬用。以上各症加減，必須認明證候施治為要。</p>

<h2>產後遍身疼痛及腰小腹痛</h2>
<p>產後遍身痛，由產時百節開張，血脈凝滯，累日不散，則經脈經絡不舒，故腰背不能轉側，手足不能動履，或兼身熱頭疼。若誤認太陽表邪而發散出汗，則手足逆冷變成險症矣，宜祛痛散治之。婦人腎位系胞，腰為腎府，至產勞傷腎氣，損動胞絡，或產未平復而風寒乘之，二者皆致腰痛，宜養榮壯腎湯或加味大造丸。若小腹作痛未曾服生化湯，問惡露如何。若可按揉而稍止者，屬虛，並宜加味生化湯治之。</p>
<p><u>祛痛散</u></p>
<p>當歸（二錢）　人參　白朮（各一錢）　黃耆　川膝　獨活（各八分）　肉桂（五分）　韭白（一撮）　生薑（一片）</p>
<p>水煎。</p>
<p><u>養榮壯腎湯</u></p>
<p>當歸（二錢）　防風（四分）　獨活　桂心　川芎　杜仲　寄生　川斷（各八分）　生薑（三片）</p>
<p>水煎。</p>
<p><u>加味生化湯</u></p>
<p>川芎（一錢）　當歸（三錢）　桃仁（十粒）　炮姜　炙草（各四分）　肉桂（五分）　元胡（五分）</p>
<p>後二味痛止減去。若臍下無血塊，而仍痛不止者，加熟地三錢。</p>

<h2>產後乳疽乳癰</h2>
<p>產後乳生癰疽，初發時寒熱往來如瘧，不可作瘧治，亦不可全用敗毒消疽等味，當大補氣血，佐以金銀花等味以散邪毒。若膿未成，痛不可忍，宜栝蔞乳沒散。已成膿，宜敗毒大補湯，外用馬蹄香搗爛敷之。若膿已出而虛弱日甚者，宜服十全大補湯。</p>
<p><u>栝蔞乳香散</u></p>
<p>栝蔞（一個，連皮子搗爛）　當歸　銀花（各三錢）　白芷（一錢）　青皮（五分）　乳香（五分）　沒藥（五分）　甘草（四分）　公英（五錢）</p>
<p>水煎，加酒溫服。</p>
<p><u>排膿大補湯</u></p>
<p>人參　白朮　生地　銀花（各二錢）　當歸（三錢）　茯苓（一錢）　連翹（五分）　黃耆（一錢）　青皮（三分）　烏梅（一枚）　元棗（一枚）</p>
<p>此方可加白芷八分，以能排膿內托也。</p>
<p><u>加減十全大補湯</u></p>
<p>人參　白朮　當歸　生地　黃耆（各二錢）　茯苓　川芎（各八分）　甘草（五分）　遠志（一錢）　淨銀花（三錢）</p>
<p>水煎。瀉，加蓮子十四粒，肉果一枚。渴，加麥冬、五味。久不收口，加參末，膏藥貼之。</p>
<p>按：乳疽、乳癰，總以十全大補湯為主，或加銀花、公英，復以遠志肉煎燒酒，時時服之自效。十全大補湯即四君、四物加桂耆也。</p>

<h2>產後流注</h2>
<p>產後惡露，流注於腎腰關節之處，或漫腫，或結塊作痛，久則腫起，肢體倦怠，急用蔥熨法以散外腫，內服參歸生化湯以散血滯。至已潰、未潰，其法參之乳癰症中。</p>
<p><u>蔥熨法</u></p>
<p>用生蔥一握，搗作餅，貼患處，加厚布三四層，以火斗熨之立效。此方可治癰疽初起。</p>
<p><u>參歸生化湯</u></p>
<p>黃耆　川芎（各一錢五分）　當歸（三錢）　人參（二錢）　肉桂（八分）　甘草（五分）　馬蹄香（二錢）</p>
<p><u>附　乳疽方</u></p>
<p>採鮮蒲公英一握，連根搗汁，酒沖服，以渣貼患處即愈。</p>
<p>按：醫流注法，以五香散，米湯和成餅，再用大蒜糊薄鋪初起之處，上以五香餅放好，用艾灸在餅上。其痛者，灸至不痛發癢方止。癢者，灸至痛方止。如不痛不癢，灸至皮肉融活為度。多灸為貴，毒自散矣。</p>
<p><u>五香散</u></p>
<p>丁香　木香　沉香　肉桂　麝香（等分）</p>
<p>射一半為末，再加白芷、蘇葉、薑黃、血竭，同和餅，灸。陰毒、腫痛、風毒亦可。</p>

<h2>陰門腫痛</h2>
<p>臨產用力過傷，以致陰門兩旁腫痛，手足不能舒展者，用四季蔥入乳香末，搗成餅，貼腫痛處，良久即愈。</p>

<h2>陰門突出</h2>
<p>臨產用力逼送，陰門突出者，四物湯加龍骨少許，連進二服。外用如聖膏貼頂，少收，即拭去。</p>

<h2>產後陰門發癢</h2>
<p>按：陰門發癢者，乃產後脾胃不調，氣血不和，宗氣下陷，濕熱下逼，陰中因而生蟲。其癢者，乃蟲食陰戶也。治宜補中益氣湯去柴胡加減用之。外用薰洗貼法。</p>
<p><u>加減補益湯</u></p>
<p>黃耆（一錢五分）　人參（一錢五分）　歸身（一錢）　炙草（五分）　焦術（一錢）　陳皮（五分）　升麻（三分）　川椒（二十粒）　烏梅（二個）　吳萸（三分）　川連（三分均炒）</p>
<p>薑棗引，煎服。</p>
<p><u>外治法</u></p>
<p>用蛇床子（一兩）　川椒（三錢）　蔥白（五個）　苦參（五錢）　艾（三錢）</p>
<p>煎湯，向陰中先薰後洗。如薰洗數次不愈，用豬肝切大片，香油搽過，放新瓦片上炙，將熟氣香時，乘熱即貼陰門癢處，冷熱三次。豬精肉亦可用，先洗後貼，豬精肉亦用香油搽炙。又用嫩雞一隻，剖開，煮熟，用滾米醋烹，貼癢處。</p>

<h2>產後陰門生瘡</h2>
<p>按：陰門生瘡，亦下陷濕熱所致，服加味補益敗毒散。</p>
<p><u>加味補益敗毒散</u></p>
<p>生耆（二錢）　人參（二錢）　焦術（一錢）　炙草（八分）　陳皮（一錢）　歸身（二錢）　升麻（五分）　荊芥（一錢）　淨銀（二錢）　肉桂（五分）　防風（一錢）　乳香（去油，一錢）</p>
<p>煎服。</p>
<p><u>外治法</u></p>
<p>生甘　銀花　元參　土茯苓　蒼朮　白芷　茶　桑葉　苦參　蔥白　蒜梗（等分）</p>
<p>煎，薰洗。加槐枝、川椒更好。</p>
<p><u>摻藥方</u></p>
<p>三仙丹底（一錢）　黃連（一錢）　大黃（一錢）　象貝（二錢）　輕粉（五分）　無名異（一錢）　冰片（一分）　升過樟腦（五分）　制過甘石（一錢）　黃柏（二錢）</p>
<p>共為細末，摻瘡，如干，用豬膽汁和麻油調搽。</p>
<p><u>升樟腦法</u></p>
<p>用樟片（一兩）　薄荷葉（一兩）　好瓷碗（一個）</p>
<p>將薄荷鋪好，將樟片放在薄荷上，再用好瓷碗蓋之，濕紙重封口，勿令泄氣，用火盆緩火上，燉三株線香為度，取出蓋碗，上面結住者，即樟霜也。</p>
<p><u>升三仙丹法</u></p>
<p>水銀（一兩）　輕粉（研，一兩）　火硝（研，一兩）</p>
<p>用大傾銀罐一個，將三味放罐內，上用小罐蓋好，鹽泥封固勿泄，炭火煅至三株香為度，取出冷定，小罐蓋上者，為丹頭，大罐底下者，為丹底。拔毒用丹底，收口用丹頭。凡各瘡毒，摻藥俱奇效。一方硝代白礬，用小鍋一隻，蓋以瓷碗亦可升。</p>

<h2>乳汁不通</h2>
<p>產後乳汁不通，其故有二：一由氣血兩虛，乳來稀少；一由氣閉血滯、壅塞不行。蓋婦人多憂思忿怒，憂思則氣結而血亦結，忿怒則氣逆而血亦逆，甚至乳硬管塞，脅痛煩熱。故方於通乳藥中多用香附、木香、青皮者，以行氣故也。用王不留行者，通乳而兼行血也。若惟由氣血虛弱，則不必用利氣藥等味，須服豬蹄湯或鍾乳飲。</p>
<p><u>豬蹄湯</u></p>
<p>豬蹄（一隻）　通草（五錢）</p>
<p>煮汁服之。</p>
<p><u>鍾乳飲</u></p>
<p>鍾乳粉（二錢）　漏蘆（三錢）</p>
<p>煎汁服。一方，鯽魚、木通，煮汁食之。</p>
<p>按：乳汁不通皆由氣血不足之故。用豬蹄一隻，有七星者佳，煮濃汁，入當歸五錢，熟地六錢，人參一錢，西黨參八錢代之亦可，川芎一錢五分，通草一錢，杞子三錢，炙耆三錢，煎服。如人壯氣閉則加王不留行一錢，不可多用。</p>

<h2>消乳</h2>
<p>產母無子飲乳，有乳而欲清者，用麥芽二兩，炒為末，四物湯調服即消。又方，用神麯二錢，炒為末，酒吞，日服一次。</p>
