<header data-type="book">
<h1>四聖心源</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>黃玉璐</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1753">公元1753年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2914">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>自敘</h1>
<p>醫有黃帝、岐伯、越人、仲景四聖之書，爭光日月。人亡代革，薪火無傳，玉楸子憫後世作者不達其意，既解《傷寒》、《金匱》，乃於己巳二月作《四聖心源》，解內外百病，原始要終，以繼先聖之業。創闢大略，遇事輟筆。庚午四月，北遊帝城。十一月終，南赴清江。辛未二月，隨駕武林。四月還署，研思舊草，十得其九，厥功未竟。八月十五，開舟北上，再客京華。壬申十月，作天人之解，續成全書。癸酉二月，解長沙藥性，五月刪定《傷寒》，七月筆削《金匱》，八月修溫疫痘疹，成於九月十七。</p>
<p>維時霖雨初晴，商飆徐發，落木飄零，黃葉滿階。玉楸子處蕭涼之虛館，坐寂寞之閒床，起他鄉之遙恨，生故國之綿思。悲哉！清秋之氣也，黯然遠客之心矣，爰取《心源》故本，加之潤色。</p>
<p>嗟乎！往者虞卿違趙而著《春秋》，屈原去楚而作《離騷》，古人論述，往往失地遠客，成於羈愁鬱悶之中。及乎書竣業就，乃心獨喜，然後知當時之失意，皆為後此之得意無窮也。同使虞卿終相趙國，屈原永宦楚邦，則《離騷》不作，《春秋》莫著，迄於今，其人已朽，其書不傳，兩人之得意，不如其失意也。</p>
<p>當世安樂之人，其得天者誠厚，然隙駟不留，尺波電謝，生存而處華屋，零落而歸山丘，身與夕露同晞，名與朝華並滅，荊棘狐兔之中，樵牧歌吟之下，其為安樂者焉在！竊以為天之厚安樂之人，不如其厚羈愁之士，丈夫得失之際，非俗人之所知也。</p>
<p>顧自己巳，以至壬申，歷年多矣，元草未就，是天既長與以窮愁之境，而不頻假以蕭閒之日。帝眷之隆，何可恃也，良時非多，勖之而已。</p>
<p><u>癸酉九月甲戌昌邑黃元御</u></p>

<h1>後序</h1>
<p>醫學盛於上古，而衰於後世。自黃岐立法，定經脈，和藥石，以治民疾，天下遵守，莫之或貳。於是有和、緩、扁鵲、文摯、陽慶、倉公之徒相繼而起，各傳其術，以博施當世，而方藥至張仲景而立極。厥後皇甫謐、王叔和、孫思邈祖述而發揚之。起廢痼，潤枯斃，含生育物，絕厲消沴，黃岐之道於斯為盛。自唐以降，其道日衰，漸變古制，以矜新創。至於金元，劉完素為瀉火之說，朱彥修作補陰之法。海內沿染，競相傳習，蔑視古經，傾議前哲，攻擊同異，辨說是非。於是為河間之學者，與易水之學爭，為丹溪之學者，與局方之學爭。門戶既分，歧途錯出，紛紜擾亂以至於今，而古法蕩然矣。</p>
<p>夫醫雖藝事，而拯疾痛，系生死，非芝菌星鳥之術，可以詭誕其辭也。陰陽有紀，五行有序，脈絡有度，非博辨橫議所能推移其則也。一病之作，古今如一，非風俗政令有時代之異也。一藥之入，順逆俄頃，非百年必世可虛遁其說也。然而宋元以來，數百年間，人異其說，家自為法。按之往籍，則判若水火，綜其會通，則背若秦越，夫豈民有異疾，藥有異治哉?或俗學廢古，惡舊喜新，務為變動，以結名譽，凡在學者，莫不皆然，而醫其一也。故脈訣出而診要亡，本草盛而物性異，長沙之書亂而傷寒莫治，劉朱之說行而雜病不起，天下之民，不死於病而死於醫，以生人之道，為殺人之具，豈不哀哉！故凡藝或可殊途，唯醫必歸一致，古經具在，良驗難誣，有識之士，不能不是古而非今矣。</p>
<p>余少好醫學，博覽方籍。讀黃氏《素靈微蘊》、《傷寒懸解》，其於黃岐秦張之道，若網在綱，有條不紊。於是乃求其全書，積二十年不可得。歲在己丑，承乏館陶貢士張君蘊山為掖校官，得其書六種，錄以畀余，乃得究其說，而益嘆其學之至精。長沙而後，一火薪傳，非自尊也。</p>
<p>余既刊《素靈微蘊》、《傷寒懸解》、《長沙藥解》，而《四聖心源》為諸書之會極，乃復校而刊之。粗舉源流正變，以引伸其說。世之為醫者，能讀黃氏書，則推脈義而得診法，究藥解而正物性，傷寒無夭札之民，雜病無膏肓之嘆。上可得黃岐秦張之精，次可通叔和思邈之說，下可除河間丹溪之弊。昭先聖之大德，作生人之大衛，不亦懿哉！若乃規囿習俗，膠固師說，未遑研究，駭其偏矯，失後事之良資，為下士之聞道，則非余之所敢知矣。</p>
<p><u>道光十二年冬十一月陽湖張琦</u></p>

<h1>序</h1>
<p>宣素不知醫。辛丑歲初夏，先君䔿樓公抱恙，群醫束手。遷延三閱月，勢益劇。適明府龔木民以《四聖心源》一帙見示，宣受而卒識之，嘆其說理精當，實為醫家善本。急與醫者議，仿其意制方，以希一效。而疾已大漸無及，竊恨是書之不早見也！</p>
<p>因念人子，當父母康強時，依依承順，輒取岐黃家言，庋置弗觀，及一旦父母有疾，非不博求醫術，及弗獲效，則當父母床褥痛楚，呼天號泣，欲嚼舌齧臂，以分親痛而不可得，亦已無如何。而醫者方坐視成敗，以其必不效之術，嘗試於萬一，竟至不諱，則云證固不治。</p>
<p>嗚呼！言及此痛，何如耶！昔張從正撰《儒門事親》十五卷，蓋謂儒者，能明其理以事親，當知醫也。</p>
<p>是書作於昌邑黃氏，刻於陽湖張氏，因所傳未廣，爰與小摟弟校勘付梓，以廣其傳。區區抱恨私心，亦欲使天下仁人孝子，取是書而急識之，以善其頤養之方云爾。</p>
<p><u>道光壬寅三月丹徒趙克宣竹坪序</u></p>

<h1>序</h1>
<p>先君䔿樓公，辛丑夏抱恙，延醫調治，仙草無靈。迨竹坪兄於木民龔明府處得《四聖心源》一編攜歸，與醫者討論，師其意以訂方，而病已不可為矣。為人子而不知醫，此愚兄弟之抱憾終天而椎心泣血者也！</p>
<p>伏念是編本昌邑黃氏所著，實稱善本，向曾刻於陽湖宛鄰書屋叢書中。宛鄰張氏集叢書十有十種，除詩、古文、詞外，有黃氏所著《長沙藥解》、《傷寒懸解》、《素靈微蘊》，莊氏所著《慈幼二書》，並張氏自著《素問釋義》諸書，而《心源》一書，尤諸書中之至粹至精者。</p>
<p>夫醫雖小道，理極精深，用之得當，如濟世之航，用之不當，如傷人之刃，可不慎歟！近世庸工，藥性湯頭一經熟讀，自詡通人。及入病家，論實論虛，猜寒猜熱，以人試藥，莫中病情。求其觀天時之變，察人事之宜，准古酌今，神而明之者，未易數覯。此矯其弊者，有勿藥中醫之說也。甚至逞其私智，立說著書，伐陽滋陰，損人生氣。種種背妄，遺禍無窮，良可慨已！縱有一二依附聖經，強為詮釋，惜又穿鑿附會，龐雜不精，反令古聖之道，愈解而愈晦矣。</p>
<p>是編宗黃帝、岐伯、越人、仲景四聖人之心傳，而運以精思，達以卓論，抉天人之秘奧，闡順逆之精微，作述相承，獨標真諦，舉謬悠之說，一掃而空之，其為功豈淺鮮哉！愚兄弟不能早購是書以起先君之痼疾，而顧念世之人子或有願讀是書者，爰另梓流傳，以志終天之憾，且以見事親者之不可不知醫也。竹坪兄與宜悉心校讎，付諸剞劂，謹敘其意，以為緣起云。</p>
<p><u>道光壬寅歲季春下浣丹徒趙克宜小樓序</u></p>

<h1>昌邑黃先生醫書八種序</h1>
<p>敘曰：上古天真淳悶，嬰疾者少。然而黃帝、岐伯、俞跗、雷公之倫，即已勤求至道，惠濟寰宇。豈非風濕寒暑，天不能無偏行，疾痛癢疴，人亦何容不豫計也。三代之際，掌以專官，世宿其業，民無天枉。秦棄舊典，術遂淆亂，扁鵲、倉公，晨星落落。至於漢末，長沙崛起，上承往聖，醫乃有宗。魏晉六朝，叔和、張之隱、居翊之微有發明，未言樞轄。唐宋而降，源遠末分，比之江同出岷而枝別三千，淺深氾濫，難以概焉。</p>
<p>國朝昌邑黃氏，慨念醫術紛歧，斯道將墜，一以黃、岐、盧、張四聖為標準，於是有《四聖心源》、《素靈微蘊》、《四聖懸樞》之作。又念長沙二書，鑽仰雖多，明晦尚半，於是又有《傷寒懸解》、《傷寒說意》、《金匱懸解》之作。《神農本草》，不見《漢志》，中間地名，頗雜後代，病其非真，不無貽誤，乃復因長沙所用之品，推求功用，為《長沙藥解》四卷。有未備者，別繹《大觀本草》諸書，補之為《玉楸藥解》八卷。</p>
<p>八種之書，昔遠詞文，義閎體博，末學粗工，卒難尋究。昧者未睹玄微，略循枝葉，輒疑黃氏意主扶陽，不無偏勝。不知黃氏之言曰：足太陰以濕土主令，足陽明從燥金化氣，是以陽明之燥，不敵太陰之濕。及其病也，胃陽衰而脾陰旺，濕居八九。胃主降濁，脾主升清，濕則中氣不運，升降反作，清陽下陷，濁陰上逆。人之衰老病死，莫不由此。以故醫家之藥，首在中氣。中氣在二土之交，土生於火而火化於水，火盛則上燥，水盛則土濕。瀉水補火，抑陰扶陽，使中氣輸轉，清濁復位，卻病延年，莫妙於此。此黃氏之微言也，神而明之，詎有偏勝患乎！</p>
<p>八種之書，刻於張氏《宛鄰叢書》，四種，餘四種，無刻本。銘慮其久將佚也，幕友江右楊舍人希閔錄有全本，因更校刻，以廣其傳。上士十載悟玄，下士見之，以為尚白，書之微惡，在人自領，何能相貸為縷陳乎。</p>
<p>黃氏尚有《素問懸解》、《靈樞懸解》、《難經懸解》，見《四庫提要》目中。今訪未得，殆佚遺矣。</p>
<p><u>咸豐十一年四月一日長沙徐樹銘</u></p>

<h1>序</h1>
<p>嗚呼！醫學之壞，至今日而極矣。其鬻術者無論也，即有一二嗜古之士，欲以涉獵方書，研求醫理，而謬種流傳，往往守一先生之言，以為標準。俗學茫昧，千手一律，殺人如麻，不可殫記。有詰而難之者，曰：吾之學，朱、張、劉、李之學也，吾之方，固出自景岳《八陣》、葉氏《指南》之所傳也，然而不愈者，有命焉，非醫之咎也。噫！雖予亦以為非醫之咎也，何則彼其耳目錮蔽已深，性靈汩沒日久，雖欲自拔而不能，亦大可哀也已。</p>
<p>余自束髮，侍先父母疾，即喜翻閱醫書。初師喻嘉言昌，又師陳修園念祖，十年無所得。道光戊申，江西陳廣敷溥以玉楸黃先生《醫書八種》抄本相餉。其源不盡出自醫家，而自唐以後，談醫者莫之能及，二千年不傳之絕學，至是始得其真。爰取《四聖心源》、《素靈微蘊》，鋟板行世，一時醫風，翕然丕變。</p>
<p>今湘鄉左君菊農繼明毅然以昌明醫學為己任，費緍錢一千有奇，重刊其全部，而以校讎之役相屬。其嘉惠來學之心，可謂習懃矣。夫菊農亦嘗從事於朱、張、劉、李、景岳《八陣》、葉氏《指南》之說者，而一旦棄之如遺。何今之自命為名醫者先入以為主，抵死而不悟！讀此書曾不汗流浹背，一發其羞惡是非之良，不亦慎乎！</p>
<p>或曰：朱、張、劉、李，古大家也，張景岳、葉天士，亦近今之名手也，斯與黃氏，優劣惡從而辨之?不知黃氏所傳者，黃帝、岐伯、越人、仲景四聖之心法，彼則背而馳焉。異端曲學，足以害道，辭而闢之，大聲疾呼，吾黨之責也。譬之儒家，《素問》、《靈樞》，醫之六經也，《傷寒》、《金匱》，醫之四子書也。若黃氏之羽翼仲景，方之朱子，何多讓焉！</p>
<p>宗黃氏即以宗仲景，不宗仲景，黃岐之法不立，不宗黃氏，仲景之法不明。昌黎有言：非三代兩漢之書不敢讀。段師琵琶，須不近樂器，十年乃可授，吾願世之好學深思者，將後世一切非聖之書，視之如洪水猛獸，而一以仲景為歸，涵濡既久，漸漬而化焉。若涉迷津，臻彼岸，導歧路，騁康莊，有不自旋其面目而捐棄故伎，如菊農之勇者，無是人也。</p>
<p>黃氏尚有《周易懸象》、《素問懸解》、《靈樞懸解》若干卷，《四庫全書提要》存目中已著錄。聞其昌邑裔孫珍藏甚密，儻更有大力者搜而傳之，於以康濟群生，補救劫運，豈非醫林之盛事哉！</p>
<p><u>同治元年月四朔日湘潭後學歐陽兆熊序</u></p>

<h1>序</h1>
<p>余癸亥在資州，患失眠疾，醫者言，人人殊，各盡所學，迄未霍然。甲子因公赴長沙，遇左君繼明，為治頗效。見其為人主方輒有驗，詢之始知寢饋於黃氏醫書者有年。其書理明辭達，迥異諸家，因攜以入蜀。</p>
<p>乙丑秋，權渝郡錫韋卿觀察及同官諸君子咸善是書，相與醵金鏤版，以廣其傳。至是告成，爰弁數言，以志緣起。</p>
<p><u>同治丙寅八月長沙黃濟識</u></p>

<h1>黃氏遺書序</h1>
<p>醫者，生人之術也，不善用之，則之生而之死。昔仲景痛宗族之淪亡，患醫者之不研求經旨，著《傷寒》、《金匱》諸書。方術家奉為神明，競相祖述。顧其文詞簡古，理解深微，猝難尋求，又為王叔和亂其篇第，旨趣隔越，加以庸工罔識，私智穿鑿，別立異說，枝葉橫生，訛謬百出，遂使學者去此昭昭，即彼昏昏，幾成痼疾。蓋自宋元以來，斯道榛蕪極矣。</p>
<p>國朝龍興，間運遂開，古來絕學，自晦昧而就高明，如日再中。即方術一家，亦駸駸乎抗衡往哲，標準來茲。若吳江徐靈胎、錢塘張隱菴、吳門葉天士、閩中陳修園諸人，皆有廊清推陷之功，羽翼闡揚之力，而集其大成者，尤推昌邑黃坤載先生。</p>
<p>先生著書，以地元為主，以扶陽抑陰為義。窺其旨趣，蓋原本大《易》，合符《河》、《洛》、約契《參同》，所謂陰陽會通，玄冥幽微者。於仲景之學，不啻親承謦咳而面聆緒言也。</p>
<p>夫死病而藥生之，醫莫不有是心也，乃生病而藥死之，夫豈醫者之本意，抑亦誤於其所讀之書而已。先生痛心疾首，於謬種之流傳，而獨以超悟析此微言，其有功於仲景，豈鮮哉，抑其有德於生民，豈有涯涘哉！</p>
<p>彭器之觀察服膺是書，謀鋟版於蜀，以廣其傳，並丐餘一言以為重。余惟先生之書，凡有識者，皆知其不可祧。特恐學者襲謬承訛，不肯捐棄故技，故特表章之，庶幾知所從事云爾。</p>
<p><u>時同治七年歲在戊辰八月之吉完顏崇實序</u></p>

<h1>重刻黃氏遺書序</h1>
<p>昌邑黃坤載先生，學究天人，湛深《易》理，其精微之蘊，托醫術以自見。著《傷寒懸解》、《金匱懸解》、《傷寒說意》、《長沙藥解》、《玉楸藥解》、《四聖心源》、《四聖懸樞》、《素靈微蘊》等書，凡八種，一掃積蒙，妙析玄解，自仲景以後，罕有倫比。其宗旨言：中皇轉運，沖氣布濩，水木宜升，金火宜降而已。</p>
<p>蓋乾坤之運，一闔一闢，陰陽之用，一消一長，易道易簡，理固如是，即醫亦豈有殊理哉！且惟聖人，為能法天，自大賢以下，則皆法也，夫豈不用天，天在地中故也。黃泉黑壤，深潛九幽，而一陽自地而發，生五行，附地而旋轉，而變化，裁成之道在此矣。余嘗取先生所言證之《靈樞》、《素問》及《傷寒》、《金匱》諸書，意皆符合，特古人未嘗顯言，至先生始揭其秘耳。</p>
<p>先生虛明研慮，嘗自負古人無雙。曩時讀仲景書，幾乎一字不解，迨其後一旦大悟，遂成此八種。夫以先生之虛明，而猶有所不解，其不解，殆非猶夫人之不解矣。以先生之研慮，而猶有待於悟，其所悟，殆非猶夫人之所悟矣。乃至於既悟而所言之理，固猶夫人之所知也，然不能不推先生為獨知。</p>
<p>《老子》曰：知常曰明。又曰：上士聞道，勤而行之。中士聞道，若在若亡。下士聞道，大笑之，不笑之，不足為道。然則讀先生是書者，可於此而得其微意所在矣。夫《易》言天道，而寄其用於卜筮，先生明《易》，而著其理於醫術，天下事何淺之非深，何遠之非近，豈獨醫為然哉！</p>
<p>器之觀察將刻是書，嘉惠學者，以復初略嘗從事於此，屬為序言，爰述大旨。至其精微所在，不可得而陳也。</p>
<p><u>同治七年歲次戊辰九月之吉吳郡顧復初序</u></p>

<h1>重刻黃氏醫書序</h1>
<p>古今醫書，汗牛充棟，讀不勝讀，尤刻不甚刻也。不善讀者，狃於所習，失之於偏，則其誤猶在一己，不善刻者，茫無所擇，失之於濫，則其害將遍天下。夫刻書者豈嘗有意貽害哉，其心方以著書立說，皆有利於人世，而詎知適以成害耶。且天地間之可以生人者，無不可以殺人者也。聖人體天地好生之心，製為種種生人之具，後世浸失其意，遂往往至於殺人。兵刑其大端，而醫術則亦非細故也。</p>
<p>上古醫藥未興，其民多壽，後世方書日繁，其民多夭，其故何哉?蓋醫藥非所以生人，特補天地之或有所憾，而人乃恃有醫藥，每無疾而致疾，有疾而又不慎其疾，此殺人之所以多也。夫神農著《本草》者，而後世讀《本草》，輒各主所見，其說不同。越人著《難經》，而讀《難經》者，復不求甚解，而其旨益晦。聖人以生人之心著書，故其書駁而精，世人以售術之心著書，故其書駮而辨。彼淺陋者勿論已，即專門名家，赫赫在人耳目者，亦不免有自炫其術之見。此仲景氏《金匱》一書，能以生人為心，故遂獨有千古。而昌邑黃氏宗之，微言創義，暢發其旨，亦可謂獨得千古之秘者矣。顧其書不甚傳，陽湖張氏求其全集，積二十年乃得刊行於世，於是遠近始稍有知之者。</p>
<p>夫學儒不宗六經，而好騁百氏之說，其學卑，習醫不宗仲景，而墨守一家之言，其術謬。譬如聖人制兵與刑，闢以止闢，刑期無刑，皆生人之心也。自姑息之政行，嚴酷之吏起，而生意凋敝矣。予既讀黃氏之書，而猶恐其行之不遠也，覆命次兒汝琮鋟版多印，以寄四方。願好言醫者，家置一編，即欲藉以售術，亦庶幾不失宗旨也夫。</p>
<p><u>同治七年十二月江夏彭崧毓撰</u></p>

<h1>卷一</h1>
<p>昔在黃帝，咨於岐伯，作《內經》以究天人之奧。其言曰：善言天者，必有驗於人。然則善言人者，必有驗於天矣。天人一也，未識天道，焉知人理！</p>
<p>慨自越人、仲景而後，秘典弗著，至教無傳。嘆帝宰之杳茫，悵民義之幽深，徒託大象，不測其原，空撫渺躬，莫解其要。人有無妄之疾，醫乏不死之方，群稱乳虎，眾號蒼鷹。哀彼下泉之人，念我同門之友，作天人解。</p>

<h2>天人解</h2>

<h3>陰陽變化</h3>
<p>陰陽未判，一氣混茫。氣含陰陽，則有清濁，清則浮升，濁則沉降，自然之性也。升則為陽，降則為陰，陰陽異位，兩儀分焉。清濁之間，是謂中氣，中氣者，陰陽升降之樞軸，所謂土也。</p>
<p>樞軸運動，清氣左旋，升而化火，濁氣右轉，降而化水。化火則熱，化水則寒。方其半升，未成火也，名之曰木。木之氣溫，升而不已，積溫成熱，而化火矣。方其半降，未成水也，名之曰金。金之氣涼，降而不已，積涼成寒，而化水矣。</p>
<p>水、火、金、木，是名四象。四象即陰陽之升降，陰陽即中氣之浮沉。分而名之，則曰四象，合而言之，不過陰陽，分而言之，則曰陰陽，合而言之，不過中氣所變化耳。</p>
<p>四象輪旋，一年而周。陽升於歲半之前，陰降於歲半之後。陽之半升則為春，全升則為夏，陰之半降則為秋，全降則為冬。春生夏長，木火之氣也，故春溫而夏熱。秋收冬藏，金水之氣也，故秋涼而冬寒。土天專位，寄旺於四季之月，各十八日，而其司令之時，則在六月之間。土合四象，是謂五行也。</p>

<h3>五行生剋</h3>
<p>五行之理，有生有克，木生火，火生土，土生金，金生水，水生木，木剋土，土剋水，水剋火，火剋金，金剋木。其相生相剋，皆以氣而不以質也，成質則不能生克矣。</p>
<p>蓋天地之位，北寒、南熱、東溫、西涼。陽升於東，則溫氣成春，升於南，則熱氣成夏，陰降於西，則涼氣成秋，降於北，則寒氣成冬。春之溫生夏之熱，夏之熱生秋之涼，秋之涼生冬之寒，冬之寒生春之溫。土為四象之母，實生四象，曰火生土者，以其寄宮在六月火令之後，六月濕盛，濕為土氣也。其實水火交蒸，乃生濕氣，六月之時，火在土上，水在土下，寒熱相逼，是以濕動。濕者，水火之中氣。土寄位於西南，南熱而西涼，故曰火生土，土生金也。</p>
<p>相剋者，制其太過也。木性發散，斂之以金氣，則木不過散；火性升炎，伏之以水氣，則火不過炎；土性濡濕，疏之以木氣，則土不過濕；金性收斂，溫之以火氣，則金不過收；水性降潤，滲之以土氣，則水不過潤，皆氣化自然之妙也。</p>

<h3>臟腑生成</h3>
<p>人與天地相參也。陰陽肇基，爰有祖氣，祖氣者，人身之太極也。祖氣初凝，美惡攸分，清濁純雜，是不一致，厚薄完缺，亦非同倫，後日之靈蠢壽夭，貴賤貧富，悉於此判，所謂命秉於生初也。</p>
<p>祖氣之內，含抱陰陽，陰陽之間，是謂中氣。中者，土也，土分戊己，中氣左旋，則為己土，中氣右轉，則為戊土。戊土為胃，己土為脾。</p>
<p>已土上行，陰升而化陽，陽升於左，則為肝，升於上，則為心。戊土下行，陽降而化陰，陰降於右，則為肺，降於下，則為腎。肝屬木而心屬火，肺屬金而腎屬水。是人之五行也。</p>
<p>五行之中，各有陰陽，陰生五臟，陽生六腑。腎為癸水，膀胱為壬水，心為丁火，小腸為丙火，肝為乙木，膽為甲木，肺為辛金，大腸為庚金。五行各一，而火分君相，臟有心主相火之陰，腑有三焦相火之陽也。</p>

<h3>氣血原本</h3>
<p>肝藏血，肺藏氣，而氣原於胃，血本於脾。蓋脾土左旋，生髮之令暢，故溫暖而生乙木，胃土右轉，收斂之政行，故清涼而化辛金，午半陰生，陰生則降，三陰右降，則為肺金。肺金即心火之清降者也，故肺氣清涼而性收斂。子半陽生，陽生則升，三陽左升，則為肝木。肝木即腎水之溫升者也，故肝血溫暖而性生髮。腎水溫升而化木者，緣己土之左旋也，是以脾為生血之本。心火清降而化金者，緣戊土之右轉也，是以胃為化氣之原。</p>
<p>氣統於肺，凡臟腑經絡之氣，皆肺氣之所宣布也，其在臟腑則曰氣，而在經絡則為衛。血統於肝，凡臟腑經絡之血，皆肝血之所流注也，其在臟腑則曰血，而在經絡則為營。營衛者，經絡之氣血也。</p>

<h3>精神化生</h3>
<p>肝血溫升，升而不已，溫化為熱，則生心火，肺氣清降，降而不已，清化為寒，則生腎水。水之寒者，六腑之悉凝也，陰極則陽生，故純陰之中，又含陽氣，火之熱者，六腑之盡發也，陽極則陰生，故純陽之中，又胎陰氣。陰中有陽，則水溫而精盈，陽中有陰，則氣清而神旺。</p>
<p>神發於心，方其在肝，神未旺也，而已現其陽魂，精藏於腎，方其在肺，精未盈也，而先結其陰魄。《素問》：隨神往來者，謂之魂，並精出入者，謂之魄。蓋陽氣方升，未能化神，先化其魂，陽氣全升，則魂變而為神。魂者，神之初氣，故隨神而往來。陰氣方降，未能生精，先生其魄，陰氣全降，則魄變而為精。魄者，精之始基，故並精而出入也。</p>

<h3>形體結聚</h3>
<p>肝主筋，其榮爪，心主脈，其榮色，脾主肉，其榮唇，肺主皮，其榮毛，腎主骨，其榮發。凡人之身，骨以立其體干，筋以束其關節，脈以通其營衛，肉以培其部分，皮以固其肌膚。</p>
<p>皮毛者，肺金之所生也，肺氣盛則皮毛緻密而潤澤。肌肉者，脾土之所生也，脾氣盛則肌肉豐滿而充實。脈絡者，心火之所生也，心氣盛則脈絡疏通而條達。筋膜者，肝木之所生也，肝氣盛則筋膜滋榮而和暢。髓骨者，腎水之所生也，腎氣盛則髓骨堅凝而輕利。五氣皆備，形成而體具矣。</p>

<h3>五官開竊</h3>
<p>肝竅於目，心竅於舌，脾竅於口，肺竅於鼻，腎竅於耳。五臟之精氣，開竅於頭上，是謂五官。</p>
<p>手之三陽，自手走頭，足之三陽，自頭走足，頭為手足六陽之所聚會。五臟陰也，陰極生陽，陽性清虛而親上，清虛之極，神明出焉。五神發露，上開七竅，聲色臭味，於此攸辨。</p>
<p>官竅者，神氣之門戶也。清陽上升，則七竅空靈，濁陰上逆，則五官窒塞。清升濁降，一定之位。人之少壯，清升而濁降，故上虛而下實，人之衰老，清陷而濁逆，故下虛而上實。七竅之空靈者，以其上虛，五官之窒塞者，以其上實。其實者，以其虛也，其虛者，以其實也。</p>

<h3>五氣分主</h3>
<p>肝屬木，其色青，其臭臊，其味酸，其聲呼，其液泣。心屬火，其臭焦，其味苦，其聲笑，其液汗，其色赤。脾屬土，其味甘，其聲歌，其液涎，其色黃，其臭香。肺屬金，其聲哭，其液涕，其色白，其臭腥，其味辛。腎屬水，其液唾，其色黑，其臭腐，其味鹹，其聲呻。</p>
<p>蓋肝主五色，五臟之色，皆肝氣之所入也，人心為赤，入脾為黃，入肺為白，入腎為黑。心主五臭，五臟之臭，皆心氣之所入也，入脾為香，入肺為腥，入腎為腐，入肝為臊。脾主五味，五臟之味，皆脾氣之所入也，入肺為辛，入腎為咸，入肝為酸，入心為苦。肺主五聲，五臟之聲，皆肺氣之所入也，入腎為呻，入肝為呼，入心為言，入脾為歌。腎主五液，五臟之液，皆腎氣之所入也，入肝為淚，入心為汗，入脾為涎，入肺為涕。</p>

<h3>五味根原</h3>
<p>木曰曲直，曲直作酸。火曰炎上，炎上作苦。金曰從革，從革作辛。水曰潤下，潤下作咸。土爰稼穡，稼穡作甘。火性炎上，上炎則作苦。水性潤下，下潤則作咸。木性升發，直則升而曲則不升，鬱而不升，是以作酸。金性降斂，從則降而革則不降，滯而不降，是以作辛。使坎離交姤，龍虎迴環，則火下炎而不苦，水上潤而不咸，木直升而不酸，金從降而不辛。</p>
<p>金木者，水火所由以升降也。木直則腎水隨木而左升，金從則心火隨金而右降。木曲而不直，故腎水下潤，金革而不從，故心火上炎。而交濟水火，升降金木之權，總在於土。土者，水火金木之中氣，左旋則化木火，右轉則化金水，實四象之父母也。不苦、不咸、不酸、不辛，是以味甘。己土不升，則水木下陷，而作酸鹹，戊土不降，則火金上逆，而作苦辛。緣土主五味，四象之酸苦辛鹹，皆土氣之中郁也。</p>
<p>四象之內，各含土氣，土鬱則傳於四臟，而作諸味。調和五臟之原，職在中宮也。</p>

<h3>五情緣起</h3>
<p>肝之氣風，其志為怒。心之氣熱，其志為喜。肺之氣燥，其志為悲。腎之氣寒，其志為恐。脾之氣濕，其志為思。蓋陽升而化火則熱，陰降而化水則寒。離火上熱，泄而不藏，斂之以燥金，則火交於坎腑，坎水下寒，藏而不泄，動之以風木，則水交於離宮。木生而火長，金收而水藏。當其半生，未能茂長，則鬱勃而為怒，既長而神氣暢達，是以喜也。當其半收，將至閉藏，則牢落而為悲，既藏而志意幽淪，是以恐也。</p>
<p>物情樂升而惡降，升為得位，降為失位。得位則喜，未得則怒，失位則恐，將失敗悲，自然之性如此。其實總土氣之回周而變化也。</p>
<p>己土東昇，則木火生長，戊土西降，則金水收藏，生長則為喜怒，收藏則為悲恐。若輪樞莫運，升降失職，喜怒不生，悲恐弗作，則土氣凝滯，而生憂思。</p>
<p>心之誌喜，故其聲笑，笑者，氣之升達而酣適也。腎之志恐，故其聲呻，呻者，氣之沉陷而幽菀也。肝之志怒，故其聲呼，呼者，氣方升而未達也。肺之志悲，故其聲哭，哭者，氣方沉而將陷也。脾之志憂，故其聲歌，歌者，中氣結郁，故長歌以泄懷也。</p>

<h3>精華滋生</h3>
<p>陰生於上，胃以純陽而含陰氣，有陰則降，濁陰下降，是以清虛而善容納。陽生於下，脾以純陰而含陽氣，有陽則升，清陽上升，是以溫暖而善消磨。水殼入胃，脾陽磨化，渣滓下傳，而為糞溺，精華上奉，而變氣血。</p>
<p>氣統於肺，血藏於肝，肝血溫升，則化陽神，肺氣清降，則產陰精。五臟皆有精，悉受之於腎，五臟皆有神，悉受之於心，五臟皆有血，悉受之於肝，五臟皆有氣，悉受之於肺，總由土氣之所化生也。</p>
<p>土爰稼穡，稼穡作甘，穀味之甘者，秉土氣也。五殼香甘，以養脾胃，土氣充盈，分輸四子。己土左旋，穀氣歸於心肺，戊土右轉，穀精歸於腎肝。脾胃者，倉稟之官，水穀之海，人有胃氣則生，絕胃氣則死。胃氣即水穀所化，食為民天，所關非細也。</p>

<h3>糟粕傳導</h3>
<p>水穀入胃，消於脾陽，水之消化，較難於谷。緣脾土磨化，全賴於火，火為土母，火旺土燥，力能剋水，脾陽蒸動，水穀精華，化為霧氣，遊溢而上，歸於肺家，肺金清肅，霧氣降灑，化而為水，如釜水沸騰，氣蒸為霧也。</p>
<p>氣化之水，有精有粗，精者入於臟腑而為津液，粗者入於膀胱而為溲溺。溲溺通利，胃無停水，糟粕後傳是以便乾。</p>
<p>《靈樞·營衛生會》：上焦如霧，中焦如漚，下焦如瀆。氣水變化於中焦，漚者，氣水方化而未盛也，及其已化，則氣騰而上，盛於胸膈，故如霧露，水流而下，盛於膀胱，故如川瀆。川瀆之決，由於三焦，《素問·靈蘭秘典》：三焦者，決瀆之官，水道出焉。</p>
<p>蓋三焦之火秘，則上溫脾胃而水道通，三焦之火泄，則下陷膀胱而水竅閉。《靈樞·本輸》：三焦者，足太陽少陰之所將，太陽之別也。上踝五寸，別入貫腨腸，出於委陽，並太陽之正，入絡膀胱，約下焦，實則閉癃，虛則遺溺。以水性蟄藏，太陽寒水蟄藏，三焦之火秘於腎臟，則內溫而外清。水府清通，上竅常開，是以氣化之水滲於膀胱，而小便利。若太陽寒水不能蟄藏，三焦之火泄於膀胱，膀胱熱癃，水竅不開，脾胃寒鬱，但能消穀，不能消水，水不化氣上騰，爰與谷滓併入二腸，而為泄利。泄利之家，水入二腸而不入膀胱，是以小便不利。所謂實則閉癃者，三焦之火泄於膀胱也。</p>

<h3>經脈起止</h3>
<p>膽、胃、大腸、小腸、三焦、膀胱，是謂六腑，肝、心、脾、肺、腎、心包，是謂六臟，六臟六腑，是生十二經。經有手足不同，陽明大腸、太陽小腸、少陽三焦，是謂手之三陽經，陽明胃、太陽膀胱、少陽膽，是謂足之三陽經，太陰脾、少陰腎、厥陰肝，是謂足之三陰經，太陽肺、少陰心、厥陰心主，是謂手之三陰經。</p>
<p>手之三陽，自手走頭。手陽明，自次指，出合谷，循臂上廉，上頸，入下齒，左之右，右之左，上挾鼻孔。手太陽，自小指，從手外側，循臂下廉，上頸，至目內眥。手少陽，自名指，循手表，出臂外，上頸，至目銳眥。三經皆自臂外而走頭，陽明在前，太陽在後，少陽在中。</p>
<p>足之三陽，自頭走足。足陽明行身之前，自鼻之交頞，循喉嚨，入缺盆，下乳，挾臍，循脛外，入大指次指。足太陽行身之後，自目內眥，上額，交巔，下項，挾脊，抵腰，貫臀，入膕中，出外踝，至小指。足少陽行身之側，自目銳眥，從耳後，下頸，入缺盆，下胸，循脅，從膝外廉，出外踝，入名指。三經皆自腿外而走足，陽明在前，太陽在後，少陽在中。</p>
<p>足之三陰，自足走胸。足太陰行身之前，自大指，上內踝，入腹，上膈。足少陰行身之後，自小指，循內踝，貫脊，上膈，注胸中。足厥陰行身之側，自大指，上內踝，抵小腹，貫膈，布脅肋。三經皆自腿里而走胸，太陰在前，少陰在後，厥陰在中。</p>
<p>手之三陰，自胸走手。手太陰，自胸，出腋下，循臑內前廉，入寸口，至大指。手少陰，自胸，出腋下，循臑內後廉，抵掌後，至小指。手厥陰，自胸，出腋下，循臑內，入掌中，至中指。三經皆自臂里而走手，太陰在前，少陰在後，厥陰在中。</p>
<p>手三陽之走頭，足三陽之走足，皆屬其本府而絡其所相表裡之藏，足三陰之走胸，手三陰之走手，皆屬其本藏而絡其所相表裡之腑。手陽明與手太陰為表裡，足陽明與足太陰為表裡，手太陽與手少陰為表裡，足太陽與足少陰為表裡，手少陽與手厥陰為表裡，足少陽與足厥陰為表裡。六陽六陰，分行於左右手足，是謂二十四經也。</p>

<h3>奇經部次</h3>
<p>奇經八脈、督、任、沖、帶、陽蹺、陰蹺、陽維、陰維。督脈行於身後，起於下極之俞，併入脊裡，上至風府，入屬於腦，諸陽之綱也。任脈行於身前，起於中極之下，循腹裡，上關元，入目，絡舌，諸陰之領也。衝脈起於氣衝，並足少陰，挾臍上行，至胸中而散，諸經之海也。帶脈起於季脅，回身一周，環腰如帶，諸經之約也。陽蹺起於跟中，循外踝上行，入於風池，主左右之陽也。陰蹺起於跟中，循內踝上行，交貫衝脈，主左右之陰也。陽維起於諸陽會，維絡於身，主一身之表也。陰維起於諸陰交，維絡於身，主一身之裡也。陽蹺、陰維者，足太陽之別。陰蹺、陽維者，足少陰之別。</p>
<p>凡此八脈者，經脈之絡也。經脈隆盛，入於絡脈，絡脈滿溢，不拘於經，內溉臟腑，外濡腠理，別道自行，謂之奇經也。</p>

<h3>營氣運行</h3>
<p>水穀入胃，化生氣血。氣之剽悍者，行於脈外，命之曰衛。血之精專者，行於脈中，命之曰營。</p>
<p>營衛運行，一日一夜，周身五十度。人一呼，脈再動，一吸，脈再動，呼吸定息，脈五動，閏以太息，脈六動。一息六動，人之常也，一動脈行一寸，六動脈行六寸。</p>
<p>《靈樞·脈度》：手之六陽，從手至頭，長五尺，五六三丈。手之六陰，從手至胸，長三尺五寸，三六一丈八尺，五六三尺，合二丈一尺。足之六陽，從足至頭，長八尺，六八四丈八尺。足之六陰，從足至胸，長六尺五寸，六六三丈六尺，五六三尺，合三丈九尺。蹺脈從足至目，長七尺五寸，二七一丈四尺，二五一尺，合一丈五尺。督脈、任脈，長四尺五寸，二四八尺，二五一尺，合九尺。凡都合一十六丈二尺。平人一日一夜，一萬三千五百息，一息脈行六寸，十息脈行六尺。一日百刻，一刻一百三十五息，人氣半周於身，脈行八丈一尺，兩刻二百七十息，人氣一周於身，脈行十六丈二尺，百刻一萬三千五百息，人氣五十周於身，脈行八百一十丈。</p>
<p>營氣之行也，常於平旦寅時，從手太陰之寸口始。自手太陰注手陽明，足陽明注足太陰，手少陰注手太陽，足太陽注足少陰，手厥陰注手少陽，足少陽注足厥陰，終於兩蹺、督、任，是謂一周也。二十八脈，周而復始，陰陽相貫，如環無端。五十周畢，明日寅時，又會於寸口。此營氣之度也。</p>

<h3>衛氣出入</h3>
<p>衛氣，書行陽經二十五周，夜行陰臟二十五周。</p>
<p>衛氣之行也，常於平旦寅時，從足太陽之睛明始。晴明在目之內眥，（足太陽之穴也。）平旦陽氣出於目，目張則氣上行於頭，循項，下足太陽，至小指之端。別入目內眥，下手太陽，至小指之端。別入目銳眥，下足少陽，至小指次指之端。上循手少陽之分側，下至名指之端。別入耳前，下足陽明，至中指之端。別入耳下，下手陽明，至次指之端。其至於足也，入足心，出內踝，下入足少陰經。陰蹺者，足少陰之別，屬於目內眥，自陰蹺而復合於目，交於足太陽之晴明，是謂一周。如此者，二十五周。日入陽盡，而陰受氣矣，於是內入於陰藏。</p>
<p>其入於陰也，常從足少陰之經而注於腎，腎注於心，心注於肺，肺注於肝，肝注於脾，脾復注於腎，是謂一周。如此者，二十五周。平旦陰盡而陽受氣矣，於是外出於陽經。其出於陽也，常從腎至足少陰之經而復合於目。</p>
<p>衛氣入於陰則寐，出於陽則寤。一日百刻，周身五十，此衛氣之度也。《難經》營衛相隨之義，言營行脈中，衛行脈外，相附而行，非謂其同行於一經也。</p>

<h1>卷二</h1>
<p>內外感傷，百變不窮，溯委窮源，不過六氣。六氣了徹，百病莫逃，義至簡而法至精也。仲景既沒，此義遂晦，寒熱錯訛，燥濕乖謬，零素雪於寒泉，飄溫風於陽谷，以水益水而愈深，以火益火而彌熱。生靈夭札，念之疚心，作六氣解。</p>

<h2>六氣解</h2>

<h3>六氣名目</h3>
<p>厥陰風木　足厥陰肝　乙木　手厥陰心主相火</p>
<p>少陰君火　手少陰心　丁火　足少陰腎　癸水</p>
<p>少陽相火　手少陽三焦相火　足少陽膽　甲木</p>
<p>太陰濕土　足太陰脾　己土　手太陰肺　辛金</p>
<p>陽明燥金　手陽明大腸庚金　足陽明胃　戊土</p>
<p>太陽寒水　足太陽膀胱壬水　手太陽小腸丙火</p>

<h3>六氣從化</h3>
<p>天有六氣，地有五行，六氣者，風、熱、暑、濕、燥、寒，五行者，木、火、土、金、水。在天成象，在地成形，六氣乃五行之魂，五行即六氣之魄。人為天地之中氣，秉天氣而生六腑，秉地氣而生五臟。六氣五行，皆備於人身，內傷者，病於人氣之偏，外感者，因天地之氣偏，而人氣感之。</p>
<p>內外感傷，總此六氣。其在天者，初之氣，厥陰風木也，在人則肝之經應之。二之氣，少陰君火也，在人則心之經應之。三之氣，少陽相火也，在人則三焦之經應之。四之氣，太陰濕土也，在人則脾之經應之。五之氣，陽明燥金也，在人則大腸之經應之。六之氣，太陽寒水也，在人則膀胱之經應之。</p>
<p>天人同氣也，經有十二，六氣統焉。足厥陰以風木主令，手厥陰火也，從母化氣而為風。手少陽以相火主令，足少陽木也，從子化氣而為暑。手少陰以君火主令，足少陰水也，從妻化氣而為熱。足太陽以寒水主令，手太陽火也，從夫化氣而為寒。足太陽以濕土主令，手太陰金也，從母化氣而為濕。手陽明以燥金主令，足陽明土也，從子化氣而為燥。</p>
<p>蓋癸水上升，而化丁火，故手少陰以君火司氣，而足少陰癸水在從化之例。丙火下降，而化壬水，故足太陽以寒水當權，而手太陽丙火在奉令之條。木之化火也，木氣方盛，而火氣初萌，母強子弱，故手厥陰以相火而化氣於風木。火氣既旺，而木氣已虛，子壯母衰，故足少陽以甲木而化氣於相火。土之化金也，土氣方盛，而金氣初萌，母強子弱，故手太陰以辛金而化氣於濕土。金氣方旺，而土氣已虛，子壯母衰，故足陽明以戊土而化氣於燥金。母氣用事，子弱未能司權，則子從母化，子氣用事，母虛不能當令，則母從子化，所謂將來者進，成功者退，自然之理也。</p>

<h3>六氣偏見</h3>
<p>人之六氣，不病則不見，凡一經病則一經之氣見。平人六氣調和，無風、無火、無濕、無燥、無熱、無寒，故一氣不至獨見，病則或風、或火、或濕、或燥、或寒、或熱，六氣不相交濟，是以一氣獨見。如厥陰病則風盛，少陰病則熱盛，少陽病則暑盛，太陰病則濕盛，陽明病則燥盛，太陽病則寒盛也。</p>
<p>以此氣之偏盛，定緣彼氣之偏虛。如厥陰風盛者，土金之虛也。少陰熱盛、少陽暑盛者，金水之虛也。太陰濕盛者，水木之虛也。陽明燥盛者，木火之虛也。太陽寒盛者，火土之虛也。以六氣之性，實則克其所勝而侮所不勝，虛則己所不勝者乘之，而己所能勝者亦來侮之也。</p>
<p>究之一氣之偏盛，亦緣於虛。厥陰能生，則陽氣左升而木榮，其風盛者，生意之不遂也。少陰能長，則君火顯達而上清，其熱盛者，長氣之不旺也。陽明能收，則陰氣右降而金肅，其燥盛者，收令之失政也。太陽能藏，則相火閉蟄而下暖，其寒盛者，臟氣之不行也。土為四維之中氣，木火之能生長者，太陰己土之陽升也，金水之能收藏者，陽明戊土之陰降也。</p>
<p>中氣旺則戊己轉運而土和，中氣衰則脾胃濕盛而不運。土生於火而火滅於水，土燥則剋水，土濕則水氣氾濫，侮土而滅火。水泛土濕，木氣不達，則生意盤塞，但能賊土，不能生火以培土，此土氣所以困敗也。血藏於肝而化於脾，太陰土燥，則肝血枯而膽火炎，未嘗不病。但足太陰脾以濕土主令，足陽明胃從燥金化氣，濕為本氣而燥為化氣，是以燥氣不敵濕氣之旺。陰易盛而陽易衰，土燥為病者，除陽明傷寒承氣證外不多見，一切內外感傷雜病，盡緣土濕也。</p>

<h3>本氣衰旺</h3>
<p>經有十二，司化者六經，從化者六經。從化者不司氣化，總以司化者為主，故十二經統於六氣。病則或見司化者之本氣，或見從化者之本氣，或司化者而見從化之氣，或從化者而見司化之氣，全視乎本氣之衰旺焉。</p>
<p>手少陰以君火司化，足少陰之水從令而化熱者，常也。而足少陰之病寒，是從化者自見其本氣，以水性原寒，手少陰之病寒，是司化者而見從化之氣，以君火原從水化也。足太陽以寒水司化，手太陽之火從令而化寒者，常也。而手太陽之病熱，是從化者自見其本氣，以火性原熱，足太陽之病熱，是司化者而見從化之氣，以寒水原從火化也。足厥陰以風木司化，手厥陰之火從令而化風，手少陽以相火司化，足少陽之木從令而化暑者，常也。而手厥陰之病暑，足少陽之病風，是從化者自見其本氣，以火性生暑而木性生風也。足太陰以濕土司化，手太陰之金從令而化濕，手陽明以燥金司化，足陽明之土從令而化燥者，常也。而手太陰之病燥，足陽明之病濕，是從化者自見其本氣，以金性本燥而土性本濕也。</p>
<p>大抵足太陽雖以寒化，而最易病熱。手少陰雖以熱化，而最易病寒。厥陰原以風化，而風盛者固多。少陽雖以火化，而火敗者非少。金性本燥，而手太陰從土化濕者，常有七八。土性本濕，而足陽明從金化燥者，未必二三也。</p>

<h3>厥陰風木</h3>
<p>風者，厥陰木氣之所化也，在天為風，在地為木，在人為肝。足厥陰以風木主令，手厥陰心主以相火而化氣於風木，緣木實生火，風木方盛，子氣初胎，而火令未旺也。</p>
<p>冬水閉藏，一得春風鼓動，陽從地起，生意乃萌。然土氣不升，固賴木氣以升之，而木氣不達，實賴土氣以達焉。蓋厥陰肝木，生於腎水而長於脾土，水土溫和，則肝木發榮，木靜而風恬，水寒土濕，不能生長木氣，則木鬱而風生。</p>
<p>木以發達為性，己土濕陷，抑遏乙木發達之氣，生意不遂，故鬱怒而克脾土，風動而生疏泄。凡腹痛下利，亡汗失血之證，皆風木之疏泄也。肝藏血而華色，主筋而榮爪，風動則血耗而色枯，爪脆而筋急。凡眥黑唇青，爪斷筋縮之證，皆風木之枯燥也。及其傳化乘除，千變不窮，故風木者，五臟之賊，百病之長。凡病之起，無不因於木氣之郁，以肝木主生，而人之生氣不足者，十常八九，木氣抑鬱而不生，是以病也。</p>
<p>木為水火之中氣，病則土木鬱迫，水火不交，外燥而內濕，下寒而上熱。手厥陰，火也，木氣暢遂，則厥陰心主從令而化風，木氣抑鬱，則厥陰心主自現其本氣。是以厥陰之病，下之則寒濕俱盛，上之則風熱兼作，其氣然也。</p>

<h3>少陽相火</h3>
<p>暑者，少陽相火之所化也，在天為暑，在地為火，在人為三焦。手少陽以相火主令，足少陽膽以甲木而化氣於相火，緣火生於木，相火既旺，母氣傳子，而木令已衰也。</p>
<p>三焦之火，隨太陽膀胱之經下行，以溫水藏，出膕中，貫腨腸，而入外踝。君火升於足而降於手，相火升於手而降於足，少陽之火降，水得此火，而後通調，故三焦獨主水道。《素問·靈蘭秘典》：三焦者，決瀆之官，水道出焉。膀胱者，州都之官，津液藏焉，氣化則能出矣。蓋水性閉蟄而火性疏泄，閉蟄則善藏，疏泄則善出。《靈樞·本輸》：三焦者，入絡膀胱，約下焦，實則閉癃，虛則遺溺。相火下蟄，水臟溫暖而水腑清利，則出不至於遺溺，藏不至於閉癃，而水道調矣。水之所以善藏者，三焦之火秘於腎臟也，此火一泄，陷於膀胱，實則下熱而閉癃，虛則下寒而遺溺耳。</p>
<p>手之陽清，足之陽濁，清則升而濁則降。手少陽病則不升，足少陽病則不降，凡上熱之證，皆甲木之不降，於三焦無關也。相火本自下行，其不下行而逆升者，由於戊土之不降。戊土與辛金，同主降斂，土降而金斂之，相火所以下潛也。戊土不降，辛金逆行，收氣失政，故相火上炎。足少陽雖從三焦化火，而原屬甲木，病則兼現其本氣。相火逆行，則克庚金，甲木上侵，則賊戊土。手足陽明，其氣本燥，木火雙刑，則燥熱鬱發，故少陽之病，多傳陽明。然少陽之氣，陰方長而陽方消，其火雖盛，而亦易衰。陰消陽長則壯，陰長陽消則病，病於相火之衰者，十之八九，（內傷驚悸之證，皆相火之衰也。）病於相火之旺者，十之一二而已。（傷寒少陽有之）</p>

<h3>少陰君火</h3>
<p>熱者，少陰君火之所化也，在天為熱，在地為火，在人為心。少陰以君火主令，手少陰心，火也，足少陰腎，水也，水火異氣，而以君火統之，緣火位於上而生於下。坎中之陽，火之根也，坎陽升則上交離位而化火，火升於水，是以癸水化氣於丁火。水化而為火，則寒從熱化，故少陰之氣，水火併統，而獨以君火名也。</p>
<p>君火雖降於手而實升於足，陽盛則手少陰主令於上而癸水亦成溫泉，陰盛則足少陰司氣於下而丁火遂為寒灰。以丁火雖司氣化，而制勝之權，終在癸水，所恃者，生土以鎮之。但土雖剋水，而百病之，作率由土濕，濕則不能剋水而反被水侮。土能剋水者，惟傷寒陽明承氣一證，其餘則寒水侮土者，十九不止。土潰則火敗，故少陰一病，必寒水氾濫而火土俱負，其勢然也。至於上熱者，此相火之逆也。火中有液，癸水之根，相火上逆，災及宮城，心液消亡，是以熱作。凡少陰病熱，乃受累於相火，實非心家之過。而方其上熱，必有下寒，以水火分離而不交也。見心家之熱，當顧及腎家之寒。蓋水火本交，彼此相交，則為一氣，不交則離析分崩，逆為冰炭。究之火不勝水，則上熱不敵下寒之劇，不問可知也。</p>
<p>血根於心而藏於肝，氣根於腎而藏於肺，心火上熱，則清心家之血，腎水下寒，則暖腎家之氣。故補肝之血則宜溫，補心之血則宜清，補肺之氣則宜涼，補腎之氣則宜暖，此定法也。</p>

<h3>太陰濕土</h3>
<p>濕者，太陰土氣之所化也，在天為濕，在地為土，在人為脾。太陰以濕土主令，辛金從土而化濕，陽明以燥金主令，戊土從金而化燥。己土之濕為本氣，戊土之燥為子氣，故胃家之燥，不敵脾家之濕，病則土燥者少而土濕者多也。</p>
<p>太陰主升，己土升則癸水與乙木皆升。土之所以升者，脾陽之發生也，陽虛則土濕而不升，己土不升，則水木陷矣。火金在上，水木在下，火金降於戊土，水木升於己土。戊土不降，則火金上逆，己土不升，則水木下陷，其原總由於濕盛也。</p>
<p>《子華子》：陰陽交，則生濕。濕者，水火之中氣，上濕則化火而為熱，下濕則化水而為寒。然上亦有濕寒，下亦有濕熱。濕旺氣鬱，津液不行，火盛者，熏蒸而生熱痰，火衰者，氾濫而生寒飲，此濕寒之在上者。濕旺水鬱，膀胱不利，火衰者，流溢而為白淫，火盛者，梗澀而為赤濁，此濕熱之在下者。</p>
<p>便黃者，土色之下傳，便赤者，木氣之下陷。緣相火在水，一線陽根，溫升而化乙木。木中溫氣，生火之母，升則上達而化火，陷則下鬱而生熱。木氣不達，侵逼土位，以其鬱熱傳於己土，己土受之，於是浸淫於膀胱。五行之性，病則傳其所勝，其勢然也。</p>
<p>陰易盛而陽易衰，故濕氣恆長而燥氣恆消。陰盛則病，陽絕則死，理之至淺，未嘗難知。後世庸愚，補陰助濕，瀉火伐陽，病家無不夭枉於滋潤，此古今之大禍也。</p>

<h3>陽明燥金</h3>
<p>燥者，陽明金氣之所化也，在天為燥，在地為金，在人為大腸。陽明以燥金主令，胃土從令而化燥，太陰以濕土主令，肺金從令而化濕。胃土之燥，子氣而非本氣，子氣不敵本氣之旺，故陰盛之家，胃土恆濕。肺金之濕，母氣而非本氣，母氣不敵本氣之旺，故陽盛之家，肺金恆燥。</p>
<p>太陰性濕，陽明性燥，燥濕調停，在乎中氣，旺則辛金化氣於濕土而肺不傷燥，戊土化氣於燥金而胃不傷濕。中氣衰則陰陽不交而燥濕偏見，濕勝其燥，則飲少而食減，溺澀而便滑，燥勝其濕，則疾飢而善渴，水利而便堅。</p>
<p>陰易進而陽易退，濕勝者常多，燥勝者常少，辛金化濕者，十之八九，戊土化燥者，百不二三。陽明雖燥，病則太陰每勝而陽明每負，土燥而水虧者，傷寒陽明承氣證外，絕無而僅有，是以仲景垂法，以少陰負趺陽者為順。緣火勝則土燥，水勝則土濕，燥則剋水，濕則反為水侮。水負則生，土負則死，故少陰宜負而趺陽宜勝。以土能勝水，則中氣不敗，未有中氣不敗而人死者。</p>
<p>燥為寒熱之中氣，上燥則化火而為熱，下燥則化水而為寒。反胃噎膈之家，便若羊矢，其胃則濕而腸則燥。</p>
<p>濕為陰邪，陰性親下，故根起於脾土而標見於膝踝，燥為陽邪，陽性親上，故根起於大腸而標見於肘腕。所謂陰邪居下，陽邪居上一定之位也。</p>
<p>然上之燥，亦因於下之濕。中風之家，血枯筋縮，其膝踝是濕，而肘腕未嘗非燥使己土不濕，則木榮血暢，骨弱筋柔，風自何來！醫家識燥濕之消長，則仲景堂奧可階而升矣。</p>

<h3>太陽寒水</h3>
<p>寒者，太陽水氣之所化也，在天為寒，在地為水，在人為膀胱，太陽以寒水主令，足太陽膀胱，水也，手太陽小腸，火也，火水異氣而以寒水統之，緣水位於下而生於上。離中之陰，水之根也，離陰降而下交坎位而化水，水降於火，是以丙火化氣於壬水。火化而為水，則熱從寒化，故太陽之氣，水火併統，而獨以寒水名也。</p>
<p>水性本寒，少陽三焦之火，隨太陽而下行，水得此火，應當不寒。不知水之不寒者，癸水而非壬水也。蓋水以蟄藏為性，火秘於內，水斂於外，是謂平人。木火主裡，曰內而生長之，故里氣常溫，金水主表，自外而收藏之，故表氣常清。血生於木火，故血溫而內發，氣化於金水，故氣清而外斂。人之經脈，厥陰在裡，春氣之內生也，次則少陰，夏氣之內長也，次則陽明，秋氣之外收也，太陽在表，冬氣之外藏也。陽藏則外清而內溫，陽泄則內寒用外熱。外易寒水而為熱火，內易溫泉而為寒冰，外愈熱而內愈寒，生氣絕根，是以死也。</p>
<p>癸水溫而壬水寒則治，癸水寒而壬水熱則病。癸水病則必寒，壬水病則多熱。以丁火化於癸水，故少陰之臟，最易病寒，壬水化於丙火，故太陽之腑，最易病熱。是以病寒者，獨責癸水而不責壬水，病熱者，獨責壬水而不責癸水也。</p>

<h3>六氣治法</h3>
<p>仲景《傷寒》，以六經立法，從六氣也。六氣之性情形狀，明白昭揭，醫必知此，而後知六經之證。</p>
<p>六經之變化雖多，總不外乎六氣，此義魏晉而後，絕無解者。先聖之法，一線莫傳，凌夷至於今日，不堪問矣。</p>

<h4>治厥陰風木法</h4>
<p><u>桂枝苓膠湯</u></p>
<p>甘草　桂枝　白芍　茯苓　當歸　阿膠　生薑　大棗</p>
<p>上熱加黃芩。下寒加乾薑、附子。</p>

<h4>治少陰君火法</h4>
<p><u>黃連丹皮湯</u></p>
<p>黃連　白芍　生地　丹皮</p>
<p>少陰病，水勝火負，最易生寒。若有下寒，當用椒、附。</p>

<h4>治少陽相火法</h4>
<p><u>柴胡芍藥湯</u></p>
<p>柴胡　黃芩　甘草　半夏　人參　生薑　大棗　白芍</p>

<h4>治太陰濕土法</h4>
<p><u>術甘苓澤湯</u></p>
<p>甘草　茯苓　白朮　澤瀉</p>

<h4>治陽明燥金法</h4>
<p><u>百合五味湯</u></p>
<p>百合　石膏　麥冬　五味</p>

<h4>治太陽寒水法</h4>
<p><u>甘姜附湯</u></p>
<p>甘草　茯苓　乾薑　附子</p>
<p>太陽病，最易化生濕熱，以化氣於丙火，而受制於濕土也。若有濕熱，當用梔、膏之類。</p>

<h1>卷三</h1>
<p>六腑化谷，津液布揚，流溢經絡，會於氣口，氣口成寸，以決死生。微妙在脈，不可不察。</p>
<p>醫法無傳，脈理遂湮，金簡長封，玉字永埋。方書累架，七診之義無聞，醫錄連床，九候之法莫著，既迷罔於心中，復綿昧於指下，使踟躕之餘，命飽庸妄之毒手。顧此恨恨，廢卷永懷，作脈法解。</p>

<h2>脈法解</h2>

<h3>寸口脈法</h3>
<p>飲食入胃，腐化消磨，手太陰散其精華，遊溢經絡，以化氣血。氣血周流，現於氣口，以成尺寸。</p>
<p>氣口者，手太陰肺經之動脈也。關前為寸，關後為尺，尺為陰而寸為陽，關者，陰陽之中氣也。寸口在魚際之分，關上在大淵之分，尺中在經渠之分。</p>
<p>心與小腸，候於左寸，肺與大腸，候於右寸，肝膽候於左關，脾胃候於右關，腎與膀胱，候於兩尺，心主三焦，隨水下蟄，亦附此焉。《素問·脈要精微論》：尺內兩傍，則季脅也，尺外以候腎，尺裡以候腹。中附上，左外以候肝，內以候膈，右外以候胃，內以候脾，兩關部也。上附上，右外以候肺，內以候胸中，左外以候心，內以候膻中，兩寸部也。前以候前，後以候後。上竟上者，胸喉中事也。下竟下者，少腹腰股膝脛足中事也。謹調尺寸，而表裡上下，於此得矣。</p>
<p>蓋肺主藏氣，而朝百脈，十二經之氣，皆受之於肺。平旦寅初，肺氣流布，起於寸口，運行十二經中，周而復始。一日一夜，五十度畢，次日平旦寅初，復會於寸口。寸口者，脈之大會，（此曰寸口，乃寸尺三部之總名，非但魚際己也。）故十二經之盛衰，悉見於此。《靈樞·經脈》：經脈者，常不可見也，其虛實也，以氣口知之，此氣口所以獨為五臟主也。（氣口即寸口手之三陽，自手走頭，大小腸腑雖至濁，而經行頭上，則為至清，故與心肺同候於兩寸，越人十難，實為定法。近人乃欲候大小腸於兩尺，乖謬極矣！）</p>

<h3>寸口人迎脈法</h3>
<p>氣口者，手太陰經之動脈，在魚際之下，人迎者，足陽明經之動脈，在結喉之旁。太陰行氣於三陰，故寸口可以候五臟，陽明行氣於三陽，故人迎可以候六腑。以太陰為五臟之首，陽明為六腑之長也。</p>
<p>臟陰盛則人迎小而寸口大，虛則人迎大而寸口小，腑陽衰則寸口大而人迎小，旺則寸口小而人迎大。《靈樞·禁服》：寸口主中，人迎主外，春夏人迎微大，秋冬寸口微大，如是者，命曰平人。人迎大一倍於寸口，病在足少陽，一倍而躁，在手少陽。人迎二倍，病在足太陽，二倍而躁，在手太陽。人迎三倍，病在足陽明，三倍而躁，在手陽明。盛則為熱，虛則為寒，緊則病痹，代則乍甚乍閒。人迎四倍，且大且數，名曰溢陽，溢陽為外格，死不治。寸口大一倍於人迎，病在足厥陰，一倍而躁，在手厥陰。寸口二倍，病在足少陰，二倍而躁，在手少陰。寸口三倍，病在足太陰，三倍而躁，在手太陰。盛則脹滿、寒中、食不化，虛則熱中、出麋、少氣、溺色變，緊則痛痹，代則乍痛乍止。寸口四倍，且大且數，名曰溢陰，溢陰為內關，死不治。《靈樞·經脈》：人迎與脈口（即寸口也。）俱盛四倍以上，命曰關格，關格者，與之短期。《靈樞·五色》：人迎盛堅者，傷於寒，氣口盛堅者，傷於食。以氣口主裡，傷食則陰鬱於內，故氣口盛堅，人迎主表，傷寒則陽鬱於外，故人迎盛堅。此診寸口人迎之法也。（寸口人迎之脈，載在經文，後世乃有左為人迎、右為氣口之說，無稽妄談，不足辨也。）</p>

<h3>三部九候脈法</h3>
<p>十二經皆有動脈，上部之動脈在頭，中部之動脈在手，下部之動脈在足，是為三部。一部三候，是為九候。《素問·三部九候論》：人有三部，部有三候。三候者，有天、有地、有人也。</p>
<p>上部天，兩額之動脈，足少陽之頷厭也，上部地，兩頰之動脈，足陽明之地倉、大迎也，上部人，耳前之動脈，手少陽之和髎也。中部天，手太陰之太淵、經渠也，中部地，手陽明之合谷也，中部人，手少陰之神門也。下部天，足厥陰之五里也，下部地，足少陰之太谿也，下部人，足太陰之箕門也。</p>
<p>下部之天以候肝，地以候腎，人以候脾胃之氣。中部之天以候肺，地以候胸中之氣，人以候心。上部之天以候頭角之氣，地以候口齒之氣，人以候耳目之氣也。下部之天，女子則取太衝。下部之人，胃氣則候於陽明之衝陽，仲景謂之趺陽。此三部九候之法也。（《難經》：三部者，寸關尺也，九候者，浮中沉也，與《素問》不同，此一部中之三部九候也，另是一法。）</p>

<h3>臟腑脈象</h3>
<p>五臟為陰，六腑為陽，陰陽既殊，脈象攸分。肝脈弦，心脈洪，脾脈緩，肺脈澀，腎脈沉。其甚者為臟，其微者為腑。《難經》：心脈急甚者，肝邪干心也，微急者，膽邪干小腸也。心脈大甚者，心邪自干心也，微大者，小腸邪自干小腸也。心脈緩甚者，脾邪干心也，微緩者，胃邪干小腸也。心脈澀甚者，肺邪干心也，微澀者，大腸邪干小腸也。心脈沉甚者，腎邪干心也，微沉者，膀胱邪干小腸也。其他臟腑，依此類推。甚者沉而得之，微者浮而得之。</p>
<p>大抵腑脈浮數，臟脈沉遲，仲景脈法：浮為在表，沉為在裡，數為在腑，遲為在臟是也。蓋陽外陰內，</p>
<p>一定之理。腑氣內交，臟氣外濟，則陰陽平而脈息調。腑病則氣不內交，是以但浮而不沉，臟病則氣不外濟，是以但沉而不浮也。（觀越人十難一脈十變之義，大腸、小腸俱候於心脈，可知欲候大小腸於兩尺之誤！）</p>

<h3>四時脈體</h3>
<p>天地之氣，生長於春夏，收藏於秋冬。人與天地同氣也，陽氣生長，則脈浮升，陰氣收藏，則脈沉降，是以春之脈升，夏之脈浮，秋之脈降，冬之脈沉。</p>
<p>《素問·脈要精微論》：天地之變，陰陽之應，彼春之暖，為夏之暑，彼秋之忿，為冬之怒。四變之動，脈與之上下，以春應中規，夏應中矩，秋應中衡，冬應中權。是故冬至四十五日，陽氣微上，陰氣微下，夏至四十五日，陰氣微上，陽氣微下。陰陽有時，與脈為期，春日浮，如魚之遊在波，夏日在膚，泛泛乎萬物有餘，秋日下膚，蟄蟲將去，冬日在骨，蟄蟲周密，君子居室。升降浮沉，隨時變更，寸脈本浮，而一交秋冬，則見沉意，尺脈本沉，而一交春夏，則見浮機。此氣化一定，毫髮不爽也。</p>
<p>仲景脈法：春弦秋浮，冬沉夏洪。弦者，浮升之象。洪者，浮之極也。浮者，金氣方收，微有降意，而未能遽沉。大約春脈沉而微浮，夏則全浮，秋脈浮而微沉，冬則全沉。仲景脈法，原與經義相同耳。</p>

<h3>真臟脈義</h3>
<p>土者，四維之中氣也。脾以陰土而含陽氣，故脾陽左升則化肝木，胃以陽土而胎陰氣，故胃陰右降則化肺金。金降於北，涼氣化寒，是謂腎水，木升於南，溫氣化熱，是謂心火。肺、肝、心、腎，四象攸分，實則脾胃之左右升降而變化者也。</p>
<p>脾胃者，四臟之母，母氣虧敗，四子夫養，脈見真臟，則人死焉，故四臟之脈，必以胃氣為本。肝脈弦，心脈鉤，肺脈毛，腎脈石，脾胃脈緩。其弦鉤毛石而緩者，是四臟之有胃氣也。其弦鉤毛石而不緩者，是謂真臟脈。真臟脈見，胃氣敗竭，必死不救也。玉機真臟論：脾脈者，土也，孤臟以灌四旁者也。平人氣象論：平人之常氣稟於胃，胃者，平人之常氣也，人無胃氣曰逆，逆者死。人以水穀為本，故人絕水穀則死，脈無胃氣亦死。所謂無胃氣者，但得真臟脈，不得胃氣也。</p>
<p>所謂真臟脈者，真肝脈至，中外急，如循刀刃責責然，如按琴瑟弦，色青白不澤，毛折，乃死。真心脈至，堅而搏，如循薏苡子累累然，色赤黑不澤，毛折，乃死。真脾脈至，弱而乍數乍疏，色黃青不澤，毛折，乃死。真肺脈至，大而虛，如以毛羽中人膚，色白赤不澤，毛折，乃死。真腎脈至，搏而絕，如指彈石辟辟然，色黑黃不澤，毛折，乃死。諸真臟脈見者，皆死不治也。</p>
<p>五臟者，皆稟氣於胃，胃者，五臟之本也。臟氣者，不能自致於手太陰，必因於胃氣，乃至於手太陰也，故五臟各以其時，自胃而至於手太陰。邪氣勝者，精氣衰也，病甚者，胃氣不能與之俱至於手太陰，故真臟之氣獨見。獨見者，病勝臟也，故曰死。</p>
<p>蓋土位乎中，一身之元氣也。土生於火而死於水，故仲景垂訓，以少陰負趺陽為順。少陰水勝，則火滅而土敗也。自醫法失傳，後世庸愚，乃滋陰瀉陽，補水滅火，以敗胃氣。以此毒天下，而民從之，良可哀也！</p>

<h3>浮沉大小</h3>
<p>五臟之脈，心肺俱浮，腎肝俱沉，脾胃居沉浮之間。陽浮而陰沉，其性然也。</p>
<p>然陽主降而陰主升，陽體雖浮而內含降意，則浮中帶沉，陰體雖沉而內含升意，則沉中帶浮。沉而微浮，則陰不下走，浮而微沉，則陽不上飛。若使寸脈但浮而不沉，則陽氣上逆而不交於陰，尺脈但沉而不浮，則陰氣下陷而不交於陽，水火分離，下寒上熱，諸病生矣。</p>
<p>升降陰陽之權，全在乎中。中者，土也，己土升則乙木上達而化清陽，戊土降則辛金下行而化濁陰。陰陽交濟，是以寸不但浮而尺不但沉。</p>
<p>土之所以升降失職者，木刑之也。木生於水而長於土，土氣衝和，則肝隨脾升，膽隨胃降，木榮而不郁。土弱而不能達木，則木氣鬱塞，肝病下陷而膽病上逆。木邪橫侵，土被其賊，脾不能升而胃不能降，於是兩關之脈大。左關之大者，肝脾之鬱而不升也，右關之大者，膽胃之鬱而不降也。膽木化氣於相火，膽木右降，則相火下蟄而不上炎，膽木逆升，相火上炎而刑金，肺金被克，清氣鬱蒸，而生上熱，於是右寸之脈亦大。肝木主升，肝木不升，生意抑遏而生下熱，於是左尺之脈亦大。右寸之大者，肺金之上逆也。左尺之大者，肝木之下陷也。</p>
<p>胃主降濁，胃逆則濁氣上填，倉廩不納，噁心嘔吐之病生焉。脾主升清，脾陷則清氣下瘀，水穀不消，脹滿泄利之病生焉。肺藏氣而性降，肝藏血而性升，金逆則氣不清降而上郁，木陷則血不溫升而下脫。肺主收斂，肝主疏泄，血升而不至於流溢者，賴肺氣之收斂也，氣降而不至於固結者，賴肝血之疏泄也。木陷則血脫於下，而肺金失斂，則血上溢，金逆則氣鬱於上，而肝木不升，則氣下結。推之，凡驚悸、吐衄、盜汗、遺精之病，皆金氣不能降斂，淋癃、泄痢、噯腐、吞酸之病，皆木氣不能生髮。</p>
<p>金逆而莫收斂，則君火失根而左寸亦大，木陷而行疏泄，則相火下拔而右尺亦大。</p>
<p>大者、有餘之象也，於其有餘之中，得其不足之意，則脈之妙解而醫之至數也。經所謂大則病進者，別有玄機，非後世醫書陽盛陰虛之說也。</p>

<h3>二十四脈</h3>

<h4>浮沉</h4>
<p>浮沉者，陰陽之性也。《難經》：呼出心與肺，吸入腎與肝，呼吸之間，脾受穀味也，其脈在中。陽性浮而陰性沉，呼出為陽，心肺之氣也，吸入為陰，腎肝之氣也。</p>
<p>心肺之脈俱浮，浮而大散者，心也，浮而短澀者，肺也。腎肝之脈俱沉，沉而濡實者，腎也，沉而牢長者，肝也。脾居陰陽之中，其氣在呼吸之交，其脈在浮沉之半，其位曰關。關者，陰陽之關門，陰自此升而為寸，陽自此降而為尺，闔闢之權，於是在焉，故曰關也。</p>
<p>陽盛則寸浮，陰盛則尺沉，陰盛於裡，陽盛於表。仲景脈法：浮為在表，沉為在裡，一定之法也。然浮沉可以觀表裡，不可以定陰陽。三難：關以前者，陽之動也，脈當見九分而浮，過者法曰太過，減者法曰不及。遂上魚為溢此陰乘之脈也。關以後者，陰之動也，脈當見一寸而沉，過者法曰太過，減者法曰不及。遂入尺為覆，此陽乘之脈也。陽乘陰位，則清氣不升，故下覆於尺，陰乘陽位，則濁氣不降，故上溢於魚。溢者，浮之太過而曰陰乘，覆者，沉之太過而曰陽乘，是則浮不可以為陽而沉不可以為陰，浮沉之中，有虛實焉。浮之損小，沉之實大，是陽虛於表而實於裡也，沉之損小，浮之實大，是陽虛於裡而實於表也。浮大晝加，沉細夜加，浮大晝死，沉細夜死。診者當於浮沉之中，參以虛實也。</p>

<h4>遲數</h4>
<p>遲數者，陰陽之氣也。九難：數者，腑也，遲者，臟也，數則為熱，遲則為寒。經脈之動，應乎漏刻，一呼再動，一吸再動，呼吸定息而脈五動，氣之常也。過則為數，減則為遲。臟陰而腑陽，數則陽盛而為腑，遲而陰盛而為臟，陽盛則熱，陰盛則寒。數之極，則為至，遲之極，則為損。一定之法也。</p>
<p>然遲不盡寒，而數不盡熱。脈法：趺陽脈遲而緩，胃氣如經也。寸口脈緩而遲，緩則陽氣長，遲則陰氣盛，陰陽相抱，營衛俱行，剛柔相得，名曰強也。是遲緩者，趺陽寸口之常脈，未可以為寒也。曰：病人脈數，數為熱，當消穀引食，而反吐者，以發其汗，令陽氣微，膈氣虛，脈乃數也。數為客熱，不能消穀，胃中虛冷故也。是數者，陽明之陽虛，未可以為熱也。</p>
<p>凡脈或遲或數，乖戾失度，則死。十四難：一呼再至曰平，三至曰離經，四至曰奪精，五至曰死，六至曰命絕，此至之脈也。一呼一至曰離經，二呼一至曰奪精，三呼一至曰死，四呼一至曰命絕，此損之脈也。人之將死，脈遲者少，脈數者多。陽氣絕根，浮空欲脫，故脈見疾數。大概一息七八至以上，便不可救。虛勞之家，最忌此脈。若數加常人一倍，一息十至以上，則死期迫矣。</p>

<h4>滑澀</h4>
<p>滑澀者，陰陽之體也。滑則血盛而氣虛，澀則血虛而氣盛。肝藏血而肺藏氣，故肝脈滑而肺脈澀。肺性收斂，肝性生髮，收斂則澀，生髮則滑。金自上斂，木自下發，是以肺脈浮澀而肝脈沉滑。斂則氣聚，發則氣散，是以肺脈澀短而肝脈滑長。氣，陽也，而含陰，血，陰也，而抱陽，故滑為陽而澀為陰。脈法：大、浮、數、動、滑，此名陽也，沉、澀、弱、弦、微，此名陰也。以金水之性收藏，木火之性生長，收則浮澀而生則沉滑，長則浮滑而藏則沉澀。</p>
<p>滑者，生長之意，澀者，收藏之象，而俱非平氣。脈法：脈有弦、緊、浮、滑、沉、澀，名曰殘賊。以其氣血之偏，澀則氣盛而血病，滑則血盛而氣傷也。寸應滑而尺應澀，肺脈之澀者，尺之始基，肝脈之滑者，寸之初氣。尺應澀而變滑，則精遺而不藏，寸應滑而變澀，則氣痞而不通。寸過於滑，則肺金不斂而痰嗽生，尺過於澀，則肝木不升而淋痢作，是以滑澀之脈，均為病氣也。</p>

<h4>大小</h4>
<p>大小者，陰陽之象也。陽盛則脈大，陰盛則脈小，大為陽而小為陰。寸大而尺小者，氣之常也，寸過於大則上熱，尺過於小則下寒。</p>
<p>然有大不可以為陽盛，而小不可以為陰盛者。脈法：脈弦而大，弦則為減，大則為芤，減則為寒，芤則為虛。寒虛相搏，此名為革，婦人則半產漏下，男子則亡血失精。蓋陽衰土濕，水火不交，火炎而金爍，則關寸浮大，水寒而木鬱，則關尺浮大。肺金失其收斂，肝木行其疏泄，此亡血失精，半產漏下之原。庸工以為陰虛，投以滋潤，土敗則命殞，是大不可以為陽盛也。傷寒三日，脈浮數而微，病人身涼和者，此為欲解也。蓋邪退而正復則脈微，是小不可以為陰盛也。</p>
<p>凡木火泄露則脈大，金水斂藏則脈小，陽泄則上熱而下寒，陽藏則上清而下溫。勞傷虛損之脈，最忌浮大。陽根下斷，浮大無歸，則人死矣。故大則病進，小則病退。小脈未可以扶陽，大脈未可以助陰，當因委而見源，窮其大小所由來也。</p>

<h4>長短</h4>
<p>長短者，陰陽之形也。長為陽而短為陰，陽升於木火，故肝脈沉滑而長，心脈浮滑而長，陰降於金水，故肺脈浮澀而短，腎脈沉澀而短也。人莫不病發於陰進而病愈於陽長，陰進則脈短，陽長則脈長，故長則氣治而短則氣病。</p>
<p>然不宜過長，過長則木旺而金衰矣。木者，中氣之賊，百病之長。以木性發達，而百病之起，多因於木氣之不達，生意盤郁，而克脾胃，是以氣愈鬱而脈愈長。木鬱則協水以賊土，合火而刑金，故但顯肝脈之長而不形肺脈之短。金雖剋木，而凡人之病，則金能剋木者少而木能侮金者多也。蓋木氣之所以能達者，水土溫而根本暖也，水寒土濕，生意不遂，則木愈鬱而氣愈盛，所以肝病則脈長也。</p>

<h4>緩緊</h4>
<p>緩緊者，陰陽之情也。緩為陽而緊為陰。</p>
<p>緩者，戊土之氣也。脈法：趺陽脈遲而緩，胃氣如經也。曰：沖氣和，名曰緩，營氣和，名曰遲。曰：寸口脈緩而遲，緩則陽氣長，遲則陰氣盛。以土居四象之中，具木火之氣，而不至於溫熱，含金水之體，而不至於寒涼，雍容和暢，是以緩也。緩則熱生，脈法：緩則胃氣實，實則谷消而水化也，《靈樞·五癃津液》：中熱則胃中消穀，腸胃充廓，故胃緩也。然則傷寒陽明之脈，必實大而兼緩也。</p>
<p>緊者，寒水之氣也。脈法：假令亡汗若吐，以肺裡寒，故令脈緊也。假令咳者，坐飲冷水，故令脈緊也。假令下利，以胃中虛冷，故令脈腎也。此內寒之緊也。曰：寸口脈浮而緊，浮則為風，緊則為寒，風則傷衛，寒則傷營。此外寒之緊也。以水為冬氣，冬時寒盛，冰堅地坼，是以緊也。緊則痛生。曰：營衛俱病，骨節煩痛，當發其汗。是外寒之痛也。曰：趺陽脈緊而浮，浮為風，緊為寒，浮為腸滿，緊為腹痛。浮緊相搏，腹鳴而轉，轉即氣動，膈氣乃下。是內寒之痛也。</p>
<p>然則傷寒少陰之脈，必微細而兼緊也。蓋陽盛則緩，陰盛則緊，緩則生熱，緊則生寒。寒愈盛，則愈緊，熱愈盛，則愈緩。以陽性發泄而陰性閉藏，發而不藏，所以緩也，藏而不發，所以緊也。</p>

<h4>石芤</h4>
<p>石芤者，陰陽之虛也。陽氣不降，則腎脈石，陰氣不升，則心脈芤。石則外虛而內實，芤則外實而內虛。</p>
<p>石者，氣虛而不蟄也。陽體虛而陰體實，水中無氣，凝冱而沉結，所以石也。平人氣象論：平人之常氣稟於胃，胃者，平人之常氣也，人無胃氣曰逆，逆者死。冬胃微石曰平，石多胃少曰腎病，但石無胃曰死。平腎脈來，喘喘累累如鉤，按之而堅，曰腎平，冬以胃氣為本。病腎脈來，如引葛，按之益堅，曰腎病。死腎脈來，發如奪索，辟辟如彈石，曰腎死。蓋坎中之陽，生氣之原也，陽根下斷，陰魄徒存，堅實結硬，生氣全無，是以死也。《老子》：柔弱者，生之徒，堅強者，死之徒，此之謂也。</p>
<p>芤者，血虛而不守也。陰體實而陽體虛，火中無血，消減而浮空，所以芤也。脈法：趺陽脈浮而芤，浮者衛氣虛，芤者營氣傷。曰：脈弦而大，弦則為減，大則為芤，減則為寒，芤則為虛，虛寒相搏，此名曰革，（芤減相合，則名曰革，後世芤外又有革脈，非是。）婦人則半產漏下，男子則亡血失精。曰：脈浮而緊，按之反芤，此為本虛，故當戰而汗出也。蓋離中之陰，收氣之原也，陰根上斷，陽魂徒存，虛飄空洞，收氣全無，是以病也。</p>
<p>血，陰也，而生於陽，陽升則化火，故溫暖和暢而吐陽魂。陽虛血寒，則凝瘀而亡脫，血脫則火泄而寒增，是以失精亡血而脈芤者，不可助陰而泄陽。蓋芤則營陰外脫，而血中之溫氣亦亡也。</p>

<h4>促結</h4>
<p>促結者，陰陽之盛也。脈法：脈來緩，時一止復來者，名曰結，脈來數，時一止復來者，名曰促。陽盛則促，陰盛則結，此皆病脈。</p>
<p>曰：脈藹藹如車蓋者，名曰陽結也，脈累累如循長竿者，名曰陰結也。陰陽之性，實則虛而虛則實，實而虛者，清空而無障礙，所以不結，虛而實者，壅滿而生阻隔，所以脈結。陽結則藹藹郁動，如車蓋之升沉，陰結則累累不平，如長竿之勁節。以陽性輕清而陰性重濁，故促結之象異焉。</p>
<p>驚悸之家，脈多促結，以其陰陽之不濟也。陽旺於木火，陰盛於金水，陽虛而生驚者，木火下虛，陰氣凝澀而不化，是以結也，陰虛而生悸者，金水上虛，陽氣鬱迫而不通，是以促也。</p>
<p>脈法：其脈浮而數，不能食，身體重，大便反硬，名曰陰結，此臟腑之結也。蓋孤陽獨陰，燥濕偏盛，寒熱不調，其氣必結。臟腑經絡，本為一氣，臟氣結則脈氣必結，脈氣結則臟氣必結。</p>
<p>若夫代止之脈，並無郁阻而中斷，是營衛之敗竭，非促結之謂也。</p>

<h4>弦牢</h4>
<p>（弦者，如弦之直，弦而有力曰牢。）</p>
<p>弦牢者，陰陽之旺也。《素問·玉機真藏論》：春脈如弦。四難：牢而長者，肝也。弦牢者，肝家之脈，非病也。</p>
<p>然弦牢之中，而有濡弱之象，則肝平，但有弦牢，而無濡弱，則肝病矣。平人氣象論：平肝脈來，軟弱招招，如揭長竿末梢，曰肝平。長竿末梢者，軟弱之義也。蓋木生於水而長於土，水土溫和，則木氣發達而榮暢，水土寒濕，則木氣枯槁而弦牢。</p>
<p>木之為義，愈鬱則愈盛，弦牢者，木盛而土虛也。弦為里濕，支飲之阻衛陽，則木氣抑遏而為弦，脈法：支飲急弦是也。牢為外寒，寒邪之束營陰，則木氣鬱迫而為牢，脈法：寒則牢堅是也。</p>
<p>弦亦為寒。脈法：脈弦而大，弦則為減，大則為芤，減則為寒，芤則為虛。《金匱》：脈雙弦者，寒也，偏弦者，飲也。以寒水不生木，是以寒也。弦亦為痛。《傷寒》：陽脈澀，陰脈弦，法當腹中急痛者，先用小建中湯。以風木而賊土，是以痛也。</p>
<p>脈以胃氣為本，木得胃氣則和緩，不得胃氣則弦牢。平人氣象論：平人之常氣稟於胃，人無胃氣曰逆，逆者死。春胃微弦曰平，弦多胃少曰肝病，但弦無胃曰死。所謂無胃氣者，但得真藏脈，不得胃氣也。病肝脈來，如循長竿，曰肝病。死肝脈來，急益勁，如新張弓弦，曰肝死。新張弓弦者，弦牢之象，肝家之真藏脈也。</p>

<h4>濡弱</h4>
<p>（濡者，如綿之軟，軟而無力曰弱）</p>
<p>濡弱者，陽氣之衰也。平人氣象論：平肝脈來，濡弱招招，如揭長竿末梢，曰肝平。脈法：肝者，木也，其脈微弦，濡弱而長。肝病自得濡弱者愈。濡弱者，肝家之脈，非病也。</p>
<p>然軟弱之中而有弱牢之意，則肝平，但有濡弱而無弦牢，則肝病矣。玉機真藏論：春脈如弦，其氣軟弱輕虛而滑，端直以長，故曰弦。端直以長者，弦牢之意也。蓋木生於水而長於土，木氣不達，固賴土氣達之，土氣不升，亦賴木氣升之。冬令蟄藏，水冰地坼，一得春氣鼓盪，則閉蟄起而百物生，是木能剋土而亦能扶土。以乙木之生意，即己土之陽左旋而上發者也，生意濡弱，則土木之氣不能上達，而肝脾俱病。</p>
<p>氣化於戊土而藏於肺，血化於己土而藏於肝。《靈樞·決氣》：脾藏營，肝藏血，肝脾者，營血之原也。濡弱則營血虛衰，脈法：諸濡亡血，諸弱發熱，血亡則熱發也。傷寒脈濡而弱，不可汗下，以其血虛而陽敗也。</p>
<p>弦牢者，木氣之太過，濡弱者，木氣之不及。太過則侮人，不及則人侮，均能為病也。</p>

<h4>散伏</h4>
<p>散伏者，陰陽之闔闢也。氣闢而不闔，則脈散，氣闔而不闢，則脈伏。</p>
<p>散者，氣泄而不藏也。陰性聚而陽性散，陽降於尺而化濁陰，則脈沉聚，陰升於寸而化清陽，則脈浮散，而聚散之權，則在於關。關者，陰陽之關鎖，其散而不至於飛揚者，有關以闔之，故散而能聚。散而不聚，則心病矣。脈法：傷寒咳逆上氣，其脈散者死，謂其形損故也。脈散者，病家之大忌，散脈一形，則氣血之亡脫在近，精神之飛走不遠。散見於寸，猶可挽也，散見於尺，無可醫矣。</p>
<p>伏者，氣鬱而不發也。陽性起而陰性伏，陰升於寸而化清陽，則脈浮起，陽降於尺而化濁陰，則脈沉伏。而起伏之權，則在於關。關者，陰陽之關鎖，其伏而不至於閉結者，有關以闢之，故伏而能起，伏而不起，則腎病矣。凡積聚癥瘕，停痰宿水之疾，脈必伏結。十八難：伏者，脈行筋下也，浮者，脈在肉上行也，故脈浮結者，外有痼疾，脈伏結者，內有積聚。《金匱》：脈來細而附骨者，乃積也。寸口，積在胸中。微出寸口，積在喉中，關上，積在臍旁。上關上，積在心下。微下關，積在少腹。尺中，積在氣衝。脈出左，積在左。脈出右，積在右。脈兩出，積在中央。非但積取如是，凡一經將病，則一氣先伏。肝病者木鬱，心病者火鬱，腎病者水鬱，肺病者金鬱，脾病者土鬱，鬱則脈伏。庚桑子：人鬱則為病。至理妙言！診一氣之欲伏，則知一時之將病，脈法：伏氣之病，以意候之，此之謂也。</p>

<h4>動代</h4>
<p>動代者，陰陽之起止也。氣欲發而不能，則為動，氣中歇而不屬，則為代。</p>
<p>動者，鬱勃而不息也。脈法：陰陽相搏，名曰動。陽動則汗出，陰動則發熱。若數脈見於關上，上下無頭尾，如豆大，厥厥動搖者，名曰動也。關者，中氣之變現，陰陽之樞機，陽自此降而為陰，降自此升而為陽。陰升於寸，則遂其上浮之性，不至為動，陽降於尺，則遂其下沉之性，不至為動。惟陰欲升，脾土虛而不能升，陽欲降，胃土弱而不能降，則二氣鬱於關上，而見動形。陰陽鬱勃，不能升降，是以動而不止也。鬱勃之久，不無勝負，陽盛而動於關上，則內泄營陰而汗出，陰盛而動於關下，則外閉衛陽而發熱。熱發則汗不出，汗出則熱不發，汗出而熱發，陰陽之勝負乃分。方其動時，陰陽郁蕩，未知將來之孰勝而孰負也。動見於土位，木氣盤塞而莫達，甲木不降，乃懸虛而為驚，乙木不升，乃衝擊而為痛。甲乙橫逆，而賊戊己，則土氣敗矣。</p>
<p>代者，斷續而不聯也。《靈樞·根結》：一日一夜五十營，以營五臟之精，不應數者，名曰狂生。五十動而不一代者，五臟皆受氣。四十動一代者，一臟無氣。三十動一代者，二臟無氣。二十動一代者，三臟無氣。十動一代者，四臟無氣。不滿十動一代者，五臟無氣，與之短期。與之短期者，乍疏乍數也，乍疏乍數者，斷續之象也。蓋呼吸者，氣之所以升降也。心肺主呼，腎肝主吸，脾居呼吸之間，呼則氣升於心肺，吸則氣降於腎肝。呼吸定息，經脈五動，故十息之間，五十動內，即可以候五臟之氣。一臟無氣，則脈必代矣。十一難：脈不滿五十動而一止，一臟無氣者，何藏也?吸者隨陰入，呼者因陽出，今吸不能至腎，至肝而還，故知一臟無氣者，腎氣先盡也。由腎而肝，由肝而脾，由脾而心，由心而肺，可類推矣。代脈一見，死期在近，不可治也。（代為死脈，與脾脈代之代不同。脾脈代者，脾不主時，隨四時而更代也，此為病脈。）</p>

<h1>卷四</h1>
<p>人不能有生而無死，而死多不盡其年。外有伐性之斧，內有腐腸之藥，重以萬念紛馳，百感憂勞，往往未壯而衰，未老而病。顧保煉不謹，既失之東隅，而醫藥無瘥，冀挽之桑榆。古聖不作，醫法中乖，貴陰賤陽，反經背道，輕則飲藥而病加，重乃逢醫而人廢。金將軍且將玉碎，石學士未必瓦全，嘆豎子之侵陵，痛鬼伯之催促，書窮燭滅，百慨俱集，作勞傷解。</p>

<h2>勞傷解</h2>

<h3>中氣</h3>
<p>脾為己土，以太陰而主升，胃為戊土，以陽明而主降，升降之權，則在陰陽之交，是謂中氣。胃主受盛，脾主消化，中氣旺則胃降而善納，脾升而善磨，水穀腐熟，精氣滋生，所以無病。脾升則腎肝亦升，故水木不郁，胃降則心肺亦降，金火不滯。火降則水不下寒，水升則火不上熱。平人下溫而上清者，以中氣之善運也。</p>
<p>中氣衰則升降窒，腎水下寒而精病，心火上炎而神病，肝木左鬱而血病，肺金右滯而氣病。神病則驚怯而不寧，精病則遺泄而不秘，血病則凝瘀而不流，氣病則痞塞而不宣。四維之病，悉因於中氣。中氣者，和濟水火之機，升降金木之軸，道家謂之黃婆。嬰兒奼女之交，非媒不得，其義精矣。醫書不解，滋陰瀉火，伐削中氣，故病不皆死，而藥不一生。蓋足太陰脾以濕土主令，足陽明胃從燥金化氣，是以陽明之燥，不敵太陰之濕。及其病也，胃陽衰而脾陰旺，十人之中，濕居八九而不止也。</p>
<p>胃主降濁，脾主升清，濕則中氣不運，升降反作，清陽下陷，濁陰上逆，人之衰老病死，莫不由此。以故醫家之藥，首在中氣。中氣在二土之交，土生於火而火死於水，火盛則土燥，水盛則土濕。瀉水補火，扶陽抑陰，使中氣輪轉，清濁復位，卻病延年之法，莫妙於此矣。</p>
<p><u>黃芽湯</u></p>
<p>人參（三錢）　甘草（二錢，炙）　茯苓（二錢）　乾薑（二錢）</p>
<p>煎大半杯，溫服。</p>
<p>中氣之治，崇陽補火，則宜參、姜，培土瀉水，則宜甘、苓。</p>
<p>其有心火上炎，荒悸煩亂，則加黃連、白芍以清心。腎水下寒，遺泄滑溏，則加附子、川椒以溫腎。肝血左郁，凝澀不行，則加桂枝、丹皮以舒肝。肺氣右滯，痞悶不通，則加陳皮，杏仁以理肺。</p>
<p>四維之病，另有專方，此四維之根本也。</p>

<h3>陰陽</h3>
<p>中氣升降，是生陰陽，陰陽二氣，上下回周。陰位於下，而下自左升，則為清陽，陽位於上，而上自右降，則為濁陰。清陽生髮於木火，則不至於下陷，濁陰收藏於金水，則不至於上逆。清氣之下陷者，陽噓於上也，濁氣之不逆者，陰吸於下也。濁氣不逆，則陽降而化陰，陽根下潛而不上飛，清氣不陷，則陰升而化陽，陰根上秘而不下走。彼此互根，上下環抱，是曰平人。而清氣之左升，賴乎陰中之陽生，陽生則浮動而親上，權在己土，濁陰之右降，賴乎陽中之陰生，陰生則沉靜而親下者，性也，是以金收而水藏。而金水之收藏，全賴胃土之降，胃土右降，金收於西而水藏於北，陽氣蟄封，此木火生長之根本也。</p>
<p>胃土不降，金水失收藏之政，君相二火泄露而升炎，心液消耗，則上熱而病陰虛。</p>
<p>人知其金水之虧，而不知其胃土之弱。胃以陽體而含陰魄，旺則氣化而陰生。以氣統於肺而實化於胃，肺氣清降而產陰精，即胃土之右轉而變化者也。是宜降肺胃以助收藏，未可徒滋心液也。</p>
<p><u>地魄湯</u></p>
<p>甘草（二錢，炙）　半夏（三錢，制）　麥冬（三錢，去心）　芍藥（三錢）　五味子（一錢，研）　元參（三錢）　牡蠣（三錢，煆，研）</p>
<p>煎大半杯，溫服。</p>
<p>水為陰，而陰生於肺胃，胃逆而肺金不斂，君相升泄，則心液消亡，而陰無生化之原。麥冬、芍藥，雙清君相之火，半夏、五味，降攝肺胃之逆，元參清金而益水，牡蠣斂神而藏精。</p>
<p>若熱傷肺氣，不能化水，則用人參、黃耆，益氣生水，以培陰精之原。此補陰之法也。</p>

<h3>陰虛</h3>
<p>陽盛於上而生於下，水中之氣，是曰陽根。陽氣長養，爰生木火。陽性浮動，其根一生，則浮動而親上者，性也，是以木生而火長。而木火之生長，全賴脾土之升，脾土左升，木生於東而火長於南，純陽之位，陰氣萌滋，此金水收藏之根本也。</p>
<p>脾土不升，木火失生長之政，一陽淪陷，腎氣澌亡，則下寒而病陽虛。</p>
<p>人知其木火之衰，而不知其脾土之弱。脾以陰體而抱陰魂，旺則血生而神化。以血藏於肝而實生於脾，肝血溫升，而化陽神，即脾土之左旋而變化者也。是宜升肝脾以助生長，不止徒溫腎氣也。</p>
<p><u>天魂湯</u></p>
<p>甘草（二錢）　桂枝（三錢）　茯苓（三錢）　乾薑（三錢）　人參（三錢）　附子（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>火為陽而陽升於肝脾，脾陷而肝木不生，溫氣頹敗，則陽無生化之源。脾陷之根，因於土濕，土濕之由原於水寒。甘草、茯苓，培土而瀉濕，乾薑、附子，暖脾而溫腎，人參、桂枝，達木而扶陽。</p>
<p>若肝血虛弱，不能生火，則用歸、地、首烏，以培陽神之原。以火清則神發，血者，神魂之母也。</p>
<p>夫純陽則仙，純陰則鬼。陽盛則壯，陰盛則病。病於陰虛者，千百之一，病於陽虛者，盡人皆是也。後世醫術乖訛，乃開滋陰之門，率以陽虛之人而投補陰之藥，禍流今古，甚可恨也。</p>

<h3>陰脫</h3>
<p>陽自右降，降於坎府，而化濁陰，則又含陽氣，是謂陽根。陽性溫和而升散，陰氣左升而不陷者，有此坎陽以闢之也。其升散之權，全在於脾，脾氣不升，則精血馳走而陰脫。</p>
<p>二十難曰：脫陰者，目盲。目者，陽明所發，陽根於坎。坎水，陰也，而中抱陽氣，坎陽溫升，而生肝木。肝藏血而含魂，魂即血中溫氣之漸靈者。溫化而為熱，則魂化而為神。陽神發露，上開雙竅，而為兩目，目乃陽神之所出入而遊行也。陰脫者，陽根澌敗，精血失藏，魂神不能發露，是以目盲。</p>
<p>凡人之清旦目盲者，是其陰氣亡脫，定主死期不遠。名為脫陰，而實以陽根之敗，《素問》所謂目受血而能視者，亦是此理。後人不解經義，眼科書數千百部，悉以滋陰涼血，瀉火伐陽，敗其神明，以致眼病之家，逢醫則盲。醫理玄奧，非上智不解，乃以俗腐庸妄之徒，無知造孽，以禍生靈，可恨極矣！</p>
<p><u>烏肝湯</u></p>
<p>甘草（二錢）　人參（三錢）　茯苓（三錢）　乾薑（三錢）　附子（三錢，炮）　首烏（三錢，蒸）　芍藥（三錢）　桂枝（三錢）</p>
<p>煎大杯，溫服。</p>

<h3>陽脫</h3>
<p>陰自左升，升於離位而化清陽，則又含陰精，是謂陰根。陰性清肅而降斂，陽氣右降而不逆者，有此離陰以翕之也。其降斂之機，全在於胃，胃氣不降，則神氣飛騰而陽脫。</p>
<p>二十難曰：脫陽者，見鬼。仙為純陽，鬼為純陰，人居陰陽之半，仙鬼之交。陽脫則人將為鬼，同氣相感，是以見之。凡人之白晝見鬼者，是其陽氣亡脫，亦將續登鬼錄矣。</p>
<p><u>兔髓湯</u></p>
<p>甘草（二錢）　人參（三錢）　五味（一錢）　半夏（三錢）　龍骨（二錢，煅，研）　元參（三錢）　附子（三錢）　牡蠣（三錢，煅，研）</p>
<p>煎大半杯，溫服。</p>
<p>陽脫則白日見鬼，陰脫則清旦目盲。陰陽既脫，無方可醫，於其將脫之前，當見機而預防也。</p>

<h3>精神</h3>
<p>神胎於魂而發於心，而實根於坎陽，精孕於魄而藏於腎，而實根於離陰。陰根上抱，是以神發而不飛揚，陽根下蟄，是以精藏而不馳走。陽神發達，恃木火之生長而究賴太陰之升，陰精閉蟄，資金水之收藏而終籍陽明之降，太陰陽明，所以降金水以吸陽神，升木火以噓陰精者也。</p>
<p>陽明不降，則火金浮升而神飄於上，太陰不升，則水木沉陷而精遺於下。蓋陽中有陰，則神清而善發，陰中有陽，則精溫而能藏。脾陷則精不交神，胃逆則神不交精。陽神飛蕩，故生驚悸，陰精馳走，故病遺泄。</p>
<p>陰升陽降，權在中氣，中氣衰敗，升降失職，金水廢其收藏，木火鬱其生長，此精神所以分離而病作也。培養中氣，降肺胃以助金水之收藏，升肝脾以益木火之生長，則精秘而神安矣。</p>

<h3>神驚</h3>
<p>神發於心而交於腎，則神清而不搖。神不交精，是生驚悸，其原由於膽胃之不降。</p>
<p>乙木上行，而生君火，甲木下行，而化相火，升則為君而降則為相，雖異體而殊名，實一本而同原也。相火之降，賴乎胃土，胃氣右轉，陽隨土蟄，相火下根，是以膽壯而神謐。相火即君火之佐，相火下秘。則君火根深而不飛動，是以心定而神安。</p>
<p>胃土不降，相火失根，虛浮驚怯，神宇不寧。緣君相同氣，臣敗而君危，故魂搖而神蕩也。陽神秘藏，則甘寢而善記，陽泄而不藏，故善忘而不寐也。</p>
<p>胃土之不降，由於脾土之濕。足陽明化氣於燥金，性清降而收斂，金收而水藏之，故陽蟄於坎府。濕則胃土上郁，收令不行，故火泄而陽飛也。</p>
<p>火炎於上，腎水沉寒，陰凝氣結，久而彌堅，歷年增長，狀如懷子，是謂奔豚。奔豚者，腎肝之陰氣聚而不散者也。水寒木枯，鬱而生風，搖撼不已，則心下悸動。悸見臍下，則根本振搖，奔豚發矣。奔豚上騰，侮土陵心，發作欲死，最為劇證。數年之後，漸而火敗土崩，則人死矣。</p>
<p>大凡脾腎寒濕，無不有驚悸之證，驚悸不愈，必生奔豚積塊。此皆中氣虧損，陰盛陽虛之病也。庸工不解，以為心血不足，乃以歸脾、補心之方，清涼滋潤，助陰伐陽，百不一生，最可傷也。</p>
<p>少陽相火，其性甚烈，而驚悸之家，則陽敗而火熄，非少陽之旺也。其相火極旺，如小建中、炙甘草兩證。</p>
<p>乃少陽傷寒將傳陽明，故以芍藥、生地，瀉膽胃之燥熱。內傷中此證頗少也。</p>
<p><u>金鼎湯</u></p>
<p>甘草（二錢）　茯苓（三錢）　半夏（三錢）　桂枝（三錢）　芍藥（三錢）　龍骨（二錢）　牡蠣（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>驚悸之證，土濕胃逆，相火不藏，應用茯苓去濕，半夏降胃，桂枝達肝，芍藥斂膽，龍骨、牡蠣，藏精聚神，以蟄陽根。陽降根深，則魂謐神安，驚悸不作矣。</p>
<p>其上熱者，倍芍藥以清膽火。下寒者，加附子以溫腎水。</p>
<p>若病重年深，奔豚凝結，少腹氣塊，堅硬澌寒，此陰邪已盛。緩用附子，當燥土去濕，調其脾胃，後以溫燥之藥熬膏貼之。詳具奔豚證中。</p>

<h3>精遺</h3>
<p>精藏於腎而交於心，則精溫而不走。精不交神，乃病遺泄，其原由於肝脾之不升。</p>
<p>丙火下行而化壬水，癸水上行而化丁火。壬水主藏，陽歸地下者，壬水之蟄藏也。壬水非寒則不藏，陰陽之性，熱則發揚而寒則凝閉，自然之理。壬水蟄藏，陽秘於內，則癸水溫暖。溫氣左升，是生乙木。升而不已，積溫成熱，是謂丁火。水之生木而化火者，以其溫也。木火生長，陽氣發達，陰精和煦，故不陷流。</p>
<p>壬水失藏，則陽泄而腎寒。水寒不能生木，木氣下郁，則生疏泄。木以疏泄為性，愈鬱則愈欲泄，以其生意不遂，時欲發舒之故也。遇夜半陽生，木鬱欲動，則夢交接。木能疏泄而水不蟄藏，是以流溢不止也。甚有木鬱而生下熱，宗筋常舉，精液時流。庸工以為相火之旺，用知母、黃柏瀉之，是益其癸水之寒而增其乙木之陷也。</p>
<p>乙木之升，權在己土，木生於水而實長於土，土運則木達。以脾陽升布，寒去溫回，冰泮春生，百卉榮華故也。蓋戊土西降，則化辛金，北行則化癸水，己土東昇，則化乙木，南行則化丁火。金水之收藏，實胃陰之右轉，木火之生長，即脾陽之左旋也。土濕陽衰，生氣不達，是以木陷而不升。人知壬水之失藏而不知乙木之不生，知乙木之不生而不知己土之弗運，乃以清涼固澀之品，敗其脾陽而遏其生氣，病隨藥增，愈難挽矣。</p>
<p><u>玉池湯</u></p>
<p>甘草（二錢）　茯苓（三錢）　桂枝（三錢）　芍藥（三錢）　龍骨（二錢）　牡蠣（三錢）　附子（三錢）　砂仁（一錢，炒，研去皮）</p>
<p>煎大半杯，溫服。</p>
<p>遺精之證，腎寒脾濕，木鬱風動，甘草、茯苓，培土瀉濕，桂枝、芍藥，疏木清風，附子、砂仁、暖水行郁，龍骨、牡蠣，藏精斂神。水土暖燥，木氣升達，風靜郁消，遺泄自止。</p>
<p>其濕旺木鬱而生下熱，倍茯苓、白芍，加澤瀉、丹皮，瀉脾濕而清肝熱，不可謬用清涼滋潤，敗其脾腎之陽。蓋腎精遺失，泄其陽根，久而溫氣亡脫，水愈寒而土愈濕。火土雙虧，中氣必敗，未有失精之家，陰虛而生燥熱者。其木鬱下熱，脾陽未虧，清其肝火，不至為害。若脾陽已虧，誤用清潤，則土敗而人亡矣。仲景《金匱》亡血失精之義，後人一絲不解也。</p>
<p><u>靈雪丹</u></p>
<p>甘草　薄荷　甘遂　朝腦　陽起石　紫蘇葉（各三錢）</p>
<p>共研，碗盛，紙餬口，細錐紙上密刺小孔。另用碟覆碗上，碗邊寬餘半指，黑豆麵固。濟沙鍋底鋪粗沙，加水。坐碗沙上，出水一寸。炭火煮五香，水耗，常添熱水。水冷取出，入麝香少許，研細，蟾酥少許，人乳浸化。蔥涕、官粉、煉蜜為丸，綠豆大，瓷瓶封收。津水研半丸，掌上塗玉塵頭。約一兩時，塵頂蘇麻，便是藥力透徹。秘精不泄，甚有良功。</p>
<p>若遺泄不止，勢在危急，先煉此藥，封之日落，研塗。一夜不走，腎精保固。徐用湯、丸。</p>

<h3>氣血</h3>
<p>氣統於肺，血藏於肝而總化於中氣。胃陽右轉而化氣，氣降則精生，降化於陽也，脾陰左旋而生血，血升則神化，陽生於陰也。精未結而魄先凝，故魄舍於肺，氣魄者，腎精之始基也，神未發而魂先見，故魂舍於肝，血魂者，心神之初氣也。氣，陽也，而含陰魄，是以清涼而降斂。血，陰也，而吐陽魂，是以溫暖而升發。及其魂升而神化，則又降而為氣，魄降而精生，則又升而為血。蓋精血溫升，則蒸騰而化神氣，神氣清降，則灑陳而化精血。精血神氣，實一物也，悉由於中氣之變化耳。</p>
<p>火金上熱，則神氣飛揚而不守，水木下寒，則精血泄溢而莫藏。故補養神氣，則宜清涼而滋益精血，則宜溫暖。</p>
<p>氣秉辛金清涼之性、清則調暢，熱則鬱蒸，暢則沖虛，鬱則滯塞，滯塞而不降，故病上逆，血秉乙木溫暖之性，溫則流行，寒則凝瘀，行則鮮明，瘀則腐敗，腐敗而不升，故病下陷。氣滯之家，胸膈脹滿，痰嗽喘逆，半緣上中之虛熱，血瘀之人，紫黑成塊，杯碗傾泄，多因中下之虛寒。下寒則肺氣之降於肝部者，亦遂陷泄而不升，上熱則肝血之升於肺家者，亦遂逆流而不降。此氣血致病之原也。</p>

<h3>氣滯</h3>
<p>肺主藏氣，凡臟腑經絡之氣，皆肺家之所播宣也。氣以清降為性，以心火右轉，則化肺氣，肺氣方化，而已胎陰魄，故其性清肅而降斂。實則順降，虛則逆升，降則沖虛，升則窒塞。</p>
<p>君相之火，下根癸水，肺氣斂之也。肺氣上逆，收令不行，君相升泄，而刑辛金，則生上熱。凡痞悶噯喘，吐衄痰嗽之證，皆緣肺氣不降。而肺氣不降之原，則生於胃，胃土逆升，濁氣填塞，故肺無下降之路。</p>
<p>肺胃不降，君相升炎，火不根水，必生下寒。氣滯之證，其上宜涼，其下宜暖，涼則金收，暖則水藏。清肺熱而降胃逆，固是定法，但不可以寒涼之劑瀉陽根而敗胃氣。蓋胃逆之由，全因土濕，土濕則中氣不運，是以陽明不降。但用清潤之藥，滋中濕而益下寒，則肺胃愈逆，上熱彌增，無有愈期也。</p>
<p><u>下氣湯</u></p>
<p>甘草（二錢）　半夏（三錢）　五味（一錢）　茯苓（三錢）　杏仁（三錢，泡，去皮尖）　貝母（二錢，去心）　芍藥（二錢）　橘皮（二錢）</p>
<p>煎大半杯，溫服。</p>
<p>治滯在胸膈右肋者。</p>

<h3>氣積</h3>
<p>肺藏氣而性收斂，氣病則積聚而不散，而肝氣之積聚，較多於肺。肺氣積聚，則痞塞於心胸，肝氣積聚，則滯結於臍腹。</p>
<p>蓋氣在上焦則宜降，而既降於下，則又宜升。升者，肝之所司，以肝木主升，生氣旺則氣升，生氣不足，故氣陷而下郁也。而肝氣之下郁，總由太陰之弱。以氣秉金令，但能降而不能升，降而不至於下陷者，恃肝木之善達，肝木之善達者，脾土之左旋也。</p>
<p>氣盛於肺胃而虛於肝脾，故肺氣可瀉而肝氣不可瀉。氣積胸膈右肋，宜瀉肺胃以降之，氣積臍腹左脅，宜補肝脾以升之，此化積調氣之法也。</p>

<h3>達郁湯</h3>
<p>桂枝（三錢）　鱉甲（三錢，醋炙焦，研）　甘草（二錢）　茯苓（三錢）　乾薑（三錢）　砂仁（一錢）</p>
<p>煎大半杯，溫服。</p>
<p>治積在臍腹左脅者。</p>
<p>肺胃積氣，在胸膈右脅，肝脾積氣，在臍腹左脅，皆中氣虛敗之病也。補之則愈悶，破之則愈結。蓋其本益虛，其標益實，破之其本更虛，補之其標更實，是以俱不能效。善治者，肺胃之積，瀉多而補少，肝脾之積，補多而瀉少。半補而半行之，補不至於壅閉，行不至於削伐，正氣漸旺，則積聚消磨矣。</p>

<h3>血瘀</h3>
<p>肝主藏血，凡臟腑經絡之血，皆肝家之所灌注也。血以溫升為性，緣腎水左旋，則生肝血，肝血方生，而已抱陽魂，故其性溫和而升散。實則直升，虛則遏陷，升則流暢，陷則凝瘀。</p>
<p>蓋血中溫氣，化火之本，而溫氣之原，則根於坎中之陽。坎陽虛虧，不能生髮乙木，溫氣衰損，故木陷而血瘀。久而失其華鮮，是以紅變而紫，紫變而黑。木主五色，凡肌膚枯槁，目眥青黑者，皆是肝血之瘀。而肝血不升之原，則在於脾，脾土滯陷，生氣遏抑，故肝無上達之路。</p>
<p>肝脾不升，原因陽衰陰旺，多生下寒。而溫氣抑鬱，火胎淪陷，往往變而為熱。然熱在於肝，而脾腎兩家，則全是濕寒，不可專用清潤。至於溫氣頹敗，下熱不作者，十之六七，未可慨論也。</p>
<p>血瘀之證，其下宜溫而上宜清，溫則木生，清則火長。若木鬱而為熱，乃變溫而為清，而脾腎之藥，則純宜溫燥，無有二法。以脾陷之由，全因土濕，土濕之故，全因水寒。腎寒脾濕，則中氣不運，是以太陰不升。水土濕寒，中氣堙郁，君相失根，半生上熱。若誤認陰虛，滋濕生寒，夭枉人命，百不一救也。</p>
<p><u>破瘀湯</u></p>
<p>甘草（二錢）　茯苓（三錢）　丹皮（三錢）　桂枝（三錢）　丹參（三錢）　桃仁（三錢，泡，去皮尖）　乾薑（三錢）　首烏（三錢，蒸）</p>
<p>煎大半杯，溫服。</p>

<h3>血脫</h3>
<p>肝藏血而性疏泄，血病則脫亡而不守。未脫之先，溫氣虛虧，凝瘀不流。瘀少則結積而不下，瘀多則注泄而莫藏。凡便溺流漓，崩漏不禁，紫黑成塊，腐敗不鮮者，皆陽虛而木陷，血瘀而弗容也。</p>
<p>蓋木性善達，水土寒濕，生氣不達，是以血瘀。木鬱風動，疏泄不斂，是以血脫，而肺血之脫亡，較多於肝。肝血下脫，則遺泄於便溺，肺血上流，則吐衄於口鼻。以血在下焦則宜升，而既升於上，則又宜降。降者，肺之所司，緣肺金主收，收氣盛則血降。收氣不足，故血湧而上溢也。</p>
<p>而肺血之上溢，總由陽明之虛。以血秉木氣，但能升而不能降，升而不至於上溢者，恃肺金之善斂。肺金之收斂者，胃土之右轉也。</p>
<p>血盛於肝脾而虛於肺胃，其脫於便溺，則由肝脾之寒，其說於口鼻，或緣肺胃之熱。而陽衰土濕，中氣頹敗，實為脫血之根。若專用清涼滋潤，助陰伐陽，以敗中氣，人隨藥殞，百不一生。此非血病之必死，皆粗工之罪也。</p>

<h3>衄血</h3>
<p>肺竅一鼻，肺氣降斂，則血不上溢。肺氣逆行，收斂失政，是以為衄，其原因於胃土之不降。</p>
<p>《靈樞·百病始生》：卒然多食飲，則腸滿，起居不節，用力過度，則絡脈傷。陽絡傷則血外溢，血外溢則衄血，陰絡傷則血內溢，血內溢則後血。衄血者，陽絡之傷，則營血逆流，而衛氣不能斂也。</p>
<p>肺主衛氣，其性收斂，血升而不溢者，賴衛氣斂之。而衛氣之斂，由於肺降，降則收令行也。而肺氣之降，機在胃土，胃土上壅，肺無降路，收令失政，君相升泄，肺金被刑，營血不斂，故病鼻衄。而火炎金傷，不皆實熱，多有中下濕寒，胃逆而火瀉者。至於並無上熱，而鼻衄時作，則全因土敗而胃逆，未可清金而瀉火也。外感傷寒之衄，亦非關火盛。緣寒傷營血，營鬱而衛閉，衛氣壅遏，蓄而莫容，逆循鼻竅，以瀉積鬱。衛氣升發，故沖營血，而為衄證。衄則衛郁瀉而表病解，原非火旺金刑之故也。</p>
<p><u>仙露湯</u></p>
<p>麥冬（三錢）　五味（一錢）　貝母（二錢）　半夏（三錢）　柏葉（三錢）　甘草（二錢）　芍藥（三錢）　杏仁（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>衄血之證，火泄金刑，氣傷血沸，宜清金斂肺，以回逆流。而必並降胃氣，降胃必用半夏。近世誤以血證為陰虛，半夏性燥，不宜血家，非通人之論也。</p>
<p>若上熱非盛，而衄證時作，則全因中下濕寒，當加乾薑、茯苓溫燥之藥。若大衄之後，氣泄陽亡，厥逆寒冷，宜加參、耆、薑、附，以續微陽，清潤之藥，切不可用。</p>

<h3>吐血</h3>
<p>血斂於肺而降於胃，肺氣能收，則鼻不衄，胃氣善降，則口不吐。肺氣莫收，經絡之血，乃從鼻衄，胃氣莫降，臟腑之血，因自口吐。而肺氣之斂，亦因胃氣之降，吐衄之證，總以降胃為主。</p>
<p>胃氣不降，原於土濕，土濕之由，原於寒水之旺。水寒土濕，中氣堙郁，血不流行，故凝瘀而紫黑。蓄積莫容，勢必外脫。土鬱而無下行之路，是以上自口出。凡嘔吐瘀血，紫黑成塊，皆土敗陽虛，中下濕寒之證。瘀血去後，寒濕愈增，往往食減而不消，飲少而不化。一旦土崩而陽絕，則性命傾殞，故大吐瘀血之家，多至於死。</p>
<p>其血色紅鮮者，則緣肺熱。然始因上熱而究變中寒。以血藏於肝而肝木生火，心火之熱，即血中之溫氣所化。血去而血中之溫氣亡泄，是以大失血後，寒慄而戰搖也。而其上熱之時，推其中下，亦是濕寒。蓋君相之火，隨戊土下降，而歸坎水，則上清而下暖。胃土不降，則君相升泄。非戊土之逆，而火何以升！非己土之濕，而胃何以逆！非癸水之寒，而土何以濕！胃逆火泄，升炎於上，而坎陽絕根，其腎水必寒。寒水氾濫，其脾土必濕，理自然也。</p>
<p>若夫零星咯吐，見於痰唾之中者，其證稍緩。以血去非多，則氣泄有限，雖亦中下寒濕，而一時不至困敗。但一遭庸手，久服清潤，敗其中氣，則亦歸死亡耳。</p>
<p>血證是虛勞大病，半死半生，十僅救五。而唐後醫書，皆滋陰瀉火，今古雷同，百不救一，實可哀也。</p>
<p><u>靈雨湯</u></p>
<p>甘草（二錢）　人參（二錢）　茯苓（三錢）　半夏（三錢）　乾薑（三錢）　柏葉（三錢）　丹皮（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治大吐瘀血者。</p>
<p>吐血之證，中下濕寒，凝瘀上湧，用人參、甘草，補中培土，茯苓、乾薑，去濕溫寒，柏葉清金斂血，丹皮疏木行瘀，自是不易之法，尤當重用半夏，以降胃逆。</p>
<p>血本下行，肺胃既逆，血無下行之路，陳菀腐敗，勢必上湧。舊血既去，新血又瘀，逆行上竅，遂成熟路。再投清潤之藥，助其寒濕，中氣敗亡，速之死矣。若溫中燥土，令其陽回濕去，復以半夏降逆，使胃氣下行，瘀血既吐，鮮血自不再來。若下寒甚者，蜀椒、附子，亦當大用。</p>
<p>其零星咯吐，紅鮮不凝，雖有上熱，亦非實火，稍加麥冬、貝母，略清肺熱。總以瀉濕培土為主，不可過用苦寒也。</p>
<p><u>白茅湯</u></p>
<p>人參（二錢）　甘草（二錢）　茯苓（三錢）　半夏（三錢）　麥冬（三錢，去心）　茅根（三錢）芍藥（三錢）　五味子（一錢）</p>
<p>煎大半杯，溫服。</p>
<p>治零星吐鮮血者。</p>
<p>血之零吐紅鮮者，雖緣土濕胃逆，而肺家不無上熱，瀉濕降逆之中，自宜加清肺之藥。</p>
<p>若相火極旺，則加黃芩而倍芍藥。仲景三黃瀉心湯，是治相火之極旺者，但此等頗少，未易輕用。若上熱不敵下寒之劇，當大溫水土，清潤諸法，切不可用也。</p>

<h3>便血</h3>
<p>血生於脾，藏於肝，肝脾陽旺，血溫而升，故不下泄。水寒土濕，脾陷土鬱，風動而行疏泄之令，則後脫於大便。</p>
<p>陽氣收斂，則土溫而水暖，其脾濕而腎寒者，庚金之收令不行也。後世以為腸風而用清潤，脾陽愈敗而愈陷，無有止期也。</p>
<p>其肝脾陽敗，紫黑瘀腐，當補火燥土以回殘陽，暖血溫肝而升郁陷。若痔漏、脫肛之治，亦依此法通之。</p>
<p><u>桂枝黃土湯</u></p>
<p>甘草（二錢）　白朮（三錢）　附子（三錢）　阿膠（三錢）　地黃（三錢）　黃芩（二錢）　桂枝（二錢）　灶中黃土（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>便血之證，亦因水土寒濕，木鬱風動之故。仲景黃土湯，朮、甘、附子，培土溫寒，膠、地、黃芩，清風瀉火，（相火。）黃土燥濕扶脾，法莫善矣。此加桂枝，以達木鬱，亦甚精密。</p>

<h3>溺血</h3>
<p>水寒土濕，脾陷木鬱，風動而行疏泄，穀道不收，則後泄於大腸，水道不斂，則前淋於小便。</p>
<p>陽氣蟄藏，則土溫而水暖，其脾濕而腎寒者，壬水之藏令不行也。水性蟄藏，木性疏泄，水欲藏而不能藏，是以流漓而不止，木欲泄而不能泄，是以梗澀而不利。緣木愈鬱則愈欲泄，愈欲泄則愈郁，郁生下熱，小便赤數。雖火盛之極，而實以脾腎之陽虛。</p>
<p>瀉濕燥土，升木達郁，自是主法。寒者溫之，熱者清之。然熱在乙木，不在脾土，在肝則宜清涼，至於脾家，但宜溫燥，雖肝熱極盛，不可瀉其脾土也。</p>
<p><u>寧波湯</u></p>
<p>甘草（二錢）　桂枝（三錢）　芍藥（三錢）　阿膠（三錢）　茯苓（三錢）　澤瀉（三錢）　梔子（三錢）　發灰（三錢，豬脂煎，研）</p>
<p>煎大半杯，溫服。</p>
<p>溺血與便血同理，而木鬱較甚，故梗澀痛楚。苓、澤、甘草，培土瀉濕，桂枝、芍藥，達木清風，阿膠、發灰，滋肝行瘀，梔子利水瀉熱。（膀胱之熱。）</p>
<p>若瘀血紫黑，累塊堅阻，加丹皮、桃仁之類行之，此定法也。</p>

<h1>卷五</h1>
<p>病不過內外感傷，而雜病之傳變，百出不窮。感傷者，百病之綱，百病者，感傷之目。譬如水火源本則合，支派攸分，雖殊途而同歸，實一致而百慮。</p>
<p>先聖既往，此道絕傳，博考方書，乖訛萬狀。縱身若松柏，未必後雕，況資如蒲柳，動輒零謝，申之以雜病之侵凌，益之以群工之毒藥，真輕塵之棲弱草，朝露之落薤上矣。</p>
<p>痛昔親從凋亡，手足傷毀，荒草頹墳，煙籠霧鎖。感念存歿，情何可言，作雜病解。</p>

<h2>雜病解上</h2>

<h3>鼓脹根原</h3>
<p>鼓脹者，中氣之敗也。肺主氣，腎主水，人身中半以上為陽，是謂氣分，中半以下為陰，是謂水分。氣盛於上，水盛於下，陰陽之定位也。而氣降則生水，水升則化氣，陰陽互根，氣水循環。究其轉運之樞，全在中氣，中氣一敗，則氣不化水而抑鬱於下，是謂氣鼓，水不化氣而氾濫於上，是為水脹。</p>
<p>《靈樞·營衛生會》：上焦如霧，中焦如漚，下焦如瀆。上焦氣盛，故如霧露之空瀠。下焦水盛，故如川瀆之注瀉。而氣水變化之原，出於中焦，中焦者，氣水之交，氣方升而水方降，水欲成氣，氣欲成水，氣水未分，故其形如漚。</p>
<p>氣之化水，由於肺胃，水之化氣，由於肝脾。肺胃右降則陰生，故清涼而化水，氣不化水者，肺胃之不降也，肝脾左升則陽生，故溫暖而化氣，水不化氣者，肝脾之不升也。氣不化水，則左陷於下而為氣鼓，水不化氣，則右逆於上而為水脹。而其根，總因土濕而陽敗，濕土不運，則金木鬱而升降窒故也。</p>

<h4>氣鼓</h4>
<p>氣從上降，而推原其本，實自下升，坎中之陽，氣之根也。氣升於肝脾，肝脾左旋，溫暖而化清陽，是氣升於水分也。肝脾不升，陰分之氣堙鬱而下陷，故臍以下腫。木性善達，其發達而不郁者，水溫土燥而陽升也。水寒土濕，脾陽下陷，肝木不達，抑遏而克脾土。肝脾郁迫而不升運，是以凝滯而為脹滿。肝氣不達，鬱而生熱，傳於脾土。脾土受之，以其濕熱，傳於膀胱。五行之性，病則傳其所勝，勢固然也。土燥則木達而水清，土濕則氣滯不能生水，木鬱不能泄水，故水道不利。加之以熱，故淋澀而黃赤。</p>
<p>脾土既陷，胃土必逆。脾陷而肝木下郁，胃逆則膽火上郁。其下熱者，肝木之不升也，其上熱者，膽火之不降也。病本則屬濕寒，而病標則為濕熱，宜瀉濕而行郁，補脾陽而達木氣，清利膀胱之鬱熱也。</p>
<p><u>桂枝姜砂湯</u></p>
<p>茯苓（三錢）　澤瀉（三錢）　桂枝（三錢）　芍藥（三錢）　甘草（三錢，炙）　砂仁（一錢，炒，研）　乾薑（三錢）</p>
<p>煎大半杯，入砂仁，略煎，去渣，入西瓜漿一湯匙，溫服。</p>
<p>膀胱濕熱，小便紅澀者，加梔子清之。脾肺濕旺，化生郁濁，腐敗膠黏，不得下行，宜用瓜蒂散，行其痰飲。在下則瀉利而出，在上則嘔吐而出。去其菀陳，然後調之。</p>
<p>續隨子仁，最下痰飲，用白者十數粒，研碎，去油，服之痰水即下。</p>
<p><u>瓜蒂散</u></p>
<p>瓜蒂（二十個，研）　赤小豆（三錢，研）　香豉（三錢，研）</p>
<p>熱水一杯，煮香豉，令濃，去渣，調二末，溫服。取吐下為度。</p>
<p>病重人虛者，不可服此，當用葶藶散。</p>

<h4>水脹</h4>
<p>水從下升，而推原其本，實自上降，離中之陰，水之根也。水降於肺胃，肺胃右轉，清涼而化濁陰，是水降於氣分也。肺胃不降，陽分之水淫泆而上逆，故臍以上腫。金性喜斂，其收斂而不郁者，陽明胃土之降也。土濕胃逆，肺無降路，陽分之水，不得下行，陰分之水，反得上泛。水入於肺，宗氣隔礙，則為喘滿。水入於經，衛氣壅阻，則為腫脹。</p>
<p>水生於肺而統於腎，藏於膀胱而泄於肝。腎與膀胱之府，相為表裡。</p>
<p>飲入於胃，脾陽蒸動，化為霧氣，而上歸於肺。肺金清肅，霧氣灑揚，充灌於經絡，熏澤於皮膚，氤氳郁靄，化為雨露。及乎中焦以下，則注集滂沛，勢如江漢矣。</p>
<p>膀胱者，水之壑也。肺氣化水，傳於膀胱，肝氣疏泄，水竅清通，是以腫脹不作。膀胱之竅，清則開而熱則閉，《靈樞》：三焦者，入絡膀胱，約下焦，實則閉癃，虛則遺溺。其虛而遺溺者，相火之下虛也，其實而閉癃者，非相火之下實也。以腎主蟄藏，腎氣能藏，則相火秘固而膀胱清，腎氣不藏，則相火泄露而膀胱熱。相火蟄藏，膀胱清利，是謂之實，膀胱之熱者，相火泄於腎藏而陷於膀胱也。</p>
<p>相火藏於腎水，原不泄露，其泄而不藏者，過在乙木。木性疏泄，疏泄之令暢，則但能泄水而不至泄火。水寒土濕，生氣鬱遏，疏泄之令不行，而愈欲疏泄，故相火不得秘藏，泄而不通，故水道不能清利。</p>
<p>相火之陷，其原在肝，肝氣之陷，其原在脾。肝脾郁陷，合相火而生下熱，傳於己土，己土以其濕熱傳於膀胱，是以淋澀而赤黃也。</p>
<p>膀胱閉癃，水不歸壑，故逆行於胸腹，浸淫於經絡，而腫脹作焉。水熱穴論：其本在腎，其標在肺，皆積水也。故水病下為胕腫大腹，上為喘呼不得臥者，標本俱病。</p>
<p>其本之在臟者，宜瀉之於膀胱，其標之在肺者，宜瀉之於汗孔。汗溺之行，總以燥土疏木為主。水病之作，雖在肺腎兩臟，而土濕木鬱，乃其根本也。</p>
<p><u>苓桂浮萍湯</u></p>
<p>茯苓（三錢）　澤瀉（三錢）　半夏（三錢）　杏仁（三錢）　甘草（二錢）　浮萍（三錢）　桂枝（三錢）</p>
<p>煎大半杯，熱服。覆衣，取汗。</p>
<p>中氣虛，加人參，寒加乾薑。肺熱，加麥冬、貝母。</p>
<p><u>苓桂阿膠湯</u></p>
<p>茯苓（三錢）　澤瀉（三錢）　甘草（二錢）　桂枝（三錢）　阿膠（三錢）</p>
<p>煎大半杯，熱服。</p>
<p>小便不清，加西瓜漿，熱加梔子。中虛，加人參，寒加乾薑。</p>
<p>乙木遏陷，疏泄不行，陽敗土濕，不能制伏水邪，故病腫脹。瀉濕燥土，疏木行水，是定法也。後世八味加減之方，地黃助脾之濕，附子益肝之熱，肝脾未至極敗，服之可效，肝脾病深則不效，而反益其害，最誤人也。</p>
<p>氣位於上，水位於下。氣之在上，雖壅滿郁遏，而不至於脹，惟下陷而不升，則病氣鼓，水之在下，雖停瘀凝結，而弗至於腫，惟上逆而不降，則病水脹。腫在身半以上者，水脹也，脹在身半以下者，氣鼓也，其一身俱至腫脹者，氣病於下而水病於上也。氣水交病，則氣中亦有積水，水中不無滯氣。總之，氣不離水，水不離氣，氣滯則水凝，水積則氣聚，氣病於下者，其水道必不利，水病於上者，其氣道必不通。仲景《金匱·水氣》之法，腰以上腫，當發其汗，汗發則氣通而水亦泄，腰以下腫，當利小便，便利則水行而氣亦達矣。</p>

<h3>噎膈根原</h3>
<p>噎膈者，陽衰土濕，上下之竅俱閉也。脾陽左升，則下竅能開，胃陰右降，則上竅不閉。下竅開，故舊谷善出，上竅開，故新谷善納，新舊遞嬗，出納無阻，氣化循環，所以無病。</p>
<p>其上下之開，全在中氣，中氣虛敗，濕土湮塞，則肝脾遏陷，下竅閉澀而不出，肺胃沖逆，上竅梗阻而不納，是故便結而溺癃，飲礙而食格也。緣氣之為性，實則清空，虛則滯寒。胃主降濁，脾主升清，胃降則濁氣下傳，上竅清空而無礙，是以善納，脾升則清氣上行，下竅洞達而莫壅，是以善出。胃逆則肺金不降，濁氣鬱塞而不納，脾陷則肝木不升，清氣澀結而不出。以陽衰土濕，中氣不運，故脾陷而杜其下竅，胃逆而窒其上竅，升降之樞軸俱廢，出納之機針皆息也。</p>
<p>其糟粕之不出，全因脾陷而肝鬱，而穀食之不納，則不止胃逆而肺壅，兼有甲木之邪焉。甲木逆行，克賊戊土，土木搏結，肺無下行之路，霧氣堙瘀，化生痰涎，胸膈滯塞，故食噎不下。肺津化痰，不能下潤，水穀二竅，枯槁失滋，而乙木之疏泄莫遂，故便溺難澀。總緣中氣不治，所以升降反作，出納無靈也。</p>
<p><u>苓桂半夏湯</u></p>
<p>茯苓（三錢）　澤瀉（三錢）　甘草（二錢）　桂枝（三錢）　半夏（三錢）　乾薑（三錢）　生薑（三錢）　芍藥（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>噎病胸膈滯塞，霧氣淫蒸而化痰飲。上脘不開，加以痰涎膠黏，故食阻不下。法宜重用半夏，以降胃氣。痰盛者，加茯苓、橘皮，行其瘀濁，生薑取汁，多用益善。痰飲極旺，用瓜蒂散，吐其宿痰，下其停飲。胸膈洗盪，腐敗清空，則飲食漸下矣。</p>
<p>胸膈之痞，緣肺胃上逆，濁氣不降，而其中全是少陽甲木之邪。蓋胃逆則肺膽俱無降路，膽木盤結，不得下行，經氣鬱迫，是以胸脅痛楚。當以甘草緩其迫急，芍藥瀉其木邪，柴胡、鱉甲，散其結郁。若兼風木枯燥，則加阿膠、當歸，滋木清風，其痛自瘥。</p>
<p>其大便燥結，糞粒堅硬，緣土濕胃逆，肺郁痰盛，不能化生津液，以滋大腸。大腸以陽明燥金之府，枯槁失滋，自應難澀。而陰凝氣閉，下竅不開，重以飲食非多，消化不速，谷滓有限，未能充滿胃腸，順行而下。蓋以肝木鬱陷，關竅堵塞，疏泄之令不行，是以便難。此宜以乾薑、砂仁，溫中破滯，益脾陽而開腸竅，以桂枝達木鬱而行疏泄。乾澀難下者，重用肉蓯蓉，以滑腸竅，白蜜亦佳。木枯血燥，不能疏泄，加阿膠、當歸，滋其風木。</p>
<p>其小便紅澀，緣肺郁痰盛，不能生水以滲膀胱，而土濕木鬱，疏泄不行，故水道不利。此宜苓、澤、桂枝，瀉濕疏木，以通前竅。甚者，用豬苓湯加桂枝，豬、茯、滑、澤，瀉濕燥土，桂枝、阿膠，疏木清風，水道自利。噎家痰多溲少，全是土濕。濕土莫運，肝不升達，是以溺癃。肺不降斂，是以痰盛。瀉濕以苓、澤為主，佐以利肺疏肝之品，則痰消而溲長矣。</p>
<p>下竅閉塞，濁無泄路，痞郁胸膈，食自難下。下竅續開，胸膈濁氣，漸有去路，上脘自開。再以疏利之品，去其胸中腐敗，食無不下之理，而上下之開，總以溫中燥土為主，土氣溫燥，胃不上逆，則肺降而噎開，脾不下陷，則肝升而便利矣。</p>
<p>庸工以為陰虛燥旺，用地黃、牛乳滋潤之藥。更可誅者，至用大黃，噎病之人，百不一生。尚可壽及一年者，若服湯藥，則數月死矣。</p>
<p>醫法失傳，千古不得解人。能悟此理，則病去年增，不得死矣。</p>

<h3>反胃根原</h3>
<p>反胃者，陽衰土濕，下脘不開也。飲食容納，賴於胃陰之降，水穀消磨，藉乎脾陽之升，中氣健旺，則胃降而善納，脾升而善磨，水穀化消，關門洞啟。精華之上奉者，清空無滯，是以痰涎不生，渣滓之下達者，傳送無阻，是以便溺不澀。</p>
<p>濕盛陽虧，中氣虛敗，戊土偏衰，則能消而不能受，己土偏弱，則能受而不能消。以陽含陰則性降，降則化陰而司受盛，故胃以陽土而主納，陰含陽則氣升，升則化陽而司消腐，故脾以陰土而主磨。陽性開，陰性閉，戊土善納，則胃陽上盛而竅開，己土不磨，則脾陰下旺而竅閉。水穀善納，上竅常開，所以能食，欲食不磨，下竅常閉，所以善吐。蓋土性回運，氣化無停，新故乘除，頃刻莫間。飲食不磨，勢難久駐，下行無路，則逆而上湧，自然之理也。</p>
<p>其便結者，糟粕之傳送無多也。隧竅閉澀，而渣滓有限，不能遽行，蓄積既久，而後破溢而下。下而又閉，閉而又下，零星斷續，不相聯屬。及其遲日延時，傳諸魄門，則糞粒堅硬，形如彈丸。緣大腸以燥金之府，而肺津化痰，不能下潤，故燥澀而艱難也。</p>
<p>仲景《金匱》於反胃嘔吐，垂大半夏之法，補中降逆而潤腸燥，反胃之聖方也。若與茯苓四逆合用，其效更神矣。</p>
<p><u>姜苓半夏湯</u></p>
<p>人參（三錢）　半夏（三錢）　乾薑（三錢）　茯苓（三錢）　白蜜（半杯）</p>
<p>河水揚之二百四十遍，煎大半杯，入白蜜，溫服。</p>
<p>反胃與噎膈同理，但上脘不閉耳，全以溫中燥濕，降逆開結為主。土燥陽回，飲食消化，自然不吐。穀精下潤，渣滓盛滿，傳送無阻，大便自易。</p>
<p>濕氣滲泄，必由便溺，若肝氣不能疏泄，加桂枝、阿膠，疏木清風。利水滑腸之法，依噎膈諸方，無有異也。</p>

<h3>消渴根原</h3>
<p>消渴者，足厥陰之病也。厥陰風木與少陽相火，相為表裡，風木之性，專欲疏泄，土濕脾陷，乙木遏抑，疏泄不遂，而強欲疏泄，則相火失其蟄藏。手少陽三焦以相火主令，足少陽膽從相火化氣，手少陽陷於膀胱，故下病淋癃，足少陽逆於胸膈，故上病消渴。緣風火合邪，津血耗傷，是以燥渴也。</p>
<p>淋因肝脾之陷，消因膽胃之逆，脾陷而乙木不升，是以病淋，胃逆而甲木不降，是以病消。脾陷胃逆，二氣不交，則消病於上而淋病於下。但是脾陷，則淋而不消，但是胃逆，則消而不淋。淋而不消者，水藏而木不能泄也，消而不淋者，木泄而水不能藏也。木不能泄，則肝氣抑鬱而生熱，膀胱熱澀，故溲便不通，水不能藏，則腎陽泄露而生寒，腎藏寒滑，故水泉不止。</p>
<p>肝木生於腎水而胎心火，火之熱者，木之溫氣所化，木之溫者，水之陽根所發。水主蟄藏，木主疏泄，木虛則遏抑子氣於母家，故疏泄不行，而病淋澀，木旺則盜泄母氣於子家，故蟄藏失政，而善溲溺。</p>
<p>《素問·氣厥論》：心移熱於肺，肺消，肺消者，飲一溲二，死不治。此上下俱寒，上寒則少飲，下寒則多溲。飲一溲二，是精溺之各半也，是以必死。《金匱》：男子消渴，小便反多，飲一斗，小便一斗。此下寒上熱，下寒則善溲，上熱則善飲。飲一溲一，是溺多而精少也，則猶可治。渴欲飲水，小便不利者，是消淋之兼病者也。</p>
<p><u>腎氣丸</u></p>
<p>地黃（二兩八錢）　山萸（一兩四錢）　山藥（一兩四錢）　丹皮（一兩）　茯苓（一兩）　澤瀉（一兩）　桂枝（三錢五分）　附子（三錢五分）</p>
<p>煉蜜丸，梧子大，酒下十五丸，日再服。不知，漸加。</p>
<p>《金匱》：消渴，飲一斗，小便一斗，上傷燥熱，下病濕寒，燥熱在肝肺之經，濕寒在脾腎之藏。腎氣丸，茯苓、澤瀉，瀉濕燥土，地黃、丹、桂，清風疏木，附子溫腎水之寒，薯蕷、山萸，斂腎精之泄，消渴之神方也。</p>
<p>肝主疏泄，木愈鬱而愈欲泄，泄而不通，則小便不利，泄而失藏，則水泉不止。腎氣丸能縮小便之太過，亦利小便之不通。《金匱》：小便一斗者主之，小便不利者亦主之，以其瀉濕而燥土，清風而疏木也。</p>
<p><u>豬苓湯</u></p>
<p>豬苓（三錢）　茯苓（三錢）　澤瀉（三錢）　滑石（三錢，研）　阿膠（三錢）</p>
<p>煎大半杯，入阿膠，消化，溫服。</p>
<p>治上消下淋者。</p>
<p>上渴而下淋者，土濕木鬱，而生風燥。豬、茯、滑、澤，瀉濕燥土，阿膠滋木清風，解渴通淋之良法也。</p>
<p>若木鬱不能疏泄，宜加桂枝，以達木氣。若消淋兼作而發熱脈浮者，是土濕木鬱而感風邪，當以五苓發其汗也。</p>
<p><u>桂附苓烏湯</u></p>
<p>茯苓（三錢）　澤瀉（三錢）　桂枝（三錢）　乾薑（三錢）　附子（三錢）　龍骨（三錢，煅，研）　牡蠣（三錢，煅，研）　首烏（三錢，蒸）</p>
<p>煎大半杯，溫服。</p>
<p>治飲一溲二者。</p>
<p>《素問》飲一溲二，水寒土濕，木氣疏泄，宜苓、澤瀉濕燥土，薑、附暖水溫中，桂枝、首烏，達木榮肝，龍骨、牡蠣，斂精攝溺。病之初起，可以救藥，久則不治。</p>

<h3>顛狂根原</h3>
<p>顛狂者，即驚悸之重病也。肝為木，其氣風，其志怒，其聲呼。心為火，其氣熱，其誌喜，其聲言。肺為金，其氣燥，其志悲，其聲哭。腎為水，其氣寒，其志恐，其聲呻。脾為土，其氣濕，其志憂，其聲歌。氣之方升而未升則怒，已升則為喜，氣之方降而未降則悲，已降則為恐。蓋陷於重淵之下，志意幽淪，是以恐作。方其半陷，則淒涼而為悲，悲者，恐之先機也。升於九天之上，神氣暢達，是以喜生。方其半升，則拂鬱而為怒，怒者，喜之未遂也。</p>
<p>凡人一臟之氣偏盛，則一臟之志偏見，而一臟之聲偏發。顛病者，安靜而多悲恐，肺腎之氣旺也。狂病者，躁動而多喜怒，肝心之氣旺也。肺腎為陰，肝心為陽，二十難曰：重陰者顛，重陽者狂，正此義也。而金水之陰旺，則因於陽明之濕寒，木火之陽盛，則因於太陰之濕熱。緣胃土右降，金水所從而下行，濕則不降，金水右泄而生寒，金旺則其志悲，水旺則其志恐也。脾土左升，木火所從而上行，濕則不升，木火左鬱而生熱，木旺則其志怒，火旺則其誌喜也。濕寒動則寢食皆廢，悲恐俱作，面目黃瘦，腿膝清涼，身靜而神迷，便堅而溺澀。此皆金水之旺也。濕熱動則眠食皆善，喜怒兼生，面目紅肥，臂肘溫暖，身動而神慧，便調而水利，此皆木火之旺也。</p>
<p>顛緣於陰旺，狂緣於陽旺。陰陽相判，本不同氣，而顛者歷時而小狂，狂者積日而微顛。陽勝則狂生，陰復則顛作，勝復相乘而顛狂迭見，此其陰陽之俱偏者也。</p>
<p><u>苓甘姜附龍骨湯</u></p>
<p>半夏（三錢）　甘草（二錢）　乾薑（三錢）　附子（三錢）　茯苓（三錢）　麥冬（三錢，去心）龍骨（三錢）　牡蠣（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>有痰者，加蜀漆。</p>
<p>治顛病悲恐失正者。</p>
<p><u>丹皮柴胡犀角湯</u></p>
<p>丹皮（三錢）　柴胡（三錢）　犀角（一錢，研汁）　生地（三錢）　芍藥（三錢）　茯苓（三錢）甘草（二錢，炙）</p>
<p>煎大半杯，溫服。</p>
<p>有痰者，加蜀漆。</p>
<p>治狂病喜怒乖常者。</p>
<p>勞傷中氣，土濕木鬱，則生驚悸。濕旺痰生，迷其神智，喜怒悲恐，緣情而發，動而失節，乃病顛狂。顛狂之家，必有停痰，痰者，顛狂之標，濕者，真狂之本。顛起於驚，狂生於悸，拔本塞原之法不在痰。若宿痰膠固，以瓜蒂散上下湧泄，令臟腑上下清空，然後燥土瀉濕，以拔其本。</p>

<h3>痰飲根原</h3>
<p>痰飲者，肺腎之病也，而根原於土濕，肺腎為痰飲之標，脾胃乃痰飲之本。蓋肺主藏氣，肺氣清降則化水，腎主藏水，腎水溫升則化氣。陽衰土濕，則肺氣壅滯，不能化水，腎水凝瘀，不能化氣。氣不化水，則鬱蒸於上而為痰，水不化氣，則停積於下而為飲。大凡陽虛土敗，金水堙菀，無不有宿痰留飲之疾。</p>
<p>清道堵塞，肺氣不布，由是壅嗽發喘，息短胸盛，眠食非舊，喜怒乖常。蓋痰飲伏留，腐敗壅阻，礙氣血環周之路，格精神交濟之關，諸病皆起，變化無恆，隨其本氣所虧而發，而總由脾陽之敗。緣足太陰脾以濕土主令，手太陰肺從濕土化氣，濕旺脾虧，水穀消遲，脾肺之氣，鬱而不宣，淫生痰涎。歲月增加，久而一身精氣，盡化敗濁，微陽絕根，則人死矣。</p>
<p>高年之人，平素陽虛，一旦昏憒痰鳴，垂頭閉目，二三日即死。此陽氣敗脫，痰證之無醫者也。其餘百病，未至於此。</p>
<p>悉宜燥土瀉濕，絕其淫泆生化之源，去其瘀塞停滯之物，使之精氣播宣，津液流暢，乃可扶衰起危，長生不老耳。</p>
<p><u>姜苓半夏湯</u></p>
<p>茯苓（三錢）　澤瀉（三錢）　甘草（二錢）　半夏（三錢）　橘皮（三錢）　生薑（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>百病之生，悉由土濕，是以多有痰證，而鼓脹、噎膈、虛勞、吐衄、嗽喘、驚悸之家更甚。原因土濕陽虛，氣滯津凝。法宜燥土瀉濕，利氣行郁，小半夏加茯苓、橘皮，是定法也。在上之痰，半成濕熱，在下之飲，純屬濕寒。上下殊方，溫清異制，大要以溫燥水土為主。上熱者，加知母、石膏。下寒者，佐乾薑、附子。痰之陳宿纏綿，膠固難行者，加枳實開之，飲之停瘀臟腑者，上在胸膈，用十棗湯瀉其氣分，下在臍腹，用豬苓湯瀉於水道。流溢經絡者，用五苓散瀉之汗孔。上脘之痰，可從吐出。中脘之痰，可從便下。若經絡之飲，非使之化氣成津，瀉於汗尿，別無去路也。一切痰飲，用瓜蒂散吐下之，功效最捷。續隨子仁驅逐痰飲，亦良物也。</p>

<h3>咳嗽根原</h3>
<p>咳嗽者，肺胃之病也。胃土右轉，肺金順下，霧氣降灑，津液流通，是以無痰，呼吸安靜，上下無阻，是以不嗽。胃土上逆，肺無降路，霧氣堙塞，故痰涎淫生，呼吸壅礙，則咳嗽發作。其多作於秋冬者，風寒外閉，裡氣愈郁故也。</p>
<p>而胃之所以不降，全緣陽明之陽虛。太陰以己土而生濕，陽明從庚金而化燥，燥敵其濕，則胃降而脾升，濕奪其燥，則脾陷而胃逆。以燥為陽而濕為陰，陽性運而陰性滯，理自然也。</p>
<p>《素問·咳論》：其寒飲食入胃，從肺脈上至於肺則肺寒，肺寒則外內合邪，因而客之，則為肺咳，是咳嗽之證，因於胃逆而肺寒，故仲景治咳，必用乾薑、細辛。</p>
<p>其燥熱為嗽者，金燥而火炎也。手陽明以燥金主令，燥氣旺則手太陰化氣於庚金而不化氣於濕土，一當胃逆膽升，刑以相火，則壅嗽生焉。然上雖燥熱，而下則依舊濕寒也。蓋肺胃順降，則相火蟄藏而下溫，肺胃逆升，則相火浮動而上熱，上熱則下寒，以其火升而不降也。緣足太陰之濕盛，則辛金從令而化濕，是生濕嗽，手陽明之燥盛，則戊土從令而化燥，是生燥咳。燥則上熱，濕則下寒，究之濕為本而燥為標，寒為原而熱為委。悟先聖咳嗽之義，自得之矣。</p>
<p><u>姜苓五味細辛湯</u></p>
<p>茯苓（三錢）　甘草（二錢）　乾薑（三錢）　半夏（三錢）　細辛（三錢）　五味（一錢，研）</p>
<p>煎大半杯，溫服。</p>
<p>咳證緣土濕胃逆，肺金不降，氣滯痰生，竅隧阻礙，呼吸不得順布。稍感風寒，閉其皮毛，肺氣愈郁，咳嗽必作。其肺家或有上熱，而非脾腎濕寒，不成此病。岐伯之論，仲景之法，不可易也。</p>
<p>其甚者，則為齁喘，可加橘皮、杏仁，以利肺氣。若肺郁生熱，加麥冬、石膏，清其心肺。若膽火刑金，加芍藥、貝母，以清膽肺。勞嗽吐血，加柏葉，以斂肺氣。若感冒風寒，嚏噴流涕，頭痛惡寒，加生薑，蘇葉，以解表邪。</p>

<h3>肺癰根原</h3>
<p>肺癰者，濕熱之鬱蒸也。陽衰土濕，肺胃不降，氣滯痰生，胸膈瘀寒，濕鬱為熱，淫泆熏蒸，濁瘀臭敗，腐而為膿。始萌尚可救藥，膿成肺敗則死。此緣濕旺肺郁，風閉皮毛，衛氣收斂，營郁為熱，熱邪內閉，蒸其痰涎，而化癰膿故也。</p>
<p>蓋風中於表，則腠理疏泄而汗出，熱蒸於裡，則經陽遏閉而惡寒。衛陽外斂，呼氣有出而不入，營陰內遏，吸氣有入而不出。營衛不交，風熱兼作，風邪外傷其皮毛。</p>
<p>皮毛者，肺之合也。濕土鬱滿，肺氣不降，而風襲皮毛，泄其衛氣，衛氣愈泄而愈斂，皮毛始開而終閉，肺氣壅塞，內外不得泄路，痞悶喘促，痰嗽彌增，口乾咽燥，而不作渴。少飲湯水，則津液沸騰，多吐濁沫。熱邪內傷其津血，津血與痰涎鬱蒸，腐化膿穢，吐如米粥。久而肺臟潰爛，是以死也。</p>
<p>病生肺部，而根原於胃逆，其胸膈之痛，則是膽木之邪。以胃土不降，肺膽俱無下行之路，膽以甲木而化相火，甲木克戊土，則膈上作疼，相火刑辛金，則胸中生熱。是宜並治其標本也。</p>
<p><u>蘇葉橘甘桔湯</u></p>
<p>蘇葉（三錢）　甘草（二錢）　桔梗（三錢）　杏仁（三錢）　茯苓（三錢）　貝母（三錢）　橘皮（三錢）　生薑（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>胃逆胸滿重，加半夏。</p>
<p>肺癰胸膈濕熱，鬱蒸痰涎，而化癰膿。痰盛宜逐，膿成當瀉，膠痰堵塞，以甘遂、葶藶之屬驅之，膿血腐瘀，以丹皮、桃仁之類排之。劇者用仲景二白散，吐下膿穢，以求藏真，勝於養癰遺害者也。</p>
<p><u>二白散</u></p>
<p>桔梗（三錢）　貝母（三分）　巴豆（一分，去皮，炒，研如脂）</p>
<p>為末，飲服半錢匕。虛者，減之。</p>
<p>膿在膈上則吐，在膈下則泄。下多，飲冷水一杯，則止。</p>
<p><u>葶藶大棗瀉肺湯</u></p>
<p>葶藶（炒黃，研，彈子大）　大棗（十二枚）</p>
<p>水三杯，煮棗，取二杯，去棗，入葶藶，煮取一杯，頓服。</p>
<p>膿未成則痰下，膿已成則膿下。</p>

<h1>卷六</h1>

<h2>雜病解中</h2>

<h3>腹痛根原</h3>
<p>腹痛者，土濕而木賊之也。乙木升於己土，甲木降於戊土，肝脾左旋，膽胃右轉，土氣回運而木氣條達，故不痛也。水寒土濕，脾氣陷而胃氣逆，肝膽郁遏，是以痛作。</p>
<p>蓋乙木上升，是為枝葉，甲木下降，是為根本。脾陷則乙木之枝葉不能上發，橫塞地下而克己土，故痛在少腹，胃逆則甲木之根本不能下培，盤郁地上而克戊土，故痛在心胸。肝膽之經，旁循脅肋，左右並行，而三陽之病，則外歸於經，三陰之病，則內歸於藏。以陰盛於內而陽盛於外，故痛在臟腑者，厥陰之邪，痛在脅肋者，少陽之邪也。至於中氣頹敗，木邪內侵，則不上不下，非左非右，而痛在當臍，更為劇也。</p>
<p>此其中間，有木鬱而生風熱者。肝以風木主令，膽從相火化氣，下痛者，風多而熱少，上痛者，熱多而風少。而究其根原，總屬濕寒。</p>
<p>若有水穀停瘀，當以溫藥下之，仲景大黃附子湯，最善之制也。若宿物留滯，而生鬱熱，則厚朴七物湯，是良法也。如其瘀血堙塞，氣道梗阻，而生痛者，則以破結行瘀之品利之，桂枝茯苓丸、下瘀血湯，酌其寒熱而選用焉。若無宿物，法宜培土疏木，溫寒去濕之劑，大建中、附子粳米、烏頭石脂三方，實諸痛證之準繩也。</p>
<p><u>姜苓桂枝湯</u></p>
<p>桂枝（三錢）　芍藥（三錢）　甘草（二錢）　茯苓（三錢）　乾薑（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治脾肝下陷，痛在少腹者。</p>
<p><u>柴胡桂枝鱉甲湯</u></p>
<p>柴胡（三錢）　鱉甲（三錢，醋炙）　甘草（二錢）　桂枝（三錢）　半夏（三錢）　芍藥（三錢）茯苓（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治胃膽上逆，痛在心胸者。</p>
<p>胃寒，加乾薑、川椒、附子。</p>
<p>凡心腹疼痛，率因水寒土濕，木氣鬱沖所致。心腹痛劇欲死，四肢冰冷，唇口指甲青白者，宜薑、椒、附、桂，驅寒邪而達木鬱，必重用苓、甘，瀉濕培土，而緩其迫急，其痛自止。肝以風木主令，膽從相火化氣，其間木鬱風動，火鬱熱發，亦往往而有，而推其脾腎，無不濕寒之理。即有風熱兼作，用芍藥、柴、芩，以瀉肝膽，而脾腎之藥，必宜溫燥，此定法也。</p>
<p>肝主藏血，風動血耗，乙木枯槁，生意不遂，鬱怒而賊脾土，則生疼痛。若血枯木燥，宜芍藥、阿膠、歸、地、首烏之類，以滋風木。木榮風退，即當減去，不可肆用，以敗土氣。</p>
<p>血鬱痛作，或內在臟腑，或外在經絡。其證肌膚甲錯，兩目黯黑，多怒而善忘。以肝竅於目，主藏血而華色，血瘀不能外華，故皮膚粗澀而黑黯也。宜用丹皮、桃仁，破其瘀血。若癥結難開，加䗪蟲、虻蟲之類行之。尋常血瘀，五靈脂、山羊血，功力亦良。</p>
<p>飲食停滯，土困木鬱，以致作痛，用仲景溫下之法，大黃、薑、附，瀉其食水。劇者，少加巴霜一二鱉，擴清陳宿，功效最捷。一切宿物壅阻，並宜此法。</p>

<h3>腰痛根原</h3>
<p>腰痛者，水寒而木鬱也。木生於水，水暖木榮，生髮而不鬱塞，所以不痛。腎居脊骨七節之中，正在腰間，水寒不能生木，木陷於水，結塞盤郁，是以痛作。木者，水中之生意，水泉溫暖，生意升騰，發於東方，是以木氣根痎下萌。正須溫養，忽而水結冰澌，根本失榮，生氣抑遏，則病腰痛。</p>
<p>腰者，水之所在，腹者，土之所居，土濕而木氣不達，則痛在於腹，水寒而木氣不生，則痛在於腰。然腰雖水位，而木鬱作痛之原，則必兼土病。蓋土居水火之中，火旺則土燥，水旺則土濕，太陰脾土之濕，水氣之所移也。土燥則木達而陽升，土濕則木鬱而陽陷，癸水既寒，脾土秘濕，濕旺木鬱，肝氣必陷，陷而不已，墜於重淵，故腰痛作也。</p>
<p>色過而腰痛者，精亡而氣泄也。精，陰也，而陰中之氣，是謂陽根，縱欲傷精，陽根敗泄，變溫泉而為寒冷之淵，化火井而成冰雪之窟，此木枯土敗之原，疼痛所由來也。緣陰陽生長之理，本自循環，木固生火，而火亦生木。少陰之火，升於九天之上者，木之子也，少陽之火，降於九地之下者，木之母也。其生於水者，實生於水中之火。水中之陽，四象之根也，《難經》所謂腎間動氣，生氣之原也。</p>
<p><u>桂枝姜附阿膠湯</u></p>
<p>茯苓（三錢）　桂枝（三錢）　甘草（二錢）　乾薑（三錢）　附子（三錢）　阿膠（三錢，炒，研）</p>
<p>煎大半杯，溫服。</p>

<h3>奔豚根原</h3>
<p>奔豚者，腎家之積也。平人君火上升而相火下蟄，火分君相，其實同氣。君相皆蟄，則腎水不寒。火之下蟄，實賴土氣，胃氣右降，金水收藏，則二火沉潛而不飛揚。土敗胃逆，二火不降，寒水漸冱，陰氣凝聚，久而堅實牢硬，結於少腹，是謂奔豚。《難經》：腎之積，曰奔豚是也。</p>
<p>水邪既聚，逢鬱則發，奔騰逆上，勢如驚豚，腹脅心胸諸病皆作。氣衝咽喉，七竅火發，危困欲死，不可支也。及其氣衰而還，諸證乃止。病勢之凶，無如此甚。</p>
<p>然積則水邪而發則木氣。其未發也，心下先悸，至其將發，則臍下敢作。以水寒木鬱，則生振搖，枝葉不寧，則悸在心下，根本不安，則悸在臍間。臍上悸生者，是風木根搖，故發奔豚。</p>
<p>仲景霍亂：若臍上築者，腎氣動也。腎氣者，風木搖撼之根，而論其發作，實是木邪。木邪一發，寒水上陵，木則剋土，而水則刑火。火土雙敗，正氣賊傷，此奔豚所以危劇也。</p>
<p>悸者，風木之郁沖，驚者，相火之浮宕。火不勝水，五行之常，所恃者，子土溫燥，制伏陰邪。培植陽根，蟄於坎府，根本不拔，則膽壯而神謐。土濕陽衰，不能降蟄相火，陽根泄露，飄越無依，寒水不凝，陰邪無制，巨寇在側，而身臨敗地，故動惕荒懸，迄無寧宇。凡驚悸一生，即為奔豚欲發之兆，不可忽也。</p>
<p><u>茯苓桂枝甘草大棗湯</u></p>
<p>茯苓（一兩）　桂枝（四錢）　甘草（二錢）　大棗（十五枚）</p>
<p>甘瀾水四杯，先煎茯苓，減二杯，入諸藥，煎大半杯，溫服，日三劑。</p>
<p>作甘瀾水法：大盆置水，以勺揚之千百遍，令水珠散亂，千顆相逐，乃取用之。</p>
<p>治汗後亡陽，臍下悸動，奔豚欲作者。</p>
<p><u>桂枝加桂湯</u></p>
<p>桂枝（五錢）　芍藥（三錢）　甘草（二錢）　生薑（三錢）　大棗（四枚）</p>
<p>煎大半杯，溫服。</p>
<p>治奔豚方作，氣從少腹上衝心部者。</p>
<p><u>奔豚湯</u></p>
<p>甘草（二錢）　半夏（四錢）　芍藥（二錢）　當歸（二錢）　黃芩（二錢）　生薑（四錢）　芎藭（三錢）　生葛（五錢）　甘李根白皮（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治奔豚盛作，氣上衝胸，頭疼腹痛，往來寒熱者。</p>
<p>奔豚之生，相火升泄，腎水下寒，不能生木。風木鬱沖，相火愈逆，故七竅皆熱。少陽經氣，被陰邪郁迫，故有往來寒熱之證。芎、歸疏肝而滋風木，芩、芍瀉膽而清相火，奔豚既發，風熱上隆，法應先清其上。</p>
<p><u>龍珠膏</u></p>
<p>川椒（五錢）　附子（五錢）　烏頭（五錢）　巴豆（三錢，研，去油）　桂枝（五錢）　茯芩（八錢）　牡蠣（五錢）　鱉甲（五錢）</p>
<p>芝麻油、黃丹熬膏，加麝香、阿魏，研細，布攤，貼病塊。</p>
<p>奔豚已結，氣塊堅硬，本屬寒積。但陰邪已盛，稍服附子溫下，寒邪不伏，奔豚必發，以邪深藥微，非附子之過也。不治，則半年一載之間，必至殞命。此宜溫燥脾胃，去其中焦濕寒。土燥陽回，力能制水，然後以此膏貼之。寒消塊化，悉從大便而出，滑白黏聯，狀如凝脂。濁瘀後泄，少腹鬆軟，重用附子暖水，然後乃受。</p>

<h3>瘕疝根原</h3>
<p>瘕疝者，腎肝之積也。木生於水，水之為性，得陽和而冰泮，遭陰肅而凍合，冰泮則木榮，凍合則木枯。腎水澌寒，木氣菀遏，擁腫結硬，根於少腹，而盤於陰丸，是謂寒疝。</p>
<p>水凝則結，而為內寒，木鬱則發，而為外熱。內寒盛則牢堅而不出，外熱作則奔突而不入，大小無常，動止莫測。病發則痛楚欲死，性命攸關，非細故也。</p>
<p>此腎肝之邪，而實原於任脈。《素問·骨空論》：任脈為病，男子內結七疝，女子帶下瘕聚。任者，諸陰之純任，少陰厥陰之氣，總原於任脈。腎中陽秘，則冰消凍釋，任中無固結之邪，腎中陽泄，水寒木鬱，陰氣凝滯，乃成疝瘕帶下之疾。腎性蟄藏，肝性疏泄，水氣旺則結而為疝瘕，木氣旺則流而為帶下，無二理也。任為陰而督為陽，男則督旺，女則任旺，故男子之疝氣猶少而女子之瘕帶最多。</p>
<p>法宜溫水木之寒，散腎肝之結。結寒溫散，瘕疝自消。仲景大烏頭煎、烏頭桂枝二方，乃此病之良法也。腎囊偏墜者，謂之㿗疝，是肝木之郁陷，擁腫硬大，常出而不入者。其時時上下者，謂之狐疝，言如狐貍之出沒無常也。</p>
<p><u>茱萸澤瀉烏頭桂枝湯</u></p>
<p>吳茱萸（三錢，炮）　澤瀉（三錢）　烏頭（三錢，炮）　桂枝（三錢）　芍藥（三錢）　甘草（二錢）　生薑（三錢）　大棗（四枚）</p>
<p>煎大半杯，溫服。</p>
<p>仲景烏頭桂枝湯，用烏頭湯一杯，桂枝湯半杯，合煎，取一杯，分五服。不知，再服。其知者，如醉狀。得吐為中病。今加茱萸、澤瀉，去其寒濕，以絕疝瘕之根。</p>
<p>其擁腫偏墜者，用此藥湯熱洗之，或用藥末，盛袋中熱熨之，日作數次，令其囊消而止。其狐疝之偏有大小，時時上下者，仲景用蜘蛛散，亦良。</p>
<p><u>蜘蛛散</u></p>
<p>蜘蛛（十四枚，炒焦）　桂枝（五分）</p>
<p>研末，取八分一匕，飲和，日再服。蜜丸亦可。</p>

<h3>積聚根原</h3>
<p>積聚者，氣血之凝瘀也。血積為癥，氣為瘕。《金匱》：婦人宿有癥病，經斷未及三月，而得漏下不止，胎動在臍上者，此為癥痼害，所以血不止者，其癥不去故也。緣瘀血癥聚，不在子宮，三月胎長，與癥痼相癥，故血阻而下，是癥病之為血也。《傷寒》：陽明病，若中寒不能飲食，小便不利，手足濈然汗出，此欲作痼瘕，必大便初硬後溏，所以然者，以胃中冷，水穀不別故也。緣寒氣凝結，水穀不消，則大便泄利，《難經》謂之大瘕泄，是瘕病之為氣也。</p>
<p>癥瘕之病，多見寒熱，以氣血積聚，陽不外達，故內郁發熱，陰不內斂，故外束而惡寒。氣統於肺，血藏於肝，氣聚者，多下寒，血積者，多上熱。蓋離陰右降，而化金水，及其成水，而又抱陽氣，故下焦不寒，氣聚則金水失其收藏，陽不下蟄，是以寒生。坎陽左升，而化木火，及其成火，而又含陰精，故上焦不熱，血積則木火失其生長，陰不上根，是以熱作。</p>
<p>血性溫暖而左升，至右降於金水，則化而為清涼，血之左積者，木之不溫也，血之右積者，金之不涼也。氣性清涼而右降，至左升於木火，則化為溫暖，氣之右聚者，金之不清也，氣之左聚者，木之不暖也。而溯其原本，總原於土，己土不升，則木陷血積，戊土不降，則金逆而氣聚。中氣健運而金木旋轉，積聚不生，癥瘕弗病也。</p>
<p><u>化堅丸</u></p>
<p>甘草（二兩）　丹皮（三兩）　橘皮（三兩）　桃仁（三兩）　杏仁（三兩）　桂枝（三兩）</p>
<p>煉蜜、陳醋丸，酸棗大，米飲下三五丸，日二次。</p>
<p>若癥瘕結硬難消，須用破堅化癖之品。內寒加巴豆、川椒，內熱加芒硝、大黃。</p>
<p>積聚之病，不過氣血，左積者，血多而氣少，加鱉甲、牡蠣，右聚者，氣多而血少，加枳實、厚朴。總之，氣不得血則不行，血不得氣則不運，氣聚者，血無有不積，血積者，氣無有不聚，但有微甚之分耳。其內在臟腑者，可以丸愈，外在經絡者，以膏藥消之。</p>
<p><u>化堅膏</u></p>
<p>歸尾（四錢）　鱉甲（八錢）　巴豆（四錢，研）　黃連（四錢）　三稜（四錢）　莪朮（四錢）　山甲（一兩二錢）　筋餘（一錢）</p>
<p>以上八味，用芝麻油一斤、淨丹八兩，熬膏。</p>
<p>硼砂（四兩）　硇砂（四錢）　阿魏（六錢，炒，研）　麝香（二錢）　人參（四錢）　三七（四錢）　山羊血（四錢）　肉桂（四錢）</p>
<p>以上八味，研細，入膏，火化，攪勻。稍冷，傾入水盆，浸二三日，罐收，狗皮攤。皮硝水熱洗皮膚，令透，拭乾。生薑切搽數十次，貼膏。一切癖塊積聚，輕者一貼，重者兩貼，全消。漸貼漸小，膏漸離皮，未消之處，則膏黏不脫。</p>
<p>忌一切發病諸物，惟豬、犬、鴨、鳧、有鱗河魚、菘、韭、米、面不忌。其餘海味、雞、羊、黃瓜，凡有宿根之物，皆忌。若無鱗魚、天鵝肉、母豬、蕎麥、馬齒莧，則忌之終身。犯之，病根立發。若癖塊重發，則不可救矣。</p>

<h3>蛔蟲根原</h3>
<p>蛔蟲者，厥陰肝木之病也。木鬱則蠹生，肝鬱則蟲化。木以水為母而火為子，乙木升於己土，胎於癸水而生君火，水升而化清陽，是以火不上熱，甲木降於戊土，胎於壬水而生相火，火降而化濁陰，是以水不下寒。肝升而膽降，火清而水暖，木氣溫暢，故蠹蛔不生，以其土運而木榮也。</p>
<p>土濕脾陷，不能榮達肝木，子母分離，寒熱不交。木以水火中氣，堙於濕土，不得上下調濟，由是寒熱相逼，溫氣中郁，生意盤塞，腐蠹朽爛而蛔蟲生焉。</p>
<p>凡物濕而得溫，覆蓋不發，則鬱蒸而蟲化，或熱或寒，不能生也。故蟲不生於寒冰熱火之中，而獨生於濕木者，以木得五行之溫氣也。溫氣中郁，下寒上熱，故仲景烏梅丸方，連、柏與薑、附並用，所以清子氣之上熱，溫母氣之下寒也。不去中下之濕寒，而但事殺蛔，土敗木枯，則蛔愈殺而生愈繁。此當溫燥水土，以暢肝木，則蛔蟲掃跡而去矣。醫書殺蟲之方，百試不效者也。</p>
<p><u>烏苓丸</u></p>
<p>烏梅（百枚，米蒸，搗膏）　人參（二兩）　桂枝（二兩）　乾薑（二兩）　附子（二兩）　川椒（二兩，去目，炒）　當歸（二兩）　茯苓（三兩）</p>
<p>煉蜜同烏梅膏丸，梧子大，每服三十丸，日二次。</p>
<p>若蟲積繁盛者，加大黃二兩、巴霜二錢，下盡為佳。</p>
<p>蛔蟲生化，原於土濕木鬱，法以燥土疏木為主。線白蟲證，是肝木陷於大腸，木鬱不達，是以肛門作癢。蟲生大腸之位，從庚金化形，故其色白。而木陷之根，總由土濕，當於燥土疏木之中，重用杏仁、橘皮，以瀉大腸滯氣，佐以升麻，升提手陽明經之墜陷也。</p>

<h3>便堅根原</h3>
<p>便堅者，手足陽明之病也。手陽明以燥金主令，足陽明從燥金化氣，故手足陽明，其氣皆燥。然手陽明，燥金也，戊土從令而化燥，足太陰，濕土也，辛金從令而化濕。土濕者，能化戊土而為濕，不有變庚金之燥，金燥者，能化辛金而為燥不能變己土之濕，以從令者易化，而主令者難變也。故傷寒陽明之便結，腸胃之燥者也，反胃噎膈之便結，胃濕而腸燥者也，傷寒陽明之便結，腸胃之熱燥者也，反胃噎膈之便結，胃之寒濕，而腸之寒燥者也。</p>
<p>以陽主開，陰主闔，陽盛則隧竅開通而便堅，陰盛則關門閉澀而便結。凡糞若羊矢者，皆陰盛而腸結，非關火旺也。蓋腎司二便，而傳送之職，則在庚金，疏泄之權，則在乙木。陰盛土濕，乙木鬱陷，傳送之竅既塞，疏泄之令不行。大腸以燥金之府。閉澀不開，是以糟粕零下而不黏聯，道路梗阻而不滑利。積日延久，約而為丸。其色黑而不黃者，水氣旺而土氣衰也。此證仲景謂之脾約，脾約者，陽衰濕盛，脾氣鬱結。不能腐化水穀，使渣滓順下於大腸也。誤用清潤之劑，脾陽愈敗，則禍變生矣。</p>
<p><u>阿膠麻仁湯</u></p>
<p>生地（三錢）　當歸（三錢）　阿膠（三錢，研）　麻仁（三錢，研）</p>
<p>煎一杯，去渣，入阿膠，火化，溫服。</p>
<p>治陽盛土燥，大便堅硬者。</p>
<p>結甚，加白蜜半杯。胃熱，加芒硝、大黃。精液枯槁，加天冬、龜膠。</p>
<p><u>肉蓯蓉湯</u></p>
<p>肉蓯蓉（三錢）　麻仁（三錢）　茯苓（三錢）　半夏（三錢）　甘草（二錢）　桂枝（三錢）</p>
<p>煎一杯，溫服。</p>
<p>治陽衰土濕，糞如羊矢者。</p>
<p>凡內傷雜病，糞若羊矢，結澀難下，甚或半月一行，雖系肝與大腸之燥而根緣土濕。以脾不消磨，穀精堙鬱而化痰涎，肝腸失滋，郁陷而生風燥故也。法宜肉蓯蓉滋肝潤腸，以滑大便。一切硝、黃、歸、地、阿膠、龜板、天冬之類，寒胃滑腸，切不可用。</p>

<h3>泄利根原</h3>
<p>泄利者，肝脾之陷下也。谷入於胃，脾陽升磨，精華歸於五臟而化氣血，糟粕傳於大腸而為大便。水入於胃，脾陽消克，化為霧氣，上歸於肺，肺氣降灑，化而為水，注於膀胱，而為小便。水入膀胱而不入大腸，而後糟粕之後傳者，不至於滑泄。水之消化，較難於谷，陽衰土濕，脾陽陷敗，不能蒸水化氣，則水穀混合，下趨二腸，而為泄利。</p>
<p>谷貯於大腸，水滲於膀胱，而其疏泄之權，則在於肝。今水入二腸而不入膀胱，則乙木疏泄之令不行於膀胱而行於大腸，是以泄而不藏也。蓋木生於水而長於土，水寒則生氣不旺，而濕土鬱陷，又復遏其發育之機，生長之意不遂，怒而生風，愈欲疏泄。膀胱空虛，既無可泄之物，大腸盈滿，水穀停積，故乙木後泄而為下利。緣木氣抑遏，鬱極而發，為濕土所限，不能上達，勢必下行，行則水穀摧注而下故也。其發之過激，衝突臟腑，則生疼痛。奔沖牴觸，而不得上達，盤鬱結塞，則生脹滿。其一切諸證，皆緣土敗而木賊也。</p>
<p><u>苓蔻人參湯</u></p>
<p>人參（二錢）　甘草（二錢）　白朮（三錢）　乾薑（三錢）　茯苓（三錢）　肉蔻（一錢，煨，研）　桂枝（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>大便寒滑不收，小便熱澀不利，加石脂以固大腸，粳米以通水道。</p>
<p>泄利緣腸胃寒滑，法以仲景理中為主，而加茯苓燥土，肉蔻斂腸，桂枝疏木，泄利自止。若滑泄不禁，則用桃花湯，乾薑溫其濕寒，石脂固其滑脫，粳米益其中氣而通水道，無有不愈也。</p>
<p>泄利之原，率因脾腎寒濕，法宜濁燥。間有木鬱而生風熱者，投以溫燥，泄利愈加。然乙木雖為風熱，而己土則是濕寒，宜清潤其肝而溫燥其脾。仲景烏梅丸方，連、柏與椒、薑、桂、附並用，治蛔厥而兼久利，最善之方也。</p>
<p>《傷寒》：太陽與少陽合病，自下利者，與黃芩湯。若嘔者，與黃芩半夏生薑湯。以少陽甲木從相火化氣，其經本隨陽明下降，甲木不降，上逆而克戊土，戊土壅遏，水穀盛滿莫容，於是吐利皆作。膽胃郁迫，相火升炎而生燥熱。此黃芩湯證也。《傷寒》：厥陰之為病，消渴，氣上衝心，心中疼熱，飢而不欲食，食則吐蛔，下之利不止。緣厥陰之經，木鬱風動，津液耗損，故見消渴，氣上衝心，心中疼熱，飢而不欲食，食則吐蛔，下之利不止。緣厥陰之經。木鬱風動，津液耗損，故見消渴。風木鬱沖，故心中疼熱。下泄脾陽，乙木愈郁，己土被賊，故下利不止。此烏梅丸證也。少陽之利，但有上熱，故第用芩、芍以清膽火，厥陰之利，兼有下寒，故以連、柏清上而並以薑、附溫下。此雖傷寒之病，而亦雜證所時有，凡泄利之不受溫躁者，皆此證也。雜證濕寒者多，燥熱者少，千百之中，偶爾見之，不得與傷寒少陽之利同法治也。</p>
<p>泄利之家，肝脾下陷，則肺胃必上逆。胃逆不能降攝甲木，肺逆不能收斂相火，相火上炎，多生上熟。久泄不已，相火鬱升，往往喉舌生瘡。瘡愈則利作，利止則瘡發。口瘡者，膽胃之逆甚，下利者，肝脾之陷劇也，迭為盛衰，累年不愈。是宜溫燥水土，驅其濕寒，下利既瘳，口瘡亦平。庸工見其口瘡而清上熱，則脾陽益泄，利愈加而瘡愈增矣。</p>

<h3>痢疾根原</h3>
<p>痢疾者，庚金乙木之郁陷也。金主氣而木主血，金生於土，木生於水，水溫土燥，則金融而氣調，木榮而血暢，水寒土濕，不能升庚金而達乙木，則金木俱陷。</p>
<p>魄門者，腎之所司而陽明燥金之府也。金性斂而木性泄，其出而不至於遺矢者，庚金斂之也，其藏而不至於閉結者，乙木泄之也。濕土與金木俱陷，則金愈鬱而愈欲斂，木愈鬱而愈欲泄。金愈欲斂，故氣滯而不通，木愈欲泄，故血脫而不藏。</p>
<p>木氣疏泄，而金強斂之，隧路梗阻，傳送艱難，是以便數而不利。金氣凝澀，而木強泄之，滯氣纏綿，逼迫而下，血液脂膏，剝蝕摧傷，是以腸胃痛切，膿血不止。其滑白而晶瑩者，金色之下泄，其後重而腥穢者，金氣之脫陷也。久而膏血傷殘，臟腑潰敗，則絕命而死矣。</p>
<p>此其病濕寒為本，而濕熱為標。病在少陰，則始終皆寒，病在厥陰，則中變為熱，故仲景於少陰膿血，用桃花湯，於厥陰下重，用白頭翁湯。緣水病則生寒，木病則生熱，而寒熱之原，總歸於太陰之濕。蓋土濕而水侮之，則鬱而為濕寒，土濕而木克之，則鬱而為濕熱之故也。</p>
<p><u>桂枝蓯蓉湯</u></p>
<p>甘草（二錢）　桂枝（三錢）　芍藥（三錢）　丹皮（三錢）　茯苓（三錢）　澤瀉（三錢）　橘皮（三錢）　肉蓯蓉（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>濕寒加乾薑，濕熱加黃芩，後重加升麻。</p>
<p>痢家肝脾濕陷，脂血鬱腐，法當燥濕疏木。而以蓯蓉滋肝滑腸，盡行腐瘀為善。若結澀難下，須用重劑蓯蓉，盪滌陳宿，使滯開痢止，然後調其肝脾。其脾腎寒濕，則用桃花湯溫燥己土。其木鬱生熱，則用白頭翁涼瀉肝脾，濕熱自當應藥而瘳也。</p>

<h3>淋瀝根原</h3>
<p>淋瀝者，乙木之陷於壬水也。膀胱為太陽寒水之府，少陽相火隨太陽而下行，絡膀胱而約下焦，實則閉癃，虛則遺溺。相火在下，逢水則藏，遇木則泄，癸水藏之，故泄而不至於遺溺，乙木泄之，故藏而不至於閉癃，此水道所以調也。</p>
<p>水之能藏，賴戊土之降，降則氣聚也，木之能泄，賴己土之升，升則氣達也。胃逆而水不能藏，是以遺溺，脾陷而木不能泄，是以閉癃。淋者，藏不能藏，既病遺溺，泄不能泄，又苦閉癃。</p>
<p>水欲藏而木泄之，故頻數而不收，木欲泄而水藏之，故梗澀而不利。木欲泄而不能泄，則溲溺不通，水欲藏而不能藏，則精血不秘。緣木不能泄，生氣幽鬱而為熱，溲溺所以結澀，水不能藏，陽根泄露而生寒，精血所以流溢。</p>
<p>而其寒熱之機，悉由於太陰之濕。濕則土陷而木遏，疏泄不行，淋痢皆作。淋痢一理，悉由木陷，乙木後鬱於穀道則為痢，前鬱於水府則為淋。其法總宜燥土疏木，土燥而木達，則疏泄之令暢矣。</p>
<p><u>桂枝苓澤湯</u></p>
<p>茯苓（三錢）　澤瀉（三錢）　甘草（三錢，生）　桂枝（三錢）　芍藥（三錢）</p>
<p>煎大半杯，熱服。</p>
<p>肝燥發渴，加阿膠。</p>
<p>脾為濕土，凡病則濕，肝為風木，凡病則燥，淋家土濕脾陷，抑遏乙木發生之氣，疏泄不暢，故病淋澀。木鬱風動，津液耗損，必生消渴。其脾土全是濕邪，而其肝木則屬風燥。血藏於肝，風動則血消，此木燥之原也。苓、澤、甘草，培土而瀉濕，桂枝、芍藥，疏木而清風，此是定法。土愈濕則木愈燥，若風木枯燥之至，芍藥不能清潤，必用阿膠。仲景豬苓湯善利小便，茯苓、豬苓、澤瀉、滑石，利水而瀉濕，阿膠清風而潤燥也。</p>
<p>水性蟄藏，木性疏泄。乙木生於癸水，相火封藏，癸水溫暖，溫氣左升，則化乙木。生氣暢茂乙木發達，疏泄之令既遂，則水道清通而相火必秘。土陷木遏，疏泄不遂，而愈欲疏泄，則相火泄露而膀胱熱澀。膀胱之熱澀者，風木相火之雙陷於膀胱也。足少陽甲木化氣於相火，與手少陽三焦並溫水藏，手少陽之相火泄則下陷於膀胱而病淋，足少陽之相火泄則上逆於胸膈而病消，其原總由於乙木之郁也。膀胱熱澀之極者，加梔子、黃柏，以清三焦之陷，則水府清矣。</p>
<p>乙木之溫，生化君火，木鬱陽陷，溫氣抑遏，合之膀胱淪陷之相火，故生下熱。然熱在肝與膀胱，而脾則是濕，腎則是寒。寒水侮土，移於脾宮，則脾不但濕，而亦且病寒。其肝與膀胱之熱，不得不清，而脾土濕寒，則宜溫燥，是宜並用乾薑，以溫己土。若過清肝熱，而敗脾陽，則木火增其陷泄，膀胱熱澀，水無止期矣。惟溫腎之藥，不宜早用，恐助膀胱之熱。若膀胱熱退，則宜附子暖水，以補肝木發生之根也。</p>
<p>腎主藏精，肝主藏血，木欲疏泄，而水莫蟄藏，則精血皆下。其精液流溢，宜薯蕷、山茱以斂之。其血塊注泄，宜丹皮、桃仁以行之。淋家或下沙石，或下白物。砂石者，膀胱熱癃，溲溺煎熬所結。水曰潤下，潤下作咸，溲溺之咸者，水之潤下而成也。百川下流，則歸於海，海水熬煉，則結鹽塊，膀胱即人身之海，沙石即海水之鹽也。白物者，脾肺濕淫所化。濕旺津凝，則生痰涎，在脾則克其所勝，在肺則傳其所生，皆入膀胱。膀胱濕盛，而下無泄竅，濕氣淫泆，化為帶濁。白物黏聯，成塊而下，即帶濁之凝聚者也，與脾肺生痰，其理相同，淋家下見白物，上必多痰。瀉濕宜重用苓、澤，若其痰多，用仲景小半夏加茯苓、橘皮以瀉之。</p>
<p>女子帶濁崩漏，與男子白濁血淋同理，皆濕旺木鬱之證。內傷百病，大率由於土濕，往往兼病淋澀，而鼓脹、噎膈、消渴、黃疸之家更甚。是緣陽虛土敗，金木雙郁。燥土溫中，輔以清金疏木之品，淋澀自開。庸工見其下熱，乃以大黃，益敗脾陽，謬妄極矣！淋家下熱之至，但有梔子、黃柏證，無有大黃，芒硝證，其熱不在脾胃也。</p>
<p>一切帶濁、崩漏、鼓脹、黃疸，凡是小便淋澀，悉宜熏法。用土茯苓、茵陳蒿、梔子、澤瀉、桂枝，研末布包，熱熨小腹，外以手爐烘之。熱氣透徹，小便即行，最妙之法。</p>

<h1>卷七</h1>

<h2>雜病解下</h2>

<h3>中風根原</h3>
<p>中風者，土濕陽衰，四肢失秉而外感風邪者也。四肢，諸陽之本，營衛之所起止，而追其根原，實秉氣於脾胃。脾土左旋，水升而化血，胃土右轉，火降而化氣。血藏於肝，氣統於肺，而行於經絡，則曰營衛。四肢之輕健而柔和者，營衛之滋榮，而即脾胃之灌注也。</p>
<p>陽虧土濕，中氣不能四達，四支經絡，凝澀不運，衛氣阻梗，則生麻木。麻木者，肺氣之郁，肺主皮毛，衛氣鬱遏，不能煦濡皮毛，故皮膚枯槁而頑廢也。諸筋者，司於肝而會於節，土濕木鬱，風動血耗，筋脈結澀，故支節枯硬。一日七情郁傷，八風感襲，閉其皮毛而鬱其經藏，經絡之燥盛，則筋脈急攣，支節拳縮，屈而不伸，痹而不仁也，臟腑之濕盛，則化生敗濁，堵塞清道，神迷言拙，頑昧不靈也。人身之氣，愈鬱則愈盛，皮毛被感，孔竅不開，郁其筋節之燥，故成癱瘓，郁其心肺之濕，故作癡喑。</p>
<p>臟腑者，支節之根本，支節者，臟腑之枝葉，根本既拔，枝葉必瘁，非盡關風邪之為害也。風者，百病之長，變無常態，實以病家本氣之不一，因人而變，而風未嘗變。風無刻而不揚，人有時而病作，風同而人異也。此與外感風傷衛氣之風，原無懸殊，粗工不解，謬分西北東南，真假是非之名，以誤千古，良可傷也。</p>
<p><u>桂枝烏苓湯</u></p>
<p>桂枝（三錢）　芍藥（三錢）　甘草（二錢）　首烏（三錢）　茯苓（三錢）　砂仁（一錢）</p>
<p>煎大半杯，溫服。</p>
<p>治左半偏枯者。</p>
<p>中下寒，加乾薑、附子。</p>
<p><u>黃耆姜苓湯</u></p>
<p>黃耆（三錢）　人參（三錢）　甘草（二錢）　茯苓（三錢）　半夏（三錢）　生薑（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治右半偏枯者。、中下寒，加乾薑、附子。病重者，黃耆、生薑可用一二兩。</p>
<p>中風之證，因於土濕，土濕之故，原於水寒。寒水侮土，土敗不能行氣於四肢，一當七情內傷，八風外襲，則病中風。</p>
<p>肝藏血而左升，肺藏氣而右降，氣分偏虛，則病於右，血分偏虛，則病於左，隨其所虛而病枯槁，故曰偏枯。左半偏枯，應病在足大指，足厥陰肝經行於足大指也。若手大指亦病拳曲，則是血中之氣滯也。右半偏枯，應病在手大指，手太陰肺經行於手大指也。若足大指亦病拳曲，則是氣中之血枯也。究之左右偏枯，足大指無不病者，以足太陰脾行足大指，太陰脾土之濕，乃左右偏枯之原也。</p>
<p>土濕則腎水必寒，其中亦有濕鬱而生熱者。然熱在上而不在下，熱在肝膽而不在脾腎。而肝膽之燥熱，究不及脾腎寒濕者之多，總宜溫燥水土，以達肝木之郁。風襲於表，郁其肝木，木鬱風生，耗傷津血，故病攣縮。木達風息，血復筋柔，則攣縮自伸。其血枯筋燥，未嘗不宜阿膠、首烏之類，要當適可而止，過用則滋濕而敗脾陽，不可不慎。</p>
<p>風家支節攣縮，莫妙於熨法。右半偏枯，用黃耆、茯苓、生薑、附子，左半偏枯，用首烏、茯苓、桂枝、附子，研末布包，熱熨病處關節。藥氣透徹，則寒濕消散，筋脈和柔，拳曲自松。藥用布巾縛住，外以火爐溫之，三四次後，氣味稍減，另易新者。久而經絡溫暢，發出臭汗一身，氣息非常，膠黏如飴，則支體活軟，屈伸如意矣。</p>
<p>其神迷不清者，胃土之逆也，其舌強不語者，脾土之陷也。以胃土上逆，濁氣鬱蒸，化生痰涎，心竅迷塞，故昏憒不知人事，脾土下陷，筋脈緊急，牽引舌本，短縮不舒，故謇澀不能言語。此總由濕氣之盛也。仲景《金匱》：邪入於腑，即不識人，邪入於臟，舌即難言者，風邪外襲，郁其臟腑之氣，非風邪之內入於臟腑也。一切羌、獨、艽、防驅風之法，皆庸工之妄作，切不可服！惟經臟病輕，但是鼻口偏邪，可以解表。用茯苓，桂枝、甘草、生薑、浮萍，略取微汗，偏斜即止。</p>
<p>其大便結燥，緣於風動血耗，而風動之由，則因土濕而木鬱。法宜阿膠、蓯蓉，清風潤燥，以滑大腸。結甚者，重用蓯蓉，滋生枯槁。龜板、地黃、天冬之類，滋濕伐陽，慎不可用，中氣一敗，則大事去矣。庸工至用大黃，可恨之極！</p>
<p>其痰涎膠塞，迷惑不清者，用葶藶散下之，痰去則神清。</p>
<p><u>葶藶散</u></p>
<p>葶藶（三錢）　白芥子（三錢）　甘遂（一錢）</p>
<p>研細，每服五分。</p>
<p>宿痰即從便下。</p>

<h3>歷節根原</h3>
<p>歷節者，風寒濕之邪，傷於筋骨者也。膝踝乃眾水之溪壑，諸筋之節奏，寒則凝冱於溪谷之中，濕則淫泆於關節之內，故歷節病焉。</p>
<p>足之三陰，起於足下，內循踝膝，而上胸中。而少厥水木之升，隨乎太陰之土，土濕而不升，則水木俱陷，於是癸水之寒生，乙木之風起，肉主於脾，骨屬於腎，筋司於肝，濕淫則肉傷，寒淫則骨傷，風淫則筋傷。筋骨疼痛而肌肉臃腫者，風寒濕之邪，合傷於足三陰之經也。</p>
<p>其病成則內因於主氣，其病作則外因於客邪。汗孔開張，臨風入水，水濕內傳，風寒外閉，經熱鬱發，腫痛如折。雖原於客邪之侵陵，實由於主氣之感召，久而壅腫拳屈，跛蹇疲癃。此亦中風之類也，而傷偏在足。蓋以清邪居上，濁邪居下，寒濕，地下之濁邪，同氣相感，故傷在膝踝。諸如膝風、腳氣，色目非一，而究其根原，正自相同。</p>
<p>凡腿上諸病，雖或木鬱而生下熱，然熱在經絡，不在骨髓，其骨髓之中，則是濕寒，必無濕熱之理。《金匱》義精而法良，當思味而會其神妙也。</p>
<p><u>桂枝芍藥知母湯</u></p>
<p>桂枝（四錢）　芍藥（三錢）　甘草（二錢）　白朮（二錢）　附子（二錢）　知母（四錢）　防風（四錢）　麻黃（二錢）　生薑（五錢）</p>
<p>煎大半杯，溫服。</p>
<p>歷節風證，支節疼痛，足腫頭眩，短氣欲吐，身羸發熱，黃汗沾衣，色如柏汁。此緣飲酒汗出，當風取涼，酒氣在經，為風所閉，濕邪淫泆，傷於筋骨。濕旺土鬱，汗從土化，是以色黃。其經絡之中，則是濕熱，其骨髓之內，則是濕寒。法宜朮、甘培土，麻、桂通經，知母、芍藥，瀉熱而清風，防風、附子，去濕而濕寒。濕寒內消，濕熱外除，腫痛自平。若其病劇，不能捷效，加黃耆以行經絡，烏頭以驅濕寒、無有不愈。一切膝風、腳氣諸證，不外此法。</p>
<p>烏頭用法：炮，去皮臍，切片，焙乾，蜜煎，取汁，入藥湯服。</p>

<h3>痙病根原</h3>
<p>痙病者，汗亡津血而感風寒也。太陽之脈，自頭下項，行身之背，發汗太多，傷其津血，筋脈失滋，復感風寒，筋脈攣縮，故頸項強急，頭搖口噤，脊背反折也。《素問·診要經終論》：太陽之脈，其終也，戴眼，反折，瘛瘲，即痙病之謂。以背膂之筋，枯硬而緊急故也。</p>
<p>太陽以寒水主令，而實化於丙火。蓋陰陽之理，彼此互根，清陽左旋，則癸水上升而化君火，濁陰右轉，則丙火下降而化寒水。汗亡津血，陰虛燥動，則丙火不化寒水而生上熱，是以身首發熱而面目皆赤也。寒水絕其上源，故小便不利。背者，胸之府，肺位於胸，壬水生化之源也。肺氣清降，氤氳和洽，蒸為雨露，自太陽之經注於膀胱，則胸膈清空而不滯。太陽不降，肺臟壅鬱，故濁氣上衝於胸膈也。太陽之經，兼統營衛，風寒傷人，營衛攸分，其發熱汗出，不惡寒者，名曰柔痙，風傷衛也，其發熱無汗，反惡寒者，名曰剛痙，寒傷營也。</p>
<p>病得於亡汗失血之後，固屬風燥，而汗血外亡，溫氣脫泄，實是陽虛，滋潤清涼之藥，未可肆用也。</p>
<p><u>栝蔞桂枝湯</u></p>
<p>栝蔞根（四錢）　桂枝（三錢）　芍藥（三錢）　甘草（二錢）　生薑（三錢）　大棗（四枚）</p>
<p>煎大半杯，熱服，覆衣，飲熱稀粥，取微汗。</p>
<p>治風傷衛氣，發熱汗出者。</p>
<p><u>葛根湯</u></p>
<p>葛根（四錢）　麻黃（三錢，先煎，去沫）　桂枝（二錢）　芍藥（二錢）　甘草（二錢）　生薑（三錢）　大棗（四枚）</p>
<p>煎大半杯，熱服覆衣，取微汗。</p>
<p>治寒傷營血，發熱無汗者。</p>
<p>痙病是太陽證，亦有在陽明經者。若胸滿口噤，臥不著席，腳攣齒齘者，胃土燥熱，筋脈枯焦之故。宜重用清涼滋潤之味，不可拘太陽經法。甚者，宜大承氣湯，瀉其胃熱乃愈。</p>

<h3>濕病根原</h3>
<p>濕病者，太陰濕旺而感風寒也。太陰以濕土主令，肺以辛金而化濕，陽明以燥金主令，胃以戊上而化燥，燥濕相敵，是以不病。人之衰也，濕氣漸長而燥氣漸消，及其病也，濕盛者不止十九，燥盛者未能十一。陰易盛而陽易衰，陽盛則壯，陰盛則病，理固然也。</p>
<p>膀胱者，津液之府，氣化則能出，肺氣化水，滲於膀胱，故小便清長。土濕則肺氣堙郁，不能化水，膀胱閉癃，濕氣浸淫，因而瀰漫於周身。濕為陰邪，其性親下，雖周遍一身，無處不到，究竟膝踝關節之地，承受為多。一遇風寒感冒，閉其皮毛，通身經絡之氣，壅滯不行，則疼痛熱煩而皮膚熏黃。濕陵上焦，則痛在頭目，濕淫下部，則痛在膝踝，濕侵肝腎，則痛在腰腹，濕遍一身，上下表里，無地不疼，而關竅骨節，更為劇焉。</p>
<p>其火盛者，鬱蒸而為濕熱，其水盛者，淫泆而為濕寒，而總之悉本於陽虛。法當內通其膀胱，外開其汗孔，使之表裡雙瀉也。</p>
<p><u>茵陳五苓散</u></p>
<p>白朮　桂枝　茯苓　豬苓　澤瀉</p>
<p>等分，為散，每用五錢，調茵陳蒿末一兩，和勻，空腹米飲調服一湯匙，日三服。多飲熱湯，取汗。</p>
<p>濕家日晡煩疼，以土旺午後申前，時臨未支，濕邪旺盛也。若發熱惡寒，是表邪閉固，加紫蘇、青萍，以發其汗。</p>
<p><u>元滑苓甘散</u></p>
<p>元明粉　滑石　茯苓　甘草</p>
<p>等分，為末，大麥粥汁和服一湯匙，日三服。濕從大小便去，尿黃糞黑，是其候也。</p>
<p>濕旺脾郁，肺壅而生上熱，小便黃澀，法宜清金利水，以瀉濕熱。若濕邪在腹，肺氣壅滯，以致頭痛鼻塞，聲音重濁，神氣鬱煩，當於發汗利水之中，加橘皮、杏仁，以瀉肺氣。</p>
<p><u>苓甘梔子茵陳湯</u></p>
<p>茵陳蒿（三錢）　梔子（二錢）　甘草（二錢，生）　茯苓（三錢）</p>
<p>煎大半杯，熱服。</p>
<p>治小便黃澀，少腹滿脹者。服此小便當利，尿如皂角汁狀，其色正赤。一宿腹減，濕從小便去矣。</p>
<p>濕家腹滿尿澀，是木鬱而生下熱，法當利水瀉濕，而加梔子，以清膀胱。若濕熱在脾，當加大黃、芒硝。如濕熱但在肝家，而脾腎寒濕，當加乾薑、附子。若膀胱無熱，但用豬苓湯，利其小便可也。</p>

<h3>黃疸根原</h3>
<p>黃疸者，土濕而感風邪也。太陰濕土主令，以陽明戊土之燥，亦化而為太陰之濕。設使皮毛通暢，濕氣淫蒸，猶得外泄。一感風邪，衛氣閉闔，濕淫不得外達，脾土堙郁，遏其肝木。肝脾雙陷，水穀不消，穀氣瘀濁，化而為熱。瘀熱前行，下流膀胱，小便閉澀，水道不利。膀胱瘀熱，下無泄路，熏蒸淫泆，傳於周身，於是黃疸成焉。</p>
<p>其病起於濕土而成於風木，以黃為土色，而色司於木，木邪傳於濕土，則見黃色也。或傳於飲食，或傷於酒色，病因不同，總由於陽衰而土濕。濕在上者，陽鬱而為濕熱。濕在下者，陰鬱而為濕寒。乙木下陷而陽遏陰分，亦化為濕熱。甲木上逆而陰旺陽分，亦化為濕寒。視其本氣之衰旺，無一定也。</p>
<p>其遊溢於經絡，則散之於汗孔。其停瘀於膀胱，則泄之於水道。近在胸膈，則湧吐其腐敗。遠在腸胃，則推蕩其陳宿。酌其溫涼寒熱，四路滌清，則證有變狀而雅無遁所，凡諸疸病，莫不應手消除也。</p>

<h4>谷疸</h4>
<p>谷入於胃，脾陽消磨，蒸其精液，化為肺氣。肺氣宣揚，外發皮毛而發汗，內滲膀胱而為溺。汗溺輸泄，土不傷濕，而木氣發達，則疸病不作。陽衰土濕，水穀消遲，穀精堙郁，不能化氣，陳腐壅遏，阻滯脾土，木氣遏陷，土木鬱蒸，則病黃疸。</p>
<p>中氣不運，升降失職，脾陷則大便滑溏，胃逆則上脘痞悶。濁氣熏騰，噁心欲吐，惡聞穀氣。食則中氣愈郁，頭眩心煩。此當擴清其菀陳，除舊而布新也。</p>

<h4>酒疸</h4>
<p>酒醴之性，濕熱之媒，其濡潤之質，入於臟腑，則生下濕，辛烈之氣，騰於經絡，則生上熱。汗溺流通，濕氣下泄而熱氣上達，可以不病。汗溺閉塞，濕熱遏瘀，乃成疸病。</p>
<p>其性嗜熱飲者，則濡潤之下傷差少，而辛烈之上傷頗重。其性嗜冷飲者，則辛烈之上傷有限，而濕寒之下傷為多。至於醉後發渴，涼飲茶湯，寒濕傷脾者，不可勝數，未可以濕熱概論也。</p>

<h4>色疸</h4>
<p>腎主蟄藏，相火之下秘而不泄者，腎臟之也。精去則火泄而水寒，寒水氾濫，浸淫脾土，脾陽頹敗，則濕動而寒生。故好色之家，久而火泄水寒，土濕陽虧，多病虛勞，必然之理也。水土寒濕，不能生長木氣，乙木遏陷，則生下熱。土木合邪，傳於膀胱，此疸病所由生也。</p>
<p>其濕熱在於肝膽，濕寒在於脾腎。人知其陰精之失亡而不知其相火之敗泄，重以滋陰助濕之品，敗其脾腎微陽，是以十病九死，不可活也。</p>
<p><u>甘草茵陳湯</u></p>
<p>茵陳（三錢）　梔子（三錢）　大黃（三錢）　甘草（三錢，生）</p>
<p>煎大半杯，熱服。</p>
<p>治谷疸腹滿尿澀者。</p>
<p>服後小便當利，尿如皂角汁狀，其色正赤。一宿腹減，黃從小便去也。</p>
<p><u>茵陳五苓散</u></p>
<p>白朮　桂枝　豬苓　茯苓　澤瀉</p>
<p>等分，為散，每用五錢，調茵陳蒿末一兩，空腹米飲和服一湯匙，日三服。多飲熱湯，取汗。治日暮寒熱者。</p>
<p><u>硝黃梔子湯</u></p>
<p>大黃（四錢）　芒硝（三錢）　梔子（三錢）</p>
<p>煎大半杯，熱服。</p>
<p>治汗出腹滿者。</p>
<p><u>梔子大黃湯</u></p>
<p>梔子（三錢）　香豉（三錢）　大黃（三錢）　枳實（三錢）</p>
<p>煎一杯，熱分三服。</p>
<p>治酒疸心中懊憹熱疼，噁心欲吐者。</p>
<p><u>元滑苓甘散</u></p>
<p>元明粉　滑石　甘草　茯苓</p>
<p>等分，為末，大麥粥汁和服一湯匙，日三服。</p>
<p>治色疸額黑身黃者。</p>
<p>服後病從大小便去，尿黃糞黑，是其候也。</p>
<p>色疸日晡發熱惡寒，膀胱急，小便利，大便黑溏，五心熱，腹脹滿，身黃，額黑，此水土瘀濁之證，宜瀉水去濕，通其二便。仲景用硝礬散，硝石清熱，礬石去濕。此變而為滑石、元明粉，亦即硝礬之意。用者酌量而通融之，不可拘泥。</p>
<p>黃疸之家，脾腎濕寒，無內熱者，當用薑、附、茵陳，不可誤服硝黃也。</p>

<h3>暍病根原</h3>
<p>暍病者，暑熱而感風寒也。熱則傷氣，寒則傷形，《素問·通評虛實論》：氣盛身寒，得之傷寒，氣虛身熱，得之傷暑。以寒性斂閉，暑性疏泄，寒閉其形而皮毛不開，是以氣盛而身寒，暑泄其氣而腠理不闔，是以氣虛而身熱。暍病則傷於暑，而又傷於寒者也。</p>
<p>盛暑汗流，元氣蒸泄，披清風而浴寒水，玄府驟閉，（《素問》：玄府者，汗孔也。）裡熱不宣，故發熱惡寒，口渴齒燥，身重而疼痛，脈細而芤遲也。蓋氣不鬱則不病，雖毒熱揮汗，表裡燔蒸，筋力懈惰，精神委頓，而新秋變敘，暑退涼生，肺腑清爽，精力如初，不遇風寒，未嘗為病。及熱傷於內，寒傷於外，壯火食氣，而腠理忽斂，氣耗而熱鬱，於是病作也</p>
<p>汗之愈泄其氣，則惡寒益甚。溫之愈助其火，則發熱倍增。下之愈亡其陽，則濕動木鬱，而淋澀彌加。法當補耗散之元氣而不至於助火，清煩郁之暑熱而不至於伐陽。清金而瀉熱，益氣而生津，無如仲景人參白虎之為善也。</p>
<p><u>人參白虎湯</u></p>
<p>石膏（三錢）　知母（三錢）　甘草（二錢）　粳米（半杯）　人參（三錢）</p>
<p>米熟湯成，取大半杯，熱服。</p>

<h3>霍亂根原</h3>
<p>霍亂者，飲食寒冷而感風寒也。夏秋飲冷食寒，水穀不消，其在上脘則為吐，其在下脘則為泄。或吐或泄，不並作也，一感風寒，皮毛閉寒，而宿物陳菀壅遏，中氣盛滿莫容，於是吐泄並作。</p>
<p>其吐者，胃氣之上逆，其泄者，脾氣之下陷。胃土之逆者，膽木之上逼也，脾土之陷者，肝木之下侵也。蓋中氣鬱塞，脾胃不轉，不能升降木氣，木氣鬱迫，而克中宮，刑以膽木則胃逆，賊以肝木則脾陷也。肝膽主筋，水土寒濕，木氣不榮，是以筋轉。</p>
<p>吐泄無餘，寒瘀盡去，土氣漸回，陽和徐布，中氣發揚，表邪自解。若其不解，外有寒熱表證，宜以麻桂發之，而溫以理中、四逆之輩。表寒既退，而臟腑鬆緩，痛泄自止。若其不能吐泄，腹痛欲死，可用大黃附子，溫藥下之，陳宿推蕩，立刻輕安。病在火令，全屬寒因，是以仲景立法，率主理中、四逆。變通理中、四逆之意，則病有盡而法無窮矣。倘泥時令而用清涼，是粗工之下者也。</p>
<p><u>桂苓理中湯</u></p>
<p>人參（一錢）　茯苓（二錢）　甘草（一錢）　乾薑（二錢）　桂枝（三錢）　白朮（三錢）　砂仁（二錢）　生薑（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>吐不止，加半夏。泄不止，加肉蔻。外有寒熱表證，加麻黃。轉筋痛劇，加附子、澤瀉。</p>

<h3>痎瘧根原</h3>
<p>痎瘧者，陰邪閉束，郁其少陽之衛氣也。人之六經，三陰在裡，三陰在表，寒邪傷人，同氣相感，內舍三陰。少陽之經，在二陽之內，三陰之外，內與邪遇，則相爭而病作。</p>
<p>其初與邪遇，衛氣鬱阻，不得下行，漸積漸盛。內與陰爭，陰邪被逼，外乘陽位，里束衛氣，閉藏而生外寒。衛為陰束，竭力外發，重圍莫透，鼓盪不已，則生戰慄。少陽甲木從相火化氣，及其相火鬱隆，內熱大作，陰退寒消，則衛氣外發而病解焉。</p>
<p>衛氣晝行六經二十五周，夜行五臟二十五周，寒邪淺在陽經，則晝與衛遇而日發，深在五臟，則夜與衛遇而暮發。衛氣離，則病休，衛氣集，則病作。緣邪束於外，則惡寒，陽鬱於內，則發熱。陽旺而發之速，則寒少而熱多，陽虛而發之遲，則寒多而熱少。陽氣日盛，則其作日早。陽氣日衰，則其作日晏。陽氣退敗，不能日與邪爭，則間日乃作。</p>
<p>此以暑蒸汗泄，浴於寒水，寒入汗孔，舍於腸胃之外，經臟之間。秋傷於風，閉其腠理，衛氣鬱遏，外無泄路，內陷重陰之中，鼓動外發，則成瘧病也。</p>

<h4>溫瘧</h4>
<p>先傷於寒而後中於風，先寒後熱，是謂寒瘧。先中於風而後傷於寒，先熱後寒，是謂溫瘧。以冬中風邪，泄其衛氣，衛愈泄而愈閉，郁為內熱。又傷於寒，束其皮毛，熱無出路，內藏骨髓之中。春陽發動，內熱外出，而表寒閉束，欲出不能，遇盛暑毒熱，或用力煩勞，氣蒸汗流，熱邪與汗皆出，表裡如焚。及其盛極而衰，復反故位，陰氣續復，是以寒生也。</p>

<h4>癉瘧</h4>
<p>其但熱而不寒者，是謂癉瘧。癉瘧即溫瘧之重者。以其陽盛陰虛，肺火素旺，一當汗出而感風寒，衛鬱熱發，傷其肺氣，手足如烙，煩冤欲嘔。陽亢陰枯，是以但熱無寒。其熱內藏於心，外舍分肉之間，令人神氣傷損，肌肉消鑠，瘧之最劇者也。</p>

<h4>牝瘧</h4>
<p>其寒多而熱少者，是謂牝瘧。以其陰盛陽虛，衛郁不能透發，故寒多熱少。蓋瘧病之寒，因陰邪之束閉，瘧病之熱，緣衛陽之郁發。其相火虛虧，鬱而不發，則純寒而無熱，相火隆盛，一郁即發，則純熱而無寒。其熱多者，由相火之偏勝，其寒多者，因相火之偏虛也。瘧在少陽，其脈自弦，弦數者火盛則多熱，弦遲者水盛則多寒，理自然耳。</p>
<p><u>柴胡栝蔞乾薑湯</u></p>
<p>柴胡（三錢）　黃芩（三錢）　甘草（二錢）　人參（一錢）　生薑（三錢）　大棗（三枚）　乾薑（三錢）　栝蔞（三錢）</p>
<p>煎大半杯，熱服，覆衣。</p>
<p>嘔加半夏。</p>
<p>治寒瘧先寒後熱者。</p>
<p><u>柴胡桂枝幹薑湯</u></p>
<p>柴胡（三錢）　甘草（二錢）　人參（一錢）　茯苓（三錢）　桂枝（三錢）　乾薑（三錢）</p>
<p>煎大半杯，熱服，覆衣。</p>
<p>治牝瘧寒多熱少，或但寒不熱者。</p>
<p><u>白虎桂枝柴胡湯</u></p>
<p>石膏（三錢）　知母（三錢）　甘草（二錢）　粳米（半杯）　桂枝（三錢）　柴胡（三錢）</p>
<p>煎大半杯，熱服，覆衣。</p>
<p>治溫瘧先熱後寒，熱多寒少，或但熱不寒者。</p>
<p><u>減味鱉甲煎丸</u></p>
<p>鱉甲（二兩四錢）　柴胡（一兩二錢）　黃芩（六錢）　人參（二錢）　半夏（二錢）　甘草（二錢）　桂枝（六錢）　芍藥（一兩）　丹皮（一兩）　桃仁（四錢）　阿膠（六錢）　大黃（六錢）　乾薑（六錢）　葶藶（二錢）</p>
<p>為末，用清酒一罐，入灶下灰一升，煮鱉甲，消化，絞汁，去渣，入諸藥，煎濃，留藥末，調和為丸，如梧子大，空腹服七丸，日三服。</p>
<p>治久瘧不愈，結為癥瘕，名曰瘧母。</p>

<h3>傷風根原</h3>
<p>傷風者，中虛而外感也。陽衰土濕，中脘不運，胃土常逆，肺金失降，胸中宗氣不得四達，時時鬱勃於皮毛之間。遇飲食未消，中氣脹滿，阻格金火沉降之路。肺金鬱發，蒸泄皮毛，宗氣外達，是以不病。一被風寒，閉其皮毛，肺氣壅遏，不能外發，故逆循鼻竅，嚏噴而出。濕氣淫蒸，清涕流溢，譬之水氣蒸騰，滴而為露也。</p>
<p>水生於金，肺氣上逆，無以化水，故小便不利。《素問·風論》：勞風法在肺下，巨陽引精者三日，中年者五日，不精者七日，咳出青黃涕，其狀如膿，大如彈丸，從口中若鼻中出，不出則傷肺，傷肺則死矣。蓋膀胱之水，全是肺氣所化，水利則膀胱之郁濁下泄，肺家之壅滯全消。濕去而變燥，故痰涕膠黏，色化青黃，出於口鼻，肺臟不傷也。少年陽衰未極，肺不終郁，則氣降而化水，故引精於三日。中年者五日。末年陽衰，不能引精者七日。若其終不能引，久而鬱熱蒸腐，則肺傷而死矣。</p>
<p>太陽引精，賴乎陽明之降。中氣運轉，陽明右降，則肺金下達而化水尿，積鬱始通。陽明不降，肺無下行之路，太陽無引精之權也。法宜瀉肺而開皮毛，理中而瀉濕鬱。濕消而鬱散，氣通而水調，無餘事己。</p>
<p><u>紫蘇姜苓湯</u></p>
<p>蘇葉（三錢）　生薑（三錢）　甘草（二錢）　茯苓（三錢）　半夏（三錢）　橘皮（二錢）　乾薑（三錢）　砂仁（二錢）</p>
<p>煎大半杯，熱服，覆衣。</p>

<h3>齁喘根原</h3>
<p>齁喘者，即傷風之重者也。其陽衰土濕，中氣不運，較之傷風之家倍甚。脾土常陷，胃土常逆，水穀消遲，濁陰莫降。一遇清風感襲，閉其皮毛，中脘鬱滿，胃氣愈逆。肺臟壅塞，表裡不得通達，宗氣逆沖，出於喉嚨。而氣阻喉閉，不得透泄，於是壅悶喘急，不可名狀。此齁喘之由來也。</p>
<p>輕則但作於秋冬，是緣風邪之外束，重則兼發於夏暑，乃由濕淫之內動。濕居寒熱之中，水火逼蒸，則生濕氣。濕氣在上，則隨火而化熱，濕氣在下，則隨水而化寒。火盛則上之濕熱為多，水盛則下之濕寒斯甚。此因水火之衰旺不同，故其上下之寒熱亦殊。而齁喘之家，則上焦之濕熱不敵下焦之濕寒，以其陽衰而陰旺，火敗而水勝也。</p>
<p>此當溫中燥土，助其推遷。降戊土於坎中，使濁陰下泄於水道，升己土於離位，使清陽上達於汗孔。中氣一轉而清濁易位，汗溺一行而鬱悶全消，則肺氣清降，喘阻不作。若服清潤之劑，中脘愈敗，肺氣更逆，是庸工之下者也。</p>
<p><u>柴蘇姜苓湯</u></p>
<p>蘇葉（三錢）　杏仁（三錢）　橘皮（三錢）　半夏（三錢）　茯苓（三錢）　乾薑（三錢）　甘草（二錢）　砂仁（二錢）　生薑（三錢）</p>
<p>煎大半杯，熱服，覆衣。</p>
<p>若皮毛閉束，表邪不解，則加麻黃。若言語譫妄，內熱不清，則加石膏。</p>

<h1>卷八</h1>
<p>清陽長露，爰開七竅，精神魂魄之所發，聲色臭味之所司也。先聖既沒，千載如夢，扶陰抑陽，辭喬入谷，箝娥青之舌，杜儀秦之口，塞瞽曠之耳，膠離朱之目。禍流今古，痛積人神！</p>
<p>僕也，輕試老拳，道宗目眇，略嬰利鏃，夏侯睛傷。雙睛莫莫，原非大眼將軍，一目䀮䀮，竟作小冠子夏。渺爾遊魂，不絕如線，操觚含毫，悲憤橫集，作七竅解。</p>

<h2>七竅解</h2>

<h3>耳目根原</h3>
<p>耳目者，清陽之門戶也。陰位於下，左升而化清陽，陽位於上，右降而化濁陰。濁陰降泄，則開竅於下，清陽升露，則開竅於上。莫濁於渣滓，故陰竅於二便而傳糞溺，莫清於神氣，故陽竅於五官而司見聞。清陽上達，則七竅空明，濁陰上逆，則五官晦塞。晦則不睹，塞則不聞，明則善視，空則善聽。</p>
<p>木主五色，以血藏於肝，血華則為色也。血，陰也，而陽魂生焉，故血之內華者則為色，而魂之外光者則為視。金主五聲，以氣藏於肺，氣發則為聲也。氣，陽也，而陰魄生焉，故氣之外發者則為聲，而魄之內涵者則為聞。</p>
<p>木火升清，清升則陽光外發而為兩目，金水降濁，濁降則陽體內存而為雙耳。蓋神明而精暗，氣虛而血實，外明乃見，內虛乃聞。木火陰體而陽用，魂中有魄，外明內暗，故能見不能聞，金水陽體而陰用，魄中有魂，內虛外實，故能聞不能見。目以用神，耳以體靈，用神則明，體靈則聰。木火之用，金水之體，皆陽也，體善存而用善發，是以聰明而神靈。</p>
<p>耳聾者善視，陽體已敗，故神於用，目瞽者善聽，陽用既廢，故靈於體，所謂絕利一源，用師十倍也。清陽一敗，體用皆亡，濁陰逆上，孔竅障塞，則熟視不睹泰山，靜聽不聞雷霆，耳目之官廢矣。</p>

<h3>目病根原</h3>
<p>目病者，清陽之上衰也。金水為陰，陰降則精盈，木火為陽，陽升則神化，精濁故下暗，神清故上光。而清陽之上發，必由於脈，脈主於心而上絡於目，心目者，皆宗脈之所聚也。（《內經》心者，宗脈之所聚也。又曰：目者，宗脈之所聚也。）宗脈之陽，上達九天，陽氣清明，則虛靈而神發，所謂心藏脈而脈舍神也。（《靈樞經》語）神氣發現，開雙竅而為精明，（《素問》：夫精明者，所以別白黑，視長短。）目者，神氣之所遊行而出入也。竅開而光露，是以無微而不燭。一有微陰不降，則雲霧曖空，神氣障蔽，陽陷而光損矣。</p>
<p>清升濁降，全賴於土，水木隨己土左升，則陰化而為清陽，火金隨戊土右降，則陽化而為濁陰。陰暗而陽明，夜晦而晝光，自然之理也。後世庸工，無知妄作，補陰瀉陽，避明趨暗，其輕者遂焉盲瞽之子，其重者竟成夭枉之民。愚謬之惡，決海難流也！慨自師曠哲人，不能回既霍之目，子夏腎者，不能復已喪之明，況委之愚妄粗工之手，雖有如炬之光，如星之曜，安得不殞滅而亡失乎！</p>
<p>然千古之人，未有如師曠、子夏之明者，所謂盲於目而不盲於心也。古之明者，察於未象，視於無形。夫未象可察，則象為糟粕，無形可視，則形為贅疣。官骸者，必敝之物，神明者，不朽之靈，達人不用其官用其神，官雖止而神自行，神宇泰而天光發，不飲上池而見垣人，不燃靈犀而察淵魚，葉蔽兩目而無遠弗照，云礙雙睛而無幽不燭。如是則聽不用耳，視不用目，可以耳視，可以目聽。此之謂千古之明者，何事乞照於庸工，希光於下士也。</p>

<h4>疼痛</h4>
<p>眼病疼痛，悉由濁氣逆沖。目居清陽之位，神氣衝和，光彩發露，未有一線濁陰。若使濁陰沖逆，遏逼清氣，清氣升發，而濁氣遏之，二氣壅迫，兩相擊撞，是以作疼。而濁氣之上逆，全緣辛金之不斂，金收而水藏之，則濁陰歸於九地之下。金不能斂，斯水不能藏，故濁陰逆填於清位。金水逆升，濁陰填塞，則甲木不得下行，而衝擊於頭目。頭目之痛者，甲木之邪也。甲木化氣於相火，隨辛金右轉而溫水臟，甲木不降，相火上炎，而刑肺金，肺金被爍，故白珠紅腫而熱滯也。手足少陽之脈，同起於目銳眥，而手之三陽，陽之清者，足之三陽，陽之濁者，清則上升，濁則下降。手之三陽，自手走頭，其氣皆升，足之三陽，自頭走足，其氣皆降，手三陽病則下陷，足三陽病則上逆。凡下熱之證，因手少陽三焦之陷，上熱之證，因足少陽膽經之逆，故眼病之熱赤，獨責甲木而不責於三焦也。其疼痛而赤熱者，甲木逆而相火旺，其疼痛而不赤熱者，甲木逆而相火虛也。</p>
<p>赤痛之久，濁陰矇蔽，清陽不能透露，則雲翳生而光華礙。雲翳者，濁氣之所鬱結也。陽氣未陷，續自升發，則翳退而明覆，陽氣一陷，翳障堅老而精明喪矣。其疼痛者，濁氣之衝突。其盲瞽者，清陽陷敗而木火不升也。</p>
<p>木火之升，機在己土，金水之降，機在戊土。己土左旋，則和煦而化陽神，戊土右轉，則凝肅而產陰精。陰精之魄，藏於肺金，精魄重濁，是以沉降，陽神之魂，藏於肝木，神魂輕清，是以浮升。本乎天者親上，本乎地者親下，自然之性也。</p>
<p>脾升胃降，則在中氣，中氣者，脾胃旋轉之樞軸，水火升降之關鍵。偏濕則脾病，偏燥則胃病，偏熱則火病，偏寒則水病，濟其燥濕寒熱之偏，而歸於平，則中氣治矣。</p>
<p><u>柴胡芍藥丹皮湯</u></p>
<p>黃芩（三錢，酒炒）　柴胡（三錢）　白芍藥（三錢）　甘草（二錢）　丹皮（三錢）</p>
<p>煎半杯，熱服。</p>
<p>治左目赤痛者。</p>
<p><u>百合五味湯</u></p>
<p>百合（三錢）　五味子（一錢，研）　半夏（三錢）　甘草（二錢）　丹皮（三錢）　芍藥（三錢）</p>
<p>煎半杯，熱服。</p>
<p>治右目赤痛者。</p>
<p>熱甚加石膏、知母。</p>
<p><u>百合五味姜附湯</u></p>
<p>百合（三錢）　五味（一錢）　芍藥（三錢）　甘草（二錢）　茯苓（三錢）　半夏（三錢）　乾薑（三錢）　附子（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治水土寒濕而上熱赤痛者。或不赤不熱，而作疼痛，是無上熱，去百合，芍藥，加桂枝。</p>
<p><u>茯澤石膏湯</u></p>
<p>茯苓（三錢）　澤瀉（三錢）　梔子（三錢）　甘草（二錢）　半夏（三錢）　石膏（三錢）</p>
<p>煎大半杯，熱服。</p>
<p>治濕熱熏蒸，目珠黃赤者。</p>
<p><u>桂枝丹皮首烏湯</u></p>
<p>桂枝（三錢）　丹皮（三錢）　首烏（三錢）　甘草（二錢）　茯苓（三錢）　半夏（三錢）　乾薑（三錢）　龍眼（十個，肉）</p>
<p>煎大半杯，熱服。</p>
<p>治昏花不明而無赤痛者。</p>
<p><u>桂枝菖蒲湯</u></p>
<p>柴胡（三錢）　桂枝（三錢）　丹皮（三錢）　生薑（三錢）　甘草（二錢）　菖蒲（二錢）</p>
<p>煎半杯，熱服。</p>
<p>治瞳子縮小者。</p>
<p><u>烏梅山萸湯</u></p>
<p>五味（一錢）　烏梅（三錢，肉）　山萸（三錢，肉）　甘草（二錢）　首烏（三錢）　芍藥（三錢）　龍骨（二錢）　牡蠣（二錢）</p>
<p>煎半杯，熱服。</p>
<p>治瞳子散大者。</p>
<p><u>薑桂參苓首烏湯</u></p>
<p>人參（三錢）　桂枝（三錢）　甘草（二錢）　茯苓（三錢）　首烏（三錢）　乾薑（三錢）</p>
<p>煎半杯，溫服。</p>
<p>治目珠塌陷者。</p>
<p><u>芍藥棗仁柴胡湯</u></p>
<p>芍藥（三錢）　甘草（三錢）　首烏（三錢）　棗仁（三錢，生，研）　柴胡（三錢）　丹皮（三錢）</p>
<p>煎半杯，熱服。</p>
<p>治目珠突出者。</p>
<p>醫書自唐以後無通者，而尤不通者，則為眼科。庸妄之徒，造孽誤人，毒流千古，甚可痛恨！謹為洗髮原委，略立數法，以概大意，酌其臟腑燥濕寒熱而用之，乃可奏效。若內傷不精，但以眼科名家，此千古必無之事也。</p>

<h3>耳病根原</h3>
<p>耳病者，濁陰之上填也。陽性虛而陰性實，濁陰下降，耳竅乃虛，虛則清徹而靈通，以其沖而不盈也。目者，木火之終氣，耳者，金水之始基，木火外明，故神清而善發，金水內虛，故氣空而善內。凡大塊之噫氣，生物之息吹，有竅則聲入，聲入則籟發，非關聲音之鉅細也。</p>
<p>窾竅空洞，翕聚而鼓盪之，故聲入而響達，譬之空谷傳聲，萬壑皆振。聲不傳於崇山，而獨振於空谷者，以其虛也。聲之入也以其虛，而響之聞也以其靈，聲入於聽宮，而響達於靈府，是以無微而不聞也。</p>
<p>濁氣一升，孔竅堵塞，則聲入而不通矣。人之衰者，脾陷胃逆，清氣不升，濁氣不降，虛靈障蔽，重聽不聞。陰日長而陽日消，竅日閉而聰日損，氣化自然之數也。然竅閉於天而靈開於人，達者於是，有卻年還聰之術也。</p>

<h4>疼痛</h4>
<p>耳病疼痛，悉由濁氣壅塞。耳以沖虛之官，空靈洞徹，萬籟畢收，有濁則降，微陰不存。若使濁氣升填，結滯壅腫，則生疼痛。久而堅實牢硬，氣阻而為熱，血鬱而化火，肌肉腐潰，則成癰膿。</p>
<p>濁氣之上逆，緣於辛金之失斂，甲木之不降。甲木上衝，聽宮脹塞，相火鬱遏，經氣壅迫，是以疼痛而熱腫。凡頭耳之腫痛，皆甲木之邪也。</p>
<p>手足少陽之脈，俱絡於耳，而少陽一病，則三焦之氣善陷，膽經之氣善逆。耳病之癰腫，盡甲木之為害，於三焦無關也。甲木逆升，相火鬱發，則為熱腫。木邪衝突，則為疼痛。木氣堵塞，則為重聽。仲景《傷寒》：少陽中風，兩耳無所聞。太陽傷寒，病人叉手自冒心，師因教試令咳，而不咳者，此必兩耳無聞也。以重發汗，虛故如此。</p>
<p>耳聾者，手少陽之陰虛，而足少陽之陽敗，耳癰者，手少陽之火陷，而足少陽之火逆也。欲升三焦，必升己土，欲降甲木，必降戊土，中氣不運，不能使濁降而清升也。</p>
<p><u>柴胡芍藥茯苓湯</u></p>
<p>芍藥（三錢）　柴胡（二錢）　茯苓（三錢）　半夏（三錢）　甘草（二錢）　桔梗（三錢）</p>
<p>煎半杯，熱服。</p>
<p>治耳內熱腫疼痛者。</p>
<p>熱甚加黃芩，膿成加丹皮、桃仁。</p>
<p><u>苓澤芍藥湯</u></p>
<p>茯苓（三錢）　澤瀉（三錢）　半夏（三錢）　杏仁（三錢）　柴胡（三錢）　芍藥（三錢）</p>
<p>煎半杯，熱服。</p>
<p>治耳流黃水者。</p>
<p><u>參茯五味芍藥湯</u></p>
<p>茯苓（三錢）　半夏（三錢）　甘草（二錢）　人參（三錢）　橘皮（三錢）　五味（一錢）　芍藥（三錢）</p>
<p>煎半杯，溫服。</p>
<p>治耳漸重聽者。</p>

<h3>鼻口根原</h3>
<p>鼻口者，手足太陰之竅也。脾竅於口而司五味，肺竅於鼻而司五臭。人身之氣，陽降而化濁陰，陰升而化清陽。清則沖虛，濁則滯塞，沖虛則生其清和，滯塞則鬱為煩熱。上竅沖虛而不滯塞，清和而不煩熱者，清氣升而濁氣降也。濁降而清升，故口知五味而鼻知五臭。</p>
<p>而口鼻之司臭味，非第脾肺之能也，其權實由於心。以心竅於舌，心主臭而口主味，鼻之知五臭者，心也，口之知五味者，舌也。心為君火，膽與三焦為相火，三焦升則為清陽，膽木降則為濁陰，三焦陷而膽木逆，清氣降而濁氣升，則鼻口滯塞而生煩熱，臭味不知矣。</p>
<p>而清氣之升，由鼻而上達，濁氣之降，自口而下行。蓋鼻竅於喉，口通於咽，鼻者清氣之所終，口者濁氣之所始也。喉通於臟，咽通於腑，喉者地氣之既升，咽者天氣之初降也。濁氣不降而清氣下陷，則病見於口，清氣不升而濁氣上逆，則病見於鼻。故鼻病者，升其清而並降其濁，口病者，降其濁而兼升其清。</p>
<p>升清之權，在於太陰，太陰陷則乙木不能升其清，降濁之機，在於陽明，陽明逆則辛金不能降其濁。得升降之宜，則口鼻之竅和暢而清通矣。</p>

<h3>鼻病根原</h3>
<p>鼻病者，手太陰之不清也。肺竅於鼻，司衛氣而主降斂。宗氣在胸，衛陽之本，貫心肺而行呼吸，出入鼻竅者也。肺降而宗氣清肅而鼻通，肺逆則宗氣壅阻而鼻塞。涕者，肺氣之熏蒸也。肺中清氣，氤氳如霧，霧氣飄灑，化為雨露，而輸膀胱，則痰涕不生。肺金不清，霧氣瘀濁，不能化水，則凝鬱於胸膈而痰生，熏蒸於鼻竅而涕化。痰涕之作，皆由於辛金之不降也。</p>
<p>肺金生水而主皮毛，肺氣內降，則通達於膀胱，肺氣外行，則熏澤於皮毛。外感風寒而皮毛閉秘，臟腑郁遏，內不能降，外不能泄，蓄積莫容則逆行於鼻竅。鼻竅窄狹，行之不及，故沖激而為嚏噴。肺氣熏騰，淫蒸鼻竅，是以清涕流溢，涓涓而下也。</p>
<p>肺氣初逆，則涕清，遲而肺氣堙郁，清化為濁，則滯塞而膠黏，遲而濁菀陳腐，白化為黃，則臭敗而穢惡，久而不愈，色味如膿，謂之鼻癰，皆肺氣逆行之所致也。其中氣不運，肺金壅滿，即不感風寒而濁涕時下，是謂鼻淵。鼻淵者，濁涕下不止也。（《素問》語。）肺氣之郁，總由土濕而胃逆，胃逆則濁氣填塞，肺無降路故也。</p>
<p><u>桔梗元參湯</u></p>
<p>桔梗（三錢）　元參（三錢）　杏仁（三錢）　橘皮（三錢）　半夏（三錢）　茯苓（三錢）　甘草（二錢）　生薑（三錢）</p>
<p>煎半杯，熱服。</p>
<p>治肺氣鬱升，鼻塞涕多者。</p>
<p><u>五味石膏湯</u></p>
<p>五味（一錢）　石膏（三錢）　杏仁（三錢）　半夏（三錢）　元參（三錢）　茯苓（三錢）　桔梗（三錢）　生薑（三錢）</p>
<p>煎半杯，熱服。</p>
<p>治肺熱鼻塞，濁涕黏黃者。</p>
<p>胃寒，加乾薑。</p>
<p><u>黃芩貝母湯</u></p>
<p>黃芩（三錢）　柴胡（三錢）　芍藥（三錢）　元參（三錢）　桔梗（三錢）　杏仁（三錢）　五味（一錢）　貝母（三錢，去心）</p>
<p>煎半杯，熱服。</p>
<p>治鼻孔發熱生瘡者。</p>
<p><u>苓澤姜蘇湯</u></p>
<p>茯苓（三錢）　澤瀉（三錢）　生薑（三錢）　杏仁（三錢）　甘草（二錢）　橘皮（三錢）　柴蘇葉（三錢）</p>
<p>煎半杯，熱服。</p>
<p>治鼻塞聲重，語言不清者。</p>

<h3>口病根原</h3>
<p>口病者，足陽明之不降也。脾主肌肉而竅於口，口唇者，肌肉之本也。（《素問》語。）脾胃同氣，脾主升清而胃主降濁，清升濁降，則唇口不病，病者，太陰己土之陷而陽明戊土逆也。陽明逆則甲木不降而相火上炎，於是唇口疼痛而熱腫，諸病生焉。</p>
<p>脾胃不病，則口中清和而無味。木鬱則酸，火鬱則苦，金鬱則辛，水鬱則咸，自鬱則甘。口生五味者，五臟之郁，而不得土氣，則味不自生，以五味司於脾土也。心主五臭，入腎為腐。心為火而腎為水，土者水火之中氣，水泛於土則濕生，火鬱於土則熱作。濕熱熏蒸，則口氣腐穢而臭惡。</p>
<p>太陰以濕土主令，陽明從燥金化氣，脾病則陷，胃病則逆。口唇之病，燥熱者多，濕寒者少，責在陽明，不在太陰。然陽明上逆而生燥熱，半因太陰下陷而病濕寒，清潤上焦之燥熱而不助下焦之濕寒，則得之矣。</p>
<p><u>甘草黃芩湯</u></p>
<p>甘草（二錢）　黃芩（二錢）　茯苓（三錢）　半夏（三錢）　石膏（三錢）</p>
<p>煎半杯，熱服。</p>
<p>治濕熱熏蒸，口氣穢惡者。</p>
<p><u>貝母元參湯</u></p>
<p>貝母（三錢）　元參（三錢）　甘草（二錢）　黃芩（二錢）</p>
<p>煎半杯，熱嗽，徐咽。</p>
<p>熱甚，加黃連、石膏。</p>
<p>治口瘡熱腫。</p>
<p><u>桂枝姜苓湯</u></p>
<p>芍藥（四錢）　桂枝（二錢）　乾薑（三錢）　茯苓（三錢）　甘草（二錢）　元參（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治脾胃濕寒，膽火上炎，而生口瘡者。</p>

<h3>舌病</h3>
<p>心竅於舌，舌者，心之官也。心屬火而火性升，其下降者，胃土右轉，金斂而水臟之也。胃逆而肺金失斂。</p>
<p>則火遂其炎上之性，而病見於舌，疼痛熱腫，於是作焉。</p>
<p>火之為性，降則通暢，升則堙郁，鬱則胎生，舌苔者，心液之瘀結也。鬱於土，則苔黃，鬱於金，則苔白，火盛而金燥，則舌苔白澀，火衰而金寒，則舌苔白滑，火衰而土濕，則舌苔黃滑，火盛而土燥，則舌苔黃澀。五行之理，旺則侮其所不勝，衰則見侮於所勝。水者，火之敵，水勝而火負，則苔黑而滑，水負而火勝，則苔黑而澀。凡光滑滋潤者，皆火衰而寒凝，凡芒刺焦裂者，皆火盛而燥結也。</p>
<p>心主言，而言語之機關，則在於舌，舌之屈伸上下者，筋脈之柔和也。筋司於肝，肝氣鬱則筋脈短縮，而舌卷不能言。《靈樞·經脈》：足厥陰氣絕，則筋絕。筋者，聚於陰器而脈絡於舌本，脈弗榮則筋急，筋急則引舌與卵，故唇青舌卷卵縮。足太陰氣絕，則脈不榮其唇舌，脈不榮，則舌萎人中滿。《素問·熱論》：少陰脈貫腎，絡於肺，擊舌本，故口燥舌乾而渴。足三陰之脈皆絡於舌，凡舌病之疼痛熱腫，則責君火之升炎。若其滑澀燥濕，攣縮張長諸變，當於各經求之也。</p>
<p><u>芩連芍藥湯</u></p>
<p>黃芩（三錢）　黃連（一錢）　甘草（二錢）　貝母（二錢，去心）　丹皮（三錢）　芍藥（三錢）</p>
<p>煎半杯，熱服。</p>
<p>治舌瘡疼痛熱腫。</p>
<p><u>桂枝地黃湯</u></p>
<p>桂枝（三錢）　芍藥（三錢）　生地（三錢）　阿膠（三錢）　當歸（三錢）　甘草（二錢）</p>
<p>煎大半杯，溫服。</p>
<p>治肝燥舌卷者。</p>
<p>若中風強舌語拙，或雜證舌萎言遲，皆脾腎濕寒，不宜清涼滋潤，勿服此方。</p>

<h3>牙痛</h3>
<p>牙痛者，足陽明之病也。手陽明之經，起於手之次指，上頸貫頰而入下齒，足陽明之經，起於鼻之交頞，下循鼻外而入上齒。手之三陽，陽之清者，足之三陽，陽之濁者。濁則下降，清則上升，手陽明升，足陽明降，濁氣不至上壅，是以不痛。</p>
<p>手陽明以燥金主令，足陽明以戊土而化氣於燥金，戊土之降，以其燥也。太陰盛而陽明虛，則戊土化濕，逆而不降，並阻少陽甲木之經，不得下行。牙狀者，胃土所司，胃土不降，濁氣壅迫，甲木逆沖，攻突牙狀，是以腫痛。甲木化氣於相火，相火失根，逆行而上炎，是以熱生。蟲牙者，木鬱而為蠹也，甲木鬱於濕土之中，腐敗蠹朽故蟲生而齒壞。</p>
<p>牙齒為骨之餘氣，足少陰腎水之所生也。水盛於下而根於上，牙者，水之方芽於火位而未盛者也。五行之理，水能勝火而火不勝水，水火一病，則水勝而火負，事之常也。而齒牙之位，以癸水之始基，微陰初凝，根痎未壯，一遭相火逆升，熏蒸炎烈，挾焦石流金之力而勝杯水，勢自易易。以少水而爍於壯火，未可以勝負尋常之理相提而並論也。</p>
<p><u>黃芩石膏湯</u></p>
<p>黃芩（三錢）　石膏（三錢）　甘草（二錢，生）　半夏（三錢）　升麻（二錢）　芍藥（三錢）</p>
<p>煎半杯，熱服，徐咽。</p>
<p>治牙疼齦腫。</p>
<p><u>柴胡桃仁湯</u></p>
<p>柴胡（三錢）　桃仁（三錢）　石膏（三錢）　骨碎補（三錢）</p>
<p>煎半杯，熱服，徐咽。</p>
<p>治蟲牙。</p>

<h3>咽喉</h3>
<p>咽喉者，陰陽升降之路也。《靈樞·經脈》；胃足陽明之脈，循喉嚨而入缺盆。脾足太陰之脈，挾咽而連舌本。心手少陰之脈，挾咽而擊目系。小腸手太陽之脈，循咽而下胸膈。腎足少陰之脈，循喉嚨而挾舌本。肝足厥陰之脈，循喉嚨而入頏顙。五臟六腑之經，不盡循於咽喉，而咽為六腑之通衢，喉為五臟之總門，脈有歧出，而呼吸升降之氣，則別無他經也。</p>
<p>六腑陽也，而陽中有陰則氣降，故濁陰由咽而下達，五臟陰也，而陰中有陽則氣升，故清陽自喉而上騰。蓋六腑者，傳化物而不藏，不藏則下行，是天氣之降也，五臟者，藏精氣而不泄，不泄則上行，是地氣之升也。地氣不升則喉病，喉病者，氣塞而食通，天氣不降則咽病，咽病者，氣通而食塞。先食阻而後氣梗者，是臟完而腑傷之也，先氣梗而後食阻者，是腑完而臟傷之也。而總之咽通六腑而胃為之主，喉通五臟而肺為之宗。陽衰土濕，肺胃不降，濁氣堙郁，則病痹塞，相火升炎，則病腫痛。下竅為陰，上竅為陽，陰之氣濁，陽之氣清。清氣涼而濁氣熱，故清氣下陷，則涼泄於魄門，濁氣上逆，則熱結於喉嚨也。</p>
<p><u>甘草桔梗射干湯</u></p>
<p>甘草（二錢，生）　桔梗（三錢）　半夏（三錢）　射干（三錢）</p>
<p>煎半杯，熱嗽，徐服。</p>
<p>治咽喉腫痛生瘡者。</p>
<p><u>貝母升麻鱉甲湯</u></p>
<p>貝母（三錢）　升麻（二錢）　丹皮（三錢）　元參（三錢）　鱉甲（三錢）</p>
<p>煎半杯，熱嗽，徐服。</p>
<p>治喉瘡膿成者。</p>

<h3>聲音</h3>
<p>聲音者，手太陰之所司也。肺藏氣，而氣之激宕則為聲，故肺病則聲為之不調，氣病則聲為之不暢，而氣之所以病者，由於己土之濕。手陽明主令於燥金，手太陰化氣於濕土，陽明旺則金燥而響振，太陰盛則土濕而聲喑。譬之琴瑟簫鼓，遇晴明而清越，值陰晦而沉濁，燥濕之不同也。燥為陽而濕為陰，陽旺則氣聚而不泄，氣通而不塞。聚則響而通則嗚，唇缺齒落而言語不清者，氣之泄也，涕流鼻淵而聲音不亮者，氣之塞也。</p>
<p>然聲出於氣而氣使於神。《靈樞·憂恚無言》：喉嚨者，氣之所以上下者也。會厭者，聲音之戶也。口唇者，聲音之扇也。舌者，聲音之機也。懸雍者，聲音之關也。頏顙者，分氣之所泄也。橫骨者，神氣所使，主發舌者也。蓋門戶之開闔，機關之啟閉，氣為之也。而所以司其遲疾，時其高下，開闔適宜，而啟閉中節者，神之所使也。是故久嗽而音啞者，病在聲氣，中風而不言者，病在神明。聲氣病則能言而不能響，神明病則能響而不能言。聲氣出於肺，神明藏於心，四十九難：肺主五聲，入心為言。緣聲由氣動，而言以神發也。</p>
<p>聞之婦人在軍，金鼓不振。李少卿軍中有女子，擊鼓起士而鼓不鳴。然則調聲音者，益清陽而驅濁陰，一定之理也。</p>
<p><u>茯苓橘皮杏仁湯。</u></p>
<p>茯苓（三錢）　半夏（三錢）　杏仁（三錢）　百合（三錢）　橘皮（三錢）　生薑（三錢）</p>
<p>煎半杯，熱服。</p>
<p>治濕旺氣鬱，聲音不亮者。</p>
<p><u>百合桔梗雞子湯</u></p>
<p>百合（三錢）　桔梗（三錢）　五味（一錢）　雞子白（一枚）</p>
<p>煎半杯，去滓，入雞子清，熱服。</p>
<p>治失聲喑啞者。</p>

<h3>鬚髮</h3>
<p>鬚髮者，手足六陽之所榮也。《靈樞·陰陽二十五人》：手三陽之上者，皆行於頭，陽明之經，其榮髭也，少陽之經，其榮眉也，太陽之經，其榮須也。足三陽之上者，亦行於頭，陽明之經，其榮髯也，少陽之經，其榮須也，太陽之經，其榮眉也。凡此六經，血氣盛則美而長，血氣衰則惡而短。</p>
<p>夫鬚髮者，榮血之所滋生，而實衛氣之所發育也。血根於上而盛於下，氣根於下而盛於上，鬚髮上盛而下衰者，手足六陽之經氣盛於上故也。《靈樞·決氣》：上焦開發，宣五穀味，熏膚，充身，澤毛，若霧露之溉，是謂氣。冬時陽氣內潛，而爪發枯脆，夏日陽氣外浮，而爪須和澤。緣鬚髮之生，血以濡之，所以滋其根痎，氣以煦之，所以榮其枝葉也。</p>
<p>宦者傷其宗筋，血泄而不滋，則氣脫而不榮，是以無須，與婦人正同。然則須落髮焦者，血衰而實氣敗，當於營衛二者雙培，其本枝則得之矣。</p>
<p><u>桂枝柏葉湯</u></p>
<p>首烏（三錢）　桂枝（三錢）　丹皮（三錢）　生地（三錢）　柏葉（三錢）　生薑（三錢）　人參（三錢）　阿膠（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治須落髮焦，枯燥不榮。</p>
<p>黃澀早白，加桑椹、黑豆。陽衰土濕者，加乾薑、茯苓。肺氣不充，重用黃耆，肺主皮毛故也。</p>

<h1>卷九</h1>
<p>瘡瘍之病，因寒邪傷營，血澀氣阻，積鬱成熱，肉腐為膿。陽盛則紅腫而外發，陰盛則黑塌而內陷。其輕則疥癬之疾，其重則腹內之病。</p>
<p>《靈樞》義皙而無方，《金匱》法略而未備，後世外科之家，仰鑽莫入，茫若其言，玉版塵封，金匱云埋。知若亞父，遭此難而身傾，腎如伯牛，構斯疾而命隕，賢智不解其義，而況餘子乎。</p>
<p>往年目病，悔為庸妄所誤，寒泄脾陽，耳後壅腫，清膿如注，又幾誤於外科之手。遊息浮揚，一縷未斷，念之至今病悸，作瘡瘍解。</p>

<h2>瘡瘍解</h2>

<h3>癰疽根原</h3>
<p>癰疽者，寒傷營血之病也。血之為性，溫則流行，寒則凝澀，寒傷營血，凝澀不運，衛氣鬱阻，蓄而為熱，熱盛則肉腐為膿。膿瘀不泄，爛筋而傷骨，骨髓消爍，經脈敗漏，熏於五臟，臟傷則死矣。</p>
<p>癰病淺而疽病深，淺則輕而深則重。癰者，營衛之壅於外也，疽者，氣血之阻於內也。營衛之壅遏，有盛有不盛，故腫有大小。穴俞開而風寒入，寒鬱為熱，隨孔竅而外發，故其形圓。疽之外候，皮夭而堅，癰之外候，皮薄而澤，陰陽淺深之分也。</p>
<p>《靈樞·癰疽》：寒邪客於經脈之中則血澀，血澀則不通，不通則衛氣歸之，不得復反，故壅腫。寒氣化為熱，熱盛則腐肉，肉腐則為膿。癰成為熱，則根原於外寒，故癰疽初起，當溫經而散寒，行營而宣衛。及其寒化為熱，壅腫痛楚，於此營衛遏閉之秋，仍宜清散於經絡。至於膿血潰泆，經熱外泄，營衛俱敗，自非崇補氣血，不能復也。如其經絡陰凝，腫熱外盛，氣血虛寒，膿汁清稀，則更當溫散而暖補之，不可緩也。若夫瘡癤疥癬之類，其受傷原淺，但當發表而瀉衛，無事他方也。</p>
<p><u>桂枝丹皮柴蘇湯</u></p>
<p>桂枝（三錢）　芍藥（三錢）　甘草（二錢）　丹皮（三錢）　蘇葉（三錢）　生薑（三錢）</p>
<p>煎大半杯，熱服，覆取微汗。</p>
<p>治癰疽初起。</p>
<p>《金匱》：諸脈浮數，應當發熱，而反灑淅惡寒，若有痛處，當發瘡癰。癰疽因外感寒邪，傷其營血。營傷而裹束衛氣，衛氣鬱阻，不得外達，故見惡寒。衛鬱熱發，肉腐膿化，則成癰疽。</p>
<p>初起經絡郁遏，必當發表。表解汗出，衛郁透泄，經絡通暢，則腫痛消除，不作膿也。若不得汗，宜重用青萍發之。表熱太盛，用地黃、天冬，涼瀉經絡之郁。衛氣太虛，用黃耆益其經氣。</p>
<p><u>丹皮黃耆湯</u></p>
<p>桂枝（三錢）　桃仁（三錢）　甘草（二錢）　桔梗（三錢）　丹皮（三錢）　生薑（三錢）　元參（三錢）　黃耆（三錢，生）</p>
<p>煎大半杯，熱服。</p>
<p>治皮肉壅腫，癰疽已成者。</p>
<p>熱盛，重用黃耆、天冬、地黃。</p>
<p><u>排膿湯</u></p>
<p>甘草（二錢，炙）　桔梗（三錢）　生薑（三錢）　大棗（三枚）</p>
<p>煎大半杯，溫服。</p>
<p>治膿成熱劇，皮肉鬆軟者。</p>
<p><u>桂枝人參黃耆湯</u></p>
<p>人參（三錢）　黃耆（三錢，炙）　桂枝（三錢）　甘草（二錢，炙）　當歸（三錢）　芍藥（三錢）　茯苓（三錢）　丹皮（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治膿泄熱退，營衛雙虛者。</p>
<p><u>黃耆人參牡蠣湯</u></p>
<p>黃耆（三錢）　人參（三錢）　甘草（二錢）　五味（一錢）　生薑（三錢）　茯苓（三錢）　牡蠣（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治膿泄後潰爛，不能收口。洗淨敗血腐肉，用龍骨、象皮細末少許收之，貼仙靈膏。</p>
<p><u>仙靈膏</u></p>
<p>地黃（八兩）　當歸（二兩）　甘草（二兩）　黃耆（二兩）　丹皮（一兩）　桂枝（一兩）</p>
<p>麻油一斤，黃丹八兩，熬膏，入黃蠟、白蠟、乳香、沒藥各一兩，罐收。膿後潰爛，久不收口，洗淨貼。一日一換，計日平復。</p>
<p><u>大黃牡丹湯</u></p>
<p>大黃（三錢）　芒硝（三錢）　冬瓜子（二錢）　桃仁（三錢）　丹皮（三錢）</p>
<p>煎大半杯，熱服。</p>
<p>治疽近腸胃，內熱鬱蒸者。</p>
<p><u>參耆苓桂乾薑湯</u></p>
<p>人參（三錢）　黃耆（三錢）　甘草（二錢）　茯苓（三錢）　桂枝（三錢）　乾薑（三錢）　丹皮（二錢）</p>
<p>煎大半杯，溫服。</p>
<p>治陰盛內寒，及膿清熱微者。</p>
<p>甚加附子。</p>
<p><u>仙掌丹</u></p>
<p>斑蝥（八錢，去頭翅，糯米炒黃用，去米。川產者良。余處不可用）　前胡（四分，炒）　乳香（一錢，去油）　沒藥（一錢，去油）　血竭（一錢）　元參（四分）　冰片（五分）　麝香（五分）</p>
<p>研細，瓶收。</p>
<p>凡陽證癰疽初起，針破瘡頂，點藥如芥粒，外用膏藥貼之，頃刻流滴黃水，半日即消。重者一日一換，一兩日愈，神效。膿成無用，陰證不治。</p>

<h3>瘰癧根原</h3>
<p>瘰癧者，足少陽之病也。足少陽以甲木而化氣於相火，其經自頭走足，行身之旁，目之外眥，上循耳發，從頸側而入缺盆，下胸腋而行脅肋，降於腎臟，以溫癸水。相火降蟄，故癸水不至下寒，而甲木不至上熱。而甲木之降，由於辛金之斂，辛金之斂，緣於戊土之右轉也。戊土不降，少陽逆行，經氣壅遏，相火上炎，瘀熱搏結，則瘰癧生焉。</p>
<p>肝膽主筋，筋脈卷屈而壅腫，故磊落歷碌，頑硬而堅實也。《靈樞·經脈》：膽足少陽之經，是動則病口苦，心脅痛，缺盆中腫痛，腋下腫，馬刀挾癭。馬力挾癭者，足少陽之脈，循缺盆，挾胸膈，而走脅肋，其經彎如馬刀，而癭瘤挾生也。《金匱》：痹挾背行，若腸鳴，馬刀挾癭者，皆為勞得之。此以勞傷中氣，戊土逆升，少陽經脈降路壅阻，相火鬱蒸，故令病此。</p>
<p>病在筋而不在肉，故堅而不潰，潰而不斂，較之諸瘡，最難平復。而相火升炎，上熱日增，脾腎陽虧，下寒日劇。久而陽敗土崩，遂傷性命。非傷於血肉之潰，乃死於中氣之敗也。</p>
<p>法當培中氣以降陽明。肺胃右行，相火下潛，甲木榮暢而歸根，則瘡自平矣。</p>
<p><u>柴胡芍藥半夏湯</u></p>
<p>柴胡（三錢）　芍藥（三錢）　元參（三錢）　甘草（二錢）　半夏（三錢）　丹皮（三錢）　牡蠣（三錢）　鱉甲（三錢）</p>
<p>煎大半杯，熱服。</p>
<p>上熱甚者，加黃芩、地黃。血虛木燥，加首烏。腫痛，加貝母。膿成，加桔梗。</p>

<h3>癩風根原</h3>
<p>癩風者，風傷衛氣而營郁未盡泄也。衛性收斂，營性發揚，風傷衛氣，開其皮毛，風愈泄則衛愈閉，其性然也。衛閉則營血不得外發，於是鬱蒸而生裡熱。六日經盡，營熱鬱發，衛不能閉，則腫透皮毛，而見紅斑。斑發熱除，則病愈矣。若衛閉不開，斑點莫出，營熱內遏，臟腑蒸焚，則成死證。</p>
<p>風以木氣而善疏泄，其衛氣之閉者，風泄之也，其衛氣之閉而終開者，亦風泄之也。初時感冒，經熱未盛，則氣閉而風不能泄。經盡之後，營熱蒸發，則風泄而氣不能閉，是以疹見。風有強弱之不同，氣有盛衰之非一，風強而氣不能閉，則斑點盡出，氣盛而風不能泄，則斑點全無。</p>
<p>若風氣相搏，勢力均平，風強而外泄，氣盛而內閉。風強則內氣不能盡閉，氣盛則外風不能盡泄，泄之不透，隱見於皮膚之內，是謂癮疹。氣之不透，泄鬱而為癢。癢者謂之泄風，又曰脈風。泄風者，風之未得盡泄而遣熱於經脈之中也。泄風不愈，營熱內郁，久而經絡蒸淫，肌肉腐潰，發為痂癩，是名癩風。</p>
<p>肺司衛氣而主皮毛，衛氣清和，熏膚，充身，澤毛，若霧露之溉焉，則皮毛榮華。衛氣鬱閉，髮膚失其熏澤，故膚腫而毛落。肺竅於鼻，宗氣之所出入。宗氣者，衛氣之本，大氣之搏而不行，積於胸中，以貫心肺而行呼吸者也。衛氣閉塞，則宗氣蒸瘀，失其清肅，故鼻柱壞也。</p>
<p>大凡溫疫中風，發表透徹，紅斑散布，毫髮無郁，必無此病。</p>
<p>法宜瀉衛鬱而清營熱，決腐敗而生新血。經絡清暢，痂癩自平矣。</p>
<p><u>柴蘇丹皮地黃湯</u></p>
<p>蘇葉（三錢）　生薑（三錢）　甘草（二錢）　丹皮（三錢）　芍藥（三錢）　地黃（三錢）</p>
<p>煎大半杯，熱服。覆衣，取汗。</p>
<p>若不得汗，重用青萍發之，外以青萍熱湯熏洗，以開汗孔。汗後用破郁行血之藥，通其經絡，退熱消蒸之劑，清其營衛，腐去新生，自能平愈。</p>
<p>但涼營瀉熱之品，久服則脾敗，當酌加薑、桂行經之藥，不至內泄脾陽，則善矣。</p>

<h3>痔漏根原</h3>
<p>痔漏者，手太陽之病也。手之三陽，自手走頭，足之三陽，自頭走足。手三陽之走頭者，清陽之上升也，足三陽之走足者，濁陰之下降也。足三陽病則上逆而不降，手三陽病則下陷而不升。</p>
<p>《素問·氣厥論》：小腸移熱於大腸，為慮瘕，為沉痔。五行之理，升極必降，降極必升，升則陰化為陽，降則陽化為陰。水本潤下，足少陰以癸水而化君火者，降極則升也，火本炎上，手太陽以丙火而化寒水者，升極則降也。手太陽病則丙火下陷，不上升而化寒水，是以小腸有熱。五臟六腑，病則傳其所勝，以丙火而化庚金，是以移熱於大腸。魄門處大腸之末，丙火傳金，陷於至下之地，是以痔生於肛也。</p>
<p>然病在於二腸，而究其根原，實因於脾。《素問·生氣通天論》：因而飽食，筋脈橫解，腸澼為痔。以過飽傷脾，脾氣困敗，不能消磨，水穀莫化，下趨二腸，而為泄利。泄則脾與二腸俱陷，丙火陷於肛門，此痔病所由生也。</p>
<p>氣統於肺，而肺氣之降者，胃土之右轉也，血藏於肝，而肝血之升者，脾土之左旋也。凡經絡臟腑之氣，皆受於肺，凡經絡臟腑之血，皆受於肝。戊土一降，而諸氣皆降，己土一升則諸血皆升，脾土濕陷，則肝木下鬱而血不上行，故脫失於大便。凝則為慮瘕，流則為沉痔。沉慮者，皆肝血之下陷，無二理也。</p>
<p>《靈樞·邪氣臟腑病形》：腎脈微澀，為不月、沉痔。血流於後，則為沉痔，血凝於前，則為不月，不月即慮瘕也。《金匱》：少陽有寒者，其人下重便血，有熱者，必痔。痔與下重便血，皆丙火之下陷火衰而陷者，則下重便血而不痔，火未衰而陷者，則下重便血而痔生。要之痔家熱在魄門，而脾與小腸，無不寒濕。緣丙火不虛則不陷，陷則下熱而中寒。丙火上升而化寒水者，常也，下陷而不化寒水，是以生熱。陷而不升，故熱在魄門而不在腸胃也。</p>
<p>此病一成，凡遇中氣寒鬱，則火陷而痔發。無論其平日，即其痔發肛熱之時，皆其寒濕內作之會，而醫工不知也。經血陷流，習為熟路，歲久年深，時常滴漏，則為漏病，譬如器漏而水泄也。</p>
<p><u>茯苓石脂湯</u></p>
<p>茯苓（三錢）　丹皮（三錢）　桂枝（三錢）　芍藥（四錢）　甘草（二錢）　乾薑（二錢，炒）　赤石脂（三錢）　升麻（一錢）</p>
<p>煎大半杯，溫服。</p>
<p>治痔漏腫痛下血。</p>
<p>肛熱加黃連，木燥加阿膠。</p>

<h1>卷十</h1>
<p>婦人之證，率與男子無殊，惟其經脈胎產三十六病，則與丈夫不同。其源流通塞，實資於調燮，花萼長消，端賴於栽培。</p>
<p>降自後世，此義遂乖，傷暘谷之忽寒，嘆溫泉之遽冱，泛桃花之巨浪，決瓠子洪波，乃使春華易蔞，秋實難成，胎傷卵破，女德無終，玉折蘭摧，婦怨何極！僕本恨人，痛心在目，作婦人解。</p>

<h2>婦人解</h2>

<h3>經脈根原</h3>
<p>經脈者，風木之所化生也。人與天地相參也，與日月相應也。（《靈樞經》語。）男子應日，女子應月，月滿則海水西盛，魚腦充，蚌蛤實，經脈溢，月晦則海水東盛，魚腦減，蚌蛤虛，經脈衰。月有圓缺，陰有長消，經脈調暢，盈縮按時，月滿而來，月虧而止者，事之常也。</p>
<p>金主收斂，木主疏泄，金斂而木不能泄，則過期不來，木疏而金不能斂，則先期而至，收斂之極，乃斷絕而不行，疏泄之甚，故崩漏而不止。木鬱或中變為熱，水鬱則始終皆寒，其重者，亡身而殞命，其輕者，絕產而不生，非細故也。</p>
<p>其凝而不解者，水寒而木鬱也。腎肝陰旺，經脈凝冱，既堙鬱而腐敗，乃成塊而紫黑，調經養血之法，首以崇陽為主也。</p>
<p>蓋經水之原，化於己土，脾陽左旋，溫升而生營血，所謂中焦受氣取汁，變化而赤，是謂血也。（《靈樞經》語。）血藏於肝而總統於衝任，陰中陽盛，生意沛然，一承雨露，煦濡長養，是以成孕而懷子。譬之於土，陽氣冬藏，水泉溫暖，春木發揚，凍解冰消，暖氣升騰，故萬物生焉。使冬無地下之暖，雖有陽和司令，亦成寒谷不生矣。</p>
<p>後世庸工，全昧此理，滋陰涼血，伐瀉生陽，變膏腴之壞，作不毛之地，推後凋之木，為朝華之草。目擊此風，良深永嘆！仲景垂溫經一法，吹鄒子之暖律，飄虞地之薰風，古訓昭然，來者當熟復而詳味也。</p>

<h3>閉結</h3>
<p>經脈閉結，緣於肝木之郁。血者，木中之津液也，木性喜達，木氣條達，故經脈流行，不至結澀，木氣鬱陷，發生不遂，則經血凝滯，閉結生焉。</p>
<p>乙木既陷，甲木必逆，乙木遏陷，溫氣不揚，則生下熱，甲木沖逆，相火不歸，則生上熱。經脈燔蒸而升降阻格，內無去路，則蒸發皮毛，泄而為汗。汗出熱退，皮毛既闔而經熱又作。熱日作而血日耗，汗日泄而陽日敗，久而困憊尫羸，眠食廢損。人知其經熱之盛，而不知其脾陽之虛，誤以涼營瀉熱之藥投之，脾陽頹敗，速之死矣。其肝膽固屬燥熱，其脾腎則是濕寒，治當分別而調劑之，未可專用清涼也。</p>
<p>蓋木生於水而長於土，乙木之溫，即脾陽之左升也。水寒土濕，木氣不達，抑鬱盤塞，則經脈不通。以其生氣失政而疏泄不行也，未有脾陽健運，木陷而血瘀者。其肝木之陷，咎在於脾，其膽木之逆，咎在於胃。己土不升，則戊土不降，中氣莫運，故四維不轉，非第肝膽之過也。若見其閉結，輒用開通，中氣已虧，再遭攻下，強者幸生，弱者立斃，十全二三，甚非良法也。</p>
<p><u>桂枝丹皮桃仁湯</u></p>
<p>桂枝（三錢）　芍藥（三錢）　丹皮（三錢）　桃仁（三錢）　甘草（二錢）　茯苓（三錢）　丹參（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>上熱，加黃芩。中寒，加乾薑。中氣不足，加人參。血塊堅硬，加鱉甲、䗪蟲。脾郁，加砂仁。</p>

<h3>崩漏</h3>
<p>經脈崩漏，因於肝木之陷。肝木主生，生意暢遂，木氣條達，則經血溫升，不至下泄。生意郁陷，木氣不達，經血陷流，則病崩漏。</p>
<p>木氣疏泄，血臟肝木而不致疏泄者，氣舉之也。氣性降而血性升，氣降於下，又隨肝木而左升，血升於上，又隨肺金而右降。血之在上者，有氣以降之，血之在下者，有氣以升之，是以藏而不泄也。肝木鬱陷，升發不遂，氣愈鬱而愈欲泄。木欲泄而金斂之，故梗澀而不利，金欲斂而木泄之，故淋漓而不收。金能斂而木不能泄，則凝瘀而結塞，木能泄而金不能斂，則滂沛而橫行。</p>
<p>其原全由於土敗。土者，血海之堤防也，堤防堅固，則瀾安而波平，堤防潰敗，故氾濫而傾注。崩者，堤崩而河決，漏者，堤漏而水滲也。緣乙木生長於水土，水旺土濕，脾陽陷敗，不能發達木氣，升舉經血，於是肝氣下郁，而病崩漏也。後世庸醫崩漏之法，荒唐悖謬，何足數也。</p>
<p><u>桂枝姜苓湯</u></p>
<p>甘草（二錢）　茯苓（三錢）　桂枝（三錢）　芍藥（三錢）　乾薑（三錢）　丹皮（三錢）　首烏（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治經漏。</p>
<p><u>桂枝姜苓牡蠣湯</u></p>
<p>甘草（二錢）　茯苓（三錢）　桂枝（三錢）　芍藥（三錢）　乾薑（三錢）　丹皮（三錢）　首烏（三錢）　牡蠣（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治血崩。</p>
<p>氣虛，加人參。</p>

<h3>先期後期</h3>
<p>先期者，木氣之疏泄，崩漏之機也，後期者，木氣之遏郁，閉結之機也。其原總由於脾濕而肝陷，木氣鬱陷，不得發揚，則經血凝瘀，莫能通暢，無論先期後期，血必結澀而不利。</p>
<p>其通多而塞少者，木氣泄之，故先期而至。以經血上行，則血室不見其有餘，必月滿陰盈而後來，血陷則未及一月，而血室已盈，是以來早。其塞多而通少者，木不能泄，則後期而至。以木氣鬱遏，疏泄不行，期過一月，而積蓄既多，血室莫容，然後續下，是以來遲也。</p>
<p><u>桂枝姜苓湯</u></p>
<p>丹皮（三錢）　甘草（二錢）　茯苓（三錢）　首烏（三錢）　乾薑（三錢）　桂枝（三錢）　芍藥（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治經水先期。</p>
<p><u>姜苓阿膠湯</u></p>
<p>丹皮（三錢）　甘草（二錢）　桂枝（三錢）　茯苓（三錢）　乾薑（三錢）　丹參（三錢）　首烏（三錢）　阿膠（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治經水後期。</p>

<h3>結瘀紫黑</h3>
<p>經水結瘀紫黑，血室寒冱而凝澀也。血之為性，溫則行，寒則滯，滯久則堙鬱而腐敗，是以成塊而不鮮。此以土濕水寒，木氣鬱塞之故。庸工謂之血熱，據其木鬱生熱，而昧其水土之濕寒，禍世非小也。</p>
<p><u>苓桂丹參湯</u></p>
<p>丹皮（三錢）　甘草（二錢）　乾薑（三錢）　茯苓（三錢）　桂枝（三錢）　丹參（三錢）</p>
<p>煎大半杯，溫服。</p>

<h3>經行腹痛</h3>
<p>經行腹痛，肝氣鬱塞而刑脾也。緣其水土濕寒，乙木抑遏，血脈凝澀不暢。月滿血盈，經水不利，木氣壅迫，疏泄莫遂，鬱勃衝突，克傷脾臟，是以腹痛。</p>
<p>中氣不運，胃氣上逆，則見噁心嘔吐之證。血下以後，經脈疏通，木氣松和，是以痛止。此多絕產不生。溫燥水土，通經達木，經調痛去，然後懷子。</p>
<p>其痛在經後者，血虛肝燥，風木剋土也。以經後血虛，肝木失榮，枯燥生風，賊傷上氣，是以痛作也。</p>
<p><u>苓桂丹參湯</u></p>
<p>丹皮（三錢）　甘草（二錢）　丹參（三錢）　乾薑（三錢）　桂枝（三錢）　茯苓（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治經前腹痛。</p>
<p><u>歸地芍藥湯</u></p>
<p>當歸（三錢）　地黃（三錢）　甘草（二錢）　桂枝（三錢）　茯苓（三錢）　首烏（三錢）　芍藥（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治經後腹痛。</p>

<h3>熱入血室</h3>
<p>經水適來之時，外感中風，發熱惡寒，七八日後，六經既遍，表解脈遲，熱退身涼而胸脅痞滿，狀如結胸，語言譫妄，神識不清，此謂熱入血室也。以少陽之經，下胸貫膈而循脅裡。少陽厥陰，表裡同氣，血藏於厥陰，熱入血室，同氣相感，自厥陰而傳少陽。甲木逆升，經氣不降，橫塞胸脅，故狀如結胸。君相感應，相火升炎而爍心液，故作譫語。肝主血，心主脈，血行脈中，血熱則心病也。</p>
<p>蓋經下之時，血室新虛，風傷衛氣，衛氣閉斂，營鬱熱發，熱自經絡而入血室，勢所自然。宜清厥陰少陽之經，瀉熱而涼血也。</p>
<p><u>柴胡地黃湯</u></p>
<p>柴胡（三錢）　黃芩（三錢）　甘草（二錢）　芍藥（三錢）　丹皮（三錢）　地黃（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>表未解者，加蘇葉、生薑。</p>

<h3>雜病根原</h3>
<p>婦人之病，多在肝脾兩經。土濕木鬱，生氣不達，奇邪淫泆，百病叢生。而陽虛積冷者多，陰虛結熱者少，以其燥熱在肝膽，濕寒在脾腎。土濕木鬱而生表熱者，十之八九，土燥水虧而生裡熱者，百無一二也。</p>

<h3>帶下</h3>
<p>帶下者，陰精之不藏也。相火下衰，腎水澌寒，經血凝瘀，結於少腹，阻格陰精上濟之路，腎水失藏，肝木疏泄，故精液淫泆，流而為帶。帶者，任脈之陰旺，帶脈之不引也。</p>
<p>五臟之陰精，皆統於任脈，任中陽秘，帶脈橫束，環腰如帶，為之收引，故精斂而不泄，任脈寒冱，帶脈不引，精華流溢，是謂帶下。水下泄則火上炎，故多有夜熱毛蒸，掌煩口燥之證。</p>
<p>而下寒上熱之原，則過不在於心腎，而在於脾胃之濕。蓋氣根於腎，坎之陽也，升於木火而藏於肺，血根於心，離之陰也，降於金水而藏於肝。金性收斂而木性生髮，金隨胃降，收斂之政行，離陰下潛而化濁陰，是心氣涼而水暖，木從脾升，生髮之令暢，坎陽上達而化清陽，是以血溫而火清。陽不鬱則熱不生，陰不鬱則寒不作也。土濕則脾胃不運，陰陽莫交，陽上鬱而熱生於氣，陰下鬱而寒生於血。血寒，故凝澀而瘀結也。</p>
<p>仲景溫經一湯，溫中去濕，清金榮木，活血行瘀，誠為聖法。至於瘀血堅凝，則用土瓜根散，精液滑泄，則用礬石丸，法更密矣。</p>
<p><u>溫經湯</u></p>
<p>人參（三錢）　甘草（二錢）　乾薑（三錢）　桂枝（三錢）　茯苓（三錢）　丹皮（三錢）　當歸（三錢）　阿膠（三錢）　麥冬（三錢）　芍藥（三錢）　芎藭（二錢）　茱萸（二錢）　半夏（三錢）</p>
<p>煎一杯，溫服。</p>
<p>治婦人帶下，及少腹寒冷，久不受胎，或崩漏下血，或經來過多，或至期不來。</p>
<p>陰精流瀉，加牡蠣。瘀血堅硬，加桃仁、鱉甲。</p>

<h3>骨蒸</h3>
<p>骨蒸者，肝木之不達也。肝木生於腎水，陽根在水，春氣一交，隨脾土左升，則化肝木。木氣升發，和煦溫暢，及臻夏令，水中之陽，盡達於九天，則木化而為火。木火生長，是以骨髓清涼，下熱不生。水寒土濕，肝木不升，溫氣下郁，陷於腎水，則骨蒸夜熱，於是病焉，以腎主骨也。</p>
<p>肝木鬱陷而生下熱，則膽木沖逆而生上熱。肝木下陷，必克脾土，膽木上逆，必克胃土。脾胃俱病，上不能容而下不能化，飲食減損，肌肉消瘦，淹滯纏綿，漸至不起。</p>
<p>庸醫不解，以為陰虛，率以滋陰瀉熱之劑，愈敗土氣。土敗陽傷，無有不死也。是宜燥土暖水，升達木氣。木鬱條達，熱退風清，骨蒸自愈。原非陰虛血熱之證，清涼之品，未可過用以伐中氣也。</p>
<p><u>苓桂柴胡湯</u></p>
<p>茯苓（三錢）　甘草（二錢）　丹皮（三錢）　桂枝（三錢）　芍藥（三錢）　柴胡（三錢）　半夏（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>熱蒸不減，加生地、黃芩。蒸退即用乾薑、附子，以溫水土。</p>

<h3>胎妊解</h3>
<p>胎妊者，土氣所長養也。兩精相搏，二氣妙凝，清升濁降，陰陽肇基。血以濡之，化其神魂，氣以煦之，化其精魄，氣統於肺，血藏於肝，而氣血之根，總原於土。土者，所以滋生氣血，培養胎妊之本也。木火以生長之，金水以收成之，土氣充用，四維寄旺，涵養而變化之，五氣皆足，十月而生矣。</p>
<p>土衰而四維失灌，藏氣不厚，則木不能生，生氣不厚，則火不能長，長氣不厚，則金不能收，收氣不厚，則水不能成。生長之氣薄，則胎不發育，收成之氣薄，斯胎不堅完。木火衰乃傷墮於初結之月，金水弱乃殞落於將成之時。</p>
<p>血生於木火，氣化於水金，而土則四象之中氣也，故養胎之要，首在培土。土運則清其火金而上不病熱，暖其水木而下不病寒。木溫而火清，則血流而不凝也，金涼而水暖，則氣行而不滯也，氣血環抱而煦濡之，形神鞏固，永無半產之憂矣。</p>

<h3>結胎</h3>
<p>胎妊之胎，生長資乎木火，收成藉乎金水。土者，四象之母，其絪縕變化，煦濡滋養，全賴乎土，脾以己土而主升，升則化陽而善消，胃以戊土而主降，降則化陰而善受。胎之初結，中氣凝蹇，升降之機，乍而堙郁，沖和之氣，漸而壅滿。其始胃氣初郁，滋味厭常而喜新。及其兩月胎成，則胃氣阻逆，噁心嘔吐，食不能下。遲而中氣迴環，胃土續降，然後能食。</p>
<p>胃土降，則心火下行而化水，脾土升，則腎水上交而化火，胎氣在中，升降不利，乃水偏於下潤而火偏於上炎。水潤下者，火不交水而坎陽虛也，火炎上者，水不濟火，而離陰弱也，是故妊娠之證，下寒而上熱，妊娠之脈，尺微而寸洪。仲景《金匱》：婦人得平脈，陰脈小弱，其人渴，不能食，無寒熱，名妊娠，寸為陽，尺為陰，陰脈小弱者，尺之微也。《素問·平人氣象論》：婦人手少陰脈動甚者，妊子也。手少陰之經，循臑內後廉，而走小指，脈動在神門，（神門！在掌後銳骨之中。）雖非寸口，然太陰之左寸，亦可以心候，神門脈動者，寸口必動。手少陰脈動者，寸之洪也。推之，左寸脈動者，右寸必動，男胎動於左寸，女胎動於右寸，亦自然之理也。十九難：男脈在關上，女脈在關下。男子寸大而尺小，女子寸小而尺大者，常也。</p>
<p>胎氣一結，虛實易位，大小反常，緣於中氣之壅阻也。陰陽郁格，最易為病，法宜行郁理氣為主，未可遽用填補之劑也。</p>
<p><u>豆蔻苓砂湯</u></p>
<p>白蔻（一錢，生，研）　杏仁（二錢）　甘草（一錢）　砂仁（一錢，炒，研）　芍藥（二錢）　丹皮（三錢）　茯苓（三錢）　橘皮（一錢）</p>
<p>煎大半杯，溫服。</p>
<p>治胎孕初結，噁心嘔吐，昏暈燥渴。</p>
<p>證緣中氣鬱阻，胃土不降，以此開鬱降濁，清膽火而行肝血。內熱加清涼之味，內寒加溫暖之品，酌其臟腑陰陽而調之。</p>

<h3>墮胎</h3>
<p>胎之結也，一月二月，木氣生之，三月四月，火氣長之，五月六月，土氣化之，七月八月，金氣收之，九月十月，水氣成之，五氣皆足，胎完而生矣。而土為四象之母，始終全藉乎土，土中陽旺，則胎氣發育，十月滿足，不至於墜。</p>
<p>蓋胎妊之理，生髮乎木火，收藏於金水，而四象之推遷，皆中氣之轉運也。陽蟄地下，左旋而化乙木，和煦溫暢，萬物資生者，己土之東昇也，陰凝天上，右轉而化辛金，清涼肅殺，萬寶告成者，戊土之西降也。木升火化而胎氣暢茂，金降水生而胎氣堅完。生長之氣衰，則胎墜於初結，收成之力弱，則胎殞於將完，其實皆土氣之虛也。土生於火而克於木，火旺則土燥而木達，火衰則土濕而木鬱。乙木鬱陷，而克己土，土氣困敗，胎妊失養，是以善墜。</p>
<p>胎妊欲墜，腰腹必痛，痛者，木陷而剋土也。木生於水而長於土，土濕水寒，乙木乃陷。三十六難：命門者，諸精神之民舍，原氣之所繫，男子以藏精，女子以擊胞。命門陽敗，腎水澌寒，侮土滅火，不生肝木，木氣鬱陷，而賊脾土，此胎孕墜傷之原也。</p>
<p><u>薑桂苓參湯</u></p>
<p>甘草（二錢）　人參（三錢）　茯苓（三錢）　乾薑（三錢）　桂枝（三錢）　丹皮（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>腹痛，加砂仁、芍藥。</p>

<h3>胎漏</h3>
<p>結胎之後，經水滋養子宮，化生血肉，無有贏餘，是以斷而不行，其胎結而經來者，必有瘀血阻格。緣胎成經斷，血室盈滿，不復流溢。肝脾陽弱，莫能行血，養胎之餘，易致堙瘀。瘀備蓄積，阻礙經絡，胎妊漸長，隧道壅塞。此後之血，不得上濟，月滿陰盈，於是下漏。按其胎之左右，必有癥塊。或其平日原有宿癥，亦能致此。</p>
<p>若內無瘀血，則是肝脾下陷，經血亡脫，其胎必墜。若血下而腹痛者，則是胞氣壅礙，土鬱木陷，肝氣賊脾也，《金匱》名為胞阻。</p>
<p>宜疏木達郁，而潤風燥，其漏血腹痛自止。</p>
<p><u>桂枝地黃阿膠湯</u></p>
<p>甘草（二錢）　地黃（三錢）　阿膠（三錢）　當歸（三錢）　桂枝（三錢）　芍藥（三錢）　茯苓（三錢）　丹皮（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治妊娠下血腹痛者。</p>
<p><u>桂枝茯苓湯</u></p>
<p>桂枝（三錢）　茯苓（三錢）　甘草（二錢）　丹皮（三錢）　芍藥（三錢）　桃仁（三錢）　</p>
<p>煎大半杯，溫服。</p>
<p>治妊娠下血，癥塊連胎者。</p>
<p>輕者作丸，緩以消之。</p>

<h3>產後根原</h3>
<p>產後血虛氣憊，諸病叢生，病則永年畢世，不得平復。彌月之後，氣血續旺，乃可無慮。蓋妊娠之時，胎成一分，則母氣盜泄一分，胎氣漸成，母氣漸泄，十月胎完，而母氣耗損十倍。尋常不過數胎，而人已衰矣。母氣傳子，子壯則母虛，自然之理也。</p>
<p>但十月之內，形體雖分，而呼吸關通，子母同氣，胎未離腹，不覺其虛。及乎產後，胎妊已去，氣血未復，空洞虛豁，不得充灌，動即感傷，最易為病。胎時氣滯血瘀，積瘀未盡，癥瘕續成者，事之常也。氣血虧乏，脾虛肝燥，鬱而剋土，腹痛食減者，亦復不少。而痙、冒、便難，尤為易致，是謂產後三病。</p>
<p>血弱經虛，表疏汗泄，感襲風寒，是以病痙。痙者，筋脈攣縮，頭搖口噤，項強而背折也。氣損陽虧，凝郁內陷，群陰閉束，是以病冒。冒者，清氣幽埋，不能透發，昏潰而迷罔也。津枯腸燥，陰凝氣結，關竅閉澀，是以便難。便難者，糟粕艱阻，不得順下，原於道路之梗塞，非關陽旺而火盛也。</p>
<p>總之，胎氣生長，盜泄肝脾，土虛木賊，為諸病之本。土氣不虧，不成大病也。</p>
<p><u>桃仁鱉甲湯</u></p>
<p>桃仁（三錢）　鱉甲（三錢）　丹皮（三錢）　丹參（三錢）　桂枝（三錢）　甘草（二錢）</p>
<p>煎大半杯，溫服。</p>
<p>治瘀血蓄積，木鬱腹痛者。</p>
<p>內熱，加生地。內寒。加乾薑。</p>
<p><u>桂枝丹皮地黃湯</u></p>
<p>桂枝（三錢）　芍藥（三錢）　甘草（二錢）　丹皮（三錢）　地黃（三錢）　當歸（三錢）</p>
<p>煎大半杯，溫服。</p>
<p>治脾虛肝燥，木鬱剋土，腹痛食減，渴欲飲水者。</p>
<p>氣虛，加人參。水寒土濕，加乾薑、茯苓。</p>
<p><u>桂枝栝蔞首烏湯</u></p>
<p>桂枝（三錢）　芍藥（三錢）　栝蔞根（三錢）　首烏（三錢）　生薑（三錢）　大棗（三枚）　甘草（二錢）</p>
<p>煎大半杯，溫服。</p>
<p>治風傷衛氣，而病柔痙，發熱汗出者。</p>
<p><u>葛根首烏湯</u></p>
<p>桂枝（三錢）　芍藥（三錢）　甘草（二錢）　葛根（三錢）　麻黃（一錢）　首烏（三錢）　生薑（三錢）　大棗（三枚）</p>
<p>煎大半杯，溫服。</p>
<p>治寒傷營血而病剛痙，發熱無汗者。</p>
<p><u>桂枝茯苓人參湯</u></p>
<p>人參（三錢）　甘草（二錢）　茯苓（三錢）　桂枝（三錢）　生薑（三錢）　大棗（三枚）</p>
<p>煎大半杯，溫服。</p>
<p>治陽虛鬱冒。</p>
<p><u>蓯蓉杏仁湯</u></p>
<p>甘草（二錢）　杏仁（二錢）　白蜜（一兩）　肉蓯蓉（三錢）</p>
<p>煎大半杯，入白蜜，溫服。</p>
<p>治津虧木燥，大便艱難。</p>
<p><u>薑桂苓砂湯</u></p>
<p>茯苓（三錢）　甘草（二錢）　乾薑（三錢）　桂枝（三錢）　芍藥（三錢）　砂仁（一錢）</p>
<p>煎大半杯，入砂仁末，溫服。</p>
<p>治飲食不消。</p>

<h1>黃先生醫書八種後跋</h1>
<p>黃氏醫書，向止刻四種，見常州張氏《宛鄰叢書》中，近聞牌亦毀，餘四種，無刻本。道光戊戌，閔在南昌，從包慎伯年丈假得鈔本，與陳廣夫三兄各僦人謄出，同學中遂多有寫本矣。</p>
<p>頃客閩學使徐侍朗，幕攜八種在篋。談次及之，侍朗於黃氏素有元賞，又濟世壽民之念，隨在湧溢，不能自已，盡付剞劂，以廣流傳。又念按臨各屬，不能攜校，同事黃學博元坤，深於此事，遂留之署中，屬專校讎，一再審定，致為不苟。考張刻四種，即有訛奪，寫存之本，舛互益甚。長沙二書，黃氏移易舊第，彌費尋繹。學博既詳，覆之侍朗，又精勘之。雖掃葉拂塵，昔人所嘆，然大體完善矣。回思昔日傳鈔之勞，一旦海內人得佳本，玉楸之道昌，靈蘭之術正，侍郎之盛心，不可及也已。</p>
<p><u>江右楊希閔鐵備謹跋</u></p>
