<header data-type="book">
<h1>少小嬰孺方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>孫思邈</dd></div>
<div><dt>朝代</dt><dd>唐</dd></div>
<div><dt>底本</dt><dd>日本文政十三年偷閑書屋刊本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀001462）</dd></div>
</dl>
</header>
