<header data-type="book">
<h1>醉花窗醫案</h1>
</header>
<h2>書論</h2>
<p>醫書始內經，賅括群言，為醫家之祖．後仲景之傷寒論，河間之瘟疫，東垣十書，丹溪心法四大家如日月行天，江河在地，前輩論之詳矣。然其卷帙浩繁，學者不免望洋而歎。近則欽定醫宗金鑒一書，兼集諸家之長而條貫之，又分門別類，編為歌訣，使學者便於記誦，誠此道之津梁也。學者誠能熟讀精思，本之仲景以正其源，參之河間以窮其變，內傷則法乎東垣，滋補則遵之丹溪，其於斯道，思過半矣。再能博極群書，自有左右逢源之妙。於是得兔忘筌，得意忘言，未有不精妙入神者，每見吾鄉業斯道者，叩其書，小則壽世保元，醫宗必讀，大則景岳全書，張氏類經，是書豈為不善，無奈學者執一以求，胸中頭緒不清，手下必歧誤雜出，雖背誦內經無益也。噫！難言矣。</p>
<p>醫書中方藥之多，無過許景亮之東醫寶鑒，有一病而錄數十方者，學者苟無根底，按而用之，反多遺誤。惟其每論一症，必集諸家之說列於前，實為簡便。甚至矛盾抵牾者，非胸有成竹，烏有別其是非哉！</p>
<p>孫真人海上方，藥味不多，施之輒有神效。至千金衍義則說多神奇，用圓（丸），用散，多至數十味，且有用玉屑，珊瑚，空青，石膽者，窮鄉僻壤，何能有是，學者求其說焉可也。</p>
<h2>陰熱目痛</h2>
<p>郭鶴軒名昌年，醫士也，貨藥於鄉。甲辰夏，忽患目痛，因自知醫，用黃連、山梔、菊花、薄荷之類清之，轉益增劇。不得已，延余視之。觀其不紅至少腫，又無翳障，惟黑珠起紅一點。診其脈搏，沉數細弱，知為陰虛血熱，鬱於肝臟，無怪寒涼之不應也。因以杞菊地黃湯易生地而投之。一服而疼減，三服而紅點除，疼全止矣。遂設席請教，乃告之曰：凡眼疾有內外之分，前人雖謂眼無火不病，然火有虛實，病有內外。如暑天酷熱，天行暴腫，羞澀難開，此外症也，但用黃連、蟬蛻等洗之即可。如濕熱內淫，脾胃鬱火，因而攻目，必兼頭暈口渴、上下眶暴腫，此內實熱也。可下之。若夫不紅不腫，又無翳障，斷為陰熱無疑。君用寒涼，截其發生之源，能無增劇乎。經云：「陰虛生內熱」。又云：「乙癸同源」。又云：「壯水之主，以制陽光」。合此數者觀之，其用丹溪之法必矣。若夫陰虛而寒必生翳障，轉成大症，又不可同日而語矣。鶴翁乃謝不敏。</p>
<h2>痰結肺胃咳喘暈絕</h2>
<p>刑部主政楊星臣，寧鄉人，與余為前後同年，喘咳廿餘年。每咳甚，或至暈絕不醒。醫藥不啻百數，而終罔獲效。在星槎侍禦處談及其病，喟然長歎，憂形於色。余問君服何藥？星翁云：「醫家皆謂余好內陰虧，所服藥皆滋補劑。年近五旬，不敢強辯，然心竊非之。」余問：「君發嗽時，面赤氣急否？」曰：「實有之，不自知也。」次早星翁即來求予診視，因診其右寸關脈堅凝而滑，幾乎搏指，余則平平。乃曰：滑者痰象也，堅凝者，痰結也，見於部寸關之間，蓋頑痰結於肺胃之管。肺為清道，胃為濁道，兩道為痰所壅，故甚則暈絕也。此病非湯劑可療，非礞石滾痰丸下之不可。星翁曰：歧黃家畏礞石如砒毒，何可入口？余曰：然則先賢留此方，為毒人耶？君試服之，如誤，當甘庸醫殺人之罪。星翁見余言確有定見，乃市三錢服之，臥後覺胸膈煩擾，欲吐不吐，不移時，中脘漉漉，解下黑穢數碗，倦而歸寢，爽適異常，至曉而若失矣。急驅車揖余，謝曰：「奇哉！奇哉！君有膽有識，三錢藥去數十年之病，孫思邈之神奇，不是過也。諸醫謂余陰虧，抱此不白之冤久矣，得君並雪是恥，感銘何既？」至今函劄往來，猶時時道謝也。</p>
<h2>陰虛內熱身面皆赤</h2>
<p>星槎侍禦之女，年十三，能讀葩經、四子書，唐詩古文，略皆上口。寫畫亦頗有法度。星槎愛如拱璧。乙卯夏，偶患發熱，身面皆赤。延醫視之，或曰瘟疫也，用藿香正氣散；或曰過食生冷，陽鬱於脾也，用散火湯；或曰中暑，用香薷飲；或曰實火，用承氣湯、天水散，而皆不效。急遣紀綱迎余。問曰：頭痛乎？曰否，然則非瘟疫也。問腹痛吐瀉乎？曰否，然則非中暑也。問捫之炙手乎？曰否。然則非脾鬱也；問煩渴出汗乎？曰否，然則非實火也。余曰：既無此數者，必午後轉甚也。曰然。且眼黑耳鳴也。曰然。且口乾咽痛也。曰然。星槎驚曰：尚未診脈，何瞭若指掌如是。余曰：此為陰虛內熱，既非彼，則在此。症如是，脈必沉數，不必診也。投以大劑歸芍地黃湯，加生地、蟬蛻。二服而愈。星槎謝曰：他人診脈，移時不放，立方之際，不勝遲疑，君寥寥數語，所見如是其捷，奏效如是其速，非絕頊聰明曷有此哉！余謝過獎。</p>
<h2>紅沙危症昏不知人</h2>
<p>寅春，同鄉尋管香太史，在文昌館作團拜，申未之交忽患身疼，眾以為坐久而倦也。囑之少息，晚餐初上，竟命駕歸矣，次早張太常炳堂，專車迎余，問何為？曰：管香病篤危在傾刻。其紀綱乃多年舊人，涕泣長跪，求余救主人之命，余曰：昨在會中尚同席，何至如是？因係心腹交，不暇櫛沐，而往視之。四肢椎床，昏不知人，提腕診脈，無一絲可見；按太奚，則沸如湧泉，心頭突突亂動。余曰：此紅痧也，症雖危，卻無礙。乃刺其委中、尺澤，出黑血半盞，神氣稍定。急進柴葛解肌湯灌之，因囑眾人勿動，後半日當有紅紫點發於肢體，晚再進一劑，明早當再來也。越日往視，炳堂太常迎門云，君言果驗，此時紫斑夾痧而發，遍身如塗，而心地清明，約無害也，已進粥矣。余驚曰，誰使食粥！痧最惡粥，恐增劇也。炳堂又惶恐自怨。逮余入，又手足亂動，煩悶顛倒矣。急取麥芽湯灌之，始少安。晚以犀角地黃湯解其熱，又以小陷胸湯解其煩，越五日而病安。惟餘熱未清，身如束縛。余曰：血熱傷陰，固應爾爾。命服滋補之劑，半月而後，安然如常矣。</p>
<h2>霍亂吐瀉</h2>
<p>管香病癒未一月，其兄偉卿大令，在都候選，忽有友人招飲，醉飽之余，又苦炎熱，自恃氣半咆西瓜一顆。臣後覺腹中絞痛，吐瀉並作，夜已四更，遣人招余。余詢其由知為霍亂，命服藿香正氣丸，不必往視也。其家人逼之不已，疑予深夜懶行，因隨之去。見偉卿呻吟不已，腹膨膨如鼓。余笑曰：西瓜作怪也。問小便利否？曰否。乃命其家人循腹極力推下之，不十度，腹中漉漉有聲，溺下數碗，而痛少止矣。因仍使服藿香正氣丸。次午衣冠來謝曰：西瓜如此可惡，余當與絕交也。為之一笑。</p>
<h2>脾虛失運大便不通</h2>
<p>薛鶴亭侍禦名嗚皋，陵川人，古道照人。在吏部時掌選事，胥吏不敢欺以隱。後作禦使，數條奏忤上旨，而公正無阿識者服焉。甲寅夏，其夫人患大便不通，醫士或以為實熱，投承氣湯不效；或以為腸燥，投火麻仁亦不效；或以為食滯，投平胃散，通而旋塞。延余治之。診其六脈微弱，右關尤甚，右尺脈細如絲。乃曰：此脾虛不能轉運故也。遂立四君平胃湯，重用潞參至一兩。鶴翁曰：病苦不通，塞之不轉劇乎？余曰：君不識此。內經云：「塞因寒用」。蓋人大小二便，全憑中氣轉運中氣不攝，則泄瀉；中氣太虛，則不能下送。夫人之病，非不欲不便，蓋欲便而不下也。今以四君提其中氣，平胃散調其胃氣，再不通者事不復為此矣。晚即照方服之，次早即便數下，肚腹空虛，精神爽健，早餐已進三碗矣。午後來信云：同內之病，已十去八九，何神若是，昨日之言，思之不得其解，願暇時一請教也。次日即來拜謝。余曰：君未讀醫書，誠難下也。人之脾胃，何獨不然。鶴翁曰：聞所未聞，今乃知大便不通之不無虛證也。遂與余為至交焉。</p>
<h2>邪風中府卒然昏噤</h2>
<p>商人穆棲桐，吾介東鄉人也。在京為號中司事。體素肥胖，又兼不節飲食。夏有友人招飲，灑後出飯肆，卒然錯噤，口不能言，四肢不能運動，胸腹滿閉，命在旦夕，車載而歸。其契友南方人，頗知醫，以為癱也，用續命湯治之，數日無效。乃轉托其同事延余視之，余診其六脈緩大，惟右關堅欲搏指，問其症，則不食、不便、不言數日矣。時指其腹，作反側之狀。余曰：癱則癱矣，然邪風中府，非續命湯所能療，必先用三化湯下之，然後可療，蓋有餘症也。南醫意不謂然，曰：下之亦恐不動。余曰：下之不動，當不業此。因立進三化湯，留南醫共守之。一飯之際，病者欲起，腸中漉漉，大解穢物數次，腹小而氣定，聲亦出矣。惟舌根蹇澀，語不甚可辨，伏枕視余，叩頭求命。因問南醫曰：何如？南醫面赤如丹，轉瞬間鼠竄而去。因命再服二劑，神氣益清。用龜尿點其舌，言亦漸出。不十日鋪東逼之歸家。余在京供職，今不知其如何也。</p>
<h2>食積致痢</h2>
<p>又有銀商，忘其名，夏得痢疾，醫家以為火，用承氣湯下之，逐日下數十次，又一醫以為虛，補之，痢下止而胸滿腹脹，委頓不起。司事者懼其死，邀伊表兄某引之出鋪，在寺中憑一屋居之，又十餘日醫藥罔效。其表兄已為市殮具矣。一日午飯後其表兄來請曰：舍親病重，恐嚇不能起，聞閣下脈理清真，欲往駕，以決生死，如可敬延半月。擬即遣之還家，較勝歿於旅舍也。余隨而往視，屋中臭不可近，急命舁置他處，見其合眼朦朧，轉側之，並不知矣。提腕而診之，俱微弱沉細，然至數勻稱，惟右關獨大，按之搏指。乃曰：此病因食積致痢，初醫下其火，未去其食也。此時必肚腹膨脹，醒時見食作嘔，病雖危，不惟不即死，並可生也。其表兄曰：果爾，請治之。乃以平胃散加神麯、麥芽等類進之，至夜解下穢物極多，腹平而知人矣。越日視之，脈小而氣虛。因以真人養臟湯固其痢，三劑而痢止，略進食矣。因繼以人參養榮丸半月而健。余當其病時曾見二次，不識其人，越兩月，有以靴帽等踵門而謝者，不知何人，入門自稱乃前病痢者也。叩頭不起謝曰：蒙先生再生之恩，不惟病癒，且健壯勝於往日，銜環結草所不惜也。余卻其物而善遣之。</p>
<h2>脾濕痰暈</h2>
<p>祁壽陽相國，予告京居，素有頭暈疾，每發則嘔逆旋轉欲跌。延醫數輩，皆以為虛，參耆之類，久不離口，而病終不去。風天陰則轉甚。一日雨後無事，邀余閒談，並求一診，見其左寸獨虛，右三部俱滑而緩，並見弦象。乃曰：老師勞心過度，脾濕停痰，且時瀉時止，身體重困，非燥濕祛痰不可，而古人云治痰不理脾胃，非其治也，非健脾不可。脾健則痰消，痰消則暈止，相因之勢也。乃進以香砂六君子加益智、澤瀉之類。五服而暈全除矣。繼相國邀晚餐，席間告同鄉云，頭暈屬痰，此語未經人道。潤園為此語，吾始不信，服其藥，竟去宿恙，非深明脈理，何能見及於此。余謝不敏。</p>
<h2>中風臂痛</h2>
<p>仲秋又苦臂痛，使部曹某治之，乃為部曹述前病，並道余治之之法。部曹乃因而附會曰：王某之言誠然，今之臂痛，仍係痰之為害，不早除之成癱瘓。乃以大秦艽湯進。藥甫入口，痛益增，不可屈伸，次早而寢食俱廢。仍使其子子禾部郎延余，急往視之，脈浮而弱，而津津有汗出，而神氣清明，語言便利。乃告相國曰：此肩臂中風而痛，病極微末，部曹小題大做，用秦艽湯，豈知秦艽湯以十全大補為主，風在皮膚，以疏發腠理為要，茲用參耆固之，豈非益之痛乎。老師勿為所惑，藥三進必無苦矣。因進東垣羌活勝濕湯，加威靈仙、蒼朮、各二錢，一進而痛減，三進而若失。越日談及，曰：中風之言不謬，余以書名，持紙素索書者頗多，因循堆積未暇搦管，爾日無事，開窗作字，窗外多竹，適風起覺冷，晚而痛作。子言之，余憶之矣。然何以所用皆汗藥？余曰：老師營心經濟，醫道小技，究未深考，羌活、藁本，乃太陽皮膚疏散之藥，非發汗也。汗症用之者，以其能開腠理，非能動汗也。相國驚曰：此言更覺入微，醫家多不識此，可謂才大於身，心細如發矣。君少年乃造詣如此，將來必歧黃中自樹一幟，勉之哉！具此才思，早綴高科，老夫當避三舍。余惶愧而退。在陝需次時，相國來書，尚稱之不已。</p>
<h2>肝熱鬱血</h2>
<p>相國之長媳,子禾之夫人也。性頗暴，而相國家法綦嚴，鬱而腹脹，月事不至者兩度，人世間以為孕，置而不問，且子禾未獲嗣，轉為服保胎藥，則脹而增痛．一日子禾公退，偕與往視，診其左關弦急，乃肝熱鬱血．以逍遙散合左金丸處之，子禾恐其是胎，疑不欲服，余曰：必非胎，若胎則兩月何至如是，請放心服之．勿為成見所誤。乃服二帖，腹減氣順，惟月事不至．繼以加味烏藥湯，兩日而潮來．身爽然矣，至是每病必延余，雖婢僕乳媼染微恙，皆施治矣。</p>
<h2>脾勞過食誤下致危</h2>
<p>商友王定安庵，幼在京，權子母，工於心計而貪詐蝟鎖，兼嗜麵食，年四十後，得脾勞病，遇冬更甚，醫藥數年矣。余常勸其節食節勞，而以經營生息，刻無暇晷。每食過飽，則痰嗽喘滿，終夜不寢。壬子冬，疾增劇，乃俯余治。余進以健脾諸品，痰嗽少止，而狂啖如故，因之時發時愈。病甚則服藥，稍痊則不肯，余以其不能調攝，置之不問。年終，風事匆匆，勞擾更甚，一日早起，則面目四肢俱浮腫，而煩滿益不堪，余告其同事曰：脾絕矣。尚未立春，雖交木令，尚可到家，立春後則不能矣。蓋肝木克脾土，促春必難過也。同事者不為意，延之。繼請一同鄉醫視之，則曰：此水病，下之則愈矣。問用何藥？則曰：舟車丸。余力陳不可，而病者誤信之，急服三錢，腫未減，而臥不能興。診其脈若有若無。同事惟恐其歿於鋪，急覓車傅人送還，出京甫數日，歿於松林店。計其時，立春後五日也。籲！人生固有命，而始則不知愛養，繼則不信良言，迨疾不可為，又信庸醫，以速成其烈屬，亦愚之甚至矣。故錄之，以為不知調攝者戒。</p>
<h2>寒瘧誤治</h2>
<p>茶商某，忘其名，在都中，夏得瘧病。醫藥數進，而午後必寒戰經時許。沉綿者數月，漸至體膚削減，飲食少進，出入隨人扶掖，又年過五旬，獲利不豐，家無子嗣，言必長歎，已不作生活計矣。適秋間，余到其鋪，有契友田時甫扶之來求余治。見其面若敗灰，氣息僅屬，診其脈，則六部皆沉細遲微，右關更不三至。乃曰：此固瘧疾，然瘧係外感，初發時，解之清之，無不愈者。君病時所服，必草果，常山等劫藥，中氣本屬虛寒，再克伐之，必無痊日。此時滿腹虛寒，中氣大餒，仍作瘧疾治，是速其斃也。時甫曰：尚可治否？乃云：六脈雖虛，毫無壞象，何至不治。因進以附子理中湯，越日而寒戰去。再進以補中益氣湯加白芍、白蔻、肉桂數種。五日而飲食進，半月後如常矣。</p>
<h2>酒肉內傷感寒生痰</h2>
<p>裕州刺史李蓮舫，幼與余為文字交，以辛亥孝廉由議敘得州牧，在京候選，與余同住襄陵會館，寢饋共之，每日與各相好宴樂，暮出夜歸，風寒外感，且數中煤煙毒最可畏。一日余臥中夜尚來起，其弟小園促之曰：家兄病甚，速請一視。余急披衣視之，渾身顫汗，轉側不安。問之，則胸中煩悶特甚，欲吐不吐，且心頭突突動。急提左手診之，則平平無病狀，余曰：病不在此也。易而診右，脈寸關滑而泉湧。乃曰：此酒肉內薰，風寒外搏，且晚間煤火，漸而生痰。乃以二陳湯加麥芽、山楂、神麯，並芩、連、枳實等立進之，刻許安臥，至巳刻急起如廁，洞下紅黃色穢物數次，午後胸平氣定，進粥一盂。又欲趨車外出與友人作消寒之會，余急止之曰，朝來顛倒之苦竟忘之耶。一笑而罷。</p>
<p>後臘月蓮舫西歸，余移與小園同榻，一日天未明，聞小呻吟甚急，起而視之，病症脈象與蓮舫無少區別。乃曰：君家昆玉，真是不愧，乃以治蓮舫之藥治之，所下與蓮舫同，其愈之速亦同。晚間其僕乘間言曰，家主兄弟之病，幸老爺一人治之，若再易一醫，必別生枝節，支曼不清矣。其言近閱歷者，乃首頷之。</p>
<h2>飽食冷飲凝結不通</h2>
<p>余在京用庖人某，忘其名，拙藝粗才，百無一長，以奔走枵餓之腹，驟得飽餐，啖飲兼數人之量。又常飲涼水，眾止之，曰：余慣此，不吃茶也。一日忽患腹痛，少食輒吐，大便閉，汗出如雨，呼號輾轉，眾以為急症。余曰：此飽食傷胃，兼冷水凝結，大便通，則愈矣，故置不問。晚餐後，匍匐求余，揮涕不止，乃難之曰，疾由自取，余何能為，必欲余治爾病，先取十桶水，置兩缸傾倒之，必足三十度，然後可。庖人曰：小人病莫能興，十桶水何由致！余曰：不能則勿望余治也。不得已，飲恨力疾而起。同人以余為太忍。庖人乃取水如命傾倒之，未至二十度，腹中漉漉鳴，汗津欲滴，急如廁，洞下之，軟不能起。同人扶之床，坦然睡去。二刻許稍醒，則腹虛體輕，求飲食矣。余入廚問曰：腹尚痛否；曰不痛矣。尚作嘔否；曰不嘔矣。乃曰：爾之病，我已治之愈，比湯藥針灸何如？取水之苦，可不怪我矣。庖人慚懼叩頭。又告之曰，後須少食，不然將復痛，庖人敬諾．</p>
<p>同寓者請其故，余曰：余命取水傾倒，則俯仰屈伸，脾胃自開，焉有不愈者。眾乃服。或曰，何不用藥，余曰，用平胃散合承氣湯，未嘗不可，但藥可通其腸胃，不如令其運動，皮骨具開，較藥更速也。</p>
<h2>過勞中暑</h2>
<p>伶人某，忘其名，四喜部名旦也，六月初，演泗州城劇，眾稱善。有某官愛其藝，又出錢命演賣武一折，身體束縛，刀矛劍戟之類，旋舞越二時許，卸妝入後臺，則大吐不已，腹中絞痛，急載歸家，吐止而昏不知人，推之不醒。其師怒，遣人尋某官，某官知余名，又轉同鄉請余診視，乃偕之往，則剩粉殘脂，猶暈面頰，汗出如油，氣息促迫，呼之不應。提其腕，則六脈浮濡，按之反不見。余曰：此中署陽邪也，命守者以熱鞋熨其臍，刻許，稍醒。逐以大劑香薷飲進之，二日而安。後三日，有投小片者，不知其人，問閽人，乃知其伶來謝也，余卻而避之。</p>
<h2>痘疹氣虛過服寒涼</h2>
<p>乙卯夏在都，一日將直圓明園，衣冠而出，將登車，忽一老嫗跪車下，自言伊孫病痘甚危，聞老爺善醫，敢乞一救小孫之命。余恐誤公，辭以本不善醫，痘疹尤所未習，使之再覓他醫，而嫗涕零如雨，揮之終不去，叩頭幾見血，旁多代為請者，無奈，急隨之，走不數武，已至其家，蓋右鄰有乳媼，日在街望，閽人告之也。視之，乃一男，約四五歲，見其痘形平板，色不紅潤，手足發厥，且時作瀉。法在危險，而顆粒分明，大小勻稱，且日進粥三二碗。余曰：氣虛不能托送，又過服寒涼，以致不起。問幾日？曰：十日矣。視所服之方，則芩連之屬類多，因示以六味回陽飲（方：附子炮薑甘草當歸黨參肉桂加胡淑灶心土），其家問幾服？曰，須二三服乃可。隨言隨走，連日公忙，幾忘其事。又一日雨後，不能遠出，閑到門外，前嫗抱兒而至，投能作謝。余方憶其事。戒之曰，痘後之風，當謹避也。嫗遂攜兒而返。</p>
<h2>陰虛血熱誤用桂附</h2>
<p>商友梁某，素有痔，兼好鴉片，發則痛不能起，且有隱疾，未嘗告人。一日痔發，不可忍，延一南醫治之。梁素弱，面目削瘦，飲食不思，南醫以為虛也。用桂附補之，二日而腹膨如鼓，煩悶不安，因而痔益增痛。急延余往視之，脈細數而有力。余曰：陰虧血熱，且增煩躁，故痔作。鴉片最燥肺，肺主氣，氣燥而血亦不潤矣。再以桂附火之，無怪其增痛也。</p>
<p>昔人雖謂痔有虛實，而未有不由濕熱內蘊者，先清其熱，則痛止。遂用槐花散加歸芍而進之，夜半痛少止。次日又往，則進以歸芍地黃湯，十日而愈。他日告余曰：不惟病癒，痔亦愈。余日：痔何能去？特血潤則不痛矣。須薄滋味，謹嗜欲，節勞逸，方可漸望其去。否則，發作無時。目中所見，固少因痔而死者，亦少治之痊癒者。梁首肯。後余以內艱（母喪或長孫祖母之喪）歸家。越三年余，梁來信云，本年痔發特甚，惟服君前藥少止，然成長命債矣。</p>
<h2>肝鬱嘔血</h2>
<p>穆某之副夥，忘其姓名。素有嘔血疾。因見穆某病危，鋪事紛集，以急躁故，嘔血轉甚，亦求余冶。余問曾服藥否？曰，藥不離口者數年矣。而作發無時,見逆事則益甚。為診其脈，並不甚虛，左關弦滑如湧，且有堅象。余曰，此肝鬱也。君初得病時，必因暴怒，此後必脅間時時刺痛，甚則嘔，色必紫黯。曰誠然，先生何如見也？乃以左金丸合顛倒木金散（鬱金木香）解其鬱，繼用逍遙散舒其肝，命常服養血平肝之劑，戒其忿怒。一月而後酒肉來謝，余卻而問其病，曰：服逍遙散後，已胸脅寬舒，血歸烏有，先生命長服之藥，不欲服也。余聽之。</p>
<h2>外感風熱</h2>
<p>馬景波孝廉，與余為文字交，又同出龍蘭簃先生門下，故稱莫逆。乙卯謀納粟作宰，都中有女校書才色超群，馬昵之。一日余赴同鄉之飲，在前門酒市，席未半，景波遣其僕，趨車迎余曰：家主得暴疾，危在頃刻，亟請視之。余頗驚駭，乃投箸登車而去，曲折經數處，見非景波所棲止。因問其車夫，車夫揚鞭掉臂曰：老爺至則自知。到陝西巷則景波依閭已久，捐余曰：校書病甚，惟恐君不來，故托於余以速之，急請入一施湯劑。余乃知為校書病。入其室，數媼環守之。啟衾看，則校書篷首赤體，昏不識人。捫其肌，熱可烙手，面赤氣粗，顛倒煩亂．提腕診之，六脈浮數，幾乎七至。乃曰：此外感風熱也，一發可愈。乃開防風通聖散易麻黃以桂枝。景波爭曰；硝黃劫藥，校書嬌姿恐不堪。余曰：君情深如此，宜校書之傾倒，然君解憐香，我豈好碎玉耶，有病則病當之，保無恐。急遣下走貨藥，煎而進之。屬曰：三更後，當大汗，渴，勿多與飲，明早必愈，我去矣。</p>
<p>越日申刻，余公退將入門。景波又遣車迎余曰：校書病益甚，請再視之。余駭曰：既病甚，則藥病枘鑿（不相合）。可請別人，余不必往也。其僕曰：家主望君如歲，不去，恐小人獲戾。不得已，隨之至。則景波顰惑曰：病益甚，當奈何？見校書仍擁衾臥，蒙其面。揭之則花妝簇簇，躍然而起。繼命媼輩，皆斂衽叩頭曰：昨宵服君藥，三更如夢醒，渾身出汗，到曉，病若失。服君之奇，感君之義，特設一筵，置酒為樂。恐君不來，故託辭招之耳。余故不喜此輩，擬托公而辭。校書跪留曰：自知垢汙之肴，不足染高賢之腹。然獻芹之忱，竊難自己。言之淚欲下。景波急進曰：勾欄（妓院）中一杯水，未必即阻兩廡特豚（古代祭禮）。何惺惺作態乃爾。余不敢再辭，相與狂飲．肴錯紛陳，至夜四更始罷。歸檢衣袱則羅香囊一對．絮絹方巾二事在焉。知為校書之遺．越數日，轉景波而還之。</p>
<h2>飲食傷胃</h2>
<p>商人曹某，忘其名，豪於飲，而食量亦復兼人。夏月奔走發渴，多食生冷，遂致停滯，頭痛發熱，腹脹神昏。他醫以為感冒，以風藥散之，不效。乃迎余視。其右關堅大，右尺弦緩，並無浮象。乃曰，此飲食傷胃也，必見食作嘔逆。弦者停飲之象，不去之不快也，此類傷寒中五症之一，視為外感，失之遠矣。急以對金飲子（方：桔紅厚朴蒼朮甘草生薑大棗）加大黃、檳榔等破之，二服而腹減熱退。五日後來謝曰：余未病時，常有嘔逆手顫疾，不知何故？告之曰：此酒積也。試服葛花解酲丸，當必愈。曹即服之至半斤而宿疾全清矣。</p>
<h2>濕熱內蘊實而誤補</h2>
<p>庚戌春，余以選拔赴廷試，有同年張君，久雨之後，兼嗜茶飲，六月初患小便不通，數日而手足漸腫，漸至喘咳不能臥。有其同縣人商於京，頗知醫，告之曰：此陽虛水腫病也。少年酒色過度，精氣內虛，非金匱腎氣丸不可。張信之，服未一兩，腫愈甚，喘亦增，轉側需人，自以為不可救藥矣。有同鄉薦余往視，六脈俱伏，目睜睜不得合，乃曰：此謂水腫信不謬，而陽則不虛，蓋由濕熱相搏，水不由小便去，泛於皮膚，故作腫耳．實證而補之，焉有好處！且病即虛，而古人云，急則治其標。先消水瀉腫，後補其虛，乃為正路。今以補虛為瀉水，非通之，乃塞之也。命市舟車神佑丸（方：二醜大黃甘遂大戟芫花青皮桔紅檳榔）服之，四錢而小便泉湧，越兩日而腫消喘定，又命服桔半枳朮丸（方：桔皮半夏炒枳實白朮）半斤，而全愈矣。</p>
<h2>過飲致瀉誤用提補</h2>
<p>大同同年薑驗熊，入京赴京兆試，與余同寓三忠祠，文酒談宴甚相得也。秋初陰雨經旬，兼北人不耐潮濕，一日友人招飲，歸來渴甚，飲水過當，越日而瀉，日經數十次，頗覺困憊。乃自市補中益氣湯提補之。次早，則頭暈嘔逆，腹痛身熱，午後高臥不起。余叩其門，乃曰：今日病甚。余日：夏月得瀉疾，可去腹中糟粕，何必過計。薑乃以所服之藥告。余曰：君何貿貿若此。薑曰：曾憶家君得瀉疾，服此甚效，茲則增劇，實所不解。余曰；尊大人必年老氣虛，中氣不攝，日久滑瀉，故以補中益氣提之無不效者。君飲水過度，清濁不分，小便不通，水皆從大便而出，急宜疏利，乃反提之，若大便再不通，則腹鼓身腫，成大症矣。遂遣僕買胃苓丸（平胃散合五苓散）二兩，令以薑水送之。次日而小便通，又次日而水瀉止矣。</p>
<h2>肝氣凝結而致寒疝</h2>
<p>常少張炳堂同鄉，甲寅得疝病，腎囊重墜，膀胱時作痛楚，適入值圓明園，出城門路砌以石，長數十里，行者車傾側，車中人四肢竭力支持，多以為苦。炳翁一往返，疝痛甚，腎囊欲腫。延醫視之，倉卒不暇細詰病狀。因曰：腎囊腫多是濕熱下陷，利水清火痛自除。炳翁於歧黃素憒憒，急服其藥，痛增甚，腰脅不可屈伸。乃命余視，診其脈象沉遲，季肋丸丸，直上直下。乃曰，此寒疝也，病由肝氣凝結，脅下如柱，非溫血養脅不可，利水清火，不增甚何為。乃為合茴香丸一料送之，服未一兩而痛減。適有盛京視學之命，炳翁即束裝出關。冬季來函，則曰，藥已服完，疝不再發，余猶以溫養告之云。</p>
<h2>陰虛內熱傷脾唾血</h2>
<p>同年婁丙卿，壬子捷南宮（禮部考試告捷），得庶常（官名），亦寓於三忠祠。素有唾血疾，人不知也。一日宵坐，其僕攜湯藥來飲之。因問君何病，所服何藥。丙卿曰：弟有血疾，經數年矣，醫藥不啻百輩，竟無效。昨遇醫士，以為肺金受火傷，賜一方服之。雖不甚效，然尚平平無大誤，弟覺病非旦夕病，故藥亦無旦夕效也。余請一診視，丙卿曰，潤翁解此乎？相處不知，幾交臂失之。乃伸其腕，覺六脈沉細而數，脾部尤甚，而肺部卻浮短而澀，非病脈也。乃告曰：君所患為陰虧生內熱，兼思慮傷脾，脾不統血，故午後有時發熱，水泛為痰，或夢遺失精，怔忡驚悸，然否？丙卿曰，所言之證，無毫髮差，當作何治？乃視其所服之方，則救肺飲也。告曰，君病在脾腎兩經，與肺並無干預，果肺病，當喘咳。君不喘咳，而以紫苑、兜鈴涼之，是誅伐無過也。久而肺寒氣餒，則成瘵矣。此時夏令，宜常服麥味地黃丸。令金水相生，水升火降，血亦當少止。秋後以人參歸脾丸攝之，不過二斤，保無病矣。丙卿乃買麥味丸服之。五日後，熱退神清，唾少止，繼以歸脾丸。至仲秋後分手時，則血全止而無病矣。次年散館作武邑宰，秋寄函問余，有曰：自服君藥，頓去沉屙，懷念良朋，時形夢寐，每公余獨坐，猶憶握腕清談時也。余復謝焉。</p>
<h2>內有積熱傷風致瘧</h2>
<p>少司成馬介樵所狎伶人（戲子）名阿二，秋後發瘧疾，寒多熱少，精神困憊。介翁亦知醫，云是虛寒，施桂附補之，瘧不少減，而轉寒為熱，發則煩渴汗出。一日有友人在吟秀堂招飲，介翁命呼阿二車載以來，則坐立不能自主。介翁云：今日招爾非為侑酒，王老精於醫，擬令去爾病也。阿二請安將叩頭，余日：病體如此，何必拘拘。診其脈，則浮而緩，沉取之，內甚實。乃告介翁曰，瘧疾是外感病，阿二內有積熱，外傷於風，須先解其表，後清其熱。用桂附似未當，乃命服五積散（方：白芷川芎甘草當歸肉桂芍藥半夏陳皮桔梗麻黃蒼朮乾薑厚朴枳殼生薑）。以桂枝易麻黃。二日瘧少止，而煩渴依然，又進以桂枝白虎湯，十日而全清矣。後在文昌館文宴，阿二在三慶部，晚飯後，專為余演桂花亭一折。情深文明，的是佳劇。後余呼之必來，雖極忙促時，必勿勿一至也。</p>
<h2>陰疽發背</h2>
<p>商人某，不知姓名，亦西人，在質庫為經紀。秋後疽發於背，延醫治之未效也。一日其弟專車到門叩頭迎余。問何病，則曰：背疽。余以醫瘍甚污穢，辭以不能外科，宜請專門名家治之。其弟曰，已請瘍醫數輩，俱曰陰症不能治，念兄弟零丁，千里投商於京，兼獲利無多，倘有不測，骸骨亦難歸里，請君一視以決之，必不可為，亦不怨也。余以情詞哀切，至，則肺俞處，潰爛口如茶碗大，不紅、不腫、不痛，肉色帶青，流出黏黃水，非膿、非血。而病人昏昏欲睡，精神全無。余曰，瘍醫謂是陰症，良不謬。然轉陰為陽，尚有方術，何竟無知之者。其弟急請之，余曰，此病余實不能動手，況此時外冶亦無益，須建中提氣，覺腫痛則有望矣。乃開補中益氣湯，重用參耆，並加桂附乾薑命服之。越二日，其弟又來曰，家兄疽已紅腫，精神頓生，飲食小進，請施外治。余辭曰，外治則吾不能，宜仍請前外科家治之，彼能動手，必無慮矣。乃延前瘍醫敷藥去腐，凡二日一洗滌，半月後瘡合而俞。</p>
<h2>風痰昏亂</h2>
<p>里中段某之妻，年廿餘，忽患昏亂，渾身顫汗，口蹇不能言，腹中滿悶，顛倒欲絕。其家以為祟，招女巫驅之。女巫多索粟帛，用香褚祈禳之，病不減。三日後，求余視之，診其六脈亂動，沸如泉湧，且手足乍屈乍伸，不可把握。乃告之曰，此風痰也。少年氣盛，下之則愈。乃命服祛風至寶丹（滑石川芎當歸甘草白芍防風白朮石膏黃芩桔梗熟地天麻人參羌活獨活梔子連翹薄荷麻黃大黃芒硝川連黃柏細辛全蠍）。至晚則大便出紅黃穢物數筒，次早而安。又請往視，六脈俱平，神氣清爽。告曰，病已去，不必服藥，但避風寒，節飲食，不久痊癒。半月後酒肉來謝，余知其貧，卻之。</p>
<h2>產後腹痛</h2>
<p>友人盂嘻之妻，年四十餘，新產後，患腹中塊痛。延余診視，按其兩脈實大而堅，知非吉象，而以至好，不便明言。乃聊以人參澤蘭湯進，服之未效。又請余冶，余曰，痛不減，則藥不效，請延他醫視之。盂不肯，至余門者日三四次。不得已，實告曰，產後之脈，宜緩宜小，今見堅大，恐難愈也。盂曰：試再進一方，萬一不愈，亦不敢怨。余曰：豈在怨不怨，但竭力經營，徒費錢無益耳。盂憂疑而去。凡更十數醫，無毫髮效，五十餘日而歿。</p>
<h2>產後胸痛乳兒痰疾暴怒傷肝三案</h2>
<p>內人之妹適武舉張某之長子，產後患心胃痛。發則飲食俱絕，氣促口乾。其翁延人視之，皆曰虛，況產婦尤無實症，當培其氣血，氣血流通，則痛止。始服八珍湯，繼服十全大補湯，月余不止。乃來外家求余治。診其左寸關脈，堅凝而澀，知為瘀血停於胸膈。乃曰，胸膈痛，非心胃痛也。發則內如針刺，口渴氣喘，宜散瘀以定痛，不宜補氣以益瘀也。前服多補藥，何能有效。乃命服失笑散二劑，而痛若失。三日後視之，則其兒始歲余，手足發熱，神癡氣粗，乳食不進，喉中時時如鋸聲，眾以為驚風，延一鄰媼針灸之。余曰：此痰也，針灸則益甚，必平日多置曖處，其母臥而乳之所致也。矚服白玉餅（方：滑石半夏巴霜朱砂苦礬各一錢神麯糊為丸，滑石為衣）數粒，至晚則下綠色糞如許，乳食進熱退而安。後返其家未逾月，乃婿忽來，下車入門，面目黑膩，胸高氣喘。問係吐血疾，自言心中時時作嘔，兩脅刺痛發咳。來求治之。診其脈弦而滑，乃曰：此氣秘也，必有大遂事，暴怒傷肝，乃致是疾。張曰：然。余曰：曾施治否？張曰：有村醫以余為陰虧，命服地黃湯，轉增腹張，乃辭，而求閣下。余為開蘇子降氣湯，又開逍遙散方，付之曰：路遠病勞，歸先服降氣湯，氣當舒，再服逍遙散，血當止，十數日保無恙，無煩再來也。張謝而去，如言服之，月余，遣人來言，主人病痊癒，恐在念，令小人先告知，有暇必衣冠來謝也，余固止之。</p>
<h2>肝鬱氣逆脈不應病</h2>
<p>同譜王丹文茂才之父，余執子侄禮，少游江湖，權子母，工於心計，故握算持籌資無少缺。晚年出資在永寧州生息，忽為典商負千金，州郡控訴，未獲歸趙，憂鬱而病，兼家務多舛，遂得氣逆症。腹滿身痛，轉側不安。他醫投補劑，轉增劇。丹文邀余診視，其脈多伏，惟肝部沉堅而澀，且三二至輒一息。知力肝鬱，因以蘇子降氣湯合左金丸進，三服而氣稍舒。又視之，肝部有長象，又益顛倒木金散進之，十劑後，腹減而氣舒，飲食進，精神作矣。一日留晚餐，座中仍令診之，脈息如故，余未便明言，歸語家人云：三伯肝臟已絕，病恐不起。家人曰，已愈矣，何害？余曰，此脈不關此病，此病易愈，此脈不可轉也。況見肝臟，必死於立春前後。家人以余故神其說，置不信，余遂北上。至冬病作，竟醫藥無效，於臘月廿四日終於家。余由京歸，家人語其事，咸詫異焉。</p>
<h2>熱鬱傷暑誤用桂附</h2>
<p>丙辰春，余需次入秦，西安守沈小梅，余內閣前輩也。時稅驂，即召余入讞局，昕夕相從，蒙其獎拔，信足感也。是年至四月不雨，至於六月旱甚，大吏憂之，謀所以祈雨者，星甫年伯以八卦壇進。遂延僧道數十人諷經設醮。派余及州縣數人監其事。小梅素壯，自是夙興夜寐，奔走不惶，兼旱天酷暑，事務增煩，遂得熱病，煩躁不安，精神昏瞀。余在雨壇未知其事，越日，小梅不來，問兩首縣則曰：太尊病兩日矣。問何病，兩縣不能悉言。次候補府何保如僕從而來曰：小梅之病甚危，外似實症，內實虛寒，已進桂附理中湯，不知可獲效否？因問其脈，保如以微對。余心竊以為不然。而未知形症，不敢辨也。蓋小梅浙人，保如亦蘇產，恐俗醫誤事，故延保如治之。次日，星甫惶恐而來曰，小梅病危在旦夕，昨服藥後，益僵不能動，僅存余息而已。余告同人恐不至此，小梅病當是藥誤，急登輿而視之。至署，則閣家環泣，幕僚咸嘖嘖耳語。余急止之曰：病才數日，未必不可治，請一視之。其子似竹，急揖余曰：老伯既解此，宜施拯救，前實不知。隨入視之，小梅橫臥，呼之不知，面汗出如油膩，氣息粗急，視其腹，渾身如赤，按之鼓甚，且鼻有血涕，兩目白珠全紅，口吻腫破，舌強不可卷伸。問飲食乎？曰，不食三日矣，惟飲水而嫌熱。問二便乎？曰，點滴全無。診其脈則絲毫不見，而血絡棱起帶紫色。乃告其家人，此實熱內鬱，外傷於暑。保翁誤認為虛寒，投以桂附，若再服，則九竅出血，遍體紫黑而斃矣！幸氣息尚盛，雖危尚可治，勿憂也。為立一方，以大承氣湯，白虎湯，六一散合之。其幕孫桂珊曰：南人畏大黃石膏如鳩毒，今用至數兩之多，恐虎狼之性戕人命也？余曰，病勢至重，輕劑斷不能達。孫曰，南人脾胃虛弱，不比北人強壯，宜少減之。余不得已請之曰：古人留石膏大黃專為北人耶？抑為天下後世耶？君如此多疑，以為可，則進，不可，則否，余不能誤人性命，急拂衣而起。其家見余言激切，急煎服之。而其子留余不使出署，越二刻許，小梅呻吟求涼水，目開而語出。家人禁其飲涼，余曰，盡飲之無傷也，乃飲涼水兩碗。刻許，而呼小便，下如血。余曰：何如？至晚，則胸腹雷鳴，下黑糞數十粒，精神漸爽。家人共喜，急告以故，次早肩輿迎余，握余手曰，蒙君再生，感激無既，前藥尚可服否？余曰，一服始通，病尚未清，連服三四乃可，君何怯焉。凡五服，而病全除。數日後，小梅問余曰，大黃素實不敢沾口，今借此得愈，深為南人賣。余曰，前輩固南人，而京居十數年，脾胃亦與北人等。況醫之一道，認病為先，不必存南北之見。小梅又欲服參補虛。余曰，本不虛，何容補。如參茸能壯人，則神農，後稷，何不教人食參茸而食五穀乎？小梅拍案曰，痛快之論，得未曾有聞者，咸首肯焉。</p>
<h2>發頤</h2>
<p>小梅之次媳，初秋忽患項脖腫痛，延一醫視之曰：此厥陰瘰癘也。外貼羔藥，內服疏肝解鬱之劑，五六日來並無功效。其夫似竹延余視之，見其高腫焮紅，按之堅凝，知非瘰癘。問初發時寒熱否？曰，不但寒熱，並帶頭疼，且頭目眩掉，時時有汗出。按其脈，兩寸浮數。乃曰，此發頤病，並非瘰癘。蓋內蘊積熱，外傷於風，以致火鬱經絡，四體不舒，骨節煩痛，若作瘰癘治，失之萬里矣。且貼膏敷藥，勢將破潰，遂至纏綿，愈且無日，急命去其膏，用通草湯洗淨，投以連翹敗毒飲，越日而痛止，再服而腫消，五日後全清矣。</p>
<h2>胃熱與脾寒</h2>
<p>涇陽令周備三之岳母，並其內嫂，兩代孀居，食息仰給於周。一日讞局公退，備三邀余曰，舍親病甚，乞往視之。余隨至其家，問何病？備三曰，家嶽渾身發熱，煩渴汗出，胸滿便閉，腹中增痛。內嫂患肚腹悶脹，有時而痛，不熱不渴，四肢無力，精神困倦，飲食不思。余兩診其脈，其岳母則沉而數，右關堅大，其內嫂則六部遲緩，右關尤甚。乃告之曰，二症老少懸殊，老者胃熱；少者脾寒。熱者宜下；寒者宜溫。遂令其岳母服調胃承氣湯，其內嫂服桂附理中湯。備三曰，下則用芒硝大黃，補則用肉桂附子，二症雖殊，不該逕庭若此，少緩之何如？余曰，泰水病若實火內攻，緩之恐發狂疾。內嫂脾上弱極，緩之必成泄瀉。急救之尚恐不及，況敢猶預。備三曰，唯唯，余辭而出。過數日，問兩病何如？備三曰，二病俱有小效，然未全愈。余駭曰，服硝黃而不下，服桂附而不振，難道熱者懷鐵石？寒者成癆瘵耶？備三笑曰，前日之方，實恐太峻，君去後承氣湯去硝黃，理中湯去附子。諺云：「當遲不當錯，非藥不效也。」余曰，令親何拘之深，藥病相投，如機緘之對發，過則為害少則不及，此間分隙不容毫髮，何得私意抽添。請照方服之，錯則我當之，必無害也，備三乃可原方進。次日其岳母下燥糞，火退而身清矣。其內嫂腹痛遞減，飲食少思。又延余往視，余曰，令岳母病已去，不必服藥，唯令調攝保無虞。令內嫂則此藥非十數劑不可，且須常服溫中理脾諸藥，方無反復，非旦夕可望也，余辭去。一月後，以宮絹酒點八物來謝，余與備三為莫逆，乃封還之。</p>
<h2>思慮傷脾痰擾心包</h2>
<p>備三之夫人，工詩善畫，刺繡尤冠一時，人亦風流自喜，詞辯滔滔。余在備三處閒談，諸寅作斗葉之戲，余不喜此事作壁上觀，晚餐甫設，有媼自內出，啟備三日，太太不知何故，忽患心煩發嘔，坐臥不安，聞王大老善醫，急請入視。余偕備三入，則二婢扶坐，粉汗淫淫，作捧心狀。急診其脈，脾部細弱，左寸滑數特甚。乃曰，夫人所患是脾虛停痰症也。蓋由思慮傷脾，飲食不化，平日必有健忘驚悸之疾。此時痰涎繞心包絡，故煩嘔交作。須先清其痰，後理其脾。清痰須用蓮子清心飲（黃芩麥冬地骨皮車前子甘草石蓮子人參黃耆茯苓），理脾須用人參歸脾丸。病以漸來，亦以漸去，旦夕難全愈也。乃先以清心飲投之，二日而煩嘔止。再進歸脾湯，十日而四視之，病若失矣。</p>
<h2>氣鬱喘嗽</h2>
<p>典史宋曉嵐，同鄉也。丙辰春，與余同攜眷入秦。將至臨潼，其孫女甫周歲，坐車為雨泥所滑，女失手墜車下，輪輾其腹，頃刻而斃，亦氣數也。其媳以慟女故，日切悲哀，兼介入，安土重遷，鄉思頗切，曉嵐尤吝於財，雖宦遊而飲食衣服，不遂婦願。至夏忽患胸脅大痛，喘嗽不寧，飲食俱減。曉嵐來求治余，診其左脈弦而牢，右寸堅而滑，知為氣鬱，乃以左金丸合顛倒木金散進。二服後，吐痰涎數碗，再視之，則左少軟，而右亦漸乎矣。因以逍遙散加木香青皮等疊進之，半月後始就平復。因勸曉嵐曰，兒女情懷，須少寬假。前日之病，久則成癲，若不去其痰，遙遙千里，攜帶而來，競成廢人，不悔之甚乎。曉嵐遵之，辭色稍溫，三月後，如居故土矣。</p>
<h2>勞倦失眠脈壞難治</h2>
<p>商州牧趙笏山同鄉，崞縣人。以進士宰秦中，所至有政聲，丙辰夏，以天旱祈雨，夜作早興，又商地皆山，每禱出入崎嶇甚苦。秋末忽病，商僻地少醫，遣干僕入省，求余往治。余以需次人，不敢私出省，同鄉武芝田觀察，言於撫軍吳仲容先生，乃治任隨之，越秦嶺而視焉。至其署，笏山尚危坐，議論風生。問何病？曰，夜不瞑目者廿日矣。問何所苦？則曰，胸滿氣急，飲食不思。茶後診之，六脈俱形沉數，而右關毫無神氣，乍沉乍浮，乍緩乍急，且二至而一息。余以脈非吉象，不便明言，乃曰，君所患為心火上炎，心腎不交故也。急滋陰以壯水，則得寐、笏山急索一方，乃以地黃湯加生地、桔梗進之。藥下二刻，倦而就枕，沉沉酣睡，晨鐘動方起。請余入曰，真仙丹也。前屢服天王補心丹，以為睡覺良藥，而竟不寐。今服君藥，徹夜常眠，披衣而起，如釋重負，弟病雖危，有閣下神手當無恐也。再診之，脈似稍起，而右關依然。乃進七味都氣湯，又開香砂六君湯敷衍之。亟欲歸省，而笏山再三款留，不得已為延三日。臨行笏山食亦少進，起坐頗自如，囑余筆論其病，余乃書曰；金水不生，脾胃枯竭，室欲惜精，少思淡食，一陽始生，病將自絕。笏山銘之。余歸途無事，戲作挽聯云：「越秦嶺而視君，愧余寡術。牧商山而懷古，想爾同仙。」入省後，芝田問笏山之病何如？余曰：必不起！曰；何故？曰：脈已敗壞，焉得不死。因告以已作挽聯，同人皆笑，芝田陰為料理身後，至十一月二十四日歿於署。其弟來省交代，余即書前聯挽之，並道及論病數語。其弟憬然曰：閣下何神哉！叩頭而去，扶柩歸焉。</p>
<h2>氣鬱吐逆</h2>
<p>同鄉張文泉司馬，於余為同譜弟，丙辰春，先後入秦需次，公余則酒宴過從，其戚喬其亦介人，為楚鄖陽府經，以提餉來秦，館於文泉之室，文泉厚遇之。而喬鄙甚，飲食之外索洋煙，洋煙之外索衣服。又索小費。文泉稍拂之，則裂眥負氣。久而不堪其擾，擬遣之去，又以軍餉未齊，遲遲兩月，臨行詬誶百端，幾乎握拳相向。文泉素訥於言，不能發洩，心甚恚之。一日由咸甯過余，余留晚餐，言次文泉含淚欲滴，余勸以不仁之人無可計較，既去矣，置之可也。文泉歸館，則氣急腹痛，嘔吐大作。急遣車邀余，至則痰涎溢地，猶張口作吐狀，汗出如流，面帶青色。診之，則六脈俱伏。乃日，此氣鬱而逆也，甚則發厥，急命搗生薑汁半碗灌之，刻許而吐定，然胸腹悶亂，轉側難安。乃以越鞠丸合順氣湯進之，至天明而腹舒，仍命服順氣湯，三日而愈。</p>
<h2>陰虛血弱胃絕難醫</h2>
<p>鄰人劉錫慶，商於楚，年三十餘無子，父母共憂之。娶妻數年，百方調補終莫效。一日劉忽患腹痛，邀余往視。眾以為霍亂，服霍香正氣散不效。診其六脈沉弱，知為陰虛。因曰，君腹痛必喜按，且時作時止，非常病也，且痛發必在臍下。劉曰，然。乃投以七味都氣湯(方：熟地山芋山藥丹皮澤瀉茯苓五味子)加肉桂二錢，兩服而痛止。歸後家人問其病，余曰，此陰虛血弱，腹痛易治，惟兩尺細僅如絲，毫無胃氣，恐命之不久也。越年許，余白京師歸，已於數月前，以瘵終矣。劉本孤子，家極貧，以劉賈少裕，劉歿後雙親衰獨，撫養無人，兼兩餐不繼。見者皆惻惻云。</p>
<h2>寒濕下注關節疼痛</h2>
<p>介之羅王莊張冠英，家稱小有，繼娶吾里中李姓女。得腿病，骨節痛楚，不可屈伸，且時作腫，臥床已半年矣延醫視之，或以為下痿，用虎潛丸（方：炒黃柏炒知母熟地龜板陳皮白芍鎖陽虎骨乾薑牛膝當歸羊肉）補之；或以為癱瘓，用續命湯散之。皆不效。其內弟請余往治。余診六脈緩大。告之曰，既非下痿，亦非癱瘓。所患乃寒濕下注，關節不靈，腫痛必在關節。病雖久，可治也。乃先進羌活勝濕湯加牛膝防己以疏利之。三服後，杖而能起。又往視之，投以五苓理中湯（五苓散與理中湯合劑），四服後，腫痛全消。意不願服藥。余曰：濕氣未清，恐將復作，不如多服，以免後患。張聽之，服藥二十餘劑，乃以酒肉來謝。余告以謹避風寒濕氣。相隔十餘年，余見於其戚家席上，稱健步焉。</p>
<h2>肝鬱氣結土敗難愈</h2>
<p>里中田大授，家少裕，而年老無子，妻悍不敢置妾，後以失業窘於財，鬱而為病。城中有老醫名榮同者，田素信之，請其診視。榮曰：風寒外感也，散之不效。又視之曰年老氣虛也，補之益甚。榮窮於朮，乃邀余治。診其肝脈滑數，脾部見弦急，且三至一息。乃曰，君所患為肝氣鬱結，木來侮土，土已敗矣。病可小愈，命不可保也。田似嫌其唐突，請示一方，余以逍遙散合左金丸進之。數服而病減，進飲食矣。又請視之，診其肝脈稍長，而脾脈如故。知不能愈，乃以逍遙散敷衍之。半月，精神爽健，出入遊行。值村中演優戲，相見於廟廡，告余曰，病已全除，當無恐。余曰，脈至不息方可，後半年，余赴都，及來春歸，詢之，已欹歿數月矣。</p>
<h2>產後氣虛升降失常</h2>
<p>鄰人郝某之次女，產後經數月，飲食不思。精神減少，時兼胸滿，面黃肌瘦．延醫視之，以為癆瘵。投以八珍湯，獲小效，而病復如故。或又以為產後血虛，用大劑四物湯合生化湯，轉增腹痛。繼有庸手，作傷寒陰症冶，去益遠而病增劇。法無可施，來求余治。診其六脈浮弱，右關尤甚。乃曰，此氣虛，非血虛也。當補氣以生血。他人多用血藥，品多清降，不轉餒其氣乎．因處以補中益氣湯。其父素明針灸，頗知醫，難之曰，病苦胸滿，益以補中，不增甚乎。余曰，令嬡胃氣下陷，清陽不升，故濁陰不降，以致飲食留滯，故胸苦滿。若清陽既升則濁陰下降，胸中自當痛快。命如方服之。三劑而精神作，飲食進。更命易湯以丸，一斤而全愈矣。</p>
<h2>濕痹似癱</h2>
<p>介之田村喬某，忘其名，年老得痹疾，或手或足，痛發左右無定。醫藥數輩皆以癱瘓治之，藥不啻千百劑，竟罔效。委頓經年，已為治喪具矣，而痛則飲食二便尚無大害。其里中有商於都者，知余名，因囑請治。余至其家，未見病人，先問其子曰：遵大人是何病？其子以癱瘓告。余曰：老年人得此病十無二三愈者，恐治之亦無益也。然既來不得不一視之。入其室，則病者拱手稱謝，問答數語，口舌便利，視其口眼無歪斜狀，神氣亦清。乃問手足麻木乎？曰，並不麻木，惟有時作痛，不可忍耳。因診其脈，六部俱緩而沉，兼帶弱象。告之曰，君所患乃濕痹，既非癱瘓，又非痿症。蓋寒濕著於皮膚，四肢重滯，每轉側則重不可舉，如移山挪石，非人不行。病者曰，不錯，不錯，先生所認既真，急請施方必可愈也。余曰，愈則可愈，然無速效，須服藥數十付，起居調攝，乃杖而起，早亦在三月外，遲則半年。病者曰，但求病癒，何必急急。乃先以五苓理中湯加附子蒼朮進之。五服而痛少止，肚腹寬，飲食進。又易羌活勝濕湯加牛膝，肉桂等類，命多服之，半月痛全止。惟舉動艱滯，步履尚難。更以白木附子湯，加松節、萆薢等。命十服後，丸服之。更命每早晚遣入扶掖，往返數十步不必再視也。病者遵之，越三月，趨車備物衣冠而來，見其行走如常，而履階遇限，尚多不利，急遣還而養之。冬十一月遇於城中酒市，則指揮如意，毫無痛苦矣。此事相隔十餘年，辛酉其子來求治眼，談次具陳本末，乃始憶而錄之。</p>
<h2>陰虛肝鬱雙目痛楚</h2>
<p>喬某之子名夏清，忽踵門，先以函入，拆視之，詞極文雅謙抑，延之入。問之，已入縣庠。據云一別十餘年，家道零落，又以嫂氏妒悍，避其虐，舌耕於祁縣。春來乍得眼疾，兩珠痛楚，夜則尤甚。易數醫，無少效。因憶前治家君之病，甚有確見，故特來請治。余撥其眶視之，則黑珠周圍起白膜，帶二三紅血點。診其脈，則左關弦滑，尺微細。乃曰，此陰虧肝鬱也。幸未久，尚無害。若再遲數月，則生外障，翳膜遮睛，則揭去匪易。乃先開一疏肝散，又繼以杞菊地黃湯，二方並付之。告之曰：先服疏肝散三四劑，痛當止；繼服地黃湯不十劑，當無事矣。每晚臨臥，以火酒洗之，避風寒辛熱，遙遙數十里可勿再來省往返也。夏清揖而去。半月後，忽自稱謝，渭目疾痊癒，專申感悃，並偕鄰村郭某來云，亦有病求治，余適在城中宴會，未及見，後不果來。</p>
<h2>年老血崩陰陽兩虛</h2>
<p>鄰人劉錫慶之姊，三醮而仍寡，年近五旬，忽患血崩，村醫以為蹉跌，用發灰地榆類澀之而不效。經月余，來邀余治，見其面白如灰，氣息僅屬，甚不堪。視其脈則沉細遲弱，凡虛象無所不有。乃曰，此病危如朝露，過半月，恐不救也。又貧寒難事藥餌，急欲辭歸，其婿忽止之曰：岳母病如可愈，藥錢我任之，萬一不救，則不必矣。余感其義，乃告之曰：君熱腸如是，余當竭力，雖無旦夕效，然性命或無礙也。投以大劑六味回陽飲（方：附子炮薑甘草當歸黨參肉桂），二日而精神起，然崩則如故。其婿來曰，命似可救，而血崩不止。余曰，君無慮，止血崩實易事，但岳母陽陰兩虛，不固其氣，血崩難止。今有回陽飲以作其氣，再用提補，靡不效矣。又投人參養榮丸，加柴胡，升麻以提之，又加芡實、龍骨以澀之，凡五進而血止，因命專服人參養榮丸，兩月後，偕其婿來斂衽拜謝。就內人取針線數事而去。越數日精心密縷，封而呈焉。並云貧無可酬，聊以手指答救命之恩云耳。</p>
<h2>霍亂轉筋</h2>
<p>業師龐芸圃夫子，秋間抱喪弟之戚，忽患水瀉，自辰至申酉如廁者三十餘次，如桶瀉水。繼之以吐，困頓不堪。且時時作轉筋，急遣人呼余至，問其形證，按其脈俱弦直，知為霍亂。以藿香正氣散進，瀉少止，而二刻許，復吐，所服藥點滴無存，前病發作。至天明，轉筋將近腹，兩腿不可曲伸汙便床褥。及余視之，神氣僅屬，瀕於危矣，舉家惶恐，余急命刺尺澤，委中二穴，出紫黑血半盞，刻許而吐定，可服藥矣，仍煎前方與之，逾時安臥，至午後則腿舒而瀉少止。至晚又進一劑，三日而安。而先生知無害，便不服藥。余視之見其皮黏於骨，面色青黯，乃以老親在堂之說，竭力勸之方許焉，告以香砂六君子湯。半月始得如常，而出入動作矣。</p>
<h2>熱瘧</h2>
<p>先生之母，余太師女也，年過八旬，頗壯健。夏秋，忽得瘧疾，發則如火燒身，狂叫反側，他醫用藥截之不效。招余治之，見其目如赤珠，口乾唇破，時時呼冷水。問二便，則小便如血，大便閉數日矣。按其脈，則六部弦數尤甚。乃告日，此熱瘧也。單熱不寒，須內清其熱則火退而瘧自止。若徒用截法，萬無效理。因投以大劑白虎湯，重用石膏至兩許，二服而熱退，四服而瘧已．</p>
<h2>脾虛肝鬱</h2>
<p>先生之弟婦，患頭痛發嘔，飲食不思．時瘟疫盛行，疑為時症，余偶到塾，其侄蘭芬兄言其狀，並邀之治。問身覺憎寒壯熱乎？曰，否。問身痛鼻塞乎？曰，否。然則非時症。診其脈，則左關弦滑，余俱細弱。告蘭芬曰：此脾虛肝鬱也，作時證治，必散之，虛而散，則大誤矣。蘭芬請一方，因以逍遙散進。余過而忘之，越數日，見蘭芬，告余曰，藥才二服，病全除矣。</p>
<h2>寒瘧</h2>
<p>丁未歲，余讀於鄉之僧寺。是年太陰司天，五月後陰雨經旬，里中地極下濕，而農家露宿於野，外感風寒，必病瘧利。因先配常山酒一壇施之。六月半瘧果大作，凡十人而五六，取酒者接踵至，保全頗多。至七月中，瘧少息而酒亦罄矣，寺僧名昌裕，素無賴，以佘在寺稍斂跡。旋亦病瘧，向余求酒，余以酒已完，欲再制之非浸漬十數日不可，倉卒不能辦。昌裕似嫌余吝，乃招而來曰：子怒我錯矣，瘧雖一病，而人之虛實稟賦不同，余所施之酒，未必人人盡效。我為若治之何如？僧始轉怒為喜，乃診其脈，則弦而遲。告曰：弦是瘧正脈，而遲則寒象。子患寒瘧，發必多寒少熱，且先寒後熱，身痛無汗。僧曰：良是。乃以越婢湯發之，二日瘧少止，令五服則全愈矣。</p>
<h2>食積腹痛</h2>
<p>黑六，里中人，遺其名。一日腹痛欲絕，強步至門，跪求余治。余曰：何忽得此疾？泣訴曰，昨日吃蓧麵條半大碗，飯罷入瓜田渴甚，飲涼水二碗，歸家則腹痛作矣。胸中如碗鼓甚，按之如刺。余曰，此食積也。但汝胸中如石塞竇無隙可通，用藥治之，恐藥弱而病強，攻之不破也。痛者曰：然則聽之乎。余曰，爾欲病癒，須遣人扶掖，在田野中，往返疾行數百步乃可，病者辭以不能。余曰，不能則難治也。再三苦求，乃以大劑承氣湯加麥芽，檳榔疏之。告曰，三服乃可。病者歸，初服而胸中如墜，二服後下氣暴作，急如廁，則如桶脫底，胸腹空虛，負耒而耕矣。</p>
<h2>胃熱血結</h2>
<p>里中鈕某之妻，體素壯，忽患月事不至。始以為胎。久而腹痛，又以為虛，補之益甚。留連數月，腹大如鼓，飲食不思。迎余治之。診其脈，兩關堅勁。問發渴乎？曰，前半日多渴，後半日方可。余曰，此胃熱血結也。尋常必患胃熱，發則胸膈如燒，甚則發咳，痰必稠。病者曰，良是。先以三黃四物湯破之，二服後下紫塊十餘，腹少減。又以兩地地黃湯加山梔、連翹、通草，疊進之。逾月而潮至，然前後尚不齊也。命常服歸芍地黃湯，數月後，如期血至，久而受孕矣。</p>
<h2>痰火鬱肺</h2>
<p>鄰人郭某之女，再醮於鄰村，歸寧恒數月不返。一日忽患咳嗽，初略不為意，久而增盛，延人治之，則曰，此虛勞也。始而補氣，繼而行瘀，又轉而理脾疏肝。藥屢易而病不減。一日其母偕之來，俯余治。因問曰，嗽時作時止乎？抑咳則面赤氣急聲聲接續乎？曰急甚。觀其面色紅潤，知非虛證。乃診其脈，則右寸浮滑而數，余則平平。告曰，此痰火鬱在肺經，常苦胸膈滿悶，發則痰嗽俱出，不但非虛勞，且大實熱證也，進以芩連二陳丸加桑皮，木通以疏之，三日而嗽減。再請余治，則數象減而滑則依然。余曰，熱退而痰仍在，不去之，恐復作，因用平陳湯加枳實大黃下之。凡二進，下頑痰數碗胸膈頓寬，而嗽亦止矣。</p>
<h2>風痰致咳</h2>
<p>咳嗽一症，風寒暑熱，飲食鬱滯，思慮勞倦，皆能致之。醫宗必讀闡內經之旨，講此症最為詳盡，學者當究心，若一概施治，未有不致悖謬者。</p>
<p>同鄉郝某號秀山，在都作銀商，自秋發嗽至十一月，數醫之尚未愈也。余僑寓襄陵館，與郝某素昧生平。一日梁某偕之來求余治，問何病？對以咳嗽四月矣。問，曾治否？對以藥以百計而嗽如故。言次探手於懷，出藥方隆然一裹。細檢之，皆參苓耆朮等類。蓋郝素弱，又富於財，俗醫皆作虛論也。乃診之，余平平，肺獨浮滑。告之曰，浮者風象，滑者痰象。君素積痰，復感於風，風痰相搏，而嗽作矣。又以參耆固其腠理，腠理不開，風無去路，嗽何時已乎。數藥可愈，郝見余言易，進曰，年少時有唾血疾，體本虛，故畏克伐藥。曉之曰，此他醫之所以用參耆也。要知少年唾血，未必虛證。即虛，而此時血止而嗽作，醫不治嗽而治血，請問君見我為冶嗽乎？為治血乎？病者笑而是之。乃以杏蘇飲加山楂，枳實進。囑曰，不過五服病必愈，無煩再來也。病者持而去，越五日，投帖請余觀優戲，晚則筵席豐隆，殷勤周至。時余方以分發赴秦，因遣其同類，隨之到秦，開設銀肆，聽昔過從稱莫逆焉。</p>
<h2>憂鬱致疾腿目漸廢</h2>
<p>李蓮芳茂才，少與余共筆硯，後以童軍屢蹶，商於楚。後失業歸，復矢志功名，遂入縣癢。蓮芳少失怗恃，三娶而仍鰥，煢無子嗣。丙辰余自京歸，已敗累矣。以憂鬱故，腿漸廢，目漸瞀。然步履出入，尚可作字，憫其貧，攜之入秦，經理館事。繼，余以內艱旋里，念蓮芳無依，因薦於朝邑主薄馮子安作幕，馮亦同鄉，又雜職，蓮芳雖非素優，然小心持算，無不井井有條，賓東相得。而蓮芳私念年逾五旬，妻子全無，顧影增淒，倍形憂鬱，明年秋，單車而歸。余以為賓東不合，急視之，則蓮芳兩目起外翳，腿遲重不可曲伸，且馮以缺瘠告病，不得不歸矣。因求余治其目與腿。余診之，心肝弦急，兩尺似有似無。倉卒難顯言，因勸曠懷自慰，病非旦夕可療，靜心凋攝數月，再作計議。蓮芳聽之，而家計寥寥，益不自釋，目益盲，腿益滯。</p>
<p>有趙城眼醫，名家也．一年來介兩次，凡外障雖數年，無不針之而愈者。余甚佩服。急請視蓮芳眼。醫審視之曰，障皮尚嫩，恐不勝針，再數月，皮厚色蒼，一撥而去矣。眼醫出告余曰，瞳仁已壞，治之亦斷不效，不如聽之。前乃托言耳。半年許，果歿。余挽一聯云：「君罪伊何，乃如左邱盲目，孫子病足。天心莫測，竟使黔婁失婦，伯道無兒。」</p>
<h2>陰火大熾清下無功</h2>
<p>病之奇，有不可解者，徒執方藥論之，輒不效。同譜弟王丹文之母，春仲忽患熱，口渴神昏，發暈出汗，熱如火，幾發狂。其母家弟以茂才業醫，視之知為熱。曰，此陽明正病也。投白虎湯用石膏至一兩，而熱如故。又有鄰人李茂才亦業醫，用承氣湯下之，二便少利，而熱如故。丹文邀余往視，按其脈極沉數，知陰火大熾，而腸胃燥甚。告丹文曰，中無實物，火熱熏心，下之無可下，宜清降之。急用地黃湯加山梔，三黃進。藥服而心頗清，熱如故。是夜忽大雪，天甫明，病者知之，要食雪。丹文以其年老，靳不與。逾時，丹文外出，匍匐出戶，就階取雪，臥啖之，凡三碗許，覺心境頓清；又啖之，歸而臥於床。至夕則熱退身涼，越日而起。三日後，病若失矣。噫！藥則罔效而天降雪以除其病。蓋雪陰寒，不假煙火，較藥之清降勝萬倍矣。醫家無此法，亦不敢用也。</p>
<h2>風寒水腫誤作虛治</h2>
<p>諺云：「老醫少卜」殊未必然。蓋此事全關天資學力，資質清者，讀書多，則雖少亦佳，資質濁者，胸中無物，老而亦憒憒也。辛酉春正月，家君體素壯健而年過七旬。以新年酬應勞攘，且多食厚味，又年前偶感風寒，痰咳流連。上元後，口下暴腫，漸而兩足增脹，漸而兩手亦脹矣。堉屢欲施治，而家君素不服藥，自以體壯，俟其病之自已也。越三日更甚，以長媳有小恙，前曾經楊醫治之，乃托治媳病，遣人招楊治家君病。下車視之，則鬚髮蒼然，步履遲重，戴眼鏡矣輪扶杖而入，毫無謙抑態，揚揚睨一切，余唯唯聽命，竊意必斫輪手也。茶後以家君病請教，楊曰，脈後再談，診之越時許，乃釋手曰：年老氣虛，宜有此疾。此時宜先補虛，不必治腫。氣不虛，腫自已也。余以其統混無頭緒。辨曰，經云：「水腫初起，目下如臥蠶形。」今家父病適合，似宜先導水，楊怫然曰，治病拘定書本，焉有是處。請服余藥，方信余之不謬也。余未便非之，而心竊不謂然，因請一方。乃八珍湯加桂附也，又加陳皮五分，木通三分。云可利水，掉臂而去。知必不效，而家君以其年老，當有確見。藥初進而胸腹增滿，腫愈甚。不得已，私以杏蘇飲加木通牛膝防己各三錢，煎成請家君服，至半夜，則小便五六次，天明腹寬，而腫處作縐形，嗽亦少止矣。家君見藥效，連進四服。腫俱消，惟腎囊尚脹，停三日，又以原方加葶藶，二醜進。凡一服，小便洞下十餘碗，腎囊如常，而病全息矣。諺之重老醫者，以其閱歷深，而見聞廣，如楊某者，雖松鶴之壽，此事安得夢見乎！</p>
<h2>陽虛血熱誤作痧治</h2>
<p>吾里中有口頭語，見臥病者，則曰傷寒熱病，醫者來，則曰汗症也。而不知傷寒與熱病二者大相反。蓋傷寒，則真傷於寒，須用熱散，仲景之法是也。熱病，則外而風寒暑熱，內而飲食嗜欲，皆能致之。一或不慎，殺人易於反手。春溫夏熱，河間之法最善。至飲食嗜欲，則合東垣丹溪之法。參而通之，無遺蘊矣。</p>
<p>長媳初入門十餘日，得溫病。呻吟叫號，反側不安。因新婦，急告其父。其父延一醫來，則吾里中丙午茂才也。幼嘗同考試，其人玩世不恭，鄉黨薄之，頗落拓。雖通醫理，而所讀不知何書，每治病，藥寥寥三四味，皆以分計，故獲效甚少。請視長媳，出告余曰，痧也。宜服犀角解毒湯。尚覺近理，急服之，痧未出而熱如故。又易一醫，乃河南武安藥儈也，初解藥性，立方字常誤，胸無墨水，而治病頗有一二效者。適為鄰治病，延之來。診脈不一刻，即出曰，此是痧症，又兼胃寒，故胸煩作嘔耳，須用溫散。請其方，則平胃散也。余不欲令服，而家中人皆曰，時醫常以誤效，請一試之。藥入口則熱幾如狂，晝夜不安。實無可處。余乃入診之，脈極沉極數，而外症甚險。告其父曰，以弟愚見，當是陰虛血熱。此熱症，非痧症也。如是痧，流連將十日，何無一點發耶。此雖新來，乃弟兒婦，當以私意治之，倘有誤，親家亦相諒也。其父諾。乃以大劑地黃湯易生地，合三黃湯滿飲之。二更許沉沉睡矣。又恐餘熱未清，加蟬蛻、燈芯，四服而熱止，病始安。令常服麥味地黃丸，半月痊癒。</p>
<h2>陰熱斑疾</h2>
<p>余甥名映昌，以服賈奔走，兼不節飲食，四月忽得斑疾。初斑未清，請董醫視之，董以時症兼食，用五積散，病益重，渾身如丹，目睛皆赤。有老女醫為人按摩，延視之，知為斑，乃以針刺其舌，又刺其陰而吮之。心稍清，氣稍定，而熱則如故。余知而省之。見面汗如流，口唇焦破，以為陽明胃熱。診其脈則沉而數。問二便，則小便赤，大便如常。腹亦綿軟。知為陰熱無可下，宜清之。乃以知柏地黃湯進之。初服而熱減，三服而熱清。困臥不起，面目黃瘦矣。惟急索食。告之曰，病已去，不必服藥，惟飲食宜清淡減少，否則恐復發也，調養一月而安。此亦陰熱症也。</p>
<h2>血虛肝鬱</h2>
<p>同譜王丹文之母，夏月染疫症，留連數月。屢易醫，病漸去，而苦發熱頭痛，胸中煩擾。而性情反復，忽而不服藥，親鄰力勸之而不肯也。一日頭痛甚，丹文專車迎余，因視其病，以同譜故侄呼余，余亦伯母呼之。再三開導，乃許服藥。診脈則沉數，而肝部澀，左寸微。告丹文曰，此血虛肝鬱也。專滋陰以潤血，熱當已，且「乙癸同源」，血潤則肝亦舒，頭痛亦當止，乃開歸芍地黃湯，加薄荷、山梔以清之。二日後，丹文來，問之，則身涼而頭痛止矣。又不服藥，余以其病無礙聽之。</p>
<h2>論人參</h2>
<p>曾讀紀文達公五種筆記，載有一條，辯論人參。謂關東人參，得東方生髮之氣，偏於提補；上黨人參，得中央土厚之氣，偏於培脾，其用頗疏。此語真前人所未發，余嘗因而思之，古方所載人參，即上黨之潞參也。其時關東未必有參，即有亦未必入中國。</p>
<p>前明，吳守備到遼沈，聞東參能延年益壽，乃服至半斤，遂至腹瀉不止，可見關東人參，至明始入中國。明以前所用之人參，即潞參也。不過在前古則潞參皆地中自植，年深日久，其力頗厚；近則以此為利，年年種而收之，其力較薄耳。</p>
<p>本草謂用參多則宣通，少則壅滯，此言尤要。蓋草木之性，全以氣勝，況參俱甘溫，甘溫則能滑瀉，吳守備之腹瀉，蓋由於此。不比五穀之性，專有益於脾胃也。</p>
<p>每見近日士大夫家，日日用參，且用東參，以求調養，少則足以減食，多則必致瀉腹，亦何惑之甚耶。</p>
<p>余嘗本文達公之意，凡氣虛而怯，或痘瘡危急，平板不起，用東參輒應手而效。治脾胃虛弱，土濕下陷，飲食不思者，專用潞參，以益健運，亦無不驗。</p>
<p>每見近世業醫者多貨藥，臨一症則用參、用茸，惟恐其藥之不售，其罪惡豈淺鮮哉！因附志於此，以為妄而無知者，示之戒焉。</p>
<h2>實證似虛</h2>
<p>同鄉張七兄名守秩，其夫人患痢疾，屢治不效。托其戚梁某轉邀余視之，則年五十餘，人甚枯瘦。診其脈，浮數特甚。問發熱否？曰，熱甚。問，渴否？曰，渴甚。余曰，若然，則腹必脹痛也。曰，然。乃告張曰，外似虛，卻是實證，非下之不可。張不然其說，曰，體素虛，況痢則愈虛，再下之恐不相宜，萬一病不可補，微利之可乎？余告以利之無益，若再遲數日，恐內蘊攻胃，成噤口也。張不得已，囑余開方。余以大承氣湯進。歸經數日，又請往視，余曰，此病當大效，何遲遲至是。問來人，則前方恐過峻，減去芒硝故也。乃告其來人曰：歸語張某，不服芒硝，勿望余治也。來人歸以實告，張勉強加芒硝服之，越半時腹中如墜，暴下如血塊數次，病者氣乏而臥，痢亦止矣。越日遣人又問，告曰：病已去，不必再下，但病實傷陰，以芍藥湯和之，數劑則無誤矣。歸遂服芍藥湯，半月而安。中秋備物作謝，言之始知其詳。</p>
<h2>痰熱上潮喉中結核數年不孕</h2>
<p>越二年，張七兄之女，適吾鄉大郎神村宋，數年不孕，月事不以時至，飲食亦少。春間忽患咽痛，人以為感冒瘟疫，凡解毒散風、銷火涼血諸藥，無所不施，而喉痛如故。張求余治，診其脈沉而滑，恐喉中腫爛，以箸按其舌而視之，則痰核累累如貫珠。白喉連及上齶，且復如此。乃笑曰，如此不著緊病，乃累贅至是乎。頭不痛，鼻不塞，非感冒也；項不腫，喉不閉，非瘟疫也，不渴不熱，非火也；不汗不昏，非風也。此乃痰熱上潮，結而成瘡形，按之軟而滑，其痛若口瘡。況病者體素肥，痰膜凝結，故數年不孕，月事不至。但去其痰，則血絡通，不惟止喉痛，即月事亦當至也。其父喜，急索方，余以芩連二陳湯示之，告曰，二服喉痛自止，再合加味二陳丸一料，時常服之，不半年必更壯矣。病者聽之，余亦不問．迨戊午春，於宗人處，見張至，急揖謝曰，小女病，誠如君言，今抱子矣，鄙親家亦極感謝。為之一笑。</p>
<h2>脾虛血崩</h2>
<p>戊午秋，張七兄親家之夫人，繼室也。即前病喉痛者之姑，年未四旬，得血崩疾。其家富甲一鄉，因距城頗遠，恐有倉猝病，醫藥不便，乃設藥肆於家。而鄉中貧苦者，輒造而請視疾。故亦時時觀醫書。以夫人病崩，自用血余散止之小效。更一醫，又以為熱，用寒涼清之，轉益甚。乃囑張俯求余治，余以路遠辭，而張哀懇至再，不得已，隨之去。入而視之，見病者面如石灰，唇指皆白，知為血虛之極。乃診其脈，則微弱特甚。乃曰，此中氣下陷，脾虛不能攝血，故崩不止。再服寒涼恐血脫也。此時不宜峻補，但提其中氣。氣能統血，則崩自止。澀之，截之皆非法。因為開補中益氣湯，宋似嫌其平平無奇。乃告之曰，君曾讀醫書，不聞士材先生之言乎，其云：「補氣有行血之功，補血無行氣之理。」二語極為明確。可見血隨氣行，氣升則血升，氣降則血降。若不攝其氣而徒止其血，所謂揚湯止沸也。今升其氣，使攝血而不下降，然後再用聖愈、養榮之類補其虛，氣血相調，並可受孕，治病猶余事耳。宋豁然悟，首肯者數四。更為開大劑聖愈湯，告曰，服補中湯不四帖血當止，後以聖愈湯繼之，如恐其煩，可易湯以丸。余去矣，不必再視也。歸不數日，時將春夏之交，宋遣人擔過牡丹二本。並道病已痊癒。再三申謝。余受而栽於盆，培植灌溉，以吾鄉水土雜鹽鹵，其性極惡。除石榴。葡萄而外，凡花果皆不宜此水，宋所送之牡丹，來時正含苞欲吐，余遣人灌溉，不數日，苞痿而枝漸枯，拔而棄之，增惜焉爾。</p>
<h2>食積經閉</h2>
<p>婦人經閉一症，其因多端。而各有虛實之分。審其實而攻之，察其虛而補之。偶一不慎，致禍尤速。</p>
<p>友人王福友之妻，少以貧寒致痞疾，適王數年，面黃肌瘦，月事不至，至或淡少，久而腹痛增脹。延醫視之，見其形症，皆以為虛，補之不應，而王固粗質，亦任之。半年腹大如鼓，見食輒吐，漸至不起，乃邀余治，診其六脈堅大而遲，知為寒凝食積。問曰：胃中按之有堅塊否？病者曰然。告曰，此自幼生冷風寒傷胃氣，故甚則增痛，且四肢發厥，蓋虛人實症也。不溫胃以散其結，則氣凝而血必閉，無怪補之增劇。乃以五積散投之，兩服而腹稍舒。又以香砂平胃散合烏藥散並用之。有鄰人素看醫書，見方詫曰，病屬經閉，治當行血，乃用銷食之劑，無乃非法。余曰，君自不信，看藥後效驗何如。王命其妻服之，越兩日而下穢物，腹膈頓舒。又命常服香砂養胃丸，廿日余而月事至矣。</p>
<p>鄰人請其故，告曰：人身之氣血，相須而行。若置氣而理血，斷無效驗。且人以胃氣為主，乃一身生化之源，而胃經多氣多血，氣舒則血行；氣結則血滯，氣熱則血凝；氣寒則血少。前人調經諸方，理血無非理氣也。今王某之妻，氣為寒食凝滯，故血亦不行，非血本虧也。若用四物等類血藥多涼性，轉於胃氣有礙而愈不行。今以祛寒銷食之品投之，氣溫則行，食銷則通。氣行而通，血不通者，未之有也。聞者首肯再三，凡有疑，輒質問焉。</p>
<h2>氣滯經閉</h2>
<p>又鄰人李壽昌之妻，年四十餘，忽患經閉，其夫素務農，日用頗窘，兼無酒德，醉後輒加詬厲，妻久而鬱結，遂成病。適夏間陰雨，李忽踏泥而至。問何為？曰，家人病甚，擬請診視，余問何病？則曰：經閉數月矣，此時腹中脹痛，飲食不下，人皆以為蠱。請一視之，果不可治，亦聽之矣。問身體腫否？曰，不腫。乃曰，不腫則非蠱也。問痛多乎？脹多乎？對曰：痛有止時，脹則時時如此，幾乎大便不利。余曰，此氣滯礙血也，無須診脈，但服藥三四付，則病癒。李曰：不如一診，較為穩當。余曰：此病顯而易見，何在診脈，爾無非願病癒，但能病癒，何必診也。乃處以本事琥珀散（方：三棱、赤芍、劉寄奴、丹皮、熟地、蒲黃、當歸、官桂、菊花、莪朮等），命服四付。李持而去，余亦忘之。至中秋晚餐無事，余巡行田壟間，李忽攜鐮自禾黍中出而叩首，余驚問何故？對曰，內人服君藥一服，即胸膈雷鳴下氣而脹減，再服之，病全失矣。余以其病已愈，不必再服，至今月事不愆，飲食壯健，真仙方也。以農忙未得叩謝，茲遇君敢申意也。余笑而扶之起。說麻問稷，日瞑而歸。</p>
<h2>論綿山血見愁</h2>
<p>綿山為吾介一巨觀，峰巒秀美，洞壑幽深，而抱腹崖、蜂房泉尤為奇絕。夏秋間遊人如織，其山產奇花異草、藥材尤多，綿黃耆、汾甘草，載在本草，傳之古今，卓然不朽。惜介人性不辨藥，甘草尚有土人掘而市之，余則無采之者矣。其高山之陰，產一藥，名「血見愁」，土人游綿者，輒攜以歸，治血症，無不奇效。余家常藏之。其枝杆類枯蒿，味色極其平淡。</p>
<p>余十歲後，得便血疾，更數十醫無效。有老農以此藥遺之，煎而當茶飲，不數日，血竟止。後服理脾藥廿日遂瘥。乃珍視之。</p>
<p>後鄰人有患吐血者，以少許服之，吐亦止。庚申秋，內人產後血暈，諸藥無效，忽憶此藥，服之遂醒。越數日，余在縣署談及此藥，適比部劉麟甫在座，請曰，親患吐血數月矣，參茸服斤許，而血不止，君盍賜一撮。乃封寄兩許，數日而愈。又縣幕錢席賓季剛先生之侄媳，產後血暈、百藥無效，季剛已為置殮具矣，余以此藥遺之亦愈。後與鄰里談及，凡得此藥治血暈，無不愈。故婦人又呼為血暈草。</p>
<p>余以此藥名問之藥肆，持出，則自禹州來者，形類赤首烏，絕非綿產。後遍翻本草，亦無載此藥者。因思奇才異品，護世無窮，而味不經神農之口，品不列金匱之書，遂至淹沒深山窮穀，醫林無知之者，亦此物之不幸也。噫！獨血見愁也乎哉！附志於此，以補本草之缺，有心者，幸勿忽焉。</p>
<h2>天花逆證</h2>
<p>鄰人趙楚仁，天津典商也，家小康而婦甚悍，生數女一男，極鍾愛之。戊午夏，其五女，年六七歲，發天花。遣人邀余視之，見其形密如蠶種，平板細碎，幾乎遍體。而口唇外，尤環繞無隙，且手足發厥，飲食不進。問幾日？曰，兩日矣。余曰：發熱否？曰，不甚發熱。問二便如常否？曰：大便溏，小便過多。告曰，痘症發熱，三朝自頭至足，漸次見點，須顆粒分明，形色紅潤，飲食二便如常方好。今令嬡之痘，不兩日一齊擁出，且形色、飲食、二便如此，兼帶鎖口，真逆症也，恐治亦不效。其婦嫌余言唐突，語涉怨懟，其夫目怒之，乃止，余曰：來看病非生氣，請待以十日，果有能治之者，余當師之，拂衣欲出。其夫力求一方，乃以升麻葛根湯加參耆付之曰，此敷衍法也。趙服之，越日而痘稍起，急遣人告余曰，痘有轉機，可再視之，余力卻之，趙似怨余，乃請他醫。不十日，痘靨而斃。其家乃信余言，後遇趙於街，長揖作謝。余曰，病不能治，何謝為？趙曰：早聽君言，可省藥錢數貫。余曰，此亦有定數，不費此錢，恐不歿也。趙含淚而去。</p>
<h2>小兒乳積</h2>
<p>東鄰李喜陽，與余往來甚契，庚申秋生一女，其夫人乳素壯，凡子女幼時，無不肥健。一日余至其家，見所生女昏睡不醒，喉中如鋸，問何病？李曰，不知何故，早來忽得此疾，乳之不哺，二便亦閉，腹大如鼓，定是急驚，恐不救。余曰，何至如此。捫之渾身發熱作汗，胸膈高起。告曰，此乳積也，下之可愈。李之表兄梁某、在李之前設藥肆，命取筆研。開白玉餅方，急令取藥搗而灌之，兩刻許，胸間漉漉作聲，下穢物數次，汗止熱退，醒而啼矣。乳之似甚餓，告曰：寄語夫人乳須從容，勿令過急，且乳必坐起，切忌臥乳，永無此疾。其夫人聞之而笑。問何故？則前夕臥乳半夜之所致也。李痛戒之。</p>
<h2>氣鬱成痰</h2>
<p>醫士郭夢槐之妻，以家道式微，抱鬱而病，發則胸隔滿悶，胃氣增痛，轉側不食。郭以茂才設童蒙館，而貲不給饌粥，見其妻病，以為虛而補之。病益甚。乃來求余，診其六脈堅實，人迎脈尤彈指，因告之曰，此氣鬱而成痰也，則發頭暈，且增嘔逆，久而胃連脾病，恐成蠱。郭求一方，乃以香砂平陳湯加大黃、枳實以疏之，二服而大解，病若失矣。</p>
<h2>誤用失笑散致死</h2>
<p>心胃痛一證，內經條目甚多，先輩名公，分為九等，極為詳盡，金鑒遵之，編為歌訣而莫不有虛實之分，可謂無遺蘊矣。</p>
<p>曾憶鄰村有醫士姓王名維藩者，余同譜弟丹文茂才之族叔也，故業醫，貨藥餌，鄰有婦人病胃痛者請王治之，王用海上方中失笑散，服之立效。後凡有患心胃痛者，王輒以失笑散治之，效否各參半。王素食洋煙，一日自覺胃痛，亦自取失笑散服之，痛轉甚，至夜半痛欲裂，搗枕椎床，天未明寂然逝矣。</p>
<p>因思失笑散為逐瘀之藥，王之鄰婦必因瘀血凝滯，故用之立效。其余風寒暑熱、飲食氣鬱，皆能致之，若概以失笑散施治，又不求其虛實，幾何不誤人性命乎。</p>
<p>王用失笑散不知曾殺幾人，故己亦以失笑死，殆冥冥中之報也。業醫者，可不多讀群書，以求其是乎。</p>
<h2>水積吐食</h2>
<p>里中相周龐兄之母，年五十餘，得吐食症。始以為霍亂，吃塘西痧藥數粒，吐如故。又請一醫以為氣鬱，用四七散開之，仍如故。龐求余治，余細問形症，即非霍亂，亦非氣鬱。按其脈，則右關弦甚，余各平平，乃頓悟曰，此水積也。病必小便不利，好飲水，胸膈悶滯，時兼頭暈，病者點頭稱是。因以五苓散加蒼朮、木通利之，越日吐止。龐又請視，告曰，不必再視，但常服香砂六君子丸，不但不能停水，且大益於脾胃，於老人甚相宜也。龐遵之，其母遂健。</p>
<h2>審證與慎藥</h2>
<p>治病之道，如鑰之啟鎖，無論顯然相反，即相近者，辨之不明，治之不當而亦無效驗。其間毫釐之差，千里之謬，如痰之與飲，皆水也，而有陰陽之分。溫之與熱，皆火也，而有微甚之別。其間或虛、或實、在腑、在臟，尤須詳審。審之奈何？形、氣、脈、證是也。合而參之，斷無背謬。俗醫知有心肝脾肺腎。而置六腑於不問，不知人生全以胃氣為主，胃氣盛，則臟腑皆盈，胃氣衰則臟腑皆敗。不但飲食穀氣，全憑胃經生髮，即病者服藥，亦先入胃腑，而後達於它臟，故曰：「得胃者生。」又診脈以胃氣為驗。然則胃者生死之關也，不明乎此，而能達精妙者，未有也。且一病只有一法，故余治病未嘗私自立方，所開皆古人成方，又不敢妄為增減。每見病者粗識字，則厭故喜新、求日易方藥，不知藥之為物，非五穀平和之氣，利此則害彼，醫士用之不當，必有誅伐無過之慮。久之，胸中混淆。病者非病病，乃藥病也，富貴之家，尤易犯此，曾屢屢言之，以為以藥餌調養者成。</p>
<h2>水停不寐</h2>
<p>不寐之病，厥有數端：食積則消導；水停則逐水；陰燥則安陰；脾虛則補脾；陽盛則斂陽。實證多而虛證少，治之極當分別。</p>
<p>余讀書於城東之三道河，有友人李君香泉年四十許，未博一衿。素嗜茶，自早至晚，約飲茶數十碗。見爐鼎熱沸，則喜形於色。久之面乏血色，食量減少。每至秋初，則徹夜不寐，天明益渴。一日由家至塾，攜丸藥來，朝夕服之。又常蓄熟棗仁一囊，不時咀嚼。余問何故？則謂醫家云，棗仁能安神，苦不寐，故常嚼之。問服何藥？則因不寐請醫士習天主教者，名王凝泰，令服人參歸脾丸，謂是讀書勞心，心血虧損所致。余曰，藥效否？香泉曰，並不見效，然尚無害。余請一診，則脈多弦急。告香泉曰，此水停不寐，非血虛不寐也。就枕則心頭顫動胸脅悶脹，小便不利，時時發渴，乃有餘證，宜逐水則寐自安。若以歸脾丸補之，久而水氣上蒸，恐增頭昏嘔吐，年老恐成水腫。香泉曰，是是。急請一治。余以茯苓導水湯付之，二更許，小便五六次，啟衾而臥，則沉沉作夢語曰，好爽快。須臾轉側至明始覺，則遺尿滿席，被襆如泥，而飲自此少，食自此進。命常服六君丸以健睥胃。香泉逢人說項焉。</p>
<h2>食積作吐</h2>
<p>里中龐守愚茂才之子，年四歲，忽患痛，渾身發熱，見食作吐，汗出不止，已昏昏不知人。龐以訓蒙在外，其家乏人經紀，聽之，病增甚，乃轉人求余治。往而問之，則以未出天花，鄰媼以西河柳、胡荽等發之。提其腕，則脈頗弦大。問飲食乎？曰；不食數日，且見食則吐，即粥不進矣。問二便乎？曰，小便赤如血，大便絕無。按其腹脹甚，按胸則張口作痛狀。乃告曰，此停食也，不下之，何能愈。乃以平胃散加芩連大黃以進，服後時許，下黑糞數粒，又下赤色糞數次，腹減而醒。又視之，則脈已小，惟胃氣尚滯，又用保和丸加檳榔末而進之，晚即呼食，其母以蒸饅頭付之，狂啖數口，三更後，病復發矣。次早又請治，得其狀，乃責其母曰，小兒何知，食積甫去，頓令食面，恐新積較舊積難去也。仍令服平胃散，重用萊菔籽投之，囑曰，不必再看，一月內謹忌食面，只可以米粥調之，若再發，則不治矣。其母慚而聽之。多方調攝，適值中秋，共父酒肉致謝，余以文字交固卻之。</p>
<h2>濕痰流注</h2>
<p>風寒暑熱，飲食勞倦，內因外因，病各有一定之徵，一定之脈。惟痰之為病，奇奇怪怪，實有千變萬化之勢。凡不可名狀，無從考核者，大抵皆痰為之也。</p>
<p>同年李友蘭，亦精醫理。辛亥秋在會垣閑寓，得痛病，或手或足，或頭或腹，或腰或脅，發無定時，亦無定處。自以為痹病，用續命湯不效。又以為寒，用麻黃湯亦不效，一日與余閒淡，告余曰：弟病實不可測。余請一診，則緩而滯，乃告友翁曰：君之病乃濕痰流注也。欲再言，友蘭頓悟曰，不差！不差！余已知之，君破題下文我自作也。相與一笑。越兩日，病良已。問服何藥，友蘭曰：箇中人豈煩明言、君試言何藥。余曰，不過二陳湯加蒼朮、薑黃、羌活、獨活也。友蘭出方示之，種種不謬。石虞琴廣文在座，歎曰，二公可謂心心相印矣。</p>
<h2>脾濕停痰上擾心包</h2>
<p>又司徒芝鄰方伯藩秦時，體素肥。時各省提拔軍餉，員弁充集會垣，而庫款支絀，芝翁憂形於色。至夏，得癡呆病。坐臥不安，時而獨言獨語，時而渾身癢搔。又合眼則睡，睡則夢二鬼在前：一自縊者，索掛於項；一無首者，以手提頭，發蓬蓬，血模糊。以是，不能獨臥，不接屬員者十餘日。延醫治之，皆曰冤業，恐不起。又易一醫，則曰心血虧損，用天王補心丹，飲食頓減，及飭門者請余，余入見，則曰：病至此，恐不能治，但請君決之，果何經受病，須詳悉言之，勿隱護也。按其脈，則六部弦緩而滑，寸部浮取尤甚，知是痰證，乃啟芝翁曰，大人乃脾濕停痰，又加以勞倦傷脾，心火浮動，以致痰涎繞心包絡，故時迷時悟，平時必喜唾痰，唾則胸腹寬舒。此時痰涎停結，必不能唾。且時而發煩，時而動躁，時而口渴，時而心顫並手足，時而二便不利，皆痰為之。芝翁曰：二鬼何物？余曰：二鬼亦神魂煩亂所致，其實無之，大人不必多慮。病雖多端，卑職保能愈也。芝翁喜，問服何藥？余曰：大人病非湯藥可療，須先以礬鬱丸吐之，次以控涎丹通之，再多服去痰健脾諸藥則無慮矣。芝翁急索礬鬱丸，余以此藥市中多無，乃制而送之。服數粒，則刻許而吐痰絮膠黏，色兼青黑，自謂心境頓開，欲再服，余曰：痰已吐，再服恐傷胃氣。繼以控涎丹投之。兩日後，設便飯邀余，扶杖告余曰，兩夜二鬼不見，神氣亦清，君之高名實所佩服，敢問不治成何症？余曰，若不治，不癲則癇，甚則成痰厥。其幕友皆來周旋，飯後面歸。不數日，余以內艱、聞訃回籍辭喪。至八月，芝翁以官錢案發，奉旨革職。案定，其閽人黃五絞死，就刑之際，芝翁聞之，痰厥而歿於館。後小梅來書，猶道芝翁之死如君言焉。</p>
<h2>濕熱內淫實證遺精</h2>
<p>黃庚垣先生，江西人，以捐餉奉特旨議敘舉人加藩司銜並賞花翎，補西安糧道。道缺甚優，兼家貲優厚，而觀察性尚清廉，接下以寬，故屬下皆頌之。年五十許，曾患遺精病。觀察侍妾數人，幕友有善醫者，以為許多姬妾，必致虛損。用三才封髓丹補之，而觀察又講頤養。日食燕窩、東參以調之，然遺精如故。幕友以為已成虛勞，不可救藥。</p>
<p>一日午後無事，忽召余至署，且命便服，余急趨命，觀察便衣而出，揖而延之上座，余驚問故，觀察曰：患遺精數年矣，曾服湯藥百余付，丸藥數斤，而毫無效。余問飲食何如？觀察曰：雖不能多，然尚非不能食者。老夫子以我為虛癆，故不敢多食也。問咳嗽氣少、發熱自汗乎？曰否。乃告之曰，既無此數者，恐有餘症，非不足證也。觀察驚曰，遺精尚有實症乎？余對曰，大人未窺醫書，兼脾胃虛弱，不特醫者不敢以實論，即大人亦自疑其虛也。豈知遺精之由有數端，相火太旺，夜夢失遺，陽必壯健，宜滋之；飲食厚味濕熱內淫，則迫而失精，宜銷導之；久曠氣充，精滿而溢，宜疏泄之。此外，中氣下陷，清陽不升，則亦遺；色欲過度，心腎不交，則亦遺。又有恐懼暴怒，精竅滑而不澀，皆能致遺。若或坐或臥，無故遺精，則為虛極之症，最為危險。俗醫不細求其故，不分虛寒實熱，見遺精者，則曰色欲過度也；又曰年少好淫也。致病者，多受不白之冤，而治之多不效。遂歸咎於病之不可治，不亦惑乎。</p>
<p>觀察蹶然起曰：聞君講解，無不確當曉暢，心為之開，然則我之遺精絕非虛症，請一視之。乃診其脈，緩而堅，右關尤甚。告之曰，大人之病，所謂濕熱內淫是也。胸膈常患悶滯，大便頗形後重，當消導之。進以震亨滲濕湯。觀察閱方內有黃連恐不宜，且厚朴、蒼朮恐傷胃氣。告曰，胃苓湯是濕熱要藥。平胃散者，培卑監而使之平，非削平之謂也，前輩言之甚明，此方用黃連川芎素亦疑之，細思其理，苦能燥濕用黃連而焦炒之，用其苦非用其涼也。濕熱能瘀血，用川芎以行之，震亨此方，具有深意。大人成見在胸，一誤豈容再誤，他人必謂此方，非治遺之藥，豈知治病必求其本，本治而末不治者，未之有也。請放心照服四付，常服香砂六君丸以調之，不但精不遺，即飲食亦當倍也。觀察如言服之，五日後，約晚飯，至則告曰，前聞君言甚有理，而心竊疑之，今服君藥，遺已止，果覺精神增健，食量亦佳，並陽事亦壯。非君妙達精微，幾乎冤我，可見醫道無方，在究其理而變通之耳。後余諸蒙獎許，即內艱而歸，猶寄函問訊者數四。</p>
<h2>診脈如審案</h2>
<p>昔人謂用藥如用兵，余嘗謂診脈如審案。其微言妙旨，前輩論之詳矣。惟仕才先生四言要訣，簡明切當。其云：四時之脈，胃氣為本，尤為診家要著。蓋胃氣者，脈之神也。所謂神者，極力形容而總歸之曰有力。竊謂有力二字，尚不足盡神字之義。蓋有力而兼活動，不疾不徐，不軟不硬，方是如春風弱柳氣象。本此參之，百不失一。審時，有正兇，有佐證，有致事之由，有受害之所，有連坐，有掛誣。審之既確，而刑罰之輕重隨之。姑就一端言之，如脾濕停痰一證，脈必沉滑。則沉滑者，正兇也。而脾濕必便難，停痰必減食，此佐證也。濕或飲水過多則兼弦，勞倦思慮則兼弱，此致事之由也。或因濕而泄瀉，或因痰而咳嗽，則泄瀉者，右尺必虛；咳嗽者，右寸亦滑，此連坐也。且脾濕者，飲食不能健運，精液必致不充，則左尺必澀，此掛誣也。但識定正兇，健脾銷痰，病皆自己。若治泄瀉而止之，治咳嗽而清之，則拋卻正兇，誅伐無過，必至不能治病，而反增他病也。故用藥不過古人成方數十，傳之於世，而用之或效或不效者，非筆下之憒憒，實指下之未了了也。</p>
<p>吾嘗謂診脈，須合三部十二臟腑，參考而斟酌之，方有定見。若診寸而忘尺，診右而忘左；滑則治其痰，數則去其火，雖有小效，亦難去病，況審之不清，而未必效乎。俟高明斟酌之。</p>
<h2>濕熱內淫實證吐血</h2>
<p>武芝田先生，崞縣人，以名進士出宰陝西，後升榆林觀察，以榆林地瘠，故在省遙領之。觀察素豪於飲，以酒積得吐血疾。余在省候補，一日招余往視其病，談及其病，觀察曰：吐血數年矣，遇鬱益甚。已更十數醫。或曰思慮傷脾；或曰暴怒傷肝；或曰血熱妄行。或效或否，而終未拔其根，可為吾一治也。余見其氣體魁偉，面色紅潤，食飲兼人，知非虛證。為一診之，則左部沉實，非病脈，右關沉弦而數。乃告曰，大人乃有餘病，非不足病也。如思慮傷脾，則當忡怔健忘驚悸；如血熱妄行，則當身熱發渴，頭暈目眩；如暴怒傷肝，則當兩脅膨脹，胸膈不開，兼發嘔逆。今無此諸證，則前醫皆誤也。以愚見參之，必是濕熱內淫。熱能瘀血，故所吐必血色紫黯，且時而成塊。胃口多患刺痛，小便常赤，大便艱澀，時亦帶血。觀察曰，語語不謬，當作何治？余曰：先以葛花解酲湯清其胃，繼用枳朮胃苓丸行其瘀。再飲食淡泊以調之，不過一月，保不再犯矣。觀察如言調攝。廿日而安。後觀察內艱歸里，以清風兩袖，主講吾汾之西河書院。余亦以內艱歸籍。相隔六十里，文字往還甚密。</p>
<h2>脾虛食滯月事不調</h2>
<p>越數月，余送堂幾府試，與觀察日日見面。</p>
<p>談及共如君云，癸水不調，臍腹常疼，精神委頓，飲食不思，偶受孕，三四月輒墜。前在崞，曾服藥無數，茲又請教授齊老師治之，又請府幕錢老夫子治之，病仍不愈。皆以為癆矣，請一決之。如君出則荊釵裙布、寒素依然，向余展拜，余答之。診其脈則六脈俱虛，而無數象，右關尤甚。告觀察曰，此乃脾虛土衰之證，故精神少，飲食滯。至月事不調，懷孕輒墜，則中氣不能健固之故。極可治。但須積日累月，非旦夕可愈之病也。若遲延不治，則久而泄瀉，或久而咳嗽發熱，面赤惡寒，真癆症矣。余先進以六君子湯加益智、乾薑、芡實，命服八劑後，服資生健脾丸。觀察問，丸藥服幾斤？余曰，多多益善。</p>
<p>後余歸介，觀察解帳歸崞。二年後，在會垣見其長子，問前病狀，則曰，邇來體甚壯碩，去年冬，竟舉一女，家父猶時時道及而銘感焉。</p>
<h2>氣滯水積痰壅肺竅</h2>
<p>痰之為病，甚則發厥，無故昏倒，一或誤治，便不能起，最為危險。推原其故，大抵多由氣鬱，以致痰壅胃口，因而不省人事。舊法以三生飲吐之，攻標之急治也。若不壅於胃，而壅於肺，則痰入清道，尤難措手。其證不昏倒，能知人，惟胸膈間氣，能出而不能入，時時作反張形，遂至湯水不能下嚥，咽則氣逆而哮。</p>
<p>里中布賈姓安名溶者，雖作商，人極推重。辛酉夏，其次子歲余而殤；其三女亦以癆症亡於家；未越月，其次女之婿與其甥男，一日間相繼亡。其次女年幼，婿之族人恐席捲而他適，置死人於不問，互爭產業。安知之，急與憤爭，族人乃散，前喪子女，已抱憂鬱，後次女事，又增其憤，故歸而得胸滿腹瀉之疾。求余治之，診其脈，弦而滯。告曰，此氣滯水積也。用香砂胃苓丸消之，病早愈，安嗇於財，不復服藥，余亦忘之。越十餘日，急遣人招余視其病，余以為瀉之未愈也。急視之，則氣格格作逆，口唾不能下嚥。問膈與胸中作滿否？曰否。提其腕，則兩手如冰，六部伏不見，惟有寸帶滑數。乃曰，此痰壅肺竅也。肺竅為氣所出入，今為痰壅，故氣不能入。如在胃，則卒然昏噤，三生飲吐之可也。今在肺管恐吐之不出，無可措手，急辭而出。安固請一方，乃以木香順氣飲敷衍之，出而告其夥曰：安某之病，必不起，可急為料理。其夥尚不信，因循至次早，乃來省視，安已口張氣促而不能言矣。其堂兄見其危，又邀余治，余固辭。乃請鄰人扶乩，服一方頗能言，遍召家人以身後屬之，轉側而歿。</p>
<h2>胃中積滯四肢腫脹</h2>
<p>李賡堂先生以武進土為溫州都司，後升江西參將，缺甚瘠，告而歸里。其長子號東樵，以北元作戶郎，次子號蓮峰，屢薦未售，博極群書，在里中與余往來甚契，賡堂先生雖林下，而性情伉爽，排難解紛，里黨中多賴之，庚申春，東樵以都中官錢鋪案發，下刑部獄，越年許，案未結，賡翁在家憂之。辛酉夏，忽患胸膈滿悶，飲食不進，遂致手足腫脹。延醫視之，疑為水腫，用利水藥不效。繼更一醫以為虛，用腎氣丸仍不效，而腫益甚。適余以其族人喪葬遇蓮峰，即請余治。診其六脈堅實，右關硬欲搏指。乃告日，此飲食傷胃，有餘病也。平日多食厚味，積滯胃中，胃主四肢，胃氣和，則四肢安；胃氣滯，則四肢脹。必至之勢也。況胃氣既滯，杯勺茶湯皆能停積，雖見小便不利，其實非水能氾濫發為水腫，徒利水，必不效。且此病由濕熱內蘊，再用熟地以澀之，跗子以塞之，不增脹何待乎！惟年老陽虛，脾胃素弱，治無速效，但欲消腫，則易易耳。用滲濕湯加枳實、木通、牛膝銷導之。蓮峰似嫌其峻，余曰：此急則治標之法，但令胃氣通，則積自銷，腫自愈，不必專治小便，小便必無不利。後再用健脾養胃藥治之，須三五月乃成功也。乃服之，一劑而腫皺，三服而十去其六。蓮峰來書云：不意君久持文譽，出其余技，竟使頓失沉屙。昔人云：事親者不可不知醫，弟真赭顏無地矣。明日更煩一視，敬當執帚一待。余往視之，脈稍和，而右關如故。告曰，胃氣已行，尚未通也。問小便利否？曰，未利，乃加葶藶，二醜疏之，即小便十餘碗，肚腹寬舒，飲食亦進。繼以資生健脾丸方，湯服之。告曰：必厭湯藥，服丸可也。蓮峰以秋試在即，欲赴省，恐再發腫。余曰：但令勿服附子、東參、熟地之類，漸而培養之，必無恐，惟老人氣虛，多需時日耳。蓮峰見無礙，遂束裝赴試。賡翁之長女亦知醫識字，又有舊僕亦業醫，蓮峰走後見其羸瘠不堪，力勸其服熟地、麥冬並燕窩、東參等，大補氣血；又見其能食，以雞鴨魚肉日日調養之。未半月，腫雖不作，而胸腹仍滯，小便仍不利矣。</p>
<p>蓮峰出闈而歸，又邀余視，則兩尺如絲，左關有促象，知非吉象，以六君子丸敷衍之，遂辭而不治焉。</p>
<h2>保胎增乳二方</h2>
<p>胎至三月而墮，非損傷也，大抵婦人多憂鬱，乃肝臟結熱，因而腐化耳。達生篇保胎無憂散，最為靈應，屢試屢驗。初覺有胎，即按其方月服一付，不但無小產之患，即臨娩時，亦無橫生逆產，胞衣不下，產後血暈之症。誠仙方也。</p>
<p>至乳食不足，厥有數端，有氣血本虛而不足者；有乳竅未通而不足者；有因香辣等物，觸回不足者；有因憤怒氣鬱不足者；其他食積水停，風寒外搏，皆能致乳減少。蓋乳者血也。血隨氣行，氣盛則盈，氣衰則少，氣鬱則滯，氣熱則結。醫者但治其氣，使之流通，乳汁斷無不通之理。惟婦人年老，真氣已虛，是真減少，雖服參茸，究竟草木鳥獸、枯槁之物不能添作乳汁也。</p>
<p>古人下乳之方不下百十數，有驗有不驗者，緣病情不一耳。近得一方，補氣為主，而通竅散結，解熱活血諸品，無不畢具。已試數人，曆有成效。因錄二方於後，以備不時查考云。</p>
<p>保胎無憂散：潞參三錢、全當歸三錢、枳殼錢半、荊芥穗錢半、紫根朴錢半(薑汁炒)，川貝母二錢研末另衝、川芎三錢、羌活一錢、生黃耆錢半、菟絲餅二錢(酒泡)、白芍二錢半、祁艾錢半(醋炒)、生甘草錢半、生薑三片。水煎服。</p>
<p>下乳神方：生黃耆八錢、全當歸五錢、白芷四錢、陳皮三錢、木通片一錢、漏蘆錢半、通草錢半、紅花五分、薑炭五分、川芎二錢、王不留錢半、潞參四錢、炮甲珠三錢。水煎成加黃酒二樽熱服。</p>
<h2>肝氣不舒鬱而生火</h2>
<p>里人張兄清之妹，歸甯數日，忽患胸滿飲食不進，兼發嘔作嗽，其母疑為胎。邀余治之。診其六脈平，左關帶滑象。因告之曰，病乃肝氣不舒，鬱而生火，且肝沖犯胃土，食必不思，乃以逍遙散加丹皮、山梔清之，二服而瘥。</p>
<h2>氣鬱脾餒</h2>
<p>讀醫宗必讀一書有治病不失人情論一條。可謂老成練達，道盡醫家甘苦。</p>
<p>吾鄉張公景夷之弟，素短於才，在湖南作賈。年余而歸，益無聊賴，兼嗜洋藥，一切衣物日用，仰給於兄。性近侈，私累叢集，又不恭厥兄，終日憒憒抱悶氣，食不沾葷，而糖飴瓜果之類，時不離口。辛酉夏因而成疾，其兄延余診之，六脈平和，惟左關滑，右關弱，乃氣不伸而脾餒候也。因投以逍遙散。其兄以為頗效，而病者不任也，乃入城投榮醫者治之。榮素迂滯，問其形症，且恐貨藥無錢，遂以病不可為辭焉。張歸則涕零如雨，其母素溺愛，亦以為不復生矣，舉家驚啼。日詬誶，景翁不得已，又請余治，情辭急迫，乃曰：榮某以舍弟病為不起，請決之，如真不可為，身後一切好預備也。見其景象，本不欲診，以景翁誠懇相求。又診之，則脈象如故。乃告其家人曰，此病此脈，萬無不好之理，如別生他證，余不敢保，若單有此病，勿藥可愈，如有錯誤，當抵償也。榮某以庸術嚇人，勿為所惑。景翁頗喜。而其弟則大拂意，奮袂而出。景翁嗟悼再三，問何以處？余曰：此雖弱冠，其心反不如聰明童子，但日給錢數十，令其遊行自在，無拘無束，三兩月必無慮矣。景翁如言聽之，病者日日入城，頹然自放，不兩月病痊而更胖矣。景翁始信余言之不謬。即其弟亦自云悔不聽余言，致多費也。余笑而鄙之。</p>
<h2>肝鬱頭痛</h2>
<p>又有楊姓名清禮者，鞋賈也，家頗居積，性好符咒逢人輒談丁甲，並以法水治病，時有小效，而其實胸中齷齪，塊然癡物也。與其弟每同居，弟性好揮霍，然善理財，以故日用應酬諸費能源源接濟無缺，兄則不能沾手。辛酉冬，其弟應武童子試赴府，禮忽大病，頭痛如裂，身熱如火。急請余治。燈下診之，肝滑而數。告曰，此必有大不遂事，以致肝鬱頭痛，平肝痛自止。然何忽至此，暗詢之乃知狎邪（妓院）之費，內外交迫也。乃處以左金丸，三更後頗可，適其弟入武庠。報馬絡繹。禮不顧嚴寒，單衣而出，又召外感，次日病益甚。又請余治，余不耐與此輩交，峻絕之。楊日日易醫，且醫者日數人，而病轉甚，將近狂。其弟問余，余曰，此係心病。非藥石可療。置而不問，過年當自已也。其弟笑頷之。除夕果減，元旦後日愈矣。知者見余無不服，余言觀此二病，知此等症候，雖華扁亦無可如何也。不失人情之論，不益信哉。</p>
<h2>肝木克土</h2>
<p>介之城東，馬如村郭某，在城貨燭，人素迂謹。夏間由介赴祁，往返數四，以躁急故，患胸滿不食。時我介疫氣流行，自以為染疫，急服散藥，而氣乏聲微，愈不可耐，別易一醫以為腎虛，用醫家腎氣丸補之，服四五劑轉益甚，幾至昏不知人，乃轉人延余治，至其家，問何病？則曰，成虛癆矣。問午熱自汗，咳嗽氣喘乎？曰否。然則非虛癆。提腕而診之，則兩寸尺俱平平，兩關皆堅而滯，而右關微帶弦象。乃告之曰，此肝木克脾土也。病由一時氣不遂，兼發急躁，以致肝氣壅塞脾胃，因而胸滿不食，理宜平肝清燥，醫者以桂附補之，脾胃愈塞，不增甚何待乎。此時宜先解桂附之藥力。然後進以疏肝健脾之品，不過半月保無事矣。病者喜急索方，乃開平胃散加山楂，麥芽以消之。病者爭曰，余素無食積，兼久不進食，君用銷食之藥，不亦悖乎。余笑曰，君第知平胃敞為銷食之藥，不知君脾胃中雖無食，卻有桂附，我之用平胃散非銷食，乃解藥毒也。藥毒不解，胸中終難爽快。人第知平胃散銷食，而不知藥亦積，非此不能開脾胃之路，此俗醫拘其方，而不究其理，所以多誤也。病者欣然服之。越三日又請視之，則胸中寬展，漸思食矣。乃繼以逍遙散理其脾而清其肝。告曰，不五劑君必起，但服香砂六君子丸半斤，便更壯健。郭如言服之，半月後仍入城貨燭矣。</p>
<h2>陰火上衝以致耳聾</h2>
<p>直隸藩庫廳張一端，介人也，以名家子，赴直候補。內艱歸里，與余時時作觴豆之會，人亦瀟灑不群。以其猶子張文泉司馬與余為同譜，故叔呼之。庚申夏，忽患耳聾，人與言者，必大聲疾呼方可。適余約作銷夏之會，入門與語，貌甚癡。怪問之，方知其聾。談次便請一診。問其得自何時？曰：四月中旬。延醫數四，皆以為肝氣，用平肝藥數十付竟不效。乃診之，覺其六脈沉而數，兼帶弱象。因告之曰，此陰火上衝也。耳主腎，腎氣壯則耳通；腎氣虛則耳悶；腎氣寒則耳枯；腎氣熱則耳塞。君所患乃腎熱，絕非肝氣，吾鄉小兒多患此，甚則流黃汁，一予散肝，不益悖乎。一翁問服何藥，乃以知柏地黃湯進。一翁似賺過涼。余曰，長夏氣衝，兼胃中有濕熱，必無礙。但耳不聾，則勿服也。否則須服麥味地黃丸，其功稍緩。一齋歸而服之。余略不記憶，越年許，與其兄張立翁茂才談及，方知四付耳即通。因憶其事，申謝再再。</p>
<h2>氣鬱停痰喘咳不食</h2>
<p>里中武庠楊樂齋之二嫂，廿餘而寡，撫一子，人頗精強，一切家政，皆經其手，諸妯娌不及也。然鬱鬱獨居，肝氣時作，發則喘咳交臻，呻吟不食，如此者經年矣，延醫數輩皆以癆瘵論。壬戌春，病復發。臥床月余，閣家無可措手。楊邀余視之，診其左關滑數，右寸關俱甚。乃告之曰，此氣鬱停痰，並非癆症。前必多服補藥，因而增劇，萬勿為慮，藥不十劑，保無恐矣。乃以平胃、二陳、四七湯合進之，藥入口才刻許、膈間漉漉作聲，頓覺寬展，二帖後，喘咳息，而食少進。家人皆驚其神，以為全愈，遂停藥。余亦忘之，未過三日病又作。又延余視，診之，脈少衰，而滑數未改。因問服幾帖？以二對。告曰：二帖路已開，病未愈，少亦須四服，但得大解膠黏穢物，則全去矣。不必易方，宜照前服之，三日後再見也。病者聽之，越日晨起，暴下惡物數次，食大進，喘咳皆歸烏有。更告以香砂六君子丸調攝之，尤當穩固，而其家皆淡漠，不知聽之否也。倘調養不善，恐明春再作也。</p>
<h2>臁瘡外症</h2>
<p>臁瘡外症，極為纏綿。幼時嘗見患此者，膿臭浸淫，經年潰爛。治之法亦頗多，而奏效殊非易事。</p>
<p>辛亥歲，家君曾患此病。洗敷百施，時發時愈。繼有縣之西堡村。多福寺僧，名鐘靈者，祖傳外科數世矣，極有把握，乃請治之。鐘靈來視，則曰，此臁瘡也，最畏散藥、膏藥。若用膏散，必致增盛。生豆腐最好，但切薄片，用暖水泡過，日日更易，不半月必愈矣。家父如言貼之，果克期而愈。</p>
<p>後余亦因磕傷發潰，慚致成此瘡，亦用豆腐貼之，口漸斂而痛時作，又有鄰人教以黃蠟化融去盡煙，加松香末少許，攤竹紙上貼之，果痛止而愈。</p>
<p>以不緊要之藥，治最纏綿之病，功如反掌。乃藥病貴相投，不在貴賤也。故志之。</p>
<h2>少陽感冒熱入血室</h2>
<p>同譜王丹文，續弦至四而仍病。始以為不禮於姑，鬱症也。清陰雨蒼茂才治之，用逍遙散或效或否。月余又請李笛仙茂才治之，問其癸水不至者兩月矣，始疑為孕，繼覺其非，以瘵治之，用十全大補湯加桂附，初服則可，繼服而熱增矣。遷延之久，無計可施，專車迎余。診之脈細數，而肺部尤兼滑象。告曰，此熱入血室症也。初因少陽感冒而起，宜小柴胡湯加生地、丹皮等，以涼其血，則病當愈。陰之逍遙尚近理，李之桂附，則直陰本虛，又加熱藥以熬煎之，是油沃火也。此時必喘咳並作，午後發熱，頭目昏暈，精神倦怠。解外感，則外感已散；清內熱，則真金久為銷爍，恐無效也。丹文急請一方，乃以東垣拯陰理癆湯進。告曰，服後當有效，然此病總以癸水為主，癸水至則可治，若癸水不至，雖效亦無益也。越兩日，丹文來喜曰：服兄藥凡兩劑，病已減半，再服可乎？余曰：可再服兩劑，再看可也。又兩日，迎余去，診之，數象稍變，而虛弱特甚。惟肺部火不退，乃易以人參救肺湯。三服後，丹文又迎余，問其癸水仍不至，乃辭焉。……午月末，余由定回介，問之，則四月中已歿矣。</p>
<h2>痰厥頭痛</h2>
<p>里中王云集夫婦，習天主教，精於技藝，大而土木之工，小而鐘錶之細，以致裁衣治膳，騎射技擊之術無不通，亦無不精也。而清貧如冼，夫婦誦經奉佛，意氣淡泊，鄉黨皆敬之。壬戊春，得腦後疼，起臥不敢轉側，動則如針刺。請王槐堂茂才治之，以為風也，散之不效，乃邀余治。診其六脈浮滑，兩寸俱出魚際者半寸。告曰，此痰厥頭痛，非外感也。甚則為剛痙，必至角弓反張，身體強直；緩則半身不遂，口眼歪斜，實大症也。止頭痛，極易事，但此病須服藥數十付，乃除根。不然疼雖止，將復發。王以貧辭，乃曰：但能止頭痛則舉動自如，余聽之可也。乃示以東垣通氣太陽湯（柴胡、升麻、黃耆各一錢，防風、羌活、陳皮、人參、甘草各五分，槁木、青皮各三分，黃柏一分，白豆蔻仁二分）二服，痛果減，遣人告余，擬余易方，余曰，方無可易，但服至五六付，痛全止矣。王遵之，痛遂已。其妻勸其再治，其夫苦無藥資，遂止。余近聞其手足遲重，飲食不思，且皮膚疼痛不自覺。噫！貧人獲此大病，若跌撲而痰壅以死，猶為了當，不然恐沉綿床褥，累月經年，其罪狀有不可以言語者，傷哉貧也。</p>
<h2>氣滯停食</h2>
<p>醫人強學潮之妻，蜂目而豺身，頑物也。夫歿後，益無忌，仇媳而愛女。在家則捶楚（毆打）其媳。其女適吾里王姓，粗悍不讓其母，而其母年過六旬，往返吾里日數四，疾健如奔。壬戌春，氣後食停，得心胃疼證。前尚忍之，後不可忍。延任醫治之，任更憒憒，謂年老氣虛，施補劑，服則痛滋甚。又請任治，任拒曰：疾不可為矣。其女家與前習天主教者為鄰，知余看王病，乃請治其母，余本欲辭，而王再三慫恿。不得已，為一診，見其右關實大而滑數，肝部亦鬱。告曰，此氣滯停食也，必與人爭氣後，遂進飲食，食為氣壅，鬱而作痛。其女從旁極贊余神，反詬其母，常勸爾勿食時生氣，而爾不悛（改正），今誰怨焉！請一方。乃以越鞠平胃散加枳實，重用香附。告曰：兩服後保無虞矣。後五日遇其女於街，則曰，母病已痊癒，稱謝數四。</p>
<h2>水氣下注腿腳作腫</h2>
<p>趙梅村先生，崞縣人，工書，兼精筆劄。見者輒賞之。以廩生博廣文尚在需次，為榆林觀察芝田先生記室，後芝翁以內艱歸里，梅翁亦家居，近為定襄令同譜弟戴幼安翁司筆劄。壬戌夏，定襄縣試，幼翁邀余閱卷，與梅翁朝夕聚談。一日梅翁曰：弟素頗健，近不知何故，兩腿連腳作腫，午後益盛，悶滯不能屈伸。余問皮皺乎？曰然。光亮乎？曰然。小便不利乎？曰然。胸膈發悶乎？曰然。告曰，此必飲水太多，水氣下注，不治則成水腫，漸而至腰，至腹，則無救矣。梅翁請一診，余曰，不必診脈，但疏瀉其水，小便利則腫自已。至於茶水，渴而後飲，不渴時則絕之，勿過貪也。因進以五苓散加木通、牛膝、防己、瞿麥，至夜則小便五六次，覺肚腹寬舒。天明視之，腫消其半，連服三劑。則腫跡全無，步履矯健。梅翁為書對聯、橫幅，稱神者再再。</p>
<h2>脾胃積滯誤用桂附</h2>
<p>定襄西廳程裕堂，都中人，春初到任，而定缺苦甚，歲入不足二百金，而定俗尤鄙陋不堪，一切起居日用多不遂意。又以老母在京，迎養則不給，不迎又不可，憂思抑鬱，手生一疔，延本處牛醫治之，牛屢施針灸，半月而後愈。然程素有積滯，兼日來憂鬱，遂胸膈張滿，飲食不思，精神餒惰，面目瘦削，牛以為病後大虛，用桂附補之，二服而滿益甚。知余在縣署，急衣冠來拜，幼安問其病，即指余告之曰，潤翁醫道如神，山陝諸相好，無不服者，宜請治之。余診其脈，六部沉數，右關堅欲搏指。笑曰，君腹中如塞井而下之石，積滯無隙，宜乎飲食之減少也。此有餘之症，急下之，則舒暢。誤認為虛，則相悖矣。程曰：精神餒困，肌肉消瘦，非虛而何？余曰，俗醫但知書上病，不如身上病，焉有是處。精神不足者，氣血不流通之故；肌肉消瘦，飲食不生髮之故也。蓋脾胃為容受轉輸之官，積則無所容受，滯則不能轉輸，胃氣一停，百脈皆敗，無怪其然也。程請一方，以對金飲合保和湯合進之。兩服而胸腹作聲。洞下穢物數次，頃刻間，饑不可忍，神氣亦清。晚籠燈而來，伏地作叩曰：此方真靈丹妙藥，前尚未深信，今乃知俗醫之多誤也。余曰，人腹中如常平倉，最須年年出陳易新方好，但舊積既去，胃氣尚弱，新物入口，停滯尤易，須節儉也。程首頷之。即折柬相邀，余憐其苦力辭之。越日余束裝歸里，程乃飭差送數里外。時雨後多泥，凡難行處，即轉輪負轂，余遣之去，則曰，家主之命不敢違。過十里而後返。</p>
<h2>熱病誤治</h2>
<p>余舅母王氏，守節三十年，苦而益篤，經紀家政，今已抱孫。體素弱而不甚服藥。壬戌夏，忽得熱症，煩躁不安，渾身如火。初請其族婿董某治之。董固寡術，以為風也，用小柴胡湯發之。次日，則熱幾如狂，時而昏不識人。表弟以農忙無暇顧，遣人告余，急往視之。則全家驚懼。診之則兩手沉數無他象，惟舌苔焦黑，語近蹇澀，而心甚清。因告曰：此熱病也。董以溫治，故錯。此時必膈間脹悶，咽乾口渴，大便秘，小便黃赤。幸血分尚清，無斑痧等類，形症雖危,尚易治也。因問思涼水否？曰思甚。乃命取新汲水兩碗滿飲之，頃刻間覺頭目俱清，進以三黃解毒煎合犀角地黃湯。兩服而熱退。又以歸芍地黃湯連進而清其血。五日後又視之，則病全清，惟思食過甚。乃告表弟曰，此時胃氣初升，食難化之物，最易反復，宜節之，雖得罪，亦斷不可任其多食也。</p>
<h2>長夏熱病</h2>
<p>楊清禮之女，年六七歲亦得熱症，請江湖士常治之，常以為溫，用荊防敗毒湯不效。又請朱醫治之，朱素作賈，粗知藥性，又以為風，用通聖散而熱仍不退。楊不得已，邀余治之，見其脈象沉數，身熱如火，告曰，此與余舅母同病，並非風，亦非溫，但清其血，熱自止。若用荊防等發之，要知春冬腠理為風寒所閉，故用散藥解之。此時皮膚皆開，長夏酷熱，散之不益耗其氣乎。楊曰，醫者意在發汗。余曰，無汗，汗之可也。有汗，何容發也。楊又謂，醫以為此汗是熱天之汗，非應出之汗也，故發之。乃曉之曰，汗無非人身精液，容有二乎。此時之汗從令愛身上流出，難道以藥發出之汗，從他人身上出乎！必以為此時之汗為非汗，以藥發出之汗為真汗，必使用麻黃柴葛，使汗出不已，真氣耗竭而後已。醫道不通至此，幾何不誤人性命耶。楊語塞。請一方，乃仍用三黃解毒湯。楊癡物，久不見，未知應效否，余不願問之，然亦難保也。</p>
<h2>陰虧血熱</h2>
<p>同譜張月翁之三弟，血燥食重，亦得熱病兼喉痛。清張寶玉視之，張嚇曰：此紅痧蛤蟆瘟也，病甚險，治亦恐不效。其母驚而不安。月翁邀余治。余曰無礙，非痧，非瘟。不過陰虧血熱四字耳，二藥可愈。月翁疾索方，因以六味地黃湯加芩連進之。次日往見月翁，則其三弟已笑迎於門矣。問其病，則曰，藥後酣睡至三更後，則心體具清；此時惟渾身稍軟。余戒之日，病初退，尚未痊癒，須節飲食，省奔走方可。不然，再發則無救矣。尚知信從，數日後，入學而讀矣。</p>
<h2>蓄水喘嗽</h2>
<p>月潭之女，年甫周歲，忽喘嗽交作，渾身發熱。月潭以為尋常感冒，忽之，越日益甚。適余視其弟病，亦請一視，見其面發赤，身發熱，喉中聲如鋸，臆斷曰痰也。必乳母令睡時吃乳，兼膈間有火，故食為火壅而生痰，但得白玉餅兩三枚則可矣。月潭令服之。熱稍退而腹作脹，喘嗽仍舊。又請余視，以為已愈，細視之，兩目昏閉，精神若無，喉間亦如故。月潭曰：看此形恐不救，余曰：何至此，乃視指紋，則紅絲出風關，兼按其膈，則胸中作聲漉漉然。頓悟曰，前以為痰，乃水也，必小便不利，眼胞虛腫，兼咳而作嘔，乳母曰，是。遂開五苓甘露飲，令當茶飲之。次日，月潭邀同進城，問之，則小便十餘次，腹減而精神作矣。因勸以再進一煎，兩日如初。</p>
<h2>大虛腹滿梅核作喘</h2>
<p>鄰人楊本檀之岳母，貧不能自存，衣食悉仰給其婿，而楊亦失業家居，日用頗窘，面目相覷，日抱憂鬱，以愛女故，遂增咳喘，肚腹脹滿，飲食不思，楊不忍坐視，邀余治之。至則面目黃瘦，氣息僅屬。告余曰，不食數日，喉中如有物塞者，咽之不下，唾之不出，他人以為時氣，請一決之。診之則六脈沉弱，兩尺如絲。告曰，此大虛證也，須大劑峻補之方可，且藥必得數十付，再能節思忍氣，可保萬全。若喉中之物，即所謂梅核氣，並非時氣，藥不三服可去之。楊曰，但使喉中通利，飲食能進，其余緩緩保養。至精神大虛，用藥調補，弟近況實艱，藥資無從出也。余曰：亦是，乃開四七湯加桔皮，香附以疏之，藥入口至夜覺喉中之物如墜於腹者，呼吸通利，藥兩進則思食，而精神作矣。楊疾告余曰：家岳病似全愈。余曰：不然，四七湯只能疏通道路，與其本病毫無干涉。蓋病日久，故覺爽快，若再遲數日，恐飲食仍不進也。且脈象甚不佳，不如聽之，徒費銀錢無益也。楊然之。</p>
<h2>氣鬱脅痛</h2>
<p>里中張士美之妻，以夫不自立，常抱抑鬱，而性頗桀驁，一切衣食稍不遂意，輒負氣相爭。壬戌夏，其次子以食積胃熱致喉腫，請鄰人張寶玉治之，張不學無術，以針刺其喉，用新白布擦之。越日，益水汁不下，三日而歿。士美之妻因喪子而增病，乃胸膈作痛，飲食不思，終日昏睡，頭目眩暈，適余至其家，請一視之。診其六部沉鬱，肝臟尤甚，乃告之曰，此氣鬱也，數藥可愈。但須戒忿怒，不然雖愈將復發也。處以香砂四七湯，三服而痊。</p>
<h2>暴怒傷肝熱入血室</h2>
<p>同譜弟李曉圃，以茂才得廣文，後隨其堂兄裕州牧理幕事。裕州多得其力，後其堂兄以撚匪滋擾罷任，曉圃隨後任守城出力，保舉五品銜。辛酉回介，與余往來甚契。一日余至其家，適其侄在坐，似有所求。曉圃代白曰，舍侄因侄孫婦病甚危，已閱十數醫矣。愈治癒甚。而此時尚不知何病，擬請大兄一視，果不可為，好備一切。余以至好隨入視之，見病者蒙衾側臥，形如露骨雞，而面唇甲爪俱白無色。即曰，此血脫象也，得毋產後乎。其母在旁曰，自四月小產後至今不起數月矣。因私計曰，此血大虛之症，用聖愈湯當有效。細視其頭面，血絡帶紫色而棱起，又疑其血分有熱，診之，則六部沉數，左關肝堅欲搏指。乃頓悟曰，此暴怒傷肝，熱入血室之候。其人必性情素暴，此病因忿怒而生，此時必兩脅脹痛，目赤耳鳴。且土受木克，脾經大虛，脾虛則肺亦傷，當時而咳嗽，時而泄瀉，時而發熱，時而心驚，雖非癆瘵相離不遠。趕緊施治尚有轉機，若再遲延，恐無及也。病者就枕點首，嫗婢亦以為然。出而告曉圃，大家皆稱快，因以加味逍遙散合左金丸並處之。告曰，雖不全愈，亦當有效四服後再視也，越五日，遇曉圃於酒市，問之，則病人不願服藥，緣家務不齊，曉圃亦只聽之而已。</p>
<h2>食積胸滿</h2>
<p>間壁郝源林之繼室，雖再醮而撫子孫如己出，內外無間言，里黨咸重之。秋初忽得不食症，精神餒敗，胸膈滿悶。且年過五旬，素多辛苦，以子廷楷來求余治，視之，則氣乏面枯。問頭疼發熱否？曰否。診之，右關獨大，余俱平平，知為食積。告曰，病極易治，藥須三服必全愈。病者擺手曰！余素不能吃藥，吃藥則吐，余笑曰，既不服藥，此病又非針可除，難道醫者只眼一看而病去也？請易以丸何如？病者有難色。其子曰，請一試之，萬一丸藥亦吐，則聽之矣。病者應允，乃令服保和丸不一兩當愈。其子為入城買保和丸，勸服之才三四錢許，則膈間作聲，晚則洞下數次，越日而起，精神作，且思食也。後遇其子於途，稱神者再再。</p>
<h2>氣鬱痰壅</h2>
<p>同譜弟張月譚之姊，所適非人，貪而好氣，以故時增煩悶，久而生痰，又久而積食，因之精神萎頓，飲食不思，膈滿肚脹，自以為癆。一日同入城，月譚邀余診之，則脈象沉伏，按之至骨而後見。告曰，此氣鬱痰也。胃氣力痰氣所壅，則清陽不升，濁陰不降，而頭暈目眩，項粗口乾，腹滿便秘，諸症交作矣。病者稱是。乃進以胃苓承氣湯，二服後，下穢物十數次。又往視之，病者再三稱快。命再一服，即繼以香砂六君丸，不及半斤，當健壯倍於昔日矣。</p>
<h2>小兒肝疳</h2>
<p>里中段克寬之孫，得疳疾不起數日矣。遇野醫視之曰：此痞也，割之可愈，乃割其耳根並割其手之虎口，而病不去。又數日，則兩眼羞澀難間，頭大頸細，腹有青筋，時時張口作睡態，無法可施，段乃抱而問余。余視其形狀，告曰，野醫以為痞良是，但俗之所謂痞，即古之所謂疳也。病有十餘種，五臟六腑皆有此病。令孫所患，乃肝疳也。始而發嘔，繼而脅脹。肝火上衝於目，故流淚羞明，漸而起雲翳。不三月，兩目瞽矣。目瞽而病蝕其肝，命亦隨之而去，此時尚可挽回，若再遲月余，則無救矣。段以仵作積財，家頗裕，而猥鄙特甚。又告曰：此病性命相關，若重財輕命，小效而中止，不如勿治也。段力表其不能，乃先施退翳散，並逍遙散清其肝服而後來，則翳已清，精神亦好，又處以化痞消疳湯服之。數日遇於途，謝曰，孫病已全愈，天太熱不能多服藥。余曰：固知爾之吝也，此時病雖去而元氣未復，脾部尚虛，不力培之，將復作也，如不願服藥，宜買蘆薈消疳丸（生蘆薈、胡連、石膏、羚羊角、梔子、牛蒡子、銀柴胡、桔梗、生大黃、元參、薄荷、甘草）過半斤而後可。否則再病，勿求余也。段笑而頷之。不知能聽之否？乃知齷齪之流，不足與論病，並不足論事也。</p>
<h2>食為氣滯中脘不通</h2>
<p>裕州牧蓮舫兄之夫人，號杏云，靈石漪泉翁女也。工書畫，善音律，一切博奕棋酒，無所不通。適李時，蓮舫尚諸生，勸之讀書，不數年得鄉舉，後以譽錄議敘牧裕州。杏云隨之往，日行事件，多經其手。而蓮舫多萎靡，且好狎邪遊，並取二妓。以防撚不力失官，後雖開復，而空坐省城，益不自釋，日與夫人反目。辛酉秋，夫人不得已回介，家道式微，翁姑俱老，諸事賴之保全。余曾一次，即為余畫桃花春燕扇幅，至足感也。壬戌夏，忽遣人邀余，問之，則杏云病矣。急隨之往，則衣飾楚楚，診其脈，則六部沉伏。余曰：此鬱滯也，宜逍遙散。夫人亦知醫，點頭稱是。二服而全。又隔月，余赴捕廳之飲，先見曉圃，曉圃曰，兄來正好，五嫂又病矣，何不一視。入而問之，杏云曰，以為感冒，但覺憎寒發熱，肢體沉困，用柴胡四物湯，一服而腹作痛，昨夕猶緩，朝來無止時矣。時疫氣流行，恐其為疫，故請大哥一視。診之則余脈俱平，惟右關頗實而滯。告曰，此非外感，亦非瘟疫，仍是食為氣滯，故中脘不通。不惟增痛，且多脹也。況胸間作悶，時時作噯氣，以霍香正氣散疏之則無病矣。杏是之，稱不謬。乃處一方。越二日，遇曉圃於酒市，問之，則日二服全愈，家五嫂命致謝焉。</p>
