<header data-type="book">
<h1>全體病源類纂</h1>
</header>

<h1>五藏六府諸病·第一篇</h1>

<h2>肝藏說</h2>
<p>（每日丑時，周身血氣俱注於肝）</p>
<p>謙按：肝，干也，謂其性好動而干犯他藏也，故曰肝為剛藏。其形上面隆凸，下面凹陷，分左右兩大扇，貼於橫膈膜下，色紫赤，中有血液釀出膽汁，以為消化水穀之用，其性喜條達而惡抑鬱，故《經》曰：木鬱達之。</p>
<p><u>肝病</u></p>
<p>沈金鰲曰：肝於五藏，為將軍之官，合少陽膽為一部，居脾之右，腎之前，其位近少腹，其地當血海。其部在兩脅，其經起足指，上通顛頂。其氣本陰，因其表為少陽，故一陽發生之氣起於厥陰而一身上下無所不至。肝和，則氣發揚為諸藏之贊助；若衰與亢，則反為諸藏之殘賊。其職主藏血，又主筋，能任筋骨勞役之事。其精上注於目，兼通於耳。其德屬木，故體本柔而剛，直而升，以應春氣。及其為病也，多逆，逆則頭脅或少腹痛，耳聾目瞑，口苦，善怒，喜瘛；虛則善恐，聾瞶；經病則腰痛疝㿉，少腹腫，甚則嗌乾，色脫，遺溺，癃閉。其氣鬱或勝，必侵及乎脾土，土受木克則胸滿嘔逆也。夫肝氣之逆，由肝鬱所致，然治郁不可用攻伐，故《經》曰：以辛散之，以辛補之。若肝火實證，又每因肝血之虛，既虛則不得不滋養，故《經》曰：以酸收之，以甘緩之。總之，肝氣鬱，宜辛溫；肝血虛，宜清潤。薛氏清火、補肝兩說，夫豈不通之論哉。</p>
<p>《素·四氣調神大論》：春三月，此謂發陳。天地俱生，萬物以榮，夜臥早起，廣步於庭，披髮緩形，以使志生，生而勿殺，予而勿奪，賞而勿罰。此春氣之應，養生之道也。逆之則傷肝。</p>
<p>《十六難》：假令得肝脈，其外證善潔、面青、善怒，其內證臍左旁有動氣，按之牢若痛，其病四肢滿，閉，淋溲，便難、轉筋。有是者，肝也。</p>
<p>肝風：</p>
<p>《素·風論》：肝風之狀，多汗惡風，善悲，色微蒼，嗌乾善怒，診在目下，其色青。</p>
<p>肝氣：</p>
<p>《靈·邪淫發夢篇》：肝氣盛則夢怒。</p>
<p>肝熱：</p>
<p>《素·熱論》：肝熱病者，小便先黃，腹痛多臥，身熱，熱爭則狂言及驚，脅滿痛，手足躁，不得安臥。</p>
<p>《痿論》：肝熱者，色蒼而爪枯。</p>
<p>肝中寒：</p>
<p>《金匱》：肝中寒者，兩臂不舉，舌本燥，喜太息，胸中痛，不得轉側，食則吐而汗出也。</p>
<p>肝咳：</p>
<p>《素·咳論》：肝咳之狀，咳則兩脅下痛，甚則不可以轉，轉則兩胠下滿。</p>
<p>肝脹：</p>
<p>《靈·脹論》：肝脹者，脅下滿而痛引少腹。</p>
<p>肝痹：</p>
<p>《素·五藏生成篇》：青脈之至也，長而左右彈，有積氣在心下支胠，名曰肝痹。得之寒濕，與疝同法。腰痛、足清、頭痛。</p>
<p>肝著：</p>
<p>《金匱》：肝著，其人常欲蹈其胸上，先未苦時，但欲飲熱。旋覆花湯主之。</p>
<p>肝瘧：</p>
<p>《素·刺瘧篇》：肝瘧者，令人色蒼蒼然，太息，其狀若死者，刺足厥陰見血。</p>

<h2>膽府說</h2>
<p>（每日子時，周身血氣注於膽）</p>
<p>謙按：膽在肝之短葉間，位居右側，形如囊，內貯膽汁由肝藏分泌而出，其色綠，有黏性，氣臭味苦，能助食物消化。西人測驗另有一管通脾，其信然歟。</p>
<p><u>膽病</u></p>
<p>沈金鰲曰：膽為中正之官，又為中清之府，其府直得先天甲木之氣，乃一陽之妙用也。《經》曰：少陽連腎，腎上連肺。夫少陽起於夜半之子，為腎之天根，其氣上升以受肺之節治，通乎上下，遊行三焦，故十一經皆取決於膽。《經》曰：少火生氣。以少陽即嫩陽，為生氣之首也。若夫動而為病，實則口苦，耳聾，鼻淵，脅痛，馬刀挾癭；虛則易驚，潮熱，或不得眠。有實則易怒，虛則善恐。又膽病多寒熱也。古人以小柴胡為少陽正藥，而溫膽湯、瀉青丸亦各有寒熱之所宜，臨證細酌焉可也。</p>
<p>《靈·邪氣藏府病形篇》：膽病者，善太息，口苦，嘔宿汁，心下澹澹，恐人將捕之，嗌中吤吤然，數唾，在足少陽之本末，亦視其脈之陷下者灸之，其寒熱者，取陽陵泉。</p>
<p>《四時氣篇》：善嘔、口苦，邪在膽，逆在胃。膽汁泄則口苦，胃氣逆則嘔苦。</p>
<p>《經脈篇》：膽足少陽之脈，是動則病口苦，善太息，心脅痛，不能轉側，甚則面微有塵，體無膏澤，足外反熱，是為陽厥。是主骨所生病者，頭痛，頷痛，目銳眥痛，缺盆中腫痛，腋下腫，馬刀挾癭，汗出振寒，瘧，胸、脅肋、髀膝外至脛絕骨、外踝前及諸節皆痛，小指次指不用。</p>
<p>膽脹：</p>
<p>《靈·脹論》：膽脹者，脅下痛脹，口中苦，善太息。</p>
<p>膽癉：</p>
<p>《素·奇病論》：口苦者，病名曰膽癉。夫肝者，中之將也，取決於膽，咽為之使。此人者，數謀慮不決，故膽虛，氣上溢而口為之苦，治之以膽募俞。</p>

<h2>心藏說</h2>
<p>（每日午時，周身氣血俱注於心）</p>
<p>謙按：心居胸部中央，能生血，亦能行血，有大小各脈管穿貫其間，其質系筋肉結合而成，其外又有層層滑澤之油膜包裹之，或曰心囊，或曰即心包絡；中有孔竅，分左、右、上、下四房，其功用在收放往來之血液，榮養百骸。如血虛或不流暢，皆足生病也。</p>
<p><u>心病</u></p>
<p>沈金鰲曰：心位南方，配夏令，故稱君火。心精滿，始能分神於四藏；心氣充，始能引精於六府。所謂生之本，神之居，血之主，脈之宗也。但心與腎連，若腎水不足，則心火必至上炎。大凡火之有餘，皆由血之不足，若心火之有餘、不足，詎得與六淫之火同論哉。亦惟握精固氣，養陰凝神，調劑使抵於平和而已。嘗考《內經》所言心病，共分三項，其一謂心之虛實，皆不見於本藏而見於經絡，如胸、腹、腰、脅、兩臂痛是也；其一言始病經絡，次及於心藏者，如心經絡病嗌乾、心痛是也；其一則言思慮往來，神不守舍，如精氣並於心，則驚喜奪精、汗出於心及憂思傷心是也。凡諸心病者，皆由不能養精以馭氣而使神以氣存、氣以精宅也。欲求心無病者，可不於此加之以意哉。</p>
<p>《素·標本病傳篇》：心病先心痛，一日而咳，三日脅支痛，五日閉塞不通，身痛體重，三日不已死，冬夜半、夏日中。</p>
<p>《藏氣法時論》：心病者胸中痛，脅支滿，脅下痛，膺、背、肩胛間痛，兩臂內痛，虛則胸腹大，脅下與腰相引而痛。</p>
<p>《靈·邪客篇》：諸邪之在心者，皆在於心之包絡。包絡者，心主之脈也。</p>
<p>《本神篇》：心怵惕思慮則傷神，神傷則恐懼自失，破䐃脫肉，毛悴色夭，死於冬。</p>
<p>《十六難》：心脈，其外證面赤口乾，喜笑；其內證臍上有動氣，按之牢若痛，其病煩心，心痛，掌中熱而晼。</p>
<p>心氣：</p>
<p>《靈·淫邪發夢篇》：心氣盛則夢善笑恐畏。</p>
<p>心虛：</p>
<p>《素·藏氣法時論》：心虛則胸腹大，脅下與腰相引而痛。</p>
<p>《靈·本神篇》：心氣虛則悲。</p>
<p>《金匱》：心氣虛者，其人則畏，合目欲眠，夢遠行而精神離散，魂魄妄行。陰氣衰者為癲，陽氣衰者為狂。</p>
<p>心傷：</p>
<p>《金匱》：心傷者，其人勞倦，即頭面赤而下重，心中痛而自煩，發熱當臍跳，其脈弦，此為心藏傷所致也。</p>
<p>心熱：</p>
<p>《素·痿論》：心熱者，色赤而絡脈溢。</p>
<p>《刺熱論》：心熱病者，先不樂，數日乃熱，熱爭則卒心痛，煩悶善嘔，頭痛面赤，無汗，壬癸（水）甚丙丁（火），大汗氣逆，則壬癸死。刺手少陰、太陽。</p>
<p>心痛：</p>
<p>《靈·經脈篇》：心手少陰之脈動，則病嗌乾心痛，渴而欲飲。</p>
<p>《五邪篇》：邪在心，則病心痛善悲，時眩僕。</p>
<p>心疝：</p>
<p>《素·脈要精微論》：診得心脈而急病為心疝，少腹當有形也。</p>
<p>《大奇論》：心脈搏滑急為心疝。</p>
<p>《靈·邪氣藏府病形篇》：心脈微滑為心疝，引臍小腹鳴。</p>
<p>心脹：</p>
<p>《靈·脹論》：心脹者，煩心短氣，臥不安。</p>
<p>心風：</p>
<p>《素·風論》：以夏丙丁傷於風者為心風。心風之狀，多汗惡風，焦絕，善怒嚇，赤色，病甚則言不可快。診在口，其色赤。</p>
<p>心中風：</p>
<p>《金匱》：心中風者，翕翕發熱，不能起，心中飢，食即嘔吐。</p>
<p>心中寒：</p>
<p>《金匱》：心中寒者，其人苦病，心如啖蒜狀，劇者心痛徹背，背痛徹心，譬如蟲注。其脈浮者，自吐乃愈。</p>
<p>心瘧：</p>
<p>《素·刺瘧篇》：心瘧者，令人煩心，甚欲得清水，反寒多，不甚熱。刺手少陰。</p>

<h2>小腸府說</h2>
<p>（每日未時，氣血至小腸）</p>
<p>謙按：小腸較大腸細而長，上接於胃下口之幽門，下連大腸，居腹之中部。凡胃中所納食物皆輸入小腸，由小腸下口之闌門分別滓穢入大腸，其水則滲入膀胱，故曰受盛之府。</p>
<p><u>小腸病</u></p>
<p>沈金鰲曰：小腸之職與大腸相似，皆為胃化物之器，故其病亦與胃同。因本經與心絡並行隧道，故本經病或延及於心，然只在經絡而已。其為病也，實則嗌痛，頷腫，節弛，肘廢，小水不利，色赤或澀痛，或尿血；虛則遺尿，面白，小腸生贅肬；則發為遺溺、閉癃等病。</p>
<p>《靈·邪氣藏府病形篇》：小腸病者，小腹痛，腰脊控睪而痛，當耳前熱，若寒甚，若獨肩上熱甚，及手小指、次指間熱，若脈陷者，此其候也，手太陽病也。取之巨虛下廉。</p>
<p>小腸氣：</p>
<p>《素·至真大要論》：太陽在泉，寒淫所勝，民病小腹控睪引腰脊，上衝心。</p>
<p>《靈·脹論》：小腸脹者，少腹䐜脹，引腰而痛。</p>
<p>小腸泄：</p>
<p>《五十七難》：小腸泄者，溲而便濃血，少腹痛。</p>
<p>小腸咳：</p>
<p>《素·咳論》：心咳不已，則小腸受之。小腸咳狀，咳而失氣，氣與咳俱失。</p>
<p>小腸癰：</p>
<p>《靈樞》：關元隱隱痛者，小腸疽；其上肉微起者，小腸癰。</p>

<h2>脾藏說</h2>
<p>（每日巳時，氣血注脾）</p>
<p>謙按：脾者卑也，謂如土之卑下也，居胃底之外側。又脾者，裨也，謂其攻用裨助胃氣以消化穀食也。形圓長而扁。氣旺則血流走，氣虛弱則運化之機滯而病生矣。</p>
<p><u>脾病</u></p>
<p>沈金鰲曰：脾者，後天之本，四藏皆賴其煦育也。其職主為胃行精液，掌太倉之運量，而以升為德。其部當水穀之海，故惡濕。在五行屬土，配資生之坤元，故為十二經根本；居中央以灌四旁，故健運乃能無病。《經》曰：腹滿䐜脹，下厥上冒者，皆由中氣不運，脾陰鬱結，而陽明之氣亦不上騰，是以不能出營衛，升達上下也。惟不上升，故肺氣不行而上冒；惟不下達，故腎氣獨沉而下厥耳。至若本經為病，不外濕淫、熱鬱兩端。濕由水氣，病則壅，壅傷氣，必腹脹胃痛，腸鳴飧泄，身重，食不消化。熱由火氣，病則不濡，不濡則傷血，血枯而燥，必胃氣厚，善飢，肉痿，善瘛，腳下痛，口乾，舌本強，食即吐或食不下，煩心，脾約，此皆脾陰病也。治之者，務使三焦流轉，土潤而升，則火氣不得病之；土溫而旺，則水氣亦不得病之矣。</p>
<p>《素·標本病傳論》：脾病，身痛體重，一日而脹，二日少腹腰脊痛，脛痠，三日背膂筋痛，小便閉，十日不已，死。</p>
<p>《藏氣法時篇》：脾病者，身重，善肌肉痿，足不收行，善瘛，腳下痛，虛則腹滿，腸鳴飧泄，食不化。</p>
<p>《靈·本神篇》：脾愁憂而不解則傷意，意傷則挽亂，四肢不舉，毛悴色夭，死於春。</p>
<p>《十六難》：假令得脾脈，其外證面黃善噫，善思善味；其內證當臍有動氣，按之牢若痛，腹脹滿，食不消，體重節痛，怠惰嗜臥，四肢不收。有是者，脾也。</p>
<p>脾風：</p>
<p>《素·風論》：脾風之狀，多汗惡風，身體怠惰，四肢不欲動，色薄微黃，不嗜食。診在鼻上，其色黃。</p>
<p>《玉機真藏論》：肝傳之脾病，名曰脾風，發癉，腹中熱，煩心。</p>
<p>脾癉：</p>
<p>《素·奇病論》：有病口甘者此五氣之溢也，名曰脾癉。夫五味入口，藏於胃，脾為之行，其精氣、津液在脾，故令人口甘也。此肥美之所發也，此人必數食甘美而多肥也。肥者，令人內熱；甘者，令人中滿。故其氣上溢，轉為消渴。治之以蘭，除陳氣也。</p>
<p>脾中風：</p>
<p>《金匱》：脾中風者，翁翁發熱，形如醉人，腹中煩重，皮目瞤瞤而短氣。</p>
<p>脾水：</p>
<p>《金匱·水氣病篇》：脾水者，其腹大，四肢苦重，津液不生，但苦少氣，小便難。</p>
<p>脾脹：</p>
<p>《靈·脹論》：脾脹者，善噦，四肢煩悗，體重不能勝衣，臥不安。</p>
<p>脾虛泄：</p>
<p>《素·藏氣法時論》：脾虛則腹滿，腸鳴飧泄，食不化。</p>
<p>《五十七難》：脾泄者，腹脹滿，泄注，食即嘔吐逆。</p>
<p>脾約（液枯便閉也）：</p>
<p>《金匱》：（五藏風寒）趺陽脈（胃脈）浮而澀，浮則胃氣強，澀則小便數，浮澀相博，大便則堅，其脾為約。麻仁丸主之。</p>
<p>脾咳：</p>
<p>《素·咳論》：脾咳之狀，咳則右脅下痛，隱隱引肩背，甚則不可以動，動則咳劇。</p>
<p>脾瘧：</p>
<p>《素·刺瘧篇》：脾瘧者，令人寒，腹中痛，熱則腸中鳴，鳴已汗出。刺足太陰。</p>
<p>脾熱：</p>
<p>《素·刺熱論》：脾熱病者，鼻先赤（節）。脾熱病者，先頭重頰痛，煩心，顏青，欲嘔，身熱，熱爭則腰痛不可用俯仰，腹滿泄，兩頷痛，甲乙（木）甚戊己（土），大汗氣逆，則甲乙死。刺足太陰、陽明。</p>
<p>《痿論》：脾熱者，色黃而肉蠕動。</p>

<h2>胃府說</h2>
<p>（每日辰時，氣血注於胃府）</p>
<p>謙按：胃者，匯也，水穀匯聚之所也。為人體內之消化器，位居中央，色黃屬土，其形如囊，左大右小，橫臥於膈膜之下，胃囊上端一管為食道，直接喉下，稍下曰賁門，胃囊之下端為幽門，連於小腸之上口。胃體系筋肉結合而成，內有黏膜，其紋皺。胃氣盛者，能食而不傷，過時而不飢，胃氣衰者則反是。</p>
<p><u>胃病</u></p>
<p>沈金鰲曰：《經》曰：陽明者，午也。午為夏之中，相火之本職，又三陽之合氣，故於十二經氣獨盛，血獨旺，熱極多。而心胞絡之代心以主相火者，皆與胃同其功用也。故就胃言之，實營衛之大主，五藏之宗主。其氣騰而上盛，則脈倍見於人迎；其精充而下輸，則脈湧盛於趺陽。仲景治病，必三部候脈，兩手之外，必兼診兩頰喉之人迎、兩足趺之衝陽，良有以也。蓋以腎為先天之根，胃為後天之本，胃強則後天強，而先天亦得補助；胃絕則後天絕，雖先天足恃，七日不食亦死。故胃雖屬府，其脈能大見於寸口，而五藏亦待以養也。夫胃府既氣盛、血旺、熱多，故其為病亦多實熱有餘之症，試觀狂、瘧、溫淫汗出、鼽衄、口喎、唇胗、腮腫、喉痹、斑黃、狂亂、譫語、潮熱、登高而呼、棄衣而走、詈罵不避親疏等實症，非以其府為兩陽合明之故乎？仲景曰陽明之為病，胃家實也，固指氣盛、血旺、熱多而言，非僅指燥滿便硬也。雖然胃家病固多有餘，而亦時形不足，比如相火既虛，不能熏蒸胃土，胃氣即不旺，氣不旺即怯而不支，故亦有虛寒之症，試觀洒洒振寒、善伸數欠、顏黑、惡人與火、聞水聲惕然而驚、心欲動、獨閉戶牖而處、身以前皆寒慄、胃中寒、䐜脹，陽明之虛寒亦有如此者，安得泥胃家實之一言，概從有餘治之哉。</p>
<p>《素·標本病傳論》：胃病脹滿，五日少腹、腰、脊痛，胻痠，三日背膂筋痛，小便閉，五日身體重，六日不已，死。</p>
<p>《靈·邪氣藏府病形篇》：面熱者，足陽明病。</p>
<p>《師傳篇》：胃中熱，則消穀，令人懸心善飢，臍上皮熱；胃中寒，則腹脹。</p>
<p>胃脘病：</p>
<p>《素·評熱病論》：食不下者，胃脘膈也。</p>
<p>《靈·大惑篇》：胃氣逆上，則胃脘寒。</p>
<p>胃風：</p>
<p>《素·風論》：胃風之狀，頸多汗，惡風，食飲不下，膈塞不通，腹善滿，失衣則䐜脹，食寒則泄。診形瘦而腹大。</p>
<p>腸胃寒熱：</p>
<p>《靈·師傳篇》：胃中寒，腸中熱，則脹而且泄；胃中熱，腸中寒，則疾飢，小腹痛脹。</p>
<p>胃脹：</p>
<p>《靈·脹論》：胃脹者，腹滿，胃脘痛，鼻間焦臭，妨於食，大便難。</p>
<p>胃咳：</p>
<p>《素·咳論》：脾咳不已，則胃受之。胃咳之狀，咳而嘔，嘔甚則長蟲出。</p>
<p>胃泄：</p>
<p>《五十七難》：胃泄者，飲食不化，色黃。</p>
<p>胃反：</p>
<p>《金匱·嘔吐噦篇》：病人脈數，數則為熱，當消穀引食，而反吐者，何也？師曰：以發其汗，令陽氣微，膈氣虛，脈乃數，數為客熱，不能消穀，胃中虛冷故也。脈弦者，虛也。胃氣無餘，朝食暮吐，變為反胃。寒在於上，醫反下之，令脈反弦，故名曰虛。又趺陽脈浮而澀，浮則為虛，澀則脾傷，脾傷則不磨，朝食暮吐，宿穀不化，名曰胃反，脈緊而澀，其病難治。又嘔而脈弱，小便複利，身有微熱，見厥者難治，四逆湯主之。又諸嘔吐，谷不得下者，小半夏湯主之。又胃反嘔吐者，大半夏湯主之。又胃反，吐而渴欲飲水者，茯苓澤瀉湯主之。</p>
<p>胃癰：</p>
<p>《素·病能論》：此診者，當候胃脈，其脈當沉細。沉細者，色逆也，逆者，人迎甚盛，甚盛則熱。人迎者，胃脈也，逆而盛則熱聚於胃口而不行，故胃脘為癰也。</p>

<h2>肺藏說</h2>
<p>（每日寅時，周身氣血俱會萃而注於肺）</p>
<p>謙按：肺者，市也，百脈朝會之所也。其質脆而澤，中有氣管及多數微絲血管，左右兩扇，色紅淡微灰，居人身內最高之地，為諸藏之華蓋。其功用內司呼吸及輸運津液，外主皮毛，使百脈流通。</p>
<p><u>肺病</u></p>
<p>沈金鰲曰：肺主氣，上連喉系，下通心肝之竅，司呼吸出入，居上以鎮諸藏而壓糟粕以行於大腸，出納清氣以化濁物。所居者太陽之陰（太陽以心胸為里），能固陽氣（肺主皮毛而衛外）；所司者太陰之陽，以行陰物，又與足太陰脾同行氣以給眾藏，故亦名太陰。其屬則位西方金，其配則為秋令，秋則氣化清肅，萬物賴以成就。金則為水之母，其氣恆下行，靜時下澄於腎宮，與水相通，《經》所謂母隱子胎是也。但腎為真水，天一所生，肺既為其母，故居華蓋之頂，猶據天河之上源，以注崑崙而入龍門，匯於海也。其輸精於藏府，猶在天之雨露，澤潤萬物也。然常病燥與寒熱者，以輸精四布或太過，則不能滋化；或邪乘，則不得行令，故反病燥、反病寒熱也。古人嬌藏之名，所由來矣。夫肺主皮毛，而皮毛則純屬太陽之部，太陽之傷風、傷寒、汗出中風與形寒飲冷皆能傷肺，故其現症，如鼻塞聲重、喘咳氣逆、肩背痛、嚏噴、胸滿煩心亦與太陽同。五志之火上炎、陰虛內爍、肝火挾心而刑金亦能傷肺，故其現症，如肺痿、肺癰、痿躄、吐血、聲嘶、息有音、鼽衄、掌熱、喘不休、口血出、皮毛焦皆由火燥焦灼之故。若虛則有少氣不能報息，耳聾嗌乾諸症。凡茲病症，若由外傷者，其治法與足太陽同，或邪盛鬱塞，必於足太陽瀉之；若傷於內者，正氣衰，金被殘賊，必於足少陰養之，使子能助母而金氣不至耗泄，又必於足太陰培之，使母能生子而金氣得以涵育。抑猶有進者，金性下沉，隱於子胎，腎家水火兩病，肺俱能受其害，故有時腎水上泛為痰，肺受之則喘壅而嗽；有時腎火上炎，肺受之則喘息而鳴，皆腎氣上逆而為病也。調理大法，除本經自病外，要不過於足太陽、太陰、少陰三經分治之。</p>
<p>《素·標本病傳論》：肺病喘咳，三日而脅支滿痛，一日身重體痛，五日而脹，十日不已，死。</p>
<p>《藏氣法時論》，肺病者，喘咳逆氣，肩背痛，汗出，尻、陰股、膝、髀、腨、胻、足皆痛，虛則少氣不能報息，耳聾嗌乾。</p>
<p>《靈·本神篇》：肺喜樂無極則傷魄，魄傷則狂，狂者，意不存人，皮革焦，毛悴色夭，死於夏。</p>
<p>《難經》：外症面白，善嚏，悲愁欲哭；內症右有動氣，按之牢若痛，其病喘咳，灑淅而寒熱也。</p>
<p>肺氣：</p>
<p>《靈·淫邪發夢篇》：肺氣盛則夢恐懼、哭泣、飛揚。</p>
<p>《素·痿論》：所求不得，則病肺鳴。</p>
<p>肺風：</p>
<p>《素·風論》：以秋庚辛中於邪者，為肺風。肺風之狀，無汗惡風，色白，時咳短氣，晝日則瘥，暮則甚。診在眉上，其色白。</p>
<p>肺傷：</p>
<p>《脈經》：肺傷者，其脈細緊浮數，其人勞倦，咳唾血。</p>
<p>肺痿：</p>
<p>《金匱》</p>
<p>（一）熱在上焦者，因咳為肺痿。肺痿之病，或從汗出，或從嘔吐，或從消渴，小便利數，或從便難，又被快藥下利，重亡津液，故得之。</p>
<p>（二）寸口脈數，其人咳，口中反有濁唾涎沫者，為肺痿之病。</p>
<p>（三）脈數虛者為肺痿。</p>
<p>（四）肺痿，吐涎沫而不咳者，其人不便，必遺尿，所以然者，以上虛不能制下故也。此名肺中冷，必眩多涎唾，甘草乾薑湯以溫之。若服湯已渴者，屬消渴。</p>
<p>肺癰：</p>
<p>《素·大奇論》：肺之壅（一作癰），喘而兩胠滿。</p>
<p>《金匱》：</p>
<p>（一）口中辟辟燥，咳即胸中隱隱痛，脈反滑數，此為肺癰。咳唾膿血。</p>
<p>（二）脈數實者，為肺癰。</p>
<p>（三）寸口脈微而數，微則為風，數則為熱；微則汗出，數則惡寒；風中於衛，呼氣不入，熱過於營，吸而不出；風傷皮毛，熱傷血脈。風舍於肺，其人則咳，口乾喘滿，咽燥不渴，時唾濁沫，時時振寒，熱之則過，血為之凝滯，蓄結癰膿，吐如米粥。始萌可救，膿成則死。</p>
<p>肺中風寒：</p>
<p>《金匱》：</p>
<p>（一）肺中風者，口燥而喘，身重冒而腫脹。</p>
<p>（二）肺中寒，吐濁涕。</p>
<p>肺水：</p>
<p>《金匱·水氣篇》：肺水者，身重，小便難，時時鴨溏。</p>
<p>肺咳：</p>
<p>《素·咳論》：皮毛者，肺之合也。皮毛先受邪氣，邪氣以從其合也；其寒飲食入胃，從肺脈上至於肺，則肺寒；肺寒則內外合邪，因而客之，則為肺咳。肺咳之狀，咳而喘息有音，甚則唾血。</p>
<p>肺脹：</p>
<p>《靈·脹論》：肺脹者，虛滿而喘咳。</p>
<p>《金匱》：</p>
<p>（一）咳而上氣，此為肺脹。其人喘，目如脫狀，脈浮大者，越婢加半夏湯主之。</p>
<p>（二）上氣，喘而躁者，屬肺脹，欲作風水，發汗則愈。</p>
<p>（三）肺脹，咳而上氣，煩燥而喘，脈浮者，心下有水，小青龍加石膏主之。</p>
<p>（四）上氣，面浮腫，肩息，其脈浮大不治，又加利尤甚。</p>
<p>肺飲：</p>
<p>《金匱·痰飲篇》肺飲不弦，但苦喘、短氣。</p>
<p>肺消（即上消也）：</p>
<p>《素·氣厥篇》：心移熱於肺，傳為鬲消；心移寒於肺，則肺消（肺能通調水道者，賴心火以溫之。心火不足，不溫肺而反移以寒，則肺氣衰矣）。肺消者，飲一溲二，死不治。</p>
<p>肺瘧：</p>
<p>《素·刺瘧篇》：肺瘧者，令人心寒，寒甚熱，熱間善驚，如有所見者，刺手太陰、陽明。</p>
<p>肺熱：</p>
<p>《素·刺熱篇》：肺熱病者，頰先赤（節）。肺熱病者，先淅然厥起毫毛，惡風寒，舌上黃，身熱，熱爭則喘咳，痛走胸膺、背，不得太息，頭痛不堪，汗出而寒，丙丁甚庚辛，大汗氣逆則丙丁死。刺手太陰、陽明，出血如豆大，立已。</p>
<p>《痿論》：肺熱者，色白而毛敗。</p>

<h2>大腸府說</h2>
<p>（每日卯時，氣血注大腸）</p>
<p>謙按：大腸上接小腸下連肛門內分迴腸、廣腸、直腸三部。其管較闊於小腸，為傳送糟粕之府。其傳送糞滓出魄門，實賴肺金下降之氣以行之，故大腸上與肺藏相應。</p>
<p><u>大腸病</u></p>
<p>沈氏曰：大腸為胃府傳化物之器。故《經》曰：大腸者，傳道之官，化物出焉。其經與足陽明相接，故亦名手陽明；又以其為營氣之隧道，與肺相接，故經絡得與肺相表裡。《經》又曰：脾、胃、大小腸、三焦、膀胱者，倉廩之官，營之居也，名曰器，能化糟粕，轉味而以為出入者也。是皆至陰之類，通乎土氣，則《經》固指大腸等為陰矣。以其為陽者，蓋以藏府之內外言之；以為至陰之類者，則就其職任言之。讀者不以詞害意可也。要之大腸所由之隧道，雖與肺相屬而為表裡，而大腸之絡實與陽明胃接，故其病多與胃同，與肺無涉，即間有經絡自病，延及於肺，亦只在經絡，不如傷寒之傳經，必及於藏府也。</p>
<p>《靈·邪氣藏府病形篇》：大腸病者，腸中切痛而鳴濯濯，冬日重感於寒則泄，當臍痛，不能久立，與胃同候，取巨虛上廉。</p>
<p>《師傳篇》：腸中熱，則出黃如糜，臍以下皮寒；腸中寒，則腸鳴飧泄；胃中寒，腸中熱，則脹而且泄；胃中熱，腸中寒，則疾飢，小腹痛脹。</p>
<p>大腸泄：</p>
<p>《五十七難》：大腸泄者，食已窘迫，大便色白，腸鳴切痛。</p>
<p>大腸痹：</p>
<p>《素·痹論》：腸痹者，數飲而出不得，中氣喘爭，時發飧泄。</p>
<p>大腸咳：</p>
<p>《素·咳論》：肺咳不已，則大腸受之。大腸咳狀，咳而遺失。</p>
<p>大腸癰疽：</p>
<p>《靈·癰疽篇》：天樞隱隱痛者，大腸疽；其上肉微起者，大腸癰。</p>

<h2>腎藏說</h2>
<p>（每日酉時，周身氣血注於腎）</p>
<p>謙按：腎有兩枚，在腹腔之背脊兩旁，左右對列，形如蠶豆而大，外旁凸出，內旁凹入。秉寒水之氣而命火即寄其中，受藏五藏六府之精以化髓生骨，又能分析血中之廢料，下注膀胱，以成尿液。腎藏作用，分精氣兩項。精者，腎中之真陰，男為精室，女系胞宮，均有脂膜與腎系相連。陰靜則精聚而不散，火動則精泄而腎虛矣。腎氣者，即腎中之真元，上吸天陽，下入丹田之氣也。丹田內通腎系，真陽由腎系入命門，為全身諸氣之根，人生性命之本；繼而下達膀胱，復蒸發上行為衛氣，溫分肉，充皮膚，肥腠理，司開合，其行而會於中焦，則宣穀氣，熏肌膚，充周身，澤毛髮，勢若霧露之溉；至上為宗氣，則積於胸中，出於喉嚨，貫心肺而行呼吸。故丹田又名氣海，氣之所以流行不息者，即命門中相火之功用也。</p>
<p><u>腎病</u></p>
<p>沈氏曰：少陰者，陽氣初轉，陰氣乍生之謂。太陽寒水司氣，獨歸於腎（腎與膀胱相表裡），故腎為陽初轉，陰乍生之藏。蓋以腎之氣主蟄伏，主歸藏（屬於冬令），天地斂閉之氣，必歸於此，是以腎得主寒水也。人身有水，必有火，是以腎為先天根本，與心火相對待也。腎與心火南北對待，而命門真火亦寄於中者何？蓋即坎中一畫乾陽，以運化生長收藏也。是腎固以寒為位，以水為用，以火為本，其質堅滑者，水之體；其氣流行者，火之化也。所以諸藏各一，獨腎有水火兩具，而命門真火與蟄藏真水兩相融洽，坎中一陽即藏於兩陰之間，故命火亦即涵於真水之內，如天地之陰陽動靜，互相樞紐。然靜極而動，陽生陰中，遂能升陰精以上奉心主，此升坎填離，水火既濟，先天神妙之不可思義者也。先輩云腎藏之水如海，火如龍，水暖則龍潛，水寒則龍起。是腎火炎熾為患，皆由腎水虛寒；而腎既虛寒，益為脾土所克，其病生矣。此言水火不能既濟而為病也。然不但此也，腎家有水火兩病，火病者，龍火上爍，為害有亢與衰之分；水病者，寒淫所勝，為災有水涸濕盛之別。又剋水者為土，然水藏土中，土衰則水泛。《內經》謂腎合精，其主脾，不曰克而反曰主者，意在斯也。又先哲之言曰腎水不足，勿撲其火，須滋陰之真源以配火；腎火不足，勿傷其水，須益其火之源以配水。果能三復斯言，治腎病之能事畢矣。</p>
<p>《素·標本病傳論》：腎病，少腹腰脊痛，胻痠，三日背膂筋痛，小便閉，三日腹脹，三日兩脅支痛，三日不已，死。</p>
<p>《藏氣法時論》：腎病者，腹大脛腫，喘咳，身重，寢汗出，憎風。虛則胸中痛，大腹、小腹痛，清厥，意不樂。</p>
<p>《靈·本神篇》：腎盛怒而不止則傷志，志傷則喜忘其前言，腰脊不可以俯仰屈伸，毛悴色夭，死於季夏。</p>
<p>《十六難》：假令得腎脈，其外證面黑，善恐、欠；其內證臍下有動氣，按之牢若痛，其病逆氣，小腹急痛，泄如下重，足脛寒而逆。有是者，腎也。</p>
<p>腎水：</p>
<p>《金匱·水氣篇》：腎水者，其腹大臍腫，腰痛不得溺，陰下濕如牛鼻上汗，其足逆冷，面黃瘦，大便反堅。</p>
<p>腎氣：</p>
<p>《靈·淫邪發夢篇》：腎氣盛則夢腰脊兩解不屬。</p>
<p>腎風：</p>
<p>《素·風論》：以冬壬癸中於邪者，為腎風。腎風之狀，多汗惡風，面龐然浮腫，脊痛不能正立，其色炲，隱曲不利。診在肌上，其色黑。</p>
<p>《奇病論》：有病龐然如有水狀，切其脈大緊，身無痛者，形不瘦，不能食，食少，病生在腎，名為腎風。腎風而不能食，善驚，驚已，心氣痿者死。</p>
<p>《評熱病論》：有病腎風者，面胕龐然，壅害於言。虛，不當刺。</p>
<p>腎熱：</p>
<p>《素·刺熱論》：腎熱病者，頤先赤（節）。腎熱病者，先腰痛胻痠，苦渴數飲，身熱，熱爭則項痛而強，胻寒且酸，足下熱，不欲言，其逆則項痛員員，澹澹然，戊己甚壬癸，大汗氣逆，則戊己死。刺足少陰、太陽。</p>
<p>《痿論》：腎熱者，色黑而齒槁。</p>
<p>腎脹：</p>
<p>《靈·脹論》：腎脹者，腹滿引背，央央然腰髀痛。</p>
<p>腎虛：</p>
<p>《素·藏氣法時論》：腎虛則胸中痛，大腹、小腹痛，清厥，意不樂。</p>
<p>腎瘧：</p>
<p>《素·刺瘧篇》：腎瘧者，令人洒洒然，腰脊痛，宛轉大便難，目眴眴然，手足寒。刺足太陽、少陰。</p>
<p>腎咳：</p>
<p>《素·咳論》：腎咳之狀，咳則腰背相引而痛，甚則咳涎。</p>

<h2>膀胱府說</h2>
<p>（每日申時，血氣注於膀胱）</p>
<p>謙按：膀，旁也，言其橫於腹腔下部之旁，以通水道也；胱者，言其質薄而明也，俗稱尿胞。其底旁左右本有輸尿管各一，內通腎藏，其前面下端又有排尿口與尿道相接。腎藏分泌之尿由輸尿管入膀胱貯蓄之，既滿則開放，從尿道泄出矣。</p>
<p><u>膀胱病</u></p>
<p>沈氏曰：膀胱居下邑，以藏津液，必待氣化而後能出，又其經同沖氣起於少陰，則其為器，似有不可與諸陽並列者，乃反名太陽者何？蓋以其為腎之府，且其經起足，上巔行於表，居六經之首，為三陽之主，獨號巨陽，故曰太陽也。後人之昧昧者，見人稱膀胱為太陽寒水，遂疑其專主寒令，不知六氣之寒水，惟腎能主之，而膀胱不能獨主，膀胱不能主寒水，則膀胱之水亦屬陽水；其寒邪能傷之者，實以陽氣不足而陰寒之氣得以乘之耳。總之，實則為熱，虛則為寒。實則為熱，如胞移熱於膀胱而為遺溺、癃閉、尿血等症是也；虛則為寒，如小便不禁，膀胱冷氣是也。</p>
<p>《素·標本病傳論》：膀胱病，小便閉，五日少腹脹，腰脊痛，䯒痠；一日腹脹，一日身體痛，二日不已，死。</p>
<p>《氣厥論》：胞移熱於膀胱，則癃、溺血。</p>
<p>膀胱脹：</p>
<p>《靈·脹論》：膀胱脹者，少腹滿而氣癃。</p>
<p>膀胱咳：</p>
<p>《素·咳論》：腎咳不已，則膀胱受之。膀胱咳狀，咳而遺溺。</p>

<h2>三焦府說</h2>
<p>（每日亥時，周身血氣注於三焦經）</p>
<p>謙按：三焦為中清之府，調和內外，榮養左右，導宣上下，其根在兩腎之間，有油膜一條貫脊，命曰命門，是為焦原。從此係發生板油，其狀若網，連胸膈，上循心胞，並肺系達咽。其外出者，為手臂、胸前之腠理，是為上焦；從板油連及小腸旁之雞冠油，又外出為腰腹之腠理，是謂中焦；從板油後連大腸之網油，前通膀胱，中接胞室，復外出為臀、脛、少腹之腠理，是謂下焦。三焦於周身之藏府、經絡均有關係也。</p>
<p><u>補說</u></p>
<p>《靈·榮衛生會篇》：上焦出胃上口，並咽貫膈而布胸中，走府循太陰之分而行，還至陽明上舌，下足陽明，常與榮俱行於陽二十五度，行陰亦二十五度，一周也，故五十度而復大會於手太陰。中焦亦並胃中，出上焦之後，此所受氣者，泌糟粕，蒸精液，化其精微，上注肺脈，乃化為血，以養生身，莫貴於此，命曰榮氣。下焦者，別迴腸，注於膀胱而滲入焉。水穀並居胃中，成糟粕，俱下大腸而成下焦，滲而俱下，濟泌別汁，循下焦而入膀胱焉。</p>
<p>《三十一難》：三焦者，水穀之道路，氣之所終始也。上焦在心下，下鬲在胃上口，主內而不出，其治在膻中；中焦者，在胃中脘，不上不下，主腐熟水穀，其治在臍旁；下焦者，當膀胱上口，主分別清濁，主出而不納，以傳導也，其治在臍下。故曰：三焦，其府在氣街。</p>
<p>按：氣街者，氣之道路也。頭氣以腦為街，胸氣以膺與背腧為街，腹氣以背腧、衝脈、臍旁左右動者為街，脛氣以承山、踝上為街。茲所言三焦之府在氣街者，腹氣之街也。</p>
<p><u>三焦病</u></p>
<p>沈氏曰：古人云上焦如霧者，狀其化物升騰之氣也；中焦如漚，又云如瀝者，狀化時沃溢之氣也；下焦如瀆者，狀擠泌流水之象也。誠以三焦所施之氣得相火之功，為腐熟水穀之用，故曰焦也。三焦所主部位：上焦自胃上口，承接心肺。下焦在胃下口，輸水穀於小腸，水液滲入膀胱，以注前陰，滓穢轉大腸，以注後陰；若膈之下，臍之上，中間脾胃一段，則中焦所主之部也。王海藏謂上焦霧不散則喘滿，為出而不納；中焦漚不利，則留飲，久必中滿，為上不能納，下不能出；下焦瀆不利，則腫滿，為上納而下不出之症。蓋謂三焦氣滯，急當使之流通，與《內經》所謂三焦為水穀道路，其病宜通利二便者，將毋同也，因並記之。</p>
<p>《靈·邪氣藏府病形篇》：三焦病者，腹氣滿，小腹尤堅，不得小便，窘急，溢則水句留，即為脹，應在足太陽之外大絡（節），腸中不便。</p>
<p>三焦脹：</p>
<p>《靈·脹論》：三焦脹者，氣滿於皮膚中，輕輕然而不堅。</p>
<p>三焦咳：</p>
<p>《素·咳論》：久咳不已，則三焦受之。三焦咳狀，咳而腹滿，不欲飲食。</p>
<p>三焦熱：</p>
<p>《金匱·風寒積聚篇》：熱在上焦者，因咳而為肺痿；熱在中焦者，則為堅熱；在下焦者，則尿血，亦令淋閉不通。</p>
<p>三焦竭：</p>
<p>《金匱》（同上）：問曰：三焦竭部，上焦竭，善噫，何謂也？師曰：上焦受中焦氣未和，不能消穀，故能噫也。下焦竭，即遺溺、失便，其氣不和，不能自禁制，不須治，久則愈。</p>

<h2>心胞絡說</h2>
<p>（亦屬藏。每日戊時，周身氣血注於心胞絡）</p>
<p>謙按：《素問·靈蘭秘典》論十二官，無心胞絡之名，但有膻中之名，蓋即心胞絡也。心包絡在心外橫膜之上，豎膜之下，其與橫膜相黏而黃脂包裹者心也。脂膜之外有細筋膜如絲，與心肺相連者，心胞絡也。其絡上通腦頂，外布一身，主血液之往還，即今所謂回血、發血諸管也。此藏為手太陰之一，心藏之有胞絡，猶蓮花之有橐蘥，橐蘥虛空，則蓮子動搖；包絡充足，則心君安逸；包絡不充，則有怔仲、驚悸、心嘈、心痛等症。其餘參看心病各條。</p>
<p>又按：女子胞宮之絡脈亦稱包絡，即衝脈也。《素問·奇病論》云：包絡者，繫於腎。《痿論》云悲哀太甚則包絡絕，俱指女子包絡而言，非心包絡也。特批明於此，以免淆混。</p>
<p><u>心包絡病</u>（參看心病各條）</p>
<p>《靈·邪客篇》：諸邪之在於心者，皆在於心之包絡。包絡者，心主之脈也。</p>

<h2>手足十二經及十二經筋病·第二篇</h2>

<h2>足厥陰經病（肝）</h2>
<p>《靈·經脈篇》：肝足厥陰之脈，動則病腰痛，不可以俯仰，丈夫㿗疝，婦人少腹腫，甚則嗌乾、面塵脫色、胸滿、嘔逆、飧泄、狐疝、遺溺、閉癃。</p>
<p><u>筋病</u></p>
<p>《靈·經脈篇》：足厥陰之筋起於大指之上，結內踝前，上脛，結內輔，下循陰股，結陰器，絡諸筋。其病足大指支，內踝前痛，內輔陰股痛，轉筋，陰器不用，傷於內則不起，傷於寒則陰縮入，傷於熱則縱挺不收。命曰秋季痹也。</p>

<h2>足少陽經病</h2>
<p>（膽。此段於前篇膽病所錄同）</p>
<p>《靈·經脈》：膽足少陽之脈，動則病口苦，善太息，心脅痛，不能轉側，甚則面微有塵，體無膏澤，足外反熱，是為陽厥。頭痛，頷痛，目銳眥痛，缺盆中腫痛，腋下腫，馬刀挾癭，汗出振寒，瘧，胸、脅肋、髀膝外至脛、絕骨、外踝前及諸節皆痛、小指次指不用。</p>
<p><u>筋病</u></p>
<p>《靈·經筋》：足少陽之筋起小指次指，循脛外結膝。其支者，別起外輔骨，走髀前者，結伏兔，後結於尻；其直者乘季脅走腋，系膺乳，結缺盆，上出太陽，循耳後上額角，交巔下，結於頄；支者結目眥。其病小指次指轉筋，引膝外不可屈伸，膕筋急，前引髀，後引尻，即上乘季脅，痛引缺盆、膺乳、頸。維筋急，從左之右，目不開。名曰孟春痹也。</p>

<h2>手少陰經病（心）</h2>
<p>《靈·經脈》：心手少陰之脈，動則病嗌乾，心痛，渴而欲飲，是為臂厥。是主心所生病者，目黃，脅痛，臑臂內後廉痛厥，掌中熱痛。</p>
<p><u>筋病</u></p>
<p>《靈·經筋》：手少陰之筋起於小指內側，結銳骨，上肘內廉，入腋交太陰，挾乳結胸中，下繫於臍。其病內急，心成伏梁，下為肘網。其病當所過者轉筋痛。其成伏梁，唾膿血者死。經筋之病，寒則反折筋急，熱則筋弛不收，陰痿不甩。名曰季冬痹也。</p>

<h2>手太陽經病（小腸）</h2>
<p>《靈·經脈》：小腸手太陽之脈，動則病嗌痛，頷腫，不可以顧，肩似拔，臑似折。是主液所生病者，耳聾，目黃，頰腫，頸、頷、肩、臑、肘臂外後廉痛。</p>
<p><u>筋病</u></p>
<p>《靈·經筋》：手太陽之筋起於小指之上，結於腕，循臂肘內銳骨後入腋下。其支者，走腋後，上繞肩胛，循頸結於耳後；又支者，入耳中；直者出耳上下，結於頷上，屬目外眥。其病小指支，肘內銳骨後廉痛，腋下痛，繞肩胛引頸痛，應耳中鳴，痛引頷，目瞑，頸筋急，則為筋痿、頸腫。名曰仲夏痹也。</p>

<h2>足太陰經病（脾）</h2>
<p>《靈·經脈》：脾足太陰之脈，動則病舌本強，食則嘔，胃脘痛，腹脹善噫，身體皆重（節），心下急痛，溏瘕泄，水閉，黃疸，不能臥。強立，股膝內腫厥，足大指不用。</p>
<p><u>筋病</u></p>
<p>《靈·經筋》：足太陰之筋起於大指內側，結內踝。其直者，絡膝內輔骨，循陰股結於髀，聚於陰器，上腹結於肋，散於胸，其內著脊。其病足大指支，內踝痛，轉筋，膝內輔骨痛，陰股引髀痛，陰器紐痛引臍，兩脅痛，膺中、脊內痛。命曰孟秋痹也。</p>

<h2>足陽明經病（胃）</h2>
<p>《靈·經脈》：胃足陽明之脈，動則病洒洒振寒，善呻數欠，顏黑，病至則惡人與火，聞水聲則惕然而驚，心欲動，獨閉戶，塞牖而處，甚則欲上高而歌，棄衣而走，賁響腹脹，是謂骭（足脛）厥。狂，瘧，濕淫，汗出，鼽衄，口喎，唇胗，頸腫，喉痹，大腹水腫，膝臏腫痛，循膺乳、氣街、股、伏兔、骭外廉、足跗上皆痛，中指不用。</p>
<p><u>經病</u></p>
<p>《靈·經筋》：足陽明之筋起於中三指，結於跗，上膝外廉，循脅屬脊，其直者，循骭結於缺盆；其支者，結外輔骨，合足少陽，直者循伏兔結髀，聚於陰器，上腹布至缺盆，上頸挾口，合於頄，結於鼻，上合太陽，太陽為目上網，陽明為目下網。其支者，從頰結耳前。其病足中指支，脛轉筋，腳跳且堅，伏兔轉筋，髀前腫，㿉疝，腹筋急，引缺盆及頰，卒口僻，急者目不合，熱。則筋縱，目不開。頰筋有寒，則急引，頰移口；有熱則筋縱，緩不勝收。故僻，治之以馬膏。膏其急者，以白酒和桂塗其緩者，以桑鉤鉤之，即以生桑炭置之坎中，高下以坐等（謂不拘高下，而人於上以守等之），以膏熨急頰，且飲美酒，啖以美食，為之三指（三拊也）而已。</p>

<h2>手太陰經病（肺）</h2>
<p>《靈·經脈》：肺手太陰之脈，動則病肺脹滿，膨膨而喘咳，缺盆中痛（節）。氣盛有餘，則肩臂痛；氣虛，則肩背痛、寒，少氣不足以息。</p>
<p><u>筋病</u></p>
<p>《靈·經筋》：手太陰之筋起於大指之上，結魚後，行寸口外側，上臂結肘中，上臑內廉，入腋下，出缺盆，結肩前髃，下結胸裡，散貫賁（賁門也），下抵季脅。其病當所過者支痛、轉筋，甚成息賁，脅急。吐血。名曰仲冬痹也。</p>

<h2>手陽明經病（大腸）</h2>
<p>《靈·經脈》：大腸手陽明之脈，動則病齒痛頸腫（節），目黃口乾，鼽衄喉痹，肩前臑痛，大指次指痛不用。</p>
<p><u>筋病</u></p>
<p>《靈·經筋》：手陽明之筋起於大指次指之端，結腕，上循臂，上結肘外，上臑結於髃；其支者，繞肩挾脊；直者，從肩髃上頸；又支者，上頰，結於頄；直者，上出手太陽之前，上左角絡頭，下右頷。其病當所過者支痛及轉筋，肩不舉，頸不可左右視。名曰孟夏痹也。</p>

<h2>足少陰經病（腎）</h2>
<p>《靈·經脈》：腎足少陰之脈，動則病飢不欲食，面如漆柴，咳唾則有血，喝喝而喘，目𥉂𥉂如無所見，心如懸若飢狀，氣不足則善恐，心惕惕如人將捕之，是為骨厥。口熱舌乾，咽腫上氣，嗌乾及痛，黃疸，腸澼，脊股內後廉痛，痿厥嗜臥，足下熱而痛。</p>
<p><u>筋病</u></p>
<p>《靈·經筋》：足少陰之筋起於小指之下，並足太陰筋，斜走內踝之下，結於踵，與太陽筋合，並足太陰之筋上行陰股，結陰器，循脊內，挾膂上頂，結於枕骨，又與太陽之筋合。其病足下轉筋，及所過而結者皆痛及轉筋。病在此者，主癇瘛及痙。在外者，不能俯；在內者，不能仰。此筋折紐，甚者死。名曰仲秋痹也。</p>

<h2>足太陽經病（膀胱）</h2>
<p>《靈·經脈》：膀胱足太陽之脈，動則病沖頭痛，目似脫，項如拔，脊痛，腰似折，髀不可以曲，膕如結，踹如裂，是為踝厥（節），痔，瘧，頭囟、項痛，目黃，淚出，鼽衄，腰腳痛，小指不用。</p>
<p><u>筋病</u></p>
<p>《靈·經筋》：足太陽之筋起小指，循足外側上膕，其別者於踹外上膕，結於臀，挾脊上項。其支者，別入舌本；其直者上頭，下結於鼻；又其支者，為目上網，結於頄；又支者，從腋後結肩；又支者，入腋下，上出缺盆；又支者，出缺盆，斜上出頄。其病小指支，跟腫痛，膕攣，脊反折，項筋急，肩不舉，腋支，缺盆中紐痛，不可左右搖。名曰仲春痹也。</p>

<h2>手少陽三焦經病</h2>
<p>《靈·經脈》：三焦手少陽之脈，動則病耳聾，嗌腫，喉痹。是主氣所生病者，汗出，目銳眥痛，頰腫，耳後、肩、臑、肘、臂外皆痛，小指次指不用。</p>
<p><u>筋病</u></p>
<p>《靈·經筋》：手少陽之筋起於小指次指之端，結於腕，循臂肘，繞臑外廉上肩，走頸合手太陽。其支者，當頰入舌本；又支者，上牙循耳前，屬目外眥。其病當所過者，即轉筋，舌卷。名曰季夏痹也。</p>

<h2>手厥陰心包絡經病</h2>
<p>《靈·經脈》：心主手厥陰心包絡之脈，動則病手心熱，臂肘攣急，腋腫，甚則胸脅支滿，心中澹澹大動，面赤目黃，喜笑不休。</p>
<p><u>筋病</u></p>
<p>《靈·經筋》：手心主之筋起於中指，與太陰之筋並行，結肘內廉，上臂，結腋下，散前後，挾脅。其支者，入腋散胸中，結於臂。其病當所過者，轉筋，胸痛，息賁。名曰孟冬痹也。</p>

<h1>奇經八脈病·第三篇</h1>

<h2>八脈總論</h2>
<p>李瀕湖曰：奇經凡八脈，陰維、陽維、陰蹺、陽蹺、沖、任、督、帶是也。不拘制於十二正經，無表裡配合，故謂之奇。蓋正經猶夫溝渠，奇經猶夫湖澤，正經之脈隆盛則溢於奇經，故秦越人比之天雨下降，溝渠滿溢，霧霈妄行，流於湖澤，此發《靈》《素》未發之旨也。陽維起於諸陽之會，由外踝上行於衛分；陰維起於諸陰之交，由內踝上行於營分，所以為一身之網維也。陽蹺起於跟中，循外踝上行於身之左右；陰蹺亦起跟中，循內踝上行於身之左右；所以使機關蹺捷也。督脈起於會陰，循背而行於身之後，為陽脈之總督，故曰陽脈之海。任脈起於會陰，循腹而行於身之前，為陰脈之承任，故曰陰脈之海。衝脈亦起於會陰，夾臍而行，直衝於上，為諸脈之衝要，故曰十二經之海。帶脈則橫圍於腰，狀如束帶，所以總約諸脈者也。是故陽維主一身之表，而陰維主裡，以乾坤言也；陽蹺主一身左右之陽，而陰蹺主左右之陰，以東西言也；督主身後之陽，而任主前之陰，以南北言也；帶脈橫束諸脈，以六合言也。</p>

<h2>二維脈病</h2>
<p>沈氏曰：人身陽脈統於督，陰脈統於任，而諸陽、諸陰之散見於各處者，又必有以維繫而主持之，故有陽維以維諸陽，陰維以維諸陰。要其所以能維者，必從陰陽根柢之處以發其氣，氣盛而後能維之。嘗考陽維從少陰斜至足太陽，發足太陽之金門，而與手足少陽、陽明會於陽白，是其所從起者少陰而所會者皆陽也。所會皆陽，則所維自皆陽矣。陰維則從少陽斜至厥陰，發足少陰之築賓穴，上至項前而終，是其所起者少陽而所發、所至者皆陰也。所發、所至皆陰，則所維自皆陰矣。然陽維既為諸陽之維而反起於少陰，陰維既為諸陰之維而反起於少陽者何也？少陰為諸陰根柢之氣，而陰為陽之根，故維於陽者，必起於此；少陽為諸陽根柢之氣，而陽為陰之根，故維於陰者必起於此。所謂互為其根者是也。二脈又為榮衛之綱領，仲景云：病常自汗，榮衛不相和諧，宜桂枝湯，反煩不解，先刺風池、風府，卻與桂枝湯則愈。此二穴乃陽維之會也，所以病寒熱自汗，本桂枝症，服之不愈，乃陽維病也，故必先針陽維諸會之穴，以治病根，然後再服桂枝，病斯愈矣。其曰榮衛不和者，是衛氣不與榮血和也。潔古云陰維為病苦心痛者，其治必在足少陰三陰交，此處乃陰維所起也。</p>
<p>按：仲景法，太陰症則用理中，少陰症用四逆，厥陰症用當歸四逆、吳茱萸湯。參其法，酌其劑，可治陰維之病，乃潔古所以治足少陰三陰交之意也。凡屬二維病者，仿此。</p>
<p>《素·刺腰痛篇》：陽維之脈，令人腰痛，痛上怫然腫，刺陽維之脈。</p>
<p>《二十九難》：陽維為病，苦寒熱；陰維為病，苦心痛。</p>
<p>附註：張潔古曰：衛為陽，主表，陽維受邪，為病在表，故苦寒熱；營為陰，主裡，陰維受邪，為病在裡，故苦心痛。陰陽相維，則營衛和諧矣。</p>
<p>《脈經》：診得陽維脈浮者，暫起目眩，陽盛實者暫苦肩息，洒洒如寒；診得陰維脈沉大而實者，苦胸中痛，脅下支滿，心痛；其脈如實貫珠者，男子兩脅下實，腰中痛，女子陰痛，如有瘡狀。</p>

<h2>二蹺脈病</h2>
<p>張潔古云：蹺者，捷急之謂也。二脈起於足，使人捷疾也。陽蹺在肌肉之上，陽脈所行，通貫六府，主持諸表；陰蹺在肌肉之下，陰脈所行，通貫五藏，主持諸里。陰蹺為病陰急，則陰厥脛直，五絡不通，表和里病；陽蹺為病陽急，則狂走，目不昧，表病里和。陰病則熱，可灸照海、陽陵泉；陽病則寒，可針風府、風池。又曰：在陽表者，當汗之；在陰里者，當下之。又：癲癇晝發，灸陽蹺；夜發，灸陰蹺。</p>
<p>謙按：陰蹺為足少陰之別，陽蹺為足太陽之別，蹺脈之有陰陽區別者以此。《甲乙經》謂：男子數其陽，女子數其陰。又謂：陽脈榮其府，陰脈榮其藏。亦同氣相求之義耳。要而論之奇經八脈，惟帶脈橫束於膂，不與七脈相同，其他皆起於太陽、少陰二經，雖或統宗眾會，孔道各殊，其實皆自下而上，源不甚遠。古人只言太衝，不分督、任、蹺、維，蓋有分之而不可盡分者，得其大要可也。</p>
<p>《素·繆刺論》：邪客於足陽蹺之脈，令人內痛從目眥始。刺外踝之下半寸。</p>
<p>《靈樞》：目中赤痛從內眥始，取之陰蹺（交信穴也。節），風痙反折，先取足太陽（京骨穴也）及膕中及血絡出血；若中有寒邪，取陰蹺（交信穴）及三毛上（大敦穴）及血絡出血。</p>
<p>《甲乙經》：人病目閉不得視者，衛氣留於陰，不得行干於陽。留於陰則陰氣盛，陰氣盛則陰蹺滿，不得入於陽，則陽氣虛，故目閉也。病目不得瞑者，衛氣不得入於陰，常留於陽，留於陽則陽氣滿，陽氣滿則陽蹺盛，不得入於陰，則陰氣虛，故目不瞑也。</p>
<p>附註：二蹺脈氣慓悍同於衛氣，而皆上出目內眥，陰出於陽而陽入於陰，陰陽和合，上榮而大會於目，故開合皆宜。若二脈有病，則目自病矣。《經》云：陰蹺、陽蹺，陰陽相交，陽入陰，陰出陽，交於目銳眥。陽氣盛則瞋目，陰氣盛則瞑目。又曰：足太陽之筋為目上網，足陽明之筋為目下網。寒則筋急，目不合；熱則筋縱，目不開。又曰：壯者營衛不失其常，故晝精而夜瞑；老人血氣衰，氣道澀，衛氣內伐，故晝不精而夜不瞑。此皆謂二蹺之病也。</p>
<p>二十九難：陰絡者，陰蹺之絡；陽絡者，陽蹺之絡。陰蹺為病，陽緩而陰急；陽蹺為病，陰緩而陽急。</p>
<p>附註：王叔和曰：陰蹺急，當從內踝以上急，外踝以上緩；陽蹺急，當從外踝以上急，內踝以上緩。</p>

<h2>衝脈病</h2>
<p>沈氏曰：《經》曰衝脈為病，氣逆而裡急。又曰：上衝作躁熱。又曰咳唾，手足厥逆，氣從少腹上衝胸咽，面翕然熱如醉，下流陰股，小便難持。又曰：暑月病甚，則傳腎肝，為痿厥，四肢如火，或如水，心煩。仲景曰：寒氣客脈，不通氣，因鳴動應手，起關元，隨腹直上，疝，瘕，遺溺，脅支滿，煩，女子絕孕，動氣在上下左右，不可發汗與下。合此數條觀之，衝脈既為十二經之海，而下為血海，又與督脈為十二經之道路，與任脈、陽明脈會於氣街，則督任固與沖通為一氣。故古人不分沖、任、督而總名曰太衝，如《經》云廣明之後即為太衝是也（《內經》曰：三陰之所交結於腳也，踝上各一行者，此腎脈之下行也，名曰太衝。王啟玄注曰：腎脈與衝脈並下行，循足行而盛大，故曰太衝。一說衝脈起於氣街，街直而通，故曰太衝。又說心藏在南，故前曰廣明；衝脈在北，故後曰太衝。足少陰腎與衝脈合而盛大，故曰太衝，兩脈先相合為表裡也。衝脈在脾之下，故又曰其衝在下，名曰太陰）。蓋太衝云者，以一身之精氣上升言之，不只為血海言之也。然沖、任、督雖同起下極，畢竟三脈分行，故沖則獨主血海，而其所以主血海者，以其為先天精氣之主，能上灌諸陽，下滲諸陰以至足跗，故其治常在血海也。若陰陽和而精氣足，則陽和之精升運於一身之間，自然無病。稍有不調，必逆而上僭。而其為病，一曰寒逆，陽不足也。症見胸寒，少腹痛，中滿暴脹，疝瘕遺溺，腸支煩滿，女子絕孕。一曰火逆，陰不足也。症見咳唾，躁熱上搶心，眩僕，四肢如火，心煩恍惚，癡狂，此皆沖病也。仲景以動氣在上下左右，皆不可發汗與下者，以沖氣逆，則陰精虛，陰精虛，則陽氣亦竭，故禁汗下也。以是知沖治則血海治，臍之上下左右皆無犯而病自愈也。然其氣實起於少陰，發於厥陰，若三陰之開合失職，則本源之真水、真火兩虛，其為患，必犯於沖，《經》言沖病傳肝腎而為痿厥者。如三陰之患犯沖，則又不止痿厥二症矣。</p>
<p>《素·痿論》：衝脈者，經脈之海也。又《靈樞》：衝脈者，五藏六府之海。</p>
<p>《骨空論》：衝脈為病，逆氣裡急。</p>
<p>《舉痛論》：寒氣客衝脈，沖腹起於關元，隨腹直上。</p>
<p>《千金方》（孫真人）：咳唾，手足厥逆，氣從小腹上衝胸咽，其面翁然如醉，因復下流陰股，小便難，時覆冒者，寸脈沉，尺脈微。宜茯苓五味子湯，以治其氣衝。</p>
<p>《金匱》：寒氣客脈，不通氣，因鳴動應手，起關元，隨脈直上，疝瘕，遺溺，脅支滿煩，女子絕孕，動氣在上下左右，不可發汗與下。</p>

<h2>任脈病</h2>
<p>沈氏曰：古人以任脈為陰沉之海，以其起於中極下之會陰也。按其脈之所到，既上中極，即與足厥陰、太陰、少陰之脈並行，循關元，歷石門、氣海，又會足少陽、衝脈於陰交，歷建里，再會手太陽、少陽、足陽明之脈於中脘，以上喉嚨，再會陰維之脈於天突、廉泉，至目下之中央承泣而終。是任脈固起於真陰，而陰無陽不生，猶地之統於天，而地氣之上升，必由天氣之下降，兩相濟而後能通。不然，固陰冱寒，必至成痞閉也。人身之有天癸，乃天之元氣下降而為精氣，以充於地，則真陰生，既生而漸至於充，然後地氣通，太衝脈由是始旺，月事以時下，而易於有子。若無子者，必其任脈虛，以至沖衰血竭，地氣不通故也。然而真陰最難充滿，非年歲既至，穀氣充實，天元必不堅定，故天癸亦不至。然則真陰之盛，有不由於真陽之實者乎？《經》曰：年四十而陰氣自半，言乎陽極而衰，為陰所襲，故曰陰半。蓋此陰已為窮陰，非真陰也。此雖真陰衰，實真陽衰也。故任脈為病，非陰之自病，實由於陰中無陽，如《經》云男子內結七疝，女子帶下瘕聚，皆原結陰之故耳。《經》又云：脈來丸丸，橫於寸口者，為任脈。此脈已為陰氣所襲，故動則苦少腹引臍下，引橫骨、陰中切痛，又苦腹中有氣如指上搶心，拘急不得俯仰，則皆為無陰之症，何莫非無陽之症乎？所謂真陰之盛，必由於真陽之實，益可見矣。</p>
<p>《素·骨空論》：任脈為病，男子內結七疝，女子帶下、瘕聚。</p>
<p>《靈·經脈篇》：任脈之別，名曰尾翳，下鳩尾，散於腹。實則腹皮痛，虛則癢搔。</p>

<h2>督脈病</h2>
<p>沈氏曰：人身陰陽、元氣皆起於下，《經》曰廣明之後，即為太衝。太衝之地，屬之少陰，少陰之前乃為厥陰，其部有血海，嘗與太衝騰精氣而上灌滲陰陽。可知元氣固起於下，精氣亦起於下矣。嘗按精氣之自下而上也，實分三道。其陽者，起胞中，從少陰之後，行太陽夾脊之中道，上巔，歷百會、都庭，以統諸陽，名曰督；其陰者，起中極之下胞中，由前陰地道而上行陽明之表，中循關元，歷承漿，上與督脈會，以統諸陰，名曰任；其中央一道，起胞中，循血海，騰精氣而上，上行伏臍，積於胸中為宗氣，以司呼吸，會於咽喉，名曰沖。是三脈者，同起於胞中，一源而三歧，故古人統三者，而總名之曰太衝。且三者之氣與陽明胃氣同住中州，亦與營俱行於十二經，故三者之氣能貫於一身也，而督之所以為督，從可識矣。古人曰督之言，郵也，是陽脈之都綱，又曰陽脈之海。下極者，長強也。長強乃督脈之別名。下極即尾骶骨也。以其循脊上項散頭，故實則脊強而厥，虛則頭重或暈。夫脊強者，五痓之總名，其症卒口噤，背反折而瘛瘲也。觀如是，則督之為病從可識矣。</p>
<p>《素·骨空論》：督脈為病，脊強反折（節），督脈生病，從少腹上衝心而痛，不得前後，為沖疝，女子不孕、癃痔、遺溺、咽乾。</p>
<p>《風論》：風氣循風府（督穴）而上，則為腦風。</p>

<h2>帶脈病</h2>
<p>沈氏曰：考《內經》衝任二脈與陽明合於宗筋，會於氣街，皆屬於帶脈而絡於督脈，則太衝所以能上養心肺者，全賴帶脈維持之力，且其氣完固，有以牢持於身之上下，而一身之強力亦自帶脈而出。蓋力出於膂，膂在季脅之下，即帶脈所在也。故《經》云：身半以上，天氣主之；身半以下，地氣主之；中為天樞。天樞在氣交之分，正指帶脈而言也。故人苟上而心脾抑鬱，氣不運行；下而肝腎虛敗，真陰不榮，必致停濕為熱，下注於小腸、血海之間，病斯作矣。何以言之中樞氣交不運，必病腹滿；陰陽兩虛，中樞弱而不能鎮定，必病腰溶溶如坐水中；心脾上郁，肝腎下虛，邪熱留連而為滯淫，必病赤白帶；陽不能勝，不能固守於天樞，陰氣得以襲之，必病左右繞臍，腰脊痛衝心腹；邪客於太陰之絡，必病腰痛引小腹控䏚（季脅下空軟處），不可以養息。此皆帶脈所生病也。是知一身上下機關全在於帶，帶不能自持，其氣、其症皆陷下而不上矣。可不知帶之為病，求其源而升降補瀉之哉。</p>
<p>《二十九難》：帶之為病，腹滿，腰溶溶如坐水中。</p>
<p>《脈經》：帶脈為病，左右繞臍，腰脊痛沖陰股也。</p>

<h1>宗氣衛氣營氣病·第四篇</h1>

<h2>宗、衛、營三氣解</h2>
<p>孫一奎曰：人與天地生生不息者，皆一氣之流行耳。是氣也，具於身中，名曰宗氣，又曰大氣，經營晝夜，無或間斷。《靈》、《素》載之而後人莫之言也。後人知有營衛，而不知營衛無宗氣，曷能獨循於經隧，行呼吸以應息數而溫分肉哉。此宗氣者，當與營衛並稱，以見三焦上、中、下，皆此氣為之統宗也。《靈樞·五味篇》曰：谷始入於胃，其精微者，先出胃之兩焦（中下焦也），以溉五藏，別出兩行營衛之道，其大氣之搏而不行者，積於胸中，命曰氣海（大氣即宗氣，氣海即膻中）。又《邪客篇》曰：五穀入胃，其糟粕（下焦）、津液（中焦）、宗氣（上焦）分為三隧。故宗氣積於胸中，出於喉嚨，以貫心脈而行呼吸焉（此出上焦為一隧也）；營氣者，泌其津液，注之於脈，化以為血，以營四末，內注五藏六府，以應刻數焉（此出中焦為一隧也）；衛氣者，出其悍氣之慓疾，而先行四末、分肉、皮膚之間而不休者也，晝日行於陽，夜行於陰，常從足少陰之分間，行於五藏六府（此出下焦為一隧也）。《營衛生會篇》：黃帝曰：願聞營衛之所行，皆何道從來？歧伯曰：營出於中焦，衛出於下焦。《衛氣篇》曰：其浮氣之不循經者為衛氣，其精氣之行於經者為營氣。講明此三氣者，自秦越人而後，惟馬玄臺《難經正義》考究極詳。論宗氣則曰：自夫飲食入胃，其精微之氣積於胸中，謂之宗氣。宗氣會於上焦，即八會之氣會於膻中也。惟此宗氣主呼吸而行脈道。論營氣則曰：營氣者，乃陰精之氣也，即宗氣之所統，猶太極之分而為陰也。此氣行於晝二十五度，行於夜二十五度，始於手太陰，五十度而復會於手太陰，而行晝、行夜，十二經之陰陽皆歷焉。所謂太陰主內者，此也。論衛氣則曰：衛氣者，陽精之氣也，亦宗氣之所統，猶太極之分而為陽也；晝日行於陽二十五度，夜行於陰二十五度，始於足太陽，五十度而復會於足太陽。復引《靈樞·歲露篇》曰：衛氣一日一夜常大會於風府。風府者，足太陽、督脈、陽維之會，所謂太陽主外者，此也。蓋營氣行陽、行陰，主晝夜言；衛氣行陰、行陽，主陽經、陰經言。營氣之行於晝者，陽經中有陰經；行於夜者，陰經中亦有陽經（指衛氣）。故行陰、行陽，主晝夜言也。衛氣則晝必只行於陽（行三陽經）夜必只行於陰，是陰陽不指晝夜言也。</p>

<h2>宗氣</h2>
<p>謙按：宗氣者，大氣之搏聚者也，積於胸中，出於喉嚨，司呼吸以行經隧。因營氣常並之而行，故宗氣所行之次序與營氣運行無異。詳見《靈樞·經脈篇》。</p>
<p>《素·平人氣象論》：胃之大絡，名曰虛里，貫膈絡肺，出左乳下，其動應衣，脈宗氣也。盛喘數絕者，則病在中結而橫有結矣。絕不至，曰死。乳之下，其動應衣，宗氣泄也。</p>
<p>《靈·邪客篇》：宗氣積於胸中，出於喉嚨，以貫心脈而行呼吸焉。</p>
<p>《邪氣藏府病形篇》：宗氣上出於鼻而為臭。</p>

<h2>衛氣</h2>
<p>謙按：肺主氣，氣為衛，與營氣同出於中焦。若探其源，則在丹田、氣海之中，實先天之氣生化而出，故又曰衛出下焦。常考其自下而升，出上焦也。每天明時，目張，出自睛明穴，上行於頭，盡行手足六陽經，至夜行手足六陰經，不隨宗氣、營氣行，而獨行於皮膚、分肉之間，故曰衛行脈外。</p>
<p>《素·痹論》：衛者，水穀之悍氣也，其氣慓疾滑利，不能入脈也，故循皮膚之中，分肉之間，熏於肓膜，散於胸腹。逆其氣則病，從其氣則愈。</p>
<p>《靈·衛氣篇》：其浮氣之不能循經者，為衛氣。</p>
<p>《本藏篇》：衛氣者，所以溫分肉，充皮膚，肥腠理，司開合者也（節）。衛氣和，則分肉解利，皮膚調柔，腠理致密。</p>
<p>《邪客篇》：衛氣者，晝行於陽，夜行於陰。常從足少陰之分間行於五藏六府。</p>
<p>《衛氣行篇》：衛氣之行，一日一夜，五十周於身，晝日行於陽二十五周，夜行於陰二十五周，周於五藏。是故平旦陰盡，陽氣出於目，目張則氣上行於頭，循項下足太陽，循背下至小指之端；其散者，別於目銳眥，下手太陽，至手小指之間外側，下足少陽，注小指次指之間，以上循手少陽之分。側別者，以上至耳前，合於頷，脈注足陽明，以下行至跗上，入五指之間；其散者，從耳下下手陽明，入大指之間；其至於足也，入足心，出外踝，復合於目，故為一周（節）。陽盡於陰，陰受氣矣。其始入於陰，常從手足少陰注於腎，腎注於心，心注於肺，肺注於肝，肝注於脾，脾復注於腎，為一周（節），亦如陽行之二十五周而復合於目。</p>
<p>以上論衛氣，以下論衛氣病。</p>
<p>《靈·衛氣失常篇》：衛氣之留於腹中，蓄積不行，苑蘊不得常所，使人支脅，胃中滿，喘，呼，逆。</p>
<p>《傷寒論》：脈浮而汗出如流珠者，衛氣衰也。</p>

<h2>營氣</h2>
<p>謙按：心生血，血為營。非營氣固，不能生血；非穀氣充，亦不能生此營氣。營氣者，陰精之氣也，故曰營出中焦，是後天清氣所化而出也。清者為營，清濁以剛柔言，謂陰氣柔和為清，陽氣剛悍為濁。此皆古人之說，非臆斷也。喻嘉言謂：營氣根於中焦陽中之陰，行至上焦，隨上焦之宗氣降於下焦，以生陰氣。是營氣本濁陰之氣，以其根出於上焦之清陽，故謂清者為營也。此亦一解。又喻解濁者為衛一句，謂衛氣根於下焦陰中之微陽，行至中焦，升於上焦，以生陽氣，是衛本清陽，以其根出於下焦之濁陰，故謂濁者為衛也。究之《經》言營出中焦，衛出下焦二句，即有清濁之別矣。細審自知。</p>
<p>《靈·經脈篇》：脈為營。</p>
<p>《衛氣篇》：經氣之行於經者，為營氣。</p>
<p>《邪客篇》：營氣者，泌其津液，注之於脈，化以為血，以榮四末，內注五藏六府，以應刻數焉。</p>
<p>《營氣篇》：營氣之道，內谷為寶。谷入於胃，乃傳之肺，流溢於中，布散於外，精專者行於經隧，常營無已，終而復始，是謂天地之紀。故氣從太陰出，注手陽明，上行注足陽明，下行至跗上，注大指間，與太陰合，上行抵脾，從脾注心中，循手少陰出腋，下臂，注小指，合手太陽，上行乘腋出䪼內，注目內眥，上巔下項，合足太陽，循脊下尻，下行注小指之端，循足心注足少陰，上行注腎，從腎注心，外散於胸中，循心主脈出腋下臂，出兩筋之間，入掌中，出中指之端，還注小指次指之端，合手少陽，上行注膻中，散於三焦，從三焦注膽，出脅，注足少陽，下行至跗上，復從跗注大指間，合足厥陰，上行至肝，從肝上注肺，上循喉嚨，入頏顙之竅；其支別者，循巔下項，循脊入骶，是督脈也，絡陰器，過毛入臍中，上循腹裡，入缺盆，下注肺中，復出太陰。此營氣順逆之常也。</p>
<p>以上論營氣，以下論營氣病。</p>
<p>《傷寒論》：其脈沉，其營氣微也。營氣微者，加燒針，則血流不行，更發熱而躁煩也。</p>
<p>營氣總論（補錄）：</p>
<p>《靈·營衛生會篇》：穀氣入於藏府，清者為營，濁者為衛（清者，即動脈中新血；濁者，回血管之濁血），營在脈中（發血管均在血脈之裡層），衛在脈外（回血管在脈之外面），營周不休，五十而復大會，陰陽相貫，如環無端（由心藏排出，行於周身者，曰發血管、曰動脈；行至四支之末，仍回覆於全身者，曰回血管，亦曰靜脈，其血液經肺以入心房，再發出而行於發血管中，循環不已。現今生理學中稱為循環系統是也）。衛氣行於陰二十五度，行於陽二十五度，分為晝夜。故氣至陽而起，至陰而止。</p>

<h1>皮肉筋骨病·第五篇</h1>

<h2>皮病一</h2>
<p>癍痧　癮疹　痤疿　麻木　靨痣　痛癢　丹毒</p>
<p>紫白　癜風　白屑　黑白癩　皮毛　脫落　皮水　索澤</p>
<p>沈氏曰：包涵肌肉，防衛筋骨者為皮；皮外最薄者，為膚，俗謂枯皮，《經》言皮膚，亦曰腠理；津液滲泄之所，曰腠；文理縫會之中，曰理。腠理，亦曰元府，汗液色元從空而出，其始聚於孔竅，故曰元府也。皮之主為肺，故風寒襲人，肺先受病，非發於皮毛，即見於經絡也。其他癍痧、癮疹、痤疿、麻木、靨痣，無非風濕熱毒之邪，各有專法可按，若論大概則不過痛癢兩端。《經》曰諸癢為虛，血不榮肌。又曰：諸瘡痛癢，皆屬於火。河間就火之微盛，以分痛癢，曰人近火，微熱則癢，熱甚則痛，附近則灼而為瘡。或謂痛實癢虛，虛者，熱之微也，非指虛寒也。若乃丹毒為患，名目繁多，大凡色赤為丹，色白為瘼，痛者為丹毒，癢者為風丹。自腹出四肢者順，自四肢入腹者逆。若素有病，面上忽見紅點者，死。除瘼症屬肺虛冷風，宜以酒調土朱，頓服之。外丹毒主方甚多，不如古傳十二種單方，治一切丹毒，但於其中用一二味即效矣（單方詳後）。然而皮之為病，不特此也。又皮肉變色，赤為紫癜風，白為白癜風。紫由風與血搏，白由風與氣搏。又皮肉色變，不痛癢，久之遍體為白駁風，此肺風流注皮間，其輕者，即為白屑風。又烏癩，亦名黑癩，由惡風相觸，其狀生瘡，痛癢如蟲行，或如桃李癮疹，眼前見物如絲垂，手足麻木，刺之不痛，宜川烏、升麻、防已、黃柏、雄礬、巴豆、松脂熬塗。又白癩，色白，發熱，頏痛，手足縱，背膂急，亦由風毒，宜白花蛇、蠶蛾、羌活、防風、天麻、白蘚皮為末，酒下。綜計各症，均於風熱濕毒中求之，其或近寒者，肺氣必大虛也。至於《金匱》皮水，為濕淫所勝，津枯毛脫，皮澀不潤，其名曰索澤，又當於利濕、潤燥兩法中選用之耳。小兒痘病，皮肉皆病，不可殫述，另有專條可考焉。</p>
<p><u>十二種單方</u></p>
<p>水苔、生地、生松毛、蒴藿葉（音朔，吊濕草，《別錄》下品）、慎火草（即景天草，石草類，《本草經》上品，俗以瓦盆盛養，置屋頂上能闢火）、浮萍、硝石、豆葉（以上皆搗敷）、豆豉、大黃、黃芩、山梔（以上為末和敷）。</p>
<p>《素·痿論》：肺主身之皮毛（節），肺葉熱焦，則皮毛虛弱急薄者，則生痿躄也。</p>
<p>《痹論》：以秋遇此風寒濕三氣者，為皮痹（節）。皮痹不已，復感於邪，內舍於肺，則煩滿而喘嘔。</p>
<p>《五常政大論》：皮𤸷肉苛，筋脈不利（此謂皮肉間麻木而苛癢也）。</p>
<p>《三部九候論》：皮膚著者死（此謂久病肉脫，皮著於骨也）。</p>
<p>《靈·九針篇》：皮者，肺之合也，人之陽也。</p>
<p>《衛氣失常篇》：色起兩眉，薄澤者，病在皮。</p>
<p>《經脈篇》：津液去皮節者，則爪枯毛折。</p>
<p>《寒熱病篇》：皮寒熱者，不可附席，毛髮焦，鼻槁臘，不得汗，取三陽之絡，以補手太陰。</p>

<h2>肉病二</h2>
<p>肥瘦　食㑊　肉苛　肉痿　肉脫</p>
<p>贅肉　努肉　疣目　肉刺　息肉　肉絕</p>
<p>沈氏曰：《內經》云：肥而澤者，氣血有餘；肥而不澤者，氣有餘，血不足；瘦而無澤者，氣血俱不足。此言其大概也。其實，肥者，血實而氣必虛，故行動喘促，耐寒而惡熱，熱傷氣也；瘦者，氣不虛而血必虛，故皮多燥澀，耐熱而惡寒，寒傷血也。此肥瘦之所以分也。至其為病重者，曰食㑊，多食易飢，不生肌肉，由胃熱消穀之故；次曰肉苛，即𤸷重也，由營虛衛實之故；次曰肉痿，肌頏無力，由脾經傷熱之故；次曰肉脫，脫者空也，真元內竭，穀氣外衰，為不治之症。瘡瘍愈後，有肉凸出，名贅肉，亦曰努肉，烏梅肉貼之。手足忽生如豆狀者，名疣目，宜烏雞膽汁或杏仁粉塗之，以去風邪。又肉刺紅痛，血虛襲風而成，不治亦愈。又鼻中息肉挺出，有肺熱、腦風之分。其餘肉爍、肉核、肉癭均類瘡疽，各症以及肉蛾等項另有專條，茲不備述。若夫耳聾、舌短、背腫、尿血、大便赤泄，則為肉絕之候矣。《經》故斷之曰：六日死也。</p>
<p>《靈·氣穴論》：肉之大會為谷，肉之小會為谿。肉分之間，谿谷之會，以行榮衛，以行大氣。</p>
<p>《刺腰病篇》：肉裡之脈令人腰痛（內者，分肉；里者，肌肉之紋理也）。</p>
<p>《逆調論》：人之肉苛者，雖近衣絮，猶尚苛也（節），逢風而如灸如火者，是人當肉爍也（按：苛者，肉不知寒熱痛癢，不能舉也）。</p>
<p>《痿論》：脾熱者，色黃而肉蠕動（節）。脾氣熱則胃干而渴，肌肉不仁，發為肉痿（節）。有漸於濕，以水為事，若有所留，居處相濕，肌肉濡漬，痹而不仁，發為肉痿。肉痿者，得之濕地也。</p>
<p>《靈·刺節真邪篇》：寒勝其熱，則骨疼肉枯（節）。結中於肉，宗氣歸之，邪留而不去，有熱則化而為膿，無熱則為肉疸。</p>
<p>《二十四難》：肌肉不滑澤，則肉滿（按：滿即脹也）。</p>

<h2>筋病三</h2>
<p>筋急　筋緩　筋攣　筋痿　筋惕</p>
<p>筋傷　筋結　轉筋　筋疝　筋痹　筋絕</p>
<p>沈氏曰：筋也者，所以束節、縛骨、絆肉、繃皮，為一身之結紐，利全體之運動者也，其主在肝。</p>
<p>按：人身之筋，到處皆有，縱橫無算，而又有為諸筋之主者，曰宗筋，《內經》注謂陰毛橫骨上下之堅筋，上絡胸腹，下貫髖尻，又經背腹，上頭角者是也。筋之總聚處則在於膝，《靈樞》謂諸筋皆屬於節是也。至為病，則曰急、曰緩、曰攣、曰痿、曰惕、曰傷、曰結、曰轉筋、曰疝、曰痹、曰筋絕，其名目如此。《靈樞》謂：寒則反折而急，熱則弛縱而緩。《得效》又以急為寒，縮為熱，弛緩為濕。仲景言血虛筋急，故《本事》以養血地黃湯治之。觀急由血虛，則緩者血熱可推矣，若夫風熱入經。是以瞀瘛即筋攣之由，故攣者亦曰瘛，俗乃云搐也，其症往往作痛。《內經》以筋痿屬肝熱，而痹為風、寒、濕三氣入筋；《傷寒》以發汗傷血為筋惕之原；丹溪以轉筋屬虛熱，蓋亦因血熱於內而外復感風寒之故也。至霍亂轉筋，又以吐瀉傷胃，亡其津液，宗筋失養，亦有手足逆冷者，亦不拘於熱邪也。其他久行而筋傷，氣血失節而筋結。肝邪下注，莖中縮痛，為筋疝之症。呼罵不休，爪甲色青，為筋絕之候，九日死者，又不可不知也。</p>
<p>《素·痿論》：肝主身之筋膜（節）。肝氣熱則膽泄口苦，筋膜乾則筋急而攣，發為筋痿（節）。思想無窮，所願不得，意淫於外，入房太甚，宗筋弛縱，發為筋痿，及為白淫。</p>
<p>《痹論》：以春遇此風寒濕三氣者，為筋痹（節）。筋痹不已，復感於邪，內舍於肝，則多飲溲數，夜臥易驚。</p>
<p>《長刺節論》：病在筋，筋攣節痛，名曰筋痹。</p>
<p>《靈·衛氣失常篇》：目色青、黃、赤、白、黑者，病在筋。</p>
<p>《刺節真邪篇》：筋屈不能伸，邪氣居其間而不反，發為筋溜（節）。虛邪搏於筋，則為筋攣（節）。脈弗榮，則筋急。</p>
<p>《經筋篇》：頸筋急則為筋瘻（瘻者，頸筋急或急而脊曲也）。</p>

<h2>骨病四</h2>
<p>骨寒　骨蒸　骨痿　骨痛　骨傷　骨絕</p>
<p>沈氏曰：骨之撐架於身者，猶梁柱之於屋；然屋非梁柱不堅豎，人非骨骼不支持。《經》言腎主骨，又言骨者，髓之府。是惟腎氣足，然後髓滿而骨堅也。骨有本，顴骨也。故骨大則顴大，骨小顴亦小，而骨之最大者為脊，《經》言膂骨下至尾骶二十一椎，長三尺。脊節為椎，窮脊為骶，是不獨為骨之最大，且居中麗正，一身之骨胥於是附，猶屋之正梁，且為諸骨之主也。而其為病，約有四端：一曰寒，人有寒甚至骨，湯火不能熱，厚衣不能溫，然不凍慄者，《經》名骨痹，非輕微惡寒之謂，宜溫腎以壯陽。一曰熱，其熱從骨間蒸發，按之不烙手，然覺有蒸郁，不可耐狀，非引水所能解，其板齒必乾燥，即《經》言髓涸齒乾為骨熱病者是也，宜滋陰降火；其熱甚，至四肢緩弱不舉，則勢將成骨痿之症矣。一曰痿，其症見後所錄《內經》文中，由於骨熱，非尋常疲弱之謂，宜虎潛丸等藥。一曰痛，人身之痛，由六氣七情者不一，淺者皮內間，深亦只於經藏，若入里徹骨，則損傷已極矣。宜酌其寒熱治之。此外如久立傷骨，則痛痿無常。齒黃骨絕，則藥石不救，且不出十日而死矣。</p>
<p>《素·長刺節論》：病在骨，骨重不可舉，骨髓痠痛，寒氣至，名曰骨痹。</p>
<p>《痹論》：以冬遇此風寒濕三氣者，為骨痹（節）。骨痹不已，復感於邪，內舍於腎，則善脹。</p>
<p>《氣穴論》：積寒留舍，榮衛不居，卷肉縮筋，肋肘不得伸，內為骨痹，外為不仁。</p>
<p>《痿論》：腎主身之骨髓（節）。腎氣熱則腰脊不舉，骨枯而髓減，發為骨痿（節）。有所遠行勞倦，逢火熱而渴，渴則陽氣內伐，內伐則熱舍於腎。腎者，水藏也，今水不勝火，則骨枯而髓虛，故足不任身，發為骨痿。</p>
<p>《靈·衛氣失常篇》：耳焦枯，受塵垢，病在骨。</p>
<p>《刺節真邪篇》：虛邪之入於身也深，寒與熱相搏，久留而內著，寒勝其熱，則骨疼肉枯（節）。結深中骨，氣因於骨，骨與氣並，日以益大，則為骨疽（節）。虛邪內搏於骨，則為痛痹。</p>
<p>《寒熱病篇》：骨寒熱者，取其少陰於陰股之絡。齒已槁，死不治。骨厥亦然（按：骨厥，見前足少陰經病條中。節）。骨痹，舉節不用而痛，汗注煩心。</p>
<p>《陰陽二十五人篇》：感於寒濕則善痹，骨痛爪枯也。</p>
<p>《邪氣藏府病形篇》：腎氣微滑為骨痿，坐不能起，起則目無所見（節）。腎脈急甚，則骨癲疾（此謂癲疾之由於骨者）。</p>
<p>《癲狂篇》：骨癲疾者，顑齒、諸腧分肉皆滿而骨居（羸弱過甚而骨獨存也）。汗出煩悗，嘔多沃沫，氣下泄，死不治。</p>
<p>《本神篇》：精傷則骨痠痿厥。</p>

<h1>附六淫病·第六篇</h1>
<p>（風寒暑濕燥火）</p>

<h2>風淫</h2>
<p>沈氏曰：《經》言諸暴強直、支痛軟戾、裡急筋縮，皆屬於風，此厥陰風木為肝膽之氣，乃藏氣所主之風也。若八方不正之風，則為邪氣，故中人即為病。其有四時勝氣而襲之者，如春勝長夏，為木剋土；長夏勝冬，為土剋水，以所勝入也。其有隨時、隨藏而為病者，以內氣不守，外邪得入也。故春病在頭，鼽衄；夏在藏，病胸脅；長夏在脾，積風為寒，洞泄寒中；秋在肩背，暑汗不出，風襲腠膚，善風瘧；冬在四肢，脾厥，考其所以然者，人之精為真陰，為元氣之本，惟冬藏精則內實，雖夏之暑邪，亦汗出而不得入；若冬不藏，又暑汗不出，閉藏、疏泄之道俱失，則凡春溫、夏熱、秋瘧及冬寒四季之淫，隨時、隨藏而病，此風邪所化之由也。然風入五藏，其狀各殊。肺受風，多汗惡風，色白，咳而短氣，晝減暮劇，診在眉上（白）；心則多汗惡風，善恐，色赤，木火交熾，神志昏亂，舌本強，其診在口；肝亦多汗惡風，色蒼，肝本為風，風反勝之，則內氣不勝，多悲多怒，陰器病則妒陰（時憎女子也），故名，診在目下；脾亦多汗惡風，色黃，土為風木所克，身體怠惰，脾不化食，診在鼻；腎亦自汗惡風，面浮腫，脊痛，炲氣見，診在肌上。五藏受風不同，病由各異如此。又風中當早治，遲則五藏遞傳，以至於死。如初感，毛直皮閉而為熱，是當汗發即已；即或痹而不仁，亦可熨灸之；惟弗治，遂入舍肺，自表入里，閉之則為肺痹，發咳喘急也；又不發之，從所克而傳肝，為肝痹，脅痛而出食也；又弗治，再從所克而傳脾，風熱相乘，為脾痹，內則煩熱，外則體黃；又弗治，再從所克而傳腎，為疝瘕，邪聚下焦，溲出白濁，且熱結蝕陰也；又弗治，再從所克而傳心，筋脈引急，病名曰瘛。邪氣至此已極，藏氣皆息，能無死乎？此五藏相傳之次也。又內先有所傷，而適與風邪相會而發者，所謂合邪也。凡邪之中人，雖各有所入，要歸於三部：喜怒不節則傷藏，病起於陰，一也：清濕襲虛，病起於下，二也：風雨襲虛，病起於上，三也。至於淫佚，不可勝數，然受病之始，只此三部。故風氣百疾，不得虛，邪不能獨傷人。總之，風善行數變，傷人為病，變態不一。如風襲皮膚，腠理開則衛泄而寒，元府閉則陽壅而熱，則為寒熱病矣。又如風入胃中，其人肥，邪循脈上目內眥而黃，則留為熱中；其人瘦，則變為寒中矣。又如風客於諸脈俞，散行分肉，或使生瘍㿉，或不仁，或胕府熱，或不去而為癘風矣。若入五藏六府之俞，隨左右而偏中，則又為偏風矣。以至循風府入腦，為腦風。飲酒後，元府開而中之，為漏風。新沐而中，為首風。風不散，傳入大腸，為腸風。在腠理，汗泄不止，為泄風。病雖異名，皆風之變也。（首風，因沐而中頭面，多汗惡風，頭極痛，先日甚，次日少愈。漏風，常多汗，不可單衣，食則汗出，身熱不惡寒，甚或陽盛於上而喘息，衣濡，口乾時飲。泄風，汗出津涸，口乾，身痛畏寒，汗多亡陽也）。要之，風為百病之長，凡寒、暑、濕、燥、火五者，皆從風而入，而風之為邪，又有寒熱、剛柔、內外之不一，則治之豈易事哉。</p>
<p>附風病名：</p>
<p>中風　類中　傷風　五藏　五風　偏風　腦風　漏風</p>
<p>內風　首風　腸風　泄風　胃風　勞風（勞汗當風，傷腎）</p>
<p>頭風（偏正）　毒風（生瘡）　刺風（如刀刺無定處）　癇風</p>
<p>驚風　頑風　惡風　暗風　㾴風（面生米點）　節風</p>
<p>酒風（《素問》身熱、汗出、惡風、少氣）　膽風　氣風（肉內如蟲行）</p>
<p>癱風（手足拳攣）　瘓風（同上）　虛風　脫風　賊風　產風</p>
<p>骨風　膝風　盛風（言語謇澀）　髓風　血風</p>
<p>皮風　肌風　閉風（便燥）　軟風（四肢不舉）　剛風</p>
<p>虎風（發吼羊叫）　天風（成片爛瘡）　綠風（瞳人大）</p>
<p>青風（吐極青盲）　破傷風　腎囊風　乳子臍風</p>
<p>《素·風論》：風氣藏於皮膚之間，內不得通，外不得泄。風者善行而數變，腠理開則灑然寒，閉則熱而悶。其寒也，則衰飲食；其熱也，則消肌肉。</p>
<p>《六元正紀大論》：風病行於上（節）。木鬱之發，大風乃至，民病胃脘當心而痛，上支兩脅，隔咽不通，食飲不下，甚則耳鳴眩轉，善暴僵仆。</p>
<p>《氣交變大論》：歲木太過，風氣流行，民病飧泄，食減體重，煩冤，腸鳴，腹支滿（節）。歲土不及，風乃大行，民病飧泄，霍亂，腹痛。</p>
<p>《陰陽應象大論》：風氣通於肝。</p>
<p>《靈·五色篇》：風者，百病之始也。</p>
<p>《壽夭剛柔篇》：病在陽者，命曰風。</p>

<h2>寒淫</h2>
<p>沈氏曰：《經》云：諸病上下，所出水液，澄澈清冷，癥瘕，禿疝，堅痞，腹滿急痛，下利清白，食已不飢，吐利腥穢，屈伸不便，厥逆禁固，皆屬於寒。夫腎為水藏，膀胱亦屬寒水，腎陽若虛，則寒水之氣益泛，而諸寒病生焉。是寒之為病，無論外召內生，未有不由於陽虛者也。至其重且險者，莫如傷寒，宜遵仲景之法，茲不贅論。又有中寒一症，身直口噤，戰掉眩暈，身無汗者，為寒毒所中，脈必沉細緊澀，或陰陽俱盛，有汗反不治；若肢冷，腹絞痛，唇青者，宜半夏、皂角、麝香填臍艾灸；又或乘冷、食冷致頭痛身熱，項急，腹痛嘔吐者，為雜中寒，五積散溫之可也。其他寒邪久伏所發之病，或為痼冷，或為厥逆，或為積聚、癥瘕、痃癖、痞氣、寒疝等症，又當於各門中求之。</p>
<p>《素·至真要大論》：寒氣大來，水之勝也，火熱受邪，心病生焉。</p>
<p>《六元正紀大論》：水鬱之發，陽氣乃闢，陰氣暴舉，大寒乃至，民病寒客心痛，腰椎痛，大關節不利，屈伸不便，善厥逆，痞堅腹滿。</p>
<p>《氣交變大論》：歲水太過，寒氣流行，邪害心火（節）；歲火不及，寒乃大行。</p>

<h2>暑淫</h2>
<p>沈氏曰：夏月相火行令，人感其氣，自口鼻而入於肺胃，多見身熱汗出而喘，煩渴多言，倦怠少氣，或下血，發黃，生斑等症。如入心包，散於血脈而入腦，則四肢搐搦，不省人事，法宜分上、中、下治之，以去濕熱，清心肺，利小便為主。氣虛受傷者，宜稍補之。若見惡寒肢逆，甚至迷悶不省，霍亂吐瀉，痰滯呃逆，腹滿泄利者，此非僅傷於暑，乃兼暑中之濕也。《內經》以脈虛身熱為傷暑，《金匱》以弦細芤遲為傷暑，蓋以暑傷氣而不傷形，故氣消而脈虛弱或芤遲也。大抵肺胃症之熱甚者，宜白虎湯以養陰而制熱；其輕者，竹葉石膏湯，氣虛則加人參；其最輕而兼水氣者，天水散；水停心下者，瓜蒂吐之；其有乘涼，飲冷湯，陽氣為陰邪郁遏者，則香薷扁豆六和湯宜之；寒多者，大順散或冷香飲子；寒熱交併而氣復虛者，則以清暑益氣湯補之；熱邪閉竅者，牛黃、至寶、蘇合香丸等開之。凡此為氣分用藥之大概，若傷及陰分，入心，則犀角、黃連、瀉心等藥；剋金，則清燥救肺併入酸甘之味，如生脈湯法；入中焦而爍津液，則五汁、玉女、涼膈、桃仁承氣等藥隨證選投；至下焦，則用連梅、復脈、三才、來復等方，視其肝腎受邪及虛實如何也。此又血分用藥之大概也。各條症狀，另有專書可考，茲不詳言。霍亂亦然，其治法除探吐、急刺外，藿香正氣、桂苓甘露及胃苓湯、漿水散、救中湯皆可採用，無非取其通陽也。伏暑治法又與暑症無殊也。</p>
<p>《素·六元正紀大論》：在天為熱，在地為火，其性為暑。</p>
<p>《生氣通天論》：因於暑，汗，煩則喘喝，靜則多言。</p>
<p>《氣交變大論》：歲火太過，炎暑流行，金肺受邪，民病瘧，少氣咳喘，血溢，血泄，注下，嗌燥，耳聾，中熱，肩背熱（節）；歲金不及，炎火乃行。</p>
<p>《至真要大論》：少陰司天為熱化。</p>
<p>《金匱真言論》：夏暑汗不出者，秋成風瘧。</p>
<p>《舉痛論》：炅則氣泄。</p>

<h2>濕淫</h2>
<p>沈氏曰：《經》云：諸濕腫滿，皆屬脾土。又曰：諸痙強直，積飲痞膈，中滿吐下，霍亂，體重胕腫，肉如泥，按之不起，皆屬於濕。蓋太陰濕土，乃己土之氣過濕，兼有內外兩因也。其內因者，本脾土所化之濕，火盛化為濕熱，水盛化為寒濕。其狀發熱惡寒，身重自汗，筋骨疼，小便秘，大便溏，腰疼胕腫，肉如泥，腳如石墜，其脈必緩，浮緩在表，沉緩在裡，弦緩風濕，治法以燥脾利溲為主。其外因者，為天雨露，地泥水，人飲食生冷與汗衣寢濕，其症首如裹，骨節疼，手足軟，腿胕腫，挾風痰則麻，兼死血則木，有邪火則腫痛，或疝氣偏墜，目黃，其脈亦緩，治法亦以燥濕利便為主。且凡濕在上者，宜開肺利氣；在中，宜運脾燥土；在下，宜利便以開溝渠。又古法治水腫，腰以上發汗，以下利便者，亦同此意。至濕遍周身，宜烏藥、羌活；在兩臂，宜桑條、威靈仙；濕在兩股，宜牛膝、防已、萆薢等藥，分其部位而治之，則一身之患有不盡去者乎？又同一濕也，而有中濕、寒濕、風濕、濕痹、濕熱、溫濕、酒濕及濕痰之不同焉。中濕者，脈沉腹脹，流於關節，則肢痛身重，久更浮腫喘滿。挾風，眩、噦；挾寒，攣、疼。此顯而可驗者也。寒濕，雖夏月亦覺清冷，多中於氣血兩虛之人，發為關節掣痛，溏泄，或痛，冷痛而成腎著；前人以尿赤而渴為濕熱，尿清不渴為寒濕，是其驗也。風濕者，太陽經感風與濕，其骨節痠疼，汗出身寒，小便不利，或有微腫，脈沉，短氣；雖惡風寒，宜微汗之，但不得用麻葛令其大汗，若大汗則風去濕留，反能為患。濕熱者，濕鬱成熱，口必渴，其體痛必流走無定處，或狀熱而脈浮稍數耳。濕痰者，痰流所到為痛。溫濕者，多因暑濕相搏，其脈陽濡而陰小急，必有三焦見症，舌苔黃滑，不可發汗，余法繁重，宜閱專條，不能盡述。酒濕亦能作痹，甚則口喎，身似中風，當泄濕毒，不可作風治而發其汗。濕痹，詳列本條，非僅太陽關節疼痛一症，而凡三氣雜至為痹者，均宜參考之耳。至其傷濕之故，則有由肺氣不化與膀胱氣不化者，有由中焦不運、下焦虛冷者，外症則坐臥濕地、當風飲冷及風濕相搏所成。且霧露雨濕，上先受之；地氣寒濕，下先受之；口竅所吸之水，與汗及痰涎內壅者，則肌肉脾胃實當之。症異治殊，辨之宜確。</p>
<p>《素·陰陽應象大論》：中央生濕（節），濕勝則濡泄。</p>
<p>《六元正紀大論》：太陰所至為濕生（節）。諸濕腫滿，皆屬於脾（節）。土鬱之發，洪水乃從，善為時雨，民病心腹脹、腸鳴、嘔吐、霍亂，飲發注下，胕腫身重。</p>
<p>《至真要大論》：濕氣大來，土之勝也。寒水受邪，腎病生焉。</p>
<p>《太陰陽明篇》：陽受風氣，陰受濕氣（節）。傷於濕者，下先受之。</p>
<p>《氣交變大論》：歲土太過，雨濕流行，腎水受邪，民病腹痛，清厥，體重，煩冤（節）；歲水不及，濕乃大行，民病腹滿，濡泄，寒瘍流水，腰股痛發，足跗浮腫。</p>

<h2>燥淫</h2>
<p>沈目南《燥病論》曰：《天元紀大論》雲天以六為節，地以五為制，蓋六乃風、寒、暑、濕、燥、火為節，五即木、火，土、金、水為制。然天氣主外而一氣司六十日有奇，地運主內而一運主七十二日有奇，故五運、六氣合行而終一歲，乃天然不易之道也。《內經》失去長夏傷於濕，秋傷於燥，所以燥證淹沒，至今不明，先哲雖有言之，皆是內傷津血乾枯之證，非謂外感清涼時氣之燥。然燥病起於秋分以後，小雪以前，陽明燥金涼氣司令。《經》云：陽明之勝，清發干中，左胠脅痛，溏泄，內為嗌塞，外發㿗疝。大涼蕭殺，華英改容，毛蟲乃殃，胸中不便，嗌塞而咳。據此經文，燥令必有涼氣感人，肝木受邪而為燥也。惟近代喻嘉言昂然表出，可為後世蒼生之幸。奈以諸氣膹郁，諸痿喘嘔，咳不止而出白血，死。謂之燥病，此乃傷於內而言，誠與外感燥證不相及也。更自制清燥救肺湯，皆以滋陰清涼之品施於火熱刑金，肺氣受熱者宜之。若治燥病，則以涼投涼，必反增病劇，殊不知燥病屬涼，謂之次寒病，與感寒同類。《經》以寒淫所勝，治以甘熱，此但燥淫所勝，平以苦溫，乃外用苦溫、辛溫解表，與冬月寒令而用麻、桂、薑、附，其法不同，其和中攻裡則一，故不立方。蓋《內經》六氣但分陰陽主治，以風、熱、火三氣屬陽同治，但藥有辛涼、苦寒、鹹寒之異；濕、燥、寒三氣屬陰同治，但藥有苦熱、苦溫、甘熱之不同。仲景所以立傷寒、溫病二論為大綱也，蓋性理大全，謂燥屬次寒。奈後賢悉謂屬熱，大相徑庭。如盛夏暑熱熏蒸，則人身汗出濈濈，肌肉潮潤而不燥也；冬月寒凝肅殺，而人身乾稿燥洌，故深秋燥令氣行，人體肺金應之，肌膚亦燥，乃火令無權，故燥屬涼。前人謂熱，非矣。</p>
<p>《素·陰陽應象大論》：西方生燥。</p>
<p>《五常政大論》：燥勝則乾。</p>
<p>《至真要大論》：清氣大來，燥之勝也；風木受邪，肝病生焉。</p>
<p>《氣交變大論》：歲金太過，燥氣流行，肝木受邪，民病兩脅下、少腹痛，目赤痛（節）；歲木不及，燥乃大行。</p>
<p>《六元正紀大論》：金鬱之發，大涼乃舉，燥氣以行，民病咳逆，心脅滿引少腹，善暴痛，不可反側，嗌乾，面陳色惡。</p>

<h2>火淫</h2>
<p>繆仲淳曰：夫火者，陽也，氣也，與水為對待者也。水為陰精，火為陽氣，二物匹配，名曰陰陽。和平亦名少火生氣，如是則諸病不生矣；倘不善攝養，以致陰虧水涸，則火偏勝，是謂陽盛陰虛，亦曰壯火食氣，是知火即熱氣之最甚者也。東垣曰：火與元氣不兩立，亦指此也。蓋平則水火既濟，火即真陽之氣，及其偏，則陽氣為火也，始與元氣不兩立矣。故戴人曰：莫治風，莫治燥，治得火時，風便了。正指火之變態多端，為病不一。了此則皆可辨也。</p>
<p>沈氏曰：火主動，凡動極者多屬火。醉飽胃火動，恚怒肝火動，悲哀肺火動，房勞腎火動，心火能自焚，是五藏皆有火也。且火動即身熱，其因於五藏者，各不同。如按至肌肉之下，至骨上，乃肝之熱，寅卯時尤甚；如按至皮膚之下，肌肉之上，輕手乃得，少加力按之則全不熱，是熱在血脈也，乃心之熱，日中尤甚；如輕按重按皆不熱，而在不輕不重之間，此熱在肌肉也，乃脾之熱，夜尤甚；如輕按不熱，重按至骨，其熱灸手，乃腎之熱，亥子時尤甚；如按至皮毛之上，輕手即得，重按全無，此熱在皮毛也，乃肺之熱，日西尤甚。均宜分輕重虛實治之。且火動則熱壅，其見於三焦者又各不同。如熱在上焦，因咳而為肺痿，或口舌生瘡，眼目赤腫；熱在中焦，便堅結，或胸膈煩躁，飲食不美，或吐血烙血；如熱在下焦，尿血淋閉，或小便赤澀，大便秘結。是三焦之熱又當分別也。如感外熱而成瘟疫者，則以清潤生津兼化穢濁為主，不宜過於涼泄。總之，火分虛實，如遇發熱，脈沉實而大者，為實；脈浮數而虛者，為虛。實者攻之，虛者補之，不可一概投涼，重傷脾胃。化而裁之因乎變，神而明之存乎人。</p>
<p>《素·陰陽應象大論》：南方生熱，熱生火。《至真要大論》：熱氣大來，火之勝也，金燥受邪，肺病生焉（節）。諸熱瘛瞀、諸禁鼓慄、如喪神守、諸逆衝上、諸躁狂越，皆屬於火（節）。少陽司天，為火化。《氣交變大論》：歲火太過，炎暑流行，金肺受邪，民病瘧，少氣咳喘，血溢，血泄，注下，嗌燥，耳聾，中熱（節）；歲金不及，炎火乃行。《六元正紀大論》：火鬱之發，炎火行，大暑至，民病少氣，瘡瘍癰腫（節），腹中暴痛，血溢流注，精液乃少，目赤心熱，甚則瞀悶懊憹，善暴死。</p>
