<header data-type="book">
<h1>盤珠集胎產症治</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>單南山</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>胎前</h2>

<h3>惡阻</h3>
<p>噁心、頭眩、惡食、擇食是也。</p>
<p>懷娠兩月，宜絕醫藥。妊娠一月，足厥陰脈養之；二月足少陽脈養之，多致噁心、頭眩、喜酸，俗為之病兒，非醫藥所治，治之則愈甚，待其自安可耳。</p>
<p>懷娠一月，不須安胎。胎未成而嘔吐，母病也。若注意安胎，便用砂、芩之類，則反傷脾胃，故但當治其母病，則嘔逆自止，惟方藥有與病相合，而於胎不相宜者，當去之。</p>
<p>中氣不運。孕當兩三月，因中氣多滯，不能運化，不思穀味，聞食即噁心，多阻，宜疏理脾胃，香砂六君子湯。（和三。）加烏梅亦可。</p>
<p>稟受怯弱。氣血不足，轉致內郁，鬱氣上衝於胃則嘔逆，血虛而心失所養則煩悶。宜調血散郁為主，參橘飲。（和一。）　甚有虛弱之極，或作寒熱往來，倦怠不能自支，此肝腎不足也，須兼補足厥陰與足少陰經。</p>
<p>胃有痰飲。血壅不行，則飲隨氣上，停滯肝經，故喜酸物，惟金能剋木，宜以辛味勝之，砂仁、藿香，自不可少。半夏雖損胎，不妨權用，但不宜多耳。半夏茯苓湯可酌用之。（和二。）</p>
<p>胃氣虛寒。宜溫補脾胃，以下其逆氣，六君子湯。（補一。）</p>
<p>肝火沖胃。寅卯時覺少腹有氣上衝，此肝火挾衝脈之火上衝也，故心中煩憒熱悶，嘔逆不止。宜竹茹麥冬湯。（寒一。）</p>
<p>氣鬱傷肝。大怒後，肝氣挾胎氣上逆也，故胸滿眩暈而吐逆，宜疏肝，不宜補氣。抑青丸可治。（散一。）</p>
<p>外傷風寒。嘔而頭暈，亦有兼風寒外襲者。宜於調氣之中，加紫蘇以散之。虛則可投參蘇二味。</p>
<p>上實下虛。惡阻若兼腰痛，謹防胎墮。宜六君合四物去川芎，加川斷、杜仲以安之。切勿用升舉藥，愈升則上愈實而下愈虛，是促其墮矣。（補一、補七。）</p>
<p>嘔吐不受藥。津液燥涸，少陰虛火上浮，厥陰鬱火上達，少陽伏火上乘，是以嘔吐不能受藥也。速當救急以治其標，滋陰清燥湯。（寒一。）</p>

<h3>子煩</h3>
<p>煩症有四：肺虛而火乘之，心煩也；停痰積飲，惡聞食氣，胸中煩也；但熱而煩，虛煩也；氣鬱不舒，頻吐涎沫，胎動不安，子煩也。</p>
<p>心肺虛熱。陰既養胎，孤陽獨旺，心肺虛熱，故煩，宜清心肺。</p>
<p>心驚膽怯。受胎後，血氣壅鬱，熱氣上衝心肺，故煩悶不安，心膽俱怯。竹葉安胎飲，犀角散。腎火動，六味地黃丸。（和四、寒三、補二。）</p>
<p>停痰積飲。氣鬱不舒，以致嘔吐涎沫，劇則胎動，竹葉湯。（寒四。）麥冬飲。（寒五。）</p>
<p>津液枯燥。臟腑氣虛，營衛不和，致陰陽偏勝，而熱入心脾也。知母丸。（寒六。）知母飲。（寒七。）</p>
<p>脾腎氣虛而火鬱。逍遙散加黃芩、砂仁。（和五。）</p>
<p>胎氣上逼。氣逆脹悶，清肝飲。（散二。）</p>
<p>上焦氣鬱。鬱則為火而中氣不和。分氣飲。（和六。）</p>
<p>暴渴不止。血欲凝而渴，非疾也，飲五味子汁自愈。</p>
<p>君火乘肺。盛夏君火大行，上乘肺金，以致煩躁胎動不安。宜清心火。</p>

<h3>子懸</h3>
<p>胎氣不和，上湊心腹，致脹滿痞悶，疼痛不安。</p>
<p>濁氣上衝而心腹痛。宜疏氣舒郁，紫蘇飲。（散三。）</p>
<p>胎熱氣逆。孕在三月，君相二火養胎，致胎熱衝心而痛。紫蘇飲。（散三。）若胎上攻心，不知人事。宜調中和氣飲。（寒八。）</p>
<p>寒飲與氣相爭。腹有寒氣，小腹如扇，惡寒喜熱，子宮寒也。附子湯可權用之。（熱一。）然脈果遲細，方無有誤。</p>

<h3>子腫</h3>
<p>氣壅成濕，濕氣上行，面目故腫。子腫腫在頭面；子滿腫在遍體；子氣腫在下體。</p>
<p>脾胃氣虛。土氣不和，不能制水，水氣不化，停積於中而溢於外則腫。白朮散。（和十八。）六君子湯。（補一。）</p>
<p>感犯風寒。紫蘇飲去白芍，加防風。（散三。）</p>
<p>濕痰壅滯。六君子湯。（補一。）黑山梔（一合），米飲下。</p>
<p>血少氣滯。加味歸脾湯。（補三。）</p>

<h3>子滿</h3>
<p>心胸脹滿，氣不舒展，或至遍身浮腫，喘急不安。</p>
<p>水血相搏。土不剋水，水與血相搏，散於四肢，遂致遍身腫滿，少腹急而溲不利，鯉魚湯、澤瀉散。（和七、瀉一。）</p>
<p>濕熱腫於下部。補中益氣湯，加山梔、茯苓。（補六。）</p>
<p>傷食吐瀉。六君子湯，加砂仁、穀芽。（補一。）</p>
<p>脾虛胃弱。四君子湯加訶子、姜皮。（補四。）</p>
<p>風邪外襲。紫蘇飲，去人參、白芍，加藿香。（散三。）</p>

<h3>子氣</h3>
<p>因素有風濕，妊娠三月後，兩腳面浮腫，行走艱難，喘悶似水氣狀，腳指縫黃水出，謂之子氣。切勿作水病治，至分娩自消。</p>
<p>中氣不得升發。當疏理鬱滯，天仙藤散。（散五。）</p>
<p>下元虛弱而兼風邪。宜生血行氣，烏藥順氣湯加減用之。（散六。）</p>

<h3>子喑</h3>
<p>舌為心苗，肺主聲音，肺腎為子母之臟。心肺腎三臟，皆能致喑。如妊娠九月而喑，則以胞之絡脈系腎。少陰之脈貫腎，上系舌本。脈絡阻滯，故有言無聲。分娩後自然聲出，不必治。</p>
<p>心火克肺。宜降少陰之火。</p>
<p>心腎不足。宜補少陰。</p>
<p>痰涎滯絡。宜清痰飲。</p>

<h3>子癇</h3>
<p>忽然昏冒，不知人事，甚則角弓反張，須臾自醒，良久復作，此由血虛而外邪襲之也。</p>
<p>血燥類中風。宜清熱養血，加味羚羊角散。（寒九。）又忽然昏迷倒地者，乃血氣養胎，母乏精力，以致眩僕。只宜飲食以補之。</p>
<p>水衰火旺。當瀉南補北，使肝火平和，六味加歸芍。（補二。）</p>
<p>外感風寒。憎寒壯熱，頭疼煩悶，宜芎蘇散。（散七。）</p>
<p>伏熱在內。懷孕後，多臥熱褥，乃食熱物，或服峻補之劑，致令熱伏胎中，旋挾肝臟，風熱攻壅，入腦則頭暈昏迷。宜服天冬飲子。（寒十。）</p>
<p>胃中濕痰。有濕痰則血氣壅秘，癱瘓不能舉動。宜烏藥順氣湯，以發其汗。（散六。）</p>
<p>風火相煽。鉤藤湯，加黃芩、梔子、柴胡。痰湧，加竹瀝；風盛，加全蟲；氣血虛，用八珍湯，加鉤藤、梔子；煩熱多，加釵斛。（散八，補五。）若無力而抽搐，汗出如油，汗絕也，不治。</p>
<p>胎氣傷於熱毒。頭眩眼花，腮項暴腫成核，痛甚嘔吐。若加痰壅，危在頃刻，急投消風散。（散三十三。）</p>
<p>藥毒攻胎，上衝心腹。口不能言，項直，自汗，身熱，與子癇相似，六脈浮數，十不一生，速用生白扁豆一味，研末，汲井水灌之。</p>

<h3>子淋</h3>
<p>氣血養胎不及，宣通滲道，遂使膀胱鬱熱不化而為淋，法當養血為主，兼利小便。</p>
<p>肝經濕熱。龍膽瀉肝湯。（寒十一。）</p>
<p>血虛生熱。安榮散。（補八。）</p>
<p>血得熱而溢於脬。勞傷經絡，熱生於內，熱盛血溢，故血隨溺中出也，宜養血安胎，四苓加阿膠。（瀉二。）</p>
<p>腎虛不能制水。虛則熱客於膀胱，地膚子湯。又四物湯，加知、柏、玄參、麥冬、北五味。（瀉三、補七。）</p>
<p>臍腹脹痛。脾胃氣虛也，安胎飲加二陳湯。（補九、和八。）</p>
<p>肺氣虛而溲短。補中益氣湯，加山藥、麥冬。（補六。）</p>
<p>服滲濕之劑，而益加頻數，或澀而不利。</p>
<p>四物湯加知母、川柏、懷牛膝、茯苓、甘草。（補七。）</p>
<p>腿足轉筋。左歸飲，加當歸、菟絲子、製附子。（補三十三。）</p>
<p>胎壓膀胱。六脈細弱，氣血俱虛，不能承載其胎也，補中益氣湯，升舉其胎，則小便自利。若利小便，胎墮而死。（補六。）</p>

<h3>子嗽</h3>
<p>津血養胎，肺乏濡潤，兼之鬱火上炎，故嗽不止，法當潤肺為主。</p>
<p>胃火沖肺。食生冷又食椒、姜，致傷胎氣而咳嗽不止，五虎湯。（和七。）</p>
<p>脾肺氣虛，傷於風寒。補中益氣湯，加桑皮、杏仁、桔梗。（補六。）</p>
<p>肺虛不生水，水虛而火炎。宜清金滋水，又當以安胎為要。</p>
<p>陰火克肺。天冬湯。（寒十二。）</p>
<p>風寒客肺。寧肺飲。（寒十三。）</p>
<p>嗽血不止。清肺飲。（寒二十七。）</p>

<h3>子瘧</h3>
<p>其母素有肝火，遇孕則水養胎元，肝血愈燥，寒熱往來，是以不免似瘧，實非瘧也。或因氣血虛損，風寒乘之。風為陽邪，化氣為熱，寒為陰邪，化氣為寒，陰陽並挾，寒熱互見。宜大補氣血，輕表外邪。若寒熱不已，熏蒸其胎，胎必傷矣。</p>
<p>肝枯發火。逍遙散。（和五。）</p>
<p>化源不足。六味丸。（補二。）</p>
<p>氣虛寒熱。六君子湯去半夏，加藿香。（補一。）</p>
<p>陰陽之氣不和。宜和解，小柴胡湯。（和十。）</p>

<h3>心腹痛</h3>
<p>臟腑既虛，外觸風寒，邪正相擊，而並於氣，隨氣上下。衝於心則心痛；攻於腹則腹痛；若至久不瘥，衝於胞胎則胎下。</p>
<p>腹痛惡寒，少腹如扇。子宮受寒而不能合，故開而若扇。宜附子湯。（熱一。）</p>
<p>血脹腹痛。此子宮久虛也，不速治則胎墮。杜仲丸。（補十。）</p>
<p>痛引兩脅，小便數，大便滑。宜安胎和氣飲。（和十一。）</p>
<p>微痛連腰，飲食無味。此胎氣不安也。宜安胎飲。（補九。）</p>
<p>痛不可忍，胎動欲落。若初病而身體強健者，可用紋銀數兩，先煎，後加茅根二斤，煮汁飲之。</p>
<p>氣脹刺痛，腸鳴嘔逆。此岔怒憂思過度，飲食失節所致，宜木香散。若氣鬱生火，加清火之味。（散九。）</p>
<p>胞阻腹痛。血為胞所阻，不能流行。血滯則氣亦滯，故腹中痛。宜四物加膠、艾、甘草。挾風則為濁痰。阿膠能去風而澄濁，艾能導血歸經。（補七。）</p>
<p>脾胃氣虛，不能承載。安胎飲加升麻、白朮，或補中益氣湯。（補九、補六。）</p>
<p>忽然㽲痛。此妊娠至五六月有之。大棗十四枚，炒炭，食鹽一錢，炒赤，共研，酒下。</p>
<p>頓僕胎動，腹痛下血。四物加膠、艾，不應，用八珍加膠、艾，或再加知母亦可。若搶心短氣，腹滿作痛，四物加阿膠、砂仁、陳皮、黃芩。（補七、補五。）</p>
<p>風邪痰飲，交結於心之支絡。宜四物合二陳，加藿香、紫蘇，或阿膠散加旋覆花，或當歸芍藥湯，擇而用之。（補七、和八、補六十三、補十一。）</p>
<p>腹痛連髖。宜五加皮散，或五加皮丸。（散十、散十一。）</p>
<p>皮膚疼痛，筋骨拘急，手足攣拳。此內食生冷，外受風寒，寒冷之氣，內外相搏。而胎不安也，宜安胎和氣飲。（和十一。）</p>
<p>筋骨疼痛，四肢不安。因怪夢多驚，或喧呼忪悸，以致胎氣不安，故兩脅腹脹，連臍急痛，坐臥不寧，氣促如喘。速投大聖散。（補十二。）</p>
<p>腹痛時作，小腹重墜。血虛氣陷也。用加味安胎飲。（補十三。）</p>
<p>宿寒搏血，血凝氣滯。宜五靈脂、蒲黃並炒炭，醋調下；或用五君子湯。（補十四。）</p>
<p>遍身痛，衝心欲死，不能飲食。宜白朮、芍藥、黃芩。</p>
<p>心下滿，氣急切痛。赤茯苓、桑白皮、前胡、郁李仁、蘇梗、五加皮。</p>
<p>血虛而熱。生地二斤搗汁，和酒一升，煎半服。</p>
<p>胎氣自痛。宜內補丸。（補十五。）</p>
<p>胞絡虛而風寒搏之，少腹痛甚。紫蘇飲加生薑。如氣血兩虛，八珍湯可加減用之。（散三、補五。）</p>
<p>氣攻左右，小便不利。小柴胡湯加青皮、梔子。（和十。）</p>
<p>因怒而小腹疼痛，水道重墜。肝火熾盛所致。龍膽瀉肝湯，後用四君加升、柴。（寒十一、補四。）</p>
<p>小腹痛連腰脅。此驚惱所致也，甚則下血不止。宜阿膠、當歸、人參、茯苓，加香附、艾，並炒炭，煎服。</p>

<h3>腰脅痛</h3>
<p>血氣蔭胎，不能養腎，腎虛而腰必痛；或勞力傷腎，致動胞系，痛甚而胞系必脫；又房事不節，胞系傷而痛不止，遂至胎墮者多矣。宜安胎為主。</p>
<p>腎氣虛弱。青娥丸加熟地；八珍湯加杜仲、阿膠、艾、砂仁。（補十六、補五。）</p>
<p>氣血滯而不行。縮砂飲、紫蘇飲，加桔梗、香附。（散十二、散三。）</p>
<p>風邪所乘。此必腰痛如折。紫酒或四物湯加桑寄生、防風。（補十七、補七。）</p>
<p>閃挫而痛。通氣散加安胎飲。（補十八、補九。）</p>
<p>肝火熾盛。小柴胡湯加左金丸。（和十、寒十四。）</p>
<p>天陰及久坐而痛。濕熱也。二妙散加杜仲、米仁。（和四十四。）</p>
<p>腰重如帶冷物，寒濕也。通氣散加川斷、杜仲。（補十八。）</p>
<p>肝脾鬱結。歸脾湯加柴胡，加左金丸。（補十九、寒十四。）</p>

<h3>下血</h3>
<p>衝任二脈，上為乳汁，下為月水，受胎則月水應斷，衝任氣虛，不能固攝，血常溢下，名曰胞漏，莫作月水論，久而不止則胎墮。非時而下為胎漏，依期而漏號激經，尿血溺時方有，胞漏血常下而不停。</p>
<p>見紅腰痛。六味丸合四君子湯，去甘草，加杜仲、川斷、黏米。（補二、補四。）</p>
<p>榮血有風。榮經為風所勝，故經血動而下也，所下者本非養胎之血，若認作胎漏，服保養胎元之藥，是實實矣，胎必墮下。宜服防風丸。（散十三。）</p>
<p>按月出血點滴為胎漏。此因氣血並虛也。宜服補中安胎飲。（補二十。）</p>
<p>因事而動，以至下血。二地加枳殼炭二、三分。</p>
<p>頓僕動胎，下血不止。安胎飲加阿膠、艾炒炭；如感寒頭痛，加蓮鬚。（補九。）</p>
<p>胎氣內熱，迫血妄行。涼胎飲。（寒十五。）</p>
<p>中氣下陷。補中益氣湯。（補六。）</p>
<p>脾氣虛，不能攝血。歸脾飲。（補十九。）</p>
<p>肝脾鬱怒。加味歸脾湯，或小柴胡湯。（補三、和十。）</p>
<p>肝脾風熱。加味逍遙散。（補二十一。）</p>
<p>肝脾濕熱。升陽除濕湯。（散十四。）</p>
<p>風入腸胃。胃風湯。（散十五。）</p>
<p>胎急不安，下血不止。桑寄生散。（和十二。）</p>
<p>因驚而氣虛，虛則下陷而見血。安胎飲加人參。（補九。）</p>
<p>血離其位，積於胞宮，為脹為痛。四物重加當歸。（補七。）</p>
<p>下黃汁如膠，或如豆汁。此濕熱也。用升陽除濕湯，又用黃耆六兩、糯米五合，水五升，煎半分，作兩服。（散十四。）</p>
<p>症氣相妨，亦為漏下。行經之時，血虛而寒氣乘之，血遂凝結而成症，其症不結於子宮，仍能行經成孕。既孕見血，為之漏下，是症氣為害也。宜下之，桂枝茯苓湯，然方中桃仁一味，恐妨胎，須酌用。若症在腹中，於胎無害，俟分娩後治之為妥。（散十六。）</p>

<h3>尿血</h3>
<p>胎漏，血自人門出；尿血，血從尿門出。因心經有火，移於小腸，滲入膀胱，溺時而下，不溺則不下也。</p>
<p>形體勞而過食燔炙之物。加味逍遙散。（補二十一。）</p>
<p>赤帶漏下，如豬肝汁。側柏丸。（寒十六。）</p>

<h3>轉胞</h3>
<p>胞即膀胱，以胎漸長大，下逼於胞，胞為胎逼而側，故名轉胞。有因胎陷而致轉胞者，有因氣不化水，水蓄胞中，胎又從而逼之而致轉胞者，其候煩悶汗出，氣逆奔迫，水道不通，小腹急痛，宜速治之，急則令孕婦仰臥床上，豎起兩足，亦能稍瘥。轉胞與子淋相類，但淋則痛而不脹，轉胞則脹而不痛，即因脹極而痛，溺孔卻不痛也。若淋症則小便點滴，溺孔痛甚如割。</p>
<p>血氣虛弱，胎不能舉。補中益氣湯加減用之，八珍湯加廣皮、木香，亦治此症。（補五、補六。）</p>
<p>脾肺氣虛，不能輪泄膀胱。異功散加豬苓、澤瀉。（補二十二。）</p>
<p>熱氣鬱結膀胱，以致津液不利。滋腎丸加丹皮、澤瀉。（寒十七。）</p>
<p>金為火爍，脾土濕熱，致溲便不利。清金利水湯加山梔、釵斛。（寒十八。）</p>
<p>忍尿飽食，房勞氣逆，而水不能化，以致轉胞。宜治其氣，蘇香丸。（散十七。）</p>

<h3>胎氣上逼</h3>
<p>胎動氣逆，上逼心肺，以致氣寒不轉悶亂喘促，此調養失宜，氣血不和也。子懸是胎氣不和，此因氣血不調，以致胎動不安也。</p>
<p>胎氣上逆。紫蘇飲。（散三。）當歸芍藥湯。（補十。）</p>
<p>肝火內熱。加味逍遙散。（補二十一。）</p>
<p>胃火上逆。四物湯去川芎，加山梔、黃芩、甘草。（補七。）</p>
<p>脾氣不舒。加味歸脾飲。（補三。）</p>
<p>飲食無味。六君子湯。（補一。）</p>
<p>脾胃虛寒。五君子湯。（補十四。）</p>
<p>風邪勝，喘不能臥。參蘇飲。（和十三。）</p>
<p>火動其胎，逆上作喘。黃芩、香附，末，用砂仁煎湯下。</p>
<p>腎氣不歸元，上乘於肺而作喘。生脈散，都氣飲，加阿膠。（補二十三、補二十四。）</p>
<p>胎氣上逼，熱痛下血，以致煩悶困篤。蔥二十莖，濃煎飲之，胎死即下，未死即安。</p>

<h3>臟躁</h3>
<p>因氣血養胎，津液不能充潤而肺躁也，當補其母。</p>
<p>肺躁欲哭數欠伸。甘草大棗湯。（補二十五。）八珍湯。（補五。）淡竹茹湯。（寒十九。）</p>
<p>寒水攻心而悲淚。五君子湯加砂仁。（補十四。）</p>
<p>肺受風邪，頻致淚下。四物寄生湯。（和十四。）</p>

<h3>胎動</h3>
<p>胎動則腹痛，胎漏無腹痛；胎動宜行氣，胎漏宜清熱。若手足冷厥，唇口青黑，宜人參、甘草、當歸、阿膠、蓮鬚、蔥白。</p>
<p>胎動作喘。宜降火，用黃芩、香附末，清湯下。</p>
<p>腹痛下黃汁。黃耆、川芎、黏米煎服。</p>
<p>衝任風寒，以致胎動。當歸、川芎、紫蘇、生薑，煎服。</p>
<p>元氣不足，怠倦不能承載。宜服安胎調氣飲，（補二十六。）如微熱腰痛，連進兩服。</p>
<p>怒氣傷肝。鬱結不舒，觸動血脈，而胎不能安。宜安胎飲加香附、柴胡、白芍。（補九。）有火，加梔子、丹皮。</p>
<p>因母病而胎動。但治母病，不必安胎，惟犯胎之藥不可入。其餘飲酒房勞，觸忤僕傷，以致胎動，俱當安胎為主。</p>
<p>胎動下血。蔥白煎湯，入阿膠、艾炭，再煎服。又當歸、川芎、阿膠、艾、黃芩、甘草，煎服。</p>
<p>胎動腹痛，面青冷汗，氣欲絕。此勞動傷胎，宜急治之，鉤藤湯。（散八。）</p>
<p>胎不動不墜，腹冷如冰。血少不能榮養其胎也，宜補血湯。（補二十七。）</p>

<h3>胎痛</h3>
<p>血少不能榮養其胎也。</p>
<p>血衰氣滯。宜抑陽助陰，四物湯加香附、紫蘇。（補七。）</p>
<p>小腹重墜。地黃、當歸、參、朮、陳皮，四君子湯。（補四。）補中益氣湯加歸、地。（補六。）亦治胎脹。</p>

<h3>孤漿</h3>
<p>懷孕六七月，暴下漿水斗余，胎亦必從而墮，此元氣虛而血傷也。</p>
<p>胎動腹痛，忽下黃汁如膠，或如豆汁。宜黃耆糯米湯。（補二十八。）</p>

<h3>吐血</h3>
<p>氣血壅養胎元，六淫七情，皆足以動其血氣，氣逆而火上乘之，故血溢於口。但火有虛焰、實熱之分，治有清火、補水之異。若以尋常治血之法，行血消血，動用四物，胎必墮矣。</p>
<p>火從胎氣上升，載血而出。生地、麥冬、白芍、黃芩、阿膠、蒲黃炭、香附炭。</p>
<p>肝經風熱。防風、黃芩。</p>
<p>肝經怒火。小柴胡湯去半夏，加山梔、生地，或投加味消遙散。（和十、補二十一。）</p>

<h3>傷寒</h3>
<p>全以清熱安胎為主，然安胎而仍用參、術等味，則邪熱固閉，反致胎下。只要隨症用藥，勿犯胎氣，始為合法。</p>
<p>惡寒頭痛。邪在表也，宜香蘇散。（散十八。）若煩渴，則邪在半表半裡，黃龍湯。（和十五。）</p>
<p>發熱躁渴，溲赤便閉，或下利赤水。邪在裡也，三黃解毒湯。（寒二十。）</p>
<p>熱極斑如錦紋。四物湯去川芎，加黃芩、玄參、知母、大青葉。（補七。）</p>
<p>壯熱百節痛。宜柴胡、葛根、黃芩、山梔、知母、大青。</p>
<p>熱結於胃，胸口煩悶。宜涼膈滋陰丸。（寒二十一。）</p>
<p>汗下後，熱不止。宜加味竹葉湯。（寒二十二。）</p>
<p>病熱而嘔，不食而煩。宜蘆根清胃飲。（寒二十四。）</p>
<p>下後脅熱利不止。黃芩湯。（寒二十四。）</p>
<p>斑赤黑，小便如血，氣斷如絕，胎落而未落。宜用梔子、黃芩、生地、青黛、葛根、升麻、杏仁、蔥白，煎湯速服之。</p>
<p>心驚發熱。辰砂安神丸。（補二十九。）</p>
<p>心氣虛不能主血。補心湯。（補三十。）</p>
<p>胃經火動。犀角地黃湯。（寒二十五。）</p>
<p>肺受火克。清肺飲。（寒二十七。）</p>
<p>膏粱積熱。加味清胃散。（寒二十六。）</p>
<p>腎水虧而陰火動。加味六味丸。（補五十。）</p>
<p>吐衄口噤項強類中風。加味安胎飲。（補三十。）</p>
<p>口鼻出血。血熱沖傷胞絡也，治當涼胎為主。衄血湯。（寒二十九。）</p>

<h3>痢疾</h3>
<p>後重不可降氣，便膿不得行血，惟順氣和血，佐以導滯消積之味，此治妊娠痢疾之要法也。</p>
<p>腹脹而痛，裡急後重。三黃解毒湯加木香、當歸。（寒二十。）</p>
<p>血痢不止。熱乘大腸也，黃芩、芍藥、甘草。</p>
<p>腹重墜下，元氣虛也；胎動不安，內熱甚也。補中益氣湯加黃芩、白芍。（補六。）</p>
<p>痢下黃水，脾氣下陷也。補中益氣湯。（補六。）</p>
<p>黃而兼青，肝木剋土也。宜平肝補土，補中益氣湯加白芍、青皮。（補六。）</p>
<p>黃而兼黑，水反侮土也。宜補脾腎。七味丸。（補三十一。）肉桂有礙於胎，可易肉果、菟絲子。然火盛者亦兼黑色，宜投寒涼之劑。</p>
<p>腸胃虛弱，風邪客之。胃風湯。（散十五。）</p>
<p>赤白膿血不止。黃連湯。（寒二十八。）</p>
<p>赤白灰色泄痢痛欲死。大寧散。（澀一。）</p>
<p>腹痛胸滿。當歸芍藥湯。（補十一。）</p>
<p>腸鳴後重，穀道疼痛。蒙薑黃連丸。（和十六。）</p>
<p>胎氣不和，相火上炎，鬱而為熱，亦致下利不止，似痢而實非痢也。四物湯加黃芩、白朮、生地。（補七。）</p>

<h3>泄瀉</h3>
<p>血壅胎元則脾陰虛，不能運化水穀，而為泄瀉；又胎繫於腎，胎竊腎中之氣，則腎陽不克，上蒸脾土，亦致脾虛泄瀉。即或間有風、寒、暑、濕之所感者，亦半屬於脾腎之虧。</p>
<p>大便虛急。此脾土燥、大腸澀也。宜理脾胃與大腸，川連、乾薑、木香、甘草。</p>
<p>嘔吐腹痛，手足逆冷。寒水侮土也。六君子湯，（補一，）去半夏，加補骨脂、益智仁、煨鮮姜。</p>
<p>寒熱作嘔，肝木侮土也。異功散加柴胡、白芍、生薑。有火，加味逍遙散。（補二十二、補二十一。）</p>
<p>百節痠疼。因縱意口腹也，歸涼節命散。（和十七。）</p>
<p>臍下陰冷。理中異功散加肉果、木香。（熱二、補二十二。）</p>
<p>協熱作瀉。三黃熟艾湯。（寒三十三。）</p>
<p>伏暑不消，煩渴瀉水。四苓散。（瀉二。）</p>
<p>傷濕泄瀉，小便自利。胃苓湯。（瀉四。）</p>
<p>脾腎虛弱。白朮散。（和十八。）</p>
<p>久瀉不已。安胎和氣飲，加減八珍湯。（和十一、補三十二。）</p>
<p>氣急筋攣骨節痛。平安散、紫蘇飲。（和十九、散三。）</p>

<h3>霍亂</h3>
<p>嘔吐傷氣，瀉利傷血，妊娠危症也。急治之。</p>
<p>心腹絞痛，吐痢並作。因五味積而為痰，心情鬱而為火，乍感寒熱，邪正交爭，陰陽相混，故致此病。香蘇散加藿香。（散十八。）回生散。（散十九。）</p>
<p>心躁腹痛，吐瀉並作。六和湯。（和二十。）</p>
<p>頭痛發熱。是風邪也。藿香正氣散。（散二十。）</p>
<p>熱氣鬱結，胸中煩躁。蘆根、竹茹、葛根、麥冬、知母、人參、蔥。</p>
<p>四肢厥逆，脈息虛弱。人參白朮散。（和二十一。）</p>

<h3>傷食</h3>
<p>脾胃滯，則水穀不能化精氣以養胎，宜善為消導。</p>
<p>腹痛而食不化。二陳湯加砂仁，去半夏；如嘔吐，加藿香、砂仁；氣滯，加木香。（和八。）</p>
<p>吞酸噯腐。二陳湯去半夏，加左金丸。（和八、寒十四。）</p>
<p>腹滿泄瀉。異功散加砂仁、木香、穀芽。（補二十二。）</p>
<p>脾氣虛弱。白朮、陳皮為末，穀芽湯下。</p>

<h3>盅鳴</h3>
<p>兒在胞中，口含臍帶上疙瘩，因妊娠舉臂攀高，脫於口而不能復含，故作聲。令妊婦曲腰就地，如拾物狀，使臍帶仍入兒口即止。或用鼠窟中土為末，入麝香二釐，酒調下二錢。</p>

<h3>墮胎</h3>
<p>三、五、七月多墮胎，以三月屬心胞，五月屬脾，七月屬肺，皆臟脈，臟屬陰，陰氣易虧，故胎亦易墮，此人皆防之。而一月為胚，形如珠露，胎元未固，又為足厥陰肝脈養之。肝氣多郁，肝火易動，或不自謹，胎即消而落矣。一切忿怒勞倦，皆宜慎之。若房事更在所忌。</p>
<p>衝任氣虛。宜養脾胃。千金保胎丸。（補三十五。）六味丸加杜仲、川斷、阿膠、北五味。使腎氣壯而胎可固，十聖散。（補三十四。）每月服六帖。</p>
<p>子宮為風冷所乘，致營衛虧弱。八珍湯加桑寄生、防風。（補五。）</p>
<p>少陽火動。性急者多怒，面色黑而氣實，此相火太盛，不能生氣化胎；及食氣傷精，故致胎墮。四物湯加知母、黃柏、黃芩、麥冬。（補七。）</p>
<p>陰虛內熱。黃芩、阿膠、生地、麥冬、白芍。</p>

<h3>胎不長</h3>
<p>胎兒全賴血氣所養，而血氣又賴脾胃水穀之精化之也。以健脾扶胃為主。八珍湯加蓮肉，忌食鯉魚、莧菜。（補五。）</p>
<p>肝氣鬱怒而氣逆，則血不調，血不調則胎無以養而萎。逍遙散。（和五。）</p>
<p>氣血寒而陽不足，則胎不長。左歸飲加當歸、砂仁、乾薑。（補三十三。）</p>
<p>火邪盛而真陰損，致血熱而胎不長。加味逍遙散加黃芩、川連、知母。（補二十一。）</p>

<h3>鬼胎</h3>
<p>腹脹連胸，面色或青或黃，脈澀而短，或不數月而腹大如鼓，形若抱甕，按之其冷如冰，總緣精神虛弱，妖魅乘虛而入之也；或本婦所願不遂，發為白淫，流入子宮，結而為胎，均曰鬼胎。斬鬼丹。（攻一。）雄黃丸。</p>

<h3>傷胎</h3>
<p>驚恐跌僕，中寒中熱，毒藥毒食，皆致傷胎。胎之生死，脈未可憑。須細心體認，必實見其口舌色青，腹冷口穢，方可用下。</p>
<p>下血不止，胎上衝心，四肢厥冷，悶絕將死。竹茹、蘄艾，煎汁去渣，入阿膠、白蜜服，川芎、當歸二味，煎服亦隱。如腹中急痛，血從口出，亦用竹茹等味煎服。七寶丹亦可下胎。（散二十二。）《千金》神造湯。（攻十三。）蟹爪一升，阿膠三兩，甘草一兩。</p>
<p>半產漏下，昏冒瞑目。因血亡而心與胞絡之火上乘也。惟養血清火，俾心氣清而不昏，肺氣清而不瞑，庶為得法，切忌用風藥發汗。</p>
<p>經損而血不止。非氣虛則血熱。氣虛，宜阿膠、艾、伏龍肝；血熱，宜生地、丹皮、麥冬、茯苓、丹參、當歸之類。</p>

<h3>腸覃石瘕</h3>
<p>肺主衛，衛為氣，得熱則泄，得寒則澀，寒氣客於腸外，與衛氣相搏，氣不得榮，因有所繫，結瘕而內著，惡氣乃起，息肉乃生，漸而至大，如懷子狀，氣病而血未病，故月事不斷，應時而下，木香通氣散。（散二十二。）</p>
<p>寒氣客於子門，氣不通，而月事不下，結硬如石，非大辛熱之劑不能消，見睍丸。（攻四。）</p>
<p>倘有孕，用香附子（醋炒）、桃仁、海粉（醋煮）、白朮，為末，麵糊丸，服之頗穩。</p>

<h1>卷中</h1>

<h2>產後</h2>

<h3>難產</h3>
<p>生產為天地化育之道，本無所難，其有難產者，皆產家張皇自致之耳。能靜以待之，兒得轉身，自然產下。治法以順氣和血為主，切勿肆用催生藥。</p>
<p>心懷恐懼而氣結不行，恐則氣下，懼則氣怯，怯則上焦閉，閉則氣還，還則下焦脹，氣乃不行。宜服紫蘇飲。（散三）</p>
<p>胞破漿水下而兒不下，速當補氣養血，如魚得水而自順矣。宜保產萬全湯。（和二十二，）再用濃煎蔥湯，洗其產戶，令上下之氣宣通。</p>
<p>胞中敗血壅滯，兒枕破，血裹兒身，致轉身不利，急服勝金散。（攻五）</p>
<p>暑月熱氣蒸人，有鬱冒沖暈之患，生化湯。（和二十四。）加益元散。（寒三十）</p>
<p>冬月寒氣逼人，經血凝聚而難下，宜生化湯加肉桂、乳香。（和二十四）</p>
<p>交骨不開，陰氣虛也。加味芎歸湯。（補三十六。）開骨膏。（和二十三）</p>
<p>子趨穀道，焦鹽熨之。</p>
<p>橫生逆產，此因兒未轉身，母即用力逼之，遂致橫逆也。或先露手，或先露足，以小針刺兒手足心，用鹽擦之，兒痛即縮入，並以鹽摩產婦腹。若眼閉心悶欲絕，取頂上發如兩指大，用力挽之，眼即開。或以米醋噀之，車前子為末，酒下亦可。又，兒先露手，速令產母仰臥，看生之婦，將兒手推上，徐徐正之，候其身正。煎催生藥服之，使兒生下。又三退散可下。（攻六）</p>
<p>盤腸產，子未下而腸先下，此因產母氣血虛弱，因而下脫。當大補氣血，兼以升提。參、耆、芎、歸，加升麻少許，連服之，自收。若腸幹不收，以磨刀水少許溫潤之。或濃煎黃耆湯，貯漆器內，候弗冷弗熱，將腸浸之，令溫暖之氣上熏則腸自上。或以蓖麻子四十九粒，研爛塗母頭頂，待腸收上急洗去；又五倍子、白礬湯浸亦好。子腸與子宮脫下者，同一治法。</p>
<p>胎死腹中，察產母腹脹口青，或舌黑，腹中陰冷重墜，嘔惡不寧，穢氣上衝，皆子死之證。速當下之，當歸、厚朴、陳皮，酒、水各一碗，煎半，入朴硝三五錢，再煎十餘沸，服。如在疑似之間，只服芎歸湯為穩。</p>

<h3>胎衣不下</h3>
<p>血入胞中，胞脹而不能下，其症面垢頰赤，寒熱盜汗，上連胸腹脹痛，若因氣力衰憊不能送出者，胸腹必不脹而痛，總當忍痛，正身俟之，不可任意欠伸，致血上衝心也。</p>
<p>血壅而胞衣不下，失笑散（攻七）。牛膝散（攻八）。生化湯（和二十四）。加牛膝煎湯，送益母丸（和二十七）。又，牛膝一兩，黃葵子一合，煎服即下。</p>
<p>氣血虛弱，不能送下，保生無憂散。（和二十五）</p>
<p>風冷乘虛而入，胞冷血凝而不下，牛膝散去硝，加桂、附。（攻八）</p>

<h3>血暈</h3>
<p>胎胞既下，氣血暴虛，忽而眼黑神昏，不知人事，速投人參、芎、歸，以回其氣。眼閉口開，面白手冷，六脈微弱，是其驗也，若惡露上行，心下滿悶，口噤而神脫者，宜破血下血。二者錯治，則立斃矣。</p>
<p>惡露上攻，急用失笑散。（攻七）米醋燉熱，和生韭汁，貯有嘴瓶內，將瓶口包裹，以瓶嘴對鼻孔觸之，極效。</p>
<p>敗血流入肝經，急飲童便，下生化湯。</p>
<p>瘀血奔心，虛火上炎，童便下益母丸。（即濟陰丹，和二十七。）或童便送鹿角炭，清魂膏。（寒三十一）</p>
<p>陰血暴亡，心神無所養，而君相二火乘於肺經，則目瞑不省人事，宜四物湯去熟地，加生地、白薇。（補七。）</p>
<p>飲酒血暈，血得酒熱而妄行也，川芎、當歸、葛根。</p>
<p>使力過多而暈，清魂散。（和二十六）</p>
<p>氣血兩虛，痰火上湧，二陳湯加硃砂。（和八）</p>
<p>虛風血暈，當歸、川芎、桃仁、荊芥。</p>

<h3>厥</h3>
<p>凡產用力過多，勞倦傷脾，孤臟不能注於四旁。（心、肝、肺、腎。）故足逆冷而厥氣上行也。經曰：陽氣衰於下，則為寒厥。厥氣上升，滿脈去形。逆氣上行，滿於經絡，則神氣浮越，去身而散矣。此非急以峻補大劑與之，不能舉氣以歸元，回陽而復神。宜重用參、耆，使氣血旺而神復，厥症自止。人參生化湯。如無塊痛，滋榮益氣湯。（補三十七、補三十八）</p>

<h3>惡露不下</h3>
<p>養胎余血，溷以漿水為惡露。氣血旺者，隨產而下。氣血衰弱，或挾寒冷，或挾風邪，遂留滯不行，上攻則為血暈，蓄瘀則為兒枕，日久不出，腹痛心痛，遍身發熱，五心煩熱，骨蒸潮熱，時作時止，渾如瘧狀，塊在兩脅，動作雷鳴，嘈雜眩暈，食少羸瘦，又與虛弱病相似，慎勿誤治，致成血臌等症，宜生化湯合失笑散，補而消之。（和二十四、攻七。）起枕散亦好。（攻九。）若惡露流注四肢腰背等處，久必腫起作痛，速用蔥熨以散之，內服加參生化湯。如不速治，將所注者，化而為膿，宜用神仙回膿散（攻十一）。然氣血不旺，不可輕用，憎寒惡熱，氣虛也，十全大補湯。（補三十九。）日晡潮熱，血虛也，四物湯加參、朮、丹皮。（補七。）嘔逆，胃氣虛也，六君子湯加炒乾姜（補一）。食少體倦，脾虛也，補中益氣湯。（補六。）四肢逆冷，小便頻數，腎氣虛也，補中益氣湯加益智仁。熨法，用蔥一把，搗爛為餅，貼患處，襯厚布兩三層，以熨斗文火熨之。</p>

<h3>惡露不絕</h3>
<p>元氣不足，勞動傷經血也，或惡血未盡，適挾風冷，而致氣血不調；或過服固胎藥，產雖下而惡露不去，竟至二三月而點滴不已，皆宜補血順血，調氣通氣為主。濟陰丹可加味用之。（和二十七）</p>
<p>氣血俱虛而淡紅不已，十全大補湯。（補三十九）</p>
<p>怒火傷肝而血不藏，加味四物湯。（補二十八）</p>
<p>胃氣下陷，不能統血，補中益氣湯。（補六）</p>
<p>脾經鬱熱，血不歸源，加味逍遙散。（補二十二）</p>
<p>肝氣熱不能生血，六味丸。（補二）</p>
<p>脾虛不能攝血，六君子湯。（補一）</p>
<p>傷衝任之絡而不止，加味固陰煎。（補二）六味丸（補二）加阿膠、麥冬、北五味。</p>

<h3>血崩不止</h3>
<p>產婦耗傷氣血，經脈未得平復，而或驚憂恚怒；或勞役損動；或鹹酸不節，傷於營沖；或氣衰血弱，不能固攝，皆成崩中。若小腹滿痛，肝經已壞，為難治也。其餘鬱熱氣陷，以致血崩，與惡露不絕同治。</p>
<p>血多色紫，敗血也，當去之，留之反作痛，不可以作崩論，生化湯加五靈脂、生蒲黃以破之。（和二十四）</p>
<p>形脫而汗不止，加參生化湯；渴，加麥冬；瀉，加茯苓；兩手脈伏，或右手脈絕，加北五味、麥冬；痰，加竹瀝、薑汁；驚，加棗仁；食不可進，聞藥即吐，胃虛也，宜用參湯送飯鍋焦粉，漸漸引開胃口，然後服藥。</p>
<p>崩下如牛膜，昏迷倒地，乃受驚而然，朱雄丸。（和二十九）</p>
<p>惡血重來，如流水不止，昏迷不知人事，此因未滿一月，妄行交媾，以致血不歸經也。</p>
<p>急用金狗脊散。（和三十）</p>
<p>日久不止，宜升舉大補湯。（補四十）</p>
<p>血脫妄言妄見，宜升舉大補湯，加辰砂少許，以墜其心火。（補四十）</p>
<p>血崩如湧，口噤目斜，手足搐搦，肝經血耗，風生也。六味丸加荊芥穗。（補二）</p>
<p>血來紫黑如豆汁色，怒傷肝也。宜加味四物湯。（和二十八）</p>
<p>血來鮮紅，是驚傷心，怒傷肝，勞傷脾，致血不歸經也。生化湯和。（二十四。）加味治之，鮮血來多，再加升麻、白芷各四分。</p>

<h3>頭痛</h3>
<p>頭者，諸陽之會，產後陰虛，陰虛則陽勝，陽氣上湊於頭，故頭痛；又有瘀血之氣，上衝於頭而痛者。一宜滋陰，一宜去瘀，慎勿誤治。</p>
<p>身熱惡寒，感冒風寒也。生化湯加蓮鬚。（和二十四）</p>
<p>中氣虛，補中益氣湯加蔓荊子少許。（補六）</p>
<p>氣血俱虛，八珍湯。（補五）</p>
<p>陽氣虛，補中益氣湯加附子。（補六）</p>
<p>腎水不生肝木，六味丸加北五味。（補二）</p>
<p>氣滯，芎烏散。（散二十四）</p>

<h3>心痛</h3>
<p>非陽氣虛寒，則瘀血上衝。生化湯加肉桂、吳茱萸，可以治寒；失笑散加當歸、川芎，可以行血。若指甲青黑，手足冷而過節，此真心痛，不治。又惡血奔心，一絲入於心臟即死。</p>
<p>足純青心下痛，寒毒攻心也。人參、白朮、附子、肉桂、當歸，散其下寒而上寒自解。</p>
<p>食冷物而作痛，生化湯加消食之劑。（和二十四）</p>
<p>感風邪而作痛，生化湯，荊芥、防風、生薑。（和二十四）</p>
<p>產後厥痛，血虛也。羊肉一斤，煮汁去肉，入當歸一兩，炒白芍五錢，炙甘草五分，再煎服之。（羊肉須取精者）</p>
<p>中無血塊，綿綿而痛，按之即止，血虛也，宜八珍湯。</p>

<h3>腹痛</h3>
<p>實則有惡露不盡，乾血瘀積，食傷氣滯，虛則有氣弱寒阻，血虛空痛，須詳審施治。虛者固宜調補氣血，而實者亦勿得峻厲克伐。</p>
<p>瘀血上衝，心腹脹滿疼痛，牙關緊急，按之愈甚，大便難而小便易，宜失笑散（攻七）。煎湯下益母丸（即濟陰丹，和二十七。）</p>
<p>乾血著於臍下，行氣破血之藥，投之不愈，知內有乾血也，生化湯加炒大黃、炒虻蟲。（和二十四）</p>
<p>胸膈飽脹，惡食吞酸，手不可按，此飲食傷也，二陳湯加山楂、神麯。（和八）</p>
<p>食消後而痛如故，按之痛止；或加頭痛，煩熱作渴，惡寒欲嘔等症，此中氣傷也。宜補脾胃，六君子湯。（補一）</p>
<p>六脈沉伏，四肢厥冷，內傷飲食，而惡血不行也。宜行血消食，失笑散加山楂、神麯（攻七。）如無惡血積食，則為虛寒，宜補氣暖胃。</p>
<p>產後六七日，忽然臍腹疼痛，此由呼吸之間，冷氣乘虛而入也。宜四順湯。（熱三）</p>
<p>腹中㽲痛，客寒阻逆也，精羊肉煮汁，入當歸、生薑煎服。</p>
<p>腹痛欲絕，脈浮弦，風入胞門也，川斷一兩，防風三錢，煎服。</p>
<p>衝任空虛，肝經血少，脈弦，熟地、吳茱萸、白芍、木瓜、蒺藜。</p>
<p>噁心作嘔，六君子湯。（補一）</p>
<p>泄瀉，六君子湯，加炮薑、砂仁、生薑、大棗。（補一）</p>
<p>腹中塊積，生化湯加肉桂、紅花。（和二十四）</p>
<p>六脈滑數，瘀血成癰。生化湯加丹參、丹皮。</p>
<p>腎氣虛寒，理陰煎（熱四）。胃關煎。（熱五）</p>
<p>血少而痛，黃雌雞湯。（補四十一）</p>

<h3>小腹痛</h3>
<p>兒在胞中，食母之血，所餘者，結而成塊。產時塊從兒下則無患。不下，則滯而痛，名曰兒枕痛。黑神散（攻十）。久而不已，血化為膿。又產後寒氣入腹硬築，臍下刺痛，為寒疝。宜用炒吳茱萸，勿誤治。</p>
<p>血化為膿，流注關節，則成骨疽。脈洪而數，是其候也。失治，多為敗症，宜急治之。若腹脹大，或轉側作水聲，或膿從臍出，與大便出，當用補以托之，然後用神仙回膿散。（攻十一）</p>
<p>子離其宮，血海陡虛，所以作痛，胞門受傷，必致壅腫，腫未消，因而拒按似塊，實非塊也，勿得作兒枕治，宜用殿胞煎（補四十二）。五物煎（補四十三）。</p>

<h3>腸瘍</h3>
<p>怒鬱血虛腸風，皆致腸瘍。食諸魚毒物，亦能致瘍。食鹽炒熱熨臍，又箭鏃燒紅，淬入酒中，飲酒可愈，川芎、當歸、甘草、淮牛膝、藁本，為末，酒調下。</p>

<h3>腰痛</h3>
<p>腰者腎之外候，胞胎繫於腎，產則勞傷腎氣，損動胞絡，虛未平復，風冷客之，故令腰痛。三聖散。（散二十五）</p>
<p>惡露斷，腰重痛而下注，兩股如錐刺入骨，此血滯經絡，必作癰疽。四物湯加延胡。（補七）</p>
<p>真氣虛而邪乘之，當歸黃耆湯加桑寄生。（補四十四）</p>
<p>久痛不已，豬羊腎常食之。</p>
<p>腹脹善噫，諸藥皆嘔，脾虛也。焦術，米泔煎服。</p>

<h3>脅痛</h3>
<p>膀胱宿有停水，惡露下而不盡，氣血與水相激，故令脅肋脹痛。</p>
<p>痛而嘔吐，抵聖湯（攻十二）。非薑桂之辛以行藥，勢反助其脹矣。</p>
<p>肝經血瘀，四物湯加肉桂、延胡、蒲黃、紅花。（補七）</p>
<p>肝經氣虛，四君子湯加當歸、白芍。（補四）</p>
<p>肝經血虛，四物湯加人參、白朮。（補七）</p>
<p>腎水不生肝木，六味丸。（補二）</p>
<p>肺金盛克肝木，瀉白散。（散二十六）</p>
<p>身熱汗出，加參生化湯。（和二十四）</p>
<p>氣血兩虛，十全大補湯。（補三十九）</p>
<p>怒傷於肝，兩脅脹痛，吐血寒熱，宜八珍湯加柴胡、丹皮。（補五）</p>

<h3>遍身痛</h3>
<p>產後血氣失升降常度，留滯關節，筋脈引急，是以遍身疼痛，甚則腰脊強硬，手足拘攣，身熱頭痛，切勿作傷寒治之。若認作傷寒，誤發其汗，則筋脈動惕，手足厥冷，變生他症矣。趁痛散加桑寄生。（和三十一）</p>
<p>按之而痛緩，血虛也。四物湯加炮薑、人參、白朮。（補七）</p>
<p>遍身青腫，麥芽一重，牛膝一重，填入瓦罐，鹽泥封固，煅赤研末，酒下二錢。治血流諸經極效。</p>
<p>虛勞而指節疼痛，汗出不止。豬腎煮汁，煎當歸、人參、黃耆、生薑、韭白、淡豆豉少許，溫服。</p>

<h3>遍身皮赤兩腿肉青</h3>
<p>此敗血流經也，生化湯加荊芥、肉桂、淮牛膝。（和二十四）</p>

<h3>臌脹</h3>
<p>產婦素弱，臨產勞傷，中氣多不足，胃雖納穀，脾不健運。先服生化湯（和二十四）三、四劑。七日後，即服加參生化湯（補五十八）。以助其脾氣，自無虛滿之患。或因便秘而誤服大黃；或因多食而過服消導；或因忿怒而誤服耗氣等藥；又或恣飲寒冷，凝滯惡露以致脹者，或補氣、或健脾、或暖胃行血，當察其所因以治之。</p>

<h3>血塊</h3>
<p>因惡露未盡所致。或產後氣血虛弱，風冷乘之，搏於臟腑，與血氣相結，因而成塊。切勿輕用散氣行血藥。</p>
<p>風冷搏血，生化湯加木香三分，磨沖服。（和二十四）</p>
<p>冷濕乘虛而致，生化湯加肉桂、白芷、炒姜。</p>
<p>半月外不散，或如腫毒高寸許，身熱食減，生化湯加肉桂、蓬朮炭，攻補並治。（和二十四）</p>
<p>肢節肉裡結成小核，此血虛筋燥而攣結也。由多用行血破血藥以消塊，致血不養筋，而筋不舒耳。宜補水以滋肝血，養脾以運中氣，八珍湯（補五）。歸脾湯（補十九）加減治之。</p>

<h3>傷食</h3>
<p>產後血氣已虛，胃中元氣不足，飲食偶有所傷，即不能運化，因成痞悶。</p>
<p>宿食停滯，口乾滿悶，六君子湯加神麯、山楂。（補一）</p>
<p>怒後即食，食停而悶，生化湯加消食之劑。（和二十四）</p>
<p>食消而仍痞，反作痛嘔，脾胃傷也。六君子湯（補一）。咽酸噯腐，加炮姜；作瀉，加升麻。不應用補中益氣湯。（補六）</p>
<p>消導過多，反致滿悶，不思穀食，宜長生活命丹。（補四十五）</p>

<h3>嘔吐</h3>
<p>氣血大虧，脾胃弱而中氣不運也，敗血乘虛而入，脾受之則不能運化精微而成脹滿；胃受之則不能受納水穀而生吐逆。宜用抵聖散。（攻十二）</p>
<p>勞傷臟腑，寒邪入於腸胃，加減生化湯。（和三十二。）七日外，服溫胃丁香散。（和三十三）</p>
<p>嗽逆目眩，石蓮散。（和三十四）</p>
<p>飲食傷脾，六君子湯，加砂仁。（補一）</p>
<p>腸胃氣逆，腸胃燥澀而氣逆也，宜六君子湯加藿香、砂仁。（補）</p>
<p>胃氣虛寒，六君子湯加炮薑、木香。（補一）</p>
<p>寒水侮土，益黃散。（散二十七）</p>
<p>肝木侮脾，六君子湯加升麻、柴胡。（補一）</p>
<p>命門火衰，八味丸。（補四十六）</p>
<p>腹痛泄瀉手足冷，陽氣虛也，附子理中湯。（熱七）</p>
<p>口渴內煩少力，血少汗多，不生津液也。宜生津益液湯。（和三十五）</p>
<p>吐蛔蟲，胃氣將絕也。人參、白朮、榧子、白薇、肉桂、神麯。</p>
<p>吐膿血，又復發斑，因夏月受暑，未曾發出，至產始發，火毒熾盛，又不能盡發，故見症如此。不得不權用涼劑，人參、當歸、川芎、麥冬、荊芥、元參。</p>
<p>大嘔大喘，風邪感於太陽也。難治。重用人參，佐以麥冬、當歸、白朮，少加荊芥、桂枝。</p>
<p>嘔吐下痢，邪感少陰也。緣腎火衰微，火為寒所驅逐，腎水亦隨寒上趨而作嘔，所謂真水虧，真陽飛越也。急用補陽之藥，入於補陰之中，引火歸源，是為要法。宜八味丸加減。（補四十六）</p>
<p>兩脅脹滿便血，風邪傷肝也，此猶可救者，因其有便血耳，不然，邪留兩脅，反成腹心之病。當歸、麥冬、川芎、三七根。</p>

<h3>霍亂</h3>
<p>此由勞傷氣血，臟腑虛損，食不運化，而邪復乘之，致陰陽升降不順，清濁亂於腸胃，冷熱不調，邪正相搏而然。</p>
<p>血塊疼痛未淨，生化六和湯。（和三十六）</p>
<p>血痛已除，藿香溫胃散。（散二十八）</p>
<p>渴而飲水，五苓散。（瀉五）</p>
<p>手足逆冷，問無血痛，用附子散。（熱六）</p>

<h3>呃逆</h3>
<p>產後氣血皆傷，風冷搏於氣分，則氣逆而上為呃，又脾胃虛冷，因食熱物，冷熱之氣相沖擊，使氣不順而呃逆。</p>
<p>胃氣虛寒，丁香、乾薑、肉桂。</p>
<p>胃中伏熱，乾柿、竹茹。</p>
<p>脾胃虛熱，人參、附子。</p>
<p>中氣大虛，陰火上衝。八味丸。（補四十六）</p>

<h3>喘急</h3>
<p>榮衛暴竭，衛氣無主，獨聚肺中，故令喘急。此為孤陽絕陰，真險候也。大料川芎湯救之，或生脈散合生化湯。（補二十三、和二十四）</p>
<p>敗血入肺，坐不能臥，生化湯合失笑散，或六君子湯合失笑散。（和二十四、補一、攻七）</p>
<p>汙血感寒，桃仁、丹皮、茯苓、乾薑、蔞仁、北五味、桂枝、桑皮、紫蘇、枳實。</p>
<p>水氣凌肺，人參、白朮、茯苓、麥冬、蘇子。</p>
<p>脾虛生痰，六君子湯加薑汁、竹瀝。（補一）</p>
<p>憂惱作喘，川芎、當歸、杏仁、桑皮。</p>
<p>外感作喘，川芎、當歸、旋覆花、茯苓、半夏、杏仁、前胡。</p>
<p>氣短似喘，生化湯（和二十四）加人參、沉香。</p>
<p>六七日，忽然手足蜷臥，息高氣喘，噁心腹痛，此少陰感寒邪，而在內之真陽，為寒氣逼越於上焦，上假熱而下真寒也。人參、麥冬、肉桂、白朮、吳茱萸，煎湯，候其微冷頓服之。若至半月一月外患此症，人參、白朮、茯苓、當歸、熟地、麥冬、吳茱萸、附子、牛膝，煎服之。皆為難救之症。</p>
<p>七日內外感風寒，鼻塞惡寒，身熱頭痛，重嗽，宜用加參寧嗽生化湯。痰多，加花粉，或加竹瀝、薑汁，沖服；惡寒，毋用麻黃；脅痛，毋用柴胡；火嗽發熱，毋用寒涼。總以調理血氣為主。（和三十七）</p>
<p>誤食耗氣藥，致氣促絕食，人參生化湯，送飯鍋焦粉。（補三十七）</p>

<h3>蟬聲</h3>
<p>敗血沖遏於心，轉入於肺，氣與血並結成塊，入喉作聲，竟似蟬鳴，此症十不救一。</p>

<h3>浮腫</h3>
<p>敗血乘虛，流入經絡，日久化水，故令面黃，四肢浮腫。若作水氣治之，便致夭枉。宜小、大調經湯（和三十八、三十九）。血流為水者，下午腫甚，腫處必有血痕，或脅脹刺痛。</p>
<p>咳嗽小便澀，寒水侮土也。宜補脾肺。補中益氣湯。（補六）</p>
<p>氣虛，六君子湯（補一）。四君子湯去甘草，加米仁、炒陳卜子。（補四）</p>
<p>六脈沉細無力，或咳嗽，或泄瀉不止。脾土虛寒，命門火衰也。《金匱》腎氣湯（補四十七）。</p>
<p>口渴惡寒，脈沉無力，體虛而有濕熱之積也，必上焦滿悶，宜補中行氣，兼用導水之劑，白朮、茯苓、陳皮、木通。</p>
<p>外感風寒，氣血滯於經絡；或脅腹絞刺。嘔吐噁心，宜加味吳茱萸湯。（散二十九）</p>
<p>氣鬱作脹，枳實、炒白朮。</p>

<h3>發熱</h3>
<p>產後發熱，有傷力，有血虛，有停瘀，有蒸乳，有風寒，有多食，其病不一，狀類傷寒。切勿發汗，致成肉瞤筋惕，亡陽譫語，鬱冒昏迷等症。</p>
<p>血虛，川芎、當歸、人參、薑炭。</p>
<p>氣虛，補中益氣湯加炒姜。（補六）</p>
<p>吞酸噯腐，飽悶惡食，此飲食停滯也。宜四君子湯加砂仁、山楂、神麯。（補四）</p>
<p>肝虛血燥，陰火內發，宜逍遙散，以清肝火。若用大補，熱燥更甚。（和五）</p>
<p>陰虛陽無所依，浮散於外而為熱，四物湯，加炙乾姜。（補七。）加茯苓，使天氣降而生陰，亦妙。</p>
<p>失血多汗出，不臥，怔忡驚悸，妄言妄見，加味歸脾湯。（補三）</p>
<p>血虛感風，生化湯加荊芥穗。（和二十四）</p>
<p>誤服寒涼之劑，以致寒氣隔陽於外，四君子湯加乾薑、肉桂。不應，加附子。（補四）</p>
<p>肌膚髮熱，面赤大渴，血脫髮燥也。當歸補血湯。（補四十八）</p>
<p>敗血攻心，狂言奔走，乾荷葉、生地、丹皮、生蒲黃。</p>
<p>胸脅脹痛，腹中痞悶，吐血盜汗，或便血不止，此諸臟虛損也，故有虛寒假熱之狀。十全大補湯。（補三十九）</p>
<p>產後潮熱有汗，大便不通，毋專論為陽明症；頭痛惡寒，毋專論為太陽症；頭疼脅痛，毋專論為少陽症。總由血氣兩虛，陰陽不和而類外感也。加味生化湯，調和榮衛，諸症自退矣。（和四十）</p>
<p>口燥咽乾而渴，毋專論為少陰症；腹滿咽乾大便實，毋專論為太陰症；煩滿四肢冷，毋專論為厥陰症；譫語便秘，毋專論為胃中有燥屎。多因勞倦傷脾，運化稽遲，血枯腸燥，虛症類實病也。加味通幽散。（和四十一）</p>

<h3>乍寒乍熱</h3>
<p>血閉於陽經，榮衛行之不通則寒；血閉於陰經，榮衛行之不通則熱。陽氣不足，陰氣上入於陽中則惡寒；陰氣不足，陽氣下陷於陰中則發熱。外經為寒邪客之，則榮衛不通而發熱。內府為冷物傷之，則榮衛不通而為寒。</p>
<p>陰陽不和，四物湯加減用之，去熟地，加人參、乾薑、甘草。（補七）</p>
<p>陰陽不歸其分，陽下陷而陰上冒。八珍湯。（補五）</p>
<p>元氣未復而濕熱乘之，補中益氣湯。（補六）</p>
<p>血虛而渴，當歸補血湯。（補四十八）</p>
<p>肝木侮土，致停食而寒熱，六君子湯加木香。（補一）</p>
<p>風寒客於經絡，川芎、當歸、蓮鬚、蔥白。</p>
<p>乳孔脹痛，瞿麥、通草、連翹、花粉、甘草、青皮、桔梗，煎服。</p>
<p>噯氣滿悶，飲食傷也，異功散加山楂、神麯。（補二十二）</p>

<h3>汗</h3>
<p>汗本血液，屬陰，陰亡陽亦隨之而走，故曰：汗多亡陽。又曰：肝，心之液也。血虛，則腎中之陰不能上注於心，故心虛而汗出。又陰虛暴亡，陽氣無所歸附，則浮散於外，而汗不止。</p>
<p>產畢自汗，塊痛未除，先服生化湯，即繼服調衛止汗湯。俟汗止，減參、耆以消塊痛。（和二十四、補四十九）</p>
<p>睡中妄言，大便不通，加參生化湯加麻黃根、棗仁、地骨皮。（補三十七）</p>
<p>汗而泄瀉，加參生化湯加麻黃根、肉果、蓮子。（補三十七）</p>
<p>汗多而小便點滴，加參生化湯加麻黃根、麥冬、葛根、北五味。（補三十七）</p>
<p>汗多亡陰，致筋脈拘急，類於痓症　宜加味生化湯。（和四十）</p>
<p>大汗如雨，口渴舌乾，發熱而躁，此精血乾枯，無以養心，陽無陰而不化也。黃耆、當歸、桑葉，合生脈散。（和二十三）</p>
<p>聞響汗出，諸藥到口即吐，脾氣敗也。用人參、附子為末，隨液嚥下。</p>
<p>昏冒瞑目，此血亡而火熾也。但補其血，《全生》活血湯。（補五十一）</p>
<p>產後汗出，多因勞倦驚恐所致也。《內經》云：搖體勞苦，汗出於脾；驚而奪精，汗出於心；恐懼，汗出於肝。產婦有此諸因，故不能鎮守其液而汗出。宜健脾胃，使水穀之精，灌溉四旁，則五臟沖和而汗自止，歸脾湯。（補十九）</p>
<p>產後血虛，自汗氣促，為肺氣上浮也，然血去過多，陽為陰逼而汗出不止。宜滋營益氣湯（補三十八）。則血復，產婦所以喜也。</p>
<p>產後真陽不足，上氣喘急，手足厥冷，或短氣，盜汗自汗。大聖散（補十二）。如心虛盜汗，或睡中汗出，加味歸脾湯（補三）。氣脫自汗，作奪汗論。大汗淋漓，氣促膚冷，急以四君子湯補氣（補四）。若陰血下脫，孤陽上越而大汗出，此危候也，急服四君加黃耆、五味子救之。</p>
<p>若自汗，由血虛而外溢也，宜止汗散。（補五十二）</p>

<h3>中風</h3>
<p>發熱頭痛氣喘，面如朱妝，元陽不能自固也。唇青肉冷，目眩神昏，虛極生風也。口眼喎斜，氣血俱虛，不能榮養筋脈也。汗出不止，血虛腠理不密也。角弓反張，血虛體弱，風入諸陽之經也。牙關緊急，口噤不開，血氣空虛，風入頜頰口之筋也。筋脈拘急而為瘈；弛縱而為瘲。陰血去多，陽火熾盛，肝木枯而筋無所主也。頑痹不仁，羸乏少氣，臟腑虛損，風冷客於經絡皮膚也。或肝經血燥而挾風熱也。總宜大補氣血為主，或加荊、防、薑、附、鉤藤、天麻一二味亦可，切忌薑、蔥並風藥，以致不救。</p>
<p>氣虛，四君子湯加味用之。（補四）</p>
<p>血虛，四物湯加味用之。（補七）</p>
<p>氣血兩虛，十全大補湯。（補三十九）</p>
<p>如血痛未除，生化湯加味用之。（和二十四）</p>
<p>遍身疼痛，手足癱瘓，血虛有風痰，生化湯加薑汁、竹瀝。（和二十四）</p>
<p>陰虛內熱，熱盛生風，四物用生地加丹皮、麥冬。（補七）</p>
<p>搖頭馬鳴，身反折，氣如絕，汗如雨，兩手摸空，不治。</p>

<h3>不語</h3>
<p>心者，君主之官，神明出焉，外應於舌。舌，聲之機。產後虛弱，致敗血停蓄，上干於心，心竅閉塞，故神志不能明。又心氣通於舌，氣閉則舌強不語；有熱痰迷塞心竅，則不能言；腎之別脈，上入於心，系舌本，虛則不能言；脾之脈是動，病舌本強不能言；大腸之脈散舌下，風熱入於大腸則不語。</p>
<p>目閉不語，痰氣鬱滯也。孤風散，生白礬一錢，熱水調下。若瘀血壅滯，琥珀散。</p>
<p>琥珀　花蕊石　鬱金　硃砂　研末，童便好酒下一錢。</p>
<p>血氣痛上衝於心，生化湯。（和二十四）</p>
<p>氣閉不語，七珍散。（散三十）</p>
<p>風火，加味逍遙散。（補二十一）</p>

<h3>舌出不收</h3>
<p>墊壅於心也。丹砂末敷之。暗擲盆盎作墮地聲，驚之即收。</p>

<h3>驚悸</h3>
<p>血虛心氣不足也。心虛而受風邪，遂成驚悸，名曰心風。其狀目睛不轉，其脈動而弱，宜大補氣血。若作風治，速之危矣。</p>
<p>怯然如人將捕之，心血虛也，塊痛未除，且服生化湯（和二十四）。塊消痛止，宜加減養榮湯。（補五十三）</p>

<h3>發狂譫語</h3>
<p>敗血衝心，肝火上炎，痰結於胸，熱入血室，皆致譫語顛狂。</p>
<p>神不守舍，八珍湯加茯神、麥冬、棗仁、薑、棗。（補五）</p>
<p>寒熱如瘧，晝輕夜妄，熱入血室也。琥珀地黃丸加柴胡（攻十四）。一靈三聖散。（攻十五）</p>
<p>脅痛便血，肝血虛火上炎也。加味逍遙散。（補二十一）</p>
<p>因驚悸悶，用辰砂二錢，研細，乳汁調和，另用白頸活地龍一條，入熱酒滾二三沸去之，入辰砂，重湯再煮，分三服。</p>

<h3>發斑</h3>
<p>敗血流入臟腑，充滿於肌膚，旁連於四肢，熱結留注，轉還不得，故發斑。十無一生。</p>

<h3>見鬼</h3>
<p>肝藏魂，心藏神。血虛心失所養，肝火上炎，神魂不能守舍，是以妄言見鬼也。</p>
<p>敗血停心，煩躁錯亂，小、大調經湯加薄荷。（和三十八、和三十九）</p>
<p>心血虛損，生化湯加棗仁、柏子仁、茯神、麥冬。（和二十四）</p>

<h3>煩渴</h3>
<p>去血多則津液少，故煩躁而發渴。宜滋陰降火，可少加童便。</p>
<p>余血奔心，荷葉散。（攻十六）</p>
<p>陰虛火動，人參當歸湯。（補五十四）</p>
<p>氣虛而渴，生脈散（補二十三），加蓮子。</p>
<p>血虛而渴，四物湯加花粉、麥冬。（補七）</p>
<p>頭眩腳弱，飲食無味，氣血俱虛也，參、地、麥冬、甘草、花粉、糯米、薑、棗，煎服。</p>

<h3>咳嗽</h3>
<p>有外邪，有內傷，有瘀血，皆致咳嗽。惟吃鹽太早，咳者難治。</p>
<p>惡血流入肺經，面赤發喘，生化湯合失笑散。（和二十四、攻七）</p>
<p>鼻塞聲重，生化湯加杏仁、荊芥。（和二十四）</p>
<p>陰血虛，四物湯去白芍，加人參、白朮。（補七）頭痛，加蓮鬚。</p>
<p>肺氣不足，四君子湯加當歸、川芎。（補四）</p>
<p>陰水不足，火克肺金，六味丸加麥冬、花粉。（補二）</p>
<p>肺虛外感風寒，補中益氣湯加紫蘇、桔梗。（補六）</p>
<p>胃虛不生肺金，異功散加當歸、白芍。（補四十九）</p>
<p>半月外干嗽，四物湯加訶子皮、茯苓、甘草、阿膠。（補七）</p>
<p>百日內感風，重嗽汗多，宜加參寧肺生化湯。（補五十五）</p>

<h3>口鼻黑衄</h3>
<p>氣血大虛，惡血乘虛流入諸經，不能復出，故為衄。五色最忌黑，口鼻屬肺胃之部，口鼻間氣色現黑，肺胃敗矣。又虛火載血上行，不循經度，溢出孔竅，肺胃為熱逼，熱極反從水化，致口鼻變現黑色，亦危候也。速用童便、淮牛膝、丹皮、澤蘭、二地，倍人參大劑救之。止衄之法，取產婦頂心發一縷，紅線一縷，系中指節奇驗。</p>

<h3>瘧疾</h3>
<p>半月內外，寒熱往來，或晝、或晚、或夜，寒熱交作，應期而發，或一日二三度，其證類瘧。總由氣虛則寒；血虛則熱；胃氣虛則惡寒；胃氣下陷則寒熱往來。惟大補氣血，其病自退。</p>
<p>汙血，生化湯加生蒲黃、乾荷葉、澤蘭、淮牛膝。（和二十四）</p>
<p>飲食停滯，六君子湯加山楂、神麯。（補一）</p>
<p>勞倦傷氣，補中益氣湯加川芎。（補六）</p>
<p>氣血俱虛，十全大補湯加炮姜。（補三十九）</p>
<p>元氣脫陷，重用人參加附子。</p>
<p>鬱怒傷脾，逍遙散。（和五）</p>
<p>外感風寒，生化湯加荊芥、防風、藿香、生薑。（和二十四）</p>

<h3>瀉痢</h3>
<p>惡露不行，滲入大腸，則洞泄不禁，下青、白、黑色，其餘非食積則寒濕，再則脾胃弱，肺氣虛，皆能致瀉。若痢，亦由惡血滲入大腸，積滯而成，謂之產子痢，其病甚危。又久痢身體羸弱，謂之虛羸痢。氣不順而下痢，謂之氣痢。又有外感六淫，內傷飲食所致。總當兼氣血虛處治之，切不可用治痢常法，以致不救。</p>
<p>惡露未盡而泄瀉，生化湯加茯苓。俟惡血盡，然後或消而治之。（和二十四）若虛弱不能支持，加人參。</p>
<p>完穀不化，生化湯加茯苓、訶子皮、蓮子、生薑；不愈，加人參。（和二十四）</p>
<p>乾渴，胃氣虛，不生津液也。生化湯合生脈散。（和二十四、二十三）</p>
<p>食物不化常噫，生化湯加茯苓、神麯、山楂、砂仁。（熱八）</p>
<p>胠肋䐜脹，腹中痛，流注無定處　產未滿月，風邪乘虛襲之。留於肓膜，散於腹肋，故腹中陣陣作痛，水穀不化，脹鳴泄瀉也。宜調中湯。（熱八）</p>
<p>脾胃虛弱，血塊未散，先服生化湯加木香、砂仁、益智仁；血塊已除，六君子湯加肉果、益智仁，再加升麻、柴胡，以提胃中清氣。</p>
<p>余血不盡，滲入大腸，洞泄不禁，服的奇散，荊芥大者四五穗，於盞內燒炭，不可犯油火，入麝香研末，清湯調下。</p>
<p>年久脾泄不止，參苓蓮子飲。（補五十七）</p>
<p>產後七日內外，患赤白痢，後重頻並，最為難治。欲調氣行血，推蕩痢邪，又慮產後元虛；欲滋榮益氣而大補產弱，又慮轉助痢邪。若行不損元、補不助邪，惟生化湯減黑姜，加茯苓、木香，為善消惡露，兼行痢積，並治而不悖也。</p>
<p>厥逆躁不得臥，殊難救治，人參、當歸、荊芥。</p>
<p>積滯腹痛，人參、當歸、白芍、紅曲、醋炒升麻、甘草、益母草。如惡露未盡，加乳香、沒藥、砂仁、阿膠。</p>
<p>渴而不喜冷飲，胃氣虛，不生津液也。七味白朮散（補五十六）。如夜間發熱，腎水虛，不能潤也。六味丸（補二）。</p>
<p>痢而嘔吐，六君子湯加藿香。（補一）如胃火盛，用活田蠃、麝香，搗和掩臍。後用滋陰清胃之劑。</p>
<p>血崩痢不止，加參四物湯。（補七）</p>
<p>脫肛，氣血兩虛也。加參生化湯。（補五十八）</p>

<h3>褥勞</h3>
<p>產後虛羸喘乏，乍寒乍熱，病如瘧狀，此氣血不充周也。宜大補氣血。</p>
<p>肝腎虛弱，口乾咳嗽，陰虛火動也。宜六味丸加北五味、麥冬。（補二）</p>
<p>脾弱血虛，月水不調，八珍湯。（補五）</p>
<p>脾虛血燥，皮膚瘙癢，加味逍遙散。（補二十一）</p>
<p>虛汗不止，母雞湯。（補五十九）</p>
<p>四肢疼痛，外邪感也。石子湯。（和四十二）</p>
<p>虛寒腹痛，黃雌雞湯。（補四十一）</p>
<p>外熱內寒，外邪感也。理陰煎加減治之。（熱四）</p>
<p>陽虛內寒，理陰煎、羊肉湯。（熱四、補六十）</p>

<h3>大便不通</h3>
<p>去血過多，大腸乾涸，或兼火燥，總勿用峻利之劑以亡陰，而致便秘愈甚。</p>
<p>血虛生火，四物湯加麻仁（補七）。加味六味丸（補五十）。</p>
<p>氣血俱虛，十全大補湯加肉蓯蓉。（補三十九）</p>
<p>飲食如常，腹中如鼓，八珍湯加桃仁。（補五）</p>
<p>脹滿欲去不能，結在直腸。宜豬膽汁導之。</p>

<h3>小便不通</h3>
<p>產後亡血，或又多汗，且勞倦脾傷，不能為胃行其津液，則其生化之氣不運，滲泄之令不行，是以上氣不行而有咽乾燥渴之症，下氣不行而有胃腎關閉之候，治當助脾益肺，升降氣血，則氣血妄行，陰降陽升，自然津液充而小便利。</p>
<p>汙血阻滯，瞿麥、蒲黃。</p>
<p>血虛熱鬱，六味丸、逍遙散。（補二、和五）</p>
<p>熱氣客於脬中，茅根湯。（寒三十二）</p>
<p>腹脹如鼓，悶亂不醒，冷氣積於胎前也。用食鹽填入臍中，搗蔥白為餅，約一指厚，置鹽上，用艾火隔蔥餅灸之。覺熱氣入腹內，即時便通。</p>
<p>濕氣感於胞絡，下陰腫脹，小水點滴不出。此腎虛，膀胱之氣亦虛而不能化也。人參、白朮、茯苓、肉桂、米仁、熟地、車前子。</p>
<p>血從小便出，熱邪搏血，滲入胞中，而成血淋也。白茅根、瞿麥、車前子、通草、鯉魚，水煎，入石首魚石，末服。</p>
<p>大小便不通，陰血不足，津液枯燥。宜服牛乳、人乳；或惡血流入小腸，閉塞水道，小便不通；流入大腸，瘀積成塊，形如雞肝，肛門燥結，大便不通，宜服生化湯加桃仁、麻仁、郁李仁、瞿麥等味。（和二十四）</p>

<h3>便血</h3>
<p>心氣虛，則小腸不能制而血流；脾氣弱，則大腸無移蔭而血下。故二便出血，當實之心脾二經。</p>
<p>血氣虛而熱乘之，故血隨小便而出，血熱則流，故滲入胞內，用髮炭、滑石末、地黃汁調下。</p>
<p>面黃脅脹少食，此肝木乘脾土也。加味逍遙散。（補二十一）</p>
<p>驚悸不寐，加味歸脾湯。（補三）</p>
<p>大便下血，緣六淫七情，致傷元氣。陽絡外傷而然也。</p>
<p>腸胃虛弱，六君子湯加升麻、柴胡，若虛寒，去升柴加肉果；如怒動肝火，加當歸、白芍，去升麻。</p>
<p>膏粱積熱，四物湯加丹皮、山楂。（補七）</p>
<p>大腸風熱，四物湯加荊芥、防風。（同上）</p>
<p>大腸血熱，四物湯加丹皮、槐米。（同上）</p>

<h3>遺糞</h3>
<p>腎虛無約束也，都氣飲。（補二十四）</p>
<p>脾腎不足，補中益氣湯。（補六）</p>
<p>脾腎虛寒，八味丸。（補四十六）</p>

<h3>小便不禁</h3>
<p>非肺氣虛而不能約制，即腎氣竭而虛熱移於膀胱也。</p>
<p>氣虛不能制，人參、黃耆、桑螵蛸、鹿茸、牡蠣、赤石脂。</p>
<p>脾腎虛寒，七味丸。（補三十一）</p>
<p>尿脬破損，豬、羊胞煎湯，入人參、黃耆、當歸、熟地、陳皮、茯苓、桃仁，於極飢時飲之，然須急治，緩則不能成功也。又補脬飲，用生黃絲絹一尺，煎碎，白牡丹根皮、白及各一錢，俱為末，水一碗，同煮至絹爛如餳，空心頓服。服時不得作聲，作聲則不效。</p>
<p>膀胱陰虛，補中益氣湯加山茱萸、山藥、桑螵蛸，以補肺腎，則小便自不淋瀝。（補六）</p>

<h3>乳汁不行</h3>
<p>乳汁乃氣血所化，故人衝任之脈盛，脾胃之氣強，則乳汁多而濃，衰弱則淡而少，治宜壯脾胃，滋化源。</p>
<p>氣血壅閉不行，宜通草、土瓜根、漏蘆以疏之。</p>
<p>血氣衰弱不行，宜豬蹄、鯽魚、生地、當歸之類以潤之，玉露散（補六十二）。加味四物湯（補六十一）。通乳湯（和四十三。）俱可補血以通乳汁。</p>

<h3>乳汁湧出</h3>
<p>非氣血虛而不攝，則滿而流溢。當以人之強弱，乳汁之濃淡，驗其虛實也。</p>
<p>肝經血熱，加味逍遙散。（補二十一）</p>
<p>肝經鬱怒，加味歸脾湯。（補三）</p>
<p>脹急而痛，漏蘆散。（散三十）</p>
<p>氣血虛弱，十全大補湯。（補三十九）</p>

<h3>乳癰</h3>
<p>足陽明之脈，從缺盆下乳內廉。足陽明之經，夾臍上行，至胸中而散。其經為邪熱攻衝，則血為之擊搏，氣為之留滯。擊搏則痛作，留滯則腫生。此由乳汁壅積，與氣相擊搏故也。或忿怒所逆，鬱悶所遏，厚味所釀，以致厥陰之氣不行，故竅不通而汁不得出。治法宜疏厥陰之滯，清陽明之熱，青皮、生甘草節、栝蔞、銀花、當歸、沒藥、皂角、橘葉、橘核，少佐以酒，隨意消息可也。</p>

<h3>乳懸</h3>
<p>瘀血上攻，忽然兩乳伸長，細小如腸，直過小腹，痛不可忍。用川芎、當歸，煎濃汁，不服時，又用此二味燒煙，令病人吸之。使瘀血消而乳自愈。</p>

<h3>玉門不閉</h3>
<p>元氣素弱，失於調養，以致血氣不能收攝故也。</p>
<p>氣血虛弱，十全大補湯。（補三十九）</p>
<p>腫脹焮痛，肝經虛熱也。加味逍遙散。（補二十一）</p>

<h3>產戶痛</h3>
<p>起居早，感風邪也，用祛風定痛湯。（散四）生地、當歸、茯苓、川芎、荊芥、防風、肉桂、大棗。</p>

<h3>陰蝕</h3>
<p>此因心神煩郁，胃氣虛弱，致氣血留滯也。當補心養胃，川芎、當歸、白芍、地榆，米泔水五升，煎二升，熏洗三夜，又荊芥、薄荷、柏葉，煎湯洗淨，後用倍子、青黛、黃丹、水粉，為末摻之，如瘡水乾燥，用香油調末塗之。</p>

<h3>陰中濕爛</h3>
<p>多由七情鬱火，濕熱下注，或腫、或痛、或癢，先以甘草煎濃湯，乘熱熏洗；或五倍子、白礬、蔥白，煎湯熏洗；或甘菊花葉，不拘多少，搗爛，以百沸湯淋汁熏洗，挹干，用烏賊骨末炒黃，水粉煅過，爐甘石煅，淬童便，加冰片少許，研細末摻之。</p>
<p>腫痛潰爛，四物湯（補七）。加梔子、丹皮、膽草、荊芥。或加味逍遙用。（補二十一）</p>

<h3>陰脫</h3>
<p>此因分娩損傷胞絡也，治宜升補元氣，固真陰。</p>
<p>分娩過勞，氣陷而脫　加參生化湯（散五十八）。或歸脾湯（補三）。外用硫黃、海螵蛸、北五味為末敷之。</p>
<p>陰虛滑脫，加味固陰煎。（澀二）</p>
<p>氣虛下陷，補中益氣湯（補六）。或十全大補湯（補三十九）。</p>

<h3>陰突</h3>
<p>血虛氣陷，不能固攝，陰中突出，如芝如菌，或挺出數寸，謂之陰挺。</p>
<p>血虛陰挺，四物湯（補七）。衝入煅龍骨末少許，空心連進二服，外用蛇床子五兩。</p>
<p>烏梅十四枚。煎湯熏洗。</p>
<p>鬱熱下墜，加味逍遙散（補二十一）。或龍膽瀉肝湯（寒十一）。</p>

<h1>卷下</h1>

<h2>列方</h2>

<h3>補方六十三</h3>
<p><u>六君子湯</u>（一）</p>
<p>人參　白朮（炒）　茯苓（去皮）　炙甘草　廣皮　半夏（制）</p>
<p>半夏辛燥，胎孕三月前，須斟酌用之，不可輕投。茯苓降下，初孕亦當慎用。</p>
<p><u>六味丸</u>（二）</p>
<p>熟地　山藥　茯苓　山萸肉（去核）　丹皮　澤瀉</p>
<p><u>加味歸脾湯</u>（三）</p>
<p>人參　白朮（炒）　茯神（去皮、木）　當歸（去尾）　棗仁（去殼、炒）　蓮肉（去心）　黃耆（蜜炙）　遠志　木香</p>
<p>遠志辛散而上升，不宜多用，四五分足矣。</p>
<p><u>四君子湯</u>（四）</p>
<p>人參　白朮（炒）　茯苓　炙甘草</p>
<p><u>八珍湯</u>（五）</p>
<p>人參　白朮（炒）　茯苓　炙甘草　熟地　當歸　白芍（酒炒）　川芎</p>
<p>川芎理血中之氣，胎前宜酌用。</p>
<p><u>補中益氣湯</u>（六）</p>
<p>人參　白朮（炒）　炙甘草　當歸　廣皮　升麻　柴胡</p>
<p>升、柴發散，可用錢許，升提用二三分足矣。</p>
<p><u>四物湯</u>（七）</p>
<p>熟地　當歸　白芍（酒炒）　川芎</p>
<p><u>安榮散</u>（八）</p>
<p>人參　當歸　白芍（酒炒）　麥冬　釵斛　山梔　通草</p>
<p><u>安胎飲</u>（九）</p>
<p>人參　白朮（炒）　炙甘草　生地　當歸　廣皮　升麻　柴胡　生薑　大棗</p>
<p>氣不下陷，勿用升、柴。</p>
<p><u>杜仲丸</u>（十）</p>
<p>杜仲（薑汁炒）　川斷（酒炒）　棗肉（蒸）</p>
<p>為丸，米飲下。</p>
<p><u>當歸芍藥湯</u>（十一）</p>
<p>當歸　白芍（酒炒）　白朮（炒）　茯苓　澤瀉　川芎（少許）</p>
<p><u>大聖散</u>（十二）</p>
<p>人參　黃耆（炙）　炙甘草　茯苓　當歸　川芎　麥冬（去心）　木香　薑棗</p>
<p>川芎宜酌用。</p>
<p><u>加味安胎飲</u>（十三）</p>
<p>人參　白朮（炒）　炙甘草　熟地　當歸　川芎（不宜多用）　紫蘇（四五分）　陳皮</p>
<p>如寒，加乾薑。</p>
<p><u>五君子湯</u>（十四）</p>
<p>人參　白朮　炙甘草　廣皮　乾薑</p>
<p><u>內補丸</u>（十五）</p>
<p>熟地　當歸</p>
<p><u>青娥丸</u>（十六）</p>
<p>杜仲（薑汁炒）　破故紙（鹽水炒）　核桃（去殼）</p>
<p>蜜丸。</p>
<p><u>紫酒</u>（十七）</p>
<p>大黑豆二合（炒）　好酒一盞煎服。</p>
<p><u>通氣散</u>（十八）</p>
<p>破故紙（炒）　先嚼胡桃。</p>
<p><u>加味歸脾飲</u>（十九）</p>
<p>人參　白朮（炒）　茯神（去皮、木）　遠志（不可多）　黃芩　山梔　丹皮　香附　木香</p>
<p>去黃芩、山梔、丹皮、香附，加棗仁、圓眼肉名歸脾飲。</p>
<p><u>補中安胎飲</u>（二十）</p>
<p>人參　白朮　茯苓　炙甘草　熟地　當歸　黃芩　紫蘇　白芷（炒）　薑棗</p>
<p><u>加味逍遙散</u>（二十一）</p>
<p>白朮　茯苓　當歸　白芍（炒）　柴胡　丹皮　黑山梔　熟地</p>
<p><u>異功散</u>（二十二）</p>
<p>人參　白朮（炒）　茯苓　炙甘草　廣皮</p>
<p><u>生脈散</u>（二十三）</p>
<p>人參　麥冬（去心）　北五味</p>
<p><u>都氣飲</u>（二十四）</p>
<p>熟地　山藥　茯苓　山萸肉　澤瀉　丹皮　北五味</p>
<p><u>甘草大棗湯</u>（二十五）</p>
<p>小麥　炙甘草　大棗</p>
<p><u>安胎調氣飲</u>（二十六）</p>
<p>人參　白朮（炒）　炙甘草　熟地　當歸　白芍（酒炒）　川斷　杜仲　陳皮　砂仁</p>
<p><u>補血湯</u>（二十七）</p>
<p>黃耆（炙）　當歸　川芎</p>
<p><u>黃耆糯米湯</u>（二十八）</p>
<p>黃耆六兩（炙）　糯米（五合）</p>
<p>水六升，煎半，分四服，日三夜一。</p>
<p><u>辰砂安神丸</u>（二十九）</p>
<p>生地　當歸　柏子仁（炒去油）　棗仁（去殼、炒）　茯神（去皮、木）　竹茹　砂仁</p>
<p><u>補心湯</u>（三十）</p>
<p>人參　茯苓　炙甘草　熟地　當歸　白芍（酒炒）　棗仁　麥冬　小麥</p>
<p><u>七味丸</u>（三十一）</p>
<p>熟地　山藥　茯苓　丹皮　澤瀉　山萸肉　肉桂</p>
<p><u>加味八珍湯</u>（三十二）</p>
<p>人參　白朮　茯苓　炙甘草　熟地　當歸　白芍（酒炒）　肉果（麵粉裹煨）　罌粟殼（醋炒）</p>
<p><u>左歸飲</u>（三十三）</p>
<p>熟地　山藥　茯苓　山萸肉　杞子　炙甘草</p>
<p><u>十聖散</u>（三十四）</p>
<p>人參　黃耆（炙）　白朮（炙）　砂仁　炙甘草　熟地　白芍（炒）　當歸　川芎　川斷　姜　棗</p>
<p><u>千金保胎丸</u>（三十五）</p>
<p>熟地　當歸　阿膠　川斷　杜仲　黃芩（炒）　香附（制）　砂仁　艾葉（炒炭）　棗肉</p>
<p><u>加味芎歸湯</u>（三十六）</p>
<p>當歸　川芎　發余炭　鱉甲（炙）</p>
<p><u>人參生化湯</u>（三十七）</p>
<p>人參　當歸　川芎　炙甘草　薑炭（多則四分）　桃仁（去皮）　棗肉</p>
<p>加附子一片，以回陽止逆，亦可助參、耆之功。若渴，用人參、麥冬、北五味。</p>
<p><u>滋榮益氣湯</u>（三十八）</p>
<p>人參　白朮（炒）　熟地　當歸　川芎　北五味　黃耆（炙）　陳皮　麥冬（去心）</p>
<p>有汗，加薑、棗；大便不通，加蓯蓉；塊痛，加肉桂、益母草；痰，加薑汁、竹瀝；瀉，加茯苓。</p>
<p><u>十全大補湯</u>（三十九）</p>
<p>人參　白朮（炒）　茯苓　炙甘草　熟地　當歸　白芍（炒）　川芎　肉桂　黃耆</p>
<p><u>升舉大補方</u>（四十）</p>
<p>人參　白朮（炒）　熟地　當歸　川芎　黃耆（炙）　麥冬（去心）　陳皮　炙甘草　升麻　白芷（炒）　荊芥</p>
<p><u>黃雌雞湯</u>（四十一）</p>
<p>熟地　當歸　白朮（炒）　黃耆（炙）　肉桂</p>
<p>雞汁煎服。</p>
<p><u>殿胞煎</u>（四十二）</p>
<p>當歸　川芎　炙甘草　茯苓　肉桂</p>
<p><u>五物煎</u>（四十三）</p>
<p>熟地　當歸　白芍（炒）　川芎　肉桂</p>
<p><u>當歸黃耆湯</u>（四十四）</p>
<p>當歸　黃耆（炙）　白芍（炒）</p>
<p><u>長生活命丹</u>（四十五）</p>
<p>人參　生薑　蓮子（去心）　麥芽（炒）</p>
<p>煎湯送飯鍋焦粉二匙，漸加至四五匙。</p>
<p><u>八味丸</u>（四十六）</p>
<p>熟地　山藥　山萸肉　茯苓　丹皮　澤瀉　附子　肉桂</p>
<p><u>金匱腎氣湯</u>（四十七）</p>
<p>熟地　山藥　山萸肉　茯苓　丹皮　澤瀉　附子　肉桂　懷牛膝　車前子</p>
<p><u>當歸補血湯</u>（四十八）</p>
<p>當歸　黃耆（炙）　茯苓</p>
<p><u>調衛止汗湯</u>（四十九）</p>
<p>人參　黃耆（炙）　麻黃根　炙甘草　陳皮　當歸　桂枝　大棗</p>
<p>桂枝發表，用於止汗之中，不過引參耆以固衛耳，一二分足矣。</p>
<p><u>加味六味丸</u>（五十）</p>
<p>熟地　山藥　山萸肉（去核）　茯苓　丹皮　澤瀉　麥冬（去心）　北五味</p>
<p><u>全生活血湯</u>（五十一）</p>
<p>黃耆（炙）　熟地　生地　川柏（炒炭）　升麻</p>
<p>不應加人參。</p>
<p><u>止汗散</u>（五十二）</p>
<p>人參　當歸　麻黃根　熟地　牡蠣　小麥（麩炒）　川連炭少許</p>
<p><u>加減養榮湯</u>（五十三）</p>
<p>當歸　川芎　茯神　棗仁（去殼，炒）　麥冬（去心）　人參　圓眼肉　陳皮　炙甘草　生薑　竹茹</p>
<p><u>人參當歸湯</u>（五十四）</p>
<p>生地　當歸　白芍（炒）　人參　麥冬（去心）　竹茹　粳米　大棗</p>
<p><u>加參寧肺生化湯</u>（五十五）</p>
<p>當歸　川芎　人參　炙甘草　橘紅　桑皮（炒）　杏仁　半夏（制）</p>
<p>虛而多痰，加薑汁、竹瀝。</p>
<p><u>七味白朮散</u>（五十六）</p>
<p>人參　白朮（炒）　茯苓　炙甘草　藿香　木香　乾葛</p>
<p><u>參苓蓮子飲</u>（五十七）</p>
<p>人參　白朮（炒）　茯苓　炙甘草　當歸　白芍　山藥　陳皮　升麻　蓮子　生薑</p>
<p><u>加參生化湯</u>（五十八）</p>
<p>當歸　川芎　人參　黃耆（炙）　甘草（炙）　升麻　白朮（炒）　北五味</p>
<p><u>母雞湯</u>（五十九）</p>
<p>人參　黃耆（炙）　白朮（炒）　茯苓　牡蠣　麻黃根</p>
<p>黃母雞汁煎。</p>
<p><u>羊肉湯</u>（六十）</p>
<p>當歸　川芎　生薑　精羊肉</p>
<p><u>加味四物湯</u>（六十一）</p>
<p>熟地　當歸　白芍（炒）　川芎　花粉　木通　豬蹄</p>
<p>以蔥洗乳房。</p>
<p><u>玉露散</u>（六十二）</p>
<p>人參　茯苓　炙甘草　當歸　白芍（炒）　川芎　桔梗</p>
<p><u>阿膠散</u>（六十三）</p>
<p>當歸　白朮（炒）　茯苓　阿膠　甘草（炙）　川芎（少許）　陳皮　姜　棗</p>

<h3>散方三十一</h3>
<p><u>抑青丸</u>（一）</p>
<p>柴胡　當歸　炙甘草　鉤藤　白朮（炒）</p>
<p><u>清肝飲</u>（二）</p>
<p>生地　當歸　生白芍　柴胡　麥冬（去心）　蘇梗　香附（制）　青皮（炒炭）</p>
<p><u>紫蘇飲</u>（三）</p>
<p>當歸　白芍（炒）　人參　炙甘草　陳皮　砂仁　蘇葉　蔥白　生薑</p>
<p><u>祛風定痛湯</u>（四）</p>
<p>生地　川芎　茯苓　肉桂　荊芥　防風　獨活　大棗</p>
<p><u>天仙藤散</u>（五）</p>
<p>天仙藤　香附（制）　陳皮　炙甘草　木瓜　姜皮</p>
<p><u>烏藥順氣湯</u>（六）</p>
<p>烏藥　殭蠶（炒）　乾薑　炙甘草　陳皮　木賊　制香附　白芷　蔥</p>
<p>宜加生血活血之品。</p>
<p><u>芎蘇散</u>（七）</p>
<p>紫蘇　川芎（不宜多）　白芍（炒）　陳皮　白朮（炒）　炙甘草　麥冬（去心）</p>
<p><u>鉤藤湯</u>（八）</p>
<p>鉤藤鉤　當歸　人參　茯神　桑寄生　桔梗</p>
<p>如煩熱，加石膏一錢。</p>
<p><u>木香散</u>（九）</p>
<p>木香　炙甘草　丁香</p>
<p>淡鹽湯下。</p>
<p><u>五加皮散</u>（十）</p>
<p>五加皮　阿膠（蒲黃炒）　杜仲（鹽水炒）　狗脊　白芍（炒）　防風　萆薢　杏仁（去皮）　薄荷</p>
<p><u>五加皮丸</u>（十一）</p>
<p>五加皮　杜仲（炒）　狗脊　白芍（炒）　萆薢　川斷　訶子　薄荷</p>
<p><u>縮砂散</u>（十二）</p>
<p>砂仁（末），米飲下。</p>
<p><u>防風丸</u>（十三）</p>
<p>防風　黃芩（炒）</p>
<p>米飲調下。</p>
<p><u>升陽除濕湯</u>（十四）</p>
<p>柴胡　升麻　豬苓　澤瀉（炒）　陳皮　炙甘草　炒蒼朮　炒白朮　防風　姜　棗</p>
<p><u>胃風湯</u>（十五）</p>
<p>當歸　柴胡　升麻　葛根　炙甘草　蔓荊子　藁本　木賊　川柏（炒）　蒼朮（制）　姜　棗</p>
<p><u>桂枝茯苓湯</u>（十六）</p>
<p>桂枝　茯苓　丹皮　炒白芍　桃仁（炒焦）</p>
<p><u>蘇香丸</u>（十七）</p>
<p>當歸　炒白芍　砂仁　炙甘草　黃芩（炒）　蘇梗　木香</p>
<p><u>香蘇散</u>（十八）</p>
<p>香附（制）　紫蘇　陳皮　炙甘草　砂仁　生薑</p>
<p>陽明加葛根、知母；少陽加柴胡；太陽加防風。</p>
<p><u>回生散</u>（十九）</p>
<p>橘紅　藿香</p>
<p>淡薑湯下。</p>
<p><u>藿香正氣散</u>（二十）</p>
<p>藿香　白朮（炒）　茯苓　炙甘草　陳皮　砂仁　桔梗　紫蘇　蒼朮（炒）　姜　棗</p>
<p>可加木香。</p>
<p><u>木香通氣散</u>（二十一）</p>
<p>木香　枳殼（炒）　製厚朴　草果（煨）　檳榔　陳皮　製附子　穿山甲（炙）　蔥白</p>
<p><u>七寶丹</u>（二十二）</p>
<p>人參　炙甘草　當歸　白芍（炒）　川芎　紫蘇　生薑　大腹皮（醋炒，多則二三分）　蔥白</p>
<p><u>消風散</u>（二十三）</p>
<p>甘菊　荊芥　當歸　大豆葉（炒）　防風　茶葉　羚羊角（鎊）　生石膏（三、四分）</p>
<p><u>芎烏散</u>（二十四）</p>
<p>川芎　烏藥</p>
<p>加當歸更穩。</p>
<p><u>三聖散</u>（二十五）</p>
<p>肉桂　當歸　延胡索（醋炒）</p>
<p><u>瀉白散</u>（二十六）</p>
<p>地骨皮　杏仁（去皮）　桑白皮（炙）</p>
<p><u>益黃散</u>（二十七）</p>
<p>陳皮　青皮（炒焦）　訶子（煨）　丁香　炙甘草</p>
<p><u>藿香溫胃飲</u>（二十八）</p>
<p>人參　白朮（炒）　炙甘草　陳皮　藿香　丁香　當歸　薑炭　厚朴（制）　生薑</p>
<p>手足冷加附子。</p>
<p><u>加味吳茱萸湯</u>（二十九）</p>
<p>肉桂　當歸　吳茱萸（泡）　乾薑　防風　丹皮　赤茯苓　麥冬（去心）　炙甘草　桔梗　細辛（少許）　半夏（制）</p>
<p><u>七珍散</u>（三十）</p>
<p>人參　生地　川芎　石菖蒲（鮮者佳）　防風　細辛　硃砂</p>
<p>薄荷湯下。</p>
<p><u>漏蘆散</u>（三十一）</p>
<p>漏蘆　蛇蛻（炙）　蔞仁</p>
<p>好酒調下。</p>

<h3>攻方十六</h3>
<p><u>斬鬼丹</u>（一）</p>
<p>川芎　秦艽　柴胡　吳茱萸（泡）　芫花（醋炙）　巴戟　巴霜　殭蠶（炒）</p>
<p>蜜丸酒下，出惡物即愈。</p>
<p><u>雄黃丸</u>（二）</p>
<p>雄黃　鬼臼　硃砂　巴霜　獺肝　蜥蜴（炙）　蜈蚣（炙）</p>
<p>清湯下，服過前方，既下惡物，即以補元為要。</p>
<p><u>七寶丹</u>（三）</p>
<p>紫蘇　大腹皮　炙甘草　人參　當歸　白芍　川芎　生薑　蔥白</p>
<p><u>見睍丸</u>（四）</p>
<p>附子（制）　乾薑　茴香（炒）　吳茱萸（鹽水炒）　巴戟　肉桂　莪朮（醋炒）　桃仁（炒）　延胡索（醋炒）</p>
<p><u>勝金散</u>（五）</p>
<p>鹽豉（一兩）　麝香（一錢）</p>
<p>青布包，燒炭研末，秤錘燒赤，淬酒下。</p>
<p><u>三蛻散</u>（六）</p>
<p>蛇蛻（炒焦）　蟬蛻（焙燥）　發灰</p>
<p>益母草湯調下。</p>
<p><u>失笑散</u>（七）</p>
<p>生蒲黃　五靈脂</p>
<p><u>牛膝散</u>（八）</p>
<p>懷牛膝　川芎　生蒲黃　肉桂　朴硝（少許）</p>
<p><u>起憂散</u>（九）</p>
<p>當歸　川芎　赤芍　肉桂　丹皮　生蒲黃　五靈脂　沒藥　延胡索　白芷</p>
<p><u>黑神散</u>（十）</p>
<p>黑豆　地黃　當歸　赤芍　生蒲黃　炮姜　炙甘草　肉桂（研）</p>
<p>童便下。</p>
<p><u>神仙回膿散</u>（十一）</p>
<p>大黃（炒）　白芷　木香　沉香　沒藥　蛤粉　穿山甲（炙）</p>
<p>每服一丸，重一錢五分，參湯下。</p>
<p><u>抵聖湯</u>（十二）</p>
<p>茯苓　炙甘草　陳皮　半夏　人參　赤芍　澤蘭　生薑</p>
<p><u>《千金》神造湯</u>（十三）</p>
<p>蟹爪（一升）　阿膠（二兩）　炙甘草（一兩）</p>
<p><u>琥珀地黃丸</u>（十四）</p>
<p>琥珀　蒲黃（炒）　延胡索（黏米炒）　生地　生薑</p>
<p>生地汁浸生薑渣，生薑汁浸生地渣，蜜丸。</p>
<p><u>一靈三聖散</u>（十五）</p>
<p>乾荷葉　乾地黃　粉丹皮　生蒲黃（另研末，以前三味煎湯，送下）</p>
<p><u>荷葉散</u>（十六）</p>
<p>荷葉　地黃汁　延胡索（醋炒）</p>

<h3>澀方三十三</h3>
<p><u>大寧散</u>（一）</p>
<p>黑豆（三十五粒）　罌粟殼（半生半熟，二兩）　甘草（半生半炙，二兩）　生薑</p>
<p><u>加味固陰煎</u>（二）</p>
<p>人參　熟地　山藥　山萸肉　川斷　北五味　當歸　菟絲子（炒）　炙甘草</p>

<h3>寒</h3>
<p><u>竹茹麥冬湯</u>（一）</p>
<p>竹茹（三兩）　麥冬（去心，一兩）　前胡（一錢五分）　橘皮（一錢）　蘆根（三兩）</p>
<p>煎服，如身熱，加地骨皮一兩</p>
<p><u>滋陰清燥湯</u>（二）</p>
<p>生地　生白芍　麥冬（去心）　知母（炒）　茯苓　條芩　葛根　橘紅（鹽湯泡）　炙甘草　竹茹　燈草</p>
<p><u>犀角散</u>（三）</p>
<p>犀角　條芩　麥冬（去心）　地骨皮　茯苓　竹瀝（沖）　甘草</p>
<p><u>竹葉湯</u>（四）</p>
<p>茯苓　麥冬（去心）　黃芩　竹葉　防風　</p>
<p><u>麥冬湯</u>（五）</p>
<p>麥冬（去心）　人參　茯神　生地　黃芩　犀角　炙甘草　蓮子</p>
<p><u>知母丸</u>（六）</p>
<p>知母（炒）</p>
<p>為末，棗肉丸。虛者，人參湯送下。</p>
<p><u>知母飲</u>（七）</p>
<p>知母　麥冬（去心）　赤茯苓　黃芩　黃耆（炙）　甘草（炙）　桑皮　竹瀝</p>
<p><u>調中和氣散</u>（八）</p>
<p>蘇梗　砂仁殼　石膏（不可多）　知母（炒）　川柏（炒）　前胡　百草霜</p>
<p><u>加味羚羊角散</u>（九）</p>
<p>羚羊　茯神　當歸　杏仁　甘草　麥冬（去心）　五加皮　米仁　棗仁　防風　川芎（少許）</p>
<p>有痰，加竹瀝、薑汁。</p>
<p><u>天冬飲子</u>（十）</p>
<p>天門冬　知母（炒）　茯苓　白芍　熟地　荊芥　人參　當歸　防風　北五味　川芎（不宜多）　羌活　生薑　茺蔚子（不宜多）</p>
<p><u>龍膽瀉肝湯</u>（十一）</p>
<p>人參　天冬　龍膽草（酒炒）　麥冬（去心）　川連（炒）　生甘草　山梔　知母（炒）　黃芩　柴胡　北五味</p>
<p><u>天冬湯</u>（十二）</p>
<p>天冬　紫菀　知母（炒）　桑皮（蜜炙）　桔梗　北五味</p>
<p>如嗽血加黃芩、阿膠。</p>
<p><u>寧肺飲</u>（十三）</p>
<p>天冬　知母（炒）　紫蘇　桔梗　炙甘草</p>
<p>寒加杏仁、桑皮；多痰加薑汁、竹瀝、陳皮；熱加黃芩；心不舒暢加百合、川貝；虛加人參、紫菀。</p>
<p><u>左金丸</u>（十四）</p>
<p>川連　吳茱萸（泡）</p>
<p><u>涼胎飲</u>（十五）</p>
<p>生地　當歸　白芍　甘草　茯苓　釵斛　香附（制）</p>
<p><u>側柏丸</u>（十六）</p>
<p>側柏葉　黃芩</p>
<p>蜜丸，清湯下。赤帶漏下如豬肝汁，此方可治。</p>
<p><u>滋腎丸</u>（十七）</p>
<p>知母　川柏　肉桂（少許）</p>
<p><u>清金利水湯</u>（十八）</p>
<p>生地　當歸　麥冬（去心）　花粉　扁豆　知母　澤瀉　廣皮</p>
<p><u>淡竹茹湯</u>（十九）</p>
<p>淡竹茹（三四兩）</p>
<p>煎汁，服一二碗。</p>
<p><u>三黃解毒湯</u>（二十）</p>
<p>黃芩（炒）　黃連（炒）　黃柏（炒）　梔子</p>
<p><u>涼膈滋陰丸</u>（二十一）</p>
<p>生地　蔞仁　枳實（炒）　大力子</p>
<p><u>加味竹葉湯</u>（二十二）</p>
<p>生地　白芍　地骨皮　竹葉　茯苓　人參　浮小麥</p>
<p><u>蘆根清胃飲</u>（二十三）</p>
<p>葛根　蘆根　人參　麥冬（去心）　知母　竹茹　梔子　蔥白</p>
<p><u>黃芩湯</u>（二十四）</p>
<p>黃芩　白芍　甘草（炙）　大棗</p>
<p><u>犀角地黃湯</u>（二十五）</p>
<p>犀角　生地　白芍　丹皮</p>
<p><u>加味清胃散</u>（二十六）</p>
<p>生地　當歸　川連　連翹　青皮（炒炭）　甘草　炒術</p>
<p><u>清肺飲</u>（二十七）</p>
<p>梔子　黃芩　知母　麥冬（去心）　桑皮　烏梅</p>
<p><u>黃連湯</u>（二十八）</p>
<p>川連　側柏　當歸　香附（炒）　阿膠（為末）</p>
<p>米飲下。</p>
<p><u>衄血湯</u>（二十九）</p>
<p>側柏葉　蒲黃（炒）　白芍　黃耆（炙）</p>
<p>為末，米糊丸，清湯下。</p>
<p><u>益元散</u>（三十）</p>
<p>滑石（煅）　生甘草　辰砂</p>
<p><u>清魂膏</u>（三十一）</p>
<p>藕汁　生地汁　童便</p>
<p>酒沖服。</p>
<p><u>茅根湯</u>（三十二）</p>
<p>白茅根　瞿麥　車前子　通草　滑石（煅）　甘草　鯉魚　石首魚石（研末）</p>
<p><u>三黃熟艾湯</u>（三十三）</p>
<p>黃芩　黃連　黃柏　艾（醋炒）</p>

<h3>熱方八</h3>
<p><u>附子湯</u>（一）</p>
<p>人參　白朮（炒）　茯苓　白芍　附子（制）</p>
<p><u>理中湯</u>（二）</p>
<p>白朮（炒）　炙甘草　乾薑</p>
<p><u>四順湯</u>（三）</p>
<p>當歸　川芎　白芍（炒）　炮姜</p>
<p><u>理陰煎</u>（四）</p>
<p>熟地　當歸　肉桂　炙甘草　乾薑</p>
<p><u>胃關煎</u>（五）</p>
<p>熟地　山藥　白扁豆　白朮（炒）　炙甘草　焦姜</p>
<p><u>附子散</u>（六）</p>
<p>人參　白朮（炒）　炙甘草　陳皮　當歸　丁香　附子</p>
<p>為末，米飲調下。</p>
<p><u>附子理中湯</u>（七）</p>
<p>附子　白朮　甘草（炙）　乾薑</p>
<p><u>調中湯</u>（八）</p>
<p>甘草（炙）　附子（制）　肉桂</p>

<h3>和方四十四</h3>
<p><u>參橘飲</u>（一）</p>
<p>人參　白朮（炒）　甘草（炙）　橘皮　當歸　白芍　藿香　香附（制）　茯苓</p>
<p><u>半夏茯苓湯</u>（二）</p>
<p>人參　白朮（炒）　茯苓　炙甘草　廣皮　半夏　白芍（炒）　旋覆花　桔梗</p>
<p>半夏滾湯洗七次，薑汁炒黃。</p>
<p>半夏動胎，胎初結，慮其辛燥易散也，勿用為穩。然惡阻非半夏不能止，經云：有故無殞。不妨權用一二劑，但不宜多用，五六分至一錢而止。</p>
<p><u>香砂六君子湯</u>（三）</p>
<p>人參　白朮（炒）　茯苓　炙甘草　廣皮　半夏　木香　砂仁</p>
<p><u>竹葉安胎飲</u>（四）</p>
<p>生地　當歸　黃芩　麥冬（去心）　棗仁（炒）　甘草（炙）　人參　陳皮　竹葉　竹茹　姜　棗</p>
<p>痰，竹瀝沖服。</p>
<p><u>逍遙散</u>（五）</p>
<p>白朮（炒）　白茯苓　當歸　白芍（炒）　柴胡　薄荷</p>
<p><u>分氣飲</u>（六）</p>
<p>香附（制）　砂仁　白朮（炒）　茯苓　當歸　白芍（炒）　黃芩</p>
<p><u>鯉魚湯</u>（七）</p>
<p>白朮　茯苓　當歸　白芍（炒）　鯉魚（一尾六七兩者，煎服）</p>
<p><u>二陳湯</u>（八）</p>
<p>茯苓　炙甘草　陳皮　半夏（制）</p>
<p><u>五虎飲</u>（九）</p>
<p>杏仁（去皮）　蘇梗　木賊　陳皮　知母（炒）　北五味　桔梗　甘草（炙）　石膏（不可多用）　蔞仁　（喘者重用）</p>
<p><u>小柴胡湯</u>（十）</p>
<p>柴胡　黃芩　炙甘草　知母（炒）　姜　棗　人參</p>
<p><u>安胎和氣飲</u>（十一）</p>
<p>白朮（炒）　陳皮　白芍（炒）　訶子（煨，去核）　甘草（炙）　木香　陳粳米　生薑</p>
<p><u>桑寄生散</u>（十二）</p>
<p>桑寄生　當歸　川芎　川斷　香附（制）　阿膠　人參　白朮（炒）　茯苓　甘草（炙）　生薑</p>
<p><u>參蘇飲</u>（十三）</p>
<p>紫蘇　陳皮　前胡　桔梗　茯苓　炙甘草　葛根　知母（炒）　砂仁　人參</p>
<p><u>四物寄生湯</u>（十四）</p>
<p>熟地　當歸　川芎　白芍（炒）　桑寄生　羌活（五六分）</p>
<p><u>黃龍湯</u>（十五）</p>
<p>柴胡　黃芩　炙甘草　知母（炒）　人參　姜　棗　紅香附</p>
<p><u>蒙薑黃連丸</u>（十六）</p>
<p>乾薑（泡）　川連　砂仁　阿膠　白朮（炒）　川芎　乳香（去油）</p>
<p>為末，鹽梅（醋浸、搗）　米糊丸，甘草　湯調下。</p>
<p><u>歸涼節命散</u>（十七）</p>
<p>當歸　白芍（炒）　白朮（炒）　白茯苓　炙甘草　麥冬（去心）　黏米</p>
<p>如有食積，加砂仁、穀芽。</p>
<p><u>白朮散</u>（十八）</p>
<p>白朮（炒）　防風　牡蠣（煅）</p>
<p><u>平安散</u>（十九）</p>
<p>熟地　甘草（炙）　陳皮　砂仁　木香　川芎　生薑　煨鹽</p>
<p><u>六和湯</u>（二十）</p>
<p>人參　茯苓　炙甘草　藿香　杏仁　木瓜　陳皮　砂仁　姜　棗</p>
<p><u>人參白朮散</u>（二十一）</p>
<p>人參　白朮　茯苓　炙甘草　木香　藿香　乾葛</p>
<p><u>保產萬全湯</u>（二十二）</p>
<p>人參　當歸　川芎　桃仁　炒姜　炙甘草　懷牛膝　紅花（酒炒）　肉桂　大棗</p>
<p><u>開骨膏</u>（二十三）</p>
<p>乳香（一兩，研）</p>
<p>端午日以豬心血和丸，如雞豆大，硃砂為衣，每用一丸，酒下。</p>
<p><u>生化湯</u>（二十四）</p>
<p>川芎　當歸　桃仁　黑姜　炙甘草</p>
<p><u>保生無憂散</u>（二十五）</p>
<p>當歸　白芍（炒）　川芎　血餘　乳香　木香　炙甘草　枳殼（炒焦）</p>
<p><u>清魂散</u>（二十六）</p>
<p>人參　川芎　荊芥　澤蘭　甘草（炙）</p>
<p>童便下。</p>
<p><u>濟陰丹</u>（二十七）</p>
<p>益母草（連根拔起，陰乾取葉，八兩，為末，不犯鐵器）當歸（一兩）　赤芍（六錢）　廣木香（五錢）</p>
<p>為末，蜜丸如彈子大，每服一丸。有熱，童便下；有風，荊芥酒下；如虛弱，參湯下。</p>
<p><u>加味四物湯</u>（二十八）</p>
<p>熟地　當歸　白芍（炒）　川芎　白芷　阿膠　蒲黃　小薊根</p>
<p><u>砂雄丸</u>（二十九）</p>
<p>硃砂（一錢）　雄黃（一錢）　白茯苓（三兩）</p>
<p>為末，水丸，薑湯下。</p>
<p><u>金狗脊散</u>（三十）</p>
<p>川斷　地榆（炒）　川芎　金毛狗脊　熟地　當歸　白芍（炒）　白芷　阿膠（蒲黃炒）</p>
<p>空心只服一帖。</p>
<p><u>趁痛散</u>（三十一）</p>
<p>黃耆（炙）　白朮（炒）　當歸　懷牛膝　肉桂　炙甘草　獨活　韭白　生薑</p>
<p><u>加減生化湯</u>（三十二）</p>
<p>川芎　當歸　甘草（炙）　砂仁　煨姜</p>
<p><u>溫胃丁香湯</u>（三十三）</p>
<p>當歸　白朮　乾薑　丁香　人參　陳皮　炙甘草　藿香　前胡　生薑</p>
<p><u>石蓮散</u>（三十四）</p>
<p>石蓮子（去皮）　白茯苓　丁香</p>
<p>為末，米飲下。</p>
<p><u>生津益液湯</u>（三十五）</p>
<p>人參　茯苓　麥冬（去心）　花粉　炙甘草　竹葉　小麥　大棗</p>
<p><u>生化六和湯</u>（三十六）</p>
<p>當歸　川芎　炒姜　砂仁　藿香　陳皮　茯苓　生薑</p>
<p><u>加參寧嗽生化湯</u>（三十七）</p>
<p>當歸　川芎　人參　炙甘草　杏仁（去皮）　桑皮（炙）　半夏（制）　知母（炒）</p>
<p><u>小調經湯</u>（三十八）</p>
<p>當歸　赤芍　肉桂　沒藥（去油）　琥珀細辛　麝香</p>
<p>為末，姜酒調下。</p>
<p><u>大調經湯</u>（三十九）</p>
<p>茯神　琥珀　大黑豆（炒）</p>
<p>紫蘇湯下。</p>
<p><u>加味生化湯</u>（四十）</p>
<p>人參　黃耆（炙）　當歸　川芎　麻黃根　天麻　荊芥　炙甘草　防風　棗仁（炒）</p>
<p>有痰，加薑汁、竹瀝；大便閉，加麻仁。</p>
<p><u>加味通幽散</u>（四十一）</p>
<p>川芎　當歸　肉蓯蓉（洗）　炙甘草　桃仁　麻仁（炒）</p>
<p>虛汗，加人參、黃耆、麻黃根；渴，加人參、麥冬、北五味；血塊痛，加延胡索、肉桂。</p>
<p><u>石子湯</u>（四十二）</p>
<p>豬腰子　當歸　白芍（炒）　晚米　香豉</p>
<p>蔥鹽煮粥食之。</p>
<p><u>通乳湯</u>（四十三）</p>
<p>豬蹄　通草　川芎　穿山甲（炙）　甘草節</p>
<p><u>二妙散</u>（四十四）</p>
<p>川柏（炒）　蒼朮（炒）</p>

<h3>瀉方五</h3>
<p><u>澤瀉散</u>（一）</p>
<p>澤瀉（炒）　桑皮（炒）　赤茯苓　通草　炙甘草　生薑　枳殼炭（少許）</p>
<p><u>四苓散</u>（二）</p>
<p>豬苓　澤瀉　白朮（炒）　茯苓</p>
<p><u>地膚子湯</u>（三）</p>
<p>地膚子　車前子　知母　黃芩　赤茯苓　白芍　炙甘草　升麻（炒）　枳殼炭（少許）　通草</p>
<p><u>胃苓湯</u>（四）</p>
<p>蒼朮（炒）　厚朴（制，上二味宜炒焦，不可多用，以傷胎氣）　陳皮　甘草（炙）　豬苓　澤瀉（炒）　白朮（炒）　茯苓</p>
<p><u>五苓散</u>（五）</p>
<p>豬苓　澤瀉　白朮（炒）　茯苓　肉桂（少許）</p>

<h3>胎前備用良方三十五</h3>

<h4>惡阻</h4>
<p><u>保生湯</u>（一）</p>
<p>人參　白朮（炒）　甘草（炙）　烏梅　香附（制）　橘紅</p>
<p><u>橘皮竹茹湯</u>（二）</p>
<p>橘皮　竹茹　半夏（制）　茯苓</p>
<p><u>五君子湯</u>（三）</p>
<p>人參　白朮　炙甘草　廣皮　煨姜</p>

<h4>子煩</h4>
<p><u>人參散</u>（四）</p>
<p>人參　黃芩　麥冬（去心）　犀角　地骨皮　赤茯苓　甘草</p>
<p><u>當歸湯</u>（五）</p>
<p>當歸　人參　阿膠　甘草　蔥白（連須）</p>
<p><u>黃連散</u>（六）</p>
<p>黃連（末）　米飲下。</p>
<p><u>人參黃耆散</u>（七）</p>
<p>人參　黃耆　知母　麥冬（去心）　葛根　茯苓　甘草　竹葉　秦艽</p>

<h4>子氣</h4>
<p><u>腎著湯</u>（八）</p>
<p>白朮　茯苓　甘草　杏仁　乾薑</p>
<p><u>防己湯</u>（九）</p>
<p>防己　桑皮　蘇梗　赤茯苓　木香</p>

<h4>子癇</h4>
<p><u>葛根湯</u>（十）</p>
<p>葛根　人參　甘草　當歸　貝母　黃芩　川芎　防風　桂皮（二三分足矣）</p>
<p><u>黃蠟膏</u>（十一）</p>
<p>如牙關緊閉，先將麻油溶化黃蠟搽牙，然後進藥。</p>
<p><u>加味逍遙散</u>（十二）</p>
<p>白朮（炒）　白茯苓　當歸　白芍　柴胡　薄荷　黑山梔　丹皮　生地</p>

<h4>子嗽</h4>
<p><u>百合散</u>（十三）</p>
<p>紫菀　麥冬（去心）　桑皮　桔梗　甘草　竹茹　白蜜</p>
<p><u>參蘇飲</u>（十四）</p>
<p>人參　紫蘇　陳皮　前胡　桔梗　茯苓　炙甘草　葛根　知母（炒）　砂仁</p>

<h4>子瘧</h4>
<p><u>加減安胎飲</u>（十五）</p>
<p>人參　白朮（炒）　當歸　黃芩　藿香　紫蘇　烏梅　青皮（炒炭）　紅棗　生薑</p>
<p><u>又方</u>（十六）</p>
<p>人參　白朮　當歸　黃芩　柴胡　薄荷　葛根　紫蘇　藿香　龜甲　生薑　大棗　嘔不思食，難治。</p>

<h4>心腹痛</h4>
<p><u>竹茹丸</u>（十七）</p>
<p>竹茹（一斤）　羊脂（八兩）</p>
<p>蜜三兩（煎），每服棗核大，三枚。</p>
<p><u>火龍散</u>（十八）</p>
<p>生地　木香　砂仁殼（炒）</p>
<p><u>又方</u>（十九）</p>
<p>川楝子（煨）　艾葉（鹽水炒）　小茴（炒）</p>

<h4>腰脅痛</h4>
<p><u>大地黃丸</u>（二十）</p>
<p>熟地　當歸　烏梅</p>
<p>蜜丸，治骨髓熱痛。</p>
<p><u>內補湯</u>（二十一）</p>
<p>生地　當歸　川柏　麻仁　乳香　沒藥　黃芩　木香</p>
<p><u>歸膠飲</u>（二十二）</p>
<p>阿膠　炙甘草　當歸　蔥白</p>
<p>氣壅攻腰，此可治之。</p>
<p><u>豬腎丸</u>（二十三）</p>
<p>豬腎（一斤）　青鹽（二錢）</p>
<p>蒸熟，焙乾，蜜丸，空心服。</p>
<p><u>勝金散</u>（二十四）</p>
<p>陳皮　吳茱萸　骨碎補　砂仁　甘草（炙）</p>
<p>鹽湯下二錢。遍身兩脅刺痛脹滿，此五臟不利，氣血虛弱也，惟此方可治。又胃氣虛冷，下逼小腸，症若奔豚，大便秘澀，兩脅虛鳴，腰痛如山，亦宜此方溫中下氣。</p>

<h4>下血</h4>
<p><u>阿膠散</u>（二十五）</p>
<p>阿膠　生地</p>
<p><u>二黃散</u>（二十六）</p>
<p>生地　熟地</p>
<p><u>千金方</u>（二十七）</p>
<p>生地（一斤）</p>
<p>酒煮，絞汁服。</p>
<p><u>如聖湯</u>（二十八）</p>
<p>鯉魚皮　當歸　川斷　阿膠　竹茹　白芍（炒）　川芎　甘草（炙）</p>
<p><u>子芩丸</u>（二十九）</p>
<p>條芩（炒）</p>
<p>為末，每服一錢，以秤錘燒赤，淬酒調下。若脾胃虛者勿服。</p>
<p><u>又方</u>（三十）</p>
<p>雞肝（三個）</p>
<p>酒煮，帶酒食之。</p>

<h4>傷寒</h4>
<p><u>白藥子膏</u>（三十一）</p>
<p>白藥子（末）　雞子清調攤紙上，如碗大，貼於臍下，干則溫潤之，恐毒氣損胞，以此治之。</p>
<p><u>又方</u>（三十二）</p>
<p>井底泥，敷心下，使胎不動。</p>

<h4>傷胎</h4>
<p><u>奪命丸</u>（三十三）</p>
<p>肉桂　桃仁　丹皮　赤芍　茯苓</p>
<p>淡醋湯下。誤服毒食，傷胎下血，以此治之。</p>
<p><u>三物解毒湯</u>（三十四）</p>
<p>生甘草　黑豆　竹葉</p>
<p>煎服。</p>
<p><u>又方</u>（三十五）</p>
<p>生白扁豆（末）</p>
<p>米飲下。</p>
<p>古人治傷寒病，邪毒攻胎，致胎死腹中，多用硝石、水銀、硇砂之類，使化爛而出，其餘傷胎而胎死腹中者，慎勿用之。</p>

<h3>產後備用良方十八</h3>

<h4>難產</h4>
<p><u>龜殼散</u>（一）</p>
<p>龜板　當歸　川芎　婦人頭髮（燒炭，生長過者佳，湯下）</p>
<p><u>又方</u>（二）</p>
<p>伏龍肝（末）</p>
<p>酒下一錢。</p>
<p><u>又方</u>（三）</p>
<p>兔毫敗筆頭一枚（燒灰）</p>
<p>研藕汁一盞下之。</p>
<p><u>如神散</u>（四）</p>
<p>路上草鞋（一雙取鼻梁，洗淨，燒灰）</p>
<p>童便酒下三錢。</p>
<p><u>又方</u>（五）</p>
<p>榆白皮</p>
<p>煮汁，服二升。</p>
<p><u>又方</u>（六）</p>
<p>黃牯牛干糞</p>
<p>塗母腹上立出。</p>

<h4>胞衣不下</h4>
<p><u>一方</u>（七）</p>
<p>陳久蓮蓬殼</p>
<p>酒煎服之。或荷葉炒香為末，童便下。</p>

<h4>惡露不止</h4>
<p><u>瑞蓮散</u>（八）</p>
<p>蓮房　當歸　川芎　肉桂　棕櫚（燒）　鯉魚鱗（燒）</p>
<p>酒調三錢</p>

<h4>心痛</h4>
<p><u>一方</u>（九）</p>
<p>荷葉（燒研）</p>
<p>清湯下。</p>
<p><u>又方</u>（十）</p>
<p>桂心（研）</p>
<p>膽汁丸，酒下一錢。</p>

<h4>不語</h4>
<p><u>一方</u>（十一）</p>
<p>人參　蓮肉　鮮石菖蒲</p>
<p>水煎。</p>

<h4>見鬼</h4>
<p><u>一方</u>（十二）</p>
<p>益母草汁　地黃汁　童便</p>
<p>略煎五、六沸，入雞子清調服。</p>

<h4>渴</h4>
<p><u>一方</u>（十三）</p>
<p>蓮子中青心（生研細末）</p>
<p>米飲下二錢。</p>
<p><u>又方</u>（十四）</p>
<p>紅花子五合（炒研）</p>
<p>水煎，徐徐呷之，治中風煩渴。</p>
<p><u>又方</u>（十五）</p>
<p>炒蒲黃</p>
<p>井水調下二錢。</p>

<h4>汗</h4>
<p><u>一方</u>（十六）</p>
<p>牡蠣粉　小麥麩皮（炒）</p>

<h4>積聚</h4>
<p><u>一方</u>（十七）</p>
<p>童便　地黃汁　藕汁　薑汁</p>
<p>共煎濃汁，酒下。血瘕痛無定處。</p>
<p><u>又方</u>（十八）</p>
<p>生地　海螵蛸（研）</p>
<p>酒下。</p>
