<header data-type="book">
<h1>喉科家訓</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>刁步忠</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>1918年杭州三三醫社版（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NCL-9910015365">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫之為技深且奧者也孟子曰人而無恆不可以作巫醫即人而無學問無經驗不可以為醫也且醫之為業科目繁多約言之不外內外兩科喉科者謂內科可謂外科亦可總以徒見外面固可稱曰外科而又兼之內容又不得不稱之曰內科也然則喉科既兼內外兩科則謂喉科之難倍於內科可倍於外科亦無不可夫喉科之所以難者以飲食從口入言語從口出喉而有病則飲食不便言語亦難甚至飲食不可言語不可以名稱言喉科既難於他科以實際言喉科亦難於他科故專門喉科者所以少專門喉科得以傳名者更少專門喉科得以傳各而能著書者尤少同學刁君守愚祖傳內外科其先君步忠公於研究醫書外有暇惟好古樂與余住居附近余時方在求學時代心悅而喜和之公亦不棄謬許為後生可畏者公之物故距今已十七年矣時君亦已能繼志懸壺行世今則遠近馳名矣溯君與弟同學高夫子門下時君之聰明過於幾倍余之疑字難句賴君多矣既乃分別肄業他校成家後君就醫業餘亦權宜當教君之長處口碑載道曰指到回春妙術如神也即賴君之術亦不少且余患喉蛾之症一勞即發得秘丸後愈已八載並無一發余乃知君之喉科固得祖傳秘訣而獨擅其長如是也一曰君赴敝校而以新著喉科書見告曰余之喉科素有祖傳秘訣今連心得出版流傳索序於余余笑曰君真問道於盲矣余不知醫安能序耶雖然亦有言也嘗見世入有秘傳者不肯傳有心得者不肯傳以圖自己之名利子孫之名利也今君乃宣布秘傳披露心得則君之利固不欲專矣而君之名則傳於一邑傳於一省傳於一國傳於全球傳於後世也且君之所以成此書者我不曰君之能公之能也以君之秘訣公之秘訣耳君之心得從公秘訣而得耳顯親揚名君得其處可謂孝子矣且君索序於余時余曰此書常寄至書坊一經審定便可值洋若干版權所有豈不善乎而君竟不以利為貴而以名為貴願投稿於三三醫社不為賣品以與同志者交換知識尤為近世所難得者也至內容之奧妙內容之精晰已有沈光漢詳言之予可不言矣</p>
<p><u>民國十三年夏正十一月祟明縣第六初級小學校長楊漢春序於戚家唸佛室</u></p>

<h1>序</h1>
<p>喉者屬肺陽氣之所呼吸上下也咽者屬胃飲食之所咽納運化也故凡咽喉二道人身之要會出入之門戶可邈視乎而少陽少陰無事則已有事必借途於肺胃而上薰咽喉腫塞疼痛碎燜臭腐呼吸不利氣閉喘促飲食不下煩冤壯熱敗症百出其勢洶湧則朝生而暮死可判焉宜不可犯犯之孰不畏首畏尾以生命存亡視乎咽喉之瞬息而其症七十有二悉因六淫外侵七情內捩即喉娥癰痹乃作也此際苟非良醫為治則開門固守力難抗衡然則雖庸夫俗子知其患之不淺也故余當以不忍仁心欲為一援　手無如古少傳書今乏妙術大可痛恨幸余師守愚家學森森以喉科彰著豈知家藏秘本有年一旦復以三十餘年之見解苦心壹志遂刪補舊章定修新論以司天運氣大過不及表裡寒熱虛實盛衰洞明陰陽究察造化為處方關鍵通關針穴釣痰盪滌化腐生肌為外治大綱分訂兩卷復以白喉喉痧證治又為兩卷以成全豹庶無餘蘊矣命名家調意夫子上不負先祖之之功程下不荀子弟之倦誨中以保存入命鳴呼厥功偉矣余少遊其門而夫子披肝露膽不以我為愚蓋知我之慎也故曰得光明勝義如坐春風之中仰沾時雨之化悉奉衣缽真傳他若修已之長促人之短欺名圖利者莫我若也願後生小子勉之漢也不敏聊為我心說衷而已時在</p>
<p><u>丁已歲次仲秋朔日　弟子沈光漢謹識於家居之草廬</u></p>

<h1>自序</h1>
<p>咽以咽物喉以候氣乃呼吸之門水穀之竅斯為最要之地也而最要之處若被六淫上侵七情濰結一旦染疾氣道遂閉呼吸困難痰塞氣逆腫腐痛甚而身形拘急不舒僧寒惡熱是病之險象百出莫能止也當此之時雖有外科之專門而不有內服煎劑內毒何能透解內科之專用湯藥而手術不施上竅仍阻藥難下咽矣前哲云涸喉諸病介乎內外之間擇醫務欲內外精詳可以起死回生庶不愧為專門家也愚受先君之傳略知內外原因閱歷二十年矣臨證經念以虛實二字為宗旨輯成喉科家訓一書皆依先君之傳兼古今學說及已所心得悉登是集流傳於世俾初學之輩略知喉科法門臨證醫治庶不致南轅北轍之弊耳愚愧不能揚吾父之志也</p>
<p>時在</p>
<p><u>中華民國七年陰曆六月十有七日江蘇崇明外沙中醫刁質明守愚氏自題於延壽醫室</u></p>

<h1>詩</h1>
<p>餘年十七甫成冠　翻閱家書愈見難</p>
<p>深羨古人榮譽處　慣常日夜不能安</p>
<p>不為良相願良醫　書意昏迷似半癡</p>
<p>審得喉科無善卷　紛繁散亂總難知</p>
<p>喉科秘訣祖遺風　家父流傳使我宗</p>
<p>表裡陰陽虛實症　內傷外感在其中</p>
<p><u>中華民國十三年陰曆十一月之望孫繼沖詠於延壽醫室</u></p>

<h1>重訂喉科家訓卷一</h1>

<h2>第一章　內經咽喉精義</h2>
<p>咽喉各症頭緒紛繁內經三陰三陽任督皆有喉症今先以經義述之於前再以療法書上於後庶幾臨證稍有把握經云足陽明之別上絡頭項合經之氣下絡喉嗌其病氣逆喉痹瘁疳足陽明其支循喉嚨其痛頸腫喉痹手陽明為病頸腫口乾喉痹手陽明少陽厥逆發喉痹嗌腫喉痹不能言取足陽明能言取手陽明三焦手少陽也是動則病嗌腫喉痹邪客於手少陽之絡令人喉痹舌捲口乾少陽司天三之氣喉痹目赤善暴死少陽司無客勝則丹胗外發喉痹頸痛嗌腫膽足少陽也肝中之將他取法於膽咽為之使手太陽脈人缺盆循咽丁膈為病有嗌痛太陽在泉寒淫所勝民病嗌痛領腫足太陰之脈上挾咽連舌本為病有舌本強舌本痹痛太陸在泉嗌腫喉痹太陰之勝喉痹項強厥陰所謂甚者咽乾熱中者陰陽相簿而熱故嗌乾也足厥墜之脈循喉嚨之後為病有嗌乾足少陰之脈循喉嚨挾舌本為病有口熱舌乾咽腫嗌乾及痛手少陰脈出心繫上挾咽為病有嗌乾少陰司天嗌乾腫上嗌乾口中熱如SH熮取足少陰邪容於足少陰之絡令人嗌痛不可納食無故善怒衝任之脈起於胞中循背內為經絡之海循腹上行會於咽喉絡於唇口督脈為病嗌乾三陰三陽及奇脈俱有咽喉之疾也十二經中惟太陽行腦後由背上行其餘各經皆絡於咽喉也</p>
<p>內經獨取心與三焦為主有何也蓋心為人臟少陰君火屬之諸瘡痛養無不由於心也三焦即網油也小陽相火屬之上連心肺中兼脾胃肝膽下連腎膀大小腸又為水之道也五藏六腑其油膜無不貫通且左咽胃也右喉肺也肺為制節五臟之SH氣開竅於鼻主皮毛胃為谷海職司出納乃九竅六府之長開竅於口又主肌肉所以風熱犯上瘟疫流行之症以四經為宗旨也肺胃為咽喉之部位心與三焦二脈共絡於喉也故內經謂一陰一陽結而生痹或外感六淫或內傷熱蒸其始由於氣熱故痹於處也氣熱結而血不行則腫脹阻氣難以呼吸此喉痹之所由名而喉閉纏喉乳娥等名皆痹之謂也</p>

<h2>第二章　咽喉臟腑統宗</h2>
<p>咽喉其竅則一其路兩歧經曰咽喉者水穀之道也咽喉小腸者傳送也喉嚨者氣之所以上下也又云天氣通於肺地氣通於嗌喉為肺之系咽為胃之系天之風寒暑濕燥從喉入肺地之臊焦香腥腐從咽入胃也以此悟之喉者主氣之上下由肺入心由心入脾由脾入肝由肝入腎貫通五藏藏而不泄使呼吸者也咽者水穀之道路由咽人胃由胃入小腸化糟粕泌水穀分人膀胱大腸貫通六府泄而不藏使傳送者也由此觀之嚦喉顯然兩途也</p>

<h2>第三章　三陰三陽主在少陰少陽</h2>
<p>內經云一陰一陽結謂之喉痹之訓余細思之少陰君火一陰也少陽相火一陽也因指火而言之也君火打少陰雌官之火也相火者祀罟坎宮之火也手少陰心脈挾咽足少陰腎脈系喉嚨三焦為水火之道路君相二火假道相通坎離既濟水火平勻咽喉本無疾病二火獨勝氣熱火結三焦道路閉塞陰不能上承陽不能下降氣熱則結結則腫腫痹痹甚則不通而危矣此咽喉經義三陽三陰取法則在少陰少陽之謂也</p>

<h2>第四章　診斷簡明</h2>
<p>喉症外治但觀形象施方療治必求脈舌如右寸洪緊肺家感風也兩關浮數胃火肝風弦滑風痰也緩滑濕痰也左寸浮洪心火也右寸沉遲肺家寒也右寸沉細肺蘊熱也右尺洪大三焦火旺也左尺浮洪而有力腎虛火炎也紅腫而脈洪風火也爛而不腫脈象沉實結毒也細數而浮者虛火也細而緩者虛寒也此診斷之大略也舌乃心之苗也凡病俱現於舌能辨其色症自顯然舌胎白膩客邪未化熱也又主濕蘊痰滯苔黃主熱焦黃熱甚燥黑熱極務須視其有津無津有津而無憎寒惡熱但覺神疲手足有時作冷乃下元龍雷之火上升忌投涼劑宜以引火歸原之無津而執甚神志糊手足瘛瘲禁用熱藥宜以滋液化火熄風之法總之無率氣襲人身中必次第傳變臨證之時察形窮原對症施藥自然可愈內經云神聖功巧不過望聞問切細心推詳方可無誤也此望舌之大略也尚祈明師裁政之</p>

<h2>第五章　喉部識經</h2>
<p>咽喉二孔左旎納食消化之關也右能納氣吸引空氣之所也乃肺胃二經之部位也先哲云乃一身百節之竅呼吸出入之處也方寸之地受病最速若不識經辨證而為能施方療治乎如卜眯屬胃陽下肥屬脾陰舌中心也四圍脾也舌根舨腎小舌名蔽丁屬胃喉之友右舌根屬肝外咐耳垂下亦屬肝牙齒屬腎牙齦上屬肯下屬脾上唇屬脾下唇屬胃此喉部識經之大略也如有夫到之處祈高明政之</p>

<h2>第六章　喉證虛實宜辨</h2>
<p>咽喉一科先哲有三十六七十二種之硎也但名目雖多治法不比虛實二字余細思之不必多立病名往亂心口也若外感之邪為實則風熱犯土瘟疫流行治之在急緩則傷入外來暴熱若不仰盆焚雨熱勢靴消治法不出乎辛涼內生之火偽虛寒氣凝結真陽閉郁虛陽雷電土騰若不雌照當空陰霾不嚨消散龍雷斷難潛伏治法故以熱藥導之也有餘之火為實由於酒濕薰蒸肝氣鬱遏厚味壅熱皆有餘之火也祗能因其症而擇用療治不足之火為虛水虧火旺津液被傷精血枯耗治宜甘緩滋降此辨明虛實原因之大意也</p>

<h2>第七章　決斷生死看法</h2>
<p>昔質云喉症有生髮二端生者提一處而言發者言全身皆病也生者輕而發者重也臨症用藥生死最速醫者不可懷希冀之心故意延挨病者不可起懈怠之念以致決裂古云走馬看咽喉不待少傾者此之謂也審其病由參之時令諸法中酌擇內外方法療治之徒痰少腫退為妙已潰用藥之後越二日自能飲食三日後可收全功喉癬療治之後患處貴變紅色能知痛痿有津液潤澤可治輕症固先祝喉重症先由診斷定其脈舌吉凶後觀患處深淺若脈微欲絕七怪相顯則已毋須用藥矣因毒已入腹採薪之機也如虛弱之人病勢猛烈務使旁人扶好診視或通關或探吐或針穴或吹藥因症治療內沃如風熱散之火症清之甚者下之陰寒溫之若熱症而用溫劑灼燃津液症必致變寒症面用涼劑則上熱未除中寒復生其邪乘虛而入喘喝人休死不治矣又有昏迷痰多氣喘水穀難入發熱不退牙關緊閉脈形微弱難治也人事不醒痰氣上衝聲如雷鳴嗆食眼張天柱倒陷面黑苔焦鼻如煙煤張煽不定目晴突出汗出如雨咽喉乾痛聲啞無痰手足麻至膝盜喘喝及呃脈象如絲不治之症也又如纏喉風及弱症喉癬二症最險而難治至危而不易識纏喉風內外無形其患在關內上面紅絲纏繞如未人心尚可療治已入心則不治也遇此務須早治不過十二鐘頭即斃命也若質弱之人及小兒在於六點鐘上數也弱症喉癬形有青白點子高低大小狀如暑天㾦子其症難危延日最久多則一年半載少則一月半月而死初起治之得法十症可愈八九如遇夜晚看症即用刀針宜倍加細心否者難腫塞難嚥只可用藥針法恐誤別處要穴也凡針舌下兩邊青筋血紅可治血黑難醫藥宜清膈化痰解毒之劑又看病人強壯可用猛藥盪滌病後劃稟賦質弱治宜平和緩劑此喉科決斷生死看法之秘旨務須仔細研究可以臨證無誤也</p>

<h2>第八章　咽喉外治各法</h2>
<p>咽喉諸症如內虛所發則宜煎劑治之稍佐吹藥若外感各症不得不用外治今將外治各法條例於後</p>
<p>一通關　喉證閉塞不通痰阻孔竅呼吸困難先以刻歡丹吹入鼻中使其噴嚏通其氣管開其關竅俾牙關稍松為首務也</p>
<p>二針法　喉證風痰上升氣血閉塞結為熱毒腫脹牙關緊急筋脈拘孿難以開闔急針大指內甲角少商穴以通氣道食指外甲角商陽穴即肺之腑也中指中甲下中衝穴行其心包之血絡無名指內甲角關衝穴能利三焦水道小指內甲角少衝穴即心之腑也俾氣血流通風痰自散雖有諸方調治而神速莫如氣針誠諸藥之先鋒喉家之妙法也</p>
<p>三探吐　通關針法之後以待牙關稍松略能開闊即用捺舌捺至舌中視其喉間形象分其關之內外或兩旁紅腫或不腫而腐或腫腐並作如痰涎上壅速行探吐輕法以消清散少許放杯中再以浴喉盪滌水二十滴調勻用鵝毛醮之向喉中攪去痰涎重法以元叫月石制牙皂研勻以酸醋和之名酸粉液亦加上法吐去毒涎為上</p>
<p>四喉針法　喉證紅色腫痛湯藥難嚥視之已近小舌呼吸不利用喉鎗經手刺破紫血或膿命病者嘔淨即以浴喉盪滌水使患人漱入口中仰天搖盪洗去毒涎為妙隨症擇以對病吹藥一切咽喉病腫服痛甚水穀難入將用何法治之乎此際惟針法可用其法已申不必復贅但見近世醫士觀症咽喉腫已脹塞之時彼云此症切不可針若針破之後常發不已試問常此險時不宗放膿之法侍其斃命即永久不發之說也良可嘆也吾見此輩甚多實系無有師承自已手術不能也學者究之</p>
<p>忌針之地不可不知嚨化啞門兩拗上舌下筋此四處刀針不可犯也切記之</p>
<p>五用鉗法　一切喉症腐爛成塊或白條或腫或不腫用喉鉗輕手接去腐肉務要仔細接淨若單腫用喉針已見上條</p>
<p>六噙漱　咽喉之症紅腫痛甚用冰梅丸漱之能消腫解毒生津退炎再用導痰救苦丹服之能盪滌藏府氣血之毒火消諸經壅滯之痰氣腐爛臭穢始終可用浴喉盪滌水頻頻漱之能收解穢化毒除腐之功也</p>
<p>七提泡　咽喉無病喉外兩筋柔軟有病則兩櫬堅強宜用薄荷油搽上提拔二十餘回再用巽功散如豆大置膏中貼於喉外十二點鐘吸下如有水泡以銀針挑破用三妙膏貼上如外腮腫用新方吸毒膏貼之或用如聖圍毒藥敷之冀其腫退或令速潰為上</p>
<p>八吹散　吹藥務宜憑症而用雖云外治亦不可龍統治之一切咽喉腫痛吹以消清散或玉鑰匙散腐爛不腫或有腫腐吹以珠黃散結毒腐爛吹以十簧丹喉痧腐潰錫顯散或以喉痧門三種吹之牙疳腐爛赤箱散吹之咽喉口舌統治奪命猴棗散吹喉賽珍丹中自散俱可擇用若內虛咽痛則宜紫珍入寶丹鳳衣散吹之又如奪命棗丹塞鼻孔之一法亦為上策也</p>

<h2>附喉外結腫說</h2>
<p>經云三焦與少陽司相火故有咽喉腫脹或致白腐何以喉外亦腫堅成毒哉因思蕉絡於咽喉兼之少陽膽經或受疫厲之氣或受風熱燙毒勢必循經上衝氣滯血凝不得流通之故耳內經又云營氣不從逆於肉裡也治宜清火敗毒熄風為主結腫之形色紅潤而聚腫者生也平塌色淡者難治也平而不紅麻癢不疼或痛甚上連耳與太陽下及頸項不治之症也</p>

<h2>附探吐太過有宜不宜說</h2>
<p>探吐去痰前條已詳不必再贅實痰上壅故用之以為善也然探痰不宜太過過則津液傷盡現雖似好不時即加喘喝斃命余見甚多慎勿因循誤事後學審之內虛勉之</p>

<h2>第九章　醫士臨症備急衙生藥庫</h2>
<p>刻歡丹</p>
<p>治一切咽喉急症痰厥氣閉及時行痧脹諸般急症</p>
<p>真關黃（一分）　原寸香（一分）　三梅片（一分）　鬧羊花（三分）　真蟾酥（一分五釐）　豬牙皂（三分）　北細辛（二分）　燈草灰（一錢）　真金箔（十張）　真川芎（一分）　共研極細末磁瓶收貯遇急症吹鼻取嚏</p>
<p>消清散</p>
<p>治一切咽喉紅腫作痛能消腫毒治風痰殺微生退炎熱</p>
<p>馬牙硝（一錢八分）　真蒲黃（四分）　制殭蠶（一分）　制牙皂（一分）　三梅片（一分）　上藥以牙硝蒲黃先研次下殭蠶牙皂共研如鵝黃之色再入冰片研極細未聽用</p>
<p>盪滌水</p>
<p>治一切咽喉腐爛臭穢不堪能闢穢解毒</p>
<p>香白芷（二錢三）　奈片（二錢）　廣藿香（三錢）　地骨皮（三錢二）　實花（四錢）　北細辛（三錢）荊芥嵇（二錢）　川柏片（三錢）　青防風（三錢）　生甘草（二錢）　苦參片（三錢）　上藥放吊鍋內蒸水用之</p>
<p>酸粉液</p>
<p>治咽頭喉頭各症腫痛痰多有退炎消腫除痰之功</p>
<p>元明粉（五錢）　西月石（四錢）　制牙皂（二錢）　共為細末以酸酷（一兩）　和勻用之冰梅丸</p>
<p>治十八種喉毒噙漱能退炎消腫化痰生津</p>
<p>鮮南星（二十五個）　元明粉（四兩）　豬牙皂（四兩）　白明嶸（四兩）　食驅（四兩）　玉桔梗一兩青防風（四兩）　西月石（一兩）　山豆根（二兩）　梅（一百個）　上藥先將鹽硝入水浸梅子漫漫一指為度過一日將各藥為末入水拌勻同梅子再浸七日取出曬乾再浸以藥水盡為度方將梅子入罐收之日久梅子赳白霜更妙用時以薄總包裹一枚噙口令噙出液徐徐嚥下病可霍然一丸可治三人</p>
<p>導痰救苦丹</p>
<p>治傷寒瘟疫不問傳經過經俱可服之及大頭瘟目赤咽腫爛喉丹疹癍毒並效</p>
<p>錦紋大黃（四兩）　酒拌乾制牙皂（二兩）　上這細末糊丸如茅豆大每服五六十丸冷茅豆湯送下以汗為度</p>
<p>玉鑰匙散</p>
<p>治喉風蛾痹咽閉痰涎壅塞牙開緊急湯水難下元明粉（一兩五錢）　西月石（五錢三）　梅片（一一分五釐）　制殭蠶（二錢）　飛明雄（二錢）　共研細末吹患處去痰涎此玉鑰匙多一味雄黃名金鑰匙散也</p>
<p>珠黃散</p>
<p>治爛喉痧及喉痹喉腫</p>
<p>廣尖黃（五釐）　燈心灰（五釐）　三梅片（三釐）　象牙屑（二分）　明珍珠（二分）　人指甲（一分）薄荷葉（一分）　人中黃（一分）　人中白（一分）　西硼砂（一分）　淨青黛（三分）　壁SH蟢窠（三十）　個共為末吹患處又方治爛喉疳腫腐湯水難入者並治遠年爛喉結毒腐去蒂丁及幼孩口疳口糜等症</p>
<p>真犀黃分飛辰砂（一錢）　滴乳石（一錢）　大梅片（一分）　孩兒茶（一錢）　原寸香（三分）　上珍珠（三分）　飛雄精（一錢）　西月石（一分五釐）　人中白（一錢五分）　共為細粉臨症用之最為神效</p>
<p>十寶丹</p>
<p>治一切口舌白腐或腫痛並治喉蛾癰痹喉內腐潰等證吹之神效</p>
<p>薄荷（一兩）　生甘草（五線）　孩兒茶（二兩）　滴乳石（四錢）　真琥珀（三錢）　雪梅丹（一兩）上水片（四錢）　真血竭錢明珍珠（三錢）　犀牛黃（一錢）　右藥共研極細末臨時照症應用</p>
<p>錫類散</p>
<p>治一切咽喉腫腐及爛喉丹痧吹之如神</p>
<p>真犀黃（五釐）　人指甲（五釐）　上梅片（二釐）　上梅片（二釐）　壁SH蟢窠（二十個）　淨青黛（六分）　上珍珠（三分）　象牙屑（三分）　共研極細末收貯備用</p>
<p>猴棗散</p>
<p>治喉蛾癰時疫喉痧喉風不論紅白皆效</p>
<p>真猴棗（一分）　原寸香（八釐）　真關黃（一分）　明珍珠（一分）　薄荷末（三分）　三梅片（一分）分右葉共研細末以備應用此方除珠黃麝棗甘石易SH煆石羔名喉科八實丹又名喉口入珍散統治一切咽喉輕微等症不論表裡虛實吹之神效</p>
<p>賽珍丹</p>
<p>治喉痹纏風雙單乳蛾喉癰喉瘡陰虛咽痛吹之效如仙丹故名賽珍也</p>
<p>上犀黃（一錢）　真珍珠（一錢）　滴乳石（五錢）　劈辰砂（一錢）　燈草灰（三錢）　大梅片（一錢）　孩兒茶（五錢）　香白芷（二錢）　片黃柏（三錢）　蘇薄荷（七錢）　淨青黛（三錢）　上血竭（三錢）　生甘草（三錢）　各研細末照藥秤准分量和勻再研極繃無聲磁瓶收藏勿令泄氣</p>
<p>中白散</p>
<p>治長幼走馬牙疳並咽喉疼痛腐爛紅赤舌腫齦臭映血牙床潰腐等症極效</p>
<p>人中白（一錢）　粉兒茶（一錢）　淨青黛（一錢）　瀟荷未（五分）　元明粉（五分）　輕馬勃（五分）　三梅片（二分）　共研細末如病重者加犀黃（一分）　珍珠（五分）　其效最速</p>
<p>鳳衣散</p>
<p>治喉癱喉癬日疳</p>
<p>鳳凰蛻粉兒茶三膽南星（三錢）　橄欖核（三錢）　共研細末每葉（一錢）　加冰片（五釐）　研勻備用如胃脘阻隔不能飲食再加月石薄黃明雄黃各（一錢）　青黛（五分）　研勻吹之即能進食叉方</p>
<p>青果炭（一錢）　川黃柏（一錢）　川貝母（一錢）　粉兒茶（一錢）　薄荷葉（一錢）　三梅片（五分）</p>
<p>鳳凰衣（五分）　共研細末治白喉之聖藥</p>
<p>米硼散</p>
<p>治慢喉風啞瘴喉風一切涸喉口齒腫痛及懸癱重舌鑽牙疳等症</p>
<p>西硼砂（五錢）　元明紛（五錢）　上冰片（五分）　飛硃砂（六分）　研細應用去硃砂元明加膽礬（五分）　燈心炭（一錢五分）　治白喉痰壅亦名冰硼散</p>
<p>奪命紅棗丹</p>
<p>瑞治喉風痹雙軍乳蛾等症極念神效</p>
<p>原寸香（一錢）　二梅片（一錢）　杜蟾酥（一錢）　巴豆霜（一錢）　西月石（二分）　山豆根（五分）老薑粉（三分）　上藥照方揀選研細稱准收藏貯瓶臨用時以紅棗（一枚）切蒂去核外皮幸勿損傷人藥黃豆許大將棗蒂一頭塞人鼻孔即閉日目避風少頃得嚏喉漸通快凡左蛾塞左右蛾塞右雙蛾更換之必得一過時方效</p>
<p>雪梅丸</p>
<p>治喉癬用以納口咽津</p>
<p>三梅片（一分）　犀牛黃（一分）　山豆根（一錢）　西官硼（八分）　飛明雄（八分）　膽礬（三分）　孩兒茶（八分）　共研細末另用鹽捶三個打融入藥和勻丸如龍眼大鹽臥納口過夜即愈十丸除根</p>
<p>玉液上清丸</p>
<p>治口舌生瘡咽喉腫痛止嗽清音寬膈化痰其效如神</p>
<p>玉桔梗（一錢）　春砂仁（一錢）　西硼砂（二錢）　元明粉（一錢）　訶子肉（一錢）　三梅片（一分）百藥煎（八錢）　薄荷葉（一兩一錢）　生甘草（一錢）　上藥共末煉蜜為丸如圓眼核大噙化</p>
<p>如聖園毒膏</p>
<p>治喉外紅腫SH焮痛風毒發頤痄腮溫毒疫炎諸毒</p>
<p>三梅片（一錢）　川黃柏（一錢）　生蒲黃（一錢）　生中白（一錢）　生甘草（五分）　元明粉（五分）　西月石（五分）　川黃連（一錢五分）　薄荷葉（一錢五分）　淨青黛（五分）　枯白礬（四分）　共為細末以蜜水調如膏圍敷患處令其漸消兼治丹毒以靛青水調敷此方玉樞活血加上更妙如丹毒不必用之</p>
<p>太乙吸毒膏</p>
<p>治一切痧後留滯熱毒並治咽喉發炎腫脹貼之自消借治癰疽發背</p>
<p>炮山甲九錢金銀花（一兩）　生大黃（九錢）　全當歸（四錢五分）　上廣皮（四錢五分）　天花粉（三錢）　西赤芍（三錢）　大生地（四錢五分）　薄荷葉（三錢）　青防風（三錢）　香白芷（三錢）　大貝母（三錢）　制乳香（三錢）　制沒藥（一錢五分）　芏草即（三錢）　皂角刺（六錢）　麻油熬黃丹收隨症攤貼</p>
<p>外治巽功散</p>
<p>治法詳於白喉門喉科救急膏條下</p>
<p>上梅片（六分）　真血竭（六分）　制乳香（六分）　制沒藥（六分）　大元參（六分）　淡全蟲（六分）　原寸（六分）　班毛（四錢）　共研細末備用</p>
<p>補道應用玉樞丹</p>
<p>治瘴氣蟲毒解惡藥性服砒毒菌河豚死牛馬肉狐貍鼠蟒之毒蛇犬惡蟲所傷一切癰疽發背瘡疹赤腫諸瘤不服水土莫不應手取效</p>
<p>山茨菇（二兩焙）　文蛤（三兩）　紅芽大戟（一兩五錢）　千金子（三錢）　原寸香（三錢）　右藥上三味先研末再入千金寸香研勻和糯米濃飲木臼內杵千餘下分為四十錠宜端午七夕重陽淨室齋戒休合每用一錠薑汁薄荷湯送下孕婦不可服用</p>

<h2>第十章　藥品選真製法須知</h2>
<p>藥之治病務須選真選真而製法不善亦不能決其實效犀黃透甲為上珍珠寶光為佳原寸必選常門三梅須視牙色猴棗紫黑光亮指甲瓦上存性硃砂明如鐧鏃水飛三次殭蠶細直水洗須妙斷絲孩兒茶炒去油液鐵兒茶研末水飛人中黃乃甘草末塞入竹筒浸於坑內冬浸而春出曬露四十九日中白俗云坑砂多年溺器用刀鏟取出放於銀罐里煨血竭紅紫為良鬧羊生曬研粉蒲黃行血消腫炒黑止血青黛染坊本靛為上徉靛有害滴乳石輕薄如鵝翎管碎之如瓜甲光明為真鳳衣哺雞已比蛋亮取膜須瓦炙烏骨為上蟾酥自取為佳薄荷生曬研粉生草桔梗元參川芎須選片以曬研牙皂堅小去蛀角筋務炙光亮以為末橄欖核瓦上SH煆存性雄黃精研末水飛妙龍骨要選五花必經火SH煆煉巴豆去殼研末紙包磚押去油班毛去翅足焙乾研末大黃酒拌勻日曬研粉川貝須選尖頭為勃務要輕浮姜紛以老薑切片曬研蟢窠培取瓦炙黃色細辛豆根生曬研末月石明礬生SH煆隨方銀花或炒或生砂仁務須去殼山甲同炒發透南星放豬膽陰乾燈草塞入竹筒泥里煨透甘石尿淬七次三黃九次黃連曬乾研粉全蟲漂去鹹味乳沒每斤用燈心四兩同炒大戰去附枝水制去骨切曬文蛤即五倍子捶破洗焙茨菇名金燈籠去皮焙乾千金子即續隨子去愨研去油取箱金箔鎮心藥為衣如神川黃柏須擇厚大荊草煎湯浸濃取出瓦上炙黃加之蜜湯濺一次曬乾為粉百草霜須燒茅榮取其近鍋底者先括去浮面一層止取中間一層近鐵不用梅礬即是雪梅丹取青梅被下圓蓋去核將白礬末塞實在內仍以原蓋覆上以竹籤釘好過夜明晨用炭火SH煆之取其梅內之礬輕白如膩粉為妙硝礬俗名玉丹先用生礬打碎入銀罐內文炭火入爐SH煆烊以筋入罐攪無塊為度再以牙硝打碎投下十分之三再下白硼砂十分之三再人生礬候烊盡照前投硝硼少許逐層漸投直待鋪起罐口燒至乾枯以淨瓦蓋罐一時將牛黃冰片利調以匙超滴丹上將濰入火烘乾用碗覆潔淨地上七日收用輕鬆宜用僵硬不化不堪用制硝擇其明淨紋理鎗鎗者佳次甲長白厚大名馬牙銷溫湯蘸過綿紙挹乾仍用紙包好放灶上六日濕氣自乾白如霜雪應用炤硝蘿蔔各二斤以蘿蔔打爛絞汁再加清水二三碗同硝武火煎烊夜置露天如有雪者埋在雪中黎明收取硝上吊起堅霜仍將吊過之硝仍照上法再吊再收半月收完餘者無用所取之霜同裝磁瓶固封聽用但此藥務於嚴冬之際法制為妙若非此時終難成功故古人所謂一味金丹之名也此是醫家秘製亦後學之津梁惟宜貴重功何不彰</p>

<h1>重訂喉科家訓卷二</h1>

<h2>第十一章　咽喉症狀療法</h2>
<p>咽喉諸症宜分急慢治之急者治標慢者治本外治手術治症之急者也內服方藥治症之慢者也喉嗌立時閉塞牙關緊閉甚至兩腮猝然腫而流攻痰涎上壅呼吸喘喝聲如拽鋸此際內外關扁桃腺液膜及淋巴腺處皆腫滴水不能下咽或有喉部不腫氣閉又如蛇纏之狀骨節脹悶寒熱大作精神頓發鎖喉纏喉弄舌喉痹吹舌內腫閉喉之顯是也此皆急性病早不及夕之症也務須外治精密然後繼以牛旁宣肺湯憑症加減服之如外治內服不應者則難為力矣如咽頭或喉頭紅色覺痛或發劇烈之痛扁桃腺黏膜腫脹形寒惡熱頭痛身疲脈浮舌白辛涼宣表湯主之此風熱喉癱喉蛾壅腫之類也如失治增進液腺皆腫且有星星白點及成塊腐爛甚至連及蒂丁難嚥水穀痰多腮腫結核胸院不暢呼吸不利骨節煩蒸胃不嗜食即欲食而難嚥脈弦洪數舌膩輔黃辛涼宣表湯加羚斛銀花主之此腫爛喉風爛喉痹連珠喉蛾爛沙喉之類也若失治再增滿喉白腐或咽喉已得清爽但上至腦膜碎有黏液則鼻竅不通用滋陰清肺法尚可療治下至食管氣管液腺內關略觀並無形象惟用壓舌片壓至舌根吊惡始見白色假皮湯藥點滴難嚥神志模糊痰塞清竅呼吸或兼喘喝身熱如焚或昏迷難言魂魄無主脈怪舌燥而斃命也即神清氣爽尚屬難療此慢性病失治致急者也不得已勉立犀角三鮮湯以盡人事願囑病家即有精工療法貴慎於始也</p>
<p>昔賢云外感不外六淫民病宜分四時此係內科之條規也咽喉一科介乎內外之間其病最險其變至速內服方劑表裡寒熱風寒暑濕燥火皆能致生喉症余所以辨晰四時喉症仿內科療法為宗旨景和先生學外科必須先究內科有諸內而形諸外者此之謂也喉風喉痹喉蛾喉癰等症春時發生風熱犯上風溫化火風火上升溫毒上薰之原因也如因於風熱辛涼宣表湯主之因於風溫清溫解肌湯主之因於風火清喉宣解湯主之因於溫毒滋清解毒湯主之夏日炎暑內熱煩蒸而上逼清逍致生喉部諸症者清暑熄風湯主之務須臨症加減為至要也秋時發生濕溫化熱濕火上攻濕痰土泛之原因也如因於濕溫辛芬闢溫湯主之因於濕火化濕清火湯主之因於濕痰降氣滌痰湯主之又有風燥咽痛清燥利咽湯主之冬日嚴寒水冰地凍風塞感於上焦氣機不快血凝而發各種喉症者辛溫解表湯主之腎傷寒咽閉下利者半夏甘桂湯主之無論四時咽喉未復而兩腮結核紅腫風毒也熄風敗毒湯主之實邪喉症原因不外淫感經絡不越肺胃焦膽四經余少見聞不過胸中稍有心得特立數方仍祈同志裁政增補為後望也</p>

<h2>喉部內虛症療法</h2>
<p>外感已詳內因當知心腎久虛內火上升咽舌乾燥精神困疲二便如常脈象微細而數舌苔淡無榮原因由於平時飲酒太過陰液被傷或情懷抑鬱又有色欲過度致精血傷而津液耗能雷興而火炎生內虛喉症由此而生也如陽虛之元夢四君湯陰虛之加味四物湯精傷液耗之六味地黃湯弱症喉癬之化癬潤喉湯內虛喉疳之滋陰清火湯石蛾腫堅之清肝化痰煎虛爛喉風之六味清喉煎勞碌喉風之新方清咽湯骨槽風之當歸連翹煎楊梅喉癬之清熱涼血湯死蛾核之連附甘桔湯雙單死蛾之舒郁降火陽梅核氣之濟陰化痰飲妙法不多千金一得是在學者之大綱領也</p>

<h2>第十二章　喉症六淫方訣</h2>
<p>咽喉原來由何生風塞暑濕火之因兼有痰鬱厚昧凝清咽加減自然靈風本司令風熱壅辛涼宣表可奏功時痧寒熱汗少者是方增損妙無窮惡寒發熱汗又無痰氣上升喉嚨阻宣肺化痰湯速進外佐手術症易妥風助火勢性上升火借風威病漸增清喉宣解為主劑君火司令立法神身疼寒熱汗難雖有惡風咽疼風溫湊主方清溫解肌湯兼有時痧亦可瘳但熱不寒且有汗相火司令病來端暑熱風性上升者清暑熄風服之安濕釀成溫胸腕悶發熱身疼汗蒸蒸辛芬闢溫加減用濕土司令方最靈濕熱化火上逼喉舌黃溺赤煩熱究化濕清火水煎服管教一服可能瘳濕痰上泛困咽喉呼吸不利兼痰嗽舌膩有汗脈弦滑宜以滌痰降氣謀形寒惡熱頤或痛燥金司令風邪蒙清燥燥利咽為主方內燥清金養陰宗塞水之令喉患生髮熱增寒及頭疼汗少身疼脈浮緊辛溫解表法最靈腎傷寒症屬少陰咽喉閉塞下利頻症系臟寒忌投涼半夏甘桂得回生若是風毒生兩腮熄風敗毒效是神以上六淫時邪感化火化燥亦須知失於疏達邪入裡熱人心包昏不知急進泄熱通絡飲臨時加減審病情化燥灼津侵榮分解毒提班候佳音昏痙譫語時或笑救陰平肝或能好班疹痙厥神昏冒息焚救液聽命方七二條目知其耍何患咽喉不安康</p>

<h2>諸方主治條訣</h2>
<p>清咽敬</p>
<p>治一切咽喉腫痛或紅或白形寒惡熱頭疼身痛汗少不得宣達風痰壅塞湯飲難嚥神效</p>
<p>甘草　桔梗　荊芥　防風　牛蒡　枳殼　薄荷　前胡　煎服</p>
<p>鬱熱痰多加川貝姜仁　食滯不快加神麯穀芽　嘔逆加橘絡竹茹　便瀉加葛根荷葉　血熱加丹皮梔子　熱甚加黃苓黃連　火毒加銀花連翹便秘加青寧明粉　溺赤加赤苓本通　胸下痞悶加川樸　咳嗽加杏仁杷葉　穢濁加佩蘭去甘草　痙厥動風加羚羊鉤藤</p>
<p>詩曰　詳甘枯荊防枳荷蒡前衚衕上成妙方喉蛾癰痹風痰壅臨疲加減機要</p>
<p>辛涼宣表湯</p>
<p>治風熱上壅喉蛾癰痹寒微熱甚頭痛而眩或汗多或咳嗽或目赤或涕黃舌白帶黃脈浮數此湯主之</p>
<p>荊芥　防風　桑葉　薄荷　象貝　綠衣　山梔　連翹　生草　桔梗　淡竹　煎服</p>
<p>痰滯加枳殼橘紅　目赤加杭菊蒺莉　咳嗽加杏仁川貝　神昏痙厥加鉤藤羚羊</p>
<p>詩日　辛涼宣表荊防翹桑荷梔子同桔草竹葉貝母綠豆衣風熱上犯涼解討</p>
<p>宣肺化痰湯</p>
<p>治鎖喉纏喉痰涎上升呼吸短促形寒煩熱骨節脹悶脈弦緊數舌黃尖絳朝不及夕之危症也</p>
<p>牛蒡　連翹　防風　薄荷　生草　竹瀝　荊芥　杏仁　蔞仁　元參　枳殼　煎服</p>
<p>詩日　宣肺化痰牛蒡君荊防翹荷杏蔞仁枳殼元草竹瀝等鎖喉纏喉風為靈</p>
<p>清喉宣解湯</p>
<p>費氏云風助火勢其性上升面紅目赤口燥咽腫法常清解上焦風火熄而煩熱咽痛自愈此方主之</p>
<p>牛蒡　前胡　連翹　山梔　花粉　桔梗　元參　薄荷　銀花　生草煎服</p>
<p>脘悶加枳殼　鬱熱加芍藥　燥痰加川貝　液少加麥冬細地去前胡</p>
<p>詩日　清喉宣解蒡前參甘桔銀翹梔荷粉風火咽喉紅腫痛疏風清火解毒性</p>
<p>清溫解飢湯</p>
<p>治風溫咽痛頭疼惡風身熱自汗咳嗽口渴舌苔微白脈浮而數者此方為主防風　牛蒡　杏仁　前胡　蟬衣　豆豉　荊芥　葛根　桔梗　淡竹</p>
<p>煎服</p>
<p>詩曰　冬寒隱藏春感風汗少發熱咽痛紅荊防前桔杏蒡豉粉葛蟬衣竹葉</p>
<p>同若是溫毒發咽痛雷氏清熱解毒宗加上甘桔綠豆衣除卻洋參效</p>
<p>如龍</p>
<p>清暑熄風湯</p>
<p>治熱病風暑發熱汗出口渴心煩不惡寒而反惡熱咽喉紅痛或白腐腫甚脈來洪大舌黃或燥乃三焦相火升騰上竅陽明熱甚之症此方主之</p>
<p>元參　麥冬　石羔　丹皮　薄荷　桑葉　川貝　鮮地　銀花　六一散　煎服</p>
<p>如發疹加葉荷牛蒡　發斑加梔子綠豆衣　譫語昏狂加紫雪丹　熱極生風加羚羊鉤藤　嘔逆加竹茹橘絡　角弓反張牙關緊閉去石羔六一</p>
<p>加犀角鈴羊鉤藤連翹竹葉</p>
<p>詩日　君相之火上侵喉清暑熄風方法優白虎六一元麥貝丹地銀翹桑荷廖</p>
<p>辛芳闢溫湯</p>
<p>治濕溫咽痛始惡寒後但熱不寒汗出胸悶舌苔白或黃口渴不引飲脈洪或細緩此湯主之</p>
<p>佩蘭　雲苓　橘紅　姜皮　焦梔　砂殼　米仁　牛蒡　蘆根　絲通</p>
<p>悶亂煩燥身熱神昏㾦難透達加薄荷鮮菖青蒿另用玉樞丹磨服如內陷</p>
<p>化燥津液傷而脈實舌乾黃者以清暑熄風湯隨症加減</p>
<p>詩日　濕釀成溫喉病生辛芬闢溫湯如神蘭蒡姜苓梔子並橘通砂苡蘆根成</p>
<p>化濕清火湯</p>
<p>治濕熱風火上薰喉竅咽痛身熱微汗煩渴脈來浮緩或細數舌苔黃膩小便短赤宜用此方</p>
<p>簿荷　連翹　川貝　元參　雲苓　銀花　苡仁　焦梔　淡竹　荷葉　六一散　煎服</p>
<p>詩日　化濕清火六一苓銀翹荷貝梔苡仁元參淡竹鮮荷葉濕鬱化火是法靈</p>
<p>降氣滌痰湯</p>
<p>治素有痰飲或受霧露潮濕內蘊太陰脾不運化而生痰兼之風火上犯痰氣交阻壅塞上焦痰多咳嗽咽喉腫痛服之神效</p>
<p>蘇子　前胡　杭芍　生草　桔梗　浙貝　漣翹　毛紅　雲苓　法夏</p>
<p>元參　煎服</p>
<p>詩曰　降氣滌痰用二陳蘇子前胡桔元參連翹浙貝杭白芍濕痰火鬱水煎吞</p>
<p>清燥利咽湯</p>
<p>治頭疼眩暈形寒惡熱咽喉腫痛舌苔薄膩微黃乃風燥上犯之症也</p>
<p>元參　杏仁　川貝　桔梗　速翹　牛蒡　薄荷　焦桅　綠衣　生草　細地　煎服</p>
<p>按主治條下眩量二字是誤載若有見此當加桑葉滁菊</p>
<p>詩曰清燥利咽參杏貝翹荷甘桔生地隨焦扼綠衣水煎服秋燥咽疼第一推</p>
<p>辛溫解表湯</p>
<p>治客寒協風性傳入太陰惡寒發熱頭疼身痛脈浮緊舌苔白咳嗽無汗咽喉腫痹乃寒凝氣滯血絡結痹壅阻十竅祈宜之</p>
<p>防風　蘇葉　廣皮　桔梗　荊芥　姜夏　枳殼　生草　煎服</p>
<p>詩曰　辛溫解表荊防蘇甘枯廣皮枳夏扶咽喉腫終因風寒疏風溫解用之妥</p>
<p>熄風敗毒湯</p>
<p>治發頤痄腮痧毒喉腫因於風熱結毒者此方主之</p>
<p>連翹　赤芍　元參　銀花　滁菊　草節　淡苓　花粉　歸尾　薄荷　冬桑　煎服</p>
<p>詩曰　熄風敗毒翹赤銀歸苓花粉參草增桑菊薄荷流水煎風毒腫痛效力能　半夏甘桂湯</p>
<p>治少陰傷寒咽痛下痢脈沉細舌白不渴以此加減為主</p>
<p>桂枝　半夏　茯苓　桔梗　米仁　骨脂　乾姜　澤瀉　煎服</p>
<p>詩曰　傷寒咽痛下痢頻半夏甘桂得回生茯苓米仁補骨脂乾姜桔梗澤瀉停</p>
<p>清熱宣絡飲</p>
<p>治風毒上壅陽絡身熱咳嗽口渴胸痞頭目脹大面發泡瘡者神效普濟消毒飲亦佳</p>
<p>荊芥　簿荷　連翹　元參　牛蒡　馬勃　青黛　銀花　煎服</p>
<p>詩曰　清熱宣絡翹荷荊馬勃青黛蒡元參銀花同上水煎服普濟消毒亦神靈</p>
<p>解毒提癍湯</p>
<p>治風溫溫毒時行熱邪深入陽明榮分口渴咽痛目赤唇腫氣粗煩躁舌降齒燥痰咳甚至神昏譫語下利黃水用之以冀萬一</p>
<p>犀角　連翹　葛根　元參　赤芍　丹皮　麥冬　紫草　川貝　中黃　煎服</p>
<p>詩曰　解毒提癍犀角光丹芍葛根參貝添冬翹紫草中黃並溫毒內陷必須煎</p>
<p>泄熱通絡飲</p>
<p>治濕溫時毒內陷化火灼爍津液肺胃榮分被擾逆傳心包熱極動風手足瘛瘀口渴痰咳身熱昏憒狀若驚癇不語如屍厥脈弦數舌苔焦燥咽痛碎腐者出一救治之法</p>
<p>犀角　羚羊　尖貝　青蒿　連翹　知母　麥冬　雙鉤　菖蒲另加至寶丹一粒開水化先服再以煎服之藥繼用</p>
<p>詩曰　泄熱通絡犀羚蒿知貝連翹麥冬討雙鉤菖蒲至寶丹濕溫熱灼或可好</p>
<p>救陰平肝湯</p>
<p>治溫熱極甚壯熱口渴舌黃或焦紅髮痙神昏譫語或笑邪灼心包榮血已耗宜用此方</p>
<p>犀角　連翹　菖蒲　鮮地　元參　羚羊　雙鉤　銀花　煎服佐以</p>
<p>至寶丹先服</p>
<p>詩曰　救陰平肝即通絡當云知貝及青蒿生地銀參增人用清神救液用之妙</p>
<p>息焚救液湯</p>
<p>治濕溫溫熱風溫咽喉腫腐壯熱煩渴脈洪數舌焦紅班疹隱於肌膚內陷不達胸痞自利神昏痙厥熱邪流注里三焦乃大危之候用此以萬一犀角羚羊生地元參銀花紫草菖蒲丹皮漣翹薄荷</p>
<p>石斛麥冬金汁煎服</p>
<p>詩曰　息焚救液犀羚參丹地紫草連翹銀冬荷石斛菖蒲等加上金汁望佳音</p>

<h2>喉症內虛方訣</h2>
<p>陽虛津衰脾弱症元麥四君方法靈陰液虛少血不足加味四物法最神水虛火旺諸虛損六味加減效力能喉癬由於虛火騰肺金太旺氣相蒸紅絲點粒如芥子化癬潤喉立法神欲識喉疳所以生腎虛火旺沸騰騰上齶喉間生白點滋陰清火自然寧石娥生髮有兩層有原不足有胎生肝火痰結興風熱清肝化痰妙方增虛爛喉風虛火炎鮮紅上下白班全痛爛不腫脈細數加味清喉力迴天分碌喉風肝腎虛發於關內滿喉齊紅根白點血腥味新方清咽水煎驅骨槽風起太陽經因於鬱怒致傷筋思慮傷脾肌肉結當歸連翹效如神楊梅結毒癬由生幾白喉中穢氣聞白色變黃饞可喜清熱涼血急追尋喉內腫如桃李形或左右軍蛾名不痛日入死蛾核連甘桔附頻服應雙單死蛾生喉逸胎郁胞垢傷肝鬱火痰結幼兒是舒郁降火服之安回食單名梅核風一名電氣入喉中鬱氣根山妨礙食濟陰化痰二陳宗以上虛火犯咽喉不與六淫治相同</p>

<h2>諸方主治條訣</h2>
<p>元麥四君子湯</p>
<p>治陽虛津衰上午咽痛神疲食減脾胃不足脈形濡數舌薄而乾肢體痿弱日久不愈者神效</p>
<p>潤元參　剖麥冬　西黨參　焦白朮　生甘草　雲茯苓　化橘紅　薄荷梗　玉枯梗　水煎服</p>
<p>詩曰　陽虛元麥四君湯參朮苓甘元麥常桔梗橘紅薄荷梗神疲食減喉痛康</p>
<p>加味四物湯</p>
<p>治陰虛液少午後咽痛喉燥舌乾無苔一切貧血症經久不愈此方主之</p>
<p>蒸熟地　杭白芍　西歸身　真川芎　生甘草　黑元參　剖麥冬　白桔梗　制香附　水煎服</p>
<p>詩曰　加味四物妙難言午後咽痛貧血見穹歸地芍元麥草桔梗香附流水</p>
<p>六味地黃湯</p>
<p>治肝腎不足真陰虧損精血枯耗五癆七傷虛火上炎舌燥咽疼乃壯水制火之妙方也</p>
<p>蒸熟地　粉丹皮　片雲苓　山萸肉　淮山藥　建澤瀉　水煎服　尺</p>
<p>脈旺而龍雷升騰者加肥知母川黃柏尺脈弱而火力衰者加淡附片安南桂陰液不足加烏元參提麥冬降火益源加桔梗以清上源老人虛人咽痛自愈也</p>
<p>詩曰腎陰久虛火上升咽疼齒痛口燥藥苓丹地萸肉元麥澤瀉水煎吞或加知柏或桂附壯水益火臨證分</p>
<p>清金化癬湯</p>
<p>治虛火上炎肺金太旺咽喉燥癢紅絲點粒纏繞飲食阻礙微痛久則喉啞失音而不可救矣</p>
<p>潤元參　剖麥冬　白蘇子　東白薇　生甘草　炙紫菀　牛蒡子　白芥子　蒸百部　水煎服</p>
<p>詩曰　腎火爍金喉癬生元麥蘇芥白薇增紫菀蒡草百部並清金殺蟲效如神</p>
<p>潤喉湯</p>
<p>治喉癬服化癬湯三四劑之後用此方調理</p>
<p>蒸熟地　剖麥冬　生苡仁　大生地　炙桑皮　山萸肉　川貝母　生甘草　水煎服</p>
<p>詩曰　潤喉湯用生熟地桑貝苡仁山茱萸麥冬生草煎成服養陰清金喉癬離</p>
<p>滋陰清火湯</p>
<p>治喉疳因腎虛火旺升騰上竅上齶及扁挑腺內外黏膜紅白細點平坦無剌聲不啞不咳嗽兩尺脈虛者宜之</p>
<p>大生地　粉丹皮　焦山梔　烏元參　奎白芍　女貞子　玉桔梗　南薄荷　雲茯苓　生甘草　水煎服　尺脈旺加知母黃柏俱宜鹽水炒男加龜版女加龜甲</p>
<p>詩曰　喉疳腎虛火上炎滋陰清火丹梔桔苓芍地草貞元荷男龜女鰲加法全</p>
<p>清肝化痰煎</p>
<p>治石蛾但腫不痛因胎生本原不足乃肝火老痰結成惡血凡遇辛苦或受風熱即發用刀針先用甘桔荊薄牛蒡防風冬地貝母木通服之後用此方</p>
<p>大生地　粉丹皮　京川貝　牛蒡子　玉桔梗　剖麥冬　潼木通　蘇薄荷　生甘草　燈心　水煎服　初起形寒惡熱加荊芥防風</p>
<p>詩曰　清肝化痰丹地草蒡貝桔梗本通討麥冬燈心薄荷循肝火老痰石蛾好</p>
<p>加味清喉煎</p>
<p>治虛爛喉風本原因不足虛火上炎喉間白斑痛爛連扁桃腺及內外黏膜視之不腫六脈細數宜以此方</p>
<p>潤元參　大生地　粉丹皮　荊芥穗　玉桔梗　焦山梔　天花紛　牛蒡子　生甘草　南薄荷　青防風　水煎服　尺脈旺去荊防加知母黃柏</p>
<p>詩曰　加味清喉丹扼粉甘桔荊荷蒡元參增上生地水煎服虛斕喉風效力能</p>
<p>新方清咽湯</p>
<p>治勞碌喉風肝腎兩虛發於扁桃腺內黏膜紅點根白不腫常有血腥之氣宜用此方</p>
<p>烏元參　女貞子　大生地　剖麥冬　潼本通　粉丹皮　棗杞子　生首烏　大連翹　生甘草　南簿荷　水煎服</p>
<p>詩曰　清咽湯與散殊巽元麥丹地女貞杞木通首烏荷翹草勞碌喉風神效奇</p>
<p>當歸連翹煎</p>
<p>治憂思郁慮邪毒交乘結聚太陽經絡或惱怒傷肝致筋骨緊急思慮傷脾致肌肉結腫膏粱厚味致膿名臭穢其狀於耳項皮膚間隱隱有核漸如桃李便覺腫痛初則堅硬不消久則延爛難愈甚致齒牙墮落牙床腐穢初起用蛾翎探吐風痰次以陳艾灸耳垂下五七分再用煎藥骨槽風不過如此治法</p>
<p>全當歸　大連翹　焦枳亮　大生地　牛蒡子　二寶花　西赤芍　制膽星　京元參　元胡索　淡條苓　粉丹皮　射干片　水煎服</p>
<p>詩曰　常歸連翹著方名骨槽風症務須吞丹地枳芍元蒡膽元胡銀苓射干成</p>
<p>清熱涼血湯</p>
<p>治陽梅喉癬因棉花瘡毒未盡而結於咽喉其狀周圍紫暈漸至腐爛爛上則鼻平陷爛下則飲食難進多至不救初起不覺或十日半月始知當以清熱涼血補脾佐吞百寶丹二三十服若體弱痰多嗽重聲啞者不治</p>
<p>大生地　天花粉　淡條苓　杭白芍　牛蒡子　川黃柏　粉丹皮　金銀花　元參　青防風　皂角刺　水煎服　體弱加茯苓嗽重加山藥苡仁知母杏仁　姜仁熱甚加犀角黃連服十劑之後另服犀羚貝母膏</p>
<p>詩曰　喉癬爛而侵腦經號曰楊梅不虛名地巧苓粉丹柏銀防風角刺元蒡能</p>
<p>犀角旦母膏</p>
<p>羚角（八錢）　犀角（八錢）　丹皮（八錢）　當歸（五錢）　元參（五錢）　黃苓（三錢）　黃柏（三錢）　防風（三錢）　射干（三錢）　荊芥（三錢）　牛蒡（八錢）　連翹（六錢）　枳殼（六錢）　花粉（五錢）　苡仁（五錢）　土貝母（一兩）　土茯苓（五錢）　煎汁約（四大）　碗濾渣將汁再熬稀糊納煉蜜（半斤）　收貯磁罐日服（四次）　卯已未亥四時每次半鍾以燈心湯調和送下忌生冷發氣之物體弱者去黃連花粉加白芍陳皮石斛噁心砂仁湯送下如合丸去黃連羚角荊防日進（二次）　每次（二錢）</p>
<p>百寶丹</p>
<p>牙皂（一兩）　銀花（三兩）　硃砂（五錢）　研細末每服（六分）　以冷飯塊（三兩）　水（三碗）　煎至碗牛分作（二次）　服須在已午（二時）　必（二十餘）　服方能見效食時多服豬油麻油以潤肌膚藏府忌茶酒牛羊肉麵食蔥蒜等物</p>
<p>連附甘桔湯</p>
<p>治死蛾核因胃中有實火膈上有稠痰或氣鬱火生核砸色白</p>
<p>細川連　制香附　苦桔梗　淡條苓　上廣皮　焦枳殼　京元參　生甘草　水煎服</p>
<p>詩曰　連附甘桔枳殼會元參廣皮及黃苓死蛾但腫不作痛清火利氣化痰靈</p>
<p>舒郁降火湯</p>
<p>治雙軍死蛾風因胎郁胞垢或怒氣傷肝兼之火鬱痰滯一邊為單兩邊為雙小兒生者是大人者非</p>
<p>制香附　大連翹　廣陳皮　淡條苓　川黃柏　川黃連　天花粉　生甘草　水煎服或用牛蒡子湯亦神效方用青皮黃苓陳皮麥桅子連翹當歸</p>
<p>詩曰　痰氣滯鬱結於喉雙軍死蛾不痛究翹草陳粉苓柏連香附舒郁降火求更有牛蒡湯亦宜青苓陳麥梔連歸</p>
<p>濟陰化痰飲</p>
<p>治陰虛火灼憂思郁慮致成喉生梅核氣之候</p>
<p>大生地　金銀花　京元參　上廣皮　川尖貝　遠志肉　川柴胡　玉桔梗　雲茯苓　生甘草</p>
<p>詩曰　濟陰化痰梅氣參貝陳銀甘桔地柴胡云茯遠志肉加減治病總相宜</p>
<p>加味二陳湯</p>
<p>治梅核氣</p>
<p>雲茯苓　法半夏　廣陳皮　老蘇梗　制川樸　焦枳殼　陽春砂　六神麯　生甘草　引生薑水煎服</p>
<p>詩曰　二陳以橘紅君半夏為臣甘草苓蘇樸枳砂六神麯引姜三片水煎成</p>

<h1>訂喉科家訓卷三</h1>

<h2>白喉治法</h2>
<p>夫咽喉乃一身總要呼吸出入處也咽以咽物喉以候氣為肺胃水穀之道內經云一陰一陽結而為痹此指風痰火鬱上凝清竅而言故用甘桔荊防蠶薄等品加減主之前賢已有成法不必闡術今之所謂白喉者肺腎陰虛之症也以少陰經脈挾咽太陰經脈屬喉腎陰久虧虛火上炎灼爍肺經上薰咽喉遂現白點不腫但紅或有腫腐其症微寒惡熱自汗骨即煩悶按脈細數而浮舌色薄黃底絳或喉燥津乾之象治宜養陰清肺湯一二劑可愈如陰虛之中復感外邪惡寒汗少先以除瘟化毒湯清解之或前方加荊防亦可治之如陰虛</p>
<p>火旺之體誤投表藥內熱化火飲水即嗆眼紅聲啞牙緊氣逆日出臭氣咽喉腫爛身熱如焚脈來數疾舌色焦黑無津症已難治急用神仙活命湯清火敗毒間有生者如脾土難以運化嘔吐泄瀉者宜以兼顧脾胃為主養陰和中煎養陰固土飲擇而用之</p>
<p>聖言</p>
<p>仲晾云少陰病心煩咽痛白爛用豬膚凍潤法可知內喉亦屬少陰內熱薰蒸故用一派涼潤之品是乃豬膚湯之功臣可與仲景書並行於世</p>

<h2>白喉治法五門</h2>
<p>清解</p>
<p>內經云冬傷於寒春必病溫以冬受微寒之氣伏於少陰少陰腎水不足寒化為熱至春風邪用事新涼外襲受於肺胃初起形寒發熱汗少心煩咽喉紅痛</p>
<p>脈來浮數舌苔底絳薄白此時伏熱未發速投除瘟化毒湯清解肺胃新感之氣為耍</p>
<p>歌云</p>
<p>白喉症本輕以及風邪侵只許清解藥除瘟化毒靈</p>
<p>粉葛根　忍冬花　霜桑葉　薄荷葉　生甘草　川尖貝　小生地　童　木通　枇杷葉　淡竹葉</p>
<p>加藥法</p>
<p>大便閉者加瓜姜仁二錢郁李仁二錢胸下脹悶者加焦梔亮一錢五分炒麥芽二錢小便短赤者加車前於三錢燈芯一錢</p>
<p>除瘟化毒白喉初</p>
<p>輕而未白服此多</p>
<p>葛根金銀冬桑草</p>
<p>荷貝地通枇竹臨</p>
<p>養陰</p>
<p>前言清解肺胃新感之氣但可施於初起若熱多寒少有汗咽喉已現白象脈數苔黃或細數而浮骨節煩悶此係腎陰久虧伏寒化熱與肝陽之性上爍肺金之故耳常此之時宜以養陰清肺湯滋陰生津平肝熄風可云全愈如有外感加入荊防疏解可也</p>
<p>歌云</p>
<p>養陰清肺湯始終要守方隨症酌加味連服效如彰</p>
<p>麥冬　白芍　生地　粉丹皮　京元參　薄荷葉　川尖貝　生加藥法甘草</p>
<p>喉間腫甚有加SH煆石羔大便燥結數日不通加青寧丸元明粉胸下脹悶加神釉焦查小便短赤加木通澤瀉知母燥渴者加天冬馬兜鈴面赤身熱或舌苔</p>
<p>黃加忍冬花大連翹</p>
<p>養陰清肺麥冬芍</p>
<p>生地丹皮元參酌</p>
<p>荷貝甘草此方用</p>
<p>方外變通臨時加</p>
<p>降火</p>
<p>少陰病臂虧火旺並無外感誤投表散開遠之品以致肝腎之火直衝肺胃咽痛難嚥嚥下即嗆眼紅聲啞大熱煩躁脈來三部有力舌色燥黃尖絳或譫話神昏已屬不治急以神仙活命湯可冀萬一之計</p>
<p>歌云</p>
<p>若遇極重症或被表散誤神仙活命湯冀可得生路</p>
<p>能膽草　潤元參　馬兜鈴　板藍根　瓜姜仁　生石羔　杭白芍　川黃柏　大生地　生梔子　生甘草</p>
<p>加藥法</p>
<p>如舌有芒刺譫語神昏加鳥犀角大便閉塞胸下滿悶者加川樸枳實便閉甚者再加萊藤子生大黃小便短赤者加肥知母福澤瀉車前子</p>
<p>神仙活命用元參</p>
<p>龍膽兜鈴板藍根</p>
<p>石羔梔子川柏片</p>
<p>地草瓜姜芍藥增</p>
<p>和中</p>
<p>脾胃為後天根本連化穀食雖病無害白喉乃少陰內熱薰蒸兼有嘔吐淞瀉明是脾胃不足不能泌清別濁宜以頭脾胃為急務養陰和中煎養陰固土飲因症施用可也</p>
<p>歌云</p>
<p>白喉未服藥嘔瀉和中煎服後如吐瀉養陰固土全</p>
<p>養陰和中煎</p>
<p>潤元參　花提冬　湖丹皮　大生地　炒麥芽　南薄荷　廣藿香　縮砂仁</p>
<p>養陰和中元麥冬</p>
<p>丹地麥芽薄荷同</p>
<p>霍香砂仁水煎服</p>
<p>尚未服藥吐瀉宗</p>
<p>養陰固土飲</p>
<p>廣藿香　陽春砂　酒生地　肥麥冬　奎白芍　川尖貝　焦麥芽　生甘草</p>
<p>養陰固土香砂仁</p>
<p>生地麥冬甘芍臨</p>
<p>川貝麥芽流水煎</p>
<p>服藥之後吐瀉寧</p>
<p>善後</p>
<p>白喉愈後元氣已虛餘毒未清宜以銀花四君子湯培土清毒以防後患如納食連化先天未復腰膝無力津枯咽乾者治宜養正湯固本而消餘毒此善後之妙法也</p>
<p>歌云</p>
<p>銀花四君湯善後培土方更有養正湯腎虛急兼嘈</p>
<p>忍冬花四君子湯</p>
<p>潞黨參　制於術　生首烏　忍冬花　生甘草</p>
<p>白喉善後脾胃虛</p>
<p>銀花四君最為宜</p>
<p>參朮首烏金銀花</p>
<p>牛草加上患可雖</p>
<p>養正湯</p>
<p>生玉竹　生地黃　熟地黃　天花粉　淮山藥　雲茯苓　制首烏　麥門冬　杭白芍　女貞子　西歸身　生甘草</p>
<p>養正湯用二地黃</p>
<p>山藥玉竹麥苓當</p>
<p>花粉首烏甘芍等</p>
<p>更有女貞服之康</p>
<p>此以上乃治白喉之要法又有手法針少商藥水攪痰法通關開喉法外吹散藥法尚未言明再列於後以便應州之計</p>
<p>白喉未兼溫邪牙關不緊外法不可用也如有外邪夾雜不得不用外法兼治</p>
<p>外治法</p>
<p>如口噤先針四穴鼻中吹以通關散再以鵝毛蘸藥水探吐痰涎後以溫水漱之再以三種吹藥認證擇川為妙</p>
<p>第一種吹喉冰硼散</p>
<p>梅花冰片（三分）　真西硼砂（一錢）　選真膽礬（五分）　精燒燈心灰（一錢五分）</p>
<p>共研極細末吹之</p>
<p>第二種吹喉鳳衣散</p>
<p>青果炭（二錢）　川黃柏（一錢）　川尖貝（一錢）　孩兒茶（一錢）　三梅片（五分）</p>
<p>薄荷葉（一錢）　鳳凰衣（五分）</p>
<p>共研細末吹之</p>
<p>第三種吹喉瓜霜散</p>
<p>西瓜霜（二錢）　上辰砂（四分）　上水片（二分）　SH煆中白（二錢）　明雄精（二釐）</p>
<p>共研極細吹之</p>
<p>喉科救急膏</p>
<p>治一切喉症腫痛腐爛用此膏貼喉外五六時揭去有水泡以銀針挑破之</p>
<p>班毛（四錢）　真血竭（六分）　制乳香（六分）　制沒藥（六分）　淡全蟲（六分）　原寸（六分）　大元參（六分）　上梅片（六分）</p>
<p>班毛去頭翅足糯米拌炒以米色黃為度去糯米除血竭外共研極細末再以另研血竭和勻每用如小黃豆大一團放膏中貼之</p>
<p>按水泡挑破之後外以三妙膏貼上以免感風發腫之慮</p>
<p>喉科通開散　秘方</p>
<p>皂角炭　真川芎　燈草灰　三梅片　真金箔　原寸　共研極細末用少許吹之鼻中</p>
<p>喉科藥水各處藥房皆有</p>

<h1>增訂喉科家訓卷四</h1>

<h2>白喉喉痧相似不同義</h2>
<p>白喉咽喉腐也喉痧亦咽喉腐也何以相似不同也是屬難辨誰知白喉由以腎虛火旺里症也咽喉雖腐有汗發熱其勢緩自下焦而至上焦喉痧為厲疫之氣由於口傳入表症也咽喉腫腐發熱無汗其勢急自上焦而至下焦一屬陰虛一屬陽邪不可不知今醫治白喉未能治喉痧治喉痧不能治白喉余今會通者治白喉即能治喉痧治喉痧亦能治白喉即此二症古書雖未暢論大意有之惟仲景云少陰病心煩咽痛白爛用豬膚涼潤法今之白喉書亦從聖書套出並非新出症名也所稱白喉者以咽喉白腐也即如喉痧一症仲景</p>
<p>有陽毒咽痛之文叔和有溫毒之號然其治法未詳後賢論症處方者無數有用辛溫表散法又有辛涼解肌法又有寒涼抑火法論症雖詳而方法各巽也吾今考其原因辛涼透表最屬近理初起連劑並進無不汗暢痧透若過於辛溫表散仍恐汗多亡陽火熱莫制且疫瘀爛喉挾溫者多不得純用溫散吳淮陰雲溫者熱之漸熱者溫之極也斯言是也學醫者辨明表裡虛實寒熱之旨考古酌今靈機活潑非但二症可治即一切之症皆可治也</p>

<h2>喉痧明證說</h2>
<p>喉痧由厲毒內伏其未發之先必五內煩躁手掌心熱漸漸咽痛僧寒發熱胸悶口渴有痧者熱勢必壯川大紅紙捲成條咽菜油點火照看頭而頤項見有痧點隱隱及周身膚胰通紅者無論咽喉紅與不紅腫與不腫腐與不腐但覺咽痛或會痛過發熱後反不甚覺痛者均屬疫痧急宜鰥後各方暢為透達既</p>
<p>透方清層次不可攙越轉捩不可呆鈍蓋從來風火之重變幻之速無有過於此症者一落呆相便多貽誤亦有偶然感觸內本無邪僅見咽痛寒熱熱不甚壯膚腠不紅胸悶口渴亦微者但須乘其初起之時照方疏解不至發痧熱退痛定可愈至於失治邪陷則有腮腫頰車不開唇口緊小肢體膚黑欲脫舌絳喉腐痧點牛隱不透馴至神昏譫語氣喘腹瀉鼻煽鼻煤音啞痙厥不可為矣喉痧發於肺胃初起憎寒發熱為肺邪欲泄之象所以必現咽喉腫痛者咽喉為肺胃道路顧氏為熱淫浮越者是也其瑣碎小粒為痧痧者沙也打暈如塵沙而起屬肺其成片如雲頭突起者為𰣤𰣤者丹也或隱在皮膚之間多起於手足身背之一前賢為屬脾以脾主肌肉故也余則以為此正胃腑之熱浮外越耳蓋明亦主肌肉也有一見即化者有痧透後始化者其如疙瘩愧者發者多麻木而癢此係其人肝熱而兼濕痰藥宜佐以泄肝化痰滲濕之品至於</p>
<p>失治邪陷初陷則在少陽陽明耳前後腫陷之深則頰車不開唇緊膚黑陰明風毒極盛也其舌苔黃而底白者猶在氣分至舌絳則直逼營分矣營分受邪則逼入心絡再陷則神昏譫語毒陷益烈惡候並見不轉瞬而風火交煽痙厥立至鼻煽音啞肺陰告絕頃刻云亡其氣喘腹瀉鼻煤之症微者可治甚者不可治當以後立各門中求之</p>

<h2>喉痧先宜疏表說</h2>
<p>古來治喉痧者莫不重於咽喉而忽於痧疹早進寒涼遏伏疫邪之故耳凡厲疫之氣由口鼻而入於肺胃發必由肺胃而出於肌表熱淫上升咽喉必痛所以必先透痧為要痧透之後再議治喉此一定之理也是症之源流痧疹為本咽喉為標苟非洞開毛竅何以泄其毒而殺其勢此開手所以用透表法也俾汗暢而丹痧外達至無惡寒壯熱之象則外閉之風寒已解內蘊之毒火方張</p>
<p>寒涼瀉熱初起是所忌投既透之後又不得仍用辛散也</p>

<h2>解穢發散疏風疏肺說</h2>
<p>時命不正天陽之氣及地質穢濁之氣由口鼻而入瀰漫於無形勢必芳香以解之如臥龍丹太乙丹闢瘟丹之類是也</p>
<p>屬痧陽腑經邪初起必從發散疫痧受邪重於時痧尤宜即與關達如荊防豆豉之類是也</p>
<p>疫痧每發於火旺風勝之年且必觸時令之毒風而發故疏風為必需之品若已成火化者桑蒺參用也</p>
<p>疫痧疏肺者以肺主皮毛肺氣開則皮毛亦開自無壅滯不透之患且肺主一身之氣化清肅下行諸氣受治疫痧亦因而自潰故蒡前杏貝桔梗循經速達皆為斯症之妙品臨症宜細審也</p>

<h2>疫毒兩腮結腫說</h2>
<p>疫邪郁於少陽陽明之經絡凝結上焦遂致兩腮結腫今之所謂痧毒古云鰻鯉瘟是也當用柴胡葛根防風蒺藜頰車開闔不利只用防風蒺藜加於主藥中可也口唇緊小膚黑欲脫秦艽蒺藥加之以上痧未透清之治法又有痧疹透後結核腫痛未成膿者用消風化痰活血解毒以散之如桑葉蒺藜牛蒡前胡杏仁貝母甘草桔梗赤芍制蠶之預治之</p>

<h2>望舌說</h2>
<p>舌苔白膩而滑表有風寒白而厚膩內挾穢濁不正之氣微黃漸從火化黃甚痧火爍氣也尖絳邪熱人心純絳色鮮澤邊尖生刺痧已透為營熱外泄未透紫絳而乾根邊多帶黃白厚膩此表邪未透痧火已爍及營分為難治中心焦黑舌短縮乾絳而硬中心焦神昏者皆不治</p>

<h2>善後說</h2>
<p>喉瘀愈後須善自保衙以復太和其餘熱須清泄淨盡可加培養宜薄滋味節飲食謹嗜欲一切腥膻發物及房室俱宜遠戒否者痧後餘波變怪百出慎勿輕易嘗試</p>

<h2>喉痧順逆治法論</h2>
<p>夫喉痧一症疫邪由口鼻而入於肺胃蓋肺主皮毛開竅於鼻胃主肌肉挾口環唇西醫云人吸空中養氣而活所謂養氣即天陽之正氣也如吸正氣何病之有今之疫邪者乃天陽時令不正及地質穢濁之氣與養氣相渾而入於肺胃二經故必由肺胃之經絡而發於咽喉初起僧寒發熱身疼無汗遍身𰣤痧咽喉腫痛斯時即進辛涼解散湯引痧出外為妙又有初發即神昏譫語疫邪侵襲神經毒素流行三焦辛涼宜透法主之使𰣤痧透達不致內竄可也此一</p>
<p>二日大概情形也如初起誤投寒涼表邪夫透內郁化火壯熱煩躁痧隱肌肉面紅目赤骨節疼痛無汗咽喉腫痛腐爛乃一陰一陽之火乘威上亢銷爍肺金由是音鼻塞並見也速投疏達以開其毛竅清裡以化其毒吹以化腐丹使疫邪不上焰毒火不內射可望轉機之理些西日之情形也主方以清涼解毒湯可也至五六日熱勢更甚汗少痧隱神昏譫語喉腐且臭唇燥舌乾而絳氣機不利津液枯涸此係初時失於透表或誤進苦寒逼其疫毒內陷自肺胃營分逆傳心包竟成難瘳之候治仿犀角地黃合清官湯佐以紫雪丹和入金汁外吹珠黃散清涼解熱芳香逐穢冀燒幸於萬一如痧尚未達壯熱無汗內火已熾大便乾結燥實腑氣不通治以表裡兩解涼膈散加荊防主之使其痧透火清而大便通行為妙又有汗出痧透液傷燥結便秘者滋陰清肺中加元明粉生軍養掖潤燥可愈如誤治或失治至七八日咽喉腐爛汗出縵熱音啞無聲氣逆喘急苔色絳乾此陰陽俱羝疫毒內陷津液灼耗痰涎沖激致令肺氣不能降腎氣不能納內閉外脫之象姑以扶正滌痰湯盡人力以待天命而已愈後調理以生津養液加減滋陰清肺湯為主總之此症肺胃二經為受病之根本先散後清為治法之宗旨先哲云驟寒則火鬱而內澄過散剛火焰而腐增此二語至理名言卓然不拔若初起而驟川清濺化火而妄投表散其不致憤事者幾希可不慎歟拙見如此祈高明裁政余之獲益無既蒼生亦共被福澤也</p>
<p>喉瘀治法五門</p>
<p>疏達</p>
<p>疫邪自口鼻而入於肺胃病必由肺胃而見於咽喉初發之時胸膈才間蘊積毒邪致生風痰壅滯不散發為咽喉之病先是紅腫縱而白腐疼痛塞熱湯水</p>
<p>難人遍身𰣤痧隱隱等症斯時也若不疏邪達表而但用滋清之劑剛恐深入臟腑敗症百出莫可挽回必須用辛涼解散使疫邪外透不致內竄為妙吹以</p>
<p>喉痧妙藥徽為首務也</p>
<p>歌云</p>
<p>辛涼解散湯疫痧初起嘈因症宜變化汗出方為康</p>
<p>薄荷葉　淨蟬衣　大力子　焦山扼　大連翹　冬桑葉　淡竹葉　荊芥穗　青防風　象貝母　淡豆鼓　生甘草　水煎服嘔加橘絡竹茹瀉加葛根蛾加丹皮</p>
<p>辛涼解散蟬荷蒡</p>
<p>梔翹桑竹荊防良</p>
<p>貝車豆豉水煎服</p>
<p>喉痧初起立法詳</p>
<p>清散</p>
<p>疫邪不由外達內郁化火汗泄灼熱不退口乾欲飲咽喉腫腐日甚脈數舌黃乃一陰一陽之火乘威上亢銷爍肺金勢必見音啞鼻塞之惡象速進清火透解清涼解毒湯是也外以吹喉化腐丹吹之俾火毒清而汗暢莎透可云向愈之理</p>
<p>歌云</p>
<p>若遇症已重汗少熱邪壅內清外透法清涼解毒宗</p>
<p>羚羊角　川尖貝　大連翹　鮮金釵　焦山梔　蘇薄荷　冬桑葉　淡竹葉　荊芥穗　青防風　二寶花　生甘草</p>
<p>水煎服使疫邪不上焰毒火不內射可望轉機</p>
<p>清涼解毒羚貝翹　斛草梔荷桑竹交</p>
<p>荊防二寶流水煎　疫邪化火服之好</p>
<p>清化</p>
<p>疫邪內陷熱勢頗甚咽喉腐爛神識昏迷語言錯亂痧不透達脈弦勁數此疫毒火熾逼人心包絡神明無主甚為險惡之候急用清涼解疫湯佐以紫雪丹外吹珠黃散清涼解熱芳香逐穢冀僥倖於萬一</p>
<p>歌云</p>
<p>疫邪內陷症喉腐神迷臨清涼芳香法冀可望生因</p>
<p>甘中黃　冬桑葉　鮮生地　忍冬花　大連翹　潤元參　真川連　焦山梔　川尖旦　童木通　薄荷葉　陳金汁</p>
<p>水煎服先以紫雪丹三分開水化下後服煎藥</p>
<p>清涼解疫中黃先　參地銀翹木遍連</p>
<p>梔貝桑荷陳金汁　痧隱喉腐熱甚煎</p>
<p>救液</p>
<p>雷少逸云溫病最易傷陰常保陰生津為要今疫癘喉症轉機之後其陰液未必不傷舌絳而乾喉雖清爽燥癢無津脈仍數象是症之明驗也此係肺胃餘熱未清腎陰不足所致滋陰清肺湯治之</p>
<p>歌云</p>
<p>滋陰清肺湯將愈是妙方臨症欲知化連服保液彰</p>
<p>鮮生地　鮮金釵　京元參　剖麥冬　霜桑葉　川尖貝　湖丹皮　生甘草　枇杷葉　甜梨汁　水煎服</p>
<p>痧透熱退喉漸清　肺胃餘熱用滋陰</p>
<p>冬地元斛桑貝枇　梨草丹皮服之寧</p>
<p>救治</p>
<p>爛喉痧日數已多咽喉爛甚汗出漫勢音無聲氣逆喘急此陰陽俱虧疫毒內陷津液灼耗痰涎沖激致令肺氣不能降腎氣不能納內閉外脫之象危在旦夕勉用扶正滌痰之法盡人力以侍天命而已</p>
<p>歌云</p>
<p>喉痧日數多肺臟氣欲無勉用扶正法未知後如何</p>
<p>西洋參　潤元參　霍山斗　川尖貝　黛蛤散　大花提　大生地　生甘草　瓜姜皮　甜杏仁　淡竹瀝　珍珠粉　頂猴棗　水煎服</p>
<p>扶正滌痰西洋參</p>
<p>元參石斛貝杏仁</p>
<p>生地姜草黛蛤散</p>
<p>竹瀝珠粉猴棗成</p>

<h2>附經念方案一則</h2>
<p>脈形浮洪舌色薄膩神迷嘔懇時欲譫語痧隱肌膚喉痧毒素已走全身疫邪</p>
<p>自肺胃流注三焦攻衝心包姑以芳香宣竅佐以疏解透泄以冀轉重為輕可愈此症</p>
<p>荊芥穗　青防風　大力子　粉葛根　冬桑葉　鮮菖蒲　川尖貝　薄荷葉　潤元參　廣藿梗　淡竹葉　水煎服</p>
<p>辛涼宣透桑竹君</p>
<p>荷貝葛根荊防臨</p>
<p>菖蒡元參廣藿梗</p>
<p>喉痧攻衝用之寧</p>
<p>以上治喉痧之法大旨已備所有前賢治臉條例及吹散等方並例於後以俟學後臨症詳審施用可也</p>

<h2>前賢條治</h2>
<p>丁甘仁曰喉痧表邪未解大便燥結腑氣不通脈實有力治仿釜底抽薪引火下行之法涼膈散主之如舌苔厚膩內夾食積可加消食之品除其有形之食</p>
<p>則無形之熱自解</p>
<p>焦山梔　大連翹　淡條苓　薄荷葉　生甘草　元明粉　生大黃　水煎服　挾食加查舢川樸惡寒加荊防</p>
<p>涼膈散治膈熱甚</p>
<p>梔翹芩薄草硝黃</p>
<p>食積查曲川卷樸</p>
<p>疏表荊防神效方</p>
<p>顧玉峰曰疫痧失於透解最易內陷心包痧雖透而未能盡透色紫或赤脈弦喉爛舌絳心黑口渴譫語疫毒化火流注三焦內而臟腑外而肌肉勢屬大危之候勉以犀角地黃合清宮湯佐以紫雪丹化服古賢云小舟在洋收帆未定也</p>
<p>烏犀尖　鮮生地　杭白芍　粉丹皮　潤元參　剖麥冬　蓮子心　連翹心　淡竹葉　水煎服</p>
<p>犀角地黃芍藥丹清宮蓮子元翹傳</p>
<p>竹葉麥冬成一劑</p>
<p>神昏譫語服之安</p>
<p>加減法</p>
<p>熱痰盛兮加竹瀝　梨汁同添各五匙</p>
<p>咯痰不清姜皮人　熱毒中黃金汁施</p>
<p>漸欲神昏須早救　銀花荷葉石蒲治</p>
<p>葉天士云爛喉痧症發於春之際不分老幼遍相傳染髮則壯熱煩渴癍密肌紅宛如錦紋咽喉疼痛腫爛一團火熱內熾醫家見其火熱之甚投以犀羚芩連梔膏之品輒至隱伏昏閉及喉爛廢食延挨不治或便瀉內陷轉眼凶危醫者束手病家委之於侖誰知初起之時頻進解肌散表溫毒外達多有生者荊防葛根湯加減可也</p>
<p>荊芥穗　青防風　粉葛根　冬桑葉　鮮菖蒲　薄荷葉　大力子　大旦母　淡竹葉　淨蟬衣　水煎服此方節前經驗方案之辛涼宣透法減</p>
<p>藿香元參也噁心嘔吐仍加萋香為妙</p>
<p>高錦庭云爛喉丹痧系天行疫厲之毒故長幼傳染者多外從口鼻而入內從肺胃而發其始起也脈緊弦數惡寒頭脹膚紅肌熱咽喉結痹腫腐遍身班疹隱隱斯時即宜疏達治以牛蒡解肌湯如有挾食加以消食之品為主</p>
<p>牛蒡子　蒲荷葉　荊芥穗　青防風　焦山梔　大連翹　粉丹皮　霍山斗　潤元參　水煎服</p>
<p>牛蒡解肌用荊防</p>
<p>元斛蒲荷丹梔翹</p>
<p>風火疫毒喉痧症</p>
<p>疏表清裡煎服好</p>
<p>曹心怡曰冬燠春寒邪郁肺胃運水令火結而為痹咽喉紅腫而痛或怛痛不</p>
<p>腫不紅僧寒發熱或壯熱或不甚熱或乍寒乍熱微者飲食如常甚者胸痞咽阻不能食脈形弦數濡數或沉數或沉弦不數或右寸獨大或兩寸並沉或左部兼緊皆邪郁未伸之象也舌白不渴或微渴而苔滑膩或渴甚而苔仍白滑邪在表分也荊防麻豉湯主之胸痞咽阻先以太乙救苦丹化服</p>
<p>荊芥穗　青防風　炙麻黃　大力子　玉桔梗　杏仁泥　大貝母　甘中黃　西河柳　痰濕盛舌白膩加紫苑　呱血加桑皮　腹痛瀉甚加粉葛根　挾食加枳查麥芽　經水適來及男子奪精加紫芍以除四支厥冷舌黃去荊加桑葉黃甚燥渴加霍山斗　耳前後掣痛或腫加紫葛白蒺頰車嗦痛加白蒺藜　唇口緊小焦黑芄蒺同用</p>
<p>按此方過於散表非冬令嚴寒水冰地凍之時未可輕用麻黃專司冬令寒邪頭疼發表之力甚大加以荊防兄豉牛蒡之疏風透表桔梗載藥上升雖</p>
<p>有杏仁之潤肺貝母中黃之涼化河柳又是發汗之品究竟升散太多非質弱之人主方也疫厲喉痧體質強者未能傳染今之臨症氣虛多而氣實者少也世醫軌此施治豈能無誤今仍條治冬令喉痧氣實無汗可以暫用</p>
<p>冬令染疫爛喉痧　荊防麻豉效可誇</p>
<p>兼用牛蒡杏貝桔　中黃河柳水煎可</p>
<p>痧透喉寬苔黃尖絳脈轉洪數桑防白膏湯主之</p>
<p>桑葉　防風　豆豉　牛蒡　桔梗　前胡　杏仁　土貝　中黃　霍斛河柳</p>
<p>愚接此方痧疹未透苔雖黃底白用之外透表而內清化之劑主治條下痧透喉寬苔黃尖絳脈洪數曹心怡以為佳方吾不信也</p>
<p>痧點逼留不化舌色純絳鮮澤尖上起刺羚羊黑膏湯主之</p>
<p>羚羊　豆豉　鮮地　桑葉　白蒺　牛蒡　桔梗　前胡　杏仁　土貝中黃</p>
<p>愚按是方減盍前桔杏鼓中黃加滁菊霍斛甘草薄荷為穩熱甚生風加鉤藤</p>
<p>痧回熱退舌化脈和餘邪未淨時時手足心熱桑丹瀉白散主之</p>
<p>桑葉　丹皮　桑皮　地骨　牛蒡　前胡　杏仁　土貝　甘草</p>
<p>愚按痧回熱退舌化脈和餘邪未淨法宜滋清熄邪此方似乎不合肺之氣</p>
<p>液已衰有桑皮之瀉肺痧回熱退復用牛蒡前胡之疏解姑仍之不過有是</p>
<p>法耳</p>
<p>痧後肺胃餘風未清牛蒡前胡湯主之</p>
<p>牛蒡　前胡　桑葉　白蒺　杏仁　姜仁　杷葉</p>
<p>愚案不如用桑葉滁菊蒺藜薄荷杷葉鉤藤芍藥甘草為穩當</p>
<p>瘥後胃燥霍斛元參湯主之瘥後肝胃之陰不復者參烏湯主之</p>
<p>霍鬥　元參　杏仁　姜仁　煎服</p>
<p>西洋參　制首烏　煎服</p>
<p>此二方不如用養陰法加味為妙</p>
<p>痧後燥結用五仁丸</p>
<p>火麻仁　柏子仁　叭杏仁　瓜姜仁　郁李仁　為丸服</p>
<p>吹藥類</p>
<p>第一種喉痧妙藥散</p>
<p>真尖黃　提濂珠　三梅片　西月石　銀紛霜　天竺黃　飛硃砂</p>
<p>共研極細末吹之</p>
<p>第二種吹喉化腐丹</p>
<p>煆月石　煆中白　西瓜霜　飛明雄　天竺黃　真尖黃　大濂珠　三梅片　飛硃砂　共研極細末吹之</p>
<p>第三種吹喉珠黃散</p>
<p>真犀黃　飛硃砂　淨珍珠　上滴乳石　西月石　真原寸　飛雄精</p>
<p>粉兒茶　煆中白　大梅片　共研細末吹之</p>
<p>以上治喉痧大法已全又有臥龍丹玉樞丹太乙救苦丹等方常於衛生鴻賓書中求之</p>
