<header data-type="book">
<h1>十四經穴歌訣</h1>
<dl class="元資料">
<div><dt>出處</dt><dd>醫宗金鑑</dd></div>
<div><dt>品質</dt><dd>100%</dd></div>
<div hidden><dt>版式</dt><dd>今版</dd></div>
</dl>
</header>

<p>手太陰肺十一穴，中府雲門天府列，次則俠白下尺澤，又次孔最與列缺，<br>
經渠太淵下魚際，抵指少商如韭葉。</p>
<p>手陽明穴起商陽，二間三間合谷藏，陽谿偏歷歷溫溜，下廉上廉三里長，<br>
曲池肘髎迎五里，臂臑肩髃巨骨起，天鼎扶突接禾髎，終以迎香二十止。</p>
<p>四十五穴足陽明，承泣四白巨髎經，地倉大迎登頰車，下關頭維對人迎，<br>
水突氣舍連缺盆，氣戶庫房屋翳尋，膺窗乳中下乳根，不容承滿出梁門，<br>
關門太乙滑肉起，天樞外陵大巨裏，水道歸來達氣街，髀關伏兔走陰市，<br>
梁邱犢鼻足三里，上巨虛連條口底，下巨虛下有豐隆，解谿衝陽陷谷同，<br>
內庭厲兌陽明穴，大指次指之端終。</p>
<p>足太陰脾由足拇，隱白先從內側起，大都太白繼公孫，商邱直上三陰塢，<br>
漏谷地機陰陵泉，血海箕門衝門前，府舍腹結大橫上，腹哀食竇天谿連，<br>
胸鄉周榮大包盡，二十一穴太陰全。</p>
<p>手少陰心起極泉，青靈少海靈道全，通里陰郄神門下，少府少衝小指邊。</p>
<p>手太陽經小腸穴，少澤先於小指設，前谷後谿腕骨間，陽谷須同養老列，<br>
支正小海上肩貞，臑俞天宗秉風合，曲垣肩外復肩中，天窗循次上天容，<br>
此經穴數一十九，還有顴髎入聽宮。</p>
<p>足太陽經六十三，睛明攢竹曲差參，五處承光接通天，絡卻玉枕天柱邊，<br>
大杼風門引肺俞，厥陰心膈肝膽居，脾胃三焦腎俞次，大腸小腸膀胱如，<br>
中膂白環皆二行，去脊中間二寸許，上髎次髎中髎下，會陽須下尻旁取，<br>
還有附分在三行，二椎三寸半相當，魄戶膏肓與神堂，噫譆膈關魂門旁，<br>
陽綱意舍及胃倉，肓門志室連胞肓，秩邊承扶殷門穴，浮郄相鄰是委陽，<br>
委中再下合陽去，承筋承山相次長，飛揚附陽達崑崙，僕參申脈過金門，<br>
京骨束骨近通谷，小指外側尋至陰。</p>
<p>足少陰腎二十七，湧泉然谷照海出，太谿水泉連大鍾，復溜交信築賓立，<br>
陰谷橫骨趨大赫，氣穴四滿中注得，盲俞商曲石關蹲，陰都通谷幽門值，<br>
步廊神封出靈墟，神藏彧中俞府畢。</p>
<p>心包九穴天池近，天泉曲澤郄門認，間使內關踰大陵，勞宮中衝中指盡。</p>
<p>手少三焦所從經，二十三穴起關衝，液門中渚陽池歷，外關支溝會宗逢，<br>
三陽絡入四瀆內，注於天井清冷中，消濼臑會肩髎穴，天髎天牖經翳風，<br>
瘈脈顱息角耳門，和髎上行絲竹空。</p>
<p>足少陽經童子髎，四十三穴行迢迢，聽會客主頷厭集，懸顱懸釐曲鬢翹，<br>
率谷天衝浮白次，竅陰完骨本神至，陽白臨泣開目窗，正營承靈腦空是，<br>
風池肩井淵液長，輒筋日月京門鄉，帶脈五樞維道續，居髎環跳市中瀆，<br>
陽關陽陵復陽交，外邱光明陽輔高，懸鍾邱墟足臨泣，地五俠谿竅陰畢。</p>
<p>足厥陰經一十四，大敦行間太衝是，中封蠡溝伴中都，膝關曲泉陰包次，<br>
五里陰廉上急脈，章門纔過期門至。</p>
<p>任脈中行二十四，會陰潛伏兩陰間，曲骨之前中極在，關元石門氣海邊，<br>
陰交神闕水分處，下脘建里中脘前，上脘巨闕連鳩尾，中庭膻中玉堂聯，<br>
紫宮華蓋循璇璣，天突廉泉承漿端。</p>
<p>督脈行脈之中行，二十八穴始長強，腰俞陽關入命門，懸樞脊中中樞長，<br>
筋縮至陽歸靈臺，神道身柱陶道開，大椎瘂門連風府，腦戶強間後頂排，<br>
百會前頂通顖會，上星神庭素髎對，水溝兌端在唇上，齦交上齒縫之內。</p>

<span data-rev="校">
<h2>校註</h2>
<ul>
<li>足太陽：缺眉衝、督俞、氣海俞、關元俞
<li>足少陰：照海－大鍾與今日穴位順序不同
<li>足少陽：應為四十四穴
</ul>
</span>
