<header data-type="book">
<h1>通玄指要賦</h1>
<dl class="元資料">
<div><dt>出處</dt><dd>針經指南</dd></div>
<div><dt>底本</dt><dd>知音五版《針灸學》</dd></div>
<div><dt>品質</dt><dd>95%</dd></div>
<div hidden><dt>版式</dt><dd>今版</dd></div>
</dl>
</header>

<p>望聞問切，推明得病之原；補瀉迎隨，揭示用針之要。<br>
予於是學，自古迄今，雖常覃思以研精，竟未鉤玄而索隱。<br>
俄經傳之暇日，承外舅之訓言，云及世紛，續推兵擾。<br>
其人也，神無依而心無定；可病之，精必奪而氣必衰。<br>
兼方國以亂而隔殊，醫物絕商而那得。<br>
設方有效，歷市無求；不若砭功，立排疾勢。<br>
既已受教，遂敏求師，前後僅十七年，無一二真個輩。<br>
後避屯於蔡邑，方獲訣於李君，<br>
斯人以針道救疾也，除疼痛於目前，愈瘵疾於指下。<br>
信所謂伏如橫弩，應若發機，萬舉萬全，百發百中者也。<br>
加以好生之念，素無竊利之心。<br>
嘗謂予曰：天寶不付於非仁，聖道須傳於賢者。<br>
僕不自揆，遂仲有求之懇，獲垂無吝之誠。<br>
授穴之所秘者，四十有三；療疾而弗瘳者，萬千無一。<br>
遂銘諸心，而著之髓，務拯其困，而扶其危。<br>
而後除疼痛迅若手拈，破結聚渙如冰釋。<br>
夫針者也，果神矣哉！然念茲穴俞而或忘，借其聲律則易記。<br>
輒裁八韻，賦就一篇。<br>
詎敢匿於己私，庶共傳於同志。<br>
壬辰重九前二日謹題。</p>
<p>必欲治病，莫如用針，巧運神機之妙，工開聖理之深。<br>
外取砭針，能蠲邪而扶正；中含水火，善回陽而倒陰。<br>
原夫絡別支殊，經交錯綜，或溝池溪谷以岐異，或山海丘陵而隙共。<br>
斯流派以難揆，在條綱而有統。<br>
理繁而昧，縱補瀉以何功；法捷而明，自迎隨而得用。<br>
且如行步難移，太衝最奇；人中除脊膂之強痛，神門去心性之呆癡。<br>
風傷項急，始求於風府；頭暈目眩，要覓於風池。<br>
耳閉須聽會而治也，眼痛則合谷以推之。<br>
胸結身黃，取湧泉而即可；腦昏目赤，瀉攢竹以便宜。</p>
<p>但見苦兩肘之拘攣，仗曲池而平掃。四肢之懈惰，憑照海以消除。<br>
牙齒痛呂細堪治，頭項強承漿可保；太白宣導於氣衝，陰陵開通於水道。<br>
腹膨而脹，奪內庭以休遲；筋轉而疼，瀉承山而在早。</p>
<p>大抵腳腕痛，崑崙解愈；股膝疼，陰市能醫。<br>
癎發癲狂兮，憑後谿而療理；瘧生寒熱兮，仗閒使以扶持。<br>
期門罷胸滿，血臌而可以，勞宮退胃翻、心痛亦何疑。<br>
稽夫大敦去七疝之偏疼，王公謂此；三里卻五勞之羸瘦，華佗言斯。</p>
<p>固知腕骨祛黃，然骨瀉腎；行間治膝腫目疾，尺澤去肘疼筋緊。<br>
目昏不見，二間宜取；鼻室無聞，迎香可引。<br>
肩井除兩髀難任，攢竹療頭疼不忍。<br>
咳嗽寒痰，列缺堪治；眵䁾冷淚，臨泣尤準。<br>
髖骨將腿痛以祛殘，腎俞把腰疼而瀉盡。<br>
以見越人治尸厥於維會，隨手而蘇；文伯瀉死胎於陰交，應針而隕。</p>
<p>聖人於是察麻與痛，分實與虛，實則自外而入也，虛則自內而出歟。<br>
以故濟母而裨其不足，奪子而平其有餘。<br>
觀二十七之經絡，一一明辨；據四百四之疾證，件件皆除。<br>
故得夭枉都無，躋斯民於壽域，幾微已判，彰往古之玄書。<br>
抑又聞心胸病，求掌後之大陵；肩背患，責肘前之三里。<br>
冷痹腎敗，取足陽明之土；連臍腹痛，瀉足少陰之水。<br>
脊間心後者，針中渚而立痊；脇下肋邊者，刺陽陵則即止。<br>
頭項痛，擬後谿以安然；腰腳疼，在委中而已矣。<br>
夫用針之士，於此理苟明者焉，收祛邪之功，而在乎捻指。</p>
