<header data-type="book">
<h1>不謝方一卷</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陸懋修</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>世補齋不謝方小引</h1>
<p>疾病二字，世每連稱。然今人之所謂病，於古但稱為疾。必其疾之加甚始謂之病。病可通言疾，疾不可遽言病也。子之所慎者疾，疾者未至於病。及子路請禱，又欲使門人為臣，則日子疾病。《左傳》於魏顆輔氏之役，述其父武子疾，既而曰疾病。又陳文子召無宇於萊，亦曰無宇之母疾病。此皆以病字別為一句。病之為言困也，謂疾至此困甚也。故《內經·四氣調神論》曰：聖人不治已病治未病。病已成而後藥之，譬猶渴而掘井，鬥而鑄兵，不亦晚乎？經蓋謂人於已疾之後未病之先即當早為之藥。乃後人以疾為病，認作服藥於未疾時，反謂藥以治病。未病何以藥為？不知經言未病正言已疾。疾而不治，日以加甚。《儀禮·既夕記》：疾病，外內皆埽。鄭注：疾甚曰病。鄭於「喪大記」首句義同，並足取以證。《說文》：疾，病也。病，疾加也。兩義再證以《周禮》：疾醫。賈疏引《漢書·藝文志》：有病不治，恆得中醫。則謂藥不中病，不如勿藥，非謂既病而可弗藥也。匯而觀之，可見病甚而藥，藥已無及。未至於病即宜藥之，此則《內經》未病之旨，豈謂投藥於無疾之人哉？夫病必使之去，不可使之留。《內經》最惡留病，故曰：百病之始生也，必先於皮毛。留而不去，傳入於府，廩於腸胃。又曰：風寒客於人，病入舍於肺。弗治，病即傳而行之肝。弗治，肝傳之脾，脾傳之腎，腎傳之心。滿十日法當死。故又謂：善治者治皮毛，其次治肌膚，治筋骨，治六腑，治五臟。治五臟者，半死半生也。然則如經所云，邪之新客，未有定處，推之則前，引之則止。時顧可留其病而弗使去乎？醫以能治大病為上，醫正以不使病大為能。人之言曰：不使病大則病家並不信。《內經》十日以後事即此十日內不速去之病為之，故病愈而不謝，病愈之速而更不謝，曲突徙薪者必無恩澤也。雖然病而不愈必大，惟其愈之能速，而凡後此傳變皆消弭於無形，所以有此人不及知而己獨知之之妙。餘隻問其病之愈不愈，遑計人之知不知哉。今錄諸方存之，即名之曰《不謝方》云。</p>

<h1>不謝方一卷</h1>
<p>風寒溫散　此即俗所稱小傷風也。其冬月正傷寒須用桂、麻、青龍者，不在此例。切忌早用寒涼。</p>
<p>防風　荊芥穗　紫蘇葉　姜半夏　廣陳皮　枳殼　苦桔梗　炙甘草　加生薑（去皮）</p>
<p>頭痛甚加藁本、蔓荊子。</p>
<p>風熱涼散　此即風溫之輕者。凡羌、獨、柴、前、芎、芷、升、葛，隨證可加。病與風寒無大異，獨不得用桂、麻。</p>
<p>防風　荊芥　蘇薄荷　霜桑葉　淡竹葉　連翹　生山梔　廣橘紅　枳殼　桔梗　炙草　加連須蔥白頭</p>
<p>風寒挾食　甚者須用硝、黃，不在此例。凡有感冒，胃腸即不健運，非必傷於食也。</p>
<p>防風　荊芥　建神麯　焦穀麥芽　萊菔子　南楂炭　桔梗　蘇梗</p>
<p>或加雞內金，或加檳榔、枳實。酒客加葛花、枳椇子。</p>
<p>風寒挾痰　寒水為病，水即痰也。故有感冒，每涉於痰。甚則須用膽星、竹瀝、葶藶之屬。</p>
<p>防風　荊芥　半夏　陳皮　萊菔子　白芥子　蘇子　江枳實　竹茹　雲茯苓　炙草</p>
<p>便溏蘇子易蘇梗。</p>
<p>風寒挾濕　寒濕之病，上甚為熱。以上三證亦有因於風熱者。無論何病，有此三挾，皆可檢用三方之藥。</p>
<p>羌活　獨活　防風　蒼朮　藿香　廣木香　川厚朴　豬苓　赤茯苓　建澤瀉</p>
<p>或加漢防己。</p>
<p>傷寒成溫　寒一化熱，便忌桂、麻，甚則須用膏、黃。大忌滋膩等藥及珠、黃、冰、麝。凡在溫熱病皆然。</p>
<p>葛根　黃芩　川黃連　生山梔　淡豆豉　牛蒡子　連翹　赤勺　丹皮　桔梗　生草</p>
<p>或加蔥白頭。</p>
<p>冬溫　冬月病熱，即是冬溫。不可用正傷寒之桂、麻。甚則亦有須用膏、黃、芩、連者。</p>
<p>玉竹　白薇　生山梔　赤芍　丹皮　桑白皮　知母　白杏仁　桔梗　生草</p>
<p>用臘雪水煎。</p>
<p>春溫　春月病熱，即是春溫。宜忌與冬溫同。以上二證即《傷寒論》中之溫病也。</p>
<p>柴胡　葛根　黃芩　黃連　薄荷　桑葉　連翹　生山梔　赤芍　丹皮　生草</p>
<p>肝、腎熱加羚羊角、龍膽草、黃柏、知母。</p>
<p>風溫　春為風，風溫在春為多。凡目赤、頤腫、牙痛、喉痧，皆是其微者，但為風熱。</p>
<p>防風　川芎　左秦艽　薄荷　桑葉　淡竹葉　連翹　金銀花　射干　馬勃　桔梗　生草</p>
<p>咳加杏仁、橘紅。</p>
<p>濕溫　此證多見於首夏、初秋。甚者用蒼朮白虎湯。凡一人獨病之溫，通不得謂為瘟疫。</p>
<p>白芷　製蒼朮　厚朴　薏仁　川黃柏　川楝子　豬苓　赤苓　澤瀉</p>
<p>或用茵陳蒿，或加牛膝、車前、川萆薢。</p>
<p>夏暑　暑即熱也，亦曰中暍。其別有乘涼飲冷而病者，為寒霍亂，須用理中、四逆及諸辛熱方者，不在此例。</p>
<p>香薷　扁豆衣　厚朴　黃連　蘇葉　藿香　青蒿　宣木瓜　赤苓　澤瀉</p>
<p>酌加諸六一散。熱甚不禁西瓜。</p>
<p>秋燥　此證最多咳逆，不用桂、麻，甚者須用石膏。其陽明燥金重侯不在此例。</p>
<p>薄荷　桑葉　杏仁　川貝母　牛蒡子　栝樓根、實　桔梗　生草</p>
<p>加枇杷葉。喉痛加射干、馬勃。</p>
<p>濕痰　隨證可加膽星、枳實、竹瀝之屬。其土弱木強可用香砂六君、歸芍六君者不在此例。</p>
<p>半夏　陳皮　茯苓　枳殼　竹茹　萊菔子　白芥子　厚朴　蘇梗　藿梗</p>
<p>或加砂仁、豆蔻。嘔加生薑。</p>
<p>燥痰　痰在脾為濕，在肺為燥。治脾宜燥，治肺宜潤。其痰一也，而經病不同。</p>
<p>旋覆花　杏仁　橘紅　知母　貝母　栝蔞根　紫菀　款冬花　枇杷葉　冬瓜子</p>
<p>或加馬兜鈴、海蛤殼、青黛、海浮石。</p>
<p>寒飲　此為寒水之病，《金匱》洋言之法宜溫中。甚者須用小青龍、理中、四逆、真武諸方。</p>
<p>半夏　陳皮　茯苓　乾薑　製附子　枳實　白朮　炙草</p>
<p>氣滯甚加厚朴。胃寒甚加公丁香、吳茱萸、草果、益智仁。</p>
<p>結胸　此證詳見《傷寒論》，與痞相似。不痛為痞，痛者結胸。有大小之別。治不外和胃解結，開通上下。</p>
<p>栝蔞實　枳實　厚朴　黃芩　黃連　乾薑　半夏　陳皮　茯苓　炙草</p>
<p>寒實去芩、連，加薤白。水結胸加附子。</p>
<p>痧疹　二證升散清涼宜合用之，不可偏廢。甚者須用石膏。切忌犀角。</p>
<p>升麻　葛根　柴胡　黃芩　赤芍　元參　金銀花　連翹　牛蒡子　生山梔　生草</p>
<p>或加殭蠶、蟬蛻、西河柳。</p>
<p>瘧　此證往來寒熱，發作有時，得汗解而復作。因於暑者必用香薷。其久瘧涉虛，須用何人飲者，不在此例。</p>
<p>柴胡　羌活　防風　半夏　黃芩　厚朴　枳殼　制香附　蘇梗　炙草</p>
<p>寒多加桂枝。搜根鬚用檳榔。</p>
<p>痢　此證以裡急後重得除為驗。涉暑亦須香薷。其五更泄瀉須用四神丸者，與此相反。並忌桂枝。</p>
<p>厚朴　檳榔　枳實　神麯　楂炭　黃連　木香　赤芍　丹皮　黑山梔　赤苓　澤瀉</p>
<p>甚者須用大黃。</p>
<p>淋濁　由心經蘊熱及濕熱下注者多。其虛勞失精之宜補澀者，不在此例。自遺、夢遺，亦有不盡屬虛者。</p>
<p>瞿麥　扁蓄　黃柏　川楝子　海金沙　豬苓　赤苓　澤瀉　滑石</p>
<p>莖中痛加甘草梢。甚者須青麟丸。</p>
<p>失血　血證多矣，初起必有所因。凡理氣達郁、清熱降火之法，俱不可廢。不即是虛勞也。</p>
<p>赤芍　丹皮　當歸身　延胡索　川鬱金　臺烏藥　黃芩　黑山桅</p>
<p>有瘀加參三七。火熱甚用犀角地黃湯。</p>
<p>腰痛　此證諸經皆有之，而在太陽者最輕。經云：腰為腎府。轉搖不能，腎將憊矣者，不在此例。</p>
<p>獨活　防風　青皮　枳殼　蘇梗　烏藥　延胡索　白朮　赤芍　茯苓　炙草</p>
<p>連脅痛加柴胡。兼脹加木香。</p>
<p>耳聾　此證每屬少陽，而瘧後尤多。其為腎虛之宜磁朱丸者，不在此例。耳鳴亦然。</p>
<p>柴胡　川芎　黃芩　赤芍　半夏　陳皮　厚朴　枳殼　竹茹　茯苓　炙草</p>
<p>風熱加牛蒡。濕熱加蒼朮。</p>
<p>陽為陰遏　此證陽氣為陰寒所抑，非陽之虛，乃陽之郁也。故貴升陽散火，以達火鬱。與宜補之陽相反。</p>
<p>升麻　柴胡　羌活　獨活　黃芩　半夏　陳皮　青皮　白朮　白茯苓　生、炙甘草</p>
<p>涉虛者補中益氣湯。</p>
<p>肝陽不升　木火宜升暢，遂條達則無病。俗有所謂肝陽升者，其實肝鬱不伸也。故宜暢達。</p>
<p>柴胡　當歸身　赤芍　川芎　香附　木香　鬱金　丹皮　川楝子</p>
<p>有火者加羚羊角。達郁用越鞠、逍遙丸。</p>
<p>女科調經　經阻之甚者，須用桃仁、紅花。其作痛經者，須蒲黃、靈脂。有帶宜先治帶。</p>
<p>川芎　柴胡　當歸身、尾　赤、白芍　丹皮　香附　延胡索　石決明　鬱金　澤蘭葉</p>
<p>寒加炮薑炭。</p>
<p>止帶　止者，以通為止也。甚者須蒼朮、厚朴。有寒宜炮薑、附子，並須茵陳。此證寒濕、濕熱皆有之。</p>
<p>茵陳蒿　黃柏　黑山梔　赤芍　丹皮　牛膝　車前　豬苓　茯苓　澤瀉</p>
<p>或加二、三妙丸。</p>
<p>胎前　芩、術為安胎聖藥。凡疰夏諸方，皆可移治惡阻。其保產無憂散亦必用之藥。不見虛證，切忌滋補。</p>
<p>黃芩　白朮　砂仁　蘇梗　當歸身赤、白芍　丹皮　炙草</p>
<p>氣滯之甚少加羌活、厚朴、枳殼。</p>
<p>產後　臨產不外開骨散，產後不外生化湯。皆主佛手散一法。並須連服，方效若見。他病須照病治。</p>
<p>川芎　當歸身　炮薑炭　單桃仁　炙草</p>
<p>瘀阻加蒲黃、延胡索。甚者加五靈脂。</p>
<p>兒科　兒病都從食上起，故以消導為主。凡急驚用清法，慢驚用溫法。並忌冰、麝、蛇、蠍、珠、黃、金石及滋補藥。</p>
<p>建神麯　焦谷、麥芽　半夏　陳皮　藿　木香　枳殼　山藥　炙草</p>
<p>和中加薑、棗。熱加黃連。寒加乾薑。有蟲加使君子，木榧子。</p>
<p>從來選方成書者，大都在已成名醫之後，不勘輕淺之病。故凡有病即治，不使病大之方，皆不傳於世。此頗不利於初病，且無益於初學。亦以病家未及大病，凡所服方病愈而即棄之，絕不知病之得此方而始不大，故惟此不使病大之方，更不傳於世也。孫蘊苓中瀚謂：常見有病之家，必俟病大而後問藥。然病之既大，即難保其必愈。固不若治之於早，不使病大之為得矣。今夏在都會，檢此冊一、二方，用之無不應手，而愈以是信其能不使病大也。將出都就聚珍版印千帙，攜歸里門。茲復有所補綴並刪改原文處，非孫君於排印時有增損也。</p>
<p><u>癸未冬月九芝並識</u></p>
<p>是冊錄成，客多以不載分兩為嫌，無已約略言之。凡方中荊、防、陳、半之屬通用錢半不注外，其他可用三錢者如：蘇葉、連翹、山梔、神麯、楂炭、茯苓、豬苓、澤瀉、淡豆豉、杏仁、薏仁、川楝子、車前子、扁豆衣、木瓜、貝母、海蛤殼、海浮石、香附、大黃、海金沙、滑石、歸身、延胡索、石決明、桃仁、山藥、使君子、木榧子、六一散、青麟丸、越鞠丸、逍遙丸、二妙丸、三妙丸。</p>
<p>然錢半之藥，亦有時用至三錢，退至一錢者。三錢之藥，亦有可用至五錢、一兩者。其他用三五七分，多至錢許。如：甘草、薄荷、葶藶、黃連、柴胡、川芎、香薷、青黛、馬勃、砂仁、豆蔻、乾薑、附子、丁香、吳茱萸、草果仁、益智仁、升麻、殭蠶、蟬蛻、桂枝、參三七、犀角、紅花、炮薑炭。</p>
<p>然錢許之藥，用以為君，亦有升至錢半者。此外如生薑一片、蔥白頭二個、雞內金一具、竹瀝一杯、黑棗二枚，則大小且無定矣。</p>
<p>總之，醫家用藥，隨證重輕臨時酌量，豈有一定如上云云？不過使病家略有端倪耳。</p>
