<header data-type="book">
<h1>藤氏醫談</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>近藤明</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015283">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>執古方以為治。謂之泥。舍古方以為治。謂之鑿。泥也。鑿也。皆非也。如吾近藤先生之於術。其庶免於斯弊者乎。蓋先生之學。祖述劉張。探溯李朱。旁搜曲證。至矣。盡矣。先生嘗謂病有古之病。則方亦有古之方。病有今之病。則方亦有今之方。夫人身者。活物也。何必以古法於今乎。不必泥古方。不必舍今方。別有一條正路焉。噫。先生之意。不固不陋。可謂盡矣。寧令先生當古昔之世。劉張朱李可亦許乎。頃著藤氏醫談。以示門下。子弟刻成。命予校。且序焉。然是特先生之緒餘也耳。世勿以為儘先生而可也。</p>
<p><u>享和壬戌冬門人泉海林延辰謹志</u></p>

<h1>卷上</h1>

<h2>辨溫病時疫</h2>
<p>疫之為病也。歷代諸名家論之者紛紛。未有定說。或云溫病。或云天行病。或云時氣病。而中暑傷寒。雜糅其間。規則法律。莫能曉然。及其臨證處方。不能無狐疑焉。巢氏以溫疫為天行時氣病。而其所說皆是溫病。而溫疫之論。亦無明文。楊玄操注難經。誤以為溫病者。乃是疫厲之氣也。龐安常謝堅白之徒。皆雷同是說。於是唐宋以下之方書。皆使溫病溫疫混淆莫辨。疏笨之過竟誤千歲。豈非可嘆乎哉。至明末吳又可。獨能有見於此。取法千古。經著論示方。釋漢唐以下之惑。明辨溫疫之一症。條分縷析。不遺餘力。諄諄如響應聲。照照如鏡照面。於是疫症始晰。治方大精。使醫家始得辨溫疫之病。使生民免夭枉之患。其功干天下後世。可舉言乎。且其所論。以為寒熱溫涼。乃四時之常。因風雨陰晴稍為損益。亦天地之常氣。未必多疫也。傷寒與中暑。感天地之常氣。疫者。感天地之厲氣。在歲運有多寡。在方隅有厚薄。在四時有盛衰。此氣之來。無論老少強弱。觸之者即病也。是即溫疫之正論。而經所謂日久成郁。即暴熱乃至。赤風腫翳。化疫溫厲。又云。厥陰不退位。即大風蚤舉。時雨不降。濕令不化。民病溫疫是也。以是觀之。疫厲之為氣也。因歲運多寡。陰陽厚薄。而天地間。別有一種惡厲之氣。而使人病。曉然可見矣。古云。草多則天芸以風。人多則天防以疫。是亦言天地間。有一種惡氣出也。是蓋與麻疹瘧疾等之病相類。故又可氏本瘧論一語。且立邪從口鼻而入之說。以為半表半裡之病。而至其處方。以胃經為規則。以舌苔為繩墨。疏利以導之。汗下以驅之。其進退逆從。徵諸古今無所疑。質諸鬼神無所愧。實可謂吾黨千載之聖手焉耳矣。但其中矯激過正。間有可議者。學者不可以無辨矣。其設雜氣之說。以為如大麻風。鶴膝風。歷節風。疔瘡。發背。癰疽。流注。霍亂。吐瀉。暴注。腹痛等之諸症。皆感雜氣者。而疫氣亦雜氣中之一。但有甚於他氣。因名之厲氣也。噫。是蓋又可氏之僻見。學者所宜分辨也。蓋又可氏。諄諄說溫疫一症。因並使他病混淆。如夫大頭瘟。蝦蟆瘟。麻疹。瘧疾等之症。實與疫氣同屬感厲氣者也。至大麻風。鶴膝風。歷節。疔瘡。發背。癰疽。流注。霍亂。吐瀉。暴注。腹痛等之諸症。實非惡氣之所感者也。蓋皆外來之邪氣。而感天地間之常氣者。經所謂虛邪賊風。或風寒暑濕燥火者是也。是豈儘可以為異氣厲氣乎。又又可氏。正傷寒例云。冬傷寒。至春變為溫病之溫者。非溫病即溫疫也。且云。冬時嚴寒所傷非細事。反能藏伏過時而發耶。是亦吳氏未深思之誤也。豈為溫疫之毒。獨能有伏藏。而寒毒之氣。則無伏藏乎。是冬感寒。至春變為溫病之溫者。所謂感虛邪賊風之常氣春也耳。又可特欲說溫疫一症。而唯以傷寒與中暑為天地之常氣。而以他氣皆為厲氣。是又可不立六氣之誤也。六氣固有多寡輕重之分。溫疫之氣亦然。豈終可以是一混耶。余嘗謂又可氏至論疫之一症也。至矣盡矣。無以尚焉。但其有矯論可辨者。要白璧之微瑕。不害為寶。是蓋非深於經者。不能至是。然以疫與瘧同類。僅徵瘧論一語。不多引經語。以飾紙上之言者。亦是又可氏之深識。慮後人淺學者。或生多歧之惑者也。予間嘗閱一醫人。論溫疫者。其書多徵經語。雖略似有明文。而於經旨。猶有未合者。其書有言云。溫疫經稱虛邪賊風。越人仲景名中風傷寒。皆是外來即發之病。而疫病之義也。是不明事理之誤也。夫厲氣者。別有一惡氣。而以外來虛邪賊風為疫病者。是不會虛邪賊風即為天地常氣中之一物故也。難經曰。病有虛邪。有實邪。有賊邪。有微邪。有正邪。又云。心病中風。得之為虛邪。傷暑得之為正邪。飲食勞倦得之為實邪。傷寒得之為微邪。中濕得之為賊邪。是可見虛邪賊風。實非疫厲之氣矣。又云。溫病感冬時嚴寒之正邪。至春發者云溫病。又名伏氣。病非感虛邪賊風。又云。非正邪則無伏藏。虛邪賊風者。中即發。是即溫疫。中風。傷寒。是也。是何不思之甚也。蓋正邪固有伏藏。有即發。而虛邪亦有伏藏。有即發。至於疫厲亦然。何謂非正邪。則無伏藏哉。經云。虛邪入客於骨。而不發於外。至其立春陽氣大發。腠理開。因立春之日。風從西方來。萬民又皆中於虛風也。是等之語。豈非皆為虛邪伏藏而發歟。而謂非正邪無伏藏者獨何也。故非善讀書者。則或陷於多歧之惑。非深達事理者。則終朽於庸醫之拙矣。今請明辨之。夫麻疹。溫瘧。溫疫等之症。皆是感天地間一種惡厲之氣者也。而疫厲之為氣。最為重毒。中風。傷寒。中暑。中濕。溫病等之症。皆是感風寒暑濕之虛邪賊風者也。而傷寒之為症。最為猛烈。而惡厲氣有伏藏。有即發。虛邪賊風。亦有伏藏。有即發。二者皆有寬急輕重之分。因以致病之轉變。不可究極也。苟非有見解。難以辨別之矣。凡夫醫之為事也。臨機應變。無有一定之法。故古昔名家哲匠之設論處方。亦無有一定之說。或名同病異。或病同名異。或詳乎論而略乎方。或精乎義而簡乎術。雖得失互有。而要皆益於道矣。夫唯能繹其條理。提其要領者。而後可以讀方論。可以言治術。學者其可以不致思乎。</p>

<h2>疫疾汗解</h2>
<p>凡事不患不詳。患其多而惑也。於吾道為最甚。自漠長沙氏以來。名賢代起。方法議論。於今無不備矣。然其說愈繁。其辨愈鑿。苟非能繹其條理。提其要領。何以臻於妙妙之術哉。夫汗吐下溫清補治術要領之所在。而其施之之方。各當其可。是之謂能得其條理也。若夫傷寒溫疫二症。汗解之功居多。而傷寒與溫疫進退前後迥別。不當其可。何以治病。吳又可曰。傷寒投劑一汗而解。時疫發散雖汗不解。傷寒汗解在前。時疫汗解在後。余讀此論至於此。未嘗不喟然嘆吳氏之精到矣。徵之於症候。施之於治術。無毫髮之違。是治疫之要領。而吳氏乃能得其條理者也。能得此訣以臨病。終無有誤。世醫間不知傷寒與溫疫有分別。一遇熱毒。漫稱云溫疫。投以葛根渴。麻黃湯之類。發汗而間有瘳者。蓋傷寒感冒之邪。而非疫邪也。醫工不知。則自誇曰。吾藥能去疫毒。病家亦歡唱呼神醫。是何蒙迷之甚乎。醫家終身不悟。其及一遇真疫症。亦猶稱溫疫。一切恃前功。殊不知溫疫初起在疏利。漫投發汗劑。只損表氣。既而遷延十餘日。病勢漸張。疫毒已離募原。欲表未表。當一汗以可解。時乃引經語發汗過多亡陽。遂以柴桂湯。黃連解毒湯。瀉心湯之類。專務清熱。是以邪氣不能出表。邪毒漸瘀到胃。通舌變黑。病勢加重。當是時一下可以解。又稱為陰症。投以真武湯。附子理中。或益氣湯之類。邪毒益固。變症日增。神脫氣盡。卒至斃。是蓋不知治疫之要領。終違條理而所致。向則不應汗而反汗之。今則應汗而反失汗。此醫不知傷寒與溫疫有分別。用藥前後失序之誤也。蓋溫疫與傷寒所以異者。傷寒之邪。自毫竅而入。時疫之邪。自口鼻而入。故傷寒汗解在前。時疫汗解在後。且溫疫之為治。首尾以通行為主。初起在疏利。至邪毒漸離募原。專主發汗。或幸有得自汗。盜汗。戰汗。狂汗而愈。若邪毒愈重。漸留在胃。則一下得以解。知其要領。得其條理。何難之有乎。然世醫動輒稱溫疫漫投發汗劑。不知傷寒汗解在前。溫疫汗解在後。一概遵用斯法。是豈得有兩全乎。余故謂治傷寒能察仲景之旨趣。治時疫能取又可之法。而得其要領條理者。雖遇千變萬化之奇症。易於拾芥焉矣。又偶有感之重而邪毒猛烈。表裡共熱等之症。是不可專任疏利。桂枝麻黃之類。可以分解。別詳論之。</p>

<h2>決死生</h2>
<p>治之為事也。有可治焉。有不可治焉。有不可治而可治者焉。治可治弗治。不可治固亡論已。彼弗治不可治。而可治者。將焉用醫工乎。庸醫終未達於經旨。方術猶未精。動輒曰。我能治可治。弗治不可治。而一遇危篤難治之病。則不能盡治術於專一。專以決死生。計死日為至。既而其人死。則曰我能決死生。我能計死日。因是至危篤難治之病。則不察脈理。不詳所因。戰戰履冰。兢兢臨淵。專以讓於他醫為得矣。是以不可治而可治之病。竟以至於不可治。豈非不仁之甚乎。經云。死日有期。醫不能明。不問所發。唯言死日。亦為粗工。此五過之一也。若夫至危篤難治之病。能察其所因。能詳其虛實。能按其治術。則刀圭朝入口。夕至死。實非醫工之訧也。故歷代名家云危篤。云難治。云九死一生。云十死一生者。皆是死生不決。不可治而可治之病也。古人猶且如此。況今人豈有一一能決死生乎。至其不可治者。古人云不治云必死。然則醫家之要。不在決死生言死日可知矣。世醫多以察死生為務。曰我能治可治。弗治不可治。蓋治可治。不治不可治者。庸醫能之。弗治不可治。而可治何足以稱醫之良矣乎</p>

<h2>辨補與養</h2>
<p>物非可以一理徵。事非可以一途驗焉。夫人身之疾病。非有餘則不足。有餘者瀉之。不足者補之。是醫途之大關。治術之要法也。若有少乖違。將實實虛虛。致邪失正。遺人夭殃。絕人靈命。不可弗慎矣。而補之於術。所繫甚重。而其施之之法。又甚多方。蓋古人之所難。所謂不可以一理徵。不可以一途驗焉者也。世醫往往不知補字義。以補為養。混淆無辨。漫斥補湯之論。醫家者流。不可以不辨矣。蓋補瀉之術。古謂之調氣之方。於針科謂之迎隨之法。按補填也。填調榮衛不足。逆亂之氣之謂也。譬猶以薪煮物。薪伏則火氣不熾。以手搖薪。則火勢大興。是補之義也。夫醫家之於補。以藥石填調其不足之氣。則榮衛流行。元氣大興。是謂之補益。此專為病者設者也。又養者育也。以穀肉果菜養育平常之氣之謂也。是專為平人無病者言者也。非謂穀肉果菜可以治不足病矣。故合平變則言補養何可無別乎。世醫又曰。仲景無補劑誤矣。夫長沙氏之於補。以瀉心湯補心氣不足。又大黃䗪蟲丸。以緩中補虛。隨症制宜。人見其方有異後世之撰。而遂以為無補者非誤乎。至後世李杲薛己之徒。專立補益滋潤之方。其有藥品之異者。蓋亦隨症制宜。要法仲景之遺意爾。是皆為病者調補其虛氣充足。其不足者。非以補平人無病者之謂也。或又引素問毒藥攻邪。五穀為養之語云。藥石偏味。不可以為補。穀肉果菜之補充元氣。是謂之補。其徒雷同蟻附。皆曰草根木皮。豈補元氣乎。金石丹砂。豈延生命乎。遂使虛耗脫精之病者。禁補益滋潤之劑。有餘實火之病者。有膏粱滋味之害。豈不悲乎。是不知補與養有分別之誤也。蓋脾胃者。倉廩之官。飲食入脾胃而後水精四布。五經並行。是以榮衛流行。能終天命。是養育平人之義。故曰。穀肉果菜。養人身之具。非所以補。蓋病人也。及一朝生病虛乏脫精也。水醬酒醴。且猶不可入口。況穀肉果菜。何以能充腸乎。膏粱滋味。何以能適腹乎。其唯草根本皮。以補其元氣。金石丹砂以去其病患。是之謂善補其病體也。既而元氣復初。則穀肉果菜。復養其平。膏粱滋味。復時其羞無適而不可矣。是可見補與養。大有分別。不可以混淆矣。是故靈素八十一難皆曰。穀肉果菜養元氣。未嘗曰補元氣。夫靈素難經者。聖經也。人人可以信矣。故曰。物非可以一理徵。事非可以一途驗焉。夫補元氣者。草根木皮是也。養元氣者。穀肉果菜是也。學者其勿繆⿰方⿱𠂉再。</p>

<h2>草根木皮可補元氣</h2>
<p>古曰。草蟲鳴則阜螽躍。一雞鳴則萬雞鳴。信哉吾邦近世名賢輩出。唱古方之學。一時風靡。實可謂千歲之盛矣。蓋彼皆眼飫千載之醫籍。心厭百家之腐說。乃新創一家言曰。百病生於一氣之溜滯。曰。萬病皆一毒。其意以為藥石攻病之品。不可以補生氣。夫唯菜谷養生之具。可以補生氣。皆一雖取決於靈素之間。而頗涉矯激其弊誤末學者。亦多矣。蓋此數家。皆一時之俊傑。其言亦鑿鑿可據。然後來愚眼淺識之徒。藉彼聲譽傲然。稱古醫方家者流。或謾詆斥先賢。或妄棄擲舊式。其言曰。草根木皮。豈補元氣乎。金石丹砂。豈延靈筭乎。竟以奇種神丹。以為傷生之品。延齡固本。以為驅邪之具。嗚呼。以一時之矯論。遺害於病家。可不慎乎哉。是蓋不知補湯之事理之過也。又其論百藥之良毒。以為人參黃耆不為良。巴豆芒硝不為毒。雖有小毒大毒之不侔。而渾以為攻邪之物。豈其然乎。豈其然乎。若果其言之是乎。則一二味。而可以足焉。仲景何煩制許多藥方乎。既有許多藥方。則雖一味有良毒之性。明可見再。爾天下藥品。一物無有同其效者。亦猶一物無有同其形者。夫草根木皮。金石丹砂者。皆稟偏勝之氣者。可以補瀉病人之不平。穀肉果菜者。皆具中和之味者。可以養育平人之常度。凡人之受病也。口不能適味。但恃補湯之力。以助其元氣而已矣。而菜谷藥石。亦同天地之生類。其性殊不相遠果菜。已有能養生氣者。則草根亦有能補元氣者。木皮有能攻病者。則穀肉亦有能驅邪者。而菜谷有佳粗之品。藥石有良毒之性。互相為用。是以神農本經。分上中下三等。上藥以養命延年。中藥以養性補虛。下藥以治病。除寒熱。何者。是天下品類。無一物同者也。若唯偏以藥石。渾為攻邪之物。菜谷盡為補益之品。或至使人為夭枉短折之鬼焉。或曰素問云。大毒治病。十去其六。無毒治病。十去其九。穀肉果菜食養盡之者。豈非食養為補之謂歟。曰不然。蓋斯時醫治之法未備。藥石之用未周。雖僅存十三方。而其方今不堪取。由是觀之。雖稱上古神農日嘗百藥。而至漢始有本草之名。則黃岐之世。猶未周備者可知。故才以針石論補瀉之術。至湯劑則唯有大毒無毒之論。未嘗及補湯也。雖然針石。且猶有補。況於草根木皮乎。況於金石丹砂乎。古書云。五穀充飢體。而不能益壽。百藥療疾延年。而不能甘口充飢。執斯術者。所宜致思也。</p>

<h2>尊信李杲薛己</h2>
<p>天降時雨。山川出雲。天恤生民。必生聖明。天皇氏。地皇氏。邈矣姑舍之。伏羲氏之王天下。民居冗家巢。與禽獸同遊。葆真守樸。積精全神。是以人壽皆亙百歲。動作不衰矣。及神農氏王天下也。民浸恣情縱欲。病道日加。神農氏有憫焉。乃鞭百草。日嘗百藥之毒。以救人民之疾苦。然猶未有病論。岐黃之世。病論始立。補瀉之術。始顯矣。然唯重針石。按摩之法。藥方甚少也。蓋雖曰神農氏。日嘗百草。而未有本草之名。至漢平帝之時。始舉天下通知本草者。本草之名。始見於此。是知黃岐之世。藥方未備矣。夫秦越人之在戰國。淳于意之在西漢。雖有論列方。亦亡傳。及漢末張仲景氏出。始立湯方。以治外感之病。攻補溫涼之法。於是乎備矣。嗚呼。如仲景氏。信所謂集大成者也。然其書止詳外感。而內因之病。蓋闕如也。蓋當時民風猶淳。病端未多。不然則又安知不有張氏別有成書。而論補益滋潤之法者乎。夫汙隆隨世者。天地之常。淳漓成俗者。必然之理。人身之疾苦。經年彌多。內因之症候。乘時益繁。降至元明李杲薛己之徒迭起。始精內因傷感之病。首制補氣補血之劑。民到於今。受其惠賜。是天以其時生其人者。猶夫時雨之降山川出雲之類耶。天之恤生民。何其周到。李薛之功。於是為大矣。余嘗謂夫天地運動。終古不變。而民生氣稟。逐世而遷。以其躁競之心。涉彼希靜之塗。意速事遲。名利攻其外。情欲惱其內。滋味煎其藏府。醴醪浸其腸胃。是後世內因之所以多也。豈單可以古方療今病乎。蓋人身之疾病。有內因。有外因。仲景者。精外感。李薛者。詳內因。故夫治外因者。舍仲景不可以取效。治內因者。舍李薛不可以施療。仲景者醫聖也。李薛亦聖手也。仲景可尊信。則李薛亦不可廢。世醫多知祖仲景。而不知宗李薛。及其臨病外感則可。或遇內因。將何以取法乎。夫刀圭之失。恐置人於夭枉。餬口於斯技者。其可不慎乎。故醫人體夫天恤生民之心。則庶幾矣。</p>

<h2>祖述靈素難經</h2>
<p>夫醫道之來也尚矣。黃岐問答之書名云內經。蓋岐黃之世。民浸淫於安。病以時成。於是黃帝與岐伯鬼臾區等。上窮天紀。下察地理。五行陰陽。以應人身之度。數經絡配當。以論府藏之疾苦。互相問難。發玄微於不朽。躋生民於壽域。民到於今。受其弘慈。然其為書也。理道淵深。文辭古雅。而後人續貂。玉石混淆。且歷年數千。誤字錯簡。亦多矣。非善讀不易以通曉。及戰國之時。有秦越人者。作為難經。以纘黃岐之遺緒。此二經者。蓋醫家之準繩。病候之規矩。舍之莫以取法矣。是以自漢張仲景以後。劉河間東垣朱震亨輩。皆依靈素。互有發明。世稱四大家。其所立言。醫林奉重焉。如仲景之於外感。河間之於熱病。東垣之於內傷。丹溪之於雜病。皆取靈素難經之要旨。而各自成一家之言。夫靈素難經者。實聖經也。吾大東昇平百年。教化誕施。大雅之音。遍於四方。是以雖寒鄉邊鄙。殆無不文之醫。於是乎名腎數輩。巍然崛起於其間。涉獵百家。跋扈千載。設百病生於一氣之溜滯。萬病皆一毒之說。各成一家之言。皆有所見。要其歸趣。蓋亦取法於靈素焉爾。此數家者。實吾東方之俊傑。中夏二千有餘年。亦寥寥乎無有此說矣。醫林後生。亦可以重也。然其立言也。務釋拘滯。動過矯激。曰運氣配當道家之事。不足以徵靈素難經。後人之偽撰。亦不足信。是以其徒弟。皆排素靈。其意往往以為運氣。配當五行陰陽等之說。非醫家之所宜掛齒牙也。遂咄喝咦嗟塗人耳目。於是後來愚眼淺識者。或有一窺聖經者。亦不深致思。終無得其蘊奧。唯漫稍後人之偽撰而已。殊不知其一氣一毒之說。果出於何書。已自號稱古醫方。而一廢古經。抑是何意。間有致思於聖經者。竟為庸醫所折。豈不悲乎。蓋彼數家。實吾道之英雄。嘔血白髮。焦思靈素難經。以發一氣一毒之說。可尊可重。然至於其排聖經者。殆矯激之遺害。後醫之大患。嗚呼。彼排經之說。卒為後生文不學之資。可謂功過相半者矣。蓋人身之疾病奇症。異候變化。不可舉知。舍靈素難經。其何以為規矩準繩哉。故後生致思於是書。亦可以發先人之未發。可以臻妙妙之術。是譬猶工之欲善其事者乎。舍規矩準繩。其何以乎。其何以乎。</p>

<h2>補湯</h2>
<p>言之過文學者。所患雲漢孑遺。秦誓漂杵。詩書且然。況其下者乎。夫補湯之有益於人身也。大矣。唐宋以下之醫生。特大其言出延命不老之說。是以後來愚眼淺識者。不知補湯之理而生疑。於此乃謂草根木皮。豈有延命不老之理乎。人參黃耆。豈可補氣乎。地黃當歸。豈可延年乎。因自稱取法於長沙之古。專求攻伐之事。擅為毒藥攻邪之說。其故何也。蓋唐宋以下之醫。及出延命不老之說。特大其言過文誤實。竟使後世醫工。不曉補湯之理。可不惜乎。蓋補者填調。填調榮衛亂逆之氣之謂也。非謂以藥石充足榮衛不足。若以為充足之義。則終不通。且所謂補氣補血者。果何謂也。故知補為填調之義。則補湯之理。豁然明瞭矣。夫夭壽有命。豈可以草根木皮求乎。但其以藥石填調榮衛亂逆。以終天年者。補之功也。夫唯以此榮衛流行。以至終天年。則云充足。云補益延年。又不誣而已。若曰。以草根木皮充足不足之元氣。則無有此理。且夫古以針石按摩補不足。見內經。至長沙氏。始有補劑之設。長沙氏云。心氣不足。吐血衄血者。瀉心湯主之。又云。虛勞裡急。諸不足。黃耆建中湯主之。又云。五勞虛極。羸瘦腹滿。不能食。食傷。憂傷。飲傷。房室傷。飢傷。勞傷。經絡榮衛氣傷。內有乾血。肌膚甲錯。兩目黯黑。緩中補虛。大黃䗪蟲丸主之。又云。虛勞腰痛。少腹拘急。小便不利者。八味腎氣丸。又云。虛勞諸不足。風氣百疾。薯蕷丸主之。其他補方。不可枚舉。是仲景用補湯之法。明白如此。但仲景以瀉心湯。補心氣不足。以大黃䗪蟲丸。補五勞虛極。然則云補之者。非充足之義。填調氣血亂逆之氣之義。亦復明白如此。不然。則針石按摩。大黃䗪蟲。黃連黃芩俱充足元氣之品哉。因是准之黃耆建中。八味腎氣。薯蕷丸之類。亦皆調氣之劑。而為填調氣血亂逆之主方可知也。後世嚴氏歸脾湯。李杲補中益氣。局方十全大補之類。其他唐宋以下哲匠所制之補湯。蓋皆袒長沙氏調氣之意。而非充足之義。亦可知也。以今考之藥物品類。亦與仲景不甚相遠。而其精意。全過於仲景。可以補不足。可以應無量奇疾。然至強大其言。立延年不老。滋潤固本之說。則所謂過文之失學者。不以言害志而可矣。故學者先知補為填調之義。而後補湯之義可以通。補湯之義可以通。而後延年不老滋潤固本之效可以言而已矣。世醫雖曰尊信仲景。而不知其補湯之旨者多矣。徒取其攻伐之劑。以為盡仲景。何其弗思之甚也。噫。</p>

<h2>臟腑配當</h2>
<p>源泉竭。則枝流涸。根蒂朽。則莖葉枯。言其本傷則末不得全也。夫醫之治病也。亦知其本末。而後其治可施焉。蓋人身自五臟六腑中氣血流行。津液湧出。以達四體。故藏府一有傷。則先見某藏某府之症。譬如肺病。而損於皮毛心病而損於血脈。脾病而損於肌肉。肝病而損於筋。腎病而損於骨。見其症之所在。而知其病之屬何臟何腑。是枝流涸。知源泉之竭。莖葉枯。知根蒂之朽者也。其施治之法。不先察其源泉根蒂之朽竭。奚得救莖葉枝流之涸枯乎。是方家所說。二千有餘年。上之黃岐。下之李朱。其間名手哲匠。何啻千百。而其所論說。舍此莫以得啟喙焉。然則臟腑經絡之說。為醫道之蘊奧方家之要務也。決矣。世醫稱古醫方家之徒。皆不取運氣陰陽之說。並亦絀經絡配當之言。以立一家之說。其所論說。有足以破庸腐之惑者。不為無功矣。然吾道之為事也。關人之生命。不可眩於過文激論。以枉志業。余請以臆見斷之。夫運氣配當五行陰陽者。蓋過高之言。無益於治術。非疾病醫之所與也。如夫臟腑經絡配當者。當然之理。不可以廢。廢之則無知枝葉之根蒂。河流之源泉。嘗試論一二。憂愁思慮則傷心。飲食勞倦則傷脾。人人所知。不待煩贅。唯五藏之傷於內。是不可知者也。人有所悲哀則淚忽下。有所羞愧則汗必出。見美味流涎。嗅惡臭發嘔。其故何也。蓋皆臟腑中有所觸發於其事而已。未有見美味而發嘔。嗅惡臭而流涎者也。然則其臟有病。見其症。其腑有病。見其症者。是宜有之事。故凡病不以臟腑經胳。求其所因。何由可尋根蒂泉源乎。余故曰。運氣陰陽之說。蓋非醫家之要。至於臟腑經絡之理。我不能敢廢也。</p>

<h2>左右偏勝</h2>
<p>夫人身之疾病。或偏左。或偏右者。何也。凡人身之體。氣血周流。如環無端。榮養四肢百骸。達於鬢髮爪甲。無往不有氣血。若其有病。則當周身病也。而今有偏勝之病者。蓋有故。醫法曰。肺大腸脾胃命門三焦者。位於右。肺者主氣。脾者後天元氣之所出。命門者。主下焦之陽氣。故以右為氣之位。心小腸肝膽腎膀胱位於左。心者主血。肝者藏血。腎者主陰精。故以左為血之位。是左右氣血之分位也。因是侖左右則偏勝之疑。可以冰釋。至於朱震亨始以左為血。以右為氣。遂立法謂中風左偏枯為血虛。右偏枯為氣虛。此說始創于丹溪。蓋漢唐以前。唯有中府中藏中血脈之分。此言未嘗經見。是丹溪循古醫法以發前人未發者。實古今卓見。可以則可以法。於是薛立齋龔廷賢輩。皆遵用斯言。或以偏左頭痛為血虛。以偏右頭痛為氣虛。右足痛為氣。左足痛為血。左脅痛為血。右脅痛為氣。一取法於丹溪。不敢有違。到於今。猶依其遺法以施於治術而有驗者。實丹溪之賜也。時醫分別左右偏勝者或鮮矣。故聊揭於此。夫謂一氣一毒。或留滯於左。或留在於右者。奚止於千里之謬乎。</p>

<h1>卷下</h1>

<h2>雜說</h2>
<p>夫醫名司命者。蓋司人身生命之謂也。其職任尤不輕。非有博覽強記之識。以通知於古今。審問精思之勞。以窮於髓奧。未可以委人命。自古稱良醫良工者。業餘亦操筆立論。以示方法。其為書汗牛充棟。皆所以欲躋天下後世於仁壽之域也。其勤亦至矣。余也生於刀圭之家。竊欲效古人之為。然庸愚且貧。加以多病。如是而終何異草木之朽枯。素餐之誚靡以逃焉。是故區區之心。聊亦欲著述一書。為初學成法。則又思前哲之正說既明且備。無復待吾輩之容喙。如斯編者。亦唯拾余唾於舊編。倘或有一得之愚。可以取則。余之幸矣。</p>
<p>近世有釋氏之徒。間傍言醫事者。曰吾知醫。曰吾以此消閒。嗟夫。醫者仁術也。委人之靈命。謂之司命之職業。醫者夕思朝苦。嘔血白髮。而猶苦未能到神妙之域。而況供佛之暇。才窺國字方書。可以司是靈命乎。且刀圭針砭。豈消閒之具乎。投劑一誤。冥報頓至。吾恐五逆罪業。未必如是慘。</p>
<p>世稱古醫方者云。欲學醫讀一傷寒論足矣。豈其然乎。醫方千卷。猶未盡其理。豈可僅以一傷寒論。應於無涯奇疾乎。彼有徒言八味丸。治腳氣。而懵不知其因。補腎經者。亦寡聞之由也。</p>
<p>厭繁好簡者。人之情也。時醫事配當者。亦往往暗於道。拙於術。靈素難經。束而不讀。竟趨干論症不論因之簡。專從毒藥攻病之說。及其遇病。則朝投攻伐之劑。夕躊躇及補湯之論。此何無特操也。是非繁之害。抑示好簡而疏漏者也。</p>
<p>正五倫之名者。聖人之所以立教也。立五臟之位者。醫師之所以治病也。有五倫而教術立。有五臟而病位定。若不審於此。而從醫藥之事者。有遺人夭殃耳。</p>
<p>近世有漫刪削傷寒本論者。縱令其近理。亦才泥於紙上之言。而不益於活用。反失仲景之旨趣者必多矣。大與聖人刪詩正樂者異。</p>
<p>世或云通知於醫經者。反拙於治術。異吾所聞。世醫多不攻學。徒以辨口佞諛。規偶中之利。乃作斯言以欺世誣人耳。自古稱聖手哲匠者。孰有不學者乎。且也病之所怙者。醫也。醫之所恃者。書也。舍之可以托夭壽安危乎。縱令姑釣譽於一時。日療數百人。何以此為榮乎。故業是業者。第盡力於此。其得志與不得。抑有命矣。非醫工之恥也。</p>
<p>夫惡夭好壽者。人之情也。求名貪利者。人之欲也。予嘗讀司馬子長貨殖傳。壯士在軍攻城。先登陷陣卻故。斬將搴旗。前蒙矢石。不避湯火之難者。為重賞使也。賢人深謀於廊廟。論議朝廷。守信死節。隱後岩冗之士。設為名高者。安歸乎歸於富厚也。夫千乘之王。萬家之侯。百室之君。尚有患貧。而況匹夫編戶之民乎。由此觀之。名利之所在。至於忘生忘死。然則名利之欲大於夭壽之情也。是故脾腎之成病者小而易守。心肝之成病者大而難慎。若人病云脾虛腎勞。則遽節飲食。慎房事。是人之惡夭好壽之情。而所以易守也。若其心勞肝傷。則雖自知災害不能遣之。是狥名利之欲。至於忘生忘死。其難慎十倍於脾腎之病。故脾腎之病易發見。心肝之病難發見。脾腎之病易治。心肝之病難治。王公貴人。猶患不能遂欲。況貧賤之家固應多此病耳。世稱脾虛腎虛之病。多非脾腎之虛。心肝勞而見於脾腎者也。</p>
<p>史記扁鵲過虢。謂中庶子曰。越人為方也。不待切脈。病應見於大表。予讀此傳至於此。始悟治術之要道焉。蓋越人者。古來稱脈家。其所著。有脈經。而猶有是言者。蓋夫至危急存亡之期。豈待切脈乎。病形危。則脈危。病形安。則脈安。至其脈疾而症不病。症疾而脈不病之論。醫家平日所當講究耳。</p>
<p>朱震亨論澀脈曰。人之為病。有四。曰寒。曰熱。曰實。曰虛。故學脈者。亦必以浮沉遲數。為之綱。是脈家第一大關鍵。語云。子之所慎齊戰疾。又曰。丘未達不敢嘗。此慎疾謹藥之言也。醫家者流。亦宜雖毒藥穢物。必自嘗以知其良毒。而後以施諸人。神農氏日嘗百草之毒。醫當體其仁慈耳。</p>
<p>禮君有病。則臣先嚐藥。父有病。則子先嚐藥。是忠孝之道也。今或君父有病。而不擇醫之良否而委安危。亦可謂不忠不孝焉。</p>
<p>前漢藝文志云。有病不治。常得中醫。旨哉。與投不適之藥。寧莫藥焉。又明吳又可治疫先用緩劑。察病轉變。蓋亦不敢以人腎腸試毒也。</p>
<p>孫思邈曰。人無故不應餌藥。有所偏助。則臟為不乎。善哉言。然季世人民無病者。十中之一也。但內有疾。而外未病而已。司命者。治其未病可也。</p>
<p>世俗之醫急遽作許多之藥。投病家去。可謂略矣。凡煎法過不及。分量輕重。水之好否。水量之多少。發散疏通滋潤攻擊之異。煎法武火文火之有進退宜詳。分付病家。不可疏略焉。</p>
<p>東洞先生。講論醫教。每舉靈素之語。言其可否。纚纚數十百言。門人問云。先生常弗取靈素難經。以為後人偽撰也。而講論之日。多舉其語。豈先生亦有間覺是書耶。先生云。吾於是書。作暗誦。莫須觀覺耳。噫。後輩不識靈素一字。漫以先生藉口。亦先生之罪人也。</p>
<p>凡一藥之中。有粗品。有佳品。世多好大劑固善。然與粗藥之大劑。寧佳品之小劑。</p>
<p>古人之法。凡諸病誤藥雜亂。脾胃不和者。先以六君子清醒脾胃。夫久病痼疾。日夜把百藥雜投。諸藥雜亂於胸腹。卻成奇疾。當此時。以六君子先補脾胃。是法尤善。古言不治得中醫。亦懼至於是耳。</p>
<p>世俗醫往往不讀者。不知古法。唯誦國字方書。而以為足矣。至於其治病也。間雖有似奏效。亦偶中已。豈可共談司命之事乎。孫思邈云。不明陰陽者。不足謂之大醫。是戒學者。安於小成者也。</p>
<p>韓文公曰。玉札丹砂赤箭青芝牛溲馬勃敗鼓之皮。俱收並蓄。待用無遺者。醫師之良也。嗚呼。醫人何不用心於此乎。問證而厲針。按方而採藥。若偶遇急卒之病。將何以應之。而又可謂之仁術乎。</p>
<p>醫人動輒以長者自許。豈於朮有少長之殊乎。可笑之甚也。古云。騏驥之跼躅。不如駑馬之安步。騏驥且然。況駑馬之老者乎。</p>
<p>人身之疾病。不可不辨內因外因之異矣。若夫混為一氣一毒。則亦似無詳竅。</p>
<p>李中梓引致求正錄云。劉朱之言不息。則軒岐之澤不彰。誠斯道之大魔。亦生民之厄運也。夫劉張朱李之言師法於當時。然尚有是拒違之言。無怪後世。破劉朱之說。實蕃有徒矣。</p>
<p>古語云。病傷猶可療。藥傷最難醫。學者宜鑑戒之。</p>
<p>前哲論富貴貧賤異治。想應有此也。唯吾曹草澤賤醫。才往來於鄉里。出入於閭巷。至於朱門黃扉。吾所未睹。不敢以此概彼。</p>
<p>世有原方上。漫為增加。添蛇足之類耳。當依古之定法規則。考君臣佐使之分。審良毒。辨好惡。而後以為加減。不然。大失原方之旨趣焉。</p>
<p>李士材云。病不辨則無以治。治不辨則無以痊。夫汗吐下溫清補者。為治術之要領。就中吐為最難。吾邦近世用吐方尤精。往往勝於中夏。蓋非有特得之術。難以妄為焉。余歷年試於治術。知吐方之甚難。是以偶遇可吐之症。則辭不敢施治。懼代斫傷指耳。</p>
<p>自古賢者之隱於醫卜者。是蓋負其才能。未遭遇其時。托以潛跡於此而已。吾輩鈌瓶之識。粗淺之學。縱令遭遇其時。焉能有所為焉。非夫奇士之懷才。以隱於書卜之類。但才嗣箕裘之業。奔走於醫事。蓋亦技殫於此而已。且不肖自幼多病。不勝勞務。性好讀者。居恆在先考膝下。旦暮鑽研其道。先考每戒醫藥之差誤。天刑不可逃。不肖於是悚然懼。瞿然警。終上溯岐黃之經。下塈李朱之編。及其他吾邦近世新著遍讀之。然未能曉然。及十五歲始遊於京師。就淺井氏。受靈素難經之說一年。徒懵然如處雲霧中。不辨東西。又聞衡山先生唱古醫方。就學一年。竟無所得。芒芒而歸。覆在先考之傍。朝有所聞。夕有所試。遂綜博千古。涉獵群策。始悟醫途之要務。不必泥古方。不必舍近方。別有一條正路也。於是十年疑團。渙然冰釋。似暗室之張燈。既而又把先考所著古方類苑。藤氏方選。旦暮誦之。稍稍知其用心之所在。以是日試於疾病。又稍稍知其立方之不繆。十有餘年。而今而知醫道之難也。因念夫賢者之隱於醫卜。亦非以此消閒。要以試其所負於此耳。不肖如僕。黽勉從事。其苦心固當然爾。然施治之暇。未嘗少廢筆研。以志吾自少小一二所得。示門下之子弟。而欲使知夫醫事之難。非愉惰苟且之所能得云爾。</p>

<h2>傷寒</h2>
<p>傷寒者。非汗解不解。蓋傷寒之邪。自毫竅而入。其汗解在初起。長沙氏以桂枝麻黃髮其汗。於前論已明備。若一誤其機。則諸症百出。或可吐。或可下。或可和解。或可大黃。可芒硝。可附子之症。皆出於汗解之誤治。不可不謹矣。予歷年試許多之傷寒。可汗解者。十中之九。非汗解者。十中之一而已。是蓋非汗解之病如是多。世醫恐汗解而不解之故也。世醫恐汗解如虎如狼。發汗過多。則云亡陽。或云亡津液。是以可解之邪。鬱伏為壞症。遂至云附子。云芒硝。云大黃。而或竟斃。何恐汗解之至於是乎。仲景云。本太陽初得病時。發其汗。汗先出不徹。因轉屬陽明。是之謂也。故仲景云。自汗出而不愈者。先其時發汗。則愈。宜桂枝湯。復無汗者。以麻黃湯發之。蓋傷寒初起。有汗無汗。只發其汗則愈也。是長沙氏之法也。且夫汗解。非唯陽症。陰症猶且然。仲景云。小陰病得之二三日。麻黃附子甘草湯。微發汗。是陰經猶專汗解。況於陽經乎。予往往療汗解之壞症。以長沙氏之法。得奇功不少。附於後。</p>

<h2>太陽病</h2>
<p>桂枝湯　自汗出者。</p>
<p>桂枝加葛根湯　自汗出者。</p>
<p>葛根湯　無汗者。</p>
<p>麻黃湯　無汗者。</p>
<p>大青龍湯　不汗出而煩躁者。</p>
<p>如仲景主治者。不贅於此。下仿之。</p>

<h2>陽明病</h2>
<p>白虎湯　陽明病發汗之主劑。</p>
<p>按此方。仲景未嘗言發汗。古人亦為清涼之劑。陶弘景雲。石膏發汗。古人亦以為不稽之說。成無己云。石膏乃重劑。而又專達肌表。吳又可云。白虎辛涼解散。服之自汗而解。又云。脈浮者。當汗解。宜白虎湯。余考白虎。本非發汗劑。而石膏乃陽明胃經之主藥。傷寒溫疫。同是邪毒。今邪毒聚胃經。則石膏以涼解之。是以邪氣達表。自汗發汗而解也。猶服承氣者。裡氣一通。則汗解。仲景立此方者。蓋陽明胃經之主藥也。又可治疫主此湯者。又以邪毒在胃經也。故曰。此湯陽明病發汗之專劑矣。</p>
<p>桂枝湯　論云。陽明病。脈遲。汗出多。微惡寒者。表未解也。可發汗主之。</p>
<p>麻黃湯　論云。陽明病。脈浮無汗而喘者。發汗則愈主之。</p>
<p>小柴胡湯　論云。陽明病。肋下硬滿。不大便而嘔。舌上白胎者。可與小柴胡湯。上焦得通。津液得下。胃氣因和。身濈然而汗出解也。</p>

<h2>少陽病</h2>
<p>小柴胡湯　少陽病發汗之主劑。</p>
<p>仲景云。少陽不可發汗。按少陽不可發汗者。言不可用桂枝麻黃也。仲景云。凡柴胡湯。病證而下之。若柴胡證不罷者。與柴胡湯。必蒸蒸而振。卻發熱汗出而解。又柴胡湯之條云。外有微熱者。去人參加桂三兩。溫覆取微汗愈。</p>
<p>柴胡加桂枝湯　仲景云。傷寒六七日。發熱惡寒。支節煩疼。微嘔心下支結。外證未去者。是湯主之。</p>
<p>按桂枝湯。元發汗之劑。小柴胡又發汗。二方合。仍能為表發。予每用是方得奇功不少。或隨症加減。凡傷寒日數過多者。多在柴胡桂枝之間。宜哉此湯有效。且夫此方和榮衛之補湯也。艮山氏。嘗知此方之奇異。予仿之。投諸病。實知古方之奇能也。</p>

<h2>太陰病</h2>
<p>桂枝湯　論云。太陰病脈浮者。可發汗。宜桂枝湯。</p>

<h2>少陰病</h2>
<p>麻黃附子甘草湯　論云。少陰病。得之二三日。麻黃附子甘草湯。微發汗。</p>
<p>麻黃附子細辛湯　按亦發汗之方也。</p>

<h2>厥陰病</h2>
<p>麻黃升麻湯　厥陰編云。傷寒六七日。大下後。寸脈沉而遲。手足厥逆。下部脈不至。咽喉不利。唾膿血。泄利不止者。為難治。麻黃升麻湯主之。令盡汗出愈。又云。下利脈數有微熱。汗出令自愈。又云。下利脈沉而遲。其人面少赤。身有微熱。下利清穀者。必鬱冒。汗出而解。</p>
<p>桂枝湯　厥陰編云。下利腹脹滿。身體疼痛者。先溫其里。乃攻其表。溫里四逆湯。攻表桂枝湯。</p>
<p>小柴胡湯　厥陰編云。嘔而發熱者。小柴胡湯主之。</p>
<p>今舉於此者。才發汗之一例而已。其他六經之諸症治方。不贅於此。當熟考仲景本書矣。</p>

<h2>時疫</h2>
<p>治時疫也。亦非汗解不解。蓋傷寒之邪。自毫竅而入。時疫之邪。自口鼻而入。傷寒汗解主於前。時疫汗解主於後。又可氏詳論之。學者當熟參焉。予按傷寒汗解之治。在桂枝麻黃。時疫汗解之治。在白虎承氣。是前後進退。有別故也。吳又可治疫制達原飲。以導邪毒。又主白虎承氣。俟自汗盜汗狂汗戰汗。其論已明備。然予以為達原飲。三消飲。柴胡清燥等之方論。未足深信。偶感之輕者。或毒熱薄者。雖非無其效。而至於邪毒猛烈。表裡共熱等之症。豈達原清燥之緩劑。所能導達乎。是蓋非分解其熱毒。則不可得安何者。邪不傳則不去。邪不去則病不瘳。至白虎承氣之時期。自汗盜汗狂汗戰汗者。即邪去病瘳之時也。而俟其時者。不如分解邪毒。和榮衛。蓋又可氏俟其時以達原清燥之緩劑調理之。至其感之輕者。實可謂良法也。然至其邪毒盛表裡共熱等症。猶用緩劑。以俟邪之衰。似非上策。不如分解其邪毒。以俟白虎承氣之時耳。故予每至邪毒盛者。以桂枝麻黃分解其邪毒。察其進退。俟白虎承氣之時。同歸一途。蓋邪毒非發汗不解。白虎承氣者。實發汗之專劑也。予歷年用仲景之處方。仿又可之法者。附於後。</p>
<p>達原飲　感之輕者。</p>
<p>三消飲　感輕便結者。</p>
<p>柴胡清燥湯　感之輕者。</p>
<p>桂枝湯　邪毒重汗出者。以是方分解。</p>
<p>麻黃湯　邪毒重無汗者。以是方分解。</p>
<p>柴胡桂枝湯　邪毒重緩症者。以是方分解。</p>
<p>白虎湯　又可氏云。白虎辛涼解散服之。或戰汗或自汗而解。</p>
<p>白虎加人參湯　又可氏云。周身血液枯涸。不得汗者。用此方汗解。</p>
<p>三承氣湯　又可氏云。宜承氣先通其里。裡氣一通。不待發散。多有自能汗解。予按承氣發汗之意見於此。</p>
<p>予錄於此者。只舉汗解之一例。而至其病化之轉變。解後之養榮等。亦當仿又可氏之法也。</p>

<h2>痢疾</h2>
<p>痢疾之證。自古未有明說。經云。腸澼云。暴注下迫。難經云。大瘕泄。大腸泄。仲景云。下痢者。皆古人以為痢。似未的當。巢氏病源。思邈千金方。王燾外臺秘要。皆腸澼飱泄混同。未見正辨。外臺許仁則。略似有明說。而其論所因。又尚未合。於是歷代方書。或云滯下。或云瀉痢。或云痢。命名論治。終無歸一。或以赤白分寒熱。或以赤白分氣血。至論其因。或云飲食積滯。或云腸中鬱滯。或云寒。或云熱。或脾虛。或腎虛。至其治術。或偏於辛熱。或僻於苦寒。或主疏滌。或主補氣補血諸說紛紛者。如此。今審其症候。與歷代名家之所論其病形懸殊何也。蓋今之所有痢者。與彼所謂痢者異邪。將其土異而因致有其證之異邪。將古無今痢。古痢亦無於今乎。何其齟齬之至。於是也。業是業者。若不審其所因。而施其治術。則何止千里之謬乎。余嘗歷觀今所謂痢者。推究其所因。本不過外來之邪氣而已矣。外臺所引病源深師範汪甲乙等所云。天行熱痢者。略相似矣。蓋外來之邪毒。客於腸中。以腐爛其穢物。因致赤白滯下膿血下重諸症者也。故其病形與傷寒時疫彷彿。初起頭痛發熱口渴舌燥憎寒壯熱身痛腰痛。而下痢膿血。日數十行。臍腹疼痛。其形狀與傷寒時疫本無大異。只加下痢膿血。臍腹疼痛數症而已。是蓋以邪毒客於腸中。因致此數症。差所以與傷寒時疫為異也。然其所謂邪毒者。不過於外來之邪毒。故其施治。亦不過於解散邪毒。若邪毒留滯於腸中。則毒熱薰上。禁口發嘔。奇證百出。以至不可救。不可弗慎矣。且夫今痢。自夏初至秋末流行。冬春甚罕。是蓋外來邪毒之所致。而非內因明矣。若是內因。則何必於夏初秋末乎。余故曰。彼腸中之鬱滯。或脾虛腎虛等之論。亦不可取矣。予歷年經驗之方。錄於後。</p>
<p>倉廩散（龔氏方）即人參敗毒散。加黃連陳倉米者。龔氏云。治痢疾。赤白。發熱不退。腸胃中有風邪熱毒。及時行瘟疫。沿門闔境。皆下痢噤口者。服之神效。</p>
<p>醫宗金鑑云。初痢有表證發熱者。不宜攻之法。當先解其外。用此方汗之。○予每治下痢。不問新久難治者。用此方間得奇效。</p>
<p>柴胡加桂枝湯（仲景方）　（予）或加乾薑溫發邪毒。</p>
<p>桂枝湯（仲景）　逐邪毒。</p>
<p>桂枝加大黃湯（仲景）　逐邪毒。</p>
<p>厚朴七物湯（仲景）　先輩云。痢初發。惡寒。發熱。腹滿痛。飲食如故者。</p>
<p>大承氣湯（仲景）　逐邪毒。</p>
<p>溫脾湯（千金）　補元。氣逐邪毒。</p>
<p>溫脾湯方　大黃　桂心　附子　乾薑　人參</p>
<p>駐車圓（千金）　治血痢。</p>
<p>駐車圓方　黃連　乾薑　當歸　阿膠</p>
<p>予每以此方治陰虛勞嗽而為利者。殊效。</p>
<p>芍藥湯（張潔古）　治下痢膿血裡急後重。</p>
<p>芍藥湯方　芍藥　當歸　黃芩　黃連　大黃　肉桂　木香　檳榔　甘草</p>
<p>人連湯（丹溪）　下痢噤口不食者。</p>
<p>半夏瀉心湯（仲景）　噤口發嘔者。</p>
<p>建中湯（仲景）　邪毒盛形氣衰弱者。</p>
<p>理中湯（仲景）　邪毒半解中氣不足者。</p>
<p>補中益氣湯（東垣）　邪毒解後。中氣不足者。調補脾胃。</p>
<p>八味腎氣丸（仲景）　邪毒解後。下焦不足者。</p>

<h2>腳氣</h2>
<p>腳氣者。腎虛也。非外感邪賊之病。蓋腎主下焦。而為生命之府。其精乃臟腑之真元。非榮血之比。故曰天癸。以養一身之司命也。人之精血。常患不足。故腎有補而無瀉矣。若一散亂。則形體失守。病尋成。蓋腳氣一症。本出於腎虛。腎在下焦。故腎經失守。則邪毒乘虛入於下焦。是風寒暑濕之乘腎虛也。譬猶守兵怠而賊兵入關。或遂至陷其城。若慎其守。則賊兵何敢覬覦乎。夫腎氣竭。而邪毒至衝心者。乃城既陷者也。蓋腳氣之症。不衝心。乃不死。既至衝心。則非復針灸湯液之所及。是以治腳氣者。只強其腎精。堅其根本。雖邪毒侵下焦。不至以衝心。其所以衝心者。以下焦無守也。是以崔氏治腳氣上入小腹不仁。用八味丸。八味丸者。仲景之所制補腎之主劑也。是蓋邪毒不至衝心之前。先強腎精。堅根本之法。方本非為治腳氣設。而實治腳氣之良劑也。世醫或只言八味丸治腳氣。而不知其因補腎經而然者。是不會方意者也。夫八味丸品味。非治衝心之藥。又非有逐邪毒之能。只強下焦補腎經而已。崔氏之以此治腳氣小腹不仁。可謂得仲景之微意也。蓋腳氣不衝心不死。只以仲景之法。能補其腎經。能堅其根本。又何憂之有。腳氣之治。實莫善於是矣。</p>
<p>又按腳氣之症。古人以為難。黃岐之世。名云緩風。云濕痹。又云厥。而此病尚罕。至漢唐之世頗多。故自長沙氏以來。議論紛紛。奇說百端。孫思邈千金方。王燾外臺秘要。所舉病源。蘇長史近效。崔氏唐侍郎延年廣濟等。其說雖詳。而議論不可取者多。蘇長史雖最詳。而專禁補。亦不可從。議論亦多謬見。崔氏獨能通長沙之意。又得腳氣之治。尤可規則耳。其後至宋金元明諸家。無復足取者。只當依仲景之舊余備於參考也。錄予歷年所試之方。且取捨諸說附於下。</p>
<p>千金論曰。考諸經方。往往有腳弱之論。而古人少有此疾。自永嘉南渡。衣纓士人。多有遭者。嶺表江東有支法存仰道人等。並留意經方。偏善斯術。近來中國士大夫。雖不涉江表。亦有居然而患之者。良由今代天下風氣混同。物類齊等所致之耳。</p>
<p>按是論腳氣。依方土風氣。予不以為然。腳氣者。內因也。內因者。固不依方土。居然自病。亦不足怪。古少是病者。以人性厚強也。至漢唐頗多者。蓋民風稍漓。元氣轉薄。而情欲日益縱恣。是所以多此病也。且夫黃岐之世。已有緩風濕痹之名。而後醫猶不識。謾為余病療之。是不特當時少此病。亦識此病者少耳。蓋腳氣者。腎虛也。豈有依方土風氣之理乎。</p>
<p>千金又云。凡患腳氣。到心難治。以其腎水克心火也。按腳氣本下焦之毒也。毒乘腎虛。遂衝心則死。非腎水克心火也。</p>
<p>病源云。凡腳氣病。皆由感風毒所致也。得此病者。多不即覺。或先無他病。而忽得之。按風毒者。病之枝葉耳。是不知病因在內之說。不可從也。</p>
<p>又云。大虛乏短氣。可間服補湯。隨病體之。按腳氣者。本虛病也。至於虛乏短氣者不治也。非補湯之所及也。用補湯者。當用未至短氣之前也。</p>
<p>蘇長史論曰。腳氣之為病。本因腎虛。又云。腳氣病雖苦虛羸。要不可補之。補藥唯宜冬月。按蘇云。腳氣本腎虛。而復云不可補。何言之矛盾乎。蓋腳氣之本。為腎虛也。治其本者。治腳氣之法也。故仲景以八味丸治其本。今夫禁補湯者。舍其根本。伐其枝葉也。反仲景之法。不可從。若夫舍根本伐枝葉。何保無衝心之憂乎。</p>
<p>千金云。腳氣之疾。皆由氣實而死。終無一人以服藥致虛殂。按思邈之言。後人以為則。而猶有是繆論何哉。夫腳氣之病。出腎虛明矣。何不可補乎。所謂由氣實而死者。由邪氣實而死也。豈有精氣實者。而邪毒侵之乎。蓋腳氣症本因腎精虛乏。邪氣盛實而死。豈有精氣實者。而至死乎。經云。邪氣盛則實。精氣奪則虛者。是之謂也。且夫藥物者。補精氣。去邪賊之具。豈有服藥致虛之理乎。噫。以思邈之賢。猶尚有是繆論何哉。</p>
<p>蘇長史云。室女及婦人。或少年得此病者。又非由腎虛。而得卑濕之土。按蘇以為室女及婦人。或少年。無腎虛。何不通於事理之甚乎。夫人身之體。有生之初。已有厚薄。故丈夫有腎厚。兒女有腎薄。不可以膠執夫婦女少年得此病者。皆以有生之初。腎薄之故耳。不復足怪矣。且夫婦女少年。有肝肺虛。則可謂腎獨無虛乎。蓋此病以腎薄。下焦虛之人。得卑濕之土。以發焉耳。非由腎虛。而唯得卑濕之土以發者。甚輕症也。不以足曰腳氣。</p>
<p>許仁則云。有乾溼二腳氣。濕者腳腫。乾者腳不腫。按此說雖支離也。亦可以備參考。</p>
<p>陳無擇曰。腳氣不專主於一氣。亦不專在一經。故與中風寒暑濕為異耳。楊氏云。腳氣是為壅疾。東垣云。腳氣之疾。實水濕之所為也。丹溪云。腳氣多屬肺氣之實。按數條皆是。雖系名家之說。然今熟審其症不合。不可從。</p>
<p>活人書曰。凡腳氣。補藥之當禁。禁其始也。發散疏下之後。而病屬虛者。豈可禁乎。按補藥之當禁。禁其始也。是何言之繆也。蓋腳氣本出於腎虛。補當在其始也。至於邪氣實者。非補湯可及。至其邪氣盛者。發散疏下以攻伐可也。故補當補於其始耳。</p>
<p>按論腳氣者。外臺秘要。最為詳也。然議論方法不可從者多。至其補湯。間有可取者。然無有逾長沙之八味丸者。降至宋金元明。諸說紛紛。或云虛。或云實。或云濕。或云壅。或云肺。今概弗取。其處方。或攻擊。或補湯。予歷年試用有驗者。錄於下。</p>
<p>八味腎氣丸　仲景云。虛勞腰痛。少腹拘急。小便不利者主之。又云。夫短氣有微飲。當從小便去之主之。又云。男子消渴。小便反多。以飲一斗小便一斗主之。又云。師曰。此名轉胞。不得溺也。以胞系了戾。故致此病。但利小便。則愈。宜腎氣丸主之。按八味丸。補腎之劑。而益精強元之方也。而後世有以為小便通利之劑者。是遽讀仲景主治之言。而不審察其旨趣之所在者也。蓋仲景制八味丸。本為補腎設。而其云利小便者。非直利小便。使腎經強矯也。腎經強矯。則小便自利。故云利小便耳。如夫消渴病小便反多。以飲一斗小便一斗者。亦用八味丸。以是觀之。非利小便。使腎經強矯者明矣。是仲景之真意也。而其用之治腫滿。似有通利之功者何也。蓋腎主水。腎虛則不能宣通水液。水液不傳於小腸。水氣擁溢。所以致腫滿也。於是乎用八味丸。補腎而小便自通。腫滿自消。是仲景之方。所以妙於千古也。夫通利之劑。足以治腳氣。則五苓散可耳。何必待八味丸乎。故八味丸之有通利之功者。治不利之本者也。學者其審諸。</p>
<p>外臺云。崔氏腳氣上入小腹。小腹不仁。即服仲景八味丸。按八味丸。治腳氣。是崔氏之所發明也。是方仲景所制。而未言及腳氣之治。而自崔氏初發之。實可謂得仲景言外之意矣。知夫腳氣為腎虛。又知八味丸為補腎之劑。則腳氣之治。莫藉於他耳。</p>
<p>又按八味丸。非唯治腳氣諸病。屬腎虛者。皆用。可以補後世名家用之。皆以為有補腎之效也。而或以為通利之劑者。非悖乎。又按腳氣非補腎不治。故上自千金外臺。下至李朱之書。補腎之方劑。亦不遑枚舉。然無出於八味丸之上者。予每用此湯。於腳氣。治其本。至治其標。雜投諸家之方。其經驗者。錄以示幼學。甲賀通元云。金匱中風歷節附方崔氏八味丸治腳氣。上入小腹不仁。按此崔氏八味丸品味分兩。與婦人轉胞腎氣圓同。乃林億等。自外臺秘要。腳氣方中採附於金匱中風歷節之後。蓋八味腎氣丸。仲景所制。而又治腳氣上入者。出於崔氏所治。故標出崔氏八味丸。此崔氏未審名字。應是仲景以後人耳。諸方書。或以八味丸為崔氏制者。非也。</p>
<p>烏頭湯（仲景）　治腳氣疼痛。不可屈伸。予每用此方。療腳氣標症。兼用八味丸。治其本。</p>
<p>越脾湯（千金）　療風痹腳弱　此方即仲景越脾加朮湯加附子者。予每用此方。亦兼用八味丸。</p>
<p>茱萸湯（千金）　外臺文仲云。毒氣攻心。手足脈絕。此亦難濟。不得已作此湯。</p>
<p>茱萸湯方　吳茱萸　木瓜</p>
<p>外臺唐侍中療腳氣方　大檳榔　生薑　橘皮　吳茱萸　紫蘇　木瓜（按先輩名大檳榔湯。治腳氣。）</p>
<p>千金治水腫利小便酒客虛熱當風飲冷水腹腫陰脹滿方　商陸　甘遂　芒硝　芫花　吳茱萸　未蜜丸</p>
<p>按先輩名平水丸。治腳氣腫滿及下部病。</p>
<p>敗毒湯（三因）　治三陽經。腳氣流注。腳踝上焮熱赤腫。寒熱如瘧。自汗惡風。</p>
<p>依本方加大黃蒼朮　予用此方。每得奇效。示兼用八味丸。</p>
<p>按治腳氣之方。外臺千金最為備。此舉其經驗者。其他元明之方。亦有可取者。學者當參考。</p>

<h2>虛勞</h2>
<p>虛勞者。勞傷臟氣之謂也。夫人身之疾病。非外感則內因。內因亦有虛有實。虛者所謂虛勞也。蓋治之之法。不可汗。不可吐。亦不可下。只有補之耳。而補之義。予前詳論之。夫補者。非充足焉。非滋潤焉。填調其勞傷不足之義也。既填調之。臟氣循環。榮衛流行。則臟氣自充足焉。榮衛自滋潤焉。是蓋體用耳。補之調之者用也。充足之滋潤之者體也。非謂草根木皮。直充足滋潤臟氣也。予歷年所用之方。附於下。</p>
<p>三黃瀉心湯（金匱）　補心氣不足。</p>
<p>桂枝加龍骨牡蠣湯（金匱）　補腎虛。</p>
<p>小建中湯（金匱）　補諸不足。</p>
<p>千金云。治肺與大陽俱不足。</p>
<p>黃耆建中湯（金匱）　補諸不足。</p>
<p>酸棗湯（金匱）　補心虛。</p>
<p>大黃䗪蟲丸（金匱）　治諸不足。緩中補虛。</p>
<p>灸甘草湯（金匱）　治虛勞不足　甲賀通元曰。按金匱虛勞附方。出千金翼炙甘草湯與傷寒論同。蓋治虛勞不足者。出於千金翼耳。</p>
<p>八味腎氣丸（金匱）　補腎虛之主藥也。</p>
<p>錢氏地黃丸（小兒直訣）　即六味丸。補腎虛。</p>
<p>王海藏元戎云。八時丸蓋火之源。以消陰翳。錢氏地黃丸壯水之主。以制陽光。</p>
<p>逍遙散（局方）　補肝脾虛勞。</p>
<p>四物湯（局方）　補肝脾腎虛。</p>
<p>四君子湯（易簡方）　補脾虛。</p>
<p>六君子湯（濟生方）　補脾虛。</p>
<p>十全大補湯（局方）　補氣血兩虛。</p>
<p>茯苓補心湯（千金方）　補心氣不足。按千金方三因方易簡方袖珍方云。茯苓補心湯者。主治品味不同。宜用千金之舊。</p>
<p>八物湯（袖珍方）　補氣血兩虛。按八物湯古方。品味有不同。宜用袖珍方。</p>
<p>歸脾湯（濟生方）　補心脾。按濟生原方。無當歸遠志。薛氏加當歸遠志。今從薛氏。</p>
<p>補中益氣湯（辨惑論）　補脾胃虛。</p>
<p>人參湯（金匱）　即理中湯。補中焦。</p>
<p>千金云。已產訖。可服此方。新生臟虛。此所以養臟氣也。</p>
<p>予常用補湯尚多。舉於此者其大約耳。其他不遑枚舉。又至主治品味。不復贅於此。當就本書而考也。</p>

<h1>跋</h1>
<p>古方之精。後方之密。不一而足矣。後學何患不備哉。如斯書。固非敢為醫門之準繩。亦不足以為初學之階梯。直以記平日醫談而已。至夫治驗之方。特鄙事。至經所謂侯王之治。吾豈敢謂知之哉。識者無嘲之。則幸矣。</p>
<p><u>享和壬戌冬近藤隆昌　志</u></p>
