<header data-type="book">
<h1>考證病源</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>姚永濟</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1573">公元1573年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫書流布於天地間，載神聖功巧，以惠千百世之學者，以傳心故也。醫之有書，或論藥性，或論病機，或辨色脈，或寫眾效之方，或據獨得之見，皆出於平生之籌畫，往往拯撥於艱險之間，俾得躋於仁壽也。余讀之終帙，乃矍然而賞之曰：是編也，龍宮神術，鶴背仙方，傳之海島，殆稀世之奇書哉。緬稽春秋時，獨一扁鵲者，見垣一方，八十一難。再稽漢時張仲景者，創傷寒書，為群書之祖。由此觀之，扁鵲之術通於神，仲景之術入於聖，世難其人，自昔記之矣。一仁劉先生，漁獵千秋，上池漱潤，長沙接武，達天人之奧，析性命之微，握起死之柄，涵好生之德，因咀萬斛之英華，遂吐一腔之玄秘，倏然燦然，非夫醫家之四妙，吾道之一貫乎。</p>
<p><u>萬曆丁酉仲春汝楫姚永濟撰</u></p>

<h1>一、治病主藥訣</h1>
<p>頭痛必須用川芎，不愈還加引經藥。太陽羌活少柴胡，陽明白芷還須著。太陰蒼朮少細辛，厥陰吳茱用無錯。巔頂之痛又不同，藁本須用去川芎。肢節之痛用羌活，去風去濕亦其功。小腹痛用青皮治，心痞黃連枳實從。腹痛須用白芍藥，寒痛加桂熱黃柏。腹中窄狹蒼朮宜，腹脹厚朴薑製法。腹中實熱何所施，大黃芒硝功有力。虛熱虛汗用黃耆，肌膚浮熱黃芩宜。脅下疼痛往來熱，日晡潮熱柴胡宜。脾胃受濕困無力，怠惰嗜臥用白朮。下焦濕腫有火邪，知母防龍並酒柏。上焦濕熱用黃芩，中焦濕熱黃連釋。渴用乾薑白茯苓，半夏燥脾當禁革。嗽用五味喘阿膠，枳實黃連消宿食。煩躁須用梔子仁，水瀉白芍苓白朮。調氣必當用木香，若然氣盛又非良。補氣必是用人參，肺經有熱不相應。痰涎為病須半夏，熱加黃芩風南星。胸中寒痰多痞塞，白朮陳皮兩件增。胃脘痛用草豆蔻，若然挾熱芩連湊。眼痛黃連當歸根，心中恍惚用茯神。小便黃時用黃柏，澀者澤瀉用之靈。氣刺痛時用枳殼，血痛當歸上下分。痢疾當歸白芍藥，瘧疾柴胡為之君。滯血桃仁與蘇木，滯氣青皮與枳殼。枳殼青皮若用多，反泄元氣宜改作。凡用純寒純熱藥，必用甘草緩其力。寒熱相雜亦用之，調和其性無攻擊。惟有中滿不食甘，臨症還須究端的。</p>

<h1>二、引經藥</h1>
<p>手足太陽經，藁本羌活行。少陰厥陰地，總用柴胡去。手足陽明經，白芷升葛根。肺芷升蔥用，脾升白芍應。心經獨活使，腎獨加桂靈。分經用此藥，愈病即通神。</p>

<h1>三、七方之法</h1>
<p>大方：謂病有兼症，邪不專一，不可以一二味治之，宜君一臣二，佐九之大方。</p>
<p>小方：謂病無兼症，邪氣專一，可以君一臣二之小方治之。</p>
<p>急方：謂病在下部，宜氣味厚之急方，蓋藥之氣味厚，則直趨於下而力不衰，為補下治下之法也。</p>
<p>緩方：謂病在上部，宜用氣味薄之緩方，蓋藥之氣味薄，則常補於上，為補上治上之法也。</p>
<p>奇方：君一臣二，君二臣三，數合於陽，宜下不宜汗。</p>
<p>偶方：君二臣四，君四臣六，數合於陰，宜汗不宜下。</p>
<p>複方：二三方相合而用也。又曰，反復之復，謂奇之不去，則偶之是也。偶之不去，則反佐以取之。</p>

<h1>四、十劑之法</h1>
<p>宣：鬱而不散，必宣劑以散之，如痞滿不通之類。本草云：宣可去壅，生薑橘皮之屬。又曰：宣者，上召下也，謂吐劑也。</p>
<p>通：謂留而不行為滯，必通劑以行之，如水病痰癖之類。本草曰：通可去滯，木通防己之屬。</p>
<p>補：不足為弱，必補劑以扶之，如形氣羸之類。本草曰：補可去弱，人參羊肉之屬。</p>
<p>重：怯則氣浮，必重劑以鎮之，如驚悸怔忡之屬。本草曰：重可去怯，磁石鐵粉之屬。</p>
<p>瀉：有餘為塞，必瀉劑以逐之，如腹脹脾約之類。本草曰：瀉可去閉，葶藶大黃之屬。</p>
<p>滑：澀則氣著，必滑劑以利之，如便難閉澀之類。本草曰：滑可去著，冬葵子榆白皮之屬。又曰：大便結燥，治以桃仁、郁李仁。小便淋澀，治以滑石、車前子，亦謂之滑劑也。</p>
<p>澀：滑則氣脫，必澀劑以收之，如開腸洞泄，便溺遺矢之類。本草曰：澀可去滑脫，龍骨牡蠣之屬。</p>
<p>燥：濕氣淫勝，必燥劑以除之，如腫滿脾濕之類。本草曰：燥可去濕，赤小豆牡蠣之屬。</p>
<p>濕：燥津為枯，必濕劑以潤之，如五臟痿弱，榮衛涸流之類。本草曰：濕可去枯，紫石英之屬。</p>
<p>輕：表氣下陷，必輕劑以升之，如元氣下陷，癮疹發於肌膚不見之類。本草曰：輕可去陷，升麻防風之屬。</p>

<h1>五、診脈傳心訣</h1>
<p>診家之要四般脈，浮沉遲數為之則。浮沉輕重指端詳，遲數息中分緩急。浮而無力即為虛，浮而有力為洪脈。沉而無力是弱微，沉而有力即為實。遲而有力滑脈居，遲而無力緩之澀。數而有力為緊弦，數而無力是弦脈。浮遲即是表間寒，沉遲即是里冷極。浮數原來表熱真，沉數原來裡熱靈。此言不出古人書，是我傳心之妙識。</p>

<h1>六、七表主病</h1>
<p>浮為風虛芤失血，滑為吐逆實為熱。弦為拘急緊為疼，若是洪來多發熱。</p>
<p>沉寒積痛微冷結，緩主風虛澀少血。遲病冷頑伏積攻，虛弱血氣少分別。</p>

<h1>七、九道主病</h1>
<p>長為壯熱短為食，虛脈心中多恍惚。促緣積聚熱相攻，結為陰寒有所積。動為驚悸血崩淋，牢為水火相刑剋。代為正氣已飄離，細是積枯形瘦極。</p>

<h1>八、診脈總要</h1>
<p>脈中義理極玄微，一訣傳心即瞭然。心與小腸脈洪盛，左關肝膽脈長弦。肺與大腸脈浮短，脾胃安和緩大兼。兩尺屬腎宜沉滑，此為無病體安然。春脈弦兮夏脈鉤，秋脈毛兮冬脈石。順時為吉逆時殃，指下消詳辨生克。左手人迎脈一盛，便是風寒濕暑症。惡寒發熱更無殊，四脈四證要審訂。浮而無力是傷風，浮而有力傷寒症。浮而虛者暑傷心，浮而緩者濕之病。發散滲利不可差，用藥平和保元命。右手氣口脈一盛，便是內傷飲食症。內傷勞倦脈浮洪，飲食傷脾脈緊盛。又有七情氣所纏，喜散怒弦憂澀認。悲緊思結恐為沉，驚則脈來動不定。平謂其氣保安痊，實實虛虛能損命。左關脈實肝有餘，右關脈實脾土虛。左關澀兮血不足，右關滑兮食積居。左尺浮芤小便血，右尺浮洪大便結。左尺遲兮陽事衰，右尺數兮相火烈。一息四至號平和，更加一至太無疴。三至為遲一二敗，兩息一至命云殂。六至為數七至極，八脫九死十南柯。脈無上下陰陽絕，脈無來去本原枯。動止頻頻不久矣，直須決絕莫含糊。大凡診脈要數息，五十不止身無疾。指下欣欣生意多，縱然有病將安逸。此言散載古人書，余今纂作傳心式。</p>

<h1>九、臟腑定位論</h1>
<p>肺居最上，為諸臟之華蓋。形如鐘磬，六葉兩耳，中有二十四孔行列，以分布諸臟清濁之氣。主藏魄，為相傳之官，治節出也。心在肺下，其體半垂，如未開蓮花。中有七孔，以導引天真之氣，主藏神，為君主之官，神明出焉。心下有膈，膈下有胃，主藏水穀。胃左有肝，肝有七葉，肝各有絡脈於中，以宣發陽和之氣。主藏魂，為將軍之官，謀慮出焉，其治在左。肝之短葉間有膽，膽如懸瓠之狀，盛精汁，其性勇，為中正之官，決斷出焉。胃右有脾，形象馬蹄，內包胃脘，經絡之氣交歸於中，以營運真靈之氣。主藏意，為倉廩之官，化物出焉，其治在右。胃下為腹，小腸當臍左邊十六曲，大腸當臍右邊十六曲。主藏溲便，二腸之下謂小腹。小腹內有膀胱，主藏溺，為州都之官，津液藏焉，氣化則能出矣。脊骨第十四椎之旁有兩腎，形如豇豆，相併而曲，附於膂筋，外有脂裹，里白表黑，主藏精，為作強之官，伎巧出焉。三焦者，乃一身中腔子也。心包絡者，乃裹心之膜也。二者相為表裡，連前五臟六腑，共十二經絡也。</p>
<p>此論出於《紺珠經》，略而未備，予參以《內經》並《十二經絡發揮》，三者合而為一也。</p>

<h1>十、考證病源七十四種</h1>

<h2>病因賦</h2>
<p>夫百病之生也，各有其因。因有所感，則顯其症。症者病之標，因者病之本。《內經》曰：知標本者，萬舉萬當。不知標本，是謂妄行。蓋百病皆生於六氣，諸症莫逃乎四因。傷寒傳遍六經，必須熟識。瘟疫病感冒四氣，務要先明。內傷脾胃者，辨有餘於不足。外感熱病者，知夏熱與春溫。卒中風，因有四端，治分三中。破傷風，原有二種，治別三經。中暑有動靜之異，受濕有內外之分。火有七說，痰有十因。氣有九論，郁有六名。瘧犯暑風，更兼痰食，痢因濕熱，及受積停。嘔吐者，胃氣逆而不下。泄瀉者，脾氣傷而不平。霍亂脾寒，傷食所致。痞滿脾倦，積濕而成。咳逆者，胃氣之不順。咳嗽者，肺氣之不清。噯氣皆由於痰火，咽酸盡為乎食停。中滿臌脹者，脾虛不運。噎膈反胃者，氣食相凝。喘急有虛有實，痙痓有陽有陰。五積六聚者，總是氣凝其痰血。五癆六極者，皆緣火爍乎天真。吐血出於胃腑，衄血本乎肺經。痰涎血，屬於脾臟。咯唾血，屬於腎經。牙宣者，陽明之熱極。舌衄者，少陰之火升。腹中窄狹，而痰火各別。胸中煩熱，而虛實可分。驚悸痰迷，恐懼所致。健忘血少，憂鬱而成。癲狂者，分心肝之熱極。癇症者，尋痰火之重輕。便濁，有赤濁白濁之異。汗出，有自汗盜汗之名。九種心疼，痛在胃脘。七般疝氣，病在厥陰。脅痛有兩邊之別，頭風有左右之分。腰痛者，腎虛而或閃挫。腹痛者，寒氣而或食停。痿症，不足與濕熱。痹症，寒濕與風乘。四種遺精，心腎不能既濟。五般黃疸，濕熱熏蒸而成。眩暈者，無痰不作。消渴者，無火不生。不寐者，痰火旺而血少。多睡者，脾胃倦而神昏。大便閉，乃血液燥結。小便閉，乃氣滯不行。痔疾腸風，濕熱所致。發癍癮疹，風熱所乘。耳聾者，腎虛之故。目疾者，肝火之因。齒痛乃胃熱蟲蛀，喉痹乃火動痰升。鼻塞由肺氣之不利，口瘡緣脾火之遊行。女子經水不調，皆因氣逆。寡婦心煩潮熱，多是郁生。帶下沙淋，由於濕熱。血山崩漏，為損衝任。胎孕不安，治有二理。產後發熱，原有七因。茲七十四種之病，略舉其概而賦云，欲知其備，後論詳明。看方猶看律，用……</p>

<h2>百病皆因乎六氣</h2>
<p>六氣者，風濕熱火燥寒也。《原病式》曰：諸風掉眩，皆屬於肝。諸痛癢瘡，皆屬於心。諸濕脹滿，皆屬於脾。諸氣膹郁，皆屬於肺。諸寒收引，皆屬於腎。諸暴強直，支痛軟戾，裡急筋縮，皆屬於風。諸熱喘咳，嘔血暴注，下迫轉筋，小便渾濁，腹脹腫大，鼓之如鼓，癰疽瘍疹，癭瘤結核，吐下霍亂，瞀郁腫脹，鼻塞鼽衄，血溢血泄，淋閉身熱，惡寒戰慄，驚惑悲笑，譫妄衄衊，血汙之病，皆屬於熱。諸熱瞀瘛，暴瘖冒昧，躁擾狂越，罵詈驚駭，胕腫痠疼，氣逆上衝禁慄，如喪神守，嚏嘔瘡瘍，喉痹耳鳴及聾，嘔吐湧溢，食不下咽，目昧不明，暴注瞤瘛暴死，皆屬於火。諸痙強直，積飲痞膈中滿，霍亂吐下，體重胕腫，肌肉如泥，按之不起，皆屬於濕。諸澀枯涸，幹勁皴揭，皆屬於燥。諸病上下，所出水溢，澄澈清冷，癥瘕疝氣，腹滿急痛，下痢清白，食已不飢，吐痢腥穢，屈伸不便，厥逆禁固，皆屬於寒。風有風熱、風寒。風寒則發散，祛風而寒自解。風熱則疏散，熱退而風自平。熱有虛熱、實熱、鬱熱。虛熱者補之，實熱者瀉之，鬱熱者散之。火有陽火、陰火、虛火、實火。陰火虛火從其補，陽火實火從其瀉。濕有寒濕、風濕、濕熱、濕氣。寒濕者，熱藥以燥之；風濕者，風藥以勝之；濕熱者，寒藥以清利之；濕氣者，氣藥以通暢之。燥有寒燥、熱燥、風燥。熱燥者清熱，寒燥者溫經，風燥者祛風，亦必以養血潤燥之藥為君。寒有外寒、內寒、虛寒。外寒發表為先，內寒溫中為急，虛寒壯陽而兼固本。</p>

<h2>諸症莫逃乎四因</h2>
<p>四因者，氣、血、痰、食也。予考丹溪治病，每用四君子湯以治氣，四物湯以治血，二陳湯以治痰，平胃散以治食。多用此四方為主，更參以郁法治之，故藥品不繁而多中於病。</p>

<h2>傷寒症傳遍六經必須熟認</h2>
<p>霜降以後春分前，傷寒即病六經傳。傳過六經當自愈，請看《素問》不虛言。若然兩感傷寒症，一日兩經表裡病。水漿不入不知人，六日之間當損命。是故傷寒不服藥，待過七日無差錯。七日之中一劑差，變為壞症終擔閣。先師立法玄又玄，誰人識得顛倒顛。陽盛格陰須細察，陰盛格陽必再研。表裡陰陽明的確，汗溫吐下用無偏。如斯曲盡傷寒理，直達長沙一脈源。</p>

<h3>太陽經症</h3>
<p>（夏日用九味羌活湯代麻黃湯）</p>
<p>太陽經症惡寒先，身熱頭疼脊痛連。有汗傷風脈浮緩，無汗傷寒脈緊弦。無汗麻黃湯可汗，汗多宜以桂枝煎。時藥香蘇加減用，對經中病即時痊。初病原來是太陽，即宜發表便安康。若還誤用陽明藥，引入肌中熱不涼。</p>

<h3>陽明經症</h3>
<p>陽明經症熱如湯，不惡寒兮減去裳。目痛鼻乾眠不得，脈浮洪滑數而長。法用解肌微取汗，升麻乾葛最為良。太陽傳症到陽明，劑用升麻病即輕。若把小柴胡一服，寒邪轉入少陽經。</p>

<h3>少陽經症</h3>
<p>少陽寒熱往來更，口燥咽乾胸脅疼。乾嘔脈弦兼重聽，小柴胡解即安寧。陽明傳入少陽經，一味柴胡熱便清。若用升麻重發汗，變為畜血反蒸蒸。少陽經症未全除，若用將軍下即虛，痞氣結胸從此變，請君臨症要躊躇。</p>

<h3>太陰經症</h3>
<p>太陰經症當惡熱，脈沉有力來無歇。舌苔氣急煩躁增，白虎投之休膽怯。太陰惡熱煩躁並，口乾舌苔心下悶。二便自利病居中，黃連瀉心湯最穩。太陰惡熱多口渴，煩躁腹滿大便數，黃芩芍藥兩相須，更加國老和中藥。太陰經症身惡熱，更兼腹滿將危絕。後部連朝結不通，桂枝大黃湯最切。太陰經症表尚熱，內有煩躁便且結。腹中滿悶舌中苔，大柴攻解登時捷。</p>

<h3>少陰經症</h3>
<p>少陰經症身體涼，惡熱煩躁手足揚。口渴舌苔腹滿硬，大小便閉語言狂。或為下利純清水，此皆邪熱胃中藏。法用苦寒攻下劑，急投三味小承湯。</p>

<h3>厥陰經症</h3>
<p>厥陰經症身厥冷，煩躁去衣腹滿硬。舌卷囊縮氣上衝，發狂譫語將終命。寄語醫家勿用忙，要知生死脈中詳。生脈來時沉有力，大承急下病安康。死脈來時微且亂，輕於投劑即乖張。論曰：三陰厥逆之症實非真寒，乃假寒也，外雖厥冷內有大熱。《內經》云：亢則害，承乃制。熱極反兼寒化，陽盛格陰，熱深厥亦深也。表雖厥冷非比太陽，惡寒之症如初病太陽，後次第傳至三陰，必先手揚足擲，揭去衣被，狂亂不寧，口渴，大小便秘結，復至沉靜厥逆。醫家至此，不可不察病情，誤投熱藥，殺人不遠。</p>

<h2>直中三陰經真寒症</h2>
<p>元氣衰微邪易侵，寒威直中入三陰。三陰經症須分治，慎勿模糊不用心。太陰直中惡寒時，脈息沉遲弦滑微。肚腹疼來兼吐痢，理中一盞急須施。太陰直中身惡寒，更兼發熱瀉難安。頭痛體疼並腹痛，桂枝參朮炒姜干。少陰直中脈細微，四肢厥逆痛如笞。面色悽悽神不足，大小便利四逆宜。少陰直中體惡寒，發熱頭疼面色蒼。身如被杖且無汗，麻黃附子細辛湯。此症分明是太陽，如何又作少陰詳。只因脈息沉遲澀，故與溫經發表湯。少陰直中惡寒風，身熱頭疼體痛凶。口不渴兮身有汗，桂枝附子芍甘從。此症如何作少陰，脈沉微弱惡寒深。外雖有熱非真熱，陰盛格陽當記心。直中厥陰身厥冷，小腹痛連陰子梗。脈息沉遲弦且微，當歸四逆湯須審。</p>
<p>論曰：直中三陰寒症，惡寒身不熱，面青色，不渴，大小便自利，其脈沉遲，人皆可曉。如或反常，實難知也。若身熱面赤，大小便少利，口乾，醫者至此，但當審其脈勢，雖大，來意虛豁，力薄不沉，或沉弦滑而微，形氣有不足之象，俱為寒症。或服冷藥太過，身熱不退亦然，此非真熱，乃假熱也。蓋因寒邪太盛，逼出虛火遊行於外。經云：陰盛格陽，若不用心而用苦寒之藥，立死無疑。傷寒脈法：陽症見陰脈者，死。陰症見陽脈，生。陽者，脈大而有力，不亂；陰者，脈小而虛微，至亂。</p>

<h2>瘟疫病感冒四氣務要先明</h2>
<p>春應溫而反寒，夏應熱而反涼，秋應涼而反熱，冬應寒而反溫，此天時不正之氣也。人感此氣而為病，則長幼之病皆相似者，名曰瘟疫病也。其症初起憎寒壯熱，頭疼身痛，口渴不惡風寒，治以人參敗毒散表之，小柴胡湯解之，里症見者大柴胡湯下之。疫症日久不除，熱者皆是風寒不清，痰結脾家也。當用常山、知母、檳榔、草果之劑，以開其痰，闢宿食，一劑而愈。</p>

<h2>內傷脾胃者辨有餘與不足</h2>
<p>內傷者謂勞役過多，飲食失節致傷脾胃之氣，氣虛而發熱也。東垣制補中益氣湯治之，其效捷如影響。然有內傷而挾食，此不足之中而繼之有餘也。治當消導為主，而補脾佐之。又有內傷而挾寒者，此亦不足之中而繼之有餘也。治以散邪為主而補氣佐之。及有內傷而犯欲者，此不足之中又加之不足也。治以大補為主。（一人身熱惡寒，頭眩體倦兼帶疼痛，予診，口氣並左尺虛而大，此內傷犯欲也，病者唯唯，遂投十全大補湯二劑而愈。）</p>

<h2>外感熱病者知夏熱與春溫</h2>
<p>發熱之病今人謂之四時傷寒，予考冬時傷寒乃寒邪自外而入，故仲景用麻黃桂枝發表之重劑。春夏發熱之病，其由冬時感寒偶不即發，寒毒藏於肌膚之間，至春發者，名曰溫病；至夏發者，名曰熱病。其寒邪自內而出，故潔古用羌防解表之輕劑。若夫春夏秋三時感冒，非時暴寒，又宜疏表利氣之藥，如香蘇散、芎蘇散、十神湯、參蘇飲之類。</p>

<h2>卒中風因有四端治分三中</h2>
<p>中風之病，其因有四：古人主乎風，河間主乎火，東垣主乎氣，丹溪主乎濕，各有所見，臨症推察則得其因矣。發明論曰：中風病有中臟中腑中血脈之分。中腑者多著四肢，面如五色，脈浮而惡風寒，四肢拘急不仁，或中身之前，或中身之後，或中身之側，皆曰中腑，其治多易；中臟者多滯九竅，故唇緩、失音、耳聾、鼻塞、目瞀、大小便閉結，皆曰中臟，其治多難；中血脈者口眼歪斜。三者治各不同。中血脈而外有六經之形症，則從小續命湯，以發其表，調以通聖散辛涼之劑。若中腑而外有便溺之阻隔，則從三化湯以攻其里。然汗下又不可太過，汗多則亡陽，下多則亡陰，亡陽則虛其衛，亡陰則損其榮，斯又不可不謹也。如外無六經之形症，內無便溺之阻隔，但手足不遂，語言蹇澀者，此邪中於經也。大秦艽湯、羌活愈風湯治之。補其血以養其筋，病自愈也。經云：邪之所湊，其氣必虛。夫中身之前者，足陽明經之虛也。中身之後者，足太陽經之虛也。中身之側者，足少陽經之虛也。左半身不遂者，血虛也。右半身不遂者，氣虛也。左癱右瘓者，氣血俱虛也。因其虛則風邪侵襲，痰火流注，當治以疏風利痰之藥為君，而以補氣養血之藥為臣，更以引經之藥為使，則雖有大風苛毒，當亦自除也。</p>
<p>一人年三十餘，形體壯盛，忽兩目下肉瞤。余診六脈浮洪，謂目下之綱屬足陽明胃經，此經多氣多血，乃風熱太盛而有是症，譬如釜底燃薪，鍋中湧沸。法曰：火從下而泄，風從汗而散，遂用防風通聖散而即愈。</p>

<h2>破傷風原有二種治別三經</h2>
<p>破傷風症因跌打損傷之後，風邪乘隙而客之；或瘡瘍久不合口，風邪乘間而襲之；或用熱湯淋洗，或用艾灸之，湯火之氣亦與風邪無異，其症寒熱間作，甚則口禁目斜，體身強直，死在旦夕，甚可畏也。脈浮無力，太陽也，汗之而愈。脈長有力，陽明也，下之而愈。脈弦而緊，少陽也，和解而愈。若傳變入里，法無治矣。破傷風身體強直，牙關緊急者，用蟬蛻五錢，為末，酒調服，效。</p>
<p>一人因毆傷額，風邪入之，面腫身熱，用杏仁去皮研細，和以白麵，冷水調敷傷處，服以九味羌活湯而遂愈。一女患蟮拱頭，挑穿冒火氣，面腫身熱及小水不利，亦用前法治之即愈。蓋論中所謂湯火之氣亦與風邪無異也。</p>

<h2>中暑有動靜之異</h2>
<p>夏至日後病熱為暑。張潔古曰：動而得之為中暍，靜而得之為中暑。東垣謂：日中勞役而得者為中暍，避暑於深堂而得者為中暑。余考中暍之病，其因勞役於外，日色暴其皮膚，熱氣入其鼻竅，肺經受傷，其症身熱頭疼、灑然毛聳微寒、口開、齒燥、舌苔、煩渴，宜人參白虎湯治之。中暑之病，其由安處家庭，行走門巷，驀然鬱熱熏蒸，口吸暑氣，心胞絡受傷，其症煩渴，自汗面垢，脈虛，或腹痛吐瀉，或嘔噦躁悶，重則昏不知人，宜香薷湯治之。或有夏月曬衣服、書冊，乘熱收藏，及至日後用時，吸其鬱熱之氣，卒然心腹疼痛，霍亂吐瀉，亦謂之中暑，亦用香薷湯治之。</p>

<h2>受濕有內外之分</h2>
<p>丹溪閂：六氣之中濕熱為病，十居八九，有外感而得之者，有內傷而得之者，或居卑濕，或早行霧露，或冒雨，或涉水，或汗衣濕履則濕從外感者也。或恣飲酒漿，過飧生冷，則能運濕從內傷者也。又一說曰：飲食入胃，無非濕也。蓋脾土旺則能運化水穀，上歸於肺，下輸膀胱，無濕氣之可留。若夫脾弱不能運化水穀，亦謂之濕矣。治濕之法古人惟以利水為主，余謂必當因其症而藥之，亦不可執一。濕氣在皮膚者，宜用麻黃、桂枝、防己、蒼朮、白朮之類，以解其表，譬如六合陰晦，非雨不晴也。水濕積於腸胃，肚腹腫脹者，宜用大黃、大戟、甘遂、芫花、牽牛、檳榔之類，以攻下之，譬如水滿溝渠，非導之不去也。寒濕在肌膚筋骨之間，拘攣作痛，或麻痹不仁者，宜用乾薑、附子、丁香、肉桂之類，以溫其經，譬如太陽中天，則陰濕自干也。濕氣在臟腑肌膚之間，微而不甚者，宜用蒼朮、白朮、厚朴、半夏、木香、桑皮之類，以健脾燥濕，譬如須些之濕，以塵土泡之則濕白乾也。濕氣在小腸膀胱之間，或腫或渴，或小水不通，宜用豬苓、澤瀉、茯苓、滑石、茵陳、木通、葶藶、車前子、海金砂之類，以滲泄之，譬如水溢溝澮，外疏通其竇不達也。濕氣在於皮膚，有用防風、白芷、羌活、獨活以勝濕者，譬如清風薦爽，濕氣自消也。</p>

<h2>火有七說</h2>
<p>丹溪曰：五行各一其性，曰君火、相火。君火者，心火也。相火者，肝腎火也。此二火出於天成，又為五志之火。大怒則火起於肝，悲哀慟中則火起於肺，脺飽過傷則火起於脾，房勞過度則火起於腎，思慮過多則火起於心，此五火出於人為。火之為病，不特五臟十二經中，凡氣有餘何莫非火也。諸風掉眩，脅痛目赤，肝火動也，柴胡、黃連主之。口舌生瘡，諸痛癢瘡瘍，心火動也，黃連主之。諸濕腫脹，口瘡口臭，脾火動也，枯芩、山梔主之。遺精夢泄，赤白便濁，腎火動也，知母主之。舌苔喉痛，便閉不通，大腸火也，條芩主之。目黃口苦，坐臥不寧，膽火動也，柴胡主之。癃閉淋瀝，赤白濁帶，小腸火也，木通主之。牙痛齦宣，頰顋頤腫，胃火動也，石膏主之。小腹脹痛，小便不利，膀胱火也，黃柏主之。頭眩體倦，手足心熱，三焦火也，柴胡、黃柏主之。陽事頻舉，精濁不止，命門火也，知母、黃柏主之。凡此皆苦寒之味，但能瀉有餘之火耳。若夫飲食勞倦，內傷元氣，為陽虛之病，又當以甘溫之劑除之，如人參、黃耆之屬。若陰弱陽強，相火熾盛以乘陰位，日漸煎熬，為血虛之病，以滋陰之劑濟之，如當歸、地黃之屬。若心火熾甚，鬱熱內實為陽亢之病，以鹹冷之劑折之，如大黃、芒硝之屬。若腎水受傷，真陰失守無根之火，為陰虛之病，以壯水之劑制之，如生地、玄參之屬。若命門火衰，為陽脫之病，以溫熱之劑濟之，如附子乾薑之屬。若胃虛過餐生冷，抑遏陽氣於脾土之中，為火鬱之病，以升散之劑發之，如升麻葛根之屬。</p>

<h2>痰有十因</h2>
<p>痰者津液之別名也。痰不自生，必有因而生。或因風，或因寒，或因熱，或因濕，或因暑，或因燥，或因酒積，或因食積，或因脾虛，或因胃虛。今之治痰者但知南星、半夏，雖曰治痰，而不知治痰之因，故痰復生而病不除也，余也。治痰必審其因而藥之，故無不瘥。夫因風而生痰者，痰吐涎沫，其脈浮弦，治以前胡、旋覆花之類。因寒而生痰者，痰吐清冷，其脈沉遲，治以乾薑、官桂之類。因熱而生痰者，痰吐膠黃，其脈洪數，治以芩、梔、連、膏之類。因濕而生痰者，痰吐碧綠，其脈浮緩，治以蒼白朮之類。因暑而生痰者，痰多腥臭，其脈虛微，治以香薷、厚朴之類。因燥而生痰者，痰吐如線，或如小珠，或如膠漆，咳咳難出，其脈澀數，治以瓜蔞仁、天花粉、貝母之類。因酒積而生痰者，痰吐嘔惡，侵晨發嗽，治以豬苓、葛花之類。因食積而生痰者，痰吐如桃膠蜆肉之狀，胸腹悶而不安，治以香附、枳實、神麯、麥芽之類。因脾虛而生痰者，痰吐如潮湧，嗽發於五更之際，治以天冬、五味之類。然此皆為輔佐之藥，而君主之劑二陳湯又不可少也。</p>

<h2>氣有九論</h2>
<p>氣者一身之主也，內無七情所傷，外無寒暑所犯，則一氣周流而百骸舒暢也。如有七情所幹，寒暑所觸，則氣之變亂，疾病生矣。《內經》曰：怒則氣上，喜則氣緩，悲則氣消，恐則氣下，驚則氣亂，勞則氣耗，思則氣結，寒則氣收，暑則氣泄，九氣不同為症亦異。張子和論之詳矣，余不復贅。姑以氣之虛實論之。夫實者邪氣實也，虛者正氣虛也。氣虛為病或精神短少，或倦怠嗜臥，或少進飲食，或眩運、痿躄，自汗泄瀉，遺脫之病生焉。審其症候，診其脈息，果是氣虛，則參耆白朮之類，必當用也。若夫心痛脅痛，小腸氣痛，此則邪氣實也，宜作有餘治之。因寒者散寒為先，熱者清熱為主，因痰者利痰，因食者消食，因血者活血，去其邪氣則正氣自通，而痛不作矣，切不可驟用參朮。丹溪曰：諸痛不可補氣，氣旺則其痛愈甚。余又見痛病日久，胃氣漸衰，病氣不減者，此皆醫家不明，認症不的，血病治氣，氣病治血，痰病治食，食病治痰，如此差誤，病根不去，正氣反損，為今之治，又當以補氣之藥為治，去邪之藥為佐。丹溪又曰：氣虛不補，氣何由行。經曰：壯者氣行而愈，怯者著而成病，正此謂也。又聞氣屬陽，調氣之藥必用溫散，如沉香、木香、丁香、茴香、藿香、白蔻、陳皮、香附、砂仁之類。如病日久則氣從火化，而溫熱之劑又不可以單投，必以芩連梔柏之類為主，而少加熱藥為之響導。又聞氣者血之先，血者氣之配，氣既病焉則血不得獨利，故亦從而病也。是以治氣藥中必加以理血之藥，如芎歸芍藥，紅花桃仁亦必選用。</p>

<h2>郁有六名</h2>
<p>丹溪曰：氣血沖和，百病不生。一有抑鬱，諸病生焉。大抵諸病中多有兼郁者，或郁久而生病，或病久而生郁，故凡治病必以郁參治之。郁有六：氣、血、濕、熱、痰、食也。氣鬱者胸脅痛，脈沉澀；血鬱者四肢無力，能食便紅，脈沉芤結；濕鬱者周身走痛，或關節痛，遇陰寒而發，脈沉細緩；熱鬱者，瞀悶，尿赤，脈沉而數；食鬱者，噯酸飽滿，不喜飲食，人迎脈平，氣口脈盛；痰鬱者，動則喘滿，寸脈沉滑，治以六郁湯、越鞠丸主之。濕加白朮、羌活；氣加木香、檳榔；食加山楂、砂仁；血加桃仁、紅花；熱加柴胡、黃芩；痰加半夏、南星；濕加白芷、茯苓；熱加青黛；痰加南星、海石、瓜蔞仁；血加桃仁、紅花；食加山楂、砂仁；氣加木香。春加防風，夏加苦參，秋冬加吳茱萸。</p>

<h2>瘧犯暑風更兼痰食</h2>
<p>《內經》曰：夏傷於暑，秋為痎瘧。又曰：先寒後熱者名曰寒瘧；先熱後寒者，名曰溫瘧。但熱不寒者名曰癉瘧。丹溪曰：有暑瘧、風瘧、溫瘧、痰瘧、食瘧。一日一發，受病一月，間日一發。受病半年，三日一發。受病一年，連發二日，住一日者，氣血俱病也。邪在氣分，則發之早。邪在血分，則發之晏。冬至後，處暑前發者傷之淺，處暑後冬至前發者，傷之重。又有綿延不休，邪氣伏藏，脅肋結為瘧塊，謂之瘧母。凡瘧發時切不可帶熱，飲食恐不消而成痞，痞散而成臌者有之。瘧脈自弦，弦數多熱，弦遲多寒，弦短傷食，弦滑多痰，微則為虛，代則為死。</p>
<p>附治瘧經驗方　瘧發時耳聾脅痛，寒熱往來，口苦喜嘔，脈弦者名曰風瘧，小柴胡湯。瘧發時熱多寒少，口苦咽乾，大小便赤澀，脈弦數者，清脾飲。瘧發時，先熱後寒，名曰溫瘧，白虎湯加桂枝。瘧發時，獨熱無寒，名曰癉瘧，當責之暑，香茹湯加茯神，或用白虎湯加人參。瘧發時，獨寒無熱，脈遲者，名曰牝瘧，當責之寒七棗湯，或用理中湯。瘧發時，一身盡痛，手足沉重，寒多熱少，脈濡者，名曰濕瘧，小柴胡合平胃散。瘧有因飲食飢飽傷胃而成者，名曰胃瘧，人參養胃湯。瘧疾因感山嵐海瘴，發時乍寒乍熱，一身沉重者，名曰瘴瘧，平胃散加藿香、石菖蒲、生薑。瘧疾痰多，胸滿，發作昏亂譫語，脈弦滑者，名曰痰瘧，二陳湯加常山、草果、芩。瘧疾胸膈不寬，惡聞食氣者食瘧也，清脾飲加山楂、神麯、麥芽。瘧疾痰滯，胸滿，熱多寒少，大便燥實者，大柴胡湯下之。瘧疾經年不愈者，名痎瘧也，補中益氣湯。瘧疾微勞不任，經年不瘥，前後復發者名勞瘧，小柴胡湯去半夏，加天花粉。夜瘧宜用血藥引出陽分而散，川芎、當歸、紅花、蒼朮、白芷、黃柏、甘草水煎，露一宿服。瘧母用醋炙鱉甲為君，三稜、蓬朮、香附、海石、桃仁、紅花、神麯、麥芽為丸，醋湯下。截瘧常山、草果、檳榔、知母各一錢，熱酒一鍾，漫露一宿，五更溫服。</p>

<h2>痢因濕熱及受積停</h2>
<p>痢疾之症，傷於氣分痢下則白，傷於血分痢下則赤，氣血俱傷則赤白相雜。黃色者食積也，黑色者濕勝也。下痢之脈微小者，吉；浮洪者，凶。滑大者，吉；弦急者，凶。河間曰：治痢之法，行血則便膿自愈，調氣則後重自除。又曰：後重則宜下，腹痛則宜和，身重則除濕，脈弦則去風。膿血稠黏以熏藥竭之，身冷自汗以熱藥溫之，風邪外束以汗之，鶩溏為痢宜溫之。</p>
<p>附治痢經驗方　痢疾初起便膿血，裡急後重者芍藥湯。白痢用溫六丸，赤痢用清六九，赤白相雜，裡急後重用立效散。痢疾初時失下反用固澀之藥以致邪熱內蓄，血不得行，腹痛欲死者，桃仁承氣湯。痢疾發熱，腸胃中有風邪也，人參敗毒散加黃連、陳倉米、薑、棗煎服。及治時行疫痢，噤口不食，加石蓮肉七枚。下痢日久，赤白已盡，虛寒脫肛者，真人養氣湯。立效散（附）　川連（四兩）　吳茱萸（二兩同炒，去茱萸）　枳殼（二兩麩炒，共為末，每服三錢，黃酒下）。噤口痢，陳倉米煎湯下。</p>

<h2>嘔吐者胃氣逆而不下</h2>
<p>有聲之謂嘔，有物之謂吐。聲者氣與火也，物者痰與食也。或寒氣所幹，或暑氣所中，或大怒氣逆，或飲食過傷，或蛔蟲作痛，或大病胃虛，凡此皆能嘔吐。大抵脈虛而細者，吉；脈實而大者，凶。治以二陳湯為主。胃虛者水漿不納，脈息沉遲，加乾薑、肉桂、丁香、益智之類。傷暑者，煩渴面垢，脈虛體熱，加黃連、扁豆、香茹、厚朴。怒則肝火出，胃嘔而口苦，胸脅不利，脈弦而數，加香附、芍藥、姜炒黃連、竹茹、烏梅。傷食者吐出酸臭，加山楂、草果、神麯、麥芽、枳實、砂仁之類。飲酒過傷而嘔吐者，加葛根、神麯、麥芽、豬苓、澤瀉、白蔻之類。蛔蟲上攻而吐者，加烏梅、川椒、黃柏、乾薑、白朮，蓋蛔得焦之苦則頭伏，梅之酸則身軟也。久病胃虛，聞穀氣而吐者，加參朮、藿香、伏龍肝。積痰在胃而嘔吐者加南星、枳實、竹瀝、薑汁。內傷瘀血在胃而吐者，加桃仁泥、生韭汁。</p>
<p>有一人過傷飲食，腹痛便秘，嘔吐不止，余曰陽明之氣下行為順，上行為逆，此因地道不通故發嘔吐，法當下之，用脾積丸一服即愈。一人霍亂吐瀉之後，飲湯即吐，食物亦吐，余曰吐瀉者氣之滑也，當以澀劑治之，用燒針丸，一服即愈。</p>

<h2>泄瀉者脾氣傷而不平</h2>
<p>丹溪曰：泄瀉者有濕、有氣虛、有痰、有食積。戴元禮曰：瀉水腹不痛者，濕也。飲食入胃不住，完穀不化者，氣虛也。腹痛瀉水，腸鳴，痛一陣瀉一陣者，火也。或瀉、或不瀉、或多、或少者，痰也。痛甚而瀉，瀉而痛減者，食積也。泄瀉之病，四時感受不同，或因風寒暑濕所幹，或因七情飲食所犯，動傷脾氣，故作泄瀉。治當分其新久，審其原因。新則以伐邪之藥為主，而健脾之藥為佐；久則以補脾之藥為君，而升提之藥為佐。余嘗辨症用藥，確然有驗者錄於後。</p>
<p>瀉下青色，腹痛脈弦者宜羌活防風。瀉下白，腹痛脈沉遲而弱，四肢清冷，小便澄澈者，挾寒也，宜薑桂附子之類。瀉下焦黃色，口渴煩躁，脈虛身熱者，挾暑也，宜黃連、扁豆、香薷。瀉下青冷或如塵腐水色，腹不痛，身體重，倦怠無力，脈沉而緩，宜蒼白朮、厚朴。瀉下穀肉不化，酸臭異常，胸膈飽悶，惡聞食氣者，傷食也，宜山楂、草果、神麯、萊菔子、麥芽之類。瀉下或多或少，或瀉或不瀉，或如魚凍者，挾痰也，宜南星、半夏。瀉下過多，小水不利者，當分理陰陽，小水長則大便實也，宜茯苓、滑石、豬苓、澤瀉、木通之類。如泄瀉久者，不可用，用之則損陰氣，常見眼泡下陷而死。此七條皆伐邪之藥也。至於健脾則無如白朮、陳皮、炒芍藥之類，而補脾者則又須人參、茯苓、山藥、扁豆、蓮實、米仁、芡實粉之類。大抵脾胃之氣上升則為生長之令，脾胃之氣下降則為收藏之令。泄瀉日久，皆因脾胃之氣下陷也，宜用升發之藥，如升麻、柴胡、羌獨活、防風、葛根之類。又有每夜子時後五更前作瀉者，乃腎虛作瀉也，宜用肉果、補骨脂、五味子補腎之品。</p>

<h2>霍亂脾寒傷食所致</h2>
<p>霍亂之症，卒然心腹疼痛，上吐下瀉者，謂之濕霍亂也。屬寒者，吐利腥穢，上下所出，水液澄澈清冷，脈沉而遲，四肢厥冷腹痛，不喜飲水，此陰邪勝也。屬熱者，吐利煩熱，自汗口渴，欲飲涼水，脈沉而數，四肢溫暖，此陽邪勝也，總用藿香正氣散加減治之。其或心腹疼痛，不吐不瀉者，謂之乾霍亂也，宜用鹽湯探吐，吐後亦以正氣散調理。如探吐不吐者，死在須臾，錄治法於後。</p>
<p>寒加乾薑，熱加姜炒黃連；腹痛加官桂，痛甚去藿香，加吳茱萸；小水不利加赤茯苓；轉筋加木瓜；發熱加麥冬、淡竹葉；若頻欲登圊，不利者，加枳殼；中暑加香茹、扁豆；心下痞加枳實、青皮；肉食不化加楂肉，完穀不化加神麯、麥芽；霍亂吐利，腹痛，服藥即吐者，百沸湯半碗，冷井水半碗，合而服之即愈。</p>

<h2>痞滿脾倦積濕而成</h2>
<p>痞滿者非痞塊之痞也，乃胸中痞悶而不舒暢也。其由脾倦不能運化飲食，以致積濕成痰，留於中脘而覺痞悶也。治宜健脾順氣，氣順則痰利，脾健則食磨痞消而通泰矣。方用二陳湯加枳實、白朮、香附、砂仁、白蔻、藿香、厚朴。瘦人多是鬱熱，加黃連去半夏，血虛加芎歸去半夏，食積加神麯、麥芽、山楂，去白朮。肥人多是濕痰，加蒼朮，氣虛加人參去半夏。痞膈加蔞仁、貝母、桔梗、竹瀝、薑汁，去白朮、半夏。脾泄中滿加蒼朮、白芍，去半夏。</p>

<h2>咳逆者胃氣之不順</h2>
<p>咳逆者俗謂之發呃，聲短者出於中焦，水穀之病也。聲長者出於下焦，虛邪相搏也。脈浮緩者，吉；弦急者，凶。傷寒失下，便秘而呃者，承氣湯。吐利後胃寒而呃者，丁香柿蒂湯。吐利後胃熱而呃者，橘皮竹茹湯。氣逆而呃者，木香順氣散。病後發呃，難治。</p>

<h2>咳嗽者肺氣之不清</h2>
<p>潔古曰：咳者有聲而無痰，傷於肺氣。嗽者有痰而無聲，動於脾濕。咳嗽者有痰有聲，因傷肺氣而動乎脾濕也。丹溪謂：咳嗽之因有風寒、有痰飲、有火鬱、有勞嗽、有肺脹。戴元禮曰：鼻塞聲重惡寒者，風寒也。嗽動便有痰聲，痰出嗽止者，痰飲也。有聲痰少面赤者，火鬱也。盜汗出，痰多作寒熱者，勞嗽也。動則喘滿，氣急息重者，肺脹也。咳嗽之因，余嘗驗之，聲者出於肺也，痰者出於胃也。肺氣不清則咳嗽不絕，胃氣不和則痰涎日多。亦有因氣不清而吐痰者，亦有因痰多而滯氣者。醫者須識其致病之源，風寒者散之，火熱者清之，濕者燥之，燥者潤之，如此則肺氣清而咳嗽不作，胃氣和而痰涎不生矣。若夫咳嗽日久，肺氣散失，胃氣空虛者，又當以斂肺助胃為主，不可專事於清氣消痰也。</p>
<p>參蘇飲　治四時咳初起之，神劑也。春加羌活、防風、白芷之類；夏加黃連、香薷、厚朴、扁豆之類；秋加桑皮、地骨、杏仁之類；冬加麻黃、桂枝、杏仁之類。</p>
<p>生脈飲　治咳嗽月久之聖藥也，加款冬花、紫菀，其效捷如影響。有血者加阿膠、生地，有痰者加白朮、茯苓。</p>
<p>一方治久嗽不止　款冬、紫菀各一兩，百部五錢，為極細末，每服三錢，用烏梅、生薑煎湯調下，食後，臨臥進一服。</p>

<h2>噯氣皆由於痰火</h2>
<p>噯氣者，胃中有痰、有火，用南星、半夏、石膏、香附、炒山梔，或丸或煎。胃寒噯氣者，用二陳湯加乾薑、益智仁、木香。婦人噯氣，連噯十餘聲不盡，噯出則心寬。不噯則禁，用越鞠丸效。</p>

<h2>咽酸盡為乎食停</h2>
<p>咽酸者，酸水刺心也。吐酸者，吐出酸水也。俱是脾虛不能運化，飲食鬱積已久，濕熱中生，濕熱相蒸，遂作酸也。平胃散加神麯、麥芽、山楂、草果、吳茱萸、川黃連、枳實。或用六郁湯、越鞠丸尤效。口吐清水用壁泥炒蒼白朮、陳皮、茯苓、滑石等分，水煎服，效。嘈雜者，俗謂之心嘈也。有痰，因火動而嘈者，二陳湯加酒炒黃連，山梔仁。有心血少而嘈者，八物湯加麥冬、山梔仁、陳皮、烏梅、炒米。有食鬱而嘈者，越鞠丸。</p>

<h2>中滿臌脹者脾虛不運</h2>
<p>中滿臌脹者，四肢不腫，單腹脹也。其症有四：曰氣臌、食臌、血臌、水臌，皆由脾虛不運，以致聚而為脹也。氣者順之，血者散之，食者消之，水者利之，切不可猛用攻下之劑致傷脾胃。病再復來，不可治矣。若臍突肉硬，肚大青筋，足背手掌俱平者，併為不治。脹滿脈弦，脾制於肝。洪數為熱，遲弱為寒。浮則為虛，緊則為弦。浮大者生，虛小者危。</p>

<h2>附：水腫</h2>
<p>《內經》曰：諸濕腫滿皆屬於脾，諸氣膹郁皆屬於肺。蓋水腫之由皆脾虛不運，肺郁不通以致水漬三焦而為浮腫，以手按之成窟，舉手即滿者是也。身有熱者，水氣在表，治當汗之。身無熱者，邪氣在裡，治當下之。又云：腰以上腫者，宜發汗；腰以下腫者，宜利小便，兼以順氣和脾，斯為良法，慎不可大戟、芫花、甘遂等猛烈之劑，以攻其虛症，吾恐峻決者易，固決者難，水氣復來而無可治之機矣。風腫，皮膚麻木，走注疼痛，分心氣飲治之。氣腫，皮厚，四肢瘦削，腹脅脹滿，流氣飲加減治之。水腫，腰以上腫者，分心氣飲；腰以下腫者，五子十皮飲。血腫，皮間有紅絲血縷，婦人多有此症是敗血化為水也，調經散治之。主瘡腫者，人參敗毒散加荊防、連翹、銀花，間服五子十皮飲。病後脾虛，足跗腫者，由中氣下陷也，補中益氣湯。異鄉不服水土而腫，藿香正氣散。大抵治腫既退，宜白朮膏調理脾胃。</p>

<h2>噎膈翻胃者氣食相凝</h2>
<p>噎膈之病其因有七情過傷，飲食失節，食因氣逆則食不下降，氣因食阻則氣不運行，氣食痰涎，互相凝結，留於咽嗌者為咽，留於胸膈者為膈，妨礙飲食漸為嘔吐翻胃之病也。丹溪云：自氣成積，自積成痰，痰挾瘀血，遂成窠囊。此症若不早治，必為難愈之疾。大法初起者五膈寬中散治之；日久者二陳湯加減治之；口中吐沫，便如羊糞者，不治。噎膈翻胃，通用二陳湯加薑汁竹瀝為主；血虛瘦弱之人加當歸、白芍、杏仁、紅花；氣虛肥白之人加人參、白朮；胸中煩悶加土炒黃連、瓜蔞、桔梗，去半夏；氣鬱不通者加香附、撫芎、木香、檳榔、熟砂仁；脾虛不運者加神麯、麥芽以助化之；大便燥結者加酒蒸大黃、桃仁以潤之。大抵咽膈病，血液枯燥，胃脘乾槁，難服丸散，宜煎膏子服之。</p>

<h2>喘急有虛有實</h2>
<p>丹溪曰：暴病發喘，謂之實，久病發喘謂之虛。脈滑而四肢暖者可治；脈澀而四肢寒者難醫。原夫喘動便有痰聲者，痰也；乍進乍退，得食則減，食已則喘者，火也；氣從臍下起，直衝清道而上者，陰虛也；呼吸短促而無痰聲者，氣虛也；惡寒發熱而喘，脈浮緊者，感寒也；胸中漉漉有聲，怔忡而喘者，水停心下也。大抵患病至於發喘亦為惡候，未易治也。治喘總用蘇子降氣湯為主，痰喘加竹瀝；火喘加山梔、枯芩；氣虛喘加人參、阿膠，去枳殼、桑皮；陰虛喘加知母、黃柏、當歸、生地，去桔梗、枳殼、桑皮、半夏；風寒喘加紫蘇、麻黃、杏仁；水喘用川椒；痰火喘嗽，常服玉露霜可除病根。</p>

<h2>痙症有陰有陽</h2>
<p>痙症者，頸項牽急，腰背反張如鳥張翅，故名痙痓病也。有因乎寒者，令人無汗惡寒，名曰剛痙，屬陽；有因乎風濕者，令人有汗惡風，名曰柔痙，屬陰。俱用小續命湯主之，但有汗出者，去麻黃。或因病發汗過多，或因產去血太甚，筋無血養，則筋急而牽，令百節強痙者，十全大補主之。</p>

<h2>五積六聚總是氣凝其痰血</h2>
<p>五臟五積，六腑六聚。積屬陰而有定位，聚屬陽而無常形。肝曰肥氣，心曰伏梁，脾曰痞氣，肺曰息賁，腎曰奔豚，世人謂之氣塊。丹溪論曰：塊乃有形之物，氣不能成形，俱是痰與食積，死血也。在中為痰積，右為食積，左為死血。婦人腹中有塊，俱是死血。不能移動者曰癥，能移動者曰瘕。大法咸以軟之，堅以削之，行氣開痰為主，潰堅湯丸治之，外用琥珀膏或三聖膏貼之。左脅有塊加青皮；右脅有塊加莪朮；血塊加桃仁、紅花、肉桂，去半夏；食積塊加神麯；痰塊加瓜蔞仁、海石，去山楂；瘦人加人參少許。潰堅湯加海石、瓦楞子、鱉甲，各為細末，將阿魏用醋煮化，和入藥中，薑汁調麵糊為丸，如桐子大，每服五六十丸，黃酒送下。</p>

<h2>五勞六極皆緣火爍乎天真</h2>
<p>五勞者，心肝脾肺腎有所勞傷也。六極者，皮焦、肉脫、筋痿、骨重、津枯、脈數也。大抵勞怯之人，個個有此。六極皆因二火無制，煎爍天真，氣血精神日漸衰弱不能充養一身，以致病成六極。輕則期年而斃，重則半載而亡，良可嘆哉。凡治勞之法，須辨其何臟之虛，何臟之實，氣虛血虛，氣熱血熱，務真知灼見則治之無差。蓋其臟之虛者，診其臟脈必虛而細小；其臟實者，診其臟脈必實而洪大；氣虛者面白而無神；血虛者面黑而枯瘦；氣熱者面紅而光，聲雄而清，病甚於晝，脈浮而數；血熱者面赤而黯，聲雄而濁，病甚於夜，脈沉而數；氣血俱熱者，病則晝夜俱甚，氣急而津枯。依此辨之，無不中的。氣虛用四君子湯，血虛用四物湯，氣血俱虛用八物湯。清氣用麥冬、竹葉、知母、銀柴胡之類；涼血用天冬、生地、胡連、黃柏、枯芩之類；安心神用茯苓、遠志、酸棗仁；壯筋骨用牛膝、杜仲、虎骨；補陽用鹿茸、枸杞、鎖陽、肉蓯蓉、菟絲子之類；補陰用山藥、牡丹皮、龜板、柏子仁之類；降相火用知母、黃柏；澀精用萸肉、龍骨、牡蠣、鹿角霜、赤石脂之類。</p>

<h2>諸血</h2>

<h3>吐血出於胃腑</h3>
<p>吐血嘔血出於胃也。其因有飲食過傷者，有負重損傷者，有房勞損傷者，有勞心過多者，有大怒氣逆者，種種不同必須診脈問因，方可施治。犀角地黃湯為主，酒傷加葛根、黃連、茅根、藕汁；內傷加當歸、桃仁、紅花、韭汁；房勞傷加當歸、熟地、知母、黃柏、山梔、竹瀝；勞心傷加茯苓、茯神、酸棗仁、當歸、柏子仁；怒傷加青黛、黃芩；如精神壯健，大便燥結，吐血不止者，加炒黑大黃、桃仁泥、童便；吐血過多，形容脫色，脈微欲絕者，以獨參湯飲之，乃血脫益氣之法，氣旺則能生陰血也。</p>
<p>一人吐血過多，服諸藥不能止，余即用其所吐血磁器內炒乾為末，麥冬煎湯，服五分即止。此以血導血，血歸經之法也。</p>

<h3>衄血本乎肺經</h3>
<p>衄血者，血出於鼻也。鼻為肺之竅，故曰本乎肺經，犀角地黃湯加枯芩、茅花、柏葉、藕節。一方用荷葉蒂、藕節各七個，水煎服。</p>

<h3>痰涎血屬於脾臟</h3>
<p>痰中帶血者，出於脾也，犀角地黃湯加白芍、茯苓、瓜蔞、竹瀝。如血紫黑加桃仁泥、當歸、韭汁。</p>

<h3>咯血屬於腎經</h3>
<p>咯血者，咯出血屑也。唾血者，鮮血隨吐而出也。俱屬腎，犀角地黃湯加知母、黃柏、玄參、熟地。</p>

<h3>牙宣者陽明之熱極</h3>
<p>齒縫中出血謂之牙宣，乃陽明之熱也。足陽明之脈貫於上齦，手陽明之脈貫於下齦，腸胃中濕熱上熏則齒齦腐爛。出血用黃芩、薄荷、生甘草、連翹、山梔水煎服。外用灶突煤、龍骨鹽炒，為末敷之，即愈。</p>

<h3>舌衄者少陰之火升</h3>
<p>舌上出血，名曰舌衄。用槐花炒為末，摻之。有舌長出口者，多用冰片末敷之，即收。</p>

<h3>腹中窄狹而痰火各別</h3>
<p>肥人自覺腹中窄狹是濕痰流注胃腑，用蒼朮、香附以燥飲行氣。瘦人自覺腹中窄狹是熱氣熏蒸臟腑，用蒼朮、黃連以開鬱清熱。</p>

<h3>胸中煩熱而虛實可分</h3>
<p>胸煩熱而實者，用梔子仁為切當。若虛煩須用人參、茯苓、白芍、大棗、白朮、黃芩、麥門冬之類。</p>

<h2>驚悸痰迷恐懼所致</h2>
<p>驚悸者，心中忽然跳動也。其因驚恐所致，痰迷心竅，神不安耳。治用二陳湯加茯仁、酸棗仁、當歸、遠志、柏子仁、人參。丸藥用八物定志丸、天王補心丹。怔忡者，心中惚惚不安，如畏人捕捉之狀，乃心血少也，用八物湯加酸棗仁、辰砂服之。</p>

<h2>健忘血少憂鬱而成</h2>
<p>健忘之病其因憂思過度，損傷心胞以致神舍不清，故令人轉盼遺忘，宜養血安神，歸脾湯、八物定志丸主之。</p>

<h2>顛狂者分心肝之熱極</h2>
<p>心熱極則顛，肝熱極則狂。顛多喜，狂多怒。脈大者，吉；脈細者，凶。顛宜清心養神，寧志化痰湯治之。狂宜去風除熱，防風通聖散主之。</p>

<h2>癇症者尋痰火之輕重</h2>
<p>癇症大率屬痰火與驚，不必分五等，治法行痰為主，黃連、南星、瓜蔞、半夏。尋痰尋火分多少而治，及平肝之藥青黛、柴胡、川芎之類。</p>

<h2>便濁者有赤濁白濁之異</h2>
<p>便濁者小腸經之熱，膀胱經之結。血受熱則赤，氣受熱則白。治用清心蓮子飲主之，赤加木通、黃柏；白加赤苓、滑石；痛者去人參、黃芩，用甘草梢、梔子仁。</p>

<h2>汗出者有自汗盜汗之名</h2>
<p>自汗者無時而濈濈然，動則為甚，屬於陽虛。盜汗者寐中而通身如浴，覺來方知，屬於陰虛。自汗宜補陽調衛，盜汗宜補陰降火。自汗用補中益氣湯，加麻黃根、浮小麥。虛甚者加熟附一二片，內升柴，俱用蜜炒以制其升發之性。蓋非升柴不能領參耆之性達於肌表，故用之耳。盜汗用當歸六黃湯。方附：生地、熟地、黃柏、黃連、黃芩、酒炒黃耆。獨勝散五倍為末，津調配臍中一夜，汗出登時即退。</p>

<h2>九種心疼痛在胃脘</h2>
<p>心痛則胃脘痛也。古云：心痛有九種：一蟲、二蛀、三風、四悸、五飲、六食、七寒、八熱、九去來痛。雖有其名而無其症，故醫者認之不真，治亦無效。余嘗辨治得法者列後。蟲痛者，懊憹不安，口吐清水，面多蟹爪紋路，用白礬、雄黃、檳榔為末，溫水調下；蛀痛者，平素無心痛之病，忽然作痛，妄言神鬼，脈乍大乍小，乃飛屍鬼蛀也，用忍冬藤一兩水煎服；風痛者，因暑天露臥，風邪入於脾中，脾運連心即是乾霍亂之症也，用藿香正氣散；悸痛者，其痛不甚，但覺胸中隱隱作痛，此因驚氣乘心也，治用二陳湯加茯苓、遠志、枳實、當歸、黃連；飲痛者，因痰飲留於胃脘，阻塞氣道，故作痛也。其人眼下必如灰煙燻黑之狀，胸中常如冰水之停，甚者以滾痰丸下之，輕者以導痰湯加蒼朮、香附、撫芎；食痛者，胸中痞滿或噯氣吞酸，惡聞食氣，用平胃散加枳實、山楂、萊菔子、神麯、麥芽之類；寒痛者，客寒犯胃，其痛大作，四肢清冷，六脈沉遲，蟠蔥散主之；熱痛者，積熱在胃，心煩身熱，二便少利，二陳湯加山梔、黃連、撫芎、香附、金鈴子；去來痛者，時作時止，面赤口渴，瘦弱之人多有此症，乃胃火作痛也，四物湯加山梔、香附、陳皮。又按丹溪云：凡人喜食熱物，致熱傷胃口，多作心痛。其症得熱飲而愈加，其脈沉澀，甚者以桃仁承氣湯下之，輕者四物湯加桃仁、紅花、沒藥、五靈脂、延胡索。</p>

<h2>七般疝氣病在厥陰</h2>
<p>七疝者，寒疝、水疝、血疝、氣疝、筋疝、狐疝、癲疝也。張子和論之詳矣。丹溪曰：疝屬厥陰肝經，與腎絕無相干，多因肝經濕熱之氣下注，不得泄越，或為偏墜，或為疼痛也。治當疏其肝氣，散其濕熱，痛自除矣。劉生三捷湯專治偏墜，不拘遠近，或升或降，疼痛不止者，或不痛者，服三劑即奏神功，故名三捷。附方：青皮（一錢）　官桂（五分）　歸尾（一錢）　檳榔（一錢）　黃柏（三錢）　柴胡（一錢）　橘核（二錢）　木通（一錢）　紫蘇（七分）　香附（一錢）　赤苓（一錢）　大茴（七分）　荔核（七個）　生薑（三片）　河水二鍾煎一鍾，空心服。</p>

<h2>脅痛有兩邊之別</h2>
<p>脅痛即肋痛也。兩脅屬少陽膽經，肝居左，脾居右，故又有兩邊之別。有痰飲作痛者，有瘀血作痛者。痰則脈弦而滑，血則脈弦而澀。痰用陳皮、茯苓、瓜蔞、甘草、枳殼、柴胡、竹瀝、白芥子、薑汁；血用歸尾、赤芍、桃仁、紅花、柴胡、官桂、香附、沒藥。如肝火作痛者加黃連、龍膽草；如食積作痛者，加麥芽、砂仁；肋痛寒熱氣急不食者，多死。瘦人脅下微痛者，血少也，四物湯加柴胡梢。</p>

<h2>頭風有左右之分</h2>
<p>頭居一身之上，當風寒之沖，一有間隙則風邪乘虛而入也。如血虛而風邪乘之則左邊痛，脈浮滑者易治，短澀者難治。方以川芎茶調散為主。血虛加熟地、當歸；氣虛加黃耆、人參；有痰加半夏、南星；熱加黃芩、石膏；風盛加明天麻、蔓荊子。其法以加者為君，本方為臣佐也。</p>

<h2>腰痛者腎虛而或閃挫</h2>
<p>腰者腎之府，身之大關節也。如或房勞過度則腎虛，閃挫則氣逆，負重損傷則血凝，酒食下注則濕熱，睡臥濕處則寒濕，此皆為腰痛之因也。審其病因，症亦有異。腎虛者其痛悠悠不已，脈沉弦而大也。閃挫者俯仰艱難，脈沉弦而實也。血凝者痛如錐刺，日輕夜重。濕熱者小便黃而大便溏，脈沉弦而細數。寒濕者凡遇天陰及久坐而作痛者是也。腎虛用當歸、熟地、枸杞、牛膝、杜仲、茴香、知母、破故紙、續斷、獨活。閃挫用茴香、木香、川芎、獨活、官桂、砂仁、枳殼、杜仲、破故紙。血凝用歸尾、桃仁、紅花、沒藥、乳香、肉桂、延胡索、獨活。濕熱用茯苓、白朮、陳皮、知母、黃柏、防己、秦艽、防風、羌活、獨活；寒濕用川芎、當歸、附子、杜仲、牛膝、白芷、蒼朮、獨活。</p>

<h2>腹痛者寒氣而或食停</h2>
<p>中脘痛屬太陰，臍腹痛屬少陰，小腹痛屬厥陰。綿綿痛而無增減者，寒也；時作時止者，熱也。痛甚欲大便，便後痛減者，食積也；痛有常處而不移動者，死血也；痛時小便不利，得辛辣熱湯而痛暫歇者，痰也；痛而腹中有塊起，急以手按便不見，噁心清水出者，蟲也；或先食熱物，後食寒物而作痛者，冷熱不調也。又有真腹痛，痛時臍上青筋上貫於心者，死。人中黑色者死；脈細而遲者，吉；脈大而疾者，凶。治以平胃散加白芷為主，寒加乾薑、附子、肉桂、吳茱萸之類；熱加白芍、黃柏；痛甚加炒乾姜以治之；食積加檳榔、枳實、神麯、麥芽、山楂、萊菔子之類以消；甚者加大黃、肉桂以下之；死血加歸尾、桃仁、沒藥、五靈脂、延胡索之類以活之，甚者加大黃、桃仁、肉桂以下之；濕痰加南星、半夏、香附、茯苓、枳殼、木香之類；蟲痛加檳榔末、使君子肉；冷熱不調加芍藥、桂枝、錦紋大黃。凡腹滿痛連於脅膈，手足冷，脈伏匿者，多是飲食痰飲填塞至陰，抑遏肝膽之氣，宜用燒鹽三合，溫湯三升調服探吐，此木鬱則達之之法也。</p>

<h2>痿症不足與濕熱</h2>
<p>痿者猶萎也，謂下部痿軟不能行立也。其因或病後遠行，或斫喪異常立行房事，或婦人產後起早，三者皆勞傷骨髓，以致足不能任身。治宜補精養血，壯筋強骨之劑。又必戒絕房事，庶得痊愈。一人性嗜酒，忽患痿症，余謂酒者濕熱之物也，此痿因嗜酒積濕熱所致，治以東垣清燥湯，切忌滋陰之藥。蓋滋陰則益滋其濕而痿不起，投清燥湯一月而愈。</p>

<h2>痹症寒濕與風乘</h2>
<p>痹者，猶閉也。風寒濕三氣合而為痹。風多則走注，寒多則掣痛，濕多則重著。《內經》謂之痹症，方書謂之痛風。名雖不同而症則一，治宜通經止痛湯。一婦懷妊二月，遍身疼痛，或作痛風治，百藥無效，將一月矣。絕粒數日，麻木愈甚，發喘垂危。余診其脈，乍大乍小，乍遲乍數，視其面乍紅乍白，喘則乍作乍止。余曰此非痛風，乃飛屍鬼蛀疰之病，用左纏藤一兩，河水二鍾，煎服即瘥。</p>

<h2>四種遺精心腎不能既濟</h2>
<p>遺精有四：有用心過度，心不攝腎而失精者，有思欲不遂而精遺者，有色欲太過而精遺滑者，有久曠欲事而精滿夢泄者。皆因心腎不接，水火不相濟以致此也。夢中交合而泄者謂之夢遺，此神志不清也。二陳湯加枳實、人參、酸棗仁、遠志、茯神、辰砂末；或隨溲溺而出者，謂之滑精。此房事過多也，八物湯加知母、黃柏、五味子、牡蠣、龍骨、山茱萸。一少年遊學，久無少欲，每日精出，牽絲黏膩，雖不便溺亦常有之。余曰：此名精濁，乃淫火動而精離其腎也。治宜清心滋腎，健脾固本，九龍丹而愈。</p>

<h2>五般黃疸濕熱熏蒸而成</h2>
<p>疸病有五，曰黃胖、黃疸、谷疸、酒疸、女勞疸。《金匱要略》論之詳矣。丹溪則曰：不必分五，同是濕熱而成，如盦曲相似，故色黃也。治宜利水為先，解毒次之，茵陳去疸湯主之。凡疸病，腹滿臍突，手足心黃，寸口無脈者，皆不治也。</p>

<h2>眩暈者無痰不作</h2>
<p>無痰不作眩暈，丹溪之言也。余觀《靈樞》云：腦為髓海，有餘則輕勁多力，自過其度；不足則腦轉耳鳴，脛痠眩冒，目無所見，懈怠安臥。要知眩運之症，實由房勞過度，精氣走泄，腦髓空虛之故，或經勞動則火氣上炎，故卒然頭旋目暗，身將倒僕之狀，治當大補其腎，六味地黃丸加鹿茸、牛膝。《內經》云：滋苗者必固其根，此治本之法也。若夫丹溪所言，無痰不作眩暈者，乃是風寒暑濕之四炁，一有所幹則氣道不順，遂生痰涎，積於胸中，兀兀欲吐不吐之狀，心神煩躁而頭目昏花如運之意，非真眩運也。治以二陳湯為主，風加天麻、甘菊、川芎、羌活；寒加附子、乾薑；暑加香薷、扁豆、黃連；濕加蒼朮、白朮、薑汁、乾薑。又有吐血太過及婦人崩產脫血而暈者，此血脫氣無所倚，神將飛越故暈絕也。宜用獨參湯補之，乃血悅益氣之法，陽生陰長之義。</p>

<h2>消渴者無火不生</h2>
<p>消渴有三：上消者，肺也。多飲水而少食，大小便如常；中消者，胃也。多飲食而小便黃赤；下消者，腎也。小便濁淋如膏，煩渴引飲，耳輪焦黑，小便頻數能食者，必發癰疽背瘡。不能食者必傳中滿腹脹。大抵三消皆因火熱之氣煎熬臟腑，消爍血液也。治以四物湯為主，上消加人參、五味子、麥冬、天花粉，煎入藕汁、生地汁、人乳，飲酒人加生葛汁；中消加石膏，以降胃火；下消加知柏、五味，以滋腎水。一人患渴不止，以青黛一兩，水調服，下長蟲一條，其渴遂止。蓋黛解鬱熱，能殺蟲，故用之有效。</p>

<h2>不寐者痰火旺而血少</h2>
<p>不寐有三：有痰在心經，神不歸舍而不寐者，用溫膽湯加酸棗仁、竹瀝、薑汁；有病後虛弱而不寐者，六君子湯加黃耆、酸棗仁；又有云不寐者，膽虛寒也，棗仁炒末，竹葉湯下；多睡者，膽實熱也，生棗仁為末，薑茶湯送下；有血少而不寐者，歸脾湯。</p>

<h2>多睡者脾胃倦而神昏</h2>
<p>脾胃倦則怠惰嗜臥，神思短則懶怯多眠，六君子湯主之。</p>

<h2>二便閉</h2>

<h3>大便閉乃血液燥絡</h3>
<p>大便秘結者，乃津液枯少，大腸不潤之故也。治當養血潤燥，切不可妄用芒硝、大黃、巴豆、牽牛峻削之劑，戕損其陰，故敗傷胃氣，反受其害。若夫胃氣不虛，邪熱內蓄，大便不通者，則非下不可，而硝黃之類可用。</p>

<h3>小便閉乃氣滯不行</h3>
<p>東垣云：小便不通以渴與不渴辨之，以在氣在血治之。如渴而小便不利者，邪在上焦氣分，宜清肺氣，瀉其火，以滋水之上源，清肺飲主之。如不渴而小便不利者，熱在下焦血分，宜除其熱閉，以滋膀胱腎水之下源也，滋腎丸主之。一人小便不利，諸藥不能效，余曰：膀胱者津液藏焉，有上口而無下口，由氣化而小便利也。今秘而不利，氣滯也，用大皂角一物炒焦為末，蜜丸桐子大，白湯下七丸，即利。</p>

<h2>痔疾腸風濕熱所致</h2>
<p>痔疾者，濕熱之氣所生也。譬如樹生菌物必因濕熱而生，遇涼則枯，其理一也。余制一方，用條芩、秦艽、生地、防風、青皮、槐米、黃連、當歸、荊芥、甘草、枳殼、白朮，水煎服，外用冰片三釐、熊膽三分、番木鱉一個，井水濃磨藥汁敷之，即日奏效，治驗多人。大便下血清而色鮮者，名曰腸風；濁而色黯者，名曰臟毒。糞前來者，近血；糞後來者，遠血。總用當歸和血散、烏梅丸，血止後用白朮散收功。</p>

<h2>發癍癮疹風熱所乘</h2>
<p>發癍者，皮膚之上有云頭紅片也。癮疹者，皮膚之間有紅點，如蚤螫之狀也。皆因風熱所乘，犀角消毒飲主之。</p>

<h2>耳聾者腎虛之故</h2>
<p>耳者腎之竅也。腎氣實則耳聰，腎氣虛則耳聾，此大概言之耳。其實少陽經之所遇，故有氣厥而聾，有挾風而聾，有勞傷而聾者，務必審其因而藥之。腎虛者宜四物湯加枸杞、知母、石菖蒲、黃柏、柴胡、肉蓯蓉。風聾，九味羌活丸加柴胡、菖蒲；勞聾，補中益氣湯加遠志、菖蒲。</p>

<h2>目疾者肝火之因</h2>
<p>目者肝之外侯也。肝主血，在五行為木，譬如木之為物，太茂則蔽密，太衰則枯瘁矣。故血太過則目壅塞而發痛，血不足則目耗竭而失明。大抵壯年與肥盛之人患目者責其血太過也，老年與瘦弱之人患目者責其血不足也。大法太過者清之，不足者補之。附治眼活套：散風：防風、白芷、薄荷、蒙花、羌活、甘菊、蔓荊；清熱：黃連、山梔、黃芩、黃柏、連翹、膽草、犀角、知母、柴胡、決明子、羚羊角、青葙子；養血：川芎、白芍、生地、枸杞、當歸、熟地、夏枯草；理氣：香附、枳殼、青皮、蒼朮、檳榔、甘草；補氣：人參、白朮、黃耆；助陽：蓯蓉、菟絲子、楮實子；退翳：木賊、蒺藜、蟬蛻。</p>

<h2>齒痛乃胃熱蟲蛀</h2>
<p>齒者，腎之標，骨之餘也。腎實則齒固，腎虛則齒豁，腎熱則齒焦。其齒痛者非干腎也，乃陽明經熱也，清胃湯治之。有氣虛而痛者，補中益氣湯加熟地、白芍、丹皮、茯苓；蟲蛀痛者，以新燒石灰為末，蜜丸塞於孔即愈；牙疳，用五倍燒灰，加龍骨末少許抹之。</p>

<h2>喉痹乃火動痰升</h2>
<p>喉痹者，乃咽喉閉塞不通也。曰乳蛾、曰纏喉風。名雖不一，其因則火與痰也。脈伏而微者，不治。清熱：黃連、燈心、薄荷葉、玄參、豆根、荊芥穗；解毒：射干、甘草、牛蒡子；消痰：貝母、桔梗、枳殼、茯苓、天花粉；滋陰：白芍、知母、生地、竹瀝、黃柏。一少年，天氣甚暴，遠行歸，忽咽喉壅塞不語，面熱流淚。余謂暴病屬火，怪病屬痰，此痰火之症也。以辰砂五分、白礬一錢，為末，冷水調下，即愈。又治一疫病不語者，藥下即語。</p>

<h2>口瘡者脾火之遊行</h2>
<p>口者，脾之外侯也。脾火上行則口內生瘡，瀉黃散治之；肺熱則口辣，黃連、乾薑為粗末，嚼之。有虛火上炎，服涼藥不愈者，理中湯以治之；心熱則口苦，瀉心湯；脾熱則口甘，瀉黃散；肺熱則口辣，瀉白散；腎熱則口咸，滋腎丸；肝熱則口酸，瀉青丸；肝膽同熱則口酸而苦，柴胡、黃芩、青皮、膽草之類；胃虛熱則口淡，補中益氣湯。唇燥烈者，脾血不足也，歸脾湯。</p>

<h2>女科雜症</h2>

<h3>女人經水不調皆因氣逆</h3>
<p>血者，氣之配也。氣行則血行，氣滯則血滯，故經水來而成塊者，氣之凝也。將行而痛者，氣之滯也。行後作痛者，氣血俱虛也。色淡者亦虛也，而有水以混之也。錯經妄行者，氣之亂也。紫者，氣之熱。黑者，熱之甚。凡經候不調，總以四物湯為主，看病之虛實而增損之。氣虛加人參、白朮、黃耆之類；血虛倍熟地、當歸，加阿膠，炒蒲黃；氣滯加陳皮、香附、烏藥、青皮、莪朮、枳殼、砂仁、白芷之類；血滯加紅花、桃仁、丹皮、歸尾、牛膝之類；清熱加柴胡、黃芩、秦艽、生地、黃連之類；溫經加乾薑、附子、肉桂之類。定痛加玄胡索、砂仁。去痰加半夏、陳皮、茯苓、南星之類。止澀加赤石脂、伏龍肝。</p>

<h3>寡婦心煩潮熱多是郁生</h3>
<p>寡婦獨陰無陽，多有抑鬱之症，乍寒乍熱，食減形瘦。宜用越鞠丸以開其鬱，逍遙散以調經，經未絕者以厥陰之治，經已絕者以太陰治之。</p>

<h3>帶下沙淋由於濕熱</h3>
<p>帶下之狀如涕之稠黏，與男子遺精同也，治當清心補養為主。沙淋之狀，如漿水之淡薄，亦與男子之遺精同也，治當清熱燥濕為主。然女子之病不脫以四物湯為主。婦人無病容，單下白者是濕熱下注也。婦人久病而赤白並下，是血氣下陷，多成勞瘵，用歸脾、補中益氣湯治之。一婦年五旬，患白沙淋兼胸膈不寬，余以越鞠丸加白芷、茯苓、木香服之，一料二症俱愈。</p>

<h3>血山崩漏為損衝任</h3>
<p>血崩之病為損於衝任二脈。蓋衝任脈為十二經之血海，任脈為一身生養之元炁，如損二脈則血必妄行。初起者，屬實熱，宜四物湯加芩、連、知、柏、炒蒲黃之類；稍久者，屬虛熱，四物湯加參、朮、阿膠、黃連、艾葉、炒蒲黃、棕櫚炭之類；日久屬陽氣下陷，補中益氣湯加羌、防、獨活之類，或歸脾湯加赤石脂、伏龍肝以澀之。</p>

<h3>胎孕不安治有二理</h3>
<p>安胎之法有二：有妊母有病以致胎氣不安者，但治母之病，其胎自安。有胎氣不安，以致妊母有病者，但安胎氣而母病自痊。一婦有妊，方二月患惡阻，余用二陳湯加當歸、白芍、黃連、白朮、竹茹、烏梅即效。蓋妊娠二月，膽經用事，膽火出於胃，故致嘔吐不食，二陳湯以消其痰，白朮助胃，黃連清其火，竹茹、烏梅以入膽經。凡治妊娠之病，必知其月數、經絡用事而投之以對經之藥自無不效矣。一婦有妊三月，患心痛，余用食鹽一錢，炒令乾，大棗十四枚，炒令黑，研末，酒調服即愈。余月心痛者，不效。為不對經也。</p>

<h2>產後發熱原有七因</h2>
<p>產後發熱，其因有七：有去血過多者，惡露不行者，感冒風寒者，過傷飲食者，或蒸乳，或乳膨，起早褥勞者，皆可發熱，必須審其由，診其脈。且如去血過多者，六脈必虛。惡露不行者，腹中必痛；感冒風寒者，必兼頭痛；過傷飲食者，胸膈必不寬；蒸乳者，乳汁必未通；乳膨者，必無子飲乳；起早褥勞者，必腰胯作痛。凡此七症皆顯然，各有可驗者也。醫者何難？驗其症之何因而治之乎然。總之產後用藥必須溫暖，使惡露流通，大補氣血為主，雖有雜症，不過兼治之耳。</p>

<h2>真中風</h2>
<p>中風名狀頗多由，總是中虛邪外流。先將閉脫分明辨，莫把湯丸錯亂投。《內經》論風病，一曰偏枯，謂半身不遂；二曰風痱，謂身無疼痛，四肢不收；三曰風懿，謂奄忽不知人；四曰風痹，謂麻木不仁。又有中腑中臟中經之別。而河間主火，東垣主虛，丹溪主濕。三子又以類中風各立一家言，何名狀之多乎。然《內經》曰：邪之所湊，其氣必虛，故知元氣充實，必無中風之患也。閉者，牙關緊閉，兩手握固是也。宜蘇合香丸、三生飲之類開之。若口開手撒，即是脫症，在法為不治。然大進參、耆、朮、附亦十救二三，若誤投蘇合香丸之類，即不可救矣。蓋斬關奪門之將，原為閉症，設若施之脫症，是人既入井而又下石矣。故分閉脫二症，是中風大關鍵也。</p>
<p>中腑病邪惟在表，四肢攣痹惡風寒。更有六經形症顯，面加五色幾多般。有表汗之宜續命，六經加減貴詳看。過汗切須防衛損，隨機度量保痊安。此言中腑之症狀並治法也。風中於腑則在表，而病邪猶淺。凡四肢拘急，肌肉麻痹，體惡風寒皆表症也。六經症者，一曰太陽經，頭疼身熱，脊強腹痛；二曰陽明經，目痛鼻乾不得臥；三曰少陽經，耳聾脅痛發寒熱，口苦而吐；四曰太陰經，腹滿自利咽乾；五曰少陰經，口乾舌燥；六曰厥陰經，煩滿而囊縮。五色者即其色可以知其病在何腑也。治表法在表宜汗，以續命湯為主，分別六經五色，而後為之加減。雖曰宜汗而又不可過汗，恐損其衛氣耳。大抵中腑者病淺，如法施療可以保其痊安也。然中腑者多兼中臟，故合三陰三陽而六經並舉也。</p>
<p>中臟須知邪在裡，九竅多應閉不通。邪居骨髓深危困，絕症交臨命必終。里症法當三化下，虛實還宜仔細窮。過下每憂營血敗，呼吸存亡莫漫攻。此言中臟之症狀並治法也。中臟則在裡，而邪氣已深。九竅閉者唇緩失音，鼻塞耳聾目瞀，大小便秘結。其邪直中於骨髓，往往難治。絕症者，口開心絕，手撒脾絕，眼合肝絕，聲如遺尿腎絕，聲如鼾睡肺絕，此為五絕。若五症不全見者，速於大補及灸臍下，亦有生者。若五症交臨則必不可救矣。潔古因中臟者多便溺阻塞，故立三化湯以為下劑，此惟元氣未壞者方可用之，虛者在所禁忌。若不可下而下，與可下而過下，皆使營血枯敗，遂不可救也。</p>
<p>血脈傷時中在經，外無表症六經形，內無九竅諸般滯，四肢不舉語難清，半在表而半在裡，汗下俱非治屬陰，惟有秦艽湯最好，補血榮筋又養神。此言中經絡之證狀並治法也。血脈受傷則中在經絡，外無中腑之表症，內無中臟之裡症，惟有四肢不舉，語言蹇澀而已，此為半表半裡，既非可汗，又非可下，治之之法但宜滋陰，潔古有秦艽湯專主補血榮筋，並可以養神也。</p>

<h3>總論</h3>
<p>風者百病之長，言其最重也。善行而數變，言其傳變不齊也。審虛實表裡，然後用藥，大抵先宜順氣然後治風則萬不失一。蓋中風中暍、中痰中氣皆令人涎潮昏塞，不可不辨也。若中風作中氣，治之十愈八九，中氣作中風，治之十無一生。蘇合香丸、至寶丹、活命金丹之類，雖為通用之劑，然唯中臟而屬閉症者始為相宜。牛黃冰麝皆入骨搜風，若中腑中經之人，病邪尚淺，誤用之恐引風入骨，如油入面，莫之能出也。若脫症，真氣已散，誤用之恐助其散而立斃也。初起但於理氣藥中分別風與痰，邪與正而治之。其勢稍定，須大補其肝脾腎。蓋血行而風自不淫，土旺而痰自不生，水旺而火自不亢，此為至治也。若多用荊防羌獨之類，反開竅招風；多用橘半南星之類，反致脾虛生痰；多用芩連梔柏之類，反致火傷奪食耳。然此疾積傷已久，宜大劑久服方得功效。如欲以數劑奏績，是猶以粒米而責飽也，其可得乎。</p>

<h3>脈法</h3>
<p>中風脈候浮遲吉，急疾堅強便屬凶。沉滑司痰緩主氣，且浮且大斷為風。夫中風虛邪也，留而不去其病則實，偏補恐其助邪，偏攻恐其害正，惟以脈證為辨。若重於外感者，攻邪為主，補正次之；重於內傷者，補正為主，攻邪次之。凡半身不遂，肢體麻痹，亦真氣不周所致，慎勿顧標而忘本，且中風多在肥人，為其氣居於表，中氣必虛也，由是則中風屬虛灼然明白矣。預防者當戒七情，節飲食，慎起居，遠房色。投之以大補，俾真氣日充，邪自無所容，斯善也。如服愈風湯、天麻丸是疏其腠理，戕其真氣，適足以招風取中耳。然恬靜者必無此疾。唯躁動之人，每多患之。但觀口目常動，故風生焉。耳鼻常靜故風息焉。此可以明致疾之由矣。若夫中腑中經調理而愈者，補不致謹，必致復中。復中必在臟，時雖神仙亦莫能治，蓋由淺以及深故也。</p>

<h2>類中風</h2>
<p>火分君相屬天成，更有人為五志名。卒然僵仆多昏眩，此理河間獨主盟。此明河間以火症類中風也。君火者心火也，相火者腎肝雷龍之火也。二者皆得於有生之初，故曰天成。五志者，五臟之精志，喜怒悲憂恐是也。五志過極則五臟之火因之而起，故曰人為。河間云：心火暴甚，腎水虛而不能制，且五志過極則心神昏冒，卒倒無知。痰涎偏枯，筋急筋緩，皆為熱症。</p>
<p>東南多濕痰為咎，因而生熱熱生風。舌強肢廢皆由濕，丹溪垂訓啟迷濛。此明丹溪以濕症類中風也。丹溪云：東南多濕，濕生痰，痰生風，如四肢不舉，舌本強硬悉屬於濕，以風治之非也。</p>
<p>卒倒分明是內虛，東垣補氣使風除。脈伏身寒名中氣，中風身暖回然殊。上二句明東垣以氣虛類中風，下二句又明中氣類中風也。東垣云：元氣不足則風邪湊之，卒倒僵仆皆由氣虛，益氣則風自除也。又有中氣之症亦有昏塞僵仆牙關緊閉，但中氣脈沉身冷，中風脈浮身溫為異也。</p>
<p>中寒之症貴詳看，口噤身強肢伴寒。卒然眩暈身無汗，理氣溫中便可安。此明中寒類中風也。受嚴寒之氣，身體強直，口噤不語，或四肢戰慄，惡寒或卒然眩暈，身無汗出，此寒毒直中陰經。但用辛溫行氣之劑可即愈也。</p>
<p>中暑從何立此名，炎蒸昏倒不知人。冷汗淋漓肢帶冷，面垢如塵吐瀉頻。此明中暑類中風也。受酷暑之毒，面垢昏倒，不省人事，冷汗自出，手足微冷，或吐或瀉，或喘或滿。</p>
<p>中惡多因邪祟侵，四肢厥冷麵門青。或有狂言兼口噤，或時昏倒悶沉沉。此明中惡類中風也。凡吊死問喪，入廟登塚，或入空房冷舍，或當寂處孤行，冒犯不正之氣，忽然手足厥冷，肌膚起懍，頭面青黑，精神不守，或錯言妄語，或牙關緊閉，或頭旋暈倒，昏不知人，此症又一名客忤也。</p>
<p>中食如何類中風，良由醉飽過傷中。忽然厥逆昏迷倒，口不能言肢不從。此明中食類中風也。過於醉飽，或感風寒，或著氣惱以致填塞胸中，胃氣不行，陰陽痞隔，升降不通，虛人多有之，其狀忽然厥逆昏迷，口不能言，肢不能舉。</p>

<h3>總論</h3>
<p>夫類中風而實非中風者，共計八症，另為後學立一準繩也。或七情不齊，六氣互挾，虛實既分，新久又別，富貴與貧賤須分，少壯與衰年亦異，是在圓機之士，隨症而變通之，則法外靈通可應無窮之變矣。</p>

<h2>傷寒</h2>
<p>傷寒煩劇理難通，總為嚴寒犯在冬。當時即發名為正，溫病多由春令逢。發在夏間呼熱病，郁久須知熱蘊隆。此言傷寒之因也。仲景為傷寒鼻祖，立一百一十三方，三百九十七法，何其繁劇乎。總之傷於冬月之寒：耳。經曰：冬月嚴寒，萬類潛藏，君子固密則不傷於寒。夫四時之氣皆能為病，獨傷寒為甚者，以其殺厲之氣也。當冬三月即發者，名曰正傷寒。伏而不動，寒毒藏於肌膚，至春變為漏病，至夏變為熱病，而熱重於溫者，郁愈久則熱愈熾也。至於秋何獨無涼病乎？蓋寒水之氣與火為仇，遇仇不發已，為火氣所勝，況值長夏又為土氣所制，故前哲但言春夏而不及於秋也。</p>
<p>頭疼身熱脊中強，體痛分明屬太陽。目痛鼻乾不得臥，陽明經症好推詳。寒熱耳聾脅下痛，苦嘔須知顯少陽。腹痛咽乾兼自利，太陰調治早商量。口燥舌乾頻自飲，算來傳到少陰經。舌卷囊縮心煩滿，厥陰經症乃其常。太陽為病，邪在皮毛，脈浮脊項強，發熱惡寒，頭疼身熱，四肢拘急，喘而咳嗽，口中不渴，二便如常，口舌俱和。或寒太重，六脈反伏，無汗用麻黃湯，有汗用桂枝湯。然此二湯仲景為冬月正傷寒設也。若春夏溫熱之病，二方性熱，不可輕投。減去麻黃、桂枝，夏至前加黃芩，夏至以後加石膏、知母。酒客素不喜甘者禁與桂枝。陽明為病，邪在肌肉，此經有經、腑兩症。經症尺寸脈俱長，發熱目痛，鼻乾唇焦，不眠，漱水不欲咽，宜用升麻葛根湯。腑症惡熱，便閉狂譫，手足心有汗，宜用大柴胡湯。凡病在表而誤下之，則邪乘虛陷，入於裡必成結胸懊憹矣。</p>
<p>半表半裡法當和，吐溫汗下總差誤。惟有柴胡湯的當，因時加減莫蹉跎。此言半表半裡之症也。少陽為病，邪在半表半裡，其脈不浮不沉，往來寒熱，嘔吐，脅滿痛，胸前脹，耳聾、舌滑，頭汗盜汗，目眩口苦，凡見此數症者，汗吐下溫謂之四禁，只有小柴胡湯加減以和解。誤用他藥變為壞病，如嘔吐止而腹痛便閉，謂之表症未罷，里症又急，宜用大柴胡湯。</p>
<p>里宜攻下古今傳，邪氣深沉抵臟間。狐疑不決反成害，誤汗斑爛在眼前。此言里症之宜下也。三陰為病邪在裡，分其脈沉而有力，潮熱惡熱，腹痛下利轉矢氣，手足心、腋下有汗，咽乾齒燥目不明，譫語發狂小腹滿，下利清黃水，不得眠，小便多，自汗，頭疼發熱。凡見以上數症，皆須下之。必痞滿燥實，四件齊備者，方與大承氣湯。四者不全，且進小承氣湯為妥。若大便堅小便數者，用脾約丸。大便硬小便少者，陽明白汗出，若發汗小便自利者，宜蜜箭或豬膽導之。若當下而不決，反成害也。更若誤汗必發斑，或亡陽，或厥竭譫語矣。</p>
<p>陰症須溫和叔名，先分直中與傳經。應知六脈沉無力，定厲虛寒宜補溫。此言陰症當溫而有直中與傳經二者之別也。直中者正當嚴寒不能謹避，隨受隨發，不由陽經直傷陰經，即類中風中所載中寒是也。傳經者雖從太陽，如不作鬱熱，便入少陰而成陰症矣。凡系陰症，脈必沉細微遲，下利清穀，小便清長，四肢厥逆，嘔吐清沫，背雖惡寒而不渴，踡臥多眠，囊縮，唇甲青，吐蛔乾嘔，身不熱，惡聞人聲，引衣自蓋，不問直中與傳經，但六脈沉而無力，定屬虛寒，即挾表症，不敢輕汗。即見熱症，非真熱也。重者四逆湯，輕者理中湯。此症亦有腎虛之人，因服涼劑攻熱太過，陽症變成陰症者，故投劑宜輕。</p>
<p>吐法當知表症除，惟施上脘食痰瘀。春升之令當行此，夏熱冬寒豈必拘。此言吐法為上脘而設也。仲景言：吐法必待表症既除而胃之上脘痰凝食滯，寸脈滑而有力者，用瓜蒂散吐之，此里症之在上者。《內經》曰：在上者，因而越之是也。今方書皆以吐為邪在半表半裡，乃少陽膽經，例當禁吐，一吐即變為壞症矣，斯言出而誤人不已多乎。每且吐者受害，遂不用吐法，豈能盡傷寒之理哉。然惟春氣上升方為合宜。若冬夏之月，便不可拘吐法也。</p>
<p>陽症如陰脈反沉，滑而有力要分清。六脈雖沉，卻滑而有力也。唇焦舌燥偏能飲。焦與燥者必好飲水。手揚足擲不曾停。屬陽可知。二便常難失氣臭，大便閉硬，小便赤澀，然轉矢氣則極臭也。稀水旁流燥屎真，稀糞水利出者，內有燥屎結聚，乃旁流之物非冷利也。誤言有力頻頻發，譫語屬陽，大而有力。衣被難安刻刻嗔。不欲衣服，刻刻欲去之而嗔之。縱使身寒肢逆冷，此是陽深厥也深。陽病不至於熱極不能厥，仲景所謂熱深厥亦深也。此言陽症似陰，而脈與症仍可辨也。輕者人參白虎湯，或小柴胡合解毒湯。內實者承氣湯，審其輕重而加減之。</p>
<p>陰症如陽脈細沉，縱然浮數脈按無根。陰症似陽，脈必沉細，萬一浮數，重按之必如無也。此為陰盛格陽。面紅目赤咽喉痛，此三症見者，下虛故也。嘔逆身溫煩躁生。或嘔逆身但微熱多煩躁者，陰盛故也。大便不通常氣促，大便閉者，閉塞成冬之象也。氣促者，陽虛故也。小便微黃有鄭聲，小便雖黃而淡者，必不濕也。鄭聲者虛而無力之譫語也。渴而欲飲仍難飲，渴欲飲水及水至腹或飲數口振言即至。大躁高呼頃刻停，陰盛格陽之症，甚則口開目瞪，聲聞於外，涕淚痰涎大作，其躁又頃刻而止。陰盛格陽虛必甚，亟投溫補冀回春。此皆水極似火，陰盛格陽於外，非真熱也，亟於溫補可也。</p>
<p>此言陰症似陽而脈與症仍可辨也，宜用霹靂散或四逆湯加人參、附子，能飲水者不可與服。</p>
<p>不宜發汗早須知，寸關浮緊尺偏遲。六脈浮緊身痛而尺中遲，血少不可汗，《活人書》先以小建中湯加黃耆，得遲脈退然後和解之。數動濡微弱並澀，六脈俱沉里症時。凡七脈皆在裡而虛者也，俱不可汗。頭痛發熱兼弦細，脈弦細，頭痛發熱屬少陽經，不可發汗。厥家脈緊亦當思。發厥當汗，脈緊者不可汗。誤汗口傷爛赤。吐沫咽乾小便淋，咳吐涎沫，咽乾，小便不利，虛而寒慄，誤汗則腸中堅滿。咳逆偏逢屎不禁。咳而遺溺，汗之則肢厥而冷。奪血虛煩並有汗，吐血衄血下血，經水適來為營血已虛，禁汗。又虛煩之症及有汗之症，俱忌發汗，須辨之。瀉利瘡瘍動氣臨。下利發汗必脹滿，瘡家發汗則發痙。動氣在臍之上下左右者，俱忌汗。發熱疼頭汗而嘔，頭疼，翕翕發熱，微汗自嘔，發汗則致痙，身雖痙難屈伸，發黃不得小便，久則發咳。項強心痞二陽並。太陽與少陽並病，頭痛項強，或眩冒，心下痞，不可汗。少陰但厥原無汗，強發因而厥竭生。少陰病，但厥無汗，強發之，動其血，名下厥上竭，難治。風濕二溫俱有禁，頭痛身熱自汗，極類傷寒身重欲眠，鼻息如鼾，語言難出，四肢不收，名曰風溫，不可發汗。夏月頭痛，譫語自汗，體重足冷，胸腹滿者名曰濕溫，不可發汗。誤汗之時病轉增。已上凡八脈十七症，若誤汗之則病勢轉增而重矣。</p>
<p>此言禁發汗之例也。</p>
<p>不宜攻下有多端，脈浮嘔吐惡風寒。皆為表症，故不可下。結胸脈浮，下之則死。沉而無力裡虛候，沉雖在裡，然不數不實為裡虛，不可下。縱然有力尺虛看。寸關雖有力，尺獨虛者，不可下。動氣與夫咽內閉，動氣在於上下左右，皆不可下。咽中閉寒不可下。腹滿還應有幾般。腹滿而手不可按者，急下之。若時減時滿，緊下。若滿而可按且軟者時，禁下。小便清長亡血症，小便清，知不熱，不可下。亡血家及婦人熱入血室，俱不可下。誤投通利總難安。已上三脈九症誤下必難痊安。</p>
<p>此言禁下之例也。</p>
<p>不宜輕吐與君商，表正諸般勢正猖。仲景云表症未除，不可吐。半表半裡深垂禁，半表半裡乃少陽膽經，六腑俱有出入之路，惟膽無出亦無入，吐汗下溫俱在所禁。里症還將腹胸詳。胸主上焦，有食痰者宜吐，若腹膈之間則中下二焦，不可吐。脈微厥逆宜俱忌，脈微厥逆，其人虛寒，不可吐。亡血虛家莫漫嘗。吐衄腸紅，經水適來，皆不可吐也。</p>
<p>此言禁吐之例也。</p>
<p>陽明合病為何名，病形齊見不傳經，或遇二陽同發症，或是三陽並顯明。還將見症分多少，輕重之間藥下靈。雖曰陽經惟主表，陽明譫語下方寧。此言合病宜分輕重也。合者同也，或三陽經，或二陽經，一同見症而不傳經者也，如腰疼脊痛，又耳聾脅痛者，太陽與少陽合病也。耳聾脅痛又目痛鼻乾，乃少陽與陽明合病也。腰疼脊痛，又耳聾脅痛，又目痛鼻乾者，乃三陽合病也，更須分別其經見症，多則以本經為主而佐以他經之藥，此治之大法也。惟三陽有合病而三陰則無之，治當在表，明矣。然亦有下者何也？必惡熱譫語，外無惡寒，乃陽明府症也，用小承氣湯下之，方得安寧。</p>
<p>二陽並病一齊來，後為傳經有一衰。好似一經兼併去，三陽分外莫相猜。並在太陽宜發汗，少陽和解卻當該。若是陽明肌可解，並歸入腑下之哉。此言並病，宜分經治也。並者歸也，雖二陽齊病後卻傳經，則此經衰而若歸併於彼經矣。如先見腰痛脊強及耳聾脅痛，後耳聾脅痛忽止，唯見腰疼脊強者，少陽並於太陽也。餘二經仿此，若並於太陽，則宜發表，並於陽明則宜解肌，並於腑則下之，並於少陽者宜和解，或其初雖不同病，後因傳經，此經未罷，彼經已來，亦名曰並病。夫合病皆在陽經，陽主動也，若陰經主病豈有合併之理哉。假如病與陰經同見，則或為兩感，或為表裡，俱不得為合病並病也。</p>
<p>兩感於寒臟腑傷，六經夫婦配陰陽。頭疼又且兼乾渴，膀胱與腎共為殃。妄言不食腹中滿，身熱分明脾胃鄉。耳聾囊縮渾身冷，水漿不入肝膽詳。此言兩感之症也。腑為陽、為夫，臟為陰、為妻。兩感者正配之陰陽同病也。一曰膀胱與腎俱病則頭疼口乾，煩滿而渴，其脈沉大；二曰脾胃俱病則腹滿身熱，不食譫語，其脈沉長；三曰膽肝俱病則耳聾囊縮而厥，水漿不入，其脈沉長弦。欲表之則礙里，欲下之則礙表，故岐伯以為必死。仲景亦無治法。東垣以大羌活湯主之，十可救一耳，又須看裡急攻裡，表急攻表，裡寒救寒。總之兩感之寒必先救里，兩感之熱，必先解表，此不易之法也。</p>

<h3>總論</h3>
<p>夫寒者天地之刑威，而傷寒其犯之者也。傳變不齊病端不出，陰陽相混經府相淆。張銳且有承氣之誤虞，世南有麻黃桂枝之惑。神明若彼，疑貳若此，況其下者乎？是以班固不服藥為中醫，許仁則以守七日為良法，此皆憤世嫉俗，深知死於傷寒者少，而死於醫藥者多也。屠鵬當用大承氣湯，先以小承氣試之；合用四逆湯，先以理中湯試之。蓋寧處不及之意也，然亦非確論。但自仲景之言以暨成無己、趙嗣真輩，數十家之論，反復研求，則先聖之心源固有較若列眉者，執以投治，如羿之射的，焉有不中者耶？蓋嘗論之寒之傷人也，自表傳裡者，先由太陽直中於里者，必在少陰。以膀胱與腎俱屬寒水正司之令，故寒邪得以干之，或入於陽，或入於陰，或先陽而陰，或先陰而陽。至於相似之症尤多，不可不審。有少陰發熱而誤作太陽發熱者，有陰躁而誤作陽狂者，有太陽腑病而誤作里症者，有陽明腑病而誤作經病者，有如狂而呼為真狂者，有熱厥而呼為寒厥者，有動陰血而作衄血者，有瘀血發黃而作鬱熱者，直中咽痛妄作陽熱咽痛者，津液內結，小便不利妄與通利者，太陽脈伏正當發表妄斷死症者。若此之類，難以悉數。是非博洽深沉，實得仲景之秘者。未易窺其涯涘也。《內經》曰：「無盛盛，無虛虛。而遺人夭殃，無致邪，無失正，絕人長命。」言念及此，可不畏乎？</p>

<h3>脈法</h3>
<p>傷寒表脈多浮緊，單浮不緊作風看。沉而有力陰經症，無力而沉屬表寒。狂詀反見沉微死，厥逆踡眠浮大安。汗後脈靜為吉兆，如其躁亂卜亡凶。陰症見陽為可喜，陽症逢陰定不祥。趺陽太谿根本在，病雖危篤保無妨。</p>

<h3>察色</h3>
<p>傷風者闕廷光澤，傷寒者闕廷暗慘。面青黑為陰寒，紫黑為陽熱。黃色見者，吉；黑色見者，凶。允准頭印堂年壽等處黑色枯槁者，死；若明潤者雖困必生。</p>

<h3>察鼻</h3>
<p>鼻青腹痛，微黑停水，黃者小便難，白者氣虛，赤者肺熱，鮮明者留飲也。鼻孔乾燥，邪在陽明，久則衄血也。鼻孔如煤煙者，陽毒深也。鼻出冷氣，滑而黑者，陰毒極也。鼻息鼾睡者，風濕也。鼻寒濁涕者，風熱也。鼻孔煽張為肺絕。</p>

<h3>口唇</h3>
<p>唇焦乾為脾熱，焦而紅者，吉；焦而黑者，凶。唇口赤腫者，熱甚也；唇青口黑者，冷極也。口苦膽熱，口甜脾熱，口燥咽乾腎熱也。口禁言風也。上唇有瘡，蟲食其臟。下唇有瘡，蟲食其肛。唇青囊卷，環口黧黑，口張氣直，或如魚口，口唇顫不止，氣出不返，皆不治。</p>

<h3>察耳</h3>
<p>耳輪紅潤者生，或黃或白、或黑或青而枯燥者死。薄而黑、薄而白，皆為腎敗。耳聾耳痛，皆屬少陽，易治。耳聾舌卷，唇青屬厥陰，難治。</p>

<h3>察目</h3>
<p>目明如常，邪未傳裡。黃色則傳於裡而必昏暗，乃熱邪逼枯腎水，急下之，開眼可見人者，陽症也。閉目不欲見人者，陰症也。目赤痛者，陽明之熱。目瞑者將衄血也。目黃將發黃也。目眥黑，鼻準明，山根亮，吉兆也。至於反目上視，瞪目直視，眼胞忽然下陷者，死。</p>

<h3>察舌</h3>
<p>津液如常，邪未入里。舌胎而滑，邪在半表半裡。黃苔而乾者，胃熱也，當下之。舌上黑刺裂破，並津枯而燥者，邪熱已極，腎水克心火也。急大下之，十可救六。至於舌上青黑，以手摸之無刺而潤者，陰寒也，急溫之。勿誤為熱也。</p>

<h3>察胸</h3>
<p>胸痛滿，邪在裡也。已下而痛滿者，結胸也。</p>

<h3>察腹</h3>
<p>腹痛脹者邪在裡也，若脹不減，痛不止者，下之。脹時減，痛則綿綿，未可下也。</p>

<h3>察小腹</h3>
<p>小腹繞臍硬痛，小便數而短，燥屎症也，宜承氣湯。小腹硬痛而小便自利，畜血症也，宜桃仁承氣湯。小腹脹滿，大便如常，此溺澀也，當利小便。</p>

<h3>察身</h3>
<p>身輕可轉側者易治，極重不能轉側者難治。頭重視身，天柱骨倒者，死。皮膚潤澤者，生。枯燥者，死。凡傷寒尋衣摸床，兩手撮空，此神去而昏亂也。</p>

<h3>傷寒補遺論</h3>
<p>余搆傷寒諸書無遺餘力，自長沙公以至今日，不知幾千帙。蓋力索苦思而得其要也，變症難以枚舉，相傳不越六經。經症凡有多端而區分不越表裡，但明表裡則腑臟昭彰而汗下無誤，陰陽別白而溫清有主。高者越之，下者竭之，虛者益之，實者擊之，必先歲炁，毋伐天和。如經之在軸，萬舉而無一失也。故不破萬卷，無以應無窮之變，稍執一言，適以資夭枉之端。如六經之傳變無常，安可拘六日之次乎。如一二日有里症，下之無疑。七八日有表症，汗之無惑。果挾內傷何妨速補，真知直中，便無與辛溫，此之謂以我用法。若守其常，是以法用我，何異於盲人之蹈火哉。且聖人言不盡意，舉一隅則三隅可反也。如太陽為諸經之首，傳變居多，然傳無定體，乘虛即入，若經實者則不受傳也。故太陽水傳陽明土，陽明土傳少陽木，皆妻傳夫，謂之微邪。少陽木傳太陰土，太陰土傳少陰水，皆夫傳妻也，謂之賊邪。少陰水傳厥陰木，太陽水間傳少陽木，皆母傳子，謂之虛邪。太陽水越傳太陰土亦是微邪，又為誤下傳也。太陽水傳少陰水，陰陽雙傳即兩感也。太陽水傳厥陰木亦是虛邪，又曰首尾傳也。太陽為首，厥陰為尾。厥者盡也，傳盡則邪解。如不解而再傳者，雖六經之症仍現，而治法不同矣。表者但與解肌，里者但與清熱。雖初傳失汗下者，至再傳亦無正汗正下之理，惟視正氣之虛實，邪氣之盛衰而為之變通耳。至於傷寒傳足不傳手，嘗竊疑之。夫人身之氣血自平旦會於膻中，朝行於太陰肺經，以次分布諸經，所以一脈愆和則百脈皆病。然則傷寒但有足六經症者，何也。蓋傷寒者冬所感也。是時太陽少陰司令，故宜二經受病。少陽厥陰為風木之令亦受病者，蓋寒邪傷人必與風同類相求也。陽明太陰土也，土無定位，無專氣，旺於四季之末，能終始萬物，四時之炁皆能傷之也。手之六經屬於火者，火得寒而可禦寒，邪不能傷之。屬於金者，金得寒而愈堅，寒邪不得傷之。若言傷足不傷手則可，以為傳足不傳手則不可也。但言傳經卻有傳至手經者，此事難知也。曰太陽傷風，風為陽邪，陽邪傷衛，陰血自燥，熱畜膀胱，壬病遂傳於丙，丙丁兄妹由是傳心，心火蒸肺所以神昏也。宜梔子黃芩黃連湯。若脈在丙者，導赤散。脈在心者，瀉心湯。此膀胱傳丙，足傳手也，下傳上也，丙傳丁也，表傳裡也。壬傳丁者坎傳離也，腑傳臟也，此又仲景未發之旨。故曰：聖人言不盡意。《易》曰：明於天地之道，察於民物之故，以前民用。又曰：引而伸之，觸類而長之。故惟深於《易》者，始可與言傷寒。</p>

<h2>傷暑</h2>
<p>有冒暑傷暑中暑三者，亦有輕重之分。中暑症，其重者故已見類中風條，而傷與冒則其輕者也。</p>
<p>暑傷元氣不傷形，身體無疼困倦生。卒然昏倒名為中，傷者頭疼躁不寧。痛瀉噁心為感冒，冒輕中重瞭然明。安樂辛勞分動靜，還將見症治須精。此言暑症淺深不同也。傷暑必自汗背寒面垢，或口舌煩悶，或頭疼發熱，神思倦怠，身體不痛與感風寒者異。蓋暑傷氣而不傷形故也。卒然昏倒不知人，或咳嗽發熱、汗不止，脈數者，火傷肺也，此為中暑，宜白虎湯加天水散。　身熱頭疼，躁亂不寧，或身如針刺，熱傷肉也，此為傷暑，黃連白虎湯加柴胡，氣虛者加人參。腹痛水瀉，或噁心嘔吐者，此為冒暑，黃連香薷飲。　辛勞之人，奔馳酷日，動而得之乃傷熱之症，其脈洪大，用蒼朮白虎湯。安樂之人納涼廣廈，靜而得之，乃熱為寒抑之症，其脈沉疾，用大順散。更有兼內傷或腹痛瀉或便閉，或嘔渴煩心，或停食多痰，或脾胃太虛挾風，或自汗而手足搐搦謂之暑風，貴隨其症而活變之。</p>

<h3>總論</h3>
<p>夫己午未之三月赤帝司權，汗泄而亡津液。太陽之壬水已絕於巳，少陰之癸水已絕於午，更多濕氣助熱為邪，西方北方之寒清絕矣。即三伏之義，亦言庚金被囚也。燥金受邪則津衰氣耗，絕寒水生化之源故氣虛而喘；津枯而竭，神昏而倦，足緩而軟，治之之法莫過於清心保肺，而燥熱之劑多所忌也。大抵傷暑與傷寒俱是發熱，而寒則傷形，暑則傷氣。傷寒則惡寒而脈浮緊，傷暑則惡熱而脈虛微。雖日禁燥熱而取涼無度，食冷太多，陽氣拂逆，在內之伏陰反專權而行政，脈必沉微，又不妨以熱劑救之，謂之舍時從症。若脈沉而有力，白虎湯加蒼朮、柴胡以發之，雖有水寒，不敢溫中，謂之舍症從時也。</p>

<h1>十一、二陳湯加減歌（凡二十條）</h1>
<p>二陳橘半茯苓草，清氣化痰為至寶。膈不寬時加枳桔，火旺生痰芩連好。參朮加名六君子，健脾和胃無如此。中脘寒疼去了參，香砂配用偏能止。飲食過餐食不消，曲糵山楂厚朴調。再添枳實黃連炒，何愁體弱脾胃嬌。咳嗽生痰分冷熱，熱則黃連並枳桔，寒痰壅塞用香蒼，化氣寬中痰自泄。風寒外感咳何故，二陳枳桔與前胡。葛根桑杏能清肺，芳香少入即參蘇。火升痰起人頭暈，酒炒芩連荊芥應。甚者天麻荊子防，服後管教無此病。老痰上閉耳令聾，蘇子菖蒲花粉同。青皮桔梗兼白朮，氣透痰消聽自聰。吐酸吐苦證須識，酸苦如同屬火一。黃連炒更加黃芩，不勞出外求端的。生冷停留與感寒，嘔吐清涎別藥看。藿香蘇葉升麻散，傷食還依消導方。痰厥之症來太急，膽星薑汁並竹瀝。若加枳實導痰湯，白芥子加無一失。大便泄瀉更如何，瀉澤豬苓白朮多。連草木通分利水，食積還當用保和。保和藥品萊楂曲，連翹些子母輕忽。酒積還當枳朮蒼，並用能醫下完穀。腹飽膨脹見青筋，小便閉塞大便輕。車前燈草並通草，白朮黃連共四苓。因濕停痰如此說，腫消朝暮當別白。暮寬朝急用六君，暮急朝寬當四物。朝暮相同用八珍，俱難泄瀉壞元神。諸品藥中分利水，食積□……□安寧。諸癇腫塊共喘哮，皆緣痰積氣難調。膽星蘇實黃連樸，定喘麻黃杏石膏。</p>
<p>腹中痰結已成痞，中間左右先分區。導痰湯內倍芎歸，阿魏黃連不可除。此藥能消食與痰，臍間右伴最相堪。乾漆芎歸桃芍膝，惟醫血瘕左臍旁。二陳半夏性燥血，血虛煩渴均不用。須知痰症最相宜，貝母瓜蔞代取效。去草陳皮四七湯，加添厚朴紫蘇散。五味葛神遠甘草，心氣鬱滯豁痰良。</p>

<h1>十二、四物湯加減歌（凡二十六條）</h1>
<p>女人一科有專功，四物湯歸芍地芎。此是四經應用藥，心歌加減在其中。左手脈虛血必虛，本方煎服倍當歸。因而發熱身羸瘦，小柴相配自然驅。頭痛身體併兼痛，羌薄柴胡升麻共。惡寒發熱配參蘇，臨時虛實分輕重。火起丹田屬下焦，知柏同煎功最調。若因上部心包熱，芩連梔子共連翹。經血行來痛甚難，枳殼稜附可調關。若見經來因氣滯，更加烏藥服之安。經血行時血去多，芩柴連柏可同科。再加荊芥羌並獨，升提其氣便安和。月信過期淡且少，丹皮艾附可保調。久因白帶致如斯，倍用參苓才見好。妊娠亂動莫胡猜，元氣虛兼火熾來。枳殼黃芩蘇白術，管教一服便安胎。胎痛呻吟何所擬，只緣氣滯鬱火綦。香殼延胡甘草梢，濃煎服下安然矣。難產連朝勢已暌，胞漿瀝盡命真危。芷滑草霜為爛末，芎歸大劑作湯催。子死腹中方用巧，蔥白黃葵鱉甲爪。沾唇便覺產門開，母命迴旋胎下了。分身之後血如傾，目暗譫言發熱增。焙炒乾姜加入藥，杯乾咽落即回生。女子懸胎奏忽昏，隕與閃驚緣不謹。何苦多般投亂劑，只須服卻紫蘇飲。經血過期不肯行，紅花牛膝與桃仁。好酒半鍾一半水，空心煎服效如神。左邊脅痛硬如石，癥瘕之症死血積。紅桃膝殼共山楂，菔子稜青附乾漆。發熱尋常四物湯，血虛去半骨皮羌。有痰貝母桔梗代，花粉瓜蔞略用姜。又兼咳嗽如何說，桑杏防風升草桔。些少芩梔炒不妨，便是醫家真妙訣。如痓如癇產後風，別痰別火要精通。姜炒黃連防酒炒，霎時堪奏十全功。半產因虛症可商，四君加入升麻黃。芩蘇仍用縮砂柴，子母雙全不必慌。血燥不通二便矣，麻子桃仁厚朴枳。知母檳榔同作劑，試看服得便安舒。打傷損撲身痛疼，經行方藥自相同。惟加枳殼與童便，水酒勻煎克奏功。吐血衄血藥何先，藕節還同扁柏煎。炒黑山梔龍膽草，柴胡甘草莫教偏。大腸風熱便帶紅，防風荊芥地榆芎。荷葉槐花不可缺，空肚煎來服有功。失血驚悸與怔忡，酸棗黃連蒲茯同。琥珀辰砂為末子，共研一服見奇功。左邊脅痛因肝火，醋炒青皮紫殼齊。香附須將童便制，頻煎服下自相宜。四物湯功不可誇，臨時加減在君家。白芍酸寒伐生氣，新產之時不用他。</p>

<h1>十三、方詩</h1>
<p>麻黃湯　麻黃湯桂枝，甘草杏仁施。傷寒無汗症，發表不宜遲。</p>
<p>桂枝湯　桂枝湯芍藥，薑棗甘草著。發散衛間邪，傷風自汗卻。</p>
<p>葛根解肌湯　葛根湯芍藥，甘桂麻黃摘。太陽合陽明，無汗應須發。</p>
<p>升麻葛根湯　升麻葛根湯，芍藥甘草安。陽明身發熱，一服即平康。</p>
<p>小柴胡湯　小柴胡黃芩，甘草半人參。往來寒熱症，和解少陽經。</p>
<p>白虎湯　白虎湯石膏，知母粳米熬。渴煩並氣急，脈實正相招。</p>
<p>黃連瀉心湯　黃連瀉心湯，一味五錢攢。燈心加二十，煩熱即平安。</p>
<p>桂枝大黃湯　桂枝大黃湯，芍藥甘草嘗。太陽腹滿痛，便閉用之安。</p>
<p>大柴胡湯　大柴胡半芩，芍藥按脾經。將軍甘枳實，一解一通行。</p>
<p>大承氣湯　大承氣硝黃，枳樸四般安。痞滿燥實症，潮熱食陽狂。</p>
<p>小承氣湯　小承氣樸實，胸中痞滿塞。大黃通便堅，除硝慮血賊。</p>
<p>調胃承氣湯　調胃氣承甘，硝黃燥實堅。為無痞滿症，樸實不須兼。</p>
<p>理中湯　理中湯白朮，乾薑甘草炙。吐瀉腹中疼，脈沉寒氣疾。</p>
<p>桂枝人參湯　桂枝人參甘，乾薑白朮兼。中寒身發熱，腹痛瀉能痊。</p>
<p>麻黃附子細辛湯　麻附細辛湯，寒中少陰方。脈沉身發熱，怕冷麵顏蒼。</p>
<p>四逆湯　四逆湯附子，乾薑甘草制。寒症脈沉微，助起三陽熾。</p>
<p>當歸四逆湯　即前方加當歸　傷寒外症用藥。</p>
<p>黃耆建中湯　黃耆建中湯，止汗是良方。桂枝甘芍藥，薑棗及飴糖。</p>
<p>半夏茯苓湯　半夏茯苓湯，生薑薑汁良。水停心下症，一服即安康。</p>
<p>半夏生薑湯　半夏生薑湯，半一倍生薑。咳逆兼嘔吐，服此即平安。</p>
<p>半夏瀉心湯　半夏瀉心湯，下早痞胸膛。芩連參國老，乾薑棗子安。</p>
<p>附子瀉心湯　附子瀉心湯，芩連半大黃。惡寒汗不止，心下痞難安。</p>
<p>生薑瀉心湯　生薑瀉心湯，芩連甘草攢。乾薑參大棗，腸鳴利痞方。</p>
<p>小陷胸湯　小陷胸黃連，瓜蔞半夏煎。結胸捫摸痛，除熱去痰涎。</p>
<p>大陷胸湯　大陷胸甘遂，硝黃俱下墜。大結痛難禁，服此登時退。</p>
<p>黃連解毒湯　黃連解毒湯，梔芩柏可安。退黃除熱毒，便血厥陽狂。</p>
<p>化斑湯　化癍煩躁渴，宜用化癍湯。白虎湯加味，人參合一方。</p>
<p>茵陳湯　傷寒身發黃　茵陳蒿最良。大黃梔子共，通利即安康。</p>
<p>桃仁承氣湯　桃仁承氣湯，蓄血症如狂。肉桂桃甘草，芒硝與大黃。</p>
<p>梔子豆豉湯　梔子豆豉湯，枳殼三味強。能醫勞復熱，其實是仙方。</p>
<p>枳殼大黃湯　枳殼大黃湯，梔子豆豉攢。能醫食復熱，一劑即安康。</p>
<p>溫膽湯　溫膽湯二陳，竹茹枳實增。病後不能睡，虛煩即便寧。</p>
<p>人參敗毒散　敗毒散參苓，柴胡羌獨增。桔芎甘枳殼，風熱病相應。</p>
<p>九味羌活湯　九味羌活湯，芎辛芷草防。蒼芩生地入，溫熱病相當。</p>
<p>芩連消毒飲　芩連消毒飲，甘桔射芎防。翹柴芷荊殼，咽痛大頭方。</p>
<p>補中益氣湯（內傷）　補中益氣湯，參耆甘術當。升柴陳八味，不足症堪嘗。</p>
<p>加味平胃散　飲食之內傷，平胃曲芽香。山楂並草果，一服即寬腸。</p>
<p>葛花解酲湯　解酲湯茯苓，青皮白朮陳。香砂參曲蔻，澤瀉葛豬苓。</p>
<p>升陽益胃湯　峻劑藥內傷，歸耆干老薑。升柴甘半蔻，紅花九味良。</p>
<p>香蘇散（外感）　香蘇散紫蘇，香附宜用多。陳皮與甘草，表裡盡平和。</p>
<p>芎蘇散　芎蘇散二陳，枳桔葛柴均。都來十味藥，止嗽治頭疼。</p>
<p>十神湯　十神湯葛根，芎芷芍蘇陳。升麻香附草，感冒與時行。</p>
<p>參蘇飲　參蘇飲二陳，枳桔葛前均。四時痰嗽喘，無汗用之靈。</p>
<p>小續命湯（中風）　續命桂麻參，芎防附子芩。杏仁甘芍己，風中腑相應。</p>
<p>三化湯　中風三化湯，便閉正相當。枳實並羌活，厚朴及大黃。</p>
<p>大秦艽湯　大秦艽八物，去參加二活。膏細芷防芩，祛風能養血。</p>
<p>防風通聖散　通聖散荊防，翹麻草薄當。梔芩芎桔術，膏芍滑硝黃。</p>
<p>史國公酒藥方　國公藥酒方，秦松虎鱉防。木羌萆杜膝，蒼耳起茄當。</p>
<p>牽正散　白附子　白姜蠶　全蠍　俱生用為末，等分，每服二錢，酒下。單治口眼歪邪而無他症者。</p>
<p>又方　蓖麻子肉一兩，冰片三分，共搗為膏，寒月加乾薑、附子各一錢。如左歪則敷於右，右歪則敷於左。或用鱔血、冰片敷之皆效。中風舌強不語，以青黛、硼砂、薄荷各二錢，冰片、牛黃各三分為細末，先以蜜水洗舌後，以薑汁擦之，將藥蜜水調，敷舌本。</p>
<p>羌活防風湯（破傷風）　羌活防風湯，甘芎藁本當。細辛榆白芍，在表服之安。</p>
<p>玉真散　南星　防風　等分為末，敷於患處。酒調服之，又能治瘋犬所傷，效。</p>
<p>香薷飲（暑症）　香薷飲厚朴，扁豆甘草撮。中暑腹中疼，吐瀉陰陽搏。</p>
<p>十味香茹飲　十味香茹飲，參耆朮茯陳。樸甘瓜扁豆，清暑健脾經。</p>
<p>六和湯　六和湯茯參，茹藿及砂仁。半甘瓜杏樸，霍亂暑傷神。</p>
<p>生脈散　生脈散人參，五味及麥門。能清心肺熱，補氣又生津。</p>
<p>清暑益氣湯　益氣歸耆橘，二術甘青柏。人參麥味升，葛根神麯澤。</p>
<p>二陳湯（痰症）　二陳湯四味，專治痰與氣。半夏茯苓甘，陳皮白鬚去。</p>
<p>導痰湯　導痰湯二陳，枳實共南星。竹瀝並薑汁，諸般痰症寧。</p>
<p>滾痰丸　滾痰丸將軍，黃芩各半斤。一兩青礞石，五錢好水沉。</p>
<p>百病無憂散　明礬一錢，調以熱水送下。</p>
<p>六郁湯（鬱症）　六郁香蒼曲，梔翹貝殼陳。芎芩蘇梗草，鬱結總能伸。</p>
<p>越鞠丸　越鞠丸開鬱，香附並蒼朮。蕪芎梔子仁，神麯等分入。</p>
<p>清脾飲（瘧疾）　清脾飲柴芩，甘草厚青陳。棗姜並草果，痰食瘧相應。</p>
<p>人參養胃湯　養胃湯人參，陳甘半茯苓。藿梅蒼厚果，虛瘧用之靈。</p>
<p>溫六丸（痢疾）　滑石六兩水飛，粉草一兩，乾薑五錢，為末水丸。</p>
<p>青六丸　滑石六兩，粉草一兩，紅曲五錢，為末水丸。</p>
<p>芍藥湯　治痢芍藥湯，芩連桂大黃。香檳歸國老，後重即能安。</p>
<p>和中湯　和中歸酒連，陳芍樸蒼甘。茯苓並枳殼，新久痢皆痊。</p>
<p>真人養臟湯　養臟芍當歸，人參桂術隨。木香甘粟果，訶子與烏梅。</p>
<p>香連丸　香連丸二味，能醫赤白痢。木香四錢入，黃連貳兩制。</p>
<p>燒針丸（嘔吐）　黃丹水飛、炒，白枯礬，辰砂，各等分，為末，棗肉為丸。</p>
<p>五苓散（泄瀉）　五苓散白朮，茯苓桂豬澤。泄瀉用之靈，分利膀胱濕。</p>
<p>胃苓湯　寒瀉腹中疼，大小便利清。胃苓湯一盞，薑棗水煎吞。</p>
<p>薷苓湯　暑瀉熱如湯，心煩渴不安。薷苓湯八味，燈心用一團。</p>
<p>柴苓湯　身熱口中渴，更兼瀉下頻。柴苓湯一味，施治捷如神。</p>
<p>參苓白朮湯　參苓白朮散，蓮肉扁苡仁。砂仁甘桔藥，久瀉胃中虛。</p>
<p>藿香正氣散（霍亂）　正氣散蘇藿，二陳姜芷樸。桔梗腹皮均，吐瀉陰陽搏。</p>
<p>丁香柿蒂湯（咳逆）　丁香柿蒂湯，人參三味攢。傷寒吐利後，胃冷服之安。</p>
<p>竹茹橘皮湯　橘皮竹茹湯，人參甘草攢。生薑並棗子，胃熱服之安。</p>
<p>木香調氣湯　木香調氣湯，丁香白蔻仁。藿檀砂國老，鹽湯送下吞。</p>
<p>蘇沉九寶飲（咳嗽）　蘇沉九寶飲，麻桂薄荷陳。杏仁甘大腹，寒嗽效如神。</p>
<p>知母茯苓湯　知母茯苓湯，當歸芍藥黃。天門甘白朮，勞嗽是良方。</p>
<p>清肺飲　清肺飲梔芩，桑歸茯二門。桔陳甘杏味，薑棗水煎吞。</p>
<p>中滿膨脹分消湯　分消湯治膨，二術陳香附，樸實茯香砂，腹皮豬澤佐。</p>
<p>分心氣飲　分心氣二陳，通桂腹皮青，桑蘇羌芍藥，薑棗共同煎。</p>
<p>流氣飲　流氣飲香蘇，陳皮半樸莪。腹檳瓜殼術，芷桂藿菖蒲。</p>
<p>五子十皮飲　五子十皮飲，車葶腹紫香。加桑苓大橘，瓜果木青姜。</p>
<p>五膈寬中散（噎膈）　五膈寬中散，青皮丁木香。蔻砂香附樸，國老與鹽姜。</p>
<p>蘇子降氣湯（喘急）　蘇子降氣湯，二陳枳桔桑。瓜蔞同枳殼，喘嗽即時安。</p>
<p>潰堅湯（積聚）　潰堅湯枳實，半陳歸白朮。香附樸山楂，砂仁木香汁。</p>
<p>潰堅丸　加海石，瓦楞子，鱉甲，各為細末，將阿魏用醋煮化，和入藥中，薑汁炒糊為丸桐子大，每服六十丸，黃酒下。</p>
<p>琥珀膏　大黃、朴硝等分為末，以獨囊大蒜搗膏貼之，用綿束住鼻，聞臭氣則效。</p>
<p>三聖膏　未化石灰半斤為末，瓦上微炒紅，提出候熱稍減，入大黃末一兩，炒熱提起，入桂心末五錢，略炒，醋熬膏調藥厚攤，烘熱貼。</p>
<p>犀角地黃湯（吐血）　犀角地黃湯，丹皮赤芍攢。能醫諸失血，加減服之安。</p>
<p>八物定志丸　八物定志原八味，人參遠志茯苓神。菖蒲開竅通心氣，麥術牛黃煉蜜陳。安神鎮驚，補氣清心之劑。</p>
<p>天王補心丹　天王補心生地君，參味玄丹遠茯群。桔梗當歸天麥配，柏仁酸棗蜜丸吞。</p>
<p>寧志化痰丸　寧志化痰參，天麻連膽星。茯苓陳半夏，酸棗石菖根。</p>
<p>開迷散　婦人患癲狂，桃紅赤芍當。紫苓甘遠術，生地共蘇方。</p>
<p>清心蓮子飲（便濁）　清心蓮子芩，車前地骨參。麥苓芩國老，便濁服之清。</p>
<p>盜汗六黃湯（汗）　盜汗六黃湯，當歸二地黃。柏連芩酒炒，黃耆七味攢。</p>
<p>獨勝散　獨勝散五倍，為末津調配。臍中束一宵，汗出頓時退。</p>
<p>蟠蔥散（心疼）　蟠蔥散茯檳，姜砂草桂稜。青丁蒼索莪，心痛疝家疼。</p>
<p>三捷湯（疝）　三捷青歸桂，檳黃柴橘通。紫香赤茯荔，疝痛大茴公。</p>
<p>川芎茶調散（頭痛）　川芎茶調散，荊薄芷甘防。辛羌九味藥，頭風痛可安。</p>
<p>都梁丸　治暴感風寒，頸項強直不能回顧之症。俗云失枕痛亦可治焉。香白芷二兩，曬乾為末，煉蜜為丸如桐子大，每服三丸，食後清茶嚼下即效。</p>
<p>起痿固真丸（痿）起痿固真參，耆當地膝蓉。瓜芎苓杜附，虎鹿柏陳冬。知味蜜來煉，能強痿軟功。</p>
<p>東垣清燥湯　清燥四君蒼，陳耆瀉麥當。升柴連味葛，地曲柏豬攢。</p>
<p>腳氣方　防己飲子木通蒼，木瓜生地與檳榔。犀角川芎黃柏味，稍頭甘草水煎方。</p>
<p>通經止痛湯　通經止痛湯，南威芷柏蒼。芎桃龍膽曲，防己桂紅羌。</p>
<p>九龍丹（遺精）　九龍丹九味，全櫻查枸杞，蓮鬚芡茯苓，石蓮歸熟地。</p>
<p>白鹿丸　白鹿治遺精，角霜牡蠣均。生龍骨減半，酒糊作丸吞。</p>
<p>茵陳去疸湯（疸）　茵陳去疸湯，芩連梔子蒼。豬苓青澤瀉，龍膽水煎嘗。</p>
<p>清肺飲（便閉）　清肺飲豬澤，車前燈瞿麥。二通萹蓄苓，更兼琥珀力。</p>
<p>通關散　通關丸知柏，各用二兩炙。肉桂止一錢，水煎空心服。</p>
<p>烏梅丸　下血用烏梅，取五倍為末。釅醋煉成丸，空心米飲吃。</p>
<p>當歸和血散（痔疾、腸風）　當歸和血散，川芎白朮升。槐青荊熟地，腸紅最可親。</p>
<p>白朮散　白朮散參苓，藿香乾葛根。木香並國老，都來七味均。</p>
<p>犀角消毒飲　犀角消毒飲，牛蒡與防風。荊芥同甘草，紅片頃刻空。</p>
<p>辛夷散　治癔肉氣息不通。辛夷、川芎、防風、木通、細辛、藁本、升麻、白芷、甘草各等分為末，每服三錢，食後，清茶調下之。</p>
<p>蒼耳散　治鼻淵。白芷、辛夷、蒼耳子二錢五分、薄荷五分，為末，蔥湯下二錢。</p>
<p>膠艾湯　漏血膠艾湯，川芎芍藥湯。地黃兼國老，胎動即能安。</p>
<p>紫蘇飲　子懸紫蘇飲，芎歸芍藥陳。腹皮參國老，胎湊即能安。</p>
<p>子淋散　子淋散麥門，竹葉腹皮芩。燈心通國老，溺澀即能行。</p>
<p>子煩飲散　子煩飲茯苓，防風與麥門。燈心甘竹。</p>
<p>子癇散　子癇散羚羊，芎歸薏茯香。酸防甘獨杏。</p>
<p>子腫飲　子腫飲甘芩，芎歸芍藥苓。麥門梔厚澤，白朮水煎吞。</p>
<p>子氣湯　子氣用天仙，陳皮香附兼。紫蘇與烏藥，木通甘草煎。</p>
<p>惡露不行黑神散　黑神散地黃，蒲黃炒黑姜。白芍當歸桂，炙甘草豆香。</p>
<p>感冒風寒五積散　感冒身發熱，惡露欠通行。生料五積散，一解一溫經。五積散治五般積，麻黃蒼芷芍歸芎。枳桔桂姜甘茯樸，陳皮半夏加薑蔥。除桂枳陳余略炒，熟料尤增溫散功。溫中解表祛寒濕，散痞調經用汝充。</p>
<p>消食飲　消食飲山楂，青陳曲麥芽。術苓甘枳實，厚朴與香砂。</p>
<p>乳汁不通通乳飲　通乳飲通草，豬蹄芎國老。山甲一同煎，服下涓涓倒。</p>
<p>無子乳膨消乳飲　消乳飲何方，麥芽將來炒。為末用五錢，米飲調下妙。</p>
<p>益氣養榮湯　益氣養榮湯，參耆白朮當。芍芎陳熟地，甘草茯苓攢。</p>
<p>起早褥勞飲　褥勞豬腎飲，白芍與當歸。晚粳香豉入，蔥白也相隨。產後之脈最宜緩滑，又宜沉細。實大弦牢見之為忌。</p>
