<header data-type="book">
<h1>證治心傳_1</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>袁班</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
</header>

<h1>序</h1>
<p>一介之士苟存心濟物於物必有所濟雖蓬累而行與得其時則駕者不可同年而語而其志則足尚矣幕賓袁子體庵顧影無儔居珠湖之浜喜讀書達通塞其才如五石之瓠不適於用然濟人利物之心未嘗去懷蚤年侍親疾博究方書深得異人秘授遂以天下之疲癃殘疾為己任視人之呻吟痛苦不啻若涉者之溺於淵呼號拯救而思欲手援之連籌韜略之暇醫門著述滿麓盈贏醫津一後第其中一則耳每憾今之醫籍大半摭拾前人牙慧割裂補竄搜為已有以搏名高究之中無所得苟逞其臆見率意妄行惟其載胥及溺而已袁子之心傳則析衷諸家參以臨證經驗有疑似難明者發揮奧蘊隨筆記錄以待質正予嘉其闡古今所必由之理實天下所未見之書俾後進者引而伸之平時得之於心臨症應之於手裨益蒼生非淺鮮也於戎馬倥傯之際抽閒閱勘俟鋒焰稍息亟付手民以餉世之習醫者苟研求而有得焉將免殺人之惡名而為生人之仁術豈不懿歟時在</p>
<p>祟禎歲次癸未仲秋月兵部使者溧陽史可法識</p>

<h2>證治心傳卷一</h2>

<h3>證治總綱</h3>
<p>吾嘗嘆今醫診病鮮不以捷為工即延醫者亦以捷為能何古今之不相若也夫醫之診病必以審慎為本若捷於接脈乃市醫苟且之為班斷不如是每治病證莫不以望聞問切細加討論然後辨標本別表裡虛實之異參四時寒暑之候隨症定方雖不能盡合古聖之心傳而可免私心自用之咎也況近世之醫書每多以補虛立論至大實有羸狀故因穢濁實邪盤踞在內既不得見而知之又為宜補之說橫於心中往往惑於假虛之病象而入多以下為畏途矣更有世之不明虛實之宜乃不善用者之誤恆見得時之醫自保聲名不肯輕用下法及至病久正虛方投輕下之劑自無效應至不得時之醫遇有病症急於求效遂妄用下法以決裂人見時醫用下而無效庸醫用下而致禍遂使假虛之證娛於溫補而戕生多矣殊不恩內經有有故無損之訓仲景有急下存津之法如傷寒論之承氣陷胸等湯用之得當立能轉危為安況邪入於裡如賊踞畿輔內地非邊遠之寇可比急宜蕩除然於腹裡地方而行此兵凶戰危之事務當操必勝之權而後可今特將歷驗心得之法利盤托出以濟世人之危殆而挽夭扎之慘也蓋胗脈不足悠以脈有皮惟看舌苔為準則以苔無皮顯而易見大抵有濁垢黃膩無津之苔凡見此苔即用下法一劑得手繼之以輕重進退以視濁苔之減否或退盡而可以知邪之清淨一目瞭然又有一種或隱或現或黃或灰之苔當細看其苔必浮不實而必現濁垢之形是為虛苔慎匆誤用下法以誤人者近見讀書不達變通之醫拘執傷寒論泥於一日太陽執定先表后里概以日數傳經立言昧於鬱伏內起之因而不明常變之理往往拘執脾胃宜於芳香溫燥務戒苦寒攻削乃未究立法之旨耳即如東垣之補中升陽等方是助其本也仲景之承氣陷胸等法是祛其邪也然臟腑因邪氣而暫變著尚在常理之中更有變出非常如老弱幼稚之質每有大實之證竟須竣下多劑而愈者又有年當盛旺而忽患虛寒及向非強質忽患大實者往往有之或謂病患由於化氟而成其化實化虛化寒化熱皆未可常理測焉臨症不可狗守恆情尤不可固執成見要在辨證的而用藥當方克有濟惟病之已成雖有良工終不能保其十全欲求最上之道莫妙於治其未病大凡疾病雖發於一朝已實釀於多日若於未發之先必呈於形色遇明眼人預為治療可期消患於未萌也至於病勢已減末後調攝尤宜加慎既勿留邪遺患更忌過劑損正均關至要惟膏丸本為緩調善後之用然亦當知緩急細察精詳若正氣已復即宜停止防久而增氣反生他患切勿以補益之劑可以久服總之無病不宜以藥餌為調養非徒無益而反有損以其藥性各有偏執故也仍須研究經文握陰陽之綱領最為簡捷譬如傷於食者若無陰陽偏盛之變不過暫時悶脹捐谷一日即消徜陰寒鬱抑則所停之食為水中之水矣若溫熱鬱伏則所傷之食為爐中之炭矣無形附著有質有質助其無形病患成矣至於血之瘀有寒凝熱結之因蚘之動有大寒大熱之分一切疾病或由天時感化或因情志感傷或本質偏虛其成者皆歸二氣為本明乎內經雲水火者陰陽之徵兆也寒熱者陰陽之牲氣也乃得由搏反約之道焉若欲明醫理之淵微必先考審素問靈樞之秘熟讀仲景傷寒之旨自有左右逢源之妙非徒恃於陰陽五行創滋陰溫補之法以八味六味湯丸加減變化娛人非淺余所論方法皆為挽回溫補之弊而設亦不得已也非欲與時醫爭名亦不欲妄議著書者之過而實欲明虛實別標本以為壽世濟人之殷鑑也可</p>
<p>瀾按先生著書時當祟禎甲申以前正四方擾亂之日其所謂溫補為害乃隱斥薛立齊之誤其時土大夫惑於溫補致誤者多先生所不明言者恐傷時而招尤藉以避世俗之忌而以明虛實別標本為壽世濟人之術不啻大聲疾呼其心可謂仁焉</p>

<h3>治病須明陰陽虛實論</h3>
<p>蓋人身本陰陽二氣化成二氣平調人無疾病二氣一有偏勝則疾患生矣自古及今方治雖多總不出補偏救弊而已虛者補之實者瀉之矯其偏勝歸於利平劃疾瘳矣然陰陽者天地萬物之源也天之六淫人之七情以藥物性皆稟乎此以人身言之氣為陽血為陰衛氣行於外者為陽營氣榮於中者為陰六腑為陽五臟為陰身半以上屬陽身半以下屬陰先天之陰陽腎命是也後天之陰陽脾胃是也人之所以充身澤毛蒸化水穀溫養運行皆陽氣之發用也惟陽氣不能孤立必憤陰血以濡之成形成質濡潤流通皆陰血以維持也是以臟腑肢體雖有陰陽之異而內外軀殼無處不具陰陽之氣也陰陽相合則生偏勝則病離散則死病之發他大偏則大病微偏則微病人之死非陽盡則陰竭矣況人之生也氣秉各有偏盛如蒼赤骨大而瘦者為陽體柔白骨小而肥者為陰體肥人之病恐虛其陽瘦人之病慮涸其陰天之六淫亦乘人身之虛而感化陰虛之體易感風燥暑火陽虛之質易感寒濕霧露陽從火化陰從水化水寒火熱內經謂陰虛生內熱陽虛生外寒陽盛多實陰盛多虛明乎陰陽則表裡虛實寒熱之病一目瞭然矣或詔大怒傷陰大喜傷陽思慮則脾陽結恐懼則腎陽消勞力汗出則衡陽蔬苦思極慮則心陰擾至於妄下傷陰妄汗傷陽大吐傷陽失血傷陰辛熱傷陰苦寒損陽由是推而至於七情六氣莫不統馭於陰陽也臨證者但以審陰陽盈虛消長之理雖病狀變化莫測不外陰陽偏虛之患治以補偏救弊之法惟不可以陰虛陽虛立論用六味八味為定法要在明察致病之由而施治則思過半矣譬如傷寒是表陽傷也用辛溫以散表寒若溫熱是里陰熾也用苦寒以勝裡熱推而至於陽水陰水陽黃陰黃陽脫陰脫陽暑陰暑陽瘧陰瘧陽狂陰癲陽癰陰疽皆不外陰陽偏盛之道也茲將陽邪為病先言之如脈數身熱便秘竅乾煩躁舌苔黃黑口渴多飲是也其陰邪為病脈遲或緊舌白滑膩面色清白諸竅潤濕便泄溲清是也如審其陰邪在表有麻黃桂枝之法若知陰邪之在裡有四逆埋之法其治陰實也有三物白散附子瀉心等湯其治陽實他有白虎黃連等湯甚則用承氣照胸之法建中扶陽氣之劑復脈救陰液之方又有陰盛者外則惡寒肢冷內則濁陰上逆犯於清陽為頭痛喉痹嘔吐喘嗽呃逆霍亂胸痹痰飲水腫泄瀉寒凝不通為胸脅腹痛及其陰盛之極則見鬼發躁汗脫而死若陽亢者外則身熱骨蒸內則火氣上炎薰灼清道亦為頤痛喉腫嘔惡消渴喘咳霍亂痰結迫瀉斑黃狂亂燥結不通亦有胸脅腹痛甚則譫妄目盲昏沉氣絕又有陽極似陰陰極似陽最易惑人假如外雖面赤煩躁惡衣其脈重按必無力口雖渴而不多飲舌苔黃而潤滑二便不黃赤不燥結甚則裡熱盛重往往格陰於外反覺肢冷惡寒戰僳熱深厥深按其脈沈數有力口必燥渴能飲舌必乾燥不澤苔多黃黑裂紋二便黃赤秘澀等候要在分虛實以用藥則無他岐之惑矣總之辨症精詳診脈尋源則執簡以御煩扼要尤易非近世醫書拘執病名以求治則望洋生嘆散而難稽所以不能見病知源反滋疑娛今特約而簡顯而明使後進者有所指歸歟瀾按表裡虛實標本陰陽明此八字萬病變幻雖多以此推測有殊途同歸之妙經云知其要者一言而終不知其耍流散無窮由是觀之醫貴傳通古今超越前哲非學有根柢者所不能這焉今先生所論皆振衣挈領之法非近代醫書執成方以療治者所可同日而語也苟能潛心體察熟讀深思自獲左右之妙則胸有成竹不致人云亦云拘執溫補以娛人哉</p>

<h3>治病必審四時用藥說</h3>
<p>四時者春夏秋冬乃一歲代謝之序其生長收藏循環不息生生無窮此天之顯明切近之氣惟氣有清和則不能無偏勝人在氣交之中受天地和氣而長養受天地戾氣而致疾以長夏暑濕挾雜尤易傷人元氣消爍津液濕為濁邪最易傷陽當天暑地熱人身之氣亦發越於外腠理開汗大瓶子之脾胃因之虛弱外因濕蒸之酷尤易感受隨人身陰陽之偏盛而為病如奔走長途受烈日之威則為中暑輕則六一散重則白虎湯若畏熱乘涼暑為風伏宜香薷飲加減為治或居涼亭水閣多食瓜果冷物內外虛陽被遏是為寒暑傷陽即宜用辛溫治之加大順散冷香飲子之類若但多食生冷者縮脾飲正氣散隨宜而用若其人元氣素虛微感外暑治以生脈散清暑益氣湯消暑丸等醒脾陽祛濕熱而已至於冬令嚴寒肅殺之氣為傷寒者仲景言之詳矣惟陽氣潛藏於內天時晴燥雨雪稀少乃成冬溫之證須用大劑清下不得拘執傷寒成法以誤入哉近世此病甚多尤宜加審輕則用杏蘇飲重則用蔥豉湯加荊薄枳桔連翹大貝以達表為治若時值初春嚴寒將退風木司權其氣善升而近燥多犯上焦故多身熱咳嗽微惡寒者以黃芩湯為主方隨症加減加薄桔荊防杏蘇翹貝桑菊牛蟬之類取清輕之味清肅肺衛若失治久延漸入榮分有逆傳順傳之候近世市醫不知者多徒守仲景六經成法輒投辛溫表散耗液傷陰或變神昏鼾睡厥逆瞀瘛或咳甚失血延成癆瘵或胃實失下譫狂痙搐莫救者多矣又有熱極旁流名為順傳胃府法宜急下以存陰液然有舌苔黃燥裂紋可憑奈何庸醫不知者多餘以濟世為懷晝夜研鑽斯悟其致病之由挽救之法歷驗不爽隨筆記之以拯斯民之厄嗚呼自古迄今無人發明春溫濕溫冬溫之奧蘊致誤於庸俗者不啻恆河沙數矣或者前哲知其所以然而珍如拱璧未能筆之於書日久湮沒者有之或有其書久久失傳亦未可知也更有誤於經文者加秋傷於濕冬生咳嗽細心研究濕字的系傳寫之訛歷來注家隨文詮釋亦未正其訛謬又復曲為誤引長夏暑濕見證混淆於其間豈知初秋承長夏之末暑濕伏氣為患者可以仍用清暑燥濕之法時值夏秋交替之時最易變幻直追深秋燥令大行往往盛於秋末冬初人在氣交之中受其戾氣伏而不宣是為秋燥其症咳嗽身熱胸悶甚則譫妄痙厥諸危候畢呈當審天時之涼暖而分寒燥熱燥之治藥用溫潤甘寒之品出入加減又當驗其舌苔若焦黃燥裂口渴能飲者須用大劑清下如三黃承氣等法為釜底抽薪之治切勿畏攻而留邪致延日久大實而有羸狀誤於溫補不起以誤人者余為利人救危計不得不將歷驗心法公諸宇內以便後進得指歸之益耳瀾按四時暑濕為最厲至於風溫秋燥冬溫等證前人混於傷寒拘執傳經日數誤於辛溫表散自先生闡明風性上升而氣近燥始犯上焦治宜清肺輕劑更復申明秋燥一語辨正經旨有功後進厥旨深切明矣世人僅知溫邪上受二言葉氏創解而不知葉氏前已有言之哉或者葉氏本此書而闡明其旨由葉氏傳播亦未可知諺云後來居上其斯之謂歟</p>

<h3>辨症訂方必先審四診記</h3>
<p>診視之耍必先詳察形色然後細問致病之因聞其聲音啞響察其肌膚肥瘦問其苦欲按其胸腹視其舌苔詢其渴飲二便通塞苟能不憚煩瀆則在裡之虛實寒熱已得其耍領矣大抵胃有邪滯舌必有苔苔之燥潤黃白厚薄以辨邪滯之淺深而用輕下重下之方法至於口渴能飲者屬實熱口渴不能飲者屬虛熱小泄赤澀大便燥結者實熱也小便清利大便溏淞者虛寒也若潛心推測則病之寒熱虛實自無狐疑之惑矣然後參乎脈之浮沈遲數則標本虛實更有鑑別矣余於切脈辨證尤加慎審未敢輕忽推測歷險心得竟是左手主陰右手主陽凡溫熱之病熱邪灼陰右手脈大左手脈微迨下盡熱邪左脈始超右脈亦平又沈寒痼冷之疴右脈極沈微左脈皆緊盛直至數溫之後左脈平而右脈起矣凡陰陽偏虛亦驗左右可知陰氣先絕者左脈先絕陽氣先絕者右脈先絕叉有緊奧數相似有寒熱相反之別亟宜辨明近時溫疫證重者正為邪制脈反極微加無當審其平昔有無宿病分別老幼強弱而斷之假如素無疾患體質強壯者決其脈因病變必視其舌苔黃濁燥裂胸腹拒按一經下後病邪漸退而脈亦漸起加大虛有盛狀大實有嬴形陽病似陰陰病似陽若不細察精詳誤人性命豈淺鮮哉惟溫情攻補四者之中以平補之補較輕緣微補不過助疾且有助正之能若濁補則有遏邪之患況古方每以鋪正之中參以逐邪之品攻下之方寓以扶正之治凡大攻大熱大寒之劑稍有疑似只可漸次加足切勿過劑傷正倘虛症誤下則禍不旋踵挽回莫及之勢矣謹之慎之譬如熱而不實者當用白虎黃連若誤投承氣抵當則敗若陰虛虛熱應用補血滋陰者若誤投黃連白虎則亦殆矣更有實症用下後病勢盡瘳忽又發熱或寒熱不已乃正氣驟虛即當大補以善其後他又有寒病化熱熱證轉寒虛中爽實實症兼虛變幻多端要在審辨精當細心體察可免實質虛虛之咎於心無愧否則草菅人命班實目瞽心傷願人人如我之存心體上蒼好生之德則天下夭札之患稍可挽救矣</p>
<p>瀾按病證萬變要在審察形色聞其聲音問其病困難後切脈則虛實立辨寒熱立判乃不為外象所惑寒者熱之熱者寒之沉疴頓起良醫之名播矣今讀先生手記處處以慎審為主發明左手屬陰右手主陽凡溫熱重病脈見微細如無以及誤攻禍重誤補增疾等言皆前人所未言可謂仁且智矣況先生之學術深邃猶且精細若此存心利濟願人人遵而行之以免草菅人命可謂仁至義盡若後進之士雖不能如先生才識而效其存心學雖不及則以慎審從事足以步良醫之後塵矣</p>

<h3>用藥宜精審慎勿蔬忽記</h3>
<p>治病之要首辨藥性用藥得當則救人用藥不當則殺人若性味猛烈者人易知之其間有極和乎泛常之品幾微之間亦能僨事者必須潛心研究庶免致患嘗億昔醫治虛痘用四君子湯平妥極矣然亦間有枯斃者以其白朮之燥茯苓之滲即為大害有陰虛用四物湯尚能獲咎以芎歸辛竄耗陰夫苓朮極平和之性味芎歸體陰微辛之氣尚能道害至於暑熱霍亂服生薑湯立斃者書載難以枚舉耳更有其藥本不對症因其能揠苗助長或治標病有小效而其害過後方顯著或因病重藥輕藥邪相拒初服反覺不安患者不知遂即更醫反致錯亂者凡此之類尤屬暗而難測惟須細心討論藥病如何相制如何相反之理而用之得宜者譬如氣虛者只宜甘溫極純之劑不能稍參耗間不容髮若病久胃虛僅宜參耆參地之品若挾炒術二陳芎芍等即覺不受又如陰極虛而亡血者只宜純甘柔潤以三才復脈等法然必去桂姜推而至於婦女之胎產或血崩過多或鬱勃日久皆不得用升散之品又有化燥化熱之證不能夾絲毫辛溫苦燥每見大泄之病服胃苓而加劇乃豬澤滲利太過反肋下行之患他如寒忌清涼熱忌辛溫虛忌消耗實忌澀滯上逆者宜降不宜升下泄者宜固不宜降散亂者宜收斂不宜辛散鬱結者宜宣達不宜澀滯用藥想當則病瘳相忌則病進至於虛羸年老孕婦產後若患實症攻邪宜早乘其正未重傷邪未深入慎勿畏攻牽延正為邪傷挽之莫及當此危疑之際有起死回生之法也余治大病必用大藥歷獲奇效如大散以麻黃姜活為主大攻以大黃芒硝為要大溫以附子乾薑肉桂為主大清以石膏黃連為主大補以人參黃耆為主大滋陰以熟地二冬為主每遇大實之症必須大劑大黃由五錢一兩治大寒之症附子由三錢增至六錢者大清之症石膏由八錢增至五兩者方克捷效轉危為安所以醫貴閱歷經驗非近世庸愚無識每以輕藥相代或用數分至錢半以希起死回生者何異癡人說夢耳夫藥性生成各具專能生剋制化用以補偏救弊斷非他物可代然用藥之道各有次序凡邪犯上焦心肺頭目清竅則宜輕清之品不宜重味藥過病所反傷中下鬱結之病治從輕宣柔潤不宜苦重大熱補澀之品非徙無效而反增病也倘婦女崩漏治宜重大之劑方可勝任若用輕小之劑揚湯止沸於病無濟大瀉之疴湯劑直過病所不能留戀宜用未藥以緩止之至瘋狂淫瘡疫厲等患皆宜重下輕微之品難於取效所列各法皆平日曆驗心得用特錄記以備研究作後進之模範也可</p>
<p>瀾按用藥之道言之精且詳矣大病用大劑方克勝任庶免正虛邪盛更難挽救是平素經驗闊歷之言論中石膏用至五兩大黃用至一兩桂附等亦五六錢者是內經有故無損之遺法然非有先生之才識則可無先生之膽略則不可學者尤當熟讀深思潛心推測自能心領神會而造精微步良醫之後塵庶不負指歸之教焉</p>

<h3>胃為生化之源記</h3>
<p>經云胃者五臟六腑之大源也人自有生之後惟賴五穀以滋養穀人於胃流行於臟腑化津化液薰膚充身澤毛莫不以胃氣為本人有胃氣則生無胃氣則死故仲景傷寒論陽明症最多陽明者胃也變化五穀滋生之大源七情六淫皆以胃氣強弱為轉移推而至於溫熱暑濕瘧痢咳嗽嘔瀉腫脹胸悶氣痛等症均出於胃也夫胄為水穀之海生化之源內而臟腑氣血外而筋骨皮肉無不賴以灌溉萬物所歸者也經以胃為多氣多血一身之關鍵人身七情之感怒盛傷肝肝動則氣逆上衝怒息則肝自平而所病者乃被沖之胄耳假使邪人五臟其人立死雖輕邪亦為痼疾矣市醫不知生化之理謬稱風伏於肺又云脾為生痰之本肺為貯痰之器或謂痰迷心竅殊覺噴飯不思之甚蓋肺為嬌臟何能留風貯痰試問其風其痰從何道入內耶至於心為一身之主其竅更何能容痰況心肺居至高之位不能入痰即脾亦為清淨之臟亦不能容痰每見痰由食管吐出即知痰生於胃矣余臨症研究歷驗心得而闡明之以啟後進而免再誤也大抵人身以胄為總司其用煩雜其位衝要凡內外諸病無不歸之於胃余每用治胄方法以療諸病功效捷應今特揭明以備採擇不致為古書所惑盂子云盡信書不如無書一語推而至於內難經文其中謬誤不可枚舉余為活人計不得不直言之歟</p>
<p>瀾按萬物莫不歸於胄故胄為五臟六腑之海也今先生闡發胃之功用搏考治胃諸方以療溫熱濕溫危病又擴充肝肺諸病亦因於胄病者於是專以治胄功效昭著藉以啟後進之智識不致仍惑於陰陽五行八味六味湯丸可治一切病患之遺害挽回溫補之頹風先生之濟世苦心昭然若揭矣</p>

<h3>保身可以卻疾說</h3>

<h3>侍疾應知論</h3>
<p>醫為人子所當知古人有儒門事親之書良有以也第醫理邃深而知醫之理難為庸人律也惟侍疾之道是賢愚當共曉應為之要也若父母偶染疾病為子者當慎擇良醫亟早調治母待病邪深入以傷氣血藥必躬自撿察購買道地上品煎時必親自看視逐味查對防其錯娛教其煎法如須表散用蘆薪猛火若系滋補用炭火緩煎等法煎成親送親前寒溫合宜斟酌盡善不離左右視其或汗或下之驗以及米飲茶水等物母使失序切勿委之奴僕徒有服藥之名每多錯誤之害若暫時疾病人尚易為若衰邁沈痾年深月久呻吟枕蓆困臥難起最苦者二便須人扶持撤換洗濯每當夏令炎暑蠅蚊攢刺冬日嚴寒衣被啟覆以及飲食一切非人照料不可莫無切已之人當心侍候則垂暮之光陰如同圈圄之歲月為子者當思父母生我劬勞自身在襁褓中父母晝夜保抱就濕推干萬般辛苦毫無蔬懈以及痧痘疾病扶持保護延醫禱神畢生心力盡悴於我生之後今當父母衰年患病正人子報本之秋何辭勞碌侍奉倘有便溺痰涎切不可畏汙必自為撒換隨時查撿雖不如古人嘗異割股之孝亦當效烏鴉反哺之意若一概委之奴僕萬難實心從事況此輩面是背非而病者自知情形衰弱苦況亦多含忍不言如是者縱有兒孫繞膝皆屬虛名無濟倘有僕輩誠實可靠亦須人子親身督率擾給僕使犒賞也古云百善孝為先人能盡父母一日之勞即得一日之功行能盡一二年之勞即得一二年之功行在此根本上用力勝一切善舉萬倍矣又何憚其久勞疲弊哉至於境處富貴不同惟侍親之道無從分別若貧賤者無力倔人自身尤宜加力凡藥餌飲食之費務須竭力籌措因父母逋累亦可對人果能盡心純孝自當感格上天必不使終於貧賤也如富貴者當思天以美與我若不加倍盡孝何以對天若置父母於腦後任其痛苦呻時而自擁妻妾以安眠自己捫心尚得謂之人乎況根本既虧恐富貴亦難久還矣又有兄弟多者當各盡各力切忌推委遇婦女不知盡孝必痛加教誨萬勿溺愛聽信余屢見年老衰疾之人為僕使所欺甚至病危之際刨持不慎一蹶而斃者人多不察不知要知人人皆有老時代代兒孫看樣為父母即為自己也嗚呼人有一息尚存皆知痛癢於有限之時光克盡其心力較之死後知識全無做齊打蘸祭弔之虛文徒然以有用之金錢為僧道欺朦其益當何如哉有父母者深思力行豈可忽乎哉瀾按先生向以孝聞以己之心度人之心大聲疾呼願天下之人皆知盡孝惟近世富貴家往往自昧本源僅知逢迎顯者以圖進取功名置父母於不顧余目□心傷姑隱其名而不宣瀾雖慕先生孝行愧無先生學識惟願稍步後塵聊盡為子之心而已</p>

<h3>痎瘧咳嗽記</h3>
<p>當讀內經瘧論洽法獨詳分十二經見證以榮衛為綱領以氣血分陰陽而察外感內傷之偏盛若其人陽盛則發熱陰甚則惡寒以膜原居表裡之界入於衛氣所行之度數互相爭拒則寒熱往來其少陽為半表半裡之樞與膜原接壞外象似乎瘧由少陽為傳舍庸俗遂拘熱小柴胡湯為治瘧專方其不思之甚矣仲景金匱云瘧脈自弦弦數者多熱弦遲者多寒以中土有邪木易順乘故也夫瘧有寒溫癉牡虛實之分其作止宥定時邪淺一日一作或間日或三日一作者謂之陰瘧因邪在陰分留連難愈大抵治瘧之法調利榮沖母使陰陽偏盛酌用寒溫之方以平調之然必辨其感傷虛實之因審其宜汗下消補之劑如邪伏於陰用升清之藥提之出陽自無豎結之忌大法已備細心揣度則思過半矣至於咳嗽之因不外寒熱虛實之邪挾風邪襲於肺胃肺胃之邪上干清道則咳嗽作矣內經云五藏六腑皆令人咳又云聚於肺關於胃也蓋肺為清肅之臟不容絲毫外邪千之則咳嗽氣逆甚則喘息失音延成癆瘵不治者多矣余治外感寒邪每用小青龍湯減其分量如麻黃乾薑各一錢細辛五分製半夏錢半五味子四分炒芍一錢甘草五分桂枝六分後入並隨症加減如熱甚加杏仁石膏去乾薑桂枝莫不應手取效如風熱甚者麻杏石膏甘草海石枇耙葉等亦多取效斯皆余之心法隨筆記之以期後進得其指歸云瀾接咳嗽一症內經言之詳矣六淫外邪風寒最多先生用小青龍湯始寒嗽系實驗心得至瘧疾因寒熱往來為少陽見證世醫不明往往拘執小柴胡湯為主方隨症加減與內經金匱分寒熱虛實癉牡等名大相逕庭先生闡明其誤以濟人為懷不啻大聲疾呼以啟後學之悟焉</p>

<h3>中風腫脹辨</h3>
<p>經云風氣善行而數變又為百病之長也亦隨人身之盛衰為轉移假如西北地土凜烈人體剛勁外風驟入卒然倒僕昏不知人口眼喎斜頻吐涎沫有真中類中之分別中臟中腑中經中血脈之殊證有閉脫之異藥用開固之法如用小續命湯開其衛氣以參附耆附湯固其榮氣他如侯氏黑散風引湯皆填竅以息風之治也迨李東垣謂元氣虛弱驟然卒倒無知劉河間以風乘火勢火藉風威其人亦卒然仆倒昏厥朱丹溪以東南氣溫多濕濕生痰痰生熱熱生風忽然神昏搐搦口眼歪僻等候現矣由是觀之三子之言中風言其因也名之日類中風仲景外臺言中風言其本也即真中風也近世類中風多真中風罕見也市醫不知一見動搖之狀不辨正虛痰火之因輒用散風逐邪之方樞紐離脫則命亦隨之而傾矣至於腫脹一症因陽氣衰敗而成治宜大培元陽溫中扶氣則水身行而腫脹除矣蓋人身之衛氣周護一身之表猶天包地之義肌膚之溫柔堅密皆本乎此若衛受邪伏於內陰反居於外水從陰化則成盧腫中陽氣遏則生□脹治宜溫發陽氣以逐陰邪是為探本之治也余恆見庸工每用行水利濕之劑加五苓舟車等方初獲小效久則病加腫盛脹增甚至背平臍突陰僭去位為喘為阻則大命傾矣余目睹其症已危心欲拯之而勢難挽也特將致病之源理不憚煩而辨之以作後進之殷鑑也可</p>
<p>瀾按古人論中風論其本也後世言中風言其因也治有關邪固正之法息風滌痰扶本之方精審明辨大法備矣他如腫脹有虛實之異內經言之詳盡金匱分之明晰奈何市醫不明妄執治標滲利以誤人先生目睹其害不憚煩而辨正之濟世利人之苦心昭然若揭矣</p>

<h3>虛勞說</h3>

<h3>幼科治驗記</h3>
<p>古人以小兒為啞科最為難治矣因其不能自言疾苦體弱易變以及痘疹之異耳餘為不然惟小兒之病雖不能自言病狀惟無七情之擾其所患者不過外感風寒暑濕之邪內傷不越乳滯飲食而已其頭緒簡略甚為易治奈何世多不察致市醫欺詐妄立驚風一科每用重鎮開竅丸藥禁絕乳食致質弱稚體何堪受此酷烈往往變出角弓反張搐掣之狀又妄加針刺疼痛啼泣實令人目□心傷是以推測仲景金匱文義豁然有悟仲景云無汗為剛痙有汗為柔痙隱與小兒之病象相符況小兒質嫩不耐風寒偶覺感觸即見身熱筋強甚則反張搐搦等狀與金匱痙病證候隱合庸醫不知遂妄立驚風之名以惑人余繹其理小兒之病脾胃獨多情志未通脾胃用事奈近世庸醫妄執小兒肝火獨甚將一切脾胃見症皆誤認肝火不思肝為春生之臟初生之肝豈可指為病藪以生氣當病氣殊屬庸妄已極哉或謂小兒為純陽體質言出錢乙奈庸俗不知引為口實非古人所及知蓋小兒為稚陽惟易病熱兼以乳滯變痰於是有熱痰風痙之症乃小兒恆有之病奈柯世之庸工捏造急驚慢驚以誤人哉余臨證四十餘年每遇瀉青色稀異晝夜頻類知其中陽不能變化為上之黃色反為木乘之青色此為厥陰濁氣所於當從扶土抑木以獲效方用附子理中丸一錢開水泡化兩次分進異即轉為黃色瀉亦止也若味者往往誤認為肝病豈不冤哉大抵小兒陰氣未全易於化熱若見口舌諸竅甚干大渴能飲者亟投甘寒之劑挾實者舌苔黃膩口有熱臭之氣亟宜盪滌之緣小兒純陽柔脆之臟腑尤易枯涸急下薦陰轉危而安矣至於陽明熱甚痙厥之證市醫名之急驚余惟清陽明熟邪則肝火自平若妄投鎮驚息風是速其危哉至久病中虛土不鎮木而顯風象者謂之慢驚宜急進附子理中湯或加溫補如肉桂黃耆等品以追失散之虛陽轉危而安每見庸愚用清散重鎮是下並而加之石矣更有一種婦人妄用針刺名曰挑驚或捏人中或口咬指捏口吸臍眼等妄治真是慘毒惡事目不忍睹其痘疹以寒熱虛責為準則惟一切有毒奇異之物慎勿妄用亦勿拘執幼科成法而不達變通以誤人哉余為濟世拯危特將實驗心法不忍秘而不宣今錄於簡末以公於世是亦保嬰仁術之意茸</p>
<p>瀾按小兒之病宋有錢乙著小兒直訣一書言之詳明奈何市醫不知討論古書僅守家傳方法妄立驚風之名用金石毒物製為丸藥為欺騙財帛計又有妖婦創能挑驚指捏等法其害尤甚庸醫先生目睹心傷闡明治法以拯人之危並示戒一切喚醒愚庸以保赤子並將歷驗心得秘法錄出以示後進可謂仁至義盡者也惟記中急下存陰僅言其法未載方藥者欲後人三反之意余恐淺學未能深造稍微仍然茫無定識或蹈清散重鎮之法依然無濟蒼生今擬二法法用瀉青丸清肝泄熱用錢氏赤散以攻邪滌痰考赤散之功用能消滯滌痰最有益於小兒近見京中雅觀齊所售之萬應保</p>
<p>赤散即此方也每服一分若病在上即吐痰病在下即便痰即能愈病誠妙法也假如痰熱甚可服回春丹此丹較赤散功緩善泄熱清痰惟虛寒者不可服售藥者未將寒熱標明考回春丹泄熱清痰近見廣東丸藥廣告中皆謂治急慢驚風其言大謬慢驚因脾虛者多豈可再投涼泄以戕正今特揭出以免誤人以後回春丹仿單中務將慢驚二字刪去功德莫大焉</p>

<h3>胸脅腹痛肝胃氣逆辨胸腹脅肋胃脘諸痛</h3>

<h3>溫熱溫疫辨</h3>
<p>傷寒論分六經見證方有發表攻裡之異注述甚多皆隨文釋義或各嗚一得彼此辨馭若究其源理有顧彼失此之嗟何也豈知時事有更代地土有南北人體有強弱近世以來四時感症類傷寒多正傷寒罕見也夫類傷寒者春溫夏熱濕溫秋燥冬溫是也雖然仲景謂傷寒有五方分溫散辛散攻下利解諸法後人識淺殊難領悟惟拘執傳經限日成法遂致遺誤者多惟近年凶荒饑饉兵火之除釀成疫厲互相傳染切勿拘執日數余治疫症大劑攻下每多獲效緣此病邪由口鼻吸入者多後往兩手脈微弱若不知者以為脈虛不敢用攻孰不知下後邪去脈即平復此症初起多見惡寒肢冷舌苔黃膩神識呆鈍或邪熱下迫每多自利所下幾微最易惑人必視舌苔垢膩之有無以定攻下之輕重每見下去一層又起一層輕者兩三劑重者八九劑濁苔退盡肺平而不躁急為準仍須用下庶免反復要知此邪乃大地間至惡之氣必須除惡務盡以大承氣為主方隨症加減減至單用元明粉為極輕總以三候之內為率若延至三候以外必自利紅水腸胃已爛必死無疑余歷驗心得以驗苔之滯膩需無津之苔憑此用下若舌無濁垢之苔雖見大熱不可用下余之心得經驗無誤之秘法也然則與無疫之溫熱有間未可混淆以誤人者夫溫熱者天地之常候也經云冬傷於寒春必病溫惟冬令外雖嚴寒而陽氣潛藏於內若天時晴燥雨雪稀少則陽失潛藏致生冬溫之證當用蔥豉湯加大貝芩翹銀花牛子甘桔等味蓋春為一歲之首嚴寒未退仍防寒邪遏伏直待春升木氣發透風陽化溫是為風溫其氣近燥多犯上焦致有身熱咳嗽胸悶氣促之症法宜清宜輕劑加薄荷牛子桔梗杏仁大貝蔞皮之類久延失治轉入營分誤用辛溫成法多致衄血咯血甚則成癆若已入胃舌黃乾燥亟宜攻下初夏漸熱火旺宜仿此方重加清藥可耳如長夏濕土司令宜燥濕清熱蒼朮白虎湯治之直至秋深燥令大行身熱暖嗽咽痛者辨天時之涼暖以分寒化熱化然用藥有溫潤甘寒之別此秋燥之治法也若熱已入胃便結溲赤舌苔黃焦垢膩亦宜急下存津切勿延久疋傷氣弱反成危候近年以來四時感症溫熱獨多每憾治法仍沿辛溫以致不死於病而死於誤藥者比比皆然偶見新出六書乃餘杭陶節庵所輯意在變化成法獨出心裁仲景所集增損加減標新立異不為無功惜未將溫熱見症單明原理余細為研究有擇焉不精語焉不詳何足以盡格致生化之源跳出傷寒之範圍哉於是焚膏繼晷精審四時代謝之序參以六淫偏盛之因豁然自得不揣草率無文爰將各篇病理隨時筆記以免遺忘是否有所採擇質之海內明哲願早賜之削政則感如師資之深矣</p>
<p>瀾按溫熱者四時之常氣化溫疫者天地之惡氣也蓋常氣以常法治之惡氣以峻法抬之理勢然也先生治疫重用攻下除惡務盡耳與吳又可法暗合其時各居一境所治之症大略相同袁氏辦舌苔垢膩厚薄以定攻邪之輕重又辨明溫熱奧瘟疫有間豈可混淆以誤人哉況先生濟世心切每以慎審為本其學邃深在又可之上且吳氏雖有九傳方法未將病理闡明書雖流傳惜乎混疫於溫貽誤亦多不足為法也或謂當時彼此各居一邑未能面商至理為憾如袁吳同處一堂互相討論吳氏必不致混淆立論溫熱原理母待葉氏發明之嗚呼天下事有幸有不幸吳書早經刊傳袁氏此書渺無知者緣先生志尚高傲不求聞達又非醫流此書乃當時之日記耳觀其自記云不揣草率無文隨筆記錄以免遺忘即知其僅記病理臨症實驗而已其言辭不加修飾已可慨見瀾因先生為吾邑先達兼與其玄孫同局襄修邑志始獲此書字跡蠹蝕過半用特重錄以免湮沒奈無別本可以校對祗姑仍舊貫未敢更易一字稍有疑義者附以按語以醒眉目云爾時在咸豐戊午中秋節後二日後學趙觀瀾謹錄拜志於三十六湖樓客次</p>
