<header data-type="book">
<h1>青霞醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈登階</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1892">公元1892年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521063">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>正文</h1>
<p>丁丑九月，方子嚴觀察哲嗣仲侯於鳳陽試寓，病甚劇。時予客邗上，觀察招予往治之。於月之二十二日起行，二十六日抵鳳，與仲侯朝夕診治，閱一月，始獲起坐。茲將顛未錄記於後。</p>
<p>九月二十六日，診得脈來如弦，灼熱無汗，午後尤甚，面上浮腫，色青黃，鼻黑暗，口苦而渴，時作咳嗽，痰色青白，有沫如珠，口內流涎，舌苔滑膩，前半色白，後半灰黑，唇口焦裂，神氣昏沉，日夜寤而不寐。是內伏秋燥之氣，外受冷露之寒，病延兩旬，燥氣化熱，表裡未能通達，邪氣深入，灼熱日多，陰液所存無幾，漸至內陷，證屬險危，非喻氏逆流挽舟法，恐難奏效，以四逆散合增液湯加減，若能得汗，方是佳兆。</p>
<p>柴胡　鮮生地　釵石斛　大棗冬　元參　枳實　牡丹皮　天花粉　金銀花</p>
<p>二十八日，前師喻氏之意，參以救液化熱，渾身透汗，其灼熱雖未退盡，而表裡業已通達，由午睡至申，始醒，神氣安寧，大有轉機之象。經云：夏傷於暑，秋必瘧痢。察病情，邪已深入，將來恐有瘧痢，仍宗前法，以枳實易茯苓，引鬱蒸之熱，從小便而出，方為合法。</p>
<p>柴胡　鮮生地　大棗冬　元參　茯苓　牡丹皮　天花粉　金銀花</p>
<p>二十九日，病由前延兩醫，用藥夾雜，苦寒過分，陰寒之性，凝結下焦，日夜腸鳴幽幽，如走水之狀，若燥糞下行，早伏便溏泄瀉之機。今灼熱已退，神氣清爽，肌膚潮潤，身汗常有，能不慮及傷陽之條，恐里陽衰乏，陰盛生寒，真陽飛越，亟須鎮攝，免至臨時棘手，譬如劍閣若據，而陰平非復漢有也。非真武湯，不能勝任。</p>
<p>熟附子　炒白芍　白朮　白茯苓　炙甘草</p>
<p>十月初一日，昨服真武湯，口中不幹不渴，心中不煩不躁，咳嗽流涎，面浮尚未見松，乃宗前法，加茯苓一錢。</p>
<p>熟附子　炒白芍　白茯苓　炒白朮　炙甘草</p>
<p>初二日，真武湯連服兩劑，兼以豬膽蜂蜜導入穀道，夜半下燥糞甚多，脈靜身涼，稀粥稍進，口中流涎作苦，灰黑之苔，已轉白膩而滑矣，面上浮腫，喉癢咳嗽，痰吐不出，色青如膠，白沫如珠，尚未鬆動，內伏秋燥之氣已化，外受冷露之寒未宣，遏塞肺竅。若不早除，愈後恐成痰飲，致有咳嗽氣喘之疾。惟小青龍湯，能直入病所，適達肺竅，非此方不為功。</p>
<p>麻黃　細辛　桂枝　乾薑　半夏　五味子　白芍</p>
<p>初三日，昨服小青龍湯，喉癢咳嗽痰吐白沫皆松，大便又行。予思病久則虛，有先補而後攻者。有先攻而後補者，不可執定成規。氣體本虛，而病已一月，不妨先固真原，待氣分稍充，再行攻伐，未嘗不可，八珍湯去熟地加陳姜耆。</p>
<p>潞黨參　茯神　炮姜　川芎　白芍　炙黃耆　當歸　於朮　炙甘草　大棗　生薑　陳皮</p>
<p>初四日，昨服八珍湯，夜間出軟糞甚多，天明時，又下糞水一次，真原稍復，能食薄粥少許，但咳嗽稍定，痰未活動，仍用小青龍湯，服後再議。</p>
<p>麻黃　細辛　桂枝　乾薑　白芍　半夏　五味</p>
<p>初五日，服小青龍湯，痰已活動，白沫亦無，面上浮腫盡消。然經方能直入巢穴，只能暫用。連日已行燥糞三次，又見稀糞，上中下三焦，皆屬空虛，胃氣未開，薄粥仍然少許，宜溫補脾腎氣血為法。</p>
<p>炙黃耆　潞黨參　炒白朮　白茯神　破故紙　縮砂仁　炮薑炭　熟附子　全當歸　大川芎　炙甘草　大棗　生薑</p>
<p>初六日，自邪熱一退，即用真武湯，繼用溫補脾腎。不料燥糞出盡，一夜連瀉稀水三次，病後泄瀉滯下，用藥更難。閱方徐二君之法，大黃連用十日，不但大便未通，反將陰寒之氣，結聚腹中，以致日夜腸鳴幽幽，如走水狀。仍宗前法，加溫暖腸胃之品。</p>
<p>煨肉果　吳茱萸　熟附子　炮薑炭　白茯神　炒白朮　炙黃耆　潞黨參　破故紙　炙甘草</p>
<p>初七日，兩手關脈見弦，陰陽不和，夜半大便，易於受涼。時將未初，驟然寒熱兩時，汗出直至足底，被褥皆濕，夜半又下軟糞一次。竊思病後汗多，恐陽氣衰微，擬參附湯以扶陽固氣。予謂治病難，而養病亦不易也。</p>
<p>潞黨參　熟附子</p>
<p>初八日，連日寅刻大便，起坐床上，天尚未明，而寒氣更甚，又泄瀉三次，體虛之人，焉能不受寒涼。隨看兩手關脈，弦而有力，是虛瘧來派。幸而寒熱時候不大，只胸腹時覺膨脹，小便混濁黃色。以補中益氣湯，升清降濁，待瘧疾轉正，再議。</p>
<p>潞黨參　升麻　柴胡　陳皮　當歸　炙黃耆　於朮　炙草　生薑　大棗　白茯苓</p>
<p>初九日，脈弦不平，陰陽未調，已轉間日瘧疾，先寒後熱，約兩時許，熱退汗收，被褥全行汗濕，而手指冰冷，特恐汗多亡陽。幸喜泄瀉已止，寒漸化熱，日夜食稀粥湯數次。惜無人參調補，只好重用黨參以代之，兼固陽氣，庶將來病愈後，真元易於充復，參附湯主之。</p>
<p>潞黨參　熟附子</p>
<p>初十日，瘧不當期，脾腹時覺膨脹，小便混濁，余皆平安。以小柴胡湯輕劑，直入少陽，以探病機，佐豬苓以分清濁。</p>
<p>柴胡　半夏　黃芩　黨參　炙草　豬苓　生薑　大棗</p>
<p>十一日，瘧來已早兩時，寒去熱退汗止，似乎稍松，記日來已三次汗多，屢潮被褥，指尖不冷，只覺胸腹膨脹而響，小便混濁，精神疲睏而已，獨參湯主之。</p>
<p>潞黨參</p>
<p>十二日，瘧不當期，余皆平安，如果來日再至，恐病久汗大，難以支持。仍用少陽經重劑加猛藥，直入巢穴，所謂不入虎穴，焉得虎子。若不即除，延久恐難制伏。</p>
<p>柴胡　黨參　枯芩　常山　花粉　半夏　豬苓　知母　甘草　生薑　大棗</p>
<p>十二日，昨用猛藥，欲是行險僥倖，而瘧疾竟除，一大快事也。今仍以獨參湯主之。</p>
<p>潞黨參</p>
<p>十四日，精神漸復，薄粥頻添，惟胸腹膨脹，小便混濁，渾身作癢，此汗出潮濕所致，無礙也。從此小心調理，指日可以痊愈，五苓散主之。</p>
<p>炒白朮　豬苓　澤瀉　茯苓　肉桂心</p>
<p>十五日，小便混濁，業已分清，大便如常，並無虛熱潮熱等證，只有胸腹膨脹時響。經云：飲食後作脹，其脹在腸胃，不飲食亦脹而響，其脹在脾。水氣結聚，脾為所困，經所謂脹滿之證也。宗景岳人參四磨飲，合五皮飲加減。</p>
<p>大腹皮　真陳皮　茯苓皮　制川樸　老蘇梗　潞黨參</p>
<p>十七日，腹脹已松，仍宗前法。</p>
<p>大腹皮　真陳皮　制川樸　茯苓皮　潞黨參　老蘇梗　炒枳殼</p>
<p>十九日，腹中膨脹已消，惟飲食下咽，下氣上逆，泄氣而消。揣其病情，是清濁之氣，升降失和耳。現兩足軟弱，步履維艱，仍宜睡養，切勿勉強，致生別端，仿七氣湯。</p>
<p>熟半夏　制川樸　白茯苓　紫蘇葉　玫瑰花　鮮生薑</p>
<p>二十七日，睡亦安寧，二便如常，且素患內痔，便後有血，或有或無，近食麵飯，頗有滋味，兩足仍然軟弱，再用調補之劑，五十日即可復原。予細查前方，不覺心膽驚悸，始知死裡逃生之病，仲侯受之，而用出奇行險之方，予一心主之，藥到病除者，有神助焉。回憶乙亥冬，揚州太守英公，病亦危險，予一藥而除七年之疾。仲侯與英公，病雖不同，其事則一也，予並志之。</p>
<p>黨參　萸肉　茯神　枸杞　山藥　蓯蓉　炙草　棗仁</p>
<p>十一月十五日，予切脈，幼得《太素》之傳，仲侯品格清高，容止謙順，將來福澤，未可限量。惟大病甫痊，精氣未復，務當慎風寒，節飲食，則天地六淫之氣，自然不侵於內。予自十月二十八日，由鳳回邗，仲侯半月以來，連下宿糞大小百餘枚，惟日間多坐，夜間兩足微腫，虛汗頻有，大便間或有血。是水寒土濕木鬱風動之故，當補火燥土，暖血溫肝，即痔血亦以此法通之。</p>
<p>炒於朮　大生地　炒黃芩　清阿膠　熟附子　炙甘草　老桂枝　鮮扁柏　灶心土</p>
<p>辛巳夏四月中浣，武少尉巨川，方駕部伯融來寓，出方子嚴觀察專信見示，始知觀察喆嗣揖趙患證，屬余醫治。余恐才識不逮，托其善為我辭。是晚二次信至，詞意諄切，實難再卻，當料理行裝，次早乘輿赴八寶。即夕至高郵，輿人困乏，遂易舟乘順風夜行，十九日午初，抵觀察寓，診視揖趙之病。熱將內陷，危險之至。先進紫雪丹驅其熱，繼以犀角地黃湯救其陰，周身汗出，其熱解去。於是專用育陰法，舌苔回津。又用導法，燥糞兩下，胃開神靜，惟右手經絡為濕邪所竄，致軟弱不便。本古賢治痿弱獨取陽明法，始獲轉運自如。旁觀謂余是岐黃神手，余曰：命也，非人力所至。既承觀察信任，自不能不竭盡心力，用副見委。茲將所開脈案藥方，鈔錄一帙，冀同道君子正之。並書數語，以志顛末。</p>
<p>四月十九日，病已十餘日，未曾微汗，以致外溫內灼，舌苔乾而焦，短而硬，直如黑鐵，且牙關漸緊，言語不清，口內氣味，腥臭薰人，臥床不能轉側，神氣昏滯。是熱熾而邪逼入陰中。蓋陽津陰液，均已乾涸，汗自不能外達，內陷顯然，危險之至。用紫雪丹，單刀直破堅壘，繼以犀角地黃湯，去熱存陰。若得微汗，則吉。</p>
<p>紫雪丹　犀角　鮮生地　丹皮　生甘草（本方去白芍添甘草）</p>
<p>二十日，昨診兩寸關脈如弦，舌短硬，其苔乾黑，邊底光紅如鏡，唇破，口臭牙緊，言語不清，頭熱，而手足心胸腹按之尤覺火灼，睡覺不沉，神氣昏滯。腸胃津液，皆為邪熱耗頓，以致肌膚如鱗。病已十三日曾未出汗，邪氣從何而走。當進紫雪丹犀角地黃湯，夜間甫得渾身微汗，僅至大腿，脈自稍平，肌膚漸通，舌尖光紅轉淡，但津液未回。所飲湯水，皆要熱服，經所謂內熱極則外自生寒也。前方加重，添生白芍、麥冬。</p>
<p>前方犀角地黃湯加重加　白芍　麥冬</p>
<p>二十一日，昨服原方加白芍、麥冬，汗出至腿，身熱已解六七，牙關能開，舌硬漸軟，稍能伸縮，神氣清楚，口內腥臭之味，亦退八九。但臥床難動，舌黑乾燥，尚未有效。是悶遏之邪化火，猶未能由汗而退也，原方加元參以育陰氣。閱吳先生一方，思古人設白虎湯，系直入陽明，藥到病除。須作渴時飲，灼熱汗出，方能進之。性命攸關，寧可弗藥。此次內熱延燒頗劇，已成內陷之象。經云：熱極則風動，胃爛則吐紅水。則此時候，雖神仙亦無可如何矣。救熱存陰，轉危為安，夭也，非餘力也。</p>
<p>原方加　元參</p>
<p>二十二日，連進前方加元參、麥冬，身上手足心之熱退清，渾身有汗，仍未到足。緣陰為汗源，亦藉陽為鼓盪，足有三陰三陽，今熱傷陰液，致三陽之氣，亦失其權，故未達到也。現在黑苔全退，舌尖能伸能縮，紅漸轉淡，至今津液未回，可見熱極將陰分燒損。非重育陰氣，恐難勝任，去鮮生地易大生地，停紫雪丹。</p>
<p>二十三日，昨進育陰重劑，始能脈靜身和，眠安便濁，惟燥糞凝結腹中，舌條仍然乾燥。自十九日起，二十三日止，津液尚未得回，可見水為火涸，今日始見瘦容。仿增液湯，加以淡滲之品，引熱邪從小腸而出，非此不為功也。</p>
<p>細生地　元參　銀花　茯苓　大麥冬　滑石</p>
<p>二十四日，昨進增液湯，佐以淡滲，小便晝清夜濁，舌條中間乾燥，紅色花開，邊底皆有潮潤之意，右手筋脈軟痿，不能運動，似乎作酸。是邪化火逼入經絡。仍宗前法，方能內液充復，則舌上自然生津矣。</p>
<p>細生地　茯苓　滑石　麥冬　銀花　元參　燈草</p>
<p>二十五日，連進增液，舌上潮潤，現在根生白苔，舌尖尚紅，至右手痠軟難動，俟燥糞已行後，再行料理。仍服原方，去滑石加知母。</p>
<p>二十六日，連進原方。今日周身潮潤，舌上白苔生滿，小便清利，可見雲行雨施，萬物皆生矣。惟舌尖尚紅，燥糞未下。此係大腸津液未復，仍宗前法。</p>
<p>麥冬　大生地　知母　銀花　元參　茯苓</p>
<p>二十七日，舌上潮潤，舌尖仍紅，口唇乾燥，皆因燥糞雖動部位，未得下行，結而生火。仿養陰兼以潤腸軟堅為法。</p>
<p>大生地　元明粉　知母　麻仁　元參　茯苓　川黃柏</p>
<p>二十八日，進潤腸之法，腹中燥糞，下至小腹，舌上潮潤，前半截稍干，咳嗽一二聲，吐出稠痰一口，似乎上焦肺氣已舒。惟胃氣未蘇，苔能燥糞下行，營衛流通矣。今去其軟堅，專以潤腸為法。</p>
<p>大生地　郁李仁　知母　蘇子　麻仁　杏仁　元參　柏子仁　天門冬</p>
<p>二十九日，停藥。</p>
<p>三十日，腹中作脹，更衣不得，萬分焦慮，擬以豬膽導法，商之於余。余曰：可如法治之。下黑糞三十餘粒，病者頓覺身輕也。</p>
<p>五月初一日，昨用導法，燥糞立下，舌上津回，舌尖之苔未生，頭痛身微熱，汗出直至足底，余垢未盡。仿參麥合滋燥法。</p>
<p>當參　麥冬　白芍　花粉　生地　知母　丹皮</p>
<p>初二日，停藥。</p>
<p>初三日，燥糞下，從頭上輕按則熱重，重按則熱輕，口中作燥，渾身皆然，兩太陽疼。前用甘寒之品，得汗而身熱退清，現熱又起，午後尤甚，溯進甘寒，已十一日。但未經汗下之身熱，與已經汗下之身熱，大有虛實之別，不能再追甘寒，恐有金寒水冷作嗽傷脾敗胃等證。思維至再，經文有甘溫能退大熱一條。茲擬早服補中益氣，晚服地黃湯，以滋腎水。</p>
<p>嫩黃耆　黨參　柴胡　升麻　白朮　茯苓　陳皮　熟地　萸肉　懷山藥　丹皮　澤瀉</p>
<p>初四日，昨進補中益氣湯，並地黃湯，面上暗色開爽，身上潮熱解去大半，稀粥漸增，舌條尚有些作於。此皆元氣未復，宗前方加麥冬，藥加重。</p>
<p>端陽日，停藥。</p>
<p>初六日，初三四進補中益氣，兼以六味，虛熱退清，又用導法，下燥糞極多。惟病久則虛，仿八珍湯加黃耆，雙補氣血，至右手不能懸，候氣血充復，再行專治。</p>
<p>黃耆　黨參　於朮　茯苓　炙草　熟地　川芎　當歸　白芍　生薑　大棗</p>
<p>初七日，昨進八珍加耆，營衛之氣稍和，照服原方，藥味加重。</p>
<p>初八日，八珍加黃耆，服後胃氣已蘇，稠粥加倍，右手骨節，捏之知痛，肩臂手指均覺痠麻。經云：四肢為諸陽之本。邪氣客於經絡之中，陽氣內衰，不能榮養筋脈，若不及早治，則日久必延蔓為患，為虺勿摧為蛇。將若何，宗前方，雙固氣血，加附子以通其陽，桑枝以引入手臂。</p>
<p>川芎　當歸　白芍　熟地　黨參　於朮　雲茯苓　炙甘草　製附子　桑枝</p>
<p>初九日，照服原方。</p>
<p>初十日，初八九兩日，八珍加附子、桑枝，右手掌指能動能捏，並知痛癢，營氣已和，忽又頭疼發熱，舌上作干。此陽通濕動之象也。病已四十餘日，真原虛極，非附子，不能扶助陰陽，以通經絡。至於虛熱潮熱盜汗日汗不寐浮腫，病後常有，不足為慮。仿補中益氣加蔓荊子，以升清降濁。</p>
<p>黃耆　黨參　升麻　柴胡　茯苓　白朮　陳皮　炙草　蔓荊子　生薑　大棗</p>
<p>十一日，昨服補中益氣，身熱雖增，小便清利，舌苔前半微干，後半潮潤色黃。是營氣自和，衛氣未和，手臂頗覺酸癢，此是伏邪欲出不得之象。仿小柴胡湯，從少陽以樞轉其邪，仍從太陽外達，由汗而出，其熱自清，而手臂背肩，亦可藉此活動矣。</p>
<p>柴胡　黃芩　黨參　白芍　花粉　甘草　生薑　大棗</p>
<p>十二日，三十、初六兩日，燥糞下盡，進八珍湯，雙補氣血，右手掌指，稍能伸縮。細思初病頭疼背板，病從太陽而入，太陽本屬寒水之經，行身之背，聞問日久，始悉前因病重熱甚，用燒酒濕紙貼胸，意在拔出火邪，詎知火未引出，而邪氣已竄入太陽經絡。是夜右手脈息，忽伏兩三刻方起，因此軟弱也。當於初八、初九兩日，加附子共一分五釐，服後熱甚，似乎經絡中之邪，為附子衝動。十一日又進小柴胡湯，以樞轉其邪，從太陽外達，汗出一身，其熱解去。八珍加附子，小柴胡湯，相為掎角，奪門革鼎，各有專功，膽怯焉能建補天浴日之功。仍宗前法，減輕柴胡，和解表裡為法。</p>
<p>十三日，診得脈息平靜，虛熱退清，身常帶汗，胃氣日健，小便清利，是臟腑之病均無矣。惟右手不能懸起，其病全在經絡，專以扶正化濕治之。</p>
<p>黃耆　黨參　釵斛　花粉　丹皮　白芍　甘草</p>
<p>十四日，大病愈後，未能在床靠臥，右手肘腕，尚不能懸。緣陽明濕熱，薰蒸於肺而屢，元氣已復，即當治痿，獨取陽明，背肩臂手自愈，此治本之道。仿千金清源法。</p>
<p>嫩黃耆　沙參　天冬　麥冬　於朮　花粉　苡米　粉草</p>
<p>十五日，脈靜神安，仿古賢獨取陽明法，以治右手。</p>
<p>嫩黃耆　黨參　麥冬　天冬　茯神　懷藥　釵斛　粉草　桑枝　苡米　生於術</p>
<p>十六日，昨以專治陽明法，據病者云：渾身覺得安泰之至，右手筋絡，較前數日，更知痠痛，照服原方可也。</p>
<p>十七日，右手臂指，已能活動，惟背肩軟弱，靠坐尚難，此熱邪竄入經絡之患。古賢治痿弱要旨，在取陽明，以陽明主宗筋，束骨通利機關。仿滋養陽明，以和經絡法。</p>
<p>黃耆　銀花　甘菊　麥冬　木通　刺蒺藜　甘草　鮮桑枝　鮮桑葉　生苡米　清阿膠（無真者勿用）</p>
<p>十八日，昨以滋養陽明，和通經絡，右手肩膀，今日稍能懸起。仍宗前法，去阿膠，因阿膠不真也。</p>
<p>十九日，自初六日大便後，已十有三日矣，脈來弦緊，燥糞塞於肛門，今日又用導法，下宿糞二三十團，尚有宿糞，杜於穀道，緣正氣未充，不能送出，仿保元湯當歸補血湯。</p>
<p>炙黃耆　黨參　炙甘草　當歸</p>
<p>二十日，宿糞杜於肛門，先上豬膽，繼用白銀耳挖，挖出大小二十餘粒。白銀耳挖，已變黑色，可見熱毒極重。現余垢尚未清楚，仍服前方。</p>
<p>二十一日，昨下宿糞時，頭汗如珠，皆因病久正氣未充，一派虛弱之象，幸而眠食安寧。今診兩關脈見澀，病糞雖有，亦屬無幾矣。仿八珍湯去川芎、茯苓，加黃耆固表，蘇子降氣潤腸，桑寄生引入手經絡。</p>
<p>黃耆　蘇子　黨參　地黃　當歸　白朮　桑寄生</p>
<p>二十二日，宿糞下盡，便溏已見，昨夜至今早，飲茶三次，口中不幹，心煩作悶，似覺噁心，小便雖有而混濁不利。是上焦君火未能與腎水相交，經所謂胃不和則臥不安，小便亦因之混濁也。擬以梔子入心而下交於腎，豆豉入腎而上交於心，繼以二陳加減定其心煩。</p>
<p>生梔子　淡豆豉</p>
<p>今早服梔子豉湯，小便混濁轉清，惟病後表裡俱虛，內之津液不足，心煩，胃口作汎而不嘔，睡覺不沉，仿二陳加減。</p>
<p>洋參　陳皮　熟半夏　大麥冬　知母　茯苓　小麥</p>
<p>二十三日，停藥。</p>
<p>二十四日，二十二日晚，進二陳加減後，半夜始能熟睡，心煩已定。惟不思飲食，小便清白而少，膀胱之氣未化，兼之胃氣不和，頓食在所不免。仿異功散加木香、神麯、麥芽，是開胃正方克伐之品，非病後所宜用也。</p>
<p>洋參　陳皮　茯苓　於朮　木香　炙草　神麯　麥芽</p>
<p>二十五日，昨進異功散，胃氣稍和，今早能食稠米湯兩碗。據病者云：前兩日其悶在胸下。現在覺得悶在胸下，仍宗前法加枳實消補兼行。</p>
<p>二十六日，原方。</p>
<p>二十七日，二十五六日，兩進異功散，而胃氣漸蘇，小便混濁，並覺澀疼。是腎中之陰，與胃之津液，為結熱所耗，如過於滲利，則津液反致耗竭。方中阿膠即從利水中育陰，是滋養無形，以行有形，小便自清矣。</p>
<p>豬苓　茯苓　澤瀉　滑石　阿膠</p>
<p>二十八日，停藥。</p>
<p>三十日，進豬苓湯，小便早間清利，午後短而渾，似覺澀痛，今早又清亦不澀痛。且小腸是心之府，主熱，其水自小腸滲入膀胱，胞中生熱，應於心，其小腸必熱，經謂胞移熱於膀胱。因熱而耗其水，久病必氣虛，則小便短而渾澀而痛也。但已五十日，經云：熱甚灼，筋必傳於骨，骨熱則痿。又云：骨熱則背脊不能舉。余現任其事，不能不慮及將來，展轉思維，非補其氣，壯其水，其患焉能除耶。</p>
<p>上黨參　茯苓　白芍　阿膠　萸肉　乾地黃　牡丹皮　炙草　澤瀉</p>
<p>六月初一日，昨服補氣壯水藥，小便清利不疼，稠粥照前時食，昨晚翻身自試，骨脊難以轉側，遂覺心中煩急。余見其初次燥糞下後，即謂《內經》有云：熱甚灼，筋必傳於骨。又云：骨熱則背脊不舉。初病在臟腑，初病在筋骨，於滋養陽明，以通利關節。與六味地黃湯，間日易服。</p>
<p>大生地　竹玉　菊花　歸鬚　釵斛　蒺藜　銀花藤　桑枝</p>
<p>初二日，原方加陳皮、白蜜。</p>
<p>初三日，專取陽明，以治背脊肩臂。</p>
<p>大生地　天冬　玉竹　釵斛　蒺藜　麥冬　歸鬚　菊花　金銀藤　桑枝　白蜜</p>
<p>初四日，大便如條，下來不少，臟腑無病，可以弗藥，飲食以五味調和，氣血自然充復，背脊肩臂，亦可因之自如矣。是日始能吃乾飯，床上靠坐。初六日，移坐椅上。初十日，能自立起，舉步尚須人扶。十二日，步履自如，起坐亦便。是病由三月二十四日出診起，至六月初四日止，計六十九日，余於四月十九日按治至是，四十四日也。四十四日之中，病變各殊，方亦層易，是時始占勿藥，可謂世疾矣。斯曰：固由觀察任人不疑，余始得竭盡心力。然余於觀察居久，見其事親孝，得人厚，其庭訓家法，皆可楷模當世。後嗣蕃昌，理所固有，揖趙世兄，天姿早犖，歷金門，上玉堂，指顧間事耳，疾雖重，烏足心困之，余所以任之而不辭者也。至謂用方選藥，皆能中病，此觀察之謬賞，非余所敢承也。因彙集脈案藥方，乞方君長孺書之，爰跋數語歸之揖趙，以為他日之左券焉。登階又記。</p>
<p>五月二十三日，體格生來，本不怯弱，本月十二日，正在一百六十日變之時，誤作病治，亂投消散之藥，延至二十一二兩日，抽掣大作，角弓反張，兩手足搐搦，兩足及右手冷而弗熱，目上竄，舌苔根黃，面焦唇裂，證極危險。經云：熱極則生風，風生則火動。仿錢氏瀉青丸法，如抽搐稍定，方是吉兆。</p>
<p>龍膽草（九釐）　梔子（九釐）　羌活（九釐）　防風（九釐）　熟軍（九釐）　川藥（九釐）　薄荷葉（四片）　當歸（九釐）　竹葉（三片）</p>
<p>蓋此為丸，方依制折為湯劑，不宜重也。水煮服，藥味共重六分三釐。</p>
<p>二十四日，原方。</p>
<p>龍膽草（一分三釐）　梔子（一分三釐）　羌活（一分）　防風（一分）　川芎（九釐）　當歸（一分）　熟軍（八釐）　竹葉（五片）　薄荷葉（四片）</p>
<p>水煎服，藥味共重七分三釐，外加一捻金一小粒。</p>
<p>二十五日，二十三日，服瀉青丸，舌苔信煩退去，其黃色如昨，二十二三兩日，皆於卯時起驚，至午後抽搐稍稀，二十四日申正，角弓反張，目光昏暗，四肢乍冷乍熱，至亥刻始定，利下白垢穢糞如鮮腸，今日巳刻，前往診視，舌苔轉成白滑，熱去寒生，已可概見，經所謂亢害承氣也。小兒筋骨嬌嫩，臟腑脆薄，邪已易入，況內進消散之品，外加推拿針灸之法，渾身筋骨皆傷，故動則啼哭不休，致成危證。現在亟宜培補元氣，仿加味理中地黃湯，若能搐定，方可著手。惟船小載重，施救不易，生死有命，究非人所能執其權也。</p>
<p>黨參（四分）　於朮（四分，炒）　黃耆（八分，炙）　制熟地（四分）　棗仁（四分，炒）　萸肉（四分）　破故紙（四分炒）　當歸（五分）　枸杞（三分）　炮姜（三分）　肉桂（二分）　炙草（二分）　生薑（一片）</p>
<p>二十六日，夏至一陰始，生至二十六日寅初服藥。</p>
<p>二十七日，服原方，減去炮姜及肉桂一分。</p>
<p>二十八日，兩目瞤動，唇口蠕動，掉舌，吃乳不便，虛煩，右足一鉤，立過即平復如初，身熱而不熾，兩足動時微冷，不動則和。所幸舌潤不渴，能睡不露睛，虛象明著。然肝木旺必克脾土，當趁脾平肝為要，以五味異功散，加減小柴胡湯，輪流易服。</p>
<p>黨參（五分）　於朮（五分）　雲茯苓（四分）　陳皮（三分）　炙草（二分）　鉤藤</p>
<p>又方</p>
<p>柴胡（三分）　陳皮（二分）　熟半夏（二分）　白芍（一錢）　梔子（三分）　炙草（一分）　燈草（五十寸）　牡蠣</p>
<p>二十九日，原方。</p>
<p>六月初一日，昨進異功散，合加減小柴胡湯，健脾平肝，身外之熱已退八九，而內里之熱未減。據此情形，雖大有轉關，然奏效尚不敢輕必，人小病深，定多反復。余初知其不甚易治，因觀察托之諄切，僅許以可，關係匪輕，用藥宜慎。仿六君子湯加味。</p>
<p>黨參（三分）　於朮（四分，炒）　半夏（三分，分制）　陳皮（三分）　茯苓（五分）　炙草（一分）　白芍（一錢）　柴胡（二分）　梔子（三分）</p>
<p>初二日，兩目瞤動，唇口蠕動，項強不能轉側，手足小動，幸能吃乳安睡。究竟脾氣不健，吃乳後即行大便。仿異功散。</p>
<p>黨參（五分）　於朮（五分，炒）　陳皮（三分）　茯苓（五分）　炙草（二分）　鉤藤（一錢）　燈草（三十寸）</p>
<p>初三日，原方去鉤藤，加六味地黃丸以滋腎。</p>
<p>初四日，原方加炮姜一分，木香一分。</p>
<p>初五日，小動及舌掉時，有心煩而啼，吐乳，似乎腹中疼痛之象，仿異功散及蟬衣散。</p>
<p>黃耆（八分）　黨參（五分）　陳皮（二分）　茯苓（一錢）　於朮（五分炒）　丁香（一粒）　安桂（二分）　灶心土（四錢）</p>
<p>又方</p>
<p>蟬衣（三十個）　鉤藤（一錢）　沉香（二分）　燈草（五十寸）</p>
<p>初六日，熱漸清，項強，反側則啼，手足戰振，腹中作痛，痛時汗多，心煩不寐，痛止則安。夫汗乃心液，多則傷陽，仍用異功散，加耆附以斂其陽，炮姜以健其脾。</p>
<p>黃耆（七分）　炮姜（二分）　附子（二分）　黨參（五分）　於朮（五分，炒）　陳皮（二分）　茯苓（八分）　炙草（一分）　生薑（一片）　大棗（一枚）</p>
<p>初七日，早服異功散，加炮薑、附子、黃耆。戌刻忽然煩躁，反復不安，交子時更甚，腹痛大作，吐瀉兼至，面赤汗淋而冷，舌苔黑潤而滑，利下吐乳。是陽飛越於外，陰寒在下之象，危在頃刻。仿仲景白通加豬膽汁湯。即進一劑，吐出冷痰一口，利下盡屬痰沫，腹痛煩躁稍定，五更覓得豬膽汁。照方再進一劑，天明腹痛已止，遂能安睡矣。</p>
<p>熟附子（一錢五分）　乾薑（一錢五分）　甘草（一錢）　蔥白（二莖）　童便（一小杯）</p>
<p>第二次</p>
<p>熟附子（一錢五分）　乾薑（一錢五分）　炙草（一錢）　蔥白（二莖）　童便（一杯）　豬膽汁（半小杯起）</p>
<p>初八日，昨進白通加豬膽汁湯，早間安靜，午後時煩，手足振戰，時候不大，每煩必下冷痰涎沫，下後即定，面上戴陽已退，始見形瘦，舌上黑色退淨，汗止身和。進以加味理中地黃湯，初服微作嘔，因徐徐冷服，至戌刻能睡，頗安靜。</p>
<p>大熟地（一錢）　黨參（一錢）　當歸（一錢）　萸肉（一錢）　於朮（一錢，炒）　枸杞（一錢）　炙黃耆（二錢）　炙草（三分）　棗仁（一錢，炒）　肉桂（五分）　炮姜（五分）　熟附子（一錢）　故紙（一錢，炒）　生薑（一片）　大棗（一枚）</p>
<p>初九日，仍服加味理中湯原方。</p>
<p>初十日，前日連進白通四逆，及加味理中地黃湯，亡陽證立止。昨晚亥刻，忽煩躁不寐，兩目瞤動，舌條伸縮不定，腹痛反復卷屈，時嘔逆，時飽隔，時嘆氣，乳食不多，小便不利，止胸中痞塞，關格不通，心火上亢，不能下濟下焦，陰寒凝結，不得陽熱之化。仿半夏瀉心湯法，如小便自利，則痞格開矣。</p>
<p>黨參（一錢）　熟半夏（二錢）　乾薑（一錢）　黃芩（八分）　黃連（三分）　炙草（五分）　大棗（二枚）　生薑（一片）</p>
<p>十一日，昨服半夏瀉心湯，小便已利，嘔逆亦止，關格已開。惟舌苔微黃尖紅，尚偶作煩，喉間有痰，早間八點鐘後，忽手振戰，面色轉白，轉睫之間即定，面色亦赤，手指經紋已現青色。此心火仍未下降，痰為火升，法宜降心火，理脾陽，化痰順氣為主，六君子加味。</p>
<p>黨參（一錢）　於朮（一錢。炒）　茯苓　乾薑（二分）　黃連（二分）　陳皮（三分）　半夏（二錢，制）　南星（一分）　生薑（一片）　大棗（一枚）</p>
<p>十二日，診得身不熱，能食乳安睡，大小便如常，舌尖紅退，經紋青色亦淡，並無飽隔作嘔等證，惟頸折項強，夜間時或目繫上急。此針傷太陽經絡，法宜舒筋和血為治。歸芍四君子湯，加天麻、鉤藤、苡仁。</p>
<p>黨參（一錢）　於朮（一錢，炒）　茯苓（一錢五分）　歸鬚（六分）　白芍（一錢）　天麻（五分）　炙草（三分）　鉤藤（一錢）　苡米（五錢）</p>
<p>十三日，乳雖能吃，而兩手時振，啼而不寐。先進半夏秫米湯，繼以加味理中地黃湯，夜間眠睡如常，手亦不振矣。</p>
<p>黃耆（一錢）　黨參（一錢）　於朮（一錢，炒）　枸杞（一錢）　故紙（一錢，炒）　棗仁（一錢，炒）　熟地（二錢）　萸肉（一錢）　五味（八分）　炮姜（一錢）　肉桂（五分）　當歸　炙草（五分）　熟附（一分）　生薑（一片）　大棗（二枚）　胡桃肉（一個）</p>
<p>十四日，服加味理中地黃湯，平安。</p>
<p>十五日，服加味理中地黃湯，日夜安靜。</p>
<p>十六日，正六次變蒸，生膽身熱，目不閉，耳邊冷，微熱，不可服藥，以亂其臟氣。</p>
<p>十七日，變蒸，身微熱，停藥。</p>
<p>十八日，弗服藥。</p>
<p>十九日，熱已退清，耳邊稍有未和，是變蒸尚未退淨，以加味理中地黃湯去薑桂，小其制，令候至次早與服，乃亥刻，忽又頭搖而啼，搖定後復笑，舉家驚駭，遂以藥頻頻進之。</p>
<p>二十日，診後以加味理中地黃湯，仍加入薑桂，增其制。</p>
<p>二十一日，連服加味理中地黃湯三劑，吃乳，大小便如常，能睡，並無手振頭搖口動等恙。十六日正值第六次變蒸之期，生膽身熱，目不閉，耳冷，因遵古訓，停藥三日，至十九日變蒸已畢，忽於亥刻，頭搖而啼，搖定時有笑容，睡不能安。二十日仍進加味理中地黃湯，日間搖頭十數次，時有笑容，夜晚啼而不寐，脊項前三日稍能活動，而強急究未能和。按心藏神，在志為喜，心氣內虛，痰氣遂上乘而為病，喜笑舌動，實此之由。錢仲陽曰：肝有風，則身反張，強直而頭搖。總之，虛則生風，風生則火動，火動則聚液而成痰。上方加味理中地黃湯，壯水以柔肝而息風，培上以補脾而化痰，此一定之法也。惟現在眉上紅色，總未見退，久病現此，究屬非宜。余初診此病，立辭不治，以觀察諄諄見屬，勉力應承，今變證屢屢，進退維谷，惟竭盡心力，以聽天命。自揣審證不差，方藥無溈，即為不負觀察委任，至於成敗，非所逆者。擬加味理中地黃湯，去枸杞、五味、肉桂，加阿膠、草河車為法。</p>
<p>大熟地（三錢）　萸肉（一錢）　黨參（一錢）　炒於朮（三錢）　黃耆（二錢，炙）　故紙（二錢，炒）　酸棗仁（二錢）　當歸（二錢）　草河車（一錢）　炙草（四分）　生薑（一片）　大棗（二枚）　炮姜（八分）</p>
<p>二十二日，照服原方。</p>
<p>二十三日，早間夏媽奔告，以夜間不甚吃乳，哭不安，謂喉間紅腫，余急往診。見其眉上紅色已退，頸項俯仰自如，頭搖笑容亦止，細視喉內清楚，無紅腫之事，令人抱起，則不哭而吃乳矣。始知諸病皆愈，其啼哭乃欲人抱也。撫視小兒，全在心細，審視不清，乃竟以咽喉紅腫來執，使魯莽者不加細察，投以清利之劑，則為害不淺矣。據述前有兩三位小兒，俱得驚風而死，今得此驚慢而能愈者，亦十中難一耳。</p>
<p>熟地（一錢）　當歸（一錢）　黃耆（一錢，炙）　萸肉（一錢）　黨參（一錢五分）　於朮（一錢五分）　故紙（一錢，炒）　炙草（三分）　棗仁（一錢，炒）　阿膠（一錢）　生薑（一片）　大棗（一枚）</p>
<p>二十四日。</p>
<p>熟地（一錢）　當歸（八分）　於朮（一錢，炒）　萸肉（六分）　故紙（一錢，炒）　阿膠（一錢）　茯神（一錢）　炙黃耆（一錢）　棗仁（六分）　炙草（三分）　麥冬（五分）　釵斛（五分）　黨參（一錢）　生薑（一片）　大棗（一枚）</p>
<p>二十五日。</p>
<p>黨參（一錢）　於朮（一錢，炒）　半夏（二錢）　陳皮（五分）　棗仁（一錢）　炮姜（二分）　黃耆（一錢）　炒胡紙（一錢）　炙草（三分）</p>
<p>乙酉暮春上浣，子嚴方伯以手諭見示，謂令媳大少奶奶患病，雇舟來邗就診。病因氣鬱血結，六七年來，每食已，有噎逆之勢，日積月累，遂成膈證，上中下三焦，阻塞不通，飲食漸薄，二便不行，法在不治。然以素蒙篤信，兼之諄囑，遠道而來，勢難推諉，始用藥以通其氣，繼動其血，知系宿疾，非下不克。然久病氣虛，非補不可。選用大黃人參化積丸，攻補兼施，數日間得下黑燥糞頗多，積漸去，胃漸開，飲食日增。調以保元補陰八味等丹丸，諒易康復。細思此證，病情已極，百難愈一，得以如法奏效者，亦全賴大少奶奶之鴻福。鄙人豈能挽回天命，不過因證用藥，尚無錯誤，足以仰副方伯諄囑之意云爾。</p>
<p>乙酉二月十九日，方大少奶奶心膽虛怯，如人將捕之狀，時而驚悸，心中跳動不寧，寤不成寐，胸中之氣上衝，則咽中如有肉塊堵塞，大便閉結，五六日一行，食物則噎，已有六七年矣。爾來只能食稀粥薄物，倘食乾飯，則中脘格拒如針刺疼。按心跳，是怔忡來源，食下阻隔，是噎膈已成。此證本屬不治，如能看破俗事，不生氣，不煩惱，或者可愈，仿仲景法。</p>
<p>川樸　半夏　茯苓　生薑　蘇葉</p>
<p>二十一日。</p>
<p>延胡　乳香　蘇葉　半夏　生薑</p>
<p>三月初三日，寶應來住船上，因悲哀過度，咽喉堵塞，胸中格拒，食物稀少，勉強納下，則胸中痛如針刺，大便不通，面色青黑。此病最難著手。</p>
<p>川樸　蘇葉　半夏　茯苓　生薑</p>
<p>初四日。</p>
<p>川楝子　延胡　烏藥　川樸　半夏　茯苓　丹參　蘇葉　陳皮　砂仁</p>
<p>初五日，氣鬱積勞有年，陽氣漸衰，濁凝瘀滯，格拒在乎中焦，飢不能食，或食喉開不能下咽，故水液可行，乾物梗塞。此證皆因七情五志過極，陽氣內結，陰血日枯，中脘阻隔，如針刺疼，不食不便，噎膈已成。有何法想，遍查古今方書，噎膈之證，四十歲以里者可治，四十歲以外者不可治也。太倉公云：治之得法，未有不愈者。探其源，中脘必有積聚頑痰瘀血逆氣，阻隔胃氣所致。先用消瘀去痰降氣以潤之，繼進猛藥以攻其積，或可望通。然此證多反復，必須身心安逸，方可欲病。</p>
<p>川楝肉　延胡　桃仁　紅花　薄橘紅　川鬱金　栝蔞皮　半夏</p>
<p>初六日。</p>
<p>原方。</p>
<p>初七日。</p>
<p>杏仁　半夏　桃仁　蘇子　鬱金　枳實　歸尾　蔞皮　川連　薑汁</p>
<p>膏滋藥。</p>
<p>熟地　生地　山藥　枸杞　當歸　萸肉　炙草　白蜜</p>
<p>初八日。</p>
<p>三方一日分早中晚服。</p>
<p>初九日。</p>
<p>三方分早中晚服。</p>
<p>初十日，膈者，阻隔不通，不能納穀。病在胸膈之間，足陽明胃經，燥糞結聚，所以飲食拒而不入。便結而不出，都因憂患氣結，日積月累，遂成噎膈之病。必須釜底抽薪，最為緊要，揚湯止沸，愈急愈增。歲月深遠，無有不為似是而非之藥所誤，此膈病之所以不能愈者。天下皆然，鄙意既有積瘀，非下不通，他人以為久病正虛，張眼吐舌。殊不知下法，各有不同，此證積瘀已久，非攻補並施，不能勝任。此法雖猛，百無一生之證，急用之，尚有餘望，否則逡巡觀望，何濟於事。</p>
<p>大黃　人參　芒硝　桃仁　歸尾　䗪蟲</p>
<p>白蜜為丸早晚兩服，日夜下黑糞如羊矢。黑血膠結半桶，上焦稍寬。</p>
<p>十一日，服法照前，日夜三四回，下糞如羊矢，黑血更多。干粥能進二碗一頓，聞飯香極，無氣味矣。</p>
<p>十二日，服丸如前，日夜下糞如黃豆，黑血半桶，而黑血不多矣。早起吃粥加一碗多，能睡而安。</p>
<p>十三日，停服前丸，息二三日，看其動靜。服膏滋藥三次，時刻想吃矣。</p>
<p>十四日，吃飯一鍾，想添不敢添，頭面四肢腫盛，此下後虛極而腫。</p>
<p>十五日，前用攻補兼施，直透關鑰，引宿積之瘀，一湧而出，所謂陳莝去而腸胃潔，癥瘕盡而營衛昌。胸中豁然，能吃飯一碗矣。脅下腹中作脹，大便三日未行，先進和中暢衛法。</p>
<p>蘇梗　香附　連翹　木香　蒼朮　川芎　神麯　桔梗　川貝　砂仁　生薑</p>
<p>十六日，上焦寬展，下焦脹墜，結糞已在腸間，直至肛門，津液為燥屎耗干，真氣虛弱，不能傳送而出，用保元養液丹八分，前丸二分。幸而食飯又增，至上燈時，連出四次屎，如羊矢，如小豆，約有半桶，而無瘀血矣。</p>
<p>十七日，結屎已行，腹中脹墜不覺，飲食又增矣。鄙意總要宿積去盡，方算拔去病根，恐其日後再聚也。用保元養液丹八分，前丸二分，煎方並用。</p>
<p>大生地　栝蔞　枸杞　山藥　當歸　炙草</p>
<p>十八日，安睡太平，又下黑屎如小豆者極多。予思此屎，皆耗亡胃陰之物，今積聚已去，而元氣耗損已竭，用保元丹，調養心脾，以舒結氣，而固真源。用補陰丹，填精益血，以滋枯燥，而補胃陰，防其再為乾枯閉小也。如胃陰日充，在上之賁門寬展，則食物入，在下之幽門闌門滋潤，則二便不閉，而膈證愈矣。渾身皮膚虛腫。</p>
<p>十九日，大便已轉白色而干，飲食下咽，並無格礙矣。服保元丹二回，煎方一帖。虛腫仍舊。</p>
<p>二十日，大便如貓糞灰白色，是腸胃受傷已極，非數日間所能復元也。保元丹補陰丹。</p>
<p>二十一日，午後大便，糞色稍轉黃色，服保元丹兩次，八味丸一次。虛腫仍然。</p>
<p>二十二日，連日飯食加添，且能吃肉，各種丹丸照服。浮腫亦漸見消。</p>
<p>二十三日，大便糞色漸黃，且不結燥，亦不間日而出矣。飲食加增，頭昏作痛者，因天暖悶躁，在船上，其氣不得舒暢所致，無礙也。</p>
<p>二十四日，中焦膈塞已降，食飯下咽不噎，惟咽喉間，似乎有氣上堵，或有忽無。此是家常素昔，心有不平之氣所致，宜開懷養息，自無此氣也。仲景云：吐之不出，咽之不下之氣也，七氣湯主之。</p>
<p>方大人喆嗣仲侯，同予講究醫術之友也，其令正患乳射。舟廣陵，就正於予，知其所患是干奶乳慄乳節之類也。肩輿至舟，見其右乳堅硬，如石重墜，乳頭縮入，七處潰出黃水，瘡口翻出，頭昏眼赤羞明，舌灰焦厚，業已昏暈，按乳有十二穰，今已竄七穰，如再遲延，全行竄破，勢必翻花，成為乳岩，扁鵲復生，亦難挽回。予遂進疏肝解鬱重劑，乳頭伸出，瘡口肉平，頭目清爽。又夾進膏丸，堅硬消軟，而遍身透出鮮紅膿窠瘡，幸矣哉。予獨不解一乳核，何以轉到如此之險，而旬余竟能收功，實力始念所不及，此皆仰賴大人洪福，故能得心應手。因思有謂予治病價大者，不知世俗不曉醫之賢愚，病之輕重，此予之所以活而不活也。病固是大手筆，然士為知己者用，重以相知之誠，僅取藥資，夠敷藥品，管仲無鮑叔，其名不彰，知己知後可耳。夫看病全在識證，不求對證用藥，但拘執偏僻，鮮有不成大患者。予年逾古稀，閱歷雖多，究於岐黃之術，尚剋剋焉而不敢自信。總之，生死定數，大病能愈，亦是定數。予非能生死人也，此自當生者，予能使之起耳。吳淮安曰：人不死於病，而死於醫。誠為痛快語，予深慕之。聊記數語，並附脈案藥方於後，留為仲侯閱看云爾。丙戌二月上潮，瀨江沈青芝識。吳子聖教服陽和湯二十餘劑以致如此。</p>
<p>正月二十二日，凡不乳婦人害乳，名曰干奶子。初起結核如棋子，漸大如雞蛋，有名曰乳癖、乳慄、乳節、乳患之名，有十餘種。但外科重在消散。然乳生此證，皆因肝火太旺，氣血凝滯而成，先宜疏肝解鬱消核，不至破爛，方為正治法門。今右乳周圍漫腫，乳頭下而及近胸近夾肢處，已破爛，五六塊淌水，瘡口胬肉翻出，其漫腫堅硬如石，乳頭縮入不見，大非所宜。況乳頭屬足厥陰肝，乳房屬足陽明胃，經言，婦人之乳，男子之腎，皆性命之根也。奈何遠道而來，不得不代為擬方，以疏肝解鬱為法。</p>
<p>銀花（一兩）　公英（一兩）　熟附片（一錢）　天花粉　木通　通草　柴胡　茯苓　梔子仁　白芥子　鮮橘葉（三十片，如無橘葉用青皮）</p>
<p><u>元壽丹</u></p>
<p>龜蓋（一個，燒存性，研末蜜丸）</p>
<p><u>三賢膏</u></p>
<p>鮮忍冬藤（五斤）　蒲公英（五斤）　夏枯草（五斤）</p>
<p>煮取汁，白蜜收膏。</p>
<p>早起，服三賢膏（三錢），午後，服煎方二次，睡時，服元壽丹（三錢）。</p>
<p>二十三日，二十日納薄物，睡倒不能起坐，破處淌黃水，乳不知痛，舌中作痛，而乾燥難忍，瘡口五處翻出。若不知痛，乳岩必成，神仙無法。</p>
<p>服藥照前。</p>
<p>二十四日，右乳中，忽作大痛，重墜難忍，一刻不得寧，下午近胸處破頭，淌黏黃水，夜間痛止安眠。按乳有十二穰，今已竄七穰，如十二穰概行竄到，堅硬如石不軟，即是乳岩也。</p>
<p>服藥照前。</p>
<p>二十五日，右眼紅腫羞明，渾身四肢發出鮮紅膿窠，稠密癢極難忍，乳中不痛，自覺重墜稍松去一二分，飲食加增矣。遂將原方減半。</p>
<p>銀花（五錢）　公英（五錢）　附子（五分）　花粉　木通　通草　柴胡　茯苓　山梔　白芥子　鮮金橘葉</p>
<p>元壽丹，三賢膏，照服。</p>
<p>二十六日，舌上灰黃厚苔退清，乳亦不痛，精神漸能振作，飲食又能加添。</p>
<p>服藥照前。</p>
<p>二十七日，乳頭伸出，瘡口胬肉平復，能起床行走，自覺乳之重墜又松，上面未竄之五穰，可以不至再竄而破爛矣。</p>
<p>二十八日至三十日，眼赤漸退，飲食眠睡如常，乳之上面漫腫堅硬處，似乎有些鬆動，乳之左右及下面，仍堅硬如石，毫無消動，破處時流黃水，惟乳按之不痛耳。</p>
<p>服膏丸照前。</p>
<p>二月初一日，飲食眠睡皆如平昔，惟乳之破爛，只流黃水，而毫無痛苦，添方易服。</p>
<p>鮮銀花藤　生嫩黃耆　潞黨參　真於朮　茜草　白芥子　全當歸</p>
<p>膏丸照服。</p>
<p>初二日至初五日，乳上堅硬漸消，瘡口潰爛處，黏水漸干，只有一處淌水。</p>
<p>初六日至初十日，瘡口全行收攻，乳之左右上下，堅硬如石，已消軟一半，無庸貼膏藥。回憶如此險證，不過兩旬，竟能轉危為安，真屬萬幸。十一日回府，煎藥即行停止，其丸藥膏滋藥，吃至乳中核消再停。至遍身膿窠，熱毒儘自愈，不必醫治也。</p>
<p>春夏秋冬，發瘧不同，處暑前後，白露前後，霜降前後，冬至前後，有大分別，不可一概而論。《內經》云：一日一發邪淺，間日一發邪深，三日一發則邪更深矣。一日一發者，當五日愈，以五日為一候。五日不愈，當十五日愈，三五十五日為三候也。三候不愈，當一月解。此瘧之一日一發之大略也。《內經》論瘧甚詳，日日發，有半年一載而愈者，三日發者，有一年二三年而愈者。皆有經文可考也。</p>
<p>據述九月初七日戌刻發熱，子醜有汗熱解，至十二日，正寒熱交爭之時，適值月經又到，將欲作汗。誤聽人言，用火煅醋，醋氣外逼，汗即不出，以致內里作燒，外面皮膚不覺火燒，瘧後昏迷，時許方蘇。遂作濕溫治，大進苦寒涼血之品，漸漸胸腹疼痛，呼號不能停聲，二十二日，人傳單方，用麝香等敷貼胸口，是日竟得大汗，連用三日，皆有透汗。其病由輕而致重，由外而入內，故變證百出，不死，福也。</p>
<p>丁亥四月二十一日午刻，寶應專足到揚，方三少爺揖翁信云：兆萱小姐吐病復發，身熱昏睡數日矣。余於午後三點鐘動身，二十二日夜九點鐘已到寶應公館矣。</p>
<p>二十三日，因平昔亂吃肥甘生冷零碎之物，以致脾傷氣滯，津液損，掌心熱，偶爾受涼多食，則嘔吐身熱之病復作，昏昏沉沉，數日不解，合宅驚慌。諦思此證已到發多次，是宿食積於腸胃，內液日乾。經云：小兒疳積是也。</p>
<p>川樸　神麯　陳皮　茅朮　栝蔞仁　紫蘇子　甘草　車前子</p>
<p>二十四日，小兒臟腑脆薄，瞎吃傷脾，津液耗乏，面青白而無華色，唇白，舌中白膩而厚，掌心亢熱，大便閉塞，胃日強，脾日弱，經所謂胃強脾弱，即是疳積狀貌。經云：胃虛則吐。細視面色，唇舌，其色淡，此由滯在內，復為食傷，虛證也。只能扶正勝邪，宜補以潤之。或者大腸不燥，胃氣和，其積可消。若用消磨攻下之法，重傷正氣，是為虛虛矣。擬早服五仁丸，午後服參苓白朮散。</p>
<p>人參　白朮　茯苓　桔梗　山藥　扁豆　砂仁　甘草　蓮子</p>
<p>杏仁　桃仁　柏子仁　郁李仁　松子仁　陳皮</p>
<p>研末，煉蜜做四丸，約四錢一丸，分作四日服。</p>
<p>夜半出黑粒屎如串珠兩條，約二三十粒。</p>
<p>二十五日，丸藥煎方，照前日服，又出黑粟如串珠三四條。</p>
<p>二十六日，丸藥煎方照服，又下黑粟不少，但屎黑如龍眼核，焦乾而無潮潤之氣。此正氣不足，故大便積聚，塞住肛門，而難出也。</p>
<p>二十七日，小兒有病，皆由受涼吹氣，飲食不節，致傷脾風，滯積膠固日久，正氣愈傷。細問病之情形，兩年來已發十餘次，病發則嘔吐，發熱昏睡，手心燒，大便結，日積月累，內中津液為陳積耗干，胃日強，脾日弱。幸而發未焦枯，如發不潤澤，則疳積真矣。余用五仁丸，以潤大腸，參苓白朮散，以補脾土。三日間連出黑粟屎甚多，然歷年致病之陳積，猶未下也，必須正氣充足，脾氣健旺，庶乎可望積消矣。擬補中益氣湯，以升降清濁，是三道之法也。</p>
<p>黃耆　人參　白朮　柴胡　升麻　陳皮　當歸　炙草　生薑　大棗</p>
<p>二十八日，昨日又出黑粟屎如串珠者，兩三段，掌心熱，雖未退盡，以手重按之，似乎不大幹亢矣，仍服原方。</p>
<p>二十九日，從早起至午，連出三次黑屎，其中如豆粒，如鈕釦，色黑如鐵彈，夾在屎中，頃刻間，又出新糞，實屬不少。四歲小兒，腸胃多大，數日間出陳屎新屎，如此之多，可怕人也。積去病差，非傷食而何。俗云：病從口入。以後切不可再使小兒飲食不節，小心謹慎一百二十天，真氣復元，其積自無矣。若不留心，仍蹈前輒，雖和緩亦難挽回。慎之，慎之。</p>
<p>丁亥八月初二日，萬秋圃分轉，招余為令媳大少奶奶看病。問及病形，原於七月二十日，生一女孩，上床即血暈數刻方省，朝朝請醫診治，愈治愈劇，將近十日。於二十九日，忽然昏倒不省，諸明公束手無策，坐任其敗而已。延至初二日下午，已有三日，身後之衣穿好，鼻無呼吸，挺直僵臥，惟腹大而高，上半身溫和，下半截冰冷，脈息未絕，診之並無七惡形狀。大凡產後肚腹當小而軟，不應不而高。憶經云：產後血已盡傾，心無血養，血舍空虛，止存微氣，所剩殘血，非正血，不可歸經，而離經之血，既不能歸經，又不下行，必至上攻心胸，因有此變。思維至再，遂用黑龍丹，去瘀生新，繼以華佗再生丹，大豆酒徐徐灌下。夜半惡露大行，至初三日，手能動，眼能開，似乎有轉機矣。然此證病情已極，百難愈一，得以如法奏效者，只求對證用藥，尚無錯誤。此亦大少奶奶之鴻福，鄙人豈能挽回天哉，所謂藥用當而通神也。轉危而安，藉以仰副分轉諄囑之意，不負委託而已。</p>
<p>八月初二日清晨，萬竹軒兄來寓云：侄媳大少奶奶，於七月二十日生一女孩，至二十九日忽然昏厥，目閉，牙關緊急，鼻無聲息，惟心胸氣動，腹大，從大腿至腳，若冰，上身及兩手，尚溫。余詢其病狀，與黑龍丹一粒，囑其速回灌下，看其動靜。至午後又來招余往診，僂指厥已三日，殮衣皆著，僵臥不動，待死而已。細問灌下黑龍丹之後，有瘀血大行，幸天轉新涼，兩手脈無七惡狀，或者可救。速用華佗再生丹，大豆紫酒循序灌下，至夜半，惡露大行，兩手微動，腹大漸平，但聲息未出耳。</p>
<p>初三日，往診，詢知大腿漸溫，腳未溫，呼吸微而細，病已轉機，可望活矣。問及藥，剩半杯，加藥催其時刻灌之。至近晚，眼能微開，夜半兩手活動，腳亦稍稍能伸縮。余算已四日，死而復生者，亦奇事也。</p>
<p>初四日，大早往診，手足活動，能出舌尖看苔，尚未能言，近午始能語，聲微無力。遂易方用獨活一味，大豆酒和童便服之。近晚來字云：病人口渴要吃茶。又云：渾身發燒，摸其皮膚，似乎有熱，頭上身上有汗，病人云：雖汗不嫌暖。竊思酒系發暖之物，故未敢與服等語，余曰：惜哉，未厥之前，服藥何其膽大如天，今既甦醒，何以膽小如豆。殊不知獨活去風，黑豆酒消血結，且有童便滋陰降火，如若早服，可以立見陰陽經脈流通。經云：藥到病除，一汗而愈，此之謂也。余恐產後致病，遇天時陰雨，難免渾身有困痛之病，病及時怕用，良可惜也。</p>
<p>獨活　黑豆酒　童便</p>
<p>初五日，脈象稍斂而不浮散，舌苔白膩，舌中至根灰黑，口渴舌潮不幹，身汗不離，兩腳和暖潮潤，聲音微細，精神疲睏，面上時有虛火上炎，夜睡不沉，的是產後氣血雙虧本證。諺云：藥醫不死病。其信然歟。</p>
<p>黃耆　當歸　童便</p>
<p>初六日，舌上灰黑之苔退盡，臉上虛火上炎一少，動則有汗，自覺痰吐味腥，神氣稍好。幸而體實本足，偶為藥傷，竟能轉危為安。余曰：天也，命也，有福者不死也。</p>
<p>人參　黃耆　當歸　附子　炮姜　童便</p>
<p>初七日，夜半大小便俱解，身汗亦少，臉上亦不上火，舌苔薄白，面上現有病容，能熟睡，惟有痰腥而已。</p>
<p>人參　黃耆　炮姜　當歸　童便</p>
<p>初八日，小解時，仍有惡露下行，臥亦安寧。若能早記古人不藥為中醫之誡，何致如此之驚人也。</p>
<p>人參　黃耆　當歸</p>
<p>初九日，吃粥三四次，轉側皆能自如，惟多口渴。</p>
<p>初十日，胃氣漸開，能坐在床上吃青菜湯飯，痰雖多而易吐也。</p>
<p>杏仁（十粒）　川貝（三粒）</p>
<p>煎濃汁，調鍋粉三錢服。</p>
<p>十一日，睡臥神安，飲食有味，計算移出堂屋睡臥，共十一天，今日竟能扶走進房。余曰：災難已滿，從此可祝多福多壽矣。</p>
<p>丁亥八月中旬，方果卿明府如夫人，由如皋雇舟來揚診視。詢及病情，是五月間，咽喉腫痛而起，月餘，自覺在乳下虛里，其脈貫鬲上絡於肺，其氣上塞喉管，嗌中乾燥，或癢或痛，時要吐痰一口，喉中稍爽，漸添肉瞤筋惕，睡中驚掣，則心中築築然搖動，而不得安靜，似乎渾身百病皆作矣。細看咽喉左右傍兩條起腫，結久成核，其氣上窒，則咽塞，氣下則咽通，似乎是梅核氣，人亦疑是梅核氣。但咽門內，上下紅絲纏繞，中起顆粒，壘若蝦蟆皮，中關將近下關，如浮萍略高而厚，或有如茅草，常刺喉中，又如硬物，隘於嚥下，直至下關肺管，看之不見，咽中乾燥，或痛或癢，其氣時通時塞。遍查古書，梅核氣，吐之不出，咽之不下，咽門內無顆粒紅絲形狀，且病者咽中，自覺有氣如珠，直貫心下作痛，亦與梅核氣殊。《內經》云：少陰少陽，君相二火，其脈皆經絡於喉，手少陰心脈挾咽，足少陰腎脈循喉嚨，一陰一陽結，則痰氣凝滯於喉間，皆因思慮過度，中氣不足，肺氣不能中護，虛火易於上炎，致有此患，難治之證也。仿金燥不能生水為法，煎藥、膏滋藥、丸藥、吹藥並用，以觀動靜。</p>
<p>元參（五）　麥冬（五）　白蘇子（一）　白薇（一）　甘草　鼠黏子　紫菀（一）　白芥子　百部（三）</p>
<p>水煎日服三回。</p>
<p>前方連服二十多日，自覺嚥唾，咽喉不大幹燥，癢痛亦稍止矣。咽門內，顆粒未消動，仿育陰以治虛火。若能腎火不上衝，方是吉兆。</p>
<p>大熟地（五）　麥冬（四）　苡米（五）　桑白皮（五）　生地　萸肉（四）　川貝母（一）　甘草（一）</p>
<p>水煎日服二回。</p>
<p>此方連服半月，咽門顆粒及兩旁結腫，內結小核，又非喉瘤形狀，幸而左右二條，日漸消軟，其核小而堅，尚未大為消動耳。煎方、膏滋藥、丸藥、吹藥並用，加銀花藤，熬膏日服。</p>
<p><u>丸方</u></p>
<p>薄荷（君）　三神丹（臣，一名玉丹，火硝煅時比玉丹內火硝加一倍）　牛黃（佐）　璉珠（佑）　川貝（佐）　燈草灰（使）　百草霜（使）　甘草（使）　冰片（使）</p>
<p>研細末，蜜丸如桐子，日服三回，每次服六丸。</p>
<p><u>膏滋藥方</u></p>
<p>即前第二方加銀花藤</p>
<p><u>吹咽消堅化積散</u></p>
<p>蛇皮　白玉丹　牛黃　珠子　燈草灰　百草霜　甘草　冰片</p>
<p>共研極細之末，日吹三四次。</p>
<p><u>吹咽至聖散</u>（化腐生肌敗毒）</p>
<p>蒲黃　牛黃　人中白　兒茶　白芷　薄荷　月石　冰片</p>
<p>研極細末，日吹三次。</p>
<p>十月中旬，咽喉痰氣，時開時塞，咽門內，紅絲紅顆甚密。遍查外證咽喉門，證名甚多。今指數證，大約相同。有喉疳過橋疳、喉癬，及魚鱗肺花二瘡，又有喉菌，生在中關下些，如浮萍略高而厚，紫色，又有喉節，生在近喉管處，看之不見，有似梅核氣，吐不出，咽不下，梅核氣，咽喉無紅絲顆粒，不痛不癢，痰無腥味，喉節初起，與梅核氣無異，久則漸吐清痰，爛腐臭味矣，皆由憂鬱思慮血熱氣滯而生，婦人多患之，虛火上炎所致也。余思經云：有火便是毒。遂用鮮銀花藤熬膏，煎方丸藥吹藥並用，咽喉內顆粒如浮萍，均已消盡。而咽喉傍左右兩條，腫硬亦消軟，痰無腥氣，痛癢漸止，左邊結核消如綠豆大，剩有兩粒，已至舌根下，右邊之核，亦漸消動如黃豆大一粒。按之此種病證，都因腎水耗損，腎火上衝，金燥不能生水所致，服半月後，再議。</p>
<p>十一月十九日，咽喉乾燥，癢痛皆定，痰吐無腥味之氣，已有半月，肉瞤筋惕，睡中驚掣亦稀，惟嚥唾嗌中之氣，自覺如珠，節節滾下。至心作痛時而氣逆，即噯飽四五聲，吐痰一口，氣順則已。若噯飽不通，氣便作悶矣。查氣門，呃逆氣上衝連呃作聲也、噦有物無聲曰吐、有聲無物曰噦、噎咽喉蔽塞、噫飽食氣滿而有聲、噯噯氣又暖氣也。此五種病，皆由肝鬱氣逆中來，肝鬱氣逆，胃當其衝，因而胃為氣逆。見此外證內病，辨之甚難。總而言之，是傷於七情而成，經所謂五氣之郁，皆足為以上種種病因，非若客邪之比。除之未易，故功雖僅虧一簣，策則驟乏十全。蓋鬱則務求曠達，病屬七情，藥物之效，止居其半，必須戒惱怒，節飲食，慎起居，毋致另生枝節。然後博考方書，細籌良法，病或抽絲引絮而去。芻言，正所以勉力圖功也，俟咽喉之結核消盡，再議。</p>
<p>丁亥五月中旬，方仲仁所欲不遂，神識迷惑，郁久則五志之陽上薰，痰聚心包，蒙閉清竅，漸致神志恍惚，有似癲瘋，其病不在一臟也。七情致損，非醫藥之所能愈已，若能遂其所欲，或者有可愈之機，未可知也。仿溫膽湯法。</p>
<p>半夏　枳實　竹茹　橘皮　茯苓　炙草　生薑　大棗</p>
<p>八月十六日，病因抑鬱不遂，佗傺無聊而成，精神恍惚，言語錯亂，夜不能寐，或笑或怒，或耳聞人語，目中時見鬼神，脈見乍大乍小，大有狂意，而狂甚則不避親疏矣。仿豬心血丸。</p>
<p>豬心血　硃砂　茯神　牛黃　真珠　琥珀　石菖蒲　遠志</p>
<p>共研末豬心血搗和為丸，每服二十丸。</p>
<p>二十八日，經云：陽盛，則妄言罵詈，皆因氣鬱生涎，涎與氣搏，則千奇萬怪，無所不至矣。惟大便或四五日一行，痰吐清白不息。如痰火一平，則神清氣爽，而寐亦能矣。仿甘遂丸，以通大便，抱膽丸，以定狂為法。</p>
<p>甘遂末，以豬心血和勻，將豬心批作兩片，入甘遂在內，再合紮緊，紙包濕，又文火煅熟，取藥和硃砂研細，再和豬心血為丸，二錢分作四丸，或分作六丸，日二服。</p>
<p><u>抱膽丸</u>　治一切癲癇風狂，如病大發，只服一丸二丸，多則三丸即止。此方即黑錫、水銀、硃砂、乳香四味也。昔忠懿王之子，得心痰，合此藥，偶有一風犬，飼之即蘇。因破犬腹視之，則其藥抱大膽，故因名之。其病大發之時，只能服一丸，風定即止，焉能多服也。</p>
<p>九月初十日，日服甘遂丸二粒，而大便潤，痰吐亦少。早起服抱膽丸一粒，共服三丸而狂定，夜間安靜，且能睡臥矣。</p>
<p>十五日，目中不見鬼神，耳中不聞人語，痰吐亦少，早起必飲燒酒數兩，且酒乃助熱生痰之物，而日必飲之。況酒醉，亦能發瘋動氣。有此病者，酒不能戒，雖神仙無能為。仿鎮心丹。</p>
<p><u>鎮心丹</u>　治癲癇驚悸，一切痰火之疾。</p>
<p>天南星　天竺黃　犀角尖　牛黃　真珠　琥珀　雄黃　牛砂</p>
<p>研末蜜丸，每日午前服二十丸。</p>
<p><u>郁礬丸</u>　治此癲疾，由七情得之，痰涎包絡心竅，此藥能去郁痰。</p>
<p>川鬱金　生明礬　薄荷</p>
<p>研末蜜丸，每服二十丸，睡時開水下。</p>
<p>十月下旬，靜坐太平，約有四十日，所服兩種丸藥已完，停服丸藥，緣痰火已不上升，而時有憤憤不平之意，此心病也。且時笑，時笑者傷魄，故易怒，怒後必歌唱不休，陰鬱而陽動也。憤憤者其病在心，在心者不可治，徒勞無益也。</p>
<p>十一月下旬，此病本起于思欲不遂，久則生熱，痰隨上僭，得治稍效，一不遂則復發，再不遂則再發。上工治未病，余深愧對其人也。姑仿九精丸一法，並錄古賢法語二則於後。</p>
<p><u>九精丸</u>（一名九物牛黃丸）　治鬼魅欲死，所見驚怖，欲走時無休止，邪氣不能自絕者。越人云：治風痰諸癇，狂言妄走，精神恍惚，思慮迷亂，乍歌乍笑，靜坐如癡。</p>
<p>牛黃（土精，一云火精）　龍骨（水精）　空青（火精）　雄黃（地精）　荊實（火精）　魯青（蒼龍精）　玄參（玄武精）　赤石脂（朱雀精）　玉屑（白虎精）</p>
<p>上九味，名九精，上通九天，下通九地。研末丸如桐子，服一丸。惜因價貴，不肯配服。</p>
<p>朱丹溪曰：五志之火鬱而成痰，為癲狂，以人事制之。如怒傷肝者，作悲勝之，以恐解之。喜傷心者，以恐之勝，以怒解之。思傷脾者，以怒勝之，以喜解之。憂傷肺者，以喜勝之，以怒解之。恐傷腎者，以思勝之，以尤解之。驚傷膽者，以憂勝之，以恐解之。悲傷心包者，以恐勝之，以怒解之。此法惟賢者能之。</p>
<p>一婦人飢不欲食，常好怒罵，欲殺左右，惡言不輟，眾醫不效。戴人視之曰：此難以藥。乃使二娼各塗丹粉，作伶人狀，其婦大笑，次日又作角觝，又大笑。其傍常以兩個能食之婦，挎其食美，病婦亦索食，而為一嘗之。不數日，怒減食增，不藥而差。後生一子，夫醫貴有才則何以應變無窮。</p>
<p>余思經云：重陽者狂，重陰者癲。而所言皆家務事，十多年來，鬱結於心，觸動其怒，則痰火上升，蒙閉清竅，則不認親疏矣。沈圭云：兄弟以不分家為義，不若分之，以全其義；婦人以不再嫁為節，不若嫁之，以全其節也。會心人自知，毋庸多贅。</p>
<p>戊子五月二十九日，眼喎斜，舌強不語，口中流涎，神氣昏迷，大便不通，已有七日，先用豬蜜導法。此中風大證，用藥甚難，仿轉舌膏法。</p>
<p>連翹　山梔　薄荷　黃芩　石菖蒲　大黃　芒硝　遠志</p>
<p>水煎，徐徐而服。</p>
<p>烏龜尿點舌上。</p>
<p>豬膽汁白蜜熬冷，做一寸長，塞入穀道。</p>
<p>六月初一日，大便下燥糞不少，幸而導通，能愈之兆也。</p>
<p>服原方。</p>
<p>初二日，閱方雜亂，下焦瞎追，上焦已受累不淺矣。</p>
<p>服原方。</p>
<p>柔潤，息風，化痰。</p>
<p>天麻　釵斛　天冬　枳實　生地　竹瀝　豆汁　地慄汁　梨汁　柿霜</p>
<p>熬膏，日服二三次。</p>
<p>初四日，神氣或明或暗。</p>
<p>仍服原方。</p>
<p>初五日，診左手脈軟而細，右手脈洪而弦，二便通暢，中脘時悶時寬，神氣乍明乍暗，口喎舌歪，口流涎，鼻孔乾燥。經云：中府者多著四肢，中藏者多滯九竅。前用轉舌膏，膽蜜導大便通，繼以柔潤息風化痰法，鼻孔潮潤有涕，胸中神氣漸清。年高之人，涸榮耗衛之藥，似乎不可用也，膏方內加沙參、葛根，煎方無庸更改。若要日日換方，治病無此法也。</p>
<p>初七日，始能開口出聲，閤家歡喜，人聞之亦伏心。仍服原方勿怕。</p>
<p>初八日，能說出「我要吃」三字，已見轉機。仍服原方，膏滋方加重，添清音法。</p>
<p>天麻　天冬　當歸　黃菊花　釵斛　元參　麥冬　梨汁　黑豆皮　蔗汁　竹瀝　薑汁　柿霜</p>
<p>熬膏，另研遠志、菖蒲各三錢，秤二分，和膏化服。</p>
<p>十五日，神識日清，起動飲食睡臥二便皆可，能言四五句矣。細看舌根厚，邊紫，滿舌光紅而無苔，舌伸出斜在右邊，故轉掉字眼難清，此乃心包絡間久積之熱瀰漫，以致舌本不靈。此等病證，而能有轉機者，恐非醫藥之力也。余謂和翁素性純孝，至誠感格，孝心能迴天心，信不誣矣。以後起動，必須人在左右扶之，切勿大意。仍仿柔潤調和法，不離去風清熱化痰皆效，古聖賢之法也。</p>
<p>天麻　沙參　羚羊角　當歸　桑葉　菖蒲　生地　連翹　黑豆皮</p>
<p>水煮，兩回服，夜間服膏滋。</p>
<p>二十日，神氣清爽，能說十多句，四音兼備，大有轉機，惟舌紅無苔，伸出舌尖，尚未全正。服原方加山梔。</p>
<p>二十五日，診兩手脈漸和，惟左手稍大而弦，精神日漸健旺。但舌紅猶未起苔，心經之鬱熱未化也。仿加味轉舌膏。</p>
<p>連翹　山梔　黃芩　薄荷　元明粉　大黃　竹葉　防風　桔梗　石菖蒲　犀角　川芎　甘草　柿霜</p>
<p>研末為丸，如桐子大，秤一錢半，煎汁去渣服。</p>
<p>二十七日，據云：扶杖可以自行數十步，舌尖仍斜而未生苔，仍服丸藥。</p>
<p>二十八日，大便通暢，精氣神日見健旺，再能舌尖端正，紅淡生苔，方佳。</p>
<p>停服丸藥，單服膏滋。</p>
<p>七月初二日，清晨往診，左寸獨大，余皆平和，精神步履，較前十日，似乎稍健，舌上紅光，比前亦淡。考各大家方書三十六種，論舌苔者言，舌本乃心之竅，心屬火，熱積於心包絡之間，故火鑠。加以天氣酷暑，邪火相搏，舌紅無苔，實此之由。現喜紅淡即有生苔之象，再進滋養之劑，冀奏全功。</p>
<p>熟地　萸肉　山藥　丹皮　澤瀉　茯苓</p>
<p>水煎兩次服。</p>
<p>釵斛　天麻　麥冬　菊花　沙參　天冬　枳實　白蒺藜</p>
<p>煮三次，取汁。</p>
<p>竹瀝　薑汁　梨汁　蔗汁　柿霜</p>
<p>將前汁同煎，收膏用柿霜，日服二錢。</p>
<p>余雖業岐黃有年，兢兢不敢自信，誠恐用藥不能對證，則貽誤匪淺。近已年逾古稀，猶不敢輕出問世。因廖君孺慕之心，不減古人，不得不代一診。且幸信任不疑，病竟能獲效。此皆得天之佑，以假手於余，余何力之有焉。嗣後冷暖飢飽起動，均要留心，靜養百日，精神筋力復原如舊，方可放心。</p>
<p>如大便一日不出恭，即服丸藥一錢，不必候至第三日，不出恭而再服丸藥，第二日即可服，既出恭，停止勿服。</p>
<p>廖兄和軒，粵東人，余之十餘年友也。突於戊子五月二十九日來寓云：老太太七旬有四，五月二十二日，忽覺項間不舒，夜半遂中風不語，延至二十九日，易醫數人，服藥無效。問及病情，中脘昏悶，神氣不清，口眼喎斜，口中流涎，大便不通。余思易曰：風自火出。諺云：熱極生風。乃知類中風，無有不由心腹中風熱兩作也。仿用吐法導法及下法，轉舌膏等法。至六月初七日，始能出聲，神氣漸清，仍用柔潤息風化痰之法，加減熬膏，日日服之。至二十三日，漸能言語，至十多句，四音亦分，而其舌伸出尚斜未正，舌紅無苔。是心絡中熱熾，無形之火，以灼有形之痰，故舌紅而無苔也。觀河間內火召風之論，用苦泄辛降，吐之下之。余仿其法，易以柔潤甘寒，折其上騰之威，使諸竅清空，濁痰不能矇蔽。此宗經旨，風淫於內，治以甘寒法也。但年高之人，得此大證，尤屬難治。余因和翁孺慕之誠，形於顏色，知侍母至孝，孝且可格天，余敢畏其難而不任其責耶。故盡心推求病源，竭力省察病理，所用之藥，似皆平淡無奇，而竟能對證暗中，定有神佑，殆亦孝感所致也。余第不負孝子之誠，敢謂藥之竊能應手哉，今將脈案方藥錄記，並書數語，以志顛末。</p>
<p>丁亥正月初十日，吳吉甫觀察夫人，產後有病。余追溯十年前，連生女孩，後歇十年未開懷。去年十二月初六日，復產一女，因望子情切，心中憂悶，十日內毫無病痛，至十六日下床，收拾被墊，忽然疲倦，身發寒熱。以上皆劉一翁所治，延至正月初十日，始來招余。余思新產婦人有三病：血虛多汗，喜中風，故令病痙；亡血復汗，故郁胃；亡津液胃燥，故大便難。何等沉重，所以寒熱發後，加之氣鬱痰涎，漸入包絡，產後瘋癲之基已兆，終日神氣恍惚，刻刻怕死，閤眼則諸事纏擾，時生驚恐，不能安靜，大便溏，及欲二便時，亦不自知覺，飲食無味，不寐唇燥，氣逆中脘，是一派心虛痰積火生所致。病延已久，恐難除也。仿麥門冬湯，以降中脘逆氣。</p>
<p>十一日，服麥門冬湯，夜間睡頗安，惟心虛膽怯，時生疑慮。駱龍吉云：疑久生魔。余思產後，一見寒熱，遂即落瘦脫形，狼狽如此，恐其痰入包絡，妄言妄語，將成瘋癲症矣。仿救逆湯合麥門冬湯。</p>
<p>十二日，乍明乍昧，精神恍惚，午後則思慮擾心，顛倒迷亂，驚怕異常，合目則神魂飛揚，夢寐中欲不哭而哭不出，病狀亦難自鳴，諸親友及名醫滿坐，均疑有醋心，不問病理。殊不知產後風狂癲癇驚悸，古書各立有門，以及心疾，似真似假似癲似癇，所論甚詳。余與吉翁相交數十年，敢不盡心，奈一齊人傅，眾楚人咻，議論不一，縱思立方，而左右搖惑者多，亦不能專心，服一人之藥。余察真情，既不能深信，終屬徒勞無功，將有歸咎於余者，余何甘焉。此不得不推手者也。聞後來漸以假成真，雖有方藥，又何敢妄陳耶。</p>
<p>壬辰正月初三日，呂叔梅先生來寓，邀予為方仲仁夫人診病。細詢病情，云由左腿痛起，串至右腿，隨上串右手肩臂五指，肢節腫疼，筋縮如鉤，漸又串及左手肩臂五指，筋縮如右，渾身骨筋孿急，勢是抽搐，著床兩足立緊，人亦不能分動，皮外癢而內疼，日輕夜重。經書風熱勝則痛，濕熱勝則腫，竟成白虎歷節風，疼痛不可屈伸之證矣。經又言：寒鬱其熱。究其病源，素來體胖痰多，大抵虛致邪聚。而尤氏云：此證若非肝腎先虛，則雖有濕氣，未必便入筋骨，況肥人多痰，痰亦濕氣所化，今風寒濕三氣，合而為痹，直入於關節筋骨之中，則四肢牽掣，猶如刀割，病已如此，癱瘓難免矣。視其病之形狀，細揣病理，邪既深入，必須驅之外出。予若以風濕門諸通套藥施之，何異人已入井，而益之以石乎。不得不用猛烈重劑，直入巢穴，希圖有濟，未可知也。仿仲景桂枝白芍知母湯法治之。</p>
<p>麻黃（二錢）　桂枝（四錢）　附子（二錢）　甘草（二錢）　白朮（四錢）　白芍（三錢）　防風（四錢）　知母（四錢）　生薑（四錢）</p>
<p>初四日，昨服原方，渾身疼痛稍松，右手指亦能稍動，惟舌上白苔如雪，咽痛，口中不作干。</p>
<p>初五日，兩手肩背指，稍能伸動，自覺渾身亦稍為輕鬆。</p>
<p>初六日，原方連服三劑，日見鬆動，未添別證，痰吐亦多，夜間始能安神熟睡，惟兩手肩臂彎，痛不能動。此風寒深入於骨髓之中，難於外達，不得不用仲景烏頭湯，以驅筋骨中凝結之風寒。若除之不去，廢疾難免。如錢仲陽為宋之一代名醫，自患痹證，止能移於手足，為之偏廢，不能盡去，可見其為難治也。</p>
<p>麻黃（二錢）　烏頭（二錢）　白芍（四錢）　黃耆（五錢）　知母（四錢）　黃柏（三錢）　炙草（二錢）</p>
<p>本方加桂枝（三錢）　白蜜（四兩）　水三碗，同烏頭煮取汁一碗，去烏頭，另將藥七味，水三碗，煮取汁一碗，納蜜汁中，更煎數沸，約兩碗，分三次服。</p>
<p>初七日，服原方，兩手指肢節，腫脹漸消，渾身骨節疼，大為鬆動，飲食稍為知味，夜間安睡，惟肩臂彎痛些，兩足亦漸鬆動。</p>
<p>初八日，服原方太平。</p>
<p>初十日，原方連服五劑，兩手肩臂指，自能上下，伸縮自如，兩足能反側，惟左腿彎痛些。</p>
<p>十一日，前方連服六劑，兩手肩臂指節，自能伸縮，上下自如，惟兩腿膝彎痛，雖能反側，仍未能如右手大拇指中指，至夜半其筋總有些不便。至早起始能自如，似乎痹痛，又竄至下部矣。</p>
<p>十二日，經言：白虎歷節風證，諸肢節腫疼如虎咬者。載在中風門內。唐後各大家，議論中風大法有四，其四曰：風痹，類中風狀，故名之也。然雖相類，實不相同，而致痹之由，曰風，曰寒，曰濕，互相雜合，非可分屬。痹者，氣閉塞不流通也。或痛癢，或麻痹，或手足緩弱，與痿相類。但痿因血虛火盛，肺焦而成，痹因風寒濕氣侵入而成。又痹為中風之一，但純乎中風，則陽受之。痹兼風寒濕三氣，則陰受之。所以為病便重，其患不易除也。經既言以寒氣勝者為痹痛，又言，凡傷於寒者皆為熱病。觀古人之用藥，自有一定之權衡，如仲景用附子、烏頭，必用於表散藥中，合桂枝、麻黃等藥同用，既發表不遠熱之義。至攻裡，必遵《內經》不遠於寒。可知矣，奈何人有未過此義者。今痹證，兩肩臂手指，均能伸縮，上下自如，惟右手大指中指之筋，似乎夜間總有些須不舒，下部雖能反側，而左腿膝彎筋痛，按右手大指中指，均起病之根基也。遍查痹證，又必以舒筋為主，仿羚羊角散，以治筋，似乎有合經意。</p>
<p>羚羊片（一錢五分）　川芎（一錢五分）　白芍（一錢）　當歸（二錢）　黃耆（二錢）　附子（五分）　防風（六分）　獨活（一錢）　桃仁（四分）　牛膝（一錢）　黃柏（一錢）　生薑（二錢）　苡米（五錢）　煎湯代水</p>
<p>十三日，原方加杜仲、白朮、葳靈仙、桂枝等味。</p>
<p>十四日，查手陽明之筋，起於手大指次指之端，結於腕上，循臂，結於肘，足陽明之筋，起於中二指，結於跗。《內經》曰宗筋主束骨而利機關也。云小便時有些澀痛，是膀胱之氣不化。其右手大指中二指筋攣節痛，渾身上下，痛處均松，獨左腿彎筋痛不減。況病久，氣分已虛，不能不先固正氣，以通膀胱，是先補而後攻之法也。</p>
<p>潞黨參（一錢五分）　白朮（三錢）　木通（二錢）　杜仲（三錢）　白茯苓（三錢）　川續斷（三錢）　陳皮（五分）　獨活（一錢五分）　炙草（五分）　甜枸杞（一錢）　蠶沙（五錢）　煎湯代水</p>
<p>十五日，服原方。</p>
<p>十六日，小便通暢，惟右手三指及左腿彎之筋，入陰分則腫痛些，至陽分則松。經言：風淫未疾。痹在手足，四肢為諸陽之本，本根之地，陽氣先已不用，況周身經絡之末乎。擬烏頭粥合谷味，先從營衛所生之地注力，俾四末之陽，希圖以漸而充，方為病者福兆。</p>
<p>烏頭（研細末，生用）　每用香熟晚米二合，入藥末一錢，同米煮稀粥，不可太稠，下生薑汁一匙，白蜜三匙，攪勻溫啜之為佳。如下部濕重，加苡米末三錢入粥，或將烏頭先用水煮數十沸，去水，再用渣同米煮亦可。</p>
<p>十九日，原方連服三日，上下均見鬆動，惟右手大指中二指，皆未見大松。憶巢氏云：夫風者外司厥陰風木，與少陽相火同居，火發則風生，風生必挾木勢，侮其脾土。故脾氣不行，聚液成痰，流注四末，因成癱瘓。余見世人有此患者，並未見其能愈一人也。仍用仲景烏頭湯，服至廿三日，已能起床行走，右手大指中二指，亦能伸屈自如。惟入陰分時，右手三指，總有點不便，早起伸縮活動矣。</p>
<p>二十四日，服青州白丸子二十粒。</p>
<p>生半夏　生南星　生白附子　生烏頭</p>
<p>共研細末，水浸，日日換水，甘七日取起為丸，如桐子大。</p>
<p>二月初四日，前月二十四日服青州白丸子共十天，其為平安。近複檢閱各家議論，痛痹之證，以臂痛不舉，敘於半身不遂之下，謂風從上入，臂先受之。世俗謂，大指麻者，三年後定然中風，抑知風善行而數變。有熱風寒風之別，風之中人，必從營衛而入，因人之藏府虛實寒熱而變證也。《內經》云：脈微而數。微者指陽之微，數者指風之熾也。所出諸脈，字字皆本陽虛而言。其人必血舍空虛，而氣分熱熾，風之繇來，匪伊朝夕也。經又言：不問其虛，安問其餘，偏枯病陽盛陰不足者有之。歷節證，陽氣痹而不通者尤多。前劉李二公之論，有攻補之別。劉以人稟天賦，本無虧欠，因邪入攪亂其氣而後成病，邪退則正氣自安，故以攻邪為要。李以人之真氣，營養百骸，周於性命，凡真氣失調，少有所虧，則五邪六淫，乘間而入，正復則邪自卻，故以補正為要。二公深得上古聖賢立方之奧妙，明理識證，著書各成名手，蓋遵古人之規矩，對證用藥，當補當攻，調治得宜，自然有效。予用攻衝之法，雖然僥倖獲效，亦是二少奶奶之洪福也。現痹痛已愈，行走如常，而右手大拇指中二指之病，恐不易盡除，以後能於調養真氣，銷去病根，則大妙矣。餘年屆八旬，自問見識短淺，恐不能勝任，或再遍訪高明治之，余之幸也。</p>
<p><u>光緒十八年二月瀨江沈青芝記</u></p>
