<header data-type="book">
<h1>外科學話義</h1>
</header>

<h1>外科心法要訣</h1>
<p>凡看初起之毒看其顏色有暈無暈如有暈分幾色者重症也有頭高起根腳不過一寸者癤也陽毒之小者易治潰膿則愈矣如夜間痛甚不可小視其來雖小其患則大每有變為疽者在背部更宜慎之根腳紅堅有二三寸大者雖高起有頭癰也雖系陽毒其來源深遠難治若腳根散漫平腫無頭日痛輕夜痛重者陰疽也如系紫泡顏色灰暗疔毒也在手足指節平腫無頭無泡者如顏色灰黑脫疽也四邊硬中心軟者將潰之兆也如顏色紅紫與皮平等不腫而痛者紅痰也顏色淡白與皮平等不腫而軟按之痠痛者白痰也皮色如常皮內堅硬如雞卵形圓者惡核也連皮堅硬按之如石皮包如常者石疽也此以上皆初起之看法也</p>
<p>已潰之毒一孔有膿包兜擠之膿出者癰癤也無孔或孔多平爛橫開蔓延根腳散大顏色紫暗者疽也潰如爛柿者痰也翻花起肛口者誤用升丹也顏色由紫轉紅者吉兆也由紅變白灰者欲腐爛也紅腐之外有白色一圍白色之外有灰色一圍者此乃不保身命犯淫念色欲之戒所致也有膿中稀而變稠者順症也有膿由稠而變稀者逆證也山膿而變成水者敗症也用藥當則水變為膿由稀而稠收功自易也用藥不當則稠膿變為稀水收功必難顏色紅活淡若牙齦形如榴子者此名新肉芽收功之象也形若坍塌江岸坡口向里者此將崩潰陷象也形如新漲沙灘坡腳向中攢聚者此將長肉之兆也總之斷無紫暗流水收功之外症若用藥之後色變紫暗灰暗所出清水醫者切宜猛省別求良法方免錯誤此以上皆潰後之看法也</p>

<h1>癰疽分治總綱心法要訣</h1>
<p>癰疽者外症之總名也其小者為癤（大不過一寸之徑）大者為癰（二三）寸大者高起有頭）高起有頭潰膿有包擠之膿出者為癰平腫無頭扁塌不起尖頂潰後平爛橫延者為疽亦有高起如覆杯如小饅首不起尖頂根腳如有繩收束頭上平圓如大圍棋子小豆餅潰後中心深凹四圍起肛口者亦陰疽也癤陽毒也其根淺其來源少易治（內服清涼之劑外用陳昇丹九一丹貼太乙膏萬應膏膿頭出自易收斂此指根腳在一寸徑之內高起尖頂有頭者而言若平而有頭疽也）癰亦陽毒也（根腳堅腫在二三寸以外有頭高起尖頂若平腫不起尖頂雖小亦疽也）根深其來源遠大難治內經有初傳熱中末傳寒中之文故有始實終虛者亦有毒實人虛者有始末皆虛者（未潰已虛既潰更虛脈芤血虛脈澀弱氣血兩虛脈細弱氣虛法當甘補甘溫益氣）有半陰半陽者（濕熱相兼平等治宜平劑內用金鑑正宗活命飲八珍湯等法外用忌疔散擒王散萬應膏等法）有全陽者（如脈數舌宣紅腫有頭和起宜消解潰後防虛宜兼扶正）有陽毒發於陰部位者（如囊癰橫痃魚口痔瘡海底漏騎馬癰大腳內側腹下胸腹等處是也）有兼陰毒而發於陽部位者（如伏兔疽環跳疽等類部位則陽而病則有兼寒濕痰凝氣血凝滯者）疽陰症也有氣血凝滯而發者（如范增因恚忿發疽而死）有淫痰凝結而發者（如紅痰白痰痰核等是也）有氣血不足死氣而發者（如石疽脫營等症是也）（諸書有以紅白辨陰陽虛實分別癰疽治法者然予每見有初起不紅之疽因治不得法而變為紅紫平爛者甚有紫暗灰暗色者彼已經誤治顏色已變將又從何分別乎法當問其初起之顏色形狀以定之蓋白疽誤用涼散之藥冰凝氣血其色必改變紅紫灰暗矣法當用陽和膏或小散陰膏貼之如石疽脫營之症其脈多弦細緊澀按之如引繩如循刀堅而不移往來不利法當內外溫補虛甚用血肉有情填補之法）有介乎癰疽之間實因內症不解發於外而為病移者（其外症形勢介乎不癰不疽之間傳變症候亦不與古人癰疽定論相合必先問其外症未起之前會有他病否但此種病移之外症多由陽明當下不下證傳變而來但有暑熱燥淫之異耳治之之法務在得其內症之根山對症施治除盡病根方愈外亦勿用癰疽古法末藥敷摻之但用溫和膏藥貼護其外慎毋用涼血敗毒提膿之法若外用涼藥遏其內邪外解之勢則綿延難愈橫爛浸淫膿水多稀累月經年杳無痊愈之日矣</p>

<h1>癰疽所發部位分別難治易治論</h1>
<p>癰疽發於大肉間部位不在緊要穴道者易治發於緊耍穴道者難治如伏兔疽環跳疽偏腦疽井泉疽腎俞發肺俞發膏育發心俞發肝俞發膈愈發（即心胞絡俞也）腨腸癰魚口便毒囊癰懸癰腋下核天府雲門核百會疽等類治法稍差每易致命其外仍有由內癰外潰者如肝癰胃癰肺癰腸癰縮腳腸癰或發於背俞或發於腹募皆難治治法稍亂即無痊愈之時夭枉者多矣醫者不可不慎</p>
<p>此外又有一種難治之症雖不致命而治法稍差亦有損傷肢體成廢之患如脛踝生七眼疽脫腳疽手足指生脫疽足心生湧泉疽膝前生犢鼻疽膝後生委中疽皆有令人成廢之患醫者亦不可不慎若在婦人更有乳癰乳核乳□之症乳癰易治乳核宜速消散若潰則難治乳岩則鬱抑之氣所發積久而成如先富後貧氣血虧虛則與石疽脫營之症無異不能化軟消散無形潰即成岩壑之狀每多不治溫補之或有二三收功者醫者不可不知男子橫痃生於胯下名曰疝筋初起如新張弓弦堅硬橫亙於毛莖之側全生集止有角針煮粥一法然有因陰虛而發者藥犯攻伐之品則變成堅硬如脅骨狀惟稱之則消若誤用刀針升降散藥潰即難斂每多殞命此症古書多不載且無補法瑞會經歷治數人用補獲效消化硬骨於無形始信藥當如神醫者貴在善於化裁能於無法之中思得妙法以補古人所未備斯可以為良醫而造福於後世矣大凡癰疽生於足太陽足陽明經穴者其來勢雖小其長大則易以二經氣血俱多一有停滯壅塞最易其來源湧猛故其膨脹力最大法當預防之以針刺其上下青脈管令出血以分消之無使充塞一處則易治矣</p>

<h1>治法總論</h1>
<p>凡治毒初起即歸一人順手醫去自易見效如毒患已久曾經數人治不得法者必須考究其初起何因是何顏色形狀一向所服何藥外用何藥孰效孰不效仔細問明辨清陰陽虛實兼診脈察舌辨清面色吉凶方可著手用藥當分初中末三傳乙異如陽毒初傳宜散熱解毒通經絡以圖消散中傳宜排膿托毒調和氣血以圖逐毒成膿末傳宜溫補外托以圖易於收功若純陰之毒則始終皆宜溫散溫補一切清涼寒凝之藥不可輕投並忌外敷涼藥冰凝氣血致妨消散長肉之功</p>

<h1>刺法開刀論</h1>
<p>凡刺毒必須待膿透熟時方可刺若開刀太早則泄氣反痛甚凡刺毒必辨清有膿無膿如皮色皺黃用手按之隨手而起者有膿按之手起而不復者無膿不可刺重按乃痛膿之深也輕手按之即痛膿之淺也至於開刀手法刀口不嫌闊大深則深開淺則淺開如開魚口便毒背癰臍腹癰等宜淺開之若遇肉厚處宜深開之</p>
<p>開處宜就下勿使兜膿難愈內經有燔針劫針剌以剌大癰膿之深者有劍鋒針以剌深膿三稜針以刺淺用刀不若用針者易於收斂也</p>

<h1>癢痛論</h1>
<p>凡毒癢者有淫癢有風癢有虛癢有血行之癢有長肉之癢初起之毒血行之癢易消潰後之毒長肉之癢易斂初起之痛有實痛有虛痛實痛者風寒淫熱痰血壅滯而作膿也虛痛者日輕夜重氣血虛不勝毒也坐久而痛者血不行也行久而痛者氣血虛也下午痛者血虛也寅時痛者肺氣虛也有薄衣壓之覺重而痛者大虛也</p>

<h1>臭氣論</h1>
<p>陽毒有臭氣常也陰毒有臭氣必流血乃氣血大敗之候多不治陽毒有臭而生蛆者須用生豬油搗寒水石末貼之或用清油調杏仁末塗之海參焙研末摻之</p>

<h1>瘡潰無膿論</h1>
<p>凡瘡口無膿有乾溼二種其干而無膿者有氣血皆虛不能化膿者治宜補托以有脂膏血肉有情之物潤之有風濕寒氣閉塞而無膿者其人必無汗脈緊澀法當用辛甘溫藥小和之有誤服白朮閉塞毒氣而至無膿者四邊必堅硬宜清熱瀉火通經活血涼潤之藥以解之其濕而無腕者（謂有水而無膿）此陽氣虛犯陰濕之氣而然宜四君八珍等湯內服外用溫和膏藥貼摻之（陰疽易犯此弊一經誤治即有水無膿矣）陰疽之干而無膿者止可外用海浮散以引之（散以去油乳沒為之善收瘡口卻能引膿）陽癱無膿而瘡口乾燥者可以生肌玉紅膏外搽以潤之亦宥將愈之時無名膿者縱有膿亦不過黏於膏藥上隨膏而起瘡口現粉紅色則將結長真皮之候收功易在旦夕矣</p>

<h1>胬肉翻花起肛口論</h1>
<p>凡癰癤結核潰後瘡口有胬肉者多因開刀太早或擠膿大早用力過猛以致傷其好肉所致亦有毒將愈時未避風水新肉僵結而成胬肉者需用大力子草膏烏梅膏貼之自可平復翻花起肛口者（謂中心凹四圍起羅圈壙墳起其色有淡紫）有因誤用市上所賣壞升丹而起者有因陰疽誤用癰法治之而起有因過服補澀藥而起有因多上生肌玉紅膏而起如肛口紫硬黑暗乃閉住瘀虛故也陽毒用全生集洞天鮮草膏貼之陰毒用全生集陽和解凝膏貼之即可化軟化平生肌收斂矣惟足大指旁爪甲縫中生甲疽努肉擠出如蟹眼者需以烏梅炭斂之法用烏梅肉煆炭存性退火氣研細乾摻之</p>

<h1>潰後瘡口流血論</h1>
<p>凡癰疽滑後瘡口流血不止者有血敗而流血者有氣血兩虛而流血者皆危候也法當以蒲黃炭烏梅肉炭研細乾摻之或發灰陳棕灰亦可降香灰亦佳惜難得便用須預先藏儲之內服大劑歸脾湯亦有誤針而出血者宜內服托裡散外以明礬枯礬末摻之</p>

<h1>潰後瘡口紫黑紅白論</h1>
<p>癰疽潰後瘡口如變紫黑者無他壤症必是過用鉛粉黃丹所致如而部會用之者長肉之後皮色必黑甚不雅觀故面部尤忌若久患不斂不困丹藥而變為紫黑者敗症也急宜補托宣通氣血令轉紅活外用溫和膏藥貼之亦有因觸汙穢而致者檀香末摻之</p>
<p>濕熱毒發紅腫堅緊按之有指印純濕者皮色不變氣虛者不甚紅紫按之有指印當補中益氣瘡口四圍白色腐肉未盡也四圍紅白相間色如牙齦者將愈之象也</p>

<h1>膿出形色氣味論</h1>
<p>膿出有寶光者順症也膿出無光暗若澱粉稀糊者氣血被毒氣薰灼郁久而出也此項膿必有穢氣膿出黃白成條拉之難斷者吉兆也元氣精血尚旺能勝毒也有挾花紅色有黑如紫血條者但有光潤之色皆順症也氣味重濁陽毒常有陰毒則忌總之膿宜干稠不宜稀薄若流黃水清水或如桐油者輕則成漏生管延綿難愈重則崩陷隨之宜急補托為要故曰得膿者生膿實氣血所化以御毒氣外出者也如內症得汗能排泄邪氣由皮毛管而出同一理也膿稠厚者氣血旺稀薄者氣血衰觀出膿出水則可知其症之難易吉凶矣</p>

<h1>化管去多骨鎮久漏法論</h1>
<p>瘡本無管因不自重生命遺精滑泄等弊秋金燥氣襲入瘡孔之中致膿老成管或一孔或二三孔如有管孔之四圍必有白線圈隱見於紅肉之中此方是有管之的確證據如無白線圈難久漏之孔亦不得以有管目之但補漏可耳古法如降丹線三品一條槍等法皆不可用因此藥陳者難得人不堪其痛苦瑞會親見嘆人誤用此法因疼痛不止因而抖戰全身震動而死者故引以為戒別求良法以治之冶用鼻涕蟲身上稠黏涎用熟石膏末漉蟲上然後用筋刮之刮下乘其潮潤用人發染之染白懸而陰乾之收藏待用遇有管之證先以發通之探其深淺如其分寸剪染過白髮插入管中則人不覺痛而管自化為膿從孔中出矣此涎有腐爛性紙布等物著涎則易腐爛瑞故因而用之有效去多骨亦以此涎干之為末乾摻之深者以自來風吹入如難化難入加豆秸灰少許甚效豆秸灰有腐物刺激性多用則痛然其性易過解之易耳得膿水流出則痛止矣陳者尤佳此法較穩於古法也古有用蜣螂炭去管去多骨者然亦有疼痛之患當預藏儲以特勿臨時煆炭乃可用之但收藏待用須加冰麝少許否則生蟲而無用矣一方用蜣螂炭一錢乾薑末五分配合研細如飛面收貯待用名曰推車散去管推多骨皆可用之瘡孔久不合者為漏孔加其人飲食操作如常此必由病移而發留此一孔以出病氣者也不必補之補塞之後反不能食雖漏無妨如其人面色白潔或色妖豔或無血色精神困憊飲食少進不補必將成瘵症矣法當用炮透山甲研極細末每服一方寸匙鰥魚羹下若在下部海底者兼用豬腰湯下海底漏更加龜鹿二仙膠烊化服此乃任督交接之所非此不補用二膠補任督使內氣充足由內長至外較之但補其外者功效雖緩而無崩潰反復之變故補塞其外不若先補塞其內者之穩固也古有金棗丹一法用紅棗去核實以紅信陰陽瓦焙煙盡存性悶熄去火氣收貯聽用填塞久漏之孔有效惟海底至陰之地未敢輕易一試也</p>

<h1>生肌長肉有干長濕長二法論</h1>
<p>干長者不貼膏藥但以末藥乾摻之令其結痂痂落自愈但此痂必聽其自落如被衣物撓絆內未收干則必須重長再結痂矣此干長一法於不可貼膏處用之如耳鼻竅內及呆肉之上可以收功若在活肉有折紋不時伸縮運動之處則斷斷不能收結矣於是有濕長一法凡活肉有橫紋之處非淫長不能收功濕長者用膏藥貼之貼至紅肉生白皮嫩白皮變成與各處皮色一樣然後去之則無疤痕形跡矣今世俗之人謬謂貼膏藥有疤痕破象不肯貼者實非貼膏藥之故乃去膏藥太早之故也去膏藥太早仍需結痂干長若再損壞碰去其痂重結則必有不滿之處而疤痕成矣瑞故謂干長不如濕長之平復也彼有外症形跡存留者但問其結痂未結痂便知愚見不謬矣彼去膏藥太早以致結痂落痂太早以致不能平復如舊而反歸罪於貼膏藥相習成風以訛傳訛亦中國民智之不開無研究事實之能力也安得為醫者人人能破其惑馬今著論於此亦止有厚望於同學諸君耳</p>

<h1>生肌長肉內托藥有溫補平補滋補三法論</h1>
<p>小毒人實者原無取乎補托若大癰人疽所出之膿水既多雖少壯之人亦必取資於養料況年老衰弱者乎此補托之法不可不急於研究也陽癰之毒生於濕熱火熱血中炭養二氣大多凝聚於一處則生火毒之癰血中淡炭養三氣太多凝聚於一處則發濕熱相兼之陽毒毒既成矣消散已遲於是蒸灼血液變壞筋肉之組織纖維而成膿矣膿成停蓄方瘀積不去新肉不生故須穿潰之膿出則虛身中之白血球變化為赤血球以補其空罅重行組織筋肉纖維以彌縫其缺陷皆白血球之功能也此白血球即中醫所謂之營氣以司經營組織之天功也營氣虧者收功必難此補托之法首重養營也赤血球者衛氣也赤血之中有纖維如透明之肉線所以組織肌肉皮膚經御外侮者也排毒化膿全賴其力而助之者則有淡氣排泄火毒之功能則全仗淡氣也排泄濕熱之毒全仗淡養二氣也中國平補之藥皆取其富於淡養二氣也滋補之藥皆取其富於淡輕二氣者也養氣為少陽身中有形之定質皆養氣為之輕氣為少陰身中有形之流質皆輕氣為之也至於陰疽須用溫補者以淡炭聚於一處變化不速血流太緩凝結而成陰疽溫補之藥富於炭養能發熱力可使血行加速使凝結者速行解散腐敗者速行變化組織速補其缺陷也植物之補品不如動物之捷速植物所含之滋養料與人身之滋養料化合是間接之化合也動物之滋養料與人身之滋養料化合是直接之化合也故中醫有用血肉有情填補之大法人身之滋養料屬於陽者如鐵硫磷鈣養澱粉質所以培補有形之定質發溫度熱力之陽氣者也屬於陰者如蛋清質輕養糖所以補有形之流質以養陰氣者也故陽和湯內用鹿角膠補陽者用鹿茸補氣者用富於澱粉質之人參補血球發溫度者用鐵或用富於鐵質之何首烏補磷質者用鹿角霜補硫磷鈣用血餘炭補蛋清汁者用玉竹雞卵補輕氣用富水素冬地補糖質用甘草皆中醫不言化學而自有暗合化學之妙用也至於外用生肌等法如三仙丹西名汞養輕粉西名汞綠二九一丹即熟石膏臺三仙丹乃陽毒普遍所用之藥而最有效驗者也亦取其培補鈣養使速於變化脫腐生肌耳如山蓮散用鯽魚羊屎牙疳用狗屎豬頤骨補漏用陳年舊琉璃陰疽用狗牙白胡椒陽毒生蛆用豬油爐甘石取艾動物所含鐵硫磷養以增長其肉芽生髮之力耳陰疽用桂附末炮薑炭等外摻之亦增長溫度使速其變化耳其所以外摻亦等於內服者亦以皮肉有吸收外氣之力故得補益之功效等於內服也茲將血肉有情動物補品開列於後</p>
<p>平補氣血補漏攻膿外出鰥魚去血洗淨白水煨之食羹</p>
<p>微溫兼補氣血羊肉湯能化石疽令軟散托膿</p>
<p>滋補氣血體熱者用豬膚湯豬蹄湯豬腰子湯鴨羹燕窩</p>
<p>平補不寒不熱海參雞卵流質</p>
<p>大溫補氣血鹿茸鹿角膠霜</p>
<p>大滋補龜肉湯</p>

<h1>外用生肌長肉藥亦有溫補平補滋補三法論</h1>
<p>滋補之藥如黃蠟膏玉紅膏之尖是也溫補之藥如參茸膏象皮膏等類是也平補之藥如大補延齡膏參蓍膏八珍膏等類是也乾摻之藥如八寶丹平補者也附桂仿溫補者也珠黃散滋補者也此以上皆氣血衰虧久不收口補之以圖速於長肉生肌而免成漏崩陷者也雖然外補終不若內補之功從內補者氣血漸漸生長自內逢外所長之肉皆結實而無崩潰反覆之虞外補者終恐其內氣空虛時或有壅塞崩開之變故治外者必先實其內清其源勿徒塞其流也業瘍科者須三復斯言</p>

<h1>新增內外陰陽互用心法論</h1>
<p>外科正宗金鑑二書方法夾雜多寒熱牽制之方王氏全生集始別陰陽癰疽分治用熱則內外皆熱用寒則內外皆寒近時又有傳治陰疽法內服用溫熱外貼用清涼者瑞因此而悟得一法覺大癰之毒雖屬純陽火毒自內向外而考其來源深遠根深蒂固內速臟腑甚至大熱如火灼紅紫光亮如炙焦口渴脈洪振指有力舌黃起粒熱勢顯然若外用清涼消散解毒之膏藥敷摻是猶車薪杯水非特無濟於事而且有害病重藥輕之故也所用清涼解毒之區區者豈能深透入臟腑哉亦徒遏其火毒外攻之勢反致橫延腠理糜爛臟腑耳法當內用清涼逼火毒速向外達外用溫熱使火毒易於同氣相求如此變化古方而吹為內寒外熱之治收效者累矣彼軌定古法外用癰藥治之者瑞親見其害而絕未見其利也前車之覆後車之鑑瑞故用心省悟而得此法焉敢以公諸同道</p>

<h1>新增平補滋補二心法論</h1>
<p>古外科痘科惟有溫補一法其方多以參耆為君補血惟以歸身鹿膠為主然當火毒方盛之時誤用外科清涼之末藥摻之每有變成腐爛下陷之弊若此時不補則陷者固無由托起補之則熱邪上炕甚有嘔吐呃逆之虞此僅恃參耆歸膠為補藥耳故有兩難之弊參耆甘溫益氣填中助熱在所不免參耆呆滯歸鹿太溫誠不合拍瑞因此思得一法改用動物平補益氣托毒外出則莫若鮮魚羹之最善矣鱓魚蠕動之物靈於參耆可免呆滯之弊且鱓魚之力善攻土戒窟以之補托毒陷之孔雖深不見底者服一二日即可托之使平其效累試累驗誡能有參耆之功而無參者之弊者也至於滋補一法古方惟恃生地熟地等類然遇陰疽之症如服溫補過劑以及體熱陰虛之人補托之功效尚未能全收燥渴之煩熱忽然又現當此之時不補則不能收長肉之功溫補則不敢犯以熱濟熱之忌生地熟地又嫌其呆滯而傷陽枸杞山萸尚恐其藥輕而效緩因思得一法改用血肉有情之動物如龜肉湯海參湯豬腰子湯燕窩湯等類可以滋潤血掖自得以資生絕不寒涼性質無殊於平補陰疽用之無害陽毒通用鹹宜是誠於兩難無法之中增一從權補救之法立功累矣敢告同人</p>

<h1>新增外科禁忌心法要訣</h1>
<p>凡患外症者無論其毒之大小皆切忌遺精滑泄妄動色念犯之重症者立時有崩陷腐爛之尤每多不救雖小毒瘡粒亦必躭延時日而後收功過七日元氣來復方能生肌長肉慎之戒之</p>
<p>凡患外症者無論其毒之大小皆切忌飲酒犯之則氣血泛漲發紅流血復腫復疼之弊蜂起矣不可不慎</p>
<p>凡患毒者忌食五辛以其發散耗根氣血故也疔毒尤忌</p>
<p>上身忠毒切忌用白朮犯之乾燥無膿氣閉作痛委中腨腸生毒切忌用黃耆犯之則足不能伸致成殘廢</p>
<p>傷寒時毒切忌用者術犯之頭項腫大</p>
<p>開口之毒切忌用角針犯之恐有翻花起肛之患面上切忌用黃丹犯之恐有黑癍難去</p>
<p>皮薄肉消之處切忌用升降二丹犯之痛甚易生胬肉</p>
<p>腹部魚口皆空而無骨之處切忌用降丹點頭犯之最易深陷傷膜用甘草黃者切忌炙用犯之動濕熱瘡口最易紅腫浸淫</p>
<p>患瘡癰疽大毒者切忌鬱怒怒則有崩裂之變鬱則氣血凝滯妨礙生肌長肉化腐排托之功凡摻上末藥切忌多少不均法當用蓬筆頭干染於筆毫之上敲之去其多者至敲振落下如微塵式方對瘡口敲之務使敲落之末藥厚蒲平均無過厚不到處方易收效</p>
<p>凡摻上末藥切忌研工不足微點太粗化合不易且有令人疼痛之弊務必研之極細狀若飛面以手指研之覺細膩無物甚於膩粉方易奏功否則粗而無用之質點不能與人身皮肉化臺徒勞皮膚吸收之力而增其痛也</p>
<p>凡貼膏不可太小不可太大需照瘡之形狀大小略加一圍貼於外圈好皮之上則安貼穩固不致移易他處矣切忌時時揭開時時更換反覺徒勞而無益也蓋人身之生肌長肉以及生毛髮鬚眉等件均在子午二時重症日換二次鬚子午二時前一時換之可也當子午二時切忌揭開換膏上藥反致妨礙生長之功</p>
<p>凡用升丹切忌用市間所賣者火力未過必有疼痛翻花起肛之患須自己收藏地下年久者方可乳細收功降丹亦忌新者總之以不用降丹為佳全生集王氏之法無一用之者可見其弊多利少為良醫者所不取也</p>
<p>凡患癰疽初忌食黃魚（又名石首魚）犯之斷難活命內癰疽尤忌雖愈後十年廿年犯之即復發不可不信全生集有終身忌食之說慎之慎之</p>

<h1>外科脈候</h1>
<p>浮數之脈應當發熱反恐寒者癰疽之症若有痛處癰疽所在</p>
<p>洪大之脈血實積熱癰疽洪大病之進也</p>
<p>未潰癰疽不怕洪大已潰癰疽洪大可怕未成膿者洪大可下膿潰之後洪大難醫若兼自利必損其軀</p>
<p>數脈主熱浮表沈里諸脈緊數應當發熱反惡寒者癰疽之症數脈不時必生惡瘡肺脈數者亦必瘡瘍諸瘡洪數必有膿漿</p>
<p>癰疽脈實得此可下初病不忌下之則愈潰久人虛大不相宜咬牙寒戰邪實正虛毒氣攻裡必損其軀瘡口吐沫危在旦夕</p>
<p>滑脈多陽或熱或虛癰疽得此血液有餘未膿可消已潰托裡</p>
<p>散為血虛有表無里洪滑粗散瘡家大忌疼痛煩渴肢體沈重正氣已虛必然難治</p>
<p>長脈有餘陽氣充實傷寒得之自汗而解長而兼緩胃氣之脈癰疽得之是為吉兆</p>
<p>芤主血虛血已化膿已潰得之脈病相應但補其血可保無慮</p>
<p>弦為肝脈弦洪相搏內寒外熱欲發癰疽血已凝結</p>
<p>緊脈主積氣血凝結癰疽得此其痛必劇</p>
<p>短脈主虛氣血不足癰疽脈短壽命必促滋補填補庶幾可續</p>
<p>澀主血虛氣不流通癰疽得此滋補收功</p>
<p>沉脈為陰毒氣在裡癰疽得此其根深遠</p>
<p>遲為虛寒陽氣不足癰疽脈遲陽和補托潰後脈遲溫補自愈</p>
<p>緩脈和平為有胃氣緩而兼長癰疽易治緩而兼短補托為是</p>
<p>弱脈無力滑後不忌氣血兩虛補托是宜</p>
<p>微主真微氣血虛極氣復者生邪勝者死癰疽潰後亦有微脈微而和者將愈之象</p>
<p>細主不足宜細分別浮細而數陰虛內熱遲細而沉必變陰症</p>
<p>虛似谷空軟而無神已潰未潰皆宜八珍補氣補血以保其真</p>
<p>牢脈緊強陰虧之象瘰癧結核必難消散石疽脫營必難收效潰待見之更不必治病脈相反大逆之象</p>
<p>促脈為陽癰腫是宜陰疽見此必是病移</p>
<p>結脈為陰陰疽初結陽癰見之病移可決</p>
<p>當用補托不可妄用攻瀉無待言矣即如浮滑弦洪結促等脈此中最有疑似亦不得以全實論治必須詳審精確或攻或補或溫散或涼瀉庶不致誤齊氏曰瘡瘍之症若不診脈何以知其陰陽勇怯氣血聚散吉凶生死是脈學亦是外科斷不可不深究者也</p>
<p>又曰脈洪而數者實也細微而數者虛也</p>
<p>薛立齋曰癰疽未潰而脈先弱者何以生肌長肉收斂必難非補托得法斷難收效</p>

<h1>外科忌見諸症</h1>
<p>凡患外症者最忌飲食不香嘔吐呃逆咬牙寒戰抽搐手指蠕動妄言妄見大汗不止煩躁口渴瘡口如蟹吐沫膿潰之後將生肌之時忽發寒熱瘡口忽然流血舌短神糊有一必非吉兆右外科脈二十二種大凡微弱虛細遲緩短澀者必氣血皆虛精神不足俱以上忌見諸症共十五種見有一二樣即難存活醫者不可不慎</p>

<h1>外症部位所屬經絡論</h1>
<p>凡毒見於背中行與胸部者屬督脈見於背之兩傍離脊椎中行一二寸者屬足太陽經見於鬢之兩旁及耳前耳後者屬手足少陽經見於眉際者屬手足太陽經見於頤頓繞口者屬手足陽明經見於腮領屬手陽明經見於顴屬手太陽經見於巔頂屬督脈與心經見於穿襠者屬督衝任三脈聚會之所見於腿之外側屬足三陽內側屬足三陰見於手背外側上至肩屬手三陽經手心內側白肉屬手三陰見於胸中行屬任脈乳內屬陽明乳外側屬少陽經乳頭屬厥陰肝經逐部推求經絡穴道無誤治療自驗</p>
<p>又腹部屬大腸小腸右脅屬肝臍上心蔽骨下折中之處屬胃中脘乳上三肋間屬肺兩乳內稍下屬心手大指屬肺食指屬大腸中指屬心胞絡無名指屬三焦小指內側屬心外側屬小腸股腿後面腨膕後跟屬膀胱前面外側在大骨之外者屬胃大骨之內者屬肝腿內相併處屬脾腿外側屬膽</p>
<p>又五臟六腑之俞穴在背膜穴在胸腹若有毒發本臟之癰疽也喜其外潰亦有內潰者皆可治愈所忌畏者又不外潰又不內潰而潰於腠理層次之中者必致周身癰腫而死百無一活</p>
<p>今以背俞言之背上三椎下兩旁各開一寸半者肺之前也五椎下兩旁各開寸半者心之前也四椎下兩旁各開寸半者厥陰心胞絡之前也七椎下兩旁各開寸半者血之所會名曰鬲俞亦心胞絡之前也九椎下兩旁各開寸半者肝之前也十椎下兩旁各開寸半者膽之前也十一椎下兩旁各開寸半者脾之前也十二椎下兩旁各開寸半者胃之前也十三椎下兩旁各開寸半者三焦之前也十四椎下兩旁各開寸半者腎之前也十六椎下兩旁各開寸半者大腸之俞也十八椎下兩旁各開寸半者小腸之前也十九椎下兩旁各開寸半者膀胱之前也諸前云者即轉輸之輸輸送紫血中之炭氣外出之所也古時字尚未多故以前作輸古書借用之字如此類者甚多四書五經之中多用假借之字不可不知凡見毒之起點起於何穴即知何臟何腑所發對症施治經絡臟腑無誤自易奏功若已長大蔓延數穴者有之又當以其中心點論穴方能有效</p>
<p>再論胸腹之各募穴乳上三肋間陷中去胸中行各六寸穴名中府又名膺俞肺之募也心蔽骨下一寸穴名巨闕心之募也人字骨下心蔽骨尖穴名鳩尾膏肓之原心胞絡之募也直乳下一寸半二肋骨間再橫量間乳外一寸半穴名期門肝之募也季助端肘尖盡處穴名章門脾之募也季肋下盡處帶脈上一寸八分去臍中行七寸半穴名京門腎之募也腋下三寸復向前一寸三肋端去心蔽骨七寸五分穴名神光亦名輒筋膽之募也陽明胃經挾臍下行行至當臍中心兩旁各開二寸陷中穴名天樞又名（長溪谷門）魂魄之舍大腸之募也心蔽骨下臍心之上折中之處穴名中脘胃之募也臍心下一寸穴名陰交又名橫戶當衝任少陰之會三焦之募也臍下二寸穴名石鬥又名丹田命門亦三焦之募也禁針灸犯之絕孕臍下三寸穴名關元小腸之募也禁針針之墮胎以三陰任脈之會也臍下四寸穴名中極又名氣原（玉泉）亦三陰任脈之會膀胱之募也諸募云者即募化之募取資養之料由此吸收赤血管內之養汁由此吸入各臟腑以榮養臟腑諸組織者也凡見毒之初起占於何穴即知何臟何腑所發對症施治認辨無誤自易見功但恐醫者不明經絡穴道耳</p>
<p>以上部位經絡穴道皆見於銅人針灸諸書此實中國古時生理剖解之學術為醫者必需之元索也無如今之業醫者教者學者皆不以此學術為重以為不習針灸科可以不學殊不知醫者本源根本之學在此無論內外各科皆不可不熟習於心者也今中醫腐敗達於極者皆以此等根本之學尚末會研究之故耳本源夫清其梳必亂無怪動手便鉻貽笑於人而諸書考究穴法者亦祗有散見於各經絡而無總會之明文其所指之部位取定穴道之法又不言簡而易明瑞欲力矯時弊故將諸家考正之語磨練簡潔而明白易於記憶又將五臟六腑十二經之俞募各穴匯聚於一篇誠為後學之津粱可以收事半功倍之效若精於針灸之術者原可無需瑞另費筆墨矣</p>

<h1>外症對經用藥論</h1>
<p>手太陰肺經各部位用桔梗薄荷升麻白芷蔥白為引經之藥平和取桔梗涼散取薄荷溫敬取白芷升麻蔥白收斂用五味子訶子內補用北沙參潞黨參潤用麥冬玉竹</p>
<p>手陽明大腸經各部位用葛根白芷升麻石膏為引經平和用葛根溫散用升麻白芷涼散用石膏瀉熱用大黃（須酒炒）涼血用槐芩地榆</p>
<p>足陽明胃經各部位用藥同手陽明涼血用知母側柏葉潤用玉竹生甘草稱用潞黨生黃耆</p>
<p>足太陰脾經各部位用升麻桂枝為引經補脾陰用酒炒杭白芍山藥補脾陽用甘草乾姜運脾化痰去飲用桂枝茯苓陳皮半夏神麯</p>
<p>手少陰心經各部位用石菖蒲川黃連細辛為引經平和用石菖蒲涼瀉用川連蓮子心連翹溫遍溫散用細辛敗火毒用犀角牛黃燈心竹葉敗濕毒用川黃連黃芩黃柏（皆酒炒）補用硃砂阿膠雞子黃濕補用龍眼肉酸棗仁（炒香）</p>
<p>手厥陰心胞絡用藥同心經亦可與厥陰肝經參用</p>
<p>手少陽三焦經各部位用青蒿佩蘭梗柴胡黃芩山梔丹皮赤芍地骨皮上部上行柴胡青蒿下部下行蘭青皮涼用梔芩丹芍溫用故紙胡桃蓯蓉</p>
<p>足少陽膽經各部位上行用柴胡下行用青皮寒瀉用龍膽草溫補用芎當歸酸棗仁山萸肉</p>
<p>足厥陰肝經各部位上行用柴胡下行用青皮和解鬱抑用制香附溫補用川芎歸身酸棗仁涼瀉用羚羊角杭白芍丹皮青果</p>
<p>足少陰腎經各部位溫用羌活獨活附子細辛肉桂涼用地骨皮細生地犀角敗龜板知母用黃柏補用豬腰子羊腎海參瀉用木通澤瀉</p>
<p>足太陽膀胱經各部位大致同腎經但上達巔項用石菖蒲藁本羌活下達腰際用杜仲牛膝木瓜</p>
<p>手太陽小腸經各部位溫用藁木羌活蔥白寒用細木通赤苓滑石黃芩督脈各部位溫用鹿茸鹿角膠霜寒用豬脊□大黃</p>
<p>任脈各部位溫用小茴香甘草梢寒用敗龜板龜膠頭部宜加藁本石菖蒲項部宜加白芷　胸部宜加橘絡桔梗脅部宜加制香附橘絡青皮柴胡金橘葉腰部宜加杜仲桑寄生手部宜加桂枝手指宜加桂枝尖忍冬藤腹部宜加橘絡制乳香制沒藥足部宜加牛膝木瓜皆宜少用一錢以為投使引經之用合陽陰二毒之治法者重用不合者亦少用幾分以芍入病所神而明之存乎其人</p>
<p>此篇若深於研究藥物之性者原可不必另費筆墨無如後學未會深究今欲其速成不可不標明其大概也</p>
<p>以上皆外科各門通用之法且活潑靈便無膠柱鼓瑟之弊學者誠能融會於心辨症用藥自可得心應手此下則各專門之治法此症之法不可以移治他症有故曰專門如疔瘡梅瘡疥瘡火丹牙疳下疳瘰癧結核骨槽風陽癰陰疽喉症痘毒癬癩等類皆有專門秘訣專門經驗之學術者也茲特條分縷晰羅列各門以饗後者</p>

<h1>疔瘡總論</h1>
<p>疔毒乃外科迅速之症倘治之不急多致不救疔者言其狀如鐵釘之在肉腠其形雖小其根則深其患則大其走散膨脹之力殺人最速其瘡最惡其毒最烈皆由於恣食膏粱厚味積熱而成或感中蛇蟲及疫死牲畜之毒所致毒有深淺之殊部位形色尤有緩急之別凡疔毒所發有二種類一為火毒獨發一為兼火兼濕而發單火毒者色紅心黑濕火兼氣所發者紫暗灰色有泡其發於手足少陰經穴者極重兩厥陰兩陽明經穴者次之加少衝穴湧泉穴大敦穴勞宮穴等處皆有紅絲人中虎口眉心顴骨口角凡陽明經過之處皆易散大若不指明分別之法恐人多疏忽貽誤為害不小生頭項胸背者最急生手足骨節者稍緩一疔之外別生小瘡名曰應候四圍赤腫而不散漫者名曰護楊四旁多生小瘡者名曰滿天星有此三種者勢緩無此三種者勢急又看初起時至三五日間由白色而至青紫色疔頭潰膿似蜂窩內無七惡等症為順若初起之時似疔非疔灰色頂陷形如魚臍青紫黑泡軟陷無膿內見七惡等症為逆此辦疔之大略也總之凡患疔毒貴乎早治內忌服辛熱之藥恐反助其毒勢也外面忌敷寒涼之藥恐其逼毒內攻也膏藥不宜早貼需在將潰已漬之時貼之取其呼膿長肉以御風寒壓力棘刺而已初潰忌用生肌藥恐毒氣未盡反增潰爛之痛苦也潰後不宜補早雖見其虛亦只可平補而已尤須斟酌忌食姜酒椒辛雞魚鵝羊牛馬海參葷腥辛辣煎炒油膩生冷楮肉等發物切戒氣怒房勞臭穢行經婦女等項犯之必至反覆綿纏難愈慎之慎之</p>

<h1>五疔分別診斷法</h1>
<p>五疔者即心肝脾肺腎五臟所發之毒也一曰火滔疔多生於唇口及手掌心指節間少衝勞宮中衝等穴初起止一點紅黃小泡癢痛麻木甚則寒熱交作頭暈眼花心煩發燥言語昏瞶此屬心經之火毒而成也二曰紫燕疔多生手足骨節及腰脅筋骨之間大敦穴之毛際生者且痛最劇初生便作紫泡次日即破流血水串筋爛骨疼痛苦楚備至重則眼紅目昧指甲純青舌強神昏睡語驚惕此屬肝經之火毒而成也三日黃鼓疔多生於口角腮頰眼胞上下及太陽正面之處初生止一黃泡光亮明潤四圍紅色纏繞如牛痘之灌滿稠漿發時便作麻癢繃急硬強似鐵重則噁心嘔吐肢體木痛寒熱煩渴此脾經之火毒而成也四曰白疔多生於鼻孔及兩手臂膊之處及太陰肺經所過之地初生僅一白泡頂硬根突麻癢疼痛破流脂水易腐易陷重則腮腫咽焦咳吐痰涎鼻掀氣急等症皆見此屬肺臟火毒而成他（治法同鼻疔）五曰黑黶疔多生耳竅牙縫之間及胸腹腰腎偏僻之軟肉腳心等處初起僅生一黑癍小泡紫暗色毒串皮膚漸攻肌肉則頑硬如釘痛徹骨髓重則手足青紫驚悸沉困軟陷而成深孔目睛透露此屬腎臟火毒而成也治法同耳疔</p>

<h1>紅絲疔治法</h1>
<p>此疔多生於手足諸骨節間及跗踝掌背之處初起形如小瘡漸生紅絲紅線紅氣如帶上攻手膊腿膝寒熱交作品則噁心嘔吐遲治必攻至心腹不可救矣急尋紅絲盡處用針挑斷出血再將初起瘡粒上亦挑破出血即用蟾酥丸擦入以萬應膏蓋之如輕者用拔疔散搽之亦可內服黃連解毒湯加生大黃一錢五分蔥白五個煎服再將頭上發中尋覓見有紅髮一根即行拔去以絕其根株免致貽患</p>

<h1>羊毛疔治法</h1>
<p>初起惡寒發熱狀似傷寒當看其前心後心起有紫黑癍點或如疹子者急用針挑破刮出如羊毛方是疔苗前心後心共挑數處用黑蕎麥研末塗之內服五味消毒飲取汗解次服化疔內消散輕者外用拔疔法重者再用疔毒內治要訣各方選用又羊毛疔急救法初起一小黑點其跡頗微內有長毛數莖即發寒熱心中極不好過煩燥懊憹其毒最易攻心往往一暈而死其現症之初頗似傷寒若誤投發散之藥即無救矣慎之慎之治法用磨亮銅鏡一面放胸口撲打三四下即取豎起即有長毛二三莖隨鏡光而出即可愈矣如不得銅鏡仍有一法可用酒罈上泥頭如無即用黃泥亦可用酒和泥令乾濕得所以不沾手為是搓成團如雞蛋式將泥蛋在胸口上滾擦往來數次其毛即隨泥滾帶而出剝開泥團看有毛再滾數次以毛盡為度再用紫花地丁草一兩水煎服渣敷患處</p>

<h1>魚臍疔治法</h1>
<p>其症四而發赤中央黑色取絲瓜葉連須蔥韭菜等分同入石缽內研爛取汁熱酒和服以渣敷貼患處如疔在左手貼左腋下在右手貼右腋下疔在在腳貼左胯疔在右腳貼右胯疔在中貼心臍用帛縛住候肉下紅線處皆白則毒散矣如有潮熱亦用此法須令人抱住恐其顛倒則難救矣</p>
<p>又魚臍疔黑皮已破黃水流出四圍浮漿用蛇退燒灰存性研細雞子清調敷極效又法用銀硃和為丸如芡實大每服一丸溫酒下</p>

<h1>血疔治法</h1>
<p>凡疔瘡血出不止者此為血疔用真生麻油一杯服下即止外用百草霜黑魚鱗各一錢焙研末以摻之或黑魚鱗三片貼之</p>

<h1>蛇頭疔治法</h1>
<p>生十指頭用小泥鰍一條或蝣蜒蟲搗爛敷之又白芨研細末一錢蟾蜍三分和均用雞子清調塗之</p>

<h1>暗疔治法</h1>
<p>未發之先腋下忽然腫硬散漫無頭次腫及陰囊睪丸突兀狀如筋頭身發寒熱筋脈拘急腫處焮痛此暗疔也治法忌用針灸先以蟾酥丸會化令盡以冷水漱去毒涎再用三粒以蔥白三寸嚼爛里之黃酒送蓋被取汗如無汗飲熱酒催之若仍無汗出系毒熱結消急州霹靂火法取大石子火土煆紅放桶中以酷淬之將患處覆桶上厚衣密蓋薰之勿令泄氣熱氣微再加添燒紅石子加酷淬之務使熱氣薰蒸至汗出其毒減半再用大黃一兩白芷三錢共研細末為丸每服三四錢蔥頭三個酒煎作湯送下蓋被取汗大便行通其毒即解內疔治法</p>
<p>先發寒熱漸次腹痛數日間忽有一塊腫起如積聚痞抉者是內疔也治法同暗疔</p>
<p>凡暗內二疔人所易忽本屬難辨慎勿誤作傷寒雜病治之若遇初起時即牙關緊閉者急用蟾酥丸三五粒蔥白煎湯研化丸藥徐徐灌之凡人暴死者多是暗疔內疔之火毒使然宜急取燈遍照暴死之身若有小瘡一點即是其毒所在宜急灸之急以奪命丹或蟾酥丸研化水調灌之亦有復甦者再照前法以清解餘毒</p>

<h1>附錄千金方載疔毒十三種</h1>
<p>一曰麻子疔肉上起頭大如黍米色稍黑四邊微赤多癢忌食麻子衣麻布衣及入麻田中行</p>
<p>二曰石疔其狀皮肉相連色烏黑形如黑豆硬甚刺之不入肉內陰微疼忌瓦礫磚石之屬</p>
<p>三曰雄疔其狀皰頭黑似螺黶四畔仰中心窩瘡皰漿起脹潰有黃水出孔大如錢孔形高忌房事</p>
<p>四曰雌疔其狀瘡頭稍黃向里黶亦似灸瘡四畔起漿皰心凹色赤大如錢孔忌房事</p>
<p>五曰火疔其狀如湯火燒灼瘡頭黑黶四邊有漿皰又如赤粟米忌火灸爍</p>
<p>六曰爛疔其狀色稍黑有白斑瘡潰有膿水流出瘡形大小如匙面忌沸熱食爛臭物</p>
<p>七曰三十六疔其狀頭黑浮起形如黑豆四畔起大赤色今日生一明日生二至三日則生三乃至十數若滿三十六數則非藥所能治矣如未滿三十六數者尚可治俗名黑皰忌嗔怒蓄積愁恨</p>
<p>八曰蛇眼疔其狀瘡頭黑皮上浮形如小豆狀似蛇眼體硬忌惡眼人看之並妒嫉人見及毒藥</p>
<p>九曰鹽膚疔其狀大如匙面四邊皆赤有黑粟粒起忌鹹食</p>
<p>十曰水洗疔其狀大如錢形或如錢孔大瘡頭白里黑黶汁出中硬忌飲漿水洗浴渡河</p>
<p>十一曰刀鐮疔其狀瘡形如韭菜長一可左側肉黑如燒灼忌鐵器刀針刺之可以藥治之</p>
<p>十二曰浮漚疔其狀瘡體曲圓少許不合良而狹如韭菜內大黃外黑黑處刺之不痛黃處刺之則痛</p>
<p>十三曰牛□疔其狀肉皰起掐不破</p>
<p>右十三種疔瘡初起先癢後痛先寒後熱熱定則寒多四肢沉重頭痛心驚眼花若太重則嘔逆嘔逆者難治其麻子疔一種始末惟癢所錄忌者不可觸犯如觸犯者即雖救治其浮漚疔牛□疔二種無所禁忌縱不療治亦不能殺人其狀寒熱與諸疔同皆以此方治之萬不失一欲知觸犯與否但見脊強瘡痛不可忍者即是觸犯之證據也</p>

<h1>治十三種疔方</h1>
<p>以春三月上建日採枸杞貢葉夏三月採枸杞枝梗秋三月採枸杞子冬三月採枸杞根皆用四季月上建日如春三月尋辰即用上旬甲辰日為上建夏三月尋未即用六月上旬未日秋三月建戌即用九月上旬戍日冬三月建醜即用十二月丑日上建者亦交切之後第一建日也取苗葉枝梗子根皆暴乾若得五月五日和合大良如不得依法採者但得一種亦可修合用緋絹一片以裹藥取匝為限用亂髮雞子大一團牛黃梧子大一粒反勾棘針二十七枚為末赤小豆七粒為細末先於絹上薄鋪亂髮一層再將牛黃末等鋪發上即卷絹作團以發作繩十字縛之熨斗中急火熱之令沸沸定後自干即刮取搗作末絹篩以一方寸七取枸杞四味末合搗絹篩取二七和合前藥末一七合令相得又分三分每早中晚空腹服一分</p>

<h1>治疔毒通用方齊州榮姥所傳者</h1>
<p>白姜石（一斤）　嫩黃色者牡蠣（九兩）　爛者枸杞根皮（二兩）　鍾乳（二兩）　白石英（一兩）　桔梗（一兩半）　右六味各搗末絹篩之合和令調勻先以伏龍肝九升為末以清酒一斗二升攪令渾渾然然後澄取清者二升和藥捻作餅子大徑六分厚二分其濁滓仍置盆中鋪餅子於籠上以紙一張蓋盆上將籠放盆上以濁酒之氣蒸之仍數數攪盆內濁酒令氣散發經半日藥餅子干乃用瓦壇收貯之一重紙一重藥餅鋪墊好勿令藥餅相連著密以泥封壇口三七日乾後以紙袋貯之干處懸掛之用時以針先剌疔瘡中心深至瘡根並刺瘡之四圍今血出以刀刮取藥餅細末如大豆許納瘡上若病重困者日三夜次一次其輕者日上一二次輕者半日一日即可將疔根爛去重者需二日根始爛出當看瘡浮起是根出之候勿停藥仍上之此藥甚為平穩能令生肌長肉易於平復如其疔瘡在口咽胸腹中者其外必有腫異之相寒熱不快疑是此症即刮藥餅末如二杏仁許以飲或清水和服之日三服夜一服自然消爛或以物剔吐根出即愈若不出亦能自愈當看精神自覺醒悟爽快者便可勿藥</p>
<p>修合此方以五月五日七月七日九月九月臘月臘八日皆可修合如急需用不揀日亦可但不及以上良日所合者之功效神速也</p>
<p>合藥時需清潔焚香不得觸穢汙產婦行經婦女孝子殘廢篤疾五官肢體不全之人及六畜雞犬等物見之為要忌房事豬雞魚牛生蒜蔥蕓薹胡荽酒酣面葵等物若犯諸忌而發動者取枸杞根湯和藥服</p>

<h1>趙氏治疔方</h1>
<p>姜石（二十五兩）　牡蠣（十兩，崔氏方止用七兩）　枸杞根皮（四兩）　茯苓（三兩）　右四味各研末篩和合先取新鮮枸杞根皮切六升水一斗半煎取五升去渣內白狗屎末二升攪命調勻澄取清有和前藥熟搗捻作餅子陰乾聽用遇病者光刮取藥餅末以侍用兩尖針或三稜針當疔頭直刺瘡根瘡痛徹拔出針以刮好藥末塞針孔中拔針出即納藥勿令歇氣並遍封瘡口上瘡起脹後用針挑疔根出重者半日以上即出或已消化無形不出亦愈勿尤其不出也</p>
<p>其疔在內者外當有腫處相應惡寒發熱疑是內疔以水半盞刮取藥餅末如梧桐子大五枚和服之口三服夜一服即自消矣若鬚根出服藥一日即以雞羽剔吐即隨吐而出若不出疔根亦自消爛矣</p>
<p>外疔日敷藥三次根出後仍敷此藥生肌長肉收功若犯諸忌而發者取枸杞根皮切碎三升以水五升煎取二升去渣刮藥末一錢和枸杞汁一盞服之日二三服並單飲枸杞汁兩盞更妙又以枸杞汁攪白狗屎末澄清取汁服之更良所言白狗屎者即狗食骨後消化而出故其屎色白如石灰狀直言狗屎白可也依前法擇日修合者尤有神驗會有一人忽患喉中痛乍寒乍熱有用此藥治之即愈用治癰疽亦效</p>

<h1>治麻子疔犯禁即死方</h1>
<p>用胡麻　燭燼　針砂　各等分為末醋調敷之</p>
<p>又方　州針遍刺四邊及中心塗雄黃末於上可立愈</p>
<p>又方　馬齒莧（二分）　石灰（三分）　二味同搗爛加雞子白和敷之</p>
<p>又方　鐵衣末和人乳汁敷之立愈</p>
<p>又方　以小豆花為末敷之</p>
<p>又方　以人屎尖敷之立愈</p>
<p>又方　以四神丹一枚當頭安上經宿即根出矣（方在第十二卷中錄載於後）</p>

<h1>治一切疔腫方</h1>
<p>取蒼耳根莖苗子但取得一樣即可燒為灰酷泔綻和如泥塗上干即易之不過十度即拔出疔根矣神良余以正觀四年忽口角上生疔求甘子振母為帖藥經旬不愈余得此方塗之得效後常合此藥以救人無不愈者故特記之後世疔腫之方殆有千數皆不及此雖齊州榮姥方亦不勝此以此物造次易得且價廉易於修合也</p>
<p>又方　以面和臘月豬脂封上立愈</p>
<p>又方　取蒺藜子一升燒為灰釅醋和封上經宿便愈或針破頭封之更佳</p>
<p>又方　以艾蒿一擔燒作灰貯於竹筒中淋取汁以一二合和石灰如麵漿以針刺瘡中至痛即以漿點之點三次其根自拔亦大神驗正觀中治得三十餘人皆效故錄之</p>

<h1>治魚臍疔法</h1>
<p>瘡似新火針瘡四邊赤中央黑色用針刺之若不大痛者即殺人方用臘月魚頭灰和發灰等分以雞溏屎和傅上此疔見之甚小而能殺人醫者不可忽略外治方不用發灰但以雞子清和塗</p>
<p>又有一種魚臍疔瘡頭白色似腫而痛不可忍者須先以針刺瘡上四畔作孔搗白苣汁滴入孔中</p>

<h1>治赤根疔方</h1>
<p>用白粉熬黑蜜和塗之良或搗馬牙齒末或燒灰用以臘月豬脂和傳之即可將根拔出</p>

<h1>治犯忌疔瘡方</h1>
<p>用蕪菁根（俗名諸葛菜）鐵鏽　上二味各等分和搗以大針先刺瘡作一孔復削蕪菁根如孔粗細染鐵鏽於根上插入孔中再將所搗者敷上仍以方寸緋帛塗貼之有膿出即換之須臾根出立愈忌油膩生冷醋酒五辛陳臭黏食</p>
<p>又方　燒蛇退灰以雞子清和塗之愈再蛇退如雞子人一圍以水四升煮三四沸去渣頓服之立愈</p>
<p>又方　取蒼耳宙搗汁飲一二升渣傳上即差（以上皆採錄千金方）</p>

<h1>附錄治疔驗方</h1>
<p>取蒼耳梗內之蟲於立秋後五日內提取者史妙不拘多少搗極爛再用土貝母細末看蟲之多少酌量加入再搗如泥令乾濕得所捻為丸如綠豆大臨用捏扁貼疔上外用膏藥蓋貼次日疔根即拔出隨膏藥起矣</p>
<p>又方　用牛糞曬乾研細水調敷疔上其毒即漸消不定入臟腑矣</p>
<p>又方　用陳梅乾（一個）　荔枝肉（一個）　銀硃（一錢）　共搗爛敷之</p>
<p>又方　用陳年糞坑內黑磚數塊帶水磨細末同生甘草湯和服服後大便下黑水即愈</p>

<h1>治疔瘡胬肉凸起者方</h1>
<p>川烏梅肉煆灰存性研末摻之即收</p>

<h1>治疔瘡誤食豬肉走黃者法在不治方</h1>
<p>急搗芭蕉根自然汁服之可救</p>

<h1>治疔瘡走黃急救方</h1>
<p>鄉僻無藥處急取難溏屎塗處可暫保無虞再以藥對症治之或令人飽食飲酒數杯口含涼水向針破疔頭上吮出惡血水溫即吐之再會涼水再吮如此數次至痛癢方止此治疔絕妙之法也</p>

<h1>治疔毒走黃經驗方</h1>
<p>凡患疔毒者加手足暴冷六脈暴絕不省人事者是走黃毒氣攻心閉塞元氣不能宣通也仍宜蟾酥丸汗之再進煎藥</p>
<p>煎方用犀角片（三錢）　羚羊角片（二錢）此二味先煎膿汁再加入桃仁　金銀花　連翹　黑山梔　當歸　生甘草　赤芍（各三錢）　川連（一錢五分）　蘇子　防己（各一錢）　生大黃（一兩）弱者止用八錢入前二味濃什內再煎一沸服服後取下血水或黑紫血者可救如無血者不治</p>

<h1>治疔瘡不破則毒氣內攻方</h1>
<p>其症手足不住煩躁發狂嘔吐欲死急用甘草節綠豆粉硃砂各等分為細末每服三錢開水調下即安</p>
<p>又安　用蟬退研末蜜水調一錢仍以津調和蟬退塗之</p>

<h1>疔瘡內治活法要訣</h1>
<p>五疔雖屬五臟要皆純火之症為多兼濕者少內治之法惟在審其輕重汗之瀉之清之解之消之散之而已但用藥必須從脈從證脈浮數者散之脈沉數者清之下之表裹俱實者解表攻裹兩用之麻木或不痛或大痛不止者宜灸之更兼攻毒不可顛倒混施無太過不信也凡疔瘡初起先宜汗之若誤用他方發汗非徒無益反有走黃之害故惟用蟾酥丸為疔毒之汗劑（見十一卷癰毒諸方）如法取汗汗未透者再以蔥酒催之毒重者可再進一服如得汗後毒氣未盡解惡寒壯熱仍作者五示消毒飲治之方用銀花三錢野菊花蒲公英紫花地相紫背天葵子各一錢五分酒水各半煎服再取汗如發熱口渴便秘脈沉實者黃連解毒湯治之（方見十一卷備用門）加生大黃一錢五分蔥頭五個清之</p>

<h1>疔瘡外治要訣</h1>
<p>書云疔瘡先刺血內毒宜汗瀉禁灸不禁針怕綿不怕鐵又云治疔貴及早汗瀉無顛倒下灸上宜針陰陽須熟曉凡針入綿軟不知痛者為逆證</p>
<p>凡疔生項以上者三陽經受毒忌用灸法初起急用挑疔法令出惡血疔根脫出為妙如項以下生者三陰受毒可用艾灸以殺其勢火日不可灸如灸之不痛亦須針刺出血以蟾酥丸擦之如旁腫頑硬推之不動用針遍刺頑硬處令多出惡血外塗金箍散否則必致定黃</p>
<p>束疔金箍散方治疔瘡針刺後餘毒走散作腫用此圍敷</p>
<p>方用鬱金　白芨　白蘞　白芷　大黃（各五錢）　黃柏綠豆粉（各三錢）　輕粉（五分）共研細末生蜜調如膏厚塗疔腫周圍箍束餘毒頂上插後方</p>

<h1>立馬回疔散（治陽毒生疔走黃）</h1>
<p>乾蟾酥　白丁香　硇砂　輕粉（各一錢）　乳香（六分）　雄黃　硃砂　麝香（各三分）　炙焦蜈蚣（一條）　金頂砒（五分）（鏈法詳丹藥門）共研細末麵糊攔為丸如麥子大先用銀針挑破當頂出血拭乾將丹插入孔內疔自枯爛</p>

<h1>挑疔法</h1>
<p>凡挑頂瘡須用鈹針取其尖鋒平正先要當頭刺開十字口搽上拔疔膏少頃疔必髮長再將鈹針當頂直刺入以到根上好肉知痛為度針入堅硬如鐵者順症也再挑疔根用細毫針或縫衣針取其尖小利便也先山紫黑血再挑至鮮血出務要挑斷疔根以知痛為止隨填入拔疔散土蓋萬應膏過三四時撥出舊藥再換新藥倘藥干無水不作痛者此挑法未能斷疔根也再深挑之不留根必以上藥知痛藥入水流為挑盡也至三四日後瘡頂乾燥再換貼琥珀膏待疔根脫出換九一丹摻之四圍塗黃連膏外蓋貼白膏藥生肌收口無後患矣</p>

<h1>拔疔散方</h1>
<p>（治諸疔針破之後即用此搽之）</p>
<p>用硇砂硃砂各一錢另研細末食鹽白礬各一錢五分研勻放鏽鐵刀上將刀燒紅待鹽礬二味煆枯擇丁日午時合硇砂硃砂鹽礬共研細末研至極細無聲收貯聽用每用時取少許搽疔針孔上</p>

<h1>拔疔餅子（可以拔疔根將疔根除去）</h1>
<p>用萆麻子一粒去油滴乳香一分去油共研細用棗肉泥拌搗成大餅再捏為小餅貼疔上外以膏藥蓋之三四時即將疔根拔出</p>
<p>又方用鰣魚鱗用手刮下不可見水陰乾收貯聽用用時以銀針撥開疔頭將鱗一片貼上以清涼膏藥蓋之過一宿揭開其疔即連根拔出再用九一丹或生肌散收功</p>

<h1>拔疔膏方（治一切疔毒）</h1>
<p>用去油乳香　沒藥　血竭　人言　兒茶　飛淨青黛　蟾酥　象皮　焙燥（各二錢）　麝香（六分）　冰片（四分）共為極細末再乳至無聲用棗肉泥拌和諸細末搗槌千下攔和極均勻然後為丸如芡實大硃砂為衣磁瓶收貯聽用每用時取一丸加蜜少許調均勻如膏塗於疔毒頂孔上以膏蓋之一宿即消如毒盛明日再塗一次如有寒熱口渴等症內服梅花點舌丹數粒取汗無不立效</p>

<h1>拔疔紅膏方</h1>
<p>銀硃（三錢）　水飛曬乾　萆麻仁（二錢）　嫩松香（五錢）　黃丹（一錢）　曬乾輕粉（五分）共搗成膏以銀針挑破疔頭用紅膏一小團安膏藥當破頭處貼之疔即拔出或當貴人畏痛者不挑破亦可並治無名腫毒已成未成已潰未潰皆效</p>
<p>又方　用蜒蝣蟲（五錢）　銀硃（一錢）　雄黃（八分）　冰片（一分）共搗如泥搽患處可立消另以菊葉汁飲之極效</p>

<h1>神驗疔毒回生丸</h1>
<p>雄黃（三錢）　研　大黃（三錢）　研　巴豆（去心皮三錢）　以上三味共和一處用石臼石杵椿搗如泥以飛羅曲陳醋煮糊同藥搗極細極爛為丸如鳳仙子大病重服二十三丸輕者二十一丸再輕者十九丸總以單數為率放舌上熱水送下服後打哎則愈如腹瀉更好待瀉三四次以井花涼水飲一杯則止如病重不省人事將二十三丸用熱水化開從口角邊灌入服後將病人扶起端坐令藥入腹中片刻即便醒蘇至輕者可以不服初服藥時勿飲涼茶涼水生冷涼物恐解藥性不得泄瀉也忌雞魚蔥蒜牛羊犬肉並煎炒堵炙辛熱飲酒房事百日</p>

<h1>治豬嘴疔法論</h1>
<p>姚理堂曰疔瘡一症外利正宗論之最詳以五疔五色分為五臟所發而主方惟一黃連解毒湯在平常之疔未嘗不效獨有一種疔發唇部其唇腫若豬嘴堅硬無膿唇之內外又細粒黃泡無數作寒作熱神氣不定七八日間七惡之證疊見而不救者屢矣晉每見此症醫家但知用黃連解毒湯及犀角地黃湯治之百無一活惟用追疔奪命湯及雄麝湯二方者有救此二方為治此疔之妙藥遵而用之屢見奇效</p>
<p>蟬退　青皮　澤蘭葉　羌活（各一錢）　防風（一錢五分）　黃連（二錢）　細辛（三分）　殭蠶（二錢）　鮮首烏（二錢）　草河車　藕節（各一錢五分）　加蔥姜少許用水煎入酒一杯和服服後蓋被取汗愈加大便閉結者加生大黃二錢</p>

<h1>雄麝湯方</h1>
<p>地丁根即大薊黃花紫花全用洗淨（二線）　白芷　牡蠣　牛蒡子　金銀花　山梔　殭蠶　芥穗　青木香　茜草根以上（各二錢）　甘草（一錢）　用酒水各二碗和煎至一腕去渣再加入雄黃末乳香末各一錢麝香末二分和均服如大使閉結其人體氣壯者再加生大黃二錢芒硝一錢此方孕婦忌服</p>

<h1>奪命丹方</h1>
<p>治疔瘡發背諸大惡症</p>
<p>蟾酥酒化　輕粉　麝香（各五分）　枯礬　寒水石煆　銅綠　乳香　沒藥（各一錢）　硃砂（三錢）　蝸牛（二十個）　諸藥研細末同蝸牛搗成泥加酒糊為丸綠豆大每服二三丸溫酒送下或蔥湯下無論麻本嘔吐昏憒病重者服之立可回生不痛者知痛痛甚者即減痛昏憒者即甦醒嘔吐者即止已成者即潰未成者即消實有奪命之功誠外科之至寶也</p>

<h1>蟾酥丸方</h1>
<p>真蟾酥酒化　輕粉　銅綠　枯礬　寒水石爛　制乳香　制沒藥　雄黃　膽礬（各一錢）　硃砂（三錢）　麝香（七分）　蝸牛（二十一個）各藥研細末同蝸牛搗爛如泥為丸綠豆大每服三丸用蔥白五寸令病人嚼爛吐於掌心男左女右將丸裹於蔥白內吞之熱酒送下蓋被取汗如過一小時無汗意再進一服以熱酒催之修合宜五月五日忌婦人雞犬見之</p>

<h1>黃連解毒湯方</h1>
<p>用黃連　黃芩　黃柏　山梔各等分水煎服</p>

<h1>梅花點舌丹方</h1>
<p>治疔毒陽癰喉齒口舌熱毒及小兒急驚惟陰疽慢驚不可用孕婦忌服</p>
<p>制乳香　制沒藥　真硼砂　明雄　真熊膽　真血竭　葶藶　真沉香　上梅片（各一錢）　當門子　硃砂　犀牛黃（各二錢）　破大珍珠（三錢）　以上共為細末另用真蟾酥二錢以人乳化開和勻搗諸藥末成泥共為五百丸如綠豆大金箔為衣蠟殼封固每用一丸入蔥白內打碎酒送下蓋被取汗三個時辰毒消而愈外敷亦可</p>

<h1>楊梅瘡毒總論</h1>
<p>痘毒自於父母先天相火而生楊梅則因本人後天相火而成中國古時無此二症及漢時馬伏波將軍徵南凱旋時兵士染二症者多始入中國其毒盛行粵省由粵省傳來故又名梅毒曰廣瘡楊梅者以其瘡形似楊梅之顆粒之大故又呼為大瘡今西醫譯名曰花柳毒云有二種一曰軟性又曰慢性一曰硬性又曰急性言其傳染有毒菌二種為傳染之媒介一種微菌形似桿狀有形似球杆亞鈴者此硬性急性之菌也一種微菌形似毫毛或似菜絲者此軟性慢性之菌也其實硬性者即中醫所謂少陽相火火毒一氣所發也軟性者即中醫所謂濕熱相兼兼火兼濕二氣合病也今將瑞二十年經歷之症診斷之法及治法條分於後</p>

<h1>楊梅瘡診斷及治法</h1>
<p>此毒有因宿妓傳染而來者有祖父遺傳而發者有因衣被等物傳染者有因大小便時傳染者其症有因相火一氣不兼濕毒者有因相火熱毒兼挾濕毒者有因妄治妄瀉克伐太過傷及元氣津液精血而成內陷者有因誤服輕粉三仙丹甘汞等劫藥而成結毒者何謂結毒曰梅毒屬陽輕粉三仙丹甘汞等劫藥皆水銀製成水銀屬陰毒之品陰毒陽毒二氣凝結一團清之不可溫之不可故曰結毒楊梅雖重易治結毒雖輕難治其脈數大有力鼓指有相火一氣之火毒也舌苔黃厚而腐顆粒如魚子雖體無完膚易治以增液承氣湯加土茯苓下之其脈數大而軟如綿包者此兼濕氣與相火臺病也宜加苦寒以瀉之苦辛以和陽氣淡滲以通水道其脈芤虛澀者元氣陰血不足也宜先以清補滋益之以防內陷托毒外出其脈弦細而數兼緊澀或勁者恐己誤服輕粉等劫藥陰陽二象並見如有飲食不香筋骨痠痛肌肉麻痹如蟻行瑟瑟之處者必已誤服輕粉甘汞等劫藥而成結毒之症無疑矣治結毒之法惟有用物類相感之理收水銀法而已以輕粉三仙丹甘汞西名各息的皆用水銀製成甘汞者東洋名詞也各息的西洋名也皆用生水銀同石粉製成中國輕粉三仙丹皆用水銀與火硝明礬煆煉而成水銀硝礬三味煆煉而出顏色紅黃故名三仙紅者名曰紅升丹黃者名黃升丹若三味再加食鹽煆煉之其色即白故名曰輕粉若水銀硝礬鹽再加入硫磺煆煉之則顏色正紅名曰銀硃皆水銀之變化而成也中國下流人物多用此四物以為治毒之秘方便稱毒門專科以詐人財物而下愚之人喜友價廉而功效甚速雖遍身破爛七日便可收功竟有明知其害而甘用之者只顧目前之速效罔恤將來之倒發有預筋壞骨之慘禍並能遺傳人種貽禍子孫外孫而以此方漁利者亦必得陰譴懇報之結果我輩殷鑑昭然絕不敢妄用以壞心術慎之戒之良以水銀純陰之性雖火煆煉百次亦能復還原質本性極雖消滅故有隔代楊梅之說父傳子不發子傳孫而復發者蓋其所服之劫藥有輕重故其倒發之期有近遠服之輕者發作之期近服之重者有終身不發發作即死世有暴死之速者心中稍覺難過即死死後身上皮包青白如銀灰色者針之不入即此劫藥毒發所致也所生子女難免遺傳治之之法輕者可愈重者難醫法用開口花椒去子或十四粒或二十匹粒開水送之如吞丸狀次日經出看之花椒合口而下是已服劫藥之憑證也由是每日吞之或三十粒五十粒多寡聽病人自酌服至花椒便出不合口而止外以金針取穴道深內針久留之引水銀氣吸針上徐出針緩緩間日針之取盡水銀氣方止凡服劫藥者牙齦必腫口必流涎一二日其氣深入陽明經可知凡病傳入陽明即不再傳他經用金針取穴之法亦惟有取二陽明經穴而已</p>

<h1>治梅瘡通用陳風解毒湯</h1>
<p>治初起結腫筋骨疼痛</p>
<p>土茯苓（二錢）　白蘚皮　炙焦皂角子　金銀花　防風　木通　木瓜　苡仁（各二錢）　水煎加酒一杯和服血虛者加歸身氣虛者加黃耆</p>

<h1>化毒散</h1>
<p>治遍身破爛臭不可近者兼筋骨疼痛毒氣方盛者</p>
<p>大黃（一兩）　炮山甲　歸尾（各五錢）　炒殭蠶（三錢）　蜈蚣炙焦（一條）共研細末每服二錢酒調送下日三服</p>

<h1>保命敗毒丹</h1>
<p>（治梅毒攻咽喉遍自腫痛潰）</p>
<p>爛浸淫成片臭不可近者用蜒蝣蟲二十條加入白糖搗爛再加青果末拌如泥為丸芡實大每服三丸井水冷和化服無須別用他藥誠有起死回生之功不可輕視</p>
<p>硃砂　明雄　珍珠　琥珀　滴乳石　各等分　冰片少許研細研時先用飛羅面入乳缽中研將乳缽孔隙泥往後入藥乳至極細無聲然後收貯每服一刀圭土茯苓湯下</p>

<h1>八寶聖靈丹</h1>
<p>即於則方加西牛黃犀角尖羚羊角各等分乳細服同前方</p>

<h1>簡易聖靈丹</h1>
<p>治楊梅初起無力服前方者</p>
<p>用羊角核桃殼二味燒灰存性取等分研細末每服一錢五分用酒調下早晚各一服服至四日後毒從大便出如血如膿半月毒盡後量人虛實虛者即以八珍湯調埋以善其後</p>

<h1>金蟾脫殼酒</h1>
<p>用大蝦蟆一隻口內入明雄黃末三錢陳酒五斤共入瓦瓶內封固勿令泄氣隔水煮三炷香取起隨量溫服蓋被取汗避風七日汗衣汗被皆能傳染急取新者換之將汗衣汗被送入長流水中勿遺害於人也</p>

<h1>鵝黃散外治方</h1>
<p>用輕粉　熟石膏　川黃柏各等分加梅片少許乳細無聲收貯聽用用時先以生黑豆　生甘草節各等分煎濃湯去渣先薰後洗洗淨以此散摻之或用麻油調塗之如翻花楊梅再加入明雄末和乳摻之</p>

<h1>鳳退散</h1>
<p>治榻梅下疳潰爛腐臭者</p>
<p>用孵退雞子殼（一錢）　輕紛（四分）　黃丹（一錢）　梅片（三分）共扎極細頻頻乾摻之</p>

<h1>搜毒五虎丹</h1>
<p>用全蠍（三十）　蜈蚣（一條）　斑貓（三個皆去頭足）　露峰房（一個）　蛇退（一條）共煆存性研細末加生大黃末並麵糊和為丸如綠豆大每服一錢五分酒下取下惡物此方能搜剔骨髓筋骱之毒毒重者用之內服以瀉之</p>

<h1>紅棗丸</h1>
<p>紅棗三斤以杉木作柴煮之煮熟剝皮去核收燒過杉本柴桴炭磨細末和棗肉搗均為丸如彈子大每日任意食之不可間斷雖瘡毒滿身或服過輕粉甘汞等劫藥及一切丹石隱藥致成結毒倒發者雖毒穿頂額鼻粱滑爛不已多年不愈者服之大有奇效此至穩至當治楊梅毒第一方也愈後再服一兩月以絕其根忌酷酒辛疏發物半年</p>

<h1>大黃湯</h1>
<p>大黃（一兩）　穿山甲　川厚朴　白芷　大楓子仁　花椒　甘草　各三錢水煎和酒一杯服令毒氣從大便出七日全愈</p>

<h1>鉛壺酒</h1>
<p>治誤服輕粉甘汞等劫藥以治楊梅者收效雖易然其毒引入經絡骨骱或口齒破爛或筋骨痠痛攣縮久而潰爛經年緊月甚至終身不愈致成殘廢者用黑鉛六斤打成壺內盛好燒酒十五斤土茯苓半斤乳香三錢封固</p>
<p>隔水煮一日一夜埋土中七日出火毒早晚隨景量□瓦盆接小便看有如粉出者為念服至筋骨不痛乃止</p>

<h1>疥瘡總論</h1>
<p>疥有三種有乾疥濕疥膿窠之異乾疥顆粒密□隱於皮內摸之棘搔破有血此君火之氣所發也肺胃肝腎心胞血□脈細數沉戮舌質紅治宜清涼血分濕疥粒如珍珠光亮有水濕熱平等者亦有紅盤濕氣獨發者根無紅盤脈緩滑而大治宜甘辛淡法從太陰脾經主治膿窠亦有紅盤者亦有無紅盤亦如上法分別治之其顆粒較大如豆式者則兼陽明胃經肌肉之分其根較深於乾溼二疥矣若大如龍眼如楊梅者則當從楊梅瘡治法如用一掃光合掌丸治之者其效雖速必變他症有瘡愈而變為瘧痢者有變為瘡蠱浮腫者有變為大癰疽者不可不知</p>
<p>其變為瘡蠱者周身浮腫古有蟹黃酒發之之法瘡發腫消而愈但此法遇脈滑而不芤澀者可用若其人陰血已虛脈已變為細數芤澀是熱已傷陰營血己耗豈堪再用此破血之蟹乎蟹為介蟲屬金得燥金之勝氣最足故當西北風起九月菊黃之時則正是蟹肥之候以治濕熱相兼濕熱平等之瘡蠱則誠是有利而無弊若以治火熱之瘡蠱則恐有竭陰之弊茲改用增液承氣湯加薄荷麻黃微辛以開其表不致冰凝內陷足矣瘡發去之</p>
<p>治瘡之法重在治內毋從治其外清其源你徒寒其流也試觀痘瘡重症而能如期收結者以發毒托漿之力也若如治疥瘡之法外用敗毒之藥敷摻遏其毒氣外出之路有能生活者乎今人治瘡但期速效用藥搽洗內服防風通聖散等法往往服數斤延至一年半年不愈者皆坐此弊此無他弊皆毒氣留連肌肉之間不往不來欲外解而不能欲內瀉而不可何也瘡本由表外解之症輕而易愈之物譬如賊臉牆欲遁乃內服通聖散大黃芒硝等藥下之內由六腑而走是將逾牆之賊拖下由內宅開後門使出也其難易平險不待智者而可決矣今之醫瘡者不先以掃清內毒為急務而但令病者忌發物是欲以紙包火掩耳盜鈴欺人欺己之計也今瑞將瑞之心法為後學正告之諸瘡皆由於濕熱醞釀而成也病氣已達於微絲血管真皮假皮之間在表之邪即在表逐之使出則事半而功倍矣古法多雲瘡家忌汗汗之則痙者此汗之之法是專指傷寒太陽症諭汗劑而言若溫熱濕溫門中所用辛平辛涼辛寒辛溫等法則有可以採用者甚多如審其濕重者則藿香正氣散即可以汗之以逐其肌表濕氣若濕熱平等者麻杏石甘湯翹荷湯亦可用活法在人善治溫病者不煩贅述矣或濕熱交重者非煎劑數帖所能勝任則有正治之蟹黃丸法存焉或用蟹煮食或以蟹炸油如弄菜作麵餃食不惟不忌蟹且重賴之以治濕熱初食七日內雖覺瘡重再七日則自然收結亦如痘瘡之如期而愈矣瑞於久瘡不愈皆以此法治之可收計日成功之效陰虛者以海參和食如作菜狀雖多食無害蓋一補一瀉治濕熱不傷陰補陰不助濕一法而兩善備矣</p>
<p>再蟹之一物其涼而燥且富於淡輕三之原質能令濕熱之氣由毛孔而出古人用治瘡蠱大有功效惟其性燥故不宜血虛之人今以補血滋潤之藥配之使燥去濕熱而補其所耗之血去瘀滯汙穢之血而復生新血故治瘡毒無不愈者且愈後無復發之患也其正本清源之法莫過於此但需說明光發後淨之理令病者慷概樂從而後用之以決其疑而堅其信耳</p>

<h1>洗疥瘡諸癬方</h1>
<p>取生烏頭十枚切片煮汁洗之即差出千金方</p>

<h1>治惡瘡烏頭膏</h1>
<p>烏頭　雄黃　川芎　升芎（各五錢）　杏仁（十四枚）　胡粉（一分）　巴豆仁（七枚去皮）　黃柏（五錢）　防己（三分）　黃連（五錢）　松香　亂髮（各如雞子大一團）</p>
<p>右十二味切以豬油三升急煎令亂髮化盡去渣停火待稍冷以乳細珍珠末加入以箸攪之令和勻聽用</p>
<p>用時先以溫酒泔水洗瘡拭乾乃敷之敷過再以赤石脂黃連末乾摻之治諸惡瘡皆有效</p>

<h1>痔瘡總論</h1>
<p>痔瘡之因多由於陰氣不足而後濕熱之毒氣方能乘之不然濕熱為人人多有疾何處不可生瘡而獨入於此至陰之地乎肛前肛後乃任督二脈交會之所肛左肛右乃督脈精道分歧夾走前陰臺一之所又稍外少陰腎與膀胱經所經之地腎氣不虛任督充足者焉得患此患此者皆好色之徒腎氣虧虛任督二脈來源缺乏則濕熱乘虛注之今之人又加洇酒二物為痔瘡之先導此痔病之所由來也其痔瘡亦分三種一曰內痔外面無形可見而生於直腸之內每有膿血自肛門而下二曰外痔生於肛門前後左右甚者環繞肛門孔粒甚多故俗有九頭烏肛之目三曰不內不外半在肛內半在肛外每當便時督脈括約以助司收放則肛門幾撮時則疼痛異常最難忍受者也端當二十五時會親身當此痛苦苟無的確良方以速收其效則必致痛傷胃腑飲食難進故以補腎為主不必治毒但使腎氣足自將毒氣排泄於他處而痔患自可不期愈而自愈瑞親自治驗由己及人罔不應手故敢以公諸同學</p>

<h1>診斷及治法</h1>
<p>凡脈象洪滑而數者易治古方多可採用脈象眩細而澀者難治古方清熱治濕之法多不見功必重用血肉有情填補腎經精血而後有效蓋清熱治濕敗毒之法但能治有餘不能治不足彼既脈已弦細而澀精血不足陰虛之象已顯若再清熱利濕敗毒用苦寒之品未有不竭其陰者陰虛正氣不能排泄正氣不來肋藥藥焉能治病乎反適足以傷人耳脈象如此正虛邪陷可知故必重補其陰使正勝邪卻而後能有效也已潰者固嘗如是而孰知未潰者欲消散之亦莫不如是補之然後能消也愈堅愈硬愈腫大者愈欲補之而後能軟小也此理在初學原不易明晰即身親之而後知學問必須由經歷實驗而後得也凡人九竅中有小肉突出為痔故有耳痔鼻痔牙痔等名不獨肛門一處為痔也凡肛門之痔有數種狀亦不一其未破者曰痔已破之不收功者曰漏故有痔漏並稱者</p>
<p>一肛門生數瘡腫而突出膿潰即散者曰牝痔</p>
<p>一肛門邊突出小肉粒如珠如鼠乳時流血膿者曰牡痔</p>
<p>一肛口顆粒累累且痛且癢者曰脈痔</p>
<p>一肛肉結核有血或發寒熱每遇大便必脫肛者曰腸內痔</p>
<p>一酒醉後即腫痛流血者曰酒痔</p>
<p>一犯走泄後即腫痛流血者曰色痔</p>
<p>一每逢大便後即流血不止者曰血痔</p>
<p>一肛門腫痛遇怒即發者曰氣痔</p>
<p>千金方亦有五痔之名一曰牡痔二曰牝痔三曰脈痔四曰腸痔五曰血痔又有寒溫勞濕氣五種五痔之名遇寒溫勞濕氣五者即發治以蛇退主之牡痔生肉如鼠乳出肛門中妨礙大便以鱉甲主之牝痔從肛門孔中起外腫五六日即潰出膿血以刺蝟皮主之腸痔每大便即挺出久乃縮入以母豬左足懸蹄甲主之脈痔大便時出清血水露蜂房主之五藥各等分研篩極細隨其病加主藥三倍之每早以井花水服送半方寸匕病甚者旦暮服之亦可</p>
<p>凡痔瘡皆禁走泄冷食生魚肉菜等百日愈後亦需禁忌百日方不反覆外用野葛燒灰一刀圭搽之忌食青菜</p>

<h1>通治五痔槐子丸</h1>
<p>槐子　乾漆　吳茱萸根白皮（各四兩）　秦艽　白芷　桂心　黃芩　黃耆　白斂　牡蠣　龍骨　雷丸　丁香　木香　蒺藜　附子（各二兩）</p>
<p>右十六味為末蜜丸梧子大每服二十丸米飲下日三服</p>
<p>又方　桑耳作羹空腹飽食之三日效槐耳亦效</p>
<p>又方　取槐樹根煎水洗浴之</p>
<p>又方　用熊膽塗之</p>
<p>又方　用鼻涕蟲搗和陳京黑塗之</p>
<p>痔瘡癢極不可忍者全蠍不拘多少燒煙薰之</p>
<p>痔瘡痛極不可忍者木鰲子磨汁塗之初覺痛甚少頃即痛止腫消</p>
<p>內痔不出用喚痔散方用草烏細末口津調點肛門上痔即翻出然後乃可用藥摻之</p>
<p>內痔腫痛用豬大腸六兩蚯蚓十餘條同煮融去蚓食腸極效</p>

<h1>枯痔散</h1>
<p>專治內痔大如茶杯形如一菌糞從菌心而出極痛上面如盆四邊高中心凹下如菌根糞後用溫水洗淨以洞天鮮草膏攤如菜碗大中剪圓孔將一邊剪開如小兒所帶圍嘴式套於齒根黐向下貼於菌根四圍好肉上將好肉圍護免沾藥汁用此散二三分以口津調稀用筆圈於菌之四圍菌心凹處即肛門之孔不可沾藥沾則大痛難忍日夜圈二次</p>
<p>方用紅砒放舊瓦上火煆至白煙將盡取起每一料用淨末（一錢）　枯礬（二錢）　真烏枚炭（二錢）　淨硃砂（三分）　共研極細末收貯聽用初用不腫五六日後出臭水水出盡痔即乾枯停藥輕者七八日愈重者半月收功無不神效慎勿以有砒毒而不敢也</p>

<h1>消管丸</h1>
<p>方用苦參（四兩）　酒炒川連（二兩）　當歸蓽澄茄　槐花（各一兩）　五倍子（五錢）　各研細末用小鱉二個約重八九兩者真柿餅四兩二味共爛煮去骨蒂核同前藥末搗為丸如梧子大每早空心服四錢開水送下其管自能退出以上二法乃林屋山人經驗方也</p>

<h1>胎元七味丸</h1>
<p>專治痔漏無論久近通腸不遍腸者皆能除根</p>
<p>方用男孩臍帶三個瓦上焙乾存性陳棕七錢數十年者佳燒灰存性西牛黃三分槐角子五錢肥大者瓦上焙乾存性刺皮三錢酥炙象皮四錢酥炙地榆三錢曬乾共研細末酥油和為丸如麻子若不成丸糯米粥少許即可為丸每服七分開水迭下三日化管止痛七日平滿血清膿止十日除根可不復發真奇方也</p>

<h1>退管丸</h1>
<p>方用　當歸　川連　真象牙末　槐花（各五錢）　川芎　滴乳香（各二錢）　露峰房（一個）　槐樹上者極佳榆樹上者次之煆存性共研細末黃蠟溶化二兩和之為丸如梧子大每早空心服三錢漏蘆煎湯送下至五日漏孔內退出肉管二三指長剪去之再服再出再剪管盡肌生而愈真神方也</p>

<h1>補漏丸</h1>
<p>方用　夏枯草（八兩）　甘草節（四兩）　連翹（四兩去子為末）　金銀花（二斤煎）濃湯法丸每晨空心服三錢淡鹽湯送下初起者一料全愈年久者兩料除根</p>

<h1>還原蛋</h1>
<p>方用白煮雞蛋醮真象牙末空心食之每日二個分二次食之（假象牙不效）有人患痔漏多年服至半月除根</p>

<h1>洗痔方</h1>
<p>用臭梧桐根煎水用瓦罐盛之乘熱先薰後洗數次亦可除根此物葉大如桐而厚上面青黑而光葉背紫色而毛氣味極臊六七月開小紫花簇疊盤纏成叢陰濕處多有之</p>

<h1>外搽痔瘡膏</h1>
<p>方用槐皮　楝實（各五兩）　甘草　白芷（各一兩）　當歸（三兩）　桃仁（六十枚）　赤小豆（二合）各藥搗成粗末以煉成豬油一斤微火煎至白芷黃色去渣再煎成膏摩搽瘡上日二次</p>

<h1>腿面廉瘡論</h1>
<p>凡小腿前面有刀口骨此骨稜上皮薄肉薄如有破爛極難治愈以其上至足三里穴下至下廉條口穴故有廉瘡之名俗名小腿前面骨為廉骨其成瘡之因不一有生小顆粒抓破成瘡者有因生紫泡而成者有因生紫泡長一寸寬如韭菜之刀鐮疔潰後而成者此種極重難治有不因生瘡而被物劃破而成者亦有因撞碰跌打而成者此二種初起無濕熱之毒其因撞碰跌打而成者則有熱血瘀滯凝結切忌用清涼敗毒之藥以致冰凝難愈亦有因內症病而感者如胃病當下不下變為病移生於小腿者此則不可求其速愈愈則胃病而不能食矣當下去病棚瘡則留之以瀉病氣緩緩聽其自然收功不可勉強治之以求速效其因血瘀者但用溫和活血散瘀膏藥貼之不可上藥因藥多不合用故也如用藥則可以浮海散摻之其被物劃破者始則無毒繼則濕熱乘之下注亦綿纏難愈若再誤用提毒升丹此處肉薄之所易於翻花起肛色變紅紫亦有用丹石散者雖愈之後皮色有黑斑用桐油敷者亦有黑斑難退凡患此者切忌久行久立犯之則濕熱隨氣血下注更加難愈此症雖不殺人害命而久患多年者頗不乏人實纏總之症也</p>
<p>此症切忌手抓水燙走泄欲速愈者不可犯之宜忍耐痛癢嚴守禁忌方易收功犯酒色二字者倍加痛苦不可不慎</p>

<h1>白油膏</h1>
<p>專治數十年廉瘡並坐板瘡禿瘡及一切諸瘡久不愈者皆效百發百中真神方也</p>
<p>方用　桐油（二兩）　防風　白芷（各一錢五分）放生油內泡一夜入鍋內慢火熬枯去渣將油再入鍋內熬至欲沸時用熟雞蛋一個去殼放油內炸至深黃色去蛋用油再慎火熬煉待油極明時能照見人鬚眉入白臘六分黃臘四分熔化趕緊用竹紙十餘張乘熱浸油內拖過提起一張一晾晾乾於冷風處令毒火吹盡然後骷之貼上頃刻膿黏滿紙再換再貼如此十餘次數日膿盡肉滿生肌而愈如膿多者再合一料則改用黃臘六分白臘五分不得稍有增減增減則不效</p>

<h1>黃香膏</h1>
<p>治廉瘡如神並治一切癰瘡皆效久不收口亦能成功</p>
<p>方用　松香二斤白水煮透取出放冷水內接洗數十下再煮再洗九次傾於石上待冷取起每用一兩加輕粉三錢銀硃一錢研細白蜜少許煉老成珠加菜油少許其上傾熱攪勻看瘡之小大捏作餅子貼瘡上用綢條縛之一周時取下用滾水泡之搓洗極淨再翻轉貼之周時再取下再洗再貼只段一餅直貼至瘡愈不必更換瘡好之後此餅洗淨收存遇別人患此瘡仍可與貼仍照前洗淨再貼瘡愈仍可洗淨收存再用若一餅醫過三人者此餅更有效驗治過十人其效更速真神奇矣</p>

<h1>夾紙膏</h1>
<p>專治廉瘡</p>
<p>方用　樟腦（三錢）　銅緣（一錢）　用豬板油和藥搗爛如泥以油紙夾之貼患處一二日翻轉貼之三四日膿盡而愈如四日後膿尚未盡再換一貼無不愈者</p>

<h1>治腿足浮腫破爛似廉瘡而非廉瘡者</h1>
<p>方用　生黃豆一把自己將口漱淨嚼爛敷之數日全愈</p>

<h1>治廉瘡浸淫多孔方</h1>
<p>方用　鳳仙草全株廁水洗之</p>

<h1>治人面瘡方</h1>
<p>此瘡生於兩膝或兩肘尖形如入面眼口能動</p>
<p>方用　雷丸（三錢）　輕粉　真茯苓（各一錢）共為細末敷上即愈石室方也</p>
<p>又方　用貝母末敷之亦效</p>
<p>凡患此者必有冤□惡報宜令悔過以贖前愆而後可以治之否則不必傳方也</p>

<h1>禿頭瘡治法</h1>
<p>頭為諸陽之首生瘡雖是熱毒忌用冰凝氣血之涼藥敷摻之其干而無膿者用鳳退散治之</p>

<h1>鳳退散</h1>
<p>方用　□退雜子殼燒灰存性研至極細無聲用麻油搽之</p>

<h1>千層瘡治法</h1>
<p>此亦禿瘡之顯生在頭面愈而復發生生不已故名千層以其白痂如白癩皮也方用橄欖核燒灰和雞蛋油敷極效</p>

<h1>香黃散</h1>
<p>專治瘌藜瘡並治頭面下頦黃水瘡皆效</p>
<p>方用松香二兩研末入蔥管內用線扎定水煮融化取去蔥再研細加黃丹一兩無名異一錢炒宮粉一錢炒輕粉三分炒共為細末香油調搽</p>

<h1>下頦羊鬚瘡治法</h1>
<p>用小紅棗燒枯存性研細麻油調搽甚效或舊棉絮胎髮燒灰麻油調搽皆效</p>

<h1>耳外濕瘡治法</h1>
<p>雞腰膏敷之神效雞腰膏方</p>
<p>方用　大雄雞腰子一對蒸熟去皮枯礬三分頭梅片一分共搗融敷之能治小兒胎毒旋耳瘡禿瘡並治一切濕瘡</p>

<h1>取雞蛋油法</h1>
<p>用煮熟雞蛋干黃入銅鍋廁焦以滾水沃之則油浮於水面取起待冷退火氣聽用</p>

<h1>治陰癢生瘡方</h1>
<p>雌黃礬石（各二分）　麝香（半分）　三味共研細摻之</p>

<h1>男子陰蝕瘡方</h1>
<p>用豬肉煎湯洗漬之用黃柏黃連末塗之</p>

<h1>洗陰下生瘡方</h1>
<p>用地榆黃柏各四兩煎濃湯洗之亦佳</p>

<h1>流火遊丹總論</h1>
<p>此症皮內忽起紅色且瘁且腫焮然如火灼皮內或如熱水淺或如蟲蟻行皆血熱為之也血中炭養成分過多則發此症病氣達於微絲血管而由皮毛而出俗名起火有大頭火蜘蛛火蛇纏火馬蟻火等名俗有用紅紙燃點著收火之法輕者亦有效重者則非符咒所能愈在小兒則名之曰遊丹醫家亦稱之曰流火千金方名之曰丹毒瑞之岳母會起大頭火三次初二次皆以符咒紅紙燃點著收之效愈後十日又起至第三次用符咒紅紙燃點著收之不效復更數人收之亦不效頭面腫大如斗目閉不能開瑞診其脈數大有力振指爰用增液承氣湯下之加地骨皮服至四五劑大黃用至八錢乃出黑糞一大堆如牛屎然後能消腫漸有效驗此症腫極之時惡寒特甚初下僅出稀水加重乃轉溏糞用大黃至八錢黑糞下方有效可見頭面肌肉屬於陽明也</p>
<p>千金方論丹毒一名天火肉中忽有赤如丹塗之色大者如掌甚者遍身有癢有痛且無定色有血丹者肉中腫起癢而且痛微微虛腫如吹狀隱疹起也有雞冠丹者赤色如雞冠色者而腫起大如連錢小者如麻豆粒狀肉上粟粟如雞冠明理一名茱萸丹又有一種水丹者遍身熱起過水濕搏之結丹晃黃赤色如有水在皮中喜著股及陰處此雖小疾不治亦能令人致死治法用</p>

<h1>升麻膏</h1>
<p>方用　升麻　白蘞　漏蘆　連翹　芒硝　黃芩（各二兩）　蛇退　枳實（各三錢）　蒴藋（四兩）　梔子（四十枚）</p>
<p>右十味微搗末水三升浸半日瀘去水以豬油五升煎令水氣盡去滓再熬一滾即成膏以敷治諸丹毒皆用之日三敷之並治一切諸瘡癰疽皆效</p>

<h1>治丹毒單用各藥</h1>
<p>水苔　生蛇退　生地黃　生菘菜　蕓薹葉　護火草　五葉藤　豆葉　浮萍以上但以一味單搗塗之</p>
<p>大黃末　梔子末　黃芩末　芒佾以上但以一味水和塗之</p>
<p>又方用　溝渠中水藻菜搗爛敷丹上厚三分干即易之</p>
<p>又方用　蕓薹菜搗爛厚敷之隨手即消如餘熱未盡再敷三日以絕其根</p>

<h1>五色油丹</h1>
<p>（俗名油腫若犯者多致死不可輕視）</p>
<p>方用牛屎塗之干即易　縛母豬枕之臥片刻效</p>

<h1>赤流丹腫毒方</h1>
<p>方用　榆根白皮細末雞子清和敷之蒲席灰雞清敷之亦可</p>

<h1>治小兒丹毒方</h1>
<p>搗馬齒莧一握取汁飲之渣敷之</p>
<p>又方　濃煮大豆汁塗之良亦無瘢痕</p>
<p>又方　用臘月豬脂和釜下墨敷之干即易之</p>

<h1>治小兒五色丹毒方</h1>
<p>用豬槽下泥敷之干即易之</p>

<h1>治小兒白丹</h1>
<p>用豬屎干之燒灰雞子清和敷之</p>

<h1>治小兒赤丹方</h1>
<p>用蕓薹菜汁服三合渣敷或蕓薹子研開雞清和敷之</p>

<h1>治小兒赤丹斑駁方</h1>
<p>用津唾和胡粉從外向內敷之</p>
<p>又方　用鋼鐵屎研細豬油和敷之</p>
<p>又方　用屋內灰塵和臘月豬脂敷之</p>

<h1>治小兒火丹赤如朱走皮中方</h1>
<p>以醋和豆豉末敷之</p>
<p>又方　以鯉魚血敷之</p>
<p>又方　豬屎水和絞汁服少許良</p>

<h1>治小兒天火丹</h1>
<p>（肉中有赤如丹色者大者如手甚者遍身或痛或癢或腫方）</p>
<p>用赤小豆二升研細末雞子清調如泥敷之干即易之並治一切諸丹毒皆效</p>
<p>又方　用生麻油塗之良</p>

<h1>治小兒透骨火丹方</h1>
<p>（此丹多生於足踝者是能爛肉見骨）</p>
<p>用大蒜搗爛厚敷之</p>

<h1>治小兒殃火丹方</h1>
<p>（此丹生於兩脅及腋下者是）</p>
<p>用伏龍肝細末和油敷之干則易之若入腹及陰以護火草取汁飲之</p>

<h1>治小兒尿灶丹方</h1>
<p>（此丹初從兩股而起及臍間下走入陰龜頭皆赤）</p>
<p>用桑白皮煎水浴之</p>
<p>又方　李根燒灰田中水和敷之</p>

<h1>治小兒朱田火丹方</h1>
<p>（此丹初從背起漸至遍身一日夜即成瘡如棗大正赤色）</p>
<p>用棘根煎汁洗之已成瘡者用赤小豆細末摻之未成者赤小豆末雞子清和敷之凡方中用雞子清者皆取破損雞子完全不破者反不效</p>

<h1>治小兒天灶火丹方</h1>
<p>（此丹從髀間起小兒未滿百日犯行路灶君</p>
<p>則搽下流令陰頭赤腫血出</p>
<p>用伏龍肝細末雞子清和敷日三次</p>

<h1>治小兒野火丹方此丹遍身皆赤</h1>
<p>用青黛和麻油調敷甚效</p>
