<header>
<h1>格式手冊</h1>
</header>

<p>本站文本以語義化HTML記錄，記錄時亦盡可能兼顧人機在各種情況下的檢索。</p>

<h1>通用格式</h1>

<h2>元資料</h2>

<div class="example">
  <p><b>範例：</b></p>
  <pre><code>&lt;header&gt;
&lt;h1&gt;本經疏證&lt;/h1&gt;
&lt;/header&gt;</code></pre>
</div>

<p><code>&lt;header&gt;</code>下的<code>&lt;h1&gt;</code>定義此頁面的主標題。</p>


<h2>其他格式</h2>

<p><code>&lt;ol class="階層列表"&gt;</code>：將以下的巢狀<code>&lt;ol&gt;</code>、<code>&lt;li&gt;</code>輸出如「1.」、「1.1.」、「1.1.1.」、「1.2.」、「2.」……的格式。</p>

<p><code>class="直立"</code>：直書時將英數字直立排版。</p>

<div class="example">
  <p><b>範例：</b></p>
  <pre><code>&lt;span class=&quot;直立&quot;&gt;2020年是不好的一年&lt;/span&gt;</code></pre>
  <p><b>輸出：</b></p>
  <div><span class="直立">2020年是不好的一年</span></div>
</div>

<p><code>class="橫向"</code>：直書時將一段文字橫向排版於一格內。</p>

<div class="example">
  <p><b>範例：</b></p>
  <pre><code>&lt;span class=&quot;橫向&quot;&gt;12.&lt;/span&gt;今天天氣真好</code></pre>
  <p><b>輸出：</b></p>
  <div><span class="橫向">12.</span>今天天氣真好</div>
</div>

<h1>典籍專用格式</h1>

<h2>元資料</h2>

<div class="example">
  <p><b>範例：</b></p>
  <pre><code>&lt;header data-type="book"&gt;
&lt;h1&gt;黃帝內經素問（王冰注）&lt;/h1&gt;
&lt;dl class="元資料"&gt;
&lt;div&gt;&lt;dt&gt;書名&lt;/dt&gt;&lt;dd&gt;黃帝內經素問&lt;/dd&gt;&lt;/div&gt;
&lt;div&gt;&lt;dt&gt;作者&lt;/dt&gt;&lt;dd&gt;&lt;data value="佚名"&gt;作者不詳&lt;/data&gt;，唐·&lt;data value="王冰"&gt;王冰&lt;/data&gt;編注&lt;/dd&gt;&lt;/div&gt;
&lt;div&gt;&lt;dt&gt;朝代&lt;/dt&gt;&lt;dd&gt;戰國至西漢&lt;/dd&gt;&lt;/div&gt;
&lt;div&gt;&lt;dt&gt;年份&lt;/dt&gt;&lt;dd&gt;&lt;data value="-0474/0009"&gt;公元前475年至公元9年&lt;/data&gt;&lt;/dd&gt;&lt;/div&gt;
&lt;div&gt;&lt;dt&gt;品質&lt;/dt&gt;&lt;dd&gt;90%&lt;/dd&gt;&lt;/div&gt;
&lt;div&gt;&lt;dt&gt;字元替換&lt;/dt&gt;&lt;dd&gt;{"内": {"古": "内", "今": "內"}}&lt;/dd&gt;&lt;/div&gt;
&lt;div hidden&gt;&lt;dt&gt;版式&lt;/dt&gt;&lt;dd&gt;今版&lt;/dd&gt;&lt;/div&gt;
&lt;/dl&gt;
&lt;/header&gt;</code></pre>
</div>

<p><code>&lt;header data-type="book"&gt;</code>標示此頁面規格為「book」（典籍），以支援各種典籍專用格式。</p>

<p><code>&lt;dl class="元資料"&gt;...&lt;/dl&gt;</code>定義此典籍的元資料（後設資料），其中以<code>&lt;dt&gt;</code>定義元資料名稱，<code>&lt;dd&gt;</code>定義該名稱對應的元資料值。為排版美觀，原則上會用<code>&lt;div&gt;</code>分組包覆<code>&lt;dt&gt;</code>、<code>&lt;dd&gt;</code>。</p>

<p><code>&lt;dt&gt;</code>或<code>&lt;dd&gt;</code>中可用<code>&lt;data value="..."&gt;...&lt;/data&gt;</code>定義一或多個值。如此例中「作者」的機器解析值為「佚名」、「王冰」。若無<code>&lt;data&gt;</code>則取<code>&lt;dt&gt;</code>或<code>&lt;dd&gt;</code>的文字內容為值，如此例中「書名」的機器解析值為「黃帝內經素問」。</p>

<p>次要的元資料可用<code>&lt;div hidden&gt;</code>隱藏，隱藏的值不會顯示，但不影響機器解析值及實際作用。如此例中的「版式」。</p>

<p>元資料中的「書名」定義此典籍名稱（若不是書可用「篇名」、「名稱」、「標題」定義），若未定義則取<code>&lt;h1&gt;</code>定義的頁面主標題為名。</p>

<p>元資料中的「作者」定義此典籍的作者姓名。機器解析值原則上記錄姓名而不取字號（除非前者失考），例如取「張機」而不取「張仲景」，顯示值可視情況補充字號等常見稱謂。若此書有作者、整理者、校注者等，亦可記錄在此欄。</p>

<p>元資料中的「年份」定義此典籍的年份。機器解析值為ISO 8601年份格式，須為4位數以避免與小時數混淆，可為單值如<code>0275</code>或區間如<code>0173/0990</code>。公元前n年記為1-n，例如<code>0000</code>表示公元前一年。原則上記錄成書年份，若年份失考，可取初刊或作者署名年份代之。</p>

<p>元資料中的「朝代」定義此典籍的朝代。注意朝代須考慮國籍，例如日本人的著作應記錄為日本的朝代，而非中國的朝代。</p>

<p>元資料中的「品質」定義此典籍的<a href="quality.html">品質</a>。</p>

<p>元資料中的「字元替換」使用JSON值。可用非物件值（如<code>null</code>）取消預設值，例如<code>{"，": null}</code>表示取消「，」的預設字元替換；<code>{"，": {"今": null}}</code>表示把「，」設為在今版不顯示（若用<code>""</code>仍會產生空HTML標籤）。</p>


<h2>大綱、段落、縮排</h2>

<p><code>&lt;h1&gt;</code>、<code>&lt;h2&gt;</code>、<code>&lt;h3&gt;</code>、<code>&lt;h4&gt;</code>、<code>&lt;h5&gt;</code>、<code>&lt;h6&gt;</code>：標題，用於產生章節大綱，供瀏覽時產生目錄表及檢索時分割章節。預設今版會格式化，獨立成段且放大、加粗；古版為無格式效果的區塊。</p>

<ul>
  <li><code>&lt;h1 data-rev="今版-元素"&gt;...&lt;/h1&gt;</code>：標題，今版採預設格式化，古版不建立區塊。</li>
  <li><code>&lt;span data-sec="h1"&gt;...&lt;/span&gt;</code>：標題，只產生章節大綱而不格式化。</li>
  <li><code>&lt;h1 data-sec=""&gt;...&lt;/h1&gt;</code>：標題，只格式化而不產生章節大綱。</li>
  <li><code>&lt;span data-sec=&quot;h1&quot; hidden&gt;...&lt;/span&gt;</code>：原文無標題，檢索時加入章節。</li>
  <li><code>&lt;h1&gt;ＡＡＡ&lt;span data-sec&gt;ＸＸＸ&lt;/span&gt;ＢＢＢ&lt;/h1&gt;</code>：內文顯示為「ＡＡＡＸＸＸＢＢＢ」，檢索時章節標題取「ＡＡＡＢＢＢ」。</li>
  <li><code>&lt;span data-sec=&quot;h1&quot; hidden&gt;ＡＡＡＢＢＢＸＸＸ&lt;/span&gt;&lt;h1 data-sec&gt;ＡＡＡＢＢＢ&lt;/h1&gt;</code>：內文顯示為「ＡＡＡＢＢＢ」，檢索時章節標題取「ＡＡＡＢＢＢＸＸＸ」。</li>
</ul>

<p><code>&lt;p&gt;</code>或<code>&lt;div data-sec="p"&gt;</code>：段落，供檢索時分割段落。須巢狀嵌套（如古今版本不同分段方式）時可用<code>&lt;div data-sec="p"&gt;</code>取代<code>&lt;p&gt;</code>，檢索時只分割到最外層段落。預設今版會格式化並與前後段產生適當間距；古版為無格式效果的區塊。</p>

<ul>
  <li><code>&lt;span data-sec="p"&gt;</code>：段落，只用於檢索分段而不格式化。</li>
</ul>

<p><code>&lt;br&gt;</code>：強制換行（例如詩歌）。</p>

<p><code>class="行首對齊"</code></p>

<p><code>class="置中對齊"</code></p>

<p><code>class="行尾對齊"</code></p>

<p><code>class="行首懸浮"</code></p>

<p><code>class="行尾懸浮"</code>：用於在靠上對齊正文的同一行後面有靠下對齊的文字。</p>

<div class="example">
  <p><b>範例：</b></p>
  <pre><code>&lt;div&gt;&lt;!--
--&gt;&lt;h2 data-rev="今版-元素"&gt;鄒潤安先生傳&lt;/h2&gt;&lt;!--
--&gt;&lt;div class="行尾懸浮 首行縮進4字 行尾縮進2字"&gt;同里周儀顥撰&lt;/div&gt;&lt;!--
--&gt;&lt;div class="中止懸浮"&gt;&lt;/div&gt;&lt;!--
--&gt;&lt;/div&gt;</code></pre>
</div>

<p><code>class="中止懸浮"</code></p>

<p><code>class="行寬#字"</code></p>

<p><code>class="縮進#字"</code></p>

<p><code>class="行尾縮進#字"</code></p>

<p><code>class="首行縮進#字"</code></p>

<p><code>class="首行凸出#字"</code></p>


<h2>字元及標點符號</h2>

<p>圓圈狀的漢字「零」用「<code>〇</code>」（U+3007）。</p>

<p>古文漢字間的圓圈斷句，較小的圓圈（約半個字大）用「<code>○</code>」（U+25CB），較大的圓圈（約一個字大）用「<code>◯</code>」（U+25EF）。</p>

<p>古文旁注式句讀直接用現代標點「<code>、</code>」（U+3001）、「<code>，</code>」（U+FF0C）、「<code>．</code>」（U+FF0E）、「<code>。</code>」（U+3002）。並修改元資料「字元替換」以免自動將這些標點標示為今版。</p>

<p>古文用於列舉項目的「一」字型符號，使用漢字的「一」記錄，一般可加上頓號並設定縮進1字及首行凸出1字。</p>

<div class="example">
  <p><b>範例：</b></p>
  <pre><code>&lt;p class="首行凸出1字 縮進1字"&gt;一、ＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸ&lt;/p&gt;
&lt;p class="首行凸出1字 縮進1字"&gt;一、ＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸ&lt;/p&gt;</code></pre>
</div>

<p>現代用於區分外國人姓名的「間隔號」用「<code>·</code>」（U+00B7）。</p>

<p>現代中文破折號用連續兩個「<code>—</code>」（U+2014）；西文破折號（em dash）用一個「<code>—</code>」（U+2014）。</p>

<p>表示數字、日期、時間等連續範圍用連接號（en dash）「<code>–</code>」（U+2013）。</p>

<p>西文連字號（hyphen）用「<code>‐</code>」（U+2010）或用連字暨減號（hyphen-minus）「<code>-</code>」（U+002D）替代。中譯的全形連字暨減號用「<code>－</code>」（U+FF0D）。</p>

<p>現代書名號原則上用「<code>《</code>」、「<code>》</code>」表示書名，「<code>〈</code>」、「<code>〉</code>」表示章節名，例如「《素問》〈上古天真論〉」。可暫時接受用「<code>《</code>」、「<code>》</code>」及間隔號表示書名及章節名，例如「《素問·上古天真論》」。特別講究排版的場合，可用「<code>&lt;cite&gt;</code>」，例如「<cite>素問·上古天真論</cite>」。</p>

<p>現代專名號一般省略，如有特別需要使用時，用「<code>&lt;u&gt;</code>」，例如「<u>張仲景</u>」。</p>


<h2>常見特殊格式</h2>

<p><code>&lt;small class="雙行夾注"&gt;</code>：以一半大小分割為左右兩行書寫的文字，多用於附注或提供次要訊息，日文稱為「分注」或「割注」。</p>

<ul>
  <li>
    <p>基本標示方式如下：</p>
    <div class="example">
      <pre><code>昔在黃帝&lt;small class=&quot;雙行夾注&quot;&gt;有熊國君少典之子姓公孫&lt;/small&gt;生而神靈</code></pre>
    </div>
  </li>
  <li>
    <p>由於技術限制，目前須在內部以<code>&lt;span class="行"&gt;</code>、<code>&lt;span class="右文"&gt;</code>、<code>&lt;span class="左文"&gt;</code>標示每一行及其右半、左半部分才能排版為雙行格式。如有確定的底本可如此進一步標示：</p>
    <div class="example">
      <pre><code>昔在黃帝&lt;small class=&quot;雙行夾注&quot;&gt;&lt;span class=&quot;行&quot;&gt;&lt;span class=&quot;右文&quot;&gt;有熊&lt;/span&gt;&lt;span class=&quot;左文&quot;&gt;國君&lt;/span&gt;&lt;/span&gt;&lt;span class=&quot;行&quot;&gt;&lt;span class=&quot;右文&quot;&gt;少典之子&lt;/span&gt;&lt;span class=&quot;左文&quot;&gt;姓公孫&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/small&gt;生而神靈</code></pre>
    </div>
  </li>
  <li>
    <p>若不便使用語法，可暫時用括號<code>（）</code>記錄：</p>
    <div class="example">
      <pre><code>昔在黃帝（有熊國君少典之子姓公孫）生而神靈</code></pre>
    </div>
  </li>
</ul>

<p><code>&lt;small class="組排小字"&gt;</code>：以一半大小分割為左右兩行並寫兩則訊息的文字。</p>

<ul>
  <li>
    <p>此語法須配合內部<code>&lt;span class="右文"&gt;</code>、<code>&lt;span class="左文"&gt;</code>使用：</p>
    <div class="example">
      <pre><code>祝&lt;small class="組排小字"&gt;&lt;span class="右文"&gt;王小明&lt;/span&gt;&lt;span class="左文"&gt;李如花&lt;/span&gt;&lt;/small&gt;百年好合</code></pre>
    </div>
  </li>
  <li>
    <p>若不便使用語法，可暫時用<code>（ＸＸＸ／ＹＹＹ）</code>的方式記錄：</p>
    <div class="example">
      <pre><code>祝（王小明／李如花）百年好合</code></pre>
    </div>
  </li>
</ul>

<p><code>&lt;small class="靠右小字"&gt;</code>：以一半大小寫於右半行的文字。</p>

<p><code>&lt;small class="靠左小字"&gt;</code>：以一半大小寫於左半行的文字。</p>

<p><code>&lt;small class="略小字"&gt;</code>：較正文略小的文字。</p>

<p><code>&lt;small class="腳注"&gt;</code>：集中顯示在章節末或全書末的腳注。目前暫時呈現為淡藍色方盒並自動加上六角括號。可暫時用六角括號<code>〔〕</code>記錄。</p>

<p><code>&lt;small class="旁注"&gt;</code>：寫在正文旁邊的注文。目前暫時呈現為小字並自動加上白六角括號。可暫時用白六角括號<code>〘〙</code>記錄。</p>
<p><code>&lt;aside class="眉批"&gt;</code>：寫在頁邊空白處的注文。目前暫時呈現為淡藍色方盒。可暫時用白方括號<code>〚〛</code>記錄。</p>

<p><code>&lt;b class="陰文"&gt;</code>：黑底白字。可暫時用黑方頭括號<code>【】</code>記錄。</p>

<p><code>&lt;b class="圓角陰文"&gt;</code>：黑底白字，邊緣為圖弧形。可暫時用黑方頭括號<code>【】</code>記錄。</p>

<p><code>&lt;b class="方外框"&gt;</code>：文字外框。可暫時用白方頭括號<code>〖〗</code>記錄。</p>

<p><code>&lt;b class="圓外框"&gt;</code>：文字外框，邊緣為圖弧形。可暫時用白方頭括號<code>〖〗</code>記錄。</p>

<p><code>&lt;b class="圓圈"&gt;</code>：在一個字外面加上圓圈。可暫時用白方頭括號<code>〖〗</code>記錄。</p>

<p><code>&lt;b class="圓括號"&gt;</code>：字與字之間不佔格的括號。可暫時用白方頭括號<code>〖〗</code>記錄。</p>


<h2>古版與今版處理</h2>

<p><code>&lt;* data-rev="今版"&gt;</code>或<code>&lt;ins&gt;</code>：今版元素，於呈現古版時隱藏。</p>

<p><code>&lt;* data-rev="古版"&gt;</code>或<code>&lt;del&gt;</code>：古版元素，於呈現今版時隱藏。</p>

<p><code>&lt;* data-rev="今版-元素"&gt;</code>：今版才有作用的元素，呈現古版時忽略此元素（但內容仍會顯示）。</p>

<p><code>&lt;* data-rev="古版-元素"&gt;</code>：古版才有作用的元素，呈現今版時忽略此元素（但內容仍會顯示）。</p>

<div class="example">
  <p>此例表示古版時標題「ＸＸＸ」縮排兩個字，今版時不縮排：</p>
  <pre><code>&lt;div class="縮進2字" data-rev="古版-元素"&gt;
&lt;h2&gt;ＸＸＸ&lt;/h2&gt;
&lt;/div&gt;</code></pre>
</div>

<div class="example">
  <p>此例表示在古版時「ＸＸＸ……」、「ＹＹＹ……」、「ＺＺＺ……」排在同一段落中，在今版時則分成標題及二個段落：</p>
  <pre><code>&lt;div data-sec="p" data-rev="古版-元素"&gt;&lt;!--
--&gt;&lt;h2 data-rev="今版-元素"&gt;ＸＸＸＸＸＸ&lt;/h2&gt;&lt;!--
--&gt;&lt;p data-rev="今版-元素"&gt;ＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹ&lt;/p&gt;&lt;!--
--&gt;&lt;p data-rev="今版-元素"&gt;ＺＺＺＺＺＺＺＺＺＺＺＺＺＺＺ&lt;/p&gt;&lt;!--
--&gt;&lt;/div&gt;</code></pre>
</div>

<p>盡可能使用符合底本原貌的異體字記錄。本站會透過轉換表將<strong>形似</strong>且<strong>無字義爭議</strong>的字在今版轉為現代常用字。例如「虚」轉「虛」、「脚」轉「腳」、「衆」轉「眾」等。若個別書籍有特殊需要在今版保留原用字，可在元資料設定「字元替換」調整轉換方式。</p>

<div class="note">
  <p>若<strong>原文用字顯非現今通用字且容易產生一字多義</strong>，可統一用現代字記錄，並透過字元替換使古版呈現原貌。</p>
  <p>例如原文一律用「山查」，可記錄為「山楂」並在元資料設定字元替換：<code>{"楂": {"古": "查", "今": "楂"}}</code>。</p>
</div>


<h2>注文、疏文、校文</h2>

<p><code>&lt;span data-rev="注"&gt;</code>：注文是注家對原文的注解，例如王冰注《素問》的文字。</p>

<p><code>&lt;span data-rev="疏"&gt;</code>：疏文是第二注家對原文或注文的注解，例如林億、高保衡校注《素問王冰注》的文字。</p>

<p><code>&lt;span data-rev="校"&gt;</code>：校文是原典本無，由現代整理者加入的注釋或校訂說明。</p>

<ul>
  <li><code>&lt;span data-rev="注" data-ver="王冰"&gt;</code>：標示「王冰」的注釋文字（<code>data-ver</code>可為任意值，但不可含有空白字元）。</li>
</ul>


<h2>訂文</h2>

<p><code>&lt;span data-rev="訂"&gt;</code>：訂文是現代整理者對原典所做的修訂，或不同版本的文字。</p>

<ul>
  <li><code>&lt;span data-rev="訂"&gt;</code>：標示修訂版的文字。修訂版即笈成編輯整理的版本，預設顯示此版本。</li>
  <li><code>&lt;span data-rev="訂" data-ver="*"&gt;</code>：標示底本的文字。預設劃刪除線顯示。</li>
  <li><code>&lt;span data-rev="訂" data-ver="千金本"&gt;</code>：標示「千金本」的文字（<code>data-ver</code>可為任意值，但不可含有空白字元）。預設不顯示，須用進階篩選器設定顯示。</li>
  <li><code>&lt;span data-rev="訂" data-ver=""&gt;</code>：標示修訂版的文字，但預設不顯示。</li>
</ul>

<div class="note">
  <p>古版、今版標示用於<strong>排版變動</strong>，如標點、異體字、縮排、分段之調整。訂文則是在考證基礎上對原文所做的<strong>語意變動</strong>，如修訂文字，調整章節標題等。</p>
</div>


<h2>項目列表</h2>

<p><code>&lt;ul class="隱式列表"&gt;</code>：以每層縮排一字的方式顯示多層 ul, li。</p>

<div class="example">
  <p><b>範例：</b></p>
  <pre><code>&lt;ul class="隱式列表"&gt;
&lt;li&gt;項目一
  &lt;ul&gt;
  &lt;li&gt;項目一之一&lt;/li&gt;
  &lt;li&gt;項目一之二&lt;/li&gt;
  &lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;項目二
  &lt;ul&gt;
  &lt;li&gt;項目二之一&lt;/li&gt;
  &lt;li&gt;項目二之二&lt;/li&gt;
  &lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;</code></pre>
</div>

<p><code>&lt;ul class="行內列表"&gt;</code>：以每項固定字數的方式排列，寬度不足時整項移至下一行。</p>

<div class="example">
  <p><b>範例：</b></p>
  <pre><code>&lt;ul class="行內列表 項寬8字"&gt;&lt;li&gt;項目一內容　&lt;li&gt;項目二內容文　&lt;li&gt;...&lt;/ul&gt;</code></pre>
</div>


<h2>表格</h2>

<p><code>&lt;table class="標準框線"&gt;</code>：輸出有標準框線的表格。</p>
