<header data-type="book">
<h1>江澤之醫案</h1>
</header>

<h1>一、瘧疾</h1>
<p>（案1）證本子母瘧，已經兩月。正虛不能敵邪，出與陽爭則熱，入與陰爭則寒。口乾咳逆，痰少沫多，舌白膩，小溲清黃。當此人虛證實，殊屬棘手，擬方速解乃吉。</p>
<p>柴胡　茯苓　杏仁　甘草　川貝母　白芍　黃芩　半夏　丹皮　烏梅　枇杷葉　桂枝　桑葉　鱉甲</p>
<p>（案2）伏邪化為間日瘧，虛人得實證矣。今擬仲聖法補正驅邪，但舌苔轉黃，口乾喜飲，大便不實。此為濕化為熱，再合一甲煎法治之。</p>
<p>小柴胡加　東白芍　牡蠣　老米　烏梅　菊花炭　澤瀉　竹茹　（井河水煎）</p>
<p>（案3）濕困脾土，發瘡不透，加以風寒客於募原，致成二瘧。由瘡傷正，濕邪更不內化，穀食減納，胸脘膨脹，再延日久，慮成單腹。</p>
<p>紫胡　半夏　草果　白朮　赤苓　生薑　桂枝　黃芩　厚朴　甘草　腹皮</p>
<p>（案4）久痢脾腎兩虧，復感新涼轉為三陰瘧疾。兩脈弦細，擬合和解扶正法治之，速解乃吉。</p>
<p>柴胡　黃芩　白芍　赤苓　枳殼　半夏　沙參　枇杷葉　橘皮絡　甘草</p>
<p>復診：加澤瀉、知母、老米、西洋參</p>

<h1>二、痢疾</h1>
<p>（案1）肝木乘脾，氣滯濕困，延及日久，濕熱下注為痢，痢下紫瘀。此時腑氣固虛，肺臟復受濕侵，有脹滿咳喘之勢，難以調治。擬方以盡人力。</p>
<p>黃芩　半夏　澤瀉　甘草　白芍　赤苓　厚朴　橘皮</p>
<p>（案2）痢下紅多白少，腹痛後墜，懷妊九月，謹防胎產生變，勿謂言之不早也。</p>
<p>茯苓　當歸　白芍　西洋參　木香　砂仁　甘草　黃芩　於白朮　廣皮　黃連　陳米　荷蒂</p>
<p>（案3）經停三月，懷孕未定。痢經月餘，正氣固虛，胃陰亦傷。口乾舌赤，胸悶噦逆，穀食懶進，脈象空虛無神，慮增昏呃歧變。擬方以盡人力。</p>
<p>西洋參　白芍　釵石斛　糯稻根　五穀蟲　麥冬　扁豆衣</p>
<p>（案4）伏邪成溫瘧，瘧陷成痢，痢經五日，氣液俱傷。少腹痛無休，暑濕深伏下焦，可知難以調治。擬甘芍法，多酌高明可也。</p>
<p>白芍　甘草　又和服駐車丸（三錢）</p>
<p>（案5）接年來墮胎數次，肝陰虧極，骨中燒熱無休，月前復損胎原，骨熱固重，且暑濕凝滯曲腸，腹痛便痢不爽。茲擬黃連治之，再商治本。</p>
<p>黃連　乾薑　黨參　白芍　赤苓　木香　澤瀉　甘草</p>
<p>（案6）由時痢而轉煙痢，下焦失守，難以挽回。擬方以盡人力，而博天眷耳。</p>
<p>東洋參（二錢）　赤石脂（四錢）　炮姜（八分）　白糯米（一撮）</p>
<p>（案7）痢經月餘，陰陽二氣俱傷。肛墜無休，腰胯痠痛，肢末時而厥冷，噦逆自汗，舌苔乾白，穀食懶進，兩脈按之無力。慮難驟效，茲擬參附六君子湯，多酌高明可也。</p>
<p>東洋參　附片　冬朮　赤苓　蒸籠繩　半夏　橘皮絡　甘草</p>
<p>昨進參附六君子法，肢厥已回，噦逆自汗較止，惟曲腸暑濕不化，氣墜下迫。改擬東垣法加味治之。</p>
<p>東洋參　當歸　升麻　白芍　黃芩　荷蒂　炙黃耆　冬朮　柴胡　甘草　橘皮絡　紅曲</p>
<p>（案8）濕凝曲腸，痢成休息，痛墜並見，面色痿黃，穀食減少，延久有土敗木賊之虞。</p>
<p>沙參　木香　桂枝　白芍　防風　煨葛根　藿香　茯苓　荷蒂　橘皮絡　老米　野於術</p>
<p>（案9）由利而痢，戊病傳癸也。已有月餘，表邪未清。素吸洋菸，正氣亦傷。穀食懶進，恐成噤口，擬方速治之，以冀挽回。</p>
<p>太子參　橘皮　前胡　防風　赤苓　老米　省頭草　甘草　川芎　桂枝　川樸　荷蒂　羌、獨活（各）　甘葛</p>
<p>（案10）休息痢三載，脾腎俱傷，治難霍然，擬方徐圖之。</p>
<p>樗根皮　熟地　鴿蛋　人乳　風菱殼　百花酒</p>
<p>（案11）暑濕內困於曲腸，致純紅滯下，腹痛後墜。擬方獲效乃吉。</p>
<p>當歸　車前子　萊菔子　白芍　海南子　茶葉</p>
<p>（案12）休息痢因冷而致，擬香砂胃苓法治之。</p>
<p>木香　蒼朮　橘皮　赤苓　生薑　砂仁　川樸　肉桂　澤瀉。</p>
<p>（案13）伏邪未化，暑濕復重，絞痛下痢，慮其生變。</p>
<p>柴胡　黃芩　木香　赤苓　甘草　老米　葛根　白芍　黃連　澤瀉　滑石　生薑</p>
<p>（案14）勞嗽日久，氣體已虛，復感新涼，自利，勢屬重候。擬小柴合四苓法，先治其標，獲效乃吉。</p>
<p>柴胡　半夏　赤苓　白芍　天花粉　老米　黃芩　橘皮　澤瀉　甘草　西洋參</p>
<p>復診：加　仁、扁豆衣</p>
<p>（案15）暑濕下痢，紅多白少，腹痛後重，兩脈數大。仍宜清利治之。</p>
<p>蒼朮　槐花　川連（酒炒）　銀花炭　地榆炭　澤瀉（酒炒）　黃芩　紅曲　椿根皮　山楂炭　荷蒂</p>
<p>（案16）痢下紅白，擬逆流挽舟法治之。</p>
<p>倉廩湯加木香</p>
<p>（案17）痢久濕熱未已，仍擬槐花湯治之。</p>
<p>地榆炭　側柏葉　枳殼　槐花　橘皮　黑荊穗　川連　甘草　白芍　荷蒂</p>

<h1>三、泄瀉</h1>
<p>（案1）濁氣在上則生䐜脹，清氣在下則生飧瀉，擬升清降濁法以冀挽回。</p>
<p>孩兒參　蒼朮　山藥　白芍　黃耆　穭豆衣　橘皮　升麻　赤苓　荷蒂　炙甘草　於術　柴胡　粳米　瓜皮</p>
<p>（案2）積濕成飲，積飲成痰。痰飲伏於肺胃，兼之火不生土，致五更瀉利，脈象弦滑。擬姜附六君加味治之，仍須安閒靜養為先。</p>
<p>東洋參　冬朮　益智仁　神麯　破故紙（鹽水炒）　乾薑　半夏　陳皮　肉豆蔻（麵裹煨，鹽水炒）　附片　茯苓　甘草</p>
<p>（案3）肝腎素虧，加之腸澼日久，中土亦虛。致飲食減於過半，雖納亦屬不運。胸脘腹悶，每利必帶紅水，臍腹㽲痛。營衛亦虛，此時乍寒乍熱，左脈弦，右脈濡，慮有土敗木賊之虞。</p>
<p>東洋參　雅連　當歸　廣皮　炙荷蒂　冬白朮　乾薑　白芍　甘草</p>
<p>（案4）脾寒痛瀉，速解乃吉。</p>
<p>木香　砂仁　陳皮　澤瀉　附片　甘草　蒼朮　川樸　赤苓　白芍　半夏　姜渣</p>
<p>（案5）風寒傳裡，腹痛自利黃水，身熱不清，舌苔黃白相夾，穀食不思，尿短作痛。擬理中合四苓法，獲效乃吉。</p>
<p>洋參　雅連　赤苓　桂枝　甘草　白朮　乾薑（炮）　澤瀉　豬苓</p>
<p>（案6）暑濕困脾，胸悶不食，腹鳴作瀉，擬六和法治之。</p>
<p>藿香　川樸　赤苓　白蔻仁　枳殼　半夏　陳皮　澤瀉　六和曲</p>
<p>（案7）渴瀉重症。</p>
<p>藿香　葛根　甘草　黨參　粳米　木香　白朮　烏梅　茯苓</p>

<h1>四、便血（附蓄血、血淋）</h1>
<p>（案1）由立秋濕熱蘊於腸胃，日久未解，致成腸風。詢血或紫或鮮，不分糞之前後。腹不痛，肛不墜，關脈滑數，仍當清理。必須慎口避風，方免腫脹歧變。</p>
<p>槐花炭（炒）　荊芥（炒）　蒲黃　生地　甘草　蒼朮　赤豆衣　炒柏葉　炒地榆　當歸　阿膠　柿餅</p>
<p>（案2）飢飽勞力，肝不藏血，脾不統血。陰絡受戕，血從內溢，纏綿日久，藥難霍然，擬方徐圖之。</p>
<p>當歸　生地　桑葉　阿膠　甘草　丹皮　白芍　木瓜　蒲黃　赤豆　米漿水煎。</p>
<p>（案3）內有血痔，因煩勞過度，肝藏脾統失其司職，去血甚多，精神疲倦，頭目眩暈，肢面發腫。擬補脾生血法為治。</p>
<p>東洋參　黃耆　當歸　遠志　生地　牡蠣　酸棗仁　於術　阿膠　茯神　白芍　荷蒂</p>
<p>（案4）素本體虛，又兼氣虛肛墜，宿飲射肺，咳逆氣喘。加以肝木侮土，火不生土，胃強脾弱，能容而不能運，甚則大便不實。濕熱下注，釀成翻花痔，漏血射如箭，盈碗盈盂，流至腳跟而不知，氣不攝血也。兩腿痠軟，間或抽搐者，乃血不榮筋，肌膚痿黃，曾經浮腫，舌中苔黃，脈象弦沉而細。總之，陰陽交虛而陽虛特甚，久則防成腫脹。</p>
<p>於術　阿膠　附片　五味子　赤小豆　白芍　乾薑　甘草　側柏葉　伏龍肝　當歸　首烏</p>
<p>（案5）陰絡受傷，便血過多，血不榮筋，下部痿躄。陰虛陽虛，陽蹻陰　受傷特重也。根蒂已深，勢難挽回，擬方以盡人力。</p>
<p>鹿角霜　當歸　防己　絲瓜絡　仙鶴草　鹿銜草　木瓜　牛膝　劉寄奴　云茯神　絡石藤　萆薢　蠶沙</p>
<p>（案6）陰器因跌而傷，溢血盈盂。瘀血蓄於陰絡，以致小便時通時閉，時痛時止，延及五月有奇。防成癃閉。</p>
<p>旋覆花　新絳　石葦　茯苓　盤龍草　車前子　蔥管　柴胡　白芍　當歸身　炮山甲　甘草　琥珀</p>
<p>（案7）心火濕熱移於小腸，陰絡受傷。兩月前曾患血淋，刻下又發，數日不平，莖中如火甚痛尤甚。</p>
<p>生地　車前子　當歸　琥珀　旱蓮草　木通　側柏葉　滑石　竹葉　甘草梢　山梔　大小薊根　蒲黃</p>

<h1>五、淋濁（附癃閉）</h1>
<p>（案1）嗜酒傷中，肝膽濕熱下移膀胱，致成痛淋，已延十餘年之久，時作時止，小便秘結，脈象弦細而滑。防成血淋。</p>
<p>冬葵子　當歸身　柴胡　茯苓　車前子　益元散　盤龍草　葛根　琥珀　山梔子　東白芍</p>
<p>（案2）濕熱下注，致成淋濁，擬龍膽瀉肝加味為治。</p>
<p>全方加萆薢　琥珀　石首魚　蓮芯</p>
<p>（案3）淋屬肝膽，濁屬心腎。煩勞過度致濕熱下注小腸，而成淋濁，已經八日。暫擬五苓法合導赤治之，以冀濕熱速解乃吉。</p>
<p>當歸　赤苓　木通　龍膽草　卷竹簾　生地　白芍　雅連　滑石　蓮子心　山梔子　甘草</p>
<p>（案4）脾濕困久，清陽不升，致尿濁不止，精神疲倦，左肢不動，三部俱弦澀之象，至陽痿，亦氣弱為患耳。</p>
<p>黃耆　西洋參　升麻　芡實子　當歸　冬朮　鹿角霜　柴胡　金櫻子　廣皮</p>
<p>（案5）癃閉重症，擬方以盡人力。</p>
<p>八正散加白龍粉、雅連、瓜蔞子、盤龍草</p>

<h1>六、遺滑</h1>
<p>（案1）遺滑十餘載，一月見十次，或四五日，七八日一次，或一夜兩次，兼之大便後帶紅，屢屢不休。就名哲多多，或服苦寒之劑，或用收澀滋陰之品，屢服無效，意懶心灰，不得已，來就治。姑擬一方以冀挽回。</p>
<p>老港珠（三錢）　川黃柏（四錢，鹽水炒）　杜阿膠（三兩）</p>
<p>為丸，開水送下。</p>
<p>（案2）膽熱上移於腦，致成鼻淵。腎失閉藏之職，精關不固，遺滑屢屢。延及多日，榮衛交虧，熱多寒少，再延防怯。</p>
<p>金櫻子　白芍　黃柏　芡實　蓮子仁　石決明　茯神　砂仁　甘草　地骨露　蒼耳子　當歸　石斛　鱉甲</p>
<p>（案3）某翁大人閣下：昨接手書並厚儀一函，愧領，謝謝！展閱貴恙情形，其原責在水虛，是以木失涵養，火無所制，幻出諸症。茲以原方加以育陰潛陽之品，再服一料，雨水前後，該可服完。靜候玉音。抑或枉臨敝舍，脈症相參為盼。肅此敬復，即頌大安，惟望雅鑑。</p>
<p>腎為先天之本，先後二天向屬不足，加以病後水土更虧。喻氏云：「壽命之本，積精至剛。」然精生於穀，谷入少則不能生血，血少則不能化精。脾健谷運，始能灌溉臟腑，生血生精，體自剛矣。至於頤養工夫，寒暄保攝，尤當加於藥餌之後。</p>
<p>減連資生丸二錢，早晚服。</p>

<h1>七、肺癰（附痿）</h1>
<p>（案1）肺經濕熱內蘊，致咳膿痰，色紅味腥，胸脅隱痛，右脈濡數，慮成肺癰。</p>
<p>桔梗　桑白皮　貝母　蔞仁　橘絡　蘆芽　甘草　冬瓜子　苡仁　桃仁　防己</p>
<p>（案2）風傷皮毛，熱傷血脈，漸積成膿，釀成肺癰大證。脈象數實，身熱自汗，穀食少進。人虛證實，調治殊難，姑擬一方，獲效乃吉。</p>
<p>葦莖　貝母　苡仁　甘草　橘絡　冬瓜子　防己　桃仁　杏仁　茯苓　杷葉　魚腥草</p>
<p>（案3）由風溫犯肺，鬱而化熱，致傷脈絡，咳吐臭痰，脈象滑數。肺癰已潰，難以挽回，擬方以盡人力。</p>
<p>桔梗　防己　金銀花　羚羊　苡仁　黃芩　葦莖　杏仁　桑白皮　蔞仁　貝母　甘草</p>
<p>（案4）客冬肺癰，未能收口，以致咳嗽至今未止。間有吐瘀，寒熱往來，夢寐不安，善性多疑，天癸漸少，脈象虛數，氣短汗少，再延防成肺癰。</p>
<p>金銀花　貝母　薏仁　瓜蔞霜　甘草　桑白皮　桔梗　赤苓　銀杏葉　杷葉　夜交藤　當歸　橘絡</p>
<p>（案5）咳嗽起於春季，時發時止。入秋來操勞憤郁，兼之燥氣內侵，咳嗽日重，涎沫頻來。近日津液內竭，咳吐膿痰，聲啞咽痛，骨中燒熱，肌肉消瘦，兩脈細數，肺痿之勢已露。茲擬喻氏法，多酌高明可也。</p>
<p>桑葉　甘草　洋參　麥冬　瓜蔞仁　梨（切碎）　杏仁　貝母　生地　阿膠　枇杷葉</p>
<p>（案6）肝邪入肺，咳久化熱，右脅痹痛，痰中帶血，脈象滑數，慮其成痿。</p>
<p>桑葉　羚羊　黃芩　山梔　甘草　丹皮　生地　貝母　鬱金</p>

<h1>八、症（附怔忡）</h1>
<p>（案1）自幼多驚，十齡外多病，近或癇症又三四載矣。癇者發之有間斷也，平時痰涎則藏於肝膽，故善性多疑也。發則犯於心包，故神呆痙厥也，上凌肺胃則吐涎沫血水也，脈象弦細而滑。今歲新婚則發之愈緊，肝腎乙癸同源也。擬方徐圖之。</p>
<p>白薇　雞心胞　橘皮、絡　膽星　半夏　柴胡　白附子　全蠍　茯苓、神　鬱金　荊芥　瓜蔞霜　明礬（生枯各半）　燈心草</p>
<p>（案2）喉痛宜涼，腹痛宜溫。症當多歧，情同水火，兼有驚癇痙厥，數日一作，或一日一作，脈象弦細，擬方兼顧之。</p>
<p>桔梗　殭蠶　瓜蔞霜　防己　石斛　枳實　甘草　川貝　金果蘭　苓皮　橘皮絡　竹茹</p>
<p>（案3）抑鬱驚恐，肝膽受傷，致成癇症，已延多年，脈象弦滑。速當自開懷抱，尚可與藥餌兼功。</p>
<p>天麻　全蠍　蔞霜　荊芥　茯苓神　白薇　半夏　殭蠶　貝母　燈心　柴胡（醋炒）　鬱金</p>
<p>（案4）由驚恐而成痙厥八九載之久，肝膽痰熱已深，稍有悒鬱則風火併起，斯時人事不省，氣阻痰壅，手足抽搐，口角流涎，良久方蘇。詢癸水先期而至，脈象弦滑。藥難霍然，徐圖可也。</p>
<p>桑葉　菊花　半夏　茯苓　枳實　雅連　鉤藤　甘草　橘紅</p>
<p>（案5）癇發三載，氣液交虛。木乘土位，厥後必吐涎沫膠黏，其多內熱頻來，面色痿黃，再延防怯。</p>
<p>白薇　白附子　蔞皮　蒺藜　茯苓　防己　石決明　丹皮　菊花炭　竹茹　膽星　荷蒂　橘皮絡　半夏</p>
<p>服前方驚癇未作，噦吐未來，營衛漸次向和，脈象弦緩。從此小心慎口，自可漸入佳境。</p>
<p>半夏（姜炒）　菊花　橘皮絡　白附　首烏藤　秫米　膽星　竹茹　丹皮　白蒺藜</p>
<p>（案6）操勞鬱怒，肝葉迫肺膈，震動心君，致成怔忡。擬鎮肝養營為治，戒怒安閒為要。</p>
<p>白芍　牡蠣　丹參　酸棗仁　朱茯神　木瓜　遠志　歸身　柏子霜　桂圓肉</p>
<p>復診：加冬朮一兩四錢、生地、西洋參　同前為末，桂圓肉杵膏和蜜成丸。</p>
<p>（案7）肝膽鬱熱，釀久生痰，神志乍明乍昧，言語不清，寤不成寐，已屬狂象。擬黃連溫膽湯以觀進退。</p>
<p>黃連　黃芩　茯苓　枳實　貝母　半夏　竹茹　橘紅　羚羊　甘草</p>
<p>（案8）鬱怒傷肝，肝氣鬱則熱自內生，膽府亦失其清淨。目前化熱皆厥，心志不靈，言語間有失序，身熱漸作，舌黃尖絳，兩脈滑數。速當安閒開懷，方免痰熱互膠致生歧變。</p>
<p>犀角　丹皮　山梔　桑葉　天竺黃　竹茹　生地　連翹　黃芩　鬱金　朱麥冬</p>
<p>（案9）早年癇厥已止，從夏季操勞鬱怒太過，致肝氣直犯心包。斯時氣阻喉間，不容升降，心中嘈雜，莫名其狀，脈象弦滑。肝膽痰熱內閉之徵，猶恐癇厥乘舉，致生歧變。</p>
<p>鬱金　半夏　厚朴　遠志肉　竹茹　棗仁　明礬（生熟各半）　蘇梗　茯苓　柏子仁　烏藥（磨汁）</p>
<p>（案10）驚恐傷膽，抑鬱動肝，痰熱內蘊，言語舛錯，神思恍惚。速當開展胸襟，庶得與藥餌兼功。</p>
<p>熊膽　瓜蔞霜　膽星　丹皮　菊花　山梔　茯苓　化橘紅　半夏　石斛　鬱金　竹茹</p>

<h1>九、中風（附類中）</h1>
<p>（案1）風中血脈，右肢不遂，舌苔白膩，素多濕痰，致內風鼓動，脈象弦滑。速當戒怒遠煩，庶得與藥餌兼功。</p>
<p>豨薟草　防風　血竭　蔞霜　冬瓜子　絡石藤　半夏　蒺藜　山梔　福橘皮、絡　嫩桑枝　木瓜</p>
<p>（案2）風中經絡，口眼歪斜，頭目眩暈，兩耳鳴轟。延及日久，藥難霍然，擬方徐圖之。</p>
<p>桑葉　丹皮　石決明　烏藥　天麻　於術　沉香　蘇葉　當歸身　甘草　白芷　青皮　荷蒂</p>
<p>（案3）頭暈手麻舌強，皆由氣血不足。已現風痰之象，疊進溫補之劑，頭眩漸清，舌強亦和，惟手足麻木乃濕痰瘀血凝結筋絡之間。時或神識不清，此濕痰流於心包，致心志模糊，右脈滑數，痰生熱也，左脈浮大，熱生風也。法宜水火兩補，使火歸水中，則水能涵木，自不生風。《經》又云，治痰先理氣，氣順痰自消；治風先養血，血行風自滅。庶不致競成類中也。</p>
<p>膏方：熟地（四兩）　虎骨膠（一兩）　麥冬（米炒三兩）　白芍（酒浸二兩）　龜板（二兩）　洋參（三兩）　秦艽（酒浸二兩）　巴戟天（酒浸二兩）　當歸（酒浸三兩）　蓯蓉（二兩）　阿膠（二兩）　鹿角膠（二兩）</p>
<p>白蜜收膏，每服二錢。</p>
<p>丸方：橘紅（一兩）　桂枝（八錢）　甘草（八錢）　藕荷（八錢）　肉桂（五錢）　菊花炭（一兩四錢）　澤瀉（八錢）　牡蠣（八錢）　半夏（三兩）　赤苓（五錢）　附片（一兩）　絲瓜絡（一兩）</p>
<p>以竹瀝、薑汁各一杯，同夜交藤煎湯泛丸。</p>
<p>（案4）肝腎素虧，多濕多痰之體。從春間風中於陽明脈絡，致口眼歪斜，偏於面右，牽及肢末作麻，入冬麵皮強急，口眼雖解，濕痰猶存。速當絕去塵氛，一毫私念莫起，佐之以藥，庶免僕中歧變。</p>
<p>桑葉　茯苓　制首烏　枸杞　半夏　苡仁　天麻　白芍　白蒺藜　橘紅　決明</p>
<p>（案5）陽明脈虛，周身脈絡不和。更加肺受風邪，氣痰內郁，一身之氣更為不利。茲擬宣肺和絡治之。</p>
<p>杏仁　桂枝　半夏　橘絡　瓜蔞皮　鬱金　通草　茯苓　桔梗　枇杷葉</p>
<p>（案6）肝腎不足，多濕多痰。加以操勞太過，心陽獨亢，致風火內煽，頭目眩暈，神志不安，手指筋強，時難任物，防有僕中之患。</p>
<p>桑麻二陳加鉤藤、菖蒲、遠志、羚羊、丹皮、山梔、地慄、水母</p>
<p>（案7）內風鼓動，痰凝經絡，右邊肢末麻痹，頭眩心悸，神識不安，兩脈弦滑，有偏枯之患。</p>
<p>仙鶴草（雞血拌炒）　於術　瓜蔞霜　木瓜　茯神　絡石藤　防己　桑寄生　天麻　半夏　制豨薟　橘皮絡　白蒺藜</p>

<h1>十、頭痛（附眩暈）</h1>
<p>（案1）憂慮煩勞太過，正氣為風寒濕三氣所乘，腦後痛入骨，欲按為虛，邪在為實。脈象弦數少神，有轉癰疽之慮，扶正卻邪為主。</p>
<p>黃耆　川芎　羌活　藁本　威靈仙　生薑　防風　白芷　蒼朮　歸身　蔓荊子　蔥白</p>
<p>復診：腦後之痛已減，寒熱與風融化有機，但憂勞日久正氣潛消，不能化邪外達，人虛證實，攻補兩難，尚屬可慮。</p>
<p>前方去藁本、威靈、蔓荊，加桔梗、甘草、制南星、白芍</p>
<p>三診：腦後屬足太陽膀胱經，風寒濕三邪合而為痹，痛而不移，仍從著痹論治。</p>
<p>黃耆　獨活　白芷　蔓荊子　藁本　防風　川芎　細辛　威靈仙　甘草</p>
<p>四診：風寒濕漸解，頭痛猶存，時作時止。東垣所謂血虛，然思慮煩勞一動，便覺頭痛，當從中治，觀其進退。</p>
<p>生地　歸身　遠志　白芷　澤瀉　酸棗仁　洋參　茯苓　川芎　丹皮　橘餅</p>
<p>五診：從乎中治，已獲效機，擬方進步可也。</p>
<p>生地　麥冬　川芎　當歸　洋參　丹皮　澤瀉　赤苓　五味</p>
<p>頭為六陽之會，痛屬上實下虛。始由風寒濕三邪氣所乘，亦因思慮煩勞太過所致。服前方以來，病勢十減七八，三邪餘氣未清，二氣久傷難復。治上必來具下，滋苗必灌其根，更宜恬淡無為，澄心息慮，返觀內守，方克全濟。</p>
<p>六味地黃加洋參、白芍、歸身、川芎、麥冬，共為末，水泛丸，服二錢。</p>
<p>（案2）外風內火交集，頭眩致顛頂痹痛，乍寒乍熱，天庭痛甚起瘤，胸次氣機不利，穀食懶進，大便秘結，解如彈。</p>
<p>青黛　桑葉　黃芩　雅連　羚羊角　山梔　丹皮　川芎　甘草　露蜂房</p>
<p>（案3）操勞太過，清陽致虛。暑濕風邪上混頭元，鬱而生熱，脈象浮濡而數，舌苔黃而且膩。擬青空法增味，速解，可免昏厥之變。</p>
<p>全方加羚羊角、山梔、滑石、白芷、荷蒂</p>
<p>（案4）素有水飲射肺，咳逆時形。加以肝陽化熱，襲於經絡，右邊頭暈，牽連項背，延及日久入絡也。擬入絡搜風治之。</p>
<p>蒺藜　白薇　殭蠶　石決明　川貝　橘皮絡　半夏　茯苓　白附　菊花炭　竹茹　荷絡</p>
<p>（案5）痰熱擾亂，肝陽化風，心悸頭眩，不能自主，神思恍惚，嘈雜易飢，脈象弦滑。上虛下實，有類中之漸，現值夏至大節，加意提防為要。</p>
<p>丹皮　貝母　白薇　菊花炭　瓜蔞霜　磁石　石斛　茯苓　石決明　燈心草炭　竹茹</p>
<p>（案6）郁損肝陰，化火生風，致氣逆阻，頭眩面熱，愈逆愈眩。脈來強數，筋脈酸脹，亦由血不養肝，肝主筋也。擬和陽熄風為要。</p>
<p>白芍　牡蠣　山梔　菊花炭　桑寄生　木瓜　丹皮　石斛　合歡皮　綠萼梅　龜板</p>
<p>（案7）操勞辛苦，霧露之濕，侵於皮膚，致成癧風，兩載有餘，已屬痼疾。仍然操勞不已，致恚怒傷肝，肝陽內燃，令頭眩耳轟。而濕熱轉劇，面腫眉落，足脛腫痛。病情若此，難以奏效。</p>
<p>當歸　生地　菟絲子　茅朮　金叉石斛　白芍　天麻　豨薟草　黃柏　紫背浮萍　川芎　羌活　烏梢蛇</p>
<p>（案8）肝鬱夾痰，生火生風，致左脅肝垂內煽，頭眩目眩，乍寒乍熱，肢末作麻，氣逆吐沫，脈象弦滑，慮其昏厥。</p>
<p>桑葉　白芍　牡蠣　鉤藤　石斛　絲瓜絡　丹皮　木瓜　羚羊　竹茹　茯苓　石決明</p>
<p>（案9）木火體質，善怒多郁。肝氣易升，肝陽亦失其清淨，致頭目眩，心悸作煩，手足蠕動，兩脈弦滑而數，心脈較大。須戒怒遠煩，免釀痰歧變。</p>
<p>桑葉　石決明　生地　茯苓　山梔　羚羊角　丹皮　蓮心　菊花　穭豆衣　龍齒　竹茹</p>

<h1>十一、痿痹</h1>
<p>（案1）肝腎兩虧，夾濕夾痰之體，加以館課勞心，營分暗耗。營主血，血不榮於筋脈，致左邊肢體痠軟無力，手足不耐久用。咳吐痰涎，頭目時眩，左耳時轟。年過五旬，久則慮其僕中。茲仿絡熱則痿，擬虎潛法以消息之。</p>
<p>黃柏　熟地　牛膝　虎脛骨　枸杞　苡仁　知母　龜板　當歸　桑寄生　菊花　橘絡</p>
<p>（案2）操勞太過，血水內泛，致寒濕入於脈絡，成為筋痹，延及日久，衛營失和。近來手指筋強而腫，伸屈似屬不利，藥難霍然，徐圖可也。</p>
<p>丸方：黃耆　當歸　薑黃　防己　豨薟草　木瓜　冬朮　桂枝　桐皮　蒺藜　仙鶴草　赤苓　桑枝</p>
<p>熬膏代蜜，成丸，酒服</p>
<p>（案3）久歷疆場，操勞太過，肝腎兩虛，風寒濕邪襲入經絡，擬東垣舒筋合養真丹治之。</p>
<p>丸方：當歸（二兩）　黃耆（二兩）　白芍（二兩）　於術（二兩）　生地黃（二兩）　薑黃（一兩五錢）　桂枝（一兩）　菟絲（二兩）　川芎（一兩五錢）　福橘絡（二兩）　象皮（二兩）　羌活（一兩）　天麻（一兩）　麗參（二兩）　豨薟草（二兩）</p>
<p>（案4）年老，二氣俱衰，加以操勞，氣泄，風寒濕三邪著而為痹。右肩臂痹痛，下引缺盆，則嗆咳吐沫；上攻頭目，則頭元偏痛，右耳暈眩。必須戒怒遠煩，庶得與藥餌兼功。</p>
<p>象皮　羌活　藁本　黃芩　蔓荊子　防風　半夏　橘絡　茯苓　羚羊　桑寄生　杏仁　當歸　川芎　苡仁</p>
<p>（案5）濕勝成為著痹，擬方徐圖之。</p>
<p>薑黃　木瓜　黃耆　橘絡　防風　白朮　象皮　當歸　苡仁　桑枝</p>
<p>（案6）暑濕伏邪，內郁致成周痹。身熱不寒，偏身筋脈痠痛，難以轉側，舌白口苦，入暮熱重，神昏譫語，勢屬重候，慮其昏陷生變。</p>
<p>豆豉　山梔　杏仁　大豆卷　枇杷葉　苡仁　防己　羚羊　威靈仙　冬桑葉　連翹　滑石</p>

<h1>十二、嘈雜</h1>
<p>（案1）嘈雜一證，屬火嘈十居八九，若無火之嘈十難一二。</p>
<p>始由木乘土位，久則火不生土，穀食不運，嘈雜噯氣頻仍，延及二年之久，時作時止，脈象沉弦而細，較前稍平。此證緩圖當可就緒，倘再反復，嘈雜即行，深慮愈作愈深，有反胃之患。果能破疑，見王道無功，多服自有效也。</p>
<p>高麗參　益智仁　刀豆子　茯苓神　橘皮絡　於術散　白蔻仁　赭石　半夏　紫石英　五穀蟲　雞內金　防己　青鉛</p>
<p>（案2）產育後陰虧未復，加以操勞恚怒，風傷內擾。胃陰內耗，脘中嘈雜，易食易飢，若飲食失節，則火生面熱，關脈數急。已入中消之勢，速當安閒靜養，庶可挽回。</p>
<p>生地　石斛　丹皮　甘蔗汁　穭豆衣　元參　麥冬　白芍　女貞子　杜阿膠　牡蠣　龜板</p>
<p>（案3）肝膽不和，心腎不交，陽明脈虛。郁痰內擾，心神恍惚，善食易飢，善性多疑，肉瞤筋剔，頭眩耳鳴，脈象虛弦而滑。延久防成中消。</p>
<p>茯苓、神　半夏曲　貝母　燈心炭　於術散　丹皮　天花粉　橘皮絡　瓜蔞霜　肥知母　竹茹　霜桑葉</p>

<h1>十三、疝氣</h1>
<p>（案1）肝腎乙癸同源，肝脈絡於陰器。肝鬱不舒，左腎筋高突，右側睪丸下墜，是屬筋疝。腎氣虛寒，繞臍作痛，有同源之義，故相困而作也。致肝陽夾飲，上騰清竅，遂令頭目不清，時咳涼痰，脈象沉弦而滑。擬方徐圖之。</p>
<p>南北沙參　附片　蒺藜　橘皮、絡　茴香　甘草　絲瓜絡　白芍　夏瓜粉　木瓜　木香</p>
<p>（案2）恚怒傷肝，肝絡系急，睪丸、玉莖內縮，溲不通行。能於戒怒遠煩，方可與藥餌兼功。</p>
<p>當歸　柴胡　鹿角霜　川椒　東洋參　白芍　茯苓　蛇床子　烏藥　橘核子</p>
<p>（案3）內疝脹痛，擬寒熱平調之劑治之。</p>
<p>雅連　沙參　桂枝　川楝子　荔枝核　乾薑　白芍　半夏　元胡索</p>

<h1>十四、黃疸</h1>
<p>（案1）勞力傷中，氣滯濕鬱，身弱膚黃，慮成疸證。</p>
<p>於術　膍胵　厚朴　茯苓　神麯　枳實　蔻仁　橘皮　澤瀉　木瓜</p>
<p>（案2）子嗽，產過已解。但痿黃延久，藥餌固難速效，況陰虧之體，尤慮歧變。</p>
<p>冬朮　陳皮　香附子　茯苓　神麯　楂肉　枳殼　膍胵　佩蘭葉　川樸　青皮　紅糖</p>
<p>（案3）黃疸腫脹，難以調治。</p>
<p>橘皮　於術　海金沙　苡仁　冬瓜皮　枳殼　膍胵　半夏　赤茯苓　腹皮　木瓜</p>
<p>復診：加澤瀉、煅牡蠣</p>
<p>（案4）瘀去過多，虛腫發黃。</p>
<p>白芍　牡蠣　扁豆衣　穭豆衣　苓皮　木瓜　赤豆皮　薏苡仁</p>

<h1>十五、調經（附帶下、崩漏）</h1>
<p>（案1）氣為血之帥，肝鬱不舒，氣為之滯，血亦為之瘀矣。天癸過期而少，脹痛並見，胸中嘈雜，噯氣頻來。擬溫通法為治，氣行血亦行也。</p>
<p>烏賊骨　茜草　白芍　茯苓　柴胡　雞血膏　當歸　蘇梗　川樸　半夏　香附子　月月紅</p>
<p>（案2）肝虛氣滯，癸水不調，或至或不至，來時又暴湧不已。經過帶下綿綿，腹痛腰痠，少寐多汗，衝任督帶，奇脈交傷。若不安閒調理，恐他日經漏成崩，經閉成蠱。</p>
<p>白芍　茜草　杜仲　烏賊骨　浮麥　紅棗　牡蠣　琥珀　蒺藜　柏子仁　茯神</p>
<p>（案3）女以肝為先天，月水全賴肝經條達，方能按期而來。此時肝虛氣滯，胸脘為脹為痛，營衛不和，乍寒乍熱，腰膂酸楚，脈象弦數。速宜靜養調治，再延有損怯之虞。</p>
<p>八味逍遙加桑寄生</p>
<p>（案4）肝虛氣逆，胸脘脹痛，癸水先期而至。骨中燒熱，熱甚則口鼻出血，防其倒經。</p>
<p>當歸　柴胡　丹皮　生地　地骨皮　白芍　茯苓　山梔　牛膝</p>
<p>（案5）肝虛氣滯，胸脘脹痛，土受木製，陽明隸於血海，癸水不循序流行，已延十餘年之久。慮難孕育，能於安閒靜養，庶得與藥餌兼功。</p>
<p>烏賊骨　石斛　當歸　香附　白芍　小胡麻　澤蘭葉　元胡　茯苓　琥珀　金鈴</p>
<p>（案6）癸水先期，脹而不行。仍宜利肝調氣，佐通血絡。</p>
<p>當歸　香附　琥珀　元胡　胡麻　白芍　橘皮　丹參　烏藥</p>
<p>（案7）女以肝為先天，肝陰不足，骨蒸起於童年，癸水來而復閉一載之久。脘腹脹痛，內熱熏蒸，咳逆痰多，慮成勞蠱，方候高酌。</p>
<p>桑葉　丹皮　生地　杏仁　貝母　烏賊骨　當歸　白芍　香附　茜草　鱉甲</p>
<p>又服破血金丹、保真膏。</p>
<p>（案8）經頻帶下，肝脾既失統藏，任帶又疏約束，而心落落，頭目眩暈，肉瞤筋剔，左肢麻痹。夢寐不安，其為肝膽內蘊痰熱，奇經不和可知，脈象弦滑。症勢多歧，用藥殊難，擬方候酌。</p>
<p>磁石　白芍　半夏　瓜蔞霜　白石脂　丹參　甘草　竹茹　夜交藤　秫秫米　茯苓神　橘皮、絡　蔻仁</p>
<p>（案9）產育致虛，虛未來復，已二年之久。此時血不養肝，肝虛氣滯，右脅聚瘕為脹為痛，穀食難容，近日骨中燒熱，自汗盜汗，帶下無休，便燥下血。陰陽虧極，損怯已著，擬大補陰法，以觀進退。</p>
<p>知母　生地　洋參　石斛　茯神　浮小麥　黃柏　龜板　麥冬　白芍　紅棗</p>
<p>（案10）由去歲產育，赤白帶下不止，腰脊酸楚，下焦八脈已傷，慮成損怯。</p>
<p>西洋參　芡實　紫石英　杜仲　牡蠣　沙苑子　熟地　赤石脂　茯苓　當歸　桑螵蛸　白芍</p>
<p>（案11）從產後患伏邪，正陰交傷，下焦空虛未復，致帶下無休。衝脈伏寒，加以肝木不主疏泄，脘腹患脹作痛，痛甚則腸鳴便泄，穀食不運，得噯方舒，脈象虛弦。擬方溫通奇脈。</p>
<p>當歸（小茴香拌炒）　參鬚　茯苓　枸杞子　白芍　石斛　木香　沙苑子</p>
<p>（案12）帶下如注，方書謂之白崩。八脈交傷，治之不易，徐圖可也。</p>
<p>桑螵蛸　白蓮心　牡蠣　茯神　沙苑子　元武板　遠志肉　芡實　龍骨　東洋參</p>
<p>（案13）經漏日久，肝脾兩傷。土虛不能治水，水漬皮膚，腫脹並見。詢癸水仍淋漓不止，須防下虛上實，有脹滿之變。</p>
<p>當歸　穭豆衣　木瓜　丹皮　東洋參　白芍　甜冬朮　甘草　牡蠣　冬瓜皮　茯苓</p>
<p>（案14）漏久仍防暴行，八脈無權，慮難調治，再擬益氣攝陰之劑，得效乃吉。</p>
<p>東洋參　熟地　元武板　沙苑子　紫石英　赤石脂　白芍　桑螵蛸　山萸肉　杜阿膠　朱茯神</p>

<h1>十六、癥瘕</h1>
<p>（案1）肝氣結瘕，聚於少腹，狀如鵝卵。夾衝脈之氣上衝，則胸脘脹悶，穀食亦難下順，脈弦而帶滑。慮其濁陰凝互，有單腹脹之虞。</p>
<p>當歸　金鈴　元胡　赤苓　琥珀　兩頭尖　白芍　橘皮絡　牡蠣　山梔　藍根</p>
<p>（案2）血淤攻痛，上逆作嘔。此擬兩和肝脾法為治，戒怒遠煩為要。</p>
<p>橘皮　金鈴子　茯苓　附子　川樸　烏藥　延胡索　白芍　木香　佛手</p>
<p>（案3）脘中氣結成痞，少腹血聚成瘕。從產所致脾傷，腫脹時輕時重，兩脈弦澀，慮其增劇生變。</p>
<p>金鈴子　於術　丹參　赤苓　香櫞皮　延胡索　枳殼　二醜　半夏　白蔻仁　五靈脂　青皮　香附</p>
<p>（案4）血瘕</p>
<p>當歸　赤芍　三稜　香附　乾漆炭　丹參　牛膝　莪朮　琥珀　頭尖</p>

<h1>十七、發熱</h1>
<p>（案1）天下無逆流之水，逆者因乎風。人身無倒行之血，倒行者因乎氣。氣逆則血溢，熱久則傷陰。內熱漸作，口乾舌燥，脘腹痹痛有形。天癸不調，白帶不已，延久兩月，虛實夾雜，擬方先冀清熱為妙。</p>
<p>活鱉　桑葉　花粉　鬱金　地骨皮　知母　丹皮　貝母　降香</p>
<p>（案2）天癸不調，先期而少。血分不足，骨中燒熱。氣虛帶下，懊惱作煩，五心作熱，脈象虛數，再延，防成損怯。</p>
<p>當歸　柴胡　青蒿　桑葉　貝母　地骨露　白芍　茯神　鱉甲　丹皮　杏仁</p>
<p>（案3）氣痞結於胸中，血凝腹旁，氣血俱虧，十餘年之久，營衛延虛。骨中燒熱，癸水愆期，色淡且紅，經過帶下綿綿，食少形瘦。治之因屬不易，尤當靜養為要。</p>
<p>當歸　琥珀　柴胡　茯苓　金鈴子　牡蠣　白芍　香附　青皮　石斛　延胡索</p>
<p>（案4）營衛從產育致虛，加以肝氣內橫，日久未解，變幻不一，諸虛畢露。能戒怒遠煩，庶得與藥餌兼功。</p>
<p>白芍　生地　石斛　地骨露　牡蠣　阿膠　木瓜　麥冬　山甲　佛手柑　知母</p>

<h1>十八、產育</h1>
<p>（案1）胎前腫脹咳喘，脾肺已傷。茲產過四朝，復加風寒內伏，致寒濕注於大腸，腹痛為瀉，遍體惡寒，心中若悸，有難名之狀，謹防暴變。</p>
<p>桂皮　冬朮　甘草　西洋參　赤苓　炮姜</p>
<p>（案2）小產後去血過多，血虛頭眩，胸次不暢，穀食懶進，擬歸脾加減。</p>
<p>黃耆　當歸　洋參　茯神　遠志　酸棗仁　橘皮　甘草　菊花　桑葉　石斛　桂圓肉</p>
<p>（案3）伏暑兼有胃痛，致傷胎元，刻下三朝，惡露內停，腹脘仍脹痛，謹防瘀血上衝，昏呃暴變。</p>
<p>歸尾　紅花　蒲黃　五靈脂　金鈴　琥珀　桃仁　半夏　黃芩　蘇木屑　元胡　荷梗</p>
<p>（案4）產後兩月，癸水淋漓不止。新涼引動伏暑，寒熱氣粗，神志不安，目上視，唇舌動，內風已起，謹防痙厥暴變。</p>
<p>桑葉　杏仁　藕荷　羚羊角　鉤藤　茯神　蘇梗　益元散</p>
<p>（案5）產後氣血兩虧，風寒襲入，致寒熱往來，咳逆心虛。擬桂枝新加味治之。</p>
<p>桂枝　杏仁　甘草　生薑　西洋參　白芍　橘紅　茯神　大棗</p>
<p>（案6）產後食傷脾土，兼之氣血皆瘀，胸痞脹硬，腹中串脹作瀉。擬消補兼施之劑，漸解乃吉。</p>
<p>橘皮　半夏　赤苓　於術　白蔻仁　厚朴　枳殼　澤瀉　神麯　大腹皮</p>
<p>（案7）患由胎前咳喘並見，曾經調治已愈。及產後兩月餘，咳喘復作，加以身腫腹大，飲食不思，脾胃兩虧，濕邪太重。姑擬一方，以盡人力。</p>
<p>花蕊石　苓皮　防己　乾薑　五加皮　砂、蔻衣　杏仁　橘皮　五味　大腹皮　冬瓜子　半夏</p>
<p>（案8）產後受涼停瘀，寒熱腹痛不已。先擬五積散加味為治。</p>
<p>官桂　當歸　白芍　桔梗　蒼朮　川芎　枳殼　香附　雪酒</p>
<p>（案9）胎前咳逆帶紅，延及產後，陰分大傷，熱自內生，五旬未已。新加暑邪身熱，大便泄瀉。刻下邪少虛多，正氣亦傷，脾土亦虧，脈象細數無神。慮由暑盛而成損怯。</p>
<p>活鱉甲　牡蠣　茯苓　知母　天花粉　菴䕡子　丹皮　桑葉　粳米</p>
<p>（案10）頭眩耳鳴，心搖如懸，驚恐憂懼，多疑善慮，多食善飢，兩脈虛弦而滑。均由產後致虛，真陰未復，肝陽化風，脾濕化飲，證情迭出，變幻無常，擬方緩圖之。</p>
<p>白薇　橘皮絡　八楞麻　蒺藜　絲瓜絡　防己　茯神　於術散　杏仁　秫米　天麻　半夏　絡石藤　貝母　荷葉筋</p>

<h1>十九、熱入血室</h1>
<p>（案1）大產十三朝，風寒十日，熱入血室，勢難挽回，擬方以盡人力。</p>
<p>柴胡　半夏　丹皮　紅花　桑葉　茯神　黃芩　大貝　桃、杏仁　羚羊　生地　蘇木</p>
<p>（案2）熱入血室，身反不熱，神志不清，脈象弦數，舌白口苦。茲擬仲聖法，即提所陷之邪，謹防昏痙暴變。</p>
<p>柴胡　黃芩　半夏　羚羊　鬱金　天花粉　菖蒲　甘草　紅花　桃仁　澤蘭</p>
<p>（案3）內熱未盡退，癸水適至。熱入血室，神志模糊，面赤譫語，入夜尤甚。中焦結痞拒痛，口苦而渴，舌乾白，苔淡黃，大便秘結，尿赤脈數。殊屬險候，謹防昏厥暴變。</p>
<p>柴胡　山梔　羚羊　天花粉　甘草　黃芩　生地　枳殼　山楂炭　丹皮　元參　半夏　蘆芽根</p>

<h1>二十、喉（附失音）</h1>
<p>（案1）喉疳日久，內外求治，皆無效驗。予亦非專科，茲診左右寸關脈數，顯見心脾積熱，從辛苦勞力而來。擬黃連涼膈法清之，另用珠黃散摻之，以觀進退。</p>
<p>黃連　梔子　生地　麥冬　藕葉　鮮竹葉　黃芩　連翹　元參　石膏　甘草　人中白</p>
<p>（案2）證起於左肢半痛，已經年半。刻因肝火灼肺，風邪客於會厭，是以聲音不揚。書云：金空則鳴，實則啞，破則嘶。此屬金實，非金破也。</p>
<p>沙參　藕梗　蟬衣　訶子皮　川貝　杏仁　麥冬　桔梗　茯苓　百藥煎　筍衣　甘草</p>
<p>（案3）金虛則不鳴，金破亦不鳴，咳久音啞，延及半載，年已古稀，二氣俱傷，能於靜養調理，猶可帶證延年。</p>
<p>沙參　桑葉　玉竹　甘草　參鬚　杏仁　射干　茯苓　白蜜</p>

<h1>二十一、舌</h1>
<p>（案1）溫邪表尚未解，平素積勞伏火，因表沸騰，致舌本破爛，口乾作臭，身熱脈數。擬辛涼開泄法獲效乃吉。</p>
<p>藕荷　葛根　連翹　山梔　生地　燈草　雅連　木通　甘草　竹葉　黃芩</p>
<p>（案2）肝旺膽怯，脾虛胃強，陰分固傷，陽氣尤甚。於是兩腿浮腫，腰下亦然，脘中懊憹，莫名其狀，舌亦無苔，干而且痛，大便不實，形氣消索，脈象沉細無神。其水溢高原，致生枝節，暫擬水火既濟法，以冀舌和為妙。</p>
<p>雅連　蓮子心　童便　乾薑　秋石</p>

<h1>二十二、耳</h1>
<p>（案1）脾元不足，肝木乘之，加以水虛不能涵木，肝木愈旺，致耳竅疼。氣機不和，納穀不香，大便塞難。方書云：九竅不和都胃氣也。擬清肝胃之火而運肝陽。</p>
<p>麥冬　桑葉　山梔　橘皮　佩蘭葉　生地　丹皮　石斛　穀芽　鮮枇葉</p>

<h1>二十三、乳</h1>
<p>（案1）素本肝腎不足，自客秋肝鬱不舒，兩乳結核。辰下右乳雖消，左乳起於二月，脈象弦細且滑。速當自開懷抱，庶可與藥餌兼功。</p>
<p>蕎麥　歸身　柴胡　白芍　牡蠣　金萱花　昆布　木瓜　貝母　橘皮絡　香附</p>
<p>（案2）乳房乃肝腎地面，操勞悒鬱，令肝氣內橫，順乘陽明，左乳筋脹空硬，氣機似覺不利，但氣血稽留，恐壅而為癰。速宜戒怒遠煩，佐以藥餌，冀其內消為妙。</p>
<p>香附　當歸　茯苓　橘核　丹皮　鹿角尖　貝母　白芍　柴胡　甘草　石斛</p>

<h1>二十四、鼻</h1>
<p>（案1）腦漏多年，仍辛苦勞碌，風寒乘虛而入骨空。頭元偏痛，筋脈牽掣不利，鼻竅滲涕較甚，清陽不升，濕濁愈重。近來舌本強硬，精神疲睏，穀食減納，舌苔腐膩，脈象浮虛。浮則為風，虛則氣虛，能於安閒慎風邪，冀其永年而已。</p>
<p>西洋參　黃耆　黃連　防風　柴胡　羌獨活　於術　半夏　甘草　白芍　苦丁茶　鉤藤　茯苓　澤瀉　橘皮</p>
<p>（案2）勞力氣滯，脘痛吐酸，兼之膽熱移腦，浸年鼻淵。擬二陳、左金合蒼耳散法為治。</p>
<p>二陳　左金　蒼耳散</p>

<h1>二十五、瘰癧</h1>
<p>（案1）少陽膽汁不足，厥陰肝熱上升，耳後結核，是屬瘰癧之象。以逍遙散加味緩圖之。</p>
<p>歸身　生牡蠣　白芍　茯苓　甘草　柴胡　橘皮絡　松羅茶　大貝　元參　杏仁</p>
<p>（案2）體豐氣虛，多濕多痰，心悸頭眩，時寒時熱。五年前肝鬱不舒，右耳結成瘰癧。近來漸多凝聚，微熱作痛，有外潰之勢。擬方先期止痛。</p>
<p>昆布　殭蠶　牡蠣　制乳、沒　柴胡　香附　白芍　茯苓　烏飯葉　鬱金　海藻　海粉　元參　貝母　金萱草　歸身　為末，泛丸。</p>
<p>（案3）瘰癧堅痛，已延兩載，難治之證。擬香貝逍遙法，多酌明哲可也。</p>
<p>香附　當歸　柴胡　丹皮　西琥珀　貝母　白芍　茯苓　山梔　鹿角汁</p>

<h1>二十六、眼</h1>
<p>（案1）素本水不涵木，肝火過旺，加以外風觸動，遂致右目紅瘀，白翳已滿黑睛似魚胞。右頭角及眉稜皆痛，不能安臥，脈象弦數，口中作苦。擬方先望頭痛速止，可保無虞。</p>
<p>蔓荊子　茯神　橘絡　牛蒡子　蟬衣　草決明　殭蠶　前胡　荷葉筋　燈草　石決明　杏仁　歸尾　石燕子</p>

<h1>二十七、積聚</h1>
<p>（案1）癖積日久，現因勞過盛而發，致寒熱往來，兩脈弦數，大便秘結。擬大柴胡法，取其解表通里，以冀通則不痛。</p>
<p>柴胡　白芍　枳殼　厚朴　甘草　黃芩　半夏　大黃　赤苓　生薑</p>
<p>（案2）瘧母多年，即《難經》名曰肥氣，胸膛已佔大半。近來鬱怒動肝，絡血外溢，去血頗多，營分大虧，致心悸頭眩，身倦膚黃，脈象弦澀。擬柔肝和營，仍須戒怒遠煩，方免絡血復溢。</p>
<p>白芍　牡蠣　丹皮　遠志　柏子仁　當歸　木瓜　茯神　石斛　穭豆衣</p>

<h1>二十八、肝氣（附肝鬱）</h1>
<p>（案1）七情不適，鬱勃於內，致肝失調達之性，脾失上升之權。胸脘阻塞，氣滯濕凝，脈象弦滑。速宜安閒勿勞，佐以藥餌，方見功效。</p>
<p>蘇梗　川樸　玉金　佩蘭葉　佛手露　半夏　青皮　廣皮　香附子</p>
<p>（案2）肝鬱夾痰，互凝中焦，致上下不交而痞象成。脹痛並見，須噦吐痰涎或噯泄方舒，兩脈弦滑。倘再操勞鬱怒，有中滿痰膈之虞。</p>
<p>枳實　冬朮　橘皮　香附　厚朴　萊菔子　鬱金　半夏　蔻仁　芥子　蔞皮　枇杷葉</p>
<p>（案3）肝鬱日久，氣久貫膈沖喉，加之濕痰凝互，項間瘰如串珠，氣火復化風上擾，陽明脈絡皆為不利。茲當清肝平風，佐理濕痰。但恙情從志內傷而起，非旦夕可圖功效。尤當戒怒遠煩為宜。</p>
<p>桑葉　丹皮　山梔　鉤藤　石斛　甘菊花　赤苓　苡仁　貝母　橘皮　荷蒂　苦丁茶</p>
<p>（案4）肝胃不和已十多年之久，加以茹素中虛，營衛兩虧，厥陰風動，頭眩肢麻。又經日久不肯節勞避煩，復令肝氣由胃系貫膈沖喉，致成梅核氣。能於安閒靜養，冀免增劇成病。</p>
<p>蘇梗　川樸　射干　金鈴子　橄欖核　半夏　橘絡　山梔　元胡索　佛手露</p>
<p>（案5）脾土不足，肝木乘之。致胸脘脹悶，胸中時而熱熾，寒熱往來，兩脈虛弦。擬逍遙散加味，所謂木鬱達之。</p>
<p>當歸　柴胡　丹皮　橘皮　叉石斛　白芍　茯苓　山梔　甘草　合歡皮</p>
<p>（案6）肝橫胃逆，胸痞咽阻，穀食難容，冷涎甜沫上泛，舌苔混膩。擬仲聖辛通滑潤法為治。</p>
<p>薤白頭　半夏　綠毛紅　枇杷葉　瓜蔞皮　射干　橄欖核　生薑汁</p>

<h1>二十九、肝脹痛</h1>
<p>（案1）肝木侮土，支飲入絡，左脅痹痛，脘腹膨脹，面色痿黃，穀食少進，脈象弦細。再延有土敗木賊之虞，擬方徐圖，戒怒遠煩為要。</p>
<p>茯苓神　半夏　木瓜　竹茹　於白朮散　蔻衣　川樸　朴硝　砂衣　乾絲瓜絡　蒺藜　橘皮　防己　佩蘭</p>
<p>（案2）火不生土，木來乘之，土濕內困。肝病善痛，脾病善脹，脹痛並見，肝胃不和也。大便間或溏瀉，濕氣下行，脈象沉弦而滑，怡情善調可愈此疾。</p>
<p>白芍　牡蠣　防己　甜瓜子　佩蘭葉　木瓜　蔻衣　橘皮絡　絡石藤　絲瓜絡</p>
<p>（案3）肝氣橫久，克脾犯胃，胸脹脅痛，脘中聚痞，遇煩勞悒鬱則痛，噦吐酸水痰涎，兩脈弦滑。必須戒怒遠煩，方免陰枯陽結歧變。</p>
<p>白芍　木瓜　牡蠣　半夏　吳萸　金鈴子　黃連　茯苓　橘皮　石斛　杷葉</p>
<p>（案4）操勞鬱怒，肝木偏橫，克脾犯胃。土受水制，陽明脈虛，致左肩臂脈絡痠痛引脅脘，嘈雜時形，得食較安，否則自汗不已，食入又覺脹悶，右脈細濡，左脈弦勁。速宜安閒靜養，以免增劇歧變。</p>
<p>木瓜　牡蠣　金鈴子　山梔　桑寄生　白芍　半夏　延胡索　茯苓　綠萼梅</p>
<p>（案5）從努力積鬱傷肝，致脾土轉輸失常，積濕成飲，清濁之氣混淆。遂令胸脘連脅串脹作痛，汩汩有聲，停脘則脘中嘈雜，凝臍則臍亙痹痛。甚則四肢酸倦，中氣下陷，復逼虛陽外露，兩顴發赤。詢二便如常，痛作時便多溏瀉。顯為濕痰熱蘊於腸胃之徵，正元丹主之。</p>
<p>正元丹</p>
<p>（案6）飢飽勞力，脅腹串脹作痛，餓則尤甚。擬建中加味治之。</p>
<p>白芍　桂枝　茯苓　金鈴子　粉甘草　當歸　黨參　橘絡　延胡索　紅棗肉</p>
<p>（案7）飢飽勞力，肝脾氣滯，脘腹脹痛，食入反出，再延非宜。</p>
<p>白朮　枳實　烏藥　香附　蔻仁　金鈴子　半夏　橘皮　青皮　川樸　元胡　佩蘭葉</p>
<p>（案8）因煩勞鬱悶，肝氣橫逆，脾胃失其轉輸，食入脹痛。擬泄法治之。</p>
<p>白芍　香附　枳實　蔻仁　金鈴子　川樸　赤苓　半夏　青皮　元胡　佛手露</p>
<p>（案9）胃痛聚痞已經有年，每交春季較重，脹痛吐酸，穀食難容。藥難霍然，戒怒遠煩為要。</p>
<p>金鈴子　橘皮　半夏　雅連　茯苓　元胡索　枳殼　白朮　吳萸　石斛　佛手露　杷葉</p>
<p>（案10）肝氣衝肺，左右升降失司，氣聚成痞，兩脅有形脹痛，氣逆則噯，咳噦痰涎，咽咽不利，倘經閉寒熱，難以為力也。</p>
<p>蘇梗　川樸　半夏　杷葉汁　佛手露　赭石　沙參　杏仁　旋覆花　新會皮</p>

<h1>三十、胃痛</h1>
<p>（案1）胃痛直犯心胞，加之伏邪內動，致寒少熱多，舌黃口渴作噦，脘腹結拒而痛，痛甚肢麻昏厥，倘加呃逆，則難以為力也。</p>
<p>豆豉　金鈴子　川樸　乾薑　甘草　半夏　延胡索　黃連　山梔　茯苓　黃芩　鬱金汁　杷葉</p>
<p>（案2）恚怒傷肝，肝氣橫逆，右脅牽腰痹痛，心下亦痛，胃受其戕矣。擬疏泄法治之。</p>
<p>白芍　烏藥　沉香　金鈴子　枳殼　青皮　鉤藤　橘絡　延胡索　茯苓　寄生</p>
<p>（案3）痛當心位，肝氣犯胃之證也，擬烏沉飲治之。</p>
<p>臺烏藥　伽南香磨汁　煨姜　紅棗</p>
<p>（案4）肝胃氣痛，痛久聚瘀。每痛得鼻血則平，近來鼻血不衄而痛勢較重。茲宜宣絡化痰。</p>
<p>歸尾　桃仁　白芍　九香蟲　鹿角汁　茯苓　川楝　新絳　元胡索　佛手露　鬱金</p>
<p>（案5）素有胃氣，今遇感而發，痛不思食，背冷如冰，硬如石。擬方應手乃吉。</p>
<p>當歸　柴胡　五靈脂　香附子　橘絡　白芍　丹參　延胡索　伽南香</p>
<p>兼服九氣丹七粒，津液送下。</p>
<p>（案6）血不養肝，肝氣橫逆，脾土受侮。脘痛作噦，脈象沉細。延及年餘，痛久入絡。擬柔肝和脾合消瘀法治之。</p>
<p>鹿角汁　木瓜　蒺藜　鬱金　五靈脂　旋覆花　沙參　茯苓　半夏　省頭草　新絳</p>
<p>（案7）肝胃氣痛　嘔吐苦水。擬寒熱平調法，漸解乃吉。</p>
<p>黃連　桂枝　沙參　金鈴子　橘皮　乾薑　半夏　白芍　延胡索　甘草　杷葉</p>
<p>（案8）肝氣犯胃，月餘不平，痛而兼噦，營衛致虛。勿以淺視，慮其痙厥歧變。</p>
<p>半夏　橘皮　金鈴子　烏藥　當歸　白芍　元胡　香附子　甘草　赤苓　柴胡　沉香　枇杷葉</p>
<p>（案9）胃痛聚瘕，難以霍效。</p>
<p>金鈴子　鱉甲　香附子　橘皮　川厚朴　延胡索　白芍　鬱金　甘草　佩蘭葉</p>
<p>（案10）胃痛聚瘀，瘀去復聚，脘中阻脹刺痛，仍防外溢暴湧，戒怒遠煩為要。</p>
<p>白芍　木瓜　丹皮　歸尾　桃仁　參三七　金鈴　元胡　橘皮　藕節　降香</p>

<h1>三十一、腰痛（附腹痛、脅痛、腿痛）</h1>
<p>（案1）濕鬱化熱，襲入奇經，故季腹下及兩腿胯滲入大腸，肛門裂痛後墜，苦不可言。胸中懊惱，穀食懶進，煩熱熏蒸。前曾赤白帶下，味兼腥穢。痛甚肢冷，脈象沉弦。再延防其胃氣大傷，致生枝節。</p>
<p>絲瓜絡　甜瓜子　茯苓　瓜蔞皮　旋覆花　天仙藤　皂角子　橘皮絡　半夏曲　煨葛根　松子仁　滌飲散　甘草　郁李仁　木防己</p>
<p>（案2）寒濕內伏，腹痛雖稀，寒熱不清，舌黃口渴，脈弦自汗。擬烏梅丸為治，速解乃吉。</p>
<p>烏梅丸</p>
<p>又方：大黃　附子　乾薑　桃仁　橘皮　桂枝　甘草　當歸　芒硝</p>
<p>（案3）寒積因勞感寒而發，臍旁脹痛。擬當歸四逆法加味為治。</p>
<p>全方加金鈴子、延胡索、水紅花子</p>
<p>（案4）寒凝腹痛，痛甚防厥。</p>
<p>赤苓　白朮　白芍　附片　肉桂　生薑</p>
<p>（案5）寒熱並結，臍腹絞痛，防甚厥逆。</p>
<p>附片　橘皮　肉桂　茯苓　香附子　箱黃　枳殼　乾薑　甘草</p>
<p>（案6）抑鬱傷肝，肝旺克脾，脾虛生濕，濕盛成飲，飲盛成痰。由肝傳肺，痰與氣凝，右脅作痛，呼吸不利，困倦思眠，氣逼不舒，心煩嘈雜，脈象沉滑。書云滑主多痰，沉主多郁，乃屬肝旺脾虛之證。溫之不能，涼之不可，擬方兼而治之。</p>
<p>薑黃　瓜蔞皮　蔻仁　鬱金　杏仁　川貝　防己　香附子　枳殼　桔梗　通草　橘皮、絡　降香　半夏曲</p>
<p>（案7）肝氣入肺，氣機凝滯，右邊痹痛，痛甚防厥。</p>
<p>鬱金　蔻仁　金鈴子　川樸　枳殼　甘草　杷葉　瓜蔞皮　通草</p>
<p>（案8）操勞恚怒，肝氣入肺。左脅痹痛，轉側呼吸皆為不利。寒熱往來，但平素煙熱酒濕內發，咳痰味腥，脈象浮滑帶芤，慮其血湧肺脹暴變。</p>
<p>歸尾　桃仁　旋覆花　黃芩　杏仁　貝母　桑葉　瓜蔞皮　赤苓　橘皮　新絳　杷葉　柴胡　蔥管</p>
<p>（案9）肝邪入肺，右脅痹痛，痛連少腹，便秘尿赤。擬推氣散加味治之。</p>
<p>鬱金　通草　片薑黃　肉桂　橘絡　蔻仁　枳殼　枇杷葉　蔞仁、皮　杏仁</p>
<p>（案10）肺痹不宣，胃逆不降，致右脅連脘痹痛，痛引脊背。擬辛通滑潤法治之。</p>
<p>薤白　半夏　杏仁　橘皮　金鈴　延胡索　蔞皮　茯苓　枳殼　蔻衣　鬱金　佛手露</p>
<p>（案11）飢飽勞力，氣逆血滯，兩脅作痛，脹如針刺，咳吐夾瘀，日晡寒熱往來，食少神疲。已有勞傷之患，必須安閒勿勞，冀免增劇歧變。</p>
<p>桑葉　貝母　丹參　橘絡　歸尾　瓜蔞根　丹皮　鬱金　白芍　鱉甲　新絳　柴胡梢</p>
<p>（案12）寒濕著腰。</p>
<p>乾薑　白朮　橘絡　海桐皮　威靈仙　茯苓　羌活　杜仲　川薑黃　陳雪酒</p>
<p>（案13）由淋濁傷腎，腎氣不和，內不交於心，外不通於絡。凡心煩不寐則腰間作痛，必起坐方適，兩脈弦澀。青娥丸合宣絡為治。</p>
<p>破故紙　杜仲　沙苑子　核桃　鉤藤　枸杞子　歸尾　夜交藤　豬腰</p>
<p>（案14）外實內虛，多濕多痰，痰涎襲於奇經，辰下淫濁漸止，行血漸少。惟兩胯腰痛，下部墜脹，時輕時重。總由血不歸筋，痰涎乘虛肆虐，攻補兩難，溫涼兼忌，只可緩圖，以期漸解，欲速反致流弊也，慎之。</p>
<p>狗脊　絡石藤　茯苓、神　杜仲　絲瓜子　橘絡　瓜蔞霜　木瓜　續斷　桑寄生　半夏　赤白石脂　防己　牡蠣</p>
<p>（案15）頹疝較輕，胃逆較平，惟水飲留連奇經，肝腎故乘受飲。刻下痛自腰胯起，痛歸關元，上攻則吐，從前年調治，氣痛有年餘不發。今自夏五月愈發愈甚，逢感必作，陽氣愈虧，水飲愈甚，脈象沉滑。擬方以進一籌。</p>
<p>別直參　肉桂　防己　木瓜　於白朮散　旋覆花　殭蠶　橘絡　茯苓　鹿角汁</p>
<p>（案16）腎虛夾濕，腰痛多年，加以操勞過度，心熱移於小腸，致成淋濁。又經日久，藥餌驟難奏捷，戒怒遠煩為先。</p>
<p>杜仲　萆薢　生地　薏仁　車前子　白果　故紙　赤苓　蓮心　琥珀　胡桃肉</p>
<p>（案17）寒濕著痹，腰胯連腿作痛，擬方徐圖之。</p>
<p>於術　炮姜　赤苓　附片　杜仲　澤瀉　狗脊（酒浸）　牛膝　木瓜　甘草</p>
<p>（案18）寒邪直中厥陰，少腹作痛，痛滿小便不利，入暮則熱，神昏譫語，囊縮莖短，兩手循摸，胸脘痞硬，舌乾苔白口苦，渴不欲飲。病經五日，早晨便溏一次，時加厥逆，兩目上視，兩手脈象沉遲。勢屬不治，姑擬四逆法以希萬一之致。</p>
<p>當歸　桂枝　木通　乾薑　青蔥　白芍　細辛吧　附片　甘草</p>
<p>復診：加半夏、山梔、赤苓</p>

<h1>三十二、腫脹</h1>
<p>（案1）肝木橫行剋土，土虛不能制水，水飲痰熱交致於中，悸稍遜而未平，脹前而尤甚，脈滑而弦。肢腿浮腫，已有單腹之虞，再擬一方，以冀挽回。</p>
<p>於術　木瓜　大腹皮　廣皮　半夏曲　防己　芒硝　冬瓜子皮　茯苓、神　建澤瀉　竹茹　杷葉</p>
<p>（案2）患瘧三年，脾胃交虧，肺氣亦傷。寒濕據中宮，遍身瘡痍，面浮肢腫，脘腹膨大，臍突筋露，腹脹已著。深慮水溢高原，有肺脹歧變，擬方以盡人力。</p>
<p>苓皮　半夏　澤瀉　橘皮絡　五加皮　於術　沙參　杏仁　柴胡　豬苓　冬瓜皮　木香　麥冬　腹皮　南燭葉</p>
<p>（案3）休息痢三載，脾肺腎交虧。咳逆腫脹，已歷百餘日，脈象沉弦而澀。水臌已著，難以挽回，擬方以邀天相。</p>
<p>防風、己　羌活　澤瀉　省頭草　腹皮　於術　苓皮　煨葛　冬瓜皮　橘皮絡　附子　乾薑　半夏　五味子</p>
<p>用雞屎一升，夏布包封入瓶內，浸百花酒四斤，封口隔水煮線香一炷，每晚服二錢，加海南子二分，木香二分，川樸二分，碾細末，和酒燉溫飲之。</p>
<p>又，禹餘糧丸（三錢）　濟生腎氣丸（二錢半）　厚朴溫中丸（三錢）　輪服。</p>
<p>（案4）由利而痢，戊病傳癸也，不痛而墜是屬裡虛，白多於紅，全在氣分。自去秋延及十月，服藥全無效驗，茲雖不藥而愈，究屬便溏未止。正月間面浮肢腫，肚腹膨大，漉漉有聲，乃水氣濕邪未能分泄於小腸，內困脾土，外襲皮膚肌肉之間，兼之暴怒傷肝，肝氣上逆，有升無降，動則氣短，天癸愆期不至，仲景謂水分非血也。指交長夏，濕土司權，脈象弦澀，若不速圖，有水膨之虞。</p>
<p>於術　防己　冬瓜子、皮　半夏　蘇梗　桂枝　橘皮絡　大腹皮　川樸　澤瀉　附片　苓皮　生薑皮</p>
<p>（案5）肝木橫逆，上不畏金，下侮脾土，濕痰乘虛，困脾射肺，是有腫脹之漸，擬方應手乃吉。</p>
<p>五加皮　川樸　五味子　杏仁　廣陳皮　腹皮絨　乾薑　冬瓜皮　川貝　生薑皮　赤茯苓　細辛　白果葉　半夏</p>
<p>（案6）挹郁傷肝，肝氣犯胃，胃失下行之方，水飲停中，有升無降。脈象沉滑，形氣消索，面浮肢腫，已歷載余。肝胃氣血皆瘀，恙有腫脹之虞。擬方盡人力而邀天相。</p>
<p>茯苓　半夏　肉桂　花椒　益智仁　橘皮絡　烏梅　川貝　竹茹　白蜂蜜（和長流水揚高四十遍同煎）</p>
<p>復診：用大半夏湯</p>
<p>又方：黃連（五分），鮮杷葉（五片）　天水煎。</p>
<p>（案7）水與血摶，周身腫脹、咳嗽，血氣最懼水溢高原，有肺脹之虞，致生暴變。</p>
<p>蘇葉　杏仁　赤苓　桃仁　丹參　冬瓜皮　橘皮　枳殼　川樸　紅花　腹皮　生薑皮</p>
<p>（案8）飲食失節，寒溫失宜，致傷脾土，轉輸失其運用。濁陰內踞，已成腹脹大證。兩脈俱弦，難以挽回。</p>
<p>厚朴　赤苓　甘草　乾薑　腹皮　乾蟾皮　豬苓　枳殼　木香　砂仁　澤瀉　草蔻仁</p>
<p>（案9）積塊多年，脾土不運。加以暴怒急躁，肝木不司疏泄，致氣滯濕困，濕鬱成熱，而成單腹。擬方以盡人力。</p>
<p>白朮　赤苓　乾薑　車前子　雞內金　川樸　黃連　澤瀉　香元皮　香附子　腹皮</p>
<p>（案10）去秋產後失調，飲食失節，寒溫失宜，致血稽留少腹結瘕，脘中聚痞。水穀之濕不運，飲食日減，精神日疲。周身黃腫，脘腹膨脹，脈弦溺短，已成腫脹重症。擬調中化濕之劑，以觀進退。</p>
<p>於術　木瓜　川樸　赤苓　半夏曲　牡蠣　澤瀉　山梔　廣皮　穭豆衣　內金</p>

<h1>三十三、痞滿</h1>
<p>（案1）肝氣上升，胃鮮下降，兼之暑濕困脾，中州痞塞。穀食不思少納，亦屬不運。脈象弦澀，茲當開痞，擬仲聖瀉心法，取其降陽和陰，佐以宣濕為治。</p>
<p>半夏　乾薑　赤苓　通草　瓜蔞皮　黃連　黃芩　廣皮　滑石　枇杷葉</p>
<p>（案2）肝胃氣滯，滯久聚痞，脘中作痛，營衛兩虛，為寒為熱，脈象弦澀。治之不易，徐圖可也。</p>
<p>當歸　柴胡　茯苓　金鈴子　香附子　白芍　甘草　枳殼　雞內金　延胡索　冬朮　蔻仁</p>
<p>（案3）三瘧陷陰，延久致傷脾土，中州轉輸失司，有結痞之象。谷入不運，便閉尿赤。擬和解開胃法，痞能漸解，方免脹滿之變。</p>
<p>柴胡　半夏　乾薑　蔻仁　茯苓　生薑汁　黃芩　黃連　杏仁　枳殼　廣皮　鐵鏽水</p>
<p>（案4）春溫兩旬，胸痞作噦，舌苔沙白，大便結燥，乃臟結壞病之徵也。勉擬一方，盡人力以待天耳。</p>
<p>半夏　正瓜蔞　杏仁　枳殼　黃連　枇杷葉　黃芩　大貝</p>
<p>（案5）痰迷心胞，時明時昧。加以肝木侮土，濕痰內困，上下不交而痞象成。按之觸手而痛，穀食懶進，此乃病上加病也。擬方先冀痞開，方有轉機。</p>
<p>橘皮　省頭草　枳殼　黃連　赤苓　半夏　範志曲　於術　乾薑　竹茹　內金</p>
<p>又方：十棗丸</p>
<p>（案6）氣短咳逆，足跗皆腫，脘中痞結，三焦不通，濕困固結，牢不可破。灸臍後得痰數碗，咳喘較平，脈象略起。今日未灸，嗆咳復作，夜不能寐。證勢若此，上下皆虛，中空獨實，攻補兩難，有岌岌可危之勢。姑再擬消補兼施法，盡人力而邀天相。</p>
<p>於術（枳實水炒）　炙蟾皮　橘皮絡　杏仁　海浮石　半夏　省頭草　川貝　附片　雞內金</p>
<p>（案7）由利而痢，戊病傳癸也。表邪未清，胸痞已著，按之觸手而痛，邪滯互結，脈弦數。法當先治其外邪。</p>
<p>半夏　川貝　橘皮　蔻衣　生薑汁　川樸　乾薑　葛根　黃連　鬱金　藿香　鐵鏽水　赤苓</p>
<p>（案8）肺脾兩傷，氣短似喘，胸次結痞，按之拒手。兩脅作痛，足跗皆腫。不能安臥已四日矣。《易》曰：上下不交而痞象成。痞塞中宮，上下何能接續，腫何能消，食何能進。脈象細弱如絲，有外脫之虞。人虛病實，攻補兩難。勉擬灸法以盡人力。近屆小暑，加意提防為要。</p>
<p>黃連（四分）　巴豆（十三粒）</p>
<p>二味共杵爛，用紅棗漿做小餅，如當十錢大，置臍上，艾絨灸之。</p>
<p>（案9）七情不適，氣結於中，吸受新涼，引動伏邪。身熱不清，脘腹痞痛，按之尤甚。思飲作噦，脈象左大於右，深慮正不敵邪，致生歧變。</p>
<p>雅連　半夏　葛根　川樸　茯苓　灶心土　乾薑　藿香　通草　鬱金　橘皮</p>

<h1>三十四、噎嗝</h1>
<p>（案1）古稀已外，正陰交虧，加以鬱勃於中，肝橫胃逆，肺失下降之令。致氣痰作阻，膺胸痞結，上不得入，下不得出，有陰枯腸結之患。茲擬辛通滑潤之劑，以觀進退。</p>
<p>薤白頭　半夏　鬱金　川楝　橘紅　地慄　瓜蔞皮　杏仁　貝母　元胡　水母</p>
<p>（案2）痰飲咳久，肺虛失其治節，加以操勞悒鬱，肝木橫行無忌，阻塞賁門之脂，已成噎症。能予安閒調理，庶幾帶病延年。</p>
<p>天冬　阿膠　乾薑　細辛　甘草　枇杷葉　百合　半夏　五味　射干　橘皮</p>
<p>（案3）向來肝腎不足夾濕之體，此因肝氣橫逆，克脾犯胃，致清陽莫續。脘悶不舒，食入作阻，噦吐酸沫，痰涎上泛，肌肉日瘦，精神日疲，脈象弦滑。慮入神思間病，速宜怡情開懷為要。</p>
<p>雅連　吳萸　薤白　半夏　貝母　瓜蔞皮　鬱金　橘紅　赤苓　通草　佛手</p>
<p>（案4）肺氣不降，肝氣不升，升降失常，食入作阻。陰絡受傷，雖經便血，脈象沉弦。久則液枯氣結，有關格之虞，姑擬一方，盡其人力。</p>
<p>天冬　乾薑　杏仁　赭石　枇杷葉　竹茹　百合　五味　半夏　貝母　千捶木　柏葉　阿膠　細辛　射干　石斛</p>
<p>（案5）命火不足，不能生土。抑鬱動肝，肝木侮土，飲食不歸正化，遂變蒸而為痰。痰與氣搏，升降失常，道路妨礙，食入則阻，向有脾瀉，肌肉消瘦，脈象弦細而滑。久則防氣結津枯入神思間病。</p>
<p>天門冬　乾薑　射干　橘皮絡　糯稻根　百合　五味　石斛　赤芍　細辛　半夏　沙參　杷葉（長流水煎）</p>

<h1>三十五、嘔吐噦</h1>
<p>（案1）肝強脾弱，水穀不運，遇煩勞鬱怒，則脘中氣逆作嘔，頻仍便瀉。方適日晡作熱，已延日久。藥餌固難霍效，且戒怒遠煩為要。</p>
<p>橘皮　枳實　石斛　白蔻仁　茯苓　半夏　白朮　青皮　省頭草</p>
<p>（案2）肝胃不和，氣逆胸脘脹悶，噦吐痰涎酸水，擬左金合疏泄法治之。</p>
<p>吳萸　橘皮　白朮　石斛　佩蘭葉　雅連　半夏　枳實　茯苓　枇杷葉</p>
<p>（案3）肝虛伏飲，咳嗽上氣，加以肝木犯胃，胸脘脹痛，咳嘔酸涎，癸水數月不至。速宜戒怒遠煩，冀其漸解乃吉。</p>
<p>桑葉　麥冬　半夏　赤苓　鮮石斛　丹皮　苡仁　橘紅　甘草　枇杷葉</p>
<p>（案4）飢飽勞力，致傷肝胃，胸脘串痛甚劇，嘔吐酸涎。已經日久，難以霍效，擬方徐圖之。</p>
<p>白芍　香附　金鈴　蔻仁　半夏　益智仁　青皮　石斛　元胡　茯苓　山梔　佛手露</p>
<p>（案5）肝胃不和，脹痛嘔吐，甚則食入反出。脈象細滑，若不調治，有反胃之虞，擬不換金正氣法合左金以佐治之。</p>
<p>茅朮　川樸　蘇梗　茯苓　半夏　煨姜　陳皮　甘草　烏梅　鬱金　吳萸　黃連</p>
<p>（案6）瘕痞串痛較定，嘔吐嘈雜未平。酉時氣血注於腎，腎者胃之關也。每屆酉時噦嘔嘈雜較重，其為土敗無疑。甚則數日吐出完穀不化。《經》云：四時百病以胃氣為本。又云：得谷者昌。但病延日久，正氣大傷，納穀甚少。漸近春分大節，加意提防為要。客途未便，返棹為宜。</p>
<p>白朮　川貝　沙參　川椒　伏龍肝　麥冬　木瓜　茯苓　橘皮　烏梅　生薑汁　石斛　半夏</p>
<p>（案7）《經》云：胃乃衛之本，脾乃營之源。肝陽擾胃，濕痰困脾，遂乃營衛不和，時寒時熱，噦吐頻作，頭目不清，身倦神疲。脈象細滑，擬方徐圖之。</p>
<p>半夏　煨姜　赭石　伏龍肝　荷蒂　茯苓　烏梅　橘皮絡　紅棗肉</p>
<p>（案8）肝氣犯胃，胃失下行之順，噦吐涎沫，脈象弦滑，若不速圖，有反胃之虞。</p>
<p>西洋參　赤苓　烏梅　竹茹　制半　川椒　黃連　白蜜　長流水煎。</p>
<p>（案9）體質素虛，陰陽失職，脾虛胃弱，非一日矣。夏秋以來，感受外邪，愈而復作，已經四次，吐瀉不已。辰下風寒雖解，嘔吐未止，手足蠕動，脈象細濡，防其嘔久胃傷，致生枝節。擬用附子粳米湯，獲效乃吉。</p>
<p>附片　高麗參　半夏　粳米　粉甘草　南棗</p>
<p>（案10）閱來恙情中虛，濕熱之體，病由木火刑金，而成大衄，得清營甘寒之劑，鼻血雖止，陽絡已經大傷。《經》云：陽絡主胃，陰絡主脾。脾胃互相表裡。土虛肝木來乘，致飲食難進，胸悶作噦，腹痛便溏，溺少墜脹。加以血後營液未復，現心悸不安，寐不成寤。年老二氣俱衰。當此中州失其轉輸，恐難久恃，泐此謹覆。擬戊巳湯加減，然否請政。</p>
<p>東洋參　赤茯苓　留白陳皮　土炒木瓜　夜交藤　炒白芍　白扁豆衣　金釵石斛</p>
<p>白晚米飯糰一致，用荷葉一張包好，煎湯代水。</p>
<p>（案11）肝強脾弱，脾不能為胃行其津液，蓄而為飲。食入不運，每早脘中嘈雜，噦吐苦水。但脾脈連屬於腎，腎為胃關，遺滑頻見，怠惰嗜臥，日晡潮熱。先理肝脾，佐以攝腎。</p>
<p>於術　橘皮　益智仁　赤苓　菟絲子　甘草　半夏　沙苑子　石斛</p>
<p>二診：加木瓜、白芍</p>

<h1>三十六、虛損（附勞證）</h1>
<p>（案1）久咳不已，肺虛不能下蔭於腎，腎虛子盜母氣，以致營衛兩虧。寒熱往來，遺泄頻頻，兩脈虛弦，勞瘵已著。擬金水同治，多酌明哲。</p>
<p>西洋參　麥冬　熟地　萸肉　旱蓮草　白毛燕　霞天曲　五味　山藥　天冬　女貞子</p>
<p>（案2）由子嗽延及產後，更加亡血過多，營衛兩虧，即上損從陽，下損從陰。近來寒熱不止，咳逆無休，側眠食減，肌肉消瘦，脈象虛弦而數。損怯之勢已著，擬金匱麥冬法，以盡人力。</p>
<p>洋參　桑葉　半夏　青蒿　毛燕　麥冬　杏仁　甘草　鱉甲　粳米</p>
<p>（案3）先後天向屬不足，經營操勞過度，心脾兩虛。此因悲鬱傷中，致中氣不振，心悸肉瞤，食入易汗，臥不安眠。脈象虛弦，情志兩傷之病。必須自開懷抱，安閒靜養，方可與藥餌兼功。</p>
<p>黃耆　冬朮　合歡皮　洋參　棗仁　桂圓肉</p>
<p>（案4）鬱怒傷肝，木扣金雞，以致營衛交虧，乍寒乍熱。更加陰不內守，癸水淋漓。脈象虛數，損怯根基已露。速當安閒靜養，佐以藥餌，方可化凶為吉。</p>
<p>桑皮　青蒿　阿膠　地骨皮　牛蒡子　杷葉　杏仁　鱉甲　甘草　馬兜鈴　晚米</p>
<p>（案5）肺屬金，金空則自鳴，金破則不鳴，金實則無聲。咳經一載之久，音啞聲嘶，肺氣大傷。且年過花甲，陰氣自衰，腎水不能上升，肺陰愈不得下降矣。倘能安心調理，尚堪帶病延年。</p>
<p>西洋參　麥冬　桑皮　玉竹　筍衣　女貞子　石斛　貝母　甘草</p>
<p>白蜜和服，雞子清一枚沖服。</p>
<p>（案6）木扣金鳴，絡傷血溢，日久未解，營衛亦失其職，為寒為熱。此時肺陰不降，咳吐涎沫，穀食減納，面熱顴赤。脈象弦數，欲入損怯之途。</p>
<p>麥冬　半夏　洋參　茯苓　釵石斛　桑皮　丹皮　苡仁　甘草　梨皮　枇杷葉</p>
<p>（案7）心勞神損，脾勞食損。更加誦經吹樂，肺氣復虛，五勞有三，倘能六根清靜，或可帶病延年。</p>
<p>南北沙參　西洋參　甘草　茯苓　苡仁　扁豆衣　鮮石斛　晚米　玉竹　杏仁</p>
<p>（案8）居經三月，血不養肝，肝木肆虐，順侮土位，倒克肺金。經痰飲內擾，於是懊憹難名，咳逆氣促。痰中帶血，胸脅脹痛時行，延久營衛兩虛，寒多熱少，自汗不已。心悸頭暈，諸虛畢集，脈象弦細而數。久虛不復，防成損怯，然此際不可遽作怯證治也。</p>
<p>沙參　橘皮、絡　丹皮　瓜蔞霜　川貝母　蘇子　茅朮　杏仁　銀杏葉　竹茹　冬花　烏扇　茯苓神</p>
<p>（案9）操勞鬱怒太過，肝氣內橫日久。不獨下侮土位，且上不畏金。致胸脅脹悶，穀食減納，時而咽燥嗆咳。營衛延防，逼虛外露。速當澄心息慮，冀其轉損為益。</p>
<p>當歸　柴胡　桑皮　鬱金　佛手片　白芍　赤苓　貝母　橘皮　釵石斛</p>
<p>（案10）水虧於下，火炎於上，咳逆失紅，音啞側眠，骨中蒸熱，兩脈細數。勞怯之基已著，擬方多酌高明。</p>
<p>麥冬　青蒿　桑葉　鱉甲　石斛　旱蓮草　杏仁　夏曲　赤苓　沙參　女貞　雞子清</p>
<p>（案11）肺腎兩虛，宿飲上干已有年所。近來咳逆氣短尤甚。入秋後陽絡先傷，陰絡後繼，由此大便不實而帶血，又兼脫肛痔瘡，面目痿黃，穀食減少，形氣消索，脾亦受其累也。脈象弦細而數。再延日久，防成虛勞腫脹，慎之。</p>
<p>百合　茯苓　沙參　於術　姜半夏　胡桃肉　冬花　橘皮絡　青鉛　苓皮　蛤蚧</p>
<p>（案12）小產後正陰未復，寒熱時形。近來熱多寒少，兼之木火凌金，脾虛濕甚，咳逆頻來，面色痿黃，並帶心悸。脈象弦數，諸虛畢露，難以痊愈，勉擬一方，盡其人力。</p>
<p>沙參　杏仁　甘草　扁豆子　倉米露　貝母　歸尾　冬花　蜜炙於術　鱉血炒柴胡　桔梗　茯苓　白芍　杷葉露</p>
<p>（案13）痰飲年多，津液不足。脾胃不降，每咳必噦逆，谷少身熱，間來潮熱，右脈虛數，已屬損怯之象。速宜安心靜養，免其入伏生變。</p>
<p>麥冬　夏曲　西洋參　茯苓　扁豆衣　甘草　石斛　白毛燕　桑葉　薏苡仁　杏仁　橘紅</p>
<p>（案14）操勞過度，營虛氣弱，心悸盪漾，右耳鳴轟。加之腎陰不足，慮難驟效，徐圖可也。</p>
<p>黃耆　冬朮　洋參　當歸　遠志　桑葉　菊花　桂圓　棗仁　茯神</p>
<p>（案15）先後二天不充，加以操勞悒鬱，心腎有時不交，精關不固，肝木偏橫則脘痛嘈雜，化火生風則面熱頭暈，脈象弦數。慮延損怯，務須靜養乃有濟耳。</p>
<p>白芍　木瓜　牡蠣　桑葉　釵石斛　龜板　茯苓　山梔　丹皮　綠萼梅</p>
<p>（案16）肝鬱化火，熱傷陽絡，絡血外溢，每逢癸水至時，則絡血不見。纏綿日久，營衛由此致虛。日晡所以寒熱，頭眩心悸，遇煩勞胸次脹痛，穀食不運，遂覺火升面熱，脈象滑數。損怯之象已見，宜戒怒遠煩，佐之以藥餌，以冀轉損為益耳。</p>
<p>當歸　茯苓神　山梔　藕節　羚羊角　白芍　丹皮　甘草　生地　綠萼梅</p>
<p>（案17）操勞過度，心陽暗吸腎陰，腎水不涵肝木，遂令肝陽化風，頭目眩暈，心悸盪漾，入夜寤不成寐，時而筋惕肉瞤，乃內傷之徵。必須恬淡虛無，安靜幽閒，庶與藥餌兼功。</p>
<p>生地　元參　柏子仁　遠志肉　石決明　天冬　龜板　鮮交藤　酸棗仁　朱茯神</p>
<p>加山萸肉、山藥、丹皮　蜜丸。</p>
<p>（案18）小產後伏邪傷陰，咳逆吐沫，骨中燒熱，惡露淋漓不止，少腹脹痛，脈象弦數。由外感而成內損，難以調治，擬方盡其人力。</p>
<p>青蒿　生地　白芍　桑葉　甘草　鱉甲　丹皮　琥珀　茯苓　地骨</p>
<p>復診：加山梔、黃芩</p>
<p>（案19）骨蒸咳嗽，痰中帶血絲，側眠等症。</p>
<p>叭旦杏仁　青蒿　半夏曲　雲茯苓　細生地　地骨露　大荸薺　大鱉甲　肥知母　川貝母　粉丹皮　釵石斛　鮮杷葉　白海蜇</p>
<p>兼服五汁飲：梨汁、薺汁、藕汁、生地汁、甘蔗汁　每日兩次。</p>

<h1>三十七、吐血（附咳血、衄血）</h1>
<p>（案1）素本氣滯血瘀，加以暑濕傷絡，絡動血溢，脈象弦細，擬方徐圖之。</p>
<p>生地（大黃炒）　貝母　桑葉　旋覆花　茶花　藕節　杏仁　丹皮　橘絡　側柏葉　新絳</p>
<p>（案2）陽絡受傷，血隨火溢，咳逆肺氣受戕已延二年。嚮應節發，時有夢遺。脈尚細軟與症相合。惟近值夏至大節，不可不預為防之。</p>
<p>百合　沙參　白芍　石斛　旱蓮草　秋石　冬花　生地　茯神　甘草　白茅根</p>
<p>（案3）脾濕年久，已屬痼疾。加以多年氣血結瘕，亦為沉固。憂勞抑鬱傷肝，肝氣偏橫，致左脅脹痛，乳房痛引心背。心病入絡，絡血屢見。或如莧水或如紫塊，若作肺癰是無理也。</p>
<p>當歸　丹皮　牡蠣　金鈴子　木瓜　新絳　桃仁　山梔　橘絡　延胡索　鬱金　藕節</p>
<p>（案4）肝邪入肺，咳久化熱。右脅痹痛，痰中帶血，脈象滑數，慮其成痿。</p>
<p>桑葉　生地　貝母　黃芩　瓜蔞皮　甘草　丹皮　山梔　羚羊　枇杷葉</p>
<p>（案5）素本二天不足，客夏六月，酒傷肺絡，咳血頻來，肺腎交虧，動則氣短。每咳血之時，先行脘痛。脈象沉弦而數，若不調治，再延防成虛勞。務宜靜養為要。</p>
<p>茶花　茅花　茯苓神　絲瓜藤　杏仁　丹皮　山梔子　蔞皮霜　訶子皮　海浮石　橘絡　藕節</p>
<p>（案6）產後致虛，致令天癸未至。前曾驚恐傷膽，抑鬱動肝，木火凌金，遂令咳逆作噦。陽絡受戕，痰中帶血，肺陰交虧，側眠於右。胸中懊憹，心悸頭眩，漸虛畢露。脈象弦數，久虛不復，慮成損怯。然此時又不可實遽損怯治之。</p>
<p>杏仁　蔞霜　冬花　丹皮　海浮石　石斛　茅花　桑葉　橘絡　竹茹　荷葉露</p>
<p>（案7）木火凌金，咳逆不已，陽絡受戕，血隨火溢，形氣消索，脈象細數，延久恐成損怯。</p>
<p>咳血方加生地、丹皮、石斛、毛燕、旱蓮草</p>
<p>（案8）木扣金雞，絡傷血溢，陰分受傷，內熱頻來。腎不納氣，動則氣短。脈象細數而弦，防其湧溢生變。</p>
<p>紫菀　瓜蔞皮霜　訶子　丹皮　旋覆花　沙參　海浮石　山梔　杏仁　白茅根　石斛　旱蓮草　新絳</p>
<p>（案9）陽絡受傷，鼻血三載，木火凌金，咳逆不已。面色痿黃，久延防怯。</p>
<p>當歸　紫菀　杏仁　橘皮　紫胡　冬花　白芍　沙參　桑葉　桔梗　藕汁　丹皮　柏葉</p>
<p>（案10）木扣金鳴，咳而帶血。宜理肝脾佐清絡熱，戒怒遠煩為要。</p>
<p>桑葉　川貝　海浮石　綠海粉　訶子皮　丹皮　赤苓　瓜蔞子　枇杷葉　鮮藕節　山梔　青黛</p>
<p>（案11）勞傷咳血，血來甚湧。勿以淺視，慮其暴湧生變。</p>
<p>咳血方加生地、茅根、藕節、羚羊角、牛膝、丹皮</p>
<p>（案12）陽氣素虧，脾經多濕。辰下陽不衛陰，噦血頗多，入暮尤甚，脈象細濡。慮其外脫，擬仲聖柏葉湯，冀其挽回。</p>
<p>側柏葉　阿膠　半夏　艾葉　伏龍肝　炮姜　童便（一酒杯）</p>

<h1>三十八、痰飲（附痰熱、濕熱）</h1>
<p>（案1）水飲凌心則心悸，蔓延陽明則虛里穴動。膽熱則怯甚，入經絡則筋惕肉瞤。善怯多疑，善慮多思，皆膽虛痰多之幻境也。前經調治，漸次向愈，水到渠成，勿過慮也。</p>
<p>茯苓神　於術散　石決明　夜合花　瓜蔞霜　防己　絡石藤　粉丹皮　半夏曲　秫秫米　橘皮、絡　首烏藤　鮮竹茹</p>
<p>（案2）症由驚恐傷膽，抑鬱動肝，思慮傷脾。脾陽不運，因而穀食不歸正化，遂令變蒸為痰。痰飲襲於奇經，溢於四末。六年前，肩井如折，背如負物，肢體麻木，右肩左體尤甚。初患此症，次年即患痰飲射肺，於是咳逆氣促，延有兩年之久方解。細審此症，非類中，亦非痹症，是屬溢飲。至善怯多疑乃膽經症，易煩多恐乃肝經症也。脈象弦滑沉細，顯系始於肝膽，中於痰飲，終於陽虛也，無疑矣，延久根蒂過深，體虛症實，攻補兩難。能於戒怒遠煩，打破疑團，尚可改重就輕耳。</p>
<p>天仙藤　茯苓、神　橘皮絡　火麻仁　瓜蔞仁　海桐皮　半夏　防己　郁李仁　絲瓜藤絡　秫秫米</p>
<p>（案3）火不生土，木來乘之。水飲停中，痞結攻衝，吐痢並見，脈象沉弦。指日夏至一陽初生，症屬陽虛氣不虛，轉機全系乎此。擬柔肝和胃，再冀時令陽生，自可有濟。</p>
<p>北沙參　茯苓、神　防己　烏梅　製半夏　川椒　橘皮　薑汁</p>
<p>（案4）脾陽虛而生濕，濕聚則為飲，飲聚則為痰。犯於肺則咳，犯於胃則煩，布於四肢則無力，上騰清竅頭目眩暈，甚則心悸不安。書云：痰飲凌心則心悸，不獨虛之為病，痰亦能為患也。能於安閒靜養，庶克有功。</p>
<p>龍齒　防己　酸棗仁　於術散　貝母　山梔　鬱金　石決明　菊花炭　燈心</p>
<p>（案5）煩勞傷氣，急躁傷肝。肝失調達，胃失沖和。五年前曾患胃痛，時發時愈，今春舉發較重。命門火衰，火不生土，濕痰入絡，水飲停中。遂致腸鳴漉漉，攻衝作痛。噦吐清涎水頗多。假火浮於上，故時而嘈雜。真陰虧於下，故小溲不多。胃虛則食少，脾虛則神疲，舌白脈浮。擬方速退乃吉。</p>
<p>於術散　茯苓　橘皮絡　貝母　益智仁　伏龍肝　蒺藜　砂、蔻衣　防己　肉桂子　絲瓜絡　夏曲</p>
<p>（案6）木火體質，善怒多郁。肝氣易升，膽腑亦失其清淨，致頭目眩痛。心悸作煩，手足蠕動。兩脈弦數，心脈較大。務宜安閒靜養，方免釀痰歧變。</p>
<p>桑葉　石決明　生地　菊花　釵石斛　丹皮　穭豆衣　龍齒　竹茹　蓮子心　山梔　羚羊角　茯苓　茯神</p>
<p>（案7）積濕成飲，積飲成痰。痰飲伏於肺胃之間。每早必痰涎出方適。肌膚癮疹屢發，頭眩身倦，脈象弦滑。擬用外臺茯苓飲增味治之。</p>
<p>茯苓　黨參　冬瓜子　苡仁　甘草曲　冬朮　枳殼　地慄粉　蒺藜　陳皮（留白）</p>
<p>（案8）病久脾虛伏熱，廉泉穴開，涎沫自滲。擬甘露飲治之。</p>
<p>甘露飲　外服六君子丸</p>
<p>（案9）肺經積飲，從悲鬱受寒所致。已七八年之根株難斷，改重就輕而已。</p>
<p>小青龍湯加茯苓，去細辛，加胡桃、杏仁、太子參</p>
<p>（案10）心腎不交，精關不固。肝膽痰熱內伏，魂夢紛紜。擬十味溫膽法治之，息心靜養為要。</p>
<p>鮮生地　酸棗仁　麥冬　半夏　橘紅　西洋參　遠志肉　龍齒　茯苓　枳實　蓮子心　夜交藤　竹茹</p>
<p>（案11）兩脈滑數異常，按之舞指。昨服十棗丸，未見其效。可見痰熱窠囊已固。是以虛里穴動，動則有形。書云：滑主多痰，數則為熱。又云：面色鮮明為飲。其理也然。據此諒無誤矣。</p>
<p>於術　橘皮、絡　澤瀉　冬瓜子　半夏曲　竹茹　茯苓、神　枳殼　防己　風化硝　秫秫米</p>
<p>（案12）肝旺膽虛，痰熱內憂，喉間不利，胸中懊憹，多疑善慮，夢寐不安，神思恍惚，脈象弦滑。速當自開懷報，與藥餌兼功。</p>
<p>桑葉　海浮石　石斛　山梔　合歡皮　丹皮　夜交藤　橘皮絡　茯苓　金橘葉　貝母　射干片　蔞霜　竹茹</p>
<p>膏方加南北沙參、蘇子、葉、地慄、半夏曲、水母　蜜收膏。</p>
<p>（案13）胸中懊憹嘈雜，頭目眩暈，舌蹇便數，少腹膨脹。痰甚上阻於喉，睡臥不安，上實下虛，脈象沉滑。總由體虛痰熱內擾，心腎不交，肝膽不和所致。速當戒怒遠煩，庶免類中之虞。</p>
<p>丹皮　川貝　合歡皮　茯神　八楞麻　荷葉、絡　橘皮絡　桑葉　夜交藤　梨肉　石決明</p>
<p>（案14）結縭十載余，從未得孕。衝任二脈之故。近來氣化為火，液化為痰。痰熱內擾，蔓延經絡，遍身脈絡酸楚。痛久營衛亦虛。熱自內生，化風上騰，頭目時眩，胸中嘈雜，寤不成寐，寐則多夢。癸水愆期色紫。脈象弦滑而數。速宜靜養勿勞，冀其與藥餌兼功。</p>
<p>桑葉　山梔　知母　酸棗仁　半夏　防己　丹皮　茯神　貝母　石決明　木瓜　蒺藜　秫米　橘絡　交藤</p>
<p>（案15）操勞過度，內郁生痰，痰凝清道，或右肢麻痹，或肩臂不適。甚則寤不成寐，思慮紛來。天癸未期而至，脈象弦細而滑。能於息心靜養，佐以藥餌可先免類中之虞。</p>
<p>制豨薟　血竭　桑寄生　半夏　秫米　鹿銜草　木瓜　何首烏　茯神　橘絡　絡石藤　防己　絲瓜藤</p>
<p>（案16）素有支飲咳喘，冬夏時作。客冬產後，百脈空虛，乘虛而作，延及五旬有餘，今春方解。三月間飲邪留連經絡，遂令指臂腰腿痛，痛雖皆痊而下部仍然不動不痛。治非溫通經絡不可。然痰中時帶血絲，絡中有熱可知。脈象沉弦而滑。用藥頗難，著手擬方，緩圖可也。</p>
<p>鹿銜草　於術　橘皮、絡　防己　新絳　旋覆花　杏仁　茯苓　木瓜　桑枝　絲瓜絡　夏曲</p>
<p>（案17）宿飲射肺，咳經日久。飲邪入絡，於是遍身麻痹，兩臂作痛，脈象弦軟無神，防成類中。</p>
<p>冬花　杏仁　川貝　絡石藤　海桐皮　橘皮、絡　茯神　半夏　枇杷葉　嫩桑枝</p>
<p>（案18）痰飲多年，肺、脾、腎三臟虛久。加以情懷挹郁，肝失調達，肝藏血，血主筋，血不榮於絡脈，濕痰乘虛襲入。四肢作麻，膚腫筋痛，右脅氣逆，難以轉側。口角時或流涎，慮有僕中之虞。今春雖經失紅，溫燥之品固忌。茲診兩關弦細，仍宜溫通絡脈佐化濕痰。</p>
<p>防己　苡仁　半夏曲　橘紅　絲瓜絡　木瓜　茯苓　豨薟草　蒺藜　桑寄生　桂枝　秦艽　川牛膝　桐皮</p>
<p>（案19）體豐氣虛，多濕多痰。陽明脈虛，虛里穴動，四肢痠軟。氣虛不能傳送，大便難解，穀食不甘，脈象細滑。如此情形，所慮皆類中耳。能於善調，有備無患。</p>
<p>豨薟草　川貝　半夏　橘絡　烏飯葉　白蔻衣　省頭草　沙參　防風　茯苓　零餘子　血竭</p>
