<header data-type="book">
<h1>醫學碎金</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周禮</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1415">公元1415年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>原夫醫道之來尚矣，自神農嘗百草而始有醫藥，繼至軒岐問答而成《素問》《靈樞》之書，俾運氣之推遷，臟腑之虛實，標本之病能，垂訓萬世，真有以措斯民於無扎瘥橫夭之患矣。迨及伊尹述湯液本草而神農之功著，秦越人注《難經》而《素問》之理明，然越人去古未遠，意旨周密，人未易曉。至於漢晉唐，若張長沙制《傷寒活人書》、王叔和注《脈決》，孫思邈著千金諸方而斯理始昭然矣。沿至遼宋，劉守真、張潔古、李東垣、張子和輩迭出，無非所以闡明，夫前賢往聖之妙旨為言，而斯理又大彰矣，則醫之為書，可謂備矣；活人之方，可謂盡矣；其濟人利物之功，豈小補云？惜乎，後之學醫者，見其卷帙繁拏，理趣淵微，議論玄遠，雖常觀讀，猶未得旨，至使或有求意而不得者，亦有棄而不用者，苟以醫鳴於世，不過執以方書，對證發藥爾，豈知年之運氣，時之勝復及標本虛實之由，臟腑邪正之能哉。噫！真可謂棄本而逐末，盲己而誣人者矣。夫人之生死繫於醫，醫之本，原出於經，苟舍經而他求，其害豈可勝言。余幼習儒書，長究醫業，浪跡江湖間三四十年，探考樞素，繹絡群方，未嘗敢怠，遇有名醫，輒往請益，得其方書之善者，則拜受鈔錄，惟恐有失，迨茲暮年尚有欠焉，此蓋由余之資鈍質愚故耳，幸遇</p>
<p>聖朝恩彌六合，濡及蒿萊，叨授良醫正，領職以來，戰戰兢兢，欲圖補報，將何能哉？荷蒙，賢王體天地生物之心為心法。皇上好生之德為德。嘗諭：護衛遴選聰明俊逸子弟，委臣禮等教授軒岐諸家之書，愚切有懼焉！何患？弟子初學，非惟一時不能以造其微，而尤恐有類向之盲己誣人之患者。是以忘其固陋，每遇公暇，輒於《難經》、《素問》與夫歷代名醫書中，搜索玄微，撮其切要，間亦竊附己意，撰成歌括，次第成帙，以授諸生，使其讀。取數句以上，則一臟腑之理渙然矣。斯其易學而易精，將見得之於心，應之於手，使方寸無疑，伸人生有賴，是亦小補云爾。書成，目之曰《醫學碎金》。諸生倘以予言不耄，玩讀詳味，久自得之，使杆格之病無，而微妙之理得，則一旦豁然貫通矣，豈不由碎金之投爐，煅煉溶化，欲成其器，一火而就乎。雖然斯理也，烏可自謂之至哉！但俟同志，恕予白首狂簡，改而正之，斯其美矣，於是乎書。</p>
<p><u>永樂十三年歲次乙未春二月上浣日，迪功郎良醫所，良醫正梅屋老人周禮自序</u></p>

<h1>卷之一</h1>

<h2>論人之育孕胚胎</h2>
<p>且如一晝夜，人受真氣八百一十丈。積之一月，計二萬四千三十丈。其氣蒸育胚胎，精血始凝溟涬混沌。受氣二月，孕秀胎結，男女始分其形。受氣三月，三焦品位脾胃已成。受氣四月，尻骨始露，筋絡羅布。受氣五月，五臟生成，孔竅開闢。受氣六月，六腑配合，十二經成。受氣七月，三焦氣闢，五臟六腑、七孔、八骸、九竅、骨筋肉脈、孫絡、精血、皮膚、毛髮、爪甲具焉。受氣八月，榮衛通流，隨母呼吸。受氣九月，神全氣足，魂魄安舍。十月受足真氣，男女受胎共二十四萬三千丈，氣變神靈，天命入體，胎結解根即遂誕生。</p>
<p>又曰：一月精血凝，二月形似盆，三月成三魂，四月成七魄，五月分五臟，六月定六腑，七月開七竅，八月神識具，九月宮室布，十月氣滿足。</p>
<p>又曰：一月如草頭露，二月如桃花，三月男女分，四月形象備，五月骨骼成，六月毛髮生，七月動右手，八月動左手，九月穀氣入胃，十月神具足而降生。</p>
<p>夫脾胃者，陰陽之男女；左右者，陰陽之道路；呼吸者，陰陽之出入；脈息者，陰陽之權衡；至數者，陰陽之度數也。</p>
<p><u>五臟主五竅</u></p>
<p>肝主眼，心主舌，脾主口，肺主鼻，腎主耳。</p>
<p><u>五臟所藏</u></p>
<p>肝藏魂，心藏神，脾藏意，肺藏魄，腎藏志。</p>
<p>五臟聲色臭味液，一臟有五，五五二十五，乃五行錯綜之道也。</p>
<p>肝　呼　青　臊　酸　淚　通於眼目也</p>
<p>心　笑　赤　焦　苦　汗　泄於皮腠也</p>
<p>脾　歌　黃　臭　甘　涎　溢於口唇也</p>
<p>肺　哭　白　腥臭辛　涕　潤於鼻竅也</p>
<p>腎　呻　黑　腐　咸　唾　生於牙齒也</p>
<p><u>三焦定位</u></p>
<p>上焦在膻中，中焦在中脘，下焦在膀胱上口。</p>
<p><u>三焦所統</u></p>
<p>三焦者，百骸之樞紐，九竅之通衢，五臟之關會，六腑之要津。</p>
<p><u>五臟所惡</u></p>
<p>心惡熱，熱則脈潰濁；肺惡寒，寒則氣留滯；肝惡風，風則筋燥急；脾惡濕，濕則肉痿腫；腎惡燥，燥則精竭涸，是謂五惡。</p>
<p><u>五臟五禁，又謂五裁</u></p>
<p>肝病禁辛，心病禁咸，脾病禁酸，肺病禁苦，腎病禁甘。以上口嗜而欲食之，不可多也，必自裁之，命曰五裁。</p>
<p><u>五臟受病禁食</u></p>
<p>肝病無多食酸，食酸則肉胝䐢而唇揭；</p>
<p>心病無多食苦，食苦則皮槁而毛拔；</p>
<p>脾病無多食甘，食甘則骨病而發落；</p>
<p>肺病無多食無，食辛則筋急而爪枯；</p>
<p>腎病無多食鹹，食鹹則脈凝泣而變也。</p>
<p><u>五臟生成</u></p>
<p>諸脈者皆屬於目，脈者血之府；諸髓者皆屬於腦，腦者髓之海；諸筋者皆屬於節，筋氣堅結皆絡於骨節之間也；諸血者皆屬於心，血居脈內故屬於心也；諸氣者皆屬於肺，肺藏三氣故也。</p>
<p><u>五臟所勞</u></p>
<p>盡神度量勞於肝，肝勞傷血，血少筋干；</p>
<p>曲運神機勞於心，心勞脈損，脈損神怯；</p>
<p>意外致思勞於脾，脾勞意損，意損肉脫；</p>
<p>預事而憂勞於肺，肺勞氣耗，氣耗生喘；</p>
<p>矜持志節勞於腎，腎勞髓稀，髓稀骨痿。</p>
<p><u>五臟五虛</u></p>
<p>肝虛氣入而為目昏，心虛氣入而為蕩，肺虛氣入而為喘，腎虛氣入而為腰痛，脾虛穀氣不入則為肉削。</p>
<p><u>五氣所病</u></p>
<p>胃為氣逆為嘁為恐，大腸小腸為泄，下焦溢為水，膀胱不利為癃（小便濁也），不約為遺溺，膽為怒，是謂五病。</p>
<p><u>五邪所亂</u></p>
<p>邪入於陽則狂，邪入於陰則痹，搏陽為巔疾（巔為首疾），搏陰則為瘖，陽入之陰則靜，陰出之陽則怒。以上是謂五亂。怒為恐。</p>
<p><u>五勞所傷</u></p>
<p>久視傷血，勞於心也，心主血故如是；</p>
<p>久臥傷氣，勞於肺也，肺主氣故如是；</p>
<p>久坐傷肉，勞於脾也，脾主肉故如是；</p>
<p>久立傷骨，勞於腎也，腎主骨故如是；</p>
<p>久行傷筋，勞於肝也，肝主筋故如是。</p>
<p>以上是謂五勞所傷。</p>
<p><u>五勞之疾</u></p>
<p>一則，有患喜怒，大便苦難，口內生瘡，此為心勞疾。</p>
<p>二則，有患短氣，面腫鼻不聞香，咳嗽脅滿，此為肺勞疾。</p>
<p>三則，有患面目乾黑，口苦神亂，視物不明，此為肝勞疾。</p>
<p>四則，有患舌卷強直，不得嘔酸，氣脹唇焦，此為脾勞疾。</p>
<p>五則，有患小便黃赤，兼有餘瀝，腰痛耳鳴，此為腎勞疾。</p>
<p><u>五邪所幹</u></p>
<p>有中風，有傷暑，有飲食勞倦，有傷寒，有中暑，此之謂五邪。</p>
<p><u>五邪為病</u></p>
<p>有虛邪，有實邪，有賊邪，有微邪，有正邪。所謂我生者，為實邪；生我者，為虛邪；我克者，為微邪；克我者，為賊邪；自病者，為正邪。</p>
<p><u>五臟運化</u></p>
<p>腎受其精，志強骨輕，腎復傳肝；肝受其精，目明筋柔；肝受於心，神爽志遠；心復受脾，智遠舒揚；脾傳於肺，氣和顏悅。</p>
<p><u>五氣所病</u></p>
<p>心為噫，逆氣也，胃氣所主。肺為咳，肝為語，脾為吞，腎為欠為嚏，嚏鼻氣也。</p>
<p><u>五精所並，精為火之精</u></p>
<p>並於心則喜，並於肺則悲，並於肝則憂，並於脾則哀，並於腎則恐。</p>
<p><u>五虛五實</u></p>
<p>五實為陽，陽毒者，為邪氣有餘。脈盛者心也，皮熱者肺也，腹脹者脾也，前後不通者腎也，贅悶者肝也。五實從火數故也。</p>
<p>五虛為陰，陰毒者，為正氣不足。脈細者心也，皮寒者肺也，氣少者肝也，泄痢前後者腎也，飲食不入者脾也。五虛從水數六，灸陰交穴，穴在臍下一寸是也。</p>
<p><u>五形志治法</u></p>
<p>形樂志苦，病生於脈，治之以針刺；</p>
<p>形樂志樂，病生於內，治之以針石；</p>
<p>形苦志樂，病生於筋，治之以熨引；</p>
<p>形苦志苦，病生於咽嗌，治之以百藥；</p>
<p>形數驚恐，經絡不通，病生於不仁，治之以按摩、醪藥。</p>
<p>以上是謂五形志也。</p>
<p><u>五敗之疾</u></p>
<p>面腫蒼黑，謂之肝敗；</p>
<p>手掌腫無紋，謂之心敗；</p>
<p>唇反黑色無紋理，謂之肺敗；</p>
<p>陰腫莖不起，謂之腎敗；</p>
<p>臍腫鼓脹滿，謂之脾敗。</p>
<p><u>七傷之病</u></p>
<p>一、陰汗；二、精寒；三、精清；四、精少；五、囊下濕；六、小便縮；七、夜夢陰人。</p>
<p><u>八邪之病</u></p>
<p>風者，虛也。委於皮毛，肺邪也。</p>
<p>寒者，實也。腎邪也。</p>
<p>暑者，熱也。積於血脈，心邪也。</p>
<p>濕者，水也。通潤津液，亦腎邪也。</p>
<p>飢者，餒也。谷不實胃，胃邪也。</p>
<p>飽者，逸也。谷實於脾，脾邪也。</p>
<p>勞者，疲也。苦於委汗，筋邪也。</p>
<p>逸者，樂也。筋緩肉疏，不能動轉，魂邪也。</p>
<p><u>九損之病</u></p>
<p>一、手足青；二、手足虛腫；三、爪枯齒禁；四、語聲散，鼻虛張；五、唇寒冷露；六、唇腫齒焦枯；七、手循衣縫；八、汗出而不流；九、舌卷卵縮。</p>
<p><u>六壞之病</u></p>
<p>當汗不汗，令人九竅閉塞，熱悶狂亂而死也。不當汗而強汗，令人鼻衄吐血，肺裂聲啞而死也。當下不下，令人腹壅脹滿，遍身浮腫，發黃而死也。不當下而強下之，令人腹痛，肚冷腸泄，瀉不止而死也。當灸不灸，令人陰氣衝心，胃中寒，寒而死也。不當灸而強灸之，令人火邪入內，熱亂淋血，發狂而死也。</p>
<p><u>五臟六腑寒熱相移論</u></p>
<p>腎移寒於脾，臃腫少氣。脾移寒於肝，臃腫筋攣。肝移寒於心，狂隔中滿。心移寒於肺，肺消。消者，飲一泄二，死不治。肺移寒於腎，為湧水者。</p>
<p>按腸不堅，水氣客於大腸，疾行則鳴，濯濯如囊裹，漿水之病也。脾移熱於肝，則為驚衄。肝移熱於心，則死。心移熱於肺，傳為隔消、為咳，甚者，為泄為痛。</p>
<p><u>六化之病</u></p>
<p>厥陰風化戰動；少陰熱化腫毒；陰明燥化乾渴；太陽寒化浮虛；太陰濕化濡泄；少陽火化狂燥。</p>
<p><u>五積名狀</u></p>
<p>肝之積，名曰肥氣。在左脅下如覆杯，有頭足久不愈，令人發咳逆，痎瘧連歲不已。</p>
<p>心之積，名曰伏梁。起臍上，大如臂，上至心下，久不愈，令人病，煩心。</p>
<p>脾之積，名曰痞氣。在胃脘覆大如盤，久不愈，令人四肢不收，發黃疸。</p>
<p>肺之積，名曰息賁。在右脅下覆大如杯，久不已，令人灑淅寒熱、喘咳，發肺癰。</p>
<p>腎之積，名曰奔豚。發於少腹，上至心下，若豚狀，或上或下無時，久不已，令人喘逆，骨痿少氣。</p>
<p><u>五泄皆有所受</u></p>
<p>胃泄者，飲食不化。色黃，即飧泄也。</p>
<p>脾泄者，腹脹滿泄。注食，即嘔吐逆，即濡泄也。</p>
<p>大腸泄者，食已窘迫。大便色白，腸鳴切痛，即洞泄也。</p>
<p>小腸泄者，溲而便膿血，少腹痛，即血泄也。</p>
<p>大瘕泄者，結也。裡急後重，數至圊而不能便，莖中痛。此五泄之要法也，即腸澼也。下痢赤白者，灸小腸俞是也。穴在十六椎下兩傍各一寸五分，累驗。</p>
<p><u>五腑各受五臟之色</u></p>
<p>小腸為赤腸，以心為合也。大腸為白腸，以肺為合也。膽者為青腸，以肝為合也。胃者為黃腸，以脾為合也。膀胱者為黑腸，以腎為合也。</p>
<p><u>六腑各有傳瀉、配合之道</u></p>
<p>《經》曰：「小腸者，受盛之府。大腸者，傳瀉行道之府。膽者，清淨之府。胃者，水穀之府。膀胱者，津液之府。小腸者，心之府。大腸者，肺之府。膽者，肝之府。胃者，脾之府。膀胱者，腎之府。」</p>
<p><u>五臟五和</u></p>
<p>肝和則能生氣；心和則能役氣；脾和則能養氣；腎和則能泄氣；肺和則能藏氣。</p>
<p>臟有五，腑獨有六者，何也？</p>
<p>謂三焦也，有原氣之別焉。主持諸氣，有名無形。其經屬手少陽，此外腑也。故言腑有六焉。</p>
<p>腑有五，臟有六者，何也？</p>
<p>謂腎有兩臟也，其左為腎，右為命門。命門者，精神之所舍也。男子以藏精；女子以系胞。其氣與腎氣通，故言臟有六也。</p>
<p>七衝門，何在？</p>
<p>唇為飛門，齒為戶門，會厭為吸門，會厭，謂咽喉，會合門，胃為賁門，太倉下口為幽門，大腸小腸會為闌門，下極，（肛門也），為魄門，故曰：七衝門也。</p>
<p>七傳者，傳其所勝也，間傳者，傳其子也。</p>
<p>假令心病傳肺，肺病傳肝，肝病傳脾，脾病傳腎，腎病傳心，一藏不再傳，故言七傳者，死也。</p>
<p>假令心病傳脾，脾病傳肺，肺病傳腎，腎病傳肝，肝病傳心，是子母相傳，竟而復始，如環無端。故曰：生也。</p>
<p><u>五苦六辛</u></p>
<p>五苦者，五臟為里屬陰，宜用苦劑，謂之酸苦湧泄，為陰。六辛者，六腑為表屬陽，宜用辛劑，謂之辛甘發散，為陽。</p>
<p>神藏五，形藏四，合為九藏，九候也。</p>
<p><u>神藏者</u></p>
<p>肝藏魂，心藏神，脾藏意，肺藏魄，腎藏志也。以其皆神氣居之，故云：神藏五也。所謂形藏者，皆如器外張，虛而不屈，含藏於物。故云：形藏也。所謂形藏者，四：</p>
<p>一頭角，二耳目，三口齒，四胸中是也。</p>
<p>五穀、五果、五畜、五菜所養。</p>
<p>五穀為養，謂粳米、小豆、麥、大豆、黃黍也。</p>
<p>五果為肋，謂桃、李、杏、慄、棗也。</p>
<p>五畜為益，謂牛、羊、豕、犬、雞也。</p>
<p>五菜為充，謂葵、藿、薤、蔥、韭也。</p>
<p>以上氣味合而服之，以補精益血。此五者有辛、酸、甘、苦、咸，各有所利，或散、或收、或緩、或急、或堅、或軟，四時五臟病隨五味所宜也，過食之反生其病矣。詳見下文。</p>
<p>又曰：陰之所生，本在五味，陰之五宮，傷在五味是也。</p>
<p>味過於酸，肝氣以津，則多津液，使小便不利。</p>
<p>味過於咸，大骨氣勞，短肌，心氣抑，咸走血也。大骨氣勞，咸傷腎也。</p>
<p>味過於甘，心氣喘滿，色黑，腎氣不行，甘性滯緩，食之令人氣喘，腎臟不平，土抑水也。</p>
<p>味過於苦，脾氣不濡，胃氣乃厚。</p>
<p>味過於辛，筋脈沮弛，精神乃央。（沮：注也，弛緩也。央：殃也。）</p>
<p>一便邪熱，分氣血二經治療。渴而小便不得，邪熱在氣分矣；不渴而小便閉，邪熱在血分矣。</p>
<p>八風，八方之風也，變則為癰腫，筋攣、骨痛者，傷東風、北風之變也。</p>
<p>風從東方來，名曰癭兒風。其傷人也，外在筋紐。</p>
<p>風從東南來，名曰弱風。其傷人也，外在於肌。</p>
<p>風從西南來，名曰謀風。其傷人也，外在於肉。</p>
<p>風從北來者，名曰大剛風。其傷人也，外在於骨。</p>
<p>由此四方之變，而病乃生。</p>
<p><u>十二經為十二官</u></p>
<p>心者，君主之官，神明出焉。肺者，相傅之官，治節出焉。肝者，將軍之官，謀慮出焉。膽者，中正之官，決斷出焉。膻者，臣使之官，喜樂出焉。脾胃者，倉廩之官，五味出焉。大腸者，傳道之官，變化出焉。小腸者，受盛之官，化物出焉。腎者，作強之官，伎巧出焉。三焦者決瀆之官，水道出焉。膀胱者，州都之官，津液藏焉。</p>
<p>又曰：氣化則能出矣。凡此十二官，不得相失也。</p>
<p><u>十二經藏象</u></p>
<p>心者，血之本，神之變也。肺者，氣之本，魄之處也。腎者，蟄。封藏之本，精之處也。肝者，罷（音皮）極之本，魂之居也。脾胃、大腸、小腸、三焦、膀胱者，倉廩之本。營之居也。</p>
<p><u>五味所禁</u></p>
<p>辛走（音搸）氣。氣病，無多食辛。</p>
<p>苦走骨，骨病，無多食苦。</p>
<p>甘走肉，肉病，無多食甘。</p>
<p>酸走筋，筋病，無多食酸。</p>
<p>咸走血，血病，無多食鹹。</p>
<p>是謂五禁。無令多食</p>
<p><u>五病所發</u></p>
<p>陰病，發於骨；陽病，發於血；陰病，發於肉；陽病，發於冬；陰病，發於夏，是謂五發。</p>
<p><u>五臟所主</u></p>
<p>心主脈，肺主皮，肝主筋，脾主肉，腎主骨，是謂五主。</p>
<p><u>五味所宜</u></p>
<p>肝色青，宜食甘，粳米、牛肉、棗、葵皆甘；</p>
<p>心色赤，宜食酸，小豆、犬肉、李、韭皆酸；</p>
<p>肺色白，宜食苦，小麥、羊肉、杏、薤皆苦；</p>
<p>脾色黃，宜食鹹，大豆、豕肉、慄、藿皆咸；</p>
<p>腎色黑，宜食辛，黃黍、雞肉、桃、蔥皆辛。</p>
<p>是故，辛散，酸收，甘緩，苦堅，咸軟。</p>

<h1>卷之二</h1>
<p><u>四時之氣，人或感之，有此之傷</u></p>
<p>春傷於風，邪氣留連，至夏乃為洞泄。</p>
<p>夏傷於暑，至秋髮為痎瘧。</p>
<p>秋傷於濕，至冬，上逆而咳，發痿厥。</p>
<p>冬傷於寒，至春，必溫病。</p>
<p>以上四時之氣，更傷五臟。</p>
<p><u>聲言衣食水</u></p>
<p>聲如從室中言者，是中氣之濕也。</p>
<p>言如微，終日乃復言者，此奪氣也。</p>
<p>衣被不欲，言語善惡，不避親疏者，此神明之亂也。</p>
<p>食廩不藏者，是門戶不要也。（要者，謂不禁要。）</p>
<p>水泉不止者，是膀胱不藏也。（水泉，謂前陰流注也。）</p>
<p><u>人身之表裡病見</u></p>
<p>頭者，精明之府。頭傾視深，精神將奪矣。</p>
<p>背者，胸中之府。背曲肩垂，府將壞矣。</p>
<p>腰者，腎之府。轉搖不能，腎將憊矣。</p>
<p>膝者，筋之府。屈伸不能，行則僂附，筋將憊矣。</p>
<p>骨者，髓之府。不能久立，行則振掉，骨將憊矣。（得強則生，失強則死。）</p>
<p><u>人之夢寐</u></p>
<p>陰盛則夢涉大水恐懼；陽盛則夢大火燔灼。</p>
<p>陰陽俱盛，則夢相殺毀傷。上盛則夢飛，下盛則夢墮。甚飽則夢與，甚飢則夢取。肝氣盛則夢怒，肺氣盛則夢哭。短蟲多則夢聚眾，長蟲多則夢相擊毀傷。</p>
<p><u>故人臥血歸於肝</u></p>
<p>心主血，肝藏血，動則血行於周身；靜則血歸於肝。故肝藏血也。</p>
<p>又曰：肝得血而能視，足得血而能步，掌得血而能握，指得血而能攝。</p>
<p>又曰：開鬼門（謂發其汗也），潔淨府（謂利水道也），去宛陳莝（謂去積久之物也）。</p>
<p>又曰：清陽實四肢，濁陰歸六腑。（四肢外動，故清陽實之；六腑內化，故濁陰歸之。）</p>
<p>又曰：水為陰，火為陽，陽為氣，陰為味。味歸形，形歸氣，氣歸精，精歸化。精食氣，形食味，氣化精，生味和形長。</p>
<p>又曰：陰勝則陽病，陽勝則陰病；陽勝則熱，陰勝則寒，則一意也。</p>
<p>又曰：重寒則熱，重熱則寒。寒傷形，熱傷氣。氣傷痛，形傷腫，故先痛而後腫者，氣傷形也。先腫而後痛者，形傷氣也。風勝則動，熱勝則腫，燥勝則乾，寒勝則浮，濕勝則濡泄。</p>
<p>又曰：清氣在下則生飧泄，濁氣在上則生䐜脹。清氣者，熱氣也。在下則穀不化，故飧泄。濁氣者，寒氣也。在上則氣不散，故脹滿也。</p>
<p>又曰：清氣出上竅，濁陰出下竅。（陽本乎天者，親上；陰本乎地者，親下。各從其類也。）上竅謂耳目口鼻，下竅謂前陰後陰。</p>
<p>又曰：清陽發腠理，濁陰走五臟。腠理謂滲泄之門，故清陽可以發散；濁陰為五臟包藏之所，故濁陰可以走之。</p>
<p>又曰：結陽腫四肢，結陰者便血。陰陽結，邪多陰少陽。曰：石水少腹腫，二陽結，為之消。二陽結，謂胃與大腸俱熱結也。（熱則喜消水穀也。）</p>
<p>又曰：三陽結，謂之隔。（三陽結謂小腸、膀胱、熱結也，故隔塞而不便瀉）</p>
<p>又曰：三陰結謂之水。（三陰結，謂脾肺寒結也，故則氣化為水。）</p>
<p>又曰：一陰一陽結，謂之喉閉。（一陰謂心脈，一陽謂三焦脈，二經之脈並絡喉。熱氣內結則患喉痹。）</p>
<p>又曰：陰搏陽別，謂之有子。（陰謂尺中也，陽謂寸口也。搏謂結於手也，尺脈與寸口殊別，則為有子。何者？謂陰中有別陽故也。）</p>
<p>又曰：陰陽虛腸闢死。（闢：陰也。謂胃氣不留，故腸間弗禁，倉庫不廉，則真氣竭絕，故死。闢：作澼。）</p>
<p>又曰：陰虛陽搏，謂之崩。（陰脈不足，陽脈有餘，故崩血下心。）</p>
<p>又曰：色者，神之旗。臟者，神之舍。故神去則臟敗，臟敗則色見異常之死候也。</p>
<p>又曰：飲食飽甚，汗出於胃；驚而奪精，汗出於心；持重遠行，汗出於腎；疾走恐懼，汗出於肝；搖體勞苦，汗出於脾。</p>
<p>又曰：邪氣盛則實，精氣奪則虛。氣虛者，肺虛也；氣逆者，足寒也。重實者，脈與氣俱實也。重虛者，脈虛、氣虛、尺虛是也。</p>
<p>又曰：陽者，天氣也。主外。地者，陰氣也。主內。故陽道實，陰道虛，若犯賊風虛邪者，陽受之。飲食不節，起居不時者，陰受之。陽受之則入六腑；陰受之則入五臟。入六腑則身熱，不時臥，上為喘呼。入五臟則填滿閉塞，下為飧泄，久為腸澼。故喉主天氣，咽主地氣，故陽受風氣，陰受濕氣。故傷於風者，上先受之；傷於濕氣者，下先受之。</p>
<p>又曰：熱傷氣，寒傷血。清陽上天，濁陰歸地。陽化氣，陰成形。寒極生熱，熱極生寒。寒氣生濁，熱氣生清，陽生陰長，陽殺陰藏。故清陽為天，濁陰為地。地氣上為云，天氣下為雨。雨出地氣，云出天氣。</p>
<p><u>三才以肖人</u></p>
<p>頭以配天，足以象地，五藏中傍人事。故天氣通於肺，地氣通於嗌，風氣通於肝，雷氣通於心，穀氣通於脾，雨氣通於腎。六經為川，腸胃為海，九竅為水，以天地為之陰陽。陽之汗，以天地之雨名之；陽之氣，以天地之疾風名之。暴氣象雷，逆氣象陽。</p>
<p><u>二陽之病，發心脾。有不得隱曲，故女子不月</u></p>
<p>二陽：謂手陽明大腸，足陽明之經脈也。隱曲：謂隱蔽，委曲之事也。夫腸胃發病，心脾受之，心受之則血不流；脾受之則味不化；血不流故女子不月；味不化則男子少精。是以隱曲之事不能為也。又曰：精不足者，補之以味，由是觀之，則味不化而精氣少也。又曰：胞胎者，繫於腎。又曰：月事不來者，胞脈閉也。胞脈者，屬於心而絡於胞中。令氣上迫肺，心氣不得下通，故月事不來，此其意也。</p>
<p><u>治病次第識其高下治法</u></p>
<p>邪風之至，疾如風雨，故善治者，治皮毛，其次治肌膚，其次治筋脈，其次治六腑，其次治五臟。五臟者，半死半生也。故天之邪氣，感則害人五臟；水穀之寒熱，感則害人六腑；地之濕氣，感則害人皮肉筋脈。因其輕而揚之，因其重而減之，因其衰而彰之（彰者：彰明氣色也）。形不足者，溫之以氣；精不足者，補之以味。其高者，因而越之（謂越揚上吐也）；其下者，引而竭之（謂泄下引也）；中滿者，瀉之於內（內謂腹內邪）；其有邪者，漬形以為汗（邪謂風邪，在表發之以汗）；血實者決之（以砭針去血）；氣虛者宜掣引之（導引其氣。）</p>
<p><u>治病舉綱論</u></p>
<p>且如病之一二言之，隔塞悶絕有氣窒之病，原其本得之於暴憂，不治其氣而釋其憂也。</p>
<p>且如女子不月，血滯之病也，原其本得之於心氣不下通也，不治其血，而通其心可也。</p>
<p>且如勞極，驚悸者，過傷也，勞於心，氣不足，使心氣內和，則精神莫得而動也。</p>
<p>且如頸痿者，風毒之病也，每傷於憂愁思慮之不止，使志意和通，則氣血自得而通暢，則凡治病之術不先制其所欲，正其所念，去其所惡，損其所恐，未有不能愈者也。</p>
<p><u>夫病有中外，治有緩急論</u></p>
<p>凡在內者，以內治法和之；凡在外者，以外治法和之；氣微不調，以氣法調之；其次大者，以平氣法平之；盛甚不已，則奪其氣，令其衰也。故《經》曰：「調氣之方，必在陰陽，定其中外，各守其鄉，內者內治，外者外治，微者調之，其次平之，盛者奪之，汗者下之，寒熱溫涼衰之，以屬隨其攸利也。」</p>
<p><u>五臟四時受病發咳</u></p>
<p>《經》曰：乘秋則肺先受邪，乘春則肝先受邪，乘夏則心先受邪，乘至陰則脾先受邪，乘冬則腎先受邪。又曰：何以異之？答曰：肺咳之狀，而喘息有音，甚則唾血；心咳之狀，則心痛，喉中介介如梗狀，甚則咽痛喉閉；肝咳之狀，則兩脅下痛，甚則不可以轉，轉則兩脅病；脾咳之狀，咳則右胠下痛，陰陰引肩背，甚則不可以動，動則咳劇；腎咳之狀，咳則腰背相引而痛，甚則咳涎。</p>
<p><u>六腑受病發咳</u></p>
<p>又曰：「六腑之咳，安所受病。」答曰：「五臟之久咳，乃移於六腑。脾咳不已，則胃受之。胃咳之狀，咳而嘔，嘔甚則長蟲出。肝咳不已，則膽受之。膽咳之狀，咳嘔膽汁。肺咳不已，則大腸受之。大腸咳狀，咳而遺失。心咳不已，則小腸受之。小腸咳狀，咳而失氣，氣與咳俱失。腎咳不已，則膀胱受之。膀胱咳狀，咳而遺尿。」</p>
<p><u>三焦受病發咳</u></p>
<p>又曰：「久咳不已，則三焦受之。三焦咳狀，咳而腹滿，不欲食飲，此聚於胃，關於肺，使人多涕唾而面浮腫，氣逆也。」</p>
<p>經曰：「人之五臟卒痛，何氣使然？」</p>
<p>答曰：「經脈流行不止，環周不休。寒氣入經而稽遲，泣（音澀）而不行。客於脈外則血少，客於脈中則氣不通，故卒然而痛。」又曰：「其痛或卒然而止者，或痛甚不休者，或痛甚不可按者，或按之而痛止者，或按之無益者，或喘動應手者，或心與背相引而痛者，或脅肋與小腹相引而痛者，或腹痛引陰股者，或痛宿昔而成積者，或卒然痛死不知人有少間復生者，或痛而嘔者，或腹痛，或後泄者，或痛而閉不通者。」凡此諸痛，各不同形，別之奈何？</p>
<p>答曰：「寒氣客於脈外，則脈寒。脈寒則縮蜷，縮蜷則脈細，急則外引小絡，故卒然而痛。得炅則痛立止（炅，熱也，下同）。因重中於寒，則痛久矣。寒氣客於經脈之中，與炅氣相搏，則脈滿，滿則痛而不可按也。</p>
<p>寒氣稽留，炅氣從上，則脈充大而血氣亂，故痛甚而不可按也。</p>
<p>寒氣客於腸胃之間，膜原之下，血不得散，小絡急引，故痛。按之則血氣散，故按之動止。</p>
<p>寒氣客於俠脊之脈，則深。按之不能及，故按之無益也。</p>
<p>寒氣客於衝脈，衝脈起於關元，隨腹直上寒氣，則脈不通，則氣因之，故喘動應手矣。</p>
<p>寒氣客於背俞之脈，則血泣脈泣，則血氣虛。血氣虛，則痛，其俞泣於心，故相引而痛。按之則熱氣至，熱氣至則痛止矣。</p>
<p>寒氣客於厥陰之脈者，絡陰氣繫於肝。</p>
<p>寒氣客於脈中，則血泣脈急，故脅肋與小腹相引痛矣。</p>
<p>厥氣客於陰股，寒氣上及小腹，血泣在下相引，故腹痛引陰股。</p>
<p>寒氣客於小腸膜原之間，絡血之中，血泣不得，注於大經，血氣稽留不得行，故宿昔而成積矣。</p>
<p>寒氣客於五臟，厥逆上泄，陰氣竭，陽氣未入，故卒然痛，死不知人。氣復反則生矣。</p>
<p>寒氣客於腸胃，厥逆上出，故痛而嘔也。</p>
<p>寒氣客於小腸，小腸不得成聚，故後泄復矣。</p>
<p>熱氣留於小腸，腸中痛，癉熱焦渴，則堅幹不出，故痛而閉不通矣。」</p>
<p>又曰：「所謂言而可知者也，視而可見。」</p>
<p>答曰：「五臟六腑，固盡有部也視其五色，黃赤為熱，白為寒，青黑為痛，此所謂視而可見者也。」</p>
<p>又曰：「捫而可得，奈何？」</p>
<p>答曰：「視其主病之脈，堅而血及陷下者，皆可捫而得也。」</p>
<p>故知百病生於氣也，故有九氣。九氣所生之病，怒則氣上，喜則氣緩，悲則氣消，恐則氣下，寒則氣收（寒則腠理閉，而氣不行，故氣收，寒則氣散，非也。），炅則氣泄，驚則氣亂，勞則氣耗，思則氣結。九氣不同，何病之生？</p>
<p>答曰：「怒則氣逆，甚則嘔血（故氣上矣）；喜則氣和志達，榮衛通利，故氣緩矣；悲則心系急，肺布葉舉而上焦不通，榮衛不散，熱氣在中，故氣消矣；恐則精卻，卻則上焦閉，閉則氣還，還則下焦脹，故氣不行矣；寒則腠理閉，氣不行，故氣收矣；炅則腠理開，榮衛通，汗大泄，故氣泄矣；驚則氣無所倚，神無所歸，慮無所定，故氣亂矣；勞則喘息汗出，內外皆越，故氣耗矣；思則心有所存，神有所拘，正氣留而不行，故氣結矣。」</p>
<p>又曰：「有病心腹脹滿，旦食則不能暮食，此為何病？」</p>
<p>答曰：「名為鼓脹。此食飲不節，故當病氣聚於腹也。」</p>
<p>又曰：「有病胸脅支滿者，妨於食，病至，則先聞腥臊臭，出清液，先唾血，四肢清，目眩，時時前後血，病名為何？何以得之？」</p>
<p>答曰：「病名血枯。得之年少時有所大脫血，若醉入房中，氣竭肝傷，故月事衰少不來也。」</p>
<p>又曰：「病有少腹盛，上下左右皆有根，此為何病？可治不？」</p>
<p>答曰：「病名伏梁。」又曰：「伏梁，何因而得之？」答曰：「裹大膿血，居腸胃之外，不可治。治之，每切按之至死。」</p>
<p>又曰：「何以然？」答曰：「此下則因陰必下膿血，上則迫胃脘，生膈俠胃脘內癰，此久病也，難治。居臍上為逆，居臍下為從，勿動亟奪。（亟，數也，奪，去也。言不可移動但數數去之，則可矣。）</p>
<p>又曰：諸風掉眩皆屬於肝；諸寒收引皆屬於腎；諸氣膹郁皆屬於肺；諸濕腫滿皆屬於脾；諸熱瞀瘛皆屬於火；諸痛癢瘡皆屬於心；諸厥固泄皆屬於下；諸痿喘嘔皆屬於上；諸禁鼓慄如喪神守皆屬於火；諸頸項強皆屬於濕；諸逆衝上皆屬於火；諸脹腹大皆屬熱；諸躁狂越皆屬於火；諸暴強直皆屬於風；諸病有聲，鼓之如鼓，皆屬於熱；諸病胕腫，痛酸驚駭，皆屬於火；諸轉反戾，水液渾濁，皆屬於熱；諸病水液，澄澈清冷，皆屬於寒；諸嘔吐酸，暴注下迫，皆屬於熱。</p>
<p>夫如大寒而甚，熱之不熱，是無火也。熱來復去，晝見夜伏，夜發晝止，時節而動，是無火也。當助其心。又如大熱而甚，寒之不寒，是無水也。熱動復止，倏忽往來，時動時止，是無水也。當助其腎。內格嘔逆，食不得入，是有火也。病嘔而吐，食久反出，是無火也。暴迫注下，食不及化，是無水也。溏泄而久，止發無常，是無水也。故心盛則生熱，腎盛則生寒，腎虛則寒動於中，心虛則熱收於內。又熱不得寒，是無火也。寒不得熱，是無水也。夫寒之不寒，責其無水。熱之不熱，責其無火。熱之不久，責心之虛。寒之不久，責腎之虛。有者瀉之，無者補之。虛者補之，盛者瀉之。居其中間，疏無壅之，令上下無礙，氣血通調，則熱自和，陰陽調達矣。是以《經》有治熱以寒，寒之而水食不入。治寒以熱，熱之而昏躁已生。此則氣不求通，壅而為是也。紀於水火餘氣可知。故曰：「有者求之，無者求之，盛者責之，虛者責之，令氣通調妙之道也。」</p>
<p>《經》曰：「病甚則棄衣而走，登高而歌，或至不食數日，踰垣上屋，所上之處，皆非其素乃能也。病反能者，何也？」答曰：「四肢者，諸陽之本也。陽盛則四肢實，實則能登高也。」又曰：「棄衣而走者，何也？」答曰：「熱盛於身，故棄衣而走也。」又曰：「其妄言罵詈，不避親疏而歌，何也？」答曰：「陽盛則惡人罵詈，不避親疏而不欲食，故妄走也。」</p>
<p>《經》曰：「足陽明之脈病，惡人，與聞木音則惕然而驚。鐘鼓不為動，聞木音而驚，何也？」答曰：「陽明者，胃脈也，胃者，土也，故聞木音而驚。土惡木也。」其惡火，何也？答曰：「陽明主肉，其脈血氣盛，邪客之則熱，熱甚則惡火。」其惡人，何也？答曰：「陽明厥，則喘而惋。」</p>
<p>惋，內鬱熱也則惡人。又或喘而死者，或喘而生者，何也？答曰：「厥逆連藏則死，連經則生。」</p>

<h1>卷之三</h1>
<p><u>五運化生並歌括</u></p>
<p>甲己化土，乙庚化金，丙辛化水，丁壬化木，戊癸化火。</p>
<p>歌曰：甲已化土乙庚金，丁壬化木盡成林，丙辛化水滔滔去，戊癸南方火炎侵。</p>
<p><u>六氣交節生氣並歌括</u></p>
<p>初之氣，自舊歲大寒至今歲春分，屬厥陰風木，謂之生氣；二之氣，自春分至小滿，屬少陰君火，謂之舒氣；三之氣，自小滿至大暑，屬少陽相火，謂之長氣；四之氣，自大暑至秋分，屬太陰濕土，謂之化氣；五之氣，自秋分至小雪，屬陽明燥金，謂之收氣；六之氣，自小雪至大寒，屬太陽寒水，謂之嚴氣。以上每候六十日，所運寒水迭，驗生成之機，明水旱之徵，識災祥之變也。</p>
<p>歌曰：大寒厥陰氣之初，春分君火二之居，小滿少陽三之氣，大暑太陰四氣呼，秋分陽明五之氣，太陽小雪六之餘。</p>
<p><u>標本運氣歌</u></p>
<p>少陽從本為相火，太陰從本濕土坐，厥陰從中火是家，陽明從中濕是我，太陽少陽標本從，陰陽二氣相包裹，風從火斷汗之宜，燥與濕兼下之可，萬病能將火濕分，撤開軒岐無縫鎖。</p>
<p><u>十二經絡水火分治法</u></p>
<p>膽與三焦尋火治，肝和包絡都無異，脾胃長將濕處求，肺與大腸同濕治，腎與膀胱心小腸，寒熱臨時旋商議，裡寒表熱小腸溫，裡熱表寒心腎熾。十二經，最端的，四經屬火四經濕，四經有熱有寒時，攻裡解表細消息，裡熱表寒宜越竭，表熱裡寒宜汗釋。濕同寒，火同熱，寒熱到頭無兩說，六分分來半分寒，寒熱中停真浪舌。休治風，休治燥，治得火時風燥了，當解表時莫攻裡，當攻裡時莫解表。表裡如或兩可攻，後先內外分多少，治濕無過似決川，此個筌蹄最分曉，濕熱上甚以汗為，苦濕甘辛發宜早，感謝軒岐萬世恩，爭奈醯雞笑天小。</p>
<p><u>麻徵均學醫指南詩</u></p>
<p>不讀本草，焉知藥性？專泥藥性，決不識病。假饒識病，未必得法，識病得法，工中之甲。能窮《素問》，病受何氣，便知用藥，當擇何味。</p>
<p>又曰：不誦十二經絡，開口動手便錯。不通五運六氣，檢遍方書何濟？經絡明認得標，運氣明認得本，求得標只取本，治千人無一損。</p>
<p><u>五郁之發</u></p>
<p>土鬱之發，岩谷震驚雷，殷氣交埃昏黃黑，化為白氣，飄驟高深，擊石飛空，洪水乃從，川流漫衍，田牧土駒。化氣乃敷，善為時雨，始生始長，始化始成。故民病心腹脹，腸鳴而為數後，甚則心痛脅䐜，嘔吐霍亂，飲發汪下，胕腫身重。云奔雨府，霞擁朝陽，山澤埃昏。其乃發也，以其四氣（謂夏至後三十二日起至秋分日也）。云橫天山，浮游生滅，怫之先兆也。</p>
<p><u>金鬱之發</u></p>
<p>天潔地明，風清氣切，大涼乃舉，草樹浮煙，燥氣以行，霿霧數起，殺氣來至，草木蒼干，金乃有聲。故民病咳逆，心脅滿引少腹，善暴痛，不可反側，嗌乾面陳色惡。山澤焦枯，土凝霜滷，怫乃發也，其氣五（謂秋分後至立冬後五十四日內也）。夜零白露，林莽聲淒，怫之兆也。</p>
<p><u>水鬱之發</u></p>
<p>陽氣乃闢，陰氣暴舉，大寒乃至，川澤嚴凝，寒霧結為霜雪，甚則黃黑昏翳，流行氣交，乃為霜殺，水乃見祥。故民病寒客心痛，腰椎痛，大關節不利，屈伸不便，善厥逆，痞堅腹滿。陽光不治，空積沉陰，白埃昏瞑，而乃發也。其氣二火前後，（謂君相二火前後）。太虛深玄，氣猶麻散，微見而隱，色黑微黃，怫之先兆也。</p>
<p><u>木鬱之發</u></p>
<p>太虛埃昏，雲物以擾，大風乃至，屋發折木，（木有變，故民病胃脘為心而痛，上肢兩脅，膈咽不通，食飲不下，甚則耳鳴眩轉，目不識人，善暴僵仆。太虛蒼埃，天山一色，或為濁色，黃黑郁若，橫云不起，雨而乃發也，其氣無常。長川草偃，柔葉呈陰，松吟高山，虎笑岩岫，怫之先兆也。</p>
<p><u>火鬱之發</u></p>
<p>太虛腫翳，大明不彰，炎火行，大暑至，山澤燔燎，林木流津，廣廈騰煙，土浮霜滷，止水乃減，蔓草焦黃，風行惑言，濕化乃後。故此病少氣，瘡瘍癰腫，脅腹胸背，面首四肢，䐜憤臚脹，瘍疿嘔逆，瘛瘲骨痛，節乃有動，注下溫瘡，腹中暴痛，血溢流注，精液乃少，目赤心熱，甚則瞀悶懊憹，善暴死。刻中大溫，汗濡玄府，其乃發也，其氣四。動復則靜，陽極反陰，濕令乃化。華髮水凝，山川冰雪，焰陽午澤，怫之先兆也。</p>
<p>又曰：「水發而雹雪，土發而飄驟，木發而毀折，金髮而清明，火發而熏昧。」</p>
<p><u>十二變</u></p>
<p>報德以德，報化以化，報政以政，執令以令，氣高則高，氣下則下，氣後則後，氣前則前，氣中則中，氣外則外，佐之常也。故風勝則動，熱勝則腫，燥勝則乾，寒勝則浮，濕勝則濡，泄甚則水閉，胕腫隨氣所在，以言其變耳。</p>
<p><u>五郁捷法</u></p>
<p>木鬱達之，所謂吐者，令其調達也（木鬱之發，飛屋折木）。</p>
<p>火鬱發之，所謂發散，令其疏散也（火鬱之發，山澤焚燎，林木流津，廣廈騰煙，土浮霜滷，止水乃減，蔓草焦黃。）</p>
<p>金鬱泄之，所謂令其滲泄，解表利小便也。（金鬱之發，天潔地明，草木蒼干。）</p>
<p>土鬱奪之，所謂下泄，令其無壅礙也。（土鬱之發，岩谷震驚，擊石飛空，洪水乃泛，川流蔓衍，田牧土駒。）</p>
<p>水鬱折之，所謂抑其沖逆也，鴻也（水鬱之發，大寒乃至，川澤嚴凝。）</p>
<p>以上通其五法，乃氣同調，復視其虛實而調之，乃治病之大體也。非明造化者不論至此，其弗之應，必有先兆，誠以氣之勝復而致然也。其以氣之所司與夫勝復所致，其應驗如此。</p>
<p>十干配臟腑歌：</p>
<p>甲膽乙肝丙小腸，丁心戊胃己脾鄉，庚配大腸辛配肺，壬屬膀胱癸腎當。</p>
<p>五臟配六腑歌：</p>
<p>心合小腸肝合膽，脾連於胃腎膀胱，命門卻向三焦配，肺臟還歸對大腸。</p>
<p>手足三陰三陽配五臟六腑歌：</p>
<p>太陽小腸手之經，陽明所屬大腸尋，少陽三焦太陰主，厥陰包絡少陰心，太陽膀胱足之端，陽明所屬胃相干，太陽脾土少陽膽，少陰腎水厥陰肝。</p>
<p><u>五運主病</u></p>
<p>熱類（以少陰君火之熱，乃真心小腸之氣也）諸病喘嘔吐酸，暴注下迫，轉筋，小便渾濁，腹脹大，癰疽瘍疹，瘤氣結核，上下霍亂，瞀郁腫脹，鼻塞鼽衄，血溢血泄，淋閉身熱，惡寒戰慄，驚惑悲笑讝妄，皆屬於熱。</p>
<p>肝熱則口酸，心熱則口苦，脾熱則口甘，肺熱則口辛，腎熱則口咸，胃熱則口淡。心熱甚則出汗，脾熱甚則出涎，肺熱甚則出涕，腎熱甚則出唾。</p>
<p>濕類（足太陰濕土，乃脾胃之氣也。濕　極則生熱。）</p>
<p>諸痙強直，積飲，痞隔中滿，霍亂吐下體重，跗腫肉如泥，按之不起，皆屬於濕。</p>
<p>火類（少陽相火之熱，乃心包絡三焦之氣也。）</p>
<p>諸熱瞀瘛，冒瘖冒昧，躁擾狂越，罵詈驚駭，跗腫疼痠，氣逆衝上，禁慄如喪神守，啑嘔，瘡瘍，喉痹，耳鳴及聾，湧溢，食不下，目昧不明，暴注，暴病，暴死，皆屬於火。</p>
<p>燥類（陽明燥金，乃肺與大腸之氣也。）</p>
<p>諸澀枯涸，幹勁皴揭，皆屬於燥。</p>
<p>寒類（足太陽寒水，乃腎與膀胱之氣也。）</p>
<p>諸病上下，所出水液澄清冷，癥瘕㿗疝，堅痞腹滿急痛，下痢清白，食不飢，吐痢腥穢，屈伸不便，厥逆禁固，皆屬於寒。</p>
<p><u>風製法</u></p>
<p>風淫於內，治以辛涼，佐以苦，以甘緩之，以辛散之。防風通聖散、天麻散、小續命湯、防風湯、消風湯、祛風丸、排風湯。</p>
<p>獨治於內：承氣湯、陷胸湯、神芎丸、大黃丸、備急丹。</p>
<p><u>暑製法</u></p>
<p>熱淫於內，治以鹹寒，佐以甘苦，以酸收之，以苦發之。</p>
<p>白虎湯、桂苓湯、玉壺丸、碧玉散、玉露散、石膏湯。</p>
<p>獨治於外：拔毒散、水澄膏、生肌散、魚膽丸。</p>
<p><u>濕製法</u></p>
<p>濕淫於內，治以苦熱，佐以鹹淡，以苦燥之，以淡泄之。</p>
<p>白朮木香散、五苓散、葶藶木香散、橘皮白朮散、益元散、神助散、桂苓白朮散。</p>
<p>兼治於內：</p>
<p>防風通聖散、大柴胡湯、小柴胡湯、柴胡飲子、當歸飲子。</p>
<p><u>火治法</u></p>
<p>火淫於內，治以鹹寒，佐以甘辛，以酸收之，以苦發之。</p>
<p>涼膈散、解毒丸、神功丸、八正散、調胃散、大小承氣湯。</p>
<p>兼治於外：桂枝湯、麻黃湯、小建中湯、升麻湯、五積散。</p>
<p><u>燥製法</u></p>
<p>燥淫於內，治以苦溫，佐以甘辛，以辛潤之，以苦下之。</p>
<p>神功丸、麻仁丸、脾約丸、潤體丸、潤腸丸、四生丸、葶藶散。</p>
<p>先治內後治外：</p>
<p>謂寒藥先攻裡（大黃、芒硝、黑牽牛之類。）謂熱藥後攻表（桂枝、麻黃、升麻之類。）</p>
<p><u>寒製法</u></p>
<p>寒淫於內，治以甘熱，佐以苦辛，以辛散之，以苦堅之。</p>
<p>姜附湯、四逆湯、二薑湯、朮附湯、大已寒丸、附子理中丸。</p>
<p>先治外，後治內（攻表用熱藥，攻裡用寒藥。）</p>
<p><u>論濕變五泄總歸於濕：</u></p>
<p>風濕則胃泄：</p>
<p>夫胃泄者，飲食不化，完穀出，色黃，風乘胃也。宜化劑之類。</p>
<p>暑濕則脾泄：</p>
<p>夫脾泄者，腹脹滿，注實則生，嘔逆之，證宜和劑、淡劑、甘劑、清劑之類。</p>
<p>燥濕則大腸泄：</p>
<p>夫大腸泄者，腸鳴切痛，先宜寒劑奪之，次以甘劑分其陰陽也。</p>
<p>濕熱則小腸泄：</p>
<p>夫小腸泄者，溲而便膿血也，少腹痛，宜寒劑奪之，次以酸劑收之，淡劑、甘劑分之。</p>
<p>寒熱則大瘕泄：</p>
<p>夫裡急後重者，數至圊，窘而不能便，先宜清劑、寒劑奪之，後以淡劑、甘劑分之，或莖中痛。</p>
<p><u>五臟六腑主病</u></p>
<p>肝之經，足厥陰風乙木。是動則病腰痛，不可俛仰，丈夫㿉疝，婦人小腹腫，甚則咽乾，面塵色脫，胸滿嘔逆，洞泄狐疝，遺溺癃病。</p>
<p>膽之經，足少陽風甲木。是動則病口苦，善太息，心脅痛，不能轉側，甚則面微塵，體無膏澤，足外反熱，是謂陽厥。或頭痛目銳眥痛，缺盆中腫痛，腋下痛，馬刀，瘰癧，癭，汗出振寒，瘧。</p>
<p>心之經，手少陰暑丁火。是動則病咽乾，心痛渴而欲飲，是謂臂厥。主心所生病者。目黃脅痛，臑臂內外兼痛，兼掌中熱。</p>
<p>小腸經，手太陽暑丙火。是動則病，咽痛，頜腫不可回顧，肩似拔，臑似折。主液所生病者。耳聾目黃，頰頜腫，肩臑肘臂外兼痛。</p>
<p>脾之經，足太陰濕己土。是動則病，舌本強，食則嘔吐，胃脘痛，腹脹，善噫，身體皆瞤動。主脾所生病者。體不能動搖，食不下，心煩，心下急痛，寒瘧，溏瘕泄，水下，黃疸，不能臥，股膝內腫，厥，大指不動用，皆濕鬱所生。</p>
<p>胃之經，足陽明濕戊土。是動則病悽慘振寒，善伸，數欠，顏色黑，病則惡人與火，聞木音則惕然而驚，心動，欲閉門獨處，甚則欲登高而歌，棄衣而走，奔豚腹脹，是謂髀厥。</p>
<p>心包經，手厥陰為母血。是動則病手心熱，跗臂攣急，腋腫，甚則胸脅支滿，心中淡冷，大動，面赤目黃，善笑不休。主心包脈所生病者。煩心，心痛掌中熱。</p>
<p>三焦經，手少陽為父氣。是動則病耳聾耳鳴，咽腫喉痹，主氣所生病者。汗出目銳眥痛，耳後肩臑肘臂外兼皆痛，小指次指不用。</p>
<p>大腸經，手陽明燥庚金。是動則病齒痛，頰腫，主津所生病者，目黃，口乾，鼽衄，喉痹，肩前臑痛，大指次指痛，不用。</p>
<p>肺之經，手太陰燥辛金。是動則病肺脹膨膨而喘咳，缺盆中痛，甚則交兩手而瞀，是謂臂厥。主肺所生病。咳嗽上氣，喘噎煩心，氣胸滿，臑臂前後兼痛，掌中熱，氣感實腎皆痛風，汗出中風，小便數而欠，氣虛則肩背痛，惡寒，少氣不足以息，尿出血。</p>
<p>腎之經，足少陰寒癸水。是動則病飢不欲食，面黑如漆，唾則有血，喉鳴而喘，坐而欲起，目𥉂𥉂無所見，心如懸若飢，氣不足則喜恐，是謂骨厥。主腎所生病者。口熱舌乾，咽腫，上氣，咽乾及痛，煩心，心痛，黃疸，腸澼，臀肉骨後臁痛，嗜臥，足下熱而痛也。</p>
<p>膀胱之經，足太陽寒壬水。是動則病頭痛似脫，項似拔，脊痛，腰似折，髀不可以曲膕而結，臑如裂，是謂踝厥。主筋所生病者。痔瘧狂顛，目黃淚出，鼽衄，項背腰尻膕臑腳皆痛，小指不用。</p>
<p><u>十二經氣血多少歌</u></p>
<p>十二經中氣血藏，孰多孰少要均詳。多氣少血心與肺，脾腎三焦膽共粧。氣血俱多胃大腸，肝包少氣多血光。更有二經專要記，小腸直數到膀胱。</p>
<p><u>五運太過不及平氣歌併為病法</u></p>
<p>金運原來屬乙庚，太商太過是堅成（燥氣流行）；少商從革順為記（痰氣流行），平氣原來載審平。（太過：寸為氣口，此為氣壅。傷食，胸滿不利，中滿短氣，痰壅喘急，咳嗽喘滿，鬱塞不通，涕唾稠黏，鼻塞，若見形證瘦弱，狀似勞疾，肺脈大旺，火克於金。痰涕膿血，大腸不利，睡則一邊骨熱，鼻中出瘀血。</p>
<p>不及：此為陽部中見陰，亦名氣損。氣者，本也；本者，足也，里也。既氣口部中見不及脈焉，為氣實。《脈訣》云：一朝肺絕，脈沉沉，染病臥床思，此語金不及。吐咯血，短氣咳嗽，有冷痰，有寒有熱，鼻流清涕。）</p>
<p>丁壬木運要均平，太角太過是發生（風氣流行，木氣太過，金不能勝之，故木氣流行）；少角不及委和紀，（燥氣乃行，蓋氣移為金所乘，故燥氣金之氣行，余仿此。）平氣敷和不可更。</p>
<p>（太過：初夏為順，名子乘母，又名前來者為實邪。肝經風壅，主頭疼痛，心煩多怒，好睡神昏，兼有寒邪，眼赤流熱淚。</p>
<p>不及：一名陰乘之脈，二名母憶其子，虛邪之脈，又名肺傳肝，金克於木。又曰：肝元氣虛，筋血不能榮養，忽怒氣逆上而不下，臨食喜怒，傷動肝氣，次傳心目下，主筋脈衰弱，肝虛膽冷，夜間少睡，頭目昏眩，睛暗不能久視，腰腿疼痛，百節碎痛，胸滿氣短，壅痰咯血，狀如紅綿，陽事不興，眼澀眼花，四肢虛弱也。）</p>
<p>丙辛水運應須記，太羽太過屬流行（寒氣流行）；少羽不及涸流紀（濕氣乃行），平氣靜順不用評；</p>
<p>（太過：一名陽乘之脈，又名實邪之脈，又名風邪入腎經。主脾腎風勞攻疰腰膝疼，下疰生瘡，耳鳴目昏，陰囊濕癢，頭目眩重，背髀痛兼有寒邪，邪風入於肺經，頭目昏眩，腎經邪熱也。</p>
<p>不及：一名陰盛之脈，二名脫精之脈，三名陽衰，四名七傷所管，主見偃刀澀脈。主夢遺，陽事衰弱，小腹痛，小便多，目昏耳鳴，腰重背髀痛，五心熱，口乾津液枯少，痰嗽，怯寒，足冷，腰膝疼痛。）</p>
<p>戊癸火運屬南方，赫義太徵最難當（炎暑流行）；伏明少徵為不及（寒氣乃行），平氣昇平要審詳。</p>
<p>（太過：主傷寒發熱，面赤頭疼，煩躁心熱，口舌生瘡，手心熱，頭昏，小便赤，口苦唇焦，上壅口氣，頭項拘急，為太過之病。如南方，或咽喉腫痛，大小便不勻。</p>
<p>不及：一名熒短，二名陽衰，三名陰乘之脈，四名賊邪之脈，五名從後來者，為虛邪，六名精竭、陰痿、盜汗、心氣不足，事緒多忘，心多怔忡，心疼膈滿，脅腹膨脹，怕驚，噎寒，睡臥不穩，內熱怯寒，陽事劣弱，小便不快。）</p>
<p>甲己土運屬中央，太宮太過崇阜粧（雨濕流行）；少宮不及卑監紀（風氣乃行），平氣備化心中藏。</p>
<p>（太過：心氣傳脾，火生於土，主胃熱，內熱，脾經邪熱，憎寒，口氣生瘡，多渴，好睡，更加緊脈，須下惡血，積痢，肚疼，胸膈不快，如緊腹疼，積熱，臟腑不勻，胃經有熱痰嘔逆，吃食無味、神昏、唇焦、吞酸、食不消也。</p>
<p>不及：主胃氣虛弱，四肢倦怠，兼胃積熱，瀉痢頻，併憎寒酸，心冷痃，翻吃胃，食不下，嘔逆，腹痛腸鳴，胸膈不通而鬱悶也。）已上五運平氣，假如甲己化土而遇辰戌丑未之歲，乙庚化金而遇申酉歲之類是也。太乙天符如乙酉歲，乙庚化金而遇酉，又上見燥金司天是也。天符者，如丙戌歲，丙辛化水，上見寒水司天是也。同天符者，如庚子庚午歲，下臨燥金在泉同歲會者，如辛丑辛未歲，下臨寒水在泉是也。歲會天符，歲會則為平氣。</p>
<p>命門太過，其火為順，此為安吉之兆也。六脈和靜，其無相剋。</p>
<p>命門不及，主陰痿陽事衰弱，腰腎疼，小腹急，臍下痛，氣短耳重，如洪大脈為三焦盛上壅。涕唾稠黏，小便赤濁，多渴，咽喉腫痛也。</p>
<p><u>手足三陰三陽藥補瀉歌</u></p>
<p>太陽膀胱少陰腎，苦補咸瀉要均認，氣寒補虧熱瀉之，此是先師一言定。陽明大腸太陰肺，酸補辛瀉皆須記，氣寒補虧濕瀉之，用藥之時宜仔細。足陽明胃太陰脾，甘補辛瀉誰能知，寒熱溫涼宜補瀉，便須用藥從其宜。太陽小腸少陰心，咸補甘瀉順當尋，氣熱補虧寒用瀉，二般調治值千金。少陽膽虧厥陰肝，補用辛虧瀉用鹹，氣宜溫補別無法，請均仔細莫易看，此是先賢訓經此，後來學者潛心觀。</p>
<p><u>十二經瀉火用藥歌</u></p>
<p>十二經中皆有火，問均何藥瀉何經？黃連瀉心並肝膽，更有柴胡肝膽並，黃柏膀胱知母腎，三焦大腸肺用芩，芍藥蠲脾石膏胃，木通能泄小腸清，三焦五治柴胡的，手足陰陽仔細評。</p>
<p><u>十二經通經用藥歌</u></p>
<p>小腸膀胱屬太陽，藁本羌活是本鄉，三焦膽與肝包絡，少陽厥陰柴胡強，陽明大腸兼足胃，葛根白芷升麻當，太陰肺脈中焦起，白芷升麻蔥白鄉，脾經少與肺經異，升麻芍藥白芷祥，少陰心經獨活主，腎經獨活加桂良，通經用此藥為使，更有何病到膏肓。</p>
<p><u>諸經疼痛用藥歌</u></p>
<p>人患風濕對醫陳，便將羌活治其因，川芎醫腦藁巔頂，芍藥同消腹內疼，臍下青皮黃柏好，腰間杜仲是其真，茱萸治心胃草豆，脅用柴胡更絕倫，甘草梢蠲莖里痛，枳殼應消氣刺身，血刺疼兮何可療，惟有當歸一味能。</p>
<p><u>諸經氣血用藥歌</u></p>
<p>消痞原來枳朮宜，痞寒用去白陳皮，腹中窄狹施蒼朮，補氣人參可用之，破死血兮桃仁好，活血當歸用最奇，更有川芎生補血，玄胡調血甚堪施，木香調氣為頭藥，破滯青皮枳殼宜。</p>
<p><u>六氣用藥補瀉歌</u></p>
<p>太陽寒水宜甘熱，陽明燥金用苦溫，少陰少陽鹹寒用，太陰濕土苦熱親，厥陰風木辛涼治，六氣之中用較真，不生暴過並苛疾，折郁滋源心要陳。</p>
<p><u>上中下三部見血用藥歌</u></p>
<p>三部見血如何治？上用防風中用連，下部地榆施活法，更加血藥同其煎。</p>
<p><u>三焦濕熱用藥歌</u></p>
<p>三焦濕熱腫堪憐，上用黃芩中用連，下用草龍防己柏，要君記用莫遷延。</p>
<p><u>傷寒三百九十七法歌括</u>（計一十七條）</p>
<p>傷寒三百九十七，仲景相傳有消息，痓五濕六暍有三，一十四法俱無方，上陽二十有七法，一十六證原有藥，起自桂枝四逆連，余宜臨病自斡旋，中太陽兮九十七，六十六證原有術，葛根起接抵當湯，三十一證原無方，下太陽兮五十七，三十九法有藥術，陷胸丸與炙草湯，一十七證自推測，陽明六十四證誇，四十四法治無差，調胃承氣為頭藥，麻黃連翹赤豆加，更有無藥二十法，臨病診時宜細察。少陽之法止有五，一方小柴宜審委，四證無藥要從權，此是半表半在裡。太陽一證有六法，一半有藥半無方，起自理中之丸藥，後來還有白頭湯，少陰更有三十二，有藥治療該廿三，無藥止有八個法，請均用時宜細添。厥陰之法三十二，一十九法有藥治，一十三法更無傳，請均仔細專心記，霍亂止有八法該，六法有藥不順猜，二法無方探顧求，理中竹葉良可謀，不可汗該一十三，無藥無方最艱難，惟有可汗該二法，半有半無宜斟酌，汗後有藥該一法。勞復六法俱有藥，可吐三法無藥方，請均一一宜消詳，不可下證有廿三，治法止有一個藥，二十二法何處求，請均用意自詳察，可下九法俱有方，詳證之時用散湯。若是為醫能記此，姓名四海盡傳揚，傷寒八十一味藥，一百十二有名方，除了五丸並八散，九十九個是煎湯。</p>
<p><u>傷寒得汗法</u></p>
<p>寅申巳亥一四七，子午卯酉二五八，辰戌丑未三六九，此是病人得汗法。</p>
<p><u>絕日受病</u></p>
<p>庚寅辛卯難逃命，甲乙申酉是死鄉，丙丁戌亥應難治，壬癸還順已午亡，更有戊己時四季，來到戌上自為傷。</p>
<p><u>四絕日得病</u></p>
<p>春亥夏申，秋巳冬寅，此為四絕，難為病人。</p>
<p><u>傷寒六經補瀉用藥</u></p>
<p>太陽證表未解，下之太早成結胸；陽明證用熱藥太過，即發黃於遍身，生血斑血衄；少陽證下之早，即兩脅痛，吐逆不止；少陰證無汗，即動血、吐血者，死。下之早，亡血；太陰證當溫其里，如下之太早，心胸滿悶，下痢不止；厥陰證下之早，即四肢逆冷，若因生寒，十死一生，不宜冷。</p>
<p><u>藥有六陳</u></p>
<p>陳皮還須要隔年，麻黃百載更堪憐，大黃數載橫紋者，不過三年力未全，醫家不使新荊芥，木賊從來不用鮮，此是六陳均記取，會者人間作地仙。</p>
<p>又歌曰：</p>
<p>茱萸半夏不宜新，枳殼陳皮最要陳，麻黃狼毒年深好，此藥名為真六陳。</p>
<p><u>藥有十八反</u></p>
<p>硫黃本是火之精，焰硝一見冷如冰，水銀不得逢砒藥，狼毒莫逢密陀僧，巴豆雄黃最為上，憂見牽牛不順情，川草二烏休用犀，人參莫使近靈芝，官桂善能調理氣，若逢石脂便相欺，大凡修合看逆順，炮炙分明要細知。</p>
<p>又歌曰：</p>
<p>大戟芫花並海藻，甘遂四味忌甘草，黎蘆不與五參同，芍藥細辛並不好，狼毒貝母及瓜蔞，半夏最怕烏頭惱。</p>
<p><u>又歌曰：</u></p>
<p>甘草連心赤，蟾酥怕赤睛，鹿茸怕銅鐵，鱉甲去邊裙，枳殼除穰隔，桃杏怕雙仁，蛇不連頭用，乾蠍白如銀。</p>

<h1>卷之四</h1>
<p><u>診脈法</u></p>
<p>凡與人診候，順於平旦寅時，陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈勻和，氣血未行，令患人端坐齊整方可。看候脈者，榮衛也。榮者，血也，衛者，氣也；血者，標也，氣者，本也。人一呼一吸為一息，叔和云：一息四至，號平和，更加一至，太無疴是，平人之脈也。三遲二敗，是為不及。六數七極，是為太過。凡診五臟六腑太過不及，皆見於寸口吉凶之法也。左手寸口為人迎，右手寸口為氣口，醫中最巧以脈為先，雖未通於九道十邪，且要知七表八里。</p>
<p><u>診脈下指輕重法</u></p>
<p>一下指如三豆之重，與皮毛相得者，即是肺脈也。</p>
<p>二下指如六豆之重，與血脈相得者，即是心脈也。</p>
<p>三下指如九豆之重，與肌肉相得者，即是脾部脈也。</p>
<p>四下指如十二豆之重，與筋平者，即是肝部脈也。</p>
<p>五下指如十五豆之重，與骨切重按之者，即是腎脈也。</p>
<p><u>脈體標本</u></p>
<p>或問人身脈息，何物為體？脈者，人身之氣血，血者，水也，遁相灌溉，循環不息，故名榮衛以為脈也。榮主血也，血者，心家之所出；衛主氣也，氣者，府藏之所生，榮衛二事合，為脈體，又名標本。標者，血也，心也，本者，氣也，衛也。榮行脈中，衛行脈外，一日一夜，一萬三千五百息，脈行五十度，周於身，故為脈也。人一呼脈行三寸，一吸脈行三寸，一呼一吸為一息，四至號平和，五至為無病也。</p>
<p>左：寸心小腸屬君火（心主血，小腸為受盛之府），關肝膽屬木（肝藏血，膽為清淨之府），尺腎與膀胱屬水（腎與膀胱為津液之府）。</p>
<p>右：寸肺大腸屬金（肺主氣，大腸為傳瀉行道之府），關脾胃屬土（脾主化，胃者水穀之海），尺命門三焦屬相火。</p>
<p>以上男女皆一定之法，更無改易。</p>
<p>金木水土各一位，惟火何獨有二也？蓋有君火，相火放火有二焉。</p>
<p>又曰：男子生於寅，寅，木也，木，陽也，故男子脈盛在關上。關上，陽也。女子生於申，申，金也，金，陰也，故女子脈盛在關下，關下陰也。</p>
<p>又曰：男子從子左行，三十至已。女子從右行，二十至已。故男子三十而娶，女子二十而嫁，故法取於此也。</p>
<p>又曰：</p>
<p>三部者，寸關尺也。九候者，浮中沉也。一部凡有三候，三三為九候也。人身亦有三部，上部法天，主膈以上至頭之有疾也。中部法人，主膈至臍之有疾也。下部法地，主臍以下至足之有疾也。</p>
<p><u>三候色脈形</u></p>
<p>色以候天，脈以候地，形者，乃候地之陰陽也。</p>
<p>《診法經》云：</p>
<p>三候者，浮中沉也。今三候左寸俱數，必主心經熱也，餘部仿此。</p>
<p>浮沉遲數四脈：</p>
<p>浮者，陽也，指下尋之不足，舉之有餘，再再尋之，狀如太過，曰浮。又主裡寒表熱。</p>
<p>歌曰：寸浮中風頭熱痛，又曰：浮而有力為風，浮而無力為虛。</p>
<p>沉者，陰也，指下尋之似有，舉之全無，緩度三關狀如爛綿，曰沉。主氣脹，兩脅手足時冷。</p>
<p>歌曰：寸脈沉兮胸有痰。又曰：沉而有力為積沉，而無力為氣脹。</p>
<p>遲者，陰也，寒也，諸陰為寒，指下尋之，重手乃得隱隱，曰遲。又曰：寸口脈遲，心上寒。</p>
<p>數者，陽也，熱也，諸陽為熱，指下尋之，三關通度按之有餘，舉之甚數，狀若洪弦，法曰數。主風氣伏陽，上衝化為狂病。又曰：緊脈關前，頭裡痛，口寸脈緊，主心下滿痛。</p>
<p>又曰：關前為陽，關後為陰。</p>
<p>又曰：人迎緊盛傷於風（左手關前為人迎），氣口緊盛傷於食（右手關前為氣口）。</p>
<p>又曰：男得女脈為不足（病在四肢），女得男脈為太過（病在內）。</p>
<p>又曰：男子尺脈常不足，女子尺脈常有餘。</p>
<p>診七表脈法歌曰：</p>
<p>浮而指下拈蔥葉，芤即中空有兩傍，滑體往來常不定，弦如指下彈長竿，緊似琴絃張指下，實認輕輕愊愊然，洪舉按之皆盡滿，此名七表腑陽傳。</p>
<p>七診脈：七者三部九候之相，失形氣相得者生，三五不調者疾，三部九候皆相失者死。</p>
<p>獨大：三部脈出多入少，與太過相似。病主皮膚壯熱，喘息上奔，五臟之氣壅而並出，不可治。</p>
<p>獨小：三部俱沉細。病主四肢微寒，中膈氣閉，腹沖兩脅氣攻刺痛，不可治。</p>
<p>獨寒：三部皆沉，沉如爛綿，按不知所在。病主伏陽在內，四肢皆冷，陰包陽也，不可治。</p>
<p>獨熱：脈皆洪數，惟寸微壅。病主臟腑有熱，四肢亦然，與疾相似，但獨疾者，驟然也可治。</p>
<p>獨遲：按之三部俱遲。病主氣在膚致有不安。</p>
<p>獨疾：寸關急數，尺微虛者為痰。病主口乾心躁，鼻塞頭痛，感熱之深者，不可治。</p>
<p>獨陷：脈隱在肌骨者。病主四肢不舉，疼痛在骨，陰陽表裡一同，可治。</p>
<p><u>診八里脈法</u></p>
<p>一息四至號為遲，緩脈輕沉來往遲，微似細風吹鳳翼，澀若輕刀刮竹皮，輕舉即無，按卻有，伏肉無之骨有之，舉按皆虛名曰濡，弱似浮漚近手時。八里屬陰為臟脈，叔和分別要均知。</p>
<p><u>知七表為病法</u></p>
<p>浮為中風芤失血，滑為吐逆實痢別，弦為拘急緊為痛，洪為熱兮腑易治。</p>
<p><u>知八里為病法</u></p>
<p>微為氣痞沉冷氣，緩則氣結澀血滯，遲為寒兮伏物聚，濡為氣虛弱筋痿。</p>
<p><u>九道脈及論證</u></p>
<p>陽長：舉之有過於本位，曰長。病主陽毒在內，三焦積熱，坐臥不寧，渾身潮熱，足脛疼痛，可汗。</p>
<p>陰短：按之不及本位，曰短。病主陰中伏陽，三焦氣壅，四體思寒，宿食不消，可下。</p>
<p>陰虛：按之甚大無力而遲。病主少力，恍惚驚悸，目昏耳聾，身體煩熱，小兒驚風。左為血虛，右為氣虛。</p>
<p>陽促：按之極數而時止，併居寸口，退則生，加則死。病主積聚氣結於內，氣血留滯結促，非惡脈也。</p>
<p>陰結：按之聚之卻還，或來或去，大小不足。病主臟腑積聚，氣結於內，腸胃疼痛，四肢迷悶，結伏臟積結（浮腑積）。</p>
<p>陰代：按之不動而不來，須臾復動，如有所代而不能自還。病主氣衰亂，為必死之脈，女子得之為孕，老者生少者死（四季得之無害，亦主霍亂。）。</p>
<p>陰牢：尋之即無，按之即有，曰牢。病主胸中滿促，骨肉疼痛，皮膚紅腫，亦為死脈。</p>
<p>陰動：無頭無尾，厥厥動搖，大如豆。病主勞倦，遍身疼痛，男血痢女血崩，為陰陽相搏，陽不勝陰則氣乏，陰不勝陽則血盡。</p>
<p>陰細：脈在皮肉，按之如細細線。病主形容瘦瘁，毛髮枯槁，脛痠髓冷，泄精少力，秋得之無害。</p>
<p><u>知九道為病歌</u></p>
<p>長為壯熱短惡寒，虛是多驚促氣煎，結為積聚代魂散，牢為骨痛動虛勞，細為體虛九道病，陰陽錯亂命難逃。</p>
<p><u>知十邪為病法</u></p>
<p>雀啄來疾遲，屋漏胃絕無生死，卻有切繩解索時，散結脾死神仙也。難救魚翔釜沸，名伏屍。榮衛斷絕，魂魂飛，土丸細小彈石大，此證送屍。誠可怕，蝦游鬼疰曰傳屍，偃刀脈至最為怪。凡寸口見雀啄者死，關尺見之猶不妨，蝦游解索重病難痊。凡寸口見屋漏不妨，關尺見之重病必死。</p>
<p><u>診四季脈法</u></p>
<p>春怕秋脈夏怕冬，季中春脈忌相逢，秋逢夏脈冬逢季，此候須知總是空。</p>
<p><u>論候認病法</u></p>
<p>弦緊遲微滿急寒，浮洪緊數熱相兼，濡弱伏沉多氣劣，實芤數澀血風煎，蝦游解索應難差，屋漏雀啄實難痊，四時但知除此外，其餘總是病根源。</p>
<p><u>論脈體相似</u></p>
<p>弦緊渾相似，微濡弱一般，緩遲形不異，芤陷體同看，浮洪皆一色，沉伏細詳觀，若非深造者，分別料應難。</p>
<p>又曰：</p>
<p>長與弦相似，短與澀相似，虛與濡相似，洪與緊相似，結與促相似，代與伏相似，牢與沉相似，動與浮相似，細與微相似。</p>
<p>又曰：</p>
<p>浮與洪相似，滑與短相似，實與牢相似，數與促相似，濡與弱相似，緩與遲相似，澀與緊相似，伏與動相似，沉與虛相似。</p>
<p><u>五臟脈逆順</u></p>
<p>心脈洪大而散，反見沉濡而滑者，不可治也；腎脈沉濡而滑，反見遲而緩者，亦不可治也；脾脈遲緩而大，反見弦而長者，亦是逆脈也；肝脈弦軟而長，反見微沉短澀者，乃為不順也；肺脈浮短而澀，反見洪大而散者，亦為不可治也。</p>
<p><u>五臟正經自病</u></p>
<p>憂悉思慮，則傷於心（其證血脈虛少，不能榮養五臟六腑，宜調其營衛）；形寒飲冷，則傷於肺（其證皮聚而毛落者死，可以益其氣者也）；沖怒氣逆，上而不下，則傷於肝（其證筋緩不能自收持，宜緩其中也）；飲食勞倦，則傷於脾（其證肌肉消瘦，宜調其飲食，適其寒溫也）；久坐濕地，強力入水，則傷於腎（其證骨痿，不能起於床者，死。宜益其精）。</p>
<p><u>脈有六會</u></p>
<p>太衝脈（在足大指下節後二寸半陷中是）、太谿脈（在足內踝後跟骨上動脈陷中是）、神門脈（在手掌後兌骨之端陷中是）、衝陽脈（在足跗上去二寸陷中是）、尺澤脈（在肘中約約動脈是）、天府脈（去腋肘下身三寸陷中是）。</p>
<p><u>汗下合宜</u></p>
<p>陽盛陰虛，汗之則愈，下之則死。關前為陽，寸盛而尺微也。陰盛陽虛，下之則愈，汗之則死。關後為陰，寸微而尺盛也。</p>
<p><u>通真子宜溫汗下歌</u></p>
<p>弦遲之脈宜溫藥，緊數之時汗最宜，脈若來弦並小緊，此為可下不須疑。</p>
<p><u>五邪所見脈</u></p>
<p>春得秋脈，夏得冬脈，長夏得春脈，秋得夏脈，冬得長夏脈。名曰陰出之陽。病善怒不治。是謂五邪皆同，死命不治。</p>
<p><u>五脈應象</u></p>
<p>肝脈弦，心脈鉤，脾脈代，肺脈毛，腎脈石，是謂五臟之脈。</p>
<p>《經》曰：陽盛則促，陰盛則結。又曰：十二經者，五臟六腑也。十五絡者，七表八里十五脈也。一經則一絡餘三絡者。陰絡即女子之命脈，陽絡者，即男子之命脈。脾之大絡者，即十二經之胃氣也。又曰：夫脈者，血之府也，長則氣治，短則氣痛，數則煩心，大則病進，上盛則氣高，下盛則氣脹，代則氣衰，細則氣少，澀則心痛。又曰：形盛脈細，少氣不足以息者危。形氣相反，故生氣至危，形氣相得，謂之可治。今脈氣不足，形氣有餘，證不相扶，故當危也。危者，言其近死猶有生者。又曰：形瘦脈大，胸中多氣者死；形氣不足，脈氣有餘故死。又曰：胃脈實則脹，虛則泄。脈實者，氣有餘，故脹滿；脈虛者，氣不足，故泄利。</p>
<p>脈病相應謂之從，脈病相返謂之逆。尺脈澀滑謂之多汗（血涸而陽氣尚多故汗），尺寒脈細（陰微即下，言尺氣虛少），目裹微腫，如臥蠶之狀，曰水（水者，陰也，目下亦陰也，腹者，至陰之居也。故水在腹中者必使目下腫也，當用大橘皮湯等藥治之）。</p>
<p><u>七方</u>：大、小、緩、急、奇、偶、復。</p>
<p><u>大方之說有二</u></p>
<p>病有兼證而邪不傳，醫不可以一二味，治者宜君一臣三佐九之大方。病有在身半以下而遠者，分兩大而數少，取其氣味專一而不分散也。</p>
<p><u>小方之說有二</u></p>
<p>病有在心肺以上而近者，宜分兩微而少服，徐徐呷之是也。病有無兼證，邪氣專一，可一二味而治者，宜君一臣二之小方。</p>
<p><u>緩方之說有五</u></p>
<p>病有在胸膈者，宜甘以緩之，取其甘能戀膈也。有凡以緩之，之緩畫比湯散，其氣力難化而宣行遲也。有品件群眾之緩方，蓋藥味眾則各不得騁其性，如萬病丸，七八十味，遁相拘制。有無毒治病之緩方，蓋性無毒則功自緩矣。有氣味薄之緩方，蓋氣味薄則主於補上，蓋補上治上制之以緩，緩則氣味薄也。</p>
<p><u>急方之說有五</u></p>
<p>心腹暴痛，兩陰溲便，閉塞不通，病不容候，用備急丹是也。又如中風牙關緊急，漿水粥不入，用急風散之屬。有湯散蕩滌之急方，蓋湯散比丸劑，取其下咽易散而施用速也。有藥性有毒之急方，蓋有毒則能上湧下泄，可以奪病於下而氣力不衰也。</p>
<p><u>奇方之說有二</u></p>
<p>有獨用一物之奇方，即單方是也。有數合陰陽數之奇方，一三五七九，以藥味數皆奇也，如君一臣三亦奇數也，故方宜下不宜汗。</p>
<p><u>偶方之說有三</u></p>
<p>有兩味相配之偶方，有兩味相合之偶方，有數合陰陽之偶方，謂二四六八十也，如君二臣四君臣六皆偶數也，故偶方宜汗不宜下。</p>
<p><u>複方之說有二</u></p>
<p>有二方三方相合之複方，如桂枝越婢一湯，如謂調胃承氣湯加連翹、黃芩、梔子，名涼膈散。又有分兩勻劑之複方，如胃風湯各等分均平也。</p>
<p>十劑：宣、通、補、瀉、輕、重、滑、澀、燥、濕也。</p>
<p><u>宣劑</u></p>
<p>宣者，舉世皆以宣為瀉劑，然十劑之中已有瀉劑，何以又重是？蓋宣者升而上也，以君召臣曰宣，義或同此。《內經》曰：「高者，因而越之，木鬱則達之」，豈非宣劑，即所謂湧劑者乎，蓋十劑之中獨不見湧劑，則宣為湧明矣。</p>
<p><u>通劑</u></p>
<p>通者，流通之謂也。前後不得溲便，裡急後重，數至圊而不便，凡麻癉蔚滯經遂不開，非通劑莫愈也。</p>
<p><u>補劑</u></p>
<p>補者，五臟各有補瀉，肝實瀉心，肺虛補腎，《經》曰：「東方實西方虛，瀉南方補北方。大率虛有六，表虛、裡虛、上虛、下虛、陰虛、陽虛。設陽虛補以附子，陰虛補以大黃、芒硝。」今人往往以熱為補，以寒為瀉，訛非一日，豈知酸苦辛甘鹹各補其臟。《內經》曰：「精不足者，補之以味。善補者，病去而進之以穀肉食者，真得補法也。」</p>
<p><u>瀉劑</u></p>
<p>《經》曰：「實則瀉之。實者，乃邪氣之作實也。諸痛為實，痛隨利減。」又曰：「中滿者，瀉之於內，大黃、牽牛、甘遂、芒硝、巴豆之屬皆瀉劑也。惟巴豆其性燥熱，不可不慎！恐留毒致生他證，縱不得已而用之，必順致其毒。」今人往往以巴豆熱而不畏，以大黃寒而反畏，庸不知所謂瀉者哉。</p>
<p><u>輕劑</u></p>
<p>風寒之邪，始自表入，頭痛身熱，腰脊強。《內經》曰：「宜輕劑以揚之。」《本草》曰：「輕可去實，宜麻黃、葛根、升麻之屬也。」</p>
<p><u>重劑</u></p>
<p>久病咳嗽，涎潮於上，咽喉不利，形羸不可峻攻。其藥則以硃砂、水銀、沉香、水石、黃丹之屬，以其體重能鎮縋。《內經》曰：「重者減之，貴其漸也。」</p>
<p><u>滑劑</u></p>
<p>《周禮》曰：「滑以養竅，大便燥結，小便淋澀，皆宜滑劑。燥結者，麻仁、郁李仁之類；淋澀者，葵子、滑石之類。其有前後不通，兩陰俱閉，名曰『三焦約』，宜先以滑劑表養其燥，然後攻之則無失矣。」</p>
<p><u>澀劑</u></p>
<p>寢汗不已，澀以麻黃根、防己、牡蠣；滑泄不已，澀以豆蔻、白礬、木賊、烏魚、粟殼，凡酸味亦同乎澀；喘嗽不已，韭汁、烏梅、寧肺膏皆酸而澀也。然此數種當論其本以去其邪，不可專以澀為萬全也。</p>
<p><u>燥劑</u></p>
<p>積寒久冷，食已不飢，吐利腥穢，屈伸不便，上下所出水液澄澈清冷，此為大寒之故。宜乾薑、良薑、附子、胡椒輩以燥之。然非積寒之病不可用，用不對證變為血泄、血溢、大枯、大涸、溲便癃閉、聾瞽跋弱。若曰病濕者，則以白朮、陳皮、木香、防己、蒼朮皆能除濕，亦燥之。平劑若黃連、黃柏、梔子、大黃之苦皆能燥濕，此《內經》之本旨也，與世相違久矣，嗚呼！豈獨姜附之專方為燥劑乎？</p>
<p><u>濕劑</u></p>
<p>濕與滑相類，其間少有不同。《內經》曰：「辛以潤之，蓋辛能走氣，能化液者也。芒硝性雖咸，本屬真陰之水，誠濡枯之上藥也，人有枯渴皴揭之病，非獨金化為然，蓋有火以乘之，非濕劑莫能愈也。」</p>
