<header data-type="book">
<h1>石山醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>汪機</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1531">公元1531年</data></dd></div>
<div><dt>底本</dt><dd>明嘉靖初葉祁門陳氏刊本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=2418bf5385ad457da3cfcbd583f4fbf3fDkwODAzNw2&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>石山醫案刻序</h1>
<p>醫之有案，其來遠矣。若歷代明醫史傳之所以載其施治之法，神妙之效，皆鑿鑿可考。至丹溪之朱，櫻寧生之滑，其傳皆出於名筆，動數千言莫之既，而於病之淺深，治之緩急，功之大小，昭然明甚，思欲起其人而不可得。吾郡祁之汪石山，儒醫也。於《素問》則有補註，本草則有類鈔，脈診則有論著，運氣則有提綱，外科及針灸等書則又俱有纂述，蓋集古今諸名家之所長而為一大成也乎！其從事於醫，殆四十餘載。凡病家之求治者，因脈制方，隨投輒效。從遊之士得於目擊者，即手錄之，以為成法。其邑西石墅陳桷氏，實石山高弟，以其所錄者分為三卷，名曰《石山醫案》，刻之梓以傳。詣予終老樓屬序之。夫病之見治於石山也，如飢者得食而充，渴者得飲而解，溺者得援之而登，顛危者得扶持之而安，蓋醫之王道也。使同生朱、滑之時，其抱負設施，與之同驅並駕，未可必其或後先也。後人視此，不亦猶法家之有斷案也哉！引伸觸類，延惠無窮，其為慈孝之助多矣！石山之傳，撰於鏡山，其未及載者，賴此以傳，豈非後人之幸歟！石山名機，字省之，石山其號也。庸僭序之，以諗觀者如此。</p>
<p><u>嘉靖辛卯年閏六月中浣休寧率口程曾序</u></p>

<h1>石山先生像</h1>
<p>睹茲厥像，藐焉寒微。其容和粹，其貌清癯。心存仁術，志好儒書。顛已垂白，手不停披。平居不敢幹名而犯義，交際不敢口是而心違。事求免於流俗，禮求合於先儒。謙約節儉，樂易疏愚，不求聞達，甘守窮廬。寧為禮屈，勿為勢拘。不知我者謂我狂妄，其知我者謂我坦夷。噫！顧我所行，未必盡合於道也，然造次克念，惟求無愧於心歟！</p>
<p><u>上石山先生自贊</u></p>

<h1>題辭</h1>
<p>試問林翁，何名何氏，細認來，都不似。好三分，似得石山居士。一種心苗，許多春意，卻不逐，杏花飛去。聽旁人，齊說是這林翁，盧扁再生今世。</p>
<p><u>上錦堂春</u>　鏡山李汛題</p>
<p>貌古心明，言和行固。咀英華以充日用之強，恥奔竟而卻雲霄之步。學以為己是圖，醫以濟人為務。居窮不失其自然，處變弗愆於常所。以為一代之偉人，起四方之敬慕也。</p>
<p><u>休陽程文傑師周書於率溪書院</u></p>
<p>舜顏其齒，玉質丹唇。襟度吞雲夢之澤，英邁蓋蒼梧之云。學足以溯河洛之趣，醫足以逼岐黃之真。出入造化，弛張鬼神。棲情於煙霞泉石，卻步於雲路鵬程。激勵之論，足以回狂瀾於既倒；迴天之術，曾以拯夭札於同仁。廟算神謨，余蓋得之萬一；生死肉骨，殆不知其幾人。蓍蔡之德未艾，喬松之壽方臻。是蓋盧扁之能契其妙，而豈摩詰之能狀其親也歟。</p>
<p><u>門人石墅陳桷惟宜拜題</u></p>

<h1>卷之上</h1>

<h2>營衛論</h2>
<p>丹溪論陽有餘陰不足，乃據理論人之稟賦也。蓋天之日為陽，月為陰。人稟日之陽為身之陽而日不虧，稟月之陰為身之陰而月常缺。可見人身氣常有餘，血常不足矣。故女人必須積養十四五年，血方足而經行，僅及三十餘年，血便衰而經斷，陰之不足固可驗矣。丹溪揭出而特論之，無非戒人保守陰氣，不可妄耗損也。以人生天地間，營營於物，役役於事，未免久行傷筋，久立傷骨，久坐傷腎，久視傷神，久思傷意。凡此數傷，皆傷陰也。以難成易虧之陰，而日犯此數傷，欲其不夭枉也難矣。此丹溪所以立論垂戒於後也，非論治陰虛之病也。若遇有病氣虛則補氣，血虛則補血，未嘗專主陰虛而論治。且治產後的屬陰虛，丹溪則曰：「右脈不足，補氣藥多於補血藥；左脈不足，補血藥多於補氣藥」，丹溪固不專主於血矣。何世人昧此，多以陰常不足之說橫於胸中，凡百諸病，一切主於陰虛，而於甘溫助陽之藥一毫不敢輕用，豈理也哉？雖然，丹溪謂氣病補血，雖不中亦無害也；血病補氣，則血愈虛散，是謂誅罰無過。此指辛熱燥烈之劑而言，亦將以戒人用藥，寧可失於不及，不可失於太過。蓋血藥屬陰而柔，氣藥屬陽而剛，苟或認病不真，寧可藥用柔和，不可過於剛烈也。《書》曰「罪疑惟輕，功疑惟重」、本草曰「與其毒也寧善，與其多也寧少」之意，正相合也。雖然，血虛補氣固為有害，氣虛補血亦不可謂無害。吾見胃虛氣弱，不能運行，血越上竅者，多用四物湯涼血之藥，反致胸腹痞悶，飲食少進，上吐下瀉，氣喘嘔血，去死不遠，豈可謂無害耶？是以醫者貴乎識病真耳。</p>
<p>或又曰：人稟天之陽為身之陽，則陽常有餘，無待於補，何方書尚有補陽之說？予曰：陽有餘者，指衛氣也。衛氣固無待於補。而營之氣，亦謂之陽。此氣或虛或盈。虛而不補，則氣愈虛怯矣。經曰怯者著而成病是也。況人於日用之間，不免勞則氣耗，悲則氣消，恐則氣下，怒則氣上，思則氣結，喜則氣緩。凡此數傷，皆傷氣也。以有涯之氣，而日犯此數傷，欲其不虛難矣。虛而不補，氣何由行？</p>
<p>或問：丹溪曰「人身之虛，皆陽虛也。若果陽虛，則暴絕死矣」，是陽無益於補也；又曰「氣無補法，世俗之言也。氣虛不補，何由而行」，是氣又待於補也，何言之皆背戾耶？予曰：經云「衛氣者，水穀之悍氣也，慓疾不受諸邪，此則陽常有餘，無益於補者也。朱子曰「天之陽氣，健行不息，故閣得地在中間，一息或停，地即陷矣」，與丹溪所謂陽虛則暴絕同一意也，此固然矣。使陰氣若虛，則陽亦無所依附而飛越矣。故曰天依形，地附氣。丹溪曰「陰先虛，而陽暴絕」，是知陽亦賴陰而有所依附也。此丹溪所以拳拳於補陰也。經曰「營氣者，水穀之精氣，入於脈內，與息數呼吸應」，此即所謂陰氣不能無盈虛也，不能不待於補也，分而言之，衛氣為陽，營氣為陰。合而言之，營陰而不稟衛之陽，莫能營晝夜利關節矣。古人於營字下加一氣字，可見衛固陽也，營亦陽也。故曰血之與氣，異名而同類。補陽者，補營之陽；補陰者，補營之陰。又況各經分受，有氣多血少者，有血多氣少者。倘或為邪所中，而無損益，則藏府不平矣。此《內經》所以作，而醫道所以興也。譬如天之日月，皆在大氣之中。分而言之，日為陽，月為陰。合而言之，月雖陰，而不稟日之陽，則不能光照而運行矣。故古人於陰字下加一氣字，可見陽固此氣，陰亦此氣也。故曰陰中有陽，陽中有陰，陰陽同一氣也，周子曰「陰陽一太極」是也。然此氣有虧有盈，如月有圓有缺也。聖人裁成輔相，即醫家用藥損益之義也。是知人參黃耆補氣，亦補營之氣，補營之氣即補營也，補營即補陰也，可見人身之虛皆陰虛也。經曰「陰不足者，補之以味」，參耆味甘，甘能生血，非補陰而何？又曰「陽不足者，溫之以氣」，參耆氣溫，又能補陽，故仲景曰氣虛血弱，以人參補之，可見參耆不惟補陽，而亦補陰。東垣曰血脫益氣，仲景曰陽生陰長，義本諸此。世謂參耆補陽不補陰，特未之考耳。</p>
<p>予謂天之陽氣，包括宇宙之外，即《易》所謂「天行健」、《內經》所謂「大氣舉之者」是也。此氣如何得虛，虛則不能蓄住地矣。天之陰，聚而成形者。形者，乃地之坤也。故曰天依形，地附氣。可見人身之衛，即天之乾；人身之形，即地之坤。營運於藏府之內者，營氣也，即天地中發生之氣也。故以氣質言，衛氣為陽，形質為陰；以內外言，衛氣護衛於外為陽，營氣營養於內為陰。細而分之，營中亦自有陰陽焉，所謂一陰一陽，互為其根者是也。若執以營為衛配，而以營為純陰，則孤陰不長，安得營養於藏府耶？經曰營為血，而血即水，朱子曰水質陰，而性本陽，可見營非純陰矣。況氣者，水之母。且天地間物有質者，不能無虧盈。既有質而虧盈，血中之氣亦不免而虧盈矣。故丹溪以補陰為主，固為補營；東垣以補氣為主，亦補營也，以營兼血氣而然也。</p>

<h2>答提學黃公如金所患書</h2>
<p>生樸樕小材，山林迂士。其於岐黃之書、盧扁之術，僅惟得其糠粃而已，升堂入室，誠有所未能也。茲蒙召置左右，以備顧問。夙夜只懼，惟恐弗堪。雖然，一得之愚，不敢不盡。是以忘其固陋，謹述以聞。古人所謂芻蕘之言，狂夫之語，庶幾或有可採者也。</p>
<p>伏惟天寬地容，海涵春育，人不求備，才不求全，片言有取，寸長必錄。又且不作聰明，不大聲色，靡恃其長，毋執其見，捨己從人，不知有彼此之別，使各得以紓其情也。用上敬下，相忘於勢利之場，俾皆得以盡其辭也。是知所言或謬，殆必視如道旁苦李，唾而去之而已。必不索我於形骸之外，以言而見責焉！</p>
<p>然生侍側有日，聆誨已久，因而察其受病之源，詳其致病之因，不過心過於勞而已。何則？心為血主，而血又所以養心。血屬陰而主靜，惟靜則可以生水，故曰靜則生陰是也。苟或心過於勞，則主動而屬陽矣。陽則火之象也，故曰動則生陽。丹溪亦曰諸動屬火。動極火熾，陽亢陰微，血愈虧損，而心失所養矣。是以睡臥不寧，夜夢紛紜，職皆由於此也。經云主閉藏者，腎也。腎主相火，上繫於心。心既動勞，則相火隨起，而熱則流通矣。是以閉藏之腎，反暗流疏瀉，而夢遺精滑之疾有所不能免矣。醫書所謂情動於中，精淫於外是也。經云東方實，西方虛。心勞火動，則西方之金愈虛，而東方之木愈實。脾土得不為之傷乎？脾土既傷，是以上或為嘔，下或為瀉，中或為畏食之病，莫不層出而疊見矣。由是探本索元，其初固在於心，而支流余裔，不免延及它藏，而亦有所損也。又嘗參之以脈。夫左寸，心脈所出也。或時而浮洪，或時而斂小，蓋由心之勞逸不常，以致脈之大小無定。勞則心動而火熾，故脈為之浮洪而躁擾。逸則心安而氣和，故脈為之斂小而恬靜。所可喜者，肝腎二脈靜而有常，久而不變，是知相火雖或有時而動，而勢未致於燎原也。故今病未即瘳而終有可瘳之理，邪未即伏而終有可伏之機，尚復何慮之有？右手三部，肺、脾、命脈之所出也。亦或浮而稍洪，又或小而稍弱，良由火來侮肺，又乘於脾，遂延及命門，以致然耳。故曰火性躁擾強越，其燔灼之禍，無不著於物也。或時小而稍弱者，蓋府藏之陰血陽氣，未免為火暗傷而陰損。故火旺之時，脈來浮洪，而獨見火象。及火靜之後，則邪伏而虛見矣。脈之小而弱者，寧不基於此乎？</p>
<p>或曰：血為火銷，吾固聞其說矣，而氣當賴之以為助，何謂亦傷其陽乎？</p>
<p>經曰少火生氣，壯火食氣。夫少火固可以生氣，而壯火，火之旺盛也，安得不食其氣而損之乎？又曰熱傷氣。故暑月多致人無氣以動，怠惰嗜臥。可見火之傷氣，不待辨而明矣，又何疑之有哉？</p>
<p>生於是察其脈，切其病，反復精思，參互考證。所治之方，無出於八物湯之外也。或者專主四物滋陰，加黃柏、知母、玄參、生地之屬以降火，此固一說也。未免寒傷胃氣，而嘔瀉畏食之病莫能去矣。或者專主四君子以養陽，加溫暖、消導、燥熱之劑以助胃，此亦一理也。未免陽剛傷陰，而夜夢遺精之患不能除矣。求其萬舉萬全，而無一偏之害者，還當以八物為主。一則可以養陰，而心火不致於太熾；一則可以養陽，而脾土不致於太傷。其他清金降火、安神固腎之藥，又當因時月之宜，酌病之輕重，更相出入，遞為佐使，庶得變通之妙。而免執中無權之誚矣。守此以治，而謂病之不痊，吾未之信也。</p>
<p>抑猶有說焉。夫人生氣交之中，孰能無欲？</p>
<p>所謂欲者，非特色欲之欲，凡耳之於聲，目之於色，鼻之於臭，口之於味，皆所謂欲也。周子曰欲動則情熾，熾從火，則火之熾可知矣。丹溪所謂諸動屬火，其原蓋出於此歟？故聖賢教人不曰窒欲，則曰寡欲，此善治乎火也。不此是務，而惟日以百憂感其心，萬事勞其形，惟恃刀圭之劑，以求旦夕之功，是謂捨本而逐末，徇外以遺內也，豈自根自本之論哉？</p>
<p>今之所患，誠能內觀以養神，存心以養性，則水可生，火可降，坎離交而地天泰矣，又何待於籠中物耶？且胃氣者，清純沖和之氣也。凡藥之氣皆偏，非若五穀可常食也。苟不知此，而惟藥之是耽，則胃氣之存者幾希矣。有志養生者，不可以不謹。</p>
<p>生既以症治之方，而詳之於前；復以存養之要，而申之於後，無非致其叮嚀忠愛之意也。伏乞高明議之，以訂是否。</p>

<h2>條答福建舉人謝邦實所患書</h2>
<p>——所示大便多燥，而色赤褐，意燥赤亦熱所為。</p>
<p>大便燥赤，固熱所為，亦挾血虛。蓋大腸屬陽明燥金，血旺則便潤，血少則便燥。且腎主大便，而亦屬血也。由此論之，則血虛兼熱為兩盡矣。</p>
<p>——所示夜臥少寧，舌生黑胎，唇口焦燥，靜養服藥二三日，胎始退，不知降火去胎之藥，更有何方法？唇舌焦乾，更何調理？</p>
<p>此項數病，皆生於心。何則？心主血脈，心血一虧，則陽熱隨起，故夜臥不寧、唇舌焦燥、黑胎之病，層出而疊見矣。且舌乃心之苗。心火亢極，故舌生黑胎。靜養二三日而始退者，蓋靜養則陰生，陰生則陽伏矣。周子所以定之以中正仁義而主靜者，良以此也。降火去胎、潤唇滋燥之藥，恐無出於四物，再加麥門冬、五味、黃柏、知母之屬。</p>
<p>——所示目力亦短，五步之內，於人多不能識，直視天日，惟濛濛紛紛白花矣；白精血縷不斷，睡醒反漬淚。</p>
<p>東垣云：能遠視不能近視，氣有餘血不足也；能近視不能遠視，血有餘氣不足也。今貴目既不能視遠，又不能視近，此氣血俱不足也。直視天日，惟見白花，白花乃肺之象。何則？肺為氣主，屬金而燥，肺金一虛，火來易侮，且天與日皆陽火也，虛金受侮於天日之陽火，故白花紛紛散漫而見於前矣。白精血縷不斷，睡醒反漬淚者，屬於肝火之動也，經云「肝熱甚則出淚」是矣。所治之方，要當滋腎水以制火，保肺氣以畏木，則眼中諸疾雖不期愈而自愈矣。然加減補陰丸正與病對，先生宜詳審之。</p>
<p>——所示腎覺衰甚，不敢勞動，惟有患則腰足痠痛，或右腎痠疼，或久立、或勞皆然。意區區氣病居多，故所患右體偏多，見須白眼赤，多自右為甚。</p>
<p>夫人之一身，氣血周流。細而分之，則氣屬於右，血屬於左。氣屬於右，則右體不免氣旺而血劣也。且先生亦中年已後，血氣日減，加之右體氣旺血劣，宜乎腰足痠疼、右腎時痛、須白眼赤之症多見於右也。補腎藥方，亦無出於加減補陰丸藥，生當別楮以呈。</p>
<p>——所示勞倦時，小便旁射，散逆如絲，不得順直。意皆氣之不足、藥之不專、勞而失養。然歟？</p>
<p>此條先生以為氣之不足、藥之不專、勞而失養之所致。以予觀之，誠不出此三之外。但先生徒托諸空言，不見諸行事，是以病根不除，時作而時止矣。</p>
<p>——所示近來腰復微痛，坐久屈伸不便。右側腰腿相接處，自環跳穴旁多痠痛。</p>
<p>夫腰者，腎之外候。蓋由腎水衰虛於內，以致腎之外候或微痛，或屈伸不便，或環跳穴旁痠痛也。環跳雖屬膀胱，膀胱亦腎之府，未有藏病而府不病也。</p>
<p>——示孤骨下間有火熱，或升於右腳股，一團三指許，有時微熱如燈照。</p>
<p>丹溪有曰，火自湧泉穴起者，乃火起於九泉也。孤骨須也屬於膀胱，與腎相為表裡，而又近於湧泉。即此觀之，是亦腎水衰少，不足以制火，起於九泉之類也。此宜滋養腎水以制妄火，經云滋陰水以制陽光是也。</p>

<h2>疫</h2>
<p>一人年弱冠時，房勞後忽洒洒惡寒，自汗發熱，頭背胃脘皆痛，唇赤、舌強、嘔吐，眼胞青色。醫投補中益氣，午後譫語，惡熱，小便長。初日脈皆細弱而數，次日脈則浮弦而數，醫以手按臍下痛。議欲下之，遣書來問。</p>
<p>予曰：疫也。疫兼兩感，內傷重，外感輕耳。臍下痛者，腎水虧也。若用利藥，是殺之也。古人云疫有補、有降、有散，茲宜合補降二法以治。別清暑益氣湯，除蒼朮、澤瀉、五味，加生地、黃芩、石膏，服十餘帖而安。</p>

<h2>瘧</h2>
<p>邑人汪大尹，年幾七十。形色蒼白，勞倦病瘧。瘧止，胸膈痞悶，心惡痰多，不思飲食，懶倦，口苦頭痛，夜夢紛紜，兩腿時癢。予為診之，脈皆浮濡無力，且過於緩。</p>
<p>醫書云，脈緩無力者，氣虛也。又云，勞則氣耗。又云，勞倦傷脾。脾傷不能運化精微以養心，故心神為之不安，宜仿歸脾湯例治之。人參二錢，麥門冬、白朮各一錢，歸身、酸棗仁、茯神各八分，黃芩、陳皮各六分，枳實、甘草各五分，川芎七分，煎服二帖，夜臥頗安。但藥後覺嘈，食則吞酸口淡。減去枳實，加山楂七分、吳茱萸二分服之，仍用參、朮、歸、芎、山梔、山楂，丸服而愈。</p>
<p>一人年逾四十，形瘦色紫淡，素勞傷脾。予令常服參苓白朮散獲安。住藥一年，復勞飲冷酒不爽，是夜頭又被濕，遂致身冷不安，早起面目俱黃。醫用零筋草根酒煎服之，吐瀉大作。又加姜煎，則心熱膈壅，不進飲食，大便秘結，瘧作，胸膈痞塞，粥飲不入，食此湯則噯此氣，嘔逆吐涎，意向甚惡。予診左脈浮濡無力，肝脈頗弦，右脈肺部濡散，脾部浮微，二部脈皆似有似無，或呼吸相引，又覺應指。</p>
<p>曰：此脾虛之極也。初因勞熱飲冷，頭又被濕，內熱因郁，故發為黃。若用搐藥以泄上焦濕熱，則黃自退。乃用草藥酒煎，濕熱雖行，而脾氣存也幾希。且勿治瘧，當用補脾為急。用人參五錢，橘紅一錢，時時煎湯呷之，令其旦暮食粥，以回胃氣。彼如所言，旬余乃愈。</p>
<p>一人年逾四十，不肥不瘦，形色蒼白，季秋久瘧，醫用丹劑一丸止之，嘔吐不休，粒米不入，大便或瀉，面赤，妄語，身熱。予診脈皆浮而欲絕。</p>
<p>仲景云陽病得陰脈者死。今面赤、身熱、妄語，其症屬陽；而脈微欲絕，則陰脈矣，此一危也。經曰得谷者昌，失谷者亡。今粒米不入，此二危也。又曰泄而熱不去者死。今數泄瀉，而面赤、身熱不除，此三危也。以理論之，法在不治。古人云治而不愈者有也，未有不治而愈者也。令用人參五錢，白朮二錢，御米一錢，橘紅八分，煎服四帖，漸有生意。</p>
<p>一人年近三十，形瘦淡紫，八月間病瘧。予診之，左脈頗和而駛，右脈弱而無力。令用清暑益氣湯加減。服之覺胸膈痞悶，遂畏人參，更醫作瘧治。而瘧或進或退，服截藥病稍增。延至十月，復邀予診。脈皆浮小而濡帶數，右則尤近不足。</p>
<p>曰：正氣久虛，邪留不出，瘧尚不止也。宜用十全大補湯減桂，加芩倍參，服之漸愈。</p>
<p>一人年逾三十，形瘦色蒼，八月間病瘧。或用截藥，或用符水，延纏不愈，胸膈痞滿，飲食少進，大腸痔血，小便短赤，瘧發於夜，寒少熱多，自汗。予診左脈濡小而緩，右脈濡弱無力。</p>
<p>曰：此久瘧傷脾也。用人參二錢，白朮、歸身、茯苓各一錢，芍藥八分，黃芩七分，枳實五分，陳皮六分，甘草四分煎服。後因痔血未止，吞槐角丸而血愈多，仍服前方而血減矣。</p>
<p>一婦面色淡紫，年逾四十，九月病瘧。夜發渴多汗，嘔吐，粒食不進數日。予診脈皆浮濡而緩，按之無力。</p>
<p>遂用人參五錢，橘紅八分，甘草七分，白朮一錢，煎服十餘帖，瘧止食進，漸有生意，但大便二十日不通。再診，右脈浮小無力，左脈沉弱無力。前方加歸身一錢，火麻仁錢半，如舊煎服，病除。</p>
<p>一婦年逾三十，瘦長淡紫，六月產，八月瘧。瘧止胸膈痞悶，才勞氣喘咳血，身熱腳冷。予診左脈濡弱，右脈肺部頗洪，關尺二部亦弱。</p>
<p>以生地黃、白芍、麥門冬、白朮各一錢，阿膠、歸身、牡丹皮各七分，人參八分，陳皮五分，煎服一帖，再令熱服。瀉止膈快，但盜汗而腳軟。前方加黃耆錢半，黃柏七分，依前煎服而安。</p>
<p>一人年三十，形色蒼白，因勞感熱，九月盡病瘧。頭痛，口渴，嘔吐，胸膈痞塞，不進飲食，自汗倦怠，熱多寒少。醫用截藥，病增。過飲水，吐甚。予診脈皆浮大而濡，頗弦。</p>
<p>曰：此勞倦傷脾，熱傷氣之瘧也。令用人參三錢，黃耆錢半，白朮、麥門冬各一錢，枳實五分，山楂七分，歸身、黃柏、知母各七分，乾薑、甘草各三分，煎服三帖病減。復勞病作，前方人參加作四錢，服之向安。</p>
<p>一人年三十，久瘧。醫用補中益氣湯，或止或作，延及半年，因解發結，勞傷咳嗽。醫用前方加半夏、五味，遂致喉痛聲啞，夜不能寢。邀予視之，右脈浮濡，左脈小弱。</p>
<p>曰：經云「陰火之動，發為喉痹」是也。此必色欲不謹，久服參耆，徒增肺中伏火耳。令以甘桔湯加鼠黏子、蜜炙黃柏，煎服二帖，喉痛除而聲出。繼服保和湯五帖而安。</p>
<p>一人年三十餘，形瘦淡紫，素勞久瘧，三日一發，於夜嘔吐，熱多寒少，不進飲食，小便頻數，氣喘咳嗽，日夜打坐，不能伏枕幾月矣，頭身骨節皆痛。醫作瘧治，病甚，眾皆危之。脈皆浮虛緩弱而不甚大。</p>
<p>予以參、術加陳皮、黃柏、枳實、知母、麥門冬、北五味，煎服三帖病退。越二日復病。令用四物加童便服之，則嗽除喘止，始能就臥。再用八物湯除茯苓加枳實、香附，又用枳朮丸加人參、砂仁、歸身、黃芩，吞服調理，熱來常服童便，半年而安。</p>
<p>一婦形色脆白，年五十餘，憂勞，六月背瘡。艾灸百餘壯，瘡散病瘧。身熱，自汗，口渴，頭暈，嘔吐，泄瀉，不進飲食，寒少熱多。自用清暑益氣湯，病甚。予診左脈浮微，似有似無，右脈浮小，按之不足。</p>
<p>曰：病須屬瘧，當作虛治。依方而用清暑益氣，固與病宜，但邪重劑輕，病不去耳。令以參、術加作五錢，耆三錢，茯苓一錢，陳皮七分，甘草五分，煎服病退。</p>
<p>一人於嘉靖九年因冒風病瘧。熱多寒少，頭痛倦怠，食少自汗，已服參蘇飲一帖。予適在彼，診之，脈皆浮虛近駛。</p>
<p>曰：此虛瘧也，非參蘇飲所宜。令將平日所服參、耆、歸、術等藥煎服五六帖而愈。且諭之曰，元氣素虛，不宜發散。凡遇一切外感，須以補元氣為主，少加發散之藥以輔佐之，庶為允當，宜永識之。</p>
<p>一婦常患咳嗽，加以瘧疾，因仍左脅有塊。瘧止有孕，嗽尚不寧，咳干痰少，或時嘔出頑痰鍾許方止，夜亦如是，常覺熱盛，胸膈壅滿，背心亦脹，常要打摩。妊已六月。夜半如廁，身忽寒戰厚覆，少頃乃愈。越二日，夜半又發，寒熱如瘧，肢節痛，上身微汗，口中覺吐冷氣，胸喉如有物礙，心前虛腫，按之即痛，頭痛氣喘，坐臥不寧。醫作傷寒發散，又作痰症而用二陳，不效。予往視之，脈皆濡而近滑。</p>
<p>曰：胃虛血熱也。先以四君子湯加黃芩、枳殼、麥門冬，煎服二三帖，以保胃氣。繼以四物湯加檳榔、枳殼、麻仁、大黃，三服下之。遂滯下後重，虛坐努責，怠倦不食，時或昏悶亂叫，食則脹，不食飢，四肢痛，腳腫。予曰：胃虛，非湯藥所宜。令合枳朮丸加人參、當歸、黃芩，服月餘，諸證悉除，胎亦無損。</p>
<p>一人形瘦色脆，年幾三十。正德十年四月腹痛，惟覺氣轉左邊，五日而止。次年四月亦然。八月病瘧，間日一發，寒少熱多，十餘日止。第三年四月八月如舊，腹痛瘧作。四年五年四月八月亦然，但瘧作腹痛，瘧止痛止。旬余瘧除，又瀉痢十餘日。瀉止瘧又作，但不腹痛，五日瘧瘥。仲冬感寒，頭痛發熱，腹及右脅脹痛，氣喘溏瀉，內黑外紅，日夜五六次，內熱不減，飲食難進。醫用三乙承氣湯三帖，繼用木香枳朮丸，諸症稍定。午後內熱愈熾，遇食愈脹，得瀉略寬，頭痛不減。詣予診治，脈皆浮濡近駛。</p>
<p>曰：氣屬陽當升，虛則下陷矣，又屢服消克攻下之劑，所謂虛其虛也，安得不脹而瀕瀉乎？經云下者舉之，其治此病之謂歟！</p>
<p>或曰：脹滿者，氣有餘也；積塊者，氣固結也。經云結者散之，有餘者損之。今有餘而補固結，而益何謂？</p>
<p>予曰：人身之氣，猶天之風，風性剛勁，揚砂走石，孰能御之？孟子曰「至大至剛」是也。餒則為物障蔽，反以為病。若能補養，以復其剛大之性，則衝突排蕩，又何脹滿不散、積塊不行？經曰「壯者氣行則愈，怯者著而成病」是也。蓋氣之強壯者，則流動充滿。或有積滯，亦被衝突而行散矣，何病之有？氣之怯弱，則力小遲鈍，一有積滯，不免因仍承襲，積著成病。故此病法當升陽益胃。遂以參苓白朮散煎升麻湯，調服月餘，仍令丸服一料而愈。</p>
<p>一人形瘦色脆，年三十餘。八月因勞病瘧。寒少熱多，自汗體倦，頭痛胸痞，略咳而渴，惡食，大便或秘或溏，發於寅申巳亥夜。醫議欲從丹溪，用血藥引出陽分之例治之。予診其脈，濡弱近駛稍弦。</p>
<p>曰：察形觀色參脈，乃屬氣血兩虛，瘧已深入厥陰矣。專用血藥，不免損胃又損肺也。淹延歲月，久瘧成癆，何也？自汗嗽渴，而蒼朮、白芷豈宜例用？惡食胸痞，而血藥豈能獨理？古人用藥立例，指引迷途耳。因例達變，在後人推廣之也。遂以補中益氣湯，加川芎、黃柏、枳實、神麯、麥門冬，倍用參、耆、術。煎服三十餘帖，諸症稍除，瘧猶未止。乃語之曰：今當冬氣沉潛，瘧氣亦因之以沉潛，難使浮達，況汗孔亦因以閉塞。經曰瘧以汗解。當此閉藏之時，安得違天時以汗之乎？且以參、朮、枳實、陳皮、歸身、黃芩丸服。胃氣既壯，來年二月，瘧當隨其春氣而發泄矣。果如期而安。</p>
<p>一人年三十，形色頗實。初因舟行過勞受熱，咳嗽不已，續又病瘧，素有熱淋。求醫服藥，或作或輟。回家，予為診之。脈皆濡弱近緩，左尺略駛。</p>
<p>曰：此熱傷氣也。肺為氣主。氣傷，肺亦傷矣，故發咳嗽。其瘧亦因熱而作。令用人參錢半，白朮、麥門冬、茯苓各一錢，歸身、知母各七分，青皮、黃柏、甘草各五分，煎服而安。九月覆舟行過勞感熱，其瘧復作。或一日一發，或二日一發，或三日一發，或連發二日。回家，醫作瘧治不效。仍用前方煎服，遂安。</p>
<p>一人年三十，六月因勞取涼，夢遺，遂覺惡寒，連日慘慘而不爽，三日後頭痛躁悶。家人診之，驚曰脈絕矣。議作陰症，欲進附子湯。未決，邀予往治。</p>
<p>曰：陰症無頭痛。今病如是，恐風暑乘虛入於陰分，故脈伏耳，非脈絕也。若進附子湯，是以火濟火，安能復生？姑待以觀其變，然後議藥。次日，未末申初果病。寒少熱多，頭痛躁渴，痞悶嘔食，自汗，大便或瀉或結，脈皆濡小而駛，脾部兼弦。此非尋常驅瘧燥烈劫劑所能治。遂用清暑益氣湯減蒼朮、升麻，加柴胡、知母、厚朴、川芎，以人參加作二錢，黃耆錢半，白朮、當歸各一錢，煎服二十餘帖而愈。</p>
<p>本縣二尹大人，北人，形長魁偉，年逾四十。六月，舟中受熱，病瘧。寒少熱多，頭痛躁渴汗多，醫用七保飲治之，不愈。予診其脈浮濡而駛略弦。</p>
<p>曰：此暑瘧也。以白虎湯加人參三錢，煎服十餘帖而瘧止。</p>
<p>侍御程公，形色清脆，年逾四十，素善飲，形色蒼熱。病頭痛，惡食泄瀉，小便短少，午後惡寒發熱。醫用二陳、平胃、五苓共一服，治不退，反增腰腹拘急。邀予診視。脈皆濡弱頗弦而駛。</p>
<p>曰：耗血傷胃，惟酒為甚。復加以時熱，外傷其氣。內外兩傷，法當從補。若用草果、檳榔、常山、半夏躁烈之劑，譬猶抱薪救火，寧不益其病耶？遂以人參二錢，黃耆錢半，以益皮毛，不令汗泄；白朮、茯苓、石膏、麥冬各一錢，以導濕熱，不使傷胃；知母、青皮、神麯、黃芩、歸身、川芎、柴胡各七分，以消積滯而和表裡，少加甘草三分，煎服十餘帖，瘧止。後以參苓白朮散常服，收功。</p>
<p>一人年三十餘，八月因勞病瘧。詣予診治。脈皆六至而數無力。</p>
<p>曰：古人云形瘦色黑者，氣實血虛也。又云脈數無力者，血虛也。間日發於午後，亦血分病也。以色脈論之，當從血治。但今汗多，乃陽虛表失所衛；消穀善飢，乃胃虛火乘其土，皆陽虛也。仲景法有憑症不憑脈者，茲當憑症作陽虛治。以參、耆各三錢，白朮、白芍、麥門冬各一錢，歸身、生地、甘草各七分，黃柏、知母、陳皮各五分，煎服二十餘帖而安。若用尋常驅瘧劫劑，寧免後難？</p>
<p>予年逾六十，形質近弱。八九月酷熱時，往來休歙，外有藥劑之勞，內有病者之憂，內外弗寧，晝夜不靜。至十月初旬，瘧作三日，午後一發，寒不甚寒，熱不甚熱，喜熱惡寒，寒去熱來則爽快矣。口乾微渴，臨發昏倦嗜臥。左脈沉小而數，右脈浮濡無力，亦近於數，獨脾部弦而頗洪，瘧去則脈大小浮沉相等，惟覺緩弱而已。</p>
<p>初服補中益氣湯十餘帖，病無加減，夜苦盜汗。繼服當歸六黃湯，黃耆每帖四錢，五帖汗止，瘧如舊。再服白虎湯，人參四錢，石膏三錢，知母一錢，甘草六分，米一撮，煎服十餘帖而瘧止矣。</p>
<p>一人瘦長脆白，年三十餘。久瘧後盜汗自汗過多，加以傷食，吐瀉大作，吐止而瀉，四日不住，筋惕肉瞤，驚悸夢遺，小便不禁。予診脈皆緩弱，右略弦而澀。</p>
<p>曰：此下多亡陰，汗多亡陽，氣血虛也。遂以參、耆為君，白朮為臣，山梔、麥門冬、牡蠣為佐，酸棗、歸身、山楂為使，加以薄桂，煎服旬余，諸證稍退。</p>
<p>半年之間，常覺臍下內熱一團，烘烘不散，時或夢遺。浮梁孫醫議作熱鬱，固欲下之。予曰：此非有餘之熱，乃陰虛生內熱耳。若欲下之，是殺之耳。宜以前方加黃柏，熱當自退，果驗。</p>
<p>一人年十七八，時因讀書飢感寒得瘧，延纏三年瘧愈，寒氣，臍左觸痛，熱熨而散，仍或發或止。後因新娶，往縣復受飢寒，似病傷寒，吐二日夜不止。接服理中湯、補中益氣湯、固本丸、補陰丸、豬肚丸，其吐或作以止，飲食或進或不進。續後受飢勞倦，食則飽悶，子至午前，睡安略爽，食稍進，午後氣升，便覺脹悶，胸膈漉漉水響，四肢微厥，吐水或酸或苦，亦有間日吐者，大便燥結，小便赤短，身體瘦弱，不能起止。</p>
<p>予曰：須不見脈見症，必是稟賦素弱，不耐飢寒，宜作飲食勞倦為主，而感冒一節，且置諸度外。夫氣升脹悶觸痛者，脾虛不能健運，以致氣鬱而然。胸膈漉漉水聲，謂之留飲。乃用獨參湯補養其氣血，加姜以安其嘔吐，黃柏以降其逆氣。初服三帖，臍左痛除，吐止。將人參加作一兩，吐又復作。此由補塞太過，而無行散佐使故也。人參減作七錢，附五分，炮姜七分，半夏八分，蒼朮七分，厚朴七分，茯苓一錢。服至二十餘帖，吐止食進，余病皆減，頗喜肉味。以手揉擦其肚，尚有水聲汩汩。微感寒，腹中氣猶微動，或時鼻衄數點。近來忽瀉，二日而自止。才住前藥，又覺不爽。前方加黃耆四錢，山梔七分，減黃柏，如舊煎服。</p>
<p>或曰：吐水或酸或苦，大便閉燥，小便赤短，諸書皆以為熱。凡病晝輕夜重，諸書皆為血病，今用姜附何也？</p>
<p>予曰：吐水酸苦，由脾虛不能行濕，濕鬱為熱，而水作酸苦也。姜附性熱辛散，濕逢熱則收，郁逢熱則散，濕收郁散，酸苦自除。大便燥結者，由吐多而亡津液也。小便短少，由氣虛不能運化也。茲用人參以養血氣，則血潤燥除，氣運溺通矣。若用苦寒之藥，則苦傷血，寒傷氣，寧不愈益其病哉？日輕夜重為血病者，道其常也。此則不然，須似血病而實氣病也。醫作血病，而用固本補陰等藥反不解，非血病可知。所以日輕者，日則陽得其位而氣旺，故病減；夜則陽失其位而氣衰，故病重，經曰「至於所生而持，自得其位而起」是也。故病則有常有變，而醫不可不達其變也。病將愈，猶或鼻衄數點者，此浮溜之火也。加山梔氣味薄者以潛伏之，久當自愈。後聞食母豬肉，前病復作。予曰：藏府習熟於藥，病亦見化於藥，再無如之何矣。</p>

<h2>鼻衄流涕</h2>
<p>一人形近肥而脆，年三十餘，內有寵妻。三月間，因勞感熱，鼻衄。久而流涕不休，臭穢難近，漸至目昏耳重，食少體倦。醫用四物涼血，或用參耆補氣，罔有效者。邀予診視，脈皆浮濡而滑，按之無力。</p>
<p>曰：病不起矣。初因水不制火，肺因火擾，涕流不休，經云「肺熱甚，則出涕」是也。況金體本燥，津液日泄，則燥者枯矣。久則頭面諸陽之液亦因以走泄。經云「枯澀不能流通，逆於肉理，乃生癰腫」是也。予歸月餘，面目耳旁果作癰瘡而卒。後見流涕者數人，亦多不效。</p>

<h2>痢</h2>
<p>一婦年逾五十，病痢半載余。醫用四物涼血之劑及香連丸，愈增。胃脘腹中痛甚，裡急後重，下痢頻並噯氣，亦或咳嗽，遍身煩熱。予為診之，脈皆細弱而數。</p>
<p>曰：此腸胃下久而虛也。醫用寒涼，愈助降下之令，病何由安？經云「下者舉之，虛者補之」，其治此病之法歟！遂以參、術為君，茯苓、芍藥為臣，陳皮、升麻為佐，甘草為使，研末。每服二錢，清米飲調下，一日二次或三次，遂安。</p>
<p>一人八月病滯下，醫用調胃承氣、大承氣湯下之不利，邀予視之。面色萎黃，食少無味，大便不通，惟後重甚痛，脈皆細弱近滑，右脈覺弱。</p>
<p>予曰：此氣滯非血滯也。醫用硝黃利血，宜其氣滯於下而愈不通矣。遂令吞黃連阿膠丸，再用蓮子、升麻、白芍、實、黃芩、枳殼、歸身煎服而安。後用白朮、人參二兩，白芍、陳皮、山楂各一兩為末，粥丸，常服調理。</p>
<p>予兄年逾六十，蒼古素健。九月患滯，予適出外，自用利藥三帖，病減。延至十月，後重未除，滯下未止。診之，脈皆濡散頗緩。</p>
<p>初用人參二錢，歸身、升麻、白芍、桃仁、黃芩各一錢，檳榔五分煎服，後重已除。再減桃仁、檳榔，加白朮錢半，滯下亦定。惟糞門深入寸許，近後尾閭穴旁，內生一核如梅，頗覺脹痛不爽。予曰：此因努責，氣血下滯於此，耐煩數日，膿潰自安，果如所言。後服槐角丸，痔痛如故，用人參三錢，歸、耆升麻等劑而愈。</p>

<h2>脅痛</h2>
<p>予婿王琇，客揚州，病脅痛。醫以為虛，用人參、羊肉補之，其痛愈甚。鎮江錢醫治以龍薈丸，痛減。予聞，冒雪自蕪湖徒行至彼。診之，脈皆弦濡而弱。</p>
<p>曰：脾胃為痛所傷，尚未復也。遂用橘皮枳朮丸加黃連、當歸，服之而安。</p>
<p>越五年，腹脅復痛。彼思頗類前病，欲服龍薈丸，未決。予又沖寒陸路至彼，遂親扶持，不成寐者數晚，診之脈皆濡弱而緩。</p>
<p>曰：前病屬實，今病屬虛，非前藥可治也。遂以人參為君，芎、歸、芍藥為臣，香附、陳皮為佐，甘草、山梔為使，煎服十餘帖，痛止而食進矣。</p>
<p>又，後十餘年，來賀余壽，病滯下，腹痛後重，日夜四五十行。診之，脈皆濡弱近駛。</p>
<p>曰：此熱傷血也。以四物加檳榔、大黃下之，四五行，腹痛稍減，後重不除。仍用前方除大黃，服十餘帖，續吞香連丸獲安。</p>
<p>三病，予三起之，其勞甚矣。情須丈婿，恩同父子，不知彼以父視我乎，以人視我乎？</p>
<p>黟縣丞，年逾五十，京回，兩脅肋痛。醫用小柴胡湯，痛止。續後復痛，前方不效，請予往治。脈皆弦細而濡，按之不足。</p>
<p>曰：此心肺為酒所傷，脾腎為色所損，兩脅脹痛，相火亢極，肝亦自焚。經云「五藏已虛，六藏已極，九候須調者死」，此病之謂歟？果卒。</p>

<h2>鼓脹</h2>
<p>一人年逾四十，春間患脹。醫用胃苓湯及雄黃敷貼法，不效。邀予診視，脈皆緩弱無力。</p>
<p>曰：「此氣虛中滿也，曾通利否？」曰：「已下五六次矣。」予曰：「病屬氣虛，醫反下之，下多亡陰，是謂誅罰無過也。故脈緩，知其氣虛；重按則無，知其陰亡。陽虛陰亡，藥難倚仗。八月水土敗時，實可憂也。」乃問予曰：「今不與藥，病不起耶？嘗聞脹病臍突不治，肚上青筋不治，吾今無是二者。」予白：「然也。但久傷於藥，故且停服。」明日遂歸，如期果卒。</p>
<p>一婦形瘦弱小，脈細濡近駛。又一婦身中材頗肥，脈緩弱無力。俱病鼓脹，大如箕，垂如囊，立則垂墜，遮攔兩腿，有礙行步，邀予視之。</p>
<p>曰：腹皮寬縋已定，非藥可斂也，惟宜安心寡欲，以保命爾。後皆因產而卒。</p>
<p>或曰：鼓脹如此，何能有孕？予曰：氣病而血未病也，產則血亦病矣。陰陽兩虛，安得不死？</p>
<p>又一婦瘦長蒼白，年餘五十，鼓脹如前二人，頗能行立，不耐久遠，越十餘年無恙。恐由寡居，血無所損，故得久延。</p>
<p>一人年逾四十，瘦長善飲。診之，脈皆洪滑。</p>
<p>曰：可治。《脈訣》云腹脹浮大，是出厄也。但濕熱大重，宜遠酒色，可保終年。遂以香連丸，今日吞三次，每服七八十丸。月餘良愈。</p>
<p>一人年三十餘，酒色不謹，腹脹如鼓。醫用平胃散、廣荗潰堅湯不效。予為診之，脈皆浮濡近駛。</p>
<p>曰：此濕熱甚也，宜遠酒色，庶或可生。彼謂甚畏湯藥。予曰丸藥亦可。遂以枳朮丸加厚朴、黃連、當歸、人參、荷葉燒飯丸服，一月果安。</p>
<p>越三月餘，不謹腹脹，再為診之。曰：不可為也。臍突如脹，長二尺余，逾月而卒。臍突寸余者有矣，長餘二尺者，亦事之異，故為記之。</p>

<h2>莖中蟲出</h2>
<p>休邑西山金舉人嘗語人曰，渠嘗病小腹甚痛，百藥不應。一醫為灸關元十餘壯，次日，莖中淫淫而癢，視之如蟲，出四五分，急用鐵鉗扯出，果蟲長五六寸。連日蟲出如此者七條，痛不復作。初甚驚恐，復視以為嘗，皆用手扯，此亦事之偶中也。仲景云火力須微，內攻有力。蟲為火力所逼，勢不能容，故從溺孔中出也。其人善飲御內，膀胱不無濕熱，遇有留血瘀濁，則附形蒸郁為蟲矣。經云濕熱生蟲，有是理也。故癆蟲、寸白蟲皆由內濕熱蒸鬱而生，非自外至者也。正如春夏之交，濕熱鬱蒸，而諸蟲生焉是矣。此亦奇病，故記之。</p>

<h2>身癢</h2>
<p>一人年逾六十，形瘦蒼紫。夜常身癢，搔之熱，蒸皮內肉磊如豆粒，癢止熱散，肉磊亦消矣。醫用烏藥順氣、升麻和氣等不效。詣予診之。脈皆細濡近駛。</p>
<p>曰：此血虛血熱也。醫為順氣和氣，所謂誅罰無過，治非所宜。遂以生地、玄參、白蒺藜、歸、芎、耆、芍、黃芩、甘草、陳皮煎服，月餘而愈。</p>

<h2>膈噎</h2>
<p>一人年六十逾，色紫。平素過勞好酒，病膈。食至膈不下，就化為膿痰吐出，食肉過宿，吐出尚不化也。初臥則氣壅不安，稍久則定。醫用五膈寬中散、丁沉透膈湯，或用四物加寒涼之劑，或用二陳加耗消之劑，罔有效者。來就余治。脈皆浮洪弦虛。</p>
<p>予曰：此大虛症也。醫見此脈，以為熱症，而用涼藥，則愈助其陰，而傷其陽。若以為痰為氣，而用二陳香燥之劑，則愈耗其氣，而傷其胃，是以病益甚也。況此病得之酒與勞也。酒性酷烈，耗血耗氣，莫此為甚。又加以勞傷其胃，且年逾六十，血氣已衰，脈見浮洪弦虛，非吉兆也。宜以人參三錢，白朮、歸身、麥門冬各一錢，白芍藥八分，黃連三分，乾薑四分，黃芩五分，陳皮七分，香附六分，煎服五帖，脈斂而膈頗寬，食亦進矣。</p>

<h2>淋</h2>
<p>一人形肥蒼白，年五十餘，病淋，砂石澀痛。醫用五苓或琥珀八正散之類，病益加。邀余往診。脈皆濡弱而緩近駛。</p>
<p>曰：此氣血虛也。經云膀胱者，津液之府，氣化出焉。今病氣虛，不惟不能運化蒸溽，而亦氣餒不能使之出也。經又云血主濡之。血少則莖中枯澀，水道不利，安得不淋？醫用通利，血愈燥，氣愈傷矣。遂用大補湯加牛膝，煎服月餘，病減。仍服八味丸，除附子，加黃耆，服半月餘，遂獲安。</p>

<h2>眼目</h2>
<p>一婦年逾四十，兩眼昏昧，咳嗽頭痛似鳴，而痛若過飢，噁心。醫以眼科治之，病甚。予診脈皆細弱，脾部尤近弦弱。</p>
<p>曰：脾虛也。東垣云五藏六府，皆稟受於脾，上貫於目。脾虛，則五藏精氣皆失所司，不能歸明於目矣。邪逢其身之虛，隨眼系入於腦，則腦鳴而頭痛。心者，君火也，宜靜。相火化行其令，勞役運動則妄行，侮其所勝，故咳嗽也。醫不理脾養血，而從苦寒治眼，是謂治標不治本。乃用參、耆錢半，麥門冬、貝母各一錢，歸身八分，陳皮、川芎、黃芩各七分，甘草、甘菊花各五分，麥芽四分，煎服二帖，諸症悉除。</p>

<h2>白濁</h2>
<p>一人年逾三十。季夏日午，房後多汗，晚浴又近女色，因患白濁。醫用胃苓湯，加右眼作痛。用四物湯入三黃服之，睡醒口愈加苦，又加左膝腫痛。仲冬不藥濁止。漸次延至背痛，不能轉側，日輕夜重。嚏則如繩束撮，腰脅痛不可忍，呵氣亦應背痛。或時夢遺。次年正月請予診治。脈皆緩弱無力，左脈緩而略滑。</p>
<p>曰：此脾腎病也。遂以人參黃耆各二錢，茯、朮、歸身、麥門冬各一錢，牛膝、神麯、陳皮、黃柏各七分，甘草、五味各五分，煎服三十餘帖，仍以龜板、參、耆、黃柏各二兩，熟地、山萸肉、枸杞、杜仲、歸、茯、牛膝各一兩，丸服而愈。</p>

<h2>咳嗽</h2>
<p>一人形長色蒼瘦，年逾四十。每遇秋涼，病痰嗽，氣喘不能臥，春暖即安，病此十餘年矣。醫用紫蘇、薄荷、荊芥、麻黃等以發表，用桑白皮、石膏、滑石、半夏以疏內，暫雖輕快，不久復作。予為診之，脈頗洪滑。</p>
<p>曰：此內有鬱熱也。秋涼則皮膚緻密，熱不能發泄，故病作矣。內熱者，病本也。今不治其本，乃用發表，徒虛其外，愈不能當風寒；疏內，徒耗其津，愈增鬱熱之勢。遂以三補丸加大黃酒炒三次，貝母、瓜蔞丸服，仍令每年立秋以前服滾痰丸三五十粒，病漸向安。</p>
<p>一婦年逾五十，其形色脆弱。每遇秋冬、痰嗽氣喘，自汗體倦，臥不安席，或嘔噁心。診之，脈皆浮緩而濡。</p>
<p>曰：此表虛不御風寒，激內之鬱熱而然。遂用參、耆各三錢，麥門冬、白朮各一錢，黃芩、歸身、陳皮各七分，甘草、五味各五分，煎服十餘帖而安。每年冬寒病發，即進此藥。</p>
<p>次年秋間，滯下，腹痛後重，脈皆濡細稍滑。</p>
<p>予曰：此內之鬱熱欲下也。體雖素弱，經云有故無損。遂以小承氣湯，利兩三行。腹痛稍除，後重未退。再以補中益氣湯加枳殼、黃芩、芍藥煎服，仍用醋澆熱磚布裹，坐之而愈。是年遇寒，嗽喘亦不作矣。</p>
<p>一婦產後咳嗽痰多，晝輕夜重，不能安寢，飲食無味，或時自汗。醫用人參清肺湯，嗽愈甚。予為診之，脈浮濡近駛。曰：此肺熱也。令服保和湯五帖而安。</p>
<p>一婦懷妊七月，嗽喘不能伏枕，兩臀坐久皮皆潰爛。醫用蘇子降氣湯、三拗湯、參蘇飲，罔有效者。邀予診之。右脈浮濡近駛，按之無力，左脈稍和。</p>
<p>曰：此肺虛也，宜用補法。遂以人參錢半，白朮、麥門冬各一錢，茯苓八分，歸身、阿膠、黃芩各七分，陳皮、五味、甘草各五分，煎服五七帖而痊。</p>
<p>一童子八歲，傷寒咳嗽，痰少面赤，日夜不休。丁氏小兒科治以參蘇飲，數日嗽甚。予為診之，脈洪近駛。</p>
<p>曰：熱傷肺也。令煎葛氏保和湯，二服如失。</p>

<h2>氣痛（氣逆）</h2>
<p>一婦瘦弱，年四十餘。患走氣，遍身疼痛，或背脹痛，或兩脅抽痛，或一月二三發，發則嘔盡所食方快，飲食不進，久伏床枕。醫作氣治，用流氣飲；或作痰治，用丁藿二陳湯，病甚。邀余視之。脈皆細微而數，右脈尤弱。</p>
<p>曰：此恐孀居憂思，傷脾而氣鬱也。理宜補脾散郁。以人參三錢，香附、砂仁、黃芩、甘草各五分，黃耆二錢，歸身錢半，川芎八分，乾薑四分。煎服十餘帖，脈之數而弱者稍緩而健，諸痛亦減。仍服前方，再用人參、黃耆、川芎、香附、山梔、甘草，以神麯糊丸，服之病除。</p>
<p>邑庠司訓蕭先生，年逾五十，形肥色紫。病氣從臍下衝逆而上，睡臥不安，飲食少，精神倦。予為診之，脈皆浮濡而緩。</p>
<p>曰：氣虛也。問曰：丹溪雲氣從臍下起者，陰火也。何謂氣虛？予曰：難執定論。丹溪又云肥人氣虛，脈緩亦氣虛。今據形與脈，當作氣虛論治。遂以參！耆為君，白朮、白芍為臣，歸身、熟地為佐，黃柏、甘草、陳皮為使，煎服十餘帖，稍安。彼以胸膈不利，陳皮加作七分，氣衝上，仍守前方，月餘而愈。</p>

<h2>身麻</h2>
<p>一婦或時遍身麻痹，則懵不省人事，良久乃蘇。醫作風治，用烏藥順氣散，又用小續命湯，病益甚。邀余診之，脈皆浮濡緩弱。</p>
<p>曰：此氣虛也。麻者，氣餒行遲，不能接續也。如人久坐膝屈，氣道不利，故伸足起立而麻者是也。心之所養者血，所藏者神。氣運不利，血亦罕來，由心失所養而昏懵也。遂用參、耆各二錢，歸身、茯苓、門冬各一錢，黃芩、陳皮各七分，甘草五分，煎服而愈。</p>

<h2>秘結</h2>
<p>一婦婺居改嫁，乘轎勞倦，加以憂懼，成婚之際，遂病小腹脹痛，大小便秘結不通。醫以硝黃三下之，隨通隨閉，病增胸膈胃脘脹痛，自汗食少。予為診之，脈皆濡細近駛，心脈頗大，右脈覺弱。</p>
<p>予曰：此勞倦憂懼傷脾也。蓋脾失健運之職，故氣滯不行，以致秘結。今用硝、黃，但利血而不能利氣。遂用人參二錢，歸身錢半，陳皮、枳殼、黃芩各七分，煎服而愈。</p>

<h1>卷之中</h1>

<h2>吐血（咳血）</h2>
<p>一人年三十餘，形瘦神悴，性急作勞，傷於酒色，仲冬吐血二盂盆，腹脹腸鳴，不喜食飲。醫作陰虛治，不應。明年春，又作食積治。更灸中脘、章門，復吐血碗許。灸瘡不潰，令食鮮魚，愈覺不爽。下午微發寒熱，不知飢飽。予診其脈，澀細而弱，右脈尤覺弱而似弦。</p>
<p>曰：此勞倦飲食傷脾也，宜用參、耆、白朮、歸身、甘草，甘溫以養脾；生地、麥門冬、山梔，甘寒以涼血；陳皮、厚朴，辛苦以行滯。隨時暄涼，加減煎服，久久庶或可安。三年病愈。後往臨清買賣，復縱酒色，遂大吐血，頓歿。</p>
<p>一人年二十餘，形瘦色脆，病咳血。醫用滋陰降火及清肺之藥，延及二年不減。又一醫用茯苓補心湯及參蘇飲，皆去人參，服之病增。邀予診之。脈細而數有五至余。</p>
<p>曰：不可為也。或曰：《脈訣》云「四至五至，平和之則」，何謂不可為？予曰：經云「五藏已衰，六府已極，九候須調猶死」是也。且視形症，皆屬死候。經曰肉脫熱甚者死，嗽而加汗者死，嗽而下泄上喘者死。嗽而左不得眠，肝脹右不得眠，肺脹，俱為死症。今皆犯之，雖飲食不為肌膚，去死近矣。越五日，果卒。凡患虛勞，犯前數症，又或嗽而喉痛聲啞不能藥，或嗽而肛門發瘻，皆在不救，醫者不可不知。</p>
<p>一人年三十時，過於勤勞，嘔血，彼甚憂惶。予為診之，脈皆緩弱。</p>
<p>曰：無慮也，由勞倦傷脾耳。遂用參、耆、歸、朮、陳皮、甘草、麥門冬等，煎服月餘而愈。</p>
<p>越十餘年，叫號傷氣，加以過飽病膈，壅悶有痰，間或咯紅噎酸，飲食難化，小便短赤，大便或溏，有時滑泄不止，睡醒口苦，夢多或夢遺。醫用胃苓湯，病甚。邀予診視。脈或前大後小，或駛或緩，或細或大，或弱或弦，並無常度，其細緩弱時常多。</p>
<p>曰：五藏皆受氣於脾，脾傷食減，五藏俱無所稟矣。故脈之不常，脾之虛也。藥用補脾，庶幾允當。遂以參、術為君，茯、芍為臣，陳皮、神麯、貝母為佐，甘草、黃柏為使，服之瀉止食進。</p>
<p>後復傷食，前病又作。曰：再用湯藥，腸胃習熟，而反見化於藥矣，服之何益？令以參苓白朮散加肉豆蔻，棗湯調下，累驗。又傷於食，改用參朮芍苓陳皮丸服，大便即瀉。曰：脾虛甚矣，陳皮、砂仁尚不能當，況他消導藥乎？惟宜節食，靜以守之，勿藥可也。</p>
<p>問命脈如何？予曰：孟子云夭壽不貳，修身以俟之，所以立命也。夫壽夭固有定命，而人不可委之於命而不修也。人生於世，如燭在籠、火在灰也。罩以籠，壅以灰，則燭與火可保無虞。人能遠色節食，養性存心，使汗不妄泄，精不妄施，數須有修短，而得以終其修短之數；命須有夭速，而得以盡其夭速之期。苟或反是，譬猶燭之徹籠，且置之雨側，則東流西缺，無復完物。修者短，短者亦不得以終其命矣。譬如火之失灰，且移之風外，左吹右擊，無復全體。壽者夭，夭者不得盡其數矣。故曰君子修之吉，小人悖之凶。又曰靜者壽，動者夭。又曰自作孽，不可活。又曰禍福無不自己求之者。聖賢叮嚀告戒，無非欲人自保其命，不可戕害其命也。脈則氣血之徵兆，氣血和則脈和，氣血病則脈病，但可以知其病耳。命則在人，不在於脈也，故曰命在我。</p>
<p>一人五十，形色蒼白。性急，語不合，則叫號氣喊嘔吐。一日，左奶下忽一點痛。後又過勞，惱怒，腹中覺有穢氣衝上，即嗽極吐。或亦乾咳無痰，甚則嘔血，時發如瘧。或以瘧治，或以痰治，或以氣治，藥皆不效。予往診之，脈皆浮細，略弦而駛。</p>
<p>曰：此土虛木旺也。性急多怒，肝火時動。故左奶下痛者，肝氣鬱也；穢氣上衝者，肝火凌脾而逆上也；嘔血者，肝被火擾不能藏其血也；咳嗽者，金失所養又受火克而然也；嘔吐者，脾虛不能運化，食鬱為痰也；寒熱者，水火交戰也。茲宜泄肝木之實，補脾土之虛，清肺金之燥，庶幾可安。遂以青皮、山梔各七分，白芍、黃耆、麥門冬各一錢，歸身、阿膠各七分，甘草、五味各五分，白朮錢半，人參三錢。煎服月餘，諸症盡釋。</p>
<p>一人年逾三十，形色清癯，病咳嗽，吐痰或時帶紅。飲食無味，易感風寒，行步喘促，夜夢紛紜，又有㿗疝。醫用芩連二陳，或用四物降火，或用清肺，初服俱效，久則不應。邀予診之。脈皆浮濡無力而緩，右手脾部濡弱頗弦。</p>
<p>曰：此脾病也。脾屬土，為肺之母，虛則肺子失養，故發為咳嗽；又肺主皮毛，失養則皮毛疏豁，而風寒易入；又脾為心之子，子虛則竊母氣以自養，而母亦虛，故夜夢不安。脾屬濕，濕喜下流，故入肝為㿗疝，且㿗疝不痛而屬濕。宜用參、朮、茯苓補脾為君，歸身、麥門冬、黃芩清肺養心為臣，川芎、陳皮、山楂散郁去濕為佐，煎服累效。後以參四錢，耆三錢，術錢半，茯苓一錢，桂枝一錢，嘗服而安。</p>
<p>暘源謝大尹，年四十時，房勞，病咳血，頭眩腳弱，口氣夢遺，或時如冷水滴於身者數點，詣予診視。脈皆濡緩而弱，獨左關沉微，按之不應。</p>
<p>曰：此氣虛也。彼謂房勞咳血夢遺皆血病也，左關沉微亦主血病，且聞肥人白人病多氣虛，今我形色蒼紫，何謂氣虛？予曰：初病傷腎。經云腎乃胃之關也。關既失守，胃亦傷矣，故氣壅逆，血隨氣逆而咳也。又，經云二陽之病發心脾，男子少精，女子不月。二陽者，腸胃也。腸胃之病，必延及心脾，故夢遺亦有由於胃氣之不固也。左手關部，細而分之，須屬肝而主血；概而論之，兩寸俱主上焦而察心肺，兩關俱主中焦而察脾胃，兩尺俱主下焦而察肝腎，是左關亦可以察脾胃之病也。古人治病，有憑症，有憑脈者，有憑形色者。今當憑症憑脈，而作氣虛證治焉。遂用參、耆各三錢，白朮、白芍、歸身、麥門冬各一錢，茯神、梔子、酸棗仁各八分，陳皮、甘草各五分煎服。朝服六味地黃丸加黃柏、椿根皮，夜服安神丸，年餘而安。</p>
<p>越十餘歲，致政歸田。再為診之，右手三部脈皆隱而不見，身又無病，此亦事之異也。世謂《太素》脈法，片時診候，能知人終身禍福，豈理也哉？</p>
<p>一人形瘦色悴，年三十餘，因勞咳嗽吐血，或自汗痞滿。每至早晨嗽甚，吐痰如腐渣乳汁者一二碗，仍復吐盡所食稍定。醫用參蘇飲及枳縮二陳湯，彌年弗效，眾皆危之。邀予診治。脈皆濡弱近駛。</p>
<p>曰：此脾虛也，宜用參、耆。或曰：久嗽肺有伏火。《雜著》云咳血嘔血，肺有火邪，二者禁用參、耆。今病犯之，而用禁藥，何耶？予曰：此指肺嗽言也。五藏皆有嗽，今此在脾。丹溪曰脾具坤靜之德，而有乾健之運。脾虛不運，則氣壅逆，肺為之動而嗽也。故脾所裹之血，胃所藏之食，亦隨氣逆而嘔吐焉。茲用甘溫以補之，則脾復其乾健之運。殆必壅者通，逆者順，肺寧而嗽止，胃安而嘔除，血和而循經，又何病之不去哉？遂以參、耆為君，白朮、茯苓、麥門冬為臣，陳皮、神麯、歸身為佐，甘草、黃芩、乾薑為使。煎服旬余遂安。</p>
<p>一人形色頗實，年四十餘。病嗽咯血而喘，不能伏枕。醫用參蘇飲、清肺飲，皆不效。予診之，脈皆浮而近駛。</p>
<p>曰：此酒熱傷肺也。令嚼太平丸六七粒，其嗽若失。</p>
<p>村莊一婦，年五十餘。久嗽，咯膿血，日輕夜重。詣予診視，脈皆細濡而滑。</p>
<p>曰：「此肺痿也，曾服何藥？」出示其方，非人參清肺散，乃知母茯苓湯也。二藥皆犯人參、半夏，一助肺中伏火，一燥肺之津潤，故病益加。為處一方：天麥門冬、阿膠、貝母為君，知母、生地、紫菀、山梔為臣，桑白皮、馬兜鈴為佐，款冬花、歸身、甜葶藶、桔梗、甘草為使。煎服五帖遂安。</p>
<p>一人年逾三十，形近肥，色淡紫。冬月感寒咳嗽，痰有血絲，頭眩體倦。醫作傷寒發散，不愈。更醫，用四物加黃柏、知母，益加身熱自汗，胸膈痞悶，大便滑瀉，飲食不進，夜不安寢。詣予診治，右脈洪緩無力，左脈緩小而弱。</p>
<p>曰：此氣虛也。彼謂痰中有紅，或咯黑痰者，皆血病也，古人云黑人氣實，今我形色近黑，何謂氣虛？予曰：古人治病，有憑色者，有憑脈者。丹溪云脈緩無力者，氣虛也。今脈皆緩弱，故知為氣虛矣。氣宜溫補，反用寒涼，陽宜升舉，反用降下，又加以發散，則陽氣之存也幾稀。遂用參、耆各四錢，茯苓、白芍、麥門冬各一錢，歸身八分，黃芩、陳皮、神麯各七分，蒼朮、甘草各五分，中間雖稍有加減，不過兼以行滯散鬱而已。煎服百帖而安。</p>
<p>一人形色蒼白，年三十餘，咳嗽，咯血，聲啞，夜熱自汗。邀予診視，脈皆細濡近駛。</p>
<p>曰：此得之色欲也。遂以四物加麥門冬、紫菀、阿膠、黃柏、知母。煎服三十餘帖，諸症悉減。</p>
<p>又覺胸腹痞滿，噁心畏食，或時糞溏。診之，脈皆緩弱，無復駛矣。</p>
<p>曰：今陰虛之病已退，再用甘溫養其脾胃，則病根去矣。遂以四君子湯，加神麯、陳皮、麥門冬。服十餘帖病安，視前尤健。</p>
<p>一人年逾三十，形瘦色脆。過於房勞，病怠惰嗜臥，食後腹痛多痰，覺自胃中而上，又吐酸水，肺氣不清，聲音不亮。已更數醫，或用補陰消導等劑。邀予診治，脈皆細濡無力，約有七至。問曰：「熱乎？」曰：「不覺」。曰：「嗽乎？」「夜間數聲而已」。曰：「大便何如？」「近來帶溏，糞門旁生一癤，今已潰膿，未收口耳。」曰：「最苦者何？」「夜臥不安，四肢無力而已。」予思脈病不應。</p>
<p>夫數脈主熱，今覺不熱，乃內蒸骨髓歟？或正氣已極，無復能作熱歟？據症，似難起矣。何也？虛勞糞門生癤，必成瘻瘡，脈不數者，尚不可為，況脈熱乎！蓋肺為吸門司上，大腸為肛門司下，肺與大腸府藏相通，況肺為氣主，氣陽當升，虛則下陷，所謂物極則反也。今病內熱燔灼，肺氣久傷，故下陷肛門而生癤瘻，肺傷極矣，非藥能濟。予遂告歸。月餘果卒。故凡虛勞之病，或久泄，或左或右一邊不得眠者，法皆不治也。</p>

<h2>消渴</h2>
<p>一婦年三十逾，常患消渴，善飢腳弱，冬亦不寒，小便白濁，浮於上者如油。予診脈，皆細弱而緩，右脈尤弱。</p>
<p>曰：此脾癉也。宜用甘溫助脾，甘寒潤燥。方用參、耆各錢半，麥門冬、白朮各一錢，白芍、天花粉各八分，黃柏、知母各七分，煎服。病除後，口味不謹，前病復作，不救。</p>

<h2>匯萃</h2>
<p>一人形長蒼紫，素善食，喜啖肉。年近六十時，六月傷飢，又被雨濕。既而過食冷物，腹中疼脹嘔吐。次年至期，前病復作。醫作傷食，或作冷氣，率用香燥消導之藥，時作時止。第三年十月，病又作，食則胃脘勵痛。近來忽吐瘀血如指者三四條，大便溏瀉，亦皆穢瀉，又常屢被盜驚，今猶臥則驚寤。予診左脈沉弱，右脈浮虛，但覺頗弦。次早復診，左脈濡小無力，右脈虛豁。</p>
<p>令用人參二錢，白朮錢半，茯神、當歸、生地、黃耆、酸棗仁各一錢，石菖蒲五分，山梔七分。五帖，覺力健而食進。尚噯氣，失氣未除，飲食少味。令人參加作三錢，白朮加作二錢。服愈。</p>
<p>一人年十九，形瘦，面色黃白。三月間微覺身熱，五月間因勞，傷於酒肉，遂大熱膈悶，夢遺盜汗，午後熱甚。或作食積，或作陰虛，或作痰火，治皆不應。予為診之，午間脈皆洪滑。</p>
<p>予曰：食飽之餘，脈不定也。來早再診，脈皆收斂而弱，右脈尤弱。遂以人參三錢，黃耆錢半，白朮、麥門冬各一錢，黃柏、知母、山楂各七分，枳實、甘草各五分。煎服一帖，熱減汗除。五服，去泰去甚，惟夢遺，一月或二次或三次。令服固精丸五六兩，仍令節食守淡味，病當愈也。後又覺熱，前方減甘草，加石膏錢半，牡丹皮八分。</p>
<p>一人年三十，形瘦淡紫。才覺氣壅，腹痛背脹則吐，腹中氣塊翻動嘈雜，數日乃吐黑水一盂盆，而作酸氣。吐後噯氣，飲食不進，過一二日方食。大便二三日不通，小便一日一次。常時難向右臥，午後怕食，食則反飽脹痛，行立坐臥不安，日輕夜重。二年後，詣予診治。脈皆浮弦細弱。</p>
<p>曰：此脾虛也。脾失健運，故氣鬱而脹痛。吐黑水者，蓋因土虛不能制水，故膀胱之邪乘虛而侮其脾土，經云「以不勝侮其所勝」是也。酸者，木之所司。脾土既虛，水挾木勢而凌之焉。醫作痰治，而用二陳剛劑，則脾血愈虛；又作血治，而用四物柔劑，則是以滯益滯；又作熱治，而用黃連解毒，則過於苦寒；又作氣治，而用丁、沉、藿香，則過於香燥，俱不適中。遂以人參三錢，黃耆錢半，歸身一錢，香附、陳皮、神麯各七分，黃芩、甘草各五分，吳茱萸三分。煎服旬余，又犯油膩，病作如前而尤重。仍以前方加減，或湯或散或丸，服至半年而愈。</p>
<p>一人年逾三十，形色瘦黑。飲食倍進，食後吐酸，食飯干惡難吞。嘗有結痰注於胸中，不上不下。才勞則頭暈眼花，或時鼻衄，糞後去紅或黑。午後至晚，胸膈煩熱，肩心時疼。好睡，醒來口舌乾苦，盜汗夢遺腳冷。手及臀尖生膿疱瘡。醫以四物湯涼血之劑治之，不效。詣予診治。左脈小弱而數，右脈散弱而數，俱近六至。</p>
<p>曰：症脈皆屬陰虛。作陰虛治之不效何也？此必脾虛濕鬱為熱而然也。今用滋陰降火，反滋濕而生熱，病何由安？宜用參、耆甘溫之劑，補脾去濕可焉。</p>
<p>問曰：丹溪論瘦黑者、鼻衄者、脈數者，參、耆皆所當禁。予曰：固也，豈可執為定論而不知變通乎？《脈經》云數脈所主，其邪為熱，其瘧為虛。遂以人參二錢，黃耆錢半，白朮、麻黃根、生地、茯苓、麥門冬各一錢，歸身、川芎各八分，黃芩七分，麥芽、厚朴、黃柏、枳實、五味各五分，服之而愈。因勞病瘧，仍用前方除麻黃根、牡蠣、麥芽、枳實、厚朴、黃柏、五味，加澤瀉、柴胡、青皮、山梔各七分，甘草五分。服十餘帖，胸腹腰臍生小疥而愈。</p>
<p>一人於幼時誤服毒藥，泄痢。後復傷食腹痛，大泄不止。今雖能食，不作肌膚。每至六七月，遇服毒藥之時，痛泄復作。善飢多食，胸膈似冷，夜間發熱。嗜臥懶語，聞淫欲動，盜汗陽舉。心動驚悸，喉中有痰。小便不利，大便或結或溏。過食則嘔吐瀉泄。脈皆濡弱而緩，右脈略大，尤覺弱也。次日，左脈三五不調，或一二至緩，三五至駛，右脈如舊緩弱。</p>
<p>予曰：左脈不調者，此必欲動淫其精也。右脈尤弱者，由於毒藥損其脾也。理宜固腎養脾。遂以人參錢半，白朮、茯苓、芍藥、黃耆、麥門冬各一錢，歸身、澤瀉各八分，黃柏、知母、山楂各七分。煎服旬余而安。</p>
<p>一人年五十餘，形色蒼古。五月間泛木，與人爭辯，冒雨勞役受飢，且有內事，夜半忽病。發熱惡食，上吐下瀉，昏悶煩躁，頭痛身痛。因自發汗，汗遂不止。遣書來示，脈皆洪數。</p>
<p>予曰：脈果洪數，乃危症矣。蓋吐瀉內虛，汗多表虛，兼之脈不為汗衰，亦不為瀉減，在法不治。但古人有言，醫而不活者有也，未有不醫而活者也。令用人參五錢以救里，黃耆五錢以救表，白朮三錢、乾薑七分、甘草五分以和中安胃，白茯苓一錢、陳皮七分以清神理氣。水煎，不時溫服一酒杯，看其病勢何如。</p>
<p>服至六七帖，則見紅斑，而四肢尤甚，面赤，身及四肢脹悶，人來告急。予曰：斑症自吐泄者多吉，謂邪從上下出也。但傷寒發斑，胃熱所致。今此發斑由胃虛，而無根失守之火遊行於外也，可補而不可瀉，可溫而不可涼。若用化斑湯、玄參、升麻之類，則死生反掌矣。仍令守前方服十餘帖，諸病悉減，斑則成瘡，肢腫亦清而愈。</p>
<p>一人形短蒼白，平素善飲。五月間忽發寒熱，醫作瘧治，躁渴益甚，時常啖梨，嘔吐痰多，每次或至碗許，飲食少進，頭暈昏悶，大便不通，小便如常或赤，夜夢不安，或一日連發二次，或二日三日一發，或連發二日，平素兩關脈亦浮洪，邀予適以事阻，令服獨參湯二三帖，嘔吐少止，寒熱暫住。三日，他醫曰：渴甚脈洪，熱之極矣，復用獨參以助其熱，非殺之而何？及予往視，脈皆浮洪近數。</p>
<p>予曰：此非瘧而亦非熱也。脈洪者，陰虛陽無所附，孤陽將欲飛越，故脈見此，其病屬虛，非屬熱也。渴甚者，胃虛津少，不能上朝於口，亦非熱也。蓋年逾六十，血氣已衰，加以瘧藥性皆燥烈，又當壯火食氣之時，老人何以堪此？然則邪重劑輕，非參所能獨活。遂以參、耆各七錢，歸身、麥門冬各一錢，陳皮七分，甘草五分，水煎。每次溫服一酒杯，服至六七帖，痰止病除食進。大便旬余不通，導之以蜜，仍令服三十餘帖以斷病根，續後脈亦收斂而緩，非復向之鼓擊而駛也。</p>
<p>一人年逾三十，形瘦蒼白，病食，則胸膈痞悶，汗多，手肘汗出尤多，四肢倦怠或麻，晚食若遲，來早必泄，初取其脈，浮軟近駛，兩關脈乃略大。</p>
<p>予曰：此脾虛不足也。彼曰：已服參朮膏，胸膈亦覺痞悶，恐病不宜於參、耆耶？予曰：膏則稠黏，難以行散故也。改用湯劑，痞或愈乎。令用參、耆各二錢，白朮錢半，歸身八分，枳實、甘草各五分，麥門冬一錢，煎服一帖，上覺胸痞，下覺失氣。彼疑參、耆使然。予曰：非也。若參、耆使然，只當胸痞，不當失氣，恐由脾胃過虛，莫當枳實之耗耶！宜除枳實，加陳皮六分。再服一帖，頓覺胸痞寬，失氣作，精神爽愷，脈皆軟緩，不大亦不駛矣。可見脾胃虛者，枳實須散用為佐使，況有參、耆、歸、術為之君，尚不能制，然則醫之用藥，可不慎哉！</p>
<p>一婦五十七歲，五月間因勞夜臥，天熱開窗，醒來遍身脹痛，疑是痧症，刮背起紫疙瘩，因而胸膈脹痛，磨木香服之，致小腹作痛，咳嗽氣壅，不能伏枕，吐痰腥臭，每次一二碗，亦或作泄，肛門脹急，自汗不止，身表浮腫。醫作傷寒，而用發散；或作肺癰，而用寒涼，延綿一月，醫皆辭去。其子來告予，予曰：第未知得何脈耳？告曰：醫謂脈洪數也。</p>
<p>予曰：年逾五十，血氣已衰，又加以小勞，而當酷熱之時，又不免壯火食氣。且脈洪數，乃熱傷元氣而然，非熱脈也。所可慮者，脈不為汗衰，為泄減耳。彼曰：用生脈湯，人參二錢，門冬二錢，五味一錢，病似覺甚。予曰：邪重劑輕也。理宜黃耆五錢以固表，人參五錢以養內，白朮三錢、茯苓錢半滲濕散腫，陳皮七分、吳茱萸四分消痰下氣，再加甘草五分以和之，門冬一錢以救肺，依法煎服十餘帖，後雖稍安，脈與病反，終不救。</p>
<p>一婦年逾三十，形色脆白，久病虛弱，余為調治十餘載矣。須不能純，去泰去甚。至嘉靖癸末，便道復為診之，左脈似有似無，右脈浮濡無力。予曰：平素左脈不如此，今忽反常，深為之懼。越三日，再診，兩手脈皆浮濡，左則不似有似無，右則略近於駛而已，乃知脈變不常，昨今異狀者，由虛而然也。今醫以片時診察，即謂其病若何，遂解囊撮藥，此亦失之疏略，未必能盡其病情也。</p>
<p>近患頭眩眼昏，四肢無力，兩膝更弱，或時氣上衝胸，哽於喉中，不得轉動，則昏懵口禁，不省人事，內熱口渴，鼻塞，飲食減，經水漸少。</p>
<p>予用人參三錢，歸身、白朮、麥門冬各一錢，黃耆錢半，黃柏七分，枳實五分，甘草四分煎服。缺藥日久，前病復作，服之又安。</p>
<p>一人年逾三十，質弱色蒼，初覺右耳不時冷氣呵呵，如箭出一陣。越兩月餘，左耳亦如右而氣出，早晨聲啞，胸前有塊攢熱，飯後聲啞稍開，攢熱少息，頃間又復攢熱，咳嗽惡酸水，小便頻赤，大便溏泄，睡熟被嗽而醒，噦惡二三聲，胸腹作脹，頭腦昏痛不堪，或時發熱，遍身疼痛，天明前病少息，惟攢熱不除，近來午後背甚覺寒，兩腿麻冷。</p>
<p>令用人參二錢半，茯苓、門冬、白朮各一錢，黃連、甘草、枳實各五分，貝母、歸身各一錢，白芍八分，煎服而愈。</p>
<p>一婦蒼白，不肥不瘦，年逾五十，病舌尖痛三年，才勞喉中熱痛，或額前一掌痛，早起頭暈，飲食無味，胸膈痞悶，醫用消導清熱之藥不效。</p>
<p>予診右脈濡散，無力而緩，左脈比右頗勝，亦近無力。十五年前，哭子忒甚，遂作憂思傷脾，哭泣傷氣，從東垣勞倦傷脾之例，用參、耆各錢半，白朮、芍藥、天麻各一錢，川芎、玄參各七分，甘草、枳實各五分，黃柏、陳皮各六分，煎服而愈。</p>

<h2>楊梅瘡</h2>
<p>一人色蒼黃瘦，年三十餘，病遍身惡瘡，因服輕粉而腳拘攣，手指節腫，額前神庭下腫如雞卵大。方士令服孩兒骨，其法取初生孩兒，置磚地上，周以炭火煏，使死孩成灰，紙裹放地上，出火毒為末，空心或酒或湯調二三錢，謂能補也。邀予診視，脈皆濡緩而弱。</p>
<p>予曰：病已三年，毒已盡矣。但瘡潰膿血過多，以致血液衰少，筋失所養，故腳為之拘攣。況手指節間，頭上額前，皆血少運行難到之處，故多滯而成腫，理宜潤經益血，行滯散腫。今服孩骨，猛火炮炙，燥烈殊甚，且向所服輕粉，性亦燥烈。丹溪曰：血難成易虧。今外被瘡膿所涸，內被燥劑所熯。以難成易虧之血，曷能當此內外之耗乎？不惟腫不能消，殆必壽亦損也。問曰：《本草》輕粉辛冷，何謂燥烈？予曰：《本草》注云，硃砂伏火者，大毒殺人，水銀乃火煅硃砂而成，其性滑動，走而不守，氣味俱陽，從可知矣。陽屬熱火，故毒比硃砂為甚，入耳蝕腦，入肉百節拘攣也。然輕粉又水銀和入皂礬，再加火煅而成，是為陽中之陽，又復資以礬之燥烈，非大毒燥烈而何？</p>
<p>又問：此瘡從何而生？予曰：肝屬風而急暴，腎屬水而主液，為相火所寄。淫夫淫婦，擾動厥陰之火，泄其腎水，既無以制火之沖逆，而反以為相火之助，經曰「火自水中起」是也。故腎之液皆被火鬱成痰，濁痰瘀血，流注莖頭，發為奸瘡，久而毒熱不解，復於兩腿厥陰經分，又生惡瘡。以其瘡狀類楊梅，故俗為楊梅瘡，亦有如豌豆者，由其毒有微甚也。旬日之間，延及遍體者，以厥陰屬風而急暴，又得相火以為之助，宜其發之暴且速也。</p>
<p>初生之時，體氣壯，大便堅，飲食進，惟防風通聖散為最宜。體氣弱，大便溏，飲食少，則用四物加玄參、連翹、射干為主。大便稍泄，除射干。上體多者，黃芩或防風為佐；下體多者，黃柏或牛膝為佐，引以皂莢針之鋒銳，和以甘草節之甘緩，卻厚味，絕房帷，隨症出入服之，久久無有不安。或有惡湯藥者，壯盛之人，則以三補丸加大黃、生地，用豬膽汁丸服；怯弱之人，則似三補丸加玄參、生地，亦用豬膽汁丸服，似亦簡便。</p>
<p>世人慾求速效，皆用輕粉，濕痰被劫，三五日間，瘡因暫愈，然燥熱尚在，不越一旬二旬，瘡又復作，翻思前藥，又劫又愈，愈又復發，展轉不休。殊不知用一次劫藥，增一次燥熱，由是肢體或癰潰，或攣曲，遂成痼廢。《論語》「欲速不達」，厥有旨哉。</p>
<p>又問：何以能相染也？予曰：其人內則素有濕熱，外則表虛腠疏。或與同廁，而為穢氣所蒸；或與共床而為瘡汁所潰，邪氣乘虛而入，故亦染生此瘡。經曰「邪之所湊，其氣必虛」是也。亦有同廁同床而不染者，蓋由內無濕熱之積，外無表虛疏湊之患，是以邪不能入，而瘡不相染矣。雖然，子之所慎齋戰疾，然亦不可自恃而不加之意也。</p>
<p>又問：已誤於藥，悔不可追，今將何藥以解之乎？時正仲夏，予用十金湯去桂、附，加紅花、牛膝、黃柏、薏苡仁、木香、火麻仁、羌活，煎服百帖，空心常服東坡四神丹加黃柏，又少加蜀椒，以其能來水銀，然後腳伸能行，指腫亦消，惟額腫敷膏而愈。</p>
<p>一人患此瘡，腳膝攣痛，有人取蝦蟆，治如食法，令食之而攣痛遂愈，此亦偶中也。</p>
<p>又一人患此瘡，腳痛而腫。或令採馬鞭草煎湯熏洗，湯氣才到，便覺爽快，候溫洗之，痛腫隨減。此草在處有之，檻外空地尤多。其葉類菊，春開細碎紫花，秋復再花，抽穗如馬鞭，故名馬鞭草。</p>
<p>又一人患此瘡，遍身筋骨疼痛。遇一道流，問曰：「神色憔悴，有病耶？」曰：「因瘡遍身痛也。」道流曰：「輕粉多矣，吾亦被其毒矣。」遂示一方，不過數味藥也。但每帖入鉛五錢，打扁同煎，服之果驗。凡患此瘡年久不愈者，用萆薢二三兩為君，隨症虛實，加入他藥，罔有不效，蓋萆薢善驅濕熱故也。</p>
<p>一人年三十餘，因患此瘡，服輕粉，致右腹肋下常有痞塊，右眼黑珠時有丁子，努出如雀屎許，間或又消，身有數瘡未痊。一醫為治瘡毒而用硝、黃，一醫為治痞塊而用攻克，一醫為治眼丁而用寒涼。諸症不減，反加腹痛腸鳴，大便滑泄，胸膈壅悶，不思飲食，噯氣吐沫，身熱怠倦，夜臥不安。季冬請予往診視，脈皆浮濡近駛。</p>
<p>曰：誤於藥也。前藥多系毒劑，胃中何堪此物耶？遂令棄去。更用人參四錢，黃耆二錢，白朮三錢，茯苓、炒芍藥各一錢，陳皮、神麯、升麻各七分，甘草、肉豆蔻各五分，煎服五帖，為泄痛定。減去升麻，又服五帖，膈寬食進。減去豆蔻，再服五帖，諸症皆除。月餘痞塊亦散，眼丁亦消。</p>

<h2>肺癰</h2>
<p>一婦年近三十，形色瘦白，素時或咳嗽一二聲，月水或前或後。夏月取涼，遂嗽甚，不能伏枕者月餘，痰中或帶血，或兼膿，嗽緊則吐食。醫用芩、連、二陳不效，復用參、耆等補藥病重。</p>
<p>予視左脈浮滑，右脈稍弱而滑，幼傷手腕，掌不能伸，右脈似難憑矣。乃以左脈驗之，恐妊兼肺癰也。遂以清肺瀉肺之劑進之。三服而能著枕，痰不吐，膿不咯，惟時或惡阻。予曰：此妊之常病也。教用薏苡仁、白朮、茯苓、麥門冬、黃芩、阿膠煎服，病減。</p>
<p>月餘，復為診脈，皆稍緩而浮。曰：熱已減矣。但吐紅太多，未免傷胃，教用四君子加陳皮、黃芩、枳殼煎服調理。妊至六月，食雞病作，卻雞而愈。至九月，病又復作，聲啞，令服童便獲安。予曰：產後病除，乃是佳兆，病若復來，非吾所知。月足而產，脾胃病作，加泄而卒。</p>

<h2>腳瘡</h2>
<p>一婦瘦長面紫，每遇春末夏初，兩腳生瘡，膿泡根紅，艱於行步，經水不調。邀予診視，脈皆濡弱近駛，兩尺稍滑。</p>
<p>曰：血熱也。醫用燥劑居多，故瘡不瘥。令用東坡四神丹加黃柏，蜜丸服之，瘡不復作。</p>

<h2>癰腫</h2>
<p>邑庠司訓余先生，年幾六十，長瘦色蒼，赴福建考試，官回，病背腿癰腫。一腫愈，一腫作，小者如盞，大者如鍾，繼續不已，俗曰流注是也。醫皆欲用十宣散、五香湯、托裡散。予為診之，脈皆濡弱。</p>
<p>曰：此非前藥所宜也。夫以血氣既衰之年，冒暑遠步熱瘴之地，勞傷形，熱傷氣矣。經云邪之所湊，其氣必虛。理宜滋補，使氣運血行，腫不作矣。遂用大補湯減桂，倍加參、耆、歸、術，佐以黃柏、黃芩、紅花，服至二三十帖，視腫稍軟者，用砭決去其膿，未成者果皆消釋。仍服二三十帖，以防後患。</p>
<p>一人肥短紫淡，年逾三十，因勞感濕，兩腿胯間結核痛甚。醫用蒜片艾灸，又針大敦、三陰交，又以藥水洗之，遂致陰囊腫脹如升，莖皮腫如水泡。復進人參敗毒散，皆不中病。邀予往診，脈皆濡緩而弱略駛。</p>
<p>曰：此濕氣乘虛而入，鬱而為熱成結核也。理宜補中行濕，可免後患。月餘，左腿內廉厥陰經分腫痛如碗，惡寒發熱，復用蒜灸。六日後，腫潰膿出，體倦，頭面大汗，手足麻木，瘡下又腫如碗，寒熱大作，始信予言。</p>
<p>用人參三錢，黃耆三錢，白朮錢半，歸身尾、牛膝、茯苓各一錢，青皮、黃柏各七分，甘草節五分，煎服五六帖，右額羊矢穴分腫痛，長五寸許，亦作寒熱。醫謂補塞太過，欲改前方。彼言汪君已有先見，所制之方必不誤我，銳意服之。</p>
<p>月餘，腫皆膿潰成痂而愈。惟左腳委中筋急短縮，艱於行步，彼疑為躄，遣書來問。予曰：膿血去多，筋失所養故也，藥力足日，當不躄矣，果驗。</p>
<p>後覺陰囊腫縋，他醫加茴香、吳茱萸治疝等藥不效。予適至彼，令守前方，減去治疝等藥，加升麻一錢，服一二貼囊即縮矣。乃語予曰：先生神醫也，乃詳告吾病原乎。</p>
<p>予曰：經云營氣不從，逆於肉理，乃生癰腫。又云受如持虛。蓋謂氣餒行遲，血少留滯，則阻逆肉理，乃作癰腫也。久則鬱而已熱，化肉腐筋而成膿矣。腫在厥陰，雖曰多血，亦難供給日之所耗，夜之所損，故邪乘虛，留結不散，如持虛器而受物也。身之血氣，如風與水，風疾水急，則頹陂潰堤，莫有能御之者也；風息水細，則沙障石壅，多有所阻礙矣。故今補其氣血，使氣壯而行健，血盛而流通，又何腫之不散，結之不行哉？彼曰：理也。</p>

<h2>疝腫</h2>
<p>一兒八歲，㿗疝，陰囊腫脹，核有大小。予令燒荔枝核灰，茴香炒為末，等分，食遠溫酒調服二錢。不過三服愈。</p>
<p>一兒六歲，陰囊脹大如盞，莖皮光腫如泡。一醫為之滲濕行氣，不效。邀予診視，脈皆濡緩。</p>
<p>曰：脈緩無力者，氣虛也。經云膀胱者，津液之府，氣化出焉。氣虛不足，無能運化而使之出矣。宜升陽補氣可也。遂以人參為君，黃耆、白朮、茯苓為臣，牛膝、升麻、陳皮為佐，甘草梢為使，煎服一二帖，囊皺腫消，三帖痊愈。</p>

<h2>調經</h2>
<p>一婦瘦小，年二十餘，經水紫色，或前或後，臨行腹痛，惡寒喜熱，或時感寒，腹亦作痛。脈皆細濡近滑，兩尺重按略洪而滑。</p>
<p>予曰：血熱也。或謂惡寒如此，何得為熱？曰：此熱極似寒也。遂用黃連酒煮四兩，香附、歸身尾各二兩，五靈脂一兩，為末粥丸，空腹吞之，病退。</p>
<p>一婦身瘦面黃，舊有白帶，產後憂勞，經水不止五十餘日，間或帶下，心前熱，上身麻，下身冷；背心脹，口鼻乾，額角冷，小便頻而多，大便溏而少，食則嘔吐，素厭肉味，遣書示病如此。</p>
<p>予曰：雖未見脈，詳其所示，多屬脾胃不足。令服四君子湯加黃芩、陳皮、神麯、歸身二帖，紅止白減。復以書示曰：藥其神乎！繼服十餘帖，諸症悉除。</p>
<p>一婦經行，瀉三日，然後行。診其脈，皆濡弱。曰：此脾虛也。脾屬血屬濕，經水將動，脾血已先流注血海，然後下流為經。脾血既虧，則虛而不能運行其濕。故作參苓白朮散，每服二錢，一日米飲調下二三次，月餘經行不瀉矣。</p>
<p>一婦產後，經行不止，或紅或白或淡。病逾八月，面色黃白，性躁，頭眩，腳軟，醫用參耆補藥病益加，用止澀藥無效。邀予診之，右脈濡弱無力，左脈略洪而駛。</p>
<p>曰：右脈弱者，非病也，左脈偏盛，遂覺右脈弱耳，宜主左脈，治以涼血之劑。遂以生地、白芍、白朮各一錢，黃芩、阿膠、歸身各八分，陳皮、香附、川芎、椿根皮、茯苓各六分，柴胡、甘草各五分，煎服二十餘帖而愈。</p>
<p>一婦形長質脆，面色黃白，孀居十餘年，平素食少，內外俱勞，年五十二歲。二月忽血崩，若左手覺熱，崩則又甚。醫用苦寒黑灰涼血止血之劑，益劇。更用膠艾湯，少愈。偶因子病，住藥月餘，後服前湯，崩則日少夜多。七月盡，來就予治。右脈浮軟頗大，左脈軟小而，緩獨左尺尤近微弱。</p>
<p>予謂：左脈主血，得此與病相應，右脈主氣，今診得浮軟，此乃脾胃氣不足也。蓋脾具坤靜之德，而有乾健之運，虛則不能健運其血矣。胃氣者，陽氣也，陽主升舉，虛則不能升舉其血矣。經曰陽病竭而下者此也。又曰陽病治陰，陰病治陽，正其血氣，各守其鄉，其治此病之謂歟。今氣不能健運升舉，以致血崩，法當治陽。</p>
<p>世醫昧此，但知血熱則行，逢冷則凝，逢寒則止，故用苦寒黑灰之劑。殊不知苦以泄胃，寒則降下，故經曰苦傷氣，寒傷血，安能治其崩哉？蓋脾胃屬土惡濕，喜溫畏寒，理宜甘溫養其脾，則熱自除，氣自運，而血隨氣各歸其經矣。東垣曰溫能除大熱。經曰形不足者，溫之以氣。又曰氣生形。又曰氣固形實，形主血。又曰陽氣者，精則養神，柔則養筋。故古人治血多用養氣，豈無所本哉？血逢黑則止，但可以治標耳。經曰胃者五藏之本，苟不固本，未免止而復發。況其所病，或勞，或怒，或惡食，而崩愈甚，此蓋由脾胃不足，不勝其勞怒也。</p>
<p>遂用參、耆各四錢，歸、術各一錢，甘草、厚朴各五分，炒蒲黃、阿膠各七分，煎服十餘帖，崩則晝止夜來。夫夜則陰旺陽衰，陽不足以攝血故也。再以棕皮、五倍子、蓮蓬燒灰，加阿膠、蒲黃，粥丸，臨晚服，而夜亦止。但清水常流，大便結燥，小便日無夜有。又用潤麻丸加木通、車前，空心吞之。然腰與小腹及腳腿皆痛，胸膈不寬。</p>
<p>予適出月余，歸診，脈皆沉細而數。予曰：數脈所主為熱，其症為虛，脈與向日不同，而症反覺虛者，多因久服前藥，失於加減，故藏府習熟，而病反見化於藥矣，令暫止藥。</p>
<p>乘轎歸家，登山度嶺，加以應接人事，勞而又勞，越三日，血大崩約一桶許，昏懵而氣息奄奄，良久稍蘇，是夜又崩二三碗許，仍復昏懵。予往視之，脈仍沉細而數。予曰：五十以後，血氣大脫，實難求生，但不忍坐視其斃耳。乃用大劑，參、耆各七錢，歸、地、薑、附各一錢，甘草五分，煎服二三帖，脈數略減，頭痛昏弱，腰腳腿痛亦愈。日則胸膈似煩，至夜亦愈。但小腹時覺微痛，清水常流不絕。</p>
<p>經曰衝脈者，經脈之海，主滲溪谷，與陽明合於宗筋，會於氣街，而陽明為之長，皆屬於帶脈。故陽明虛，則衝脈失養，不能滲灌，氣化為水而下流矣。待其胃氣稍完，則清者運而為津液，濁者滲而為小便，而水或可止也，經曰「壯者氣行則愈」是矣。若遇嚴寒，又覺小腹腰腳腿痛者，亦由陽虛不御其寒故也。天地稍和，又不覺矣。予曰：病須少愈，然血氣虛脫，來春恐無以資生髮之氣耳。至春，果洞瀉而歿。</p>
<p>丹溪曰：氣病補血，須不中，亦無所害。血病補氣，則血愈虛散，是謂誅罰無過。今病血病，而治以參、耆，寧不犯丹溪之戒乎？予曰：學貴疏通，不可執泥。丹溪又曰：衝任二脈為經脈之海。二脈無損，則血氣之行，外循經絡，內榮五藏。若勞動過極，損傷二脈，則衝任氣虛，不能約制其血，故忽大下，謂之崩中。治宜舉養脾胃，大補氣血。丹溪治血，何常不歸於氣虛而養脾胃也！東垣亦曰血脫益氣。古聖人之法也，先理其胃，以助生髮之氣，諸甘藥為之先務。蓋甘能生血，此陽生陰長之理，故先助胃氣。且人之身，納穀為寶。予考聖經前賢所治血病，未嘗專主於治血而不養氣。要在臨病識宜耳。須然此固不免於死，所以得遲延而無苦楚者，恐亦由於藥力也。因筆之，幸同志者考其得失。</p>
<p>一婦年逾四十，形長色脆，病經不調，右脈浮軟而大，左脈虛軟而小近駛。嘗時經前作泄。今年四月，感風咳嗽，用湯洗浴，汗多，因泄一月。六月，復因洗浴，發瘧六七次。瘧須止，而神思不爽。至八月盡，而經水過多，白帶時下，泄瀉，遂覺右腳疼痛。舊曾閃朒腳跟。今則藉此延痛，臀腿腰脅尾骨、脛項左邊筋皆掣痛。或咳嗽一聲，則腰眼痛如刀扎。日輕夜重，叫號不已。幸痛稍止，飲食如嘗。今詳月水過多，白帶時下，日輕夜重，瀉泄無時，亦屬下多亡陰。宜作血虛論治，然服四物止痛之劑益甚。九月，予復診視，始悟此病，乃合仲景所謂陽生則陰長之法矣。</p>
<p>夫經水多，白帶下，常泄瀉，皆由陽虛陷下而然，命曰陽脫是也。日輕夜重，蓋日陽旺而得健運之職，故血亦無凝滯之患，而日故輕也。夜則陰旺而陽不得其任，失其健運之常，血亦隨滯，故夜重也。遂以參、術助陽之藥，煎服五七帖，痛減。此亦病症之變，治法殊常，故記之。</p>
<p>一婦年二十一歲，六月經行，腹痛如刮，難忍求死。脈得細軟而駛，尺則沉弱而近駛。予曰：細軟屬濕，數則為熱，尺沉屬郁，此濕熱鬱滯也。以酒煮黃連半斤，炒香附六兩，五靈脂半炒半生三兩，歸身尾二兩，為末，粥丸，空心湯下三四錢，服至五六料。越九年，得一予。又越四年，經行兩月不斷，腹中微痛，又服前丸而愈。續後經行六七日，經止則流清水，腹中微痛，又服前丸，而痛亦止。又經住只有七八日，若至行時，或大行五六日。續則適來適斷，或微紅，或淡紅。紅後嘗流清水，小腹大痛，漸連遍身胸背腰腿骨里皆痛，自巳至酉乃止。痛則遍身冷，熱汗大出，汗止痛減，尚能飲食。自始痛至今歷十五年，前藥屢服屢效，今罔效者，何也？予在休寧率口，其母伴女荷轎，至彼就醫。脈皆洪滑無力，幸其尚有精神。予曰：此非舊日比矣，舊乃鬱熱，今則虛寒，東垣曰「始為熱中，終為寒中」是也。經曰脈至而從，按之不鼓，乃陰盛格陽，當作寒治，且始病時而形斂小，今則形肥大矣。醫書曰瘦人血熱，肥人氣虛，豈可同一治耶？所可慮者，汗大泄而脈不為汗衰，血大崩而脈不為血減耳。其痛日重夜輕，知由陽虛不能健運，故亦凝滯而作痛。以症參脈，宜用助陽。若得脈減痛輕，方為佳兆。遂投參耆歸術大劑，加桂、附一帖。來早再診，脈皆稍寧。隨即回宅，服至二三十帖，時當二月。至五月，予適往城，視之，病且愈矣。蓋病有始終寒熱之異，藥有前後用舍不同，形有少壯肥瘦不等，豈可以一方而通治哉？後聞乳有隱核數枚，彼時失告於予，訪之外科，歸罪於多服參、耆而然。殊不知肥人氣虛多滯，若能久服前藥，不惟乳無隱核，縱有亦當消矣。多因病退卻藥，血氣未充，故氣滯血凝而成此核，經曰「壯者氣行則愈」是矣。予以書喻柢，恐一齊傳眾楚咻，莫能回其惑也。</p>
<p>一婦每臨經時，腰腹脹痛，玉戶淫淫，蟲出如鼠黏子狀，綠色者數十枚，後經水隨至。其夫問故。予曰：厥陰風木生蟲，婦人血海屬於厥陰，此必風木自甚，兼脾胃濕熱而然也。正如春夏之交，木甚濕熱之時，而生諸蟲是也。宜清厥陰濕熱耶。令以酒煮黃連為君，白朮、香附為臣，研末，粥丸，空服。吞之月餘，經至無蟲而妊矣。</p>
<p>一婦形質瘦小，面色近紫，產後年餘，經水不通。首夏忽病，嘔吐，手指麻痹，攣拳不能伸展，聲音啞小，噦不出聲。醫皆視為風病，危之。予診脈，皆細微近滑。曰：此妊娠惡阻病也。</p>
<p>眾謂經水不通，安有妊理？予謂天下之事有常有變，此乃事之變也。脈雖細微，似近於滑；又尺按不絕，乃妊娠也。遂以四君子加二陳治之，諸症俱減，尚畏粥湯，惟食干糕香燥之物而有生意。</p>

<h2>出部脈</h2>
<p>一婦年逾四十，形色頗實，常患產難倒生，經水不調，或時遍身骨節疼痛，食少倦怠，自汗。予為診之，兩手脈皆不應，惟右關輕按，隱隱然微覺動也。疑脈出部，以指尋按經渠列缺穴分，亦不應。余甚怪之，乃叩其夫。曰：有孕，時醫診亦言無脈。後服八物湯，幸爾易產而得一子。予曰：此由稟賦本來脈不應也，無足怪焉。可見天下事變出無窮，果難一一以常理測也。如《脈經》所謂，但道其常而已。兩手無脈，不傷其生，又不妨於胎妊，豈《脈經》所能論及耶？脈或兩手出部，或一手出部，予見多矣。兩手無脈，而人如故，此亦理之所無，事之大變，故筆記。</p>
<p>一婦有病，請予診之。右脈緩濡而弱，左手無脈，再再尋之，動於腕臂外廉陽谿偏歷之分。乃語之曰：左脈離其部位，其病難以脈知。以右脈言之，似屬於脾胃不足也，尚當言其病焉。告曰：每遇經未行前咯血數口，心嘈不安，食少懶倦。予以四君子湯加山梔、陳皮、麥門冬、牡丹皮，煎服數帖而安。</p>
<p>予嘗考孫兆診一釋者，左脈出部，動於臂上。曰：此反脈也，醫書不載。脈行常道，豈有移易？或者少年驚撲，震動心神，故脈脫故道耳。年既長大，血氣已定，不能復移也。僧曰：果如所言。予詢此婦，未嘗得驚，而脈如是，可見亦由於稟賦也。後在歙之江村，診得兩手脈俱出部者數人，或左或右，一手脈出部者尚多。信行診一婦人，兩手脈亦出部。凡此皆事變無窮，理之莫測，豈皆由於驚動哉。夫此須非經水之病因，其脈類前案。故錄於此。</p>

<h2>妊病</h2>
<p>一婦懷妊八月，嘗病腰痛不能轉側，大便燥結。醫用人參等補劑，痛益加。用硝、黃通利之藥，燥結雖行，而痛如故。予為診之，脈稍洪近駛。</p>
<p>曰：血熱血滯也。宜用四物加木香、乳、沒、黃柏，火麻仁。煎服四五帖，痛稍減，燥結潤，復加發熱面赤，或時惡寒。仍用前方去乳、沒、黃柏，加柴胡、黃芩。服二帖，而寒熱除，又背心覺寒，腰痛復作。予曰：血已利矣，可於前方加人參一錢。服之獲安。</p>
<p>一婦嘗患橫生逆產七八胎矣，子皆不育。予診脈皆細濡頗弦。曰：此氣血兩虛兼熱也。</p>
<p>或曰：氣血有餘，方成妊娠。氣血既虧，安能胎耶？予曰：觀其形長瘦而脈細濡，屬於氣血兩虛；色青脈弦，屬於肝火時熾；而兩尺浮滑，似血虛為輕，而氣虛為重也。宜以補陰丸除陳皮，倍加香附、參、耆，蜜丸服之，常令接續，逾年臨產，果順而育一子。</p>

<h2>產後</h2>
<p>一婦產後滑泄，勺水粒米弗能容，即時泄下，如此半月餘矣。眾皆危之，或用五苓散、平胃散，病益甚。邀予診之。脈皆濡緩而弱。</p>
<p>曰：此產中勞力，以傷其胃也。若用湯藥，愈滋胃濕，非所宜也。令以參苓白朮散除砂仁，加陳皮、肉豆蔻，煎薑棗湯調服，旬余而安。</p>
<p>一婦產後，時發昏瞀，身熱汗多，眩暈口渴，或時頭痛惡心。醫用四物涼血之劑，病不減。復用小柴胡，病益甚。予為診之，脈皆浮洪搏指。</p>
<p>予謂：產後而得是脈，又且汗多，而脈不為汗衰，法在不治。所幸者，氣不喘，不作泄耳。其脈如是，恐為涼藥所激也。試用人參三錢，黃耆二錢，甘草、當歸各七分，白朮、門冬各一錢，乾薑、陳皮、黃芩各五分，煎服五帖，脈斂而病漸安。</p>

<h2>小兒驚癇</h2>
<p>一女年六歲，病左手不能舉動三年矣，後復病癇。初用人參、半夏，或效或否。予診左脈浮洪，右脈頗和。</p>
<p>曰：痰熱也。令以帛勒肚，取茶子去殼三錢，挼碎，以滾湯一碗，濾取汁，隔宿勿食，早晨溫服。吐痰如大蒜瓣者三碗許，手能舉動，癇亦不作。</p>
<p>予孫應達，初生未滿一月，乳媼抱之懷間，往觀春戲時，風寒甚切。及回，即啼不乳，時發驚搐。始用蘇合香，繼用驚搐藥，不效，眾皆危之。</p>
<p>予曰：小兒初生，血氣未足，風寒易襲，此必風邪乘虛而入也。風喜傷脾，脾主四肢，脾受風擾，故四肢發搐，日夜啼叫不乳。經曰「風淫末疾」是也。其治在脾。脾土不虛，則風邪無容留矣。因煎獨參湯，初灌二三匙，啼聲稍緩。再灌三五匙，驚搐稍定。再灌半酒杯，則吮乳漸有生意。</p>

<h2>泄瀉</h2>
<p>一孩孟秋泄瀉，晝夜十數度，醫用五苓散、香薷飲、胃苓湯加肉豆蔻，罔有效者。</p>
<p>予曰：此兒形色嬌嫩，外邪易入，且精神怠倦，明是胃氣不足，而為暑熱所中，胃虛挾暑，安能分別水穀？今專治暑而不補胃，則胃愈虛，邪亦著而不出。經曰「壯者氣行則愈，怯者著而成病」是也。令濃煎人參湯飲之。初服三四匙，精神稍回。再服半酒杯，瀉泄稍減。由是節次服之，則乳進而病脫。</p>

<h1>卷之下</h1>

<h2>答銀臺宋公書</h2>
<p>醫以望、聞、問、切四者為務。蒙示貴恙，只得問之一事而已，餘三事俱莫得而詳也。</p>
<p>依命奉去藥方，或效或否，故難預必。茲以理論，多屬於陰虛而兼有熱也。經曰一勝則一負。蓋血者，陰也。陰虛則陽亢，理之必然。陽亢熱動，宜其血得熱而妄行。或嗽或吐，不免有血，此皆陰虛發熱之病理，宜滋陰養血，清熱潤肺，是其治焉。此特論其理之常也。</p>
<p>其中又有變其常者，亦當變其常以治之矣。經曰衝任二脈，為血之海，主滲灌溪谷。而陽明為之長，陽明者，胃也。或有勞動損其衝任，則血不得滲灌而越上於上竅，故陽明胃脈亦失所養，或飲食無味，或食則難飢，或噁心嘔吐，或胸膈痞悶，或大便不常，此又初因陰虛而終致於陽虛也。夫因陰虛而致陽虛，則滋陰降火之法，又難例用，當從東垣陽生陰長而用甘溫之劑矣。經曰陽氣者，精則養神，柔則養筋。蓋心主血而藏神，肝主筋而藏血。若胃之陽氣有虧，是陽氣之精者亦虛，而心神失養，不能以主血；陽氣之柔者亦損，而肝筋失養，不能以藏血。心既不能主血，肝又不能藏血，欲其血之不妄行也難矣。此又陰變為陽之病，豈可以其陰虛例治而損其陽也。</p>
<p>嘗考《褚氏遺書》有曰，人年十六精始通，未及十六而先損其精，則骨髓未滿，後必有難名之疾。得聞所患，已犯褚氏之戒，必須遠色節欲以固其本，然後調之以藥以治其末，庶幾內外兼修，本末兩盡，病之愈也有日矣。苟徒恃乎藥而無敬謹之功，是謂舍重就輕，欲求病愈難哉。</p>
<p>四物湯加黃柏、知母，乃滋陰降火妙劑。若飲食無味，或飲食不思，此方又難例用，宜兼用四君子湯。仲景曰血虛氣弱，宜用人參。人參不惟補氣，亦補血也。況藥無定性，與熱藥同用則熱，寒藥同用則寒。今用人參而以寒藥制之，人參雖溫，亦莫能逞其勢矣。又曰人參補氣，今以耗氣之藥監之，雖欲補氣，亦莫恣其性矣。幸毋以南北見疑，東垣北人也，常用人參，考之東垣書可證矣。但加減活法在乎病者消息出入，如嗽加麥門冬，痰加貝母，咯血加藕節，氣喘加阿膠，痞悶加枳實。二方相合，名曰八物湯，兼補血與氣也。請與高明議其可否。</p>

<h2>腹痛</h2>
<p>一人面色蒼白，年四十六，素好酒色犬肉。三月間，因酒連有二夜房事，遂病左腹痛甚，後延右腹，續延小腹，以及滿腹皆痛。日夜叫號，足不能升，臥不能仰，汗出食阻。自用備急丸，利二三行而隨止，痛仍不減。</p>
<p>予診之，脈皆細駛，右脈頗大於左，獨脾脈弦且滑。扶起診之，右脈亦皆細數。恐傷酒肉，用二陳湯加黃芩、山楂、曲、蘖，進之不效。再用小承氣湯，仍復不利。蜜煎導之，亦不利。乃以大承氣湯，利二三行，痛減未除。令其住藥，只煎山楂飲之。次日煩躁嘔惡，渴飲涼水則覺惡止爽快。次早再診，脈皆隱而不見。四肢逆冷，煩躁不寧，時復汗出。舉家驚愕，疑是房後陰症，擬進附子理中湯。</p>
<p>予曰：此治內寒逆冷也。《活人書》云四逆無脈，當察症之寒熱。今觀所患，多屬於熱，況昨日脈皆細數，面色近赤，又兼酒後而病。六脈雖絕，蓋由壯火食氣也。四肢者，諸陽之本。氣被壯火所食，不能營於四肢，故脈絕而逆冷也。此類傷暑之症，正合仲景所謂熱厥者多，寒厥者少，急用大承氣湯下之之類。向雖下以大承氣，其熱尚有未盡，難以四逆湯症與比。今用附子熱藥，寧不助火添病耶？如不得已，可用通脈四逆湯，尚庶幾焉。以其內有童便、豬膽汁監製附毒，不得以肆其瘧也。</p>
<p>連進二服，脈仍不應，逆冷不回，渴飲煩躁，小便不通，糞溏反頻，腹或時痛，更進人參白虎湯二帖。燥渴如舊，更用參、術各三錢，茯苓、麥門冬、車前各一錢，北五味、當歸各五分。煎服一帖，脈漸隱隱見如蛛絲。予曰：有生意也。仲景論絕脈服藥微續者生，脈暴出者死是也。</p>
<p>左手左腳亦略近和，不致冰人。右之手足如舊逆冷，但口尚渴，大便尚溏，一日夜約有十數次，小便不通。予曰：渴而小便不利者，當利其小便。遂以天水散冷水調服。三四劑不應。再以四苓散加車前、山梔，煎服二帖，小便頗通。</p>
<p>但去大便，而小便亦去，不得獨利。予曰：小便不利，煩渴未除，蓋由內熱耗其津液也。大便尚溏者，亦由內熱損其陽氣，陽氣不固而然也。遂用參、術各三錢，茯苓錢半，白芍、車前、門冬各一錢，山梔七分，北五味五分，連進數服，至第九日，逆冷回，脈復見，諸症稍減而向安矣。</p>

<h2>咯痰</h2>
<p>一人年逾四十，面色蒼白，平素內外過勞，或為食傷，則咯硬痰而帶血絲。因服寒涼清肺消痰藥，至五六十帖，聲漸不清而至於啞。夜臥不寐，醒來口苦，舌乾而常白胎。或時喉中閣痛，或胸膈痛，或噯氣，夜食難消，或手靠物久則麻，常畏寒，不怕熱。前有　㿗疝，後有內痔，遇勞則發。初診左脈沉弱而緩，右脈浮軟無力。續後三五日一診，心肺二脈浮虛，按不應指。或時脾脈輕按閣指，重按不足。又時或駛，或緩，或浮，或沉，或小，或大，變動全無定準。</p>
<p>夫脈不常，血氣虛也。譬之虛偽之人，朝更夕改，全無定準；的實之人，朝斯夕斯，常久不移。以脈參症，其虛無疑，虛屬氣虛，為重也。蓋勞則氣耗而肺傷，肺傷則聲啞；又勞則傷脾，脾傷則食易積。前疝後痔遇勞而發者，皆因勞耗其氣，氣虛下陷，不能升舉故也。且脾喜溫畏寒，而肺亦惡寒，故曰形寒飲冷則傷肺。以已傷之脾肺，復傷於藥之寒涼，則聲安得不啞？舌安得不胎？胎者，仲景謂胃中有寒，丹田有熱也。夜不寐者，由子盜母氣，心虛而神不安也。痰中血絲者，由脾傷不能裹血也。胸痛噯氣者，氣虛不能健運，故鬱於中而噯氣，或滯於上則胸痛也。</p>
<p>遂用參、耆各四錢，麥門、歸身、貝母各一錢，遠志、酸棗仁、牡丹皮、茯神各八分，石菖蒲、甘草各五分，其他山楂、麥芽、杜仲隨病出入，煎服年餘而復。益以寧志丸藥，前病日漸愈矣。且此病屬於燥熱，故白朮尚不敢用，況他燥劑乎？</p>

<h2>瘀血</h2>
<p>一人年十五，色黃悴。十二月間，忽嘔瘀血一二碗，隨止。當請小兒科丁氏調治，肌體尚弱，常覺頭暈。近乎三月間，天熱行路，出汗逾日，又少費力頗倦，日仄頓然昏暈，不省人事，手足擾亂，顛倒錯亂，將一時久方定。次日亦然。續後每日午時前後，如期發一次。近來漸早，自辰至午，連發二次，漸至三四次，比前稍輕。發時自下焦熱，上至胸壅塞，則昏暈良久方蘇，始疑是瘧和癇。醫云火動，又云痰症，用牛黃丸以竹瀝、薑汁磨服二次，共四丸，又與煎藥多清痰火之劑。服後，每日只發一次。止則汗多，口乾，食少，身熱時多，涼時少。</p>
<p>予脈之，皆浮虛洪數，不任尋按，坐起則覺略小，亦不甚數。脈書曰數脈所主為熱，其症為虛。三日後再診，左脈小而滑，右脈大而滑，獨肺部浮軟，按之似蟄蟄有聲。與昨脈不同者，虛之故也。</p>
<p>夫陽氣者，清純沖和之氣也。或勞動過度，或酒食過傷，則擾動其陽，變而為邪熱矣。然脾胃以陽氣為主，陽變為熱，血必沸騰而越出於上矣。昏暈者，由熱熏灼，故神昏運倒而類風也。風之旋轉運動，與火相類。每覺下焦熱上，胸膈壅塞而即發者，脾脈從足入腹至胸，今下焦熱上，乃脾火也。然胸膈，心肺之分，為陽之位。清陽居上，今邪熱擾之，則陽不得暢達，而心肺之神魄不免為之而昏亂矣。況五藏皆賴胃氣以培養，胃受火邪則五藏皆無所稟，而所藏之神亦無所依，故肺之魄，心之神，肝之魂，脾之意，腎之志，安得不隨之潰亂躁擾而昏瞀耶？多發於午前後者，乃陽氣所主之時。陽為邪擾，不能用事，故每至其時而輒發也。且汗多津液泄，口乾津液少，醫用牛黃、硃砂、琥珀、南星、半夏等而復燥之，是愈益其燥，故暫止而復發，不能拔去其病根也。</p>
<p>因取參、耆各二錢半，遠志、山楂、川芎、黃芩各七分，天麻、茯神、麥門冬各一錢，甘草、陳皮各五分，歸身八分，白朮一錢半，煎服十餘帖，而病不復發矣。</p>

<h2>陽虛</h2>
<p>一人年逾三十，神色清減，初因傷寒過汗，是後兩足時冷，身多惡寒，食則易飢，日見消瘦，夢遺甚頻，筋骨疼痛，久伏床枕，不出門戶。醫用滋陰降火不效。予視，左脈浮虛而緩，右脈浮弦而緩，此陽虛也。病者言易飢善食，夢遺甚頻，似屬陰虛，若作陽虛而用參、耆，恐增病矣。予故為之備論其病。</p>
<p>古人謂脈數而無力者，陰虛也；脈緩而無力者，陽虛也。今脈皆浮虛弦緩，則脈為陽虛可知矣，參症論之，病屬陰虛，陰虛則發熱，午後屬陰，當為午後則遍身發熱，惡熱，揭胸露手，蒸蒸熱悶而煩躁也。今患並無是症，何得認作陰虛？夫陽虛則惡寒，雖天暖日和，猶恐出門，怕寒惡風。今患兩足時冷，身多畏寒，皆陽虛之驗矣。又被汗多亡陽，非陽虛而何？今日食則易飢，非陰虛火動也。蓋脾胃以氣為主，氣屬陽，脾胃之陽已虛，又被苦寒屬陰之藥以瀉其陽，則陽愈虛而內空竭，須借穀氣以扶助之，故易飢而欲食，食亦不生肌肉也。經曰飲食自倍，腸胃乃傷，又曰飲食不為肌膚，其此之謂歟。夢遺亦非特陰虛。經曰陽氣者，精則養神，柔則養筋。今陽既虛，則陽之精氣不能養神，而心藏神，神失所養，則飄蕩飛揚而多夢矣；陽之柔氣不能養筋，而肝主筋以藏魂，筋失所養，則遍身筋骨為之疼痛。魂亦不藏，故夢寐欠安，何得而不遺乎？經曰氣固形實。陽虛則不能固，而精門失守，此遺之所以頻而不禁也。</p>
<p>經曰腎者，胃之關也。今若助陽以使其固，養胃以守其關，不患遺之不止矣。遂用參、耆各二錢，白朮一錢，甘草五分，枳實、香附、山楂、韭子各五分，煎服半年，隨時令寒暄升降而易其佐使，調理而安。</p>

<h2>耳膿</h2>
<p>一人年近六十，面色蒼白，病左耳聾三十年矣。近年來或頭左邊及耳皆腫潰膿，膿從耳出甚多，時或又腫復膿。今則右耳亦聾，屢服祛風去熱逐痰之藥不效。</p>
<p>予診，左手心脈浮小而駛、肝腎沉小而駛，右脈皆虛散而數，此恐乘輿遠來，脈未定耳。來早脈皆稍斂不及五至，非比日前之甚數也。</p>
<p>夫頭之左邊及耳前後，皆屬於少陽也。經曰：少陽多氣少血。今用風藥、痰藥類皆燥劑。少血之經，又以燥劑燥之，則血愈虛少矣。血少則澀滯，澀滯則壅腫，且血逢冷則凝，今復以寒劑凝之，愈助其壅腫，久則鬱而為熱，腐肉成膿，從耳中出矣。漸至右耳亦聾者，脈絡相貫，血氣相依，未有血病而氣不病也，是以始則左病而終至於右亦病矣。況病久氣血已虛耳，人年六十，血氣日涸；而又出久勞傷氣血，又多服燥劑以損其氣血，膿又大泄，已竭其氣血，則虛而又虛可知矣。以理論之，當以滋養氣血，氣血健旺，則運行有常，而病自去矣。否則不惟病且不除，而腦癰耳疽抑亦有不免矣。</p>
<p>以人參二錢，黃耆二錢，歸身、白朮、生薑各一錢，鼠黏子、連翹、柴胡、陳皮各六分，川芎、片芩、白芍各七分，甘草五分，煎服數十帖而安。</p>

<h2>腹痛</h2>
<p>一孺人年近五十，病腹痛。初從右手指冷起，漸上至頭，則頭如冷水澆灌，而腹痛大作，痛則遍身大熱，熱退則痛亦止，或過食或不食皆痛。每常一年一發，近來二三日一發，遠不過六七日，醫用四物加柴胡、香附不應；更醫用四君加木香、檳榔亦不效；又醫用二陳加紫蘇、豆蔻；又用七氣湯等劑皆不效。</p>
<p>予診，脈皆微弱，似有似無，或一二至一止，或三五至一止，乃陽氣大虛也。以獨參五錢，陳皮七分，煎服十餘帖而愈。</p>
<p>夫四肢者，諸陽之末；頭者，諸陽之會。經曰陽虛則惡寒，又曰一勝則一負。陽虛陰往，乘之則發寒；陰虛陽往，乘之則發熱。今指稍逆冷上至於頭，則陽負陰勝可知矣。陽負則不能健運，而痛大作。痛作而復熱者，物極則反也。及其陰陽氣衰，兩不相爭，則熱歇而痛亦息矣。況脾胃多氣多血經也。氣能生血，氣不足則血亦不足。仲景曰血虛氣弱，以人參補之。故用獨參湯，服而數年之痛遂愈矣。</p>

<h2>淋</h2>
<p>一人年逾三十，神色怯弱。嘉靖八年客外，七月患熱淋，諸藥不效，至十一月行房方愈。九年正月復作，亦行房而愈。至三月傷寒，咳嗽有痰，兼事煩惱，延至十月少愈，後復作，服蘆吸散而愈。但身熱不解，因服小便，腹內膨脹，小腹作痛。後又因晚臥，左脅有氣觸上，痛不能睡，飲食減半，四肢無力。食則腹脹痛或瀉，兼胸膈飽悶。口舌乾燥，夜臥盜汗。從腰已下常冷，久坐腰痛腳軟，手心常熱。</p>
<p>診其左手心脈浮數而滑，腎肝二脈沉弱頗緩，右手肺脈浮虛而駛，脾脈偏弦而駛，命門散弱而駛。第二日再診，心肝二脈細軟，稍不見駛矣。腎脈過於弱，肺脈浮軟，亦不見駛。脾脈頗軟，命門過浮略堅。</p>
<p>予曰：膀胱者，津液之府，氣化出焉。淋者，由氣餒不能運化，故津液鬱結為熱而然也。房後而愈者，則鬱結流利而熱解矣。三月天日和煦，何得傷寒？多由肺氣不足，莫能護衛皮毛，故為風邪所襲，鬱熱而動其肺，以致痰嗽也。得蘆吸散而愈者，以辛溫豁散其痰與熱也。嗽止、身熱不退者，因嗽久肺虛，肺虛則脾弱，脾肺之氣不能榮養皮肉，故熱作也。經曰形寒飲冷則傷肺，又曰脾胃喜溫而惡寒。今服小便之寒涼，寧不愈傷其脾肺耶？是以腹脹作痛，脅氣觸上，或瀉或汗種種諸病，皆由損其脾肺也。而脈時或變易不常者，亦由氣血兩虛，虛而為盈，難乎有常矣。</p>
<p>遂用參、耆各一錢，茯苓、白朮各一錢，歸身、牛膝各七分，厚朴、陳皮、木香、甘草各五分，薄桂三分。煎服二十餘帖，諸症悉退。</p>
<p>後因解頭勞倦，諸症復作。來就予治，脈與前頗同，但不數不駛而已。仍用參、耆各三錢，麥門冬、歸身、厚朴、枳實、甘草、黃芩等劑而愈。</p>

<h2>五志</h2>
<p>書曰：五志過為病，非藥可治，須以情勝。古今方書多略而不言，遇有此疾，無例可推。因搜求前賢治例，著之於後，以示將來者焉。</p>
<p>如怒傷肝，肝屬木，怒則氣並於肝，而脾土受邪，木太過則肝亦自病；喜傷心，心屬火，喜則氣並於心，而肺金受邪，火太過則心亦自病；悲傷肺，肺屬金，悲則氣並於肺，而肝木受邪，金太過則肺亦自病；恐傷腎，腎屬水，恐則氣並於腎，而心火受邪，水太過則腎亦自病；思傷脾，脾屬土，思則氣並於脾，而腎水受邪，土太過則脾亦自病。寒傷形，形屬陰，寒勝血則陽受邪，寒太過則陰亦自病；熱傷氣，氣屬陽，熱勝寒則陰受病，熱太過則陽亦自病。</p>
<p>凡此數者，更相為治。故悲可以治怒，以愴惻苦楚之言感之；喜可以治悲，以謔浪褻狎之言戲之；恐可以治喜，以逼遽死亡之言怖之；怒可以治思，以汙辱欺罔之言觸之；思可以治恐，以慮彼忘此之言奪之。凡此五者，必詭譎怪詐，無所不至，然後可以動人耳日，易人視聽，若胸中無材器之人亦不能用此法也。熱可以治寒，寒可以治熱，逸可以治勞，習可以治驚。經曰驚者平之。夫驚以其忽然而遇之也，使習見習聞，則不驚矣。惟勞則氣耗，恐則氣奪者，為難治。喜者少病，百脈舒和之故也。</p>

<h2>喜</h2>
<p>一人因喜成病，莊醫切脈，為之失聲，佯曰：「吾取藥去。」數日更不來。病者悲泣，辭家人曰：「處世不久矣。」莊知其將愈，慰之。詰其故，引《素問》「懼勝喜」。可謂得玄關者也。</p>

<h2>舌出</h2>
<p>一婦因產，舌出不能收。醫以硃砂敷其舌，仍命作產子狀，令以兩女子掖之，乃於壁外潛累盆碗危處，墮地以作聲，聲聞而舌收矣。</p>
<p>夫舌乃心之苗，此必產難而驚，心火不寧，故舌因用力而出也。今以硃砂以鎮其心火，又使倏聞異聲以恐下。經曰恐則氣下，故以恐勝之也。</p>

<h2>憂</h2>
<p>昔貴人有疾，天方不雨，更醫十數罔效。最後一醫至，脈已，則以指計甲子，曰：「某夕天必雨。」竟出。貴人疑曰：「豈謂吾疾不可為耶？何言雨而不及藥我也？」已而夕果雨，貴人喜起而行乎庭，達旦，疾若脫去。</p>
<p>明日，後至之醫得謁，貴人喜且問曰：「先生前日言雨，今得雨而瘳，何也？」醫對曰：「君侯之疾，以憂得之。然私計君侯忠且仁，所憂者民耳。以旱而憂，以雨而瘳，理固然耳，何待藥而愈耶？」</p>
<p>一人縣差，拿犯人以鐵索項所犯至縣。行至中途，犯則投河而死。犯家告所差人，索騙威逼至死。所差脫罪，未免費財，憂憤成病，如醉如癡，謬言妄語，無復知識。</p>
<p>予診之，曰：「此以費財而憂，必得而喜，病可愈也，藥豈能治哉？」令其熔錫作銀數錠，置於其側。病者見之果喜，握視不置，後病遂愈。此謂以喜勝憂也。</p>

<h2>思</h2>
<p>一女與母相愛，即嫁母喪，女因思母成疾。精神短少，怠倦嗜臥，胸膈煩悶，日常懨懨，諸藥不應。</p>
<p>予視之，曰：「此病因思，非藥可愈。」彼俗酷信女巫，巫托神降言禍福，謂之卜童。因令其夫賄囑之，托母降言：「女與我前世有冤，汝故託生於我，以害我也。是以汝之生命克母，我死因汝，今在陰司，欲報汝仇，汝病淹淹，實我所為。我生則與之母子，死則與之寇仇。」夫回謔其婦曰：「汝病如此，我他往可請童婆卜之，何如？」婦應曰：「諾。」遂請卜，一如夫所言。女聞大怒，詬曰：「我因母病，母反害我，何思之有耶？」遂不思，病果愈。此以怒勝思也。</p>

<h2>氣結</h2>
<p>一官素謹言，一日會賓筵中有蘿蔔頗大，客羨之。主曰：「尚有大如人者。」客皆笑，以為無。主則悔恨自咎曰：「人不見如是大者，而吾以是語之，宜其以吾言為妄為笑也。」因而致疾，藥不應。</p>
<p>其子讀書達事，思父素不輕言，因而愧赧成疾。必須實所言，庶可解病。官所抵家往返十餘日，遂遣人抵家，取蘿蔔如人大者至官所。復會舊賓，請父強疾而陪。酒酣，令車載置席前，客皆驚訝。其父大喜而疾愈。</p>
<p>一女婚後，夫經商二年不歸。因不食，困臥如癡，無他病，多向床里坐。此思則氣結也。藥難獨治，得喜可解；不然，令其怒。諷掌其面，詬以外情，果大怒而大哭三時許，令解之，與藥一帖，即求食矣。予曰：病雖愈，得喜方已。乃詒以夫回，既而果然病不舉。</p>

<h2>脈</h2>
<p>重大之病，一日三脈多變，難治；沉疴日日脈不移，亦難治。伏經脈最難求，如積熱之久，脈反沉細，而外症又寒，苟非兼以望聞問切，何可得也？世俗諱疾試醫，醫復諱情妄臆。而豪貴婦女，往往不得望聞，豈不大錯？</p>
<p>論病必分兼經、專經、錯經、伏經，知有賓主，而後分標本以處方。兼經併發如兩感，專經獨發如太陽表症，錯經亂髮如百合、狐惑病，伏經反發如熱極似水。</p>
<p>君臣佐使外，可用一標使，如劑中合從辛以達金，則取引經一味，辛者倍加之，故其效速。</p>

<h2>補陰</h2>
<p>一士人，形肥色白，因《名醫雜著》。謂人皆陰不足，服補陰丸至數十年，乃病虛短氣。予反之，用辛熱劑，決去滯余，而燥其重陰，方得平和無恙。此則未達方書而枉自誤，不可不戒也。</p>
<p>前數條出《醫通》，予嘗熟諳，以其暗與己合，故錄之不忘。詩曰「我思古人，實獲我心」，此之謂也。</p>

<h2>驚</h2>
<p>一婦年三十餘，十八胎九殰八夭。復因驚過甚，遂昏昏不省人事，口唇舌皆瘡，或至封喉，下部白帶如注，如此四十餘日。或時少醒，至欲自縊，自悲不堪。或投涼劑解其上，則下部疾愈甚；或投熱劑，或以湯藥熏蒸其下，則熱暈欲絕。脈之，始知為亡陽症也。急以鹽煮大附子九錢為君，制以薄荷、防風，佐以薑、桂、芎、歸之屬，水煎，入井水冷與之。未盡劑，鼾睡通宵，覺則能識人。</p>
<p>眾訝曰：「何術也？」醫曰：「方書有之，假對假，真對真爾。」上乃假熱，故以假冷之藥從之；下乃真冷，故以真熱之藥反之，斯上下和，而瘡解矣。續後再服調元氣藥，乃生二子。續後又病瘧一年，亦主以養元氣，待飲食大進，然後劫以毒藥，吐下塊物甚多，投附子湯三錢而愈。</p>
<p>此條亦出《醫通》，以其治病有法，用藥有權，可謂知通變者也。故錄之以為法。</p>

<h2>腿痛</h2>
<p>一人四十餘，色黃白，季春感冒，發汗過多，遂患左腳腿骹（厥陰之分）微腫而痛，不能轉動。醫作陰毒，治以艾灸。予曰：陰毒雖無肉變高焮之勢，纏綿月餘，內必有瘀膿。令用毫針深探之，惟黃水數點而已。後又更醫，以鋒針於灸瘡內深入寸許，則血大出，認為陰毒似有可疑。吾以為屬於筋痛，經所謂筋痿者耶。</p>
<p>痿雖軟易，其亦有痛者。且其痛時，遍身筋皆腫脹。而右腳內廉筋亦急痛，不能屈伸，以此驗之，筋痛可知矣。經曰厥陰少血之經，筋之所主。過汗則亡血，而筋失所養，故急痛也。腿骹腫者，蓋人身之血猶江河之水，洪泛則流沙走石；彼細流淺瀨，則此阻彼礙而壅腫矣。經曰「怯者著而成病」是也。兼之脾胃太虛，嘔逆噯氣，飲食少進。經曰：胃者，水穀之海。脾主於胃，行其津液，以養皮肉筋脈。今胃不受，而脾不運，筋脈愈失所養矣。又加灸砭，焦骨傷筋，復耗其血。丹溪曰：血屬陰，難成易虧者也。茲則針灸妄施，則血虛耗矣，欲其疾愈，豈可得哉？且經曰筋枯者，舉動則痛，是無血以養，俱難治也。所幸者，精神尚好，大便固秘，夜臥安靜。於此健其脾胃，使飲食進，則血自生，筋自舒，腫退痛除，庶或可愈。其脈初皆細軟而緩，按之無力。予以獨參湯一兩，一劑與之，其效甚速。</p>
<p>予適他往，更醫復灸，又用參、耆、歸、術加涼劑，胃氣遂不能回矣。再診，脈變為滑數。脈書言瘡科滑脈，未潰宜內消，已潰宜補益。又曰數脈所主為熱，其症為虛，是脈與症皆屬於虛，亦須大補，托而出之，治亦同法，豈得歧而兩途？病居疑似，故詳辨之。</p>
<p>吾嘗見一婦產後遍身筋痛，遂致不救，是亦亡血故也。</p>

<h2>勞</h2>
<p>一兒年十一，色白神怯，七月間，發熱連日，父令就學，內外俱勞，循至熱熾，頭痛，正合補中益氣湯症。失此不治，以致吐瀉，食少。其父知醫，乃進理中湯。吐瀉少止，漸次眼合，咽啞不言，昏昧不省人事，粥飲有礙，手常搵住陰囊。為灸百會、尾骶不應。</p>
<p>其父質於予。予曰：兒本氣怯，又當暑月過勞。經曰勞則氣耗。又曰勞倦傷脾。即此觀之，傷脾之病也。身熱者，經曰陽氣者，煩勞則張。蓋謂氣本陽和，或勞煩，則陽和之氣變為邪熱矣。頭痛者，經曰諸陽皆會於頭。今陽氣亢極，則邪熱熏蒸於頭而作痛也。吐瀉者，脾胃之清氣不升，濁氣不降也。目閉者，蓋諸脈皆屬於目，而眼眶又脾所主，脾傷不能營養諸脈，故眼閉而不開也。咽啞者，蓋脾之絡連舌本、散舌下，脾傷則絡失養，不能言也。經曰脾胃者，水穀之海。五藏皆稟氣於脾，脾虛則五藏皆失所養。故肺之咽嗌為之不利，而食難嚥；故心之神明為之昏瞀而不知人。常欲手搵陰囊者，蓋無病之人，陰升陽降，一有所傷，則升者降，降者升經曰陰陽反復是也。是以陰升者降，從其類而入厥陰之囊，因陰多陽少，故手欲搵之也。此皆脾胃之病。經謂土極似木，亢則害，承乃制也。症似風木，乃虛象耳，不治脾胃之土，而治肝木之風，欲兒不死難矣！且用參、耆、術各三錢，熟附一錢煎，用匙灌半酒杯，候看如何。</p>
<p>服後，病無進退。連服二三日，神稍清，目稍開，如有生意，食仍難嚥。予為診之，脈皆浮緩，不及四至。予曰：藥病相宜，再可減去附子服之。漸漸稍蘇。初醫或作風熱施治，而用荊、防、芩、連、蠶、蠍之類；或作驚痰，而用牛黃、硃砂、輕粉等藥。此皆損胃之劑，豈可投諸兒？今得生幸耳，實賴其父之知醫也。</p>
<p>或曰：經云無伐天和，其症又無四肢厥冷，時當酷暑而用附子，何也？予曰：參、耆非附子無速效，而經亦曰假者反之。正如冬月而用承氣之類，此亦舍時從症之意也。</p>

<h2>咳嗽</h2>
<p>一婦年三十，質脆弱，產後咳嗽，痰臭。或作肺癰治，愈劇。延及兩腳漸腫至膝，大便溏，小腹脹痛，午後發熱，面紅氣促，不能向右臥。予診，脈虛小而數。</p>
<p>予曰：凡咳嗽左右向不得眠者，上氣促下瀉泄者，發熱不為瀉減者，此皆病之反也。按此皆原於脾。經曰脾主諸臭，入肺腥臭，入心焦臭，入肝腐臭，自入為穢臭。蓋脾不能運行其濕，濕鬱為熱，釀成痰而臭矣。經曰左右者，陰陽之道路也。脾虛則肺金失養。氣劣行遲，壅遏道路，故咳嗽氣促不能右臥也；脾虛必奪母氣以自養，故心虛發熱而見於午也；脾主濕，濕勝則內滲於腸胃為溏泄，外滲於皮膚為浮腫。</p>
<p>令用參、耆、甘草補脾為君，白朮、茯苓滲濕為臣，麥門冬以保肺氣，酸棗仁以安心神為佐，陳皮、前胡以消痰下氣為使，用東壁土（以受陽光最多用之）以為引用。蓋土能解諸臭，用以補土，亦易為力矣。此竊取錢氏黃土湯之義也。服一帖，前症略減，病者甚喜。予曰：未也，數帖後無反復，方是佳兆，否則所謂過時失治，後發寒熱，真陽脫矣。泄而腳腫，脾氣絕矣，何能收救。</p>
<p>予侄文煥妻亦患此，醫作肺癰治，而用百合煎湯煮粥，食之反劇。予診，其脈細弱而緩，治以參、耆甘溫等劑，二三帖而愈，此由治之早也。</p>

<h2>瘧</h2>
<p>一人年逾四十，形肥色蒼，因勞後入房感風，夜半瘧作，自汗，寒少熱多，一日一作。醫用清脾、小柴胡、四獸等劑不效。漸至二日或三日一發。予診，左脈浮洪虛豁而數，右脈虛小散數，頭眩耳鳴，四肢懶倦，手足麻、大便溏，左脅瘧母，時或夢遺，發則嘔吐，多痰，或辰或午發，至酉戌乃退。每至三十日連發二次，子時發至黎明，其發微；辰時發至酉戌，其發如常。</p>
<p>予用參、耆、歸、朮、麥門、知母、厚朴、陳皮大劑與之。初服一劑，痞塊反高，小腹脹痛。予曰：藥若不瞑眩，厥疾弗瘳，再當服之數帖。後脈皆稍靜不數。</p>
<p>病者曰：脈平而病不減，何也？予曰：瘧邪已深，非數劑之藥、旦夕之功所能愈。當久服，待春分陽氣發揚，方得全愈。苟惑人言而止藥，不惟瘧不能止，或癆或鼓，難免後憂。夫瘧因感風、暑、寒、水而作也。經曰皮膚之外，腸胃之內，氣血之所舍也。氣屬陽，風暑陽邪而中於氣；血屬陰，寒水陰邪而中於血。先中陽邪，後中陰邪，則先寒後熱；先中陰邢，後中陽邪，則先熱後寒。陽邪多則熱多，渴而有汗；陰邪多則寒多而汗少。氣血受邪而居於其舍。悍衛之氣運行不息，不受邪也。日行陽二十五度，夜行陰二十五度，每一刻則周身一度，行與邪遇，則邪壅遏其道路，故與相搏而瘧作也。搏則一勝一負，負則不與之搏，而悍衛無礙，故瘧止矣。夫邪之盛衰，因氣血之盛衰，氣血盛，邪亦盛；氣血衰，邪亦衰。久則氣血衰，或靜養二三日，氣血復盛而邪亦盛，悍衛行與之遇，又復相抗而瘧作。此瘧每三十日連發二次者，蓋二十八九、三十日，晦日也。陰極陽生之時，夜半微陽始生而力尚弱，故瘧發亦輕；辰則陽旺矣，故瘧亦重。此瘧所感陽邪居多，故隨陽氣盛衰而為之輕重。其三日一發者，非入於藏也，由氣血盛衰而然，非若傷寒之傳經也。</p>
<p>或曰：邪既因氣血而盛衰，今補其氣血，未免邪亦盛矣。予曰：邪之所湊，其氣必虛。氣血未補，終未至於強健，強健邪無容留矣，經曰「邪正不兩立」是也。</p>
<p>夫瘧三日一發，丹溪以發日之辰分屬三陰，而藥無三陰之別。總用撫芎、當歸、紅花、蒼朮、黃柏等藥掣起陽分。瘧入陰分，由陽虛陷入也。須宜陽分助氣之藥，加血藥引入陰分，方可掣起。專用血藥，只恐邪愈下陷，何以能掣起哉？</p>

<h2>夢遺</h2>
<p>一人年十九，面白質弱，因作文過勞，夢遺，遂吐血碗許，自是微咳倦弱，後身忽大熱，出疹。疹愈，陰囊癢甚，搓擦水流，敷以壁土，囊腫大如盞許。遂去土，以五倍塗少蜜炙為末，敷之遂愈。因感風寒，其嗽尤甚，繼以左右脅痛。予診，脈虛而數，見其畏風寒，嘔惡倦動，糞溏，氣促。</p>
<p>予曰：此金極似火也。夫心屬火而藏神，腎屬水而藏志，二經屬少陰，而上下相通。今勞思則神不寧而夢，志不寧而遺，遺則水不升而心火獨亢也。肝屬木而藏血，其象震，震為雷，心火既亢，則同類相應，引動龍雷之火，載血而越出乎上竅矣。肝脈環繞陰器，亦因火擾而痛癢腫脹也。火勝金，故肺金虛而乾咳。皮毛為之合，亦為火鬱而發疹。大腸為之府，故亦傳導失宜而糞溏。然金虛不能平木，故木火愈旺而凌脾，脾虛則嘔惡而食減。經曰壯火食氣。脾肺之氣為壯火所食，故倦於動作而易感風寒也，經言兩脅者，陰陽往來之道路也，為火阻礙，則氣不利而痛矣。然火有虛有實，有似火而實非火。故經言有者求之，無者求之；虛者責之，實者責之。此治火之大法也。前病之火皆虛，非水濕之可折伏，惟甘溫之劑可以祛除。譬之龍雷之火，日出則自潛伏矣。若用苦寒降火，正如雨聚雷烈而火愈熾盛矣。世醫治火，不惟不求之有無虛實，專泥《明醫雜著》咳嗽吐紅皆屬陰虛，誤服參、耆不救之語，概用滋陰等劑。況此服滋陰藥已百餘帖，而病反劇，豈可仍以陰虛治之耶？且經言形寒飲冷則傷肺，又謂脾胃喜溫而惡寒。今用甘溫健其脾，則肺金不虛；而咳嗽氣促自愈。肝木有制，而脅痛吐血自除，虛妄之火亦自息矣。</p>
<p>遂用參、耆各四錢，神麯、山楂各七分，白朮、貝母、麥門冬各一錢，甘草五分，炒乾姜四分。煎服十餘帖，脈數減，咳少除，精神稍健。</p>
<p>但後又適新婚，不免耗損真陰，將何以制其虛妄之火耶！蓋咳屬肺金，數脈屬火，咳而脈數，火剋金也，冬月水旺而見數脈，亦違時也。大凡病見數脈，多難治療，病久脈數，尤非所宜。此予所以深為之慮也。</p>

<h2>心痛</h2>
<p>一婦年三十餘，性躁多能，素不孕育，每啜粥畏飯，時或心痛，春正忽大作，或作氣而用香燥，或作痰而用二陳，或作火而用寒涼，因糞結進潤腸丸，遂泄不禁，小便不得獨利。又發寒熱，熱則咳痰不止，寒則戰慄鼓頷，肌肉瘦削，皮膚枯燥，月水不通，食少噁心，或煩躁而渴，或昏昏嗜臥，或小腹脹痛，諸治罔效。醫皆視為死症，詣請予往治之，右脈浮大弦數，左脈稍斂而數，熱來左右脈皆大而數，寒來脈皆沉微似有似無。</p>
<p>經言脈浮為虛，脈大必病進。丹溪謂脈大如蔥管者，大虛也。經又謂弦脈屬木，見於右手，肝木克脾土也。又以數脈所主為熱，甚症為虛。左脈稍斂者，血分病輕也。今患素畏飯者，是胃氣本弱矣。心痛即胃脘痛，由脾虛不運，故胃脘之陽不降，鬱滯而作痛也。瀉泄不禁，小便不得獨行者，蓋陽主固，且經言膀胱者，津液之府，氣化則能出矣，今陽虛不固於內，故頻泄也，膀胱氣虛不化，故小便不能獨行也。又寒熱互發者，蓋氣少不能運行而滯於血分，故發熱；血少不得流利而滯於氣分，故發寒。仲景曰「陽入於陰則熱，陰入於陽則寒」是也。寒則戰慄鼓頷者，陰邪入於陽明也。熱則咳痰不已，陽邪入於陽明也。此則陰陽兩虛，故相交併而然也。肌肉瘦削者，蓋脾主身之肌肉，脾虛食少，故瘦削也。皮膚枯燥者，經曰脾主於胃，行其津液，脾虛不能運行津液，灌溉於肌表，故枯燥也。月水不通者，經曰二陽之病發心脾，男子少精，女子不月。二陽，手足陽明腸與胃也。陽明虛，則心脾皆失所養，而血不生，故不月也。食少噁心，躁渴，嗜臥，皆脾胃所生之症也。小腹脹痛者，乃陽虛下陷使然也。經曰陽病極而下是也。</p>
<p>乃用人參五錢，黃耆四錢，白朮三錢為君，升麻八分，茯苓一錢，豬苓、澤瀉各七分為臣，蒼朮五分，香附七分為佐，歸身七分，麥門冬一錢為使。煎服三帖不效。一醫曰：此病不先驅邪，一主於補，所謂閉門留賊。一醫曰：此屬陰虛火動，今不滋陰降火而徒補氣，將見氣愈盛、火愈熾矣。風鑑相其夫曰：奸門清白，必主喪妻；日者推其命曰：運限俱倒，其死必矣。其夫皺眉告予曰：每日扶之，似身漸重，皮枯黑燥，恐不濟矣。</p>
<p>予思仲景有曰泄利不止，五藏之陽虛於內；寒熱互發，六府之陽虛於外。是則內外兩虛，在法不治。所恃者，年尚壯，能受補而已。但病家寧可於死中求活，豈可坐以待斃！且補藥無速效，今服藥不滿四五劑，即責以效，豈王道之醫乎？</p>
<p>因令勉服前藥六七帖，寒已除，但熱不減，汗出不至足。令壺盛熱水蒸其足，汗亦過於委中矣。續後前症漸減，始有生意。</p>
<p>追思醫謂不先去邪者，因其寒熱往來也。然去邪不過汗、吐、下三法。今病自汗、吐痰、泄利三者俱矣，再有何法而施乎？且病有實邪、有虛邪，虛可補而實可瀉。今病屬虛，而以實邪治之，虛虛之禍，咎將誰歸？謂當滋陰降火，因其月事不通，病發於夜也。且服降火藥，遂小腹脹而大便泄，是不宜於此矣。殊不知滋陰降火，皆甘寒苦瀉之劑。今病食少、泄利，明是脾虛，且脾胃喜溫而惡寒，今泥於是，寧不愈傷其胃而益其泄乎？籲，危哉！故不敢不辯。</p>

<h1>附錄</h1>

<h2>石山居士傳</h2>
<p>居士姓汪，名機，字省之。其先出越國公華長子、郎州法曹建之後。四傳至璹者，始遷古黟赤山鎮，即今祁治石山也。其後諱新一者，元季復遷石山之南，曰樸墅。鄉人本其所自出，尊之曰石山居士云。</p>
<p>居士性恬淡，不喜奢靡，動法古人，一本於誠，言出未嘗不踐。平居粗衣糲食類儉者，至義之所當為，視棄百金如一羽耳。其弟柱，客死廣東海徼，命子炅往取其柩，備歷艱險，始克柩歸，而所費一無所問。遠祖墳墓，失業他姓，率眾復之，費尤不較。族人慾立宗祠，籌之工巨，非白金六十斤余不可，眾難之，居士即任十之二，曰：尊祖敬宗，又何惜焉！於是眾皆趍赴，不日而成。</p>
<p>處家庭和易不苟，人皆樂從。如嫁娶喪祭，並依家禮，立規行二十餘年，罔有違者。御庸工佃人俱有恩。嘗戒其子弟曰：民有四業，皆不可離義之一字，其立心制行，大略如此。</p>
<p>早歲習《春秋》經，補邑庠弟子員，屢試不利，其考以望公喻之，曰：昔范文正公嘗自禱曰不為良相，願為良醫，意謂仕而不至於相，則其澤之所及，顧不著醫之博耳。蓋翁嘗以醫活人，至數千指，故以此喻。居士悟，即棄去科舉浮文，肆力醫家諸書，參以《周易》及儒先性理奧論而融會於一，皆余醫所未聞也。</p>
<p>其母孺人病頭痛，嘔吐十餘年，居士起之如故。以望公晚年三染疾，亦三起之。公曰：醫力如此，牲鼎，何足羨耶？於是益加研究，診治病者，百試百中，捷如桴鼓。聲名益彰，遐邇以疾來請者無虛日，居士隨請隨就。不可起者，直告之不隱，可起者竭力治之，至忘寢食。若王公貴人，稍不為禮，不應也，其自重又如此。久之求者益眾，所應亦博，活人至數萬指。都里、姓名、脈色及方症，其徒周臣、許忠歷歷紀之，為書曰《石山醫按》，試略言之。</p>
<p>郡侯張歉齋公，年逾五十，過勞怠倦，煩悶，惡食不爽。居士診之，脈浮小濡緩。曰：此合東垣勞倦傷脾之論也。冬春宜仿補中益氣湯例，夏秋宜仿清暑益氣湯例，依法守方，服之良愈。又常慮子遲，居士復為診之，曰：浮沉各得其位，大小不逾其矩，後當有子，果如所言。</p>
<p>歙呈坎羅斯聰，年逾三十，病中滿。朝寬暮急，屢醫不效。居士診視，脈浮小而弦，按之無力，曰：此病宜補。以人參二錢，白朮、茯苓各一錢，黃芩、木通、歸尾、川芎各八分，梔子、陳皮各七分，厚朴五分，煎服。且喻之曰：初服略脹，久則寬矣。彼疑氣無補法，居士曰：此世俗之言也。氣虛不補，則失其健順之常，痞滿無從消矣。經曰塞因塞用，正治此病之法也。服之果愈。</p>
<p>其弟斯俊，形實而黑，病咳，痰少聲嘶，間或咯血。居士診之，右脈大無倫，時復促而中止，左脈比右略小而軟，亦時中止。曰：此肺、脾、腎三經之病也。蓋秋陽燥烈，熱則傷肺，加之以勞倦傷脾，脾為肺母，母病而子失其所養。女色傷腎，腎為肺子，子傷必盜母氣以自奉，而肺愈虛矣。法當從清暑益氣湯例而增減之。以人參二錢或三錢，白朮、白芍、麥門冬、茯苓各一錢，生地、歸身各八分，黃柏、知母、陳皮、神麯各七分，少加甘草五分，煎服。</p>
<p>或曰：《明醫雜著》云凡病喘嗽咳血，肺受入邪，誤用參、耆，多致不救，謂何？曰：醫者意也。徒泥陳言而不知變，烏足以言醫？人參雖溫，雜於酸苦甘寒群隊藥中，奪於眾勢，非惟不能為害，而反為人用矣。孟子曰一薛居州，獨如宋王何？此之謂歟。患者聞之喜曰：非通儒者，論不及此。銳意煎服，月餘而安。</p>
<p>羅汝聲，年五十餘，形瘦而黑，理疏而澀，忽病腹痛，午後愈甚。醫曰：此氣痛也。治以快氣之藥，痛亦加。又曰：午後血行陰分，加痛者血滯於陰也。煎以四物湯加乳、沒，服之亦不減。詣居士診之，脈浮細而結，或五、七至一止，或十四五至一止。經論止脈漸退者生，漸進者死。今止脈頻則反輕，疏則反重，與《脈經》實相矛盾。居士熟思少頃，曰得之矣。止脈疏而痛甚者，以熱動而脈速，頻而反輕者，以熱退而脈遲故耳，病屬陰虛火動無疑。且察其病，起於勞欲。勞則傷心而火動，欲則傷腎而水虧。以人參、白芍補脾為君，熟地、歸身滋腎為臣，黃柏、知母、麥門冬清心為佐，山楂、陳皮行滯為使，人乳、童便或出或入，惟人參漸加至四錢或五錢，遇痛進之即愈。</p>
<p>或曰：諸痛與瘦黑人及陰虛火動，參、耆並在所禁，今用之顧效，謂何？居士曰：藥無常性，以血藥引之則從血，以氣藥引之則從氣，佐之以熱則熱，佐之以寒則寒，在人善用之耳。況人參不特補氣，亦能補血。故曰血虛氣弱，當從長沙而用人參是也。所謂諸痛不可用參、耆者，以暴病形實者言耳。羅君年逾五十，氣血向虛矣，不用補法，氣何由行，痛何由止？經曰壯者氣行則愈是也。或者唯唯。</p>
<p>臨河程正剛，年三十餘，形瘦體弱，忽病上吐下瀉，勺水粒米不入口者七日，自分死矣。居士診脈，八至而數，曰：當仲夏而得是脈者，暑邪深入也。上吐下瀉，不納水穀，邪氣自甚也，宜以暑治焉。</p>
<p>或曰：深居高堂，暑從何入？居士曰：東垣云遠行勞倦，動而得之為傷熱；高堂大廈，靜而得之為傷暑。此正合靜而傷暑之論也。但彼用溫熱，以暑邪在表，此則暑邪已深入矣，變例而用清涼之劑可也。遂以人參白虎湯進半杯，良久再進一杯，遂覺稍安。家人皆大喜，曰：藥能起死回生，果然。三服後，減去石膏、知母，再以人參漸次加作四五錢，黃柏、陳皮、麥門冬等，隨所兼病而為佐使，一月後，平復如初。</p>
<p>程福仁，體肥色白，年近六十。痰喘聲如曳鋸，夜不能臥。居士診之，脈浮洪，六、七至，中或有一結，曰：喘病脈洪可治也。脈結者，痰凝經隧耳，宜用生脈湯加竹瀝。服之至十餘帖，稍定。患者嫌遲，更醫服三拗湯，猶以為遲，益以五拗湯，危矣。其弟曰：汪君王道醫也，奈何欲速至此？於是復以前方服至三四十帖，病果如失。</p>
<p>一婦，形肥色淡紫，年幾三十，艱於育子。居士脈之，兩尺脈皆沉微，法當補血。以形言之，肥人氣虛，亦當補氣。遂令多服八物湯，仍以補陰丸加參、耆，空腹吞之。三月餘有孕。復為診之，兩尺如舊。以理論之，孕不當有。昔人云脈難盡憑，殆此類歟。</p>
<p>侍御槐塘　景之，形肥色黑，素畏熱而好飲，年三十餘。忽病自汗如雨，四肢俱痿，且惡寒，小便短赤，大便或溏或結，飲食亦減。醫作風治，用獨活寄生湯、小續命湯，弗效。五月間，居士往視，脈沉細而數，約有七至。曰：此痿證也，丹溪云斷不可作風治。經云痿有五，皆起於肺熱。只此一句，便曉其治之法矣。經又云治痿獨取陽明。蓋陽明胃與大腸也。胃屬土，肺屬金，大腸亦屬陽金，金賴土生，土虧金失所養而不能下生腎水，水涸火盛，肺愈被傷，況胃主四肢，肺主皮毛。今病四肢不舉者，胃土虧也；自汗如雨者，肺金傷也。故治痿之法，獨取陽明而兼清肺金之熱，正合東垣清燥湯。服百帖，果愈。</p>
<p>鄭村汪鈿，長瘦體弱，病左腹痞滿。穀氣偏行於右，不能左達，飲食減，大便滯，居士診其脈，浮緩而弱，不任尋按。曰：此土虛木實也。用人參補脾，枳實泄肝，佐以芍藥引金泄木，輔以當歸和血潤燥，加厚朴、陳皮以寬脹，兼川芎、山梔以散郁。服十餘帖，稍寬。因糞結滯，思飲人乳，居士曰：只恐大便滑耳。果如言。遂辭乳媼，仍服前藥，每帖加人參四五錢。後思香燥物。曰：脾病氣結，香燥無忌也。每日因食香燥榧一二十枚，炙蒸餅十數片，以助藥力，年餘而安。</p>
<p>庠生羅君輔，年三十餘。嘗因冒寒發熱，醫用發表不愈，繼用小柴胡，熱熾汗多，遂昏昏憒憒，不知其身之所在，臥則如雲之停空，行則如風之飄毛，兼又消穀善飢，夢遺諸證。居士觀其形類肥者，曰：此內火燔灼而然，虛極矣。診其脈皆浮洪如指。曰：《脈經》云脈不為肝衰者，死，在法不治。所幸者，脈雖大，按之不鼓，形雖長，而色尚蒼，可救也。醫以外感治之，所謂虛其虛，誤矣。經云邪氣乘虛而入，宜以內傷為重。遂以參、耆、歸、術大劑，少加桂、附，服十餘帖，病減十之二三。再除桂、附加芍藥、黃芩，服十餘貼，病者始知身臥於床，足履於地，自喜曰可不死矣。服久果起。</p>
<p>槐充胡本修，監生，年逾三十。形肥色白，酒中為人折辱，遂病心恙，或持刀，或逾垣，披髮大叫。居士診之，脈濡緩而虛，按之不足，曰：此陽明虛也，宜變例以實之，庶幾可安。先有醫者，已用二陳湯加紫蘇、枳殼等藥進二三帖矣。聞居士言，即歷聲曰：吾治將瘥，誰敢奪吾功乎？居士遂告回。</p>
<p>醫投牛黃清心丸，如彈丸者三枚，初服頗快，再服躁甚，三服狂病倍發，撫膺號曰：吾熱奈何？急呼水救命，家人守醫者言，禁不與。趍樓見神前供水一盂，一呷而盡，猶未快也。復趍廚房得水一桶，滿意飲之，狂勢始減半，其不死，幸爾。</p>
<p>復請居士治之。以參、耆、甘草甘溫之藥為君，麥門冬、片黃芩甘寒之劑為臣，青皮疏肝為佐，竹瀝清痰為使，芍藥、茯苓隨其兼證而加減之，酸棗仁、生山梔因其時令而出入之。服之月餘，病遂輕。</p>
<p>然忽目系漸急，即瞀昧不知人事，良久復甦。居士曰：無妨，此氣虛未復，神志昏亂而然。令其確守前方，夜服安神丸，朝服虎潛丸，以助其藥力。年餘，熟寢一月而瘥。</p>
<p>越十餘年，因久坐□□，漸次痛延左腳及右腳，又延及左右手，不能行動。或作風治而用藥酒，或作血虛而用四物，一咽即痛，蓋覆稍熱及用針砭，痛益甚。煎服熟地黃，或吞虎潛丸，又加右齒及面痛甚。季秋，始請居士診之，脈濡緩而弱，左脈比右較小，或澀，尺脈尤弱。曰：此痿證也。彼謂痿證不痛，今以肢痛為痿，惑也。居士曰：諸痿皆起於肺熱，君善飲，則肺熱可知。經云治痿獨取陽明。陽明者，胃也。胃主四肢，豈特腳耶？痿兼濕重者，則筋緩而痿軟，兼熱多者，則筋急而作痛。因檢《橘泉翁傳》示之，始信痿亦有痛也。又，經云酒客不喜甘。熟芐味甘，而虎潛丸益之以蜜，則甘多助濕而動胃火，故右齒面痛也。遂以人參二錢，黃耆錢半，白朮、茯苓、生地黃、麥門冬各一錢，歸身八分，黃柏、知母各七分，甘草四分，煎服五帖，病除，彼遂棄藥。季冬復病，仍服前方而愈。</p>
<p>溪南吳道濟妻，年逾三十，無子。診視其脈近和，惟尺部覺洪滑耳。問得何病？曰：子宮有熱，血海不固爾。道濟曰：然。每行人道，經水則來，乃喻以丹溪大補丸，加山茱萸、白龍骨止澀之藥，以治其內，再以亂髮灰、白礬灰、黃連、五倍子為末，用指點水染入陰戶，以治其外。依法治之，果愈而孕。</p>
<p>吳傳芳妻，年逾五十。病左腳膝攣痛，不能履地，夜甚於晝，小腹亦或作痛。診其脈浮細緩弱，按之無力，尺脈尤甚，病屬血衰。遂以四物湯加牛膝、紅花、黃柏、烏藥。連進十餘帖而安。</p>
<p>吳良鼎，形瘦而蒼，年逾二十。忽病咳嗽，咯血，兼吐黑痰，醫用參、術之劑，病愈甚。居士診之，兩手寸關浮軟，兩尺獨洪而滑，此腎虛火旺而然也。遂以四物湯加黃柏、知母、白朮、陳皮、麥門冬之類。治之月餘，尺脈稍平，腎熱亦減。依前方再加人參一錢，兼服枳朮丸加人參、山梔以助其脾，六味地黃丸加黃柏以滋其腎，半年痊愈。</p>
<p>吳福孫之媳，年幾三十。因夫在外納寵，過於憂鬱，患咳嗽，甚則吐食嘔血，兼發熱、惡寒、自汗，醫用葛氏保和湯不效。居士診其脈，皆浮濡而弱，按之無力，晨則近駛，午後則緩。曰：此憂思傷脾病也。脾傷則氣結，而肺失所養，故咳嗽。家人曰：神醫也。遂用麥門冬、片黃芩以清肺，陳皮、香附以散郁，人參、黃耆、芍藥、甘草以安脾，歸身、阿膠以和血。服數帖，病稍寬。後每帖漸加人參至五六錢，月餘而愈。</p>
<p>竦塘黃崇貴，年三十餘。病水腫，面光如胞，腹大如箕，腳腫如槌，飲食減少。居士診之，脈浮緩而濡，兩尺尤弱。曰：此得之酒色，宜補腎水。家人駭曰：水勢如此，視者不曰通利，則曰滲泄，先生乃欲補之水，不益劇耶？曰：經雲水極似土，正此病也。水極者，本病也；似土者，虛象也。今用通利滲泄而治其虛象，則下多亡陰，滲泄耗腎，是愈傷其本病而增土濕之勢矣。豈知亢則害、承乃制之旨乎？遂令空腹服六味地黃丸，再以四物湯加黃柏、木通、厚朴、陳皮、參、術。煎服十餘帖，腫遂減半，三十帖痊愈。</p>
<p>侍御涇縣蕭君吉夫，年逾五十，患眩暈，溲澀、體倦、夢遺、心跳、通夜不寐，易感風寒，諸藥俱不中病。居士診之，脈或浮大，或小弱無常，曰：此虛之故也。丹溪云肥人氣虛，宜用參、耆，又云黑人氣實，不宜用之。果從形歟，抑從色歟？居士熟思之，色雖黑而氣虛，當從形治。遂以參、耆為君，白朮、茯苓、木通為臣，山梔子、酸棗仁、麥門冬為佐，陳皮、神麯為使，煎服。晨吞六味地黃丸，夜服安神丸，逾年病安。</p>
<p>休寧程勇，年三十餘。久病癇症，多發於晨盥時，或見如黃狗走前，則昏瞀仆地，手足瘛瘲，不省人事，良久乃蘇，或作痰火治而用芩連二陳湯，或作風痰治而用全蠍姜蠶壽星丸，或作痰迷心竅而用金箔鎮心丹，皆不中病。居士診之，脈皆緩弱頗弦，曰：此木火乘土之病也。夫早晨陽分，而狗陽物，黃土色，胃屬陽土，虛為木火所乘矣。經云諸脈皆屬於目，故目擊異物而病作矣。理宜實胃瀉肝而火自息。《本草》云泄其肝者，緩其中。遂以參、耆、歸、朮、陳皮、神麯、茯苓、黃芩、麥門冬、荊芥穗。煎服十餘帖，病減，再服月餘而安。</p>
<p>學士篁墩程先生，形色清癯，肌膚細白，年四十餘。患眩暈，四肢倦怠，夜寐心悸言亂，或用加減四物湯甘寒以理血，或用神聖復氣湯辛熱以理氣，又或作痰火治，或作濕熱治，俱不效。遣書請居士診之，脈皆沉細不利，心部散澀。曰：此陰脈也。脾與心必因憂思所傷，宜仿歸脾湯例加以散郁行濕之藥。先生喜曰：真切真切。服數帖，病果向安。一夕，因懊惱忽變，急請診視。脈三五不調，或數或止，先生以為怪脈，居士曰：此促脈也，無足慮焉。曰：何如而脈變若此？曰：此必怒激其火然也。先生哂曰：子真神人耶！以淡酒調木香調氣散一匕，服之，其脈即如常。</p>
<p>汊口孫以德，形肥色紫，年逾五十，頸項少陽之分，癰腫如碗。居士診之，脈浮小而滑，乃語之曰：少陽多氣少血之經，宜補。若用尋常驅熱敗毒之藥，癰潰之後難免別患。彼以為然。遂煎參、耆、歸、術膏一二斤，用茶調服無時，蓋茶能引至少陽故也。旬余，癰潰而起。</p>
<p>程貴英，形長而瘦，色白而脆，年三十餘。得奇疾，遍身淫淫循行如蟲，或從左腳腿起，漸次而上至頭，復下於右腳，自覺蟲行有聲之狀，召醫診視，多不識其為何病。居士往診，其脈浮小而濡，按之不足，兼察其形、視其色、參諸脈，知其為虛症矣。《傷寒論》云身如蟲行，汗多亡陽也。遂仿此例，而用補中益氣湯，多加參、耆，以酒炒黃柏五分佐之。服至二三十帖，遂愈。</p>
<p>孫杲，年二十餘。病咳嗽，嘔血、盜汗，或腸鳴作瀉，午後發熱。居士往視，其脈細數，無復倫次，因語之曰：《難經》云七傳者，逆經傳也。初因腎水涸竭，是腎病矣。腎邪傳之於心，故發熱而夜重；心邪傳之於肺，故咳嗽而汗泄；肺邪傳之於肝，故脅痛而氣壅；肝邪傳之於脾，故腸鳴而作泄；脾邪復傳於腎，而腎不能再受邪矣。今病兼此數者，死不出旬日之外矣。果如期而逝。</p>
<p>野山汪盛妻，年逾四十，形色蒼紫，忽病血崩，諸醫莫治。或用涼血，或用止澀，罔效。居士察其六脈，皆沉濡而緩，按之無力。以脈論之，乃氣病，非血病也，當用甘溫之劑，健脾理胃，庶幾胃氣上騰，血行經絡，無復崩矣，遂用補中益氣湯多加參、耆，兼服參苓白朮散，崩果愈。</p>
<p>汪氏子，形瘦而脆，色白而嫩，年逾二十，將治裝他出。居士診視良久，乃語之曰：某時病將至矣。書寸楮遺之，蓋欲其止也，彼不以為然。後果如期病，不起。</p>
<p>逢村王恕，年二十餘。因水中久立過勞，病疝痛。痛時腹中有磊塊，起落如滾浪，其痛尤甚。居士診其脈，皆弦細而緩，按之似澀，曰：此血病也。考之方書，疝有七，皆不宜下，所治多用溫散之藥，以氣言之，茲宜變法治之，乃用小承氣加桃仁下之，其痛如失。三日痛復作，比前加甚。脈之，輕則弦大，重則散澀。思之，莫得其說。問曾食何物？曰：食雞卵二枚而已。曰：已得之矣。令以指探喉中，吐出令盡，而痛解矣。</p>
<p>黃豹，年逾六十。病氣喘，顧謂其子曰：願得石山先生來，吾無憾矣。其子夤夜舁至，視其脈皆縈縈如蛛絲。問曰：吉凶何如？居士久之，若有難言者。彼悟曰：吾不得濟矣。是夜書訖標書五紙付其子而逝。</p>
<p>大坑方細，形瘦，年三十餘。忽病腹痛，磊塊起落如波浪然，晝輕夜重。醫用木香、沉香磨服，及服六君子湯，皆不驗。居士診其脈，浮緩弦小，重按似澀。曰：此血病也，前藥作氣治謬矣。彼謂血則有形，發時雖有塊磊，痛或則消而無跡，非氣而何？蓋不知有形者，血積也；無形者，血滯也。滯視積略輕耳，安得作氣論耶？若然，則前藥胡為不驗？遂用四物湯加三稜、蓬朮、乳香、沒藥。服之，痛遂脫然。</p>
<p>一婦，形長色紫，妊五月矣。托居士脈之，以別男女。曰：脈右大於左。《脈訣》云左大為男，右為女，今脈右大當是女耶。彼則喜曰：我男胎矣。往歲有妊時，尊甫先生診之，亦謂右脈浮大，當是女孕，後生男。今妊又得是脈，可知為男矣。後果生男。居士曰：脈書但道其常，莫能盡其變此醫所以貴乎望、聞、問、切也。</p>
<p>九江鈔廠主事鄭君希大，瘦長而色青白，性急剛果，年三十餘，病反胃，每食入良久復出，又嚼又咽，但不吐耳。或作氣治而用丁香、藿香，或作痰治而用半夏、南星，或作寒治而用姜附，藥俱罔效。居士脈之，皆緩弱稍弦。曰：非氣非痰，亦非寒也，乃肝凌脾之病。經云能合脈色，可以萬全。君面青性急，肝木甚也，脈緩而弱，脾土虛也。遂用四君子湯加陳皮、神麯，少佐姜炒黃連，以泄氣逆。服月餘而愈。</p>
<p>鈔廠陳庫子，其父老年患背癰。居士診視，脈洪緩而濡，癰腫如碗，皮肉不變，按之不甚痛，微發寒熱，乃語之曰：若在膊胛，經絡交錯、皮薄骨高之處，則難矣。今腫去胛骨下掌許，乃太陽經分，尚可治。遂用黃耆五錢，當歸、羌活、甘草節各一錢。先令以被蓋暖，藥熱服，令微汗。寢熟腫消一暈，五服遂安。時居士舟去半日，其子駕小艇載鵝米追及，拜曰：吾父更生，故來謝耳。</p>
<p>居士弟樟之妻，瘦長色蒼，年三十餘。忽病狂言，披髮倮形，不知羞惡，眾皆謂為心風。或欲飲以糞清，或欲吐以痰藥。居士診其脈，浮緩而濡，乃語之曰：此必忍飢，或勞倦傷胃而然耳。經云二陽之病發心脾，二陽者，胃與大腸也。忍飢、過勞，胃傷而火動矣，延及心脾，則心所藏之神，脾所藏之意，皆為之擾亂，失其所依歸矣，安得不狂？內傷發狂，陽明虛也，法當補之。遂用獨參湯加竹瀝，飲之而愈。</p>
<p>福州李俊，年三十餘。忽病渴熱昏悶，面赤倦怠。居士診之，脈皆浮緩而弱，兩尺尤甚，曰：此得之色欲，藥宜溫熱。其弟曰：先生之言誠是也，但病熱如此，復加熱藥，惑矣，居士曰：經云寒極生熱。此症是也。腎虛寒者，本病也；熱甚者，虛象也。譬之雷火，雨驟而火愈熾，日出火斯滅矣。遂以附子理中湯煎熱冷服，三帖熱渴減半，再服清暑益氣湯，十餘帖而安。</p>
<p>李一之，年近四十，病反食，與近鄰二人脈病頗同。居士曰：二人者，皆急於名利，惟一之心寬可治。遂以八物湯減地黃，加藿香為末，用蜜、韭汁調服而愈。二人逾年果沒。</p>
<p>一之妻，病痢瘦弱，久伏床枕，粥食入胃，即腹痛嘔吐，必吐盡所食乃止。由是粒食不下咽者，四十餘日，醫皆危之。居士診曰：病與脈應，無慮也。不勞以藥，惟宜飼以米飲，使胃常得穀氣，白露節後，病當獲安。如期果愈。</p>
<p>其侄春，年十七時，秋間病酒，視為小恙。居士診之曰：脈危矣。彼不為然，別請醫治而愈，惟遍身瘡痍。十月間，復造詣之，其侄出揖，以示病已獲安，意謂向之診視欠精也。復為診之曰：不利於春。至立春果卒。</p>
<p>汪世昌，形肥色紫，年逾三十。秋間病惡寒發熱，頭痛，自汗，噁心，咯痰，惡食，醫以瘧治。居士診之，脈浮濡而緩，右寸略弦，曰：非瘧也，此必過勞傷酒所致。飲以清暑益氣湯，四五服而愈。</p>
<p>九都許僖，形魁偉，色黑善飲，年五十餘。病衄如注，嗽喘不能伏枕，醫以四物湯加麥門冬、阿膠、桑白皮、黃柏、知母，進入愈甚。居士診之，脈大如指。《脈經》云：鼻衄失血沉細宜，設見浮大即傾危。據此，法不救，所幸者，色黑耳。脈大非熱，乃脈氣虛也。此金極似火之病，若補其肺氣之虛，則火自退矣。醫用寒涼降火之劑，是不知《素問》「亢則害，承乃制」之旨。遂用人參三錢，黃耆二錢，甘草、白朮、茯苓、陳皮、神麯、麥門冬、歸身甘溫之藥進之，一帖病減，十帖病痊。後十餘年，復診之，語其子曰：越三年，壽止矣。果驗。</p>
<p>一婦，長瘦色黃白，性躁急，年三十餘。常患墜胎，已七八見矣。居士診之，脈皆柔軟無力，兩尺雖浮而弱，不任尋按。曰：此因墜胎大多，氣血耗甚，胎無所滋養，故頻墜。譬如水涸而禾枯，土削而木倒也。況三月、五月正屬少陽火動之時，加以性躁而激發之，故墜多在三、五、七月也。宜大補湯去桂加黃柏、黃芩煎服，仍用研末蜜丸服之，庶可存全。服半年，胎果固而生二子。</p>
<p>一婦，年逾三十，久瘧。瘧止有妊五月，忽病腹痛，泄瀉，頭痛，發渴，右脈浮滑，左側細滑。居士以四君子湯加石膏、黃芩，煎服二帖，頭痛、泄瀉雖除，又加肛門脹急，其夫欲用利藥。居士曰：耐煩二日，候胃氣稍完，然後以四物湯加酒大黃、檳榔，利三四行，脹急稍寬，再服枳朮丸加黃芩、歸身，一料病去，而胎亦無損。</p>
<p>一女，年十五。病心悸，常若有人捕之，欲避而無所也。其母抱之於懷，數婢護之於外，猶恐恐然不能安寢。醫者以為病心，用安神丸、鎮心丸、四物湯不效。居士診之，脈皆細弱而緩，曰：此膽病也。用溫膽湯服之而安。</p>
<p>居士之甥汪宦，體弱色脆，常病腹痛，惡寒發熱，嘔泄倦臥，時或吐蟲，至三五日或十數日而止。或用丁沉作氣治，或用姜附作寒治，或用消克作積治，或用燥烈作痰治，罔有效者。居士診視，脈皆濡小近駛，曰：察脈觀形，乃氣虛兼鬱熱也。遂用參、耆、歸、朮、川芎、茯苓、甘草、香附、陳皮、黃芩、芍藥，服之而安。</p>
<p>或曰：諸痛不可用參、耆並酸寒之劑，今犯之何也？曰：病久屬郁，鬱則生熱。又氣屬陽，為表之衛，氣虛則表失所衛，而賊邪易入，外感激其內郁，故痛大作。今用甘溫以固表，則外邪莫襲，酸寒以清內，則鬱熱日消，病由是愈。</p>
<p>胡本清甫，形肥色紫，年逾七十。忽病瞀昧，但其目系漸急，即閤眼昏懵如瞌睡者，頭面有所觸皆不避，少頃而蘇。問之，曰：不知也。一日或發二三次，醫作風治，病加重。居士診其脈，病發之時，脈皆結止，蘇則脈如常，但浮虛耳，曰：此虛病也。蓋病發而脈結者，血少氣劣耳。蘇則氣血流通，心志皆得所養，故脈又如常也。遂以大補湯去桂，加麥門冬、陳皮，補其氣血而安。</p>
<p>三子俱邑庠生，時欲應試而懼。居士曰：三年之內，保無恙也，越此，非予所知。果驗。</p>
<p>石門陳奈，形短頗肥，色白近蒼，年逾二十。因祈雨過勞，遂病手足瘛瘲，如小兒發驚之狀，五日勺水不入口，語言艱澀。或作痰火治，或作風症治，皆不驗。居士視之，脈皆浮緩而濡，按之無力。曰：此因勞倦傷脾，土極似木之病也。經云：「亢則害，承乃制」是矣。夫五行自相制伏，平和之時，隱而不見，一有所負，則所勝者見矣。今病脾土受傷，則土中之木發而為病，四肢為之瘛瘲也。蓋脾主四肢，風主動故也。若作風痰治之，必致於死，惟宜補其脾土之虛，則肝木之風自息矣。遂以參、術為君，陳皮、甘草、歸身為臣，黃柏、麥門冬為佐。經云泄其肝者，緩其中，故用白芍為使，引金泄木，以緩其中。一服，逾宿遂起，服至十餘帖全安。</p>
<p>陳校，瘦長而脆，暑月過勞，飢飲燒酒，遂病熱汗，昏懵語亂。居士視之，脈皆浮小而緩，按之虛豁。曰：此暑傷心、勞傷脾也。蓋心藏神，脾藏意，二藏被傷，宜有此症。法宜清暑以安心，益脾以寧意。遂用八物湯加麥門冬、山梔子、陳皮，煎服十餘帖而愈。</p>
<p>竹園陳某，形瘦而蒼，年逾五十。居士診視其脈，皆弦澀而緩，尺脈浮而無根。曰：尺脈當沉而反浮，所主腎水有虧，其餘脈皆弦澀而緩者，弦脈屬木，澀為血少，緩脈屬脾。以脈論之，似系血液枯槁，而有肝木凌脾之病，非膈則噎也。問之，胸膈微有礙。曰：不久膈病成矣，病成非藥可濟。後果病膈而卒。</p>
<p>陳銳，面黑形瘦，年三十餘，患鼻衄，發熱惡寒，消穀善飢，疲倦或自汗、嘔吐。居士診之，脈細且數，約有六至。曰：丹溪論瘦黑者、鼻衄者、脈數者，參、耆皆所當禁固也，然不可執為定論。《脈經》云：數脈所主，其邪為熱，其症為虛。宜人參三錢，黃耆二錢，生甘草、陳皮、黃柏、白朮、歸身、生地黃、山梔子、生芍藥遞為佐使。服之果安。</p>
<p>南畿提學黃公，年四十餘。溲精久之，神不守舍，夢亂心跳。用清心蓮子飲無效，又取袖珍方，治小便出髓條藥服之，又服小菟絲子丸，又服四物湯加黃柏，俱無效。居士診視，一日之間，其脈或浮濡而駛，或沉弱而緩。曰：脈之不常，虛之故也。語曰無而為有，虛而為盈，難乎有恆，此之謂乎。其症初因腎水有虧，以致心火亢極乘金，木寡於畏而侮其脾，此心、脾、腎三經之病也。理以補脾為主，兼之滋腎養心，病可痊也。方用人參為君，白朮、茯神、麥門冬、酸棗仁、山梔子、生甘草為佐，蓮肉、山楂、黃柏、陳皮為使，其他牡蠣、龍骨、川芎、白芍、熟芐之類，隨其變症而出入之。且曰：必待人參加至五錢病脫。公聞言，疑信相半。服二十餘日，人參每服用至三錢，溲精覺減半矣。又月餘，人參加至五錢病全減。公大喜曰：初謂人參加至五錢，病脫，果然。醫豈神乎！凡此皆活法，非定方也。其妙如此，殆非心通造物而執其死生之柄者歟！</p>
<p>居士所著有《重集脈訣刊誤》二卷，《內經補註》若干卷，《本草會編》若干卷，惠及後學，尤為不淺，然非通儒者，敢望其門牆也哉！</p>
<p>論曰：醫之用藥，如將之用兵，苟非其人，則殺傷眾矣，悲夫！昔鄧禹常嘆曰：吾統百萬之眾，未嘗妄殺一人，後世必有興者。居士不惟不誤殺而已，且能起病之垂死者，無慮數千百人，其子孫又當何如？雖然，居士有道者，豈為是而為之者耶？</p>
<p><u>上傳借觀者眾，因不能應，故共與梓之。</u></p>
<p><u>嘉靖二年四月望日門人周臣、許忠謹識</u></p>

<h2>辨《明醫親著·忌用參耆論》</h2>
<p>按汝言王公撰次《明醫雜著》，其中有曰：若酒色過度，傷損肺腎真陰，咳嗽、吐痰、衄血、咳血、咯血等症，此皆陰血虛而陽火旺也。宜甘苦寒之藥，生血降火。若過服參、耆等甘溫之藥，則死不治。蓋甘溫助氣，氣屬陽，陽旺則陰愈消故也。又云：咳嗽見血，多是肺受熱邪、氣得熱而變為火，火盛而陰血不寧，從火上升，治宜滋陰瀉火，忌用人參等補氣之藥。又撰次《本草集要》云：人參入手太陰而能補火，故肺受火邪、咳嗽及陰虛火動、勞嗽、吐血者忌用之，誤用多致不救。予常考其所序，固皆本之丹溪。然丹溪予無間然矣，而王氏未免有可議者。</p>
<p>丹溪曰：治病必分血氣。氣病補血，雖不中病，亦無害也。血病補氣，則血愈虛散矣。此所以來王氏陽旺則陰愈消之說也。丹溪又曰：補氣用人參，然蒼黑人多服之，恐反助火邪而爍真陰。此所以又來王氏咳嗽見血，多是火盛陰虛，忌用人參補氣之論。而《集要》復有人參補火，肺受火邪、勞嗽、吐血等症忌用人參之戒也。</p>
<p>夫王氏之言雖出丹溪，但過於矯揉而又失之於偏也。不曰誤服參、耆多致不救，則曰多服參、耆死不可治，言之不足，又復申之，惟恐人以咳嗽、失血為氣虛，不作陰虛主治也。篇末雖曰「亦有氣虛咳血」之言，又恐人因此言復以咳嗽、失血為氣虛，故即繼之曰但此症不多爾。是以愈來後人之惑，使凡遇咳血，雖屬氣虛，終以前言為主，而參、耆竟莫敢用也。殊不知丹溪立法立言，活潑潑地，何嘗滯於一隅？於此固曰血病忌用參、耆，於他章則又曰虛火可補，參、朮、生甘草之類，又曰火急甚者，兼瀉兼緩，參、術亦可。是丹溪治火，亦未嘗廢人參而不用。王氏何獨但知人參補火，而不知人參能瀉火邪？丹溪又曰：陰虛喘嗽或吐紅者，四物加人參、黃柏、知母、五味、麥門冬。又曰：好色之人元氣虛，咳嗽不愈瓊玉膏，肺虛甚者人參膏。凡此皆酒色過傷肺腎。咳嗽、吐血症也，丹溪亦每用人參治之而無疑。王氏何獨畏人參如虎耶？叮嚀告戒，筆不絕書。宜乎後人印定耳目，確守不移。一遇咳嗽血症，不問人之勇怯，症之所兼，動以王氏藉口，更執其書以證，致使良工為之掣肘，病雖宜用，亦不敢用，惟求免夫病家之怨尤耳。病者亦甘心忍受苦寒之藥，縱至上吐下瀉，去死不遠，亦莫知其為藥所害。與言及此，良可悲哉！</p>
<p>茲取丹溪嘗治驗者以證之。一人咳嗽、惡寒、胸痞、口乾、心微痛，脈浮緊而數，左大於右。蓋表盛裡虛，聞其素嗜酒肉有積，後因行房涉寒，冒雨忍飢，繼以飽食。先以人參四錢，麻黃連根節錢半，與二三帖，嗽止寒除。改用厚朴、青、陳皮、瓜蔞、半夏為丸，參湯送下，二十服而痞除。夫既咳嗽嗜酒，不可謂肺無火也，復因行房感冒，不可謂陰不虛也，初服人參四錢，再用參湯送藥，不可謂不多服也，何如不死？</p>
<p>又一人患咳嗽，聲啞，用人參、橘紅各錢半，半夏曲一錢，白朮二錢，知母、瓜蔞、桔梗、地骨皮各五分，復加黃芩五分，入姜煎。仍與四物加炒柏、童便、竹瀝、薑汁，二藥晝夜相聞，服兩月聲出而愈。夫患乾咳嗽、聲啞，不可謂肺無火邪也，不可謂陰不受傷也，服人參兩月不可謂不多也，又何如不死？</p>
<p>又一壯年，因勞倦不得睡，咳痰如膿，聲不出。時春寒，醫與小青龍湯，喉中有血絲，腥氣逆上，漸有血線自口右邊出，晝夜十餘次。脈弦大散弱，左大為甚。此勞倦感寒，強以辛甘燥熱之劑動其血，不治恐成肺痿。遂以參、耆、歸、朮、芍藥、陳皮、生甘草、帶節麻黃，煎入藕汁。服二日，嗽止。去麻黃與四日，血除。但脈散未收，食少倦甚，前藥除藕汁加黃芩、砂仁、半夏，半月而愈。夫嗽痰如膿，聲不出者，不可謂肺不熱也，又以甘辛燥熱動其血，不可謂血不病也，服參、耆亦不可謂不多也，又復何如而不死？</p>
<p>凡此諸病，以王氏言之，未免皆作酒色傷陰，而用滋陰瀉火之藥。然而丹溪率以參、耆等劑治之而愈，並不見其助火增病者。蓋病有所當用，不得不用也。雖勞嗽吐紅，亦有所不避也。且古今治勞莫過於葛可久，其保真湯、獨參湯何嘗廢人參而不用？但詳其所挾之症何如耳，豈可謂其甘溫助火，一切棄而不用哉！</p>
<p>肺受火邪，忌用人參，其源又出於海藏《本草液》之所云。而丹溪實繹其義，不意流弊至於如此，又嘗因是而推廣之。</p>
<p>丹溪曰蒼黑之人多服參、耆，恐助火邪而爍真陰，肥白之人多服最好，此固然矣。考其嘗治一人，形瘦色黑，素多酒不困，年半百，有別館。一日，大惡寒發戰，言渴不飲，脈大而弱，右關稍實略數，重則澀。以王氏觀之，以形色論之，正合滋陰瀉火之法。而丹溪謂此酒熱內郁不得外泄，由表熱而虛也。用黃耆二兩，乾葛一兩，煎飲之，大汗而愈。既不以蒼黑忌用參、耆為拘，亦不以酒色傷陰忌服參、耆為禁。是知丹溪立言以示人者，法之常，施治而不以法為拘者，善應變也。王氏但知其立法之常，而未察其治不以法為拘之變。故於參、耆等劑，每每畏首畏尾，若不敢投，蓋亦未之考也。</p>
<p>《雜著》所制諸方，雖未嘗盡廢參、耆，察其用處，必須脈之細微而遲者，方始用也。然而東垣、丹溪之用參、耆，亦不專在於此。東垣曰：血虛脈大，症象白虎，誤服白虎湯者必死。乃用黃耆六錢，當歸一錢，名曰當歸補血湯，以治之。是血虛脈大，東垣亦嘗用黃耆矣。丹溪曰：一人滯下，一夕昏僕，目上視，溲注，汗泄，脈大無倫，此陰虛陽暴絕也。蓋得之病後酒色，急灸氣海，服人參數斤而愈。是陰虛脈大，丹溪亦嘗用人參矣，豈必脈之細微遲者而後用哉？</p>
<p>考之《本草》，仲景治亡血脈虛，以人參補之，取其陰生於陽，甘能生血，故血虛氣弱，仲景以人參補之。是知人參不惟補氣，亦能補血。況藥之為用又無定體，以補血佐之則補血，以補氣佐之則補氣。是以黃耆雖專補氣，以當歸引之，亦從而補血矣。故東垣用黃耆六錢，只以當歸一錢佐之，即名曰補血湯。可見黃耆功力雖大，分兩雖多，為當歸所引，不得不從之補血矣。矧人參功兼補血者耶。人參性味不過甘溫，非辛熱比也，稍以寒涼佐之，必不至助火如此之甚，雖日積溫成熱，若中病即已，亦無是也。夫芎、歸味辛甘溫，世或用治勞熱血虛之病，並無所疑。然辛主耗散，本非血虛所宜。彼人參雖甘溫，而味不辛，比之芎、歸，孰輕而孰重哉？</p>
<p>抑勞嗽吐血，陰虛之病，亦有始終不用人參，莫克全其生者，何也？或肉食不節，則古人所謂厚味厝熱也，或房勞不遠，則古人所謂縱欲傷生也。二者不謹，而獨致畏於人參，是謂不能三年之喪，而緦小功之察，何其謬耶。</p>
<p>噫！醫之用藥，固所當審，不可輕視人之死生。如咳嗽失血等症，若果脾胃強健，飲食無阻，則當從王氏所論，與之滋陰瀉火，固無不可。設或上兼嘔逆，中妨飲食，下生泄瀉，汗自泄而洗洗，惡寒，四肢倦而兀兀多睡，則又當從陰虛陽虛，權其輕重而兼治之可也。苟不知此，而專主乎王氏，未免陷於一偏而有無窮之患矣。故予不得不極論之，莫辭乎潛逾之罪焉。</p>

<h2>病用參耆論</h2>
<p>夫氣屬陽，血屬陰。陽衛於外，陰守於中。陽動陰靜，動多則發泄而外虛，靜多則神藏而內固。外虛者，邪易入，內固者，疾難攻。故曰邪氣乘虛而入，又曰邪之所湊，其氣必虛，是人之安危皆由陽氣之虛實也。</p>
<p>經曰陽精所降其人夭，陰精所奉其人壽。蓋陽主發泄，故皮膚疏豁而陽氣不藏，所以多夭；陰主收斂，故湊理閉密而陰不妄泄，所以多壽，是人之壽夭亦由陽氣之存亡也。</p>
<p>經曰無泄皮膚，使氣亟奪，又曰冬不按蹻，無擾乎陽，是聖人未常不保養其陽矣。故仲景之傷寒，東垣之脾胃，皆以陽氣為主，而參、耆為所必用之藥也。</p>
<p>或曰：參、耆補陽，經言陽常有餘，而補之，寧不犯實實之戒乎？予曰：慓悍之衛，其氣不虛，無待於補。丹溪曰此氣若虛，則一旦暴絕而死矣。茲所補者，乃榮中之衛，其氣曷常不虛？經曰勞則氣耗，悲則氣消，又曰熱傷氣，精食氣，又曰壯火食氣，非藉於補，安能營運於外而為血所使哉？參、耆之補，補此營中之氣也，補營之氣即補營也，營者，陰血也，丹溪曰人身之虛，皆陰虛者也。</p>
<p>或曰：慓悍之衛不受邪也，仲景何謂寒傷營、風傷衛乎？余曰：此亦指營中之衛也。邪之所傷，藥之所治，皆此營衛耳。</p>
<p>或曰：經言水之精氣為營，營行脈中，不能行於脈外，無分晝夜，周流不休，定息數應漏刻，屬於陰也。食之濁氣為衛，衛行脈外，不能入於脈中，晝但行陽二十五度，夜則行陰二十五度，不與營同道，不與息數應，屬於陽也。《內經》所論營衛如此，未聞營中有衛也。予曰：《內經》所論，以陰陽對待言，特舉其大者耳。細而分之，營中亦自有衛也。《易》曰陽奇陰偶，故悍衛為陽而奇，營血屬陰則兩也。</p>
<p>或曰：營中之衛亦分晝夜內外乎？余曰：無分晝夜而內外相通。營行脈中而亦行脈外，凡皮膚有傷，不待內及於經，即便血出，可見亦行於脈外矣。衛行脈外，亦行於脈中，蓋血屬陰而主靜，苟非氣貫其中，安能周流而灌溉？可見亦行於脈中矣。</p>
<p>或曰：營中有衛，有所本乎？予曰：本《靈樞》也。《靈樞》曰人受氣於谷，谷入於胃，以傳於肺，五藏六府皆以受氣，氣之清者為營，濁者為衛。營行脈中，衛行脈外，營周不休。又曰其浮氣循於經者為衛氣，其精氣行於經者為營氣。又曰營衛者，精氣也。又曰營氣衛氣皆津液之所成。是《靈樞》所言，皆營衛同一氣。營衛一氣，則營中有衛可知矣，故曰營與衛異名而同類是也。《內經》分而言之，則榮衛不同道，《靈樞》合而言之，則營衛同一氣也。</p>
<p>或曰：經言其經氣多血少，某經氣少血多，亦此營衛耶？余曰：此指各經稟受氣血多少而言，非此流行之營衛也。營衛流行，安得行至某經而血加多，行至某經而氣減少耶？然營氣衛氣皆藉水穀而生，故人絕水穀者死。經曰脾胃者，水穀之海。但脾胃受傷不一，經曰飲食傷脾，又曰勞倦傷脾，又曰憂思傷脾。與夫房勞、大怒、大驚，莫不皆傷脾與胃也。是以諸病亦多生於脾胃，此東垣所以拳拳於脾胃也。脾胃有傷，非藉甘溫之劑，烏能補哉？經曰脾胃喜溫而惡寒，參、耆味甘性溫，宜其為補脾胃之聖藥也。脾胃無傷，則水穀可入，而營衛有所資，元氣有所助，病亦不生，邪亦可除矣。故諸病兼有嘔吐泄瀉、痞滿食少、怠倦嗜臥、口淡無味、自汗體重、精神不足、懶於言語、惡風惡寒等證，皆脾胃有傷之所生也，須以參、耆為主，其他諸證，可隨證加入佐使，以兼治之。但佐使分兩不可過多於主藥耳。或者病宜參、耆，有用之而反害者，非參、耆之過，乃用者之過也。如病宜一兩，只用一錢，而佐使分兩又過於參、耆，則參、耆奪於群眾之勢，弗得以專其功矣。以此而歸咎於參、耆，寧不惑哉？或者病危，有用參、耆無益者，經曰神不使也。夫藥氣賴神氣而為助，病壞神離，雖參、耆亦無如之何矣。</p>
<p>又謂參、耆性溫，只恐積溫成熱；又謂參、耆補氣，尤恐氣旺血衰。殊不知有是病用是藥，有病則病氣當之，何至於積溫成熱、氣旺血傷乎？且參、耆性雖溫，而用芩、連以監之，則溫亦從而輕減矣。功雖補氣，而用枳、樸以制之，則補性亦從而降殺矣。虛其滯悶也，佐之以辛散；慮其助氣也，輔之以消導，則參、耆亦莫能縱恣而逞其惡矣。</p>
<p>或曰：吐血、衄血、血崩，明是血病，今見亦用參、耆，寧免血愈虛耶？東垣曰：脫血，益氣，古聖人之法也。仲景曰：陽旺則生陰。《靈樞》曰：上焦開發，宣五穀味，熏膚、充身、澤毛，若霧露之溉，是謂氣；中焦受氣取汁，變化而赤，是謂血，是能生血可知矣。且造化之理，氣惟陽能生陰，而陰不能生陽。故血虛也，仲景以人參補之；血崩也，東垣以參、耆固之。今之得醫道正傳者，其治血病，或用參、耆，蓋本於此，夫豈率意而妄用哉！</p>
<p>予幸受業於石山汪先生，見其所治之病，多用參、耆，蓋以其病已嚐遍試諸醫，歷嘗諸藥，非發散之過，則降泄之多，非傷於剛燥，則損於柔潤，胃氣之存也幾希矣。而先生最後至，不得不用參、耆以救其胃氣，實出於不得已也，非性偏也。其調元固本之機，節宣監佐之妙，又非庸輩可以測識。是以往往得收奇效全功，而人獲更生者，率多以此。或者乃謂其不問何病，而專以參、耆為劑，是不知先生也。</p>
<p>予嘗得之於觀感之餘，而心獨識之，故筆之於篇，誠恐或有所遺忘也。若以此而語之人，則必笑而且誹，謂予何愚之甚。</p>
