<header data-type="book">
<h1>片玉痘疹</h1>
</header>

<h1>卷之一</h1>

<h2>痘疹碎金賦</h2>
<p>痘本胎毒，俗曰天瘡。傳染由於外感，輕重過於內傷。初起太陽，壬水克乎丙火；後歸陽明，血水化為膿漿。所喜者，紅活滋潤；可畏者，黑陷干黃。勢若燒眉，變如反掌。皮膚臭爛，氣血郎當。若救焚兮，徙薪何如焦額；似拯溺兮，落井不及寬裳。原夫一元肇化，二索成祥。欲火動而妄作，胎火熾而流殃。啼聲驟發，穢毒深藏。命門養火，胞戶收鋩。待四時之疫癘，動五臟之皮囊。營氣逆於肉理，惡血發於膀胱。二火相煽，四大成瘡。毒之輕者發則微，貴乎調養；毒之重者發則密，急於提防。至若運氣推遷，有於勝復升降；時令乖異，無非寒熱溫涼。苟陰陽之逆理，為氣候之反常。五行鬱而災見，九曜窒而變章。癘氣流行，不論郡邑鄉黨；惡毒傳染，豈分黎庶侯王。此則不行於診，貴在能制其亢。先事解散兮，十全八九；臨時區處兮，算為尋常。</p>
<p>大抵氣運先歲，痘疹屬陽。春夏為順兮，樂其生長；秋冬為逆兮，惡其收藏。暴寒兮，恐邪毒之郁遏；暴熱兮，慮腠理之開張。膿泡春而莫療，黑陷夏以為殃。秋斑實惡，冬疹非祥。此逆四時之令，休誇三世之方。知其凶而治之，自求怨謗；明其吉而往也，得號醫良。</p>
<p>且如證候殊形，臟腑異狀。肝主淚而水泡，肺主涕而膿漿。心斑紅豔，脾主赤黃。惟腎經之無病，變為黑而可妨。所以觀乎外症，因而辨其內臟。呵欠煩悶兮，肝木之因；咳嗽噴嚏兮，肺金之相。手足冷而昏睡兮，脾土困於中央；面目赤而驚悸兮，心火炎於膈上。耳骩屬腎，溫暖如常。二處灼熱兮，下極火旺而必斃。四肢厥冷兮，中州土敗而須亡。</p>
<p>先分部位，次察災祥。陽明布於面中，太陽行於頭上。心肺居胸膈之內，肝膽主脅肋之旁。手足司於脾胃，腰背統於膀胱。初證分明，用心想像。泄瀉者邪甚於下，嘔吐者邪甚於上。氣逆而腹痛隱隱，毒深而腰痛皇皇。心熱甚而驚搐，胃邪實而顛狂。鼻燥咽乾，肺受火邪而液竭；屎硬尿澀，腎因火旺而精亡。氣弱少食者，不任其毒；神強能食者，不失其常。</p>
<p>欲決輕重，但觀發熱；如占順逆，須認其瘡。毒甚兮，身如炎火；熱微兮，體或清涼。若寒熱之來往，定徵兆之佳祥。數番施出兮，春回寒谷；一齊湧出兮，火烈坤岡。蚊跡蚤斑，刻期而為鬼錄；蛇皮蠶殼，引日而邁泉鄉。不喜硃紅，更嫌灰白；最宜蒼臘，切忌紫黃。常要明潤兮，恐嫩薄之易破；不宜乾枯兮，又瘙癢之難當。惡候形現，上工審詳。面頰稀而磊落，清安可保；胸膈密而連串，吉凶難量。頂要尖圓，不宜平陷；漿宜飽滿，卻忌空虛。顏色喜老而愁嫩，皮膚愛糙而怕光。焰起根窠，終防癢塌；丹浮皮肉，心主夭傷。頭面預腫兮，三陽亢甚；手足厥發兮，五臟摧傷。瘡堆喉舌，毒纏頸項。咽喉痛而呼吸則難，飲食少而吞吐則嗆。此天命之安排，豈人力之倚仗。</p>
<p>煩躁悶亂兮，七神離散；譫語眩冒兮，五毒猖狂。鼓頷戰慄兮肺敗，咬牙口噤兮腎強。渴不住兮焦膈，泄不止兮腸滑。失聲兮咽爛，吼氣兮腹脹。晝夜爬搔兮，將榮衛之外脫；乳食斷絕兮，必胃氣之中傷。腫忽消，毒歸於里；色反黑，疔起於瘡。食谷則噦兮，在人之壽夭；飲水則噴兮，較醫之短長。</p>
<p>輕重反復，調理乖張。輕變重而可畏，重變輕而莫慌。風寒素謹，飲食如常。出入禁乎男女，蓋覆適其溫涼。內無妄動，治不乖方。此則變輕之候，實為保命之良。若當犯乎禁忌，或誤投乎丸湯。徒自肆其房室，不知順其陰陽。外感不正之氣，內傷不時之糧。平人且病，患者敢當？是以順則逆而逆則險，宜乎輕者重而重則亡。</p>
<p>發自肺經，相連脾臟。氣熱味辛，燥金受克；形寒飲冷，華蓋先傷。浩飲則水來侮土而成泄痢，過食則脾不消穀而作痞脹。皮毛虧損，肌肉虛尪。起發遲而不胖壯，收靨緩而反作膿瘡。輕則綿延乎時日，重則泣送於郊邙。如何愚夫之不曉，致生命之早亡。不信醫而禱諸神鬼，枉殺牲而號乎穹蒼。</p>
<p>藥貴中病，醫不執方。喜行溫補者，動稱乎文中；專用涼解者，祖述乎仲陽。貴於因人而治，毋虛虛，毋實實；相時而行，必遠熱，必遠涼。正氣為先，戒開門延寇；解毒為急，休視虎如狼。首尾不可汗下，治之要略；緩急各有權宜，法之經常。執其繩墨者，如守株之待兔；惑於方書者，似多歧之亡羊。</p>
<p>且如紅焮紫腫兮，涼血為上；灰白平陷兮，補血最良。出不快兮，貴表實而發散可用；便或秘兮，貴裡實而疏利何妨。毒不能速解，毒甚者，令微汗之散越；熱不以盡除，熱劇者，使小便之清長。三陰多寒兮，必投辛熱；三陽多熱兮，無過苦涼。安可惡寒而喜熱，莫知貴陰而賤陽。</p>
<p>是故補氣者，參耆白朮；養血者，歸芍地黃。發散表邪，輕葛根而重官桂；疏通里實，微枳殼而甚大黃。解毒兮芩連梔子；快斑兮，荊防牛蒡。連翹瘡中之要領，甘草藥中之君王。咽痛求諸甘桔，頭腫取夫防羌。木通利其小水，人屎攻其黑瘡。氣逆兮青皮陳皮，胃寒兮丁香木香。泄瀉莫如訶蔻，嘔吐陳皮煨姜。麥冬乾葛而止渴，厚朴腹皮而消脹。五味杏仁，傷風者以之定喘；山楂枳實，善食者用之為良。上工司命，推測隱之仁心；神物效靈，起沉疴如反掌。</p>
<p>其諸藥物，各有主張。春夏桂枝而少服，秋冬芩連而莫嘗。瘡若干枯，白朮非宜用之品；色如紅豔，黃耆豈收功之良。裡虛少食者，勿投枳實；表實多毒者，休使生薑。汗自出兮，用乾葛重虛其表；溺自數兮，加木通再虧其陽。泄瀉酸臭兮，訶蔻不可遽止；嘔吐清冷兮，連梔安得作湯。凡用芩連，必資炒制；如加丁桂，須假寒涼。應制伏而不誅無過，保平和而延壽無疆。</p>
<p>大勢若平，餘邪須講。熱毒流肝兮，雙睛生翳；火邪入脾兮，四肢成瘍。口內生瘡兮，爛齦破舌；腹中作痢兮，腐胃敗腸。皮膚嫩而洗浴太早，因以添熱；臟腑虛而肥甘太過，遂致內傷。若中風寒，多為咳嗽；如時撏掐，灌成膿瘡。雖多異證，亦有奇方。望月砂退翳有準，穿山甲排毒無雙。枳實麥芽山楂子，消宿食而克化；大黃柴葛地骨皮，解餘熱以清涼。咳嗽以款冬花又用杏仁，痢疾以黃連再同木香。苦參主乎熱毒，溺白治其疳瘡。用之合宜，工可謂良。</p>
<p>嗟夫！罹此證候，病勢非常。外纏皮肉，內連腑臟。改換形容，如蛇脫皮、龍退骨；淋漓膿血，若蚓在灰、鱔在湯。軒岐置而未言，秦漢棄而無方。古無此證，或云起於建武；今有是疾，相傳得於南陽。拘於日數者，不知輕重之病；執其偏見者，未察虛實之龐。本溫再熱，已寒又涼。徒自膠而不變，反斯民而見殃。泄骨髓之真詮，非子孫而不示；受肺腑之秘的，牢記誦而莫忘。</p>
<p>痘名天瘡，疹呼麻子。喜紅活以為宜，見黑陷而可忌。痘出肺脾，疹連心肺。隨時令之寒暄，禁汗下於首尾。吉者，飲食如常而清涼自調；凶者，飲食反常而閉澀不利。咽喉切怕鎖纏，面目不宜稠密。汗自出兮，火從汗散；溺自出兮，毒從溺出。疹愛清涼痘愛溫，愚夫之言；虛則補而實則瀉，茲聖人之大意。</p>
<p>竊謂痘瘡，尤為難治，視寒熱於天時，分勇怯於人事。發散兮以升麻參蘇，調理兮以參耆歸術。出太甚者消毒，色灰白者益氣。焮腫秘結者黃連可投，癢塌吐泄者木香堪取。解毒兮梔子芩連，溫中兮丁香官桂。務在消詳，不可急遽。此先祖之秘傳，宜子孫之愛惜。</p>

<h1>卷之二</h1>

<h2>痘疹西江月</h2>
<p>痘疹毒從何起，母胎火毒流傳，生來穢物下喉咽，藏在命門裡面。一旦天行時氣，感令相火熬煎，毒從骨髓見皮間，彼此一般傳染。</p>
<p>五臟各有形症，認時須要分明，往來潮熱睡脾經，呵欠煩悶肝症。咳嗽噴嚏受肺，面紅驚悸屬心，惟腎清淨忌邪侵，手足耳尻俱冷。</p>
<p>五臟各有一症，其間治法難同，肝為水泡肺為膿，大小瘡形異種。脾症發為疹子，心經現作斑紅，腎為黑陷病多凶，縱有靈丹何用？</p>
<p>痘疹要知順逆，天時人事相隨，大端陽火是根基，若遇陰寒不喜。春夏順而多吉，秋冬逆以何宜，如逢稠密必凶危，稀少輕為平易。</p>
<p>治法而今不定，清涼溫補分明，各持一見論紛紛，且曰予為神聖。解毒喜行涼泄，補中愛使辛溫，不明時令與元神，枉自捕風捉影。</p>
<p>假使天時暄熱，辛溫助為災殃，嚴凝涼解雪加霜，病者如何抵當。勇實再行溫補，羸虛又使寒涼，虛虛實實伐元陽，好似隔鞋爬癢。</p>
<p>看取時行疫癘，天時熱氣炎炎，精神肥健又能飧，解毒清涼甚便。若是風寒太甚，虛羸吐泄連綿，此宜溫補法為先，又在醫人活變。</p>
<p>痘疹要知輕重，吉凶順逆精通，毒輕瘡少順家風，湯藥不宜妄用。瘡密毒重為逆，皮膚寸寸成膿，此般形證例多凶，仔細扶持休縱。</p>
<p>輕者三四次出，頭面胸背稀疏，小便清利大便稠，飲食如常充足。重者遍身齊出，狀如麻子麥麩，咽痛泄瀉悶愁愁，飲食不思可惡。</p>
<p>輕者不須服藥，重者吉凶難明，出時紅點密如蚊，密似針頭血浸。頭面預先浮腫，皮膚黑燥黃昏，四肢逆冷啞無聲，悶亂凶而死症。</p>
<p>多有先輕後重，只因觸犯風寒，房事不避臭腥傳，縱口只思生冷。閒雜人帶穢物，諸般禽獸臊羶，庸醫術淺誤湯丸，反使痘瘡改變。</p>
<p>重者變輕何以，常常和暖衣衾，房中謹密少人行，飲食如常添進。未見誤投湯藥，不曾妄啖酸腥，此為人事奪天靈，安可歸於有命。</p>
<p>要識痘瘡死症，無過五證分明，紫黑喘渴悶何寧，癢塌咬牙寒噤。灰白頂隱腹脹，皮嫩易破成坑，泄瀉氣促見鬼神，聲啞頭面足冷。</p>
<p>既識五般死症，其間吉病如何，瘡頭飽滿作膿窠，任是推磨不破。四畔根兒紅活，安眠靜睡平和，光壯收靨不蹉跎，管取介疾勿藥。</p>
<p>黑陷乾枯腎敗，咬牙寒戰肝傷，失聲喘氣肺即當，泄瀉脾虛腹脹。癢塌悶亂心死，狂言見鬼神亡，皮嫩易破氣無陽，血便陰崩模樣。</p>
<p>首尾不可汗下，汗時腠理開張，風寒易入透斑瘡，收靨不齊火旺。誤下必犯脾胃，無事自取內傷，泄瀉黑陷致傾亡，枉死魂靈飄蕩。</p>
<p>大抵痘瘡未出，先須升葛參蘇，如斯不出汗令疏，紅點見時藥阻。大便若還秘結，輕輕四順相扶，假饒自利莫糊塗，只與閻羅掌簿。</p>
<p>調痘無過二法，補中解毒兼行，補中參朮草耆苓，枳殼山楂有應。解毒芩連梔柏，連翹枳實防荊，芎歸養血妙如神，加減消詳前定。</p>
<p>氣血要分虛實，但於瘡色推求，紅焮紫腫血實由，四物內加解毒。灰白中陷氣弱，四君子是良謀，略加解毒藥相扶，莫使丁香桂附。</p>
<p>但是痘瘡初出，如逢熱甚昏沉，解毒發散藥先行，莫待臨渴掘井。桔梗升麻乾葛，連翹甘草黃芩，牛蒡梔子木通荊，蟬退防風作引。</p>
<p>若是如常潮熱，只須乾葛升麻，芩連甘草赤芍加，惡實連翹無價。或用參蘇飲子，青皮木香內加，煎來一服勝靈砂，痘見表疏才罷。</p>
<p>初出多生驚搐，急將導赤疏通，木通甘草與防風，生地黃連同用。再著辰砂調服，須臾救醒朦朧，此方端的有神功，管取百發百中。</p>
<p>壯熱不曾出現，大便秘結難通，癲狂唇裂眼珠紅，此症凶危堪痛。急與芩連梔柏，大黃酒炒疏中，連翹惡實與木通，貫眾射干俱用。</p>
<p>自此出而稠密，認他虛實調醫，虛家泄瀉色如灰，大補煨姜堪取。若是腫焮紅綻，芩連梔柏芎歸，翹蒡升葛桔草倚，此個真機秘的。</p>
<p>色似塗朱滿肉，瘡如蚊蚤傷痕，不消三日喪黃泉，切莫再行丸散。若被父母逼勒，要伊死中求生，但將四物入芩連，翹惡甘梔桔梗。</p>
<p>灰白不能起發，又加泄瀉頻頻，溫中妙藥不宜停，急急扶危濟困。當歸黃芩白朮，甘草乾姜人參，木香訶子及青陳，官桂丁香靈應。</p>
<p>毒甚常生咽痛，可憐飲食難嘗，甘桔射干與牛蒡，連翹升麻穩當。若是痘堆頸項，此名鎖項恓惶，一朝惆悵命將亡，變作喑啞水嗆。</p>
<p>起髮狀如蠶殼，乾枯不見水漿，此名血渴毒歸臟，不治必然命喪。當歸地黃養血，參耆甘草溫良，連翹牛蒡與木香，桔梗青皮發旺。</p>
<p>起發常將捻視，切防黑陷來攻，若見黑陷現其中，藥點許多妙用。豌豆七粒燒過，亂髮火煅和同，珍珠水浸胭脂紅，針破搽時脹腫。</p>
<p>藥點轉加黑陷，喪門弔客匆匆，百祥牛李及宣風，總是脫空賣弄。不如人貓豬犬，各燒存性和同，木香湯引妙無窮，萬兩黃金何用。</p>
<p>起發若生瘙癢，此於癢塌差殊，傷寒身癢症相宜，血蟲瘡窠不愈。宜用疏風涼血，荊防翹惡芎歸，生黃乾葛木通宜，竹葉引煎癢住。</p>
<p>大抵痘宜脹痛，不宜虛癢顛連，只因飲水冷邪干，心火克而悶亂。外用茵陳艾炬，內服參朮調元，若還癢止就回生，又怕抓傷正面。</p>
<p>何以正面怕癢，內含五臟精華，假如破損實堪嗟，氣散魂飛魄罷。尤忌先傷正額，心經火帶虛邪，幾番試驗不移差，教與兒孫體察。</p>
<p>人相火居正額，出現胖靨休先，果然額上露其端，記取快依死斷。最喜兩頤口鼻，始終都在其間，任是稠密勢纏綿，到底終無傾險。</p>
<p>起發成漿欲靨，忽然泄瀉來攻，此時脾胃不宜空，變出百端可痛。多是內傷飲食，只求藥有神功，若還消腫泄淋膿，父母抓魂泣送。</p>
<p>先用人參白朮，黃耆炙草煨姜，茯苓訶子及木香，大劑切來溫養。不效次求豆蔻，木香陳皮良方，三番只有異功良，此是盡頭模樣。</p>
<p>記取成漿欲靨，最防厭穢風寒，大黃蒼朮共燒煙，可解一切穢厭。內服調元飲子，黃耆甘草人參，當歸蒼朮酒芩連，莫犯荊防發散。</p>
<p>到得成漿痘熟，依時都要成痂，若還腐爛臭腥加，此是表虛堪訝。急進參耆歸術，荊防蒼葛升麻，連翹惡實密蒙花，休得弄真成假。</p>
<p>若是痘瘡熟爛，皮破膿血淋漓，內服歸術與參耆，惡實連翹官桂。外用多年敗草，曬乾研細成灰，鋪開床蓆任施為，最解火邪毒氣。</p>
<p>痘熟不能收較，反行破損成瘡，一時焦痛甚難當，請問如何開放。但取甘草滑石，辰砂真粉清涼，蜜調塗上便安康，此法不留書上。</p>
<p>有等痘瘡正氣，緣何日久難收，請君仔細問根由，不可臨時差謬。或是曾傷冷水，或因秘結熱留，此般治法各推求，不枉秘傳妙手。</p>
<p>果是曾傷冷水，濕傷脾胃中虛，脾主肌肉待何如，怪抵血膿流注。可用參耆蒼白，青陳甘茯無拘，丁香官桂照方書，救里收表妙處。</p>
<p>如是大便秘結，三朝一七未通，此為熱氣內蒸烘，因此毒難開縱。內服歸黃麻子，大黃略加相攻，再行膽導妙無窮，管取成痂去壅。</p>
<p>收後許多餘證，醫人各要分明，毒流肝臟目生疔，翳障瞳人隱隱。毒入肺脾癰腫，責歸手足太陰，內傷外感一時辰，變出各般怪證。</p>
<p>兩目急然腫痛，痘家毒入肝經，輕為浮翳掩瞳人，重則終身廢病。去翳菊花蟬蛻，蒙花蒺藜穀精，各為細末共和勻，另用豬肝作引。</p>
<p>癰毒發於肢節，常常膿血不幹，不知調理早求安，廢疾終身為患。內服千金托裡，外塗萬病金丹，排膿長肉未為難，任是千金不換。</p>
<p>痘後不宜洗澡，痘疤皮嫩易傷，不如禁忌受寒涼，遍體熱生痛僵。此因傷寒勞後，不宜官桂麻黃，只用九味羌活湯，又以補中調養。</p>
<p>痘後或傷飲食，致令腹痛難任，不宜轉下損脾經，消導方為對證。白朮人參枳實，黃連曲麥青陳，山楂白茯與砂仁，積化腹疼俱定。</p>
<p>痘爛不齊收靨，正面灌痛流膿，急防兩目毒來攻，解毒清涼好用。酒炒芩連梔柏，連翹蟬蛻木通，升麻蒡子苦參同，細研酒丸酒送。</p>
<p>大凡痘瘡一證，名為百歲聖瘡，如龍退骨換心腸，又似蟬蛻殼樣。出現光壯收靨，落痂顏色相當，不宜黑色在中央，犯著實為魔障。</p>
<p>痘瘡終始日子，難以定日為言，俗人不達妙中玄，專把日期來算。人有勇實虛怯，毒分疏密淺深，密深虛怯定綿延，勇實淺疏日短。</p>
<p>痘瘡若難捉摸，假如用藥如何，常行參朮歸芎多，甘草黃耆白芍。枳殼木通黏子，連翹桔梗相和，青皮木香茯苓訶，調理陰陽不錯。</p>
<p>痘瘡若見血證，或從口鼻長流，從口出者勢多凶，從鼻出者可救。藥用當歸芍藥，川芎生地升麻，姜炒黃連入內加，服訖血止不怕。</p>
<p>大便若下血餅，痘色灰黑其形，六脈浮洪氣紛紛，定是臟腑熱蘊。白朮豬苓澤瀉，更兼肉桂赤苓，生地加入內中存，一服血止為幸。</p>
<p>痘瘡雖已泛漲，若見膿不貫充，此為氣血內虛空，大補湯宜急用。當歸川芎白芍，地黃人參相同，肉桂白朮茯苓從，甘草黃耆炙用。</p>
<p>出痘要知吉凶，須將部位消詳，如從腮頰及成漿，口唇鼻邊先放。此者當為吉論，其他正額堪防，天庭方廣兩眉眶，切忌如丹模樣。</p>

<h1>卷之三</h1>

<h2>痘瘡始終驗方</h2>
<p>新著。</p>
<p>一、凡痘瘡發熱作渴者，乃火邪甚也。用：</p>
<p><u>人參麥冬散</u></p>
<p>人參　麥冬　乾葛　甘草　烏梅　天花粉　歸尾　生地　知母　小木通</p>
<p>如火太甚者，去人參加黃連（酒炒）、連翹、桔梗、牛蒡子（酒炒），打細（同煎）。</p>
<p>水竹葉七皮為引，水煎服。</p>
<p>—凡痘瘡發熱惡寒咳嗽者，因外感也。用：</p>
<p><u>參蘇飲</u></p>
<p>人參　半夏　蘇葉　陳皮　赤茯苓　甘草　枳殼　乾葛　前胡　柴胡　香附　山楂</p>
<p>生薑三片為引，水煎服。</p>
<p>—凡痘瘡發熱發驚者，乃心肝二經之火甚也。《全書》云：驚痘不須憂，此吉兆也。用：</p>
<p><u>辰砂導赤散</u></p>
<p>生地　木通　甘草　辰砂　滑石　黃連</p>
<p>水竹葉、燈心引，水煎服。</p>
<p>服此藥驚不退者，用：</p>
<p><u>瀉青散</u></p>
<p>防風　當歸　川芎　膽草　梔子　羌活　小甘草　（加）滑石</p>
<p>大便秘結者加大黃、竹葉。</p>
<p>燈心引，水煎服。</p>
<p>—凡痘瘡發熱腹痛者，或吐或泄，或吐酸臭兼食積者，用：</p>
<p><u>香砂平胃散</u></p>
<p>木香　砂仁　蒼朮　厚朴　陳皮　黃芩（酒炒）　甘草　山楂　麥芽　香附　神麯（炒）　黃連（酒炒）　白芍　藿香葉</p>
<p>煨姜三片為引，水煎，空心服。</p>
<p>—凡痘瘡發熱，唇焦作渴，此火邪內甚也。用：</p>
<p><u>涼膈散</u></p>
<p>黃芩　黃連　梔子　黃柏（酒炒）　連翹　薄荷葉　桔梗　枳殼　麥冬　山楂　天花粉　小木通　生地　大力子（酒炒）　小甘草</p>
<p>水竹葉、燈心為引，水煎，熱服。</p>
<p>—凡痘瘡發熱，人事昏沉，狂言妄語，大便結，小便赤，或腹痛咽痛者，毒火內甚也。用：</p>
<p><u>黃連解毒涼膈散</u></p>
<p>同前方，加大黃（酒炒，煨）、枳實（麩炒）、山楂，微利之。燈心為引，水煎服。</p>
<p>—凡痘發熱作渴，時時飲水，面赤唇焦，乃火邪內甚也。看大小便何如，如大便結小便澀者，用：</p>
<p><u>加減四順飲</u></p>
<p>歸梢　枳殼　木通　大黃（酒炒）　生地　紫草茸　麥冬　乾葛　滑石　連翹　天花粉　薄荷葉</p>
<p>竹葉、燈心引，熱服。</p>
<p>—凡痘發熱作渴，時時飲水，面赤唇焦，此火邪內甚也。若二便如常，用：</p>
<p><u>麥冬散</u></p>
<p>麥冬　乾葛　小甘草　山楂　黃連（酒炒）　天花粉　生地</p>
<p>如氣虛有汗，加人參、薄荷葉。竹葉、燈心引。</p>
<p>—凡痘瘡發熱咽痛者，乃毒火內甚上攻。如咽喉作痛，引水難吞者，用：</p>
<p><u>黃連涼膈甘桔解毒湯</u></p>
<p>小甘草　桔梗（米泔水洗）　黃連　黃芩　梔子　黃柏　連翹　薄荷葉　麥冬　大力子（酒炒）　升麻　山豆根</p>
<p>如火甚加石膏（燒過）二分、知母。</p>
<p>竹葉、燈心引，水煎。</p>
<p>—凡痘發熱腰痛者，乃危證也，腰痛腎所主也。用：</p>
<p><u>人參敗毒散</u>　服藥效者吉，不效者凶。</p>
<p>人參　羌活　獨活　前胡　柴胡　茯苓　甘草　桔梗　川芎　加升麻　乾葛　牛蒡子　赤芍　連翹　山楂肉</p>
<p>—凡痘發熱，頭面先腫者，名大頭風，急用：</p>
<p><u>雙解散</u>（即防風通聖散）</p>
<p>防風　荊芥穗　連翹　甘草　桔梗　黃芩（酒炒）　赤芍　薄荷葉　歸尾　麻黃　川芎　白朮　滑石　石膏（燒過）　（加）牛蒡子　天花粉</p>
<p>如大便不通，唇裂作渴者，加大黃（酒蒸）、芒硝、枳實（麩炒）、紫草茸、小木通，去白朮。</p>
<p>桃仁（去皮尖）為引，水煎，熱服。</p>
<p>—凡痘瘡如常潮熱，時熱時退，不渴，二便如常，飲食如常，三日熱退痘出，此順痘也，輕者不須服藥，間有潮熱未退者，只用升麻葛根湯加減治之。</p>
<p>升麻　乾葛　赤芍　甘草　生地　天花粉　木通　桔梗　麥冬　連翹　牛蒡子　薄荷葉　山楂</p>
<p>如熱甚者，加酒炒黃連。</p>
<p>竹葉、燈心引。</p>
<p>—凡痘發熱，小便不通者，膀胱有熱也。用：</p>
<p><u>八正散</u></p>
<p>大黃（酒炒）　滑石　小甘草　赤芍　瞿麥　車前子　木通　赤茯苓　萹蓄</p>
<p>燈心，水竹葉引，水煎，熱服。</p>
<p>如人事虛者，去大黃，加澤瀉、白朮、豬苓。</p>
<p>—凡痘瘡現形、夾疹、夾斑者，用：</p>
<p><u>快斑化毒湯</u></p>
<p>知母　石膏（燒過）　小甘草　玄參　連翹　牛蒡子　升麻　乾葛　赤芍　天花粉　荊芥</p>
<p>如腹痛，加枳實、木香、青皮、山楂肉、白芍。</p>
<p>如泄，加酒炒黃芩、白芍、白朮、茯苓、滑石。</p>
<p>如渴，加麥冬、知母、烏梅。</p>
<p>如痘太薄嫩者，加防風、荊芥、歸梢、赤芍、生地、牛蒡、紫草茸、連翹、山楂肉。</p>
<p>如痘太紫者，氣實血熱也，加歸梢、赤芍、生地、紫草茸、防風、荊芥、連翹、桔梗、牛蒡子、黃連（酒炒）、蟬蛻（酒炒）。</p>
<p>如痘出內有焦頭帶黑陷者，加防風、荊芥、紫草茸、歸梢、赤芍、生地、麥冬、蟬蛻（酒炒）、麻黃（酒炒）二分、天花粉，同無價散量人大小治之。</p>
<p>—凡痘出形三日，依期起發，紅活光壯者，不須妄治服藥。</p>
<p>—凡起發頂尖四圍乾枯無水色者，乃氣實血虛也，氣至而血不至，則當補血瀉火，用：</p>
<p><u>加減四物湯</u></p>
<p>當歸　白芍　川芎　生地　麥冬　紫草茸　防風　白芷　連翹　桔梗　甘草　牛蒡子　（加）黃耆</p>
<p>—凡起發四圍紅活有水色者，中心頂陷不起者，乃血實氣虛也，血至而氣不至，則當補氣，用：</p>
<p><u>保元湯</u></p>
<p>黃耆　人參　甘草　防風　白芷　牛蒡子　木香　青皮　薄桂　當歸　生地　麥冬　桔梗　連翹</p>
<p>大棗、蓮肉、糯米為引，水煎，空心服。</p>
<p>—凡痘瘡四圍紅活，當起不起，頂陷四圍無水色，或灰白色，乃氣血俱虛也。用：</p>
<p><u>十全大補湯</u></p>
<p>人參　白朮　白茯苓　甘草　當歸　紫草茸　川芎　白芍　生地　肉桂　黃耆　麥冬　防風　白芷　連翹</p>
<p>大棗、蓮肉引，水煎，調四聖散，空心溫服。</p>
<p>—凡起發頂焦，四圍乾枯無水色，乃火甚血不足也，則當涼血解毒托裡，用：</p>
<p><u>加減四物湯</u></p>
<p>當歸　川芎　赤芍　生地　麥冬　天花粉　連翹　黃連（酒炒）　白芷　蟬蛻（酒炒）　黃耆　紫草茸　防風　牛蒡子　甘草（炙）</p>
<p>水煎，調四聖散服。</p>
<p>—凡痘瘡光壯，中虛作泄者，裡虛也。用：</p>
<p><u>四君子湯</u></p>
<p>人參　白朮　陳皮　甘草（炙）　滑石　澤瀉　白茯苓　車前　白芍（酒炒）</p>
<p>如火甚當解不解，加黃芩（酒炒）、黃連（酒炒）。</p>
<p>—凡光壯而色灰白，裡虛作泄，無後重者，此元氣下陷也。用：</p>
<p><u>錢氏異功散</u></p>
<p>人參　白朮　白茯苓　甘草（炙）　陳皮　蓮肉　山藥　木香　青皮　訶子（麵包火煨，取肉）　澤瀉　升麻　車前（炒）</p>
<p>如泄而作渴，加乾葛、麥冬、天花粉、烏梅。</p>
<p>大棗、糯米、蓮肉引，水煎，空心服。</p>
<p>如服此藥，寒甚而泄不止者，加炒乾薑、丁香。</p>
<p>—凡痘光壯養漿而時常作渴者，乃津液不足也。用：</p>
<p><u>人參麥冬散</u></p>
<p>人參　麥冬　乾葛　甘草　天花粉　烏梅</p>
<p>水煎服。</p>
<p>—凡收靨時時作渴，泄瀉者，用：</p>
<p><u>白朮散</u></p>
<p>人參　白朮　白茯苓　甘草　木香　天花粉　乾葛　藿香　麥冬　白芍　蓮肉</p>
<p>薑、棗為引，水煎服。</p>
<p>如虛寒甚者，加炒乾薑、訶子肉、烏梅。</p>
<p>—凡起發光壯，收靨咽痛者，用：</p>
<p><u>甘桔湯加減</u></p>
<p>甘草　桔梗　大力子　天花粉　山豆根　麥冬</p>
<p>水竹葉、燈心引。</p>
<p>—凡收靨腹痛，屎臭泄瀉者，兼有食積也。用：</p>
<p><u>香砂平胃散</u></p>
<p>木香　砂仁　蒼朮　厚朴　白茯苓　山楂肉　陳皮　甘草（炙）　麥芽　白朮　人參</p>
<p>薑棗引，水煎，空心服。</p>
<p>如積甚，裡急後重，兼赤白者，用：</p>
<p><u>香連丸</u>　同保和丸調治。</p>
<p>木香　黃連（五錢，用吳茱萸同炒，去茱萸用連）　石蓮子肉（三錢）</p>
<p>共為末，醋糊為丸。</p>
<p>—凡收靨泄下膿血者，毒從內收，乃倒陷也，膿血儘自愈，不須服藥。</p>
<p>泄痢頻頻見膿血，此是大腸多蘊熱，莫將倒靨一般論，只宜解毒不宜澀。</p>
<p>如痘後便膿血者，此熱入大腸也。宜用四物湯加黃連（酒炒）、黃芩（酒炒）、枳殼、荊芥穗，或用黃連解毒湯加生地，切勿作倒靨及用劫澀之藥。</p>
<p>—痘瘡光壯，漿水不滿，收時發毒者，若發一二處毒為順，不須憂疑；若毒發四五處或六七處者，乃毒氣太甚，用：</p>
<p><u>聞氏異功拔毒千金托裡散</u></p>
<p>人參　芩連梔柏（酒炒）　貝母　生地　連翹　防風　白芷　天花粉　甘草節　羌活　南星　陳皮　赤芍　木通節　金銀花　歸尾　山楂　黃耆　川山甲　川續斷　荊芥穗　天丁（炮過，三錢）　川松節（三錢）　乳香（二分）　沒藥（二分）</p>
<p>研末，化服。</p>
<p>—凡痘當收不收，連綿日久，收靨不齊者，用：</p>
<p><u>大補湯加減</u></p>
<p>人參　黃耆　白朮　白芷梢　歸身　肉桂　白芍　澤瀉　滑石　小木通　白茯苓　防風</p>
<p>大棗三枚為引。</p>

<h1>卷之四</h1>

<h2>痘瘡始終歌方</h2>
<p>新著</p>
<p>痘瘡發熱多昏睡，呵欠噴嚏又驚悸，或吐或泄寒熱生，耳足微涼為少異。</p>
<p>痘瘡常治法，初用羌活湯，出後大補散，祖傳別有方。</p>
<p>羌活防風升麻葛，桔梗甘草赤芍藥，前胡柴胡牛蒡炒，連翹酒洗如神脫。</p>
<p>大補散內用參耆，川芎當歸青陳皮，甘草白芍牛蒡炒，連翹木通一劑宜。</p>
<p>痘疹發微熱，頭面出來稀，頸項胸前少，紅潤又兼肥，大小便如常，飲食似平時，精神更精爽，出靨盡如期，此是好消息，何勞妙手醫。</p>
<p>熱甚又煩躁，精神不明瞭，大小便閉澀，吐瀉或吐嘔，虛腫咽喉嗆，渴甚食漸少，飲食都不思，悶亂眼又脹，肚脹氣上喘，個個必死亡。</p>
<p>第一發，羌活防風荊芥桔，升麻乾葛赤芍藥，木通連翹甘草節。</p>
<p>第二散，升麻乾葛赤芍好，防風木通荊芥穗，甘桔連翹牛蒡炒。</p>
<p>第三消，甘桔荊防赤芍翹，升麻木通牛蒡子，酒炒芩梔解毒高。</p>
<p>第四除，荊防甘桔木通拘，酒炒芩梔翹赤芍，歸梢生地鼠黏如。</p>
<p>第五斑，歸梢赤芍鼠翹甘，生地木通荊芥穗，芩梔酒炒退紅鮮。</p>
<p>第六毒，當歸赤芍生地助，甘草木通牛蒡子，枳殼連翹加赤茯。</p>
<p>第七解，當歸白芍黃耆採，木通枳殼生甘草，荊芥防風還可買。</p>
<p>第八調，人參黃耆甘草謀，木通歸身白芍藥，陳皮枳殼白芷梢。</p>
<p>第九和，參耆白朮不用多，白芍當歸甘草炙，陳皮枳殼茯苓多。</p>
<p>第十保，參耆白朮炙甘草，當歸白芍生地黃，枳殼陳皮山楂討。</p>
<p>第十一養，黃耆人參白朮講，歸身白芍白茯苓，甘草陳皮氣血長。</p>
<p>第十二病，參耆白朮甘草定，歸身白芍麥門冬，陳皮茯苓方可進。</p>
<p>第十三身，參耆白朮甘茯苓，歸身麥冬白芍藥，陳皮青皮山楂尋。</p>
<p>第十四安，參耆歸術茯苓甘，白芍川芎麥地黃，青皮楂子棗同煎。</p>
<p>痘初如作瀉，火甚里又熱，黃芩白芍藥，升麻甘草節，木通赤茯苓，泄止添歡悅。</p>
<p>痘中如作瀉，人參白朮切，茯苓炙甘草，白芍官桂設，更加訶子肉，補中兼劫澀。</p>
<p>痘瘡如秘結，導法真可絕，芩梔用酒炒，通翹甘枳桔，紫草生地黃，麻仁潤乾澀，甚加酒大黃，謹慎勿妄瀉。</p>
<p>痘瘡如作渴，火甚津液涸，人參麥門冬，升麻白粉葛，知母生地黃，天花粉一合，甘草酒芩連，此法永不錯。</p>
<p>痘瘡太紅豔，血熱防多變，歸梢生地黃，赤芍紫草見，升麻木通翹，荊防牛蒡研，甘草酒芩梔，不退有後患。</p>
<p>痘瘡灰白色，氣血兩虛說，歸穹赤芍藥，參耆甘草節，木香桂少加，生地能活血，食少加陳皮，渴多麥門冬。</p>
<p>痘瘡黑陷枯，當歸赤芍求，生地甘草節，防風荊芥牛，木通翹紫草，人參正氣扶，麻黃蜜酒炒，燒糞解人憂。</p>
<p>痘瘡如腹脹，看他大便樣，便結裡氣實，急用酒大黃，枳殼檳榔樸，再用膽導方。泄瀉裡氣虛，參朮茯木香，青皮炒厚朴，枳殼腹皮姜。</p>
<p>痘瘡出太紅，血熱用歸梢，生地赤芍桔，防風紅花甘，木通牛蒡子，連翹淡竹葉。</p>
<p>痘瘡出密要解毒，甘桔荊防蒡翹助，青皮山楂赤芍藥，紅花木通要常服，起發之時加當歸，勻氣和血補不足。</p>
<p>痘收破皮不結痂，人參黃耆甘草佳，白朮防風香白芷，青皮七味免咨嗟。</p>
<p>外附方：治痘瘡收後落靨，肉色不紅，遍身肉色盡白者。時羅田西門王紫玉所生一女名折哥有此症，日夜無時啼哭，遍身潮熱，不思乳食。予曰：此症若不急治，或一月二月或四十日，或二三年潮熱不退者，縱有靈丹亦不可治，必致成疳而死。紫玉不信吾言，其女果死矣。後紫玉之長子名逢老哥出痘𰣤，痘疹亦有此症。渠問予曰：小兒此症當服何藥？吾答曰：要先服十全大補湯數劑，後服三合湯治之，其熱即退，其哭即止。俟遍身頭面手足痘疤肉色盡紅，方可止藥。後服加減八寶湯，果得保全安。</p>
<p>三合湯：即四君子、四物湯，加半夏、陳皮，蓮肉十五粒，大膠棗二個、糯米四十九粒、煨姜三片為引，水一碗，煎六分，空心溫服。若小兒，茶盅一盅水，止煎四分。</p>
<p>此症若未出痘，先生瘡日久，氣血俱虛而有痰滯，氣不得行，氣不行則血不行而成大疾病矣。</p>

<h1>卷之五</h1>

<h2>痘疹總論方略</h2>
<p>痘疹本是胎時結，發時須待際時行，</p>
<p>如逢疫癘將行後，預解湯丸最有靈。</p>
<p>凡痘疹之病，皆因父母胎毒蓄於命門之中。命門者，右腎相火也，為人身生化之本。或遇冬溫陽氣暴泄，人則感之，觸動相火，至春夏生長之時即發，傳染相似，是謂天行疫癘也。未出痘疹者，但覺冬溫，宜先服解毒之藥，如辰砂散、三豆湯、代天宣化丸頻與之，使毒易出易靨，無傾覆留連之患也。</p>
<p>凡小兒未出痘疹之先，欲預防者，只服代天宣化丸甚效，不可妄下以損胃氣。又如古方辰砂散、油飲子、龍飛膏，予曾試之，未見其效，故未並錄。</p>
<p>凡值天時不正，鄉邑瘟瘡盛發，此天行正令也。欲預防者，只服宣化丸。如脾胃素弱者，更宜調其胃氣，適其寒溫，節其乳食，間以四君子湯加山楂、枳實、青皮、木香之屬與之，使胃氣和暢，榮衛流通，其瘡易出易靨也。</p>
<p><u>三豆湯方</u></p>
<p>赤小豆　黑大豆　綠豆（各一升）　小甘草（三兩，生銼）</p>
<p>以三豆淘淨，同甘草入雪水八升（若無雪水，用長流水代之），煮豆熟為度，去甘草，將豆曬乾，又入，再浸再曬，汁盡為度，逐日取豆水煮，任意服之。</p>
<p><u>代天宣化丸</u></p>
<p>人中黃（屬土，甲巳年為君）　黃芩（屬金，乙庚年為君）　黃柏（屬水，丙辛年為君）　梔子仁（屬木，丁壬年為君）　黃連（屬火，戊癸年為君）　苦參（為佐）　荊芥穗（為佐）　防風（去蘆，為佐）　連翹（去心酒洗，為佐）　山豆根（為佐）　牛蒡子（酒淘，炒，為佐）　紫蘇葉（為佐）</p>
<p>數藥先視年之所屬者以為君，其餘主歲者以為臣。為君者倍之，為臣者半之，為佐者如臣四分之三。冬至之日修合為末，取雪水煮升麻，加竹瀝，調神麯為丸，用辰砂、雄黃為衣，每服竹葉湯下。</p>
<p>制人中黃法：取大甘草不拘多少，納於新竹節中，緊塞無節空處，放在屎缸中浸七七日，取出曬乾聽用。</p>
<p>預知痘疹吉凶機，氣色都於面部推，</p>
<p>年壽山根尤緊要，紅黃吉兆黑有危。</p>
<p>未病之先有上工，能言輕重吉和凶，</p>
<p>不離氣色分清濁，臟腑幾微阿睹中。</p>
<p>痘疹未出之先，欲知吉凶輕重者，但於面部推之。其色紅黃明潤者吉，青黑昏黯者凶。相書以山根管命宮，年上管疾厄，所以二處尤為緊要也。</p>
<p>首尾汗下須不宜，刻舟求劍豈通醫，</p>
<p>若分虛實能機變，可奪乾坤造化機。</p>
<p>首尾不可汗下，此誠古人深戒之言。然亦自其平症語之耳。若遇風寒外襲，應出不出，則汗劑亦可用也。如大便連日不行，煩悶狂躁，不與下之，寧不夭人命乎？是下劑亦可用也。但能消息虛實與時權變，斯可為通醫矣。</p>
<p>始終通便自調佳，便若艱難事可嗟，</p>
<p>腹脹喘呼多壅遏，急行疏導解留邪。</p>
<p>此言可利則利者也。大抵痘瘡始終小便長而大便潤者為順。若小便或秘，急宜利其小便。若利小便宜用八正散。</p>
<p><u>八正散</u></p>
<p>木通　滑石　甘草　連翹　升麻　豬苓　淡竹葉　赤茯苓　瞿麥</p>
<p>燈心水煎服。</p>
<p>如利大便，宜用通幽湯。</p>
<p><u>通幽湯</u></p>
<p>紫草　歸梢　生地　麻仁（研）　枳殼　酒大黃　檳榔　紅花　桃仁（泥）</p>
<p>水煎服。</p>
<p>痘疹症候貴和中，胃氣之中最要清，</p>
<p>弦急浮洪休太過，微遲短澀是虛因。</p>
<p>夫人以胃氣為主，所謂弦不弦而石不石也。太過為實，不及為虛，最宜消息。</p>
<p>損塌方將倒陷時，急憑神物強扶持，</p>
<p>虛中補痘無流毒，復腫成膿吉可知。</p>
<p>疹子損破平塌，謂之陷伏，急用神方托裡發表，解毒和中。須要無痘處再出一層，謂之補虛。損破者，復腫灌膿方是吉兆也。服藥無靈者勿治之。</p>
<p>陷伏須分實與虛，莫將補瀉混同施，</p>
<p>若能臨症加斟酌，起死回生只一時。</p>
<p>痘疹傷寒症一般，上工臨病把書看，</p>
<p>莫將汗下輕相試，解表中和命快然。</p>
<p>痘疹發熱與傷寒相似，但傷寒只見一經形症。若痘疹則五臟之症皆見。如呵欠煩悶，肝症也；乍冷乍熱，手足梢冷，好睡，脾症也；面燥腮赤，咳嗽噴嚏肺症也；驚悸，心症也；骩涼足涼，腎之平症也。</p>
<p>以上諸症，獨見多者，即主其臟之毒，特甚者治之。</p>
<p>如肝症多，用川芎、梔子仁、青皮之屬。</p>
<p>如肺症多，用黃芩、知母、地骨皮之屬。</p>
<p>如心症多，用黃連、木通之屬。</p>
<p>如脾症多，用防風、甘草之屬。</p>
<p>惟腎不可有症，如耳熱、骩熱，則邪在於腎，用黃柏、木通、茯苓、豬苓之屬，此其大略也，臨機應變，存乎人焉。凡痘疹未出，疑似之間，不可妄用汗下之藥。汗則虛其表而難成就，下則虛其里而易倒陷，古人戒汗下者，衛生嚴矣。</p>
<p>大法治痘不過解表和中解毒而已。解表如防風、荊芥穗、升麻、葛根之類；和中如人參、白朮、當歸、川芎、陳皮、甘草之類；解毒如酒炒芩連、牛蒡子、連翹、梔子之類也。古人謂如庖人蒸籠之法，欲其松者，此之謂也。</p>
<p>痘疹為陽待熱成，微微發熱始和平，</p>
<p>假如太熱身如火，解毒嘗教小便清。</p>
<p>凡痘疹屬陽，非熱不成，故治痘不可盡除熱。如熱太甚者，毒未發盡，只宜解毒兼利小便，宜以加味連翹升麻葛根湯主之。</p>
<p>連翹（去心酒洗）　升麻（酒洗）　葛根（切）　赤芍　桔梗（泔浸）　甘草梢　酒芩　酒梔子　木通（酒洗）　麥冬（去心）　牛蒡子（酒淘，炒研）　白滑石</p>
<p>上銼，水一盞，淡竹葉、燈心為引，煎服，不拘時下。兼服牛黃丸亦可。</p>
<p>始終能食最為良，平日為人脾胃強，</p>
<p>食少即防中氣弱，淹留引入變瘍瘡。</p>
<p>痘瘡始終能食者，其人脾胃素強，自然氣充實，易出易靨。若一旦食減，即問或咽喉腫痛，或傷何飲食，依法治之。若咽喉腫痛者，治以：</p>
<p><u>加味甘桔湯</u></p>
<p>甘草　桔梗　牛蒡（炒，研）　射干　升麻　荊芥</p>
<p><u>橘皮湯</u></p>
<p>陳皮　青皮　枳殼（炒）　木香　甘草　山楂肉　白茯苓</p>
<p>水一盞，大麥芽（炒）一撮為引，煎服，不拘時。</p>
<p>如非二症，乃脾胃氣弱不能消食，宜治以：</p>
<p><u>參苓白朮散</u></p>
<p>人參　白茯苓　白朮（去蘆，炒）　粉草　山楂肉　陳皮　桔梗　木香　枳殼（炒）</p>
<p>水一盞，捶碎，砂仁一個入內為引，不拘時服。</p>
<p>最宜安靜號和平，表裡無邪志自寧，</p>
<p>忽然躁煩宜詳審，又怕亡神轉悶昏。</p>
<p>痘瘡以安靜為貴，此表裡無邪不必服藥。但有煩躁者，必毒氣壅並，表裡不寧，且審諦之。如爬搔不寧者瘡癢也。不寧者裡熱也。呻吟者痛也。非折肱之手，豈能識其病而用藥也。</p>
<p>治痘先須順四時，風寒暑溫一同推，</p>
<p>莫教異氣來相觸，反復災危在霎時。</p>
<p>大凡治病之道，春夏養陽，秋冬養陰。故春病治在肝，夏病治在心，秋病治在肺，冬病治在腎，不可逆也。治痘之人，切須識此，而勿使有誤也。如天有烈風暴雨，酷暑嚴寒，常要謹其帷帳，適其寒溫，寒則蓋覆欲厚，熱則居處欲清。苟傷熱則血氣淖澤而瘡易腐爛，偏寒則血氣凝滯而瘡難起發。若有觸犯，輕者變重，卒生異症，是謂災怪也。如暴風連日而有傷風之症者，宜治以：</p>
<p><u>桂枝葛根湯</u></p>
<p>桂枝　赤芍　乾葛　甘草　防風</p>
<p>水一盞，姜一小片，棗一枚，煎七分熱服。</p>
<p>如寒威凜冽而有傷風之症者，宜治以：</p>
<p><u>正氣散</u></p>
<p>甘草（炙，三分半）　陳皮　木香　蒼朮（各半兩）　厚朴（薑製）　麻黃　官桂（各三分）</p>
<p>水一盞，姜一片，大棗一枚，煎七分，熱服。</p>
<p>若酷熱熏蒸，有熱病者，宜以：</p>
<p><u>人參白虎湯</u></p>
<p>人參　知母　石膏　甘草　香薷　麥冬　藿香</p>
<p>水一盞，淡竹葉、粳米、白扁豆（炒過）為引，煎服。</p>
<p>若雨久浸濕，有受濕症者，宜以：</p>
<p><u>胃苓湯</u></p>
<p>蒼朮（泔水制）　陳皮　甘草（炙）　豬苓（去黑皮）　澤瀉　白朮　赤茯苓　官桂</p>
<p>水一盅，煎七分、溫服。</p>
<p>上方要在適中，無犯正氣而已。</p>
<p>痘虛皆言要補脾，補中有害少人知，</p>
<p>虛虛實實休輕放，審症施方貴合宜。</p>
<p>凡痘疹始終以脾胃為主，若飲食如常，六腑充實，此脾胃本強，不須服藥。今人不論虛實，概以四君子湯與之，謂之實實，益增煩躁，害匪輕也。故曰藥不執方，合宜而用。大抵不能食，常泄瀉，瘡灰白者，此氣虛也，宜以：</p>
<p><u>四君子湯</u></p>
<p>人參　白朮　白茯苓　甘草（熱甚生用，補虛炙用）</p>
<p>水煎服。</p>
<p>若能飲食，大便閉塞，瘡焮腫者，此血熱也，宜以四物湯加解毒藥。</p>
<p>當歸身　川芎　生地　芍藥（熱甚用赤，兼補用白）</p>
<p>水煎服。</p>

<h1>卷之六</h1>

<h2>發熱症治歌括</h2>
<p>凡一十五首</p>
<p>痘證未形先發熱，吉凶輕重如何說，</p>
<p>熱輕毒淺吉堪云，熱重毒深凶可說。</p>
<p>凡發熱乍進乍退與微熱者，其痘必稀而輕，毒亦淺，不必服藥。若蒸蒸作熱，煩躁昏眩，其痘必密而重，毒亦深，宜以發表解毒托裡。</p>
<p><u>加味葛根湯</u></p>
<p>升麻　乾葛　赤芍　甘草　荊芥穗　柴胡　牛蒡子（炒）　桔梗（泔洗）　連翹　木通　防風</p>
<p>水一盞，淡竹葉為引。如大便結加紫草、紅花，作渴加麥冬、天花粉，腹痛加酒大黃，若閉結亦用酒大黃主之。</p>
<p>發熱而渴熱在裡，切忌生冷及冷水，</p>
<p>生津解毒口中和，小渴任之而已矣。</p>
<p>凡發熱作渴，此痘毒內蒸，銷其津液，故令人口乾而渴。微者，頻與炒米湯飲之，切不可以冷水、凍柿、柑、梨、西瓜、菱角食之，反傷胃氣，亦不可以椒薑湯飲之，恐生痘毒而有變化也。渴甚不止者，宜以葛根湯加解毒藥。</p>
<p>生葛汁（如無，葛粉代之）　天花粉　粉草（取粉用）　升麻　麥冬　茅根汁　生地　酒芩</p>
<p>水煎眾藥，和汁服之。</p>
<p>如痘已出齊，或起發或收靨而渴不止者，以：</p>
<p><u>人參麥冬散</u></p>
<p>人參　麥冬　葛根　白朮　甘草　天花粉　酒芩</p>
<p>水煎，和竹瀝乳汁服。</p>
<p>如泄瀉不止更渴者，此脾胃虛弱，宜以：</p>
<p><u>參苓白朮散</u></p>
<p>人參　白茯苓　白朮　木香　甘草（炙）　乾葛　藿香葉（炙，等分）</p>
<p>以上六味倍用水煎服。</p>
<p>發熱腹中急痛時，毒攻於裡不須疑，</p>
<p>大便秘結宜攻下，莫待臨危悔卻遲。</p>
<p>訣云：發熱腹內痛，斑瘡腹內攻，發多防不遠，發少更防癰。可見痘疹腹痛者，即當托裡，使毒得散，不可逡巡以致後難也。若能飲食如常而腹痛者，用：</p>
<p><u>化毒湯</u></p>
<p>葛根　白芍　甘草　青皮　木香　枳殼　山楂　連翹</p>
<p>水煎服。</p>
<p>若大便秘結，煩躁作渴腹痛者，宜以：</p>
<p><u>三黃解毒湯</u></p>
<p>酒芩　酒連　紫草　紅花　枳實　當歸梢　木通　酒大黃　檳榔</p>
<p>水煎服。</p>
<p>若泄瀉腹痛者，宜以：</p>
<p><u>建中托裡湯</u></p>
<p>黃耆　官桂　白芍　人參　白朮　升麻（酒炒）　甘草</p>
<p>水煎服。或桂枝大黃湯亦可。</p>
<p>發熱腰痛毒氣深，幾人此病得惺惺，</p>
<p>人參敗毒真奇絕，痛減瘡稀免損傾。</p>
<p>此痘瘡發熱腰痛者，其症最惡，宜速用：</p>
<p><u>人參敗毒散</u>　若服此藥痛止者吉，不止者凶。</p>
<p>人參　甘草　升麻　乾薑　白茯苓　桔梗　枳殼　川芎　柴胡　前胡　獨活</p>
<p>水一盞，姜為引，煎七分，入竹瀝同服。或五苓散加獨活通用亦可。</p>
<p>惟有痘瘡能發搐，要識病源屬肝木，</p>
<p>木能勝脾又歸心，風火相爭脾不足。</p>
<p>凡痘瘡發熱有驚搐者，因木邪盛而侮土，以：</p>
<p><u>導赤散</u>　加辰砂服之即止。</p>
<p>生地黃　木通　小甘草　防風　薄荷葉</p>
<p>燈心引，水煎服。此驚痘甚好，以搐搦發散於四肢。</p>
<p>如痘應出不出，搐搦不止，用：</p>
<p><u>瀉青導赤散</u></p>
<p>當歸梢　木通　甘草　梔子仁（酒炒）　羌活　防風　川芎　酒連　淡竹葉</p>
<p>燈心引，水煎，和竹瀝服之。</p>
<p>如不搐，但心煩啼哭者，用：</p>
<p><u>麥冬導赤散</u></p>
<p>木通　麥冬　甘草　梔子仁（酒炒）</p>
<p>燈心引，水煎服。</p>
<p>如痘已收靨，餘熱不退而發搐搦者，此慢驚之類也，多不可治。但父母不忍坐視，請而治之，宜用寧神湯合抱龍丸治之，輕者可愈。</p>
<p><u>寧神湯</u></p>
<p>石菖蒲　茯神　梔子仁（酒炒）　甘草（炙）　黃連　木通</p>
<p>燈心引，水煎，入竹瀝同服。如虛加人參。</p>
<p><u>抱龍丸</u></p>
<p>膽星（四錢）　天竺黃（五分）　牛黃（二分）　辰砂（二錢）　雄黃（五分）</p>
<p>共為末，甘草水煮，蒸餅為丸，不用麝香，以痘瘡忌故耳。</p>
<p>制膽星法：臘月收牯牛膽大者一枚，用南星去皮為末，傾出膽汁相和，再入膽中懸掛天德方上，自陰乾取用。</p>
<p>發熱吐泄如並作，上下毒出無郁兆，</p>
<p>三焦火甚熱中求，日久不止脾胃弱。</p>
<p>凡痘瘡發熱有嘔吐者，有泄瀉者，有吐泄並作者，不可驟止之，令毒上下得出也。但痘瘡見形吐泄即止者，吉兆也。如久不止，先用理中湯和之。</p>
<p>人參　白朮（炙）　乾薑　升麻（酒炒）　炙草</p>
<p>水煎服。</p>
<p>如泄仍不止，用豆蔻丸治之。</p>
<p>木香（三錢）　砂仁（二錢）　肉豆蔻（麵裹煨，五錢）　赤石脂（七錢五分）　白龍骨（五錢）　白枯礬（七錢五分）　訶黎勒肉（五錢）</p>
<p>共為末，水糊丸，如粟米大，三歲五十丸，四歲以下一百丸，陳米飲下。吐泄既止之後，更服調中湯，使脾胃氣實，其痘易壯而易靨也。</p>
<p><u>調中湯</u></p>
<p>人參　黃耆　炙草　白朮　白芍（酒炒）　木香　陳皮</p>
<p>棗為引，水煎服。</p>
<p>如三焦火熱甚者，又以清涼之劑解之。</p>
<p>發熱狂言如見鬼，神識不清毒深取，</p>
<p>鎮神解毒以平期，一向不止應不起。</p>
<p>凡痘瘡發熱，妄有所見而讝（南佔二音）語者，皆昏昏好睡，夢中語喃喃者，或狂欲走，尋衣摸床者，皆毒氣內攻，神識不清所為也。急用鎮神解毒之藥，以辰砂導赤湯主之。</p>
<p>人參　白朮　黃連（炒）　梔子（炒）　木通　石菖蒲　麥冬　辰砂（另研）</p>
<p>燈心，水煎，入竹瀝，調辰砂、牛黃末服之。若復舊則吉，不止則凶，不可治也。</p>
<p>遍身發熱四肢寒，脾胃虛弱理須參，</p>
<p>補中益氣令和暖，瘡盛仍前急買棺。</p>
<p>凡痘瘡遍身宜熱，獨耳骩二處宜涼。所以瘡疹之症，頭宜涼，手足宜溫。若反冷者，此脾胃虛弱也。四肢者，脾胃之所主，用：</p>
<p><u>補中益氣湯</u></p>
<p>人參　黃耆　白朮　炙草　官桂　歸身　陳皮</p>
<p>病甚者加熟附子，水煎服。如服此湯，手足暖者生，厥逆不退者死。</p>
<p>發熱熏蒸血妄行，不知何道血如便，</p>
<p>但從鼻出方無忌，別道來時總不應。</p>
<p>人身之血不可妄動。痘疹之火，熏灼於內，迫血妄行，隨火而動，或從口出，或從大、小便出，皆死證也。但從鼻出，或有可救之理，宜治之，用：</p>
<p><u>玄參解毒湯</u></p>
<p>玄參　生芩　梔子（炒焦）　桔梗　甘草　生地黃　乾葛　荊芥穗</p>
<p>水煎，入茅根汁，加京墨和飲。若疹，煩躁不能收攝，出血不止，此陽痘出血之證，多不可治。</p>
<p>晝夜發熱渾不歇，口舌生瘡唇破裂，</p>
<p>咽喉塞痛食難嘗，解毒黃連合甘桔。</p>
<p>凡痘未出而熱不止，晝夜煩躁，口舌生瘡，唇裂咽痛者，此毒內熏，其熱甚急，治不可緩。急用黃連解毒合甘桔湯治之，不改者不治。</p>
<p>酒芩　酒連　酒梔子　石膏　桔梗　甘草　連翹　薄荷葉　荊芥穗　牛蒡子</p>
<p>水煎，和竹瀝飲之。</p>
<p>發熱身汗不須醫，腠理疏通毒發稀，</p>
<p>如恐汗多陽氣弱，調元的的有神奇。</p>
<p>凡痘疹發熱自汗者，此不必治，蓋腠理疏通，毒氣泄越，無郁遏也。所以謂古人如疱人蒸籠之法，但欲其松者，正此意也。如恐出汗太多，衛氣反弱，痘瘡不能成就者，用：</p>
<p><u>調元湯</u></p>
<p>黃芩　人參　甘草　黃耆　白朮　白芍　麥冬</p>
<p>水煎服。如汗不止，加地骨皮、麻黃根。</p>
<p>以豬心肺煮湯兼飲尤妙。</p>
<p>寒熱往來且戰兢，表虛邪正得相爭，</p>
<p>但得柴葛加官桂，入口能教大勢平。</p>
<p>痘疹所忌者，寒戰也。如發熱之時，憎寒振振戰動者，其人表氣素虛；痘疹欲出不出者，留連於腠理之間，邪正爭攻，振振戰者，火之象也。宜用柴葛桂枝湯主之。</p>
<p>柴胡　葛根　甘草　羌活　人參　防風　桂枝　牛蒡子（炒）</p>
<p>水一盞，淡竹葉十片同煎服。</p>
<p>發熱綿綿不見形，其中凶吉事難明，</p>
<p>解肌托裡須斟酌，施治詳明內外因。</p>
<p>凡痘發熱三日便出者，此常期也，如過四、五日猶不出，熱勢綿綿無休歇者，凶吉之兆不可卜也，急與解肌托裡，分內外而治之。疏者吉，密者凶。如勞苦之人，皮膚粗厚，腠理閉塞者，及外感風寒，其瘡為外邪所遏而不易出者，此外因也，宜用：</p>
<p><u>麻黃解表湯</u></p>
<p>麻黃（去根節，用蜜與酒炒黑色後聽用）　羌活　升麻　荊芥穗　葛根　防風　蟬蛻　甘草　桔梗　牛蒡子</p>
<p>水煎服，入燒人屎同服。</p>
<p>如虛吐泄，毒氣內陷而不出，及傷飲食陳物，菀莝腸胃之間與毒合併，鬱而不出者，此內因也。內虛者，宜用托裡，以十補湯主之。</p>
<p>黃耆　人參　當歸　厚朴（薑製）　桔梗　官桂　川芎　防風　甘草　白芷</p>
<p>水煎，調牛蒡子末服。</p>
<p>如內實者宜用：</p>
<p><u>枳實導滯湯</u></p>
<p>枳實　連翹　半夏（制）　酒連　木通　山楂肉　甘草　紫草　酒大黃</p>
<p>水煎，調檳榔末服。</p>
<p>發表時節少定方，古人專用葛根湯，</p>
<p>能通權變知增減，何必多方立紀綱。</p>
<p>時師治痘者，方其發熱，但知用葛根湯，一見紅點便禁而不用，此仍不知權變也。若醫者意也，藥不執方，合宜而用。如痘見熱除，此表裡無邪，不須服藥，所以不可再服葛根湯。若痘已見，熱甚不退，此毒深於內，尚恐葛根力小不足勝之，寧可止而不飲。</p>
<p>解毒升麻湯最良，紅斑雖見飲何妨，</p>
<p>時師膠柱無通變，一見紅斑不敢嘗。</p>
<p>凡痘發熱，初用解毒之劑，要在審證，用藥不可草草。詳見此門各條之下，庶不重述。但附葛根湯加減之例於後，臨證擇用可也。</p>
<p><u>葛根湯</u></p>
<p>升麻　葛根　芍藥　甘草</p>
<p>口渴加天花粉、麥冬、茅根汁。</p>
<p>腹痛加枳實、木通、山楂。</p>
<p>腰膝腳痛加蒼朮、黃柏、羌活、木通。</p>
<p>頭痛加藁本、白芷。</p>
<p>驚搐加木通、竹瀝、薄荷葉、燈心。</p>
<p>泄瀉加人參、白茯苓、訶子肉、白朮。</p>
<p>發狂讝語加石菖蒲、梔子仁、木通、辰砂。</p>
<p>四肢冷加人參、黃耆、乾薑、官桂。</p>
<p>嘔吐加白朮、半夏、陳皮。</p>
<p>衄血加茅根汁、山梔、黃芩、玄參。</p>
<p>咽喉痛加桔梗、牛蒡子、射干。</p>
<p>咳嗽加陳皮、蘇葉、前胡、枳殼。</p>
<p>大便結加生地、紫草、紅花、當歸梢。</p>
<p>多叫哭加木通、山梔仁、黃連、麥冬。</p>
<p>吐舌弄舌加黃連、防風、山梔仁。</p>
<p>常用加桔梗、防風、連翹、荊芥穗、大力子。</p>

<h1>卷之七</h1>

<h2>見形症治歌括</h2>
<p>發熱三朝痘出稀，此為吉兆不須醫，</p>
<p>先期痘出渾無制，過此多因氣血虛。</p>
<p>凡痘發熱三日而出，此常期也。依期出而稀者，不須服藥。如發熱一二日而出者，此毒氣太甚，衝擊榮衛，一齊湧出，難以制服，大凶之象，必欲治之，不過解毒救里，使無陷伏耳。宜用：</p>
<p><u>消毒快斑湯</u></p>
<p>桔梗　甘草節　荊芥穗　防風　赤芍藥　黃耆　牛蒡子　當歸尾　玄參　連翹　前胡　木通　天花粉</p>
<p>水煎服。</p>
<p>如過期四、五、六日始出者，此血氣本虛，不能載毒使之即出，當使之補中托裡發表，宜用：</p>
<p><u>增損八物湯</u></p>
<p>人參　黃耆　白朮　甘草　當歸　川芎　牛蒡子（炒）　荊芥穗　赤芍　防風　連翹　桔梗　葛根</p>
<p>水煎服。</p>
<p>痘出遲遲有數般，皮膚閉塞屬風寒，</p>
<p>裡虛吐泄宜分治，痘壅三焦治卻難。</p>
<p>凡痘出有常期，若應出不出，或外感風寒，六腑閉塞，不能即出，其症頭痛身疼，發熱無汗，喜蓋覆偎倚懷中，此惡風寒之象也，當與發散之，宜用：</p>
<p><u>加減參蘇飲</u></p>
<p>人參　紫蘇葉　葛根　陳皮　前胡　白芷　桔梗　枳殼　甘草　羌活　防風</p>
<p>竹葉為引，水煎服。</p>
<p>若曾吐瀉裡虛不能快出，宜用：</p>
<p><u>加減調中湯</u></p>
<p>人參　白朮　黃耆　木香　官桂　白茯苓　半夏　陳皮　甘草</p>
<p>生薑引，水煎服。</p>
<p>如發熱煩躁狂妄，大渴唇燥，此毒氣壅並，留而不泄。上焦主頭面至胸，中焦主肚至臍，下焦主腿至足，毒火蘊於三焦，則榮衛不行，上下不通而死矣。</p>
<p>應出不出起如何，發表奇方效驗多，</p>
<p>腹脹便堅煩悶苦，消斑承氣救沉疴。</p>
<p>凡痘瘡應出不出，或因外感風寒，內虛吐泄，治各不同。如前參蘇飲、調中湯、敗毒散、葛根湯之類，皆奇方也。若熱甚，腹脹氣粗，煩躁悶亂，大便秘結者，此毒火內蓄，急以消斑承氣湯解之。</p>
<p>枳殼　厚朴　大黃（酒炒）　黃芩　黃柏　梔子　連翹　木通　甘草</p>
<p>甚者加芒硝。</p>
<p>生薑為引，水煎空心服。一方內加紫草。</p>
<p>痘出熱退毒已盡，熱如不減毒之甚，</p>
<p>累累常出無定期，外面最怕怪形症。</p>
<p>痘瘡之熱，毒火為之也。未出之先，其毒在內攻，故發熱於外；既出之後，其毒發外攻，熱當退者，毒本輕而痘亦稀也。若既出，熱仍不減，是毒積於中未可為輕也。急用：</p>
<p><u>解肌化斑湯</u></p>
<p>升麻　葛根　木通　牛蒡　桔梗　天花粉　地骨皮　荊芥穗　甘草　黃芩　酒黃柏</p>
<p>大便結者加紫草。</p>
<p>水煎服。服後熱漸退，方可言輕，更不退，其痘累累出，痘空，中始雖稀而終朝漸密者，最怕生出他症，或狂妄，或泄瀉，或腹痛，或瘙癢，或寒戰，或失聲，或錯喉，或乾燥，或喘促黑陷皆不可治矣。</p>
<p>出現先觀面部中，其間吉凶妙難通，</p>
<p>繞唇夾頦方為吉，額上眉中總是凶。</p>
<p>凡人之面部，左頰屬木，肝也；右頰屬金，肺也；頦屬水，腎也；鼻屬土，脾也。又正額者，太陽之所會；唇頰者，陰陽脈之所經；兩耳旁，少陽脈之所過。痘為陽毒，故隨陽先見於面。但陽明胃與大腸也，積陳受汙，氣血俱多，先於其位出現者，吉。若太陽則水火交戰之位，少陽則木火相併之沖，若於其位出現者，凶。不但出形，忌於正額、眉間、耳之前後。凡漿收靨，但從此處先者，皆逆象也，多不可治。故不立方。</p>
<p>頭面呼為元首尊，咽喉緊隘譬關津，</p>
<p>莫教痘疹多稠密，鎖項矇頭事可驚。</p>
<p>經曰：頭者，精明之府。又曰：春氣者，病在頭。可見頭者，諸陽之會，為發生之本也。五臟精華皆見於面，是頭面者，為人之元首，至尊至貴不可凌犯者也。咽者，胃脘水穀之道路也，主納而不出。喉者，肺脘呼吸之往來也，主出而不入。人非此，則水穀絕、呼吸廢而死矣。故在人身譬之關津隘口焉。痘疹最要頭面頸項稀少，如頭面多者，謂之矇頭，頸項多者，謂之鎖項。矇頭則視聽昏廢，神明失居，鎖項則內者不出，外者不入，正所謂神去則機息，氣止則化絕，死之兆也。</p>
<p>頭面胸前總要稀，四肢多也不須疑，</p>
<p>遍身碎密多惆悵，疏解當教發透齊。</p>
<p>頭面者，諸陽之會也，胸前者，諸陽之所受氣也。陳氏曰：痘瘡輕者，作三四次出，頭面稀少胸前無，以清陽之分，不可濁亂也。四肢雖為陽之本，乃身之所役使者，為卒伍卑賤之職，非若頭面為元首之尊，胸膈為心肺之居，故不畏其多也。遍身稠密鎖碎者，急為解毒，疏通榮衛，令氣得其均，血得其活，一齊起發，無干枯黑痿之變可也。用：</p>
<p><u>疏毒快斑湯</u></p>
<p>人參　防風　荊芥穗　連翹　牛蒡子（炒）　當歸　桔梗　甘草　赤芍</p>
<p>熱甚加酒芩、酒連、地骨皮。</p>
<p>渴者加葛根、天花粉。</p>
<p>氣虛者加黃耆、木香。</p>
<p>便堅者加紫草、枳殼。</p>
<p>溺赤者加車前子、木通。</p>
<p>食少者加白朮、山楂、陳皮。</p>
<p>癢者加官桂。</p>
<p>腹脹者加厚朴、大腹皮。</p>
<p>喘咳者加知母、桑白皮。</p>
<p>泄瀉加官桂、訶子、乾薑。</p>
<p>痛者加白芍、酒芩。</p>
<p>水煎服。</p>
<p>痘瘡磊落最為奇，只怕相黏聚作堆，</p>
<p>蠶殼蛇皮生不久，蚤斑蚊跡鬼相隨。</p>
<p>凡痘初出，須看相去遠近，相去三五寸者一粒，必輕而稀。相去一二寸者，頗密。如二三成叢而出者，必密而重，其候多變癢塌也。如蠶之殼，蛇之皮者，此氣至而血不隨也。當用行氣補血之藥，宜以：</p>
<p><u>防風勻氣散</u></p>
<p>川芎　當歸身　赤芍　麥冬　人參　防風　青皮　荊芥穗　木香　官桂　甘草</p>
<p>水煎，不拘時服。</p>
<p>如蚤之斑，蚊之跡者，此血至而氣不隨也，當涼血補氣，宜用：</p>
<p><u>參耆和氣飲</u></p>
<p>人參　黃耆　連翹　牛蒡（炒）　酒芩　葛根　蟬蛻　歸身梢　木通　甘草　桔梗</p>
<p>水煎服。服後氣血隨者，吉；如舊者，凶。</p>
<p>一出形來豔色嬌，定知皮嫩不堅牢，</p>
<p>溶溶破損生難久，個個成漿喜氣饒。</p>
<p>痘瘡出形如其平日正色者，吉。痘瘡色帶豔而赤，其後多皮嫩易破，癢而不可救也。但見帶豔者，即防後日癢塌之變，早用疏風固表消毒之藥，使血氣充實，邪火漸退，正氣不虧，光壯干收，如期不亂可也。宜用：</p>
<p><u>固陽散火湯</u></p>
<p>人參　黃耆　甘草　升麻　葛根　當歸梢　連翹　防風　生地　木通　荊芥穗</p>
<p>水煎服。</p>
<p>最怕頭焦烏焠焠，又愁皮嫩水溶溶，</p>
<p>頭焦變黑多歸腎，皮嫩須防癢塌攻。</p>
<p>痘瘡初出，所喜明潤而鮮也，堅實而厚也。若頭焦帶黑，此毒在血分，不急治之，則變歸腎而難救矣。用：</p>
<p><u>涼血解毒湯</u></p>
<p>赤芍　歸梢　甘草　生地　木通　牛蒡（炒）　連翹　紫草　桔梗　酒紅花　山豆根</p>
<p>水煎，入燒過人屎一錢，同服。</p>
<p>若皮嫩澆薄，此毒在氣分，不急治之，則癢塌而死矣，當以補氣散火為主，用固陽散火湯加白朮、白茯苓，去生地。</p>
<p>痘瘡切要解咽喉，喉痹咽瘡毒火燒，</p>
<p>只恐一朝封管籥，鎖喉聲啞卻徒勞。</p>
<p>凡痘瘡未有咽喉不痛者，如煙窗之狀。火焚於下，焰升於上，宜乎作痛也。即用：</p>
<p><u>鼠黏子湯</u>（即牛蒡子，大力子）</p>
<p>射干　桔梗　甘草　連翹　鼠黏子</p>
<p>水煎，入竹瀝和飲之。</p>
<p>如痛用一聖散吹之。苦參一味，研成細末，每用一點吹之，甚效。若不早治，咽瘡煩躁，吸門腫塞，水入則嗆，食入則嘔，咽喉失聲，救之難矣。</p>
<p>若恐斑瘡入眼中，膏煎黃柏妙無窮，</p>
<p>但觀眼內多紅赤，急瀉心肝免毒攻。</p>
<p>痘瘡之毒，眼即次之。所以古用黃柏膏為護眼之法，其慮深矣。用：</p>
<p>黃柏（一兩）　甘草（二兩）</p>
<p>二味研為細末，用鮮綠豆五合，新汲水三盞，浸豆一晝夜，去豆，入紅花一兩，煮之，其水約減二盞，又去紅花，然後入前二味，慢火熬成膏，每用敷眼胞上下，厚塗之，則斑毒不入眼矣。若眼內有紅筋縈纏，或目腫閉多生眵淚，急瀉心肝之火。用：</p>
<p><u>蟬花散</u></p>
<p>蟬蛻　密蒙花　酒連　歸梢　木通　柴胡梢　龍膽草（酒洗）　川芎　酒梔仁　防風　白豆蔻</p>
<p>淡竹葉為引，水煎服。</p>
<p>痘瘡只出一般奇，疹斑夾出卻非宜，</p>
<p>消疹化斑宜解散，若還不解勢傾危。</p>
<p>錢氏曰：痘只一樣為喜，若已見形，間有碎密若芥子者，此夾疹也。皮肉鮮紅成塊，此夾斑也，皆毒火熏灼於內，故使斑疹夾出於外，急宜解毒，使斑疹消散，痘得獨成可也。用：</p>
<p><u>荊防解毒湯</u></p>
<p>防風　荊芥穗　黃芩　牛蒡（炒）　黃柏　小甘草　玄參　升麻　知母　人參　石膏　連翹</p>
<p>淡竹葉為引，水煎服。若服此仍不見效者，凶也。</p>
<p>病標才見兩三形，爬掐渾身癢不停，</p>
<p>此是火邪留腠理，急須發散瀉肝心。</p>
<p>凡痘初出之時，遍身作癢，爬掐不止者，此火邪留於肌肉皮膚之間，不能即出故耳，與傷寒不出汗而作癢者同。況諸瘡癢痛皆屬心火。河間曰：癢為風痰者，火之變也。又肝生風，爬搔不定者，此風使之也。肝屬筋而運乎爪，經曰：在變動為握。可見痛癢愛爬者，皆心肝二臟之症，宜瀉心肝之火邪，其癢自除矣。用：</p>
<p><u>消風去火化毒湯</u></p>
<p>防風　升麻　白芍　桂枝　荊芥穗　葛根　牛蒡子（炒）</p>
<p>淡竹葉為引，水煎服。</p>
<p>口中腥臭氣來沖，邪火相沖作肺癰，</p>
<p>清金瀉火須知急，如過七日枉施工。</p>
<p>凡痘初出，若口中腥臭之氣勃出沖人者，此肺中邪火熬煎炎燥，故腥臭之氣出於口也。急與：</p>
<p><u>清金瀉火湯</u></p>
<p>知母　生地　枯芩　石膏　桔梗　山梔子仁　甘草　麥冬　天冬　木通　馬兜鈴　天花粉</p>
<p>水煎，和竹瀝服。淹延不治，至七日而死矣。</p>
<p>經曰：肝絕者，七日死。此症之變，或失聲，或喘，或乾嘔，皆其候也。</p>
<p>皮中簇簇如寒粟，肉腫隆隆似熱瘤，</p>
<p>如此豈能多延日，哀哉不久赴冥都。</p>
<p>凡痘初出，欲其顆粒分明，皮肉柔嫩也。若簇簇生於皮中，似寒風粟子之狀，此症變如反掌，不待起發，隱而不見，啼叫煩悶而死矣。或正面，或胸背手足腫硬成塊，似𰣤瘤之狀，此症待起發之時，其處瘡先黑陷，破爛不能成漿，干較而死矣。此二者皆不治，故不立方。</p>
<p>出形未定先涵水，起發之時便戴漿，</p>
<p>膿水未成收靨急，十人得此九人亡。</p>
<p>凡痘初出一點血，血化為水，水化為膿，膿成而毒解，此自然之序也。若初出之時，半為水泡，或將起發便戴白漿，或膿水未成，忽然收較，此毒火太甚，失其自然之序。不應至而至，為之太過，不久倒陷入里而死，無有治矣。蓋不應至而至，所謂早發還先萎也，此之應至不至者，因其氣血不充，尚有補療，所謂人奪天功，此則不相侔矣。</p>
<p>鼻如灶突面若黑，皮似塗朱或橘容，</p>
<p>咽喉唇舌痘叢聚，如此誰人得建功。</p>
<p>凡痘瘡之症，始終歸重於太陰、陽明二經也。手太陰肺、陽明大腸，足太陰脾，陽明胃也。鼻者肺之竅，貴於滋潤，鼻乾黑燥，如灶突之狀，火刑金也。面，陽明經所聚也，貴於鮮明，面黑而枯，精華散矣。皮者，肺之合也，欲其色紅白如常，若塗朱火之象也，或如橘也，火極。如土燥之色則黃矣。咽喉者，肺與胃之管籥也。唇吻者，脾之竅也。舌者，脾之絡也。痘甚於此，其毒極矣。安可治也。</p>
<p><u>預稀痘神效方</u></p>
<p>茜草根半斤，切細，煮酒五瓶，大年二十四日及三十日夜，飲醉，其餘臘月內常飲，勿令太醉，其痘自稀。</p>
<p><u>又方</u></p>
<p>辰砂一兩為末，化蜜水與小兒常服，其痘自稀。</p>

<h1>卷之八</h1>

<h2>起發症治歌括</h2>
<p>凡二十六首。</p>
<p>五六日間起發時，時醫計日強猜疑，</p>
<p>不知毒氣分深淺，妄執方書只補脾。</p>
<p>時俗之醫云：三日發熱，三日出形，三日起發。此鄙論也。蓋毒有深淺，氣有厚薄，出之先後，壯亦因之。大抵不出五六日間。彼毒淺氣厚者，其起發常易；毒深氣薄者，至六七日始壯者有之，未可以常期准也。俗醫見其起發之遲，不認毒之淺深，概謂正氣不足，妄用補脾之藥，殊不知曾吐瀉不能食者，補脾以助長可也，若無吐瀉能食者，而六腑堅固，復用補藥，不免黨邪為害，非徒無益而反害之也。</p>
<p>起發如期貴適中，過與不及類吉凶，</p>
<p>先期痘成充膚腠，過此斑疹腹裡壅。</p>
<p>凡痘起發只在六七日，為之得中。蓋自發熱算起，正當六七日也。如未及期而驟發，此毒火太甚，榮衛氣虛，直犯清道而出，謂之邪氣太過也。法當固表解毒以防癢塌之變，用：</p>
<p><u>黃耆芍藥湯</u></p>
<p>黃耆　白芍　酒芩　連翹　防風　大力子　桔梗　甘草　葛根　人參　荊芥穗</p>
<p>淡竹葉為引，水煎服。</p>
<p>如過六七日不起發者，此臟腑虛弱，毒留於中，壅塞不出，謂之正氣不及也，法當托裡解毒，以防倒陷乾黑之變，用：</p>
<p><u>內托護心散</u></p>
<p>人參　當歸梢　防風　酒連　酒芩　大力子　酒柏　荊芥穗　甘草　木通　桂枝　蟬蛻　連翹</p>
<p>水煎，入燒過人屎調服。</p>
<p>便秘加大黃、紫草，去人參。</p>
<p>出形已定視根窠，紅活充肥氣象和，</p>
<p>若是青干並紫黑，急宜解散莫蹉跎。</p>
<p>凡痘出現已盡，時當起發，僅視根窠，以決輕重。如形充滿，色紅潤者，此氣血和暢，毒氣發越，大吉之兆也，不須服藥；若形扁而塌，色枯而黑者，此氣血多乏，毒氣壅遏不能起，急用解毒托裡之藥，用：</p>
<p><u>十宣內托散</u></p>
<p>黃耆　人參　當歸　川芎　桔梗　荊芥穗　甘草　牛蒡（炒）　防風</p>
<p>大便秘加酒大黃、紫草。</p>
<p>小便澀加木通。</p>
<p>渴者加天花粉、葛根。</p>
<p>水煎，入燒過人屎同服。此痘瘡必用之藥。</p>
<p>大抵痘標只要稀，如斯平順不須醫，</p>
<p>若然稠密休輕易，解毒常常慮險危。</p>
<p>凡痘稀而少者，不須服藥，若稠密，其毒必盛，防氣血不足，起發不透，漸生變異。常服：</p>
<p><u>解毒托裡散</u></p>
<p>桔梗　牛蒡子（炒）　人中黃　荊芥穗　酒紅花　防風　當歸梢　蟬蛻（去土）　升麻　葛根　赤芍　連翹</p>
<p>水煎，入燒過人屎同服之，令易壯易靨可也。如服此藥紅活光壯者，此氣內實，毒不能留，即止後藥。如服後病勢淹延者，邪氣甚，正氣衰，不能成就，宜屢服之。如服此藥當起不起，此必有變不可治之，反取人之怨尤也。</p>
<p>郛郭充肥完且堅，色多花蠟或紅鮮，</p>
<p>如逢破損多澆薄，縱有良方命不全。</p>
<p>凡痘瘡郛郭充實，皮囊堅厚，以指捺之堅實不破，其色蒼蠟或紅活者，此皆順候也。不喜乾燥淫濕，若瘡雖紅鮮反乾燥而不能充肥者，此火甚而血不足，宜用退火涼血輕清之劑，用：</p>
<p><u>四物快斑湯</u></p>
<p>川芎　歸梢　赤芍　升麻　葛根　地骨皮　連翹　紫草　荊芥穗　生地黃　牛蒡（炒）</p>
<p>水煎，和燒過人屎服之。</p>
<p>如充肥而帶淫濕者，此濕盛而氣不足也，宜泄濕補氣兼風藥治之。蓋風能勝濕也，用：</p>
<p><u>四君子快斑湯</u></p>
<p>黃耆　人參　白茯苓　甘草　官桂　荊芥穗　白芷　防風　陳皮　白芍</p>
<p>水煎服。如紅活充肥，以指捺之隨破，此名皮嫩，易破後痘癢塌，不可治矣，宜用：</p>
<p><u>大補保命湯</u></p>
<p>黃耆　人參　歸梢　川芎　赤芍　荊芥穗　生地　牛蒡　甘草　防風　連翹　官桂</p>
<p>水煎，入燒人屎調服。</p>
<p>如當起發，浮囊空殼如蠶之殼、麩之面，皮中無水色者，此血氣俱虛，用大補快斑湯治之。若轉而潤澤，中含水色者可治，否則癢塌悶亂，叫哭而死矣。</p>
<p>痘起之時辨色形，氣血虛寒實熱分，</p>
<p>莫教差錯分毫釐，仔細消詳補瀉清。</p>
<p>凡痘瘡起發，須諦視形色，以定輕重吉凶。如根窠紅潤，頂蒼蠟色者上吉；根窠紅，頂灰白色次之；根窠赤，頂亦赤而帶豔者，此火勝也。用：</p>
<p><u>解表瀉火湯</u></p>
<p>酒芩　牛蒡（炒）　歸梢　酒梔　連翹　山豆根　甘草　桔梗　升麻　葛根　地骨皮</p>
<p>水煎，入燒過人屎調服。服後熱退者生，不退者死。</p>
<p>如純白色者作寒看，此血寒氣虛也。如純紫赤色者，一齊湧出，作熱看，此血熱氣實也。實則瀉之，以平為期。服藥瘡色回者，十死一生。</p>
<p>四圍起發陷居中，中氣虧虛尚未通，</p>
<p>若是中枯成黑子，此名疔痘不相同。</p>
<p>痘瘡起發，其形不一。有緊小而充實者，俗呼珍珠痘是也，此則易壯易靨。有粗大而飽滿者，俗呼天痘是也，此則早壯遲靨。有四圍起，中心落陷者，俗呼茱萸痘是也，此則有吉凶，有輕重，稀者輕而吉，密者重而凶。蓋因中氣不足，時日未到，但四圍起發而中心尚是好肉，未得起發耳。時日既到，自然充拓而成血漿。輕稀者不須治，重密者用：</p>
<p><u>解毒化斑湯</u></p>
<p>黃耆　人參　甘草　歸梢　川芎　牛蒡（炒）　防風　連翹　荊芥穗　（寒月加）官桂</p>
<p>水煎，入燒過人屎和服。</p>
<p>若先有水，忽乾枯黑陷，此名疔痘，不可與中氣不足者同例論也。</p>
<p>中心微起四圍干，不久焦枯變一般，</p>
<p>毒火熏蒸津液竭，開關起籥治應難。</p>
<p>凡痘有中心微起含水色，四畔卻乾枯者，此毒火熏蒸，津液竭之兆，急宜治之以疔痘之法，不則盡枯入腹煩躁叫哭，喘渴而死矣。</p>
<p>痘疔治法古多般，只要開通毒氣先，</p>
<p>解毒透肌令發散，胭脂四聖保平安。</p>
<p>大抵痘瘡初出一點血，此一點屬正氣被毒氣衝擊，隨腠理而出現也。其後毒與血化為水，水化為膿，膿成毒解。若毒太甚熬煎陰血，其血乾枯而變黑色不得化水，反閉塞毒出之路，以致毒氣陷伏而不得出，此名倒陷者是也。其人煩躁腹脹喘渴，多不可救，故古方外或用針刺破而吮出其血者，或用火焠之者，無非欲其開關起籥而使毒氣得出也。用：</p>
<p><u>四聖散、珍珠散</u></p>
<p>豌豆　綠豆</p>
<p>二味各四十九粒（燒灰），油發一握（燒灰），珍珠七粒（研為末），用胭脂取汁調勻，以針挑破，納藥於中，更用胭脂水塗四圍，其瘡便回，如不回反添黑陷者，此死症也，不可妄治。內多有服穿山甲燒人牙者，既非解毒發表之至，又非托裡快斑之法，愚者執而用之，或偶中者，未遇其病也；若遇其病，寧免噬臍之悔哉！又不如加味四聖湯、快斑湯屢效。</p>
<p>木通　連翹　辰砂（另研）　絲瓜（連蒂燒灰）　黃耆　人中黃　酒紅花　麻黃（酒炒焦黑）　紫草　牛蒡子（炒）　燒過人糞</p>
<p>水煎，和上末藥服之。</p>
<p>錢氏用百祥丸、牛李膏者，必其人大小便秘結，煩躁又作渴，故宜服之。若其人大便自調，身無大熱者，則不可也。今改用百祥丸、牛李膏，以宣風快斑散代之。</p>
<p>木通　枳殼　甘草　檳榔　大黃</p>
<p>水煎，半生半熟黑牽牛末和服之，以通為度。通後瘡回，以君子湯調之。若或泄瀉，其瘡由灰白而變黑陷者，此名倒伏靨也，以木香快斑散治之。</p>
<p>木香　黃耆　人參　桂心　青皮　訶子肉　甘草（炙）　歸身　白朮　陳皮</p>
<p>生薑為引，水煎服。中病即止，不可多服，反增熱證。</p>
<p>黑陷瘡中最可嫌，此名惡候古今傳，</p>
<p>莫教出見渾身上，縱有靈丹治亦難。</p>
<p>凡黑陷者，如用前藥，其瘡紅活，依期光壯，此吉兆也；若服藥如故，則不可治。但痘本稀，其中起發者多，略有數個黑陷者，此則可治。假如稠密又不起發，或灰白，或紫赤，或青干又加黑陷者，治之無功。大抵痘瘡紅鮮者吉，黑陷者凶。其變黑歸腎之說當詳下卷。</p>
<p>灰白遲延頂又平，紫紅焮腫候須明，</p>
<p>只將氣血分虛實，莫學庸醫執一論。</p>
<p>凡痘瘡喜紅活充實，若不紅活充實者，虛也，紅腫太過者，實也。假如灰白色，當起不起，其頂平陷者，此氣虛也。必問其人初起證候，如初起吐瀉不能飲食，其後瀉止而灰白頂平者，此正氣虛弱。用：</p>
<p><u>十全快斑湯</u></p>
<p>人參　黃耆（炙）　甘草（炙）　白朮　白芍　歸身　川芎　木香　官桂　陳皮　藿香</p>
<p>大棗生薑，水煎。</p>
<p>其瀉一向不止，用異功快斑湯兼豆蔻丸治之。</p>
<p><u>異功快斑湯</u></p>
<p>人參　黃耆（炙）　甘草　白朮　木香　歸身　桂心　陳皮　訶子　丁香　白茯苓</p>
<p>大棗為引，水煎。</p>
<p><u>豆蔻丸</u></p>
<p>木香　砂仁　白龍骨　訶子肉（各五錢）　白礬（七錢五分）　赤石脂　肉豆蔻（麵包煨，五錢）</p>
<p>共為末，麵糊丸，如粟米大，每服五十丸至百丸，米飲送下。如甚者用：</p>
<p><u>理中湯加附子</u></p>
<p>人參　白朮　甘草　乾薑（炒）　附子（煨熟）　訶子肉</p>
<p>水煎服。</p>
<p>若未吐泄，其人素怯，此元氣不足，用：</p>
<p><u>補元快斑湯</u></p>
<p>人參　黃耆（炙）　白朮　甘草（炙）　歸身</p>
<p>水煎服。</p>
<p>如誤服解毒涼藥及飲冷水者，用：</p>
<p><u>調中快斑湯</u></p>
<p>人參　白朮　白茯苓　甘草（炙）　半夏　桂心　木香　陳皮　蒼朮　厚朴　藿香葉</p>
<p>生薑引，水煎服。</p>
<p>若灰白色又加癢塌、頂陷、腹脹者，此不可治之證。</p>
<p>假如紫紅焮腫，此血熱也，用：</p>
<p><u>涼血快斑湯</u></p>
<p>連翹　歸梢　生地酒　紅花　升麻　牛蒡子　甘草</p>
<p>大便秘者加紫草，甚者加大黃。小便秘加木通。</p>
<p>水煎服。</p>
<p>若其人素實，初起誤服熱藥以致斯症，用：</p>
<p><u>三黃解毒湯</u></p>
<p>酒芩　酒連　酒柏　木通　甘草　酒梔仁　升麻　連翹　牛蒡（炒）</p>
<p>淡竹葉水煎服。</p>
<p>若紫赤變黑，喘渴不寧者，此不可治。醫者不知氣血虛實之分，喜行溫補者，不知內實，妄用陳氏木香異功之劑；喜行解毒者，不問中虛，妄用芩連梔柏之類，實虛虛實實，執於一偏，其誤人多矣。戒之！慎之！</p>
<p>一發便如錫餅形，皮膚浮腫勢崢嶸，</p>
<p>其人能食方無慮，不食昏迷鬼伴行。</p>
<p>凡痘瘡稠密，要依次起發，紅活尖者吉；一齊起發，遍身白色如錫餅形，頭目浮腫者，此惡候也。但看其人飲食如何，若能食大便堅，小便清，無他症，往往延至日久，渾身皮脫而愈。若不能食，後加吐泄，熱渴，瘙癢者，必死之症。能食者，宜服解毒之藥，用：</p>
<p><u>助脾快斑湯</u></p>
<p>陳皮　山楂肉　荊芥穗　牛蒡（炒）　甘草　木香　青皮　枳殼　木通</p>
<p>水煎服。不可多服。</p>
<p>起發之初未試漿，口唇瘡色早焦黃，</p>
<p>如斯惡候無人識，慢自多方立紀綱。</p>
<p>口唇者，脾之候也。脾司手足以養血氣，所以痘瘡不宜脾胃受病。如初出起發之時，漿水未試，口唇瘡色內帶黃漿者，此惡候也。時人不識，喜其成漿，便呼為吉，不知六七日間，其瘡先靨，剝落一層，漸加而死矣。</p>
<p>起發瘡頭帶白漿，不拘何處總為殃，</p>
<p>慢誇妙手通仙訣，七日之中見不詳。</p>
<p>凡痘由紅點而水疱，由水疱而膿疱而結痂，有自然之序。初起發頭帶白漿者，此疫癘也，不可治。</p>
<p>發時磊落最堪誇，相串牽連事可嗟，</p>
<p>若又四圍添小粟，定然瘙癢症來加。</p>
<p>凡痘起發，顆粒分明、尖圓磊落者吉，若彼此串連成一片者凶。如上分氣血虛實，用解毒快斑之藥治之；若本痘發或於根窠四畔又旋出小者，攢簇本瘡成叢似粟者，不待養漿即加搔癢而死矣。</p>
<p>起發常時驗四肢，發如不透或凶危，</p>
<p>此緣脾胃多虛弱，發散還須當補脾。</p>
<p>凡痘瘡之時，須視手足何如。若手足循序起發，此脾胃素強，毒氣得越，不必憂慮。若遍身俱起，手足起不透，此脾胃本弱也。蓋脾胃主灌溉四肢，今既虛弱不能行其津液，使毒得越，所以手足起發不齊，宜用：</p>
<p><u>補脾快斑湯</u></p>
<p>人參　黃耆　甘草　防風　防己　官桂（少許）</p>
<p>水煎服。</p>
<p>若手足痘見而復隱，起而復塌，此本根已掇，枝葉先萎之象，乃必死之候也。</p>
<p>變輕變重生斯時，調養看承勿縱馳，</p>
<p>禍發卒然難救治，噬臍束手悔時遲。</p>
<p>痘疹有輕變重者，犯禁或誤醫藥、受寒也。有重變輕者反是。然輕重吉凶之變，存乎起發之時，調護不可縱馳也。或遇暴風驟雨迅雷，即當以密布帷帳，緊餙房戶，以防客風怪氣之侵。如失調護，為寒涼所郁，不能起發，用：</p>
<p><u>正氣快斑湯</u></p>
<p>羌活　蒼朮　甘草　防風　桔梗　當歸　乾葛　白芷　川芎</p>
<p>冬月加官桂。</p>
<p>生薑為引，水煎服。</p>
<p>凡痘起發之時，遇久陰雨不能起發，用：</p>
<p><u>平胃快斑散</u></p>
<p>蒼朮　陳皮　厚朴　甘草　羌活　防風　官桂　豬苓　白茯苓</p>
<p>水煎服。</p>
<p>凡痘當起發，遇天氣暄熱，俗人不知，謂痘欲溫暖，蓋覆太厚，以致毒火遏郁不得越者，此壯火食氣，反虛其氣也。用：</p>
<p><u>白虎快斑湯</u></p>
<p>人參（二錢）　石膏（煅）　甘草　麥冬　葛根　升麻　淡竹葉</p>
<p>昏迷者加辰砂末，小便赤者加木通，大便堅者加生石膏。</p>
<p>水煎服。</p>
<p>凡痘瘡當起發，誤傷生冷，以致脾虛不能起者，用：</p>
<p><u>理中快斑湯</u></p>
<p>人參　白朮　白茯苓　炙草　官桂　炙姜　木香</p>
<p>嘔吐加半夏。泄瀉加訶子肉。</p>
<p>生薑為引，水煎服。</p>
<p>凡痘瘡起發，內傷飲食，腹中飽悶或痛，以致中氣鬱遏，不能起發透者，用：</p>
<p><u>寬中快斑湯</u></p>
<p>陳皮　半夏　白朮　枳殼　神麯　山楂肉　砂仁　黃連　木香　甘草　厚朴　青皮　連翹</p>
<p>生薑為引，水煎服。</p>
<p>凡痘瘡起發誤服湯丸，偏寒偏熱以致不透者，必詳問其所服之藥。若偏寒者，調中快斑湯主之；偏熱者，以三黃解毒湯主之。（二方見前。）</p>
<p>自此常宜大便堅，如常調理保無艱，</p>
<p>若逢泄瀉無休歇，寒熱須叫仔細參。</p>
<p>痘瘡自起發之後，大便要堅，雖三四日不大便亦無事；小便常欲流利，若見赤少者，用：</p>
<p><u>四苓新加湯</u></p>
<p>豬苓　澤瀉　赤芍　木通　滑石　甘草梢　連翹</p>
<p>燈心、淡竹葉為引，水煎服。</p>
<p>如有忽然泄瀉者，要分寒熱治之，視其所泄之物，或焦黃酸臭者，此內熱也，或傷飲食，用：</p>
<p><u>胃苓和中湯</u></p>
<p>豬苓　澤瀉　白朮　白茯苓　陳皮　訶子肉　甘草（炙）　黃連（酒炒）　木香　升麻　藿香</p>
<p>粳米飲，水煎服。</p>
<p>若出之物青白澄冷者，裡寒也，用附子理中湯。（方見前。）</p>
<p>久泄不止者，用理中湯吞豆蔻丸。（方見前。）</p>
<p>其人能食素脾強，大便雖溏也不妨，</p>
<p>但用補中消導藥，二陳君子是奇方。</p>
<p>如能食，雖有泄瀉，不能為害，當服補中之藥，用：</p>
<p><u>六君子湯</u></p>
<p>人參　白朮（炒）　白茯苓　炙草　陳皮　黃耆（炙）　半夏　神麯（炒）　木香　升麻（酒炒）　砂仁</p>
<p>大棗，水煎。</p>
<p>起發頭面預腫時，大頭時氣可兼醫，</p>
<p>瘡宜磊落色宜潤，反此須防命必墮。</p>
<p>凡痘瘡起發有頭面由漸而腫者，此毒氣發越，聚於三陽，欲作膿血，故皮肉焮腫，此雖正病，亦當解毒、護目、救咽喉而兼治之，用：</p>
<p><u>消毒化斑湯</u></p>
<p>桔梗　牛蒡　人中黃　連翹　防風　紫草　升麻　蟬蛻　密蒙花　龍膽草</p>
<p>水煎服。</p>
<p>若頭面不腫者，必瘡本稀疏磊落，痘根淺輕，雖作膿血卻不佔處，故宜不腫，不必治之。若瘡稠密，應腫不腫者，此毒郁留於內，不能發越，急服：</p>
<p><u>托裡快斑湯</u></p>
<p>羌活　防風　牛蒡　桔梗　升麻　荊芥穗　連翹　甘草　葛根　歸梢　官桂（少許）</p>
<p>竹葉引，水煎服。</p>
<p>起者吉，不起者凶。至於腫時，又要觀其皮色何如。磊落紅活者吉，模糊黑暗灰白多不可治也。亦有痘瘡將起發，便先頭目腫者，此天行疫癘之氣，名大頭瘟是也，急宜解毒，用：</p>
<p><u>苦參散</u></p>
<p>羌活　防風　牛蒡　桔梗　連翹　人中黃　酒芩　荊芥穗</p>
<p>水煎，入竹瀝薑汁，細細嚥之。</p>
<p>頭面腫胖閉雙睛，此為惡症謹關心，</p>
<p>未及收較生瘙癢，退腫開明事不寧。</p>
<p>痘瘡起發，頭面腫，有閉目者，有不閉目者，但觀其瘡之疏密輕重。若疏輕者，目自不閉；重密者，其目要閉。宜閉不閉者凶。但遇目閉之時，必待收較，而後漸開可也。若未及收較，漸生瘙癢，腫消目開者，凶。</p>
<p>痘瘡痛癢作何憑，癢虛痛實自分明，</p>
<p>都來痛者終為吉，諸癢緣無一吉云。</p>
<p>大凡諸痛為實，癢為虛。謂之實者，邪氣實也，謂之虛者，正氣虛也。蓋痘瘡始終，氣以載之，血以養之，氣血充實，則禁固其毒，不得橫行，所以緊實而為痛也，痛乃美事，不須服藥。苟欲治之，用：</p>
<p><u>涼血芍藥湯</u></p>
<p>白芍（酒炒）　歸梢　生地　酒紅花　地骨皮</p>
<p>水煎服。</p>
<p>若氣血虛，則邪氣橫行氾濫，皮肉不任燎灼浸螫，是為癢也。蓋痘瘡惟回頭作癢者容或有之，此否極泰來之兆也。若發熱及養漿時作癢者，此危證也。內服托裡解毒之藥，外用世俗熏洗之法，令無致於癢塌破陷可也，仍要分虛實治之。若始能食而大便秘者，此邪氣內實，正氣外虛，宜用：</p>
<p><u>加味四聖解毒湯</u></p>
<p>紫草　木通　枳殼　黃耆　桂枝　大黃（酒炒）</p>
<p>水煎服。</p>
<p><u>浴洗法</u></p>
<p>升麻　蒼朮　麻黃　槐枝　柳枝</p>
<p>煎水，乘熱拭之。</p>
<p>若泄瀉者，此乃正氣裡虛，邪氣外實也。宜用：</p>
<p><u>調元托裡湯</u></p>
<p>人參　黃耆　甘草　木香　陳皮　訶子肉　桂枝　防風　赤芍　羌活　荊芥穗</p>
<p>生薑為引，水煎服。</p>
<p><u>俗熏法</u></p>
<p>用茵陳、白艾，二味燃火熏之。</p>
<p>如用上二法而癢止者吉，反甚者凶，莫治。</p>
<p>起發之時熱渴加，火邪內迫事堪嗟，</p>
<p>急宜解毒生津液，休得俄然恨落花。</p>
<p>凡痘瘡起發，身上作熱者，不可除其熱，若不熱則瘡不能發。如熱太甚，過於常時，唇焦口燥，小便短少者，不可不治。用：</p>
<p><u>導赤解毒湯</u></p>
<p>木通　防風　甘草　麥冬　連翹　地骨皮　升麻　赤芍　葛根　生地　天花粉</p>
<p>燈心引，水煎服。</p>
<p>若痘瘡作渴，此是常事，蓋由胃中津液不能滋養本元，內則熾於毒火，外則灌潤於瘡，故宜渴耳。凡渴之時，一切瓜果生冷之物不可與食，只宜炒米湯頻頻飲之可也，雖椒薑湯亦不可飲。若渴太甚者，看其人虛實而治。如大便堅實而渴者，此內實作熱也。用：</p>
<p><u>生津地黃湯</u></p>
<p>生地　麥冬　知母　甘草　天花粉</p>
<p>竹葉引，水煎服。</p>
<p>若泄瀉而渴者，內虛也。用：</p>
<p>白朮　人參　木香　甘草　藿香葉　白茯苓　葛根</p>
<p>水煎服。</p>
<p>幾番起發便無聲，咬牙憎寒神識昏，</p>
<p>乾嘔錯喉痰氣急，瀉青腹脹總歸冥。</p>
<p>痘瘡始終要聲氣清朗，人事安靜，五臟堅實，飲食如常。若起發之時，忽然失聲，咬牙寒戰者，煩躁昏迷者，嗆水錯喉乾嘔者，痰氣喘急者，泄瀉不止者，腹脹悶亂者，俱皆凶症。人皆云：瘡出而聲不變者，形病也；瘡未出而聲變者，氣病也；瘡出而聲不出者，形氣俱病也。將欲治之，誠難為力矣。（咳嗽失聲者，非此也。）</p>
<p>病人嘔噦勢堪驚，莫認寒邪在胃停，</p>
<p>妄進湯丸如拙匠，內傷臟腑死將臨。</p>
<p>凡痘瘡乾嘔無物，或時常噦逆者，此臟腑內傷，衝任之火上犯清道而出，故為嘔噦之惡聲。經曰：弦敗者，聲必嘶；木陳者，葉必落；臟敗者，聲必噦。針灸無功，湯藥無效，此之謂也。若飲食而嘔者，當分寒熱而治。如曾傷冷物，受寒氣，此寒嘔也。用：</p>
<p><u>二陳理中湯</u></p>
<p>人參　白朮　陳皮　白茯苓　半夏</p>
<p>生薑為引，水煎服。</p>
<p>如未傷冷物寒氣，此熱嘔也。用：</p>
<p><u>二陳一連湯</u></p>
<p>陳皮　半夏　白茯苓　黃連（酒炒）</p>
<p>竹茹、生薑引，水煎。</p>
<p>若飲食哽塞而嘔噦者，咽中有瘡必作痛，閉塞而嘔也。用：</p>
<p><u>加味鼠黏子湯</u></p>
<p>桔梗　牛蒡（炒）　射干　防風　甘草　山豆根　陳皮（去白）　荊芥穗　連翹</p>
<p>水煎服。</p>
<p>更用控涎散吹之。</p>
<p>辰砂（二分）　雄黃（三分）　兒茶（五分）　黃柏（五分）　硼砂（一分）</p>
<p>共研極細為末，少許吹之。即一聖散亦妙。（方見前。）</p>
<p>遍身稠密發末透，啼哭呻吟更煩躁，</p>
<p>狂言妄語見鬼神，臟腑敗傷大限到。</p>
<p>凡痘瘡稀者，自然易壯，密者，切防血氣虧損，起發不透，即是病之所在，如前法治之。虛則補之，實則瀉之，在氣治氣，在血治血，臨機應變，每中權衡，不可執方以誤人命。若補瀉無功，反增沉重或啼哭不止，日夜呻吟，煩躁悶亂，狂言妄語，如見鬼神，此臟腑傷敗，神魂離散，復何為哉！</p>
<p>治痘難起法：</p>
<p>臘月採梅蕊，於瓦上曬乾，莫犯鐵器，如不幹，封在瓷罐內，明日又曬，俟乾研末。每用一錢，同辰砂三分，麝香三分，共為末，收入瓷罐內，外以黃蠟封固，臨時看痘何如，熱則以水調下，虛者以酒調下。大人三分，小兒一分。</p>

<h1>卷之九</h1>

<h2>成實症治歌括</h2>
<p>凡二十首。</p>
<p>起發已透漸成膿，毒隨膿化語無凶，</p>
<p>或成空殼及清水，毒氣流連慮保終。</p>
<p>凡痘瘡自起發之後，血化為水，水化為膿，至此膿已成，毒已化矣，飲食如常，不亦吉乎。若當起發，殼中出水者，此氣至而血不隨也，治之當益其榮，用：</p>
<p><u>四物化毒湯</u></p>
<p>川芎　歸身　生地　甘草（少許）　白芍　官桂（少許）　麥冬　牛蒡　木通</p>
<p>水煎服。</p>
<p>或含水色平塌不起者，此血至而氣不隨也，當益其衛，用：</p>
<p><u>保元化毒湯</u></p>
<p>人參　黃耆　甘草　歸身　川芎　荊芥穗　官桂　牛蒡　防風　赤芍</p>
<p>水煎服。</p>
<p>或窠囊浮腫，中含清水，如水疱之狀者，此血氣俱虛，不能制痘，反為痘逼，漸變癢塌。治之當托其毒，固其榮衛，使無癢塌，以十全化毒湯主之。其方補氣血，內加解毒藥。亦有飲食如常，六腑充實者，若見空殼清水之症，雖能斂收，未免為癰毒也，不可不早治之。</p>
<p>遍身毒已化為膿，只怕形生變症攻，</p>
<p>莫言無事因循過，凶吉災祥反掌中。</p>
<p>痘瘡至成膿疱，此收功之時，手足常要和暖，過熱過寒者變也。人事常要安靜，煩躁悶亂者變也。六腑常要充實，忽然吐痢者變也。聲音常要響亮，忽然啞者變也。飲食要漸進，忽不食反作渴者變也。色要蒼蠟，形要飽滿，忽灰白平塌者變也。瘡要安和，忽癢痛者變也。或觸風寒，或犯禁忌，或傷食，或誤以湯藥治之者。</p>
<p>四肢溫暖最相宜，寒熱乖常勢漸危，</p>
<p>補瀉中間能謹慎，折肱端的是良醫。</p>
<p>凡痘瘡，手足常要和暖，不宜太熱太寒。寒熱太甚則水火偏勝而殘矣。假如病人六臟閉結，狂妄煩躁，口乾作渴，其脈洪數沉緊者，此實也。手足熱者本病也，若冷者陽極似陰，謂之陽厥，宜泄之勿疑也。當用：</p>
<p><u>承氣化毒湯</u></p>
<p>枳實　厚朴　大黃（酒炒）　檳榔　甘草</p>
<p>水煎服。</p>
<p>若病常吐泄痢，其脈微弱沉細者，此虛也。手足冷者本病也，若熱者乃陰極似陽，謂之陰燥，宜補之勿疑也，用：</p>
<p><u>回陽化毒湯</u></p>
<p>人參　官桂　白茯苓　白朮　甘草　熟附</p>
<p>水煎服。</p>
<p>養漿安靜始為期，戰惕鳴牙總不宜，</p>
<p>痛癢躁煩雙足冷，縱然盧扁也難醫。</p>
<p>凡痘瘡已成漿，或寒戰，或咬牙，單見一證者可治，蓋寒戰因瘡出太甚，表虛而振振動搖也。用：</p>
<p><u>養衛化毒湯</u></p>
<p>人參　黃耆（炙）　桂枝　甘草　當歸</p>
<p>水煎服。</p>
<p>若咬牙者，心肝火甚，其牙相戛而鳴也。用：</p>
<p><u>清神化毒湯</u></p>
<p>升麻　生地　麥冬　木通　防風　甘草</p>
<p>水煎服。</p>
<p>若寒戰咬牙並作者，此陽脫神喪，不可治矣。若瘡痛者，膿血繃急而脹痛也。用：</p>
<p><u>導神化毒湯</u></p>
<p>木通　麥冬　梔子仁（酒炒）　甘草　辰砂（研調）　酸棗仁（炒）</p>
<p>燈心引，水煎服。</p>
<p>若煩躁不止，反增昏悶者，死矣。若吐痢而手足冷者，宜用回陽化毒湯。如兼寒戰咬牙，昏悶煩躁、癢塌者，難醫也。</p>
<p>有膿有血毒歸瘡，只要其人正氣強，</p>
<p>莫遣中虛生吐瀉，功虧一簣費消詳。</p>
<p>凡痘瘡成漿之時，不宜吐泄。如吐而無物者，寒嘔也，此衝任之火上衝於胃，直犯清道而逆出之，乃惡症也。吐而有物者，用：</p>
<p><u>養胃化毒湯</u></p>
<p>白朮　陳皮　白茯苓　砂仁　黃連（薑汁炒，少許）</p>
<p>水煎。</p>
<p>若泄，視其所出之物何如，若色黃而臭者，熱也，用：</p>
<p><u>香連化毒湯</u></p>
<p>木通　黃連（炒）　豬苓　甘草（炙）　白朮</p>
<p>水煎服。</p>
<p>若所出之物清冷者，寒也。用：</p>
<p><u>理中化毒湯</u></p>
<p>人參　甘草　白朮　白茯苓　乾薑</p>
<p>水煎服。</p>
<p>如泄久不止者，不論寒熱，通用理中化毒湯吞豆蔻丸。（二方見前。）若吐瀉不止，手足冷者，用：</p>
<p><u>附子化毒湯</u></p>
<p>附子　乾薑　白朮　人參　黃耆　炙草</p>
<p>水煎服。</p>
<p>或陳皮香術散，皆可選用。但二方猛峻，不可不慎也。其有無時溏瀉，手足和暖，飲食如常者，雖治之不止，亦可言無事也。</p>
<p>身外諸瘡膿血成，咽喉從此要和平，</p>
<p>反加嗆水聲音啞，咽爛喉穿敢料生。</p>
<p>凡痘初出，失於調解，以致毒火熏蒸，喉舌生瘡；又失於解毒，其瘡稠密。然外瘡未熟，至於養水之時，則先熟者又先靨矣，所以咽喉宜漸和平，聲音清亮，飲食不難，此吉兆也。若當此之時，及飲食則嗆，食谷則噦，甚者失聲，此內瘡糜爛，舌上成坑，咽門腐壞，肺管壅塞，則致呼吸皆廢，飲食卒絕而死矣。亦有先本無瘡，因食辛熱之物，或誤投辛熱之藥，其後旋生是症者，可急用：</p>
<p><u>甘桔化毒湯</u></p>
<p>甘草　桔梗　射干　連翹　牛蒡子（炒）</p>
<p>水煎，入竹瀝服。病退者吉，不退者凶。</p>
<p>或喉門中無瘡而暴啞者，此水陰之血不榮於舌也。用：</p>
<p><u>養心化毒湯</u></p>
<p>當歸　生地　麥冬　升麻　人參</p>
<p>燈心引，水煎服。</p>
<p>有聲而不清者，火乘於肺也。用：</p>
<p><u>瀉白化毒湯</u></p>
<p>桔梗　石膏（煅研）　地骨皮　天花粉　甘草</p>
<p>水煎，入竹瀝服。中病即止，不中者勿治。</p>
<p>起陷平尖腳潤紅，窠囊飽滿盡成膿，</p>
<p>自然色氣卻如式，略見差池便不同。</p>
<p>凡痘養漿之時，若平日中陷者即盡起，頂平者盡尖，根腳紅活，窠囊飽滿，其色蒼蠟，氣如蒸豆，自然吉。若灰白者，雖膿之正色，亦由氣之不足。用：</p>
<p><u>大補化毒湯</u></p>
<p>人參　白朮　甘草（炙）　黃耆（炙）　歸身　官桂（少許）　赤芍</p>
<p>水煎服。</p>
<p>或因泄瀉而致此者，用：</p>
<p><u>固本化毒湯</u></p>
<p>人參　白朮　甘草（炙）　乾薑（炙）　官桂　訶子肉（炒）　丁香</p>
<p>水煎服。</p>
<p>若氣腥臭者，此有濕熱，當解其標。用：</p>
<p><u>解肌化毒湯</u></p>
<p>升麻　葛根　連翹　赤芍　甘草　天花粉　黃柏（酒炒）　蒼朮（米泔浸炒）　荊芥穗</p>
<p>水煎服。</p>
<p>更用益元散薄敷瘡上，令無至於潰爛。</p>
<p>滑石（二兩）　甘草（五錢）</p>
<p>共為細末，蜜水調敷。焦痛者，入胭脂水敷。</p>
<p>養漿時怕癢來攻，用心調護拯疲癃，</p>
<p>不分乾溼皆凶兆，只要成瘡有血膿。</p>
<p>凡痘至成漿，切防瘙癢抓破，以泄其氣。俗言抓破出血者吉，不血者凶。殊不知起發之時，其瘡未熟而內是血攻，抓破宜出血；若養漿之時，其瘡已熟而內是膿，抓破者有血無血，何足以定吉凶？大抵不宜作癢，如作癢而人事爽，自知其誤抓破，或言其癢欲人拊之者，吉；若癢而煩躁悶亂，語之不聽，禁之不止，搖頭扭項，手足舞亂者，凶也。如其人清爽，瘙癢不住者，當視形體虛實，未曾吐瀉，用：</p>
<p><u>四聖化毒湯</u></p>
<p>木通　歸尾　赤芍　防風　官桂（少許）</p>
<p>水煎服。</p>
<p>如元氣素弱而有吐泄者，用：</p>
<p><u>參歸化毒湯</u></p>
<p>人參　當歸　黃耆　赤芍　桂枝　白朮　炙甘草</p>
<p>水煎服。</p>
<p>以上二症俱用熏法。（見前。）</p>
<p>又要看其抓破者，若復灌膿成瘡則吉，破而不灌，皮肉焦黑者，不可治也。</p>
<p>正面將膿早破傷，依然腫灌後成瘡，</p>
<p>莫嗟敗面留殘喘，腫若消時可斷腸。</p>
<p>凡視痘瘡以正面為主，蓋五臟精華故聚於面也。如別處痘瘡破損者，正面完全，可主無事；若正面成片破損，別處雖完全，亦何益哉？若破處後得腫灌成瘡，膿血淋漓，卻又無事，面雖敗，穿鼻破唇，但留殘喘耳，豈不愈於死耶？若破處不灌不腫，其腫又消而目開者，此毒氣倒陷，決不可治也。</p>
<p>眉心鼻準耳輪邊，唇口諸瘡要活鮮，</p>
<p>但有焦枯並黑靨，慢求醫卜早尋棺。</p>
<p>凡痘欲成膿之時，眉心、鼻準、耳輪、兩頰，若先有焦枯黑靨者，此名倒陷，醫之不能，禱之無益，凶兆也。</p>
<p>待得成漿便得漿，切防干塌見空囊，</p>
<p>是名倒陷多乖證，治此須知各有方。</p>
<p>凡痘自出現而起發，自起發而至養漿之時，便要成漿，如當養漿而反不成漿，依舊平塌者，與未起發時相似，或起發內卻有空虛乾枯無水，皆名倒伏。謂之倒者，膿根在裡也。謂之伏者，毒伏而不出也。謂之陷者，毒出而復入也。此等時候，人事精爽，飲食如常，別而治之。小便大便秘結，壯熱煩渴者，宜下之，以承氣化斑湯主之。（方見前。）若吐瀉頻數，六脈虛弱者，宜溫之，以回陽化毒湯主之。若人事昏悶，寒戰咬牙，足冷腹脹喘促者，死。</p>
<p>額上渾如沸水澆，溶溶破爛不堅牢，</p>
<p>漸延兩頰多虧損，泄盡元陽死莫逃。</p>
<p>凡痘瘡起發養漿，如額上似沸水之象，皮溶易破，不成顆粒，大片煩爛，此醫生不主，毒火熏蒸，漸延兩頰，破損水出而干，似靨非靨，則陽脫陰留，徒增煩悶呻吟而死矣。</p>
<p>瘡頭有孔出膿侵，聚結成堆雞屎形，</p>
<p>此個未聞人救得，不須醫治費辛勤。</p>
<p>凡痘最要皮囊堅厚，色裹完全，若瘡頭有孔，膿水漏出，堆聚乾結，其色灰白，如天疱瘡及癩瘡之形者。或清水非膿，無事自破，水出乾黑者，皆癘氣所為，傳染相似，俗名漏瘡，未有能治者矣。</p>
<p>臂膊腰臀久著床，好瘡堅實自無傷，</p>
<p>如逢破爛無膿水，未見何人命久長。</p>
<p>凡痘稠密，最難為臂膊、正背、腰臀之間，其處久著床蓆，展轉捱磨，若非堅厚，鮮有不破者，但破須要腫灌，若焦乾黧黑，如火燒湯潑之狀者，必死。又見其人手足破爛成片而不灌者，亦必死矣。</p>
<p>略見漿膿謹護持，莫教人物往來馳，</p>
<p>邪風穢氣相侵觸，變亂無常悔卻遲。</p>
<p>凡痘瘡起發之後漸漸養漿，即當謹⿸疒念房戶，禁止人物，內者休出，外者休入，謹防穢厭觸犯其瘡，輕者作癢作痛變而為重；重者癢塌抓破煩悶而變死矣。故房戶內外常要燒蒼朮、大黃以避不正之氣。今人只用稻草燒煙，亦省易也。切不可燒諸香，香能助火，透入關門，所以禁之。其諸厭穢物，房事最毒，酒次之，五辛又次之。死屍之氣烈於糞穢，狐貍之氣甚於犬羊。烈風暴雨亦能為害，飲食之偏寒偏熱者，勿恣於口也。天氣太熱則薄其衣被，常令清涼，太寒則溫其蓋覆，常令溫暖，皆調治切要之法，不可不知也。世俗所用僧道於家誦咒，灑水解滌厭穢，此借密靈章以卻不祥，用之無忌。但僧道恐有不潔者，反為害矣。解厭之時，每以法水與病者飲之，此害之甚者。蓋痘飲冷水，收靨不齊，迷而後悟，自可嘆也。所以醫師僧道，必用老成之人，既能清心寡慾，且又經歷多次，自然能司人之命也。凡被房事生產所厭者，以棗燒煙解之。被酒厭者，以葛根、茵陳蒿燒煙解之。五辛厭者，燒生薑煙解之。死屍疫癘厭者，以蒼朮、大黃燒煙解之。狐臭犬羊厭者，楓香球煙解之。凡遇風雨，燒蒼朮、楓香球煙以避之。</p>
<p>膿血淋漓心臟虛，舍空神亂似邪如，</p>
<p>妄言睡語難甦醒，養血安神病自除。</p>
<p>凡痘稠密者，成漿之時，或昏昏而睡，呼之不醒，口中喃喃，狂言妄語，如被邪之狀，時人不知，多生驚恐，殊不知此由血氣出多，心舍空虛，神無所依而然，當養血安神，其病自除，用寧神化毒湯及安神丸主之。</p>
<p><u>寧神化毒湯</u></p>
<p>人參　當歸　生地　麥冬　木通　石菖蒲　赤芍　山梔仁</p>
<p>燈心引，水煎服。</p>
<p><u>安神丸</u></p>
<p>黃連（炒，一錢）　當歸（一錢五分）　茯神（八分）　炙甘草（五分）　遠志（去心，一錢）　石菖蒲（一錢）　酸棗仁（去殼，五分）</p>
<p>共為末，豬心血搗碎和丸，如粟米大，辰砂為衣，燈心湯下。如服藥仍不醒，反加悶亂者，必死。</p>
<p>瘡成腹痛是何因，便秘腹中燥糞侵，</p>
<p>誤傷生冷成斯證，補瀉中和病即寧。</p>
<p>痘出之初腹痛者，可為毒氣，瘡成無膿而腹忽痛者，未可言毒也，當審其人便解飲食何如耳，向若未得大便，此燥糞在裡而痛，用大黃化毒湯微利之。</p>
<p>升麻　歸身　生地　麻仁（研）　桃仁（泥）　紅花　枳殼　大黃（酒蒸）　檳榔（研末）</p>
<p>水煎後，入桃仁泥、檳榔末同服，不可拘首尾不可下之說，坐以待變也。若因誤傷生冷，或飲冷水而痛者，用：</p>
<p><u>溫中化毒湯</u></p>
<p>人參　丁香　木香　白朮　桂心　炙甘草　白芍（炒）　砂仁　枳實　陳皮　乾薑（炙）</p>
<p>水煎服。</p>
<p>痘毒無邪膿血成，忽然腹脹氣攻行，</p>
<p>此因多傷飲食起，消導分明病自寧。</p>
<p>凡痘順正，表裡無邪，膿血已成，可無苦矣。忽然腹脹氣喘，色變煩躁者，必傷食而得也。何以知之，以其瘡正故也。輕者消導之，用：</p>
<p><u>助脾化毒湯</u></p>
<p>陳皮　半夏　厚朴　枳殼　蘇子（炒）　萊菔子（炒）　檳榔</p>
<p>水煎服。</p>
<p>重者用：</p>
<p><u>不二丸</u></p>
<p>蒼朮（制，二錢）　草烏（去皮尖，一錢）　羌活（兩半）　杏仁（去皮尖用，四十九粒）　巴豆（去殼油，四十九粒）</p>
<p>共為末，神麯糊為丸，如皂角子大，黃柏研末為衣，每一丸用原所傷之物，煎湯送下，再服補中化毒湯。</p>
<p>痘瘡盡說待膿成，誰知膿成未足憑，</p>
<p>飽滿堅牢誠可愛，塌平淫濕又堪驚。</p>
<p>世俗之見，但知痘過了一七，發起作膿，便言無事，不知膿成之時，尚未可憑信，若是郛郭堅厚，膿漿飽滿，言其無事，信矣。如平塌不飽滿，淫濕不堅厚，莫言無事。至於十二三日之後，尚有變異，延綿日久而有死者矣。</p>
<p>除卻諸般險逆瘡，且將順正與推詳，</p>
<p>緣何到得成漿日，又有凶危不可量。</p>
<p>凡痘分三等，有順有險有逆。逆者不可治，險者治則吉，順者不必治。今除險逆者，不必論矣。然順者亦有成漿之日，反變為險逆者，此何故也？蓋有失調理，觸犯禁忌，誤服湯丸，喜其輕少而不調護，故令輕者變重，此人事害之也。又有隻出一二粒而殞命者，氣使然也，豈人能逆料者哉。</p>

<h1>卷之十</h1>

<h2>收靨症治歌括</h2>
<p>凡一十七首。</p>
<p>收靨難拘日數論，但憑稀密實虛分，</p>
<p>緩收循序多堅穩，太急須防餘毒侵。</p>
<p>痘瘡收靨不可以日數拘也。大抵痘本稀，元氣實者，易出易靨；痘本密，元氣虛者，難出難靨。只要循序緩收，太急者，乃毒火熬煎，氣血焦枯，非正收也，必發癰怪症，甚則喪軀，微則殘形矣。</p>
<p>人中上下分陰陽，收靨先於此處良，</p>
<p>若是足顱先靨黑，多凶少吉早提防。</p>
<p>人中者，任督二脈交會之衢也，痘瘡先從此處出壯收靨，為陰陽和暢，若於額顱、手足心先靨者，乃邪氣攻心，莫救。</p>
<p>收靨從來要整齊，臭腥煩爛便蹺蹊，</p>
<p>中間順逆宜詳審，不可逡巡當日迷。</p>
<p>痘瘡收靨貴於整齊，干圓如螺靨者上也。頂破膿出，結如雞屎者次也。破損無痂者下也。凡遇此等收靨，便須詢察曾犯何逆，如氣血本實，曾誤投補藥者，以邪得補反蝕正氣，如火灼爛，宜用天水散解之。</p>
<p>滑石（一兩）　甘草（五錢）</p>
<p>共為細末，蜜水調，以鵝毛拂拭瘡上，則邪火退而收靨齊矣。</p>
<p>如初飲冷水浸漬脾胃，以致收靨不齊者，用除濕湯治之。</p>
<p>羌活　蒼朮　防風　木通　豬苓　澤瀉　白朮　赤芍　薄桂</p>
<p>水煎服，則內滲其濕，外燥其表，令好收靨也。</p>
<p>若頭面潰爛，其氣腥臭，及遍身手足和皮脫去者，宜分順逆。果膿成毒化，飲食如常，更無他苦者順也。膿水未成是名倒靨，不可量。</p>
<p>痘自收時膿自干，封藏收斂殼團圓，</p>
<p>莫教腐爛和皮脫，此個還將倒陷看。</p>
<p>痘瘡及成膿之後，結為螺靨，此毒從外解，若不能結痂反成腐爛，和皮脫去，此倒靨，毒氣入內也。</p>
<p>但逢倒陷細推詳，復腫翻生卻不妨，</p>
<p>頭面腫消空不補，痘根深入剝膚床。</p>
<p>凡痘倒陷者，系中氣不足，急用補中托裡湯治之。</p>
<p>黃耆　人參　甘草　牛蒡　當歸　連翹　薄桂　青皮　木香</p>
<p>水煎服。</p>
<p>服後已破者，復加腫灌，無痘處又復出一層者，謂之補空，俗云翻生痘是也。此是正氣不虧，邪氣不留，雖過期延日不為害也。如頭面不腫，空處不補，即《易》所謂剝以膚，切近災者矣，安可救哉？</p>
<p>頭面渾如堆屎形，鼻頭黃黑勢猙獰。</p>
<p>唇皮揭破多艱苦，嗆水之時又失聲。</p>
<p>滿面爛臭不成形，咬牙寒戰更無聲。</p>
<p>飲食如常幸無事，食難嗆水命須傾。</p>
<p>靨時泄痢忽頻頻，順逆中間仔細論。</p>
<p>膿血成痂為順候，不分水穀逆堪云。</p>
<p>收靨之時忽然泄痢，若膿血痂皮之物，此倒靨之症，乃脾強腎弱為順。痢儘自愈，不可強施。若痢不分水穀者，此腎強脾弱為逆，用陳氏木香散送豆蔻丸治之。痢止則吉，不止則凶。</p>
<p>過期不靨病遲遲，臭爛渾身靨不齊，</p>
<p>黏席黏衣多苦楚，白龍敗草任扶持。</p>
<p>凡痘成膿之後，過期不靨，渾身潰爛，以致黏衣黏席，用白龍敗草散貼襯鋪付最佳，用干牛屎燒灰，取中間白者，研細篩過敷之。用茅屋上陳茅燒過研細，篩過，鋪於席上，任其展轉，此草多受霜露，誠能解毒。</p>
<p>當靨不靨候須急，治法分來有數般，</p>
<p>縱意違師徒自斃，臨危方覺噬臍難。</p>
<p>凡痘當靨不靨，須要詳審，不可忽略。如冬寒之時，蓋覆少薄，被寒風鬱遏不能靨者，用：</p>
<p><u>桂枝解毒湯</u></p>
<p>薄桂　赤芍　牛蒡子　防風　蟬蛻</p>
<p>水煎服。</p>
<p>如夏月衣被太厚，熱氣熏蒸不能靨者，宜去其衣被，少令清涼，用：</p>
<p><u>甘露解毒湯</u></p>
<p>豬苓　澤瀉　麥冬　木通　黃芩　地骨皮　甘草　官桂　連翹</p>
<p>水煎服。</p>
<p>如一向大便裡熱太甚不能靨者，宜用當歸解毒湯微利之。</p>
<p>生地　歸身　麻仁（研）　枳殼　連翹　酒大黃　紫草</p>
<p>水煎服。再用膽導法尤佳。</p>
<p>將大豬膽一個，以竹管插入膽內，用線扎定，吹氣令滿，另以線一根作活線，須納其氣，以竹管納穀道中，解去活線，捏頭，令膽汁射入腸中，直待氣透，去膽便即通矣。如泄瀉氣虛不能靨者，此只收靨不齊，俗呼坐漿干也，不須妄治。如元氣素弱，以致難靨者，宜用參歸化毒湯解之。</p>
<p>黃耆　人參　當歸　牛蒡　甘草</p>
<p>水煎服。</p>
<p>世人不知此等關係，視若泛常，不早求治，待斃至死，悲夫！</p>
<p>膿水將乾結靨時，紛紛庸夫欠調持，</p>
<p>不知禁忌多翻變，卻似為山一簣虧。</p>
<p>世俗於痘收靨之時，即殺雞以食之，或椒姜之類，謂其和暖，殊不知雞能動風，辛能助火，脾胃強者無害，弱者反助火邪，以致發癰傷胃，口舌生瘡，則致壞病者多矣。或宜溫而過熱，宜涼而過寒，皆為犯禁，亦能生變，可不慎與。</p>
<p>一向渾身涼且和，靨時發熱事如何，</p>
<p>微微發熱干膿水，太甚焦枯病轉多。</p>
<p>痘瘡始終要有微熱，不可盡去，若收靨之時反太熱作渴，煩躁，此毒火在內，更防陷伏，急用：</p>
<p><u>生津涼血葛根湯</u></p>
<p>葛根　天花粉　地骨皮　歸梢　木通　連翹　甘草　牛蒡子　酒芩　柴胡　人參　淡竹葉</p>
<p>水煎服。</p>
<p>先曾破損灌成瘡，到得收時不斂漿，</p>
<p>此等頑瘡須急治，淋漓膿血久難當。</p>
<p>凡痘瘡犯著皮嫩易破者，本不治之症，但破損之時重複腫灌者，此正氣尚強，毒不能入而發於外，亦當依期收靨。設不能靨，乃正氣被邪氣剝削，雖能逐邪出外，不能逼邪成痂者，急用：</p>
<p><u>大補湯</u></p>
<p>人參　黃耆　當歸　甘草　連翹　官桂　牛蒡</p>
<p>水煎服。不可因循，反生災變。</p>
<p>數個頑瘡不肯收，犯時鮮血卻長流，</p>
<p>如逢此證休輕視，日久須教一命殂。</p>
<p>其痘瘡破損灌腫作痛，不幹膿水者，一名疳蝕瘡，一名陽瘡。犯著即出血不止，乃難治之證也，內服大補湯，外以綿繭散敷之。若逡巡不治，以致灌傷筋骨，穿膜破空，夭人命者多矣。</p>
<p>灌瘡滿面血膿多，敗面傷睛怎奈何，</p>
<p>卻在良醫施妙手，調和中外救沉疴。</p>
<p>如面瘡盡破，反復腫灌，膿血浸淫者，卻防壞眼殘形，宜服：</p>
<p><u>升麻解毒湯</u></p>
<p>升麻　白芷　酒芩　連翹　蟬退　淮木通節　牛蒡子　甘草節　密蒙花　白蒺藜　荊芥穗　防風　當歸</p>
<p>水煎服。</p>
<p>痘瘡抓破狀多般，出血乾枯成坑陷，</p>
<p>搔癢焦疼微小事，破穿潰肉使形殘。</p>
<p>其痘瘡抓破之症非一般，有破而出血者，此陽瘡也。宜用：</p>
<p><u>當歸涼血飲</u></p>
<p>當歸　紅花　酒芩　連翹　黃耆　地骨皮　人參　甘草　生地　牛蒡</p>
<p>水煎服。</p>
<p>有破而無水便乾枯者，此陷伏也。要瘡復灌肉復腫者為佳，內服托裡回生散。有破而成坑者，此內陷也，急用白龍散敷掩其瘡，內服：</p>
<p><u>托裡回生散</u></p>
<p>黃耆　當歸　連翹　甘草　官桂　人屎（燒過）　牛蒡子</p>
<p>水煎服。</p>
<p>若不詳審以上三症治之，微則殘形，甚則傷命矣。</p>
<p>收靨依期更著痂，或時戰慄或言邪，</p>
<p>三元正氣將回後，不必巫醫不必嗟。</p>
<p>凡痘收靨之時，皮痂圓淨，但時或戰慄，語急妄談者，此皆正氣將復不能自持，不必憂疑，須臾自定。</p>

<h3>又、附一十二條三方於後</h3>
<p>—自發熱至此不可以日期論也，或七八日而結靨者，或十二三日而結靨者，或半月者，或一旬再旬又三旬者，蓋毒氣有淺深，血氣有虛實，故收靨有遲速，今人以日期為限者，謬也。</p>
<p>—凡痘欲結靨，切防吐瀉，恐傷脾胃，氣虛而收靨不齊也，此以四君子湯加川芎、當歸、黃耆、官桂、木香、青皮治之。</p>
<p>—凡痘瘡收靨，先從兩頰口唇者吉，當以人中分上下。人中以上，督脈所行，人中以下，任脈所行，此陰陽往來之道路也，故其痘收靨亦兩因之，如有額上及手足先收者，多凶少吉。</p>
<p>—凡痘收靨者，熱不可盡除，蓋不熱則膿水不得干也，宜詳審細論其理。</p>
<p>—凡痘收靨有被床蓆挨破者，只以敗草散敷之，或以干牛糞燒灰敷者，此不可用。或以豆藤燒灰者，不能幹水，或以蕎麥灰者，乾燥作痛，惟敗草散最佳。</p>
<p>—凡痘收靨，世俗見收過心窩之時，輒以雞豬肉與之食，習以為常，不知脾土素健者，食之固無害。脾胃素弱者，或恣口腹，一食之後，吐瀉者有之，飽悶者有之，久而不治遂成疳證而致夭折者多矣。不若淡滋味、節飲食之為愈也。但人知終身食某物，當初懷食某物，孰知脾土受物所傷，不止於食，不服而已也。有傷食者，即以二陳湯加木香、青皮、香附米、砂仁、白朮、黃連、山楂治之。又有身不熱則痘收，如肉食之中輒與煎炒，胡椒、茱萸、生薑辛熱之物，痘雖乾水而熱毒尤生。或痢下膿血者有之；或成腫毒者有之；或成目疾者有之；或成口疳者有之；或成斑疹者有之；壯熱不退者有之。輕者綿延費治，重者多致難救，此乃父母之過愛，誰任其咎哉！治法見下餘毒條例。</p>
<p>—凡收靨後有痰響氣喘者，即燒竹瀝化消毒丸送下。</p>
<p>—凡收靨過期，膿水不幹者，此表虛有濕也，用大補湯外加蒼朮、防風、荊芥穗治之。</p>
<p>—凡收靨有灌成瘡，膿水不幹者，內服消毒丸，外敷綿繭散治之。</p>
<p>—凡收靨忽然大熱作渴者，用加減白虎湯治之。</p>
<p>—凡收靨之後宜常服白朮散調治。</p>
<p>—凡收靨又當視其殼色以定吉凶。若殼如螺靨樣，蒼蠟色者吉，黑色者凶。不能成瘢，起白色皮者，亦宜調治，只要大小便調和無熱渴者無害。</p>
<p><u>加減白虎湯</u></p>
<p>知母　甘草　麥冬</p>
<p>竹葉引，水煎服。</p>
<p><u>綿繭散</u></p>
<p>用蠶蛾的綿繭不拘多少，以生白礬捶碎，置於繭內，炭火燒過，待礬汁盡，研細，干搽瘡上即效。</p>
<p><u>人參白朮散</u></p>
<p>人參　白朮　茯苓　甘草　桔梗　薏苡仁</p>
<p>水煎服。</p>

<h1>卷之十一</h1>

<h2>落痂症治歌括</h2>
<p>凡五首。</p>
<p>痂皮應脫卻不脫，此際誰知還作惡，</p>
<p>補脾表實有奇功，不可逡巡便棄藥。</p>
<p>其收靨痂殼自殘若黏著皮肉不落者，乃表虛也，尤當禁忌，不可因循，恐生變異，用：</p>
<p><u>調元固表湯</u></p>
<p>黃耆　人參　當歸　甘草　蟬蛻</p>
<p>水煎服。</p>
<p>收靨之後不落痂，昏昏喜睡自堪嗟，</p>
<p>只因脾胃多虛弱，調治專從戊己加。</p>
<p>如有此證者，乃脾胃虛而好睡也，戊己者，脾土也。宜用：</p>
<p><u>調元清神湯</u></p>
<p>人參　黃耆　當歸　麥冬　陳皮　甘草（炙）　酸棗仁　黃連（炒）</p>
<p>大棗引，水煎服。</p>
<p>落痂之後察瘡瘢，平整紅鮮日漸安。</p>
<p>若是凸凹並黑黯，好將敷藥拭迍邅。</p>
<p>其瘡落痂之後，瘢痕平整紅活者，吉。若瘢肉凸起，或凹陷紫黑，吉凶未可知也，用滅痕散敷之。</p>
<p>將密陀僧研細末，以乳汁調搽瘡疤，無乳汁，蜜調亦可，若此藥搽上，凸凹者自平，紫黑者自退，應效者吉，不應效者凶。</p>
<p>瘡痂自落不須忙，撏掐須教肌肉傷，</p>
<p>此日灌淫何足惜，終身常作血風瘡。</p>
<p>痂落精神漸復初，緣何頭足更遲留，</p>
<p>陰陽孤獨如鰥寡，安得同時取次收。</p>
<p>凡陽生者，以陰成之；陰生者，以陽成之。經云：孤陽不生，孤陰不成。又云：孤陽寡陰即不中，譬取鰥夫及寡婦。其瘡延收靨，自人中平分上下，髮際以上陽之陽也，謂之孤陽；足膝以下陰之陰也，謂之孤陰。所以瘡之收靨至此二處，每每遲留不能使干，不可服藥，聽其自然而已。</p>
<p>翳痘入目：</p>
<p>取鱔魚血，用牙器磨，以鴨毛刷上，一日七次即愈。</p>
<p>起瘡花眼：</p>
<p>青欖核切碎，焙乾，為末，每用一兩，取黃連一根，為末，同用。</p>
<p><u>痘癰方</u></p>
<p>胡椒　五倍子</p>
<p>共研為末，將糯米煮粥捶敷。</p>

<h1>卷之十二</h1>

<h2>餘毒症治歌括</h2>
<p>凡三十八首。</p>
<p>痘後緣何發痘癰，只因平塌少成膿，</p>
<p>毒邪蘊聚難消散，透節尋關出空中。</p>
<p>凡痘初出之時一點血，由血而化至膿，膿成毒解矣。</p>
<p>若出形之後，應起發而不起發，應成膿而不成膿，一片空殼，狀如蛇皮，或平塌破損，都無膿水，本為死證，但脾氣強又能飲食，亦可引日以收較，只是毒邪蘊蓄於裡，必尋出路於關節之間，而為癰毒。但發一二處可治，若流注於手足，發之不止，腫灌不愈，久而死矣。</p>
<p>癰毒先要分經絡，解毒調元兼里托，</p>
<p>決膿去毒急施功，莫待殘形變為惡。</p>
<p>凡癰之發，先看在何經絡，分血氣多少而治，次看人之虛實，以解毒托裡為先，不可亂施苦寒貼敷之藥，使毒不得出，內炎筋骨。如腫而未成膿者，用必勝膏貼之。</p>
<p>馬齒莧（杵汁）　豬膏脂　石蜜</p>
<p>共熬成膏，塗腫處。</p>
<p>若已成膿者，用鈹針決去其膿，用生肌散敷之。</p>
<p>白芷（一錢）　龍骨（五分）　貝母（二錢）　赤石脂（一錢）　白及（一錢）</p>
<p>共為末，敷之。</p>
<p>若腫瘍而元氣素弱者，用：</p>
<p><u>十六味流氣飲</u></p>
<p>川芎　歸尾　赤芍　防風　人參　甘草節　木香　黃耆　桂心　白芷　桔梗　檳榔　厚朴　烏藥　紫草　枳殼（各五錢）</p>
<p>水二盞，煎七分服之。</p>
<p>氣血虛而利者，加熟附子。大便堅實者，加酒大黃。</p>
<p>若元氣素實者，用：</p>
<p><u>連翹解毒湯</u></p>
<p>連翹　白芷　川芎　歸尾　赤芍　甘草節　牛蒡　大黃　木通節　穿山甲（炒）</p>
<p>水煎服。</p>
<p>屬太陽經者，加羌活、防己。</p>
<p>屬陽明經者，加升麻、乾葛。</p>
<p>屬少陽經者，加柴胡、黃芩。</p>
<p>屬太陰經者，加官桂、防風。</p>
<p>屬少陰經者，加黃連炒、木通。</p>
<p>屬厥陰經者，加柴胡、青皮。</p>
<p>若炎瘍者，用：</p>
<p><u>十全大補湯</u></p>
<p>川芎　歸尾　赤芍　生地　人參　甘草節　白朮　赤茯苓　黃耆　桂心　白芷　金銀花　連翹</p>
<p>依上引經藥加入煎服。凡見癰毒，以上法治之，不可因循，恐成大患。微則殘傷肢體，甚則脫腕腐筋而殞性命矣。</p>
<p>痘後緣何發大丹，只因毒火鬱成然，</p>
<p>看他所發歸何部，若歸心腎治應難。</p>
<p>赤火丹瘤，此惡候也，流移紅腫，其痛手不可近，痘瘡之後有發丹瘤者，因蓄火太甚不能發泄，鬱於肌肉之間，故發而為丹。從頭上起者，過心即死。從足下起者，過腎即死。內用玄參化毒湯解之。</p>
<p>玄參　歸梢　生地　紅花（酒炒）　連翹　地骨皮　石膏　赤芍　防風　木通節　荊芥穗</p>
<p>淡竹葉引，水煎服。外用蜞針法斷之，取大馬蝗三五七條放在紅腫處，吮去惡血，毒亦從而消泄矣。</p>
<p>痘後緣何癮疹成，只因毒火未全形，</p>
<p>若教發盡無停滯，免得重重怪證生。</p>
<p>癮者，皮膚間泛泛成疙瘩也。疹者，皮間點點狀如蚊蚤咬跡也。痘後如發癮者，因毒火未發盡，藏於皮膚之間，或瘙癢因抓而成者，或因受風火相搏而成者，此皆吉兆，正欲發泄，無使停留，以變他證。如發太甚不已者，內服：</p>
<p><u>防風敗毒散</u></p>
<p>防風　赤芍　升麻　葛根　甘草</p>
<p>水煎服。外用蜆子水洗之。</p>
<p>取活蜆子不拘多少，以水養五七日，旋取其水洗之，蜆子煮湯亦佳，如無蜆子，以天水散拂拭之。</p>
<p>痘後緣何靨不幹，或時出血病難安，</p>
<p>只因毒氣藏肌肉，蝕肉傷肌不忍看。</p>
<p>此與前一般頑瘡不肯收者相同，但覺痘瘡當靨不靨，即防此證，當內服大補湯，比前加川芎、白芍、白芷三味，外用綿繭散敷之。</p>
<p>取蠶繭出了蛾者，不拘多少，每個入白礬五分於內，火煅令枯，每一兩加陀僧五錢，白芷末二錢，白蜜調敷。</p>
<p>痘後緣何翳膜睛，只因熱毒壅肝經，</p>
<p>還睛去翳多奇術，點洗常教作廢人。</p>
<p>小兒出痘之時，先用黃柏膏和胭脂塗眼者，防斑瘡入眼也。但斑瘡入眼，或不在初，多在收靨之時，或滿面破爛，重複腫灌，膿血膠固，毒火鬱蒸在內，其斑入眼，或痘出已甚，成就遲緩，醫用辛熱之藥發之，亦令斑瘡入眼。又或收較之時，喜啖辛熱，謂之干漿，以致二火相煽，亦令斑瘡入眼也。但在白珠上者不必治，久而自去，惟在黑輪上，或掩瞳人者，急用密蒙花散治之。</p>
<p>密蒙花（酒洗，五錢）　穀精草（五錢）　蟬蛻（去足翅，五錢）　望月砂（一兩）</p>
<p>共為末，用獖豬肝一兩，竹刀披破，每用藥一錢擦在內，水煮肝熟，飲汁食肝神效。不可輕用點洗之藥，反成大害。他本以穀精草散主之。兼便秘者，用瀉青丸治之。目昏者，蟬殼明目散治之。方見別本。</p>
<p>痘後緣何目畏明，肝虛又帶火邪侵，</p>
<p>涼肝養血功無比，解使雙眸得見人。</p>
<p>凡痘瘡之後，兩目見明不開暗則開者，謂之羞明，用：</p>
<p><u>涼肝明目散</u></p>
<p>當歸　龍膽草（酒洗）　柴胡　川芎　防風　密蒙花　酒連</p>
<p>用獖豬肝煮湯煎藥服之。若向暗處亦不開者，卻防目中有瘡，當如上法救之。</p>
<p>痘後緣何痢血膿，只因倒陷熱腸中，</p>
<p>利盡膿血應自愈，莫教饒舌枉施功。</p>
<p>膿血痂皮一路來，待他自止莫疑猜，</p>
<p>和中清熱施殘著，劫澀輕投病轉乖。</p>
<p>如此之症，待其自止，然後用和中清裡之劑，不可便投豆蔻丸及諸劫澀之藥。但痢勢甚者，用：</p>
<p><u>黃連解毒湯</u></p>
<p>黃連　條芩（酒洗）　枳殼　歸梢　紅花　酒大黃　甘草</p>
<p>水煎服。</p>
<p>膿血盡者，用：</p>
<p><u>和中湯</u></p>
<p>人參　當歸　甘草　枳殼　木通</p>
<p>水煎服。</p>
<p>痘證曾無倒陷形，緣何膿血利頻頻，</p>
<p>只為大腸多火毒，通腸解毒效若神。</p>
<p>痘無倒陷之症，卻有膿血之痢者，由於平日食煎炒，素有積熱，今因痘後氣血虛不能勝積，故利膿血，此名滯下，必然腸鳴作痛，裡急後重。或因痘出之後，飲水太過，水停作泄，熱毒乘虛入里，便下膿血，此名腸垢。宜先用調胃承氣湯以徹其毒。</p>
<p>枳殼　酒大黃　檳榔末　甘草</p>
<p>水煎服。次用：</p>
<p><u>黃芩湯</u></p>
<p>條芩（酒洗）　黃連（酒洗）　當歸　川芎　甘草　木通　木香　赤芍</p>
<p>水煎服。</p>
<p>久不止加升麻。</p>
<p>腹痛者加酒大黃。</p>
<p>痘後緣何泄痢多，看他所出物如何，</p>
<p>痂皮膿血斯為順，無分水穀夢南柯。</p>
<p>痘後自和痂皮膿為順，少以四君子湯調之。水穀無分為逆，以理中四苓湯主之。久而不止以豆蔻丸止之。（方俱見別本。）</p>
<p>痘後緣何嘔噦頻，只因胃家毒氣停，</p>
<p>錯喉嗆水宜施治，失聲乾噦枉勞心。</p>
<p>胃之上口名曰賁門，納而不出者也。凡痘之後，吐而有聲有物者，謂之嘔。有物無聲者，謂之吐。有聲無物者，謂之噦。食谷而吐出者，謂之錯喉。飲水而噴出者，謂之嗆水。此由熱毒壅塞胃之上口，故令嘔吐，咽門澀塞，故令錯喉嗆水也。惟乾噦乃胃瘡腐爛，不能納穀，故時時張口，似吐不吐，乃不治之症也。亦有咽喉作痛而嘔吐失聲者，乃咽喉腐壞，亦不可治矣。但嘔吐者，用：</p>
<p><u>陳皮竹茹湯</u></p>
<p>陳皮（去白）　白茯苓　黃連（用吳茱萸同炒，去茱萸用黃連）　竹茹</p>
<p>水煎服。</p>
<p>咽喉痛者，用：</p>
<p><u>甘桔湯</u></p>
<p>甘草　桔梗（米泔水浸）　牛蒡（炒研）</p>
<p>水煎服。</p>
<p>痘後緣何熱不除，或因毒甚或元虛，</p>
<p>調元解毒分投用，引日須教損幼軀。</p>
<p>痘既收靨則毒解而熱當除矣，如熱一向不已，非毒氣之餘烈，必元氣之素虛，惟以脈辨之，如脈數形勇，煩躁熱者，此邪氣實也。宜用：</p>
<p><u>知母解毒湯</u></p>
<p>知母　生地　軟石膏　地骨皮　酒芩　牛蒡　升麻　甘草　天花粉</p>
<p>淡竹葉引，水煎服。</p>
<p>如脈遲形怯，熱而喜睡者，此正氣虛也，用：</p>
<p><u>黃芩調元湯</u></p>
<p>黃芩　人參　麥冬　炙甘草　當歸</p>
<p>水煎服。</p>
<p>痘後渾身一向溫，忽然發熱不堪論，</p>
<p>內傷外感分投治，此個真機說與人。</p>
<p>痘靨之後一向溫暖和平，並無餘熱，忽然發熱者，不可以餘毒未解，正氣之虛同論也。必因外感風寒，其症頭目昏痛，惡寒，其脈浮，用：</p>
<p><u>桂枝解肌湯</u></p>
<p>桂枝　赤芍　黃芩　甘草　人參　乾葛　柴胡</p>
<p>淡竹葉引，水煎服。</p>
<p>或因內傷飲食，其症腸肚飽悶，不喜飲食，其脈弦滑，以補中益氣湯加消導藥。</p>
<p>黃耆　人參　白朮　陳皮　枳實　青皮　木香　黃連　神麯　麥芽　甘草</p>
<p>水煎服。</p>
<p>痘後緣何腹裡疼，或因傷食不能安，</p>
<p>看他虛實行消導，方顯良工是折肱。</p>
<p>收靨之後，忽然腹疼，或嘔或利，不思飲食者，此傷寒之症也。虛則用上補中益氣湯治之。如無吐利，腹滿而痛，煩躁氣急者，用脾積丸下之。若傷食腹滿而痛，煩悶不寧者，此毒氣入中，急用雄黃解毒丸利之，（方見別本。）不然漸加喘急，手足厥冷則難治矣。</p>
<p>收後緣何食不思，只因傷食少人知，</p>
<p>誰知消導為良法，強忍成疳悔是遲。</p>
<p>一向能食，收後反不能食，聞食氣即嘔逆，此必食傷甚，可以脾積丸治之。問其所傷者何物，即以原食為引送下，微則只以保和丸調之。若隱忍不急求治，久則羸瘦，漸成疳癆，以集聖丸主之。</p>
<p>收後緣何寒氣攻，只因正氣受虛空，</p>
<p>戰惕畏寒還作熱，大補湯丸藥有功。</p>
<p>寒熱往來似瘧形，不分早晚依期臨，</p>
<p>只因脾胃多虛弱，補中益氣有神靈。</p>
<p><u>補中益氣湯</u></p>
<p>黃耆　人參　甘草（炙）　柴胡（炙）　白朮　升麻　陳皮　桂枝　當歸　木香</p>
<p>虛甚者加熟附子。</p>
<p>水煎服。</p>
<p>收後緣何手足寒，好將元氣補虛看，</p>
<p>六脈細沉如欲絕，治若乖方自惹愆。</p>
<p>凡痘收靨之後，手足厥冷，六脈沉細者此元氣本虛。用：</p>
<p><u>調元生脈散</u></p>
<p>人參　黃耆（炙）　麥冬　當歸　桂枝</p>
<p>虛甚者加熟附子，水煎服。不可錯認手足厥逆，妄投木香異功散，以取敗亡也。</p>
<p>痘後緣何神識昏，終朝喜睡不惺惺，</p>
<p>只因毒解神虛倦，氣血平和四體寧。</p>
<p>收靨後而好睡者，乃毒解神虛，此常事也。有等苟且之醫，愚人不知而取利；有庸見之醫妄投藥丸而致禍，不可不知。</p>
<p>痘後緣何不識人，口中妄語似邪侵，</p>
<p>只因熱伏心包絡，治此無差妙入神。</p>
<p>凡收後昏睡，連日不醒，口中妄語，或有醒時亦似醉人，每多錯言，此邪熱攻心而心君不肯受，邪傳於胞絡。用：</p>
<p><u>導赤解毒湯</u></p>
<p>木通　生地　麥冬　茯神　甘草　山梔仁　人參　石菖蒲</p>
<p>燈心引，水煎服。</p>
<p>安神丸亦佳。</p>
<p>牛黃（五分）　黃連（炒，五錢）　當歸（二錢五分）　山梔仁（炒，二錢五分）</p>
<p>湯浸蒸餅，以豬心血調為丸，如粟米大，硃砂為末，燈心湯送下。</p>
<p>痘後緣何又發驚，只因毒火內攻心，</p>
<p>清心散火驚宜退，發作無休命必傾。</p>
<p>痘出發熱多驚搐，此常症也。若收靨之後反發搐者，乃瘡發未透，毒火內侵故也。用：</p>
<p><u>清神散火湯</u></p>
<p>木通　玄參　麥冬　黃連　甘草　梔子仁</p>
<p>水煎去滓，研辰砂末調服。</p>
<p>大便秘加酒大黃。自利加人參。別本用粉紅丸治之。</p>
<p>此症發於既收之後，血氣已衰，治之甚難，藥對症者可治，若一發連綿者，死症也。</p>
<p>痘後緣何手足攣，只因血少受邪干，</p>
<p>補脾養血神仙訣，不遇知音莫浪言。</p>
<p>凡痘之後，手足忽然拘攣，不能伸屈轉運者，乃血少不能養筋，又或外被風寒水溢以致然耳，不可再發散耗其血，只用補脾養血者，此秘法也。用：</p>
<p><u>當歸桂枝湯</u></p>
<p>當歸（酒洗）　川芎　白芍（酒洗）　黃耆（酒洗）　薄桂　炙甘草　蒼朮　黃柏</p>
<p>氣虛加川烏、人參。</p>
<p>水煎服。</p>
<p>如感風寒，以致骨節疼痛者，加羌活防風散治之。</p>
<p>痘後緣何咳嗽多，只因毒火肺中磨，</p>
<p>清金降火平和氣，肩息胸高夢南柯。</p>
<p>痘疹之後，惟肺受傷，至於收靨毒解宜乎寧矣。若反咳嗽喘急者，乃毒火流入肺中故也。宜清金降火，當用：</p>
<p><u>寧肺湯</u></p>
<p>知母　牛蒡（炒）　馬兜鈴　地骨皮　杏仁　桔梗　甘草　軟石膏</p>
<p>咳甚加貝母、桑白皮（蜜水炒）、葶藶子（炒）。</p>
<p>水煎服。久而不止，胸高龜殼，更兼肩息者，不可治也。</p>
<p>痘後緣何腫脹生，或風或水食傷成，</p>
<p>腫屬肺經宜汗解，脹屬脾經利解寧。</p>
<p>凡痘收靨之後，或面目浮，四肢腫，此屬於肺，因表虛多受風寒，宜汗解，用：</p>
<p><u>加味五皮湯</u></p>
<p>羌活　五加皮　蒼朮　桑白皮　桂枝　木通　防風　防己　甘草　豬苓　生薑皮</p>
<p>燈心引，水煎服。</p>
<p>若腹膨如鼓，眼胞微腫者，此屬於脾，因脾胃素虛，飲水太多，蓄濕於內，所食過度，積熱於中，宜利解之，用厚朴湯為主。</p>
<p>蒼朮　厚朴（薑製）　陳皮　豬苓　甘草　大腹皮　茯苓皮</p>
<p>因於食者，加神麯、山楂、三稜、莪朮、枳實。</p>
<p>喘者加葶藶子、杏仁。</p>
<p>水煎服。</p>
<p>若虛脹者，不可妄攻，用：</p>
<p><u>萊菔子丸</u></p>
<p>萊菔子（炒，另研，五錢）　胡椒（厚朴水浸過，曬乾，二錢）　白朮（去蘆，一錢）　陳土</p>
<p>共為末，湯浸，蒸餅為丸，陳皮湯下。</p>
<p>痘後緣何小便遲，膀胱蓄熱少人知，</p>
<p>不將導赤為良法，只恐遲延有變時。</p>
<p>凡痘小便始終宜清，若收後不利，此熱積膀胱，用：</p>
<p><u>導赤散</u></p>
<p>木通　甘草　車前子　瞿麥　滑石　赤茯苓　山梔子　淡竹葉</p>
<p>燈心為引，水煎服。</p>
<p>痘後緣何大便難，只因腸胃津液干，</p>
<p>潤腸膽導宜兼用，縱有餘邪糞後安。</p>
<p>凡痘大便始終宜調，一二日一次者為吉。但至於收靨後秘結者，乃痘出太甚，血枯氣不潤腸，用：</p>
<p><u>潤腸丸</u></p>
<p>甘草　歸梢　生地　火麻仁　桃仁</p>
<p>有熱者加知母、石膏。</p>
<p>自利者加白朮、升麻。</p>
<p>泥水煎服。</p>
<p>痘後緣何雨汗淋，只因弱衛熱其榮，</p>
<p>自汗黃耆湯最勝，盜汗當歸藥有靈。</p>
<p>經云：衛氣者，所以溫肌肉，充皮毛，肥腠理，司開闔也。瘡疹之出，衛氣最甚，故收靨之後，衛弱為汗出也。汗常出者謂之自汗。睡著出汗而醒則乾者，謂出盜汗。用：</p>
<p><u>當歸湯</u></p>
<p>人參　當歸　黃耆（炙）　甘草（炙）　黃連（炒）　桂枝</p>
<p>水煎服。</p>
<p>熱熱渾身汗不休，膚濡發潤亦堪憂，</p>
<p>衛中氣弱常中熱，若傳亡陽治不瘳。</p>
<p>痘後緣何吐衄侵，只因毒甚血狂奔，</p>
<p>要他血止宜清血，不止終為薤露人。</p>
<p>凡痘收靨之後，忽然鼻衄不止者，血出於肺也。吐血不止者，血出於胃也。尿血不止者，血出於小腸也。屎血不止者，血出於大腸也。皆因毒入於中，迫血妄行，急用：</p>
<p><u>涼血地黃湯</u></p>
<p>黃連　歸尾　生地　玄參　甘草　山梔仁</p>
<p>鼻血加片芩、茅花。</p>
<p>吐血加石膏、知母、童便、香附。</p>
<p>尿血加木通、滑石。</p>
<p>屎血加秦艽、槐子、荊芥穗。</p>
<p>血不止者加蒲黃、藕節、側柏葉。</p>
<p>水煎服。不止者，必死之候也。</p>
<p>血在身中莫妄行，火邪迫血血離經，</p>
<p>鼻中細出堪調理，屎尿中來禍不輕。</p>
<p>痘後緣何忽吐蛔，只因內熱又常肌，</p>
<p>但聞食臭蟲斯出，嘔吐心煩急早醫。</p>
<p>蛔動如從吐利中，必從腸胃熱邪攻，</p>
<p>若聞鼻血蟲應出，此屬虛寒勿妄攻。</p>
<p>傷寒吐蛔責之臟寒，痘疹吐蛔責之裡熱，由熱氣怫鬱於裡，又不能食，蟲無所養，為熱所逼，但聞食臭，即湧出者，用：</p>
<p><u>黃連止蛔湯</u></p>
<p>黃連　黃柏　烏梅肉　人參　白朮</p>
<p>水煎服。若不治，則蟲食臟肛而為狐惑之死症矣。</p>
<p>痘後緣何發口瘡，只因辛熱助諸強，</p>
<p>牙齦臭爛防穿頰，唇口生瘡怕啞張。</p>
<p>凡痘瘡後牙齦生瘡，時時出血者，謂之牙宣。呼吸息露，謂之息露。此走馬疳也，由熱生陽明少陽，用蠶蛻散敷之。</p>
<p>枯礬（二錢）　尿桶垽（刮，以火煅，令白，二錢）　五倍子（二錢）　蠶蛻（燒灰，一錢）</p>
<p>共為末，先以米泔水洗，用蠐螬蟲翻轉，蘸水洗淨，敗血後，以此藥敷之。</p>
<p>又如唇腫面浮，鼻穿頰破，炎喉爛肉，飲食不出入者，不治。</p>
<p>又如唇口生瘡破爛，上唇有瘡，蟲食其臟，謂之狐。下唇有瘡，蟲食其肛，謂之惑。由熱在內，蟲無所食，不肯吐出，內食臟腑及肛，而外見於唇也。其人如睡，默默不欲食，其聲啞嗄，謂之狐惑。用：</p>
<p><u>黃連除䘌丸</u></p>
<p>黃連（二錢）　蘆薈（一錢二分）　使君子（炒，二錢五分）　蕪荑（一錢五分）　乾蟾（炒，一錢二分）　川楝子肉（二錢）　夜明砂（一錢二分）</p>
<p>共為末，將烏梅肉洗去黑水，杵膏和丸，米飲送下。</p>
<p>如唇落鼻崩，牙脫無聲者，不治。</p>
<p>如舌上生瘡赤者，謂之赤口瘡，此熱在心脾二經也，用陰陽散治之。</p>
<p>黃連（二錢）　乾薑（一錢）</p>
<p>共炒，研末，用地雞擂水，洗淨後敷此藥。</p>
<p>白者名曰口瘡，一名鵝口瘡，此熱在心肺也。用：</p>
<p><u>朱礬散</u></p>
<p>硃砂（二錢）　白礬（二錢）</p>
<p>共研為末，先用鵝涎洗之，後敷此藥。通以洗心散主之。</p>
<p>黃連　歸梢　生地　大黃（酒洗）　麻黃　木通　薄荷　甘草　（加）桔梗　連翹　牛蒡</p>
<p>燈心引，水煎服。</p>
<p>痘後緣何不發肌，只因氣血兩相虧，</p>
<p>平和丸散常宜服，不可偏寒氣血兮。</p>
<p>凡人素常肌肥，痘後羸瘦，雖能飲食亦不能發肌膚者，乃氣血虛故也。治之能兼陰陽，不可偏勝。偏陽則傷血，偏陰則傷氣。陰日服：</p>
<p><u>參苓白朮散</u></p>
<p>人參（二錢）　白朮（二錢）　白茯苓（二錢）　陳皮（二錢五分）　山藥（一錢二分）　木香（一錢三分）　神麯（炒，一錢二分）　青皮（一錢二分）</p>
<p>若瀉，加訶子（一錢二分）。</p>
<p>共為末，湯浸蒸餅為丸，米飲送下。</p>
<p>陽日服：</p>
<p><u>當歸益榮丸</u></p>
<p>當歸（二錢）　川芎（二錢）　黃連（錢半）　蘆薈（二錢二分）　使君子肉（一錢二分）</p>
<p>共為末，湯浸，蒸餅為丸，米飲送下。</p>
<p>痘後緣何怪症多，詳審從來犯若何，</p>
<p>湯丸飲食風寒事，須尋根底處消磨。</p>
<p>痘後生病，不從痘疹中來者，謂之怪症，必詳問曾服何湯丸，啖何飲食，感冒風寒有無，即從犯處治之。</p>
<p>痘後渾身皮膚嬌，調理提防要謹牢，</p>
<p>水濕風寒宜避忌，洗拭撏抓禍莫饒。</p>
<p>痘後腹中最易傷，辛生冷熱莫輕嘗，</p>
<p>若貪口味渾無忌，犯卻中和變內傷。</p>
<p>此二條言收後調理之法。在外也皮膚薄嫩易於感冒，若不避風寒暑雨，梳洗撏掐，則致於癰腫者有之，生瘡癬者有之。在內也腸胃虛弱難於克化，若不分生熟軟硬，寒熱溫涼，則成膨脹者有之，至於瀉痢者亦有之。可不慎與？</p>

<h3>又、附二十一條</h3>
<p>—凡收靨以後，皮肉尚嫩，臟腑尚虛，要避風寒，不宜洗澡，常節飲食，不可過於飢飽也。</p>
<p>—凡收靨以後，有犯風寒雨濕洗浴，以致四肢頭面浮腫者，此風濕也，加減胃苓湯治之。如作熱遍身汗出如水者，此虛氣中風，補中益氣湯加蒼朮、官桂治之。如大熱作渴虛汗者，白虎湯加蒼朮治之。身不熱而自汗者，補中益氣湯治之。</p>
<p>—凡收靨以後，有傷食腹痛者有之，用脾積丸下之無害，下後便以四君子湯加消導藥治之。如傷飲食者，並身作熱者，三黃丸下之，更以四君子湯加消導藥同調之。</p>
<p>—凡收靨之後，調治亦緊，無因而作熱者，審其脈若洪數者，黃連解毒湯加升麻葛根治之。如遲緩者，是虛熱也，補中益氣湯主之。</p>
<p>—凡收靨之後，痢作大熱，鼻血不止者，芩連梔子飲治之。</p>
<p>—凡收靨之後，痢下鮮血，裡急後重者，先以三黃丸下之，次以香連丸調之。</p>
<p>—凡收靨之後，忽然咳嗽者，此乃感冒風寒，以參蘇飲治。如不退，只以玉液丸調之。</p>
<p>—凡收靨之後，大熱，兩目如火，身發斑者，此餘毒歸心也，消斑青黛飲治之。</p>
<p>—凡收靨之後，肢節腫痛作熱者，此餘毒歸膽也，內服十宣散，外用紫金丹塗之，又附一方在紫金丹方下。</p>
<p>—凡收靨之後，兩目紅腫者，此餘毒歸肝，密蒙花散治之。</p>
<p>—凡收靨之後，其目紅活，失於醫治，以致珠有白翳者，加味穀精草散治之。</p>
<p>—凡收靨之後，咳吐膿血者，此餘毒歸肺，清金散治之。</p>
<p>—凡收靨後，小便出血者，此餘毒歸膀胱，八正散治之。</p>
<p>—凡痘已收靨，大便出膿血，無腹痛後重者，此餘毒歸於大腸，黃連解毒湯加槐角、升麻治之。屎後腹痛者，黃連解毒湯加大黃（酒炒）治之。</p>
<p>—凡收靨後，作熱，口生疱者，此心熱也，黃連解毒湯治之。</p>
<p>—凡收靨後，齒生走馬疳者，先將米泔水洗過，後以文蛤散搽之。（又方在下。）</p>
<p>—凡收靨後，遍身生瘡生膿疱者，此名痘風瘡，內服胡麻丸，外灸風池穴、血海穴、曲尺穴各三壯，斷根之效。</p>
<p>—凡收靨後，腳軟不能行者，此血虛不養筋也，四物湯加牛膝、續斷、防風、川萆薢、薏苡仁治之。</p>
<p>—凡收靨後，睡不醒者，四物湯加酸棗仁湯治之。</p>
<p>—凡收靨後，四肢癱瘓不能動者，此血虛成風也。若不治恐成廢疾，用羌活丸治之。</p>
<p>—凡收靨後，心常恐懼，聞人聲即驚者，溫膽湯治之。</p>
<p><u>加減胃苓湯</u></p>
<p>豬苓　澤瀉　白朮　赤茯苓　官桂　五加皮　厚朴　陳皮　甘草　防風　藁本　桑白皮　羌活　人參</p>
<p>燈心引，水煎服。</p>
<p><u>補中益氣湯</u></p>
<p>人參　甘草　黃耆　當歸　柴胡　升麻　陳皮　白朮</p>
<p>水煎服。</p>
<p><u>白虎湯</u></p>
<p>石膏　知母　甘草</p>
<p>水煎服。</p>
<p><u>三黃丸</u></p>
<p>黃連（三錢）　黃芩（三錢）　大黃（酒炒，三錢）</p>
<p>共為末，煉蜜為丸，薑湯送下。</p>
<p><u>芩連梔子飲</u></p>
<p>黃芩　黃連　梔子　桔梗　甘草　生地　柴胡　川芎　赤芍　升麻</p>
<p>水煎，取茅根汁一鍾，入內同服。</p>
<p><u>香連丸</u></p>
<p>黃連（去蘆，二十兩，用吳茱萸十兩同炒至赤色，不用茱萸）　木香（四兩，不見火）</p>
<p>共為末，醋糊為丸，如梧桐子大，每服二十丸，空心，米飲送下。</p>
<p><u>玉液丸</u></p>
<p>方見前。</p>
<p><u>消斑青黛飲</u></p>
<p>黃連　甘草　知母　石膏　柴胡　升麻　山梔仁　玄參　人參　青黛　生地黃</p>
<p>竹葉引，水煎。</p>
<p><u>紫金丹</u></p>
<p>見原本方。</p>
<p><u>又方</u></p>
<p>雄黃（五分）　鉛粉（三分）　檳榔（一個）</p>
<p>共為末，雞蛋黃煎出油調搽。</p>
<p><u>密蒙花散</u></p>
<p>人參　荊芥　當歸　赤芍　川芎　密蒙花　藁本　黃芩（炒）　蟬蛻　升麻　白蒺藜　梔子仁　石決明</p>
<p>水煎服。</p>
<p><u>穀精草散</u></p>
<p>蟬蛻　密蒙花　白蒺藜（炒，各等分）　穀精草</p>
<p>共為末，用獖豬肝一片，以竹刀切成路，擦藥於內，絲線扎定，煮熟，量兒大小與之。</p>
<p><u>清金散</u></p>
<p>茯苓　陳皮　甘草　知母　貝母　桑白皮　桔梗　杏仁　前胡　黃芩　梔子　地骨皮　枳殼　膽星　款冬花　馬兜鈴　青木香</p>
<p>水煎服。</p>
<p><u>八正散</u></p>
<p>車前草　瞿麥　滑石　萹蓄（俗名刷掃菜）　梔子仁　大黃（麵煨）　甘草　木通</p>
<p>水煎服。</p>
<p><u>文蛤散</u></p>
<p>五倍子（炒焦，一錢）　銅綠（五分）　蠶退紙（一錢，燒灰）</p>
<p>細研，搽牙。</p>
<p><u>人元散</u></p>
<p>用小兒天蓋骨，火燒存性，研為末，擦牙。</p>
<p><u>胡麻丸</u></p>
<p>照舊方。</p>
<p><u>羌活丸</u></p>
<p>羌活（密節者，一錢）　當歸（一錢五分）　川芎（一錢二分）　萆薢（二錢）　防己（一錢五分）　薏苡仁（炒，一錢五分）　虎脛骨（用前爪短節者，酥油炙焦，一錢）</p>
<p>以上七味，共為末，煉蜜為丸，湯水送下。</p>
<p><u>溫膽湯</u></p>
<p>陳皮　甘草　枳實　半夏　竹茹　石菖蒲</p>
<p>生薑引，水煎服。</p>

<h1>卷之十三</h1>

<h2>麻疹骨髓賦</h2>
<p>麻疹之症，宜用清涼。解毒而已，其症屬火。疹雖胎毒，多帶時行。氣候暄熱非令，男女傳染而成。其發也，與痘相似；其變也，比痘匪輕。愚夫愚婦每視為泛常，若死若生總歸於天命。不知毒起於脾，熱流於心。始終之變，腎則無症；臟腑之傷，肺則尤甚。閉門問途，不如路中尋徑；揚湯止沸，不若灶內抽薪。</p>
<p>初則發熱，亦似傷寒。目出淚而不止，鼻流涕而不幹。咳嗽大急，煩躁難安。以火照之，隱隱皮膚之下；以手抹之，濈濈肌肉之內。其形如疥，其色若丹。隨出隨沒，乍隱乍見。根窠若腫兮，疹而兼癮；皮膚如赤兮，疹似夾斑。似錦而明兮，十有九效；如煤而黑兮，百無一痊。疹毒最重，治法不同。微汗常出，熱勢越而不流；清便自調，毒氣行而無壅。腠理怫鬱兮，即當發散；腸胃秘結兮，急與疏通。苟視大而若細，恐變吉而為凶。放衄不必憂，邪從衄解；利血不必止，毒以利松。所喜者，身中清涼；可畏者，咽中腫痛。飲水不休，法在生津養血；飲食欲減，方須救胃平和。</p>
<p>且如出之太遲，發表為貴；出之太甚，解毒堪宜。毋伐天和，常視歲氣。寒氣凜凜，毒氣鬱而不行；火熱炎炎，邪氣乘而作癘。或施溫補，勿助其邪；若用寒涼，休犯其胃。制其過，但取其平；誅其暴，必欲其正。遠寒遠熱，陰陽之勝復不齊；責實責虛，人品之強弱或異。</p>
<p>防風荊芥，散腠理之留邪；升麻葛根，解榮衛之蘊熱。人參養氣，地黃涼血。黃連入心而瀉火，黃芩入肺而定咳。玄參石膏，治邪火之浮游；梔子連翹，開惡毒之鬱熱。瓜蔞潤肺止渴，須合麥冬；知母生津降火，必同黃柏。芍藥治乎腹痛，白朮止乎脾瀉。溺若澀兮苓通，咽常痛兮甘桔。心神驚妄兮，鎮以辰砂；臟腑秘結兮，利以大黃。牙齒生疳，文蛤配乎馬澗；咽喉若瘴，射干助以牛蒡。五味杏仁，治喘氣之吤吤；薄荷竹葉，解膚熱之洋洋。火燒人屎，蜜炒麻黃。發疹毒之出現，令邪氣之舒張。枳實山楂，治食積而化毒；兜鈴地骨，清肺熱以回瘡。瘡形既出，將息甚難。坐臥欲暖，飲食宜淡。</p>
<p>風寒若受兮，為腫為熱；鹹酸不禁兮，為咳為喘。異氣縱感，變症宜參。便多膿血兮，倉廩血熱；咳多涎沫兮，華蓋易寒。口爛唇裂，心火之病未退；皮焦發槁，榮衛之液將干。苟不詳於臨證，何以見其折肱。</p>
<p>治此變證，各有奇方。身熱不出，柴胡合乎四物；口瘡若甚，甘桔對乎三黃。消腫定喘兮，葶藶助效；化痰止咳兮，順氣為良。氣血已虛，八物增損而可飲；水穀不納，二陳酌斟以堪嘗。痢血兮，香連丸去豆蔻，而加陳皮黃柏；咳血兮，五拗湯去麻黃，而加茅根地黃。此疹科之治法，繼痘科而再詳。</p>

<h2>麻疹西江月</h2>
<p>麻疹俗乎麻子，蓋因火氣熏蒸，遍身紅點硃砂形，發自心脾二經。最忌黑斑死證，最宜赤似朱蚊，大都治法喜涼清，不可辛甘犯禁。</p>
<p>疹子因何咳嗽，只因肺與心連，肺經被火苦熬煎，以致咳嗽氣喘。治要清金降火，不宜誤用辛甘，譬如包子蒸籠燃，只要氣松火緩。</p>
<p>疹子如何辨認，分明狀似傷寒，此多咳嗽有紅斑，噴涕眼中水現。或見腹中疼痛，或時吐瀉相兼，疹家吐瀉不須安，正要毒除熱散。</p>
<p>疹與痘瘡異治，二家不可同方，痘宜溫解疹清涼，又要現形為上。若受風寒不出，其間凶險難當，急宜發散保平康，切怕神昏腹脹。</p>
<p>凡遇疹未出現，詳看天令如何，假令日暖又風和，敗毒荊防堪可。若是時行疫癘，芩連消毒宜多，用心調理救沉疴，坐井觀天莫學。</p>
<p>且看荊防敗毒，此為發散仙方，荊芥防風生地黃，酒炒芩連二樣。桔梗人參甘草，連翹升麻牛蒡，玄參酒柏妙真良，竹葉水煎停當。</p>
<p>又有芩連消毒，散火解毒尤佳，芩連梔子及升麻，桔梗甘草多把。石膏人參知母，連翹蒡子紅花，引用竹葉要多加，此個方兒無價。</p>
<p>若是發散不出，令人真個憂疑，麻黃酒蜜炒如煤，梔柏芩連一例。更著大黃酒炒，連翹蒡子相宜，石膏蟬蛻紅花子，不效命離塵世。</p>
<p>如見出時紫黑，此般今古多凶，急求人屎路歸東，火燒存性取用。細研酒調吞下，須臾黑色變紅，若還依舊黑朦朧，勸你心腸休用。</p>
<p>疹子現形發熱，常時只用化斑，石膏甘草及人參，桔梗連翹靈驗。若是毒多熱甚，芩連消毒為先，大便秘結大黃添，務令微通數遍。</p>
<p>疹子類多咽痛，火邪熏灼無他，連翹甘桔要多加，射干蒡子煎罷。外用十宣妙散，吹喉休要吁嗟，假如見效莫爭差，消毒芩連妙也。</p>
<p>疹子再兼泄利，預先用藥調醫，泄時減桂五苓宜，加上甘草滑石。如是痢兼赤白，香連丸子相隨，大端痢止便為奇，不效令人疑忌。</p>
<p>疹咳聲聲氣促，只消降火清金，黃芩梔子赤茯苓，桔梗石膏一定。知母人參地骨，瓜蔞麥冬杏仁，玄參蒡子妙如神，竹葉將來作引。</p>
<p>疹後須防四症，不治常致誤人，遍身餘熱欠清寧，咳嗽連聲牽引。牙齒疳生走馬，痢下赤白難禁，各求方法慢品論，才是醫中之聖。</p>
<p>為何身間壯熱，只因餘毒留連，金花丸子是靈丹，梔子芩連龍膽。鬱金雄黃解毒，燈心地骨湯吞，若還脾弱熱綿延，集聖胃苓任選。</p>
<p>咳嗽頻頻不止，或因不禁酸鹹，又如火毒肺家延，尤恐胸高氣喘。體實兼行葶藶，神虛清肺神丹，如斯調理保平安，莫向風波弄險。</p>
<p>葶藶丸除肺熱，杏仁防己葶藶，牽牛萊菔子相隨，棗肉搗成為劑。清肺神丹降氣，鹽水煮焙陳皮，芩連甘草杏仁泥，蘇子稀糊為最。</p>
<p>口齒生瘡臭爛，此名走馬凶疳，金花丸子好求安，外用除疳妙散。先取尿桶白澗，火燒白色如鹽，五倍銅綠退紙蠶，砒棗燒成黑炭。</p>
<p>赤痢下時鮮血，黃連柏葉槐花，枳殼荊芥穗同加，痢止血除才罷。白痢茱萸滑石，糯根枳殼升麻，烏梅取肉作丸佳，赤白香連可下。</p>
<p>四疾更防死證，臨門休得殊差，兒多體熱瘦如麻，咳嗽面青聲啞。走馬唇齒肉落，痢疾噤口吁嗟，此般即是死冤家，不可騎牛作馬。</p>
<p>俗名麻子者，火疹也，治法與痘不同。蓋痘之治，藥有溫有涼，若麻疹則惟有清涼解毒耳。</p>
<p>麻疹之症面必紅，咳嗽噴嚏鼻流膿，</p>
<p>眼淚汪汪如哭狀，莫作傷寒一樣功。</p>
<p>麻子未出用荊防，升麻乾葛炒牛蒡，</p>
<p>知母桔梗同國老，薄荷石膏多用良。</p>
<p>麻子出甚用桔甘，石膏知母加人參，</p>
<p>麥冬去心牛蒡炒，竹葉同煎名化斑。</p>
<p>麻後咳嗽仍不退，清肺散子調竹瀝，</p>
<p>潮熱人參麥門冬，木通知母甘草炙。</p>
<p>生地黃與地骨皮，解熱清心又清肺，</p>
<p>若變痢疾同香連，走馬疳瘡文蛤最。</p>
<p><u>荊防敗毒散、化斑湯、涼膈散</u></p>
<p>此三方乃麻疹中之聖方也。</p>
<p>麻子若不出，荊防攻毒先。</p>
<p>咳甚宜清肺，熱多用化斑。</p>
<p>凡麻疹未起發時，噴嚏咳嗽，驚悸多啼，面紅，兩目含水，或身痛腹疼，是其症也。治法當以辛甘苦寒之劑，辛甘發表，苦寒解里，使毒散也，用前荊防敗毒散。</p>
<p>凡疹初發熱作渴，白虎湯神效，加麥冬。</p>
<p>凡疹初發熱作泄者，用豬苓湯主之。</p>
<p>豬苓　澤瀉　赤茯苓　滑石　甘草　阿膠</p>
<p>凡疹發熱，一二日即出，初如蚊跡，次如硃砂，點小粒大，紅色斑色見根窠，切忌溫補，惟以清涼解之，庶免誤耳。</p>
<p>凡疹既出，色紅者吉，赤者重，黃者危，黑者死。</p>
<p>凡疹既出，其熱即退，隨出隨收，其期不出三日。假令今日子時出，明日子時收盡，又熱又煩又渴，而再出者，三日始定。如出而不收者，有郁遏不能出，此凶者也。</p>
<p>凡疹當出而過期不出者，反見煩躁悶亂，腹脹氣喘，手足冷者，不治。</p>
<p>凡疹當出不出，而無他症者，先服荊防敗毒散，用苧麻煎湯，就以苧麻遍身刮之，其疹即出見。如再不出者，急用向東行犬屎尖，火燒存性，溫水調服，疹即湧出。</p>
<p>凡疹當出，參差不齊，即以黑芝麻擂冷水服之。</p>
<p>凡疹既出，延綿不收，此火鬱也。用：</p>
<p><u>芩連化毒湯</u></p>
<p>黃連　黃芩　紅花　石膏　升麻　牛蒡子　玄參　貫眾　卷豆　甘草　桔梗　梔子</p>
<p>水煎服。</p>
<p>凡疹出太甚無他症者，服化斑湯。（即白虎湯加人參。）</p>
<p>凡疹既出作渴者，用白虎湯和益元散服，加辰砂一錢（研）服之。</p>
<p>凡疹既出作泄者，用豬苓湯。如不效，用豆蔻丸止之。</p>
<p>凡疹既出作衄者，用芩連梔子飲。</p>
<p>凡疹大小便不通，用涼膈散。</p>
<p><u>涼膈散</u></p>
<p>連翹　梔仁　大黃　薄荷葉　黃芩　甘草</p>
<p>凡疹既出，汗出如水者，不必服藥，正欲其火發散也。凡疹已見形，有咳嗽者，不必服藥，此正病也。</p>
<p>凡疹見形，傳染成痢疾者，不問赤白，先以三黃丸下之，後以香連丸調之。</p>
<p>凡疹見形，餘熱不退，用：</p>
<p><u>知母石膏湯</u></p>
<p>知母　石膏　人參　麥冬　甘草　玄參　加竹葉</p>
<p>水煎服。</p>
<p>凡疹見形而咳不止，又帶血者，用：</p>
<p><u>甘桔湯</u></p>
<p>桔梗　甘草</p>
<p>嘔血者加軟石膏。</p>
<p>水煎，入茅根汁一鍾服。</p>
<p>凡疹見形，咽喉腫痛者，用：</p>
<p><u>射干鼠黏子湯</u></p>
<p>射干　牛蒡子　甘草　桔梗</p>
<p>水煎服。</p>
<p>凡已見形有走馬疳者，以米泔水洗文蛤散搽之。</p>
<p>凡疹子用藥，只依前法調之，不可輕易妄投湯藥。</p>
<p>凡疹初收，要避風寒，勿食煎炒、葷腥、酸鹹之物，宜淡滋味，至一月可少與雞鴨肉食之物。若食葷太早者，外毒雖泄，內毒復萌，再出者有之，或屢出者亦有之。若誤食酸鹹則增痰咳，遲延日久而難愈也。若誤食煎炒則生熱毒，或變餘熱。冒觸風寒者，或咳而加喘，或生壯熱，或成瘧疾，變症百出，難以治矣。</p>

<h2>附始終症治方略</h2>
