<header data-type="book">
<h1>內外傷辨惑論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李杲</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>地域</dt><dd>真定（今河北省保定市）</dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM027</dd></div>
</dl>
</header>
<h2>內外傷辯序</h2>
<p>僕幼自受難素於易水張元素先生，講誦既久，稍有所得，中年以來，更事頗多，諸所診治，坦然不惑，曾撰內外傷辯惑論一篇，以證世人用藥之誤，陵谷變遷，忽成老境，神志既惰，懶於語言，此論束之高閣十六年矣，崑崙范尊師曲相獎借，屢以活人，為言謂此書果行使天下之人，不致夭折，是亦仁人君子，濟人利物之事，就令著述不已，精力衰耗，書成而死，不愈於無益而生乎？予敬受其言，僅力疾就成之，雖未為完備，聊答尊師慈憫之志，師宋文正公之後也，丁未歲，重九日，東垣老人李杲明之題。</p>
<h2>內外傷辨目錄〔待補〕</h2>
<h2>內外傷辨卷上  金  真定李杲著</h2>
<h3>辨陰證陽證。</h3>
<p>曰甚哉，陰陽之證，不可不詳也，遍觀內經中所說，變化百病，其源皆由喜怒過度，飲食失節，寒溫不適，勞役所傷而然，夫元氣穀氣榮氣清氣衛氣，生發諸陽上升之氣，此六者，皆飲食入胃，穀氣上行，胃氣之異名，其實一也，既脾胃有傷，則中氣不足，中氣不足，則六腑陽氣皆絕於外，故經言：五臟之氣已絕於外者，是六腑之元氣病也，氣傷臟乃病，臟病則形乃應，是五臟六腑真氣皆不足也，惟陰火獨旺，上乘陽分，故榮衛失守，諸病生焉，其中變化，皆由中氣不足，乃能生發諸疾，有脾胃以受勞役之疾，飲食又復失節，耽病日久，事息心安，飽食太甚，病乃大作，概其外傷風寒六淫客邪，皆有餘之病，當瀉不當補，飲食失節，中氣不足之病，當補不當瀉，舉世醫者，皆以飲食失節，勞役所傷，中氣不足當補之證，認作外感風寒有餘客邪之病，重瀉其陽，使榮衛之氣外絕，其死只在旬日之間，所謂差之毫釐，繆以千里，可不詳辯乎？按陰陽應象論云：天之邪氣，感則害人五臟，是八益之邪，乃風邪傷人筋骨，風從上受之，風傷筋，寒傷骨，蓋有形質之物受病也，繫在下焦肝腎是也，肝腎者，地之氣，難經解云：肝腎之氣已絕於內，以其肝主筋，腎主骨，故風邪感則筋骨疼痛，筋骨之絕，則腎肝之本亦絕矣，乃有餘之證也，又云：水穀之寒熱感則害人六腑，是六腑之病，乃內傷飲食也，黃帝鍼經解云：適飲食不節，勞役所傷，濕從下受之，謂脾胃之氣不足而反下行，極則衝脈之火逆而上，是無形質之元氣受病也，繫在上焦心肺是也，心肺者，天之氣，故難經解云：心肺之氣已絕於外，以其心主榮，肺主衛，榮者，血也，脈者，血之府，神之所居也，衛者，元氣，七神之別名，衛護周身在於皮毛之間也，肺絕則皮毛先絕，神無所依，故內傷飲食則亦惡風寒，是榮衛失守，皮膚間無陽以滋養，不能任風寒也，毛之絕，則心肺之本亦絕矣，蓋胃氣不升，元氣不生，無滋養心肺，乃不足之證也，計受病之人，飲食失節，勞役所傷，因而飽食內傷者極多，外傷者間而有之，世俗不知，往往將元氣不足之證，便作外感風寒表實之證而反瀉心肺，是重絕其表也，安得不死乎？古人所謂：實實虛虛，醫殺之耳，若曰不然，請以眾人之耳聞目見者證之，向者壬辰改元京師，戒嚴迨三月，下旬受敵者，凡半月解圍，之後都人之不受病者，萬無一二，既病而死者，繼踵而不絕，都門十有二所，每日各門所送，多者二千，少者不下一千，似此者，幾三月，此百萬人豈俱感風寒外傷者耶？大抵人在圍城中，飲食不節，乃勞役所傷，不待言而知，由其朝饑暮飽，起居不時，寒溫失所，動經三兩月，胃氣虧乏久矣，一旦飽食大過，感而傷人，而又調治失宜，其死也無疑矣，非惟大梁為然，遠在真祐興定間，如東平如太原如鳳翔，解圍之後，病傷而死，無不然者，余在大梁，凡所親見，有表發者，有以巴豆推之者，有以承氣湯下之者，俄而變結胸發黃，又以陷胸湯丸及茵陳湯下之，無不死者，蓋初非傷寒，以調治差誤變而似真傷寒之證，皆藥之罪也，往者不可追，來者猶可及，輒以平生已試之效著，內外傷辯論一篇，推明前哲之餘，論歷舉近世之變故，庶幾同志者審其或中觸類而長之，免後人之橫夭耳，僭易之罪，將何所逃乎？</p>
<h3>辯脈。</h3>
<p>古人以脈上辯內外傷於人迎氣口，人迎脈大於氣口為外傷，氣口脈大於人迎為內傷，此辯固是，但其說有所未盡耳，外感風寒皆有餘之證，是從前客邪來也，其病必見於左手，左手主表，乃行陽二十五度，內傷飲食及飲食不節勞役不節，皆不足之病也，必見於右手，右手主裏，乃行陰二十五度，故外感寒邪，則獨左寸人迎脈浮緊，按之洪大緊者，急甚於弦，是足太陽寒水之脈，按之洪大而有力，中見手少陰心火之脈，丁與壬合，內顯洪大，乃傷寒脈也，若外感風邪，則人迎脈緩而大於氣口一倍或兩倍三倍，內傷飲食，則右寸氣口脈大於人迎一倍，傷之重者，過在少陰則兩倍，太陰則三倍，此內傷飲食之脈，若飲食不節勞役過甚，則心脈變見於氣口，是心火刑肺，其肝木挾心火之勢亦來薄肺，經云：侮所不勝，寡於畏者是也，故氣口脈急大而澀數，時一代而澀也，澀者，肺之本脈，代者，元氣不相接，脾胃不及之脈洪大而數者，心脈刑肺也，急者，肝木挾心火而反克肺金也，若不甚勞役，惟右關脾脈大而數，謂獨大於五脈，數中顯緩，時一代也，如飲食不節，寒溫失所，則先右關胃脈損，弱甚則隱而不見，惟內顯脾脈之大數，微緩時一代也，宿食不消則獨右關脈沉而滑，經云：脈滑者，有宿食也，以此辯之，豈不明白易見乎？但恐山野間，卒無醫者，何以診候，故復說病證以辯之。</p>
<h3>辯寒熱。</h3>
<p>外傷寒邪之證與飲食失節勞役形質之病，及內傷飲食俱有寒熱，舉世盡將內傷飲食失節勞役不足之病，作外傷寒邪表實有餘之證，反瀉其表，枉死者，豈勝言哉？皆由不別其寒熱耳，今細為分解之，外傷寒邪，發熱惡寒，寒熱併作，其熱也，翕翕發熱，又為之拂拂，發熱發於皮毛之上，如羽毛之拂，明其熱在表也，是寒邪犯高之高者也，皮膚毛腠者，陽之分也，是衛之元氣所滋養之分也，以寒邪乘之，鬱遏陽分，陽不得伸，故發熱也，其面赤，鼻氣壅塞不通，心中煩悶，稍似袒裸露其皮膚，已不能禁其寒矣，其表上虛熱，止此而已，其惡寒也，雖重衣下幕，逼近烈火，終不能禦其寒，一時一日增加愈甚，必待傳入裏作下證乃罷，其寒熱齊作，無有間斷也，其內傷飲食不節或勞役所傷，亦有頭痛項強腰痛，與太陽表證微有相似，餘皆不同，論中辯之矣，內傷不足之病，表上無陽，不能禁風寒也，此則常常有之，其躁熱發於腎間者，間而有之，與外中寒邪，略不相似，其惡風寒也，蓋脾胃不足，榮氣下流而乘腎肝，此痿厥氣逆之漸也，若胃氣平常，飲食入胃，其榮氣上行以舒於心肺，以滋養上焦之皮膚，腠理之元氣也，既下流其心肺，無所稟受，皮膚間無陽，失其榮衛之外護，故陽分皮毛之間虛弱，但見風見寒，或居陰寒處，無日陽處，便惡之也，此常常有之，無間斷者也，但避風寒及溫煖處，或添衣蓋溫養其皮膚，所惡風寒便不見矣，是熱也，非表傷寒邪，皮毛間發熱也，乃腎間受脾胃下流之濕氣，閉塞其下，致陰火上衝，作蒸蒸而躁熱，上徹頭頂，傍徹皮毛，渾身躁熱作，須待袒衣露居，近寒涼處即已，或熱極而汗出而亦解，彼外傷惡寒發熱，豈有汗出者乎？若得汗則病愈矣，以此辨之，豈不如黑白之易見乎？當內虛而傷之者，躁熱也，或因口吸風寒之氣，鬱其陰火，使咽膈不通，其吸入之氣，欲入為膈上衝脈之火所拒，使陰氣不得入，其胸中之氣為外風寒所遏而不得伸，令人口開目瞪，極則聲發於外，氣不能上下，塞於咽中而氣欲絕，又或因噦因嘔因吐而躁熱，發必有所因，方有此證，其表虛，惡風寒之證復見矣，表虛之弱，為陰火所乘，躁發須臾而過，其表虛無陽，不任風寒，復見矣，是表虛無陽，常常有之，其躁熱則間而有之，此二者不齊，躁作寒已，寒作躁已，非如外傷之寒熱齊作，無有間斷也，百病俱有身熱，又謂之肌熱，又謂之皮膚間熱，以手捫之方知者是也，乃肌體有形之熱也，亦須皆待陰陽既和，汗出則愈矣，慎不可於此上辯之，以其虛實，內外病皆有之故難辯耳，只依此說，病人自覺發熱惡寒之熱及躁作之熱上辯之為准則矣。</p>
<p>辨外感八風之邪，或有飲食勞役所傷之重者，三二日間特與外傷者相似，其餘證有特異名者，若不將兩證重別分解，猶恐將內傷不足之證誤作有餘外感風邪，雖辭理有重複處，但欲病者易辯，醫者易治耳。</p>
<p>外感八風之邪乃有餘證也，內傷飲食不節，勞役所傷皆不足之病也，其內傷亦惡風自汗，若在溫暖無風處，則不惡寒，與外傷鼻流清涕，頭痛自汗頗相似，細分之，特異耳，外感風邪其惡風自汗，頭痛鼻流清涕常常有之，一日一時，增加愈甚，直至傳入裏，作下證乃罷，語聲重濁，高厲有力，鼻息壅塞而不通，能食腹中和，口知味，大小便如常，筋骨疼痛不能動搖，便著床枕，非扶不起，其內傷與飲食不節，勞役所傷然，亦惡風，居露地中遇大漫風起卻不惡也，惟門窗隙中些小賊風來，必大惡也，與傷風傷寒俱不同矣，況鼻流清涕，頭痛自汗，間或有之，鼻中氣短，少氣不足以息，語則氣短而怯弱，妨食或食不下，或不欲食，三者互有之，腹中不和，或腹中急而不能伸口，不知五穀之味，小便頻數而不渴，初勞役得病，食少，小便赤黃，大便常難或澀或結或虛坐，只見些小白膿，時有下氣或泄黃如糜，或溏泄色白或結而不通，若心下痞，或胸中閉塞如刀劙之痛，二者亦互作，不併出也，有時胃脘當心而痛，上支兩脇痛，必臍下相火之勢如巨川之水不可遏而上行，使陽明之經逆行亂於胸中，其氣無止息，甚則高喘，熱傷元氣，令四肢不收，無氣以動而懶倦嗜臥，以其外感風寒，俱無此證，故易為分辯耳。</p>
<h3>辯手心手背。</h3>
<p>內傷及勞役，飲食不節，病手心熱手背不熱，外傷風寒則手背熱手心不熱，此辯至甚皎然。</p>
<h3>辯口鼻。</h3>
<p>若飲食勞役所傷，其外證必顯在口，必口失穀味，必腹中不和，必不欲言，縱勉強對答，聲必怯弱，口沃沬多唾，鼻中清涕或有或無，即陰證也，外傷風寒，則其外證必顯在鼻，鼻氣不利，聲重濁不清利，其言壅塞，盛有力而口中必和，傷寒則面赤，鼻壅塞而乾，傷風則鼻流清涕而已，內經云：鼻者，肺之候，肺氣通於天，外傷風寒則鼻為之不利，口者，坤土也，脾氣通於口，飲食失節，勞役所傷，口不知穀味，亦不知五味，又云：傷食惡食，傷食明矣。</p>
<h3>辯氣少氣盛。</h3>
<p>外傷風寒者，故其氣壅盛而有餘，內傷飲食勞役者，其口鼻中皆氣短促不足以息，何以分之，蓋外傷風寒者，心肺元氣初無減損，又添邪氣助之，使鼻氣壅塞不利，面赤不通，其鼻中氣不能出，併從口出，但發一言，必前輕而後重，其言高，其聲壯厲而有力，是傷寒則鼻乾無涕，面壅色赤，其言前輕後重，其聲壯厲而有力者，乃有餘之驗也，傷風則決然，鼻流清涕，其聲嗄，其言響如從瓮中出，亦前輕而後重，高揭而有力，皆氣盛有餘之驗也，內傷飲食勞役者，心肺之氣先損，為熱所傷，熱既傷氣，四肢無力以動，故口鼻中皆短氣少氣，上喘懶語，人有所問，十不欲對其一，縱勉強答之，其氣亦怯，其聲充低，是其氣短少不足之驗也，明白如此，雖婦人女子亦能辨之，豈有醫者反不能辯之。</p>
<h3>辯頭痛。</h3>
<p>內證頭痛，有時而作，有時而止，外證頭痛，常常有之，直須傳入裏實方罷，此又內外證之不同者也。</p>
<h3>辯筋骨四肢。</h3>
<p>內傷等病，是心肺之氣已絕於外，必怠惰嗜臥，四肢沉困不收，此乃熱傷元氣，脾主四肢，既為熱所乘，無氣以動，經云：熱傷氣，又云：熱則骨消筋緩，此之謂也，若外傷風寒，是腎肝之氣已絕於內，腎主骨為寒，肝主筋為風，自古腎肝之病同一治，以其遞相維持也，故經言：膽主筋，膀胱主骨是也，或中風或傷寒，得病之日便著床枕，非扶不起，筋骨為之疼痛，不能動搖，乃形質之傷，經云：寒傷形，又云：寒則筋攣骨痛，此之謂也。</p>
<h3>辯外傷不惡食若勞役飲食失節寒溫不適此三者皆惡食。</h3>
<p>仲景傷寒論云：中風能食，傷寒不能食，二者皆口中和而不惡食，若勞役所傷，及飲食失節，寒溫不適，三者俱惡食，口不知五味，亦不知五穀之味，只此一辯，足以分內外有餘不足二證也，傷寒證雖不能食而不惡食，口中和，知五味亦知穀味，蓋無內證，則心氣和，脾氣通，知五穀之味矣。</p>
<h3>辯渴與不渴。</h3>
<p>外感風寒之邪，三日已，外穀消，水去邪氣傳裏，始有渴也，內傷飲食失節，勞役久病者，必不渴，是邪氣在血脈中，有餘故也，初勞役形質，飲食失節，傷之重者，必有渴，以其心火熾，上克於肺金，故渴也，又當以此辯之，雖渴欲飲冷水者，當徐徐少與之，不可縱意而飲，恐水多峻下，則胃氣愈弱，輕則為脹，重則傳變諸疾，必反覆悶亂，百脈不安，夜加增劇，不得安臥，不可不預度也。</p>
<h3>辯勞役受病表虛不作表實治之。</h3>
<p>或因勞役動作，腎間陰火沸騰，事閑之際，或於陰涼處解脫衣裳，更有新沐浴於背，陰處坐臥，其陰火下行，還歸腎間皮膚腠理，極虛無陽，但風來為寒涼所遏，表虛不任其風寒，自認外感風寒，求醫解表，以重絕元氣，取禍如反掌，苟幸而免者，致虛勞氣血皆弱，不能完復，且表虛之人為風寒所遏，亦是虛邪犯表，始病一二日之間，特與外中賊邪有餘之證頗相似處，故致疑惑，請醫者，只於氣少氣盛上辨之，其外傷賊邪，必語聲前輕後重，高厲而有力，若是勞役所傷，飲食不節，表虛不足之病，必短氣氣促，上氣高喘，懶語其聲，困弱而無力至易見也，若毫釐之誤，則千里之謬，已上者辯證，別有治法，用藥正論，故作此說，分解於後。</p>
<h3>辯證與中熱頗相似。</h3>
<p>復有一節，乘天氣大熱之時，在於路途中勞役得之，或在田野間勞形得之，更或有身體薄弱，食少勞役過甚，又有修善常齋之人，胃氣久虛，而因勞役得之者，皆與陽明中熱白虎湯證相似，必肌體捫摸之壯熱，必躁熱悶亂，大惡熱渴而飲水，以勞役過甚之故，亦身疼痛，始受病之時，特與中熱外得有餘之證相似，若誤與白虎湯，旬日必死，此證脾胃大虛元氣不足，口鼻中氣皆短促而上喘，至日轉以後，是陽明得時之際，病必少減，若是外中熱之病，必到日晡之際大作讝語，其熱增加，大渴飲水，煩悶不止，其勞役不足者，皆無此證，尤易為分解，若有難決疑似之證，必當待一二日，求醫治療，必不至錯誤矣。</p>
<p>內外傷辨卷上終。</p>
<h2>內外傷辯卷中  金  真定李杲著</h2>
<h3>飲食勞倦論。</h3>
<p>古之至人，竅於陰陽之化，究乎生死之際，所著內經，悉言人以胃氣為本，蓋人受水穀之氣以生，所謂清氣榮氣衛氣春升之氣，皆胃氣之別稱也，夫胃為水穀之海，飲食入胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行，合於四時五臟陰陽揆度以為常也，苟飲食失節，寒溫不適，則脾胃乃傷，喜怒憂恐勞役過度而損耗元氣，既脾胃虛衰，元氣不足，而心火獨盛，心火者，陰火也，起於下焦，其系繫於心，心不主令，相火代之，相火，下焦包絡之火，元氣之賊也，火與元氣不能兩立，一勝則一負，脾胃氣虛則下流於腎肝，陰火得以乘其土位，故脾胃之證，始符之則氣高而喘，身熱而煩，其脈洪大而頭痛，或渴不止，皮膚不任風寒而生寒熱，蓋陰火上衝，則氣高而喘，身煩熱為頭痛為渴而脈洪大，脾胃之氣下流，使穀氣不得升浮，是生長之令不行，則無陽以護其榮衛，不任風寒乃生寒熱，皆脾胃之氣不足所致也，然而與外感風寒所得之證頗同而理異，內傷脾胃乃傷其氣，外感風寒乃傷其形，傷外為有餘，有餘者瀉之，傷內為不足，不足者補之，汗之下之吐之克之皆瀉也，溫之和之調之養之皆補也，內傷不足之病，苟誤認作外感有餘之病而反瀉之，則虛其虛也，難經云：實實虛虛，損不足而益有餘，如此死者，醫殺之耳，然則奈何？曰：惟當以甘溫之劑，補其中升其陽，甘寒以瀉其火則愈，內經曰：勞者溫之，損者溫之，蓋溫能除大熱，大忌苦寒之藥瀉胃土耳，令立補中益氣湯。</p>
<p>補中益氣湯：</p>
<p>黃耆（勞役病熱甚者一錢），甘草（炙各五分），人參（去蘆），升麻，柴胡，橘皮，當歸身（酒洗），白朮（各三分）。</p>
<p>右件㕮咀，都作一服，水二盞煎至一盞，去柤，早飯後溫服，如傷之重者二服而愈，量輕重治之。</p>
<h3>立方本指。</h3>
<p>夫脾胃虛者，因飲食勞倦，心火亢甚而乘其土位，其次肺氣受邪，須用黃耆最多，人參甘草次之，脾胃一虛，肺氣先絕，故用黃耆以益皮毛而閉腠理，不令自汗，損其元氣，上喘氣短，人參以補之，心火乘脾須炙甘草之甘以瀉火熱，而補脾胃中元氣，若脾胃急痛并太虛腹中急縮者，宜多用之，經云：急者緩之，白朮苦甘溫，除胃中熱，利腰臍間血，胃中清氣在下，必加升麻柴胡以引之，引黃耆甘草甘溫之氣味上升，能補衛氣之散解而實其表也，又緩帶脈之縮急，二味苦平，味之薄者，陰中之陽，引清氣上升也，氣亂於胸中，為清濁相干，用去白陳皮以理之，又能助陽氣上升以散滯氣，助諸甘辛為用，口乾嗌乾加乾葛，脾胃氣虛不能升浮，為陰火傷其生發之氣，榮血大虧，榮氣不營，陰火熾盛，是血中伏火日漸煎熬，血氣日減，心包與心主血，血減則心無所養，致使心亂而煩，病名曰：悗悗者，心惑而煩悶不安也。故加辛甘微溫之劑生陽氣，陽生則陰長，或曰：甘溫何能生血？曰：仲景之法，血虛以人參補之，陽旺則能生陰血，更以當歸和之，少加黃柏以救腎水，能瀉陰中之伏火，如煩猶不止，少加生地黃補腎水，水旺而心火自降，如氣浮心亂，以硃砂安神丸鎮固之則愈。</p>
<p>硃砂安神丸：</p>
<p>硃砂（五錢另研水飛為衣），甘草（五錢五分），黃連（去鬚淨酒洗六錢），當歸（去蘆二錢三分），生地黃（一錢五分）。</p>
<p>內經曰：熱淫所勝，治以甘寒，以苦瀉之，以黃連之苦寒去心煩除濕熱為君，以甘草生地黃之甘寒瀉火補氣滋生陰血為臣，以當歸補其血不足，硃砂納浮溜之火而安神明也。</p>
<p>右件除硃砂外，四味共為細末，湯浸蒸餅為丸如黍米大，以硃砂為衣，每服十五丸或二十丸，津唾嚥下，食後，或溫水涼水少許送下亦得，此近而奇偶制之緩也。</p>
<h3>四時用藥加減法。</h3>
<p>內經曰：胃為水穀之海，又云：腸胃為市，無物不包，無物不入，寒熱溫涼皆有之，其為病也不一，故隨時證於補中益氣湯中，權立四時加減法於後：</p>
<p>以手捫之而肌表熱者，表證也，只服補中益氣湯一二服，得微汗則已，非正發汗，乃陰陽氣和，自然汗出也。</p>
<p>若更煩亂，如腹中或周身有刺痛，皆血澀不足，加當歸身（五分或一錢）。</p>
<p>如精神短少，加入參（五分），五味子（二十箇）。</p>
<p>頭痛加蔓荊子（三分），痛甚加以芎（五分）。</p>
<p>頭痛腦痛加藁本（五分），細辛（三分），謂頭痛併用此四味足矣。</p>
<p>如頭痛有痰，沉重懶倦者，乃太陰痰厥頭痛，加半夏（五分），生薑（三分）。</p>
<p>耳鳴目黃，頰頷腫，頸肩臑肘臂外後廉痛，面赤脈洪大者，以羌活（一錢），防風藁本（各七分），甘草（五分），通其經血，加黃芩黃連（各三分），消其腫，人參（五分），黃耆（七分），益元氣而瀉火邪，另作一服與之。</p>
<p>嗌痛頷腫，脈洪大面赤者，加黃芩甘草（各三分），桔梗（七分）；口乾嗌乾者加葛根（五分），升引胃氣上行以潤之。</p>
<p>如夏月咳嗽者，加五味子（二十五箇），麥門冬（去心五分）。</p>
<p>如冬月咳嗽加不去根節麻黃（五分）。</p>
<p>如秋涼亦加。</p>
<p>如春月天溫只加佛耳草款冬花（各五分）。</p>
<p>若久病痰嗽，肺中伏火，去人參以防痰嗽增益耳；食不下，乃胸中胃上有寒，或氣澀滯，加青皮木香（各三分），陳皮（五分），此三味為定法。</p>
<p>如冬月加益智仁草豆蔻仁（各五分）。</p>
<p>如夏月少加黃芩黃連（各五分）。</p>
<p>如秋月加檳榔草豆蔻白豆蔻縮砂（各五分）。</p>
<p>如春初猶寒，少加辛熱之劑，以補春氣之不足，為風藥之佐，益智草豆蔻可也。</p>
<p>心下痞夯悶者，加芍藥黃連（各一錢）。</p>
<p>如痞腹脹加枳實木香縮砂仁（各三分），厚朴（七分），如天寒少加乾薑或中桂（桂心也）。</p>
<p>心下痞，覺中寒，加附子黃連（各一錢），不能食而心下痞加生薑陳皮（各一錢），能食而心下痞加黃連（五分），枳實（三分），脈緩有痰而痞加半夏黃連（各一錢），脈弦，四肢滿，便難而心下痞，加黃連（五分），柴胡（七分），甘草（三分）。</p>
<p>腹中痛者加白芍藥（五分），甘草（三分），如惡寒覺冷痛加中桂（五分）。</p>
<p>如夏月腹中痛，不惡寒不惡熱者，加黃芩甘草（各五分），芍藥（一錢），以治時熱也。</p>
<p>腹痛在寒涼時，加半夏益智草豆蔻之類。</p>
<p>如腹中痛，惡寒而脈弦者，是木來克土也，小建中湯主之，蓋芍藥味酸，於土中瀉木為君，如脈沉細腹中痛，是水來侮土，以理中湯主之，乾薑辛熱，於土中瀉水以為主也，如脈緩，體重節痛，腹脹自利，米穀不化，是濕勝，以平胃散主之，蒼朮苦辛溫瀉濕為主也；脇下痛或脇下縮急，俱加柴胡（三分，甚則五分），甘草（三分）。</p>
<p>臍下痛者加真熱地黃（五分），如不已者，乃大寒也，加肉桂（五分），遍閱內經中，悉言小腹痛皆寒，非傷寒厥陰之證也，乃下焦血結膀胱，仲景以抵當湯並抵當丸主之。</p>
<p>小便遺失，肺金虛也，宜安臥養氣，以黃耆人參之類補之，不愈則是有熱也，黃柏生地黃（各五分），切禁勞役，臥而多驚，小便淋溲者，邪在少陽厥陰，宜太陽經所加之藥更添柴胡（五分），如淋加澤瀉（五分），此下焦風寒合病也，經曰：腎肝之病同一治，為俱在下焦，非風藥行經則不可，乃受客邪之濕熱也，宜升舉發散以除之，大便祕澀加當歸（一錢），大黃（酒洗煨五分或一錢），如有不大便者，煎成正藥，先用清者一口，調玄明粉（五分或一錢），如大便行則止，此病不宜大下之，必變凶證也。</p>
<p>腳膝痿軟，行步乏力或痛，乃腎肝伏熱，少加黃柏（五分），空心服，不已，更加漢防己（五分），脈緩顯，沉困怠惰無力者，加蒼朮人參澤瀉白朮茯苓五味子（各五分），如風濕相搏，一身盡痛，以除風濕羌活湯主。</p>
<p>除風濕羌活湯：</p>
<p>羌活（七分），防風，升麻，柴胡（各五分），藁本，蒼朮（各一錢）。</p>
<p>右件剉如麻豆大，都作一服，水二盞煎至一盞，去柤，大溫服之，空心食前。</p>
<p>所以然者，為風藥已能勝濕，故另作一服與之。</p>
<p>肩背痛，汗出少，便數而少，風熱乘肺，肺氣鬱甚也，當瀉風熱則愈，通氣防風湯主之。</p>
<p>通氣防風湯：</p>
<p>防風，羌活，陳皮，人參，甘草（各五分），藁本，青皮（各三分），白豆蔻，黃柏（各二分），升麻，柴胡，黃耆（各一錢）。</p>
<p>右㕮咀，都作一服，水二盞煎至一盞，去柤，溫服食後，如面白脫色氣短者不可服。</p>
<p>肩背痛，不可回顧者，此手太陽氣鬱而不行，以風藥散之，脊痛項強，腰似折，項似拔，此足太陽經不通行，以羌活勝濕湯主之。</p>
<p>羌活勝濕湯：</p>
<p>羌活，獨活（各一錢），藁本，防風，甘草（炙），川芎（各五分），蔓荊子（三分）。</p>
<p>右㕮咀，都作一服，水二盞煎至一盞，去柤，大溫服，空心食前，如身重腰沉沉然，經中有寒濕也，加酒洗漢防己（五分），輕者附子（五分），重者川烏（五分）。</p>
<p>升陽順氣湯：</p>
<p>治因飲食不節，勞役所傷，腹脇滿悶，短氣，遇春則口淡無味，遇夏雖熱猶有惡寒，饑則常如飽，不喜食冷物。</p>
<p>黃耆（一兩），半夏（三錢湯洗七次），草豆蔻（二錢），神麯（一錢五分炒），升麻，柴胡，當歸身，陳皮（各一錢），甘草（炙），黃柏（各五分），人參（去蘆三分）。</p>
<p>胃不足之證，須用升麻柴胡苦平，味之薄者，陰中之陽，引脾胃中清氣行於陽道及諸經，生發陰陽之氣，以滋春氣之和也，又引黃耆人參甘草，甘溫之氣味上行充實腠理，使陽氣得衛外而為固也，凡治脾胃之藥，多以升陽補氣名之者，此也。</p>
<p>右件㕮咀，每服三錢，水二盞生薑三片煎至一盞，去柤，溫服食前。</p>
<p>升陽補氣湯：</p>
<p>治飲食不時饑飽勞役，胃氣不足，脾氣下溜，氣短無力，不能寒熱，早飯後轉增昏悶，須要眠睡，怠惰，四肢不收，懶倦動作，及五心煩熱。</p>
<p>厚朴（薑炙五分），升麻，羌活，白芍藥，獨活，防風，甘草（炙），澤瀉（各一錢），生地黃（一錢五分），柴胡（二錢五分）。</p>
<p>右件為粗末，每服五錢，水二盞生薑三片棗二枚煎至一盞，去柤，大溫服食前。</p>
<p>如腹脹及窄狹加厚朴。</p>
<p>如腹中似硬加砂仁（三分）。</p>
<h3>暑傷胃氣論。</h3>
<p>刺志論云：氣虛身熱，得之傷暑，熱傷氣故也，痿論云：有所遠行勞倦，逢大熱而渴，則陽氣內伐，內伐則熱舍於腎，腎者，水臟也，今水不能勝火，則骨枯而髓虛，足不任身，發為骨痿，故下，經曰：骨痿者，生於大熱也，此濕熱成痿，令人骨乏無力，故治痿獨取陽明，時當長夏，濕熱大勝，蒸蒸而熾人，感之多四肢困倦，精神短少，懶於動作，胸滿氣促，肢節沉痛，或氣高而喘，身熱而煩，心下膨痞，小便黃而少，大便溏而頻，或痢出黃糜，或如泔色，或渴或不渴，不思飲食，自汗體重，或汗少者，血先病而氣不病也，其脈中得洪緩，若濕氣相搏，必加之以遲，遲病雖互換少差，其天暑濕令則一也，宜以清燥之劑治之，名之曰清暑益氣湯主之。</p>
<p>清暑益氣湯：</p>
<p>黃耆（汗少者減五分），蒼朮（泔浸去皮各一錢五分），升麻（一錢），人參（去蘆），白朮，橘皮，神麯（炒），澤瀉（各五分），甘草（炙），黃柏（酒浸），當歸身，麥門冬（去心），青皮（去白），葛根（各三分），五味子（九箇）。</p>
<p>內經云：陽氣者，衛外而為固也，炅則氣泄，今暑邪干衛，故身熱自汗，以黃耆人參甘草補中益氣為君，甘草橘皮當歸身甘辛微溫養胃氣和血脈為臣，蒼朮白朮澤瀉滲利除濕，升麻葛根苦甘平善解肌熱，又以風勝濕也，濕勝則濕不消而作痞滿，故炒麯甘辛青皮辛溫消食快氣，腎惡燥急食辛以潤之，故以黃柏苦辛寒，借甘味瀉熱補水，虛者滋其化源，以五味子麥門冬酸甘微寒，救天暑之傷庚金為佐也。</p>
<p>右㕮咀作一服，水二盞煎至一盞，去柤，稍熱服食遠。</p>
<p>此病皆因飲食失節，勞倦所傷，日漸因循，損其脾胃，乘暑天而作病也。</p>
<p>如汗大泄者，津脫也，急止之，加五味子（十枚），炒黃柏（五分），知母（三分），此按而收之也。</p>
<p>如濕熱乘其腎肝，行步不正，腳膝痿弱，兩腳欹側，已中痿邪，加酒洗黃柏知母（各五分），令兩足湧出氣力矣。如大便澀滯，隔一二日不見者，致食少，乃血中伏火而不得潤也，加當歸身生地黃（各五分），桃仁泥麻仁泥（各一錢），以潤之。</p>
<p>夫脾胃虛弱之人，遇六七月霖雨，諸物皆潤，人汗沽衣，身重短氣，更逢濕旺助熱為邪，西北二方，寒清絕矣，人重感之，則骨乏無力，其形如夢寐間，朦朦如煙霧中，不知身所有也，聖人立法，夏月宜補者，補天真元氣，非補熱火也，夏令寒者是也，故以人參之甘補氣，麥門冬苦寒瀉熱補水之源，五味子之酸清肅燥金，名曰生脈散，孫真人云：五月常服五味子，以補五臟之氣，亦此意也。</p>
<p>參朮調中湯：</p>
<p>瀉熱補氣，止嗽定喘，和脾胃，進飲食。</p>
<p>白朮（五分），黃耆（四分），桑白皮，甘草（炙），人參（各三分），麥門冬（去心），青皮（去白），陳皮（去白），地骨皮，白茯苓（各二分），五味子（二十箇）。</p>
<p>內經云：火位之主，其瀉以甘，以黃耆甘溫瀉熱補氣，桑白皮苦微寒瀉肺火定喘，故以為君，肺欲收，急食酸以收之，以五味子之酸收耗散之氣，止咳嗽，脾胃不足以甘補之，故用白朮人參炙甘草苦甘溫，補脾緩中為臣，地骨皮苦微寒，善解肌熱，茯苓甘平降肺火，麥門冬甘微寒保肺氣為佐，青皮陳皮去白苦辛溫，散胸中滯氣為使也。</p>
<p>右件㕮咀，如麻豆大，都作一服，水二盞煎至一盞，去柤，大溫服，早飯後，忌多語言勞役。</p>
<p>升陽散火湯：</p>
<p>治男子婦人，四肢發困熱，肌熱筋骨間熱表熱如火，燎於肌膚，捫之烙手，夫四肢屬脾，脾者，土也，熱伏地中，此病多因血虛而得之也，又有胃虛，過食冷物，鬱遏陽氣於脾土之中，並宜服之。</p>
<p>升麻，葛根，獨活，羌活，白芍藥，人參（各五錢），甘草（炙），柴胡（各三錢），防風（二錢五分），甘草（生二錢）。</p>
<p>右件㕮咀，如麻豆大，每服秤五錢，水二盞煎至一盞，去柤，大溫服，無時，忌寒涼之物。</p>
<p>當歸補血湯：</p>
<p>治肌熱燥熱，困渴引飲，目赤面紅，晝夜不息，其脈洪大而虛，重按全無，內經曰：脈虛血虛，又云：血虛發熱，證象白虎，惟脈不長實，有辯耳，誤服白虎湯必死，此病得之於饑困勞役。</p>
<p>黃耆（一兩），當歸（酒洗二錢）。</p>
<p>右件㕮咀，都作一服，水二盞煎至一盞，去柤，溫服空心食。</p>
<p>硃砂涼膈丸：</p>
<p>治上焦虛熱，肺脘咽膈有氣如煙搶上。</p>
<p>黃連，山梔子（各一兩），人參，茯苓（各五錢），硃砂（三錢別研），腦子（五分別研）。</p>
<p>右為細末研勻，煉蜜為丸如梧桐子大，硃砂為衣，熟水送下五七丸，日進三服，食後。</p>
<p>黃連清膈丸：</p>
<p>治心肺間有熱及經中熱。</p>
<p>麥門冬（去心一兩），黃連（去鬚五錢），鼠尾黃芩（淨刮三錢）。</p>
<p>右為細末，煉蜜為丸如綠豆大，每服三十丸，溫水送下，食後。</p>
<p>門冬清肺飲：</p>
<p>治脾胃虛弱，氣促氣弱，精神短少，衂血吐血。</p>
<p>紫苑茸（一錢五分），黃耆，白芍藥，甘草（各一錢），人參（去蘆），麥門冬（各五分），當歸身（三分），五味子（三箇）。</p>
<p>右㕮咀，分作二服，每服水二盞煎至一盞，去柤，溫服食後。</p>
<p>局方中大阿膠丸亦宜用。</p>
<p>人參清鎮丸：</p>
<p>治熱止嗽，消痰定喘。</p>
<p>柴胡，人參（各一兩五錢），生黃芩，半夏，甘草（炙各七錢五分），青黛（六錢），天門冬（去心三錢），陳皮（去白），五味子（去核二錢）。</p>
<p>右件為細末，水糊為丸如梧桐子大，每服三十丸至五十丸，溫白湯送下，食後。</p>
<p>局方中人參清肺湯亦宜用。</p>
<p>皂角化痰丸：</p>
<p>治勞風，心脾壅滯，痰涎盛多，喉中不利，涕唾稠粘，嗌塞吐逆，不思飲食，或時昏憒。</p>
<p>皂角木白皮（酥炙），白附子（炮），半夏（湯洗七次），天南星（炮），白礬（枯），赤茯苓（去皮），人參（各一兩），枳殼（炒二兩）。</p>
<p>右為細末，生薑汁麵糊為丸如梧桐子大，每服三十丸，溫水送下，食後。</p>
<p>白朮和胃丸：</p>
<p>治病久，厭厭不能食，而臟腑或結或溏，此胃氣虛弱也，常服則和中理氣，消痰去濕，和脾胃，進飲食。</p>
<p>白朮（一兩二錢），半夏（湯洗七次），厚朴（薑炙各一兩），陳皮（去白八錢），人參（七錢），甘草（炙三錢），枳實（麩炒），檳榔（各二錢五分），木香（一錢）。</p>
<p>右件為細末，生薑汁浸蒸餅為丸，如梧桐子大，每服三十丸，溫水送下，食遠。</p>
<h3>肺之脾胃虛方。</h3>
<p>脾胃虛則怠惰嗜臥，四肢不收，時值秋燥令行，濕熱少退，體重節痛，口乾舌乾，飲食無味，大便不調，小便頻數，不欲食，食不消，兼見肺病，洒淅惡寒，慘慘不樂，面色惡而不和，乃陽氣不伸故也，當升陽益氣，名之曰升陽益胃湯。</p>
<p>升陽益胃湯：</p>
<p>黃耆（二兩），人參（去蘆），半夏（洗，此一味脈濇者用），甘草（炙各一兩），獨活，防風（以秋旺，故以辛溫瀉之），白芍藥（何故秋旺用人參白朮芍藥之類，及補肺，為脾胃虛則肺最受邪，故因時而補，易為力也），羌活（各五錢），橘皮（四錢），茯苓（小便利，不渴者勿用），柴胡，澤瀉（不淋勿用），白朮（各三錢），黃連（一錢）。</p>
<p>右㕮咀，每服秤三錢，水三盞生薑五片棗二枚，煎至一盞，去柤，溫服，早飯後或加至五錢，服藥後，如小便罷而病加增劇，是不宜利小便，當少去茯苓澤瀉。</p>
<p>若喜食，一二日不可飽食，恐胃再傷，以藥力尚少，胃氣不得轉運升發也，須薄味之食或美食，助其藥力，益升浮之氣而滋其胃氣，慎不可淡食，以損藥力而助邪氣之降沉也。</p>
<p>可以小役形體，使胃與藥得轉運升發，慎勿大勞役，使氣復傷，若脾胃得安靜尤佳，若胃氣稍強，少食果以助穀藥之力，經云：五穀為養，五果為助者也。</p>
<p>雙和散：</p>
<p>補血益氣，治虛勞少力。</p>
<p>白芍藥（二兩五錢），黃耆，熟地黃，川芎，當歸（各一兩），甘草（炙），官桂（各七錢五分）。</p>
<p>右為粗末，每服四錢，水一盞半生薑三片棗二枚煎至七分，去柤，溫服。</p>
<p>大病之後，虛勞氣乏者以此調治，不熱不冷，溫而有補。</p>
<p>寬中進食丸：</p>
<p>滋形氣，喜食飲。</p>
<p>大麥柏，半夏，豬苓（去黑皮各七錢），草豆蔻仁，神麯（炒各五錢），枳實（麩炒四錢），橘皮，白朮，白茯苓，澤瀉（各二錢），縮砂仁（一錢五），乾生薑，甘草（炙），人參，青皮（各一錢），木香（五分）。</p>
<p>右為細末，湯浸蒸餅為丸如梧桐子大，每服三十丸，溫米飲送下，食後。</p>
<p>厚朴溫中湯：</p>
<p>治脾胃虛寒，心腹脹滿，及秋冬客寒犯胃，時作疼痛。</p>
<p>厚朴（薑製），橘皮（去白各一兩），甘草（炙），草豆蔻仁，茯苓（去皮），木香（各五錢），乾薑（七分）。</p>
<p>戊火已衰，不能運化，又加客寒聚為滿痛，散以辛熱，佐以苦甘，以淡泄之氣溫胃和痛自止矣。</p>
<p>右為粗散，每服五錢匕，水二盞生薑三片煎至一盞，去柤，溫服，食前，忌一切冷物。</p>
<h3>腎之脾胃虛方。</h3>
<p>沉香溫胃丸：</p>
<p>治中焦氣弱，脾胃受寒，飲食不美，氣不調和，臟腑積冷，心腹疼痛，大便滑泄，腹中雷鳴，霍亂吐瀉，手足厥逆，便利無度，又治下焦陽虛，臍腹冷痛，及療傷寒，陰濕形氣，沉困自汗。</p>
<p>附子（炮去皮臍），巴戟（酒浸去心），乾薑（炮），茴香（炮各一兩），官桂（七錢），沉香，甘草（炙），當歸，吳茱萸（洗炒去苦），人參，白朮，白芍藥，白茯苓（去皮），良薑，木香（各五錢），丁香（三錢）。</p>
<p>右為細末，用好醋打麵糊為丸如梧桐子大，每服五七十丸，熱米飲送下，空心食前，日進三服，忌一切生冷物。</p>
<p>凡脾胃之證，調治差誤，或妄下之未傳，寒中復遇時寒，則四肢厥逆而心胃絞痛冷汗出，舉痛論云：寒氣客於五臟，厥逆上泄，陰氣竭，陽氣未入，故卒然痛，死不知人，氣復則生矣，夫六氣之勝，皆能為病，惟寒毒最重，陰主殺故也，聖人以辛熱散之，復其陽氣，故曰：寒邪客之，得炅則痛立止，此之謂也。</p>
<p>神聖復氣湯：</p>
<p>治復氣乘冬，足太陽寒水，足少陰腎水，子能令母實，手太陰肺實反來侮土，火木受邪，腰背胸膈閉塞疼痛，善嚏口中涎，目中泣，鼻流濁涕不止，或息肉不聞香臭，咳嗽痰沬，上熱如火，下寒如冰，頭作陣痛，目中流火，視物𥉂𥉂，耳鳴取聾，頭并口鼻或惡風寒喜日陽，夜臥不安，常覺痰塞，膈咽不通，口失味，兩脇縮急而痛，牙齒動搖不能嚼物，陰汗出，前陰冷，行步欹側，起居艱難，掌中熱，風痹麻木，小便數而晝多夜頻而欠，氣短喘喝，少氣不足以息，卒遺失無度，婦人白帶，陰戶中大痛，牽心而痛，面如赭色，食少，大便不調，心煩霍亂，逆氣裏急而腹痛，皮色白，後出餘氣，復不能努，或腸鳴，膝下筋急，肩胛大痛，此寒水來復火土之讎也。</p>
<p>乾薑（炮為末一錢三分），柴胡（剉如豆大），羌活（剉各一錢），甘草（剉），藁本（各八分），升麻（剉），半夏（湯洗各七分），當歸身（酒浸剉六分），防風（剉如豆大），郁李仁（湯浸去皮研如泥入藥同煎），人參（各五分），附子（炮去皮臍二分），白葵花（五朵去心細剪入）。</p>
<p>右件藥都作一服，水五盞煎至二盞入</p>
<p>草豆蔻仁（麵裹燒麵熟去皮乾），黃耆（各一錢），橘皮（五分）。</p>
<p>在內再煎至一盞，再入下項藥。</p>
<p>枳殼（五分），黃柏（酒浸），黃連（酒洗各三分），生地黃（湯洗二分）。</p>
<p>已上四味，預一日另用新水浸，又以</p>
<p>川芎（細末），蔓荊子（各三分），華細辛（二分）。</p>
<p>預一日用新水半大盞，分作二處浸，此三味并黃柏等煎正藥，作一大盞，不去柤，入此浸者藥，再上火煎至一大盞，去柤，稍熱服，空心。</p>
<p>又能治齒頰嚙唇嚙舌，舌根強硬等證如神，宜食羊肉及厚滋味，大抵腎併膀胱經中有寒，元氣不足者皆宜服之神驗，於月生月滿時，隔三五日一服，如病急不拘時分服。</p>
<p>治法已試驗者，學者當以意求其的，觸類而長之則不可勝用矣，予病脾胃久衰，視聽半失，此陰乘陽而上氣短，精神不足且脈弦，皆陽氣衰弱，伏匿於陰中故耳，癸卯歲六七月間，霖雨陰寒，踰月不止，時人多病瀉痢，乃濕多成五泄故也，一日體重，肢節疼痛，大便泄併下者，三而小便閉塞，默思內經有云：在下者，引而竭之，是先利小便也，又治諸瀉而小便不利者，先分利之，又云：治濕不利小便，非其治也，法當利其小便，必用淡滲之劑以利之，是其法也，噫聖人之法，雖布在方，策其不盡者，可以意求，今客邪寒濕之勝，自外入裏而甚暴，若以淡滲之劑利之，病雖即已，是降之又降，復益其陰而重竭其陽也，則陽氣愈消而精神愈短矣，陰重強而陽重衰也，茲以升陽之藥是為宜耳，羌活獨活升麻各一錢，防風半錢炙甘草半錢，同㕮咀，水四盞煎至一盞，去柤，熟服一服乃愈，大法云：寒濕之勝，助風以平之，又曰：下者舉之，此得陽氣升騰故愈，是因曲而為之直也，夫聖人之法可以類推，舉一則可以知百矣。</p>
<p>內外傷辨卷中終。</p>
<h2>內外傷辨卷下  金  真定李杲著</h2>
<h3>辯內傷飲食用藥所宜所禁</h3>
<p>內傷飲食付藥者，受藥者皆以為瑣末細事，是以所當重者為輕，利害非細，殊不思胃氣者，榮氣也，衛氣也，穀氣也，清氣也，資少陽生發之氣也，人之真氣衰旺，皆在飲食入胃，胃和則穀氣上升，穀氣者，升騰之氣也，乃足少陽膽手少陽元氣始發，生長萬化之別名也，飲食一傷，若消導藥的對其所傷之物，則胃氣愈旺，五穀之精華上騰，乃清氣為天者也，精氣神氣皆強盛，七神衛護，生氣不乏，增益大旺，氣血周流，則百病不能侵，雖有大風苛毒，弗能害也，此一藥之用其利溥哉？易水張先生嘗戒不可用峻利食藥，食藥下咽，未至藥丸施化，其標皮之力始開，便言空快也，所傷之物已去，若更待一兩時辰許，藥盡化開，其峻利藥必有情性，病去之後，脾胃安得不損乎？脾胃既損，是真氣元氣敗壞，促人之壽，當時說下一藥，枳實一兩麩炒黃色為度，白朮二兩，只此二味，荷葉裹燒飯為丸，以白朮苦甘溫，其甘溫補脾胃之元氣，其苦味除胃中之濕熱，利腰膝間血，故先補脾胃之弱過於枳實克化之藥一倍，枳實味苦寒，泄心下痞悶，消化胃中所傷，此一藥下胃，其所傷不能即去，須待一兩時辰許，食則消化，是先補其虛而後化其所傷，則不峻利矣，當是之時，未悟用荷葉燒飯為丸之理，老年味之始得，可謂神奇矣，荷葉之一物，中央空虛，象震卦之體，震者，動也，人感之生足少陽甲膽也，甲膽者，風也，生化萬物之根蒂也，左傳云：履端於始序則不愆，人之飲食入胃，營氣上行，即少陽甲膽之氣也，其手少陽三焦經，人之元氣也，手足經同法，便是少陽元氣生發也，胃氣穀氣元氣甲膽上升之氣一也，異名雖多，止是胃氣上升者也，荷葉之體，生於水土之下，出於穢汙之中而不為穢汙所染，挺然獨立，其色青，形乃空清而象風木者也，食藥感此氣之化，胃氣何由不止升乎？其主意用此一味為引用，可謂遠識深慮，合於道者也，更以燒飯和藥與白朮協力，滋養穀氣而補，令胃厚再不至內傷，其利廣矣大矣，若內傷脾胃以辛熱之物酒肉之類，自覺不快，覓藥於醫者，此風習以為常，醫者亦不問所傷，即付之以集香丸巴豆，大熱藥之類下之，大便下則物去，遺留食之熱性，藥之熱性重傷元氣，七神不熾，經云：熱傷氣正謂此也，其人必無氣以動而熱困，四肢不舉，傳變諸疾，不可勝數，使人真氣自此衰矣，若傷生冷硬物，世醫或用大黃牽牛二味大寒藥投之，物隨藥下，所傷去矣，遺留食之寒性藥之寒性，重瀉其陽，陽去則皮膚筋骨肉血脈無所依倚，便為虛損之證，論言及此，令人寒心，夫辛辣氣薄之藥，無故不可亂服，非止牽牛而已，至真要大論云：五味入胃，各先逐其所喜攻，攻者，剋伐瀉也，辛味下咽，先攻瀉肺之五氣，氣者，真氣，元氣也，其牽牛之辛辣猛烈奪人尤甚，飲食所傷，腸胃受邪，當以苦味泄其腸胃可也，肺與元氣何罪之有？夫牽牛不可用者有五，此其一也，況胃主血，為物所傷，物者，有形之物也，皆是血病，血病瀉氣，此其二也，且飲食傷於中焦，止合剋化，消導其食，重瀉上焦肺中已虛之氣，此其三也，食傷腸胃，當塞因塞用，又寒因寒用，枳實大黃苦寒之物以泄有形是也，反以辛辣牽牛散瀉真氣，犯大禁四也，殊不知鍼經第一卷第一篇有云：外來客邪，風寒傷入五臟，若誤瀉胃氣必死，誤補亦死，其死也，無氣以動，故靜，若內傷腸胃而反瀉五臟，必死，誤補亦死，其死也，陰氣有餘，故躁，今內傷腸胃，是謂六腑不足之病，反瀉上焦虛無肺氣，肺者，五臟之一數也，為牽牛之類，朝損暮損，其元氣消耗，此乃暗裏折人壽數，犯大禁五也，良可哀歎，故特著此論并方，庶令四海聞而行之，不至夭橫耳，此老夫之用心也，胃氣豈可不養，復明養胃之理，故經曰：安穀則昌，絕穀則亡，水去則榮散，穀消則衛亡，榮散衛亡神無所依，仲景云：水入於經，其血乃成，穀入於胃，脈道乃行，故血不可不養，胃不可不溫，血溫胃和，榮衛將行，常有天命，穀者，身之大柄也，書與周禮皆云：金木水火土穀，惟脩以奉養五臟者也，內傷飲食，固非細事，茍妄服食藥而輕生損命，其可受哉？黃帝鍼經有說，胃惡熱而喜清，大腸惡清冷而喜熱，兩者不和，何以調之？伯岐曰：調此者，飲食衣服亦欲適寒溫，寒無淒愴，暑無出汗，飲食者，熱無灼灼，寒無滄滄，寒溫中適，故氣將持，乃不致邪僻也（詳說見於本經條下），是必有因用，豈可用俱寒俱熱之食藥致損者，與內經云：內傷者，其氣口脈反大於人迎一倍二倍三倍，分經用藥，又曰：上部有脈，下部無脈，其人當吐不吐者，死，如但食不納，惡心欲吐者，不問一倍二倍，不當正與瓜蒂散吐之，但以指或以物探去之，若所傷之物去不盡者，更診其脈，問其所傷，以食藥去之，以應塞因塞用，又謂之寒因寒用，泄而下降，乃應太陰之用，其中更加升發之藥，令其元氣上升，塞因塞用，因曲而為之直，何為曲？乃傷胃氣是也，何為直？而升發胃氣是也，因治其飲食之內傷而使生氣增益，胃氣完復，此乃因曲而為之直也，若依分經用藥，其所傷之物，寒熱溫涼生硬柔軟所傷不一，難立定法，只隨所傷之物不同，各立法治，臨時加減用之，其用藥又當問病人從來稟氣盛衰，所傷寒物熱物，是喜食而食之耶？不可服破氣藥，若乘饑困而食之耶？當益胃氣，或為人所勉勸強食之，宜損血而益氣也，診其脈候，傷在何臟，方可與對病之藥，豈可妄泄天真生氣，以輕喪身寶乎？且如先食熱物而不傷，繼之以寒物，因後食致前食亦不消化而傷者，當問熱食寒食，熟多熟少，斟酌與藥，無不當矣，喻如傷熱物二分，寒物一分，則當用寒藥二分熱藥一分，相合而與之，則榮衛之氣必得周流，更有或先飲酒而後傷寒冷之食，及傷熱食冷水與冰，如此不等，皆當驗其節次所傷之物，約量寒熱之劑分數，各各對證而與之，無不取驗，自忖所定方藥，未敢便為能盡藥性之理，姑用指迷辯惑耳，隨證立方備陳於後。</p>
<p>易水張先生枳朮丸：</p>
<p>治痞，消食強胃。</p>
<p>白朮（二兩），枳實（麩炒黃色去穰一兩）。</p>
<p>右同為極細末，荷葉裹燒飯為丸如梧桐子大，每服五十丸，多用白湯下，無時，白朮者，本意不取其食速化，但令入胃氣強實，不復傷也。</p>
<p>橘皮枳朮丸：</p>
<p>治老幼元氣虛弱，飲食不消或臟腑不調，心下痞悶。</p>
<p>橘皮，枳實（麩炒去穰各一兩），白朮（二兩）。</p>
<p>右件為細末，荷葉燒飯為丸如梧桐子大，每服五十丸，熟水送下，食遠。</p>
<p>夫內傷用藥之大法，所貴服之強人胃氣，今胃氣益厚，雖猛食多食重食而不傷，此能用食藥者也，此藥久久益胃氣，令人不復致傷也。</p>
<p>麯柏枳朮丸：</p>
<p>治為人所勉勸強食之，致心腹滿悶不快。</p>
<p>枳實（麩炒去穰），大麥柏（麵炒），神麯（炒各一兩），白朮（二兩）。</p>
<p>右為細末，荷葉燒飯為丸如梧桐子大，每服五十丸，用溫水下，食遠。木香枳朮丸：</p>
<p>破滯氣，消飲食，開胃進食。</p>
<p>木香，枳實（麩炒去穰各一兩），白朮（二兩）。</p>
<p>右為細末，荷葉燒飯為丸如梧桐子大，每服五十丸，溫水送下，食遠。</p>
<p>木香化滯湯：</p>
<p>治因憂氣食濕麵，結於中脘，腹皮底微痛，心下痞滿，心不思飲食，食之不散，常常痞氣。</p>
<p>半夏（一兩），草豆蔻仁，甘草（炙各五錢），柴胡（四錢），木香，橘皮（各三錢），枳實（麩炒去穰），當歸梢（各一錢），紅花（五分）。</p>
<p>右件剉如麻豆大，每服五錢，水二大盞生薑五片煎至一盞，去柤，稍熱服，食遠，忌酒濕麵。</p>
<p>半夏枳朮丸：</p>
<p>治因冷食內傷。</p>
<p>半夏（湯洗七次焙乾），枳實（麩炒各一兩），白朮（二兩）。</p>
<p>右同為極細末，荷葉燒飯為丸如綠豆大，每服五十丸，溫水送下，添服不妨熱湯，浸蒸餅為丸亦可。</p>
<p>如食傷寒熱不調，每服加上二黃丸十丸，白湯送下，更作一方，加澤瀉一兩為丸，有小便淋者。</p>
<p>丁香爛飯丸：</p>
<p>治飲食所傷。</p>
<p>丁香，京三稜，廣茂（炮），木香（各一錢），甘草（炙），甘松（去土），縮砂仁，丁香皮，益智仁（各三錢），香附子（五錢）。</p>
<p>右為細末，湯浸蒸餅為丸如綠豆大，每服三十丸，白湯送下，或細嚼亦可，不拘時候。</p>
<p>治卒心胃痛甚效。</p>
<p>草豆蔻丸：</p>
<p>治秋冬傷寒冷物，胃腕當心而痛，上支兩脇膈咽不通。</p>
<p>草豆蔻（麵裹煨去皮取仁），枳實（麩炒黃色），白朮（各一兩），大麥柏（麵炒黃色），半夏（湯洗七次日乾），黃芩（刮去皮生），神麯（炒黃色各五錢），乾生薑，橘皮，青皮（各二錢），炒鹽（五分）。</p>
<p>右為極細末，湯浸蒸餅為丸如綠豆大，每服五十丸，白湯下，量所傷多少加減服之。</p>
<p>如冬月用，別作一藥，不用黃芩，歲火不及又傷冷物加以溫劑，是其治也，然有熱藥傷者，從權以寒藥治之，隨時之宜，不可不知也。</p>
<p>三黃枳朮丸：</p>
<p>治傷肉食濕麵辛辣厚味之物，填塞悶亂不快。</p>
<p>黃芩（二兩），黃連（酒洗），大黃（濕紙裹煨），神麯（炒），橘皮，白朮（各一兩），枳實（麩炒五錢）。</p>
<p>右為細末，湯浸蒸餅為丸如綠豆大一倍，每服五十丸，白湯送下，量所傷服之。</p>
<p>除濕益氣丸：</p>
<p>治傷濕麵，心腹滿悶，肢體沉重。</p>
<p>枳實（麩炒黃色），神麯（炒黃色），黃芩（生用），白朮（各一兩），蘿蔔子（炒熟去穢氣五錢），紅花（三分，是三錢分十也）。</p>
<p>右同為極細末，荷葉裹燒飯為丸如綠豆大，每服五十丸，白湯送下，量所傷多少服之。</p>
<p>上二黃丸：</p>
<p>治傷熱食痞悶，兀兀欲吐，煩亂不安。</p>
<p>黃芩（二兩），黃連（去鬚酒浸一兩），升麻，柴胡（各三錢），甘草（二錢），一方加枳實（麩炒去穰五錢）。</p>
<p>右為極細末，湯浸蒸餅為丸如綠豆大，每服五七十丸，白湯送下，量所傷服之。</p>
<p>枳實導滯丸：</p>
<p>治傷濕熱之物，不得施化而作痞滿，悶亂不安。</p>
<p>大黃（一兩），枳實（麩炒去穰），神麯（炒各五錢），茯苓（去皮），黃芩（去腐），黃連（揀淨），白朮（各三錢），澤瀉（二錢）。</p>
<p>右件為細末，湯浸蒸餅為丸如梧桐子大，每服五十丸至七十丸，溫水送下，食遠，量虛實加減服之。</p>
<p>枳實梔子大黃湯：</p>
<p>治大病差後，傷食勞復。</p>
<p>枳實（一箇麩炒去穰），梔子（三枚半肥者），豆豉（一兩二錢五分綿裹）。</p>
<p>右以清漿水二盞，空煮退八分，內枳實梔子，煮取八分，下豉再煮五六沸，去柤，溫服，覆令汗出。</p>
<p>若有宿食，內大黃如薄碁子五六枚同煎。</p>
<p>食膏梁之物過多煩熱悶亂者，亦宜服之。</p>
<p>白朮丸：</p>
<p>治傷豆粉濕麵油膩之物。</p>
<p>枳實（炒黃一兩一錢），白朮，半夏（湯浸），神麯（炒黃各一兩），橘皮（去穰七錢），黃芩（五錢），白礬（枯三分）。</p>
<p>右為極細末，湯浸蒸餅為丸如綠豆一倍大，每服五十丸，白湯送下，量所傷加減服，素食多用乾薑，故加黃芩以瀉之。</p>
<p>木香見睍丸：</p>
<p>治傷生冷硬物，心腹滿悶疼痛。</p>
<p>神麯（炒黃色），京三稜（煨各一兩），石三稜（去皮煨），草豆蔻（麵裹煨熟取仁），香附子（炒香各五錢），升麻，柴胡（各三錢），木香（二錢），巴豆霜（五分）。</p>
<p>右為細末，湯浸蒸餅為丸如綠豆一倍大，每服三十丸，溫白湯下，量所傷多少服之。</p>
<p>三稜消積丸：</p>
<p>治傷生冷硬物不能消化，心腹滿悶。</p>
<p>京三稜（炮），廣茂（炒），炒麯（各七錢），青橘皮，巴豆（和皮米炒黑焦去米），茴香（炒），陳橘皮（各五錢），丁皮，益智（各三錢）。</p>
<p>右件為細末，醋打麵糊為丸如梧桐子大，每服十丸加至二十丸，溫生薑湯下，食前，量虛實加減，如更衣正後服之。</p>
<p>備急大黃丸：</p>
<p>療心腹諸卒暴百病。</p>
<p>大黃，巴豆（去皮），乾生薑（各一兩）。</p>
<p>右須要精新好藥搗羅蜜和，更搗一千杵，丸如小豆大，每服三丸，老少量之。</p>
<p>若中惡客忤，心腹脹滿，卒痛如錐刀刺痛，氣急口禁，停尸卒死者，以暖水若酒服之，或不下，棒頭起令下嚥，須臾差，未更，與三丸，以腹中鳴轉即吐下便愈，若口巳噤，亦須拆齒灌之令入尤妙，忌蘆筍豬肉冷水肥膩之物，易張先生又名獨行丸，蓋急劑也。</p>
<p>神應丸：</p>
<p>治因一切冷物冷水及潼乳酪水，腹痛腸鳴，米穀不化。</p>
<p>黃蠟（二兩），巴豆，杏仁，百草霜，乾薑（各五錢），丁香，木香（各二錢）。</p>
<p>右先將黃蠟，用好醋煮，去柤穢，將巴豆杏仁同炒黑煙盡，研如泥，將黃蠟再上火入小油半兩溶開，入在杏仁巴豆泥子內同攪，旋下丁香木香等藥末研勻，搓作挺子，油紙裹了旋丸用，每服三五十丸，溫米飲送下，食前，日進三服。</p>
<p>如脈緩體重自利，乃濕氣勝也，以五苓散平胃散加炒麯相合而服之，名之曰對金飲子。</p>
<p>益胃散：</p>
<p>治服寒藥過多，或脾胃虛弱，胃脘痛。</p>
<p>陳皮，黃耆（各七錢），益智仁（六錢），白豆蔻仁，澤瀉，乾生薑，薑黃（各三錢），縮砂仁，甘草，厚朴，人參（各二錢）。</p>
<p>右為細末，每服三錢，水一盞煎至七分，溫服，食前。</p>
<p>如脈弦，惡寒腹痛，乃中氣弱也，以仲景小建中湯加黃耆，錢氏異攻散加芍藥選而用之。</p>
<p>如渴甚者，以白朮散加葛根倍之。</p>
<h3>飲食自倍腸胃乃傷分而治之。</h3>
<p>痹論云：陰氣者，靜則神藏，躁則消亡，飲食自倍，腸胃乃傷，此混言之也，分之為二，飲也，食也，又經云：因而大飲則氣逆，因而飽食筋脈橫解則腸澼為痔，飲者，無形之氣，傷之則宜發汗利小便，使上下分消其濕，解醒湯五苓散之類主之，食者，有形之物，傷之則宜損其穀，其次莫若消導，丁香爛飯丸枳朮丸之類主之，稍重則攻化，三稜消積丸木香見睍丸之類主之，尤重者則或吐或下，瓜蒂散備急丸之類主之，以平為期，蓋脾已傷，又以藥傷使營運之氣減削，食愈難消，故五常政論云：大毒治病，十去其六，常毒治病，十去其七，小毒治病，十去其八，無毒治病，十去其九，穀肉果菜，食養盡之，無使過之，傷其正也，不盡行復，如法聖人，垂此嚴戒，是為萬世福也，如能慎言語，節飲食，所謂治未病也。</p>
<h3>論酒客病。</h3>
<p>夫酒者，大熱有毒，氣味俱陽，乃無形之物也，若傷之，止當發散汗出則愈矣，此最妙法也，其次莫如利小便，二者乃上下分消其濕，何酒病之有？今之酒病者，往往服酒癥丸大熱之藥下之，又有用牽牛大黃下之者，是無形元氣受病，反下有形陰血，乖誤甚矣，酒性大熱，已傷元氣而復重瀉之，況亦損腎水真陰，及有形陰血俱為不足，如此則陰血愈虛，真水愈弱，陽毒之熱大旺，反增其陰火，是謂元氣消亡，七神無依，折人長命，不然則虛損之病成矣，金匱要略云：酒疸下之，久久為黑疸，慎不可犯此戒，不若令上下分消其濕，葛花解醒湯主之。</p>
<p>葛花解酲湯：</p>
<p>白豆蔻仁，縮砂仁，葛花（各五錢），乾生薑，神麯（炒黃），澤瀉，白朮（各二錢），橘皮（去白），豬苓（去皮），人參（去蘆），白茯苓（各一錢五分），木香（五分），蓮花青皮（去穰三分）。</p>
<p>右為極細末秤和勻，每服三錢匕，白湯調下，但得微汗，酒病去矣，此蓋不得已而用之，豈可恃賴，日日飲酒，此藥氣味辛辣，偶因酒病服之則不損元氣，何者敵酒病故也，若頻服之，損人天年。</p>
<p>除濕散：</p>
<p>治傷馬乳并牛羊酪水一切冷物。</p>
<p>神麯（炒黃一兩），茯苓（七錢），車前子（炒香），澤瀉（各五錢），半夏（洗湯），乾生薑（各三錢），甘草（炙），紅花（各二錢）。</p>
<p>右同為極細末，每服三錢匕，白湯調下，食前。</p>
<p>五苓散：</p>
<p>治傷寒溫熱病，表裏未解，頭痛發熱，口燥咽乾，煩渴飲水，或水入即吐，或小便不利，及汗出表解，煩渴不止者宜服之，又治霍亂吐利，燥渴引飲之證。</p>
<p>澤瀉（二兩五錢），豬苓，茯苓，白朮（各一兩五錢），桂（一兩）。</p>
<p>右為細末，每服二錢，熱湯調下，不計時候，服訖多飲熱湯，有汗出即愈。</p>
<p>又治瘀熱在裏，身熱黃疸，濃煎茵陳蒿湯調下，食前服之。</p>
<p>如疸發渴及中暑引飲，亦可用水調服之。</p>
<h3>臨病制方。</h3>
<p>至真要論云：濕淫所勝，治以苦溫，佐以甘辛，以汗為故，而止以淡泄之，得其法者，分輕重而制方，金匱要略云：腰已上腫者，發汗乃愈，腰已下腫者，當利小便，由是大病差，後腰已下有水氣者，牡蠣澤瀉散主之，又云：治濕不利小便，非其治也，制五苓散以利之，孫真人療膚革腫，以五皮散，乃述類象形之故也，水熱穴論云：上為喘呼，下為腫滿，不得臥者，標本俱病，制神祕湯以去之，活人書云：均是水氣，乾嘔微利，發熱而咳為表有水，小青龍湯加芫花主之，身體涼，表證罷咳而脇下痛，為裏有水，十棗湯主之，亦是仲景方也，易張先生云：仲景藥為萬世法號群方之祖，治雜病若神，後之醫家宗內經法，學仲景心，可以為師矣。</p>
<h3>隨時用藥。</h3>
<p>治傷冷飲者，以五苓散，每服三錢或四錢匕，加生薑煎服之。</p>
<p>治傷食兼傷冷飲者，煎五苓散送下半夏枳朮丸服之。</p>
<p>治傷冷飲不惡寒者，腹中亦不覺寒，惟覺夯悶身重，飲食不化者，或小便利，煎去桂五苓散，依前斟酌服之。</p>
<p>假令所傷前後不同，以三分為率，熱物二分，傷生冷硬物一分，用寒藥三黃丸二停，用熱藥木香見睍丸一停，合而服之，又如傷生冷物二分，傷熱物一分，用熱藥木香見睍丸二停，用寒藥三黃丸一停合而服之。</p>
<p>假令夏月大熱之時，傷生冷硬物，當用熱藥木香見睍丸治之，須少加三黃丸，謂天時不可伐，故加寒藥以順時令，若傷熱物，只用三黃丸，何謂？此三黃時藥丸也。</p>
<p>假令冬天大寒之時，傷羊肉濕麵等熱物，當用三黃丸治之，須加熱藥少許，草豆蔻丸之類是也，為引用又為時藥，經云：必先歲氣無伐，天和此之謂也，餘皆倣此。</p>
<h3>吐法宜用辨上部有脈下部無脈。</h3>
<p>上部有脈，下部無脈，其人當吐，不吐者死，何謂也？下部無脈，此所謂木鬱也，飲食過飽，填塞胸中，胸中者，太陰之分野，經云：氣口反大於人迎三倍，食傷太陰，故曰：木鬱則達之，吐者是也。</p>
<p>瓜蒂散：</p>
<p>瓜蒂，赤小豆。</p>
<p>右二味為極細末，每服一錢匕，溫漿水調下，取吐為度，若不兩手尺脈絕無，不宜便用此藥，恐損元氣，令人胃氣不復，若止是胸中窒塞，悶亂不通，以指探去之，如不得吐者，以物探去之，得吐則已，如食不去，用此藥去之。</p>
<p>解云：盛食填塞於胸中，為之窒塞，兩手寸脈當主事，兩尺脈不見，其理安在？胸中有食，故以吐出之食者，物也，物者，坤土也，是足太陰之號也，胸中者，肺也，為物所填，肺者，手太陰金也，金主殺伐也，與坤土俱在於上而旺於天，金能克木，故肝木生發之氣伏於地下，非木鬱而何吐？去上焦陰土之物，木得舒暢則鬱結去矣，食塞於上，脈絕於下，若不明天地之道，無由達此至理，水火者，陰陽之徵兆，天地之別名也，故曰：獨陽不生，獨陰不長，天之用在於地下則萬物生長矣，地之用在於天上則萬物收藏矣，此乃天地交而萬物通也，此天地相根之道也，故陽火之根本於地下，陰水之源本於天上，故曰：水出高源，故人五臟主有形之物，物者，陰也，陰者，水也，右三部脈主之，偏見於寸口，食塞其上，是絕五臟之源，源絕則水不下流，兩尺竭絕，此其理也，何疑之有？</p>
<h3>重明木鬱則達之之理。</h3>
<p>或曰：食盛填塞於胸中，為之窒塞也，令吐以去其所傷之物，物去則安，胸中者，太陰肺之分野，木鬱者，遏於厥陰肝木於下，故以吐伸之，以舒暢陽和風木之氣也，此吐乃瀉出太陰之塞，何謂木鬱？請問其說，答曰：此大神靈之問，非演說大道，不能及於此天地之間，六合之丙，惟水與火耳，火者，陽也，升浮之象也，在天為體，在地為用，水者，陰土也，降沉之象也，在地為體，在天為殞殺收藏之用也，其氣上下交則以成八卦矣，以醫書言之，則是升浮降沉溫涼寒熱四時也，以應八卦，若天火在上，地水在下，則是天地不交，陰陽不相輔也，是萬物之道大易之理絕滅矣，故經言：獨陽不生，獨陰不長，天地陰陽何交會矣，故曰：陽本根於陰，陰本根於陽，若不明根源，是不明道，故六陽之氣生於地，則曰：陽本根於陰，以人身言之，是六腑之氣生發長散於胃土之中也，既陽氣鼓舞萬象有形質之物，於天為浮散者也，物極必反，陽極變陰，既六陽升浮之力在天，其力盡是陽道終矣，所以鼓舞六陰有形之陰水在天在外也，上六無位，必歸於下，此老陽變陰之象也，是五臟之源在於天者也，天者，人之肺以應之，故曰：陰本源於陽，水出高源者是也，人之五臟，其源在肺，肺者，背也，背在天也，故足太陽膀胱寒生長，其源在申，故陰寒自此而降，以成秋收氣，寒之漸也，降至於地下，以成冬藏，伏諸六陽，在九泉之下者也，故五臟之氣生於天，以人身是五臟之氣，收降藏沉之源出於肺氣之上，其流下行，既陰氣下行，沉墜萬化，有形質之物皆收藏於地，為降沉者也，物極必反，陰極變陽，既六陰降沉之力在地，其力既盡，是陰道終矣，是老陰變陽，乃初九無位，是一歲四時之氣終而復始，為上下者也，莫知其紀，如環無端，且太陰者，肺金收降之氣，當居下體，今反在於上，抑遏厥陰風木，反居於下，是不得上升也，故曰：木鬱，故令其吐出窒塞有形土化之物，使太陰秋肺收於下體，復其本以衰之，始上升手足厥陰之木，元氣以伸其舒暢上升之志得其所矣，又況金能克木，以吐伐之，則金衰矣，金者，其道當降，是塞因塞用，歸其本矣，居於上則遏其本，故以吐伸之，乃瀉金以助木也，偏考內經中所說，木鬱則達之之義，止是食傷太陰有形之物，窒塞於胸中，克制厥陰木氣，伏潛於下，不得舒伸於上，止此耳，別無異說，以六淫有餘，運氣中論之，仲景傷寒論云：懊憹煩躁不得眠，不經汗下，謂之實煩，瓜蒂散主之，曾經妄汗妄吐妄下，謂之虛煩者，梔子豉湯主之。</p>
<p>老夫欲令醫者治陰陽之證，補瀉不至錯誤，病家雖不知醫，明曉所得之病當補當瀉之法，將黃帝鍼經第一卷第五篇說，形氣有餘不足當補當瀉之理錄之於前，予自注者附之。</p>
<p>黃帝曰：形氣之逆順奈何？岐伯答曰：形氣不足，病氣有餘，是邪勝也，急當瀉之，形氣有餘，病氣不足，急當補之，形氣不足，病氣不足，此陰陽俱不足也，不可剌之，剌之重不足，重不足則陰陽俱竭，血氣皆盡，五臟空虛，筋骨髓枯，老者絕滅，壯者不復矣，形氣有餘，病氣有餘，此謂陰陽俱有餘也，急瀉其邪，調其虛實，故曰：有餘者瀉之，不足者補之，此之謂也，故曰：刺不知逆順，真邪相搏滿者，補之則陰陽四溢，腸胃充廓，肝肺內填，陰陽相錯，虛而瀉之則經脈空虛，血氣枯竭，腸胃㒤辟，皮膚薄著，毛勝天燋子之死期，故曰：用鍼之要，在於知調陰與陽，調陰與陽，精氣乃光，合形與氣，使神內藏，故曰：上工平氣，中工亂脈，下工絕氣危生，故曰：下工不可不慎也，必審五臟變化之病，五脈之應，經絡之實虛，皮膚之柔麤而後取之也。</p>
<p>聖人垂慈之心已詳矣，不合立言，老夫誠恐，市井莊農山野間人，不知文理，故以俚語開解之云，但病來潮作之時，病氣精神增添者，是為病氣有餘，乃邪氣勝也，急瀉之以寒涼酸苦之劑，若病來潮作之時，神氣困弱者，為病氣不足，乃真氣不足也，急補之以辛甘溫熱之劑，不問形氣有餘，并形氣不足，只取病氣有餘不足也，不足者補之，有餘者瀉之，假令病氣有餘者，當急瀉之以寒涼之劑，為邪氣勝也，病氣不足者，急當補之以辛甘溫熱之劑，此真氣不足也，夫形氣者，氣謂口鼻中氣息也，形謂皮膚筋骨血脈也，形勝者，為有餘，消瘦者，為不足，其氣者，審口鼻中氣，勞役如故，為氣有餘也，若喘息氣促氣短或不足以息者，為不足也，故曰：形氣也，乃人之身形中氣血也，當補當瀉，全不在於此，只在病勢潮作之時，病氣增加者，是邪氣勝也，急當瀉之，如潮作之時，精神困弱，語言無力及懶語者，是真氣不足也，急當補之，若病人形氣不足，病來潮作之時，病氣亦不足，此乃陰陽俱不足也，禁用鍼，宜補之以甘藥，不可以盡劑，不灸弗已，臍下一寸五分氣海穴是也，凡用藥，若不本四時，以順為逆，四時者，是春升夏浮秋降冬沉，乃天地之升浮化降沉（化者，脾土中造化也），是為四時之宜也，但宜補之以辛甘溫熱之劑及味之薄者，諸風藥是也，此助春夏之升浮者也，此便是瀉秋收冬藏之藥也，在人之身，乃肝心也，但言瀉之以酸苦寒涼之劑并淡味滲泄之藥，此助秋冬之降沉者也，在人之身，是肺腎也，用藥者宜用此法度，慎毋忽焉。</p>
<p>內外傷辨卷下終。</p>
