<header data-type="book">
<h1>傷寒舌鑑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張登</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1668">公元1668年（清·康熙戊申年）</data></dd></div>
<div><dt>底本</dt><dd>日本享保9年刊本（<a href="https://rmda.kulib.kyoto-u.ac.jp/item/rb00003100">京都大學掃描本</a>）；《欽定四庫全書·子部五·醫家類·傷寒舌鑑》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0093/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>嘗讀仲景書。止言舌白、苔滑。並無黃、黑、刺、裂。至金鏡錄始集三十六圖。逮後觀舌心法。廣至一百三十有七。何後世證變之多若此。寧知傷寒自表傳裡。舌苔必由白滑而變他色。不似伏邪瘟疫等熱毒。自內達外之一病便見黃黑諸苔也。觀仲景論中。一見舌白、苔滑。即言難治。安有失治而致變者乎。所以仲景止言白苔。已見一斑。不煩瑣屑。後人無先聖治未病之能。勢不得不反復辨論以啟蒙昧。蓋邪氣入里。其虛實寒熱之機。必現於舌。非若脈法之隱而不顯也。況陰盛格陽。與邪熱鬱伏。多有假證假脈。惟驗舌上苔色之滑、燥、厚、薄。昭若冰鑑。無所遁形。由是取觀舌心法。正其錯誤。削其繁蕪。汰其無預於傷寒者。而參入家大人治案所紀。及己所親歷。共得一百二十圖。命曰傷寒舌鑑。授之剞劂。以公同志臨證之一助云。</p>
<p><u>康熙戊申年秋月誕先張登書於雋永堂</u></p>

<h1>白苔舌總論</h1>
<p>傷寒邪在皮毛。初則舌有白沫。次則白涎白滑。再次白屑白疱。有舌中、舌尖、舌根之不同。是寒邪入經之微甚也。舌乃心之苗。心屬南方火。當赤色。今反見白色者。是火不能制金也。初則寒鬱皮膚。毛竅不得疏通。熱氣不得外泄。故惡寒發熱。在太陽經。則頭痛、身熱，項背強、腰脊疼、等症。傳至陽明經。則有白屑滿舌。雖症有煩躁。如脈浮緊者。猶當汗之。在少陽經者。則白苔白滑。用小柴胡湯和之。胃虛者。理中湯溫之。如白色少變黃者。大柴胡。大小承氣、分輕重下之。白舌亦有死症。不可忽視也。</p>
<figure>
<img data-orig-src="urn:270:07819.jpg" alt="微白滑苔舌">
</figure>
<p>寒邪初入太陽。頭疼、身熱、惡寒、舌色微白有津。香蘇散、羌活湯之類發散之。</p>
<figure>
<img data-orig-src="urn:270:07820.jpg" alt="薄白滑苔舌">
</figure>
<p>此太陽里證舌也。二三日未曾汗。故邪入丹田漸深。急宜汗之。或太陽與少陽合病。有此舌者。柴胡桂枝湯主之。</p>
<figure>
<img data-orig-src="urn:270:07821.jpg" alt="厚白滑苔舌">
</figure>
<p>病三四日。其邪只在太陽。故苔純白而厚。卻不幹燥。其證頭疼發熱。脈浮而緊。解表自愈。</p>
<figure>
<img data-orig-src="urn:270:07822.jpg" alt="乾厚白苔舌">
</figure>
<p>病四五日。未經發汗。邪熱漸深。少有微渴。過飲生冷。停積胸中。營熱胃冷。故令發熱煩躁。四肢逆冷。而苔白乾厚。滿口白屑。宜四逆散加乾薑。</p>
<figure>
<img data-orig-src="urn:270:07823.jpg" alt="白苔黃心舌">
</figure>
<p>此太陽經初傳陽明府病舌也。若微黃而潤。宜再汗。待苔燥里證具。則下之。若煩躁嘔吐。大柴胡湯加減。亦有下淡黃水沫。無稀糞者。大承氣湯下之。</p>
<figure>
<img data-orig-src="urn:270:07824.jpg" alt="白苔黃邊舌">
</figure>
<p>舌中見白苔。外有微黃者。必作泄。宜用解毒湯。惡寒者五苓散。</p>
<figure>
<img data-orig-src="urn:270:07825.jpg" alt="乾白苔黑心舌">
</figure>
<p>此陽明府兼太陽舌，其苔邊白中心乾黑者。因汗不徹。傳至陽明所致。必微汗出、不惡寒、脈沉者。可下之。如二三日未曾汗。有此舌必死。</p>
<figure>
<img data-orig-src="urn:270:07826.jpg" alt="白滑苔尖灰刺舌">
</figure>
<p>此陽明府兼少陽舌也。三四日自利脈長者生。弦數者死。如有宿食。用大承氣下之。十可全五。</p>
<figure>
<img data-orig-src="urn:270:07827.jpg" alt="白苔滿黑刺干舌">
</figure>
<p>白苔中生滿乾黑芒刺。乃少陽之裡證也。其證不惡寒反惡熱者。大柴胡加芒硝急下之。然亦危證也。</p>
<figure>
<img data-orig-src="urn:270:07828.jpg" alt="白滑苔黑心舌">
</figure>
<p>白苔中黑。為表那入里之候。大熱譫語。承氣等下之。倘食復而發熱、或利不止者。難治。</p>
<figure>
<img data-orig-src="urn:270:07829.jpg" alt="半邊白滑舌">
</figure>
<p>白苔見於一邊。無論左右。皆屬半表半裡。宜小柴胡湯。左加葛根。右加茯苓。有咳嗽引脅下痛、而見此舌苔者。小青龍湯。夏月多汗自利。人參白虎湯。</p>
<figure>
<img data-orig-src="urn:270:07830.jpg" alt="臟結白滑舌">
</figure>
<p>或左或右。半邊白苔。半邊或黑或老黃者。寒邪結在臟也。黃連湯加附子。結在咽者。不能語言。宜生脈散合四逆湯。可救十中一二。</p>
<figure>
<img data-orig-src="urn:270:07831.jpg" alt="白苔黑斑舌">
</figure>
<p>白苔中有黑小斑點亂生者。乃水來剋火。如無惡候。以涼膈散承氣湯下之。十中可救一二。</p>
<figure>
<img data-orig-src="urn:270:07832.jpg" alt="白苔燥裂舌">
</figure>
<p>傷寒胸中有寒。丹田有熱。所以舌上白苔。因過汗傷營。舌上無津。所以燥裂。內無實熱。故不黃黑。宜小柴胡加芒硝微利之。</p>
<figure>
<img data-orig-src="urn:270:07833.jpg" alt="白苔黑根舌">
</figure>
<p>舌苔白而根黑；火被水克之象。雖下亦難見功也。</p>
<figure>
<img data-orig-src="urn:270:07834.jpg" alt="白尖黃根舌">
</figure>
<p>邪雖入里。而尖白未黃。不可用承氣。宜大柴胡湯加減。下後無他證。安臥神清。可生。倘再有變證。多凶。</p>
<figure>
<img data-orig-src="urn:270:07835.jpg" alt="白苔雙黃舌">
</figure>
<p>此陽明裡證舌也。黃乃土之色。因邪熱上攻。致令舌有雙黃。如脈長惡熱。轉矢氣煩躁者。大柴胡調胃承氣下之。</p>
<figure>
<img data-orig-src="urn:270:07836.jpg" alt="白苔雙黑舌">
</figure>
<p>白苔中見黑色兩條。乃太陽少陽之邪入於胃。因土氣衰絕。故手足厥冷。胸中結痛也。理中湯瀉心湯選用。如邪結在舌根。咽嗌而不能言者。死證也。</p>
<figure>
<img data-orig-src="urn:270:07837.jpg" alt="白苔雙灰色舌">
</figure>
<p>此夾冷食舌也。七八日後見此舌而有津者。可治。理中四逆選用。無津者不治。如干厚見里證。則下之。得湯次日灰色去者安。</p>
<figure>
<img data-orig-src="urn:270:07838.jpg" alt="白尖中紅黑根舌">
</figure>
<p>舌尖白而根灰黑。少陽邪熱傳腑。熱極而傷冷飲也。如水停津液固結而渴者。五苓散。自汗而渴者。白虎湯。下利而渴者。解毒湯。如黑根多、白尖少、中不甚紅者。難治。</p>
<figure>
<img data-orig-src="urn:270:07839.jpg" alt="白苔尖紅舌">
</figure>
<p>滿舌白滑而尖卻鮮紅者。乃熱邪內盛。而復感客寒入少陽經也。小柴胡湯加減。</p>
<figure>
<img data-orig-src="urn:270:07840.jpg" alt="白苔中紅舌">
</figure>
<p>此太陽初傳經之舌也。無汗者發汗。有汗者解肌。亦有少陽經者。小柴胡湯加減。</p>
<figure>
<img data-orig-src="urn:270:07841.jpg" alt="白苔變黃舌">
</figure>
<p>少陽證罷。初見陽明裡證。故苔變黃色。兼矢氣者。大柴胡湯下之。</p>
<figure>
<img data-orig-src="urn:270:07842.jpg" alt="白尖紅根舌">
</figure>
<p>舌尖苔白。邪在半表半裡也。其證寒熱、耳聾、口苦、脅痛、脈弦。小柴胡湯和解之。</p>
<figure>
<img data-orig-src="urn:270:07843.jpg" alt="白苔尖灰根黃舌">
</figure>
<p>此太陽濕熱並於陽明也。如根黃色潤、目黃小便黃者。茵陳蒿湯加減。</p>
<figure>
<img data-orig-src="urn:270:07844.jpg" alt="白苔尖根俱黑舌">
</figure>
<p>舌根尖俱黑而中白。乃金水太過。火土氣絕於內。雖無凶證。亦必死也。</p>
<figure>
<img data-orig-src="urn:270:07845.jpg" alt="熟白舌">
</figure>
<p>白苔老極。如煮熟相似者。心氣絕而肺色乘於上也，始因食瓜果冰水等物。陽氣不得發越所致。為必死候。用枳實、理中。間有生者。</p>
<figure>
<img data-orig-src="urn:270:07846.jpg" alt="淡白透明舌">
</figure>
<p>年老胃弱。雖有風寒。不能變熱。或多服湯藥。傷其胃氣。所以淡白透明。似苔非苔也。宜補中益氣加減治之。</p>
<figure>
<img data-orig-src="urn:270:07847.jpg" alt="白苔如積粉舌">
</figure>
<p>此舌乃瘟疫初犯募原也。達原飲。見三陽表證。隨經加柴胡、葛根、羌活。見里證。加大黃。</p>

<h1>黃苔舌總論</h1>
<p>黃苔者。里證也。傷寒初病無此舌。傳至少陽經。亦無此舌。直至陽明府實。胃中火盛。火乘土位。故有此苔。當分輕重瀉之。初則微黃。次則深黃有滑。甚則干黃焦黃也。其證有大熱、大渴、便秘、譫語、痞結、自利。或因失汗發黃。或蓄血如狂。皆濕熱太盛。小便不利所致。若目白如金。身黃如橘。宜茵陳蒿湯，五苓散。梔子柏皮湯等。如蓄血在上焦。犀角地黃湯。中焦、桃仁承氣湯。下焦，代抵當湯。凡血證見血則愈。切不可與冷水。飲之必死。大抵舌黃證雖重。若脈長者。中土有氣也。下之則安。如脈弦下利、舌苔黃中有黑色者。皆危證也。</p>
<figure>
<img data-orig-src="urn:270:07848.jpg" alt="純黃微干舌">
</figure>
<p>舌見黃苔。胃熱之極。土色見於舌端也。急宜調胃承氣下之。遲則恐黃老變黑。為惡候。</p>
<figure>
<img data-orig-src="urn:270:07849.jpg" alt="微黃苔舌">
</figure>
<p>舌微黃而不甚燥者。表邪失汗而初傳裡也。用大柴胡湯。若身目俱黃者。茵陳蒿湯。</p>
<figure>
<img data-orig-src="urn:270:07850.jpg" alt="黃干舌">
</figure>
<p>舌見干黃。裡熱已極。急下勿緩。下後脈靜身涼者生。反大熱而喘脈躁者死。</p>
<figure>
<img data-orig-src="urn:270:07851.jpg" alt="黃苔黑滑舌">
</figure>
<p>舌黃而有黑滑者。陽明裡證具也。雖不幹燥。亦當下之。下後身涼脈靜者生。大熱脈躁者死。</p>
<figure>
<img data-orig-src="urn:270:07852.jpg" alt="黃苔黑斑舌">
</figure>
<p>黃苔中亂生黑斑者。其證必大渴譫語。身無斑者。大承氣下之。如脈澀、譫語，循衣摸床、身黃斑黑者。俱不治。下出稀黑糞者死。</p>
<figure>
<img data-orig-src="urn:270:07853.jpg" alt="黃苔中黑通尖舌">
</figure>
<p>黃苔從中至尖通黑者。乃火土燥而熱毒最深也。兩感傷寒必死。惡寒甚者亦死。如不惡寒。口燥咽乾而下利臭水者。可用調胃承氣湯下之。十中可救四五。口乾齒燥。形脫者。不治。</p>
<figure>
<img data-orig-src="urn:270:07854.jpg" alt="老黃隔瓣舌">
</figure>
<p>舌黃乾澀而有隔瓣者。乃邪熱入胃。毒結已深。煩躁而渴者。大承氣湯。發黃者。茵陳蒿湯。少腹痛者。有瘀血也。抵當湯。結胸。大陷胸湯。</p>
<figure>
<img data-orig-src="urn:270:07855.jpg" alt="黃尖舌">
</figure>
<p>舌尖苔黃。熱邪初傳胃腑也。當用調胃承氣湯。如脈浮惡寒。表證未盡。大柴胡兩解之。</p>
<figure>
<img data-orig-src="urn:270:07856.jpg" alt="黃苔灰根舌">
</figure>
<p>舌根灰色而尖黃。雖比黑根少輕。如再過一二日。亦黑也。難治。無煩躁直視。脈沉而有力者。大柴胡加減治之。</p>
<figure>
<img data-orig-src="urn:270:07857.jpg" alt="黃尖紅根舌">
</figure>
<p>根紅而尖黃者。乃濕熱乘火位也。瘟熱初病。多有此舌。涼膈解毒等藥。消息治之。</p>
<figure>
<img data-orig-src="urn:270:07858.jpg" alt="黃尖黑根舌">
</figure>
<p>舌黑根多而黃尖少者。雖無惡證惡脈。誠恐暴變一時。以胃氣竭絕故耳。</p>
<figure>
<img data-orig-src="urn:270:07859.jpg" alt="黃苔黑刺舌">
</figure>
<p>舌苔老黃極而中有黑刺者。皆由失汗所致。邪毒內陷已深。急用調胃承氣下之。十中可保一二。</p>
<figure>
<img data-orig-src="urn:270:07860.jpg" alt="黃大脹滿舌">
</figure>
<p>舌黃而脹大者。乃陽明胃經濕熱也。證必身黃、便秘、煩躁。茵陳蒿湯。如大便自利而發黃者。五苓散加茵陳、梔子、黃連等治之。</p>
<figure>
<img data-orig-src="urn:270:07861.jpg" alt="黃尖白根舌">
</figure>
<p>舌根白尖黃。其色倒見。必是少陽經傳陽明府病。若陽明證多者。大柴胡湯。少陽證多者。小柴胡湯。如譫語煩躁者。調胃承氣湯。</p>
<figure>
<img data-orig-src="urn:270:07862.jpg" alt="黃根白尖舌">
</figure>
<p>舌尖白根黃。乃表邪少而里邪多也。天水散、涼膈散合用。如陽明無汗、小便不利、心中懊憹者。必發黃。茵陳蒿湯。</p>
<figure>
<img data-orig-src="urn:270:07863.jpg" alt="黃根灰尖舌">
</figure>
<p>舌乃火位。今見根黃尖灰。是土來侮火也。不吐不利、心煩而渴者。乃胃中有鬱熱也。調胃承氣加黃連。</p>
<figure>
<img data-orig-src="urn:270:07864.jpg" alt="黃根白尖短縮舌">
</figure>
<p>舌見根黃尖白而短硬。不燥不滑。但不能伸出。證多譫妄煩亂。此痰挾宿食佔據中宮也。大承氣加薑、半主之。</p>

<h1>黑苔舌總論</h1>
<p>傷寒五七日。舌見黑苔。最為危候。表證皆無此舌。如兩感一二日間見之。必死。若白苔上漸漸中心黑者。是傷寒邪熱傳裡之候。紅舌上漸漸黑者。乃瘟疫傳變。壞證將至也。蓋舌色本赤。今見黑者。乃水來剋火。水極似火。火過炭黑之理。然有純黑、有黑暈、有刺、有隔瓣、有瓣底紅、瓣底黑者。大抵尖黑猶輕。根黑最重。如全黑者。總使神丹。亦難救療也。</p>
<figure>
<img data-orig-src="urn:270:07865.jpg" alt="純黑舌">
</figure>
<p>遍舌黑苔。是火極似水。臟氣已絕。脈必代結。一二日中必死。切勿用藥。</p>
<figure>
<img data-orig-src="urn:270:07866.jpg" alt="黑苔瓣底紅舌">
</figure>
<p>黃苔久而變黑。實熱亢極之候。又未經服藥。肆意飲食。而見脈伏、目閉、口開、獨語、譫妄。醫遇此證。必掘開舌苔。視瓣底紅者。可用大承氣下之。</p>
<figure>
<img data-orig-src="urn:270:07867.jpg" alt="黑苔瓣底黑舌">
</figure>
<p>凡見瓣底黑者。不可用藥。雖無惡候。脈亦暴絕。必死不治。</p>
<figure>
<img data-orig-src="urn:270:07868.jpg" alt="滿黑刺底紅舌">
</figure>
<p>滿舌黑苔。乾燥而生大刺。揉之觸手而響。掘開刺底紅色者。心神尚在。雖火過極。下之可生。有肥盛多濕熱人。感冒發熱。痞脹悶亂。一見此舌。急用大陷胸丸攻下。後與小陷胸湯調理。</p>
<figure>
<img data-orig-src="urn:270:07869.jpg" alt="刺底黑舌">
</figure>
<p>刺底黑者。言刮去芒刺。底下肉色俱黑也。凡見此舌。不必辨其何經何脈。雖無惡候。必死勿治。</p>
<figure>
<img data-orig-src="urn:270:07870.jpg" alt="黑爛自齧舌">
</figure>
<p>舌黑爛而頻欲齧。必爛至根而死。雖無惡候怪脈。切勿用藥。</p>
<figure>
<img data-orig-src="urn:270:07871.jpg" alt="中黑邊白滑苔舌">
</figure>
<p>舌見中黑邊白而滑。表裡俱虛寒也。脈必微弱。證必畏寒。附子理中湯溫之。夏月過食生冷而見此舌。則宜大順冷香選用。</p>
<figure>
<img data-orig-src="urn:270:07872.jpg" alt="紅邊中黑滑舌">
</figure>
<p>舌黑有津。證見譫語者。必表證時不曾服藥。不戒飲食。冷物結滯於胃也。虛人黃龍湯。或枳實理中加大黃。壯實者用備急丸熱下之。夏月中暍。多有此舌。以人參白虎湯主之。</p>
<figure>
<img data-orig-src="urn:270:07873.jpg" alt="通尖黑干邊白舌">
</figure>
<p>兩感一二日間。便見中黑邊白厚苔者。雖用大羌活湯。恐無濟矣。</p>
<figure>
<img data-orig-src="urn:270:07874.jpg" alt="黑邊暈內微紅舌">
</figure>
<p>舌邊圍黑。中有紅暈者。乃邪熱入於心胞之候。故有此色。宜涼膈合大承氣下之。</p>
<figure>
<img data-orig-src="urn:270:07875.jpg" alt="中燥舌">
</figure>
<p>舌苔中心黑厚而干。為熱盛津枯之候。急宜生脈散合黃連解毒湯以解之。</p>
<figure>
<img data-orig-src="urn:270:07876.jpg" alt="中黑無苔乾燥舌">
</figure>
<p>舌黑無苔而燥。津液受傷而虛火用事也。急宜生脈散合附子理中湯主之。</p>
<figure>
<img data-orig-src="urn:270:07877.jpg" alt="黑中無苔枯瘦舌">
</figure>
<p>傷寒八九日。過汗。津枯血燥。舌無苔而黑瘦。大便五六日不行。腹不硬滿。神昏不得臥。或時呢喃嘆息者。炙甘草湯。</p>
<figure>
<img data-orig-src="urn:270:07878.jpg" alt="黑干短舌">
</figure>
<p>舌至乾黑而短。厥陰極熱已深。或食填中脘。䐜脹所致。急用大劑大承氣下之。可救十中一二。服後。糞黃熱退則生。糞黑熱不止者死。</p>

<h1>灰色舌總論</h1>
<p>灰色舌、有陰陽之異。若直中陰經。則即時舌便灰黑而無積苔。若熱傳三陰。必四五日表證罷而苔變灰色也。有在根在尖在中者。有渾舌俱灰黑者。大抵傳經熱證。則有灰黑乾薹。皆當攻下泄熱。若直中三陰之灰黑無苔者。即當溫經散寒。又有蓄血證。其人如狂。或瞑目譫語。亦有不狂不語。不知人事。而面黑舌灰者。當分輕重以攻其血。切勿誤與冷水。引領敗血入心而致不救也。</p>
<figure>
<img data-orig-src="urn:270:07879.jpg" alt="純灰舌">
</figure>
<p>舌灰色無苔者。直中三陰而夾冷食也。脈必沉細而遲。不渴不煩者。附子理中四逆湯救之。次日。舌變灰中有微黃色者生。如漸漸灰縮乾黑者死。</p>
<figure>
<img data-orig-src="urn:270:07880.jpg" alt="灰中舌">
</figure>
<p>灰色現於中央。而消渴、氣上衝心、飢不欲食、食即吐蛔者。此熱傳厥陰之候。烏梅丸主之。</p>
<figure>
<img data-orig-src="urn:270:07881.jpg" alt="灰黑苔干紋裂舌">
</figure>
<p>土邪勝水。而舌見灰黑紋裂。涼膈調胃皆可下之。十中可救二三。下後。渴不止熱不退者。不治。</p>
<figure>
<img data-orig-src="urn:270:07882.jpg" alt="灰根黃尖中赤舌">
</figure>
<p>舌根灰色而中紅尖黃。乃腸胃燥熱之證。若大渴譫語。五六日不大便。轉矢氣者。下之。如溫病熱病。惡寒脈浮者。涼膈、雙解選用。</p>
<figure>
<img data-orig-src="urn:270:07883.jpg" alt="灰色重暈舌">
</figure>
<p>此瘟病熱毒。傳遍三陰也。熱毒傳內一次。舌即灰暈一層。毒盛故有重暈。最危之證。急宜涼膈、雙解解毒。承氣下之。一暈尚輕。二暈為重。三暈必死。亦有橫紋二三層者。與此重暈不殊。</p>
<figure>
<img data-orig-src="urn:270:07884.jpg" alt="灰黑干刺舌">
</figure>
<p>灰黑舌中又有干刺。而見咽乾、口燥、喘滿。乃邪熱結於少陰。當下之。然必待其轉矢氣者。方可下。若下之早。令人小便難。</p>
<figure>
<img data-orig-src="urn:270:07885.jpg" alt="灰黑尖舌">
</figure>
<p>已經汗解而見舌尖灰黑。有宿食未消。或又傷飲食。邪熱復盛之故。調胃承氣湯下之。</p>
<figure>
<img data-orig-src="urn:270:07886.jpg" alt="灰黑尖干刺舌">
</figure>
<p>舌尖灰黑有刺而干。是得病後猶加飲食之故。雖證見耳聾、脅痛、發熱、口苦。不得用小柴胡。必大柴胡或調胃承氣加消導藥。方可取效。</p>
<figure>
<img data-orig-src="urn:270:07887.jpg" alt="灰中墨滑舌">
</figure>
<p>淡淡灰色中間。有滑苔四五點如墨汁。此熱邪傳裡。而中有宿食未化也。大柴胡湯。</p>
<figure>
<img data-orig-src="urn:270:07888.jpg" alt="灰黑多黃根少舌">
</figure>
<p>舌灰色而根黃。乃熱傳厥陰。而胃中復有停滯也。傷寒六七日不利。便發熱而利、汗出不止者死。正氣脫也。</p>
<figure>
<img data-orig-src="urn:270:07889.jpg" alt="邊灰中紫舌">
</figure>
<p>舌邊灰黑而中淡紫。時時自齧舌尖為爽。乃少陰厥氣逆上。非藥可治。</p>

<h1>紅色舌總論</h1>
<p>夫紅舌者。伏熱內蓄於心胃。自里而達於表也。仲景云。冬傷於寒。至春變為溫病。至夏變為熱病。故舌紅而赤。又有瘟疫疫癘。一方之內。老幼之病皆同者。舌亦正赤而加積苔也。若更多食。則助熱內蒸。故舌紅面赤。甚者面目俱赤而舌瘡也。然病有輕重。舌有微甚。且見於舌之根尖中下左右。瘡蝕脹爛。癟細長短。種種異形。皆瘟毒火熱蘊化之所為也。其所治亦不同。當解者內解其毒。當砭者砭去其血。若論湯液。無過大小承氣、黃連解毒、三黃石膏等。此類而推可也。</p>
<figure>
<img data-orig-src="urn:270:07890.jpg" alt="純紅舌">
</figure>
<p>舌見純紅色。乃瘟疫之邪熱初蓄於內也。宜敗毒散加減。或升麻葛根湯等治之。</p>
<figure>
<img data-orig-src="urn:270:07891.jpg" alt="紅中淡黑舌">
</figure>
<p>舌紅中見淡黑色而有滑者。乃太陽瘟疫也。如惡寒。有表證。雙解散合解毒湯微微汗之。汗罷急下。如結胸煩躁直視者。不治。</p>
<figure>
<img data-orig-src="urn:270:07892.jpg" alt="紅中焦黑舌">
</figure>
<p>舌見紅色。中有黑形如小舌。乃瘟毒內結於胃。火極反兼水化也。宜涼膈散。若黑而乾硬。以指甲刮之有聲者。急用調胃承氣湯下之。</p>
<figure>
<img data-orig-src="urn:270:07893.jpg" alt="紅中黑斑舌">
</figure>
<p>見小黑斑星於紅舌上者。乃瘟熱乘虛入於陽明。胃熱則發斑也。或身上亦兼有紅赤斑者。宜黑參升麻湯、化斑湯等治之。</p>
<figure>
<img data-orig-src="urn:270:07894.jpg" alt="紅內黑尖舌">
</figure>
<p>舌本紅而尖黑者。足少陰瘟熱乘於手少陰也。竹葉石膏湯。</p>
<figure>
<img data-orig-src="urn:270:07895.jpg" alt="紅色人字紋裂舌">
</figure>
<p>舌紅甚而又有紋裂者。陽明熱毒熏蒸膈上。故現人字紋也。宜服涼膈散。如渴甚轉矢氣者。大承氣下之。</p>
<figure>
<img data-orig-src="urn:270:07896.jpg" alt="紅斷紋裂舌">
</figure>
<p>相火來乘君位。致令舌紅燥而紋裂作痛。宜黃連解毒湯加麥門冬寒潤之。</p>
<figure>
<img data-orig-src="urn:270:07897.jpg" alt="紅內紅星舌">
</figure>
<p>舌見淡紅色。又有大紅星點如瘡瘰者。濕熱傷於脾土。罨而欲發黃之候。宜茵陳蒿湯、五苓散選用。</p>
<figure>
<img data-orig-src="urn:270:07898.jpg" alt="深紅蟲碎舌">
</figure>
<p>舌紅更有紅點。坑爛如蟲蝕之狀。乃水火不能既濟。熱毒熾盛也。不拘日數。宜小承氣湯下之。不退、再以大承氣下之。</p>
<figure>
<img data-orig-src="urn:270:07899.jpg" alt="紅色紫瘡舌">
</figure>
<p>瘟疫多有此舌。其證不惡寒。便作渴煩躁。或咳痰者。宜解毒湯加黑參、薄荷。並益元散治之。尺脈無者必死。戰慄者亦死。</p>
<figure>
<img data-orig-src="urn:270:07900.jpg" alt="紅中微黃根舌">
</figure>
<p>熱入陽明胃腑。故舌根微黃。若頭汗、身涼、小便難者。茵陳蒿湯加梔子、香豉。</p>
<figure>
<img data-orig-src="urn:270:07901.jpg" alt="紅中微黃滑舌">
</figure>
<p>病五七日。舌中有黃苔。是陽明證。如脈沉實譫語。雖苔滑。宜大柴胡湯。若干燥者。此內邪熱盛。急用大承氣下之。</p>
<figure>
<img data-orig-src="urn:270:07902.jpg" alt="紅長脹出口外舌">
</figure>
<p>舌長大脹出口外。是熱毒乘心。內服瀉心湯。外砭去惡血。再用片腦、人中黃摻舌上。即愈。</p>
<figure>
<img data-orig-src="urn:270:07903.jpg" alt="紅餂舌">
</figure>
<p>舌頻出口為弄舌。餂至鼻尖上下或口角左右者。此為惡候。可用解毒湯加生地黃。效則生。不效則死。</p>
<figure>
<img data-orig-src="urn:270:07904.jpg" alt="紅痿舌">
</figure>
<p>舌痿軟而不能動者。乃是心臟受傷。當參脈證施治。然亦十難救一也。</p>
<figure>
<img data-orig-src="urn:270:07905.jpg" alt="紅硬舌">
</figure>
<p>舌根強硬失音。或邪結咽嗌以致不語者。死證也。如脈有神而外證輕者。可用清心降火去風痰藥。多有得生者。</p>
<figure>
<img data-orig-src="urn:270:07906.jpg" alt="紅尖出血舌">
</figure>
<p>舌上出血如濺者。乃心臟邪熱壅盛所致。宜犀角地黃湯加大黃、黃連輩治之。</p>
<figure>
<img data-orig-src="urn:270:07907.jpg" alt="紅中雙灰干舌">
</figure>
<p>瘟熱病而舌見兩路灰色。是病後復傷飲食所致。令人身熱譫語。循衣撮空。如脈滑者。一下便安。如脈澀下出黑糞者死。</p>
<figure>
<img data-orig-src="urn:270:07908.jpg" alt="紅尖白根舌">
</figure>
<p>紅尖是本色。白苔為表邪。如惡寒、身熱、頭痛。宜汗之。不惡寒、身熱、煩渴者。此太陽里證也。五苓散兩解之。</p>
<figure>
<img data-orig-src="urn:270:07909.jpg" alt="紅戰舌">
</figure>
<p>舌戰者。顫掉不安。蠕蠕瞤動也。此證因汗多亡陽。或漏風所致。十全大補、大建中湯選用。</p>
<figure>
<img data-orig-src="urn:270:07910.jpg" alt="紅細枯長舌">
</figure>
<p>舌色乾紅而長細者。乃少陰之氣絕於內。而不上通於舌也。縱無他證。脈再衰絕。朝夕恐難保矣。</p>
<figure>
<img data-orig-src="urn:270:07911.jpg" alt="紅短白疱舌">
</figure>
<p>口瘡舌短有疱。聲啞、咽乾、煩躁者。乃瘟疫強汗。或傷寒未汗而變此證。宜黃連犀角湯、三黃石膏湯選用。</p>
<figure>
<img data-orig-src="urn:270:07912.jpg" alt="邊紅通尖黑干舌">
</figure>
<p>瘟病不知調治。或不禁飲食。或不服湯藥。而致舌心乾黑。急下一二次。少解再下。以平為期。</p>
<figure>
<img data-orig-src="urn:270:07913.jpg" alt="紅尖紫刺舌">
</figure>
<p>汗後食復而見紅尖紫刺。證甚危急。枳實梔子豉湯加大黃下之。仍刮去芒刺。不復生則安。再生則危。</p>
<figure>
<img data-orig-src="urn:270:07914.jpg" alt="紅尖黑根舌">
</figure>
<p>瘟疫二三日。舌根灰黑。急用涼膈、雙解微下之。至四五日後。火極似水。漸變深黑。下無濟矣。若邪結於咽。目瞑脈絕油汗者。一二日內死。</p>
<figure>
<img data-orig-src="urn:270:07915.jpg" alt="紅嫩無津舌">
</figure>
<p>汗下太過。津液耗竭。而舌色鮮紅柔嫩如新生。望之似潤。而實燥涸者。生脈散合人參三白湯治之。然多不應也。</p>

<h1>紫色舌總論</h1>
<p>紫舌苔者。酒後傷寒也。或大醉露臥當風。或已病而仍飲酒。或感冒不服藥。而用蔥姜熱酒發汗。汗雖出而酒熱留於心胞。沖行經絡。故舌見紫色。而又有微白苔也。苔結舌之根尖。長短厚薄。涎滑乾焦。種種不同。當參其源而治之。</p>
<figure>
<img data-orig-src="urn:270:07916.jpg" alt="純紫舌">
</figure>
<p>傷寒以蔥酒發汗。酒毒入心。或酒後傷寒。皆有此舌。宜升麻葛根湯加石膏、滑石。若心煩懊憹不安。梔子豉湯。不然。必發斑也。</p>
<figure>
<img data-orig-src="urn:270:07917.jpg" alt="紫中紅斑舌">
</figure>
<p>舌渾紫而又滿舌紅斑。或渾身更有赤斑者。宜化斑湯、解毒湯。俱加葛根、黃連、青黛。有下證者。涼膈散。</p>
<figure>
<img data-orig-src="urn:270:07918.jpg" alt="紫上白滑舌">
</figure>
<p>舌紫而中見白苔者。酒後感寒。或誤飲冷酒所致。亦令人頭痛、惡寒、身熱。隨證解表可也。</p>
<figure>
<img data-orig-src="urn:270:07919.jpg" alt="淡紫青筋舌">
</figure>
<p>舌淡紫帶青而潤。中絆青黑筋者。乃直中陰經。必身涼、四肢厥冷。脈沉面黑。四逆、理中等治之。</p>
<figure>
<img data-orig-src="urn:270:07920.jpg" alt="紫上赤腫乾焦舌">
</figure>
<p>舌邊紫而中心赤腫。足陽明受邪。或已下。便食酒肉。邪熱復聚所致。若赤腫津潤。大柴胡微利之。若煩躁厥逆脈伏。先用枳實理中。次用小承氣。</p>
<figure>
<img data-orig-src="urn:270:07921.jpg" alt="紫上黃苔乾燥舌">
</figure>
<p>嗜酒之人傷於寒。至四五日。舌紫。上積干黃苔者。急用大承氣下之。如表證未盡。用大柴胡湯。</p>
<figure>
<img data-orig-src="urn:270:07922.jpg" alt="紫短舌">
</figure>
<p>舌紫短而團圞者。食滯中宮而熱。傳厥陰也。急用大承氣湯下之。下後熱退脈靜舌柔和者生。否則死。</p>
<figure>
<img data-orig-src="urn:270:07923.jpg" alt="紫上黃苔濕潤舌">
</figure>
<p>舌淡青紫而中有黃濕苔。此食傷太陰也。脈必沉細。心下臍旁按之硬痛或矢氣者。小承氣加生附子。或黃龍湯主之。</p>
<figure>
<img data-orig-src="urn:270:07924.jpg" alt="紫尖蓓蕾舌">
</figure>
<p>感寒之後。不戒酒食。而見咳嗽生痰。煩躁不寧。舌色淡紫。尖生蓓蕾。乃酒濕傷肺。味濃傷胃所致也。宜小柴胡湯加減治之。</p>
<figure>
<img data-orig-src="urn:270:07925.jpg" alt="熟紫老幹舌">
</figure>
<p>舌全紫如煮熟者。乃熱邪傳入厥陰。至篤之兆。當歸四逆湯。</p>
<figure>
<img data-orig-src="urn:270:07926.jpg" alt="淡紫帶青舌">
</figure>
<p>舌色青紫無苔。且滑潤瘦小。為直中腎肝陰證。吳茱萸湯、四逆湯急溫之。</p>
<figure>
<img data-orig-src="urn:270:07927.jpg" alt="淡紫灰心舌">
</figure>
<p>舌淡紫而中心帶灰。或青黑。不燥不濕者。為邪傷血分。雖有下證。只宜犀角地黃湯加酒大黃微利之。</p>

<h1>黴醬色苔舌總論</h1>
<p>黴醬色苔者。乃夾食傷寒。一二日間即有此舌。為寒傷太陰。食停胃腑之證。輕者苔色亦薄。雖腹痛。不下利。桂枝湯加橘、半，枳、樸。痛甚加大黃。冷食不消加乾薑、厚朴。其苔色厚而腹痛甚不止者。必危。舌見醬色。乃黃兼黑色。為土邪傳水。證必唇口乾燥大渴。雖用下奪。鮮有得愈者。</p>
<figure>
<img data-orig-src="urn:270:07928.jpg" alt="純黴醬色舌">
</figure>
<p>舌見黴色。乃飲食填塞於胃。復為寒邪郁遏。內熱不得外泄。濕氣熏蒸。罨而變此色也。其脈多沉緊。其人必煩躁腹痛。五七日下之不通者。必死。太陰少陰氣絕也。</p>
<figure>
<img data-orig-src="urn:270:07929.jpg" alt="中黴浮厚舌">
</figure>
<p>傷寒不戒葷膩。致苔如醬餅浮於舌中。乃食滯中宮之象。如脈有胃氣。不結代。嘴不尖。齒不燥。不下利者。可用枳實理中湯、加薑汁炒川連。若舌苔揩去復長仍前者。必難救也。</p>
<figure>
<img data-orig-src="urn:270:07930.jpg" alt="黴色中黃苔舌">
</figure>
<p>舌黴色中有黃苔。乃濕熱之物鬱滯中宮也。二陳加枳實、黃連。若苔干黃。更加酒大黃下之。</p>

<h1>藍色苔舌總論</h1>
<p>藍色苔者。乃肝木之色發見於外也。傷寒病久。已經汗下。胃氣已傷。致心火無氣。胃土無依。肺無所生。木無所畏。故乘膈上而見純藍色。是金木相併。火土氣絕之候。是以必死。如微藍、或稍見藍紋。猶可用溫胃健脾。調肝益肺藥治之。如純藍色者。是肝木獨盛無畏。雖無他證。必死。</p>
<figure>
<img data-orig-src="urn:270:07931.jpg" alt="微藍舌">
</figure>
<p>舌見純藍色。中土陽氣衰微。百不一生之候。切勿用藥。</p>
<figure>
<img data-orig-src="urn:270:07932.jpg" alt="藍紋舌">
</figure>
<p>舌見藍紋。乃胃土氣衰。木氣相乘之候。小柴胡去黃芩、加炮姜。若因寒物結滯。急宜附子理中、大建中湯。</p>

<h1>妊娠傷寒舌總論</h1>
<p>妊娠傷寒。邪入經絡。輕則母病。重則子傷。枝傷果必墜。理所必然。故凡治此。當先固其胎氣。胎安則子母俱安。面以候母。舌以候子。色澤則安。色敗則斃。面赤舌青者。子死母活。面舌俱青沫出者。母子俱死。亦有面舌俱白。母子皆死者。蓋謂色不澤也。</p>
<figure>
<img data-orig-src="urn:270:07933.jpg" alt="孕婦傷寒白苔舌">
</figure>
<p>孕婦初傷於寒。而見面赤舌上白滑。即當微汗以解其表。如面舌俱白。因發熱多飲冷水。陽極變陰所致。當用溫中之藥。若見厥冷煩躁。誤與涼劑。則厥逆吐利而死。</p>
<figure>
<img data-orig-src="urn:270:07934.jpg" alt="孕婦傷寒黃苔舌">
</figure>
<p>妊娠面赤舌黃。五六日裡證見。當微利之。庶免熱邪傷胎之患。若面舌俱黃。此失於發汗。濕熱入里所致。當用清熱利水藥。</p>
<figure>
<img data-orig-src="urn:270:07935.jpg" alt="孕婦傷寒灰黑舌">
</figure>
<p>妊娠面舌俱黑。水火相刑。不必問其月數。子母俱死。面赤舌微黑者。還當保胎。如見灰黑。乃邪入子宮。其胎必不能固。若面赤者。根本未傷。當急下以救其母。</p>
<figure>
<img data-orig-src="urn:270:07936.jpg" alt="孕婦傷寒純赤舌">
</figure>
<p>妊娠傷寒溫熱。而見面舌俱赤。宜隨證汗下。子母無虞。傷寒面色皎白。而舌赤者。母氣素虛。當用薑、桂等藥。桂不墜胎。龐安常所言也。若面黑舌赤。亦非吉兆。若在臨月。則子得生而母當殞。</p>
<figure>
<img data-orig-src="urn:270:07937.jpg" alt="孕婦傷寒紫青舌">
</figure>
<p>妊娠傷寒而見面赤舌紫。乃酒毒內傳所致。如淡紫戴青。為陰證夾食。即用枳實理中四逆輩。恐難為力也。若面赤舌青。母雖無妨。子殞腹內。急宜平胃散加芒硝下之。</p>
<figure>
<img data-orig-src="urn:270:07938.jpg" alt="孕婦傷寒卷短舌">
</figure>
<p>妊娠面黑而舌乾卷短。或黃黑刺裂。乃里證至急，不下則熱邪傷胎。下之危在頃刻。如無直視循衣撮空等證。十中可救一二。</p>
