<header data-type="book">
<h1>重訂溫熱經解</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈麟</dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第七冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521057">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>竊思人之所以病者，天地之氣化也。病之所以死所以生者，人身之氣化也。夫熱則氣泄，寒則氣收，怒則氣上，恐則氣下，喜則氣緩，悲則氣消，勞則氣耗，驚則氣亂，思則氣結，病隨氣行。雖千變萬化，要不外乎由表入里則死，由里出表則生爾。今醫士皆能治病，而死生莫決，何也？蓋西醫尚實驗，專事剖解以求病，而病源不見，何以決死生？中醫尚氣化，但言天地之氣化，即理想難憑，何以決死生？夫病有不待剖解而知者，有剖視不得見，而求之人身氣化中有實驗者。如太陽氣化為寒水，其症有惡風惡寒，少陽氣化為相火，其症有口苦目眩，此皆人身之氣化，剖視不得見，而其症固實有可驗，不待剖解而知也。我國醫聖張仲景，因漢時醫家，不於人身氣化中求病源，其宗族多被醫誤，故作《傷寒雜病論》，發明人身氣化之理，以惠後學。不料後學，但知天地之氣化，而不知人身之氣化，誤加註釋，相沿至今，將二千年，不知誤人多少，致令醫界中人，談及傷寒，皆瞠目相視，噤口不言。此家君所以改良古注，闡發病源，而作是書也。書既成，家君因命余讎校更正，先付排印，以質當世之知醫者。是為序。</p>
<p><u>沈懋官肖卿氏序於京都延壽寺街醫寓</u></p>

<h1>自序</h1>
<p>嘗閱《溫病條辨》與《溫熱經緯》，而知軒岐長沙之書，無人研究，何也？熙熙攘攘，名利是求，其所以率爾操觚者，皆名利之心迫而出之。其於古聖心傳，固漠然無所動於中，不求經旨，妄加註釋。晉·叔和、唐·王冰誤解於前，各家誤解於後，一誤再誤，致令神聖相傳之醫學，淹沒將二千年，迄未發明。而吳鞠通、王孟英輩，復欲撇去傷寒，獨開生面，而不自知其愚昧。集葉氏《指南》數方，以行於世，可為葉氏功臣，其實則仲景之罪人也。仲景論桂枝湯為太陽中風之主方，太陽病脈浮者為風寒在表，尚宜此湯，並未言溫病宜桂枝湯主之。而鞠通論溫病，開首即以此方誣聖，其不明經旨可知矣。仲景論傷寒霍亂，宜五苓、四逆、理中等方，而鞠通誤解，以治溫病霍亂，以熱治溫，其不殺人也幾希。仲景論少陰病，寒傷少陰也。而孟英以少陰病為溫病，竊附於仲景門牆，以誤後學，此胡為者。噫，自晉迄今，以藥試病，於試驗中，幸得數方，即稱名醫，知其然而不知其所以然。病理不明，死生莫決，此中國醫學，所以日趨於腐敗也。近時英俊，又復喜新厭故，競尚西學，不知西人之性質，西方之風土，與中國大不相同。其人性情強，皮膚密，毫毛堅，其病生於內，故西醫論病，皆曰肺炎、肝炎、腸胃炎，治法皆宜內攻也。華人性情柔，皮膚疏，毫毛軟，其病生於外，故中醫論病，皆曰風寒暑濕燥火，治法當從外解也。習慣不同，病情不同，治法是以不同。人身一氣機耳，熱則氣泄，寒則氣收，收則病入，泄則病出，氣存則生，氣絕則死，病雖千變，氣化則一，此我國醫聖，所以作《傷寒雜病論》也。西醫不言氣化，專事實驗，輒遇瘟疫，即倉惶失措。中醫但言天地之氣化，而不求人身之氣化。是以注傷寒家，皆曰少陰之上，熱氣治之；陽明之上，燥氣治之。此非天地氣化乎。天地之少陰為君火，人身之少陰為腎水，天地之陽明燥金為寒燥，人身之陽明燥土為火燥。仲景論人身，注家說天地，此醫聖經旨，所以迄未發明也。（麟）不敏，不能將各國醫學，廉收並蓄。竊願發明經旨，俾後學見病知源，詳釋經文，分別溫熱，辨西方瘟疫之名，集平時經驗之方，不揣固陋，類聚成篇。尚祈中西同志，繩愆糾謬，發明人身氣化之病理，庶使古聖心傳，大放光明於世界。</p>
<p><u>江蘇沈麟漢卿氏作於天津合濟醫院</u></p>

<h1>凡例</h1>
<p>五運六氣，天地之氣化也。傷寒傳經，人身之氣化也。各注家不解虛字，是以多誤，是書於太陽篇中，悟出人身冬令之氣化。於陽明篇中，悟出人身春夏秋三時之氣化，此乃醫聖心傳之要。學者若能於人身氣化中求病理，思過半矣。</p>
<p>溫病者，天氣為病也。風自南方來，天氣大溫，民即病溫。溫邪傷經，當按經施治，病不解，則化為熱病，人之氣化為病也。傷寒化熱，伏氣為溫，皆人之氣化為病也。分經施治，治法本同，其有不同者。傷寒救陽，溫病救陰，此乃秋冬人氣收藏，春夏人氣外泄之故耳。拙著有傷寒問答，現已脫稿，擬集資付刊，有願出資者，函致天津大費家衚衕合濟醫院可也。</p>
<p>瘟疫者，地氣為病也。天以陽生陰長，地以陽殺陰藏，故地氣傷人，天氣不降，則地氣上升。如冬令無雪，民病瘟疫，其氣由地下發生，鼠先受病，即名鼠疫。其氣由口鼻入脾胃，故傳染，法當攻下，化熱以後，人氣為病，治法與熱病同，西醫不言氣化，以傳染病為瘟疫，不知天氣為病，亦能傳染。如風熱咳嗽，其氣由鼻入肺，病氣相傳，西人誤以為肺疫，名之曰百斯篤。不知風能生蟲，乃氣化之常理，風去蟲自絕，風不去，則久咳成癆。此非地氣為病，不能殺人，其有不愈者，誤治之過也。</p>
<p>肝氣病者，人之本氣為病也。經云怒則氣上，恐則氣下，思則氣結，驚則氣亂，喜則氣緩，悲則氣消，勞則氣耗。氣行血從，氣順血調，舒其肝氣，調其胃氣，治法與治天氣為病迥不相同。是篇專論溫熱，不及雜病，故納之於治驗中，另立方藥。如各種咳嗽、五色痢疾等症，各附於後，學者當求之於治驗中。</p>
<p>醫聖經文，一字包含數十義，一語耐人數日思。其經義盡在虛字中，與無字處。各注家不但不解虛字，並實字之義，亦不加察，各逞己見，不於原文中求經義。而於原文外，為之加增字名，使後學盲從，誤盡蒼生。致令《傷寒論》一書，無人敢讀，變成荒經。是書付氣溫因病本傷寒，引以為症，略加新解。而辨症辨脈諸大法，不及備載，不能見病知源，學者欲明病理，當求之於傷寒問答中。</p>
<p>仲景於傷寒傳經，發明人身經氣為病。是書於肝氣病中，發明人身臟氣為病，復於溫疫中，發明地氣為病。天氣病宜散，地氣病宜降，人氣病宜和，經氣為病辨脈症，臟氣為病分營衛。學者果能於氣化中求治法，則千變萬化，庶有準則矣。</p>
<p>咳嗽，肺病也。北方風多，經云：風舍於肺，其人則咳。此症最忌桑白皮地骨皮，吳鞠通亦嘗言之。今醫士皆喜用桑白、地骨，致令病人久咳成癆，誤人不淺。此乃不求病源專事方藥之過也。不知病有陰陽，方有寒熱，一病有數症，一症有數方。必先辨症，而後定方，庶無貽誤，是篇於治驗中分列方藥，以便研究病情耳。</p>
<p>痢疾，腸胃病也。經云：腸中熱，便腸垢，即言此病。此病發於春，風熱內陷也，法當消風，此病發於秋。暑熱內蘊也，法當解暑。今醫士每以為腸澼，用於術以止痢，致痢久不止。（鄙人）嘗見滿人有名連捷者，其父在東洋作參贊時，患痢，常服於術，痢至九年而卒。此乃前人誤注腸澼為痢之故，不知澼字從水。腸澼者，腸間水瀉也，與痢疾適相反，水瀉宜止。其病在脾，脾屬臟，臟不宜瀉。故用於術以止瀉，痢病在腸胃，腸胃為腑，腑宜通，不宜塞，若用於術以止痢，則移熱於脾，腑邪入臟矣。是篇於治驗中，略言治法，以備研究。學者當於病理中求方藥，幸勿專求方藥，而不問病情，不辨脈症也。</p>

<h1>溫熱經解</h1>
<p>六元正紀大論曰：辰戌之紀，太陽司天，氣化運行先天。初之氣，地氣遷，氣乃大溫，草木早榮，民乃厲，溫病乃作。其病身熱頭痛，嘔吐，肌腠瘡瘍。卯酉之紀，陽明司天，氣化運行後天。二之氣，陽乃布，物乃生榮，萬大至，民善暴死。終之氣，陽乃布，候反溫，蟄蟲來見，流水不冰，民乃康平，其病溫。寅申之紀，少陽司天，氣化運行先天。初之氣，地氣遷，風勝乃搖，寒乃去，候乃大溫，草木早榮，寒來不殺，溫病乃起。其病氣怫於上，血溢目赤，咳逆頭痛，血崩脅滿，肌腠中瘡。三之氣，民病熱中，聾瞑血溢膿瘡，咳嘔鼽衄，渴嚏欠，喉痹目赤，善暴死。丑未之紀，太陰司天，氣化運行後天。二之氣，大火正，物承化，民乃和，其病溫厲大行，遠近咸若，濕蒸相搏，雨乃時降，四之氣，畏火臨，溽蒸化，地氣騰，天氣痞隔，寒風曉暮，蒸熱相搏，草木凝煙，濕化不流。則白露不降，以成秋令。民病腠理熱，血暴溢，瘧心腹滿熱臚脹，甚則跗腫。子午之紀，少陰司天，氣化遠行先天。三之氣，天正布，大火行，庶類蕃鮮，寒氣時至，民病氣厥心痛，寒熱更作，咳喘目赤。五之氣，畏火臨，暑反至，陽乃化，萬物乃生，乃長榮，民乃康，其病溫。已亥之紀，厥陰司天，氣化遠行後天。四之氣，溽暑濕熱相搏爭於左之上，民病黃癉而為跗腫。終之氣，畏火司令，陽乃大化，蟄蟲出見，流水不冰，地氣大發，草乃生，人乃舒，其病溫厲。</p>
<p>此論客氣溫病也。其病皆發於君相二火司令之時，其時依年辰，固可按圖而索也。其為病也，不過身熱、頭痛、耳聾目瞑鼽衄，咳喘嘔渴，喉痹目赤，瘧心腹滿熱臚脹，黃癉跗腫，血溢血崩，肌腠瘡瘍，暴死等症而已。與後人所論溫病，始於上焦，由中焦而病及下焦者，迥不相同，何也？病有客氣伏氣之分，是經所論，客氣溫病也。後人所論，伏氣溫病也。伏氣溫病，本冬傷於寒，後人論傷寒由表入里，溫病自上而下，欲撇去傷寒，獨開生面以論溫。而不自知其無知妄作，不但於仲景經文，未明經旨，並於《內》、《難》二經所論溫病，概不符合。此乃無根之學說，不足道也。仲景論傷寒，有寒邪傷經，由經傳經者，有寒邪傷表，由表入里者，寒邪入里，先入胸為胸滿，由心而入心下為心下痞，由心下而入腹中為脹滿。其病皆自上而下，伏氣溫病，本冬傷於寒，寒邪伏於骨與肩背之膂筋。至春，病隨氣化，由筋骨而出走肌肉，化為溫病，由肌肉外達皮毛，發為熱病。伏寒化溫，自里出表，乃人身之氣，隨時變化使然。所謂自上而下者，乃人之胃氣，不能使邪氣外解，則邪氣入里，由上焦而入中焦，甚則深入下焦，其病由衛入營，由表入里也。夫病之所以由表入里，自上而下者，皆人之氣化使然，非病能使然。寒邪從毛竅入，溫邪亦從毛竅入，不得以溫邪為從口鼻入，不能從毛竅入也，何也？人之口鼻呼吸，毛竅亦呼吸，病氣隨呼吸入人身，固無分乎寒與溫也。惟瘟疫傳染，地氣為病，穢濁氣味，由口鼻入耳。</p>
<p>《難經》五十八難曰：溫病之脈，不知何經之動也。各隨其經之所在而取之。此論客氣溫病之脈也。傷寒傳經，客氣溫病不傳經，其病隨君相二火司令之時，溫邪傷經而後發。發於陽明太陰者，為身熱鼽衄，渴喘喉痹，黃癉跗腫，肌膚瘡瘍。發於少陽厥陰者，為頭痛目赤，血溢血崩，咳喘脅滿，耳聾目瞑，嘔逆心痛。其病有定時，而無定處，隨其所傷之經，而以針取之。《難經》專論針法，未言方藥。自仲景發明伊尹湯液，辨明經症，以合方藥，而後人宗之。專事方藥，不求經旨，是以長沙之學未明，而軒岐針灸之法，漸失真傳矣。</p>

<h1>客氣溫病治法</h1>
<p>辰戌之紀，太陽司天，初之氣，少陽相火司令，溫邪傷人頭痛者，桑菊芩連飲主之。嘔吐者，溫膽湯主之。肌腠瘡瘍者，荊防敗毒湯主之。</p>
<p><u>桑菊芩連飲方</u></p>
<p>桑葉（二錢）　菊花（三錢）　酒芩（八分）　川連（八分）　川芎（八分）　柴胡（八分）　甘草（八分）</p>
<p><u>溫膽湯方</u></p>
<p>竹茹（三錢）　枳實（八分）　陳皮（八分）　姜夏（三錢）　茯苓（三錢）　甘草（一錢）</p>
<p><u>荊防敗毒湯方</u></p>
<p>荊芥（八分）　防風（八分）　銀花（三錢）　連翹（八分）　酒芩（八分）　川貝母（三錢）　殭蠶（二錢）　陳皮（一錢）　薄荷（八分）　白芷（八分）　甘草（八分）　天花粉（二錢）　桔梗（八分）　黃連（八分）</p>
<p>痛者加乳香一錢制，沒藥一錢制，痛甚者加穿山甲一錢炙，皂刺一錢炙，紹酒一盅，煎服。</p>
<p>卯酉之紀，陽明司天，二之氣，少陽相火司令，民善暴死，火邪剋金也。終之氣，少陰君火司令，民病溫。法當清肅肺金，勿使火刑，治以辛涼，佐以苦甘，桑菊二冬之類。</p>
<p>寅申之紀，少陽司天，初之氣，少陰君火司令，溫邪傷人。血溢者，犀角地黃湯主之，三黃湯亦主之。目赤者，桑菊蟬衣飲主之。咳逆頭痛者，桑杏湯主之。咳逆吐血，胸中隱痛，脈數大者，肺癰也，犀黃丸主之。婦人血崩者，芩連瀉青湯主之。不止者，與蓮房飲。血崩過多，氣虛下陷者，黃耆建中湯主之。胸滿者，梔子豉湯主之。三之氣，少陽相火復司令，火邪傷人，耳聾目瞑者，龍膽瀉肝湯主之。血溢者，三黃湯主之。咳嘔者，肝火衛肺犯胃也，溫膽湯主之。鼽者，清肺飲主之。衄者，先與四生丸，不愈，與承氣湯。喉痹者，先與清瘟敗毒湯，不愈，復與除瘟化毒湯。舌上無苔者，養陰清火湯主之。</p>
<p><u>犀角地黃湯方</u></p>
<p>犀角尖（一錢）　生地（二兩）　芍藥（三錢）　丹皮（錢半）</p>
<p><u>三黃湯方</u></p>
<p>大黃（三錢）　酒芩（半錢）　川連（半錢）</p>
<p><u>桑菊蟬衣飲方</u></p>
<p>桑葉（一錢）　菊花（一錢）　蟬退（八分）　赤芍（一錢）　防風（六分）　草決明（一錢）　柴胡（六分）　川芎（六分）　車前子（五分，包煎）　青葙子（一錢）</p>
<p>痛者加川連八分，起星翳者，加木賊草一錢，痛甚加龍膽草一錢。</p>
<p><u>桑杏湯方</u></p>
<p>桑葉（二錢）　前胡（錢半）　川連（一錢）　川貝母（二錢去心）　杏泥（三錢）　菊花（錢半）　枳殼（八分）</p>
<p>痰中帶血去桑葉，加青黛八分，童便一杯沖。</p>
<p><u>犀黃丸方</u></p>
<p>麝香（一分）　犀黃（二錢）　制乳香（一兩）　制沒藥（一兩）</p>
<p>上四味，研細，飯糊為丸，每服一錢，飯後服，甘桔湯送下。</p>
<p><u>甘桔湯方</u></p>
<p>甘草（錢半）　桔梗（錢半）</p>
<p><u>芩連瀉青湯方</u></p>
<p>酒芩（錢半）　川連（二錢）　生地（一兩）　阿膠（三錢）　青皮（七分）　白芍（三錢）　甘草（一錢）</p>
<p><u>蓮房飲方</u></p>
<p>蓮房炭（二枚）　阿膠（三錢）　棉花子炭（十四粒）</p>
<p><u>黃耆建中湯方</u></p>
<p>黃耆（六錢）　芍藥（二錢）　阿膠（三錢）　飴糖（五錢）　炙甘草（一錢）</p>
<p><u>龍膽瀉肝湯方</u></p>
<p>龍膽草（錢半）　酒芩（一錢）　澤瀉（一錢）　生地（六錢）　北柴胡（三分）　車前子（一錢）　青皮（七分）　黑山梔（一錢）　甘草（一錢）</p>
<p><u>清肺飲方</u></p>
<p>酒芩（一錢）　天冬（二錢）　甘草（八分）　川貝母（一錢）　菊花（二錢）　黑山梔（一錢）　麥冬（二錢）　桑葉（一錢）</p>
<p><u>四生丸方</u></p>
<p>生地（六錢）　生艾葉（一錢）　鮮荷葉（二錢）　生側柏葉（三錢）</p>
<p>上四味，研末，蜜丸，每服一錢。</p>
<p><u>承氣湯方</u></p>
<p>酒軍（三錢）　川樸（一錢）　枳實（八分）　甘草（八分）</p>
<p><u>清溫敗毒湯方</u></p>
<p>葛根（二錢）　蟬蛻（一錢）　酒芩（一錢）　甘草（一錢）　殭蠶（二錢）　木通（一錢）　桑葉（二錢）　川貝母（三錢）　黑山梔（錢半）　山豆根（二錢）　青果（三枚，打碎）</p>
<p><u>除瘟化毒湯方</u>　治舌苔黃膩，咽喉生蛾腫痛。</p>
<p>葛根（二錢）　蟬蛻（一錢）　酒芩（一錢）　大力子（二錢）　殭蠶（二錢）　馬勃（錢半）　木通（一錢）　銀花（三錢）　連翹（二錢）　石膏（一兩）　貝母（三錢）　人中黃（五分）　土茯苓（三錢）　龍膽草（一錢）</p>
<p><u>養陰清火湯方</u>　治舌上無苔者，陰虛火旺也。</p>
<p>生地（六錢）　元參（四錢）　麥冬（三錢）　薄荷（一錢）</p>
<p>咽喉腫者加馬勃錢半，竹茹二錢。</p>
<p>丑未之紀，太陰司天，二之氣，少陰君火司令，濕蒸熱搏，法當清解。四之氣，少陽相火司令，民病腠理熱血暴溢，三黃湯主之。暴濕化瘧，但熱不寒者，青蒿滑石湯主之。心腹滿熱臚脹，宜三黃湯。跗腫者，宜防己茯苓湯。</p>
<p><u>青蒿滑石湯方</u></p>
<p>青蒿（三錢）　滑石（三錢）　川樸（一錢）　建曲（二錢）　扁豆衣（錢半）　銀花露（五錢，沖）　甘草（一錢）　知母（二錢）　杏泥（二錢）　酒芩（八分）　通草（八分）　荷葉邊（一圈）</p>
<p>但頭汗出身無汗者，加豆豉三錢，蔥頭一枚。</p>
<p><u>防己茯苓湯</u></p>
<p>木防己（一錢）　茯苓（一錢）　澤瀉（一錢）　甘草（八分）　蒼朮（八分）　滑石（二錢）　酒黃柏（八分）　豬苓（一錢）</p>
<p>子午之紀，少陰司天，三之氣，少陰君火司令，寒氣時至。民病厥心痛，寒熱更作者，梔子豆豉湯主之。咳喘者，杏樸芩連湯主之。喘咳氣逆面赤者，瀉白散主之。五之氣，少陽相火司令，其病溫，法當清解。</p>
<p><u>梔子豆豉湯</u>　治風寒入胸，胸中痞塞煩滿者。</p>
<p>黑山梔（錢半）　淡豆豉（三錢）</p>
<p>氣虛者加甘草錢半，嘔者加生薑三片。</p>
<p><u>杏樸芩連湯方</u></p>
<p>杏泥（三錢）　川樸（一錢）　酒芩（八分）　川連（一錢）　陳皮（一錢）　蘇子（八分，炒）　川貝（二錢）　甘草（一錢）</p>
<p><u>瀉白散方</u></p>
<p>桑皮（一錢）　地骨皮（二錢）　甘草（一錢）　粳米（一撮）</p>
<p>巳亥之紀，厥陰司天，四之氣，少陰君火司令，民病黃癉，茵陳蒿湯主之。不愈，宜豬膏發煎。終之氣，少陽相火司令，其病溫厲，視其病之所在而清之或以針取之。</p>
<p><u>茵陳蒿湯方</u></p>
<p>茵陳蒿（六錢）　酒軍（二錢）　黑山梔（錢半）</p>
<p><u>豬膏發煎方</u></p>
<p>豬板油（八兩）　頭髮（如雞子大，三圍）</p>
<p>上二味，同煎至頭髮已成灰無渣，頓服。</p>
<p>陰陽應象大論曰：冬傷於寒，春必病溫，春傷於風，夏為飧泄，夏傷於暑，秋為痎瘧，秋傷於濕，冬生咳嗽。</p>
<p>此論伏氣為病也。伏氣者，正邪也。冬以寒為正邪，春以風為正邪，夏以暑為正邪，長夏新秋以濕為正邪。正邪能伏，虛邪實邪微邪賊邪，皆不能伏也。六氣傷人，合於四時，只論風寒暑濕，而不及燥火，何也？以燥火二氣不能伏，故燥為秋之正邪，而置之不論。喻嘉言未明經旨，為補秋燥一條，不知燥傷肺金，其病即發為燥咳，不能伏至冬令而後咳嗽也。謹按燥氣有二，有火燥，有寒燥，火燥傷人，其氣不能伏，寒燥傷人，結為癥瘕，為疝氣，日久不愈，亦伏氣病也。嘉言欲補秋燥一條，當言疝瘕，不當言咳嗽也。</p>
<p>金匱真言論曰：夫精者，身之本也。故藏於精者，春不病溫。</p>
<p>此論溫病由於傷陰，陰精不足，陽氣不能潛藏，故冬不藏精，春必病溫。藏精者，陰精常足，陽精得以潛藏也。陽精為人身之本，人身有陽氣則生，無陽氣則死，冬令陰精常足，陽氣內藏，不為寒傷。至春則生氣外發皮膚壯實，肌肉堅強，雖有客氣邪風，勿能害也。故藏於精者，春不病溫。由此觀之，溫病之源，皆由於冬不藏精，陽氣不藏，陰精先已虧損。治溫病者，慎勿誤汗誤下以傷陰，則治法明矣。</p>
<p>熱病論篇曰：凡病傷寒而成溫者，先夏至日者為病溫，後夏至日者為病暑，暑當與汗皆出勿止。</p>
<p>此論伏氣溫病發於春，至夏至日止，夏至後，地氣外發，草木皆榮，枝葉流膏，天氣熱至，則暑病生焉。凡病傷寒而成溫者，或為溫病，或為熱病，皆先夏至日發也。經云重陰必陽，重陽必陰。故冬傷於寒，春必病溫，溫盛為熱，則病熱，不能病暑。暑者，客氣病也。上熱下濕，發而為暑，人受之，則病暑。故曰後夏至日者，為病暑，暑邪傷人，病由表入，當從表解，故曰暑當與汗皆出勿止。</p>
<p>謹按伏寒發於春，至夏至日止，伏暑發於秋，至冬至日止。</p>
<p>論病診尺篇曰：尺膚熱甚，脈盛燥者，病溫也。其脈盛而滑者，病且出也。</p>
<p>此論伏氣溫病，寒已化熱也。熱極傷絡，故尺膚熱。熱甚者，其熱甚於他處也。脈盛燥者，脈大且數也。伏氣溫病發於春，其邪由筋骨出走肌肉則化熱，故脈數。由肌肉外達皮膚，則衛氣盛而脈浮滑，故曰其脈盛而滑者。病且出也。</p>
<p>謹按溫病外達，則病當解，不解，即為熱病矣。</p>
<p>《平人氣象論》曰：人一呼脈三動，一吸脈三動而躁，尺熱曰病溫，尺不熱，脈滑曰病風，尺澀曰痹。</p>
<p>此論伏氣溫病，與風溫不同也。平人脈一呼當再動，一吸亦當再動，為平。一呼三動，一吸三動者，數也。數則為熱，其脈躁，其人身必熱，數又為虛，其脈不躁，其人身微熱，或竟無熱，此虛極之候也。診脈須調尺膚，尺膚熱而脈躁甚，故知其為伏氣溫病也。若尺膚不熱而脈滑數者，風從火化為風溫也。其人當發熱汗出，尺膚澀，邪傷血絡也。血絡不通，故痹。有寒痹，有風痹，有濕痹，有血痹、脈痹、骨痹、皮痹、肉痹。考之《內經》自知，謹按身無熱脈滑而尺膚澀者，為風痹。</p>
<p>九宮八風篇云：風從北方來者，名曰大剛風，其傷人也。內舍於腎，外在於骨與肩背之膂筋，其氣主為寒也。</p>
<p>此論冬傷於寒，寒邪所伏之處也。冬令寒邪傷表為太陽病，寒邪入里為少陰病，其病皆即發，不能伏至春令而後發也。惟冬令北風傷人，其人經氣不虛，邪不入經，而入於骨與肩背之膂筋，至春變為溫病矣。人之營衛氣，日行於陽，夜行於陰，周行於臟腑經絡，而不入骨與肩背之膂筋，故寒邪伏焉。至春地氣上騰，人氣外發，寒邪隨氣化外出於肉，陽明主肉，燥土勝寒，故寒邪出走至肉，變為溫病，此為伏氣春溫也。</p>
<p>刺熱篇曰：太陽之脈，色榮顴骨，熱病也。榮未交，曰今且得汗，待時而已。與厥陰脈爭見者，死期不過三日，其熱病內連腎，少陽之脈，色榮頰前，熱病也。榮未交，曰今且得汗，待時而已。與少陰脈爭見者，死期不過三日。</p>
<p>此論熱病本冬傷於寒，寒邪內舍於腎，外在於骨與肩背之膂筋，為兩感熱病也。寒已化熱，故脈洪大。經云：太陽之脈，洪大以長。脈既洪大，色復榮於顴骨，此溫邪已化熱出表為熱病，故曰熱病也。熱病不從外解，則由衛入營，病名陰陽交。榮未交者，熱邪在衛，衛病不與營俱病，其邪當從汗解。但太陽病欲解時，從巳至未上，若至其時不得汗，則病不已。今且勿傷其陰，保其津使之得汗以待時，則病當已。故曰今且得汗，待時而已，此熱病之治法也。厥陰脈至，沉短以緊，太陽脈與厥陰脈爭見者，浮部洪大，而沉部短緊，此兩感熱病也。傷寒兩感六日死，熱病兩感三日死，故曰死期不過三日。脈沉緊為寒邪內舍於腎，故曰其熱病內連腎。少陽脈至，乍數乍疏，乍短乍長，脈象如此，色復榮於頰前，亦熱病也。其邪在衛不在營，當斷之曰：可汗而已。但少陽病欲解時，從寅至辰上，若至其時不得汗，則病不已。當預保其津，使之得汗以待時。故曰今且得汗，待時而已，少陰脈至，緊細而微。少陽脈與少陰脈爭見者，乍數乍疏，乍短乍長，而又緊細而微也。此腎陽已被寒傷，病由兩感，故死期不過三日。</p>
<p>謹按：唐·王冰注：將脈色二字連讀，是以費解。吳鞠通、王孟英所引經文，悉本王注，而不知其誤，此軒岐之學，所以迄未發明也。</p>
<p>評熱病論，帝曰：有病溫者，汗出輒復熱，而脈躁疾，不為汗衰，狂言不能食，病名為何？岐伯對曰：病名陰陽交，交者，死也。人之所以汗出者，皆生於穀，穀生於精。今邪氣交爭於骨肉而得汗者，是邪卻而精勝也。精勝則當能食而不復熱，復熱者，邪氣也。汗者，精氣也。今汗出而輒復熱者，邪氣勝也。不能食者，精無俾也。病而留者，其壽可立而傾也。且夫熱論曰：汗出而脈尚躁盛者死，今脈不與汗相應，此不勝其病也。其死明矣。狂言者是失志，失志者死，今見三死，不見一生，雖愈必死也。</p>
<p>此論伏氣溫病汗出而不愈者，為熱病也。溫病發於陽明，其邪由衛入營，溫邪在衛，脈當浮滑，入營則躁，汗出而脈躁疾是病不為汗衰也。狂言者，邪氣入營，營氣通心，邪熱入心，是以狂言也。衛為陽，營為陰，營衛俱病，故名陰陽交。津汗生於衛，液汗生於營，營生於穀。穀氣者，胃氣也。有胃氣則生，故曰穀生於精。伏氣溫病，由筋骨出走肌肉，其邪氣與穀氣，交爭於骨肉得汗而解者。邪氣卻，精氣勝，胃氣未傷也。胃氣未傷，則當能食而不復熱，復熱者，邪已入營，是邪氣勝也。不能食者，胃氣已傷，胃中無氣，營氣無所施其伎，故曰精無俾也。病之所以愈者，營衛氣復也。今營衛俱傷，但憑病氣以生存，其壽能不立傾耶，汗出而脈躁盛者，其死一；不能食者，胃中無氣，其死二；狂言者，是失志，其死三。故曰今見三死，不見一生，雖愈必死也。</p>
<p>謹按：熱病有六。其一為傷寒，邪傳陽明為熱病，其時當冬令，人氣內藏，邪氣隨人氣入里為胃家實，承氣湯症也。其二為冬傷於寒，至春人氣外發，寒邪化溫，溫邪化熱，其病由里出表，白虎湯症也。其有汗出不解，脈躁盛而狂言者，其邪由衛入營，氣血兩燔，病名陰陽交。宜白虎湯加犀角、元參、生地。若病者能食，即有生機，又有汗出後，胃中燥實，不能食者，此裡氣不通，表邪不得外解也，宜先與調胃承氣湯，其三為冬令風溫，其四為春令風溫，其五為夏至後，人受暑熱。《金匱》云：太陽中暍者，熱是也。其症汗出惡寒，身熱而渴也。暑傷氣，汗出表氣虛，故惡寒。熱傷津，胃中津竭，故身熱而渴，白虎加人參湯症也。其六為夏傷於暑，至秋復感風邪，發為熱病，其症腹滿身重，難以轉側．口不仁而面垢，譫語遺尿，發汗則譫語。下之則額上生汗，手足逆冷。若自汗出者，伏暑外發也，白虎湯主之。其有汗不出，出不徹者，當轉瘧而愈，經云夏傷於暑，秋為痎瘧是也。</p>
<p>玉版要論曰：病溫虛甚死。</p>
<p>此通論溫病，由於冬不藏精，陰精不足，陽氣不能潛藏，是以至春病溫也。其病發於陽明，先傷衛，後傷營，邪未入營，可汗而已。營虛者，邪必入營，營中有氣有血，邪初入營。營氣未虛者，猶可用銀翹等藥，引邪出衛，若營氣已虛，則營血受傷，非大劑增液不可。迨至營血枯槁，陰虛已竭，正不勝邪則死，故曰病溫虛甚死。</p>
<p>熱病篇曰：熱病三日而氣口靜，人迎躁者，取之諸陽五十九刺，以瀉其熱而出其汗。實其陰以補其不足者，身熱甚。陰陽皆靜者，勿刺也。其可刺者，急取之。不汗出則泄，所謂勿刺者。有死證也。</p>
<p>此論傷寒傳經化為熱病也。關前一分，左為人迎，右為氣口，傷寒發於太陽，由表入里，診在人迎。溫病發於陽明，由衛入營，診在氣口。冬令傷寒化熱，邪未入里，故氣口靜而人迎躁也。病發三日，邪在三陽，當刺三陽。故曰：取之諸陽五十九刺，以瀉其熱，而出其汗。經氣不足，邪氣始入，今邪未入陰，當先補其陰。故曰：實其陰以補其不足者。此論傷寒傳經，三日傳至少陽，寒已化熱為熱病也。身熱甚，陰陽皆靜者，陽氣外越而里無陽，故勿刺也。此病屬少陰，其可刺者，邪在三陽，不急取之，則邪必入陰。故曰急取之。或汗出而已，或泄而已，故曰不汗出則泄。所謂勿刺者，邪已深入少陰，真陽外越而里無陽，故曰有死證也。</p>
<p>熱病七日八日，脈口動喘而短者，急刺之。汗且自出，淺刺手大指間。</p>
<p>此論傷寒再傳為熱病也。七日邪傳太陽，八日再傳陽明。其邪由里還表，故脈口動喘，邪氣甚，正氣虛，故動喘而短，當急刺之。以寫其邪，汗且自出者，邪從外解也。手大指間，謂少商、魚際各二穴。</p>
<p>熱病七日八日，脈微小，病者溲血，口中乾，一日半而死，脈代者，一日死。</p>
<p>此論寒邪再傳太陽陽明，經期已周，邪不出表，病已入里化熱為圊血也。脈微小，衛陽已傷，口中乾，津液復竭，故知一日半而死。脈代者，經氣已絕，其死更速，故曰一日死。</p>
<p>熱病已得汗出，而脈尚躁，喘且復熱，勿刺膚，喘甚者死。</p>
<p>此論病在陽明，邪已化熱入里為胃家實，當急下之以存陰也。傷寒溫病，皆當從汗解，已得汗出，熱當解而不解，故脈尚躁。陽明內實，則腹滿而喘，有潮熱，故喘且復熱，當急下之。裡氣不通，表邪不得外解，此病不在表，故曰勿刺膚。喘甚者，熱傷肺金，肺之化源欲絕也，故死。</p>
<p>熱病七日八日，脈不躁，躁不散數。後三日中，有汗，三日不汗，四日死。未曾汗者，勿腠刺之。</p>
<p>此論傷寒再傳太陽陽明，邪已化熱為熱病也。脈不躁，邪不在陰也。躁不散數，邪熱入陰，而陰猶未傷。故後三日中當有汗，三日不汗者，陰傷不得汗出也。四日合八日為十二日，傳經之期已盡，營衛不行，五臟不通，邪不得出，故死。未曾汗出者，邪已入陰也。邪在陽可以腠刺，邪已入陰，故曰勿腠刺之。</p>
<p>熱病不知所痛，耳聾不能自收，口乾，陽熱甚，陰頗有寒者，熱在髓，死不可治。</p>
<p>此論溫病兩感，邪伏少陰化熱為熱病也。邪入骨髓，故不知所痛，耳聾有虛有實，邪在少陽耳聾者，表邪外閉也。邪在厥陰耳聾者，肝火內盛也。邪在少陰耳聾者，腎虛精脫也。不能自收者，衛陽欲亡也。口乾，陰液欲竭也。陽熱甚，陰頗有寒者，邪熱在表，真陰內竭，真陽外越而里無陽，是以陰頗有寒也。陽盛陰竭，則骨髓熱，邪入骨髓，故死不可治。</p>
<p>熱病已得汗而脈尚躁盛，此陰脈之極也。死，其得汗而脈靜者生。</p>
<p>此論伏氣溫病，溫邪化燥為熱病，當即下之以存陰也。伏氣溫病發於陽明，陽明內實，裡氣不通，表邪不得外解，故已得汗而脈尚躁盛，此陽明陽盛陰竭，不下則死。故曰此陰脈之極也，死。其得汗而脈靜者，裡氣得通，表邪已從外解也，故生。</p>
<p>熱病脈尚盛躁，而不得汗者，此陽脈之極也，死。脈盛躁，得汗靜者生。</p>
<p>此論伏氣溫病，邪已入營為熱病，當養陰以救陽也。邪已入營，故脈盛躁。邪熱傷陰，故不得汗。此陽盛陰竭，法當養陰增液以救陽，非針法所能治。故曰此陽脈之極也。死，其得汗而脈靜者。正勝邪卻，陰液未傷，營衛自和也，故生。</p>
<p>熱病不可刺者有九，一曰汗不出，大顴發赤，噦者死。二曰泄而腹滿甚者死。三曰目不明，熱不已者死。四曰老人嬰兒，衄而腹滿者死。五曰汗不出，嘔下血者死。六曰舌本爛，熱不已者死。七曰咳而衄，汗不出，出不至足者死。八曰髓熱者死。九曰熱而痙者死，腰折瘈瘲齒噤齘也。凡此九者，不可刺也。</p>
<p>此論熱病傷陰，非針法所能治，故不可刺者有九也。汗者，津液也。熱邪在衛，必汗解。不汗出，邪已入營矣。顴主骨，熱邪傷陰，陰竭，則熱邪入骨，故大顴發赤。噦者，裡氣不通也。陰津已竭，而裡氣復不通，熱邪不從外解矣，故死。泄者，津液下滲也，泄則腹中空，不當滿。腹滿者，陰津已竭，邪熱入里也。邪熱內結，裡氣不通，營衛不行，故死。目得血而能視，目不明，邪熱入營，陰已傷也。營血傷而熱猶不已，則陰精竭矣，故死，老人津液已枯，嬰兒津液未足，熱病傷陰，本非所宜。其腹未滿，則邪熱在陽，尚可取之諸陽，以瀉其熱，實其陰，以補其不足。至熱而腹滿，邪已入里，補之不能，瀉之不可，故曰死。汗不出，表邪未解，不當嘔下。嘔下血者，邪熱入營，血熱妄行，正不勝邪也，故死。脾病在舌本，腎脈夾舌本，舌本爛，邪熱入陰，經血已傷，熱仍不已，故死。咳，里病也。邪在氣分而咳者，可以外解，邪在血分而咳者，不能外解矣。衄，熱極傷絡也。血去熱清，咳當止，咳而衄者，血已傷而熱不已，邪氣勝也。汗不出，出不至足者，邪熱不從外解也，故死。髓者，人之陰精也。津液未傷，髓不能熱，髓熱者津液俱傷，邪熱深入骨髓也，故死。痙，津液病也。津液不足以養筋，則痙，熱邪傷陰，津液枯槁，故痙而死也。腰折者，角弓反張，太陽症也。瘈瘲者，抽搐不寧，厥陰症也。齒噤齘，陽明痙也。凡此九者，邪熱傷陰，法當滋陰，非針法所能治，故曰不可刺也。</p>
<p>《傷寒雜病論》曰：太陽病發熱，而渴不惡寒者，為溫病。若發汗已，身灼熱者，名曰風溫。</p>
<p>此論溫病，有冬傷於寒，至春變為溫病者。有冬令風傷陽明，發為風溫者。皆溫病也，不可不辨。論何以稱太陽病，太陽者，寒水之氣也。天之太陽寒水氣，來自北方為北風。地之太陽寒水，為終之氣，主冬。人之太陽寒水經氣，主表。冬令北風傷人之表，其寒氣伏於骨與肩背之膂筋，至春地氣上騰，人氣外發，寒變為溫，其病本冬傷於寒，故稱太陽病。渴，陽明裡症也。身熱不惡寒，陽明外症也。伏氣溫病，發於陽明，故發熱而渴不惡寒，此傷寒伏氣，變為溫病也。冬令有溫病，風熱外傷陽明也。何以稱太陽病，以地之太陽主冬，病發於冬，故稱太陽病。太陽中風，當以桂枝湯發太陽之汗，汗出風解，身熱即退，若風傷陽明，以桂枝湯發太陽之汗，則汗出不解，身反灼熱矣。何也？冬令人氣內藏，津液在裡，桂枝本為解肌，不能發汗，故以桂枝湯發太陽之汗，不但汗出已，身反灼熱矣。此病與中風不同，與伏氣溫病又不同，故名曰風溫。</p>
<p>謹按：是篇文法極精，後人不知研究，是以誤解，節中若字，各注家均直承上文溫病而言。故誤解風溫為溫病之變症，不思仲景何以不曰發汗已，身灼熱，為風溫，而必加以若字、者字，復加名曰等字耶。若字之義，當從外撇，撇去伏氣溫病，而後言客氣風溫也。不惡寒者，身灼熱者，兩者字對較，一為溫病，一曰傷寒，所以辨症也。伏氣溫病，本冬傷於寒，不必另立名，故篇中論伏氣溫病，皆曰傷寒，冬令風溫，與傷寒同時發病，而見症大不相同，必須另立其名，與傷寒對待。故前論傷寒曰：名曰傷寒。此論風溫曰：名曰風溫。後人不察，不明經旨，但求方藥，猶欲別開生面，以論溫病，脈症不辨，死生莫決，此吾國醫學，所以愈趨愈下也。</p>
<p>辨太陽病脈症篇曰：傷寒無大熱，口燥渴，心煩，背微惡寒者，白虎加人參湯主之。</p>
<p>此論伏氣溫病在裡化熱也。寒邪在表，當發熱惡寒，何以無大熱，以冬傷於寒，至春變為溫病也。伏氣溫病，本冬傷於寒，故曰傷寒。寒邪化溫，由里出表，溫邪在裡，故表無大熱，溫病發於陽明，陽明經氣化燥，燥氣化火，胃中干，故口燥渴。胃絡通心，胃中干，津液不足以養心，燥火入心，故心煩。寒邪化溫，其邪伏於骨與肩背之膂筋，由膂筋出走肌肉，化為溫病，其病在肩背膂筋之間者，尚未化溫，故背微惡寒。白虎湯為陽明溫病之主方，辛涼解肌，其寒不入膂筋。口燥渴心煩，為陽明溫邪化熱，熱傷陽明津液之見症，法當清熱救陰，故曰背微惡寒者，白虎加人參湯主之。</p>
<p><u>白虎加人參湯方</u></p>
<p>知母（六錢）　石膏（一兩六錢，碎綿裹）　炙甘草（二錢）　粳米（一合）　人參（二錢，或用黨參，或用西洋參均可，米熟湯成）</p>
<p>傷寒脈浮滑，此表有熱，里有寒，白虎湯主之。</p>
<p>此論伏氣溫病，邪已出衛化熱，為熱病也。冬令傷寒，寒邪在表，脈當浮緊，寒邪在表化熱，脈當浮數，邪傳陽明化熱，脈當數急，不能浮滑也。惟冬傷於寒，至春變為溫病，其邪由筋骨出衛，衛氣盛，則脈浮滑，故曰脈浮滑。少陰傷寒表無熱，此非少陰傷寒，寒邪已化熱出表，故曰表有熱。太陽傷寒里無寒，此非太陽傷寒，寒邪伏於筋骨之裡，故曰里有寒。白虎湯解肌肉間氣分之熱，其氣不入筋骨，故主之。</p>
<p>謹按：此節經義，在此字有字中，仲景文法，有正面，有對面，有反面，此字對面為彼字，有字反面為無字。仲景論傷寒病，有太陽傷寒，有少陰傷寒，有伏氣溫病。伏氣溫病，伏於骨與肩背之膂筋。此非太陽經，亦非少陰經。彼少陰傷寒表無熱，此表有熱，彼太陽傷寒里無寒，此里有寒。各注家不於此字有字中求精義，不明經旨。是以不知伏氣溫病，伏於何處，並不知少陰傷寒，與太陽傷寒之脈症如何，妄加議論。以表熱裡寒之症，與白虎湯不合，將寒字改作痰字，以誤後學，不思仲景何以不言表熱裡寒。本論云：表熱裡寒，四逆湯主之。毫釐千里，在有字中，注仲景書，而不論字義，妄改經文，此長沙之學，所以迄未發明也。</p>
<p><u>白虎湯方</u></p>
<p>石膏（一兩六錢，碎綿裹）　知母（六錢）　甘草（二錢）　粳米（一合）</p>
<p>傷寒病若吐若下後，七八日不解，熱結在裡，表裡俱熱，時時惡風，大渴，舌上乾燥而煩，欲飲水數升者，白虎加人參湯主之。</p>
<p>此論伏氣溫病已化熱也。伏氣溫病，本冬傷於寒，故稱傷寒。復由溫病化為熱病，故曰傷寒病。冬令傷寒，人氣內藏，若吐若下後，則衛氣內傷，寒邪必內陷於胃，溫病發於春，人氣外發，故邪不內陷。傷寒七八日，當傳經，溫病不傳經，故不解。溫病化熱，結於陽明肌肉之裡，由里出表，故表裡俱熱。中風惡風，邪在太陽為表實，溫病惡風，邪在陽明為表虛，中風風邪在太陽經穴，汗不出，即翕翕惡風，溫病無風邪，吐下傷氣，衛氣虛，故時時惡風，大渴，胃中干也。舌上乾燥而煩，欲飲水數升者，溫邪傷津，吐下復傷津，邪已化熱也。白虎解陽明之熱，加人參以補氣生津，故主之。</p>
<p>風溫為病，脈陰陽俱浮，自汗出，身重，多眠睡，息必鼾，語言難出。若被下者，小便不利，直視，失溲。若被火者，微發黃色，劇則如驚癇，時瘈瘲。若火熏之，一逆尚引日，再逆促命期。</p>
<p>此論冬令風溫之脈症也。冬令風邪在表，脈當浮。陰陽者，手之太陰，足之趺陽，兩部之脈也。風溫傷衛，肺主衛，故太陰脈浮，風溫傷陽明，趺陽診陽明，故趺陽脈浮，各注家均以尺寸解陰陽，不思仲景自序，何以言握手不及足。仲景嘗言寸口關上尺中，此何以不言尺寸而言陰陽耶。《難經》云：溫病之脈，不知何經之動也。當隨其經之所在而取之。風溫病在陽明，不當診之趺陽乎。自汗出，風邪傷陽明，經氣化燥也。身重，風邪在肌也。多眠睡，風熱入脾也。脾熱則嗜臥，故多眠睡。冬令人氣內藏，風邪開腠理，入肌肉，隨人之氣化入里，故有諸症。呼出心與肺，吸入肝與腎，呼吸之間，脾受穀氣也。風溫之邪在肌肉，睡則隨人之氣化。入脾出肺，而上衝於鼻，故吸必鼾。會厭者，聲音之門戶。風溫之邪，由脾肺上升，則會厭受邪。故誤言不便，聲音難出也。風邪在表不可下，被下者，被醫誤下之人也。仲景論風溫誤下，何以言被下之人，不曰若下之。而曰若被下者，以宗族之誤於醫也。仲景因漢時醫家，不知冬令有風溫，不可以治傷寒之法治之。其宗族多被醫誤，故曰被下者，者字對面，有未被下者。若被下者，若字之義從外撇，撇去上文發汗，言未發汗而被下者也。冬令風溫被下，人氣內藏，風熱隨氣化內陷，則水氣不化，故小便不利，風熱入里，內動肝風，故直視，溲，稀糞也。小便不利，津液即還入胃中，故失溲，溫邪在表不可灸，被火者，被醫誤灸之人也。少陰傷寒，有火灸之法，風溫不可灸。若被火者，言未被下而被火，又一誤治也。火氣有微甚，風火相搏，風邪在肌肉，火氣雖微，即發黃色於皮膚，肌色本黃，黃自里出，故曰發。火氣甚，則病劇，火邪隨風氣入里，傷肝及筋，內動肝氣，故如驚癇，風火傷筋，故時瘈瘲。若邪未入里，則皮膚被火，黃色轉黑，似火熏之矣。風溫為病當解外，不解外而下之為逆。風溫為病當清解，不清解而以火灸之，亦為逆，一逆則病期延長，再逆則命期短促，故曰一逆尚引日，再逆促命期。</p>
<p>謹按：風溫為病，《內》《難》二經，均未論及，惟仲景論之最詳。無如仲景之文，一字包含數十義，一語耐人數日思，後學識淺，每無研究之資格。是以王叔和誤解於前，各注家誤解於後，以訛傳訛，致令醫聖心傳，湮沒二千有年，不知誤人多少。</p>
<p>陽明病，脈浮而緊，咽燥口苦，腹滿而喘，發熱汗出不惡寒，反惡熱，身重。若發汗，則躁，心憒憒，反譫語。若加燒針，必怵惕，煩躁不得眠。若下之，則胃中空虛，客氣動膈，心中懊憹。舌上苔者，宜梔子豉湯主之。</p>
<p>此論春令風溫也。風邪入肌肉，陽明主肌肉，故稱陽明病，春令風氣通肝，風令脈浮。肝脈弦，緊者，弦之甚也。春令肝旺，復感風邪，故脈浮而緊，口苦咽乾，少陽見症也。燥者，干之甚，風溫化燥，故咽燥。風溫化火，故口苦。風邪入肝，肝火乘脾，當腹滿，不當喘而喘，陽明溫病也。春令津液外泄，風邪傷津，則胃中燥實，故腹滿。胃熱上衝肺，故腹滿而喘。發熱汗出，風溫見症也。不惡寒，反惡熱，陽明外症也。風溫與傷寒相反，故曰反惡熱，身重，風邪在肌也。春令人氣在頭，津液外泄，不可發汗。若誤以溫散之藥發其汗，汗傷津液，則躁，心中無津液，則神昏，故憒憒。胃中無津液，則燥屎內結，故譫語。心神欲去亦譫語，今心神未去，不當譫語而譫語，故曰反譫語，此燥屎譫語也。少陰傷寒當燒針。陽明溫病，不當燒針，若加燒針於少陰經上，則火氣通心，風邪入心必怵惕，風火傷少陰，心陽不得下交於腎，腎陰不能上濟君火，故煩躁不得眠也。風邪在表未入胃，不當下。若下之，則胃中空虛，人氣外發。風邪不入胃，而內動於膈，風邪者，客氣也。故曰客氣動膈，膈間有水氣，風溫之邪在膈中，則水氣生熱，上熏於心。故心中懊憹，外邪不解，汗不外泄，水氣上蒸，則舌上生苔。故曰舌上苔者，者字對面，為舌上無苔者。若舌上無苔，邪已入營，不宜梔豉。舌上苔者，風邪在衛，外未解也，此非梔子豉湯症，宜服梔子豉湯，故曰宜梔子豉湯主之。</p>
<p>若渴欲飲水，口乾舌燥者，白虎加人參湯主之。</p>
<p>此論春令風溫，邪已化熱，熱結在陽明肌肉中也。若字之義從外撇，撇去上文咽燥口苦而言，咽燥口苦，陽明症兼少陽也。少陽症未罷，風熱在裡，不可與白虎湯。若風溫化熱，邪在肌肉，汗出傷津，津欲竭而熱不解。則渴欲飲水。風熱在外，少陽症不見，則口不苦而口乾，咽不燥而舌燥。此津已傷而熱結在肌，當用白虎以解肌，加人參以生津。</p>
<p>若脈浮發熱，渴欲飲水，小便不利者，豬苓湯主之。</p>
<p>此論春令風溫，熱水內蘊，裡氣不通，溫邪不得外解也。用若字撇去上文脈浮而緊，言脈但浮而不緊，撇去汗出，而言發熱。撇去口乾舌燥，而言小便不利者，此風邪在外。故脈浮，外不解，故發熱，水氣不化，故渴欲飲水，小便不利也。此為熱水內蘊，溫邪不得外解，當用豬苓湯分利之。水氣化則腑氣通，人氣外泄，汗自出而溫邪外解矣。</p>
<p><u>豬苓湯方</u></p>
<p>豬苓　茯苓　澤瀉　滑石　阿膠（各錢半）</p>
<p>陽明病，汗出多而渴者，不可與豬苓湯。以汗多胃中燥，豬苓湯複利其小便故也。</p>
<p>此論夏令風溫，內夾暑澀，故汗出多也。汗出水氣化，汗出多則小便少，不可因渴欲飲水，而與豬苓湯。夏令人氣外發，風邪在陽明化熱，故汗多而渴。汗多傷津，胃中燥，風熱外泄不下行，小便必少，此非熱水內蘊故不可以豬苓湯複利其小便也。</p>
<p>陽明病，其人多汗，以津液外出，胃中燥，大便必硬，硬則譫語，小承氣湯主之。若一服譫語止，更莫復服。</p>
<p>此論夏令風溫，人氣外泄，故多汗。若溫邪輕而未化熱，則汗不多。其人汗多者，風溫已化熱也。汗出於胃，熱盛傷津，則胃中燥實，大便必硬，胃絡通心，大便硬，則胃中燥熱之氣入心，故譫語。此腑氣不通，溫邪不得外解。當以小承氣湯通其腑，腑氣一通，邪氣即從外泄，不宜過服。故曰若一服譫語止，更莫復服。</p>
<p><u>小承氣湯方</u></p>
<p>大黃（二錢）　炙枳實（八分）　炙厚朴（一錢）</p>
<p>汗出譫語者，以有燥屎在胃中，此為風也，須下之。過經，乃可下之。下之若早，語言必亂，以表虛里實故也。下之則愈，宜大承氣湯。</p>
<p>此論風溫之所以汗出譫語者。以有燥屎在胃中，不在腸中也。腸中有燥屎，雖十日不更衣，無所苦也。胃中有燥屎，必譫語，胃中何以有燥屎，以胃為燥土，風溫復化燥，津液外出，胃中燥實，即有燥屎，此為風溫化熱，故曰此為風也。燥屎當下，風溫之邪未入里，不當下，若溫邪化熱，熱入心胞，法當清營，非下法所能愈。惟不大便六七日，邪已過經，而汗出譫語，此為燥屎譫語，當下之。故曰須下之。過經，乃可下之。下之若早，則風邪內陷。秋冬人氣收藏，風邪內陷為協熱利，春夏人氣外泄，風邪內陷為熱入心胞，故語言必亂，不當下。惟裡氣不通，表邪不得外解者，當下之。下之後，表邪入里，為表虛里實，當審察其邪在心胞，在胃中。若邪已入胃，期已過經，當復下之，宜大承氣湯。此風溫再下之法也。</p>
<p><u>大承氣湯方</u></p>
<p>大黃（四錢，酒洗）　厚朴（八錢，炙）　枳實（錢半，炙）　芒硝（二錢）</p>
<p>三陽合病，腹滿身重，難以轉側，口不仁而面垢，譫語遺尿，發汗則譫語。下之則額上生汗，手足逆冷。若自汗出者，白虎湯主之。</p>
<p>此論秋令風溫，人氣內收，暑邪內伏也。三陽同受風邪，風與風合，故謂之合病。腹滿，病在陽明，身重，病在太陽，難以轉側，病在少陽，故曰三陽合病。秋令風涼，人氣內收，邪氣入里，故腹滿。暑熱內蘊，外感風邪，汗不得出，故身重。風傷衛，衛氣不行於周身，故難以轉側。風傷營，營氣不通則口不仁。營氣不營於面，風邪復化燥，則面垢。風邪外束，暑熱內蘊，暑氣通心，靜則多言，故譫語。譫語者，夢語也。夢語不醒，故遺尿，此病當汗解，不曰若發汗，而曰發汗則譫語，何也？以風邪當從外解，而不可以麻桂發其汗。燥金當令，暑熱在裡，胃中尤易化燥。故發汗則譫語，此燥屎譫語也。不曰若下之。而曰下之則額上生汗，手足逆冷。何也？以風邪在表，症見腹滿，裡氣不通，表邪不得外解，法當下。而又不可以大下，風氣上行，邪在陽明，陽明經上額，下之，則風氣逆經，額上生汗，此非脫汗。乃陽明經氣，被風熱上逆而生汗也。故不曰額汗出，而曰額上生汗。秋令人氣內收，下之則衛氣不達於四肢，故手足逆冷，此非少陰寒厥。乃風熱入里，人氣內收，經氣不得外達，是以手足逆冷也。若秋令風溫，未經汗下而自汗出者，伏暑外發，溫已化熱，熱在陽明肌肉之中，白虎湯症也，故曰白虎湯主之。</p>
<p>脈浮發熱，口乾能食者，必發衄。</p>
<p>此論風溫傷經，時當秋令，人氣內收，風邪化燥，燥傷經絡也。風令脈浮，故脈浮。熱在陽明經中，脈亦浮。本論云：脈但浮者，必盜汗出。又曰脈雖浮數者，可下之。皆論陽明經中有熱也。溫邪化熱，故發熱。熱在陽明經中，故口乾，陽明中風能食，中寒不能食。能食者，風邪入經也。陽明風溫陽氣盛，能食者穀氣多，胃陽復盛，穀氣入營，則陽氣重，故必衄也。可與承氣湯，論云不大便六七日，頭痛有熱者，與承氣湯。又曰頭痛者必衄，此陽明之裡有熱也，故與承氣湯。</p>
<p>陽明病，發熱汗多者，急下之，宜大承氣湯。</p>
<p>此論秋令溫邪入里已化熱也。溫邪在陽明，故稱陽明病。傷寒化熱，入陽明之裡，則潮熱譫語，其汗不多。溫邪入陽明之裡，則發熱汗多。溫邪傷陰，當急下之以存陰。故曰發熱汗多者，急下之，宜大承氣湯。</p>
<p>發汗不解，腹滿痛者，急下之，宜大承氣湯。</p>
<p>此承上文論溫病也。溫邪傷陰，不可發汗，故發汗不解。腹滿痛者，邪已入里燥結也。不下則陰竭，故曰急下之，宜大承氣湯。</p>
<p>腹滿不減，減不足言，當下之，宜大承氣湯。</p>
<p>此承上文論溫病已下不愈，當再下之也。上文言腹滿痛，此但言腹滿不減，而不言痛，則病已減矣。然腹滿不減，方藥不能減，雖痛已減去，而腹滿未除，不足言減。故曰當下之，宜大承氣湯。</p>
<p>大下後，六七日不大便，煩不解，腹滿痛者，此乃燥屎也。所以然者，本有宿食故也，宜大承氣湯。</p>
<p>此論溫病大下後，宿食未去，裡氣不通，溫邪不得外解也。冬令人氣內藏，大下後，寒邪入里，下傷衛陽，則下利不止。春令人氣外泄，大下後，溫邪不入里，下傷津液，故煩熱不解，傷寒煩熱，表未解也。溫病煩熱，里不通也。六七日飲食漸進，津液已回，當大便，煩當解。不大便，煩不解而腹滿痛者，此本有宿食，裡氣不通，溫邪不得外解也。必有燥屎在腹中，故曰腹滿痛者，此有燥屎也。何以知之？以煩不解，故知之。大下後，裡氣得通，溫邪當從臭汗出，不當煩。所以煩者，以有宿食未去，裡氣未通也。故曰所以然者，本有宿食故也。宜大承氣湯，不宜小承氣湯。</p>
<p>生氣通天論曰：因於暑，汗煩則喘喝，靜則多言，體若燔炭，汗出而散。</p>
<p>此論暑溫化為熱病也。人之衛陽，因受暑熱，暑熱之氣，內通於心。煩則其氣上越，故喘喝。靜則其氣入心，故多言。暑邪化熱，熱甚傷津，故體若燔炭。其邪由表入，當從表出，故汗出而散。此治暑之法，所謂暑當與汗皆出勿止也。</p>
<p>刺志篇曰：氣盛身寒，得之傷寒，氣虛身熱，得之傷暑。</p>
<p>此論夏令傷寒傷暑之別也。寒傷形，暑傷氣，夏令傷寒，毛竅閉塞，汗不得出，故氣盛身寒。若冬令傷寒，寒傷衛陽，則體痛嘔逆，不能氣盛，寒邪在表，當發熱惡寒，不能身寒也。暑邪傷氣，故氣虛，其邪由太陽入陽明，故身熱。</p>
<p>謹按：前人注此，但言寒暑之辨，而不知寒與寒尚有辨。冬令傷寒，與夏令傷寒，見症不同，治法各異，可不辨哉。</p>
<p>《金匱》云：太陽中暍者，熱是也。汗出惡寒。身熱而渴，白虎加人參湯主之。</p>
<p>此論夏令傷暑為熱病也。天氣熱曰暍，熱邪傷人，由表入里，故曰太陽中暍，此夏令傷熱也。熱傷氣，表氣虛，故汗出惡寒。其熱在肌肉，陽明所主，熱傷陽明，陽明經氣化燥，故身熱而渴。白虎解肌肉之熱，加人參以生津，故主之。</p>
<p>太陽中暍，身熱疼重，而脈微弱。此以夏月傷冷水，水行皮中所致也，一物瓜蒂湯主之。</p>
<p>此論夏月先中暍，後傷冷水也。熱由太陽入陽明，故身熱，復傷冷水。水行皮中，則營衛俱滯，營氣被阻，則身疼，衛氣被阻，則身重，太陽中暍，脈當數大，不當微弱，而脈微弱，何也？此以冷水在皮中，隨營衛氣行，營衛氣被阻，不能達於脈，致令脈微弱。故曰此以夏月傷冷水，水行皮中所致也。瓜蒂苦寒，能吐能下，去身面四肢水氣，水氣去，則熱解，故主之。</p>
<p><u>一物瓜蒂湯方</u></p>
<p>瓜蒂（二七個）</p>
<p>上銼以水一升，煮取五合，去渣頓服。</p>
<p>太陽中暍，發熱惡寒，身重而疼痛。其脈弦細芤遲，小便已，洒洒然毛聳，手足逆冷。小有勞，身即熱，口開，前板齒燥，若發其汗，則惡寒甚，加溫針，則發熱甚，數下之，則淋甚。</p>
<p>此承上文而言也。太陽中暍，當汗出惡寒，身熱而渴，不當發熱惡寒，身重而疼痛，發熱惡寒者，冷水在皮中也。衛氣被阻，故身重。營氣被阻，故身痛。寒痛曰痛，熱痛曰疼，傷暍復傷水，故疼痛。太陽中暍，脈當數大，今脈弦，弦則衛氣不行，衛氣傷，故脈弦。營氣傷，故脈細芤遲。營衛傷暍復傷水，故脈弦細芤遲。膀胱為太陽之府，太陽之氣從寒化，寒氣下行，則小便，太陽之氣，外達毫毛，小便已，太陽之氣，還行於皮毛，皮中有水氣，故洒洒然毛聳。冷水在皮中，營衛氣被阻，其氣不達於四肢，故手足逆冷。小有勞，則熱氣外泄，故身即熱。熱氣從口出，故口開。口開，則氣與津俱出，其津不及前板齒，故前板齒燥，宜瓜蒂湯，前已言之矣。冷水在皮中，發之不得出，若發汗，則太陽之氣，與皮中之水氣合，故惡寒甚，暍中太陽，加溫針，則熱益盛，故發熱甚。下之，則熱邪下注。數下之，則所中之暍，悉入下焦。下焦熱，則淋閉不通，故淋甚。</p>
<p>謹按：前人解此，不承上文，是以費解。</p>
<p>濕家之為病，一身盡疼，發熱，身色如熏黃也。</p>
<p>此論濕溫之邪，在肌中化熱，則發黃，梔子柏皮湯症也。濕熱在外，鬱於肌中，則生熱，營氣被阻，故一身盡疼，疼者痠痛也。此為熱痛，非寒痛也，濕熱鬱於肌中不得汗，故發熱，肌色本黃，濕熱不得從外解，則發黃。但黃無汗，故曰身色如熏黃也。</p>
<p>濕家，其人但頭汗出，背強，欲得被覆向火。若下之太早，則噦，或胸滿，小便不利，舌上如苔者，以丹田有熱，胸上有寒，渴欲得飲，而不能飲，則口燥煩也。</p>
<p>此論濕溫由寒濕化熱，濕熱可下，寒濕不可下也。濕之為病，其類不一，有寒有熱，有表有里，概而言之，故曰濕家。但頭汗出者，濕熱上升也。表氣不通，濕熱內蘊不得解，故其人但頭汗出，而身無汗也。濕熱不攘，大筋軟短，小筋弛長，故背強。濕為陰邪，濕邪在表未化熱，故欲得被覆向火，不曰不可下。而曰下之太早者，非不可下，須俟寒濕化熱，而後下之也。寒濕在表，尚未化熱。下之，則寒濕入胃，胃受寒即噦。若寒濕入胸，胸中之氣不行，則胸滿。表氣不通，裡氣不得運，則小便不利，豈非下之太早乎。濕邪在表，舌上本無苔，舌上如苔者，言舌上如有苔也。下後濕邪入里，水氣上騰，則舌上生苔。水氣在胸中，必丹田有熱，熱氣上蒸，而後化生舌苔也。故曰舌上如苔者，以丹田有熱，胸上有寒，丹田有熱，上升入胃，則渴欲飲水。胸上有寒，水氣不化，欲飲而不能飲，則口燥心煩。此寒濕在裡化熱也。</p>
<p>陽明病，發熱汗出，此為熱越，不能發黃也。但頭汗出，而身無汗，劑頸而還，小便不利，渴引水漿者，此為瘀熱在裡。身必發黃，茵陳蒿湯主之。</p>
<p>此論濕熱不得汗解，小便復不利，則瘀熱在裡，必發黃也。溫病發於陽明，故曰陽明病，陽明溫病在春夏，當發熱汗出，邪從汗解，不能發黃，此非秋令濕溫，故曰此為熱越，不能發黃也。秋令天氣清肅，人氣內收，暑熱內蘊，清涼外加，汗不易得。故但頭汗出，而身無汗，劑頸而還，若里無水氣，則小便自利，里無熱，則不渴，頭汗亦不出。小便不利，渴引水漿者，濕熱內蘊，渴欲得飲而不能飲也。此濕熱瘀在陽明之裡，故曰此為瘀熱在裡，濕鬱熱瘀必發黃。茵陳蒿湯，治濕熱在裡之黃，故主之。</p>
<p>《金匱》云：溫瘧者，其脈如平，身無寒，但熱，骨節煩疼，時嘔，白虎加桂枝湯主之。</p>
<p>此論寒邪伏於骨節，不發溫病而發溫瘧也。冬令寒邪入骨節，不在膂筋，故至春不發溫病，至夏邪在骨節發熱，故煩疼。其氣外舍於分肉之間，內通於心，以夏令人氣在胸，故病發於骨節。而邪氣聚於胸，其氣不達於脈，故其脈如平。寒在骨節已化熱，故身無寒但熱也。經云：心熱病者，善嘔，熱聚於胸，則胸中煩熱，故時嘔。此非少陽症之喜嘔，不可與小柴胡湯。其病以時發，其邪舍於分肉間，為太陰陽明兩經所主之處，故以白虎清陽明之邪，加桂枝以解太陰之邪。</p>
<p>謹按：溫瘧發於初夏，夏令人氣在胸，瘧發，則其氣入胸，當先其時，服白虎加桂枝湯，一劑知，二劑已。後人所擬五汁飲、竹葉石膏湯，皆不可用，何也？此症最忌麥冬，若誤用麥冬，引邪入心，病即加劇，發病時，邪熱入心，強者煩擾不堪，徹夜不寐，弱者危矣。</p>
<p><u>白皮加桂枝湯方</u></p>
<p>即白虎湯中加桂枝三錢。</p>
<p>伏氣溫病，身溫無汗，口微渴，心不煩，舌上苔薄者，銀花竹葉湯主之。</p>
<p><u>銀花竹葉湯</u></p>
<p>銀花（三錢）　竹葉（二錢）　豆豉（三錢）　薄荷（一錢）　杏泥（三錢）　桔梗（錢半）　甘草（八分）　葦根（三錢）</p>
<p>伏氣溫病，尺膚熱，寒已化熱為熱病，身熱心煩，汗出，脈洪大者，白虎湯主之。</p>
<p>伏氣溫病，溫邪入胸，心中懊憹，舌上胎者，梔子豉湯主之。</p>
<p>伏氣溫病，溫邪入心下，心下痞硬者，小陷胸湯主之。</p>
<p><u>小陷胸湯方</u></p>
<p>川連（一錢）　半夏（三錢）　栝蔞實（三錢）</p>
<p>伏氣溫病化熱，身熱汗出，不大便三四日，舌苔黃燥者，與承氣湯。</p>
<p>伏氣溫病化熱，誤發汗，口燥渴，心煩，熱不已者，白虎加人參湯主之。</p>
<p>伏氣溫病化熱十餘日，熱不甚，夜間發熱，熱退無汗者，青蒿鱉甲湯主之。</p>
<p><u>青蒿鱉甲湯方</u></p>
<p>青蒿（二錢）　鱉甲（五錢）　生地（四錢）　知母（二錢）　丹皮（三錢）</p>
<p>伏氣溫病已化熱，身熱不退，舌苔色赤，口不渴者，邪已入營，清營湯主之。</p>
<p><u>清營湯方</u></p>
<p>銀花（三錢）　麥冬（三錢）　生地（五錢）　犀角（二錢）　竹葉心（一錢）　連翹（二錢）　元參（三錢）　丹參（二錢）　川連（二錢半）</p>
<p>春令人氣外發，風從東南來，其風溫，人受之，即病溫，名曰風溫。其人發熱汗出不惡寒，反惡熱，身重，宜銀翹散加減。汗出熱不退，邪已化熱，身不重，脈洪大者，宜白虎湯。</p>
<p>春令風溫，肝火旺，風氣通肝，口苦咽乾，脈弦者，桑菊飲主之。</p>
<p><u>桑菊飲方</u></p>
<p>桑葉（二錢）　菊花（一錢）　連翹（錢半）　薄荷（錢半）　甘草（八分）　杏泥（二錢）　酒芩（一錢）　葦根（二錢）</p>
<p>春令風溫，咳嗽咽痛，身癢，舌上起紅刺，如楊梅刺，欲作風痧，桑杏消風湯主之。</p>
<p>此症名爛喉丹痧，不可治喉，痧出喉自愈。若誤用犀角、羚羊、芩、連等藥，則痧毒內攻，入里即死。若用溫散之品，痧出後，耳下腫大為痧毒，必膿出而後愈也，症頗危險。西醫誤以為猩紅熱，用冰冰之，即死。</p>
<p><u>桑杏消風湯方</u></p>
<p>桑葉（二錢）　薄荷（一錢）　杏泥（三錢）　前胡（錢半）　殭蠶（三錢）　蟬蛻（錢半）　甘草（八分）</p>
<p>春令風溫，風邪入胸，心中懊憹者，梔子豉湯主之。</p>
<p>春令風溫，渴欲飲水，小便不利者，豬苓湯主之。</p>
<p>春令風溫化熱，內動肝風痙厥者，羚羊角湯主之。</p>
<p><u>羚羊角湯方</u></p>
<p>羚羊角（一錢）　薄荷（一錢）　杏泥（二錢）　竹茹（三錢）　桑葉（錢半）　甘草（一錢）　杭菊花（三錢）</p>
<p>小兒傷風，內動肝火，猝然痙厥者，名急驚風，羚羊竹瀝薄荷鉤藤湯主之。</p>
<p><u>羚羊竹瀝薄荷鉤藤湯方</u></p>
<p>羚羊角（八分）　竹瀝水（一兩，加薑汁十滴沖）　薄荷（一錢）　鉤藤（二錢）</p>
<p>春令風溫，咳嗽脅痛者，桑杏羚羊湯主之。咳血者，咳，血湯主之。</p>
<p><u>桑杏羚羊湯方</u></p>
<p>桑葉（二錢）　川貝母（二錢）　前胡（錢半）　栝萎（錢半）　炙紫菀（八分）　杏泥（三錢）　羚羊角（八分）　青皮（七分）　甘草（一錢）　炙款冬（一錢半）</p>
<p><u>咳血湯方</u></p>
<p>杏泥（三錢）　前胡（錢半）　栝蔞霜（錢半）　甘草（一錢）　青黛（五分）　藕節（五枚）　川貝母（二錢）　童便（一盅，沖）</p>
<p>風邪傷肺，咳嗽不得臥，胸滿脅痛者，有瘀血也。桃杏二青竹茹歸芍湯主之。</p>
<p><u>桃杏二青竹茹歸芍湯方</u></p>
<p>桃仁泥（一錢）　杏泥（二錢）　焦枳實（七分）　制川樸（八分）　青黛（五分）　青皮（七分）　竹茹（三錢）　赤芍（一錢）　歸尾（八分）　前胡（一錢半）</p>
<p>夏令人氣發泄，津液出表，外感風寒不得出。則身熱無汗，舌苔白膩脈緩者，名暑溫，青蒿杏樸蔻苓湯主之。</p>
<p><u>青蒿杏樸蔻苓湯方</u></p>
<p>青蒿（錢半）　杏泥（三錢）　半夏（錢半）　淡豆豉（錢半）　茯苓（三錢）　川樸（一錢）　蔻殼（五分）</p>
<p>夏令外感風寒，身溫無汗，吐瀉交作者，藿香正氣散主之。</p>
<p><u>藿香正氣散方</u></p>
<p>藿香（一錢）　川樸（八分）　甘草（八分）　茯苓（二錢）　制夏曲（錢半）　薄荷（八分）　陳皮（一錢）　蘇梗（一錢）　白朮（八分）　建曲（錢半）　大腹皮（一錢）　豆豉（一錢半）</p>
<p>夏令發熱惡寒，身體痛，脈浮緊者，傷寒也，香薷飲主之。口渴欲嘔，舌尖赤者，加川連。</p>
<p><u>香薷飲方</u></p>
<p>香薷（八分）　川樸（一錢）　扁豆衣（三錢）</p>
<p>夏令外感風寒，頭痛咳嗽，發熱而嘔，胸滿脅痛，下午身熱，口苦而渴，有汗，小便利者，小柴胡去人參加杏仁湯主之。渴甚者，去半夏加天花粉。</p>
<p><u>小柴胡去人參加杏仁湯方</u></p>
<p>柴胡（二錢）　半夏（二錢）　甘草（八分）　紅棗（三枚去核）　生薑（八分）　酒芩（八分）　杏泥（三錢）</p>
<p>夏令外感寒邪，口苦而渴，舌苔黃，胸脅滿痛，嘔而發熱，小便利者，小柴胡湯去人參半夏加天花粉主之。小便不利者，青蒿滑石湯主之。</p>
<p>夏令外感風邪，口苦而渴，舌苔黃，胸脅滿，嘔而發熱，小便利，大便閉者，大柴胡湯主之。柴胡芒硝湯亦主之。小便不利者，不可與也。</p>
<p><u>大柴胡湯方</u></p>
<p>柴胡（二錢）　芍藥（八分）　大黃（錢半）　大棗（三枚）　半夏（二錢）　枳實（一錢）　酒芩（八分）　生薑（錢半）</p>
<p><u>柴胡加芒硝湯方</u></p>
<p>即小柴胡湯加芒硝</p>
<p>夏令外感風熱，身無熱而脈數者，痧也。宜刺宜刮，身熱汗出者，清暑飲主之。</p>
<p><u>清暑飲方</u></p>
<p>青蒿露（三錢，沖）　六一散（三錢，包）　荷葉邊（一圈）　西瓜翠衣（三錢）　綠豆皮（錢半）　銀花露（五錢，沖）　絲瓜皮（二錢）　淡竹葉（錢半）　白扁豆衣（錢半）</p>
<p>夏令暑溫，身熱汗多者，熱病也。白虎湯主之。身熱汗出，舌苔黃膩者，三石湯主之。</p>
<p><u>三石湯方</u></p>
<p>滑石（三錢）　寒水石（三錢）　竹茹（二錢）　銀花（三錢）　石膏（五錢）　白通草（二錢）　金汁（一杯，沖）　杏泥（三錢）</p>
<p>夏令暑溫，身熱汗出，不大便三四日，舌黃轉燥者，熱病也，宜承氣湯。暑溫舌白，嗇嗇惡寒，翕翕發熱，淅淅汗出，脈遲緩者，三仁湯主之。</p>
<p><u>三仁湯方</u></p>
<p>杏仁（五錢）　白蔻仁（二錢）　生苡仁（六錢）　竹葉（二錢）　半夏（五錢）　滑石（六錢）　通草（二錢）　川樸（二錢）</p>
<p>秋令暑熱內蘊，新涼外加，人氣內收，風邪入中，胸中滿悶者，三香湯主之。</p>
<p>栝蔞皮（三錢）　鬱金（二錢）　香豉（二錢）　降香末（三錢）　黑山梔（二錢）　枳殼（二錢）　苦桔梗（二錢）</p>
<p>秋令伏暑內蘊，泄瀉者，正氣散主之。腹痛者，加建曲、麥芽、山楂、雞內金、木香。嘔吐者，加左金丸六一散竹茹。舌苔白膩者，加蔻仁、砂仁、草果、蒼朮、建曲。舌苔黃膩者，加酒芩、滑石、竹葉、豬苓、白通草。口渴者，加竹葉心、荷葉邊、青蒿、蓮子心、連翹。</p>
<p><u>正氣散方</u></p>
<p>藿香（錢半）　川樸（錢半）　陳皮（錢半）　茯苓（三錢）</p>
<p>秋令伏暑下痢，赤多白少者，銀楂湯主之。後重者，加木香檳榔。身熱者，倍青蒿。腹痛者，加大黃。久痢毒甚者，加苦參子。久痢脾腎兩傷，脈沉遲者，桂附八味丸主之。</p>
<p><u>銀楂湯方</u></p>
<p>銀花炭（三錢）　南楂炭（三錢）　青蒿（錢半）　滑石（錢半）　赤砂糖（錢半）</p>
<p><u>桂附八味丸方</u></p>
<p>桂枝（一兩）　乾地黃（八兩）　丹皮（三兩）　茯苓（三兩）　附子（一枚）　山萸肉（四兩）　澤瀉（三兩）　山藥（四兩）</p>
<p>上八味末之。煉蜜丸，桐子大，酒下十五丸，日再服。</p>
<p>秋令暑瘧汗多者，青蒿滑石湯主之。但熱不寒者，白虎加桂枝湯主之。</p>
<p>秋令風瘧，寒輕熱重者，青皮飲主之。舌苔白膩者，加草果。痰多者，加酒炒常山，去甘草。小兒患瘧，日久不愈者，加炙坎炁末三條。</p>
<p><u>青皮飲方</u></p>
<p>青皮（八分）　川樸（一錢）　北柴胡（錢半）　酒芩（一錢）　白朮（三分）　甘草（八分）　茯苓（二錢）　姜半夏（錢半）　生薑（三片）</p>
<p>秋令濕溫，暑熱內蘊，身熱有汗，舌苔黃膩，小便不利者，黃芩滑石湯主之。舌苔黃膩咽痛者，銀翹馬勃射干牛蒡湯主之。</p>
<p><u>黃芩滑石湯方</u></p>
<p>酒芩（三錢）　滑石（三錢）　茯苓皮（三錢）　大腹皮（二錢）　豬苓（三錢）　通草（一錢）　焦建曲（二錢）　淡竹葉（三錢）</p>
<p><u>銀翹馬勃射干牛蒡湯方</u></p>
<p>銀花（五錢）　連翹（一兩）　馬勃（二錢）　射干（三錢）　牛蒡子（六錢）</p>
<p>秋令風溫，發熱無汗者，銀翹散主之。</p>
<p><u>銀翹散方</u></p>
<p>銀花（三錢）　薄荷（錢半）　竹葉（錢半）　淡豆豉（錢半）　芥穗（八分）　連翹（二錢）　桔梗（錢半）　甘草（八分）　牛蒡子（錢半）　葦根（三錢）</p>
<p>有汗去芥穗加蟬蛻一錢，殭蠶二錢。</p>
<p>秋令風溫，暑熱內蘊，身熱汗多，欲發紅疹者，熱病也，化疹湯主之。發斑者化斑湯主之。</p>
<p><u>化疹湯方</u></p>
<p>大青葉（三錢）　元參（四錢）　薄荷（錢半）　牛蒡子（錢半）　葦根（三錢）　細生地（四錢）　銀花（三錢）　甘草（八分）　苦桔梗（錢半）　牡丹皮（二錢）　連翹（二錢）　竹葉（錢半）　荊芥穗（八分）</p>
<p><u>化斑湯方</u></p>
<p>石膏（一兩）　知母（四錢）　甘草（三錢）　粳米（一合）　元參（三錢）　犀角（二錢）</p>
<p>秋令風溫，身熱汗多者，欲發白疹，薏苡竹葉散主之。</p>
<p><u>薏苡竹葉散方</u></p>
<p>薏苡（五錢）　白蔻仁（錢半）　滑石（五錢）　白通草（錢半）　竹葉（二錢）　茯苓塊（五錢）　連翹（三錢）</p>
<p>秋令風溫，舌苔黃膩者，邪在衛，清衛湯主之。舌赤無苔者，邪已入營也，清營湯主之。</p>
<p><u>清營湯方</u></p>
<p>青蒿（三錢）　滑石（三錢）　杏泥（二錢）　甘草（八分）　通草（八分）　銀花露（五錢沖）　石膏（三錢）　知母（二錢）　川樸（一錢）　建曲（二錢）　扁豆衣（錢半）　荷葉邊（一圈）</p>
<p>秋令風溫，舌赤脈數，邪入心胞譫語者，熱病也，清宮湯主之。舌苔焦燥譫語者，宜大承氣湯。舌苔黃膩譫語者，芳香化濁，紫雪丹主之，牛黃丸亦主之。</p>
<p><u>清宮湯方</u></p>
<p>元參（三錢）　連翹心（二錢）　犀角尖（二錢，磨沖）　竹葉心（二錢）　麥冬（三錢，連心）　蓮子心（五分）</p>
<p><u>紫雪丹方</u></p>
<p>磁石（二斤）　滑石　石膏　寒水石（各一斤）</p>
<p>上四味並搗，水煎去渣，入後藥。</p>
<p>羚羊角（五兩）　沉香（五兩）　犀角（五兩）　丁香（一兩）　炙甘草（八兩）　木香（五兩）　升麻（一斤）　元參（一斤）</p>
<p>上八味並搗銼入煎藥汁中，煎去渣，入後藥。</p>
<p>朴硝　硝石（各二斤）　提淨入前藥汁中，微火煎，不住手將柳木攪，候汁欲凝，再加入後二味。</p>
<p>辰砂（三兩，研細）　麝香（一兩二錢，研細）</p>
<p>入前藥拌勻合成，退火氣，冷水調服，每一二錢。</p>
<p><u>安宮牛黃丸方</u></p>
<p>牛黃（一兩）　鬱金（一兩）　犀角（一兩）　川連（一兩）　辰砂（一兩）　山梔（一兩）　酒芩（一兩）　雄黃（一兩）　真珠（五錢）　冰片（二錢半）　麝香（二錢半）</p>
<p>上為極細末，煉老蜜為丸，每丸一錢，金箔為衣，蠟護。脈虛者，人參湯下，脈實者，銀花薄荷湯下，每服一丸。兼治飛屍卒厥五癇中惡，大人小兒痙厥之因於熱者。大人病重體實者，日再服，甚至日三服。小兒服半丸，不知，再服半丸。</p>
<p>秋溫不大便五六日，舌苔焦燥者，熱病也，大承氣湯主之。秋溫化熱十餘日，邪入厥陰，唇焦齒燥，耳聾，舌根焦黑，手指蠕動欲痙者，三甲復脈湯主之。</p>
<p><u>三甲復脈湯方</u></p>
<p>生龜板（一兩）　生牡蠣（五錢）　乾地黃（二兩）　大麥冬（五錢）　麻仁（三錢）　生鱉甲（八錢）　炙甘草（六錢）　生白芍（六錢）　真阿膠（三錢）</p>
<p>秋溫，溫邪下陷為熱利，下重者，白頭翁湯主之。</p>
<p><u>白頭翁湯方</u></p>
<p>白頭翁（二錢）　秦皮　黃柏　川連（各三錢）</p>
<p>秋令外感風寒，咳嗽者，杏蘇散主之。咳吐稀痰不得臥，臥即咳嗽者，痰飲犯肺也。二陳加蘇子葶藶湯主之。</p>
<p><u>杏蘇散方</u></p>
<p>蘇葉（一錢）　前胡（錢半）　陳皮（一錢）　枳殼（五分）　大棗（二枚）　甘草（一錢）　杏泥（三錢）　半夏（二錢）　生薑（二錢）　苦梗（八分）　茯苓（二錢）</p>
<p><u>二陳加蘇子葶藶湯方</u></p>
<p>半夏（三錢）　廣皮（錢半）　茯苓（三錢）　甘草（五分）　炒蘇子（五分）　葶藶（八分）</p>
<p>久咳傷肺，咳吐白沫，脈虛數，一息八九至者，肺痿也。清燥湯主之。</p>
<p><u>清燥湯方</u></p>
<p>石膏（五錢）　杏泥（錢半）　阿膠（三錢）　枇杷葉（二錢）　桑葉（二錢）　麥冬（三錢）　甘草（二錢）</p>
<p>秋溫下陷，泄瀉不止，欲作痢者，葛根黃芩黃連湯主之。</p>
<p><u>葛根黃芩黃連湯方</u></p>
<p>葛根（四錢）　黃芩（錢半）　黃連（錢半）　甘草（一錢）</p>
<p>小兒溫病，神昏欲眠者，菖蒲竹葉薄荷銀翹湯主之。</p>
<p><u>菖蒲竹葉薄荷銀翹湯方</u></p>
<p>石菖蒲（一錢）　竹葉（一錢）　薄荷（一錢）　甘草（八分）　銀花（二錢）　連翹（一錢）</p>
<p>小兒久痢不止，胡桃散主之。</p>
<p><u>胡桃散方</u></p>
<p>胡桃仁（二枚，燒黑研）　砂糖湯下</p>
<p>風瘧轉痢者，小柴胡去人參湯主之。</p>
<p>婦女溫病，經水適來，往來寒熱譫語者，小柴胡去人參湯主之。</p>
<p>婦女溫病，經水適斷，發熱有時者，有瘀血也，抵當湯主之。</p>
<p><u>抵當湯方</u></p>
<p>水蛭（五個）　虻蟲（五個）　桃仁（五枚）　大黃（五錢）</p>
<p>產後溫病，宜柴胡飲子。</p>
<p><u>柴胡飲子方</u></p>
<p>柴胡（錢半）　酒芩（一錢）　防風（八分）　甘草（八分）　白芍（錢半）　黑荊芥（六分）</p>
<p>產後溫病下痢，加味白頭翁湯主之。</p>
<p><u>加味白頭翁湯方</u></p>
<p>白頭翁（二錢）　秦皮（二錢）　黃柏（二錢）　川連（二錢）　甘草（二錢）　阿膠（二錢）</p>
<p>冬令天氣溫和，南風至，陽不潛藏，民病風溫，其症發熱汗出不惡風，身重，脈浮者，白虎加桂枝湯主之。</p>
<p>冬令風溫，汗出而喘，身無大熱者，麻杏石甘湯主之。若汗出而喘，身有大熱者，白虎湯主之。</p>
<p><u>麻杏石甘湯方</u></p>
<p>麻黃（一錢）　杏仁（三錢）　石膏（八錢）　甘草（二錢）</p>
<p>風溫內陷，心下硬痛者，小陷胸加芩枳湯主之。</p>
<p><u>小陷胸加芩枳湯方</u></p>
<p>栝蔞實（三錢）　半夏（三錢）　川連（一錢）　酒芩（八分）　枳實（八分）</p>
<p>溫邪下陷協熱下利者，葛根黃芩黃連湯主之。</p>
<p>溫邪下陷，尿血者，小薊飲子主之。</p>
<p><u>小薊飲子方</u></p>
<p>小薊（三錢）　藕節（十枚）　木通（一錢）　竹葉（一錢）　甘草（一錢）　滑石（三錢）　蒲黃（一錢）　生地（六錢）　山梔（一錢）</p>
<p>溫邪下陷，大便下血者，槐花散主之。</p>
<p><u>槐花散方</u></p>
<p>槐花（一錢）　側柏葉（三錢）　黑荊芥（八分）　枳殼（八分）　粳米（一杯，先煮去渣，後入前藥）</p>
<p>熱病篇：帝曰：熱病已愈，時有所遺者。何也。岐伯曰：諸遺者，熱甚而強食之，故有所遺也。若此者，皆病已衰，而有所藏。因其穀氣相搏，兩熱相合，故有所遺也。帝曰：治遺奈何？岐伯曰：視其虛實，調其逆從，可使必已也。帝曰：病熱當何禁之？岐伯曰：病熱少愈，食肉則復，多食則遺，此其禁也。</p>
<p>此論肉食能助邪熱也。肉味濃厚而氣熱，邪熱遇之。留於腸胃，熱即不退，此無論傷寒化熱，溫病化熱，凡熱邪未淨，皆不可以肉食也。肉食必復，若熱發時，強食米穀，熱亦不退，故曰：此其禁也。治食復者，須視其病之虛實而調之。</p>
<p>刺法論：帝曰：余聞五疫之至，皆相染易，無問大小，病相似，不施救療，如何可得不相移易者？岐伯曰：不相染者，正氣存內，邪不可干。</p>
<p>此論溫疫有五，本天地陰陽五運之氣化而生，隨人身五臟六腑之脈症而別。預治之法，莫善於針刺。後人不問病源，不辨脈症，不言治疫，而言防疫，致令病人不死於疫而死於防，清夜自思，良心安在？夫病生於內，而五疫始染。故岐伯曰：正氣內存，邪不可干。此上工治未病，當求之於內也。</p>
<p>老子曰：大兵之後，必有凶年，凶年之後，必有瘟疫。</p>
<p>此論溫疫之原因，由於內傷七情，飢飽勞碌，復傷脾胃也。李東垣遇荒年之後，民多飢餓，脾胃受傷，故東垣治法，首重脾胃，治疫之法也。</p>
<p>瘟疫者，地氣也。其氣由口鼻直入脾胃，脾受邪，則舌苔白膩，大便閉，小便不利者，宜達原飲。胃受邪，則肌膚髮赤，咽喉痛，口吐鮮血者，白虎加犀角升麻湯主之。</p>
<p><u>達原飲方</u></p>
<p>檳榔（二錢）　知母（一錢）　酒芩（一錢）　草果仁（五分）　川樸（一錢）　芍藥（一錢）　甘草（五分）</p>
<p><u>白虎加犀角升麻湯方</u></p>
<p>即於白虎湯方中加入犀角一錢，升麻五分，鮮生地六錢，黑元參三錢。</p>
<p>瘟疫病發於春，咽喉痛，吐鮮血，手足起紅點者，瘟痧也。西醫名猩紅熱，銀翹敗毒湯主之。咽喉痛，身發赤斑者，玉女煎主之。</p>
<p>此係冬令受火毒，火者，地之陽氣也。地以陽殺，故病瘟。</p>
<p><u>銀翹敗毒湯方</u></p>
<p>銀花（三錢）　馬勃（錢半）　葛根（二錢）　牛蒡子（錢半）　蟬蛻（一錢）　連翹（二錢）　石膏（五錢）　殭蠶（二錢）　板藍根（錢半）</p>
<p><u>玉女煎方</u></p>
<p>知母（三錢）　生地（六錢）　元參（四錢）　石膏（一兩）　犀角（一錢）　甘草（二錢）</p>
<p>瘟疫病發於夏秋之間，上吐下泄不止者，霍亂也。西醫名廓列啦，東醫名虎列啦。當刺委中、尺澤出血。嘔吐不止者，刺舌下出血，後服除瘟化疫湯，忌菸酒茶姜。若誤服生薑，少則病復，多者不救。</p>
<p>長夏地氣升騰，人受地氣之濕熱，故有此病。</p>
<p><u>除瘟化疫湯方</u></p>
<p>藿香（錢半）　陳皮（錢半）　沉香（三分）　建曲（二錢）　蒼朮（五分）　川樸（一錢）　茯苓（三錢）　鬱金（錢半）　川連（錢半）　雄黃（五分）</p>
<p>瘟疫病發於冬，身熱惡寒體痛嘔逆者，傷寒也。東醫名腸窒扶斯，麻黃湯主之。</p>
<p>此天氣病也。西醫誤以為疫。</p>
<p><u>麻黃湯方</u></p>
<p>麻黃（二錢）　桂枝（錢半）　杏仁（三錢）　甘草（錢半）</p>
<p>大頭瘟病，頭上赤腫，漸及面耳目俱腫赤，消毒飲主之，甚者宜砭。</p>
<p>春夏地氣上升，人受地氣之熱，濁氣上乘，故有此病。</p>
<p><u>消毒飲方</u></p>
<p>元參（二錢）　連翹（二錢）　酒芩（錢半）　柴胡（八分）　牛蒡子（錢半）　甘草（一錢）　升麻（五分）　川連（一錢）　苦桔梗（錢半）　板藍根（二錢）　馬勃（錢半）　殭蠶（二錢）　薄荷（一錢）</p>
<p>瘟疫時行，頭暈目赤，衄血吐血，胯腋之間起核者，鼠疫也。東醫名腺百斯篤。鼠疫方主之。</p>
<p>地氣上騰，鼠先受病，故名鼠疫。</p>
<p><u>鼠疫方</u></p>
<p>連翹（三錢）　柴胡（二錢）　葛根（二錢）　生地（五錢）　當歸（錢半）　桃仁（八錢，去皮尖，杵）　赤芍（三錢）　紅花（五錢）　甘草（二錢）　川樸（一錢）</p>
<p><u>避疫丸</u></p>
<p>赤小豆　鬼箭羽　鬼臼　雄黃</p>
<p>上四味等分，研細篩，蜜丸如小豆大，瓷瓶收貯，每服一丸。可與病人同床，不致傳染。</p>

<h1>治驗</h1>
<p>直隸樂亭，劉復青之母，久患咳嗽，以千金延予往診。予視其咳吐膿血不得臥，右寸數大，予曰此肺癰也。予擬犀黃湯。服後，膿血漸止，隨症加減十餘劑，飲食漸進，夜已安臥，惟咳嗽未除。予即返津，因作咳嗽治法於下。</p>
<p>咳嗽有五邪，五邪者，寒熱燥濕風是也。寒咳嗽者，冬令傷寒，寒邪入肺，咳而喘，麻黃湯主之。熱咳嗽者，面色赤，咳嗆氣逆，瀉白散主之。燥咳嗽者，咳吐白沫，清燥湯主之。濕咳嗽者，痰飲內聚，有寒有熱，寒飲咳者，二陳湯主之。熱食咳者，杏仁石膏防己湯主之。風咳嗽者，喉中癢咳吐黃痰，桑杏湯主之。咳嗽分四時，春咳嗽者，風氣通肝，人氣上升，法當清解，加減桑菊飲主之。夏咳嗽者，火氣炎上，人氣外泄，法當苦降，杏樸芩連湯主之。秋咳嗽者，人氣內收，清氣入肺，法當疏解，杏蘇散主之。冬咳嗽者，人氣內藏，寒邪入肺，法當溫散，麻黃湯主之。外邪已解，五更咳嗽者，胃中有積食，宜消食降火，曲麥山楂地骨知母湯主之。外邪已解，黃昏咳嗽者，火氣入肺也，不宜涼藥，當斂而降之，二五飲主之。午前咳嗽者，胃中有火，宜石膏二母湯。午後咳嗽者屬陰虛，宜知柏四物湯，咳嗽氣逆，連咳十餘聲，咳至不能轉吸者，名頓嗆，二冬膏主之。咳而喘，不得臥，喉中有水雞聲，射干麻黃湯主之。胸痹者，加栝蔞。喘家咳，作定喘湯主之。外感風寒，內有寒飲喘咳者，小青龍湯主之。肺虛咳嗽者，阿膠甘草梨膏湯主之。肺冷咳嗽者，乾薑五味甘草湯主之。咳嗽吐血者，咳血方主之。久咳面浮肢腫者，熱飲外溢也，桑皮杏仁飲主之。</p>
<p><u>犀角湯方</u></p>
<p>犀黃（一分，沖）　青黛（五分）　前胡（錢半）　杏泥（錢半）　甘草（一錢）　竹瀝水（三錢，沖）　蔞皮（錢半）　桔梗（一錢）　川貝母（三錢）</p>
<p><u>二陳湯方</u></p>
<p>半夏（三錢）　陳皮（錢半）　茯苓（三錢）　甘草（一錢）</p>
<p><u>杏仁石膏防己湯方</u></p>
<p>杏仁（二錢）　石膏（三錢）　木防己（一錢）　雲苓（三錢）</p>
<p><u>加減桑菊飲方</u></p>
<p>桑葉（錢半）　前胡（錢半）　甘草（一錢）　川貝母（二錢）　杏泥（三錢）　款冬（錢半）　菊花（錢半）　陳皮（一錢）　紫苑（八分）　焦枳殼（六分）　竹茹（二錢）</p>
<p><u>杏樸芩連湯方</u></p>
<p>杏泥（三錢）　川貝（三錢）　川樸（一錢）　栝蔞（錢半）　黃芩（一錢）　梨汁（一杯）　川連（一錢）　冰糖（二錢）</p>
<p><u>曲麥山楂地骨知母湯方</u></p>
<p>神麯（二錢）　山楂（二錢）　麥芽（三錢）　知母（三錢）　地骨皮（三錢）</p>
<p><u>二五飲方</u></p>
<p>五味子（三十粒）　五倍子（一錢）</p>
<p><u>石膏二母湯方</u></p>
<p>石膏（三錢）　川貝（二錢）　知母（二錢）　甘草（一錢）</p>
<p><u>知柏四物湯方</u></p>
<p>知母（二錢）　黃柏（錢半）　當歸（一錢）　川芎（六分）　白芍（二錢）　乾地黃（三錢）</p>
<p><u>二冬膏方</u></p>
<p>天門冬　麥門冬　二味熬膏每服一兩</p>
<p><u>射干麻黃湯方</u></p>
<p>射干（一錢）　半夏（三錢）　生薑（三片）　紫苑（八分）　款冬（錢半）　五味子（十粒）　麻黃（八分）　細辛（一分）　大棗（四枚）</p>
<p><u>定喘湯方</u></p>
<p>白果（三錢）　款冬（錢半）　甘草（一錢）　黃芩（八分）　杏泥（三錢）　桑白皮（一錢）　麻黃（一錢）　蘇子（七分）　半夏（三錢）</p>
<p><u>小青龍湯方</u></p>
<p>桂枝（錢半）　乾薑（錢半）　甘草（錢半）　細辛（五分）　半夏（三錢）　五味子（百粒）　麻黃（錢半）　白芍（錢半）</p>
<p><u>阿膠甘草梨膏湯方</u></p>
<p>阿膠（三錢）　甘草（三錢，炙）　梨膏（五錢，沖）</p>
<p><u>乾薑五味甘草湯方</u></p>
<p>乾薑（八分）　炙草（二錢）　五味子（三十粒）</p>
<p><u>桑皮杏仁飲方</u></p>
<p>桑皮（一錢）　杏泥（三錢）　五茄皮（一錢）　車前子（一錢）　大腹皮（一錢）　陳皮（一錢）　茯苓皮（錢半）　地骨皮（錢半）</p>
<p>山東舊軍，孟養軒之子患痢，以千金延予往診。予視其痢色，忽黃忽綠忽黑，日夜十餘次。余曰：此五色痢也。為擬扶土瀉木湯，合銀楂湯加減十餘劑，痢始愈，飲食漸進。惟痢後脾虛，大便尚溏。適予患泄瀉，不能久留，為定上方返津，因作痢疾治法於下。</p>
<p>痢有五色，各有病源，當分治之。痢色赤，或先白後赤，或赤多白少者，熱痢也。經云：腸中熱，便腸垢，即此症也，銀楂芩連湯主之。痢色黃者，協熱痢也，經云出黃如糜，即此症也，葛根黃芩黃連湯主之。痢色綠者，膽汁入胃，木火乘土，治當扶土抑木，陳苓朮芍甘連湯主之。痢色純白者，寒濕下痢也，姜苓朮草湯主之，理中湯亦主之。脈沉遲者，加附子。痢色純黑如漆者，下瘀血也，銀楂薑桂大黃湯主之。所謂痢者，滯下膠黏，似痰非痰，裡急後重，日數十次者，是也。若下鮮血者，為腸風下血，非痢也，槐花散主之。噤口痢，飲食即吐，不食亦嘔者，膽火上乘也，銀楂芩連湯主之。虛者，胃中冷，腸中熱，不治。下痢身無熱而脈數者。熱在經中，須針刺之。腰腿痠痛者，刺委中出血。下血後重者，氣虛也，獨參湯主之，黃耆阿膠湯亦主之。</p>
<p><u>扶土瀉木合銀楂湯方</u></p>
<p>川連（錢半）　銀花炭（二錢）　赤砂糖（錢半）　陳皮（八分）　竹茹（錢半）　甘草（八分）　南楂炭（二錢）　焦建曲（錢半）　茯苓（錢半）　枳實（五分）</p>
<p><u>銀楂芩連湯方</u></p>
<p>銀花炭　南楂炭（各三錢）　青蒿　川連　酒芩　赤砂糖（各錢半）</p>
<p><u>陳苓朮芍甘連湯方</u></p>
<p>陳皮（一錢）　茯苓（二錢）　白朮（八分）　白芍（八分）　甘草（一錢）　川連（一錢）</p>
<p><u>姜苓朮草湯方</u></p>
<p>生薑（三錢）　茯苓（三錢）　白朮（二錢）　甘草（八分）</p>
<p><u>理中湯方</u></p>
<p>人參（三錢）　甘草（一錢）　白朮（錢半）　乾薑（五分）</p>
<p><u>銀楂薑桂大黃湯方</u></p>
<p>銀花炭　南楂炭　赤砂糖（各三錢）　大黃（一錢）　肉桂　炮姜（各二分）</p>
<p><u>獨參湯方</u></p>
<p>人參（三錢）</p>
<p><u>黃耆阿膠湯方</u></p>
<p>黃耆（六錢）　阿膠（三錢）　炙甘草（一錢）　黨參（五錢）　陳皮（一錢）</p>
<p>黎黃陂，因琴師患風濕病。公府醫官，治之無效，邀予往診。予診其脈浮而數，身痛，予曰此風濕已化熱也。隨帶小兒少卿，為擬祛風利濕清熱之品，數劑而愈。其夫人危氏，有肝氣病，久未生育，因帶診。予診其尺部略澀，知胞中有瘀，宜梅花結子丹。因初診，未立丸方，為擬調氣和肝之品。嗣後危夫人，親至敝寓，適予出診未遇，由小兒代開丸方，未用梅花，因作肝氣論治法於下。</p>
<p>肝氣病者，人之本氣病也。有因怒傷肝者，名怒狂。有血熱肝旺者，有脾寒肝旺者，名肝火。有因抑鬱思慮傷肝及脾者，名肝鬱。有因風邪入里，內動肝火者，名肝風。有血虛不足以養肝，致動肝風者，為虛風。有痰多氣滯，肝氣不得疏泄者，為痰火。大怒傷肝，血隨氣升，血菀於上，則發狂。《內經》用鐵落飲，不愈，宜遂心丹。血熱肝旺者，宜溫膽湯加左金丸，婦人宜三黃四物湯。脾寒肝旺者，宜香附烏藥散。抑鬱思虛傷肝及脾者，宜舒氣扶脾丸。風邪動肝，宜桑菊飲。血虛不足養肝，致動肝風者，洋參竹茹湯主之，阿膠鱉甲湯亦主之。痰多肝旺者，清氣化痰湯主之。肝氣傷衛，上為噎膈，下為失氣，噎膈者，代赭旋覆湯主之。肝氣傷營，上為蓄血，下為經閉，蓄血病癲者，失笑散主之。經閉腹痛者，枳實芍藥散主之。</p>
<p><u>鐵落飲方</u></p>
<p>鐵落（四兩，即打鐵時落下之碎鐵）　水煎服</p>
<p><u>遂心丹方</u></p>
<p>甘遂（一錢，研）　辰砂（一錢）　豬心管內血（三條）</p>
<p>上方取豬心管血三條，和甘遂末一錢。將豬心批作二邊。內甘遂末用線縛好，外用皮紙裹，慢火煨熟，不可焦，取末細研。入硃砂一錢，和勻分作四丸，每服一丸。將豬心煎湯化下，大便下惡物為度。</p>
<p><u>溫膽湯加左金丸方</u></p>
<p>焦枳實（八分）　姜竹茹（三錢）　左金丸（八分）　茯苓（錢半）　姜半夏（錢半）　陳皮（錢半）　甘草（八分）</p>
<p><u>三黃四物湯方</u></p>
<p>酒芩（五分）　川連（五分）　川芎（五分）　當歸（一錢）　白芍（一錢）　生地（二錢）　黃柏（五分）</p>
<p><u>香附烏藥散方</u></p>
<p>制香附（錢半）　綠萼梅（八分）　陳皮（八分）　青皮（五分）　烏藥（八分）　左金丸（一錢）　焦枳實（七分）　甘草（八分）　白芍（一錢）</p>
<p><u>舒氣扶脾丸方</u></p>
<p>綠萼梅（八分）　代代花（一錢）　薄荷（八分）　雲苓（一錢）　焦枳實（五分）　制香附（錢半）　甘草（八分）　青皮（五分）　炒麥芽（錢半）　姜半夏（一錢）　廣皮（一錢）　白芍（錢半）　山藥（一錢）</p>
<p><u>洋參竹茹湯方</u></p>
<p>西洋參（一錢）　竹茹（三錢）</p>
<p><u>阿膠鱉甲湯方</u></p>
<p>生鱉甲（五錢）　阿膠（一錢）　白芍（一錢）　炙草（一錢）　小草（八分）　淡菜（二枚）　西洋參（一錢）</p>
<p><u>清氣化痰湯方</u></p>
<p>制膽星（八分）　焦枳實（七分）　栝蔞霜（錢半）　酒芩（一錢）　茯苓（二錢）　法半夏（錢半）　焦建曲（錢半）　廣皮（一錢）　粉甘草（八分）</p>
<p><u>代赭旋覆湯方</u></p>
<p>代赭石（一錢）　黨參（一錢）　炙草（八分）　半夏（二錢）　旋覆花（錢半包）　大棗（二枚）　生薑（二片）</p>
<p><u>失笑散方</u></p>
<p>五靈脂　蒲黃（各八分）</p>
<p><u>枳實芍藥散方</u></p>
<p>焦枳實（一錢半）　白芍（三錢）</p>
<p>李伯芝之母，患筋痹身痛，西醫治之無效，疼痛加劇，側臥不能動。延予往，予以羚羊角散，一服而愈。劉履貞之侄，患肝氣乘脾，脅痛便溏，西醫治之無效。延予往，予為擬抑木扶土湯，連服四劑，即愈。穆文藻患頭目疼痛，入醫院包治，西醫以冰冰之，頭痛益劇，口吐白沫，手足冷過肘膝，於是抬回穆莊，延予往診。當時中醫往診者，皆曰此真頭痛，不治之症也。予察其脈遲細，痛在腦後，即以頭風摩散摩腦後，痛稍減。後服麻黃附子細辛湯，頭痛即止。楊少農之如夫人，患噤口痢，中西醫均言不治。延予往診，問予曰：此病能愈乎？予應之曰：能。又問曰：幾服能愈？予應之曰：三四服。後果然。恆利公司孫君之子，患喉痧，身發赤斑，狂叫不已。西醫以藥水洗喉，無效。急延予往，予為擬玉女煎，一服而愈。張戟門之廚司，患落頭疽，紅腫高大，連及兩耳，西醫包治不保險，求治於予。予令外科學生高佩華，用自制升丹藥線，逐日更換，為擬神授衛生湯，一月而愈。候知事患發背，大如盤，徑四寸余，如蜂窩狀。西醫敷之以西藥，疼痛異常，求予診治。予令外科學生，用自制五色靈丹，為擬透膿散，三黃湯，輪服，月餘而愈。以上諸症，並無疑難予皆應手取效，何西醫治之皆無效？此非西醫無能，蓋其所學者，宜西人不宜治華人也，因作中西病源不同論於下。</p>
<p>西人以遊牧立國，其人多肉食，肉性溫而味厚，其溫度外達肌膚。故西人常以冷水浴身，風寒不能傷其外，其病生於內。華人以農業開基，民多穀食，穀食清而味薄，其溫度不及肌膚，外不足以御風寒，其病生於外。西人以冷水浴身，其寒氣入絡，則身痛，西醫塗之以碘酒，服之以阿斯匹林，其痛自愈。華人外感風邪，風熱傷筋，故身痛，塗之以碘酒，則以熱治熱。此李太夫人之病，所以治之加劇也。西人肝病，病生於內，平肝氣，瀉肝火，其病即愈。而劉履貞之侄，外感風寒，肝寒乘脾，故脅痛便溏，法當疏解，西醫不知其病自外來，是以無效。西人頭痛，病生於內，肝火上衛也。以冰冰之，則火氣自退。穆文藻之頭痛，病生於外，以冰冰之，則寒邪入腦，是以益劇。西人患痢，病生於內，酒肉積滯，瓜果內停所致也，以硝水洗腸，以萆麻下滯，固宜。華人之痢，病生於外，夏令受暑，暑熱入腸，而後下痢，法當清暑，西醫不知其病之由來，是以無效。喉痧由於風熱入絡，病生於外，痧解，則喉痛自愈，其病不在喉。西醫以為喉頭炎，是以洗之無效。落頭疽發背等症，雖屬外科，而病根皆生於里，西醫治外不治內，是以不敢保險也。此豈西醫無能哉。蓋中西人之性質不同，習慣不同，病源不同，醫學所以不同。我國英俊，幸勿競尚西醫，自戕性命，使五千年神聖相傳之學，棄之如遺，豈不惜哉。</p>
<p>常州劉麗亭，患真中風，口眼歪斜，手足拘攣，舌強不能言。余用再造丸，其始在友人處覓得一丸，服之無效。後由京都寄來一丸，腦丸中有牛角盒一個，服之立愈。蓋再造丸方，有真有偽，故有效有不效也。醫家陳一生，患虛勞滑精，其精常自出，臥不能起。余用黃耆建中湯，十餘劑始愈。江沈秀高，患臌脹，腹大如箕，腹上現青筋兩條，飲食不進。每日勉強吃稀粥飲一小杯，自覺脹滿異常。余擬用雞矢體，因思無制體之法，即用雞內金一百枚，焙研細末，每服一錢，燒酒調下，日三服。初服一日，即進飲食，二日腹脹減，連服數日，藥未完而病已愈矣。天津錢氏婦，患噎膈反胃，粒米不下，日服稀粥飲，服至一杯，必須嘔吐，不吐則心中難受，必以手探之。吐而後已，復服復吐，如是者，已經月餘。余曰：此胃中有瘀。為擬韭汁牛乳飲，服一劑，不吐，連服七劑愈。李晦庵之如夫人，患經漏不止，袁項城派公府醫官，並惠送醫藥，服之無效。延予往診，予曰：此氣不攝血也。須用吉林老山人參，每服一錢，開水燉須三小時，一劑知，二劑已。阮鬥瞻之弟婦，產後腹痛發熱，飲食不進。由京中派醫官二人來津，其始用失笑散，不效，腹益痛。繼用當歸羊肉湯，不效，身熱尤甚。延予往診，予曰：此外感風邪也。為擬柴胡飲子。其醫官議予方曰：此方服下，當即汗脫。病家持方問予，予曰：倘服此方汗脫，予當負責，若不汗脫當云何？病家謂予曰：君有把握，病能愈乎。予應之曰：果服予方一劑，病當十去其九。次日延予復診，予問曰：今日病情何如？彼應曰：不但九成，竟悉愈矣。予曰：二位醫官，能否請見？據云：已於清晨入都矣，李嘯溪患黃癉，寒熱往來。予用小柴胡湯，服後，寒熱已解，其腹滿，改用茵陳蒿湯。服後，小便下如黑醋色，病略減，後用豬膏發煎愈。其兒婦產後身熱，不欲飲食。予診其右關沉滑，余曰：此食積也。彼曰：誠然，產後自吃雞子二枚，始得病。予為擬生化湯，內加醋一小杯，沖服，次日即愈。陸鳳石之寄孫劉氏子，患腹中痞疾，漸成水脹，大小腹俱腫，連及兩腿，腎囊腫大，如水晶球形，龜頭腫彎如鉤。予初用越婢湯，黃耆防己湯，病漸減。後用商陸末入麝香少許，醋調敷臍上，小便利，囊腫即消，為擬消痞方，數服而愈。張懷斌之女，心中煩擾，坐臥不寧。予診其脈浮，為擬梔子豉湯，一劑即愈。王某咳嗽，日久不愈，咳吐白沫。予診其脈，一息九至，問其胃口，尚能飲食。予曰：此肺痿也。為擬清燥救肺湯，十餘劑始愈，寧波余某之妻，患血奔不止，津醫林子皋用老山人參，服後神志欲狂。延予往診，予曰：此熱血上衝心也。令其先服童便，為擬三黃調經湯，數劑始愈。其夫因人參尚未服完，棄之可惜，即自服之。服後心神不定，身即汗出。林子皋為擬一方，用石膏二兩，心神益亂，日夜在家中環走不休，家人均以為顛。予診其脈浮，為擬梔子豉湯加萊菔子，一服而愈。常州醫家劉雨人，患秋溫，醫官李仁甫，用香砂六君子湯。服後，大汗出不止，胸悶不堪。延予在診，予診其脈浮濡，曰：此伏暑也。為擬清暑飲，一劑知，二劑已。醫家孫薏蓀，患溫疹，唐靜炎為擬大承氣湯，服後，下黑糞，身熱神昏。延予往診，予診其脈沉，曰：邪已入里，不治。令其請唐先生，次日死。其後唐君亦病，延予往診，予視其年逾七旬，精神倦怠。謂予曰：求先生救命。予診其脈微數，視其前方，用大承氣湯。予曰：先生年高氣虛，何以用大承氣湯，先生善治溫病，蓋善用此方，但先生未病溫而用此方，何也。彼曰：予胸膈痞悶，是以用之。予曰：君休矣，氣虛中滿，而用大承氣湯，下傷陽氣，予實無法治。另請高明可也。越三日而卒。醫家劉小坡，患痢，延予往診。予視其大便多糞與血，問其裡急後重否。彼曰諸症悉愈，惟下痢日五六次耳。予令購神妙奇效丹，此藥由天津京報房出售。當即購服一包，次日愈。王某患楊梅毒痢，月餘不能起床，奄奄一息。余擬用九龍丹，服後痢即止，調養月餘而愈，張氏婦患小產後肝厥，不省人事。予診其手熱脈厥，予曰：此肝虛熱厥也。為擬三甲復脈湯，一服即愈。又李氏婦患胎厥，予擬羚羊角散，一服愈。又錢氏婦患虛厥，予擬洋參竹茹湯，服後漸愈。李十七之子，患驚風，下五色痢。予擬銀楂加羚羊竹茹湯，服一劑，驚風愈，而痢不止，後用銀楂湯，十餘劑而愈。鄭墨林，年八十餘，患喘咳。予擬麻黃石膏杏仁乾薑湯，不敢頓服，先試服一匙，喘稍減，後服半劑，頗效，遂服，調理兩日即愈。萬蔭南，年五十餘，無子，求治於予。予為擬七寶美髯丹，服一料後，即生子。寧波張麟生之歸，患小產，連產四次，變成滑胎。其母本日本人，寓長崎，延醫診治，均無效，來津就醫。予診其左尺搏指，予曰：胎已兩月矣。為制保胎丸，令其於下月，服三服，米飲送下，胎未滑，後即生子。此方藥味，予已妄記，幸當時所制丸藥，尚留有數十服，可以備用。孫多禔患瘧，因有要差，急欲出門。予令其於瘧發前半時許，以繩束十指間，刺其絡，出紫血，如綠豆大，即愈。宜子望患溺血，予始擬小薊飲子，後用知柏地黃湯，病愈後。予囑其勿食牛羊雞肉，閱半年，適清太后召入宮聽戲，賜以羊肉湯麵，不敢不食，食後病大作，御醫治之無效。後延予往，已無治法，予即告辭。馬氏婦患喉癰，湯藥不得進，余以針刺之即愈。郭僧忻之女，患天花白陷，花頂已陷，面色灰白，口流白沫，氣喘欲絕。余擬參茸姜附桂歸湯，已不能進，勉強用筆管灌入一杯，次日花發如黃豆，漸次調理而愈。其侄女患花後失音，余擬用甘桔湯，兩劑愈。山東張笏臣，患酒咳吐血，延予往診。余囑其戒酒，為擬葛花芩連湯，數劑而愈。史氏歸患腹痛，手足厥冷。予診其脈沉，為擬桂附八味湯，一服而愈。上海陳以垣，患子午瘧，久治不愈，年逾花甲，骨瘦如柴。延予往診，余始擬常山飲，服後，吐黃痰碗許，病勢大減。後用六君加歸芍坎炁末等，始愈陸春江患秋溫結胸，醫家均以為不治。延予往，余視其身熱汗出不得臥，神志昏迷。予曰：身汗出，里無水氣，不當結胸。為擬小陷胸湯，三服而愈。張參謀患羊毛痧，神昏譫語，耳聾直視不能言。為擬消風透痧湯，外用蕎麥麵，紹酒調如雞子大，搓胸前並耳前後，搓出羊毛無數，十餘日痧始透，仍不能言。後用鵝翎蘸皂角末少許，探入喉中，吐出膠痰，聲音始出。葉某患戒菸下痢，余初用銀楂湯。</p>
<p>加菸灰少許，後用柿餅炭一枚入前，數劑而愈，因作鴉片論於下。</p>
<p>鴉片者，洋藥中之麻醉品也。其味苦，其臭焦，其氣能通五臟，為五臟七情內傷之妙藥。如肝氣鬱悶，氣滯胸中痛，胃脘痛，脾虛下痢，腹中痛，吸之立愈。惟夏秋霍亂，及之則病加重。肝火旺者不能吸，吸之即頭眩。何也？蓋霍亂為病，由於外感暑熱，復感風寒，而後病作，其邪氣由表入里，吸菸氣以通五臟，則邪氣深入，開門揖資，是以病加重也。肝火旺者，吸之，則肝火上升，是以頭眩也。鴉片有麻醉性，其氣燥，消鑠津液，吸之日久，則其氣留於五臟津液中為癮。至其時則發，癮發則麻醉性作，作則涕唾多而嚏欠，寒熱如瘧，營衛不行，五臟不通，弱者即死，強者難受不堪。此吸菸者，所以欲戒不能也。惟柿餅能解鴉片之麻醉性，但鴉片因吸入肺，柿餅只能入胃，不能入肺。其性寒，忌蟹，脾寒者不能食，食之則腹痛。惟胃火旺大便燥結者宜之。戒菸之法，當先以丸藥代煙，其丸藥當用米粉白糖，加入菸灰蜜丸，按時隨癮之大小服之。至兩日後，則五臟中之癮，當從涕唾與汗氣排泄而出。但胃中有煙癮，再以柿餅代丸藥，每日一次，漸加至兩三次，迨至不服丸藥，數十日即完好如初。若能將柿餅釀成美酒，用以戒菸，真妙品也，尚祈有志之士，公同研究，以救世界之因病而受鴉片之害者，豈不善哉。</p>
<p><u>再造丸方</u></p>
<p>真蘄蛇（去皮骨，頭尾各三寸，酒浸炙，取淨末，四兩）　兩頭尖（系草藥出烏魯木齊，非鼠糞也如不得以白附子代之，制用，二兩）　山羊血（五錢）　虎脛骨（一對，醋炙）　龜板（醋炒，一兩）　烏藥（一兩）　當門子（五錢）　天竺黃（一兩）　黃耆（二兩，炙）　沒藥（一兩，去油）　制乳香（一兩）　北細辛（一兩）　麻黃（二兩）　赤芍（一兩）　炙甘草（二兩）　小青皮（一兩）　羌活（一兩）　白芷（二兩）　大熟地（二兩）　明天麻（二兩）　血竭（八錢，另研）　防風（二兩）　制附片（一兩）　骨碎補（去皮，一兩）　犀角（八錢）　元參（酒炒，二兩）　沉水香（一兩）　制首烏（二兩）　葛根（二兩半）　藿香（二兩）　白殭蠶（一兩）　西牛黃（二錢半）　川連（二兩）　川芎（二兩）　穿山甲（二兩，前後四足，各用五錢，麻油浸）　辰砂（一兩，飛）　桂心（二兩）　川萆薢（二兩）　炒於朮（一兩）　地龍（五錢，去土）　紅曲（八錢）　廣三七（一兩）　母丁香（去油，一兩）　制香附（一兩）　全蠍（去毒，二兩半）　全當歸（二兩）　威靈仙（二兩半）　川大黃（二兩）　片薑黃（二兩）　白茯苓（二兩）　梅冰片（二錢半）　桑寄生（一兩半）　草蔻仁（二兩）　白蔻仁（二兩）　制松香（水煮七次，五錢）</p>
<p>上藥共研細末，擇吉虔修煉蜜和合搗數千下為丸，每丸重一錢，金箔為衣，外用蠟丸包裹，此丸有起死回生之功，故曰再造。專治真中風寒，痰迷厥氣，半身不遂，口眼喎斜，腰腿疼痛，手足麻木，筋骨拘攣，步履艱難，一切風痰等症，並皆治之。病逾百日者難痊，病後針灸漏氣者難痊，年逾花甲者難痊，年逾古稀者不治。凡遇此症，旁人切勿驚惶，先向藥店購開關散少許，或購靈寶如意丹七八粒。研末吹入鼻中，得嚏者輕，不得嚏者重。倘牙關緊閉，用烏梅兩個，分開塞左右兩腮，擦之自開，不可用銅鐵器撬開，恐傷牙，並恐驚其心。凡服是丸後，神氣清爽，漸思飲食，間有一二處屈伸不利，此係熱痰留於關節。用豨薟草二錢，歸身白芥子各一錢，紅花八分煎湯，以新白布蘸熱湯擦摸，一日二三次，即能運動如常矣。</p>
<p><u>韭汁牛乳飲方</u></p>
<p>韭菜汁（一小杯）　鮮牛乳（六兩）　藕汁（一杯）　薑汁（十滴）　梨汁（一杯）　萊菔汁（一杯）</p>
<p><u>柴胡飲子方</u></p>
<p>北柴胡（錢半）　杭芍（二錢）　當歸（二錢）　酒芩（八分）　黑荊芥（六分）　防風（八分）　炙草（一錢）</p>
<p><u>生化湯加醋方</u></p>
<p>當歸（三錢）　川芎（錢半）　紅花（三分）　炮薑炭（三分）　炙甘草（八分）　雞內金（一錢，焙研末）　加醋一匙煎服</p>
<p><u>越婢湯方</u></p>
<p>麻黃（一錢）　石膏（三錢）　甘草（一錢）　生薑（二片）　大棗（四枚）</p>
<p><u>黃耆防己湯</u></p>
<p>防己（一錢）　黃耆（錢半）　甘草（八分）　白朮（七分）</p>
<p><u>消痞湯方</u></p>
<p>炒枳實（一錢）　雞內金（錢半）　川樸（一錢）　茯苓（三錢）　炒麥芽（三錢）　半夏曲（二錢）　川連（八分）　川樸（一錢）　茯苓（三錢）　炒麥芽（三錢）　半夏曲（二錢）　川連（八分）　甘草（八分）　於朮（八分）　黨參（一錢）</p>
<p><u>三黃調經湯方</u></p>
<p>川連（一錢）　黃柏（一錢）　真阿膠（二錢）　炒續斷（二錢）　酒芩（一錢）　炙草（一錢）　炒白芍（二錢）</p>
<p><u>九龍丹方</u></p>
<p>兒茶　血竭　木香　制乳香　制沒藥（各一錢）　巴豆（二分，去油）</p>
<p>共研末，水丸桐子大，每服二丸，漸加。</p>
<p><u>羚羊角散方</u></p>
<p>羚羊片（一錢）　杏泥（三錢）　防風（八分）　川芎（六分）　炙甘草（一錢）　薏仁（三錢）　獨活（六分）　當歸（一錢）　茯神（三錢）　竹茹（三錢）</p>
<p><u>參茸姜附歸桂湯方</u></p>
<p>人參（一錢）　炮姜（五分）　附子（一錢）　黃耆（三錢）　熟地（砂仁拌，三錢）　鹿茸（五分）　肉桂（五分）　當歸（二錢）　炙草（一錢）</p>
<p><u>七寶美髯丹方</u></p>
<p>何首烏（二斤，赤白各半，去皮切，黑豆拌，九蒸九曬）　白茯苓（半斤，人乳拌）　當歸（半斤，酒洗）　懷牛膝（半斤，酒浸，同首烏，第七次蒸至第九次）　菟絲子（半斤，酒浸蒸）　枸杞子（半斤，酒浸）　破故紙（四兩，黑芝麻拌炒）</p>
<p>上為末，蜜丸桐大，子用淡鹽湯或溫酒送下，忌鐵器。</p>
<p><u>麻黃石膏杏仁乾薑湯方</u></p>
<p>麻黃（六分）　杏泥（三錢）　姜半夏（三錢）　款冬（錢半）　石膏（三錢）　乾薑（三分）　炙甘草（一錢）</p>
<p><u>消風透痧湯方</u></p>
<p>姜蠶（三錢）　淡豆豉（三錢）　苦杏泥（三錢）　蟬蛻（錢半）　前胡（錢半）　薄荷（一錢）　菊花（二錢）　甘草（八分）　栝蔞皮（錢半）</p>
