<header>
<h1>著作權聲明</h1>
</header>

<p>本站收錄之資料以<a href="http://creativecommons.tw/pdm">公眾領域</a>之典籍文本為主，<strong>本站所有對公眾領域文本之篩選、編排、標點、附註等一切編輯，均以CC0授權<a href="http://creativecommons.tw/cc0">釋出至公眾領域</a>，您可以自由使用</strong>。</p>

<p>本站自行創作之文本，例如介紹、協助頁面或本站自行整理之資料頁面，皆以<a href="https://creativecommons.org/licenses/by/4.0/deed.zh_TW">創用CC-姓名標示4.0</a>（CC BY 4.0）授權釋出。按照此授權，您只要標明資料來自本網站，即可自由使用。</p>

<p>轉載本站資料前，尚請注意：</p>
<ol>
  <li>個別頁面若另有宣告著作權，則以該頁面之宣告為準，一般會標示於頁首或頁尾。</li>
  <li>頁面內嵌之圖片或多媒體素材，可能有不同於文本的授權方式。</li>
  <li>雖已盡量小心，本站之授權標示無法保證全無錯誤，您可能需要自行確認實際授權狀態，以免不慎侵權。使用上如有疑問，可<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#106;&#105;&#99;&#104;&#101;&#110;&#103;&#116;&#119;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">聯絡我們</a>。</li>
</ol>

<h2>相關法規參考</h2>

<ul>
  <li>公眾領域之內容，包括無著作財產權（如標語及通用之符號、名詞、公式、數表、表格、簿冊或時曆）或著作財產權已消滅者（大多數國家法律定為存續至著作人身亡後50年），任何人皆可自由使用而不受著作財產權之限制（但可能受其他法律限制，如著作人格權等）。</li>
  <li>根據<a href="https://law.moj.gov.tw/LawClass/LawSingle.aspx?Pcode=J0070017&FLNO=79">中華民國著作權法第79條</a>，公眾領域之著作經製版印刷及依法登記者，享有專屬製版權10年。例如某書局於民國80年出版《老子》且依法登記，則該書局享有專屬製版權至民國90年，其間擅自影印、重製可能構成侵權。</li>
  <li>根據<a href="https://law.moj.gov.tw/LawClass/LawSingle.aspx?Pcode=J0070017&FLNO=7">中華民國著作權法第7條</a>：「就資料之選擇及編排具有創作性者為編輯著作，以獨立之著作保護之」。因此，對公眾領域的古籍文本做篩選、重編章節段落、添加標點、註釋等，若被認定為具有創作性，則視為「編輯著作」而受著作財產權保護。</li>
  <li>除取得著作權人之授權以外，著作之「合理使用」不受著作財產權之限制，詳見<a href="https://law.moj.gov.tw/LawClass/LawSearchContent.aspx?pcode=J0070017&norge=44-65">中華民國著作權法第44-65條</a>。
</ul>
