<header data-type="book">
<h1>河間傷寒心要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>鎦洪</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1127/1279">公元1127年至公元1279年</data></dd></div>
<div><dt>底本</dt><dd>《古今醫統正脈全書·河間傷寒心要》，明萬曆29年（1601）吳勉學刊本（<a href="https://nrs.harvard.edu/urn-3:FHCL:27539513?n=67">哈佛燕京圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>傷寒心要論</h1>
<p>夫傷寒者，前三日在表，法當汗，可用雙解散，連進數服必愈。若不解者，病已傳變。後三日在裡，法當下。殊不知下之太早，表熱乘虛入里，遂成結胸、虛痞、懊憹、斑疹、發黃之證，輕者必危，危者必死。但當以平和之藥，宣散其表，和解其里，病勢或有汗而愈，或無汗而愈。當用小柴胡、涼膈、天水。三藥，合而服之。病若半在表、半在裡，法當和解，小柴胡、涼膈主之。若裡熱微者，則當微下，大柴胡合解毒湯。主之。熱勢未退，又以大柴胡合三一承氣湯。下之，兩除表裡之熱。病至七八日，里證已甚，表熱漸微，脈雖浮數，則以三一承氣合解毒。下之。其病胸膈滿悶，或喘或嘔，陽脈緊甚者，可用瓜蒂散。湧之。汗吐下三法之後，別無異證者，涼膈散。調之。大熱已去，微熱者，以益元散。服之，無令再病，此傷寒治法之大要也。</p>
<p>或傷風自汗，脈浮緩者，雙解去麻黃。以汗之。其病半表半裡，白虎湯。和解之。病在裡，脈沉細者，無問風寒暑濕，或表裡證俱不已，或內外諸邪所傷，有汗無汗，心腹痛滿，譫語煩躁，蓄熱內盛，但是脈沉者，並用承氣合解毒下之。</p>
<p>或中暑自汗，解以白虎湯。（《直格》云：夏至前為熱，夏至後為暑，是以至後而用白虎，宜乎？《局方》：立秋後不用白虎。子和云：若有白虎證，亦不用乎？卻用，詳審之耳。）白虎解後，以五苓合天水。調之。多進數服無妨。或腹滿脈沉者，亦當承氣合解毒。微下之。或發汗之後，熱不解，脈尚浮者，白虎加蒼朮。再解之。或裡熱內盛，陽厥極深，皆因失下而成此證，以致身冷脈微，昏懵將死。切不得以寒藥下之，誤下即死。又，一輩庸醫，妄言是陰厥，便欲易換，用真武、四逆溫熱之劑投之，下咽立死。殊不知此證乃陰耗陽竭，陰氣極弱謂之耗，陽厥極深謂之竭。蓄熱怫鬱，將欲死者。凡此之證，寒劑熱劑俱不可投，但進涼膈、解毒。以養陰退陽，宣散蓄熱，脈氣漸生，得大汗而愈。（使汗氣和而愈者。）未愈，卻解毒合承氣。下之，次以解毒、涼膈、天水。合而為一，調合陰陽，洗滌臟腑，則其他別證，自不生矣。有大下之後，熱不退，再三下之，熱愈盛。若下之不愈，脈微氣虛力弱，不加以法，則無可生之理。若輟而不下，則邪熱盛極，陰氣極衰，脈息斷絕，必不可救，似此之證，是下之亦死，不下亦死。醫者至此，活人殺人，一彈指間，其不至手足失措者，幾希矣。（《直格》云：傷寒汗後，汗出不解，或反不汗，脈尚浮，白虎加蒼朮湯再解之。又按，餘論云：傷寒下後，自汗，虛熱不已，白虎加蒼朮、人參，一服如神，汗止身涼，此通仙之法也。如此則汗下之後熱不退，無問有汗無汗，通宜白虎加蒼朮解之，又加人參亦妙。仍服涼膈、解毒調之。）經云三下而熱不退者即死，後人有四五次下，以至十數行而生者，此乃誤中耳，活者未一二，死者千百，後學切不可以為法。但當依前，用解毒合涼膈調之，使陽熱除退，陰氣漸生，庶不失命。</p>
<p>若傷飲，不解散，或結胸之證，臨時擇用大小陷胸湯丸。累下之。脈浮者，不可下，是表證未除，小柴胡合小陷胸湯。投之。脈雖浮而熱太極者，大承氣。徐徐疏利之。或有留飲過度，濕熱內生，小便自利，濕熱未退，以解毒湯。治之。</p>
<p>陽證生斑，涼膈加當歸。</p>
<p>怫鬱熱盛在表，燥而無汗，濕熱在裡，不能發於外，相搏遂成發黃，茵陳蒿湯調五苓散、茵陳合承氣下之。</p>
<p>心煩，不得眠，梔子豉湯。</p>
<p>誤下太早，遂成結胸、虛痞，涼膈加枳殼、桔梗。</p>
<p>剛柔二痓，譫語發狂，逾垣赴井，皆陽熱極盛者，承氣合解毒。下之。</p>
<p>汗下後，煩渴飲水，則涼膈減桂、五苓、桂苓甘露飲、益元，選而用之。</p>
<p>小便不通，五苓泄之。大便閉結，承氣下之。更有外證，加減防風通聖散方內隨證用藥。</p>
<p>婦人證治皆然，惟三四月並七八月不用硝，其餘月分、用之無妨。</p>
<p>小兒減劑服之。</p>
<p>此中有古人治傷寒不傳之妙，後之學者，其慎寶之。</p>

<h2>寒</h2>

<h3>第一雙解散</h3>
<p><u>防風通聖散</u></p>
<p>防風（去蘆）　川芎　當歸（焙）　赤芍藥　大黃　麻黃　連翹　芒硝（各半兩）　石膏　黃芩（去枯）　桔梗（各一兩）　甘草（二兩）　滑石（三兩）　荊芥　白朮　梔子（各二錢半）　薄荷葉（半兩）</p>
<p>上為末，每服三錢，水一盞，姜三片，煎至六分，溫服。大黃、芒硝、麻黃三味，對證旋入。自利，去大黃、芒硝。自汗，去麻黃。</p>
<p><u>天水散</u>（益元散、六一散）。</p>
<p>滑石（六兩）　甘草（一兩）</p>
<p>上為末，每服三錢，溫水蜜調下，暑月冷水。亦可和解。傷寒、傷風，發汗，加蔥白五寸、豆豉五十粒，煎一盞，調四五錢，並三服。解利為度。加薄荷尤妙。</p>
<p>通聖合益元。</p>
<p>上七兩，和勻，每服三錢，水一盞半，蔥白五寸、豆豉五十粒、姜三片，煎至一盞，溫服。</p>

<h3>第二小柴胡涼膈天水合服</h3>
<p><u>小柴胡湯</u></p>
<p>北柴胡（三兩）　黃芩　人參　半夏　生薑　甘草（各一兩）　大棗（四枚）</p>
<p>上為散，每服五錢。</p>
<p><u>涼膈散</u></p>
<p>連翹（二兩）　梔子　大黃　薄荷　黃芩　甘草　芒硝（各一兩）</p>
<p>上為散，每服三錢，水一盞，煎至七分，入蜜少許，竹葉五片。</p>

<h3>第三涼膈合小柴胡</h3>

<h3>第四大柴胡合黃連解毒湯</h3>
<p><u>大柴胡湯</u></p>
<p>柴胡（去苗）　大黃（各半兩）　黃芩　白芍藥（各一分）　半夏（泡水飲，二錢）　枳實（生，三錢）</p>
<p>上為散，分三服，水一盞半，生薑三片、大棗一枚，煎至半盞，溫服。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連　黃柏　黃芩　梔子（各等分）</p>
<p>上為散，每服一兩，水一盞，煎至五分，溫服。</p>

<h3>第五大柴胡合三一承氣湯</h3>
<p><u>三一承氣湯</u></p>
<p>大黃　芒硝　厚朴　枳實（各半兩）　甘草（一兩）</p>
<p>上銼，每服二錢半，水一大盞，姜三片，煎至六分，入硝，再煎一二沸服。</p>

<h3>第六三一承氣合解毒湯</h3>

<h3>第七瓜蒂散</h3>
<p><u>瓜蒂散</u></p>
<p>瓜蒂　赤小豆（各等分）</p>
<p>上為末，豆豉湯調下一錢。未吐，再服。</p>

<h3>第八涼膈散</h3>

<h3>第九益元散</h3>

<h2>風</h2>

<h3>第十雙解散去麻黃</h3>

<h3>第十一白虎湯</h3>
<p><u>白虎湯</u></p>
<p>知母（一兩半）　甘草（一兩）　粳米（一合）　石膏（四兩）</p>
<p>上銼，每服五錢，水一盞，煎至六分，溫服。</p>

<h3>第十二承氣合解毒湯</h3>

<h2>暑</h2>

<h3>第十三白虎湯</h3>

<h3>第十四五苓散合天水散</h3>
<p><u>五苓散</u></p>
<p>豬苓　茯苓（去皮。各三錢）　官桂（一分）　澤瀉（一兩）　白朮（一錢。《活人書》三分，《宣明論》半錢）</p>
<p>上為末。</p>

<h3>第十五承氣合解毒湯</h3>

<h3>第十六白虎湯加蒼朮</h3>

<h3>第十七涼膈合解毒湯</h3>

<h3>第十八解毒合承氣湯</h3>

<h3>第十九解毒涼膈天水合</h3>

<h2>結胸</h2>

<h3>第二十大小陷胸湯丸</h3>
<p><u>大陷胸湯</u></p>
<p>大黃　芒硝（各二錢）　甘遂（三字匕）</p>
<p>上銼，四錢，水一盞，煎大黃至六分，納硝，再煎二沸，納甘遂，溫服。未利，再與。</p>
<p><u>小陷胸湯</u></p>
<p>半夏（四兩）　生薑（切）　黃連（各二錢）　栝蔞實（半個，全銼）</p>
<p>上銼，水三盞，煎栝蔞至盞半，納藥，煎至一盞，分作兩服。</p>
<p><u>大陷胸丸</u></p>
<p>大黃（半兩）　葶藶（二錢，微炒）　芒硝（一錢）　杏仁（十二枚，去皮尖，柴炭炒變色）</p>
<p>上，大黃為末，研葶藶、杏仁為膏，丸如彈子大，甘草末三字、蜜半盞，水一盞，煎至半盞，納硝溫服一丸，一宿下。若未利，再與。</p>

<h3>第二十一小柴胡合小陷胸湯</h3>

<h3>第二十二大承氣湯</h3>
<p><u>大承氣湯</u></p>
<p>大黃（錦紋者）　芒硝（朴硝有芒頭者）　厚朴（去絲）　枳實（各半兩）</p>
<p>上銼如麻豆大，分一半，用水一碗，加生薑三片，煎至六分，納硝，煎一二沸，絞去滓，熱服。</p>

<h3>第二十三解毒湯</h3>

<h2>發斑</h2>

<h3>第二十四涼膈散加當歸</h3>

<h2>發黃</h2>

<h3>第二十五茵陳蒿湯調五苓散</h3>
<p><u>茵陳蒿湯</u></p>
<p>茵陳（一兩）　大黃（半兩）　梔子（十枚）</p>
<p>上銼，水二盞，煎至一盞，溫服。利為度。</p>

<h3>第二十六茵陳合承氣</h3>

<h2>心煩不眠</h2>

<h3>第二十七梔子豉湯</h3>
<p><u>梔子豉湯</u></p>
<p>梔子（七個，銼）　豆豉（二合）</p>
<p>上，水二盞，先煮梔子，至一盞半，納豉，煮至半盞，絞汁，溫服。</p>

<h2>誤下虛痞</h2>

<h3>第二十八涼膈加桔梗枳殼</h3>

<h2>剛柔二痓</h2>

<h3>第二十九承氣合解毒</h3>

<h2>汗後煩渴</h2>

<h3>第三十涼膈減桂五苓桂苓甘露飲益元散</h3>
<p><u>桂苓甘露飲</u></p>
<p>茯苓（一兩，去皮）　澤瀉（一兩）　甘草（二兩，炙）　石膏（二兩）　寒水石（二兩）　白朮（半兩）　桂枝（半兩，去皮）　豬苓（半兩）　滑石（四兩）</p>
<p>上為末，每服三錢，溫湯調下，或新汲水、生薑湯尤妙。</p>
<p>上共十七方。如無大承氣，系第五三一承氣代之亦妙，通三十九件藥味，調理傷寒，曲盡其妙，百發百中。後之學者，詳辨脈證，審而用之，起沉疴於指掌，策奇功以活人，方知其妙也。</p>

<h3>新增病後四方</h3>
<p><u>小半夏湯</u>　治汗下後嘔吐不已。</p>
<p>半夏（五兩）　赤茯苓（三兩）</p>
<p>上銼，每服半兩，水二盞，煎至一盞半，納薑汁，更煎一二沸，溫服。</p>
<p><u>五味子湯</u>　治汗下後氣閉咳嗽。</p>
<p>五味子（半兩）　麥門冬　人參　杏仁　陳皮　生薑（各一錢）　棗子（二枚）</p>
<p>上銼，每服二錢，水二盞，煎至一盞，作二服。</p>
<p><u>大橘皮湯</u>　治汗後胃虛。</p>
<p>陳皮　甘草（各一兩）　人參（二兩）</p>
<p>上銼，每服五錢，水一盞半，姜二片，煎至一盞，溫服。</p>
<p><u>赤茯苓湯</u>　治胸膈滿悶，頭痛，已得汗者。</p>
<p>陳皮　甘草　人參　半夏　川芎　白朮（各等分）　赤茯苓</p>
<p>上銼，每服五錢，水一盞半，姜三片，煎至一盞，溫服。</p>

<h1>傷寒心要餘論</h1>
<p>五臟六腑，應五運六氣，凡病微則當其本化，甚則兼其鬼賊之化，亢則害，承乃制。微則是其本經、本腑之本化，造化之化也，病甚則如金衰不能制木，木則生火，木火者，皆陽也，故風火多，兼化則風熱相搏，賊其金也。臟腑之氣，應乎三陰三陽，實則行乎本化之氣，瀉之衰則行其勝己之氣，瀉之是為殺其鬼賊也。如諸陽蓄熱，以涼膈合解毒服之，解散極熱。如瀉火熱，解毒、調胃承氣是也。如吐法，用二仙散。如調理傷寒，白虎、涼膈合服解之。</p>
<p>傷寒三日以里，連進雙解。如無汗，必是傳變，待三四日之間，以小柴胡解表裡之熱，仍間服白虎、涼膈。蘊熱，七八日之間，欲下，而表證猶在，以大承氣湯、大柴胡湯雙行並煎，攻裡發表，最為隱當。若是溫熱內甚，自利者，止涼膈，卻進解毒、白虎服之。或噁心、乾嘔、吐者，白虎作一大劑，調解毒末五錢，服之即止。大小便不通，並有腹痛不能忍者，以無灰酒煎朴硝三兩熱服，即愈，亦按從治之法也。熱中伏寒，下之矣，或大承氣湯加木香瀉之，尤妙。</p>
<p>傷寒失下，始病時又誤服麻黃熱劑太甚，必致熱極，或有陽厥極深，身冷脈微，陽極似陰之證，庸醫以為陰證是也。須當急救其陰，以白虎、涼膈，日進三服。脈氣漸生，身體漸溫，然後以大承氣下之。夫大承氣，救急之妙劑。如咽膈吐逆不利，當令熱服，開其熱結，利而即愈也。</p>
<p>如傷寒汗下之後，自汗虛熱不止，於白虎湯內加人參、蒼朮，一服如神，汗止身涼。此法至妙，無庸詳盡。</p>
<p>如赤白痢，先服黃連阿膠丸，次服解毒湯。</p>
<p>傷寒瘡瘍、破傷風，與傷寒治法一同，但以雙解教與白虎、承氣、臨時斟酌用之。</p>
<p>雙解、涼膈、白虎、瀉心，此理傷寒之妙劑。</p>
<p>孕婦臨月，可服益元涼胎，產後仍服。如血不盡，則以涼膈與四物合煎，調理經血。甚者，大承氣合四物，乃瀉中之有補也。涼膈同四物，名玉燭散，婦人產後之妙劑。涼膈、四物合大承氣湯，名三和湯。大承氣合四物，治婦人一切血積血聚等疾，加紅花尤妙。</p>
<p>初生兒五七日，有熱證，不得已，只用益元散，時時灌之。如小兒夜啼，用涼膈調之，肚飢。臨睡服。</p>
<p>凡瘡瘍癮疹，涼膈加當歸治之。</p>
