<header data-type="book">
<h1>黃氏醫話</h1>
</header>

<h1>弁言</h1>
<p>漢如自束髮受書，即有志於醫學，既長而能悟，乃廢寢忘餐，窮日夜之力以赴之，而尤喜推拿一科之切於實用。旋遇良師，訪秘笈，習內外功，以一指禪正宗為鵠的，始恍然於先哲發明是科，足以濟藥石之窮，闡造化之秘，解生民之厄也。瘁十年之心力，幸有成就，徒以一官瓠系，未獲暢行其志。辛亥而後，始以醫為專業，與室人等分治男婦病症，所遇艱險複雜怪奇之疾，不可屢計。竭其心力，排萬難以圖之，亦嘗有應手輒愈之成績。病者紛紛垂詢，驚為神秘，實則何神秘之有？其視吾術為神秘者，蓋淺之乎測一指禪也。一指禪之為用，本可抉萬病之根，起垂死之人而登諸壽域。要而言之，恃推拿之術以問世者，必以醫學為始基，以一指禪為利器，窺其玄奧，加以經驗，所全活者日眾。醫家不惜半世之辛勤，病家即獲一生之幸福。曩以各地人士，謬採虛聲，每持推拿一科何以能奏奇效之說，來相諮詢，遂草斯篇，藉代裁答。數年以來，索閱者踵相接，印刷甫成，分發已盡，蓋至今已十易版矣。急就之章，於一指禪之精微玄妙，不足闡發其萬一，惟書中所論，本為開始研究推拿者說法，編著專書，願俟異日，大雅君子，恕其譾陋，進而教之，幸甚幸甚。</p>
<p>此不佞曩歲所著《一指禪推拿說明書·自序》之言也，今值醫話付梓之日，欲傾吐腷臆，而又憚辭費，則逕錄此序，弁諸簡端，以明吾志。至於醫話之作，理由何在，動機何若，又不可不無一言，爰識其緣起如下：</p>
<p>兒子一照，離講堂哦誦試驗室作業之生涯，以致力醫學者二十年，以推拿之術問世者十年，嘗察其治病之成績，凡舉重若輕化險為夷之處，亦頗有足以貢獻於社會而慰我期望者。病家以危難之症屬余，偶值時間衝突，則以畀一照罔弗愈焉，知一照者既日眾，余遂得稍稍息肩。今夏苦熱，杜門避暑，以旬日為期，診務悉委諸一照及室人漢芸。爰招朋好，煮茗清談，以消永晝，偶述生平應症之往事，及一照、漢芸二人之經歷，聞者動容。退告一照曰：「醫術關係人命，如是其重，君家治病之成績，與夫目擊病家憤事之狀，宜輯為一書，廣其流傳。俾一般人知所警惕，有所遵循也。」一照然之。以請於余，其所恃之說，為疾病之戕賊人類，半由於醫家之誤人，半由於病家之自誤，苟能以一二醫家之得失，一二病家之禍福，昭示於百千萬億有病而求醫之人，百千萬億無病而防患未然之人，俾資借鏡，指曲突而徙其薪，遇迷津而渡以筏，亦未始非裨益人群之舉。味其言亦尚有理，夜涼無俚，爰就余與一照、漢芸三人身歷目睹之事，於千萬受診者之中，擇其記憶所及而足借鏡者，排日紀錄，得三十五則。異一照編次之，而付諸剞劂，用付愛我重我者之雅望，為提撕病家之具，無以名之，謬曰醫話。敝帚千金，聊自策勵，文之工拙，言之精粗，非所計矣。</p>

<h1>答客問</h1>
<p>這許多年來，常有人寫信來問我，推拿在醫學上到底有怎樣的效用，一指禪推拿在醫理上又有什麼特殊的優點，我當然是有問必答。但恐怕已經問過的人是知道了，要想問而沒有問過的人還不能普遍的明瞭。因此趁這醫話將要印行的當兒，把所有的問答歸納起來，並作三條，分別寫在下，用極簡單的說話講個明白。這決不敢借此為我個人宣傳，不過希望大家對於一指禪推拿，有一種相當的認識罷了。（漢如附識）</p>
<p>（一）問　推拿和一切中西醫的比較如何？</p>
<p>（答）　一切中西醫，都要研究生理病理。我斷不敢說推拿一定比一切中西醫都好，不過其中有一個最大的分別，是無論中西醫都要用藥，推拿卻絕對不用藥。既然用藥，無論是中藥或西藥，都有「付作用」。藥吃錯了，大誤其事，固不必說，就是有了好醫生，用藥得當，一面借藥力來治好了病，一面因藥性的作用，不免使生理上要起一種反應。譬如滋補的藥吃多了，就要防「膩滯」；表散的藥吃多了，就有些「克伐」，這是最淺顯的例子，其餘更講不盡許多。推拿既不用藥，就沒有因「付作用」而惹起的毛病，可以說是「有利無弊」，也可以說是專能療病而不會「種病」。並且用藥治病，或是吞服，或是注射，都要經過腸胃的消化與吸收，利用著血液的循環，只能算是間接的。推拿治病，病在那一部，就推那一部，卻是直接的。所以有許多疑難症候，病人不宜服藥的，以及特別急症來不及服藥的，推拿就格外來得有效了。</p>
<p>（二）問　推拿和針灸的比較如何？</p>
<p>（答）　針灸與推拿同是中國古代傳流下來的醫術，就其歷史而論，當然有同等的價值。舊時醫書上說：「針長於宣壅滯，灸長於通氣血，古人謂之火輪三味。」足見針灸也自有其特殊的效用。不過舊書上對於推拿和針灸的比較，又有這樣幾句話，說是「推拿宣而不瀉，故優於針；通而不燥，故優於灸。」可是這番話是根據醫理的，平常不解醫理的人，不得明白。我如今再拿極淺近的道理來說，就是推拿的治病，能使病者通體舒適，決沒有什麼不良的感覺。講到針灸，雖然在精於此道的，也斷不會使人感到任何痛苦，卻總免不了有些「刺激」，至少也要起一點異樣的感覺。假定屬於神經性的病，或是病者本身神經衰弱，感受不得些微「刺激」的，就要因此發生弊害，不如推拿來得和平適當了。</p>
<p>（三）問　一指禪推拿和尋常各種推拿的比較如何？</p>
<p>（答）　一指禪推拿和尋常各種推拿分別，非精幹醫理者不能知道，更非對於推拿一科有深切的研究者不能知道。照古時醫籍所載：「推拿一科，發明於岐伯，著書十卷。一曰按，二曰摩，三曰推，四曰拿，及梁武帝時，達摩以為舊法過簡，不敷應症，復取舊法而光大之，增入搓、抄、滾、捻、纏、揉六法。」照這樣講起來，尋常推拿，只有四種，一指禪推拿卻併合新舊各法，加成十種，足見推拿而不用一指禪，在推拿本身上還只是「偏而不全」，所以一指禪推拿比尋常推拿，從醫理上講來得格外深，從效力上講來得格外大，換句話說，尋常推拿有不夠用的地方，就非用一指禪推拿不可；尋常推拿有不能治的病，也就非用一指禪推拿不可。</p>

<h1>黃氏醫話</h1>

<h2>荒郊入睡風寒絡</h2>
<p>某年夏，前浙江省長張暄初氏，病腿，艱於行動，已歷半年之久，遍延中西醫診治均不見效，乃延余推治。張君曰：「醫者論鄙人之病，見解紛歧，莫衷一是，或謂某由於虛弱，或謂系鶴膝風。又有謂系血液不清者，然驗血以後，此說已證明不確。實未知癥結何在。」診察後，告以系汗孔大張後為風濕所襲，致成此病。張君恍然憶及往事，曰：「曩為先君營葬，僕僕長途，既抵墓地，已筋疲力竭矣，所御之裘盡為汗濕，匍匐墓側，竟昏然入睡。旋由家人呼醒，則荒郊風猛，頓覺寒慄，歸後病作。自此以後，步履維艱，腿部雖迭經針灸，而不良於行如故。今聞先生言，洞見病源矣。囊者督辦盧公固嘗告余，此病非就教先生不可，而余因循至今，始勞玉趾，否則早瘳矣。」由是日必推治，至秋而愈。</p>

<h2>服活絡丹不復活</h2>
<p>某年秋，有倪真寅君來就醫，右手拘攣，右臂與右腿行動頗不自如。一照診察後，告之曰：「君之病系肝風內煽，氣血兩虧，達於極點」。倪君曰：「餘三年以前曾來先生處求診，時病猶未深，而先生即云此症頗難痊愈，余爾時殊不謂然，即別就西醫診治，三年以來非特不能痊愈，且日見沉重，先生之診斷神矣！故再來求診。」推治時，倪君初頗欣慰，閱時稍久，忽曰：「推治不日矣，雖日見功效，但余終苦其遲緩，有友人勸余服活絡丹，先生以為如何？時有沈浚文君亦來此候診者，聞倪君言，急攙言曰：「以君之體氣，活絡丹恐不宜服。凡人既不幸而染病矣，亟宜靜心療治，萬不可急求速愈。若求治之心太切，今日服此藥，明日易他醫，非徒無益，且恐一入岐途轉移延誤，是欲求速而反緩也。即如鄙人之病，由於腎虧與痰濕，初病時，求愈之心過切，亦與君同，後以速愈不可求，於是安心調治，余倩一照醫生推治之時期，較君更久，猶不敢躁急，君有數年之宿疾，推治以來，為日尚淺，似應少安毋躁。」倪君沉思有頃，乃曰：「余既受先生之術，又聞沈君之言，已決心不服活絡丹，惟安心以此身付諸推拿矣。」一照謂之曰：「君能耐心甚善，能耐心則木火不升，木火不升則水可以無耗，君病之痊愈雖緩，然為期當不遠矣。」孰知倪君自此推治後，即不復至。一月以後倪君之夫人忽來曰：「外子自前此由先生處歸來後，終不能忘情於活終丹，今已遷入醫院矣。茲因苦念先生，請勞玉趾前往一晤。」一照諾之。倪君既見一照，涕泗汍瀾，悽然曰：「余未能聽先生之指導，已無救矣。今辱枉存，聊當訣別耳。」一照曰：「前月君在余處推治，並無若何險象，何遽一危至此？」曰：「服活絡丹所致也。」一照曰，「囑君勿服此藥，胡遂河漢吾言耶？」曰：「余見他人有藉是而得愈者，故亦服之，初不料有今日之結果也。」一照曰：「君之病之宜於活絡丹，非謂活絡丹不足以治病也。世不乏靈丹妙藥，可治對症之人，而不可愈不合之症，故必須衡量自身之病情若何也。」至是，倪君默然，惟請寄語沈浚文君，謝其曩日規勸之盛意，彼此互道珍重而別。後倪君果不幸下世。沈君聞之，不勝唏噓，甚矣哉！誤投藥物之為害也。未幾，沈君病愈，一日謂一照曰：「余鑑於倪群之結果，益自幸未曾旗靡轍亂，故有今日也。」沈君曾倩蔣竹莊先生（維喬）代書一聯相贈，聯語為「著手成春，天地一指；應病與藥，技術通禪。」亦蔣公所撰也。</p>

<h2>妊娠期內腹痛</h2>
<p>前清兩湖總督塗宗瀛氏之孫媳，鍾氏女也。先是其父嘗於某年患中風，口眼歪斜，四肢不能轉側，多譫語，勢甚危殆。時女之兄鍾鑄甫君，供職於杭之造幣廠，得訊後商之同寅，眾皆推余醫治，應召而往，診察後，語鍾君曰：「此頑痰作祟，年雖高，苟醫治得當，尚不足慮也。」問曾延他醫，有其它診斷乎？答曰：「未延他醫，惟叔父現方行醫海上，巴有電去，日晚可來杭。」余復詳語鍾君曰：「尊公之病，所以釀成之者，痰也；所以擴大其嚴重性者，痰也；多譫語，痰為之耳。幸勿信婦人女子之言，乞靈神鬼。苟延中醫服藥，亦不必張皇失措，亂投犀角、羚羊等劑。苟若是，非特不能化痰，且恐危機愈迫。」於是依法為之推治。明日鍾君謂余曰：「家叔昨自上海來，聞鄙人轉述先生之高論，甚為敬佩，且囑不必服藥，即求先生推治可也。」余遂為之逐日施治，病果日有起色，神志亦清。惟病者生平喜觀劇，更嗜美味，夫人善烹調，故當每次推治時，必令其夫人以點心進，且所制之點心逐日弗令雷同。余戒之曰：「觀劇雖娛視聽，然久坐傷神；美味雖饜口腹，然多食傷胃，幸留意焉。」未幾，因女公子于歸塗氏頗覆勞動，甲子齊盧戰起，鍾氏全家遷滬，自此不復謀面。</p>
<p>某年，余醫寓對門來一新鄰，循俗例分饋糕饅。僕人登門，適余自外歸，一見之下，喜謂余曰：「先生猶記三年前在湧金門外鍾家診病之舊事乎？今先生之新鄰塗氏，為鍾府之姻婭，伊家之少夫人，即我主人之女公子也。並謂我家太夫人，恆稱頌先生之醫術，今既知先生與塗府比鄰而居，不日必來造訪。」數日後，鐘太夫人果偕其女來余家，見其身御素服，急詢以鍾老先生之消息。太夫人喟然曰：「先夫自三年前避兵滬上，寄居塗婿家，以上海劇場甚多，幾無日不置身其中，又嗜肥醲，稍拂其意即怒，不得已從之。一日，在大世界遊戲場忽復攖中風，一時手足無措，只以戰氛正惡，滬杭交通梗阻，而病人又不便久居婿家，乃多方設法，賃屋別居，未數日即不起矣。戰事既平，始運柩回杭，茲有小女有病，特囑其來杭調養，不意竟得先生為比鄰，小女之病可以無憂矣。談次，見余診務大忙，母女遂興辭而去。次日，鐘太夫人偕其女及婿塗俊森君同來，相與閒話，乃知彼此尚有戚誼。塗君即述其夫人之病情，曰：「拙荊溲不暢，而常患腹痛，月事已一月餘未至。」經診察筋脈以後，斷為有孕。塗君曰：「據他醫雲系乾血癆，而先生斷為有孕，殊令余徘徊岐路，無所適從。」余曰：「若誤以乾血癆之治法治之，必陷為小產而血崩。在妊娠期內腹痛，非用活血安胎之手術，不能使胎不下墜也。」於是由漢芸為之推治。十餘日後，塗夫人恰值受孕二月之期，鐘太夫人復鄭重問曰：「小女月事忽於今晨十時復至，惟腹痛如故，小溲稀少亦如故。」漢芸問之曰：「今晨月事來時，能稍覺舒暢否？」答曰：「並不覺若何舒暢。」告以月事至而舒暢，則非受孕，今不覺舒暢，且只一次即止，仍系受孕無疑。是歲夏令奇熱，氣溫常在百度左右，而塗夫人受孕已五月，腹部之痛更劇。母若夫惶急萬狀，惟治後稍安，然仍時止時痛，太夫人不能無慮，仍再三以是否懷孕為問。漢芸曰：「醫家向不願對病人下斷語，今彼此投契，況有戚誼，請斷然以『是喜』『是男喜』五字奉答。」鐘太夫人聞曰：「果如是，則湯餅筵開之時，當以雞子千枚為贈。」言已歡笑而去。嗣後月分既深，腹痛亦日甚。一日鐘太夫人忽來，大呼曰：「真怕」。問以何所懼，曰：「余婿為小女延一女西醫，吾知其為某西人之養女，門愚醫院重地、禁止喧譁之虎頭牌，及兩軍棍，其人則身御西服，洋氣頗重，至於醫術如何，實不可知，余婿力主延請此人，余心所謂危，故呼怕也。」移時塗君亦來，連呼：「不得了，不得了，頃某女西醫來，竟謂拙荊之腹痛由於胃部脹大，不宜勞動。診畢，余請其處方，擬留待前延之西醫斟酌。詎伊答稱，藥方須俟其歸去仔細斟酌，吾今不欲往取藥方。夫此病豈胃部脹大哉！信其言，服其藥，必且無幸。」余曰：「是在君自決耳。以余斷之，尊夫人腹痛，產後自止，無礙也。今為之推治，無非維持現狀，冀有以稍減其痛而已。彼女西醫既有如是之診斷，不妨稍緩數日，再行推治。」塗君唯唯而去。翌晨，塗宅兩女傭扶塗夫人至，促漢芸為之推治，謂自停推後不能小遺，內急殊甚，脹欲死，自是非推不能小解。後因孫軍離杭時，杭人紛紛他徒塗君初以其夫人每日需漢芸推治，未能即遷，後杭垣形勢日形緊張，不得已遷滬。迨十二月，余醫寓亦遷至上海，然彼此不知住址，並無覿面之可能。</p>
<p>次年正月，余乘車至靜安寺路梅白格路口，忽聞車後有呼黃先生者，回顧則鐘太夫人也。又見後車一傭媼，挾一小兒，停車詢之曰：「男耶？女耶？」曰：「男。」鐘太夫人詢住址，余遞一名刺與之。明日塗君來，長揖致謝曰：「君家之術，何其神也，內子果於去冬生子，臨蓐時果不覺苦，產後腹痛果釋矣。」十月間鐘太夫人又偕其長次兩女同來，謂其長女亦患月事停滯。余診察後對曰：「令媛腹中之胎，危險殊甚，因其舌苔抽心。再按其筋，切其脈，知其氣血兩虧之症。以如此體氣而有身孕，宜從速調治，生產後非萬分小心不可。」太夫人自解曰：「余長女體並不弱，特便道請先生診斷耳。」遂相偕去。至次年夏，聞鐘太夫人之長女不幸竟於產後殂謝，並聞其次婿塗俊森君亦病歿於蕪湖云。</p>

<h2>筋絡受損兩臂傷</h2>
<p>康南海在杭，曾患臂痛，由余治愈。茲於未述康君醫病之經過以前，先紀一瑣事。某年，康君曾與人在杭合營聚英旅社，經理陳克卿君知拳術，平日體氣素健，後忽得中風症，纏綿至次年。耳餘名，來上海就診。時康夫人在滬亦患中風，南海為之延德、法名醫診治，知陳君因病來滬，即囑乘便就所延之西醫診治。陳君不從，乃毅然求余推治。某日為之診脈後，余詢之曰：「君何怒之甚？」陳曰：「先生何以知之？」曰：「由脈象知之。」於是陳君不能隱，曰：「今日有一事，實使鄙人不能不怒。頃間有一人勸吾不必就先生診治，彼有一素識之醫院，由伊介紹，診金可減其半，吾聞至此，甚惡其人，輕視吾無力付醫費，而必欲仰賴人之減值。刻至先生處，中心猶有餘忿，不料先生竟能於脈象中察之也。」陳君頗豪爽，有時來診，言及武術，輒在室中振衣攘臂以表演之。余見其左右縱躍而喘，力戒之。未幾病愈，悅甚。嘗曰：「餘年已六十餘，萬不料此病竟獲治，殊屬幸事。曩者居停康公曾囑余赴其滬寓就德、法名醫診治，余雖未從，然康公之盛情良可感念。今余既愈，而康夫人尚在病中，當轉為之介紹，以報其厚意也。」時康夫人正苦久病，從陳言而來，由漢芸診治，未幾果愈。</p>
<p>某年，余至杭行醫，陳君殷殷款待。自是乃常有聚首之相會矣。越三年，康君以臂痛，息影杭垣，頗以兩臂不能伸縮自如為苦，聞余在杭，遂延至別墅。診察後，告以臂痛純由局部筋絡受傷所致，並非體虧，若注射補血劑，或服其它藥品，斷非所宜。康君聞言，乃自榻上一躍而起，甚驚診斷之神，曰：「先生謂余筋脈受傷，斯言誠是。蓋去年冬，余反手令僕人卸大衣時，不覺用力過猛，致有此疾也。」由是連次推治，漸見痊愈。當醫治時，康曰：「余讀先生所著推拿科說明書，知先生之推拿，的系古時一指禪之正宗也。」康君午睡多迎北窗，每日必遊山一次，更喜大啖。余恆戒之曰：「北窗之下不宜臥息，遊山固佳事，然我公年已邁，下山不覺其苦，上山則咻咻然喘，不免傷神，應少跋涉，至於大量之食，更非高人所宜，幸聽吾言力戒多食。」三年後康竟以多食海味，而暴卒於青島云。</p>

<h2>識肝病引火歸原</h2>
<p>葛德和陶器號主人葛璇生君，一日來延余往診。見其面如被酒，神態反常，身軀甚呆木，雖在冬令，而衣甚單薄。問其病倩，曰：「雙目不能上視，不能下窺，胃呆不思飲食，勉強進餐亦堆積胃中，不復能消化。日間尚可勉御夾衣，入夜則熱極不能覆被，即覆單被亦非露雙足於被外不可。登榻後固不能熟睡，且亦不敢寐，蓋睡酣則精立至矣。」更詢其病若干時，曰：「已半年，此半年中，近二月為最甚。」以常情論之，食少而又耗其精，其人必虛弱不堪，然葛君不覺十分疲憊，且談話時發音尚清晰。經反復診察後，斷其病於腎者少，而病於肝者多。葛君曰：「鄙入之症經多數醫者診治，均未能奏效。即向來為余治病迭奏奇效之醫生，亦無成績可言，吾病殆真不起耶？」旋出示諸醫先後所處之方，類皆抱薪救火，揠苗助長之劑。葛曰：「凡此諸方胡不妥者，先生第恣言之，萬勿循醫家之慣例，有所顧忌，安於緘默，吾苦病魔之磨折久矣，幸憐而教之。」余觀其情詞懇切，爰告之曰：「諸方都不察病源所在，而用紫河車之方尤謬。紫河車之為物極腥臭，寧能多服？今連進二十餘劑，無怪胃部呆滯，不思飲食。且時值冬至陽生時，氣既上升，故精下泄更甚。君之病十之五誤於醫，其它五分，二分屬於腎，三分屬於肝。所有為君診治之醫者，均著眼於腎，而未顧及肝，此其所以不能見效也。君苟聽余診治，則余治肝不治腎，肝病既愈，則腎病亦隨之而愈。」葛曰：「此誠余抱病以來，第一次所聞之精闢議論，然則此病果猶有救乎？」曰：「君之病誠深，然尚有望。」葛問一日推治二次可乎？余曰：「一指禪本有兩儀之法。」翌日清晨，葛走伻來言昨日氣悶，推治後稍舒，請每日午飯後及晚飯後，前往推治兩次。十餘日後，正推治時，葛君忽曰：「腰以下勿推可乎？」余異其言，曰：「此君之意乎？抑他醫之主張乎？若為君意，則君固非醫家，無足深怪。若為他醫之意，則余為盡責計，不得不實告曰，今日之事我為政，若容他人置喙，有百害而無一利。所貴乎一指禪者，乃在知病之所在而推治之，並非如其它推拿家，不知病源可以為他人之意思所左右也。」葛君不得已，對曰：「此係他醫之意，蓋以余近日滑精之量更多也。」余乃以淺顯之說喻之曰：「人體下部發泄之物，精之外尚有便溺。此君既謂推治下部恐遺泄更多，何君之便溺仍如前艱澀乎？既承不棄，請為君詳論人體各部器官之為用。夫人之臟腑，譬猶所雇之工役，無病，則臟腑為良匠，為忠僕，設或有病，當詳察其臟腑各部，究系何部未能稱積。以君之滑精論，其病在腎。腎何以虧？以理推之，當然為近婦人，斫喪過度矣。然此病設果因漁色，幸喜悅余直言，君墓木已拱矣，豈猶能支持耶？且連日與君晤談，應對亦甚敏捷，以余診斷，知君之病，定不專在腎，而實在肝。然則肝陽何以如是之盛？若不深求其故，則必以為君之體質如此，但以余觀之，當別有原因，此殆蘊結特殊之熱而傷肝也。」葛君至是乃正色曰：「先生可謂心細如髮矣。實告先生，余陶器出口商也，窯中工作，必躬往監督。」余曰：「窯中之熱君何以堪？」曰：「不得已也。病殆肇因於此乎？余家業此已數世，先代皆有肝旺病，而余亦略知醫，今聞先生之診斷，吾病雖尚未愈，然心中已覺非常愉快。」余曰：「君之病確在肝火太旺，諸醫咸著意於腎，不知腎猶君之僕焉，肝又為腎之損友。諸醫但顧念腎虧，予以接濟，謀所以補益之，而未知肝方日伺腎後，分耗其所受之滋補，是肝之侵耗一日不息，則腎之虧弱一日不復，徒事補腎，無益有損。此時亟宜息滅方張之肝火，則腎水自源源而來。譬彼陶器之在窯中，其火候亦須適當，否則，器皿未有不壞者也。」葛君曰：「先生妙論，信足發聾振瞶，自今日始，當專就先生推治，不雜投藥劑矣。」余曰：「余向不反對藥品，惟以為不宜亂投耳。今再為君進一言，君之病尤宜緩治而不可以求速效，否則，今日似覺進一步，明日必退三步，所謂欲速則不達者是也。」葛甚以為然，乃逐日為之推治。一日葛君曰：「近日胃納已不若前之呆滯，雖不能熟睡，然心神已較前寧帖矣。」如是約兩月後，余向葛君曰：「此時君這胃部服紫河車之積穢已清，可為君作第二步工夫，法宜引火歸原。明日當為君施用此手術。」臨行時密告其公子曰：「明日為尊公施用引火歸原之法，當在某穴推治，特恐令尊不能忍受耳。」公子曰：「萬一不能忍受，又將如何？」曰，「不妨。余當為推他穴代之，惟推治他穴，其功效非常遲緩，請暫秘之，待明日施用手術後再定方針也。頃在令尊前，並未言此，恐其起心理作用，不能順利進行也。」次日為葛君在某穴推治，方數下，葛君果覺不能受，於是乃改推他穴。俄頃，葛君覺氣向下降，稱炔不肯。時葛公子在側，曰：「先生昨日謂如用他穴代之，奏效極緩，何今日家嚴感覺愉快，如是之速？余笑而不答，旋覆密告之曰：」君勿以為速。」公子曰：「其故安在？」曰：「此令尊之知覺經外顯耳，非病勢減輕之現象。凡病深之人，感覺不應如此敏銳，且令尊之知覺經外顯，實因肝經受傷過甚，幸影響僅屬局部，果周身如此，則病必不可救。一指禪之書曰：『凡人雖力大如牛、健飯如虎者，苟知覺經外顯，生命不能延至三年以外也』。」如此推治多日，滑精之病漸減，食後胃部漸舒適，睡眠亦較安矣。迨春令將屆時，葛君以冬至時病大作，深慮春令將復轉劇。余曰：「當冬至時，醫者對於君之病源，皆未能有把握，故病大發。今余已知癥結所在，且依推治之步驟，為君療治，春令來時，當無防礙，幸勿過慮。」後至春令，果無大變，惟雙目仍感不能上下視之苦。乃勸其養鳥，並蓄金魚，閒時可俯觀金魚，仰矚籠鳥，使雙目之視線，於不知不覺中漸漸可以上下。於是葛君乃依此主張與步驟，靜心療治，日有進境，祈寒時能御裘，夜能安眠，晝能視事矣。</p>

<h2>傴僂顴赤應手愈</h2>
<p>吳義齋君，任杭垣警務處秘書長。某年夏，痰濕宿疾大作，痛苦萬狀，知余在杭，遂來求治。診察畢謂之曰：「所患之癬，乃由於濕。濕外發而為癬，此係好現象。今亟宜努力治痰，不使阻滯氣機。癬疥小疾，置之可也。」推治後，痰果活動。秋間齊盧戰後，吳君復任省署秘書長，軍書旁午，公務益劇，積勞之後，加以感冒，於是牽動宿疾，淹然病矣。復延余醫治，反復叮嚀，非節勞靜養不克有濟。某日症忽轉劇，黏痰上湧，口生白糜，飲食不進，委頓已極，而癬全隱沒。其家人謂吳君前一夕因要公，奔走樓上下者凡五次，未守節勞之戒。嗣家人復出一藥方相示，內有人參三分。余始知其為參所誤，乃婉言謝之云：「論病體之虛，三錢猶恐難見效，論濕阻之勢，三分已大足僨事。口生白糜並非全屬虛症，蓋病者口內之白糜不能拭去者為虛。今白糜一拭即去，乃濕痰上湧，肺中受病所致，誤以為虛而進以人參，殆矣。余實不能為力，請從此辭。」</p>
<p>旬日後，吳夫人之嫂周劍秋夫人挈其子來求醫，由一照診治。見病者傴僂特甚，周夫人云：「吾子之病久矣，諸醫見其兩顴發赤，骨瘦如柴，入夜輒咳嗆不止，皆斷為癆瘵，服藥打針，咸不奏效。近因襄理姑丈喪事，乃知吳君之死因未從漢如先生之言，鑄此大錯。前車之覆，後人足戒，故來此也。」一照診察後謂之曰：「令郎病源甚簡單，肺中為風寒所襲耳。若在成婚以後，不免釀為癆瘵，今尚系未成年之人，決不致成瘵，惟不宜再進補。」乃為之推治，果有起色，體漸肥壯，不復如前之瘦削，腰背亦直伸，不若前之傴僂，嬉戲活潑，一如常兒，較之未推治前判若兩人。一日咳嗆甚，其母疑有變，一照慰之曰：「是何足慮，此仍系受熱後為風所襲之故，推治數日，其嗆必止。」母始恍然，因憶及前日之事，曰：「小兒日前正在家中嬉戲時，因跳躍出汗，解衣納涼，忽聞門外鼓樂喧天，未及披衣遽爾出門往觀。先生所謂熱後受風，殆系此時耶。」一照更囑其冬令須注意，若能防護周到，繼續調治，則此症根株盡絕，永不復發。明年夏，周夫人再挈其子女來，並偕一中年男子。詢之，知即周劍秋君。周君欣欣然有喜色，曰：「鄙人在粵經營茶業，居家時少，前接家書，知小兒病痊，初未料推治之法有如是驚人之成績也，歸來見其身軀健壯，面色豐腴，喜出望外。惟是小女腰間生一硬塊，頗感痛苦。鄙人亦以身體肥碩，常慮中風，近已有痰壅之患，若談話過多，即不覺昏昏睡去。今請先生為吾父女醫治。」當由漢芸為其女公子推治，周君由一照為之推治，均見效焉。</p>

<h2>哭聲驚午夢</h2>
<p>某年春，余醫寓自杭回滬，鄭洪年先生之夫人病，公子鄭寶照君因母夫人歷試中西醫，俱未能獲效，爰相招前往，為之推治。診察之下，知系氣虛中滿之症，旋以手術，尋愈。而鄭寶照君忽謂伊喉際似有物梗於中，頗以為苦。余曰：「此病系虛氣上升，並無何物，他日氣平，梗即自止。君亦曾延醫診視乎？」曰：「曾就西醫診察，謂喉間實有一物，一經療治，即可不梗。越數日後，此君以鏡射照，謂喉間已無物矣。然余之梗如故，遂亦聽其自然。今遇先生，特乘間求教。」於是為之推治，其效驗較鄭夫人尤速也。方余為鄭夫人醫治時，一日鄭夫人曰：「余自經先生推治數日後，病即轉輕，所不解者，即邇日之進步，何以未能如開始推治時見功之速？」余曰：「夫人當開始推治時，病勢甚重，且服藥亦不見功，乃令郎忽於此千鈞一髮之際，幡然改計，矚余推治，此為對症之療法。療法既能對症，則病自減，而夫人如重負初釋，頓覺效驗之速。譬彼急需金錢接濟者，若驟有人貸以貨，自覺此種接濟效力絕大。迨此人之困既得稍舒，則金錢之力似不若從前之巨矣。今夫人病已去其大半，自不覺有何顯著之效驗。殊不知無形之中，病體正著著進步也。且當夫人病重時，家務自不使夫人知之，即知之而亦不能顧及，今已漸趨康復，自必勞心神，顧家事，遂不能安心養病。病既不能安心靜養，則其減退必緩，此又自然之理也。」次日，見鄭夫人之病突有加重之象，詢其故，知昨日午睡之際，忽聞哭聲，時其孫方發痧疹，故聞聲倍益驚惶，乃亟披衣起床，奔出室外探視，方知此哭聲乃在三層樓上，蓋彼時方居亞爾培路，三層樓正在修理，一漆匠學徒因受其師之責撲而大哭。夫人因此受驚不少，故其病象遂如洛鍾之應也。余故力勸其屏除一切，靜心養病，夫人從之，不久果康復如常矣。</p>

<h2>病體多勞終受損</h2>
<p>上海總商會會董田時霖君之至杭也，余方在杭行醫。一日，有人來招赴六通寺診病，謂系紹紳慕名來杭求診，請速往。至則田君殷勤致詞曰：「余因經營商業，操勞過度，致體氣日虧，飲食減少，夜不成寐，遍及名醫診療，俱不獲效。嚮慕先生名，欲仗一指禪之功，恢復健康。乃在滬遍訪先生之住址而不可得，後有人謂先生已在杭行醫，會有舊友某君力勸余易地靜養，故來杭垣，今可以就近領教矣。」余見其體氣虧弱萬分，乃勸以屏除一切俗務，靜心療養。田君曰：「余不但屏除一切俗務，且已不復念有此身矣。」余曰：「善。君能不以此身為念，則此身終能長保也。」推治之下，一日有一日之進步，飲食既增進，夜眠亦安。旬日後，田君欲回滬料理公務，謂余曰：「鄙人今不得不回滬，然不久仍須來杭，蓋旬日以還，余得先生推治，體氣已漸見恢復，事竣後亟欲重來推治，以竟全功也。」余曰：「君苟必須返滬，可勿再回杭垣矣。君嘗謂已置身世外，專心療養，竊以閣下邇日就滬間函電紛馳，似仍復勞神矣。須知醫治之效，不敵形瘁神之害。君此次遄行，舟車勞頓，最不宜於初愈之身，故余以為既回上海，可在滬設法調治，節勞靜養，萬勿再僕僕於滬杭道上也。」兩星期後，田君果再至杭。既見余，乃曰：「余此行於病體並未有何不利，雖處理事務，日不暇給，而不覺其憊也。」迨為之按筋切脈，覺田君之體氣大遜於前，全系虛陽外匯之象，爰囑其不可過於樂觀。彼猶自詡病體康復，能忍飢耐勞，余曰：「食少事繁，常人其猶病諸，而況君乎？」後其記室某君告余，田君邇來大忙，往往夜以繼日，深以為苦。余曰：「病體如斯，勞心勞力又如斯，其能久乎？余荷田君信任，目一指禪為萬能，殊不知一暴十寒，雖盧扁再生，亦復奚濟？余再當痛陳斯義，作最後之忠告，冀其幡然改計，不復力疾治事，庶猶有挽救之望，亦所以報田君也。」翌日，謂田君曰：「君以為病體有漸痊之象乎？平凡醫家治病，病勢危殆不足優，病情複雜不足慮，而獨患症之反復。此在風寒暑濕之症，尚可奮力挽救，咄嗟立效者，猶且以反復為大戒，而況外強中乾如尊體者乎？吾今謂尊恙已反復，君必不信，須知閣下之病體，正如敝舟樹巨桅，放乎中流，一若毫無險象，舟子憂之，力下其帆，以期穩渡，此余推治見功之處也。今閣下又復聽夕勞苦，是帆已下而復飽張之，桅質本已朽蝕，乃又使之當疾風，行見桅摧而舟覆耳。幸速靜養，毋貽後悔。」田君唯唯，而終不能毅然息肩。余知縱復推治，亦無效矣，遂婉辭之。後田果在杭逝世。甚矣！病者不能靜養之為害也。</p>

<h2>推拿奈何用蠻力</h2>
<p>某年春，前浙江交涉使王省三君之夫人患肝氣症，來就診，當由漢芸為之推治。方切脈，王夫人見推拿亦須診脈，深以為奇。漢芸告以：「一指禪治病，其望聞問切之功，實較任何醫學更為周密，寧有辨證之時而不診脈者。」夫人聞言，為之動容。推治多日，病良已。方王夫人受術時，一日，述其往事曰：「余前深信推拿之功用，抱病之始，曾登報徵求推拿女醫生。一日，果有一女醫生來，談數語，即舉掌在餘頭部及全身各部分，一味揉擦。余訝其不似推拿治病，故婉辭之，後雖有應徵者，亦無大效。自來此推拿後，始知一指禪之可貴也。」</p>
<p>前杭關監督袁思永君之太夫人，手臂痠痛，曾延一女醫生推拿，詎知此女醫於推拿一道，初無研究。袁太夫人覺其施手術時，不知癥結所在，任意用力推按，較不推時更覺痛楚。後聞人盛稱漢芸，乃延之推治。第一語即以推拿是否痛楚為問。對曰：「推拿止痛則有之，萬無再增痛楚之理。其有病已深，筋絡麻木，推治多次後氣血方始活動，此時轉覺難受者，斯則由麻木而得知覺，系病有轉機之象，殊不足慮。但亦不可用蠻力推之使痛也，目感受風寒者，拿筋時或感痠痛，一住手非惟不痠痛，且覺舒暢。今太夫人之病，實系風濕，施術時絕無痛楚也。」太夫人始但然，推治後，臂部之痠痛悉除，無伸縮不便之苦矣。吾人每謂精微玄妙之推拿學術，反不為世所重，相與扼腕太息。今觀於以上二事，則一般人對推拿無正確認識，果誰之過歟！</p>

<h2>風邪盡去久咳止</h2>
<p>楊樹芬君患咳嗽頗劇，年久不愈，來就一照推治，一照為之按筋切脈以後，知其肺部所襲之風，因誤服補藥，無從宣泄，遂致久不愈，爰據實告之。楊君聞言，甚以為詫，迨一照反復講論，彼始恍然，於日逐推治。以常情論之，病當日減一日，然若楊君之症，則須經一種過程，蓋即愈推愈咳，必待風邪去淨，始立見平復也。楊君經推治後，咳嗽果因推治而加劇，楊雖已聞一照之預告，然不免惶慮。乃申說此係肺部風邪外泄之現象，不足慮也。後果逐漸減輕。一日，天氣驟寒，復因感冒而傷風。傷風愈，咳嗽亦止，此四年前之事也。今春忽又來就一照推治，乃詢以四年來之情形。曰：「甚平安。今春以天氣久寒，宿疾又復發，自知病根未斷，終屬非計，頗望繼續推治，冀使此病永不復發也。」至春分節時，咳嗽果止。如楊君者，對於一指禪之推拿，可謂有絕對信仰者矣。</p>

<h2>多投補劑致病</h2>
<p>世人於體氣稍覺疲弱時，每喜服用補品，以為能固本。然服補品亦未必盡能獲益。前合肥李國筠君以咳嗆多痰，延余推治，初頗應手，嗣余以其舌苔厚膩，脅部疼痛，囑其停食銀耳。李曰：「餘食此物已數十年，似已成為習慣。今先生既殷殷以停食為勸，余當遵命暫停也。」後果並無不便之妙。舌苔亦不如前之厚膩，且咯痰亦較活動，不若往者之費力。李初頗以停食銀耳為得計，繼忽慮身體終必虧弱，復擬再進銀耳，就商於余。余曰；「君之患在痰，今痰既活動，自當屏此膩性之物，以期早愈。至於君之質體，並非十分虧弱，實不必鰓鰓過慮。且多服銀耳，益足塞君之肺氣，他日若再因此吐血，則危險不堪設想。」李聞余言，惟惟否否而已。</p>
<p>翌年，李侄以患筋骨痛延余推治，言次，談及李君病歿情形，知其生前自經余醫治後，病體稍平復，即不復推治。既而病復作，則有人另薦他醫診治，且不捨銀耳，又亂投補劑，寢至不救。是雖余不幸言中，然亦不聽忠告之遺憾也。余非反對進服補品，第須視其人之體質當補與否耳。且年老者，亦非全需滋補。如武仲平君，年已八十六，體素健壯，盛暑啖瓜，不讓少壯之人，嘗因多食冰綠豆粥而病，經余治愈。後腿中有疾，又延余推治。晤時必暢談舊事，歷歷如在目前。一日，忽詢其公子曰：「爾亦能記憶余上次大便在何日乎？」曰：「似在黃醫生初來診之翌日。」余愕然曰：「果如公子言，君已有十餘日不大便矣。」武曰：「是何足怪，余向來每月大便二次，苟有三次，則轉覺其反常矣。」余乃默忖，常人大便秘結，固百病所由生，然此老之消化器官或較常人為特強？若武君者，苟誤認其體質，以為與常人無殊，於是慮其腸胃有病，而急於通利。見其年事已高，而勸以滋補，則隔靴搔癢，無益有損矣。觀以上二事，李以不當補而補，終致不起，武以不需補而不補，竟占勿藥。可見補品之為用，非如菽粟可盡人飽啖也。</p>

<h2>反胃症霍然而愈</h2>
<p>楊善卿君患胃病過深，雖飲食數量如常，而精神萎頓，且每次進餐後，所食之物必全數嘔盡，否則日夜不安。一日就余醫治，問其病情，知患胃病已七八年，胃部不能容物，非全數嘔盡不可。此蓋反胃症也。楊君更詢須推治若干時始能痊愈？答曰：「君之病系內傷而非外感，因天時與環境種種關係，何時痊愈殊難確定，若果貿然言何時能愈，其人必非醫者。」楊君曰：「斯言殊有至理。余適往某醫生處求診，彼謂余之病甚易治。余心甚奇此醫生之能斷，默唸吾病已七八年，嘔吐之勢今又加劇，將益難治，彼既謂易治，乃詢其果有何術，使痼疾之除如此神速？彼曰：『余家有秘藥，服之七日必痊。』吾聞其有秘藥，乃愈疑，甚不願購服無把握之秘藥，遂稍事寒暄而退，特來先生處求治。」余曰：「君既以余之不敢確定為是，余亦深以君之不求速愈為智。」楊君曰：「余若能於病初起時，不求速愈，病早愈矣。惟其求速，病轉加劇，故今不敢再言速愈矣。」於是為之推治。約二星期後，楊君甚喜其病之輕減。余曰：「未也。君連日所以感覺愉快者，是殆君之胃部逆氣，經余推治以後稍為舒暢而已，嘔吐雖稍減，而宿積猶未盡除也。」越數日，楊君曰：「吾病愈之期不遠矣。」詢以何故？曰：「吾曏者食量雖不減，然珍饈入口，味同嚼蠟。昨日吾遊邑廟中，覺攤上所售之食物咸有異香。」問曾購食否？曰：「未敢多啖，僅進點心四五件而已。」曰：「毋多食油膩。今雖進四五件，然必再嘔吐也。」明日果然。越數日更嘔酸餿之水甚多。余曰：「君所嘔吐既已覺有酸餿之水，則胃部之宿積開始出動矣。但願日日嘔此酸餿之水，久之必逐漸減少，以至於無，則嘔吐亦不再作矣。」後果霍然。</p>

<h2>大腹便便非受孕</h2>
<p>某年，余等在滬行醫時，醫寓比鄰有一婦人，腹大異常，漢芸甚以為奇，謂余曰：「余觀比鄰之婦腹部隆起之狀，與尋常孕婦異，似病而非孕也，竊願有機會以證余言，且資研究焉。」一日，彼婦翩然戾止，以新鄰為名，造謁漢芸。延之入室，展詢邦族，知為雷姓。談次向婦曰：「夫人娠幾時矣？」婦聞而赧然曰：「懷孕已一年有半，真不知何日臨蓐也。」詢以曾否就醫？曰：「余之月事，每間三月一次，據某西醫云，孕婦月事三月一次，勢必再延三月。通常十月生產者，此則必須十二個月，或十五個月，然今已一年有半矣。」更問曾就中醫乎？曰：「所就診之中醫更多，迄今藥方積數寸矣。今歲七月餘感腹脹痛，乃往前診之某醫院求治，醫生囑余速歸，彼當於晚間來余家接生，而是晚腹痛忽止。顧余所謁中西醫皆謂余系受孕，藥方具在，可以覆按。明日俟黃醫生診務暇時，當攜來就正，並請再為余詳加診斷。」漢芸應之。婦去，向晚復來，持中西藥方各一厚疊，來求診，曰：「吾不能待明日，不知先生能破例為余診察乎？」漢芸本欲窮其腹部膨脹之究竟，許之。於是余與漢芸及一照三人，為之輪流按筋切脈，咸覺其並無受孕之現象，乃以實告之。詳檢其攜來之藥方，用藥各異，有為之破氣者，有為之破血者，其中又有用黃耆、黨參等滋補品者，而彼婦服此方之時，正在月事初斷後三四個月，且此方服之獨多，乃詢其月事停後，曾否有其它現象與痛苦，曰：「無之。惟外子年事較余稍長，望子心切，故百計為余醫治耳。醫既謂系受孕，外子亦欣然不疑，並益加慎重，力事調補。今外子供職陸軍部，余當以先生之診斷，函告外子。」余曰：「函札恐未能敘述詳盡，易滋誤解，不如俟其歸來再定醫治之方針。此時即囑余醫治，亦未敢貿然從事，蓋以女流子身在滬，人皆知已受孕，而余等獨持異議，假使他日因推治而腹部恢復常態，有多量之白色汙物下泄，則人且誚余傷胎，余實不任其咎也。」婦聞言乃曰：「外子將回滬度歲，不知在此期間，亦有其他危險否？」曰：「無妨。」婦遂辭去。迨陰曆十二月下旬，婦患血崩，漢芸往治，婦曰：「前日接餘外子家書，謂不復回滬度歲。余以年關在即，不得已乃回鄉料理年終瑣事，今日乘車回滬。在火車中即覺腹痛，深以月事忽來為慮，蓋余腹痛時，恆有此現象也。迨抵滬站，匆匆歸家，稍進飲食後，月事果來。頭部暈甚，乃即臥床，此時猶覺月潮未止。」漢芸謂之曰：「以余之診斷，如此現象極佳，腹部之病，或可以因此而去。惟前承見告，謂曾延西醫診斷云月事三月一來，須再補三月，何妨再延之診察。」婦曰：「余不欲再作無謂之麻煩矣。前已將先生之診斷函報外子，覆函亦以為然，擬待其歸來，偕余到府求診，不料來書謂須正月初始回滬。」漢芸始為之推治，告以明日月事若不急湧，不妨靜養，待正月間雷先生來滬再定方針。明日又來相招，謂自昨日推治後，月事已不急湧，今再請推治。越日而此婦親來余醫寓，謂月事已。止，且謂與三月前月事來時之情形相同，惟較前稍多耳。余曰：「然則猶以腹大為孕乎？」婦聞言微笑，似猶默認其腹大為受孕。明年仲春，婦偕其夫雷素安君來，詳詢病之真相。余告以：「尊夫人之腹大，實病而非孕，不努力醫治恐成大患。醫治而仍持安胎之政策，則為患尤不堪設想。」雷君曰：「余實因望子心切，故日冀其為孕而非病。」余曰：「但願月事如期而至，斯大佳事耳。」雷曰：「鄙意仍擬稍事觀望。」余曰：「君意如斯，余亦無如君何，惟有一語君須記取，尊夫人苦上下樓時，感覺呼吸急促，則不可再事觀望矣。」曰：「現在呼吸已感急促，不知再有更危險之時乎？」余曰：「他日雖行平地，亦必喘息不止，此為其最危險之時矣。」雷君唯唯辭去。至四月間，雷君復來，曰：「因內子稍一行動，即感呼吸急促，不思飲食，有流下形似白帶之汙物甚多。擬勞先生推治，惟又慮推治以後，陷為血崩。」余曰：「客臘為尊夫人推治，乃在尊夫人血崩以後。且推後血崩即止，並非因推治而血崩，君不必過慮。且尊夫人有流下形似白帶之汙物甚多，乃為腹內通暢之證明，此固極好之現象也。」於是逐日由漢芸為之推治。約兩月餘，腹部漸見消縮，飲食大進，恢復常態矣。某日，雷君來問曰：「拙荊之病現已告痊，余擬請先生繼續推治，俾恢復昔日之健康。惟經此一病之後，不識將來亦能受孕否？」余曰：「常人每以子息有無之責任，委之於婦人之身，為之調經。余以為男子亦未可卸此責任。尊夫人之月事，將因推治而調和矣，然君之身體，亦應加以相當注意。」雷君聞之憬然，即由一照為之診察。斷以肝木太旺、腎水不足。迨木火平後子息乃有望，實現之期當在三年之後。雷君醫治至孟冬時乃罷。三年後雷君之夫人果舉一雄，越數年又生一子焉。</p>

<h2>中風得痊</h2>
<p>中風之症，最為危險。中於經者，則口眼歪斜；中於血者，則半身不遂；中於臟者，多滯九竅；中於腑者，多著四肢。人皆驚此症之不及預防，殊不知病根已伏於數月乃至數年之前。始則手指略有麻木，以其旋愈不以為意；繼則臂部似伸縮不便，亦因旋即平復，故又不以為意；致令此症日深一日，終至一發而不可收拾。倘能幹病初萌時，醫治得法，未嘗不可轉危為安也。如杭州前總商會會長宓延芳先生，某年忽患中風，延余為之推治。詳為診察後，宓之公子即某名醫所處藥方徵詢意見。方中雖盡為名貴之藥，但於病人無益。向晚復走伻來延，謂宓君自日間推治後稍覺清醒，迨既服藥，又復昏迷，遂決定繼續推治。並將另一醫生所開之藥方請為審查，余覺其尚能對症，乃一面令其煎服，一面為之推治。三四日後，所用之藥因醫生一再更改，又入歧途。余遂語其公子曰：「近日藥方恐又不能對症。」公子固聰慧者，遂停止進藥，專由余推治。二星期後，病果霍然。</p>

<h2>胃下垂</h2>
<p>有黃女士者，患胃病，延漢芸醫治，依法循上而下，按部推治。詎伊忽謂胃已下垂，請勿再向下推。漢芸乃謂之曰：「女士當明醫理，幸勿泥於形式。試觀大雨之時，人皆以為天低，非天低也，氣壓之低也。迨云消雨止，彼沉沉欲墜之天又復高爽矣。今女士之病，雖曰胃垂，實則氣之下垂有以致之也。曩有金夫人所患與女士同，按法推治，日就痊愈，胃並未更向下垂也，女士何鰓鰓過慮耶。」於是推治數次而愈。</p>

<h2>每日吐痰升許</h2>
<p>人不能不有病，有病不能不延醫服藥，盡人而知之也。延醫服藥，固所以祛病，然稍一不慎，不但病不能祛，且愈增痛苦。甚且誤於醫藥，而不能永其天年，亦可傷已。有王叔銘君，年逾古稀，精神猶矍鑠，惟患痰症，多年不愈，日必吐痰升許，每睡又必乾咳十餘次，痰始得出，深以為苦，服藥數百劑，曾無毫末之效，不得已求助於余。余向其索閱曩者諸醫所處之方，內有一方最足以增其病勢，而彼服之亦最多。綜計所服石膏不下十數斤，麻黃十餘兩。余乃謂之曰：「君之體質可謂強固矣，在他人患此病而服如許麻黃與石膏，則墓木拱矣。但就閣下而論，亦僅能帶病延年，欲完全產除病根殊不可能。」王曰：「余亦惟冀痛苦之稍減耳。」推治月餘之後，彼忽以其病何以不能速除為問。余曰：「君何健忘耶？此病延誤至此程度，必不能除根，早為君言之矣。雖然君可毋憂，君之病可謂太平病。」王曰：「先生於病之上加太平二字，誠百思不得其解。」余曰：「君不必思，亦不必求其解。君之不死，即太平病之確證也。」繼續推治二月後，每日所吐之痰已由升許而漸減為二、三合，每睡亦不若以前之多幹咳。今王君尚健在，但當日所受誤服藥劑之苦，可謂甚矣。</p>
<p>未幾而有徐文彬君之事。先是徐君之弟婦，嘗因肝氣，為漢芸治愈，嗣伊以徐君雙眼模糊能否治愈來問。當即告以病在肝腎，可以推治。是年秋季某日，有一人愴惶來余醫寓，自稱系眼科醫生，因診療徐君目疾之關係，假徐家設硯應診。是日徐君告彼擬延余推治，正談話間，徐忽蹲乾地，彼即抱之起，復以彼既有延余推治之願，乃來相邀。既抵徐家，此君忽揖余，曰：「請先生稍待。」余遂坐廳事以待之。移時一御西服者，提皮包自內出，余心私忖，殆伊家所延之西醫也。正私忖間，彼眼科醫生復來揖余，以再稍待為請。詢其故，彼乃吐實，曰：「徐君以及夫人與其弟，均欲延先生推治，而其子女及婿則堅主延西醫，余處其間，左有為難，故請先生稍待也。」余曰：「是何難，既堅欲請西醫，請西醫可矣。然余頗願與病者一面，俾得切其脈息，以為討論之基礎。」乃延余入徐之病室，切脈以後，知確係中風之症。頃西醫來，已將冰帽加諸其首矣。余甚為之危，乃忠告其家人曰：「吾知君等對此病，有以西醫為是者，亦有以中醫為是者，方議論紛壇，莫衷一是也。余意無論延西醫或中醫，在家人立場言之，彼此意見雖不同，而挽救徐君生命之心則一也。惟余有不得已於言者，即徐君之病雖系中風，然病勢不重，且即使甚重，冰帽亦非所宜，因不合於中國人之體氣也。倘以余言為謬，不妨另延西醫從事商榷。余知有經驗之西醫，必不偏重機械式之理論，而有冰帽之主張也。」五日後，彼眼科醫生者復來相招，余曰：「去亦奚益？」曰：「伊家始延西醫，繼以未能奏效，復改請中醫。昨該中醫聞曾延先生推治而未果，乃力勸其再請先生前去，以圖挽救。」是時余若拒之不去，病家必以余為意氣用事，不得已乃從其請，並謂此君曰：」徐君之病已無救，去亦徒勞往返。」曰：「勿論生死，姑勞玉趾。」及抵徐家，徐君果不省人事如故。爰謂其家人曰：「已無救。余嘆君等不應過信第一次所延西醫之言，遽加冰帽，余既進忠言以後，猶不另請西醫，斟酌冰帽之是否能用，以致一誤再誤。茲雖改請中醫，更招余來，然此病已成絕症。雖盧扁復生，亦無回生之望，其速為病人處理後書，一二日內必有變也。」三日後，果見報載徐君謝世矣。王叔銘君誤於不究藥性，致成痼疾，而此君則誤於過信醫生，且因一誤而斷送其生命，尤可悲也！</p>

<h2>病室內高宣佛號</h2>
<p>某年春，岑西休之夫人病，延漢芸往治。岑夫人病已久，肝氣串於筋絡，左臂不能舉。先是有人介紹一推拿醫生推治，既不奏效，病轉加劇。於是即以推拿為不足道，改延西醫，用電氣療治。豈知左臂因用電過度，膚忽呈枯黑色，且神志昏迷，多譫語，肝風內動，勢甚危殆。而家人對於藥劑，則中西雜投。食物則時而牛乳，時而雞汁。更可奇者，一面延醫診治，一面復謂奉佛家法師之命，令家人四名晝夜在房內高宣佛號，喧囂不已。漢芸見此情形，乃正色告之曰：「病人處此環境中不易平復。」診察之後，黨外象雖若可治，而細按病情，實無生理。歸告余，認為此症已非人力所能挽回，以不忍其無救，姑令余於岑氏復來延請時，前往一試，以希冀於萬一。詰朝來延余前往，診察後告岑君曰：「尊夫人之病，系肝風重症，須待三星期後，始可確斷能否獲痊也。」次日，往推治，岑君笑謂余曰：「拙荊之病有望矣。今日已如廁，且飲食亦可多進，中西醫皆謂有望，先生以為如何？」余診察後，知其大便系醫者以藥劑攻出，至於多進飲食，亦屬反常，益以人事昏迷較前更甚。仍告以不能確有把握。岑君聞之不悅，遂不復來招矣。同時宜興陶器商人葛旋生君（葛君之病詳情另有所載）亦因病延醫，余偶與談及岑夫人之病狀，及其難治之情形。未幾而岑夫人之訃告赫然現於報章。葛君謂余曰：「岑夫人之死，屈指計之，適閣下初次診治後之第三星期，君之診斷可謂神矣。」余曰：「吾始為之按筋診脈時，知其肝腎兩臟將絕，其生命最多不過三星期，因不便明言，故諉謂須待三星期也。」明年，岑君患痰喘，延余醫治。岑君傷感殊甚，並未道及夫人病歿之事。直至再越一年，漢芸為其媳治肝胃病時，其家人始重提往事，相與太息。岑夫人之病，其初僅系肝氣復發，而飲食雜進，藥餌亂投，一誤再誤，至於肝腎皆絕，雖盧扁復生，無能為力矣。</p>

<h2>五更泄瀉</h2>
<p>某年，有湯楊錫琳女士之幼女，因風寒痰滯之症，在某醫院住療。院醫謂其病入膏育，拒絕療治，乃延余推治。余以前在杭時，每值主日，湯夫人與漢芸同在湖山堂聽道，深敬其為人。同屬基督信徒，不容不排萬難以挽救之。遂慨然往，見女病勢果沉重。乃謂湯夫人曰：「夫人對令媛之生死，作何觀念？」曰：「余確知小女無生望，但尚冀其或有萬一之轉機也。」余曰：「彼醫院中人既已拒絕，是對於令媛無辦法矣。今欲余為令媛療治，非從余之辦法不可。請先將所戴之冰帽除去，並勿進任何食物。」湯夫人唯唯。於是為之施術，當時並不覺有何效驗。次晨，遣人持一書來，略謂自昨日施手術後，病勢甚有起色，且已呱然而哭，不可謂非好氣象也。」余繼續推治，未及十日而愈。</p>
<p>明年春，湯夫人之尊翁楊粹卿先生病肝氣，經余推治一次後，即有效驗。次日復來邀，及抵其家，則又婉辭焉。後知乃其公子輩以西醫斷為心臟病，不能震動，故謝卻推拿也。移日湯夫人來致歉意，且曰：「家嚴所患究系何症？」余曰：「肝氣上逆而已。若謂心臟病不宜推拿，此又臆斷之辭，餘生平推治心臟病而奏效者，亦指不勝屈。先尊翁之症，斷不可目為心臟病也。」越一年，湯夫人忽腹部膨脹，每日黎明必瀉，就漢芸診治。告以此係脾土衰弱之故，即五更泄瀉症也，宜培土以復元。月餘而愈。當其來診時，詢其尊翁病狀。曰：「家君之病，因西醫謂其不能震動，令終日偃臥，病彖愈趨險惡，不幸已下世矣。」言已不勝欷覷。</p>

<h2>大啖豚蹄患便血</h2>
<p>蔣海容君患便血症，初猶系大便中帶血，一年後雖不疴亦常瀉血，未瀉前必感腹痛，痛時必小睡片刻，睡後起床即瀉血，瀉後始止痛，如是者日必四五次，深以為苦。由一照為之診治。見其面色如常，脈息亦無虛象，乃詢其曾否就他醫診治。蔣君乃出各中醫所開之方示之，各方大都為龜板、鱉甲等滋陰止便血之藥劑。蔣君曰服諸方後，飲食且減少，乃細索其致病之原因，多方考慮，斷其或系中毒。詢其平時嗜食之物。曰：「嗜食豚蹄，日必啖一蹄，且須紅煨者。一日，有友招飲，呼酒傢俱三蹄，以其二屬余，而自啖其一。他客作壁上觀而已。後座中復有人戲言，豬有四蹄，今僅得其三，功德未圓滿也。因又增一蹄，盡果余腹。食後頓覺腹中不炔，抵家即惡寒。時余猶以為或系感冒，繼患泄瀉，嗣腹便血，遂纏綿至今，屈指已二年。茲先生調我甲毒，其在斯歟。余病後一聞豬蹄之味，即欲作嘔也。一照囑其力戒一切不易消化之食物，推治數月而愈。</p>

<h2>失眠與思睡</h2>
<p>前浙江實業廳長雲海秋君，患失眠症時，余適在滬行醫，云君特延至杭。診察之後，施以手術，果安眠如常。越二年，復來延診治，謂自失眠症愈後，今忽覺酣睡太多，且不思飲食，延醫診治亦不獲效。診察後，告之曰：「當此春末夏初之時，人每因黴濕而感困倦，即所謂濕氣困脾之症也。」醫治旬日，漸見功效。云君因恐余不能久留杭地，以可否服藥見詢。余答曰：「君欲兼程並進，自無不可。」是晚，云君乃復延中醫診察。明日，以醫者所處之方相示。余云：「此辛燥之劑如附片之類，固足祛君之濕，然多服則耗陰，陰虧必再患失眠。一指禪之功用，既可攻濕，又可養陰，所謂一舉兩得，決無顧此失彼之弊。」云君遂不復提及服藥之事。越數日，精神漸旺，不似往日之貪眠，然頗怪其虛象忽爾大現。正默忖間，云君忽留余晚餐。余因督署早有人相邀治病，故興辭而出，並囑其慎防失眠之宿疾復發。翌日，云之公子來迓，謂余曰：「昨日家嚴自先生去後，精神極好，且因先生堅辭晚餐，頗感寂寞，特請某中醫來作長談。某中醫復行診察，謂家嚴之病在腦云。」余深訝此君身為中醫，而故趨時，用西醫之術語。當即詢云公子曰：「某中醫既謂令尊之病在腦，彼果用何術以療之？」云公子曰：「先生見家嚴時，家嚴必以某中醫之藥方就正也。」既見云君，乃無一語及此，因不便探詢。推治時，忽有一付官自督署來，云君乃以昨夜某中醫之言告之，隨將藥方授伊，且謂藥不能入胃，隨服隨吐。方系龜板、鱉甲等滋陰藥品，方喜其或能因此一吐而有所覺悟也。詎此付官亦知覺，覺為加薑汁炒竹茹三分，令再服。余知云君成見已深，不可為矣。幸約期將滿，爰語其公子期滿不再續診。公子曰：「恐家嚴未必允先生辭。」余曰：「雖留亦不能從命。」明日，云公子曰：」家嚴以病在腦，將往上海入醫院。」孰知數日後噩耗傳來，云君竟死於滬上友人家中。甚矣！病人之於醫藥，不可不慎也。</p>

<h2>重痢獲治</h2>
<p>王伯恭君之夫人，患最重之痢疾，由漢芸診治。漢芸囑之曰：「夫人年事已高，在此重病時，除避免操心勞力外，宜節制飲食，尤忌藥石亂投，免生意外危險。」王夫人答稱：「余家非富有，且中西藥品已購服不少，毫無進展。今得延先生來醫，已覺勉為其難，更有何餘力再延他醫。」後經推治，果日見痊可，終乃霍然。夫以年齡而論，王夫人實較云先生為高，而病症亦尤險，然一治一不治，此中消息至微，蓋一者信仰堅定，靜聽醫者療治；一者信仰之心不堅，其結果遂異。語云：「欲速則不達，」信夫。</p>

<h2>推治三日步履如常</h2>
<p>大律師仇予之太夫人，一日起立時，忽覺兩腿痠痛，步履維艱。來就診，由漢芸推治。當其初次來時，尚需人扶持，不三日已能獨自行走矣。先是太夫人之媳亦嘗延漢芸推治，卒未能為之挽救，論其起病至死之經過情形，殊堪太息。仇夫人初患頭風症，經多數中西醫療治，忽而用冰，忽而用電，痛苦不堪言狀。久之始延推治，病勢確已燎原。然二日後覺痛楚漸減，謂漢芸曰：「今日真較從前快樂矣。蓋病雖不能即愈，而推治時，則非若電療之苦也。諺云『勿藥為中醫』，推拿之術，又較不藥為上矣。」後以病根太深，終至謝世。若干起病時，不雜藥亂投，此症必可挽救也。</p>

<h2>馳馬墜地腰部起塊</h2>
<p>吳少序君腰部起一硬塊，余診察後詢其何不早治？曰：「初因不甚痛苦，擬聽其自然，待其內消也。近因稍覺累贅，乃延醫診治，皆斷為石疽之症。先生以為何如？」曰：「此病非癰疽也，似系流注之類。不知君於得病之前身體亦曾閃拗否？若曾閃拗，則病原即系氣血凝結。」曰：「先生診斷甚有見地。蓋余好馳馬，前在都中乘一烈馬，中途墜地，余當時並不覺何處作痛，起而追逐，復一躍上鞍。逾數日，腰部起核，僅一小塊，不甚痛苦，亦不以為意。最近則覺此硬塊日大，累贅益甚，始延醫服藥，然終不見消，故來求治。」余曰：「此處乃腎俞穴，萬萬不可開刀，惟有使之消退。」推治約一月，吳君曰：「日來此硬塊之範圍似覺較前為廣，何耶？」曰，「君只覺面積加廣，而未知其體積減低也。夫體積減低，面積自廣，此乃病症移動之徵象，不必慮也。」此後吳君每慮硬塊潰膿。余曰：「君何憂耶，此硬塊可消退，可免出毒。」又一日，吳君曰：「余今確信此處無膿歟。」余曰：「君前數日甚慮潰膿，今忽又確信無膿，何耶？」曰：「昨日，曾經西醫用針探視。」余曰：「君實不應請西醫探視。何以事前不來就商於余耶？君之硬塊本無膿，今經西醫用針管探視，則無膿而變為有膿矣。蓋硬塊內部之膜極薄，經西醫用針管探視，必致損硬里膜，血液必腐化為膿。但願西醫所下之針，吸力不重，里膜不因以損破，是為萬幸。」吳君曰：「前余憂此處有膿，先生乃謂無膿。今經西醫探視，確信其無膿，而先生又恐其有膿，此何故耶？」曰：「余非故欲立異，實恐君患處之裡膜，或為西醫針管之吸力所損破，而有潰瘍之危險也。吾第願吾言不中耳。」十餘日後，吳君曰：「余所患之硬塊確有膿矣。」余曰：「前者，君非確信其無膿歟，何以今日又有膿耶？」吳曰：「余昨日又請西醫探視一次，故知之。」因謂之曰：「君之症可不必推治矣。蓋君患處適在腎俞穴，無膿時猶可藉推治而使之漸消，若有膿則無論任何醫法不能奏效也。」於是吳君止推，後聞纏綿約一年許，終於不治。此缺乏耐性之為害也。</p>

<h2>胃病不宜多服藥</h2>
<p>某年春，鎮江傅根記紙號之女主人傅蔡孝貞女士，患胃病七年，不能飯，僅啜液體之物。曾延名醫療治，未能獲效，於是來滬，由漢芸為之推治，五旬而愈。聞蔡女士來診之動機，甚簡單而甚饒興趣，蓋禪於服藥耳。此種見解確有至理，夫五味之食物，最不適宜於胃者，莫若苦味。試觀大病以後之人，未有不患胃弱者，以其多服藥耳。夫藥雖兼具諸味，而入口無不苦者，故凡有胃病者，確以推拿療治最為有效。</p>

<h2>體已多痰猶進補</h2>
<p>余等在杭時，有督署科員張銘新君，因其子病，延推治。時張於正臥於迎門之沙發上，余見其面色，即謂張君曰：「令郎之痰甚重。」張君曰：「先生猶未診脈，何以遽知其痰重？」曰：「望而知之矣。令郎近來之病狀，能詳以告我否？」曰：「此兒常患暈厥。至友某君，現任督署付官，固知醫者，謂為虧症，處一膏方，令其進服。」余未待其言畢，即告之曰：「服膏方後暈厥更甚，此則不待檢視藥方而可知者也。令郎之病在痰，誤以為虛，而用膏方以補之，則痰乃益重，痰益重則其暈厥之次數必愈多，此一定之理也。」張君曰：「小兒服膏方後，暈厥果較前更為頻數。」「請十日不服膏方，專以一指禪之法推治。在此十日之內，若暈厥如常，不妨繼續再服膏方。若暈厥減少，則請盡棄膏滋，靜心推治。且十日之時期甚短，補之未必竟全功，不補不致有急變。」張君頗以為是。遂逐日為之推治，十日之內，果暈厥減少，後仍繼續推治。一日，張君忽謂余曰：「戚友中有主張為小兒早日完婚者，先生以為可行否？」余曰：「令郎既為痰困，且發育猶未健全，胡遽成婚耶？」張君聆言遂輟是議，迨推治三月後，公子之病果愈。方余為張公子推治時，正值暮春天氣，其父在側，忽詢余曰：「人皆易夾衣，余何仍畏冷之甚耶？」余曰：「尊府中人每感小恙，輒喜服藥，君殆過服表劑，故平時易畏寒也。」</p>

<h2>飲食不進大便不通</h2>
<p>葉春泉之太夫人，年逾六旬矣。忽患一症，飲食不進，大便不通，帶下甚多。由漢芸為之診察，告之曰：「太夫人之病，實因中焦不暢，飲食積滯，濕閉於內所致。亦曾延他醫診治否？」曰：「然。」言時出藥方相示。檢視此方，知醫者誤以為虛症，用滋補藥，並止其白帶，漢芸深以為危，遂謂葉君曰：「太夫人之體氣不宜子補，又不宜止其白帶，止則身必腫。今腿部已微覺發腫，苟因補與止之故，再蔓延而上，殆矣。」次日，葉君曰：「昨聞尊論，乃轉語於醫者，醫者另擬一方，囑請黃醫生裁政。」見其所開之方，果為利濕之劑，乃告之曰：「此方對症，可用也。」推治數次，大便果暢，飲食亦進，白帶自止，厥疾瘳矣。</p>

<h2>脈象已敗不可治</h2>
<p>陸榮廷寓上海時，患咯血症，延余診治。既抵寢室，見室中雖置有精美之床榻，而陸君乃藉地臥，身旁置一鐵柄之背錘，知已在散功之候矣。迨按筋診脈，覺內部如古屋中置機設廠，震盪既久，忽遇烈風暴雨，崩屺必難倖免。乃謝公子曰：「疾不可為矣。」公子聞言驚詫，泣下沾襟，請於無可挽救之中，為萬一之勞力。余曰：「醫家能治重症、治險症，而不能治絕症。餘生平遇九死一生之病，夷然不以介意，從容推治，轉危為安者，夫豈少哉，而非所論於此病也。君希望余作萬一之努力，余則以為縱復努力，寧有萬一之希望耶。」不數日，而陸氏逝世矣。凡醫家治病，有絕對不能與造化爭者，此類是也。</p>

<h2>葆愛過度小孩成病</h2>
<p>霞飛坊楊宅，以小兒病，因某夫人之介，來邀診。余見此兒尪弱不堪，人皆御單夾衣而彼猶挾曠。詢其何病，曰：「病在胃。」余診察畢，曰：「此孩並無胃病，實因衣過多，食過少，故有此委頓之象耳。若增其飲食，薄其衣服，必日見茁壯也。」兒之母駭甚，急搖手，曰：「先生體矣，弗勞推治。」余無法可以喻之，乃亦辭去。翌日，某夫人來詢昨日診治情形，余乃一一詳告之。夫人聞言憮然，曰：「伊家對於小孩過於重視，然提攜捧負，愛之不得其道。前月數孩，除牛乳與烤牛肉以外，不許食他物。且恐他人誤投以雜食，每餐後，必禁閉小兒於室中，弗令外出，故皆夭殤。余欲救此子之命，故介紹先生為之推治。初不料其有此一舉，殊可嘆也。」</p>
<p>天下事無獨有偶，實有出乎意料之外者。繼楊氏之後，又有一張女士對余醫寓，謂伊有邵姓友人之小兒，患病托其介紹醫生。伊以醫生甚難介紹，惟曾讀余所著之《推拿說明書》，知推拿不必服藥，較為穩妥，故來相邀。余見邵之小兒，並非重症，不過胃中積食，略感暑氣而已。其時適值炎夏，而期母不顧小兒受熱，緊擁諸懷。余因兒在母懷不便推治，乃請將小孩安臥榻上。推治時，邵夫人猶左右護持之。余問曰：「夫人如此掩護，系恐令郎受痛乎？果爾，請勿慮，推拿時毫無痛苦。」彼雖唯唯稱是，度其心滋不悅。</p>
<p>夫父母之愛惜子女，固屬情理之常，然愛之不以其道，則愛之適所以害之。內地人民，至今猶有不使小兒種痘者，坐待天花之傳染，是無異戕戮其所生。又有力求小兒溫暖，晝則厚其衣，夜則厚其被褥，以致小兒抵抗力薄，易受外感。更或希冀小兒肥壯，不使其食粥飯，而轉飽以肥醲滋膩之品。無論新式舊式之家庭，類此者比比也，轉使其陷於病弱。放眼以觀上述楊、邵兩家之小兒，即其明證。諺云：「若要小兒安，常帶三分飢與寒。」此實閱歷之談。有子女者，所當深思者也。</p>

<h2>腎病勞動致變</h2>
<p>前公共祖界會審公廨會審官俞奠孫君，患氣虛中滿甚劇。余推治已告成功，能下床行動矣。一日，謂余曰：「明日有要事須躬自處理，臺從蒞此請較往日遲一小時。」餘力戒其勿勞動。迨明日往診，而肝腎兩脈俱變，駭甚，咎其不聽吾言。俞君徒呼負負，然自此病勢劇變，余見其無可救之道，乃敬謝不敏，太息而退。俞君遂終於不治，惜哉！凡病家一有轉機，每每不遵醫生之囑，任意勞動，此危道也。</p>
<p>憶潮商鄭宜賓君患腎病，西醫為之驗尿，亦斷為腎臟受病已深。以諸醫未能奏效，乃延余為之推治。見其多言傷神，乃勸其多臥少動，併力求靜默，勿多勞。彼此業務關係，未能從余之忠告，終日與朋輩論事，舌敝唇焦，不肯少休，且仍勞動，後卒無救。此二君之病，功敗垂成，令人扼腕。</p>

<h2>開刀不慎成痼疾</h2>
<p>周受之夫人，曾因腿疾延余醫治，同時復倩余推腰部，謂兩年前生一外症，請西醫開刀，終未收口。繼延中醫，亦無效，膿血淋漓，痛苦萬狀。余見其所患之部在腎俞穴，系不可開刀之處，而西醫竟不顧一切，為之開刀。不知此處若開刀，則永無收口之日。於是鄭重告伊，曰：「腎俞穴萬不能開刀。論理凡不能開刀之處，最好以推拿之法推消，方無害處。設有毒將潰，應將毒移至他處，然後奏刀也。今患處已深，若欲活動筋絡，不使行走，感覺呆木，固可推治，聊減痛苦。若望此外症收口，雖一指禪亦不能為力矣。」後體氣雖已平復，腿疾雖霍然，而腰部卒未收口也。</p>

<h2>右手不能執箸</h2>
<p>前浙江督署參謀長範毓靈之弟君衡，在閩任團長時，忽手足拘攣，遍延中西醫療治，愈醫愈劇，乃辭職至浙，特來余處診治。範君進膳時，右手不能執著，談話時期期訥訥，行路若無人持扶，不能逾閾。嗣為之推治多日，各部皆恢復原狀，惟右手未能痊愈。遂一面為之推治，一面囑其搓無數紙團，以箸挾之為戲。經過多日，運箸已靈活。然遇餐時箝真食物時，每及唇而落，深以為苦。爰囑其時揹人假作籍食入口之練習。又若干時，卒能恢復原狀，與常人無異矣。</p>

<h2>遍身起紅塊</h2>
<p>吳乃衍君遍身起硬塊色微紅，時隱時現。初猶不覺痛癢，後於每次發現時，必覺疲憊不堪。中西醫咸無法療治，爰來推治。診察之下，料其必系皮膚曾於水中中毒。吳君甚以此診斷為然，曰：「嘗憶兒時家臨小河，常喜入水捕魚。一日出水後，遍身忽起硬塊，未幾即愈。此後遂不敢捕魚，然此病屢發屢愈。其始並不頻數，邇來則每間一月或半月必發一次。」推治後約二星期而愈。蓋吳君初中毒時，正在壯年，血氣方剛，抵抗力甚強，故於發病時不覺痛苦。後在某學校任教職，體氣日就文弱，故病發時甚感痛苦也。當吳君推治時，適有一患感冒之病人，受術拿筋時痛極而號。吳君曬之。余謂之曰：「君毋笑人不能勝拿筋之苦，君苟與此君所病相同，由拿筋時亦必痛極而號。推拿本毫無痛苦，惟受風寒太重者，拿筋時之痠痛，雖只一剎那頃，然頗難承受也。」未幾，吳君忽走伻來延至校中，謂因感冒不能起床。拿筋時果不能忍痛，大聲呼痛，遂深服前日所言之不虛，是無病者不知有病者之痛苦也。</p>

<h2>兩腿拘攣臥不安</h2>
<p>鎮江要塞司令孫達蓀君之夫人，胸部疼痛，兩腿拘攣，招往某療養院推治。當由一照前去應診，為之按筋切脈，見舌苔抽心，體甚瘦弱。林夫人曰：「每次生產後，容有失調之處，且因主持家政之故，每遇有病，均未能靜心療養。此次之病，曾回杭請西醫診治，迄未獲效。嗣來滬住療養院，治療數月，亦毫無功效。茲以女友之介，延先生推治。然又深慮推時更感痛楚，蓋余睡眠之時，雖被褥稍有觸動，亦覺筋肉抽搐也。當余初病時，僅覺精神委頓，並不疼痛。自某中醫介紹一推拿醫生，為余推治，遂致胸部作痛，兩腿拘攣。蓋彼於推拿時，以雙手按余之胃脘，猛捶背部，並以雙手力捏兩膝蓋，如是一星期後，兩腿遂曲不能伸，飲食漸減，精力日衰，病象益趨重，稍一轉側便感艱苦。乃急詢某推拿醫生以故。曰：『是不足慮，不日當可見痊矣。』再越一星期，痛如故，忍無可忍，乃不敢續延其療治。後本院之西醫令余睡臥石膏床，余因石膏拘束行動之術，實弗能堪，故爰幡然改計，延先生推治。」一照乃慰之曰：「夫人之病，純由體氣虧弱所致。余用一指禪推拿之法，推時必無痛苦。」依法推治一三數日，痛苦漸減。豈知彼療養院之西醫，忍謂林夫人曰：「推拿雖善，然亦不過維持現狀，未能徹底痊愈也。」林夫人曰：「推拿之徹底與否，余不必問，惟知余病確有起色，向之不得安眠者，今已稍能入睡。曩余以兩腿拘攣，胸部疼痛為苦，君謂宜療以太陽燈，然亦並無大效，反覺頭痛不能安睡。今不照太陽燈，卻藉推拿之功，拘攣疼痛稍稍平復矣。君謂推拿僅能維持現狀，余實幸其能維持也。且黃醫生曾謂余之病當靜養，不宜急求痊愈，但得氣血漸漸行動，所謂流水不腐，戶樞不蠹，則自有進步也。君必欲堅執徹底醫療之說，敢問其道又安在哉？」某西醫乃謂伊處有德籍醫生，善療此症。療時縛全身，墜以石塊，使兩腿不致拘攣，如是二月後，乃能確定可否開刀割治。林夫人訝甚。復詢之曰：「是病亦須開割乎？果須開刀，所割又為何處耶？」曰：「脊骨之旁。」林夫人曰：「割後即能不復拘攣耶？」曰：「是不敢必。」林夫人以其病須受兩月綁縛之苦，始能確定能否開刀，既開刀矣。又未能保其必愈。為計殊左，遂婉謝曰：「俟外子來滬再定。」來幾，林君果自鎮來滬，頗不以西醫之辦法為然。商於一照，意欲遄反鎮江。一照以其在滬既無所適從，又不能靜養，轉不若逕歸鎮江，爰贊成其主張。數日後，乘夜車離滬。首途之日，並約一照改為晚間推治，俾可抵抗火車顛簸之苦。詎知翌日復來相招，曰：「昨晚已登車矣，乃鐵路人員以病人未經鐵路醫生證明，例不得登車。無已回療養院，改以今夕啟程，故再勞大駕也。」一照推治後，囑其返鎮江後，須安心靜養，勿庸人自擾，雜藥亂投。果能屏絕俗慮，調攝得宜，則回覆健康亦意中事耳。此可謂臨別贈言矣。以後結果如何，雖不得知，然殊不能不為林夫人惜。蓋此種病症，果能不亂投醫，專賴一指禪推治，為之補救，則其成功可計日而待也。</p>

<h2>一指呈功消腹脹</h2>
<p>大東菸草公司之顏少齋君，因腹部脹大，來就余推治。顏曰：「所患之症水臌歟？抑氣臌歟？」余按筋切脈後，曰：「非臌也，氣脹耳。此症最忌行動，若能遵余之囑，安心推治，必能痊愈。」後脹果漸消，顏君快慰萬狀，每遇戚友，即暢談一指禪推拿之功能。其女弟患腹痛，延西醫診治，斷為盲腸炎，謂須開割。顏氏兄妹不信此說，後就漢芸推治，斷為肝氣，推治數日即愈。妹倩孫君患臂痛，顏力勸其乞靈於一指禪。此外則彼公司之同事，亦有多人以顏君之介紹來治病。其妹嘗謂漢芸曰：「余兄不恆信服人，而對黃先生獨讚不絕口。」此可見顏君對於一指禪信仰之深矣。</p>

<h2>肝陽挾濕</h2>
<p>某年春，余在杭時，前滬道劉襄孫先生走伻邀至其寓所，謂余曰：「鄙人兩腿不能行動者年餘，延中西醫及推拿醫生療治，詎知腿稍愈而遺精病隨之而起。昨掃墓來杭，舍弟雅士盛稱先生成績偉大，始知尊駕在杭。此行不期而遇先生，頗自慶幸也。」診察後謂之曰：「君體肥碩，氣短促，而血液甚旺，此症並非虛虧。氣短不能行厚血，肝陽挾濕熱為祟耳。」劉君曰：「鄙人素患肝陽，且先生所謂濕熱，亦誠有之。蓋鄙人前曾因濕熱下注而患脫肛，及脫肛愈，腿忽不良於行，殆系濕熱同祟歟？」余曰：「脫肛愈而腿部病，系濕熱內蘊無處發泄之故也。至於遺精之症，若專用一指禪之法推治，本可永絕根株。況君之遺精，實因推治腿部者不能統籌全局，致有此流弊，是遺精為推拿所釀成也。今余為君推治，他日腿愈，遺精亦止矣。」三星期後，劉君腿漸能行動，而遺精之病亦不作。十六年春，余舉家避地回滬。是年冬，劉君復來邀診，謂腿疾又作，而腰部忽亦痠痛。診脈後，謂之曰：「久不親雅範，今見君較前益肥碩，此在常人固可稱發福，而君則似不宜再肥矣。」劉君曰：「鄙人亦慮老年體肥，易致中風，放不敢俯首拾物，不知常加推拿，亦能免此否？」余曰：「常推則血自保其平衡，氣亦不致壅塞，確為預防中風之善法。」劉曰：「鄙人之脈，亦有特別現象乎？」余曰：「此『息至』也。但以君之肥碩，息至不足為憂。」推治兩星期後，腿疾平復，腰部之痠痛亦愈。然每隔三四月或半年發一次，發時必推治。借其稍愈即止，未能繼續推治，使病根徹底產除也。</p>
<p>去夏某日，復來相邀。推治之後，劉君見告謂其公子櫻病甚重，詢以何病。曰：「寒熱」問：「熱已退未？」劉曰：「前曾延中醫服藥至十六劑，未能退熱，近延西醫療治，寒熱已減低矣。據西醫驗血後診斷，謂系傷寒症。余深知閣下對於請治傳染病者，一概拒絕，故自始即不敢辱玉趾。惟以閣下高明，願述病情，冀獲南針之導，先生當首肯也。」言時出中醫所處之方相示，皆發散之劑。余白：「中醫當此炎夏，對此病症極應用去暑濕攻積滯之藥。乃不此之圖，而一味發汗，無怪其日日大汗，而熱終不能退也。」劉君曰：「西醫謂血中發現傷寒病菌，連日正以冰置其腹部，冀減輕腸部熱度。」余曰：「西醫謂人之病，每多病菌作祟者，余亦深信斯言。惟以冰置腸部，則余嘗聞相識之西醫，談及治療用冰問題，皆以為不合中國人之體質，此言與余之主張，不謀而合。余非不信熱漲冷縮之物理，但念及腹部與腸胃，因冰而冷縮，試問彼腹中之暑濕與積滯為祟不將更甚乎？」劉君曰：「鄙人本意，原不欲延西醫，只因中醫未能奏效，乃勉從親友之勸而延西醫耳。」余曰：「論理此病至四候以後，若一帆風順，即可不必眼藥，惟慎重飲食，靜養病體復原耳。」劉君曰：「此言鄙人亦嘗聞之。」余曰：「邇來公子之飲食如何？」曰：「遵西醫之囑，日服牛乳、雞子與雞汁等流質之食物。」余曰：「此種食物，固屬流質，然膩滯之弊，仍不能免，總宜慎重為是。」三四日後，西醫擬為劉公子注射肛門，助其大便。劉君以此法是否合宜為問。余曰：「熱苟已退，不妨設法通其大便，俾積滯腹中之暑濕，可以清除，不為臟腑害。」從此數日，劉君曰：「自藥水注射肛門後，日來大便甚暢，且量亦甚多，而頭部忽生外症。」余曰：「善哉，此外症也。公子之病，無正當方式使之宣泄，今忽生外症，是猶人被禁錮，不能由戶而出，乃破窗越去也。」次日，劉君曰：「鄙人今日成一極大之工作。」問奚為？曰：「今日一西籍醫生，此西籍醫生將病者頭部所有之瘡癤，全數剖開或刺破，流血甚多，家人咸駭而卻走，獨鄙人坐床前，視此醫生施行手術。惟不知此曾經剖刺之許多創口，將來能否收口？」余曰：「群應注全力於公子之內病，此外症不足慮也。」劉君曰：「彼西籍醫生已將創口縫好矣。余曰：「此大足僨事。昨嘗為君言，公子之，病無可宣泄，其頭部既生外症，實系內病自謀出路之現象，正宜因勢利導。頃聞開刀之後，復為縫好創口，是又等於錮禁其暑濕與積滯勿使外出。誠恐內病不能再自謀出路矣。」曰：「血流甚多，涼無大害。」余曰：「君以為多耶，余意僅十之一耳。」明日，劉君曰：「昨日，先生去後，病者忽呃逆不止，不知有無妨礙。」余私忖久病而順，乃胃絕之現象，殊為惴惴，然又不便直告之，使其失望，乃曰：「如此現象，大非所宜，余請暫不使公子服滋膩之品。」劉君唯唯。明日又語余曰：「小兒之呃，已因服藥而止，似可無大患矣。敢問此呃究何由而起？」余曰：「尋常之呃，非胃部受寒，即系受熱，但久病之呃，殊不可與尋常之呃同日而語也。」餘一方如是答覆，一方私忖，昨日之呃，胃氣已絕，彼能使之不呃，可謂神乎其技矣。但無論如何，余終不信其能補人已絕之胃氣，此或用藥強制之不作呃耳。一日，劉君曰：「鄙人今日遇一極負盛名之醫生，彼謂吾兒病已全退。」余乍聞此言，真有哭笑不能之感觸。劉君復曰：「彼謂小兒心力甚弱，除一面為之注射強心針，一面更當使之儘量多食雞、魚、豬肉及蔬菜。」余曰：「病象如此，而猶使之多食油膩，殊為奇特。且蔬菜亦惟煮湯飲之乃無患，若大嚼菜根菜葉，亦斷不宜於傷寒之久病者，因傷寒之病在腸，而蔬菜中多纖維質，纖維質至不適於腸，多進則腸更傷矣。余所亟欲知者，公子近來面色有無紅光，入陰以來，人事是否清楚。以余度之，公子面色應有油光，且多譫語。」劉君曰：「然。」余於是知此病定無回生之望。不數日劉公子死矣。</p>
<p>總之劉公子之病，一誤於中醫之疏忽，再誤於西醫之任性。譬諸行舟，一則誤其方向，愈趨愈遠；一則忽東忽西，忽進忽退，忽而飽張其帆，忽而急轉其舵，目的地決不能達，傾覆之患且必難倖免也。悲夫，藥物之脫人於厄與致人於死，其間不容髮哉！余昔攻醫，正惟懍然於用藥之可畏，故幡然改計，致力於一指禪。區區此心，亦聊為寡過之地耳。劉公子恂恂儒雅，而盛年夭折，令人淒槍惋惜不能自己。余向不診治時症，藉避傳染，故襄孫先生不以此相強，余亦不破例為之效力，至今思之，有遺憾焉。</p>
