<header data-type="book">
<h1>疹科類編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>武之望</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1617">公元1617年</data></dd></div>
</dl>
</header>

<h1>重刻疹科類編序</h1>
<p>《疹科類編》乃臨潼武叔卿先生所著也。自此書一出，人隋珠，家卞璧，然未付坊刻，傳世甚少。先君子家藏一本，賴以全活者甚多。憶庚申歲底，忽命傑曰：爾雖習舉子業，醫道不可不講，且爾亦有子女，將來出痘疹，寧束手惟他人是問乎。遂細閱此書一過，頗解大義。次年辛酉正月，即疫氣流行，排門挨戶出疹。適先君子臥病，踵門求治者不下數百人，傑按方治之，輒隨手愈。後癸酉到都門，即遇疹行，男女大小起死回生者，一年之內約數千百人，然皆宗此一書，神明變化而用之者也。今業登仕途，簿書鞅掌，不遑理此，不敢秘其術，付之梓人，用以廣其法，俾世之留心疹科者，皆知叔卿先生著書救世之苦心，而欲保愛後人者，當亦知治法實有所自來云。</p>
<p><u>康熙五十五年五月下浣之吉</u></p>
<p><u>新蔡令關中董漢傑誠齋序</u></p>

<h1>序</h1>
<p>夫痘疹併為兒患，而方書多詳痘而略疹，以故業幼科者有終身目未睹疹書，而兒之夭於疹者，往往一委之天數。噫！亦大可哀矣。不知疹之殺人，更甚於痘，而療之得效，殊捷於痘。丙午春，疫氣盛行，里中兒以疹殞者十居八九，甚者比屋髫齔不留也。問其症，則皆煩熱喘嗽，氣急悶亂而死。餘一孫甫二齡，時亦患此，舉家惶懼涕泣，以為且不救。余乃撿諸方，得管氏《保赤全書》一編，其中載疹症治法差備，遂按方投劑，應手而痊。嗣是閭里聞者接踵求治，旬日間所活近百，卒無一傷者，始信療疹之易，而悔探習之不早也。自是有治必驗，略無差爽。迨今歲丁巳，旱魃為災，驕陽煽虐，人熏灼如在烈焰中，而兒疹復大作矣。為症雖不甚厲而時有患苦，輒為療之，尋即脫然無事。嗚呼！是書烏可不家習而戶曉也。更檢得疹家方論數種，手自銓錄，論以管氏為主，而稍參之以別書，間足之以己意，爰分發熱、見形、收後三大綱，以便尋檢。至方則概取諸家之對症者，而略補其所未悉，分為二十四類，名曰《疹科類編》。蓋法該而精，方備而確，庶觀者瞭然如指諸掌，而卒然有患，可人自為治，家自為醫，而無事於他求也。因刻而廣之，以惠四方，諒亦仁人君子之所願聞乎。</p>
<p>是書初成於萬曆丁巳，名曰《疹科樞要》，業已序而行之。後遊宦登萊，復得痘疹書數種，採而增之，其法益詳，其方益備，故更名類編，而再授之梓，是為天啟五年乙丑六月也。</p>
<p><u>陽紆山人武之望書於登州公署</u></p>

<h1>論</h1>

<h2>總論辨疹</h2>
<p>疹症俗名麩瘡，或名糠瘡，聞人氏所謂膚疹是也。疹有二端：出於痘前者名奶疹子，出於痘後者名正疹子。痘前之疹屬邪熱，故屢出而不解；痘後之疹屬胎毒，故一出而即盡。何以言之，蓋幼童乃純陽之體，鬱積熏蒸，即為疹症。然何以屢出而不解也，蓋痘毒尚在五內，而此氣止及肌膚，所以真毒未出，不作正疹也。若既痘之後，臟毒盡解，一遇疹氣流行，感入腑部，而胎毒盡泄無餘矣。此後不復再發，乃為正疹也。其發雖有二端，治療則惟一理，大要四物湯加減，以滋陰退陽為主耳。</p>
<p>古謂麻即疹也，疹出如麻成朵，痘出如豆成粒，皆象其形而名之也，夫胎毒一也。痘出於五臟，臟屬陰，陰主血，故痘有形而有汁，其症寒熱備也；疹出於六腑，腑屬陽，陽主氣，故疹有形而無漿，其症多實熱而無寒也。為症既異，則治法亦殊。痘宜內實，可用補劑；疹忌內實，只宜解散。惟初發之時略相似耳，既出之後，痘則補氣以生血，疹宜補陰以制陽。蓋疹熱甚，則陰分受其煎熬，而血多虛耗，故治以清火滋陰為主，而不可少動其氣，若燥焊之劑，首尾當深忌也。世知痘疹所繫之重，而不知疹之殺人尤甚，方書多忽而不備，良可太息矣。</p>
<p>痘疹之原，皆屬於火。大抵疹喜清涼，化斑湯是也；痘喜溫補，調元湯是也。然疹痘雖皆胎毒，與天行正病相類，其實疹子全在發苗之初，但得盡出而毒便解矣。若痘須待苗而秀，秀而實，膿成而後毒解，所以治疹貴慎乎首，治痘貴慎乎尾也。然疹雖喜清涼，而初發之時亦須和暖則易出；痘雖喜溫暖，而成實之時亦畏太溫熱，則反潰爛不收。是痘之後，亦喜清涼也。故治痘疹者，無過熱，無過寒，溫涼適宜，陰陽自和，是為得之。</p>
<p>疹者，痘之末疾也，惟脾肺二經受症，外應乎手足太陰，合於肌內皮毛，譬天地乖戾不正之氣，故曰疹也。發以春夏為順，秋冬為逆，以其出於脾肺二經，一遇風寒，勢必難出，且多變症，故於秋冬為不宜也。</p>
<p>麻疹，大抵主發肺經之熱毒者，始事也，調理補養病後之元氣者，終事也。其間或兼風，或兼痰，或傷食，並隨病宜加對症之藥。其有變症，即隨病用對症之藥，要之不亂投湯劑，則兒無事也。</p>
<p>王海藏云：癍疹症，前人言首尾俱不可輕下者何也。曰：首不可下，為癍未顯於表，下則邪氣不得伸越，此肺證有表而無里，故禁首不可下也；尾不可下者，為癍毒已顯於外，內無根蒂，大便不實，無一切里症，下之則癍氣逆陷，故禁尾不可下也。又言溫暖不令通風，癍若已出，身熱天暄，何必蓋覆不使之通風乎。後人執此二句，不知天令人事通變，致誤者多。大抵以脈為主，浮中沉之診，平舉按之候，察其虛實，定其中外，則可以萬全矣。</p>
<p>癍症與疹不同，此乃天行疫氣，其人大便硬結，熱毒流入胃中，故發癍，不可與疹同治，切不宜發表妄下。若身熱作渴時，白虎湯加大青、玄參，一劑而愈。疹有顆有形，癍隱於皮膚，無跡而且平，此分辨之法也。誤汗誤下，為禍不小。</p>
<p>又有一種胍疹此症兒初生及滿月時，周身發出紅點如粟米之類，其形似疹，其實非疹也。富貴之家，初生一兒，保護之心勝，一見此症，即請醫治之，誤以為疹，或令乳母服藥，或令兒服金石丹砂。不知初生之兒，腸胃未堅，清如露珠，安敢用藥；乳母產後，安敢發表清涼。若聽俗醫妄治，是陷人於不救之地也。此症乃兒在母胞之內，乳母胎熱，兒為陰血之氣熏蒸已久，及生下忽遇陽風一逼，遂發此瘡，此名胍疹，不須治而自愈。</p>
<p>又有一種騷疹，凡兒未出痘之先，時行瘟疫，其乳母為瘟氣所染，兒食病乳，亦感熱病，周身發出紅點，或疑為疹，或疑為癍，二者皆非也。此是乳中熱毒入兒肌膚之間，然毒氣不出自臟腑，何畏之有，故名騷疹，蓋母病子亦病也。善治者先治其母之病，兒自愈矣。或遠避其母，擇他乳母之無病者乳之，可保無虞。</p>
<p>又有痘疹將收畢數日之後，稍熱一二日，遍身即出紅癍作癢，愈爬愈盛，先出大小不一，如粟米之狀，漸漸長大而成云片。此是收痂後縱欲飲食過傷，又兼風熱而成也，此名為蓋痘疹，勿以為真疹而畏之。果有積食之症，宜用三化湯，再加以防風、黃連，消食而除風熱，以免瀉痢之患。</p>
<p>麻疹有輕、重、不治三等症：或熱或退、五六日而後出者輕，發透三日而漸沒者輕，紅活滋潤，頭面勻淨而多者輕，頭面不出者輕。紅紫暗燥者重，咽喉腫痛不食者重，冒風沒早者重，移熱大腸變痢者重。黑暗乾枯，一出即沒者不治，鼻扇口張，目無神者不治，鼻青糞黑者不治，氣喘心前吸者不治，疹後牙疳臭爛者不治。</p>

<h2>發熱諸症</h2>
<p>一疹發熱之初，多似傷寒，惟疹子則咳嗽噴嚏，鼻流清涕，眼胞腫，其淚汪汪，面浮腫，雙腮赤，噁心乾嘔為異耳。細看兩耳根下，頸項連耳之間，以及背脊之下至腰間，必有三五紅點，此乃疹之報標，但見此侯，即是疹子。便宜謹避風寒，戒葷腥厚味，用藥以表散之，使皮膚通暢，腠理開豁，而疹毒易出也。</p>
<p>一疹痘之發，雖曰胎毒，未有不由天行癘氣而發者，故用藥發散，必先明其歲氣。如時令溫暖，以辛涼之藥發之，防風解毒湯；暄熱，以辛寒之藥發之，黃連解毒湯；大寒，以辛溫之藥發之，升麻解毒湯。此因時用藥，不可差誤。若作傷寒，妄施汗下，反伐天和也。又須看人虛實，如大便秘結，煩熱甚而發不出者，以酒大黃微利之。吐利不止，以參、芍之類補之。經云：毋實實，毋虛虛。損不足，益有餘，夭人性命也。</p>
<p>一用前藥發散而疹即隨見，則毒盡解矣。若發不出，再用藥發之，如加味麻黃散之類，外以芫荽、酒糟蒸熱擦之，自項下至足為齊。若出現而頭面愈多者為佳，若遲延日久而不能出，則腹脹氣喘，昏眩悶亂煩躁而死矣。</p>
<p>一麻疹發熱之初，輕者以瀉白散合三味消毒散主之，重者以金沸草散主之。兼瀉痢者，合升麻葛根湯，以白芷代升麻用之，無不效者。即十分危症，守而勿失，終必獲濟。每見諸方皆苦寒辛涼發表之劑，不盡對症對經，恐有誅罰太過之失，用者詳之。</p>
<p>一發熱六七日之後，明是疹子，卻不見出。此皮膚堅厚，腠理閉密，又或為風寒襲之，或曾有吐痢之症，乃隱伏不出也，急用托裡發表之劑，麻黃湯調檉葉散發之，外用胡荽酒蘸麻刮之。如一向未大便者，毒甚，於埋伏而不出也，以七物升麻丸解之發之，解之再不出者，死症也。</p>
<p>一疹子初發熱時，未見出現，咳嗽百十聲不止，上氣喘急，面浮，目胞腫，宜桔梗湯、消毒散，瀉白散三方合用，納桑白皮，採鮮者多用。熱盛煩渴，加石膏末、知母、黃芩、天花粉。</p>
<p>一發熱之時，遍身汗出者，此毒從汗解，玄府開，疹易出也。有鼻中血出者，此毒從血解也。俱不可遽止之。若汗出太多，血出不止者，此又火甚，逼迫太過，致液妄流，血妄行矣，急以當歸六黃湯加浮小麥以止汗，茅花湯加玄參、百草霜以止血，遲則汗出多而元氣虛，血出多而精神散，為不治之症。</p>
<p>一疹症熱毒，失於表散，不得出而內攻眼角，及目中血出，或大便出血不止者危。緣熱毒未出，內攻五臟，五臟腐傷，以致血出，是二三日間失於發表解散之過也。若將當歸六黃湯與升麻湯並用，亦有可救者。</p>
<p>一發熱之時或嘔吐，或自利，或滯下者，以火邪內逼，毒氣上行則吐，下行則利，毒至甚則裡急後重而為滯下也。吐者，竹茹石膏湯主之；自利者，升麻澤瀉湯主之；滯下者，黃芩芍藥湯加黃連、生地、木通、當歸、人參、枳殼治之，或少加大黃微下之。大抵疹家吐利滯下，宜於疹家求之，不可作尋常吐利滯下治之也。</p>
<p>一發熱之時，未有不口渴思飲水者，蓋疹子純是火邪，肺焦胃干，心火內亢故也。但當以綠豆燈心炒米湯飲之，人參白虎湯佐之。初發熱者，於前發散藥中多加石膏、天花粉，以生津解熱而已。若恣飲涼水，恐生水蓄之症，故水入於肺，為喘為咳，宜用葶藶以泄肺中之水；水入於脾，為腫為脹為自利，宜用防風、白朮以泄脾中之水；水入於心，為驚為悸，宜用赤茯苓、木通以泄心下之水；水入於肝，為脅痛，宜用芫花以泄肝中之水；水入於胃腎與膀胱，為小便不利，為陰囊腫，宜用車前子、木通以泄膀胱之水。俱當隨其症而治之。或云：凡患疹之人，自初起至收，個個喜飲涼水，切不可禁，但每飲宜少而頻，則毒氣漸解。</p>
<p>一發熱之時，既表之後，切戒風寒冷水瓜桃生果之類，如一犯之，則皮毛閉塞，毒氣難弛，遂變紫黑而死矣。如極渴飲水，只宜少許蔥白湯以滋其津液，又使毛竅中常潤可也。又忌梅李魚酒蜂蜜香鮮之類，恐惹疳蟲上行也。</p>
<p>一朱氏謂凡疹熱六日而出，一定之規也。若醫人無識，用藥太早，耗傷元氣，及至出時，受害多矣。或嗽而變喘，或出一二日即隱；或作大瀉，或合目而喘，此醫人用太早之害也。吾家治法定不在五日內用藥，必待見疹，方用徐徐升表。然用藥亦有次第，凡一劑必作十二三次服之，況疹在皮膚膜外，若一劑作一次服，藥性催之太急，致令煩躁譫語，宜為慎之。武氏曰：此言雖是，若五日內有危急，亦可酌量用藥治之，不可太拘日數。</p>
<p>大抵疹欲出未出之際，不可輕用熱燥之藥，故雖寒勿用桂枝，雖虛勿用參、術，雖嘔而有痰，勿用半夏、南星。大凡出麻疹之時，大忌葷腥生冷，宜避風寒水濕，苟有不謹，最為深患，戒之慎之。</p>

<h2>見形諸症</h2>
<p>一痘瘡貴三四次出，謂出勻；麻疹貴一齊湧出，謂出盡。麻疹只要得出便輕減，以火照之，遍身如塗朱，此將出之狀，其形細密，與痘瘡密者相似。但疹子隨出隨沒，非若痘子之以漸長大也。</p>
<p>一看疹出之法，多於耳後項上腰腿先見，其頂尖而不長，其形小而勻淨者吉也。若色見紅者，疹發於心，乃火之正色也，症輕易治，化癍湯主之，人參白虎湯佐之；如色白者，乃血不足也，養榮湯主之；如色紫赤乾燥暗晦者，乃火毒盛熾也，宜六一散解之，四物湯去生地，加柴胡、黃芩、乾葛、紅花、牛蒡子、連翹之類，滋陰涼血而熱自除，所謂養陰退陽之義也。此亦五死一生之症，以大青湯、玄參解毒湯皆可選而用之；若黑色者，則熱毒尤甚，為十死一生之症，此尤不可不明察之，而混為施治也。</p>
<p>一麻疹症其原本淺，故暴熱而易出，必要紅活顯露，三四日方收者佳。若身體極熱，或隱伏不出，或紫黯不明，或一二天就沒，或與肉平，略無起突勢，俱以發散為主，緩則用升麻湯加石膏、黃芩以解之，急則用麻黃杏仁湯以發之，外用胡荽酒以噴之。疹症最急，緩則誤事。</p>
<p>一疹痘二患皆宜調治，然痘有不治之症，疹非黑色，未有不可治者，但期於發之，必決出之，必盡而已。然發必三日，然後盡，出必三日，然後收，方吉，否則凶矣。時人不知，每遇疹未盡出，誤以為稀疏，謂為症輕，或隱隱一見即沒，輒為收靨。不知此乃腠理閉密，致毒氣壅遏而不得出，若不亟加發表，則毒氣內攻而殤矣。</p>
<p>一疹表後紅影出於肌膚成片，切忌風寒生冷，如一犯之，則皮膚閉塞，毒氣壅滯，遂變為渾身青紫，而毒氣返內攻，煩躁腹痛，氣喘悶亂，諸症作矣。欲出不出，危亡立至，急用升麻化斑湯或活血散服之，其疹即出。如小便不通，熱甚者，四苓散加梔子、木通；大熱不退而作渴者，人參白虎湯主之。</p>
<p>一疹已出而反沒者，乃風寒所逼而然也，若不早治，毒成內攻，必致癢塌而死。急用消毒飲合升麻湯熱服，則疹復出而安矣，即不復出，尋亦自愈。</p>
<p>一有疹既收去，餘毒未解，三四日後又出，至五六次不已者，此因發熱之時為風寒侵襲，邪氣鬱於肌肉之間，留連不散，雖得前發散解毒之藥治之，勉強發出，終不舒快，故連綿而復發。亦有天行歲氣寒熱不常者，亦多如此，綿綿至六七次而後己，此餘毒之症也。若疹出之際有雜症者，先當隨症而治之。</p>
<p>一疹出之時，咽喉腫痛，不能飲食者，此毒怫鬱上熏咽喉也。宜甘桔湯加玄參、牛蒡子、連翹主之，更以十全散、玉鑰匙吹之，切不可妄作喉痹，用針出血也。</p>
<p>一疹出之時咳嗽口乾心煩者，此毒在心肺發未盡也。瀉白散加天花粉、連翹、玄參、葛根以瀉其肺，導赤散加葛根、淡竹葉、連翹、黃連以瀉其心。</p>
<p>一疹出之時自利不止，或瀉稀水頻數者，最為惡侯。但要看其疹，若遍身稠密太盛，或紫色，或紅色，甚多不妨，蓋毒在大腸，非瀉則鬱遏不解，惟用平胃散加葛根、連翹以解之而已，疹一發透，依期收去，自然瀉止。若疹已收而瀉猶不止者，疹未必盡，再用前藥加連翹、黃連、牛蒡子、木通、澤瀉以分利之。若用訶子、肉豆蔻澀滯之藥，則變腹脹痞滿喘急，不治之症矣。</p>
<p>一麻疹泄瀉，須分新久寒熱。新瀉熱瀉者，宜用四苓散加木通服之；寒瀉者十中無一，如有傷食傷冷不得已，以理中湯一服而止；久瀉者，只宜豆蔻丸或五倍子、罌粟殼燒灰調下澀之。大抵疹症，雖忌用補藥，然未疹而先曾泄瀉，致脾胃虛弱者，非用參、術補之，則元氣不能升發，毒終不出。雖忌用溫藥，然久瀉虛寒，或服涼藥太多，致手足無溫，口鼻氣涼及二便清冷者，非木香、砂仁、薑、桂等溫劑，則陽氣不能回。雖忌用澀藥，然瀉久滑脫洞下不止，非用訶子、豆蔻之類澀之，則元氣下脫，多致不救。要之溫補止澀，對症旋施，不可執一論也。若泥疹屬熱症，不可毫末動氣，及用燥澀之劑，則膠柱鼓瑟，不足以語治矣。</p>
<p>一疹子出沒，常以六時為度，如子後出者，午時即收，午後出者，子時即收，乃陽生陰成，陰生陽成，造化自然之數也，依此，旋出旋收者輕。若一出之後熱不退，連綿三四日不收者，此火毒太盛，外發未盡，內有餘邪所致，須投以化斑湯、大青湯，或三味消毒飲加玄參、石膏、桔梗治之。若逡巡不出者，乃風邪外束，皮膚閉密也，宜荊防敗毒散主之。</p>
<p>一疹子未出之時，宜早發散，以解其毒，則無餘災。若不預解使之盡出，以致毒蓄於中，或為壯熱，日久枯瘁，或成驚癇，或為瀉痢，或咳血喘促，或作疳䘌而死。此雖一時戾氣之染，未有不出於人事之未盡者。</p>

<h2>收後諸症</h2>
<p>一疹子出後，自然熱退。若遍身既出，而猶怫怫煩熱，頻作嘔吐者，此毒尚未盡，留連於肺胃之間，宜化斑湯主之。如大便秘者，少加大黃微利之。</p>
<p>一疹子收後，身有微熱者，此虛熱也，不須施治，待氣血和暢，自然退去。若熱太甚，或日久不減，以柴胡麥門冬散，甚則以黃連解毒湯合人參白虎湯與前方相間服之。如發枯毛豎，肉消骨立，漸漸消瘦者，柴胡四物湯主之。</p>
<p>一疹已收去，反渾身發熱，晝夜不退，此毒未解盡，邪火鬱於肌肉之間，久則毛髮焦乾，皮膚枯槁，肌肉羸瘦，為骨蒸癆瘵之症。急宜清熱除疳丸及蘆薈肥兒丸加龍膽草、當歸、連翹等治之。遲則變為慢驚脾風，睡則露睛，口鼻氣冷，手足厥逆瘈瘲，不治之症矣。</p>
<p>一疹收之後，身雖不見羸瘦，但時發壯熱，煩躁不寧，搐掣驚悸，神昏志亂者，此陰血衰耗，餘毒入肝而傳於心也。宜養血安神，以四物湯加麥冬、酸棗仁、淡竹葉、燈心、甘草、石菖蒲、龍膽草、茯神、黃連、辰砂，加減為治，或以前藥為末，用蒸餅豬心血丸服亦可。</p>
<p>一疹收之後，餘熱未盡，日夜煩躁，譫語狂亂者，辰砂益元散，燈心湯調下；或辰砂五苓散加芩、連治之。若初起煩躁譫語者，則升麻葛根湯調辰砂益元散主之。</p>
<p>一疹退之後，微微咳嗽者，此餘毒未盡也，用清肺飲加三味消毒飲主之。若咳甚氣喘，連聲不住，名為頓嗽，甚者飲食湯水俱嗆出，或咳出血者，此熱毒乘肺，為所熏灼，葉焦而舉，故成此症，宜多用麥冬清肺飲加連翹主之。若見胸高如龜，肩聳而喘，血從口鼻出，擺手搖頭，面色或白或青或紅，而色枯黯者，不可治矣。然亦有肺氣虛極，為毒所遏，而發喘連聲不已，但無咳嗽血出嗆食之症者，宜用清肺飲倍加人參治之。尤不可拘於肺熱一端，而純用清肺解毒之藥也。</p>
<p>一疹退之後，聲啞不出，或咳或喘，或身熱不退，以致日久不愈者，此熱毒未盡，肺金受克故也，宜清金降火湯加竹瀝、薑汁主之。</p>
<p>一凡疹前疹後咳嗽者，皆系熱毒傷肺，不可輕視，宜用瀉白散等藥清解之。不然，因循日久，毒火熏蒸，多致喘促躁亂而死。或謂疹後多嗽，此頓出頓入之勢也，凡有餘毒須假嗽多而散，旬日之內尚宜有嗽，切不可見嗽多而治嗽。此真謬妄之言，禍人不淺，切不可輕信。</p>
<p>一麻疹後有熱不退等症，並屬血虛血熱，只宜四物湯按症加減，渴加麥門冬、犀角汁，嗽加瓜蔞霜，有痰加貝母，去白陳皮，切忌人參、白朮、半夏之類，倘誤用，為害不小。蓋麻疹屬陽，血多虛耗，只滋陰補血，其熱自除。所謂養陰退陽之義，始終不可不知也。</p>
<p>一疹退之後，有餘熱未盡，或熱甚而失血者，犀角地黃湯合解毒湯，或四物湯加茵陳、木通、犀角之類，以利小便，使熱氣下行而後愈也。</p>
<p>一疹子初起，多熱不妨，惟愈後最忌重熱，此不可不調治者。蓋疹子發熱多至十二日，少亦不下五七日，熱久元氣虛矣，加之疹出飲食不進，而復重熱，陰陽耗竭，不死何待。故再熱者，必大補氣血可也。每見忽以為常，而死者多矣。</p>
<p>一疹後熱不除，忽作搐者，不可與急驚風同論，用導赤散加人參、麥門冬，送服安神丸。小便清者可治，短少者不可治。</p>
<p>一疹退之後，熱毒未盡，或發癰毒，肢節疼痛者，以羌活散微汗之。</p>
<p>一疹出之時，曾作瀉痢，未經清解，至疹退之後，變為休息痢，不問赤白，裡急後重，晝夜頻仍者，此餘毒在大腸也。須分虛實治之，實者三黃丸微利之，虛者香連丸和之，後用黃芩湯養血行氣。</p>
<p>一疹後未及半月，父母溺愛，飲食隨其所欲而與之食，無論油膩酸鹹辛辣之物，一切不忌，令兒疹後作痢，日久不已，遂成休息痢，此餘毒在大腸也，切不可求效之速，妄投澀藥，一澀而止，則內毒上攻，令兒嘔吐不食，為噤口不語，二三日毒攻大腸，更腸滑不止，或下鮮血，或下如煙塵水豆汁之狀，皆危症也。早服三黃湯，加檳榔、枳殼同煎，調天水散服之可生。蓋先清利而後補，此治痢之良法。</p>
<p>一疹子正出之時，雖不進飲食，但得疹色淡紅潤澤，不為害也。蓋熱毒內攻，自不能食。若熱退後不食，當徐用四物湯加神麯、砂仁一二帖，即能食也。如胃氣虛弱，不納飲食，用君子湯加陳皮；如痰氣壅盛，飲食不下，用二陳湯加桔梗、枳殼；如濕熱太盛，腹脹不能食，平胃散加減治之。</p>
<p>一疹退之後飲食如常，動止如故，乃卒然心腹絞痛，遍身汗出如水者，此因元氣虛弱，失於補養，外雖無病，裡實虛損，偶然為惡氣所中，謂之中惡，此朝發夕死之症，間有用人參湯研蘇合香丸而蘇者。</p>
<p>一疹收之後，遍身發癢不可忍者，此血虛而風濕乘之也，多緣起早及坐臥風濕之地所致。用四物湯加荊芥、薄荷、蟬退，兼濕更加蒼朮，兼熱更加黃芩治之。若煩躁發渴，大小便不利而癢甚，至抓破血流者，此血熱毒盛，留連於肌膚之間也，用四物湯加牡丹皮、連翹、白芷、甘草及三味消毒飲加連翹、黃芩解之。</p>
<p>一疹後餘毒不解，上攻於目者，急宜涼膈散合三味消毒飲加蟬退治之，或四物湯加荊芥、防風煎服，遲則或內生障翳，或赤脈侵睛而目病。大抵疹後目疾多屬血虛血熱，風熱乘之為患，只養血清血，兼散風熱，其病自除。切不可輕用點洗之藥，致傷瞳仁，反為大害也。</p>
<p>一疹毒入胃，久而不散，致牙齦黑爛，肉腐血出，臭氣衝人者，曰走馬牙疳，除疳散主之。如唇口多瘡，其聲嘎啞者，狐惑化䘌丸主之。若久之兩頰腫，環口青黑，頰漏齒脫，唇崩鼻壞者，死症也，外用支蛤散、推黃散塗之，內用人中白、蘆薈、使君子肉、龍膽草、黃連、五靈脂，浸蒸餅為丸，滾水服之，以清胃火，或亦有得愈者，不能多見也。</p>
<p>一疹家禁忌比痘家禁忌尤甚。若誤食雞魚，則終身但遇天行之時又令重出也。鹽、醋食之令咳不止，五辛食之令生驚熱，所以通禁，必須四十九日之後方無虞也。</p>

<h2>孕婦疹症</h2>
<p>一孕婦麻疹，先以保胎為主，當用四物湯，倍加白朮、條芩、艾葉服之。如出不快，用白虎湯合升麻湯，倍加玄參、牛蒡子為佳。如胎氣上衝，急用苧麻根、艾葉煎湯，磨生檳榔服之，更多服四物湯為妙。</p>
<p>一熱毒蒸胎，胎多受傷，但胎雖傷而母實無恙也。蓋疹與痘不同，痘宜內實，故胎落而母亡；疹宜內虛，故胎去而母存。雖然，與其胎去而母存，孰若子母兩全之為愈也。</p>

<h1>方</h1>

<h2>預防</h2>
<p><u>三豆湯</u>　痘疹將發之際服之，令多者可少，少者亦可無，或有終身不出者。</p>
<p>黑豆　綠豆　赤小豆（各一升，生用）　甘草（三兩，生銼）</p>
<p>上將豆淘淨，納甘草，用雪水或長流水煮豆熟為度，去甘草，將豆曬乾，又入汁再浸再曬，汁盡為度，逐日取豆任意食之。</p>
<p><u>預防湯</u>　疹未出時服之，毒少者可使之不出，毒多者亦能減輕，蓋防患於未病之先也。</p>
<p>黃連（一錢五分）　生犀角　鼠黏子（炒用）　山豆根（各一錢）　密蒙花（八分）　苦參（七分）　升麻（三分）　紅花子（十粒）</p>
<p>上銼，用水一鍾半煎至八分半，飢時服。</p>
<p><u>代天宣化湯</u>　小兒未出痘疹者，但覺冬溫或時行疫癘之氣，即宜預服此等解毒之藥，使瘡疹之毒輕減，自然易出易收，無陷伏郁遏留連之意。若見點，切不可服，恐藥性寒而收斂，又出不快矣。</p>
<p>人中黃（屬土，甲乙年為君）　黃芩（屬金，乙庚年為君）　黃柏（屬水，丙辛年為君）　梔子仁（屬火，戊癸年為君）　黃連（屬木，丁壬年為君）　苦參（佐）　連翹（酒洗，佐，去心）　荊芥穗（佐）　防風（佐，去蘆）　牛蒡子（佐，酒淘，炒）　山豆根（佐）　紫蘇葉（佐）</p>
<p>上先視其年所屬，取其藥為君，其餘主歲者為臣，為君者倍之，為臣者半之，為佐者如臣四分之三，於冬至日修合，為末，取雪水煮升麻，和竹瀝調神麯為丸，外用辰砂、雄黃為衣，每服一丸，竹葉湯下，或黍米大，量大小加減服。</p>
<p>制人中黃法</p>
<p>取大甘草不拘多少，用新竹一節，納甘草於中，或為末，仍緊塞無節空處，放屎缸中七七四十九日取出，長流水沖淨，陰乾聽用。</p>

<h2>初熱</h2>
<p><u>治疹主方</u>　始終皆用，隨證加減。</p>
<p>荊芥　防風　枳殼　桔梗　連翹　牛蒡子（炒）　黃芩　前胡　貝母（去心）　陳皮（去白）　白茯苓（各等分）　甘草（減半）</p>
<p>上銼，每服五錢，水煎服。咽喉腫痛，去玄參，多用牛蒡子；有痰及口乾發渴，加天花粉；痰壅作聲喘甚，加石膏；小便不利，加木通、滑石；大熱便秘，加大黃；口舌生瘡，加木通、生地，多用牛蒡子、連翹、黃芩；下痢膿血，加當歸、芍藥、黃連、滑石、木通。</p>
<p><u>升麻葛根湯</u>　治痘疹初發熱壯盛，疑似未明，用此解之。</p>
<p>升麻（一錢）　乾葛（二錢）　白芍（一錢）　甘草（五分）</p>
<p>上加生薑二片、蔥白一根，水煎服。一方加紫蘇一錢半。咳嗽，加貝母三分；氣喘，減升麻，加陳皮三分；頭痛，加川芎三分；腹痛，加薑汁三五茶匙。</p>
<p><u>升蘇散</u>　治小兒出疹發熱，疑似之間，以此解之。</p>
<p>升麻　葛根　蘇葉　赤芍　川芎　茯苓　甘草（各等分）</p>
<p>上銼，每服三五錢，水煎服，量大小增減為劑。</p>
<p><u>蘇葛散</u>　疹初發時，用此解利發散之。</p>
<p>紫蘇葉（五分）　葛根（五分）　白芷（五分）　前胡（五分）　赤芍（炒，五分）　川芎（五分）　枳殼（麩炒，五分）　炙甘草（三分）</p>
<p>上銼，加生薑二片、蔥白一根，水煎，熱服。</p>
<p><u>敗毒散</u>　疹初發熱壯盛，用此解之。</p>
<p>升麻　葛根　紫蘇葉　川芎　羌活　防風　荊芥　薄荷　前胡　桔梗　枳殼（麩炒）　蟬退　牛蒡子（炒）　山楂肉　地骨皮　甘草</p>
<p>上各等分，入生薑一片，水煎，加蔥白汁五匙，熱服。如熱甚，加柴胡、黃芩。夏加香薷，冬加麻黃。</p>
<p><u>小柴胡湯</u>　治疹乍涼乍熱似瘧者。</p>
<p>柴胡（三錢）　人參（三錢）　黃芩（三錢）　半夏（二錢）　甘草（二錢）</p>
<p>上銼，每服三錢，生薑三片、棗一枚水煎，溫服。喘，加五味子二分。</p>

<h2>出遲</h2>
<p><u>發散方</u>　治疹受風寒不出，急為發散。</p>
<p>防風　荊芥　牛蒡子（炒）　升麻　白芍　乾葛（各等分）　甘草（減半）</p>
<p>上銼，每服五錢，水煎服。</p>
<p><u>消毒飲</u>（即解毒湯）　治瘡疹已出，未能勻透，毒氣壅遏，出不快，壯熱狂躁，咽膈壅塞，睡臥不安，大便秘澀，及大人小兒上膈壅熱，咽喉腫痛，胸膈不利。</p>
<p>牛蒡（六兩）　荊芥（一兩）　甘草（二兩）</p>
<p>上為粗未，每服二錢，水七分煎四分，去滓，食後臨臥服之。此藥治大便秘澀，是治裡熱故也。況本草云：惡實味辛平。其中治證，治風腫，治暴食熱，內生風，解丹石毒，治咽喉四肢風腫，此性稍涼也。為瘡疹所宜服者，能透肌出癰瘡，是以瘡疹亦出也，大便利則不可服。一方加防風。</p>
<p><u>瀉白消毒散</u>　治疹發熱出不快，輕者用此發之。</p>
<p>桑白皮　地骨皮（二味採取新鮮者，各用三錢）　牛蒡子（炒，研）　荊芥穗（各一錢半）　桔梗（一錢）　甘草（一錢）　浮萍（曬乾，二錢）</p>
<p>水煎服。</p>
<p><u>加味金沸草散</u>　治疹發熱出不快，重者用此發之。</p>
<p>旋覆花（去粳）　麻黃（去節，水煎，掠去浮末，曬乾）　前胡（去蘆，各一錢）　荊芥穗（一兩）　赤芍（五錢）　半夏（姜泡七次，炒）　甘草（各五錢）　鼠黏子（炒，七錢）　浮萍（七錢）</p>
<p>上為末，每服三錢，生薑二片、薄荷葉三五片，水煎服。</p>
<p><u>防風解毒湯</u>　治麻疹初發熱，如時令溫暖，用此辛涼之藥發之。</p>
<p>防風　薄荷　荊芥　石膏　知母　桔梗　牛蒡子（炒）　連翹　木通　枳殼（各等分）　甘草（五分）</p>
<p>上銼，每服五七錢，加燈心草，水煎服。</p>
<p><u>黃連解毒湯</u>　治麻疹初發熱，如時暄熱，以此辛寒之藥發之。</p>
<p>黃連　黃芩　黃柏（俱酒炒）　防風　荊芥穗　知母　石膏　梔仁　大青　玄參　木通　桔梗　甘草（各等分）</p>
<p>姜三片水煎服。</p>
<p><u>桂枝解毒湯</u>　治麻疹初發熱，如時令大寒，以此辛溫之藥發之。如必用麻黃，用水煎，去浮沫，以酒炒焦色再用，當慎之。</p>
<p>桂枝　麻黃（酒炒）　赤芍　防風　荊芥　羌活　川芎　人參　牛蒡子（炒）　桔梗　甘草（各等分）</p>
<p>上銼，加生薑，水煎服。</p>
<p><u>升麻解毒湯</u>　治麻疹初發，如初熱時令忽暖忽寒，以此辛平之藥發之。</p>
<p>升麻　乾葛　荊芥穗　防風　羌活　連翹　牛蒡子　柴胡　前胡　人參　赤芍藥　桔梗　甘草（各等分）</p>
<p>水煎服。</p>
<p>以上四方雖曰因時制宜，亦不可拘泥。如冬月亦有不宜桂枝、麻黃，而宜石膏者，正當以脈症為主耳。若株守而不知變通必有失，不如用前二方為妥當也。</p>
<p><u>荊防敗毒散</u>　治疹子初出不快，若時令不熱不寒，用此發之。</p>
<p>人參　赤苓　羌活　獨活　薄荷　川芎　柴胡　枳殼　桔梗（各等分）　甘草　防風　荊芥穗（各減半）</p>
<p>上銼，水煎服。如肺熱，去人參；如天行疫熱，加黃芩、黃連。</p>
<p><u>紫黃解毒湯</u>　治小兒痘疹因熱毒蘊蓄於內，以致瘡發不出麻疹，服之亦妙。</p>
<p>紫草（二錢）　麻黃（二錢）　柴胡（二錢）　川芎（一錢五分）　羌活（一錢）　防風（一錢）　白芷（一錢）　蟬退（一錢）</p>
<p>上銼為粗散，每服四五錢，加蔥白三莖、生薑三片，水煎服，稍熱服之。</p>
<p><u>麻黃梔子湯</u>　治疹服表藥不出，服此藥即出，神效。</p>
<p>麻黃（蜜酒炒黑）　梔子（連殼炒）　黃芩（酒炒）　黃連（酒炒）　牛蒡子（炒）　石膏（各一錢）　紅花（三分）　蟬退（去頭足，五分）　炙甘草（五分）</p>
<p>上銼，隨症多少，水煎服。</p>
<p><u>透肌散</u>（即化毒湯）　治瘡疹出不快。</p>
<p>紫草茸（五錢）　升麻（五錢）　甘草（五錢）</p>
<p>上銼如麻豆大，水二盞、糯米五十粒煎至一盞，去滓放溫，分作數服。劉氏云：麩瘡欲出，渾身壯熱，不思飲食，若服此，一服即內消，已有一兩顆出即解其半，若令即出，當日頭焦，只服三次，瘥。</p>
<p><u>透肌散</u>　治疹初出，隱隱淹在肉內，似出即沒者，隱疹也，用此發之。</p>
<p>牛蒡子（炒香，二錢半）　葛根（二錢）　荊芥穗（二錢五分）　蟬退（去頭足，一百個）</p>
<p>上作一劑，用時酒一小鐘、水一茶鍾半煎至六分，溫服。一次依本方加羌活五分，二次依本方加枳殼、紫蘇各六分，三次依本方加牛膝五分引，照前服。</p>
<p><u>麻黃散</u>　治疹子淹延不出，毛孔盡閉，皮膚乾燥，是毒氣怫鬱於內，急以此發之。</p>
<p>升麻（酒洗）　麻黃（酒洗，炒黑）　路東黃（火煅閉成黑炭）</p>
<p>一方用人中黃、牛蒡子炒、蟬退去土並翅足微焙，各等分。</p>
<p>上為細末，量人大小及毒之輕重，用無灰酒調下。</p>
<p><u>檉柳散</u>　檉柳亦名西河柳，亦名垂絲柳，青茂時採葉曬乾，為末，每服一二錢，茅根湯調下。</p>
<p><u>胡荽酒</u>　蕪荽四兩切細，好酒二鍾先煎數沸，入芫荽再煎少時，用物含定，勿令泄氣，候溫遠近噴之，從項至足，勿噴頭面，使香氣襲運，自然出快。</p>

<h2>邪閉毒盛</h2>
<p><u>麻黃湯</u>　治疹子閉密不出，或為風寒所襲，急用此發之，或以消毒飲，含升麻熱服。</p>
<p>麻黃（去根節，制過）　升麻　牛蒡子（炒）　蟬退（去足翅，洗淨）　甘草（各一錢）</p>
<p>上銼細，加臘茶葉一錢，水一盞煎七分，去渣服。</p>
<p><u>麻黃杏仁湯</u>　身體極熱，隱伏不出疹，或紫暗不明，或才出即沒，略無突勢，此皆腠理閉密，或風寒所抑遏，急用此以發之。</p>
<p>麻黃（三分）　杏仁（一錢）　桂枝（五分）　甘草（五分）</p>
<p>上為粗散，加蔥、姜，水煎，熱服。</p>
<p><u>化斑湯</u>　治疹子色紅及火毒太盛，外發未盡，內有餘邪，連綿四五日不收者；若遍身既出而猶怫怫煩熱頻作嘔吐者，此毒尚未盡，留連於肺胃之間也，亦以此治之。</p>
<p>人參　知母　石膏　升麻　連翹　牛蒡子（炒）　地骨皮　甘草　淡竹葉　糯米</p>
<p>一方有桔粳，無糯米，分量隨症多少。</p>
<p><u>加味消毒飲</u>　治毒火大盛，外發未盡，內有餘邪。</p>
<p>荊芥（二錢）　牛蒡子（二錢）　甘草（一錢）　玄參（一錢半）　桔梗（一錢半）</p>
<p>上銼，水煎服。</p>
<p><u>六一散</u>（一名益元散，一名天水散）　治疹色紫赤暗晦，乃火毒熾盛也，此方主之。</p>
<p>滑石（膩白者，研細，水飛過，曬乾再研，六兩）</p>
<p>上合一處拌勻，每三五歲小兒服一錢，十歲服二錢，寒天溫服，夏月新汲水調服。</p>
<p><u>大青湯</u>　疹色紫赤乾燥暗晦及出太甚者，此血熱也，此方主之。</p>
<p>大青　玄參　桔梗　石膏　知母　升麻　梔仁　木通　人中黃（各等分）</p>
<p>一方用路東黃，無人中黃。</p>
<p>上銼，水煎成，燒人糞入之。如大便秘，加酒大黃。</p>
<p><u>又大青湯</u>　治同前。</p>
<p>大青葉　玄參　生地　石膏　知母　地骨皮　荊芥　木通　甘草（各等分）</p>
<p>上銼細，水一盞、淡竹葉十二片煎七分，去滓，溫服。</p>
<p><u>玄參解毒湯</u>　治同前。</p>
<p>玄參　黃芩　梔仁（炒黑）　桔梗　生地　葛根　荊芥穗　甘草（各等分）</p>
<p>上銼，水煎服。</p>
<p><u>山梔子湯</u>　治麩疹癍毒，狀如蚊蟲所咬，毒盛色黑者。</p>
<p>梔仁（一錢）　白鮮皮（一錢）　赤芍（一錢）　升麻（一錢）　寒水石　甘草（各五分）</p>
<p>上切，入紫草、薄荷，水煎服。</p>
<p><u>犀角散</u>　解風疹熱毒，但煩躁，小便赤澀，多渴者。</p>
<p>犀角（鎊，五分）　甘草（炙，五分）　防風（二錢）　黃芩（一錢）</p>
<p>上作一服，水煎服。</p>
<p><u>和解散</u>　誠齋依此方曾治數十兒，真能起死回生。</p>
<p>麻黃（去節，取頭末）　綠豆（取生面隔紙焙熱，各七分）　蒲公英（鮮，二錢，如干者七分）　條芩（一錢）　生地（一錢）</p>
<p>後三味銼，用水二鍾煎七分，去渣，和前麻黃、綠豆麵，冬春溫服，夏秋涼服。</p>
<p><u>外用方</u></p>
<p>仰天皮（二斤，即凹地地卷皮）　嫩柳皮（半斤）　星星草（四兩）　蟬退（二百個，去頭足）</p>
<p>上入水十鍾，淨鍋內熬三沸，去渣，乘熱氣熏洗兒遍身，黑變為鮮色，十有九生之妙。</p>
<p><u>路東散</u>　治疹色紫黑。</p>
<p>用路東黃為末，無灰酒調下。路東黃乃人糞之在路東者，干久益佳，用火煅成黑炭。上為細末，量人大小毒輕重，無灰黃酒調下。</p>

<h2>色淡</h2>
<p><u>養血化癍湯</u>　疹子色喜通紅，若淡白者，血不足也，此方主之。</p>
<p>當歸身　生地　人參　紅花　蟬退（各等分）</p>
<p>上銼細，水一盞、生薑一片煎六分，去滓，溫服無時。</p>
<p><u>養榮湯</u>　治麻疹色白。</p>
<p>人參（減半）　當歸身（酒洗）　赤芍（桂水炒）　炙甘草　紅花酒（各等分）</p>
<p>水煎服。</p>

<h2>汗衄</h2>
<p><u>黃連湯</u>　疹子發熱，自汗出者，毒隨汗解，不可遽止，但汗出太多，此為火迫，急當止之，此即當歸六黃湯，以麥門冬易熟地黃也。</p>
<p>黃連　黃芩　黃柏　黃耆　生地　麥門冬（去心）　浮小麥（各等分）</p>
<p>上水煎，去滓，調敗蒲扇灰服之。</p>
<p><u>茅花湯</u>　疹子發熱，鼻中出血，毒從血解，不可遽止；若血出多者，此為火迫太盛，急以此止之，不然恐致昏暈。</p>
<p>茅花　當歸尾　牡丹皮　生地　炙甘草（各等分）</p>
<p>水煎服。</p>
<p><u>又茅花湯</u></p>
<p>茅花　歸尾　生地　梔子　黃芩　玄參</p>
<p>又一方無當歸、玄參，有鬱金。</p>
<p>上銼，水煎，調百草霜服。</p>

<h2>發渴</h2>
<p><u>化癍湯</u>　治疹發渴最良。</p>
<p>人參（一錢）　知母（一錢）　甘草（五分）　石膏（末，三錢）</p>
<p>上銼散，入粳米一小撮，水一盞煎六分，溫服。一方石膏以溫紙裹火煨。一方加萎蕤一錢。</p>
<p><u>葛根麥門冬散</u>　治疹子初發，身熱頭痛，煩渴咳嗽，喜飲水者，此方主之。</p>
<p>乾葛　麥門冬（各一錢）　石膏（三錢）　升麻（五分）　赤芍（五分）　白茯苓（五分）　甘草（五分）</p>
<p>上銼細，加淡竹葉七片，水煎七分，去渣，溫服。</p>
<p><u>人參白虎湯</u>　治疹子出見渴者。</p>
<p>人參　知母　石膏　天花粉　葛根　麥冬（去心）　淡竹葉　糯米</p>
<p>上銼細，水煎，以米熟為度，服。</p>
<p><u>白虎合解毒湯</u>　疹出渴甚者，此方主之。</p>
<p>石膏（研塵末，四錢）　知母（一錢）　黃芩（一錢）　天花粉（一錢）　梔仁（一錢）　黃連（一錢）　生地黃（二錢）　麥門冬（二錢）</p>
<p>上銼，入竹葉十二片，水二鍾煎一鍾，更磨入犀角汁，索湯水則與之，覺胃熱渴，更宜以此方多與之，胃清乃止，庶免牙疳之害。若真至牙疳成，而後清胃涼血解毒，往往噬臍無及矣，慎之慎之。</p>
<p><u>白虎蒼朮湯</u>　治疹煩熱渴瀉。</p>
<p>蒼朮（一錢半）　知母（一錢）　甘草（三分）　石膏（末，三錢）　糯米（一撮）</p>
<p>上銼散，水煎六分，不拘時溫服。</p>
<p><u>豬苓湯</u>　治疹毒煩渴及夏月中暑，煩熱喘渴。</p>
<p>豬苓（一錢）　澤瀉（一錢半）　茯苓（一錢半）　滑石（一錢半）　甘草（一錢半）　阿膠（一錢）</p>
<p>上用水一升二合先煎前五味，取七合，去渣，入阿膠再煮一沸，分二服。</p>
<p><u>涼膈散</u>　治疹瘡，上焦積熱，煩躁多渴，面赤面熱，頭昏咽燥，腫痛口瘡，便溺赤澀，狂言譫語，妄睡臥不安，並宜服之。</p>
<p>大黃（二錢）　芒硝（二錢）　甘草（二錢）　連翹（四錢）　梔子仁（一錢）　黃芩（一錢）　薄荷（一錢）</p>
<p>共為末，每服一二錢，竹葉、蜜少許煎服。</p>
<p><u>綠豆燈心炒米湯</u>　治疹症發渴，以此頻飲之。</p>
<p>綠豆（一酒鍾）　糯米（炒熟，一撮）　燈心（三十根）</p>
<p>上水煎成湯，溫服頻頻。</p>

<h2>咽痛</h2>
<p><u>如聖飲子</u>　治瘡疹毒攻，咽嗌腫痛。</p>
<p>桔梗（一兩）　甘草（一兩）　鼠黏子（炒一兩）　麥門冬（去心，五錢）</p>
<p>上銼，加竹葉同煎二三錢。</p>
<p><u>加味甘桔湯</u>　治疹出之時，咽喉腫痛，不能飲食，此毒火怫鬱，上熏咽喉也。</p>
<p>甘草　桔梗　玄參　牛蒡子（炒）　連翹（各等分）</p>
<p>上銼，水煎服。一方無桔梗，加防風等分。</p>
<p><u>牛蒡甘桔湯</u>　治疹出邪火熏灼，咽喉痛。</p>
<p>桔梗　甘草　牛蒡子（炒）　連翹　射干　升麻　梔子仁　片黃芩（酒炒）　黃連（酒炒，各等分）</p>
<p>水煎，食後服。</p>
<p><u>消毒飲</u>　治痘疹已出，上焦壅熱，咽喉腫痛，胸膈不利。</p>
<p>荊芥（二錢）　牛蒡子（二錢）　甘草（一錢）</p>
<p>上銼，加生薑二片，水煎服。一方加防風一錢。</p>
<p><u>清咽湯</u>　治疹後熱毒在胃攻衝，喉啞疼痛，晝夜飲水不歇。</p>
<p>升麻　玄參　射干　連翹　梔子　黃芩　石膏　薄荷　金銀花　麥冬　歸尾　生地　甘草節　川大黃（各等分）</p>
<p>水煎，頻頻溫服，渣再煎。</p>
<p><u>十金散</u>（一名十宣散）　治疹症咽喉腫痛。</p>
<p>黃連（一錢）　黃芩（一錢）　黃柏（一錢）　苦參（五分）　孩兒茶（五分）　雄黃（五分）　硼砂（三分）　玄明粉（三分）　乳香（一分）　片腦（少許，臨時入）</p>
<p>上共為細末，每用五釐，蘆筒吹入喉中。</p>
<p><u>小靈丹</u>　疹後餘毒壅遏，咽喉腫痛，咽物不下，牙齒破爛。</p>
<p>白宮硼（二錢）　辰砂（一錢）　沒藥（三分）　乳香（三分）　朴硝（三錢）</p>
<p>上共為細末，將藥盛入蘆筒吹，或干敷患處。</p>

<h2>嗽喘</h2>
<p><u>瀉白散</u>　治疹症咳嗽。</p>
<p>桑白皮（蜜炙，二錢）　地骨皮（洗淨，一錢半）　甘草（生用，五分）</p>
<p>上銼，加竹葉二十片、燈心草三十根，水煎服，或水調服亦可。</p>
<p><u>加味瀉白散</u>　治疹出之時咳嗽，口乾心煩，此毒在心肺發未盡也。</p>
<p>桑白皮（蜜炙）　地骨皮　甘草　黃連　連翹　玄參　天花粉（以上各等分）</p>
<p>引淡竹葉、燈心草，水煎服。</p>
<p><u>又加味瀉白散</u>　治疹毒火盛，煎熬肺臟，以致咳嗽喘急。</p>
<p>桑白皮（蜜炙）　地骨皮　片芩　黃連（酒炒）　梔子仁　連翹　大青　玄參　馬兜鈴　桔梗　淡竹葉</p>
<p>上銼，加燈心草，水煎服，為散亦可。</p>
<p><u>黃連杏仁湯</u>　治嬰孩受邪熱後或作麻痘，成痘疹之症，其瘡漸出，咳嗽煩悶，嘔逆清水，眼赤，咽喉口舌生瘡，作瀉。</p>
<p>黃連（一兩）　杏仁（五錢）　麻黃（五錢）　陳皮（五錢）　枳殼（五錢）　葛根（五錢）</p>
<p>上銼，每服二錢，水煎。作瀉，加製厚朴、甘草。</p>
<p><u>葛根橘皮湯</u>　治肌肉斑爛，隱疹如線紋，咳嗽嘔吐。</p>
<p>葛根　橘皮（去白）　麻黃　杏仁（去皮尖）　黃芩　知母　甘草（各等分）</p>
<p>上銼，水煎服。</p>
<p><u>清熱解毒湯</u>　治疹後咳嗽喘急，煩躁聲啞，痰涎壅盛，此餘毒未盡，或飲食積熱所致也。</p>
<p>黃連　黃芩（酒炒）　連翹　牛蒡子（炒）　玄參　知母　陳皮　桔梗　杏仁（等分）　甘草（五分）</p>
<p>上銼，水煎服。腹脹，加厚朴、枳殼；泄瀉，加白芍、木通、澤瀉。</p>
<p><u>清肺解毒湯</u>　誠齋依此方曾救數十兒，起死回生。治疹收之際胸腹喘急咳嗽，悶亂狂言，手足動搖，此餘毒收肺也。</p>
<p>片黃芩（一錢）　陳皮（去白，一錢）　麥冬（二錢）　貝母（去心，一錢半）　黃連（酒炒，七分）　赤苓（七分）　桑白皮（蜜炙，五分）　甘草（五分）　蒲公英（三錢）　川大黃（三錢，切片，入滾水一鍾泡一時，澄汁一小鐘，入熟藥內）</p>
<p>上將前九味入水二鍾，煎至七分，去渣，方入大黃汁和服，以便下惡物為度。</p>
<p><u>清金降火湯</u>　治疹後咳嗽聲促，此火傷肺金也，用此方治之。</p>
<p>片黃芩　梔子仁　赤芩　桔梗　石膏　知母　陳皮（去白）　地骨皮　麥門冬　玄參　牛蒡子（炒）　杏仁　瓜蔞仁　淡竹葉　甘草</p>
<p>上銼，水煎，食後溫服。</p>
<p><u>門冬清肺飲</u>　治疹後咳嗽，或血出，或嗆湯水。</p>
<p>天門冬　知母　貝母（去心）　石膏（煅）　牛蒡子（炒）　馬兜鈴　杏仁（去皮尖）　桔梗　甘草（各等分）　糯米（一撮）</p>
<p>上銼，水煎服。</p>
<p><u>又門冬清肺湯</u>　治疹後咳甚，氣喘連聲不住，甚者，飲食湯水俱嗆出者，此熱毒乘肺而然也，宜此方加枇杷葉。</p>
<p>天門冬（去心）　麥門冬（去心）　知母　杏仁　貝母（去心）　款冬花　馬兜鈴　桑白皮　桔梗　地骨皮　牛蒡子（炒）　甘草（各等分）</p>
<p>上銼細，每服五錢，水一盞煎七分，去渣，食後溫服。如見血，加茅根汁、阿膠珠。</p>
<p><u>生地黃散</u>　治小兒癍疹，身熱口乾，咳嗽心煩者。</p>
<p>生地黃（五錢）　麥門冬（去心，七錢）　陳皮（去白，三錢）　款冬花（三錢）　杏仁（三錢）　甘草（二錢）</p>
<p>上銼細，每服三錢，水煎，徐徐溫服，不拘時，量大小加減。若肺經有熱者，宜用此方；若痰氣上壅者，佐以抱龍丸。</p>
<p><u>寧嗽湯</u>　治疹後咳嗽不止，或因食酸鹹，致火毒傷肺，體實者用之。</p>
<p>葶藶（炒，為末）　桑白皮（蜜炙）　片芩（酒炒）　天花粉　馬兜鈴　桔梗　石膏（煅）　瓜蔞仁（去油）　梔子仁　甘草</p>
<p>上銼，水煎，食後服。</p>
<p><u>斂肺湯</u>　誠齋依此方曾救數十孩子，真仙方也。治疹收之後，喘急悶亂，頭折眼吊，胸膛高陷，角弓反張，目睛直視，唇白麵黃，口鼻歪斜，名曰肺氣耗散，正氣不歸原也，急以此方救之，緩則無救。如唇反黑紫，鼻眼俱黑，死在旦夕不治。</p>
<p>遼五味子（三錢）　麥門冬（去心，三錢）　片芩（二錢）　甘草節（五分）</p>
<p>上作一劑，水一鍾半煎至五分，溫服。</p>
<p><u>前胡枳殼湯</u>　治疹後餘毒不解，大便堅秘，腹脹氣喘。</p>
<p>前胡（一錢）　枳殼（一錢）　赤茯苓（一錢）　大黃（二錢）　甘草（五分）</p>
<p>上水一鍾煎一沸，不得煎熟，空腹溫服。小人減半，瀉者不可服。</p>

<h2>吐瀉</h2>
<p><u>竹茹石膏湯</u>　治疹症作吐。</p>
<p>陳皮　竹茹　石膏　白茯苓　石膏　半夏　甘草（各等分）</p>
<p>上銼，水煎服。</p>
<p><u>升麻澤瀉湯</u>　治疹症自利。</p>
<p>升麻　澤瀉　豬苓　赤苓　黃連（酒炒）　滑石　甘草（各等分）</p>
<p>上銼，水煎服。</p>
<p><u>五苓六一散</u>　治疹症泄瀉。</p>
<p>白朮　白茯苓　豬苓　澤瀉（各一錢）　官桂（減半）　滑石（八分）　甘草（五分，以上三味另為末，臨服入）</p>
<p>水煎，攪勻空心服。</p>
<p><u>加減四苓散</u>　治新瀉熱瀉。</p>
<p>蒼朮（泔浸，炒，一錢）　白茯苓（一錢）　豬苓（一錢）　澤瀉（一錢）　炙甘草（三分）</p>
<p>上銼，加生薑，水煎服。</p>
<p><u>加味四苓散</u>　治疹後瀉利，乃積熱於大腸。</p>
<p>澤瀉（一錢）　白茯苓（一錢）　豬苓（一錢）　白朮（一錢）　木通（一錢）　白芍（八分）　黃芩（八分）　黃連（八分）</p>
<p>上銼，水煎服。</p>
<p><u>柴苓湯</u>　治疹瀉，小便不利。</p>
<p>柴胡（二錢半）　茯苓（一錢半）　黃芩（一錢半）　豬苓（一錢半）　澤瀉（一錢）　白朮（一錢半）</p>
<p>上銼，水煎，分三服，溫服。</p>
<p><u>春澤湯</u>　即五苓散去桂加人參。</p>
<p>治夏月中暑而嘔瀉。</p>
<p><u>黃芩湯</u>　疹子發熱吐利，乃邪火內迫，純是熱症，不可作寒論，用此方加減。</p>
<p>黃芩（一錢半）　白芍（六錢）　炙甘草（一錢）　大棗（一枚）</p>
<p>上銼細，加大棗一枚，水一盞煎七分，食前溫服。上焦多吐，加茅根、蘆根、枇杷葉；下焦多利，送下香連丸，方見滯下；中焦吐利，多加蘆根，煎調六一散。</p>
<p><u>升芍湯</u>　解表和中，若脾胃虛弱，先後泄瀉，皆用之。</p>
<p>升麻（一錢）　葛根（一錢）　芍藥（一錢）　人參（一錢，或用或減）　白朮（一錢）　白茯苓（一錢）　甘草（五分）</p>
<p>上銼，水煎服。若疹正出時泄瀉，加豬苓、澤瀉；大熱瀉，加黃芩；瀉久虛寒，加木香、砂仁、肉桂。</p>
<p><u>四君子合消毒湯</u>　治麻疹未出而先曾泄瀉，致元氣虛弱，不能升發毒氣者，急此以補中散表。</p>
<p>人參　白朮　白茯苓　炙甘草（減半）　荊芥　牛蒡子（炒，各一錢）</p>
<p>上銼，水煎服。</p>
<p><u>理中湯</u>　治傷食傷冷，或過服寒涼，致傷脾胃而瀉。</p>
<p>人參（一錢）　白朮（一錢）　乾薑（炮，一錢）　炙甘草（一錢）</p>
<p>上銼，水煎服。</p>
<p><u>豆蔻丸</u>　治久瀉滑脫不止。</p>
<p>肉豆蔻（麵裹煨，五錢）　白龍骨（五錢）　訶子肉（五錢）　赤石脂（七錢五分）　枯礬（五分）　炒砂仁（三錢）</p>
<p>上為細末，飲丸如黍米大，周歲小兒三十丸，三歲百丸，溫米湯下，瀉止勿服。一方無龍骨。</p>

<h2>滯下（即赤白痢）</h2>
<p><u>黃芩芍藥湯</u>　治疹症滯下。</p>
<p>條芩（三錢）　白芍（炒，三錢）　升麻（二錢）　炙甘草（一錢）</p>
<p>上銼，水煎服，或少加大黃微利之。</p>
<p><u>加味黃芩湯</u>　治疹自利，甚則裡急後重而為滯下。</p>
<p>黃芩（一錢半）　黃連（一錢半）　白芍（三錢）　甘草（七分）　滑石末（三錢，若滑石不煎，調服止於一錢）</p>
<p>上銼，水煎服。血痢，加地榆二錢。</p>
<p><u>黃芩湯</u>　疹前曾有瀉痢，先用清解之藥，至於疹後變為休息痢，治法不問赤白，若見裡急後重，晝夜無度，即用此方。</p>
<p>黃芩　黃連　當歸　川芎　人參　青皮　枳殼　木香　炙甘草　檳榔（各等分）</p>
<p>上水煎服，調益元散服。氣盛者，加酒大黃微利之。</p>
<p><u>三黃湯</u>　疹後痢疾，如壯盛之人，有怫鬱挾食積而能食者，以此微利之。</p>
<p>黃芩（炒）　黃連（炒）　大黃（酒蒸，各等分）</p>
<p>上銼，水煎服，以微利為度。如飲食厚味，積毒於大腸，下鮮血或如豆汁煙塵水者，加檳榔、枳殼，水煎服，調天水散。</p>
<p><u>香連丸</u>　治疹後紅白痢。</p>
<p>黃連（淨，十兩）　吳茱萸（五錢）</p>
<p>二味同用水拌勻，頓滾水內半日，取出炒乾，去茱萸不用，加木香三兩不見火，為細末，醋糊丸，空心量大小加減服之。</p>
<p><u>香橘丸</u>　患痢不飲湯藥者，此方主之。</p>
<p>使君子（去殼，一兩）　訶子（煨，去殼，二錢半）　神麯（炒，一錢）　麥芽（炒，一錢）　炙甘草（一錢）　厚朴（薑汁炒，一錢）　橘紅（一錢半）　廣木香（一錢二分）</p>
<p>上為極細末，煉白蜜為丸，如綠豆大，食前米飲下三十丸。</p>
<p><u>黃連柏葉湯</u>　治疹後赤痢，時下鮮血。</p>
<p>黃連（薑汁炒）　側柏葉（炒）　槐花（炒）　荊芥穗　歸尾（酒洗）　川芎　條芩（炒）　枳殼（麩炒）</p>
<p>上銼，水煎，空心溫服。</p>
<p><u>枳殼丸</u>　治疹後白痢。</p>
<p>吳茱萸　枳殼（麩炒）　升麻　白芍　滑石　椿根皮</p>
<p>上為細末，烏梅取肉為丸，空心白湯送下。</p>

<h2>便秘</h2>
<p><u>桃仁承氣湯</u>　治癍疹大便秘結，以此下之。</p>
<p>桃仁（五錢）　大黃（一兩）　芒硝（三錢）　桂皮（三錢）　甘草（三錢半）</p>
<p>上㕮咀，每服四五錢，入生薑煎服。</p>
<p><u>四順散</u>　治痘疹壯熱，大便秘結，小便赤澀。</p>
<p>大黃　當歸　赤芍　甘草（等分）</p>
<p>每服四錢，水煎服。</p>
<p><u>涼膈散</u>　治身熱大便秘。</p>
<p>大黃（一錢）　梔子（一錢）　黃芩（一錢）　薄荷（一錢）　連翹（一錢）　甘草（五分）</p>
<p>上銼，水煎服。</p>
<p><u>大柴胡湯</u>　治身熱大便秘。</p>
<p>柴胡　芍藥　黃芩　枳殼　大黃（各等分）</p>
<p>水煎服。</p>
<p><u>宣風散</u>　治腹脹，大便秘，煩熱。</p>
<p>檳榔（二錢）　牽牛（頭末，二錢）　陳皮（二錢）　甘草（一錢）</p>
<p>上為細末，用蜜水調，壯者服一錢，幼者服五分。</p>
<p><u>八正散</u>　治小便秘。</p>
<p>赤茯苓　貝母　木通　滑石　車前子　萹蓄　梔子　甘草（等分）</p>
<p>上銼散，用水煎服。</p>
<p><u>加減四苓散</u>　治小便赤澀。</p>
<p>赤茯苓（二錢）　豬苓（二錢）　澤瀉（二錢）　甘草（一錢）</p>
<p>上用水煎服。熱甚，加木通、梔子。</p>

<h2>餘熱</h2>
<p><u>葛根黃連湯</u>　治疹後熱不除。</p>
<p>葛根（五錢）　黃連（三錢）　黃芩（二錢）　甘草（一錢半）</p>
<p>上銼，每服三錢，水一鍾煎六分，溫服，渣再煎。</p>
<p><u>加味地骨皮散</u>　治疹出發熱不退，飲食不進。</p>
<p>地骨皮（鮮者，三錢）　桑白皮（鮮，二錢）　麥門冬（去心，二錢）　銀柴胡（一錢）　赤芍藥（一錢）　乾葛（一錢）　犀角（五分）　甘草（五分）</p>
<p>上銼，水煎服。</p>
<p><u>柴胡麥門冬散</u>　治疹子收後，熱仍太盛，或日久不減。</p>
<p>柴胡（五分）　人參（五分）　玄參（五分）　麥門冬（去心，八分）　龍膽草（三分）　甘草（三分）</p>
<p>上銼，水煎服。誠齋治正藍旗敦拜子疹十日不收，即效。</p>
<p><u>清火消毒湯</u>　治疹後餘毒不盡，渾身壯熱。</p>
<p>黃芩　黃連　梔子　龍膽草（酒洗）　地骨皮　鬱金　雄黃　燈心</p>
<p>上銼，水煎服。</p>
<p><u>金花丸</u>　治疹同前。</p>
<p>黃連　黃芩　黃柏　大黃（各等分）</p>
<p>上為細末，滴水為丸如梧子大，每服三十丸，白湯送下，量大小加減。去大黃，加梔子，名梔子金花丸。</p>
<p><u>胃苓散</u>　治疹後脾胃虛弱，餘熱延綿不退。</p>
<p>白朮　茯苓　豬苓　澤瀉　蒼朮（米泔浸，炒）　厚朴（薑汁炒）　陳皮（各等分）　炙甘草（減半）　官桂（少許）</p>
<p>上銼，入薑、棗水煎，溫服。</p>

<h2>驚搐</h2>
<p><u>當歸養血湯</u>　疹後渾身壯熱，未至羸瘦，但多搐掣煩躁不寧，此熱在心脾二經也，此方與黃連安神丸間而服之。</p>
<p>當歸　川芎　生地　麥門冬　山梔子　木通　甘草　淡竹葉　燈心草</p>
<p>便秘，少加大黃，水煎服。</p>
<p><u>黃連安神丸</u>　與前方間服。</p>
<p>黃連（二錢）　當歸（二錢）　龍膽草（三錢）　石菖蒲（一錢五分）　茯神（一錢五分）　全蠍（七個）</p>
<p>上共為極細末，湯浸蒸餅杵豬心血為丸，如黍米大，硃砂為衣，每服十丸，燈心草湯下。</p>
<p><u>加味四物湯</u>　治疹後時發壯熱，煩躁不寧，搐掣驚悸，神昏志亂者。此陰血衰耗，致餘毒入肝而傳於心也，宜用此養血安神。</p>
<p>當歸　川芎　芍藥　生地黃　麥門冬（去心）　茯神（去木）　石菖蒲　酸棗仁（炒）　龍膽草　黃連　甘草　辰砂　淡竹葉　燈心草</p>
<p>上銼，水煎服。或為末，用蒸餅豬心血丸亦可。</p>
<p><u>加味導赤散</u>　疹後熱不除，忽作搐者，不可與急驚風同論，用此方。</p>
<p>木通（二錢）　生地黃（二錢半）　生甘草（五分）　人參（一錢）　麥門冬（一錢）　淡竹葉（三十片）</p>
<p>上銼，水煎服，送下安神丸。</p>
<p><u>安神丸</u>　與前方同服。</p>
<p>黃連（五錢）　歸身（五錢）　麥門冬（去心，五錢）　白茯苓（去木，五錢）　甘草（五錢）　硃砂（一兩）　龍腦（二分半）</p>
<p>上為末，浸蒸餅和豬心血搗勻，丸如黍米大，每服十丸，燈心湯下。</p>

<h2>躁亂</h2>
<p><u>辰砂五苓散</u>　治疹收之後，日夜煩躁，譫語狂亂。</p>
<p>上為細末，溫水調服一二錢。熱甚，新汲涼水調下。</p>
<p><u>辰砂益元散</u>　治同上。</p>
<p>滑石（六錢）　粉甘草（炙，一錢）　辰砂（三分）</p>
<p>上為細末，三五歲小兒每服一錢，十歲二錢，量大小加減白湯下。熱甚，以夏月新汲水下。</p>
<p><u>導赤散</u>　治疹瘡心煩蘊熱，睡眠不寧，煩躁譫語，小便不利，面赤多渴。小兒貪食乳者，渴也。</p>
<p>生地　木通　甘草（各等分）</p>
<p>上為粗未，每服二錢，入淡竹葉，水煎，溫服。</p>

<h2>失血</h2>
<p><u>犀角地黃湯</u>　治疹後吐血衄血，或大小便血。</p>
<p>犀角（另磨入）　白芍　生地黃　牡丹皮</p>
<p>上銼，後三味煎熟，犀角磨汁入服。無犀角，以升麻代之。</p>
<p><u>黃連解毒湯</u>　治臟毒諸熱，伏火積熱。</p>
<p>黃連　黃芩　黃柏　梔子（各等分）</p>
<p>上銼，水煎服。</p>

<h2>不食</h2>
<p><u>加味四物湯</u>　治疹後血虛胃弱，不進飲食。</p>
<p>當歸　川芎　白芍　生地　神麯（炒）　砂仁　白朮　炙甘草</p>
<p>上銼，水煎服。如胃弱，去地黃。</p>
<p><u>四君子湯</u>　治疹後傷食嘔吐，或服涼藥太多，致傷脾胃，不納飲食。</p>
<p>人參　白朮　茯苓　甘草</p>
<p>上銼，水煎服。胃寒，加木香、砂仁；嘔，加藿香、陳皮。</p>
<p><u>七珍散</u>　調胃進食，疹後虛弱不食者。</p>
<p>白朮（一錢）　人參（一錢）　茯苓（一錢）　黃耆（一錢）　白扁豆（一錢）　山藥（一錢）　炙甘草（五分）</p>
<p>上加粟米一撮、生薑一片、棗一枚，用水煎服。</p>
<p><u>白朮散</u>　調胃進食。</p>
<p>白朮（二錢）　陳皮（一錢五分）　人參（一錢）　麥門冬（去心，二錢）　厚朴（薑汁炒，七分）</p>
<p>上銼，水煎服。</p>
<p><u>錢氏白朮散</u>　溫脾進食，止吐瀉，生津液。</p>
<p>白朮（一錢五分）　人參（一錢）　茯苓（一錢）　炙甘草（一錢）　藿香（一錢）　乾葛（一錢）　木香（三分）</p>
<p>水煎服。</p>
<p><u>加味二陳湯</u>　治疹後痰氣壅滯，飲食不下。</p>
<p>陳皮（去白）　半夏（湯泡七次）　白茯苓（各一錢）　炙甘草（五分）　桔梗（七分）　枳殼（麩炒，七分）</p>
<p>上加生薑一片，水煎，後食服。</p>
<p><u>平胃散</u>　治疹後心腹脹滿悶，不進飲食，及傷食吐瀉。</p>
<p>蒼朮（米泔浸，炒）　厚朴（薑汁炒）　陳皮（各一錢）　炙甘草（五分）</p>
<p>上銼，加生薑二片、棗一枚，水煎，食遠服。有宿滯，加神麯、麥芽；有熱，加黃芩、黃連；胸膈滿脹，加枳殼；噁心，加藿香、砂仁；腹痛，加芍藥、木通。</p>

<h2>中惡</h2>
<p><u>調氣平胃散</u>　治胃氣虛弱，卒犯不正之氣，手足逆冷，昏不知人，名曰中惡。</p>
<p>蒼朮（一錢半）　厚朴（薑汁炒）　砂仁（一錢）　白豆蔻（一錢）　烏藥（一錢）　木香（一錢）　白檀香（一錢）　藿香（一錢）　炙甘草（五分）</p>
<p>上銼，水二鍾、生薑三片煎八分，食前服。</p>
<p><u>藿香正氣散</u>　凡受四時不正之氣，發熱頭痛，嘔逆噁心，此方主之。</p>
<p>白朮　白茯苓　陳皮　厚朴　半夏　白芷　大腹皮　紫蘇　藿香　桔梗（各等分）　炙甘草（減半）</p>
<p>上銼，每服三五錢，加生薑三片、棗一枚，水煎，熱服。</p>

<h2>膚癢</h2>
<p><u>人參消毒散</u>　治疹症鼻塞聲重，發癢身熱。</p>
<p>人參　羌活　川芎　防風　荊芥　茯苓　陳皮　厚朴　藿香　殭蠶　蟬退　甘草（各等分）</p>
<p>上為細末，每服二錢，茶清調下，煎服亦可。</p>
<p><u>加味四物湯</u>　疹後遍身瘙癢不可忍。</p>
<p>當歸　川芎　芍藥　生地黃　荊芥　薄荷　蟬退（各等分）</p>
<p>上銼，水煎服。若中濕氣，加蒼朮；有熱，加黃芩。</p>
<p><u>加味消毒飲</u>　治疹後餘毒不解，肌膚癢甚。</p>
<p>荊芥　牛蒡子　甘草　連翹　黃芩</p>
<p>水煎服。</p>
<p><u>蟬花散</u></p>
<p>蟬退（一兩）　地骨皮（一兩）</p>
<p>上共為末，每服二三茶匙，用湯調下。</p>

<h2>眼患</h2>
<p><u>涼膈解毒散</u>　治疹後餘毒上攻，兩目腫痛，隱澀難開。</p>
<p>黃芩（酒炒，一錢）　荊芥（一錢）　牛蒡子（一錢）　連翹（一錢）</p>
<p>上銼，水煎服。如大便秘結，加大黃、芒硝利之。</p>
<p><u>加味四物湯</u>　治痘疹毒入目，血熱不散，兩眥皆赤，亦兼治瘡癤。</p>
<p>當歸　白芍　生地　川芎　防風　荊芥（各等分）</p>
<p>上銼散，每服五錢，水一盞半煎一盞，分作二三次服。</p>
<p><u>防風散</u>　治痘疹後，風熱上攻，目赤腫流血及風瘡。</p>
<p>防風　川芎　當歸　赤芍　防己　荊芥穗　梔子（各等分）</p>
<p>上為末，每服二錢，茶清調下，作湯煎亦可。</p>
<p><u>菊花散</u>　治疹痘後患眼。</p>
<p>菊花（二錢）　生地（一錢五分）　當歸（一錢）　柴胡（一錢）　芍藥（一錢）　黃芩（一錢）　黃連（一錢）　天花粉（一錢）　麥門冬（一錢）　甘草（五分）　天門冬（一錢）</p>
<p><u>穀精草散</u>　治痘疹後眼目生翳。</p>
<p>穀精草　蛇退　綠豆殼　天花粉</p>
<p>上用水煎服，或為末，蜜水調服。</p>
<p><u>通聖散</u>　治疹痘瘡入目及生翳。</p>
<p>白菊（一兩）　綠豆皮（一兩）　穀精草（一兩）</p>
<p>上為細末，每服一大錢，柿幹一個、米泔水一盞同煎，候泔盡，只將乾柿食之，日三枚，近者五七日，遠者半月取效。一方用密蒙花、旋覆花、甘草三味，煮食法同。</p>
<p><u>蒺藜散</u>　治痘疹入目。</p>
<p>羌活　防風　蒺藜　甘草</p>
<p>上為細末，每服二錢，水調服，如撥雲見日之效。</p>
<p><u>密蒙花散</u>　治痘疹入目，翳膜遮睛。</p>
<p>密蒙花　菊花　白蒺藜　石決明　木賊　羌活</p>
<p>每服二三錢，茶清調下。</p>
<p><u>撥雲散</u>　治小兒瘡疹後眼中生翳膜，經驗極效。</p>
<p>蟬退（二兩）　白蒺藜（二兩）　木通（二兩）　甘草（一兩）　兔糞（二斤，如芒蘆花色者佳）</p>
<p>上同為極細末，煉蜜為丸，如桐子大，每服八十丸，食後白湯下，日三服。或煎濃湯，頻頻服之亦可，以退翳為度。</p>
<p><u>兔糞丸</u>　治痘疹眼翳障。</p>
<p>用兔屎不拘多少，焙乾，為細末，煉蜜丸如小赤豆大，每服二三十丸，酒下。</p>
<p><u>天綠散</u>　治前後餘毒壅遏在眼，胞爛如癬，或嬰兒木耳等瘡。</p>
<p>銅綠一兩研為極細末，用熟透天茄擰汁量入，調稀糊於黑碗內，上另用一黑瓷碗蓋之，鹽泥封固，入文火內煨，二炷香盡取出，丸如豌豆大，或散每用五釐，入乳汁半小鐘，再研入茶湯，以雞翎蘸敷一二遍即愈。</p>

<h2>疳瘵</h2>
<p><u>柴胡四物湯</u>　治疹後餘熱不退，發枯毛豎，肉消骨立，漸漸羸瘦者，此方主之。</p>
<p>柴胡　黃芩　人參　甘草　歸身　川芎　白芍　地骨皮　生地黃　知母　麥門冬　淡竹葉（分量照大小加減）</p>
<p>上銼，水一盞煎七分，去渣，溫服不拘時。</p>
<p><u>清熱除疳丸</u>　治疹子收後，其毒不解，邪火怫鬱，渾身發熱，晝夜不退，發枯膚瘁，漸成疳瘵，此方主之。</p>
<p>黃連（二錢）　當歸（二錢）　使君子肉（二錢）　青皮（去穰，一錢半）　川芎（一錢）　陳皮（去白，一錢半）　龍膽草（一錢半）　蘆薈（一錢半）　乾蟾頭（燒，二錢）</p>
<p>上共為末，神麯糊丸如綠豆大，每服六七十丸，三歲以下四十丸，小米湯下。</p>
<p><u>蘆薈肥兒丸</u>　治疹後熱晝夜不退，發焦皮枯，肌瘦骨蒸勞熱之症。</p>
<p>蘆薈（二錢）　龍膽草（酒洗，二錢）　使君子肉（二錢）　蚵皮（二錢）　人參（二錢）　麥芽（炒，二錢）　木香（二錢）　檳榔（三錢）　黃連（酒炒，三錢）　白蕪荑（三錢）　胡黃連（五錢）</p>
<p>上為細末，豬膽汁打糊丸如黍米大，每服五六十丸，米飲下。</p>

<h2>疳瘡</h2>
<p><u>清胃湯</u>　痘疹後未服解毒清涼之藥，以致毒火入胃，牙根腫痛，潰爛出血，臭氣衝人，不早治則為走馬牙疳。</p>
<p>升麻（二錢）　當歸（一錢二分）　生地（一錢）　牡丹皮（一錢）　黃連（一錢）</p>
<p>上銼，水煎服。一方合甘桔湯，加牛蒡子、荊芥、玄參。</p>
<p><u>涼膈散</u>　治疹後毒火入胃，久而不散，牙根潰爛，肉腐出血，速服此藥，免成走馬牙疳。</p>
<p>大黃（一錢）　梔子（一錢）　黃芩（一錢）　薄荷（一錢）　連翹（一錢）　甘草（五分）</p>
<p>上銼，水煎服。</p>
<p><u>犀角解毒丸</u>　治諸積熱及痘疹後餘毒，口舌生瘡，或生瘡癤腫痛等症。</p>
<p>犀角（一兩）　生地（一兩）　防風（一兩）　荊芥（一兩）　連翹（七錢）　牛蒡子（杵碎，七錢）　赤芍（七錢）　桔梗（七錢）　黃芩（炒，五錢）　薄荷（五錢）　甘草（五錢）</p>
<p>上共為極細末，煉蜜丸如芡實大，每服一二十丸，薄荷或燈心湯下。</p>
<p><u>金花丸</u>　治疹後積熱，口舌生瘡爛臭，名曰走馬牙疳，內服此藥，外用除疳散敷之。方見前餘熱條。</p>
<p>蘆薈（二錢）　使君子（二錢）　龍膽草（二錢）　黃連（二錢）　五靈脂（一錢半）　川楝子（一錢半）</p>
<p>上共為末，湯浸，烏梅肉為丸，白滾水湯下。</p>
<p><u>除疳散</u>　治走馬牙疳</p>
<p>人中白（煅，三錢）　文蛤（火煅，三錢）　銅青（二錢）　蠶退（紙燒灰，一錢）　砒末（煅，少許）</p>
<p>上為極細末，米泔水洗淨敷之，以平為度。</p>
<p><u>文蛤散</u>　治毒入胃，走馬牙疳，肉黑爛出血等症。</p>
<p>文蛤（二錢）　雄黃（五錢）　五倍子（二錢）　枯礬（八分）　蠶退（紙燒存性）</p>
<p>上為細末，米泔水洗淨，以藥搽之。</p>
<p><u>雄黃散</u>　治同上。</p>
<p>雄黃（一錢）　黃柏（二錢）　麝香（一分）</p>
<p>上為末，用艾葉煎湯洗淨後搽藥，以平為度。</p>
<p><u>生肌散</u>　治疳餂不斂，並痘疹爛瘡膿血雜流不收。</p>
<p>黃連　黃柏　地骨皮　五倍子　甘草　枯礬（各等分）</p>
<p>上為細末，乾摻。</p>
<p><u>走馬牙疳方</u>　治牙疳臭爛。</p>
<p>黃連（一兩）　白硼砂（一錢）　膽礬（三分）　冰片（五釐）</p>
<p>一方加人中白、鹽梅燒存性。</p>
<p>上為細末，搽上。</p>
<p><u>連柏散</u>　治牙疳破爛。</p>
<p>黃連　黃柏　梔子　薄荷（等分）</p>
<p>上為細末，雞翎刷入患處，或和玉鎖匙，尤妙。</p>

<h2>癰毒</h2>
<p><u>白芷升麻湯</u>　治痘疹後成癰。</p>
<p>白芷　升麻　黃耆　當歸　羌活　連翹　黃芩　黃柏　紅花　桔梗　甘草（各等分）</p>
<p>上銼，水煎服。</p>
<p><u>羌活湯</u>　治疹癰毒，肢節疼痛。</p>
<p>羌活（一兩）　穿山甲（酒炒，研末，一兩）　大黃（五錢）　白芷梢（五錢）　甘草節（一錢）　乳香（二錢）　全蠍（五個）　一葉金（三條，去翅足）</p>
<p>上為末，每服一錢或半錢，加牙皂一錢，好酒下，發汗為度。</p>
<p><u>鐵箍散</u>　治疹後餘毒流注肌肉之間，結成癰毒疽，腫痛走癊。</p>
<p>黃柏（二兩）　白及（一兩）　白蘞（一兩）　地骨皮（二錢）　川烏（六錢）　連翹（五錢）　山豆根（五錢）　黃芩（五錢）　沒藥　乳香（各五錢）　射干（三錢）</p>
<p>上為細末，臨用量腫大小，茶滷調如膏，可瘡貼敷。</p>
<p><u>黃金散</u>　治疹後重舌，並兩頰骨疙疽。</p>
<p>雄黃（一錢半）　白硼砂（三錢）　辰砂（一分）</p>
<p>上共為細末，用薄荷自然汁調敷，連數遍即愈。</p>
<p><u>姜加湯</u>（誠齋驗方）　治疹吐蛔，或腹痛，或吐清水，或泄瀉，忽冷忽熱，陰陽不和，用之如神。</p>
<p>乾薑　生花椒（去子）　烏梅肉　甘草</p>
<p>水煎服，分量照大小加減。</p>
<p><u>乾薑桔梗湯</u>　疹正出時，忽然聲啞，咳嗽不出，煩亂，胸高氣喘，疹亦不顯，此用藥寒涼太過，將毒郁遏不得宣發故也，急以此方救之，延則必死。此方妙處全在乾薑一味，切不可畏其辛熱而不用。吾邑武氏者，專精咽喉乳蛾，用此方輒效。他人概以清涼之藥治之，多寒閉而死，惟武百治百效。誠齋少年曾見用此，疑而問之，彼云：遇此等病，當反治之。深得其意，常移以治疹之無聲而啞者，頗收奇績，不忍秘，並附於篇末。</p>
<p>乾薑（五分）　甘草（一錢）　桔梗（一錢）</p>
<p>水煎頻頻灌兒口中，漸漸有聲，漸漸咳嗽，漸漸疹復紅活，百無一失矣。</p>
<p><u>解毒化滯湯</u>　此方原編所無者，誠齋曾得之朱氏集中。治疹後咬指甲，撕口唇，旋眼毛，看手咬人指甲，自損其面，或損人之面，或咬奶頭，他人不知，或誤認為猢猻癆，非也。此疹後食麵太早，脾經有熱，熱生風故爾，只用此兩劑自愈。</p>
<p>防風　荊芥　枳殼　麥芽　蘿蔔子（各八分）　黃芩　前胡　茯苓（各七分）　山楂（三分）　牛蒡子（五分）　桔梗（一錢）　柴胡（一錢）　甘草（三分）</p>
<p>誠齋曰：疹原系脾肺症，故終始宜嗽，嗽則欲出也。若庸人無識，見嗽止嗽，或瀉肺，或寒涼，毒氣鬱遏，反而歸里，嗽止而變為鏗喘，鏗則欲嗽不能嗽也。若不急治，死在旦夕。宜先用麻黃桂枝杏仁甘草湯開發之，如仍嗽不鏗，則疹復見而愈矣。如服藥後不效，胸高氣急而喘者，急用桃仁大黃桂枝芒硝甘草湯下之，瀉出黑惡穢物，亦即愈，不可束手待斃。蓋疹腑症也，既不能外發，惟有急下法，使毒有所歸而已。傑數十年來，每於此際，輒收奇功，非敢大膽也，實見得宜如此云。兩方皆有桂枝，亦用乾薑之意，誠細心想之。</p>
