<header data-type="book">
<h1>傅青主女科歌括</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>傅山</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1673">公元1673年</data></dd></div>
<div><dt>品質</dt><dd>70%</dd></div>
<div><dt>底本</dt><dd>北京大學圖書館掃描本（<a href="https://archive.org/details/02093361.cn">一</a>、<a href="https://archive.org/details/02093362.cn">二</a>、<a href="https://archive.org/details/02093363.cn">三</a>）</dd></div>
<div><dt>附註</dt><dd>此書為《傅青主女科》經校勘、補遺並加上歌訣</dd></div>
<div hidden><dt>字元替換</dt><dd>{"楂": {"古": "查", "今": "楂"}}</dd></div>
</dl>
</header>

<h1>序</h1>
<p>青主先生於明季時，以諸生伏闕上書，訟袁臨侯冤事，尋得白。當時義聲動天下，《馬文甬義士傳》比之裴瑜、魏邵。國變後，隱居崛𡼱山中，四方仰望丰采。己未鴻詞之薦，先生堅臥不赴，有司敦促就道，先生卒守介節，聖祖仁皇帝鑑其誠，降旨：傅山文學素著，念其年邁，從優加銜，以示恩榮。遂授內閣中書，聽其回籍。蓋其高尚之志，已久為聖天子所心重矣。而世之稱者，乃盛傳其字學與醫術，不已細哉！字為六藝之一，先生固嘗究心。若醫者，先生所以晦跡而逃名者也，而名即隨之，抑可奇矣。且夫醫亦何可易言。自後漢張仲景創立方書以來，凡二千年，專門名家，罕有窮其奧者。先生以餘事及之，遽通乎神。余讀《兼濟堂文集》並《觚剩》諸書，記先生秩事：其診疾也微而臧；其用方也奇而法，有非東垣、丹溪諸人所能及者。昔人稱張仲景有神思而乏高韻，故以方術名。先生即擅高韻，又饒精思，賢者不可測如是耶！向聞先生有手著女科併產後書二冊，未之見也。近得抄本於友人處。乙酉適世兄王奎章來省試，具道李子緝中賢。至丙戌冬，果寄資命付剞劂，甚德事也。故樂為序而行之，並述先生生平大節，及聖朝廣大之典，不禁為之掩卷而三嘆也。</p>
<p><u>道光丁亥夏五月丹崖張鳳翔題</u></p>

<h1>序</h1>
<p>執成方而治病，古今之大患也。昔人云：用古方治今病，如拆舊屋蓋新房，不經大匠之手，經營如何得宜。誠哉是言。昔張仲景先生作《傷寒論》，立一百一十三方，言後世必有執其方以誤人者。甚矣，成方之不可執也。然則今之女科一書，何為而刻乎？此書為傅青主徵君手著，其居心與仲景同，而立方與仲景異，何言之？仲景傷寒論雜症也，有五運六氣之殊，有中表傳裡之異；或太陽、太陰不一其稟，或內傷、外感不一其原，或陽極似陰、陰極似陽不一其狀；非精心辨症，因病制方，斷不能易危就安，應手即愈。此書則不然，其方專為女科而設，其症則為婦女所同。帶下血崩，調經種子，以及胎前、產後，人雖有虛實、寒熱之分，而方則極平易、精詳之至，故用之當時而效，傳之後世而無不效，非若傷寒雜病，必待臨症詳審，化裁通變，始無貽誤也。嘗慨後世方書汗牛充棟，然或偏攻偏補，專於一家；主熱主寒，堅執謬論，炫一己之才華，失古人之精奧，仲景而後，求其貫徹《靈》、《素》，能收十全之效者，不數數覯。讀徵君此書，談症不落古人窠臼，制方不失古人準繩，用藥純和，無一峻品，辨證詳明，一目瞭然。病重者，十劑奏功；病淺者，數服立愈。較仲景之《傷寒論》，方雖不同，而濟世之功則一也。此書晉省抄本甚夥，然多秘而不傳，間有減去藥味，錯亂分量者，彼此參證，多不相符。茲不揣冒昧，詳校而重刊之。竊願家置一編，遇症翻檢，照方煎服，必能立起沉疴，並登壽域，或亦濟人利世之一端也夫。</p>
<p><u>道光十一年新正上元同里後學祁爾誠謹序</u></p>

<h1>女科上卷</h1>

<h2>帶下</h2>

<h3>白帶下（一）</h3>
<p>夫帶下俱是濕症。而以「帶」名者，因帶脈不能約束而有此病，故以名之。蓋帶脈通於任、督，任、督病而帶脈始病。帶脈者，所以約束胞胎之系也。帶脈無力，則難以提系，必然胎胞不固，故曰帶弱則胎易墜，帶傷則胎不牢。然而帶脈之傷，非獨跌閃挫氣已也，或行房而放縱，或飲酒而癲狂，雖無疼痛之苦，而有暗耗之害，則氣不能化經水，而反變為帶病矣。故病帶者，惟尼僧、寡婦、出嫁之女多有之，而在室女則少也。況加以脾氣之虛，肝氣之鬱，濕氣之侵，熱氣之逼，安得不成帶下之病哉！故婦人有終年累月下流白物，如涕如唾，不能禁止，甚則臭穢者，所謂白帶也。夫白帶乃濕盛而火衰，肝鬱而氣弱，則脾土受傷，濕土之氣下陷，是以脾精不守，不能化榮血以為經水，反變成白滑之物，由陰門直下，欲自禁而不可得也。治法宜大補脾胃之氣，稍佐以舒肝之品，使風木不閉塞於地中，則地氣自升騰於天上，脾氣健而濕氣消，自無白帶之患矣。</p>
<p>方用　完帶湯。</p>
<p>白朮（一兩，土炒）　山藥（一兩，炒）　人參（二錢）　白芍（五錢，酒炒）　車前子（三錢，酒炒）　蒼朮（三錢，製）　甘草（一錢）　陳皮（五分）　黑芥穗（五分）　柴胡（六分）</p>
<p>水煎服。二劑輕，四劑止，六劑則白帶全愈。此方脾、胃、肝三經同治之法，寓補於散之中，寄消於升之內，開提肝木之氣，則肝血不燥，何至下克脾土；補益脾土之元，則脾氣不濕，何難分消水氣。至於補脾而兼以補胃者，由里以及表也。脾非胃氣之強，則脾之弱不能旺，是補胃正所以補脾耳。</p>
<p><u>眉批：</u>婦科一門，最屬難治，不難於用方，難於辨症也。五帶症辨之極明，立方極善，倘用之不效者，必其人經水不調，須於調經、種子二門參酌治之，無不見效。即如白帶症，倘服藥不效，其人必經水過期，少腹急迫，宜服寬帶湯，餘宜類參，方見二十三。</p>
<p><u>歌括：</u>婦人終年白物流，如涕如唾甚穢臭。脾虛肝鬱濕氣勝，任督病來帶難束。完帶白朮山藥炒，參芍車蒼生甘草。陳皮柴胡黑荊芥，脾氣健旺濕自消。</p>

<h3>青帶下（二）</h3>
<p>婦人有帶下而色青者，甚則綠如綠豆汁，稠黏不斷，其氣腥臭，所謂青帶也。夫青帶乃肝經之濕熱。肝屬木，木色屬青，帶下流如綠豆汁，明明是肝木之病矣。但肝木最喜水潤，濕亦水之積，似濕非肝木之所惡，何以竟成青帶之症？不知水為肝木之所喜，而濕實肝木之所惡，以濕為土之氣故也。以所惡者合之所喜必有違者矣。肝之性既違，則肝之氣必逆。氣欲上升，而濕欲下降，兩相牽掣，以停住於中焦之間，而走於帶脈，遂從陰器而出。其色青綠者，正以其乘肝木之氣化也。逆輕者，熱必輕而色青；逆重者，熱必重而色綠。似乎治青易而治綠難，然而均無所難也。解肝木之火，利膀胱之水，則青綠之帶病均去矣。</p>
<p>方用　加減逍遙散。</p>
<p>茯苓（五錢）　白芍（酒炒，五錢）　甘草（生用，五錢）　柴胡（一錢）　茵陳（三錢）　陳皮（一錢）　梔子（三錢，炒）</p>
<p>水煎服。二劑而色淡，四劑而青綠之帶絕，不必過劑矣。夫逍遙散之立法也，乃解肝鬱之藥耳，何以治青帶若斯其神與？蓋濕熱留於肝經，因肝氣之鬱也，鬱則必逆，逍遙散最能解肝之鬱與逆。鬱逆之氣既解，則濕熱難留，而又益之以茵陳之利濕，梔子之清熱，肝氣得清，而青綠之帶又何自來！此方之所以奇而效捷也。倘僅以利濕清熱治青帶，而置肝氣於不問，安有止帶之日哉！</p>
<p><u>眉批：</u>脾土喜燥而惡濕，土病濕則木必乘之，木又為濕土之氣所侮，故肝亦病，逍遙散減去當歸妙極。</p>
<p><u>歌括：</u>帶下色青甚綠稠，原因肝經濕熱留。利膀胱水解肝火，青綠兩帶自可瘳。青帶加減逍遙散，柴胡茯苓白芍甘。陳皮茵陳炒梔子，利濕清熱亦舒肝。</p>

<h3>黃帶下（三）</h3>
<p>婦人有帶下而色黃者，宛如黃茶濃汁，其氣腥穢，所謂黃帶是也。夫黃帶乃任脈之濕熱也。任脈本不能容水，濕氣安得再入而化為黃帶乎？不知帶脈橫生，通於任脈，任脈直上走於唇齒，唇齒之間，原有不斷之泉下貫於任脈以化精，使任脈無熱氣之繞，則口中之津液盡化為精，以入於腎矣。惟有熱邪存於下焦之間，則津液不能化精，而反化濕也。夫濕者，土之氣，實水之侵；熱者，火之氣，實木之生。水色本黑，火色本紅，今濕與熱合，欲化紅而不能，欲返黑而不得，煎熬成汁，因變為黃色矣。此乃不從水火之化，而從濕化也。所以世之人有以黃帶為脾之濕熱，單去治脾而不得痊者，是不知真水、真火合成丹邪、元邪，繞於任脈、胞胎之間，而化此黔色也，單治脾何能痊乎！法宜補任脈之虛，而清腎火之炎，則庶幾矣。</p>
<p>方用　易黃湯。</p>
<p>山藥（一兩，炒）　芡實（一兩、炒）　黃柏（二錢，鹽水炒）　車前子（一錢，酒炒）　白果（十枚，碎）</p>
<p>水煎。連服四劑，無不痊愈。此不特治黃帶方也，凡有帶病者，均可治之，而治帶之黃者，功更奇也。蓋山藥、芡實專補任脈之虛，又能利水，加白果引入任脈之中，更為便捷，所以奏功之速也。至於用黃柏清腎中之火也，腎與任脈相通以相濟，解腎中之火，即解任脈之熱矣。</p>
<p><u>眉批：</u>凡帶症多系脾濕。初病無熱但補脾土兼理衝任之氣其病自愈，若濕久生熱必得清腎火而濕始有去路。方用黃柏、車前子妙！</p>
<p>山藥、芡實尤能清熱生津。</p>
<p>丹邪元邪四字未晰擬，易以真水真火為濕熱之氣所侵，繞於任脈云云，較無語病，然原書究不可輕改，姑仍之。</p>
<p><u>歌括：</u>婦人帶下色發黃，任脈濕熱邪氣傷。補任之虛清腎火，臨證當服易黃湯。易黃湯中用白果，山藥芡實鹽黃柏。酒炒車前能利水，補任之虛清腎火。</p>

<h3>黑帶下（四）</h3>
<p>婦人有帶下而色黑者，甚則如黑豆汁，其氣亦腥，所謂黑帶也。夫黑帶者，乃火熱之極也，或疑火色本紅，何以成黑？謂為下寒之極或有之。殊不知火極似水，乃假象也。其症必腹中疼痛，小便時如刀刺，陰門必發腫，面色必發紅，日久必黃瘦，飲食必兼人，口中必熱渴，飲以涼水，少覺寬快，此胃火太旺，與命門、膀胱、三焦之火合而熬煎，所以熬乾而變為炭色，斷是火熱之極之變，而非少有寒氣也。此等之症，不至發狂者，全賴腎水與肺金無病，其生生不息之氣，潤心濟胃以救之耳，所以但成黑帶之症，是火結於下而不炎於上也。治法惟以泄火為主，火熱退而濕自除矣。</p>
<p>方用　利火湯。</p>
<p>大黃（三錢）　白朮（五錢，土炒）　茯苓（三錢）　車前子（三錢，酒炒）　王不留行（三錢）　黃連（三錢）梔子（三錢，炒）　知母（二錢）　石膏（五錢，煅）　劉寄奴（三錢）</p>
<p>水煎服。一劑小便疼止而通利，二劑黑帶變為白，三劑白亦少減，再三劑全愈矣。或謂此方過於迅利，殊不知火盛之時，用不得依違之法，譬如救火之焚，而少為遷緩，則火勢延燃，不盡不止。今用黃連、石膏、梔子、知母一派寒涼之品，入於大黃之中，則迅速掃除，而又得王不留行與劉寄奴之利濕甚急，則濕與熱俱無停住之機。佐白朮以輔土、茯苓以滲濕、車前以利水，則火退水進，便成既濟之卦矣。</p>
<p><u>眉批：</u>病愈後當節飲食，戒辛熱之物，調養脾土。若恃有此方，病發即服，必傷元氣矣，慎之！</p>
<p><u>歌括：</u>帶下色黑氣腥膻，腹痛小便如刀穿。胃命三焦火俱盛，火結於下未上炎。利火大黃石膏連，白朮茯苓炒車前。不留寄奴梔知母，火退水進黑帶減。</p>

<h3>赤帶下（五）</h3>
<p>婦人有帶下而色紅者，似血非血，淋瀝不斷，所謂赤帶也。夫赤帶亦濕病，濕是土之氣，宜見黃白之色，今不見黃白而見赤者，火熱故也。火色赤，故帶下亦赤耳。惟是帶脈繫於腰臍之間，近乎至陰之地，不宜有火。而今見火症，豈其路通於命門，而命門之火出而燒之耶？不知帶脈通於腎，而腎氣通於肝。婦人憂思傷脾，又加鬱怒傷肝，於是肝經之鬱火內熾，下克脾土，脾土不能運化，致濕熱之氣蘊於帶脈之間；而肝不藏血，亦滲於帶脈之內，皆由脾氣受傷，運化無力，濕熱之氣，隨氣下陷，同血俱下，所以似血非血之形象，現於其色也。其實血與濕不能兩分，世人以赤帶屬之心火誤矣，治法須清肝火而扶脾氣，則庶幾可愈。</p>
<p>方用　清肝止淋湯。</p>
<p>白芍（一兩，醋炒）　當歸（一兩，酒洗）　生地（五錢，酒炒）　阿膠（三錢，白麵炒）　粉丹皮（三錢）　黃柏（二錢）　牛膝（二錢）　香附（一錢，酒炒）　紅棗（十個）　小黑豆（一兩）</p>
<p>水煎服。一劑少止，二劑又少止，四劑全愈，十劑不再發。此方但主補肝之血，全不利脾之濕者以赤帶之為病，火重而濕輕也。夫火之所以旺者，由於血之衰，補血即足以制火。且水與血合而成赤帶之症，竟不能辨其是濕非濕，則濕亦盡化而為血矣，所以治血則濕亦除，又何必利濕之多事哉！此方之妙，妙在純於治血，少加清火之味，故奏功獨奇。倘一利其濕，反引火下行，轉難遽效矣。或問曰：「先生前言助其脾土之氣，今但補其肝木之血何也？」不知用芍藥以平肝，則肝氣得舒，肝氣舒自不剋土，脾不受克，則脾土自旺，是平肝正所以扶脾耳，又何必加人參、白朮之品，以致累事哉！</p>
<p><u>眉批：</u>不用參、朮、芩極妙，此症若誤認為血漏，恐其久則成崩，用參、朮、芩等藥治之多不見效，赤帶反甚。若年逾四九，癸水將止，或頻頻見血，此崩症也，宜分別治之。五帶症，古方極多，然有應有不應者，總屬未得病原。此書揭露病原，故用無不效。</p>
<p><u>歌括：</u>帶下色紅因氣陷，似血非血淋不斷。肝經鬱火克脾土，濕熱蘊於帶脈間。清肝止淋用歸芍，生地丹皮炒阿膠。黃柏牛膝小黑豆，酒炒香附加紅棗。</p>

<h2>血崩</h2>

<h3>血崩昏暗（六）</h3>
<p>婦人有一時血崩，兩目黑暗，昏暈在地，不省人事者，人莫不謂火盛動血也。然此火非實火，乃虛火耳。世人一見血崩，往往用止澀之品，雖亦能取效於一時，但不用補陰之藥，則虛火易於衝擊，恐隨止隨發，以致經年累月不能全愈者有之。是止崩之藥，不可獨用，必須於補陰之中行止崩之法。</p>
<p>方用　固本止崩湯。</p>
<p>大熟地（一兩，九蒸）　白朮（一兩，土炒焦）　黃芪（三錢，生用）　當歸（五錢，酒洗）　黑薑（二錢）　人參（三錢）</p>
<p>水煎服。一劑崩止，十劑不再發。倘畏藥味之重而減半，則力薄而不能止。方妙在全不去止血而惟補血，又不止補血而更補氣，非惟補氣而更補火。蓋血崩而至於黑暗昏暈，則血已盡去，僅存一線之氣，以為護持，若不急補其氣以生血，而先補其血而遺氣，則有形之血，恐不能遽生，而無形之氣，必且至盡散，此所以不先補血而先補氣也。然單補氣則血又不易生，單補血而不補火則血又必凝滯，而不能隨氣而速生。況黑薑引血歸經，是補中又有收斂之妙，所以同補氣補血之藥並用之耳。</p>
<p><u>眉批：</u>若血崩數日，血下數斗，六脈俱無，鼻中微微有息，不可遽服此方，恐氣將脫不能受峻補也。有力者用遼人參去蘆三錢煎成，沖貫眾炭末一錢服之，待氣息微旺然後服此方，仍加貫眾炭末一錢，無不見效；無力者用無灰黃酒沖貫眾炭末三錢服之，待其氣接神清始可服此方，人參以黨參代之，臨服亦加貫眾炭末一錢衝入。</p>
<p><u>歌括：</u>婦人血崩一時臨，不省人事甚昏沉。只因虛火盛動血，止崩切勿忘滋陰。固本止崩宜補陰，熟地白芍當歸參。黃芪黑薑同煎服，不用止澀功亦深。</p>

<h3>年老血崩（七）</h3>
<p>婦人有年老血崩者，其症亦與前血崩昏暗者同，人以為老婦之虛耳，誰知是不慎房幃之故乎！</p>
<p>方用　加減當歸補血湯。</p>
<p>當歸（一兩，酒洗）　黃芪（一兩，生用）　三七根末（三錢）　桑葉（十四片）</p>
<p>水煎服。二劑而血少止，四劑不再發。然必須斷欲始除根，若再犯色欲未有不重病者也。夫補血湯乃氣血兩補之神劑，三七根乃止血之聖藥，加入桑葉者，所以滋腎之陰，又有收斂之妙耳。但老婦陰精既虧，用此方以止其暫時之漏，實有奇功，而不可責其永遠之績者，以補精之味尚少也。服此四劑後，再增入：</p>
<p>白朮（五錢）　熟地（一兩）　山藥（四錢）　麥冬（三錢）　北五味（一錢）</p>
<p>服百劑，則崩漏之根可盡除矣。</p>
<p><u>眉批：</u>亦有孀婦年老血崩者，必係氣衝血室，原方加杭芍炭三錢，貫眾炭三錢，極效。</p>
<p><u>歌括：</u>老婦血崩證同前，房幃不慎使之然。必須斷欲始除根，再起色欲證難痊。加減當歸補血湯，歸芪三七葉兒桑。四劑再入麥熟地，白朮山藥五味嘗。</p>

<h3>少婦血崩（八）</h3>
<p>有少婦甫娠三月，即便血崩，再胎亦隨墮，人以為挫閃受傷而致，誰知是行房不慎之過哉！治法自當以補氣為主，而少佐以補血之品，斯為得之。</p>
<p>方用　固氣湯。</p>
<p>人參（一兩）　白朮（五錢，土炒）　大熟地（五錢，九蒸）　當歸（三錢，酒洗）　白茯苓（二錢）　甘草（一錢）　杜仲（三錢，炒黑）　山萸肉（二錢，蒸）　遠志（一錢，去心）　五味子（十粒，炒）</p>
<p>水煎服，一劑而血止，連服十劑全愈。此方固氣而兼補血，已去之血，可以速生，將脫之血，可以盡攝。凡氣虛而崩漏者，此方最可通治，非僅治小產之崩。其最妙者，不去止血，而止血之味，含於補氣之中也。</p>
<p><u>眉批：</u>妊娠宜避房事，不避者縱幸不至崩往往墮胎，即不墮胎生子亦難養，慎之！戒之！</p>
<p><u>歌括：</u>妊娠三月發血崩，多因行房不慎重。投方宜用固氣湯，止血寓於補氣中。固氣湯中參朮苓，熟地當歸炒杜仲。甘草遠志五味子，再加萸肉可止崩。</p>

<h3>交感血出（九）</h3>
<p>婦人有一交合則流血不止，雖不至於血崩之甚，而終年累月不得愈，未免血氣兩傷，久則恐有血枯經閉之憂。此等之病，成於經水正來之時交合，精沖血管也。夫精沖血管，不過一時之傷，精出宜愈，何以久而流紅？不知血管最嬌嫩，斷不可以精傷。凡婦人受孕，必於血管已淨之時，方保無虞。倘經水正旺，彼欲湧出而精射之，則欲出之血反退而縮入，既不能受精而成胎，勢必至集精而化血。交感之際，淫氣觸動其舊日之精，則兩相感召，舊精欲出，而血亦隨之而出。治法須通其胞胎之氣，引舊日之集精外出，而益之以補氣補精之藥，則血管之傷，可以補完矣。</p>
<p>方用　引精止血湯。</p>
<p>人參（五錢）　白朮（一兩，土炒）　茯苓（三錢，去皮）　熟地（一兩，九蒸）　山萸肉（五錢，蒸）　黑薑（一錢）　黃柏（五分）　芥穗（三錢）　車前子（三錢，酒炒）</p>
<p>水煎。連服四劑愈，十劑不再發。此方用參朮以補氣，用地萸以補精，精氣既旺，則血管流通；加入茯苓、車前以利水與竅，水利則血管亦利；又加黃柏為引，直入血管之中，而引夙精出於血管之外；芥穗引敗血出於血管之內；黑薑以止血管之口。一方之中，實有調停曲屈之妙，故能祛舊病而除陳疴。然必須慎房幃三月，破者始不至重傷，而補者始不至重損，否則不過取目前之效耳。其慎之哉！宜寡欲。</p>
<p><u>眉批：</u>欲種子者，必將落紅後，即三十時辰，兩日半也。經來之時，數足三十時辰，便可入房。一日男，二日女，三日男，四日女，五日男，六日女，過七日即不能受孕矣。</p>
<p><u>歌括：</u>婦人交合宮血流，恐有血枯精閉憂。治法須通胞胎氣，補精益氣病可瘳。引精止血熟地黃，參朮茯苓萸肉薑。黃柏荊芥車前子，服藥還須慎幃房。</p>

<h3>鬱結血崩（十）</h3>
<p>婦人有懷抱甚鬱，口乾舌渴，嘔吐吞酸，而血下崩者，人皆以火治之，時而效，時而不效，其故何也？是不識為肝氣之鬱結也。夫肝主藏血，氣結而血亦結，何以反至崩漏？蓋肝之性急，氣結則其急更甚，更急則血不能藏，故崩不免也。治法宜以開鬱為主，若徒開其鬱，而不知平肝，則肝氣大開，肝火更熾，而血亦不能止矣。</p>
<p>方用　平肝開鬱止血湯。</p>
<p>白芍（一兩，醋炒）　白朮（一兩，土炒）　當歸（一兩，酒洗）　丹皮（三錢）　三七根（三錢，研末）　生地（三錢，酒炒）　甘草（二錢）　黑芥穗（二錢）　柴胡（一錢）</p>
<p>水煎服。一劑嘔吐止，二劑乾渴除，四劑血崩愈。方中妙在白芍之平肝，柴胡之開鬱，白朮利腰臍，則血無積住之虞。荊芥通經絡，則血有歸還之樂，丹皮又清骨髓之熱。生地復清臟腑之炎。當歸、三七於補血之中，以行止血之法，自然鬱結散而血崩止矣。</p>
<p><u>眉批：</u>此方入貫仲炭三錢更妙。</p>
<p><u>歌括：</u>鬱結血崩病在肝，舌乾口渴嘔吞酸。治宜平肝兼開鬱，對症投藥病可安。平肝開鬱止血湯，歸芍朮丹生地黃。三七柴草黑芥穗，加貫仲炭效更彰。</p>

<h3>閃跌血崩（十一）</h3>
<p>婦人有升高墜落，或閃挫受傷，以致惡血下流，有如血崩之狀者，若以崩治，非徒無益而又害之也。蓋此症之狀，必手按之而疼痛，久之則面色萎黃，形容枯槁，乃是瘀血作祟，並非血崩可比。倘不知解瘀而用補澀，則瘀血內攻，疼無止時，反致新血不得生，舊血無由化，死不能悟，豈不可傷哉！治法須行血以去瘀，活血以止疼，則血自止而愈矣。</p>
<p>方用　逐瘀止血湯。</p>
<p>生地（一兩，酒炒）　大黃（三錢）　赤芍（三錢）　丹皮（一錢）　當歸尾（五錢）　枳殼（五錢，炒）　龜版（三錢，醋炙）　桃仁（十粒，泡炒，研）</p>
<p>水煎服。一劑疼輕，二劑疼止，三劑血亦全止，不必再服矣。此方之妙，妙於活血之中，佐以下滯之品，故逐瘀如掃，而止血如神。或疑跌閃升墜，是由外而傷內，雖不比內傷之重，而既已血崩，則內之所傷，亦不為輕，何以只治其瘀而不顧氣也？殊不知跌閃升墜，非由內傷以及外傷者可比。蓋本實不撥，去其標病可耳，故曰急則治其標。</p>
<p><u>眉批：</u>凡跌打損傷致唾血、嘔血皆宜如此治法。若血聚胃中，宜加川厚朴一錢半，薑汁炒。</p>
<p><u>歌括：</u>墜落閃挫致血崩，面萎形枯按之痛。瘀血作祟是病因，活血化瘀新血生。逐瘀止血用生地，大黃赤芍粉丹皮。歸尾枳殼炙龜版，泡炒桃仁用十粒。</p>

<h3>血海太熱血崩（十二）</h3>
<p>婦人有每行人道，經水即來，一如血崩，人以為胞胎有傷，觸之以動其血也，誰知是子宮血海因太熱而不固乎！夫子宮即在胞胎之下，而血海又在胞胎之上。血海者，衝脈也。衝脈太寒而血即虧，衝脈太熱而血即沸，血崩之為病，正衝脈之太熱也。然既由衝脈之熱，則應常崩而無有止時，何以行人道而始來，果與肝木無恙耶？夫脾健則能攝血，肝平則能藏血。人未入房之時，君相二火，寂然不動，雖衝脈獨熱，而血亦不至外馳。及有人道之感，則子宮大開，吾相火動，以熱招熱，同氣相求，翕然齊動，以鼓其精房，血海氾濫，有不能止遏之勢，肝欲藏之而不能，脾欲攝之而不得，故經水隨交感而至，若有聲應之捷，是惟火之為病也。治法必須滋陰降火，以清血海而和子宮，則終身之病，可半載而除矣。然必絕欲三月而後可。</p>
<p>方用　清海丸。</p>
<p>大熟地（一斤，九蒸）　山萸（十兩，蒸）　山藥（十兩，炒）　丹皮（十兩）　北五味（二兩，炒）　麥冬肉（十兩）　白朮（一斤，土炒）　白芍（一斤，酒炒）　龍骨（二兩）　地骨皮（十兩）　乾桑葉（一斤）　元參（一斤）　沙參（十兩）　石斛（十兩）</p>
<p>上十四味，各為細末，合一處，煉蜜丸桐子大，早晚每服五錢，白滾水送下，半載全愈。此方補陰而無浮動之慮，縮血而無寒涼之苦，日計不足，月計有餘，潛移默奪，子宮清涼，而血海自固。倘不揣其本而齊其末，徒以髮灰、白礬、黃連炭、五倍子等藥末，以外治其幽隱之處，則恐愈澀而愈流，終必至於敗亡也。可不慎與！</p>
<p><u>眉批：</u>凡血崩症，最宜絕欲避房，無奈少年人彼此貪欲，故服藥往往不效。若三月後崩止病愈，而房事仍無節制，病必復作，久則成勞。慎之！</p>
<p><u>歌括：</u>血海大熱致血崩，君相二火翕然動。肝不能藏脾難攝，滋陰降火法最靈。麥味熟地清海丸，山萸山藥朮芍丹。龍骨地骨乾桑葉，元參沙參石斛團。</p>

<h2>鬼胎</h2>

<h3>婦人鬼胎（十三）</h3>
<p>婦人有腹似懷妊，終年不產，甚至二、三年不生者，此鬼胎也。其人必面色黃瘦，肌腹消削，腹大如斗，揆所由來，必素與鬼交，或入神廟而興雲雨之思，或遊山林而起交感之念，皆能召祟成胎。幸其人不至淫蕩，見祟而有驚惶遇合而生愧惡，則鬼祟不能久戀，一交媾即遠去。然淫妖之氣已結於腹，遂成鬼胎。其先尚未覺，迨後漸漸腹大，經水不行，內外相危，一如懷妊之狀，有似血臌之形，其實是鬼胎而非臌也。治法必須以逐穢為主，然人至懷胎數年不產，即非鬼胎，亦必氣血衰微，況此非真妊，則邪氣必旺，正不敵邪，其虛弱之狀，必有可掬，烏有純用迅利之藥以祛蕩乎？必於補中逐之為的也。</p>
<p>方用　蕩鬼湯。</p>
<p>人參（一兩）　當歸（一兩）　大黃（一兩）　雷丸（三錢）　川牛膝（三錢）　紅花（三錢）　丹皮（三錢）　枳殼（一錢）　厚朴（一錢）　小桃仁（三十粒）</p>
<p>水煎服。一劑腹必大鳴，可瀉惡物半桶而愈矣，斷不可復用三劑也。蓋雖補中用逐，未免迅利，多用恐傷損元氣。此方用雷丸以祛穢，又得大黃之掃除，且佐以厚朴、紅花、桃仁等味，皆善行善攻之品，何邪之尚能留腹中而不盡逐下也哉？尤妙在用參、歸以補氣血，則邪去而正不傷。若單用雷丸、大黃以迅下之，必有氣脫血崩之患矣。倘或知是鬼胎。如室女、寡婦輩，邪氣雖盛而真氣未漓，可用歧天師新傳　紅花霹靂散。</p>
<p>紅花（半斤）　大黃（五兩）　雷丸（三兩）</p>
<p>水煎服，亦能下胎。然未免太過於迅利，過傷氣血，不若蕩鬼湯之有益無損為愈也，在人臨症時斟酌而善用之耳。</p>
<p><u>眉批：</u>鬼祟之事，儒者弗道，然城市鄉莊往往有是症，不可不察，甚勿以此言為荒唐也。</p>
<p><u>歌括：</u>婦人有腹似懷妊，鬼祟戀情暗雨雲。淫妖氣結成鬼孕，面黃肌瘦氣血損。蕩鬼湯中用人參，當歸牛膝小桃仁。雷丸枳殼粉丹皮，厚朴紅花與川軍。紅花霹靂效如神，三兩雷丸五兩軍，此乃天師真妙法，煎服鬼胎立離身。</p>

<h3>室女鬼胎（十四）</h3>
<p>女子有在家未嫁，月經忽斷，腹大如妊，面色乍赤乍白，六脈乍大乍小，人以為血結經閉也，誰知是靈鬼憑身乎！夫人之身正，則諸邪不敢來侵；其身不正，則諸邪自來犯，或精神恍惚而夢裡求親，或眼目昏花而對面相狎，或假託親屬而暗處貪歡，或明言仙人而靜地取樂。其始則驚詫為奇遇而不肯告人，其後則羞郝為淫褻而不敢告人。日久年深，腹大如斗，有如懷妊之狀，一身之精血僅足以供腹中之邪，則邪日旺而正日衰，勢必至經閉而血枯，後雖欲導其經而邪據其腹則經亦難通，欲生其血而邪食其精，則血實難長。醫以為胎而實非真胎，又以為瘕而亦非瘕病，往往因循等待，非因羞憤而亡其生，則成勞瘵而終不起，至死不悟，不重可悲哉！治法似宜補正以祛邪，然邪不先去，補正亦無益也。必須先祛邪而後補正，斯為得之。</p>
<p>方用　蕩邪散。</p>
<p>雷丸（六錢）　桃仁（六十粒）　當歸（一兩）　丹皮（一兩）　甘草（四錢）</p>
<p>水煎服。一劑必下惡物半桶，再服　調正湯　治之。</p>
<p>白朮（五錢）　蒼朮（五錢）　茯苓（三錢）　陳皮（一錢）　貝母（一錢）　薏米（五錢）</p>
<p>水煎服。連服四劑則脾胃之氣轉而經水漸行矣。前方蕩邪後方補正，實有次第。或疑身懷鬼胎，必大傷其血，所以經閉。今既墜其鬼胎矣，自當大補其血。乃不補血而反補胃氣何故？蓋鬼胎中人，其正太虛，可知氣虛則血必不能產生。欲補血，必先補氣，是補氣而血自然生也。用二朮以補胃陽，陽氣旺則陰氣難犯，尤善後之妙法也。倘重用補陰之品，則以陰招陽，吾恐鬼胎雖下而鬼氣未必不再侵，故必以補陽為上策，而血自隨氣而生也。</p>
<p><u>眉批：</u>此方陰騭大矣！見有因此病羞憤而蹈於非命，勞瘵而喪於少年，深為可憫。若服此方不應，宜服桂香平胃散，無不見效，愈後宜調養氣血，節飲食。</p>
<p>肉桂（去粗皮一錢）　麝香（一錢）</p>
<p>以上二味，共研細末，開水為丸，如桐子大，空心開水下，服後半日時，煎平胃散一劑服之。</p>
<p>蒼朮（米泔炒，三錢）　厚朴（二錢，薑汁炒）　廣皮（一錢）　枳實（二錢，土炒）　全當歸（三錢，酒洗）　川芎（一錢，酒洗）</p>
<p>服後必下惡物，若不見下惡物，次日再服平胃散，不用桂、香。</p>
<p><u>歌括：</u>室女未嫁腹如妊，誤認胎瘕俱非真。實未與人偕雲雨，淫邪鬼祟暗戲人。治法宜用蕩邪散，桃仁當歸與雷丸。丹皮甘草水煎服，祛邪補正病自痊。鬼胎落後血分傷，宜投白朮調正湯。茯苓陳皮薏貝母，連服氣旺血亦旺。</p>

<h2>調經</h2>

<h3>經水先期（十五）</h3>
<p>婦人有先期經來者，其經甚多，人以為血熱之極也，誰知是腎中水火太旺乎！夫火太旺則血熱，水太旺則血多，此有餘之病，非不足之症也，似宜不藥有喜。但過於有餘，則子宮太熱，亦難受孕，更恐有鑠乾男精之慮，過者損之，謂非既濟之道乎！然而火不可任其有餘，而水斷不可使之不足。治之法但少清其熱，不必泄其水也。</p>
<p>方用　清經散。</p>
<p>丹皮（三錢）　地骨皮（四錢）　白芍（三錢，酒炒）　大熟地（三錢，九蒸）　青蒿（二錢）　白茯苓（一錢）　黃柏（五分，鹽水浸炒）</p>
<p>水煎服。二劑而火自平。此方雖是清火之品，然仍是滋水之味，火泄而水不與俱泄，損而益也。</p>
<p>又有先期經來只一、二點者，人以為血熱之極也，誰知腎中火旺而陰水虧乎！夫同是先期之來，何以分虛實之異？蓋婦人之經最難調，苟不分別細微，用藥鮮克有效。先期者火氣之沖，多寡者水氣之驗，故先期而來多者，火熱而水有餘也；先期而來少者，火熱而水不足也。倘一見先期之來，俱以為有餘之熱，但泄火而不補水，或水火兩泄之，有不更增其病者乎！治之法不必泄火，只專補水，水既足而火自消矣，亦既濟之道也。</p>
<p>方用　兩地湯。</p>
<p>大生地（一兩，酒炒）　元參（一兩）　白芍藥（五錢，酒炒）　麥冬肉（五錢）　地骨皮（三錢）　阿膠（三錢）</p>
<p>水煎服。四劑而經調矣。此方之用地骨、生地，能清骨中之熱。骨中之熱，由於腎經之熱，清其骨髓，則腎氣</p>
<p>自清，而又不損傷胃氣，此治之巧也。況所用諸藥，又純是補水之味，水盛而火自平理也。此條與上條參觀，斷無誤治先期之病矣。</p>
<p><u>眉批：</u>婦科調經尤難，蓋經調則無病，不調則百病叢生。治法宜詳察其病源，細審其所以不調之故，然後用藥，始能見效。此書雖有先期、後期、先後無定期之分，然須與種子、帶下門參看，臨症時自有進見。</p>
<p><u>歌括：</u>經水先期量甚多，腎中太旺水與火。有餘之水勿藥喜，有餘之火清其熱。清經散用大熟地，白芍茯苓地骨皮。青蒿丹皮炒鹽柏，滋水泄火損而益。經水先期量甚少，腎中水虧火來灼。治法當宜專補水，腎水充足火自消。兩地湯中用生地，玄參麥冬地骨皮。阿膠白芍用酒炒，補水泄火服之宜。</p>

<h3>經水後期（十六）</h3>
<p>婦人有經水後期而來多者，人以為血虛之病也，誰知非血虛乎！蓋後期之多少，實有不同，不可執一而論。蓋後期而來少，血寒而不足；後期而來多，血寒而有餘。夫經本於腎，而其流五臟六腑之血皆歸之，故經來而諸經之血盡來附益，以經水行而門啟不遑迅闔，諸經之血乘其隙而皆出也，但血既出矣，則成不足。治法宜於補中溫散之，不得曰後期者俱不足也。</p>
<p>方用　溫經攝血湯</p>
<p>大熟地（一兩，九蒸）　白芍（一兩，酒炒）　川芎（五錢，酒洗）　白朮（五錢，土炒）　柴胡（五分）　五味子（三分）　續斷（一錢）　肉桂（五分，去粗，研）</p>
<p>水煎服。三劑而經調矣。此方大補肝、腎、脾之精與血，加肉桂以祛其寒，柴胡以解其鬱，是補中有散，而散不耗氣；補中有泄，而泄不損陰，所以補之有益，而溫之收功，此調經之妙藥也，而攝血之仙丹也。凡經來後期者，俱可用。倘元氣不足，加人參一、二錢亦可。</p>
<p><u>歌括：</u>經水後期因血寒，經量多少應分辨。少屬不足多有餘，治宜補中合溫散。溫經攝血用肉桂，白朮川芎與五味。柴胡續斷熟地黃，加參可補元氣虧。</p>

<h3>經水先後無定期（十七）</h3>
<p>婦人有經來斷續，或前或後無定期，人以為氣血之虛也，誰知是肝氣之鬱結乎！夫經水出諸腎，而肝為腎之子，肝鬱則腎亦鬱矣；腎鬱而氣必不宣，前後之或斷或續，正腎之或通或閉耳；或曰肝氣鬱而腎氣不應，未必至於如此。殊不知子母關切，子病而母必有顧復之情，肝鬱而腎不無繾綣之誼，肝氣之或開或閉，即腎氣之或去或留，相因而致，又何疑焉。治法宜舒肝之鬱，即開腎之鬱也，肝腎之鬱既開。而經水自有一定之期矣。</p>
<p>方用　定經湯。</p>
<p>菟絲子（一兩，酒炒）　白芍（一兩，酒炒）　當歸（一兩，酒洗）　大熟地（五錢，九蒸）　山藥（五錢，炒）　白茯苓（三錢）　芥穗　柴胡（五分）</p>
<p>水煎服。二劑而經水淨，四劑而經期定矣。此方舒肝腎之氣，非通經之藥也；補肝腎之精，非利水之品也，肝腎之氣舒而精通，肝腎之精旺而水利，不治之治，正妙於治也。</p>
<p><u>眉批：</u>以上調經三條辨論明晰，立方微妙，但恐臨時或有外感、內傷不能見效：有外感者宜加蘇葉一錢，有內傷者宜加神麯二錢（炒），有因肉食積滯者再加東山楂肉二錢（炒），臨症須酌用之。若肝氣鬱抑又當以逍遙散為主，有熱加梔炭、丹皮即加味逍遙散。</p>
<p><u>歌括：</u>經水先後無定期，肝經鬱結莫狐疑。治法宜舒肝之氣，子開其母亦隨之。定經湯中用菟絲，白芍當歸與熟地。茯苓山藥柴荊芥，數服經自不衍期。</p>

<h3>經水數月一行（十八）</h3>
<p>婦人有數月一行經者，每以為常，亦無或先或後之異，亦無或多或少之殊，人莫不以為異，而不知非異也。蓋無病之人，氣血兩不虧損耳。然嗜欲損夭之人，亦復甚多，又不可不立一療救之方以輔之，</p>
<p><u>方名助仙丹</u></p>
<p>白茯苓（五錢）　陳皮（五錢）　白朮（三錢，土炒）　白芍（三錢，酒炒）　山藥（三錢，炒）　菟絲子（二錢，酒炒）　杜仲（一錢，炒黑）　甘草（一錢）</p>
<p>河水煎服。四劑而仍如其舊，不可再服也。此方平補之中，實有妙理。健脾益腎而不滯，解鬱清痰而不泄，不損天然之氣血，便是調經之大法，何得用他藥以冀通經哉！</p>
<p><u>眉批：</u>曾見婦人一年一行經，身健無恙，妊娠後反月月行經，或至五月至七月經止不等，言男皆成人，咸以為異，或亦仙骨之所致乎？抑造化令人不測也。</p>
<p><u>歌括：</u>經水數月一行焉，此是婦人骨自仙。雖然天生仙骨者，豈無嗜欲損天然。助仙丹中茯陳煎，白芍白朮菟絲聯。山藥杜仲與甘草，河水煎服四劑痊。</p>

<h3>年老經水復行（十九）</h3>
<p>婦人有年五十外或六、七十歲忽然行經者，或下紫血塊、或如紅血淋，人或謂老婦行經，是還少之象，誰知是血崩之漸乎！夫婦人至七七之外，天癸已竭，又不服濟陰補陽之藥，如何能精滿化經，一如少婦。然經不宜行而行者，乃肝不藏脾不統之故也，非精過泄而動命門之火，即氣鬱甚而發龍雷之炎，二火交發，而血乃奔矣，有似行經而實非經也。此等之症，非大補肝脾之氣與血，而血安能驟止。</p>
<p>方用　安老湯</p>
<p>人參（一兩）　黃芪（一兩，生用）　大熟地（一兩，九蒸）　白朮（五錢，土炒）　當歸（五錢，酒洗）　山萸（五錢，蒸）　阿膠（一錢，蛤粉炒）　黑芥穗（一錢）　甘草（一錢）　香附（五分，酒炒）　木耳炭（一錢）</p>
<p>水煎服。一劑減，二劑尤減，四劑全減，十劑愈。此方補益肝脾之氣，氣足自能生血而攝血。尤妙大補腎水，水足而肝氣自舒，肝舒而脾自得養，肝藏之而脾統之，又安有泄漏者，又何慮其血崩哉！</p>
<p><u>眉批：</u>加貫仲炭一錢，研細末，以藥沖服尤妙。</p>
<p><u>歌括：</u>年老經行乃為崩，肝脾藏攝力不勝。治宜大補肝脾氣，氣足攝血崩漏停。安老湯中參芪增，熟地朮歸山藥朋。阿荊甘附木耳炭，舒肝養脾效更宏。</p>

<h3>經水忽來忽斷時疼時止（二十）</h3>
<p>婦人有經水忽來忽斷，時疼時止，寒熱往來者，人以為血之凝也，誰知是肝氣不舒乎！夫肝屬木而藏血，最惡風寒。婦人當行經之際，腠理大開，適逢風之吹寒之襲，則肝氣為之閉塞，而經水之道路亦隨之而俱閉，由是腠理經絡，各皆不宣，而寒熱之作，由是而起。其氣行於陽分則生熱，其氣行於陰分則生寒，然此猶感之輕者也。倘外感之風寒更甚，則內應之熱氣益深，往往有熱入血室，而變為如狂之症。若但往來寒熱，是風寒未甚而熱未深耳。治法宜補肝中之血，通其鬱而散其風，則病隨手而效，所謂治風先治血，血和風自滅，此其一也。</p>
<p>方用　加味四物湯。</p>
<p>大熟地（一兩，九蒸）　白芍（五錢，酒炒）　當歸（五錢，酒洗）　川芎（三錢，酒洗）　白朮（五錢，土炒）　粉丹皮（三錢）　元胡（一錢，酒炒）　甘草（一錢）　柴胡（一錢）</p>
<p>水煎服。此方用四物以滋脾胃之陰血；用柴胡、白芍、丹皮以宣肝經之風鬱；用甘草、白朮、元胡以利腰臍而和腹疼，入於表裡之間，通乎經絡之內，用之得宜，自奏功如響也。</p>
<p><u>眉批：</u>加荊芥穗（炒黑）一錢尤妙。</p>
<p><u>歌括：</u>經水忽來忽斷焉，痛疼發作亦如然。經行適逢風寒襲，補肝生血風自蠲。加味四物地芍先，當歸川芎和牡丹。白朮二胡並甘草，用之得當效可觀。</p>

<h3>經水未來腹先疼痛（二十一）</h3>
<p>婦人有經前腹疼數日，而後經水行者，其經來多是紫黑塊，人以為寒極而然也，誰知是熱極而火不化乎！夫肝屬木，其中有火，舒則通暢，鬱則不揚，經欲行而肝不應，則抑拂其氣而疼生。然經滿則不能內藏，而肝中之鬱火焚燒，內逼經出，則其火亦因之而怒泄。其紫黑者，水火兩戰之象也；其成塊者，火煎成形之狀也。經失其為經者，正鬱火內奪其權耳。治法似宜大泄肝中之火，然泄肝之火，而不解肝之鬱，則熱之標可去，而熱之本未除也，其何能益！</p>
<p>方用　宣鬱通經湯。</p>
<p>白芍（五錢，酒炒）　當歸（五錢，酒洗）　丹皮（五錢）　山梔子（三錢，炒）　白芥子（二錢，炒研）　柴胡（一錢）　香附（一錢，酒炒）　川鬱金（一錢，醋炒）　黃芩（一錢，酒炒）　生甘草（一錢）</p>
<p>水煎。連服四劑，下月斷不先腹疼而後行經矣。此方補肝之血，而解肝之鬱，利肝之氣，而降肝之火，所以奏功之速。</p>
<p><u>歌括：</u>經水未來腹先痛，熱極不化鬱火攻。紫黑成塊因怒泄，宣鬱降火有奇功。通經芍歸丹梔充，白芥柴胡香附雄。鬱金黃芩生甘草，連服四劑經自通。</p>

<h3>行經後少腹疼痛（二十二）</h3>
<p>婦人有少腹疼於行經之後者，人以為氣血之虛也，誰知是腎氣之涸乎！夫經水者，乃天一之真水也，滿則溢而虛則閉，亦其常耳，何以虛能作疼哉？蓋腎水一虛則水不能生木，而肝木必克脾土，木土相爭，則氣必逆，故爾作疼。治法必須以舒肝氣為主，而益之以補腎之味，則水足而肝氣益安，肝氣安而逆氣自順，又何疼痛之有哉！</p>
<p>方用　調肝湯。</p>
<p>山藥（五錢，炒）　阿膠（三錢，白麵炒）　當歸（三錢，酒洗）　白芍（三錢，酒炒）　山萸肉（三錢，蒸熟）　巴戟（一錢，鹽水浸）　甘草（一錢）</p>
<p>水煎服。此方平調肝氣，既能轉逆氣，又善止鬱疼。經後之症，以此方調理最佳。不特治經後腹疼之症也。</p>
<p><u>眉批：</u>經前經後腹痛二方極妙，不可加減。若有別症亦宜此方為主，另加藥味治之。原方不可減去一味。</p>
<p><u>歌括：</u>行經之後少腹痛，氣血非虛腎水空。無水潤肝木剋土，相爭氣逆痛自生。調肝山藥炒阿膠，當歸山萸與白芍。巴戟甘草同煎服，調平肝氣此方妙。</p>

<h3>經前腹疼吐血（二十三）</h3>
<p>婦人有經未行之前一二日忽然腹疼而吐血，人以為火熱之極也，誰知是肝氣之逆乎！夫肝之性最急，宜順而不宜逆，順則氣安，逆則氣動；血隨氣為行止，氣安則血安，氣動則血動，亦勿怪其然也。或謂經逆在腎不在肝，何以隨血妄行，竟至從口上出也，是肝不藏血之故乎？抑腎不納氣而然乎？殊不知少陰之火急如奔馬，得肝火直衝而上，其勢最捷，反經而為血，亦至便也，正不必肝不藏血，始成吐血之症，但此等吐血與各經之吐血有不同者。蓋各經之吐血，由內傷而成，經逆而吐血，乃內溢而激之使然也，其症有絕異，而其氣逆則一也。治法似宜平肝以順氣，而不必益精以補腎矣。雖然，經逆而吐血，雖不大損夫血，而反復顛倒，未免太傷腎氣，必須於補腎之中，用順氣之法始為得當。</p>
<p>方用　順經湯。</p>
<p>當歸（五錢，酒洗）　大熟地（五錢，九蒸）　白芍（二錢，酒炒）　丹皮（五錢）　白茯苓（三錢）　沙參（三錢）　黑芥穗（三錢）</p>
<p>水煎服。一劑而吐血止，二劑而經順，十劑不再發。此方於補腎調經之中，而用引血歸經之品，是和血之法，實寓順氣之法也。肝不逆而腎氣自順，腎氣既順，又何經逆之有哉！</p>
<p><u>眉批：</u>婦人年壯吐血往往有之，不可作勞症治。若認為勞症，必至肝氣愈逆，非勞反成勞矣。方加茜草一錢，懷牛膝八分尤妙。</p>
<p><u>歌括：</u>經前腹痛吐血漿，誤認火熱乃荒唐。肝氣不舒經逆上，治宜順氣補腎良。順經當歸熟地黃，芍丹茯沙芥穗襄。一劑吐止二經順，連服十劑永泰康。</p>

<h3>經水將來臍下先疼痛（二十四）</h3>
<p>婦人有經水將來三五日前而臍下作疼，狀如刀刺者；或寒熱交作，所下如黑豆汁，人莫不以為血熱之極，誰知是下焦寒濕相爭之故乎！夫寒濕乃邪氣也。婦人有衝任之脈，居於下焦；沖為血海，任主胞胎，為血室，均喜正氣相通，最惡邪氣相犯；經水由二經而外出，而寒濕滿二經而內亂，兩相爭而作疼痛，邪愈盛而正氣日衰。寒氣生濁，而下如豆汁之黑者，見北方寒水之象也。治法利其濕而溫其寒，使衝任無邪氣之亂，臍下自無疼痛之疚矣。</p>
<p>方用　溫臍化濕湯。</p>
<p>白朮（一兩，土炒）　白茯苓（三錢）　山藥（五錢，炒）　巴戟肉（五錢，鹽水浸）　扁豆（炒、搗，三錢）　白果（十枚，搗碎）　建蓮子（三十枚，不去心）</p>
<p>水煎服。然必須經未來前十日服之。四劑而邪氣去，經水調，兼可種子。此方君白朮以利腰臍之氣；用巴戟、白果以通任脈；扁豆、山藥、蓮子以衛衝脈，所以寒濕掃除而經水自調，可受妊矣。倘疑腹疼為熱疾，妄用寒涼，則衝任虛冷，血海變為冰海，血室反成冰室，無論難於生育，而疼痛之止，又安有日哉！</p>
<p><u>眉批：</u>衝任之氣宜通不宜降，故化濕不用蒼朮、薏仁。餘宜類參。</p>
<p><u>歌括：</u>經水來前三五天，臍下疼痛若刀穿。經下色如黑豆汁，濕寒所致非熱煎。溫臍化濕宜為先，白朮茯苓山藥蓮。巴戟扁豆與白果，煎服經來十日前。</p>

<h3>經水過多（二十五）</h3>
<p>婦人有經水過多，行後復行，面色萎黃，身體倦怠，而困乏愈甚者，人以為血熱有餘之故，誰知是血虛而不歸經乎！夫血旺始經多，血虛當經縮。今日血虛而反經多，是何言與？殊不知血歸於經，雖旺而經亦不多；血不歸經，雖衰而經亦不少，世之人見經水過多，謂是血之旺也，此治之所以多錯耳。倘經多果是血旺，自是健壯之體，須當一行即止，精力如常，何至一行後而再行，而困乏無力耶！惟經多是血之虛，故再行而不勝其困乏，血損精散，骨中髓空，所以不能色華於面也。治法宜大補血而引之歸經，又安有行後復行之病哉！</p>
<p>方用　加減四物湯。</p>
<p>大熟地（一兩，九蒸）　白芍（三錢，酒炒）　當歸（五錢，酒洗）　川芎（二錢，酒洗）　白朮（五錢，土炒）　黑芥穗（三錢）　山萸（三錢，蒸）　續斷（一錢）　甘草（一錢）</p>
<p>水煎服。四劑而血歸經矣。十劑之後，加人參三錢，再服十劑，下月行經，適可而止矣。夫四物湯乃補血之神品，加白朮、荊芥，補中有利；加山萸、續斷，止中有行；加甘草以調和諸品，使之各得其宜，所以血足而歸經，歸經而血自靜矣。</p>
<p><u>眉批：</u>荊芥穗炭能引血歸經。方妙極不可輕易加減。</p>
<p><u>歌括：</u>經水過多行復行，面黃體倦色不榮。病非血熱有餘故，血不歸經此病生。加減四物地芍並，歸芎白朮與黑荊。山萸續斷生甘草，數服血自歸經程。</p>

<h3>經前泄水（二十六）</h3>
<p>婦人有經未來之前，泄水三日，而後行經者，人以為血旺之故，誰知是脾氣之虛乎！夫脾統血，脾虛則不能攝血矣；且脾屬濕土，脾虛則土不實，土不實而濕更甚，所以經水將動，而脾先不固；脾經所統之血，欲流注於血海，而濕氣乘之，所以先泄水而後行經也。調經之法，不在先治其水，而在先治其血；抑不在先治其血，而在先補其氣。蓋氣旺而血自能生，抑氣旺而濕自能除，且氣旺而經自能調矣。</p>
<p>方用　健固湯。</p>
<p>人參（五錢）　白茯苓（三錢）　白朮（一兩，土炒）　巴戟（五錢，鹽水浸）　薏苡仁（三錢，炒）</p>
<p>水煎。連服十劑，經前不泄水矣。此方補脾氣以固脾血，則血攝於氣之中，脾氣日盛，自能運化其濕，濕既化為烏有，自然經水調和，又何至經前泄水哉！</p>
<p><u>眉批：</u>與胖人不孕參看，自得立方之妙。</p>
<p><u>歌括：</u>經未來時水先行，脾虛濕盛此病成。治法不宜先治水，除濕補氣法最靈。健固湯中用人參，茯苓白朮薏苡仁。巴戟當用鹽水浸，脾氣日盛濕自運。</p>

<h3>經前大便下血（二十七）</h3>
<p>婦人有行經之前一日大便先出血者，人以為血崩之症，誰知是經流於大腸乎！夫大腸與行經之路，各有分別，何以能入乎其中？不知胞胎之系，上通心而下通腎，心腎不交，則胞胎之血，兩無所歸，而心腎二經之氣，不來照攝，聽其自便，所以血不走小腸而走大腸也。治法若單止大腸之血，則愈止而愈多；若擊動三焦之氣，則更拂亂而不可止。蓋經水之妄行，原因心腎之不交；今不使水火之既濟，而徒治其胞胎，則胞胎之氣無所歸，而血安有歸經之日！故必大補其心與腎，使心腎之氣交，而胞胎之氣自不散，則大腸之血自不妄行，而經自順矣。</p>
<p>方用　順經兩安湯。</p>
<p>當歸（五錢，酒洗）　白芍（五錢，酒炒）　大熟地（五錢，九蒸）　山萸肉（二錢，蒸）　人參（三錢）　白朮（五錢，土炒）　麥冬（五錢，去心）　黑芥穗（二錢）　巴戟肉（一錢，鹽水浸）　升麻（四分）</p>
<p>水煎服。二劑大腸血止，而經從前陰出矣，三劑經止，而兼可受妊矣。此方乃大補心肝腎三經之藥，全不去顧胞胎，而胞胎有所歸者，以心腎之氣交也。蓋心腎虛則其氣兩分；心腎足則其氣兩合，心與腎不離，而胞胎之氣聽命於二經之攝，又安有妄動之形哉！然則心腎不交，補心腎可也，又何兼補夫肝木耶？不知肝乃腎之子、心之母也，補肝則肝氣往來於心腎之間，自然上引心而下入於腎，下引腎而上入於心，不啻介紹之助也。此使心腎相交之一大法門，不特調經而然也，學者其深思諸。</p>
<p><u>眉批：</u>若大便下血過多，精神短少，人愈消瘦，必係肝氣不舒，久鬱傷脾，脾傷不能統血又當分別治之。方用補血湯：嫩黃芪二兩（生熟各半），歸身四錢（酒洗，炒黑），杭芍炭二錢，焦白朮五錢（土炒），杜仲二錢（炒斷絲），荊芥炭二錢，薑炭二錢，引用貫仲炭一錢衝入服之，四劑必獲愈，愈後減半再服二劑。經入大腸必當行經之際而大便下血也，初病血雖錯行精神必照常，若脾不統血精神即不能照常矣，用者辨之。</p>
<p><u>歌括：</u>大便下血行經前，經流大腸使之然。胞胎之系通心腎，大補其氣經自安。順經兩安交心腎，歸芍熟地與人參。山萸白朮麥麻芥，加入巴戟可受妊。</p>

<h3>年未老經水斷（二十八）</h3>
<p>經云：「女子七七而天癸絕。」有年未至七七而經水先斷者，人以為血枯經閉也，誰知是心肝脾之氣鬱乎！使其血枯，安能久延於人世。醫見其經水不行，妄謂之血枯耳，其實非血之枯，乃經之閉也。且經原非血也，乃天一之水，出自腎中，是至陰之精而有至陽之氣，故其色赤紅似血，而實非血，所以謂之天癸。世人以經為血，此千古之誤，牢不可破，倘果是血，何不名之曰血水，而曰經水乎！經水之名者，原以水出於腎，乃癸干之化，故以名之。無如世人沿襲而不深思其旨，皆以血視之。然則經水早斷，似乎腎水衰涸。吾以為心肝脾氣之鬱者，蓋以腎水之生，原不由於心肝脾，而腎水之化，實有關於心肝脾。使水位之下無土氣以承之，則水濫滅火，腎氣不能化；火位之下無水氣以承之，則火炎鑠金，腎氣無所生；木位之下無金氣以承之，則木妄破土，腎氣無以成。倘心肝脾有一經之鬱，則其氣不能入於腎中，腎之氣即鬱而不宣矣。況心肝脾俱鬱，即腎氣真足而無虧，尚有茹而難吐之勢。矧腎氣本虛，又何能盈滿而化經水外泄耶！經曰「亢則害」，此之謂也。此經之所以閉塞有似乎血枯，而實非血枯耳。治法必須散心肝脾之鬱，而大補其腎水，仍大補其心肝脾之氣，則精溢而經水自通矣。</p>
<p>方用　益經湯。</p>
<p>大熟地（一兩，九蒸）　白朮（一兩，土炒）　山藥（五錢，炒）　當歸（五錢，酒洗）　白芍（三錢，酒炒）　生棗仁（三錢，搗碎）　丹皮（二錢）　沙參（三錢）　柴胡（一錢）　杜仲（一錢，炒黑）　人參（二錢）</p>
<p>水煎。連服八劑而經通矣，服三十劑而經不再閉，兼可受孕。此方心肝脾腎四經同治藥也。妙在補以通之，散以開之；倘徒補則鬱不開而生火，徒散則氣益衰而耗精；設或用攻堅之劑，辛熱之品，則非徒無益，而又害之矣。</p>
<p><u>眉批：</u>善醫者，只用眼前純和之品，而大病盡除；不善醫者，立異矜奇，不惟無效，反致百病叢生。凡用藥雜亂，假金石為上品者，戒之！戒之！</p>
<p><u>歌括：</u>年未七七經水斷，心肝脾氣鬱不宣。腎氣不能化生成，大補腎水益精原。益經熟地沙人參，歸芍白朮丹棗仁。柴胡山藥杜仲炭，同治心肝與脾腎。</p>

<h2>種子</h2>

<h3>身瘦不孕（二十九）</h3>
<p>婦人有瘦怯身軀，久不孕育，一交男子，即臥病終朝。人以為氣虛之故，誰知是血虛之故乎！或謂血藏於肝、精涵於腎，交感乃泄腎之精，與血虛何與，殊不知肝氣不開，則精不能泄，腎精既泄，則肝氣亦不能舒。以腎為肝之母，母既泄精，不能分潤以養其子，則木燥乏水，而火且暗動以鑠精，則腎愈虛矣。況瘦人多火，而又泄其精，則水益少，而火益熾，水雖制火，而腎精空乏，無力以濟，便成火在水上之卦，所以倦怠而臥也。此等之婦，偏易動火，然此火因貪欲而出於肝木之中，又是虛燥之火，絕非真火也。且不交合則已，交合又偏易走泄，此陰虛火旺，不能受孕。即偶爾受孕，必致逼乾男子之精，隨種而隨消者有之。治法必須大補腎水而平肝木，水旺則血旺，血旺則火消，便成水在火上之卦。</p>
<p>方用　養精種玉湯。</p>
<p>大熟地（一兩，九蒸）　當歸（五錢，酒洗）　白芍（五錢，酒炒）　山萸肉（五錢，蒸熟）</p>
<p>水煎服。三月便可身健受孕，才可種子。此方之用，不特補血而純於填精，精滿則子宮易於攝精，血足則子宮易於容物，皆有子之道也。惟是貪欲者多，節欲者少，往往不驗。服此者果能節欲三月。心精神清，自無不孕之理。否則，不過身體健壯而已，勿咎方之不靈也。</p>
<p><u>眉批：</u>服藥三月後不受孕，仍照原方加杜仲三錢（炒斷絲）、續斷二錢、白朮五錢（土炒）、焦雲苓三錢，服數劑後必受孕矣。</p>
<p><u>歌括：</u>婦人瘦弱不孕生，肝木虛燥腎水空。大補腎水滋肝木，水旺火消孕能成。養精種玉貴子生，服藥節欲三月整。當歸熟地白芍藥，山萸四味滋腎精。</p>

<h3>胸滿不思食不孕（三十）</h3>
<p>婦人有飲食少思，胸膈滿悶，終日倦怠思睡，一經房事，呻吟不已。人以為脾胃之氣虛也，誰知是腎氣不足乎？夫氣宜升騰，不宜消降。升騰於上焦，則脾胃易於分運，降陷於下焦，則脾胃難於運化。人乏水穀之養，則精神自爾倦怠，脾胃之氣，可升而不可降也，明甚。然則，脾胃之氣，雖充於脾胃之中，實生於兩腎之內。無腎中之水氣，則胃之氣不能騰；無腎中之火氣，則脾之氣不能化。惟有腎之水火二氣，而脾胃之氣始能升騰而不降也。然則補脾胃之氣，可不急補腎中水火之氣乎！治法必以補腎氣為主，但補腎而不兼補脾胃之品，則腎之水火二氣，不能提於至陽之上也。</p>
<p>方用　並提湯。</p>
<p>大熟地（一兩，九蒸）　巴戟（一兩，鹽水浸）　白朮（一兩，土炒）　人參（五錢）　黃芪（五錢，生用）　山萸肉（三錢，蒸）　枸杞（二錢）　柴胡（五分）</p>
<p>水煎服。三月而腎氣大旺，再服一月，未有不能受孕者。此方補氣之藥多於補精，似乎以補脾胃為主矣。孰知脾胃健而生精自易，是補脾胃之氣與血，正所以補腎之精與水也。又益以補精之味，則陰氣自足，陽氣易升，自爾升騰於上焦矣。陽氣不下臨，則無非大地陽春，隨遇皆是化生之機，安有不受孕之理與？</p>
<p><u>眉批：</u>胸滿不孕，人每以為脾胃虛寒，不能克食，用扶脾消導之藥，胃氣愈虛，何能受孕？妙在立方不峻補腎火，所以不用桂、附等藥，但專補腎氣，便脾胃之氣不復下陷，則帶脈氣充，胞胎氣暖，自然受孕無難矣。</p>
<p><u>歌括：</u>胸滿膈悶食不思，倦怠欲臥力難支。腎中水火二氣弱，脾胃失運不妊子。並提湯中用熟地，巴戟白朮人參芪。山萸柴胡枸杞子，精旺自有化生機。</p>

<h3>下部冰冷不孕（三十一）</h3>
<p>婦人有下身冰冷，非火不暖。交感之際，陰中絕無溫熱之氣。人以為天分之薄也，誰知是胞胎寒之極乎！夫寒冰之地，不生草木；重陰之淵，不長魚龍。今胞胎既寒，何能受孕。雖男子鼓勇力戰，其精甚熱，直射於子宮之內，而寒冰之氣相遇，亦不過茹之於暫，而不能不吐之於久也，夫猶是人也。此婦之胞胎，何以寒涼至此，豈非天分之薄乎？非也！蓋胞胎居於心腎之間，上繫於心，而下繫於腎，胞胎之寒涼，乃心腎二火之衰微也。故治胞胎者，必須補心腎二火而後可。</p>
<p>方用　溫胞飲。</p>
<p>白朮（一兩，土炒）　巴戟（一兩，鹽水浸）　人參（三錢）　杜仲（三錢，炒黑）　菟絲子（三錢，酒浸炒）　山藥（三錢，炒）　芡實（三錢，炒）　肉桂（二錢，去粗，研）　附子（三分，製）　補骨脂（二錢，鹽水炒）</p>
<p>水煎服。一月而胞胎熱。此方之妙，補心而即補腎，溫腎而即溫心。心腎之氣旺，則心腎之火自生。心腎之火生，則胞胎之寒自散。原因胞胎之寒以至茹而即吐，而今胞胎自熱矣，尚有施而不受者乎！若改湯為丸，朝夕吞服，尤能攝精，斷不至有伯道無兒之嘆也。</p>
<p><u>眉批：</u>今之種子者多喜服熱藥，不知此方特為胞胎寒者設。若胞胎有熱，則不宜服，審之。</p>
<p><u>歌括：</u>婦人下部冷似冰，胞胎寒極孕難成。寒泉欲轉成暖冰，須得陽春熱氣騰。溫胞巴戟與杜仲，參朮山藥芡實增。菟絲桂附補骨脂，改湯為丸亦見功。</p>

<h3>胸滿少食不孕（三十二）</h3>
<p>婦人有素性恬淡，飲食少則平和，多則難受，或作嘔泄，胸膈脹滿，久不受孕。人以為賦稟之薄也，誰知是脾胃虛寒乎！夫脾胃之虛寒，原因心腎之虛寒耳。蓋胃土非心火不能生，脾土非腎火不能化。心腎之火衰，則脾胃失生化之權，即不能消水穀以化精微矣。既不能化水穀之精微，自無津液以灌溉於胞胎之中。欲胞胎有溫暖之氣，以養胚胎，必不可得。縱然受胎而帶脈無力，亦必墮落。此脾胃虛寒之咎，故無玉麟之毓也。治法可不急溫補其脾胃乎？然脾之母原在腎之命門，胃之母，原在心之包絡。欲溫補脾胃，必須補二經之火。蓋母旺子必不弱，母熱子必不寒，此子病治母之義也。</p>
<p>方用　溫土毓麟湯。</p>
<p>巴戟（一兩，去心酒浸）　覆盆子（一兩，酒浸蒸）　白朮（五錢，土炒）　人參（三錢）　懷山藥（五錢，炒）　神麯（一錢，炒）</p>
<p>水煎服，一月可以種子矣。此方之妙，溫補脾胃而又兼補命門與心包絡之火，藥味不多而四經並治。命門心包之火旺，則脾與胃無寒冷之虞，子母相顧，一家和合，自然飲食多而善化，氣血旺而能任，帶脈有力，不虞落胎，安有不玉麟之有哉！</p>
<p><u>眉批：</u>少食不孕與胸滿不思飲食有間，一補腎中之氣。一補命門與心包絡之火，藥味不多，其君、臣、佐、使之妙。宜細參之。</p>
<p><u>歌括：</u>膈滿少食不孕症，嘔泄之病亦常生。脾胃虛寒失運化，心腎火衰當辨明。溫土毓麟性偏溫，巴戟白朮與人參。山藥神麯覆盆子，連服一月自成孕。</p>

<h3>少腹急迫不孕（三十三）</h3>
<p>婦人有少腹之間，自覺有緊迫之狀，急而不舒，不能生育。此人人之所不識也，誰知是帶脈之拘急乎！夫帶脈繫於腰臍之間，宜弛而不宜急。今帶脈之急者，由於腰臍之氣不利也。而腰臍之氣不利者，由於脾胃之氣不足也。脾胃氣虛，則腰臍之氣閉；腰臍之氣閉，則帶脈拘急，遂致牽動胞胎。精即直射於胞胎，胞胎亦暫能茹納，而力難負載，必不能免小產之虞。況人多不能節欲，安得保其不墜乎？此帶脈之急，所以不能生子也。治法宜寬其帶脈之急，而帶脈之急，不能遽寬也，宜利其腰臍之氣。而腰臍之氣，不能遽利也，必須大補其脾胃之氣與血，而腰臍可利，帶脈可寬，自不難於孕育矣。</p>
<p>方用　寬帶湯。</p>
<p>白朮（一兩，土炒）　巴戟肉（五錢，酒浸）　補骨脂（一錢，鹽水炒）　人參（三錢）　麥冬（三錢，去心）　杜仲（三錢，炒黑）　大熟地（五錢，九蒸）　肉蓯蓉（三錢，洗淨）　白芍（三錢，酒炒）　當歸（一錢，酒洗）　五味（三分，炒）　建蓮子（二十粒，不去心）</p>
<p>水煎服。四劑少腹無緊迫之狀，服一月即受胎。此方之妙，脾胃兩補，而又利其腰臍之氣，自然帶脈寬舒，可以載物而勝任矣。或疑方中用五味、白芍之酸收，不增帶脈之急，而反得帶脈之寬，殊不可解。豈知帶脈之急，由於氣血之虛。蓋血虛，則縮而不伸；氣虛，則攣而不達。用芍藥之酸以平肝木，則肝不克脾。用五味之酸以生腎水，則腎能益帶，似相礙而實相濟也，何疑之有？</p>
<p><u>眉批：</u>凡種子治法，不出帶脈、胞胎二經，數言已泄造化之秘矣。</p>
<p><u>歌括：</u>少腹急迫不育雛，腰臍氣閉帶脈束。脾胃氣虛原致此，大補脾土功效殊。寬帶巴戟熟地朮，麥參杜仲補骨脂。蓯蓉歸芍蓮五味，四劑少腹緊迫除。</p>

<h3>嫉妬不孕（三十四）</h3>
<p>婦人有懷抱素惡，不能生育者。人以為天心厭之也，誰知是肝氣鬱結乎？夫婦人之有子也，必然心脈流利而滑，脾脈舒徐而和，腎脈旺大而鼓指，始稱喜脈。未有三部脈鬱而能生子者也。若三部脈鬱，肝氣必因之而更鬱。肝氣鬱，則心腎之脈，必致鬱之急而莫解。蓋子母相依，鬱必不喜，喜必不鬱也。其鬱而不能成胎者，以肝木不舒，必下克脾土而致塞，則腰臍之氣必不利。腰臍之氣不利，必不能通任脈而達帶脈，則帶脈之氣亦塞矣。帶脈之氣既塞，則胞胎之門必閉，精即到門，亦不得其門而入矣。其奈之何哉！治法必解四經之鬱，以開胞胎之門，則庶幾矣。</p>
<p>方用　開鬱種玉湯。</p>
<p>白芍（一兩，酒洗）　香附（三錢，酒炒）　當歸（五錢，酒洗）　白朮（五錢，土炒）　丹皮（三錢，酒洗）　茯苓（三錢，去皮）　花粉（三錢）</p>
<p>水煎服。一月則鬱結之氣開，鬱開則無非喜氣之盈腹，而嫉妬之心亦可以一易，自然兩相合好，結胎於頃刻之間矣。此方之妙，解肝氣之鬱，宣脾氣之困，而心腎之氣亦因之俱舒，所以腰臍利而帶任通達，不必啟胞胎之門，而胞胎自啟，不特治嫉妬者也。</p>
<p><u>眉批：</u>方似平平無奇，然卻能解妬種子，不可忽視。若懷娠而仍然嫉妬，必致血鬱墮胎，即幸不墮胎，生子多不能成，方加解妬飲合煎之，可保無虞。必須變其性情始效。解妬飲：黍、稷、谷各九十粒，麥（生用）、小黑豆各四十九粒，豆炒熟、高粱五十五粒。</p>
<p><u>歌括：</u>婦人嫉妬心不寬，肝鬱脾塞非天厭。心腎任帶相沿塞，胞門閉阻受孕難。開鬱種玉木芍丹，歸苓香附花粉添。連服一月鬱盡解，不生貴子亦生蘭。</p>

<h3>肥胖不孕（三十五）</h3>
<p>婦人有身體肥胖，痰涎甚多，不能受孕者，人以為氣虛之故，誰知是濕盛之故乎！夫濕從下受，乃言外邪之濕也。而肥胖之濕，實非外邪，乃脾土之內病也。然脾土既病，不能分化水穀以養四肢，宜其身體瘦弱，何以能肥胖乎？不知濕盛者，多肥胖；肥胖者，多氣虛；氣虛者，多痰涎，外似健壯而內實虛損也。內虛則氣必衰，氣衰則不能行水，而濕停於腸胃之間，不能化精而化涎矣。夫脾本濕土，又因痰多愈加其濕，脾不能受熱，必津潤於胞胎，日積月累，則胞胎竟變為汪洋之水窟矣。且肥胖之婦，內肉必滿，遮隔子宮，不能受精，此必然之勢也。況又加以水濕之盛，即男子甚健，陽精直達子宮，而其水勢滔滔，氾濫可畏，亦遂化精成水矣，又何能成妊哉？治法必須以水化痰為主。然徒泄水化痰，而不急補脾胃之氣，則陽氣不旺，濕痰不去，人先病矣，烏望其茹而不吐乎？</p>
<p>方用　加味補中益氣湯。</p>
<p>人參（三錢）　黃芪（三錢，生用）　柴胡（一錢）　甘草（一錢）　當歸（三錢，酒洗）　白朮（一兩，土炒）　升麻（四分）　陳皮（五分）　茯苓（五錢）　半夏（三錢，製）</p>
<p>水煎服。八劑痰涎盡消，再十劑水濕利，子宮涸出，易於受精而成孕矣。其在於昔，則如望洋觀海，而至於今，則是馬到成功也。快哉！此方之妙，妙在提脾氣而升於上，作雲作雨，則水濕反利於下行；助胃氣而消於下，為津為液，則痰涎轉易於上化。不必用消化之品以損其肥，而肥自無礙；不必用浚決之味以開其竅，而竅自能通。陽氣充足，自能攝精，濕邪散除，自可受種，何肥胖不孕之足慮乎？</p>
<p><u>眉批：</u>再十劑後方加杜仲一錢半（炒斷絲）、續斷錢半（炒），必受孕矣。</p>
<p><u>歌括：</u>婦人肥胖痰涎多，胞胎濕盛奈若何。泄水化痰非正治，急補脾胃莫蹉跎。加味補中益氣湯，參芪柴草朮苓當。升麻陳皮製半夏，痰涎盡消脾氣旺。</p>

<h3>骨蒸夜熱不孕（三十六）</h3>
<p>婦人有骨蒸夜熱，遍體火焦，口乾舌燥，咳嗽吐沫，難於生子者。人以為陰虛火動也，誰知是骨髓內熱乎！夫寒陰之地，固不生物，而乾旱之田，豈能長養。然而骨髓與胞胎何相關切，而骨髓之熱，即能使人不嗣，此前賢未言者也。山一旦創言之，不幾為世俗所駭乎？而要知不必駭也，此中實有其理焉。蓋胞胎為五臟外之一臟耳。以其不陰不陽，所以不列於五臟之中。所謂不陰不陽者，以胞胎上繫於心包，下繫於命門。繫心包者通於心，心者，陽也；繫命門者通於腎，腎者，陰也。是陰之中有陽，陽之中有陰，所以通於變化，或生男或生女，俱從此出。然必陰陽協和，不偏不枯，始能變化生人，否則否矣。況胞胎既通於腎，而骨髓亦腎之所化也。骨髓熱，由於腎之熱，腎熱而胞胎亦不能不熱。且胞胎非骨髓之養，則嬰兒無以生骨。骨髓過熱，則骨中空虛，惟存火烈之氣，又何能成胎？治法必須清骨中之熱，然骨熱由於水虧，必補腎之陰，則骨熱除，珠露有滴濡之喜矣。壯水之主，以制陽光，此之謂也。</p>
<p>方用　清骨滋腎湯。</p>
<p>地骨皮（一兩，酒洗）　丹皮（五錢）　沙參（五錢）　麥冬（五錢，去心）　元參（五錢，酒洗）　五味子（五分，炒研）　白朮（三錢，土炒）　石斛（二錢）</p>
<p>水煎，連服三十劑而骨熱解，再服六十劑自受孕。此方之妙，補腎中之精，涼骨中之熱，不清胞胎，而胞胎自無大熱之患。然陰虛內熱之人，原易受孕，今因骨髓過熱，所以受精而變燥，以致難於育子，本非胞胎之不能受精，所以稍補其腎，以殺其火之有餘，而益其水之不足，便易種子耳。</p>
<p><u>眉批：</u>治骨髓熱所以不用熟地方極善，用者萬勿加減。凡峻藥，病去七分即止，不必拘泥三十劑、六十劑之數，三元生人不一，餘類推。</p>
<p><u>歌括：</u>骨蒸夜熱似火焚，不孕一生徒雨雲。口乾舌燥咳吐沫，骨髓內熱虛火熏。清骨滋腎用地骨，丹皮麥冬朮石斛。沙參元參五味子，久服自然腎水足。</p>

<h3>腰痠腹脹不孕（三十七）</h3>
<p>婦人有腰痠背楚，胸滿腹脹，倦怠欲臥，百計求嗣不能如願。人以為腰腎之虛也，誰知是任督之困乎！夫任脈行於前，督脈行於後，然皆從帶脈之上下而行也。故任脈虛，則帶脈墜於前；督脈虛，則帶脈墜於後。雖胞胎受精，亦必小產。況任虛之脈既虛，而疝瘕之症必起。疝瘕礙胞胎而外障，則胞胎縮於疝瘕之內，往往精施而不能受，雖餌以玉燕，亦何益哉？治法必須先去其疝瘕之病，而補其任督之脈，則提攣天地，把握陰陽，呼吸精氣，包裹成形，力足以勝任而無虞矣。外無所障，內有所容，安有不能生育之理。</p>
<p>方用　升帶湯。</p>
<p>白朮（一兩，土炒）　人參（三錢）　沙參（五錢）　肉桂（一錢，去粗研）　荸薺粉（三錢）　鱉甲（三錢，炒）　茯苓（三錢）　半夏（一錢，製）　神麯（一錢，炒）</p>
<p>水煎，連服三十劑，而任督之氣旺。再服三十劑，而疝瘕之症除。此方利腰臍之氣，正升補任督之氣也。任督之氣升而疝瘕自有難容之勢，況方中有肉桂以散寒，荸薺以去積，鱉甲之攻堅，茯苓之利濕，有形自化於無形，而滿腹皆升騰之氣矣，何至受精而再墜乎哉？</p>
<p><u>眉批：</u>此方為有疝瘕而設，故用沙參、荸薺粉、鱉甲以破堅理氣。若無疝瘕，去上三味，加杜仲一錢半（炒黑）、澤瀉一錢半（炒）、甘枸杞二錢，三味服之，腰痠腹脹自除矣。鱉甲破氣，不可誤服，惟有疝瘕與肝鬱者服之。</p>
<p><u>歌括：</u>腰痠腹脹不孕生，任督受困疝瘕橫。治宜先去疝瘕病，兼補任督法最精。升帶人參沙參並，荸薺鱉甲白茯苓。肉桂神麯朮半夏，日久服之孕自成。</p>

<h3>便澀腹脹足浮腫不孕（三十八）</h3>
<p>婦人有經水艱澀，腹脹腳腫不能受孕者，人以為小腸之熱也，誰知是膀胱之氣不化乎！夫膀胱原與胞胎相近，膀胱病而胞胎亦病矣。然水濕之氣，必走膀胱，而膀胱不能自化，必得腎氣相通，而始能化水以出陰氣。倘膀胱無腎氣之通，則膀胱之氣化不行，水濕之氣，必且滲入胞胎之中而成汪洋之勢矣。汪洋之田，又何能生物也哉？治法必須壯腎氣以分消胞胎之濕，益腎火以達化膀胱之水，使先天之本壯，則膀胱之氣化，胞胎之濕除，而汪洋之田，化成雨露之階矣。水化則膀胱利，火旺則胞胎暖，安有布種而不發生者哉？</p>
<p>方用　化水種子湯。</p>
<p>巴戟天（一兩，鹽水浸）　白朮（一兩，土炒）　茯苓（五錢）　人參（三錢）　菟絲子（五錢，酒炒）　芡實（五錢，炒）　車前（二錢，酒炒）　肉桂（一錢，去粗研）</p>
<p>水煎服。二劑而膀胱之氣化，四劑而艱澀之症除。又十劑而虛脹腳腫之形消。再服六十劑腎氣大旺，胞胎溫暖，易於受胎而生育矣。此方利膀胱之水，全在補腎中之氣；暖胞胎之氣，全在壯腎中之火。至於補腎之藥，多是濡潤之品，不以濕而易助其濕乎？然方中之藥，妙於補腎之火，而非補腎之水。尤妙於補火而無燥烈之虞，利水而非盪滌之猛。所以膀胱氣化，胞胎不濕，而發榮長養無窮與。</p>
<p><u>眉批：</u>便澀腹脹足浮腫，此症極多，不惟不能受孕，抑且暫添雜症，久而不愈，甚有成勞瘵不治者。此方補水而不助濕，補火而使歸元，善極，不可加減一味。若無好肉桂，以破故紙一錢炒代之，用核桃仁二個連皮燒黑，去皮用仁作引。若用好肉桂，即可不用核桃引。</p>
<p><u>歌括：</u>便澀腹脹足浮腫，只緣胞胎濕氣滿。利膀胱水壯腎火，汪洋水地變良田。化水種子巴戟天，白朮茯苓共車前。人參芡實菟絲子，再加肉桂火歸元。</p>

<h1>女科下卷</h1>

<h2>妊娠</h2>

<h3>妊娠惡阻（三十九）</h3>
<p>婦人懷娠之後，噁心嘔吐，思酸解渴，見食憎惡，困倦欲臥，人皆曰妊娠惡阻也，誰知是肝血太燥乎！夫婦人受妊，本於腎氣之旺也，腎旺是以攝精，然腎一受精而完娠，則腎水生胎，不暇化潤於五臟；而肝為腎之子，日食母氣以舒，一日無津液之養，則肝氣迫索，而腎水不能應，則肝益急，肝急則火動而逆也；肝氣既逆，是以嘔吐噁心之症生焉。嘔吐縱不至太甚，而其傷氣則一也。氣既受傷，則肝血愈耗，世人用四物湯治胎前諸症者，正以其能生肝之血也。然補肝以生血，未為不佳，但生血而不知生氣，則脾胃衰微，不勝頻嘔，猶恐氣虛則血不易生也。故於平肝補血之中，加以健脾開胃之品，以生陽氣，則氣能生血，尤益胎氣耳。或疑氣逆而用補氣之藥，不益助其逆乎！不知妊娠惡阻，其逆不甚，且逆是因虛而逆，非因邪而逆也。因邪而逆者，助其氣則逆增；因虛而逆者，補其氣則逆轉。況補氣於補血之中，則陰足以制陽，又何慮其增逆乎！</p>
<p><u>宜用順肝益氣湯。</u></p>
<p>人參（一兩）　當歸（一兩，酒洗）　蘇子（一兩，炒，研）　白朮（三錢，土炒）　茯苓（二錢）　熟地（五錢，九蒸）　白芍（三錢，酒炒）　麥冬（三錢，去心）　熟陳皮（三分）　砂仁（一粒，炒，研）　神麯（一錢，炒）</p>
<p>水煎。服一劑輕，二劑平，三劑全愈。此方平肝則肝逆除，補腎則肝燥息，補氣則血易生。凡胎病而少帶惡阻者，俱以此方投之無不安，最有益於胎婦，其功更勝於四物焉。</p>
<p><u>眉批：</u>方極效，但蘇子一兩，疑是一錢之誤。然國初上元生人，稟賦最壯，或非用一兩不效。今當下元，用一錢可也，萬不可用一兩。</p>
<p>亦有肝鬱氣滯，胸膈膨悶，見食不惡，不能多食，雖係妊娠，而非惡阻，宜分別治之，後另有方。</p>
<p><u>疏肝化滯湯</u></p>
<p>全當歸（酒洗，六錢）　杭芍（酒炒，三錢）　黨參（去蘆，三錢）　白扁豆（去皮，四錢）　雲苓（二錢）　香附（炒焦，二錢）　砂仁（炒研，錢半）　條芩（炒焦，八分）　神麯（炒焦，錢半）　廣皮（八分）　薄荷（六分）　甘草（五分）</p>
<p>水煎服。</p>
<p><u>歌括：</u>懷孕之後惡阻現，噁心嘔吐渴思酸。見食憎惡常欲臥，血分太燥病屬肝。順肝益氣參歸嘗，蘇子朮苓熟地黃。芍麥陳砂神麯炒，連服三劑逆氣降。</p>

<h3>妊娠浮腫（四十）</h3>
<p>妊婦有至五個月，肢體倦怠，飲食無味，先兩足腫，漸至遍身頭面俱腫，人以為濕氣使然也，誰知是脾肺氣虛乎！夫妊娠雖有按月養胎之分，其實不可拘於月數，總以健脾補肺為大綱。蓋脾統血，肺主氣，胎非血不蔭，非氣不生，脾健則血旺而蔭胎，肺清則氣旺而生子。苟肺衰則氣餒，氣餒則不能運氣於皮膚矣；脾虛則血少，血少則不能運血於肢體矣。氣與血兩虛，脾與肺失職，所以飲食難消，精微不化，勢必至氣血下陷，不能升舉，而濕邪即乘其所虛之處，積而成浮腫症，非由脾肺之氣血虛而然耶？治法當補其脾之血與肺之氣，不必祛濕，而濕自無不去之理。</p>
<p>方用　加減補中益氣湯。</p>
<p>人參（五錢）　黃芪（三錢，生用）　柴胡（一錢）　甘草（一分）　當歸（三錢，酒洗）　白朮（五錢，土炒）　茯苓（一兩）　升麻（三分）　陳皮（三分）</p>
<p>水煎服。四劑即愈，十劑不再犯。夫補中益氣湯之立法也，原是升提脾肺之氣，似乎益氣而不補血，然而血非氣不生，是補氣即所以生血。觀當歸補血湯用黃芪為君，則較著彰明矣。況濕氣乘脾肺之虛而相犯，未便大補其血，恐陰太盛而招陰也。只補氣而助以利濕之品，則氣升而水尤易散，血亦隨之而生矣。然則何以重用茯苓而至一兩，不幾以利濕為君乎？嗟！嗟！濕症而不以此藥為君，將以何者為君乎！況重用茯苓於補氣之中，雖曰滲濕，而仍是健脾清肺之意。且凡利水之品，多是耗氣之藥，而茯苓與參朮合，實補多於利，所以重用之以分濕邪，即以補氣血耳。</p>
<p><u>眉批：</u>白朮一味，今多以蒼朮充之，於白朮偽者更多。白朮補胎，蒼朮打胎，用者宜審。若恐其偽，以白扁豆、山藥代之較妥。</p>
<p><u>歌括：</u>妊娠五月足浮腫，漸及全身延面頭。脾肺氣虛失運化，濕邪侵入皮下留。加減補中益氣湯，參歸朮芪柴胡草。升麻陳皮白茯苓；連服四劑浮腫消。</p>

<h3>妊娠少腹疼（四十一）</h3>
<p>妊娠少腹作疼，胎動不安，如有下墮之狀，人只知帶脈無力也，誰知是脾腎之虧乎！夫胞胎雖繫於帶脈，而帶脈實關於脾腎。脾腎虧損，則帶脈無力，胞胎即無以勝任矣。況人之脾腎虧損者，非飲食之過傷，即色欲之太甚。脾腎虧則帶脈急，胞胎所以有下墜之狀也。然則胞胎之系，通於心與腎，而不通於脾，補腎可也，何故補脾？然脾為後天，腎為先天，脾非先天之氣不能化，腎非後天之氣不能生，補腎而不補脾，則腎之精何以遽生也，是補後天之脾，正所以補先天之腎也；補先後二天之脾與腎，正所以固胞胎之氣與血，脾腎可不均補乎！</p>
<p>方用　安奠二天湯</p>
<p>人參（一兩，去蘆）　熟地（一兩，九蒸）　白朮（一兩，土炒）　山藥（五錢，炒）　炙草（一錢）　山萸（五錢，蒸，去核）　杜仲（三錢，炒黑）　枸杞（二錢）　扁豆（五錢，炒，去皮）</p>
<p>水煎。服一劑而疼止，二劑而胎安矣。夫胎動乃脾腎雙虧之症，非大用參、朮、熟地補陰補陽之品，斷不能挽回於頃刻。世人往往畏用參朮或少用，以翼建功，所以寡效，此方正妙在多用也。</p>
<p><u>眉批：</u>人參一兩，無力者以黨參代之。無上黨參者，以嫩黃芪代之。古之人參，即今之上黨參也。得真臺黨即是，不必以黃芪代之，亦不必拘泥謂人參即是遼參、麗參則誤矣。杏初識。</p>
<p><u>歌括：</u>娠妊少腹痛非常，胎動不安食色傷。脾腎虧損身無力，急補脾腎法最良。安奠二天參地黃，白朮山藥扁豆襄。山萸杜仲枸杞草，脾腎健固若金湯。</p>

<h3>妊娠口乾咽疼（四十二）</h3>
<p>妊婦至三四個月，自覺口乾舌燥，咽喉微痛，無津以潤，以至胎動不安，甚則血流如經水，人以為火動之極也，誰知是水虧之甚乎！夫胎也者，本精與血之相結而成，逐月養胎，古人每分經絡，其實均不離腎水之養，故腎水足而胎安，腎水虧而胎動。雖然腎水虧又何能動胎，必腎經之火動，而胎始不安耳。然而火之有餘，仍是水之不足，所以火炎而胎必動，補水則胎自安，亦既濟之義也。惟是腎水不能遽生，必須滋補肺金，金潤則能生水，而水有逢源之樂矣。水既有本，則源泉混混矣，而火又何難制乎。再少加以清熱之品，則胎自無不安矣。</p>
<p>方用　潤燥安胎湯。</p>
<p>熟地（一兩，九蒸）　生地（三錢，酒炒）　山萸肉（五錢，蒸）　麥冬（五錢，去心）　五味（三錢，炒）　阿膠（二錢，蛤粉炒）　黃芩（二錢，酒炒）　益母（二錢）</p>
<p>水煎服。二劑而燥息，再二劑而胎安。連服十劑，而胎不再動矣。此方專填腎中之精，而兼補肺。然補肺仍是補腎之意，故腎經不乾燥，則火不能灼，胎焉有不安之理乎！</p>
<p><u>眉批：</u>方極妙，用之立應。萬不可因咽痛而加豆根、射干等藥；亦不可因過潤而加雲苓。</p>
<p><u>歌括：</u>妊娠三月四月間，口乾咽痛胎不堅。甚則血流如經水，火動之極水虧焉。潤燥安胎二地先，山萸五味麥冬添。黃芩阿膠益母草，腎經滋潤胎自安。</p>

<h3>妊娠吐瀉腹疼（四十三）</h3>
<p>妊婦上吐下瀉，胎動欲墮，腹疼難忍，急不可緩，此脾胃虛極而然也。夫脾胃之氣虛，則胞胎無力，必有崩墜之虞。況又上吐下瀉，則脾與胃之氣，因吐瀉而愈虛，欲胞胎之無恙也得乎！然胞胎疼痛而究不至下墜者，何也？全賴腎氣之固也。胞胎繫於腎而連於心，腎氣固則交於心，其氣通於胞胎，此胞胎之所以欲墜而不得也。且腎氣能固，則陰火必來生脾；心氣能通，則心火必來援胃，脾胃雖虛而未絕，則胞胎雖動而不墮，可不急救其脾胃乎！然脾胃當將絕而未絕之時，只救脾胃而難遽生，更宜補其心腎之火，使之生土，則兩相接續，胎自固而安矣。</p>
<p>方用　援土固胎湯。</p>
<p>人參（一兩）　白朮（二兩，土炒）　山藥（一兩，炒）　肉桂（二錢，去粗，研）　製附子（五分）　續斷（三錢）　杜仲（三錢，炒黑）　山萸（一兩，蒸，去核）　枸杞（三錢）　菟絲子（三錢，酒炒）　砂仁（三粒，炒，研）　炙草（一錢）</p>
<p>水煎服。一劑而泄止，二劑而諸病盡愈矣。此方救脾胃之土十之八，救心腎之火十之二也。救火輕於救土者，豈以土欲絕而火未甚衰乎？非也。蓋土崩非重劑不能援，火衰雖小劑而可助，熱藥多用，必有太燥之虞，不比溫甘之品也。況胎動係土衰而非火弱，何用太熱？妊娠忌桂附，是恐傷胎，豈可多用？小熱之品，計之以錢，大熱之品，計之以分者，不過用以引火，而非用以壯火也。其深思哉！</p>
<p><u>眉批：</u>白朮多偽，肉桂更無佳者。用者若有真藥固妙，如無真藥，白朮以白扁豆代之，肉桂以破故紙代之。</p>
<p><u>歌括：</u>妊婦吐瀉胎不安，腹痛難忍不可緩。多因脾胃氣虛故，溫補心腎是真詮。援土固胎參朮藥，萸桂杜仲菟絲斷。炙草枸杞砂附子，脾胃氣盈胞胎安。</p>

<h3>妊娠子懸脅疼（四十四）</h3>
<p>妊婦有懷抱憂鬱，以致胎動不安，兩脅悶而疼痛，如弓上弦，人只知是子懸之病也，誰知是肝氣不通乎！夫養胎半繫於腎水，然非肝血相助，則腎水實有獨力難支之勢。故保胎必滋腎水，而肝血斷不可不顧。使肝氣不鬱，則肝之氣不閉，而肝之血必旺，自然灌溉胞胎，合腎水而並協養胎之力。今肝氣因憂鬱而閉塞，則胎無血蔭，腎難獨任，而胎安得不上升以覓食，此乃鬱氣使然也。莫認為子之欲自懸，而妄用泄子之品，則得矣。治法宜開肝氣之鬱結，補肝血之燥乾，則子懸自定矣。</p>
<p>方用　解鬱湯。</p>
<p>人參（一錢）　白朮（五錢，土炒）　白茯苓（三錢）　當歸（一兩，酒洗）　白芍（一兩，酒炒）　枳殼（五分，炒）　砂仁（三粒，炒，研）　山梔子（三錢，炒）　薄荷（二錢）</p>
<p>水煎服。一劑而悶痛除，二劑而子懸定，至三劑而全安。去梔子，再多服數劑不復發。此乃平肝解鬱之聖藥，鬱開則木不剋土，肝平則火不妄動。方中又有健脾開胃之品，自然水精四布，而肝與腎有潤澤之機，則胞胎自無乾燥之患，又何慮上懸之不愈哉！</p>
<p><u>眉批：</u>方加薏仁三、四錢尤妙。</p>
<p><u>歌括：</u>妊娠憂鬱致傷肝，兩脅悶痛胎不安。肝氣不通肝血燥，亦有名之謂子懸。解鬱白芍當歸先，白朮茯苓山梔研。薄荷人參砂枳殼，水精四布子不懸。</p>

<h3>妊娠跌損（四十五）</h3>
<p>妊婦有失足跌損，致傷胎元，腹中疼痛，勢如將墮者，人只知是外傷之為病也，誰知有內傷之故乎！凡人內無他症，胎元堅固。即或跌撲閃挫，依然無恙。惟內之氣血素虧，故略有閃挫，胎便不安。若只作閃挫外傷治，斷難奏功，且恐有因治而反墮者，可不慎與！必須大補氣血，而少加以行瘀之品，則瘀散胎安矣。但大補氣血之中，又宜補血之品多於補氣之藥，則無不得之。</p>
<p>方用　救損安胎湯。</p>
<p>當歸（一兩，酒洗）　白芍（三錢，酒炒）　生地（一兩，酒炒）　白朮（五錢，土炒）　炙草（一錢）　人參（一錢）　蘇木（三錢，搗碎）　乳香（一錢，去油）　沒藥（一錢，去油）</p>
<p>水煎服。一劑而疼痛止，二劑而勢不下墜矣，不必三劑也，此方之妙，妙在既能去瘀而不傷胎，又能補氣補血，而不凝滯，固無通利之害，亦痊跌閃之傷，有益無損，大建奇功，即此方與。然不特治懷孕之閃挫也，即無娠閃挫，亦可用之。</p>
<p><u>眉批：</u>即用尋常白朮，土炒焦最妙，以其能理氣行血也。於白朮味過甘，不能理氣行血，用者知之。</p>
<p><u>歌括：</u>妊娠跌損傷胎元，腹痛如墮宜救援。外傷為病內傷故，氣血素虧是病源。救損安胎歸芍吞，生地白朮炙草參。蘇木乳香與沒藥，瘀散胎安病除根。</p>

<h3>妊娠小便下血病名胎漏（四十六）</h3>
<p>妊婦有胎不動腹不疼，而小便中時常有血流出者，人以為血虛胎漏也，誰知是氣虛不能攝血乎！夫血只能蔭胎，而胎中之蔭血，必賴氣以衛之，氣虛下陷，則蔭胎之血亦隨氣而陷矣。然則氣虛下陷，而血未嘗虛，似不應與氣同陷也。不知氣乃血之衛，血賴氣以固，氣虛則血無憑依，無憑依必燥急，燥急必生邪熱；血寒則靜，血熱則動，動則外出而莫能遏，又安得不下流乎！倘氣不虛而血熱，則必大崩，而不止些微之漏矣。治法宜補其氣之不足，而泄其火之有餘，則血不必止而自無不止矣。</p>
<p>方用　助氣補漏湯。　</p>
<p>人參（一兩）　白芍（五錢，酒炒）　黃芩（三錢，酒炒黑）　生地（二錢，酒炒黑）　益母草（一錢）　續斷（二錢）　甘草（一錢）</p>
<p>水煎服。一劑而血止，二劑再不漏矣。此方用人參以補陽氣，用黃芩以泄陰火。火泄則血不熱而無欲動之機，氣旺則血有依而無可漏之竅，氣血俱旺而和協，自然歸經而各安其所矣，又安有漏泄之患哉！</p>
<p><u>眉批：</u>補血不用當歸妙，以當歸之香燥也。</p>
<p><u>歌括：</u>妊娠胎安腹不痛，小便時時血水淋。氣虛下陷胎方漏，補氣泄火法最精。助氣補漏白芍參，生地益母枯黃芩。續斷甘草同煎滾，二劑漏止胎可蔭。</p>

<h3>妊娠子鳴（四十七）</h3>
<p>妊婦懷胎至七八個月，忽然兒啼腹中，腰間隱隱作痛，人以為胎熱之過也，誰知是氣虛之故乎！治宜大補其氣。</p>
<p>方用　扶氣止啼湯。　</p>
<p>人參（一兩）　黃芪（一兩，生用）　麥冬（一兩，去心）　當歸（五錢，酒洗）　橘紅（五分）　甘草（一錢）　花粉（一錢）</p>
<p>水煎服。一劑而啼即止，二劑不再啼。此方用人參、黃芪、麥冬以補肺氣，使肺氣旺，則胞胎之氣亦旺，胞胎之氣旺，則胞中之子氣有不隨母之氣以為呼吸者，未之有也。</p>
<p><u>眉批：</u>黃芪用嫩黃芪，不可用箭芪，箭芪係北口外苜蓿根。</p>
<p><u>歌括：</u>妊婦懷胎七八月，忽然兒在腹中鳴。腰間隱隱常作痛，母氣虛甚此病生。扶氣止啼人參烹，黃芪當歸麥門冬。橘紅甘草天花粉，肺氣健旺子無聲。</p>

<h3>妊娠腰腹疼渴汗躁狂即子狂（四十八）</h3>
<p>婦人懷妊有口渴汗出，大飲冷水，而煩躁發狂，腰腹疼痛，以致胎欲墮者，人莫不謂火盛之極也，抑知是何經之火盛乎？此乃胃火炎熾，熬煎胞胎之水，以致胞胎之水涸，胎失所養，故動而不安耳。夫胃為水穀之海，多氣多血之經，所以養五臟六腑者，蓋萬物皆生於土，土氣厚而物始生，土氣薄而物必死。然土氣之所以能厚者，全賴火氣之來生也；胃之能化水穀者，亦賴火氣之能化也。今胃中有火，宜乎生土，何以火盛而反致害乎？不知無火難以生土，而火多又能鑠水。雖土中有火土不死，然亦必有水方不燥；使胃火太旺，必致鑠乾腎水，土中無水，則自潤不足，又何以分潤胞胎；土鑠之極，火勢炎蒸，犯心越神，兒胎受逼，安得不下墜乎！經所謂「二陽之病發心脾」者，正此義也。治法必須泄火滋水，使水氣得旺，則火氣自平，火平則汗、狂、躁、渴自除矣。</p>
<p>方用　息焚安胎湯。　</p>
<p>生地（一兩，酒炒）　青蒿（五錢）　白朮（五錢，土炒）　茯苓（三錢）　人參（三錢）　知母（二錢）　花粉（二錢）</p>
<p>水煎服。一劑而狂少平，二劑而狂大定，三劑而火盡解，胎亦安矣。此方藥料頗重，恐人慮不勝，而不敢全用，又不得不再為囑之。懷胎而火勝若此，非大劑何以能蠲，火不息則狂不止，而胎能安耶！況藥料雖多，均是滋水之味，益而無損，勿過慮也。</p>
<p><u>眉批：</u>原方不可加減。</p>
<p>妊娠躁狂，每誤有別症，不曰痰甚，即云時疾傳經，而置妊娠於不問，誤服多藥，數月不愈。甚有打去胎而以顧大人性命為名者，更屬糊塗之極。</p>
<p><u>歌括：</u>妊娠腰腹痛難當，煩躁發狂欲飲涼。胃火太盛灼腎水，胎無水潤墮須防。息焚安胎用人參，青蒿白朮天花粉。生地知母白茯苓，火盡胎安定心神。</p>

<h3>妊娠中惡（四十九）</h3>
<p>婦人懷子在身，痰多吐涎，偶遇鬼神祟惡，忽然腹中疼痛，胎向上頂。人疑為子懸之病也，誰知是中惡而胎不安乎！大凡不正之氣，最易傷胎，故有孕之婦，斷不宜入廟燒香，與避靜陰寒之地。如古洞幽巖，皆不可登。蓋神祟多在神宇，潛蹤幽陰巖洞，亦其往來遊戲之所，觸之最易相犯，不可不深戒也。況孕婦又多痰涎，眼目易眩。目一眩，如有妄見，此招祟之因痰而起也。人云怪病每起於痰，其信然與。治法似宜以治痰為主。然治痰必至耗氣，氣虛而痰難消化，胎必動搖。必須補氣以生血，補血以活痰，再加以清痰之品，則氣血不虧，痰亦易化矣。</p>
<p>方用　消惡安胎湯。　</p>
<p>當歸（一兩，酒洗）　白芍（一兩，酒炒）　白朮（五錢，土炒）　茯苓（五錢）　人參（三錢）　甘草（一錢）　陳皮（五分）　花粉（三錢）　蘇葉（一錢）　沉香（一錢，研末）</p>
<p>此方大補氣血，輔正邪自除之義也。</p>
<p><u>眉批：</u>輔正逐邪，方極平正，如此可知用金石之藥以化痰者，皆矜奇立異，欲速取效，不知暗耗人之真氣，戒之！</p>
<p><u>歌括：</u>妊娠中惡是因何，痰多遇祟起病疴。古洞幽巖休進步，陰寒廟宇亦招魔。消惡安胎用歸芍，白朮茯苓人參草。陳皮花粉蘇葉沉，大補氣血功效高。</p>

<h3>妊娠多怒墮胎（五十）</h3>
<p>婦人有懷妊之後，未至成形，或已成形，其胎必墮，人皆曰氣血衰微，不能固胎也，誰知是性急怒多，肝火大動而不靜乎！夫肝本藏血。肝怒則不藏，不藏則血難固。蓋肝雖屬木，而木中實寄龍雷之火，所謂相火是也，相火宜靜不宜動：靜則安，動則熾。況木中之火，又易動而難靜。人生無日無動之時，既無日非動火之時，大怒則火益動矣，火動而不可止遏，則火勢飛揚，不能生氣養胎，而反食氣傷精矣；精傷則胎無所養，勢必下墜而不已。經所謂「少火生氣，壯火食氣」，正此義也。治法宜平其肝中之火，利其腰臍之氣，使氣生夫血而血清其火，則庶幾矣。</p>
<p>方用　利氣泄火湯。　</p>
<p>人參（三錢）　白朮（一兩，土炒）　甘草（一錢）　熟地（五錢，九蒸）　當歸（三錢，酒洗）　白芍（五錢，酒炒）　芡實（三錢，炒）　黃芩（二錢，酒炒）</p>
<p>水煎服。六十劑而胎不墜矣。此方名雖利氣而實補氣也，然補氣而不加以泄火之品，則氣旺而火不能平，必反害其氣也。故加黃芩於補氣之中以泄火，又有熟地、歸、芍以滋肝而壯水之主，則血不燥而氣得和，怒氣息而火自平，不必利氣而氣無不利，即無往而不利矣。</p>
<p><u>眉批：</u>性急怒多而不用舒肝藥者，以其有胎娠故也。經云：胎病則母病，胎安則母病自愈。所以妊娠一門總以補氣、養血、安胎為主，則萬病自除矣。</p>
<p><u>歌括：</u>妊婦墮胎是因何，只緣性急怒氣多。治宜平肝利腰氣。氣順火清胎自和。利氣泄火參朮芍，熟地當歸生甘草。芡實黃芩均須炒，多服怒氣可平消。</p>

<h2>小產</h2>

<h3>行房小產（五十一）</h3>
<p>妊婦因行房致小產血崩不止，人以為火動之極也，誰知是氣脫之故乎！血崩本於氣虛，火盛本於水虧，腎水既虧，則氣之生源涸矣；氣源既涸，而氣有不脫者乎！此火動是標，而氣脫是本也。經云「治病必求其本」，本固而標自立矣。若只以止血為主，而不急固其氣，則氣散不能速回，而血何由止！不大補其精，則水涸不能遽長，而火且益熾，不揣其本，而齊其末，山未見有能濟者也。</p>
<p>方用　固氣填精湯。　</p>
<p>人參（一兩）　黃芪（一兩，生用）　白朮（五錢，土炒）　大熟地（一兩，九蒸）　當歸（五錢，酒洗）　三七（三錢，研末沖）　芥穗（二錢，炒黑）</p>
<p>水煎服。一劑而血止，二劑而身安，四劑則全愈。此方之妙，妙在不去清火，而惟補氣補精，其奏功獨神者，以諸藥溫潤能除大熱也。蓋熱是虛，故補氣自能攝血，補精自能止血，意在本也。</p>
<p><u>眉批：</u>小產血崩多由行房而致。若年逾四十參芪宜倍用，熟地宜減半用，以其氣虛火衰也，否則每令氣脫不救。凡有妊娠者，須忍欲謹避房事，萬勿自蹈危途，慎之！</p>
<p><u>歌括：</u>妊婦行房太癲狂，遂致小產血汪洋。火熾水涸兼氣脫，固氣填精法為上。固氣填精熟地黃，參芪芥穗三七良。白朮當歸煎四劑，補氣補精施妙方。</p>

<h3>跌閃小產（五十二）</h3>
<p>妊婦有跌撲閃挫，遂致小產，血流紫塊，昏暈欲絕者，人皆曰瘀血作祟也，誰知是血室損傷乎！夫血室與胞胎相連，如唇齒之相依。胞胎有傷，則血室亦損，唇亡齒寒，理有必然也。然胞胎傷損而流血者，其傷淺；血室傷損而流血者，其傷深。傷之淺者，疼在腹；傷之深者，暈在心。同一跌撲損傷，而未小產與已小產，治各不同。未小產而胎不安者，宜顧其胎，而不可輕去其血；已小產而血大崩，宜散其瘀，而不可重傷其氣。蓋胎已墮血既脫，而血室空虛，惟氣存耳。倘或再傷其氣，安保無氣脫之憂乎！經云：「血為營，氣為衛」。使衛有不固，則營無依而安矣。故必補氣以生血，新血生而瘀血自散矣。</p>
<p>方用　理氣散瘀湯。　</p>
<p>人參（一兩）　黃芪（一兩，生用）　當歸（五錢，酒洗）　茯苓（三錢）　紅花（一錢）　丹皮（三錢）　薑炭（五錢）</p>
<p>水煎服。一劑而流血止，二劑而昏暈除，三劑而全安矣。此方用人參、黃芪以補氣，氣旺則血可攝也。用當歸、丹皮以生血，血生則瘀難留也。用紅花、黑薑以活血，血活則暈可除也。用茯苓以利水，水利則血易歸經也。</p>
<p><u>眉批：</u>胎未墮宜加杜仲（炒炭）一錢，續斷（炒黑）一錢；若胎已墮服原方。血崩不止，加貫眾炭三錢；若血閉心暈，加元胡炭一錢。</p>
<p><u>歌括：</u>閃跌小產血塊流，昏暈欲絕命將休。血室損傷傷甚重，理氣散瘀病可瘳。參芪補氣氣力足，歸丹生血瘀難留。紅薑活血除昏暈，茯苓利水血自收。</p>

<h3>大便乾結小產（五十三）</h3>
<p>妊婦有口渴煩躁，舌上生瘡，兩唇腫裂，大便乾結，數日不得通，以致腹疼小產者，人皆曰大腸之火熱也，誰知是血熱爍胎乎！夫血所以養胎也，溫和則胎受其益，太熱則胎受其損。如其熱久鑠之，則兒在胞胎之中，若有探湯之苦，難以存活，則必外越下奔，以避炎氣之逼迫，欲其胎之不墜也得乎！然則血蔭乎胎，則血必虛耗。血者陰也，虛則陽亢，亢則害矣。且血乃陰水所化，血日蔭胎，取給刻不容緩而火熾，陰水不能速生以化血，所以陰虛火動。陰中無非火氣，血中亦無非火氣矣，兩火相合，焚逼兒胎，此胎之所以下墜也。治法宜清胞中之火，補腎中之精，則可已矣。或疑兒已下墜，何故再顧其胞？血不蔭胎，何必大補其水？殊不知火動之極，以致胎墜，則胞中純是一團火氣，此火乃虛火也。實火可泄，而虛火宜於補中清之，則虛火易散，而真火可生。倘一味清涼以降火，全不顧胞胎之虛實，勢必至寒氣逼人，胃中生氣蕭索矣。胃乃二陽，資養五臟者也。胃陽不生，何以化精微以生陰水乎！有不變為勞瘵者幾希矣。</p>
<p>方用　加減四物湯。　</p>
<p>熟地（五錢，九蒸）　白芍（三錢，生用）　當歸（一兩，酒洗）　川芎（一錢）　山梔子（一錢，炒）　山萸（二錢，蒸，去核）　山藥（三錢，炒）　丹皮（三錢，炒）</p>
<p>水煎服。四、五劑而愈矣。丹皮性急涼血，產後用之，最防陰凝之害，慎之！</p>
<p><u>眉批：</u>此方加條芩二錢尤妙。</p>
<p><u>歌括：</u>妊婦口渴乾躁煩，舌上生瘡兩唇翻。便結腹疼致小產，血熱灼胎是病源。清胞中火補腎元，加減四物效不凡。丹梔山藥山萸肉，補中清之虛火散。</p>

<h3>畏寒腹疼小產（五十四）</h3>
<p>妊婦有畏寒腹疼，因而墮胎者，人只知下部太寒也，誰知是氣虛不能攝胎乎！夫人生於火，亦養於火，非氣不充，氣旺則火旺，氣衰則火衰。人之所以坐胎者，受父母先天之真火也。先天之真火，即先天之真氣以成之。故胎成於氣，亦攝於氣，氣旺則胎牢，氣衰則胎墮，胎日加長，而氣日加衰，安得不墮哉！況又遇寒氣外侵，則內之火氣更微，火氣微則長養無資；此胎之不能不墮也。使當其腹疼之時，即用人參、乾薑之類，補氣祛寒，則可以疼止而胎安。無如人拘於妊娠之藥禁而不敢用，因致墮胎，而僅存幾微之氣，不急救氣，尚有何法。</p>
<p>方用　黃芪補氣湯。　</p>
<p>黃芪（二兩，生用）　肉桂（五分，去粗皮，研）　當歸（一兩，酒洗）</p>
<p>水煎服。五劑愈矣。倘認定是寒，大用辛熱，全不補氣與血，恐過於燥熱，反致亡陽而變危矣。</p>
<p><u>眉批：</u>肉桂須用好的，如無佳者，用炮薑代之，或一錢、二錢皆可，不可只用五分。</p>
<p><u>歌括：</u>妊婦腹痛畏寒涼，小產原因氣虛張。氣旺胎牢氣衰墮，此理精微細思量。黃芪補氣生用良，二兩黃芪一兩當。肉桂五分同煎服，五劑全愈效非常。</p>

<h3>大怒小產（五十五）</h3>
<p>妊婦有大怒之後，忽然腹疼吐血，因而墮胎；及墮胎之後，腹疼仍未止者，人以為肝之怒火未退也，誰知是血不歸經而然乎！夫肝所以藏血者也。大怒則血不能藏，宜失血而不當墮胎，何為失血而胎亦隨墮乎？不知肝性最急，血門不閉，其血直搗於胞胎，胞胎之系，通於心腎之間，肝血來沖，必斷絕心腎之路；胎因心腎之路斷，胞胎失水火之養，所以墮也。胎既墮矣，而腹疼如故者，蓋因心腎未接，欲續無計，彼此痛傷肝氣，欲歸於心而心不受，欲歸於腎而腎不納，故血猶未靜而疼無已也。治法宜引肝之血，仍入於肝，而腹疼自已矣。然徒引肝之血而不平肝之氣，則氣逆而不易轉，即血逆而不易歸也。</p>
<p>方用　引氣歸血湯。　</p>
<p>白芍（五錢，酒炒）　當歸（五錢，酒洗）　白朮（三錢，土炒）　甘草（一錢）　黑芥穗（三錢）　丹皮（三錢）　薑炭（五分）　香附（五分，酒炒）　麥冬（三錢，去心）　鬱金（一錢，醋炒）</p>
<p>水煎服。此方名為引氣，其實仍是引血也，引血亦所以引氣，氣歸於肝之中，血亦歸於肝之內，氣血兩歸，而腹疼自止矣。</p>
<p><u>眉批：</u>產後忌用白芍，因其酸寒也。胎墮後用白芍五錢，惟上元生人可用，若下元生人萬不可用。必不得已而用之，將白芍炒炭，用三錢也可。餘藥如法制。</p>
<p><u>歌括：</u>妊婦大怒血門開，其血直搗入胞胎。胞胎之系通心腎，心腎路塞胎墮哉。引氣歸血芍當歸，朮麥丹皮荊芥穗。薑炭鬱金香附草，煎服氣歸血亦回。</p>

<h2>難產</h2>

<h3>血虛難產（五十六）</h3>
<p>妊娠有腹疼數日，不能生產，人皆曰氣虛力弱，不能送子出產門，誰知是血虛膠滯，胞中無血，兒難轉身乎！夫胎之成，成於腎臟之精；而胎之養，養於五臟六腑之血，故血旺則子易生，血衰則子難產。所以臨產之前，宜用補血之藥；補血而血不能遽生，必更兼補氣以生之，然不可純補其氣也，恐陽過於旺，則血仍不足，偏勝之害，必有升而無降，亦難產之漸也。防微杜漸，其惟氣血兼補乎。使氣血並旺，則氣能推送，而血足以濟之，是汪洋之中自不難轉身也，又何有膠滯之患乎！</p>
<p>方用　送子丹。　</p>
<p>生黃芪（一兩）　當歸（一兩，酒洗）　麥冬（一兩，去心）　熟地（五錢，九蒸）　川芎（三錢）</p>
<p>水煎服。二劑而生矣，且無橫生倒產之患。此補血補氣之藥也。二者相較，補血之味，多於補氣之品。蓋補氣只用黃芪一味，其餘無非補血之品，血旺氣得所養，氣生血得所依，胞胎潤澤，自然易產；譬如舟遇水淺之處，雖大用人力，終難推行，忽逢春水氾濫，舟自躍躍欲行，再得順風以送之，有不揚帆而迅行者乎！</p>
<p><u>眉批：</u>方妙。若頭產交骨不開，加炙龜板尾三錢、生過子婦人頂心髮三錢，洗淨，用新瓦一個，置火上焙，髮成灰，入藥同煎，服下即效。</p>
<p><u>歌括：</u>妊婦臨產數日前，腹痛不生因何緣。胞中無血身難轉，血虛難產理昭然。送子丹中黃芪先，麥歸熟地川芎煎。連服二劑產即易，如同得水順風船。</p>

<h3>交骨不開難產（五十七）</h3>
<p>妊婦有兒到產門，竟不能下，此危急存亡之時也，人以為胞胎先破，水乾不能滑利也，誰知是交骨不開之故乎！蓋產門之上，原有骨二塊，兩相鬥合，名曰交骨。未產之前，其骨自合，若天衣之無縫；臨產之際，其骨自開，如開門之見山。婦人兒門之肉，原自斜生，皮亦橫長，實可寬可窄可大可小者也。苟非交骨連絡，則兒門必然大開，可以手入探取胞胎矣。此交骨為兒門之下關，實婦人鎖鑰之鍵。此骨不閉，則腸可直下；此骨不開，則兒難降生。然而交骨之能開能合者，氣血主之也。血旺而氣衰，則兒雖向下而兒門不開；氣旺而血衰，則兒門可開而兒難向下，是氣所以開交骨，血所以轉兒身也。欲生產之順利，非大補氣血不可。然交骨之閉甚易，而交骨之開甚難。臨產交骨不開者，多由於產前貪欲，泄精太甚，精泄則氣血失生化之本，而大虧矣。氣血虧則無以運潤於兒門，而交骨黏滯不開矣。故欲交骨之開，必須於補氣補血之中，而加開骨之品，兩相合治，自無不開之患，不必催生，而兒自迅下，母子俱無恙矣。</p>
<p>方用　降子湯。　</p>
<p>當歸（一兩）　人參（五錢）　川芎（五錢）　紅花（一錢）　川牛膝（三錢）　柞木枝（一兩）</p>
<p>水煎服。一劑兒門必響亮一聲，交骨開解，而兒乃降生矣。此方用人參以補氣，芎、歸以補血，紅花以活血，牛膝以降下，柞木枝以開關解骨，四味同心協力所以取效如神，在用開於補之中也。然單用柞木枝亦能開骨，但不補氣與血，恐開而難合，未免有下部中風之患，不若此方之能開能合之為神妙也。至於兒未臨門之時萬不可先用柞木以開其門；然用降子湯亦正無妨，以其能補氣血耳。若欲單用柞木，必須候到門然後可。</p>
<p><u>眉批：</u>方為子已臨門救急而設，若子未臨門，血虛難產，宜服前送子丹，不可遽服此方。</p>
<p><u>歌括：</u>妊婦臨產胞漿開，兒到產門不下來。原因氣血太虧甚，交骨黏帶不得開。降子須將氣血培，人參川芎一兩歸。紅花活血牛膝降，柞木開關響如雷。</p>

<h3>腳手先下難產（五十八）</h3>
<p>妊婦生產之際，有腳先下而兒不得下者，有手先下而兒不得下者，人以為橫生倒生，至危之症也，誰知是氣血兩虛之故乎！產母之氣血足，則胎必順，產母之氣血虧，則胎必逆；順則易生，逆則難產。氣血既虧，母身必弱，子在胞中，亦必弱；胎弱無力，欲轉頭向下而不能，此胎之所以有腳手先下者也。當是之時，急用針刺兒之手足，則兒必痛而縮入。急用轉天湯以救順之。</p>
<p>人參（二兩）　當歸（二兩，酒洗）　川芎（一兩）　川牛膝（三錢）　升麻（四分）　附子（一分，製）</p>
<p>水煎服。一劑而兒轉身矣，再二劑自然順生。此方之妙，用人參以補氣之虧；用芎歸以補血之虧，人人皆知其義。若用升麻又用牛膝、附子，恐人未識其妙也。蓋兒已身斜，非用提挈則頭不易轉，然轉其身非用下行則身不易降。升麻、牛膝並用，而又用附子者，欲其無經不達，使氣血迅速以催生也。</p>
<p><u>眉批：</u>若服三劑後，以針刺兒手足仍不轉身，以針刺產婦合骨穴，兒即下。萬不可用手探取，以致子母俱危，戒之！</p>
<p><u>歌括：</u>腳手先下難產生，原因氣血兩不盈。針兒手腳痛縮入，再補氣血救孩嬰。轉天參歸和川芎，牛膝升麻附子同。一劑兒身即順轉，二劑嬰兒即降生。</p>

<h3>氣逆難產（五十九）</h3>
<p>婦人有生產數日而胎不下者，服催生之藥，皆不見效，人以為交骨之難開也，誰知是氣逆不行而然乎！夫交骨不開，固是難產，然兒頭到產門而不能下者，方是交骨不開之故，自當用開骨之劑。若兒頭尚未到產門，乃氣逆不行，兒身難轉，非交骨不開之故也。若開其交骨，則兒門大開，兒頭未轉而向下，必致變症非常，是兒門萬萬不可輕開也。大凡生產之時，切忌坐草太早。若兒未轉頭，原難驟生，乃早於坐草，產婦見兒許久不下，未免心懷恐懼，恐則神怯，怯則氣下而不能升，氣既不升，則上焦閉塞，而氣乃逆矣；上氣既逆，而上焦必脹滿，而氣益難行，氣沮滯於上下之間，不利氣而徒催生，則氣愈逆而胎愈閉矣。治法但利其氣，兒自轉身而下矣。</p>
<p>方用　舒氣散。　</p>
<p>人參（一兩）　當歸（一兩，酒洗）　川芎（五錢）　白芍（五錢，酒炒）　紫蘇梗（三錢）　牛膝（二錢）　陳皮（一錢）　柴胡（八分）　蔥白（七寸）</p>
<p>水煎服。一劑而逆氣轉，兒即下矣。此方利氣而實補氣，蓋氣逆由於氣虛，氣虛易於恐懼，補其氣而恐懼自定，恐懼定而氣逆者將莫知其何以定也，何必開交骨之多事乎哉！</p>
<p><u>眉批：</u>凡臨產三日前，必先腹疼一小次，名曰試痛。此時萬勿坐草臨盆，但將包兒諸物預備現成，不可早叫穩婆來。過三日後，腹若大痛，方叫穩婆來，不可令產婦見面，暫讓別室靜坐，不可高言。蓋穩婆名曰收生，使其兩手接收，不欲兒墮地受傷，非穩婆別有妙法也。若穩婆來時，即令產婦見面，彼必胡言亂語，用力太早，必致難產，百變叢生，戒之慎之！</p>
<p><u>歌括：</u>難產數日主何緣，坐草大早是根源。兒久不生產母懼，懼則氣逆難轉旋。舒氣散中用川芎，人參當歸紫蘇梗。白芍牛膝陳紫胡，煎入蔥白催兒生。</p>

<h3>子死產門難產（六十）</h3>
<p>婦人有生產三四日，兒已到產門，交骨不開，兒不得下，子死而母未亡者，服開骨之藥不驗，當有死亡之危。今幸而不死者，正因其子死而胞胎下墜，子母離開，母氣已收，未至同子氣俱絕也。治但救其母，而不必顧其子矣。然死子在產門，塞其下口，有致母死之患，宜用推送之法，補血以生水，補氣以生血，使氣血兩旺，死子可出而存母命也。倘徒用降子之劑以墜之，則死子未必下，而母氣先脫矣，非救援之善者也。山親見此等之症，常用救母丹活人頗多。故志之。</p>
<p>人參（一兩）　當歸（二兩，酒洗）　川芎（一兩）　益母草（一兩）　赤石脂（一錢）　芥穗（三錢，炒黑）</p>
<p>水煎服。一劑而死子下矣。此方用芎、歸以補血，人參以補氣，氣旺血旺，則上能升而下能降，氣能推而血能送。況益母又善下死胎，石脂能下瘀血，自然一湧而出，無少阻滯矣。</p>
<p><u>眉批：</u>方妙不可加減。</p>
<p><u>歌括：</u>子死產門難生產，服開骨藥徒枉然。大補氣血方為妙，能下死子保母安。救母丹中當歸先，人參川芎益母團。黑荊芥穗赤石脂，一劑子下保平安。</p>

<h3>子死腹中難產（六十一）</h3>
<p>婦人有生產六七日，胞衣已破，而子不見下，人以為難產之故也，誰知是子已死於腹中乎！夫兒死於兒門之邊易辨，而死於腹中難識。蓋兒已到產門之邊，未死者頭必能伸能縮，已死者必然不動，即以手推之，亦必不動如故。若係未死，用手少拔其兒之髮，兒必退入，故曰易辨。若兒死在腹中，何從而知之？然實有可辨而知之者。凡子死腹中，而母可救者，產母之面，必無煤黑之氣，是子死而母無死氣也；子死腹中而母難救，產母之面，必有煙燻之氣，是子死而母亦無生機也。以此辨死生，斷斷不爽也。既知兒死腹中，不能用藥以降之，危道也；若用霸道以泄之，亦危道也。蓋生產至六七日，其母之氣必甚困乏，烏能勝霸道之治？如用霸道以強逐其死子，恐死子下而母亦立亡矣。必須仍補其母，使母之氣血旺，而死子自下也。</p>
<p>方用　療兒散。　</p>
<p>人參（一兩）　當歸（二兩，酒洗）　川牛膝（五錢）　乳香（二錢）　鬼臼（三錢，研，水飛）</p>
<p>水煎服。一劑死子下而母生矣。凡兒之降生，必先轉其頭；原因其母氣血之虛，以致兒不能轉頭以向下，世人用催生之藥，以耗兒之氣血，則兒之氣不能通達，反致閉悶而死於腹中，此實庸醫殺之也。所以難產之疾，斷斷不可用催生之藥，只宜補氣補血，以壯其母，而全活嬰兒之命正無窮也。此方救兒死之母，仍大補氣血，所以救其本也，誰知救本即所以催生哉！</p>
<p><u>眉批：</u>下死胎不用厚朴妙。曾有產婦面黑舌青，用補氣、養血、活血之藥而子母復得皆全者，亦萬中之一幸也。</p>
<p><u>歌括：</u>子死腹中識認難，母面煤黑命危險。母面若無煙燻氣，斷知子死母能安。療兒散中參歸優，牛膝鬼臼乳香儔。子死應補氣與血，催生藥物莫妄投。</p>

<h2>正產</h2>

<h3>正產胞衣不下（六十二）</h3>
<p>產婦有兒已下地，而胞衣留滯於腹中，二、三日不下，心煩意躁，時欲昏暈，人以為胞衣之蒂未斷也，誰知是血少乾枯，黏連於腹中乎！世人見胞衣不下，未免心懷疑懼，恐其沖之於心，而有死亡之兆。然而胞衣究何能上衝於心也。但胞衣不下，瘀血未免難行，恐有血暈之虞耳。治法仍宜大補其氣血，使生血以送胞衣，則胞衣自然潤滑，潤滑則易下，生氣以助生血，則血生自然迅速，尤易催墮也。</p>
<p>方用　送胞湯。　</p>
<p>當歸（二兩酒洗）　川芎（五錢）　益母草（一兩）　乳香（一兩，不去油）　沒藥（一兩，不去油）　芥穗（三錢，炒黑）　麝香（五釐，研，另沖）</p>
<p>水煎服，立下。此方以芎、歸補其氣血，以荊芥引血歸經，用益母、乳香等藥，逐瘀而下胞衣，新血既生，則舊血難存，氣旺上升，而瘀濁自降，尚有留滯之苦哉！夫胞衣是包兒之一物，非依於子，即依於母，子生而不隨子俱下，以子之不可依也，故停滯於腹，若有回順其母之心，母胞雖已生子，而其蒂間之氣，原未遽絕，所以留連欲脫而未脫，往往有存腹六七日不下，而竟不腐爛者，正以其尚有生氣也。可見胞衣留腹，不能殺人，補之而自降耳。或謂胞衣既有生氣，補氣補血，則胞衣亦宜堅牢，何以補之而反降也？不知子未下，補則益於子；子已下，補則益於母。益子而胞衣之氣連，益母而胞衣之氣脫。此胞胎之氣關，通則兩合，閉則兩開矣。故大補氣血而胞衣反降也。</p>
<p>有婦人子下地五、六日，而胞衣留於腹中，百計治之，竟不能下，而又絕無昏暈煩躁之狀，人以為瘀血之黏連也，誰知是氣虛不能推送乎！夫瘀血在腹，斷無不作祟之理，有則必然發暈，今安然無恙，是血已淨矣。血淨宜清氣升而濁氣降。今胞衣不下，是清氣下降而難升，遂至濁氣上浮而難降。然濁氣上升，又必有煩躁之病，今亦安然者，是清濁之氣兩不能升也。然則補其氣不無濁氣之上升乎？不知清升而濁降者，一定之理，未有清升而濁亦升者也，苟能於補氣之中，仍分其清濁之氣，則升清正所以降濁也。</p>
<p>方用　補中益氣湯。　</p>
<p>人參（三錢）　生黃芪（一兩）　柴胡（三分）　炙草（一分）　當歸（五錢）　白朮（五分，土炒）　升麻（三分）　陳皮（二分）　萊菔子（五分，炒，研）</p>
<p>水煎服。一劑而胞衣自下矣。夫補中益氣湯乃提氣之藥也，並非推送之劑，何以能降胞衣如此之速也？然而濁氣之不降者，由於清氣之不升也；提其氣則清升而濁降，濁氣降則腹中所存之物，即無不隨濁氣而盡降，正不必再用推送之法也。況又加萊菔子數分，能理濁氣，不至兩相捍格，所以奏功之奇也。</p>
<p><u>眉批：</u>方極效。</p>
<p><u>歌括：</u>胞衣不下因何緣，血少乾枯故黏連。心煩意亂時昏暈，瘀血停留使之然。送胞湯用益母草，歸芍乳香與沒藥。芥穗麝香宜少用，煎服胞衣離宮巢。嬰兒落生五六日，胞衣為何留腹中。氣虛力弱難推送，瘀血除盡免昏蒙。補中益氣用參芪，當歸白朮草陳皮。柴胡升麻萊菔子，升清降濁奏功奇。</p>

<h3>正產氣虛血暈（六十三）</h3>
<p>婦人甫產兒後，忽然眼目昏花，嘔惡欲吐，中心無主，或神魂外越，恍若天上行雲，人以為惡血衝心之患也，誰知是氣虛欲脫而然乎！蓋新產之婦，血必盡傾，血室空虛，只存幾微之氣；倘其人陽氣素虛，不能生血，心中之血，前已蔭胎，胎墮而心中之血亦隨胎而俱墮，心無血養，所賴者幾微之氣以固之耳。今氣又虛而欲脫，所剩殘血，不能歸經，而成血暈之症矣。治法必須大補氣血，斷不可單治血暈也；或疑血暈是熱血上衝，而更補其血。不愈助其上衝之勢乎？不知新血不生，舊血不散，補血以生新血，正活血以逐舊血也。然血有形之物，難以速生，氣乃無形之物，易於迅發，補氣以生血，尤易於補血以生血耳。</p>
<p>方用　補氣解暈湯。　</p>
<p>人參（一兩）　生黃芪（一兩）　當歸（一兩，不酒洗）　黑芥穗（三錢）　薑炭（一錢）</p>
<p>水煎服。一劑而暈止。二劑而心定，三劑而血生，四劑而血旺，再不暈矣。此乃解暈之聖藥，用參、芪以補氣，使氣壯而生血也；用當歸以補血，使血旺而養氣也。氣血兩旺，而心自定矣。用荊芥炭引血歸經，用薑炭以行瘀引陽，瘀血去而正血歸，不必解暈而暈自解矣。一方之中，藥只五味，而其奏功之奇而大如此，其神矣乎。</p>
<p><u>眉批：</u>原方極效，不可加減。</p>
<p><u>歌括：</u>婦人甫產兒初下，忽病血暈目昏花。嘔惡欲吐中無主，氣虛將脫莫認差。補氣解暈用芪參，黑荊薑炭當歸身。氣血兩旺心自定，四劑全愈免危困。</p>

<h3>正產血暈不語（六十四）</h3>
<p>產婦有子方下地，即昏暈不語，此氣血兩脫也，本在不救；然救之得法，亦有能生者。山得岐天師祕訣，何敢隱而不宣乎？當斯之時，急用銀針刺其眉心，得血出則語矣。然後以人參一兩煎湯灌之，無不生者；即用黃芪二兩，當歸一兩，名當歸補血湯，煎湯一碗灌之亦得生。萬不可於二方之中，輕加附子。蓋附子無經不達，反引氣血之藥，走而不守，不能專注於胞胎，不若人參、歸、芪直救其氣血之絕，聚而不散也。蓋產婦昏暈，全是血室空虛，無以養心，以致昏暈。舌為心之苗，心既無主，而舌又安能出聲耶？夫眉心之穴，上通於腦，下通於舌，而其系則連於心，刺其眉心，則腦與舌俱通，而心之清氣上升，則瘀血自然下降矣，然後以參、芪、當歸之能補氣生血者，煎湯灌之，則氣與血接續，又何至於死亡乎！雖單用參、芪、當歸亦有能生者，然終不若先刺眉心之為更妙。世人但知灸眉心之法，不知刺更勝於灸，蓋灸法緩而刺法急，緩則難於救絕，急則易於回生，所謂「急則治其標，緩則治其本」者，此也。</p>
<p><u>歌括：</u>嬰兒已落香盆浴，產母忽暈不言語。氣血雙脫危急候，針刺眉心可救急。眉心出血不覺昏，人參一兩速煎吞。或服當歸補血湯，接續氣血命能存。</p>

<h3>正產敗血攻心暈狂（六十五）</h3>
<p>婦人有產後二、三日，發熱，惡露不行，敗血攻心，狂言呼叫，甚欲奔走，拿提不定，人以為邪熱在胃之過，誰知是血虛心不得養而然乎！夫產後之血，盡隨胞胎而外越，則血室空虛，臟腑皆無血養，只有心中之血，尚存幾微，以護心君。而臟腑失其所養，皆欲取給於心；心包為心君之宰相，攔絕各臟腑之氣，不許入心，始得心神安靜，是護心者全借心包之力也。使心包亦虛，不能障心，而各臟腑之氣遂直入於心，以分取乎心血，心包情急，既不能內顧其君，又不能外御乎眾，於是大聲疾呼，而其跡象反近於狂悖，有無可如何之勢，故病狀似熱而實非熱也。治法須大補心中之血，使各臟腑分取以自養，不得再擾乎心，則心藏泰然，而心包亦安矣。</p>
<p>方用　安心湯。　</p>
<p>當歸（二兩）　川芎（一兩）　生地（五錢，炒）　丹皮（五錢，炒）　生蒲黃（二錢）　乾荷葉（一片，引）</p>
<p>水煎服。一劑而狂定，惡露亦下矣。此方用芎、歸以養血，何以又用生地、丹皮之涼血，似非產後所宜？不知惡露所以奔心，原因虛熱相犯，於補中涼之，而涼不為害，況益之以荷葉，七竅相通，引邪外出，不惟內不害心，且佐蒲黃以分解乎惡露也。但只可暫用以定狂，不可多用以取咎也。謹之慎之。</p>
<p><u>眉批：</u>服藥後狂定，宜服加味生化湯：當歸（酒洗）一兩一錢、川芎三錢、桃仁（研）錢半、荊芥穗（炒炭）一錢、丹皮錢半，服四劑妙。</p>
<p><u>歌括：</u>產後二三日之中，惡露不行血上攻。狂言呼叫甚奔走，血室空虛病由生。安心湯中當歸芎，生地丹皮蒲黃沖。荷葉少許通七竅，少服取效多無功。</p>

<h3>正產腸下（六十六）</h3>
<p>產婦腸下，亦危症也，人以為兒門不關之故，誰知是氣虛下陷而不能收乎！夫氣虛下陷，自宜用升提之藥，以提其氣。然新產之婦，恐有瘀血在腹，一旦提氣，並瘀血升騰於上，則衝心之患，又恐變出非常，是氣又不可竟提也。氣既不可竟提，而氣又下陷，將用何法以治之哉？蓋氣之下陷者，因氣之虛也，但補其氣，則氣旺而腸自升舉矣。惟是補氣之藥少，則氣力薄而難以上升，必須以多為貴，則陽旺力強，斷不能降而不升矣。</p>
<p>方用　補氣升腸飲。　</p>
<p>人參（一兩，去蘆）　生黃芪（一兩）　當歸（一兩，酒洗）　白朮（五錢，土炒）　川芎（三錢，酒洗）　升麻（一分）</p>
<p>水煎服。一劑而腸升矣。此方純於補氣，全不去升腸，即如用升麻一分，亦不過引氣而升耳。蓋升麻之為用，少則氣升，多則血升也，不可不知。又方用蓖麻仁四十九粒搗塗頂心以提之，腸升即刻洗去，時久則恐吐血，此亦升腸之一法也。</p>
<p><u>眉批：</u>生產有子未下腸先下者，名盤腸生。勿遽服此方，</p>
<p>急取一淨盆，用開水洗熱，將腸置於盆內，靜待勿懼，子下後腸即徐徐收回。若時久，盆與腸俱冷，不能速收，急用開水一盆待溫，以入得手為度。將溫水傾於置腸盆內，腸熱氣充，即可收起矣。若子先下，急服此方，少遲恐氣脫不救。</p>
<p><u>歌括：</u>產婦腸下亦危症，氣虛下陷收不能。升提之藥宜慎用，補氣氣旺腸自升。補氣升腸飲川芎，當歸一兩酒洗用。人參白朮生黃芪，少佐升麻引氣升。</p>

<h2>產後</h2>

<h3>產後少腹疼（六十七）</h3>
<p>婦人產後少腹疼痛，甚則結成一塊，按之愈疼，人以為兒枕之疼也，誰知是瘀血作祟乎！夫兒枕者，前人謂兒頭枕之物也。兒枕之不疼，豈兒生不枕而反疼，是非兒枕可知矣。既非兒枕，何故作疼？乃是瘀血未散，結作成團而作疼耳。凡此等症，多是壯健之婦血有餘，而非血不足也。似乎可用破血之藥；然血活則瘀自除，血結則瘀作祟；若不補血而反敗血，雖瘀血可消，畢竟耗損難免，不若於補血之中，以行逐瘀之法，則氣血不耗，而瘀亦盡消矣。</p>
<p>方用　散結定疼湯。　</p>
<p>當歸（一兩，酒洗）　川芎（五錢，酒洗）　丹皮（二錢，炒）　益母草（三錢）　黑芥穗（二錢）　乳香（一錢，去油）　山楂（十粒，炒黑）　桃仁（七粒，泡去皮尖，炒，研）</p>
<p>水煎服。一劑而疼止而愈，不必再劑也。此方逐瘀於補血之中，消塊於生血之內，妙在不專攻疼痛，而疼痛止。彼世人一見兒枕之疼，動用元胡、蘇木、蒲黃、靈脂之類以化塊，又何足論哉！</p>
<p>婦人產後少腹疼痛，按之即止，人亦以為兒枕之疼也，誰知是血虛而然乎！夫產後亡血過多，血室空虛，原能腹疼，十婦九然。但疼有虛實之分，不可不辨：如燥糠觸體光景，是虛疼而非實疼也。大凡虛疼宜補，而產後之虛疼，尤宜補焉。惟是血虛之疼，必須用補血之藥，而補血之味，多是潤滑之品，恐與大腸不無相礙；然產後血虛，腸多乾燥，潤滑正相宜也，何礙之有。</p>
<p>方用　腸寧湯。　</p>
<p>當歸（一兩，酒洗）　熟地（一兩，九蒸）　人參（三錢）　麥冬（三錢，去心）　阿膠（三錢，蛤粉炒）　山藥（三錢，炒）　續斷（二錢）　甘草（一錢）　肉桂（二分，去粗，研）</p>
<p>水煎服。一劑而疼輕，二劑而疼止，多服更宜，此方補氣補血之藥也，然補氣而無太鬱之憂，補血而無太滯之患，氣血既生，不必止疼而疼自止矣。</p>
<p><u>眉批：</u>前後二方極效，不必加減。</p>
<p><u>歌括：</u>婦人產後少腹疼，甚結成塊按更痛。瘀血作祟非兒枕，補逐兼行自有功。散結定疼當歸芎，丹皮益母與黑荊。乳香山楂桃仁炒，一劑痛止勿多用。產後腹痛按止焉，血虛作痛不同前。血室空虛宜補血，相間補氣兩法全。腸寧湯中用當歸，地黃阿膠參麥桂。山藥續斷生甘草，氣血既生疼自回。</p>

<h3>產後氣喘（六十八）</h3>
<p>婦人產後氣喘，最是大危之症，苟不急治，立刻死亡，人只知是氣血之虛也，誰知是氣血兩脫乎！夫既氣血兩脫，人將立死，何又能作喘？然此血將脫，而氣猶未脫也。血將脫而氣欲挽之，而反上喘，如人救溺，援之而力不勝，又不肯自安於不救，乃召號同志以求助，故呼聲而喘作，其症雖危，而可救處正在能作喘也。蓋肺主氣，喘則肺氣似盛而實衰，當是之時，血將脫而萬難驟生，望肺氣之相救甚急；而肺因血失，只存幾微之氣，自顧尚且不暇，又何能提挈乎血，氣不與血俱脫者幾希矣，是救血必須補氣也。</p>
<p>方用　救脫活母湯。　</p>
<p>人參（二兩）　當歸（一兩，酒洗）　熟地（一兩，九蒸）　枸杞子（五錢）　山萸（五錢，蒸，去核）　麥冬（一兩，去心）　阿膠（二錢，蛤粉炒）　肉桂（一錢，去粗，研）　黑芥穗（二錢）</p>
<p>水煎服。一劑而喘輕，二劑而喘減，三劑而喘定，四劑而全愈矣。此方用人參以接續元陽，然徒補其氣而不補其血，則陽燥而狂，雖回生於一時，亦旋得旋失之道；即補血而不補其肝腎之精，則本原不固，陽氣又安得而續乎！所以又用熟地、山萸、枸杞之類，以大補其肝腎之精，而後大益其肺氣，則肺氣健旺，升提有力矣。特慮新產之後，用補陰之藥，膩滯不行，又加肉桂以補命門之火，使火氣有根，助人參以生氣，且能運化地黃之類，以化精生血。若過於助陽，萬一血隨陽動，瘀而上行，亦非保全之策，更加荊芥以引血歸經，則肺氣安而喘速定，治幾其神乎。</p>
<p><u>眉批：</u>方妙不可加減。</p>
<p><u>歌括：</u>產後氣喘病膏肓，氣血雙脫無主張。救脫尚須補氣血，抓緊時機施妙方。救脫活母人參當，麥冬枸杞熟地黃。山萸阿膠桂芥穗，肺安喘定病復康。</p>

<h3>產後惡寒身顫（六十九）</h3>
<p>婦人產後惡寒噁心，身體顫，發熱作渴，人以為產後傷寒也，誰知是氣血兩虛，正不敵邪而然乎！大凡人之氣不虛，則邪斷難入。產婦失血既多，則氣必大虛，氣虛則皮毛無衛，邪原易入，正不必戶外之風來襲體也，即一舉一動，風即可乘虛而入之。然產後之婦，風易入而亦易出，凡有外邪之感，俱不必祛風，況產婦之惡寒者，寒由內生也。發熱者，熱由內弱也；身顫者，顫由氣虛也。治其內寒，而外寒自散；治其內弱，而外熱自解；壯其元陽，而身顫自除。</p>
<p>方用　十全大補湯。　</p>
<p>人參（三錢）　白朮（三錢，土炒）　茯苓（三錢，去皮）　甘草（一錢，炙）　川芎（一錢，酒洗）　當歸（三錢，酒洗）　熟地（五錢，九蒸）　白芍（二錢，酒炒）　黃芪（一兩，生用）　肉桂（一錢，去粗，研）</p>
<p>水煎服。一劑而諸病悉愈。此方但補氣與血之虛，而不去散風與邪之實，正以正足而邪自除也，況原無邪氣乎！所以奏功之捷也。</p>
<p><u>眉批：</u>宜連服數劑，不可只服一劑。</p>
<p><u>歌括：</u>產後惡寒身振顫，發熱作渴是何緣。氣血兩虛邪入侵，認作傷寒錯決斷。十全大補參芪草，朮苓當歸與白芍。川芎肉桂熟地黃，連服數劑奏捷效。</p>

<h3>產後噁心嘔吐（七十）</h3>
<p>婦人產後噁心欲吐，時而嘔吐，人皆曰胃氣之寒也，誰知是腎氣之寒乎！夫胃為腎之關，胃之氣寒，則胃氣不能行於腎之中；腎之氣寒，則腎氣亦不能行於胃之內，是腎與胃不可分而兩之也。惟是產後失血過多，必致腎水乾涸，腎水涸應腎火上炎，當不至胃有寒冷之虞，何故腎寒而胃亦寒乎？蓋新產之餘，水乃遽然涸去，虛火尚不能生，火既不生，而寒之象自現。治法宜補其腎中之火，然火無水濟，則火在水上，未必不成火動陰虛之症，必須於水中補火，腎中溫胃，而後腎無太熱之患，胃有既濟之歡也。</p>
<p>方用　溫腎止嘔湯。　</p>
<p>熟地（五錢，九蒸）　巴戟（一兩，鹽水浸）　人參（三錢）　白朮（一兩，土炒）　山萸（五錢，蒸，去核）　炮薑（一錢）　茯苓（二錢，去皮）　橘紅（五分，薑汁洗）　白蔻（一粒，研）</p>
<p>水煎服。一劑而嘔吐止，二劑而不再發，四劑而全愈矣。此方補腎之藥，多於治胃之品，然而治腎仍是治胃也。所以腎氣升騰，而胃寒自解，不必用大熱之劑，溫胃而祛寒也。</p>
<p><u>眉批：</u>服此方必待惡露盡後，若初產一、二日之內噁心欲嘔，乃惡露上衝，宜服加味生化湯：全當歸一兩（酒洗）、川芎二錢、炮薑一錢、東楂炭二錢、桃仁一錢（研，用無灰黃酒一鍾，水三鍾同煎）。</p>
<p><u>歌括：</u>產後噁心嘔吐現，胃氣寒因腎氣寒。失血過多腎水涸，火既不生寒自現。溫腎止嘔白朮丸，巴戟山萸熟地團。參苓炮薑橘白蔻，腎氣升騰驅胃寒。</p>

<h3>產後血崩（七十一）</h3>
<p>少婦產後半月，血崩昏暈，人皆曰惡血衝心也，誰知是不慎房幃之過乎！夫產後業逾半月，雖不比初產之二、三日，而氣血初生，尚未全復，即血路已淨，而胞胎之損傷未痊，斷不可輕於一試，以重傷其門戶。氣血初復，不知慎養，致血崩昏暈，是心腎兩傷，不特胞胎門戶已也。精泄神脫，舍大補其氣與血，別無良法也。</p>
<p>方用　救敗求生湯。　</p>
<p>人參（二兩）　當歸（二兩，酒洗）　白朮（二兩，土炒）　九蒸熟地（一兩）　山萸（五錢，蒸）　山藥（五錢，炒）　棗仁（五錢，生用）　附子（一分或一錢，自製）</p>
<p>水煎服。一劑而神定，二劑而暈止，三劑而血亦止矣，倘一服見效，連服三、四劑，減去一半，再服十劑，可慶更生。此方補氣以回元陽於無何有之鄉，陽回而氣回，自可攝血以歸神，生精而續命矣。</p>
<p><u>眉批：</u>亦有中氣素虛，產後頃刻血崩不止，氣亦隨之而脫。此至危之證，十常不救者八、九，惟用獨參湯尚可救活一、二。遼人參去蘆五錢，打碎，急煎，遲則氣脫不及待矣。煎成徐徐灌之，待氣回再煎一服灌之。其餘治法參看血崩門。但產後不可用杭芍炭以及諸涼藥。然此證皆系臨產一、二日前入房所致，戒之！</p>
<p><u>歌括：</u>少婦產後半月時，陰興陽起雲雨施。血崩昏暈見神鬼，此等病孽自作之。救敗求生參白朮，當歸山藥與熟地。山萸棗仁製附子，補氣回陽此方奇。</p>

<h3>產後手傷胞胎淋漓不止（七十二）</h3>
<p>婦人有生產之時，被穩婆手入產門，損傷胞胎，因而淋漓不止，欲少忍須臾而不能，人謂胞破不能再補也，孰知不然。夫破傷皮膚，尚可完補，豈破在腹內者，獨不可治療？或謂破在外可用藥外治，以生皮膚；破在內，雖有靈膏，無可救補，然破之在內者，外治雖無可施力，安必內治不可奏功乎！試思瘡傷之毒，大有缺陷，尚可服藥以生肌肉，此不過收生不謹，小有所損，並無惡毒，何難補其缺陷也。</p>
<p>方用　完胞飲。　</p>
<p>人參（一兩）　白朮（十兩，土炒）　茯苓（三錢，去皮）　生黃芪（五錢）　當歸（一兩，酒炒）　川芎（五錢）　白芨末（一錢）　紅花（一錢）　益母草（三錢）　桃仁（十粒，泡炒，研）</p>
<p>用豬羊胞一個，先煎湯，後煎藥，飢服，十劑全愈。夫胞損宜用補胞之藥，何以反用補氣血之藥也？蓋生產本不可手探試，而穩婆竟以手探，胞胎以致傷損，則難產必矣。難產者，因氣血之虛也。產後大傷氣血，是虛而又虛矣，因虛而損，復因損而更虛，苦不補其氣與血，而胞胎之破，何以奏功乎！今之大補其氣血者，不啻飢而與之食，渴而與之飲者，則精神大長，氣血再造，而胞胎何難補完乎，所以旬日之內便成功也。</p>
<p><u>眉批：</u>胞破諸書單方最多，然不如此之妙。</p>
<p><u>歌括：</u>臨產接生要安祥，頻頻手試胎胞傷。淋漓不止痛難忍，急服藥餌補救方。完胞飲中用參芪，朮歸川芎和白芨。茯苓桃紅益母草，煎豬羊胞代水劑。</p>

<h3>產後四肢浮腫（七十三）</h3>
<p>產後四肢浮腫，寒熱往來，氣喘咳嗽，胸膈不利，口吐酸水，兩脅疼痛，人皆曰敗血流於經絡，滲於四肢，以致氣逆也，誰知是肝腎兩虛，陰不得出之陽乎！夫產後之婦，氣血大虧，自然腎水不足，腎水沸騰；然水不足則不能養肝，而肝木大燥，木中乏津，木燥火發，腎火有黨，子母兩焚，火焰直衝，而上克肺金，金受火刑，力難制肝，而咳嗽喘滿之病生焉；肝火既旺而下克脾土，土受木刑，力難制水，而四肢浮腫之病出焉。然而肝木之火旺，乃假象而非真旺也。假旺之氣，若盛而實不足，故時而熱時而寒，往來無定，乃隨氣之盛衰以為寒熱，而寒非真寒，熱亦非真熱，是以氣逆於胸膈之間而不舒耳。兩脅者，肝之部位也，酸者，肝之氣味也。吐酸脅疼痛，皆肝虛而腎不能榮之象也。治法宜補血以養肝，補精以生血，精血足而氣自順，而寒熱咳嗽浮腫之病悉退矣。</p>
<p>方用　轉氣湯。　</p>
<p>人參（三錢）　茯苓（三錢，去皮）　白朮（三錢，土炒）　當歸（五錢，酒洗）　白芍（五錢，酒炒）　熟地（一兩，九蒸）　山萸（三錢，蒸）　山藥（五錢，炒）　芡實（三錢，炒）　柴胡（五分）　故紙（一錢，鹽水炒）</p>
<p>水煎服。三劑效，十劑痊。此方皆是補血補精之品，何以名為轉氣耶？不知氣逆由於氣虛，乃是肝腎之氣虛也。補肝腎之精血，即所以補肝腎之氣也。蓋虛則逆，旺則順，是補即轉也；氣轉而各症盡愈，陰出之陽，則陰陽無捍格之虞矣。</p>
<p><u>眉批：</u>方妙不可加減。白芍宜炒炭用。</p>
<p><u>歌括：</u>產後四肢皆浮腫，咳嗽吐酸兩脅痛。寒熱往來陰陽捍，氣血大虧腎水空。轉氣白芍和熟地，參苓朮歸與芡實。山藥山萸柴胡配，再加鹽炒補骨脂。</p>

<h3>產後肉線出（七十四）</h3>
<p>婦人有產後水道中出肉線一條，長二、三尺，動之則疼痛欲絕，人以為胞胎之下墜也，誰知是帶脈之虛脫乎！夫帶脈束於任督之間，任脈前而督脈後，二脈有力，則帶脈堅牢；二脈無力，則帶脈崩墜。產後亡血過多，無血以養任督，而帶脈崩墜，力難升舉，故隨溺而隨下也。帶脈下垂，每每作痛於腰臍之間，況下墜者而出於產門之外，其失於關鍵也更甚，安得不疼痛欲絕乎！</p>
<p>方用　兩收湯。　</p>
<p>人參（一兩）　白朮（二兩，土炒）　川芎（三錢，酒洗）　九蒸熟地（二兩）　山藥（一兩，炒）　山萸（四錢，蒸）　芡實（五錢，炒）　扁豆（五錢，炒）　巴戟（三錢，鹽水浸）　杜仲（五錢，炒黑）　白果（十枚，搗碎）</p>
<p>水煎服。一劑而收半，二劑而全收矣。此方補任督而仍補腰臍者，蓋以任督連於腰臍也。補任督而不補腰臍，則任督無助，而帶脈何以升舉？惟兩補之，則任督得腰臍之助，帶脈亦得任督之力而收矣。</p>
<p><u>眉批：</u>此方凡腎虛、腰痛、遺尿皆可治，甚勿輕忽。</p>
<p><u>歌括：</u>產後水道出肉線，動之疼痛更增添。此乃帶脈虛脫故，任督無力不能還。兩收參朮和山藥，熟地芡實扁豆炒。杜仲山萸巴戟肉，川芎白果共煎熬。</p>

<h3>產後肝痿（七十五）</h3>
<p>婦人產後陰戶中垂下一物，其形如帕，或有角、或二歧，人以為產頹也，誰知是肝痿之故乎！夫產後何以成肝痿也？蓋因產前勞役過傷，又觸動怪怒，以致肝不藏血，血亡過多，故肝之脂膜隨血崩墜，其形似子宮，而實非子宮也。若是子宮之下墜，狀如茄子，只到產門，而不能越出於產門之外。惟肝之脂膜往往出產門外者，至六、七寸許，且有黏席乾落一片，如手掌大者，如是子宮墜落，人立死矣，又安得而復生乎！治法宜大補其氣與血，而少加升提之品，則肝氣旺而易生，肝血旺而易養，肝得生養之力，而脂膜自收。</p>
<p>方用　收膜湯。　</p>
<p>生黃芪（一兩）　人參（五錢）　白朮（五錢，土炒）　當歸（三錢，酒洗）　升麻（一錢）　白芍（五錢，酒炒焦）</p>
<p>水煎服。一劑即收矣。或疑產後禁用白芍，恐伐生氣之源，何以頻用之而奏功也？是未讀仲景之書者，嗟乎！白芍之在產後不可頻用者，恐其收斂乎瘀也；而謂伐生氣之源，則誤矣。況病之在肝者，尤不可以不用；且用之於大補氣血中，在芍藥亦忘其為酸收矣，又何能少有作祟者乎！矧脂膜下墜，正借酸收之力，助升麻以提升氣血，所以奏功之捷也。</p>
<p><u>眉批：</u>收肝膜全賴白芍之功，不可用炭。</p>
<p><u>歌括：</u>產後陰戶一物生，其形如帕或角形。肝之血膜隨血墮，病名肝痿補氣靈。收膜湯中參芪用，白朮白芍當歸同。升麻提升量宜少，一劑即收奏奇功。</p>

<h3>產後氣血兩虛乳汁不下（七十六）</h3>
<p>婦人產後絕無點滴之乳，人以為乳管之閉也，誰知是氣與血之兩涸乎！夫乳乃氣血之所化而成也，無血固不能生乳汁，無氣亦不能生乳汁，然二者之中，血之化乳，又不若氣之所化為尤速。新產之婦，血已大虧，血本自顧不暇，又何能以化乳？乳全賴氣之力，以行血而化之也。今產後數日，而乳不下點滴之汁，其血少氣衰可知。氣旺則乳汁旺，氣衰則乳汁衰，氣涸則乳汁亦涸，必然之勢也。世人不知大補氣血之妙，而一味通乳，豈知無氣則乳無以化，無血則乳無以生。治法帶補氣以生血，而乳汁自下，不必利竅以通乳也。</p>
<p>方名　通乳丹。</p>
<p>人參（一兩）　生黃芪（一兩）　當歸（二兩，酒洗）　麥冬（五錢，去心）　木通（三分）　桔梗（三分）　七孔豬蹄（二個，去爪殼）</p>
<p>水煎服。二劑而乳如泉湧矣。此方專補氣血以生乳汁，正以乳生於氣血也。產後氣血涸而無乳，非乳管之閉而無乳者可比。不去通乳而名通乳丹，亦因服之乳通而名之；今不通乳而乳生，即名生乳丹亦可。</p>
<p><u>歌括：</u>產後乳汁點滴無，原因氣血兩虛乎。氣血充足乳汁旺，衰弱乳汁必乾枯。生乳丹中參芪通，當歸麥冬苦桔梗。七孔豬蹄用兩個，二劑乳汁如泉湧。</p>

<h3>產後鬱結乳汁不通（七十七）</h3>
<p>少壯之婦，於生產之後，或聞丈夫之嫌，或聽翁姑之誶，遂致兩乳脹滿疼痛，乳汁不通，人以為陽明之火熱也，誰知是肝氣之鬱結乎！夫陽明屬胃，乃多氣多血之府也。乳汁之化，原屬陽明，然陽明屬土，壯婦產後，雖云亡血，而陽明之氣，實未盡衰，必得肝木之氣以相通，始能化成乳汁，未可全責之陽明也。蓋乳汁之化，全在氣而不在血，今產後數日，宜其有乳，而兩乳脹滿作痛，是欲化乳而不可得，非氣鬱而何？明明是羞憤成鬱，土木相結，又安能化乳而成汁也。治法宜大舒其肝木之氣，而陽明之氣血自通，而乳亦通矣，不必專去通乳也。方名通肝生乳湯。</p>
<p>白芍（五錢，醋炒）　當歸（五錢，酒洗）　白朮（五錢，土炒）　熟地（三分）　甘草（三分）　麥冬（五錢，去心）　通草（一錢）　柴胡（一錢）　遠志（一錢）</p>
<p>水煎服。一劑即通，不必再服也。</p>
<p><u>眉批：</u>麥冬用小米炒，不惟不寒胃，且得米味一直引入胃中，而化乳愈速。</p>
<p><u>歌括：</u>少壯婦人乳應濃，只因羞怒乳塞壅。肝氣鬱結乳脹痛，舒通肝氣乳自行。通肝生乳芍歸冬，白朮柴胡遠志從。熟地通草生甘草，服後乳汁水溶溶。</p>

<h1>產後編上卷</h1>

<h2>產後總論</h2>
<p>凡病起於血氣之衰，脾胃之虛。而產後尤甚。是以丹溪先生論產後，必大補氣血為先，雖有他症，以末治之，斯言盡治產之大旨。若能擴充立方，則治產可無過矣。夫產後憂、驚、勞、倦，氣血暴虛，諸症乘虛易入，如有氣毋專耗散，有食毋專消導；熱不可用芩、連，寒不可用桂、附；寒則血塊停滯，熱則新血崩流。至若中虛外感，見三陽表症之多，似可汗也，在產後而用麻黃，則重竭其陽；見三陰里症之多，似可下也，在產後而用承氣，則重亡陰血。耳聾脅痛，乃腎虛惡露之停，休用柴胡。譫語出汗，乃元弱似邪之症，非同胃實。厥由陽氣之衰，無分寒熱，非大補不能回陽而起弱。痙因陰血之虧，不論剛柔，非滋榮不能舒筋而活終。乍寒乍熱，發作無期，症似瘧也，若以瘧治，遷延難愈。言論無倫，神不守舍，病似邪也，若以邪治，危亡可待。去血過多而大便燥結，肉蓯蓉加於生化，非潤腸承氣之能通。去汗過多而小便短澀，六君子倍加參、芪，必生津助液之可利。加參生化湯頻服，救產後之危；長生活命丹屢用，蘇絕谷之人。㿗疝脫肛，多是氣虛下陷，補中益氣之方，口噤拳攣，乃因血燥類風，加參生化之劑。產戶入風而痛甚，服宜羌活養榮湯。玉門傷涼而不閉，洗宜䗫兒黃硫散。怔忡驚悸，生化湯加以定志。似邪恍惚，安神丸助以歸脾。因氣而悶滿虛煩，生化湯加木香為佐。因食而噯酸惡食，六君子加神麯、麥芽為良。蘇木、莪朮大能破血；青皮、枳殼，最消滿脹。一應耗氣破血之劑，汗吐宣下之法，只可施諸壯實，豈宜用於胎產。大抵新產後，先問惡露如何，塊痛未除，不可遽加參朮；腹中痛止，補中益氣無疑。至若亡陽脫汗，氣虛喘促，頻服加參生化湯，是從權也。又如亡陰火熱，血崩厥暈，速煎生化原方，是救急也。王太僕云：「治下補下，治以急緩，緩則道路達而力微，急則氣味厚而力重。」故治產當遵丹溪而固本，服法宜效太僕以頻加。凡付生死之重寄，須著意於極危；欲求俯仰之無虧，用存心於愛物。此雖未盡產症之詳，然所聞一症，皆援近鄉治驗為據，亦未必無小補云。</p>

<h2>產前後方症宜忌</h2>

<h3>正產</h3>
<p>正產者，有腹或痛或止，腰脅痠痛；或勢急而胞未破，名弄胎，服八珍湯加香附自安。有胞破數日而痛尚緩，亦服上藥俟之。</p>

<h3>傷產</h3>
<p>傷產者，胎未足月，有所傷動，或腹痛臍痛，或服催生藥太早，或產母努力太過，逼兒錯路，不能正產，故臨月必舉動從容，不可多睡飽食飲酒，但覺腹中動轉，即正身仰臥，待兒轉順，與其臨時費力，不如先時慎重。</p>

<h3>調產</h3>
<p>調產者，產母臨月，擇穩婆、辦器用、備參藥，產時不可多人喧鬧，二人扶身，或憑物站。心煩，用滾水調白蜜一匙，獨活湯更妙；或飢，服糜粥少許，勿令飢渴。有生息未順者，只說有雙胎，或胎衣不下，勿令產母驚恐。</p>

<h3>催生</h3>
<p>催生者，因坐草太早，困倦難產，用八珍湯，稍佐以香附、乳香，以助血氣。胞衣早破，漿血已乾，亦用八珍湯。</p>

<h3>凍產</h3>
<p>凍產者，天寒血氣凝滯，不能速生，故衣裳宜厚，產室宜暖，背心下體尤要。</p>

<h3>熱產</h3>
<p>熱產者，暑月宜溫涼得宜。若產室人眾，熱氣蒸逼，致頭痛面赤昏暈等症，宜飲清水少許以解之。然風雨陰涼，亦當避之。</p>

<h3>橫產</h3>
<p>橫產者，兒居母腹，頭上足下，產時則頭向下，產母若用力逼之，胎轉至半而橫，當令產母安然仰臥，令其自順。穩婆以中指挾其肩，勿使臍帶羈絆。用催生藥，努力即生。</p>
<p>當歸、紫蘇各三錢，長流水煎服即下。</p>
<p>一方，用好京墨服之即下。</p>
<p>一方，用益母草六兩濃煎，加童便一大杯調服即下。</p>

<h3>盤腸產</h3>
<p>盤腸產者，產則子腸先出，然後生子，其腸或未即收，以蓖麻子四十九粒，研碎塗頭上，腸收，急急洗去，遲則有害。又方，只用四十粒，去皮研為膏，塗頂中，收即拭之。</p>

<h3>難產</h3>
<p>難產者，交骨不開，不能生產也，服加味芎歸湯，良久即下。</p>
<p>小川芎（一兩）　當歸（一兩）　敗龜板（一個，酒炙）　婦人髮灰（一握）</p>
<p>水一鍾，煎七分服。</p>
<p><u>歌括：</u>交骨不開難產生，酒炙龜版當歸芎。外加髮灰一握整，煎服胎兒離玉宮。</p>

<h3>死產</h3>
<p>死產者，子死腹中也。驗母舌青黑，其胎已死。先用平胃散一服，酒水各一鍾，煎八分，投朴硝煎服，即下。用童便亦好，後用補劑調理。</p>
<p><u>歌括：</u>子死腹中名死產，母舌青黑可決斷。酒水共煎平胃散，再投朴硝下胎元。</p>

<h3>下胞</h3>
<p>胞衣不下，用滾酒送下失笑散一劑，或益母丸，或生化湯送鹿角灰一錢，或以產母髮入口作吐，胞衣即出。有氣虛不能送出者，腹必脹痛，單用生化湯。</p>
<p>全當歸（一兩）　川芎（三錢）　白朮（一錢）　香附（一錢）</p>
<p>加人參三錢更妙，用水煎服。</p>
<p>一方，用蓖麻子二兩，雄黃二錢，研膏，塗足下湧泉穴，衣下，急速洗去。</p>
<p><u>平胃散</u></p>
<p>南蒼朮（米泔水浸炒）　厚朴（薑炒）　陳皮　炙草（各二錢）</p>
<p>共為粗末，或水煎，或酒煎，煎成時加朴硝二錢，再煎一二沸，溫服。</p>
<p><u>失笑散</u></p>
<p>五靈脂、蒲黃俱研為細末，每服三錢，熱酒下。</p>

<h3>斷臍</h3>
<p>斷臍，必以綿裹咬斷為妙。如遇天寒，或因難產，母子勞倦，宜以大麻油紙拈，徐徐燒斷，以助元氣。雖兒已死，令暖氣入臍，多得生，切勿以刀斷之。</p>
<p><u>滑胎散</u>　臨月常服數劑以便易生</p>
<p>當歸（三、五錢）　川芎（五、七錢）　杜仲（二錢）　熟地（三錢）　枳殼（七分）　山藥（二錢）</p>
<p>水二鍾，煎八分，食前溫服。如氣虛體弱人，加人參、白朮，隨宜服之；如便實多帶滯者，加牛膝二錢。</p>
<p><u>歌括：</u>滑胎散用當歸片，川芎熟地山藥研。杜仲枳殼同加入，臨月常服效如仙。</p>
<p><u>治產秘驗良方</u></p>
<p>治橫生逆產，至數日不下，一服即下；有未足月，忽然胎動，一服即安；或臨月先服一服，保護無虞，更能治胎死腹中，及小產傷胎無乳者，一服即如原體。</p>
<p>全當歸　川芎（各一錢五分）　川貝母（一錢，去心）　荊芥穗　黃芪（各八分）　厚朴（薑炒）　菟絲子（一錢二分）　蘄艾　紅花（各七分）　甘草（五分）　羌活（六分，麵炒）　枳殼（六分，麵炒）　白芍（一錢二分，冬月不用）</p>
<p>上十三味，只用十二味，不可加減。安胎去紅花；催生去蘄艾，用井水鍾半，薑三片為引，熱服，渣用水一鍾煎半鍾熱服。如不好，再用水一鍾煎半鍾，服之即效，不用二劑。</p>
<p><u>歌括：</u>治產秘驗一良方，臨月先服保無殃。橫生逆產傷胎症，煎服一劑效便彰。歸芎川貝芥穗良，黃芪紅花厚朴羌。艾葉枳殼菟絲子，芍藥甘草引用薑。</p>
<p><u>催生兔腦丸</u>　治橫生逆產神效。</p>
<p>臘月兔腦髓（一個）　母丁香（一個）　乳香（一錢，另研）　麝香（一分）</p>
<p>兔腦為丸，芡實大，陰乾密封，用時以溫酒送下一丸。</p>
<p><u>歌括：</u>催生兔腦臘月良，乳香麝香母丁香。兔腦為丸芡實大，密封用時溫酒嘗。</p>
<p><u>奪命丹</u></p>
<p>臨產未產時，目翻口噤，面黑唇青，口中吐沫，命在須臾。若臉面微紅，子死母活，急用：</p>
<p>蛇退　蠶故子（燒灰不存性）　髮灰（一錢）　乳香（五分）</p>
<p>共為細末，酒下。</p>
<p><u>歌括：</u>奪命丹用蛇退良，蠶子髮灰與乳香。共為細末酒送下，子死能保母命康。</p>
<p><u>加味芎歸湯</u>　治子宮不收，產戶不閉</p>
<p>人參（二錢）　黃芪（一錢）　當歸（二錢）　升麻（八分）　川芎（一錢）　炙草（四分）　五味子（十五粒）</p>
<p>再不收，加半夏八分，白芍八分酒炒。</p>
<p><u>歌括：</u>子宮不收產門張，急用加味芎歸湯，人參黃芪炙甘草，升麻五味共煎嘗。</p>
<p><u>新產治法</u></p>
<p>生化湯先連進二服。若胎前素弱婦人，見危症熱症墮胎，不可拘帖數，服至病退乃止。若產時勞甚，血崩形脫，即加人參三、四錢在內，頻服無虞。若氣促亦加人參，加參於生化湯者，血塊無滯，不可以參為補而弗用也。有治產不用當歸者，見偏之甚。此方處置萬全，必無一失。世以四物湯治產，地黃性寒滯血，芍藥微酸無補，伐傷生氣，誤甚。</p>
<p><u>產後用藥十誤</u></p>
<p>一因氣不舒而誤用耗氣順氣等藥，反增飽悶，陳皮用至五分，禁枳實、厚朴；</p>
<p>二因傷氣而誤用消導，反損胃氣，至絕谷，禁枳殼、大黃、蓬、稜、麯、朴；</p>
<p>三因身熱而誤用寒涼，必致損胃增熱，禁芩、連、梔、柏、升、柴；</p>
<p>四因日內未曾服生化湯，勿用參、芪、朮，以致塊痛不消；</p>
<p>五毋用地黃以滯惡露；</p>
<p>六毋用枳殼、牛膝、枳實以消塊；</p>
<p>七便秘，毋用大黃、芒硝；</p>
<p>八毋用蘇木、稜、蓬以行塊，芍藥能伐氣，不可用；</p>
<p>九毋用山楂湯以攻塊定痛，而反損新血；</p>
<p>十毋輕服濟坤丹以下胎下胞。</p>
<p>產後危疾諸症，當頻服生化湯，隨症加減，照依方論。</p>
<p><u>產後寒熱</u></p>
<p>凡新產後，榮衛俱虛，易發寒熱，身痛腹痛，決不可妄投發散之劑，當用生化湯為主，稍佐發散之藥。產後脾虛，易於停食，以致身熱，世人見有身熱，便以為外感，遽然發汗，速亡甚矣，當於生化湯中加扶脾消食之藥。大抵產後先宜補血，次補氣。若偏補氣而專用參芪，非善也。產後補虛，用參、芪、芎、歸、白朮、陳皮、炙草，熱輕則用茯苓淡滲之藥，其熱自除，重則加乾薑。或云大熱而用薑何也？曰此熱非有餘之熱，乃陰虛內生熱耳。蓋乾薑能入肺分，利肺氣，又能入肝分，引眾藥生血，然必與陰血藥同用之。產後惡寒發熱腹痛者，當主惡血；若腹不痛，非惡血也。</p>
<p>產後寒熱，口眼歪邪，此乃氣血虛甚，以大補為主。左手脈不足，補血藥多於補氣藥；右手脈不足，補氣藥多於補血藥，切不可用小續命等發散之藥。</p>
<p><u>胎前患傷寒疫症瘧疾墮胎等症</u></p>
<p>胎前或患傷寒、疫症、瘧疾，熱久必致墮胎，墮後愈增熱，因熱消陰血，而又繼產失血故也。治者甚勿妄論傷寒、瘧疫未除，誤投梔子豉湯、柴、芩、連、柏等藥。雖或往來潮熱，大小便秘，五苓、承氣等藥，斷不可用。只重產輕邪，大補氣血，頻服生化湯。如形脫氣脫，加生脈散以防血暈。蓋川芎味辛能散，乾薑能除虛火，雖有便秘煩渴等症，只多服生化湯，自津液生而二便通矣。若熱用寒劑，愈虛中氣，誤甚。</p>

<h2>產後諸症治法</h2>

<h3>血塊</h3>
<p>此症勿拘古方，妄用蘇木、蓬、稜，以輕人命。其一應散血方、破血藥，俱禁用。雖山楂性緩，亦能害命，不可擅用，惟生化湯系血塊聖藥也。</p>
<p><u>生化湯</u>　原方</p>
<p>當歸（八錢）　川芎（三錢）　桃仁（十四粒，去皮尖，研）　黑薑（五分）　炙草（五分）</p>
<p>用黃酒、童便各半，煎服。</p>
<p><u>歌括：</u>治血塊用生化湯，當歸川芎五分薑。十粒桃仁五分草，引用黃酒童便良。</p>
<p>又益母丸、鹿角灰，就用生化湯送下一錢，外用烘熱衣服，暖和塊痛處，雖大暑亦要暖和塊痛處。有氣不運而暈迷厥，切不可妄說惡血搶心，只服生化湯為妙。俗有生地、牛膝行血；山稜、蓬朮敗血；山楂、沙糖消塊；蘄艾、椒酒定痛，反致昏暈等症，切不可妄用。二、三、四日內，覺痛減可揉，乃虛痛也，宜加參生化湯。如七日內，或因寒涼食物，結塊痛甚者，加入肉桂八分（一作三分）於生化湯內。如血塊未消，不可加參、芪，用之則痛不止。總之，慎勿用峻利藥，勿多飲薑椒艾酒，頻服生化湯，行氣助血，外用熱衣以暖腹。如用紅花以行之，蘇木、牛膝以攻之，則誤。其胎氣脹，用烏藥、香附以順之；枳殼、厚朴以舒之，甚有青皮、枳實、蘇子以下氣定喘；芩、連、梔子、黃柏以退熱除煩。至於血結更甚，反用承氣湯下之而愈結；汗多小便短澀，反用五苓散通之而愈秘，非徒無益，而又害之也。凡兒生下，或停血不下，半月外尚痛，或外加腫毒，高寸許，或身熱，減飲食，倦甚，必用生化湯加三稜、蓬朮、肉桂等，攻補兼治，其塊自消。如虛甚，食少泄瀉，只服此帖定痛，且健脾胃，進食止瀉，然後服消塊湯。</p>
<p><u>加味生化湯</u>　治血塊日久不消，半月後方可用之。</p>
<p>川芎（一錢）　當歸（三錢）　肉薑（四分）　桃仁（十五粒）　三稜（醋炒，六分）　元胡（六分）　肉桂（六分）　炙草（四分）</p>
<p><u>歌括：</u>加味生化歸薑芎，桃仁元胡荊三稜。肉桂炙草同煎服，產後半月此方靈。</p>

<h3>血暈</h3>
<p>分娩之後，眼見黑花，頭眩昏暈，不省人事者：一因勞倦甚而氣竭神昏；二因大脫血而氣欲絕；三因痰火乘虛泛上而神不守。當急服生化湯二、三帖，外用韭菜細切，納有嘴瓶中，用滾醋二鍾衝入瓶內，急衝產母鼻中，即醒。若偏信古方，認為惡血搶心，而輕用散血之劑；認為疫火，而用無補消降之方，誤甚矣。</p>
<p>如暈厥牙關緊閉，速煎生化湯，挖開口，將鵝毛探喉，酒盞盛而灌之。如灌下腹中漸溫暖，不可拘帖數，外用熱手在單衣上，從心揉按至腹，常熱火暖之，一兩時，服生化湯四帖完，即神清。始少緩藥，方進粥，服至十服而安。故犯此者，速灌藥火暖，不可棄而不救。若在冬月，婦人身欠暖，亦有大寒，臨產時必預煎生化湯，預燒秤錘硬石子，候兒下地，連服二、三貼。又產婦枕邊，行醋韭投醋瓶之法，決無暈症。又兒生時，閤家不可喜子而慢母，產母不可顧子忘倦，又不可產訖即臥，或忿怒逆氣，皆致血暈，慎之，慎之！</p>
<p><u>加味生化湯</u>　治產後三等血暈症。</p>
<p>川芎（三錢）　當歸（六錢）　黑薑（四分）　桃仁（十粒）　炙草（五分）　荊芥（四分，炒黑）</p>
<p>大棗，水煎服。</p>
<p><u>歌括：</u>產後血暈不識人，勞倦氣竭神志昏。或因脫血氣欲絕，痰火泛上不守神。血暈加味生化湯，歸芎荊草桃仁薑。韭葉納入有嘴瓶，滾醋衝入熏鼻腔。</p>
<p>勞倦甚而暈，及血崩氣脫而暈，並宜速灌兩服。如形色脫，或汗出而脫，皆急服一帖，即加人參三、四錢（一加肉桂四分），決不可疑參為補而緩服。痰火乘虛泛上而暈，方內加橘紅四分。虛甚加人參二錢。肥人多痰，再加竹瀝七分，薑汁少許，總不可用稜朮破血等方。其血塊痛甚，兼送益母丸，或鹿角灰、或元胡散、或獨勝散、上消血塊方，服一服即效，不必易方，從權救急。</p>
<p><u>加參生化湯</u>　治產後形色脫暈，或汗多脫暈。</p>
<p>人參（三錢，有倍加至五錢者）　川芎（二錢）　當歸（五錢）　炙草（四分）　桃仁（十粒）　炮薑（四分）　大棗</p>
<p>水煎服。</p>
<p>脈脫形脫，將絕之症，必服此方，加參四、五錢，頻頻灌之。產後血崩、血暈，兼汗多，宜服此方。無汗不脫，只服本方，不必加參。左尺脈脫，亦加參。此方治產後危急諸症，可通用，一晝一夜，必須服三、四劑，若照常症服，豈能接將絕之氣血，扶危急之變症耶！產後一、二日，血塊痛雖未止，產婦氣血虛脫，或暈或厥、或汗多，或形脫，口氣漸涼，煩渴不止，或氣喘急，無論塊痛，從權用加參生化湯。病勢稍退，又當減參，且服生化湯。</p>
<p>加減法：血塊痛甚加肉桂七分；渴加麥冬一錢，五味十粒；汗多加麻黃根一錢。如血塊不痛，加炙黃芪一錢以止汗；傷飯食麵食，加炒神麯一錢，麥芽五分炒；傷肉食，加山楂五個，砂仁四錢炒。</p>
<p><u>歌括：</u>脈脫形脫症將絕，血崩血暈兼汗多。產後諸般危急症，加參生化最穩妥。氣血虛脫生化湯，加入人參服之良。血塊痛甚加肉桂，渴加麥味汗麻黃（根）。血塊不痛炙黃芪，神麯麥芽醫食傷。若傷肉食加楂砂，隨症加減效更彰。</p>

<h3>厥症</h3>
<p>婦人產有用力過多，勞倦傷脾，故逆冷而厥，氣上胸滿，脈去形脫，非大補不可，豈錢數川芎、當歸能回陽復神乎！必用加參生化湯，倍參，進二劑，則氣血旺而神自生矣，厥自止矣。若服藥而反渴，另有生脈散，獨參代茶飲，救臟之燥。如四肢逆冷，又泄痢類傷寒陰症，又難用四逆湯，必用倍參生化湯，加附子一片，可以回陽止逆，又可以行參、歸之力。立二方於下分先後。</p>
<p><u>加參生化湯</u>　治產後發厥，塊痛未止，不可加芪、朮。</p>
<p>川芎（二錢）　當歸（四錢）　炙草（五分）　炮薑四分（一作黑薑）　桃仁（十粒，去皮尖，研）　人參（二錢）</p>
<p>棗，水煎。進二服。</p>
<p><u>滋榮益氣復神湯</u>　治產後發厥，問塊痛已除可服此方。</p>
<p>人參（三錢）　黃芪（一錢，蜜炙）　白朮（一錢，土炒）　當歸（三錢）　炙草（四分）　陳皮（四分）　五味（十粒）　川芎（一錢）　熟地（一錢）　麥芽（一錢）</p>
<p>棗一枚，水煎服。</p>
<p>手足冷，加附子五分；汗多，加麻黃根一錢，熟棗仁一錢；妄言妄見，加益智、柏子仁、龍眼肉；大便實，加肉蓯蓉二錢。大抵產後暈厥二症相類。但暈在臨盆，症急甚於厥，宜頻服生化湯幾帖，塊化血旺，神清暈止；若多氣促形脫等症，必加參、芪。厥在分娩之後，宜倍參生化湯，止厥以復神，並補氣血也，非如上偏補氣血而可愈也。要知暈有塊痛，芪、朮不可加；厥症若無塊痛，芪、朮、地黃，並用無疑也。</p>
<p><u>歌括：</u>婦人生產用力多，勞倦傷脾肢冷厥。氣上胸滿脫去形，加參生化神自和。產後發厥塊痛消，滋榮益氣復神好。麥芽五味陳熟地，參芪朮草歸芎棗。</p>

<h3>血崩</h3>
<p>產後血大來，審血色之紅紫，視形色之虛實。如血紫有塊，乃當去其敗血也，止留作痛，不可論崩。如鮮紅之血，乃是驚傷心不能生血，怒傷肝不能藏血，勞傷脾不能統血，俱不能歸經耳，當以崩治，先服生化湯幾帖，則行中自有補。若形脫汗多氣促，宜服倍參生化湯幾帖以益氣，非棕灰之可以止。如產後半月外崩，又宜升舉大補湯治之，此症虛極，服藥平穩，未見速效，須二十帖後，諸症頓除。</p>
<p><u>生血止崩湯</u>　治產後血崩。</p>
<p>川芎（一錢）　當歸（四錢）　黑薑（四分）　炙草（五分）　桃仁（十粒）　荊芥（五分，炒黑）　烏梅（五分，煅灰）　蒲黃（五分，炒）</p>
<p>棗，水煎。忌薑、椒、熱物、生冷。</p>
<p>凡止崩用荊芥，俱宜炒黑。</p>
<p>鮮紅血大來，荊芥穗炒黑、白芷各五分。血竭形敗，加參三、四錢。汗多氣促，亦加參三、四錢；無汗，形不脫，氣促，只服生化湯，多服則血自平。有言歸、芎但能活血，甚誤！</p>
<p><u>歌括：</u>產後血崩不歸經，驚傷心而血不生，怒傷肝而血不藏，勞傷脾而血不統。生血止崩芎歸薑，炙草桃仁炒蒲黃。荊芥炒黑烏梅煅，棗水煎服獲效良。</p>
<p><u>升舉大補湯</u>　滋榮益氣。如有塊動，只服前方，芪、朮勿用。</p>
<p>黃芪　白朮　陳皮（各四分）　人參（二錢）　炙草　升麻（各四分）　當歸　熟地（各二錢）　麥冬（一錢）　川芎（一錢）　白芷（四分）　黃連（三分，炒）　荊芥穗（四分，炒黑）</p>
<p>汗多，加麻黃根一錢，浮麥炒一小撮；大便不通，加肉蓯蓉一錢，禁用大黃。氣滯，磨木香三分；痰，加貝母六分，竹瀝薑汁少許；寒嗽，加杏仁十粒，桔梗五分，知母一錢；驚，加棗仁、柏子仁各一錢；傷飯，加神麯、麥芽各一錢；傷肉食，加山楂、砂仁各八分，俱加棗、水煎。身熱不可加連、柏；傷食怒氣，均不可專用耗散無補藥。凡年老虛人患崩，宜升舉大補湯。</p>
<p><u>眉批：</u>按症虛極，注中有「身熱不可加連、柏」云云。後復神湯項下注，有宜用此湯「少佐黃連墜火」云云。設無火可墜，此方內並無熱藥，無須反佐，恐黃連未可輕用，此處最宜詳慎。又注中寒嗽、加有知母，既系寒嗽，知母亦未可擅用。此條疑原刊「寒」字有誤。</p>
<p><u>歌括：</u>產後半月發血崩，滋榮益氣法最靈。此症極虛難速效，二十帖後方見功。升舉大補朮芪參，炙草升芷當歸陳。熟地麥芎連芥穗，汗多宜加麻黃根。</p>

<h3>氣短似喘</h3>
<p>因血脫勞甚，氣無所恃，呼吸止息，違其常度，有認為痰火，反用散氣化痰之方，誤人性命，當以大補血為主。如有塊，不可用參、芪、朮；無塊，方可用本方，去桃仁，加熟地並附子一片；足冷，加熟附子一錢，及參、朮、陳皮，接續補氣養榮湯。</p>
<p><u>加參生化湯</u>　治分娩後即患氣短者。有塊不可加芪、朮。</p>
<p>川芎（二錢）　當歸（四錢）　炙草（五分）　黑薑（四分）　桃仁（十粒，去皮尖，研）　人參（二錢）</p>
<p>引加棗一枚，連進二、三帖後，再用後方。</p>
<p><u>補氣養榮湯</u>　治產後氣短促。血塊不痛，宜服此方。</p>
<p>黃芪（一錢）　白朮（一錢）　當歸（四錢）　人參（三錢）　陳皮（四分）　炙草（四分）　熟地（二錢）　川芎（二錢）　黑薑（四分）</p>
<p>如手足冷，加熟附子一錢；汗多，加麻黃根一錢，浮麥一小撮；渴，加麥冬一錢，五味子十粒；大便不通，加肉蓯蓉一錢，麻仁一撮；傷麵飯，加炒神麯一錢，炒麥芽一錢；傷肉食，加山楂、砂仁各五分。</p>
<p><u>眉批：</u>按麥芽有回乳之害，用者慎之！</p>
<p>黃芪、白朮一作各二錢。凡止汗用浮麥宜炒。</p>
<p><u>歌括：</u>產後血脫又勞倦，氣無所恃短似喘。散氣化痰誤人命，大補氣血可獲安。加參生化芎歸參，炙草黑薑炒桃仁。氣短似喘急投用，引加大棗效如神。補氣養榮用參芪，歸芎白朮與陳皮。炙草黑薑熟地黃，血塊不痛此方宜。</p>

<h3>妄言妄見</h3>
<p>由氣血虛，神魂無依也，治當論塊痛有無緩急。若塊痛未除，先服生化湯二、三帖，痛止；繼服加參生化湯，或補中益氣湯，加安神定志丸調服之。若產日久，形氣俱不足，即當大充氣血，安神定志，服至藥力充足，其病自愈。勿謂邪祟，若噴以法水驚之，每至不救。屢治此症，服藥至十數帖方效。病虛似邪，欲除其邪，先補其虛，先調其氣，次論諸病，此古人治產後虛症，及年老虛喘，弱人妄言，所當用心也。</p>
<p><u>安神生化湯</u>　治產後塊痛未止，妄言妄見症，未可用芪、朮。</p>
<p>川芎（一錢）　柏子仁（一錢）　人參（一、二錢）　當歸（二、三錢）　茯神（二錢）　桃仁（十二粒）　黑薑（四分）　炙草（四分）　益智（八分，炒）　陳皮（三分）</p>
<p>棗，水煎。</p>
<p><u>滋榮益氣復神湯</u>　塊痛已止，妄言妄見，服此方即愈。</p>
<p>黃芪　白朮　麥冬　川芎　柏子仁　茯神　益智（各一錢）　陳皮（三分）　人參　熟地（各二錢）　炙草（四分）　五味子（十粒）　棗仁（十粒，一錢）　蓮子（八枚）　元肉（八個）</p>
<p>棗，水煎服。</p>
<p>產後血崩、血脫、氣喘、氣脫、神脫妄言，雖有血氣陰陽之分，其精散神去一也。比暈後少緩，亦危症也。若非厚藥頻服，失之者多矣。誤論氣實痰火者，非也。新產有血塊痛，並用加參生化湯，行中有補，斯免滯血血暈之失也。其塊痛止，有宜用升舉大補湯，少佐黃連，墜火以治血脫，安血歸經也；有宜用倍參補中益氣湯，少佐附子，助參以治氣脫，攝氣歸淵也；有宜用滋榮益氣復神湯，少佐痰劑，以清心火，安君主之官也。</p>
<p><u>歌括：</u>產後日久氣血虛，妄見妄言神無依。虛病似邪欲除之，先補其虛調其氣。安神生化柏子仁，當歸川芎與人參。桃仁黑薑陳皮草，茯神益智棗水吞。滋榮益氣復神湯，參芪朮芎麥地黃。茯神益智柏棗仁，陳草五味萸蓮嘗。</p>

<h3>傷食</h3>
<p>新產後禁膏粱，遠厚味。如飲食不節，必傷脾胃，治當扶元，溫補氣血，健脾胃。審傷何物，加以消導諸藥。生化湯加神麯、麥芽以消麵食；加山楂、砂仁以消肉食；如寒冷之物，加吳萸、肉桂；如產母虛甚，加人參、白朮。又有塊，然後消補並治，無有不安者。屢見治者不重產後之弱，惟知速消傷物，反損真氣，益增滿悶，可不慎哉！</p>
<p><u>加味生化湯</u>　治血塊未消，服此以消食。</p>
<p>川芎（二錢）　當歸（五錢）　黑薑（四分）　炙草（五分）　桃仁（十粒）</p>
<p>問傷何物，加法如前，煎服。</p>
<p><u>健脾消食生化湯</u>　治血塊已除，服此消食。</p>
<p>川芎（一錢）　人參　當歸（各二錢）　白朮（一錢半）　炙草（五分）</p>
<p>審傷何物，加法如前。如停寒物日久，脾胃虛弱，恐藥不能運用，可用揉按，炒神麯熨之，更妙。凡傷食誤用消導藥，反絕粥幾日者，宜服此方。</p>
<p><u>歌括：</u>新產之後禁膏粱，飲食不節脾胃傷。治當扶元補氣血，審傷何物調處方。產後傷食生化湯，麵食神麥投之良。肉傷砂楂冷萸桂，虛甚參朮亦可嘗。</p>

<h3>忿怒</h3>
<p>產後怒氣逆，胸膈不利，血塊又痛，宜用生化湯去桃仁；服時磨木香二分在內，則塊化怒散，不相悖也。若輕產重氣，偏用木香、烏藥、枳殼、砂仁之類，則元氣反損，益增滿悶。又加怒後即食，胃弱停悶，當審何物，治法如前。慎勿用木香、檳榔丸、流氣引子之方，使虛弱愈甚也。</p>
<p><u>木香生化湯</u>　治產後血塊已除因受氣者。</p>
<p>川芎（二錢）　當歸（六錢）　陳皮（三分）　黑薑（四分）</p>
<p>服時磨木香二分在內。此方減桃仁，用木香、陳皮。前有減乾薑者，詳之。</p>
<p><u>健脾化食散氣湯</u>　治受氣傷食無塊痛者。</p>
<p>白朮（二錢）　當歸（二錢）　川芎（一錢）　黑薑（四分）　人參（二錢）　陳皮（三錢）</p>
<p>審傷何物，加法如前。大抵產後忿怒氣逆及停食二症，善治者，重產而輕怒氣消食，必以補氣血為先，佐以調肝順氣，則怒鬱散而元不損；佐以健脾消導，則停食行而思谷矣。若專理氣消食，非徒無益，而又害之。</p>
<p><u>眉批：</u>陳皮一作三分。又有炙草四分，存參。</p>
<p><u>歌括：</u>產後怒氣逆胸膈，血塊又痛生化湯。宜去桃仁加木香，塊化怒散保無殃。健脾化食散氣湯，朮歸川芎和黑薑。人參陳皮可補氣，鬱怒消散氣無傷。</p>

<h3>類瘧</h3>
<p>產後寒熱往來，每日應期而發，其症似瘧，而不可作瘧治。夫氣血虛而寒熱更作，元氣虛而外邪或侵，或嚴寒、或極熱、或晝輕夜重、或日晡寒熱，絕類瘧症，治當滋榮益氣，以退寒熱。有汗急宜止，或加麻黃根之類；只頭有汗而不及於足，乃孤陽絕陰之危症，當加地黃、當歸之類；如陽明無惡寒，頭痛無汗，且與生化湯，加羌活、防風、蓮鬚、蔥白數根以散之。其柴胡清肝飲等方，常山、草果等藥，俱不可用。</p>
<p><u>滋榮養氣扶正湯</u>　治產後寒熱有汗，午後應期發者。</p>
<p>人參（二錢）　炙黃芪　白朮　川芎　熟地　麥冬　麻黃根（各一錢）　當歸（三錢）　陳皮（四分）　炙草（五分）</p>
<p>棗，水煎。</p>
<p><u>歌括：</u>產後寒熱往來頻，應期而發汗雨淋。似瘧不可作瘧治，氣血兩虛是病因。滋榮養氣朮芪參，當歸川芎熟地陳。麥冬炙草棗為引，有汗加入麻黃根。</p>
<p><u>加減養胃湯</u>　治產後寒熱往來，頭痛無汗類瘧者。</p>
<p>炙草（四分）　白茯苓（一錢）　半夏（八分，製）　川芎（一錢）　陳皮（四分）　當歸（二錢）　蒼朮（一錢）　藿香（四分）　人參（一錢）</p>
<p>薑引煎服。</p>
<p>有痰，加竹瀝、薑汁、半夏、神麯，弱人兼服河車丸。凡久瘧不愈，兼服參朮膏以助藥力。</p>
<p><u>參朮膏</u></p>
<p>白朮一斤，米泔浸一宿，銼焙，人參一兩用水六碗，煎二碗，再煎二次，共汁六碗，合在一處，將藥汁又熬成一碗，空心米湯化半酒盞。</p>
<p><u>歌括：</u>產後頭痛身無汗，寒熱往來是病源。芎歸苓藿蒼朮半，炙草陳皮人參煎。有痰竹瀝薑夏曲，弱人兼服河車丸。久瘧不愈參朮膏，空心湯化半酒盞。</p>

<h3>類傷寒二陽症</h3>
<p>產後七日內，發熱頭痛惡寒，毋專論傷寒為太陽症；發熱頭痛脅痛，毋專論傷寒為少陽症，二症皆由氣血兩虛，陰陽不和而類外感。治者慎勿輕產後熱門，而用麻黃湯以治類太陽症；又勿用柴胡湯以治類少陽症。且產母脫血之後，而重發其汗，虛虛之禍，可勝言哉！昔仲景云：「亡血家不可發汗。」丹溪云：「產後切不可發表。」二先生非謂產後真無傷寒之兼症也，非謂麻黃湯、柴胡湯之不可對症也，誠恐後輩學業偏門而輕產，執成方而發表耳。誰知產後真感風感寒，生化中芎、薑亦能散之乎！</p>
<p><u>加味生化湯</u>　治產後三日內發熱頭痛症。</p>
<p>川芎　防風（各一錢）　當歸（三錢）　炙草（四分）　桃仁（十粒）　羌活（四分）</p>
<p><u>眉批：</u>一本無桃仁，有黑薑四分。</p>
<p>（查刊本去桃仁。然必須問有塊痛與否，方可議去。）服二帖後，頭仍痛，身仍熱，加白芷八分、細辛四分；如發熱不退，頭痛如故，加蓮鬚蔥五個、人參三錢。產後敗血不散，亦能作寒作熱，何以辨之？曰：時有刺痛者，敗血也；但寒熱無他症者，陰陽不和也。刺痛用當歸，乃和血之藥；若乃積血而刺痛者，宜用紅花、桃仁、歸尾之類。</p>
<p><u>歌括：</u>產後六七日當中，發熱惡寒頭亦痛。氣血兩虛陰陽捍，類似外感表無功。加味生化用防風，炙草羌活桃歸芎。二劑頭痛身仍熱，再加白芷細辛蔥。</p>

<h3>類傷寒三陰症</h3>
<p>潮熱有汗，大便不通，毋專論為陽明症；口燥咽乾而渴，毋專論為少陰症；腹滿液乾，大便實，毋專論為太陽症；又汗出譫語便閉，毋專論為腸胃中燥糞宜下症。數症多由勞倦傷脾，運化稽遲，氣血枯槁，腸腑燥涸，乃虛症類實，當補之症，治者勿執偏門輕產，而妄議三承氣湯，以治類三陰之症也。間有少壯產後妄下，幸而無妨；虛弱產婦亦復妄下，多致不救。屢見妄下成膨，誤導反結。又有血少，數日不通，而即下致瀉不止者，危哉！《婦人良方》云：產後大便秘，若計其日期，飯食數多，即用藥通之，禍在反掌。必待腹滿覺脹，欲去不能者，反結在直腸，宜用豬膽汁潤之。若日期雖久，飲食如常，腹中如故，只用補劑而已。若服苦寒疏通，反傷中氣、通而不止，或成痞滿，誤矣！</p>
<p><u>養正通幽湯</u>　治產後大便秘結類傷寒三陰症。</p>
<p>川芎（二錢半）　當歸（六錢）　炙草（五分）　桃仁（十五粒）　麻仁（二錢，炒）　肉蓯蓉（酒洗去甲，一錢）</p>
<p>汗多便實，加黃芪一錢，麻黃根一錢，人參二錢；口燥渴，加人參、麥冬各一錢；腹滿溢便實，加麥冬一錢，枳殼六分，人參二錢，蓯蓉一錢；汗出譫語便實，乃氣血虛竭，精神失守，宜養榮安神，加茯神、遠志、蓯蓉各一錢，人參、白朮各二錢，黃芪、白芷各一錢，柏子仁一錢。</p>
<p>以上數等大便燥結症，非用當歸、人參至斤數，難取功效。大抵產後虛中傷寒，口傷食物，外症雖見頭痛發熱，或脅痛腰痛，是外感宜汗，猶當重產亡血禁汗。惟宜生化湯，量為加減，調理無失。又如大便秘結，猶當重產亡血禁下，宜養正助血通滯，則穩當矣。</p>
<p><u>又潤腸粥</u>　治產後日久大便不通。</p>
<p>芝麻一升研末，和米二合，煮粥食，腸潤即通。</p>
<p><u>歌括：</u>勞倦傷脾運化慢，氣血枯槁腸腑乾。虛症類實宜用補，治者處方勿執偏。養正通幽腸可潤，川芎當歸麻桃仁。蓯蓉炙草同煎服，汗多參芪麻黃根。產後大便久不通，潤腸粥服最靈應。芝麻一升研成末，和米煮粥樹奇功。</p>

<h3>類中風</h3>
<p>產後氣血暴虛，百骸少血濡養，忽然口噤牙緊，手足筋脈拘搐等症，類中風癇痙，雖虛火泛上有痰，皆當以末治之，勿執偏門，而用治風消痰之方，以重虛產婦也。治法當先服生化湯，以生旺新血。如見危症，三服後，即用加參，益氣以救血脫也；如有痰火，少佐橘紅、炒芩之類，竹瀝、薑汁亦可加之，黃柏、黃連切不可並用，慎之！</p>
<p><u>滋榮活絡湯</u>　治產後血少口噤項強筋搐類風症。</p>
<p>川芎（一錢半）　當歸　熟地　人參（各二錢）　黃芪　茯神　天麻（各一錢）　炙草　陳皮　荊芥穗　防風　羌活（各四分）　黃連（八分，薑汁炒）</p>
<p>有痰，加竹瀝、薑汁、半夏；渴，加麥冬、葛根；有食，加山楂、砂仁以消肉食，神麯、麥芽以消飯食；大便閉，加肉蓯蓉一錢半；汗多，加麻黃根一錢；驚悸，加棗仁一錢。</p>
<p><u>天麻丸</u>　治產後中風恍惚語澀四肢不利。</p>
<p>天麻（一錢）　防風（一錢）　川芎（七分）　羌活（七分）　人參　遠志　柏子仁　山藥　麥冬（各一錢）　棗仁（一兩）　細辛（一錢）　南星麯（八分）　石菖蒲（一錢）</p>
<p>研細末，煉蜜為丸，辰砂為衣，清湯下六、七十丸。</p>
<p><u>眉批：</u>一本棗仁用一錢，細辛用四分，存參。</p>
<p><u>歌括：</u>產後口噤牙緊關，項強筋搐似瘋癇。勿用治風消痰藥，頻服生化益血源。滋榮活絡熟地黃，參芪茯神川芎防。天麻炙草荊芥穗，當歸黃連陳皮羌。</p>

<h3>類痙</h3>
<p>產後汗多，即變痙者，項強而身反，氣息如絕，宜速服加減生化湯。</p>
<p><u>加減生化湯</u>　專治有汗變痙者。</p>
<p>川芎　麻黃根（各一錢）　當歸（四錢）　桂枝（五分）　人參（一錢）　炙草（五分）　羌活（五分）　天麻（八分）　附子（一片）　羚羊角（八分）</p>
<p>如無汗類痙者中風，用川芎三錢，當歸一兩酒洗，棗仁、防風俱無份量。</p>
<p><u>眉批：</u>一本引用生薑一片，棗一枚。</p>
<p><u>歌括：</u>產後汗多即變痙，項強身反似角弓。氣息如絕難接續，加減生化速煎送。加減生化止痙好，歸芎附子炙甘草。天麻人參麻黃根，桂枝羌活羚羊角。</p>

<h3>出汗</h3>
<p>凡分娩時汗出，由勞傷脾、驚傷心、恐傷肝也。產婦多兼三者而汗出，不可即用斂汗之劑，神定而汗自止。若血塊作痛，芪朮未可遽加，宜服生化湯二、三帖，以消塊痛，隨繼服加參生化湯，以止虛汗。若分娩後倦甚，濈濈然汗出，形色又脫，乃亡陽脫汗也；汗本亡陽，陽亡則陰隨之，故又當從權，速灌加參生化湯，倍參以救危，毋拘塊痛。婦人產多汗，當健脾以斂水液之精，益榮衛以噓血歸源，灌溉四肢，不使妄行。雜症雖有自汗盜汗之分，然當歸六黃湯不可治產後之盜汗也，並宜服加參生化湯及加味補中益氣二方；若服參芪而汗多不止，及頭出汗而不至腰足，必難療矣；如汗出而手拭不及者，不治。產後汗出氣喘等症，虛之極也，不受補者，不治。</p>
<p><u>麻黃根湯</u>　治產後虛汗不止。</p>
<p>人參（二錢）　當歸（二錢）　黃芪（一錢半，炙）　白朮（一錢，炒）　桂枝（五分）　麻黃根（一錢）　粉草（五分，炒）　牡蠣（研，少許）　浮麥（一大撮）</p>
<p>虛脫汗多，手足冷，加黑薑四分，熟附子一片；渴加麥冬一錢，五味十粒。肥白人產後多汗，加竹瀝一盞，薑汁一小匙，以清痰火。惡風寒，加防風、桂枝各五分；血塊不落，加熟地三錢，晚服八味地黃丸。</p>
<p>山茱萸　山藥　丹皮　雲苓（各八錢）　澤瀉（五錢）　熟地（八錢）　五味子（五錢）　炙黃芪（一兩）</p>
<p>煉蜜為丸。陽加於陰則汗，因而遇風，變為瘛瘲者有之，尤難治。故汗多，宜謹避風寒。汗多小便不通，乃亡津液故也，勿用利水藥。</p>
<p><u>歌括：</u>分娩之時汗淋漓，驚恐勞傷心肝脾。不可驟用斂汗劑，參加生化救危急。麻黃根湯當歸參，芪朮桂枝麻黃根。牡蠣粉草浮小麥，汗多服此效如神。</p>

<h3>盜汗</h3>
<p>產後睡中汗出，醒來即止，猶盜瞰人睡，而謂之盜汗，非汗自至之比。《雜症論》云「自汗陽虧，盜汗陰虛。」然當歸六黃湯又非產後盜汗方也，惟兼氣血而調治之，乃為得耳。</p>
<p><u>止汗散</u>　治產後盜汗。</p>
<p>人參（二錢）　當歸（二錢）　熟地（一錢半）　麻黃根（五分）　黃連（五分，酒炒）　浮小麥（一大撮）　棗（一枚）</p>
<p><u>又方</u></p>
<p>牡蠣（煅細末，五分）　小麥麵（炒黃，研末）</p>
<p><u>眉批：</u>一本牡蠣、小麥炒黃，各五分，空心調服。</p>
<p><u>歌括：</u>產後睡中出盜汗，醒後汗止身疲倦。多因陰虛邪作祟，兼顧氣血並收斂。產後盜汗止汗散，人參當歸川黃連。熟地浮麥麻黃根，或用牡蠣小麥麵。</p>

<h3>口渴兼小便不利</h3>
<p>產後煩躁，咽乾而渴，兼小便不利，由失血汗多所致，治當助脾益肺，升舉氣血，則陽升陰降，水入經而為血為液，谷入胃而氣長脈行，自然津液生而便調利矣。若認口渴為火，而用芩、連、梔、柏以降之，認小便不利為水滯，而用五苓散以通之，皆失治也。必因其勞損而溫之益之，因其留滯而濡之行之，則庶幾矣。</p>
<p><u>生津止渴益水飲</u></p>
<p>人參　麥冬　當歸　生地（各三錢）　黃芪（一錢）　葛根（一錢）　升麻　炙草（各四分）　茯苓（八分）　五味子（十五粒）</p>
<p>汗多，加麻黃根一錢，浮小麥一大撮；大便燥，加肉蓯蓉一錢五分；渴甚，加生脈散，不可疑而不用。</p>
<p><u>歌括：</u>產後口渴咽又乾，小便不利是何緣。失血汗多原致此，助脾益肺效非凡。生津止渴益水飲，麥冬歸芪與人參。生地茯苓五味子，升麻炙草並葛根。</p>

<h3>遺尿</h3>
<p>氣血太虛，不能約束，宜八珍湯加升麻、柴胡，甚者加熟附子一片。</p>
<p><u>歌括：</u>產後氣血太虛弱，頻頻遺尿難固攝。不可妄投收澀劑，峻補氣血泉自縮。產後遺尿難約束，八珍湯加升柴胡。甚者更入熟附片，水煎溫服病可除。</p>

<h1>產後編下卷</h1>

<h2>誤破尿胞</h2>
<p>產理不順，穩婆不精，誤破尿胞膀胱者，用參、芪為君，歸、芎為臣，桃仁、陳皮、茯苓為佐，豬羊尿胞煎藥，百服乃安。又方云，用生黃絲絹一尺，白牡丹皮根為末，白芨末各二錢，水二碗，煮至絹爛如飴，服之，宜靜臥，不可作聲，名補脬飲，神效。</p>

<h2>患淋</h2>
<p>由產後虛弱，熱客於脬中，內虛頻數，熱則小便淋澀作痛曰淋。</p>
<p><u>茅根湯</u>　凡產後冷熱淋並治之。</p>
<p>石膏（一兩）　白茅根（一兩）　瞿麥　白茯苓（各五錢）　葵子　人參　桃膠　滑石（各一錢）　石首魚頭（四個）</p>
<p>燈心水煎，入齒末，空心服。</p>
<p><u>眉批：</u>一本小注載：症由內虛，方用石膏一兩，無此治法，不可拘執陳方以致誤人。一本石膏作一錢，無滑石。一作各等分。</p>
<p><u>又方</u>　治產後小便痛淋血。</p>
<p>白茅根　瞿麥　葵子　車前子　通草（以上俱無份量）　鯉魚齒（一百個）</p>
<p>水煎服。亦入齒末。</p>
<p><u>眉批：</u>按齒末，疑均是鯉魚齒。</p>
<p><u>歌括：</u>患淋石膏茅根君，瞿麥茯苓滑石參。葵子桃膠石首魚，燈心為引奏效神。產後小便痛血淋，瞿麥葵子白茅根。車前通草鯉魚齒，魚齒研末水煎吞。</p>

<h2>便數</h2>
<p>由脬內素有冷氣，因產發動，冷氣入脬故也。用赤石脂二兩為末，空心服。</p>
<p>又方，治小便數及遺尿，用益智仁二十八枚為末，米飲送下二錢。</p>
<p><u>又桑螵散</u></p>
<p>桑螵蛸（三十個）　人參　黃芪　鹿茸　牡蠣　赤石脂（各三錢）</p>
<p>為末，空心服二錢，米飲送下。</p>
<p><u>歌括：</u>冷氣入脬致便數，桑螵蛸散參芪多。鹿茸牡蠣赤石脂，研末服之泉可縮。</p>

<h2>瀉</h2>
<p>產後泄瀉，非雜症有食泄、濕泄、水穀注下之論，大率氣虛食積與濕也。氣虛宜補、食積宜消、濕則宜燥，然惡露未淨，遽難驟燥，當先服生化湯二、三帖，化舊生新，加茯苓以利水道，俟血生，然後補氣以消食，燥濕以分利水道，使無滯澀虛虛之失。若產旬日外，方論雜症，尤當論虛實而治也。如痛下清水，腹鳴，米飲不化者，以寒泄治；如糞水黃赤，肛門作痛，以熱泄治之；有因飲食過多，傷脾成泄，氣臭如敗卵，以食積治之；又有脾氣久虛少食，食下即鳴，急盡下所食之物，方覺快者，以虛寒泄治之。治法寒則溫之，熱則清之，脾傷食積，分利健脾，兼消補虛，善為調治，無失也。產後虛瀉，眠昏人不識，弱甚形脫危症，必用人參二錢，白朮、茯苓各二錢，附子一錢，方能回生。若脈浮弦，按之不鼓，即為中寒，此蓋陰先亡而陽欲去，速宜大補氣血，加附子、黑薑以回元陽，萬勿忽視。</p>
<p><u>加減生化湯</u>　治產後塊未消患瀉症。</p>
<p>川芎（二錢）　茯苓（二錢）　當歸（四錢）　黑薑（五分）　炙草（五分）　桃仁（十粒）　蓮子（八枚）</p>
<p>水煎，溫服。</p>
<p><u>健脾利水生化湯</u>　治產後塊已除，患瀉症。</p>
<p>川芎（一錢）　茯苓（一錢半）　歸身（二錢）　黑薑（四分）　陳皮（五分）　炙草（五分）　人參（三錢）　肉果（一個，製）　白朮（一錢，土炒）　澤瀉（八分）</p>
<p>寒瀉，加乾薑八分；寒痛，加砂仁、炮薑各八分；熱瀉，加炒黃連八分；瀉水腹痛，米飲不化，加砂仁八分，麥芽、山楂各一錢；瀉有酸噯臭氣，加神麯、砂仁各八分。脾氣久虛，瀉出所食物方快，以虛寒論：瀉水者，加蒼朮一錢以燥濕；脾氣弱，元氣虛，必須大補，佐消食清熱卻寒藥。弱甚形色脫，必須第一方，參、朮、苓、附，必用之藥也。諸瀉俱加升麻酒炒，蓮子十粒。</p>
<p><u>歌括：</u>產後瀉泄非雜症，氣虛食積濕邪生。濕則宜燥食消導，寒則溫之熱宜清。產後瀉泄塊未散，生化湯中再加減。川芎當歸茯苓配，黑薑桃仁炙草蓮。產後塊除患瀉症，健脾利水生化湯。歸芎茯苓陳皮草，參朮肉果澤瀉薑。</p>

<h2>完穀不化</h2>
<p>因產後勞倦傷脾，而運轉稽遲也，名飧泄；又飲食太過，脾胃受傷，亦然，俗呼水穀痢是也。然產方三日內，塊未消化，此脾胃衰弱，參、芪、朮未可遽加，且服生化湯加益智、香砂，少溫脾氣，俟塊消後，加參、芪、朮補氣，肉果、木香、砂仁、益智溫胃，升麻、柴胡清胃氣，澤瀉、茯苓、陳皮以利水，為上策也。</p>
<p><u>加味生化湯</u>　治產後三日內完穀不化，塊未消者。</p>
<p>川芎（一錢）　益智（一錢）　當歸（四錢）　黑薑（四分）　炙草（四分）　桃仁（十粒）　茯苓（一錢半）</p>
<p><u>眉批：</u>一本當歸作三錢，有棗一枚。</p>
<p><u>參苓生化湯</u>　治產後三日內塊已消，穀不化，胎前素弱患此病者。</p>
<p>川芎（一錢）　當歸（二錢）　黑薑（四分）　炙草（五分）　人參（二錢）　茯苓（一錢）　白芍（一錢，炒）　益智（一錢，炒）　白朮（二錢，土炒）　肉果（一個，製）</p>
<p>瀉水多，加澤瀉、木通各八分；腹痛，加砂仁八分；渴，加麥冬、五味子；寒瀉，加黑薑一錢，木香四分；食積，加神麯、麥芽消飯麵，砂仁、山楂消肉食。產後瀉痢日久，胃氣虛弱，完穀不化，宜溫助胃氣，六君子湯加木香四分，肉果一個（製）。</p>
<p><u>眉批：</u>一本有蓮子八枚，去心，棗三枚。</p>
<p><u>歌括：</u>產後三日塊未散，勞倦傷脾運轉難。或因暴食傷脾胃，完穀不化飧瀉現。加味生化湯川芎，益智當歸白茯苓。黑薑桃仁炙甘草，煎服數劑瀉泄停。健脾參苓生化湯，歸芎炙草肉果薑。白芍白朮益智仁，胎前素弱此方嘗。</p>

<h2>痢</h2>
<p>產後七日內外，患赤白痢，裡急後重頻並，最為難治。欲調氣行血，而推蕩痢邪，猶患產後元氣虛弱；欲滋榮益氣，而大補虛弱，又助痢之邪，惟生化湯減乾薑，而代以木香、茯苓，則善消惡露，而兼治痢疾，並行而不相悖也。再服香連丸，以俟一、二日後，病勢如減，可保無虞。若產七日外，有患褐花色後重，頻並虛痢，即當加補無疑。若產婦稟厚，產期已經二十餘日，宜服生化湯加連、芩、厚朴、芍藥行積之劑。</p>
<p><u>加減生化湯</u>　治產後七日內患痢。</p>
<p>川芎（二錢）　當歸（五錢）　炙草（五分）　桃仁（十二粒）　茯苓（一錢）　陳皮（四分）　木香（磨，三分）</p>
<p>紅痢腹痛，加砂仁八分。</p>
<p><u>青血丸</u>　治噤口痢。</p>
<p>香連為末，加蓮肉粉，各一兩半，和勻為丸，酒送下四錢。</p>
<p>凡產三、四日後，塊散，痢疾少減，共十症，開後依治：</p>
<p>一產後久瀉：元氣下陷，大便不禁，肛門如脫，宜服六君子湯，加木香四分，肉果一個（製），薑汁五分；</p>
<p>二產後瀉痢：色黃，乃脾土真氣虛損，宜服補中益氣湯，加木香、肉果；</p>
<p>三產後傷麵食：瀉痢，宜服生化湯，加神麯、麥芽；一本神麯、麥芽下有各一錢。</p>
<p>四產後傷肉食：瀉痢，宜服生化湯，加山楂、砂仁；</p>
<p>五產後胃氣虛弱：瀉痢，完穀不化，當溫助胃氣，宜服六君子湯，加木香四分，肉果一個（製）；</p>
<p>六產後脾胃虛弱：四肢浮腫，宜服六君子湯，加五皮散（見後水腫）；</p>
<p>七產後瀉痢：無後重，但久不止，宜服六君子湯，加木香、肉果；</p>
<p>八產後赤白痢：臍下痛，當歸、厚朴、黃連、肉果、甘草、桃仁、川芎；</p>
<p>九產後久痢：色赤，屬血虛，宜四物湯，加荊芥、人參；</p>
<p>十產後久痢：色白，屬氣虛，宜六君子湯，加木香、肉果。</p>
<p><u>歌括：</u>產後患痢治最難，清稀鴨溏定屬寒。赤黃相黏定是熱，寒溫熱清宜詳參。生化湯中減黑薑，加入茯苓廣木香。惡露痢疾相兼治，並行不悖法最良。產後噤口青血丸，兩半蓮肉木香連。和勻為丸酒送下，每服四錢三劑痊。產後久瀉元氣損，肛門如脫便不禁。六君子湯加木香，肉果一個薑汁吞。產後久痢色白蒼，病原血虛四物養。再加人參與荊芥，連服數劑可復康。產後久痢色紅赤，氣虛亦服六君子。木香肉果同加入，連服數劑痢自止。</p>

<h2>霍亂</h2>
<p>由勞傷氣血，臟腑空虛，不能運化食物，及感冷風所致，陰陽升降不順，清濁亂於脾胃，冷熱不調，邪正相搏，上下為霍亂。</p>
<p><u>生化六和湯</u>　治產後血塊痛未除，患霍亂。</p>
<p>川芎（二錢）　當歸（四錢）　黑薑　炙草　陳皮　藿香（各四分）　砂仁（六分）　茯苓（一錢）</p>
<p>薑三片，煎。</p>
<p><u>附子散</u>　治產後霍亂吐瀉手足逆冷須無塊痛方可服。</p>
<p>白朮（一錢）　當歸（二錢）　陳皮　黑薑　丁香　甘草（各四分）</p>
<p>共為末，粥飲送下二錢。（一本有附子五分。）</p>
<p><u>溫中湯</u>　治產後霍亂吐瀉不止無塊痛者可服。</p>
<p>人參（一錢）　白朮（一錢半）　當歸（二錢）　厚朴（八分）　黑薑（四分）　茯苓（一錢）　草豆蔻（六分）</p>
<p>薑三片，水煎服。</p>
<p><u>歌括：</u>勞傷氣血臟腹空，食難運化感冷風。陰陽不順清濁亂，冷熱不調邪正爭。生化六和芎歸薑，陳皮炙草砂藿香。茯苓一錢薑三片，產後霍亂服此方。附子散中朮歸薑，陳皮甘草與丁香。為末二錢米飲下，無瘀霍亂此方良。產後霍亂溫中湯，當歸厚朴參朮薑。茯苓草叩片薑引，水煎溫服保安康。</p>

<h2>嘔逆不食</h2>
<p>產後勞傷臟腑，寒邪易乘於腸胃，則氣逆嘔吐而不下食也。又有瘀血未淨而嘔者，亦有痰氣入胃，胃口不清而嘔者，當隨症調之。</p>
<p><u>加減生化湯</u>　治產婦嘔逆不食。</p>
<p>川芎（一錢）　當歸（三錢）　黑薑　砂仁　藿香（各五分）　淡竹葉（七片）</p>
<p>水煎，和薑汁二匙服。</p>
<p><u>歌括：</u>加減生化芎歸薑，砂仁竹葉與藿香。薑汁二匙和水煎，嘔逆不食投此方。</p>
<p><u>溫胃丁香散</u>　治產後七日外嘔逆不食。</p>
<p>當歸（三錢）　白朮（二錢）　黑薑（四分）　丁香（四分）　人參（一錢）　陳皮（五分）　炙草（五分）　前胡（五分）　藿香（五分）</p>
<p>薑三片，水煎服。</p>
<p><u>歌括：</u>溫胃丁香效更彰，人參白朮並黑薑。陳皮前胡炙甘草，當歸薑片丁藿香。</p>
<p><u>石蓮散</u>　治產婦嘔吐心沖目眩。</p>
<p>石蓮子（去殼、去心，一兩半）　白茯苓（一兩）　丁香（五分）</p>
<p>共為細末，米飲送下。</p>
<p><u>眉批：</u>一本有白朮，無白茯苓。丁香作五錢，用者酌之。</p>
<p><u>歌括：</u>產婦嘔吐目中眩，去心去殼用石蓮。茯苓丁香共研末，米飲送服保平安。</p>
<p><u>生津益液湯</u>　治產婦虛弱，口渴氣少，由產後血少多汗內煩不生津液。</p>
<p>人參　麥冬（去心）　茯苓（一兩）　大棗　竹葉　浮小麥　炙草　栝蔞根</p>
<p>大渴不止，加蘆根。</p>
<p><u>眉批：</u>一本人參一錢，麥冬、茯苓三錢，存參。</p>
<p><u>歌括：</u>生津益液用大棗，參麥茯苓炙甘草。竹葉小麥栝蔞根，大渴再加蘆根妙。</p>

<h2>咳嗽</h2>
<p>治產後七日內，外感風寒，咳嗽鼻塞，聲重惡寒，勿用麻黃以動汗；嗽而脅痛，勿用柴胡湯；嗽而有聲，痰少面赤，勿用涼藥。凡產有火嗽，有痰嗽，必須調理半月後，方可用涼藥，半月前不當用。</p>
<p><u>加味生化湯</u>　治產後外感風寒咳嗽及鼻塞聲重。</p>
<p>川芎（一錢）　當歸（二錢）　杏仁（十粒）　桔梗（四分）　知母（八分）</p>
<p>有痰，加半夏曲；虛弱有汗咳嗽，加人參。總之產後不可發汗。</p>
<p><u>眉批：</u>知母一本作四分。</p>
<p><u>歌括：</u>產後七日感風寒，咳嗽鼻塞亦惡寒。勿用麻黃柴胡湯，尚須分清火與痰。風寒咳嗽鼻聲重，加味生化用最靈。歸芍知母桔梗杏，痰加半夏虛參增。</p>
<p><u>加參安肺生化湯</u>　治產後虛弱，旬日內外感風寒，咳嗽聲重有痰，或身熱頭痛及汗多者。</p>
<p>川芎（一錢）　人參（一錢）　知母（一錢）　桑白皮（一錢）　當歸（二錢）　杏仁（十粒，去皮尖）　甘草（四分）　桔梗（四分）　半夏（七分）　橘紅（三分）</p>
<p>虛人多痰，加竹瀝一杯，薑汁半匙。</p>
<p><u>眉批：</u>按《咳嗽論》中，明示縱有火嗽，在半月前，猶不得輕用涼藥，垂戒綦嚴，而第一與第二方中，均有知母；小注均有「外感風寒」云云。此必於既感之後，將蘊而為燥熱，不得已而用之，小注未及申明。如謂不然，苟初感即用此涼品，豈不與前論顯為枘鑿，讀者須會前人微意，庶不致用古方而自少權衡耳。</p>
<p><u>歌括：</u>產後旬日感風寒，咳嗽聲重亦有痰。身體虛弱難御邪，身熱頭痛多出汗。加參安肺生化湯，歸芍人參杏仁桑。知母甘草桔梗配，半夏橘紅共煎嘗。</p>
<p><u>加味四物湯</u>　治半月後乾嗽有聲痰少者。</p>
<p>川芎　白芍　知母　栝蔞仁（各一錢）　生地　當歸（各二錢）　訶子（二錢）　冬花（六分）　桔梗（四分）　甘草（四分）　兜鈴（四分）　生薑（一大片）</p>
<p><u>歌括：</u>加味四物歸芍芎，生地知母苦桔梗。訶子冬花栝蔞仁，甘草生薑與兜鈴。</p>

<h2>水腫</h2>
<p>產後水氣，手足浮腫，皮膚現光榮色，乃脾虛不能制水，腎虛不能行水也。必以大補氣血為先，佐以蒼朮、白朮、茯苓補脾；壅滿，用陳皮、半夏、香附消之；虛人加人參、木通；有熱，加黃芩、麥冬以清肺金。健脾利水，補中益氣湯；七日外，用人參、白朮各二錢，茯苓、白芍各一錢，陳皮五分，木瓜八分，紫蘇、木通、大腹皮、蒼朮、厚朴各四分；大便不通，加郁李仁、麻仁各一錢。如因寒邪濕氣傷脾，無汗而腫，宜薑皮、半夏、蘇葉加於補氣方，以表汗。</p>
<p><u>五皮散</u>　治產後風濕客傷脾經，氣血凝滯，以致面目浮虛，四肢腫脹氣喘。</p>
<p>五加皮　地骨皮　大腹皮　茯苓皮（各一錢）　薑皮（一錢）</p>
<p>棗一枚，水煎服。</p>
<p>又云，產後惡露不淨，停留胞絡，致令浮腫，若以水氣治之，投以甘遂等藥，誤矣！但服調經散，則血行而腫消矣。</p>
<p><u>調經散</u></p>
<p>沒藥（另研）　琥珀（另研，各一錢）　肉桂　赤芍　當歸（各一錢）</p>
<p>上為細末，每服五分，薑汁、酒各少許，調服。</p>
<p><u>眉批：</u>此方能調經治腹痛。</p>
<p><u>歌括：</u>產後風濕客脾經，氣血凝滯四肢腫。面目虛浮脹氣喘，肺腎虛羸水難行。五皮散能消水腫，五加地骨大腹苓。薑棗善於調營衛，以皮行皮可建功。惡露不行致浮腫，不須治水但調經。歸芍沒藥琥珀桂，溫經行血水患平。</p>

<h2>流注</h2>
<p>產後惡露流於腰臂足關節之處，或漫腫、或結塊，久則腫起作痛，肢體倦怠，急宜用蔥熨法以治外腫；內服參歸生化湯以消血滯，無緩也。未成者消，已成者潰。</p>
<p><u>蔥熨法</u></p>
<p>用蔥一握，炙熱，搗爛作餅，敷痛處，用厚布二、三層，以熨斗，火熨之。</p>
<p><u>參歸生化湯</u></p>
<p>川芎（一錢半）　當歸（二錢）　炙草（五分）　人參（二錢）　黃芪（一錢半）　肉桂（五分）　馬蹄香（二錢）</p>
<p>此症若不補氣血，節飲食，慎起居，未有得生者。如腫起作痛，起居飲食如常，是病氣未深，形氣未損，易治；若漫腫微痛，起居倦怠，飲食不足，最難治。或未成膿，未潰，氣血虛也，宜服八珍湯；憎寒惡寒，陽氣虛也，宜服十全大補湯；補後大熱，陰血虛也，宜服四物湯，加參、朮、丹皮；嘔逆，胃氣虛也，宜服六君子湯，加炮薑、乾薑；食少體倦，脾氣虛也，宜服補中益氣湯；四肢冷逆，小便頻數，腎氣虛也，補中益氣湯加益智仁一錢。神仙回洞散治產後流注惡露，日久成腫，用此宜導其膿，若未補氣血旺，不可服此方。</p>
<p><u>歌括：</u>產後惡露流關節，漫腫結塊痛切切。急宜蔥熨治外腫，參歸生化消瘀血。參歸生化桂黃芪，川芎炙草香馬蹄。此症當須補氣血，飲食起居要適宜。</p>

<h2>膨脹</h2>
<p>其人素弱，臨產又勞，中氣不足，胸膈不利，而轉運稽遲，若產後即服生化湯以消塊止痛，又服加參生化湯以健脾胃，自無中滿之症。其膨脹，因傷食而誤消，因氣鬱而誤散，多食冷物而停留惡露；又因血虛大便燥結，誤下而愈脹；殊不知氣血兩虛，血塊消後，當大補氣血，以補中虛。治者若但知傷食宜消，氣鬱宜散，惡露當攻，便結可下，則胃氣反損，滿悶益增，氣不升降，濕熱積久，遂成膨脹。豈知消導坐於補中，則脾胃強，而所傷食氣消散；助血兼行，大便自通，惡露自行。</p>
<p>如產後中風，氣不足，微滿，誤服耗氣藥而脹者，服　補中益氣湯。</p>
<p>人參（五分）　當歸（五分）　白朮（五分）　白茯苓（一錢）　川芎（四分）　白芍（四分）　蘿蔔子（四分）　木香（三分）</p>
<p><u>眉批：</u>一本人參、白朮俱作一錢，當歸作二錢，有薑一片。</p>
<p><u>歌括：</u>產後中風氣血弱，醫者誤投耗散藥。氣不升降生膨脹，補中益氣是妙著。補中益氣用歸芎，人參白朮與茯苓。木香白芍蘿蔔子，膨脹消除氣血行。</p>
<p>如傷食，誤服導藥成脹；或脅下積塊，宜服健脾湯。</p>
<p>人參　白朮　當歸（各三錢）　白茯苓　白芍　神麯　吳萸（各一錢）　大腹皮　陳皮（各四分）　砂仁　麥芽（各五分）</p>
<p><u>眉批：</u>一本人參、白朮作二錢。</p>
<p><u>歌括：</u>傷食消導反生脹，病家宜服健脾湯。參苓歸芍陳曲麥，大腹萸砂共煎嘗。</p>
<p>如大便不通，誤服下藥成脹，及腹中作痛，宜服養榮生化湯。</p>
<p>當歸（四錢）　白芍（一錢）　白茯苓（一錢）　人參（一錢）　白朮（二錢）　陳皮（五分）　大腹皮（五分）　香附（五分）　蓯蓉（一錢）　桃仁（十粒，製）</p>
<p>塊痛，將藥送四消丸。屢誤下，須用參、歸半斤。</p>
<p><u>眉批：</u>一本無桃仁。</p>
<p><u>歌括：</u>便秘誤下反生脹，宜服養榮生化湯。歸芍參苓陳腹皮，白芍蓯蓉桃仁香。</p>

<h2>怔忡驚悸</h2>
<p>由產憂驚勞倦，去血過多，則心中跳動不安，謂之怔忡；若惕然震驚，心中怯怯，如人將捕之狀，謂之驚悸。治此二症，惟調和脾胃，志定神清而病愈矣。如分娩後血塊未消，宜服生化湯，且補血行塊，血旺則怔定驚平，不必加安神定志劑。如塊消痛止後患此，宜服加減養榮湯。</p>
<p>當歸（二錢）　川芎（二錢）　茯神（一錢）　人參（一錢）　棗仁（一錢，炒）　麥冬（一錢）　遠志（一錢）　白朮（一錢）　黃芪（一錢，炙）　元肉（八枚）　陳皮（四分）　炙草（四分）</p>
<p>薑煎。</p>
<p>虛煩加竹瀝、薑汁，去川芎、麥冬，再加竹茹一團；加木香，即歸脾湯。</p>
<p><u>養心湯</u>　治產後心血不定，心神不安。</p>
<p>炙黃芪（一錢）　茯神（八分）　川芎（八分）　當歸（二錢）　麥冬（一錢八分）　遠志（八分）　柏子仁（一錢）　人參（一錢半）　炙草（四分）　五味（十粒）</p>
<p>薑，水煎服。</p>
<p><u>眉批：</u>一本有元肉六枚。</p>
<p><u>歌括：</u>勞倦失血心跳動，如人將捕惕然驚。症分怔忡與驚悸，調和脾胃神志寧。加減養榮用人參，歸芎麥冬共茯神。黃芪元肉陳薑草，白朮遠志炒棗仁。心神不安須養心，參芪歸芎與茯神。麥冬遠志炙甘草，生薑五味柏子仁。</p>

<h2>骨蒸</h2>
<p>宜服保真湯。先服清骨散。</p>
<p><u>柴胡梅連湯</u>　即清骨散作湯，速效。</p>
<p>柴胡　前胡　黃連　烏梅（去核）</p>
<p>各二兩，共為末聽用；再將豬脊骨一條，豬苦膽一個，韭菜白十根，各一寸，同搗成泥，入童便一酒盞，攪如稀糊，入藥末，再搗，為丸如綠豆大，每服三、四十丸，清湯送下。如上膈熱多，食後服。此方凡男女骨蒸皆可用之，不專治產婦。</p>
<p><u>保真湯</u></p>
<p>黃芪（六分）　人參（二錢）　白朮（二錢，炒）　炙草（四分）　川芎（六分）　當歸（二錢）　天冬（一錢）　麥冬（二錢）　白芍（二錢）　枸杞（二錢）　黃連（六分，炒）　黃柏（六分，炒）　知母（二錢）　生地（二錢）　五味（十粒）　地骨皮（六分）</p>
<p>棗三枚，去核，水煎服。一本無麥冬、黃連。</p>
<p><u>加味大造湯</u>　治骨蒸勞熱。若服清骨散、梅連丸不效服此方。</p>
<p>人參（一兩）　當歸（一兩）　麥冬（八分）　石斛（八分，酒蒸）　柴胡（六錢）　生地（二兩）　胡連（五錢）　山藥（一兩）　枸杞（一兩）　黃柏（七分，炒）</p>
<p>先將麥冬、地黃搗爛，後入諸藥同搗為丸，加蒸紫河車另搗，焙乾為末，煉蜜丸。</p>
<p><u>眉批：</u>一本麥冬、石斛俱作八錢，黃柏四分，酒炒。</p>
<p><u>歌括：</u>骨蒸先服清骨散，柴胡前胡烏梅連。豬脊苦膽韭菜白，童便一盞共搗丸。骨蒸保真湯方好，參芪歸芍當歸草。知柏二冬連朮芎，地骨枸杞五味棗。加味大造治骨蒸，參歸杞柏連麥冬。生地石山與柴胡，河車另搗蜜丸成。</p>

<h2>心痛</h2>
<p>此即胃脘痛。因胃脘在心之下，勞傷風寒及食冷物而作痛，俗呼為心痛。心可痛乎！血不足，則怔忡驚悸不安耳。若真心痛，手足青黑色，旦夕死矣。治當散胃中之寒氣，消胃中之冷物，必用生化湯，佐消寒食之藥，無有不安。若綿綿而痛，可按止之，問無血塊，則當論虛而加補也。產後心痛、腹痛，二症相似，因寒食與氣上攻於心，則心痛；下攻於腹，則腹痛，均用生化湯加肉桂、吳萸等溫散之藥也。</p>
<p><u>加味生化湯</u></p>
<p>川芎（一錢）　當歸（三錢）　黑薑（五分）　肉桂（八分）　吳萸（八分）　砂仁（八分）　炙草（五分）</p>
<p>傷寒食，加肉桂、吳萸；傷麵食，加神麯、麥芽；傷肉食，加山楂、砂仁；大便不通，加肉蓯蓉。</p>
<p><u>歌括：</u>勞傷風寒食傷冷，綿綿不止胃脘痛。散寒消積化食滯，加味生化服之寧。寒食吳萸肉桂投，麵食神麯麥芽增。肉食山楂砂仁用，大便不通加蓯蓉。</p>

<h2>腹痛</h2>
<p>先問有塊無塊。塊痛，只服生化湯，調失笑散二錢，加元胡一錢；無塊，則是遇風冷作痛，宜服加減生化湯。</p>
<p>川芎（一錢）　當歸（四錢）　黑薑（四分）　炙草（四分）　防風（七分）　吳萸（六分）　白蔻（五分）　桂枝（七分）</p>
<p>痛止去之。隨傷食物，所加如前。</p>
<p><u>歌括：</u>腹痛無塊因風冷，加減生化湯最靈。歸芎薑草白豆蔻，吳萸桂枝與防風。</p>

<h2>小腹痛</h2>
<p>產後虛中，感寒飲冷，其寒下攻小腹作痛；又有血塊作痛者；又產後血虛臍下痛者，並治之以加減生化湯。</p>
<p>川芎（一錢）　當歸（三錢）　黑薑（四分）　炙草（四分）　桃仁（十粒）</p>
<p>有塊痛者，本方中送前胡散，亦治寒痛；若無塊，但小腹痛，亦可按而少止者，屬血虛，加熟地三錢，前胡、肉桂各一錢為末，名前朝胡散。</p>
<p><u>歌括：</u>產後虛中感寒冷，其寒下攻系腹痛。治以加減生化湯，當歸桃仁薑草芎。</p>

<h2>虛勞</h2>
<p>指節冷痛，頭汗不止。</p>
<p>人參（三錢）　當歸（三錢）　黃芪（二錢）　淡豆豉（十粒）　生薑（三片）　韭白（十寸）　豬腎（二個）</p>
<p>先將豬腎煮熟，取汁煎藥八分，溫服。</p>
<p><u>眉批：</u>一本有或用豬胃一個。先將胃略煮後再煎湯煮藥。</p>
<p><u>歌括：</u>頭汗不止指節痛，產後虛勞此症生。參芪豆薑歸韭白，豬腎煮湯煎藥沖。</p>

<h2>遍身疼痛</h2>
<p>產後百節開張，血脈流散，氣弱則經絡間血多阻滯，累日不散，則筋牽脈引，骨節不利，故腰背不能轉側，手足不能動履，或身熱頭痛，若誤作傷寒，發表出汗，則筋脈動盪，手足發冷，變症出焉，宜服趁痛散。</p>
<p>當歸（一錢）　甘草　黃芪　白朮　獨活（各八分）　肉桂（八分）　桑寄生（一錢）　牛膝（八分）　薤白（五根）</p>
<p>薑三片，水煎服。</p>
<p><u>眉批：</u>一本無桑寄生。</p>
<p><u>歌括：</u>百節開張產後現，血脈瘀阻經絡間。骨節不利腰背強，遍身疼痛動履難。趁痛散中君當歸，黃芪白朮甘草配。獨活牛膝桑寄生，薤白生薑與肉桂。</p>

<h2>腰痛</h2>
<p>由女人腎位系胞，腰為腎腑，產後勞傷腎氣，損動胞絡，或虛未復而風乘之也。</p>
<p><u>養榮壯腎湯</u>　治產後感風寒，腰痛不可轉。</p>
<p>當歸（二錢）　防風（四分）　獨活　桂心　杜仲　續斷　桑寄生（各八分）</p>
<p>生薑三片，水煎服。兩帖後痛未止，屬腎虛，加熟地三錢。一本有川芎八分。</p>
<p><u>加味大造丸</u>　治產後日久，氣血兩虛，腰痛腎弱。方見骨蒸條。</p>
<p><u>青娥丸</u></p>
<p>胡桃（十二個）　破故紙（八兩，酒浸，炒）　杜仲（一斤，薑汁炒，去絲）</p>
<p>為細末，煉蜜丸，淡醋湯送六十丸。</p>
<p><u>眉批：</u>胡桃一本作二十個。</p>
<p><u>歌括：</u>產後腰痛轉側難，養榮壯腎疼自蠲。當歸防風杜仲桂，獨活寄生薑續斷。腰痛驗方青娥丸，胡桃杜仲故紙團。壯腰補腎強筋骨，淡醋湯送效更顯。</p>

<h2>脅痛</h2>
<p>乃肝經血虛氣滯之故。氣滯，用四君子湯加青皮、柴胡；血虛，用四物湯加柴胡、人參、白朮。若概用香燥之藥，則反傷清和之氣，無所生矣。</p>
<p><u>補肺散</u>　治脅痛。</p>
<p>山萸　當歸　五味　山藥　黃芪　川芎　熟地　木瓜　白朮　獨活　棗仁（各等分）</p>
<p>水煎服。</p>
<p><u>眉批：</u>一本山萸二錢，當歸二錢，五味十粒，黃芪八分，川芎六分，熟地錢半，木瓜、白朮各一錢，獨活八分，棗仁一錢，薑一片，無山藥，存參。</p>
<p><u>歌括：</u>補肺散將脅痛醫，山萸山藥歸芎芪。五味木瓜與獨活，白朮棗仁共熟地。</p>

<h2>陰痛</h2>
<p>產後起居太早，產門感風作痛，衣被難近身體，宜用祛風定痛湯。</p>
<p>川芎（一錢）　當歸（三錢）　獨活　防風　肉桂　荊芥（各五分，炒黑）　茯苓（一錢）　地黃（二錢）</p>
<p>棗二枚，煎服。</p>
<p>又附陰疳陰蝕。陰中瘡曰䘌瘡，或痛或癢，如蟲行狀，膿汁淋漓。陰蝕幾盡者，由心腎煩鬱，胃氣虛弱，致氣血流滯。經云「諸瘡痛癢皆屬於心」，治當補心養腎，外以藥熏洗，宜用十全陰疳散。</p>
<p>川芎　當歸　白芍　地榆　甘草（各等分）</p>
<p>水五碗，煎二碗，去渣熏，日三夜四，先熏後洗。</p>
<p>一方，用蒲黃一升，水銀二兩，二味調勻搽。</p>
<p>一方，用蝦蟆、兔糞等分為末，敷瘡。</p>
<p>一方，治疳蟲食下部及五臟。取東南桃枝，輕打頭散，以綿纏之。</p>
<p>一方，用石硫黃末，將縛桃枝蘸而煙燻之（按此條宜與上條合看）。</p>
<p>一方，截一短竹筒，先納陰中，以桃枝燒煙燻之。</p>
<p><u>歌括：</u>祛風定痛治陰痛，獨活肉桂與川芎。當歸地黃炒荊芥，大棗防風白茯苓。十全陰疳散巉瘡，先熏後洗外用方。歸芍川芎地榆草，日三夜四除痛癢。</p>

<h2>惡露</h2>
<p>即繫裹兒汙血，產時惡露隨下，則腹不痛而產自安。若腹欠溫暖，或傷冷物，以致惡露凝塊，日久不散，則虛症百出；或身熱骨蒸，食少羸瘦；或五心煩熱，月水不行，其塊在兩脅，動則雷鳴，嘈雜暈眩，發熱似瘧，時作時止，如此數症，治者欲泄其邪，先補其虛，必用補中益氣湯送三消丸，則元氣不損，惡露可消。</p>
<p><u>加味補中益氣湯</u></p>
<p>人參（一錢）　白朮（二錢）　當歸（三錢）　黃芪（一錢，炙）　白芍（一錢）　廣皮（四分）　甘草（四分）</p>
<p>薑、棗，煎服。</p>
<p><u>三消丸</u>　治婦人死血食積痰三等症。</p>
<p>黃連（一兩，一半用吳萸煎汁去渣浸炒，一半用益智仁炒，去益智仁不用）　川芎（五錢）　萊菔子（一兩五錢，炒）　桃仁（十粒）　山梔　青皮　三稜　莪朮（各五錢，俱用醋炒）　山楂（一兩）　香附（一兩，童便浸炒）</p>
<p>上為末，蒸餅為丸，食遠服，用補中益氣湯送下五、六十丸；或用白朮三錢，陳皮五錢，水一鍾，煎五分送下亦可。</p>
<p><u>眉批：</u>此方產後傷食，惡露不盡。若初產惡露不下，宜服生化湯加楂炭三錢。每日一帖，連服四劑妙。</p>
<p><u>歌括：</u>惡露不行諸症生，食少羸瘦現骨蒸。五心煩熱月水斷，塊在兩脅動則鳴。加味補中益氣湯，參芪芍草歸棗薑。白朮廣皮送三消，惡露可除正不傷。三消丸中黃連君，芎梔稜莪青桃仁。山楂香附萊菔子，連服四劑惡露盡。</p>

<h2>乳癰</h2>
<p>乳頭屬足厥陰肝經，乳房屬足陽明胃經。若乳房臃腫，結核色紅，數日外腫痛潰稠膿，膿盡而愈，此屬膽胃熱毒，氣血壅滯，名曰乳癰，易治。若初起內結小核，不紅不腫不痛，積之歲月，漸大如巉巖山，破如熟榴，難治。治法痛腫寒熱，宜發表散邪；痛甚，宜疏肝清胃；膿成不潰，用托裡；肌肉不生，膿水清稀，宜補脾胃；膿出及潰，惡寒發熱，宜補血氣；飲食不進，或作嘔吐，宜補胃氣。乳岩初起，用益氣養榮湯加歸脾湯，間可內消；若用行氣破血之劑，速亡甚矣。</p>
<p><u>栝蔞散</u>　治一切癰疽，並治乳癰。癰者，六腑不和之氣，陽滯於陰則生之。</p>
<p>栝蔞（一個，連皮搗爛）　生甘草（五分）　當歸（三錢）　乳香（五分，燈心炒）　金銀花（三錢）　白芷（一錢）　沒藥（五分，燈心炒）　青皮（五分）</p>
<p>水煎，溫服。</p>
<p><u>回脈散</u>　乳癰未潰時服此，毒從大便出，虛人不用。</p>
<p>大黃（三錢半）　白芷（八分）　乳香（五分）　木香（五分）　沒藥（五分）　穿山甲（五分，蛤粉拌炒）</p>
<p>共為末，人參二錢煎湯，調藥末服。</p>
<p>一本大黃作三錢，有人參三錢。</p>
<p><u>十全大補湯</u></p>
<p>人參　白朮　黃芪　熟地（各三錢）　茯苓（八分）　甘草（五分）　川芎（八分）　金銀花（三錢）</p>
<p>瀉，加黃連、肉果；渴，加麥冬、五味；寒熱往來，用馬蹄香搗散。凡乳癰服薏苡仁粥好。又方，用烏藥軟白香辣者五錢，研，水一碗，牛皮膠一片，同煎七分，溫服。如孕婦腹內癰，此二方可通用。</p>
<p>一本人參四味各二錢。</p>
<p>又有乳吹，乃小兒飲乳，口氣所吹，乳汁不通，壅結作痛，不急治則成癰，宜速服栝蔞散，更以手揉散之。</p>
<p><u>歌括：</u>乳房臃腫皮色紅，數日外潰出稠膿。膽胃熱毒來作祟，氣血壅滯生乳癰。乳癰速服栝蔞散，當歸白芷青皮甘。乳香沒藥金銀花，水煎溫服症自痊。未潰當服回脈散，山甲蛤粉共炒拌。大黃白芷乳沒香，人參煎湯沖藥面。</p>

<h2>風甚</h2>
<p>用山羊血取色新者，於新瓦上焙乾，研末，老酒衝下五、六分為度；重者用至八分，其效如神。</p>
<p>又用抱不出殼雞子，瓦上焙乾，酒調服。</p>
<p>如治虛寒危症，用藍鬚子根刮皮，新瓦上焙乾，研末，溫服一錢為度，雖危可保萬全。</p>
<p><u>歌括：</u>山羊血能醫風甚，新瓦焙乾老酒斟。重者加至八分量，臨症沖服效如神。</p>

<h2>不語</h2>
<p>乃惡血停蓄於心，故心氣閉塞，舌強不語，用七珍散。</p>
<p>人參　石菖蒲　川芎　生地（各一兩）　辰砂（五分，研）　防風（五錢）　細辛（一錢）</p>
<p>共為細末，用薄荷湯下一錢。因痰氣鬱結，閉口不語者，用好明礬一錢，水飛過，沸湯送下。</p>
<p>一方治產後不語。</p>
<p>人參　石蓮子（去心）　石菖蒲（各等分）</p>
<p>水煎服。</p>
<p>《婦人良方》云：產後喑，心腎虛不能發聲，七珍散；脾氣鬱結，歸脾湯；脾傷食少，四君子湯；氣血俱虛，八珍湯，不應，獨參湯；更不宜急加附子，蓋補其血以生血；若單用佛手散等破血藥，誤矣。</p>
<p><u>歌括：</u>舌強不語用人參，生地川芎與細辛。防風辰砂石菖蒲，方名七珍補心腎。</p>

<h2>補編</h2>
<p><u>產後大便不通</u>　用生化湯內減黑薑加麻仁；脹滿，加陳皮；血塊痛，加肉桂、元胡。如燥結十日以上，肛門必</p>
<p><u>有燥糞，用蜜棗導之。</u></p>
<p><u>煉蜜棗法</u></p>
<p>用好蜜二、三兩，火煉滾，至茶褐色，先用濕桌，傾蜜在桌上，用手作如棗樣，插肛門，待欲大便，去蜜棗，方便。</p>
<p>又方，用麻油，口含竹管入肛門內，吹油四、五口，腹內糞和即通；或豬膽亦可。</p>
<p><u>歌括：</u>產後大便燥不通，煉蜜棗法方最靈。插入肛門一時許，腸潤便下腑氣通。</p>
<p><u>治產後雞爪風</u></p>
<p>桑柴灰（三錢，存性）　魚膠（三錢，炒）　手指甲（十二個，炒）</p>
<p>共為末，黃酒送下，取汗即愈。</p>
<p><u>歌括：</u>婦人產後雞爪風，桑柴煅灰應存性。魚膠指甲均須炒，共為細末黃酒沖。</p>
<p><u>保產無憂散</u></p>
<p>當歸（錢半，酒洗）　炒黑芥穗（八分）　川芎（錢半）　艾葉（七分，炒）　麵炒枳殼（六分）　炙黃芪（八分）　菟絲子（錢四分，酒炒）　厚朴（七分，薑炒）　羌活（五分）　川貝母（一錢，去心）　白芍（錢二分，酒炒）　甘草（五分）</p>
<p>薑三片，溫服。</p>
<p>上方保胎，每月三、五服，催生如神。</p>
<p><u>歌括：</u>保產無憂歸芎芍，黃芪厚朴生甘草。貝母羌活菟絲子，荊艾生薑炒枳殼。</p>
<p><u>治遍體浮腫</u>　是脾虛水溢之過。凡浮腫者可通用，俱神效。</p>
<p>真縮砂仁四兩，萊菔子二兩四錢，研末，水浸濃取汁，浸砂仁，候汁盡，曬乾，研極細末，每服一錢，漸加至二錢為度，淡薑湯送下。</p>
<p><u>歌括：</u>遍體浮腫是水淫，萊菔濃汁浸砂仁。汁盡曬乾研細粉，淡薑湯下效如神。</p>
<p><u>保產神效方</u></p>
<p>未產能安，臨產能催，偶傷胎氣，腰疼腹痛，甚至見紅不止，勢欲小產，危急之際，一服即愈，再服全安。臨產時交骨不開，橫生逆下，或子死腹中，命在垂危，服之奇效。</p>
<p>全當歸（一錢五分，酒洗）　紫厚朴（七分，薑汁炒）　真川芎（一錢五分）　菟絲子（一錢五分，酒泡）　川貝母（二錢，去心，淨煎好方和入）　枳殼（六分，麵炒）　川羌活（六分）　荊芥穗（八分）　黃芪（八分，蜜炙）　蘄艾（五分，醋炒）　炙草（五分）　白芍（一錢二分，冬用二錢，酒炒）</p>
<p>生薑三片，水二鍾，煎八分，渣水一鍾煎六分，產前空心預服二劑，臨產隨時熱服。</p>
<p><u>眉批：</u>此乃仙傳奇方，慎勿以庸醫輕加減其分量。</p>
<p>按保產無憂散、保產神效方，與編首治產秘驗良方俱相同，特引論略別，並存參看可也。</p>
<p><u>歌括：</u>同保產無憂散。</p>

<h1>傅青主徵君女科書後</h1>
<p>陽典傅青主先生名山，前明遺老也。康熙朝徵博學宏詞入都，以老病丐歸，故也稱為徵君先生學問深邃，仰觀俯察，明陰洞陽，詩文皆其餘事，即二氏之學，亦旁參其詣，其道特其末耳。獨能得仲景之秘，發前人所未發，立方用藥，平淡無奇，而奏效如神。山右舊族藏其女科一書，由調經、妊娠、胎產，分類訂方，皆轉相抄寫。嘉慶年間，平陽郡有樂善者，始刊以公諸世。得者按症尋方，無弗立效。予往在山右得之，繼為安省林君索去。林固世於醫，以為見所未見，視為奇珍。江西近有翻刻，出錯訛甚多，深虞誤人，予甚之，欲重刊未果。壬子秋初，內子蔣氏得中風右瘓疾，服再造丸得生，而右足行步維艱，寓信於予，口有勸西施《佛經》或《敬信錄》、《暗室燈》等書，以為懺悔者，因思《佛經》同諸書，往見人家不知敬重，讀書人置之不閱，鄉愚婦女即以是夾線，是褻瀆已甚，轉增過，何能消災？前傅青主徵君女科，如識字之家，當無醫之處，依方服藥，可以全人性命，似較施印諸書為良，希為圖之。予得此信，極以為然，于山右宦陝者覓之，未得，施於韓寶臣刺史處得祈君爾誠所刊出，內祈君詮註尤詳，亟為付梓以成志，雖屬有心為善，但出於婦女之誠，心上好生，或邀默佑，俾良於行，未可期也。因述於後。</p>
<p><u>時咸豐乙卯孟夏大興官彤紳樗存甫識於古長安樂知草堂。</u></p>
