<header data-type="book">
<h1>脈訣考證</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李時珍</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
</header>

<h1>脈訣非叔和書</h1>
<p>晦庵朱子曰：古人察脈非一道，今世惟守寸關尺之法。所謂關者多不明，獨俗傳脈訣，詞最鄙淺，非叔和本書，乃能直指高骨為關。然世之高醫，以其書贗，遂委棄而羞言之。（跋郭長陽書）</p>
<p>東陽柳貫曰：王叔和撰脈經十卷，為醫家一經，今脈訣熟在人口，直謂叔和所作，不知叔和西晉時尚未有歌括，此乃宋之中世人偽託，以便習肄爾。朱子取其高骨為關之說，不知其正出脈經也。</p>
<p>廬陵謝縉翁曰：今稱叔和脈訣，不知起於何時，宋熙寧初，校正脈經，尚未有此，除孔碩始言脈訣出而脈經隱，則脈訣乃熙寧以後人作耳。惟陳無擇三因方，言高陽生剽竊作歌訣，劉元賓從而和之，其說似深知脈經者，而又自著七表八里九道之名，則陳氏亦未嘗詳讀脈經矣。</p>
<p>河東王世相曰：診候之法不易精也。軒岐微蘊，越人、叔和撰難經、脈經，猶未盡泄其奧，五代高陽生著脈訣，假叔和之名，語多牴牾，辭語鄙俚，又被俗學妄注，世醫家傳戶誦，茫然無所下手，不過藉此求食而已，於診視何益哉。</p>
<p>云間錢溥曰：晉太醫令王叔和著脈經，其言可守而不可變。及托叔和脈訣行，而醫經之理遂微。蓋叔和為世所信重，故假其名而得行耳。然醫道之日淺，未必不由此而誤之也。</p>

<h1>七表八里九道之非</h1>
<p>金陵戴起宗曰：脈不可以表裡定名也。軒岐、越人、叔和皆不言表裡，脈訣竊叔和之名，而立七表八里九道，為世大惑。脈之變化從陰陽生，但可以陰陽對待而言，各從其類，豈可以一浮二沉為定序，而分七、八、九之名乎？大抵因浮而見者皆為表，因沉而見者皆為里，何拘於七、八、九哉？廬山劉立之以浮沉遲數為綱，以教學者，雖似捷徑，然必博學反約，然後能入脈妙，若以此自足，亦畫矣。</p>
<p>攖寧滑壽曰：脈之陰陽表裡，以對待而為名象也。高陽生之七表、八里、九道，蓋鑿鑿也，求脈之明，為脈之晦。</p>
<p>謝氏曰：脈經論脈二十四種，初無表裡九道之目，其言芤脈，雲中央空兩邊實，云芤則為陰。而脈訣以芤為七表屬陽。雲中間有，兩頭無。仲景脈法云，浮、大、數、動、滑為陽，沉、澀、弱、弦、微為陰，而脈訣以動為陰，以弦為陽。似此背誤頗多，則脈訣非叔和書，可推矣。</p>
<p>草廬吳澄曰：俗誤以脈訣為脈經，而王氏脈經，知者或鮮，脈書往往混牢、革為一，夫牢為寒實，革為虛寒，安可混乎？脈之浮沉、虛實、緊緩、數遲、滑澀、長短之相反，匹配自不容易，況有難辨，如：洪、散俱大，而洪有力，微、細俱小，而微無力；芤類浮，而邊有中無，伏類沉，而邊無中有；若豆粒而搖搖不定者動也，若鼓皮而如如不動者革也，俱對待也。又有促、結、代，皆有止之脈，促疾，結緩，故可為對，代則無對。總之凡二十七脈，不止於七表、八里、九道，二十四脈也。（詳文集）</p>
<p>瀕湖李時珍曰：脈經論脈，止有二十四種，無長短二脈，脈訣歌脈，亦有二十四種，增長短而去數散，皆非也。素、難、仲景論脈，只別陰陽，初無定數。如：素問之鼓摶、喘橫，仲景之惵平、榮章、綱損、縱橫、逆順之類是也。後世脈之精微失傳，無所依准，因立名而為之歸著耳。今之學者，按圖索驥，猶若望洋，而況舉其全旨乎？此草廬公說，獨得要領也。</p>

<h1>男女脈位</h1>
<p>齊褚澄曰：男子陽順，自下生上，故右尺為受命之根，萬物從土而出，故右關為脾，生右寸肺，肺生左尺腎，腎生左關肝，肝生左寸心；女子陰逆，自上生下，故左寸為受命之根，萬物從土而出，故左關為脾，生左尺肺，肺生右寸腎，腎生右關肝，肝生右尺心。（詳褚氏遺書）</p>
<p>華谷儲泳曰：脈訣以女人尺脈盛弱，與男子相反為背看，夫男女形休絕異，陰陽殊塗，男生而復，女生而仰；男則左旋，女則右轉；男主施，女主受；男之至命在腎，處臟腑之極下，女之至命在乳，外臟腑之極上；形氣既異，脈行於形氣之間，豈略不少異耶？此褚氏之說，為有理也。（詳祛疑說）</p>
<p>戴起宗曰：脈訣因男子左腎右命，女子左命右腎之別，遂言反此背看，而諸家以尺脈盛弱解之，褚氏又以女人心、肺診於尺。倒裝五臟，其謬又甚。不知男女形氣精血雖異，而十二經脈所行始終，五臟之定位則一也，安可以女人脈位為反耶？</p>
<p>丹溪朱震亨曰：昔軒轅使伶倫截嶰谷之竹，作黃鐘律管，以候天地之節氣；使岐伯取氣口，作脈法，以候人之動氣。故黃鐘之數九分，氣口之數亦九分，律管具，而寸之數始形。故脈之動也，陽得九分，陰得一寸，吻合於黃鐘。天不足西北，陽南而陰北，故男子寸盛而尺弱，肖乎天也；地不滿東南，陽北而陰南，故女子尺盛而寸弱，肖乎地也。黃鐘者，氣之先兆，故能測天地之節候；氣口者，脈之要會，故能知人命之死生。世之俗醫，誦高陽生之妄作，欲以治病，其不殺人也幾希！龍丘葉氏曰：脈者天地之元性，故男女尺寸盛弱，肖乎天地，越人以為男生於寅、女生於申，三陽從天生、三陰從地長，謬之甚也。獨丹溪推本律法，混合天人而闢之，使千載之誤，一旦昭然，豈不韙哉！</p>

<h1>臟腑部位</h1>
<p>紹興王宗正曰：診脈之法，當從心肺俱浮、肝腎俱沉、脾在中州之說，王敘和獨守寸關尺分部位，以測五臟六腑之脈者，非也。</p>
<p>慈溪趙繼宗曰：脈訣言左心小腸肝膽腎，右肺大腸脾胃命者，非也。心、肺居上，為陽、為浮，肝、腎居下，為陰、為沉，脾居中州，半陰半陽、半浮半沉。當以左寸為心，右寸為肺，左尺為肝，右尺為腎，兩關為脾，關者，陰陽之界限；前，取陽三分；後，取陰三分。所謂土居金、木、水、火、之中，寄王於四時，不獨右關為脾也。肝既為陰，豈宜在半陰半陽、半浮半沉之左關耶？命門即是腎，不宜以右尺為診。（詳儒醫精要）</p>
<p>吳草廬曰：醫者於寸關尺，輒名之曰：此心脈、此肺脈、此肝脈、此脾脈、此腎脈者，非也。五臟六腑，凡十二經，兩手寸關尺者，手太陰肺經之一脈也。分其部位，以候他臟之氣耳，脈行始於肺，終於肝，而復會於肺，肺為氣所出之門戶，故名曰氣口，而為脈之大會。以佔一身焉。（詳文集）</p>
<p>李時珍曰：兩手六部，皆肺之經脈也，特取此以候五臟六腑之氣耳，非五臟六腑所居之處也。凡診察皆以肺、心、脾、肝、腎各候一動，五十動不止者，五臟皆足，內有一止，則知一臟之脈不至。據此推之，則以肺經一脈，候五臟六腑之氣者，可心解矣。褚、儲、趙氏不知脈隨五臟之氣，行於經隧之間，欲以男女臟腑，顛倒部位，執泥不通。戴同父言，褚氏倒裝五臟，丹溪別男女尺寸，草廬明三部皆肺，三說皆有真見，學者所當宗師。若夫趙氏所云，蓋本於宋人王宗正難經圖解，豈知脈分兩手，出於素問脈要精微論，而越人推明關脈，及一脈十變於難經，非始於叔和也。若如其說，則一脈十變何從推之，可謂鑿而任矣。命門即腎之說，乃越人之誤也。予嘗著命門考、命門三焦客難二說，凡二千餘言云。</p>
