<header data-type="book">
<h1>湯頭歌訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>汪昂</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1692">公元1692年</data></dd></div>
<div><dt>底本</dt><dd>《重校湯頭歌訣》，1946年廣益書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900014614">國家圖書館掃描本</a>）</dd></div>
<div><dt>品質</dt><dd>25%</dd></div>
</dl>
</header>

<h1>敘</h1>
<p>古人治病，藥有君臣，方有奇偶，劑有大小，此湯頭所由來也。仲景為方書之祖，其《傷寒論》中既曰太陽證、少陽證、太陰證、少陰證矣，而又曰麻黃證、桂枝證、柴胡證、承氣證等。不以病名病，而以藥名病。明乎因病施藥，以藥合證，而後用之，豈苟然而已哉！令人不辨證候，不用湯頭，率意任情，治無成法，是猶制器而廢準繩，行陣而棄行列，欲以已病卻疾，不亦難乎？蓋古人制方，佐使君臣，配合恰當；從治正治，意義深長。如金科玉律，以為後人楷則。惟在善用者，神而明之，變而通之，如淮陰背水之陣，諸將疑其不合兵法，而不知其正在兵法之中也。舊本有湯頭歌訣，辭多鄙率，義弗賅明，難稱善本。不揣愚瞽，重為編輯，並以所主病證括入歌中，間及古人用藥制方之意。某病某湯，門分義悉；理法兼備，體用具全；千古心傳，端在於此。實醫門之正宗，活人之彀率也。然古方甚多，難以盡錄。量取便用者，得歌二百首。正方、附方共三百有奇。蓋易則易知，簡則易從。以此提綱挈領，苟能觸類旁通，可應無窮之變也。是在善讀者加之意耳。</p>
<p><u>康熙甲戌夏月休寧八十老人汪昂題</u></p>

<h1>凡例</h1>
<p>一、本集諸歌，悉按沈約詩韻。其中平仄不能盡頁者，以限於湯名、藥名，不可改易也。</p>
<p>二、古歌四句，僅載一方，尚欠詳順。本集歌不限方，方不限句；藥味藥引，俱令周明；病證治法，略為兼括。或一方而連匯多方，方多而歌省，並示古人用藥觸類旁通之妙，間及加減之法，便人取裁。</p>
<p>三、《醫學入門》載歌三百首，東垣歌二百六十八首，皆不分門類。每用一方，搜尋殆遍。本集歌止二百首，而方三百有奇，分為二十門。某病某湯，舉目易了。方後稍為訓釋，推明古人制方本義，使用藥者有所依據，服藥者得以參稽，庶覺省便。</p>
<p>四、歌后註釋，所以暢歌詞之未備，頗經錘鍊。讀者倘不鄙夷，亦可誦習也。</p>
<p>五、拙著《醫方集解》，網羅前賢方論，卷帙稍繁，不便攜帶。故特束為歌訣，附於本草之末，使行旅可以輕齎，緩急得以應用也。</p>
<p>六、是書篇章雖約，苟熟讀之，可應無窮之變，遠勝前人盈尺之書數部。有識之士，當不以愚言為狂僭也。</p>
<p><u>訒庵汪昂　漫識</u></p>

<h1>補益之劑</h1>
<p><u>十首、附方七</u></p>

<h2>四君子湯</h2>
<p>《局方》中和義，參朮茯苓甘草比。（人參、白朮、茯苓各二錢，甘草一錢。氣味中和，故名君子。）益以夏陳半夏、陳皮名六君子湯，祛痰補氣陽虛餌。（二陳除痰，四君補氣，脾弱陽虛宜之。）除卻半夏名異功（散，錢氏。）或加香砂胃寒使。（加木香、砂仁，行氣溫中，名香砂六君子湯。）</p>

<h2>升陽益胃</h2>
<p>（湯，東垣）參朮耆，黃連半夏草陳皮。苓瀉防風羌獨活，柴胡白芍棗姜隨。〔黃耆二兩，人參、半夏、炙甘草各一錢，羌活、獨活、防風、白芍（炒）各五錢，陳皮四錢，白朮、茯苓、澤瀉、柴胡各三錢，黃連二錢。每服三錢，加薑棗煎。六君子助陽，補脾除痰；重用黃耆，補氣固胃；柴胡、羌、獨，除濕升陽；澤瀉、茯苓，瀉熱降濁。加芍藥和血斂陰，少佐黃連以退陰火。按：東垣治療首重脾胃，而益胃又以升陽為先，故每用補中、上升下滲之藥。此方補中有散，發中有收，脾胃諸方多從此仿也。〕</p>

<h2>黃耆鱉甲</h2>
<p>（散，羅謙甫）地骨皮，艽菀參苓柴半知。地黃芍藥天冬桂，甘桔桑皮勞熱宜。（治虛勞骨蒸，晡熱咳嗽，食少盜汗：黃耆、鱉甲、天冬各五錢，地骨、秦艽、茯苓、柴胡各三錢，紫菀、半夏、知母、生地、白芍、桑皮、炙草各二錢半，人參、肉桂、桔梗各錢半。每服一兩，加姜煎。鱉甲、天冬、知、芍，補水養陰；參、耆、桂、苓、甘草，固衛助陽；桑、桔瀉肺熱，菀、夏理痰嗽；艽、柴、地骨退熱升陽。為表裡氣血交補之劑。）</p>

<h2>秦艽鱉甲</h2>
<p>（散，羅謙甫）治風勞，地骨柴胡及青蒿。當歸知母烏梅合，止嗽除蒸斂汗高。（鱉甲、地骨皮、柴胡各一兩，青蒿五錢，秦艽、當歸、知母各五錢，烏梅五錢。治略同前，汗多倍黃耆。此方加青蒿、烏梅，皆斂汗退蒸之義。）</p>

<h2>秦艽扶羸湯</h2>
<p>（湯，《直指》）鱉甲柴，地骨當歸紫菀偕。半夏人參兼炙草，肺勞蒸嗽服之諧。（治肺痿骨蒸，勞嗽聲嘎，自汗體倦：柴胡二錢，秦艽、鱉甲、地骨、當歸、人參各錢半，柴菀、半夏、甘草炙各一錢，加薑、棗煎。按：黃耆鱉甲散蓋本此方，除當歸加余藥，透肌解熱，柴胡、秦艽、乾葛為要劑，故骨蒸方中多用之。此方雖表裡交治，而以柴胡為君。）</p>

<h2>紫菀湯</h2>
<p>（海藏）中知母貝，參苓五味阿膠偶。再加甘桔治肺傷，咳血吐痰勞熱久。（治肺傷氣極，勞熱咳嗽，吐痰吐血，肺痿肺癰：紫菀、知母、貝母、阿膠各二錢，人參、茯苓、甘草、桔梗各五分，五味十二粒，一方加蓮肉。以保肺止嗽為君，故用阿膠、五味；以清火化痰為臣，故用知母、貝母，佐以參、苓、甘草，扶土以生金；使以桔梗，上浮而利膈。氣極，六極之一。）</p>

<h2>百合固金</h2>
<p>（湯，趙蕺庵）二地黃，玄參貝母桔甘藏。麥冬芍藥當歸配，喘咳痰血肺家傷。（生地二錢，熟地三錢，麥冬錢半，貝母、百合、當歸、白芍、甘草各一錢，玄參、桔梗各八分。火旺則金傷，故以玄參、二地助腎滋水；麥冬、百合保肺安神，芍藥、當歸平肝養血，甘、桔、貝母清金化痰，瀉以甘草培本，不欲以苦寒傷生髮之氣也。）</p>

<h2>補肺阿膠</h2>
<p>（散，錢氏）馬兜鈴，鼠黏甘草杏糯停。肺虛火盛人當服，順氣生津嗽哽寧。（阿膠兩半，馬兜鈴焙、鼠黏子炒、甘草炙、糯米各一兩，杏仁七錢。牛蒡利膈滑痰，杏仁降潤氣嗽。李時珍曰：馬兜鈴非取補肺，取其清熱降氣，肺自安也。其中阿膠、糯米，乃補肺之正藥。）</p>

<h2>小建中湯</h2>
<p>（仲景）芍藥多，（即桂枝加芍藥湯再加飴糖，名建中。）桂姜甘草大棗和。更加飴糖補中臟，虛勞腹冷服之瘥。（芍藥六兩，桂枝、生薑各三兩，甘草一兩，棗十二枚，飴糖一升。）增入黃耆名亦爾，〔再加黃耆兩半，各黃耆建中湯（《金匱》）。若除飴糖，則名黃耆五物湯，不名建中矣。今人用建中者，絕不用飴糖，何哉？〕表虛身痛效無過。又有建中十四味，陰斑勞損起沉疴。（亦有陰證發斑者，淡紅隱隱，散見肌表，此寒伏於下，逼其無根之火熏肺而然，若服寒藥立斃。）十全大補加附子，麥夏蓯蓉仔細哦。（即十全大補湯加附子、麥冬、半夏、肉蓯蓉，名十四味建中湯。十四味除茯苓、白朮、麥冬、川芎、熟地、肉蓯蓉，名八味大建中湯，治同。）</p>

<h2>益氣聰明湯</h2>
<p>（東垣）蔓荊，升葛參耆黃柏並。並加芍藥炙甘草，耳聾目障服之清。（參、耆各五錢，蔓荊子、葛根各三錢，黃柏、白芍各二錢，升麻錢半，炙草一錢，每服四錢。人之中氣不足，清陽不升，則耳目不聰明。蔓荊、升、葛，升其清氣；參、耆、甘草，補其中氣，而以芍藥平肝木，黃柏滋腎水也。）</p>

<h1>發表之劑</h1>
<p><u>十四首、附方八</u></p>

<h2>麻黃湯</h2>
<p>（仲景）中用桂枝，杏仁甘草四般施。發熱惡寒頭項痛，傷寒服此汗淋漓。〔麻黃（去節）三兩，桂枝二兩，杏仁七十枚（去皮尖），甘草（炙）一兩。傷寒太陽表證無汗，用此發之。麻黃善發汗，恐其力猛，故以桂枝監之，甘草和之，不令大發也。按：桂、麻二湯雖治太陽證，而先正每云皆肺藥，以傷寒必自皮毛入，而桂、麻又入肺經也。〕</p>

<h2>桂枝湯</h2>
<p>（仲景）治太陽（中）風，芍藥甘草薑棗同。（桂枝、芍藥、生薑各三錢，炙草三兩，大棗干二枚。治太陽中風有汗，用此解肌，以和營衛，中猶傷也。仲景《傷寒論》通用。）桂麻相合名各半湯，太陽如瘧此為功。（熱多寒少，如瘧狀者，宜之。）</p>

<h2>大青龍湯</h2>
<p>（仲景）桂麻黃，杏草石膏薑棗藏。（麻黃六兩，桂枝、炙草各三兩，杏仁四十枚，石膏雞子大，生薑三兩，大棗十二枚。）太陽無汗兼煩躁，（煩為陽、為風，躁為陰、為寒。必太陽證兼煩躁者，方可用之。以杏、草佐麻黃髮表，以薑、棗佐桂枝解肌，石膏質重瀉火，氣輕亦達肌表。義取青龍者，龍興而云升雨降，鬱熱賴除，煩躁乃解也。若少陰煩躁，而誤服此則逆。）風寒兩解此為良。（麻黃湯治寒，桂枝湯治風，大青龍小風寒而兩解之。陶節庵曰：此湯險峻，今人罕用。）</p>

<h2>小青龍湯</h2>
<p>（仲景）治水氣，喘咳嘔噦渴利慰。（太陽表證未解，心下有水氣者用之。或喘或咳，或嘔或噦，或渴或利，或短氣，或小便秘，皆水氣內積所致。）薑桂麻黃芍藥甘，細辛半夏兼五味。〔乾薑、麻黃、桂枝、芍藥（酒炒）、炙草、細辛各二兩，半夏、五味子各半升。桂枝解表，使水從汗泄；芍藥斂肺，以收喘咳；薑、夏、細辛潤腎行水，止渴嘔，亦表裡分消之意。〕</p>

<h2>葛根湯</h2>
<p>（仲景）內麻黃襄，二味加入桂枝湯。（桂枝、芍藥、炙草各二兩，姜三兩，棗十二枚，此桂枝湯也，加葛根四兩，麻黃三兩。）輕可去實因無汗，（中風表實，故汗不得出。《十劑》曰：輕可去實，葛根、麻黃之屬是也。）有汗加葛無麻黃。（名桂枝加葛根湯，仲景治太陽有汗惡風。）</p>

<h2>升麻葛根湯</h2>
<p>錢氏（錢乙），再加芍藥甘草是。（升麻三錢，葛根、芍藥各二錢，炙草一錢。輕可去實，辛能達表，故用升藥發散陽明表邪。陽邪盛則陰氣虛，故加芍藥斂陰和血。升麻、甘草升陽解毒，故亦治時疫。）陽明發熱與頭疼，無汗惡寒均堪倚。（及目痛鼻乾、不得臥等症。）亦治時疫與陽斑，痘疹已出慎勿使。（恐升散重虛其表也。）</p>

<h2>九味羌活</h2>
<p>（湯，張元素）用防風，細辛蒼芷與川芎。黃芩生地同甘草，三陽解表益薑蔥。（羌活、防風、蒼朮各錢半，白芷、川芎、生地、甘草各一錢，細辛五分，加生薑、蔥白煎。）陽虛氣弱人禁用，加減臨時在變通。（潔古制此湯，以代麻黃、桂枝、青龍、各半等湯。用羌、防、蒼、細、芎、芷，各走一經，祛風散寒，為諸路之應兵。加黃芩泄氣中之熱，生地泄血中之熱，甘草以調和諸藥。然黃芩、生地，寒滯未可概施，用時宜審。）</p>

<h2>十神湯</h2>
<p>《局方》里葛升麻，陳草芎蘇白芷加。麻黃赤芍兼香附，時行（瘟疫）感冒效堪誇。（葛根、升麻、陳皮、甘草、川芎、白芷、紫蘇、麻黃、赤芍、香附等分，加薑、蔥煎，治風寒兩感，頭痛發熱，無汗惡寒，咳嗽鼻塞。芎、麻、升、葛、蘇、芷、香附，辛香利氣，發表散寒。加芍藥者，斂陰氣於發汗之中；加甘草者，和陽氣於疏利之隊也。吳綬曰：此方用升麻、葛根，能解陽明瘟疫時氣。若太陽傷寒發熱，用之則引邪入陽明，傳變發斑矣，慎之！）</p>

<h2>神朮散</h2>
<p>（《局方》）用甘草蒼，細辛藁本芎芷羌。（蒼朮二兩，炙草、細辛，藁本、白芷、川芎、羌活各一兩，每服四錢，生薑、蔥白煎。）各走一經祛風濕，（太陰蒼朮，少陰細辛，厥陰、少陽川芎，太陽羌活、藁本，陽明白芷。此方與九味羌活湯意同，加藁本，除黃芩、生地、防風，較羌活湯更穩。）風寒泄瀉總堪嘗。太無神術（散，太無，丹溪之師）即平胃（散），加入菖蒲與藿香。（陳皮為君二錢，蒼朮、厚朴各一錢，炙草、菖蒲、藿各錢半，治嵐瘴瘟瘧時氣。）海藏神術（散）蒼防草，太陽無汗代麻黃。（蒼朮、防風各二兩，炙草一兩，用代仲景麻黃湯，治太陽傷寒無汗。）若以白朮易蒼朮，太陽有汗此湯良。（名白朮湯，用代桂枝湯，治太陽傷風有汗。二術主治略同，特有止汗、發汗之異。）</p>

<h2>麻黃附子細辛湯</h2>
<p>（仲景）發表溫經兩法彰。（麻黃藁、細辛各二兩，附子一枚炮。麻黃髮太陽之汗，附子溫少陰之經，細辛為腎經表藥，聯屬其間。）若非表裡相兼治，少陰反熱曷能康。（少陰證，脈沉屬裡，當無熱，今反發熱，為太陰表證未除。）</p>

<h2>人參敗毒</h2>
<p>（散，《活人》。毒即熱濕也）茯苓草，枳桔柴前羌獨芎。薄荷少許姜三片，時行感冒有奇功。（人參、茯苓、枳殼、桔梗、柴胡、羌活、獨活、川芎各一兩，甘草五錢，每服二兩，加薄荷、生薑煎。羌活理太陽遊風，獨活理少陰伏風，兼能去濕除痛，川芎、柴胡和血升清，枳殼、前胡行痰降氣，甘、桔、參、茯清肺強胃，輔正匡邪也。喻嘉言曰：暑濕熱三氣門中，推此方為第一。俗醫減卻人參，曾與他方有別耶？）去參名為敗毒散，加入消風（散，見風門）治亦同。（合消風散名消風敗毒散。）</p>

<h2>再造散</h2>
<p>（節庵）用參耆甘，桂附羌防芎芍參。細辛加棗煨姜煎，陽虛無汗法當諳。〔人參、黃耆、甘草、川芎、白芍（酒炒）、羌活、防風、桂枝、附子（炮）、細辛（煨），薑、大棗煎。以參、耆、甘、薑、桂、附大補其陽，助羌、防、芎、細散寒發表。加芍藥者，於陽中斂陰，散中有收也。陶節庵曰：發熱頭痛，惡寒無汗，服汗劑汗不出者，為陽虛不能作汗，名無汗證。庸醫不識，不論時令，遂以麻黃重劑劫取其汗，誤人死者多矣。又曰：人第知參、耆能止汗，而不知其能發汗，以在表藥隊中，則助表藥而解散也。〕</p>

<h2>麻黃人參芍藥湯</h2>
<p>（東垣）桂枝五味麥冬襄。歸耆甘草汗兼補，虛人外感服之康。〔麻黃、白芍、黃耆、當歸、甘草（炙）各一錢，人參、麥冬各三分，桂枝五分，五味五粒。東垣治一人內蘊虛熱，外感大寒而吐血，法仲景麻黃湯，加補劑制此方，一服而愈。原解曰：麻黃散外寒，桂枝補表虛，黃耆實表益衛，人參益氣固表，麥冬、五味保肺氣，甘草補脾，芍藥安太陽，當歸和血養血。〕</p>

<h2>神白散</h2>
<p>（《衛生家寶》）用白芷甘，薑蔥淡豉與相參。（白芷一兩，甘草五錢，淡豉五十粒，姜三片，蔥白三寸，煎服取汗。）一切風寒皆可服，疏表祛邪效可推。（必須得汗，服乃有效。）肘後單煎蔥白豉，（蔥一握，豉一升，名蔥豉湯。）用代麻黃湯功不慚。傷寒初覺頭痛身熱，便宜服之，可代麻黃湯。）</p>

<h1>攻裡之劑</h1>
<p><u>七首</u>　附方四</p>

<h2>大承氣湯</h2>
<p>（仲景）用芒硝，枳實大黃厚朴饒。〔大黃四兩（酒洗），芒硝三合，厚朴八兩，枳實五枚〕。救陰瀉熱功偏擅，急下陽明有數條。（大黃治大實，芒硝治大燥大堅，二味治無形血藥；厚朴治大滿，枳實治痞，二味治有形氣藥。熱毒傳入陽明胃府，痞、滿、燥、實、堅全見，雜證、三焦實熱，並須以此下之。胃為水穀之海，土為萬物之母。四旁有病，皆能傳入胃府，則不復傳他經矣。陶節庵曰：傷寒熱邪傳裡，須看熱氣淺深用藥，大承氣最緊，小承氣次之，調胃又次之，大柴胡又次之。蓋恐硝性燥急，故不輕用。）</p>

<h2>小承氣湯</h2>
<p>（仲景）樸實黃，〔大黃四兩，厚朴二兩（姜炒），枳實三枚（麩炒）。〕譫狂痞硬上焦強。（熱在上焦則滿，在中焦則硬，胃有燥糞則譫語，不用芒硝者，恐傷下焦真陰也。）益以羌活名三化（湯，）中風閉實可消詳。（用承氣治二便，加羌活治風，中風體實者可偶用。然涉虛者多，不可輕投。）</p>

<h2>調胃承氣</h2>
<p>（湯，仲景）硝黃草，〔大黃（酒浸）、芒硝各一兩，甘草（炙）五錢。〕甘緩微和將胃保。（用甘草甘以緩之，微和胃氣，勿令大泄下。）不用樸實傷上焦，（不用厚朴、枳實，恐傷上焦氤氳之氣也。）中焦燥實服之好。</p>

<h2>木香檳榔</h2>
<p>（丸，張子和）青陳皮，枳殼柏連稜術隨。大黃黑醜兼香附，芒硝水丸量服之。一切實積能推蕩，瀉痢食瘧用鹹宜。〔木香、檳榔、青皮（醋炒）、陳皮、枳殼（炒）、黃柏（酒炒）、黃連、吳茱萸（炒）、三稜、莪朮（並醋煮），各五錢，大黃（酒浸）一兩，香附、牽牛各二兩，芒硝，水丸，量虛實服。木香、香附、青、陳、枳殼利氣寬腸，黑牽牛、檳榔下氣尤速，氣行則無痞滿後重之患矣。連、柏燥實清熱，稜、莪行氣破血，硝、黃去血中伏熱，併為推堅峻品。濕熱積滯去，則二便調而三焦通泰矣。蓋宿垢不淨，清陽終不得升，亦通因通用之意也。〕</p>

<h2>枳實導滯</h2>
<p>（丸，東垣）首大黃，芩連曲術茯苓襄。澤瀉蒸餅糊丸服，濕熱積滯力能攘。〔大黃一兩，枳實（麩炒）、黃芩（酒炒）、黃連（酒炒）、神麯（炒）各五錢，白朮（土炒）、茯苓三錢，澤瀉二錢，蒸餅糊丸，量虛實服之。大黃、枳實蕩熱去積，芩、連佐之以清熱，苓、瀉佐之以利濕，神麯佐之以消食。又恐苦寒力峻，故加白朮補土固中。〕若還後重兼氣滯，木香導滯（丸）加檳榔。</p>

<h2>溫脾</h2>
<p>（湯，《千金》）參附與乾薑，甘草當歸硝大黃。寒熱並行治寒積，臍腹絞結痛非常。人參、附子、甘草、芒硝各一兩，大黃五兩，當歸、乾薑各三兩，煎服，日三。本方除當歸、芒硝，亦名溫脾湯，治久痢赤白、脾胃冷、實不消。硝、黃以蕩其積，薑、附以祛其寒，參、草、當歸以保其血氣。按：古人方中，多有硝、黃、柏、連與薑、茱、桂、附寒熱並用者，亦有參、朮、硝、黃補瀉並用者，亦有大黃、麻黃汗下兼行者，令人罕識其旨。姑錄此方，以見治療之妙不一端也。）</p>

<h2>蜜煎導法通大便</h2>
<p>（仲景用蜜熬如飴，捻作挺子，摻皂角末，乘熱納穀道中，或摻鹽。）或將（豬）膽汁灌肛中。（用豬膽汁醋和，以竹管插肛門中，將汁灌入，頃當大便，名豬膽汁導法，仲景）。不欲苦寒傷胃府，陽明無熱勿輕攻。（胃府無熱而便秘者，為汗多津液不足，不宜用承氣妄攻。此仲景心法，後人罕識，故錄三方於攻下之末。）</p>

<h1>湧吐之劑</h1>
<p><u>二首、附方六</u></p>
<p>汗、吐、下、和，乃治療之四法。經曰：在上者湧之，其高者因而越之，故古人治病，用吐法者最多。朱丹溪曰：吐中就有發散之義。張子和曰：諸汗法古方多有之，惟以吐發汗者，世罕知之。今人醫療，惟用汗、下、和，而吐法絕置不用，可見時師之缺略。特補湧吐一門，方藥雖簡，而法不可廢也。若丹溪用四物、四君引吐，又治小便不通，亦用吐法，是又在用者之圓神矣。</p>

<h2>瓜蒂散</h2>
<p>（仲景）中赤小豆，（甜瓜蒂炒黃與赤小豆為末，熱水或虀水調，量虛實服之。）或入藜蘆鬱金湊。（張子和去赤豆加藜蘆、防風，一方去赤豆加鬱金、韭汁，俱名三聖散。鵝翎探吐，並治風痰。）此吐實熱與風痰，（瓜蒂吐實熱，藜蘆吐風痰。）虛者參蘆（散）一味勾。（虛人痰壅不得服瓜蒂者，以參蘆代之，或加竹瀝。）若吐虛煩梔豉湯，（仲景，梔子十四枚，豉四合，治傷寒後虛煩。）劇痰烏附尖方透。（丹溪治許白雲，用瓜蒂、梔子、苦參、藜蘆，屢吐不透，後以漿水和烏附尖服，始得大吐。）古人尚有燒鹽方，一切積滯功能奏。（燒鹽熱湯調服，以指探吐，治霍亂、宿食、冷痛等症。《千金》曰：凡病宜吐，大勝用藥。）</p>

<h2>稀涎</h2>
<p>（散，嚴用和）皂角白礬斑，〔皂角四挺（去皮弦炙），白礬一兩，為末，每服五分。白礬酸苦湧泄，能軟頑痰；皂角辛鹹通竅，專制風木。此專門之兵也，初中風時宜用之。〕或益藜蘆微吐間。風中痰升人眩僕，當先服此通其關。（令微吐稀涎，續進他藥。）通關散用細辛皂（角，為末，）吹鼻得嚏保生還。（卒中者用此吹鼻，有嚏者可治，無嚏者為肺氣已絕。）</p>

<h1>和解之劑</h1>
<p><u>九首、附方五</u></p>

<h2>小柴胡湯</h2>
<p>（仲景）和解供，半夏人參甘草從。更用黃芩加薑棗，少陽百病此為宗。（柴胡八兩，半夏半升，人參、甘草、黃芩、生薑各三兩，大棗十二枚。治一切往來寒熱，胸滿脅痛，心煩喜嘔，口苦耳聾，咳渴悸利，半表半裡之證。屬少陽經者，但見一症即是，不必悉具。膽府清淨，無出無入，經在半表半裡，法宜和解。柴胡升陽達表，黃芩退熱和陰，半夏祛痰散逆，參、草輔正補中，使邪不得復傳入里也。）</p>

<h2>四逆散</h2>
<p>（仲景）里用柴胡，芍藥枳實甘草須。（柴胡、芍藥炒、枳實麩炒、甘草炙等分。）此是陽邪成厥逆，（陽邪入里，四肢逆而不溫。）斂陰泄熱平劑扶。（芍藥斂陰，枳實泄熱，甘草和逆，柴胡散邪，用平劑以和解之。）</p>

<h2>黃連湯</h2>
<p>（仲景）內用乾薑，半夏人參甘草藏。更用桂枝兼大棗，寒熱平調嘔痛忘。〔黃連（炒）、乾薑（炮）、甘草、桂枝各三兩，人參二兩，半夏半升，大棗十二枚，治胸中有熱而欲嘔，胃中有寒而作痛，或丹田有熱，胸中有寒者，仲景亦用此湯。按：此湯與小柴胡湯同意，以桂枝易柴胡，黃連易黃芩，以乾薑易生薑，余藥同，皆是和解之意。但小柴胡湯屬少陽藥，此湯屬太陽、陽明藥也。〕</p>

<h2>黃芩湯</h2>
<p>（仲景）用甘芍並，二陽合利加棗烹。（治太陽、少陽合病，下利：黃芩三兩，芍藥、甘草各二兩，棗十二枚。陽邪入里，故以黃芩徹其熱，甘草、大棗和其太陰。）此方遂為治痢祖，後人加味或更名。（利，瀉泄也；痢，滯下也。仲景本治傷寒下利，《機要》用此治痢，更名黃芩芍藥湯；潔古治痢加木香、檳榔、大黃、黃連、當歸、官桂，名芍藥湯。）再加生薑與半夏，（名黃芩加生薑半夏湯，仲景。）前症兼嘔此能平。單用芍藥與甘草（炙，等分，名芍藥甘草湯，仲景。）散逆止痛能和營。（虞天民曰：白芍不惟治血虛，兼能行氣。腹痛者，營氣不和，逆於內里，以白芍行營氣，以甘草和逆氣，故治之也。）</p>

<h2>逍遙散</h2>
<p>（《局方》）用當歸芍，柴芩術草加姜薄。〔柴胡、當歸（酒拌）、白芍（酒炒）、白朮（土炒、茯苓各一錢，甘草（炙）五分，加煨薑、薄荷煎。〕散郁除蒸功最奇，（肝虛則血病，歸、芍養血平肝；木盛則土衰，朮、草和中補土，柴胡升陽散熱，茯苓利濕寧心，生薑暖胃祛痰，薄荷消風理血。《醫貫》曰：方中柴胡、薄荷二味最妙，蓋木喜風搖，寒即摧萎，溫即發生。木鬱則火鬱，火鬱則土鬱，土鬱則金鬱，金鬱則水鬱。五行相因，自然之理也。余以一方治木鬱，而諸郁皆解，逍遙散是也。）調經八味丹梔著。（加丹皮、梔子各八味逍遙散，治肝傷血少。）</p>

<h2>藿香正氣</h2>
<p>（散，《局方》）大腹蘇，甘桔陳苓朮樸俱。夏曲白芷加薑棗，感傷（外感內傷）嵐瘴並能驅。〔藿香、大腹皮、紫蘇、茯苓、白芷各三兩，陳皮、白朮（土炒）、厚朴（薑汁炒）、半夏曲、桔梗各二兩，甘草一兩，每服五錢，加薑、棗煎。藿香理氣和中，辟惡止嘔；蘇、芷、桔梗散寒利膈，以散表邪；腹、朴硝滿，陳、夏除痰，以疏里滯；苓、朮、甘草益脾去濕，以輔正氣。正氣通暢，則邪逆自除矣。〕</p>

<h2>六和</h2>
<p>（湯，《局方》）藿樸杏砂呈，半夏木瓜赤茯苓。術參扁豆同甘草，薑棗煎之六氣平。（藿香、厚朴、砂仁、半夏、木瓜、赤茯苓、白朮、人參、扁豆、甘草，加薑、棗煎，能御風、寒、暑、濕、燥、火六氣，故名曰六和。藿、樸、杏、砂理氣化食，參、朮、陳、夏補正匡脾，豆、瓜祛暑，赤茯行水。大抵以理氣健脾為主，脾胃既強，則諸邪不能幹矣。）或益香藿或蘇葉，傷寒傷暑用須明。（傷寒加蘇葉，傷暑加香藿。）</p>

<h2>清脾飲</h2>
<p>（嚴用和）用青樸柴，芩夏甘苓白朮偕。更加草果姜煎服，熱多陽瘧此方佳。〔青皮、厚朴（醋炒）、柴胡、黃芩、半夏（薑製）、甘草（炙）、茯苓、白朮（土炒）、草果（煨），加姜煎。瘧不止，加酒炒常山一錢，烏梅二個；大渴，加麥冬、知母。瘧疾，一名脾寒，蓋因脾胃受傷者居多。此方乃加減小柴胡湯從溫脾諸方而一變也。青、柴平肝破滯，樸、夏平胃祛痰，芩、苓清熱利濕，朮、草補脾調中，草果散太陰積寒，除痰截瘧。〕</p>

<h2>痛瀉要方</h2>
<p>（劉草窗）陳皮芍，防風白朮煎丸酌。〔白朮（土炒）三兩，白芍（酒炒）四兩，陳皮（炒）半兩，防風一兩，或煎或丸，久瀉加升麻。〕補土瀉木理肝脾，（陳皮理氣補脾，防、芍瀉木益土）。若作食傷醫便錯。（吳鶴皋曰：傷食腹痛，得瀉便減，今瀉而痛不減，故責之土敗木賊也。）</p>

<h1>表裡之劑</h1>
<p><u>八首、附方五</u></p>

<h2>大柴胡湯</h2>
<p>（仲景）用大黃，枳實苓夏白芍將。煎加薑棗表兼里，妙法內攻並外攘。（柴胡八兩，大黃二兩，枳實四枚，半夏半升，黃芩、芍藥各三兩，生薑五兩，大棗十二枚，治陽邪入里，表證未除，里證又急者。柴胡解表，大黃、枳實攻裡，黃芩清熱，芍藥斂陰、半夏和胃止嘔，薑、棗調和營衛。按：本方、次方治少陽陽明，後方治太陰陽明，為不同。）柴胡（加）芒硝義亦爾，（小柴胡湯加芒硝六兩，仲景。）仍有桂枝（加）大黃湯。（仲景桂枝湯內加大黃一兩，芍藥三兩，治太陽誤下，轉屬太陰，大實痛者。）</p>

<h2>防風通聖</h2>
<p>（散，河間）大黃硝，荊芥麻黃梔芍翹。甘桔芎歸膏滑石，薄荷芩術力偏饒。表裡交攻陽熱盛，外科瘍毒總能消。〔大黃（酒蒸）、芒硝、防風、荊芥、麻黃、黑梔、白芍（炒）、連翹、川芎、當歸、薄荷、白朮各五錢，桔梗、黃芩、石膏各一兩，甘草二兩，滑石三兩，加薑、蔥煎。荊、防、麻黃、薄荷發汗而散熱搜風，梔子、滑石、硝、黃利便而降火行水，芩、桔、石膏清肺瀉胃，川芎、歸、芍養血補肝，連翹散氣聚血凝，甘、術能補中燥濕，故能汗不傷表，下不傷里也。〕</p>

<h2>五積散</h2>
<p>（《局方》）治五般積，（寒積、食積、氣積、血積、痰積。）麻黃蒼芷芍歸芎。枳桔桂姜甘茯樸，陳皮半夏加薑蔥。（當歸、川芎、白芍、茯苓、桔梗各八分，蒼朮、白芷、厚朴、陳皮各六分，枳殼七分，麻黃、半夏各四分，肉桂、乾薑、甘草各三分，重表者用桂枝。桂、麻解表散寒，甘、芍和里止痛，蒼、樸平胃，陳、夏行痰，芎、歸養血，茯苓利水，薑、芷祛寒濕，枳、桔利膈腸。一方統治多病，唯善用者，變而通之。）除桂枳陳余略炒，（三味生用，余藥微炒，名熟料五積散。）熟料尤增溫散功。溫中解表祛寒濕，散痞調經用各充。（陶節庵曰：凡陰證傷寒，脈浮沉無力，均當服之，亦可加附子。）</p>

<h2>三黃石膏</h2>
<p>（湯）芩柏連，梔子麻黃豆豉全。薑棗細茶兼熱服，（寒因熱用。）表裡三焦熱盛宣。（石膏兩半，黃芩、黃連、黃柏各七錢，梔子三十個，麻黃、淡豉各二合，每服一兩，姜三片、棗二枚、茶一撮煎，熱服。治表裡三焦大熱，譫狂斑衄，身目俱黃。黃芩瀉上焦，黃連瀉中焦，黃柏瀉下焦，梔子通瀉三焦之火以清裡，麻黃、淡豉散寒發汗而解表，石膏體重能瀉肺胃之火，氣輕亦能解肌也。）</p>

<h2>葛根黃芩黃連湯</h2>
<p>（仲景），甘草四般治二陽。（治太陽桂枝證，醫誤下之，邪入陽明，協熱下利，脈促喘而汗出者，葛根八兩，炙草、黃芩各二兩，黃連三兩。）解表清裡兼和胃，喘汗自利保平康。（成無己曰：邪在裡，宜見陰脈，促為陽盛，知表未解也。病有汗出而喘者，為邪氣外甚，今喘而汗出，為裡熱氣逆，與此方散表邪、清裡熱。脈數而止曰促，用葛根者，專主陽明之表。）</p>

<h2>參蘇飲</h2>
<p>（元戎）內用陳皮，枳殼前胡半夏宜。乾葛木香甘桔茯，內傷外感此方推。〔人參、紫蘇、前胡、半夏（薑製）、乾葛、茯苓各七錢半，陳皮、枳殼（麩炒）、桔梗、木香、甘草各二錢，每服二錢，加薑、棗煎。治外感內傷，發熱頭痛，嘔逆咳嗽，痰眩風瀉。外感重者，去棗加蔥白。蘇、葛、前胡解表，參、芩、甘草補中，陳皮、木香行氣破滯，半夏、枳、桔利膈祛痰。〕參前若去芎柴入，飲號芎蘇治不瘥。（去人參、前胡，加川芎、柴胡，名芎蘇飲，不服參者宜之。）香蘇飲（《局方》）僅陳皮草，感傷內外亦堪施。〔香附（炒）、紫蘇各二錢，陳皮（去白）一錢，甘草七分，加薑、蔥煎。〕</p>

<h2>茵陳丸</h2>
<p>（《外臺》）用大黃硝，鱉甲常山巴豆邀。杏仁梔豉蜜丸服，汗吐下兼三法超。時氣毒癘及瘧痢，一丸兩服量病調。〔茵陳、芒硝、鱉甲（炙）、梔子各二兩，大黃五兩，常山、杏仁（炒）各三兩，巴豆一兩（去心皮炒），豉五合，蜜丸梧子大。每服一丸，或吐或利，不應再服。一丸不應，以熱湯投之。梔子、淡豉，梔豉湯也，合常山可以湧吐，合杏仁可以解肌。大黃、芒硝，承氣湯也，可以蕩熱去實，合茵陳可以利濕退黃，加巴豆大熱以祛臟腑積寒，加鱉甲滋陰以退血分寒熱。此方備汗、吐、下三法，雖云劫劑，實是佳方。〕</p>

<h2>大羌活湯</h2>
<p>即九味，己獨知連白朮暨。（即九味羌活湯加防己、知母、獨活、黃連、生地、川芎、知母各一兩，余藥各三錢，每服五錢。）散熱培陰表裡和，傷寒兩感瘥堪慰。（兩感傷寒，一曰太陽與少陰俱病，二曰陽明與太陰俱病，三曰少陽與厥陰俱病。陰陽表裡，同時俱病，欲汗則有里證，欲下則有表證。經曰：其兩感於寒者，必死。仲景無治法，潔古為制此方，間有生者。羌、獨、蒼、防、細辛，以散寒發表；芩、連、防己、知母、芎、地，以清裡培陰；白朮、甘草，以固中和表裡。）</p>

<h1>消補之劑</h1>
<p><u>七首、附方六</u></p>

<h2>平胃散</h2>
<p>（《局方》）是蒼朮樸，陳皮甘草四般藥。〔蒼朮（泔浸）二錢，厚朴（薑汁炒）、陳皮（去白）、甘草（炙）各一錢，薑、棗煎。〕除濕散滿驅瘴嵐，調胃諸方從此擴。（蒼朮燥濕強脾，厚朴散滿平胃，陳皮利氣行痰，甘草和中補土，泄中有補也。）或合二陳（名平陳湯，治痰）或五苓，（名胃苓湯，治泄。）硝黃麥曲均堪著。（加麥芽、神麯消食，加大黃、芒硝蕩積。）若合小柴（胡）名柴平（湯），煎加薑棗能除瘧。又不換金正氣散，即是此方加夏藿（半夏、藿香。）</p>

<h2>保和（丸）</h2>
<p>神麯與山楂，苓夏陳翹菔（音卜）子加。曲糊為丸麥（芽）湯下，亦可方中用麥芽。〔山楂（去核）三兩，神麯、茯苓、半夏各一兩，菔子（微炒）、連翹各五錢。山楂消肉食，麥芽消穀食，神麯消食解酒，菔子下氣，制曲、茯苓滲濕，連翹散結，陳、夏健脾化痰。此內傷而氣末病者，故但以和平之品消而化之，不必攻補也。〕太安丸內加白朮（二兩，）中消兼補效堪誇。</p>

<h2>健脾（丸）</h2>
<p>參朮與陳皮，枳實山楂麥蘖（芽）隨。曲糊作丸米飲下，消補兼行胃弱宜。〔人參、白朮（土炒）各二兩，陳皮、麥芽（炒）各一兩，山楂兩半，枳實（麩炒）三兩。陳皮、枳實理氣化積，山楂消肉食，曲、麥消穀食，人參、白朮益氣強脾。〕枳朮丸（潔古）亦消兼補，［白朮（土炒）］、［枳實（麩炒）］等分。荷葉燒飯上升奇。（荷葉包陳米飯，煨乾為丸，引胃氣及少陽甲膽之氣上升。）</p>

<h2>參苓白朮</h2>
<p>（散）扁豆陳，山藥甘蓮砂薏仁。（數藥利氣強脾。）桔梗上浮（載藥上行）兼保肺，（恐燥藥上僭。）棗湯調服益脾神。〔人參、茯苓、白朮（土炒）、陳皮、山藥、甘草（炙）各一斤，扁豆（炒）十二兩，蓮肉（炒）、砂仁、苡仁（炒）、桔梗各半斤，共為末，每服二錢，棗湯或米飲調下。〕</p>

<h2>枳實消痞</h2>
<p>（丸，東垣）四君全，麥芽夏曲樸姜連。蒸餅糊丸消積滿，清熱破結補虛痊。〔枳實（麩炒）、黃連（薑汁炒）各五錢，人參、白朮（土炒）、半夏曲、厚朴（薑汁炒）、茯苓各三錢，甘草（炙）、乾薑各二錢。黃連、枳實治痞君藥，麥、夏、薑、樸溫胃散滿，參、朮、苓、甘燥濕補脾，使氣足脾運，痞乃化也。〕</p>

<h2>鱉甲飲子</h2>
<p>（《嚴氏》）治瘧母，（久瘧不愈，中有結癖。）甘草耆朮芍芎偶。草果檳榔厚朴增，烏梅薑棗同煎服。［鱉甲（醋炙）、黃耆、白朮（土炒）、甘草、陳皮、川芎、白芍（酒炒）、草果（麵煨）、檳榔、厚朴等分，姜三片，棗二枚，烏梅少許煎。鱉甲屬陰入肺，退熱散結為君，甘、陳、耆、術助陽補氣，川芎、白芍養血和陰，草果溫胃，檳榔破積，厚朴散滿，甘草和中，烏梅酸斂，薑、棗和營衛。］</p>

<h2>葛花解酲</h2>
<p>（湯）香砂仁，二苓參朮蔻青陳。神麯乾薑兼澤瀉，溫中利濕酒傷珍。〔葛花、砂仁、豆蔻各一錢，木香一分，茯苓、人參、白朮（炒）、青皮、陳皮各四分，神麯（炒）、乾薑、豬苓、澤瀉各五分，專治酒積及吐瀉痞塞。砂、蔻、神麯皆能解酒，青皮、木香、乾薑行氣溫中，葛花引濕熱從肌肉出，苓、瀉引濕熱從小便出，益以參、術固其中氣也。〕</p>

<h1>理氣之劑</h1>
<p><u>十一首、附方八</u></p>

<h2>補中益氣</h2>
<p>（湯，東垣）耆朮陳，升柴參草當歸身。〔黃耆（蜜炙）錢半，人參、甘草（炙）各一錢，白朮（土炒）、陳皮（留白）、歸身各五分，升麻、柴胡各三分，加薑、棗煎。表虛者，升麻用蜜水炒用。東垣曰：升、柴味薄性陽，能引脾胃清氣行於陰道，以資春氣之和；又引參、耆、甘草上行，充實腠理，使衛外為固。凡補脾胃之氣，多以升陽補氣名之者，此也。〕虛勞內傷功獨擅，亦治陽虛外感因。（虛人感冒，不在發散者，此方可以代之，或加辛散藥。）木香蒼朮易歸術，調中益氣暢脾神。（除當歸、白朮，加木香、蒼朮，名調中益氣湯。前方加白芍、五味子，發中有收，亦名調中益氣湯，俱李東垣方。）</p>

<h2>烏藥順氣</h2>
<p>（湯，嚴用和）芎芷姜，橘紅枳桔及麻黃。殭蠶炙草姜煎服，中氣厥逆此方詳。（厥逆痰塞，口噤脈伏，身溫為中風，身冷為中氣。中風多痰涎，中氣無痰涎，以此為辨。許學士云：中氣之證，不可作中風治。喻嘉言曰：中風證多挾中氣。烏藥、橘紅各二錢，川芎、白芷、枳殼、桔梗、麻黃各一錢，殭蠶（去絲嘴炒）、炮薑、炙草各五分，加薑、棗煎。麻、梗、芎、芷發汗散寒，以順表氣；烏、薑、陳、枳行氣祛痰，以順裡氣。加殭蠶清化消風，甘草協和諸藥。古云氣順則風散，風邪卒中，當先治標也。）</p>

<h2>越鞠丸</h2>
<p>（丹溪）治六般郁，氣血痰火濕食因。（此六郁也。）芎蒼香附兼梔曲，氣暢郁舒痛悶伸。（吳鶴皋曰：香附開氣鬱，蒼朮燥濕鬱，撫芎調血鬱，梔子清火鬱，神麯消食鬱，各等分，麵糊為丸。又濕鬱加茯苓、白芷，火鬱加青黛，痰鬱加半夏、栝蔞、海石，血鬱加桃仁、紅花，氣鬱加木香、檳榔，食鬱加麥芽、山楂，挾寒加吳茱萸。）又六郁湯蒼芎附，甘苓橘半梔砂仁。（蒼朮、川芎、香附、甘草、茯苓、橘紅、半夏、梔子、砂仁。此前方加味，兼治痰鬱，看六郁中之重者為君，余藥聽加減用之。）</p>

<h2>蘇子降氣</h2>
<p>（湯，《局方》）橘半歸，前胡桂樸草姜依。下虛上盛痰嗽喘，亦有加參貴合機。〔蘇子、橘紅、半夏、當歸、前胡、厚朴（薑汁炒）各一錢，肉桂、炙甘草各五分，加姜煎。一方無桂加沉香。蘇子、前胡、橘紅、半夏降氣行痰，氣行則痰行也。數藥兼能發表，加當歸和血，甘草緩中。下虛上盛，故用官桂引火歸元。如氣虛亦有加人參、五味者。〕</p>

<h2>四七湯</h2>
<p>（《三因》）理七情氣，（七氣，寒、熱、喜、怒、憂、愁、恚也，亦名七氣湯。）半夏厚朴茯苓蘇。〔半夏（薑汁炒）五錢，厚朴（薑汁炒）三錢，茯苓四錢，紫蘇二錢。郁雖由乎氣，亦多挾濕挾痰，故以半夏、厚朴除痰散滿，茯苓、蘇葉利濕寬中。濕去痰行，郁自除矣。〕薑棗煎之舒鬱結，痰涎嘔痛盡能紓。又有局方名四七湯，參桂夏草妙更殊。（人參、官桂、半夏各一錢，甘草五分，加姜煎。人參補氣，官桂平肝，薑製半夏祛痰，甘草和中，並不用利氣之藥。湯名四七者，以四味治人之七情也。）</p>

<h2>四磨</h2>
<p>（湯，《嚴氏》）亦治七情侵，人參烏藥及檳沉。（人參、烏藥、檳榔、沉香等分。氣逆，故以烏藥、檳榔降而順之。加參者，恐傷其氣也。）濃磨煎服調逆氣，實者枳殼易人參。去參加入木香枳（實），五磨飲子白酒斟。（白酒磨服，治暴怒卒死，名氣厥。）</p>

<h2>代赭旋覆湯</h2>
<p>仲景用人參，半夏甘姜大棗臨。重以鎮逆咸軟痞，痞硬（音硬）噫（音愛）氣力能禁。（赭石一兩，參二兩，旋覆、甘草各三兩，半夏半升，生薑五兩，棗十二枚。旋覆之咸以軟堅，赭石之重以鎮逆，薑、夏之辛以散虛痞，參、甘、大棗之甘以補胃弱。）</p>

<h2>紺珠正氣天香散</h2>
<p>香附乾薑蘇葉陳。烏藥舒郁兼除痛，氣行血活自經勻。（香附八錢，烏藥二錢，陳皮、蘇葉各一錢，乾薑五分，每服五、六錢。烏、陳入氣分而理氣，香、蘇入血分而利氣，乾薑兼入氣血，用辛溫以順氣平肝，氣行則血行經自調，而痛自止矣。）</p>

<h2>橘皮竹茹</h2>
<p>（湯）治嘔呃，參甘半夏陳皮麥。赤茯再加薑棗煎，方由金匱此加闢。（《金匱》方，橘皮、竹茹各二升，人參一兩，甘草五兩，生薑半斤，棗三十枚，名橘皮竹茹湯，治噦逆，即呃逆也。後人加半夏、麥冬、赤茯苓、枇杷葉。呃逆由胃火上衝，肝膽之火助之，肺金之氣不得下降也。竹茹、麥冬、枇杷葉清肺和胃而降氣，肺金清則肝木自平矣。二陳降痰逆，赤茯苓瀉心火，生薑嘔家聖藥，久病虛贏，故以參、甘、大棗扶其胃氣。）</p>

<h2>丁香柿蒂</h2>
<p>（湯，《嚴氏》）人參姜，呃逆因寒中氣戕。（丁香、柿蒂各二錢，人參一錢，生薑五片。）濟生香蒂僅二味，（亦名丁香柿蒂湯，加姜煎。古方單用柿蒂，取其苦溫降氣；《濟生》加丁香、生薑，取其開鬱散痰；加參者，扶其胃氣也。）或加竹橘用皆良。（加竹茹、橘紅，各丁香柿蒂竹茹湯，治同。）</p>

<h2>定喘</h2>
<p>（湯）白果與麻黃，款冬半夏白皮桑。蘇杏黃芩兼甘草，肺寒膈熱哮喘嘗。〔白果三十枚（炒黃），麻黃、半夏（薑製）、款冬各三錢，桑皮（蜜炙）、蘇子各二錢，杏仁、黃芩各錢半，甘草一錢，加姜煎。麻黃、杏仁、桑皮、甘草散表寒而清肺氣，款冬溫潤，白果收澀，定喘而清金，黃芩清熱，蘇子降氣，半夏燥痰，共成散寒疏壅之功。〕</p>

<h1>理血之劑</h1>
<p><u>十三首、附方六</u></p>

<h2>四物</h2>
<p>（湯）地芍與歸芎，血家百病此方通。〔當歸（酒洗）、生地各三錢，白芍二錢，川芎錢半。當歸辛、苦、甘溫，入心脾，生血為君；生地甘寒，入心腎，滋血為臣；芍藥酸寒，入肝脾，斂陰為佐；川芎辛溫，通行血中之氣為使。〕八珍（湯）合入四君子（參、朮、苓、草，）氣血雙療功獨崇。（四君補氣，四物補血。）再加黃耆與肉桂，（加黃耆助陽固衛，加肉桂引火歸元。）十全大補（湯）補方雄。（補方之首。）十全除卻耆地草，（除生地、黃耆、甘草。）加粟（米百粒）煎之名胃風（湯。張元素治風客腸胃，飧泄完穀及瘈瘲牙閉。）</p>

<h2>人參養榮</h2>
<p>（湯）即十全（湯，見前四物下。）除卻川芎五味聯。陳皮遠志加薑棗，脾肺氣血補方先。（即十全大補湯除川芎，加五味、陳皮、遠志。薛立齋曰：氣血兩虛，變生諸症，不問脈病，但服此湯，諸症悉退。）</p>

<h2>歸脾湯</h2>
<p>（《濟生》）用術參耆，歸草茯神遠志隨。酸棗木香龍眼肉，煎加薑棗益心脾。怔忡健忘俱可卻，腸風崩漏總能醫。〔人參、白朮（土炒）、茯神、棗仁、龍眼肉各二錢，黃耆（蜜炙）錢半，當歸（酒洗）、遠志各一錢，木香、甘草（炙）各八分。血不歸脾則妄行，參、耆、草、術之甘溫以補脾，志、茯、棗仁、龍眼之甘溫、酸苦以補心，當歸養血，木香調氣，氣壯則自能攝血矣。〕</p>

<h2>養心湯</h2>
<p>用草耆參，二茯芎歸柏子等。夏曲遠志兼桂味，再加酸棗總寧心。〔黃耆（蜜炙）、茯苓、茯神、川芎、當歸（酒洗）、半夏曲各一兩，甘草（炙）一錢，人參、柏子仁（去油）、五味子、遠志、棗仁（炒）各二錢半，每服五錢。參、耆補心氣，芎、歸養心血，二茯、柏仁、遠志泄心熱而寧心神，五味、棗仁收心氣散越，半夏去擾心之痰涎，甘草補土以培心子，赤桂引藥以達心經。〕</p>

<h2>當歸四逆</h2>
<p>（湯，仲景）桂枝芍，細辛甘草木通著。再加大棗治陰厥，脈細陽虛由血弱。〔當歸、桂枝、芍藥、細辛各二兩，甘草（炙）、木通各二兩，棗二十五枚。成氏曰：通脈者，必先入心補血，當歸之苦以助心血。心苦緩，急食酸以收之，芍藥之酸，以收心氣。肝苦急，急食甘以緩之，甘草、大棗、木通以緩陰血。〕內有久寒加姜茱，（素有久寒者，加吳茱萸二升、生薑半斤酒煎，名四逆加吳茱萸生薑湯，仲景。）發表溫中通脈絡。（桂枝散表風，吳茱萸、生薑、細辛溫經，當歸、木通通經復脈。）不用附子及乾薑，助陽過劑陰反灼。（姜附四逆在於回陽，當歸四逆在於益血復脈，故雖內有久寒，止加生薑、吳茱，不用幹薑、附子，恐反灼其陰也。）</p>

<h2>桃仁承氣</h2>
<p>（湯、仲景）五般奇，甘草硝黃並桂枝。〔桃仁五十枚（去皮尖研），大黃四兩，芒硝、桂枝、甘草各二兩。硝、黃、甘草，調胃承氣湯也。熱甚搏血，故加桃仁潤燥緩肝，表證未除，故加桂枝調經解表。〕熱結膀胱小腹脹，如狂蓄血最相宜。（小腹脹而小便自利，知為血蓄下焦，蓄血發熱故如狂。）</p>

<h2>犀角地黃</h2>
<p>（湯）芍藥丹，（生地半兩，白芍一兩，丹皮、犀角二錢半。每服五錢。）血升胃熱火邪干。斑黃陽毒皆堪治，（犀角大寒，解胃熱而清心火；芍藥酸寒，和陰血而散肝火；丹皮苦寒，瀉血中之伏火；生地大寒，涼血而滋水，以期平諸經之僭逆也。）或益柴芩總伐肝。（因怒致血者，加柴胡、黃芩。）</p>

<h2>咳血方</h2>
<p>（丹溪）中訶子收，栝蔞海石山梔投。青黛蜜丸口噙化，咳嗽痰血服之瘳。〔訶子（煨取肉）、栝蔞仁（去油）、海石（去砂）、梔子（炒黑）、青黛（水飛）等分，蜜丸，嗽甚加杏仁。青黛清肝瀉火，梔子清肺涼心，栝蔞潤燥滑痰，海石軟堅止嗽，訶子斂肺定喘。不用血藥者，火退而自止也。〕</p>

<h2>東垣秦艽白朮丸</h2>
<p>歸尾桃仁枳實攢。地榆澤瀉皂角子，糊丸血痔便艱難。（大腸燥結故便難。）秦艽、白朮、歸尾（酒洗）、桃仁（研）、地榆各一兩，枳實（麩炒）、澤瀉、皂角子（燒存性）各五錢，糊丸。歸尾、桃仁以活血，秦艽、皂子以潤燥，枳實泄胃熱，澤瀉瀉濕邪，地榆以破血止血，白朮以燥濕益氣。仍有蒼朮防風劑，潤血疏風燥濕安。（本方除白朮、當歸、地榆，加蒼朮、防風、大黃、黃柏、檳榔，名秦艽蒼朮湯。除枳實、皂角、地榆，加防風、升麻、柴胡、陳皮、炙甘草、黃柏、大黃、紅花，名秦艽除風湯，治並同。）</p>

<h2>槐花散</h2>
<p>用治腸風，側柏（葉）黑荊（芥）枳殼充。為末等分米飲下，寬腸涼血逐風功。（槐花、柏葉涼血，枳實寬腸，荊芥理血疏風。）</p>

<h2>小薊飲子藕</h2>
<p>（節）蒲黃（炒黑），木通滑石生地襄。歸草（當歸、甘草）黑梔（子）淡竹葉，（等分煎服。）血淋熱結服之良。（小薊、藕節散瘀血，生地涼血，蒲黃止血，木通瀉心火達小腸，梔子散鬱火出膀胱，竹葉清肺涼心，滑石瀉熱利竅，當歸引血歸經，甘草和中調氣。）</p>

<h2>四生丸</h2>
<p>（《濟生》）用三般葉，側柏艾荷生地協。（側柏葉、艾葉、荷葉、生地黃。）等分生搗如泥煎，血熱妄行止衄愜。（側柏、生地補陰涼血，荷葉散瘀血、留好血，艾葉生者性溫，理氣止血。）</p>

<h2>復元活血湯</h2>
<p>（《發明》）柴胡，花粉當歸山甲俱。桃仁紅花大黃草，損傷瘀血酒煎祛。〔柴胡五錢，花粉、當歸、穿山甲（炮）、甘草、紅花各二錢，桃仁五十枚（去皮尖研），大黃一兩。每服一兩，酒煎。血積必干，兩脅屬肝膽經，故以柴胡引用為君，以當歸活血脈，以甘草緩其急，以大黃、桃仁、紅花、山甲、花粉破血潤血。〕</p>

<h1>祛風之劑</h1>
<p><u>十二首、附方四</u></p>

<h2>小續命湯</h2>
<p>（《千金》）桂附芎，麻黃參芍杏防風。黃芩防己兼甘草，六經風中此方通。〔通治六經中風，喎斜不遂，語言蹇澀及剛柔二痙，亦治厥陰風濕：防風一錢二分，桂枝、麻黃、人參、白芍（酒炒）、杏仁（炒研）、川芎（酒洗）、黃芩（酒洗）、防己、甘草（炙）各八分，附子四分，薑、棗煎。麻黃、杏仁，麻黃湯也，治寒；桂枝、芍藥，桂枝湯也，治風。參、草補氣，芎、芍養血，防風治風淫，防己治濕淫，附子治寒淫，黃芩治熱淫，故為治風套劑。劉宗厚曰：此方無分經絡，不辨寒熱，虛實雖多，亦奚以為？昂按：此方今人罕用，然古今風方，多從此方損益為治。〕</p>

<h2>大秦艽湯</h2>
<p>（《機要》）羌活防，芎芷辛芩二地黃。石膏歸芍芩甘術，風邪散見可通嘗。〔治中風風邪散見，不拘一經者：秦艽、石膏各三兩，羌活、獨活、防風、川芎、白芷、黃芩（酒炒）、生地（酒洗）、熟地、當歸（酒洗）、茯苓、白芍（酒炒）、甘草（炙）、白朮（土炒）各一兩，細辛五錢，每服一兩。劉宗厚曰：秦艽湯愈風，雖有補血之藥，而行經散風之劑居其大半，將何以養血而益筋骨也？昂按：治風有三法，解表、攻裡、行中道也。初中必挾外感，故用風藥解表散寒，而用血藥、氣藥調里，活血降火也。〕</p>

<h2>三生飲</h2>
<p>（《局方》）用烏附星，三皆生用木香聽。〔生南星一兩，生川烏、附子（去皮）各五錢，木香二兩。〕加參對半扶元氣，（每服一兩，加參一兩。）卒中痰迷服此靈。（烏、附燥熱，行經逐寒；南星辛熱，除痰散風。重用人參以扶元氣，少佐木香以行逆氣。《醫貫》曰：此行經散痰之劑，斬關擒王之將，宜急用之。凡中風口開為心絕，手撒為脾絕，眼合為肝絕，遺尿為腎絕，鼻鼾為肺絕。吐沫直視，髮直頭搖，面赤如朱，汗綴如珠者，皆不治。若服此湯，間有生者。）星香散亦治卒中，體肥不渴邪在經。（中臟、中腑者重，中經者稍輕。膽星八錢散痰，木香二行氣，為末服。《易簡》和姜煎服，名星香散。）</p>

<h2>地黃飲子</h2>
<p>（河間）山茱斛，麥味菖蒲遠志茯。蓯蓉桂附巴戟天，少入薄荷薑棗服。〔熟地、山萸肉、石斛、麥冬、五味、石菖蒲、遠志、茯苓、內蓯蓉、官桂、附子（炮）、巴戟等分，每服五錢，加薄荷少許煎。〕瘖厥風痱能治之，（凡口噤身冷為瘖厥，四肢不收為風痱。）火歸水中水生木。（熟地以滋根本之腎，桂、附、蓯蓉、巴戟以返真元之火，山茱、石斛平胃溫肝，志、苓、菖蒲補心通腎，麥、味保肺以滋水源，水火既交，風火自息矣。劉河間曰：中風，非外中之風，良由將息失宜，心火暴甚，腎水虛衰，不能制之，故卒倒無知也。治宜和臟腑，通經絡，便是治風。《醫貫》曰：痰涎上湧者，水不歸元也；面赤煩渴者，火不歸元也。惟桂、附能引火歸元，火歸水中，則水能生木，木不生風，而風自息矣。）</p>

<h2>獨活湯</h2>
<p>（丹溪）中羌獨防，芎歸辛桂參夏菖。茯神遠志白薇草，瘈瘲（音熾縱）昏憒力能匡。〔羌活、獨活、防風、當歸、川芎、細辛、桂心、人參、半夏、菖蒲、茯神、遠志、白薇各五錢，甘草（炙）二錢半，每服一兩，加薑、棗煎。肝屬風而主筋，故瘈瘲為肝邪。二活、防風治風，辛、桂溫經，半夏除痰，芎、歸和血，血活則風散也。肝移熱於心則昏憒。人參補心氣，菖蒲開心竅，茯神、遠志安心，白薇退熱止風。風靜火熄，血活神寧，瘈瘲自已矣。〕</p>

<h2>順風勻氣</h2>
<p>（散）術烏沉，白芷天麻蘇葉參。木瓜甘草青皮合，喎僻偏枯口舌瘖。〔口眼喎斜，偏枯不遂，皆由宗氣不能周於一身。白朮二錢，烏藥錢半，天麻、人參各五分，蘇葉、白芷、木瓜、青皮、甘草（炙）、沉香（磨）各三分，加姜煎。天麻、蘇、芷以疏風氣，烏藥、青、沉以行滯氣，參、朮、炙草以補正氣，氣勻則風順矣。木瓜伸筋，能於土中瀉木。〕</p>
<p>黃柏蒼朮　天南星，桂枝（橫行）防己（下行）及威靈（仙，上下行。）桃仁紅花龍膽草（下行，）羌芷（上行）川芎（上下行）神麯停痛風濕熱與痰血，上中下通用之聽。〔黃柏（酒炒）、蒼朮（泔浸）、南星、薑、棗各二兩，防己、桃仁（去皮尖）、膽草、白芷、川芎、神麯（炒）各一兩，桂枝、威靈仙、紅花、羌活各二錢半，麵糊丸，名上中下通用痛風方，丹溪。黃柏清熱，蒼朮燥濕，龍膽瀉火，防己利水，四者治濕與熱。桃仁、紅花活血祛瘀，川芎血中氣藥，南星散風燥痰，四者活血與痰。羌活去百節風，白芷去頭面風，桂枝、威靈仙去臂脛風，四者所以治風。和神麯者，消中焦陳積之氣也。症不兼者，加減為治。</p>

<h2>獨活寄生</h2>
<p>（湯，《千金》）艽防辛，芎歸地芍桂苓均。杜仲牛膝人參草，冷風頑痹屈能伸。〔獨活、桑寄生、秦艽、防風、細辛、川芎（酒洗）、當歸（酒洗）、白芍（酒炒）、熟地、桂心、茯苓、杜仲（薑汁炒斷絲）、牛膝、人參、甘草等分，每服四錢。〕若去寄生加耆續（黃耆、續斷，）湯名三痹古方珍。（名三痹湯，治風寒濕三痹。喻嘉言曰：此方用參耆四物一派補藥，加艽、防勝風濕，桂心勝寒，細辛、獨活通腎氣。凡治三氣襲虛成痹者，宜准諸此。）</p>

<h2>消風散</h2>
<p>內羌防荊芎樸參苓陳草並。殭蠶蟬蛻藿香入，為末茶調或酒行，頭痛目昏項背急，頑麻癮疹服之清。〔人參、防風、茯苓、川芎、羌活、殭蠶（炒）、蟬蛻、藿香各二兩，荊芥、厚朴（薑汁炒）、陳皮（去白）、甘草（炙）各五錢，每服三錢，茶調下。瘡癬，酒下。羌、防、芎、荊，治頭目、項背之風，殭蠶、蟬蛻散咽膈、皮膚之風，藿香、厚朴去惡散滿，參、苓、甘、橘輔正調中。〕</p>

<h2>川芎茶調散</h2>
<p>（《局方》）荊防，辛芷薄荷甘草羌。目昏鼻塞風攻上，正偏頭痛悉平康。〔薄荷三錢，川芎、荊芥各四錢，防風錢半，細辛一錢，羌活、白芷、甘草（炙）各二錢，為末，每服三錢，茶調下。羌活治太陽頭痛，白芷治陽明頭痛，川芎治少陽、厥陰頭痛，細辛治少陰頭痛，防風為風藥卒徒，薄荷、荊芥散風熱而清頭目。以風熱攻上，宜於升散，巔頂之上，惟風藥可到也。加甘草以緩中，加茶調以清降。〕方內若加殭蠶菊，菊花茶調（散）用亦臧。（菊花清頭目，殭蠶去風疾。）</p>

<h2>青空</h2>
<p>（膏，東垣）芎草柴芩連，羌防升之入頂巔。為末茶調如膏服，正偏頭痛一時蠲。〔川芎五錢，甘草（炙）一兩半，柴胡七錢，黃芩（酒炒）、黃連（酒炒）、羌活、防風各一兩，每服三錢。風寒濕熱上攻頭腦則痛，頭兩傍屬少陽，偏頭痛屬少陽相火。芩、連苦寒，以羌、防、芎、柴升之，則能去濕熱高巔之上矣。〕</p>

<h2>人參荊芥散</h2>
<p>（《婦寶》）熟地，防風柴枳芎歸比。酸棗鱉羚桂術甘，血風勞作風虛治。〔血脈空疏，乃感風邪，寒熱盜汗，久漸成勞。人參、荊芥、熟地、柴胡、枳殼、棗仁（炒）、鱉甲（童便炙）、羚羊角、白朮各五分，防風、甘草（炙）、當歸、川芎、桂心各三分，加姜煎。荊、防、柴、羚以疏風平木，地黃、鱉甲以退熱滋陰，草、棗仁以斂汗補虛，除煩進食。〕</p>

<h1>祛寒之劑</h1>
<p><u>十二首、附方二</u></p>

<h2>理中湯</h2>
<p>（仲景）主理中鄉，（仲景曰：理中者，理中焦。）甘草人參術黑姜。〔白朮（土炒）二兩，人參、乾薑（炮）、甘草（炙）各一兩，治太陰厥逆，自利不渴，脈沉無力。人參補氣益脾為君，白朮健脾燥濕為臣，甘草和中補土為佐，乾薑溫胃散寒為使。〕嘔利腹痛陰寒盛，或加附子總扶陽。（名附子理中湯。）</p>

<h2>真武湯</h2>
<p>（仲景）壯腎中陽，茯苓朮芍附生薑。〔附子一枚（炮），白朮二兩（炒），茯苓、白芍（炒）、生薑各三兩。〕少陰腹痛有水氣，悸眩瞤惕保安康。（中有水氣，故心悸頭眩；汗多亡陽，故肉瞤筋惕。瞤，音純，動貌。苓、術補土利水，以療悸眩；薑、附回陽益火，以逐虛寒；芍藥斂陰和營，以止腹痛。真武，北方水神。腎中火足，水乃歸元。此方補腎之陽，壯火而利水，故名。）</p>

<h2>四逆湯</h2>
<p>（仲景）中姜附草，三陰厥逆太陽沉。〔附子一枚（生用），乾薑一兩，炙甘草二兩，冷服。專治三陰厥逆，太陽初證脈沉亦用之。〕或益薑蔥參芍桔，通陽復脈力能任（音仁。面赤，格陽於上也，加蔥白通陽；腹痛，加芍藥和陰；咽痛，加桔梗利咽；利止、脈不出，加人參補氣復脈；嘔吐，加生薑以散逆氣。）</p>

<h2>白通加</h2>
<p>（人）尿豬膽汁（湯，仲景。尿，音鳥，去聲，小便也。俗讀平聲，非。）乾薑附子兼蔥白。〔附子一枚（炮），乾薑一兩，蔥白四莖，此白通湯也。蔥白以通陽氣，薑、附子以散陰寒，加人尿五合，豬膽汁一合。〕熱因寒用妙義深，陰盛格陽厥無脈。（陰寒內甚，格陽於外，故厥逆無脈，純與熱藥，則寒氣格拒，不得達入，故於熱劑中加尿汁，寒藥以為引用，使得入陰而回陽也。）</p>

<h2>吳茱萸湯</h2>
<p>（仲景）人參棗，重用生薑溫胃好。陽明寒嘔（太陽熱嘔忌用）少陰（下）利，厥陰頭痛皆能保。〔吳茱萸一升（炮），人參三兩，生薑六兩，棗十二枚。薑、茱、參、棗，補土散寒。茱萸辛熱，能入厥陰，治肝氣上逆而致嘔利腹痛。〕</p>

<h2>益元</h2>
<p>（湯，《活人》）艾附與乾薑，麥味知連參草將。（附子（炮）、艾葉、乾薑、麥冬、五味子、知母、黃連、人參、甘草。艾葉辛熱，能回陽。）薑棗蔥煎入童便（冷服），內寒外熱名戴陽（症。此陰盛格陽之症，面赤身熱，不煩而躁，但飲水不入口，為外熱內寒。此湯薑、附加知、連，與白通加人尿、豬膽汁同意，乃熱因寒藥為引用也。按：內熱曰煩，為有根之火；外熱曰躁，為無根之火。故但躁不煩及先躁後煩，皆不治。）</p>

<h2>回陽救急</h2>
<p>（湯，節庵曰即四逆湯）用六君，桂附乾薑五味群。（附子炮、乾薑、肉桂、人參各五分，白朮、茯苓各一錢，半夏、陳皮各七分，甘草三分，五味九粒，姜煎。）加麝三釐或（豬）膽汁，三陰寒厥見重勳。（薑、桂、附子祛其陰。六君溫補，助其陽氣。五味、人參以生其脈。加麝香者，以通其竅；加膽汁者，熱因寒用也。）</p>

<h2>四神</h2>
<p>（丸）故紙吳茱萸，肉蔻五味四般須。大棗百枚姜八兩，〔破故紙四兩（酒浸炒），吳茱萸一兩（鹽水炒），肉豆蔻三兩（面里煨），五味子三兩（炒），棗、生薑同煎。棗爛即去姜，搗棗肉為丸，臨臥鹽湯下，若早服，不能敵一夜之陰寒也。〕五更腎瀉火衰扶。（由腎命火衰，不能生脾土，故五更將交陽分，陽虛不能鍵閉而泄瀉，不可專責脾胃也。破故紙辛溫，能補相火，以通君火，火盛乃能生土；肉豆蔻暖胃固陽，吳茱萸燥脾去濕，五味子補腎澀精，生薑溫中，大棗補土，亦以防水也。）</p>

<h2>厚朴溫中</h2>
<p>（湯）陳草苓，乾薑草蔻木香停。煎服加姜治腹痛，虛寒脹滿用皆靈。（厚朴、陳皮各一錢，甘草、茯苓、草豆蔻、木香各五分，乾薑三分，加姜煎。乾薑、草蔻辛熱以散其寒，陳皮、廣木香辛溫以調其氣，厚朴辛溫以散滿，茯苓甘淡以利濕，甘草甘平以和中。寒散氣行，痛脹自已矣。）</p>

<h2>寒疝痛用導氣湯</h2>
<p>川楝茴香與木香。吳茱煎以長流水，散寒通氣利小腸。（疝，亦名小腸氣。川楝四錢，木香二錢，茴香二錢，吳茱萸一錢，湯泡同煎。川楝苦寒，入肝舒筋，能導小腸、膀胱之熱從小水下行，為治疝君藥。茴香暖胃散寒，吳茱萸溫肝燥濕，木香行三焦通氣。）</p>

<h2>疝氣方</h2>
<p>（丹溪）用荔枝核，梔子山楂枳殼益。（荔枝雙結，狀類睪丸，能入肚腎，闢寒散滯。梔子瀉火利水，枳殼行氣破症，山楂散瘀癧積。睪，音皋，腎子也。）再入吳茱暖厥陰，（疝乃厥陰肝邪，非腎病，以肝脈絡陰器也。）長流水煎疝痛釋。（等分，或為末，空心服。）</p>

<h2>橘核丸</h2>
<p>（《濟生》）中川楝桂，樸實延胡藻帶昆。桃仁二木酒糊合，㿗疝痛頑鹽酒吞。（橘核、川楝子、海藻、海帶、昆布、桃仁各二兩，桂心、厚朴、枳實、延胡索、木通、木香各五錢，酒糊為丸，鹽湯或酒下。橘核、木香能入厥陰氣分而行氣，桃仁、延胡索能入厥陰氣分而活血，川楝、木通能導小腸、膀胱之濕，官桂能祛肝腎之寒，枳實、厚朴行結水而破宿血，昆布、藻、帶寒行水而咸軟堅。）</p>

<h1>祛暑之劑</h1>
<p><u>五首、附方十</u></p>

<h2>三物香薷</h2>
<p>（飲，《局方》）豆樸先，（香薷辛溫香散，能入脾肺，發越陽氣以散蒸熱。厚朴除濕散滿，扁豆清暑和脾。）若云熱盛加黃連。（名黃連香薷飲，《活人》治中暑熱盛，口渴心煩。）或加苓草（茯苓、甘草）名五物（香薷飲），利濕祛暑木瓜宣。（加木瓜名六味香薷飲，木瓜、茯苓治濕盛。）再加參耆與除術，兼治內傷十味全。（六味加參、耆、陳皮、白朮，名十味香薷飲。）二香（散）合入香蘇飲，（五味香薷飲合香蘇飲。香附、紫蘇、陳皮、蒼朮，名二香散，治外感內傷，身寒腹脹。）仍有藿薷（湯）香葛（湯）傳。（三物香薷飲合藿香正氣散，名藿薷湯，治伏暑吐瀉；三物香薷飲加葛根，名香葛湯，治暑月傷風。）</p>

<h2>清暑益氣</h2>
<p>（湯，東垣）參草耆，當歸香味青陳皮。曲柏葛根蒼白朮，升麻澤瀉棗姜隨。〔人參、黃耆、甘草（炙）、當歸（酒洗）、麥冬、五味、青皮（麩炒）、陳皮（留白）、神麯（炒）、黃柏（酒炒）、葛根、蒼朮、白朮（土炒）、升麻、澤瀉，加薑、棗煎。熱傷氣，參、耆補氣斂汗；濕傷脾，二術燥濕強脾。火旺則金病而水衰，故用麥、味保肺生津，黃柏瀉火滋水，青皮理氣而破滯，當歸養血而和陰，曲、草和中而消食，升、葛以升清，澤瀉以降濁也。〕</p>

<h2>縮脾飲</h2>
<p>用清暑氣，砂仁草果烏梅暨。甘草葛根扁豆加，吐瀉煩渴溫脾胃。（砂仁、草果（煨）、烏梅、甘草（炙）各四兩，扁豆（炒研）、葛根各二兩。暑必兼溫，而濕屬脾土，故用砂仁、草果利氣溫脾，扁豆解暑滲濕，葛根升陽生津，甘草補土和中，烏梅清熱止渴。）古人治暑多用溫，（如香薷飲、大順散之類。）暑為陰證此所謂。（潔古曰：中熱為陽證，為有餘；中暑為陰證，為不足。經曰：脈虛身熱，得之傷暑。）大順（散）杏仁薑桂甘，散寒燥濕斯為貴。（先將甘草、白砂仁，次入乾薑、杏仁（炒），合肉桂為末，每服一錢。吳鶴皋曰：此非治暑，乃治暑月飲冷受傷之脾胃耳。）</p>

<h2>生脈散</h2>
<p>麥味與人參，保肺清心治暑淫。氣少汗多兼口渴，病危脈絕急煎斟。（人參五分，麥冬八分，五味子九粒。人參大補肺氣，麥冬甘寒潤肺，五味酸收斂肺，並能瀉火生津。蓋心主脈，肺朝百脈，補肺清心，則氣充而脈復。將死脈絕者服之，能令復生。夏月火旺爍金，尤宜服之。）</p>

<h2>六一（散）</h2>
<p>滑石同甘草，解肌行水兼清燥。統治表裡及三焦，熱渴暑煩瀉痢保。（滑石六兩，甘草一兩，燈心湯下，亦有用薑湯下者。滑石氣輕解肌，質重瀉火，滑能入竅，淡能行水，故能通治上下表里之濕熱，甘草瀉火和中，又以緩滑石之寒滑也。）益元（散）碧玉與雞蘇（散），砂黛薄荷加之好。（前方加辰砂，名益元散，取其清心；加青黛，名碧玉散，取其涼肝；加薄荷，名雞蘇散，取其散肺也。）</p>

<h1>利濕之劑</h1>
<p><u>十三首、附方八</u></p>

<h2>五苓散</h2>
<p>（仲景）治太陽府，（太陽經熱傳入膀胱府者用之。）白朮澤瀉豬茯苓。膀胱化氣添官桂，利便消暑煩渴清。〔豬苓、茯苓、白朮（炒）各十八銖，澤瀉一兩六銖，桂枝半兩，每服三錢。二苓甘淡利水，澤瀉甘鹹瀉水，能入肺腎而通膀胱，導水以泄火邪。加白朮者，補土所以制水；加官桂者，氣化乃能出也。經曰：膀胱者，州都之官，津液藏焉，氣化則能出矣。〕除桂名為四苓散，無寒但渴服之靈。（濕勝則氣不得施化，故渴，利其濕則渴自止。）豬苓湯（仲景）除桂與術，加入阿膠滑石停。（豬苓、茯苓、澤瀉、阿膠、滑石各一兩。滑石瀉火解肌，最能行水。吳鶴皋曰：以諸藥過燥，故加阿膠以存津液。）此為利濕兼瀉熱，黃疸（小）便閉渴嘔寧。（五苓治濕勝，豬苓兼熱勝。）</p>

<h2>小半夏加茯苓湯</h2>
<p>（仲景）。行水散痞有生薑。（半夏一升，茯苓三錢，生薑半斤。除茯苓，名小半夏湯。）加桂除夏治悸厥，茯苓甘草湯名彰。（加桂枝、甘草，除半夏，名茯苓甘草湯，仲景治傷寒水氣乘心，厥而心下悸者，先治其水，卻治其厥。火因水而下行，則眩悸止而痞滿治矣。）</p>

<h2>腎著湯</h2>
<p>（《金匱》）內用乾薑，茯苓甘草白朮襄。傷濕身痛與腰冷，亦名甘姜苓朮湯。〔乾薑（炮）、茯苓各四兩，炙甘草、白朮（炒）各二兩。數藥行水補土，此濕邪在經而未入腑臟者。〕黃耆防己（湯，《金匱》）除姜茯，術甘薑棗共煎嘗。此治風水與諸濕，身重汗出服之良。〔黃耆、防己各一兩，白朮七錢半，甘草（炙）五錢，加薑、棗煎。防己大辛苦寒，通行十二經，開竅行水；黃耆生用達表，白朮燥濕強脾，並能止汗。加甘草者，益土所以制水，又以緩防己之峻急也。〕</p>

<h2>舟車</h2>
<p>（丸，河間）牽牛及大黃，遂戟芫花又木香。青皮橘皮加輕粉，燥實陽水卻相當。〔口渴面赤，氣粗便秘而腫脹者，為陽水。黑牽牛四兩炒，大黃二兩（酒浸），甘遂（面里煨）、芫花（醋炒）、大戟（面里煨）、青皮（炒）、橘紅各一兩，木香五錢，輕粉一錢，水丸。牽牛、大黃、遂、戟、芫花行水厲藥，木香、青、陳以行氣，少加輕粉以透經絡，然非實證不可輕投。〕</p>

<h2>疏鑿</h2>
<p>（飲）檳榔及商陸，苓皮大腹同椒目。赤豆艽羌瀉木通，煎益姜皮陽水服。（檳榔、商陸、茯苓皮、大腹皮、椒目、赤小豆、秦艽、羌活、澤瀉、木通等分，加姜皮、棗煎。艽、羌散濕上升，通、瀉泄濕下降，苓、腹、姜皮行水於皮膚，椒、豆、商、檳攻水於腹裡，亦上下表里分消之意。）</p>

<h2>實脾</h2>
<p>（湯，《嚴氏》）苓朮與木瓜，甘草木香大腹加。草蔻附姜兼厚朴，虛寒陰水效堪誇。〔便利不渴而腫脹者，為陰水。茯苓、白朮（土炒）、木瓜、甘草、木香、大腹皮、草豆蔻（煨）、附子（炒）、黑薑、厚朴（炒），加薑、棗煎。脾虛，補以苓、朮、甘草；脾寒，溫以蔻、附、黑姜；脾濕，利以茯苓、大腹；脾滯，導以厚朴，木香。又土之不足，由於木之有餘，木瓜、木香皆能平肝瀉木，使木不剋土而脾和，則土能制水而脾實矣。經曰：濕勝則地泥，實土正所以制水也。〕</p>

<h2>五皮飲</h2>
<p>（澹寮）用五般皮，陳茯姜桑大腹奇。（陳皮、茯苓皮、姜皮、桑白皮、大腹皮）。或用五加（皮）易桑白，脾虛膚脹此方司。（脾不能為胃行其津液，故水腫。半身以上，宜汗；半身以下，宜利小便。此為於瀉水之中，仍寓調補之意。皆用皮者，水溢皮膚，以皮行皮也。）</p>

<h2>羌活勝濕</h2>
<p>（湯，《局方》）羌獨芎，甘蔓藁木與防風。濕氣在表頭腰重（痛），發汗升陽有異功。風能勝濕升能降，（氣升則水自降。）不與行水滲濕同。〔濕氣在表宜汗。又風能勝濕，故用風藥上升，使濕從汗散。羌活、獨活各一錢，川芎、甘草（炙）、藁本、防風各五分，蔓荊子三分。如有寒濕，加附子、防己。〕若除獨活芎蔓草，除濕（湯）升麻蒼朮充。（除獨活、川芎、蔓荊子、甘草，加升麻、蒼朮，名羌活除濕湯，治風濕身痛。）</p>

<h2>大橘皮湯</h2>
<p>治濕熱，五苓六一二方綴。陳皮木香檳榔增，能消水腫及泄瀉。（用五苓散，赤茯苓一錢，豬苓、澤瀉、白朮、桂各五分；用六一散，滑石六錢，甘草一錢，加陳皮錢半，木香、檳榔各三分，每服五錢，加姜煎。小水併入大腸，致小腸不利而大便泄瀉。二散皆行水泄熱之藥，加檳榔峻下，陳皮、木香理氣，以利小便而實大便也。水腫亦濕熱為病，故皆治之。）</p>

<h2>茵陳蒿湯</h2>
<p>（仲景）治疸黃，陰陽寒熱細推詳。陽黃大黃梔子入，〔瘀熱在裡，口渴便閉，身如橘色，脈沉實者，為陽黃。茵陳六兩，大黃二兩（酒浸），梔子十四枚。茵陳發汗利水，能泄太陰、陽明之濕熱，梔子導濕熱出小便，大黃導濕熱出大便。〕陰黃附子與乾薑。（黃柏二兩，梔子十五枚，甘草一兩。按：陽黃胃有瘀熱者，宜下之。如發熱者，則勢外出而不內入，不必汗下，惟用梔子、黃柏，清熱利濕以和解之。若小便利，色白無熱者，仲景作虛勞治，用小建中湯。）</p>

<h2>八正</h2>
<p>（散，《局方》）木通與車前，萹蓄大黃滑石研。（甘）草梢瞿麥兼梔子，煎加燈草痛淋蠲。（一方有木香，治濕熱下注，口渴咽乾，淋痛尿血，小腹急滿。木通、燈草、瞿麥降心火人小腸，車前清肝火入膀胱，梔子瀉三焦鬱火，大黃、滑石瀉火利水之捷藥，萹蓄利便湧淋，草梢入莖止痛。雖治下焦，而不專於治下，必三焦通利，水乃下行也。）</p>

<h2>萆薢分清</h2>
<p>（飲）石菖蒲，（甘）草梢烏藥益智俱。（甘草梢減半，余藥等分。）或益茯苓鹽煎服，（加鹽少許。）通心固腎濁精驅（遺精、白濁。萆薢能泄厥陰、陽明濕熱，去濁分清；烏藥疏逆氣而止便數，益智固脾胃而開鬱結，石菖蒲開九竅而通心，甘草梢達腎莖而止痛，使溫熱去而心腎通，則氣化行而淋濁止矣。此以疏泄為禁止者也。）</p>

<h2>縮泉（丸）</h2>
<p>益智同烏藥（等分），山藥（為）糊丸便數需。（鹽湯下，治便數遺尿。）</p>

<h2>當歸拈痛</h2>
<p>（湯，東垣）羌防升，豬澤茵陳芩葛朋。二術苦參知母草，瘡瘍濕熱服皆應。〔當歸（酒洗）、羌活、防風、升麻、豬苓、澤瀉、茵陳、黃芩（酒炒）、葛根、蒼朮、白朮（土炒）、苦參、知母（並酒炒）、甘草（炙）。羌活通關節，防風散留濕，苦參、黃芩、茵陳、知母以泄熱，當歸以和氣血，升、葛助陽而升清，芩、瀉泄濕而降濁，參、甘、二術補正固中，使苦寒不傷胃，疏泄不損氣也。劉宗厚曰：此方東垣本治濕熱腳氣，後人用治諸瘡，甚驗。〕</p>

<h1>潤燥之劑</h1>
<p><u>十三首、附方二</u></p>

<h2>炙甘草湯</h2>
<p>（仲景）參薑桂，麥冬生地大麻仁。大棗阿膠加酒服，虛勞肺痿效如神。〔甘草（炙）、人參、生薑、桂枝各三兩，阿膠、蛤粉各二兩，生地一斤，麥冬、麻仁（研）各半升，棗十二枚，水、酒各半煎。仲景治傷寒脈結代，心動悸及肺痿唾多。《千金翼》用治虛勞，《寶鑑》用治呃逆，《外臺》用治肺痿。參、草、麥冬益氣復脈，阿膠、生地補血養陰，棗、麻潤滑以緩脾胃，薑、桂辛溫以散餘邪。）</p>

<h2>滋燥養榮</h2>
<p>（湯）兩地黃，芩甘歸芍及艽防。（艽、防，風藥潤劑。）爪枯膚燥兼風秘，火爍金傷血液亡。（當歸（酒洗）二錢，生地、熟地、白芍（炒）、黃芩（酒炒）、秦艽各一錢，防風、甘草各五分。）</p>

<h2>活血潤燥生津飲</h2>
<p>（丹溪。）二冬熟地兼栝蔞。桃仁紅花及歸芍，利秘通幽善澤枯。（熟地、當歸、白芍各一錢，天冬、麥冬、栝蔞各八分，桃仁（研）、紅花各五分。）</p>

<h2>韭汁牛乳</h2>
<p>（飲，丹溪）反胃滋，養榮散瘀潤腸奇。五汁安中（飲，張任候）姜梨藉，三般加入用隨宜。（牛乳半斤，韭菜汁少許，滾湯頓服，名韭汁牛乳飲。牛乳六分，韭汁、薑汁、藕汁、梨汁各一分，和服名五汁安中飲，並治噎膈。反胃噎膈，由火盛血枯，或有瘀血寒痰，阻滯胃口，故食入反出也。牛乳潤燥養血為君，韭汁、藕汁消瘀益胃，薑汁溫胃散痰，梨汁消痰降火，要審症用之。或加陳酒亦佳，以酒乃米成也。）</p>

<h2>潤腸丸</h2>
<p>（東垣）用歸尾羌，桃仁麻仁及大黃。（歸尾、羌活、大黃各五錢，桃仁、火麻仁各一兩，蜜丸。歸尾、桃仁潤燥活血，羌活散火搜風，大黃破結通幽，麻仁潤腸利竅。）或加艽防皂角子，（風濕加秦艽、防風、皂角子燒存性研。皂子得濕則滑，善通便秘，艽、防治風。）風秘血秘善通腸。（治風燥、血燥致大湯秘。）</p>

<h2>通幽湯</h2>
<p>（東垣）中二地俱，桃仁紅花歸草濡。升麻升清以降濁，（清陽不升，則濁陰不降，故大便不通。生地、熟地各五分，桃仁（研）、紅花、當歸身、甘草（炙）、升麻各一錢。）噎塞便閉此方需。有加麻仁大黃者，當歸潤腸湯名殊。（以上藥皆潤燥通腸。）</p>

<h2>搜風順氣</h2>
<p>（丸）大黃蒸，郁李麻仁山藥增。防獨車前及檳枳，菟絲牛膝山茱仍。中風風秘及氣秘，腸風下血總堪憑。（大黃（九蒸九曬）五兩，火麻仁、郁李仁（去皮）、山藥（酒蒸）、車前子、牛膝（酒蒸）、山茱肉三兩，菟絲子（酒浸）、防風、獨活、檳榔、枳殼（麩炒）各一兩，蜜丸。防、獨潤腎搜風，檳、枳順氣破滯、大黃經蒸曬則性稍和緩，同二仁滑利，潤燥通幽。牛膝、車前下行利水，加山藥、山茱、菟絲固本益陽，不使過於攻散也。）</p>

<h2>消渴方</h2>
<p>（丹溪）中花粉連，藕汁（生）地汁牛乳研。（粉、連研為末，諸汁調研。）或加姜（汁）蜜為膏服，瀉火生津益血痊。（黃連瀉心火，生地滋腎水，藕汁益胃，花粉生津，牛乳潤燥益血。）</p>

<h2>白茯苓丸</h2>
<p>治腎消，花粉黃連萆薢調。二參熟地覆盆子，石斛蛇床膍胵要。（膍胵，音皮鴟，即雞肫皮也。茯苓、花粉、黃連、萆薢、人參、玄參、熟地黃、覆盆子各一兩，石斛、蛇床子各七錢半，雞肫皮三十具（微炒），蜜丸，磁石湯下。黃連降心火，石斛平胃熱，熟地、玄參生腎水，覆盆、蛇床固腎精，人參補氣，花粉生津，茯苓交心腎，萆薢利濕熱，膍胵治膈消，磁石色黑屬水，假之入腎也。）</p>

<h2>豬腎薺苨湯</h2>
<p>（《千金》）參茯神，知芩葛草石膏因。磁石天花同黑豆，強中消渴此方珍。〔下消之證，莖長興盛，不交精出，名強中。緣服邪術熱藥而毒盛也。豬腎一具，大豆一升，薺苨、人參、石膏各三兩，磁石（綿裹）、茯神、知母、黃芩、葛根、甘草、花粉各二兩，先煮豆、腎，去滓，以藥分三服。知、苓、石膏以瀉邪火，人參、甘草以固正氣，葛根、花粉以生津，薺苨、黑豆最能解毒，磁石、豬腎引之人腎也。〕</p>

<h2>地黃飲子</h2>
<p>（《易簡》）參耆草，二地二冬枇斛參。澤瀉枳實疏二腑，躁煩消渴血枯含。〔人參、黃耆、甘草（炙）、天冬、麥冬、生地、枇杷葉（蜜炙）、石斛、澤瀉、枳實（麩炒），每服二錢。參、耆、甘草以補其氣，氣能生水，二地、二冬以潤其燥，潤能益血，石斛平胃，枇杷補氣，澤瀉瀉膀胱之火，枳實宣大腸之滯，使二腑清，則心、肺二臟之氣得以下降，而渴自止。〕</p>

<h2>酥蜜膏酒</h2>
<p>（《千金》）用飴糖，二汁百部及生薑。杏棗補脾兼潤肺，聲嘶氣憊酒溫嘗。〔酥蜜、飴糖、棗肉、杏仁（細研）、百部汁、生薑汁，共煎一炊，久如膏，溫酒細細嚥服之。〕</p>

<h2>清燥</h2>
<p>（湯，東垣）二術與黃耆，參苓連柏草陳皮。豬澤升柴五味曲，麥冬歸地痿方推。〔治肺金受濕熱之邪，痿躄喘促，口乾便赤，黃耆錢半，蒼朮（炒）一錢，白朮（炒）、陳皮、澤瀉各五分，人參、茯苓、升麻各三分，當歸（酒洗）、生地、麥冬、甘草（炙）、神麯炒、黃柏（酒炒）、豬苓各二分，柴胡、黃連（炒）各一分，五味九粒，煎。肺屬辛金，主氣；大腸為庚金，主津。燥金受濕熱之邪，則寒水生化源絕，而痿躄喘渴諸症作矣。參、耆、苓、朮、陳、草補土以生金，麥、味保金而生水，連、柏、歸、地瀉火滋陰，豬、澤、升、柴升清降濁，則燥金肅清，水出高原，而諸病平矣。此方不盡潤藥，因有清燥二字，故附記於此。然東垣所云清燥者，蓋指肺與太陽為燥金也。〕</p>

<h1>瀉火之劑</h1>
<p><u>二十七首、附方九</u></p>

<h2>黃連解毒湯</h2>
<p>（毒即火熱也）四味，黃柏黃芩梔子備，（等分）。躁狂大熱嘔不眠，吐（血）衄（鼻血，音女六切）斑黃均可使。若云三黃石膏湯，再加麻黃及淡鼓。（見表裡。）此為傷寒溫毒盛，三焦表裡相兼治。梔子金花（丸）加大黃，（黃芩、黃柏、黃連、梔子、大黃，水丸。）潤腸瀉熱真堪倚。</p>

<h2>附子瀉心</h2>
<p>（湯，仲景）用三黃，寒加熱藥以維陽。〔芩、連各一兩，大黃二兩，附子一枚（炮）。恐三黃重損其陽，故加附子。〕痞乃熱邪寒藥治，（傷寒痞滿，從外之內，滿在胸而不在胃，多屬熱邪，故宜苦瀉。若雜病之痞，從內之外，又宜辛熱。）惡寒加附始相當。（經曰：心下痞，按之軟，關脈浮者，大黃黃連瀉心湯。心下痞而復惡寒，汗出者，附子瀉心腸。）大黃附子湯同意，溫藥下之妙異常。〔大黃、細辛各二兩，附子一枚（炮）。《金匱》陽中有陰，宜以溫藥下其寒，後人罕識其旨。〕</p>

<h2>半夏瀉心</h2>
<p>（湯，仲景）黃連芩，乾薑甘草與人參。大棗和之治虛痞，法在降陽而和陰。〔半夏半斤，黃連一兩，乾薑、黃芩、甘草（炙）、人參各三兩，大棗十二枚。治傷寒下之早，胸滿而不痛者，為痞；身寒而嘔，飲食不下，非柴胡證。凡用瀉心者，多屬誤下，非傳經熱邪。否而不泰為痞。瀉心者，必交陰陽；通上下者，必和其中，故用參、甘、大棗。〕</p>

<h2>白虎湯</h2>
<p>（仲景）用石膏偎，知母甘草梗米陪。（石膏一斤，知母六兩，甘草二兩，粳米六合。）亦有加入人參者，（名人參白虎湯。）燥煩熱渴舌生苔。（白虎，西方金神。此方清肺金而瀉胃火，故名。然必實熱方可用之，或有血虛身熱，脾虛發熱及陰盛格陽，類白虎湯證，誤投之，不可救也。按：白虎證脈洪大有力，類白虎證脈大而虛，以此為辨。又當觀小便，赤者為內熱，白者為內寒也。）</p>

<h2>竹葉石膏湯</h2>
<p>（仲景）人參，麥冬半夏竹葉靈。甘草生薑兼粳米，暑煩熱渴脈虛尋。〔竹葉二把，石膏一斤，人參三兩，甘草（炙）三兩，麥冬一升，半夏、粳米各半升，加姜煎。治傷寒解後，嘔渴少氣。竹葉、石膏之辛寒，以散餘熱；參、甘、粳、麥之甘平，以補虛生津；薑、夏之辛溫，以豁痰止嘔。〕</p>

<h2>升陽散火</h2>
<p>（湯，東垣）葛升柴，羌獨防風參芍儕。生炙二草加薑棗，陽經火鬱發之佳。（柴胡八錢，葛根、升麻、羌活、獨活、白芍各五錢，防風二錢半，炙甘草三錢，生甘草二錢，每服五錢，加薑、棗煎。火發多在肝、膽之經，以木盛能生火，而二經俱挾相火，故以柴胡散肝為君，羌、防以發太陽之火，升、葛以發陽明之火，獨活以發少陰之火。加參、甘者，補土以泄火；加白芍者，瀉肝而益脾，但令散中有補，發中有收也。）</p>

<h2>涼膈</h2>
<p>（散，《局方》）硝黃梔子翹，黃芩甘草薄荷饒。竹葉蜜煎療膈上，（葉生竹上，故治上焦。）中焦燥實服之消。〔連翹四兩，大黃（酒浸）、芒硝、甘草各二兩，梔子（炒黑）、黃芩（酒炒）、薄荷各一兩，為末，每服三錢，加竹葉、生蜜煎。連翹、薄荷、竹葉以升散於上，梔、芩、硝、黃以推瀉於下，使上升下行，而膈自清矣。加甘草、生蜜者，病在膈，甘以緩之也。潘思敬曰：仲景調胃承氣湯，後人加味一變而為涼膈散，再變而為防風通聖散。〕</p>

<h2>清心蓮子</h2>
<p>（飲，《局方》）石蓮參，地骨柴胡赤茯苓。耆草麥冬車前子，躁煩消渴及崩淋。〔石蓮、人參、柴胡、赤茯苓、黃耆各三錢，黃芩（酒炒）、地骨皮、麥冬、車前子、甘草（炙）各二錢。參、耆、甘草補虛瀉火，柴胡、地骨退熱平肝，黃芩、麥冬清熱上焦，赤茯苓、車前利濕下部，中以石蓮交其心腎也。〕</p>

<h2>甘露</h2>
<p>（飲，《局方》）兩地（生、熟）與茵陳，芩枳枇杷（黃芩、枳殼、枇杷葉）石斛倫。甘草二冬（天、麥）平胃熱，（等分煎。二地、甘、石斛平脾胃之虛熱，清而兼補，黃芩、茵陳折熱而去溫，枳殼、枇杷抑氣而降火。）桂苓犀角可加均。（加茯苓、肉桂，名桂苓甘露飲。《本事方》加犀角，通治胃中之溫熱，口瘡吐衄。）</p>

<h2>清胃散</h2>
<p>（東垣）用升麻（黃）連，當歸生地牡丹全。或益石膏平胃熱，口瘡吐衄（口血、鼻血）及牙宣（齒齦出血。黃連瀉心火，亦瀉脾火，丹皮、生地平血熱，當歸引血歸經，石膏瀉陰陽之火，升麻升陽明之清。昂按：古人治血，多用升麻。然上升之藥，終不可輕施。）</p>

<h2>瀉黃</h2>
<p>（散）甘草與防風，石膏梔子藿香充。炒香蜜酒調和服，胃熱口瘡並見功。（防風四兩，甘草二兩，黑梔子一兩，藿香七錢，石膏五錢。梔子、石膏瀉肺胃之火，藿香辟惡調中，甘草補脾瀉熱。重用防風者，能發脾中伏火，又能於土中瀉木也。）</p>

<h2>錢乙瀉黃</h2>
<p>（散）升防芷，芩夏石斛同甘枳。亦治胃熱及口瘡，火鬱發之斯為美。（升麻、防風、白芷各錢半，黃芩、枳殼、半夏、石斛各一錢，甘草七分。升、防、白芷以散胃火，芩、夏、枳殼以清熱開鬱，石斛、甘草以平胃調中。）</p>

<h2>瀉白</h2>
<p>（散，錢乙）桑皮地骨皮，甘草粳米四般宜。（桑白皮、地骨皮各一錢，甘草五分，粳米百粒。桑皮瀉肺火，地骨退虛熱，甘草補土生金，粳米和中清肺。李時珍曰：此瀉肺諸方之準繩也。）參茯知芩皆可入，（人參、茯苓、知母、黃芩聽加，名加減瀉白散。）肺炎喘嗽此方施。</p>

<h2>瀉青丸</h2>
<p>（錢乙）用龍膽梔，下行瀉火大黃資。羌防升上芎歸潤，火鬱肝經用此宜。〔龍膽草、黑梔子、大黃（酒蒸）、羌活、防風、川芎、當歸（酒洗），等分，蜜丸，竹葉湯下。羌、防引火上升，梔、膽、大黃抑火下降，芎、歸養肝血而潤肝燥。〕</p>

<h2>龍膽瀉肝</h2>
<p>（湯，《局方》）梔芩柴，生地車前澤瀉偕。木通甘草當歸合，肝經濕熱力能排。〔膽草（酒炒）、梔子（酒炒）、黃芩（酒炒）、生地（酒炒）、柴胡、車前子、澤瀉、木通、當歸、甘草（生用）。龍膽、柴胡瀉肝膽之火，黃芩、梔子瀉肺與三焦之熱，以佐之澤瀉瀉腎經之濕，木通、車前瀉小腸、膀胱之濕；以佐之歸、地養血補肝，甘草緩中益胃，不令苦寒過於泄下也。〕</p>

<h2>當歸龍薈</h2>
<p>（丸，《宣明》）用四黃，龍膽蘆薈木麝香。黑梔青黛薑湯下，一切肝火盡能攘。〔當歸（酒洗）、膽草（酒洗）、梔子（炒黑）、黃連（酒炒）、黃柏（酒炒）、黃芩（酒炒）各一兩，大黃（酒浸）、青黛（水飛）、蘆薈各五錢，木香二錢，麝香五分，蜜丸，薑湯下。肝木為生火之原，諸經之火因之而起，故以青黛、龍膽入木經而直折之，而以大黃、芩、連、梔、柏通平上下三焦之火也。蘆薈大苦、大寒，氣臊入肝。恐諸藥過於寒瀉，故用當歸養血補肝，用薑湯辛溫為引。加木、麝者，取其行氣通竅也。然非實熱，不可輕投。〕</p>

<h2>左金</h2>
<p>（丸，丹溪）茱蓮六一丸，肝經火鬱吐吞酸。〔黃連六兩（薑汁炒），吳茱萸一兩（鹽湯泡），亦名茱連丸。肝實則作痛，或嘔酸。心為肝子，故用黃連瀉心清火，使火不剋金，則金能制木而肝平矣。吳茱萸能入厥陰行氣解鬱，又能引熱下行，故以為反佐。寒者正治，熱者反治，使之相濟以立功也。左金者，使肺右之金得行於左而平肝也。〕再加芍藥名戊己（丸），熱瀉熱痢服之安。（戊為胃土，己為脾土，加芍藥伐肝安脾，使木不剋土。）</p>

<h2>連附六一（湯）</h2>
<p>治胃痛，寒因熱用理一般。（黃連六兩，附子一兩，亦反佐也。）</p>

<h2>導赤</h2>
<p>（散，錢乙）生地與木通，（甘）草梢竹葉四般攻。口糜淋痛小腸火，引熱同歸小便中（等分煎。生地涼心血，竹葉清心氣，木通瀉心火入小腸，草梢達腎莖而止痛。）</p>

<h2>清骨散</h2>
<p>用銀柴胡，胡連秦艽鱉甲符。地骨青蒿知母草，骨蒸勞熱保無虞。〔銀柴胡錢半，胡黃連、秦艽、鱉甲（童便炙）、地骨皮、青蒿、知母各一錢，甘草（炙）五分。地骨、胡連、知母以平內熱，柴胡、青蒿、秦艽以散表邪，引諸藥入骨而補陰，甘草和諸藥而瀉火。〕</p>

<h2>普濟消毒</h2>
<p>（飲，東垣）芩連鼠，玄參甘桔藍根侶。升柴馬勃連翹陳，殭蠶薄荷為末咀。〔黃芩（酒炒）、黃連（酒炒）各五錢，人參、甘草（生用）、桔梗、柴胡、陳皮（去白）各二錢，鼠黏子、板藍根、馬勃、連翹、薄荷各一錢，殭蠶、升麻各七分，末服，或蜜丸噙化。〕或加人參及大黃，（虛者加人參，便秘加大黃。）大頭天行力能御。（大頭天行，親戚不相訪，問染者多不救。原文曰：芩、連瀉心肺之火為君，玄參、陳皮、甘草瀉火補肺為臣，連翹、薄荷、鼠黏、藍根、殭蠶、馬勃散腫消毒定喘為佐，升麻、柴胡散陽明、少陽二經之陽，桔梗為舟楫，不令下行為載。李東垣曰：此邪熱客心肺之間，上攻頭面為腫，以承氣湯瀉之，是為誅伐無過，遂處此方，全活甚眾。）</p>

<h2>清震湯</h2>
<p>河間治雷頭風，升麻蒼朮兩般充。（二味，《局方》名升麻湯。）荷葉一枚升胃氣，邪從上散不傳中。（頭面腫痛疙瘩，名雷頭風，一雲頭如雷鳴。東垣曰：邪在三陽，不可過用寒藥重劑誤伐無過，處清震湯升陽解毒，蓋取震為雷之義。）</p>

<h2>桔梗湯</h2>
<p>（《濟生》）中用防已，桑皮貝母栝蔞子。甘枳當歸薏杏仁，黃耆百合姜煎此。（桔梗、防己、栝蔞、貝母、當歸、枳殼、薏苡仁、桑白皮各五分，黃耆七分，杏仁、百合、甘草各三分，姜煎。）肺癰吐膿或咽乾，便秘大黃可加使。（一方有人參，無枳殼。黃耆補肺氣，杏仁、薏仁、桑皮、百合補肺清火，栝蔞、貝母潤肺除痰，甘、桔開提氣血，利膈散寒，防己散腫除風，瀉濕清熱，當歸以和血，枳殼以利其氣。）</p>

<h2>清咽太平</h2>
<p>（丸）薄荷芎，柿霜甘桔及防風。犀角蜜丸治熱膈，早間咯血頰常紅。（兩頰，肺肝之部。早間，寅卯木旺之時。木盛生火，來克肺金。薄荷十兩，川芎、柿霜、甘草、防風、犀角各二兩，桔梗三兩，蜜丸。川芎，血中氣藥，散瘀升清；防風，血藥之使，搜肝瀉肺。薄荷理血散熱，清咽除蒸，犀角涼心清肝，柿霜生津潤肺，甘草緩炎上之火勢，桔梗載諸藥而上浮。）</p>

<h2>清斑青黛</h2>
<p>（飲，陶節庵）梔連犀，知母玄參生地齊。石膏柴胡人參（甘）草，便實參去大黃躋。（去人參，加入大黃。）薑棗煎加一匙醋，陽邪裡實此方稽。（發斑雖由胃熱，亦諸經之火有以助之。青黛、黃連清肝火，梔子清胃火。引以柴胡，使達肌表；使以薑、棗，以和營衛。熱毒入里，亦由胃虛，故以人參、甘草益胃。加醋者，酸以收之也。）</p>

<h2>辛夷散</h2>
<p>（嚴氏）里藁（本）防風，白芷升麻與木通。芎細（川芎、細辛）甘草茶調服，鼻生息肉此方攻。（肺經濕熱，上蒸於腦，入鼻而生息肉，猶濕地得熱而生芝菌也。諸藥等分，末服三錢。辛夷、升麻、白芷能引胃中清陽上行頭腦，防風、藁本能入巔頂燥濕祛風，細辛散熱通竅，川芎散郁疏肝，木通、茶清瀉火下行，甘草甘平，緩其辛散也。）</p>

<h2>蒼耳散</h2>
<p>（陳無擇）中用薄荷，辛夷白芷四般和。蔥茶調服疏肝肺，清升濁降鼻淵瘥。〔蒼耳子（炒）二錢半，薄荷、辛夷各五錢，白芷一兩，末服。凡頭面之疾，皆由清陽不升，濁陰逆上所致。濁氣上爍於腦，則鼻流濁涕為淵。數藥升陽通竅，除濕散風，故治之也。〕</p>

<h2>妙香</h2>
<p>（散，王荊公）山藥與參耆，甘桔二茯遠志隨。少佐辰砂木香麝，驚悸鬱結夢中遺。〔山藥二兩（乳汁炒），人參、黃耆（蜜炙）、茯苓、茯神、遠志（炒）各一兩，桔梗、甘草各三錢，辰砂二錢，木香二錢半，麝香一錢，為末，每服二錢，酒下。山藥固精，參、耆補氣，遠志、二茯清心寧神，桔梗、木香疏肝清肺，丹、麝鎮心，散郁辟邪，甘草補中，協和諸藥，使精、氣、神相依，邪火自退。不用固澀之藥，為泄遺良劑，以其安神利氣，故亦治驚悸鬱結。〕</p>

<h1>除痰之劑</h1>
<p><u>十首、附方五</u></p>

<h2>二陳湯</h2>
<p>（《局方》）用半夏陳，益以茯苓甘草臣。〔半夏（薑製）二錢，陳皮（去白）、茯苓各一錢，甘草五分，加姜煎。〕利氣調中兼去濕，一切痰飲此為珍。（陳皮利氣，甘草和中，苓、夏除濕，氣順濕除，痰飲自散。）導痰湯內加星枳，頑痰膠固力能馴。（加膽星以助半夏，加枳實以成沖牆倒壁之功。）若加竹茹與枳實，湯名溫膽可寧神。（二陳湯加竹茹、枳實，名溫膽湯，治膽虛不眠。）潤下丸（丹溪）僅陳皮草，利氣祛痰妙絕倫。〔陳皮（去白）八兩，鹽五兩（水浸洗），甘草二兩，蜜炙，蒸餅糊丸，薑湯下，或將陳皮鹽水煮曬，同甘草為末，名二腎散，不可多服，恐損元氣。〕</p>

<h2>滌痰湯</h2>
<p>（嚴氏）用半夏星，甘草橘紅參茯苓。竹茹菖蒲兼枳實，痰迷舌強服之醒。〔治中風痰迷心竅，舌強不能言；半夏（薑製）、膽星各二錢半，橘紅、枳實、茯苓各三錢，人參、菖蒲各一錢，竹茹七分，甘草五分，加姜煎。此即導痰湯加人參扶正，菖蒲開痰，竹茹清金。〕</p>

<h2>青州白丸</h2>
<p>星夏並，白附川烏俱用生。曬露糊丸姜薄引，風痰癱瘓小兒驚。〔半夏（水浸生衣）七兩，南星、白附子各二兩，川烏（去皮臍）五錢。四味俱生用，為末，袋盛，水擺出粉，再擂再擺，以盡為度。瓷盆盛貯，日曬夜露，春五、夏三、秋七、冬十日，糯米糊丸，薑湯下。癱瘓，酒下；驚風，薄荷湯下。痰之主也，由於風寒濕。星、夏辛溫，祛痰燥濕；烏、附辛熱，散寒逐風。浸而曝之，殺其毒也。〕</p>

<h2>清氣化痰</h2>
<p>（丸）星夏橘，杏仁枳實栝蔞實。芩苓薑汁為糊丸，氣順火消痰自失。〔半夏（薑製）、膽星各兩半，橘紅、枳實（麩炒）、杏仁（去皮尖）、栝蔞仁（去油）、黃芩（酒炒）、茯苓各一兩，薑製，糊丸，淡薑湯下。氣能發火，火能生痰。陳、杏降逆氣，枳實破滯氣，芩、瓜平熱氣，星、夏燥濕氣，茯苓行水氣。水濕火熱，皆生痰之本也，故化痰必以清氣為先。〕</p>

<h2>順氣消食化痰丸</h2>
<p>（瑞竹堂），青皮星夏萊菔（子）攢。曲麥山楂葛杏附，蒸餅為糊薑汁搏。〔半夏（薑製）、膽星各一斤，陳皮（去白）、青皮、蘇子、沉香（水炒）、萊菔子、生薑、麥芽（炒）、神麯（炒）、山楂（炒）、葛根、杏仁（去皮尖炒）、香附（醋炒），各一兩，薑汁和，蒸餅為糊丸。痰由濕生，星、夏燥濕；痰因氣升，蘇子、杏仁降氣；痰因氣滯，青、陳、香附導滯；痰生於酒食，曲、葛解酒，楂、麥消食。濕去食消，則痰不生，氣順則喘滿自止矣。〕</p>

<h2>滾痰丸</h2>
<p>（王隱君）用青礞石，大黃黃芩沉木香。百病多因痰作祟，頑痰怪證力能匡。〔青礞石一兩（用焰硝一兩，同入瓦罐，鹽泥固濟，煅至石色如金為度），大黃（酒蒸）、黃芩（酒洗）各八兩，沉香五錢，為末，水丸，薑湯下，量虛實服。礞石慓悍，能攻陳積伏匿之痰；大黃蕩熱實，以開下行之路；黃芩涼心肺，以平上僭之火；沉香能升降諸氣，以導諸藥，為使。然非實體，不可輕投。〕</p>

<h2>金沸草散</h2>
<p>（《活人》）前胡辛，半夏荊甘赤茯因。煎加薑棗除痰嗽，肺感風寒頭目顰。〔旋覆花、前胡、細辛各一錢，半夏五分，荊芥錢半，甘草（炙）三分，赤茯苓六分。風熱上壅，故生痰作嗽。荊芥發汗散風，前胡、旋覆消痰降氣，半夏燥痰散逆，甘草發散緩中，細辛溫經，茯苓利濕，用赤者，入血分而瀉丙丁也。〕局方（金沸草散）不用細辛茯，加入麻黃赤芍均。（治同。）</p>

<h2>半夏天麻白朮湯</h2>
<p>（東垣），參耆橘柏及乾薑。苓瀉麥芽蒼朮曲，太陰痰厥頭痛良。〔半夏、麥芽各錢半，白朮、神麯（炒）各一錢，人參、黃耆、陳皮、蒼朮、茯苓、澤瀉、天麻各五分，乾薑三分，黃柏（酒洗）二分。痰厥，非半夏不能除；風虛，非天麻不能定。二術燥濕益氣，參、耆瀉火補中，陳皮調氣升陽，苓、瀉瀉熱導水，曲、麥化滯助脾，乾薑以滌中寒，黃柏以瀉在泉少火也。〕</p>

<h2>常山飲</h2>
<p>（《局方》）中知貝取，烏梅草果檳榔聚。薑棗酒水煎露之，劫痰截瘧功堪詡。〔常山（燒酒炒）二錢，知母、貝母、草果（煨）、檳榔各一錢，烏梅二個，一方加穿山甲、甘草。瘧未發時，面東溫服。知母治陽明獨勝之熱，草果治太陰獨勝之寒，二經和則陰陽不致交爭矣。常山吐痰行水，檳榔下氣破積，貝母清火散痰，烏梅斂陰退熱。須用在發散表邪及提出陽分之後為宜。〕</p>

<h2>截瘧七寶</h2>
<p>（飲，《易簡》）常山果，檳榔樸草青陳多。水酒合煎露一宵，陽經實瘧服之妥。〔常山（酒炒）、草果（煨）、檳榔、厚朴、青皮、陳皮、甘草等分，水、酒各半煎。露之發日早晨，面東溫服。常山吐痰，檳榔破積，陳皮利氣，青皮伐肝，厚朴平胃，草果消膏梁之痰。加甘草，入胃佐常山引吐也。〕</p>

<h1>收澀之劑</h1>
<p><u>九首、附方二</u></p>

<h2>金鎖固精</h2>
<p>（丸）芡蓮鬚，龍骨蒺藜牡蠣需。蓮粉（為）糊丸鹽酒下，澀精秘氣滑遺無。〔芡實（蒸）、蓮蕊須、沙苑蒺藜（炒），各二兩，龍骨（酥炙）、牡蠣（鹽水煮一日夜，煅粉），各一兩，蓮子粉為糊丸，鹽湯吞服，或酒下。芡實固精補脾，牡蠣澀精清熱，蓮子交通心腎，蒺藜補腎益精，龍骨、蓮鬚皆固精收脫之品。〕</p>

<h2>茯菟丹</h2>
<p>（《局方》）療精滑脫，菟苓五味石蓮末。酒煮山藥為糊丸，亦治強中及消渴。〔強中者，下消之人，莖長興盛，不交精出也。菟絲子十兩（酒浸），五味子八兩，白茯苓、石蓮各三兩，山藥六兩，酒煮為糊丸。漏精，鹽湯下；赤濁，燈心湯下；白濁，茯苓湯下；消渴，米飲下。菟絲強陰益陽，五味澀精生水，石蓮精心止濁，山藥利濕固脾，茯苓甘淡而滲，於補之中能泄腎邪也。〕</p>

<h2>治濁固本</h2>
<p>（丸）蓮蕊須，砂仁連柏二苓俱。益智半夏同甘草，清熱利濕固兼軀。〔固本之中，兼利濕熱。蓮鬚、黃連（炒）各二兩，砂仁、黃柏、益智仁、半夏（薑製）、茯苓各一兩，豬苓二兩，甘草（炙）三錢。精濁多由濕熱與痰，連、柏清熱，二苓利濕，半夏除痰。濕熱多由鬱滯，砂、智利氣，兼能固腎強脾。甘草補土和中，蓮鬚則澀以止脫也。〕</p>

<h2>訶子散</h2>
<p>（東垣）用治寒瀉，炮姜粟殼橘紅也。〔訶子（煨）七分，炮姜六分，罌粟殼（去蒂蜜炙）、橘紅各五分，末服。粟殼固腎澀腸，訶子收脫住瀉，炮姜逐冷補陽，陳皮升陽調氣。〕河間（訶子散）木香訶草連，仍用術芍煎湯下。〔訶子一兩半（生煨），木香五錢，黃連三錢，甘草二錢，為末煎，白朮白芍湯調服。久瀉，以此止之，不止者，加入厚朴二錢。〕二方藥異治略同，亦主脫肛便血者。</p>

<h2>桑螵蛸散</h2>
<p>（寇宗奭）治便數，參苓龍骨同龜殼。菖蒲遠志及當歸，補腎寧心健忘覺。〔桑螵蛸（鹽水炒）、茯苓（一用茯神）、龍骨（煅）、龜板（酥炙）、菖蒲（鹽炒）、遠志、當歸等分，為末，臨臥服二錢，人參湯下。治小便數而欠，補心虛，安神。虛則便數，故以人參、螵蛸補之；熱則便欠，故以龜板滋之，當歸潤之。菖蒲、茯苓、遠志，並能清心熱而通心腎，使心行，則小腸之腑自寧也。〕真人養臟（湯，羅謙甫）訶粟殼，肉蔻當歸桂木香。術芍參甘為澀劑，脫肛久痢早煎嘗。〔訶子（面里裹煨）一兩二錢，罌粟殼（去蒂蜜炙）三兩六錢，肉豆蔻（面里裹煨）五錢，當歸、白朮（炒）、白芍（酒炒）、人參各六錢，木香二兩四錢，桂八錢，生甘草一兩八錢，每服四錢。臟寒甚加附子，一方無當歸，一方有乾薑。脫肛由於虛寒，參、朮、甘草以補其虛，官桂、豆蔻以溫其寒。木香調氣，當歸和血，芍藥酸以收斂，訶子、粟殼澀以止脫。〕</p>

<h2>當歸六黃</h2>
<p>（湯）治汗出，（醒而汗出曰自汗，寐而汗出曰盜汗。）耆柏芩連生熟地。（當歸、黃柏、黃連、黃芩、二地等分，黃耆加倍。）瀉火固表復滋陰，（汗由陰虛，歸、地以滋其陰；汗由火擾，黃芩、柏、連以瀉其火；汗由表虛，倍用黃耆，以固其表。）加麻黃根功更異。（李時珍曰：麻黃根走表，能引諸藥至衛分而固腠理。）或云此藥太苦寒，胃弱氣虛在所忌。</p>

<h2>柏子仁丸</h2>
<p>人參術，麥麩牡蠣麻黃根。再加半夏五味子，陰虛盜汗棗丸吞。〔柏子仁（炒研去油）二兩，人參、白朮、牡蠣（煅）、麻黃根、半夏、五味子各一兩，麥麩五錢，棗肉丸，米飲下。心血虛則臥而汗即出，柏仁養心寧神，牡蠣、麥麩涼心收脫，五味斂汗，半夏燥濕，麻黃根專走肌表，引參、術以固衛氣。〕</p>

<h2>陽虛自汗牡蠣散</h2>
<p>黃耆浮麥麻黃根。〔牡蠣（煅研）、黃耆、麻黃根各一錢，浮小麥百粒，煎。牡蠣、浮麥涼心止汗，黃耆、麻黃根走肌表而固衛。〕撲法芎藁牡蠣粉，（撲汗法：白朮、藁本、川芎各二錢半，糯米粉兩半，為末，袋盛，周身補之。）或將龍骨牡蠣捫。（龍骨、牡蠣為末，合糯米粉等分，亦可撲法。）</p>

<h1>殺蟲之劑</h1>
<p><u>二首</u></p>

<h2>烏梅丸</h2>
<p>（仲景）用細辛桂，人參附子椒姜繼。黃連黃柏及當歸，溫臟安蛔寒厥劑。〔烏梅三百個（醋浸蒸），細辛、桂枝、附子（炮）、人參、黃柏各六兩，黃連一斤，乾薑十兩，川椒（去汗），當歸各四兩，治傷寒厥陰證，寒厥吐蛔。蟲得酸則伏，故用烏梅；得苦則安，故用連、柏；蛔因寒而動，故用附子。程郊倩曰：名曰安蛔，實是安胃，故仲景云並主下痢。〕</p>

<h2>化蟲</h2>
<p>（丸）鶴蝨及使君，檳榔蕪荑苦楝群，白礬胡粉糊丸服，腸胃諸蟲永絕氛。〔檳榔、鶴蝨、苦楝根（東引者）、胡粉（炒）各一兩，使君子、蕪荑各五錢，枯礬一錢半，麵糊丸，亦可末服。數藥皆殺蟲之品，單服尚可治之，匯萃為丸，而蟲焉有不死者乎！〕</p>

<h1>癰瘍之劑</h1>
<p><u>六首、附方二</u></p>

<h2>真人活命</h2>
<p>（飲）金銀花，防芷歸陳草節加。貝母天花兼乳沒，穿山角刺酒煎嘉。〔金銀花二錢，當歸（酒洗）、陳皮（去白）各錢半，防風七分，白芷、甘草節、貝母、天花粉、乳香各一錢，沒藥五分，二味另研。候藥熟，下皂角刺五分，穿山甲三大片（銼，蛤粉炒，去粉用），好酒煎服，恣飲盡醉。忍冬、甘草散熱解毒，癰瘡聖藥，花粉、貝母清痰降火，防風、白芷燥濕排膿，當歸和血，陳皮行氣，乳香托裡護心，沒藥散瘀消腫，山甲、角刺透經絡而潰堅，加酒以行藥勢也。〕一切癰疽能潰散，（已成者潰，未成者散。）潰後忌服用毋差。大黃便實可加使，鐵器酸物勿沾牙。</p>

<h2>金銀花酒</h2>
<p>加甘草，奇瘍惡毒皆能保。〔金銀花五兩（生者更佳），甘草一兩，水煎一日一夜，服盡。〕護膜須用蠟礬丸，（黃蠟二兩，白礬一兩，溶化為丸，酒服十丸，加至百丸則有力，使毒不攻心。一方加雄黃，名雄礬丸，蛇咬尤宜服之。）二方均是瘍科寶。</p>

<h2>托裡十補</h2>
<p>（散，即《局方》十宣散）參耆芎，歸桂白芷及防風。甘桔厚朴酒調服，癰瘍脈弱賴之充。（人參、黃耆、當歸各二錢，川芎、桂心、白芷、防風、甘草、桔梗、厚朴各一錢，熱酒調服。參、耆補氣，當歸和血，甘草解毒，防風發表，厚朴散滿，桂枝、桔梗排膿，表裡氣血交治，共成內托之功。）</p>

<h2>托裡溫中</h2>
<p>（湯，孫彥和）姜附羌，茴木丁沉共四香。陳皮益智兼甘草，寒瘍內陷嘔瀉良。（附子（炮）四錢，炮薑、羌活各三錢，木香錢半，茴香、丁香、沉香、益智仁、陳皮、甘草各二錢，加姜五片煎。治瘡瘍變寒內陷，心痞便溏，呃逆昏瞶。瘍寒內陷，故用姜附溫中助陽，羌活通關節，炙草益脾元，益智、丁、沉以止呃進食，茴、木、陳皮以散滿除痞。此孫彥和治王伯祿臂瘍，盛夏用此，亦舍時從證之變法也。）</p>

<h2>托裡定痛</h2>
<p>（湯）四物兼，（地黃、川芎、當歸、白芍。）乳香沒藥桂心添。再加蜜炒罌粟殼，潰瘍虛痛去如拈。（罌粟殼收澀，能止諸痛；四物活血，托裡充肌。乳香能引毒氣外出，不致內攻，，與沒藥並能消腫止痛。）</p>

<h2>散腫潰堅</h2>
<p>（湯，東垣）知柏連，花粉黃芩龍膽宣。升柴翹葛兼甘桔，歸芍稜莪昆布全。〔黃芩八錢半（酒炒半生用），知母、黃柏（酒炒）、花粉、膽草（酒炒）、桔梗、昆布各五錢，柴胡四錢，升麻、連翹、甘草（炙）、三稜（酒炒）、莪朮（酒洗炒）各三錢，葛根、歸尾（酒洗）、白芍（酒炒）各二錢，每服五、六錢，先浸後煎。連翹、升、葛解毒升陽，甘、桔、花粉排膿利膈，歸、芍活血，昆布散痰，稜、莪破血行氣，龍膽、知、柏、芩、連大瀉諸經之火也。〕</p>

<h1>經產之劑</h1>
<p><u>十二首、附方二十二</u></p>
<p>婦人諸病與男子同，惟行經妊娠，則不可以例治，故立經產一門。</p>

<h2>海藏妊娠六合湯</h2>
<p>四物為君妙義長。（當歸、地黃、川芎、白芍。）傷寒表虛地骨桂，（表虛自汗，發熱惡寒，頭痛脈浮，四物四兩加桂枝、地骨皮各七錢，二藥解肌實表，名表虛六合湯。）表實細辛兼麻黃。（頭痛身熱，無汗脈緊，四物四兩加細辛、麻黃各五錢，二藥溫經發汗，名表實六合湯。）少陽柴胡黃芩入，（寒熱脅痛，心煩喜嘔，口苦脈弦，為少陽證。加柴胡解表，黃芩清裡，名柴胡六合湯。）陽明石膏知母藏。（大熱煩渴，脈大而長，為陽明證，加白虎湯清肺瀉胃，名石膏六合湯。）小便不利加芩瀉，（加茯苓、澤瀉利水，名茯苓六合湯。）不眠黃芩梔子良。（汗下後不得眠，加黃芩、梔子養陰除煩，名梔子六合湯。）風濕防風與蒼朮，（兼風兼濕，肢節煩痛，心熱脈浮，加防風搜風、蒼朮燥濕，名風濕六合湯。）發斑蘊毒升翹將。（下後不愈，蘊毒發斑如錦紋者，加升麻、連翹散火解毒，名升麻六合湯。）胎動血漏名膠艾，（傷寒汗下後，胎動漏血，加阿膠、艾葉養血安胎，名膠艾四物湯。）虛痞樸實頗相當。（胸滿痞脹，加厚朴、枳實炒，散滿消痞，名樸實六合湯。）脈沉寒厥亦桂附。（身冷拘急，腹痛脈沉，亦有不得已而加附子、肉桂散寒回陽者，名附子六合湯。）便秘蓄血桃仁黃。（大便秘，小便赤而脈實數，或膀胱蓄血，亦有加桃仁、大黃潤燥通幽者，名大黃六合湯。）安胎養血先為主，余因各症細參詳。後人法此治經水，過多過少別溫涼。溫六合湯加芩術，（加黃芩、白朮治經水過多，黃芩抑陽，白朮補脾，脾能統血。）色黑後期連附商。（加黃連清熱，香附行氣，名連附六合湯。）熱六合湯梔連益，（加梔子、黃連治血熱妄行。）寒六合湯加附姜。（加炮薑、附子治血海虛寒。）氣六合湯加陳樸，（加陳皮、厚朴治氣鬱經阻。）風六合湯加艽羌。（加秦艽、羌活治血虛風痙。）此皆經產通用劑，說與時師好審量。</p>

<h2>膠艾湯</h2>
<p>（《金匱》）中四物先，阿膠艾葉甘草全。（阿膠、川芎、甘草各二兩，艾葉、當歸各三兩，芍藥、地黃各四兩，酒水煎，內阿膠烊化服。四物養血，阿膠補陰，艾葉補陽，甘草和胃，加酒行經。）婦人良方單膠艾，（亦名膠艾湯。）胎動血漏腹痛痊。膠艾四物加香附，（香附用童便、鹽水、酒、醋各浸三日，炒。）方名婦寶（丹）調經專。</p>

<h2>當歸散</h2>
<p>（《金匱》）益婦人妊，術芍芎歸及子芩。安胎養血宜常服，產後胎前功效深。（婦人懷妊，宜溫服之，臨盆易產，自無眾疾。當歸、川芎、芍藥、黃芩各一斤，白朮半斤，為末，酒調服。丹溪曰：黃芩、白朮，安胎之聖藥。蓋懷妊宜清熱涼血，血不妄行則胎安。黃芩養陰退陽，能除胃熱；白朮補脾，亦除胃熱。脾胃健則能化血養胎，自無半產胎動血漏之患也。）</p>

<h2>黑神散</h2>
<p>（《局方》）中熟地黃，歸芍甘草桂炮姜。蒲黃黑豆童便酒，消瘀下胎痛逆忘。〔瘀血攻衝則作痛，胞胎不下，亦由血滯不行。諸藥各四兩，黑豆（炒去皮）半斤，酒、童便合煎。熟地、歸、芍潤以濡血，蒲黃、黑豆滑以行血，黑薑、官桂熱以動血，緩以甘草，散以童便，行以酒力也。〕</p>

<h2>清魂散</h2>
<p>（《局方》）用澤蘭葉，人參甘草川芎協。荊芥理血兼祛風，產中昏暈神魂帖。〔澤蘭、人參、甘草（炙）各三分，川芎五分，荊芥一錢，酒調下。川芎、澤蘭和血，人參、甘草補氣。外感風邪，荊芥能疏血中之風。肝藏魂，故曰魂魂。〕</p>

<h2>羚羊角散</h2>
<p>（《本事方》）杏薏仁，防獨芎歸又茯神。酸棗木香和甘草，子癇風中均回春。〔羚羊角屑一錢，杏仁、薏仁、防風、獨活、川芎、當歸、茯神、棗仁（炒）各五分，木香、甘草各二分半，加姜煎。治妊娠中風，涎潮僵仆，口噤搐掣，名子癇。羚羊平肝火，防、獨散風邪，棗、茯以寧心神，芎、歸以和血，杏仁、木香以利氣，薏仁、甘草以調脾。〕</p>

<h2>當歸生薑羊肉湯</h2>
<p>（《金匱》），當歸三兩，生薑五兩，羊肉一斤。產中腹痛褥勞匡。（產後發熱，自汗身痛，名褥勞。腹痛者，瘀血未去，則新血自不生也。）亦有加入參耆者，（氣能生血。羊肉辛熱，用氣血之屬以補氣血，當歸引入血分，生薑引入氣分，以生新血。加參、耆者，氣血交補也。）千金四物甘桂姜。（《千金》羊肉湯，芎、歸、芍、地、甘草、乾薑、肉桂，加羊肉煎。）</p>

<h2>達生</h2>
<p>（散，丹溪。達，小羊也，取其易生）紫蘇大腹皮，參朮甘陳歸芍隨。再加蔥葉黃楊腦，孕婦臨盆先服之。〔大腹皮三錢，紫蘇、人參、白朮（土炒）、陳皮、當歸（酒洗）、白芍（酒洗）各一錢，甘草（炙）三錢，青蔥五葉，黃楊腦七個，煎。歸、芍以益其血，參、術以補其氣，陳、腹、蘇、蔥以疏其壅。不虛不滯，產自無難矣。〕若將川芎易白朮，（名）紫蘇飲子（嚴氏）子懸宜。（胎氣不和，上衝心腹，名子懸。）</p>

<h2>妊娠轉胞參朮飲</h2>
<p>（丹溪。轉胞者，氣血不足，或痰飲阻塞，胎為胞逼，壓在一邊，故臍下急痛，而小便或數或閉也。）芎芍當歸熟地黃。炙草陳皮（留白）兼半夏，氣升胎舉自如常。（此即人參湯除茯苓，加陳皮、半夏以除痰，加姜煎。）</p>

<h2>牡丹皮散</h2>
<p>（《婦人良方》）延胡索，歸尾桂心赤芍藥。牛膝稜莪酒水煎，氣行瘀散血瘕削。（瘀血凝聚則成瘕。丹皮、延胡索、桂心各三分，赤芍、牛膝、莪朮各六分，三稜四分，酒、水各半煎。桂心、丹皮、赤芍、牛膝以行其血，三稜、莪朮、歸尾、延胡索兼行血中氣滯、氣中血滯，則結者散矣。）</p>

<h2>固經丸</h2>
<p>（《婦人良方》）用龜板君，黃柏樗皮香附群。黃芩芍藥酒丸服，漏下崩中色黑殷。〔治經多不止，色紫黑者，屬熱。龜板（炙）四兩，黃柏（酒炒）、芍藥（酒炒）各二兩，樗皮（炒）、香附（童便浸炒），各兩半，黃芩（酒炒）二兩，酒丸。陰虛不能制胞絡之火，故經多。龜板、芍藥滋陰壯水，黃芩清上焦，黃柏瀉下焦，香附辛以散郁，樗皮澀以收脫。〕</p>

<h2>柏子仁丸</h2>
<p>（《良方》）熟地黃，牛膝續斷澤蘭芳。卷柏加之通血脈，經枯血少腎肝匡。〔柏子仁（去油）、牛膝（酒浸）、卷柏各五錢，熟地一兩，續斷、澤蘭各三兩，蜜丸，米飲下。經曰：心氣不得下降，則月事不來。柏子仁安神養心，熟地、續斷、牛膝補肝益腎，澤蘭、卷柏活血通經。〕</p>

<h1>附便用雜方</h1>
<p><u>三首</u></p>

<h2>望梅丸</h2>
<p>（訒庵）用鹽梅肉，蘇葉薄荷與柿霜。茶末麥冬糖共搗，旅行齎服勝瓊漿。〔鹽梅肉四兩，麥冬去心，薄荷葉（去梗）、柿霜、細茶各一兩，紫蘇葉（去梗）五錢，為極細末，白霜糖四兩，共搗為丸，雞子大。旅行帶之，每含一丸，生津止渴，加參一兩尤妙。〕</p>

<h2>骨灰固齒</h2>
<p>（牙散）豬羊骨，臘月醃成煅研之。骨能補骨咸補腎，堅牙健啖老尤奇。（用臘月醃豬羊骨，火煅，細研，每晨擦牙，不可間斷。至老而其效益彰，頭上齒骨亦佳。）</p>

<h2>軟腳散</h2>
<p>中芎芷防，細辛四味研如霜。輕撒鞋中行遠道。足無針疱汗皆香。（防風、白芷各五錢，川芎、細辛各二錢半，為末。行遠路者，撒少許於鞋內，步履輕便，不生針疱，足汗皆香。）</p>

<h1>小兒稀痘方</h1>
<p><u>一首、附方三</u></p>

<h2>稀痘神</h2>
<p>（米以功）丹三種豆，粉草細末竹筒裝。臘月廁中浸洗淨，風乾配入梅花良。絲瓜藤絲煎湯服，一年一次三年光。（用赤小豆、黑豆、綠豆、粉草各一兩，細末，入竹筒中，削皮留節，鑿孔入藥，杉木塞緊，溶蠟封固，浸臘月廁中；一月取出，洗浸，風乾。每藥一兩，臘月梅花片三錢，以雪中花片落地者，不著人手，以針刺取更妙。如急出用，入紙套中略烘即干。兒大者服一錢，小者五分，以霜後絲瓜藤上小藤絲煎湯，空腹服。忌葷腥十二日，解出黑糞為驗。每年服一次，二次可稀，三次永不出矣。）又方蜜調忍冬末，（顧驤宇。）不住服之效亦強。（金銀花為末，糖調，不住服之。）更有玄參菟絲子，（婁江王相公。）蜜丸如彈空心嘗。白酒調化日二次，〔菟絲子半斤（酒浸二宿，煮乾去皮），玄參四兩，共為細末，蜜丸，彈子大，白酒調下，每日二次。〕或加犀麥生地黃。（又方加生地、麥冬四錢，犀角二兩。）此皆驗過稀痘法，為力簡易免倉皇。</p>
