<header data-type="book">
<h1>女科秘要</h1>
<dl class="元資料">
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>敘</h1>
<p>東坡云。藥雖進於醫手。方多傳於古人。旨哉是言。談岐黃者詎得昧所自來乎。胎產之系人禍福大矣。而竹林寺獨聞名於天下。聞渠有秘方一帙。遞相師承。久而弗替。惜世莫得而見之也。予友陳子秉元。自言其祖昔寄居竹林。與寺僧最厚。嘗乘閒取其秘本數卷。以歸。予曾向陳子借錄。而陳子未之許也。今年春。陳子館於郡城之清道橋。予往候之。陳子他適。啟其笥。曩所謂胎產秘本在焉。亟攜回抄錄數日。而還其原本。陳子猶未知也。嗟乎。竹林不肯以傳之人者。陳子之祖計而得之。陳子不欲以授之乃祖者示好友。而予錄而歸之。於以知物苟有濟於人。不容終秘。大抵如斯矣。顧予不知醫。且所錄系陳氏家藏。真贗尚未可定。又其間方症恐猶未備。行將詣善於女科者。別白而校正之。如果系良方。當設法傳流。表予濟世之微衷云。爰志其自來於上。</p>

<h1>敘</h1>
<p>余孩提時。聞嫂氏數小產。而不能成孕。諸藥罔效。家大兄往竹林寺取藥數服。而後有孕。竟得十月滿足而生男。其時因心知竹林寺女科之名。後又聞張姓戴姓之女、婦。得奇疾皆往竹林取藥而愈。始知竹林寺女科。師弟相承。其來已久。秘方不傳之世。其視病或說病原。彼不立方。但包藥以應。是以人亦不知其方。今年秋暮。余偶至襟丈樊元圃家。元圃知余能視藥書。謂余曰。兄亦知竹林寺之女科乎。我有抄錄秘本。曷為我校訂之。余聞之色喜。即閱其書。見條分縷晰。立案用方。與世不同。雖用藥或有過不及之處。然望之令人了了。真女科之秘要。因袖歸而抄錄之。抄竟。並志余欣幸之意。</p>
<p><u>乾隆癸丑孟冬。望後二日茶垞吳煜。書於清暉書屋。</u></p>

<h1>卷一</h1>

<h2>脈法</h2>
<p>左手寸脈洪。主胸中之怒氣。關脈洪。主胸中之冷。尺脈洪。主腎虛。左三指脈一般大。主孕。有孕在內。尺脈細如絲髮。主作脹。女人血室病。月水或前或後。右手寸脈洪。主上焦熱。咳嗽有痰。身發潮熱。關脈洪。主冷氣作痛。尺脈洪。主孕。尺脈小。主子宮冷。兩手六脈。一般洪緩而清利。主壽高。六脈俱小。如線大。主脾胃弱。不能飲食。腰痛頭痛。頭暈敗血。六脈俱洪大浮弦。主有瘋氣。女人除此併產後。余與男子同。男子左手脈洪。右手弱。主大利。女人右手脈洪。左手弱。主大利。</p>

<h2>辨男女脈法</h2>
<p>左手實大是男胎。右手弦洪女孕來。兩尺偏大分男女。命門滑實主懷胎。</p>

<h2>調經</h2>
<p>趲前為熱。退後為虛。血滯宜破。血枯宜補。時常經前作痛為血積。經後作痛為血虛。當時發熱為血虛有積。經後發熱為血虛有熱。</p>

<h2>主意</h2>
<p>婦人坤道血如期。氣血調和體最宜。血盛氣衰應可治。血衰氣旺漸乖違。血熱先期風熱紫。寒痰黃淡濕違期。作痛行經氣血滯。行過作痛氣血虛。經血欲調宗四物。溫膽枳朮二陳推。脈數黃芩荊芥穗。氣虛力弱用參耆。沉遲氣滯檳榔佐。作痛滿悶入青皮。虛熱逍遙補心類。清其經血自如期。</p>

<h2>經閉</h2>
<p>夫經閉不通。或墮胎及多產傷血。或久患潮熱消血。或久發盜汗耗血。或脾胃不和。食少而不生血。或痢疾腸風失血。或七情傷心。氣結鬱結。致血閉而不行也。治宜生血。補血。調血。</p>

<h2>主意</h2>
<p>經凝氣滯不流通。啟閉將來紫淡紅。病後汗多思損血。或因濕熱冷兼風。氣鬱沉微當利氣。緊寒積血又疏通。四物檳榔附莪朮。桃仁牛膝桂虻蟲。弦濡氣虛參白朮。黃耆甘草牡丹芎。其間胃火乾枯涸。酒佐將軍大有功。</p>

<h2>崩漏</h2>
<p>皆由勞傷氣血。損任沖二脈。氣血俱虛。不能約制其經血。故血漏下。或漸成淋漓。蓋婦人多由心事不足。或伏事人少。或故貴勢衰。先富後貧。致心火上炎。治當勸諭。而行鎮壓心火之藥。</p>

<h2>主意</h2>
<p>崩漏皆由氣血傷。脈來弦細大而長。東垣下陷不言熱。學者須知要忖量。丹溪要論虛濕熱。陽搏陰弱病之詳。脈弦而數當清熱。荊芥黃芩末服良。百草霜研宗四物。痛入元胡炒黑姜。脈濡氣弱參白朮。續斷防耆功效強。久崩下陷宜升舉。養血調脾瀉二陽。</p>

<h2>赤白帶</h2>
<p>赤屬血。白屬氣。濕熱為病漏為帶。俱是胃中痰積下流。滲入膀胱。稠黏者是。又有如白湯者。名曰白濁。主燥濕為先。法當升之。甚用吐法以提其氣。宜斷厚味。</p>

<h2>主意</h2>
<p>白帶根因濕熱多。赤由營衛不調和。來時骨膝皆痠痛。漏若多時真水磨。脈弦而緩傷風火。炒姜梔子絕其疴。伏龍肝散多靈驗。脈數樗根效如何。</p>

<h3>伏龍肝散</h3>
<p>伏龍肝　艾葉　川芎（各一錢五分）　赤石脂　麥冬（各四分）　乾薑（五分）　川歸（三錢）　肉桂（一錢）　甘草　熟地（各二錢）　棗（二枚）　煎服。或為末米湯送。或酒送。</p>

<h2>安胎</h2>
<p>胎氣宜清不宜熱。宜靜不宜動。有因胎病而母不安者。有因母病而胎氣不安者。宜詳察之。</p>

<h2>主意</h2>
<p>妊婦全憑氣血偕。傷情冷熱便為災。傷血脈濡宜四物。四君脈大漸安排。挫氣縮砂為末服。芎歸苓朮不傷胎。</p>

<h3>安胎散</h3>
<p>當歸　川芎　白芍　熟地（各二錢）　白朮　茯苓　黃耆（炙）　甘草　阿膠（蛤粉炒）　地榆（各錢半）　半夏（一錢）　艾葉（三分）　姜（三片）　研末米湯調送。</p>
<p>（〔吳按〕半夏礙胎。宜少用為妥。）</p>
<p>脾氣虛弱者。六君子湯加枳殼。（一錢）　紫蘇（六分）　姜（二片）　棗（五枚）胎氣鬱滯者。參蘇飲。</p>

<h3>參蘇飲</h3>
<p>人參（二錢）　蘇葉（五分）　煎服。</p>
<p>鬱結傷脾者。歸脾湯</p>

<h3>歸脾湯</h3>
<p>人參　黃耆　茯苓　炙草（各二錢）　木香（八分）　白朮　棗仁　元眼肉（各二錢）　加柴胡、砂仁各等分、姜一片，煎服。鬱怒肝脾傷者。四七湯</p>

<h3>四七湯</h3>
<p>姜炒厚朴　茯苓　蘇葉（各一錢）　姜夏（一錢五分）　加川芎　川歸（各二錢）　姜（二片）　棗（二枚）　煎服。</p>
<p>怒動肝火者。四七湯加柴胡（六分）　五味子（四分）同煎。</p>

<h2>漏胎</h2>
<p>妊娠月水時下。皆因衝任脈虛。不能約制經血。血漏盡則胎斃矣。亦有勞後喜怒不節。或飲食觸冒風寒。或母有宿疾。為風冷所乘者。或氣失度。而漏下者。</p>

<h2>主意</h2>
<p>漏胎血少氣偏虛。不能衛護熱傷之。脈數黃芩加白朮。安胎聖藥善扶持。弱脈血虛全四物。艾膠制炒要知宜。下陷升提分濕熱。氣虛應可用參耆。</p>

<h2>胎痛</h2>
<p>夫胎痛皆娠婦不知禁忌。或因生冷。或觸風寒。邪正相擊。隨氣上下。衝於心則心痛。攻於腹則腹痛。傷於胎則胎痛也。</p>

<h2>主意</h2>
<p>胎痛分明胎氣傷。致令娠婦痛聲長。脈來細緊寒食氣。縮砂四七最為良。脈澀脈虛宜四物。紫蘇香附服安祥。尺數熱痛黃連炒。診脈須分陰與陽。</p>

<h2>惡阻</h2>
<p>由婦人稟氣怯弱。或有風疾。或有痰飲。凡娠便是有痰。其婦顏色如故。脈息和順。但覺肢體沉重。頭目昏眩。擇食惡聞氣味。好食酸鹹。甚者作寒熱。嘔吐痰水。輕者不必服藥。重者以半夏湯。茯苓丸可也。</p>

<h2>主意</h2>
<p>血奪胃中嘔吐下。一云痰火自相搏。飲食下咽隨口出。致令惡阻食難吞。半夏茯苓湯要藥。二陳藿香亦為尊。脈分冷熱間虛實。順氣和平胎自寧。</p>

<h3>半夏湯</h3>
<p>姜半夏　茯苓（各二錢）　煨姜（六分）　白朮　杏仁　陳皮　白芍（各錢半）　竹葉（二十片）大棗（五枚）　煎服。</p>

<h3>茯苓丸</h3>
<p>赤茯苓（一兩）　人參（五錢）　桂心（三錢）　乾薑（八分）　半夏　陳皮　白朮　甘葛（各四錢）甘草（二錢）　枳殼（二錢）　為末。密丸。每日三服。每服三十丸。</p>

<h3>半夏伏苓湯</h3>
<p>半夏　茯苓（各八分）　砂仁　陳皮　甘草（各四分）　加烏梅（一枚）　姜（二片）　棗　（五枚）煎服。</p>

<h3>回春方</h3>
<p>茯苓　半夏　厚朴　蒼朮（各一錢）　陳皮　砂仁（各五分）　炙甘草　乾薑（各三分）　藿香（八分）　烏梅（一個）　姜（三片）　煎服。</p>

<h2>胎腫</h2>
<p>凡娠婦有通身腫者。有腳腫者。俗呼為胎腫。又曰胎水。有脾虛不能制水。血散四肢而腫者。有胎挾水。水血相搏者。有脾胃虛濕者。有乘風冷者。有痢疾後而腫者。有飲食太過者。有腹脹而腫者。治宜詳察。</p>

<h2>主意</h2>
<p>腫脹皆因濕熱多。山梔萊菔炒宜過。研末米稠調服下。管教虛腫盡消磨。</p>

<h2>子煩</h2>
<p>夫娠婦而子煩者。是肺臟虛而熱乘於心。則心煩。停痰積飲在心胸之間。或衝於心則亦煩也。若熱煩者。但熱而已。如有痰而煩者。口吐涎沫。惡聞食氣。則煩躁也。</p>

<h2>主意</h2>
<p>娠婦心驚悶子煩。病因二火在其間。竹葉湯除虛燥病。門冬飲子似仙丹。</p>

<h3>犀角散</h3>
<p>生犀角（六分）　地骨皮　麥冬　赤茯苓　甘草（各二錢）　研末水送。</p>

<h3>竹葉湯</h3>
<p>白茯苓（二錢）　防風（一錢）　麥冬　黃芩（各一錢五分）　竹葉（二十片）</p>
<p>煎服門冬飲子</p>
<p>麥冬　人參　知母（各一錢）　五味子　栝蔞　葛根（各五分）　生地（八分）　茯神（七分）　甘草（三分）　竹葉（二十片）　煎服。</p>

<h2>子癇</h2>
<p>孕婦忽然冒悶。不省人事。角弓反張。須臾則蘇。狀如中風。名曰子癇。亦謂之風症。又名子冒。治宜四物養血。加芩連降火。姜夏湯破逆。</p>

<h2>主意</h2>
<p>娠婦筋強語塞痰。或時發搐故名癇。脈浮弦滑羚羊角。煎服除風漸漸寬。</p>

<h3>羚羊角散</h3>
<p>羚羊角　棗仁　獨活　五加皮（各八分）　防風　川芎　川歸　茯神　杏仁（各四分）　木香甘草（各三分）　加姜（三片）　研末酒送。</p>

<h2>子懸</h2>
<p>胎氣不和。懷胎逆上。脹滿疼痛。謂之子懸。恐難產。</p>

<h2>主意</h2>
<p>胎氣湊上胸膈間。滿悶脹痛曰子懸。紫蘇散子安胎氣。頓教一服遂安然。</p>

<h3>紫蘇散</h3>
<p>蘇葉　人參　橘紅　歸尾　川芎（各二錢）　粉草　白芍　大腹皮（各錢半酒洗淨）　姜（五片）蔥白（五寸）</p>
<p>胎前諸症。俱用此方加減。如腹痛加木香香附。嗽加枳殼桑白皮。熱加條芩。嘔加砂仁。瀉加白朮。茯苓。均研末米湯調送。</p>

<h2>子淋</h2>
<p>妊婦腎虛。膀胱熱也。腎虛不能制水。則小便數也。膀胱熱則小便澀而不宣。懷孕之婦。胞系於腎。腎間虛熱而成淋症。甚者心煩悶亂。名曰子淋。</p>

<h2>主意</h2>
<p>子淋水聚在胞中。熱結便難氣不通。安榮散子殊多效。服之寬快有奇功。</p>

<h3>安榮散</h3>
<p>麥冬　通草　滑石　當歸　人參　甘草（各八分）　細辛（三分）　燈心（一團）　研末米湯水送。</p>

<h2>胎死上喘</h2>
<p>因母患熱症。至六七月。以致臟腑極熱。熏蒸其胎。而至胎死。不能自出。故作此喘。胎死母舌青者是。</p>

<h2>主意</h2>
<p>脈沉病喘死胎中。動熱傷胎氣上衝。桂麝和勻酒調下。黑神散子自然通。</p>

<h3>黑神散</h3>
<p>熟地　當歸　白芍　桂心　蒲黃（各三錢）　乾薑　炙甘草（各三分）　炒黑豆（去皮二合半）為末。每服二錢。童便和酒服。</p>

<h2>難產橫生</h2>
<p>妊婦失忌。或氣逆而然。</p>

<h2>主意</h2>
<p>婦人氣逆胎遂橫。益母童便酒下行。但將神應催生散。服之不久兒郎生。</p>

<h3>如聖散</h3>
<p>黃蜀葵花（焙）　為末。熱湯調服二錢。若漏血胎胞乾澀難產。速進二帖。即產。若無花。用子合半為末。酒服催生如神。</p>

<h2>胎衣不下</h2>
<p>產時用力。惡血逆上。胎衣亦隨氣上。而悶迷。須臾不下即死。</p>

<h2>主意</h2>
<p>胎衣不下為如何。疲倦皆因用力過。停風衣冷或血入。胞脹令人無奈何。急服奪命丹行血。牛膝湯煎效亦多。益母童便酒調下。胎衣下利便清和。</p>

<h3>奪命丹</h3>
<p>附子（炮五錢）　丹皮　大黃（各一兩）　乾漆（炒煙盡為度）　為末。大黃成膏。丸桐子大。酒下五十丸。</p>

<h3>牛膝湯</h3>
<p>牛膝　川芎　朴硝　蒲黃（各三兩）　川歸（一兩五錢）　桂心（五錢）　為末和勻。每服五錢。姜（三片）　生地（三錢）　煎湯送。</p>

<h3>又方</h3>
<p>牛膝　瞿麥　歸尾　木通　枳殼（各一錢）　冬葵子（酒洗一錢五分）　滑石（二錢）　水煎熱服。凡生產不順。用此方滑利水道。令兒易生。</p>

<h2>產後寒熱</h2>
<p>凡發熱乃氣虛甚。非有實熱也。有內傷發熱者。有外感發熱。惡寒者。乃氣血虛甚。又有瘀血停滯者。</p>

<h2>主意</h2>
<p>產後發熱又憎寒。傷感須知有幾般。外邪身熱脈浮緊。五積交加疾自安。右寸脈大頭必痛。發熱皆因宿食存。香砂二陳加麥用。內傷莫作外傷看。小腹滿痛有惡血。憎寒壯熱掌心溫。弦急脈宜五積散。元胡蔥白散為尊。日晡潮熱宜八物。脈虛弦大補中論。醫臨脈藥如臨陣。虛實分明仔細尋。</p>

<h2>產後血暈</h2>
<p>有去血多而暈者。宜大補血。有氣虛而暈者。宜大補氣。有痰火泛上者。宜清痰降火。有瘀血不行者。宜清瘀血。</p>

<h2>主意</h2>
<p>血暈皆由去血多。血虛痰動耳鳴鑼脈體沉微如冷厥。若然不治染沉疴。</p>

<h2>產後中風</h2>
<p>中風不語。或胎前先染風邪未發。致產後失於調理而然。或兼產難感冒。轉成此症。</p>

<h2>主意</h2>
<p>產後乘風口眼歪。血虛氣弱故招來。脈浮愈風湯有效。濡弱弦微續命裁。</p>

<h3>愈風湯</h3>
<p>荊芥穗（炒）　為末。每服三錢。以炒黑豆淋酒調服。童便亦可。</p>

<h3>又方</h3>
<p>上方加當歸等分。酒少許煎服即蘇。此方加當歸七分。名交加散。</p>

<h3>續命湯</h3>
<p>人參　麻黃　黃芩　白朮　防己　川芎　杏仁　甘草　肉桂（各一錢五分）　附子（一錢）　防風（一錢）　姜（五片）　食前熱服。</p>

<h2>宿血腫脹</h2>
<p>產婦脾胃虛弱。血氣衰敗。亦有傷風邪而腫者。</p>

<h2>主意</h2>
<p>敗血歸脾腫脹災。胎前宿食濕招來。致令余血遊經絡。遂使平胸氣滿懷。脈沉解散調還易。宿食須當琥珀開。叮嚀後學宜切記。莫作脾傷水氣猜。</p>

<h3>琥珀散</h3>
<p>真琥珀（二錢）　滑石（三錢）　粉甘草（一錢五分）　為末。每服三錢。燈心湯送。</p>

<h2>產後腹痛</h2>
<p>若腹滿者。當去惡血。腹不滿者。此虛痛也。</p>

<h2>主意</h2>
<p>惡血不盡痛憂疑。脈　來細緊與沉遲。聚寶丹磨隨引子。童便和酒最相宜。脈弦而緊黑神散。血滯元胡桂與歸。心滿腹痛並兒枕。蒲黃宜入五靈脂。</p>

<h3>聚寶丹</h3>
<p>沒藥　琥珀（另研）　當歸（酒洗焙乾）　木香（各一兩）　滴乳（五錢）　辰砂　麝香（各一錢）為末酒糊丸。每服二三十丸。童便送下。</p>

<h3>失笑散</h3>
<p>五靈脂　蒲黃（各一錢）　醋酒煎服。</p>

<h2>半產</h2>
<p>月數不足。勞傷血氣而致。</p>

<h2>主意</h2>
<p>半產多因是嗽生。內傷寒熱暴而行。東垣升舉全生劑。活命湯方妙莫名。</p>

<h3>全生活命湯</h3>
<p>柴胡　川歸　升麻　白芍（各二錢）　生地　熟地　川芎　藁本（各一錢五分）　防風　羌活　獨活　葛根　炙草（各一錢）　細辛（二分）　蔓荊子（五分）　紅花（三分）　水煎熱服。</p>

<h2>陰戶脫</h2>
<p>氣血虛甚。所以脫下。但宜養氣和血。腰肚常宜暖之。治宜補中益氣湯。或十全大補湯。</p>

<h2>主意</h2>
<p>戶物形如帕下垂。俗名呼作產門頹。治宜補氣兼升法。濁氣清時物自回。</p>

<h2>惡血入心</h2>
<p>悶亂欲絕者是。</p>

<h2>主意</h2>
<p>產後昏迷血入心。令人顛倒失精神。脈浮而滑宜續命。弦脈須當用七珍。</p>

<h3>七珍散</h3>
<p>人參　川芎　石菖蒲　生地（各二兩）　防風　辰砂（各五錢）　細辛（一錢）　為末。每用一錢。薄荷湯下。</p>

<h2>惡血入脾</h2>
<p>產後嘔吐不食者是。</p>

<h2>主意</h2>
<p>產後因虛血入脾。令人嘔吐食還希。脈來弦緩多微細。抵聖湯煎功效奇。</p>

<h3>抵聖湯</h3>
<p>赤芍　半夏　澤瀉　人參　陳皮　炙甘草（各二錢）　生薑（焙乾一錢）　酒水煎服。</p>

<h2>惡血入肺</h2>
<p>產後惡血。遊入經絡。氣喘咳嗽。胸膈不利。</p>

<h2>主意</h2>
<p>肺喘多因惡血侵。故令氣促作痰聲。寸口脈來浮兼滑。參蘇霹靂遂安寧。</p>

<h2>惡血入肝</h2>
<p>產後手足筋脈抽搐。血暈似風狀。</p>

<h2>主意</h2>
<p>弦脈筋抽血入肝。面瘡發怒病多般。或時血暈如風狀。丹皮散服遂平安。</p>

<h3>丹皮散</h3>
<p>丹皮　防風（等分）　為末。每服一錢。溫酒或鹽湯調服。</p>

<h1>卷二</h1>

<h2>胎前惡阻</h2>
<p>胎前吐逆。不思飲食。腹中作痛。此胎氣不和。因而惡阻。宜用和氣散。去丁香木香。一帖可愈。</p>

<h3>和氣散</h3>
<p>陳皮　桔梗　厚朴　小茴　益智　藿香（各八分）　砂仁（五分）　蒼朮（四分）　甘草（三分）　丁香（三分）　木香（五分）</p>

<h2>胎前潮熱氣痛</h2>
<p>此症乃受熱毒而致。宜服五苓散。去肉桂。二三帖可愈。</p>

<h3>五苓散</h3>
<p>豬苓（二錢）　澤瀉（錢半）　茯苓　白朮（各三錢）　肉桂（三分）　水煎溫服。</p>

<h2>胎前寒熱</h2>
<p>胎前發瘧後。小腹作痛。口燥咽乾。乃受熱也。多吃生冷。陰陽不分。故成此症。</p>

<h3>草果飲</h3>
<p>草果（一個）　青皮　柴胡　黃芩（各八分）　甘草（三分）　空心煎服。</p>

<h2>孩兒攻心</h2>
<p>胎前孩兒攻心。不知人事。此過食椒、薑、雞、熱毒物。積在胎中。譬如六月。人蓋絮被。受熱難過。手足亂動。攻上心胞。母不能安也。宜用調中和氣散。同勝紅丸。通利二三劑。母子俱安。</p>

<h3>調中和氣散</h3>
<p>大黃　石膏（各一錢）　檳榔　枳殼　黃芩　知母（各六分）　黃連（六分）　柴胡（三分）　黃柏（五分）　空心服</p>

<h3>勝紅丸</h3>
<p>紅花子（去油十粒）　百草霜（一錢）　為末。早米糊丸。蔥湯下七丸。</p>

<h2>胎前氣急不得臥</h2>
<p>此乃過食生冷。兼有風寒中胃肺經。因而生痰氣急。</p>

<h3>紫蘇安胎散</h3>
<p>紫蘇　枳實　桔梗　大腹皮　貝母　知母　當歸（各八分）　五味子　甘草　石膏（各三分）桑白皮（八分）　研末沖服。</p>

<h2>胎前咳嗽</h2>
<p>此食生冷。又食椒姜。沖損胎氣。胃火勝。方作此嗽。</p>

<h3>五虎湯</h3>
<p>蘇子　陳皮　知母　桔梗（各八分）　杏仁　石膏　枳實（各一錢）　麻黃（四分）　五味子　甘草（各三分）　煎服。</p>

<h2>胎前衄血</h2>
<p>胎前衄血。常從口鼻中來。此因母傷熱物。血熱則亂行。沖傷胞絡。只有涼胎之法。</p>

<h3>衄血丸</h3>
<p>丹皮　白芍　黃芩（各一兩）　蒲黃（炒）　側柏葉（各一兩）　為末。早米糊丸。白湯下百丸。</p>

<h2>胎前泄痢</h2>
<p>此因母傷椒、姜。熱毒入脾。大腸火燥。變成痢也。初起一二日。用甘連湯。三帖立安。如瀉日久。妊婦形瘦。精神短少者。產後母子兩亡。</p>

<h2>胎前漏紅</h2>
<p>有孕紅來如行經。應期每月一至。此是漏也。</p>

<h3>小烏金丸</h3>
<p>海金沙（煆三錢）　殭蠶　小茴　側柏葉　百草霜　川芎（各五錢）　防風　川歸（各八錢）　蒼朮（四錢）　厚朴（六錢）　為末。早米糊丸。白湯下百丸。</p>

<h2>胎前赤帶</h2>
<p>胎前漏赤帶。來如豬肝水。日夜不止。精神不寧。急服下方。</p>

<h3>側柏丸</h3>
<p>側柏葉　黃芩（各四兩）　為末。蜜丸。空心白湯下百丸。</p>

<h2>胎前白帶</h2>
<p>此胎氣虛。先服梨花酒。後用閉白丸。</p>

<h3>梨花酒</h3>
<p>梨頭花（炒）　為末。酒送下。</p>

<h3>閉白丸</h3>
<p>龍骨　海螵蛸　牡蠣　赤石脂（各五錢）　為末。早米糊丸。空心酒送下百丸。</p>

<h2>胎前氣緊咳嗽動紅</h2>
<p>胎前氣緊動紅。夜多咳嗽不止。其經每月應期而至。日午心熱。氣急。咳嗽。人皆作癆症治。不效。宜先服逍遙散。熱退。用紫菀湯以止嗽而安。</p>

<h2>胎前動紅</h2>
<p>此因失跌動傷。惡血破來。如水流不止。急用膠艾湯。以止其血。再服安胎散。以護其胎。然此症如孕婦形盛。而在三五日內可治。若弱而久者難治。</p>

<h3>安胎散</h3>
<p>阿膠　人參　茯苓　川歸　生地（各一錢）　川芎　甘草（各五分）　小茴　八角茴（各八分）空心服。</p>

<h2>胎前小便不通</h2>
<p>此症名曰轉胞。醫者多用車前。八珍湯。不效。宜服八味丸空心下。</p>

<h2>胎前大便不通</h2>
<p>此乃大腸熱結。胎氣虛弱閉塞。忌用芒硝等藥。大能傷胎。只服大黃湯。</p>

<h3>大黃湯</h3>
<p>熟大黃（二錢）　枳殼（一錢）　水煎溫服。</p>

<h2>胎前半產</h2>
<p>有孕三五月。或七月而小產。若不調治。再孕復然。服益母丸有奇功。</p>

<h3>益母丸</h3>
<p>益母草（一斤）　川歸（四兩）　為末。蜜丸彈子大。空心白湯化三丸。</p>

<h2>胎前怔忡</h2>
<p>有孕常心中恍惚。遍身煩熱。此血衰受孕不適而致。</p>

<h3>硃砂湯</h3>
<p>豬心（一個）　水一碗。煎半碗。調硃砂一錢服。</p>

<h2>胎前浮腫</h2>
<p>此氣血俱虛衰而致。切忌通泄之藥。恐傷胎也。</p>

<h3>大腹皮湯</h3>
<p>大腹皮　五加皮（各二錢）　青皮　陳皮（各一錢）　姜皮（五分）　空心服。</p>

<h2>胎前陰門腫</h2>
<p>此胎氣不能遊動而致。</p>

<h3>安胎順血散</h3>
<p>訶子（制）　水煎溫服。</p>

<h2>胎前遍身痠懶</h2>
<p>其症面色青黃。飲食不思。精神困倦。形容憔悴。此因血少不養胎元之故。宜服四物湯。</p>

<h2>胎前下血</h2>
<p>胎前下血動胎。有孕婦形盛而在三五日者。急投安胎散可愈。如形瘦弱者。冷汗大出。面色如灰。四肢無力。此日久病也。因而神色失去不治。</p>

<h2>胎前腳痛</h2>
<p>此下元氣血虛弱。又兼風邪。宜行氣行血。服烏藥順氣散。</p>

<h2>胎前中風</h2>
<p>其症牙關緊閉。痰氣壅滿。不知人事。皆因食生冷。兼在風前坐臥而致。先用黃蠟丸擦牙。再進排風散一二帖。</p>

<h3>黃蠟丸</h3>
<p>枯礬（一錢）　麻油　黃蠟　共熔化。調擦牙關上。</p>

<h3>排風散</h3>
<p>麻黃（三分）　白朮（二錢）　防風（八分）　甘草（六分）　杏仁　川芎（各二錢）　白蘚皮（八分）當歸　茯苓（各三錢）　獨活（一錢）　姜（三片）　棗（一枚）　煎熱服。</p>

<h2>胎前癱瘓</h2>
<p>其症手足不能動。乃胃中痰閉氣血而致。服烏藥順氣散。取汗見效。</p>

<h2>胎前腰痛</h2>
<p>此血去蔭胎。不能養腎。故腎水枯。以致腰痛難忍。</p>

<h3>豬腎丸</h3>
<p>豬腰子（一對）　青鹽（二錢）　曬乾為末。蜜丸空心酒下三四十丸。</p>

<h2>胎前頭痛</h2>
<p>此風邪入腦。陽氣衰也。投芎芷湯一二帖。即安。若原有頭風者。不效。</p>

<h3>芎芷湯</h3>
<p>川芎　白芷　菊花　甘草　白芍　茯苓（各一錢）　藁本　石膏（各六分）　加姜（三片）　煎服。若不效。加細辛。</p>

<h2>胎前泄瀉</h2>
<p>此症有四治。春用二苓湯。夏用三和湯。秋用藿香正氣散。冬用理中湯。</p>

<h3>藿香正氣散</h3>
<p>藿香（二錢）　紫蘇　陳皮　厚朴　半夏　大腹皮　白朮　茯苓　桔梗　白芷　甘草（各一錢）加姜（三片）　棗（三枚）　研末沖服。</p>

<h2>胎前心痛</h2>
<p>胎前心痛不可忍。胎氣不順之故。</p>

<h3>順氣手拈散</h3>
<p>五靈脂（一錢）　草果（一個）　元胡索　沒藥（各八分）　酒煎服。</p>

<h3>又方</h3>
<p>烏梅（一個）　紅棗（三枚）　杏仁（去皮尖七粒）　用搗成膏服。</p>

<h2>胎前昏迷</h2>
<p>胎前昏迷。忽然倒地。乃血去養胎。母無精神。承兒不住。故眼花頭暈。此症無藥方。只以補為主。</p>

<h2>胎前大便虛急</h2>
<p>此因脾土燥。大腸經澀。只宜理脾通大腸。不可用芒硝峻劑。</p>

<h3>一枳湯</h3>
<p>枳實（三錢）　水煎。不拘時服。</p>

<h2>胎前遍體瘙癢</h2>
<p>胎前遍體瘙癢。出風疹。此皮中有風。不可服藥。宜用樟腦調燒酒。擦之即安。</p>

<h2>胎前陰門癢</h2>
<p>有孕房事不節。陽精留蓄。因而作癢。用川椒白芷散二帖。</p>

<h3>川椒白芷散</h3>
<p>川椒（一兩）　白芷（一兩五錢）　水煎服頭煎。以二煎日洗患處數次。</p>

<h2>胎前濕熱不化陰門癢。</h2>
<p>酒炒條芩（八分）　酒炒歸身（一錢五分）　酒炒白芍（一錢五分）　老蘇梗（一錢五分）　酒炒川斷肉（三錢）　酒炒川黃柏（六分）　川萆薢（三錢）　蜜橘紅（一錢）　炙甘草（四分）　煎服。</p>

<h2>胎前乳腫</h2>
<p>胎前兩乳腫。生寒作熱。名內吹乳。</p>

<h3>皂角散</h3>
<p>皂角（一條燒灰）　酒調服。</p>

<h2>胎前咽痛</h2>
<p>此內傷寒攻上咽中。胃有痰涎。宜攻寒化痰為先。</p>

<h3>升麻桔梗湯</h3>
<p>升麻（三分）　甘草　桔梗（各八分）　防風（一錢）　加元參（一錢）　服二帖。</p>

<h2>胎前消渴</h2>
<p>此乃血少。三焦火勝而然。</p>

<h3>加味四物湯</h3>
<p>川芎　當歸　熟地　白芍（各三錢）　生地（八分）　黃柏　麥冬（各五分）　姜（二片）　棗（五枚）　煎服。或六味地黃湯亦效。</p>

<h2>胎前耳鳴</h2>
<p>此腎虛。宜服豬腎丸。空心酒下。七日立安。</p>

<h2>胎前潮熱不退</h2>
<p>胎前大渴。潮熱不退。腹中痛。孩兒十月滿足無妨。若在七八月孕時潮熱起。恐母子兩亡。</p>

<h2>臨產胎不降生</h2>
<p>臨產先有水。水乾孩兒不下。可用益母散生其水。水泛舟行。孩兒方下。若不生則閉死。</p>

<h3>益母散</h3>
<p>益母草（三錢）　麝香（一分）　白芷　川歸　川芎　滑石（各一錢）　肉桂（八分）　水煎服。</p>

<h3>秘傳難產方</h3>
<p>牆上或高處。蛇蛻殼一條。要頭向下而完全者。瓦上焙乾為末。每一錢加麝香二分。用乳調膏藥。貼產母臍上即生。生畢即去此膏藥。遲則腸出。萬勿誤事。如已至誤者。即將此膏藥。貼產母頂門。腸即收。收儘速去此膏藥。斷不可再誤事。</p>

<h2>死胎不下</h2>
<p>妊婦面赤口舌焦。指甲黑。此子死也。用斬爛散打下死胎。急救其母。若面不青黑。指甲猶紅。其子尚未死。不可輕用此方。</p>

<h3>斬爛散</h3>
<p>肉桂（一錢）　白芷（錢半）　斑蝥（五個）　滑石（三錢）　水煎服。若能連渣服更效。</p>

<h2>胎衣不下</h2>
<p>此症當審其婦。如胞在胸膈難治。其婦必死。若在小腹可治。</p>

<h3>破靈丹</h3>
<p>紅花（一兩）　蘇木（五錢）　生酒煎服。</p>

<h2>產後血氣痛</h2>
<p>產後余血未盡。腹中疼痛。遍身潮熱。此惡血在腹故也。去其餘血。潮熱自退矣。宜服紅花當歸散。</p>

<h2>產後血盡作痛</h2>
<p>此腹中虛痛。若有潮熱。亦屬虛潮。不可認作惡露未盡。宜以四物湯。加小茴。烏藥。乳香。沒藥。五靈脂。元胡索。</p>

<h2>產後惡露發熱</h2>
<p>此內傷外感症。宜用五積散。去麻黃。加草果、柴胡、黃芩。服一二帖後加減。</p>

<h2>產後咳嗽</h2>
<p>此風寒傷肺。變為咳嗽。</p>

<h3>小青龍湯</h3>
<p>甘草　乾薑（各五分）　五味子（三分）　半夏（一錢）　杏仁（一錢五分）　姜（三片）　水煎溫服。</p>

<h2>產後子宮突出</h2>
<p>此症不必服藥。用鯉魚灰。活鯉魚一個燒灰。調青油搽患處。</p>

<h2>產後瘕疸突出</h2>
<p>此症先服連翹散。後用黃蠟膏貼之。</p>

<h3>連翹散</h3>
<p>連翹　黃耆（炙）　花粉　防風　梔子（各一錢）　甘草（五分）</p>

<h2>產後一月惡露重來</h2>
<p>此症來如流水不止。昏迷倒地。不省人事。此乃未滿一月。夫婦交媾房事。搖動筋骨。血不歸絡。以致血崩不止。急服金狗散。</p>

<h2>產後氣急</h2>
<p>產後泄瀉。氣緊不止。大煩大熱。口渴不止。此內虛外熱之症。不治。</p>

<h2>產後舌黑</h2>
<p>產後舌黑如塵。口乾無津液。此腎經已絕之症。不治。</p>

<h2>產後譫語</h2>
<p>產後泄瀉。譫語亂言。此惡血攻心。上盛下虛之症。不治。</p>

<h1>卷三</h1>

<h2>月經前期</h2>
<p>其症血來如豬肝水。五心作熱。腰痛小腹痛。面色痿黃。不思飲食。此乃血氣皆虛。先服黃芩散退其煩熱。後用調經丸。次月血勝人安。</p>

<h3>黃芩散</h3>
<p>黃芩（六分）　川歸（一錢）　川芎（八分）　白芍　蒼朮　知母　花粉（各七分）　水煎溫服。（一方無蒼朮。白芍。有甘草七分。）</p>

<h3>調經丸</h3>
<p>三稜　蓬朮　川歸　白芍　生地　熟地　元胡　白茯苓（各一兩）　川芎　砂仁　烏藥（各八錢）　香附（一兩二錢）　大小茴（各二兩）　共為末。米糊丸。桐子大。早每服百丸。溫酒下。</p>

<h2>月經後期</h2>
<p>其症經來如屋漏水。頭昏目眩。小腹作痛。更兼白帶。咽中如魚腥。噁心吐逆。先用理經四物湯。次服內補當歸丸。次月即愈。</p>

<h3>理經四物湯</h3>
<p>川芎　川歸　白芍　生地　白朮　柴胡　香附　元胡索（各一錢）　黃芩　三稜（各八分）　水煎臨臥服。</p>

<h3>內補當歸丸</h3>
<p>川斷　阿膠　白芷　蓯蓉　蒲黃（炒黑）　厚朴　吳茱萸　附子　當歸　茯苓（各一兩）　川芎白芍（各八錢）　甘草　乾薑（各五錢）　熟地（一兩五錢）　為末。蜜丸桐子大。空心白湯下。八十丸。</p>

<h2>月經或前或後</h2>
<p>此症因脾土不勝。不思飲食。由此血衰。月水往後。或次月飲食多進。月水又往前矣。用藥只宜理脾。脾土勝旺。血勻氣順。自然應期。</p>

<h3>紫金丸</h3>
<p>青皮　陳皮（各五錢）　蒼朮　檳榔　砂仁　紅豆（各六錢）　良薑　枳殼　烏藥　香附（各八錢）　三稜（一兩）　蓬朮（二兩）　為末。米糊丸。食後米湯下百丸。（一方無莪朮。蒼朮。香附。）</p>

<h2>血虛發熱</h2>
<p>其症因婦人性急。或當行經時。房事觸傷。腹中結塊。如雞子大。左右而動。月水不行。變作五心煩熱。頭昏目眩。咳嗽生痰。先用逍遙散止其五心之熱。次用紫菀湯止其嗽。若半年失醫。肉瘦泄瀉必死。</p>

<h3>逍遙散</h3>
<p>白朮　川歸　白芍　花粉　元胡（各八分）　地骨皮　石蓮子（各一錢）　黃芩　薄荷（各四分）　龍膽草（五分）　為散服。或煎服。（一方無黃芩。）</p>

<h3>紫菀湯</h3>
<p>紫菀　阿膠（蛤粉炒研末沖）　川貝（去心）　桔梗　蘇子（各八分）　五味子（五分）　款冬花（六分）　桑白皮（蜜炙）　知母（蜜炙）　枳殼（各一錢）　杏仁（去皮尖一錢二分）　陳皮（一錢）水煎臨臥服。（一方無陳皮。）</p>

<h2>血閉發熱</h2>
<p>其症因行經時及產後。過食生冷並水果。血見水則滯故也。初起一二月。生寒作熱。五心煩躁。口苦舌乾。面色青黃易治。先用逍遙散退其寒熱。後用紫金丸漸納穀氣。脾土一勝。自然經血流通。若年久不治。變成骨蒸。子午而發。肌肉消瘦。骨露泄瀉不止者。百死無生。若患家照前治之。倘病更急。或用鴉片三釐。調甘草湯服之。屢試屢驗。</p>

<h2>行經氣痛</h2>
<p>經來一半。余血未盡。腹中作痛。變作潮熱。或無熱。當用紅花當歸散。破其餘血。則痛止人安。</p>

<h3>紅花當歸散</h3>
<p>紅花（炒）　川歸　牛膝　蘇木（各一錢）　川芎（五分）　枳殼（六分）　赤芍　三稜　莪朮　芫花（各八分）　臨臥煎服。</p>

<h2>經來不止</h2>
<p>經來十日半月不止。乃血妄行。當審其婦。曾吃椒、薑、熱物過度。此熱症易治。可用金狗散。（〔吳按〕亦有因虛弱淤滯。淋漓不斷。非僅屬熱症也。又當審其脈症而治之。）</p>

<h3>金狗散</h3>
<p>金毛狗脊　川斷　阿膠　地榆　川芎　川歸　白芷（各一錢）　白芍　黃芩（各八分）　熟地（二錢）　空心服。</p>

<h2>經來如黃泥水</h2>
<p>此大虛症。忌用涼藥。宜服加味四物湯。以暖其經。並和其血。次月血勝而止。</p>

<h3>加味四物湯</h3>
<p>川芎　川歸　元胡索（各一錢）　烏藥（一錢）　白芍　小茴（各八分）　熟地（二錢）　姜（二片）空心服。</p>

<h2>經來如銅綠水</h2>
<p>其症經來全無紅色。此乃大虛大冷。亦忌涼劑。當服烏雞丸半月。非特病愈。且因有孕。</p>

<h3>烏雞丸</h3>
<p>烏雞肉（去皮油淨肉三兩酒蒸）　山藥　肉桂　蓯蓉　蒲黃（炒黑）　川歸　山萸　白芍（各一兩）　熟地（一兩五錢）　大附子（三錢）　川芎（五錢）　鹿茸（一錢）　為末。米糊丸。空心酒下百丸。</p>

<h2>經來全白色</h2>
<p>此症五心煩熱。小便作痛。面色青黃。乃血氣虛也。不宜涼藥。亦宜服烏雞丸半月。次月定有孕。</p>

<h2>經來成塊如蔥白色</h2>
<p>經來成塊。又如蔥白色。或如死豬血黑色。頭昏目眩。口唇麻木。此虛冷。忌用涼藥。急服內補當歸丸。可愈。</p>

<h2>經來臭如夏月腐</h2>
<p>此乃血弱。更傷熱物而致。譬如溝渠水乾。天氣無雨。久則臭也。婦人身衰。舊血少。新血不接。則亦臭如夏月腐也。宜服龍骨丸。兼湯藥。</p>

<h3>龍骨丸</h3>
<p>龍骨　海螵蛸　生地（各一錢）　牡蠣　川歸　白芍　川芎　黃芩　白茯苓（各八分）　為末。蜜丸。空心酒服百丸。</p>

<h3>湯藥方</h3>
<p>當歸　三稜　莪朮　赤芍　丹皮　白朮　香附　豬苓　陳皮　木通（各八分）　姜（一片）煎服。</p>

<h2>經來如魚髓</h2>
<p>每月經來如魚髓。雙腳疼痛。不能移動。此乃下元虛冷。更兼風邪所致。行血行氣為宜。</p>

<h3>蘇風止痛散</h3>
<p>天麻　殭蠶　烏藥　牛膝（各錢半）　獨活　川芎　紫金皮　川歸　乳香　南藤　骨碎補（各一錢）　姜（二片）　蔥白（二根）　酒煎空心服。</p>

<h2>經來如牛膜片</h2>
<p>經來不止。兼下牛膜一樣片色。昏迷倒地。乃血氣結聚。變成此症。症雖驚人。卻無事。服朱雄丸立安。</p>

<h3>朱雄丸</h3>
<p>硃砂　雄黃（各一錢）　白茯苓（二兩）　為末。水丸。薑湯下五十丸。</p>

<h2>經來下肉胞</h2>
<p>經來不止。忽然下肉胞三五個。如雞子大。其軟如絮。用刀割開。肉似石榴子。其婦昏迷。不省人事。症亦驚人。亦不妨。用十全大補湯。五帖即安。</p>

<h3>十全大補湯</h3>
<p>人參　白朮　茯苓　炙甘草（各三錢）　黃耆（三錢）　肉桂（六分）　川芎　川歸　白芍（各錢半）　熟地（四錢）　姜（三片）　棗（二枚）　空心煎服。</p>

<h2>經來吊陰痛不可忍</h2>
<p>此症有兩條筋。從陰吊至兩乳疼痛。身上發熱。服川楝湯二帖即安。</p>

<h3>川楝湯</h3>
<p>川楝子　豬苓　澤瀉　白朮　小茴　八角茴（各一錢）　木香（五分）　麻黃（三分）　烏藥　檳榔　乳香　元胡索（各八分）　姜（三片）　蔥（一根）　煎服。發汗。</p>

<h2>經來小便痛如刀割</h2>
<p>此乃血門不通。人多用八珍散不效。急用牛膝湯一帖見功。</p>

<h3>牛膝湯</h3>
<p>土牛膝（三兩）　麝香（半分）　乳香（三錢）　水杯半。煎牛膝至一杯。磨二香入內。空心服。</p>

<h2>經來未盡潮熱氣痛</h2>
<p>經來一半。覺口渴小便痛。遍身潮熱頭痛。此傷食生冷。故血滯不行。有餘血在內。不宜用補。只服莪朮散。熱去經盡。痛止潮安。</p>

<h3>莪朮散</h3>
<p>莪朮　三稜（各錢半）　紅花（五分）　蘇木　牛膝（各二錢）　空心煎服。</p>

<h2>經來盡作痛</h2>
<p>此症手足麻痹。乃腹中虛冷。血氣衰弱。</p>

<h3>四物湯</h3>
<p>川芎　當歸　白芍（各三錢）　熟地（四錢）　姜（三片）　棗（七枚）　煎服。</p>

<h2>經來脅氣痛</h2>
<p>經來脅肉一塊如杯。其色淡黑。宜治氣為先。</p>

<h3>四物元胡湯加入前方</h3>
<p>元胡索（四兩）　沉香（五錢）　酒煎服。或為末。酒調服。</p>

<h2>經來小腹有血塊痛</h2>
<p>經來小腹結成塊。或如皂角一條橫過。痛不可忍。不思飲食。面色青黃。服元胡散半月。其塊自消。</p>

<h3>元胡散</h3>
<p>元胡索（四兩）　頭髮灰（四錢）　為末。酒調送。</p>

<h2>經來遍身疼痛</h2>
<p>經來二三日。遍身痛。此寒邪入骨。或熱或不熱。俱宜解表。</p>

<h3>烏藥順氣散</h3>
<p>烏藥　殭蠶　川芎　白芷　陳皮　枳殼（各八分）　乾薑　甘草（各五分）　麻黃（四分）　姜（三片）　蔥（一根）　水煎溫服。</p>

<h2>觸經傷寒</h2>
<p>經來忽然作渴。誤食生冷。遍身潮熱。痰氣急滿。惡寒四肢厥冷。名觸經傷寒。急投五積散可安。</p>

<h3>五積散</h3>
<p>厚朴　陳皮　桔梗　蒼朮　川芎　白芷　白茯苓　香附　半夏　當歸　枳殼（各二錢）　肉桂（五分）　甘草（八分）　白芍（一錢半）　麻黃（三分）　青皮（一錢）　加姜（三片）　蔥（一根）水煎熱服。</p>

<h3>附五積交加散</h3>
<p>（照上方加）</p>
<p>羌活　獨活（各一錢）　柴胡（一錢五分）　人參（邪勝者人參不可用。）</p>

<h2>逆經</h2>
<p>經從口鼻中出。此因過食椒、薑、熱毒之物。以致物傷其血。熱則亂行。服犀角地黃湯數帖。</p>

<h3>犀角地黃湯</h3>
<p>犀角　白芍　丹皮　枳殼（各一錢）　生地（二錢）　黃芩　桔梗　百草霜（各八分）　甘草（三分）　陳皮（七分）　空心服。</p>

<h2>經從口鼻出咳嗽氣急</h2>
<p>經不往下。五心發熱。咳嗽氣緊。治宜推血下行。先服紅花散七帖。再服冬花散。止嗽下氣。不須五七帖即安。</p>

<h3>紅花散</h3>
<p>紅花　黃芩　蘇木（各八分）　花粉（六分）　空心服。</p>

<h3>冬花散</h3>
<p>款冬花　桔梗　枳殼　蘇子　紫菀　知母　粟殼（蜜炙各八分）　石膏　桑白皮（蜜炙）　杏仁（各一錢）　蘇梗（八分）　水煎溫服。</p>

<h2>每月經來二三次</h2>
<p>經來幾點而止。過五六日。或旬日又來幾點。一月常行二三次。面色青黃。先用膠艾湯一二帖。次服紫金丸。</p>

<h3>膠艾湯</h3>
<p>阿膠　白芍　熟地（各一錢）　艾葉（三錢）　川芎（八分）　棗（三枚）　空心服。</p>

<h2>經來狂言如見鬼神</h2>
<p>經來或家事怒氣觸阻。逆血攻心。不知人事。狂言謬語。先服麝香散定其心志。後用茯神丸。以除病根。</p>

<h3>麝香散</h3>
<p>麝香　甘草　辰砂（各三分）　木香（五分）　人參　茯神　桔梗　柴胡（各八分）　遠志（一錢）</p>

<h3>茯神丸</h3>
<p>茯神　茯苓　遠志（各八錢）　硃砂（三錢）　豬心（一個）　為末。早米糊丸。如豆大。金銀湯送五十丸。</p>

<h2>經來嘔吐</h2>
<p>經來時常嘔吐。不思飲食。宜服丁香散。半月方愈。</p>

<h3>丁香散</h3>
<p>丁香　乾薑（各五分）　白朮（一錢）　為末。每晨米湯調送三匙。</p>

<h2>經來飲食後即吐</h2>
<p>此因痰在胸膈。有阻米穀。不能下胃。急服烏梅丸。化其痰涎。後服九仙奪命丹。</p>

<h3>烏梅丸</h3>
<p>硃砂　雄黃　木香（各五錢）　硼砂　乳香　沒藥（各一錢）　草果（一個）　胡椒　綠豆（各三十五粒）　為末。烏梅肉丸如楊梅大。每服噙化一丸嚥下。</p>

<h3>九仙奪命丹</h3>
<p>豆豉　木香　陳皮　山楂（各一錢）　枳殼（三錢）　草果（一個）　厚朴　茯苓　蒼朮（各二錢）為末。薑湯調下。</p>

<h2>經來遍身浮腫</h2>
<p>此乃脾土不能克化。水變為腫。</p>

<h3>木香調胃散</h3>
<p>木香　陳皮　甘草（各錢半）　三稜　莪朮　車前子　大腹皮　紅豆　砂仁　蒼朮　木通　山楂　萆薢（各一錢）　姜皮（五分）　空心服。</p>

<h2>經來泄瀉</h2>
<p>經動之時。五更泄瀉。如乳兒屎。此乃腎虛。不必治脾。服理中湯七帖即安。</p>

<h3>理中湯</h3>
<p>人參　白朮（各八分）　五味子　甘草（各三分）　乾薑（五分）　空心服。</p>

<h2>經前經後痢疾</h2>
<p>月水將臨。傷食椒、薑、雞、熱毒物。毒攻五臟。變作痢疾。諸藥無效。惟服甘連湯。二三帖可安。</p>

<h3>甘連湯</h3>
<p>甘草（五分）　黃連（二錢）　水煎服。</p>

<h2>經來大小便俱出</h2>
<p>此症名曰差經。因食熱物過多。積久而成。宜解其熱毒。順其陰陽。</p>

<h3>分利五苓散</h3>
<p>豬苓　澤瀉　白朮　赤芍（各一錢）　阿膠　當歸　川芎（各八分）　空心服。</p>

<h2>經來常咳嗽</h2>
<p>此症因血虛。咳乃肺燥金枯。急用茯苓補心湯。止其嗽。再服雞蘇丸。除其根。</p>

<h3>茯苓補心湯</h3>
<p>茯苓　川芎　當歸　白芍（各錢半）　生地（三錢）　蘇葉　人參　前胡　陳皮　甘葛　甘草半夏　桑皮　桔梗（各一錢）　枳實（八分）　姜（三片）　空心服。</p>

<h3>雞蘇丸</h3>
<p>川貝（四兩）　蘿蔔子（一升）　為末。蜜丸空心白湯下五十丸。</p>

<h2>經阻腹大如鼓</h2>
<p>月水不來二三月。腹大如鼓。人疑是孕。一日崩來。其血內有物。如蝦蟆子。其婦昏迷不知。體盛者急投十全大補湯可愈。體弱形瘦者死。</p>

<h2>經來小便出白蟲</h2>
<p>經來血內有白蟲。形如雞腸。滿肚疼痛。先用迫蟲丸。通其蟲於大便而出。後用建中散補之。</p>

<h3>迫蟲丸</h3>
<p>麝香（五分）　續隨子　檳榔　牽牛　大戟（各五分）　芫花（一錢）　大黃（一兩）　為末。麵糊丸如元眼核大。每服一丸酒下。</p>

<h3>建中散</h3>
<p>黃耆　肉桂　甘草（各五錢）　白芍（一兩）　為末。白酒調下。</p>

<h2>經來吐蛔蟲</h2>
<p>經來寒熱。四體厥冷。大汗。嘔吐蛔蟲。痰氣緊滿。百死無生。不治。</p>

<h2>經來潮熱旬日不思飲食</h2>
<p>經來胃氣不開。不思飲食。此症以開胃為先。服鴨血酒即安。</p>

<h3>鴨血酒</h3>
<p>白鴨（一隻用銅刀取血。）乘熱調陳熟酒服。</p>

<h2>室女經閉</h2>
<p>室女月水初出血海。不識保養。將衣服用冷水洗之。水浸手足。血見冷而凝。不出血海。面色青黃。遍身浮腫。人多作水腫治。不效。宜通經丸。通其血則腫自消。</p>

<h3>通經丸</h3>
<p>三稜　莪朮（各五錢）　川歸　川芎　赤芍（各一兩）　穿山甲（六錢）　芫花（四錢）　劉寄奴（三錢）　為末。米糊丸酒下。</p>

<h2>血山崩</h2>
<p>此症若初起。宜服十灰散。若久崩者。宜服雞子湯。如小腹痛。則用加味四物湯</p>

<h3>十灰散</h3>
<p>（宜研極細末。連灰服下。）</p>
<p>阿膠　側柏葉（各二錢）　棕　艾　綿　絹（各一錢）　胎髮（三分）　苧根（一錢）　百草霜（三分）　白茅花根（一錢俱燒灰存性。）為末。白湯調下。（〔吳按〕若無胎髮。可用無油頭髮。）</p>

<h3>雞子湯</h3>
<p>雞子（或云落袋子五個）　蔥（三根）　姜（一兩）　共搗爛如泥。入麻油鍋內炒。酒淬去渣熱服。</p>

<h1>卷四</h1>

<h2>原經水不調</h2>
<p>一由脾胃虛損。經曰二陽之病。發於心脾。夫二陽者。陽明胃經也。主納水穀。長養氣血。灌溉腑臟。流行經絡。乃水穀之海。氣血之升。唯憂愁思慮傷心。心氣受傷。脾氣失養。鬱而不通。腐化不行。胃雖能受。而謂長養灌溉者。安在哉。故脾胃虛弱。飲食少思。血氣耗衰。斯有血枯經閉之症。蓋血少色必淡。或過期始行。或數月一行矣。一由衝任損傷。氣以順之。血以濡之。故氣行則血行。氣滯則血逆。大抵婦人。情多執拗。偏僻忿怒妒忌。多傷肝氣。肝為血海。衝任之脈。衝任失守。血氣妄行。或女子未及二七天癸之期。而男強與之合。或月事適未盡。而男與合。縱欲不已。皆致衝任內損。血氣不固。或為崩。或為漏。有一個月再行。有未及期先行諸症。一由脂痰凝滯。肥盛之婦。腸胃多痰。壅滯經絡。或閉經帶下。以上三症。皆不能孕育。</p>

<h2>經水不調症</h2>
<p>形瘦多痰多郁。血虛氣熱。宜四物湯合開鬱二陳湯。加赤芍。黃芩。黃連。姜為引。</p>

<h3>開鬱二陳湯</h3>
<p>蒼朮　香附　川芎（各一錢）　青皮　莪朮　檳榔（各七分）　木香（五分）　姜引形瘦多痰且熱。此衝任受傷。宜四物湯。加人參。知母。麥冬。甘草。薑棗引。並服地黃丸空心白湯下。</p>
<p>衝任傷損。腎虛血少枯閉。誤服辛熱暖子宮藥。致經不調。衝任伏火。宜四物湯。加赤芍。知母。木通。黃柏。甘草。食前服。兼服三補丸。</p>

<h3>三補丸</h3>
<p>黃芩　黃柏（各等分俱酒炒）　蜜丸白湯下。性急多怒而妒。氣血俱熱。必有鬱症。宜四物湯。加柴胡。酒炒黃芩。黃連。（酒炒）　香附。（童便制）　空心服。肥盛腸胃多痰。壅滯經絡。閉血帶下。</p>

<h3>地骨皮湯</h3>
<p>地骨皮　當歸　川芎　知母　麥冬（各一錢）　甘草（五分）　空心服。形瘦經不調。素無他症。此血熱也。宜四物湯加黃芩。黃連。知母。酒炒黃柏。（各等分）甘草（五分）　空心服。兼三補丸。</p>

<h2>過期經行症</h2>
<p>情性溫和有痰。此氣血兩虛。宜八物湯。合青皮湯。加香附。兼服蒼莎丸。</p>

<h3>蒼莎丸</h3>
<p>（香附亦名莎草根。）</p>
<p>蒼朮（米汁浸炒二兩）　香附（童便浸炒三兩）　條芩（酒炒一兩）　為末。神麯糊丸白湯下。</p>
<p>形瘦素無他症。此血氣不足。宜十全大補湯。</p>
<p>形瘦食少。此脾胃虛弱。血氣衰少。宜異功散合芎歸湯。加人參。白朮。茯苓。甘草。陳皮。薑棗引。食前服。兼地黃丸。</p>

<h3>芎歸湯</h3>
<p>川芎　歸身　香附　枳殼（炒各一錢五分）　滑石（二錢）　姜引。</p>
<p>肥胖飲食過多。此濕痰壅滯。軀脂逼迫。宜六君子湯合芎歸湯。加香附。薑棗引。空心服。</p>

<h2>一月經再行症</h2>
<p>性躁多氣。傷肝。而動衝任之脈。宜四物湯加人參。柴胡。黃芩。黃連。甘草。空心服。兼用知母。黃柏。為丸。滾湯下。性躁多氣。傷肝。而動衝任之脈。誤服辛熱藥。致經再行。可照上服藥。更服三補丸。</p>

<h2>數月行經症</h2>
<p>形盛多痰氣虛。宜六君子湯合蒼莎丸。加川芎。當歸。枳殼。食前服。蒼莎導痰丸。亦在食前兼服。</p>

<h3>蒼莎導痰丸</h3>
<p>蒼朮　香附　枳殼（各二兩）　陳皮　茯苓（各一兩五錢）　膽星　甘草（各一兩）　為末。薑汁和神麯為丸。淡薑湯下。形瘦脾胃弱。氣血虛。宜十全大補湯。</p>

<h2>經期或前或後症</h2>
<p>脾胃虛弱。氣血不足。宜從虛治。服加減八物湯。兼烏雞丸。</p>

<h3>加減八物湯</h3>
<p>人參（三錢）　白朮　茯苓　炙草（各五錢）　白芍　歸身　陳皮　香附　丹皮（各一錢）　食前服。</p>

<h3>烏雞丸</h3>
<p>（專治脾胃虛弱。衝任傷損。氣血不足。經候不調。凡無子者。服之神效。）</p>
<p>白毛烏骨雞（未鐓雄雞者一隻。約重一斤。以粳米餵養。七日勿令食蟲蟻。以繩縊死。干撏去其毛。酒洗淨。內雜不用。納生地。熟地。天冬。麥冬。各二兩。於雞肚內。以好𩽴魚。酒十碗。熬爛。即出肚內藥。將雞用桑柴火連骨焙乾。仍以前生地等藥酒。又浸又焙。至雞骨肉枯為末。）（〔吳按〕此酒不知出處。只用無灰陳米酒。亦可。）</p>
<p>人參（五錢）　蓯蓉（酒洗焙）　故紙（炒）　砂仁　歸身　白朮　川芎　丹參　茯苓　杜仲（鹽水炒）　炙甘草（各一兩）　香附（醋浸四兩）　為末。入上雞骨肉末。和勻。酒麵糊丸。空心酒下。或米湯下五十丸。</p>

<h2>行經腰腹作痛症</h2>
<p>氣滯血實。人瘦有火。宜桃仁四物湯。加條芩。黃連。</p>

<h3>桃仁四物湯</h3>
<p>歸尾　赤芍　川芎　生地　香附（各二錢）　丹皮　紅花　元胡（各一錢）　桃仁（十一粒。臨服研入。）　空心服。</p>
<p>氣滯血實。人肥多痰。宜桃仁四物湯。加枳殼。蒼朮。半夏。</p>

<h2>經後腹痛症</h2>
<p>此虛中有滯。宜八物湯。加木香。香附。青皮。薑棗引。食前服。</p>

<h2>經水多少症</h2>
<p>形瘦經少。此氣血弱。宜四物湯。加人參。香附。甘草。薑棗引。</p>
<p>肥胖經少。此痰凝經隧。宜二陳湯合芎歸湯。薑棗引。</p>
<p>經來多。不問肥瘦。皆屬熱。宜四物湯加黃芩。黃連。知母。黃柏。甘草。姜為引。兼服三補丸。（〔吳按〕此條不盡然。宜以脈症為憑。）</p>

<h2>驗經色症</h2>
<p>經水色紫者。熱也。宜四物連附湯。</p>

<h3>四物連附湯</h3>
<p>歸尾　赤芍　香附（各二錢）　黃連　丹皮　甘草（各一錢）　食前服。</p>
<p>經水色淡者血虛也。宜八物湯。加黃耆。香附。姜為引。兼服地黃丸。</p>

<h2>浮腫症</h2>
<p>因經閉敗血停積五臟。流入四肢。作浮腫者。不可誤認水氣。宜調其經。經調則腫消矣。然煎藥必須十餘服。則下次無愆期之患。至丸藥更宜久服。庶疾無反覆。</p>

<h3>調經湯</h3>
<p>川芎（七分）　當歸　生地　益母草（各一錢）　白芍　香附　丹皮　茯苓（各八分）　甘草（三分）　姜（三片）　棗（一枚）　空心溫服。如血熱先期。及血熱過期。紫黑成塊等症。加黃連（七分酒炒）　血寒過期。加煨姜。肉桂（各三分）　臨期正行作痛。加元胡。青皮。（各八分）臨行續斷不來。積塊刺痛。加紅花。蘇木。桃仁。（各五分）　經水過多。加黃芩。（一錢）蒲黃。（炒八分）　經來飲食不思。加白朮（八分）　陳皮。砂仁。（各五分）　肥人多痰。赤白帶下。加南星。蒼朮。（各八分）　氣虛血弱。四肢　虛軟。面無顏色。加人參。黃耆。（各五分）　此方調理之大概。如有兼症。可照方隨機加減用之。</p>

<h3>金匱丸</h3>
<p>香附（童便制酒醋鹽水各分制共四兩）　沒藥（六錢）　棗皮（焙去油）　當歸（童便制）　茯苓　白朮（米泔水浸）　白薇（洗去蘆）　阿膠（蛤粉炒）　白芍（各四兩）　生地（酒浸洗。用益智仁二兩。以酒同炒。去益智仁淨。八兩。）　人參（二兩）　川斷（酒洗。五倍子炒淨六兩。）　黃芩（酒浸洗淨四兩）　砂仁（炒去衣二兩。）　上藥法制為細末。用山藥十二兩為末。水打丸。空心白湯下五十丸。（〔吳按〕棗皮即山茱萸。）</p>

<h2>原經水不行</h2>
<p>脾胃傷損。飲食減少。氣耗血枯而不行。宜補脾胃。養氣血。氣充血生。經自調矣。切忌用通經藥。恐傷中氣。陰血已乾。誤成癆瘵。則不治矣。思慮惱怒。怨恨氣鬱。血滯而不行。宜開鬱行滯。苟以為虛而用補。則氣得補而益結。血益凝。至成癥瘕腫痛者。有之矣。　</p>
<p>軀脂迫塞。痰涎壅盛。滯經而不行。宜行氣導痰。則經自行矣。</p>

<h2>經閉不行症</h2>
<p>脾胃傷損。氣血不行。</p>

<h3>加減補中益氣湯</h3>
<p>人參（三錢）　黃耆（炙）　白朮（土炒）　白芍（酒炒）　歸身　川芎　陳皮（各一錢）　柴胡（七分）　炙草（五分）　加神麯麥芽（炒各五錢）　薑棗為引。兼服烏雞丸。氣鬱血閉不行。宜服開鬱二陳湯。兼四制烏附丸。</p>

<h3>四制烏附丸</h3>
<p>香附（一斤。分四。主醋酒童便鹽水各浸三日三夜。以砂罐煮乾所浸之水研細末。）　天台烏藥（半斤。同附制研細末。）　和勻。醋糊丸。</p>
<p>軀脂迫塞。痰涎壅盛，滯經不行。宜服蒼莎導痰丸。兼開鬱二陳湯。去莪朮加枳殼。偏房寵妾寡婦。並愆期未嫁室女。欲動不得遂。恨積不得伸。亦有經閉之症。害羞難對人言。致成癆瘵。宜服四制烏附丸。及參朮大補之劑。攻補兼行。可療七情變症。經閉骨蒸作熱。而脈虛難治。</p>

<h3>加減八物柴胡湯</h3>
<p>人參（三錢）　茯苓　白芍　地黃　知母　麥冬　柴胡（各一錢）　炙甘草（五分）　食遠服。如有汗。加丹皮。淡竹葉。如熱甚。此方不平。加炒黑乾薑（一錢）經閉發熱。咽燥唇乾而脈實。</p>

<h3>四物涼膈散</h3>
<p>歸身　川芎　赤芍　生地（各二錢）　黃芩（酒炒）　黃連（酒炒）　連翹　桔梗（各一錢）　薄荷甘草　竹葉（各七分）煎服。此方凡血實形盛。脈有力者。及有熱者宜服。陰虛血弱。火甚水虧。而經閉。忌用毒藥。</p>

<h3>柏子仁丸</h3>
<p>柏子仁（炒另研）　牛膝　薄荷（各五錢）　澤蘭葉　川斷（各二兩）　地黃（三兩）　為末。蜜丸空心米湯下。兼服澤蘭湯。</p>

<h3>澤蘭湯</h3>
<p>澤蘭葉（五錢）　當歸（一錢）　甘草（五分）　空心服。按靈樞經婦人有石瘕腸覃二症。俗醫不識。故特表而出之。</p>

<h2>石瘕症</h2>
<p>石瘕症。因行經之後。寒氣自陰戶入。客於胞門。以致血凝。月經不行。而腹漸大。如懷胎狀。其婦壯盛。或半年之後。小水長自消。若虛弱婦。必成腫症。</p>

<h3>溫經湯</h3>
<p>歸尾　川芎　赤芍　肉桂　桂枝　莪朮（醋炙）　故紙（鹽水炒）　小茴　牛膝（各二錢）　甘草（三分）　姜引。兼服四制烏附丸。</p>

<h2>腸覃症</h2>
<p>腸覃症。亦行經時。寒氣入陰戶。客於大腸。以致血凝。經雖行而血少。其腹漸大。亦如孕狀。俗呼漏胎。如壯盛婦。半年自消。若弱虛婦人。必成脹滿。</p>

<h3>桂枝桃仁湯</h3>
<p>桂枝　檳榔　白芍　生地　枳殼（炒各一錢五分）　炙甘草（五分）　桃仁（二十粒研泥）　薑棗為引。空心服。</p>

<h2>治崩漏次第</h2>
<p>凡治崩漏。先止血以塞其流。次清熱涼血。以清其源。後補氣血。以復其舊。如不清源。則滔天之勢不可遏。清源而不復舊。則孤孑之陽。無以久立。必本未兼舉。前後不紊。乃可治之。要之崩疾皆因中氣虛。不能收斂其血。加以積熱在裡。迫血妄行。故血暴下為崩。崩久不止。遂成為漏。脈訣云。崩中日久。為白帶漏下。時多骨髓枯是也。</p>

<h2>崩漏症</h2>
<p>崩漏初起。宜先止血。所謂急則治其標也。</p>

<h3>加味四物湯</h3>
<p>歸尾　生地　川芎　赤芍（各二錢）　白芷　荊芥（炒）　甘草（各一錢）　空心服。兼服十灰散。</p>

<h3>十灰散</h3>
<p>藕節　艾葉　柏葉　棕櫚　大小薊　丹皮　山梔　胎髮　乾薑（俱燒灰存性去火毒。）合勻為末。每服二錢。用上加味四物湯調送。以血止為度。（〔吳按〕胎髮難覓。即用無油發亦可。）</p>
<p>崩漏止後。宜服清涼之劑。以除熱清源。</p>

<h3>地黃湯</h3>
<p>生地　歸身　川芎（各二錢）　黃芩　黃連　知母　黃柏　藁本　柴胡　羌活　防風　荊芥（各一錢）　細辛　蔓荊　升麻　紅花（各六分）　甘草（八分）　姜引。空心服。或用下加味四物湯亦可。</p>

<h3>加味四物湯</h3>
<p>生地　川芎　當歸　白芍（各二錢）　阿膠（炒）　艾葉　條芩（各一錢）　姜引。如血未盡。再兼服十灰散。</p>
<p>崩漏止後。裡熱已除。宜補氣血。以復其舊。宜服補中益氣湯。加白芷。茯苓。黃柏。知母。生地。薑汁（少許）　大棗引。</p>

<h3>補中益氣湯</h3>
<p>人參（三錢）　炙黃耆　炒白朮　酒芍　歸身　川芎　陳皮（各一錢）　柴胡（七分）　炙草（三分）　煎服。如氣滯作痛。加青皮。香附。木香（各等分）　或用五靈脂（炒煙盡一錢）　為末。溫酒送。亦能止滯氣痛。</p>
<p>久崩成漏。遠年不休。此中氣虛下陷。下元不固。宜服補中益氣湯。兼鹿角霜丸。</p>

<h3>鹿角霜丸</h3>
<p>鹿角霜　歸身　茯神　龍骨（煅）　阿膠（蛤粉炒）　柏子仁（炒）　香附（酒炒）　山藥（各二兩）川芎　川斷（各一兩）　炙草（五錢）　為末。醋糊丸空心服。</p>
<p>又崩有系衝任之氣虛損。不能約制經血者。宜大補氣血。養其脾胃。少加鎮墜心火之藥。以治其心。補陰泄陽。崩自止矣。若經妄行。或吐血腥者。用四物。涼膈。入生韭汁服。然必先服五積散一二帖。次服五苓散。及各順氣。去舊生新藥。自然愈矣。蓋崩乃經脈錯亂妄行。若先用急斂之方。恐有積聚凝滯之患。</p>

<h2>原赤白帶</h2>
<p>婦人患帶者最多。赤者屬熱。虛而兼火。白者屬濕。虛而兼痰。治法總以補脾為主。又兼升提。然大抵瘦人多火。患赤帶。肥人多痰。患白帶。醫人於此。亦宜詳審。不可執一而混施也。</p>

<h2>赤白帶症</h2>
<p>形瘦多火。因虛兼熱。患赤帶。宜四物芩連湯。加升麻。丹皮。兼服三補丸。（〔吳按〕帶有五色。乃因人之寒熱而變化。）</p>
<p>形肥多痰。因虛兼濕。患白帶。宜六君子湯。加升麻。柴胡。蒼朮。姜引。兼服蒼莎導痰丸。</p>

<h2>附孕婦白帶</h2>

<h3>芩連芷柏丸</h3>
<p>蒼朮　條芩（各一兩）　黃連　黃柏（各五分）　白芍　白芷　椿白皮　山茱萸（各四錢）　為末。酒丸開水送。</p>
<p>帶久不止。以補為主。宜十全大補湯。去地黃。加陳皮。半夏。煨姜。更服參朮大補之劑。以補脾胃之虛。又服補宮丸。以固下元之脫。</p>

<h3>補宮丸</h3>
<p>鹿角霜　茯苓　白芍（各一兩）　白芷　山藥（各六錢）　龍骨（煅）　赤石脂（各四錢童便煅碎）煨姜（二錢）　為末。醋糊丸。空心米湯下。</p>
<p>按婦人又有白淫白濁二症。與帶症似是而實非者。</p>

<h2>白淫症</h2>
<p>白淫者。時常隨小便而來。渾濁如米泔。此胃中濁氣。滲入膀胱而成。</p>

<h3>加味二陳湯</h3>
<p>陳皮　茯苓　白朮　甘草　蒼朮（制各一錢）　升麻　柴胡（各四分）　益智仁（鹽水炒一錢）　姜引一方有香附（一錢）　木香（二分）</p>

<h2>白濁症</h2>
<p>白濁症。時常流出清冷稠黏。或於小便後。來亦不多。此乃下元虛損。精不能攝。因滑而出。</p>

<h3>分清飲</h3>
<p>川萆薢　益智仁（去殼鹽水炒）　烏藥　茯苓（各二錢）　石菖蒲（去毛炒）　枳殼　生草（各一錢）　水煎。乘熱入鹽少許服。</p>

<h1>卷五</h1>

<h2>保胎法</h2>
<p>保胎第一宜絕欲為主。其次寡欲。然絕欲者難。苟能寡欲則心清。胎氣寧謐。胎安而產易。雖嬰兒亦可少病而多壽。</p>
<p>宜小勞。勞則氣血流通。筋骨堅固。胎在腹中。習以為常。雖微閃挫。不至壞事。然非孕後方勞。正云平日不宜逸耳。</p>
<p>宜以布纏腰。當婦人孕已知覺。用布一幅。闊六七寸。長可橫束腰間兩轉者。常束腰間。直至臨盆方解。蓋胎當未長成。得此腰膂有力。偶或僕跌。不至損胎。及臨盆解開。腹中乍寬。胎兒轉身亦易。</p>
<p>宜謹飲食。苟忽略不知避忌。傷胎甚易。大約宜淡薄。不宜肥濃。宜輕清。不宜重濁。宜甘平。不宜辛熱。宜溫補。不宜耗散。食物不能備述。總在臨時酌其物情而已。</p>
<p>宜忌諸事。凡七情六慾。運磚弄石。勞神用力。嚴寒酷暑。上高下低。換房移床。並勿入產婦房。勿到喪服家。勿進鬧熱場。勿早起晚寢。勿用婦人良方。勿飲古人成方。勿服過路醫生方藥。</p>
<p>宜常服藥。蓋婦人懷孕。則脾不運化者多。脾不運化。則生濕。濕乃生熱。故補脾燥濕之藥不可少。況胎賴氣血以養。孕婦恆氣血不足。則必又補血順氣以安胎。至若胎動漏紅。以及素有半產者。服藥更不可緩。今撮要方列服。孕後月月數帖。</p>

<h3>安胎散</h3>
<p>人參　川芎（各五分）　黃芩　當歸頭（各七分）　白芍　黃耆（各六分）　白朮　熟地　蛤粉（炒）　阿膠（各一錢）　炙甘草（三分）　食遠服。如腹痛。加杜仲。（去粗皮炒斷絲）　砂仁（各五分）　有憂怒鬱結。加紫蘇。香附。（各五分）　以安胎氣。孕後可常服。</p>

<h3>金匱當歸丸</h3>
<p>川芎　當歸　白芍　黃芩（各四兩）　白朮　阿膠（各二兩）　人參（一兩五錢）　砂仁（一兩）為末。麵糊丸。每服六十丸。空心米湯下。此方養血清熱。補脾燥濕。補血安胎。順氣止痛。且去胎毒。服之臨產易生。胎兒易育。胎至九月後。服十餘帖。</p>

<h3>達生湯</h3>
<p>全當歸（酒洗一錢五分）　川芎　牛膝（酒浸一宿各六分）　益母草（不犯鐵器）　冬葵子（炒研）白朮（米汁水浸炒各一錢）　車前子（炒研細）　枳殼（麵炒各五分）　大腹皮（酒淨四分）　炙甘草（三分）　廣木香（忌火。研末。和服三分。）　姜（一片）　食遠服。如腹痛加白芷。沉香。（各五分）</p>
<p>將產催生神效。</p>

<h3>催生益母丸</h3>
<p>益母草（五月五日採莖陰乾。不令見日。忌鐵器。研末半斤。）　車前子（一兩研）　冬葵子枳殼　牛膝（各五錢）</p>
<p>為末。蜜丸彈子大。每服一丸。臨產以酒和童便化送。米湯亦可。如體氣不順。腰痛陣痛。血先行太多。欲產未產。加川芎當歸生地（各二錢）　煎湯磨木香（二錢入藥）　如虛暈加人參（五分）　夏月熱產加滑石（一錢五分）　甘草（三分）　煎送。冬月冷產加官桂（三分）　煎送。當漿水頻下時服。</p>

<h3>施氏催生丹</h3>
<p>人參　乳香（焙去油各一錢）　辰砂（五釐）　為末。白酒送。白湯亦可。</p>

<h2>保產撮要</h2>
<p>產婦房中。宜老成安靜者二三人。坐守。夏月更不宜多。恐熱氣壅盛。能令產母發暈。宜輕言緩步。不可大驚小怪。宜勸安睡待時。不可交頭接耳。致令憂疑。水溫再易涼者。宜預燒紅秤錘。置醋瓶。以防產畢血暈。宜預煎生化湯。以候兒下地即服。</p>
<p>產婦第一宜慢臨盆。蓋早必揉腰擦肚。若系試痛。則生採強取而出。即或正生。恐兒身未轉。逼之則有橫逆之異。惟忍痛以待。產母手中指節或本節跳動。此時渾身骨節疏解。胸前陷下。腰腹重墜。大小便齊急。目中金花爆濺。此乃瓜熟蒂落之候。臨盆用力得其時矣。</p>
<p>產婦切忌聽穩婆言。蓋此輩惟利自圖。不顧他人性命。一進門來。即令坐草。或適當其時。則誇自己手段高強。如非其時。欲了此適彼。則生採活剝。甚有逼死胎兒在腹。用碎割之法。以見己功。藉此尚欲居奇射利。以至母則受傷。子則慘死。禍不勝言。（〔吳按〕既有此輩。要在我用他。不可他用我。）</p>
<p>臨產全賴養精神。惜氣力。夫欲惜力。莫如安睡。欲養精神。全賴藥食。故產婦能上床安睡。務令閉目靜養。即或時至。何妨產下褲中。能進飲食。凡無大礙。適意之物。不妨隨意食之。以壯神力。如不欲飲食。亦當將雞鴨肉清汁湯。或補藥食。勉強飲之。以接神力。臨產催生藥。切忌兔腦鼠腎二丸。並回生丹。蓋兔鼠二丸。例用香竄之味。產時百脈解散。氣血虧虛。服此散氣之藥。至兒出而香味未消。其損多矣。且令毛竅開張。招風入內。禍不可言。若回生丹。以大黃紅花為君。其餘亦多消導。夫產婦血已耗。而又破多。致產後發熱等症。夫此二方。古今稱為靈寶者。尚如此。外此更無論矣。如必須用藥。莫若加味芎歸湯。佛手散。二方頓去宿血。聚生新血。有益無損。可稱易得而利產者也。慎勿以熟方忽之。</p>

<h3>加味芎歸湯</h3>
<p>（專治交骨不開。子死腹中。）</p>
<p>當歸（一兩）　川芎（七錢）　龜板（手掌大一片。醋炙研細末。）　頭髮（婦人油發雞子大一丸。瓦上焙存性。）　水煎服。</p>

<h3>佛手散</h3>
<p>（治一切難產等症）</p>
<p>當歸（五錢）　川芎（三錢）　水七分酒三分。煎服。如橫生倒產。子死腹中。加黑馬料豆（一合炒黑）　乘熱入水中。加童便一半。煎上藥服。少刻再進一服。無不效。</p>

<h2>竹林寺真傳生化湯論</h2>
<p>產後血氣大虛。理應大補。但惡露未盡。用補須知無滯血。能化又能生。攻塊無損元氣。行中又得補。方謂萬全無失。世以四物湯理產後。誤人多矣。因地黃性寒滯血。芍藥酸斂滯血。無補故也。產後惡露作塊痛。名曰兒枕。世多專用逍遙散。然後議補。又有消補混施。終無成效。不知舊血雖急當消化。新血亦宜生養。若專攻舊血。則新血亦不寧矣。世以濟坤丸又名回生丹。用以攻塊下胎落胎。雖見速效。其元氣未免虧損。即幸平安。究非良劑。不得已。而用以下胞下胎。只可一丸。決不宜多服。蓋生化湯因藥性功用而立名者也。夫產後血塊宜消。新血宜生。若專消則新血不寧。專生則舊血反滯。考藥性川芎、當歸、桃仁、三品。善破惡血。驟生新血。佐以炙黑乾薑。甘草。引三品入於脾肝。生血理氣。五味共方。則行中有補。化中有生。實產後之要藥也。故名曰生化湯。凡病起於氣血之衰。脾胃之虛。而產後則血氣脾胃之衰尤甚。是以丹溪先生論產後曰。必當大補氣血以為先。雖兼他症。以末治之。此三言已盡醫產之大旨。若能擴充其意。用藥立方。則治產可以無大過矣。夫產後驚憂勞倦。血氣暴虛。諸症乘虛易入。如有氣無專耗散。或有食勿輕消導。熱不可用芩連。寒不可用桂附。寒則血塊凝滯。熱則新血崩流。至若中虛外感見三陽表症之多。似可汗也。在產後而用麻黃。則重竭其陽。見三陰里症之多。似可下也。在產後而用承氣。則重亡其陰。耳聾脅痛。乃肝腎虛。惡血之停。休用柴胡。譫語汗出。乃元氣虛弱。似邪之症。勿同胃實。厥有陽氣之衰。難分寒熱。非大補不能回陽而起弱。因血虛之虧。不論剛柔。非滋榮不能舒筋而活絡。又如乍寒乍熱。發作有期。症似瘧也。若以瘧治。則遷延難愈。神不守舍。言語無倫。病似邪也。若以邪治。危亡可待。去血多而大便結燥。蓯蓉加於生化。非潤燥承氣之能通。患汗多而小便短澀。六君子倍用參耆茯苓。必生液助津之可利。加參生化頻服。救產後之危。長生活命屢用。蘇絕谷之症。頹散脫肛。多是氣血下陷。補中益氣之湯堪用。口噤拳攣。乃因血燥類風。加參生化之湯宜服。若產戶入風而痛甚。宜用羌活養榮湯。玉門寒冷而不閉。洗宜蛇床萸硫磺。怔忡驚悸。生化遠志安神之藥。似邪恍惚。安神丸助歸脾。因氣而滿悶虛煩。生化湯加木香為佐。因食而酸噯惡食。六君子加神麯麥芽為良。蘇木。稜蓬。能破惡血。青皮。枳殼。最消脹滿。一應耗血散氣之劑。發汗吐下之方。只可施於少壯。豈宜用於產中。大抵新產之後。先問惡露如何。塊痛未除。未可遽加耆朮。腹中痛止。補中益氣湯無疑。至若亡陽脫汗。氣虛喘促。速服生化加參。是用權也。又以陰亡大熱。血崩厥暈。速服生化原方。乃救急也。王太僕曰。治下補下。制以緩急。緩則道路遠而力微。急則氣味厚而力重。故治產當遵丹溪而固本。服藥法宜效太僕以加頻。凡任生死之奇術。須著意以救危。欲俯仰之無愧。用存心於愛物。此雖未盡產中之詳。然所聞之症。皆緣近鄉治驗為據。未必無小補云。</p>
<p>凡有孕婦之家。照生化湯方於孕至七八月。預製二三帖。至產婦胞衣一破。連煎一帖。候兒下地。於未進食之先。即服其餘二帖。亦相從而進。不論正生小產。年紀少壯。服此方以消血塊。生新血。能保產後一切危症。且長精神。</p>

<h3>生化湯</h3>
<p>全當歸（酒洗八錢）　川芎（三錢）　薑炭（五分夏令四分）　炙甘草（五分）　桃仁（十粒去皮尖）水煎熟。加陳酒六七匙於藥內服。渣另貯。俟三帖煎完。頭煎服後。合三帖渣於一處。再煎服。此方產後至寶。如虛人見危症。及熱症墮胎。或產後勞甚。身熱頭痛。雖服過二三帖。痛稍安而塊痛未除。又當再製服之。蓋產婦不厭藥頻。況產後諸症。俱以生化湯為君。其餘不過隨症加減而已。（〔吳按〕飲熱童便最妙。）</p>

<h2>胞衣不下</h2>
<p>凡產母才送孩兒。無力送胞。或因臨盆停久。外乘冷氣。故血道凝澀。及胎前素弱。血氣洞泄。皆能停胞不下。治法惟速服大料生化湯二三帖。使血旺腹和。或兼服益母丸。及鹿角灰。外帖如神膏而已。至如濟坤丸。萬不得已而用之。只可一丸。若朴硝等藥。產後腹內空虛。服之有大害。斷不可用。</p>

<h3>益母丸</h3>
<p>益母草（紫花者。不拘多少。端午日收掛。當風陰乾。）　石臼內杵末。蜜丸彈子大。臨服生化湯送。</p>

<h3>如神膏</h3>
<p>萆麻仁（二兩）　雄黃（二錢）　研成膏。塗產母兩足心。立下胞。下後速去此膏。遲則腸出。如至誤事。速披開產母頂發。將此膏敷上頂門。腸即收。收後亦須速去頂上之膏。斷不可至再誤。</p>

<h2>產後調護法</h2>
<p>凡兒下胞不下。務要坐守。不可睡倒。先剪斷臍帶。用輕物墜住胞帶頭。如寒月。扶產母上床。倚人。擁被。置火櫳於被內烘之。又頻用熱衣暖腹。但不可使陰戶進風。並頻服大料生化湯。</p>
<p>胞下後須防虛。恐血暈。將預燒紅秤錘投醋瓶中。將瓶口包緊。以瓶嘴向產母鼻孔。遠遠熏之。使收斂神氣。解去穢氣。且免暈厥。</p>
<p>產畢上床。宜高枕靠墊。倚人而坐。切勿睡倒。兩膝宜豎。勿令伸直。令一人以熱手。從心口輕輕揉按至腹間。數百次。即飲熱童便一盞。使閉目靜養。但勿睡熟。恐倦極血氣上壅。能致暈厥。</p>
<p>產婦腹中。時用小衣烘熱溫之。雖暑月下體亦不宜蓋單被。至若寒月。長用火烘被內。否則腹寒。血塊不行。且要作痛。</p>
<p>產婦惡血衝心。不知人事。速用韭菜切碎。冬月用根。放有嘴壺內。以熱醋灌入。密札壺口。扶產婦起。以壺嘴向其鼻熏之即蘇。</p>
<p>產婦七日內。毋洗下部。毋梳頭以勞神力。毋起早以冒風寒。毋行走以動筋骨。至七日外。可用溫水。坐洗下部。但須緊防產門入風。月內毋多言並勞女工。毋用涼水以洗手足。即溫水亦宜少洗。毋要驚恐。毋動怒氣。毋多飲食。切忌房事。動欲火。即百二十日內。不可勞神過度。產後飲食。較胎前尤宜知忌。毋食重濁。蓋以脾胃大虛。必難克化。即壅滯經絡。使氣血不通。毋食熱物。使新血不寧。毋食水果。涼茶。冷水。冷物。使血塊凝結。毋食消導。耗散物。以損氣。毋多飲醇酒。多食鹽味。以燒乾乳汁。</p>
<p>產後藥不厭頻。如無怪症。只服生化湯方足矣。若有他症。則於對症之藥。加數味於生化湯之內。或按集中對症服方。切勿用產室百問方。勿用婦人良方。毋用古人成方。毋用過路醫生丹方。</p>

<h1>卷六</h1>

<h2>產後便覽</h2>
<p>產後七日內。未服生化湯。塊痛未除。可用生化湯以清塊痛。即三日內已服生化湯二三帖。塊痛猶未除。仍可再服幾帖。其塊痛自除。</p>
<p>產後七日內。未可輕用參、朮、黃耆。恐塊痛不止。若氣血虛脫。或暈厥。或汗多而厥。或形色脫。口氣漸冷。或煩渴不止。或氣喘急脈脫。皆危急之症。亦須從權多用參耆生化湯以救之。如服後病有生機。又當減去參耆。只服生化湯。以消其塊痛。俟塊痛已止。再用參耆。暑月產婦服生化湯。本以消塊痛。若腹失蓋護。雖服生化湯。塊痛終不消止。</p>
<p>產婦大便八九日不通。此血少腸燥也。宜用生化湯。加麻仁以通潤之。服歸芎以斤數。自然通順矣。若虛甚並加人參一二錢。慎勿用大黃等藥以下之。</p>
<p>產後一二日內。已服生化湯二三帖。腹仍痛。然可揉按而止者。此虛也。宜生化湯加人參二三錢。（〔吳按〕若拒按者實也。宜用加味生化湯。）</p>
<p>又產後七日內。感寒冷物。血凝作痛。宜生化湯加肉桂四五分。及至半月外。或一月以上。則服四消丸。及補中益氣湯。</p>
<p>產後危症。從權用參以救也。若系肥人多痰。或暴怒卒中。只宜生化湯。加竹瀝薑汁。</p>
<p>產畢血暈。速服大料生化湯神效。若實由稟弱。或胎前虛症所致。故產後倦厥。服生化湯一帖後。即宜加人參一二錢。連進兩帖可救。至或身熱汗出。氣促咽塞。神昏不舒。及胎前瀉。產後不止。昏倦等症。可於生化湯二帖。加人參一錢以救急。</p>
<p>產後血崩。暈倦厥去。如身心溫暖。即挖開產婦口。灌加參生化湯。如不下咽。用鵝毛插入喉中。漸漸灌之。灌下腹漸熱。藥不拘數帖方可活。</p>
<p>產後血崩氣脫。煩躁不寧。目瞑似邪。語言不正。速服生化湯。頭煎後。即服定志養榮湯。毋信邪以驚之。此所謂挾血如見鬼也。</p>
<p>產後手足冷厥。或口燥大渴。乃大虛危症。須大補以回生。如服加參生化湯後。猶渴。必用人參麥冬散作茶服。產後日久不食。服藥即吐。用人參一二錢。加姜二三片。陳米一撮。另用新罐煎服。以安胃氣。凡產後諸危症。一日夜內。連服藥三四帖乃可。若照常法服藥。豈能接將絕之氣。救已急之危耶。（〔吳按〕生穀芽灶心土煎化茶亦效。）</p>

<h2>產後厥</h2>
<p>產後手足冷厥。發由陰氣虛。陽氣亦虛故也。經曰陽氣衰於下則為寒厥。厥氣上行。滿脈去形。蓋逆氣上滿於經絡。則神氣浮越。去身而散也。</p>

<h3>加參生化理中湯</h3>
<p>川芎（一錢）　當歸　人參（各三錢）　薑炭　炙甘草（各五分）　黃耆（一錢）　水煎服。服後厥回。痛塊未除。暫減參耆。俟塊痛已除仍用參耆加桃仁（十五粒）　姜水煎服。如渴加人參（一錢）　麥冬（一錢）　五味子（十粒）　手足微冷。加熟附子（五分）　痰加橘紅（五分）　竹瀝（半杯）　薑汁（二匙）　汗多加黃耆（一錢）　血塊痛加肉桂（五分）　虛甚加人參（一二錢）</p>
<p>大便不通。加麻仁（一錢五分）　再服五仁丸。慎勿用承氣湯。至如熱厥。不可用白虎湯。寒厥不可用四逆湯。蓋產後厥症。氣血兩虛。多脈脫。用藥必須大補。少佐姜附以回陽也。產後諸症。俱用生化湯加減。如前條兼症。藥味附載者。後有兼症。可仿而用之。下不備載。</p>

<h2>產後氣短汗喘痰嗽聲重</h2>
<p>產後氣短。似喘非喘。氣不接續。或兼熱。或兼痰。或痰熱俱兼。皆危急症也。治當大補血氣。雖有風寒之邪。而兼頭痛發熱之症。惟當重產。專門治傷寒者。慎勿發散。丹溪云產後切不可發表是也。</p>

<h3>加味生化湯</h3>
<p>川芎　棗仁（各一錢）　當歸（一錢五分）　薑炭（四分）　炙草（五分）　桃仁（十五粒）　人參（二錢）　如虛脫厥去。再加人參（一二錢）　棗湯煎服。如脈與形脫將絕。加人參（三四錢）　頻灌救。如汗不止。加人參麥冬（各一錢）　汗多痰甚。加人參（三錢）　竹瀝（半杯）　薑汁（三匙）　杏仁（十粒）　汗多、喘嗽、聲重，加桔梗。杏仁。（各五分）　無汗喘嗽。加半夏（一錢）杏仁（十粒）　桔梗（五分）　汗不止。三四帖後。加黃耆（一錢）如產後，汗出氣短。</p>

<h3>加參生化湯</h3>
<p>川芎　當歸　人參（各三錢）　桃仁（十粒）　棗仁（炒一錢）　浮麥（一撮）　麻黃根（五分）　煎服。</p>
<p>胎後氣短。痰嗽。聲重。汗出。</p>

<h3>二加生化湯</h3>
<p>川芎（一錢）　當歸（三錢）　炙甘草（四分）　杏仁（十粒）　棗仁（炒一錢）　桔梗（四分）　人參（二錢）　半夏（一錢）　水煎服。凡產後汗多。氣喘氣短。出言懶倦之甚。是氣血虛脫。速服上方外。須用醋炭。以防暈。</p>

<h3>加味補中益氣湯</h3>
<p>（此方須服生化湯三帖之後。血塊不痛者用。）</p>
<p>人參（二錢）　當歸（三錢）　炙草（五分）　川芎（一錢）　陳皮（三分）　黃耆（八分）　山藥　麥冬（各一錢）　如小便不行。加茯苓（八分）　切忌用豬苓。澤瀉。木通等藥。</p>

<h2>產後頭痛發熱氣急喘汗</h2>
<p>產後頭痛。發熱。氣急。喘汗。或喘甚者。是氣暴竭。或坐起久勞所致。宜生化湯加人參治之。勿視為氣實發喘。誤投降氣順氣之藥。</p>

<h3>加參生化萬安湯</h3>
<p>川芎（二錢）　當歸（三錢）　人參（二三錢）　炙甘草（五分）　廣皮（三分）　杏仁（七粒）　如在七日內加黃耆（三錢）　棗仁（二錢）　麥冬（一錢）</p>
<p>夫產後汗喘危症也。人皆以參為助喘。而不敢用。致莫救者不少。今加於芎歸湯內。萬安無失。又有一等庸醫。即或用參而多加陳皮。枳殼。以監製之。反從耗散。切不可信。寧獨參湯可保萬全。</p>

<h2>血虛極產畢即汗</h2>
<p>產後血虛之極。產畢即汗。宜服生化湯二三帖。消塊痛。後服下方。</p>

<h3>調衛止汗湯</h3>
<p>黃耆　麻黃根（各一錢）　當歸（二錢）　炙草（五分）　防風（三分）　人參（一錢五分）　虛甚加桂枝（四分）　七日外。減桂枝勿用。如汗多而渴。當回液生脈。加麥冬（一錢）　五味子（十粒）　汗多小便不通。津液不足。毋用利水藥。有痰毋用半夏。生薑。只可用橘紅（四分）</p>

<h2>產後氣血竭汗多形色脫</h2>
<p>產後氣暴竭。虛汗濈濈然出。形色俱脫。此危急症。難拘常法。先定塊痛。從權速服調衛參耆湯二三帖救之。待產婦少有精神。如塊痛未除減去參耆。</p>

<h3>調衛參耆湯</h3>
<p>黃耆（一錢五分）　人參（三四錢）　麻黃根　當歸（各一錢）　甘草（炙五分）　防風（二分）　桂枝（五分）　汗少去桂枝。多加人參。如塊不痛。加棗（二枚）</p>
<p>口渴禁用半夏。生薑。寒熱往來。毋用柴胡等藥。頭痛發熱。毋用麻黃。黃芩、黃連。黃柏等藥。蓋產後汗多。當作亡陰論。陰亡則陽隨而亡。急服上方。或可保全。</p>

<h2>產後氣短似喘</h2>
<p>產後氣短似喘。氣血猶未竭。補劑可少緩。速服生化湯一二帖。以行血定痛。然後加參。若產時甚勞。及血大崩。形色又脫。而喘急。不特急服加參生化湯。並且於一時速服兩帖。如遲而照常一帖。死亡立至。若醫者作痰火症治。而誤用枳殼。青皮。貝母。香附。黃柏。黃連等藥。不知誤死多少矣。</p>

<h3>加味生化補中益氣湯</h3>
<p>川芎（一錢）　當歸（三錢）　乾薑（四分）　炙草（五分）　人參（三錢）　桃仁（十二粒）　茯苓（一錢）　如汗多不用茯苓。加黃耆（一錢）　五味子（十粒）若日久食少。聞藥即吐。及誤用寒藥。食寒物以致嘔不納穀者。急用人參（二三錢）　姜（三片）　倉米一大撮。用新罐煎服。如汗多氣短。氣喘不受補者。此虛甚之極。不治。</p>

<h2>產後汗多口噤筋搐類傷寒</h2>
<p>產後汗多。項強。口噤。牙緊。筋搐。類傷寒症。慎勿作傷寒治。難經云。汗多亡陰。陰亡則陽隨而亡。故曰。汗多無陽。產後血脫。多汗亡陰陽。此危症也。</p>

<h3>三加生化湯</h3>
<p>川芎（六分）　當歸（三錢）　黃耆　麻黃根　天麻　棗仁（各一錢）　人參（二錢）　甘草　荊芥（各四分）　防風（三分）　棗（三枚）　煎服。如脈脫再加人參（二三錢）　附子（四五分）　忌食姜。蔥。煎。炒。生冷。如身熱毋用風藥。並勿用芩、連、梔、柏，小便不通。因汗多亡液。毋用利水藥。並毋用小續命湯。愈風湯。即半夏。南星。亦宜少用。毋信用邪術。法尺符水等事。</p>

<h2>產後崩脫暈厥</h2>
<p>產後血崩。氣急氣脫。昏亂將絕。或暈厥牙緊。速煎清神返魂湯灌之。如氣將絕。灌藥不下。用鵝毛管插入喉中。以酒杯盛二三分灌之。灌下腹漸溫暖。不拘帖數。可活。又須另用一人。以熱手從產婦單衣上。由心揉按至腹下數百次。</p>

<h3>清神返魂湯</h3>
<p>川芎（二錢）　當歸（四錢）　炙甘草（五分）　人參（一錢）　荊芥　乾薑（各四分）　桃仁（十粒）肉桂（五分）　棗（二枚）　水煎服。如兩手脈伏。右手脈絕。加麥冬（一錢）　五味子（十粒）灌醒後。塊痛未除。減去參等。仍服生化湯。俟塊痛已除。再加人參。黃耆。若血塊已消。減去桃仁。肉桂若瀉加伏苓（三錢）　此危症。須一日一夜內。服二三帖。可保終吉。</p>

<h2>產後崩泄</h2>
<p>產婦日久。血崩不止。或如雞子大。或成片。治宜大補脾胃。升舉氣血。消平心火之藥。</p>

<h3>升舉大補湯</h3>
<p>（並治老壯婦人血淋。）</p>
<p>白朮（三錢）　人參　熟地（各二錢）　當歸（二錢五分）　黃耆（一錢）　炙甘草（五分）　升麻荊芥　白芷　陳皮　黃連（炒）　黃柏（炒）　羌活（各四分）　防風（三分）　如泄瀉加澤瀉（五分）　蓮子（十粒）　減去黃柏。如白帶加半夏。蒼朮（各一錢）產後脾泄不止。</p>

<h3>參耆蓮子湯</h3>
<p>（並治日久不止脾泄症。）</p>
<p>人參（二錢）　白芍（酒炒八分）　白朮（二錢）　當歸（一錢五分）　蓮子（十二粒去心）　姜（二片）　煎好取藥。內蓮子送藥。大忌房勞火動。年久脾泄者。須百餘帖。甚者肚痛。加薑炭（五分）　虛甚加人參（二三錢）　血崩脾泄症。服此方。活人多矣。但雖有熱。忌用梔、柏、芩、連。</p>

<h2>產後瀉</h2>
<p>產後脾胃虛。產畢即瀉。必先服生化湯一帖。第二帖內。加茯苓（一錢）　肉果（一個。麵包煨。熟。去面用。）　訶子皮（一錢去油）　蓮子（十粒）　姜（一片）　煎服兩帖後。不止。加人參（一二錢）　小便不通。因瀉亡津液。切勿用利水藥。</p>
<p>產前久瀉。產後不止。產婦虛脫。從權服下方。以扶其虛。若塊痛不止。俟脫稍減。去人參。肉果。以除塊痛。</p>

<h3>加味參苓生化湯</h3>
<p>川芎（一錢）　當歸（二錢）　乾薑　甘草（各五分）　茯苓（一錢五分）　山藥（一錢）　肉果（一個麵煨熟）　訶子皮（一錢去油）　蓮子（七粒）　人參（二錢）　糯米（一大撮）　虛甚多加人參。產後七日外。血塊尚痛。亦服此方。血塊不痛。加白朮（二錢）　陳皮（三分）　瀉兼熱。毋用梔。柏。芩。連。有痰。毋用半夏。栝蔞。瀉兼渴。用生脈散。以回津液。</p>

<h2>產後赤白痢</h2>
<p>產後七日內。患赤白痢。後重頻仍。最為難治。欲調氣行血。推蕩痢邪。猶慮產後之元氣虛弱。欲滋榮益氣。大補產虛。又恐助邪痢之初盛。其行不損元氣。補不助邪。惟生化湯。去炮姜。加木香順氣。則並治而不悖。再服加味香連丸。以候一二日。視病勢加減。可保無虞。若患褐色後重頻仍。丹溪纂要內。有方論。若產婦素厚產。及一月。可用驅蕩之方。及芩連性寒之藥。若產婦素弱。雖產後月餘。未可峻劑以行積。再禁口痢。摘刊奇方中。自有治法。慎毋按古方用厚朴。枳殼。以治產痢。宜用香連丸代之。（香連丸方在續集。）</p>

<h3>四加生化湯</h3>
<p>川芎（二錢）　當歸（四錢）　甘草（四分）　桃仁（十粒）　茯苓（一錢）　陳皮（五分）　木香（三分）　水煎熟。去渣。送香連丸三十粒。如產後已服生化湯二三帖。產婦精神甚好。可服芩連芍藥之類。若大黃等藥。決不可用。產後半月。患痢後重。</p>

<h3>加連生化湯</h3>
<p>川芎（二錢）　當歸（三錢）　白芍（酒炒一錢）　黃連（薑汁炒六分）　枳殼（五分）　甘草（四分）茯苓（一錢）　木香（三分）　加紅糖煎服。</p>
<p>產後患血痢久不愈。屬陰虛。宜四物湯加人參。</p>
<p>產後瀉痢。已論立方。大率因初產氣血暴竭。必用生化湯加減。未曾論產後瀉痢。多由飲食傷脾而得。故重出治法方症。然必先服生化湯。行塊止痛後。可用後方耳。產痢黃色。乃脾土真氣虛。宜補中益氣湯。加木香。肉果。久痢元氣下陷。大便不禁。肛門如脫。宜六君子湯。加木香。肉果。乾薑。</p>
<p>傷麵食。宜六君子湯。加麥芽。</p>
<p>停谷。宜六君子湯。加神麯。</p>
<p>停肉食。宜六君子湯加山楂（四個）　砂仁（四分）　神麯（一錢）　胃氣虛弱瀉痢。完穀不化。宜溫助胃氣。六君子湯加肉果（一個）　木香（四分）</p>
<p>胃氣虛。脾氣弱。四肢浮腫。宜補中益氣湯。合五皮飲。</p>

<h3>五皮飲</h3>
<p>陳皮　桑白皮　大腹皮　茯苓皮　姜皮（各一錢）</p>
<p>（〔吳按〕亦有以五加易桑白者更妥。）</p>
<p>諸症兼嘔吐。加藿香。兼痰加半夏（八分）　兼小便短澀。加茯苓（一錢）　澤瀉（五分）　燈心（三十支）　瀉久不止。加蓮子（十粒）　赤痢血多。加薑、砂、木香之類。然不可多用。恐熱則愈行。久痢不止。加人參（一錢）　黃連（一錢）　同煎服。</p>

<h2>產後嘔不納穀</h2>
<p>產後胃氣不和。嘔吐不止。全不納穀。在七日內。血塊未除。當重消塊。佐以溫胃。</p>

<h3>安胃行血湯</h3>
<p>川芎　人參（各一錢）　當歸（二錢）　乾薑　砂仁　藿香（各四分）　炙甘草（五分）　桃仁（十粒）　姜（一片）　如有汗。不用姜，七日內外。已服生化湯三四帖。血塊不痛。嘔吐不納穀。</p>

<h3>加味六和湯</h3>
<p>川芎（一錢）　當歸　扁豆（各二錢）　乾薑　豆蔻（各四分）　甘草（三分）　人參　茯苓（各一錢）　藿香（三分）　山藥（一錢五分）　陳皮（三分）　姜（一片）　煎服。嘔止後，減去豆蔻。（〔吳按〕扁豆宜用殼。）</p>
<p>產後嘔吐。服前二方。而胃和嘔止痛止。但氣血不行。食少。</p>

<h3>調中和胃湯</h3>
<p>人參　白朮　當歸　扁豆（各一錢）　茯苓（二錢）　甘草　陳皮　乾薑（各四分）　山藥（一錢五分）　煎服。</p>

<h1>卷七</h1>

<h2>產後傷食服消食藥致滿悶</h2>
<p>產後形體勞倦。雖少食亦運化羈遲。胸腹欠舒。故無噯酸氣味。不可即投消導。縱傷食而噯酸。噁心。惡食。飽悶。當於生化湯內佐消導。若血塊消盡。宜以參朮為主。消導為佐。若夫因傷諸食。服消食開胃藥多。反損胃氣。必增虛飽滿悶。多不思谷。醫者又誤認原傷食物未消。不敢用補助胃氣之藥。多致不救。予治此症。用長生活命丹。活人多矣。</p>

<h3>長生活命丹</h3>
<p>人參（三四錢）　水煎。調鍋底飯焦末服。（〔吳按〕鍋底飯焦即俗名鍋粑。）</p>

<h2>產後類外感</h2>
<p>產後發熱。惡寒。頭痛。毋認為傷寒太陽症。發熱頭痛。乍寒乍冷。或兼腹痛。毋認為少陽症。皆由氣血兩虛。陰陽不和。而類外感。切不可用麻黃柴胡等發汗。重亡陰血。即明知虛中真感風寒。口傷冷物。若用藥能調和營衛。諸症自退矣。</p>

<h3>加味生化湯</h3>
<p>當歸（四錢）　川芎（二錢）　姜皮（四分）　桃仁（十粒）　棗（二枚）　煎溫服。速服二帖。若諸症未退。加羌活。防風。（各四分）　服之後。病又不減。加連根蔥（四根）　如嘔吐。加藿香（三分）　姜（一片）</p>

<h2>產後服消耗藥增滿悶積久成脹</h2>
<p>凡產婦素弱。臨產又勞。氣血不足。胸膈不舒。胃雖納穀。脾難轉舒。若產後即服生化湯。助脾強胃。自無虛中之滿。其產後或中滿膨脹者。大率因傷食而誤用消導。因氣鬱而誤用順散。又因多食冷物而停惡露。又因血虛大便燥結誤下而愈脹。殊不知產後血氣兩虛。血塊消後。便當大補氣血。以補中虛。治者但知傷食當消。氣鬱當順。惡露當攻。便秘當下。投藥一帖不效。又投一帖。病者醫者。不知新產婦服消耗藥多。滿悶益增。氣不升降。溫熱助邪。積鬱之久。遂成膨脹。醫工以為盡技。病家咎於時氣。又有喜食橘餅、橙丁。中滿助成。豈知消導佐於補中湯。則脾強而所傷之物自消。則氣亦散。助瀉兼行。大便自通。而惡露即行矣。每見誤用消導、耗氣、攻下之藥。以致絕穀食久者。用長生活命丹而更生者。百試百驗。又誤用而致膨脹者。仍用大補益氣之劑。而不至夭折者。十救八九。治者毋以予言為過。予蓋先用人參送鍋焦粉。試引加之。以救絕谷。再遵丹溪醫案。以救絕谷。產後中氣不足中滿。或噯氣虛飽。及誤用耗氣順氣藥。致膨脹危症。</p>

<h3>救誤益氣湯</h3>
<p>人參（二錢虛加二錢）　白朮（三錢）　白芍　神麯（炒各一錢）　大腹皮（洗）　陳皮（各四分）當歸（三錢）　茯苓（一錢五分）　甘草（三分）　川芎（七分）　如腹脅痛。或塊痛。加砂仁（五分）　腹大痛加吳茱萸（一錢）</p>
<p>產後大便不通。誤服大黃等藥。致成膨脹。或腹中痛塊不止。</p>

<h3>養生化滯湯</h3>
<p>川芎　人參　茯苓　酒芍（各一錢）　當歸（四錢）　陳皮（四分）　甘草　香附（各三分）　桃仁（十粒）　大腹皮（五分）　蓯蓉（酒洗去甲一錢五分）　如脹甚。加人參（二三錢）　如血塊痛。將藥送三消丸。以上三方。大率相同。可通用。俱遵丹溪方加減。屢治屢驗。然治誤服大黃。必須服歸參。至半斤以上。大便方通。腫脹漸消也。</p>

<h3>丹溪三消丸</h3>
<p>（治婦人死血。食積。痰飲等症。）</p>
<p>黃連（一兩五錢。內一兩用吳茱萸四錢。煎汁炒乾。五錢用益智仁炒黃色。淨用黃連。）（〔吳按〕淨用者。去同炒之藥也。）　蘿蔔子（一兩五錢炒）　川芎　山梔（炒）　青皮　山稜（醋炙）　莪朮（醋炙各五錢）　桃仁（去皮尖十粒）　香附（童便浸炒一兩）　楂肉（一兩）　為末。和勻。蒸餅為丸。用上煎藥送。每服五六十丸。</p>

<h2>產後感風寒嗽鼻塞聲重惡寒</h2>
<p>產後七日內外。感風寒嗽。鼻塞聲重。惡寒。宜服生化湯。加杏仁。桔梗。如有痰加花粉。勿用麻黃。以動汗。如嗽而血塊不痛。用小柴胡湯。若患火嗽而聲重。痰少。面赤。毋用涼藥。大凡產婦有火併痰嗽。必調理產過半月後。方可用寒涼之劑。若半月前。還當重產。丹溪云產後不可發表。蓋因其虛也。產後七日內外。感風寒嗽。鼻塞聲重。</p>

<h3>加味生化湯</h3>
<p>川芎（一錢）　當歸（二錢五分）　桃仁（十粒）　甘草　桔梗（各四分）　知母（八分）　有痰加花粉。姜煎服。虛弱有汗嗽。加人參（一二錢）</p>
<p>產後半月內外。患嗽。有聲痰少。</p>

<h3>加味生化湯</h3>
<p>川芎　當歸　白芍（各三錢）　訶子皮　栝蔞仁　知母（各一錢）　甘草　兜鈴　桔梗（各四分）款冬花（六分）　姜水煎服。</p>
<p>產後虛弱。百日內患風寒嗽。聲重有痰。或身熱。頭痛。無汗。</p>

<h3>加參寧肺止嗽生化湯</h3>
<p>川芎　知母　訶子皮　栝蔞仁　生地（各一錢）　當歸（三錢）　兜鈴　桔梗　甘草（各四分）　款冬花（六分）　煎服。</p>

<h2>產後類瘧</h2>
<p>產後半月內外感。寒熱往來。或午。或日晡。或夜間。發寒熱。其發有期。其症類瘧。此由血氣並弱。陽虛寒作。而陰虛發熱也。慎勿以瘧治。雖柴胡亦不可用。惟調補氣血。而寒熱自除矣。毋用芩。連。梔。柏。以退熱。毋用草果。檳榔。常山。以絕瘧。如汗。氣短。加人參。黃耆。熱加當歸。人參。若產已及一月。其人尚虛。有患瘧症。則用人參養胃湯。加減調理。再煎參朮膏服。仲景云。傷寒寒熱往來。一日二三度發者。陰陽俱虛。不可更發汗。更下。更吐。與此意同。產後半月內外類瘧。</p>

<h3>加味生化湯</h3>
<p>川芎　人參　白朮（各一錢）　當歸　青皮（各二錢）　甘草（三分）　茯苓　藿香（各八分）　烏梅（一個）　汗多加黃耆棗仁（各一錢）</p>
<p>產後已及一月類瘧。</p>

<h3>參朮湯</h3>
<p>人參（二錢五分）　白朮　當歸　茯苓　半夏（各一錢）　草果（三分）　甘草　青皮（各四分）　藿香（五分）　烏梅（三個）　水煎服。再服參朮膏。</p>

<h3>參朮膏</h3>
<p>白朮（洗淨焙乾）　人參（各四兩）　用水六碗。煎汁碗半。再將渣如法煎三次。共取汁六碗。</p>
<p>每日服半酒杯。以上藥調服。或白湯下亦可。</p>

<h2>產後惡露凝結成塊虛症百出</h2>
<p>產後兒下地時。惡露隨下。則腹無塊痛。而自舒暢。若腹失蓋被。或傷寒涼物。則惡露凝結成塊。虛症百出。腹脹。身熱。骨蒸。五心煩熱。食少羸瘦。或似瘧。或月水不行。或塊在兩脅作痛。腸作雷鳴。嘈雜。眩暈。身熱時作時止等症。治法當遵丹溪所云。欲泄其邪。先補其虛。用補中益氣湯。送三消丸。使塊消而人不弱。若消塊無補。非惟塊不可消盡。將食日減。甚至絕谷。</p>

<h3>加減補中益氣湯</h3>
<p>人參　白芍　黃耆（各一錢）　白朮（二錢）　當歸（二錢）　陳皮　甘草（各四分）　姜（三片）　水煎。送三消丸五六十丸。</p>

<h2>產後大便不通</h2>
<p>產後大便不通。因血少腸燥。在虛弱產婦。若多服生化湯。則氣旺血盛。自無便澀之症。治者切勿用芒硝。大黃等藥下之。使重亡津液。便閉愈甚。致成脹滿。或致瀉不止者。惟當以生化湯。加減治之。</p>

<h3>助血調腸湯</h3>
<p>川芎（八錢）　當歸（四錢）　桃仁（十粒）　炙甘草（五分）　陳皮（四分）　麻仁（炒研一錢五分）如血塊痛。加肉桂。元胡索。（各五分）　水煎。食前稍熱服。氣虛汗。加人參黃耆（各一錢）　汗多而渴。加人參。麥冬。（各一錢五分）　五味子（八粒）　如大便燥結。十日以上。肛門必有燥糞。用蜜棗納入肛門。其糞自化。或用麻油。竹管吹入肛門。或用豬膽汁亦可。</p>

<h3>煎蜜棗法</h3>
<p>以白蜜煎褐色成膏。入水成棗。</p>

<h2>產後妄言妄見</h2>
<p>產後妄言妄見。由氣血大虛。精奪神昏。妄有所見而妄言也。輕則夢中呢喃。重則不睡亦語。又有痰乘虛客於中焦。以致五官失其職。視聽言動。俱有虛妄。毋認邪鬼。誤用符水。以致不救。朱丹溪云。虛症有似邪祟是也。屢治此症。服藥多。方能見效。（〔吳按〕痰火逆傳心胞。為虛中實症。急治不任攻伐。緩調恐成痼疾。況值產後。尤以扶正驅邪。消息而醫之。）</p>
<p>產後三日內。血塊未除。患妄言妄見症。服下方三四帖後加減。</p>

<h3>加味安神生化湯</h3>
<p>川芎（二錢）　當歸（四錢）　茯苓（一錢）　甘草（四分）　乾薑（四分）　桃仁（十粒）　棗仁（一錢）　棗（二枚）　水煎。食遠服。</p>
<p>產後三日內外。血塊不痛。妄言妄見。此虛極之症。服下方但見平穩。雖未見大效。候藥力充足。諸症方除。蓋除痛須二十帖外。方見全效。</p>

<h3>益榮安神湯</h3>
<p>川芎（一錢五分）　當歸（三錢）　茯苓　人參　柏子仁　棗仁（各一錢）　甘草（五分）　龍眼肉（八個）　陳皮（去白三分）　竹茹（四分）　如汗。加黃耆。麻黃根（各一錢）　瀉加白朮。（一錢五分）　大便不通。切忌大下發汗。</p>

<h2>產後少乳</h2>
<p>產後乳汁不通。或乳少。</p>

<h3>通脈湯</h3>
<p>生黃耆（一兩）　當歸　白芷（共五錢）　七孔豬蹄（一對）　將豬蹄煮湯。吹去浮油。煎藥一大碗服。服後被覆面睡一覺。即有乳。或未效。再一服。無不通矣。若新產無乳。不用豬蹄。只以藥料用水和酒各半煎服。體壯者加好紅花三四分。以消惡露。（〔吳按〕黃耆當歸補血湯也。再加王不留行。通草葉。饅頭。臥時煎服。乳即湧出。屢經試驗。）</p>
<p>產後育子乳少。無錢雇乳母。勉強乳子。以至母子俱疲。日食減少。急斷兒乳。連服下方。</p>

<h3>參朮地黃湯</h3>
<p>川芎　當歸　黃耆　茯苓　麥冬（各一錢）　炙草（五分）　五味子（十粒）　人參　熟地　白朮（各二錢）　陳皮（四分）　棗（二個）　如發熱兼作骨蒸。兼服紫河車丸。驚悸有汗加棗仁（五錢）</p>

<h2>產後乳癰</h2>
<p>產後生乳癰。未成膿。</p>

<h3>栝蔞乳沒散</h3>
<p>栝蔞（一個連皮搗碎）　當歸　銀花　白芷（各一錢）　青皮　乳香　沒藥　甘草（各五分）　水煎服。此方並治胎前乳癰。（〔吳按〕未潰時用蒲公英一兩。酒煮搗爛。先飲酒。將渣敷患處屢效。）</p>
<p>產後乳生癰。膿出後虛弱甚。</p>

<h3>十全大補銀花湯</h3>
<p>人參　白朮　熟地　黃耆（各二錢）　當歸　銀花（各三錢）　茯苓　川芎（各八分）　甘草（五分）　如泄瀉加蓮子（十粒）　肉果（一個煨用）</p>
<p>產後乳生癰。已破出膿。寒熱往來如瘧。一日一發。或二三日一發。不可作瘧治。不可全用攻毒消癰藥。亦不可用絕瘧等藥。當補氣血。少佐去毒之劑數品。以除餘邪。</p>

<h3>補中去毒散</h3>
<p>黃耆　銀花　茯苓（各一錢）　人參　白朮　生地（各二錢）　甘草　連翹（各四分）　當歸（二錢）　青皮（三分）　白芷（五分）　烏梅（一個）　棗（一枚）</p>

<h1>卷八</h1>

<h2>方症補遺</h2>
<p>婦人以氣血為主。心主血。肝藏血。若血弱氣盛由心虛不能生血。心火又不能制肺金。使肝虧虛。則血不藏。以致血枯涸。不榮經絡。月信不調。治宜補心源。以抑肺金之氣。和營養衛。血脈自然調和。</p>

<h3>補心湯</h3>
<p>茯苓　川芎　地黃　當歸（各二錢）　陳皮　半夏　桔梗　枳殼（各錢半）　前胡　甘草　甘葛蘇葉　木香　人參（各一錢）　姜（二片）　棗（五枚）　煎服。</p>
<p>月信趲前為熱。宜用涼藥以退熱。退後為虛。宜用溫藥以補虛。分而為二。皆審而用之。然能服養血益血補脾胃諸藥。而經自生矣。</p>

<h3>正經養血湯</h3>
<p>白芍（酒炒）　當歸（酒洗）　茯苓　白朮（土炒）　阿膠（蛤粉炒各二錢）　炙草　川椒（炒）　五味子（各一錢）　姜半夏　人參（各七分）　柴胡（八分）　姜（三片）　水煎稍熱食前服。如五心煩熱。日晡潮熱。加胡連五分。不思飲食。加神麯。麥芽（炒各五分）　頭痛加川芎（七分）煎服。</p>
<p>婦女經水不行。時作脹痛。</p>

<h3>行經紅花湯</h3>
<p>歸尾　赤芍　牛膝　元胡　紅花　蘇木　桃仁泥　紫葳花　劉寄奴（各一錢）　青皮　香附（各八分）　桂枝（五分）　水煎空心服。</p>
<p>婦女月經不通。或積瘀血。時作腹痛。攻刺小腹。堅硬有塊。</p>

<h3>通經散</h3>
<p>劉寄奴（二錢）　歸尾　赤芍　紅花　穿山甲（炒）　元胡　莪朮（醋炒）　烏藥　丹皮（酒炒）　川牛膝（酒洗）　山稜（醋炒各一兩）　辰砂（三錢另研）　官桂（三錢）　共為末。每服二錢。空心熱酒下。或薄荷湯和醋送。此方大能通經。用之於血滯者則可。若對症者畏而不服。此養病自害也。然後能服之。尚未有誤。</p>
<p>婦人血熱。經水先期。氣旺痰火者。服下方易孕。</p>

<h3>加味調經丸</h3>
<p>香附（五斤。分五分。一斤用鹽水浸。一斤用醋浸。一斤用童便浸。一斤用無灰酒浸。一斤用米泔水浸。每樣春三日。夏二日。秋五日。冬七日。仍用原水煎。不犯鐵器。曬乾。用蔥五斤。取白切細。拌香附焙乾。以蔥白黃香為度。）　當歸　白芍　生地（各四兩）　青皮（一兩五錢）　黃連　黃芩（各三兩）　川芎　杏仁　柴胡（各二兩）　白芷（二兩五錢）　滑石（水飛淨五兩）　荊芥（五兩）　為末。醋麵糊丸。空心白湯下八十丸。</p>
<p>婦人羸弱。血虛有熱。經水不調。赤白帶下。不能成胎。及骨蒸等症。服下方有孕。</p>

<h3>烏雞丸</h3>
<p>白毛烏骨雞（一隻，要肥重者。閉死。去毛腸洗淨。同京酒。和水。並雞。放砂罐內。浸過雞二寸。以文武火煮極熟。拆去骨。搗爛作餅。瓦上焙乾。為細末。）　熟地　當歸（各三兩）　白芍（酒炒）　生地　川芎　白朮　黃耆　人參　杜仲（姜炒）　知母（酒炒）　茯苓　砂仁　續斷（酒炒）　鹿角膠（各二兩）　川牛膝（酒浸一兩五錢）　為末。先將鹿角膠用酒熔化。入藥內搗勻。再以山藥半斤為末。酒糊丸。每早晨溫酒送六十丸。漸加至八九十丸。或米湯送亦可。忌煎。炒。辛。辣物。並莧菜。</p>
<p>論婦人崩漏。失血過多。由氣血俱虛。損傷子宮血海也。血氣之行。外循經絡。內榮臟腑。重則為崩。輕則為漏。而衝任之氣虛。不能約制其經血。故脾不能統血。肝不能藏血。忽然血崩暴下。此等症候。皆由氣血虛。脾胃先損。能受補者可治。若醫者誤用止澀寒涼之劑。復傷脾胃生氣。使血反不歸經矣。（〔吳按〕不受補者。將成癆症難治。）</p>

<h3>補中養胃湯</h3>
<p>人參　白朮　當歸頭　側柏葉（炒）　生地（各一錢）　炙甘草（五分）　茯苓　川芎　紫蘇（各八分）　水煎服。如血暈加荊芥。澤蘭葉（各八分）　虛汗加炙黃耆（一錢）　棗仁（八分）　崩中日久。白帶不止。加龍骨。牡蠣（煆各一錢）　血來不止。加舊棕。（燒灰）　綿灰（各三分）經血得熱。崩漏不止。口苦咽乾。小便短。大便燥結。加黃連。黃芩。山梔。（各五分俱酒炒）　血多而紫黑如泥。凝塊者。亦當用之。</p>
<p>婦人血崩不止。由胃弱陰虛。不能鎮胞絡相火。故血走成崩。</p>

<h3>涼血湯</h3>
<p>當歸　地黃（各一錢）　黃芩　黃連　黃柏　知母　防風　荊芥（各八分）　細辛（二分）　蔓荊羌活（各六分）　藁本（四分）　甘草　升麻（各三分）　水煎食前服。</p>
<p>婦人大怒後。經血暴下。</p>

<h3>養血平肝散</h3>
<p>當歸　香附（各二錢）　川芎　白芍　青皮（醋炒）　柴胡（各一錢）　甘草（三分）　水煎食前服。</p>
<p>婦人胎前產後。崩漏虛損諸症。</p>

<h3>加味四物丸</h3>
<p>川芎　當歸（酒洗）　酒芍　人參　黃芩（蜜炙）　陳皮（各一錢）　熟地（酒蒸）　白朮（炒）　鹿角膠（各一兩五錢）　砂仁（五錢）　為末。蜜丸每服八十丸。空心白湯下。</p>
<p>婦人月經不斷。崩漏帶下。</p>

<h3>九霄丸</h3>
<p>艾葉（酒浸一宿煮乾為度）　牡蠣（鹽泥包煨）　龍骨（煆各一兩）　赤石脂（醋煅七次一兩五錢）吳茱萸（炮）　當歸（酒蒸各七錢）　為末。酒丸。每服三四十丸。酒送。或淡鹽湯亦可。論婦人赤白帶症。皆榮衛滯氣之所成也。赤者屬榮。白者屬衛。乃病之常。然其症皆因喜。怒。憂。思。素有濕熱。傷於榮衛胞絡。使濁氣滲入膀胱。故流帶下。輕則來而不來。重則來而無度。使腰膝痠痛。飲食減常。精神短少。法當清上實下。清濁自分。理脾養氣。濕熱自解。更能薄滋味。然後溫補下元。則帶症自除矣。</p>

<h3>帶症經驗方</h3>
<p>當歸　生地　酒芍　川芎　白朮　蓮肉　白雞冠花子（各一錢）　炙甘草（七分）　扁豆花（炒七分白者治白帶。赤者治赤帶。）　水煎食遠微熱服。如瘦人熱多。加黃連。黃柏。香附（各五分）　肥人多濕痰。加蒼朮。天南星。半夏（各六分）　椿根皮（一錢）　久下加熟地（一錢）　山茱萸（八分）　氣虛加人參。黃耆。（各七分）　赤帶加黃芩（酒炒一錢）　荊芥（六分）　腹痛加煨姜（一片）　或云加葵花（五朵。更效。白者治白。赤者治赤。）（〔吳按〕以紅白鮮木槿花。同海螵蛸煨湯。飲之。甚效。）</p>
<p>赤白帶有時腹痛。</p>

<h3>丹溪經驗方</h3>
<p>龜板（酒炙一兩）　黃柏　枳殼（各五錢）　乾薑（三錢炒）　為末。醋糊丸。日二服白湯下。</p>

<h3>又方</h3>
<p>人參　黃芩（酒炒）　黃柏（酒炒）　柴胡　陳皮（各一錢）　炙甘草　乾薑（各六分）　郁李仁（酒蒸一錢）　葵花子（一錢。赤用赤。白用白。）　水煎服。</p>
<p>婦人骨蒸。勞熱。咳嗽。或汗。或無汗。</p>

<h3>清金養血湯</h3>
<p>當歸（一錢）　白芍　香附　麥冬　生地　丹皮　地骨皮　川芎（各六分）　甘草（三分）　五味子（九粒）　水煎服。</p>
<p>婦人瘦怯不孕。以子宮血少故也。養血滋陰。自然血足而孕。</p>

<h3>養榮丸</h3>
<p>川芎　歸身　酒芍　茯苓　山藥（炒）　萸肉　知母（炒各二兩）　熟地（酒蒸）　丹皮（酒洗）　澤瀉（一兩五錢）　黃柏（酒炒四兩）　為末。蜜丸。每服八九十丸。空心鹽湯下。如冬月酒下求嗣經驗育孕方</p>
<p>紫河車（一具要頭產男胎帶臍帶）　丹雄雞腎（八副要赤尾童雞候合藥日煮）　干益母草（細末三兩）　熟地（六兩）　茯苓（三兩）　萸肉（三兩）　上藥共為末。揀壬子日修合。蜜丸龍眼大。待經事盡。空心服二丸。用臘酒化送。連服三日。又候下月經盡。如前服之。以受孕為度。已孕不可再服。服時忌煎。炒。姜。椒。蔥。蒜。辛熱等物。（〔吳按〕胎衣有毒而難覓亦未見真實效驗。古無此藥。不必用為是。）</p>
<p>婦人氣虛。血弱。子宮寒。不孕。宜服下種子奇方。</p>

<h3>加味濟坤大造丸</h3>
<p>柴河車（一具。須壯婦人頭產男胎連帶者。洗淨。用砂罐內隔竹片三五根。剪蒲包一塊。架住。放河車蒲包上。下用白酒。不可令胞黏著。取酒氣蒸極熟。）　人參（一兩五錢）　當歸　生地（酒洗蒸熟各二兩）　山藥　天冬（去心）　牛膝（酒浸各一兩）　黃柏（炒）　杜仲（薑汁酒炒斷絲各八錢）　麥冬（去心一兩五錢）　五味子（五錢）　如虛弱多汗。潮熱。加黃耆。地骨皮。知母（各一兩）　脾胃弱久瀉。加白朮。蓮肉（各一兩）　血虛驚悸少睡。加棗仁（炒一兩）　元眼肉（二兩）　共為末。搗河車於內。使極勻。空心每服六七十丸。</p>
