<header data-type="book">
<h1>曹仁伯醫案</h1>
</header>

<h1>風溫</h1>
<p>蔣：（西城橋）　病經六日，身熱不隨汗解，頭猶痛，風猶畏，口已干苦，苔已黃色，便溏溺赤，更見昏昏不爽，胸悶噁心，疹點夾斑似出，風溫鬱熱，欲達而不能暢達也。乘此昏變，不能不早以慮之。</p>
<p>葛根解肌湯加前胡　木通　淡芩</p>
<p>又：辛涼解散後，大汗遍身，斑疹齊出，頭痛畏風隨之而愈。在表之邪，從表而出，表氣和矣，未始不美。無如在裡熱邪，布於三焦，聚於陽明，正屬不少，肌膚蒸熱，舌苔於黃，胸前痞悶，便泄溺黃，脈形弦數，尚恐反復。</p>
<p>黃連解毒湯加淡豉　花粉　蘆根　連翹　牛蒡　茅根</p>
<p>又：熱邪深入營中，雖解其毒，未殺其勢，須防液涸而昏。</p>
<p>犀角（一錢）　鮮生地（一兩）　丹皮（三錢）　川連（七分）　赤芍（一錢五分）　淡芩（一錢五分）　黑梔（一錢五分）　川柏（五分）　連翹（一錢五分）　竹葉（三錢）　蘆根（一兩）</p>
<p>文：（塘市。）　頭痛太陽傷風之症，半月有餘。不能使其尋路而出，其邪郁矣。鬱則不但病於本經，往往傳入陽明之界，變為身熱無汗畏風，苔白，是已傳入陽明，未離太陽之候，竊恐再傳。</p>
<p>選奇湯　加葛根　枳殼　桔梗　陳皮</p>
<p>牛（關上）　病經六日，述已經大汗而身熱不退，頭痛節痠，舌苔尚白，口已干苦，痞悶按痛，耳聾溺赤，脈緊而數。此係溫邪夾濕，招風以起，夾食難消，其勢正在張皇，每多傳變。慎之。</p>
<p>葛根　黑梔　豆卷　橘紅　薄荷　蔥白　淡豉　生草　川樸　枳實　滑石</p>
<p>又：進前劑，熱退身涼，邪已解矣。然散而留者，舌上白苔，變作嫩黃之色，口鼻乾燥，神倦妨食，溺黃脈數，清化為宜。</p>
<p>溫膽湯加花粉　穀芽</p>
<p>許（渡僧橋）　病經七日，頭體皆痛，蒸熱少汗，不食噁心，胸悶煩逆，口中乾苦，白苔滿布。溫邪內伏，從此昏昏不爽而變，不能不早以慮之。</p>
<p>達原飲加葛根　羌活　柴胡</p>
<p>又：達原之後，病從戰汗而解，此方之靈，於郡中者鮮矣。然白㾦轉黃，黃者里有伏邪未盡，所以脈靜身涼，口乾咽痛，容易發作，不能不慮。栝貝養營法主之。</p>
<p>栝貝養營湯去蘇子，加甘草</p>
<p>又：栝貝養營湯後，自云無病矣。然脈雖虛，口尚乾燥，津液未潤之候。養營一法，在所必需。</p>
<p>瓜蔞皮　白芍　知母　花粉　川斛　麥仁　甘草</p>
<p>又：募原餘邪，復瘀到胃，舌苔薄白，漾漾噁心，膚熱形寒，頭脹節疼，乘其勢而開泄之。</p>
<p>蔥豉湯加枳實　梔子　厚朴　二陳去甘草，加蔞仁</p>
<p>又：膚熱不能得汗而退，舌苔白膩，口中乾苦，腰痛頭痛。募原伏邪，又屬張皇之候。防變。</p>
<p>小柴胡湯去參，加草果　赤苓　陳皮　爪蔞仁　枳實　桔梗</p>
<p>又：病情如昨，舌上之白苔化作嫩黃，脈來不浮不沉而數，身熱少汗，口仍干苦，煩熱不寐。提化為主，如不戰汗，必變端。</p>
<p>柴胡　黃芩　花粉　赤芍　知母　陳皮　川連　黑山梔　赤苓　甘草　葛根　竹茹</p>
<p>又：昨日病情又從戰汗而解，舌上之苔，仍未化清，口乾溺短，神倦。清理餘邪為要。</p>
<p>花粉　歸身　白芍　陳皮　甘草　穀芽　茯苓　川斛</p>
<p>又：白苔已化，眼易花，頭易脹，口易干。餘火未清，清之為要。</p>
<p>川斛　花粉　陳皮　甘草　茯苓　丹皮　白芍　麥仁　穀芽　另水泛六味丸、資生丸。</p>

<h1>溫毒</h1>
<p>謝（琢診，北碼頭）　咳傷血絡，繼以寒熱自汗，月餘不解。昨日齒衄火出，膚布紫斑，口中乾苦，小溲短赤，胸痞。胃本有熱，又受溫毒，兩陽相搏，血自沸騰，非清不可。防昏。</p>
<p>黃連解毒湯合犀角地黃湯加玳瑁（三錢）　青黛（五分）</p>
<p>又：（師轉）　已進解毒法，青紫之斑更多於昨，紫黑之血仍盛於今。身之熱，口之臭，便之黑，種種見症，毫無向愈之期。溫毒之伏於中者，正不知其多少，然元氣旺者，未始不可徐圖。而今脈息雖數，按之少神，深恐不克支持，猝然昏喘而敗。</p>
<p>犀角地黃湯加制軍（一錢五分）　歸身炭（一錢五分）　玳瑁（三錢）　人中黃（一錢五分）　岕茶（五分）</p>
<p>又：（琢轉）　青紫之斑，布出更多，紫黑之血，尚湧於齒，口舌糜爛，口氣穢臭。溫毒之極重極多，不可言喻，大清大化，本非難事。無如脈之無神者，更見數促，神氣更疲，面青唇淡，一派無陰則陽無以化之惡候。古云：青斑為胃爛，此等證是也。勉擬方。</p>
<p>鱉甲　歸身　甘草　雄黃　天冬　生地　洋參　元參　青黛　師加碧雪（五分調入）</p>

<h1>暑溫</h1>
<p>姚（常熟。）　惡寒無汗，之下，身熱不除，甫經三日，神氣漸昏，不知人事，面垢遺尿，譫語時甚致肢動頭搖，氣急痰聲，口乾苔剝，脈弦滑數，左右無神。暑先入心，亦必傷氣，都被冷風外遏，襲入手足厥陰，有進無退，驟變之形已露，奈何奈何！勉擬方以盡醫力。</p>
<p>薄荷（七分）　滑石（三錢）　生草（四分）　羚羊角（一錢五分）　當歸（一錢五分）　赤芍（一錢五分）　細生地（四錢）　川芎（五分）　防風（二錢）　茯神（三錢）　遠志（一錢五分）　竹瀝（一兩）　石菖蒲汁（一錢）　杏仁（三錢）　川貝（三錢）　另藿香　正氣（四錢入煎）　安宮牛黃丸（八分）</p>
<p>又：頭之搖、肢之動、言之亂、神之昏，患在手足厥陰者皆有和意；且面垢時笑，循衣摸床等象，亦能遞減，似屬佳兆。然十分病僅衰一二，而身有微熱微汗，胸次不舒，得湯如噎，舌苔灰膩，口中乾燥，自云心內乾熱，大便旁流，矢氣下轉，脈弦滑數。暑風濕熱痰食交阻之邪。布於三焦者，正屬不少，必須涼膈清心以分其勢，再論吉否。</p>
<p>桔梗（一錢五分）　連翹（一錢五分）　制軍（二錢）　生草（五分）　薄荷（五分）　黑梔（一錢五分）　歸身（一錢五分）　羚羊角（七分）　遠志（一錢，去心）　茯神（三錢）　竹瀝（一兩，入薑汁二匙，沖）　白蜜（五茶匙，同煎）　石菖蒲（一錢五分）</p>
<p>又：汗收加熱，舌尖光紅，脈來弦數，尺部軟弱，痙象略重，此暑伏營中，暗傷津液，似瘧而作也。尚恐熱極變端，必須天明以前微汗而解為正。</p>
<p>犀角（四分）　丹皮（一錢五分）　川貝（三錢）　茅根（一兩）　鮮石斛（一兩）　鮮生地（一兩）　花粉（一錢五分）　桑皮（錢半）</p>
<p>又：左脈稍和，右仍數滑，風之動者雖輕大半，而心包部分，尚屬若明若昧，身熱微汗，黃昏則劇，小溲頻數，肢體易痙，舌苔灰濁，胸脘不舒。顯系手足厥陰之邪，欲歸陽明中土，土中之暑邪濕熱，結秘不開，氣皆受病也。病在險途，未便小安為慰。</p>
<p>川連（七分，酒炒）　淡芩（一錢五分）　川黃柏（七分）　茯神（三錢）　枳實（五分）　桑葉（二錢）　丹皮（一錢五分）　木通（四分）　黑梔（二錢）　全瓜蔞（六錢）　川貝（三錢）　竹葉（一錢）　荸薺（四枚）　海蜇（一兩）　萬氏牛黃清心丸（四分）　西瓜汁</p>
<p>又：今日神氣又清於昨，呼吸之氣亦和於前，似屬佳兆。然身熱似瘧，小便頻數等症，不一而足，且舌尖深紅，邪雖漸化，陰液大傷，非所宜也。</p>
<p>川連（五分）　黑梔（一錢五分）　中生地（五錢）　麥冬（一錢五分）　車前（三錢）　桑葉（一錢五分）　竹葉（三錢）　淡芩（一錢五分）　丹皮（一錢五分）　瓜蔞（三錢）　元精石（二錢）　茯神（三錢）　牛黃丸（四分，茅根湯下）</p>
<p>又：小便頻數等症，霍然而愈，毋庸論矣。就脈數，左小右大，舌尖稍紅，口中乾燥，夜頻少寐，神亦少慧。陰虛邪戀之時，又值立秋大節，小心反復。清化餘邪之法，參人養陰之中。</p>
<p>中生地　棗仁　茯神　知母　丹皮　杭菊　石決明　花粉　淡芩　青蒿　元參　珍珠粉</p>
<p>又：神明已出，肢體更疲，言語亦覺無力，脈平而帶小數，小寐妨食，舌色尖紅，口時乾燥。病漸退，正益虛。仿七虛三實例，擬甘寒除熱法，仍不出暑邪調治之範圍。</p>
<p>參葉（五分）　甘草（三分）　麥冬（一錢五分）　元生地（五錢）　川斛（三錢）　石決明（七錢）　花粉（二錢）　茯神（三錢）　羚羊角（一錢五分）　穀芽（三錢）　茅根（一兩）　燈芯（十根）</p>
<p>張：（長興。）　失血之體宜補，前病之後，元虛不復亦宜補，正在虛則補之之候。小有寒熱，虛更甚矣，尤宜大補。然脈形細小而按其至數則數，察其形象則滯，加以寒熱分爭，爭於午後，胸前痞悶，舌苔滿白，口中乾膩，小溲色黃，大便或溏，咳嗽時作，頭痛體痠，一派暑邪內伏，出入於少陽，陽明之界，又須提化時也。斟酌為宜。</p>
<p>小柴胡湯（合），溫膽湯加旋覆花　杏仁</p>

<h1>怪病</h1>
<p>朱：（太湖上。）　怪病。</p>
<p>礞石滾痰丸（一錢五分）</p>
<p>又：痰從滾法滾之，則隨氣升降，據述輕矣。然其所以不能速愈之故，或因氣鬱不宣，痰雖欲滾而不能全滾，也未可知。</p>
<p>半夏厚朴湯　煎服，送礞石滾痰丸（一錢）</p>

<h1>風熱</h1>
<p>中州宦者席公來書懸擬方：</p>
<p>風勝則浮，熱勝則腫，浮腫二字俱全。斷為風熱，非杜撰也。浮腫之勢，起於兩頤，延及咽喉，又及牙肉頸項，顏色轉紅，飲食不便，有如噎膈之形，病情之有加無已，風熱之無路以出，不言而喻。惟其如此，病無中道而立之理，勢必益造其偏。風熱之邪，陽邪也，陽邪從陽而親上，所以肺熱葉焦，則生痿躄，手足不能舉動。然猶未也，大筋軟短，小筋弛張，軟短為拘，弛張為痿。且至頸背強𠘧𠘧然矣。其俯仰之常病之形於外者，可云苦矣，而不知邪已更形於內，俾得喉主天氣，咽主地氣，出納之所，勃然加腫，妨礙飲食，幾乎閉而不通，欲作喉痹也。喉痹之症急，痿躄之病緩，緩者已得清滋而漸緩，急者亦須清化而不急。蓋喉痹痿躄，無一而非風熱，亦無一而非風熱伏於肺胃兩家，累及於三陽經絡也。然乎？否乎？姑擬許氏方主之，以備採擇。</p>
<p>杵頭糠（三錢，包）　薄荷（二分，後入）　桑皮（一錢）　羌活（五分）　羚羊角（七分）　牛蒡子（三錢，炒研）　淡豆豉（三錢）　大生地（三錢）　綿黃耆（一錢）　白蒺藜（三錢，去刺）</p>

<h1>肺癰</h1>
<p>楊（上塘）　咳嗽臭痰，口中辟辟燥，胸前隱隱痛，已經半載有餘。脈形雖然變小而數疾有力，肺癰之根底不清，不宜再延，延則聲音漸爍，反成肺痿，不可救藥也。近來氣息短促，肺金不能當令而旺，更恐其喘。</p>
<p>蘆根　苡仁　杏仁　冬瓜子　地骨皮　青黛　蛤殼　桑皮　川貝（去心）</p>

<h1>紫雲瘋</h1>
<p>孫（常熟）　紫雲風后上病於牙關，下病於腿骱，能潰而不能斂，元氣因虛，餘毒又走下腿，骱中強痛不和，脈弱色痿，神倦妨食，自汗嗌乾心悸。虛證百出，必須大補。</p>
<p>鹿角膠　黃耆　黨參　歸身　熟地　肉桂　生於術　白芍　炙草　陳皮　茯神　河車（炙，一錢五分。）</p>

<h1>喉痹</h1>
<p>握別以來，瞬更裘箑，每懷雅度，時切神馳。比維道履安和，順時晉吉以頌慰。弟寄跡棲山，將屆一載，公私歷碌，無善可陳。大小女人夏以來，喉間常時作痛，近更生有白點，飲食難進，是否應歸內治，抑系外用敷藥。此間又無名醫，診觀殊難測其是何症候。伏乞酌擬方藥，交存（敝室）轉寄。素承關愛，定不以瑣事見卻也。專此布懸，即請時安，合吉不盡。</p>
<p><u>李鴻鈞</u></p>
<p>所言大令愛入夏以來，喉間時常作痛，近更生有白粒，飲食亦多不便云云，似屬喉痹。喉痹之證，自古已然，於今為甚。數年前狂風毒風，日夜交作，霍亂之餘，變為此症。浙江安徽三省，處處患之，皆不外陰虛多火之人，一有新風，鬱熱便起，咽喉梗痛，色兼紅白，有如花駁之形，或咳嗽音爍，或腹脹妨食，胸前之悶，或重或輕，始而尚如實證，後來變作陰虛，歸入癆病一途，最為扼腕。今大令愛尚在初起之時，不繫乎新風，即關乎鬱熱，宜散宜清，懸而擬之。附方於後，以備採擇。</p>
<p>桔梗　連翹　元參　生草　薄荷　川貝　淡芩　牛蒡　馬勃　（另）碧雪丹</p>

<h1>舌</h1>
<p>候（上海）　舌乃心之苗，其所用事者包絡，所主相火，升之於舌，舌自作疼。痛經百日之久，津液暗傷，舌色光絳而不生苔，甚至相火自戕根本。兩目昏眩，右關脈息弦數，左寸關部更甚，恐其不愈，將口糜接踵而至。</p>
<p>生地　天冬　生甘草　黑梔　元參　西洋參　淡竹葉　柏子仁　遠志肉　羚羊角　木通　川連　赤苓　丹參　當歸</p>
<p>又：舌痛已除，苔還不生，水虧火旺，宜養宜清。近日冒風咳嗽音爍，權以化法。</p>
<p>瀉白加杏仁　前胡　荊芥　通草　甘草　桔梗</p>
<p>接服方：三才（參用洋參）　導赤　元參　丹參　柏子仁　川連　阿膠　茯神　藕　（另）天王補心丹、硃砂安神丸。</p>

<h1>咳嗽吐血</h1>
<p>倪（府前街）　兩脅不舒，勞則失血，又兼上升之氣，無端而出之於口，或作咳而乘之於肺，甚則氣行血亦行，氣止血亦止。其為氣也，至大至剛。似屬古語云：上升之氣，自肝而出，中挾相火。然則兩脅屬肝，初病在肝，而今亦未出乎肝。肝者，將軍之官，其性本剛，剛則柔克。非柔不和一語，本為治肝而設，不能不宗之，以防其陡然上冒。</p>
<p>大熟地（五錢）　磁石（三錢）　青鉛（一兩，打）　羚羊角（一錢五分）　苡仁（一兩）　側柏葉（三錢）　川貝（一錢五分，去心）　秋石（三分）　藕節炭（三錢）</p>
<p>又：血之冒勢已平，而咳痰之中尚兼血色。氣未降，血易升，勢所必致，未便以小安為慰。</p>
<p>天冬　熟地　旱蓮草　青鉛　龜版　秋石　川貝　沙參　側柏炭　苡仁　磁石　藕節炭</p>
<p>陳（嘉興）　上失血，下漏瘍而患咳嗽，未有不從陰虛而得。</p>
<p>六味加沙參　麥冬　川斛　川貝　陳皮</p>
<p>徐：（三鄉廟。）　脾為生痰之源，肺為貯痰之器。咳嗽久而未輕，晨起更重，所吐之痰，稠稀不一，舌苔薄白，脈息小弦。欲清貯痰之器，庶必先絕生痰之源。然乎？否乎？</p>
<p>六君加麥冬　蘇子</p>
<p>吳（嘉興）　臥不能正偃，正偃則咳甚而息有音。肺胃二經，皆作貯痰之器，然非一朝一夕如此，恐難取效。</p>
<p>蘇子降氣</p>
<p>嚴按：此肺咳也，《內經》肺咳之狀，咳而喘息有音。</p>
<p>又：痰飲久踞，外易招邪風，內易動陰火，一招一動，咳嗽必劇。然邪風外感，必有外感見證。據述所見之症，毫無外感情形，反有陰火內動之象。蓋所見咳嗽，日間本輕，夜亦不為遽重，每至寅時而劇。夫寅時氣血注肺之時，肺經貯痰，其氣已塞，此時氣血一注，其氣更塞。塞則咳多嗽少，加之以嘔逆噁心，涕唾隨之，重之於火升面紅，噴嚏而呼吸短促，呀呷有聲，豈非火逆上氣，咽喉不利，肺咳之狀，咳而喘息有音，都被痰飲所動乎？如是者有年，其中寒熱溫涼、補瀉通塞，竟無見長之藥，而欲一舉兩得，收功於朝夕者，斷無是理。</p>
<p>蘇子降氣合麥門冬湯加竹瀝　風化硝　白芍</p>
<p>紫菀</p>
<p>周（濮院）　脈數而澀，陽絡頻傷之後，咳嗆少痰，胸膈痞悶，喉癢乾渴，少納便結。酷暑內郁，化火傷陰，肺失清肅也。不宜久延，延則成損。損之所致，有外邪也，與本來勞怯者有間。燥令大行而遇此症，當以西昌法。</p>
<p>清燥救肺湯去麻仁，加羚羊角　川貝</p>
<p>又：進西昌法，咳嗆稍輕，納食少加，藥之的對病情也可知。然咽嗌常乾等症，尚未向衰，燥與火邪正甚，加味用之為要。</p>
<p>前方加花粉　鮮生地</p>
<p>丁（福山）　肝火上衝於胃，胃家所積之血，從此而出，頻發頻止，每易歸入損門。慎之。</p>
<p>二至加白芍　炙草　忍冬藤　龍膽草　苡仁　枇杷葉　茅根　（另）金銀花藤，干剪草（三味熬膏）</p>
<p>馬（無錫。）咳嗽久而已緩，尚易吐血，右關脈數且急，陽明伏熱使然。</p>
<p>犀角地黃湯　枇杷露</p>
<p>陳（虎丘）　小有寒熱之餘，咳嗽氣喘，痰血，少納，盜汗，神疲。想是勞倦體質，無力化邪，恐其喘甚汗多。</p>
<p>清燥救肺湯去麻仁，加炙草　阿膠　川貝　玉竹　茅根</p>
<p>吳（橫涇。）培養脾肺，兼化火邪，夜來得寐，而其所患咳嗽減矣。然減不足言，尚形咳逆，吐出咸痰，喉癢口乾，胸悶脈數，將瀉白散加味用之。</p>
<p>瀉白加二母　桔梗　淡芩　枇杷露</p>
<p>朱（海寧）　咳嗽脈數，左關浮大，風邪深入肝經，化火傷肺也。咽痛音爍嗌乾，恐其成損。</p>
<p>補肺阿膠加瀉白　二母　蛤黛　羚羊角</p>
<p>徐（楓涇）　去秋失血，其咳尚輕。惟冬間一咳，已交初夏加劇。音爍於上，便溏於下，能食無力，或咽痛，或嗌乾。想勞倦傷脾，不能制濕於中，焉得生金於上，防損。</p>
<p>訶子肉　通草　桔梗　甘草　茯苓　地骨皮　桑皮　苡仁　川貝　麥冬</p>
<p>奚（湖州。）咳嗽失血，一月有餘不斷。究恐喘冒，勿以緩而急之。</p>
<p>四生去艾，加瀉白　二母　枇杷露　茅根　忍冬藤　旱蓮草</p>
<p>周（顧山）　陽絡頻傷，血皆紅色，此時吐者遽述粉紅。粉紅之血，營衛虛也。虛則不能攝血，血脫之於外，勢所必然。</p>
<p>歸脾（用丹參）　苡仁　枇杷露</p>
<p>又：血有所歸，今日止矣。然石脈芤大，尚屬氣分大虛，不能攝血之象。血脫益氣之法，正為此等證而設，當取之。</p>
<p>歸脾湯</p>
<p>吳（橫涇）　陽絡頻傷，咳嗽咽痛，脈形細數，神倦少納。積損成癆，陰火已沖之象。</p>
<p>六味合生脈加百合</p>
<p>張（樂榮坊巷。）咳嗽一爽，經絡之精夜潤矣。潤則所留之瘀血，從此而出，胸前悶痛，從此而輕，豈非美事！但漏瘍日久，陰氣下泄，陰火上升，肺金仍受其刑。脈形細數，口舌乾燥。一損損於下，自下而損及於上之形，未有艾也。欲卜其旋元吉，未許穩成。</p>
<p>六味合四陰　加黃明膠　二母　枇杷露</p>
<p>陸（嘉興）　咳嗽未止，胸悶先開，膹郁之屬於肺者，已有清肅之機。然雖得其機，尚不能作貯痰之器，亦不能竟為生水之源，此咳嗽嗌乾所以不能即愈也。清燥之品已有餘，救肺之味還不足。</p>
<p>清燥救肺加大生地　花粉　川貝</p>
<p>裘（海門）　形寒傷肺，傳入大腸，咳嗽於上，外瘍於下，久而不愈，咽爍嗌乾，脈形弦緊帶數。所謂一損損於肺，此症是也。</p>
<p>芎枳　四物　紫蘇　紫菀　杏仁</p>
<p>又：得汗則咳嗽自松，然所達之邪，不足以盡其病，前方加減可也。</p>
<p>前方（加）麥冬　甘草</p>
<p>郁（長安）　時病中之咳嗽失血，經年未愈，加之以寒熱，重之以盜汗，脈弦而數，肌肉暗削。積虛成損，恐至積損成勞。</p>
<p>當歸六黃合四陰去草、芩，加川貝　生蛤殼</p>
<p>彭（通州）　咳嗽已經四載未痊，然亦無大害，惟深秋病劇之餘，常難脫體，輕則生痰，重則動血，胸或痛，口多幹，脈形澀數，是肺病也。不宜再延，延久恐成一損。</p>
<p>清燥救肺去石膏麻仁，加絲瓜絡　川貝　花粉</p>
<p>此元氣已虛，又經炎熱之蒸灼，復傷其氣，所以至秋而發咳也。</p>
<p>金（嘉興）　脈數，右部中按弦大，左部沉按細急。細急者，陰傷也；弦大者，伏邪也。陰傷則熱，伏邪亦然。左右之至數，自然見數。據述去春咯出純血，或帶紫紅之液，喉間從此黏痰，面部從此火升，口乾津不到咽，亦從此而間作。肺胃兩經，毫不介意；孰知二經一病，內熱薰蒸於上，毛竅常開於外，或風或溫，容易乘虛而入，陽絡重疊受傷，秋間猶可，冬令加劇。然則伏邪之化熱傷陰見證，而非陰虛不足，自內以生之弱症也。陰既傷矣，不能不養，邪熱之伏留陽明，不能化盡，究屬此病之根，不能不以清熱為主。</p>
<p>忍冬藤　麥冬　川貝　知母　阿膠　地骨皮　石斛　花粉　枇杷露</p>
<p>仲（上津橋）　寅時氣血注肺，肺受氣血之注，相傳更屬有權，清肅行矣，而反咳嗽喉癢，嗌乾氣逆，溺微黃，胸微悶，何氣使然？曰：風溫失血，得清涼而止。而風溫之邪，尚戀肺經，一被氣血所注，壅塞不通，此咳嗽等症，獨甚於斯故也。白為肺色，瀉白即所以瀉肺，瀉肺者瀉肺經所戀之風溫也。</p>
<p>加味瀉白散去參，加川貝花粉　銀花露</p>
<p>陳（崇明）　咳傷血絡，絡傷之後，咳久不除，咳之所以不除，都為絡傷也顯然。然積虛成損，積損成勞，無怪乎脈形細數，內熱蒸蒸，神昏言微，不耐炎蒸，已露一斑矣。速速退歸林下，扶過三伏再商。</p>
<p>玉竹飲子加麥冬　丹皮　青鉛　阿膠</p>
<p>沈（王江涇）　咳嗽半載，寒熱經月，苔白口膩，幹不多飲，痰不暢出，小溲色黃，脈形弦細。此係陰虛受風，久而不化，又患以暑，病情加劇也。傷風成勞，傷暑成瘵。勞瘵之根，最難下手，而況陽絡新傷，更難取效。</p>
<p>清燥湯去蒼朮，加杏仁　旋覆花　紫菀　枇杷露</p>
<p>諸（無錫）　脈數右部澀小，左太浮弦。咳嗽兩月有餘，不獨上傷陽絡，且兼結腫肛門，便難口燥，顯系陰虧之體，不耐燥氣加臨，肺氣自戕，傳及於腸，極易成損，速以食色之性慎之。</p>
<p>清燥救肺加大生地　羚羊角　花粉　川貝</p>
<p>陳（木瀆）　陽絡重傷，咳無虛日，且咳嗆連聲，痰始一應，往往盛於五更，肝火刑金水虧所致。近來大便易溏，亦在五更之候，脾陽下陷，不問可知。陽陷者必須溫而升之，水虧者又須清而降之，病在用藥兩難之際，必須斟酌。</p>
<p>六味合參苓白朮散　百花膏</p>
<p>又：溫升與清降並行，上下之見症無一不和，各得其所也大妙，所嫌左關一部之脈，弦雖當令，過大過急，肝陽內旺，腎水暗虛，養肝之法，合入前方。</p>
<p>照前方去桔梗，加牡蠣</p>

<h1>哮喘</h1>
<p>何（通州）　肺為貯痰之器。痰中有火，毛竅常開，風邪易感，哮喘時作。作則降氣為先，蓋以肺雖貯痰，而其所主者氣也，氣降則痰降，氣升則痰升。</p>
<p>蘇子降氣湯　杏仁　另指迷茯苓丸　礞石滾痰丸</p>
<p>錢（盪口）　咳嗽哮喘，正在竊發之際，脘腹脹滿，皮膚浮腫，四肢逆冷，脈息細小，舌苔白膩。元陽不足，肺本虛寒，外不耐風邪，內不耐濁氣，交相為患也。恐其塞厥而敗。</p>
<p>蘇子降氣去夏草，防己　茯苓　冬朮　川附　杏仁</p>
<p>金（猛將衙）　咳嗽而兼呀呷有聲，哮喘病也。當發之時，宜治其上。</p>
<p>蘇子　橘紅　半夏　歸身　人參　乳香　白果　杏仁</p>
<p>王（吳江）　哮喘本宜辛降，而大便久溏，雖利乎辛，不利乎降。</p>
<p>二陳　桂枝　桑皮　淡芩　杏仁　白果</p>
<p>蔡（常熟）　哮為上喘，喘出於肺也。肺本清肅，何以作喘？而不知肺為貯痰之器，容易招風，亦易阻氣，氣機不利，則呀呷有聲矣。</p>
<p>指迷茯苓丸</p>
<p>孫（楓涇）　脾為生痰之源，肺為貯痰之器，夫脾屬土，健運者也；肺為金，堅剛者也。何以有生痰貯痰之患？而不知兩經虛者，各失其體，所進飲食，不能運化氣血，陡變為痰，一有風邪外束，呀呷有聲，上喘自作，以昭肺病，不獨平日之脾虛痞脹而已。然此時哮病不作，從痞立方為要。</p>
<p>茯苓丸　冬朮　杏仁　橘紅　雞內金</p>
<p>程（臬橋）　形寒飲冷則傷肺，所貯之痰，因此而動，動則呀呷有聲，臥難著枕，哮喘作焉，愈發愈勤，甚至生痰之源，源源而來，已昭腎氣下虛，不獨肺病而已。現在右脈滑大，標病為急，宜先治之。</p>
<p>三子養親合蘇子降氣去歸、桂，瀉白　冬瓜子　杏仁</p>
<p>金（嘉興）　痰飲內留，最為咳嗽之蒂；老痰內伏，又為哮喘之根。哮喘多年，時發時愈，今歲更勤，即咳嗽之症，亦無全愈之日。痰飲老痰，一在於肺，一在於脾，脾肺兩經，比之往時則弱，弱則痰飲老痰之竅踞者，毫無向化之期。培養脾肺，最為此症要藥，然獨治其本，而未及其標，現在屬標病者，痰飲也。咳嗽見於老痰哮喘之餘，正須著眼治之，以使苟安，未識是否？</p>
<p>茯苓丸加旋覆花　桑皮　紫菀茸　杏仁　白果　發哮時服蘇子降氣湯</p>
<p>鍾（湖州）　肺為嬌臟，不耐邪侵，一傷於悲哀，二傷於發散。從此相傳無權、清肅失司。木寡於畏，怒則為哮，毛竅常開，寒則亦發。當發之時，肺經所貯之痰，脾經所生之痰，無不攸歸於竅，呀呷有聲，臥難著枕，如是者數數矣。現在不發之時，脈靜而細弦，元陽不足，非補不可，非溫亦不可。</p>
<p>紫菀茸　銀杏肉　玉屏風合貞元　兩儀　金水六君加五味　桑皮</p>
<p>韓（南壕）　肺為嬌臟，不耐邪侵，若有熱伏於中者，則毛竅常開，風邪易感，感則哮喘發焉。然上病外邪，固能如是，而不知腎氣虛者，脾氣衰者，一經勞動，亦易喘急，是以喘勢有加無已，標本同病也。</p>
<p>六味　瀉白　麥冬　蘇子　牛膝　竹瀝</p>
<p>胡（奉賢）　似哮非哮，而實肝腎下虛，氣已早不歸元。苟有所傷，則下氣上逆，吸不歸根而喘矣。速為靜養，以免虛脫。</p>
<p>金水六君　生脈　牛膝　牡蠣　胡桃肉　杏仁　金匱腎氣丸、金水六君丸（二味和勻，清晨青鉛一兩，煎湯送下。）</p>
<p>朱（吳江）　愈發愈勤之哮，肺經病也，腎氣虛矣。然究其兩經所病，未有不因乎脾衰，衰則所進飲食，生痰生飲，內可以動腎氣，外可以招肺風。欲斷此哮，必須崇土。況現在咳嗽獨甚寅時前後，食積生痰，更宜崇土者乎。</p>
<p>六君　神麯　炒楂　麥芽</p>
<p>楊（安徽）　哮喘時發，發則胸悶咳逆，臥難著枕，病之常也。惟所出之痰，或帶紅色，口中之味，亦作氣穢，肩背痠痛，脈形小數。肺胃兩經，必有伏熱在裡，蒸開毛竅，容易招風，最為累事。現在哮止二日，吐出之痰，黏而且黃，尚從咳出，不能不以清法。</p>
<p>桑皮　骨皮　杏仁　冬瓜子　絲瓜絡　白果　川貝　蘇子　蘆根　浮石　苡仁　如哮喘發作時加萊菔子　白芥子　紫菀　桔梗</p>
<p>朱（吳江，復診）　至哉坤元，萬物資生，所進飲食，生氣生血，不致生痰生飲，咳嗽自除。所謂治病必求其本，誠哉是言也。</p>
<p>六君　九味資生丸</p>
<p>又：（丸方）金水六君合參苓白朮加神麯　麥芽　山楂</p>
<p>楊（關上）　肺俞伏痰，招風則發哮喘，呀呷有聲，臥難著枕，甚至寒熱分爭。近來平善之事，呼吸短氣，痰聲不利，脈象弦滑。肺胃兩經都被痰所貯也，權以導滌法。</p>
<p>指迷茯苓丸　蘇子　橘紅　杏仁　炙草　旋覆花</p>

<h1>音爍</h1>
<p>卜：肺氣本虛之體，不耐風邪外感，音爍不揚。</p>
<p>訶子散</p>
<p>又（丙轉：）金實無聲，金破亦無聲。金聲不外揚，兩手脈小，責其肺氣久虛，元府不閉，風邪得而襲之，是虛為本，實為標矣。</p>
<p>訶子散　玉屏風　紫菀　石菖蒲</p>
<p>曹（震澤）　土能生金，金聲不能嘹亮者，土氣必虛。虛則補之，蓋補土即所以生金。</p>
<p>異功　訶子　通草　桔梗</p>
<p>徐（楓涇）　去秋失血，其咳尚輕，惟冬間一咳，已交初夏皆劇。音爍於上，便溏於下，能食無力，或嗌乾，或咽痛。想是勞倦傷脾，不能制濕於中，焉能生金於上。防喘。</p>
<p>訶子肉　通草　桔梗　甘草　茯苓　骨皮　桑皮　苡仁　川貝　麥冬</p>
<p>張（平望）　語聲喑喑然不徹者，心膈間病。心膈之間肺也，肺病則次指無力，脈小而滑，滑則為痰，小則為虛，肺既虛矣，自易貯痰。</p>
<p>桑葉　枇杷葉　杏仁　炙草　川貝　降香　竹瀝　訶子肉</p>

<h1>胸痹</h1>
<p>單（海門）　胸痹者，胸中陽氣不通也。久則難變，必須日就月將，庶轉旋吉，否防吐血。</p>
<p>瓜蔞　薤白　半夏　旋覆花　絲瓜絡　冬瓜子　橘絡　延胡　金鈴子</p>
<p>榮（青浦）　心痛徹背，是名胸痹。久而不化，適值燥氣加臨，咳嗽未了，咽喉乾燥，痰內帶紅，脈形細小，理之不易。</p>
<p>瓜蔞　薤白　橘紅　枳殼　杏仁　桑葉　枇杷露</p>
<p>張（齊門）　胸痛徹背，嘔吐厥逆，脈左弦甚。想是中陽不曠，而肝風載痰上逆也。</p>
<p>瓜蔞薤白半夏湯　金鈴子散　蘇子　杏仁　旋覆花</p>
<p>任（無錫）　胸痛徹背，延及於旁，又兼咳嗽。此陽氣不曠，風痰交阻於中，久防動血。</p>
<p>栝蔞薤白半夏湯加白酒　旋覆花　杏仁　枳殼　橘紅　茯苓</p>
<p>萬（嘉興）　胸痹初愈，脈形弦滑，舌苔糙濁。脾胃陽虛，濕痰內阻。</p>
<p>生冬朮（枳實，拌炒）　半夏　瓜蔞　薤白　茯苓　炙草　益智仁　旋覆花　生薑　橘紅　穀芽</p>
<p>金（接駕橋）　背痛徹之於胸，胸痛亦徹之於背，其中之陽氣安在哉！然脈虛而弦，白苔滿布，小溲短赤，氣逆為噫，更有濕濁在裡，鬱而不化也。</p>
<p>治中合連理　越鞠</p>
<p>徐：（湖州）　胸脘作痛，延及背脅，舌苔滿布，脈象細弦。陽虛不曠，濕邪寒氣凝結於中，無從化解也。從胸痹例治法。</p>
<p>栝蔞薤白半夏湯　推氣　吳仙　六安</p>
<p>譚（侍其巷）　動則氣逆　從胸膺之間，逆入兩肩部分，作脹作痠，舌苔滿白，脈息小弦。此係胸陽不曠，濕痰阻氣也。</p>
<p>旋覆花湯合瓜蔞薤白半夏湯　桂枝　橘紅</p>
<p>又：胸為陽位，非溫不可。所以溫通之下，氣之逆者已和其半；半之留落者，尚須加減用之。</p>
<p>栝蔞薤白半夏湯　二陳　茯苓丸　蘇子　旋覆花</p>

<h1>痧勞</h1>
<p>顧（平望）　痧子後久咳不痊，所出之痰，或綠或白，肌膚灼熱，口舌乾燥，乍不得眠，眠則鼻塞氣悶。所患風熱之邪，留於營分，肺胃日病、陰液暗傷，即名痧勞也亦宜。</p>
<p>四物（用生地）　羚羊角　絲瓜絡　香蘇飲　葦莖湯</p>
<p>又：進前方病衰其半，肺胃兩經尚有留落者，不能不以辛涼解散。</p>
<p>四物　香蘇飲　葦莖湯　絲瓜絡　羚羊角　淡芩</p>
<p>又：脈形小數，小為病退，數為餘邪。咳嗽雖輕，尚未了了，補陰之中，寓以消法。</p>
<p>四物　瀉白　二母　蛤黛散　淡芩　蘆根　枇杷露　另瓊玉膏</p>

<h1>脾胃勞倦</h1>
<p>黃（海寧）　物物有陰陽，就脾臟言之，亦有陰陽在焉。脾陰為心力所傷，舌苔剝落，口中乾燥，容易生熱，勢所必然。若脾之陽氣，都被勞倦所傷，則健運失常，胃家所受水穀，未免作脹，亦易事也。陰無驟長之理，陽有生陰之義，先理脾陽，最為現在要著。</p>
<p>異功合香砂加白芍　穀芽　山楂</p>
<p>周（嘉興）　飢飽失時，脘中作痛，見於背膂時疼之體，勞倦傷脾也。近來咳嗽痰白，未免新風外感，兼理乃妥。</p>
<p>六君合治中加金沸草　前胡　杏仁　紫蘇　桑皮　歸身</p>
<p>馬（海鹽）　納食主胃，運化主脾，能納而不能運，脾弱胃強可知。然脾屬土，土之生於火也，火土不合其德，必須補火以生其土。大便乾結，少腹有形，剛溫本非所宜，主以柔溫乃妥。</p>
<p>大熟地　歸身炭　枸杞子　懷藥　蓯蓉　沉香　菟絲餅　柏子仁　廣陳皮　冬朮　黨參　九香蟲</p>

<h1>自盜汗</h1>
<p>胡（松江）　頭痛之餘，夜來盜汗，所謂陽加於陰，此症是也。</p>
<p>桑葉　甘麥　大棗　生地　石決明　茯苓　白芍</p>
<p>李　鼻衄作痠，變為自汗盜汗，神倦神昏。</p>
<p>當歸六黃湯　玉屏風</p>
<p>沈（楓橋）　失血久咳，盜汗氣急，陰不斂陽，陽被邪火所蒸而越，所以外反惡寒。</p>
<p>當歸六黃加粉黛散　加枇杷露</p>
<p>周（常熟）　產後盜汗，口甜，或發寒熱。蒼黑肥盛之人，是屬陰虛之體，患此乃陰虛濕熱也，大補其陰，大清濕熱。</p>
<p>當歸六黃湯</p>
<p>周（下橫）　盜汗陰虛者多，自汗陽虛者少，二者兼而有之，當取並行不悖之方為治。</p>
<p>當歸六黃　防風</p>
<p>周（無錫）　溫熱之邪，從陽而加入於陰，自汗盜汗，皆如雨下，交冬則然，余時惟動則有之。近來心中嘈痛，汗出太多，津液內虧之象，補中寓化為宜。</p>
<p>甘麥大棗　玉屏風　當歸六黃　省頭草</p>

<h1>不寐</h1>
<p>俞（西匯）　衛氣行於陽則寤，行於陰則寐。寐少寤多，衛之氣行偏於陽分，不入於陰，陰虛不能戀陽，陽不下潛，舍補陰之法，別無他法。</p>
<p>黑歸脾　龜版　半夏　秫米　另磁朱丸</p>
<p>孫（東塘）　不寐，陽蹺脈滿使然。</p>
<p>秫米　半夏　天王補心丹去遠志、桔梗、五味，加竹瀝另硃砂安神丸（三錢，臨臥服）</p>
<p>宋（閶門）　夜間少寐，口燥而苔膩，晨起略作乾嘔。膽府失其清淨，胃亦不和。</p>
<p>溫膽　半夏秫米湯　棗仁　知母</p>
<p>施　胃不和則臥不安。然胃本和也，必有所以不和之故。左寸脈沉，心氣下郁；右關脈弦，濕氣內阻。一阻一郁，無不歸之於胃。胃雖欲和而不得和也，理所必然。</p>
<p>交感　朱雀　半夏　秫米　棗仁（用連拌炒）　橘紅　夜交藤</p>
<p>陸（吳江）　多病者必須藥物，前病既多，服藥不少，姑置勿論。就夜來不寐言之，是陽蹺脈滿也，然滿則固然不寐，而夜間仍有寐時，即得寐時容易驚惕而醒，又屬肝經伏熱，不能藏魂所致。且先藏之。</p>
<p>真珠母丸　（真珠母　熟地　當歸　人參　棗仁　柏子仁　茯神　犀角　龍齒　沉香）</p>
<p>又　肝已藏魂，夜能自寐。然肝之火，相火也；心之火，君火也。君火一動，相火無不隨之而動，養化肝經固佳，清補心經更妙。</p>
<p>真珠母丸　銀花　硃砂安神丸（米飲湯送下。）</p>

<h1>脹滿痞</h1>
<p>祁（崑山）　便血日久不痊，腹形漸滿，是血虛不能斂氣也。當時大補其血，以斂其氣，病情無有不和，既失此著，血反凝而內阻，大腹更滿，甚至臍突筋露，妨食氣短，變為棘手之候，奈何？</p>
<p>四物合附子理中加牛膝　車前　桃仁　琥珀屑</p>
<p>陸（孝義坊巷）　暴腹脹大、陰故暴，陽即不暴，然則此間之脹大屬於暴者、屬於陰而不屬於陽也顯然。足部時疼，現在竊發之餘，厥陰肝邪不病於本經而順乘中土，良有以也，殊屬棘手。</p>
<p>茅朮理中加木瓜　香附　赤芍　檳榔　川樸</p>
<p>丁（烏鎮）　血痢日久，尚患溏泄、大腹脹滿，按之如鼓，右脈弦滑而數，飲食遞減，神情困倦，臍已平者防突。</p>
<p>厚朴生薑半夏人參湯　煎送小溫中丸（一錢五分）　中滿分消丸（一錢五分）</p>
<p>又：溏泄稍和，滿痛時作，脈形弦滑，左亦太硬，三蟲共食一器，且被肝木所乘。</p>
<p>照前方加金鈴子散　青皮　炒楂　（煎送前丸）</p>
<p>又：肝脈一和，腹痛自止，未始不佳。無如右脈弦滑，腹形硬滿，臍突溺短，大便還溏，所患之邪，正屬不少。</p>
<p>仍照前方去金鈴子散，炒楂。加大腹皮　澤瀉　赤苓</p>
<p>包（海鹽）　酒之濕熱，已積二十多年，曾經衄血，又患黃疸，現在單單腹脹，二便違和、口中乾苦，脈形弦數，理之棘手，臍雖外突，食尚加餐，下奪之法，可以施行。</p>
<p>小溫中丸（八兩，每服三錢）　黨參（一錢五分）　白朮（一錢）　陳皮（一錢）　葛花（一錢五分）　雞距子（一錢，煎湯送下）</p>
<p>又：土鬱奪之，則單腹脹應手而平、然小便已長、尚兼黃色、左脈多弦、鼻衄易流。肝經之濕熱未清、尚易傳入中土而作反復也。</p>
<p>照前方加茅花（一錢）　綠豆（一兩）</p>
<p>石（橫涇）　血中有氣，血脫氣亦從而脫，脫則所主濕邪，不能運化，大腹脹滿，日久不痊，臍突筋露，脈小色萎。如其一加喘息，不能下問矣。</p>
<p>附子理中　肉桂　茯苓　橘紅　半夏　當歸</p>

<h1>浮腫</h1>
<p>吳（夾鋪橋）　面腫曰風。腫退而變為一身脹滿，咳嗽氣塞，脈小左浮右沉，溲短肢冷。所感之邪風，自肺而傳入脾也，恐為喘塞而敗。</p>
<p>小青龍湯合麻杏石甘湯</p>
<p>王（吳江）　病後移邪於肺，咳嗽不已，繼以浮腫，或見小有寒熱、溺黃，氣升防喘。就病中無汗，臥難著枕而論，當以小青龍法。</p>
<p>小青龍合石膏湯</p>
<p>汪（崇明）　一身盡痛，變為浮腫，是風濕為病也。病已向愈，元氣未充，所有餘邪，容易招暑，季夏腹中作脹，脹極而滿，甚至上下均見浮腫，脈形弦細，舌苔滿白，小水不長，以昭陽氣內虧。法當溫化，以冀不喘。</p>
<p>春澤合防己黃耆</p>
<p>陳（吳江）　男子以自下腫上為逆、究其所以致此之故，濕邪無路可出，氣又自外而來，互相交結，故苔白口乾，脈弦不能食也。幸未氣喘。</p>
<p>防己　茯苓　陳皮　冬朮　澤瀉　牡蠣　紫蘇　桑皮</p>
<p>李（葑門）　因於氣為腫，腫之見症，未有不屬於氣也明矣。然氣有虛實，右脈軟弱，左關帶弦，脾經不足，濕氣有餘，或因肝氣內逆，風邪外觸，皆可作也。</p>
<p>茯苓　防己　黃耆　桂枝　冬朮　陳皮　乾薑　桑皮　炙草</p>
<p>盧　男子自下腫上為逆，已逆而舌苔不生，逆中之逆也，能不慮其喘乎。</p>
<p>防己　石膏　冬朮　茯苓　炙草　五加皮　黨參　黃耆另濟生腎氣丸　禹餘糧丸</p>
<p>陸（北壕）　因於氣為腫，然面腫曰風，足脛腫曰水。想是氣虛之體，風水外襲而共成此腫也。</p>
<p>防己黃耆湯　茯苓　桂枝　陳皮　制川附　桑皮</p>
<p>周（松江）　咳喘於前，浮腫於後，病經一載，脈息沉弦。肺之清肅不行、脾之健運失常、身中痰濕，犯於上焦，或行於下部，漫無向愈之期，非所宜也。</p>
<p>防己茯苓湯　桑皮　五加皮　橘紅　川椒目　杏仁　紫菀　蘇子　另金匱腎氣丸</p>
<p>吳（江村橋）　風邪從陽而親上，濕邪從陰而親下。下腫而延及於上，上腫而累及於中。上下相移，久而時發時止，未有如今日之發而不肯愈也。現在陰囊既腫，大便既溏，濕甚於風之候，治濕為主，治風次之，然不喘乃妥。</p>
<p>五苓　防己　桑皮　陳皮</p>
<p>蔣（無錫）　面部浮腫，延及周身，甚至脹滿，又增咳嗽，寒熱氣逆、不得臥下，二便失調，脈形弦細，此係風邪夾濕，脾肺兩傷也。臍已外突，理之棘手。</p>
<p>防己黃耆湯合麻黃湯　羌活　米仁　厚朴　白芍　冬朮</p>
<p>又：昨得微汗，臥能得寐，面之浮者稍退，溺之短者稍長，所用之藥，似屬的對，然余者未便舉以為喜。</p>
<p>防己黃耆湯去耆　白芍　冬朮　厚朴　腹皮　羌活</p>
<p>又：浮腫日退一日，似屬佳兆。然在上者已可，而在下者尚甚。</p>
<p>防己茯苓湯　厚朴　米仁　腹皮　羌活　川椒　白芍　杏仁　冬朮</p>
<p>又：邪之浮腫於外，雖見日輕，脹滿於中，仍然見重，口乾且苦，溺短不長，咳嗽氣短，四肢逆冷，脈形細小，一飲一食一湯一藥，無一舒者，邪氣填滿脘中，正虛不克消化也。筋已露，臍已突，何從下手？</p>
<p>冬朮　厚朴　陳皮　炙草　大腹皮　蘇子　杏仁　當歸　白芍　肉桂　茯苓　另小溫中丸</p>
<p>徐（金山頭）　惡寒發熱，隱癖脹逆，加之以浮腫，溺赤嗌乾。暑風外感，引動宿病。</p>
<p>敗毒去貝殼，加淡芩　荸薺</p>
<p>又：進敗毒散腫脹雖減，寒熱未除，尚須加減。</p>
<p>清脾飲去朮、草果，加黨參　防己</p>
<p>又：風邪脫入濕中，脈來沖急，大便溏泄，浮腫，寒熱頭痛，勢非輕者。</p>
<p>防風　冬朮　葛根黃芩黃連湯　茯苓　防己　五加皮</p>
<p>又：寒熱已除，頭痛已止，大便溏泄，皮膚浮腫，中宮脹滿，土變敦阜，削去乃妥。</p>
<p>胃苓去桂，加防己</p>
<p>又：太陰腹滿，不惟寒濕有餘，而且真陽不足，脈衝下體不溫，幹不能飲，妨食氣滿，其勢頗險，未便以寒熱餘邪為主治。</p>
<p>附子治中　平胃　半夏</p>
<p>石（王家溪）　閡瘧之風留之於濕，曾經腫脹，今春又發，小有寒熱、自汗不渴。右脈濡，左部弦，既無便溺之陽格，又無飲食之速和，其治在表，防脫。</p>
<p>防己　茯苓　桂枝　冬朮　黃耆　桑皮　陳皮　腹皮　姜皮</p>
<p>汪（上海）　面腫曰風，足脛腫曰水。風邪從陽而親上，面部先腫，引動濕邪而親下，足跗亦腫。如是者前後輕重不齊、現在偏之於上，白苔帶黃，脈弦帶浮、溺黃不多、氣短不長、風多於水是也，不喘乃吉。</p>
<p>防己　冬朮　五皮　旋覆花　骨皮</p>
<p>又：風水有鬱熱之形。</p>
<p>防己　石膏　旋覆花　杏仁　蘇子　滑石　五皮</p>
<p>楊（宜興）　氣上衝胸之候，頸脈動，時咳，陰股間寒，足脛腫，目下腫，腹乃大，臥不能正偃，小便不利，苔白氣短，脈息沉微。脾肺腎三經陽氣內虛、不能運化濕邪，垂成水腫也。恐其喘甚。</p>
<p>桂苓五味甘草湯合小青龍湯加川附子（制）</p>
<p>又：昨進小青龍法，已隔三時之久，胸脘又見氣衝，大便先通，濁痰吐後則沖象甫平。顯系脾經水濕濁痰阻結於中，究恐喘甚而敗。</p>
<p>蘇子降氣湯</p>
<p>又：大便又通，痰濁又吐，阻結之邪，尋路而出，昨夜之氣衝所以免也。然腹滿等症尚在，小便不通，肺氣不利，脾經不運，故而無向愈之期，不得不慮其喘。</p>
<p>蘇子　萊菔子　杏仁　車前　牛膝　冬朮　橘紅　五加皮　桑皮　大腹皮　赤苓　澤瀉</p>
<p>錢（荊溪）　濕邪從陰而侵下，下焦浮腫之時，失於調治，延及中焦，大腹脹滿，臍已突，筋漸露，飲食作脹，小水短赤，右脈弦澀，左關獨浮過於弦。濕鬱為熱，陰分已虛，近增咳嗽，防喘。</p>
<p>理苓　大腹皮　漢防己　陳皮　蘇子　杏仁　另水泛金匱腎氣丸　小溫中丸</p>
<p>周（嘉興）　足脛腫曰水，水濕之氣聚於足，消之化之，猶易為也。腫勢蔓延於上，大股少腹皆形其狀，甚至咳嗽氣急，臥難著枕。中上二焦均被邪所侵及，清肅之氣已失其常。防喘。</p>
<p>防己　茯苓　冬朮　澤瀉　豬苓　五加皮　陳皮　杏仁　桑皮　蘇子　骨皮　大腹皮</p>
<p>馬（無錫）　浮腫咳嗽，繼以嘔吐噁心，曾經向愈。而腫之痞滿，獨不能除，後即因此而嘔吐又作。浮腫又增，二便失調，脈形細小，苔白不渴，足部硬冷。陰虛寒飲使然，恐其喘甚而敗。</p>
<p>桑皮　腹皮　苓皮　陳皮　五加皮　杏仁　葶藶　芥子　車前子　白附子　禹餘糧丸</p>
<p>張（松江）　腫者鍾也，為水濕所鍾聚也。鍾聚之腫，每甚於足，所謂濕則下先受之是也。然獨在於下，邪所當然，而其自下腫上，男子得之，其病為逆。據述此病頻發頻止，脾虛不能制濕，亦屬顯然。</p>
<p>四苓　防己　陳皮　厚朴　五加皮　藿香</p>
<p>浦（嘉定）　浮腫自上而下，自下而中，中即脹滿，咳嗽不爽，無汗氣短，胸痞妨食，脈息浮弦，風邪夾濕，由外而之內也。防喘。苔白便溏，溺短，感邪已欲為熱，熱亦宜清，不能獨化風濕。</p>
<p>防己　茯苓　石膏　厚朴　杏仁　澤瀉　萊菔子　腹皮　製半夏　桑皮</p>
<p>又：胸之痞，便之溏，似屬漸和，咳嗽不作，更為美事。而中宮之脹滿、上下之浮腫。苔白氣短，溺少口乾，脈息沉弦，防食惡風等症，正屬不輕。</p>
<p>防己　石膏　厚朴　茯苓　澤瀉　萊菔子　桑皮　車前子　香附　霞天曲</p>
<p>浦（嘉定）　足脛腫曰水，水乃濕所聚也，故曰濕勝乃腫。然則腫者鍾也，為水濕所鍾聚也，今年歲土不及，濕邪無路可消，結而為腫，欲消其所鍾之濕，不能不崇其土。</p>
<p>茅朮　厚朴　藿香　肉桂　青皮　茯苓　半夏　防己　炮姜　木瓜</p>
<p>包（史家巷）　濕鬱之熱，為浮為腫為脹，從下而延及上焦，日甚一日。苔白口膩，嘔逆噁心，溺短便堅，加以耳鳴脈小，左關一部獨見浮弦，更有風引動於上焦，容易增喘，不能不慮。</p>
<p>五苓　陳皮　防風　防己　半夏　取五皮煎湯代水。</p>
<p>又：脈浮已和，獨形弦象，嘔逆雖止，浮腫不消。必得小便清長，則上甚之濕熱，或者下趨。</p>
<p>五苓　陳皮　半夏　牛膝　五皮飲（煎湯代水）</p>
<p>又：小便不長，膀胱之氣化失其常度也。既上之濕，難以下趨，徒增為熱，口稍干，齦帶疼，脈亦弦中見數也。</p>
<p>桂苓甘露飲去石膏　車前　牛膝　防風　陳皮　五皮飲（煎湯代水）</p>
<p>吳（盧州）　先腫後咳，其治在脾。脾虛不能制濕，反易生痰，不但脾家自腫，而且累及肺金為咳，勢已不輕，加之形寒飲冷，肺氣更傷，腫滿按之作痛，咳逆不爽，惟見薄痰，飲食遞減，溺短便溏，脈形郁小，病勢有加無已。竊恐清肅不行，健運失常，陡然氣喘而敗。實必顧虛，瀉必先補，昨日行之，毫無動靜，想是虛處有益，實虛處無補。將開鬼門，潔淨府兩治立方。</p>
<p>五苓合麻黃湯（用肉桂）</p>
<p>又：昨日兩法並行，自云合意，病邪之宜乎分散，不問可知，再以小青龍法合而用之。</p>
<p>照前方加小青龍湯</p>
<p>鍾（松江）　浮腫經年，漫延於肺，咳喘痰涎，理之棘手。</p>
<p>麻黃　杏仁　石膏　甘草　冬朮</p>
<p>吳（山西）　面部之腫，延及中下兩焦，溺色短赤，舌苔黃濁，口味干甜，脈形弦數。風邪襲入濕熱之中，不喘乃吉。</p>
<p>桂苓甘露飲</p>
<p>陸（俞家橋）　痧後之紅瘰時發，發無定時，亦無定處，俗名其怪，實即痧邪未盡也。夾濕則下焦腫爛、招風則上下浮腫，浮腫之形，未交一候，遍及周身，風性之善行而數變也，不問可知。防喘。</p>
<p>茯苓　防己　茅朮　防風　枳殼　五加皮　萆薢　荊芥　通草</p>
<p>劉（朱家角）　胸脘痞塞，一身浮腫，咳逆少痰，不能臥下，舌苔薄白，小溲甚少，脈形沉小。此係痰食濕交結不解，其氣易塞咽喉，恐其喘厥而敗。且以降氣法施之。</p>
<p>蘇子　歸身　橘紅　炙草　前胡　肉桂　川樸　乾薑　沉香　杏仁</p>

<h1>痹症</h1>
<p>何（松江）　風寒濕三氣雜至，合而為痹。痹久則三氣之邪，未有不鬱而為熱，熱處濕中，變為大筋軟短，小筋弛長，軟短為拘，弛長為痿，痿少拘多，濕熱之邪，留於大筋為勝。舒筋一法，在所必需。</p>
<p>苡仁　歸芍　白蒺藜丸　威靈仙　木瓜　牛膝　桑枝</p>
<p>周（無錫）　風寒濕三氣雜至，合而為痹。痹從腰部腿骱而下，寒濕為多。</p>
<p>苓桂術甘　蓯蓉　牛膝　木瓜　防風　防己　當歸　秦艽</p>
<p>李（光福）　風寒濕三氣雜至，合而為痹。溫化為宜。</p>
<p>桂枝湯　二陳　茅朮　羌活　萆薢　牛膝　當歸　松節</p>
<p>周（吳江）　周痹減半，而其所痹之邪，尚留於肩臂脅部。肺肝兩經，都被風濕之痰所阻。</p>
<p>指迷茯苓丸　海桐皮　川斷　白芥子</p>
<p>蠲痹去耆、草</p>
<p>張（江陰）　風寒濕三氣雜至，合而為痹，若風氣勝者為行痹，若以春遇此為筋痹。此間之痹，四肢遊行，發於仲春之候，指臂強而難舉，左關脈息弦急，因風而成筋痹，不問可知。</p>
<p>羚羊角散去獨活、芎、防，加羌活　片薑黃　甘草　綠豆衣　龜版</p>
<p>顧（光福）　右肩臑痠痛，延及臂肩，左脈芤數而浮，血虛招風所致。右屬肺，肺氣所主，久貯之痰，從而和之為患，兼理為宜。</p>
<p>蠲痹湯去防，加指迷茯苓丸　生薑</p>
<p>秦（東山）　瘧中之風濕痰邪竄入經絡，以致右肢痠痛，筋脈不舒，漸及於左，一手偏熱，口中乾苦，脈象弦數，肩背亦有不和之象，此名痹症。</p>
<p>牛蒡子散合蠲痹去防，加茯苓　炙草　羚羊角　桑枝</p>
<p>大師（長興）　肩臑臂痛之經絡都在三陽，而其累及陰經者，不過十之一二，本非內病可知。然遺精日久，曾患痎瘧，又值心力俱勞之體，陰血大傷，不免有血不養筋之義。經筋為患，漫無愈期，所以六脈細小，而左關一部獨形浮大也。湯丸並進乃妥。</p>
<p>蠲痹湯</p>
<p>陳（泉州會館）　痛痹偏之於左，且有痿而不舉之形，脈息浮弦。血虛之體，風邪乘此而入也，理之不易。</p>
<p>蠲痹加大生地　木瓜　天麻</p>
<p>張（湖州）　肩背痠疼，形寒少納，咳嗽久而如此。營虛血痹，風痰交阻於中，不能化解也。</p>
<p>蠲痹湯　指迷茯苓丸</p>
<p>沈（青浦）　氣血兩虧，肩臑之痛延及手臂，動則如此，靜則尚安，非補不可之候。然風痰之留落於其間者，不能不兼理之。</p>
<p>八珍　蠲痹去防，加指迷茯苓丸</p>
<p>張（上海）　大股紅腫作痛，延及於膝，且至脛骨亦有所傷，本屬風寒濕三氣雜至合而為痹也。久而不愈，膝骨日大而重，伸而難屈，脈形沉細而弦，欲成鶴膝風，不可忽視。</p>
<p>獨活寄生湯　四物湯去芎，加四妙　苡仁　松節</p>
<p>孫（平望）　最虛之體，便是容邪之處。處瘍之後，血分暗虧，虧則風濕之邪，乘此而襲，臂肩作痛，自右而移及於左，且兼項背𠘧𠘧，兩肢難舉，以冬遇此者為骨痹，以春遇此者為筋痹也。亦宜先從筋痹立方。</p>
<p>羚羊角散去獨、附，加川斷　烏藥</p>
<p>孟（常州）　膝骨日大，上下漸形細小，是鶴膝風也。鶴膝風乃風寒濕三氣雜至合而為痹之最重者。三氣之邪既可為痹於膝，豈不可以挾肺之痰痹於肘耳！蓋肺有邪，其氣留於兩肘，肘之所以痹於左者，左邊屬血，血屬陰，陰血既虧，無怪乎腰脊之凸出，接踵而來也。</p>
<p>據述腰痛於前，咳嗽於後，肺與腎經先受風寒濕三氣之邪，鬱蒸為熱，所以鼻流清涕，小溲常黃，脈形細小，左關獨見弦數，右寸獨形滑象，甚至身體偏側肌肉暗削，行步無力，虛態百出。恐其難以支持，因病致虛而脫。</p>
<p>羚羊角　當歸　白芍　桂枝　杏仁　知母　羌活　苡仁　制蠶　秦艽　桑枝　竹瀝　茯苓</p>
<p>潘（南匯）　一臂不舉，此為痹，載在風門，即名風痹也亦宜。然此痹起於外瘍，陰血早虛，虛則風邪內襲，未免有之。古人之治風先養血，非無意也。</p>
<p>四物　川斷　烏梢　白蒺藜　苡仁　橘紅</p>
<p>錢（湖州）　病後遺邪於筋，筋從轉後背作疼，變為下體麻痹，屈而不伸，以致大筋軟短，軟短為拘也。</p>
<p>羌獨活　熟地　炙草　苡仁　茯苓　木瓜　歸身　澤瀉　桑寄生　牛膝　秦艽　於術　香附　制蠶　鎖陽　丹皮　白芍　五加皮</p>
<p>朱（平湖）　陽明繞遍一身諸絡，風熱之邪，曾傳陽明，陽明之血，從上而溢。既溢之後，一身諸絡有如蟲行皮中狀，是熱去風留也。</p>
<p>白蒺藜丸　防風　桑皮　陳皮　忍冬藤　赤芍　苡仁</p>
<p>徐（太倉）　濕熱不攘，大筋軟短，小筋弛長，軟短為拘，弛長為痿。此乃不痿而拘，拘之為病，濕熱邪氣，獨在於大筋，不言而喻。然軟短之拘，雖為濕熱之不攘，而濕熱之中，似乎濕勝乎熱，所以脈弦濡小，帶有數意，舌苔滿布帶些黃意，溺不變，口不渴，四肢痠軟，經筋痠疼，甚至下病及上，以昭濕則下先受之之義。羌活勝濕湯一法，最為第一要著。</p>
<p>羌活　茅朮　茯苓　防風　橘紅　金狗脊　半夏　木香　藿香　秦艽　香附　白蒺藜　炙草　當歸</p>

<h1>瘧</h1>
<p>周（吳江）　三陰大瘧，變為日作，陰經所伏之邪，從陰而出，大妙大妙。孰知瘧發日晏一日，所感風邪，仍從風府而下，蓋以三陰之陽衰而不旺，不能乘勢托出其邪，反被邪乘虛入，虛者益虛，飲食大減，肌肉暗削，身熱無力，大腹軟滿，足跗浮腫，脈微無神，所謂無陽則陰無以化也。際此冬至陽生之候，而有如此病情，危乎危乎！</p>
<p>桂枝　附子理中湯　鱉甲　白芍　鹿角霜</p>
<p>朱（無錫）　痎瘧面色蒼黃，皮膚浮腫，食則腹瀉，自云痞滿，舌苔滿布，溲液渾濁。此係風濕之邪歸併太陰也，不增喘脹乃妥。</p>
<p>桂枝　附子理中湯　防己　陳皮　草果仁</p>
<p>程（竹行頭）　但熱不寒之瘧，渴喜熱飲，苔膩節疼，脈微自汗，邪盛陽虛，究恐不克支持而增昏喘。</p>
<p>栝蔞桂枝湯　理中　四獸飲</p>
<p>俞（台州）　三陰瘧後，小溲見紅，又兼白濁，復為寒熱似瘧，日夜分爭而作，左脅瘧母，乘此升逆，口乾脈弦，顯繫留邪於肝脾兩經，不宜再厥。</p>
<p>一柴胡飲去陳皮，加鱉甲　牛膝　歸身　另鱉甲煎丸</p>
<p>丁（常熟）　三陰瘧疾，汗多而不發渴，寒濕為多，寒之餘加以夢泄，邪入於肝也。</p>
<p>制首烏　製厚朴　鱉甲　白芍　小青皮　煨姜　生於術　歸身　炙草　草果仁　雲苓　白蔻仁</p>
<p>秦（海州）　間瘧變為三日一作，寒重熱輕，脘腹脹悶，口鼻乾燥而不發渴，脈形細弦，舌苔薄白。想是暑濕內伏，又有燥氣加臨。</p>
<p>清脾飲去芩、草果，加桑葉　陳皮　神麯　藿香</p>
<p>夏（上海）　瘧屬脾寒。寒之為言，非溫非熱，乃陰象也。陰寒之氣，聚於脾經，發於陽明，寒熱往來，間日而作，喜飲熱湯，舌上苔白膩而濁，脈息濡小之中隱隱帶弦，面上之色黃中帶白，汗出不少，小溲夜多，少納少寐，噯氣不舒。際此冬至陽生之候，而患如是見證，陽之虛也甚矣。惟其陽虛，則陰寒之邪更不能消，所病之瘧，無怪乎漫無愈期，急須溫化。</p>
<p>桂枝湯加首烏　青皮　陳皮　歸身　茯苓　厚朴　半夏　草果</p>
<p>包（王天井巷）　三陰大瘧，名曰痎瘧。閡者老也，言瘧老於三陰之界，漫無愈期。近來自覺神呆，且形痞硬，苔白脈遲，陽氣漸虛，不但不化瘧邪，而瘧邪反欲成臌也。急須大補脾陽。</p>
<p>附子理中湯加桂枝　厚朴　陳皮　半夏　茯苓　鹿角尖</p>
<p>吳（太湖上）　瘧疾中之寒熱，久而未了，咳嗽不止，夜重日輕，口中乾苦，舌紅苔黃。風邪濕邪，深入營中，無從化解也。</p>
<p>四物桔梗湯　瀉白加青蒿　鱉甲　丹皮</p>
<p>尤（光福）　痎瘧日久，黏汗頭眩，脈形細而隱弦，此虛也，不可以作實治。</p>
<p>何人飲去陳皮，加炙草　白芍　牡蠣　茯神　花粉</p>
<p>吳（關上）　進脾胃法，嘔惡已止，納食亦加，痎瘧仍然，隱癖僭逆中宮，脈形弦細，舌苔干膩，暑邪正甚，陽氣內傷。</p>
<p>清脾飲去樸、芩，加四獸飲　木瓜　牛膝</p>
<p>馬（甘露）　寒熱如瘧，久而不已，口中乾苦，少寐少納，咳逆，脈細弦數。陰血內虧，留邪於肝也。</p>
<p>四物湯去芎，加羚羊角　青蒿　鱉甲　沙參　川貝　防風　杏仁（去皮）</p>
<p>馬（黎里）　痎瘧日久，右脈弦細，左部模糊，元陽元氣，都被邪侵。</p>
<p>桂枝湯　何人飲加半夏　另金匱腎氣丸（瘧歇日服）</p>
<p>王（沈店橋）　痎瘧日久，氣陰兩傷，右脈小，左脈弦數，口乾舌紅，神疲盜汗，少納言微，養中寓化為主。</p>
<p>川芎　鱉甲　當歸　生地　淡芩　人參　花粉　川貝　橘紅</p>
<p>史（芝苓巷）　痎瘧生於陰也，陰中之陽不足，則所感風寒濕氣，無力以消，來勢稍輕，而其移早移晏，自無定期。</p>
<p>桂枝湯（加）鹿角霜　當歸　杜仲　香附　白薇　二陳湯</p>
<p>周（香山）　瘧疾本屬脾寒，寒熱往來，兩輕一重，又有三陰大瘧之根，腎氣更弱，必須溫化。</p>
<p>鹿角霜　桂枝　冬朮　草果仁　當歸　青皮　川樸　半夏　陳皮　穿山甲　鱉甲　茯苓</p>
<p>秦（海門）　三瘧皆生於陰，陰經之邪，無陽以化，所以寒重熱輕，汗多不渴，項痛腰疼，苔白氣喘，脈形弦細，右尺上衝甚銳。恐其枝葉未害，本實先拔，而有不克支持之變。慎之慎之。</p>
<p>桂枝湯合附子理中加青皮　草果仁</p>
<p>龔（崑山）　寒熱往來，少陽症也。仲景早用和方。然小柴胡一湯，如遇口中乾，咽中痛，往往撤去半夏而用花粉，蓋為熱傷陰耳。如此類推，則活潑潑地矣。</p>
<p>小柴胡去半夏，加栝蔞根湯，人參易洋參，加元參　川貝　白芍　鱉甲　（嚴按：二師心古法，巨眼如燭）</p>
<p>潘（震澤）　三陰大瘧　日久而輕，小有寒熱，口乾溺赤，體痠，加以咳嗽濃痰。想是瘧已傷陰，不耐風寒新感也。</p>
<p>小柴胡湯去半夏，加栝蔞根湯　瀉白散　鱉甲　川貝　橘紅　枇杷葉</p>
<p>馬（陸暮）　寒熱日作，邪並於陽矣。然其所自來者，三陰也。究須溫化。</p>
<p>桂枝湯合何首烏散　二陳加當歸　鹿角尖　鱉甲　秦艽</p>
<p>張（寶山）　寒熱往來，所發之期，或一日，或兩日，或數日，此瘧也。</p>
<p>桂枝湯合小柴胡湯加草果　檳榔　橘紅　茯苓　神麯</p>
<p>陳（楓涇）　但熱不寒之瘧，渴喜熱飲，苔膩節疼，脈微自汗。邪盛陽虛，究恐不克支持，而增昏喘。</p>
<p>四獸飲加桂枝</p>
<p>金（洞庭山）　三陰大瘧，瘧邪傷營，血從咳嗆而出，法當養化，未便用溫。</p>
<p>生地　當歸　青蒿　知母　苡米　川貝　白芍　丹皮　鱉甲　茅根　枇杷葉</p>
<p>沈（西匯）　風寒之在三陰者，漸從外達，尚被濕熱濁痰所阻，寒熱分爭，自無一定之期，舌苔黃濁，然元陽不足，究難盡達。</p>
<p>小柴胡湯合何人飲加鹿角霜</p>
<p>鄭（港口）　濕熱召暑，風亦隨之。寒熱往來，間日而作，舌苔滿布而白，脈息浮弦，頭痛口乾，噁心多汗。</p>
<p>小柴胡湯加羌活　藿香　厚朴　橘紅　大腹皮</p>
<p>汪（西匯）　頭痛之餘，腰痛痠疼，始而小有寒熱，後來變為間瘧，苔白味辛，胸痞妨食，便溏溺黃，渴喜熱飲，脈息浮弦。暑風外感使然。</p>
<p>選奇湯合藿香正氣去蘇、大腹皮，加柴胡</p>
<p>顧（青浦）　痎瘧皆生於陰，陰者肝脾腎三經也。脾腎之脈猶可，而肝之一部，見於左關者，弦而且浮，必有外感之風，留於肝部。良以風喜傷肝，肝為風臟，物以類聚耳！</p>
<p>桂枝湯合柴胡湯　何首烏散加鱉甲　歸身</p>
<p>張（關上）　寒熱往來，既不能除，又無定時，變為痎瘧，已經六五發矣。脈形弦細，痞悶不開，舌苔薄白，飲食甚少，近更咳嗽，口淡溺黃。暑風濕熱，歸併三陰，不言而喻。</p>
<p>清脾飲加羌活　雞內金</p>
<p>俞（斜港）　三瘧變為間日而作，盜汗隱癖，虛里穴跳，耳鳴筋惕，肝陰虛也，不獨餘邪為患而已。</p>
<p>桂枝加龍骨牡蠣湯</p>
<p>施（平望）　冬時內不能藏精，外易以傷寒，寒藏精室，不為溫病，必變溫瘧。溫瘧之形不一，此間先寒後熱，甫經得汗而退，而又形寒自汗，然後退清。此等邪氣自內而達於外，其所未盡達者，旋由自外而歸之於內，虛使然也。十數發後，往往不克支持，而此病已患四十餘日，精神不見大衰，想是先天本足，邪雖出入於腎家，猶可相安於無事。但自汗太多，肉削少納，言微畏寒，陽虛已著，虛波陡起，不能不早以慮之。然補中寓化，已屬一定章程，惟酒客濕熱素勝，小溲短赤，舌苔滿白，用藥最難。</p>
<p>六味合桂附（桂用桂枝）　真武加黃連</p>
<p>陳（南京）　三陰痎瘧，音爍於上，腹膨於中，便溏於下，三焦又病可知。三陰病於前，三焦病於後也。舌苔冷白，四肢厥冷，脈息全無，陽分比陰分更虧，且至有陰無陽而欲絕也。勉擬生陽一法，然恐鞭長莫及。</p>
<p>來復丹（米湯送下。）</p>
<p>又：一陽來復，脈尚模糊，雖無暴出之憂，而少微續之喜，不足恃也。</p>
<p>生脈散　煎送來復丹。</p>
<p>張（太倉）　三陰瘧，右脈細軟，左太弦急，脾濕有餘，肝腎不足。</p>
<p>八珍湯去芎，加橘紅　半夏　青蒿　丹皮　鱉甲</p>
<p>沈（西匯）　痎瘧變為日作，邪從外向可知。然脈弱體酸，胸悶少納，元氣內虛，無力化邪之候，只宜養化，以冀虛波不起為妥。</p>
<p>何首烏散加神麯　黨參</p>
<p>又：元虛，內不耐瘧邪發作，外不耐暑氣所侵，防喘。</p>
<p>何人飲合首烏散</p>
<p>又：痎瘧不歇有根，未發以前，已形氣短，既發以後，更加氣喘。恐其正不克邪而敗。</p>
<p>何人飲加紅棗　竹瀝</p>
<p>葉（周王廟弄）　瘧發四未先見痠疼，繼以小熱，然後寒大作，汗出漸解，舌苔多白，並不發渴，脈形濡小，一輕一重，已以一月有餘。顯系先患風濕，後患暑邪，氣血同病也。</p>
<p>清脾飲加歸身　防風</p>
<p>又：寒熱仍然，經絡有收縮之形，手足指冷，本身之陽氣素來不足，無力化邪也。</p>
<p>柴胡　歸身　白芍　冬朮　茯苓　紅棗　桂枝　木瓜　白薇　生薑　炙草</p>
<p>張（上海）　痎瘧日久，一載有餘，輕而未止，癮疹外發，瘙癢異常，咳嗽日久，痰出不少，舌苔尚白，溺色猶黃，脈形弦數。所患風邪暑濕，欲從三陰傳出肺經而不能暢達也。</p>
<p>何人飲去煨姜，合追瘧飲去朮，加杏仁　淡芩　白疾藜</p>
<p>王（太倉）　痎皆生於陰，陰經受濕招風，右脈小，左脈浮，足腫不退，脘痛時作，鼻衄易見，小溲色黃。所患風溫之邪鬱蒸為熱，布滿三焦，而不能從營衛以暢達也。邪發營衛之時，出入相爭，寒熱不重，亦不口乾，亦不求救於水，是濕更重於風也。</p>
<p>清脾飲去芩，加木瓜　防風</p>
<p>沈（竹行頭）　病轉為瘧，瘧以三日一發者，所感暑邪深入三陰也。經事臨期，治須兼顧。</p>
<p>柴胡四物湯去夏，加瓜蔞　白薇　鱉甲</p>
<p>又：熱重於寒，口乾頭痛，苔白舌紅，脈形弦數，乾咳少納，陰血內虧，不能速化，留邪之兆。</p>
<p>照前方加丹皮　知母　秦艽　穀芽</p>
<p>高（蘆墟）　濕熱之間瘧，內因勞倦傷脾，外因寒邪入腎，所發寒熱，變為三日一作，理之不易。</p>
<p>清脾飲去芩，加細辛</p>
<p>又：得汗則寒氣先消，而暑濕熱三氣之邪，尚在三陰之界，無力以消，所以脈形細小之中而帶隱弦。</p>
<p>何首烏散加二陳　當歸</p>
<p>陸（嘉興）　痎瘧皆生於陰，陰者，三陰也。三陰經深受風寒濕，老於其界，所以寒熱往來，止而復作，口不渴，苔黃濁，脈弦而數，四肢微浮。扶正達邪，方為正治。</p>
<p>桂枝湯合何首烏散加茯苓　當歸　（瘧來日前二時服）。另附桂八味丸（三錢，瘧歇日，淡鹽湯朝服。）</p>
<p>李（花街巷）　寒熱有往來之意，口中乾苦，舌苔薄白，脈細弦數，少陽見證也，當以少陽之法和之。但絡傷之體，血分本虧，往往有營虛不能作汗之弊。將此意治，合而用之。至於咳嗽日久，不過兼治而已，未便為主。</p>
<p>小柴胡湯合歸柴飲　瀉白散</p>
<p>廖（奉賢）　三陰瘧邪，曾經歸腹而腫，幸爾已結瘧母，其邪竊踞於肝膽，所以身熱又如瘧狀，似夾雌雄，脈形弦細，苔白不渴，溫化為宜。</p>
<p>清脾飲去芩、柴，加川附　牡蠣　白芍　陳皮</p>
<p>又：痎瘧仍屬雌雄而作，苔白不渴，腹部又有腫意。邪盛正虛，舍溫化奚為？</p>
<p>清脾飲去柴、芩、草，加香附　桂枝　炒楂　木瓜</p>
<p>又：瘧之雌者已愈，雄者亦輕，豈非美事。無如臍之下旁有內結，按之則硬，動之隱痛，苔白且滑，脈弦而小，陰結陽虛所致。</p>
<p>川附　茯苓　桂枝　於術　陳皮　木香　制蠶　牛膝　當歸　白芍　半夏</p>
<p>曹（湖州）　痎瘧變為日作，三陰之邪，移出陽經矣。然陽經所受之邪，尚屬不少，小有寒熱，寒熱雖止，而營衛分爭之象，仍未脫體。舌苔嫩黃，脘腹不舒，小溲短赤，夜寐少安，咳嗽吐痰，肢體無力，脈形細小。邪少虛多之候，扶正為先，積邪自去。</p>
<p>何首烏散去姜，合何人飲加青蒿　鱉甲　淡芩　丹皮</p>
<p>陳（周莊）　寒熱往來，口中乾苦，舌色光紅，脈弦而數，此伏暑化燥而發，陰氣早傷。如欲提出其邪，勢必兼顧其陰。</p>
<p>柴胡　白芍　淡芩　花粉　甘草　當歸　大生地　沙參</p>
<p>陸（浦莊）　寒熱往來，口中乾苦，舌苔白膩，脈象弦數，伏暑見症也。久咳且嗽之體，兼理為宜。</p>
<p>小柴胡湯加玉竹　桔梗</p>
<p>某　間瘧橫連募原者也，轉而為日作，道不遠，氣不深矣，似屬可喜。然有輕重之別，轉者在衛，重者在營，營分之舊邪未已，而衛分又受新邪，新邪包之於外，舊邪更不能消，比之輕重相等，日衰一日者，未可同日語也。至於無痰不作瘧，瘧久傷陰，痰多咳嗽而兼血者，總不出乎此意。</p>
<p>何首烏散合清瘧飲去栝蔞，合何人飲加紫蘇　川貝</p>
<p>周（崇明）　痎瘧皆生於陰，陰者，三陰也。三陰之邪，孰多孰少。少陰雖虛，虛者遺精；太陰獨實，實則面色黃滯；厥陰則虛實各半，寒熱往來，渴喜熱飲，動則兩脅隱痛，所以左脈細小而帶隱弦，右部弦急而滑。欲治其瘧，先重清脾，兼和肝腎，不問可知。況浮腫之邪，尚有留於脘腹者，更宜著手。</p>
<p>清脾飲加首烏　當歸　陳皮　腹皮　蓮鬚　梔子</p>
<p>沈（湘城）　痎瘧八閱月矣。而尚寒重熱輕，頭中脹痛，喜飲熱湯，無汗而解。所感風邪，誠伏三陰之界，而衛中之陽氣，營中之陰血安在哉。法當調和營衛，以使所伏之邪且化且達。</p>
<p>桂枝柴胡湯去芩參，合清脾飲加歸身</p>
<p>薛（嘉善）　不寐心悸，肝病也。病則肝虛，虛則招風，風則寒熱；寒熱之邪襲入肝經，則為痎瘧；痎瘧之邪，布於陽明，則為時病；時病之邪，仍歸肝部，則又變為痎瘧。</p>
<p>大生地　歸身　白芍　秦艽　鱉甲　青蒿　丹皮　川貝　陳皮</p>
<p>胡（光福司）　人生之陰陽皆有樞機，邪從陽樞而出，則為痎瘧；邪從陰機而入，則為泄利。此間三陰大症，雖經十有六發，尚屬邪從外達。昨又加之以泄，日夜四、五十行，又屬邪從內陷。瘧痢並行，元氣更乏。況六旬以外之年，精力久衰，何堪磨耐。假使中土皆旺者，猶可生生不息，乃一飲一食，大減於前，反有痰涎上泛，嘔噦噁心，甚至瘧歇兩日，亦小有寒熱，以昭脾胃營衛，無一不虛。無怪乎神昏遺溺於瘧時，氣墜肛門於痢前，即不熱不痢之際，火升面赤，少寐多煩等症，不一而足。脈息芤弦者如此，大非所宜。病情既有出入，藥餌自宜升降，然升則虛陽隨瘧而升，降則濁陰隨痢而降，各有偏弊，則陰陽更加不固，斟酌其間，惟守中以和營衛，化氣以通膀胱，出一理苓湯法。</p>
<p>理苓湯　（即理中湯合五苓散方）</p>

<h1>便血</h1>
<p>彭（上海）　心肝所生所藏之血，不能統之於脾，滲入下焦，鮮者紫者盡從糞之前後而出，久而久之，面容黑瘦，脈息芤弦，飲食大減，將有浮喘之形。慎之慎之。</p>
<p>黃土湯（阿膠用蒲黃末拌炒）</p>
<p>又：芤弦之革脈稍和，所患諸症，自屬安適，前方的對無疑。所嫌小溲渾濁，內痔作痛，亦須兼理。</p>
<p>黃土湯（阿膠用蒲黃拌炒）　合赤豆當歸散</p>
<p>又：溫通瘀血，革脈已和，獨形芤象，腹痛已除，尚下滲血，痔痛溺濁，飲食雖增，口舌乾痛。陰虛留熱，暗傷營分可知，仿以黑止紅意。</p>
<p>黑地黃丸合赤豆當歸散　槐花散</p>
<p>鄭（寧波）　心生之血，脾氣虛者失其統領之常，不能藏之於肝，反為滲入腸間，血從大便而出，誰曰不然。而不知滲之已久，不獨氣從下陷，而且陰絡暗傷，暗傷所有之血，無不從穿處以行，有如輕車熟路，漫無止期，營衛肌肉，皮毛筋骨，有損無益，自知不覺支持，飲食減少，言語無神，脈形芤澀而數，歸入虛勞重候也。勞者溫之，虛者補之，原屬一定章程，但血之下者，似屬漏卮情狀，如不以久塞其孔之法治之，雖日從事於溫補，亦屬徒然。</p>
<p>黑歸脾合赤石脂　龍骨　牡蠣　阿膠　伏龍肝</p>
<p>馬（上海）　脾統血，肝藏血，統領失常，所藏者少，則左關脈息雖旺而芤，大便之餘，帶血不已，舌苔黃燥者如此，法當清養兼施。</p>
<p>加味歸脾　大生地　地榆</p>
<p>施（吳江）　脾虛不能統血，或脫於上，或脫於下，補脾之虛，以攝其血，尚易為也。惟凝滯於中，中宮變出塊壘者，腹部脹滿，最為難治。難治初非不冶，然亦竟無許治之理。</p>
<p>四物湯合丹參　炒楂　茺蔚　茯苓　炙草</p>

<h1>淋濁</h1>
<p>汪（北壕）　氣淋帶濁，溺後更疼，左脈大，將見血之兆也。速宜靜養。</p>
<p>導赤合大補陰丸加茯神</p>
<p>沈（青浦）　熱鬱下焦，血淋久而不已，脈數，左部帶大。腎水大虧，心火失其所濟，下入小腸而出之膀胱經也。</p>
<p>大補陰丸加牛膝　歸尾　赤小豆　血餘炭</p>
<p>吳（吳江）　陰虧之體，心火下郁小腸，傳入膀胱之府，尿中帶血，時作時止，左脈沉數，小溲不利。</p>
<p>大補陰丸加牛膝合導赤　火府　另服大補陰丸。</p>
<p>李（通州）　腎虛乃膀胱受熱，尿血成淋，脈形沉數，清養為宜。</p>
<p>大補陰丸加歸尾　血餘炭　琥珀屑</p>
<p>邵（乍浦）　欲便不通，不通而痛，此淋也。脈細而見弦數，幹不多飲，必有留熱未清，不獨下虛而已。若論咳嗽，又屬新感。</p>
<p>栝蔞瞿麥湯去附子，加麥冬　杏仁　草梢</p>
<p>蘇（吳江）　夢遺之體，變為淋濁，已經一月之久，尚難向愈，金匱法主之。</p>
<p>栝蔞瞿麥湯去附子，合封髓丹加智仁</p>
<p>梁（長安）　小便頻數而赤，或渾濁，或紫塊，脈象沉數，此淋症也。</p>
<p>大補陰丸加瞿麥</p>
<p>又：膏淋血淋，同病下焦，未有不因乎虛，亦未有不因乎熱。熱如化盡，則膏血之物，庶幾下而不痛，始可以獨責其虛。</p>
<p>大補陰丸合栝蔞瞿麥湯去附子，加牛膝　血餘炭</p>
<p>又：血淋漸止，膏淋亦薄，所患之熱，原有化意，必須化盡乃妥。</p>
<p>照前方加萆薢　黑梔</p>
<p>又：所下之膏，薄且少矣，然當便之時，尚屬不利，已便之後，反覺隱疼，肢膝不溫，脈小左弦，唇紅嗌乾，熱未全愈，虛日益著。</p>
<p>栝蔞瞿麥丸去附子，加萆薢　黑梔　麥冬　豬脊髓</p>
<p>華（盪口）　膏淋變為血淋，久而不已，脈數左弦，腎被熱傷。</p>
<p>大補陰丸加血餘炭　珀屑　歸尾</p>
<p>張（江陰）　膏淋日久，少腹不和，口乾腰楚，腎虛濕熱使然。</p>
<p>栝萎瞿麥丸去附子，加杜仲　萆薢　五倍子　青鹽</p>
<p>馬（乍浦）　小便不利為癃，痛者為淋。淋雖有五，而其致病之由，多屬乎熱，而況水液渾濁，皆屬乎熱，更有明證。</p>
<p>栝蔞瞿麥丸去附子，合導赤加萆薢</p>
<p>錢（常熟）　尿血成塊，小溲作痛，脈數苔膩，濕熱下注使然。</p>
<p>導赤散加淡芩　小薊　血餘炭　赤苓　燈芯　另大補陰丸</p>
<p>嚴（東山）　漏久頭痛之體，水虧木旺，不問可知。邇年小便淋痛，其狀如膿，遷延不已，衰而復盛，然其所出者，不過水濕渾濁，苔白口乾，足冷轉筋，左關脈硬，寸部浮急，右惟濡數而已。必有心火濕熱，下注於腎與膀胱也。理之不易。</p>
<p>栝蔞瞿麥湯合導赤　火府</p>
<p>裘（新街）　血淋日久不痊，加以咳嗽時作，脈息左細右弦，俱見數象，口燥苔黃。想是中宮濕熱，上下充斥，陰液受傷也。</p>
<p>大補陰丸合麥門冬湯</p>
<p>唐（無錫）　胞移熱於膀胱，則癃，溺血。水液渾濁，皆屬於熱。小腸有熱者，其人必痔。具此三者而病於一身，若不以涼血之品，必有性命之憂。</p>
<p>導赤合火府丹加燈芯</p>
<p>丸方：大補陰丸合固本丸　方加萆薢　豬脊髓為丸。</p>
<p>陳（海寧）　心經鬱火，下火小腸，變為淋症。曾經見血者，恐有瘀血內阻而喘，不獨現在之蒸熱口糜為患也。</p>
<p>導赤散加栝蔞根　瞿麥　懷藥　淡芩</p>
<p>金（關上）　尿血成淋，小便時無血亦疼，兩月有餘之病，脈數苔白，嗌乾，濕熱傷陰也。</p>
<p>大補陰丸加車前　麥冬　燈芯　血餘炭</p>
<p>又：血已止，痛未除，病雖減半，尚須小心。</p>
<p>導赤合火府丹　大補陰丸加麥冬　車前　燈芯</p>
<p>又：生心血，通水道。</p>
<p>六味丸加車前　竹葉　另天王補心丹</p>
<p>楊（專諸巷）　曾患淋症，小便本難，近來小便又淋，變為癃閉，少腹硬滿，小便腫脹，苔白不渴，脈小而沉。下焦濕熱被寒所遏，膀胱之氣化不洗，最為急症。恐其喘汗，慎之。</p>
<p>五苓散加木香　烏藥　枳殼　桔梗（二味磨）　蔥（一大杷）　麝香（三釐）　（打成一餅，微溫放臍上。）</p>
<p>周（平望）　濕熱不攘，大筋軟短，小筋弛長，弛長為痿。痿病未痊，又來尿血，近更為淋，脈形細數，陰分更虧，丹溪法主之。</p>
<p>大補陰丸加血餘炭　雞蛋</p>
<p>張（朱家園）　白濁淋症之象，久而不能根除，小溲雖黃，並不作痛，口膩苔濁，嗌乾色滯，濕熱傷精，精從下漏使然。</p>
<p>封髓丹合三豆飲　另豬肚丸</p>
<p>朱（嘉興）　肝腎濕熱，不留於中，必犯於下，下焦膏淋血淋，以及小便無端而痛之氣淋，時發時止。現在膏淋獨見，脈象弦數，白苔滿布，加以氣從少腹左升，仍不外胃家濕熱襲入肝經，攏動精房也。</p>
<p>六味丸　另豬肚丸</p>
<p>又：氣淋不已，勢必兼之乎膏，重之以血，下焦營衛，無不受濕熱所傷。</p>
<p>六味丸（萸肉易芍）　胡連　牡蠣　洋參　另豬肚丸</p>
<p>張（浦東）　濁淋日久，繼之以膏，重之以血，歸入下消門也。</p>
<p>固本丸合黃連解毒湯加沙參</p>
<p>陳（祟明）　濕鬱為熱，變作沙淋，有如煮海為鹽之義。病經半載，左尺脈浮，按之弦數，陰分已傷，正須兼理。</p>
<p>六味丸加海金沙　石葦　知母　黃柏</p>
<p>張（浦東）　痛之緩者，邪之輕也；膏之淋者，陰之虛也。痛減藥亦宜減。</p>
<p>沙參　固本合黃連解毒加萆薢　另豬肚丸</p>
<p>又：血淋雖止，膏則仍然，補陰不足，瀉火有餘。</p>
<p>大補陰丸去豬脊髓，合固本加沙參　萆薢　砂仁　另諸肚丸</p>
<p>又：脾氣下陷，則濕熱隨之，而腎陰之虛者，容易滲入精房。補益中氣之法，調補並行為要。</p>
<p>三才封髓丹合補中益氣湯去朮，加萆薢　另豬肚丸　威喜丸</p>
<p>林（南壕）　淋症見紅，孰不知其為熱，至於見沙，亦煮海為鹽之義，不能不定為熱。熱邪已久，可以或有或無之淋象，是虛多於實也。</p>
<p>固本合大補陰丸加西洋參　石韋　海金沙</p>
<p>林（南壕）　陰虛濕熱，膏淋帶血帶沙，沙與血淋已愈，而膏則仍然虧內，尚帶血沙兩意，脈弦細數，養化為宜。</p>
<p>固本合大補陰丸　黃連解毒加黨參</p>
<p>朱（關上）　陰虛濕熱，白濁血淋，兼而有之，久則氣陷不升，苦不勝言。</p>
<p>補中益氣合三才（用生地）　滋腎丸（煎送）</p>
<p>又：溺病有前後之分。痛在前者，濕熱為多。痛在後者，陰虛為甚。濕熱漸化，溺前之病自衰，陰分仍虛，溺後之疼不罷。</p>
<p>三才封髓丹</p>
<p>陳（太倉）　陰虛則小便難，難之為日已久，變而為淋，溺管中隱痛，海底亦然。然僅有白濁之形，尚無血淋之意，一則以喜，一則以懼，究須謹慎小心。</p>
<p>栝蔞瞿麥丸去附子，加牛膝合導赤散</p>
<p>孔（鞠花亭）　濕熱傷精，夢遺不作，變為白濁下行，而其行之不暢者，留於海底，紅熱作疼，陰虛濕汗，加以瘡瘍外發，脈反郁小而數，舌苔膩白，理之必費周旋。</p>
<p>萆薢分清飲去菖蒲，加龍膽草　車前子　茯苓</p>
<p>魏（姚弄）　白濁成淋，濕熱之邪所致。</p>
<p>萆薢分清飲</p>
<p>周（聞德橋）　腎與膀胱相為表裡，腎虛則溺後餘瀝，膀胱濕熱則溺前見濁，溺之前後同病，而實表裡相通，虛實各半之證也。</p>
<p>三才封髓丹</p>
<p>楊（震澤）　敗精成濁，常流不息，甚至肢體無力，下部不溫，此虛也，當以封法。</p>
<p>三才封髓丹</p>
<p>施（松江）　熱淋變為血淋，脈形細數，細屬陰虧，數為邪火，清補為宜。</p>
<p>大補陰丸合導赤　火府加燈芯　血餘炭</p>
<p>吳（嘉興）　瘧邪與疔毒竄入大經小絡，歸併膏淋。膏淋不罷，邪又流入於腎，肛門前後之氣盤旋痠痛，襲入於沖，左腿內廉之經脈麻木抽痛。病情自上而下，勢必自下而上以出之，不惟化導而已。</p>
<p>萆薢分清飲加升麻　柴胡　陳皮　白芍</p>
<p>又：得汗則淋痛大減，升降同用之法，已為合作。然壅者尚未因宣而全去，滯者亦未因通而全消，所以膏淋不盡，陰莖作癢，肛門與左腿麻木抽疼，留而不去。仍取宣通以盡其邪為妥。</p>
<p>萆薢分清飲加歸尾　白芍　升柴　柴胡　陳皮</p>
<p>陳（海門）　血因胬肉而瘀，瘀在海底，附在筋經，自幼作疼，至今未愈。脈形沉澀，理之不易。</p>
<p>桃仁（七分）　制軍（三分）　炙草（五分）　桂枝（三分）　歸尾（五分）　紅藤（五分）　烏藥　木香（二味未抄藥量）</p>
<p>又：進桃仁承氣湯，當便之時，海底已能不痛，陰莖尚帶癢疼，澀脈漸有和意，顯系所瘀之血，消者已多，而其留落者，一時未能掃除也。去瘀生新為治之中，仍以毒藥寓之。</p>
<p>大生地　當歸　白芍　阿膠　桃仁　桂枝　制軍　丹參</p>
<p>接服方：六味加當歸　丹參　阿膠　赤豆</p>
<p>周（松江）　淋症有五，膏居其一，久而日甚一日，舌苔薄白，脈小左弦，俱見數象。此係濕熱之邪傳入膀胱，且有肝火竄入其中也。不增喘乃妥。</p>
<p>萆薢分清飲加萹蓄（一錢）</p>
<p>又：分理濕熱，淋症仍然，惟淋後之大便，未必如前日隨之而下，所患濕熱，似有分利之機。然腎主二便，開竅於二陰，後陰之竅既隨前陰而欲通，腎亦病焉，不獨肝火從之為患而已。</p>
<p>照前方去萹蓄，加兩頭尖（二十一粒）</p>
<p>施（浙江）　濕熱下注為濁，色黃而濃，諸節痠疼，且兼紅腫，牙齦作脹，飲食不思，舌苔白膩，大便不調，法當分理。</p>
<p>萆薢分清飲，去菖蒲，合導赤加大豆卷　苡仁</p>
<p>程（小園上）　陽虛於下，血痹於中，少腹硬滿如石，小溲滴瀝而下，比之不利為癃更進一層，恐增喘汗而敗。</p>
<p>五苓散加滑石（二錢，包）　白魚（十四個）　木香（一錢五分）　牛膝（一錢五分，鹽水炒）　另抵當丸（五兩，研細末，醋蜜蔥汁調塗硬處）</p>
<p>又：硬者稍紅，癃者稍利，將前方守之可也。</p>
<p>照前方加戎鹽（一分）</p>
<p>又：小便似和而不能暢通，少腹似和而尚硬滿，舌苔濕白，脈息微弦。陽氣大虛，無力以通其痹也。</p>
<p>五苓散加川附（七分）　木香（二錢）　韭子（三錢）　歸尾（七分）　桃仁（一錢五分）　穿山甲（四分）</p>
<p>又：病情如昨，濕白之苔漸變糙色，脈形帶數，所結之邪，鬱而為熱，陽虛難化也。</p>
<p>五苓合滑石白魚散加木香　韭子　檳榔　煎送抵當丸（二錢）</p>
<p>又：大便已通，瘀血食積未有不從此而去，然腹之堅者雖軟，其形尚大，苔色嫩黃，口乾溺熱，脈形弦數，小溲通而不利。濕熱鬱結於膀胱，勢所必致。</p>
<p>四苓合青囊丸加韭子（三錢）　木香　滑石　白魚（四個）　檳榔　沉香（一分）</p>
<p>吳：（吳江）　膏淋日久，往往變作血淋。</p>
<p>知柏（八味）</p>
<p>金（溪港）　血淋日久，泌別無力，不獨小腸之血，傳入膀胱，而已成之糞，未歸大腸者，亦隨小腸之血，滲入膀胱而俱出。昔人云與交腸有間者，大都類此，然則大便之漸秘，不能不早以慮之</p>
<p>八正散</p>

<h1>遺精</h1>
<p>章（江陰）　腎者主蟄，封藏之本，精之處也。精者所以能處於腎者，全在腎氣本足，封藏自不失其所職，如虛則反是，增出脛痠體倦，口苦耳鳴，便堅等症，勢所必然。然左尺之脈，浮而不靜，固昭腎氣下虛。而關部獨大、獨弦、獨數，舌苔黃燥，厥陰肝部又有濕熱之邪，助其內火。火動乎中，必搖其精，所謂肝主疏泄是也。虛則補之，未始不合，實則瀉之，更為要著。</p>
<p>三才封髓丹加龍膽草　黑梔　柴胡</p>
<p>又：久積之濕熱從大便而泄，且兼穢濁之氣，從上而出，未始不可。然久病之體，脾胃元氣內虧，又不宜再下，當從守中法。</p>
<p>異功散加白芍　荷蒂　粳米</p>
<p>又：大便暢行，干苦亦愈，左關之脈大者已小，弦數仍然，尺亦未靜，可以前方加減。</p>
<p>三才封髓丹加茯神　膽草　柏子仁</p>
<p>又：大便已和，脈形弦數，數為有火，弦主乎肝，肝經既屬有火，不但順乘中土，而且容易搖精，精雖四日未動，究須小心。</p>
<p>三才封髓丹加陳皮　白芍　另豬肚丸</p>
<p>彭（江陰）　肉雖為牆，筋不為剛，良由無夢而遺，腎虛不能攝精，失其作強之司耳。</p>
<p>三才封髓合水陸二仙加龍骨　牡蠣　五味</p>
<p>馬（王莊）　精濁日久，尚未了了，又夢遺見血，顯系精血內虧，俱被濕熱所傷，所以左脈細小，右脈弦數。</p>
<p>三才封髓丹　另豬肚丸</p>
<p>施（蘆店）　夢遺日久，腰部作痠，是腎虛也。脈形濡小，左寸過大，舌苔白膩，濕熱傷精而動者有之；心火太旺，不能下交於腎，腎氣下泄者亦有之。此兩端為要，不獨填精補髓而已。</p>
<p>熟地　歸身　杜仲　炙甘草　於術　茯神　棗仁　半夏　陳皮　黨參</p>
<p>彭（溧陽）　肝主疏泄，腎主封藏，疏泄太過，封藏失職，夢遺時作，小便餘瀝，甚至腰背俱痛，足膝無力，苔白舌紫，脈形細小，左關獨大獨弦。久而久之，寒熱溫涼之品，備嘗不愈，想是藥之難得其宜也。</p>
<p>九龍丹去萸肉加炒楂　龍膽草</p>
<p>又：肝腎兩經都被濕熱所傷，以致精房不固，所以左關脈息獨大獨弦，余則皆形細小也。</p>
<p>九龍丹加膽草　牡蠣　另豬肚丸　威喜丸</p>
<p>葉（上海）　腎者主蟄，封藏之本，欲本之固，勢必大補腎陰。</p>
<p>九龍丹去蓮肉須加，黨參　固本丸</p>
<p>陸（常熟）　肝主疏泄，腎主封藏。封藏之失職，都從疏泄而來。</p>
<p>三才封髓丹　另豬肚丸　威喜丸</p>
<p>徐（太倉）　腎者主蟄，封藏之本，精之處也。精乃無夢而遺，腎失封藏之本，未有不用蟄方。蟄者，蟄其精也，然精之所遺，已有三年之久，陰分暗虛，虛者熱從內起，蒸之於衛，則肌膚灼熱；郁之於營，則手足心熱。現在手足之心獨熱，口乾多飲，脈來細數，甚至氣不宣通，背脊　疼，少腹不和，肢體無力，病勢有加無已，竊恐夏至之一陰不生，而有多將熇熇，不可救藥之嘆。擬四物二連合清骨飲法，先化其熱，後繼之以補陰封髓，循循有序，則庶幾焉。</p>
<p>四物　二連　清骨飲去青蒿，加韭子　藕汁</p>
<p>又：進前方，背脊之痠痛，隨即向愈，而內熱之蒸蒸，尚與前日相同，此如不罷，勢必津液重傷，早以甘露法參入用之，未始非防微杜漸之一術也。</p>
<p>四物去芎，加二連　淡芩　骨皮　川斛　大生地　麥冬　天冬　枇杷露　藕汁</p>
<p>馬（胥門）　無夢而遺，勞則為甚，且兼形寒膝痠。此脾胃兩虧，封藏不固於內，衛陽失護於外也。</p>
<p>補中益氣合封髓加制首烏　牡蠣</p>
<p>又（師轉）　形之寒，膝之痠，與衛陽之法而愈，即無夢而遺，亦未再作，未始無固精之功也。然腎為先天之本，三陰之蒂，腎氣足則精處其室，而關門自固，腎氣虛則封藏失職，而無夢自遺。當以九龍法繼之於後。</p>
<p>九龍丹</p>
<p>朱（橫涇）　腎主二便，開竅於二陰，大便一用其力，精先外泄，是腎虛也。</p>
<p>河車大造丸</p>
<p>吳（四擺渡）　遺精有三，每以瓶中貯水者為譬。此間脈息，不浮不沉，左關一部獨見大弦，既非水滿之覆，又非瓶破之漏，是肝經火旺，搖動其精，有如瓶中水，外被物所激而出也。</p>
<p>加味黑歸脾去遠志，加龍膽草</p>
<p>丸方：三才封髓加味　黑歸脾加牡蠣</p>
<p>飛屍遁注（癆瘵之別稱，言其相互傳染之義）</p>
<p>史（通州）　風邪從陽而親上，加以屍氣和之為脹。</p>
<p>桑皮　陳皮　羌活　防風　枳殼　桔梗　水安息（一錢）　獺肝（五分，磨沖）</p>
<p>施（崇明）　途中遇風作痛，痛從胃脘之上，後及於背，旁及於臂，動則如此，靜則可安，已經一載有餘，不能向愈。脈小而沉弦，想是冷風中必有飛屍遁注之邪，附而和之為患。</p>
<p>獺肝（一錢）　水安息（二分）　木香　四七湯加橘紅</p>

<h1>婦人</h1>
<p>畢（洞橋圩）　一陰一陽結，謂之喉痹，所痹所結，仍不離乎一陰一陽之界，然其所以致此，實系乎陽明濕熱薰蒸於上，是以久而久之，地道漸形其閉，飲食難以下咽，甚至邪傳奇經，帶下赤白，氣怯神倦，脈軟頭暈且眩，不克支持也。防脫。</p>
<p>大熟地　西黨參　淡天冬　牛膝　紫石英　川貝　當歸身　鹿角霜　龜版膠　竹瀝　生甘草　椿根皮</p>
<p>又：進前方一劑，飲食之下咽者稍易，夜來得寐，晨起暢吐濁痰。想是衝脈隸於陽明，陽明之濕熱漸化，衝脈之逆氣亦能稍和。然須日有起色，庶免喘脫。</p>
<p>照前方</p>
<p>曹（太湖上）　經期落後，帶下綿綿，牙齦腫腐，心悸且嘈，兩耳時鳴，口中乾燥。血虛生熱，濕鬱為熱，二者皆傷八脈也。當從八脈立方。</p>
<p>椿皮丸　四物湯去芎，加鹿角霜　龜版膠　茯神　紫石英　沙參</p>
<p>王（太倉）　產後感冒風邪，膚熱形瘦，口乾腰痛，褥勞根也。</p>
<p>四物湯加豬腰子　蔥白合瀉白散加二母　紫蘇</p>
<p>朱（武進）　血崩後寒熱咳嗽，久而不已，腋下結核，足跗浮腫，脈細弦數，陰虧血弱之體，外感風邪，無力以消化，往往遷延日久，變作虛損，勿以吐血不多而忽之。</p>
<p>地骨皮飲去芎，加青蒿　鱉甲　川貝　知母　枇杷露</p>
<p>陸（南潯）　少腹之瘕聚及脘中脹痛，經年不愈，皮膚甲錯，大便反溏，脈形細澀，飲食不思，難以支持也。防脫。</p>
<p>四物湯（用生地）　制蠶　童便</p>
<p>龔（湘城）　婦人首重調經，經調則百病不生，此間之月事，或趨前，或落後，責在氣不調也。所以當來之日，逆氣裡急，即在平時，帶下腰痠，頭暈心悸，少寐耳鳴，諸虛不足之象，竟難脫體。非補不可，非調亦不可。</p>
<p>四烏湯去芎，加香附　紫石英　杜仲　龜版　蓮鬚　甘菊　茯神</p>
<p>周（平湖）　女子以肝為先天，先天不足，月事不來，兩目乾澀，左關脈息弦而且數且浮。肝經氣火，少降多升也。</p>
<p>生地　歸身　白芍　桑葉　芝麻　牛膝　甘菊　川貝　丹皮　香附　女貞　石決明</p>
<p>郁（江陰）　寒熱兩月有餘而愈，然熱尚獨留而不能退清者久矣，加之以腹大，重之以癥結，攻痛夜劇，月事不來，飲食遞減，大便或溏或結，脈象弦而帶澀，帶下綿綿，肌肉瘦削，口舌乾苦。寒凝血滯，八脈皆虛，棘手之候也。奈何！</p>
<p>紫石英（一錢）　龜版（一錢）　鹿角霜（三錢）　當歸（一錢）　白薇（三錢）　白馬尿（三酒杯）　香附（一錢）　制蠶（三錢）　童便（一酒杯）</p>
<p>又：癥結漸消，攻痛自除，腹之大者，亦從此漸和，大快事也。然口舌之干苦仍然，身體之留熱加劇，帶下雖少，月事未來，飲食遞減，大便帶黑，脈形弦細。八脈交虛，餘邪未盡，形神俱奪者如此，容易反復，慎之慎之。</p>
<p>當歸　白芍　川芎　大生地　骨皮　丹皮　鹿角霜　龜版　白薇　紫石英　香附　制蠶　童便</p>
<p>陳（楓橋）　月事不來者，胞脈閉也。任主胞胎，任脈為病，女子得之，往往帶下瘕聚。此間帶下赤色，瘕聚攻痛，如是者久矣，已屬重候。加之以內熱口乾，咳嗽音爍，痰曾帶血，少納肉削，右脈澀，左關弦數，自下而損及於上，何從下藥乎！況因病而用藥物，因藥物而反增其病，變作真寒假熱之體，自古以來，本無治法，作法治之，難又難矣。</p>
<p>椿根皮丸　鹿角霜　紫石英　歸身　北沙參　龜版　麥冬　川貝　茯苓　陳皮　西黃　菸灰</p>
<p>陸（江陰）　經盡之年，月事尚來而無血色，是土敗也，血枯也，氣虛不能收攝也。無怪乎久而不止，面浮跗腫，嗌乾心悸，飲食無味，脈息少神，接踵而來，以昭不克支持之兆。</p>
<p>烏賊魚骨（三錢）　茜草炭　八珍湯去芎，加鹿角霜　紫石英　龜版</p>
<p>俞（徽州）　婦人首重調經，然經有氣血之別，又有虛實之分。此間經水前後不調，加之未來之前，脘腹肢節無不作疼，通則即已，是氣滯也。所見之紅色尚正，而不如往日之多，是血弱也。氣滯為實，血弱為虛，二者皆不調和，焉能再孕。然則欲再孕之，勢必既和其氣，更補其血，以使營衛二十五度各得其常，庶乎近理。至於脘脅時疼，寤寐違和，口乾內熱，心悸腰楚，亦營衛不調中之見證，兼理而已。權以逍遙散一補其血虛，一和其氣滯者，並駕齊驅小試之。</p>
<p>丸方：八珍合烏骨雞丸　青囊丸加杜仲　丹皮　阿膠　逍遙散（用茯神）　制香附　棗仁　遠志　木香　丹皮</p>
<p>周（烏鎮）　脾主濕，濕生痰，痰生熱，三者之邪，層出不窮，無一而非脾病。氣一病則飲食或多或少，咳嗽時盛時衰，自汗或輕或重，舌上之苔，黃白相兼，口中之味，干苦不和，四肢易腫，指節不舒，經前腹痛，如是者久矣。將來緩以調之，權以湯法。</p>
<p>麥冬　北沙參　川貝　甘草　蛤殼　浮石　淮麥　香附　紫貝齒　茯神　白薇　苡仁　枇杷露</p>
<p>丸方：大生地（四兩）　歸身（二兩）　白芍（二兩）　香附（二兩）　麥冬（二兩）　白螺螄殼（三兩）　白薇（二兩）　冬朮（二兩）　阿膠（二兩）　牡蠣（三兩）　淡芩（一兩）　蔞皮（一兩）　茯苓（四兩）　川貝（三兩）　蛤殼（三兩）　紫貝齒（三兩）　苡仁（三兩）　橘紅（二兩）　上為細末，淡蜜水為丸。</p>
<p>某　月事不來者，胞脈閉也。胞脈者，屬心而絡於胞中。今氣上迫肺，心氣不得下通，故月事不來也。《內經》已言經閉者，上氣迫肺而作乾咳之形，無怪乎病經五月，加以營虛則發熱，衛虛則惡寒，欲成「一損損於肺，二損損於心」之見證。擬復脈湯與加味瀉白散。</p>
<p>炙甘草湯去薑、麻仁，合瀉白　淡芩　棗仁</p>

<h1>瘀血</h1>
<p>朱（王場河頭）　多氣多血，莫甚於陽明。胃府每以下行為順，滋乃逆而上行，血之盈盆盈盞，皆被氣之上升，多且久矣，久則難免鬱而為熱，喉痹失音於上，當臍作痛於中，痹則恐其妨食，痛則更慮其喘厥。脈形細澀而數，中沉兩按皆屬有力，因病致虛，理之棘手。</p>
<p>蘆根　絲瓜絡　苡仁　牛膝　冬瓜子　雪羹湯（荸薺、海蜇）</p>
<p>陳（蕭家巷）　瘧後中脘痞堅，得食則脹，加以咳嗽鼻衄，苔白舌紅，血中壅熱，氣分多痰，非勞即臌之根。速為醫治。</p>
<p>雪羹合瀉白散加杏仁　茯苓　茅花　枇杷葉</p>
<p>朱（王場河頭）　氣者，血之帥也，氣行則血亦行，氣滯則血亦痹。陽明之氣失其下行，陽明之血亦從此內痹。痹之既久，又郁為熱，雖從咳嗽痰血分消，不足以泄其勢，瘀塞於迴腸曲折之處，當臍作痛，捫之覺熱，二便不利，左足之經筋有時抽痛，脈來澀數，按之有力，腸間有壅塞成癰之象。將《金匱》法參入前方。</p>
<p>制軍　丹皮　冬瓜子　桃仁　絲瓜子　苡仁　玄明粉　敗醬草</p>
<p>周（震澤）　前方進後，汗出如雨，大便同和，飲食不脹，陽已漸升，胃亦得益，所患之邪，自下而達之於上，自內而出之於外，大快事也。然下利尚未全和，口舌乾燥，氣虛液耗之時，尚須前法加減。</p>
<p>黨參　冬朮　茯苓　炙草　黃耆　川連　半夏　澤瀉　白芍</p>
<p>吳（西津橋）　少腹堅硬如石，隱隱作疼，小便不利如癃，又見不約遺溺，瘀血阻氣使然。理之棘手。</p>
<p>抵當丸（二兩），研為細末，取蔥汁、白蜜調敷患處。</p>
<p>又：昨法之下，當臍之痛稍和，日間小便不利，夜臥又見遺尿，少腹自覺氣墜，當溺必作淋疼，究其所以然者，寒熱後濕熱夾瘀，復又阻氣，鬱於其間，理之殊屬棘手。</p>
<p>逍遙散加韭子（三錢）　抵當丸（二兩）</p>
<p>又：逍遙者，消散其氣滯，搖動其血鬱也。既消既搖之下，少腹之上部已軟，溺之淋痛可輕，滯欲散而鬱欲開也。但毛際之間，尚屬有形，按之堅硬作疼，溺時仍然滴瀝，交睫又覺自遺，脈弦數小，氣墜未升，經言淫氣遺溺，痹聚在腎。痹聚者，濕氣聚而為痹也。古人治此，必以辛潤為主，蓋辛能散濕，潤能就下故也。</p>
<p>韭子　歸身　赤芍　桑螵蛸　木通　滑石　白魚（十四個）　雞內金</p>

<h1>種子</h1>
<p>江（興化）　右尺相火之脈，宜大而不宜小，小則相火必衰，焉能有子。年未四十，當從再索得男立法，然肝火偏旺，動則心君之火不能下交於腎，腎精尤易疏泄，所以左關一部，弦得太過也。兩者不和，調之本非易易，權以盪滌法，然後緩以調之。</p>
<p>香砂六君（用香附）　加白芍　菟絲子</p>
<p>丸方：五味子（一斤）　大熟地（八兩）　西黨參（八兩）　甘杞子（四兩）　菟絲子（三兩）　覆盆子（四兩）　生於術（二兩）　製半夏（二兩）　新會皮（二兩）　真坎炁（十條）　雲茯苓（三兩）　炙甘草（一兩）　綿黃耆（四兩）　煉蜜為丸，每服三錢，淡鹽湯下。夜服（一錢五分）。服此丸方，切戒豬肉，方能有子。</p>
<p>某（興化）　陽道不舉，舉則即泄。可以丸藥圖之。</p>
<p>大熟地（八兩）　黨參（八兩）　首烏（六兩）　龍骨（二兩）　訶子肉（五分）　硃砂（五錢）　五味子（八錢）　杞子（二兩）　牡蠣（四兩）　金櫻子（三兩，去毛）　菟絲子（三兩）　覆盆子（一錢）　煉蜜為丸，再用硃砂為衣。</p>
<p>彭（溧陽）　丸方：大訶子皮（五個）　白龍骨（八兩）　硃砂（二錢五分）　砂仁（五錢）　（上方即秘元丹，亦名秘真丸）　上為細末，取糯米煮爛糊丸如綠豆大，用硃砂（二錢五分）泛上為衣，空心淡鹽湯中滴入煮酒少許，送下兩丸。</p>
