<header data-type="book">
<h1>華氏中藏經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>華佗</dd></div>
<div><dt>朝代</dt><dd>東漢</dd></div>
<div><dt>年份</dt><dd><data value="0145/0208">公元145年至公元208年</data></dd></div>
<div><dt>底本</dt><dd>掃葉山房藏清嘉慶05年刊本（<a href="https://www.digital.archives.go.jp/file/1079547">国立公文書館掃描本</a>）；<a href="https://archive.org/details/02093599.cn">北京大學圖書館掃描本</a>。</dd></div>
</dl>
</header>

<h1>序</h1>
<p>華氏中藏經。見鄭樵通志藝文略。為一卷。陳振孫書錄解題。同雲漢譙郡華陀元化撰。宋史藝文志。華氏作黃蓋誤。今世傳本有八卷。吳勉學刊在古今醫統中。余以乾隆丁未年入翰林。在都。見趙文敏手寫本。卷上。自第十篇性忌則脈急以下起。至第二十九篇為一卷。卷下。自萬應丸藥方至末為一卷。失其中卷。審是真跡。後歸張太史錦芳。其弟錄稿贈余。又以嘉慶戊辰年。乞假南歸。在吳門見周氏所藏元人寫本。亦稱趙書。具有上中下三卷。而缺論診雜病必死候第四十八。及察聲色形證決死法第四十九。兩篇。合前後二本。校勘明本。每篇脫落舛誤。凡有數百字。其方藥名件次序分量。俱經後人改易。或有刪去其方者。今以趙寫兩本為定。此書文義古奧。似是六朝人所撰。非後世所能假託。考隋書經籍志。有華佗觀形察色。並三部脈經一卷。疑即是中卷。論診雜病必死候以下二篇。故不在趙寫本中。未敢定之。鄭處中之名不見書傳。陳振孫亦云自言為華先生外孫。稱此書因夢得於石函。莫可考也。序末稱甲寅秋九月序。古人亦無以干支紀歲。不著歲字者。疑其序偽作。至一卷三卷八卷分合之異。則後人所改。趙寫本。旁註有高宗孝宗廟諱。又稱有庫本。陸本異同。是依宋本手錄。元代不避宋諱。而不更其字。可見古人審慎闕疑之意。此書四庫書既未錄存。又兩見趙寫善本。急宜刊刻以公同好。卷下萬應丸等。皆以丸散治疾。而無湯藥古人配合藥物分量。案五臟五味。配以五行生成之數。今俗醫任意增減。不識君臣佐使。是以古人有不服藥為中醫之嘆。要知外科丸散。率用古方分量。故其效過於內科。此即古方不可增減之明證。余所得宋本醫學書甚多。皆足證明人改亂古書之謬。惜無深通醫理者。與共證之。</p>
<p><u>嘉慶十三年太歲戊辰十月四日。孫星衍撰序於安德使署之平津館。</u></p>

<h1>卷上</h1>

<h2>人法於天地論第一</h2>
<p>人者上稟天。下委地。陽以輔之。陰以佐之。天地順則人氣泰。天地逆則人氣痞。是以天地有四時五行。寒暄動靜。其變也喜為雨。怒為風。結為霜。張為虹，此天地之常也。人有四肢五臟。呼吸寤寐。精氣流散。行為榮。張為氣。發為聲。此人之常也。陽施於形。陰慎於精。天地之同也。失其守。則蒸而熱發。痞而寒生。結作癭瘤。陷作癰疽。盛而為喘。減而為枯。彰於面部。見於形體。天地通塞。一如此矣。故五緯盈虧。星辰差忒。日月交蝕。彗孛飛走。乃天地之災怪也。寒暄不時。則天地之蒸否也。土起石立。則天地之癰疽也。暴風疾雨。則天地之喘乏也。江河竭耗。則天地之枯焦也。鑑者決之以藥。濟之以針。化之以道。佐之以事。故形體有可救之病。天地有可去之災。人之危厄死生。稟於天地。陰之病也。來亦緩而去亦緩。陽之病也。來亦速而去亦速。陽生於熱。熱而舒緩。陰生於寒。寒則拳急。寒邪中於下。熱邪中於上。飲食之邪中於中。人之動止本乎天地。知人者有驗於天。知天者必有驗於人。天合於人。人法於天。見天地逆從。則知人衰盛。人有百病。病有百候。候有百變。皆天地陰陽逆從而生。苟能窮究乎此。如其神耳。</p>

<h2>陰陽大要調神論第二</h2>
<p>天者陽之宗。地者陰之屬。陽者生之本。陰者死之基。天地之間。陰陽輔佐者人也。得其陽者生。得其陰者死。陽中之陽為高真。陰中之陰為幽鬼。故鍾於陽者長。鍾於陰者短。多熱者陽之主。多寒者陰之根。陽務其上。陰務其下。陽行也速。陰行也緩。陽之體輕。陰之體重。陰陽平。則天地和而人氣寧。陰陽逆。則天地否而人氣厥。故天地得其陽則炎熾。得其陰則寒凜。陽始於子前。末於午後。陰始於午後。末於子前。陰陽盛衰。各在其時更始更末。無有休息。人能從之亦智也。金匱曰。秋首養陽。春首養陰。陽勿外閉。陰勿外侵火出於木。水生於金。水火通濟。上下相尋。人能循此。永不湮沉。此之謂也。嗚呼凡愚。豈知是理。舉止失宜。自致其罹。外以風寒暑濕。內以飢飽勞役為敗。欺殘正體。消亡正神。縛絆其身死生告陳。殊不知脈有五死。氣有五生。陰家脈重。陽家脈輕。陽病陰脈則不永。陰病陽脈則不成。陽候多語。陰症無聲。多語者易濟。無聲者難榮。陽病則旦靜。陰病則夜寧。陰陽運動。得時而行陽虛則暮亂。陰虛則朝爭。朝暮交錯。其氣厥橫。死生致理。陰陽中明。陰氣下而不上曰斷絡。陽氣上而不下曰絕經。陰中之邪曰濁。陽中之邪曰清。火來坎戶。水到離扃陰陽相應。方乃和平。陰不足則濟之以水母。陽不足則助之以火精。陰陽濟等。各有攀陵。上通三寸。曰陽之神路。下通三寸。曰陰之鬼程。陰常宜損。陽常宜盈。居之中者陰陽勻停。是以陽中之陽。天仙賜號。陰中之陰。下鬼持名順陰者多消滅。順陽者多長生。逢斯妙趣。無所不靈。</p>

<h2>生成論第三</h2>
<p>陰陽者天地之樞機。五行者陰陽之終始。非陰陽則不能為天地。非五行則不能為陰陽。故人者成於天地。敗於陰陽也。由五行逆從而生焉。天地有陰陽五行。人有血脈五臟。五行者金木水火土也。五臟者肺肝心腎脾也。金生水。水生木。木生火。火生土。土生金。則生成之道。循環無窮。肺生腎。腎生肝。肝生心。心生脾。脾生肺。上下榮養。無有休息。故金匱至真要論云。心生血。血為肉之母。脾生肉。肉為血之舍。肺屬氣。氣為骨之基。腎應骨。骨為筋之本。肝系筋筋為血之源。五臟五行。相成相生。晝夜流轉。無有始終。從之則吉。逆之則凶。天地陰陽。五行之道。中含於人。人得者可以出陰陽之數。奪天地之機。悅五行之要。無終無始。神仙不死矣。</p>

<h2>陽厥論第四</h2>
<p>驟風暴熱。雲物飛揚。晨晦暮晴。夜炎晝冷。應寒不寒。當雨不雨。水竭土壞。時歲大旱。草木枯悴。江河乏涸。此天地之陽厥也。暴壅塞。忽喘促。四肢不收。二腑不利。耳聾目盲。咽乾口焦。舌生瘡。鼻流清涕。頰赤心煩。頭昏腦重。雙睛似火。一身如燒。素不能者乍能。素不欲者乍欲。登高歌笑。棄衣奔走。狂言妄語。不辨親疏。發躁無度。飲水不休胸膈膨脹腹與脅滿悶。背疽肉爛。煩潰消中。食不入胃。水不穿腸。驟腫暴滿。叫呼。昏冒。不省人事。疼痛不知去處。此人之陽厥也。陽厥之脈。舉按有力者生。絕者死。</p>

<h2>陰厥論第五</h2>
<p>飛霜走雹。朝昏暮靄。雲雨飄颻。風露寒冷。當熱不熱。未寒而寒。時氣霖霪。泉生田野。山摧地裂。土壞河溢。月晦日昏。此天地之陰厥也。暴啞卒寒。一身拘急四肢拳攣。唇青面黑。目直口噤。心腹滿痛。頭頷搖鼓。腰腳沉重。語言謇澀。上吐下瀉。左右不仁。大小便活。吞吐酸淥。悲憂慘慼。喜怒無常者。此人之陰厥也。陰厥之脈。舉指弱。按指大者生。舉按俱絕者死。一身悉冷。額汗自出者亦死。陰厥之病。過三日勿治。</p>

<h2>陰陽痞格論第六</h2>
<p>陽氣上而不下曰痞。陰氣下而不上。亦曰痞。陽氣下而不上曰格。陰氣上而不下。亦曰格。痞格者謂陰陽不相從也。陽奔於上則燔。脾肺生其疽也。其色黃赤。皆起於陽極也。陰走於下則冰。腎肝生其厥也。其色青黑。皆發於陰極也。疽為黃疽也。厥為寒厥也。由陰陽痞格不通而生焉。陽燔則治以水。陰厥則助以火。乃陰陽相濟之道耳。</p>

<h2>寒熱論第七</h2>
<p>人之寒熱往來者。其病何也。此乃陰陽相勝也。陽不足則先寒後熱。陰不足則先熱後寒。又上盛則發熱。下盛則發寒。皮寒而燥者陽不足。皮熱而燥者陰不足。皮寒而寒者陰盛也。皮熱而熱者陽盛也。發熱於下。則陰中之陽邪也。發熱於上。則陽中之陽邪也。寒起於上。則陽中之陰邪也。寒起於下。則陰中之陰邪也。寒而頰赤多言者。陽中之陰邪也。熱而面青多言者。陰中之陽邪也。寒而面青多言者。陰中之陰邪也。若不言者。不可治也。陰中之陰中者。一生九死陽中之陽中者。九生一死。陰病難治。陽病易醫。診其脈候。數在上則陽中之陽也。數在下則陰中之陽也。遲在上則陽中之陰也。遲在下則陰中之陰也。數在中則中熱。遲在中則中寒。寒用熱取。熱以寒攻。逆順之法。從乎天地。本乎陰陽也。天地者人之父母也。陰陽者人之根本也。未有不從天地陰陽者也。從者生。逆者死。寒之又寒。熱之又熱者生。金匱大要論云。夜發寒者從。夜發熱者逆。晝發熱者從。晝發寒者逆。從逆之兆。亦在乎審明。</p>

<h2>虛實大要論第八</h2>
<p>病有臟虛臟實。腑虛腑實。上虛上實。下虛下實。狀各不同。宜深消息。腸鳴氣走。足冷手寒。食不入胃。吐逆無時。皮毛憔悴。肌肉皺皴。耳目昏塞。語聲破散。行步喘促。精神不收。此五臟之虛也。診其脈。舉指而活。按之而微。看任何部以斷其臟也。又按之沉、小、弱、微、短、澀、軟、濡。俱為臟虛也。虛則補益。治之常情耳。飲食過多。大小便難。胸膈滿悶。肢節疼痛。身體沉重。頭目昏眩。唇腫脹。咽喉閉塞。腸中氣急。皮肉不仁。暴生喘乏。偶作寒熱。瘡疽並起。悲喜時來。或自痿弱。或自高強。氣不舒暢。血不流通。此臟之實也。診其脈。舉按俱盛者實也。又長、浮、數、疾、洪、緊、弦、大。俱曰實也。看在何經而斷其臟也。頭疼目赤。皮熱骨寒。手足舒緩。血氣壅塞。丹瘤更生。咽喉腫痛。輕按之痛。重按之快。食飲如故。曰腑實也。診其脈。浮而實大者是也。皮膚瘙癢。肌肉䐜脹。食飲不化。大便滑而不止。診其脈。輕手按之得滑。重手按之得平。此乃腑虛也。看在何經而正其時也。胸膈痞滿。頭目碎痛。飲食不下腦項昏重。咽喉不利。涕唾稠黏。診其脈。左右寸口。沉結實大者上實也。頰赤心忪。舉動顫慄。語聲嘶嘎。唇焦口乾。喘乏無力。面少顏色。頤頷腫滿。診其左右寸。脈弱而微者。上虛也。大小便難飲食如故。腰腳沉重臍腹疼痛。診其左右手脈尺中脈伏而澀者。下實也。大小便難。飲食進退。腰腳沉重。如坐水中。行步艱難。氣上奔沖夢寐危嶮診其左右尺中。脈滑而澀者。下虛也。病人脈微澀、短、小。俱屬下虛也。</p>

<h2>上下不寧論第九</h2>
<p>脾病者上下不寧。何謂也。脾。上有心之母。下有肺之子。心者血也。屬陰。肺者氣也。屬陽。脾病則上母不寧。母不寧。則為陰不足也。陰不足則發熱。又脾病則下子不寧。子不寧。則為陽不足也。陽不足則發寒。脾病則血氣俱不寧。血氣不寧。則寒熱往來。無有休息。故脾如瘧也。謂脾者土也。心者火也。肺者金也。火生土。土生金。故曰上有心母。下有肺子。脾居其中。病則如斯耳。他臟上下。皆法於此也。</p>

<h2>脈要論第十</h2>
<p>脈者。乃氣血之先也。氣血盛則脈盛。氣血衰則脈衰。氣血熱則脈數。氣血寒則脈遲。氣血微則脈弱。氣血平則脈緩。又長人脈長。短人脈短（趙寫本。起性急則脈急。）性急則脈急。性緩則脈緩。反此者逆。順此者從也。又諸數為熱。諸遲為寒。諸緊為痛。諸浮為風。諸滑為虛。諸伏為聚。諸長為實。諸短為虛。又短、澀、沉、遲、伏、皆屬陰。數、滑、長、浮、緊、皆屬陽。陰得陰者從。陽得陽者順。違之者逆。陰陽消息。以經而處之。假令數在左手。得之浮者熱入小腸。得之沉者熱入於心。余皆仿此。</p>

<h2>五色（一作絕）脈論第十一</h2>
<p>面青。無右關脈者。脾絕也。面赤無右寸脈者。肺絕也。面白。無左關脈者。肝絕也。面黃。無左尺脈者。腎絕也。面黑。無左寸脈者。心絕也。五絕者死。夫五絕當時即死。非其時則半歲死。然五色雖見。而五脈不見。即非病者矣（以下趙寫本缺。）</p>

<h2>脈病外內證決論第十二</h2>
<p>病風人。脈腎數浮沉。有汗出不止。呼吸有聲者死。不然則生。病氣人。一身悉腫。四肢不收。喘無時。厥逆不濕。脈候沉小者死。浮大者生。病勞人。脫肛。骨肉相失。聲散。嘔血。陽事不禁。夢寐交侵。呼吸不相從。晝涼夜熱者死。吐膿血者亦死。其脈不數有根蒂者。及頰不赤者生。病腸澼者。下膿血。病人脈急皮熱。食不入。腹脹目瞪者死。或一身厥冷。脈沉細而不生者亦死。食如故。脈沉浮有力而不絕者生。病熱人。四肢厥。脈弱。不欲見人。食不入。利下不止者死。食入。四肢溫。脈大。語狂。無睡者生。病寒人。狂言不寐。身冷。脈數。喘息。目直者死。脈有力而不喘者生。陽病人（此篇精神顛倒以上。趙寫本亦缺。）精神顛倒。寐而不惺。言語失次。脈候浮沉有力者生。無力。及食不入胃。下利不定者死。久病人。脈大身瘦。食不充腸。言如不病。坐臥困頓者死。若飲食進退。脈小而有力。言語輕嘶。額無黑氣。大便結澀者生。大凡陽病陰證。陰病陽證。身瘦脈大。肥人脈衰。上下交變。陰陽顛倒。冷熱相乘。皆屬不吉。從者生。逆者死治療之法。宜深消息。</p>

<h2>生死要論第十三</h2>
<p>凡不病而五行絕者死。不病而性變者死。不病而暴語妄者死。不病而暴不語者死。不病而暴喘促者死。不病而暴強厥（一作中。）者死。不病而暴目盲者死。不病而暴耳聾者死。不病而暴痿緩者死。不病而暴腫滿者死。不病而暴大小便結者死。不病而暴無脈者死。不病而暴昏冒如醉者死。此皆內氣先盡（一作絕。）故也。逆者即死。順者二年。無有生者也。</p>

<h2>病有災怪論第十四</h2>
<p>病有災怪。何謂也病者應寒而反熱。應熱而反寒。應吐而不吐。應瀉而不瀉。應汗而不汗。應語而不語。應寐而不寐。應水而不水。皆屬災怪也。此乃五臟之氣不相隨從而致之矣。四逆者不治。四逆者謂主客運氣俱不得時也。</p>

<h2>水法有六論第十五</h2>
<p>病起於六腑者陽之系也。陽之發也。或上或下。或內或外。或蓄在中行之極也。有能歌笑者。有能悲泣者。有能奔走者。有能呻吟者。有自委曲者。有自高賢者。有寤而不寐者。有能食而不便利者。有不能食而便自利者。有能言而聲清者。有不能言而聲昧者。狀各不同皆生六腑也。喜其通者因以通之。喜其塞者因以塞之。喜其水者以水濟之。喜其冰者以冰助之。病者之樂慎勿違背。亦不可強抑之也。如此從順。則十生其十。百生其百。疾無不愈矣。</p>

<h2>火法有五論第十六</h2>
<p>病起於五臟者。皆陰之屬也。其發也。或偏枯。或痿躄。或外寒而內熱。或外熱而內寒。或心腹膨脹。或手足拳攣。或口眼不正。或皮膚不仁。或行步艱難。或身體強硬。或吐瀉不息。或疼痛不寧。或暴無語。或久無音。綿綿默默。狀若死人。如斯之候。備出於陰。陰之盛也。陽必不足。陽之盛也。陰必不盈。故前論雲陽不足則助之以火精。陰不足則濟之以水母者是也。故喜其汗者汗之。喜其溫者溫之。喜其熱者熱之。喜其火者火之。喜其湯者湯之。溫熱湯火。亦在其宜。慎勿強之。如是則萬全其萬。水火之法真陰陽也。治救之道。當詳明矣。</p>

<h2>風中有五生死論第十七</h2>
<p>風中有五者。謂肝心脾肺腎也。五臟之中。其言生死狀各不同心。風之狀（一作候。）汗自出。而好偃仰。臥不可轉側。言語狂妄。若唇正赤者生。宜於心俞灸之。若唇面或青。或黃。或白。或黑。其色不定。眼瞤動不休者。心絕也。不可救。過五六日即死耳。肝風之狀。青色圍目。連額上。但坐不得倨僂者。可治。若喘而目直視唇面俱青者死。肝風宜於肝俞灸之。脾風狀。一身通黃。腹大而滿。不嗜食。四肢不收持。若手足未青而面黃者可治。不然即死。脾風宜於脾俞灸之。腎風之狀。但踞坐。而腰腳重痛也。視其脅下。未生黃點者可治。不然即死矣。腎風宜灸腎俞穴也。肺風之狀。胸中氣滿。冒昧汗出。鼻不聞香臭。喘而不得臥者。可治。若失血及妄語者。不可治。七八日死。肺風宜於肺俞灸之。凡診其脈。滑而散者風也。緩而大。浮而緊（一作虛。）軟而弱。皆屬風也。中風之病。鼻下赤黑相兼。吐沫而身直者。七日死也。又中風之病。口噤筋急。脈遲者生。脈急而數者死。又心脾俱中風。則舌強不能言也。肝腎俱中風。則手足不遂也。風之厥。皆由於四時不從之氣。故為病焉。有癮疹者。有偏枯者。有失音者。有歷節者。有顛厥者。有疼痛者。有聾瞽者。有瘡癩者。有脹滿者。有喘乏者。有赤白者。有青黑者。有瘙癢者。有狂妄者。皆起於風也。其脈浮虛者。自虛而得之。實大者自實而得之。弦緊者汗出而得之。喘乏者飲酒而得之。癲厥者自勞而得之。手足不中者。言語謇澀者。房中而得之。癮疹者。自痹（一作卑。）濕而得之。歷節疼痛者。因醉犯房而得之。聾瞽瘡癩者。自五味飲食冒犯禁忌而得之。千端萬狀。莫離於五臟六腑而生矣。所使之候配以此耳。</p>

<h2>績聚癥瘕雜蟲論第十八</h2>
<p>積聚癥瘕雜蟲者。皆五臟六腑真氣失。而邪氣並遂乃生焉。久之不除也。或積。或聚。或癥。或瘕。或變為蟲。其狀各異。有能害人者。有不能害人者。有為病緩者。有為病速者。有疼者。有癢者。有生頭足者。有如杯塊者。勢類不同。蓋因內外相感。真邪相犯。氣血熏摶。交合而成也。積者繫於臟也。聚者繫於腑也。癥者繫於氣也。瘕者繫於血也。蟲者乃血氣食物相感而化也。故積有五。聚有六。癥有十二。瘕有八。蟲有九。其名各不同也。積有心肝脾肺腎也。聚有大腸。小腸。膽。胃。膀胱。三焦。之六名也。癥有勞、氣、冷、熱、虛、實、風、濕、食、藥、思、憂之十二名也。瘕有青黃、燥、血、脂、狐、蛇、鱉之八名也。蟲有伏、蛇、白、肉、肺、胃、赤、弱、蟯、之九名也。為病之說出於諸論。治療之法皆具於後。</p>

<h2>勞傷論第十九</h2>
<p>勞者。勞於神氣也。傷者。傷於形容也。飢飽無度則傷脾。思慮過度則傷心。色欲過度則傷腎。起居過常則傷肝。喜怒悲愁過度則傷肺。又風寒暑濕則傷於外。飢飽勞役則敗於內。晝感之則病榮。夜感之則病衛。榮衛經行。內外交運。而各從其晝夜也。勞於一。一起為二。二傳於三。三通於四。四干於五。五復犯一。一至於五。邪乃深藏。真氣自失。使人肌肉消。神氣弱。飲食減。行步艱難。及其如此。雖司命亦不能生也。故調神氣論曰。調神氣。慎酒色。節起居。省思慮。薄滋味者。長生之大端也。診其脈甚數。（一作。數甚。餘下仿此。）甚急。甚細。甚弱。甚微。甚澀。甚滑。甚短。甚長。甚浮。甚沉。甚緊。甚弦。甚洪。甚實。皆生於勞傷。</p>

<h2>傳屍論第二十</h2>
<p>傳屍者非一門相染而成也。人之血氣衰弱。臟腑虛羸。中於鬼氣。因感其邪。遂成其疾也。其候或咳嗽不已。或胸膈妨悶。或肢體疼痛。或肌膚消瘦。或飲食不入。或吐利不定。或吐膿血。或嗜水漿。或好歌詠。或愛悲愁。或癲風（一作狂。）發歇。或便溺艱難。或因酒食而遇。或因風雨而來。或問病弔喪而得。或朝走暮遊而逢。或因氣聚。或因血行。或露臥于田野。或偶會於園林。鍾此病死之氣。染而為疾。故曰傳屍也。治療之方備於篇末。</p>

<h2>論五臟六腑虛實寒熱生死逆順之法第二十一</h2>
<p>夫人有五臟六腑虛實、寒熱、生死、逆順。皆見於形證脈氣。若非診察無由識也。虛則補之。實則瀉之。寒則溫之。熱則涼之。不虛不實以經調之。此乃良醫之大法也。其於脈證。具如篇末。</p>

<h2>論肝臟虛實寒熱生死逆順脈證之法第二十二</h2>
<p>肝者與膽為表裡。足厥陰少陽是其經也。旺於春。春乃萬物之始生。其氣嫩而軟。虛而寬。故其脈弦。軟不可發汗。弱則不可下。弦長曰平。反此曰病。脈虛而弦。是謂太過。病在外。太過則令人善忘。忽忽眩冒。實而微。是謂不及。病在內。不及則令人胸痛。引兩脅。脹滿。大凡肝實則引兩脅。下痛引小腹。令人（本無此五字。）喜怒。虛則如人將捕之。其氣逆。則頭痛。耳聾。頰赤。（一作腫。）其脈。沉之而急。浮之亦然。主脅肋（一作支。）滿。小便難。頭痛。目眩。其脈。急甚惡言。微急。氣在胸脅下。緩甚。嘔逆。微緩。水痹。大急。內癰吐血。微大。筋痹。小甚。多飲。微大（本作小。）消癉。（本作痹。）滑甚、頹疝、微滑、遺溺、澀甚、流飲、微澀、瘲攣、變也。（本無此二字。）又肝之積氣在脅。久不發為咳逆。或為痎瘧也。虛則夢花草茸茸。實則夢山林茂盛。肝之病。旦喜。（一作慧。）晚甚。夜靜。肝病。則頭痛脅痛。（本無此二字。）目眩。肢滿。囊縮。小便不通。（一作利。）十日死。又身熱。惡寒。四肢不舉。其脈當弦長而急。反短而澀。乃金刻木也。十死不治。又肝中寒。則兩臂痛不能舉。舌本燥。多太息。胸中痛。不能轉側。其脈。左關上遲而澀者是也。肝中熱。則喘滿而多怒。目疼。腹脹滿。不嗜食。所作不定。睡中驚悸。眼赤視不明。其脈。左關陰實者是也。肝虛冷。則脅下堅痛。目盲臂痛。發寒熱如瘧狀。不欲食婦。人則月水不來。而氣急。其脈左關上沉而弱者。是也。</p>

<h2>論膽虛實寒熱生死逆順脈證之法第二十三</h2>
<p>膽者中正之腑也。號曰將軍。決斷出焉。言能喜怒剛柔也。與肝為表裡。足少陽是其經也。虛則傷寒。寒則恐畏。頭眩不能獨臥。實則傷熱。熱則驚悸。精神不守。臥起不寧。又玄水發。則其根在於膽。先從頭面起。腫至足也。又肝咳久不已。則傳邪入於膽。嘔清苦汁也。又膽病則喜太息。口苦。嘔清汁。（一作宿汁。）心中澹澹恐。如人將捕之。咽中介介然數唾。又膽脹。則舌（一作脅。）下痛。口苦太息也。邪氣客於膽。則夢鬥訟。其脈診在左手關上浮而得之者。是其部也。膽實熱。則精神不守。又膽熱則多睡。膽冷則無眠。又左關上脈。陽微者膽虛也。陽數者膽實也。陽虛者膽絕也。</p>

<h2>論心臟虛實寒熱生死逆順脈證之法第二十四</h2>
<p>心者五臟之尊號。帝王之稱也。與小腸為表裡。神之所舍。又主於血。屬於火。旺於夏。手少陰是其經也。凡夏脈鉤。來盛去衰。故曰鉤。反此者病。來盛去亦盛。此為太過。病在外。來衰去盛。此為不及。病在內。太過則令人身熱而骨痛。口瘡。舌焦。引水不及。則令人煩躁。（一作心。）上為咳唾。下為氣泄。其脈來累累如連珠。如循琅玕。曰平。脈來累累（一本無此四字。卻作喘喘。）連屬。其中微曲。曰病。來前曲後倨。如操帶鉤。曰死。又思慮過多。則怵惕。怵惕傷心。心傷則神失。神失則恐懼。又真心痛。手足寒。過節五寸。則旦得夕死。夕得旦死。又心有水氣則痹。氣滯。身腫。不得臥。煩而躁。其陰腫也。又心中風。則翕翕（一作吸。）發熱。不能行立。心中飢而不能食。食則吐嘔。夏心旺。左手寸口脈。洪浮大而散曰平。反此則病。若沉而滑者。水來剋火。十死不治。弦而長者。木來歸子。其病自愈。緩而大者。土來入火。為微邪相干。無所害。又心病。則胸中痛。四（一作脅。）肢滿脹。肩背臂膊皆痛。虛則多驚悸。惕惕然無眠。胸腹及腰背引痛。喜（一作善。）悲。時眩僕。心積氣。久不去。則苦憂煩。心中痛。實則喜笑不息。夢火發。心氣盛。則夢喜笑。及恐畏。邪氣客於心。則夢山邱煙火。心脹。則心煩短氣。夜臥不寧。心腹痛。懊憹。腫。氣來往上下行。痛有時休作。心腹中熱。喜水。涎出。是蚖蛟（蚖恐是蛔字。蛟恐是咬字。）心也。心病則曰中慧。夜半甚。平旦靜。又左手寸口脈。大甚。則手內熱赤。（一作服。）腫太甚。則胸中滿而煩。澹澹面赤目黃也。又心病。則先心痛。而咳不止。關膈（一作格。）不通。身重不已。三日死。心虛則畏人。瞑目欲眠。精神不倚。魂魄妄亂。心脈。沉小而緊。浮主氣喘。若心下氣堅實不下。喜咽乾。手熱。煩滿。多忘。太息。此得之思憂太過也。其脈急甚。則發狂笑。微緩則吐血。大甚則喉閉。（一作痹。）微大則心痛引背。善淚出。小甚則噦。微小則笑消癉。（一作痹。）滑甚則為渴。微滑則心疝引臍。腹（一作腸。）鳴。澀甚則喑不能言。微澀則血溢。手足厥。耳鳴。癲疾。又心脈摶堅而長。主舌強不能語。（一作言。）軟而散。當懾怯不食也。又急甚則心疝。臍下有病形。煩悶少氣。大熱上煎。又心病。狂言汗出如珠。身厥冷。其脈當浮而大。反沉濡而滑甚。色當赤。今反黑者。水剋火。十死不治。又心之積。沉之而空空然。時上下往來。無常處。病胸滿⿰⺼季。腰腹中熱。頰（一作面。）赤咽乾。心煩。掌中熱甚。則嘔血。夏瘥。（本作春瘥。）冬甚。宜急療之。止於旬日也。又赤黑色入口必死也。面黃目赤者亦（一作不。）死。赤如衃血。亦死。又憂恚思慮太過。心氣內索。其色反和而盛者。不出十日死。扁鵲曰。心絕則一日死。色見凶多。而人雖健敏。名為行屍。一歲之中。禍必至矣。又其人語聲前寬而後急。後聲不接前聲。其聲濁惡。其口不正。冒昧喜笑。此風入心也。又心傷則心壞。為水所乘。身體手足不遂。骨節解。舒緩不自由。下利無休息。此疾急宜治之。不過十日而亡也。又笑不待呻而復憂。此水乘火也。陰繫於陽。陰起陽伏。伏則生熱。熱則生狂。冒昧妄亂。言語錯誤。不可採問。（一作聞。）心已損矣。扁鵲曰。其人唇口赤。即可治。青黑即死。又心瘧。則先煩（一作顫。）而後渴。翕翕發熱也。其脈浮緊而大者是也。心氣實。則小便不利。腹滿。身熱而重。溫溫欲吐。吐而不出。喘息急。不安臥。其脈左寸口與人迎。皆實大者。是也。心虛則恐懼多驚。憂思不樂。胸腹中苦痛。言語戰慄。惡寒。恍惚。面赤目黃。喜衄血。診其脈。左右寸口兩虛而微者。是也。</p>

<h2>論小腸虛實寒熱生死逆順脈證之法第二十五</h2>
<p>小腸者受盛之腑也。與心為表裡。手太陽是其經也。心與（一本無此二字。）小腸絕者。六日死。絕則髮直如麻。汗出不已。不得屈伸者是也。又心。咳（本作病。）久不已（本無此二字。）則傳小腸。小腸咳。則氣咳俱出也。小腸實則傷熱。熱則口生瘡。虛則生寒。寒則泄濃血。或泄黑水。其根在小腸也。又小腸寒則下腫重。有熱。久不出。則漸生痔。疾有積。則當暮發熱。明旦而止也。病氣發則令人腰下重。食則窘迫而便難。是其候也。小腸脹。則小腹䐜脹。引腹而痛也。厥邪入小腸。則夢聚井邑中。或咽痛頷腫。不可回首。肩如杖。（一作拔。）腳如折也。又黃帝曰。心者主也。神之舍也。其臟周密而不傷。傷。神去。神去則身亡矣。故人心多不病。病即死。不可治也。惟小腸受病多矣。又左手寸口陽絕者。無小腸脈也。六日死。病臍痹。小腹中有疝瘕也。左手寸口脈實大者。小腸實也。有熱邪則小便赤澀。又實熱。則口生瘡。身熱去來。心中煩滿。體重。又小腸。主於舌之官也。和。則能言。而機關利健。善別其味也。虛。則左寸口脈浮而微軟弱。不禁按。病為驚狂無所守。下空空然。不能語者。是也。</p>

<h2>論脾臟虛實寒熱生死逆順脈證之法第二十六</h2>
<p>脾者土也。諫議之官。主意與智。消磨五穀。寄在其中。養於四旁。旺於四季。正旺長夏。與胃為表裡。足太陰是其經也。扁鵲曰。脾病。則面色萎黃。實則舌強直。不嗜食。嘔逆。四肢緩。虛。則精不勝。元氣乏失溺不能自持。其脈來似水之流。曰太過。病在外。其脈來如鳥之距。曰不及。病在內。太過則令人四肢沉重。語言謇澀。不及。令人中滿不食。乏力。手足緩弱不遂。涎引口中（一作出。）四肢腫脹。溏瀉（一作泄。）不時。夢中飲食。脾脈來而和柔。去似雞距踐地。曰平。脈來實而滿稍數。如雞舉足。曰病。又如烏（一作雀。）之啄。如鳥之距。如屋之漏。曰死。中風則翕翕發熱。狀若醉人。腹中煩滿。皮肉瞤瞤短氣者。是也。旺時。其脈阿阿然緩曰平。反弦急者。肝來克脾。真鬼相遇。大凶之兆。反微澀而短者。肺來乘脾。不治而自愈。反沉而滑者。腎來從脾。亦為不妨。反浮而洪。心來生脾。不為疾耳。脾病。面黃。體重。失便。目直視。唇反張。手足爪甲青。四肢逆。吐食。百節疼痛不能舉。其脈當浮大而緩。今反弦急。其色當黃而反青。此十死不治也。又脾病。其色黃。飲食不消。心腹脹滿。身體重。肢節痛。大便硬。小便不利。其脈微緩而長者。可治。脾氣虛。則大便滑。小便利。汗出不止。五液注下為五色。注利下也。（此四字疑是註文。）又積□□久不愈。則四肢不收。黃疸。飲食不為肌膚。氣滿脹而喘不定也。又脾實。則時夢築垣牆蓋屋。脾盛。則夢歌樂。虛則夢飲食不足。厥邪客於脾。則夢大澤邱陵。風雨壞屋。脾脹則善噦。四肢急。體重。不食善噫。脾病。則日昳慧。平旦甚。日中持。下晡靜。脈急甚則瘛瘲。微急則胸膈中不利。食入而還出。脈緩盛則痿厥。微緩則風痿。四肢不收。大甚則擊僕。微大則脾。疝氣里大。膿血在胃腸之外。小甚則寒熱作。微小則消癉。滑甚則頹疝。微滑則蟲毒。腸鳴。中熱。澀甚則腸㿗微澀則內潰。下膿血。脾脈之至也。大而虛。則有積氣在腹中。有厥氣。名曰厥疝。女子同法得之。四肢汗出。當風也。脾絕則十日死。又臍出（一作凸。）者亦死。唇焦枯。無紋理。而青黑者。脾先絕也。脾病。面黃目赤者可治。青黑色入口。則半歲死。色如枳實者。一（一作半。）月死。吉凶休否。（一作咎。）皆見其色出於部分也。又口噤唇黑。四肢重如山不能自收持。大小便利無休歇。食飲不入。七日死。又唇雖痿黃。語聲囀囀者。可治。脾病。瘧氣久不去。腹中痛鳴。徐徐熱汗出。其人本意寬緩今忽反常而嗔怒。正言而鼻笑。不能答人者。此不過一月。禍必至矣。又脾中寒熱。則皆使人腹中痛。不下食。又脾病。則舌強語澀。轉筋。卵縮。牽陰股。引髀痛。身重不思食。鼓脹。變則水泄不能臥者。死不治也。脾正熱。則面黃目赤。季脅痛滿也。寒則吐涎沫而不食。四肢痛。滑泄不已。手足厥。甚則顫慄如瘧也。臨病之時。要在明證詳脈。然後投湯丸。求其痊損耳。</p>

<h2>論胃虛實寒熱生死逆順脈證之法第二十七</h2>
<p>胃者腑也。又名水穀之海。至脾為表裡。胃者人之根本也。胃氣壯。則五臟六腑皆壯。足陽明是其經也。胃氣絕。則五日死。實則中脹便難。肢節疼痛。不下食。嘔吐不已。虛則腸鳴脹滿。引水。滑泄。寒則腹中痛。不能食冷物。熱則面赤如醉人。四肢不收持。不得安臥。語狂。目亂。便硬者是也。病甚則腹脅脹滿。吐逆不入食。當心痛。上下不通。惡聞食臭。嫌人語。振寒。喜伸欠。胃中熱則唇黑。熱甚則登高而歌。棄衣而走。顛狂不定。汗出額上。鼽衄不止。虛極則四肢腫滿。胸中短氣。穀不化。中消也。胃中風。則溏泄不已。胃不足。則多飢不消食。病人鼻下平。則胃中病。渴者不可治。（一本無上十三字。作微燥而渴者可治。）胃脈。博堅而長。其色黃赤者。當病折腰。（一作髀。）其脈軟而散者。病食痹。左關上脈浮而大者虛也。浮而短澀者實也。浮而微滑者亦虛也。浮而遲者寒也。浮而數者實也。虛實寒熱生死之法。察而端謹。則成神妙也。</p>

<h2>論肺臟虛實寒熱生死逆順脈證之法第二十八</h2>
<p>肺者魄之舍。生氣之源。號為上將軍。乃五臟之華蓋也。外養皮毛。內榮腸胃。與大腸為表裡。手太陰是其經也。肺氣通於鼻。和則能知香臭矣。有寒則善咳。（本作有病則喜咳。）實則鼻流清涕。凡虛實寒熱。則皆使人喘嗽。實則夢刀兵恐懼。肩息。胸中滿。虛則寒生。（一作熱。）咳（一作喘。）息。利下。少氣力。多悲感。旺於秋。其脈浮而毛曰平。又浮而短澀者肺脈也。其脈來。毛而中央堅。兩頭（一作傍。）虛曰太過。病在外。其脈來。毛而微。曰不及。病在內。太過。則令人氣逆。胸滿。背痛。不及。則令人喘呼而咳（一作嗽。）上氣。見血。下聞病音。又肺脈。厭厭聶聶如落榆莢曰平。來不上不下。如循雞羽。曰病。來如物之浮。如風吹鳥背上。毛者死。真肺脈至大而虛，又如以毛羽中人皮膚。其色赤。其毛折者死。又微毛曰平。毛多曰病。毛而眩者曰春病。眩甚曰即病。又肺病。吐衄血。皮熱。脈數。頰赤者。死也。又久咳而見血。身熱而短氣。脈當澀。今反浮大。色當白。今反赤者。火剋金。十死不治也。肺病。喘咳。身但寒無熱。脈遲微者可治。秋旺於肺。其脈當浮澀而短曰平。而反洪大而長。是火刑金。亦不可治。又得軟而滑者。腎來乘肺。不治自愈。反浮大而緩者。是脾來生肺。不治而瘥。反弦而長者。是肺被肝從。為微邪。雖病不妨。虛則不能息。耳重嗌乾。喘咳上氣。胸背痛。有積則脅下脹滿。中風則口燥而喘。身運而重。汗出而冒悶。其脈。按之虛弱如蔥葉。下無根者死。中熱。則唾血。其脈細緊浮數芤滑。皆失血病。此由燥擾嗔怒勞傷得之。氣壅結所為也。肺脹。則其人喘咳。而目如脫。其脈浮大者是也。又肺痿。則吐涎沫。而咽乾欲飲者。為愈。不飲則未瘥。又咳而遺溺者。上虛不能制下也。其脈沉濁者病在內。浮清者病在外。肺死。則鼻孔開而黑枯。喘而目直視也。又肺絕。則十二日死。其狀足滿瀉痢不覺出也。面白目青。此謂亂經。此雖天命亦不可治。又飲酒當風。中於肺。則咳嗽喘悶。見血者不可治。無血者可治。面黃目白者可治肺病。頰赤者死。又言音喘急。短氣好唾（一作睡。）此為真鬼相害。十死十。百死百。大逆之兆也。又陽氣上而不降。燔於肺。肺自結邪。脹滿喘急。狂言。瞑目。非常所說。而口鼻張。大小便頭俱脹。飲水無度。此因熱傷於肺。肺化為血。不可治。則半歲死。又肺瘧。使人心寒。寒甚則發熱。寒熱往來。休作不定。多驚。咳喘。如有所見者是也。其脈。浮而緊。又滑而數。又遲澀而小。皆為肺瘧之脈也。又其人素聲清而雄者。暴不響亮。而拖氣用力。言語難出。視不轉睛。雖未為病。其人不久。又肺病。實則上氣喘急。咳嗽。身熱脈大也。虛則力乏喘促。右脅脹。語言氣短（一作促。）者是也。又乍寒乍熱。鼻塞。頤赤。面白。皆肺病之候也。</p>

<h2>論大腸虛實寒熱生死逆順脈證之法第二十九</h2>
<p>大腸者肺之腑也。為傳送之司號監倉之官。肺病久不已。則傳入大腸。手陽明是其經也。寒則泄。熱則結。絕則泄利無度。利絕而死也。熱極則便血。又風中大腸則下血。又實熱則脹滿。而大便不通。虛寒則滑泄不定。大腸乍虛乍實。乍來乍去。寒則溏泄。熱則垢重。有積物則寒慄而發熱。有如瘧狀也。積冷不去。則當臍而痛。不能久立。痛已則泄白物。是也。虛則喜滿。喘咳而喉咽中如核妨矣。</p>

<h1>卷中</h1>

<h2>論腎臟虛實寒熱生死逆順脈證之法第三十</h2>
<p>腎者精神之舍。性命之根。外通於耳。男以閉（一作庫。）精。女以包血。與膀胱為表裡。足少陰太陽是其經也。腎氣絕。則不盡其天命而死也。旺於冬。其脈沉濡曰平。反此者病。其脈彈石。名曰太過。病在外其去如數者為不及。病在內。太過則令人解㑊。脊脈痛而少氣（本作令人體瘠而少氣。不欲言。）不及。則令人心懸如飢。眇中清。脊中痛。少腸腹滿。小便滑（本云心如懸。少腹痛。小便滑。）變赤黃色也。又腎脈來。喘喘累累如鉤。按之而堅曰平。又來如引葛。按之益堅曰病。來如轉索。辟辟如彈石曰死。又腎脈。但石。無胃氣亦死。腎有水。則腹大。臍腫。腰重。痛不得溺。陰下濕如牛鼻。頭汗出是為逆寒。大便難。其面反瘦也。腎病。手足逆冷。面赤目黃。小便不禁。骨節煩痛。小腹結痛。氣上衝心。脈當沉細而滑。今反浮大而緩。其色當黑。其今反者。是土來剋水。為大逆。十死不治也。又腎病。面色黑。其氣虛弱。翕翕少氣。兩耳若聾。精自出。飲食少。小便清。膝下冷。其脈沉滑而遲。為可治又冬脈沉濡而滑曰平。反浮澀而短。肺來乘腎。雖病易治。反弦細而長者。肝來乘腎。不治自愈。反浮大而洪。心來乘腎。不為害。腎病。腹大脛腫。喘咳。身重。寢汗出憎風。虛則胸中痛。大腹小腹痛。清。厥。意不樂也。陰邪入腎。則骨痛。腰上引項瘠。背疼。此皆舉重用力。及遇房汗出。當風。浴水。或久立則傷腎也。又其脈。急甚則腎痿瘕疾。微急則沉厥奔豚。足不收。緩甚。則折脊。微緩則洞泄。食不化。入咽還出。大甚則陰痿微大則石水起臍下至小腹。其腫埵埵然。而上至胃脘者。死。不治。小甚則洞泄。微小則消癉。滑甚則癃㿗。微滑則骨痿。坐弗能起。目視見花。澀甚。則大壅塞。微澀則不月疾痔。又其脈之至也。上堅而大。有膿氣。在陰中及腹內。名曰腎痹。得之因浴冷水而臥。脈來沉而大堅。浮而緊。苦手足骨腫。厥陰痿不起。腰背疼。小腹腫。心下水氣時脹滿而洞泄。此皆浴水中。身未乾而合房得之也。虛。則夢舟溺人。得其時。夢伏水中若有所畏。盛實。則夢腰脊離解。不相屬。厥邪客於腎。則夢臨深投水中。腎脹。則腹痛滿引背怢怢然。腰痹痛。腎病。夜半患。四季甚。下晡靜。腎生病。則口熱舌乾。咽腫。上氣。嗌乾。及心煩而痛。黃疸。腸澼。痿厥。腰脊背急痛。嗜臥。足下熱而痛。胻酸。病久不已。則腿筋痛。小便閉。而兩脅脹。支滿。目盲者死。腎之積。苦腰脊相引而疼。飢見飽減。此腎中寒結在臍下也。諸積大法。其脈來細軟而附骨者是也。又面黑目白。腎已內傷。八日死。又陰縮。小便不出。出而不快者。亦死。又其色青黃。連耳左右。其人年三十許。百日死。若偏在一邊。一月死。實。則煩悶。臍下重。熱則口舌乾焦。而小便澀黃。寒。則陰中與腰脊俱疼。面黑耳干。噦而不食。或嘔血者。是也。又喉中鳴。坐而喘咳。唾血出。亦為腎虛。寒氣欲絕也。寒熱虛實既明。詳細調救。即十可十全之道也。</p>

<h2>論膀胱虛實寒熱生死逆順脈證之法第三十一</h2>
<p>膀胱者津液之腑。與腎為表裡號曰水曹掾。又名玉海。足太陽是其經也。總通於五腑。所以五腑有疾。即應膀胱。膀胱有疾。即應胞囊也。傷熱。則小便不利。熱入膀胱。則其氣急。而苦小便黃澀也。膀胱寒則小便數而清也。又石水發。則其根在膀胱。四肢瘦小。其腹脹大者是也。又膀胱。咳久不已。則傳入三焦。腸滿而不欲飲食也。然上焦主心肺之病。人有熱則食不入胃。寒則精神不守。泄利不止。語聲不出也。實則上絕於心氣不行也。虛則引起氣之於肺也。其三焦之氣和。則五臟六腑皆和。逆則皆逆。膀胱中有厥陰氣則夢行不快。滿脹。則小便不下。臍下重悶。或肩痛也。絕則三日氣。死時雞鳴也。其三焦之論。備云於後。</p>

<h2>論三焦虛實寒熱生死逆順脈證之法第三十二</h2>
<p>三焦者。人之三元之氣也。號曰中清之腑。總領五臟六腑。榮衛經絡。內外左右上下之氣也。三焦通。則內外左右上下皆通也。其於周身。灌體。和內調外。榮左養右。導上宣下。莫大於此者也。又名玉海。水道。上則曰三管。中則名霍亂。下則曰走哺。名雖三而歸一。有其名而無形者也。亦號曰孤獨之腑。而衛出於上。榮出於中。上者絡脈之系也。中者經脈之系也。下者水道之系也。亦又屬膀胱之宗始。主通陰陽。調虛實。呼吸有病。則苦腹脹氣滿。小腹堅。溺而不得。便而窘迫也。溢則作水。留則為脹。足太陽是其經也。又上焦實熱。則額汗出。而身無汗。能食。而氣不利。舌乾口焦。咽閉之類。腹脹。時時脅肋痛也。寒則不入食。吐酸水。胸背引痛。嗌乾。津不納也。實則食已還出。膨膨然不樂。虛則不能制下。遺便溺而頭面腫也。中焦實熱。則上下不通。腹脹而喘咳。下氣不上。上氣不下。關格而不通也。寒則下痢不止。食飲不消。而中滿也。虛則腸鳴鼓脹也。下焦實熱。則小便不通。而大便難苦重痛也。虛寒則大小便泄。下而不止。三焦之氣和則內外和。逆則內外逆。故云三焦者人之三元之氣也。宜修養矣。</p>

<h2>論痹第三十三</h2>
<p>痹者。風寒暑濕之氣中於人臟腑之為也。入腑則病淺易治。入臟則病深難治而有風痹。有寒痹。有濕痹。有熱痹。有氣痹。而又有筋。肉。血。肉。氣之五痹也。大凡風寒暑濕之邪入於肝。則名筋痹。入於腎。則名骨痹。入於心。則名血痹。入於脾。則名肉痹。入於肺。則名氣痹。感病則同。其治乃異。痹者閉也。五臟六腑。感於邪氣。亂於真氣。閉而不仁。故曰痹。病或痛。或癢。或淋。或急。或緩。而不能收持。或拳而不能舒張。或行立艱難。或言語謇澀。或半身不遂。或四肢拳縮。或口眼偏邪。或手足欹側。或能行步而不能言語。或能言語而不能行步。或左偏枯。或右壅滯。或上不通於下。或下不通於上。或大腑閉塞。（一作小便秘澀。）或左右手疼痛。或得疾而即死。或感邪而未亡。或喘滿而不寐。或昏冒而不醒。種種諸症。皆出於痹也。痹者風寒暑濕之氣中於人。則使之然也。其於脈候形證治療之法。亦各不同焉。</p>

<h2>論氣痹第三十四</h2>
<p>氣痹者。愁憂思喜怒過多。則氣結於上。久而不消則傷肺。肺傷則生氣漸衰。則邪氣愈勝。留於上。則胸腹痹而不能食。注於下。則腰腳重而不能行。攻於左。則左不遂。衝於右。則右不仁。貫於舌。則不能言。遺於腸中。則不能溺。壅而不散。則痛。流而不聚。則麻。真經既損。難以醫治。邪氣不勝。易為痊愈。其脈右手寸口沉而遲澀者是也。宜節憂思以養氣慎（一作絕。）喜怒以全真。此最為良法也。</p>

<h2>論血痹第三十五</h2>
<p>血痹者飲酒過多。懷熱太盛。或寒折於經絡。或濕犯於榮衛。因而血摶。遂成其咎。故使人血不能榮於外。氣不能養於內。內外已失。漸漸消削。左先枯則右不能舉。右先枯則左不能伸。上先枯則上不能制於下。下先枯則下不能克於上。中先枯則不能通疏。百證千狀皆失血也。其脈。左手寸口脈結而不流利，或如斷絕者。是也。</p>

<h2>論肉痹第三十六</h2>
<p>肉痹者。飲食不節。膏粱肥美之所為也。脾者肉之本。脾氣已失。則肉不榮。肉不榮則肌膚不滑澤。肌肉不滑澤。則腠理疏。則風寒暑濕之邪易為入。故久不治則為肉痹也。肉痹之狀。其先能食而不能充悅。四肢緩而不收持者。是也。其右關脈舉按皆無力。而往來澀者是也。宜節飲食以調其臟。常起居以安其脾。然後依經補瀉以求其愈爾。</p>

<h2>論筋痹第三十七</h2>
<p>筋痹者。由怒叫無時。行步奔急。淫邪傷肝。肝失其氣。因而寒熱所客。久而不去。流入筋會。則使人筋急。而不能行步舒緩也。故曰筋痹。宜活血以補肝。溫氣以養腎。然後服餌湯丸。治得其宜。即疾瘳已。不然則害人矣。其脈。左關中弦急而數。浮沉有力者。是也。</p>

<h2>論骨痹第三十八</h2>
<p>骨痹者乃嗜欲不節。傷於腎也。腎氣內消。則不能關禁。不能關禁。則中上俱亂。中上俱亂。則三焦之氣痞而不通。三焦痞而飲食不糟粕。飲食不糟粕。則精氣日衰。精氣日衰。則邪氣妄入。邪氣妄入。則上衝心舌。上衝心舌。則為不語。中犯脾胃。則為不充。下流腰膝。則為不遂。傍攻四肢。則為不仁。寒在中則脈遲。熱在中則脈數。風在中則脈浮。濕在中則脈濡。虛在中則脈滑。其證不一。要在詳明。治療法列於後章。</p>

<h2>論治中風偏枯之法第三十九</h2>
<p>人病中風偏枯。其脈數。而面乾黑黧。手足不遂。語言謇澀。治之奈何。在上則吐之。在中則瀉之。在下則補之。在外則發之。在內則溫之按之熨之也。吐謂出其涎也。瀉謂通其塞也。補謂益其不足也。發謂發其汗也。溫謂驅其濕也。按謂散其氣也。熨謂助其陽也。治之各合其宜。安可一揆。在求其本。脈浮則發之。脈滑則吐之。脈伏而澀則瀉之。脈緊則溫之。脈遲則熨之。脈閉則按之。要察其可否。故不可一揆而治者也。</p>

<h2>論五丁狀候第四十</h2>
<p>五丁者。皆由喜怒憂思。沖寒冒熱。恣飲醇酒。多嗜甘肥。毒魚鮓醬。色欲過度之所為也。蓄其毒邪。浸漬臟腑。久不攄散。始變為丁。其名有五。一曰白丁。二曰赤丁。三曰黃丁。四曰黑丁。五曰青丁。白丁者起於右鼻下。初起如粟米。根赤頭白。或頑麻。或痛癢。使人憎寒頭重。狀若傷寒。不欲食。胸膈滿悶。喘促昏冒者死。未者可治。此疾不過五日。禍必至矣。宜急治之。赤丁在舌下。根頭俱赤。發痛。舌本硬不能言。多驚。煩悶。恍惚。多渴。引（一作飲。）水不休。小便不通。發狂者死。未者可治。此疾不過七日。禍必至也。不可治矣。大人小兒皆能患也。黃丁者。起於唇齒齦邊。其色黃。中有黃水。發則令人多（一作能。）食而還（一作復。）出。手足麻木。涎出不止。腹脹而煩。多睡。不寐者死。未者可治。黑丁者。起於耳前。狀如瘢痕。其色黑。長減不定。使人牙關急。腰脊腳膝不仁。不然即痛。亦不出三歲。禍必至矣。不可治也。此由腎氣漸絕故也。宜慎欲事。青丁者起於目下。始如瘤瘢。其色青。硬如石。使人目昏昏然無所見。多恐。悸。惕。睡不安寧。久不已。則令人目盲。或脫精。有此則不出一年。禍必至矣。白丁者其根在肺。赤丁者其根在心。黃丁者其根在脾。黑丁者其根在腎。青丁者其根在肝。五丁之候（一作疾。）最為巨疾。（一作病。）不可不察也。治療之法。一一如下。（陸本。有方八道在此後。印本無之。今附下卷之末。）</p>

<h2>論癰疽瘡腫第四十一</h2>
<p>夫癰疽瘡腫之所作也。皆五臟六腑蓄毒不流。則生（本作皆有。）矣。非獨因榮衛壅塞而發者也。其行也有處。其主也有歸。假令發於喉舌者。心之毒也。發於皮毛者。發於肌肉者。脾之毒也。發於骨髓者。腎之毒也。（闕肝毒。）發於下者陰中之毒也。發於上者。陽中之毒也。發於外者六腑之毒也發於內者。五臟之毒也故內曰壞。外曰潰。上曰從。下曰逆。發於上者得之速。發於下者得之緩。感於六腑則易治感於五臟則難瘳也。又近骨者多冷。近虛者多熱近骨者久不愈。則化血成蠱。近虛者。久不愈。則傳氣成漏。成蠱。則多癢而少痛。或先癢後痛。成漏。則多痛而少癢。或不痛。或不癢內虛外實者。多庠而少痛。外虛內實者。多痛而少癢。血不止者則多死。膿疾潰者則多生。或吐逆無度。飲食不時。皆癰疽之使然也。種候萬一（一作多。）端。要憑詳。治療之法。列在後篇。</p>

<h2>論腳弱狀候不同第四十二</h2>
<p>人之病。腳氣。與氣腳之為異。何也謂人之喜怒憂思。寒熱邪毒之氣。自內而注入於腳。則名氣腳也。風寒暑濕邪毒之氣。從外而入於腳膝。漸傳於內。則名腳氣也。然內外皆以邪奪正故使人病形頗相類例。其於治療。亦有上下先後也。故分別其目。若一揆而不察其由。則無理致其瘳也。夫喜怒憂思寒熱邪毒之氣。流入股節。或注於腳膝。其狀類諸風。歷節。偏枯。癰腫之證。但入於腳膝。則謂之氣腳也。若從外而入於足。從足而入臟者。乃謂之腳氣也。氣腳者。先治內而次治外。腳氣者先治外而次治內。實者利之。虛者益之。又人之病。腳氣多者何也。謂人之心肺二經。起於手。脾腎肝三經。起於足手則清邪中之。足則濁邪中之。人身之苦者手足耳。而足則最重艱苦。故風寒暑濕之氣。多中於足。以此腳氣之病多也。然而得之病者。從漸而生疾。但始萌而不悟。悟亦不曉。醫家不為腳氣。將為別疾。治療不明。因循至大。身居危地。本從微起。浸成巨候。流入臟腑。傷於四肢。頭項。腹背也。而疾未甚。終不能知覺也。特因他而作。或如傷寒。或如中暑。或腹背疼痛。或肢節不仁。或語言錯亂。或精神昏昧。或時喘乏。或暴盲聾。或飲食不入。或臟腑不通。或攣急不遂。或舒緩不收。或口眼牽搐。或手足顫掉。種種多狀。莫有達者。故使愚俗束手受病。死無告陳。仁者見之。豈不傷哉。今述始末。略示後學。請深消息。至如醉入房中。飽眠露下。當風取涼。對月貪歡。沐浴未乾。而熟睡。房室才罷而沖軒。久立於低濕。久佇於水涯。冒雨而行。瀆寒而寢。勞傷汗出。食飲悲生。犯諸禁忌。因成疾矣。其於不正之氣。中於上則害於頭目。害於中則蠱於心腹。形於下則災於腰腳。及於旁則妨於肢節。千狀萬證。皆屬於氣腳。但起於腳膝。乃謂腳氣也。形候脈證。亦在詳明。其脈浮而弦者。起於風。濡而弱者。起於濕。洪而數者。起於熱。遲而澀者。起於寒。滑而微者。起於虛。牢而堅者。起於實。在於上則由於上。在於下則由於下。在於中則生於中。結而因氣。散則因憂。緊則因怒。細則因悲。風者汗之而愈。濕者溫之而愈。熱者解之而愈。寒者熨之而愈。虛者補之。實者瀉之。氣者流之。憂者寬之。怒者悅之。悲者和之。能通此者。乃謂之良醫。又腳氣之病傳於心腎。則十死不治入心則恍惚忘謬。嘔吐。食不入。眠不安寧。口眼不定。左手寸口手脈乍大乍小乍有乍無者。是也入腎。則腰腳俱腫。小便不通。呻吟不絕。目額皆見黑色。氣時上衝胸腹而喘。其左手尺中脈絕者是也。切宜詳審矣。</p>

<h2>論水腫脈證生死候第四十三</h2>
<p>人中百病。難療者莫過於水也水者腎之制也。腎者人之本也。腎氣壯則水還於海。腎氣虛則水散於皮。又三焦壅塞榮衛閉格。血氣不從。虛實交變。水隨氣流。故為水病。有腫於頭目者。有腫於腰腳者。有腫於四肢者。有腫於雙目者。有因嗽而發者。有因勞而生者。有因凝滯而起者。有因虛乏而成者。有因五臟而出者。有因六腑而來者。類目多種而狀各不同。所以難治者。由此百狀。人難曉達。縱曉其端。則又苦人以嬌恣不循理法。觸冒禁忌。弗能備矣。故人中水疾。死者多矣。水有十名具於篇末。一曰青水。二曰赤水。三曰黃水。四曰白水。五曰黑水。六曰玄水。七曰風水。八曰石水。九曰里水。十曰氣水。青水者。其根起於肝。其狀先從而腫而漸行一身也。赤水者。其根起於心。其狀先從胸腫起也。黃水者。其根起於脾。其狀先從腹腫也。白水者。其根起於肺。其狀先從腳腫而上氣喘嗽也。黑水者。其根起於腎。其狀先從足跗腫。玄水者。其根起於膽。其狀先從頭面起腫而至足者。是也。風水者。其根起於胃。其狀先從四肢起。腹滿大而通身腫也。石水者。其根在膀胱。其狀起臍下而腹獨大。是也。里水者。其根在小腸。其狀先從小腹。脹而不腫。漸漸而腫也（又注云。一作小腹脹而暴腫也。）氣水者。其根在大腸。其狀乍來乍去。乍盛乍衰者。是也。此良由上下不通。關竅不利。氣血痞格。陰陽不調。而致之也。其脈洪大者可治。微細者不可治也。又消渴之疾久不愈。令人患水氣。其水臨時發散。歸於五臟六腑。則生為病也。消渴者。因冒風沖熱。飢飽失節。飲酒過量。嗜欲傷頻。或餌金石。久而積成。使之然也。</p>

<h2>論諸淋及小便不利第四十四</h2>
<p>諸淋與小便不利者。皆由五臟不通。六腑不和。三焦痞澀。榮衛耗失。冒熱飲酒。過醉入房。竭散精神。勞傷氣血。或因女色興。而敗精不出。或因迷寵不已。而真髓多輸。或驚惶不次。或思慮未寧。或飢飽過時。或奔馳才定。或隱忍大小便。或發泄久興。或寒入膀胱。或暑中胞囊。傷茲不慎。致起斯疾。狀候變異。名亦不同。則有冷、熱、氣、勞、膏砂、虛、實之八種耳。冷淋者。小便數。色白如泔也。熱淋者。小便澀。而色赤如血也。氣淋者。臍腹滿悶。小便不通利而痛也。勞淋者。小便淋瀝不絕。如水之滴漏而不斷絕也。膏淋者。小便中出物如脂膏也。砂淋者。腹臍中隱痛。小便難。其痛不可忍須臾。從小便中下如砂石之類。有大者如皂子。或赤或白（一作黃。）色澤不定。此由腎氣弱而貪於女色。房而不泄。泄而不止。虛傷真氣。邪熱漸強。結聚而成砂。又如以水煮鹽。火大水少。鹽漸成石之類謂腎者水也。咸歸於腎水消於下虛熱日甚。煎結而成。此非一時而作也。蓋遠久乃發。成節五歲。敗即三年。壯人。五載禍必至矣。宜乎急攻。八淋之中。唯此最危。其脈盛大而實者可治。虛小而澀者不可治。虛者謂腎與膀胱俱虛。而精滑夢泄。小便不禁者也。實則謂經絡閉澀。水道不利。而莖痛腿痠者也。又諸淋之病。與淋相從者活。反者死凶。治療之際。亦在詳酌耳。</p>

<h2>論服餌得失第四十五</h2>
<p>石之與金。有服餌得失者。蓋以其宜與不宜也。或草或木。或金或石。或單方得力。或群隊獲功。或金石毒發而致斃。或草木勢助而能全。其驗不一者何也。基本實者。得宣通之性。必延其壽。其本虛者。得補益之情。必長其年。虛而過瀉。實乃更增。千死其千。萬歿其萬。則決然也。又有年少之輩。富貴之人。恃其藥力。恣其酒欲。誇弄其術。暗使精神內損。藥力扶持。忽然疾作。何能救療。如是之者豈知災從內發。但恐藥餌無微功。實可歡哉。其於久服方藥。在審其宜。人藥相合。效豈妄邪。假如臟不足則補其臟。腑有餘則瀉其腑。外實則理外。內虛則養內。上塞則引上。下塞則通下。中澀（一作結。）則解中。左病則治左。右病則治右。上下左右。內外虛實。各稱其法。安有橫夭者也。故藥無不效。病無不愈者。切務於謹察矣。</p>

<h2>辨三痞論並方第四十六</h2>
<p>金石草木。單服皆可以不死者。有驗無驗。在乎有志無志也。雖能久服。而有其藥。熱壅塞而不散。或上或下。或痞或澀。各有其候。請速詳明。用其此法。免敗其志。皆於壽矣。謹論候並方。具在後篇。</p>

<h3>辨上痞候並方</h3>
<p>上痞者。頭眩目昏。面赤心悸。肢節痛。前後不仁。多痰。短氣。懼火。喜寒。又狀若中風之類者。是也。宜用後方。</p>
<p>桑白皮（闊一寸。長一尺）　檳榔（一枚）　木通（一尺去皮。一本作一兩）　大黃（三分。濕紙煨）　黃芩（一分）　澤瀉（二兩）</p>
<p>上銼為粗末。水五升。熬取三升。取清汁。分二（一本作三。）服。食後臨臥服。</p>

<h3>辨中痞候並方</h3>
<p>中痞者。腸滿。四肢倦。行立艱難。食已嘔吐。冒昧。減食或渴者是也。宜用後方。</p>
<p>大黃（一兩。濕紙十重包裹。煨令香熟。切作片子）　檳榔（一枚）　木香（一分）</p>
<p>上為末。生蜜為丸。如桐子大。每服三十丸。生薑湯下。食後日午。日進二服。未減。加之。效。即勿再服。附方。</p>
<p>桂（五錢。不見火）　檳榔（一個）　黑牽牛（四兩。生為末二兩）</p>
<p>上為末蜜酒調二錢。以利為度。</p>

<h3>辨下痞候並方</h3>
<p>下痞者。小便不利。臍下滿硬。語言謇滯。腰背疼痛。腳重不能行立者是也。宜用後方。</p>
<p>瞿麥頭子（一兩）　官桂（一分）　甘遂（三分）　車前子（一兩炒）</p>
<p>上件為末。以獖豬腎一個。去筋膜。薄批開入藥末二錢。勻糝。濕紙裹。慢火煨熟。空心細嚼。溫酒送下。以大利為度。小便未利。臍腹未軟。更服附方。</p>
<p>蔥白一寸。去心。入硇砂末一錢。安蔥心中。兩頭以線子系之。濕紙包。煨熟。用冷醇酒送下。空心服。以效為度。</p>

<h2>論諸病治療交錯致於死候第四十七</h2>
<p>夫病者。有宜湯者。有宜丸者。有宜散者。有宜下者。有宜吐者。有宜汗者。有宜灸者。有宜針者。有宜補者。有宜按摩者。有宜導引者。有宜蒸熨者。有宜澡洗者。有宜悅愉者。有宜和緩者。有宜水者。有宜火者。種種之法豈能一也。若非良善精博。難為取愈。其庸下識淺。亂投湯丸。下汗補吐。動使交錯。輕者令重。重者令死。舉世皆然。且湯。可以盪滌臟腑。開通經絡。調品陰陽。祛分邪惡。潤澤枯朽。悅養皮膚。益充氣力。扶助困竭。莫離於湯也。丸。可以逐風冷。破堅症。消積聚。進飲食。舒榮衛。開關竅。緩緩然參合。無出於丸也。散者。能祛風寒暑濕之氣。攄寒濕穢毒之邪。發揚四肢之壅滯。除剪五臟之結伏。開腸和胃。行脈通經。莫過於散也。下。則疏豁閉塞。補。則益助虛乏。灸。則起陰通陽。針。則行榮引衛。導引。則可以遂客邪於關節。按摩。則可以驅浮淫於肌肉。蒸熨。闢冷暖。洗生陽。悅愉。爽神。和緩。安氣。若實而不下。則使人心腹脹滿。煩亂。鼓腫。若虛而不補則使人氣血消散。精神耗亡。肌肉脫失。志意昏迷。可汗而不汗。則使人毛孔關塞。悶絕而終合吐而不吐則使人結胸上喘。水食不入而死。當灸而不灸。則使人冷氣重凝陰毒內聚。厥氣上衝。分遂不散。以致消減。當針而不針。則使人榮衛不行。經絡不利。邪漸勝真。冒昧而昏。宜導引而不導引。則使人邪侵關節。固結難通。宜按摩而不按摩。則使人淫隨肌肉。久留不消。宜蒸熨而不蒸熨。則使人冷氣潛伏漸成痹厥。宜澡洗而不澡洗。則使人陽氣上行。陰邪相害。不當下而下。則使人開腸蕩胃。洞泄不禁。不當汗而汗。則使人肌肉消絕。津液枯耗。不當吐而吐。則使人心神煩亂。臟腑奔沖不當灸而灸。則使人重傷經絡。內蓄炎毒。反害中和致於不可救不當針而針。則使人氣血散失。關機細縮。不當導引而導引。則使人真氣勞敗。邪氣妄行。不當按摩而按摩。則使人肌肉䐜脹。筋骨舒張。不當蒸熨而蒸熨。則使人陽氣偏行。陰氣內聚。不當淋渫而淋渫。則使人濕侵皮膚。熱生肌體。不當悅愉而悅愉。則使人神失氣消。精神不快。不當和緩而和緩。則使人氣停意（此下。趙寫本俱缺。）折。健忘。傷志。大凡治療要合其宜。脈狀病候少陳於後。凡脈不緊數。則勿發其汗。脈不疾數。不可以下。心胸不閉。尺脈微弱。不可以吐。關節不急。榮衛不壅。不可以針。陰氣不盛。陽氣不衰。勿灸。內無客邪。勿導引。外無淫氣。勿按摩。皮膚不痹。勿蒸熨。肌肉不寒。勿暖洗。神不凝迷。勿悅愉。氣不急奔。勿和緩。順此者生。逆此者死耳。脈病之法。備說在前。</p>

<h2>論診雜病必死候第四十八</h2>
<p>夫人生氣健壯者。外色光華。內脈平調。五臟六腑之氣消耗。則脈無所依。色無所澤。如是者百無一生。雖能飲食行立。而端然不悟。不知死之逼矣。實為痛口其大法。列之於後。</p>
<p>病瞪目引水。心下牢滿。其脈。濡而微者死。</p>
<p>論吐衄瀉血。其脈。浮大牢數者死。</p>
<p>病妄言身熱手足冷。其脈細微者死。</p>
<p>病大泄不止。其脈緊大而滑者死。</p>
<p>病頭目痛。其脈澀短者死。</p>
<p>病腹中痛。其脈浮大而長者死。</p>
<p>病腹痛而喘。其脈滑而利。數而緊者死。</p>
<p>病四逆者。其脈浮大而知者死。</p>
<p>病耳無聞。其脈浮大而澀者死。</p>
<p>病腦痛。其脈緩而大者死。</p>
<p>左痛右痛。上痛下痛者死。</p>
<p>下痛而脈病者死。</p>
<p>病厥逆。呼之不應。脈絕者死。</p>
<p>病人脈宜大。反小者死。</p>
<p>肥人脈細欲絕者死。</p>
<p>瘦人脈躁者死。</p>
<p>人脈本滑利。而反澀者死。</p>
<p>人脈本長。而反短者死。</p>
<p>人尺脈上應寸口太遲者死。</p>
<p>溫病。三四日未汗。脈太疾者死。</p>
<p>溫病。脈細微。而往來不快胸中閉者死。</p>
<p>溫病。發熱甚。脈反小弱者死。</p>
<p>病甚。脈往來不調者死。</p>
<p>溫病。腹中痛。下痢者死。</p>
<p>溫病。汗不出。出不至足者死。</p>
<p>病瘧。腰脊強急。瘛瘲者死。</p>
<p>病心腹脹滿。痛不止。脈堅大洪者死。</p>
<p>痢血不止。身熱脈數者死。</p>
<p>病腹滿四逆。脈長者死。</p>
<p>熱病七八日。汗當出。反不出。脈絕者死。</p>
<p>熱病七八日。不汗。躁狂口舌焦黑。脈反細弱者死。</p>
<p>熱病。未汗出。而脈大盛者死。</p>
<p>熱病。汗出而脈未盡。往來轉大者死。</p>
<p>病咳嗽。脈數身瘦者死。</p>
<p>暴咳嗽。脈散者死。</p>
<p>病咳。形肥。脈急甚者死。</p>
<p>病嗽而嘔。便滑不禁。脈弦欲絕者死。</p>
<p>病諸嗽喘。脈沉而浮者死。</p>
<p>病上氣。脈數者死。</p>
<p>病肌熱。形瘦。脫肛。熱不去。脈甚緊急者死。</p>
<p>病陽癖。轉筋。脈極數者死。</p>
<p>病中風。痿疾不仁。脈緊急者死。</p>
<p>病上喘。氣急四匝。脈澀者死。</p>
<p>病寒熱。瘛瘲。脈大者死。</p>
<p>病金瘡。血不止。脈大者死。</p>
<p>病墜損。內傷。脈小弱者死。</p>
<p>病傷寒。身熱甚。脈反小者死。</p>
<p>病厥逆。汗出。脈虛而緩者死。</p>
<p>病洞泄。不下食。脈急者死。</p>
<p>病腸澼。下白膿者死。</p>
<p>病腸澼。下膿血。脈懸絕者死。</p>
<p>病腸澼。下膿血。身有寒。脈絕者死。</p>
<p>病咳嗽。脈沉堅者死。</p>
<p>病腸中有積聚。脈虛弱者死。</p>
<p>病水氣。脈微而小者死。</p>
<p>病水脹如鼓。脈虛小澀者死。</p>
<p>病泄注。脈浮大而滑者死。</p>
<p>病內外俱虛。臥不得安。身冷。脈細微。嘔而不入食者死。</p>
<p>病冷氣上攻。脈逆而澀者死。</p>
<p>卒死。脈堅而細微者死。</p>
<p>熱病三五日。頭痛身熱。食如故。脈直而疾者。八日死。</p>
<p>久病脈實者死。</p>
<p>又虛緩。虛微虛滑。弦急者死。</p>
<p>卒病。脈弦而數者死。凡此凶脈。十死十。百死百。不可治也。</p>

<h2>察聲色形證決死法第四十九</h2>
<p>凡人五臟六腑。榮衛關竅。宜平生氣血順度。循環無終。是為不病之本。若有缺絕。則禍必來矣。要在臨病之時。存神內想。息氣內觀。心不妄視。著意精察。方能通神明。探幽微。斷死決生。千無一誤。死之證兆。具之於後。</p>
<p>黑色。起於耳目鼻上。漸入於口者死。</p>
<p>赤色。見於耳目額者。五日死。</p>
<p>黑白色入口鼻目中者五日死。</p>
<p>黑。或如馬肝色。望之如青。近則如黑者死。</p>
<p>張口如魚。出氣不反者死。</p>
<p>循摸衣縫者死。</p>
<p>妄語錯亂。及不能語者死熱病即不死。</p>
<p>屍臭不可近者死。</p>
<p>面目直視者死。</p>
<p>肩息者。一日死。</p>
<p>面青。人中反者三日死。</p>
<p>面無光。牙齒黑者死。</p>
<p>面青目黑者死。</p>
<p>面白目黑者十日死。</p>
<p>面赤眼黃。即時死。</p>
<p>面黑目白者。八日死。</p>
<p>面青目黃者。五日死。</p>
<p>眉系傾者。七日死。</p>
<p>齒忽黑色者。三十日死。</p>
<p>髮直者。十五日死。</p>
<p>遺尿不覺者。五六日死。</p>
<p>唇口乍乾黑者死。</p>
<p>爪中青黑色死。</p>
<p>頭目久痛。卒視不明者死。</p>
<p>舌卷卵縮者死。</p>
<p>面黑直視者死。</p>
<p>面青目白者死。</p>
<p>面黃目白者死。</p>
<p>面目俱白者死。</p>
<p>面目青黑者死。</p>
<p>面青唇黑者死。</p>
<p>發如麻。喜怒不調者死。</p>
<p>發肩如衝起者死。</p>
<p>面色黑。脅滿不能反側者死。</p>
<p>面色蒼黑。卒腫者死。</p>
<p>掌腫無紋。臍腫出。囊莖俱腫者死。</p>
<p>手足爪甲。肉。黑色者死。</p>
<p>汗出不流者死。</p>
<p>唇反。人中滿者死。</p>
<p>陰陽俱絕。目匡陷者死。</p>
<p>五臟內外絕。神氣不守。其聲嘶者死。</p>
<p>陽絕陰結。精神恍惚。撮空裂衣者死。</p>
<p>陰陽俱閉。失音者死。</p>
<p>榮衛耗散。面目浮腫者死。</p>
<p>心絕於腎。肩息。回眄。目直者。一日死。</p>
<p>肺絕。則氣去不反。口如魚口者。三日死。</p>
<p>骨絕。腰脊痛。腎中重。不可反側。足膝後平者。五日死。</p>
<p>腎絕大便赤澀。下血。耳干。腳浮。舌腫者。六日死。又曰。足腫者九日死。</p>
<p>脾絕。口冷。足腫脹泄不覺者。十二日死。</p>
<p>筋絕。魂驚。虛恐。手足爪甲青。呼罵不休者。八九日死。</p>
<p>肝絕。汗出如水。恐懼不安。伏臥。目直面青者。八日死。又曰。即時死。</p>
<p>胃絕齒落面黃者。七日死。又曰。十日死。</p>
<p>凡此察聽之。更須詳酌者矣。</p>

<h1>卷下</h1>

<h2>療諸病藥方六十道</h2>
<p><u>萬應丸</u></p>
<p>甘遂（三兩）　芫花（三兩）　大戟（三兩）　大黃（三兩）　三稜（三兩）　巴豆（二兩。和皮）　乾漆（二兩炒）　蓬朮（二兩）　當歸（五兩）　桑皮（二兩）　硼砂（三兩）　澤瀉（八兩）　山梔仁（二兩）　檳榔（一兩）　木通（一兩）　雷丸（一兩）　訶子（一兩）　黑牽牛（五兩）　五靈脂（五兩）　皂角（七定。去皮弦）</p>
<p>上件二十味。銼碎洗淨。入米醋二斗。浸三日。入銀器或石器內。慢火熬。令醋盡。焙乾焦。再炒。為黃色。存性。入後藥。</p>
<p>木香（一兩）　丁香（一兩）　肉桂（一兩。去皮）　肉豆（一兩）　白朮（一兩）　黃耆（一兩）　沒藥（一兩）　附子（一兩。炮。去皮臍）　茯苓（一兩）　赤芍藥（一兩）　川芎（二兩）　牡丹皮（二兩）　白牽牛（二兩）　乾薑（二兩）　陳皮（二兩）　芸臺（二兩。炒）　地黃（三兩）　鱉甲（三兩。醋炙）　青皮（三兩）　南星（二兩。漿水煮軟。切焙）</p>
<p>上二十味。通前共四十味。同杵羅為末。醋煮。麵糊為丸。如綠豆大。用度謹具如下。合時須在一淨室中。</p>
<p>先嚴潔。齋心滌慮。焚香。精誠。懇諸方聖者。以助藥力。尤效速也。</p>
<p>結胸傷寒。用油漿水下七丸。當逐下惡物。如人行二十里。未動。（再服）。多年積結。殗食癥塊。臨臥水下。三丸至五丸。每夜服之。病即止。如記得因傷物作積。即隨所傷物下七丸（小兒妊婦老人勿服）。</p>
<p>水氣通身腫黃者。茯苓湯下。五丸。日二服。水消為度。如要消酒進食。生薑湯下一丸。食後。腹中一切痛。醋湯下七丸。</p>
<p>膈氣噎病。丁香湯下三丸。（夜一服。）</p>
<p>因傷盛勞。鱉甲湯下七丸（日三服。漸安。減服。）</p>
<p>小腸痃癖氣。茴香湯下三丸。</p>
<p>大小便不通。蜜湯下五丸。（未通。加至七丸。）</p>
<p>九種心痛。茱萸湯下五丸（立止。）</p>
<p>屍注走痛。木瓜湯下三丸。</p>
<p>腳氣。石楠湯下五丸（每日食前服。）卒死。氣未絕。小便化七丸。灌之立活。</p>
<p>產後血不行當歸酒下三丸。</p>
<p>血暈、血迷、血蠱、血痢、血脹、血刺、血塊、血積、血症、血瘕、並用當歸酒下二丸。逐日服。難產橫倒。榆白皮湯下二丸。</p>
<p>胎衣不下。燒稱錘。通紅。以酒淬之。帶熱下二丸。惟孕婦患不可服。產急難方可服之。</p>
<p>脾瀉血痢。乾薑湯下一丸。</p>
<p>赤白痢。甘草乾薑湯下一丸。</p>
<p>赤痢。甘草湯下一丸。</p>
<p>白痢。乾薑湯下一丸。</p>
<p>胃冷。吐逆。並反胃吐食。丁香湯下二丸。</p>
<p>卒心腹痛不可忍者。熱醋鹽湯下三丸。</p>
<p>如常服一丸。臨臥茶清下。</p>
<p>五爛疾。牛乳下一丸（每日二服。）</p>
<p>如發瘧時。童子小便酒下十丸。化開灌之。吐利即愈。其效如神。</p>
<p><u>療萬病六神丹</u></p>
<p>雄黃（一兩。研）　礬石（一兩。燒）　巴豆（一兩。去皮）　附子（一兩。炮）　藜蘆（三兩）　硃砂（二兩。一兩別研。一兩為衣）</p>
<p>上為未。煉蜜為丸。如小豆大一等作黍米大。男子百疾。以飲服二丸。小兒量度與小者服。得利。即瘥。</p>
<p><u>安息香丸</u></p>
<p>治傳屍肺痿。骨蒸。鬼疰。卒心腹疼。霍亂吐瀉。時氣瘴瘧。五利。血閉。痃癖。丁腫。驚邪。諸疾。</p>
<p>安息香　木香　麝香　犀角　沉香　丁香　檀香　香附子　訶子　硃砂　白朮　蓽茇（以上各一兩）　乳香　龍腦　蘇合香（以上各半兩）</p>
<p>上為末。煉蜜成劑。杵一千下。丸如桐子大。新汲水化下四丸。老幼皆一丸。以絳囊子盛一丸彈子大。懸衣。辟邪毒魍魎甚妙。合時忌雞犬婦人見之。</p>
<p><u>明月丹</u></p>
<p>治傳屍勞。</p>
<p>雄黃（半兩）　兔糞（二兩）　輕粉（一兩）　木香（半兩）　天靈蓋（一兩。炙）　鱉甲（一個。大者去裙爛。醋炙焦黃）</p>
<p>上為末。醇酒一大升。大黃一兩。熬膏。入前藥末為丸。如彈子大。硃砂為衣。如是傳屍勞。肌瘦面黃。嘔吐血。咳嗽不定者。是也。先燒安息香。令煙起。吸之不嗽者。非傳屍也。不可用此藥若吸菸入口。咳嗽不能禁止者。乃傳屍也。宜用此藥。五更初勿令人知。以童子小便。與醇酒。共一盞。化一丸服之。如人行二十里。上吐出蟲。其狀若燈心而細。長及寸。或如爛李。又如蝦蟆。狀各不同。如未效。次日再服。以應為度。仍須初得。血氣未盡。精神未亂者。可用之。</p>
<p><u>地黃煎</u></p>
<p>解勞生肌肉。進食活血養氣。</p>
<p>生地黃汁（五升）　生杏仁汁（一升）　薄荷汁（一升）　生藕汁（一升）　鵝梨汁（一升）　法酒（二升）　白蜜（四兩）　生薑汁（一升）</p>
<p>以上同於銀石器中。慢火熬成膏卻入後藥。</p>
<p>柴胡（四兩。去蘆。焙）　木香（四兩）　人參（二兩）　白茯苓（二兩）　山藥（二兩）　柏子仁（二兩）　遠志（二兩。去心）　白朮（二兩）　桔梗（二兩）　枳實（二兩。麩炒）　秦艽（三兩。去蘆）　麝香（二錢。另研）　熟地黃（四兩）</p>
<p>上末。入前藥膏中和。再入臼中。杵三二千下。丸如桐子大。每服食藥。用甘草湯下二十丸。食後日三服。安。即住服。</p>
<p><u>起蒸中央湯</u></p>
<p>黃連（五兩。）</p>
<p>上㕮咀。以醇酒二斗。同熬成膏。每夜以好酒化下彈子大一丸。汗出為度。仍服補藥射臍丸。</p>
<p><u>補藥麝臍丸</u></p>
<p>麝（一枚。燒灰）　地黃（洗）　地骨皮　山藥　柴胡（各一兩）　白朮（□□）　活鱉（一個。重二斤者佳）</p>
<p>上將鱉入醇酒一方。煮令爛熟。研細。入汁。再熬膏。入未。丸如桐子大。酒服二十丸。日二。夜一。蒸謂骨蒸也。氣血相摶。久而瘦弱。遂成勞傷。肉消毛落。妄血喘咳者是也。宜以前法治之。</p>
<p><u>太上延年萬勝追魂散</u></p>
<p>人參（去蘆）　柴胡（去苗）　杏仁（去皮尖）　天靈蓋（炙。各一兩）　蜀椒（一分）　桃柳心（一小握）</p>
<p>上為末。童子小便一升。末一兩。垍瓶中煎。令熟。空心日午各進一服。經五日效。</p>
<p><u>醉仙丹</u></p>
<p>主偏枯不遂。皮膚不仁。</p>
<p>麻黃（一升。去節。水煮去沫。焙乾作末）　南星（七個。大者）　大附子（三個。黑者）　地龍（七條。去土）</p>
<p>上除麻黃外。先末之。次將麻黃末。用醇酒一方。熬成膏。入末。丸如彈子大。每服。食後。臨睡。酒化一丸。汗出為度偏枯不遂。皮膚不仁皆由五臟氣虛。風寒暑濕之邪。蓄積於中久而不散。乃成疾焉。以前法主之。</p>
<p><u>靈烏丹</u></p>
<p>治一切冷疾疼痛。麻痹風氣。</p>
<p>川烏（一斤。河水浸。七日換水。浸去皮尖。切片。干之）　牛膝（二兩。酒浸。焙）　何首烏（四兩。制如川烏法）</p>
<p>上為末。煉蜜。丸如桐子大。硃砂為衣。空心。酒下七丸。漸加至十丸。病已即止。</p>
<p><u>扁鵲玉壺丹</u></p>
<p>駐顏補暖祛萬痛。</p>
<p>硫黃（一斤。以桑灰淋濃汁五斗煮硫黃令伏。以火煅之。研如粉。掘一地坑子。深二寸許。投水在裡。候水清。取調硫黃末。稀稠得所。瓷器中煎乾。用鏊一個。上敷以砂。砂上鋪紙。鏊下以火煅熱。即取硫黃滴其上。自然色如玉矣。）</p>
<p>上以新炊飯。為丸如麻子大。空心。食前。酒下十丸。</p>
<p><u>葛玄真人百補構精丸。</u></p>
<p>熟地黃（四兩）　山藥（二兩）　五味子（六兩）　蓯蓉（三兩。酒浸一宿）　牛膝（二兩。酒浸）　山茱萸（一兩）　澤瀉（一兩）　茯苓（一兩。去皮）　遠志（一兩。去心）　巴戟天（一兩。去心）　赤石脂（一兩）　石膏（一兩）　柏子仁（一兩。炒）　杜仲（三兩。去皮。銼碎。慢火炒令絲斷）</p>
<p>上為末。煉蜜。丸如桐子大。空心。溫酒下二十丸。男子婦人皆可服。</p>
<p><u>澀精金鎖丹</u></p>
<p>韭子（一斤。灑浸三宿。濾出焙乾。杵為末。）</p>
<p>上用酒糊為丸。如桐子大。硃砂為衣。空心。酒下二十丸。</p>
<p><u>療百疾延壽酒</u></p>
<p>黃精（四斤）　天門冬（三斤）　松葉（六斤）　蒼朮（四斤）　枸杞子（五升）</p>
<p>上以水三碩。煮一日。取汁。如釀法成。空心任意飲之。</p>
<p><u>交藤丸</u></p>
<p>駐顏長算。祛百疾。</p>
<p>交藤根（一斤。紫色者。河水浸七日。竹刀刮去皮。曬乾）　茯苓（五兩）　牛膝（二兩）</p>
<p>上為末。煉蜜。搜成劑。杵一萬下。丸如桐子大。紙袋盛之。酒下三十丸。空心服。久服延壽。忌豬羊肉</p>
<p><u>天仙丸</u></p>
<p>補男子婦人虛乏。</p>
<p>天仙子　五靈脂（各五兩。）</p>
<p>上炒令焦。黑色杵末。以酒糊為丸如綠豆大。食前酒服十五丸。</p>
<p><u>左慈真人（陸本無此上四字。作善養。）千金地黃煎</u></p>
<p>生地黃（一秤取汁。於石器中熬成膏。入熟乾地黃末。看硬軟劑。杵千下。）</p>
<p>上丸如桐子大。每服二十丸。空心服久服。斷欲。神仙不死。</p>
<p><u>取積聚方</u></p>
<p>輕粉　粉霜　硃砂（各半兩）　巴豆霜（二錢半）</p>
<p>上同研勻。煉蜜作劑。旋丸如麻子大。生薑湯下三丸量虛實加減。</p>
<p><u>治癥瘕方</u></p>
<p>大黃（濕紙裹。煨）　三稜（濕紙裹。煨熱銼）　硼砂（研）　乾漆（炒令煙盡）　巴豆（去皮。出油）</p>
<p>以上各一兩為末。醋一方。熬成膏。入後藥。</p>
<p>木香　丁香　枳實（麩炒。去穰）　桂心（各一兩）</p>
<p>上為末。入前項膏子。和成劑。杵千下。為丸如綠豆大。飲服三五丸。食後服。</p>
<p><u>通氣阿魏丸</u></p>
<p>治諸氣不通。胸背痛。結塞悶亂者。悉主之。</p>
<p>阿魏（二兩）　沉香（一兩）　桂心（半兩）　牽牛末（二兩）</p>
<p>上先用醇酒一升。熬阿魏成膏。入藥末為丸。櫻桃大。硃砂為衣。酒化一丸。</p>
<p><u>治屍厥卒痛方</u></p>
<p>屍厥者謂忽如醉狀肢厥而不省人事也。卒痛者謂心腹之間。或左右脅下。痛不可忍。俗謂鬼箭者是。</p>
<p>雄黃（二兩研）　硃砂（二兩研）</p>
<p>上二味。再同研勻。用大蒜一頭。濕紙裹。煨。去紙。杵為丸。櫻桃大。每服一丸。熱酒化下。</p>
<p><u>鬼哭丹</u></p>
<p>主腹中諸痛。氣血凝滯。飲食未消。陰陽痞隔。寒熱相乘。摶而為痛。宜以此方主之。</p>
<p>川烏（十四個。生）　硃砂（一兩）　乳香（一分）</p>
<p>上為末。以醋一盞。五靈脂末一兩。煮糊和丸。如桐子大。硃砂為衣。酒下七丸。男子溫酒下。女人醋湯下。</p>
<p><u>治心痛不可忍者</u></p>
<p>木香　蓬朮（各一兩）　乾漆（一分。炒）</p>
<p>上為末。每服一錢。熱醋湯調下。入口立止。</p>
<p><u>取長蟲兼治心痛方</u></p>
<p>木棗（二十一個。去核）　綠礬（一兩。作二十一塊子。填棗中。麵裹。燒紅。去面）　雷丸（七個）　輕粉（一錢）　木香（一錢）　丁香（一錢）　水銀（半兩。入鉛半兩。溶成砂子）</p>
<p>上為末。取牛肉二兩。車脂一兩。與肉同銼令爛。米醋一升。煮肉令成膏。入藥同熬。硬軟得所。入臼中。杵三二千下。丸如酸棗大。丸時先以緋線一條。丸在藥中。留二尺許。作系。如有長蟲者。五更初。油漿水吞下一丸。存線頭。勿令吞盡。候少頃。心中痛。線動。即急拽線。令藥出。則和蟲出。若心氣痛不可忍者。熱醋湯化下一丸立止。</p>
<p><u>治蟲毒方</u></p>
<p>水銀　密陀僧　黃丹　輕粉　大黃　丁香　訶子　雄雀糞（各一兩）</p>
<p>上為末。每服二錢。用面半兩。共水和成油餅。食之。又法作棋子。入漿水煮熱。食之。</p>
<p><u>破棺丹。</u>　治陰厥。面目俱青。心下硬。四肢冷。脈細欲絕者。</p>
<p>硫黃（一兩。無灰酒煮三日三夜。如耗旋添暖酒。日足取出。研為末）　丹砂（一兩。研勻細）</p>
<p>上以酒煮。糊為丸如雞頭大。有此病者。先於淨室中。匆令人知。度病人長短。掘一地坑子。深一尺以來。用苜蓿火燒。令坑子極熱。以醋五升。沃令氣出。內鋪衣被蓋坑。以酒化下一丸。與病人服之。後令病人臥坑內。蓋覆。少時汗出。即扶病者令出無風處蓋覆。令病人四肢溫。心下軟。即漸去衣被。令通風。然後看虛實調補。</p>
<p><u>再生丸。</u>　起厥死猶暖者。</p>
<p>巴豆（一兩。去皮研）　硃砂（一兩細研）　麝香（半兩。研）　川烏尖（十四個為末）　大黃（一兩。炒取末）</p>
<p>上件再同研勻。煉蜜和丸。如桐子大。每服三丸。水化下。折齒灌之立活。亦療關膈結胸。極效。</p>
<p><u>救生丸</u>　治卒死。</p>
<p>大黃（四兩）　輕粉（半兩）　硃砂（一兩）　雄黃（一分）　巴豆（七個去皮。細研取霜）</p>
<p>上為末。以鯤膽汁和丸。如雞頭大。童子小便化開一丸。斡開口灌之。內大蔥一寸許入鼻中。如人行五七里。當吐出涎。即活。</p>
<p><u>治脾厥吐瀉霍亂</u></p>
<p>黑附子（炮去皮。臍入破）　乾薑（炮）　甘草（炙）　肉豆（各一兩。印本無此一味有豉等分）</p>
<p>上為末。水半升。末四錢。（印本作二錢。）棗七個。姜一分。（印本作一錢。）同煎。去半。溫服。連進三服。</p>
<p><u>三生散。</u>　起卒死。兼治陰盛四逆吐瀉不止。</p>
<p>草烏（七個）　厚朴（一尺）　甘草（三寸。並生用）</p>
<p>上為末。水一中盞末一錢。棗七個。煎七分服。重者灌之。</p>
<p><u>起卒死</u></p>
<p>⿱艹憨蔥根（二兩）　瓜蒂（一分）　丁香（十四粒）</p>
<p>上為末。吹一字入鼻中。男左女右。須臾自活。身冷強厥者勿活。</p>
<p><u>浴腸湯。</u>　治陽厥發狂。將成疽。</p>
<p>大黃（四兩。濕紙裹。煨）　大青葉　梔子仁　甘草（各一兩。炙）</p>
<p>上為末。水五升。末四兩。煎減二升。內朴硝五合。再熬去一升。取汁二升。分四服。量虛實與之。大瀉為度。如喜水。即以水澆之。畏水者。勿與吃。大忌。</p>
<p><u>破黃七神丹</u></p>
<p>朴硝（二斤）　硃砂（五兩）　大黃（七兩）　甘遂（二兩）　山梔（二兩）　輕粉（一兩）　豉（半斤。以絹袋盛之）</p>
<p>上七味。以水二斗。熬令水盡。除去甘遂。豉。梔子。大黃。只取朴硝。硃砂。輕粉。為末。以水浸豉汁。研勻後入末。三味同和。煮糯米糊為丸如彈子大。新水化一丸。吐瀉為度。</p>
<p><u>三黃丸。</u>　治三痟吐血諸黃症。</p>
<p>黃連（三兩）　黃芩（二兩）　大黃（一兩）</p>
<p>上為末。煉蜜為丸。如桐子大。食後溫水下十五丸。量虛實加減服。</p>
<p><u>通中延命玄冥煮原砂法。</u>　活尿血。開擁塞。解毒。治一切熱病。風氣。腳毒。蠱毒。</p>
<p>硃砂（五兩）　朴硝（半秤。水煮七遍每遍用水三升。水盡為度。取霜。再入水二升）　蘇木（二兩）　大黃（五兩）　鬱金（三兩）　山梔（二兩）　人參（二兩）　桑皮（二兩）　甘草（五兩）</p>
<p>上件同熬。水盡為度。只用硃砂。去余藥。杵末。煉蜜丸桐子大。每服二十丸。飲下。可疏諸毒。尤妙。</p>
<p><u>治暴熱毒。心肺煩而嘔血方。</u></p>
<p>大黃（二兩。為末。以地黃汁拌勻。濕即焙乾）</p>
<p>上為末。每服二錢。地黃汁調下。以利為度。甘草湯亦得。</p>
<p><u>治吐血方</u></p>
<p>蛤粉（四兩）　硃砂（一兩）</p>
<p>上為末。新汲水調下。五錢。未已再服。止即已。</p>
<p><u>治中暍死心下猶暖。起死方。</u></p>
<p>上令病者仰面臥。取溫水不住手澆淋臍中。次以童子小便。合生地黃汁。灌之。自活。禁與冷水。只與溫熟水飲之。</p>
<p><u>玉霜膏。</u>　治一切熱毒喉閉。</p>
<p>朴硝（一斤）　牙硝（半斤）　硼砂（四兩）　礬石（三兩）</p>
<p>上為末。火熔成汁。築一地坑子。令實。傾入。盆覆一夕。取杵。為末。入龍腦二兩。研勻。新汲水半盞。合生蜜調一錢。小兒量與服。</p>
<p><u>百生方。</u>　救百物入咽喉。鯁欲死者。</p>
<p>茯苓（去皮）　貫眾　甘草</p>
<p>上件各等分為末。每服一錢。米飲調一分。立效。</p>
<p><u>治喉閉。悶氣欲死者。</u></p>
<p>上取乾漆。燒令煙出。竹筒子吸菸吞之。立效。</p>
<p><u>治漏胎胎損方</u></p>
<p>川芎　艾葉（各一兩。炒）　阿膠（炒）　白茯苓（□□）</p>
<p>上末之。糯米飲調下二錢匕。日七服。仍食糯米粥。養之。</p>
<p><u>治婦人血崩方</u></p>
<p>枳殼（一錢。麵炒）　地黃（二錢。燒醋淬十四次）</p>
<p>上為末。醋湯調下。一錢匕。連三服效。</p>
<p><u>治婦人血閉方</u></p>
<p>乾漆（二兩。燒）　生地黃汁（五升）</p>
<p>上熬成膏。酒化棗大許。空心服。</p>
<p><u>三不鳴散。</u>　治小便不通。及五淋。</p>
<p>取水邊。燈下。道邊。螻蛄各一個。（三處取三個。令相咬。取活者一個。如後法。麝香酒。食空下。）</p>
<p>上內於瓶中。封之。令相噬。取活者焙乾。余皆為末。每服一錢匕。溫酒調服立通（余皆二字。恐誤。）</p>
<p><u>甘草湯。</u>　解方藥毒</p>
<p>甘草（一十二兩）</p>
<p>上件。銼碎。水二斗。煎至一斗。取清。溫冷得所。服。仍儘量服。</p>
<p><u>治溺死方</u></p>
<p>取石灰三石。露首培之。令厚一尺五寸。候氣出後。以苦葫蘆穰作末。如無。用瓜蒂。</p>
<p>上用熱茶調一錢。吐為度。省事後。以糜粥自調之。</p>
<p><u>治縊死方</u></p>
<p>先令人抱起。解繩。不得用刀斷。扶於通風處。高首臥。取⿱艹憨蔥根末。吹入兩鼻中。更令親人吹氣入口。候噴出涎。即以礬石末。取丁香煎湯。調一錢匕灌之。</p>
<p><u>槐子散。</u>　治久下血。亦治尿血。</p>
<p>槐用中黑子一升。合槐花二升。同炒焦。</p>
<p>上件為末。每服二錢。用水調下。空心食前各一服。病已止。</p>
<p><u>治腸風下血</u></p>
<p>荊芥穗　地黃（各二兩）　甘草（半兩）</p>
<p>上為末。每服一錢。溫酒調下。食後。日三。夜一。</p>
<p><u>治暴喘欲死方</u></p>
<p>大黃（一兩）　牽牛（二兩炒）</p>
<p>上件為細末。每服二錢。蜜水調下。立愈。治上熱痰喘極效。若虛人。肺虛冷者。不可用。</p>
<p><u>大聖通神乳香膏。</u>　貼諸毒瘡腫。發背癰疽。</p>
<p>乳香（一兩）　沒藥（一兩）　血竭（一兩）　黃蠟（一兩）　黃丹（二兩）　木鱉（二兩。去殼）　烏魚骨（二兩）　海桐皮（二兩）　不灰木（四兩）　瀝青（四兩）　五靈脂（二兩）　麝香（二錢）　膩粉（五十個子。此必有誤）</p>
<p>上併為末。用好油四兩熬令熱。下藥末熬。不住手攪之。令黑色滴水中成珠即止。</p>
<p><u>水澄膏。</u>　治病同前</p>
<p>井泉石　白及（各一兩）　龍骨　黃柏　鬱金（各半兩）　黃蜀葵花（一分）</p>
<p>上六味。併為末。每服二錢。新汲水一盞調藥。打令勻。伺清澄。去浮水。攤在紙花上。貼之。腫毒發背皆治。</p>
<p><u>更蘇膏。</u>　治一切不測惡瘡。飲垂（垂字恐誤。）</p>
<p>南星（一個）　半夏（七個）　巴豆（五個。去殼）　麝香（半錢）</p>
<p>上為細末。取臘月豬脂就膏。令如不痛瘡。先以針刺破。候忍痛處。使以兒乳汁同調貼之。</p>
<p><u>千金膏。</u>　貼一切惡瘡癱癤。</p>
<p>定粉　南粉　膩粉　黃丹（各一分）</p>
<p>上為末。入麝香一錢。研勻。油調得所。成膏貼。</p>
<p><u>定命丸。</u>　治遠年日近。一切惡候漏瘡。</p>
<p>此藥為末。熔開蠟就湯內為條。如布針大。入內雲母膏貼之。</p>
<p>雄黃　乳香（各一分）　巴豆（二十一粒。去皮不去油）</p>
<p>上研如粉。入白麵三錢。水和丸如小豆。或小麥粒大。兩頭尖。量病淺深內瘡中。上用乳香膏貼之。效。服雲母膏尤佳。</p>
<p><u>麝香丸。</u>　治一切氣漏瘡。</p>
<p>麝香（一分）　乳香（一分）　巴豆（十四粒。去皮）</p>
<p>上為末。入棗肉。和成劑。丸作鋌子。看瘡遠近。任藥。以乳香膏貼之。以效為度。</p>
<p><u>香鼠散。</u>　治漏瘡。</p>
<p>香鼠皮（四十九個。河中花背者是）　龍骨（半兩）　蝙蝠（二個。用心肝）　黃丹（一分）　麝香（一錢）　乳香（一錢）　燈心草（一兩。燒灰）</p>
<p>上入垍閤中泥固濟。炭三斤。煅火。終。放冷。為末。用蔥漿水洗淨。以藥貼之立效。</p>
<p><u>定痛生肌肉方</u></p>
<p>胭脂（一分）　血竭（一兩）　乳香（一分）　寒水石（三兩燒）</p>
<p>上為末。先以溫漿水洗過。拭乾。敷瘡。甚妙。</p>
<p><u>又定痛生肌肉方</u></p>
<p>南星（一個）　乳香（二錢）　定粉（半兩）　龍骨（半兩）　不灰木（一兩。燒過）</p>
<p>上為末。先以溫漿水洗瘡口。以軟帛拭乾。敷之。</p>
<p><u>治白丁增寒喘急昏冒方</u></p>
<p>葶藶　大黃（各一兩）　桑白皮　茯苓（各二兩）　檳榔（七個）　郁李仁　漢防己（各三分）</p>
<p>上件為末。每服三錢。蜜水調下。以疏下惡物為度。</p>
<p><u>又取白丁方</u></p>
<p>鉛霜（一分）　膽礬　粉霜（各一錢）　蜈蚣（一條）</p>
<p>上件為末。先刺令血出。內藥米心大。以醋麵餅封口。立愈。</p>
<p><u>治赤丁方</u></p>
<p>黃連　大黃（各一兩）</p>
<p>上件為末。以生蜜和丸如桐子大。每服三十丸。溫水下。以利為度。</p>
<p><u>又取赤丁方</u></p>
<p>杏仁（七個。生用）</p>
<p>上件嚼爛漱之。令津滿口。吐出線濾汁。入輕粉少許。調勻。以雞羽掃之。</p>
<p><u>治黃丁方</u></p>
<p>巴豆（七個。去心膜）　青州棗（七個。去核。安巴豆在棗內。以麵裹。煨通赤）</p>
<p>上件為末。以硼砂醋作面。糊為丸。如綠豆大。每服五丸至十丸。米飲下。以利為度。</p>
<p><u>又取黃丁方</u>（六本。元控一行。）</p>
<p>黃柏（三兩）　鬱金（半兩）</p>
<p>上件為細末。以雞子清調。雞羽掃上。</p>
<p><u>治黑丁方</u></p>
<p>菟絲子　菖蒲</p>
<p>上二味等分為末。酒浸取汁掃丁上。更服腎氣丸補之。</p>
<p><u>治青丁方</u></p>
<p>穀精草　蟬殼（各一兩）　蒼朮（五兩）</p>
<p>上為末每服一錢。水調服食前仍以針刺丁出。用桑柴灰汁洗之。立效。</p>
<p>以上八方六本在中卷四十論後。印本無此方。今附下卷之末。</p>

<h1>附錄一·序</h1>
<p>華先生諱佗字元化。性好恬淡。喜味方書。多遊名山幽洞。往往有所遇。一日因酒息於公宜山古洞前。忽聞人論療病之法。先生訝其異。潛逼洞竊聽。須臾有人云。華生在邇。術可付焉。復有一人曰。道生性貪。不憫生靈。安得付也。先生不覺愈駭。躍入洞。見二老人。衣木皮。頂草冠。先生躬趨左右而拜曰。適聞賢者論方術。遂乃忘歸。況濟人之道素所好為。所恨者未遇一法。可以施驗。徒自不足耳。願賢者少察愚誠。乞與開悟。終身不負恩。首坐先生云。術亦不惜。恐異日與子為累。若無高下。無貧富。無貴賤。不務財賄。不憚勞苦。矜老恤幼為急。然後可脫子禍。先生再拜謝曰。賢聖之語一一不敢忘。俱能從之。二老笑指東洞云。石床上有一書函。子自取之。速出吾居。勿示俗流。宜秘密之。先生時得書。回首已不見老人。先生懾怯離洞。忽然不見。云奔雨瀉。石洞摧塌。既覽其方論多奇怪。從茲施試效無不存神。先生未六旬。果為魏所戮。老人之言預有斯驗。余乃先生外孫也。因吊先生寢室。夢先生引余坐。語中藏經真活人法也。子可取之。勿傳非人。余覺驚怖不定。遂討先生舊物。獲石函一具。開之。得書一帙。乃中藏經也。予性拙於用。復授次子思。因以志其實。甲寅秋九月序。（此序趙寫本所無。似是後人偽作。姑附存之。）</p>

<h1>附錄二·跋</h1>
<p>余少讀華佗傳。駭其醫之神奇。而惜其書之火於獄。使之尚存。若刳腹斷臂之妙。又非紙上語所能道也。古汴陸徒老。近世之良醫也。嘗與之論脈曰。無如華佗之論最切。曰性急者脈亦急。性緩者脈亦緩。長人脈長。短人脈短。究其說未暇也。一日得閩中倉司所刊中藏經讀之。其說具在。蓋二卿姜公詵為使者時所刊。凡三十餘年。而余始得之。序引之說。頗涉神怪。難於盡信。然其議論卓然。精深高遠。視脈察色。以決死生。雖不敢以為真正元化之書。若行於世。使醫者得以習讀之。所濟多矣。惜乎差舛難據。遂攜至姚江。以叩從老。從老笑曰此吾家所秘。不謂版行已久。因出其書見假。取而校之。乃知閩中之本未善。至一版或改定數十百字。則目錄。後有後序。藥方增三之二。閩本間亦有佳處。可證六本之失。其不同而不可輕改者。兩存焉。始得為善本。老不能繕寫。俾從子溉手錄之。蘄春王使君成父聞之欣然。欲於治所大書鋟木。以惠後學。且以成余之志。溉所錄。面授而記其始末於下。藥方凡六十道。亦有今世所用者。其間難曉者有之。恐非凡識所及。佗傳稱處齊不過數種。又未知此為是否。好事者。能以閩本校之。始如此本之為可傳也。</p>
