<header data-type="book">
<h1>方機</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>吉益東洞</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015280">國家圖書館掃描本</a>）；<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00333/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>刀圭之術。上自岐黃。下及歷代。名師哲匠。往往繼興。方書論說。紛紛乎不知幾數也。後漢張仲景尤獨出群。然其書傳者。僅傷寒論金匱而已。晉王叔和選次之。增演其書。加以私說。於是篇中玉石混同。而失真面目。至千歲之後。無知仲景心事者矣。吾邦東洞翁憂其迂論臆說有害本文。憤勵激發。而作書著論。以簸以揚。秕糠悉去。張氏之書得復其舊。豈不精哉。宜矣哉世之尊信翁也。屬者。書肆北林堂齎方機來曰。此書也東洞翁口授。而門人之所傳記以為帳秘也。余得之於乾守業者。欲刊以公於世。願勞先生校訂。余不敢辭。事務之餘。檢校數次。遂於方名之下加其方以應其需云爾。</p>
<p><u>文化辛未歲二月殿經文緯撰</u></p>

<h1>凡例</h1>
<p>一東洞翁所著方極。大行於世。然其文要簡。不便於初學。此編雖似蛇足。然亦輯翁之所口授。而坦易鄭重。故欲為牖後進之一助也。</p>
<p>一分量古今不一。且漢秤與本邦異。故今就翁所考訂。而別注於各方下如桂枝湯。桂枝、芍藥、生薑各三兩。大棗十二枚。今各七分五釐。甘草二兩。今五分是也。存其舊者以便覽者。煮法亦然。</p>
<p>一各方後舉其所主治之病症。而傍加兼用劑也。如其藥方。審於向所刊行古方丸散方。故今不贅。</p>
<p>一凡欲就長沙方而施匙術者。尤不可擇藥性不精嚴。近世為醫者。徒貪其價廉。而不要擇藥。唯利之趨。往往欺人者多矣。何其不仁之太甚也。夫醫之治疾也。猶勇士之使兵。鉛刀鈍器。雖當仇讎。將安為用也。故苟去其利而擇藥性。能從古人之規矩。則何病不治。思諸思諸。</p>

<h1>正文</h1>

<h2>桂枝湯</h2>
<p>桂枝、芍藥、生薑各三兩。大棗十二枚（今用各七分五釐）　甘草二兩。（今用五分）</p>
<p>上五味。㕮咀。以水七升。微火煮取三升。去滓。適寒溫。服一升。（今以水一合四勺。煮取六勺。服。）服已須臾歠熱稀粥一升余。以助藥力。溫覆令一時許。遍身漐漐。微似有汗者益佳。不可令如水流漓。病必不除。若一服汗出病差。停後服。不必盡劑。若不汗。更服依前法。又不汗後服小促其間。半日許令三服盡。若病重者一日一夜服。周時觀之。服一劑盡。病症猶在者。更作服。若汗不出者。乃服至二三劑。</p>
<p>頭痛發熱汗出惡風者。正證也。頭痛一證亦當投此方矣。若因咳嗽嘔逆而頭痛者。則非此湯之所治也。</p>
<p>惡寒、鼻鳴、乾嘔者。外邪之候也。此方主之。脈浮弱。或浮數而惡寒者。雖不具證。亦用此方。浮數浮弱。蓋桂枝湯之脈狀也。</p>
<p>汗吐下後更湊一證。又發熱汗出而身疼痛者。此方猶為可用。若脈浮緊而疼痛者。則非此湯之所治也。</p>
<p>發汗後疼痛甚。脈沉遲。或痹或四肢拘攣。心下痞塞者。桂枝加芍藥生薑人參湯主之。於本方內加芍藥生薑各一兩。人參三兩。（今用桂枝大棗人參各六分。芍藥生薑各八分。甘草四分。以上六味。煮如桂枝湯。兼用太簇或應鐘）上衝甚者桂枝加桂湯主之。於桂枝湯方內加桂二兩。（桂枝一錢。芍藥大棗生薑各六分。甘草四分。上五味。煮如桂枝湯。兼用應鐘）若有拘急硬滿之證者。則桂枝湯不宜與焉。凡上衝者非上逆之謂。氣從少腹上衝於胸是也。</p>
<p>煩脈浮數無硬滿狀者。</p>
<p>腹滿寒下脈浮。或惡寒。或腹時痛者。桂枝加芍藥湯主之。於本方內加芍藥三兩。（桂枝大棗生薑各六分。芍藥一錢二分。甘草四分。上五味。煮如本方。）</p>
<p>寒下已止。而大實痛者。桂枝加芍藥大黃湯主之。於前方內加大黃一兩。（今於前方內加大黃二分。兼用應鐘散）</p>
<p>項背強。汗出惡風者。桂枝加葛根湯主之。於本方內加葛根四兩（桂枝芍藥大棗生薑各六分。甘草四分。葛根八分。上六味。煎如本方。）</p>
<p>身體強脈沉遲者。發熱汗出四肢拘急者。或桂枝湯證而渴者。栝蔞桂枝湯主之。於本方內加栝蔞根二兩。（桂枝芍藥大棗生薑各六分。栝蔞根甘草各四分。上六味。煮如本方。）</p>
<p>黃汗四肢弛痛或身疼重煩躁小便不利者。（煩躁小便不利者立方證也。身體疼重為主證也。）或盜汗出者。發熱惡風而發黃色者。桂枝加黃蓍湯主之。於本方內加黃蓍二兩。（桂枝芍藥大棗生薑各六分。甘草黃蓍各四分。上六味。煮如本方。）</p>
<p>發汗遂漏不止、其人惡風小便難。四肢發急、難以屈伸者。桂枝加附子湯主之。於本方內加附子一枚。（桂枝芍藥大棗生薑各六分。甘草四分。附子三分。上六味。煮如本方。）</p>
<p>胸滿無拘急之證者。桂枝去芍藥湯主之。於本方內去芍藥。（桂枝大棗生薑各九分。甘草六分。以上四味。煮法如本方。）若有喘而胸滿或痛或脅下痞硬等證者。非此湯之所知也。喘家桂枝加厚朴杏子湯主之。於本方內加厚朴二兩。杏子五十個。（桂枝芍藥大棗生薑各六分。甘草厚朴杏仁各四分。上七味。煮如本方。）若喘而身疼痛者。非此湯之所主也。</p>
<p>胸中熱而吐涎沫或咳者。（兼用南呂）桂枝去芍藥加皂莢湯主之。於本方內去芍藥加皂莢二枚。（桂枝生薑大棗各七分五釐。甘草皂莢各五分。上五味。煮法如本方。）若咳而腹中拘攣或咳逆倚息者。非此湯之所治也。</p>
<p>驚狂（兼用紫丸）起臥不安者。或火逆躁（兼用紫丸）胸腹動劇者。及瘧疾而有上衝者。（兼用紫丸）桂枝去芍藥加蜀漆龍骨牡蠣湯主之。桂枝、生薑、蜀漆各三兩。大棗十二枚（今各四分五釐）牡蠣五兩。（九分五釐。）龍骨四兩（六分）甘草二兩（三分）</p>
<p>上為末。以水一斗二升。先煮蜀漆。減二升。內諸藥。煮取三升。去滓。溫服一升。（今以水二合四勺。煮取七勺。）若有胸脅苦滿之症。則別有主治矣。</p>
<p>頭項強痛。發熱無汗。心下滿微痛。（兼用南呂。）小便不利者。桂枝去桂加朮苓湯主之。於桂枝湯方內。去桂加苓、術各三兩。（芍藥大棗生薑茯苓朮各六分。甘草四分。上六味。煮法如桂枝湯。）失精胸腹有動者。（兼用應鐘）桂枝加龍骨牡蠣湯主之。於本方內加龍骨、牡蠣各三兩。（桂枝芍藥大棗生薑龍骨牡蠣各四分五釐。甘草三分。上七味。煮如本方。）</p>
<p>外感之證咽痛者。或咽喉中生瘡或腫痛。（兼用應鐘。劇者以梅肉攻之。）者。桂枝加桔梗湯主之。（於本方內加桔梗八分。煮法如本方。）濕家骨節疼痛（兼用應鐘七寶）者。或半身不遂口眼喎斜（南呂或紫丸）者。或頭疼重（應鐘）者。或身體麻痹者。或頭痛劇者。（應鐘時時以七寶紫丸之類攻之）桂枝加朮附湯主之。（桂枝芍藥大棗生薑術各六分。附子甘草各四分。上七味。煮如本方。）</p>
<p>濕家眼目不明者。（應鐘或紫丸或七寶）或耳聾或肉瞤筋惕者。桂枝加苓朮附湯主之。（於前方內加茯苓六分。經按以上二方皆從桂枝去桂加朮苓湯變來者也。驗之奏效甚多。）</p>

<h2>桂枝附子湯</h2>
<p>桂枝四兩。（今八分。）附子三枚。（九分。）甘草二兩。（四分。）生薑（三兩。）大棗十二枚。（各六分。）</p>
<p>上五味以水六升。煮取二升。去滓。分溫三服。（今以水一合八勺。煮取六勺。）</p>
<p>身體疼煩不能自轉側者。（應鐘或七寶）若其人大便硬（應鐘）小便自利無沖逆者。桂枝附子去桂加朮湯主之。於桂枝附子湯方內。去桂加朮四兩。（附子九分。術八分。甘草四分。大棗生薑各六分。上五味。煮法如桂枝附子湯。）</p>
<p>上五味以水三升。煮取一升。去滓。分溫三服。一服覺身痹。半日許再服。三服都盡。其人如冒狀。勿怪。即是朮附走皮中逐水氣未得除故耳。</p>

<h2>桂薑棗草黃辛附湯</h2>
<p>桂枝生薑各三兩。大棗十二枚。（各六分）甘草、麻黃、細辛各二兩。（各四分）附子一枚。（三分）</p>
<p>上七味。以水七升。煮麻黃。去上沫。內諸藥。煮取二升。分溫三服。當汗出如蟲行皮中。即愈。（以水一合四勺。煮取六勺。）</p>
<p>惡寒或身體不仁。或手足逆冷。而心下堅者。（紫丸南呂）及有痰飲之變者。</p>
<p>四肢惰痛。惡寒甚者。</p>
<p>世俗所謂勞咳（脊骨之灸）骨蒸惡熱惡寒。心中鬱郁、或心下痞堅者。（南呂）無痞堅者。（解毒散。俱以紫丸時時攻之。）</p>

<h2>小建中湯</h2>
<p>桂枝、甘草、生薑各三兩。大棗十二枚（各四分五釐）。芍藥六兩。（九分。）膠飴一升。（三錢。）</p>
<p>上六味。以水七升。煮取三升。去滓。內膠飴。更上微火。消解。溫服一升。日三服。（以水一合五勺。煮取六勺。去滓。內膠飴。冷消。）腹中急痛（應鐘）或拘攣者。此其正證也。若有外閉之證。則非此湯之所主治也。</p>
<p>衄（解毒）失精下血（應鐘）之人。腹中攣急或痛。手足煩熱者。</p>
<p>產婦手足煩熱。咽乾口燥。腹中拘攣者。（應鐘）若有塊者。（夷則）</p>
<p>心悸或肉瞤筋惕。或頭眩者。（應鐘）心悸甚者。（解毒）茯苓建中湯主之。（於本方內加茯苓四分五釐。煮法如本方。）</p>
<p>盜汗。或汗出多。或身重或不仁者。黃蓍建中湯主之。（兼用應鐘）於小建中湯方內加黃蓍一兩半。（今二分三釐。）</p>

<h2>桂枝甘草附子湯</h2>
<p>甘草、術各二兩。（六分。）附子二枚。（九分。）桂枝四兩。（一錢二分。）</p>
<p>上四味。以水六升。煮取三升。去滓。溫服一升。日三服。初服得微汗。則解。能食汗出。復煩者。服五合。恐一升多者。服六七合。（以水一合二勺。煮取六勺。服。）</p>
<p>骨節煩疼掣痛。不得屈伸。近之則痛劇者。（紫丸或七寶）</p>

<h2>桂枝人參湯</h2>
<p>桂枝、甘草各四兩（八分。）術。人象。乾薑各三兩（六分。）</p>
<p>上五味。以水九升。先煮四味。取五升。內桂。更煮取二升。溫服一升。日再夜一服。（以水一合八勺。煮取六勺。服。）</p>
<p>表裡有熱。下利。心下痞硬（太簇）者。痢病發熱惡寒心下痞硬（紫丸）者。</p>

<h2>人參湯</h2>
<p>人參、甘草、朮、乾薑（各三兩各七分五釐。）</p>
<p>上四味。搗篩為末。蜜和。丸如雞黃大。以沸湯數合和一丸。研碎。溫服之。日三服。夜二服。腹中未熱益至三四丸。然不及湯。湯法以四物依兩數切。用水八升。煮取三升。去滓。溫服一升。日三服（以水一合六勺。煮取六勺。服。）</p>
<p>心下痞硬（太簇）者。心下痞。喜唾。不了了者。（南呂）</p>
<p>暑病（所謂霍亂）嘔吐下利。心下痞硬者。（紫丸）</p>

<h2>茯苓杏仁甘草湯</h2>
<p>茯苓三兩（一錢五分。）杏仁五十個。（一錢。）甘草一兩（五分。）</p>
<p>上三味。以水一斗。煮取五升。溫服一升。日三服。不差者更服。（以水一合二勺。煮取六勺。）短氣息迫或喘急（紫丸）者。（酒客最多此病。以此湯大有效。）</p>

<h2>苓桂朮甘湯</h2>
<p>茯苓四兩。（一錢二分。）桂枝三兩。（九分。）朮、甘草各二兩。（各六分。）</p>
<p>上四味。以水六升。煮取三升。去滓。分溫三服。（以水一合二勺。煮取六勺。）</p>
<p>心下逆滿、起則頭眩。（應鐘或紫丸）者。</p>
<p>眼痛生赤脈、不能開者。（應鐘或紫丸。）</p>
<p>耳聾沖逆甚頭眩者。（應鐘及七寶。）</p>

<h2>苓薑朮甘湯</h2>
<p>甘草、術各二兩。（五分。）乾薑、茯苓各四兩。（一錢。）</p>
<p>上四味。以水五升。煮取三升。分溫三服。（以水一合二勺。煮取六勺。）</p>
<p>身體重、腰冷、小便自利者。（應鐘）</p>

<h2>苓桂五味甘草湯</h2>
<p>茯苓桂枝各四兩。（八分。）甘草三兩。（六分。）五味子半升。（一錢二分。）</p>
<p>上四味。以水八升。煮取三升。去滓。分溫三服。（以水一合六勺。煮取六勺。）</p>
<p>咳後沖逆劇、手足厥冷、或心下悸、或頭眩、或肉瞤筋惕者。（以上諸症皆兼用南呂丸）若沖逆已愈。但咳滿者。芩甘五味姜辛湯主之。於前方內去桂加茯苓四兩（六分。）乾薑細辛各三兩（四分五釐。）</p>

<h2>苓甘姜味辛夏湯</h2>
<p>茯苓四兩。（九分。）甘草、細辛、乾薑各三兩。（各三分。）五味子、半夏各半升（各九分。）</p>
<p>上六味。以水八升。煮取三升。去滓。溫服半升。日三服。（以水一合六勺煮取六勺。）</p>
<p>前方證而嘔者。</p>

<h2>芩甘姜味辛夏仁湯</h2>
<p>於前方內加杏仁半升（九分。）</p>
<p>前方證而微浮腫（南呂）者。</p>

<h2>苓甘姜味辛夏仁黃湯</h2>
<p>於前方內加大黃三兩。（三分。）</p>
<p>前方證而大便不通者。</p>

<h2>苓桂甘棗湯</h2>
<p>茯苓半斤（一錢二分。）甘草三兩（四分五釐。）大棗十五枚（五分五釐。）桂枝四兩（六分。）</p>
<p>上四味。以水一斗。先煮茯苓。減二升。內諸藥。煮取三升。去滓。溫服一升。日三服。（以水二合。煮取六勺。）</p>
<p>臍下悸者。</p>
<p>奔豚迫於心胸、短氣息迫（紫丸）者。</p>

<h2>茯苓澤瀉湯</h2>
<p>茯苓半斤（一錢二分。）澤瀉、生薑各四兩（各六分。）甘草、桂枝各二兩（各三分。）術三兩（四分五釐。）</p>
<p>上六味。以水一斗。煮取三升。內澤瀉。更煮取二升半。溫服八合。日三服。（以水二合五勺。先煮五味。取八勺。內澤瀉。更煮取六勺。）</p>
<p>吐而渴欲飲水者。此正症也。（紫丸）渴（有水而渴也）而小便不利、心下悸、或腹脹滿（水滿也）者。（蕤賓紫丸仲呂之類選用。）</p>

<h2>澤瀉湯</h2>
<p>澤瀉五兩（二錢五分。）術二兩（一錢。）</p>
<p>上二味。以水二升。煮取一升。分溫再服。（以水一合二勺。煮取六勺。）</p>
<p>心下有水氣、苦胃眩、小便不利者。</p>

<h2>五苓散</h2>
<p>澤瀉一兩六銖半（八分。）豬苓、茯苓、術各十八銖（各六分。）桂枝半兩（四分。）</p>
<p>上五味。為末。以白飲和。服方寸匕。日三服。多飲暖水。汗出愈。（或以水一合五勺。煮取六勺。服。亦可也。）</p>
<p>大汗出而煩躁。小便不利。身熱消渴者。正症也。發汗而脈浮數煩渴者。亦可用焉。</p>
<p>發熱而煩渴欲飲水。水入口則吐者。（紫丸）發熱小便數（與發汗同意）者。或渴欲飲水者。</p>
<p>頭痛。發熱。汗出。惡寒。身疼痛而欲飲水者。</p>
<p>發熱。嘔吐。下利。渴而欲飲水者。（紫丸）</p>
<p>心下悸。吐涎沫。頭眩者。（紫丸）</p>
<p>心下痞。煩渴。口燥。小便不利（黃鐘丸）者。若發黃色者。茵陳五苓散主之。（兼用承氣丸）茵陳蒿末十分。五苓散五分。上二物。和。先食飲方寸匕。日三服。</p>

<h2>豬苓湯</h2>
<p>豬苓、茯苓、阿膠、滑石、澤瀉。各一兩（六分。）</p>
<p>上五味。以水四升。先煮四味。取二升。去滓。內下阿膠。烊消。溫服七合。日三服。（以水一合二勺。煮取六勺。內膠令消。）</p>
<p>脈浮。發熱。渴欲飲水者。此其正症也。</p>
<p>下利。咳嘔。渴而心煩不得眠者。</p>
<p>小便淋瀝。或便膿血（便者小便也）者。（滑石礬甘散或應鐘。）</p>

<h2>牡蠣澤瀉散</h2>
<p>牡蠣、澤瀉、栝蔞根、蜀漆、葶藶、商陸根、海藻（各等分。）</p>
<p>上七味。異搗。下篩為散。更入臼中治之。白飲和。服方寸匕。小便利止後服。日三服。</p>
<p>胸腹有動而渴。腰以下水腫者。（蕤賓）</p>

<h2>八味丸</h2>
<p>乾地黃八兩。山茱萸、薯蕷各四兩。澤瀉、茯苓、牡丹皮各三兩。桂枝、附子各二兩。</p>
<p>上八味。末之。煉蜜和丸。梧子大。酒下十五丸。日再服。</p>
<p>腳氣疼痛。少腹不仁。（蕤賓）足冷或痛。少腹拘急。小便不利者。（應鐘）</p>
<p>消渴而小便反多者。</p>
<p>煩熱不得臥。倚息小便不利。飲食如故者。</p>
<p>夜尿或遺尿者。（應鐘。及臍下氣海之邊。日灸七壯。）</p>

<h2>麻黃湯</h2>
<p>麻黃三兩。杏仁七十個（各九分。）桂枝二兩（六分。）甘草一兩（三分。）</p>
<p>上四味。以水九升。先煮麻黃。減二升。去上沫。內諸藥。煮取二升半。去滓。溫服八合。覆取微似汗。不須啜粥。余如桂枝法將息。（以水二合。煮取六勺。）</p>
<p>頭痛。發熱。身疼。腰痛。骨節疼痛。惡風無汗而喘者。是其正證也。</p>
<p>喘而胸滿者。服發汗劑而不汗卻衄者。</p>
<p>濕家身煩疼者。麻黃加朮湯。（兼用七寶）主之。於本方內加朮四兩。（麻黃杏仁各七分半。桂枝五分。甘草二分半。術一錢。上五味。煮法如本方。）</p>
<p>小瘡內攻。喘鳴息迫。小便不利。一身滿腫者。麻黃加朮附湯主之。（兼用桃花散或紫丸。）</p>

<h2>麻黃附子甘草湯</h2>
<p>麻黃、甘草各二兩（一錢。）附子一枚（七分五釐。）</p>
<p>上三味。以水七升。先煮麻黃。一兩沸。去上沫。內諸藥。煮取三升。去滓。溫服一升。日三服。（以水一合四勺。煮取六勺。）</p>
<p>脈微細但欲寐惡寒（黃連解毒散）者。水腫脈沉微鬱滯者。（桃花散或蕤賓。時時以紫丸攻之而可也。）</p>

<h2>麻黃附子細辛湯</h2>
<p>麻黃細辛各二兩（一錢。）附子一枚（七分五釐。）</p>
<p>上三味。以水一斗。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。日三服。（以水一合四勺。煎取六勺。）</p>
<p>手足冷發熱脈沉者。或脈微細而惡寒甚者。</p>

<h2>麻黃杏仁甘草石膏湯</h2>
<p>麻黃四兩（八分。）杏仁五十個。甘草二兩（各四分。）石膏半斤（一錢六分。）</p>
<p>上四味。以水七升。先煮麻黃。減二升。去上沫。內諸藥。煮取二升。去滓。溫服一升。（以水一合四勺。煮取六勺。）</p>
<p>汗出而喘。熱伏者。</p>
<p>喘息而渴者。（兼用南呂或姑洗。）</p>

<h2>麻黃杏仁薏苡甘草湯（方從外臺古今錄驗。）</h2>
<p>麻黃四兩（八分。）甘草二兩。杏仁五十個（各四分。）薏苡仁半斤（一錢六分。）</p>
<p>上四味。以水五升。煮取二升。分溫。再服。（以水一合五勺。煮取六勺。）</p>
<p>一身悉痛（應鐘）發熱劇或浮腫（桃花）者。</p>
<p>發熱皮膚枯燥喘滿（桃花）者。</p>

<h2>牡蠣湯</h2>
<p>牡蠣、麻黃各四兩（一錢。）甘草二兩（五分。）蜀漆三兩（七分五釐。）</p>
<p>上四味。以水八升。先煮蜀漆麻黃。去上沫。得六升。內諸藥。煮取二升。溫服一升。若吐則勿更服。（以水二合四勺。先煮麻黃蜀漆。得一合八勺。內一味。煮取六勺。）瘧疾惡寒甚胸腹動劇（紫丸）者。</p>

<h2>小青龍湯</h2>
<p>麻黃、芍藥、乾薑、甘草、桂枝、細辛各三兩（各三分。）五味子、半夏各半升（各六分。）</p>
<p>上八味。以水一斗。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。（以水二合。煮取六勺。）</p>
<p>乾嘔發熱而咳。或咳且微喘者。（以上兼用南呂）喘息者。（南呂或姑洗或大灸）咳唾吐涎沫者。（南呂。或時時以紫丸攻之。）</p>

<h2>大青龍湯</h2>
<p>麻黃六兩（八分。）桂枝。甘草各二兩。杏仁四十個（各三分。）生薑三兩。大棗十二枚（各四分五釐。）石膏雞子大（一錢二分。）</p>
<p>上七味。以水九升。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。取微似汗。（以水一合八勺。煮取六勺。）汗出多者。溫粉粉之。一服汗者。停後服。汗多亡陽。遂虛。惡風煩躁不得眠也。</p>
<p>發熱惡寒。身疼痛不汗出。煩躁者。</p>
<p>脈浮緩。發熱身重。乍有輕時者。</p>
<p>頭痛劇。四肢惰痛。發熱而汗不出者。</p>

<h2>越婢湯</h2>
<p>麻黃六兩（九分。）石膏半斤（一錢二分。）生薑三兩（四分五釐。）大棗十五枚（六分。）甘草二兩（三分。）</p>
<p>上五味。以水六升。先煮麻黃。去上沫。內諸藥。煮取三升。分溫。三服。（以水一合二勺煮取六勺。）</p>
<p>一身悉腫。脈浮自汗出。惡風者。</p>
<p>若前症而小便不利者。或一身面目黃腫。小便自利。其脈沉而渴者。或小便不利。不渴者。越婢加朮湯（仲呂。或蕤賓。迫於胸中劇則以紫丸攻之。）主之。於木方內加朮四兩。（麻黃六分。石膏八分。大棗術各四分。甘草二分。生薑三分。上六味。煮法如越婢湯。）</p>
<p>腳氣一身腫滿。小便不利。或惡寒。或兩腳不仁者。越婢加朮附湯主之。（兼用紫丸）於前方內。加附子（四分。）</p>
<p>咳而上氣喘或嘔者。越婢加半夏湯（南呂）主之。於本方內加半夏半升。（麻黃半夏各六分。石膏八分。生薑三分。大棗四分。甘草二分。上六味。煮如本方。）</p>

<h2>葛根湯</h2>
<p>葛根四兩（六分。）麻黃、生薑各三兩。大棗十二枚（各四分五釐。）桂枝、芍藥、甘草各二兩（各三分。）</p>
<p>上七味。㕮咀。以水一斗。先煮麻黃、葛根。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。覆取微似汗。不須啜粥。余如桂枝法。將息及禁忌。（以水二合。煮取六勺。）</p>
<p>項背強而無汗惡寒者。（應鐘）</p>
<p>二陽（太陽陽明）合病下利者。</p>
<p>不下利但嘔者。葛根加半夏湯主之。於本方內。加半夏半升。（葛根半夏各六分。桂枝芍藥甘草各三分。麻黃大棗生薑各四分五釐。上八味。煮如本方。）</p>
<p>痓病無汗。小便反少。氣上衝於胸。口噤不能語言者。本方主之。（紫丸）</p>
<p>痘瘡自初熱至點見。（投本方。兼用紫丸下之一度。）自起脹至貫膿。葛根加桔梗湯主之。於本方內。加桔梗五分。自落痂以後。葛根加大黃湯主之。於本方內加大黃五分。若惡寒劇。起脹甚。而一身腫脹。或疼痛者。葛根加朮附湯。（紫丸）主之。於本方內。加朮、附子各四分。若腫脹甚者。（桃花散）寒戰咬牙而下利者。俱加朮附湯。（兼用紫丸。）</p>
<p>頭瘡、加大黃湯主之。</p>
<p>小瘡、葛根加梓葉湯（桃花散以萆麻子擦之。毒劇者以梅肉攻之。）主之。於本方內。加梓葉五分。</p>
<p>諸頑腫惡腫。加朮附湯主之。</p>
<p>瘰癧（七寶。梅肉日投。亦可也。）便毒瘍疔之類。（以梅肉攻之。伯州散。朝五分。夕五分。酒送下。）</p>
<p>疳瘡。（七寶或梅肉之類選用。）</p>
<p>凡諸有膿則加桔梗。若疼劇則加朮附。</p>
<p>世俗所謂小兒赤遊風丹毒類。皆加朮附湯主之。（兼用紫丸攻之。）</p>

<h2>葛根黃芩黃連湯</h2>
<p>葛根半斤（一錢六分。）甘草黃芩各二兩（各四分。）黃連三兩（六分。）</p>
<p>上四味。以水八升。先煮葛根。減二升。內諸藥。煮取二升。去滓。分溫。再服。（以水二合六勺。煮取六勺。）</p>
<p>下利喘而汗出者。</p>
<p>項背強。汗出下利者。（以上兼用應鐘。）</p>

<h2>小柴胡湯</h2>
<p>柴胡半斤（八分。）黃芩、人參、甘草、生薑各三兩。大棗十二枚（各三分。）半夏半升（六分。）</p>
<p>上七味。以水一斗二升。煮取六升。去滓。再煎。取三升。溫服一升。日三服。（以水二合四勺煮。取一合二勺。去滓。再煎。取六勺。）</p>
<p>往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔者。</p>
<p>胸滿脅痛者。</p>
<p>身熱惡風。頸項強。胸下滿。或渴或微嘔者。</p>
<p>胸下逆滿鬱郁不欲飲食或嘔者。（應鐘）</p>
<p>若潮熱胸脅滿而嘔者。（消塊）</p>
<p>寒熱發作有時。胸脅苦滿。有經水之變者。（應鐘）</p>
<p>產婦四肢苦煩熱。頭痛胸脅滿者。（解毒散）</p>
<p>產婦鬱冒。寒熱往來。嘔而不能食。大便堅或盜汗出者。（消塊或應鐘）</p>
<p>發熱大便溏。小便自可。胸滿者。（消塊）</p>
<p>發黃色。腹痛而嘔。或胸脅滿而渴者。（應鐘）</p>
<p>胸下硬滿不大便而嘔者。（消塊）</p>
<p>芒潮熱不去。大便不通者。柴胡加芒硝湯主之。於小柴胡湯方內。加芒硝六兩。（柴胡八分。半夏芒硝各六分。人參黃芩甘草生薑大棗各三分。上八味。以水二合四勺。煮取一合二勺。去滓。再煎。取六勺。內芒硝。更上火微沸。令消。）</p>
<p>瘧病往來寒熱。胸脅苦滿。或渴不嘔者。柴胡去半夏加栝蔞湯主之。（兼用紫丸）於小柴胡湯方內去半夏。加栝蔞根四兩。（柴胡八分。人參黃芩生薑大棗甘草各三分。栝蔞根四分。上七味。煮法如小柴胡湯。）</p>
<p>若上逆者。柴胡加桂枝湯主之。於本方內加桂枝五分。</p>
<p>發熱微惡寒。肢節煩疼。微嘔。心下支結者。（兼用應鐘）或腹中急痛上衝心者。（應鐘）</p>
<p>桂枝湯合方主之。柴胡桂枝湯方。桂枝、芍藥。黃芩人參、生薑、大棗各三分。甘草二分。半夏六分。柴胡八分。</p>
<p>上九味。煮法如小柴胡湯。</p>
<p>若本方證。而嘔逆劇者。倍半夏。湯熟。而加生薑汁一錢。</p>
<p>本方症而胸腹有動者。失精者。（俱應鐘）胸滿煩驚者。（解毒散或紫丸）柴胡加龍骨牡蠣湯主之。半夏二合（四分。）大棗六枚。生薑、人參、龍骨、鉛丹、桂枝、茯苓、牡蠣各一兩半（各二分三釐。）柴胡四兩（六分五釐。）大黃二兩（三分。）</p>
<p>上十一味。以水八升。煮取四升。內大黃。切如棋子。更煮一二沸。去滓。溫服一升。（以水一合五勺。煮取六勺。）</p>

<h2>柴胡薑桂湯</h2>
<p>柴胡半斤（八分。）桂枝、乾薑、黃芩、牡蠣各三兩（三分。）栝蔞根四兩（四分。）甘草二兩（二分。）</p>
<p>上七味。以水一斗二升。煮取六升。去滓。再煎取三升。溫服一升。日三服。初服微煩。復服汗出便愈。（今煮如小柴胡湯。）</p>
<p>胸脅滿。微結。渴而不嘔。頭汗出。往來寒熱。心煩者。（兼用應鐘。）</p>
<p>胸脅滿。上逆。胸腹有動者。</p>
<p>瘧疾。惡寒甚。胸胸滿。胸腹有動而渴者。（紫丸或應鐘。）</p>

<h2>大柴胡湯</h2>
<p>柴胡半斤（八兩。）黃芩、芍藥各三兩。大棗十二枚（各三分。）半夏半升（六分。）生薑五兩。枳實四枚（各五分。）大黃二兩（一分。）</p>
<p>上八味。以水一斗二升。煮取六升。去滓。再煎。溫服一升。日三服。（煮如小柴胡湯。）</p>
<p>嘔吐不止。心下急鬱郁微煩者。</p>
<p>心下痞硬而痛。嘔吐下利者。</p>
<p>心下滿痛。大便不通者。</p>
<p>胸脅苦滿。腹拘攣。大便不通者。</p>

<h2>白虎湯</h2>
<p>知母六兩（六分。）石膏一斤（一錢六分。）甘草二兩（二分。）粳米六合（一錢二分。）</p>
<p>上四味。以水一斗。煮米熟。湯成。去滓。溫服一升。日三服。（以水一合二勺。煮取六勺。）</p>
<p>手足厥冷。或惡寒而自汗出讝語者。</p>
<p>手足厥冷。胸腹熱劇者。</p>
<p>大煩渴。舌上乾燥。欲飲水數升者。</p>
<p>無大熱、心煩、背微惡寒者。</p>
<p>暑病。汗出惡寒身熱而渴者。</p>
<p>胸腹熱劇或渴如狂者。（本方內加黃連六分。）</p>
<p>本方證而心下痞硬者。白虎加人參湯主之。於本方內加人參三兩（三分。）</p>
<p>瘧疾。身熱骨節疼煩渴欲飲水者。白虎加桂枝湯主之。於本方內。加桂枝三兩（三分。）上以水一斗五升。煮取八升。去滓。溫服。（煮如本方。以上皆以紫丸時時攻之。）</p>

<h2>小承氣湯</h2>
<p>大黃四兩（一錢二分。）厚朴二兩（六分。）枳實三枚（九分。）</p>
<p>已上三味。以水四升。煮取一升二合。去滓。分溫二服。（以水二合。煮取六勺。）</p>
<p>初服湯當更衣。不爾者盡飲之。若更衣者勿服之。</p>
<p>腹滿大便不通者。</p>
<p>汗多。大便硬。譫語者。</p>
<p>發潮熱。大便初頭硬後必溏者。</p>
<p>微煩。小便數。大便硬者。</p>
<p>下利譫語者。</p>
<p>大便不通。噦而譫語者。</p>

<h2>厚朴三物湯</h2>
<p>厚朴八兩（二錢四分。）大黃四兩（一錢二分。）枳實五枚（一錢五分。）</p>
<p>上三味。以水一斗二升。先煮二味。取五升。內大黃。煮取三升。溫服一升。以利為度。（煮如小承氣湯。）</p>
<p>腹滿心下痛。而大便不通者。（屢所經驗也。）</p>
<p>心下滿痛吐出水者。</p>

<h2>厚朴七物湯</h2>
<p>厚朴半斤（八分。）甘草、大黃各三兩（各三分。）大棗十枚（二分五釐。）枳實五枚。生薑五兩（各五分。）桂枝二兩（二分。）</p>
<p>上七味。以水一斗。煮取四升。溫服八合。日三服。（以水一合五勺。煮取六勺。）</p>
<p>腹滿發熱。脈浮數。飲食如故者。</p>
<p>腹滿發熱。脈浮數而嘔。大便不通者。</p>
<p>痢疾。手足惰痛。或發熱。脈浮數或嘔者。</p>

<h2>大承氣湯</h2>
<p>大黃四兩（六分。）厚朴半斤（一錢二分。）枳實五枚（七分五釐。）芒硝三合（九分。）</p>
<p>上四味。以水一斗。先煮二物。取五升。去滓。內大黃。煮取一升。去滓。內芒硝。更上微火一兩沸。分溫再服。得下。余勿服。（以水三合。煮厚朴枳實。減半。去滓內大黃。煮取六勺。內芒硝。令消。）</p>
<p>發潮熱。大便硬者。</p>
<p>腹滿難解者。</p>
<p>腹滿脹而喘。兩便不通。一身面目水腫者。</p>
<p>潮熱譫語。大便硬。或有燥屎者。</p>
<p>腹滿痛。大便不通者。</p>
<p>大便不通。煩而腹滿者。</p>
<p>目中不了了。睛不和。大便硬者。</p>
<p>自利清水。心下痛。口乾燥者。</p>
<p>胸滿口噤。臥不著席。腳攣急咬牙者。</p>
<p>腹中有堅塊。大便不通者。</p>
<p>痘瘡腹大滿。兩便不通。或譫語口乾咽燥者。</p>
<p>痢疾譫語。或腹滿痛而不能食者。</p>
<p>食滯腹急痛。大便不通。或嘔利者。</p>

<h2>瀉心湯</h2>
<p>大黃二兩（一錢。）黃芩、黃連各一兩（各五分。）</p>
<p>上三味。以水三升。煮取一升。頓服之。（今以沸湯八勺。內藥一二沸。須臾絞取滓。頓服。）</p>
<p>心下痞。按之濡者。正症也。</p>
<p>心氣不足。吐血衄血者。</p>
<p>心煩心下痞者。</p>
<p>若惡寒者。附子瀉心湯主之。於瀉心湯方內。加附子一枚。</p>
<p>上四味。切三味。以麻沸湯二升漬之。須臾絞去滓。內附子汁。分溫。再服。（大黃一錢。黃芩黃連各五分。附子七分五釐。上四味。以水九勺。先煮附子。取六勺。去滓。內諸藥。煮一二沸。須臾絞去滓。服。）</p>

<h2>大黃附子湯</h2>
<p>大黃三兩（九分。）附子三枚（一錢三分五釐。）細辛二兩（六分。）</p>
<p>上三味。以水五升。煮取二升。分溫三服。若強人。煮取二升半。分溫三服。</p>
<p>服後如人行四五里。進一服。（以水一合五勺。煮取六勺。）</p>
<p>胸下偏痛發熱者。</p>
<p>惡寒甚腹痛大便不通者。</p>

<h2>大黃甘遂湯</h2>
<p>大黃四兩（一錢四分。）甘遂、阿膠各二兩（各七分。）</p>
<p>上三味。以水三升。煮取一升。頓服之。其血當下。（以水一合八勺。煮取六勺。）</p>
<p>小腹滿如敦狀。小便微難者。</p>
<p>小腹絞痛堅滿。手不可近者。</p>

<h2>抵當湯</h2>
<p>水蛭、虻蟲各三十個（各十個。）桃仁二十個（二分。）大黃三兩（一錢。）</p>
<p>上四味。為末。以水五升。煮取三升。去滓。溫服一升。不下再服。（為末。以水一合煮取六勺。）</p>
<p>小腹硬滿。小便自利發狂者。</p>
<p>喜忘。大便硬。反易通。色黑者。</p>
<p>脈浮數而善飢。大便不通者。</p>
<p>經水不利者。</p>

<h2>橘皮大黃朴硝湯</h2>
<p>橘皮一兩（六分。）大黃、朴硝各二兩（一錢二分。）</p>
<p>上三味。以水一大升。煮至小升。頓服。即消。（以水一合八勺。煮取六勺。）</p>
<p>宿食在心胸之間不化者。</p>

<h2>大黃硝石湯</h2>
<p>大黃、黃蘗。硝石各四兩（八分。）梔子十五枚（四分。）</p>
<p>上四味。以水六升。煮取三升。去滓。內硝石。煮取一升。頓服。（以水一合二勺。煮三味。取六勺。去滓。內硝。令消。）</p>
<p>發黃色。腹滿。小便不利者。</p>
<p>身熱心煩。大便不通者。</p>

<h2>大黃牡丹皮湯（方從千金。）</h2>
<p>大黃四兩（六分。）牡丹皮三兩（四分五釐。）桃仁五十個。芒硝二兩（各三分。）瓜子一升（一分五釐。）</p>
<p>上五味。以水六升。煮取一升。去滓。內芒硝。再煎沸。頓服之。有膿當下。如無膿當下血。（以水三合六勺。煮取六勺。去滓。內芒硝。令消。）</p>
<p>腹癰。按之即痛。時時發熱。自汗出復惡寒者。</p>
<p>腹中有堅塊。經水不順者。</p>
<p>腹脹滿如鼓。生青筋。或腫。小便不利者。</p>
<p>小腹有堅塊。小便淋瀝者。</p>

<h2>大黃甘草湯</h2>
<p>大黃四兩（二錢。）甘草一兩（五分。）</p>
<p>上二味。以水三升。煮取一升。分溫再服。（以水一合八勺。煮取六勺。）</p>
<p>大便不通急迫者。</p>
<p>食已即吐。大便不通者。</p>

<h2>調胃承氣湯</h2>
<p>大黃四兩（一錢。）甘草二兩（五分。）芒硝半斤（二錢。）</p>
<p>上三味。㕮咀。以水三升。煮取一升。去滓。內芒硝。更上火微煮。令沸。少少溫服。（以水一合八勺。煮取六勺。去滓。內芒硝。令消。）</p>
<p>因汗吐下譫語者。</p>
<p>發汗後熱而大便不通者。</p>
<p>服下劑下利不止。心煩或譫語者。</p>
<p>吐下之後。心下溫溫欲吐。大便溏。腹微滿。鬱郁微煩者。</p>
<p>吐後腹脹滿者。</p>

<h2>桃核承氣湯</h2>
<p>桃仁五十個。桂枝、芒硝、甘草各二兩（各五分。）大黃四兩（一錢。）</p>
<p>上五味。以水七升。煮取二升半。去滓。內芒硝。更上火微沸。下火。先食。溫服五合。日三服。當微利。（以水一合五勺。煮取六勺。去滓。內芒硝。微沸。令肖。）</p>
<p>小腹急結如狂者。</p>
<p>胞衣不下。氣急息迫者。</p>
<p>產後小腹堅痛。惡露不盡。或不大便。而煩躁或譫語者。</p>
<p>痢病小腹急痛者。</p>

<h2>甘草湯</h2>
<p>甘草二兩（二錢。）</p>
<p>上一味。以水三升。煮取一升半。去滓。溫服七合。日二服。（以水一合二勺。煮取六勺。）</p>
<p>急迫而咽痛者。</p>

<h2>桔梗湯</h2>
<p>桔梗一兩（一錢。）甘草二兩。（五分）</p>
<p>上二味。以水三升。煮取一升。去滓。分溫再服。（以水一合八勺。煮取六勺。）</p>
<p>咽痛者。（應鐘）</p>
<p>咽中腫不能飲食者。</p>
<p>肺癰（應鐘）癰疽。（伯州或梅肉。初發宜灸。）諸腫有膿者。（伯州梅肉）</p>

<h2>芍藥甘草湯</h2>
<p>芍藥甘草各四兩（各一錢四分。）</p>
<p>上二味。㕮咀。以水三升。煮取一升半。去滓。分溫。再服之。（以水一合二勺。煮取六勺。）</p>
<p>腳攣急者。（應鐘紫丸）</p>

<h2>甘遂半夏湯</h2>
<p>甘遂三枚（二分。）半夏十二枚（一錢二分。）芍藥五枚。甘草指大一枚（各八分。）</p>
<p>上四味。以水二升。煮取半升。去滓。以蜜半斤加藥汁。煎取一合。頓服之。（以水一合六勺。煮取四勺。去滓。以蜜四勺和藥汁。煎取六勺。）</p>
<p>下利心下續堅滿者。</p>
<p>下利拘攣而痛不可近者。</p>

<h2>芍藥甘草附子湯</h2>
<p>芍藥、甘草各三兩（一錢二分。）附子一枚（六分。）</p>
<p>已上三味。以水五升。煮取一升五合。去滓。分溫服。（以水二合。煮取六勺。）</p>
<p>汗後惡寒者。</p>
<p>腳攣急疼痛者。（應鐘紫丸或蕤賓）</p>

<h2>甘麥大棗湯</h2>
<p>甘草三兩（四分五釐。）小麥一升（二錢四分。）大棗十枚（四分。）</p>
<p>上三味。以水六升。煮取三升。分溫。三服。（以水一合六勺。煮取六勺。）</p>
<p>心中煩躁。悲傷欲哭。腹中濡者。（紫丸或解毒散兼用。）</p>

<h2>生薑甘草湯</h2>
<p>生薑五兩（一錢。）人參三兩（六分。）甘草四兩、大棗十五枚（各八分。）</p>
<p>上四味。以水七升。煮取三升。分溫。三服。（以水一合四勺。煮取六勺。）</p>
<p>咳唾涎沫不止。咽燥而渴者。（南呂）</p>
<p>嘔吐不止。心下痞硬而急迫者。（紫丸）</p>

<h2>甘草乾薑湯</h2>
<p>甘草四兩（一錢。）乾薑二兩（五分。）</p>
<p>上㕮咀。以水三升。煮取一升五合。去滓。分溫。再服。（以水一合二勺。煮取六勺。）</p>
<p>吐涎沫。不咳。遺尿。小便數者。（南呂）</p>
<p>足厥。咽中燥。煩躁嘔逆者。</p>
<p>吐下後厥逆煩躁不可如何者。</p>

<h2>四逆湯</h2>
<p>甘草二兩（一錢二分。）乾薑一兩半。附子一枚（各九分。）</p>
<p>上三味。㕮咀。以水三升。煮取一升二合。去滓。分溫再服。強人可大附子一枚。乾薑三兩。（以水一合五勺。煮取六勺。）</p>
<p>手足厥冷者。</p>
<p>下利清穀者。</p>
<p>腹拘急。四肢厥冷。下利惡寒者。</p>
<p>大汗出。熱不去。拘急。四肢厥冷者。</p>
<p>下利腹脹滿。身體疼痛者。</p>
<p>吐利汗出。發熱惡寒。四肢厥冷。脈微欲絕。或腹痛。或乾嘔。或咽痛者。通脈四逆湯主之。</p>
<p>甘草二兩（一錢。）附子一枚（一分五釐。）乾薑三兩（一錢六分。）</p>
<p>上三味。以水三升。煮取一升二合。去滓。分溫。再服。其脈即出者愈。（今煮如本方。）下利惡寒。脈微。手足厥冷。或心下痞硬者。四逆加人參湯主之。於本方內。加人參一兩。（甘草一錢。乾薑附子各七分五釐。人參五分。上煎如本方。）</p>

<h2>茯苓四逆湯</h2>
<p>茯苓六兩（一錢五分。）人參一兩（二分五釐。）甘草二兩（五分。）乾薑一兩半。附子一枚（各三分八釐。）</p>
<p>上五味。以水五升。煮取三升。去滓。溫服七合。日三服。（以水一合。煮取六勺。）</p>
<p>手足厥冷煩躁者。</p>
<p>肉瞤筋惕。手足厥冷者。</p>
<p>心下悸。惡寒。腹拘急。下利者。</p>

<h2>乾薑附子湯</h2>
<p>乾薑一兩（一錢二分。）附子一枚（一錢八分。）</p>
<p>上二味。以水三升。煮取一升。去滓。頓服。（以水一合八勺。煮取六勺。）</p>
<p>煩躁不得眠。脈沉微者。</p>

<h2>附子粳米湯</h2>
<p>附子一枚（三分。）半夏半升（一錢二分。）甘草一兩（二分。）大棗十枚（五分。）粳米半升（二錢。）</p>
<p>上五味。以水八升。煮米熟。湯成。去滓。溫服一升。日三服。（以水一合六勺。煮取六勺）</p>
<p>腹中雷鳴切痛。胸脅逆滿嘔吐者。（消塊）</p>
<p>惡寒或手足厥冷。腹滿痛嘔吐者。（消塊紫丸）</p>

<h2>薏苡附子敗醬散</h2>
<p>薏苡仁十分。附子二分。敗醬五分。</p>
<p>上三味。搗為末。取方寸匙。以水二升。煎減半。頓服。小便當下。（以水一合二勺。煎減半。）</p>
<p>腸癰。其身甲錯。腹皮急。按之濡如腫狀。脈數者。</p>
<p>瘡家身甲錯者。</p>
<p>所謂鵝掌風者。（以上梅肉）</p>

<h2>大烏頭煎</h2>
<p>烏頭大者五枚（三錢。）</p>
<p>上以水三升。煮取一升。去滓。內蜜二升。煎令水氣盡。取二升。強人服七合。弱人五合。不差。明日更服。不可一日再服。（以水九勺。煮取三勺。去滓。內蜜六勺。煎取六勺。）</p>
<p>腹痛。自汗出。手足厥冷。脈沉弦者。（蕤賓或紫丸）</p>

<h2>烏頭湯</h2>
<p>麻黃、芍藥、黃蓍、甘草各三兩（六分。）川烏五枚。㕮咀。以蜜二升（八勺。）煎取一升（四勺。）即出烏頭。</p>
<p>上五味。㕮咀四味。以水三升。煮取一升。去滓。內蜜煎中。更煎之。服七合、不知盡服之。（以水二合七勺。煮四味。取九勺。去滓。內蜜煎中。更煎。取六勺。）</p>
<p>歷節疼痛不可屈伸者。</p>
<p>腳攣急疼痛不可屈伸者。</p>
<p>腳腫疼痛者。（以上兼用蕤賓。時時以紫丸攻之。仲呂亦可也。）</p>
<p>腰以下腫疼痛者。（蕤賓或仲呂或桃花散。）</p>
<p>腹中絞痛。拘急不得轉側。身重。手足厥冷。陰縮者。</p>
<p>小腹攣急。陰囊偏大者。（蕤賓或仲呂。）</p>
<p>自汗盜汗出。浮腫者。（桃花散）</p>

<h2>赤丸</h2>
<p>茯苓四兩。半夏四兩。一方用桂。烏頭二兩。細辛一兩。</p>
<p>上四味。末之。內真朱為色。煉蜜。丸如麻子大。先食酒飲下二丸。日再夜一服。不知稍增之。以知為度。</p>
<p>厥逆惡寒。心下悸者。</p>

<h2>真武湯</h2>
<p>茯苓、芍藥、生薑各三兩（各七分五釐。）術二兩（五分。）附子一枚（四分。）</p>
<p>上五味。以水八升。煮取三升。去滓。溫服七合。日三服。（以水一合六勺。煮取六勺。）</p>
<p>腹痛。（消塊）小便不利。四肢沉重。疼痛下利。或咳或嘔者。</p>
<p>心下悸。頭眩。（應鐘）身瞤動振振欲擗地者。</p>
<p>舌上乾燥。黑胎生。口中有津液。身熱頭眩。手足振振或下利者。（紫丸）</p>

<h2>附子湯</h2>
<p>附子二枚。茯苓、芍藥各三兩（六分。）人參二兩（四分。）術四兩（八分。）</p>
<p>上五味。以水八升。煮取三升。去滓。溫服一升。日三服。（以水一合六勺。煮取六勺。）</p>
<p>脈微細。其背惡寒者。</p>
<p>身體痛。手足冷。骨節痛。脈沉者。（應鐘）</p>
<p>身體痛。小便不利。（仲呂）心下悸或痞硬者。</p>

<h2>天雄散</h2>
<p>天雄三兩。（當作三枚）術八兩。桂枝六兩。龍骨三兩。</p>
<p>上四味。杵為散。酒服半錢匙。日三服。不知稍增之。</p>
<p>失精。臍下有動而惡寒。或沖逆。或小便不利者。（應鐘）</p>

<h2>梔子豉湯</h2>
<p>梔子十四枚（八分。）香豉四合（二錢。）</p>
<p>上二味。以水四升。先煮梔子。得二升半。內豉。煮取一升半。去滓。分為二服。溫進一服。得吐者止後服。（以水一合六勺。先煮梔子。取一合。去滓。內豉。煮取六勺。）</p>
<p>心中懊憹者。</p>
<p>煩熱胸中窒者。</p>
<p>身熱不去。心中結痛者。</p>
<p>下後煩。心下濡者。（此煩與桂枝湯發汗後之煩不可混。）</p>
<p>若急迫者。梔子甘草豉湯主之。於梔子豉湯方內。加甘草二兩（八分。）</p>
<p>若嘔者。梔子生薑豉湯主之。於梔子豉湯方內。加生薑五兩（二錢。）</p>
<p>若胸滿煩熱者。枳實梔子豉湯主之。枳實三枚（六分。）梔子十四枚（四分。）豉一升（二錢八分。）</p>
<p>上三味。以清漿水七升。空煮取四升。內枳實梔子。煮取二升。下豉。更煮五六沸。去滓。溫分。再服。覆取微似汗。（以水一合六勺。先煮二味。取八勺。下豉。煮取六勺。）</p>
<p>若大便不通。胸脅滿痛者。黃疸心中懊憹。或熱痛者。梔子大黃豉湯主之。梔子十二枚（一分五釐。）大黃一兩（一分五釐。）枳實五枚（七分五釐。）豉一升（一錢八分。）</p>
<p>上四味。以水六升。煮取二升。分溫。三服。（以水一合八勺。煮取六勺。）</p>

<h2>茵陳蒿湯</h2>
<p>茵陳蒿六兩（一錢八分。）梔子十四枚。大黃二兩（各六分。）</p>
<p>上三味。以水一斗。先煮茵陳。減六升。內二味。煮取三升。去滓。分溫三服。（以水二合。先煮茵陳。取一合二勺。內二味。煮取六勺。服。）</p>
<p>小便當利。尿如皂角汁狀。色正赤。一宿腹減。黃從小便去也。</p>
<p>發黃色。小便不利。渴而欲飲水。大便不通者。</p>
<p>發黃色。小便不利。腹微滿者。</p>
<p>寒熱不食。頭眩。心胸不安者。</p>

<h2>梔子蘗皮湯</h2>
<p>梔子二十五個（一錢五分。）甘草一兩（五分。）黃蘗二兩（一錢。）</p>
<p>上三味。以水四升。煮取一升半。去滓。分溫。再服。（以水一合六勺。煮取六勺。）</p>
<p>身黃髮熱者。</p>
<p>身黃心煩者。（解毒散）</p>

<h2>梔子厚朴湯</h2>
<p>梔子十四枚（六分。）厚朴四兩、枳實四枚（各一錢二分。）</p>
<p>已上三味。以水三升半。煮取一升半。去滓。分三服。溫。進一服。得吐者止後服。（以水一合四勺。煮取六勺。）</p>
<p>心煩腹滿。起臥不安者。</p>

<h2>梔子乾薑湯</h2>
<p>梔子十四枚。乾薑二兩（各一錢五分。）</p>
<p>上二味。以水三升半。煮取一升半。去滓。分二服。溫。進一服。得吐者止後服。（以水一合四勺。煮取六勺。）</p>
<p>身熱不去微煩者。（兼用解毒散）</p>

<h2>大陷胸湯</h2>
<p>大黃六兩（九分。）芒硝一升（三錢。）甘遂一錢（一分五釐。）</p>
<p>上三味。以水六升。先煮大黃取二升。去滓。內芒硝。煮一兩沸。內甘遂末。溫服一升。得快利止後服。（以水一合八勺。先煮大黃。取六勺。去滓。內芒硝。令消。內甘遂末。服之。）</p>
<p>結胸心下痛。按之石硬者。</p>
<p>短氣煩躁。心下硬者。</p>
<p>舌上燥而渴。發潮熱。不大便。自心下至小腹硬滿而痛不可近者。</p>
<p>讝語煩躁。心下痛手不可近者。</p>

<h2>小陷胸湯</h2>
<p>黃連一兩（四分。）半夏半升（二錢四分。）栝蔞實大者一個（八分。）</p>
<p>上三味。以水六升。先煮栝蔞。取三升。去滓。內諸藥。煮取二升。去滓。分溫三服。（以水一合八勺。先煮栝蔞。取九勺。內二味。煮取六勺。）</p>
<p>結胸有痰飲之變者。（兼用南呂姑洗或紫丸）</p>
<p>龜背。腹中無積聚者。（兼用紫丸）</p>
<p>病聚於胸中而嘔或吃者。（紫丸）</p>
<p>胸膈膨脹而發癇者。（紫丸）</p>

<h2>栝蔞薤白白酒湯</h2>
<p>栝蔞實一枚（六分。）薤白半升（二錢四分。）白酒七升（二合一勺。）</p>
<p>上三味。同煮。取二升。分溫。再服。（取六勺服。）</p>
<p>喘息咳唾胸背痛者。（姑洗或白散或紫丸）</p>
<p>若心痛徹背不得臥者。及膈噎心痛者。栝蔞薤白半夏湯主之。（俱兼用姑洗紫丸）栝蔞實一枚（六分。）薤白三兩（九分。）半夏半升（一錢八分。）白酒一斗（三合。）</p>
<p>上四味。同煮。取四升。溫服一升。日三服。（煮取六勺。）</p>

<h2>瓜蒂散</h2>
<p>瓜蒂、赤小豆各一分（五分。）</p>
<p>上二味。各別搗。篩為散。已合治之。取一錢匙。以香豉一合（二錢四分。）用熱湯七合（七勺。）煮作稀糜。去滓。取汁。和散。溫頓服之。不吐者。少少加。得快吐乃止。諸亡血虛家不可與瓜蒂散。</p>
<p>胸中痞塞。上衝咽喉。不得息者。</p>
<p>手足厥冷。心中煩滿。飢不能食者。</p>
<p>心中溫溫欲吐。又不能吐。手足厥冷者。</p>

<h2>大半夏湯</h2>
<p>半夏二升（二錢四分。）人參三兩（三分。）白蜜一升（一錢五分。）</p>
<p>上三味。以水一斗二升。和蜜揚之。二百四十遍。煮取二升半。溫服一升余。分再服。（以水三合四勺。煮取六勺。）</p>
<p>嘔吐而心下痞硬者。（太簇或紫丸）</p>
<p>嘔而心下痛者。（南呂）</p>

<h2>小半夏湯</h2>
<p>半夏一升（二錢四分。）生薑半斤（一錢六分。）</p>
<p>上二味。以水七升。煮取一升半。分溫。再服。（以水一合八勺。煮取六勺。）</p>
<p>嘔吐而不渴者。（嘔劇者倍加生薑汁。）</p>
<p>若心下痞眩悸者。小半夏加茯苓湯主之。（兼用俱紫丸）半夏一升（一錢八分。）生薑半斤（一錢二分。）茯苓三兩（四分五釐。）</p>
<p>上三味。以水七升。煮取一升五合。分溫。再服。（以水二合八勺。煮取六勺。）</p>

<h2>半夏苦酒湯</h2>
<p>半夏十四枚（五分。）雞子一枚（去黃。）</p>
<p>上二味。內半夏著苦酒中。以雞子殼置刀環中。安火上。令三沸。去滓。少少含咽之。不差更作三劑。</p>
<p>咽中生瘡不能語言者。</p>
<p>咽中腫水穀不下者。</p>

<h2>半夏厚朴湯</h2>
<p>半夏一升（一錢二分。）厚朴三兩（三分。）茯苓四兩（四分。）生薑五兩（五分。）干蘇葉二兩（二分。）</p>
<p>上五味。以水七升。煮取四升。分溫。四服。日三。夜一服。（以水一合五勺。煮取六勺。）</p>
<p>咽中如有炙臠者。（兼用南呂。按千金作胸滿心下堅。咽中帖帖如有炙肉。吐之不出。吞之不下。）</p>
<p>若感冒桂枝之證而有痰飲者。桂枝湯合方主之。（屢所經驗也。）</p>

<h2>半夏乾薑散</h2>
<p>半夏、乾薑各等分。</p>
<p>上二味。杵為散。取方寸匙。漿水一升半（一合二勺。）煎取七合（六勺。）頓服之。</p>
<p>乾嘔不止者。</p>
<p>吐涎沫者。（兼用南呂）</p>

<h2>乾薑人參半夏丸</h2>
<p>乾薑、人參各一兩（七分五釐。）半夏二兩（一錢五分。）</p>
<p>上三味。末之。以生薑汁糊為丸。如梧子大。飲服十丸。日三服。（或三味。水煎。合生薑汁服。）</p>
<p>妊娠嘔吐不止者。</p>
<p>心下痞硬而乾嘔不止者。</p>

<h2>半夏瀉心湯</h2>
<p>半夏半升（九分。）黃芩、乾薑、人參、甘草、各三兩。大棗十二枚（各四分五釐。）黃連一兩（一分五釐。）</p>
<p>上七味。以水一斗。煮取六升。去滓。再煮。取三升。溫服一升。日三服。（以水二合。煮取一合二勺。去滓。再煎。取六勺。）</p>
<p>心下痞硬。腹中雷鳴者。（太簇）</p>
<p>嘔而腸鳴。心下痞硬者。（太簇）</p>
<p>心中煩悸。或怒或悲傷者。（紫丸）</p>
<p>若下利不止。乾嘔心煩者。甘草瀉心湯主之。默默欲眠。目不得閉。起臥不安。不欲飲食。惡聞食臭者。甘草瀉心湯主之。於半夏瀉心湯方內加甘草一兩（一分五釐。）</p>
<p>若干噫食臭。腹中雷鳴。下利或嘔吐者。生薑瀉心湯主之。半夏瀉心湯方內減乾薑二兩。加生薑四兩。（半夏九分。甘草人參大棗黃芩各四分五釐。黃連乾薑各一分五釐。生薑六分。上八味。煮如半夏瀉心湯。）</p>

<h2>吳茱萸湯</h2>
<p>吳茱萸一升（一錢八分。）人參三兩。大棗十二枚（各四分五釐。）生薑六兩（九分。）</p>
<p>上四味。以水七升。煮取二升。去滓。溫服七合。日三服。（以水二合一勺。煮取六勺。）</p>
<p>食谷欲嘔者。（方意以氣逆為主證。）</p>
<p>吐利。（吐瀉也）手足厥冷煩躁者。</p>
<p>乾嘔吐涎沫。頭痛者。（南呂）</p>
<p>嘔而胸滿者。（紫丸）</p>
<p>腳氣上攻而嘔者。（紫丸）若水腫而嘔者。非此湯之所知也。</p>

<h2>厚朴生薑半夏甘草人參湯</h2>
<p>厚朴、生薑各半斤（一錢二分。）半夏半斤（九分。）人參一兩（一分五釐。）甘草二兩（三分。）</p>
<p>上五味。以水一斗。煮取三升。去滓。溫服一升。日三服。（以水二合。煮取六勺。）</p>
<p>腹脹滿嘔逆者。（兼用消塊）</p>

<h2>黃連湯</h2>
<p>黃連、甘草、乾薑、桂枝各三兩。大棗十二枚（各四分五釐。）人參二兩（三分。）半夏半升（九分。）</p>
<p>上七味。以水一斗。煮取六升。去滓。溫服一升。日三服。夜二服。（以水一合。者取六勺。）</p>
<p>胸中有熱。腹中痛欲嘔吐者。</p>
<p>心煩嘔逆者。（以上兼用紫丸）</p>

<h2>乾薑黃連黃芩人參湯</h2>
<p>乾薑、黃連、黃芩、人參各三兩（六分五釐。）</p>
<p>上四味。以水六升。煮取二升。去滓。分溫再服。（以水一合八勺。煮取六勺。）</p>
<p>下利心煩。食入口即吐者。（兼用紫丸）</p>
<p>下利心下痞硬幹嘔者。（兼用紫丸）</p>

<h2>大建中湯</h2>
<p>蜀椒二合（六分。）乾薑四兩（一錢二分。）人參二兩（六分。）</p>
<p>上三味。以水四升。煮取二升。去滓。內膠飴一升。微火煎取一升半。分溫再服。如一炊頃。可飲粥二升。後更服。當一日飲糜溫覆之。（以水一合六勺。煮取八勺。去滓。內膠飴。煮取六勺。）</p>
<p>心胸間痛。嘔不能食者。</p>
<p>腹中寒上衝皮起出見有頭足上下痛而不可觸近者。（兼用紫丸）</p>

<h2>黃連阿膠湯</h2>
<p>黃連四兩（一錢二分。）黃芩一兩（三分。）芍藥二兩（六分。）雞子黃二枚（一枚三分之一。）阿膠三兩（九分。）</p>
<p>上五味。以水五升。先煮三物。取二升。去滓。內膠。烊盡少冷。內雞子黃。攪令相得。溫服七合。日三服。（以水一合半。煮三物。取六勺。去滓。內膠。烊盡少冷。內雞子黃。攪令相得。）</p>
<p>心中煩而不能臥者。</p>
<p>胸中有熱。心下痞煩而不能眠者。</p>

<h2>黃芩湯</h2>
<p>黃芩三兩。大棗十二枚（各九分。）甘草、芍藥各二兩（六分。）</p>
<p>上四味。以水一斗。煮取三升。去滓。溫服一升。日再。夜一服。（以水二合。煮取六勺。）</p>
<p>心下痞自下利者。</p>
<p>口苦咽燥目眩自下利者。</p>
<p>若嘔者。黃芩加半夏生薑湯主之。於本方內。加半夏半升。生薑三兩。（黃芩大棗生薑各四分五釐。甘草芍藥各三分。半夏九分。上六味。煮如本方。）</p>

<h2>六物黃芩湯</h2>
<p>黃芩、人參、乾薑各三兩。大棗十二枚（各四分五釐。）桂枝一兩（一分五釐。）半夏半升（九分。）</p>
<p>上六味。以水七升。煮取三升。分溫三服。（以水一合四勺。煮取四勺。）</p>
<p>乾嘔下利。心下痞硬者。</p>
<p>痢疾。心下痞硬而嘔不能食者。（兼用紫丸）</p>

<h2>三物黃芩湯</h2>
<p>黃芩一兩（四分。）苦參二兩（八分。）乾地黃四兩（一錢六分。）</p>
<p>上三味。以水六升。煮取二升。溫服一升。多吐下蟲。（以水一合六勺。煮取六勺。）</p>
<p>四肢煩熱者。（兼用黃連解毒散）</p>

<h2>白頭翁湯</h2>
<p>白頭翁、黃連、黃蘗、秦皮各三兩（各七分五釐。）</p>
<p>上四味。以水七升。煮取二升。去滓。溫服一升。不愈。更服一升。（以水二合六勺。煮取六勺。）</p>
<p>熱利下重者。</p>
<p>下利慾飲水者。</p>
<p>胸中熱而心煩下利者。（以上兼用紫丸）</p>
<p>若心煩不得眠。或煩躁者。白頭翁加甘草阿膠湯主之。於本方內。加甘草、阿膠各二兩。</p>
<p>上六味。以水七升。煮取二升半。內膠。令消盡。分溫三服。（白頭翁黃連黃蘗秦皮各六分。甘草阿膠各四分。上六味。以水一合七勺。煮取六勺。去滓。內膠。令消盡。）</p>

<h2>木防己湯</h2>
<p>木防己三兩（六分。）石膏雞子大（一錢六分。）桂枝二兩（四分。）人參四兩（八分。）</p>
<p>上四味。以水六升。煮取二升。分溫再服。（以水一合八勺。煮取六勺。）</p>
<p>喘滿心下痞堅者。</p>
<p>腫滿心下硬滿者。</p>
<p>短氣或逆滿而痛或渴者。（以上兼用蕤賓南呂。劇者以紫丸攻之。）</p>
<p>若喘滿止或不渴。心下悸而痞堅難解者。木防己去石膏加茯苓芒硝湯主之。於木防己湯方內。去石膏。加茯苓四兩。芒硝三合。</p>
<p>上五味。以水六升。煮取二升。去滓。內芒硝。再微煎。分溫再服。微利則愈。（防己六分。桂枝四分。人參茯苓各八分。芒硝一錢二分。上五味。以水一合八勺。煮取六勺。內芒硝。令消盡。）</p>

<h2>防己茯苓湯</h2>
<p>防己、黃蓍、桂枝各三兩（各六分。）茯苓六兩（一錢二分。）甘草二兩（四分。）</p>
<p>上五味。以水六升。煮取二升。分溫三服。（以水一合八勻。煮取六勻。）</p>
<p>四肢腫水氣在皮膚中肉瞤筋惕者。（桃花散）</p>

<h2>防己黃蓍湯（方從外臺）</h2>
<p>防己四兩（六分。）黃蓍五兩（七分五釐。）朮、生薑各三兩。大棗十四枚（各四分五釐。）甘草二兩（三分。）</p>
<p>上六味。以水六升。煮取二升。分溫三服。（以水一合八勺。煮取六勺。）</p>
<p>水病。脈浮身重汗出惡風者。</p>
<p>水病。小便難。腰以下腫或及陰難屈伸者。（仲呂）</p>

<h2>枳實芍藥散</h2>
<p>枳實、芍藥、各等分。</p>
<p>上二味。杵為散。服方寸匙。日三服。並主癰膿。以麥粥下之。</p>
<p>腹痛煩滿者。（夷則）</p>

<h2>枳朮湯</h2>
<p>枳實七枚（二錢二分。）術二兩（六分。）</p>
<p>上二味。以水五升。煮取三升。分溫三服。腹中耎即當散。（以水一合。煮取六勺。）</p>
<p>心下痞堅。小便不利者。</p>
<p>或心下滿痛。小便不利者。（仲呂）</p>

<h2>排膿散</h2>
<p>枳實十六枚（一錢六分。）芍藥（六分。）桔梗（二分。）</p>
<p>上三味。杵為散。取雞子黃一枚。以藥散與雞黃相等揉和。令相得。飲和服之。日一服。</p>
<p>瘡癰痛而欲膿潰者。（梅肉）</p>

<h2>桂枝枳實生薑湯</h2>
<p>桂枝、生薑各三兩（九分。）枳實五枚（一錢五分。）</p>
<p>上三味。以水六升。煮取三升。分溫三服。（以水一合二勺。煮取六勺。）</p>
<p>心中痞逆滿心痛者。</p>
<p>逆滿吐出水不受水藥者。（消塊或南呂）</p>

<h2>枳實薤白桂枝湯</h2>
<p>枳實四枚、厚朴四兩（各八分。）薤白半升（一錢六分。）桂枝一兩（二分。）栝蔞實一枚。（四分。）</p>
<p>上五味。以水五升。先煮枳實厚朴。取二升。去滓。內諸藥。煮數沸。分溫三服。（以水一合六勺。先煮枳實厚朴。取八勺。去滓。內諸藥。煮取六勺。）</p>
<p>心中痞。胸脅滿。脅下逆搶心者。</p>
<p>胸滿心痛或背痛者。（南呂或控涎丹）</p>
<p>膈噎胸痛者。（控涎或紫丸）</p>

<h2>橘皮枳實生薑湯</h2>
<p>橘皮一斤（二錢四分。）枳實三兩（四分五釐。）生薑半斤（一錢二分。）</p>
<p>上三味。以水五升。煮取二升。分溫再服。（以水一合五勺。煮取六勺。）</p>
<p>胸中痞塞逆滿短氣者。</p>
<p>吃逸不止者。</p>

<h2>茯苓飲</h2>
<p>茯苓、人參、術（各三兩六分）　枳實（二兩四分）　橘皮（二兩半五分）　生薑（四兩八分）</p>
<p>上六味。以水六升。煮取一升八合。分溫三服。如人行八九里。進之。（以水二合。煮取六勺。）</p>
<p>胸中有痰飲。滿而不能食者。（南呂）</p>
<p>吐出水。心下痞硬。小便不利者。（紫丸）</p>
<p>腳氣小便不利。心下悸逆滿嘔者。（蕤賓或紫丸）</p>

<h2>橘皮竹茹湯</h2>
<p>橘皮二斤三錢（二分。）竹茹二升。大棗三十枚。生薑半斤（各九分。）甘草五兩（五分。）　人參一兩（一分。）</p>
<p>上六味。以水一斗。煮取三升。溫服一升。日三服。（以水一合。煮取六勺。）</p>
<p>胸中痹而吃逆者。</p>

<h2>橘皮湯</h2>
<p>橘皮四兩（二錢。）生薑半斤（四錢。）</p>
<p>上二味。以水七升。煮取三升。溫服一升。下咽即愈。（以水一合四勺。煮取六勺。）</p>
<p>乾嘔噦者。手足厥者。</p>

<h2>桂枝茯苓丸</h2>
<p>桂枝、茯苓、牡丹、桃仁、芍藥各等分。</p>
<p>上五味。末之。煉蜜和丸。如兔屎大。每日食前服一丸。不知加至三丸。</p>
<p>漏下不止。胎動在臍上者。</p>
<p>婦人沖逆頭眩。或心下悸。或肉瞤筋惕者。（夷則）</p>
<p>經水不利。面部或手足腫者。（湯或散而服之夷則或抵當丸兼用。）</p>
<p>病有血症之變。手足煩熱。小便不利者。（夷則）</p>

<h2>芎歸膠艾湯</h2>
<p>芎藭、阿膠、甘草各二兩（三分。）艾葉、當歸各三兩（四分五釐。）芍藥四兩（六分。）乾地黃六兩（九分。）</p>
<p>上七味。以水五升。清酒五升。合煮取三升。去滓。內膠。令消盡。溫服一升。日三服。不差。更作。（以水一合。清酒一合。煮取六勺。去滓。內膠。令消盡。）</p>
<p>漏下者。</p>
<p>產後下血不絕者。</p>
<p>下血吐血不止者。（解毒散）</p>

<h2>旋覆花代赭石湯</h2>
<p>旋覆花、甘草各三兩。大棗十二枚（各四分五釐。）　人參二兩（三分。）生薑五兩（七分五釐。）半夏半升（九分。）代赭石一兩（一分五釐。）</p>
<p>上件七味。以水一斗。煮取六升。去滓。再煎。取三升。溫服一升。日三服。（以水二合。煮取一合二勺。去滓。再煎。取六勺。）</p>
<p>心下痞硬。噫氣不除者。</p>

<h2>赤石脂禹餘糧湯</h2>
<p>赤石脂、禹餘糧各一斤（一錢六分。）</p>
<p>已上二味。以水六升。煮取二升。去滓三服。（以水一合八勺。煮取六勺。）</p>
<p>下利。小便不利者。</p>
<p>小腹痛。小便不利。若下利者。</p>

<h2>桃花湯</h2>
<p>赤石脂一斤（一錢六分。）乾薑一兩（一分。）粳米一升（一錢。）</p>
<p>上三味。以水七升。煮米令熟。去滓。溫七合。內赤石脂末。方寸匙。日三服。若一服愈。余勿服。（以水二合。煮取六勺。內赤石脂末方寸匙。）</p>
<p>下利。便膿血者。</p>
<p>腹痛。小便不利。下利不止者。</p>

<h2>酸棗仁湯</h2>
<p>酸棗仁二升（二錢四分。）甘草一兩（一分。）知母、茯苓、芎藭各二兩二分。</p>
<p>上五味。以水八升。煮酸棗仁。得六升。內諸藥。煮取三升。分溫三服。（以水一合六勺煮酸棗。取一合二勺。內諸藥。煮取六勺。）</p>
<p>煩而不得眠者。</p>
<p>煩悸而眠不寤者。</p>

<h2>葶藶大棗湯</h2>
<p>葶藶搗。丸如彈丸大（五分。）大棗十二枚（三分。）</p>
<p>上先以水三升。煮棗。取二升。去棗。內葶藶。煮取一升。頓服。（以水一合八勺。先煮棗。取一合二勺。去滓。內葶藶。煮取六勺。）</p>
<p>喘而不得臥者。</p>
<p>一身面目浮腫。咳逆上氣喘鳴息迫者。（白散兼用）</p>

<h2>十棗湯</h2>
<p>芫花、甘遂、大戟（各等分。）</p>
<p>上三味。等分。各別搗。為散。以水一升半。先煎大棗肥者十枚。取八合。去滓。內藥末。強人服一錢匙。羸人服半錢。溫服之。平旦服。若下少病不除者。明日更服。加半錢。得快下利後糜粥自養。（以水一合二勺。先煮大棗五錢。取六勺。內藥末一錢。頓服之。）</p>
<p>頭痛心下痞硬。引脅下痛。乾嘔汗出者。</p>
<p>咳煩胸中痛者。</p>
<p>胸背掣痛不得息者。</p>

<h2>桔梗白散</h2>
<p>桔梗。貝母各三分。巴豆一分。</p>
<p>上三味為散。強人飲服半錢匙。羸者減之。病在膈上者吐膿。而膈下者瀉出。若下多不止。飲冷水一杯則定。</p>
<p>有結毒而濁唾吐膿者。</p>
<p>毒在胸咽而不得息者。</p>

<h2>走馬湯</h2>
<p>巴豆、杏仁各二枚</p>
<p>上二味。以綿纏。槌令碎。熱湯二合。捻取白汁。飲之當下。老少量之。通治飛屍鬼擊病。（以熱湯六勺。余如上法。）</p>
<p>中惡心痛。腹脹大便不通者。</p>
<p>喘鳴息迫者。（小兒馬脾風之類是也。）</p>
<p>所謂中風吼喘息迫者。</p>

<h2>備急丸</h2>
<p>大黃、巴豆、乾薑各一兩。</p>
<p>上藥各須精新。先搗大黃乾薑為末。研巴豆內中。合治一千杵。用為散。</p>
<p>蜜和丸亦佳。密器中貯之。莫令泄氣。</p>
<p>食滯腹痛者。</p>
<p>心痛諸卒痛者。</p>
<p>霍亂吐下心痛者。</p>

<h2>礬石湯</h2>
<p>礬石二兩。</p>
<p>上一味。以漿水一斗五升。煎三五沸。浸腳良。</p>
<p>腳氣痿弱不仁。及上入搶心者。</p>

<h2>硝礬散</h2>
<p>硝石、礬石各等分。</p>
<p>上二味。為末。以大麥粥汁和。服方寸匙。日三服。病隨大小便去。小便正黃。大便正黑。是候也。</p>
<p>日晡發熱惡寒。小腹滿身悉黃。額上黑。足下熱。或腹脹。如水狀。大便黑時溏者。</p>

<h2>蛇床子散</h2>
<p>蛇床子仁</p>
<p>上一味。末之。以白粉少許和。令相得。如棗大。綿裹內之。自然溫。陰中癢者以此湯洗之。眼目癢者亦然。</p>

<h2>黃土湯</h2>
<p>甘草、乾地黃、朮、附子、阿膠、黃芩（各四分五釐）灶中黃土（一錢二分。）</p>
<p>上七味。以水八升。煮取三升。溫服。（以水一合五勺。煮取六勺。）</p>
<p>下血。四肢不仁。或冷而痛者。</p>
<p>下血。手足煩熱。心煩不得眠者。</p>
<p>吐血衄血。亦有前症。則此湯主之。</p>

<h2>桂枝芍藥知母湯</h2>
<p>桂枝、知母、防風各四分。芍藥三分。甘草、麻黃各二分。生薑、蒼朮各五分。附子（一分五釐。）</p>
<p>上九味。以水七升。煮取二升。溫服七合。日三服。（以水一合五勺。煮取六勺。）</p>
<p>歷節疼痛攣急頭眩溫溫欲吐者。</p>
