<header data-type="book">
<h1>退庵醫案</h1>
</header>

<h1>正文</h1>
<p>李先生諱齡壽，字辛坨，別號匏齋，吳江盛澤鎮王江涇人，廩貢生。著有詩文、古文稿，分撰《續吳江縣誌》，分輯《松陵文錄》，著《醫話》一卷，《醫方選》一卷，並《藥性摘要》一卷，《醫案效驗》若干卷。光緒十六年歲次庚寅，先生賣藥於莘塔凌部郎家，余嘗受業學醫，自季夏迄季秋，凡三閱月。</p>
<p><u>丙申九月望日囊隱道人謹志</u></p>
<p>丙申仲春，得囊隱道人手抄李辛坨醫案十冊及此《退庵醫案》一冊。李案因蓋梅研兄所善錄，出跋語一則如右（下）而歸之，此案則重裝後留案頭備檢。囊隱道人者，吳江沈陳麟，字春孫也，別署枕石齋。</p>
<p><u>巢今修志</u></p>
<p>退庵先生姓淩氏，諱淦，字仲清，號礪生，退庵，其晚年別號也。先生為吳江之莘塔鎮人，中咸豐己未科舉人，候選內部正郎，與予嗣祖兵部公友善，今其嗣孫昌燧，即予之表弟也。先生素通醫理，又得李師辛坨及其宗長嘉六先生相與考究精微，是以臨證之時神明變化，一無浮泛影響習氣。此卷醫案雖鮮，然自善悟者觀之，亦足以因此得彼，窺見先生學識大略云。</p>
<p><u>光緒丙申夏五囊隱道人跋於枕石齋</u></p>
<p>（案1）徐，三十歲，春元錢莊。風邪自口鼻吸入，肺先受之。肺主皮毛，發為風疹，目赤，面如渥丹，發熱，咳嗆，多痰，頭脹，脘悶，咽痛，小便短澀，大便不行，脈浮數。風已化熱，瀰漫上焦，急宜清肅肺衛，俾疹點透達，不致煩躁氣喘為吉。</p>
<p>鮮竹葉（卅張）　桑葉（一錢半）　連翹心（三錢）　薄荷葉（一錢）　牛蒡子（炒研，三錢）　馬勃（八分）　荊芥穗（一錢半）　制殭蠶（三錢）　白杏仁（去衣，三錢）　銀花（三錢）　川貝母（三錢）　川通草（一錢）　白蘿蔔汁（一小杯，沖）</p>
<p>復診：風疹遍體透發，胸悶、頭脹均愈，大便亦行，惟寐覺咽乾，喉痛，咳痰不爽，痰中映紅，據述素有咯血遺泄病，陰虧體質，易感風熱，脈左弦數，右細數，舌心色紫。以微苦微辛清肺胃之熱，以甘寒存肺胃之陰。</p>
<p>鮮蘆根（去節，一兩）　制天蟲（三錢）　連翹心（三錢）　元參心（五錢）　淨蟬衣（八分）　川貝母（三錢）　天花粉（三錢）　牛蒡子（炒研，一錢半）　川通草（一錢）　炙知母（一錢半）　桔梗（四分）　生甘草（三分）　鮮藕汁（一酒杯，沖）</p>
<p>（案2）孫，洞庭山人，裕康南貨。去夏咯血，至今復發，時患遺泄，胸脘不舒，夜不成寐，脈雙弦，素有痰濕，肺胃留熱，且有心火。治以清泄。</p>
<p>鮮竹葉（卅張）　連翹心（朱拌，三錢）　川貝母（三錢）　白茅根（去心，八錢）　水炙紫菀（二錢）　生苡仁（四錢）　元參心（四錢）　全瓜蔞（三錢）　茯神（朱拌，三錢）　炙知母（二錢）　川通草（一錢）　建蓮心（一錢）　鮮藕汁（一酒杯，沖）</p>
<p>復診：投清泄心火之劑，咯血、遺泄均愈，脈亦較和，惟胸脘氣分尚覺未舒，（李辛坨師曰：當舒肺氣，如旋覆、蘇梗之類。）時作太息之聲，素有痰濕，以調理脾胃為治。</p>
<p>懷山藥（元米炒黃，三錢）　原支金石斛（三錢）　朱拌茯神（三錢）　炒苡仁（四錢）　米炒川貝母（三錢）　全瓜蔞（三錢）　炒桔白（一錢）　炒棗仁（三錢）　朱拌連翹心（三錢）　鮮藕汁（一酒杯，沖）</p>
<p>（案3）徐靄翁，洞庭山人，長泰和北貨行。血虛生風，時發風塊瘙癢，兩手麻木，甚於左，兩足艱於舉步，素有痰濕。所謂風寒濕三氣也。治以養血祛風通絡。</p>
<p>白蒺藜（炒去刺，三錢）　川桂枝（四分）　絲瓜絡（酒炒，三錢）　左秦艽（三錢）　忍冬藤（酒炒，三錢）　酒炒橘絡（一錢）　桑寄生（三錢）　炒苡仁（四錢）　炒荊芥（一錢半）　酒炒桑枝（一兩）</p>
<p>（案4）徐靄翁郎，二十歲，太平弄紙行。咳嗆多痰不爽，咯血色紫，舌起紅點。此肺胃鬱熱不能宣通之故。面色㿠白，脈細數，陰分素虧也。先以宣通肺氣，佐以泄熱存陰。</p>
<p>旋覆花（絹包，一錢半）　蜜炙紫菀（三錢）　地骨皮（三錢）　白杏仁（去皮尖，三錢）　全瓜蔞（三錢）　肥知母（炙，三錢）　單桃仁（杵，三錢）　桑白皮（蜜炙，一錢半）　海蛤殼（杵，五錢）　川貝母（三錢）　老枇杷葉（拭毛去筋，蜜炙，兩張）</p>
<p>（李師云：可加黑驢膠。）</p>
<p>復診：咯血已止，咳嗆多痰，濃厚，青綠色，夜間時覺轟熱，舌紅點已退，脈仍細數。以降火滋陰滌痰為治。</p>
<p>石決明（生杵，一兩）　川貝母（三錢）　白滁菊（三錢）　旋覆花（絹包，一錢半）　黑山梔（三錢）　鮮竹茹（水炒，一錢半）　元參（五錢）　瓜蔞仁（杵，三錢）　海蛤殼（杵，五錢）　枇杷葉（拭毛去筋，蜜炙，兩張）</p>
<p>二復：咳嗆漸緩，轟熱亦平，今晨咯出紫黑色一口，脈數而浮。陰虧火旺之體，再交春令，又值少陽相火司天之運，惟冀水能涵木，火不刑金，方為妥善。仍守前法，兼泄木火。</p>
<p>鮮竹茹（水炒，一錢半）　川貝母（三錢）　粉丹皮（炒，一錢半）　白茅根（去心，五錢）　瓜蔞仁（杵，三錢）　海蛤殼（杵，五錢）　元參心（四錢）　經霜桑葉（一錢半）　石決明（生杵，八錢）　左牡蠣（鹽水煅，四錢）　清阿膠（蛤粉拌炒成珠，一錢半）　漂淡陳海蜇（一兩，煎湯代水）</p>
<p>（李師云：以上三案亦得手，當繼以養肺陰。）</p>
<p>三複：咳嗽雖緩，而夜分仍作，喉間微聞痰聲，今晨鼻中吸出紫紅色涕，多夢紛紜，時汗出，脈數如故。上焦之熱尚未清肅，明日即交春令，天暖如暮春，深恐咯血復發，與以甘寒涼潤。</p>
<p>鮮竹瀝（一兩，分兩次沖）　川貝母（三錢）　炙知母（三錢）　活水蘆根（一兩）　真滁菊（三錢）　石決明（杵，五錢）　白茅根（一兩）　元參心（三錢）　左牡蠣（杵，五錢）　竹捲心（卅片）　鮮藕汁（一酒杯，沖）</p>
<p>（李師云：用鹹寒於涼潤之中甚妙。）</p>
<p>四復：昨交春令，夜間咯血三口，陰虧之體，陽不潛藏，脈數仍未稍減。擬清養肺胃，復以介類潛陽。</p>
<p>鮮竹茹（水炒，一錢半）　川貝母（三錢）　青鱉甲（酥炙，八錢）　鮮藕節（洗淨，三個）　鐵皮鮮石斛（四錢）　元武版（酥炙，八錢）　甜梨肉（五錢）　燕窩屑（四錢）　海蛤殼（杵，五錢）　蒸桑葉（一錢半）　粉丹皮（八錢）　漂淡陳海蜇（一兩）煎湯代水。</p>
<p>五復：據述昨宵咳嗽十減五六，惟黎明時有盜汗，脈數較前略平。治法總以清肺養胃滋腎三者為要領。</p>
<p>天花粉（三錢）　懷山藥（炒黃，三錢）　元參（五錢）　肥玉竹（炒，三錢）　干藿斛（三錢）　元武版（酥炙，一兩）　川貝母（炒，三錢）　燕窩屑（四錢）　炙知母（二錢）　白芍（青黛拌，二錢）　浮小麥（焙，三錢）　地骨皮露（一小杯）</p>
<p>臨睡服瓊玉膏三錢，開水沖。</p>
<p>六復：疊進清熱滋養之劑，咳嗽十去六七，轟熱亦平，惟夜間出痰則嗽，時有盜汗，多夢紛紜。壯火已退，陰分大傷。前法佐以固攝。</p>
<p>肥玉竹（米炒，三錢）　大白芍（米炒，三錢）　煅龍骨（五錢）　元參心（五錢）　懷山藥（米炒，三錢）　煅牡蠣（五錢）　川貝母（米炒，三錢）　干藿斛（三錢）　炙鱉甲（五錢）　燕窩屑（四錢）　酸棗仁（炒，三錢）　炙元武版（五錢）　浮小麥（焙，五錢）　桃奴（三個）</p>
<p>（李師云：以上諸案皆遊刃於虛，絕不犯手。）</p>
<p>（案5）秦，右，五十一歲，洞庭山人。連年患吐血、血崩，及三陰虛，舌脫液，中心豬肝色，脈兩手軟弱無力，腰痛，頭暈，手麻，耳鳴，小溲頻數不禁，種種虛象疊現。今因新感咳嗆，痰中映紅，音嘶。久病難以驟復，先治其標，後治其本。</p>
<p>經霜桑葉（一錢半）　水炙紫菀（七分）　川貝母（三錢）　白池菊（一錢半）　枇杷葉（刷毛去筋，蜜炙，兩張）　款冬花（蜜炙，三錢）　甜杏仁（杵，三錢）　生苡仁（三錢）　淨蟬衣（八分）　甜梨肉（一兩）</p>
<p>（李辛坨師曰：先治新感，得先標後本之法，方亦清靈可嘉。）</p>
<p>（案6）蘇仰翁，寧波人，萬順祥北貨行。風邪襲於肺絡，咳嗆多痰，夜間發熱，脈數，右頤作痛。以清肅肺胃。</p>
<p>白杏仁　制天蟲　薄荷　川貝母　前胡　苡仁　瓜蔞仁　竹茹　蘇梗　白萊菔汁</p>
<p>（案7）陸雲翁。素有咯血症，時患喉癢，癢則嗆嗽，吐薄痰，脈兩寸皆數，左關弦。肺虛有熱也。治以清肅肺氣。</p>
<p>甜杏仁（去皮尖，三錢）　紫菀（水炙，七分）　元參心（三錢）　川貝母（三錢）　竹茹（水炒，一錢半）　枇杷葉（刷毛淨，蜜炙，兩張）　鮮竹葉（廿張）　金沸草（絹包，一錢半）　百部（一錢）　甜梨肉（一兩）　鮮藕汁（一酒杯，沖）</p>
<p>復診：投清肺之劑，喉癢、咳嗆漸愈，惟咳嗆時左右脅微痛，脈左弦右數。前法佐以通絡。</p>
<p>蜜炙馬兜鈴　川貝母（三錢）　橘絡（炒，一錢）　蜜炙枇杷葉（刷毛淨，兩張）　天花粉（三錢）　竹茹（水炒，一錢半）　蜜炙款冬花（三錢）　絲瓜絡（炒，一錢）　旋覆花（絹包，一錢半）　漂淡陳海蜇（一兩，煎湯代水）</p>
<p>（李師云：通絡方妙。）</p>
<p>（案8）郭，右，二十餘歲，蘇州人，廣東郭安庭之妾。方書以未產流乳為乳泣。今據述病起兩年，初起左側腫痛流膿，現左右時作脹痛，搵之皆有乳汁，而天癸仍如期而至，似與乳泣一證有間。夫乳屬肝胃二經，乳汁系胃液所化。又述病初發時曾因懊惱而起，顯系肝火胃熱鬱蒸所致。脈形細數而滑。以繆仲醇疏肝清胃法緩調，俟肝胃氣和，再議滋補。</p>
<p>青橘葉（二錢）　綠萼梅（三錢）　夏枯花（一錢半）　蒲公英（二錢）　瓜蔞仁（杵，三錢）　連翹（二錢）　炒銀花（三錢）　旋覆花（絹包，一錢半）　新絳（八分）　川貝母（三錢）　甘菊花（二錢）　炒麥芽（三錢）</p>
<p>復診：陰虛體質，血易生熱，據述經事先期而至，乃血熱之明徵，乳汁無故自流，系肝火胃熱蒸鬱而成，亦在血熱妄行之例。病原總由陰氣虧損，氣不攝血之故。前法兼以毓陰。</p>
<p>青橘葉（一錢）　白薇（一錢半）　蛤粉拌阿膠（二錢）　綠萼梅（二錢）　白芍（一錢半）　川貝母（三錢）　蒲公英（一錢）　炒枯生地（三錢）　杭甘菊（二錢）</p>
<p>晨起空心服人乳一酒杯。</p>
<p>（李辛坨師曰：有腫痛之候，自在肝胃鬱熱著想，惟必系氣虛不能固攝，故搵之流乳，乃液不化血也，以益氣涼血、清木火治之。鄙意以生綿耆、麥冬助其肺金，以資氣化，鮮生地、茅根涼其血熱，現以清疏肝火之品消其腫硬，未知有當否？）</p>
<p>（案9）儲，右，蘇州人。經事愆期，此次先期而至，腹痛，骨節、腰脊皆酸，色鮮不多，陣痛則下，胸脘悶，得噯則舒，口膩，脈數，舌黃。此氣血交滯也。</p>
<p>四制香附（三錢）　單桃仁（去皮尖，杵，三錢）　川楝子（酒炒，一錢半）　酒炒川芎（一錢半）　吉紅花（酒炒，一錢）　臺烏藥（二錢）　酒炒歸鬚（一錢半）　延胡索（酒炒，一錢半）　艾葉（二錢）　紅月季花（三朵）</p>
<p>（李師云：通瘀方甚好。）</p>
<p>（案10）王，上海人。頭暈如在霧中，心悸，胸悶不舒，胃不思納，倦怠嗜臥，昏昏若不知人事，或不能睡，則手足微麻，有時鼻孔微扇，晨起多痰，病已半載。此必濕痰積滯，清陽不升，濁陰不降。以辛開通其神明，以升散舉其清陽。</p>
<p>去皮生薑（一錢）　竹瀝（三錢）　半夏（三錢）　石菖蒲（一錢）　薑製樸花（一錢）　薤白（酒洗，一錢半）　川鬱金（切，一錢半）　炙升麻（三分）　瓜蔞仁（杵，三錢）　白杏仁（去皮尖，三錢）　軟柴胡（三分）</p>
<p>（李師云：可稍加養血祛風，如當歸、秦艽之類。）</p>
<p>（案11）屠，右，二十餘歲，松江人，北㘮屠仰山之妾。據述經事先期而至，至時胃中泛泛欲嘔，脘下氣耕作痛，頭亦微痛。夫經事先期為血熱，陰虛則生熱；胃中欲嘔，脘下作痛，皆木乘土之明徵；頭痛不甚，陰虛，非外感也。脈細數。治宜涼肝清胃。</p>
<p>酒炒上川連（四分）　水炒竹茹（一錢半）　炒黑山梔（二錢）　青黛拌白芍（一錢半）　川貝母（三錢）　酒炒川楝子（一錢半）　童便制香附（二錢）　炒丹皮（一錢半）　焙白薇（一錢半）　青蒿（蒸，一錢半）　川鬱金（切，一錢）　白茅根（去心，五錢）</p>
<p>（李師云：嘔可加入吳萸、半夏）</p>
<p>復診：陰虧之體，氣鬱不舒，少腹時脹，晨起多痰，口苦而干，胃不知味。種種皆肝木為病。肝主疏泄，氣味取芳香而不燥者。</p>
<p>青橘葉（一錢半）　旋覆花（絹包，一錢半）　黑山梔（二錢）　綠萼梅（一錢半）　水炒橘紅（一錢）　醋炒柴胡（四分）　青松針（一錢）　粉丹皮（炒，一錢半）　川鬱金（切，一錢）　川楝子（一錢半）　九香蟲（焙，一錢）　臺烏藥（二錢）</p>
<p>（案12）張，左，六十八歲，上海人。據述少時曾有咯血症，已不復發。前年偶有憂慮之事，適從高墜下，舊疾復發，發時喉間介介然，遇天陰則血多痰少，晴則否。此素體有濕，絡中有瘀也。脈弦數，舌膩。擬通肺肝之絡，宗《金匱》旋覆花湯合《千金》葦莖湯法。</p>
<p>旋覆花（絹包，一錢半）　單桃仁（三錢）　冬瓜子（杵，三錢）　新絳屑（一錢）　生苡仁（三錢）　蜜炙紫菀（一錢）　川通草（八分）　川貝母（三錢）　絲瓜絡（鴨血拌炒，一錢半）　全瓜蔞（三錢）　白茯苓（三錢）　鮮藕汁（一酒杯，沖）</p>
<p>（李師云：可加入川鬱金&lt;磨沖&gt;，茜根亦可加，痰多可用蛤粉。又云：必系痰瘀阻於肺絡，方甚當。凡有飲之人，遇天陰濕，先胸中不快，以陽氣遏塞故也。）</p>
<p>（案13）衛，右。據述腹脹如臌，已見臍凸，納食少許，即腹脹難忍，腰痛，小便不利，晨起腫至足跗，曾針過兩次，脈左細數，右沉數，舌白。此單腹重症，本系氣虛作脹，加以治不如法，脾胃傷殘極矣。痼疾未易調治，勉以溫補通陽。</p>
<p>炙綿耆（三錢）　上潞黨（米炒，三錢）　天生術（米炒，三錢）　益智仁（煨，三錢）　懷山藥（米炒，三錢）　川桂枝（八分）　白歸身（茴香炒，三錢）　淡乾薑（五分）　吳茱萸（泡淡，三分）　白茯苓（三錢）　炙甘草（五錢）</p>
<p>臨睡服金匱腎氣丸四錢。</p>
<p>（李師云：鼓症忌針放水，犯此則傷脾陰，復發不治。）</p>
<p>（案14）蘇，寧波人。嗜酒豪飲。酒客多濕，濕中伏火結於陽明，食入即飢，所謂胃中熱則消穀善飢，脘間時覺不舒，恐成中消之症，脈澀，舌根黃膩。以苦辛通濕中之火。</p>
<p>薑汁炒川連（三分）　乾葛花（三錢）　生苡仁（三錢）　薑汁炒山梔（三錢）　干佩蘭（一錢）　鮮石斛（鐵皮杵，四錢）　薑汁炒竹茹（一錢半）　全瓜蔞（三錢）　雞距子（一錢）　鮮蘆根（去節，一兩）</p>
<p>（李師云：脈澀者，難治，將來恐成嗝。此時火盛，後來津液枯矣。）</p>
<p>（案15）馮，寧波人。感受時令風邪，頭痛甚於額，咳嗆甚於夜，耳癢，時出膿水，入暮神倦，脈左弦右數。此風邪挾少陽之火上升也。治以清泄。</p>
<p>蔓荊子（炒，三錢）　白蒺藜（炒，去刺，三錢）　連翹（三錢）　冬桑葉（一錢半）　粉丹皮（炒，一錢半）　銀花（三錢）　真滁菊（三錢）　焦山梔（三錢）　制天蟲（三錢）　苦丁茶（一錢半）</p>
<p>杏仁炒焦研末，以青蔥搗爛拌和，綿裹，塞耳中。</p>
<p>（李師云：兼少陽治，甚是。）</p>
<p>（案16）孫，右，二十餘歲。月前感冒，咳嗽，發熱，現患頭痛，上至顛頂，痛從左太陽起，延及石太陽、右頤及耳並腦後，右鼻不通（李師云：可用辛夷、荊芥），胃中泛泛欲嘔，口苦吐酸（又云：可用左金），月事四月不至，脈細弦數，舌苔黃膩。此係少陽木火上升，犯胃及肺也。擬抑木和中法。</p>
<p>杭甘菊（三錢）　制天蟲（二錢）　酒炒淡芩（一錢半）　白蒺藜（雞子清拌炒，去刺，三錢）　石決明（鹽水煅，六錢）　炒黑山梔（二錢）　蒸桑葉（一錢半）　水炒竹茹（一錢半）　白杏仁（去皮尖，三錢）　水炒橘紅（一錢）　宋半夏（一錢半）</p>
<p>復診：頭痛稍緩，胃中泛惡較平，據述頭痛甚於午前，夜分不甚，此非陰虛頭痛，乃少陽木火上升也。懷麟四月，正手少陽相火養胎之候，春令木火用事，又值少陽相火司天之運，「火曰炎上」，故犯胃則作惡，犯肺則鼻塞且衄也，脈仍細弦數，舌仍黃膩。擬清泄少陽之火。</p>
<p>羚羊片（先煎，一錢）　薑汁炒山梔（三錢）　杭甘菊（三錢）　上川連（吳萸二分拌炒，去萸，四分）　水炙橘紅（一錢）　姜炒竹茹（一錢半）　酒炒條芩（一錢半）　霜桑葉（一錢半）　石決明（鹽水煅，六錢）　苦丁茶（一錢）　白茅根（去心，一兩）</p>
<p>再復：頭痛已愈，胃逆亦平，惟皮膚時癢，搔之微覺燥而板木，此血分素虧，而少陽風火余焰未熄也。右鼻仍塞，惡聞廚房煎熬氣，此肺氣不宣，想前此感冒、咳嗆時清泄未淨也。舌膩已退，脈弦滑。擬以輕劑宣上焦餘熱，再議滋養。</p>
<p>炒黑荊芥（一錢半）　天花粉（三錢）　霜桑葉（二錢）　制天蟲（二錢）　連翹（三錢）　甘菊花（二錢）　牛蒡子（炒研，三錢）　黑山梔（三錢）　白茯苓（三錢）　鮮竹葉（廿張）</p>
<p>（案17）張韶九，山東青口人。心腎不交，夜不成寐，寐則遍體為之不適，時患潰泄，脈兩手皆弦。以心脾腎兼治。</p>
<p>遠志肉（甘草水泡，一錢）　酸棗仁（炒，三錢）　煅龍骨（二錢）　麥冬肉（辰砂拌，不去心，三錢）　茯神（辰砂拌，三錢）　鹽水煅牡蠣（六錢）　龍眼肉（包上川連末二分，三錢）　連翹（辰砂拌，三錢）　雲茯苓（三錢）　夜交藤（四錢）</p>
<p>（李師云：無他病而不得寐者最難治，大約必操持勞思之人，責之心營不足。人參養營湯、歸脾湯等試之。）</p>
<p>（案18）王，右。寒熱，胸悶，腹痛，齒焦，舌白膩而厚，不食不便，脈右數左伏。此濕溫重證，故以辛涼開泄。</p>
<p>鮮蘆根（去節，一兩五錢）　枳殼（麩炒，一錢半）　白蔻仁（帶殼杵，兩粒）　制茅朮（八分）　大腹絨（洗，一錢半）　薑製樸絲（一錢）　石菖蒲（一錢）　塊滑石（五錢）　赤茯苓（四錢）　姜半夏（三錢）　白杏仁（三錢）　細木通（薑汁炒，一錢）　鮮竹葉（卅張）　生薑（一薄片）</p>
<p>復診：左脈伏略起，右數，齒焦亦退，舌白膩轉淡黃，中有裂紋，而胸悶腹痛稍舒，不食不便依然。濕溫重證，鬱熱未泄。仍以前法出入。</p>
<p>鮮竹葉（卅張）　水炙橘紅（一錢半）　炒枳殼（一錢半）　連翹心（朱拌，三錢）　薑製樸絲（八分）　大腹絨（酒洗，一錢半）　竹瀝半夏（敲，三錢）　白蔻仁（帶殼杵，兩粒）　塊滑石（四錢）　薑汁炒竹茹（一錢半）　白杏仁（三錢）　赤茯苓（四錢）　佩蘭梗（一錢）　廣藿梗（一錢半）</p>
<p>服此方大效。</p>
<p>（案19）黃楚翁，烏鎮人。自前月感冒後，屢咳不已，致失血，音嘶，鼻時流涕，咽痛，咳甚於夜，脈兩手皆數，右寸尤甚。此肺有留熱，久咳傷陰。擬以清潤肺經。</p>
<p>鮮琵琶葉（拭毛去筋，蜜炙，三錢）　甜杏霜（三錢）　真柿霜（三錢）　天花粉（三錢）　生苡仁（三錢）　旋覆花（包，一錢半）　川貝母（三錢）　蜜炙紫菀（一錢）　新絳屑（八分）　白茅根（去心，八錢）　藕節（洗，三個）</p>
<p>復診：投清潤肺經之劑，血止，夜咳不甚，咽痛稍減，脈數漸和，惟音不響亮，流涕如故。由服辛溫開泄太過，肺陰受傷，不能還復。以滋養肺金。</p>
<p>西洋參（元米炒，三錢）　生苡仁（三錢）　白池菊（三錢）　肥玉竹（炒，三錢）　天花粉（三錢）　干百合（四錢）　元參（三錢）　川貝母（三錢）　生甘草（三分）</p>
<p>再復：血止，嗆緩，咽痛亦愈，聲音較亮，惟鼻流清涕，涓涓不絕。總由開泄太過，肺氣虛耗，不能收攝耳。以前法進之。</p>
<p>蜜炙耆皮（二錢）　大白芍（二錢）　阿膠（烊化，二錢）　北沙參（三錢）　川貝母（三錢）　麥冬肉（三錢）　蜜炙馬兜鈴（三錢）　肥玉竹（炒，三錢）　白池菊（三錢）　野百合（五錢）</p>
<p>（李師云：此補肺方亦妙，可加五味子。）</p>
<p>（案20）金鴻翁，本城人。朝食暮吐，完穀不腐，二便俱秘，脈軟，右關尤甚，舌淡。此關格之漸也。</p>
<p>東洋參（三錢）　淡乾薑（四分）　法半夏（二錢）　上肉桂（飯丸，藥汁下，三分）　旋覆花（包，一錢半）　水炙陳皮（一錢）　製附子（三分）　代赭石（醋煅研，四錢）　白茯苓（三錢）　藕汁　梨汁　甘蔗汁（各一酒杯）　薑汁（少許滴，衝入）</p>
<p>復診：投溫補辛通之劑，胃反已止，大小便亦通，脈遲而軟，右關略起，畏寒，胸脘時痛。仍以前法出入。</p>
<p>東洋參（三錢）　公丁香（七隻）　姜半夏（二錢）　上肉桂（飯丸，藥汁下，四分）　北細辛（二分）　炙陳皮（一錢半）　淡乾薑（五分）　旋覆花（包，一錢半）　雲茯苓（三錢）　淡吳萸（二分）　代赭石（醋煅研，四錢）　川楝子（酒炒，一錢半）　上沉香（藕汁磨沖，四分）</p>
<p>（李師云：腎為胃關，可用鹿茸、人參。）</p>
<p>（案21）王先生，本地人。痰濕鬱滯，現交夏令，正濕熱鬱蒸之時，口苦，納減，神倦，頭暈，耳聾，鼻塞，大便艱，脈澀，舌黃。治以辛開。</p>
<p>茅朮　瓜蔞仁　薑汁炒山梔　石菖蒲　塊滑石　蒼耳子　薑汁炒川連　石決明　炒苡仁　薑製川樸　白杏仁　加蘆根、生薑</p>
<p>（案22）徐，右，菊堂夫人，公義碼頭芝麻作，川沙人。素體陰虧，兼以情懷抑鬱，五志之火燔灼於內，證見寐中盜汗，汗出指麻肌冷，掌心灼熱，日晡發熱，肌膚亦灼，頭暈，口苦，胃減，便艱，舌根黃膩，脈兩手細數。種種皆陰液虧損之徵。擬以毓陰清熱、養營固衛為治，宗仲聖黃連阿膠湯法加味。</p>
<p>清阿膠（蛤粉拌炒，三錢）　酸棗仁（炒，三錢）　煅龍骨（四錢）　上川連（酒炒，三分）　云茯神（辰砂拌，三錢）　左牡蠣（鹽水煅，五錢）　西洋參（米炒，三錢）　淮小麥（焙，三錢）　炙元武版（四錢）　炙鱉甲（四錢）　甘菊花（三錢）　大白芍（炒，二錢）　生穀芽（五錢）</p>
<p>（李師云：龍、牡稍鈍。）</p>
<p>（案23）席，洞庭山人。熱鬱濕中，不能外達，口渴不引飲，泛泛欲嘔，頭痛，發熱，氣急，脈數而濡，舌白而潤。急宜宣泄上焦氣分。</p>
<p>鮮蘆根（去節，一兩）　廣藿梗（一錢半）　炒枳殼（一錢半）　鮮竹葉（卅張）　制川樸（一錢）　白杏仁（三錢）　鮮佛手（一錢半）　法半夏（二錢）　益元散（鮮荷葉包，刺孔，三錢）　鮮荷梗（去刺，一尺）</p>
<p>復診：體虛感邪，濕熱蘊結於心肺之分，壯熱氣急，渴不引飲，胃中泛惡，懊憹，大便不行，小便短赤，舌轉微黃而不潤，脈來數甚。急以辛涼開泄中上二焦。</p>
<p>蘆根（去節，一兩）　制川樸（八分）　姜炒竹茹（一錢半）　酒炒淡芩（一錢半）　薑製半夏（一錢半）　塊滑石（四錢）　鮮竹葉（卅張）　白杏仁（三錢）　藿梗（一錢半）　薑製川連（三分）　石菖蒲（五分）　川鬱金（杵，一錢）　荷梗（去刺，一尺）</p>
<p>（李師云：方皆入扣。）</p>
<p>（案24）李干臣，寧波人，拋球場匯安洋莊。暑熱客邪迫血妄行，傾盆盈碗，色紫而厚，咳嗆，血即隨之上溢，如火燎原，不可向邇，胸悶，脅痛，肌膚灼熱，目閉，氣急，脈弦數大。勢來凶暴，急以竹葉石膏、桃仁承氣合犀角地黃複方以救之。</p>
<p>香犀尖（磨沖，五分）　單桃仁（杵，三錢）　連翹（三錢）　鮮生地（打，一兩五錢）　鮮竹葉（卅張）　黑山梔（三錢）　生大黃（二錢）　丹皮（二錢）　百草霜（二錢）　生石膏（敲碎，包，一兩）　童子小便（一杯沖　李師云：妙。）</p>
<p>（李師云：此武班中之陳州會也，竟獲大勝。）</p>
<p>復診：昨投大劑清熱通瘀，嘔血已止，胸悶亦開，惟咳嗆時作，唇口乾燥，余焰尚未熄也，脈弦數較昨稍斂，舌黃膩，邊紫絳。仍以甘寒清熱，佐以消瘀之品。</p>
<p>鮮蘆根（去節，一兩）　側柏葉（三錢）　連翹（三錢）　白茅根（去心，一兩）　鮮生地（一兩）　黑梔（三錢）　鮮竹葉（卅張）　茜草根（三錢）　丹皮（一錢半）　鮮荷葉（一角）　枇杷葉（刷毛淨，三錢）　西瓜翠衣（三錢）　紅通草（一錢）　醋製大黃（研細末，分作兩包，兩次沖服，六分）</p>
<p>（李師：轉方尤靈妙。）</p>
<p>（案25）沈。抑鬱停食致病，胸滿，左側有塊，今塊雖隱伏，而胸次板實滿悶，胃納頓減，病經三月，脈弦而澀。此木鬱土中，失調達之性，致肝脾胃交困。木鬱達之，遵經旨也。</p>
<p>水炒柴胡（五分）　廣木香（八分）　石菖蒲（八分）　北細辛（三分）　炒枳實（一錢）　川鬱金（杵，一錢半）　生香附（三錢）　制川樸（一錢）　鮮薤白（酒洗，二錢）　全瓜蔞（三錢）　法半夏（二錢）　川楝子（酒炒，一錢半）　白茯苓（三錢）</p>
<p>復診：尤在涇先生云：「胸為陽之位，陽氣不布，則窒而不通，宜溫通，不宜清開，愈開則愈窒矣。」前法不應，轉以解鬱通陽為治。</p>
<p>桂枝（八分）　茯苓（三錢）　酒炒撫芎（二錢）　乾薑（一錢）　生益智仁（三錢）　泡淡吳萸（三分）　炙草（五分）　水炒柴胡（六分）　川椒（炒去汗，三分）　生薑（兩片）</p>
<p>陸子和先生丸方：臍旁氣時墜下，多走尤劇，有時濕水流下至足，足指、足心亦時出冷水，此足太陰為寒濕所困。病經數年，藥已遍嘗。想煎劑不應，姑以丸藥試之。</p>
<p>生白朮（二兩）　淡乾薑（一兩）　炙甘草（六錢）　生茅朮（一兩五錢）　淡附子（一兩）</p>
<p>上藥生曬勿炒，稀粥糊丸，臨睡每服三錢，用西洋參三錢煎湯送下。</p>
<p>（李師云：參補中益氣法加細辛。）</p>
<p>（案26）葉，右，池亭上人。情懷抑鬱，經水不至，胸悶，氣急，大病之後，元氣不復，脈細數。擬解鬱參以育陰。</p>
<p>酥炙鱉甲（八錢）　鱉血炒柴胡（四分）　酒炒歸身（一錢半）　蒸青蒿（一錢半）　青橘葉（一錢）　酒炒大白芍（二錢）　童便制香附（二錢）　綠萼梅（二錢）　黑驢膠（蛤粉拌炒，一錢半）　地骨皮（一錢半）　炒黃山藥（三錢）　炒丹皮（一錢半）</p>
<p>（案27）顧，鄧村人。酒客濕蘊中焦，寒熱得汗不解，渴而引飲，胸悶，小便短赤，脈濡數，舌垢膩堆積。濕溫重證也。</p>
<p>生石膏（碎，三錢）　塊滑石（四錢）　廣藿梗（一錢半）　生茅朮（三分）　薑製川樸（一錢）　炒枳殼（一錢半）　細木通（薑汁焙，一錢）　活水蘆根（二兩）　白杏仁（炒，去皮尖，三錢）　赤茯苓（四錢）</p>
<p>復診：寒熱已退，目黃，爪甲微黃，足跗起泡累累，脈濡數，舌黃膩。濕熱充斥三焦，發越未透，宗仲聖法。</p>
<p>綿茵陳（先煎，三錢）　酒炒川連（五分）　飛滑石（五錢）　煨草果（八分）　黑山梔（三錢）　酒炒淡芩（一錢半）　赤茯苓（四錢）　炙知母（一錢半）　製大黃（一錢）　鹽水　炒川柏（一錢）　車前子</p>
<p>（案28）鄭，右，廣東人，洽記土行。晨起登高受風，虛邪中之，即覺懊憹，午後陡然眩暈欲厥，現兩顴色赤，愁眉不展，時欲哭泣，脈沉按弦數，素有肝疾，常患頭痛。外風引動肝陽上升無制，惟懷麟六月，芳香開泄之品皆在禁例。治擬直折厥陰，毋使風火相煽，致動胎元。</p>
<p>當歸龍薈丸（同煎，二錢）　石決明（鹽水煅，六錢）　杭甘菊（去蒂，一錢半）　羚角尖（鎊，先煎，一錢）　勾藤（後下，四錢）　穭豆衣（三錢）　白蒺藜（雞子清拌炒，去刺，三錢）　川楝子（煨，一錢半）　川鬱金（切，一錢半）　遠志肉（甘草炙，四分）　抱木茯神（辰砂拌，三錢）　漂淡海蜇（一兩）</p>
<p>（案29）王，十六歲。癇證病經半載，月必一發，發則卒僕，角弓反張，手足揚擲，口吐涎沫。此必有痰凝聚於肝膽胞絡，久則化熱，熱則生風。脈細緊弦數。治以熄風除痰清熱。</p>
<p>羚羊角（一錢半）　法半夏（一錢半）　石決明（鹽水煅，五錢）　明天麻（煨，二錢）　抱木茯神（辰砂拌，三錢）　遠志肉（甘草，四分）　鉤藤（後下，四錢）　石菖蒲（四分）　白茯苓（二錢）　薑汁炒竹茹（一錢半）　蒼龍齒（煅，三錢）　水炙陳皮（一錢）　陳膽星（四分）　制天蟲（二錢）</p>
<p>（案30）沈，南長興。久嗽痰出不爽，咽中如有炙臠，喉管狹窄而時癢，頭暈如在舟車中。閱前所服方，辛散燥烈已十餘劑矣。肺為嬌臟，豈堪受此摧殘？陰液已涸，肝陽隨之而上。脈細弦數，舌絳無苔。故以滋潤肺陰為補救之法，如花木枯萎頻頻灌溉之。</p>
<p>莧麥冬（辰砂拌，三錢）　川貝母（三錢）　甜杏仁（去皮尖，三錢）　肥玉竹（三錢）　淡元參（青黛拌，三錢）　甜桔梗（三分）　西洋參（三錢）　天花粉（切，三錢）　生甘草（四分）　旋覆花（包，一錢半）　真柿霜（三錢）　淡芩（一錢半）　川楝子（一錢半）</p>
