<header data-type="book">
<h1>醫經會解</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>鄧景儀</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1633">公元1633年</data>刊</dd></div>
<div><dt>底本</dt><dd>明崇禎06年刊本（<a href="https://www.digital.archives.go.jp/file/1079599">国立公文書館掃描本</a>）；軼䡷廬藏板（<a href="https://www.digital.archives.go.jp/file/1079080">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>
