<header data-type="book">
<h1>金氏門診方案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>金子久</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>顧左二十六歲</h1>
<p>久遺傷腎腎虛內熱多冷傷衛衛虛力倦坎離少交寤寐夢紛宜育陰炙鱉甲綿耆秦艽蒺藜根生地茯苓牡蠣桑葉潞黨參廣皮龜版首烏藤</p>

<h1>朱左四十三歲</h1>
<p>腎不納氣睥不化濕喘急痰飲由來三年近日肺家又為火燥聲嘶音啞咽燥喉庠喉痹形狀已達目的</p>
<p>靈磁石橘紅鳳凰衣淮牛膝叭杏仁川貝赤苓淡甘草生薏仁桔梗元參枇杷葉</p>

<h1>吳左三十歲</h1>
<p>無夢而滑謂之腎虧腰背痠楚是其證也</p>
<p>炙龜版杜肥知母澤瀉炙鱉甲茯苓丹皮牛膝川黃柏牡蠣白芍蒺藜</p>

<h1>陳左五十一歲</h1>
<p>肺虛作咳腎虛作喘年已五十欲杜其根恐難言矣</p>
<p>粉沙參茯淡甘草牛膝叭杏仁白前白石英半夏冬蟲草川貝楷杷葉橘紅</p>

<h1>楊左三十三歲</h1>
<p>腎陰下虧為精滑肺火上焰為喉癢經絡又為痰阻氣機亦被濕困腹笥時急時痮腰背乍痠乍痛左脈弦數舌質白膩當育肝腎以潛龍相</p>
<p>青龍骨牡蠣廣皮金鈴子潼蒺藜丹皮茯苓炙龜版川貝母白芍蓮鬚元參</p>

<h1>徐右二十七歲</h1>
<p>血海多熱經水淋漓陽絡多火鼻衄上出</p>
<p>紫胡炒當歸丹參白芍茶花淮牛膝丹皮佛手柑桑葉女貞子茯神茺蔚海螵蛸</p>

<h1>張左</h1>
<p>浮腫屬脾咳嗆屬肺葶藶瀉上之氣五苓滲中之濕</p>
<p>甜葶蘑豬苓川桂華澄茄茅朮廣皮防風骷髏制川樸澤瀉術茯苓</p>

<h1>吳右六十三歲</h1>
<p>肝腎不足濕火乘虛下注氣血俱傷帶下赤白並見</p>
<p>砂仁搗熟地萸肉丹皮冬朮海螵蛸茯苓杜仲山藥制首烏蓮鬚萆薢白芍</p>

<h1>吳左三十五歲</h1>
<p>上冬會發便毒愈後餘邪逗遛挾肝之風陽犯陽明沖巔或有頭痛或有脘泛咽喉雨旁發現白糜關尺脈象均見效大和肝胃潛風陽</p>
<p>川連桑葉白芍天麻萆薢元參鉤鉤竹茹決明銀花橘紅滁菊</p>

<h1>沈左五十一歲</h1>
<p>外症之後旋即氣急筋掣足腫氣血雨虧</p>
<p>綿杜仲牡蠣炙綿耆忍冬藤宣木瓜白芍絲瓜絡會皮川斷肉當歸防風牛膝</p>

<h1>葉左三十六歲</h1>
<p>脈滑屬痰脅痕屬氣痰聚氣機不通則痮</p>
<p>萊菔子瓜蔞橘紅竹茹瓦楞子絲瓜枳殼砂殼白芥子腹皮茯苓冬瓜子皮</p>

<h1>沈右十八歲</h1>
<p>形瘦咳嗽食少停經乾血勞瘵已見一斑</p>
<p>紫胡炒白芍川貝丹皮牡蠣炙鱉甲茯神莞蔚桑葉淮牛膝地骨皮丹參穀芽</p>

<h1>馬右十六歲</h1>
<p>氣分積濕腑陽窒郁當臍作痛中脘嘔泛心有悸動脈見緊弦溫連宜濕藉和肝脾</p>
<p>陳枳殼金鈴子烏藥路路通小茴炒白芍延胡索青皮墓茄制香附姜半夏</p>
<p>茯神官桂</p>

<h1>俞左二十二歲</h1>
<p>老病肝氣少腹作痮新病濕溫遍體酸楚頭蒙耳聾寐夢譫語舌白脈濡面㿠肢掣濕溫已從痰化猶慮風動作痙</p>
<p>大蠍尾桑葉苡仁竹茹川通草酒炒黃芩茯苓膽星焦山梔連翹橘紅滁菊</p>

<h1>欽右三十歲</h1>
<p>血中風熱透出肌肉發現紅塊上下俱有咳嗆少痰咽喉喉庠大便實結小便火熱脈象細弦而數舌質膩黃而燥肺肝挾有風熱脾胃蘊蓄濕火宜先清風熱　青蛤散川貝桔梗淡甘草粉丹皮白杏仁元參桑葉絲瓜絡冬藤滁菊枇杷葉</p>

<h1>張左四十九歲</h1>
<p>肝氣化風脾濕生痰互相上擾先咳後眩</p>
<p>明天麻川貝竹茹甘草純鉤鉤滁菊桑葉白芍准牛膝姜夏石決廣皮</p>

<h1>蘆左十九歲</h1>
<p>先天不足後天又虧年將弱冠猶未身發或瘧或血此長彼消上損已及中交咳嗆兼有嘔惡盜汗淋漓夜不安寐脈象細數無神舌質薄白而潤兩補氣血是為正當</p>
<p>炙綿耆貝母浮小麥桑葉炙甘草穭衣牡蠣黨參白杏仁夏粬橘紅茯苓</p>

<h1>倪童十三歲</h1>
<p>無痰不癇無風不厥風痰熾盛癇厥頻作　瓦楞子法夏黃沉香竹茹石決明滁菊淡甘草膽星風化硝礞石砂茯神橘紅</p>

<h1>沈右二十二歲</h1>
<p>肺主氣氣虛多咳惡寒肝藏血血虛心悸煩熱舊冬蓐後元虛未復脈弦舌白當用潛育</p>
<p>炙耆皮牡蠣川貝丹參熟半夏螵蛸白芍炙草南北沙參苓神橘紅蘇子</p>

<h1>吳童</h1>
<p>暑濕傷氣積食傷脾不從瘧化更患便積身熱腹滿當用利中佐以泄熱廣木香淨銀花腹皮秦皮白頭翁焦神粬查肉荷蒂川雅連帶皮苓川柏酒芩</p>

<h1>徐左三十二</h1>
<p>陰虛火旺氣逆金傷先患純血繼而痰血</p>
<p>川貝母旱蓮元參茅根女貞子丹皮蛤散功勞水炒膏牛膝橘紅知母</p>

<h1>張右</h1>
<p>把握不靈麻木不仁偏於右手此風勝也</p>
<p>炒當歸桑枝絲瓜絡白芍五加成木瓜忍冬秦艽川桂枝丹參首烏防風</p>

<h1>彭孩無方</h1>
<p>頸項強急此痙厥之徵兆目斜咳嘔乃慢驚之基礎未至周歲純陽不足照此形狀力有不逮</p>

<h1>吳右四十歲</h1>
<p>休息痢仍作惟下數較稀色見赤白氣血俱傷患起一年脾腎亦虧脈來弦細舌質薄膩仿用繆氏脾腎雙補</p>
<p>炒槐米於朮肉菓兔絲餅巴戟天扁豆山藥新會皮破故紙茯苓甘草潞黨參</p>

<h1>萬左二十三歲</h1>
<p>三瘧本從陰出愈後陰分更虧或寒或熱忽往忽來</p>
<p>扁石斛酒芩秦艽丹皮銀柴胡淡草鱉甲橘紅絲瓜絡骨皮蒿梗桑葉</p>

<h1>汪右三十三歲</h1>
<p>水不涵木血少濡肝氣升難寐瘕聚塊痛心悸筋掣頭暈耳鳴食減脘悶咳逆痰多顯然肝侮土木刑金左脈弦細舌苔黃膩拙擬抑木和肝參入養金瀉火</p>
<p>旋覆花代赭絲瓜絡生苡仁石決明茯神貝母玟瑰炒竹茹西洋參橘紅代代花東瓜子皮</p>

<h1>陳左二十四歲</h1>
<p>失情積勞積鬱氣逆咳血咳痰面色萎黃舌質薄白氣分似有濕熱治法非宜滋補</p>
<p>瓦楞子橘紅白前苡仁綿茵陳蘇子桑葉冬瓜子白杏仁茯神貝母竹茹</p>

<h1>崔左二十歲</h1>
<p>前次濁氣在上腹笥䐜脹現在清氣在下大便溏瀉</p>
<p>綿茵陳制川樸澤瀉茯苓粉豬苓桂枝炒白芍二皮冬瓜子皮廣木香姜半夏苡仁冬朮</p>

<h1>徐右二十七歲</h1>
<p>血海多熱經水淋漓陽絡多火鼻衄上出厥陰偏旺變症百出</p>
<p>柴炒當歸丹參海螵茺蔚准牛膝茯神山茶香柑奎白芍女貞丹皮桑葉沈右二十六歲</p>
<p>產育六年未獲復孕經來腹痛逾時瘕升</p>
<p>冬風皮海螵香蟲茯神柴炒白芍丹參吞附佛手川鬱金丹皮牛膝八月扎</p>

<h1>金左十七歲</h1>
<p>癇中兼厥迭見三次肝膽風陽挾痰上擾</p>
<p>明天麻橘紅滁菊牛膝石決明釣釣茯神丹皮黑知母丹參膽星桑葉</p>

<h1>李左六十五歲</h1>
<p>肝氣挾飲流入脈絡自脅至腹疼痛兼脹究其受病之源不外情郁二字旋覆花白芥子茯苓姜竹茹法半夏瓦楞子桂芍歸鬚絲瓜絡新絳路路通橘絡紅</p>

<h1>高左二十五歲</h1>
<p>咳而無痰謂之肺燥久咳傷絡慮其見血</p>
<p>功勞葉冬瓜子桑葉耙枇葉淡甘草杏仁元參桔梗青蛤散橘紅梨子白茅根</p>

<h1>沈左四十八歲</h1>
<p>由瀉轉積積行旬余腰腹俱痛翻數猶多</p>
<p>江西術查肉苡仁扁豆廣木香訶子車前荷蒂陽春砂茯苓骨脂廣皮</p>

<h1>左十六歲</h1>
<p>不咳喀血腹痛便血左脅痞滿清運治之</p>
<p>炙鱉甲大腹青皮海蜇絲瓜絡蓬朮白芍藤皮冬瓜皮當歸桃仁茯苓</p>

<h1>陸左十九歲</h1>
<p>肺受風熱脾積濕熱形寒形熱咳逆咳痰</p>
<p>煆蛤亮前胡苡仁杏仁冬瓜子皮川貝淡草青蒿銀柴胡蘇子橘紅竹茹</p>

<h1>陳左</h1>
<p>先咳後血定是火燥傷絡體癢牙癍亦是火蒸胃絡</p>
<p>粉丹皮川貝枇耙葉蘇子忍冬藤蛤粉白茅根杏仁絲瓜絡橘紅蘆根竹茹</p>

<h1>陳左四十八歲</h1>
<p>浮痘稍減咳嗆仍劇肺不降氣脾不化濕</p>
<p>姜半夏橘紅酥子川具准牛膝杏仁茯苓骷髏冬瓜子皮川樸桑皮大腹</p>

<h1>陳左二十五歲</h1>
<p>腹痛下血已有五年脾胃致傷統血失司</p>
<p>制川樸葛根冬朮紅棗炒槐米茯苓廣皮白芍廣木香芸粬智仁扁豆</p>

<h1>沈左二十一歲</h1>
<p>左右脈象均見弦細滿苔舌質頗形滋白弦為飲邪細為陰虧舌白中焦定為寒濕腹有動氣脅有絡掣肝陽時有勃動太陽時有痛痕詢悉情志多郁致傷肝木治法須當利肝以舒絡脈</p>
<p>廣鬱金桑葉絲瓜絡橘紅法半夏滁菊白芍竹茹冬瓜子皮茯神川貝丹參</p>

<h1>沈左三十四歲</h1>
<p>腹笥作痛胃納式微面黃少華舌白帶剝脾胃升降失調寒濕盤留不化大腹皮穀芽茯苓路路通枳殼青皮金鈴子小茴香吞櫞皮砂殼建曲沉香</p>

<h1>葉左四十歲</h1>
<p>恩慮傷脾怒郁傷肝便泄經久劇於半夜有時心亂神呆將來難免怔忡切脈細弦當用潛連</p>
<p>石葛蒲遠志秫米棗仁巴戟天茯神會皮西術廣木香交藤半夏丹參</p>

<h1>劉左</h1>
<p>脅下痞滿偏在於左陰虛絡阻何疑舌見紅刺脈來細數火旺津傷之兆細生地青皮丹皮白芍炙鱉甲金鈴子川斛絲瓜絡左牡蠅橘紅桑葉當歸</p>

<h1>潘右四十三歲</h1>
<p>木叩金鳴咳嗆一年已見氣急殊難杜根舌質黃膩脈象弦滑上下氣少攝納藥餌不過苟延</p>
<p>白石英白前川貝枇耙葉瓦楞子淡甘草苡仁竹茹准牛膝茯苓橘紅半夏曲</p>

<h1>王右</h1>
<p>體素陰虧症見叢雜近加情志不樂致傷脾肝氣營</p>
<p>玉蝴蝶白芍八月扎牡蠣法半夏穀芽青皮腹皮製香附昆布絲瓜絡橘紅</p>

<h1>周左二十歲</h1>
<p>鼻紅有根咳嗆四年舊秋會經痰紅今春屢見寒熱肺腎陰分有虧肝膽氣火偏旺脈細數當潛降</p>
<p>粉丹皮雲苓川貝茅根准牛膝苡仁蛤殼首烏女貞子茶花白芍橘紅</p>

<h1>吳左膏方</h1>
<p>補肝營藉利筋絡益腎陰而戕筋骨</p>
<p>大熟地枸杞子黨參靈仙宣木瓜白芍綿耆忍冬淮牛膝當歸首烏狗脊制玉竹川斷兔絲鎖陽淡從蓉龍膽杜仲坎版</p>
<p>右藥濃煎二次去渣存質加隨皮膠虎骨膠溶化收膏每用一匙開水化服</p>

<h1>周右</h1>
<p>坎陽不足脾土又虧便溏實脈細無力肝腎陰分亦虧浮火上乘傍晚目紅而瘇髓骨作痛溫補三陰以資灌溉</p>
<p>東洋參杜仲白芍二皮宣木瓜鹿霜於朮肉菓淡川附霞面骨脂杞子</p>

<h1>又膏方</h1>
<p>益真陽以溫脾土補真陰以處肝木</p>
<p>大熟地於朮白芍骨脂制萸肉吳萸杜仲山藥東洋參甘草兔絲首烏霞天曲澤瀉黃耆歸身巴戟天茯苓肉菓杞干宣木瓜</p>
<p>右藥煎三次取濃質以鹿角膠驢皮膠濃化收膏</p>

<h1>季左</h1>
<p>左脈弦右脈滯舌質潤苔色黃肝腎陰分積虛虛則生風生火肝腎氣分有虧虧則生濕生痰風無形易蒙清孔頭痛偏左目瘇肢振痰有形易阻氣機脘悶嘔惡便下不暢先消理後滋補</p>
<p>姜半夏廣皮滁菊桑葉石決明肫皮蒺藜芽谷明天麻鉤鉤茯苓竹茹</p>

<h1>又膏方</h1>
<p>滋坎水以濟離火柔巽木而安坤土</p>
<p>大熟地苓神杞子山藥紛丹皮滁菊坎版鱉甲淡從蓉生地首烏澤瀉制萸肉冬朮牛膝牡蠣奎白芍潞黨歸身桑葉</p>
<p>右藥漫煎三次入驢皮膠收膏</p>

<h1>陳左</h1>
<p>濕旺之體質木火之用事夏令四肢麻木冬令鼻竅流水有夢而遺無夢而滑原由肝腎不足遂使坎離失濟脈象左弦右細治法先宜潛育</p>
<p>大生地茶花石決茅根扁石斛女貞白芍桑葉焙丹皮坎版旱蓮牡蠣</p>

<h1>又膏方</h1>
<p>肢麻甚於廈令鼻水劇於冬令有時夢遺有時精滑本病龍相火旺標病濕痰偏勝值此冬令舍標求本用擬膏方以資調理</p>
<p>牡蠣坎版大生地萸肉滁菊茯苓旱蓮草首烏杞子桑葉山茶花丹皮丹參蓮鬚扁石斛女貞白芍茅根淡從蓉鱉甲</p>
<p>右藥煎三次取濃汁以驢皮膠收膏</p>

<h1>許左</h1>
<p>三春咳嗆至夏始愈八月咳嗆至今未巳肺不降氣腎不納氣動則喘急靜則平緩咳而脅痛絡傷防血素有遺血早傷腎陰脈象堅數法當清肅</p>
<p>旋覆蛤散竹茹桑葉杏仁川貝絲瓜絡枇杷露牛膝石英毛燕橘紅</p>

<h1>翁左</h1>
<p>右脈柔小左脈數大小為陰虧大為陽亢年未弱冠夢有遺泄趁此冬令先宜培養</p>
<p>熟地萸肉山藥丹皮澤瀉歸身白芍杞子生地綿耆潞黨坎版鱉甲沙苑遠志蓮鬚右藥以驢皮膠收膏</p>

<h1>江左四十歲</h1>
<p>病久陰虛虛則生熱熱蒸於肺便為咳嗆形瘦膚燥力疲脈細若不冬令調治春令便有難救</p>
<p>旋覆花橘紅夏曲枇杷葉毛燕根川貝雲苓竹茹川石斛牛膝蟲草扁豆</p>

<h1>陳右</h1>
<p>陰虛生熱氣滯作□脘腹又為痞滿咳嗆時有上逆汛參亂法逍遙莞蔚子楞子青皮白芍柴胡當歸香蟲鬱金腹皮枳殼香附丹參川貝</p>

<h1>沈左</h1>
<p>脅痞腹痛由來已久肝強脾弱寒濕蟠覆</p>
<p>川桂枝川樸腹皮茯苓消茅朮青皮首烏東瓜皮瓜蔞皮枳殼穀芽白芍</p>

<h1>富左四十三歲</h1>
<p>疼痛偏於左太陽麻木甚於右手指遍體廢楚兩膝痿耍外風內濕走經入絡甫有二月已成痹症膽胃又為痰阻人夜為之少寐脈寸浮法溫通桂枝炒白芍防己秦艽竹茹仙半夏秫米滁菊桑枝葉川萆□橘紅茯神</p>

<h1>沈左</h1>
<p>真陰不能治浮陽真水不能制虛火形瘦善食口渴喜飲脾家又為木侮腹笥遂為□滿舌質光降脈象浮弦濟水火育陰陽</p>
<p>大生地丹皮澤瀉麥冬上猺桂茯苓黃柏天冬制萸肉知母白芍山藥</p>

<h1>沈右三十三歲</h1>
<p>咳嗆白沫痰帶咸氣營分有熱月泛早期</p>
<p>元胡炒白芍橘紅蛤散歸身杜仲茺蔚丹皮杏仁牛膝丹參枇耙葉茯神</p>

<h1>陳右二十歲</h1>
<p>逢節吐血已有半年泛停一月有餘先起悲怒後因驚恐</p>
<p>紫丹參石決明白芍女貞旋覆花橘紅雲苓貝母粉丹皮佛手柑牛膝茅根</p>

<h1>朱右三十歲</h1>
<p>血虛營熟氣鬱生火月泛延期淨後身熱</p>
<p>制香附牛膝榮胡薄荷葉焦山梔丹麥川芎歸身鮮石斛丹皮白芍月季花</p>

<h1>錢右二十三歲</h1>
<p>浮腫半年經停四月氣血兩阻寒濕兩勝</p>
<p>柴炒歸身砂谷茺蔚子川芎桂炒白芍廣皮腹皮椽皮枳炒冬朮香附苓皮澤瀉</p>

<h1>陳右四十六歲</h1>
<p>始而帶下繼而血漏失血腸燥大便為難</p>
<p>仙夏麻仁丹參白芍牛膝廣皮蝴蝶枳殼海松子從蓉柏子仁杞子</p>

<h1>陳右四十五歲</h1>
<p>發熱耳聾汗多便溏兩手自動神識昏糊</p>
<p>焦山梔鉤鉤石斛二青鮮生地連翹鬱金決明陳膽星蠍尾法夏橘紅</p>

<h1>呂右四十一歲</h1>
<p>產將三月泛紅頗多入暮焦熱胃減身倦三春咳嗆尚未杜根</p>
<p>杏仁麥冬橘紅驢膠生地白芍貝母枇杷葉丹皮螵蛸元參骨皮</p>

<h1>許右五十八歲</h1>
<p>痰阻於上濁阻於下翻胃膈症已達極點</p>
<p>火麻仁鬱金穀芽竹茹咸從蓉廣皮絲瓜白芍姜半夏簍皮桃泥枳殼</p>

<h1>郭左二十四歲</h1>
<p>血行清道鼻紅已見三月濕阻營衛瘧疾發現一旬</p>
<p>姜半夏黃柏生薑腹皮吳萸炒川連酒芩丹皮茶花軟柴胡秦艽橘紅知母</p>

<h1>徐右</h1>
<p>食滯中傷升降窒礙懊儂嘔泛食減便結脈象弦大而滑胃腑窒而不宣元胡炒川連腹皮橘紅竹茹廣鬱金茯神杏仁路通蔞皮云曲法夏</p>

<h1>吳左三十一歲</h1>
<p>新患咳嗆日漸而止舊患□□消長無常</p>
<p>甜葶藶防己蘇於枳殺陳香椽皮骷髏青皮腹皮蜜炙麻黃沉香半夏杏仁</p>

<h1>計右三十八歲</h1>
<p>去秋崩漏旋則停止近十日來血塊疊下頭痛腰廢寐寤艱難</p>
<p>小茴炒當歸桃肉丹參杜仲吳萸炒川連杞子川芎鳥藥官桂炒白芍東參茯神廣皮</p>

<h1>沈童</h1>
<p>腹大如墩阜四肢俱浮□咳嗆氣急胃納不佳</p>
<p>大腹皮川樸苓皮澤瀉葶藶子桂炒芍杏仁控涎丸豬苓東瓜子皮蘇子</p>

<h1>平左十六歲</h1>
<p>陽絡傷則鼻紅氣機阻則痞硬右腹滿大年輕非宜</p>
<p>瓦楞蕪荑丹參鱉甲神麯銀胡茯苓海蜇查炭川連青皮銀花</p>

<h1>潘左四十二歲</h1>
<p>自胸及腹痛劇加捲上嘔清水亦不大便</p>
<p>瓜蔞皮姜夏澄茄白芍黑乾姜蔞仁搖桂云曲薤白頭八月札廣皮路路通</p>

<h1>陳右三十三歲</h1>
<p>咳嗆失音胎前延及產後腹痛便溏往年宿根發現病纏四月形瘦冷熱脈虛舌薄延防蓐損</p>
<p>鳳凰衣桔梗淡草枇杷葉北沙參牛膝貝母茯苓飯蒸於朮橘紅玄參牡蠣</p>

<h1>李童十二歲</h1>
<p>不軟吐血血來頗多病逾兩旬近發五天</p>
<p>根生地牡蠣丹皮茅根黑旱蓮女貞橘紅側柏生三七功勞茯神牛膝</p>

<h1>葉左三十二歲</h1>
<p>脈滑屬痰脅□屬氣痰聚氣機不通則□</p>
<p>瓜蔞皮橘紅絡枳殼二青白子腹皮砂殼冬瓜子皮萊菔子瓦楞茯苓瓜絡</p>

<h1>黃左</h1>
<p>腎關不固小溲頻多濕火乘虛下注膀胱氣化失權尺脈細清濕法</p>
<p>扁豆知母竹葉荷梗黑梔廣皮草稍茯神潼蒺藜丹皮黃柏澤瀉</p>

<h1>董左預擬方</h1>
<p>養正氣清餘邪虛實兩相顧盼偏勝不致為害</p>
<p>吉林參鬚甘草桑葉茯神冬瓜子橘紅扁豆綠豆扁石斛苡仁杏仁竹茹</p>

<h1>範左</h1>
<p>頭痛牽眉心悸身掣咳而多痰咽燥少津病根已有六年諸虛由此畢露叭杏仁滁菊橘紅白芍石決明丹參元參川貝黛蛤散桑葉雲苓枇杷葉</p>

<h1>範右</h1>
<p>懷孕之體不耐煩熱熱傷胎元腰腹作痛孕已九個足月猶慮帶病分娩形冷熱脘滿悶眩暈自汗脈滑舌薄當治其病母害其胎</p>
<p>西洋參雲苓廣皮鉤鉤穭豆衣佩蘭滁菊杜仲冬桑葉佛手黃芩竹茹</p>

<h1>祝右</h1>
<p>氣血俱虧肝腎並傷不獨泛來衰少抑且諸症雜</p>
<p>杜仲牡蠣奎芍玫瑰綿耆丹參穭衣螵蛸首烏歸身龍骨茯神</p>

<h1>許童</h1>
<p>咳稍緩血仍吐面浮足□冷熱腹□八歲童子已成童勞</p>
<p>川貝穀芽冬瓜子皮枇耙葉杏仁茯苓百部款冬紫苑山藥於朮</p>

<h1>董右</h1>
<p>濁蒙清竅頭暈耳嗚濕阻氣機脘泛嘔惡近加憂鬱肝陽勃升</p>
<p>法夏蒺藜蔻殼竹茹石決鉤鉤鬱金桑葉霍梗枳殼會皮滁菊</p>

<h1>石重</h1>
<p>暑風入肺食滯傷脾上有嘔吐下有泄瀉</p>
<p>法半夏前胡扁豆杏仁廣木香苡仁象貝鉤鉤焦神麯橘紅通草竹茹</p>

<h1>曹右</h1>
<p>滿腹作□愈而復發氣病應血月事愆期</p>
<p>吳萸炒川連小茴鬱金砂殼桂枝炒白芍腹皮枳殼茺蔚冬風皮青皮茯苓路路通</p>

<h1>張左</h1>
<p>中脘痕滿已減飲食仍不多進有時氣不通順痛□並作有時陽不潛降寤寐維艱種種病象仍在陽明腑絡改方法程尚宜通利腑絡</p>
<p>金鈴千青皮枳殼腹皮北秫米姜夏伏苓絲瓜夜交藤鬱金橘紅路路通</p>

<h1>張左三十六歲</h1>
<p>脹在中脘痛在右腹中主胃右主氣胃氣失其下行右降遂為不及氣滯則痕氣□則通久痛久□入經入絡大便艱澀納食減進舌質糙白而厚脈沉滯不暢胃者為六腑之總司胃病則六腑亦病按腑以通為用法當以通為耍</p>
<p>兩頭尖姜夏金鈴青皮枳殼桃仁彩雲粬檳榔瓦楞瓜蔞絲瓜絡路路通</p>

<h1>趙右五十歲</h1>
<p>飲停於中噫噯吞酸寤寐欠寧時有眩暈</p>
<p>萸炒連桂芍佛手竹茹炒秫米半夏橘紅甘草黑乾姜雲苓夜交枳殼</p>

<h1>又左十九歲</h1>
<p>咽喉間癢膺脘亦癢蒂丁下垂水虧火旺</p>
<p>左牡蠣黃柏元參桔梗炙鱉甲丹皮生地秋石坎版淡草莫肉知母</p>

<h1>厲右二十歲</h1>
<p>手少陰火旺並足少陰水虧肺有風熱鼻竅為之成淵胃有濕火蒂丁為之下垂精為火動則夢遺絡為火燥則痰血頭目眩暈頸背絡痛舌質黃脈細弦症複雜治不易</p>
<p>制萸肉川貝茅根茯苓旱蓮草牡蠣女貞橘紅功勞葉丹皮蓮鬚生地</p>

<h1>王左三十五歲</h1>
<p>能食而不能化其咎在脾血虛而氣不調其病在肝肝為剛臟燥則益剛脾為濕土滯則益濕肌膚乾燥更衣艱澀脈象細弦舌質糙膩治法須養氣血藉以灌輸肝脾</p>
<p>唯牛膝柏仁當歸從蓉遠志肉棗仁白芍穀芽甘杞子麻仁廣皮芝麻</p>

<h1>陳左四十三歲</h1>
<p>生石膏知母元參桔梗川貝母淡草絲瓜絡海石煆蛤殼苡仁蘆根瓊玉膏</p>

<h1>李左四十三歲</h1>
<p>素體水不涵木漸至木火刑金先咳而後失血自春延至立夏痰阻於肺氣失宣華胸脘滿悶缺盆□痛左升太過右降不及動輒氣甚而咳嗽脈弦細而數法養金柔木</p>
<p>金沸草元參石決枇杷葉女貞子川貝牛膝橘絡青蛤殼丹皮茅根旱蓮</p>

<h1>羅二十五歲</h1>
<p>少陰腎虧太陰脾濕濕聚蒸化為痰效嗆頭□腰痠肢耍脈象弦滑舌質膩白陰虛生火耗傷胃津故口渴喜飲小溲紅赤腎清脾濕</p>
<p>黃草川石斛仙夏淡草橘紅雲茯苓瓜子川貝牡蠣滁菊桑葉牛膝苡仁竹茹</p>

<h1>張左</h1>
<p>左右脈均弦滑弦主飲滑主痰痰飲盤踞中上兩窒礙上下呼吸肺不降腎不納動輒氣逆狀如喘急素有遺泄腎陰久耗多年老病根深蒂固</p>
<p>元武版橘紅炙草茯苓鱉甲川貝杏仁牡蠣冬蟲牛膝六□粬石英</p>

<h1>朱左</h1>
<p>心多悸夜少寐盜汗精滑心腎不交</p>
<p>左牡蠣龍骨甘草棗仁遠志肉蓮鬚茯苓知母川柏丹參生地柏仁</p>

<h1>李右</h1>
<p>脘痞□痛經淋帶多脈象弦細舌質薄黃陽明不合衝任不固患起小產已越一年氣血已受戕傷諸恙遂為雜出闔陽明之氣固沖海之血</p>
<p>潞黨參遠志海蛸川芎炙綿耆茯苓棗仁牡蠣杜仲白芍丹參茺蔚</p>

<h1>朱右</h1>
<p>未產先紲既牽又瀉綿纏一年脾腎陰中之陽虛矣於是滿痛泄瀉劇於清朝時候前半舌貿淡絳脈象左尺濡大雙補脾腎藉資連納</p>
<p>巴戟天潼蒺藜兔絲子破故紙奎白芍煨肉果淡吳萸五味子懷山藥土炒於朮雲茯苓穀芽</p>

<h1>陳左</h1>
<p>咳嗆五年氣急三載近加喪明嗔怒肝氣升熾化火迫傷絡脈吐血復崩</p>
<p>秉即鼻血亦是絡熱左脈大擬潛育大生地准牛膝粉丹皮石決明山茶花墨旱蓮女貞子橘絡川貝母湖藕節白茅根錦紋黃</p>

<h1>又</h1>
<p>血從清道由鼻而出從濁道由口而來咳嗆氣急輾轉不停喪明嗔怒氣鬱不舒左關脈大法當潛降</p>
<p>橘紅絡叭杏仁丹皮降香准牛膝茯苓白芍川貝青蛤散藕節茅根山茶</p>

<h1>沈左</h1>
<p>大便有血小溲痠痛瘧發三陰已有半年</p>
<p>制草莫鱉甲秦艽槐米制首烏川柏知母草梢姜半夏萆□茯苓桂拌白芍</p>

<h1>又右四十歲</h1>
<p>津液為火消爍漸成三消大症形瘦善食口渴喜歡溲濁頻多舌根脫苔腹笥似覺痞滿脈象兼見弦濡仿用知柏八味丸籍以壯水制火</p>
<p>知母黃柏生地山藥萸肉丹皮澤瀉元參茯苓麥冬天冬石斛</p>

<h1>盛右四十五歲</h1>
<p>肝腎陰虛沖任失司經訊超前帶下殊多中間痰飲盤踞咳嗆作輟無常杜仲芸苓川貝蒺藜竹茹叭杏丹參半夏□粬石英芡實蓮鬚橘紅</p>

<h1>姜右三十一歲</h1>
<p>經來衰少五年不育血虛氣滯累及衝任</p>
<p>當歸柴胡白芍茺蔚川貝橘紅丹參杏仁海峭香附丹皮玟瑰</p>

<h1>李左四十八歲</h1>
<p>肝腎不足肺胃有火屢次失血時常咳嗆去冬曾經先音今春復加腰痛脈象細數法當潛育</p>
<p>甘草玉竹女貞旱蓮龜版前胡丹皮杏仁生地川貝橘紅茯苓</p>

<h1>郁右三十歲</h1>
<p>去冬三瘧近來無緒熱勢燎原略有咳嗆</p>
<p>鱉甲銀胡蒿子秦艽白前骨皮知母桑葉丹皮桂芍杏仁竹茹</p>

<h1>顧左六十歲</h1>
<p>有年氣血本袞病後氣血更弱頭而多汗腰痛膝酸步履少力</p>
<p>黨參牡蠣甘草桂芍冬朮龍齒黃耆茯苓夏曲磁石冬瓜皮</p>

<h1>陳右四十一歲</h1>
<p>血虛生風心悸肢振目盲多淚頭痛偏左</p>
<p>白歸身澤瀉杞子甘菊大熟地白芍茯苓蒺藜制萸肉丹皮山藥桑葉</p>

<h1>毛左二十二歲</h1>
<p>心腎素虧蘿遺頻至嗜酒致傷陽絡絡松血從上溢陡燃吐血二十餘口陰虧陽亢時多冒熱脈細舌黃法當潛育</p>
<p>紫丹參丹皮茯神蓮鬚川雅連龜版茅根葛花雞距子石決桑葉山梔</p>

<h1>平右三十九歲</h1>
<p>產後腠理空虛寒邪易於侵襲形寒頭暈脘痛腹痛</p>
<p>東洋參龍骨姜夏佛手牡蠣首烏穀芽廣皮杞子沙參白芍蝴蝶</p>

<h1>唐右二十二歲</h1>
<p>咳嗆自冬而起經泛自春而停聲嘶音啞咽燥喉痛虛火上爍已成勞損淡秋石牛膝冬蟲草桔梗川貝元參蘆根青蛤杏仁甘草米仁枇杷葉</p>

<h1>俞左四十九歲</h1>
<p>便溏四年胸滿五日脾升胃降已失常度</p>
<p>制川樸姜夏木香茯苓枳殼拌炒白朮扁豆砂仁殼芽彩雲粬廣皮腹皮冬瓜皮</p>

<h1>李左四十三歲</h1>
<p>少陰水虧太陰金燥肝腎龍相之火乘氣上擾遂使肺絡受傷先咳後血肝木之氣多升肺金之氣少降氣逆作咳嗽甚作嘔脈象濡細舌質光剝俾能帶病延年亦是人功克盡</p>
<p>旋覆淡秋石牛滕川貝麥冬蛤殼元參女貞丹皮旱蓮絲瓜冬蟲草</p>

<h1>吳右三十六歲</h1>
<p>隱情曲意不伸氣血俱少流暢肝木犯胃飲邪留中嘔泛清水胸悶作痛久痛則氣愈亂氣亂則病愈甚奇經亦受影響月事愆期腰間廢楚六部</p>
<p>脈象均見沉澀當調肝胃以利奇經</p>
<p>上猺桂鬱金香附甘松萸炒白芍姜夏烏藥八紮佛手柑廣皮枳殼獺乾</p>

<h1>陸左三十九歲</h1>
<p>陽動於絡陽即氣動則跳偏在於左左主血而主於肝有夢則遺無夢則</p>
<p>滑耳嗚頭暈腰痠脈細心腎陰虧肝膽陽亢病自七清中來切宜顧養為上石決明浮小麥棗仁橘絡遠志肉淡甘草芝麻桑葉粉丹皮云茯神蓮鬚滁菊</p>

<h1>施左十七歲</h1>
<p>病起半月形寒身熱有汗而熱不散有咳而痰不利</p>
<p>焦山梔橘紅絲瓜絡蘆根瓜蔞皮茯神知母米仁川通草杏仁竹茹</p>

<h1>沈左三十四歲</h1>
<p>夢中遺溲便後痔血脾腎陰虧濕火下注</p>
<p>沙苑子芡實白芍遠志綿杜仲丹參葛花木香炒槐米茯神棗仁冬朮</p>

<h1>許左二十二歲</h1>
<p>形瘦便溏脾腎陽虛頭量咳嗆肝肺風熱</p>
<p>廣木香川貝冬瓜子茯苓炒扁豆杏仁蒺藜冬朮法半夏前胡桑葉砂殼</p>

<h1>朱左二十七歲</h1>
<p>中脘痞時作時輟少腹瘕聚時上時下食後則吐便秘半月胃氣不降腑氣不通氣鬱化火津傷咽乾</p>
<p>鮮石斛蔞仁半夏橘白咸從蓉麻仁松子仁穀芽炙枳殼柏仁郁李仁姜竹茹</p>

<h1>朱左二十六歲</h1>
<p>咳引胸痛喉癢有痰有時頭暈有時身熱</p>
<p>瓜簍皮前胡橘紅杏仁生薏仁茯苓絲瓜絡桑葉地骨皮淡草元參二青</p>

<h1>趙左二十六歲</h1>
<p>中虛濕勝氣攻脘痛痛甚吐瀉根超五年</p>
<p>姜夏冬朮云粬砂仁枳殼川樸炙草腹皮木香廣皮穀芽附炒瀉</p>

<h1>李左三十七歲</h1>
<p>金水兩虧肝脾氣逆效嗆失血咽痛喉痹盜杆時有時無大便時溏時結左脈虛弦右脈細數勞損已達極點夏秋最為吃緊</p>
<p>大生地川貝丹皮桔梗黑豆衣牡蠣元參絲瓜子冬蟲草淡草薏仁蘆根</p>

<h1>周右二十七歲</h1>
<p>左咽稍痛黎明便溏起由產徒將成蓐勞</p>
<p>北沙參冬瓜子丹參麥冬牡蠣丹皮白芍銀胡炙草地骨螵蛸川斛</p>

<h1>羅左</h1>
<p>囊癰一年夜不多寐陽陰造偏冷熱頭暈</p>
<p>真滁菊焦山梔夜交藤秫小米冬桑葉廣皮粉丹皮姜半夏茯神石決明酸棗仁竹茹</p>

<h1>趙左四十八歲</h1>
<p>咽喉作哽胸悶飽痕火炎於上痰阻於中</p>
<p>淡秋石橘紅川貝丹皮淡草竹茹瓦楞柿霜蔞皮桔梗元參橄欖</p>

<h1>陳右四十三歲</h1>
<p>火炎則金傷氣宴則失音治節失司肩背痠痛</p>
<p>生石膏知母甘草絲瓜絡米仁蛤亮桔梗元參川貝蘆根海石瓊玉膏</p>

<h1>陳童</h1>
<p>暑氣由肺胃充斥三焦蔓延氣分外達肌膚而為㾦㾦發不多邪勢未能清徹致令中脘懊儂神識乍清乍昏身體忽寒忽熱脈象左部沉弦右部滑數體素薄弱正氣不能截邪以致留戀於中姑擬扶正逐邪未識然否佛葉參川通草茯神銀花連翹鮮石斛蒿梗鬱金丹皮鮮生地蘆根益元散</p>

<h1>欽右二十四歲</h1>
<p>先由白帶繼而赤帶益於經水淋漓甚而色紫起塊少腹抽痛牽及經絡形寒頭痛脘泛食少脈象弦芤舌質膩白病在奇經八脈尚挾寒濕阻遏治法益氣血之虛參用通氣血之滯</p>
<p>紫丹參茺蔚橘紅草□淮牛膝法夏石英丹皮陳阿膠新絳白芍螵蛸</p>

<h1>又二方</h1>
<p>肝腎陰虛沖任失固自白帶而轉赤色由經漏而至成塊血既失其所養氣遂乘於脈絡少腹掣痛面目浮□冷熱頭痛耳嗚盜汙脈象弦芤而滑舌質薄膩而白脾胃為濕所困治法緩根滋補</p>
<p>旋覆新絳歸鬚萆□丹參丹皮杜仲白蒺螵蛸茯苓白芍白朮</p>

<h1>章左二十三歲</h1>
<p>舊冬吐血盈盞今春腹大加鼓氣血相擊清濁相混已成蠱脹延為難治桃仁泥腹皮沉香牛膝炙鱉甲當歸橘絡鈴子參三七青皮延胡控涎丸</p>

<h1>徐左三十歲</h1>
<p>初□必屬風水相縛久腫必屬脾腎兩虧晨起上焦為□午後下焦為□腹笥□□得谷更甚心腎兩虧夢道頻多脈沉弦舌紅絳兩補脾腎兼搜風水</p>
<p>沙知母黃柏澤瀉附片拌薏仁上猺桂萸肉茯苓穀芽大熟地丹皮牛膝車前</p>

<h1>金左二十四歲</h1>
<p>肝強脾弱氣滯濕勝水穀易停腹笥易□</p>
<p>制川樸穀芽姜夏澤瀉大腹皮砂殼廣皮芡實彩雲粬茯苓枳殼竹茹</p>

<h1>史左三十五歲</h1>
<p>風濕阻氣咳嗆痰黏咽喉腫爛已有兩旬</p>
<p>煆石膏知母淡草元參活水蘆根桑葉杏仁枇杷葉連翹殼橘紅姜皮竹茹</p>

<h1>沈右三十七歲</h1>
<p>肺氣失其清肅咳嗆無痰肺氣通於表分衛虛畏寒</p>
<p>生綿耆蘇子橘紅冬朮旋覆花杏仁川貝防風桂炒白芍白前薏仁枇杷葉</p>

<h1>余左四十二歲</h1>
<p>痢下紅黑去秋及今</p>
<p>東洋參槐米木香廣皮枳炒冬朮肉菓砂仁白芍胡桃炒故紙淡乾姜茯苓炙草</p>

<h1>許左四十二歲</h1>
<p>痢紅數月後重腹痛</p>
<p>川雅連白頭翁春砂仁廣木香炒銀花秦皮查炭酒芩炒扁豆廣陳皮薑炭云粬</p>

<h1>楊左</h1>
<p>向有哮喘近加咳嗆痰滯氣機脘宇遏塞</p>
<p>旋覆蘇子甘草冬瓜子皮海石芥子橘紅雲苓瓦楞杏仁法夏二青</p>

<h1>呂左三十八歲</h1>
<p>素有哮喘舊冬增劇氣逆礙臥痰味帶咸肺實瀉之腎虛納之</p>
<p>旋覆花杏仁夏粬茯苓乾姜搗五味子麻黃貝母海石淮牛膝橘紅亭藶竹茹</p>

<h1>姚左二十四歲</h1>
<p>負傷吐血脈象小弦雖有離絡之血不可止澀為事</p>
<p>參三七女貞大黃絲瓜絡仙鶴草丹皮白芍茅根墨旱蓮橘絡牛膝藕節</p>

<h1>王左七十八歲</h1>
<p>高年血少氣衰中焦連磨失職得食作□夜寐不安</p>
<p>咸從蓉炙草刀豆鬱金吳萸炒川連廣皮川椒白芍咸半夏雲苓烏梅竹茹</p>

<h1>楊左四十歲</h1>
<p>積勞積濕傷氣傷脾得食腹□面黃帶浮</p>
<p>泔茅朮雲苓冬瓜皮芽谷川樸廣皮澤瀉砂殼綿茵陳腹皮枳殼黑梔</p>

<h1>沈左三十四歲</h1>
<p>痛在於右右屬氣滯久痛有塊是謂痞氣</p>
<p>淡乾姜甲片香附三稜紅花元胡枳殼鬱金吳萸炒川連青皮蓬朮鈴子</p>

<h1>左四十九歲</h1>
<p>勞傷氣分咳嗆一月肺燥脾濕治當兩顧</p>
<p>旋覆花蛤殼炙草二青叭杏仁橘紅貝母枇耙葉半夏粬雲苓桑葉梨子</p>

<h1>徐右三十五歲</h1>
<p>舊夏產育傷元繼而咳嗆水瀉冷熱食廢蓐勞難圖</p>
<p>別直參於朮穀芽杏仁清炙草麥冬肉菓貝母淮山藥橘紅茯苓白芍</p>

<h1>潘左二十五歲</h1>
<p>脾腎為食致傷消化遂失常度得食作□甚而噯酸</p>
<p>制川樸云粬鬱金穀芽淡吳萸權殼廣皮砂殼雞肫皮雲苓姜夏腹皮</p>

<h1>欽右</h1>
<p>少腹之痛已減經帶之淋依然八脈之虧陽維為痛苦寒泄熟此內經篇之言也氣分兼挾濕邪清濁失調升降失司足腿為□舌質薄黃脈象弦細平補肝腎之陰參化脾胃之濕</p>
<p>淡從蓉金拂草新絳杜仲川柏片甘相子茯苓忍冬川萆□紫丹參知母螵蛸</p>

<h1>張</h1>
<p>酒醴之熱灼傷肺胃先乾咳繼口血根起四年時欲舉發口燥脈細冷熱盜汗夏令升泄最易增劇</p>
<p>旋覆牛膝女貞旱蓮秋石杏仁元參貝母甘草知母橘紅絡茅根</p>

<h1>姚左四十二歲</h1>
<p>痰滯於膈氣滯於中脘腹痞滿咳嗆氣逆二便皆滯六脈弦細參滌其痰雅連杏仁橘紅川樸枳殼姜皮瓦楞蘇子桃仁竹茹</p>
