<header data-type="book">
<h1>金鏡內臺方議</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>許宏</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2639">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫道與儒道通，《素問》起於軒黃，《難經》起於秦越，猶之經也。醫方始於張仲景，猶之傳也。漢唐以後，青囊一術，各標識解，謂之註疏也。膠柱刻舟者，依畫樣之臨摹；翻案倒局者，哆金針之暗渡。於是有過高者出，謂方書可付祖龍曰醫者意也。夫以意為文猶自誤，以意為方則誤人，方可廢乎？但釋方與用方者，不免毘於陰陽耳。仲景之有內臺方也，人盡習之。至建安許宏之有方議，未流傳也。余得而諦觀之，虛實強弱有稟，燥濕寒熱有氣，君臣佐使有序，因革損益有宜。大都問答彷之《素問》、釋疑彷之《難經》。令不知醫者，自病自藥，簡方俱可無誤；令深於醫者，鑑經重權衡、毫釐千里之辨，不敢輕下一匕。譬之解經者，訂註疏之訛，亦補經傳之缺，以仁術生人，較之以學術殺人者，不大有補於世哉？信醫道之通於儒也。而余尤念醫道之通於治，蓋亦有脈與治焉。元氣神氣，張弛各以其時，猶之治本治標，緩急一隨其候。若外邪宜用治標法，而反泄神氣以填之；內虛宜用治本法，而反弛神氣以潰之，恐望氣察色，俞跗已卻走矣。信惟具醫國全副精神，達權通變，因壽元於消息之微，轉生機於呼吸之介，而後旺者不衰，衰者可旺，伊耆世界，將復見之。則余之流傳此方議，並載穴道經絡圖，以當隔垣之視也，豈直以醫道哉！然儒者而知此醫道也，於治道思過半矣。</p>
<p><u>西蜀馮士仁題</u></p>

<h1>卷之一</h1>

<h2>桂枝湯（一）</h2>
<p>治自汗惡風，頭疼體痛，發熱，脈浮緩，名曰中風。</p>
<p>桂枝　芍藥（各三兩）　甘草（二兩）　生薑（三兩）　大棗（十二枚，劈）</p>
<p>上㕮咀，以水七升，慢火煎至四升，去滓，適寒溫，服一升。服已須臾，歠稀粥，以助藥力。以被溫覆，令一時許，遍身漐漐出微汗則佳，不可令如水淋漓，病必不除。若一服汗出病瘥，停後服，不必盡劑。若不汗，更服，依前法；又不汗，再服。若病重者，一日夜服盡一劑；病證仍在者，服至二、三劑，汗不出者，乃絕證也。麵食、五辛、酒酪、生冷等物忌之。</p>

<h3>桂枝湯議</h3>
<p>議曰：中風者，乃風邪之氣傷人衛氣而成此證也。衛氣受風則強，強則自汗出而常惡風；衛強則榮弱，榮弱則發熱、頭體痛、脈浮而緩。是以自汗、惡風、發熱、頭體痛、脈浮而緩者，乃中風證也。經曰：風淫於內，以辛散之，以甘緩之。乃用桂枝為君，以散邪氣，而固衛氣。桂枝味辛甘性熱，而能散風寒，溫衛氣，是辛甘發散為陽之義也。芍藥味酸性寒，能行榮氣，退熱，理身痛，用之為臣。甘草、大棗味甘而性和，能諧榮衛之氣，而通脾胃之津，用之為佐。生薑味辛性溫，而能散邪氣，用之為使。先聖配此五味之藥，以治傷寒者，乃專主中風之證，而行解肌之法也。若非自汗惡風之證，不可服也。經曰桂枝下咽，陽盛則斃者是也。</p>

<h3>議用桂枝湯法</h3>
<p>議曰：桂枝湯乃傷寒中解肌正法也。若自汗出，惡風寒，脈浮緩，不問有熱無熱，頭體痛與不痛，便是中風證也，桂枝用之無疑。若是自汗惡風，脈卻不浮緩，或沉緊、浮數等類，乃是風寒共傷，入於經絡，未全在表，桂枝湯未可盡用，只宜桂枝麻黃各半湯微解之，以候其定。若是自汗惡風，更加內實煩熱，脈洪大者，此乃風邪與熱邪共相攻也，桂枝猶未可用，只宜《外臺》升麻解肌湯加桂枝主之。若是傷寒四五日，失於解肌，脈息左右不同，或浮或洪，內熱煩渴，又兼惡風有汗者，此乃表裡均見也，雖宜解肌，桂枝不可用也，只宜《外臺》芸蒿湯加桂枝，取汗為度。張仲景法中用桂枝最多，雖然識破古人用法之要也，若非自汗惡風脈浮者，不可盡用也。</p>

<h3>桂枝湯戒</h3>
<p>議曰：傷寒乃熱病，復用桂枝辛熱之劑發汗，不可不知戒慎也。張仲景曰：有汗不得服麻黃，無汗不得服桂枝。又曰：桂枝本為解肌，若其人脈浮緊，發熱汗不出者，不可與也。常須識此，勿令誤也。又曰：若酒客病，不可與桂枝湯。又曰：傷寒脈浮，自汗出，小便數，心煩，微惡寒，腳攣急，此乃陰陽皆虛也，不可汗之，宜甘草乾薑湯、芍藥甘草湯，反與桂枝湯欲攻其表，此誤也。又曰：桂枝下咽，陽盛則斃。以此推之，桂枝湯乃專主中風解肌之法，若妄用之，必致其咎。明智之士，不可不慎焉。若證果系中風，非桂枝又不能取效也。凡服桂枝湯吐者，其後必吐膿血也。</p>

<h3>議用桂枝</h3>
<p>議曰：桂枝者，乃取桂之枝梢細薄者用之。以其輕揚而能發散也，非若肉桂之厚者也。若混而用之，少見功效。《三因方》中乃用桂心，亦有乖訛。且桂心能入心，肉桂能治五臟之氣，桂枝能治表邪也。若以傷寒發散風邪，必用桂枝也。</p>

<h3>議用芍藥</h3>
<p>議曰：赤芍藥性寒，能瀉榮氣；白芍藥性平，能補榮氣，雖皆芍藥，補瀉不同。仲景桂枝湯中只言芍藥，不言赤白。《聖惠方》用赤芍，孫尚方用白芍，許叔微亦用白芍。且寒傷榮，風傷衛，此桂枝湯乃救風傷衛氣者也。衛氣既傷，榮氣有強有不強，不可盡以為榮弱始發熱也。若證果惡風自汗，脈皆陽浮而陰弱，又復遲緩，此乃榮弱無疑，此必用白芍藥以補榮而固其衛。如經中所云榮弱衛強，故使汗出是也。如證自汗惡風，脈卻陽浮而陰盛，榮脈反壯，其內熱盛，又更其人稟質素壯，血氣有餘，此必用赤芍藥以瀉其盛經之氣也，豈可反補哉？自張氏今往寥寥數千載間，聖道遙遠，人鮮能明。考之聖經，不言而會。如桂枝加芍藥湯，乃下之腹滿時痛，屬太陰，此脾虛也，故用白芍以補之。如桂枝加大黃湯，乃下之因爾腹滿大實痛，乃脾氣實也，故用赤芍藥加大黃以利之。如建中湯、當歸四逆湯、真武湯等，皆用白芍。如大柴胡湯、葛根湯、麻黃升麻湯，皆用赤芍。此皆古人所蘊未言之妙也，惟智者能推究之。</p>

<h3>桂枝湯證</h3>
<p>太陽中風，陽浮而陰弱，陽浮者熱自發，陰弱者汗自出，嗇嗇惡寒，淅淅惡風，翕翕發熱，鼻鳴乾嘔者，桂枝湯主之。</p>
<p>太陽病，外證未解，脈浮弱者，當以汗解，宜桂枝湯主之。</p>
<p>太陽病，下之後，其氣上衝者，與桂枝湯。</p>
<p>太陽病，先發汗不解，復下之，脈浮者不愈。浮為在表，而反下之，故不愈。今脈浮，故知在外，當須解外則愈，宜桂枝湯。</p>
<p>病常自汗出者，此為榮氣和，榮氣和者，外不諧矣，以衛氣不共榮氣和諧故爾。以榮行脈中，衛行脈外，復發其汗，榮衛和則愈，宜桂枝湯。</p>
<p>病人臟無他疾，時發熱自汁出而不愈音，衛氣不和也，先其時發汗則愈，宜桂枝湯。</p>
<p>傷寒，不大便六七日，頭痛有熱者，與承氣湯；小便清者，知不在裡，仍在表也，當鬚髮汗，宜桂枝湯主之。</p>
<p>傷寒，發汗解，半日許復煩，脈浮數者，可更發汗，宜桂枝湯。</p>
<p>傷寒病，醫下之，清穀不止，身疼痛者，急當救里；後身疼痛，清便自調者，急當救表。救里宜四逆湯，救表宜桂枝湯。</p>
<p>太陽病，發熱汗出者，此為榮弱衛強，故使汗出，欲解邪風者，宜桂枝湯。</p>
<p>傷寒，大下後，復發汗，心下痞，惡寒者，不可攻痞，先解表，表解乃可攻痞。解表宜桂枝湯，攻痞宜大黃黃連瀉心湯。</p>
<p>太陽病不解，熱結膀胱，其人如狂，血自下，下者愈。其外不解者，尚未可攻，先解外。外解已，但小腹急結者，乃可攻之，宜桃仁承氣湯。其解外者，宜桂枝湯。</p>
<p>太陽病，頭痛發熱，汗出惡風者，桂枝湯主之。</p>
<p>太陽病，外證未解，不可下也，下之為逆，宜桂枝湯。</p>
<p>陽明病，脈遲，汗出多，微惡寒者，表未解，宜桂枝湯。</p>
<p>病人煩熱，汗出則解，又如瘧狀，日晡所發熱者，屬陽明也。脈實者宜下之，脈浮虛者宜汗之。下之宜大承氣湯，汗之宜桂枝湯。</p>
<p>太陰病，脈浮者，可發汗，宜桂枝湯。</p>
<p>厥陰病，下利腹脹滿，身體疼痛者，先溫其里，乃攻其表。溫里宜四逆湯，攻表宜桂枝湯。</p>
<p>霍亂病，吐利止而身痛不休者，當消息和解其外，宜桂枝湯小和之。</p>
<p>議曰：仲景所用桂枝湯者，一十九法，今復書於此，非但使人必合此法，方用桂枝湯，乃使後人逐條細讀，精詳義味，方見古人用藥之意，庶幾乎其有得矣。惟智者悟乎此，則八方開通，洞然無礙。愚者肢柱鼓瑟，不足與語也。</p>

<h3>服桂枝湯後</h3>
<p>服桂枝湯，大汗出後，大煩渴不解，脈洪大者，白虎加人參湯主之。</p>
<p>服桂枝湯，大汗出，脈洪大，表證仍在者，與桂枝湯如前法；若形如瘧，日再發者，汗出必解，宜桂枝二麻黃一湯。</p>
<p>太陽病，初服桂枝湯，反煩不解者，先刺風池、風府，卻與桂枝湯則愈。</p>
<p>凡服桂枝湯吐者，其後必吐膿血也。</p>
<p>傷寒，脈浮，自汗出，小便數，心煩，微惡寒，腳攣急，反與桂枝湯欲攻其表，此誤也。得之便厥，咽中干，煩躁吐逆者，作甘草乾薑湯與之，以復其陽；若厥愈足溫者，更作芍藥甘草湯與之，其腳便伸；若胃氣不和譫語者，少與調胃承氣湯；若重發汗，復加燒針者，四逆湯主之。</p>
<p>議曰：服桂枝湯後，有大汗出而解者；有不汗出而亦解者；有汗出而表解里反熱者；有汗出而不解者，此又臨期消息而詳度之。辨其表裡，察其陰陽，究其盛衰，定其虛實，無不應也。</p>

<h3>疑問</h3>
<p>問曰：中風證，本自汗，又復發汗者何也？</p>
<p>答曰：風傷衛氣，則衛氣不固，時自汗出者，乃身中時常有微汗濈濈然，非有大汗也。必用桂枝湯以固衛氣，而解肌表中之邪風。必作一陣大汗出，則風邪皆散也。</p>
<p>問曰：中風證，有服桂枝湯無汗出者，復用麻黃湯發之可否？</p>
<p>答曰：有汗不得服麻黃，無汗不得服桂枝，此傷寒禁戒也。若中風服桂枝湯不汗出，必再服桂枝湯。若二、三劑不汗出者，乃死證也。若用麻黃湯強發之，汗出必燥竭而死也。</p>
<p>問曰：桂枝下咽，陽盛則斃何也？</p>
<p>答曰：陽盛陰虛，下之則愈，汗之則死是也。如陽明病，脈長盛而實，發熱自汗出，反惡熱，此乃陽盛陰虛，當以大承氣湯下之。若不明者，因見煩熱多汗，妄為中風，以桂枝湯治之，以剛配剛，熱極則死也。</p>
<p>問曰：桂枝湯發汗復用薑、棗，麻黃湯發汗不用薑、棗何也？</p>
<p>答曰：桂枝湯治表虛，麻黃湯治表實。表虛者津液外泄，故用薑、棗以通脾氣而行津液；表實者津液內固，只專於發汗，故方中不用薑、棗也。</p>

<h2>桂枝加葛根湯（二）</h2>
<p>治太陽病，項背強𠘧𠘧，反汗出惡風者。</p>
<p>桂枝　芍藥（各五兩）　甘草（二兩）　葛根（四兩）　生薑（三兩）　大棗（十二枚）</p>
<p>上㕮咀，以水七升，先煮葛根，減二升，內諸藥，再取三升，去滓服。覆取微汗，此亦解肌之法。</p>

<h3>湯議</h3>
<p>議曰：汗出惡風者，乃中風證也，屬桂枝湯主之。今此汗出惡風而反𠘧𠘧，又復項背強者，乃風盛於表也，此屬桂枝湯中加葛根主之。𠘧𠘧者，如鳥飛伸頸之貌。既項背強，又復𠘧𠘧者，當無汗。令反汗出惡風者，故知風盛於表也。葛根性平，能祛風邪解肌表，以此用之為使。而佐桂枝湯之用，以救邪風之盛行於肌表也。</p>

<h3>議注方無定略</h3>
<p>議曰：古之一方治一證，如今之律令一款治一罪，不可不明白議斷。如葛根湯方與桂枝加葛根湯方，雖曰大同，而實異。葛根湯中有麻黃，乃治項背強𠘧𠘧，無汗惡風者，此乃發散之方。桂枝加葛根湯中無麻黃，乃治項背強𠘧𠘧，反汗出惡風者，此乃解肌之方也。只此無汗與反汗出二者，差之毫釐，謬以千里。此張氏千載之下，不言而會者。今本方注中又言恐不加麻黃，後方中又言先煮麻黃去上沫，方中又不書麻黃，如此含糊不明，使無定略。且仲景《傷寒論》方傳之於世，亦千百載下，其中精思智達者，能幾人焉。或依方鄙俚之徒，鮮有未誤者也。今此校正，永當為法。</p>

<h2>桂枝加厚朴杏子湯（三）</h2>
<p>治太陽病，下之微喘者，表未解也。</p>
<p>桂枝湯中加厚朴二兩、杏仁五十個。</p>
<p>上如法煎之。</p>

<h3>湯議</h3>
<p>議曰：下後大喘者，則為裡氣大虛，邪氣傳裡，正氣將脫也，多為不治。下後微喘者，則為裡氣上逆，邪氣在表，故屬此湯主之。與桂枝湯以解表邪，加厚朴、杏仁為佐，以下逆氣也。此乃太陽病，熱甚內實，用大柴胡湯主下者，為有表邪未盡，脈未沉實，下之多有此證，宜用此湯。若是陽明病，脈沉實，內熱煩悶，下之微喘，胸膈不快者，又屬小陷胸湯主之。智者精思詳焉。經云，喘家作，桂枝湯加厚朴、杏子佳，正此義也。</p>

<h2>桂枝加附子湯（四）</h2>
<p>治太陽發汗，遂漏不止，其人惡風，小便難，四肢微急，難以屈伸者，此乃溫經救急之法。</p>
<p>本方中加附子一枚，炮，去皮臍。</p>
<p>上咀，白水煎，食前通口服。</p>

<h3>湯議</h3>
<p>議曰：病人陽氣不足，而得太陽病，因發汗，汗就出多不能止，名曰漏也。或至二三日不止，其人反惡風，此乃陽氣內虛，而皮腠不固也。又小便難者，汗出多則亡津液，陽氣內虛不能施化也。四肢者，諸陽之本。今亡而脫液，則四肢微急，難以屈伸。故與桂枝湯中加附子，以溫其經而復其陽也。</p>

<h3>疑問</h3>
<p>問曰：附子性大熱，今此太陽病服之，得無咎乎？</p>
<p>答曰：陽極生陰，陰極生陽，此必然之理。今本太陽病，汗而成漏，則陽氣脫泄，其陰將長，縱用薑、桂，亦無所應，必須附子剛烈之性，方能復其正陽之氣，而溫其經。用之既正，則無咎也。此乃傷寒法中溫經救急之法也。</p>

<h2>桂枝去芍藥湯（五）</h2>
<p>治太陽病下之後，脈促胸滿者。</p>
<p>本方中去芍藥用之。</p>
<p>上如法。</p>

<h3>湯議</h3>
<p>議曰：太陽病不應下而下之，則脈促胸滿。此為表邪未盡而動臟腑，則邪結於胸中而不得散，陽氣內虛榮衛奔亂。其脈促也，不可便言結胸，只屬桂枝去芍藥湯主之。芍藥能益陰氣，令邪客胸中，陽氣內虛，不宜益其陰也，故去之。</p>

<h2>桂枝去芍藥加附子湯（六）</h2>
<p>治同前，更加微寒者。</p>
<p>本方中去芍藥加附子。</p>
<p>上如前法。</p>

<h3>湯議</h3>
<p>議曰：太陽病，發汗後成漏者，為真陽虛脫也，故與桂枝加附子湯，以溫其經而復其陽。今下後脈促，胸滿微惡寒者，亦為陽虛陰盛，邪在胸中，不可發汗，只得與附子以復陽溫經；與桂枝以散其邪也。</p>

<h3>疑問</h3>
<p>問曰：陰盛者可發汗，因汗多而成漏，則惡寒，與附子服之無疑。今此陽盛者可下，既下之，脈促胸滿，微惡寒，便與附子服之，恐有陽盛之劇，誠為涉疑。</p>
<p>答曰：此太陽病陽氣未實，而表邪未解，下之太早，則陽氣內虛，故微惡寒；表邪未解，故脈促胸滿。急者治其標，必用附子以先救其陽，去芍藥以損其陰。此乃太陽經下之不應也，至若陽明經下之太早者，乃成結胸，與此又不可同論也。</p>

<h2>桂枝麻黃各半湯（七）</h2>
<p>（一名麻黃芍藥湯。此即桂枝湯中加麻黃杏仁也。）</p>
<p>治太陽病，得之八九日，如瘧狀，發熱惡寒，熱多寒少，其人不嘔，清便欲自可，一日二三度發。脈微緩者，為欲愈也；脈微而惡寒者，此陰陽俱虛，不可更汗、更下、更吐也；面色反有熱色者，未欲解也，以其不能得小汗出，身必癢，宜桂枝麻黃各半湯主之。</p>
<p>桂枝（三兩）　芍藥（三兩）　甘草（二兩）　麻黃（三兩）　杏仁（七十個）　生薑（三兩）　大棗（十二枚）</p>
<p>上㕮咀，白水煎服，取微汗。</p>

<h3>湯議</h3>
<p>議曰：桂枝湯治表虛，麻黃湯治表實，二者均曰解表，霄壤之異也。今此二方合而用之者，乃解其表不虛不實者也。如三陽之邪，傳經八九日當已，今此不已，反如瘧狀者，乃先發表不盡，微滯於經而不得出，故一日二三度發也；不嘔，清便自可者，乃里證已退也。因脈微緩，知其欲愈。若面色反有熱色者，知再與，小汗出必解也。故與桂枝湯中加麻黃、杏仁，以取小汗也。</p>

<h3>疑問</h3>
<p>問曰：此一湯只治前一證也，更可治他證否？</p>
<p>答曰：聖人用法，如泉井之不窮，源深而流長，根盛而葉茂。且此一方，變化無盡，在人善取者，用而神之。如中風證見寒脈，若用桂枝湯又幹浮緊；若用麻黃湯又礙自汗出，故以此方主之。如傷寒證見風脈，若用麻黃湯又幹脈浮緩，恐汗出反成漏；若用桂枝湯又礙無汗出，服之恐煩躁悶亂，故以此方主之最良。今略以此二者辨之，則變化無窮矣。</p>

<h2>桂枝二麻黃一湯（八）</h2>
<p>治太陽病，若形如瘧，日再發，汗出必解。</p>
<p>桂枝　芍藥（各二兩）　甘草　麻黃（各一兩）　杏仁（十六個）　生薑（一兩）　大棗（五枚）</p>
<p>上如法，取微汗。</p>

<h3>湯議</h3>
<p>議曰：聖人之用方，如匠者之用規矩，分毫輕重不敢違越。且《傷寒》之方一百一十有三，其中用桂枝、麻黃者大半，非曰繁複，在乎分兩之增減也。如桂枝湯加膠飴、增芍藥，又曰小建中湯；加葛根、麻黃，又曰葛根湯；如麻黃湯加石膏，又曰大青龍湯。若此者，不可盡紀，在乎智者之能精鑑也。今此一證，乃是服桂枝湯大汗出後，其形如瘧，日再發者，是原發汗不盡，餘邪在經所致也。為其先發汗後，是以少與麻黃湯，多與桂枝湯，再和其榮衛，取微汗則解也。</p>

<h2>桂枝去桂加苓朮湯（九）</h2>
<p>治服桂枝湯，或下之，仍頭項強痛，翕翕發熱，無汗，心下滿微痛，小便不利者。</p>
<p>芍藥（三兩）　甘草（二兩）　茯苓　白朮（各三兩）　生薑（三兩）　大棗（十二枚，劈）</p>
<p>上㕮咀，白水煎，食前服。</p>

<h3>湯議</h3>
<p>議曰：服桂枝湯，或下之，表邪當解，仍頭項強痛，翕翕然發熱，無汗者，為邪猶在表也。心下滿微痛，小便不利者，為有停飲在胸中，故使然也。去桂枝者，為無汗；加茯苓、白朮者，以去停飲而利小便也。</p>

<h3>疑問</h3>
<p>問曰：頭項強痛，翕翕發熱，已經汗下後，又加心下滿微痛，此乃結胸欲成，何緣作停飲治之也？</p>
<p>答曰：餘證皆似結胸，但以小便不利者，知非結胸，乃停飲也。</p>

<h2>桂枝新加湯（十）</h2>
<p>治發汗後，身疼痛，脈沉遲者。</p>
<p>本方中加生白芍、生薑各一兩，人參三兩。</p>
<p>上㕮咀，白水煎，通口服，不必取汗。</p>

<h3>湯議</h3>
<p>議曰：發汗後，身疼痛者，餘邪未盡也。脈沉遲者，榮血不足也。故與桂枝湯以解餘邪，加白芍藥以益血，加人參、生薑以益正氣而散邪也。</p>

<h3>疑問</h3>
<p>問曰：經云，病發熱頭痛，脈反沉，若不差，身體疼痛者，當救其里，宜四逆湯。今此身疼痛，脈沉遲，又用桂枝新加湯何也？</p>
<p>答曰：發熱頭痛為表，表有病者，脈當浮。今脈反沉，當愈也。既不愈，又身疼痛者，此為內虛寒甚也。其人必大小便清利，不能飲冷，此屬附子、乾薑溫之。今此身疼痛，脈沉遲，乃發汗後血虛之故也。其人必大小便不多，此不可與薑、附，只宜白芍、人參之類，調氣養營衛而自已也。</p>

<h2>桂枝加桂湯（十一）</h2>
<p>治燒針令其汗，針處被寒，核起而赤者，必發奔豚，氣從小腹上衝心，灸其核上各一壯，與此方主之。</p>
<p>本方中加桂二兩。</p>
<p>上如法煎，通口服。</p>

<h3>湯議</h3>
<p>議曰：俗間多有燒針焠火之法，以治黃病等證，反成殃咎。令此燒針發汗，則損陰血而驚動心氣。心氣因驚而虛，則觸動腎氣，發為奔豚。先灸核上以散其寒，次與桂枝加桂湯以泄奔豚之氣也。</p>

<h2>桂枝加芍藥湯（十二）</h2>
<p>治太陽病反下之，因而腹滿時痛者，屬太陰。</p>
<p>本方內更加白芍藥三兩。</p>
<p>上㕮咀，白水煎，通口服。</p>

<h3>湯議</h3>
<p>議曰：表邪未罷，因而下之，邪氣乘虛傳於太陰脾經，裡氣不和，故腹滿時痛。此乃虛邪也，與桂枝湯以解之，加白芍藥以和里。且白芍藥性平，而能益脾安中止虛痛也。</p>

<h2>桂枝加大黃湯（十三）</h2>
<p>治證同上，因而大實痛者。</p>
<p>本方內加大黃一兩，赤芍藥一兩。</p>
<p>上㕮咀，白水煎服。</p>

<h3>湯議</h3>
<p>議曰：表邪未罷，若便下之，則虛其中，邪氣反入里。若脈虛弱，而腹滿時痛者，乃脾虛也，不可再下，急與桂枝加芍藥湯以止其痛。若脈沉實，大實而痛，以手按之不止者，乃脾實也，急宜再下，與桂枝湯以和表，加芍藥、大黃以攻其里。且赤芍藥性涼，而能瀉血中熱，大黃能除其實，瀉其脾也。</p>

<h3>疑問</h3>
<p>問曰：桂枝加芍藥湯用白芍藥，加大黃湯用赤芍藥，二證皆同，何得有異？</p>
<p>答曰：白芍藥能補脾止痛，赤芍藥能瀉脾止痛。前證加芍藥湯乃治虛邪，後證加大黃湯乃治實邪，以此虛實之不同，故補瀉之有異。非明智者，孰能辨之？</p>

<h3>湯戒</h3>
<p>經云：太陰為病，脈弱，其人續自便利，設當行大黃、芍藥者，宜減之，以其胃氣弱，易動故也。</p>

<h2>桂枝越婢湯（十四）</h2>
<p>治太陽病，發熱惡寒，熱多寒少，脈微弱者，此無陽也，不可發汗，宜此方主之。</p>
<p>桂枝　芍藥　甘草　生薑（各一兩）　麻黃（七錢半）　石膏（一兩半）　大棗（四枚，劈）</p>
<p>上七味，㕮咀，白水煎服。</p>

<h3>湯議</h3>
<p>議曰：前桂枝麻黃各半湯證云，太陽病，得之八九日，如瘧狀，發熱惡寒，熱多寒少，脈微緩者，為欲愈也；脈微而惡寒者，此陰陽俱虛，不可更汗、更吐、更下也；面色反有熱色者，未欲解也，宜桂枝麻黃各半湯主之。今此一證，亦與前證大同，為脈微弱，此無陽，不可發汗，宜桂枝越婢湯。且此湯亦即桂枝麻黃各半湯中減杏仁加石膏也。杏仁能發汗，故去之；石膏能去虛熱，故加之。</p>

<h3>疑問</h3>
<p>問曰：湯名越婢，其義何取？</p>
<p>答曰：婢即脾也，歲久傳寫之誤。經注雖曰脾為卑臟，卑者若婢，此非成無己之語，乃後人穿鑿強注之耳。所謂越婢湯者，以石膏、麻黃、甘草發越婢之正氣，以通行於津液，而散虛邪之留滯於經而不去者。此因脈微弱無陽，而不敢大汗者之所設也。</p>

<h2>桂枝甘草湯（十五）</h2>
<p>治發汗過多，其人叉手自冒心，心下悸，欲得按者，此方主之。</p>
<p>桂枝（四兩）　甘草（二兩，炙）</p>
<p>上㕮咀，以水三升，煮取一升，去渣頓服。</p>

<h3>湯議</h3>
<p>議曰：汗者心之液，汗出太多，則心液不足，故心下悸，欲得按也。與桂枝之辛，走肺而益氣。甘草之甘，入脾而緩中。又桂能益心氣，故用此方主之也。</p>

<h2>桂枝救逆湯（十六）</h2>
<p>治傷寒脈浮，醫以火迫劫之，亡陽必驚狂，臥起不安者，桂枝救逆湯主之。</p>
<p>桂枝（三兩）　甘草（二兩）　生薑（三兩）　大棗（十二枚）　牡蠣（五兩）　龍骨（四兩）　蜀漆（三兩）</p>
<p>上以水一斗二升，先煮蜀漆，減二升，內諸藥，再取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：傷寒脈浮，當服桂枝麻黃湯以發其汗，醫者反以火迫劫之，則汗大出不止，而亡其陽。汗者心之液，亡陽則心氣虛，又火邪內迫，則心神浮越，故驚狂臥起不安。與桂枝湯以解未盡表邪，去芍藥而減陰氣，加蜀漆之辛以散火氣，加龍骨、牡蠣之澀以固陽汗之走泄者也。此乃救壞病之法也。</p>

<h2>桂枝龍骨牡蠣湯（十七）</h2>
<p>治火逆下之，因燒針煩躁者，此湯主之。</p>
<p>桂枝（一兩）　甘草　龍骨　牡蠣（各二兩）</p>
<p>上為末，以水五升，煮取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：先因火逆，復以下之，裡氣內虛，又加燒針，僅為火熱所煩，則心神不安，故煩躁。經曰太陽傷寒者，加溫針必驚也。故與桂枝以散經中之邪，除芍藥恐益陰氣，加龍骨、牡蠣以收斂浮越之正氣也。</p>

<h2>桂枝人參湯（十八）</h2>
<p>治太陽病，外證未除，而數下之，遂協熱而利，利下不止，心下痞鞕，表裡不解者，此方主之。</p>
<p>桂枝（四兩）　甘草（炙，四兩）　人參　白朮　乾薑（各三兩）</p>
<p>上五味，以水九升，先煮四味，取五升，內桂再煮取三升，溫服。此即理中湯加桂也。</p>

<h3>湯議</h3>
<p>議曰：表證未除，而數下之，重虛其里，邪氣乘虛而入，則協熱遂下利不止，而心下痞鞕。若表解而下利心下痞鞕者，屬瀉心湯。今此表裡不解而下利心下痞者，必須先解表而後攻痞。故與桂枝以解表，人參、白朮以安中止瀉，加乾薑以攻痞而溫經，甘草以和緩其中。此未應下而下之，以虛其中者主之也。</p>

<h3>疑問</h3>
<p>問曰：下利不止而心下痞鞕者，此屬生薑瀉心湯。今此下利而心下痞鞕，又與桂枝人參湯何也？</p>
<p>答曰：瀉心湯治表氣已解，胃中不和而心下痞鞕，腹中雷鳴下利者主之，其脈必不浮也。令此表未解而便數下之，故協熱而利，心下痞鞕。以其脈浮，故知表裡不解。與桂枝人參湯，和解表裡者也。</p>

<h2>桂枝附子湯（十九）</h2>
<p>治傷寒八九日，風濕相搏，身煩疼，不能自轉側，不嘔不渴，脈浮虛而澀者，此方主之；若其人大便鞕，小便自利者，去桂加白朮主之。</p>
<p>桂枝（四兩）　附子（三枚）　甘草（二兩，炙）　生薑（三兩，切）　大棗（十二枚）</p>
<p>上五味，以水六升，煮取二升，分溫去滓服。</p>

<h3>湯議</h3>
<p>議曰：傷寒至八九日之後，邪當傳裡。今此八九日後，身體煩疼，不能自轉側，又不嘔不渴，脈浮虛而澀者，非為表證。脈浮為風，脈澀為濕；煩則為風，身疼為濕，乃風濕證也。與桂枝湯去芍藥以治風，加附子以散表中之風濕寒邪也。此湯須用脈浮虛而澀，無熱不渴，身體煩疼，不能轉側者，方可服也。若是風濕熱證，脈緊數者，不可服也。又當於《外臺》求之。</p>

<h3>疑問</h3>
<p>問曰：此書皆是傷寒之法，又兼此風濕之證雜之何也？</p>
<p>答曰：此人先有濕氣，因傷中風寒，合而成證，以此添入傷寒法中。昔自祖師張仲景開化以來，此風濕、痓、暍、風溫、濕溫等證，皆在金鏡外臺法中，因三國混亂，書多亡失，外臺之書流蕩不全，因王叔和得傷寒足六經之法，集成《傷寒論》，間得風濕數篇，雜入此中，故曰痓、暍、濕三種，宜應別論，惟得正傳者方知之。</p>

<h1>卷之二</h1>

<h2>麻黃湯（二十）</h2>
<p>治太陽病，頭疼發熱，身疼腰痛，骨節疼痛，惡寒，無汗而喘者，此方主之。</p>
<p>麻黃（三兩）　桂枝（二兩）　甘草（一兩）　杏仁（七十個）</p>
<p>上四味，以水九升，先煮麻黃，減二升，去上沫，內諸藥，煮取二升半，去渣服。覆取汗出，不須啜粥，余如桂枝法將息。</p>

<h3>湯議</h3>
<p>議曰：陰盛陽虛，汗之則愈，下之則死。今此頭痛發熱，身疼腰痛，骨節疼痛，惡寒，無汗而喘者，此皆陰盛也。若脈浮緊者，為寒邪外盛，故與麻黃湯汗之則愈也。此正傷寒發汗之證也。頭疼體痛，骨節腰痛者，乃寒氣不得散，循太陽之經，自足行於背膂，而升於頭者也。發熱者，寒重生熱也。惡寒無汗者，則陰寒傷營，營實而衛虛，故無汗而喘也。麻黃味苦辛，專主發汗，故用之為君。桂枝味辛熱，以辛熱之氣佐之散寒邪，用之為臣。杏仁能散氣解表，用之為佐。甘草能安中，用之為使。經曰，寒淫於內，治以甘熱，佐以辛苦是也。先聖配此四味之劑，以治傷寒者，乃專主傷寒，脈浮緊，惡寒無汗者之所主也。若脈微弱自汗者，不可服此也。</p>

<h3>議用麻黃湯法</h3>
<p>議曰：麻黃湯乃傷寒中發汗正法也。若脈浮緊，惡寒無汗者，不問有熱無熱，有痛不痛，便可發汗，麻黃湯用之無疑。若是惡寒無汗，脈卻沉者，便不可造次，恐是少陰及他證。若是惡寒無汗，脈卻沉微而細，頭不痛，口不渴，或自下利，小便色白，或發熱者，此乃少陰證，屬麻黃附子細辛湯主之。若是惡寒發熱無汗，脈卻沉緊、沉盛、沉弦者，頭痛或不痛，口渴，小便赤，大便如常，此又不可便認為少陰，只與桂枝麻黃各半湯平解之，以俟其動靜。若是尋常感寒，惡寒頭痛發熱，脈卻自沉者，只可與正氣湯主之，又不可盡拘以法也。</p>

<h3>麻黃湯戒</h3>
<p>議曰：陽盛陰虛，汗之則死，下之則愈。今此麻黃湯乃正發汗之劑，不可不知戒也。經曰有汗不得服麻黃是也。且此麻黃湯，須用脈與證全在表方可用也，有一不然，不可用之。今人但見有病，初然便去發汗，稱說一日、二日皆在表也。若果中者，僥倖耳。苟或萬一陰虛陽實，強發其汗，則津液耗損，即成亢陽之證，熱極則死也。正曰，當下而汗，為亡陽，為厥竭，為譫語。且傷寒中不可發汗者最多，詳見金鏡內臺。若可發汗者的用，須脈浮惡寒，頭體痛，無汗發熱，非麻黃湯則不能也。</p>

<h3>麻黃湯證</h3>
<p>太陽病，頭痛發熱，身疼腰痛，骨節疼痛，惡寒，無汗而喘者，麻黃湯主之。</p>
<p>太陽與陽明合病，喘而胸滿者，不可下，宜麻黃湯。</p>
<p>太陽病十日以去，脈浮細而嗜臥者，外已解也；設胸滿脅痛，與小柴胡湯；脈但浮者，與麻黃湯。</p>
<p>太陽病，脈浮緊，發熱無汗，身疼痛，八九日不解，表證仍在，此當發其汗。服藥已微除，其人發煩目瞑，劇者必衄，衄乃解。所以然者，陽氣重故也。麻黃湯主之。</p>
<p>太陽病，脈浮緊，不發汗，因致衄者，麻黃湯主之。</p>
<p>傷寒病，脈浮數者，可發汗；脈浮者，病在表，可發汗，宜麻黃湯。</p>
<p>陽明病，脈浮，無汗而喘者，發汗則愈，宜麻黃湯。</p>

<h3>發汗後</h3>
<p>太陽病，發汗後，大汗出，胃中干，煩躁不得眠，欲求飲水者，少與之飲，令胃氣和則愈；若脈浮，小便不利，微熱消渴者，五苓散主之。</p>
<p>發汗後，水藥不得入口為逆，若更發汗，必吐下不止。發汗多，必亡陽。譫語者，不可下，與柴胡桂枝湯和其榮衛，以通其氣，後自愈。</p>
<p>發汗過多，其人叉手自冒心，心下悸，欲得按者，桂枝甘草湯主之。</p>
<p>發汗後，其人臍下悸者，欲作奔豚，茯苓桂枝甘草大棗湯主之。</p>
<p>發汗後，病不解，腹滿痛者，可下之。不惡寒，但惡熱者，實也，與調胃承氣湯。</p>
<p>發汗後，腹脹滿者，厚朴姜夏湯主之。</p>
<p>發汗不解，蒸蒸發熱者，屬胃也，宜調胃承氣湯。</p>
<p>太陽病發汗，汗出不解，其人仍發熱，心下悸，頭眩，身瞤動，振振欲擗地者，真武湯主之。</p>
<p>發汗後，病不解，反惡寒者，虛故也，芍藥甘附湯。</p>
<p>發汗後，身疼痛，脈沉遲者，桂枝新加湯主之。</p>
<p>發汗，若下之，病仍不解，煩躁者，茯苓四逆湯主之。</p>
<p>傷寒，發汗已，身目為黃，所以然者，以寒濕在裡不解故也，以為不可下，於寒濕中求之。</p>
<p>發汗後，汗出輒復熱，而脈躁疾，不為汗衰，狂言不食，此名陰陽交，死不治也。</p>

<h3>疑問</h3>
<p>問曰：脈浮者可發汗，此正法也。或一手脈浮，一手脈沉，何以處之？</p>
<p>答曰：左手脈浮者為外邪，宜發汗則愈。右手脈沉者，為氣病、為脾虛，不可發汗也。獨脈浮而咳嗽者，為外感風邪也，宜微取汗。</p>
<p>問曰：脈與證全在表者，方可發汗，何以辨之？</p>
<p>答曰：脈浮或浮緊、浮緩、浮數，皆為表脈。惡寒、惡風，頭體痛發熱者，皆為表證也。若脈證相同，發汗無疑。若脈證不同，便須消息取用也。</p>
<p>問曰：陽盛陰虛，下之則愈，汗之則死何也？</p>
<p>答曰：脈沉實者，為陽盛，宜下之，不可汗。脈浮盛者，為陰盛，宜汗不宜下。更以外證參之者，大便不通，小便赤澀，惡熱不惡寒，煩渴飲水，腹鞕而痛，此皆為陽盛，若此下之則愈，汗之必死也。</p>
<p>問曰：有此陽盛之證，或又兼有表證未盡何如？</p>
<p>答曰：先解其表，後攻其里，此正法也。</p>
<p>問曰：《內經》云，浮之損小，沉之實大，故曰陰盛陽虛。沉之損小，浮之實大，故曰陽盛陰虛。以此較之，何得相反也？</p>
<p>答曰：此以浮為陽，沉為陰，取用其義，非傷寒之法也。若以汗下之用，正相反耳，不可憑也。</p>
<p>問曰：有不可汗者何如？</p>
<p>答曰：張氏有不可汗者二十餘條，詳見內臺金鏡方法，此不復錄。</p>

<h2>麻黃杏子甘草石膏湯（二十一）</h2>
<p>治發汗後，不可更行桂枝湯，若汗出而喘，無大熱者，此方主之。下後同。</p>
<p>麻黃（四兩）　杏仁（五十個）　甘草（二兩，炙）　石膏（八兩）</p>
<p>上四味，以水七升，先煮麻黃，減二升，去上沫，內諸藥，又取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：發汗後，表氣當解。今汗出而喘，無大熱者，乃餘邪尚盛，不可以汗出為中風，再用桂枝湯，只宜麻黃湯中除桂枝加石膏，以散餘邪也。</p>

<h2>麻黃連軺赤小豆湯（二十二）</h2>
<p>治傷寒瘀熱在裡，身必發黃，此湯主之。</p>
<p>麻黃　連軺　甘草（炙）　生薑（各二兩）　赤小豆（一升）　杏仁（四十枚）　大棗（十二枚）　生梓白皮（三兩）</p>
<p>上八味，以潦水一斗，先煮麻黃，去上沫，內諸藥，再取三升，分溫服。</p>

<h3>湯議</h3>
<p>議曰：傷寒瘀熱在裡，身必發黃。此蓋其人素有濕熱，就因傷寒汗不盡，則陽明之經為瘀熱所凝，則遍身必發黃。經云，濕熱相交，民多病癉是也。此湯蓋為發汗不盡，脈浮身發黃者所設也。麻黃能散表邪，用之為君。杏仁、生薑能散氣解表，用之為臣。連軺味苦性寒，生梓白皮性寒，能除濕熱；赤小豆味甘平，能去脾胃之濕，用之為佐。甘草、大棗味甘，能入脾益胃氣，用之為使。以此八味之劑，專治表邪不盡，瘀熱在裡，遍身發黃者之用也。《內經》云，濕熱上甚，治以苦溫，佐以甘辛，以汗為故，此之謂也。</p>

<h3>疑問</h3>
<p>問曰：天下之水者皆一，何以為潦水也？</p>
<p>答曰：取其水性力弱，不能助腎氣而益其濕熱也，故曰潦水，又曰甘瀾水。其法取水二斗，置盆內，以杓揚之千百遍，水上有珠千百顆相逐，乃取用之，以其性走也。。</p>
<p>問曰：發黃之證有數方，各有所主乎？</p>
<p>答曰；麻黃連軺亦小豆方乃治余汗不盡，瘀熱在裡，身必發黃，其脈浮者所設，取微汗之。茵陳蒿湯乃治瘀熱在裡，身必發黃，其脈沉實，為表邪已散者所設，取微利之。梔子柏皮湯乃治表裡皆熱者之所設，不可汗之，只此解之。茵陳五苓散治發汗後煩渴，小便不通，身目皆黃者所設，以取其利小便也。</p>
<p>問曰：發黃之證，外治之法何如？</p>
<p>答曰：辛能散之，急用生薑數斤搗擦為妙。若小便不通者，取黃泥並蔥搗縛臍；甚者加淡豉；如更甚者，用大田螺一枚，同麝香半錢搗爛縛之，取出小便如黃汁乃效也。</p>

<h2>麻黃附子細辛湯（二十三）</h2>
<p>治少陰病始得之，反發熱者，此方主之。</p>
<p>麻黃（二兩）　附子（一枚，炮）　細辛（二兩）</p>
<p>上三味，以水一斗，先煮麻黃，減二升，去上沫，內諸藥，再取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：少陰病當無熱，今反發熱者，邪在表也，雖脈沉，以始得病，則邪氣未深，故當溫劑，微取汗以散之。故用附子為君，以溫經散寒。細辛之辛，以散少陰之寒邪為臣。麻黃能發汗，用之為佐使，以此三味之劑發汗，非少陰則不敢用也。</p>

<h3>疑問</h3>
<p>問曰：陰證不得有汗，今此少陰病，反發熱，汗者何也？</p>
<p>答曰：少陰屬腎為里，當無熱，為有相火之位，亦能發熱，其脈雖沉細，必當取微汗而後已也。</p>

<h2>麻黃附子甘草湯（二十四）</h2>
<p>治少陰病，得之二三日，此方主之。</p>
<p>麻黃（一兩）　附子（一兩，炮）　甘草（二兩，炙）</p>
<p>上三味，如前法。</p>

<h3>湯議</h3>
<p>議曰：初得少陰病，二三日內，脈沉鈿，倦而臥者，別無吐利厥逆等證者，故用附子為君，以溫其經。以麻黃、甘草為臣佐，微取其汗，以散其寒邪，其病則已也。</p>

<h2>麻黃升麻湯（二十五）</h2>
<p>治傷寒六七日，大下後，寸脈沉而遲，手足厥逆，下部脈不至，咽喉不利，吐膿血，泄利不止者，為難治，此方主之。</p>
<p>麻黃（二兩半）　升麻（一兩二錢半）　當歸（一兩二錢半）　知母　黃芩　萎蕤（各七錢半）　石膏　白朮　乾薑　芍藥　天冬　桂枝　茯苓　甘草（各二錢五分）</p>
<p>上一十四味，以水一斗，先煮麻黃，去上沫，內諸藥，又取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：傷寒六七日，大下之後，寸脈沉而遲，手足厥逆，下部脈不至者，乃大下則傷血，下焦之陽氣已虛竭而然也。又兼泄利不止者，為重虛也。咽喉不利、吐膿血者，乃重亡津液而成肺痿。得此之證，實為難治。故與升麻為君，麻黃為臣，以散浮熱之氣。如《玉函經》云：甚熱之氣，以汗泄之。當歸、桂、姜之辛，以散其寒；知母、黃芩之苦，以涼心去熱；苓、術之甘，緩脾生津；芍藥之酸，以斂逆氣；萎蕤、門冬、石膏、甘草之甘，潤肺除熱，共為佐使，以濟其證之壞，而治其厥陰之損傷者也。</p>

<h1>卷之三</h1>

<h2>大青龍湯（二十六）</h2>
<p>治太陽中風，脈浮緊，發熱惡寒，身疼痛，不汗出而煩躁者，此方主之。</p>
<p>麻黃（二兩，去節）　桂枝（二兩）　甘草（二兩）　杏仁（四十枚）　石膏（雞子大）　生薑（三兩）　大棗（十二枚）</p>
<p>上七味，以水九升，先煮麻黃，減二升，去上沫，內諸藥，再取三升，去渣，溫服。取微汗，如一服汗出，停後服。汗出多者，溫粉撲之。</p>

<h3>湯議</h3>
<p>議曰：余昔讀大青龍湯方，以證參之，嘗涉疑焉。既是太陽中風，見傷寒脈浮緊是也，又何發熱惡寒，身疼痛不汗出？若此證參之，皆是傷寒，而加煩躁，又何得有中風之證在焉？故諸家皆無明載，只言傷寒見風脈，傷風見寒脈。以此正經論之，終是涉疑。一日請於先師伯榮黃公曰：乃此一證中，全在不汗出三字上藏機。且此不字，是微有汗而不能得出，因生煩躁也。無汗者，乃全無汗也。以此不字，方是中風。此乃古人智深識妙之處。今此中風證，復見脈浮緊，乃中風證見寒脈也。若與桂枝湯，則能治風，而不能去寒；若與麻黃湯，則能治寒，而不能去風，以此用桂枝麻黃各半湯中加石膏而治煩躁。名之曰大青龍者，以其能發越風寒而散邪氣者也。故用麻黃為君，而散浮緊之脈。桂枝為臣，而治不汗之風。杏仁、甘草、生薑、大棗合而為使，石膏為佐，而解風寒之並於經而加煩躁者也。</p>

<h3>大青龍湯戒</h3>
<p>經曰：若脈微弱，汗出惡風者，不可服，服之則厥逆，筋惕肉瞤，此為逆也。</p>

<h3>議湯中有芍藥</h3>
<p>議曰：桂枝湯治中風，麻黃湯治傷寒，大青龍湯治中風傷寒二證合病者也。既治二證，湯中當用芍藥，乃即桂枝麻黃各半湯中加石膏而用薑棗為引也。只可治傷寒，又安能治中風證也。且芍藥一味，其體雖小，其用至大。既治中風之證，若無芍藥以和其營，則桂枝、麻黃專治其衛，汗出則成厥逆亡陽，筋惕肉瞤者，可立待也。於乎千載之間，世遠莫辨。自先代宗師如朱奉議、楊仁齋、許叔微之儔，非曰不知，乃知之而不肯明言也。自後世之隔，留此數行，以為心口相傳之秘。由是其書不得大行於世。予早承師訓，書此以為賢達者鑑。</p>

<h3>疑問</h3>
<p>問曰：何謂中風見寒？</p>
<p>答曰：中風證反見傷寒脈也。如有自汗惡風，乃中風證，脈當浮緩，今反見脈浮緊者，乃傷寒脈也，故曰中風見寒，屬大青龍湯。</p>
<p>問曰：何為傷寒見風？</p>
<p>答曰：傷寒證反見中風脈也。如無汗惡寒，乃傷寒證，脈當浮緊，今反見浮緩者，乃中風脈也，故曰傷寒見風，屬大青龍湯。</p>
<p>問曰：二證皆見，若不煩躁者，此可用乎？</p>
<p>答曰：既無煩躁，可除石膏勿用也。</p>
<p>溫粉者，只用白朮、藁本、川芎、白芷各一兩，米粉三兩，為細末，撲其身則汗止。</p>

<h2>小青龍湯（二十七）</h2>
<p>治傷寒表不解，心下有水氣，乾嘔，發熱而咳，或渴，或利，或噎，或小便不利、少腹滿，或喘，此方主之。</p>
<p>麻黃　芍藥　乾薑　甘草　桂枝　細辛（各三兩）　五味　半夏（各半升）</p>
<p>上八味，以水一斗，先煮麻黃，減二升，去上沫，內諸藥，再取三升，去渣，溫服。</p>

<h3>加減法</h3>
<p>若微利者，去麻黃，加蕘花如雞子大，熬令赤色。下利者，不可攻表，汗出必脹滿，故去麻黃。加蕘花能去十二經水，水去則利自止，故加之。</p>
<p>若渴者，去半夏，加栝蔞根三兩。以其半夏性燥，故去之；栝蔞根味苦，能生津，故加之。</p>
<p>若噎者，去麻黃，加附子一枚。水得寒氣，冷必相搏，其人必噎，故加炮附子以溫之。</p>
<p>苦小便不利，少腹滿，去麻黃，加茯苓四兩，以其能利水道也。</p>
<p>若喘者，加杏仁半升，去皮尖，以其能潤肺而散水氣。其脈浮者不去麻黃，但脈沉者宜去麻黃也。</p>

<h3>湯議</h3>
<p>議曰：傷寒表不解則發熱，心下有水氣則乾嘔而咳，此乃水氣與寒邪相搏而成此證也。或渴，或利，或噎，或小便不利、少腹滿，或喘者，皆有水氣內攻也，故與此方主之。以麻黃為君，桂枝為臣，芍藥行榮而散表邪，以乾薑、細辛、半夏之辛為使，而行水氣止嘔咳，以五味子之酸，而斂肺之逆氣，以甘草之甘，而和諸藥為佐。經曰，以辛散之，以甘緩之，以酸收之者此也。謂之曰小青龍者，以其能發越風寒，分利水氣，越超乎天地之間也。</p>

<h2>葛根湯（二十八）</h2>
<p>治太陽病，項背強𠘧𠘧，無汗惡風者。</p>
<p>又治太陽與陽明合病者，必自下利，此方主之。</p>
<p>葛根（四兩）　芍藥　甘草（各二兩）　麻黃　生薑（各三兩）　大棗（十二枚）</p>
<p>上七味，以水一斗，先煮麻黃、葛根，減二升，去沫，內諸藥，再煎取三升，溫服，覆取微汗。</p>

<h3>湯議</h3>
<p>議曰：太陽病，項背強𠘧𠘧，無汗惡風者，此中風表實也，屬葛根湯；若太陽病，項背強𠘧𠘧，反汗出惡風者，為中風表虛也，屬桂枝加葛根湯主之，已載於前詳矣。又太陽病不解，並於陽明者，必自下利，亦必此方內外均解之。葛根性平，能祛風，行於陽明之經，用之為君。麻黃為臣輔之，發汗解表。桂枝、芍藥為佐，通行於榮衛之間，甘草、大棗之甘，生薑之辛，以通脾胃之津為使。此方乃治其表實，而兼治其合病、並病者也。</p>

<h3>疑問</h3>
<p>問曰：表實無汗者，麻黃湯均主之矣。今又有此葛根湯發汗何也？</p>
<p>答曰：麻黃湯治寒邪表實，惡寒無汗者。今此項背強𠘧𠘧，然惡風者，乃有風在表而不得散，只因無汗，為兼有寒邪，故與桂枝湯中加葛根、麻黃主之。</p>
<p>問曰：經云，下利不可發汗，發汗則脹滿。今此下利又發汗者何也？</p>
<p>答曰：少陰病，下利清穀者，為裡虛，若更發汗，則脾虛而脹。今此太陽證未罷，或有頭痛惡風寒等證，尚在表，其脈尚帶浮。便傳入陽明，有口渴身熱等證者，必自下利也。必須此方，微發汗而散表邪。中有葛根，以除陽明之邪也。若是諸證發熱，兼有里而脈浮者，此方用之最善。</p>

<h2>葛根加半夏湯（二十九）</h2>
<p>治太陽與陽明合病，不下利，但嘔者，此方主之。</p>
<p>本方中加半夏半升。</p>
<p>上如法。</p>

<h3>湯議</h3>
<p>議曰：邪氣外盛，裡氣不和，氣下而不上者，即為下利而不嘔；裡氣上逆而不下者，但嘔而不下利。故與葛根湯以散其邪，加半夏以下逆氣也。半夏味豐，能逐水飲止逆氣，故用之也。</p>

<h2>葛根黃連黃芩湯（三十）</h2>
<p>治太陽病，桂枝證，醫反下之，利遂不止。脈促者，表未解也；喘而汗出者，此方主之。</p>
<p>葛根（四兩）　黃連（二兩）　黃芩（二兩）　甘草（一兩）</p>
<p>上四味，以水八升，先煮葛根，減二升，內諸藥，煮取三升，分溫服。</p>

<h3>湯議</h3>
<p>議曰：太陽病，桂枝證，宜發肌表之汗，醫反下之，內虛協熱，遂利不止。脈促者，為表邪未解，不當下而下之所致也；喘而汗出者，即裡熱氣逆所致。故用葛根為君，以通陽明之津而散表邪。以黃連為臣，黃芩為佐，以通里氣之熱，降火清金而下逆氣。甘草為使，以緩其中而調諸藥者也。且此方亦能治陽明大熱下利者，又能治嗜酒之人熱喘者，取用不窮也。</p>

<h2>白虎湯（三十一）</h2>
<p>治發汗後，大熱不解，多汗出，不惡寒，大渴能飲水者，此方主之。</p>
<p>知母（六兩）　石膏（一斤）　甘草（二兩）　梗米（六合）</p>
<p>上四味，以水一斗，先煮米，再加余藥，取五升，溫服。</p>

<h3>湯議</h3>
<p>議曰：汗出不惡寒，反惡熱，若脈沉實，大便秘者，為陽明熱甚，屬大承氣湯下之。令此脈洪大，煩渴能飲水者，為肺熱甚也，屬白虎湯涼之。經曰：熱淫所勝，治以甘苦。以知母之苦為君，大治肺熱。以石膏之寒，佐之為臣。甘能散熱，甘草、粳米之甘為佐為使，以救其熱之氣，而緩其中者也。且此四味之劑，論之為白虎者，以其為金神秋令肅殺之意，大治傷寒大熱汗出，煩渴飲水者，為神禁之方也。</p>

<h3>白虎湯戒</h3>
<p>戒曰：白虎湯乃大寒之劑，若非大熱多汗，渴飲水者，不可服也。若表證不解，無汗而渴者，又不可服也，只屬豬苓湯。經曰：傷寒脈浮，發熱無汗，其表不解者，不可與白虎湯。又古賦曰；無汗喜渴，而脈單浮者，勿投白虎。</p>

<h3>疑問</h3>
<p>問曰：《活人書》云，白虎湯惟夏至後可用，何也？</p>
<p>答曰：非也。古人一方對一證，若嚴冬之時，果有白虎湯證，安得不用石膏？盛夏之時，果有真武湯證，安得不用附子？若老人可下，豈得不用硝、黃？壯人可溫，豈得不用薑、附？此乃合用者必需之。若是不合用者，強而用之，不問四時皆能為害也。</p>

<h3>白虎湯證</h3>
<p>傷寒，脈浮滑者，必表有熱，里有寒，白虎湯主之。</p>
<p>傷寒，脈浮而厥者，里有熱也，白虎湯主之。</p>
<p>三陽合病，腹滿身重，難以轉側，口不仁而面垢，遺尿譫語。發汗則譫語；下之則額上生汗，手足逆冷。若自汗出者，白虎湯主之。</p>
<p>議曰：仲景所謂白虎湯三證，然有大小不同處，亦皆古人載之經典，復書於此。詳味之，若果用白虎湯無差誤，必須多汗飲水也。</p>

<h2>白虎加人參湯（三十二）</h2>
<p>治發汗後，熱不退，大煩渴飲水者，此方主之。</p>
<p>本方內加人參三兩。</p>
<p>上如法。</p>

<h3>湯議</h3>
<p>議曰：白虎湯證前亦議之，加人參者，取其生津止渴之義也。</p>

<h3>白虎加人參湯證</h3>
<p>服桂枝湯，大汗出後，大煩渴不解，脈洪大者，白虎加人參湯主之。</p>
<p>傷寒，無大熱，口燥渴，心煩，背微惡寒者，白虎加人參湯主之。</p>
<p>傷寒，脈浮，發熱無汗，其表未解，不可與白虎湯；若渴欲飲水，無表證者，白虎加人參湯主之。</p>
<p>渴欲飲水，口乾舌燥者，白虎加人參湯主之。</p>
<p>傷寒，若吐、若下後，七八日不解，熱結在裡，表裡俱熱，時時惡寒，舌上乾燥，而渴欲飲水數升者，白虎加人參湯主之。</p>

<h3>疑問</h3>
<p>問曰：《活人書》云白虎湯乃汗後一解表藥，何也？</p>
<p>答曰：發汗後，熱當已，若不已者，為實也。更加有汗熱不滅，為表熱；口燥煩渴飲水，為裡熱。若表裡皆熱者，必用此方主之。其五苓散亦汗後一解表藥也。</p>

<h1>卷之四</h1>

<h2>小柴胡湯（三十三）</h2>
<p>治少陽經發熱，口苦耳聾，其脈弦者。又治太陽陽明二經發熱不退，寒熱往來。</p>
<p>柴胡（八兩）　半夏（半升）　黃芩　人參　甘草　生薑（各三兩）　大棗（十二枚）</p>
<p>上七味，以水一斗二升，煮取六升，去滓再煎，取三升，溫服一升，日三服。</p>

<h3>加減法</h3>
<p>若胸中煩而不嘔，去半夏、人參，加栝蔞實一枚。（胸中煩而不嘔者，熱聚而氣不逆也。甘草令人之中滿，方熱聚，無用人參之補。辛散逆氣，既不能嘔，無用半夏之辛。治熱宜寒，破聚宜苦，故用栝蔞實苦寒之劑，以瀉胸中蘊結之熱氣也。）</p>
<p>若渴者，去半夏，加人參一兩半，栝蔞根四兩。（半夏性燥，能損津液，渴者故去之。栝蔞根性寒，能生津止渴除熱，人參能潤養津液，故加此二者用之。）</p>
<p>若腹中痛者，去黃芩，加白芍藥三兩。（少陽腹痛者，為中有寒，故去黃芩之寒，加白芍藥止痛而益其中也。）</p>
<p>若脅下痞鞕，去大棗，加牡蠣四兩。（甘能令人中滿，痞者故去大棗之甘。咸能軟物，痞鞕者故加牡蠣之咸也。）</p>
<p>若心悸，小便不利者，去黃芩，加茯苓四兩。（心下悸，小便不利者，為水蓄不行，故去黃芩之寒。淡味滲泄為陽，茯苓甘淡以泄停水也。）</p>
<p>若不渴，外有微惡寒而熱者，去人參，加桂三兩，溫服，取微汗則愈。（不渴者，無里證；外有微惡寒而熱者，表未解也。故去人參之補，加桂以取微汗而散未盡之表邪也。）</p>
<p>若咳者，去人參、大棗、生薑，加五味子三兩，乾薑二兩。（咳者罵氣逆也，甘能壅氣，故去人參、大棗之甘，加五味子之酸以收逆氣。肺寒則咳，散以辛熱，故加乾薑之熱而易生薑。上以上加減法，系正經中加減。外有師傅加減者，如發熱下利者，加五苓散。如嘔惡者，加橘紅。如胸中痞拮者，加枳實。如咳逆而發熱者，加丁香、柿蒂。如嘔吐者，加竹茹。）</p>

<h3>湯議</h3>
<p>議曰：病在表者宜汗，病在裡者宜下，病在半表半裡之間者宜和解。此小柴胡湯乃和解半表半裡之劑也。柴胡味苦性寒，能入膽經，能退表裡之熱，祛三陽不退之邪熱，用之為君。黃芩味苦性寒，能泄火氣，退三陽之熱，清心降火，用之為臣。人參、甘草、大棗，三者性平，能和緩其中，輔正除邪，甘以緩之也。半夏、生薑之豐，能利能汗，通行表裡之中，辛以散之也，故用之為佐為使，各有所能。且此七味之功能，至為感應，能解表裡之邪，能退陽經之熱，上通天庭，下徹地戶。非此智謀之士，其孰能變化而通機乎！</p>

<h3>小柴胡湯證</h3>
<p>傷寒中風五六日，往來寒熱，胸脅苦滿，默默不欲飲食，心煩喜嘔，或胸中煩而不嘔，或喝，或腹中痛，或脅下痞鞕，或心下悸、小便不利，或不渴、身有微熱，或咳者，小柴胡湯主之。</p>
<p>血弱氣盡，因天之時。腠理開，邪氣因入，與正氣相搏，結於脅下。正邪分爭，往來寒熱，休作有時，默默不欲飲食；臟腑相連，其痛必下，邪高痛下，故使嘔也，小柴胡湯主之。服柴胡湯已，渴者屬陽明也，以法治之。</p>
<p>傷寒四五日，身熱惡風，頭項強，脅下滿，手足溫而渴者，小柴胡湯主之。</p>
<p>傷寒，陽脈澀，陰脈弦，法當腹中急痛者，先與小建中湯；不瘥者，與小柴胡湯主之。</p>
<p>傷寒中風，有柴胡證，但見一證便是，不必悉俱。凡柴胡證，必蒸蒸而振，卻發熱汗出而解。</p>
<p>傷寒，十三日不解，胸脅滿而嘔，日晡所發潮熱已而微利，此本柴胡證，下之而不得利，令反利者，知醫以丸藥下之，非其治也。潮熱者實也，先須小柴胡湯以解外，後以柴胡加芒硝湯主之。</p>
<p>婦人中風七八日，續得寒熱，發作有時，經水適斷者，此為熱入血室，其血必結，故使如瘧狀，發作有時，小柴胡湯主之。（一方小柴胡湯中加生地、丹皮、秦艽主之。）</p>
<p>傷寒五六日，頭汗出，微惡寒，手足冷，心下滿，口不欲食，大便鞕，脈細者，此為陽微結，必有表，復有里也。脈沉，亦在裡也。汗出，為陽微。假令純陰結，不得復有外證，悉入在裡。此為半在表半在裡也。脈雖沉緊，不得為少陰病，所以然者，陰不得有汗。今頭汗出，故知非少陰病，可與小柴胡湯。設不了了者，得屎而解。</p>
<p>陽明病，發潮熱，大便溏，小便自下，胸脅滿不去者，與小柴胡湯主之。</p>
<p>陽明病，脅下硬滿，不大便而嘔，舌上白胎者，可與小柴胡湯。上焦得通，津液得下，胃氣因和，身濈然汗出而解也。</p>
<p>陽明病中風，脈弦浮大，而短氣，腹都滿，脅下及心痛，久按之氣不通，鼻乾，不得汗，嗜臥，一身及面目悉黃，小便難，有潮熱，時時噦，耳前後腫。刺之小瘥，外不解。病過十日，脈續浮者，與小柴胡湯。本太陽病不解，轉入少陽者，脅下鞕滿，乾嘔不能食，往來寒熱，尚未吐下，脈沉緊者，與小柴胡湯主之。</p>
<p>厥陰病，嘔而發熱者，小柴胡湯主之。</p>
<p>太陽病，十日以去，脈浮細而嗜臥者，外已解也；設胸滿脅痛者，與小柴胡湯主之。</p>

<h3>疑問</h3>
<p>問曰：諸方中獨小柴胡湯去滓再煎，何也？</p>
<p>答曰：取其汁清，能入膽之義。</p>

<h2>大柴胡湯（三十四）</h2>
<p>治太陽未解，便傳入陽明，大便不通，熱實心煩，或寒熱往來，其脈沉實者，以此方下之。</p>
<p>柴胡（八兩）　黃芩　芍藥（各三兩）　半夏　大黃（各二兩）　枳實（四枚）　生薑（五兩）　大棗（十二枚）</p>
<p>上八味，以水一斗二升，先煮前七味，滅四升，加大黃，煮取六升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：病在太陽者，多汗證；病在陽明者，多下證。苦太陽欲罷未罷，欲傳陽明未入陽明，雖有發熱身痛，脈來沉實，又兼大便不通，心腹脹滿；或有寒熱往來，又兼脈息沉實。若與承氣下之，奈何太陽未解；若欲麻黃汗之，又兼其內熱實，是以用大柴胡湯緩下之也。柴胡性涼，能解表攻裡，折熱降火，用之為君。黃芩能蕩熱涼心，用之為臣。枳實、芍藥二者合用，而能除堅破積，助大黃之功，而下內熱，而去堅者；生薑、半夏辛以散之；大棗之甘，緩中扶土，五者共為其佐。獨用大黃為使，其能斬關奪門，破堅除熱，宣行號令，而引眾藥共攻下者也。</p>

<h3>大柴胡湯證</h3>
<p>太陽病，過經十餘日，及二三下之後四五日，柴胡證仍在者，先與小柴胡湯；嘔不止，心下急，鬱郁微煩者，為未解也，與大柴胡湯下之則愈。</p>
<p>傷寒十餘日，結熱在裡，復往來寒熱者，與大柴胡湯主之。</p>
<p>傷寒發熱，汗出不解，心下痞鞕，嘔吐而下利者，大柴胡湯主之。</p>
<p>傷寒，發熱七八日，脈雖浮數者，宜大柴胡湯，此無表裡證也。</p>

<h3>疑問</h3>
<p>問曰：大柴胡湯中必用大黃，古方中又云一方加大黃何也？</p>
<p>答曰：湯中若無大黃，何得言大柴胡湯下之者？此乃因前人無剛斷處也。</p>
<p>問曰：大柴胡湯、大小承氣湯、調胃承氣湯、桃仁承氣湯、抵當湯、大陷胸湯、十棗湯，此皆傷寒下泄之劑，各何所用？</p>
<p>答曰：大柴胡湯治表邪生內實者，下之急也。小承氣湯治里邪生內實也，下之緩也。大承氣湯治里邪生內實者，下之急也。調胃承氣湯乃緩其中，而下之緩也。桃仁承氣湯治小腹急結，血證者之急也。抵當湯乃破血證之峻者。大陷胸湯乃通開破結之緩者。十棗湯乃破停飲下水積之駃烈者也。</p>

<h2>柴胡桂枝湯（三十五）</h2>
<p>治傷寒六七日，發熱微惡寒，支節煩疼，微嘔，心下支結，外證未去者，此方主之。</p>
<p>又發汗多，亡陽譫語，不可下，與柴胡桂枝湯，和其榮衛，以通津液，後自愈。</p>
<p>小柴胡和桂枝湯。</p>
<p>上如法。</p>

<h3>湯議</h3>
<p>議曰：傷寒六七日，邪當傳裡，微嘔、心下支結者，為里證見也，屬小柴胡湯。又兼發熱微惡寒，肢節煩疼，外證未去，故加桂枝湯和而用之，以解表裡之邪共見者也。</p>

<h2>柴胡桂薑湯（三十六）</h2>
<p>治傷寒五六日，已發汗再復下之，胸脅滿微結，小便不利，渴而不嘔，但頭汗出，往來寒熱，心煩者，此為未解也，此方主之。</p>
<p>柴胡　黃芩　桂枝（各三兩）　栝蔞根（四兩）　乾薑　牡蠣　甘草（各二兩）</p>
<p>上七味，以水一斗二升，煮取六升，去渣，再煎取三升，溫服。初服微煩，再服汗出便愈。</p>

<h3>湯議</h3>
<p>議曰：傷寒五六日，已經汗下，表邪當解。今更頭汗出，往來寒熱，心煩者，表邪未解也。又胸脅滿微結，小便不利，渴而不嘔者，又兼里邪也。此乃邪在半表半裡之間，故與柴胡為君，以散表攻裡，行少陽之分。黃芩之苦為臣，以解傳裡之邪。桂枝之辛，甘草之甘，以散緩之；頭汗出者，為津液不足，陽虛於上也，故與乾薑以固其陽；栝蔞根以生津液而止其渴，牡蠣之咸以消胸膈之滿，共為佐使，以解半表之邪也。苦其人左脈小，右脈大，寒熱膨脹而渴者，用之神應也。</p>

<h2>柴胡加芒硝湯（三十七）</h2>
<p>治傷寒十三日不解，胸脅滿而嘔，曰晡所發潮熱，已而微利，此本柴胡證，下之而不得利，今反利者，知醫以丸藥下之，非其治也。潮熱者，實也，先宜小柴胡以解外，後以此方主之。</p>
<p>小柴胡湯內加芒硝三兩。</p>
<p>上如法</p>

<h3>湯議</h3>
<p>議曰：傷寒十三日當解，反胸脅滿而嘔者，邪氣猶在表裡之間，若用柴胡湯下之，則更無潮熱自利；若反以丸藥下之，虛其脾胃，邪氣乘虛入里，故曰晡所發潮熱已而微利也。潮熱雖為熱實當下，奈有胸脅之邪未盡，且先以小柴胡以解外，再以本方中加芒硝而通泄也。</p>

<h3>疑問</h3>
<p>問曰：潮熱者，實也。既實且熱，何不用大柴胡、大承氣湯下之，卻用芒硝何也？</p>
<p>答曰：潮熱雖實，奈何先丸藥傷動臟腑，再用大黃下之，則脾氣傷而覆成壞證，只得用芒硝以浸潤之，而取利也。</p>

<h3>柴胡加龍骨牡蠣湯（三十八）</h3>
<p>治傷寒八九日，下之，胸滿煩驚，小便不利，譫語，一身盡重，不可轉側者，此方主之。</p>
<p>柴胡　人參　龍骨　牡蠣（各一兩半）　鉛丹　桂枝　茯苓　生薑（各一兩半）　大黃（二兩）　半夏（二合）　大棗（六枚）</p>
<p>上十一味，以水八升，煮取四升，加大黃，再煮取二升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：傷寒八九日，邪氣錯雜，表裡未分而誤下之，則虛其里而傷其表。胸滿而煩者，邪熱客於胸中。驚者，心惡熱而神不守也。小便不利者，裡虛而津液不行也。譫語者，胃熱也。一身盡重，不可轉側者，陽氣內榮於裡，不行於表也。故用柴胡為君，以通表裡之邪而除胸滿。以人參、半夏為臣輔之。加生薑、大棗而通其津液；加龍骨、牡蠣、鉛丹，收斂神氣而鎮驚為佐。加茯苓以利小便而行津液；加大黃以逐胃熱、止譫語；加桂枝以行陽氣而解身重錯雜之邪，共為使。以此十一味之劑，共救傷寒壞逆之法也。</p>

<h2>小建中湯（三十九）</h2>
<p>治傷寒，陽脈澀，陰脈弦，法當腹中急痛者，以此方主之。</p>
<p>又傷寒二三日，心中悸而煩者，此方主之。</p>
<p>桂枝（三兩）　甘草（三兩）　芍藥（六兩）　生薑（二兩）　大棗（十二枚）　膠飴（一升）</p>
<p>上六味，以水七升，煮取三升，去渣，內膠飴，候溶盡，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：建中者，建其脾也。脾欲緩，急食甘以緩之，建中之味甘也。陽脈澀，陰脈弦者，為中虛內寒也。心中悸者，為氣虛。煩者，為血虛。故用膠飴為君，甘草、大棗為臣，以甘佐廿緩之也。白芍藥之酸，能收斂脾氣而益其中，故用之為佐。桂枝、生薑之辛，以散餘邪而益其氣也。</p>

<h3>加減法</h3>
<p>建中湯治虛痛者加黃耆，治心痛者加元胡索，治血虛者加當歸、川芎，治盜汗多者加小麥、茯神，治虛中生熱加北柴胡、地骨皮。</p>

<h3>疑問</h3>
<p>問曰：建中湯方與桂枝湯同，只多膠飴，所主治病全不同，何也？</p>
<p>答曰：桂枝湯中桂枝、芍藥等分，以芍藥佐桂枝，而治衛氣也；建中湯中芍藥多半而桂枝減半，以桂枝佐芍藥，而益其榮氣也，是以大有不同。</p>

<h1>卷之五</h1>

<h2>小承氣湯（四十）</h2>
<p>治陽明病，潮熱，大便難，脈沉而滑，及內實腹痛者，此方主之。</p>
<p>大黃（四兩）　枳實（三枚）　厚朴（一兩）</p>
<p>上三味，以水四升，煮取二升，加大黃，又取升半，去渣，分溫服。當更衣，不爾者盡飲之，苦更衣勿服。</p>

<h3>湯議</h3>
<p>議曰：陽明者，三陽之盛也。太陽為陽之表，少陽為表裡之中，陽明為陽之裡。是以證屬陽明者，皆為可下也。若大滿、大實者，屬大承氣湯。今此大熱、大便鞕，未至於大實，只屬小承氣湯也。以大黃為君，而蕩除邪熱。以枳實為臣，而破堅實。以厚朴為佐使，而調中除結燥也。</p>

<h3>小承氣湯證</h3>
<p>太陽病，若吐、若下、若發汗，微煩，小便數，大便鞕者，與小承氣湯和之則愈。</p>
<p>厥陰病，下利譫語者，有燥屎也，小承氣湯主之。</p>
<p>陽明病，譫語，發潮熱，脈滑而疾者，小承氣湯主之。因與承氣湯一升主之，腹中轉矢氣者，更服一升。若不轉矢氣者，勿更與之。明日不大便，脈更微澀者，裡虛也，為難治，不可更與承氣湯也。</p>
<p>陽明病，其人多汗，以津液外出，胃中燥，大便必鞕，鞕則譫語，小承氣湯主之。若一服譫語止，更莫服。</p>

<h2>大承氣湯（四十一）</h2>
<p>治陽明病，大實，大滿，大便不通，腹痛，大熱，其脈沉實者，此方主之。</p>
<p>大黃（四兩）　枳實（五枚）　厚朴（八兩）　芒硝（三兩）</p>
<p>上四味，以水一斗，先煮二味，取七升，加大黃，又取五升，去渣，內芒硝，候通口時服，取利為效。</p>

<h3>湯議</h3>
<p>議曰：中滿者泄之於內，此方乃通泄之劑也。傷寒之邪，自表傳裡，若至陽明，則為內實之盛也。如譫語有燥屎，大熱便閉，腹滿不得通，煩熱，脈沉實。陽明汗多，少陰口燥，厥陰囊縮，非此大下泄之劑不能已也。輕者小承氣湯，重者用大承氣湯也。小承氣湯少厚朴而無芒硝，以芒硝性寒而能潤堅，厚朴能破大實，病未至盛，以此減之。大承氣湯多厚朴而加芒硝，以其病之盛，而大滿、大實，非此不能除也。經曰，熱淫所勝，治以鹹寒，芒硝是也。燥淫所勝，以苦下之，大黃、枳實是也。燥淫於內，治以苦溫，厚朴是也。</p>

<h3>大承氣湯證</h3>
<p>陽明病，發熱汗多者，急下之，宜大承氣湯。</p>
<p>病人小便不利，大便乍難乍易，時有微熱，喘冒不能臥者，有燥屎也，宜大承氣湯。</p>
<p>腹滿不減，減不足言，當下之，宜大承氣湯。</p>
<p>陽明少陽合病，必自下利。其脈不負者，為順也。負者，逆也，互相剋賊，名為負也。若脈滑而數者，有宿食也，宜下之，當大承氣湯。</p>
<p>少陰病二三日，口燥咽乾者，急下之，宜大承氣湯。</p>
<p>少陰病，自利清水，色純青，心下必痛，口乾燥者，急下之，宜大承氣湯。</p>
<p>少陰病六七日，腹脹滿而實，不大便者，急下之，宜大承氣湯主之。</p>
<p>下利，三部脈皆平，按之心下鞕者，急下之，宜大承氣湯主之。</p>
<p>下利，脈遲而實者，內實也，當下之，宜大承氣湯主之。寸口脈浮而大，按之反澀，尺中微而澀，故知有宿會也，當下之，宜大承氣湯。</p>
<p>下利，不欲飲食者，以有宿食也，當下之，宜大承氣湯。</p>
<p>下利瘥，其年月日時復發者，以病不盡故也，當下之，宜大承氣湯。</p>
<p>下利，脈反滑，當有所去，下之乃愈，宜大承氣湯。</p>
<p>下利，脈雙弦而遲者，必心下鞕；脈大而緊者，陽中有陰也，可下之，宜大承氣湯。</p>
<p>病人腹中滿痛，按之而實者，為實也，宜大承氣湯。</p>
<p>大下後，六七日不大便，煩不解，腹滿痛者，此有燥屎也，宜大承氣湯。</p>
<p>傷寒六七日，目中不了了，睛不和，無表裡證，大便難，身微熱者，為實也，急下之，宜大承氣湯。</p>
<p>陽明病下之，心中懊憹而煩，胃中有燥屎者，可攻；腹微滿，初頭鞕，後必溏，不可攻之。若有燥屎者，宜大承氣湯主之。</p>
<p>病人煩熱，汗出則解，又如瘧狀，日晡所發潮熱者，屬陽明也。脈實者，宜下之；脈浮虛者，宜汗之。下之，宜大承氣湯。</p>
<p>陽明病，脈遲，雖汗出不惡寒者，其身必重，短氣，腹滿而喘，有潮熱者，此外欲解，可攻裡也；若手足濈然汗出者，此大便已鞕也，宜大承氣湯主之。</p>
<p>陽明病，潮熱，大便微鞕者，可與大承氣湯；不鞕者，不可與之。</p>
<p>若不大便六七日，恐有燥屎，欲知之法，少與小承氣湯，湯入腹中，轉矢氣者，此有燥屎，乃可攻之；若不轉矢氣者，此但初頭鞕，後必溏，不可攻之，攻之必脹滿不能食也。欲飲水者，與水則噦。其後發熱者，必大便鞕而少也，以小承氣湯和之。不轉矢氣者，慎不可攻也。</p>
<p>傷寒，若吐、若下後，不解，不大便五六日，上至十餘日，日晡所發潮熱，不惡寒，獨語如見鬼狀。若劇者，發則不識人，循衣摸床，惕而不安，微喘直視，脈弦者生，脈澀者死；微者，但發熱譫語者，大承氣湯主之。若一服利，止後服。</p>
<p>陽明病，譫語有潮熱，反不能食者，胃中必有燥屎五六枚也，若能食者，但鞕爾，宜大承氣湯。</p>
<p>汗出譫語者，以有燥屎在胄中，此為風也，須下之，過經乃可下之。若早，語言必亂。若當下之者，宜大承氣湯。</p>
<p>二陽並病，太陽證罷，但發潮熱，手足漐漐汗出，大便難而譫語者，下之則愈，宜大承氣湯。</p>
<p>議曰：仲景所用大承氣者，二十五證，雖曰各異，然即下泄之法也。其法雖多，不出大滿、大熱、大實，其脈沉實滑者之所當用也。</p>

<h2>調胃承氣湯（四十二）</h2>
<p>治汗後惡熱，譫語，心煩中滿，脈沉者主之。</p>
<p>大黃（四兩，酒浸）　甘草（炙，二兩）　芒硝（二兩）</p>
<p>上三味，以水五升，煮取三升，去渣，內芒硝，溫服。</p>

<h3>湯議</h3>
<p>議曰：汗、吐、下後，病不解，心煩譫語及心煩不得寐者，此非大實、大滿之證，乃虛結不散而凝於中，故屬此方也。以大黃為君，而通中結。以芒硝為臣，而潤其燥。以甘草為佐為使，緩調其中而輔二藥。經曰，熱淫於內，治以鹹寒，佐以甘苦是也。</p>

<h3>疑問</h3>
<p>問曰：諸下泄方中皆不用甘草，獨此方中復用甘草何也？</p>
<p>答曰：諸下泄方，乃下大實、大熱之證，速如星火，甘草能緩諸藥，是以去也。獨此方中，乃調和胃氣，故用甘草以緩其中也。又桃仁承氣湯中用甘草者，乃治小腹急結，以甘草緩之也。</p>

<h2>桃仁承氣湯（四十三）</h2>
<p>治太陽病不解，熱結膀胱，其人如狂，血自下者愈。其外不解者，尚未可攻，當先解外。外解已，但小腹急結者，乃可攻之，宜此方主之。</p>
<p>桃仁（五十個）　桂枝　芒硝（各一兩）　大黃（四兩）　甘草（二兩，炙）</p>
<p>上五味，以水七升，煮取五升，去渣，內芒硝，取四升，去渣，溫服，日三服，取微下。</p>

<h3>湯議</h3>
<p>議曰：太陽者，膀胱也。本經邪熱不解，隨經入府，結於膀胱，熱不得散，故作蓄血之證，其人如狂。經曰血在上善忘，血在下如狂是也。若其外證不解，或脈帶浮，或惡寒，或身痛等證，尚未可攻，且與葛根湯以解其外。外已解，但小腹急結者，乃可攻之。以桃仁為君，能破血結，而緩其急。以桂枝為臣，辛熱之氣，而溫散下焦蓄血。以調胃承氣湯中品味為佐馬使，以緩其下者也。此方乃調胃承氣湯中加桃仁、桂枝二味，以散其結血也。</p>

<h2>小陷胸湯（四十四）</h2>
<p>治小結胸病，證在心下，按之則痛，脈浮滑者主之。又治心下結痛，氣喘而悶者。</p>
<p>黃連（一兩）　半夏（二兩）　大栝蔞實（一枚）</p>
<p>上三味，以水九升，先煮栝蔞，取六升，去渣，內二味，又取二升，去滓，分三服。</p>

<h3>湯議</h3>
<p>議曰：心下鞕，不按而痛，手不可近者，大結胸也。心下滿，按之則痛者，邪熱淺結，為小結胸也。此不可下，只宜散也。故用栝蔞為君，其味苦性寒，能破胸膈結氣。半夏為佐為使，以辛能散氣也。黃連為臣，苦以泄之，以輔君主之藥，而下心下之結也。</p>

<h2>大陷胸湯（四十五）</h2>
<p>治大結胸證，脈沉而緊，心下痛，按之石鞕者。</p>
<p>大黃（六兩）　芒硝（三兩）　甘遂（一字，為末）</p>
<p>上三味，以水五升，煮大黃，取三升，內芒硝，候烊盡，去滓，內甘遂末，溫服一升，取下利。</p>

<h3>湯議</h3>
<p>議曰：病發於陽，而反下之，熱入因作結胸。病發於陰，而反下之，因作痞。所以成結胸者，以下之太早故也。且脈沉者，為病在裡，緊為裡實。心下痛者，邪氣上結也。此為大結胸之證，若非大下泄之，其病不去也。故用大黃為君，而盪滌邪結，苦以散之。芒硝為臣，以軟其鞕，咸以軟之。甘遂為佐為使，以通其水，而下其邪之峻烈者也。</p>

<h3>大陷胸湯證</h3>
<p>傷寒六七日，結胸熱實，脈沉而緊，心下痛，按之石鞕者，大陷胸湯主之。</p>
<p>傷寒十餘日，熱結在裡，復往來寒熱，與大柴胡湯；但結胸，無大熱者，此為水結在胸脅也，但頭汗出者，大陷胸湯主之。</p>
<p>太陽病，重發汗，而復下之，不大便五六日，舌上燥而渴，日晡時小有潮熱，從心下至少腹鞕滿而痛，不可近者，大陷胸湯主之。</p>
<p>太陽病，脈浮而動數，浮則為風，數則為熱，動則為痛，頭痛發熱，微盜汗出，而反惡寒者，表未解也。醫反下之，動數變遲，膈內拒痛，胃中空虛，客氣動膈，短氣煩躁，心中懊憹，陽氣內陷，心下因鞕，則為結胸，大陷胸湯主之。若不結胸，但頭汗出，余無汗，齊頸而還，小便不利，身必發黃也。</p>
<p>傷寒五六日，嘔而發熱者，柴胡湯證具，而以他藥下之，柴胡證仍在者，復與柴胡湯。此雖已下之，不為逆，必蒸蒸而振，卻發熱汗出而解。苦心下滿而鞕痛者，此為結胸也，大陷胸湯主之。</p>

<h3>大陷胸湯戒</h3>
<p>結胸證，其脈浮大者，不可下，下之則死。</p>
<p>結胸證具，煩躁者死。</p>
<p>臟結亦如結胸，飲食如故，時時下利，寸脈浮，關脈細沉緊，名曰臟結，舌上胎滑者難治。</p>
<p>臟結無陽證，不往來寒熱，其人反靜，舌上胎滑者，不可攻也。</p>

<h3>疑問</h3>
<p>問曰：結胸證有五，曰大、小、寒、熱、水，何以分之？</p>
<p>答曰：大結胸者，乃汗下後，而重亡津液，邪氣內結，從心下至少腹鞕滿而痛，手不可近者。此不按而痛，乃邪氣內甚也，此屬大陷胸湯，以利邪氣也。</p>
<p>小結胸者，在心下按之則痛是也，屬小陷胸湯。</p>
<p>寒實結胸者，胸中痞結，水漿不下，此寒邪結於胸膈也，屬枳實理中丸與三物白散等。</p>
<p>熱實結胸者，此不因下後而成，乃傷寒六七日，邪氣傳裡之熱實也。脈沉緊，心下痛，按之石鞕者，只屬大陷胸湯，下邪熱也。</p>
<p>水結胸者，結胸無大熱，但頭微汗出，此為水飲也，亦屬大陷胸湯利下也。</p>

<h2>抵當湯（四十六）</h2>
<p>治太陽病，熱在下焦，小腹鞕滿，下血乃愈。所以然者，以太陽隨經，瘀熱在裡故也，此方主之。</p>
<p>水蛭（三十個）　虻蟲（三十個）　桃仁（二十個）　大黃（三兩）</p>
<p>上四味為末，以水五升，煮取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：太陽病者，膀胱之經也。若太陽之病不解，至六七日，熱氣內甚，結於膀胱，必為血證也。若脈微而沉，反不結胸者，其人小便自利，小腹鞕滿者，此為內蓄血證也。更其人發狂，以熱在下焦，必下血乃能愈也。所以然者，以太陽隨經，瘀熱在裡故也。經曰：血在上則忘，血在下則狂。故與水蛭為君，能破結血。虻蟲為臣輔之，此咸能勝血也。以桃仁之甘辛，破血散熱為佐。以大黃之苦為使，而下結熱也。且此四味之劑，乃破血之烈駃者也。</p>

<h3>抵當湯證</h3>
<p>太陽病六七日，表證仍在，脈微而沉，反不結胸，其人發狂者，以熱在下焦，小腹當鞕滿，若小便自利者，下血乃愈。所以然者，以太陽隨經，瘀熱在裡故也，抵當湯主之。</p>
<p>太陽病，身黃，脈沉結，小腹鞕，小便不利者，為無血也；小便自利，其人如狂者，血證諦也，抵當湯主之。</p>
<p>傷寒有熱，小腹鞕滿，應小便不利，令反利者，為有血也，當下之，不可余藥，宜抵當湯。</p>
<p>陽明證，其人喜忘者，必有蓄血。所以然者，本有久瘀血，故令喜忘，屎雖鞕，大便反易，其色必黑者，宜抵當湯下之。</p>
<p>病人無表裡證，發熱六七日，脈雖浮數，可下之；假令已下，脈數不解，胃熱則消穀易飢，不大便者，有瘀血也，宜抵當湯主之。</p>

<h2>十棗湯（四十七）</h2>
<p>治太陽中風，下利嘔逆，表解者，乃可攻之。其人漐漐汗出，發作有時，頭痛，心下痞鞕滿，引脅下痛，乾嘔，短氣，汗出不惡寒者，此表解里未和也，此方主之。</p>
<p>芫花　大戟　甘遂（等分）　大棗（十枚）</p>
<p>上三味，別為細末，以水二升，先煮棗熟，去滓，內末藥一匕服之，羸人減半，空心服之，當利下水，病不除再服，糜粥自養。</p>

<h3>湯議</h3>
<p>議曰：下利嘔逆者，里受邪也。若其人漐漐汗出，發作有時者，又不惡寒，此表邪已解，但里未和。若心下痞鞕滿，引脅下痛，乾嘔，短氣者，非為結胸，乃伏飲所結於裡也。若無表證，亦必烈駃之劑泄之乃已。故用芫花為君，破飲逐水。甘遂、大戟為臣。佐之以大棗，以益脾而勝水為使。經曰：以辛散之者，芫花之辛，散其伏飲。苦以泄之者，以甘遂、大戟之苦，以泄其水。甘以緩之者，以大棗之甘，益脾而緩其中也。</p>

<h3>疑問</h3>
<p>問曰：伏飲之證，出於雜病，此傷寒法中亦有此證何也？</p>
<p>答曰：其人本有痰病，因傷寒所發，或飲水湯停結不散，故成伏飲之證也。</p>

<h3>議諸下藥</h3>
<p>議曰：經云：陰盛陽虛，汗之則愈，下之則死。（陰盛者，惡寒，頭體痛，脈浮，此表證也。陽虛者，無里證也。若此表實，用麻黃汗之則愈，下之即死也。）　陽盛陰虛，下之則愈，汗之則死。（陽盛者，脈沉實，內熱口渴，大滿，大實，此里證也。陰虛者，無表證也。若此用硝、黃下之則愈，汗之則必死也。）　又曰：桂枝下咽，陽盛則斃。（當下誤汗也。）　承氣入胃，陰盛則亡。（當汗誤下也。）　以此推之，是知傷寒之法，至嚴至警，死生吉凶之應者，在乎汗下也。以大黃、芒硝下之者，為大承氣湯、小承氣湯、桃仁承氣、調胃承氣、大柴胡，若此數者，乃下其大滿、大實、大熱者也。至若十棗湯、大陷胸湯二者，乃下其大邪所結水氣伏飲也。於戲！汗下之法，霄壤之分，不可不慎懼焉。若以脈浮在表，外證未解諸條，動氣亡血諸虛，氣腫似水，陰厥似陽，皆不可下也。若欲下之者，又必須脈沉實，其證在裡者，下之無不愈也。若乃當下之證，又不可遲疑無決，直待其變而後下之，緩不及其事也。若失下，則血凝氣滯，如熱厥失汗，則熱閉狂妄而蓄膿是也。</p>

<h1>卷之六</h1>

<h2>大黃黃連瀉心湯（四十八）</h2>
<p>治傷寒大下後，復發汗，心下痞，按之濡，其脈關上浮緊者，此方主之。若有惡寒者，表未解也，宜先解表，然後攻痞。</p>
<p>大黃（三兩）　黃連（一兩）</p>
<p>上二味，以麻沸湯二升漬之，須臾，去滓，溫服。</p>

<h3>湯議</h3>
<p>議曰：病發於陰，而反下之，因而成痞。又表未解，而下之早，重者成結胸，輕者成痞。凡痞者，有陰陽之分焉。若心下痞，而復惡寒汗出者為陰，屬附子瀉心湯。今此心下痞，關上脈浮緊，不惡寒反惡熱者為陽，大黃黃連瀉心湯以導泄其虛熱也。經曰：火熱受邪，心病生焉。苦能入心，寒能除熱，故以黃連之苦寒為君，而通其心氣。以大黃之苦寒為臣使，以共瀉其心之虛邪，主熱痞結於中者也。</p>

<h3>疑問</h3>
<p>問曰：黃連瀉心湯用麻沸漬服者何也？</p>
<p>答曰：痞者乃虛邪所結，按之濡者，乃虛邪也。關上脈浮緊者，乃虛熱也。用此方以麻沸湯漬服者，取其氣味之薄，而泄虛熱也。</p>

<h2>附子瀉心湯（四十九）</h2>
<p>治心下痞，而復惡寒汗出者，此方主之。</p>
<p>大黃黃連瀉心湯加附子一枚，生用。</p>
<p>上將瀉心湯如前，用麻沸湯漬之，仍去渣，別將附子用水二升煎取汁，加前湯內，溫服。</p>

<h3>湯議</h3>
<p>議曰：心下痞者，乃虛熱內伏也。又惡寒汗出者，本為表未解，當用桂枝湯；若脈微弱者，加附子。今此有痞證，故用之。大黃黃連瀉心湯中加附子，用之去痞以固陽也。</p>

<h3>疑問</h3>
<p>問曰：前二分。古方中皆用黃芩，今此不用何也？</p>
<p>答曰：痞乃虛邪所結，只用黃連瀉心氣，大黃引之下泄，稍有惡寒汗出，便加附子，故去黃芩也。古方正經內亦無黃芩，余方有者，乃後人不詳其理誤添之也。</p>

<h2>半夏瀉心湯（五十）</h2>
<p>治傷寒五六日，嘔而發熱者，柴胡湯證具，而以他藥下之，柴胡證仍在者，復與柴胡湯。此雖已下之，不為逆，必蒸蒸而振，卻發熱汗出而解。若心下滿而鞕痛者，此為結胸也，大陷胸湯主之；但滿而不痛者，此為痞，柴胡不當與之，宜此方主之。</p>
<p>半夏　黃芩　乾薑　人參　甘草（炙，各三兩）　黃連（一兩）　大棗（十二枚）</p>
<p>上七味，以水一斗，煮取五升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：病在半表半裡，本屬柴胡湯，反以他藥下之，虛其脾胃，邪氣所歸，故結於心下，重者成結胸，心下滿而鞕痛也；輕者為痞，滿而不痛也。若此痞結不散，故以黃連為君，苦入心以泄之。黃芩為臣，降陽而升陰也。半夏、乾薑之辛溫為使，辛能散其結也。人參、甘草、大棗之甘，以緩其中，而益其脾胃之不足，使氣得平，上下升降，陰陽得和，其邪之留結者，散而已矣。經曰，辛入肺而散氣，苦入心而泄熱，甘以緩之，三者是已。</p>

<h3>疑問</h3>
<p>問曰：瀉心湯有五，曰大黃黃連瀉心湯、附子瀉心湯、半夏瀉心湯、生薑瀉心湯、甘草瀉心湯，此五者，各何主用也？</p>
<p>答曰：大黃黃連瀉心湯者，乃瀉其虛熱之邪，心下痞，大便不通者用之。</p>
<p>附子瀉心湯，乃瀉其虛熱之邪，惡寒汗出者用之。</p>
<p>半夏瀉心湯乃瀉其半表半裡之邪，誤下成痞，大便自通者用之。</p>
<p>生薑瀉心湯乃瀉其汗後餘邪，心下痞鞕，乾噫食臭，脅下有水氣，腹中雷鳴下利者用之。</p>
<p>甘草瀉心湯乃瀉其誤下傷胃，上逆虛邪，心下痞鞕，下利穀不化，腹中雷鳴，乾嘔，心煩不得安者用之。</p>
<p>先聖以此五方，皆曰瀉心而治痞者，各有取用不同也。</p>

<h2>生薑瀉心湯（五十一）</h2>
<p>治傷寒汗出，解之後，胃中不和，心下痞鞕，乾噫食臭，脅下有水氣，腹中雷鳴，下利者，此方主之。</p>
<p>半夏瀉心湯中，減乾薑二兩，加生薑四兩。</p>
<p>上如法</p>

<h3>湯議</h3>
<p>議曰：胃為津液之主，陽氣之根。大汗出後，外亡津液，胃中空虛，客氣上逆，心下痞鞕。此乃中焦之氣未和，不能消穀，故令乾噫食臭者，胃虛而不能化谷也。土虛不能制水，故脅下有水氣，腹中雷鳴，下利。與瀉心湯以攻痞，加生薑以益胃也。</p>

<h2>甘草瀉心湯（五十二）</h2>
<p>治傷寒中風，醫反下之，其人下利，日數十行，穀不化，腹中雷鳴，心下痞鞕而滿，乾嘔，心煩不得安。醫見心下痞，謂病不盡，復下之，其痞益甚，此非結熱，但以胃中虛，客氣上逆，故使鞕也，此方主之。</p>
<p>半夏瀉心湯中加甘草一兩。</p>
<p>上如法</p>

<h3>湯議</h3>
<p>議曰：傷寒中風，邪氣在表，醫反下之，虛其脾胃，陽氣內陷也，故下利，日數十行，穀不化，腹中雷鳴。胃中空虛，則客氣上逆，故心下痞鞕而滿，乾嘔，心煩不得安也。故與瀉心湯攻痞，加甘草以補中而益胃也。</p>

<h3>疑問</h3>
<p>問曰：瀉心湯中一加生薑，一加甘草，各立其名何也？</p>
<p>答曰：發汗後胃虛，外傷陽氣，致成痞者，故加生薑以益陽。大下後胃虛，內損陰氣，致成痞者，故加甘草以益其陰，而緩其中也。</p>

<h2>茯苓桂枝白朮甘草湯（五十三）</h2>
<p>治傷寒若吐、若下後，心下逆滿，氣上衝胸，起則頭眩，脈沉緊，發汗則動經，身為振搖者，此方主之。</p>
<p>茯苓（四兩）　桂枝（三兩）　白朮　甘草（炙，各二兩）</p>
<p>上四味，以水六升，煮取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：大吐則傷陽，大下則傷陰，今此吐、下後，陰陽之氣內虛，則虛氣上逆，心下逆滿，氣上衝胸，起則頭眩。若脈浮緊者，可發汗，今此脈沉緊者，不可發汗；發汗則動經，身為振搖者，此陽氣外內皆虛也。故用茯苓為君，白朮為臣，以益其不足之陽。經曰，陽不足者，補之以甘是也。以桂枝為佐，以散里之逆氣。以甘草為使，而行陽氣，且緩中也。</p>

<h2>茯苓桂枝甘棗湯（五十四）</h2>
<p>治發汗後，其人臍下悸者，欲作奔豚，此方主之。</p>
<p>茯苓（八兩）　桂枝（四兩）　甘草（五兩）　大棗（十五枚）</p>
<p>上四味，以甘瀾水一斗，即潦水也，先煮茯苓，減二升，內諸藥，再取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：《難經》曰：腎之積，名曰奔豚，發於小腹，上至心下，若豚狀，或上或下無時，久不已，令人喘逆，骨痿少氣，以夏丙丁日得之。今此發汗後，臍下悸，欲作奔豚者，雖無丙丁日得之，然乃汗者心之液，汗多則心虛，腎氣因斯而動也。丙丁亦即心也，故與茯苓為君，以其能伐腎邪而利水道。桂枝為臣，能泄腎之邪氣。甘草為佐，大棗為使，以補其中而益土氣，令其制水。甘瀾水音，取其不助腎邪也。</p>

<h2>黃芩湯（五十五）</h2>
<p>治太陽與少陽合病，自下利者，此方主之。</p>
<p>黃芩（三兩）　芍藥　甘草（各二兩）　大棗（十二枚）</p>
<p>上四味，以水一斗，煮取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：太陽與陽明合病，自下利者，為在表，與葛根湯汗之；陽明與少陽合病者，為在裡，與承氣湯下之；太陽與少陽合病者，自下利為在半表半裡，與黃芩湯以和解之。故與黃芩為君，以解少陽之裡熱，苦以堅之也。芍藥為臣，以解太陽之表熱而行營氣，酸以收之也。以甘草為佐，大棗為使，以輔腸胃之弱而緩中也。</p>

<h2>黃芩加半夏生薑湯（五十六）</h2>
<p>治太陽與少陽合病，自下利而嘔者。</p>
<p>黃芩湯中加半夏、生薑各三兩。</p>
<p>右如法。</p>

<h3>湯議</h3>
<p>議曰：太陽與少陽合病，自下利者，屬黃芩湯，已見於前議矣。若下利又更乾嘔者，故加半夏之辛以散逆氣，加生薑之辛以和其中而止嘔也。</p>

<h1>卷之七</h1>

<h2>四逆湯（五十七）</h2>
<p>治下利清穀，三陰厥逆，惡寒，脈沉而微者，此方主之。此乃溫經救陽之峻藥也。</p>
<p>附子（生，一枚）　乾薑（一兩半）　甘草（二兩）</p>
<p>上三味，以水四升，煮取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：病在於表之陽者，葛根湯、麻黃湯可汗之；病在於表之陰者，桂枝湯、麻黃附子細辛湯可汗之。病在於里之陽者，大小水氣揚、大柴胡湯皆可下之；病在於里之陰者，四逆湯、白通湯、真武湯皆可溫之。今此四逆湯，乃治病在於里之陰者用也。且下利淆谷，脈沉無熱；四肢厥逆，脈微；陽氣肉虛，惡寒脈弱；大吐、大下，元氣內脫；若此諳證，但是脈息沉遲微澀，虛脫不飲水者，皆屬於陰也。必以附子為君，以溫經濟陽。以乾薑為臣，輔佐之。甘草為佐為使，以調和二藥而散其寒也。《內經》曰：寒淫於內，治以甘熱。又曰：寒淫所勝，平以辛熱。乃附子之熱、乾薑之辛、甘草之甘是也。</p>

<h3>四逆湯證</h3>
<p>少陰病，脈沉者，急溫之，宜四逆湯。</p>
<p>大汗，若大下利而厥逆，以四逆湯主之。</p>
<p>大汗出，熱不止，內拘急，四肢疼，反下利，厥逆而惡寒者，四逆湯主之。</p>
<p>下利，腹脹滿，身疼痛者，先溫其里，乃攻其表。溫里宜四逆湯，攻表宜桂枝湯。</p>
<p>吐利，復汗出，發熱惡寒，四肢拘急，手足厥冷者，四逆湯主之。</p>
<p>吐利，小便複利而大汗出，下利清穀，內寒外熱，脈微欲絕者，四逆湯主之。</p>
<p>脈浮而遲，表熱裡寒，下利清穀者，四逆湯主之。</p>
<p>少陰病，飲食入口則吐，心中溫溫欲吐，復不能吐，始得之，手足寒，脈弦遲者，此胸中實，不可下也，當吐之。若膈上有寒飲，乾嘔者，不可吐也，急溫之，此屬四逆湯。</p>
<p>自利不渴，屬太陰，以其臟寒故也，宜四逆湯。</p>
<p>傷寒，醫下之，續得下利清穀不止，身疼痛，急當救裹；後身疼痛，清便自調者，急當救表。救裹宜四逆湯，救表宜桂枝湯。</p>

<h2>四逆加人參湯（五十八）</h2>
<p>治霍亂，惡寒脈微，而複利，利止，亡血也，此方主之。</p>
<p>四逆湯加人參一兩。</p>
<p>右如法。</p>

<h3>湯議</h3>
<p>議曰：霍亂後，尚惡寒而脈微，又複利者，陽虛陰盛也。若利止，則津液內竭，故云亡血。與四逆湯以溫經復陽，加人參以生津液也。</p>

<h2>當歸四逆渴（五十九）</h2>
<p>治手足厥寒，脈細欲絕者，此方主之。</p>
<p>當歸　桂枝　細辛　白芍藥（各三兩）　甘草　通草（各二兩）　大棗（二十五枚）</p>
<p>右七味，以水八升，煮取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：陰血內虛，則不能榮於脈；陽氣外虛，則不能溫於四末，故手足厥寒，脈細欲絕也。故用當歸為君，以補血。以芍藥為臣，輔之而養營氣。以桂枝、細辛之辛，以散寒溫氣為佐。以大棗、甘草之甘為使，而益其中，補其不足。以通草之淡，而通行其脈道與厥也。</p>

<h2>當歸四逆加茱薑湯（六十）</h2>
<p>治手足厥寒，脈細欲絕，其人內有久寒者。</p>
<p>當歸四逆湯中加吳茱萸三雨，生薑八兩。</p>
<p>右如法。</p>

<h3>湯議</h3>
<p>議曰：手足厥寒者，陽氣外虛，不溫四末。脈細欲絕者，陰血內虛，不榮於脈。故與當歸四逆湯，以養血固陽。若內有久寒之證者，加茱萸以散寒，生薑以溫經行陽氣也。</p>

<h2>四逆加豬膽汁湯（六十一）</h2>
<p>治吐已利止，汗出而厥，四肢拘急，脈微欲絕者。</p>
<p>四逆渴中加豬膽汁半合。</p>
<p>右如法。</p>

<h3>湯議</h3>
<p>議曰：霍亂病，吐已利止，津液必內竭，則不當汗出，令又汗出而厥，四肢拘急不解，脈微欲絕者，乃陽氣大虛也，陰氣獨盛也。若純與陽藥，恐為陰氣格拒，或嘔躁不能下咽，故加豬膽汁之苦，入通心氣，而和肝膽，平陰陽，無使格拒也。《內經》曰，微者逆之，甚者徒之，此之謂也。</p>

<h2>通脈四逆渴（六十二）</h2>
<p>治少陰病，下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其人面赤色，或腹痛，或乾嘔，或咽痛，或利止脈不出者，此方主之。</p>
<p>附子（一枚，生（　乾薑（三兩）　甘草（炙，二兩）</p>
<p>此即四逆湯加乾薑一兩半。右三味，以水三升，煮取一升，去渣服。</p>

<h3>加減法</h3>
<p>面赤色者，加蔥九莖。（味辛能通陽也。）</p>
<p>腹中痛者，加白芍藥二兩。（能安中補血，行榮止痛。）</p>
<p>嘔者，加生薑二兩。（生薑之辛，能止嘔散氣。）</p>
<p>咽痛者，加桔梗一兩。（能利嚥下氣。）</p>
<p>利止脈不出者，加人參二兩。（利止脈不出者，亡血也。加人參益氣行血。）</p>

<h3>湯議</h3>
<p>議曰：下利清穀，手足厥逆，服微欲絕，為裡寒也。身熱不惡寒，面色赤，為外熱。此陰盛於內，格陽於外，不能相通，故用四逆渴中加乾薑，以通內外之陽氣也。</p>

<h2>茯苓四逆渴（六十三）</h2>
<p>治發汗若下之，病仍不解，煩躁者，此方主之。</p>
<p>附子（生，一枚）　乾薑（一兩半）　甘草（二兩）　人參（一兩）　茯苓（六兩）</p>
<p>此即四逆渴中加人參、茯苓也。右如法。</p>

<h3>湯議</h3>
<p>議曰：發汗若下之，病當解，若不解，發汗外虛陽氣，後若下之，內虛陰氣，陰陽俱虛，邪獨不解，故生煩躁也。與四逆湯以復陽氣，加人參、茯苓以復陰氣也。</p>

<h3>疑問</h3>
<p>問曰：四逆湯加減者共七方，皆用乾薑、附子為主，獨當歸四逆湯皆不用薑、附何也？</p>
<p>答曰：諸四逆湯中用薑、附者，皆治其陽虛陰盛之證，獨當歸四逆湯治陰血虛微，手足厥寒，脈微欲絕者，故用當歸為主，不用薑、附，此乃自陽而傳陰厥逆者之用也。</p>

<h2>白通湯（六十四）</h2>
<p>治少陰病下利者，此方主之。</p>
<p>附子（一枚，生）　乾薑（一兩）　蔥白（四莖）</p>
<p>右三味，以水三升，煮取一升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：少陰者，腎水也。若脈沉微，下利無熱證者，乃少陰客寒，不能制腎水，故自利也。以附子為君，溫經散寒。加乾薑之辛熱，溫中益陽。加蔥白之辛，而通陽氣也。以此三味之劑，而治下利，若非內寒陰盛者，不可用也。</p>

<h2>白通加豬膽汁湯（六十五）</h2>
<p>治少陰病，下利脈微者，與白通利不止，厥逆無脈，乾嘔而煩者，此方主之。服湯已，脈暴出者死，脈微續者生。</p>
<p>白通渴中加豬膽汁一合、童便五合。</p>
<p>右如法，湯成，內豬膽汁、童便，和令相得，溫服。</p>

<h3>湯議</h3>
<p>議曰：少陰病，下利脈微者，與白通湯，服之利當止。若利不止，厥逆無脈，乾嘔煩者，乃寒氣太甚，內為格拒，使陽氣逆亂也。故加豬膽汁、童便二物，以和其陰。《內經》曰：逆而徒之，則格拒解也。</p>

<h2>附子湯（六十六）</h2>
<p>治少陰病一二日，口中和，其背惡寒者，當灸之，宜此方主之。</p>
<p>附子（二枚）　芍藥　茯苓（各三兩）　人參（二兩）　白朮（四兩）</p>
<p>右五味，以水八升，煮取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：少陰之氣，上通於舌下，若有熱，則口燥舌乾而渴。口中和者，是無熟也。背為陽，陽虛陰盛，則背惡寒也。經曰：背惡寒者，發於陰也。當灸之，宜灸背俞。與附湯服之，以附子為君，溫經散寒。茯苓為臣，而泄水寒之氣。以白朮、芍藥為佐，而益燥其中。以人參為使，而補其陽，以益其無氣而散其陰邪也。</p>

<h2>乾薑附子湯（六十七）</h2>
<p>治下之後，復發汗，晝日煩躁不得眠，夜則安靜，不渴不嘔，無表證，脈沉微，身無大熱者，此方主之。</p>
<p>附子（生，一枚）　乾薑（一兩）</p>
<p>右二味，以水三升，煮取一升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：大汗則表虛，大下則裡虛，既汗又下，表裡皆虛。陽主於晝，則陽虛不能勝邪，正邪交爭，故晝日煩躁不得眠。陰主於夜，陽虛不能與之爭，是夜則安靜。不嘔不渴者，里無熱也。身無大熱者，表無熱。又無表證，而脈沉微，知陽氣大虛，陰寒氣勝。故用附子為君，以溫經復陽。乾薑為臣佐，以輔之也。經曰，寒淫所勝，平以辛熱，此湯是也。</p>

<h2>朮附湯（六十八）</h2>
<p>治傷寒八九日，風濕相搏，身體煩疼，不能自轉側，不嘔不渴，脈浮虛而澀者，桂枝附子湯主之。若其人大便鞕，小便自利者，此方主之。</p>
<p>桂枝附子湯中除桂枝，加白朮四兩。</p>
<p>右如前法。</p>

<h3>湯議</h3>
<p>議曰：此方即桂枝附子湯中之法用也。已議在前，十九條中詳矣。若其人大便難，小便自利者，此為風濕之證，故就本方中去桂枝，加白朮主之，以治其濕也。考之《金匱》方中，止名朮附湯，此以正之。</p>

<h2>真武湯（六十九）</h2>
<p>治少陰病，二三日不已，至四五日，腹痛，小便不利，四肢沉重疼痛，自下利者，此為有水氣，其人或咳，或小便自利，或嘔者，此方主之。</p>
<p>又太陽病發汗，汗出不解，其人仍發熱，心下悸，頭眩，身瞤動，振振欲擗地者，此方主之。</p>
<p>附子（一枚，炮）　茯苓　芍藥（各三兩）　白朮（二兩）　生薑（三兩）</p>
<p>右五味，以水八升，煮取五升，去渣，溫服。加減見後。</p>

<h3>湯議</h3>
<p>議曰：少陰者腎也，真武者北方之正氣也。腎氣內虛，不能制水，故以此方主之。其病腹痛者，寒濕內勝也。四肢沉重疼痛者，寒濕外甚也。小便不利，又自下利者，濕勝而水穀不別也。或咳或嘔者，水氣在中也。故用茯苓為君，白朮為臣，二者入脾走腎，逐水祛濕。以芍藥為佐，而益脾氣。以附子、生薑之辛為使，溫經而散寒也。又發汗，汗出不解，其人仍發熱，邪氣未解也。心下悸，頭眩，身瞤動，振振欲擗地者，為真氣內虛而亡其陽，亦用此湯正氣溫經，而復其陽也。</p>

<h3>加減法</h3>
<p>若咳者，加五味子半升，細辛、乾薑各一兩。（氣逆咳者，五味子之酸，以收逆氣。水寒相搏則咳，細辛、乾薑之辛，以散少陰之水寒也。）</p>
<p>若嘔者，去附子，加生薑，足前成半斤。（氣逆則嘔，附子補氣故去之，生薑散氣故加之。嘔家聖藥是生薑也，故此多用。）</p>
<p>若下利者，去芍藥，加乾薑三兩。（芍藥酸能泄氣故去之，乾薑辛能散氣故加之。）</p>
<p>若小便利者，去茯苓。（小便利者，則無伏水，故去茯苓之滲也。）</p>

<h1>卷之八</h1>

<h2>梔子豉湯（七十）</h2>
<p>治發汗吐下後，虛煩不得眠，反覆顛倒，心中懊憹者。</p>
<p>肥梔子（十四枚）　香豉（四合）</p>
<p>右二味，以水四汁，先煮梔子，減二升，內豉，取一升半，去渣，分二服。溫進一服，得吐，止後服。</p>

<h3>湯戒</h3>
<p>凡用梔子豉湯，病人舊微溏者，乃里虛而寒在下也，雖煩則非蘊熱，不可與服之。</p>

<h3>湯議</h3>
<p>議曰：汗吐下之後，邪熱不散，結於胸中，煩熱鬱悶不得眠，謂之虛煩也。心惡熱，熱甚則必神昏，劇者反覆顛倒而不安，心中懊憹而憒悶，又非結胸痞證之比而可下，此乃必用吐之而散也。經曰，其高者，因而越之是也。故用梔子為君，其性苦寒，以湧宣其上膈之虛煩也。淡豆豉性平，能吐、能汗者，用之為臣佐，以吐胸中之邪也。《內經》曰，氣有高下，病有遠近，證有中外，治有輕重是也。瓜蒂散吐胸中實邪，梔子豉湯吐胸中虛邪者也。</p>

<h3>梔子豉湯證</h3>
<p>發汗吐下後，虛煩不得眠，若劇者，必反覆顛倒，心中懊憹，梔子豉湯主之。</p>
<p>發汗若下之，而煩熱，胸中窒者，梔子豉湯主之。</p>
<p>傷寒五六日，大下之後，身熱不去，心中結痛者，未欲解也，梔子豉湯主之。</p>
<p>陽明病下之，外有熱，手足溫，不結胸，心中懊憹，飢不能食，但頭汗出者，梔子豉湯主之。</p>
<p>下利後更煩，按之心下濡者，為虛煩，梔子豉湯主之。</p>
<p>陽明病下之，胃中空虛，客氣動膈，心中懊憹，舌上胎者，梔子豉湯主之。</p>

<h2>梔子厚朴渴（七十一）</h2>
<p>治傷寒下後，心煩腹滿，臥起不安者，此方主之。</p>
<p>梔子（十四枚）　厚朴（四兩）　枳實（四兩）</p>
<p>右三味，以水三升，煮取升半，去渣，分溫服，得吐，止後服。</p>

<h3>湯議</h3>
<p>議曰：下後但腹滿而不心煩，即邪氣入里；若心煩而不腹滿，即邪氣在胸中，屬梔子豉湯。今又煩而且腹滿，乃邪氣在胸腹之間也。煩而不能臥，滿而不能坐，故臥起皆不安。故用梔子為君，以吐其煩。厚朴為臣，枳實為佐使，二者之苦，以泄腹滿也。</p>

<h2>梔子乾薑湯（七十二）</h2>
<p>治傷寒，醫以丸藥大下之，身熱不去，微煩者主之。</p>
<p>梔子（十四枚）　乾薑（二兩）</p>
<p>右二味，以水三升，煮取升半，去渣，溫服。得吐者，止後服。</p>

<h3>湯議</h3>
<p>議曰：丸藥下之，損正氣，不能除熱，邪氣反乘虛留於胸中而未深入，故身熱不去而微煩。故用梔子為君，以吐虛煩。用乾薑為臣佐，以安中正氣也。</p>

<h2>梔子生薑豉湯（七十三）</h2>
<p>治梔子豉湯證中，若加嘔者，此方主之。</p>
<p>梔子豉湯中加生薑汁一兩。</p>
<p>右如前法。</p>

<h3>湯議</h3>
<p>議曰：心煩懊憹等證？與梔子豉湯吐之則已也。若又嘔者，為熱氣搏逆不散，加生薑之辛，以散其氣，以止其嘔也。</p>

<h2>梔子甘草湯（七十四）</h2>
<p>治梔子豉湯證中，若少氣者主之。</p>
<p>梔子豉湯中加甘草半兩。</p>
<p>右如法</p>

<h3>湯議</h3>
<p>議曰：懊憹心煩等證，屬梔子湯，已主之矣。若其人少氣者，為元氣虛乏，熱搏不能固也。加甘草之甘，以緩中而補氣也。</p>

<h2>梔子柏皮湯（七十五）</h2>
<p>治傷寒，身發黃，發熱者。</p>
<p>梔子（十五枚）　甘草（一兩）　黃柏（一兩）</p>
<p>右三味，以水四升，煮取二升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：傷寒發黃者有數等，已載前二十二條中詳矣。今此身黃髮熱者，為表裡有熱。其熱未實，不可汗之。故與梔子為君，能瀉相火，去胃熱，利小便。黃柏為臣，能去鬱滯之熱。甘草為佐、為使，能緩其中以瀉經中之熱也。</p>

<h2>厚朴姜夏草參湯（七十六）</h2>
<p>治發汗後，腹脹滿者，此方主之。</p>
<p>厚朴　生薑（各半斤）　半夏（二兩）　人參（一兩）　甘草（炙，二兩）</p>
<p>右五味，以水一斗，煮取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：吐後腹脹滿者，為實，屬調胃承氣湯。下後腹脹痛者，為有燥屎，屬大承氣湯。今此汗後腹脹滿者，為津液不足，氣滯不通，壅而為滿，為脾脹也。故用厚朴之苦，以泄腹滿為君。生薑、半夏之辛，以散滯氣為臣。人參之甘，生津液補不足。甘草之甘，以緩其中者也。</p>

<h2>旋覆代赭石湯（七十七）</h2>
<p>治汗吐下解後，心下痞鞕，噫氣不除者，此方主之。</p>
<p>旋覆花（三兩）　生薑（五兩）　甘草（三雨，炙）　人參（二兩）　代赭石（五兩）　大棗（十二枚）　半夏（二兩）</p>
<p>右七味，以水一斗，煮取六升，去渣，再煎，取三升，溫服。</p>

<h3>湯議</h3>
<p>議曰：汗吐下後，大邪雖解，胃氣已弱而未和，虛氣上逆，故心下痞鞕而噫氣不除者。與旋覆花下氣除痰為君。以代赭石為臣，而鎮其虛氣。以生薑、半夏之辛，而散逆氣，除痞散鞕以為佐。人參、大棗、甘草之甘，而調緩其中，以補胃氣而除噫也。</p>

<h2>赤石脂禹餘糧湯（七十八）</h2>
<p>治傷寒服湯藥，下利不止，心下痞鞕。服瀉心湯已，復以他藥下之，利不止，醫以理中與之，利愈甚。理中者，理中焦，此利在下焦，此方主之。複利不止者，當利其小便。</p>
<p>赤石脂　禹餘糧（各一兩）</p>
<p>右二味，以水六升，煮取二升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：理中湯乃治中焦之泄也，今此下利，由氣下而中虛，下焦滑也，故用之不應。必與赤石脂之澀為君，以固其滑，澀可去脫也。以禹餘糧之重鎮，固下焦為臣佐使，重可去怯也。以此二味配合為方者，乃取其固澀，以治滑泄也。凡下利，以固澀之不止，乃下焦清濁之氣不分，固當利小便，以分其氣也。</p>

<h2>吳茱萸湯（七十九）</h2>
<p>治厥陰病，乾嘔，吐涎床，頭痛者主之。</p>
<p>又少陰病，吐利，手足逆冷，煩躁欲死者主之。</p>
<p>又食谷欲嘔者，屬陽明也，吳茱萸湯主之。得湯反劇者，屬上焦也。</p>
<p>吳茱萸（四兩）　人參（三兩）　生薑（六兩）　大棗（十二枚）</p>
<p>右四味，以水七升，煮取二升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：乾嘔，吐涎沫，頭痛者，厥陰之寒氣上攻也。吐利，手足逆冷者，寒氣內甚也；煩躁欲死者，陽氣內爭也。食谷欲嘔者，胃寒不受食也。此以三者之證共用此方者，以吳茱萸能下三陰之逆氣為君，生薑能散氣為臣，人參、大棗之甘緩，能和調諸氣者也，故用之為佐使，以安其中也。</p>

<h2>豬苓湯（八十）</h2>
<p>治渴欲飲水，小便不利，脈浮發熱者主之。</p>
<p>豬苓　茯苓　澤瀉　阿膠　滑石（各一兩）</p>
<p>右五味，以水四升，煮取二升，去渣，內阿膠烊消，溫服。</p>

<h3>湯議</h3>
<p>議曰：豬苓湯與五苓散二方，大同而異者也。但五苓散中有桂、術，兼治於表也。豬苓渴中有滑石，兼治於內也。令此脈浮發熱本為表，又渴欲欲水，小便不利，乃下焦熱也。少陰下利，不渴者為寒。今此下利渴，又咳而嘔，心煩不得眠，知非虛寒，乃實熱也。故用豬苓為君，茯苓為臣，輕淡之味，而理虛煩、行水道。澤瀉為佐，而泄伏水。阿膠、滑石為使，鎮下而利水道者也。</p>

<h3>湯戒</h3>
<p>陽明病，汗出多而渴者，不可與豬苓湯，以汗多胃中燥，豬苓湯複利其小便也。</p>

<h1>卷之九</h1>

<h2>甘草附子湯（八十一）</h2>
<p>治風濕相搏，骨節煩疼，掣痛不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風不欲去衣，或身微腫者，此方主之。</p>
<p>附子（一枚，炮，為君）　甘草（炙，為佐）　白朮（一兩，為使）　桂枝（一兩，為臣）</p>
<p>右四味，以水六升，煮取三升，去渣，溫服一升，日三服。初服，得微汗則解。能食，汗出復煩者，服五合，恐一升多者，宜服六七合為妙。</p>

<h3>湯議</h3>
<p>議曰：風則傷衛，濕流骨節，風濕相搏，兩邪亂經，故骨節疼煩，掣痛不得屈伸，近之則痛劇。風勝則衛氣不固，汗出短氣，惡風不欲去衣，為風在表也。濕勝則水氣不行，小便不利，或身微腫，為濕氣內搏也。故用附子為君，除濕祛風，溫經散寒。桂枝為臣，祛風固衛。白朮去濕為使。甘草為佐，而輔諸藥，疏風去寒濕之方也。</p>

<h2>甘草乾薑湯（八十二）</h2>
<p>治誤汗煩躁，吐逆而厥者主之。</p>
<p>甘草（四兩，炙，為君）　乾薑（二兩，炮，為臣）</p>
<p>右二味，以水三升，煮取升半，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：脈浮，自汗出，惡寒者，為中風。今此又兼小便數者，心煩，腳攣急，為陰陽之氣虛，不可發汗。反與桂枝湯誤汗之，得之便厥，咽中干，煩躁上逆也。此乃不可汗而誤攻其表，榮衛之氣虛傷所致也。故與甘草為君，乾薑為臣，二者之辛甘合之，以復陽氣也。</p>

<h2>芍藥甘草湯（八十三）</h2>
<p>治誤汗傷血，則厥逆腳攣急主之。</p>
<p>白芍（四兩，為君）　甘草（四兩，炙，為臣佐）</p>
<p>右二味，以水四升，煮取二升，分溫服。</p>

<h3>湯議</h3>
<p>議曰：大汗則傷血，若陰虛之人，汗之則誤也，必煩躁吐逆，四肢攣急。此乃不當汗者，汗之則陰虛血少所致也。故與白芍為君，而補營血。炙甘草為臣，合而用之，以補陰氣也。</p>

<h2>甘草湯（八十四）</h2>
<p>治少陰病二三日，咽痛者主之。</p>
<p>甘草（二兩）</p>
<p>右一味，以水三升，煮取升半，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：少陰之脈，循咽而止。寒熟相搏不散，而成咽痛，故與甘草一味，以泄咽膈之氣也。</p>

<h2>炙甘草湯（八十五）</h2>
<p>治傷寒，脈結代，心動悸者主之。</p>
<p>甘草（炙，四兩）　生薑　桂枝　麻子仁　麥冬（各三兩）　人參　阿膠（各二兩）　生地汁（六合）</p>
<p>大棗（十二枚）</p>
<p>右九味，以水八升，酒七升，同煎，取五升，去滓，內膠烊，溫服。</p>

<h3>湯議</h3>
<p>議曰：脈按之來緩，而時一止復來者，名曰結。又脈來動而中止，更來小數，中有還者反動，名曰結陰也。又脈來藹藹，如車蓋者，名曰陽結也。又脈累累，如循長竿者，名曰陰結也。此皆仲景所言結脈，炎邪氣留結，其氣虛散，陰陽鬱結，不能相榮也。脈來動而中止，不能自還，因而復動，名曰代陰也，此真氣衰極，脈不能自還，因其呼吸，陰陽相引復動。心中悸動，因脈結代，故知為真陰氣虛少，陰氣虛敗。故與炙甘草為君，人參、大棗為臣，以補無氣之不足者。以桂枝、生薑之辛，而益正氣為佐。以麥門冬、阿膠、麻子仁、地黃之甘，潤經益血，而補其陰為使。以清酒為引而能通，以復脈者也。</p>

<h2>芍藥甘草附子湯（八十六）</h2>
<p>治發汗，病不解，反惡寒者，虛故也，此方主之。</p>
<p>白芍（君）　甘草（臣，炙，各三兩）　附子（佐使，一枚，炮）</p>
<p>右三味，以水五升，煮取二丹，去渣，分溫服。</p>

<h3>湯議</h3>
<p>議曰：發汗後病解，則不惡寒，病不解，表實亦不惡寒。今此大汗出，又反惡寒，其脈微弱者，為榮衛虛者也。若非大汗出而又惡寒，其脈沉微無熱證者，不可服也。</p>

<h2>茯苓甘草湯（八十七）</h2>
<p>治傷寒，汗出而渴者，五苓散主之；不渴者，此方主之。</p>
<p>茯苓（君）　桂枝（各二兩）　甘草（一兩）　生薑（三兩）</p>
<p>右四味，以水四升，煮取二升，去渣，分溫服。</p>

<h3>湯議</h3>
<p>議曰：傷寒，汗出不惡風，渴而飲水者，屬人參白虎湯。若汗出而渴，脈浮，小便不利者，屬五苓散。今此汗出而不渴者，為邪不傳裡，但在表而表虛也。故與茯苓為君，而益津和中。甘草為臣輔之。以桂枝為佐，生薑為使，二者之辛，而固衛氣者也。</p>

<h2>黃連湯（八十八）</h2>
<p>治傷寒胸中有熱，胃中有邪氣，腹中痛，欲嘔吐者，此方主之。</p>
<p>黃連　甘草　乾薑　桂枝（各三兩）　人參　半夏（各三兩）　大棗（十二枚，擘）</p>
<p>右七味，以水一斗，煮取六升，去渣，溫服。此即半夏瀉心湯加桂枝也。</p>

<h3>湯議</h3>
<p>議曰：濕家下後，舌上如胎者，以丹田有熱，胸中有寒，是邪氣入里，而為上熱下寒也。此傷寒邪氣傳裡，而為下寒上熱也。胃中有邪氣，使陰陽不交。陰不得升為下寒，故腹中痛；陽不得降為上熱，故欲嘔吐也。故與半夏瀉心湯中加桂枝，升降陰陽之氣也。為下痛，故去黃芩。經曰：上熱者，泄之以苦，下寒者，散之以辛。故用黃連為君，以治上熱。乾薑、桂枝、半夏，以散下寒為臣。人參、大棗、甘草之甘，以益胃而緩其中也。</p>

<h2>黃連阿膠湯（八十九）</h2>
<p>治少陰病，得之二三日以上，心中煩不得臥者主之。</p>
<p>黃連（四兩）　阿膠（三兩）　芍藥（二兩）　黃芩（一兩）　雞子黃（二兩）</p>
<p>右以水先煮三物、減半，去渣，內膠烊盡，小冷，內雞子黃，攪令相得，溫服。</p>

<h3>湯議</h3>
<p>議曰：少陰病三日以上，心中煩不得臥者，乃寒極變熱也，熟煩於內而然。故用黃連為君，黃芩為臣，以除內熱。而陽有餘，以阿膠、雞子黃之甘，以補陰不足為佐。芍藥之酸，以斂陰氣而泄邪熱為使也。</p>

<h2>乾薑黃連人參湯（九十）</h2>
<p>治傷寒本自寒下，醫復吐下之，寒格，更逆吐下，若食入口即吐者主之。</p>
<p>乾薑　黃芩　黃連　人參（各三兩）</p>
<p>右四味，以水六升，煮取三升，去渣，溫服。</p>

<h3>湯議</h3>
<p>議曰：傷寒本自寒下，其人下虛也。醫復吐下之，寒格更逆，損傷正氣，寒氣內為格拒，則陰陽不通，食入口即吐也。寒格，更逆吐下者，是醫不知又復吐下，則重虛而死也。故用乾薑為君，以散逆氣而調其陽，辛以散之也。以黃連為臣，而和其陰；黃芩為佐，以通寒格，苦以泄之也。以人參為使，而和其中，補益真氣，甘以緩之也。</p>

<h1>卷之十</h1>

<h2>桃花湯（九十一）</h2>
<p>治少陰病，下利，便膿血者，此方主之。</p>
<p>又少陰病二三日，腹痛，小便不利，下利不止，便膿血者主之。</p>
<p>赤石脂（一斤，半煎，半末）　乾薑（一兩）　粳米（一斤）</p>
<p>右三味，以水七升，煮令米熟，去渣，內石脂末，分溫服。</p>

<h3>湯議</h3>
<p>議曰：陽明病，下利膿血者，為協熱也，屬白頭翁湯。少陰病，下利，便膿血者，為下焦不約而裡寒也。故用赤石脂為君，而固腸胃，澀可去脫也。乾姜為臣，散寒溫氣，辛以散之也。粳米為佐使，以補正氣而安其中，甘以緩之也。</p>

<h2>豬膚湯（九十二）</h2>
<p>治少陰病，下利咽痛，胸滿心煩者主之。</p>
<p>豬膚（一斤）　白蜜（一斤）　白粉（五合）</p>
<p>右以水一斗，煮取五升，去渣，內蜜、粉，熬香，和得所，分溫服。</p>

<h3>湯議</h3>
<p>議曰：少陰之脈循咽，若陽經之邪傳於少陰者，則必咽痛。乃陰虛客熱所結也，故胸滿心煩而自下利。故與豬膚為君，入少陰之經而解客熱也。以白粉為佐，白蜜為使，潤燥除煩而止利也。</p>

<h2>桔梗湯（九十三）</h2>
<p>治少陰病咽痛者，與甘草湯不差者，與桔梗湯。</p>
<p>桔梗（一兩）　甘草（二兩）</p>
<p>右二味，以水三升，煮取一升，去渣服。</p>

<h3>湯議</h3>
<p>議曰：少陰咽痛者，與甘草湯。若不差者，是邪氣結甚，甘草不能下也。故用枯梗為君，桔梗能浮而治上焦，利肺姜，為眾藥之舟楫也。以甘草為臣佐，合而治之，其氣自下也。</p>

<h3>議咽痛可刺</h3>
<p>議曰：少陰之脈，與陰蹻合而行之。少陰之氣上結於咽，則陰蹻之脈亦下結於踝也。下結不通，縱服藥而無效，亦必須於陰蹻照海針之則已也。</p>

<h2>苦酒湯（九十四）</h2>
<p>治少陰咽中傷生瘡，不能言語，聲不出者主之。</p>
<p>苦酒　半夏（十四枚）　雞子白（一枚）</p>
<p>右三味，內雞子殼中，安火上，令三沸，去渣，少少含咽之。不差者，作三劑。</p>

<h3>湯議</h3>
<p>議曰：少陰客熱所暴，則傷於經絡乾澀，使咽中生瘡，不能言，聲不出。故用苦酒為君，酸以斂瘡。半夏為臣，辛以散結。雞子為使，以緩咽痛而潤其燥也。</p>

<h2>白頭翁湯（九十五）</h2>
<p>治熱利下重，及下利慾飲水者主之。</p>
<p>白頭翁（二兩）　黃連（臣）　黃柏（佐）　秦皮（使，各三兩）</p>
<p>右四味，煎服。</p>

<h3>湯議</h3>
<p>議曰：大利後，津液少，熱氣不散，則廣腸燥澀而下重也。下重者，欲下不出之意。今此厥陰條中所載熱利下重，渴而欲飲水者，乃陰虛生熱之盛也。亦必用苦寒之劑治之方已，非可作陰虛而用溫劑也。故用白頭翁為君，黃連為臣，黃柏為佐，秦皮為使。以此四味寒苦之劑，而治下利之證者，知其熱盛於內，苦以泄之也。</p>

<h2>半夏散及湯（九十六）</h2>
<p>治少陰咽中痛者主之。</p>
<p>半夏　桂枝　甘草（等分）</p>
<p>右三味，以水三升，先煮半夏，減升半，內二味，煎取一升，小冷，少咽之。</p>

<h3>湯議</h3>
<p>議曰：甘草湯治少陰客熱也，桔梗湯治少陰寒熱相搏也；半夏散及湯治少陰客寒也。三者皆主咽痛，各分所用也。此以半夏為君，桂枝為臣，辛以散之也。甘草為佐使，甘以緩之也。</p>

<h2>枳實梔子湯（九十七）</h2>
<p>治大病瘥後，勞復者主之。若有宿食者，加大黃。</p>
<p>枳實（二枚）　梔子（十四枚）　豉（一升）</p>
<p>右三味，以清漿七升，空煮，取四升，內枳實、梔子，取二升，下豉、更煮五六沸，去渣，分溫服。覆取微汗。</p>

<h3>湯議</h3>
<p>議曰：大病新瘥，未滿百日，氣血未平，若妄勞力而又發熱者，為勞復；食肉太早，過傷穀氣發熱者，為食復。今此方通主之者，以枳實為君而下氣，以梔子為臣而散勞熱，以豉為佐而泄熱。若有宿食者，加大黃以利之也。此本梔子豉湯加枳實，則應吐，今反取汗者，乃熱聚於表，苦以發之也。</p>

<h2>竹葉石膏湯（九十八）</h2>
<p>治傷寒解後，虛羸少氣，氣逆欲吐及虛煩客熱不退者主之。</p>
<p>竹葉（二把）　石膏（一斤）　半夏（半升）　人參（三兩）　麥門冬（一升，去心）　甘草（二兩）　粳米（半升）</p>
<p>右七味，以水一斗，煮取六升，去渣，內米，取米熟，去米，溫服。</p>

<h3>湯議</h3>
<p>議曰：傷寒解後，虛熱不盡，則少氣，氣逆欲吐也。故用竹葉為君，石膏為臣，以解虛熱內客也。以半夏為佐，以治逆氣欲吐者。以人參、粳米、甘草、門冬四者之甘，以補不足而緩其中也。</p>

<h2>茵陳蒿湯（九十九）</h2>
<p>治陽明病，發熱汗出，此為熱越，不能發黃也。但頭汗出，身無汗，劑頸而還，小便不利，渴欲飲水漿者，此為瘀熱在裡，身必發黃，此方主之。</p>
<p>又傷寒七八日，身黃如橘子色，小便不利，腹微滿者，此方主之。</p>
<p>茵陳蒿（六兩）　梔子（十四枚）　大黃（二兩）</p>
<p>右三味，以水一斗，先煮茵陳，減二升，內二味，煮取三升，去渣，分溫服。</p>
<p>小便當利，如皂角汁狀，一宿腹減，黃從小便出也。</p>

<h3>湯議</h3>
<p>議曰：陽明者，顯胃之土，其色黃。若發熱汗出者，為熱氣得越，不能發黃也。但頭上汗出，劑頭而還者，乃熱氣不得越也。小便不利，渴欲飲水漿者，乃熱甚於胃，津液內竭，瘀結為黃也。故用茵陳為君，能治黃。梔子為臣，梔能治黃，寒以治熱也。以大黃為佐使，以下泄瘀熱而除其黃也。</p>

<h2>蜜煎導方（一百）</h2>
<p>治陽明病，自汗出，若發汗，小便自利者，此為津液內竭也，大便雖鞕，不可攻之，當須自欲大便，宜蜜煎導而通之。若土瓜根及與大豬膽汁，皆可為導也。</p>

<h3>蜜五合</h3>
<p>右將蜜於銅器內，微火煎之，稍凝似飴狀，攪之勿令焦，滴水中堅凝可用，蘸皂角末捻作挺，以豬膽汁或油潤穀道，內之，少頃，欲大便乃去之。又豬膽汁方，以豬膽汁一二枚，以小竹管插入膽口，留一截，用油潤，內入穀道中，以手將膽捻之，其汁自內出，一食頃，當大便下。又用土瓜根削如指狀，蘸豬膽汁，入內穀道中，亦可用。</p>

<h3>湯議</h3>
<p>議曰：大便不通者，必用下之。有下之而不得通者；有津液內竭，腸胃乾燥，大便因鞕，不可通者，此非結熱也。故立是法而用之。</p>

<h2>豬膽汁方（一百一）</h2>
<p>見上同。</p>

<h1>卷之十一</h1>

<h2>五苓散（一百二）</h2>
<p>治發汗後，煩渴欲飲水者主之。</p>
<p>茯苓　豬苓　白朮（各二兩）　澤瀉（二兩）　桂枝（半兩，去皮）</p>
<p>右五味，為末，以白湯調服，多飲暖水，出汗愈。</p>

<h3>湯議</h3>
<p>議曰：發汗俊，煩渴飲水，脈洪大者，屬白虎湯。發汗後，煩渴飲水，內熱實，脈沉實者，屬承氣湯。今此發汗後，煩渴欲飲水，脈浮，或有表，小便不利者，屬五苓散主之。五苓散乃汗後一解表藥也。此以方中雲覆取微汗是也。故用茯苓為君，豬苓為臣，二者之甘淡，以滲泄水飲內畜，而解煩渴也。以澤瀉為使，鹹味泄腎氣，不令生消渴也。桂枝為使，外能散不盡之表，內能解有餘之結，溫腎而利小便也。白朮為佐，以其能燥脾土而逐水濕也。故此五味之劑，皆能逐水而祛濕。是曰五苓散，以其苓者令也，通行津液，克伐腎邪，號令之主也。</p>

<h3>五苓散戒</h3>
<p>陽明自汗引飲，則五苓散不可輕進。且陽明自汗者，則津液燥，為急下之證，若更利其小便，則誤也。</p>

<h3>五苓散證</h3>
<p>太陽病發汗，大汗出，胃中干，煩躁不得眠，欲得欲水者，少與之飲，令胃氣和則愈。若脈浮，小便不利，微熱消渴者，五苓散主之。</p>
<p>發汗已，脈浮數，煩渴者，五苓散主之。</p>
<p>中風發熱，六七日不解而煩，有表裡證，渴欲飲水，水入則吐者，名曰水逆，五苓散主之。</p>
<p>本以下之，故心下痞，與瀉心湯不解，其入渴而口燥煩，小便不利者，五苓散主之。</p>
<p>霍亂病，頭疼發熱，身痛熱多，欲飲水者，五苓散主之。</p>

<h3>疑問</h3>
<p>問曰：五苓散方中皆治里證，又曰覆取汗何也？</p>
<p>答曰：五苓散乃汗後一解表藥也。且傷寒發汗後當解，今此不解者，為有內熱。煩渴飲水，又加余表不能盡解也。若與桂枝湯，又幹內熱：若與白虎湯，又兼有表，故與五苓散，中用桂枝，取微汗以兩解也。且白虎湯亦曰汗俊一解表者，乃表實自汗出，不惡風，而煩渴引飲者所設也。</p>
<p>問曰：五苓散中有用桂者，亦用桂枝者何也？</p>
<p>答曰：此兩用也。若兼表者，用桂枝；若專利水飲者，卻用桂也。</p>

<h2>四逆散（一百三）</h2>
<p>治少陰病四逆，其人或咳或悸，或小便不利，或腹中痛，或泄利下重者主之。</p>
<p>甘草　枳實　柴胡　芍藥（等分）</p>
<p>右四味，為細末，白飲和服。</p>

<h3>湯議</h3>
<p>議曰：四逆者，乃手足不溫也。四厥者，乃寒冷之甚也。四厥為陰寒之邪，四逆為傳經之邪，自陽熱已退，邪氣不散，將若傳陰而未入也。此只屬陽，故與涼劑以治之。用甘草為君，以和其中，而行其四末。以枳實為臣，而行結滯。以芍藥為佐，而行榮氣。以柴胡為使，而通散表裡之邪也。</p>

<h3>加減法</h3>
<p>若咳者，加五味子、乾薑各五分，並主下痢。（肺氣逆則咳，加五味子之酸以收逆；加乾姜之辛以治寒。兼痢同用也。）</p>
<p>若悸者，加桂枝五分。（氣虛不能通行心氣，則心下築築而動悸也。桂枝入心，故加之。）</p>
<p>若小便不利，加茯苓五分。（茯苓能滲泄而利小便也。）</p>
<p>若腹中痛者，加白芍藥五分。（古金鏡方中用白芍藥，以其能止痛，後人改作附子。）</p>
<p>若泄利下重者，先以水五升，煮薤白三升，煮取三升，去渣，內散五分，再煮取一升半，分溫服。（加薤白以升下焦之滯氣也。）</p>
<p>瓜蒂散（一百四）</p>
<p>治病如桂枝證，頭不痛，項不強，寸脈微浮，胸中痞鞕，氣上衝咽喉，不得息者，此為胸中有寒也，當吐之，宜瓜蒂散。</p>
<p>瓜蒂（二錢）　赤小豆（三錢）　豉</p>
<p>右二味，各搗焉末，合治，取一錢匕，以香豉一合煮取湯，和散溫服之。不吐，少加，得快吐乃止。</p>

<h3>瓜蒂散戒</h3>
<p>諸亡血家、血虛家，皆不可吐也。昏憒者，亦不可吐。</p>

<h3>湯議</h3>
<p>議曰：發熱，汗出惡風，病如桂枝湯證也。今此頭卻不痛、項不強，寸脈微浮，胸中痞鞕，氣上衛咽喉，不得息者，此非桂枝證，乃寒邪客於胸中，而不在表也。故用瓜蒂為君，味苦寒；赤小豆為臣，味酸寒；淡豉為佐為使，三者之酸苦，合而用之，以吐其上膈之實也。經曰，酸苦湧泄為陰，此其用焉。</p>

<h2>文蛤散（一百五）</h2>
<p>治病在陽，應以汗解之，反以冷水潠之。若灌之，其熱被劫不得出，彌更益煩，肉上粟起，意欲飲水，反不渴者，服文蛤散。若不瘥者，與五苓散。寒實結胸，無熱證者，與三物小陷胸湯，白散亦可服。</p>
<p>文蛤（五兩）</p>
<p>右一味，為末，以沸湯調一錢服。</p>

<h2>白散（一百六）</h2>
<p>桔梗　貝母（各五錢）　巴豆（一錢，去皮心，熬黑，研如脂，上和二味）</p>
<p>右三味，相合，以白飲和服，量虛實用之。病在膈上必吐，在膈下必利。不利，進熱粥一杯；利過不止，進冷粥一杯。</p>

<h3>湯議</h3>
<p>議曰：病在陽者，為邪在表，法當汗出而解。反以冷水潠之，或灌洗，其熱被寒水所卻，外不得出，則反攻其裹也。彌更益煩，肉上粟起者，乃寒水之氣客於皮膚也。意欲飲水者，里有熱也。反不渴者，寒在表也。故與文蛤一味，以散表中水寒之氣。若不瘥者，是水熱相搏，欲傳於裡也。故與五苓散發汗以和之。若心下鞕滿者，乃水寒之氣結而成寒實結胸也。故與小陷胸湯破之；如不應，與白散利泄也。若咽膈阻塞者，與枳實理中丸，亦可取功也。</p>

<h2>燒裩散（一百七）</h2>
<p>治償陽易。</p>
<p>右取男女中裩近陰處，剪烷灰，以水和服方寸匕，日三服。小便即利，陰頭微腫則愈。</p>

<h3>湯議</h3>
<p>議曰：大病新瘥，氣血未復，餘熱未盡，強合陰陽，故曰易也。易者，如換易也。故與裩中陰處燒灰服之，以復其氣也。男病用女者，女病用男者，此以陰陽復易之義也。</p>

<h2>牡蠣澤瀉散（一百八）</h2>
<p>治大病瘥後，從腰以下有水氣者主之。</p>
<p>牡蠣　澤瀉　栝蔞根　蜀漆　商陸根　葶藶　海藻（等分）</p>
<p>右七味，為末，白飲和服。小便利，止後服。</p>

<h3>湯議</h3>
<p>議曰：大病瘥後，脾胃氣虛，不能制約腎水，水溢下焦，腰以下為腫也。故當利其小便，以牡蠣為君，澤瀉、海藻為臣，三味之咸，能入腎而泄水氣。以葶藶、商陸為佐，以苦堅之。以栝蔞根之苦寒，蜀漆之酸寒為使，酸苦以泄其下而降濕腫也。</p>

<h1>卷之十二</h1>

<h2>理中丸（一百九）</h2>
<p>治霍亂病，嗝吐泄利，寒多不飲水者。</p>
<p>人參　白朮　甘草　乾薑（各三兩）</p>
<p>右四味為末，以蜜丸，彈子大，沸渴調服。若只㕮咀，用水煎服。</p>

<h3>加減法</h3>
<p>若臍上築者，腎氣動也，去朮，加桂枝四兩。（脾虛則腎氣發動，故臍上築也。術能壅氣，故去之。桂泄奔豚氣，加之。）</p>
<p>若吐多，去朮，加生薑三兩。（生薑止嘔，辛以散之也。嘔家不喜術，故去之也。）</p>
<p>若下多者，加白茯苓三兩。（茯令之甘淡，能利水止泄也。）</p>
<p>渴欲得水者，加參、術各一兩半。（內虛則渴，加人參以補之。不止者，加黃芩、芍藥則止。）</p>
<p>寒者加乾薑一兩半。（寒淫所勝，平以辛熱。）</p>
<p>腹滿者去朮，寒甚者加附子一枚炮。服湯後，如食頃，啜熱粥一升許，微自汗，勿發揭衣被。（胃虛則腹滯氣壅，甘令中滿，故去朮。加附子以補陽。若脈微，手足厥逆，惡寒內甚者，加附子。）</p>

<h3>方議</h3>
<p>議曰：霍亂者，乃一時之間，揮霍悶亂，上吐下泄者是也。若頭痛發熱，身疼痛，熱多欲飲水者，邪生於陽也，屬五苓散與外臺和中湯以散之。若脈微小，寒多不用水者，邪發於陰也，屬理中丸、湯，甚者加附子主之。經曰：脾欲緩，急食甘以緩之。故用人參為君，補中正氣。以甘草為臣輔之也。以白朮為佐，正氣固中。以乾薑為使，溫脾散寒。經曰，寒淫所勝，平以辛熱是也。</p>

<h2>烏梅丸（一百十）</h2>
<p>治傷寒，脈微而厥，至七八日，膚冷，其人躁無暫安時者，此為臟厥，非蛔厥也。蛔厥者，其人當吐蛔。今者靜而復時煩，此為臟寒。蛔上入膈，故煩，須臾復止，得食而嘔又煩者，蛔聞食臭出，其人當吐蛔。蛔厥者，此方主之。</p>
<p>烏梅（五十個）　細辛　附子　桂枝　黃柏　人參（各一兩）　當歸　川芎（各七錢）　黃連（二兩）　乾薑（一兩）</p>
<p>右十味，各搗篩，合治之，以苦酒漬烏梅一宿，去核蒸之，搗爛，和藥令相得，內桕中，加蜜，杵千餘下，丸如桐子大，空心飲湯服三十丸，加至五十丸。禁生冷物惡臭。</p>

<h3>方議</h3>
<p>議曰：蛔厥者，乃多死也。其人陽氣虛微，正元衰敗，則飲食之物不化精氣，反化而為蛔蟲也。蛔為陰蠱，故知陽微而陰勝。陰勝，則四肢多厥也。若病者時煩時靜，得食而嘔，或口常吐清水，時又吐蛔者，乃蛔病也。又腹痛，脈反浮大者，亦蛔證也。有此，當急治，不治殺人。故用烏梅為君，其味酸能勝蛔。以川椒、細辛為臣，辛以殺蟲。以乾薑、桂枝、附子為佐，以勝寒氣而溫其中。以黃連、黃柏之苦以安蛔，以人參、當歸之甘而補緩其中，各為使。以其蛔蟲為患為難，比寸白蟲等劇用下殺之劑，故用勝制之方也。</p>

<h2>大陷胸丸（百十一）</h2>
<p>治結胸澄，項亦強，如柔痓狀，下之則和，此方主之。</p>
<p>大黃（一兩）　芒硝　葶藶　杏仁（各四兩，去皮）</p>
<p>右四味，搗篩，外以杏仁、芒硝和如泥，別搗甘遂末一錢，和勻，以少熟蜜共丸，如彈子大，以沸湯調服。一宿乃下，不下更服，取下為效，禁如藥法。</p>

<h3>方議</h3>
<p>議曰：結胸之證，亦載大陷胸湯中祥矣。今此大陷胸丸者，與方議同，但加杏仁、葶藶二味。以蜜為丸者，取其緩也。若證急者用湯，緩者用丸也。</p>

<h2>抵當丸（百十二）</h2>
<p>治傷寒有熱，少腹滿，應小便不利；今反利者，為有血也，當下之，宜抵當丸。</p>
<p>抵當湯中減水蛭十條。</p>
<p>右四味，另搗水蛭、虻蟲外，將杏仁浸去皮搗爛，和三味，加少熟水和勻，丸如彈子大，每一丸以水一升煮之，取七合服，當取下血，不下更服。</p>

<h3>方議</h3>
<p>議曰：抵當湯治證之急者用之，抵當丸乃治證之緩者用之。今此雖是血證，為無身黃屎黑、喜忘發狂，未至於甚，故只用抵當丸。減水蛭，為末作丸予之，取其性之緩也。</p>

<h2>麻仁丸（百十三）</h2>
<p>治趺陽脈浮而澀，浮則胃氣強，澀則小便數，浮澀相搏，大便則難，其脾為約，此方主之。</p>
<p>麻子仁（四兩）　杏仁（六兩）　芍藥　枳實（各二兩）　厚朴（三兩）　大黃（八兩）</p>
<p>右六味，為末，以杏仁浸去皮搗爛，加蜜，杵千餘下，丸如桐子大，熟水下五十丸。</p>

<h3>方議</h3>
<p>議曰：趺陽脈者，乃脾胃之脈也。脈不當浮，令反浮者，若非胃氣虛，則胃氣強也。浮而澀者，為胃氣燥，大便則難，其脾為約，約者束也。此必汗出多，走亡津液，胃氣燥澀，大便不得通也。趺陽脈浮者，雖大便難，尤不可以用大承氣等湯下泄之者，仲景故配以麻仁丸方，以潤導之也。故用麻仁為君，杏仁為臣，二者能潤燥也。以枳實、厚朴能調中散結氣為佐。以芍藥之酸能斂津液，大黃之苦能泄能下，二者為使，以通導而引潤下也。</p>

<h3>內臺用藥性品制</h3>
<p>性大熱，溫經回陽衛氣者：附子，回陽者炮用，去皮臍；解急者生用，不去皮臍。乾薑，治寒者炮，解急者生。桂枝，削去粗皮，解肌表，中風用，又能止汗。桂，厚者削去皮，溫經通氣，利小便用。吳茱萸，湯炮七次，去黃水，再日乾用。</p>
<p>性熱，溫中破氣，散濕逐痰飲者：生薑，常用薄片同藥煎，急用搗取自然汁。白朮，生，洗淨用。厚朴，去皮，㕮咀。每一斤用生薑一斤搗汁浸炒。半夏，湯煮，再用水去涎，㕮咀，日乾用。蜀椒，微炒汗出，去目及合口者。旋覆花，洗淨，生用，必須棉布濾過。細辛，洗淨，去土用。</p>
<p>性溫，補中益氣而緩者：人參，洗淨用。甘草，治陰病者炙，治陽病者生。膠飴，即飴糖。大棗，去核用。黃耆，蜜炙。阿膠，治熱病者生用，治補者炒成珠。雞子，或用黃，或用白。豬膚，雄豬皮膚。白蜜，白糖炒。蜂蜜，慢火熬。米粉，即粳米粉。</p>
<p>性輕而溫，能發汗者：麻黃，去根節，湯煮一頃，再洗用。蔥白，去青，用白。通草。</p>
<p>性輕而涼，發汗利水道者：葛根，生用。　豬苓，生用。竹葉，生用。蕘化，生用。</p>
<p>性涼，能入營氣者：芍藥，赤者瀉熱病用，白者補虛用。</p>
<p>性溫，能補營氣者：當歸，頭止血，身養血，尾破血。</p>
<p>性溫味辛，能利氣潤燥者：杏仁，水浸，去皮尖。桃仁，去皮尖。薤白，去青。麻仁，取淨。</p>
<p>性溫，能破結利氣者：茯苓，去皮，白補，赤瀉。</p>
<p>性平，能安中利水道者：柴胡、黃芩、知母、升麻、萎蕤，俱洗淨，生用。</p>
<p>性寒，能治諸熱在裡者：黃連、黃柏、白頭翁、秦皮、茵陳，俱洗淨，生用。生地黃，洗淨，生搗汁用。梔子，去殼。豬膽，取汁。栝蔞根，生用。石膏，研碎，生用。麥門冬，去心。</p>
<p>性寒，能治諸熱在上者：葶藶，研爛。桔梗，生用。栝蔞實，搗碎，生用。天門冬，去心。</p>
<p>性寒，能治諸熱在下者：連軺，洗，生用。蜀漆，即常山。梓白皮，去皮，生用。商陸，生用。赤小豆，生用。</p>
<p>性寒，能泄水氣者：海藻，洗，生用。澤瀉，生用。文蛤，生用。</p>
<p>性寒，能下泄熱氣者：大黃，有炮，有生。芒蛸，去泥土。</p>
<p>性烈，能下泄水氣者：芫花，洗淨，水煮乾用。大戟，水煮，再去心木。甘遂，面里煨。巴豆，去殼皮心，研。</p>
<p>性烈，能破血者：水蛭，洗，炙。虻蟲，洗。</p>
<p>性澀，能止固津液者：牡蠣，煅成粉。龍骨。石脂，生用。</p>
<p>性重，能下鎮墜者：代赭石，煅。鈆丹，煅。禹餘糧，煅。</p>
<p>性寒味苦，能宣吐者：瓜蒂。淡豆豉，江西出者佳。</p>
<p>性酸，能收斂者：烏梅，去核。五味子，生用。苦酒。</p>
<p>性平，能下肺氣者：貝母，去心。</p>

<h3>附用藥加減法</h3>
<p>有汗，不得服麻黃湯。無汗，不得服桂枝湯。無汗喜渴，不得用白虎湯。陽明自汗引飲，不得用五苓散。太陽自汗數尿，勿妄投桂枝渴。諸脈浮者，不得用大黃並下法。諸脈沉者，不得用發汗法。諸陽脈，不得用薑、附。燥渴者，除半夏加栝蔞根。腹痛者，減黃芩加芍藥。動氣者，去朮加桂。小便不利者，加茯苓。小便數者，去桂、茯苓，加芍藥。中滿者，去甘味。下利者，勿發汗。病人舊微溏者，勿用梔子豉湯。嘔家，勿用建中湯。傷寒諸下法，不得用丸子。服下泄藥後，不得用補藥。傷寒病已愈後，雖四肢虛弱無力，不得用補藥。</p>

<h3>論分兩</h3>
<p>傷寒方中，乃古分兩，與令不同，詳載之。</p>
<p>㕮咀：㕮咀者，即令之判如麻豆大也。散：散者，即今之為末也。銖：曰銖，二十四銖四一兩。兩：曰兩，古之三兩為今之一兩。分：曰一分者，即今之二錢半也。升：曰水一升，即今之一茶盞也，如半夏、五味子一升，即今之一兩，古之三兩。個：曰杏仁七十個，乃今之七錢半。匕：曰一匕者，用小錢挑一字上為法。</p>
<p>寒科一證，傳變極速，醫者不易輕投藥餌。長沙著說立方，後世皆奉以為師。但古人之文，句約而理賅，讀之者猝難暢曉。故啟元子、成無己諸名腎，出而釋之，猶經傳之有註疏矣。迨後註釋家日多，此中原有補前人未備之義，實可讚歎。得未曾有，而誑世欺人者，復亦不少。今許建安不釋長沙之文，而議長沙之方。書中設問答，以啟發後學。明晰條達，雖草莽醫人，亦能悉解。但其分兩稍異他本，雖採《千金方》之說，然臨期酌用為宜，毋得拘泥。至方中藥性稍備，以便翻閱耳。惜無刊本，故付之梓人。以為杵叔微之子，誤也。</p>
<p><u>乾隆五十九年六月古吳程永培跋於六醴齋中</u></p>
