<header data-type="book">
<h1>傷寒貫珠集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>尤怡</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1729">公元1729年</data></dd></div>
<div><dt>底本</dt><dd>《張仲景傷寒論貫珠集》（<a href="https://ctext.org/library.pl?if=gb&res=2757">北京大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>卷一·太陽篇上</h1>

<h2>辨列太陽條例大意</h2>
<p>傷寒一證。古稱大病。而太陽一經。其頭緒之繁多。方法之龐雜。又甚於他經。是以辨之非易。然非不可辨也。蓋太陽之經。其原出之病。與正治之法。不過二十餘條而已。其他則皆權變法、斡旋法、救逆法、類病法也。假使治傷寒者。審其脈之或緩或急。辨其證之有汗無汗。則從而汗之解之。如桂枝、麻黃等法則邪卻而病解矣。其或合陽明。或合少陽。或兼三陽者。則從而解之清之。如葛根、黃芩、白虎等法。亦邪分而病解矣。此為正治之法。顧人氣體有虛實之殊。臟腑有陰陽之異。或素有痰飲痞氣。以及咽燥淋瘡汗衄之疾。或適當房室金刃產後亡血之餘。是雖同為傷寒之候。不得竟從麻桂之法矣。於是乎有小建中、炙甘草、大小青龍及桂枝二麻黃一等湯也。是為權變之法。而用桂枝、麻黃等法。又不能必其無過與不及之弊。或汗出不徹。而邪不外散。則有傳變他經。及發黃蓄血之病。或汗出過多。而並傷陽氣。則有振振擗地。肉瞤筋惕等證。於是乎有可更發汗、更藥發汗。及真武、四逆等法也。是為斡旋之法。且也醫學久蕪。方法罕熟。或當汗而反下。或既下而復汗。以及溫針、艾灼、水潠。種種混施。以致結胸痞滿。挾熱下利。或煩躁不得眠。或內煩飢不欲食。或驚狂不安。或肉上粟起。於是乎有大小陷胸、諸瀉心湯、文蛤散等方也。此為救逆之法。至於天之邪氣。共有六淫。太陽受邪。亦非一種。是以傷寒之外。又有風溫、溫病、風濕、中濕、濕溫、中暍、霍亂等證。其形與傷寒相似。其治與傷寒不同。於是乎有桂附、朮附、麻黃、白朮、瓜蒂、人參、白虎等方。此為傷寒類病法也。夫振裘者必挈其領。整綱者必提其綱。不知出此。而徒事區別。縱極清楚。亦何適於用哉。茲略引大端於前。分列綱目於後。而仲景之方與法。罔不備舉。然後太陽一經。千頭萬緒。總歸一貫。比於百八輪珠。個個在手矣。六經仿此。詳見各篇。</p>

<h2>太陽正治法第一</h2>

<h3>太陽病脈證三條</h3>
<p>太陽之為病。脈浮。頭項強痛而惡寒。</p>
<p>人身十二經絡。本相聯貫。而各有畔界。是以邪氣之中。必各有所見之證與可據之脈。仲景首定太陽脈證曰脈浮頭項強痛惡寒。蓋太陽居三陽之表。而其脈上額交巔。入絡腦。還出別下項。故其初病。無論中風傷寒。其脈證皆如是也。後陽明篇云、陽明之為病。胃家實也。少陽篇云、少陽之為病。口苦咽乾目眩也。三陰篇云、太陰之為病。腹滿而吐。食不下。自利益甚。時腹自痛。少陰之為病。脈微細。但欲寐。厥陰之為病。消渴。氣上衝心。心中疼熱。飢而不欲食。食即吐蛔。暨本文共六條。遞舉六經受病之脈證。故柯氏目為六經之綱領。而此則為太陽之綱領也。然陽明條下無口乾惡熱之文。少陽證中無往來寒熱之目。少陰欲寐。僅舉一端。太陰厥陰。多言臟病。學者當參合他條。毋徒執一可也。</p>
<p>太陽病。發熱。汗出。惡風。脈緩者。名為中風。</p>
<p>此太陽中風之的脈的證也。太陽篇中。原有傷寒、中風、風溫、溫病、中濕、風濕、濕溫、痙暍等證。仲景蓋以諸病皆有發熱。皆能傳變。與傷寒同。其實所受之邪則不同。故特列而辨之。所以清傷寒之源也。王叔和氏分出痙、濕、暍三種。以為與傷寒相似。宜應別論。其中風、風溫等病。仍匯太陽篇中。要之中風、風溫、溫病。雖並得稱傷寒。而其病發之狀。與治之之法。實與傷寒不同。叔和匯列於此者。又以正中風、風溫、溫病之始也。然詳仲景篇中。每多風寒互舉之處。似有不容分別而出之者。豈非以風寒之氣恆相兼。與陰陽之致可互參耶。余故以中風傷寒。並列於此。而風溫、溫病則隸於類病法下。遵先聖之旨也。至於汗出脈緩之理。成氏暨諸賢所謂風性解緩。而衛不外固者韙矣。茲不復贅。</p>
<p>太陽病。或已發熱。或未發熱。必惡寒。體痛。嘔逆。脈陰陽俱緊者。名曰傷寒。</p>
<p>此太陽傷寒之的脈的證也。與前中風條參之自別。蓋風為陽邪。寒為陰邪。陽氣疾。陰氣徐。故中風身熱。而傷寒不即熱也。風性解緩。寒性勁切。故中風汗出脈緩。而傷寒無汗脈緊也。惡寒者。傷於寒則惡寒。猶傷於風則惡風。傷於食則惡食也。體痛嘔逆者。寒傷於形則痛。胃氣得寒則逆也。然竊嘗考諸條。中濕、風濕。併兼體痛。中風中暍。俱有惡寒。風邪上壅。多作乾嘔。濕家下早。亦成噦逆。故論太陽傷寒者。當以脈緊無汗。身不即熱為主。猶中風以脈緩多汗身熱為主也。其惡寒、體痛、嘔逆。則以之合證焉可耳。不言無汗者。以脈緊該之也。此二條乃太陽病之條目也。</p>

<h3>桂枝湯脈證七條</h3>
<p>太陽中風。陽浮而陰弱。陽浮者熱自發。陰弱者汗自出。嗇嗇惡寒。淅淅惡風。翕翕發熱。鼻鳴乾嘔者。桂枝湯主之。</p>
<p>太陽中風者。陽受風氣而未及乎陰也。故其脈陽浮而陰弱。陽浮者。不待閉鬱而熱自發。陰弱者。不必攻發而汗自出。所以然者。風為陽邪而上行。衛為陽氣而主外。以陽從陽。其氣必浮。故熱自發。陽得風而自強。陰無邪而反弱。以弱從強。其氣必餒。故汗自出。嗇嗇惡寒。淅淅惡風者。肌腠疏緩。衛氣不諧。雖無寒而若不能御。雖無風而常覺灑淅也。翕、越也。動也。盛也。言其熱時動而盛。不似傷寒之一熱至極也。鼻鳴乾嘔。不特風氣上壅。亦邪氣暴加。裡氣上爭之象。是宜桂枝湯助正以逐邪。抑攘外以安內也。</p>
<p><u>桂枝湯方</u></p>
<p>桂枝（三兩去皮）　甘草（二兩炙）　芍藥（三兩）　生薑（三兩切）　大棗（十二枚擘）</p>
<p>上五味㕮咀。以水七升。微火煮取三升。去滓。適寒溫。服一升。服已須臾。啜熱稀粥一升余。以助藥力。溫覆令一時許。遍身漐漐。微似有汗者益佳。不可令如水流漓病。必不除。若一服汗出病瘥。停後服。不必盡劑。若不汗。重服。依前法。又不汗。後服小促。半日許。令三服盡。若病重者。一日一夜服。周時觀之。服一劑盡。病證猶在者。更作服。若汗不出者。乃服至二三劑。禁生冷、黏滑、肉面、五辛、酒酪、臭惡等物。</p>
<p>按風之為氣。能動陽氣而泄津液。所以發熱汗自出。與傷寒之發熱無汗不同。此方用桂枝發散邪氣。即以芍藥攝養津氣。炙甘草合桂枝之辛。足以攘外。合芍藥之酸。足以安內。生薑、大棗。甘辛相合。補益營衛。亦助正氣去邪氣之用也。蓋以其汗出而邪不出。故不用麻黃之發表。而以桂枝助陽以為表。以其表病而里無熱。故不用石膏之清裡。而用芍藥斂陰以為里。此桂枝湯之所以異於麻黃、大青龍也。服已須臾。啜稀粥一升余。所以助胃氣。即所以助藥力。蓋藥力必藉胃氣以行也。溫覆令微汗。不使流漓如水者。所謂汗出少者為自和。汗出多者為太過也。一服汗出病瘥停後服者。中病即止。不使過之以傷其正也。若不汗。後服小促。及服至二三劑者。期在必克。以汗出為和而止也。仲景示人以法中之法如此。</p>
<p>太陽病。頭痛發熱。汗出惡風者。桂枝湯主之。</p>
<p>太陽受邪。無論中風傷寒。俱有頭痛。俱有發熱。但傷於寒。則表實無汗。傷於風。則表疏自汗。是頭痛發熱者。傷寒所同。而汗出惡風者。中風所獨也。中風必以風劑治之。云桂枝湯主之者。見非他藥所得而更者耳。</p>
<p>太陽病。外證未解。脈浮弱者。當以汗解。宜桂枝湯。</p>
<p>太陽外證。即頭痛、發熱、惡風寒之屬。外證未解。宜從汗解。然必審其脈之強弱而施治。若脈浮弱。則是中風陽浮陰弱之候。治宜桂枝湯。助正以逐邪。</p>
<p>太陽病。外證未解者。不可下也。下之為逆。欲解外者。宜桂枝湯主之。</p>
<p>傷寒在表者宜汗。在裡者宜下。此大法也。是以外證未解者不可下。下之是病在表而攻其里也。故曰逆。本論云、本發汗而復下之。此為逆也。若先發汗。治不為逆。此之謂也。而欲解外。則桂枝成法。不可易矣。仲景於當汗之證。隨示不可下之戒如此。</p>
<p>病常自汗出者。此為營氣和。營氣和者外不諧。以衛氣不共營氣和諧故耳。以營行脈中。衛行脈外。復發其汗。營衛和則愈。宜桂枝湯。</p>
<p>此即前條陰弱者汗自出之意而發明之。謂營未病而和。則汗液自通。衛中風而不諧。則陰氣失護。宜其汗常自出也。夫營與衛。常相和諧者也。營行脈中。為衛之守。衛行脈外。為營之護。何有發熱惡寒之證哉。惟衛得風而自強。營無邪而反弱。邪正不同。強弱異等。雖欲和諧。不可得矣。故曰營氣和者外不諧。不諧則豈特衛病而已哉。故欲營之安。必和其衛。欲衛之和。必逐其風。是宜桂枝湯助陽取汗。汗出則邪去而衛和。衛和則營不受擾而愈。</p>
<p>病人臟無他病。時發熱。自汗出。而不愈者。此衛氣不和也。先其時發汗則愈。宜桂枝湯主之。</p>
<p>人之一身。經絡綱維於外。臟腑傳化於中。而其為病。從外之內者有之。從內之外者有之。臟無他病。里無病也。時發熱自汗。則有時不發熱無汗可知。而不愈者。是其病不在裡而在表。不在營而在衛矣。先其時發汗則愈者。於不熱無汗之時。而先用藥取汗。則邪去衛和而愈。不然。汗液方泄而復發之。寧無如水淋漓之患耶。</p>
<p>太陽病。發熱汗出者。此為營弱衛強。故使汗出。欲救邪風者。宜桂枝湯。</p>
<p>此即前條衛不諧營自和之意。而申其說。救邪風者。救衛氣之為風邪所擾也。然仲景營弱衛強之說。不過發明所以發熱汗出之故。後人不察。遂有風並於衛。衛實而營虛。寒中於營。營實而衛虛之說。不知邪氣之來自皮毛而入肌肉。無論中風傷寒，未有不及於衛者。其甚者。乃並傷於營耳。郭白雲所謂涉衛中營者是也。是以寒之淺者。僅傷於衛。風而甚者。並及於營。衛之實者。風亦難泄。衛而虛者。寒猶不固。無汗必發其汗。麻黃湯所以去表實而發邪氣。有汗不可更發汗。桂枝湯所以助表氣而逐邪氣。學者但當分病證之有汗無汗。以嚴麻黃桂枝之辨。不必執營衛之孰虛孰實。以證傷寒中風之殊。且無汗為表實。何云衛虛。麻黃之去實。寧獨遺衛。能不膠於俗說者。斯為豪傑之士。</p>

<h3>桂枝湯禁三條</h3>
<p>桂枝本為解肌。若其人脈浮緊。發熱汗不出者。不可與也。當須識此。勿令誤也。仲景既詳桂枝之用。後申桂枝之禁。曰桂枝、本為解肌。而不可用以發汗。解肌者。解散肌表之邪。與麻黃之發汗不同。故惟中風發熱。脈浮緩。自汗出者為宜。若其人脈浮緊。發熱汗不出。則是太陽麻黃湯證。設誤與桂枝。必致汗不出而煩躁。甚則斑黃狂亂。無所不至矣。此桂枝湯之大禁也。故曰、不可與也。當須識此。勿令誤也。仲景叮嚀之意至矣。</p>
<p>若酒客病。不可與桂枝湯。得湯則嘔。以酒客不喜甘故也。本草云、酒性熱而善上。又忌諸甜物飲酒之人。甘味積中而熱氣時上。故雖有桂枝證。不得服桂枝湯。得之則嘔。以酒客不喜甘。而桂枝湯味甘。能增滿而致嘔。亦一大禁也。</p>
<p>凡服桂枝湯吐者。其後必吐膿血也。</p>
<p>凡服桂枝湯吐者。不必盡是酒客。此其脾胃素有濕熱蘊蓄。可知桂枝湯其甘足以釀濕。其溫足以助熱。設誤服之而致吐。其濕熱之積。上攻肺中。與表之邪風相得。蒸郁不解。發為肺癰。咳吐膿血。勢有必至者矣。仲景因酒客。復申其說如此。</p>

<h3>麻黃湯脈證七條</h3>
<p>太陽病。頭痛發熱。身疼腰痛。骨節疼痛。惡風無汗而喘者。麻黃湯主之。</p>
<p>足之太陽。其脈上際巔頂。而下連腰足。而寒之為氣。足以外閉衛陽。而內郁營血。故其為病。有頭痛發熱。身疼腰痛。骨節疼痛。惡風無汗而喘之證。然惟骨痛、脈緊、無汗。為麻黃湯的證。其餘則太陽中風亦得有之。學者若不以骨痛、脈緊、無汗為主。而但拘頭痛、發熱等證。必致發非所當發矣。雖本文不言脈緊。然可從無汗而推。猶太陽傷寒條。不言無汗。而以脈緊該之也。</p>
<p><u>麻黃湯方</u></p>
<p>麻黃（三兩去節）　桂枝（三兩去皮）　甘草（一兩炙）　杏仁（七十個去皮尖）</p>
<p>上四味。以水九升。先煮麻黃減二升。去上沫。納諸藥。煮取二升半。去滓。溫服八合。覆取微似汗。不須啜粥。余如桂枝法將息。</p>
<p>人之傷於寒也。陽氣鬱而成熱。皮膚閉而成實。麻黃輕以去實。辛以散寒。溫以行陽。杏仁佐麻黃。達肺氣、泄皮毛、止喘急。王好古謂其治衛實之藥是也。然泄而不收。升而不降。桂枝、甘草。雖曰佐之。實以監之耳。</p>
<p>脈浮者。病在表。可發汗。宜麻黃湯。</p>
<p>脈浮而數者。可發汗。宜麻黃湯。</p>
<p>二條憑脈以言治。而不及證。且但舉浮與數。而不言緊。而云可與麻黃湯發汗。殊為未備。然仲景自有太陽傷寒條與麻黃湯證。在學者當會通全書而求之。不可拘於一文一字間也。</p>
<p>太陽病。脈浮緊。無汗發熱。身疼痛八九日不解。表證仍在。此當發其汗。服藥已。微除。其人發煩目瞑。劇者必衄。衄乃解。所以然者。陽氣重故也。麻黃湯主之。</p>
<p>脈浮緊。無汗發熱。身疼痛。太陽麻黃湯證也。至八九日之久而不解。表證仍在者。仍宜以麻黃湯發之。所謂治傷寒不可拘於日數。但見表證脈浮者。雖數日猶宜汗之是也。乃服藥已。病雖微除。而其人發煩目瞑者。衛中之邪得解。而營中之熱未除也。劇者血為熱搏。勢必成衄。衄則營中之熱亦除。而病乃解。所以然者。陽氣太重。營衛俱實。故須汗血並出。而後邪氣乃解耳。陽氣、陽中之邪氣也。郭白雲云、麻黃湯主之五字。當在此當發其汗下。是。</p>
<p>傷寒脈浮緊。不發汗。因致衄者。麻黃湯主之。</p>
<p>太陽病。脈浮緊。發熱。身無汗。自衄者愈。</p>
<p>傷寒脈浮緊者。邪氣在表。法當汗解。而不發汗。則邪無從達泄。內搏於血。必致衄也。衄則其邪當去。而猶以麻黃湯主之者。此亦營衛並實。如上條所云陽氣重之證。上條衛已解而營未和。故雖已發汗。猶須得衄而解。此條營雖通而衛尚塞。故既已自衄。而仍與麻黃湯發汗而愈。然必欲衄而血不流。雖衄而熱不解者。乃為合法。不然。靡有不竭其陰者。於是仲景復著奪血無汗之例曰。脈浮緊。發熱。身無汗。自衄者愈。謂陽氣重者。須汗血並出。以泄其邪。其稍輕者。設得衄血。邪必自解。身雖無汗。固不必更以麻黃湯發之也。</p>
<p>太陽病。十日已去。脈浮細而嗜臥者。外已解也。設胸滿脅痛者。與小柴胡湯。脈但浮者。與麻黃湯。</p>
<p>太陽病。至十餘日之久。脈浮不緊而細。人不躁煩而嗜臥。所謂緊去人安。其病為已解也，下二段是就未解時說。謂脈浮細不嗜臥。而胸滿脅痛者。邪已入少陽。為未解也。則當與小柴胡湯。若脈但浮而不細。不嗜臥者。邪猶在太陽而未解也。仍當與麻黃湯。非外已解而猶和之發之之謂也。</p>

<h3>合病證治六條</h3>
<p>太陽與陽明合病。喘而胸滿者。不可下。宜麻黃湯主之。</p>
<p>胸中為陽之位。喘而胸滿者。病發於陽而盛於陽也。邪在陽則可汗。在陰則可下。此以陽邪盛於陽位。故不可下之以虛其里。裡虛則邪且陷矣。而宜麻黃湯汗之以疏其表。表疏則邪自解矣。合病者。兩經同病。邪氣盛者。其傷必多。甚則遍及三陽也。</p>
<p>太陽與陽明合病者。必自下利。葛根湯主之。太陽與陽明合病。不下利。但嘔者。葛根加半夏湯主之。</p>
<p>傷寒之邪。在上則為喘滿。入里則為下利。兩陽合病。邪氣盛大。不特充斥於上。抑且浸淫於裡。故曰必自下利。其不下利者。則必上逆而嘔。晰而言之。合病下利者。裡氣得熱而下行也。不下利但嘔者。裡氣得熱而上行也。夫邪盛於外而之內者。仍當先治其邪。葛根湯合用桂枝麻黃而加葛根。所以解經中兩陽相合之邪。其不下利而但嘔者。則加半夏以下逆氣。而葛根解外。法所不易矣。</p>
<p><u>葛根湯方</u></p>
<p>葛根（四兩）　生薑（三兩切）　甘草（二兩炙）　芍藥（二兩）　桂枝（二兩去皮）麻黃（三兩去節湯炮去黃汁焙乾稱）　大棗（十二枚擘）</p>
<p>上七味。以水一斗。先煮葛根、麻黃減二升。去上沫。納諸藥。煮取三升。去滓。溫服一升。覆取微似汗。不須啜粥。余如桂枝法將息及禁忌。</p>
<p><u>葛根加半夏湯方</u></p>
<p>於葛根湯內加半夏半升。洗。</p>
<p>太陽與少陽合病。自下利者。與黃芩湯。若嘔者。黃芩加半夏生薑湯主之。</p>
<p>少陽居表裡之間。視陽明為較深。其熱氣尤易內侵。是以太陽與少陽合病。亦自下利。而治法則不同矣。太陽陽明合病者。其邪近外。驅之使從外出為易。太陽少陽合病者。其邪近里。治之使從里和為易。故彼用葛根。而此與黃芩也。夫熱氣內淫。黃芩之苦。可以清之。腸胃得熱而不固。芍藥之酸。甘草之甘。可以固之。若嘔者。熱上逆也。故加半夏、生薑。以散逆氣。而黃芩之清裡。亦法所不易矣。</p>
<p><u>黃芩湯方</u></p>
<p>黃芩（三兩）　甘草（二兩炙）　芍藥（二兩）　大棗（十二枚擘）</p>
<p>上四味。以水一斗。煮取三升。去滓。溫服一升。日再。夜一服。</p>
<p><u>黃芩加半夏生薑湯方</u></p>
<p>於黃芩湯內加半夏半升。生薑三兩。余依前法。</p>
<p>三陽合病。腹滿身重。難以轉側。口不仁而面垢。譫語遺尿。發汗則譫語。下之則額上生汗。手足逆冷。若自汗出者。白虎湯主之。此條叔和隸陽明篇中。</p>
<p>三陽合病。脈浮大。上關上。但欲眠睡。目合則汗。此條隸少陽篇中。</p>
<p>三陽合病。視諸合病邪氣為較大矣。而太陽之腑膀胱。陽明之腑胃。少陽之腑膽。熱邪盛滿自經入腑。故腹滿身重。口不仁而面垢。譫語遺尿。及但欲眠睡。目合則汗。皆為里為熱之徵也。夫里而不表。故不可汗。汗之則津亡。胃燥而譫語。熱而不實。復不可下。下之則中傷氣竭。而額上生汗。手足逆冷。若自汗出句。頂腹滿身重四句來。謂有腹滿身重等證而自汗出者。則雖三陽合病。而邪聚於陽明者較太陽為多。故宜白虎湯清而解之。若不自汗出者。則太陽為多。白虎不可與矣。脈浮大。上關上者。病盛於陽經。故脈亦盛於陽位也。但欲眠睡者。熱勝而神昏也。目合則汗者。膽熱則液泄也。此條蓋補上條之所未備。而熱之聚於少陽者。視太陽陽明較多矣。設求治法。豈白虎湯所能盡哉。</p>
<p><u>白虎湯方</u></p>
<p>石膏（一斤）　知母（六兩）　甘草（二兩）　粳米（六合）</p>
<p>上先煮石膏數十沸。再投藥米。米熟湯成。溫服。</p>

<h3>辨傷寒受病陰陽不同一條</h3>
<p>病有發熱惡寒者。發於陽也。無熱惡寒者。發於陰也。發於陽者七日愈。發於陰者六日愈。以陽數七。陰數六故也。</p>
<p>此條特舉陽經陰經受邪之異。而辨其病狀。及其愈期。發於陽者。病在陽之經也。以寒加陽。陽氣被郁。故發熱而惡寒。發於陰者。病在陰之經也。以陰加陰。無陽可郁。故無熱而但惡寒耳。夫陽受邪者。必陽氣充而邪乃解。陰受病者。必陰氣盛而病始退。七日為陽氣來復之日。六日為陰氣盛滿之候。故其病當愈耳。然六日七日。亦是概言陰陽病愈之法。大都如此。學者勿泥可也。</p>

<h3>太陽病愈時日及欲解之候與傳經之證六條</h3>
<p>太陽病頭痛。至七日以上自愈者。以行其經盡故也。若欲作再經者。針足陽明。使經不傳則愈。太陽病頭痛。所謂病發於陽也。法當七日愈。云以上者。該常與變而言之也。行其經盡者。邪行諸經。盡而當解也。設不解。則將從太陽而復入陽明。所謂作再經也。故針足陽明。以引邪外出。邪出則經不傳而愈矣。蓋傷寒之邪。有在經在腑在臟之異。行其經盡者。邪行諸經而未入臟腑之謂。而經脈陰陽相貫。如環無端。是以行陰極而復行陽者有之。若入厥陰之臟。則病深熱極而死耳。其或幸而不死者。則從臟出腑而愈。未聞有作經再傳者也。此條諸註釋俱誤。蓋於經腑臟未審耳。</p>
<p>再按內經云、傷寒一日。巨陽受之云云。又云、七日太陽病衰。頭痛少愈云云。蓋傷寒之邪。有離太陽。而入陽明者。有遍傳諸經而猶未離太陽者。此太陽病頭痛。至七日以上自愈。正與內經之旨相合。蓋六日邪遍六經。至七日而太陽先受者。當先解耳。則是所謂行其經盡者。不但未入腑臟。亦並未離太陽。所以當有頭痛。所謂作再經者。七日不愈。而欲至十四日也。針足陽明者。以其經多氣多血。可以任受針石。且離太陽未遠。尤易逐邪外出耳。</p>
<p>太陽病欲解時。從巳至未止。</p>
<p>太陽經為諸陽之長。巳午未時為陽中之陽。太陽病解。必從巳至未。所謂陽受病者。必陽氣充而邪乃解也。與發於陽者七日愈同意。</p>
<p>風家表解。而不了了者。十二日愈。</p>
<p>風家表解。邪退而正安矣。而猶不能霍然無患者。邪去未盡故也。十二日。經氣已周。餘邪畢達。故必自愈。欲自解者。必當先煩。乃有汗而解。何以知之。脈浮。故知汗出解也。</p>
<p>邪氣欲解之候。必先見之於證與脈。若其人自煩而脈浮者。知其邪必將從汗而解。蓋自煩為邪正相爭之候。而脈浮為邪氣外達之徵也。設脈不浮而沉。則雖煩豈能作汗。即汗亦豈得解哉。傷寒一日。太陽受之。脈若靜者。為不傳。頗欲吐。若躁煩。脈數急者。為傳也。</p>
<p>傷寒二三日。陽明少陽證不見者。為不傳也。</p>
<p>寒氣外入。先中皮膚太陽之經。居三陽之表。故受邪為最先。而邪有微甚。證有緩急。體有強弱。病有傳與不傳之異。邪微者。不能撓乎正。其脈多靜。邪甚者。得與正相爭。其脈則數急。其人則躁煩而頗欲吐。</p>
<p>蓋寒邪稍深。即變而成熱。胃氣惡邪。則逆而欲吐也。然邪既傳經。則必遞見他經之證。傷寒二三日。陽明少陽受病之時。而不見有身熱、惡熱、口苦、咽乾、目眩等證。則邪氣止在太陽。而不更傳陽明少陽可知。仲景示人以推測病情之法如此。</p>

<h2>太陽權變法第二</h2>

<h3>不可發汗例十條</h3>
<p>咽喉乾燥者。不可發汗。</p>
<p>病寒之人。非汗不解。而亦有不可發汗者。不可不審。咽喉者。諸陰之所集。而乾燥則陰不足矣。汗者。出於陽而生於陰也。故咽喉乾燥者。雖有邪氣。不可以溫藥發汗。若強發之。乾燥益甚。為咳。為咽痛。為吐膿血。無所不至矣。云不可發汗者。謂本當汗而不可發之。非本不當汗之證也。此所謂之變也。下文仿此。淋家不可發汗。發汗必便血。</p>
<p>巢氏云、淋者腎虛而膀胱熱也。更發其汗，損傷臟陰。增益腑熱。則必便血。如強發少陰汗而動其血之例也。</p>
<p>瘡家雖身疼痛。不可發汗。汗出則痙。</p>
<p>身疼痛、表有邪也。瘡家膿血流溢。損傷陰氣。雖有表邪。不可發汗。汗之血虛生風。必發痙也。</p>
<p>衄家不可發汗。汗出必額上陷。脈緊急。目直視。不能眴。不得眠。</p>
<p>額上陷。脈緊急者。額上兩旁之動脈。陷伏不起。或緊急不柔也。靈樞云、兩跗之上。脈陷豎者。足陽明。陷謂陷伏。豎即緊急。與此正相發明。目直視。不能眴。不得眠。皆亡陰之證也。</p>
<p>亡血家不可發汗。發汗則寒慄而振。</p>
<p>陰亡者。陽不守。亡血復汗。寒慄而振者。陰氣先虛。而陽氣後竭也。按瘡家衄家。並屬亡血。而此條復出亡血家者。該吐下跌僕金刃產後等證為言也。</p>
<p>汗家重發汗。必恍惚心亂。小便已陰疼。與禹餘糧丸。五液在心為汗。心液亡者。心陽無附。則恍惚心亂。心虛生熱。下流所合。則小便已陰疼。禹餘糧丸方缺。常器之云、只禹餘糧一味。火煅服亦可。按禹餘糧。體重可以去怯。甘寒可以除熱。又性澀。主下焦前後諸病也。</p>
<p>病人有寒。復發汗。胃中冷。必吐蛔。</p>
<p>有寒、里有寒也。里有寒者。雖有表邪。必先溫里而後攻表。如後四逆湯之法。乃不與溫里而反發汗。損傷陽氣。胃中虛冷。必吐蛔也</p>
<p>形作傷寒。其脈不弦緊而弱。弱者必渴。被火者必譫語。弱者發熱脈浮。解之當汗出愈。</p>
<p>形作傷寒。其脈當弦緊而反弱。為病實而正虛也。脈弱為陰不足。而邪氣乘之。生熱損陰。則必發渴。乃更以火劫汗。兩熱相合。胃中燥煩。汗必不出。而譫語立至矣。若發熱脈浮。則邪欲出表。陰氣雖虛。可解之。使從汗而愈。如下條桂枝二越婢一等法。若脈不浮。則邪熱內擾。將救陰之不暇。而可更取其汗耶。脈浮數者。法當汗出而愈。若下之。身重心悸者。不可發汗。當自汗出乃解。所以然者。尺中脈微。此裡虛。須表裡實。津液自和。便自汗出愈。</p>
<p>脈浮數者。其病在表。法當汗出而愈。所謂脈浮數者可發汗。宜麻黃湯是也。若下之。邪入里而身重。氣內虛而心悸者。表雖不解。不可以藥發汗。當俟其汗自出而邪乃解。所以然者。尺中脈微。為裡虛不足。若更發汗。則並虛其表。里無護衛。而散亡隨之矣。故必候其表裡氣復。津液通和。而後汗出而愈。豈可以藥強迫之哉。</p>
<p>脈浮緊者。法當身疼痛。宜以汗解之。假令尺中遲者。不可發汗。何以知然。以營氣不足。血少故也。</p>
<p>脈浮緊者。寒邪在表。於法當身疼痛。而其治宜發汗。假令尺中脈遲。知其營虛而血不足。則雖身疼痛。而不可發汗。所以然者。汗出於陽而生於陰。營血不足而強發之。汗必不出。汗即出而筋惕肉瞤。散亡隨之矣，可不慎哉。</p>

<h3>桂枝二越婢一湯脈證一條</h3>
<p>太陽病。發熱惡寒。熱多寒少。脈微弱者。此無陽也。不可發汗。宜桂枝二越婢一湯。</p>
<p>無陽與亡陽不同。亡陽者。陽外亡而不守也。其根在腎。無陽者陽內竭而不用也。其源在胃。發熱惡寒。熱多寒少。病須得汗而解。而脈微弱。則陽無氣矣。陽者。津液之根。猶水之氣也。無氣則水不至。無陽則津不化。而汗之源絕矣。雖發之。其可得乎。故用桂枝二分。生化陰陽。越婢一分。發散邪氣。設得小汗。其邪必解。乃傷寒發汗之變法也。</p>
<p><u>桂枝二越婢一湯方</u>（論見後）</p>
<p>桂枝（去皮）　芍藥　甘草（炙）　麻黃（去節各十八銖）　生薑（一兩三錢切）　大棗（四枚擘）　石膏（二十四銖碎綿裹）</p>
<p>上七味。㕮咀。以水五升。煮麻黃一二沸。去上沫。納諸藥。煮取二升。去滓。溫服一升。</p>

<h3>桂枝麻黃各半湯脈證一條</h3>
<p>太陽病。得之八九日。如瘧狀。發熱惡寒。熱多寒少。其人不嘔清便欲自可。一日二三度發。脈微緩者。為欲愈也。脈微而惡寒者。此陰陽俱虛。不可更發汗更下更吐也。面色反有熱色者。未欲解也。以其不能得小汗出。身必癢。宜桂枝麻黃各半湯。</p>
<p>病在太陽。至八九日之久。而不傳他經。其表邪本微可知。不嘔清便欲自可。則里未受邪可知。病如瘧狀。非真是瘧。亦非傳少陽也。乃正氣內勝。數與邪爭故也。至熱多寒少。一日二三度發。則邪氣不勝而將退舍矣。更審其脈而參驗之。若得微緩。則欲愈之象也。若脈微而惡寒者。此陰陽俱虛。當與溫養。如新加湯之例。而發汗吐下。均在所禁矣。若面色反有熱色者。邪氣欲從表出。而不得小汗。則邪無從出。如面色緣緣正赤。陽氣怫鬱在表。當解之熏之之類也。身癢者。邪盛而攻走經筋則痛。邪微而遊行皮膚則癢也。夫既不得汗出。則非桂枝所能解。而邪氣又微。亦非麻黃所可發。故合兩方為一方。變大製為小制。桂枝所以為汗液之地。麻黃所以為發散之用。且不使藥過病。以傷其正也。</p>
<p><u>桂枝麻黃各半湯方</u></p>
<p>桂枝（去皮）　麻黃（去節）　甘草（炙）　芍藥　生薑（各一兩）大棗（四枚）　杏仁（二十四個湯浸去皮）</p>
<p>上七味。以水五升。先煮麻黃一二沸。去上沫。納諸藥。煮取一升八合。去滓。溫服六合。</p>
<p><u>合論桂枝麻黃各半湯桂枝二麻黃一湯桂枝二越婢一湯三方</u></p>
<p>按桂枝麻黃各半湯桂枝二麻黃一湯桂枝二越婢一湯三方並兩方合用。乃古之所謂複方也。細審其制。桂枝麻黃各半湯。助正之力。侔於散邪。桂枝二麻黃一湯。則助正之力多。而散邪之力少。於法為較和矣。其桂枝二越婢一湯。本無熱證而加石膏者。以其人無陽。津液不足。不勝桂枝之任。故加甘寒於內。少變辛溫之性。且滋津液之用。而其方制之小。示微發於不發之中。則三方如一方也。故桂枝湯不特發散邪氣。亦能補助正氣。以其方甘酸辛合用。具生陽化陰之妙。與麻黃合劑。則能盡麻黃之力。而並去其悍。與石膏同用。則能資石膏之益。而不撓乎權。是雖麻、石並行。而實以桂枝為主。蓋非滋養營衛。則無以為發汗散邪之地耳。凡正氣不足。邪氣亦微。而仍須得汗而解者。宜於此三方取則焉。後人不能盡桂枝之用。而求之人參、歸、地之屬。立意則同。而用藥懸殊矣。</p>

<h3>大青龍湯脈證二條</h3>
<p>太陽中風。脈浮緊。發熱惡寒。身疼痛。不汗出而煩躁者。大青龍湯主之。若脈微弱。汗出惡風者。不可服。服之則厥逆筋惕肉瞤。此為逆也。</p>
<p>此治中風而表實者之法。表實之人。不易得邪。設得之。則不能泄衛氣。而反以實陽氣。陽氣既實。表不得通。閉熱於經。則脈緊身痛。不汗出而煩躁也。是當以麻黃桂姜之屬。以發汗而泄表實。加石膏以除裡熱而止煩躁。非桂枝湯所得而治者矣。蓋其病已非中風之常病。則其法亦不得守桂枝之常法。仲景特舉此者。欲人知常知變。不使拘中風之名。而拘解肌之法也。若脈微弱汗出惡風。則表虛不實。設與大青龍湯發越陽氣。必致厥逆筋惕肉瞤。甚則汗多而陽亡矣。故曰此為逆。逆者虛以實治。於理不順。所以謂之逆也。</p>
<p><u>大青龍湯方</u></p>
<p>麻黃（六兩去節）　桂枝（二兩去皮）　甘草（二兩炙）　大棗（十二枚擘）　石膏（如雞子大碎）　生薑（三兩切）　杏仁（四十個去皮尖）</p>
<p>上七味。以水九升。先煮麻黃減二升。去上沫。納諸藥。煮取三升。去滓。溫服一升。取微似汗。汗出多者。溫粉撲之。一服汗者。停後服。汗多亡陽。遂虛。惡風煩躁。不得眠也。</p>
<p>按傷寒分立三綱。桂枝主風傷衛。麻黃主寒傷營。大青龍主風寒兩傷營衛。其說始於成氏許氏。而成於方氏喻氏。以愚觀之。桂枝主風傷衛則是。麻黃主寒傷營則非。蓋有衛病而營不病者矣。未有營病而衛不病者也。至於大青龍證其辨不在營衛兩病。而在煩躁一證。其立方之旨。亦不在並用麻、桂。而在獨加石膏。王文祿謂風寒並重。閉熱於經。故加石膏於發散藥中是也。若不過風寒併發。則麻黃、桂枝已足勝其任矣。何必更須石膏哉。須知中風而或表實。亦用麻黃。傷寒而或表虛。亦用桂枝。其表不得泄。而閉熱於中者。則用石膏。其無熱者。但用麻、桂。此仲景心法也。炫新說而變舊章。其於斯道。不愈趨而愈遠哉。</p>
<p>傷寒脈浮緩。身不疼但重。乍有輕時。無少陰證者。大青龍湯發之。</p>
<p>傷寒脈浮緩者。脈緊去而成緩。為寒欲變熱之證。經曰脈緩者多熱是也。傷寒邪在表則身疼。邪入里則身重。寒已變熱而脈緩。經脈不為拘急。故身不疼而但重。而其脈猶浮。則邪氣在或進或退之時。故身體有乍重乍輕之候也。是以欲發其表。則經已有熱。欲清其熱。則表猶不解。而大青龍湯兼擅發表解熱之長。苟無少陰汗出厥逆等證者。則必以此法為良矣。不云主之而云發之者。謂邪欲入里。而以藥發之。使從表出也。舊注謂傷寒見風。故並用麻黃者。非。</p>

<h3>小青龍湯脈證二條</h3>
<p>傷寒表不解。心下有水氣。乾嘔。發熱而咳。或渴。或利。或噎。或小便不利。少腹滿。或喘者。小青龍湯主之。</p>
<p>表寒不解。而心下有水飲。飲寒相摶。逆於肺胃之間。為乾嘔發熱而咳。乃傷寒之兼證也。夫飲之為物。隨氣升降。無處不到。或壅於上。或積於中。或滯於下。各隨其所之而為病。而其治法。雖各有加減。要不出小青龍之一法。麻黃、桂枝。散外入之寒邪。半夏、細辛、乾薑。消內積之寒飲。芍藥、五味。監麻、桂之性。且使表裡之藥。相就而不相格耳。</p>
<p><u>小青龍湯方</u></p>
<p>麻黃　桂枝　芍藥　細辛　乾薑　炙甘草（各三兩）　五味　半夏（各半升）</p>
<p>上八味。以水一斗。先煮麻黃減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。</p>
<p>大青龍合麻、桂而加石膏。能發邪氣除煩躁。小青龍無石膏。有半夏、乾薑、芍藥、細辛、五味。能散寒邪行水飲。而通謂之青龍者。以其有發汗蠲飲之功。夫熱閉於經。而不用石膏。汗為熱隔。寧有能發之者乎。飲伏於內。而不用薑、夏。寒與飲摶。寧有能散之者乎。其芍藥、五味。不特收逆氣而安肺氣。抑以制麻、桂、薑、辛之勢。使不相驚而相就。以成內外協濟之功耳。</p>
<p>加減法</p>
<p>若微利者。去麻黃。加芫花如雞子大。熬令赤色。</p>
<p>微利者。水漬入胃也。下利者。不可攻其表。故去麻黃之發表。而加芫花之行水。</p>
<p>若渴者。去半夏。加栝蔞根三兩。</p>
<p>渴者。津液不足。故去半夏之辛燥。而加栝蔞之苦潤。若飲結不布而渴者。似宜仍以半夏流濕而潤燥也。</p>
<p>若噎者。去麻黃。加附子一枚。炮。</p>
<p>噎者。寒飲積中也。附子溫能散寒。辛能破飲。故加之。麻黃髮陽氣。增胃冷。故去之。</p>
<p>若小便不利。小腹滿。去麻黃。加茯苓四兩。</p>
<p>小便不利。小腹滿。水蓄於下也。故加茯苓以泄蓄水。不用麻黃。恐其引氣上行。致水不下也。</p>
<p>若喘者。去麻黃。加杏仁半升。去皮尖。</p>
<p>喘者。水氣在肺。故加杏仁下氣泄肺。麻黃亦能治喘而不用者。惡其發氣也。</p>
<p>傷寒心下有水氣。咳而微喘。發熱不渴。服湯已。渴者。此寒去欲解也。小青龍湯主之。</p>
<p>內飲外寒。相得不解。氣凌於肺。為咳而微喘。發熱不渴。如上條之證也。是必以小青龍外解寒邪。內消水飲為主矣。若服湯已。渴者。是寒外解而飲內行也。故為欲解。小青龍湯主之六字。當在發熱不渴下。</p>
<p>或問水飲之證。或渴或不渴云何。曰、水積於中。故不渴也。其渴者。水積一處。而不得四布也。然而不渴者。常也。其渴者。變也。服小青龍湯已而渴者。乃寒去飲消之常道也。</p>

<h3>十棗湯證治一條</h3>
<p>太陽中風。下利嘔逆。表解者。乃可攻之。其人漐漐汗出。發作有時。頭痛。心下痞硬。滿引脅下痛。乾嘔短氣。汗出不惡寒者。此表解里未和也。十棗湯主之。</p>
<p>此外中風寒。內有懸飲之證。下利嘔逆。飲之上攻而復下注也。然必風邪已解。而後可攻其飲。若其人漐漐汗出。而不惡寒。為表已解。心下痞硬。滿引脅下痛。乾嘔短氣。為里未和。雖頭痛而發作有時。知非風邪在經。而是飲氣上攻也。故宜十棗湯下氣逐飲。</p>
<p><u>十棗湯方</u></p>
<p>芫花（熬）　甘遂　大戟　大棗（十枚）</p>
<p>上三味等分。各別搗為散。以水一升半。先煮大棗肥者十枚。取八合。去滓。納諸藥末。強人服一錢匕。羸人服半錢。溫服之。平旦服。若下少。病不除者。明日更服。加半錢。得快下利後。糜粥自養。</p>
<p>按金匱云、飲後水流在脅下。咳吐引痛。謂之懸飲。又云、病懸飲者。十棗湯主之。此心下痞硬。滿引脅下痛。所以知其為懸飲也。懸飲非攻不去。芫花、甘遂、大戟。並逐飲之峻藥。而欲攻其飲。必顧其正。大棗甘溫以益中氣。使不受藥毒也。</p>

<h3>五苓散證治一條</h3>
<p>中風發熱。六七日不解而煩。有表裡證。渴欲飲水。水入則吐者。名曰水逆。五苓散主之。</p>
<p>太陽風邪。至六七日之久而不解。則風變熱而傳裡。故煩而渴。有表裡證。即身熱煩渴之謂。渴欲飲水。水氣不行。而反上逆則吐。名水逆者。言因水氣而逆。非火逆氣逆之謂。故當以五苓散辛甘淡藥。導水而泄熱也。</p>
<p><u>五苓散方</u></p>
<p>豬苓　茯苓　白朮（各十八銖）　桂枝（半兩）　澤瀉（一兩六銖）</p>
<p>上五味。為末。以白飲和服方寸匕。日三服。多飲暖水。汗出愈。</p>

<h3>表實裡虛四逆湯先救里一條</h3>
<p>病發熱頭痛。脈反沉。若不瘥。身體疼痛。當救其里。宜四逆湯。</p>
<p>發熱身疼痛。邪在表也。而脈反沉。則脈與病左矣。不瘥者。謂以汗藥發之而不瘥也。以其裡氣虛寒。無以為發汗散邪之地。故與四逆湯。舍其表而救其里。如下利身疼痛之例也。</p>
<p><u>四逆湯方</u></p>
<p>生附子（一枚）　乾薑（一兩半）　炙甘草（二兩）</p>
<p>上三味㕮咀。以水三升。煮取一升二合。去滓。分溫再服。強人可大附子一枚。乾薑三兩。</p>

<h3>陽微先汗陰微先下隨脈施治一條</h3>
<p>太陽病未解。脈陰陽俱停。必先振慄汗出而解。但陽脈微者。先汗出而解。但陰脈微者。下之而解。若欲下之。宜調胃承氣湯主之。</p>
<p>脈陰陽俱停者。陰陽諸脈。兩相停勻。而無偏勝也。既無偏勝。則必有相持不下之勢。故必至於戰而汗出。而後邪氣乃解。振慄者。陰陽相爭之候也。但陽脈微者。陽邪先衰。故當汗出而解。但陰脈微者。陰邪先衰。故可下之而解。所謂攻其堅而不入者。攻其瑕而立破也。然本論云、尺中脈微者。不可下。此又云、但陰脈微者。下之而解。蓋彼為正虛而微。此為邪退而微也。脈微則同。而辨之於邪與正之間。亦未易言之矣。調胃承氣乃下藥之最輕者。以因勢利導。故不取大下而取緩行耳。夫傷寒先汗後下者。法之常也。或先汗或先下。隨脈轉移者。法之變也。設不知此而汗下妄施。寧不為逆耶。</p>
<p><u>調胃承氣湯方</u></p>
<p>大黃（四兩去皮）　炙甘草（二兩）　芒硝（半斤）</p>
<p>上三味。以水三升。煮取一升。去滓。納芒硝。更上火微煮令沸。少少溫服之。</p>

<h3>傷寒裡虛法先補里二條</h3>
<p>傷寒二三日。心中悸而煩者。小建中湯主之。</p>
<p>傷寒裡虛則悸。邪擾則煩。二三日悸而煩者。正虛不足。而邪欲入內也。是不可攻其邪。但與小建中湯溫養中氣。中氣立則邪自解。即不解。而攻取之法。亦可因而施矣。仲景御變之法如此。誰謂傷寒非全書哉。</p>
<p><u>小建中湯方</u></p>
<p>桂枝（去皮）　炙甘草　生薑（各三兩）　芍藥（六兩）　膠飴（一升）　大棗（十二枚擘）</p>
<p>上五味。以水七升。煮取三升。去滓。納膠飴。更上微火消解。溫服一升。日三服。</p>
<p>傷寒脈結代。心動悸。炙甘草湯主之。</p>
<p>脈結代者。邪氣阻滯而營衛澀少也。心動悸者。神氣不振而都城震驚也。是雖有邪氣。而攻取之法。無所施矣。故宜人參、薑、桂。以益衛氣。膠、麥、麻、地、甘棗。以益營氣。營衛既充。脈復神完。而後從而取之。則無有不服者矣。此又擴建中之制。為陰陽並調之法如此。今人治病。不問虛實。概與攻發。豈知真氣不立。病雖去。亦必不生。況病未必去耶。</p>
<p><u>炙甘草湯方</u>　一名復脈湯。</p>
<p>甘草（四兩炙）　生薑（三兩）　桂枝（三兩去皮）　人參（二兩）　阿膠（二兩）　麥冬（半升去心）　生地（一斤）　麻仁（半升）　大棗（三十枚）</p>
<p>上九味。以清酒七升。水八升。先煮八味。取三升。去滓。內膠。烊消盡。溫服一升。日三服。</p>

<h3>結陰代陰脈法一條</h3>
<p>脈按之來緩而時一止復來者。名曰結。又脈來動而中止。更來小數中有還者反動。名曰結。陰也。脈來動而中止。不能自還。因而復動。名曰代。陰也。得此脈者必難治。</p>
<p>脈來數時一止復來者。名曰促。脈來緩時一止復來者。名曰結。結者。邪氣結滯。而脈之行不利也。又結與代。相似而實不同。結脈止而即還。不失至數。但少瘥遲耳。代脈止而不還。斷已復動。有此絕而彼來。代之意。故名曰代。而俱謂之陰者。結代脈皆為陰。故謂之結陰代陰也。凡病得此脈者。攻之則邪未必去而正轉傷。補之則正未得益而邪反滯。故曰難治。仲景因上條脈結代。而詳言其狀如此。</p>
<p>以上並太陽權變之法。權變者。謂有汗證而不得逕用汗藥也。而其間或取小汗。或待其自解。或兼清熱。或兼消飲。或先救里。或建中氣。或養營衛。種種不同。世道日降。人心不古。凡所患病。類多兼證。學者於此等變法。尤當著意。故特類列於此。凡二十三條。</p>

<h2>太陽斡旋法第三</h2>

<h3>服桂枝湯後證治六條</h3>
<p>太陽病。初服桂枝湯。反煩不解者。先刺風池、風府。卻與桂枝湯則愈。</p>
<p>太陽病與桂枝湯。於法為當矣。乃初服之。反加煩熱而不解者。陽邪痹於陽而不去也。風池、風府、陽維之會。陽維者。諸陽之所維。刺之所以通陽痹。痹通。然後與桂枝取汗則愈。此仲景法中之法也。</p>
<p>服桂枝湯。大汗出。脈洪大者。與桂枝湯如前法。若形如瘧。日再發者。汗出必解。宜桂枝二麻黃一湯。</p>
<p>服桂枝湯。汗雖大出而邪不去。所謂如水淋漓。病必不除也。若脈洪大。則邪猶甚。故宜更與桂枝取汗。如前法者。如啜熱稀粥。溫覆取汗之法也。若其人病形如瘧。而一日再發。則正氣內勝。邪氣欲退之徵。設得汗出。其邪必從表解。然非重劑所可發者。桂枝二麻黃一湯以助正而兼散邪。而又約小其制。乃太陽發汗之輕劑也。</p>
<p><u>桂枝二麻黃一湯方</u>（論見後）</p>
<p>桂枝（去皮一兩十七銖）　大棗（五枚擘）　炙甘草　芍藥　生薑（各一兩六銖）　麻黃（十六銖去節）　杏仁（十六個去皮尖）</p>
<p>上七味。以水五升。先煮麻黃一二沸。去上沫。納諸藥。煮取二升。去滓。溫服一升。日再服。</p>
<p>服桂枝湯。大汗出後。大煩渴不解。脈洪大者。白虎加人參湯主之。</p>
<p>服桂枝湯後。大汗出。脈洪大。與上條同。而大煩渴不解。則其邪去表而之裡。不在太陽之經。而入陽明之腑矣。陽明者。兩陽之交。而津液之腑也。邪氣入之。足以增熱氣而耗津液。是以大煩渴不解。方用石膏。辛甘大寒。直清胃熱為君。而以知母之鹹寒佐之。人參、甘草、粳米之甘。則以之救津液之虛。抑以制石膏之悍也。曰白虎者。蓋取金氣徹熱之義云耳。</p>
<p><u>白虎加人參湯方</u></p>
<p>人參（三兩）　知母（六兩）　甘草（二兩）　粳米（六合）　石膏（一斤碎）</p>
<p>上五味。以水一斗。煮米熟湯成。去滓。溫服一升。日三服。服桂枝湯。或下之。仍頭項強痛。翕翕發熱。無汗。心下滿微痛。小便不利者。桂枝去桂加茯苓白朮湯主之。頭項強痛。翕翕發熱。無汗。邪在表也。心下滿微痛。飲在裡也。此表間之邪。與心下之飲。相得不解。是以發之而不從表出。奪之而不從下出也。夫表邪挾飲者。不可攻表。必治其飲而後表可解。桂枝湯去桂加茯苓、白朮。則不欲散邪於表。而但逐飲於裡。飲去則不特滿痛除。而表邪無附。亦自解矣。</p>
<p><u>桂枝去桂加茯苓白朮湯方</u></p>
<p>於桂枝湯內去桂枝。加茯苓、白朮各三兩。余依前法煮服。小便利即愈。傷寒脈浮。自汗出。小便數。心煩。微惡寒。腳攣急。反與桂枝湯。欲攻其表。此誤也。得之便厥。咽中干。煩躁吐逆者。作甘草乾薑湯與之。以復其陽。若厥愈足溫者。更作芍藥甘草湯與之。其腳即伸。若胃氣不和。譫語者。少與調胃承氣湯。若重發汗。復加燒針者。四逆湯主之。</p>
<p>脈浮。自汗出。微惡寒者。雖傷於寒而表不實。乃桂枝湯證也。然小便數。心煩。腳攣急。則陰虛而裡熱矣。</p>
<p>是當以甘辛攻表。而以甘寒顧里。乃反與桂枝湯。治表而遺里。宜其得之而便厥也。咽中干。煩躁吐逆。皆陰虛陽逆之象。設非以溫藥徒攻其表。何至此哉。夫既陰虛於下。而又陽逆於上。則必先復陽氣而後復陰氣。故作甘草乾薑湯甘辛復陽之劑。陽復則厥愈而足溫矣。更作芍藥甘草湯甘酸復陰之劑。陰生則兩腳自伸矣。陰陽既復。而或胃氣有未和。因而譫語者。則少與調胃承氣湯以和其胃。胃和則譫語止矣。蓋甘草、乾薑。固足以救虛陽之逆。而亦能傷胃氣之和。此鹹寒調胃之法。不得不斡旋於陰陽既復之後也。若重發汗。復加燒針。是逆而再逆。其厥逆之象。必有加於前。而補救之法。必非甘草、乾薑所能勝任者矣。四逆湯甘辛大熱。乃克復陽氣之大藥也。此條前後用藥。溫涼補瀉。絕不相謀。而適以相濟。非深造自得。卓有成見者。烏能及此。</p>
<p><u>甘草乾薑湯方</u></p>
<p>甘草（四兩炙）　乾薑（二兩）</p>
<p>上㕮咀。以水三升。煮一升五合。去滓。分溫再服。</p>
<p><u>芍藥甘草湯方</u></p>
<p>芍藥（四兩）　甘草（四兩炙）</p>
<p>上二味。以水三升。煮一升五合。去滓。分溫再服。</p>
<p>問曰、證象陽旦。按法治之而增劇。厥逆咽中干。兩脛拘急而譫語。師言夜半手足當溫。兩腳當伸。後如師言。何以知之。答曰、寸口脈浮而大。浮則為風。大則為虛。風則生微熱。虛則兩脛攣。病證象桂枝。因加附子參其間。增桂令汗出。附子溫經。亡陽故也。厥逆咽中干。煩躁。陽明內結。譫語煩亂。更飲甘草乾薑湯。夜半陽氣還。兩足當熱。脛尚微拘急。重與芍藥甘草湯。爾乃脛伸。以承氣湯微溏則止其譫語。故知病可愈。</p>
<p>此即前條之意。而設為問答。以明所以增劇及所以病愈之故。然中間語意殊無倫次。此豈後人之文耶。昔人讀考工記謂不類於周官。余於此條亦云。成氏云、陽旦、桂枝湯別名。</p>

<h3>發汗後脈證治法十五條</h3>
<p>太陽病發汗。遂漏不止。其人惡風。小便難。四肢微急。難以屈伸者。桂枝加附子湯主之。</p>
<p>發汗傷陽。外風復襲。汗遂不止。活人所謂漏風是也。夫陽者。所以實腠理、行津液、運肢體者也。今陽已虛。不能護其外。復不能行於里。則汗出小便難。而邪風之氣。方外淫而旁溢。則惡風、四肢微急、難以屈伸。是宜桂枝湯解散風邪。兼和營衛。加附子補助陽氣。並御虛風也。</p>
<p><u>桂枝加附子湯方</u></p>
<p>於桂枝湯內加附子一枚。破八片。炮。去皮。余依前法。</p>
<p>發汗後。身疼痛。脈沉遲者。桂枝加芍藥生薑各一兩。人參三兩。新加湯主之。</p>
<p>發汗後。邪痹於外。而營虛於內。故身痛不除。而脈轉沉遲。經曰、其脈沉者。營氣微也。又曰、遲者。營氣不足。血少故也。故以桂枝加芍藥、生薑、人參。以益不足之血。而散未盡之邪。東垣云、仲景於病人汗後身熱。亡血。脈沉遲者。下利身涼。脈微。血虛者。並加人參。古人血脫者。必益氣也。然人參味甘氣溫。溫固養氣。甘亦實能生血。汗下之後。血氣虛衰者。非此不為功矣。</p>
<p>發汗過多。其人叉手自冒心。心下悸。欲得按者。桂枝甘草湯主之。</p>
<p>心為陽臟。而汗為心之液。發汗過多。心陽則傷。其人叉手自冒心者。裡虛欲為外護也。悸、心動也。欲得按者。心中築築不寧。欲得按而止之也。是宜補助心陽為主。桂枝、甘草。辛甘相合。乃生陽化氣之良劑也。</p>
<p><u>桂枝甘草湯方</u></p>
<p>桂枝（四兩去皮）　甘草（二兩炙）</p>
<p>上二味。以水三升。煮取一升。去滓。頓服。</p>
<p>按發汗過多。有動腎中之陽者。以陽為汗之根。而腎為陽之宅。枝傷者其本必戕也。有動心中之陽者。以汗為心之液。而心為陽之臟。液亡者。氣必從之也。救腎陽者。必以鹹溫。救心陽者。必以甘辛。咸性善下。而溫能返陽。故四逆為救腎之劑。甘辛相合。而陽氣乃生。故桂甘為益心之法也。未持脈時。病人叉手自冒心。師因教試令咳。而不咳者。此必兩耳聾無聞也。所以然者。以重發汗虛故如此。</p>
<p>病人叉手自冒心者。心陽內虛。欲得外護。如上條所云也。耳聾者。陽氣上虛。陰反得而實之也。師因叉手冒心。而更試耳之聰否。以求陽之虛實。若耳聾無聞。其為過汗致虛。當與溫養無疑。臨病之工。宜如是詳審耳。許叔微曰。傷寒耳聾。發汗過多者。正氣虛也。邪不出者。邪氣閉也。虛之與閉。治法懸殊。學者更宜詳審。</p>
<p>太陽病發汗。汗出不解。其人仍發熱。心下悸。頭眩。身瞤動振振。欲擗地者。真武湯主之。發汗過多。不能解太陽之邪。而反動少陰之氣。於是身仍發熱。而悸眩瞤動等證作矣。少陰之氣。水氣也。心屬火而水乘之。故悸。頭為陽而陰加之。故眩。經脈綱維一身。以行血氣。故水入之。則振振瞤動也。擗猶據也。眩動之極。心體不安。思欲據地以自固也。此與陽虛外亡有別。陽虛者。但須四逆以復陽。此兼水飲。故必真武以鎮水。方用白朮、茯苓之甘淡。以培土而行水。附子、生薑之辛。以復陽而散邪。芍藥之酸。則入陰斂液。使氾濫之水。盡歸大壑而已耳。</p>
<p><u>真武湯方</u></p>
<p>茯苓（三兩）　芍藥（三兩）　白朮（二兩）　生薑（三兩）　附子（一枚炮去皮破八片）</p>
<p>上五味。以水八升。煮取三升。去滓。溫服七合。日三服。</p>
<p>發汗後。其人臍下悸者。欲作奔豚。茯苓桂枝甘草大棗湯主之。</p>
<p>發汗後。臍下悸者。心氣不足而腎氣乘之也。奔豚、腎之積。發則從少腹上衝心胸。如豕之突。故名奔豚。又腎為水臟。豚為水畜。腎氣上衝。故名奔豚。茯苓能泄水氣。故以為君。桂枝能伐腎邪。故以為臣。然欲治其水。必防其土。故取甘草、大棗。補益土氣為使。甘瀾水者。揚之令輕。使水氣去不益腎邪也。</p>
<p><u>茯苓桂枝甘草大棗湯方</u></p>
<p>茯苓（半斤）　桂枝（四兩）　甘草（三兩）　大棗（十五枚）</p>
<p>上四味。以甘瀾水一斗。先煮茯苓減二升。納諸藥。煮取三升。去滓。溫服一升。日三服。</p>
<p>作甘瀾水法。取水二斗。置大盆內。以勺揚之。水上有珠子五六千顆相逐。取用之。</p>
<p>病人脈數。數為熱。當消穀引食。而反吐者。此以發汗。令陽氣微。膈氣虛。脈乃數也，數為客熱。不能消穀。以胃中虛冷。故吐也。</p>
<p>脈數為熱。乃不能消穀而反吐者。浮熱在上。而虛冷在下也。浮熱不能消穀。為虛冷之氣逼而上浮。如客之寄。不久即散。故曰客熱。是雖脈數如熱。而實為胃中虛冷。不可更以寒藥益其疾也。</p>
<p>發汗後。腹脹滿者。厚朴生薑甘草半夏人參湯主之。</p>
<p>發汗後。表邪雖解而腹脹滿者。汗多傷陽。氣窒不行也。是不可以徒補。補之則氣愈窒。亦不可以逕攻。攻之則陽益傷。故以人參、甘草、生薑助陽氣。厚朴、半夏行滯氣。乃補泄兼行之法也。</p>
<p><u>厚朴生薑甘草半夏人參湯方</u></p>
<p>生薑（半斤切）　半夏（半升洗）　甘草（二兩炙）　人參（一兩）　厚朴（半斤去皮炙）</p>
<p>上五味。以水一斗。煮取三升。去滓。溫服一升。日三服。</p>
<p>傷寒發汗。解半日許。復煩。脈浮數者。可更發汗。宜桂枝湯主之。</p>
<p>傷寒發汗。解半日許。復煩者。非舊邪去而新邪復乘也。餘邪未盡。復集為病。如余寇未盡。復合為亂耳。脈浮數者。邪氣在表之徵。故可更發其汗。以盡其邪。但以已汗復汗。故不宜麻黃之峻劑。而宜桂枝之緩法。此仲景隨時變易之妙也。</p>
<p>發汗。病不解。反惡寒者。虛故也。芍藥附子甘草湯主之。</p>
<p>發汗不解。反加惡寒者。邪氣不從汗而出。正氣反因汗而虛也。是不可更逐邪氣。當先復其正氣。是方芍藥之酸。可以益血。附子之辛。可以復氣。甘草甘平。不特安中補虛。且與酸合而化陰。與辛合而生陽也。</p>
<p><u>芍藥甘草附子湯方</u></p>
<p>芍藥（三兩）　甘草（三兩炙）　附子（一枚炮破八片）</p>
<p>上三味。以水五升。煮取一升五合。去滓。分溫服。</p>
<p>發汗後。惡寒者。虛故也。不惡寒但熱者。實也。當和胃氣。與調胃承氣湯。</p>
<p>汗出而惡寒者。陽不足而為虛也。芍藥甘草附子湯治之是已。汗出而不惡寒但熱者。邪入里而成實也。然不可以峻攻。但與調胃承氣湯。和其胃氣而已。發汗後。不可更行桂枝湯。汗出而喘。無大熱者。可與麻黃杏仁甘草石膏湯。</p>
<p>發汗後。汗出而喘。無大熱者。其邪不在肌腠。而入肺中。緣邪氣外閉之時。肺中已自蘊熱。發汗之後。其邪不從汗而出之表者。必從內而並於肺耳。故以麻黃、杏仁之辛而入肺者。利肺氣。散邪氣。甘草之甘平。石膏之甘辛而寒者。益肺氣。除熱氣。而桂枝不可更行矣。蓋肺中之邪。非麻黃、杏仁不能發。而寒鬱之熱。非石膏不能除。甘草不特救肺氣之困。抑以緩石膏之悍也。</p>
<p><u>麻黃杏仁甘草石膏湯方</u></p>
<p>麻黃（四兩去節）　杏仁（五十枚去皮尖）　炙甘草（二兩）　石膏（半斤碎綿裹）</p>
<p>上四味。以水七升。先煮麻黃減二升。去上沫。納諸藥。煮取二升。去滓。溫服一升。</p>
<p>發汗後。飲水多。必喘。以水灌之。亦喘。</p>
<p>發汗之後。肺氣必虛。設飲水過多。水氣從胃上射肺中。必喘。或以水灌洗致汗。水寒之氣從皮毛而內侵其所合。亦喘。成氏謂喘為肺疾是也。</p>
<p>發汗後。水藥不得入口為逆。若更發汗。必吐下不止。</p>
<p>發汗後吐逆。至水藥不得入口者。必其人素有積飲。乘汗藥升浮之性而上行也。是當消飲下氣。雖有表邪。不可更發其汗。設更發之。重傷陽氣。其飲之在中者。不特上逆而仍吐嘔。亦且下注而成泄利矣。</p>
<p>太陽病。小便利者。以飲水多。必心下悸。小便少者。必苦裡急也。</p>
<p>病在太陽之時。裡熱未甚。水液尚通。其外雖病。而其內猶晏如也。故不可多飲水。設飲水多。必停於心下為悸。所以然者。里無熱。不能消水。心屬火而畏水。水多凌心。故惕惕然跳動不寧也。然使小便自利。則停水自行。雖悸猶當自愈。若小便不利而少。則水不下行。積於膀胱。必苦裡急。裡急者。小便欲行而不能。則小腹奔迫急痛也。此以飲水所致。比於汗下之過。而非太陽本病。故附於斡旋法下。</p>
<p>以上十五條。併發汗後證。而或傷衛陽。或損營血。或亡心陽。或動腎水。或傷胃陽。及傷脾氣。或邪仍不解。或解而轉屬陽明。及傳膀胱。或動飲氣。或傷肺氣。或入肺中。其變種種不同。其治因之各異。學者諳練在心。亦可以應變無窮矣。</p>

<h3>發汗吐下解後病脈證治三條</h3>
<p>傷寒發汗。若吐若下。解後。心下痞硬。噫氣不除者。旋覆代赭石湯主之。</p>
<p>傷寒發汗。或吐或下。邪氣則解。而心下痞硬。噫氣不除者。胃氣弱而未和。痰氣動而上逆也。旋覆花鹹溫。行水下氣。代赭石味苦質重。能墜痰降氣。半夏、生薑、辛溫。人參、大棗、甘草甘溫。合而用之。所以和胃氣而止虛逆也。</p>
<p><u>旋覆代赭石湯方</u></p>
<p>旋覆花（三兩）　人參（二兩）　炙甘草（三兩）　生薑（五兩切）　半夏（半升洗）代赭石（一兩）　大棗（十二枚擘）</p>
<p>上七味。以水一斗。煮取六升。去滓。再煎取三升。溫服一升。日三服。</p>
<p>傷寒若吐若下後。心下逆滿。氣上衝胸。起則頭眩。脈沉緊。發汗則動經。身為振振搖者。茯苓桂枝白朮甘草湯主之。</p>
<p>此傷寒邪解而飲發之證。飲停於中則滿。逆於上則氣衝而頭眩。入於經則身振振而動搖。金匱云、膈間支飲。其人喘滿。心下痞堅。其脈沉緊。又云、心下有痰飲。胸脅支滿。目眩。又云、其人振振身瞤劇。必有伏飲是也。發汗則動經者。無邪可發。而反動其經氣。故與茯苓、白朮。以蠲飲氣。桂枝、甘草。以生陽氣。所謂病痰飲者。當以溫藥和之也。</p>
<p><u>茯苓桂枝白朮甘草湯方</u></p>
<p>茯苓（四兩）　桂枝（三兩）　白朮　炙甘草（各二兩）</p>
<p>上四味。以水六升。煮取三升。分溫三服。</p>
<p>凡病若發汗。若吐。若下。若亡津液。陰陽自和者。必自愈。</p>
<p>陰陽自和者。不偏於陰。不偏於陽。汗液自出。便溺自調之謂。汗吐下亡津液後。邪氣既微。正氣得守。故必自愈。</p>

<h3>太陽傳本證治七條</h3>
<p>太陽病。發汗後。大汗出。胃中干。煩躁不得眠。欲得飲水者。少少與飲之。令胃氣和則愈。若脈浮。小便不利。微熱消渴者。與五苓散主之。</p>
<p>傷寒之邪。有離太陽之經而入陽明之腑者。有離太陽之標而入太陽之本者。發汗後。汗出胃干。煩躁飲水者。病去表而之裡。為陽明腑熱證也。脈浮。小便不利。微熱消渴者。病去標而之本。為膀胱腑熱證也。在陽明者。熱能消水。與水即所以和胃。在膀胱者。水與熱結。利水即所以去熱。多服暖水汗出者。以其脈浮而身有微熱。故以此兼徹其表。昔人謂五苓散為表裡兩解之劑。非以此耶。</p>
<p><u>五苓散方</u>　方見權變法。</p>
<p>按古法從經腑言。則太陽為經。而膀胱為腑。從標本言。則太陽為標。膀胱為本。病去太陽而之膀胱。所以謂之太陽傳本也。然膀胱本病。有水結、血結之不同。水結宜五苓散導水泄熱。血結宜桃核承氣及抵當湯丸導血除熱。具如下文。</p>
<p>發汗已。脈浮數煩渴者。五苓散主之。</p>
<p>傷寒汗出而渴者。五苓散主之。不渴者。茯苓甘草湯主之。</p>
<p>發汗已。脈浮數煩渴者。太陽經病傳腑。寒邪變熱之候。故與五苓散導水泄熱。王宇泰云、太陽、經也。膀胱、腑也。膀胱者。溺之室也。故東垣以渴為膀胱經本病。然則治渴者。當瀉膀胱之熱。瀉膀胱之熱者。利小便而已矣。然腑病又有渴與不渴之異。由腑陽有盛與不足之故也。渴者。熱盛思水。水與熱得。故宜五苓散導水泄熱。不渴者。熱雖入里。不與水結。則與茯苓甘草湯行陽化氣。此膀胱熱盛熱微之辨也。</p>
<p><u>茯苓甘草湯方</u></p>
<p>茯苓（二兩）　桂枝（二兩去皮）　生薑（二兩切）　甘草（一兩炙）</p>
<p>上四味。以水四升。煮取二升。去滓。分溫三服。</p>
<p>太陽病不解。熱結膀胱。其人如狂。血自下。下者愈。其外不解者。尚未可攻。當先解外。外解已。但少腹急結者。乃可攻之。宜桃核承氣湯。</p>
<p>太陽之邪。不從表出。而內傳於腑。與血相搏。名曰蓄血。其人當如狂。所謂蓄血在下。其人如狂是也。其證當下血。血下則熱隨血出而愈。所謂血病見血自愈也。如其不愈而少腹急結者。必以法攻而去之。然其外證不解者。則尚未可攻。攻之恐血去而邪復入里也。是必先解其外之邪。而後攻其里之血。所謂從外之內而盛於內者。先治其外。而後調其內也。以下三條。並太陽傳本、熱邪入血、血蓄下焦之證。與太陽傳本、熱與水結、煩渴小便不利之證。正相對照。所謂熱邪傳本者。有水結、血結之不同也。</p>
<p><u>桃核承氣湯方</u></p>
<p>桃核（五十枚去皮尖）　桂枝（二兩去皮）　芒硝（二兩）　甘草（二兩炙）　大黃（四兩）</p>
<p>上五味。以水七升。煮取二升五合。去滓。納芒硝。更上火。微沸下火。先食。溫服五合。日三服。當微利。</p>
<p>愚按此即調胃承氣湯加桃仁、桂枝。為破瘀逐血之劑。緣此證熱與血結。故以大黃之苦寒。蕩實除熱為君。芒硝之鹹寒。入血耎堅為臣。桂枝之辛溫。桃仁之辛潤。擅逐血散邪之長為使。甘草之甘。緩諸藥之勢。俾去邪而不傷正為佐也。</p>
<p>太陽病。六七日。表證仍在。脈微而沉。反不結胸。其人發狂者。以熱在下焦。少腹當硬滿。小便自利者。下血乃愈。所以然者。以太陽隨經。瘀熱在裡故也。抵當湯主之。</p>
<p>此亦太陽熱結膀胱之證。六七日。表證仍在。而脈微沉者。病未離太陽之經。而已入太陽之腑也。反不結胸。其人發狂者。熱不在上而在下也。少腹硬滿。小便自利者。不結於氣而結於血也。下血則熱隨血去。故愈。所以然者。太陽、經也。膀胱、腑也。太陽之邪。隨經入里。與血俱結於膀胱。所謂經邪入腑。亦謂之傳本是也。抵當湯中水蛭虻蟲食血去瘀之力。倍於芒硝。而又無桂枝之甘辛。甘草之甘緩。視桃仁承氣湯為較峻矣。蓋血自下者。其血易動。故宜緩劑。以去未盡之邪。瘀熱在裡者。其血難動。故須峻藥以破固結之勢也。</p>
<p><u>抵當湯方</u></p>
<p>水蛭（三十個熬）　虻蟲（三十個熬去翅足）　大黃（四兩酒浸）　桃仁（三十個去皮尖）</p>
<p>上四味為末。以水五升。煮取三升。去滓。溫服一升。不下。更服。</p>
<p>太陽病。身黃。脈沉結。少腹硬。小便不利者。為無血也。小便自利。其人如狂者。血證諦也。抵當湯主之。</p>
<p>身黃。脈沉結。少腹硬。水病、血病皆得有之。但審其小便不利者。知水與熱蓄。為無血而有水。五苓散證也。若小便自利。其人如狂者。乃熱與血結。為無水而有血。抵當湯證也。設更與行水。則非其治矣。仲景以太陽熱入膀胱。有水結、血結之分。故反復明辨如此。</p>
<p>傷寒有熱。少腹滿。應小便不利。今反利者。為有血也。當下之。不可余藥。宜抵當丸。</p>
<p>有熱。身有熱也。身有熱而少腹滿。亦太陽熱邪傳本之證。膀胱者。水溺所由出。其變為小便不利。今反利者。乃血瘀而非水結。如上條抵當湯下之之例也。云不可余藥者。謂非抵當丸不能以治之耳。</p>
<p><u>抵當丸方</u></p>
<p>水蛭（二十個）　虻蟲（二十個）　大黃（三兩）　桃仁（二十個去皮尖）</p>
<p>上四味。杵分為四丸。以水一升。煮一丸。取七合。服之。晬時當下血。若不下者。更服。</p>
<p>愚按此條證治。與前條大同。而變湯為丸。未詳何謂。嘗考其制。抵當丸中水蛭、虻蟲。減湯方三分之一。而所服之數。又居湯方十分之六。是緩急之分。不特在湯丸之故矣。此其人必有不可不攻。而又有不可峻攻之勢。如身不發黃。或脈不沉結之類。仲景特未明言耳。有志之士。當不徒求之語言文字中也。</p>

<h1>卷二·太陽篇下</h1>

<h2>太陽救逆法第四</h2>

<h3>論結胸臟結之異三條</h3>
<p>問曰、病有結胸。有臟結。其狀如何。答曰、按之痛。寸脈浮。關脈沉。名曰結胸也。何謂臟結。答曰、如結胸狀。飲食如故。時時下利。寸脈浮。關脈小細沉緊。名曰臟結。舌上白苔滑者。難治。</p>
<p>此設為問答。以辨結胸、臟結之異。結胸者。邪結胸中。按之則痛。臟結者。邪結臟間。按之亦痛。如結胸者。謂如結胸之按而痛也。然胸高而臟下。胸陽而臟陰。病狀雖同。而所處之位則不同。是以結胸不能食。臟結則飲食如故。結胸不必下利。臟結則時時下利。結胸關脈沉。臟結則更小細緊。而其病之從表入里。與表猶未盡之故。則又無不同。故結胸、臟結。其寸脈俱浮也。舌上白苔滑者。在裡之陽不振。入結之邪已深。結邪非攻不去。而臟虛又不可攻。故曰難治。</p>
<p>臟結無陽證。不往來寒熱。其人反靜。舌上苔滑者。不可攻也。</p>
<p>邪結在臟。必陽氣內動。或邪氣外達。而後可施攻取之法。若無陽證。不往來寒熱。則內動外達之機俱泯。是以其人反靜。其舌苔反滑。邪氣伏而不發。正氣弱而不振。雖欲攻之。無可攻已。蓋即上文難治之端。而引其說如此。</p>
<p>病脅下素有痞。連在臍旁。痛引少腹入陰筋者。此名臟結。死。</p>
<p>臟結之證。不特傷寒。即雜病亦有之。曰脅下素有痞。則其病久而非暴矣。曰連在臍旁。痛引少腹入陰筋。則其邪深而非淺矣。既深且久。攻之不去。補之無益。雖不卒死。亦無愈期矣。故曰死。</p>

<h3>論結胸及痞之源一條</h3>
<p>病發於陽。而反下之。熱入因作結胸。病發於陰。而反下之。因作痞。所以成結胸者。以下之太早故也。</p>
<p>此原所以結胸與痞之故。病發於陽者。邪在陽之經。病發於陰者。邪在陰之經也。陽經受邪。郁即成熱。其氣內陷。則為結胸。陰經受邪。未即成熱。其氣內陷。則作痞。所以然者。病邪在經。本當發散而反下之。裡氣則虛。邪氣因入。與飲相摶而為病也。要之陽經受邪。原有可下之例。特以里未成實。而早行下法。故有結胸之變證。審其當下而後下之。何至是哉。仲景復申明所以成結胸之故。而不及痞。豈非以陰經受邪。則無論遲早。俱未可言下耶。</p>

<h3>論結胸證治十條</h3>
<p>太陽病。脈浮而動數。浮則為風。數則為熱。動則為痛。數則為虛。頭痛發熱。微盜汗出。而反惡寒者。表未解也。醫反下之。動數變遲。膈內拒痛。胃中空虛。客氣動膈。短氣躁煩。心中懊憹。陽氣內陷。心下因硬。則為結胸。大陷胸湯主之。若不結胸。但頭汗出。余無汗。劑頸而還。小便不利。身必發黃也。</p>
<p>脈浮動數。皆陽也。故為風為熱為痛。而數則有正為邪迫。失其常度之象。故亦為虛。頭痛發熱。微盜汗出。而復惡寒。為邪氣在表。法當發散。而反下之。正氣則虛。邪氣乃陷。動數變遲者。邪自表而入里。則脈亦去陽而之陰也。膈內拒痛者。邪欲入而正拒之。正邪相擊則為痛也。胃中空虛。客氣動膈者。胃氣因下而裡虛。客氣乘虛而動膈也。短氣躁煩。心中懊憹者。膈中之飲。為邪所動。氣乃不舒。而神明不寧也。</p>
<p>由是陽邪內陷。與飲相結。痞硬不消。而結胸之病成矣。大陷胸湯則正治陽邪內結胸中之藥也。若其不結胸者。熱氣散漫。既不能從汗而外泄。亦不得從溺而下出。蒸郁不解。浸淫肌體。勢必發黃也。</p>
<p><u>大陷胸湯方</u></p>
<p>大黃（六兩）　芒硝（一升）　甘遂（一錢匕）</p>
<p>上三味。水六升。先煮大黃取二升。去滓。納芒硝。煮一二沸。納甘遂末。溫服一升。得快利。止後服。</p>
<p>按大陷胸與大承氣。其用有心下與胃中之分。以愚觀之。仲景所云心下者。正胃之謂。所云胃中者。正大小腸之謂也。胃為都會。水穀並居。清濁未分。邪氣入之。夾痰雜食。相結不解。則成結胸。大小腸者。精華已去。糟粕獨居。邪氣入之。但與穢物結成燥糞而已。大承氣專主腸中燥糞。大陷胸並主心下水食。燥糞在腸。必藉推逐之力。故須枳、樸。水食在胃。必兼破飲之長。故用甘遂。且大承氣先煮枳、樸。而後納大黃。大陷胸先煮大黃。而後納諸藥。夫治上者制宜緩。治下者制宜急。而大黃生則行速。熟則行遲。蓋即一物。而其用又有不同如此。</p>
<p>傷寒六七日。結胸熱實。脈沉而緊。心下痛。按之石硬者。大陷胸湯主之。</p>
<p>邪氣內結。既熱且實脈復沉緊有似大承氣證。然結在心下而不在腹中。雖接之石硬而痛。亦是水食互結。與陽明之燥糞不同。故宜甘遂之破飲。而不宜枳、樸之散氣。如上條之說也。</p>
<p>傷寒十餘日。熱結在裡。復往來寒熱者。與大柴胡湯。但結胸無大熱者。此為水結在胸脅也。但頭微汗出者。大陷胸湯主之。</p>
<p>熱結在裡。而復往來寒熱。是謂表裡俱實。不得以十餘日之久。而獨治其里也。故宜大柴胡表裡兩解之法。若但結胸而無大熱。如口燥渴心煩等證者。此為水飲結在胸脅之間。所謂水結胸者是也。蓋邪氣入里。必挾身中所有。以為依附之地。是以在腸胃則結於糟粕。在胸膈則結於水飲。各隨其所有而為病耳。水結在胸。而但頭汗出者。邪膈於上而氣不下通也。故與大陷胸湯。以破飲而散結。</p>
<p>太陽病。重發汗。而復下之。不大便五六日。舌上燥而渴。日晡所小有潮熱。從心下至少腹。硬滿而痛不可近者。大陷胸湯主之。</p>
<p>汗下之後。津液重傷。邪氣內結。不大便五六日。舌上燥而渴。日晡所小有潮熱。皆陽明胃熱之徵也。從心下至少腹。硬滿而痛不可近。則不特徵諸兆。抑且顯諸形矣。乃不用大承氣而用大陷胸者。亦以水食互結。且雖至少腹。而未離心下故也。不然。下證悉具。下藥已行。何以不臣枳、樸而臣甘遂哉。結胸者。項亦強。如柔痓狀。下之則和。宜大陷胸丸。</p>
<p>痓病之狀。頸項強直。結胸之甚者。熱與飲結。胸膈緊貫。上連於項。但能仰而不能俯。亦如痓病之狀也。曰柔而不曰剛者。以陽氣內陷者。必不能外閉。而汗常自出耳。是宜下其胸中結聚之實。則強者得和而愈。然胸中盛滿之邪。固非小陷胸所能去。而水熱互結之實。亦非承氣湯所可治。故與葶藶之苦。甘遂之辛。以破結飲而泄氣閉。杏仁之辛。白蜜之甘。以緩下趨之勢。而去上膈之邪。其芒硝、大黃。則資其軟堅蕩實之能。</p>
<p><u>大陷胸丸方</u></p>
<p>大黃（半斤）　葶藶（半斤）　芒硝（半斤）　杏仁（半升去皮尖熬）</p>
<p>上四味。搗篩二味。納杏仁、芒硝。合研如脂。和散。取如彈丸一枚。別搗甘遂末一錢匕。白蜜二合。水二升。煮取一升。溫頓服之。一宿乃下。如不下。更服。取下為效。禁如藥法。</p>
<p>按湯者蕩也。盪滌邪穢。欲使其淨盡也。丸者緩也。和理臟腑。不欲其速下也。大陷胸丸以盪滌之體。為和緩之用。蓋以其邪結在胸。而至如柔痓狀。則非峻藥不能逐之。而又不可以急劑一下而盡。故變湯為丸。煮而並渣服之。乃峻藥緩用之法。峻則能勝破堅蕩實之任。緩則能盡際上迄下之邪也。</p>
<p>小結胸病。正在心下。按之則痛。脈浮滑者。小陷胸湯主之。</p>
<p>胸中結邪。視結胸較輕者。為小結胸。其證正在心下。按之則痛。不似結胸之心下至少腹硬滿。而痛不可近也。其脈浮滑。不似結胸之脈沉而緊也。是以黃連之下熱。輕於大黃、半夏之破飲。緩於甘遂、栝蔞之潤利。和於芒硝。而其蠲除胸中結邪之意。則又無不同也。故曰小陷胸湯。</p>
<p><u>小陷胸湯方</u></p>
<p>黃連（一兩）　半夏（半升洗）　栝蔞實（大者一枚）</p>
<p>上三味。以水六升。先煮栝蔞實。取三升。去滓。納諸藥。煮取二升。去滓。分溫三服。</p>
<p>病在陽。應以汗解之。反以冷水潠之。若灌之。其熱被劫不得去。彌更益煩。肉上粟起。意欲飲水。反不渴者。服文蛤散。若不瘥者。與五苓散。寒實結胸無熱證者。與三物小陷胸湯。白散亦可服。</p>
<p>病在陽者。邪在表也。當以藥取汗。而反以冷水潠之。或灌濯之。其熱得寒被劫而又不得竟去。於是熱伏水內。而彌更益煩。水居熱外。而肉上粟起。而其所以為熱。亦非甚深而極盛也。故意欲飲水。而口反不渴。文蛤鹹寒而性燥。能去表間水熱互結之氣。若服之而不瘥者。其熱漸深。而內傳入本也。五苓散辛散而淡滲。能去膀胱與水相得之熱。若其外不鬱於皮膚。內不傳於膀胱。則水寒之氣。必結於胸中。而成寒實結胸。寒實者。寒邪成實。與結胸熱實者不同。審無口燥渴煩等證見者。當與三物白散溫下之劑。以散寒而除實也。本文小陷胸湯及亦可服七字。疑衍。蓋未有寒熱而仍用黃連、栝蔞者。或久而變熱者。則亦可與服之耳。</p>
<p><u>文蛤散方</u></p>
<p>文蛤五兩為散。以沸湯和一錢匕服。湯用五合。</p>
<p><u>三物白散方</u></p>
<p>桔梗（三分）　貝母（三分）　巴豆（一分去皮心熬黑）</p>
<p>上三味為末。納巴豆。更於臼中杵之。以白飲和服。強人半錢匕。羸者減之。病在膈上必吐。在膈下必利。不利。進熱粥一杯。利過不止。進冷粥一杯。身熱皮粟不解。欲引衣自覆者。若以水潠之洗之。益令熱劫不得出。當汗而不汗則煩。假令汗出已。腹中痛。與芍藥三兩。如上法。</p>
<p>太陽少陽並病。而反下之。成結胸。心下硬。下利不止。水漿不下。其人心煩。</p>
<p>太陽病未罷而並於少陽。法當和散。如柴胡加桂枝之例。而反下之。陽邪內陷。則成結胸。亦如太陽及少陽誤下之例也。但邪既上結。則當不復下注。乃結胸心下硬。而又下利不止者。邪氣甚盛。而淫溢上下也。於是胃氣失其和。而水漿不下。邪氣亂其心。而煩擾不寧。所以然者。太少二陽之熱。並而入里。充斥三焦心胃之間。故其為病。較諸結胸有獨甚焉。仲景不出治法者。非以其盛而不可制耶。</p>
<p>結胸證。其脈浮大者。不可下。下之則死。</p>
<p>結胸證。原有可下之例。如大陷胸湯及丸諸法是也。若其脈浮大者。心下雖結而表邪猶盛。則不可逕與下法。下之則臟氣重傷。邪氣復入。既不能受。又不可制。則難為生矣。故曰下之則死。</p>
<p>結胸證悉具。煩躁者死。下利者亦死。</p>
<p>傷寒邪欲入而煩躁者。正氣與邪爭也。邪既結而煩躁者。正氣不勝。而將欲散亂也。結胸證悉具。謂脈沉緊。心下痛。按之石硬。及不大便。舌上燥而渴。日晡所潮熱。如上文所云是也。而又煩躁不寧。則邪結甚深。而正虛欲散。或下利者。是邪氣淫溢。際上極下。所謂病勝臟者也。雖欲不死。其可得乎。</p>

<h3>痞證七條</h3>
<p>脈浮而緊。而復下之。緊反入里。則作痞。按之自濡。但氣痞耳。</p>
<p>此申言所以成痞之故。浮而緊者。傷寒之脈。所謂病發於陰也。緊反入里者。寒邪因下而內陷。與熱入因作結胸同意。但結胸心下硬滿而痛。痞則按之濡而不硬且痛。所以然者。陽邪內陷。止於胃中。與水穀相結。則成結胸。陰邪內陷。止於胃外。與氣液相結。則為痞。是以結胸為實。而按之硬痛。痞病為虛。而按之自濡耳。</p>
<p>心下痞。按之濡。其脈關上浮者。大黃黃連瀉心湯主之。</p>
<p>按成氏云、心下硬。按之痛。關脈沉者。實熱也。心下痞。按之濡。關上浮者。虛熱也。與大黃、黃連以導其虛熱。成氏所謂虛熱者。對燥屎而言也。非陰虛陽虛之謂。蓋熱邪入里。與糟粕相結。則為實熱。不與糟粕相結。即為虛熱。本方以大黃、黃連為劑。而不用枳、樸、芒硝者。蓋以泄熱。非以蕩實也。麻沸湯者。煮水小沸如麻子。即以煮藥。不使盡藥力也。</p>
<p><u>大黃黃連瀉心湯方</u></p>
<p>大黃（二兩）　黃連（一兩）</p>
<p>上二味。以麻沸湯二升漬之。須臾。絞去滓。分溫再服。</p>
<p>心下痞。而復惡寒汗出者。附子瀉心湯主之。</p>
<p>此即上條而引其說。謂心下痞。按之濡。關脈浮者。當與大黃黃連瀉心湯瀉心下之虛熱。若其人復惡寒而汗出。證兼陽虛不足者。又須加附子以復表陽之氣。乃寒熱並用。邪正兼治之法也。</p>
<p><u>附子瀉心湯方</u></p>
<p>大黃（二兩）　黃連（一兩）　黃芩（一兩）　附子（一枚炮去皮破別煮取汁）</p>
<p>上四味切。三味以麻沸湯二升漬之。須臾。絞去滓。內附子汁。分溫三服。</p>
<p>按此證邪熱有餘而正陽不足。設治邪而遺正。則惡寒益甚。或補陽而遺熱。則痞滿愈增。此方寒熱補瀉。並投互治。誠不得已之苦心。然使無法以制之。鮮不混而無功矣。方以麻沸湯漬寒藥。別煮附子取汁。合和與服。則寒熱異其氣。生熟異其性。藥雖同行。而功則各奏。乃先聖之妙用也。</p>
<p>傷寒五六日。嘔而發熱者。柴胡湯證具。而以他藥下之。柴胡證仍在者。復與柴胡湯。此雖已下之。不為逆。必蒸蒸而振。卻發熱汗出而解。若心下滿而硬痛者。此為結胸也。大陷胸湯主之。但滿而不痛者。此為痞。柴胡不中與之。宜半夏瀉心湯。</p>
<p>結胸及痞。不特太陽誤下有之。即少陽誤下亦有之。柴胡湯證具者。少陽嘔而發熱。及脈弦口苦等證具在也。是宜和解。而反下之。於法為逆。若柴胡證仍在者。復與柴胡湯和之即愈。此雖已下之。不為逆也。蒸蒸而振者。氣內作而與邪爭勝。則發熱汗出而邪解也。若無柴胡證。而心下滿而硬痛者。則為結胸。其滿而不痛者。則為痞。均非柴胡所得而治之者矣。結胸宜大陷胸湯。痞宜半夏瀉心湯。各因其證而施治也。</p>
<p><u>半夏瀉心湯方</u></p>
<p>黃芩（三兩）　人參（三兩）　甘草（三兩）　黃連（一兩）　半夏（半升洗）　乾薑（三兩）　大棗（十二枚）</p>
<p>上七味。以水一斗。煮取六升。去滓。再煮取三升。溫服一升。日三服。</p>
<p>按痞者。滿而不實之謂。夫客邪內陷。即不可從汗泄。而滿而不實。又不可從下奪。故惟半夏、乾薑之辛。能散其結。黃連、黃芩之苦。能泄其滿。而其所以泄與散者。雖藥之能。而實胃氣之使也。用參、草、棗者。以下後中虛。故以之益氣。而助其藥之能也。</p>
<p>傷寒汗出解之後。胃中不和。心下痞硬。乾噫食臭。脅下有水氣。腹中雷鳴下利者。生薑瀉心湯主之。汗解之後。胃中不和。既不能運行真氣。並不能消化飲食。於是心中痞硬。乾噫食臭。金匱所謂中焦氣未和。不能消穀。故令人噫是也。噫、噯食氣也。脅下有水氣。腹中雷鳴下利者。土德不及而水邪為殃也。故以瀉心消痞。加生薑以和胃。</p>
<p>按上條本少陽病。不宜入太陽篇中。此條汗解後病。亦不得謂之逆。而俱列於此者。所以備諸瀉心之用也。</p>
<p><u>生薑瀉心湯方</u></p>
<p>生薑（四兩切）　人參（三兩）　半夏（半升洗）　甘草（三兩炙）　黃芩（三兩）</p>
<p>大棗（十二枚擘）　黃連（一兩）　乾薑（一兩）</p>
<p>上八味。以水一斗。煮取六升。去滓。再煮取三升。溫服一升。日三服。</p>
<p>傷寒中風。醫反下之。其人下利日數十行。穀不化。腹中雷鳴。心下痞硬而滿。乾嘔心煩不得安。醫見心下痞。謂病不盡。復下之。其痞益甚。此非結熱。但以胃中虛。客氣上逆。故使硬也。甘草瀉心湯主之。</p>
<p>傷寒中風者。成氏所謂傷寒或中風者是也。邪盛於表而反下之。為下利穀不化。腹中雷鳴。為心下痞硬而滿。為乾嘔心煩不得安。是表邪內陷心間。而復上攻下注。非中氣空虛。何致邪氣淫溢至此哉。醫以為結熱未去。而復下之。是已虛而益虛也。虛則氣不得化。邪愈上逆。而痞硬有加矣。故與瀉心消痞。加甘草以益中氣。</p>
<p><u>甘草瀉心湯方</u></p>
<p>甘草（四兩）　黃芩（三兩）　乾薑（三兩）　黃連（一兩）　半夏（半升洗）　大棗（十二枚擘）</p>
<p>上六味。以水一斗。煮取六升。去滓。再煮取三升。溫服一升。日三服。</p>
<p>按生薑瀉心湯甘草瀉心湯二方。雖同為治痞之劑。而生薑瀉心。意在胃中不和。故主生薑以和胃。甘草瀉心。意在下利不止。與客氣上逆。故不用人參之增氣。而須甘草之安中也。</p>
<p>傷寒大下後。復發汗。心下痞。惡寒者。表未解也。不可攻痞。當先解表。表解乃可攻痞。解表宜桂枝湯。攻痞宜大黃黃連瀉心湯。</p>
<p>大下復汗。正虛邪入。心下則痞。當與瀉心湯如上法矣。若其人惡寒者。邪雖入里。而表猶未罷。則不可逕攻其痞。當先以桂枝湯解其表。而後以大黃黃連瀉心湯攻其痞。不然。恐痞雖解。而表邪復入里為患也。況痞亦未必能解耶。</p>
<p>按傷寒下後。結胸痞滿之外。又有懊憹煩滿下利等證。蓋邪入里而未集。而其位又高。則為懊憹。其已集而稍下者。則為結胸及痞。其最下而亦未結者。則為下利。結胸痞滿。具如上文。凡十七條。以下凡十一條。則備舉懊憹、下利諸證也。</p>

<h3>懊憹煩滿證治六條</h3>
<p>發汗吐下後。虛煩不得眠。若劇者。必反復顛倒。心中懊憹。梔子豉湯主之。若少氣者。梔子甘草豉湯主之。若嘔者。梔子生薑豉湯主之。</p>
<p>發汗吐下後。正氣既虛。邪氣亦衰。乃虛煩不得眠。甚則反復顛倒。心中懊憹者。未盡之邪。方入里而未集。已虛之氣。欲勝邪而不能。則煩亂不寧。甚則心中懊憹鬱悶。而不能自已也。梔子體輕。味苦微寒。豉經蒸罯。可升可降。二味相合。能徹散胸中邪氣。為除煩止躁之良劑。少氣者。呼吸少氣。不足以息也。甘草之甘。可以益氣。嘔者。氣逆而不降也。生薑之辛。可以散逆。得吐則邪氣散而當愈。不可更吐以傷其氣。故止後服。</p>
<p><u>梔子豉湯方</u></p>
<p>梔子（十四枚擘）　香豉（四合綿裹）</p>
<p>上二味。以水四升。先煮梔子。得二升半。納豉。煮取一升半。去滓。分二服。溫進一服。得吐。止後服。</p>
<p><u>梔子甘草豉湯方</u></p>
<p>於梔子豉湯內加入甘草二兩。余依前法。</p>
<p><u>梔子生薑豉湯方</u></p>
<p>於梔子豉湯內。加入生薑五兩。余依前法。</p>
<p>發汗若下之。而煩熱胸中窒者。梔子豉湯主之。</p>
<p>傷寒五六日。大下之後。身熱不去。心中結痛者。未欲解也。梔子豉湯主之。</p>
<p>煩熱者。心煩而身熱也。胸中窒者。邪入胸間而氣窒不行也。蓋亦汗下後。正虛邪入。而猶未集之證。故亦宜梔子豉湯散邪徹熱為主也。心中結痛者。邪結心間而為痛也。然雖結痛而身熱不去。則其邪亦未盡入。與結胸之心下痛而身不熱者不同。此梔子豉湯之散邪徹熱。所以輕於小陷胸之蕩實除熱也。</p>
<p>傷寒下後。心煩腹滿。臥起不安者。梔子厚朴湯主之。</p>
<p>下後心煩。證與上同。而加腹滿。則邪入較深矣。成氏所謂邪氣壅於心腹之間者是也。故去香豉之升散。而加枳、樸之降泄。若但滿而不煩。則邪入更深。又當去梔子之輕清。而加大黃之沉下矣。此梔子厚朴湯所以重於梔豉而輕於承氣也。</p>
<p><u>梔子厚朴湯方</u></p>
<p>梔子（十四枚擘）　厚朴（四兩薑汁炒）　枳實（四枚水浸去穰炒）</p>
<p>上三味。以水三升半。煮取一升半。去滓。分二服。溫進一服。得吐者。止後服。</p>
<p>傷寒。醫以丸藥大下之。身熱不去。微煩者。梔子乾薑湯主之。大下後身熱不去。證與前同。乃中無結痛。而煩又微而不甚。知正氣虛。不能與邪爭。雖爭而亦不能勝之也。故以梔子徹胸中陷入之邪。乾薑復下藥損傷之氣。</p>
<p><u>梔子乾薑湯方</u></p>
<p>梔子（十四枚）　乾薑（二兩）</p>
<p>上二味。以水三升半。煮取一升半。去滓。分二服。溫進一服。得吐。止後服。</p>
<p>凡用梔子湯。病人舊微溏者。不可與服之。</p>
<p>病人舊微溏者。未病之先。大便本自微溏。為裡虛而寒在下也。梔子湯本湧泄胸中客熱之劑。舊微溏者。中氣不固。與之。恐藥氣乘虛下泄。而不能上達。則膈熱反因之而深入也。故曰不可與服之。</p>

<h3>下利脈證五條</h3>
<p>太陽病。桂枝證。醫反下之。利遂不止。脈促者。表未解也。喘而汗出者。葛根黃連黃芩湯主之。</p>
<p>太陽中風發熱。本當桂枝解表。而反下之。裡虛邪入。利遂不止。其脈則促。其證則喘而汗出。夫促為陽盛。脈促者。知表未解也。無汗而喘。為寒在表。喘而汗出。為熱在裡也。是其邪陷於裡者十之七。而留於表者十之三。其病為表裡並受之病。故其法亦宜表裡兩解之法。葛根黃連黃芩湯。葛根解肌於表。芩、連清熱於裡。甘草則合表裡而並和之耳。蓋風邪初中。病為在表。一入於裡。則變為熱矣。故治表者。必以葛根之辛涼。治里者。必以芩、連之苦寒也。而古法汗者不以偶。下者不以奇。故葛根之表。則數多而獨行。芩、連之裡。則數少而並須。仲景矩矱。秩然不紊如此。</p>
<p><u>葛根黃連黃芩湯方</u></p>
<p>葛根（半斤）　甘草（二兩炙）　黃芩（二兩）　黃連（三兩）</p>
<p>上四味。以水八升。先煮葛根。減二升。納諸藥。煮取二升。去滓。分溫再服。</p>
<p>太陽病。外證未除。而數下之。遂協熱而利。利下不止。心下痞硬。表裡不解者。桂枝人參湯主之。</p>
<p>太陽誤下自利。而又表裡不解。與上條同。然曰數下。則氣屢傷矣。曰利下不止。則虛復甚矣。雖心下痞硬。亦是正虛失運之故。是宜桂枝之辛。以解其表。參、朮、薑、草之甘溫。以安其里。而不可以葛根攻表。亦不得以芩、連清裡。治如上條之例矣。</p>
<p><u>桂枝人參湯方</u></p>
<p>桂枝（四兩）　乾薑（三兩）　白朮（三兩）　人參（三兩）　炙甘草（四兩）</p>
<p>上五味。以水九升。先煮四味。取五升。納桂。更煮取三升。溫服一升。日再。夜一服。</p>
<p>傷寒。醫下之。續得下利。清穀不止。身疼痛者。急當救里。後身疼痛。清便自調者。急當救表。救里宜四逆湯。救表宜桂枝湯。</p>
<p>傷寒下後。邪氣變熱。乘虛入里者。則為挾熱下利。其邪未入里而臟虛生寒者。則為下利清穀。各因其人邪氣之寒熱。與臟氣之陰陽而為病也。身疼痛者。邪在表也。然臟氣不充。則無以為發汗散邪之地。故必以溫藥。舍其表而救其里。服後清便自調。裡氣已固。而身痛不除。則又以甘辛發散為急。不然。表之邪又將入里而增患矣。而救里用四逆。救表用桂枝。與厥陰篇下利腹脹滿身疼痛條略同。彼為寒邪中陰。此為寒藥傷里。而其溫中散邪、先表后里之法。則一也。</p>
<p>太陽病。二三日。不能臥。但欲起。心下必結。脈微弱者。此本有寒分也。反下之。若利止。必作結胸。未止者。四日復下之。此作協熱利也。</p>
<p>太陽病。二三日。為病未久也。不能臥。但欲起者。心下結滿。臥則氣愈壅而不安也。脈微弱。陽氣衰少也。夫二三日。為病未久。則寒未變熱。而脈又微弱。知其結於心下者。為寒分而非熱分矣。寒分者。病屬於寒。故謂寒分。猶金匱所謂血分氣分水分也。寒則不可下。而醫反下之裡虛寒入。必為下利不止。若利止。必作結胸者。寒邪從陽之化。而上結於陽位也。若未止。四日復下之者。寒已變熱。轉為協熱下利。故須復下。以盡其邪。所謂在下者。引而竭之也。總之。寒邪中人。久必變熱。而邪不上結。勢必下注。仲景反復詳論。所以詔示後人者深矣。</p>
<p>傷寒服湯藥。下利不止。心下痞硬。服瀉心湯已。復以他藥下之。利不止。醫以理中與之。利益甚。理中者。理中焦。此利在下焦。赤石脂禹餘糧湯主之。複利不止者。當利其小便。</p>
<p>湯藥亦下藥也。下後下利痞硬。瀉心湯是已。而復以他藥下之。以虛益虛。邪氣雖去。下焦不約。利無止期。故不宜參、朮、薑、草之安中。而宜赤脂、禹糧之固下也。乃服之而利猶不止。則是下焦分注之所清濁不別故也。故當利其小便。</p>
<p><u>赤石脂禹餘糧湯方</u></p>
<p>赤石脂（一斤碎）　禹餘糧（一斤碎）</p>
<p>上二味。以水六升。煮取二升。去滓。分溫三服。</p>

<h3>下後諸變證治八條</h3>
<p>太陽病下之。其脈促。不結胸者。此為欲解也。脈浮者。必結胸也。脈緊者。必咽痛。脈弦者。必兩脅拘急。脈細數者。頭痛未止。脈沉緊者。必欲嘔。脈沉滑者。協熱利。脈浮滑者。必下血。</p>
<p>此因結胸。而並詳太陽誤下諸變。謂脈促為陽盛。而不結於胸。則必無下利痞滿之變。其邪將從外解。若脈浮者。下後邪已入里。而猶在陽分。則必作結胸矣。脈緊者。太陽之邪傳入少陰之絡。故必咽痛。所為脈緊者屬少陰。又邪客於足少陰之絡。令人咽痛。不可內食是也。脈弦者。太陽之邪傳入少陽之經。故必兩脅拘急。所為尺寸俱弦者。少陽受病。其脈循脅絡於耳故也。脈細為氣少。數為陽脈。氣不足而陽有餘。乃邪盛於上也。故頭痛未止。脈沉為在裡。緊為寒脈。邪入里而正不容。則內為格拒。故必欲嘔。脈沉滑者。熱勝而在下也。故協熱利。脈浮滑者。陽勝而陰傷也。故必下血。經曰、不宜下而更攻之。諸變不可勝數。此之謂也。以下並太陽下後之證。而或胸滿。或喘。或煩驚譫語。或脅痛發黃。是結胸、痞滿、煩躁、下利外。尚有種種諸變如此。</p>
<p>太陽病。下之後。脈促胸滿者。桂枝去芍藥湯主之。若微惡寒者。去芍藥方中加附子湯主之。</p>
<p>陽邪被抑。不復浮盛於表。亦未結聚於裡。故其胸滿、其脈促。促者。數而時一止也。夫促為陽脈。胸中為陽之府。脈促胸滿。則雖誤下。而邪氣仍在陽分。故以桂、甘、薑、棗甘辛溫藥。從陽引而去之。去芍藥者。恐酸寒氣味。足以留胸中之邪。且奪桂枝之性也。若微惡寒者。其人陽不足。必加附子。以助陽氣而逐陽邪。設徒與前法。則藥不及病。雖病不增劇。亦必無濟矣。</p>
<p><u>桂枝去芍藥湯方</u></p>
<p>於桂枝湯內去芍藥。余依前法。</p>
<p><u>桂枝去芍藥加附子湯方</u></p>
<p>於桂枝湯方內去芍藥。加附子一枚。炮。去皮。破八片。余依前法。</p>
<p>太陽病。下之。微喘者。表未解故也。桂枝加厚朴杏仁湯主之。喘家作桂枝湯。加厚朴、杏仁佳。</p>
<p>太陽誤下。無結胸下利諸變。而但微喘。知其里未受病。而其表猶未解。胸中之氣。為之不利也。故與桂枝湯解表散邪。加厚朴、杏仁下氣定喘。然喘之為病。所關非細。而誤下之後。其變實多。仲景此條。蓋可以互證。而難以獨引。亦如太陽病。脈浮者。可發汗。宜麻黃湯之文也。學者辨諸。</p>
<p>太陽病。下之後。其氣上衝者。可與桂枝湯。方用前法。若不上衝者。不可與之。</p>
<p>病在太陽。而反下之。正氣遂虛。邪氣則陷。乃其氣反上衝者。陽邪被抑而復揚。仍欲出而之表也。故可與桂枝湯。從陽引而去之。因其輕而揚之之意也。用前法者。即啜熱稀粥。以助藥力之法。蓋欲以救被傷之氣。而引欲出之邪耳。若不上衝者。邪已內陷。不復外攻。當隨脈證而調其內。不可更以桂枝攻其表也。</p>
<p>傷寒八九日。下之。胸滿煩驚。小便不利。譫語。一身盡重。不可轉側者。柴胡加龍骨牡蠣湯主之。</p>
<p>傷寒下後。其邪有並歸一處者。如結胸下利諸候是也。有散漫一身者。如此條所云諸證是也。胸滿者。邪痹於上。小便不利者。邪痹於下。煩驚者。邪動於心。譫語者。邪結於胃。此病之在裡者也。一身盡重。不可轉側者。筋脈骨肉。並受其邪。此病之在表者也。夫合表裡上下而為病者。必兼陰陽合散以為治。方用柴胡、桂枝。以解其外而除身重。龍、蠣、鉛丹。以鎮其內而止煩驚。大黃以和胃氣止譫語。茯苓以泄膀胱利小便。人參、薑、棗。益氣養營衛。以為驅除邪氣之本也。如是表裡虛實。泛應曲當而錯雜之邪。庶幾盡解耳。</p>
<p><u>柴胡加龍骨牡蠣湯方</u></p>
<p>半夏（二合洗）　柴胡（四兩）　人參　龍骨　鉛丹　牡蠣（熬）　茯苓　桂枝　生薑（各一兩半）　大棗（六枚）大黃（二兩）</p>
<p>上十一味。以水八升。煮取四升。納大黃。切如棋子。更煮一二沸。去滓。溫服一升。</p>
<p>得病六七日。脈遲浮弱。惡風寒。手足溫。醫二三下之。不能食。而脅下滿痛。面目及身黃。頸項強。小便難者。與柴胡湯。後必下重。本渴而飲水嘔者。柴胡湯不中與也。食谷者噦。</p>
<p>病六七日。脈浮不去。惡風寒不除。其邪猶在表也。醫反二三下之。胃氣重傷。邪氣入里。則不能食而脅下滿痛。且面目及身黃。頸項強。小便難。所以然者。其人脈遲弱而不數。手足溫而不熱。為太陰本自有濕。而熱又入之。相得不解。交蒸互郁。而面目身體悉黃矣。頸項強者。濕痹於上也。脅下滿痛者。濕聚於中也。小便難者。濕不下走也。皆與熱相得之故也。醫以其脅下滿痛。與柴胡湯以解其邪。後必下重者。邪外解而濕下行。將欲作利也。設熱濕併除。則汗液俱通而愈矣。何至下重哉。本渴而飲水嘔者。金匱所謂先渴卻嘔者。為水停心下。此屬飲家也。飲在心下。則食谷必噦。所謂諸嘔吐。谷不得下者。小半夏湯主之是也。豈小柴胡所能治哉。</p>
<p>本以下之。故心下痞。與瀉心湯。痞不解。其人渴而口燥煩。小便不利者。五苓散主之。</p>
<p>下後成痞。與瀉心湯。於法為當矣。乃痞不解。而其人口燥煩渴。小便不利者。此非痞也。乃熱邪與水蓄而不行也。水蓄不行。則土失其潤而口燥煩渴。下迷其道而小便不利。瀉心湯不中與矣。五苓散散水泄熱。使小便利。則痞與煩渴俱止耳。</p>
<p>下後。不可更行桂枝湯。汗出而喘。無大熱者。可與麻黃杏仁甘草石膏湯。</p>
<p>此與汗後不可更行桂枝湯條大同。雖汗下不同。其為邪入肺中則一。故其治亦同。</p>

<h3>誤汗下及吐後諸變脈證十三條</h3>
<p>本發汗而復下之。此為逆也。若先發汗。治不為逆。本先下之。而反汗之。此為逆也。若先下之。治不為逆。</p>
<p>此泛言汗下之法。各有所宜。當隨病而施治。不可或失其度也。如頭痛發熱惡寒者。本當發汗而反下之。是病在表而治其里也。故曰逆。腹滿便閉惡熱者。本當下之。而反汗之。是病在裡而治其表也。故亦為逆。若審其當汗而汗之。或當下而下之。則亦何逆之有。外臺云、表病里和。汗之則愈。下之則死。里病表和。下之則愈。汗之則死。不可不慎也。</p>
<p>太陽病。先發汗不解。而復下之。脈浮者不愈。浮為在外。而反下之。故令不愈。今脈浮。故知在外。當須解外則愈。宜桂枝湯主之。</p>
<p>既汗復下。邪氣不從表散。而又不從里出者。以其脈浮而邪在外。故雖復下之。而病不愈也。夫病在外者。仍須從外引而去之。今雖已汗下。而其脈仍浮。知其邪猶在外。故須桂枝湯。解散外邪則愈。少陽篇云、柴胡湯證具。而以他藥下之。柴胡證仍在者。復與柴胡湯。必蒸蒸而振。卻發熱汗出而解。與此同意。所當互參。</p>
<p>太陽病。先下之而不愈。因復發汗。以此表裡俱虛。其人因致冒。冒家汗出自愈。所以然者。汗出表和故也。得里未和。然後復下之。</p>
<p>下之則傷其里。汗之則傷其表。既下復汗。表裡俱虛。而邪仍不解。其人則因而為冒。冒、昏冒也。以邪氣蔽其外。陽氣被郁。欲出不能。則時自昏冒。如有物矇蔽之也。若得汗出。則邪散陽出。而冒自愈。金匱云、冒家欲解。必大汗出也。然亦正氣得復。而後汗自出耳。豈可以藥強發之哉。若汗出冒解。而里未和者。然後復下之。以和其里。所謂里病表和。下之而愈是也。</p>
<p>大下之後。復發汗。小便不利者。亡津液故也。勿治之。得小便利。必自愈。</p>
<p>既下復汗。重亡津液。大邪雖解。而小便不利。是未可以藥利之。俟津液漸回。則小便自行而愈。若強利之。是重竭其陰也。況未必即利耶。</p>
<p>下之後。復發汗。必振寒。脈微細。所以然者。以內外俱虛故也。</p>
<p>振寒、振慄而寒也。脈微為陽氣虛。細為陰氣少。既下復汗。身振寒而脈微細者。陰陽並傷。而內外俱虛也。是必以甘溫之劑。和之養之為當矣。</p>
<p>下之後。復發汗。晝日煩躁不得眠。夜而安靜。不嘔不渴。無表證。脈沉微。身不大熱者。乾薑附子湯主之。</p>
<p>大法晝靜夜劇。病在腎陰。夜靜晝劇。病在胃陽。汗下之後。晝日煩躁不得眠。夜而安靜者。邪未盡而陽已虛。晝日陽虛欲復。而與邪爭。則煩躁不得眠。夜而陰旺陽虛。不能與邪爭。則反安靜也。不嘔不渴。里無熱也。身無大熱。表無熱也。而又無頭痛惡寒之表證。其脈又不浮而沉。不洪而微。其為陽氣衰少無疑。故當與乾薑、附子。以助陽虛而逐殘陰也。以上三條。並是汗下後。小便不利者。傷其陰也。振寒脈微細者。陰陽並傷也。晝日煩躁不得眠。夜而安靜者。傷陽而不及陰也。於此見病變之不同。</p>
<p><u>乾薑附子湯方</u></p>
<p>乾薑（一兩）　附子（一枚生用去皮切八片）</p>
<p>上二味。以水三升。煮取一升。去滓。頓服。</p>
<p>發汗若下之。病仍不解。煩躁者。茯苓四逆湯主之。</p>
<p>發汗若下。不能盡其邪。而反傷其正。於是正氣欲復而不得復。邪氣雖微而不即去。正邪交爭。乃生煩躁。是不可更以麻、桂之屬逐其邪。及以梔、豉之類止其煩矣。是方乾薑、生附之辛。所以散邪。茯苓、人參、甘草之甘。所以養正。乃強主弱客之法也。</p>
<p><u>茯苓四逆湯方</u></p>
<p>茯苓（六兩）　人參（一兩）　乾薑（一兩半）　甘草（二兩炙）　附子（一枚生用去皮破八片）</p>
<p>上五味。以水五升。煮取三升。去滓。溫服七合。日三服。</p>
<p>按汗下後煩躁一證。悉是正虛邪擾之故。而有邪多虛少。或虛多邪少之分。邪多者。宜逐邪以安正。虛多者。宜助正以逐邪。仲景既著梔豉湯之例。複列茯苓四逆之法。其於汗下後煩躁一證。虛實互舉。補瀉不遺如此。學者所當究心也。</p>
<p>傷寒胸中有熱。胃中有邪氣。腹中痛。欲嘔吐者。黃連湯主之。</p>
<p>此上中下三焦俱病。而其端實在胃中。邪氣即寒淫之氣。胃中者。沖氣所居。以為上下升降之用者也。胃受邪而失其和。則升降之機息。而上下之道塞矣。成氏所謂陰不得升而獨治其下。為下寒腹中痛。陽不得降而獨治於上。為胸中熱欲嘔吐者是也。故以黃連之苦寒。以治上熱。桂枝之甘溫。以去下寒。上下既平。升降乃復。然而中焦不治。則有升之而不得升。降之而不得降者矣。故必以人參、半夏、乾薑、甘草、大棗。以助胃氣而除邪氣也。此蓋痞證之屬。多從寒藥傷中後得之。本文雖不言及。而其為誤治後證可知。故其藥亦與瀉心相似。而多桂枝耳。</p>
<p><u>黃連湯方</u></p>
<p>黃連　桂枝（去皮）　乾薑　甘草（炙各三兩）　人參（二兩）　半夏（半升洗）　大棗（十二枚擘）</p>
<p>上七味。以水一斗。煮取六升。去滓。溫服一升。日三服。夜二服。</p>
<p>太陽病。當惡寒發熱。今自汗出。不惡寒發熱。關上脈細數者。以醫吐之故也。一二日吐之者。腹中飢。口不能食。三四日吐之者。不喜糜粥。欲食冷食。朝食暮吐。以醫吐之所致也。此為小逆。</p>
<p>病在表而醫吐之。邪氣雖去。胃氣則傷。故自汗出。無寒熱。而脈細數也。一二日。胃氣本和。吐之則胃空思食。故腹中飢。而胃氣因吐而上逆。則又口不能食也。三四日。胃氣生熱。吐之則其熱上動。故不喜糜粥。欲食冷食。而胃氣自虛。不能消穀。則又朝食而暮吐也。此非病邪應爾。以醫吐之所致。曰小逆者。謂邪已去而胃未和。但和其胃。則病必自愈。</p>
<p>傷寒吐下後。復發汗。虛煩。脈甚微。八九日。心下痞硬。脅下痛。氣上衝咽喉。眩冒。經脈動惕者。久而成痿。吐下復汗。津液疊傷。邪氣陷入。則為虛煩。虛煩者。正不足而邪擾之為煩。心不寧也。至八九日。正氣復邪氣退則愈。乃反心下痞硬。脅下痛。氣上衝咽喉。眩冒者。邪氣摶飲內聚而上逆也。內聚者。不能四布。上逆者。無以逮下。夫經脈者。資血液以為用者也。汗吐下後。血液之所存幾何。而復摶結為飲。不能布散諸經。譬如魚之失水。能不為之時時動惕耶。且經脈者。所以綱維一身者也。今既失浸潤於前。又不能長養於後。必將筋膜乾急而攣。或樞折脛縱而不任地。如內經所云脈痿筋痿之證也。故曰久而成痿。</p>
<p>太陽病吐之。但太陽病當惡寒。今反不惡寒。不欲近衣。此為吐之內煩也。</p>
<p>病在表而吐之。邪氣雖去。胃氣生熱。則為內煩。內煩者。熱從內動而生煩也。</p>
<p>太陽病。過經十餘日。心下溫溫欲吐。而胸中痛。大便反溏。腹微滿。鬱郁微煩。先此時。自極吐下者。與調胃承氣湯。若不爾者。不可與。但欲嘔。胸中痛。微溏者。此非柴胡證。以嘔知極吐下也。</p>
<p>過經者。病過一經。不復在太陽矣。詳見陽明篇中。心下溫溫欲吐而胸中痛者。上氣因吐而逆。不得下降也。與病人慾吐者不同。大便溏而不實者。下氣因下而注。不得上行也。與大便本自溏者不同。設見腹滿。鬱郁微煩。知其熱積在中者猶甚。則必以調胃承氣以盡其邪矣。邪盡則不特腹中之煩滿釋。即胸中之嘔痛亦除矣。此因勢利導之法也。若不因吐下而致者。則病人慾吐者。與大便自溏者。均有不可下之戒。豈可漫與調胃承氣湯哉。但欲嘔。腹下痛。有似柴胡證。而系在極吐下後。則病在中氣。非柴胡所得而治者矣。所以知其為極吐大下者。以大便溏而仍復嘔也。不然。病既在下。豈得復行於上哉。</p>
<p>太陽病。三日。已發汗。若吐若下若溫針。仍不解者。此為壞病。桂枝不中與也。觀其脈證。知犯何逆。隨證治之。</p>
<p>若、與或同。言或汗。或吐。或下。或溫針。而病仍不解。即為壞病。不必諸法雜投也。壞病者。言為醫藥所壞。其病形脈證不復如初。不可以原法治也。故曰桂枝不中與也。須審其脈證。知犯何逆。而後隨證依法治之。</p>

<h3>火逆十條</h3>
<p>脈浮。宜以汗解。用火灸之。邪無從出。因火而盛。病從腰以下必重而痹。名火逆也。</p>
<p>脈浮者。病在表。不以汗解。而以火攻。肌腠未開。則邪無從出。反因火氣而熱乃盛也。夫陽邪被迫而不去者。則必入而之陰。病從腰以下重而痹者。邪因火迫而在陰也。故曰火逆。</p>
<p>微數之脈。慎不可灸。因火為邪。則為煩逆。追虛逐實。血散脈中。火氣雖微。內攻有力。焦骨傷筋。血難復也。</p>
<p>脈微數者。虛而有熱。是不可以火攻。而反灸之。熱得火氣。相合為邪。則為煩逆。煩逆者。內煩而火逆也。</p>
<p>血被火迫。謂之追虛。熱因火動。謂之逐實。由是血脈散亂而難復。筋骨焦枯而不澤。火之為害何如耶。</p>
<p>脈浮。熱甚。反灸之。此為實。實以虛治。因火而動。必咽燥唾血。</p>
<p>此火邪迫血。而血上行者也。脈浮熱甚。此為表實。古法瀉多用針。補多用灸。醫不知而反灸之。是實以虛治也。兩實相合。迫血妄行。必咽燥而唾血。</p>
<p>太陽病。以火熏之。不得汗。其人必躁。到經不解。必圊血。名為火邪。</p>
<p>此火邪迫血。而血下行者也。太陽表病。用火熏之。而不得汗。則邪無從出。熱氣內攻。必發躁也。六日傳經盡。至七日則病當解。若不解。火邪迫血。下走腸間。則必圊血。圊血、便血也。</p>
<p>太陽傷寒者。加溫針。必驚也。</p>
<p>寒邪在表。不以汗解。而以溫針。心虛熱入。必作驚也。成氏曰。溫針損營血而動心氣。</p>
<p>太陽病中風。以火劫發汗。邪風被火熱。血氣流溢。失其常度。兩陽相熏灼。其身發黃。陽盛則欲衄。陰虛則小便難。陰陽俱虛竭。身體則枯燥。但頭汗出。劑頸而還。腹滿微喘。口乾咽爛。或不大便。久則譫語。甚者至噦。手足躁擾。捻衣摸床。小便利者。其人可治。</p>
<p>風為陽邪。火為陽氣。風火交煽。是為兩陽。陽盛而熱勝為發黃。陽盛則血亡而陰竭。為欲衄。為小便難也。陰陽俱虛竭。非陽既盛而復虛也。盛者。陽邪自盛。虛者。陽氣自虛也。身體枯燥以下。並陰陽虛竭。火氣熏灼之徵。於法不治。乃小便本難而反利。知其陰氣未絕。猶可調之使復也。故曰其人可治。</p>
<p>太陽病。二日。反躁。反熨其背。而大汗出。大熱入胃。胃中水竭。躁煩。必發譫語。十餘日。振慄自下利者。此為欲解也。故其汗從腰以下不得汗。欲小便不得。反嘔。欲失溲。足下惡風。大便硬。小便當數而反不數。反多。大便已。頭卓然而痛。其人足心必熱。穀氣下流故也。</p>
<p>太陽病二日。不應發躁而反躁者。熱氣行於里也。是不可以火攻之。而反熨其背。汗出熱入。胃乾水竭。為躁煩。為譫語。勢有所必至者。至十餘日。火氣漸衰。陰氣復生。忽振慄自下利者。陽得陰而和也。故曰欲解。因原其未得利時。其人從腰以下無汗。欲小便不得者。陽不下通於陰也。反嘔者。陽邪上逆也。欲失溲。足下惡風者。陽上逆。足下無氣也。大便硬。津液不下行也。諸皆陽氣上盛。升而不降之故。及乎津液入胃。大便得行。於是陽氣暴降而頭反痛。穀氣得下而足心熱。則其腰下有汗。小便得行可知。其不嘔不失溲。又可知矣。</p>
<p>火逆下之。因燒針煩躁者。桂枝甘草龍骨牡蠣湯主之。</p>
<p>火逆復下。已誤復誤。又加燒針。火氣內迫。心陽內傷。則生煩躁。桂枝、甘草。以復心陽之氣。牡蠣、龍骨。以安煩亂之神。此與下條參看更明。</p>
<p><u>桂枝甘草龍骨牡蠣湯方</u></p>
<p>桂枝　炙甘草（各一兩）　牡蠣　龍骨（各二兩）</p>
<p>上為末。以水五升。煮取二升半。去滓。溫服八合。日三服。</p>
<p>傷寒脈浮。醫以火迫劫之。亡陽。必驚狂起臥不安者。桂枝去芍藥加蜀漆牡蠣龍骨救逆陽主之。</p>
<p>陽者。心之陽。即神明也。亡陽者。火氣通於心。神被火迫而不守。此與發汗亡陽者不同。發汗者。搖其精則厥逆筋惕肉瞤。故當用四逆。被火者。動其神則驚狂起臥不安。故當用龍、蠣。其去芍藥者。蓋欲以甘草急復心陽。而不須酸味更益營氣也。與發汗後。其人叉手自冒心。心、下悸。欲得按者。用桂枝甘草湯同意。蜀漆、即常山苗。味辛。能去胸中邪結氣。此證火氣內迫心包。故須之以逐邪而安正耳。</p>
<p><u>桂枝去芍藥加蜀漆牡蠣龍骨救逆湯方</u></p>
<p>桂枝（三兩）　生薑（三兩切）　蜀漆（三兩洗去腥）　甘草（二兩炙）　牡蠣（五兩熬）龍骨（四兩）　大棗（十二枚擘）</p>
<p>上為末。以水一斗二升。先煮蜀漆減二升。納諸藥。煮取三升。去滓。溫服一升。</p>
<p>燒針令其汗。針處被寒。核起而赤者。必發奔豚。氣從少腹上衝心者。灸其核上各一壯。與桂枝加桂湯。燒針發其汗。針處被寒者。故寒雖從汗而出。新寒復從針孔而入也。核起而赤者。針處紅腫如核。寒氣所郁也。於是心氣因汗而內虛。腎氣乘寒而上逆。則發為奔豚。氣從少腹上衝心也。灸其核上。以杜再入之邪。與桂枝加桂。以泄上逆之氣。</p>
<p><u>桂枝加桂湯方</u></p>
<p>於桂枝湯方內更加桂二兩。共五兩。余依前法。</p>

<h2>太陽類病法第五</h2>

<h3>溫病一條</h3>
<p>太陽病。發熱而渴。不惡寒者。為溫病。</p>
<p>此溫病之的證也。溫病者。冬春之月。溫暖太甚。所謂非節之暖。人感之而即病者也。此正是傷寒對照處。傷寒變乃成熱。故必傳經而後渴。溫邪不待傳變。故在太陽而即渴也。傷寒陽為寒鬱。故身發熱而惡寒。溫病陽為邪引。故發熱而不惡寒也。然其脈浮。身熱頭痛。則與傷寒相似。所以謂之傷寒類病云。</p>

<h3>風溫一條</h3>
<p>若發汗已。身灼熱者。名曰風溫。風溫為病。脈陰陽俱浮。自汗出。身重多眠睡。鼻息必鼾。語言難出。若被下者。小便不利。直視失溲。若被火者。微發黃色。劇則如驚癇。時瘛瘲。若火熏之。一逆尚引日。再逆促命期。</p>
<p>此風溫之的脈的證也。亦是傷寒反照處。傷寒寒邪傷在表。汗之則邪去而熱已。風溫溫與風得汗之則風去而溫勝。故身灼熱也。且夫風溫之病。風傷陽氣而溫損陰氣。故脈陰陽俱浮。不似傷寒之陰陽俱緊也。風泄津液。而溫傷肺氣。故自汗出身重。不同傷寒之無汗而體痛也。多眠睡者。熱勝而神昏也。鼻息鼾。語言難出者。風溫上壅。湊於肺也。是當以辛散風而涼勝溫。乃不知而遽下之。則適以傷臟陰而陷邪氣。臟陰傷。則小便難目直視。邪氣陷。則時復失溲也。被火如溫針灼艾之屬。風溫為陽邪。火為陽氣。以陽遇陽。所謂兩陽相熏灼。其身必發黃也。然火微則薰於皮膚。而身發黃色。火劇則逼入心臟。而如發驚癇。且風從火出。而時時瘛瘲。乃所以為逆也。若已被火而復以火熏之。是謂逆而再逆。一逆尚延時日。再逆則促命期。此醫家之大罪也。仲景示人風溫溫病之大戒加此。</p>
<p>按傷寒序例云、從霜降以後。至春分以前。凡有觸冒霜露。體中寒即病者。謂之傷寒。至冬有非節之暖者。名曰冬溫。冬溫之毒。與傷寒大異。從立春節後。其中無暴大寒。又不冰雪。而有人壯熱為病者。此屬春時陽氣發外。冬時伏寒。變為溫病。從春分以後。至秋分節前。天有暴寒者。皆為時行寒疫也。又曰。若更感異氣。變為他病者。當依壞證病而治之。若脈陰陽俱盛。重感於寒者。變為溫瘧。陽脈浮滑。陰脈濡。弱者。更遇於風。變為風溫。陽脈洪數。陰脈實大者。更遇溫熱。變為溫毒。溫毒為病最重也。陽脈濡弱。陰脈弦緊者。更遇溫氣。變為溫疫。夫所謂冬溫寒疫者。皆非其時而有其氣。即所謂天行時氣也。所謂變為溫病者。乃是冬時伏寒。發於春時。陽氣即春溫也。所謂變為溫瘧者。本是溫熱之病。重感新寒。熱為寒鬱。故為瘧也。所謂變為風溫者。前風未絕。而後風繼之。以陽遇陽。相得益熾也。所謂變為溫毒者。前熱未已。而又感溫熱。表裡皆熱。蘊隆為患。故謂毒也。所謂變為溫疫者。本有溫病。而又感厲氣。故為溫疫也。夫治病者。必先識病。欲識病者。必先正名。名正而後證可辨。法可施矣。惜乎方法並未專詳。然以意求之。無不可得。在人之致力何如耳。</p>

<h3>痙病七條</h3>
<p>太陽病。發熱無汗。反惡寒者。名曰剛痙。太陽病。發熱汗出。不惡寒者。名曰柔痙。</p>
<p>此分痙病剛柔之異。以無汗惡寒者。為陰為剛。有汗不惡寒者。為陽為柔。陰性勁切。而陽性舒散也。然必兼有頭動面赤。口噤。背反張。頸項強等證。仲景不言者。以痙字該之也。不然。何異太陽中風傷寒證。而謂之痙證耶。活人亦云痙證發熱惡寒。與傷寒相似。但其脈沉遲弦細。而項背反張為異耳。</p>
<p>太陽病。發熱。脈沉而細者。名曰痙。為難治。</p>
<p>太陽脈本浮。今反沉者。風得濕而伏也。痙脈本緊弦。今反細者。真氣適不足也。攻則正不能任。補則邪不得去。此痙病之難治者也。</p>
<p>太陽病。發汗太多。因致痙。</p>
<p>痙病有太陽風寒不解。重感寒濕而成者。亦有亡血竭氣。損傷陰陽。筋脈不榮而變成痙者。病在太陽。發汗太多。因致成痙。知其為液脫筋急之痙。而非風淫濕鬱之痙矣。經云、氣主煦之。血主濡之。又云、陽氣者。精則養神。柔則養筋。陰陽既衰。筋脈失其濡養。而強直不柔也。此痙病標本虛實之辨也。</p>
<p>病者。身熱足寒。頸項強急。惡寒。時頭熱。面赤。目赤。獨頭動搖。卒口噤。背反張者。痙病也。</p>
<p>痙病不離乎表。故身熱惡寒。痙為風強病。而筋脈受之。故口噤。頭項強。背反張。脈強直。經云。諸暴強直。皆屬於風也。頭熱足寒。面目赤。頭動搖者。風為陽邪。其氣上行而又主動也。</p>
<p>按以上五條。王叔和本編入痙濕暍篇中。在三百九十七法之外。茲特錄之。所以廣類病之法也。以下二條。系太陽原文。而實為痙病。故移置此篇。以資辨證。非好為變亂前文也。學者辨諸。</p>
<p>太陽病。項背強𠘧𠘧。反汗出惡風者。桂枝加葛根湯主之。太陽病。項背強𠘧𠘧。無汗惡風。葛根湯主之。</p>
<p>二條本是痙證。而有表虛表實之分。表實者無汗。表虛者汗反自出。即所謂剛痙柔痙也。然痙、筋病也。亦風病也。故雖有剛柔之異。而其項背強𠘧𠘧惡風。則一也。𠘧𠘧項強連背。不能展顧之貌。桂枝加葛根湯。如太陽桂枝湯例。葛根湯。如太陽麻黃湯例。而並加葛根者。以項背𠘧𠘧。筋骨肌肉並痹而不用。故加葛根以疏肌肉之邪。且並須桂、芍、薑、棗。以通營衛之氣。</p>
<p><u>桂枝加葛根湯方</u></p>
<p>葛根（四兩）　桂枝（二兩去皮）　芍藥（二兩）　甘草（二兩）　生薑（三兩切）　大棗（十二枚）</p>
<p>上六味。以水一斗。先煮葛根。減二升。去上沫。納諸藥。煮取三升。去滓。溫服一升。覆取微似汗。不須啜粥。余如桂枝湯法。原方有麻黃三兩。成氏云、麻黃主表實。後葛根湯證云、太陽病。項背強几几。無汗惡風。葛根湯主之。藥性正與此方同。其無汗者。當用麻黃。今自汗出。恐不加麻黃。但加葛根也。葛根湯方見正治法下。</p>

<h3>濕病五條</h3>
<p>太陽病。關節疼痛而煩。脈沉而細者。此名濕痹。其候小便不利。大便反快。但當利其小便。</p>
<p>濕為六淫之一。故其感人。亦如風寒之先在太陽。但風寒傷於肌腠。而濕則流入關節。風脈浮。寒脈緊。而濕脈則沉而細。濕性濡滯而氣重著。故名濕痹。痹者。閉也。然中風者。必先有內風。而後召外風。中濕者。亦必先有內濕。而後感外濕。由其人平日土德不及。而濕動於中。由是氣化不速。而濕侵於外。外內合邪。為關節疼痛。為小便不利。大便反快。治之者。必先逐內濕。而後可以除外濕。故當利其小便。東垣亦云。治濕不利小便。非其治也。</p>
<p>濕家之為病。一身盡疼。發熱。身色如熏黃。</p>
<p>濕外盛者。其陽必內郁。濕外盛為身疼。陽內鬱則發熱。熱與濕合。交蒸互郁。則身色如熏黃。熏黃者。如煙之熏。色黃而晦。濕氣沉滯故也。若熱黃則黃而明。所謂身黃如橘子色也。</p>
<p>濕家。其人但頭汗出。背強。欲得被覆向火。若下之早則噦。或胸滿。小便不利。舌上如苔者。以丹田有熱。胸上有寒。渴欲得水。而不能飲。則口燥煩也。</p>
<p>寒濕居表。陽氣不得外通。而但上越。為頭汗出。為背強。欲得被覆向火。是宜用溫藥以通陽。不可與攻法以逐濕。乃反下之。則陽更被抑而噦乃作矣。或上焦之陽不布。而胸中滿。或下焦之陽不化。而小便不利。隨其所傷之處而為病也。舌上如苔者。本非胃熱。而舌上津液。燥聚如苔之狀。實非苔也。蓋下後陽氣反陷於下。而寒濕仍聚於上。於是丹田有熱。而渴欲得水。胸上有寒。而復不能飲。則口舌燥煩。而津液乃聚耳。</p>
<p>濕家下之。額上汗出。微喘。小便利者。死。若下利不止者。亦死。</p>
<p>濕病在表者宜汗。在裡者宜利小便。苟非濕熱蘊積成實未可遽用下法。額汗出微喘。陽已離而上行。小便利。下利不止。陰複決而下走。陰陽離決。故死。一作小便不利者死。謂陽上浮而陰不下濟也。亦通。濕家病。身疼痛。發熱。面黃而喘。頭痛。鼻塞而煩。其脈大。自能飲食。腹中和無病。病在頭中寒濕。故鼻塞。內藥鼻中則愈。</p>
<p>寒濕在上。則清陽不布。身疼頭痛鼻塞者。濕上盛也。發熱面黃煩喘者。陽被郁也。而脈大則非沉細之比。腹和無病則非小便不利大便反快之比。是其病不在腹中而在頭。療之者。宜但治其頭而無犯其腹。內藥鼻中。如瓜蒂散之屬。使黃水出。則寒濕去而愈。不必服藥。以傷其中也。</p>

<h3>風濕四條</h3>
<p>病者一身盡疼。發熱。日晡所劇者。此名風濕。此病傷於汗出當風。或久傷取冷所致也。</p>
<p>一身盡疼發熱者。濕也。日晡所劇者。風也。蓋濕無來去。而風有休作。故疼痛發熱。每至日晡則劇也。成氏曰。若汗出當風而得之者。則先客濕而後感風。若久傷取冷所致者。則先感風而後客濕。風與濕合。故曰此名風濕。</p>
<p>問曰、風濕相搏。一身盡疼痛。法當汗出而解。值天陰雨不止。醫云可發汗。汗之病不愈者。何也。答曰、發其汗。汗大出者。但風氣去。濕氣在。是故不愈也。若治風濕者。發其汗。但微微似欲汗出者。風濕俱去也。風濕雖併為六淫之一。然風無形而濕有形。風氣迅而濕氣滯。值此雨淫濕勝之時。自有風易卻而濕難驅之勢。而又發之速而驅之過。宜其風去而濕不與俱去也。故欲濕之去者。但使陽氣內蒸而不驟泄。肌肉關節之間充滿流行。而濕邪自無地可容矣。此發其汗。但微微似欲汗出之旨歟。</p>
<p>以上七條。亦從王叔和痙濕暍篇中錄出。非太陽原文也。</p>
<p>傷寒八九日。風濕相搏。身體疼煩。不能自轉側。不嘔不渴。脈浮虛而澀者。桂枝附子湯主之。若其人大便硬。小便自利者。去桂枝加白朮湯主之。</p>
<p>傷寒至八九日之久。而身疼不除。至不能轉側。知不獨寒淫為患。乃風與濕相合而成疾也。不嘔不渴。里無熱也。脈浮虛而澀。風濕外持。而衛陽不振也。故於桂枝湯去芍藥之酸寒。加附子之辛溫。以振陽氣而敵陰邪。若大便硬。小便自利。知其人在表之陽雖弱。而在裡之氣自治。則皮中之濕。所當驅之於里。使從水道而出。不必更出之表。以危久弱之陽矣。故於前方去桂枝之辛散。加白朮之苦燥。合附子之大力健行者。於以並走皮中。而逐水氣。此避虛就實之法也。</p>
<p><u>桂枝附子湯方</u></p>
<p>桂枝（四兩去皮）　生薑（二兩切）　大棗（十二枚擘）　甘草（二兩炙）　附子（三枚炮去皮破八片）</p>
<p>上五味。以水六升。煮取二升。去滓。分溫三服。</p>
<p>風濕相搏。骨節煩疼掣痛。不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫者。甘草附子湯主之。</p>
<p>此亦濕勝陽微之證。其治亦不出助陽驅濕。如上條之法也。蓋風濕在表。本當從汗而解。而汗出表虛者。不宜重發其汗。惡風不欲去衣。衛虛陽弱之徵。故以桂枝、附子助陽氣。白朮、甘草崇土氣。云得微汗則解者。非正發汗也。陽勝而陰自解耳。</p>
<p><u>甘草附子湯方</u></p>
<p>甘草（二兩炙）　附子（二枚炮去皮破）　白朮（二兩）　桂枝（四兩去皮）</p>
<p>上四味。以水六升。煮取三升。去滓。溫服一升。日三服。初服得微汗而解。能食汗出復煩者。服五合。多者宜服六七合為妙。</p>

<h3>暍病三條</h3>
<p>太陽中暍者。發熱惡寒。身重而疼痛。其脈弦細而遲。小便已。洒洒然毛聳。手足逆冷。小有勞。身即熱。口開。前板齒燥。若發其汗。則惡寒甚。加溫針。則發熱甚。數下之。則淋甚。</p>
<p>中暍、即中暑。暑亦六淫。太陽受之。則為寒熱也。然暑、陽邪也。乃其證反身重疼痛。脈反弦細而遲者。雖名中暍。而實兼濕邪也。小便已。洒洒毛聳者。太陽主表。內合膀胱。便已而氣餒也。手足逆冷者。陽內聚而不外達。故小有勞。即氣出而身熱也。口開前板齒燥者。熱盛於內。而氣淫於外也。蓋暑雖陽邪。而氣恆與濕相合。陽求陰之義也。暑因濕入。而暑反居濕之中。陰包陽之象也。治之者。一如分解風濕之法。辛以散濕。寒以清暑可矣。若發汗則徒傷其表。溫針則更益其熱。下之則熱且內陷。變證隨出。皆非正治暑濕之法也。太陽中熱者。暍是也。汗出惡寒。身熱而渴也。</p>
<p>中熱、亦即中暑。暍、即暑之氣也。惡寒者。熱氣入則皮膚緩。腠理開。開則洒洒然。寒與傷寒惡寒者不同。汗出發熱而渴。知其表裡熱熾。胃陰待涸。求救於水。乃中暑而無濕者之證也。太陽中暍。身熱疼重。而脈微弱。此以夏月傷冷水。水行皮中所致也。</p>
<p>暑之中人也。陰虛而多火者。暑即寓於火之中。為汗出而煩渴。陽虛而多濕者。暑即伏於濕之內。為身熱而疼重。故暑病恆以濕為病。而治濕即所以治暑。故金匱以一物瓜蒂。去身面四肢之水。水去而暑無所依。將不治而自解。此中暑兼濕之證也。</p>

<h3>霍亂十一條</h3>
<p>問曰、病有霍亂者何。答曰、嘔吐而利。名曰霍亂。</p>
<p>此設為問答。以明霍亂之病。謂邪在上者。多吐。邪在下者。多利。邪邪中焦。上逆為嘔吐。復下注而利者。</p>
<p>則為霍亂。霍亂、揮霍撩亂。成於頃刻。變動不安。而其發熱惡寒。亦與陽明相類也。</p>
<p>問曰、病發熱頭痛。身疼惡寒。吐利者。此屬何病。答曰、此名霍亂。自吐下。又利止。復更發熱也。</p>
<p>此即上條之意而詳言之。蓋霍亂之病。本自外來。以其人中氣不足。邪得乘虛入里。傷於脾胃而作吐利。所以有發熱頭痛。身疼惡寒之證。或邪氣直侵脾胃。先自吐下。迨利止里和。則邪氣復還之表。而為發熱。今人吐利之後。往往發熱煩渴者是也。</p>
<p>傷寒。脈微而澀者。本是霍亂。今是傷寒。卻四五日。至陰經上轉入陰必利。本嘔下利者。不可治也。欲似大便而反失氣仍不利者。屬陽明也。便必硬。十三日愈。所以然者。經盡故也。脈微為少氣。澀為無血。傷寒脈不應微澀。而反微澀者。以其為霍亂吐下之後也。本是霍亂。今是傷寒者。吐下止而復更發熱。如上條所云也。熱則邪還於表。當從陽而解矣。乃四五日。至陰經上轉入陰必利者。邪氣不從陽而解。而復入陰為利也。夫霍亂之時。既嘔且利。裡氣已傷。今邪轉入里而復作利。則裡氣再傷。故不可治。若欲大便而反失氣仍不利者。胃、氣復而成實。邪氣衰而欲退也。故可期之十三日愈。所以然者。十二日經氣再周。大邪自解。更過一日。病必愈耳。</p>
<p>下利後。當便硬。硬則能食者。愈。今反不能食。到後經中頗能食。復過一經能食。過之一日當愈。不愈者。不屬陽明也。</p>
<p>下利後。便硬者。病後太陰而轉屬陽明也。陽明病。能食者為胃和。不能食者為胃未和。是以下利後。便硬而能食者。愈。或始先不能食。繼復轉而能食者。過於前一日亦愈。其不愈者。則病不屬陽明。雖能食。不得為胃和。故病不愈也。</p>
<p>惡寒脈微而利。利止。亡血也。四逆加人參湯主之。</p>
<p>惡寒脈緊者。寒邪在外也。惡寒脈微者。陽虛而陰勝也。則其利為陰寒而非陽熱。其止亦非邪盡而為亡血矣。故當與四逆以溫里。加人參以補虛益血也。按此條本非霍亂證。仲景以為霍亂之後。多有裡虛不足而當溫養者。故特隸於此歟。</p>
<p><u>四逆加人參湯方</u></p>
<p>於四逆湯方內加人參一兩。余依四逆湯法服。</p>
<p>霍亂。頭痛發熱。身疼痛。熱多欲飲水者。五苓散主之。寒多不用水者。理中丸主之。</p>
<p>霍亂該吐下而言。頭痛發熱。身疼痛。則霍亂之表證也。而有熱多寒多之分。以中焦為陰陽之交。故或從陽而多熱。或從陰而多寒也。熱多則渴欲飲水。故與五苓散去水而泄熱。寒多則不能勝水而不欲飲。故與理中丸燠土以勝水。</p>
<p><u>理中丸方</u></p>
<p>人參（三兩）　甘草（三兩）　白朮（三兩）　乾薑（三兩）</p>
<p>上四味。搗篩為末。蜜和丸。如雞黃大。以沸湯數合。和一丸。碎研溫服之。日三。夜二服。腹中未熱。益至三四丸。然不及湯。湯法。以四物依兩數切。用水八升。煮取三升。去滓。溫服一升。日三服。</p>
<p>加減法</p>
<p>若臍上築者。腎氣動也。去朮。加桂四兩。</p>
<p>臍上築者。臍上築築然跳動。腎氣上而之脾也。脾方受氣。術之甘能壅脾氣。故去之。桂之辛能下腎氣。故加之。</p>
<p>吐多者。去朮。加生薑三兩。</p>
<p>吐多者。氣方上壅。甘能壅氣。故去朮，辛能散氣。故加生薑。</p>
<p>下多者。還用術。悸者。加伏苓二兩。</p>
<p>下多者。脾氣不守。故須術以固之。悸者。腎水上逆。故加茯苓以導之。</p>
<p>渴欲得水者。加朮。足前成四兩半。</p>
<p>渴欲得水者。津液不足。白朮之甘。足以生之。</p>
<p>腹中痛者。加人參。足前成四兩半。</p>
<p>腹中痛者。裡虛不足。人參之甘。足以補之。</p>
<p>寒者。加乾薑。足前成四兩半。</p>
<p>寒者。腹中氣寒也。乾薑之辛。足以溫之。</p>
<p>腹滿者。去朮。加附子一枚。服湯後。如食頃。飲熱粥一升許。微自溫。勿發揭衣被。</p>
<p>腹滿者。氣滯不行也。氣得甘則壅。得辛則行。故去朮加附子。吐利止。而身痛不休者。當消息。和解其外。宜桂枝湯小和之。</p>
<p>吐利止。里已和也。身痛不休者。表未解也。故須桂枝和解其外。所謂表病里和。汗之則愈也。曰消息。曰小和之者。以吐利之餘。裡氣已傷。故必消息其可汗而後汗之。亦不可大汗。而可小和之也。</p>
<p>吐利汗出。發熱惡寒。四肢拘急。手足厥逆者。四逆湯主之。</p>
<p>此陽虛霍亂之候。發熱惡寒者。身雖然而惡寒。身熱為陽格之假象。惡寒為虛冷之真諦也。四肢拘急手足厥逆者。陽氣衰少。不柔於筋。不溫於四末也。故宜四逆湯助陽氣而驅陰氣。</p>
<p>既吐且利。小便複利。而大汗出。下利清穀。內寒外熱。脈微欲絕者。四逆湯主之。</p>
<p>此亦虛冷霍亂之候。四肢拘急。手足厥逆。虛冷之著於外者也。下利清穀。脈微欲絕。虛冷之著於裡者也。而其為霍亂則一。故吐利汗出。內寒外熱。與上條同。而其用四逆驅內勝之陰。復外散之陽。亦無不同也。</p>
<p>吐已下斷。汗出而厥。四肢拘急。脈微欲絕者。通脈四逆加豬膽汁湯主之。</p>
<p>吐下已止。陽氣當復。陰邪當解。乃汗出而厥。四肢拘急。而又脈微欲絕。則陰無退散之期。陽有散亡之象。於法為較危矣。故於四逆加乾薑一倍。以救欲絕之陽。而又慮溫熱之過。反為陰氣所拒而不入。故加豬膽汁之苦寒。以為嚮導之用。內經盛者從之之意也。</p>
<p><u>四逆加豬膽汁湯方</u></p>
<p>於四逆湯方內加入豬膽汁半合。余依前法服。如無豬膽。以羊膽代之。</p>
<p>吐利發汗。脈平。小煩者。以新虛不勝穀氣故也。</p>
<p>吐利之後。發汗已。而脈平者。為邪已解也。邪解則不當煩而小煩者。此非邪氣所致。以吐下後胃氣新虛。不能消穀。谷盛氣衰。故令小煩。是當和養胃氣。而不可更攻邪氣者也。</p>

<h3>飲證一條</h3>
<p>病如桂枝證。頭不痛。項不強。寸脈微浮。胸中痞硬。氣上衝咽喉不得息者。此為胸有寒也。當吐之。宜瓜蒂散。</p>
<p>此痰飲類傷寒證。寒為寒飲。非寒邪也。活人云、痰飲之為病。能令人憎寒發熱。狀類傷寒。但頭不痛。項不強為異。正此之謂。脈浮者。病在膈間。而非客邪。故不盛而微也。胸有寒飲。足以阻清陽而礙肺氣。故胸中痞硬。氣上衝咽喉。不得息也。經曰、其高者因而越之。千金云、氣浮上部。頓塞心胸。胸中滿者。吐之則愈。瓜蒂散能吐胸中與邪相結之飲也。</p>
<p><u>瓜蒂散方</u></p>
<p>瓜蒂（熬黃）　赤小豆（各一分即糧食中蟹眼緊細之赤豆是也）</p>
<p>上二味。各別搗篩為散。合治之。取一錢匕。以香豉一合。用熱湯七合。煮作稀糜。去滓。取汁。和散。溫頓服之。不吐者。少少加。得快吐乃止。諸亡血虛家。不可與之。</p>

<h1>卷三·陽明篇上</h1>

<h2>辨列陽明條例大意</h2>
<p>太陽病從外入。是以經病多於腑病。若陽明則腑病多於經病。以經邪不能久留。而腑邪常聚而不行也。故仲師以胃家實為陽明正病。本篇先列腑病於前。次列經病於後。遵先聖之法也。而經病有傳經自受之不同。腑病有宜下宜清宜溫之各異。詳見各條。要皆不出為正治之法也。此為上篇。凡四十九條。其次則為明辨法。蓋陽明以胃實為病之正。以攻下為法之的。而其間有經腑相連。虛實交錯。或可下。或不可下。或可下而尚未可下。及不可大下之時。故有脈實。潮熱。轉失氣。小便少等辨。及外導潤下等法。又其次為雜治法。謂病變發黃。蓄血諸候。非復陽明胃實。及經邪留滯之時。所可比例。或散或下。所當各隨其證。而異其治者也。此為下篇。凡三十三條。</p>

<h2>陽明正治法第一</h2>

<h3>陽明腑病證十二條</h3>
<p>陽明之為病。胃家實也。</p>
<p>胃者。匯也。水穀之海。為陽明之腑也。胃家實者。邪熱入胃。與糟粕相結而成。實非胃氣自盛也。凡傷寒腹滿便閉。潮熱。轉失氣。手足濈濈汗出等證。皆是陽明胃實之證也。</p>
<p>問曰、病有太陽陽明。有正陽陽明。有少陽陽明。何謂也。答曰、太陽陽明者。脾約是也。正陽陽明者。胃家實是也。少陽陽明者。發汗。利小便已。胃中燥。煩實。大便難是也。</p>
<p>太陽陽明者。病在太陽。而兼陽明內實。以其人胃陽素盛。脾陰不布。屎小而硬。病成脾約。於是太陽方受邪氣。而陽明已成內實也。正陽陽明者。邪熱入胃。糟粕內結。為陽明自病。活人所謂病人本谷盛。氣實是也。少陽陽明者。病從少陽。而轉屬陽明得之。發汗。利小便。津液去。而胃燥實。如本論所謂傷寒十餘日。熱結在裡。復往來寒熱者。與大柴胡湯是也。此因陽明之病。有是三者之異。故設為問答以明之。而其為胃家實則一也。</p>
<p>問曰、陽明病。外證云何。答曰、身熱。汗自出。不惡寒。反惡熱也。</p>
<p>問曰、病有得之一日。不發熱而惡寒者。何也。答曰、雖得之一日。惡寒將自罷。即自汗出而惡熱也。</p>
<p>問曰、惡寒何故自罷。答曰、陽明居中。土也。萬物所歸。無所復傳。始雖惡寒。二日自止。此為陽明病也。</p>
<p>經邪未變。故惡寒入腑則變熱而不寒。經邪不能聚。故傳入腑。則聚而不傳。曰萬物所歸者。謂邪氣離經入腑。聚而不行。如萬物之歸於土也。是以惡寒為傷寒在表之的證。惡熱為陽明入腑之的證。始雖惡寒。不久即止。豈若太陽始終有寒者哉。此三條並論陽明受病之證也。</p>
<p>問曰、何緣得陽明病。答曰、太陽病發汗若下若利小便。此亡津液。胃中乾燥。因轉屬陽明。不更衣。內實。大便難者。此名陽明也。</p>
<p>胃者。津液之腑也。汗下利小便。津液外亡。胃中乾燥。此時寒邪已變為熱。熱、猶火也。火必就燥。所以邪氣轉屬陽明也。而太陽轉屬陽明。其端有二。太陽初得病時。發其汗。汗先出不徹。因轉屬陽明者。為邪氣未盡。而傳其病在經。此太陽病若汗若下若利小便。亡津液。胃中乾燥。因轉屬陽明者。為邪氣變熱。而傳其病在腑也。此陽明受病之因也。</p>
<p>傷寒四五日。脈沉而喘滿。沉為在裡。而反發其汗。津液越出。大便為難。表虛里實。久則譫語。</p>
<p>脈沉、病在裡也。喘滿、因滿而為喘。病之實也。傷寒四五日。病在裡而成實。法當攻裡而反發其汗。津液外亡。腸胃內燥。大便為難。所必然矣。表虛里實。亦即表和里病之意。久則譫語者。熱氣乘虛。必歸陽明而成胃實也。</p>
<p>脈陽微而汗出少者。為自和也。汗出多者。為太過。陽脈實。因發其汗出多者。亦為太過。太過為陽絕於里。亡津液。大便因硬也。</p>
<p>脈陽微者。諸陽脈微。即正之虛也。故汗出少者。邪適去而正不傷。為自和。汗出多者。邪雖卻而正亦衰。為太過也。陽脈實者。邪之實也。然發其汗出多者。亦為太過。為其津亡於外。而陽絕於里也。夫陽為津液之源。津液為陽之根。汗出過多。津液竭矣。陽氣雖存。根本則離。故曰陽絕。陽絕津亡。大便焉得不硬耶。</p>
<p>脈浮而芤。浮為陽。芤為陰。浮芤相搏。胃氣生熱。其陽則絕。</p>
<p>脈浮為盛於外。脈芤為歉於內。浮為陽。謂陽獨盛也。芤為陰。調陰不足也。浮芤相搏。陽有餘而陰不足也。胃液枯竭。內虛生熱。雖有陽氣。無與為偶。亦如上條之意也。故曰其陽則絕。以上三條。乃因陽明受病之因而申言之。其下三條。則申言陽明受病之證也。</p>
<p>傷寒發熱無汗。嘔不能食。而反汗出濈濈然者。是轉屬陽明也。</p>
<p>傷寒轉系陽明者。其人濈濈然微汗出也。</p>
<p>發熱無汗。為太陽病在表。嘔不能食者。邪欲入里而正氣拒之也。至汗出濈濈。則太陽之邪。陽明已受之矣。故曰轉系陽明。太陽寒在皮毛。腠理閉塞。故無汗。陽明熱在肌肉。腠開液泄。故濈濈然汗自出也。病人不大便五六日。繞臍痛。煩躁。發作有時者。此有燥屎。故使不大便也。</p>
<p>熱結陽明。為不大便五六日。為繞臍痛。煩躁。發作有時。皆燥屎在胃之徵。有時、謂陽明王時。為日晡也。陽明燥結。不得大便。意非大承氣不為功矣。</p>

<h3>調胃承氣湯證四條</h3>
<p>太陽病三日。發汗不解。蒸蒸發熱者。屬胃也。調胃承氣湯主之。</p>
<p>發汗不解。邪不外散。而欲內傳。為太陽而之陽明之候也。蒸蒸發熱者。熱聚於內。而氣蒸於外。與太陽邪鬱於外。而熱盛於表者不同。故彼宜外解。此宜清裡也。然無燥實等證。則所以治之者。宜緩而不宜急矣。調胃者。調其胃氣。返於中和。不使熱盛氣實。而劫奪津氣也。</p>
<p><u>調胃承氣湯</u>　方見太陽權變法。</p>
<p>傷寒十三日不解。過經譫語者。以有熱也。當以湯下之。若小便利者。大便當硬。而反下利。脈調和者。知醫以丸藥下之。非其治也。若自下利者。脈當微厥。今反和者。此為內實也。調胃承氣湯主之。</p>
<p>此亦邪氣去太陽而之陽明之證。過經者。邪氣去此而之彼之謂。非必十三日不解。而後謂之過經也。觀少陽篇第二十條云、太陽病。過經十餘日。又本篇第六十一條云、此為風也。須下之。過經乃可下之。則是太陽病罷而入陽明。或傳少陽者。即謂之過經。其未罷者。即謂之並病耳。譫語。胃有熱也。則熱當以湯下之。若小便利者。津液偏滲。其大便必硬。而反下利。脈調和者。醫知宜下。而不達宜湯之旨。故以丸藥下之。非其治也。脈微厥。脈乍不至也。言自下利者。裡氣不守。脈當微厥。今反和者。以其內實。雖下利而胃有燥屎。本屬可下之候也。故當以調胃承氣湯下其內熱。此條太陽篇移入。</p>
<p>陽明病。不吐不下。心煩者。可與調胃承氣湯。</p>
<p>病在陽明。既不上湧。又不下泄。而心煩者。邪氣在中土。鬱而成熱也。經曰、土鬱則奪之。調胃承氣蓋以通土氣。非以下燥屎也。傷寒吐後。腹脹滿者。與調胃承氣湯。</p>
<p>吐後腹脹滿者。邪氣不從吐而外散。反因吐而內陷也。然脹形已具。自必攻之使去。而吐後氣傷。又不可以大下。故亦宜大黃、甘草、芒硝調之。俾反於利而已。設遇庸工。見其脹滿。必以枳、樸為急矣。</p>

<h3>小承氣湯證二條</h3>
<p>太陽病。若吐若下若發汗。微煩。小便數。大便因硬者。與小承氣湯和之愈。</p>
<p>若與或同。病在太陽。或吐或下或汗。邪仍不解。而兼微煩。邪氣不之表而之裡也。小便數。大便因硬者。熱氣不之太陽之本而之陽明之腑。可與小承氣。和胃除熱為主。不取大下者。以津液先亡。不欲更傷其陰耳。</p>
<p><u>小承氣湯方</u></p>
<p>大黃（四兩）　厚朴（二兩去皮炙）　枳實（三枚炙）</p>
<p>上三味。以水四升。煮取一升二合。去滓。分溫二服。初服湯。當更衣。不爾者。盡飲之。若更衣者。勿服之。陽明病。其人多汗。以津液外出。胃中燥。大便必硬。硬則譫語。小承氣湯主之。若一服譫語止。更莫復服。汗生於津液。津液資於穀氣。故陽明多汗。則津液外出也。津液出於陽明。而陽明亦藉養於津液。故陽明多汗。則胃中無液而燥也。胃燥則大便硬。大便硬則譫語。是宜小承氣湯。以和胃而去實。若一服譫語止。更莫復服者。以津液先亡。不欲多下。以竭其陰。亦如上條之意也。</p>

<h3>大承氣湯證九條</h3>
<p>陽明病。譫語有潮熱。反不能食者。胃中必有燥屎五六枚也。若能食者。但硬耳。宜大承氣湯下之。傷寒胃熱而虛者。能食。胃寒而實者。則不能食。而陽明病有燥屎者。可攻。無燥屎者。則不可攻。譫語潮熱。胃之熱也。是當能食。而反不能食者。中有燥屎。氣窒而不行。法當大承氣下之者也。若能食者。屎未成燥而但硬耳。設欲攻之。則必以小承氣和之。如上二條所云而已。本文宜大承氣湯下之七字。當在胃中有燥屎句下。</p>
<p><u>大承氣湯方</u></p>
<p>大黃（四兩酒洗）　厚朴（半斤炙去皮）　枳實（五枚炙）　芒硝（二合）</p>
<p>上四味。以水一斗。先煮二物。取五升。去滓。納大黃。煮取二升。去滓。納芒硝。更上微火一兩沸。分溫再服。得下。余勿服。</p>
<p>病人小便不利。大便乍難乍易。時有微熱。喘冒不能臥者。有燥屎也。宜大承氣湯。小便不利者。其大便必溏。而有燥屎者。水液雖還入胃。猶不足以潤之。故大便乍有難時。而亦乍有易時也。若時有微熱。喘冒不得臥。則熱氣外攻內擾。而復上逆。知其聚於中者。盛也。故曰有燥屎也。大便雖有易時。亦必以大承氣為主矣。</p>
<p>大下後。六七日。不大便。煩不解。腹滿痛者。此有燥屎也。所以然者。本有宿食故也。宜大承氣湯。</p>
<p>大下之後。胃氣復實。煩滿復增者。以其人本有宿食未去。邪氣復得而據之也。不然。下後胃虛。豈得更與大下哉。蓋陽明病實則邪易聚而不傳。虛則邪不得聚而傳。是以雖發潮熱而大便溏者。邪氣轉屬少陽。為胸脅滿不去。雖經大下而有宿食者。邪氣復集胃中。為不大便煩滿。腹痛有燥屎。而彼與小柴胡。此宜大承氣。一和一下。天然不易之法也。小柴胡證見本篇四十一條。宜互參。</p>
<p>傷寒若吐若下後。不解不大便五六日。上至十餘日。日晡所發潮熱。不惡寒。獨語如見鬼狀。若劇者。發則不識人。循衣摸床。惕而不安。微喘直視。脈弦者生。澀者死。微者但發熱譫語者。大承氣湯主之。若一服利。止後服。</p>
<p>吐下之後。邪氣不從外解而仍內結。熱入胃腑。聚而成實。致不大便五六日。或十餘日也。陽明內實。則日晡所發潮熱。蓋申酉為陽明王時。而日晡為申酉時也。表和里病。則不惡寒。傷寒以惡熱為里。而惡寒為表也。熱氣熏心。則獨語如見鬼狀。蓋神藏於心。而陽明之絡通於心也。若熱甚而劇者。發則不識人。循衣摸床。惕而不安。微喘直視。是不特邪盛而正亦衰矣。若脈弦。則陰未絕而猶可治。脈澀。則陰已絕而不可治。所謂傷寒陽勝而陰絕者。死也。其熱微而未至於劇者。則但發熱。譫語。不大便而已。是可以大承氣下之而愈也。一服利。止後服者。以熱未至劇。故不可過下。以傷其正耳。</p>
<p>二陽並病。太陽證罷。但發潮熱。手足漐漐汗出。大便難而譫語者。下之則愈。宜大承氣湯。</p>
<p>此太陽並於陽明之證。然並病有並而未罷之證。雖入陽明。未離太陽。則可汗而不可下。如本篇第三十九條之證是也。此條為並而已罷之證。雖曰並病。實為陽明。故可下而不可汗。潮熱。手足漐漐汗出。大便難。譫語。皆胃實之徵。故曰下之則愈。宜大承氣湯。</p>
<p>陽明少陽合病。必下利。其脈不負者。順也。負者。失也。互相剋賊。名為負也。脈滑而數者。有宿食也。當下之。宜大承氣湯。</p>
<p>陽明少陽合病。視太陽陽明合病為尤深矣。故必下利。而陽明為土。少陽為木。於法又有互相剋賊之機。故須審其脈。不負者為順。其有負者為失也。負者。少陽王而陽明衰。謂木勝乘土也。若脈滑而數。則陽明王而少陽負。以有宿食在胃。故邪氣得歸陽明。而成可下之證。不然。胃虛風動。其下利寧有止期耶。</p>
<p>傷寒六七日。目中不了了。睛不和。無表裡證。大便難。身微熱者。此為實也。急下之。宜大承氣湯。</p>
<p>目中不了了者。目光不精而視物不明也。睛不和者。目直視而不圓轉也。六七日。熱盛而陰傷。故其證如此。無表裡證。無頭痛惡寒。而又無腹滿譫語等證也。然而大便難。身微熱。則實證已具。合之目中不了了。睛不和。其為熱極陰傷無疑。故雖無大滿大實。亦必以大承氣湯急下。見稍遲。則陰竭不復而死耳。</p>
<p>陽明病。發熱汗多者。急下之。宜大承氣湯。</p>
<p>發熱汗多者。熱盛於內。而津迫於外也。不下則熱不除。不除則汗不止。而陰乃亡矣。故宜急下。然必有實滿之證。而後可下。不然。則是陽明白虎湯證。宜清而不宜下矣。學者辨諸。</p>
<p>發汗不解。腹滿痛者。急下之。宜大承氣湯。</p>
<p>發汗不解。腹滿痛者。病去表之裡而盛於裡矣。夫正氣與邪氣相擊則痛。治之者。如救斗然。遲則正被傷矣。故亦宜急下。</p>
<p>以上下法共十五條。然其間或曰和。或曰下。或曰急下。或一服利止後服。各隨病之大小緩急而異其治。學者所當明辨也。</p>
<p><u>合論三承氣湯方</u></p>
<p>承者。順也。順而承者。地之道也。故天居地上。而常卑而下行。地處天下。而常順承乎天。人之脾胃。猶地之上也。乃邪熱入之。與糟粕結。於是燥而不潤。剛而不柔。滯而不行。而失其地之道矣。豈復能承天之氣哉。大黃、芒硝、枳、樸之屬。滌盪脾胃。使糟粕一行。則熱邪畢出。地道既平。天氣乃降。清寧復舊矣。曰大。曰小。曰調胃。則各因其制而異其名耳。蓋以硝黃之潤下。而益以枳、樸之推逐。則其力頗猛。故曰大。其無芒硝。而但有枳、樸者。則下趨之勢緩。故曰小。其去枳、樸之苦辛。而加甘草之甘緩。則其力尤緩。但取和調胃氣。使歸於平而已。故曰調胃。</p>

<h3>白虎加人參湯證三條</h3>
<p>傷寒病。若吐若下後。六七日不解。熱結在裡。表裡俱熱。時時惡風。大渴。舌上乾燥而煩。欲飲水數升者。白虎加人參湯主之。</p>
<p>以下三條。王叔和本在太陽篇中。今移置此。</p>
<p>傷寒若下若吐後。至七八日不解。而燥渴轉增者。邪氣去太陽之經。而入陽明之腑也。陽明經為表。而腑為里。故曰熱結在裡。腑中之熱。自內際外。為表裡俱熱。熱盛於內。陰反居外。為時時惡風。而胃者。津液之原也。熱盛而涸。則舌上乾燥。故既以白虎除熱。必加人參以生津。尚從善所謂邪熱結而為實者。則無大渴。邪氣散漫。熏蒸焦膈。故舌上乾燥而煩。大渴欲飲水數升是也。是以白虎承氣。併為陽明腑病之方。而承氣苦寒。逐熱蕩實。為熱而且實者設。白虎甘寒。逐熱生津。為熱而不實者設。乃陽明邪熱入腑之兩大法門也。故從太陽分出三條。並列於此云。</p>
<p><u>白虎加人參湯</u>　方見太陽斡旋法。</p>
<p>傷寒無大熱。口燥渴。心煩。背微惡寒者。白虎加人參湯主之。</p>
<p>無大熱。表無大熱也。口燥渴心煩。裡熱極盛也。背微惡寒。與時時惡風同意。蓋亦太陽經邪傳入陽明胃腑。熏蒸焦膈之證。故宜白虎加人參。以徹熱而生津也。</p>
<p>傷寒脈浮。發熱無汗。其表不解者。不可與白虎湯。渴欲飲水。無表證者。白虎加人參湯主之。</p>
<p>前二條既著白虎之用。此條復示白虎之戒。謂邪氣雖入陽明之腑。而脈證猶帶太陽之經者。則不可便與白虎湯。與之則適以留表邪。而傷胃氣也。而又申之曰、渴欲飲水。無表證者。白虎加人參湯主之。其丁寧反復之意。可謂至矣。</p>

<h3>陽明經病脈因證治十一條</h3>
<p>傷寒三日。陽明脈大。</p>
<p>邪氣並於太陽則浮。並於陽明則大。云三日者。舉傳經次第之大凡也。又陽明之脈。人迎趺陽皆是。傷寒三日。邪入陽明。則是二脈當大。不得獨診於右手之附上也。</p>
<p>本太陽病。初得時。發其汗。汗先出不徹。因轉屬陽明也。</p>
<p>徹、達也。汗雖欲出。而不達於皮膚。則邪不外出。而反內入。此太陽之邪傳陽明之經。與汗下後入腑者不同也。</p>
<p>陽明病。脈浮而緊者。必潮熱。發作有時。但浮者，必盜汗出。</p>
<p>太陽脈緊。為寒在表。陽明脈緊。為實在裡。裡實則潮熱。發作有時也。若脈但浮而不緊者。為里未實而經有熱。經熱則盜汗出。蓋雜病盜汗。為熱在臟。外感盜汗。為邪在經。易簡方用防風治盜汗不止。此之謂也。</p>
<p>陽明病。反無汗而小便利。二三日。嘔而咳。手足厥者。必苦頭痛。苦不咳不嘔。手足不厥者。頭不痛。</p>
<p>無汗而小便利。邪不外散。而氣但下趨也。二三日。嘔而咳者。邪復從上行也。手足厥者。氣仍不外達也。</p>
<p>故必苦頭痛。所以然者。下趨而極。勢必上行。外達無由。上攻必猛也。若不咳不嘔。則氣且下行。手足不厥。則氣得四達。何至上逆而頭痛哉。讀此可以知陽明邪氣上下進退之機。</p>
<p>陽明病。口燥。但欲漱水不欲咽者。此必衄。</p>
<p>陽明口燥。欲飲水者。熱在氣而屬腑。口燥但欲漱水不欲咽者。熱在血而屬經。經中熱甚。血被熱迫。必妄行為衄也。</p>
<p>脈浮發熱。口乾鼻燥。能食者則衄。</p>
<p>脈浮發熱。口乾鼻燥。亦熱邪壅盛於經之證。能食者。風多熱迫。安得不勝陰血被衄耶。</p>
<p>陽明病。脈遲。汗出多。微惡寒者。表未解也。可發汗。宜桂枝湯。</p>
<p>陽明病。脈浮無汗而喘者。發汗則愈。宜麻黃湯。</p>
<p>此二條乃風寒初中陽明之證。其見證與太陽中風傷寒相類。而陽明比太陽稍深。故中風之脈。不浮而遲。傷寒之脈。不緊而浮。以風寒之氣。入肌肉之分。則閉固之力少。而壅遏之力多也。而其治法。則必與太陽少異。見有汗而惡寒者。必桂枝可解。無汗而喘者。非麻黃不發矣。</p>
<p>二陽並病。太陽初得病時。發其汗。汗先出不徹。因轉屬陽明。續自微汗出。不惡寒。若太陽病證不罷者。不可下。下之為逆。如此可小發汗。設面色緣緣正赤者。陽氣怫鬱在表。當解之熏之。若發汗不徹。不足言。陽氣怫鬱不得越。當汗不汗。其人躁煩。不知痛處。乍在腹中。乍在四肢。按之不可得。其人短氣。但坐以汗出不徹故也。更發汗則愈。何以知汗出不徹。以脈澀。故知也。此篇從太陽篇移入。</p>
<p>二陽並病者。太陽病未罷。而並於陽明也。太陽得病時。發汗不徹。則邪氣不得外。出而反內走陽明。此並之由也。續自微汗出。不惡寒。此陽明證續見。乃並之證也。若太陽證不罷者。不可下。下之為逆。所謂本當發汗而反下之。此為逆是也。如是者。可小發汗。以病兼陽明。故不可大汗而可小發。此並病之治也。若發其小汗已。面色緣緣正赤者。陽氣怫鬱在表而不得越散。當解之熏之。以助其散。又並病之治也。發汗不徹下。疑脫一徹字。謂發汗不徹。雖徹而不足云徹。猶腹滿不減。減不足言之文。汗出不徹。則陽氣怫鬱不得越。陽不得越。則當汗而不得汗。於是邪無從出。攻走無常。其人躁煩。不知痛處。乍在腹中。乍在四肢。按之而不可得也。短氣者。表不得泄。肺氣不宣也。坐、猶緣也。言躁煩短氣等證。但緣汗出不徹所致。故當更發其汗。則邪氣外達而愈。非特熏解所能已其疾矣。以面色緣緣正赤者。邪氣怫鬱軀殼之表。躁煩短氣者。邪氣怫鬱軀殼之裡也。按內經云、脈滑者多汗。又曰、脈澀者。陰氣少陽氣多也。夫汗出於陽而生於陰。因診其脈澀。而知其汗出不徹也。此又並病之治也。</p>
<p>陽明病。發潮熱。大便溏。小便自可。胸脅滿不去者。小柴胡湯主之。</p>
<p>潮熱者。胃實也。胃實則大便硬。乃大便溏。小便自可。胸脅滿不去。知其邪不在於陽明之腑。而入於少陽之經。由胃實而腸虛。是以邪不得聚而復傳也。是宜小柴胡以解少陽邪氣。</p>
<p>陽明病。脅下硬滿。不大便而嘔。舌上白苔者。可與小柴胡湯。上焦得通。津液得下。胃氣因和。身濈然而汗出解也。</p>
<p>此亦陽明傳入少陽之證。脅下硬滿而嘔。舌上苔白。皆少陽經病見證。雖不大便。不可攻之。亦宜小柴胡和解少陽邪氣而已。夫脅下滿痛而嘔。則邪方上壅。而津液不得下行。與小柴胡和散其邪。則上焦得通。而脅不滿硬矣。津液得下。而嘔不作矣。氣通津下。胃氣因和。便從里出。汗從表出。而邪自渙然冰釋矣。是以胃中硬滿。不大便。而無少陽證者可攻。其有少陽證者。雖不大便。亦不可攻而可和也。</p>

<h3>陽明病風寒不同證治八條</h3>
<p>陽明病。若能食。名中風。不能食。名中寒。</p>
<p>陽明腑病。有傳經自受之異。傳經者。風寒已變。其病多熱。自受者。風寒初入。其病多冷。而風之與寒。則又有辨。此條蓋陽明胃腑自中風寒之辨也。太陽主肌表。故有有汗無汗之分。陽明為胃府。故有能食不能食之辨。風為陽而寒為陰。陽能消穀而陰不能消穀之意也。夫風寒中人。無有常經。是以傷寒不必定自太陽。中寒不必定自三陰。論中凡言陽明中風。陽明病。若中寒。及少陽中風。太陰少陰厥陰中風等語。皆是本經自受風寒之證。非從太陽傳來者也。學者辨諸。</p>
<p>陽明病。若中寒。不能食。小便不利。手足濈然汗出。此欲作固瘕。必大便初硬後溏。所以然者。以胃中冷。水穀不別故也。</p>
<p>手足濈然汗出。於法為胃家實。而寒邪適中。小便復不利。則是胃有堅積。而水寒勝之。所以知其欲作固瘕。固瘕者。胃寒成聚。久泄不已也。以下四條。並陽明胃府自中寒邪之證。</p>
<p>脈浮而遲。表熱裡寒。下利清穀者。四逆湯主之。若胃中虛冷。不能食。與水則噦。</p>
<p>脈遲為寒。而病系陽明。則脈不沉而浮也。寒中於里。故下利清穀。而陽為陰迫。則其表反熱也。四逆湯為復陽散寒之劑。故得主之。而陽明土也。土惡水而喜溫。若胃虛且冷。不能納穀者。土氣無權。必不能勝水而禁冷。設與之水。水與寒搏。必發為噦。噦、呃逆也。</p>
<p>食谷欲嘔者。屬陽明也。吳茱萸湯主之。得湯反劇者。屬上焦也。</p>
<p>食谷欲嘔。有中焦與上焦之別。蓋中焦多虛寒。而上焦多火逆也。陽明中虛。客寒乘之。食谷則嘔。故宜吳茱萸湯。以益虛而溫胃。若得湯反劇。則仍是上焦火逆之病。宜清降而不宜溫養者矣。仲景於疑似之間。細心推測如此。</p>
<p><u>吳茱萸湯方</u></p>
<p>吳茱萸（一斤洗）　人參（三兩）　生薑（六兩切）　大棗（十二枚擘）</p>
<p>上四味。以水七升。煮取二升。去滓。溫服七合。日三服。</p>
<p>陽明中風。口苦咽乾。腹滿微喘。發熱惡寒。脈浮而緊。若下之。則腹滿小便難也。</p>
<p>口苦咽乾。陽邪內侵也。腹滿微喘。裡氣不行也。發熱惡寒。表邪方盛也。夫邪在裡者已實。而在表者猶盛。於法則不可下。下之則邪氣盡陷。脾乃不化。腹加滿而小便難矣。此陽明自中風邪。而表裡俱受之證。是以脈浮而緊。蓋太陽脈緊。為表有寒。陽明脈緊。為里有實。前第三十三條云、陽明病。脈浮而緊者。必潮熱。發作有時。意可參考。</p>
<p>陽明中風。脈弦浮大而短氣。腹都滿。脅下及心痛。久按之氣不通。鼻乾不得汗。嗜臥。一身及面目悉黃。小便難。有潮熱。時時噦。耳前後腫。刺之小瘥。外不解。病過十日。脈續浮者。與小柴胡湯。脈但浮。無餘證者。與麻黃湯。若不尿。腹滿加噦者。不治。</p>
<p>此條雖系陽明。而已兼少陽。雖名中風。而實為表實。乃陽明少陽邪氣閉鬱於經之證也。陽明閉郁。故短氣腹滿。鼻乾不得汗。嗜臥。一身及面目悉黃。小便難。有潮熱。少陽閉郁。故脅下及心痛。久按之氣不通。時時噦。耳前後腫。刺之小瘥。外不解者。脈證少平。而大邪不去也。病過十日。而脈續浮。知其邪猶在經。故與小柴胡和解邪氣。若脈但浮。而無少陽證兼見者。則但與麻黃湯發散邪氣而已。蓋以其病兼少陽。故不與葛根而與柴胡。以其氣實無汗。故雖中風而亦用麻黃。若不得尿。故腹加滿。噦加甚者。正氣不化。而邪氣獨盛。雖欲攻之。神不為使。亦無益矣。故曰不治。</p>
<p>陽明病。但頭眩不惡寒。故能食而咳。其人必咽痛。若不咳者。咽不痛。</p>
<p>但頭眩不惡寒。能食而咳者。陽明風邪變熱。聚於胃而逆於肺也。咽居肺上。故必咽痛。若不咳者。肺不受熱。則咽必不痛。不惡寒而頭眩者。氣方外淫而不內熾。亦何至能食而咳哉。</p>
<p>陽明病。能食。小便反不利。大便自調。其人骨節疼。翕然如有熱狀。奄然發狂。濈然汗出而解者。此水不勝穀氣。與汗共並。脈緊則愈。</p>
<p>此陽明風濕為痹之證。金匱云、濕痹之候。小便不利。大便反快。又濕病關節疼痛而煩是也。奄然發狂者。胃中陽勝。所謂怒狂生於陽也。濈然汗出者。穀氣內盛。所為汗出於谷也。穀氣盛而水濕不能勝之。則隨汗外出。故曰與汗共並。汗出邪解。脈氣自和。故曰脈緊則愈。前第四十三條中寒不能食。所以雖有堅積。而病成固瘕。此條胃強飲食。所以雖有水濕而忽從汗散。合而觀之。可以知陰陽進退之機。</p>

<h1>卷四·陽明篇下</h1>

<h2>陽明明辨法第二</h2>

<h3>表裡虛實生死之辨九條</h3>
<p>病人煩熱。汗出則解。又如瘧狀。日晡所發熱者。屬陽明也。脈實者。宜下之。脈浮虛者。宜發汗。下之與大承氣湯。發汗宜桂枝湯。</p>
<p>煩熱、熱而煩也。是為在裡。里則雖汗出不當解。而反解者。知表猶有邪也。如瘧者。寒熱往來。如瘧之狀。是為在表。表則日晡所不當發熱。而反發熱者。知里亦成實也。是為表裡錯雜之候。故必審其脈之浮沉。定其邪之所在。而後從而治之。若脈實者。知氣居於里。故可下之。使從里出。脈浮而虛者。知氣居於表。故可汗之。使從表出。而下藥宜大承氣湯。汗藥宜桂枝湯。則天然不易之法矣。</p>
<p>陽明病。脈浮而緊。咽燥口苦。腹滿而喘。發熱汗出。不惡寒。反惡熱。身重。若發汗則躁。心憒憒。反譫語。若加燒針。必怵惕煩躁不得眠。若下之。則胃中空虛。客氣動膈。心下懊憹。舌上苔白者。梔子豉湯主之。若渴欲飲水。口乾舌燥者。白虎加人參湯主之。若脈浮發熱。渴欲飲水。小便不利者。豬苓湯主之。</p>
<p>浮而緊。陽明表裡之脈然也。咽燥口苦。腹滿而喘。發熱汗出。不惡寒。反惡熱。身重。陽明入里之證然也。是為邪已入里。而氣連於表。內外牽制。汗下俱礙。是以汗之而邪不能出於表。則躁。心憒憒然昏亂而譫語。火之而熱且擾於中。則怵惕煩躁不得眠。下之而邪不盡於裡。則胃氣徒虛。客氣內動。心中懊憹。若舌上苔白者。邪氣盛於上焦。故與梔子豉湯。以越胸中之邪。所謂病在胸中。當須吐之是也。若渴欲飲水。口乾舌燥者。則邪氣不在上而在中。故以白虎加人參。以清胃熱益胃液。所謂熱淫於內。治以甘寒也。若脈浮發熱。渴欲飲水。小便不利者。邪熱不在上中。而獨在下。故與豬苓湯。以利水泄熱。兼滋陰氣。所謂在下者。引而竭之也。</p>
<p><u>豬苓湯方</u></p>
<p>豬苓（去皮）　茯苓　阿膠　滑石（碎）　澤瀉（各一兩）</p>
<p>上五味。以水四升。先煮四味。取二升。去滓。納阿膠。烊消。溫服七合。日三服。</p>
<p>陽明病。汗出多而渴者。不可與豬苓湯。以汗多。胃中燥。豬苓湯複利小便故也。</p>
<p>上條於脈浮發熱。渴而小便不利之證。既著豬苓湯之用矣。此條復示豬苓湯之戒。謂雖渴欲飲水。而汗出多者。則不可以豬苓利其小便。所以然者。汗之與溺。同出而異歸者也。靈樞云、水穀入於口。輸於腸胃。其液別為五。天寒衣薄。則為溺與氣。天暑衣厚則為汗。故雖清濁不同。其為腑中之液則一也。汗出既多。胃液已耗。而復以豬苓利之。是已燥而益燥也。故曰不可與豬苓湯。</p>
<p>陽明病。下之。其外有熱。手足溫。不結胸。心中懊憹。飢不能食。但頭汗出者。梔子豉湯主之。</p>
<p>陽明下後。其邪既不從里而出。又不因下而結。其外有熱。手足溫者。邪雖陷而未深也。心中懊憹。飢不能食者。熱客胸中。而胃虛不能納穀也。但頭汗出者。胸中之熱。熏蒸於上。而陽受邪氣。復不能降而下行也。是為邪氣入里。而未成聚之證。故宜梔子豉湯以徹胸中之邪。亦高者因而越之之意也。</p>
<p>陽明病。法多汗。反無汗。其身如蟲行皮中狀者。此以久虛故也。</p>
<p>陽明者。津液之腑也。熱氣入之。津為熱迫。故多汗。反無汗。其身如蟲行皮中狀者。氣內蒸而津不從之也。非陽明久虛之故。何致是哉。</p>
<p>夫實則譫語。虛則鄭聲。鄭聲、重語也。</p>
<p>實者。邪氣盛也。虛者。精氣奪也。邪盛則狂妄多言。變亂不測。正奪者。語不能多。惟平時心事。言訖復言而已。故曰重語。重、猶疊也。</p>
<p>直視譫語。喘滿者。死。下利者。亦死。</p>
<p>直視譫語。為陰竭熱盛之候。此為邪氣日損。或陰氣得守。猶或可治。若喘滿。則邪內盛。或下利。則陰內泄。皆死證也。</p>
<p>發汗多。若重發汗者。亡其陽。譫語脈短者。死。脈自和者。不死。</p>
<p>汗多復汗。陽氣重傷。而邪復不解。為譫語而脈短。譫語為邪之盛。脈短為氣之少。病盛勝臟。故死。脈自和者。邪氣雖盛。而正氣猶足相持。故得不死。</p>
<p>陽明病欲解時。從申至戌上。</p>
<p>申酉戌時。日晡時也。陽明潮熱。發於日晡。陽明病解。亦於日晡。則申酉戌為陽明之時。其病者。邪氣於是發。其解者。正氣於是復也。</p>

<h3>陽明可下不可下之辨十五條</h3>
<p>陽明病。脈遲。雖汗出不惡寒者。其身必重。短氣。腹滿而喘。有潮熱者。此外欲解。可攻裡也。手足濈然而汗出者。此大便已硬也。大承氣湯主之。若汗多。微發熱惡寒者。外未解也。其熱不潮。未可與承氣湯。若腹大滿不通者。可與小承氣湯微和胃氣。勿令大泄下。</p>
<p>傷寒以身熱惡寒為在表。身熱不惡寒為在裡。而陽明病無表證者。可下。有表證者。則不可下。此汗出不惡寒。身重短氣。腹滿而喘。潮熱。皆里證也。脈雖遲。猶可攻之。以腹滿便閉。裡氣不行。故脈為之濡滯不利。非可比於遲則為寒之例也。若手足濈然汗出者。陽明熱甚。大便已硬。欲攻其病。非大承氣不為功矣。若汗多。微發熱。惡寒。則表猶未解。其熱不潮。則里亦未實。豈可漫與大承氣。遺其表而攻其里哉。</p>
<p>即腹大滿不通。而急欲攻之者。亦宜與小承氣微和胃氣。而不可以大承氣大泄大下。恐裡虛邪陷。變證百出。則難挽救矣。以下七條。於可攻證而復審其小便之多少。大便之溏硬。脈之實與不實。經之過與不過。熱之潮與不潮。而後從而治之。故知下法不可不慎也。</p>
<p>陽明病。潮熱。大便微硬者。可與大承氣湯。不硬者。不可與之。若不大便六七日。恐有燥屎。欲知之法。少與小承氣湯。湯入腹中轉失氣者。此有燥屎。可攻之。若不轉失氣者。此但初頭硬。後必溏。不可攻之。攻之必脹滿不能食也。欲飲水者。與水則噦。其後發熱者。必大便復硬而少也。以小承氣湯和之。不轉失氣者。慎不可攻也。</p>
<p>陽明病有潮熱者。為胃實。熱不潮者。為胃未實。而大承氣湯。有燥屎者。可與。初硬後溏者。則不可與。故欲與大承氣。必先與小承氣。恐胃無燥屎。邪氣未聚。攻之則病未必去。而正已大傷也。服湯後轉失氣者。便堅藥緩。屎未能出。而氣先下趨也。故可更以大承氣攻之。不轉失氣者。胃未及實。但初頭硬後必溏。雖小承氣已過其病。況可以大承氣攻之哉。胃虛無氣。脹滿不食。所必至矣。又陽明病能飲水者為實。不能飲水者為虛。如雖欲飲。而與水則噦。所謂胃中虛冷。欲飲水者。與水則噦也。其後卻發熱者。知熱氣還入於胃。則大便硬。而病從虛冷所變。故雖硬而仍少也。亦不可與大承氣湯。但與小承氣微和胃氣而已。蓋大承氣為下藥之峻劑。仲景恐人不當下而誤下。或雖當下而過下。故反復辨論如此。而又申之曰。不轉失氣者。慎不可攻也。嗚呼。仁人之心。可謂至矣。</p>
<p>陽明病。下之。心中懊憹而煩。胃中有燥屎者。可攻。腹微滿。初頭硬。後必溏。不可攻之。若有燥屎者。宜大承氣湯。</p>
<p>陽明下後。心中懊憹而煩。胃中有燥屎者。與陽明下後。心中懊憹。飢不能食者有別矣。彼為邪擾於上。此為熱實於中也。熱實則可攻。故宜大承氣。若腹微滿。初頭硬。後必溏者。熱而不實。邪未及結。則不可攻。攻之必脹滿不能食也。</p>
<p>陽明病。譫語。發潮熱。脈滑而疾者。小承氣湯主之。因與承氣湯一升。腹中轉失氣者。更服一升。若不轉失氣。勿更與之。明日不大便。脈反微澀者。裡虛也。為難治。不可更與承氣湯也。</p>
<p>譫語發潮熱。胃實之徵也。脈滑而疾。則與滑而實者差異矣。故不與大承氣。而與小承氣也。若服一升而轉失氣者。知有燥屎在胃中。可更服一升。若不轉失氣者。此必初硬後溏。不可更與服之。一如前二條之意也。乃明日不大便。而脈反微澀。則邪氣未去。而正氣先衰。補則礙邪。攻則傷正。故曰難治。便雖未通。豈可更以承氣攻之哉。</p>
<p>得病二三日。脈弱。無太陽柴胡證。煩躁。心下硬。至四五日。雖能食。以小承氣湯少少與微和之。令小安。至六日。與承氣湯一升。若不大便六七日。小便少者。雖不能食。但初頭硬。後必溏。未定成硬。攻之必溏。須小便利。屎定硬。乃可攻之。宜大承氣湯。</p>
<p>傷寒能食者。為胃熱而不實。不能食者。為胃熱而實。而胃實之證。小便數者。可攻。小便少者。則不可攻。得病二三日。脈不浮而弱。而又無太陽柴胡之證。知其病獨在陽明之表也。煩躁心下硬。至四五日不解。則里證復具。故雖能食。亦必以小承氣微和胃氣。至六日。熱漸成實。當更與大承氣一升。以盡其病也。若不大便六七日。於法當下。而小便少者。則水穀不分。知其初硬後溏。然雖不能食。亦不可便與攻法。須俟其小便利。屎硬。然後以大承氣與之。夫不大便而津液竭者。不可下。須俟其津液還入胃中。而大便自行。不大便而小便少者。亦不可下。必俟其津液遍滲水道。而後可與下法。蓋津液已竭而強攻之。則正虛不復。大便未硬而輒攻之。則邪去不盡。學者不可不審。而輕用下藥也。</p>
<p>傷寒不大便六七日。頭痛有熱者。與承氣湯。其小便清者。知不在裡。仍在表也。當鬚髮汗。若頭痛者。必衄。宜桂枝湯。</p>
<p>太陽風寒外束。令人頭痛。陽明熱氣上衝。亦令人頭痛。傷寒不大便六七日。頭痛有熱證者。知其熱盛於裡。而氣蒸於上。非風寒在表之謂矣。故可與承氣湯下之。然熱盛於裡者。其小便必短赤。若小便清者。知其熱不在於里。而仍在於表。當以桂枝湯發其汗。而不可以承氣湯攻其里也。若頭痛不除者。熱留於經。必發鼻衄。宜桂枝湯四字。疑在當鬚髮汗句下。此條從太陽篇中移入。汗出譫語者。以有燥屎在胃中。此為風也。須下之。過經乃可下之。下之若早。語言必亂。以表虛里實故也。下之則愈。宜大承氣湯。</p>
<p>汗出譫語。謂風未去表。而胃已成實也。故曰、有燥屎在胃中。又曰、此為風也。須下之。過經乃可下之。見胃實須下。而風未去表。則必過經而後可下。不然。表間邪氣。又將入里。胃益增熱。而語言錯亂矣。表虛里實。即表和里病之意。言邪氣入而並於里也。外臺云、里病表和。下之則愈。汗之則死。故宜大承氣以下里實。</p>
<p>陽明病。不能食。攻其熱。必噦。所以然者。胃中虛冷故也。以其人本虛。故攻其熱必噦。</p>
<p>天之邪氣。中人則同。而人之臟氣。虛實則不同。此下三條。乃為陽明病之中虛不足者設也。陽明病當攻其熱。而胃中虛冷不能食者。則不可攻其熱。攻之則中寒益甚。而氣乃上逆。故必作噦。噦、呃逆也。以下不可攻之證。凡七條。</p>
<p>傷寒嘔多。雖有陽明證。不可攻之。</p>
<p>夫陽明病。心下硬滿者。不可攻之。攻之利遂不止者。死。利止者。愈。</p>
<p>陽明病。面合赤色。不可攻之。攻之必發熱色黃。小便不利。</p>
<p>陽明雖有可下之例。然必表證全無。而熱結在腸中者。方可攻之。若嘔多者。邪在膈也。心下硬滿者。邪未下於胃也。面合赤色者。邪氣怫鬱在表也。故皆不可攻之。攻之則裡虛而熱入。其淫溢於下者。則下利不止。其蓄聚於中者。則發熱色黃。小便不利。其或幸而不死者。邪氣竟從下奪而愈耳。然亦難矣。</p>
<p>陽明病。脈遲。食難用飽。飽則微煩。頭眩。必小便難。此欲作谷疸。雖下之。腹滿如故。所以然者。脈遲故也。脈遲者。氣弱而行不利也。氣弱不行。則谷化不速。谷化不速。則穀氣鬱而生熱。其熱上衝。則作頭眩。氣上衝者不下走。則小便難。而熱之鬱於中者。不得下行濁道。必將蒸積為黃。故曰欲作谷疸。然以穀氣鬱而成熱。而非胃有實熱。故雖下之。而腹滿不去。不得與脈數胃實者同論也。</p>
<p>陽明病。本自汗出。醫更重發汗。病已瘥。尚微煩不了了者。此大便必硬故也。以亡津液。胃中乾燥。故令大便硬。當問其小便日幾行。若本小便日三四行。今日再行。故知大便不久出。今為小便數少。以津液當還入胃中。故知不久必大便也。</p>
<p>陽明病不大便。有熱結與津竭兩端。熱結者。可以寒下。可以咸軟。津竭者。必津回燥釋。而後便可行也。茲已汗復汗。重亡津液。胃燥便硬。是當求之津液。而不可復行攻逐矣。小便本多而今數少。則肺中所有之水精。不直輸於膀胱。而還入於胃府。於是燥者得潤。硬者得軟。結者得通。故曰不久必大便出。而不可攻之意。隱然言外矣。</p>
<p>陽明病。自汗出。若發汗。小便自利者。此為津液內竭。雖硬。不可攻之。當須自欲大便。宜蜜煎導而通之。若土瓜根及大豬膽汁。皆可為導。</p>
<p>前條汗多復汗。亡津液大便硬者。已示不可攻之意。謂須其津液還入胃中。而大便自行。此條復申不可攻之戒。而出蜜煎等潤導之法。何慮之周而法之備也。總之、津液內竭之人。其不欲大便者。靜以需之。其自欲大便者。則因而導之。仲景成法。後人可以守之而無變也。</p>
<p><u>蜜煎導方</u></p>
<p>蜜七合。一味。內銅器中。微火煎之。稍凝似餳狀。攪之。勿令焦著。欲可丸。並手捻作挺。令頭銳。大如指。長二寸許。當熱時急作。冷則硬。以內穀道中。以手急抱。欲大便時。乃去之。</p>
<p><u>豬膽汁方</u></p>
<p>大豬膽一枚。瀉汁。和醋少許。以灌穀道中。如一食頃。當大便出。</p>
<p>趺陽脈浮而澀。浮則胃氣強。澀則小便數。浮澀相摶。大便則艱。其脾為約。麻仁丸主之。</p>
<p>浮者陽氣多。澀者陰氣少。而趺陽見之。是為胃強而脾弱。約、約束也。猶弱者受強之約束。而氣餒不用也。脾不用而胃獨行。則水液並趨一處。而大便失其潤矣。大黃、枳實、厚朴。所以瀉令胃弱。麻仁、杏仁、芍藥。所以滋令脾厚。用蜜丸者。恐速下而傷其脾也。蓋即取前條潤導之意。而少加之力。亦傷寒下藥之變法也。</p>
<p><u>麻仁丸方</u></p>
<p>麻仁（二升）　芍藥（半升）　枳實（半升）　大黃（一斤）　杏仁（一升）　厚朴（一尺炙去皮）</p>
<p>上六味。為末。煉蜜為丸桐子大。飲服十丸。日三服。漸加以知為度。</p>

<h2>陽明雜治法第三</h2>

<h3>發黃證治七條</h3>
<p>陽明病。無汗。小便不利。心中懊憹者。身必發黃。</p>
<p>陽明病。被火。額上微汗出。小便不利者。必發黃。</p>
<p>邪入陽明。寒已變熱。若更被火。則邪不得去。而熱反內增矣。且無汗。則熱不外越。小便不利。則熱不下泄。蘊蓄不解。集於心下而聚於脾間。必惡熱。為懊憹不安。脾以濕應。與熱相合。勢必蒸郁為黃矣。額上雖微汗。被火氣劫。從炎上之化也。豈能解其火邪哉。</p>
<p>陽明病。發熱汗出。此為熱越。不能發黃也。但頭汗出。身無汗。劑頸而還。小便不利。渴飲水漿者。此為瘀熱在裡。身必發黃。茵陳蒿湯主之。</p>
<p>熱越、熱隨汗而外越也。熱越則邪不蓄而散。安能發黃哉。若但頭汗出而身無汗。劑頸而還。則熱不得外達。小便不利。則熱不得下泄。而又渴飲水漿。則其熱之蓄於內者方熾。而濕之引於外者無已。濕與熱得。瘀郁不解。則必蒸發為黃矣。茵陳蒿湯苦寒通泄。使病從小便出也。</p>
<p><u>茵陳蒿湯方</u></p>
<p>茵陳蒿（六兩）　梔子（十四枚擘）　大黃（二兩去皮）</p>
<p>上三味。以水一斗二升。先煎茵陳減六升。納二味。煮取三升。去滓。分溫三服。小便當利。尿如皂角汁狀。色正赤。一宿腹減。黃從小便去也。</p>
<p>傷寒發汗已。身目為黃。所以然者。以寒濕在裡。不解故也。以為不可下也。於寒濕中求之。</p>
<p>傷寒發汗已。熱與汗越。不能發黃。而反身目為黃者。以寒濕深入在裡。汗雖出。而寒濕不與俱出也。寒濕在裡。必傷於脾。脾傷而色外見。則身目為黃。是不可比於瘀熱在裡之例。而輒用下法也。云於寒濕中求之者。意非溫脾燥濕不可耳。</p>
<p>傷寒七八日。身黃如橘子色。小便不利。腹微滿者。茵陳蒿湯主之。</p>
<p>此則熱結在裡之證也。身黃如橘子色者。色黃而明。為熱黃也。若濕黃則色黃而晦。所謂身黃如薰黃也。熱結在裡。為小便不利。腹微滿。故宜茵陳蒿湯下熱通瘀為主也。</p>
<p>傷寒身黃髮熱者。梔子柏皮湯主之</p>
<p>此熱瘀而未實之證。熱瘀。故身黃。熱未實。故發熱而腹不滿。梔子徹熱於上。柏皮清熱於下。而中未及實。故須甘草以和之耳。</p>
<p><u>梔子柏皮湯方</u></p>
<p>梔子（十五枚擘）　甘草（一兩炙）　柏皮（二兩）</p>
<p>上三味。以水四升。煮取一升半。去滓。分溫再服。</p>
<p>傷寒瘀熱在裡。身必發黃。麻黃連軺赤小豆湯主之。</p>
<p>此亦熱瘀而未實之證。瘀熱在裡者。汗不得出而熱瘀於裡也。故與麻黃、杏仁、生薑之辛溫。以發越其表。赤小豆、連軺、梓白皮之苦寒甘。以清熱於裡。大棗、甘草。甘溫悅脾。以為散濕驅邪之用。用潦水者。取其味薄。不助水氣也。合而言之。茵陳蒿湯是下熱之劑。梔子柏皮湯是清熱之劑。麻黃連軺赤小豆湯是散熱之劑也。</p>
<p><u>麻黃連軺赤小豆湯方</u></p>
<p>麻黃（二兩）　生薑（二兩切）　生梓白皮（一升）　連軺（二兩）　甘草（二兩炙）　大棗（十二枚擘）　赤小豆（一升）　杏仁（四十粒去皮尖）</p>
<p>上八味。以潦水一斗。先煮麻黃再沸。去上沫。納諸藥。煮取三升。分溫三服。半日服盡。</p>

<h3>蓄血證治二條</h3>
<p>陽明證。其人喜忘者。必有蓄血。所以然者。本有久瘀血。故令喜忘。屎雖硬。大便反易。其色必黑。宜抵當湯下之。</p>
<p>喜忘、即善忘。蓄血者。熱與血蓄於血室也。以衝任之脈。並陽明之經。而其人又本有瘀血。久留不去。適與邪得。即蓄積而不解也。蓄血之證。其大便必硬。然雖硬而其出反易者。熱結在血。而不在糞也。其色必黑者。血瘀久而色變黑也。是宜入血破結之劑。下其瘀血。血去則熱亦不留矣。</p>
<p>病人無表裡證。發熱七八日。雖脈浮數者。可下之。假令已下。脈數不解。合熱則消穀善飢。至六七日不大便者。有瘀血也。宜抵當湯。若脈數不解。而下不止。必協熱而便膿血也。</p>
<p>無表裡證。與前第二十五條同。發熱七八日。而無太陽表證。知其熱盛於內。而氣蒸於外也。脈雖浮數。亦可下之以除其熱。令身熱去脈數解則愈。假令已下。脈浮去而數不解。知其熱不在氣而在血也。熱在血。則必病於血。而其變亦有二。合、猶並也。言熱氣並於胃。為消穀善飢。至六七日不大便者。其血必蓄於中。若不並於胃。而下利不止者。其血必走於下。蓄於中者。為有瘀血。宜抵當湯。結者散之。亦留者攻之也。走於下者。為協熱而便膿血。則但宜入血清熱而已。</p>

<h1>卷五·少陽篇</h1>

<h2>辨列少陽條例大意</h2>
<p>少陽居表裡之間。當肓膜之處。外不及於皮膚。內不及於臟腑。汗之而不從表出。下之而不從里出。故有汗吐下之戒。而惟小柴胡一方和解表裡。為少陽正治之法。凡十六條。其次則有和解而兼汗下之法。謂證兼太陽之表。則宜兼汗。或證兼陽明之裡。則宜兼下。如柴胡加桂枝湯柴胡加芒硝湯大柴胡湯柴胡桂枝湯等方是也。夫有汗下之禁。而或汗之。或下之。此亦少陽權變法也。凡四條。又其次為刺法。如縱橫脅滿合併之病。當刺期門、大椎、肺俞、肝俞諸穴是也。凡四條。</p>

<h2>少陽正治法第一</h2>

<h3>少陽證一條</h3>
<p>少陽之為病。口苦。咽乾。目眩也。</p>
<p>足少陽、膽也。膽盛精汁三合。而其味苦。膽受邪而熱。其氣上溢。故口苦。咽門者。肝膽之候。目銳眥者。膽脈之所起。故咽乾目眩也。</p>

<h3>小柴胡湯證九條</h3>
<p>傷寒五六日。中風。往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。或胸中煩而不嘔。或渴。或腹中痛。或脅下痞硬。或心下悸。小便不利。或不渴。身有微熱。或咳者。與小柴胡湯主之。</p>
<p>傷寒五六日中風者。言或傷寒五六日。傳至少陽。或少陽本經。自中風邪。非既傷寒五六日。而又中於風也。往來寒熱者。少陽居表裡之間。進而就陰則寒。退而從陽則熱也。胸脅苦滿者。少陽之脈。其直者。從缺盆下腋循胸過季脅故也。默默不欲飲食。心煩喜嘔者。木火相通。而膽喜犯胃也。或者。未定之辭。以少陽為半表半裡。其氣有乍進乍退之機。故其病有或然或不然之異。而少陽之病。但見有往來寒熱。胸脅苦滿之證。便當以小柴胡和解表裡為主。所謂傷寒中風。有柴胡證。但見一證便是。不必悉具是也。此條自太陽篇移入。</p>
<p><u>小柴胡湯方</u></p>
<p>柴胡（半斤）　黃芩（三兩）　人參（三兩）　甘草（三兩）　生薑（三兩）　半夏（半升洗）　大棗（十二枚擘）</p>
<p>上七味。以水一斗二升。煮取六升。去滓。再煎取三升。溫服一升。日三服。</p>
<p>加減法</p>
<p>若胸中煩而不嘔。去半夏、人參。加栝蔞實一枚。</p>
<p>胸中煩而不嘔者。邪聚於膈而不上逆也。熱聚則不得以甘補。不逆則不必以辛散。故去人參、半夏。而加栝蔞實之寒。以除熱而蕩實也。</p>
<p>若渴者。去半夏。加人參合前成四兩半。栝蔞根四兩。</p>
<p>渴者。木火內煩。而津虛氣燥也。故去半夏之溫燥。而加人參之甘潤。栝蔞根之涼苦。以徹熱而生津也。</p>
<p>若腹中痛者。去黃芩。加芍藥三兩。</p>
<p>腹中痛者。木邪傷土也。黃芩苦寒。不利脾陽。芍藥酸寒。能於土中瀉木。去邪氣止腹痛也。</p>
<p>若脅下痞硬。去大棗。加牡蠣四兩。</p>
<p>脅下痞硬者。邪聚少陽之募。大棗甘能增滿。牡蠣咸能軟堅。好古云、牡蠣以柴胡引之。能去脅下痞也。</p>
<p>若心下悸。小便不利者。去黃芩。加茯苓四兩。</p>
<p>心下悸。小便不利者。水飲蓄而不行也。水飲得冷則停。得淡則利。故去黃芩。加茯苓。</p>
<p>若不渴。外有微熱者。去人參。加桂三兩。溫覆取微汗愈。</p>
<p>不渴外有微熱者。里和而表未解也。故不取人參之補里。而用桂枝之解外也。</p>
<p>若咳者。去人參、大棗、生薑。加五味子半升。乾薑二兩。</p>
<p>咳者。肺寒而氣逆也。經曰、肺苦氣上逆。急食酸以收之。又曰、形寒飲冷則傷肺。故加五味之酸。以收逆氣。乾薑之溫。以卻肺寒。參、棗、甘壅。不利於逆。生薑之辛。亦惡其散耳。</p>
<p>血弱氣盡。腠理開。邪氣因入。與正氣相摶。結於脅下。正邪分爭。往來寒熱。休作有時。默默不欲飲食。臟腑相連。其痛必下。邪高痛下。故使嘔也。小柴胡湯主之。服柴胡湯已。渴者。屬陽明也。以法治之。</p>
<p>血弱氣盡。腠理開。謂亡血新產勞力之人。氣血不足。腠理疏豁。而邪氣乘之也。邪入必與正相摶。而結於脅下。脅下者。少陰之募。而少陰者。陰陽之交也。邪氣居之。陰出而與邪爭則寒。陽入而與邪爭則熱。陰陽出入。各有其時。故寒熱往來。休作有時也。默默不欲飲食。義如上條。臟腑相連四句。是原所以邪氣入結之故。謂膽寄於肝。地逼氣通。是以其邪必從腑而入臟。所謂其痛必下也。邪高、謂病所來處。痛下、謂病所結處。邪欲入而正拒之。則必上逆而嘔也。至其治法。亦不出小柴胡和解表裡之法。服後邪解氣和。口必不渴。若渴者。是少陽邪氣復還陽明也。以法治之者。謂當從陽明之法。而不可復從少陽之法矣。此亦從太陽篇移入。</p>
<p>傷寒四五日。身熱惡風。頸項強。脅下滿。手足溫而渴者。小柴胡湯主之。</p>
<p>此條類似太陽與少陽並病。以太陽不得有脅下滿。少陽不得有頸項強。且手足溫而渴。知其邪不獨在表。而亦在裡也。欲合表裡而並解。則非小柴胡不可耳。亦太陽篇移入。</p>
<p>傷寒中風。有柴胡證。但見一證便是。不必悉具。</p>
<p>柴胡證。如前條所謂往來寒熱。胸脅苦滿等證是也。傷寒中風者。謂無論傷寒中風。有柴胡證者。但見一證。便當以小柴胡和解之。不可謂其不具。而以他藥發之也。前條云、身熱惡風。頸項強。脅下滿者。與小柴胡不與桂枝。即此意。亦太陽篇移入。</p>
<p>凡柴胡湯病證而下之。若柴胡證不罷者。復與柴胡湯。必蒸蒸而振。卻發熱汗出而解。</p>
<p>柴胡證不應下而反下之。於法為逆。若柴胡證不罷者。仍宜柴胡湯和解。所謂此雖已下。不為逆也。蒸蒸而振者。氣從內達。邪從外出。有戰勝之義焉。是以發熱汗出而解也。亦太陽篇移入。</p>
<p>傷寒陽脈澀。陰脈弦。法當腹中急痛者。先與小建中湯。不瘥者。與小柴胡湯主之。</p>
<p>陽脈澀。陽氣少也。陰脈弦。陰有邪也。陽不足而陰乘之。法當腹中急痛。故以小建中湯溫里益虛散陰氣。若不瘥。知非虛寒在裡。而是風邪內干也。故當以小柴胡湯散邪氣止腹痛。亦太陽篇移入。</p>
<p>傷寒五六日。頭汗出。微惡寒。手足冷。心下滿。口不欲食。大便硬。脈細者。此為陽微結。必有表。復有里也。脈沉。亦在裡也。汗出為陽微。假令純陰結。不得復有外證。悉入在裡。此為半在裡。半在外也。脈雖沉緊。不得為少陰病。所以然者。陰不得有汗。今頭汗出。故知非少陰也。可與小柴胡湯。設不了了者。得屎而解。頭汗出。微惡寒。為表證。手足冷。心下滿。口不欲食。大便硬。脈細。為里證。陽微結者。陽邪微結。未純在裡。亦不純在表。故曰必有表。復有里也。傷寒陰邪中於陰者。脈沉。陽邪結於裡者。脈亦沉。合之於證。無外證者。為純在裡。有外證者。為半在表也。無陽證者。沉為在陰。有陽證者。沉為在裡也。夫頭為陽之會。而陰不得有汗。今脈沉緊而頭汗出。知其病不在少陰。亦並不純在表。故可與小柴胡湯。合外內而並治之耳。設不了了者。必表解而里未和也。故曰得屎而解。</p>
<p>本太陽病。不解。轉入少陽者。脅下硬痛。乾嘔不能食。往來寒熱。尚未吐下。脈沉緊者。與小柴胡湯。若已吐下。發汗。溫針。譫語。柴胡湯證罷。此為壞病。知犯何逆。以法治之。</p>
<p>本太陽脈浮頭痛惡寒之證。而轉為脅下硬滿。乾嘔不能食。往來寒熱者。太陽不解。而傳入少陽也。尚未吐下。不經藥壞者。脈雖沉緊。可與小柴胡以和之。以證見少陽。舍脈而從證也。或云脈沉緊。連上未吐下看。言尚未經吐下。與脈未至沉緊者。知其邪猶在經。可與小柴胡以和之。或云沉當作浮。前陽明篇第四十七條云、病過十日。脈續浮者。與小柴胡湯是也。並通。若已吐下發汗溫針。疊傷津液。胃燥譫語。而脅下硬滿乾嘔等證反罷者。此眾法盡投。正已大傷。而邪猶不解。謂之壞病。非小柴胡所得而治者。須審其因犯何逆。隨證以法治之。</p>

<h3>少陽汗吐下之禁二條</h3>
<p>傷寒脈弦細。頭痛發熱者。屬少陽。少陽不可發汗。發汗則譫語。此屬胃。胃和則愈。胃不和則煩而悸。</p>
<p>經曰、少陽之至。其脈弦。故頭痛發熱者。三陽表證所同。而脈弦細。則少陽所獨也。少陽經兼半里。熱氣已動。是以不可發汗。發汗則津液外亡。胃中乾燥。必發譫語。云此屬胃者。謂少陽邪氣並於陽明胃府也。若邪去而胃和則愈。設不和。則木中之火。又將併入心臟。而為煩為悸矣。</p>
<p>少陽中風。兩耳無所聞。目赤。胸中滿而煩者。不可吐下。吐下則悸而驚。</p>
<p>此少陽自中風邪之證。不從太陽傳來者也。少陽之脈。起於目銳眥。其支從耳後入耳中。以下胸中。少陽受邪。壅熱於經。故耳聾目赤。胸中滿而煩也。是不在表。故不可吐。復不在裡。故不可下。吐則傷陽。陽虛而氣弱則悸。下則傷陰。陰虛而火動則驚。</p>

<h3>辨少陽邪氣進退之機四條</h3>
<p>傷寒六七日。無大熱。其人躁煩者。此為陽去入陰故也。</p>
<p>邪氣在表則發熱。入里則躁煩。傷寒六七日。外無大熱。而其人躁煩者。邪氣去陽而之陰也。去、又訓作往。言陽邪往入陰中也。</p>
<p>傷寒三日。三陽為盡。三陰當受邪。其人反能食而不嘔。此謂三陰不受邪也。</p>
<p>傷寒一日太陽。二日陽明。三日少陽。四日當傳太陰。內經傷寒傳變之常法然也。陽邪傳陰。則當嘔而不能食。若其人反能食。不嘔。則邪氣不傳於陰。將從陽而解也。</p>
<p>傷寒三日。少陽脈小者。欲已也。</p>
<p>傷寒三日。少陽受邪。而其脈反小者。邪氣已衰。其病欲解而愈。經云、大則病進。小則病退。此之謂也。少陽病欲解時。從寅至辰上。</p>
<p>少陽、膽木也。從寅至辰。為木旺之時。故其病欲解。必於是三時。亦猶太陽之解於巳午未。陽明之解於申酉戌也。</p>

<h2>少陽權變法第二</h2>

<h3>柴胡桂枝湯證一條</h3>
<p>傷寒六七日。發熱微惡寒。肢節煩疼。微嘔。心下支結。外證未去者。柴胡桂枝湯主之。</p>
<p>發熱微惡寒。肢節煩疼。邪在肌表。所謂外證未去也。傷寒邪欲入里。而正不容則嘔。微嘔者。邪入未多也。支結者。偏結一處。不正中也。與心下硬滿不同。此雖表解。猶不可攻。況外證未去者耶。故以柴胡、桂枝合劑。外解表邪。內除支結。乃七表三里之法也。</p>
<p><u>柴胡桂枝湯方</u></p>
<p>柴胡（半兩）　桂枝（半兩）　甘草（一兩炙）　黃芩（半兩）　人參（半兩）　半夏（二合半）　白芍（半兩）　生薑（一兩半）　大棗（六枚擘）</p>
<p>上九味。以水七升。煮取三升。去滓。溫服。</p>

<h3>柴胡桂枝幹薑湯證一條</h3>
<p>傷寒五六日。已發汗而復下之。胸脅滿。微結。小便不利。渴而不嘔。但頭汗出。往來寒熱。心煩者。此為未解也。柴胡桂枝幹薑湯主之。</p>
<p>王叔和本在太陽篇中。今移置此。</p>
<p>汗下之後。胸脅滿微結者。邪聚於上也。小便不利。渴而不嘔者。熱勝於內也。傷寒汗出。周身漐漐。人靜不煩者。為已解。但頭汗出而身無汗。往來寒熱。心煩者。為未欲解。夫邪聚於上。熱勝於內。而表復不解。是必合表裡以為治。柴胡、桂枝。以解在外之邪。乾薑、牡蠣。以散胸中之結。栝蔞根、黃芩。除心煩而解熱渴。炙甘草佐柴胡、桂枝以發散。合芩、栝蔞、薑、蠣以和里。為三表七里之法也。</p>
<p><u>柴胡桂枝幹薑湯方</u></p>
<p>柴胡（半斤）　桂枝（三兩）　乾薑（二兩）　黃芩（三兩）　栝蔞根（四兩）　牡蠣（三兩熬）　甘草（二兩炙）</p>
<p>上七味。以水一斗二升。煮取六升。去滓。再煎取三升。溫服一升。日三服。初服微煩。復服汗出愈。</p>

<h3>柴胡加芒硝湯證一條</h3>
<p>傷寒十三日不解。胸脅滿而嘔。日晡所發潮熱。已而微利。此本柴胡證。下之而不得利。今反利者。知醫以丸藥下之。非其治也。潮熱者。實也。先宜小柴胡湯以解外。後以柴胡加芒硝湯以治其里也。</p>
<p>此少陽經邪兼陽明內實之證。少陽病在經。故胸脅滿而嘔。所謂柴胡證也。下之而三字。疑衍。凡柴胡證不得利。今反利者。知醫以丸藥下之。為醫之誤。非病之情也。潮熱者。陽明之實也。實則可下。而證兼少陽。則不可下。故先宜小柴胡以解其外。後以柴胡加芒硝湯以治其里。亦如下條之先與小柴胡。後與大柴胡之例也。亦太陽篇移入。</p>
<p>尚從善云、此本柴胡證。下之而不得利。仲景謂此本柴胡證。醫設以大柴胡湯下之。則表裡俱解。何至有下利之證云。</p>
<p><u>柴胡加芒硝湯方</u></p>
<p>於小柴胡湯內加芒硝六兩。余依前法服。不解更服。</p>

<h3>大柴胡湯證一條</h3>
<p>太陽病。過經十餘日。反二三下之。後四五日。柴胡證仍在者。先與小柴胡湯。嘔不止。心下急。鬱郁微煩者。為未解也。與大柴胡湯。下之則愈。</p>
<p>太陽病。過經十餘日。而有柴胡證。乃邪氣去太陽之陽明。而復之少陽也。少陽不可下。而反二三下之。於法為逆。若後四五日。柴胡證仍在者。先與小柴胡湯。所謂柴胡湯病證而下之。若柴胡證不罷者。復與柴胡是也。若服湯已。嘔不止。心下急。鬱郁微煩者。邪氣鬱滯於裡。欲出不出。欲結不結。為未解也。與大柴胡以下里熱則愈。亦先表后里之意也。此條自太陽篇移入。</p>
<p><u>大柴胡湯方</u></p>
<p>柴胡（八兩）　半夏（八兩）　黃芩（三兩）　生薑（五兩）　枳實（四枚）　芍藥（三兩）大棗（十二枚擘）　大黃（二兩酒浸）</p>
<p>上八味。以水一斗二升。煮取六升。去滓。再煎取三升。溫服一升。日三服。</p>
<p>按大柴胡有柴胡、生薑、半夏之辛而走表。黃芩、芍藥、枳實、大黃之苦而入里。乃表裡並治之劑。而此云大柴胡下之者。謂病兼表裡。故先與小柴胡解之。而後以大柴胡下之耳。蓋分言之。則大小柴胡各有表裡。合言之。則小柴胡主表。而大柴胡主裡。古人之言。當以意。逆往往如此。</p>

<h2>少陽刺法第三</h2>

<h3>刺法四條</h3>
<p>傷寒腹滿譫語。寸口脈浮而緊。此肝乘脾也。名曰縱。刺期門。</p>
<p>傷寒發熱。嗇嗇惡寒。大渴欲飲水。其腹必滿。自汗出。小便利。其病欲解。此肝乘肺也。名曰橫。刺期門。腹滿譫語。里之實也。其脈當沉實。而反浮緊。則非裡實。乃肝邪乘脾。氣窒而熱也。縱、直也。以肝木製脾土。於理為直。故曰縱。發熱惡寒。表有邪也。其病不當有渴。而反大渴。則非內熱。乃肝邪乘肺。氣鬱而燥也。以里無熱。不能消水。故腹滿而汗出。小便利。則肺氣以行。故愈。橫、不直也。以木畏金而反乘金。於理為曲。故曰橫。二者俱瀉肝邪則愈。故刺期門。期門、肝之募也。設不知而攻其實熱則誤矣。此病機之變。不可不審也。</p>
<p>太陽與少陽並病。頭項強痛。或眩冒。時如結胸。心下痞硬者。當刺大椎第一節、肺俞、肝俞。慎不可發汗。發汗則譫語。脈弦。五六日。譫語不止。當刺期門。</p>
<p>太陽少陽並病。心下硬。頸項強而眩者。當刺大椎、肺俞、肝俞。慎勿下之。</p>
<p>太陽之脈。其直者。從巔入絡腦。還出別下項。少陽之脈。起目銳眥。上抵頭角。其內行者。由缺盆下胸中貫膈。絡肝屬膽。故頭項強痛者。太陽之邪未罷。或眩冒。時如結胸。心下痞硬者。少陽之邪方盛也。大椎在脊骨第一節上。刺之所以瀉太陽邪氣。而除頸項之強痛。肺俞在脊骨第三節下兩旁。肝俞在第九節下兩旁。刺之所以瀉少陽邪氣。而除眩冒。時如結胸。及心下之痞硬。慎不可發汗。以亡胃液。液亡胃燥。必發譫語。且恐少陽之邪得乘虛而干胃也。若脈弦。至五六日。譫語不止。是少陽勝而陽明負。亦如陽明與少陽合病之為失也。故當刺期門。以瀉少陽之邪。亦慎勿下之。以虛其胃。胃虛邪陷。必作結胸。如本論云、太陽少陽並病。而反下之。成結胸也。</p>

<h1>卷六·太陰篇</h1>

<h2>辨列太陰條例大意</h2>
<p>太陰者。土也。在臟為脾。在氣為濕。傷寒傳經之熱。入而與之相摶。則為腹滿吐利等證。直中之寒。入而與濕相摶。亦為腹滿吐利等證。但有肢冷肢溫。脈遲脈數。口渴不渴之異耳。又三陰為三陽之裡。而三陰亦自有表裡。是以風寒所中。不必盡入於臟。而亦留連於經。故有太陰中風之條。與桂枝發汗之法。又下利腹脹滿。身體疼痛者。此為經臟俱病之證。故與先里後表之法。乃今之論三陰者。但云直中傳經而已。是知有三陰之裡。不知有三陰之表也。茲篇先列臟病。次列經病。又次為經臟俱病。凡十條。為一卷。</p>

<h2>太陰諸法</h2>

<h3>太陰臟病脈證治六條</h3>
<p>太陰之為病。腹滿而吐。食不下。自利益甚。時腹自痛。若下之。必胸下結硬。</p>
<p>此足太陰病之的證也。太陰之脈。入腹屬脾絡胃。上膈挾咽。故其病有腹滿而吐。食不下。自利腹痛等證。然太陰為病。不特傳經如是。即直中亦如是。且不特傷寒如是。即雜病亦如是。但有屬陰屬陽。為盛為虛之分耳。而太陰者。臟也。滿而不實。法不可下。若下之。則胸下結硬。中氣傷者。邪氣必結也。</p>
<p>本太陽病。醫反下之。因而腹滿時痛者。屬太陰也。桂枝加芍藥湯主之。</p>
<p>病在太陽。不與解表。而反攻裡。因而邪氣乘虛陷入太陰之位。為腹滿而時痛。陶氏所謂誤下傳者是也。夫病因邪陷而來者。必得邪解而後愈。而臟陰為藥所傷者。亦必以藥和之而後安。故須桂枝加芍藥湯主之。桂枝所以越外入之邪。芍藥所以安傷下之陰也。按金匱云、傷寒陽脈澀。陰脈弦。法當腹中急痛者。與小建中湯。不瘥者。與小柴胡湯。此亦邪陷陰中之故。而桂枝加芍藥。亦小建中之意。不用膠飴者。以其腹滿。不欲更以甘味增滿耳。</p>
<p><u>桂枝加芍藥湯方</u></p>
<p>於桂枝湯方內更加芍藥三兩。隨前共六兩。余依桂枝湯法。</p>
<p>大實痛者。桂枝加大黃湯主之。</p>
<p>此承上條而言。腹滿而未實。痛而不甚者。可以桂枝加芍藥。和而解之。若大實大痛者。邪氣成聚。必以桂枝加大黃。越陷邪而去實滯也。夫太陰、脾臟也。臟何以能實而可下。陽明者。太陰之表。以膜相連。臟受邪而腑不行則實。故脾非自實也。因胃實而實也。大黃所以下胃。豈以下脾哉。少陰厥陰亦有用承氣法。詳見各篇。所當互考。</p>
<p><u>桂枝加大黃湯方</u></p>
<p>桂枝（三兩去皮）　甘草（三兩炙）　大黃（一兩）　生薑（三兩切）　大棗（十二枚）　芍藥（六兩）</p>
<p>上六味。以水七升。煮取三升。去滓。溫服一升。日三服。</p>
<p>太陰病。脈弱。其人續自便利。設當行大黃、芍藥者。宜減之。以其人胃氣弱。易動故也。</p>
<p>此亦承上條而言。大黃、芍藥之得以用者。為其胃實而便堅也。若其人脈弱。續自便利。則雖有大實痛證。此法不可用矣。即欲用之。亦宜量減而與之。所以然者。胃氣弱而不振。邪氣不聚而易動。故可以緩圖。而難以峻攻也。</p>
<p>傷寒脈浮而緩。手足自溫者。是為系在太陰。太陰者。身當發黃。若小便自利者。不能發黃。至七八日。暴煩下利。日十餘行。必自止。以脾家實。穢腐當去故也。</p>
<p>傷寒脈浮而緩者。脈緊去而成緩。為寒欲變熱之證。如太陽第四十七條之例也。手足自溫。非太陰定證。見太陰有寒。手足必寒。有熱。手足乃自溫耳。又陽明受熱。即一身及手足熱。太陰則身不熱。而手足溫。茲寒已變熱。而手足自溫。則傷寒之邪。不之陽明而之太陰。而其脈仍浮。則其邪亦未盡入。故曰系在太陰。謂以太陽而內連太陰也。於法太陰受熱而汗不出者。熱與濕摶。當發身黃。若小便自利者。其熱得通。不能蒸郁為黃矣。至七八日。暴煩下利者。正氣內作。邪氣欲去也。雖日十餘行。繼必自止。所以然者。脾家本有穢腐當去。故為自利。穢腐盡。則利亦必自止矣。</p>
<p>自利不渴者。屬太陰。以其臟有寒故也。當溫之。宜四逆輩。</p>
<p>自利不渴者。太陰本自有寒。而陰邪又中之也。曰屬太陰。其臟有寒。明非陽經下利。及傳經熱病之比。法當溫臟祛寒。如四逆湯之類。不可更以苦寒堅之清之。如黃芩湯之例也。</p>

<h3>太陰經病證治二條</h3>
<p>太陰中風。四肢煩疼。陽微陰澀而長者。為欲愈。</p>
<p>此太陰自中風邪之證。不從陽經來也。夫太陰、脾也。風、陽邪也。脾主行氣於四肢。而風淫為末病。故太陰中風。四肢煩熱而疼痛也。脈陽微陰澀而長者。陽無病而陰受邪。而澀又為邪氣之將衰。長為正氣之方盛。正盛邪衰。故為欲愈。</p>
<p>太陰病。脈浮者。可發汗。宜桂枝湯。</p>
<p>太陰脈浮有二義。或風邪中於太陰之經。其脈則浮。或從陽經傳入太陰。旋覆反而之陽者。其脈亦浮。浮者。病在經也。凡陰病在臟者宜溫。在經者則宜汗。如少陰之麻黃附子細辛。厥陰之麻黃升麻皆是也。桂枝湯甘辛入陰。故亦能發散太陰之邪。</p>

<h3>太陰經臟俱病一條</h3>
<p>下利腹脹滿。身體疼痛者。先溫其里。乃攻其表。溫里宜四逆湯。攻表宜桂枝湯。</p>
<p>此條叔和本列厥陰篇中。今移置此。</p>
<p>此太陰經臟並受寒邪之證。叔和編入厥陰經中者。誤也。下利腹脹滿。里有寒也。身體疼痛。表有寒也。然必先溫其里。而後攻其表。所以然者。臟氣不充。則外攻無力。陽氣外泄。則裡寒轉增。自然之勢也。而四逆用生附。則寓發散於溫補之中。桂枝有甘芍。則兼固里於散邪之內。用法之精如此。</p>

<h3>太陰病愈期一條</h3>
<p>太陰病欲解時。從亥至醜上。</p>
<p>六經邪解之時。必於其經王之時。太陰者。土也。土王於辰戌丑未。而獨於亥子丑時解者。脾為陰土。應王於陰。故其病欲解。必從亥至醜上也。</p>

<h1>卷七·少陰篇</h1>

<h2>辨列少陰條例大意</h2>
<p>少陰為太陽之裡。居厥太二陰之間。故有邪在太陽。而已內及少陰者。有寒中少陰。而仍外連太陽者。有邪在少陰。而或兼厥陰。或兼太陰者。大抵連太陰者多發熱。連厥陰者多厥利也。是傳經直中之外。又有不同如此。且也直中之寒。久亦化熱。傳經之熱。極必生陰。茲篇先列脈證於前。次清法。次溫法。又次為生死法。欲學者明辨宜清宜溫之實。不必但泥傳經直中之名也。又其次為少陰病禁。以少陰為汗下之例。亦不得不著汗下之禁云。凡四十五條。為一卷。</p>

<h2>少陰諸法</h2>

<h3>少陰脈證四條</h3>
<p>少陰之為病。脈微細。但欲寐也。</p>
<p>經脈陽淺而陰深。陽大而陰小。邪傳少陰。則脈之浮者轉為微。大者轉為細也。又多陽者多寤。多陰者多寐。邪傳少陰則目不瞑者。轉而為但欲寐也。夫少陰者。三陰之樞也。陽於是乎入。而陰於是乎出。故雖太陰厥陰同為陰臟。而其為病。實惟少陰為然。而少陰之為病。亦非獨脈微細但欲寐二端。仲景特舉此者。以為從陽入陰之際。其脈證變見有如此。</p>
<p>少陰病。欲吐不吐。心煩。但欲寐。五六日。自利而渴者。屬少陰也。虛故引水自救。若小便色白者。少陰病形悉具。小便白者。以下焦虛有寒。不能制水故令色白也。</p>
<p>此少陰自受寒邪之證。不從陽經來也。寒初到經。欲受不可。欲卻不能。故欲吐不吐。心煩。但欲寐。而實不能寐也。至五六日。自利而渴。則其邪已入少陰之臟矣。然少陰陰臟也。寒陰邪也。以陰受陰。法當不渴。而渴者。此非有熱。以臟虛故引水自救耳。更審其小便。若色白者。則少陰寒病。全體大露無疑。何以言之。熱傳少陰。自利而渴者。邪熱足以消水。其小便色必赤。寒中少陰。自利而渴者。雖能飲而不能制。其小便色必白也。仲景辨證之精如此。</p>
<p>病人脈陰陽俱緊。反汗出者。亡陽也。此屬少陰。法當咽痛而復吐利。</p>
<p>陰陽俱緊。太陽傷寒之脈也。法當無汗。而反汗出者。表虛亡陽。其病不屬太陽而屬少陰矣。少陰之脈。上膈循喉嚨。少陰之臟。為胃之關。為二陰之司。寒邪直入。經臟俱受。故當咽痛而復吐利也。此為寒傷太陽。陽虛不任。因遂轉入少陰之證。蓋太陽者。少陰之表。猶唇齒也。唇亡則齒寒。陽亡則陰及。故曰少陰之邪從太陽飛渡者多也。</p>
<p>少陰病。八九日。一身手足盡熱者。以熱在膀胱。必便血也。</p>
<p>此熱傳少陰。而復還入膀胱之證。膀胱者。太陽也。太陽為三陽之表。而多血少氣。熱在膀胱。則一身手足盡熱。而熱氣有餘。血為熱迫。散而下行。則必便血也。</p>

<h3>少陰清法七條</h3>
<p>少陰病。得之二三日以上。心中煩。不得臥。黃連阿膠湯主之。</p>
<p>少陰之熱。有從陽經傳入者。有自受寒邪。久而變熱者。曰二三日以上。謂自二三日至五六日。或八九日。寒極而變熱也。至心中煩不得臥。則熱氣內動。盡入血中。而諸陰蒙其害矣。蓋陽經之寒變。則熱歸於氣。或入於血。陰經之寒變。則熱入於血。而不歸於氣。此余歷試之驗也。故用黃連、黃芩之苦。合阿膠、芍藥、雞子黃之甘。併入血中。以生陰氣。而除邪熱。成氏所謂陽有餘。以苦除之。陰不足。以甘補之是也。</p>
<p><u>黃連阿膠湯方</u></p>
<p>黃連（四兩）　黃芩（一兩）　芍藥（二兩）　阿膠（三兩）　雞子黃（二枚）</p>
<p>上五味。以水五升。先煮三物。取二升。去滓。納阿膠。烊盡小冷。內雞子黃。攪令相得。溫服七合。日三服。</p>
<p>少陰病。四逆。其人或咳。或悸。或小便不利。或腹中痛。或泄利下重者。四逆散主之。</p>
<p>四逆、四肢逆冷也。此非熱厥。亦太陽初受寒邪。未郁為熱。而便入少陰之證。少陰為三陰之樞。猶少陽為三陽之樞也。其進而入則在陰。退而出則就陽。邪氣居之。有可進可退時上時下之勢。故其為病。有或咳。或悸。或小便不利。或腹中痛。或泄利下重之證。夫邪在外者。可引而散之。在內者。可下而去之。其在外內之間者。則和解而分消之。分消者。半從外半從內之謂也。故用柴胡之辛。揚之使從外出。枳實之苦。抑之使其內消。而其所以能內能外者。則樞機之用為多。故必以芍藥之酸益其陰。甘草之甘養其陽。曰四逆者。因其所治之病而命之名耳。而其制方大意。亦與小柴胡相似。四逆之柴胡、枳實。猶小柴胡之柴胡、黃芩也。四逆之芍藥、甘草。猶小柴胡之人參、甘草也。且枳實兼擅滌飲之長。甘、芍亦備營衛兩和之任。特以為病有陰陽之異。故用藥亦分氣血之殊。而其輔正逐邪。和解表裡。則兩方如一方也。舊謂此為治熱深發厥之藥。非是。夫果熱深發厥。則屬厥應下之之例矣。豈此藥所能治哉。</p>
<p><u>四逆散方</u></p>
<p>柴胡　枳實（破水漬炙乾）　芍藥　甘草（炙）</p>
<p>上四味。各十分。搗篩。白飲和服方寸匕。日三服。</p>
<p>加減法</p>
<p>咳者。加五味子、乾薑各五分。並主下利。</p>
<p>成氏曰、肺寒氣逆則咳。五味子之酸收逆氣。乾薑之辛散肺寒。並主下利者。肺與大腸為表裡。上咳下利。治則頗同。</p>
<p>悸者。加桂枝五分。</p>
<p>悸者寒多。心脈不通則心下鼓也。桂枝辛溫。入心通陽氣。</p>
<p>小便不利者。加茯苓五分。</p>
<p>小便不利。水聚於下也。茯苓甘淡。利竅滲水。</p>
<p>腹中痛者。加附子一枚。炮令坼。</p>
<p>腹中痛。寒勝於里也。附子辛溫。散寒止痛。</p>
<p>泄利下重者。先以水五升。煮薤白三升。煮取三升。去滓。以散三方寸匕內湯中。煮取一升半。分溫再服。泄利下重。寒滯於下也。薤白辛溫。散寒通陽氣。</p>
<p>少陰病。下利六七日。咳而嘔渴。心煩不得眠者。豬苓湯主之。</p>
<p>少陰中寒。下利至六七日。寒變為熱。而氣復上行。為咳。為嘔。為渴。為心煩不得眠。所謂下行極而上也。夫邪氣自下而上者。仍須從下引而出之。豬苓、茯苓、澤瀉、滑石。並甘淡下行之藥。足勝導水泄熱之用。然以陰病而屬邪熱。設非得阿膠之鹹寒入陰。何以馭諸陽藥而泄陰中之熱。導浮上之氣哉。少陰病。下利咽痛。胸滿心煩者。豬膚湯主之。</p>
<p>少陰之脈。從腎上貫肝膈。入肺中循喉嚨。其支別者。從肺出絡心。注胸中。陽邪傳入少陰。下為泄利。上為咽痛。胸滿心煩。熱氣充斥脈中。不特泄傷本臟之氣。亦且消爍心肺之陰矣。豬水蓄而膚甘寒。其氣味先入少陰。益陰除客熱。止咽痛。故以為君。加白蜜之甘以緩急。潤以除燥而煩滿愈。白粉之甘能補中。溫能養臟。而泄利止矣。</p>
<p><u>豬膚湯方</u></p>
<p>豬膚一斤。以水一斗。煮取五升。去滓。加白蜜一升。白粉五合。熬香。和相得。溫分六服。</p>
<p>少陰病。咽中傷。生瘡。不能語言。聲不出者。苦酒湯主之。</p>
<p>少陰熱氣。隨經上衝。咽傷生瘡。不能語言。音聲不出。東垣所謂少陰邪入於裡。上接於心。與火俱化而剋金也。故與半夏之辛。以散結熱止咽痛。雞子白甘寒入肺。清熱氣通聲音。苦酒苦酸。消瘡腫散邪毒也。</p>
<p><u>苦酒湯方</u></p>
<p>半夏十四枚。洗。破如棗核大。雞子一枚。去黃。納上苦酒。著雞子殼中。納半夏著苦酒中。以雞子殼置刀環中。安火上。令三沸。去滓。少少含咽之。不瘥。更作三劑服之。</p>
<p>少陰病。二三日。咽痛者。可與甘草湯。不瘥者。與桔梗湯。</p>
<p>此亦熱傳少陰。而上為咽痛之法。甘草湯甘以緩急。寒以除熱也。其甚而不瘥者。則必以辛發之。而以甘緩之。甘草、桔梗。甘辛合用。而甘勝於辛。治陰虛客熱。其法輕重。當如是耳。</p>
<p><u>甘草湯方</u></p>
<p>甘草二兩。以水三升。煮取一升半。去滓。溫服七合。日二服。</p>
<p><u>桔梗湯方</u></p>
<p>桔梗（一兩）　甘草（二兩）</p>
<p>上二味。以水二升。煮取一升。去滓。分溫再服。</p>
<p>少陰病。咽中痛。半夏散及湯主之。</p>
<p>少陰咽痛。甘不能緩者。必以辛散之。寒不能除者。必以溫發之。蓋少陰客邪。郁聚咽嗌之間。既不得出。復不得入。設以寒治。則聚益甚。投以辛溫。則鬱反通。內經微者逆之。甚者從之之意也。半夏散及湯。甘辛合用。而辛勝於甘。其氣又溫。不特能解客寒之氣。亦能劫散咽喉怫鬱之熱也。</p>
<p><u>半夏散及湯方</u></p>
<p>半夏（洗）　桂枝（去皮）　甘草（炙各等分）</p>
<p>上三味。各別搗篩已。合治之。白飲和服方寸匕。日三服。若不能散服者。以水一升。煎七沸。內散兩方。寸匕。更煎三沸。下火令小冷。少少咽之。</p>

<h3>少陰下法三條</h3>
<p>少陰病。得之二三日。口燥咽乾者。急下之。宜大承氣湯。</p>
<p>此少陰熱並陽明之證。二三日。為病未久。而便口燥咽乾。熱氣盛而陰氣少矣。蓋陽明、土。少陰、水。熱並陽明。則土實而水虛。不特熱氣傷陰。即土氣亦傷水也。故宜急下。以瀉土而全水。不然。熱盛傷陰。土實亦傷陰。其乾槁可立而待。然非心下痛。腹脹不大便。如下二條所云。亦未可以大承氣輕試也。</p>
<p>少陰病。自利清水。色純青。心下必痛。口乾燥者。急下之。宜大承氣湯。</p>
<p>此亦少陰熱並陽明。而氣復下注之證。然雖下注而邪實不去。但水液從旁下轉。為自利清水而已。故心下痛而口乾燥也。色純青者。土受水邪。玄黃合色。而色轉純青也。以大承氣急下。則胃實去而腎病亦已矣。</p>
<p>少陰病。六七日。腹脹不大便者。急下之。宜大承氣湯。</p>
<p>腹脹不大便。土實之徵也。土實則水乾。故非急下不可。夫陽明居中。土也。萬物所歸。故無論三陽三陰。其邪皆得還入於胃。而成可下之證。然太陰傳陽明。臟邪還腑。為欲愈也。厥陰傳陽明者。木邪歸土。不能復木也。惟少陰則腎邪入胃。而胃實復將消腎。故雖並用下法。而少陰之法。視太陰厥陰為加峻矣。</p>

<h3>少陰溫法十五條</h3>
<p>少陰病。始得之。反發熱。脈沉者。麻黃附子細辛湯主之。</p>
<p>此寒中少陰之經。而復外連太陽之證。以少陰與太陽為表裡。其氣相通故也。少陰始得本無熱。而外連太陽則反發熱。陽病脈當浮而仍緊。少陰則脈不浮而沉。故與附子、細辛。專溫少陰之經。麻黃兼發太陽之表。乃少陰經溫經散寒。表裡兼治之法也。</p>
<p><u>麻黃附子細辛湯方</u></p>
<p>麻黃（二兩去節）　附子（一枚炮去皮破八片）　細辛（二兩）</p>
<p>上二味。以水一斗。先煮麻黃。減二升。去上沫。納諸藥。煮取三升。去滓。溫服一升。日三服。</p>
<p>按陽證有在經不在腑者。陰病亦有在經不在臟者。太陽篇云、脈浮者。桂枝湯。少陰篇、始得之、反發熱脈沉者。麻黃附子細辛湯。及得之二三日。麻黃附子甘草湯。厥陰篇、厥陰中風。脈微浮為欲愈。此皆陰病之在經。而未入於臟者。</p>
<p>少陰病。得之二三日。麻黃附子甘草湯微發汗。以二三日無里證。故微發汗也。</p>
<p>少陰中寒二三日。為脈沉惡寒無熱之時。故可與麻黃附子甘草湯。以取微汗而散寒邪。無里證者。無吐利心煩不得臥等證也。以二三日病未入臟。而寒亦未變熱。故得用溫經散邪之法。如麻黃附子細辛之例。然去細辛之辛。而加甘草之甘。於法為較和矣。所以然者。寒邪不可不發。而陰病又不可過發耳。</p>
<p><u>麻黃附子甘草湯方</u></p>
<p>麻黃（二兩去節）　附子（一枚炮去皮）　甘草（二兩炙）</p>
<p>上三味。以水七升。先煮麻黃一二沸。去上沫。納諸藥。煮取三升。去滓。溫服一升。日三服。</p>
<p>少陰病。得之一二日。口中和。其背惡寒者。當灸之。附子湯主之。</p>
<p>口中和者。不燥不渴。為里無熱也。背惡寒者。背為陽。而陰乘之。不能通於外也。陽不通。故當灸之以通陽。痹陽不足。故主附子湯以補陽虛。非如麻黃附子細辛之屬。徒以溫散為事矣。此陽虛受寒。而虛甚於寒者之治法也。</p>
<p>按元和紀用經云、少陰中寒而背惡寒者。口中則和。陽明受熱而背惡寒者、則口燥而心煩。一為陰寒下乘。陽氣受傷。一為陽熱入里。津液不足。是以背惡寒雖同。而口中和與燥則異。此辨證之要也。</p>
<p><u>附子湯方</u></p>
<p>附子（二枚炮去皮破八片）　茯苓　芍藥（各三兩）　人參（二兩）　白朮（四兩）</p>
<p>上五味。以水八升。煮取三升。去滓。溫服一升。日三服。</p>
<p>氣虛者。補之必以甘。氣寒者。溫之必以辛。甘辛合用。足以助正氣而散陰邪。人參、白朮、茯苓、附子是也。而病屬陰經。故又須芍藥以和陰氣。且引附子入陰散寒。所謂鄉導之兵也。</p>
<p>少陰病。身體痛。手足寒。骨節痛。脈沉者。附子湯主之。</p>
<p>身體痛。骨節痛。寒在陰也。手足寒。脈沉。病屬陰也。若脈浮而手足熱。則為太陽傷寒。可與汗解者矣。此為少陰血氣不足。而寒邪侵之之證。故亦宜附子湯。復陽散陰。益精氣也。少陰病。二三日不已。至四五日。腹痛。小便不利。四肢沉重疼痛。自下利者。此為有水氣。其人或咳。或小便利。或下利。或嘔者。真武湯主之。</p>
<p>少陰中寒。二三日不已。至四五日。邪氣遞深而臟受其病矣。臟寒故腹痛。寒勝而陽不行。故小便不利。於是水寒相摶。浸淫內外。為四肢沉重疼痛。為自下利。皆水氣乘寒氣而動之故也。其人或咳。或小便利。或下利。或嘔者。水寒之氣。或聚或散或上。</p>
<p><u>真武湯方</u>　方見太陽斡旋法。三服後加減法。</p>
<p>若咳者。加五味子半升。細辛、乾薑各一兩。</p>
<p>咳者。水寒射肺。氣逆而不下也。成氏曰。五味子之酸。以收逆氣。細辛、乾薑之辛。以散水寒。若小便利者。去茯苓。</p>
<p>小便利者。水已下趨。不必更利其水。故去茯苓。</p>
<p>若下利者。去芍藥。加乾薑二兩。</p>
<p>下利者。寒盛於內也。故去芍藥加乾薑。避寒而就溫也。</p>
<p>若嘔者。去附子加生薑。足前成半斤。</p>
<p>嘔者。氣逆於上也。故去附子。加生薑。二物辛熱則同。而生薑善降逆。附子能行而不能下。則不同也。少陰病。下利清穀。裡寒外熱。手足厥逆。脈微欲絕。身反不惡寒。其人面赤色。或腹痛。或乾嘔。或咽痛。或利止脈不出者。通脈四逆湯主之。</p>
<p>此寒中少陰。陰盛格陽之證。下利清穀。手足厥逆。脈微欲絕者。陰盛於內也。身熱不惡寒。面赤色者。格陽於外也。真陽之氣。被陰寒所迫。不安其處。而遊散於外。故顯諸熱象。實非熱也。通脈四逆。即四逆加乾薑一倍。為陰內陽外。脈絕不通。故增辛熱以逐寒邪。寒去則陽復反。而脈復出。故曰其脈即出者愈。</p>
<p><u>通脈四逆湯方</u></p>
<p>甘草（二兩炙）　附子（大者一枚生用去皮破八片）　乾薑（三兩強人可四兩）</p>
<p>上三味。以水三升。煮取一升二合。去滓。分溫再服。其脈即出者愈。</p>
<p>加減法</p>
<p>面色赤者。加蔥九莖。</p>
<p>面色赤。陽格於上也。蔥中空。味辛。能通陽氣。</p>
<p>腹中痛者。去蔥。加芍藥二兩。</p>
<p>腹中痛。陰滯於裡也。芍藥味酸。能利陰氣止腹痛。故加之。蔥通陽而不利陰。故去之。</p>
<p>嘔者。加生薑二兩。</p>
<p>嘔者。陰氣上逆也。生薑之辛。可散陰而降逆。</p>
<p>咽痛者。去芍藥。加桔梗一兩。</p>
<p>咽痛者。陽氣上結也。桔梗之辛。可開陽結。去芍藥者。惡其收也。</p>
<p>利止脈不出者。去桔梗。加人參二兩。</p>
<p>利止脈不出。亡血也。故不利桔硬之散。而利人參之甘而能補也。</p>
<p>少陰病。飲食入口則吐。心中溫溫欲吐。復不能吐。始得之。手足寒。脈弦遲者。此胸中實。不可下也。當吐之。若膈上有寒飲。乾嘔者。不可吐也。急溫之。宜四逆湯。</p>
<p>腎者。胃之關也。關門受邪。上逆於胃。則飲食入口即吐。或心中溫溫欲吐。而復不能吐也。夫下氣上逆而為吐者。原有可下之例。如本論之噦而腹滿。視其前後。知何部不利者而利之。金匱之食已即吐者。大黃甘草湯主之是也。若始得之。手足寒。脈弦遲者。胸中邪實而陽氣不布也。則其病不在下而在上。其治法不可下而可吐。所謂因其高者而越之也。若膈上有寒飲而致乾嘔者。則復不可吐而可溫。所謂病痰飲者。當以溫藥和之也。故實可下。而胸中實則不可下。飲可吐。而寒飲則不可吐。仲景立法。明辨詳審如此。</p>
<p>少陰病。脈沉者。急溫之。宜四逆湯。</p>
<p>此不詳何證。而但憑脈以論治曰、少陰病脈沉者。急溫之。宜四逆湯。然苟無厥逆惡寒下利不渴等證。未可急與溫法。愚謂學者當從全書會通。不可拘於一文一字之間者。此又其一也。</p>
<p>少陰病。下利。脈微澀。嘔而汗出。必數更衣。反少者。當溫其上。灸之。</p>
<p>少陰病。下利脈微澀。陰傷於下也。嘔而汗出。陽虛於上也。陰虛並傷。法必上下並溫矣。若更衣雖數。而所下無多。尤為陰亡之驗。是但當溫其上而不可溫其下。即溫上之法。亦不可以藥傷其陰。而但宜灸以引其陽也。灸法未詳。</p>
<p>少陰病。吐利。手足厥冷。煩躁欲死者。吳茱萸湯主之。</p>
<p>此寒中少陰。而復上攻陽明之證。吐利厥冷。煩躁欲死者。陰邪盛極而陽氣不勝也。故以吳茱萸溫里散寒為主。而既吐且利。中氣必傷。故以人參、大棗。益虛安中為輔也。然後條云、少陰病。吐利煩躁。四逆者死。此復以吳茱萸湯主之者。彼為陰極而陽欲絕。此為陰盛而陽來爭也。病證則同。而辨之於爭與絕之間。蓋亦微矣。或云、先厥冷而後煩躁者。陽欲復而來爭也。先煩躁而四逆者。陽不勝而欲絕也。亦通。郭曰云云、四逆而煩躁者。不問其餘證。先宜服吳茱萸湯。四逆而不煩躁者。先宜服四逆湯。四逆下利脈不出者。先宜服通脈四逆湯。此三者。治少陰之大法也。</p>
<p>少陰病。下利。白通湯主之。少陰病。下利脈微者。與白通湯。利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁湯主之。服湯脈暴出者。死。微續者。生。</p>
<p>少陰病。下利脈微者。寒邪直中。陽氣暴虛。既不能固其內。復不能通於脈。故宜姜附之辛而溫者。破陰固里。蔥白之辛而通者。入脈引陽也。若服湯已。下利不止。而反厥逆無脈。乾嘔煩者。非藥之不中病也。陰寒太甚。上為格拒。王太僕所謂甚大寒熱。必能與違性者爭雄。異氣者相格也。故即於白通湯中加人尿之鹹寒。豬膽汁之苦寒。反其佐。以同其氣。使不相格而適相成。內經所謂寒熱溫涼。反從其病是也。脈暴出者。無根之陽。發露不遺。故死。脈微續者。被抑之陽。來復有漸。故生。</p>
<p><u>白通湯方</u></p>
<p>蔥白（四莖）　乾薑（一兩）　生附子（一枚去皮破八片）</p>
<p>上三味。以水三升。煮取一升。去滓。分溫再服。</p>
<p><u>白通加豬膽汁湯方</u></p>
<p>蔥白（四莖）　乾薑（一兩）　豬膽汁（一合）　人尿（五合）　生附子（一枚去皮破八片）</p>
<p>以上三味。以水三升。煮取一升。去滓。納人尿豬膽汁。和令相得。分溫再服。若無膽。亦可用。</p>
<p>少陰病。下利便膿血者。桃花湯主之。少陰病。二三日至四五日。腹痛。小便不利。下利不止。便膿血者。桃花湯主之。少陰病。下利便膿血者。可刺。</p>
<p>少陰病。下利便膿血者。臟病在陰。而寒復傷血也。血傷故腹痛。陰病故小便不利。與陽經挾熱下利不同。故以赤石脂理血固脫。乾薑溫里散寒。粳米安中益氣。用刺法者。以邪陷血中。刺之以行血散邪耳。刺法未詳。</p>
<p><u>桃花湯方</u></p>
<p>赤石脂（一斤一半全用一半篩末）　乾薑（一兩）　粳米（一升）</p>
<p>上三味。以水七升。煮米令熟。去滓。溫服七合。納赤石脂末方寸匕。日三服。若一服愈。余勿服。</p>

<h3>少陰生死法十二條</h3>
<p>少陰中風。脈陽微陰浮者。為欲愈。</p>
<p>少陰中風者。少陰之經自中風邪。不從陽經傳入者也。脈陽微者。邪氣微。陰浮者。邪氣淺而裡氣和。故為欲愈。亦陰病得陽脈則生也。</p>
<p>少陰病欲解時。從子至寅上。</p>
<p>少陰、水臟也。少陰之病、陰邪也。水王於子。而陽長於寅。少陰病欲解。從子至寅上者。陰氣待子則王。而陰邪得陽則解也。</p>
<p>少陰病脈緊。至七八日。自下利。脈暴微。手足反溫。脈緊反去者。為欲解也。雖煩下利。必自止。</p>
<p>寒傷少陰之經。手足厥冷而脈緊。至七八日。邪氣自經入臟。自下利而脈微。其病為較深矣。乃手足反溫。脈緊反去者。陽氣內充。而陰邪不能自容也。故為欲解。雖煩下利。必自止者。邪氣轉從下出。與太陰之穢腐當去而下利者同意。設邪氣盡。則煩與利亦必自止耳。</p>
<p>少陰病。下利。若利自止。惡寒而蜷臥。手足溫者。可治。</p>
<p>少陰病。惡寒而蜷。時自煩欲去衣被者。可治。</p>
<p>少陰病。吐利。手足不逆冷。反發熱者。不死。脈不至者。灸少陰七壯。</p>
<p>寒中少陰。或下利。或惡寒而蜷臥。或吐利交作。而脈不至。陰邪盛而陽氣衰之候也。若利自止。手足溫。或自煩欲去衣被。或反發熱。則陽氣已復。而陰邪將退。故皆得不死而可治。脈不至者。吐利交作。元氣暴虛。脈乍不至也。灸少陰以引陽氣。脈必自至。總之傳經之病。以陰氣之存亡為生死。直中之病。以陽氣之消長為生死也。</p>
<p>少陰病。惡寒身蜷而利。手足逆冷者。不治。</p>
<p>少陰病。四逆惡寒而身蜷。脈不至。不煩而躁者。死。</p>
<p>惡寒身蜷而利。手足逆冷。陰氣太盛。陽氣不振。與前利止手足溫等證正相反。蓋手足溫時。自煩發熱者。陽道長陰道消也。手足逆冷。不煩而躁者。陰氣長陽氣消也。且四逆而脈不至。與手足溫而脈不至者不同。彼則陽氣乍厥。引之即出。此則陽氣已絕。招之不返也。而煩與躁又不同。煩者。熱而煩也。躁者。亂而不必熱也。煩而躁者。陽怒而與陰爭。期在必勝。則生。不煩而躁者。陽不能戰。復不能安而欲散去。則死也。</p>
<p>少陰病。吐利煩躁。四逆者。死。</p>
<p>寒中少陰。吐利交作。陰邪已太盛矣。然或自煩發熱。或手足不逆冷。則陽氣猶在。陰邪雖盛。猶或可治。所謂吐利。手足不逆冷。反發熱者。不死也。若更煩躁四逆。則陽氣有散亡之象。陰邪無退舍之期。雖欲不死。烏可得耶。</p>
<p>少陰病。下利止而頭眩。時時自冒者。死。</p>
<p>下利止。非利自愈也。臟陰盡也。眩、目黑而轉也。冒、昏冒也。陰氣既盡。孤陽無附。而浮亂於上。故頭眩時時自冒也。而陰氣難以卒復。孤陽且易上散。雖有良藥。亦無及矣。是以少陰病陽複利止則生。陰盡利止則死也。</p>
<p>少陰病。六七日。息高者死。</p>
<p>息高、氣高而喘也。少陰為真氣之源。呼吸之根。六七日病不愈而息高者。邪氣不去體。而真氣已離根也。故死。</p>
<p>少陰病。脈微細沉。但欲臥。汗出不煩。自欲吐。至五六日自利。復煩躁。不得臥寐者。死。</p>
<p>脈微細沉但欲臥。邪傳少陰之本證。如本篇第一條所云也。汗出不煩者。氣外泄而邪不與俱泄也。自欲吐。繼後自利者。邪上下行而氣不能驅而出之也。至煩躁不得臥寐。則陰陽盡虛。邪氣獨盛。正不勝邪。躁擾不寧。頃之離散而死矣。所謂病勝臟者死是也。</p>

<h3>少陰病禁四條</h3>
<p>少陰病。脈細沉數。病為在裡。不可發汗。</p>
<p>少陰與太陽為表裡。而少陰亦自有表裡。經病為在表。臟病為在裡也。浮沉而身發熱。為病在表。脈細沉數。身不發熱。為病在裡。病在表者可發汗。如麻黃附子細辛湯之例是也。病在裡而汗之。是竭其陰而動其血也。故曰不可發汗。</p>
<p>少陰病。脈微。不可發汗。亡陽故也。陽已虛。尺脈弱澀者。復不可下之。</p>
<p>少陰雖為陰臟。而元陽寓焉。故其病有亡陽亡陰之異。脈微者為亡陽。脈弱澀者為亡陰。發汗則傷陽。</p>
<p>故脈微者。不可發汗。下則傷陰。故陽已虛而尺脈弱澀者。非特不可發汗。亦復不可下之也。</p>
<p>少陰病。但厥無汗而強發之。必動其血。未知從何道出。或從口鼻。或從目出。是名下厥上竭。為難治。</p>
<p>少陰中寒。但厥無汗。邪方內淫而氣不外達。非可得汗愈者而強發之。則汗必不出。而血反自動。或口鼻。或目。隨其所攻之道而外出也。蓋發汗之藥。其氣上行。而性多慓悍。不得於氣。則去而之血。必盡其性而後止耳。然既臟虛邪入。以致下厥而復迫血妄動。以致上竭。上下交徵。而血氣之存者無幾矣。尚何以御邪而卻疾耶。故曰難治。</p>
<p>少陰病。咳而下利譫語者。被火氣劫故也。小便必難。以強責少陰汗也。</p>
<p>少陰之邪上逆而咳。下注而利矣。而又復譫語。此非少陰本病。乃被火氣劫奪津液所致。火劫即溫針灼艾之屬。少陰不當發汗。而強以火劫之。不特竭其腎陰。亦並耗其胃液。胃干則譫語。腎燥則小便難也。</p>

<h1>卷八·厥陰篇</h1>

<h2>辨列厥陰條例大意</h2>
<p>厥陰為陰之盡。為臟之極。陰極而盡。則必復反而之陽。故厥陰之生死。在厥熱之進退也。本篇於厥陰脈證之下。先辨厥熱進退。所以明生死之機。次論生死微甚。所以明陰陽之故也。而厥陰有熱。慮其傷陰。必以法清之。厥陰有寒。慮其傷陽。必以法溫之。一如少陰之例也。蓋厥陰少陰。同為陰臟。而俱屬陽火。故於二者群分類聚。欲學者明辨而深思之耳。其次為厥陰汗下諸禁。蓋欲蒙其利。不可不知其害也。其次為厥陰簡誤。以厥陰篇中。雜入太陰少陰太陽之文。傳誤已久。習焉不察。特檢出之。其次為瘥後勞復等法。</p>
<p>則去疾者莫若盡之意也。凡六十二條。為一卷。</p>

<h2>厥陰諸法</h2>

<h3>厥陰病脈證五條</h3>
<p>厥陰之為病。消渴。氣上衝心。心中疼熱。飢而不欲食。食則吐蛔。下之利不止。</p>
<p>傷寒之病。邪愈深者。其熱愈甚。厥陰為陰之盡。而風木之氣。又足以生陽火而鑠陰津。津虛火實。臟燥無液。求救於水。則為消渴。消渴者。水入不足以制熱。而反為熱所消也。氣上衝心。心中疼熱者。火生於木。肝氣通心也。飢而不欲食者。木喜攻土。胃虛求食。而邪熱復不能消穀也。食入即吐蛔者。蛔無食而動。聞食臭而出也。下之利不止者。胃家重傷而邪熱下注也。此厥陰在臟之的證。病從陽經傳入者也。傷寒四五日。腹中痛。若轉氣下趨少腹者。此欲自利也。</p>
<p>傷寒四五日。正邪氣傳裡之時。若腹中痛而滿者。熱聚而實。將成可下之證。茲腹中痛而不滿。但時時轉氣。下趨少腹者。熱不得聚而從下注。將成下利之候也。而下利有陰陽之分。先發熱而後下利者。傳經之熱邪內陷。此為熱利。必有內煩脈數等證。不發熱而下利者。直中之陰邪下注。此為寒利。必有厥冷脈微等證。要在審問明白也。</p>
<p>下利。寸脈反浮數。尺中自澀者。必圊膿血。</p>
<p>此陽邪入里而作下利之證。寸浮數者。陽邪強也。尺中澀者。陰氣弱也。以強陽而加弱陰。必圊膿血。</p>
<p>下利脈沉而遲。其人面少赤。身有微熱。下利清穀者。必鬱冒汗出而解。病人必微厥。所以然者。其面戴陽。下虛故也。</p>
<p>下利清穀。脈沉而遲。陰在裡在下也。面少赤。身有微熱。陽在上在外也。夫陰內陽外而為病者。必得陽入陰出而後解。而面雖赤而未甚。身雖熱而亦微。則其陽之發露者。僅十之三。而潛藏者。尚十之七也。藏而能動。必當與陰相爭。爭而未勝則鬱冒。爭而既勝則汗出。汗出而內伏之陰從外出。外出之陽從內入。而病乃解矣。然此證下虛無氣。中土不守。惟藉君主之靈。以收散亡之氣。而驅沉伏之陰。鬱冒汗出。則心君震怒之候。病人所以必微厥也。設非下虛之故。何至危殆若是。然或真陽畢露。則必不能與邪爭。不爭亦必無幸矣。</p>
<p>病者。手足厥冷。不結胸。少腹滿。按之痛者。此冷結在膀胱關元也。</p>
<p>手足厥冷。原有陰陽虛實之別。若其人結胸。則邪結於上而陽不得通。如後所云、病人手足厥冷。脈乍緊。邪結在胸中。當須吐之。以通其陽者也。若不結胸。但少腹滿。按之痛者。則是陰冷內結。元陽不振。病在膀胱關元之間。必以甘辛溫藥。如四逆白通之屬。以救陽氣而驅陰邪也。</p>

<h3>厥陰進退之機九條</h3>
<p>傷寒一二日至四五日而厥者。必發熱。前熱者後必厥。厥深者熱亦深。厥微者熱亦微。厥應下之。而反發汗者。必口傷爛赤。</p>
<p>傷寒一二日至四五日。正陰陽邪正交爭互勝之時。或陰受病而厥者。勢必轉而為熱。陰勝而陽爭之也。或陽受病而熱者。甚則亦變而為厥。陽勝而陰被格也。夫陽勝而陰格者。其厥非真寒也。陽陷於中。而陰見於外也。是以熱深者厥亦深。熱微者厥亦微。隨熱之淺深。而為厥之微甚也。夫病在陽者宜汗。病在裡者宜下。厥者熱深在裡。法當下之。而反發汗。則必口傷爛赤。蓋以蘊隆之熱。而被升浮之氣。不從下出而從上逆故耳。</p>
<p>傷寒病。厥五日。熱亦五日。設六日。當復厥。不厥者自愈。厥終不過五日。以熱五日。故知自愈。</p>
<p>傷寒厥五日。熱亦五日者。陰勝而陽復之也。至六日。陰當復勝而厥。設不厥。則陰退而邪解矣。故自愈。夫厥與熱。陰陽消長之兆也。茲初病至終。其厥不過五日。而厥已而熱。亦得五日。是其復之之數。當其勝之之數。所謂有陽則復。無太過亦無不及。故知其病自愈也。</p>
<p>傷寒發熱四日。厥反三日。復熱四日。厥少熱多。其病當愈。四日至七日熱不除者。其後必便膿血。</p>
<p>傷寒厥四日。熱反三日。厥復五日。其病為進。寒多熱少。陽氣退。故為進也。</p>
<p>熱已而厥者。邪氣自表而之裡也。乃厥未已。而熱之日。又多於厥之日。則邪復轉而之表矣。故病當愈。其熱則除。乃四日至七日而不除者。其熱必侵及營中而便膿血。所謂熱氣有餘。必發癰膿也。厥已而熱者。陽氣復而陰邪退也。乃熱未已而復厥。而厥又多於熱之日。則其病為進。所以然者。寒多熱少。陽氣不振。則陰邪復勝也。要之熱已而厥者。傳經之證。慮其陽邪遞深也。厥已而熱者。直中之證。慮其陽氣不振也。故傳經之厥熱。以邪氣之出入言。直中之厥熱。以陰陽之勝復言。病證則同。而其故有不同如此。學者能辨乎此。則庶幾矣。</p>
<p>傷寒先厥後發熱而利者。必自止。見厥複利。</p>
<p>傷寒先厥者。陰先受邪也。後熱者。邪從陰而出陽也。陰受邪而利。及邪出而之陽。故利必自止。設復厥。</p>
<p>則邪還入而之陰。故必複利。蓋邪氣在陽則生熱。在陰則為厥與利。自然之道也。</p>
<p>傷寒始發熱六日。厥反九日而利。凡厥利者。當不能食。今反能食者。恐為除中。食以索餅。不發熱者。知胃氣尚在。必愈。恐暴熱來出而復去也。後三日脈之。其熱續在者。期至旦日夜半愈。所以然者。本發熱六日。厥反九日。復發熱三日。並前六日。亦為九日。與厥相應。故期至旦日夜半愈。後三日脈之。而脈數。其熱不罷者。此為熱氣有餘。必發癰膿也。</p>
<p>傷寒始發熱六日。厥反九日而又下利者。邪氣從陽之陰。而盛於陰也。陰盛則當不能食。而反能食者。恐為除中。中者。胃中之陽氣也。除者。去而盡之也。言胃氣為邪氣所迫。盡情發露。不留余蘊也。不發熱。不字當作若。謂試以索餅食之。若果胃氣無餘。必不能蒸郁成熱。今反熱者。知胃氣尚在。非除中之謂矣。而又恐暴熱暫來而復去。仍是胃陽發露之凶徵也。後三日脈之。而其熱仍在。則其能食者。乃為胃陽復振無疑。故期至旦日夜半。其病當愈。所以然者。本發熱六日。厥反九日。熱少厥多。其病當進。茲復發熱三日。並前六日。亦為九日。適與厥日相應。故知其旦日夜半。其病當愈。旦日猶明日也。然厥與熱者。陰陽勝負之機。不可偏也。偏於厥則陰勝而礙陽矣。偏於熱則陽勝而礙陰矣。後三日脈之。而脈反加數。熱復不止。則陽氣偏勝。必致傷及營血。而發為癰膿也。</p>
<p>傷寒先厥後發熱。下利必自止。而反汗出。咽中痛者。其喉為痹。發熱無汗。而利必自止。若不止。必便膿血。便膿血者。其喉不痹。</p>
<p>傷寒之邪見於陽者。不必見於陰。見於下者。不必見於上。厥已而熱。下利自止者。陰邪轉而之陽也。設得汗出。其邪必解而咽中痛者。未盡之熱。厥而上行也。故其喉為痹。發熱無汗者。邪氣鬱而在陽也。雖下利。法當自止。而反不止者。以無汗出。熱仍從里行也。故必便膿血。便膿血者。其喉不痹。邪在下者。則不復在上也。</p>
<p>傷寒熱少厥微。指頭寒。默默不欲食。煩躁數日。小便利色白者。此熱除也。欲得食。其病為愈。若厥而嘔。胸脅煩滿者。其後必便血。</p>
<p>熱少厥微。指頭寒。邪氣自微也。默默不欲食。煩躁。邪欲傳裡也。里受邪而熱。則其小便必不利。雖利其色必不白。至數日。小便利色白。知其熱已除也。本默默不欲食。忽欲得食。知其胃已和也。熱除胃和。其病則愈。而厥陰之脈。挾胃上膈布脅肋。若其邪不解。淫溢厥陰之位。則為厥而嘔。為胸脅煩滿也。凡病上行極者。必下行主血。而病為熱。血為熱迫。注泄於下。則其後必便血也。</p>
<p>凡厥者。陰陽氣不相順接。便為厥。厥者。手足逆冷是也。</p>
<p>按經脈足之三陰三陽。相接於足十趾。手之三陰三陽。相接於手十指。故陰之與陽。常相順接者也。若陽邪內入。陰不能與之相接。而反出於外。則厥。陰邪外盛。陽不能與之相接。而反伏於中。亦厥。是二者。雖有陰陽之分。其為手足逆冷一也。</p>

<h3>厥陰生死微甚之辨十五條</h3>
<p>厥陰中風。脈微浮為欲愈。不浮為未愈。</p>
<p>此厥陰經自受風邪之證。脈微為邪氣少。浮為病在經。經病而邪少。故為欲愈。或始先脈不微浮。繼乃轉而為浮者。為自陰之陽之候。亦為欲愈。所謂陰病得陽脈者生是也。然必兼有發熱微汗等候。仲景不言者。以脈該證也。若不浮則邪著陰中。漫無出路。其愈正未可期。故曰不浮為未愈。</p>
<p>傷寒下利。日十餘行。脈反實者。死。</p>
<p>傷寒下利。至日十餘行。邪既未盡。而正已大憊矣。其脈當微或弱。而反實者。是邪氣有餘。所謂病勝臟也。故死。</p>
<p>下利脈沉弦者。下重也。脈大者為未止。脈微弱數者。為欲自止。雖發熱。不死。</p>
<p>沉為里為下。弦為陰。下利脈沉弦者。陰邪在裡。而盛於下。故下重也。脈大者。邪氣盛。經曰、大則病進。故為未止。脈微弱。為邪氣微。數為陽氣復。陰寒下利。陽復而邪微。則為欲愈之候。雖復發熱。亦是陽氣內充所致。不得比於下利發熱者死之例也。</p>
<p>下利有微熱而渴。脈弱者令自愈。下利脈數。有微熱。汗出。令自愈。設復緊。為未解。</p>
<p>此二條亦為陰邪下注者設。微熱而渴。與脈數有微熱汗出。並陽氣內充之象。而脈弱又陰氣衰退之徵。故令自愈。夫脈弱者。脈緊去而轉弱也。設復緊。則陰邪仍盛。其病豈能遽已耶。</p>
<p>下利脈數而渴者。令自愈。設不瘥。必圊膿血。以有熱故也。</p>
<p>此亦陰邪下利而陽氣已復之證。脈數而渴。與下利有微熱而渴同意。然脈不弱而數。則陽之復者已過。陰寒雖解熱氣旋增。將更傷陰而圊膿血也。</p>
<p>發熱而厥七日。下利者。為難治。</p>
<p>發熱而厥者。身發熱而手足厥。病屬陽而里適虛也。至七日。正漸復而邪欲退。則當厥先已而熱後除。乃厥熱如故。而反加下利。是正不復而里益虛矣。夫病非陰寒。則不可以辛甘溫其里。而內虛不足。復不可以苦寒堅其下。此其所以為難治也。</p>
<p>傷寒發熱。下利厥逆。躁不得臥者。死。</p>
<p>傷寒發熱。下利厥逆者。邪氣從外之內。而盛於內也。至躁不得臥。則陽氣有立亡之象。故死。此傳經之邪。陰氣先竭。而陽氣後絕者也。</p>
<p>傷寒發熱。下利至甚。厥不止者。死。</p>
<p>發熱。下利厥逆。證與上同。而下利至甚。則陰欲亡。厥逆不止。則陽亦傷。雖不躁猶死也。此亦傳經之邪。陰先竭而陽後絕者也。</p>
<p>傷寒六七日。不利。便發熱而利。其人汗出不止者。死。有陰無陽故也。</p>
<p>寒傷於陰。至六七日發熱者。陽復而陰解。雖下利猶當自止。所謂傷寒先厥後發熱而利者。必自止也。乃傷寒六七日。本不下利。而忽熱與利俱見。此非陽復而熱也。陰內盛而陽外亡也。若其人汗出不止。則不特不能內守。亦並無為外護矣。是謂有陰無陽。其死必矣。</p>
<p>下利。手足厥冷。無脈者。灸之不溫。若脈不還。反微喘者。死。</p>
<p>陰寒下利。而至厥冷無脈。陽氣將竭而死矣。灸之所以通既絕之陽。乃厥不回。脈不還而反微喘。殘陽上奔。大氣下脫。故死。</p>
<p>下利後。脈絕。手足厥冷。晬時脈還。手足溫者。生。脈不還者。死。</p>
<p>晬時、周時也。下利後脈絕。手足厥冷者。陰先竭而陽後絕也。是當俟其晬時。經氣一周。其脈當還。其手足當溫。若脈不還。其手足亦必不溫而死矣。</p>
<p>傷寒六七日。脈微。手足厥冷。煩躁。灸厥陰。厥不還者死。</p>
<p>傷寒六七日。陽氣當復。陰邪當解之時。乃脈不浮而微。手足不煩而厥冷。是陰氣反進。而陽氣反退也。煩躁者。陽與陰爭。而陽不能勝之也。灸厥陰。所以散陰邪而復陽氣。陽復則厥自還。設不還。則陽有絕而死耳。是故傳經之邪至厥陰者。陰氣不絕則不死。直中之邪入厥陰者。陽氣不復則不生也。</p>
<p>傷寒脈遲。六七日。而反與黃芩湯徹其熱。脈遲為寒。今與黃芩湯。復除其熱。腹中應冷。當不能食。今反能食。此名除中。必死。</p>
<p>脈數為熱。脈遲為寒。診家之大要也。熱者清之。寒者溫之。醫家之大法也。乃傷寒脈遲。至六七日而不變。其為寒無疑矣。而反與黃芩湯。復除其熱。是以寒益寒也。於是陽氣消亡。陰寒獨勝。法當腹中冷而不能食。今反能食者。非胃氣盛也。胃中之陽。發露無餘。譬之貧兒誇富。罄諸所有而暴之於外。雖炫耀目前。然其儘可立而待也。故直斷之曰。此名除中。必死。</p>
<p>厥陰病欲解時。從寅至卯上。</p>
<p>厥陰屬風木之臟。寅卯為木王之時。臟氣勝而邪氣解。亦如三陽及太少二陰之例也。</p>

<h3>厥陰清法五條</h3>
<p>厥陰病。渴欲飲水者。少少與之愈。</p>
<p>厥陰之病。本自消渴。雖得水未必即愈。此云渴欲飲水。少少與之愈者。必厥陰熱邪還返陽明之候也。熱還陽明。津液暴竭。求救於水。少少與之。胃氣則和。其病乃愈。若系厥陰。則熱足以消水。而水豈能消其熱哉。</p>
<p>下利慾飲水者。以有熱故也。白頭翁湯主之。</p>
<p>傷寒自利不渴者。為臟有寒。太陰自受寒邪也。下利慾飲水者。以里有熱。傳經之邪。厥陰受之也。白頭翁湯除熱堅下。中有秦皮。色青味苦。氣涼性澀。能入厥陰。清熱去濕而止利也。</p>
<p><u>白頭翁湯方</u></p>
<p>白頭翁（二兩）　黃連　黃柏　秦皮（各三兩）</p>
<p>上四味。以水七升。煮取二升。去滓。溫服一升。不愈。更服一升。</p>
<p>熱利下重者。白頭翁湯主之。</p>
<p>傷寒熱邪入里。因而作利者。謂熱利。下重即後重。熱邪下注。雖利而不得出也。白頭翁苦辛除邪氣。黃連、黃柏、秦皮。苦以堅之。寒以清之。澀以收之也。</p>
<p>下利後更煩。按之心下濡者。為虛煩也。宜梔子豉湯。</p>
<p>下利後更煩者。熱邪不從下減而復上動也。按之心下濡。則中無阻滯可知。故曰虛煩。香豉、梔子。能徹熱而除煩。得吐則熱從上出而愈。因其高而越之之意也。</p>
<p>傷寒六七日。大下後。寸脈沉而遲。手足厥逆。下部脈不至。咽喉不利。吐膿血。泄利不止者。為難治。麻黃升麻湯主之。</p>
<p>傷寒六七日。寒已變熱而未實也。乃大下之。陰氣遂虛。陽氣乃陷。陽氣陷。故寸脈沉而遲。陰氣虛。故下部脈不至。陰陽並傷。不相順接。則手足厥逆。而陽邪之內入者。方上淫而下溢。為咽喉不利。為吐膿血。為泄利不止。是陰陽上下並受其病。而虛實冷熱。亦復混淆不清矣。是以欲治其陰。必傷其陽。欲補其虛。必礙其實。故曰此為難治。麻黃升麻湯合補瀉寒熱為劑。使相助而不相悖。庶幾各行其事。而並呈其效。方用麻黃、升麻。所以引陽氣發陽邪也。而得當歸、知母、葳蕤、天冬之潤。則肺氣已滋。而不蒙其發越之害矣。桂枝、乾薑。所以通脈止厥也。而得黃芩、石膏之寒。則中氣已和。而不被其燥熱之烈矣。其芍藥、甘草、茯苓、白朮則不特止其泄利。抑以安中益氣。以為通上下和陰陽之用耳。</p>
<p><u>麻黃升麻湯方</u></p>
<p>麻黃（二兩半去節）　當歸　升麻（各一兩一分）　知母　黃芩　葳蕤（各十八銖）　石膏（綿裹碎）　白朮　乾薑　白芍　天冬（去心）　桂枝　茯苓　甘草（炙各六銖）</p>
<p>上十四味。以水一斗。先煮麻黃一二沸。去上沫。納諸藥。煮取三升。去滓。分溫三服。相去如炊三斗米飯頃。令盡汗出愈。</p>

<h3>厥陰溫法十條</h3>
<p>傷寒脈微而厥。至七八日。膚冷。其人躁無暫安時者。此為臟厥。非蛔厥也。蛔厥者。其人當吐蛔。今病者靜而復時煩。此為臟寒。蛔上入膈。故煩。須臾復止。得食而嘔。又煩者。蛔聞食臭出。其人當自吐蛔。蛔厥者。烏梅丸主之。又主久痢。</p>
<p>傷寒脈微而厥。寒邪中於陰也。至七八日。身不熱而膚冷。則其寒邪未變可知。乃其人躁無暫安時者。此為臟厥發躁。陽氣欲絕。非為蛔厥也。蛔厥者。蛔動而厥。其人亦躁。但蛔靜則躁亦自止。蛔動則時復自煩。非若臟寒之躁無有暫安時也。然蛔之所以時動而時靜者。何也。蛔性喜溫。臟寒則蛔不安而上膈。蛔喜得食。臟虛則蛔復上而求食。甚則嘔吐。涎液從口中出。按古云、蛔得甘則動。得苦則安。又曰、蛔聞酸則靜。得辛熱則止。故以烏梅之酸。連柏之苦。薑、辛、歸、附、椒、桂之辛。以安蛔溫臟而止其厥逆。加人參者。以蛔動中虛。故以之安中而止吐。且以御冷熱諸藥之悍耳。</p>
<p><u>烏梅丸方</u></p>
<p>烏梅（三百個）　黃連（一斤）　乾薑（十兩）　細辛　附子（炮）　桂枝　人參　黃柏（各六兩）　當歸　蜀椒（各四兩）</p>
<p>上十味。異搗篩。合治之。以苦酒漬烏梅一宿。去核。蒸之五升米下。飯熟搗成泥。和藥令相得。內臼中。與蜜杵二千下。丸如桐子大。先食飲服十丸。日三服。稍加至二十丸。禁生冷滑物臭食等。乾嘔吐涎沫。頭痛者。吳茱萸湯主之。</p>
<p>乾嘔吐涎沫者。厥陰寒邪上攻陽明也。頭痛者。厥陰之脈上出額。與督脈會於巔。寒氣隨經上入於頭。故痛也。然頭者諸陽之會。以陰邪而得干之。其陽不振甚矣。故以吳茱萸辛熱。入厥陰散寒邪為君。生薑辛溫。和胃止嘔吐為臣。人參、大棗甘溫。助正氣養陽氣為佐也。</p>
<p>手足厥寒。脈細欲絕者。當歸四逆湯主之。若其人內有久寒者。宜當歸四逆加吳茱萸生薑湯主之。手足厥寒。脈微欲絕者。陽之虛也。宜四逆輩。脈細欲絕者。血虛不能溫於四末。並不能榮於脈中也。夫脈為血之府。而陽為陰之先。故欲續其脈。必益其血。欲益其血。必溫其經。方用當歸、芍藥之潤以滋之。甘草、大棗之甘以養之。桂枝、細辛之溫以行之。而尤藉通草之入經通脈。以續其絕而止其厥。若其人內有久寒者。必加吳茱萸、生薑之辛以散之。而尤藉清酒之濡經浹脈。以散其久伏之寒也。</p>
<p><u>當歸四逆湯方</u></p>
<p>當歸（三兩）　桂枝（三兩）　芍藥（三兩）　細辛（三兩）　通草（二兩）　甘草（二兩炙）　大棗（二十五枚擘一法十二枚）</p>
<p>上七味。以水八升。煮取三升。去滓。溫服一升。日三服。</p>
<p><u>當歸四逆加吳茱萸生薑湯方</u></p>
<p>當歸（三兩）　桂枝（三兩）　芍藥（三兩）　細辛（三兩）　通草（二兩）　甘草（二兩炙）　大棗（二十五枚）　吳茱萸（二升）　生薑（半斤切）</p>
<p>上九味。以水六升。清酒六升。和煮取五升。去滓。溫分五服。一方水酒各四升。</p>
<p>大汗出。熱不去。內拘急。四肢疼。又下利厥逆而惡寒者。四逆湯主之。</p>
<p>此過汗傷陽。病本熱而變為寒之證。大汗出。熱不去者。邪氣不從汗解。而陽氣反從汗亡也。陽氣外亡。則寒冷內生。內冷則脈拘急而不舒也。四肢者。諸陽之本。陽虛不足。不能實氣於四肢。則為之疼痛也。甚至下利厥逆而惡寒。則不特無以內守。亦並不為外護矣。故必以四逆湯救陽驅陰為主。余謂傳經之熱。久亦成陰者。此類是也。</p>
<p>大汗。若大下利而厥逆者。四逆湯主之。</p>
<p>此亦陽病誤治而變陰寒之證。成氏所謂大汗若大下利。表裡雖殊。其亡津液損陽氣一也。陽虛陰勝。則生厥逆。雖無裡急下利等證。亦必以救陽驅陰為急。易曰、履霜堅冰至。陰盛之戒。不可不凜也。</p>
<p>傷寒脈促。手足厥逆者。可灸之。</p>
<p>脈陽盛則促。陰盛則結。手足厥逆而脈促者。非陽之虛。乃陽之鬱而不通也。灸之所以引陽外出。若厥而脈微者。則必更以四逆湯溫之。豈特灸之哉。</p>
<p>嘔而脈弱。小便複利。身有微熱。見厥者。難治。四逆湯主之。</p>
<p>脈弱便利而厥。為內虛且寒之候。則嘔非火邪。乃是陰氣之上逆。熱非寒邪。乃是陽氣之外越矣。故以四逆湯救陽驅陰為主。然陰方上衝而陽且外越。其離決之勢。有未可即為順接者。故曰難治。或曰嘔與身熱為邪實。厥利脈弱為正虛。虛實互見。故曰難治。四逆湯。舍其標而治其本也。亦通。</p>
<p>下利清穀。裡寒外熱。汗出而厥者。通脈四逆湯主之。</p>
<p>挾熱下利者。傷在太陰之陰。中寒清穀者。傷在少陰之陽。裡寒外熱。汗出而厥。為陰內盛而陽外越之象。故於四逆加乾薑一倍。以溫里而勝寒邪。曰通脈者。蓋欲使陽氣內行。而厥與利俱止耳。</p>
<p>傷寒厥而心下悸者。宜先治水。當服茯苓甘草湯。卻治其厥。不爾。水漬入胃。必作利也。</p>
<p>傷寒寒勝則厥。心下有水則悸。厥而心下悸者。寒中於陰而水聚於心下也。是宜以茯苓甘草湯先治其水。水去然後治厥。如傷寒二三日。心中悸而煩者。先服建中湯之意也。建中者。建立中氣。恐其中虛而邪易入。邪入則煩不止矣。茯苓甘草湯甘淡利水益中氣。恐其水漬入胃而作利。利作則厥不回矣。仲景治病。每以正氣為慮如此。</p>
<p>傷寒本自寒下。醫復吐下之。寒格更逆吐下。若食入口即吐。乾薑黃連黃芩人參湯主之。</p>
<p>傷寒本自寒下。蓋即太陰腹滿自利之證。醫不知而復吐下之。裡氣遂虛。陰寒益甚。胃中之陽。被格而上逆。脾中之陰。被抑而下注。得不倍增吐下乎。至食入口即吐。則逆之甚矣。若以寒治逆。則寒下轉增。或僅投溫劑。則必格拒而不入。故以連、芩之苦。以通寒格。參、姜之溫。以復正氣而逐陰邪也。</p>
<p><u>乾薑黃連黃芩人參湯方</u></p>
<p>乾薑（三兩）　黃連（三兩）　黃芩（三兩）　人參（三兩）</p>
<p>上四味。以水六升。煮取二升。去滓。分溫再服。</p>

<h3>厥陰病禁二條</h3>
<p>傷寒五六日。不結胸。腹濡。脈虛。復厥者。不可下。此為亡血。下之死。</p>
<p>傷寒五六日。邪氣傳裡。在上則為結胸。在下則為腹滿而實。若不結胸。腹濡而脈復虛。則表裡上下都無結聚。其邪為已解矣。解則其人不當復厥。而反厥者。非陽熱深入也。乃血不足而不榮於四末也。是宜補而不可下。下之是虛其虛也。玉函云、虛者重瀉。其氣乃絕。故死。</p>
<p>諸四逆厥者。不可下之。虛家亦然。</p>
<p>按成氏曰、四逆、四肢不溫也。厥者。手足冷也。然本篇云、厥者手足逆冷是也。又云、傷寒脈促。手足厥逆者。可灸之。其他凡言厥逆之處不一。則四逆與厥。本無分別。特其病有陰陽之異耳。此條蓋言陰寒厥逆。法當溫散溫養之。故云不可下之。前條云厥應下之者。則言邪熱內陷之厥逆也。學者辨之。虛家、體虛不足之人也。雖非四逆與厥。亦不可下之。經云、毋實實。毋虛虛。而遺人夭殃。此之謂也。</p>

<h3>簡誤九條</h3>
<p>嘔家有癰膿者。不可治嘔。膿儘自愈。</p>
<p>癰膿者。傷寒熱聚於胃口而不行。則生腫癰。而膿從嘔出。癰不已則嘔不止。是因癰膿而嘔。故不可概以止嘔之藥治之。膿盡癰已。則嘔自止。此胃癰雜病。當隸陽明。不當入厥陰也。以下九條。均非厥陰本病。叔和不察。誤編厥陰篇中。茲特檢出。另列簡誤。其他厥陰進退。及下利嘔逆等證。亦有不必定屬厥陰者。叔和以為不便清晰。故總隸厥陰。而實為三陰並有之證。茲仍其舊。學者當以意會之。</p>
<p>傷寒大吐大下之。極虛。復極汗出者。以其人外氣怫鬱。復與之水。以發其汗。因得噦。所以然者。胃中寒冷故也。</p>
<p>傷寒大吐大下之。既損其上。復傷其下。為極虛矣。縱有外氣怫鬱不解。亦必先固其里。而後疏其表。乃復飲水以發其汗。遂極汗出。胃氣重虛。水冷復加。冷虛相搏。則必作噦。噦、呃逆也。此陽病誤治而變為寒冷者。非厥陰本病也。</p>
<p>病人手足厥冷。脈乍緊者。邪結在胸中。心下滿而煩。飢不能食者。病在胸中。當吐之。宜瓜蒂散。</p>
<p>脈緊為實。乍緊者。胸中之邪能結而不能實也。夫胸中陽也。陽實氣於四肢。邪結胸中。其陽不布。則手足無氣而厥冷也。而胃居心下。心處胸間。為煩滿。為飢而不能食。皆邪結胸中。逼處不安之故。經云、其高者。引而越之。胸邪最高。故當吐之。瓜蒂苦而能湧。能吐胸中結伏之邪也。此證不必定屬陰經。即陽病亦有之也。</p>
<p>傷寒噦而腹滿。視其前後。知何部不利。利之愈。</p>
<p>噦而腹滿者。病在下而氣溢於上也。與病人慾吐不可下之者不同。彼為上行極而欲下。此為下行極而復上也。經曰、在下者。引而竭之。故當視其前後二陰。知何部不利而利之。則病從下出而氣不上逆。腹滿與噦俱去矣。此熱入太陰而上攻陽明之證。與厥陰無涉也。</p>
<p>嘔而發熱者。小柴胡湯主之。</p>
<p>此邪在少陽之經。非厥陰本病。故以小柴胡湯和解少陽之邪。邪解則嘔熱俱止。或厥陰病而外連少陽者亦有之。然亦必以小柴胡先解少陽為急。所謂病自內之外。而盛於外者。先解其外。而後治其內。下利譫語者。有燥屎也。宜小承氣湯。</p>
<p>譫語者。胃實之徵。下利得此。為有燥屎。所謂利者不利是也。與小承氣湯下其燥屎。屎去臟通。下利自止。經云、通因通用。此之謂也。金匱治下利。按之心下堅者。與大承氣湯。與此同意。所當互考。此太陰轉入陽明之證。與厥陰無涉也。</p>
<p>下利清穀。不可攻表。汗出必脹滿。</p>
<p>清、與圊同。即完穀也。乃陽不運而谷不腐也。是當溫養中土。不可攻表出汗。汗出則陽益虛。陽虛則氣不化。故必脹滿。此寒中太陰之證。非厥陰病也。</p>
<p>少陰負趺陽者。為順也。</p>
<p>少陰、腎脈也。趺陽、胃脈也。下利為土負水勝之病。少陰負趺陽者。水負而土勝也。故曰順。此條當為太陰下利而設。亦與厥陰無涉也。</p>
<p>傷寒脈滑而厥者。里有熱也。白虎湯主之。</p>
<p>傷寒脈微而厥。陰邪所中。寒在裡。脈滑而厥。陽邪所傷。熱在裡。陽熱在裡。陰氣被格。陽反在內。陰反在外。設身熱不除。則其厥不已。故主白虎湯。以清裡而除熱也。此陽明熱極發厥之證。誤編入厥陰者也。</p>

<h3>瘥後諸病七條</h3>
<p>傷寒陰陽易之為病。其人身體重。少氣。少腹裡急。或引陰中拘攣。熱上衝胸。頭重不欲舉。眼中生花。膝脛拘急者。燒裩散主之。</p>
<p>陰陽易者。男子大病新瘥。尚有餘熱。婦人與之交而得病。名曰陽易。或婦人大病新瘥。餘熱未盡。男子與之交而得病者。名曰陰易。以陰陽相感。精氣交通。熱氣從之而傳易也。其人身體重少氣者。勞傷真氣。而熱勝之也。少腹裡急。或引陰中拘攣。及膝脛拘急者。精虛熱入。而脈道不通也。熱上衝胸。頭重不欲舉。眼中生花。則熱氣重蒸。而且上淆清陽矣。</p>
<p>大病瘥後勞復者。枳實梔子豉湯主之。若有宿食者。加大黃如博棋子大五六枚。</p>
<p>大病新瘥。血氣未復。餘熱未盡。而強力作勞。因復發熱者。名曰勞復。為其餘熱之氣。因勞而外浮也。枳實、梔子。所以下熱。豆豉所以散熱。蓋亦表裡之劑。而氣味輕薄。適宜於病後復發之體耳。若有宿食者。名曰食復。內經所謂食肉則復。多食則遺也。故於枳實梔子豉湯中少加大黃。以逐其宿食。</p>
<p><u>枳實梔子豉湯方</u></p>
<p>枳實（三枚炙）　梔子（十四枚擘）　豉（一升綿裹）</p>
<p>上以清漿水七升。空煮取四升。納枳梔。煮取二升。下豉。更煮五六沸。去滓。溫分再服。覆令微似汗。傷寒瘥已後更發熱者。小柴胡湯主之。脈浮者。以汗解之。脈沉實者。以下解之。</p>
<p>傷寒瘥已後更發熱者。不因作勞。亦未過食。而未盡之熱自從內而達於外也。故與小柴胡湯。因其勢而解之。且人參、甘棗。可以益病後之虛。黃芩、半夏。可以和未平之裡也。脈浮者。邪氣連表。汗之使之外解。脈沉實者。邪氣居里。下之使從里解。亦因其勢而利導之耳。</p>
<p>大病瘥後。從腰以下有水氣者。牡蠣澤瀉散主之。</p>
<p>大病新瘥。而腰以下腫滿者。此必病中飲水過多。熱邪雖解。水氣不行。浸漬於下。而肌肉腫滿也。是當以急逐水邪為法。牡蠣澤瀉散咸降之力居多。飲服方寸匕。不用湯藥者。急藥緩用。且不使助水氣也。若驟用補脾之法。恐脾氣轉滯而水氣轉盛。寧不氾濫為患耶。</p>
<p><u>牡蠣澤瀉散方</u></p>
<p>牡蠣（熬）　澤瀉　栝蔞根　葶藶（熬）　商陸根　蜀漆（洗去腥）　海藻（洗去咸各等分）</p>
<p>上七味。異搗下篩為散。更入臼中治之。白飲和服方寸匕。小便利。止後服。</p>
<p>大病瘥後。喜唾。久不了了者。胃上有寒。當以丸藥溫之。宜理中丸。</p>
<p>大病瘥後。胃陰虛者。津液不生。則口乾欲飲。胃陽弱者。津液不攝。則口不渴而喜唾。至久之而尚不了了。則必以補益其虛。以溫益其陽矣。曰胃上有寒者。非必有客氣也。虛則自生寒耳。理中丸補虛溫中之良劑。不用湯者。不欲以水氣資吐也。</p>
<p>傷寒解後。虛羸少氣。氣逆欲吐者。竹葉石膏湯主之。</p>
<p>大邪雖解。元氣未復。餘邪未盡。氣不足則因而生痰。熱不除則因而上逆。是以虛羸少食。而氣逆欲吐也。竹葉石膏湯乃白虎湯之變法。以其少氣。故加參、麥之甘以益氣。以其氣逆有飲。故用半夏之辛以下氣蠲飲。且去知母之鹹寒。加竹葉之甘涼。尤於胃虛有熱者為有當耳。</p>
<p><u>竹葉石膏湯方</u></p>
<p>竹葉（二把）　石膏（一斤）　人參（三兩）　粳米（半升）　半夏（半升洗）　甘草（二兩炙）　麥冬（一升去心）</p>
<p>上七味。以水一斗。煮取六升。去滓。納粳米。煮米熟湯成。去米。溫服一升。日三服。</p>
<p>病人脈已解。而日暮微煩。以病新瘥。人強與谷。脾胃氣尚弱。不能消穀。故令微煩。損谷則愈。</p>
<p>脈已解者。病邪解而脈已和也。微煩、微熱也。解則不當復煩。而日暮微煩者。以病新瘥。不當與谷而強與之。胃虛谷實。不能勝之。則發煩熱也。損谷則愈者。謂不可以藥治之。但損其穀食。則胃自和耳。</p>
