<header data-type="book">
<h1>保嬰粹要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛己</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1529">公元1529年</data></dd></div>
<div><dt>底本</dt><dd>日本承應3年（1654）刊本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=72e8a0dc6d2f497cac6d43d7b038c531fDcyNDc30&SourceID=">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·薛氏醫案·保嬰粹要》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0070/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
